Repository raycast/extensions, changes with the owners that .github/CODEOWNERS names for each.
All owners: @khasbilegt, @siddharthsharma94, @valentindotxyz, @falcon, @petr, @guga4ka, @danielsinclair, @hmarr, @grzegorzkrukowski, @blessanm86, @ubuntudroid, @pomdtr, @nhojb, @es183923, @yukai, @mskelton, @fuksman, @eluce2, @gregoralbrecht, @qeude, @isma, @mooxl, @farisaziz12, @sonicspark, @lardissone, @fedevitaledev, @krzysztofzuraw, @matt, @astrit, @rso, @megapixel23, @priithaamer, @thomas, @fezvrasta, @astroon, @michaelschultz, @vimtor, @moored, @kinbaum, @mrmartineau, @tonka3000, @ricoberger, @codely, @bromanko, @ratoru, @ospfranco, @kang, @francois, @ragnor, @ryan, @gdsmith, @destiner, @rolandleth, @mattisssa, @tmk, @geekdada, @dev99problems, @antonniklasson, @kartikkumarsahoo, @reckoning-dev, @henrichabrand, @fturcheti, @fe9lix, @honzatmn, @zerowidth, @peduarte, @coffee-cup, @loris, @garrett, @grikomsn, @jns, @tholanda, @ahonn, @johndturn, @aesign, @bprog, @tiancheng92, @pernielsentikaer, @yedongze, @appest, @maggie, @thomaslombart, @tdwesten, @inxilpro, @cjdenio, @mmazzarolo, @jmaeso, @markuslanger, @sventiigi

add gitlab status
  extensions/gitlab/package-lock.json
  extensions/gitlab/package.json
  extensions/gitlab/src/cache.ts
  extensions/gitlab/src/components/status/actions.tsx
  extensions/gitlab/src/components/status/form.tsx
  extensions/gitlab/src/components/status/list.tsx
  extensions/gitlab/src/components/status/presets.ts
  extensions/gitlab/src/components/status/utils.ts
  extensions/gitlab/src/gitlabapi.ts
  extensions/gitlab/src/status.tsx
  extensions/gitlab/src/utils.ts
  extensions/gitlab/tsconfig.json
Owners: @tonka3000

Add devtools extension
  extensions/devtools/.eslintrc.json
  extensions/devtools/.prettierrc
  extensions/devtools/README.md
  extensions/devtools/assets/extension-icon.png
  extensions/devtools/package-lock.json
  extensions/devtools/package.json
  extensions/devtools/src/json-format.tsx
  extensions/devtools/src/util/clipboard.ts
  extensions/devtools/tsconfig.json
Owners: none

Use node v16.13.1
  extensions/devtools/.nvmrc
  extensions/devtools/package-lock.json
Owners: none

Better handling of tabs without URLs (Fix #505)
  extensions/safari/src/cloud-tabs.tsx
  extensions/safari/src/reading-list.tsx
  extensions/safari/src/shared.ts
Owners: @loris

Better handling of errors reading icloud tabs (Fix https://github.com/raycast/extensions/pull/309#issuecomment-983080153)
  extensions/safari/src/cloud-tabs.tsx
Owners: @loris

Add support for Safari Technology Preview (Fix #470)
  extensions/safari/package.json
  extensions/safari/src/cloud-tabs.tsx
Owners: @loris

Reading List: add "Group by status" setting
  extensions/safari/package.json
  extensions/safari/src/reading-list.tsx
Owners: @loris

feat: 3rd party extension for Surge
  extensions/surge/.eslintrc.json
  extensions/surge/.prettierrc
  extensions/surge/README.md
  extensions/surge/assets/AppIcon.png
  extensions/surge/assets/Screenshot.png
  extensions/surge/assets/Surge_Raycast.png
  extensions/surge/assets/Transparent.png
  extensions/surge/package-lock.json
  extensions/surge/package.json
  extensions/surge/src/CapabilitiesActions.jsx
  extensions/surge/src/EnhancedMode.jsx
  extensions/surge/src/FlushDNS.jsx
  extensions/surge/src/OutboundModeActions.jsx
  extensions/surge/src/ProxyPolicies.jsx
  extensions/surge/src/ReloadProfile.jsx
  extensions/surge/src/SetAsSystemProxy.jsx
  extensions/surge/src/SwitchProfile.jsx
  extensions/surge/src/api.js
  extensions/surge/src/index.jsx
Owners: none

Update extension 'VS Code Recent Projects' to allow remote server entries (#509)
  extensions/visual-studio-code-recent-projects/src/index.tsx
  extensions/visual-studio-code-recent-projects/src/types.ts
Owners: @thomas

feat: Rename favorite action, assign shortcuts
  extensions/coinmarketcap-crypto-crawler/src/index.tsx
Owners: @sonicspark

create preset now set the correct presets
  extensions/gitlab/src/components/status/actions.tsx
Owners: @tonka3000

Update extensions/pipedrive/package.json
  extensions/pipedrive/package.json
Owners: none

Fix naming
  extensions/pipedrive/package.json
Owners: none

Update Quick Search extension
  extensions/raycast-quick-search/src/deepl-trans.ts
  extensions/raycast-quick-search/src/github-repo.ts
  extensions/raycast-quick-search/src/github-search.ts
  extensions/raycast-quick-search/src/google-search.ts
  extensions/raycast-quick-search/src/utils/readtxt.ts
Owners: none

Update github repo opener
  extensions/raycast-quick-search/src/utils/opener.ts
Owners: none

use gemoji icons instead of node-emoji
  extensions/gitlab/package-lock.json
  extensions/gitlab/package.json
  extensions/gitlab/scripts/createemojis.js
  extensions/gitlab/src/components/status/emojis.json
  extensions/gitlab/src/components/status/form.tsx
  extensions/gitlab/src/components/status/presets.ts
  extensions/gitlab/src/components/status/utils.ts
Owners: @tonka3000

add with duration action
  extensions/gitlab/src/components/status/actions.tsx
  extensions/gitlab/src/components/status/list.tsx
Owners: @tonka3000

fix stale while revalidate
  extensions/bitbucket/src/components/repository/searchRepositories.tsx
  extensions/bitbucket/src/helpers/cache.ts
  extensions/bitbucket/src/queries/index.ts
Owners: none

Elgato: Add extension to toggle key lights (#427)
  extensions/elgato-key-light/.eslintrc.json
  extensions/elgato-key-light/.prettierrc
  extensions/elgato-key-light/assets/icon.png
  extensions/elgato-key-light/package-lock.json
  extensions/elgato-key-light/package.json
  extensions/elgato-key-light/src/decreaseBrightness.ts
  extensions/elgato-key-light/src/decreaseTemperature.ts
  extensions/elgato-key-light/src/elgato.ts
  extensions/elgato-key-light/src/increaseBrightness.ts
  extensions/elgato-key-light/src/increaseTemperature.ts
  extensions/elgato-key-light/src/toggle.ts
  extensions/elgato-key-light/src/utils.ts
  extensions/elgato-key-light/tsconfig.json
Owners: none

.github/CODEOWNERS:

# This file is generated. Do not modify directly.

/extensions/1password7                               @khasbilegt
/extensions/airport                                  @siddharthsharma94
/extensions/algolia                                  @valentindotxyz
/extensions/amazon-aws                               @falcon
/extensions/api-icon-list                            @petr
/extensions/authy                                    @guga4ka
/extensions/base64                                   @danielsinclair
/extensions/bear                                     @hmarr
/extensions/binance                                  @grzegorzkrukowski
/extensions/bitly-url-shortener                      @blessanm86
/extensions/bitrise                                  @ubuntudroid
/extensions/bitwarden                                @pomdtr
/extensions/brew                                     @nhojb
/extensions/brew-services                            @es183923
/extensions/bugmenot                                 @yukai
/extensions/buildkite                                @mskelton
/extensions/calendar                                 @fuksman
/extensions/calendly                                 @eluce2
/extensions/change-case                              @es183923
/extensions/change-scroll-direction                  @gregoralbrecht
/extensions/circle-ci                                @qeude
/extensions/clockify                                 @isma
/extensions/coffee                                   @mooxl
/extensions/coinbase-pro                             @farisaziz12
/extensions/coinmarketcap-crypto-crawler             @sonicspark
/extensions/commitlint                               @lardissone
/extensions/consoledev                               @fedevitaledev
/extensions/conventional-comments                    @krzysztofzuraw
/extensions/copy-gcp-icons                           @pomdtr
/extensions/cratecast                                @matt
/extensions/css-gg                                   @astrit
/extensions/dash                                     @rso
/extensions/days-until-christmas                     @megapixel23
/extensions/deepcast                                 @mooxl
/extensions/devdocs                                  @pomdtr
/extensions/displayplacer                            @eluce2
/extensions/docker                                   @priithaamer
/extensions/domainr                                  @fedevitaledev
/extensions/doppler-share-secrets                    @thomas
/extensions/emoji                                    @fezvrasta
/extensions/ens-name-lookup                          @yukai
/extensions/envato                                   @astroon
/extensions/everhour                                 @farisaziz12
/extensions/figma-files                              @michaelschultz
/extensions/file-manager                             @es183923
/extensions/flow                                     @vimtor
/extensions/git-repos                                @moored
/extensions/github-for-enterprise                    @kinbaum
/extensions/github-repository-search                 @thomas
/extensions/github-stars                             @mrmartineau
/extensions/gitlab                                   @tonka3000
/extensions/gitmoji                                  @ricoberger
/extensions/google-chrome                            @codely @bromanko
/extensions/google-maps-search                       @ratoru
/extensions/google-translate                         @ospfranco
/extensions/google-trends                            @kang
/extensions/grafana                                  @francois
/extensions/hacker-news                              @thomas
/extensions/hazeover                                 @ratoru
/extensions/homeassistant                            @tonka3000
/extensions/huggingcast                              @ragnor
/extensions/imdb                                     @ryan
/extensions/jetbrains                                @gdsmith
/extensions/json-format                              @destiner
/extensions/kill-process                             @rolandleth
/extensions/kinopoisk                                @mattisssa
/extensions/lark                                     @tmk
/extensions/linguee                                  @geekdada
/extensions/lobsters                                 @dev99problems
/extensions/lorem-ipsum                              @antonniklasson
/extensions/microsoft-edge                           @kartikkumarsahoo @bromanko
/extensions/mldocs                                   @reckoning-dev
/extensions/music                                    @fedevitaledev
/extensions/notion                                   @henrichabrand
/extensions/open-with-app                            @fturcheti
/extensions/opsgenie                                 @ricoberger
/extensions/party-parrot                             @thomas
/extensions/pinboard                                 @fe9lix
/extensions/productboard                             @honzatmn
/extensions/producthunt                              @ragnor
/extensions/quick-open-project                       @zerowidth
/extensions/radix                                    @peduarte
/extensions/railway                                  @coffee-cup
/extensions/raindrop                                 @lardissone
/extensions/random-data-generator                    @loris
/extensions/ray-so                                   @garrett
/extensions/rebrandly                                @grikomsn
/extensions/ricescore                                @tonka3000
/extensions/rss-reader                               @fuksman
/extensions/sabnzbd                                  @jns
/extensions/safari                                   @loris
/extensions/script-commands                          @tholanda
/extensions/script-kit                               @pomdtr
/extensions/search-mdn                               @krzysztofzuraw
/extensions/search-notion                            @reckoning-dev
/extensions/search-npm                               @mrmartineau
/extensions/send-to-flomo                            @ahonn
/extensions/single-disk-eject                        @johndturn
/extensions/sketch                                   @aesign
/extensions/slack-status                             @petr
/extensions/snake                                    @tonka3000
/extensions/speedtest                                @tonka3000
/extensions/spotify-controls                         @thomas
/extensions/spotify-player                           @mattisssa
/extensions/stackoverflow                            @reckoning-dev
/extensions/swift-evolution                          @bprog
/extensions/switchhosts                              @tiancheng92
/extensions/tableplus                                @pernielsentikaer
/extensions/tailwindcss                              @vimtor
/extensions/terminalfinder                           @yedongze
/extensions/things                                   @loris
/extensions/ticktick                                 @appest
/extensions/tldr                                     @pomdtr
/extensions/todo-list                                @maggie
/extensions/todoist                                  @thomaslombart
/extensions/toolbox                                  @kang
/extensions/tower                                    @tdwesten
/extensions/transmission                             @fezvrasta
/extensions/tuple                                    @inxilpro
/extensions/twitter                                  @tonka3000
/extensions/two-factor-authentication-code-generator @cjdenio
/extensions/unicode-symbols                          @mmazzarolo
/extensions/uuid-generator                           @jmaeso
/extensions/vault                                    @ricoberger
/extensions/vercast                                  @matt
/extensions/visual-studio-code-project-manager       @markuslanger
/extensions/visual-studio-code-recent-projects       @thomas
/extensions/weather                                  @tonka3000
/extensions/whatsapp                                 @vimtor
/extensions/xcode                                    @sventiigi
/extensions/xkcd                                     @maggie
/extensions/youdao-translate                         @tiancheng92
/extensions/youtube                                  @tonka3000
/extensions/zotero                                   @reckoning-dev
