Repository raycast/extensions, pull requests merged in 2021-12, with the labels that each got.

#456 Home Assistant: Fix crash on search when friendly_name is undefined
  extensions/homeassistant/src/components/states.tsx
Labels: accepted

#453 New extension for displaying how many days until Christmas left added 🎁
  extensions/days-until-christmas/.eslintrc.json
  extensions/days-until-christmas/.prettierrc
  extensions/days-until-christmas/.prettierrc.yml
  extensions/days-until-christmas/assets/icon.png
  extensions/days-until-christmas/package-lock.json
  extensions/days-until-christmas/package.json
  extensions/days-until-christmas/src/index.tsx
  extensions/days-until-christmas/src/lib/index.ts
  extensions/days-until-christmas/src/lib/useInterval.ts
  extensions/days-until-christmas/tsconfig.json
Labels: new extension

#431 ENS name lookup extension
  extensions/ens-name-lookup/.eslintrc.json
  extensions/ens-name-lookup/.prettierrc
  extensions/ens-name-lookup/assets/command-icon.png
  extensions/ens-name-lookup/assets/list-icon.png
  extensions/ens-name-lookup/package-lock.json
  extensions/ens-name-lookup/package.json
  extensions/ens-name-lookup/src/index.tsx
  extensions/ens-name-lookup/tsconfig.json
  package-lock.json
Labels: new extension

#430 Authy integration
  extensions/authy/.eslintrc.json
  extensions/authy/.prettierrc
  extensions/authy/README.md
  extensions/authy/assets/approve.png
  extensions/authy/assets/command-icon.png
  extensions/authy/package-lock.json
  extensions/authy/package.json
  extensions/authy/readme/setup01.png
  extensions/authy/readme/setup02.png
  extensions/authy/readme/setup03.png
  extensions/authy/src/cache.ts
  extensions/authy/src/client/authy-client.ts
  extensions/authy/src/client/dto.ts
  extensions/authy/src/component/LoginForm.tsx
  extensions/authy/src/component/OtpList.tsx
  extensions/authy/src/search-otp.tsx
  extensions/authy/src/util/totp.ts
  extensions/authy/src/util/utils.ts
  extensions/authy/tsconfig.json
Labels: new extension, accepted

#405 Add ToolBox extension
  extensions/toolbox/.eslintrc.json
  extensions/toolbox/.prettierrc
  extensions/toolbox/assets/icon.png
  extensions/toolbox/package-lock.json
  extensions/toolbox/package.json
  extensions/toolbox/src/index.tsx
  extensions/toolbox/src/script/date/index.ts
  extensions/toolbox/src/script/date/timestamp.ts
  extensions/toolbox/src/script/date/utc.ts
  extensions/toolbox/src/script/html/index.ts
  extensions/toolbox/src/script/html/url.ts
  extensions/toolbox/src/script/index.ts
  extensions/toolbox/src/script/number/index.ts
  extensions/toolbox/src/script/number/numberRandom.ts
  extensions/toolbox/src/script/string/base64.ts
  extensions/toolbox/src/script/string/camelCase.ts
  extensions/toolbox/src/script/string/countWords.ts
  extensions/toolbox/src/script/string/index.ts
  extensions/toolbox/src/script/string/trim.ts
  extensions/toolbox/src/script/type.ts
  extensions/toolbox/src/script/util.ts
  extensions/toolbox/tsconfig.json
Labels: new extension, accepted

#418 Improve Things Extension
  extensions/things/package-lock.json
  extensions/things/package.json
  extensions/things/src/add-new-todo.tsx
  extensions/things/src/shared.ts
  extensions/things/src/show-anytime-list.jsx
  extensions/things/src/show-inbox-list.jsx
  extensions/things/src/show-list.tsx
  extensions/things/src/show-someday-list.jsx
  extensions/things/src/show-today-list.jsx
  extensions/things/src/show-upcoming-list.jsx
Labels: extension fix / improvement, accepted

#466 Notion fix parent child hook
  extensions/notion/notion.ts
  extensions/notion/search-page.tsx
  extensions/notion/src/search-page.tsx
Labels: extension fix / improvement, accepted

#325 Machine Learning Libraries Documentation Search Extension
  extensions/mldocs/README.md
  extensions/mldocs/assets/command-icon.png
  extensions/mldocs/assets/matplotlib.png
  extensions/mldocs/assets/mpl_toolkits.png
  extensions/mldocs/assets/numpy.png
  extensions/mldocs/assets/pandas.png
  extensions/mldocs/assets/plotly.png
  extensions/mldocs/assets/seaborn.png
  extensions/mldocs/assets/sklearn.png
  extensions/mldocs/assets/statsmodels.png
  extensions/mldocs/assets/tf.png
  extensions/mldocs/assets/tfa.png
  extensions/mldocs/assets/tfds.png
  extensions/mldocs/assets/tfio.png
  extensions/mldocs/assets/torch.png
  extensions/mldocs/images/actions.png
  extensions/mldocs/images/commands.png
  extensions/mldocs/package-lock.json
  extensions/mldocs/package.json
  extensions/mldocs/src/common/View.tsx
  extensions/mldocs/src/common/mldocsApi.ts
  extensions/mldocs/src/common/store.ts
  extensions/mldocs/src/common/utils.ts
  extensions/mldocs/src/matplotlib.tsx
  extensions/mldocs/src/numpy.tsx
  extensions/mldocs/src/pandas.tsx
  extensions/mldocs/src/seaborn.tsx
  extensions/mldocs/src/sklearn.tsx
  extensions/mldocs/src/statsmodels.tsx
  extensions/mldocs/src/tf.tsx
  extensions/mldocs/src/torch.tsx
  extensions/mldocs/tsconfig.json
Labels: new extension, accepted

#477 Home Assistant: Add Color Temperature support and better state support for multiple entities
  extensions/homeassistant/assets/power-plug-off.png
  extensions/homeassistant/assets/power-plug.png
  extensions/homeassistant/assets/raspberry-pi.png
  extensions/homeassistant/assets/ray-vertex.png
  extensions/homeassistant/assets/run.png
  extensions/homeassistant/assets/walk.png
  extensions/homeassistant/package.json
  extensions/homeassistant/src/color.ts
  extensions/homeassistant/src/components/automation.tsx
  extensions/homeassistant/src/components/light.tsx
  extensions/homeassistant/src/components/states.tsx
  extensions/homeassistant/src/motions.tsx
  extensions/homeassistant/src/utils.ts
Labels: extension fix / improvement

#467 [#407] [2fa extension]: Add generation options, tokens sortiong
  extensions/two-factor-authentication-code-generator/package.json
  extensions/two-factor-authentication-code-generator/src/index.tsx
  extensions/two-factor-authentication-code-generator/src/util/totp.ts
Labels: extension fix / improvement

#440 Add HazeOver extension
  extensions/hazeover/.eslintrc.json
  extensions/hazeover/.prettierrc
  extensions/hazeover/assets/hazeover-icon.png
  extensions/hazeover/package-lock.json
  extensions/hazeover/package.json
  extensions/hazeover/src/changeDimming.tsx
  extensions/hazeover/src/toggleDimming.ts
  extensions/hazeover/src/toggleMultiFocus.ts
  extensions/hazeover/src/toggleMultiScreen.ts
  extensions/hazeover/src/utils.ts
  extensions/hazeover/tsconfig.json
Labels: new extension

#475 feat(extension): Add pro plan to Deepcast
  extensions/deepcast/package.json
  extensions/deepcast/src/index.tsx
  extensions/deepcast/src/languages.ts
Labels: extension fix / improvement

#487 [#485] [Authy extention]: fix Authy OTPs are too short
  extensions/authy/README.md
  extensions/authy/package.json
  extensions/authy/src/client/authy-client.ts
  extensions/authy/src/component/OtpList.tsx
  extensions/authy/src/util/totp.ts
  extensions/authy/src/util/utils.ts
Labels: extension fix / improvement

#455 Add Bitly URL Shortener Extension
  extensions/bitly-url-shortener/README.md
  extensions/bitly-url-shortener/assets/command-icon.png
  extensions/bitly-url-shortener/package-lock.json
  extensions/bitly-url-shortener/package.json
  extensions/bitly-url-shortener/src/index.tsx
  extensions/bitly-url-shortener/tsconfig.json
Labels: new extension

#402 Add WhatsApp extension
  extensions/whatsapp/.eslintrc.json
  extensions/whatsapp/.prettierrc
  extensions/whatsapp/README.md
  extensions/whatsapp/assets/whatsapp-outline.png
  extensions/whatsapp/assets/whatsapp.png
  extensions/whatsapp/package-lock.json
  extensions/whatsapp/package.json
  extensions/whatsapp/src/add-chat.tsx
  extensions/whatsapp/src/add-existing-group.tsx
  extensions/whatsapp/src/open-chat.tsx
  extensions/whatsapp/src/utils/local-storage.ts
  extensions/whatsapp/src/utils/types.ts
  extensions/whatsapp/src/utils/use-whatsapp-chats.ts
  extensions/whatsapp/tsconfig.json
Labels: new extension

#478 Add property edit
  extensions/notion/assets/icon/checkbox_false.png
  extensions/notion/assets/icon/checkbox_true.png
  extensions/notion/assets/icon/date.png
  extensions/notion/assets/icon/edit_page_property.png
  extensions/notion/assets/icon/email.png
  extensions/notion/assets/icon/file.png
  extensions/notion/assets/icon/formula.png
  extensions/notion/assets/icon/hidden.png
  extensions/notion/assets/icon/multi_select.png
  extensions/notion/assets/icon/number.png
  extensions/notion/assets/icon/people.png
  extensions/notion/assets/icon/phone_number.png
  extensions/notion/assets/icon/relation.png
  extensions/notion/assets/icon/rich_text.png
  extensions/notion/assets/icon/rollup.png
  extensions/notion/assets/icon/select.png
  extensions/notion/assets/icon/shown.png
  extensions/notion/assets/icon/title.png
  extensions/notion/assets/icon/url.png
  extensions/notion/src/create-database-page.tsx
  extensions/notion/src/notion.ts
  extensions/notion/src/search-page.tsx
Labels: extension fix / improvement, accepted

#486 Introduce new [Spotify] command – Search Tracks
  extensions/spotify-player/.eslintrc.json
  extensions/spotify-player/.prettierrc
  extensions/spotify-player/README.md
  extensions/spotify-player/assets/icon.png
  extensions/spotify-player/assets/play-dark.png
  extensions/spotify-player/assets/play-light.png
  extensions/spotify-player/package-lock.json
  extensions/spotify-player/package.json
  extensions/spotify-player/src/client/actions.tsx
  extensions/spotify-player/src/client/client.ts
  extensions/spotify-player/src/client/interfaces.ts
  extensions/spotify-player/src/client/spoti.ts
  extensions/spotify-player/src/client/spotify-applescript.ts
  extensions/spotify-player/src/searchTracks.tsx
  extensions/spotify-player/tsconfig.json
Labels: new extension, accepted

#457 Add Flow app timer extension
  extensions/flow/.eslintrc.json
  extensions/flow/.prettierrc
  extensions/flow/assets/flow.png
  extensions/flow/package-lock.json
  extensions/flow/package.json
  extensions/flow/src/hide-timer.ts
  extensions/flow/src/quit-flow.ts
  extensions/flow/src/reset-timer.ts
  extensions/flow/src/show-timer.ts
  extensions/flow/src/skip-session.ts
  extensions/flow/src/start-timer.ts
  extensions/flow/src/stop-timer.ts
  extensions/flow/src/utils.ts
  extensions/flow/tsconfig.json
Labels: new extension, accepted

#484 Add Google Maps Search extension
  extensions/google-maps-search/.eslintrc.json
  extensions/google-maps-search/.prettierrc
  extensions/google-maps-search/README.md
  extensions/google-maps-search/assets/google-maps-icon.png
  extensions/google-maps-search/package-lock.json
  extensions/google-maps-search/package.json
  extensions/google-maps-search/src/find.tsx
  extensions/google-maps-search/src/travelHome.ts
  extensions/google-maps-search/src/travelTo.tsx
  extensions/google-maps-search/src/utils.ts
  extensions/google-maps-search/tsconfig.json
Labels: new extension

#488 add Terminal Finder extension
  extensions/terminalfinder/.eslintrc.json
  extensions/terminalfinder/.prettierrc
  extensions/terminalfinder/assets/command-icon.png
  extensions/terminalfinder/package-lock.json
  extensions/terminalfinder/package.json
  extensions/terminalfinder/src/fi.tsx
  extensions/terminalfinder/src/ft.tsx
  extensions/terminalfinder/src/if.tsx
  extensions/terminalfinder/src/tf.tsx
  extensions/terminalfinder/tsconfig.json
Labels: new extension, accepted

#476 Added Circle CI extension
  extensions/circle-ci/.eslintrc.json
  extensions/circle-ci/.prettierrc
  extensions/circle-ci/README.md
  extensions/circle-ci/assets/circle-logo.png
  extensions/circle-ci/package-lock.json
  extensions/circle-ci/package.json
  extensions/circle-ci/src/index.tsx
  extensions/circle-ci/tsconfig.json
Labels: new extension, accepted

#464 feat: add grafana extension
  extensions/grafana/.eslintrc.json
  extensions/grafana/.gitignore
  extensions/grafana/.prettierrc
  extensions/grafana/README.md
  extensions/grafana/assets/grafana-logo.png
  extensions/grafana/assets/showcase_create_annotation.png
  extensions/grafana/assets/showcase_search_annotations.png
  extensions/grafana/assets/showcase_search_dashboards.png
  extensions/grafana/package-lock.json
  extensions/grafana/package.json
  extensions/grafana/src/components/annotation/annotationActions.tsx
  extensions/grafana/src/components/annotation/createAnnotation.tsx
  extensions/grafana/src/components/annotation/interface/index.ts
  extensions/grafana/src/components/annotation/patchAnnotationForm.tsx
  extensions/grafana/src/components/annotation/queries/index.ts
  extensions/grafana/src/components/annotation/searchAnnotations.tsx
  extensions/grafana/src/components/dashboard/interface/index.ts
  extensions/grafana/src/components/dashboard/searchDashboards.tsx
  extensions/grafana/src/createAnnotation.tsx
  extensions/grafana/src/helpers/preferences.ts
  extensions/grafana/src/searchAnnotations.tsx
  extensions/grafana/src/searchDashboards.tsx
  extensions/grafana/src/utils.ts
  extensions/grafana/tsconfig.json
Labels: new extension, accepted

#496 update brew-services extension
  extensions/brew-services/package-lock.json
  extensions/brew-services/package.json
  extensions/brew-services/src/services.tsx
Labels: extension fix / improvement

#468 Add Algolia extension
  extensions/algolia/.eslintrc.json
  extensions/algolia/.prettierrc
  extensions/algolia/assets/command-icon.png
  extensions/algolia/package-lock.json
  extensions/algolia/package.json
  extensions/algolia/src/index.tsx
  extensions/algolia/tsconfig.json
Labels: new extension, accepted

#492 Add "JSON Format" extension
  extensions/json-format/assets/command-icon.png
  extensions/json-format/package-lock.json
  extensions/json-format/package.json
  extensions/json-format/src/index.tsx
  extensions/json-format/tsconfig.json
Labels: new extension, accepted

#427 Elgato: Add extension to toggle key lights
  extensions/elgato-key-light/.eslintrc.json
  extensions/elgato-key-light/.prettierrc
  extensions/elgato-key-light/assets/icon.png
  extensions/elgato-key-light/package-lock.json
  extensions/elgato-key-light/package.json
  extensions/elgato-key-light/src/decreaseBrightness.ts
  extensions/elgato-key-light/src/decreaseTemperature.ts
  extensions/elgato-key-light/src/elgato.ts
  extensions/elgato-key-light/src/increaseBrightness.ts
  extensions/elgato-key-light/src/increaseTemperature.ts
  extensions/elgato-key-light/src/toggle.ts
  extensions/elgato-key-light/src/utils.ts
  extensions/elgato-key-light/tsconfig.json
Labels: new extension, accepted

#514 Update Safari Extension
  extensions/safari/package.json
  extensions/safari/src/cloud-tabs.tsx
  extensions/safari/src/reading-list.tsx
  extensions/safari/src/shared.ts
Labels: extension fix / improvement

#507 Add "Pipedrive Deal Search" extension
  extensions/pipedrive/.eslintrc.json
  extensions/pipedrive/.prettierrc
  extensions/pipedrive/README.md
  extensions/pipedrive/assets/command-icon.png
  extensions/pipedrive/assets/list-icon.png
  extensions/pipedrive/package-lock.json
  extensions/pipedrive/package.json
  extensions/pipedrive/src/index.tsx
  extensions/pipedrive/tsconfig.json
Labels: new extension, accepted

#512 Add "Obsidian" extension
  extensions/obsidian/LICENSE
  extensions/obsidian/README.md
  extensions/obsidian/assets/command-icon.png
  extensions/obsidian/package-lock.json
  extensions/obsidian/package.json
  extensions/obsidian/src/index.tsx
  extensions/obsidian/tsconfig.json
Labels: new extension, accepted

#515 Add "Harvest" extension
  extensions/harvest/.eslintrc.json
  extensions/harvest/.prettierrc
  extensions/harvest/assets/add.png
  extensions/harvest/assets/harvest-logo-icon.png
  extensions/harvest/assets/stop.png
  extensions/harvest/assets/timer.png
  extensions/harvest/package-lock.json
  extensions/harvest/package.json
  extensions/harvest/readme.md
  extensions/harvest/src/clearCache.tsx
  extensions/harvest/src/delete.tsx
  extensions/harvest/src/listTimeEntries.tsx
  extensions/harvest/src/new.tsx
  extensions/harvest/src/services/harvest.ts
  extensions/harvest/src/services/requestTypes.d.ts
  extensions/harvest/src/services/responseTypes.d.ts
  extensions/harvest/src/stopTimer.tsx
  extensions/harvest/tsconfig.json
Labels: new extension, accepted

#527 feat: Todoist minor improvements
  extensions/todoist/README.md
  extensions/todoist/package-lock.json
  extensions/todoist/package.json
  extensions/todoist/src/api.ts
  extensions/todoist/src/components/Project.tsx
  extensions/todoist/src/types.ts
Labels: extension fix / improvement

#519 feat: 3rd party Surge extension
  extensions/surge/.eslintrc.json
  extensions/surge/.prettierrc
  extensions/surge/README.md
  extensions/surge/assets/AppIcon.png
  extensions/surge/assets/Screenshot.png
  extensions/surge/assets/Surge_Raycast.png
  extensions/surge/assets/Transparent.png
  extensions/surge/assets/bug-fix/bugfix-2021121301.png
  extensions/surge/assets/bug-fix/bugfix-2021121302.png
  extensions/surge/package-lock.json
  extensions/surge/package.json
  extensions/surge/src/CapabilitiesActions.jsx
  extensions/surge/src/EnhancedMode.jsx
  extensions/surge/src/FlushDNS.jsx
  extensions/surge/src/OutboundModeActions.jsx
  extensions/surge/src/ProxyPolicies.jsx
  extensions/surge/src/ReloadProfile.jsx
  extensions/surge/src/SetAsSystemProxy.jsx
  extensions/surge/src/SwitchProfile.jsx
  extensions/surge/src/api.js
  extensions/surge/src/index.jsx
Labels: new extension, accepted

#501 Add "Search RubyGems" extension
  extensions/search-rubygems/.eslintrc.json
  extensions/search-rubygems/.prettierrc
  extensions/search-rubygems/README.md
  extensions/search-rubygems/assets/command-icon.png
  extensions/search-rubygems/assets/gem-info.png
  extensions/search-rubygems/assets/gem-options.png
  extensions/search-rubygems/assets/light-dark.png
  extensions/search-rubygems/assets/list-icon.png
  extensions/search-rubygems/package-lock.json
  extensions/search-rubygems/package.json
  extensions/search-rubygems/src/components/GemInfo.tsx
  extensions/search-rubygems/src/components/GemOptions.tsx
  extensions/search-rubygems/src/index.tsx
  extensions/search-rubygems/src/rubygems/types.ts
  extensions/search-rubygems/src/rubygems/useRubyGemsGemDetail.ts
  extensions/search-rubygems/src/rubygems/useRubyGemsSearch.ts
  extensions/search-rubygems/src/utils/index.ts
  extensions/search-rubygems/tsconfig.json
Labels: new extension, accepted

#524 Add MyIP extension
  extensions/myip/.eslintrc.json
  extensions/myip/.prettierrc
  extensions/myip/assets/icon.png
  extensions/myip/package-lock.json
  extensions/myip/package.json
  extensions/myip/src/index.tsx
  extensions/myip/src/lookup.tsx
  extensions/myip/src/torrent.tsx
  extensions/myip/tsconfig.json
Labels: new extension, accepted

#482 Extension Bitbucket
  extensions/bitbucket/.eslintrc.json
  extensions/bitbucket/.gitignore
  extensions/bitbucket/.prettierrc
  extensions/bitbucket/README.md
  extensions/bitbucket/assets/bitbucket-logo.png
  extensions/bitbucket/assets/icon-branch.png
  extensions/bitbucket/assets/icon-calendar.png
  extensions/bitbucket/assets/icon-code.png
  extensions/bitbucket/assets/icon-pipeline-failed.png
  extensions/bitbucket/assets/icon-pipeline-paused.png
  extensions/bitbucket/assets/icon-pipeline-progress.png
  extensions/bitbucket/assets/icon-pipeline-stopped.png
  extensions/bitbucket/assets/icon-pipeline-success.png
  extensions/bitbucket/assets/icon-pipelines.png
  extensions/bitbucket/assets/icon-pr.png
  extensions/bitbucket/assets/icon-user.png
  extensions/bitbucket/assets/showcase.gif
  extensions/bitbucket/package-lock.json
  extensions/bitbucket/package.json
  extensions/bitbucket/src/components/pullRequests/interface/index.ts
  extensions/bitbucket/src/components/pullRequests/searchMyPullRequests.tsx
  extensions/bitbucket/src/components/repository/actions.tsx
  extensions/bitbucket/src/components/repository/interface/index.ts
  extensions/bitbucket/src/components/repository/pipelinesList.tsx
  extensions/bitbucket/src/components/repository/searchRepositories.tsx
  extensions/bitbucket/src/helpers/cache.ts
  extensions/bitbucket/src/helpers/icon.ts
  extensions/bitbucket/src/helpers/preferences.ts
  extensions/bitbucket/src/helpers/types.ts
  extensions/bitbucket/src/queries/index.ts
  extensions/bitbucket/src/searchMyOpenPullRequests.tsx
  extensions/bitbucket/src/searchRepositories.tsx
  extensions/bitbucket/src/utils.ts
  extensions/bitbucket/tsconfig.json
Labels: new extension, accepted

#539 [Feature] Script Commands Store - Install Package
  extensions/script-commands/README.md
  extensions/script-commands/assets/extension-icon.png
  extensions/script-commands/assets/icon-install-package.png
  extensions/script-commands/assets/icon-install-package@dark.png
  extensions/script-commands/assets/readme/header.png
  extensions/script-commands/assets/store-icon.png
  extensions/script-commands/assets/store-icon@dark.png
  extensions/script-commands/images/readme/actions/configure.png
  extensions/script-commands/images/readme/actions/confirm.png
  extensions/script-commands/images/readme/actions/edit-local.png
  extensions/script-commands/images/readme/actions/install.png
  extensions/script-commands/images/readme/actions/uninstall.png
  extensions/script-commands/images/readme/content/main-list.png
  extensions/script-commands/images/readme/header-dark.png
  extensions/script-commands/images/readme/header-light.png
  extensions/script-commands/images/readme/icons/checkmark-green.png
  extensions/script-commands/images/readme/icons/checkmark-orange.png
  extensions/script-commands/images/readme/icons/gear-orange.png
  extensions/script-commands/images/readme/icons/language.png
  extensions/script-commands/images/readme/logo/store-icon@dark.png
  extensions/script-commands/images/readme/logo/store-icon@light.png
  extensions/script-commands/images/readme/panels/authors.png
  extensions/script-commands/images/readme/panels/filter-by-language.png
  extensions/script-commands/images/readme/panels/filter-by-type.png
  extensions/script-commands/images/readme/panels/filter-by.png
  extensions/script-commands/images/readme/panels/install-package.png
  extensions/script-commands/images/readme/panels/view-readme.png
  extensions/script-commands/images/readme/panels/view-source-code.png
  extensions/script-commands/images/readme/search-bar/search-bar.png
  extensions/script-commands/images/readme/setup/first-screen.png
  extensions/script-commands/images/readme/setup/preferences-extensions.png
  extensions/script-commands/images/readme/setup/preferences.png
  extensions/script-commands/images/readme/setup/setup-directory-added.png
  extensions/script-commands/package-lock.json
  extensions/script-commands/package.json
  extensions/script-commands/src/Components/Action/Items/InstallPackageAction.tsx
  extensions/script-commands/src/Components/Action/Panels/ManagementActionPanel.tsx
  extensions/script-commands/src/Components/Common/PackageToast.tsx
  extensions/script-commands/src/Components/Contents/MainContent.tsx
  extensions/script-commands/src/Components/ListItems/ScriptCommandItem.tsx
  extensions/script-commands/src/Components/Sections/GroupSection.tsx
  extensions/script-commands/src/Components/index.ts
  extensions/script-commands/src/Constants/IconConstants.ts
  extensions/script-commands/src/Hooks/useDataManager.tsx
  extensions/script-commands/src/Hooks/useScriptCommand.tsx
  extensions/script-commands/src/Hooks/useScriptCommands.tsx
  extensions/script-commands/src/Managers/DataManager.ts
  extensions/script-commands/src/Managers/ScriptCommandManager.ts
  extensions/script-commands/src/Managers/index.ts
  extensions/script-commands/src/Network/API/GitHub.ts
  extensions/script-commands/src/Providers/ApplicationProvider.tsx
  extensions/script-commands/src/Types/Types.ts
  extensions/script-commands/src/Types/index.ts
Labels: extension fix / improvement

#532 [2fa code generator extention]: Add otpauth links parsing
  extensions/two-factor-authentication-code-generator/package.json
  extensions/two-factor-authentication-code-generator/src/index.tsx
  extensions/two-factor-authentication-code-generator/src/util/totp.ts
Labels: extension fix / improvement, accepted

#549 fix: remove unused import for the example
  docs/api-reference.json
  docs/api-reference/user-interface/alert.md
Labels: documentation

#550 Add Apple Music Command: Add to Library
  extensions/music/package.json
  extensions/music/src/add-to-library.tsx
  extensions/music/src/util/controls.ts
Labels: extension fix / improvement

#553 Lark: redirect mindnotes url
  extensions/lark/package-lock.json
  extensions/lark/package.json
  extensions/lark/src/services/space.ts
Labels: extension fix / improvement

#557 Add command to love and add the currently playing track to your library
  extensions/music/package.json
  extensions/music/src/love-and-add-to-library.tsx
Labels: extension fix / improvement

#555 Add extension: QR Code Scanner
  extensions/qr-code-scanner/.eslintrc.json
  extensions/qr-code-scanner/assets/command-icon.png
  extensions/qr-code-scanner/package-lock.json
  extensions/qr-code-scanner/package.json
  extensions/qr-code-scanner/src/index.d.ts
  extensions/qr-code-scanner/src/index.tsx
  extensions/qr-code-scanner/src/qrcode-reader.d.ts
  extensions/qr-code-scanner/tsconfig.json
Labels: new extension

#543 feat: add Can I Use extension
  extensions/can-i-use/.eslintrc.json
  extensions/can-i-use/.prettierrc
  extensions/can-i-use/README.md
  extensions/can-i-use/assets/demo.png
  extensions/can-i-use/assets/icon.png
  extensions/can-i-use/package-lock.json
  extensions/can-i-use/package.json
  extensions/can-i-use/src/components/FeatureDetail.tsx
  extensions/can-i-use/src/index.tsx
  extensions/can-i-use/src/utils.ts
  extensions/can-i-use/tsconfig.json
Labels: new extension

#560 Brew: Add greedy preference; upgrade and doctor commands.
  extensions/brew/package.json
  extensions/brew/src/brew.ts
  extensions/brew/src/outdated.tsx
  extensions/brew/src/preferences.ts
  extensions/brew/src/search.tsx
  extensions/brew/src/upgrade.tsx
  extensions/brew/src/utils.ts
Labels: extension fix / improvement

#556 Add Coingecko extension
  extensions/coingecko/.prettierrc.json
  extensions/coingecko/assets/icon.png
  extensions/coingecko/package-lock.json
  extensions/coingecko/package.json
  extensions/coingecko/src/index.tsx
  extensions/coingecko/src/service.ts
  extensions/coingecko/src/storage.ts
  extensions/coingecko/src/utils.ts
  extensions/coingecko/tsconfig.json
Labels: new extension

#558 Add extension: Large Type
  extensions/large-type/.eslintrc.json
  extensions/large-type/.prettierrc
  extensions/large-type/assets/command-icon.png
  extensions/large-type/package-lock.json
  extensions/large-type/package.json
  extensions/large-type/src/index.tsx
  extensions/large-type/tsconfig.json
Labels: new extension

#551 Add "Polished" extension
  extensions/polished/assets/icon.png
  extensions/polished/package-lock.json
  extensions/polished/package.json
  extensions/polished/src/color-utilities.tsx
  extensions/polished/src/components/index.tsx
  extensions/polished/src/contrast-ratio.tsx
  extensions/polished/src/convert-hex.tsx
  extensions/polished/src/convert-rgb.tsx
  extensions/polished/src/utils/index.ts
  extensions/polished/tsconfig.json
Labels: new extension

#528 Add remote entries support to vscode recent project extention
  extensions/visual-studio-code-recent-projects/package.json
  extensions/visual-studio-code-recent-projects/src/index.tsx
  extensions/visual-studio-code-recent-projects/src/types.ts
Labels: extension fix / improvement

#542 fix: chinese traditional -> mandarin with wrong flag
  extensions/google-translate/src/supportedLanguagesByCode.json
Labels: extension fix / improvement

#562 feat: add create and delete project
  extensions/todoist/package-lock.json
  extensions/todoist/package.json
  extensions/todoist/src/TodoistProvider.tsx
  extensions/todoist/src/api.ts
  extensions/todoist/src/constants.ts
  extensions/todoist/src/create-project.tsx
  extensions/todoist/src/create-task.tsx
  extensions/todoist/src/projects.tsx
  extensions/todoist/src/types.ts
Labels: extension fix / improvement

#521 Add "Unix Timestamp" extension
  extensions/unix-timestamp/.eslintrc.json
  extensions/unix-timestamp/.prettierrc.json
  extensions/unix-timestamp/assets/command-icon.png
  extensions/unix-timestamp/package-lock.json
  extensions/unix-timestamp/package.json
  extensions/unix-timestamp/src/current-timestamp.tsx
  extensions/unix-timestamp/src/date-to-timestamp.tsx
  extensions/unix-timestamp/src/timestamp-to-date.tsx
  extensions/unix-timestamp/src/utils.ts
  extensions/unix-timestamp/tsconfig.json
Labels: new extension

#511 Improve CoinMarketCap extensions
  extensions/coinmarketcap-crypto-crawler/package.json
  extensions/coinmarketcap-crypto-crawler/src/api/index.ts
  extensions/coinmarketcap-crypto-crawler/src/index.tsx
  extensions/coinmarketcap-crypto-crawler/src/refresh.tsx
  extensions/coinmarketcap-crypto-crawler/src/types.ts
  extensions/coinmarketcap-crypto-crawler/src/utils/index.ts
  extensions/coinmarketcap-crypto-crawler/src/utils/useCoinPriceStore.tsx
  extensions/coinmarketcap-crypto-crawler/src/utils/useFavoriteCoins.tsx
Labels: extension fix / improvement, accepted, status: awaiting response from dev

#357 feat(extension): conventional commit w/ gitmoji
  extensions/conventional-comments/README.md
  extensions/conventional-comments/package-lock.json
  extensions/conventional-comments/package.json
  extensions/conventional-comments/src/comment.tsx
  extensions/conventional-comments/src/commit.tsx
  extensions/conventional-comments/src/data/gitmoji.ts
  extensions/conventional-comments/src/utils/formatDescription.ts
Labels: new extension

#565 Add "Netlify" extension
  extensions/netlify/.prettierrc.json
  extensions/netlify/README.md
  extensions/netlify/assets/icon.png
  extensions/netlify/package-lock.json
  extensions/netlify/package.json
  extensions/netlify/src/service.ts
  extensions/netlify/src/utils.ts
  extensions/netlify/src/view-domains.tsx
  extensions/netlify/src/view-members.tsx
  extensions/netlify/src/view-sites.tsx
  extensions/netlify/tsconfig.json
Labels: new extension

#513 Add "Quick Search" extension
  extensions/quick-search/.eslintrc.json
  extensions/quick-search/README.md
  extensions/quick-search/assets/icon.png
  extensions/quick-search/package-lock.json
  extensions/quick-search/package.json
  extensions/quick-search/src/deepl-trans.ts
  extensions/quick-search/src/github-repo.ts
  extensions/quick-search/src/github-search.ts
  extensions/quick-search/src/google-search.ts
  extensions/quick-search/src/utils/opener.ts
  extensions/quick-search/src/utils/readtxt.ts
  extensions/quick-search/tsconfig.json
Labels: new extension

#209 Add CanvasCast Extension
  extensions/canvascast/.eslintrc.json
  extensions/canvascast/.prettierrc
  extensions/canvascast/README.md
  extensions/canvascast/assets/canvas.png
  extensions/canvascast/package-lock.json
  extensions/canvascast/package.json
  extensions/canvascast/src/api.js
  extensions/canvascast/src/index.tsx
  extensions/canvascast/tsconfig.json
Labels: new extension, accepted

#435 Add Simpread extension
  extensions/simpread/.eslintrc.json
  extensions/simpread/.prettierrc
  extensions/simpread/README.md
  extensions/simpread/assets/favicon@default.png
  extensions/simpread/assets/logo@512.png
  extensions/simpread/package-lock.json
  extensions/simpread/package.json
  extensions/simpread/src/sr.tsx
  extensions/simpread/tsconfig.json
Labels: new extension, accepted

#536 Add "Google Chrome Profiles" extension
  extensions/google-chrome-profiles/.eslintrc.json
  extensions/google-chrome-profiles/.nvmrc
  extensions/google-chrome-profiles/.prettierrc
  extensions/google-chrome-profiles/README.md
  extensions/google-chrome-profiles/assets/command-icon.png
  extensions/google-chrome-profiles/package-lock.json
  extensions/google-chrome-profiles/package.json
  extensions/google-chrome-profiles/src/index.tsx
  extensions/google-chrome-profiles/src/util/preferences.ts
  extensions/google-chrome-profiles/src/util/types.ts
  extensions/google-chrome-profiles/src/util/util.ts
  extensions/google-chrome-profiles/tsconfig.json
Labels: new extension, accepted

#570 Add "Clash" Extension
  extensions/clash/.eslintrc.json
  extensions/clash/.prettierrc
  extensions/clash/assets/backends.png
  extensions/clash/assets/conns.png
  extensions/clash/assets/dashboard.png
  extensions/clash/assets/logs.png
  extensions/clash/assets/overview.png
  extensions/clash/assets/proxies.png
  extensions/clash/assets/rules.png
  extensions/clash/package-lock.json
  extensions/clash/package.json
  extensions/clash/src/components/backends.tsx
  extensions/clash/src/components/client/http.tsx
  extensions/clash/src/components/client/util.tsx
  extensions/clash/src/components/client/ws.tsx
  extensions/clash/src/components/conns.tsx
  extensions/clash/src/components/index.tsx
  extensions/clash/src/components/logs.tsx
  extensions/clash/src/components/overview.tsx
  extensions/clash/src/components/proxies.tsx
  extensions/clash/src/components/rules.tsx
  extensions/clash/src/components/types.tsx
  extensions/clash/src/index.tsx
  extensions/clash/src/utils/error.tsx
  extensions/clash/src/utils/index.tsx
  extensions/clash/tsconfig.json
Labels: new extension, accepted

#577 Added helify extension
  extensions/hexlify/.eslintrc.json
  extensions/hexlify/.prettierrc
  extensions/hexlify/assets/command-icon.png
  extensions/hexlify/package-lock.json
  extensions/hexlify/package.json
  extensions/hexlify/src/hexlify.tsx
  extensions/hexlify/src/unhexlify.tsx
  extensions/hexlify/tsconfig.json
Labels: new extension, accepted

#572 fix: zh-TW wrong country flag
  extensions/google-translate/src/supportedLanguages.json
Labels: extension fix / improvement, accepted
