Repository raycast/extensions, pull requests merged in 2021-11, with the labels that each got.

#232 Huggingcast
  extensions/huggingcast/.eslintrc.json
  extensions/huggingcast/.prettierrc
  extensions/huggingcast/assets/huggingcast.png
  extensions/huggingcast/package-lock.json
  extensions/huggingcast/package.json
  extensions/huggingcast/src/huggingface.ts
  extensions/huggingcast/src/summarize.tsx
  extensions/huggingcast/tsconfig.json
  extensions/producthunt/package.json
  yarn.lock
Labels: new extension

#251 More actions for Bear extension
  extensions/bear/README.md
  extensions/bear/package-lock.json
  extensions/bear/package.json
  extensions/bear/src/add-text.tsx
  extensions/bear/src/bear-db.ts
  extensions/bear/src/grab-url.tsx
  extensions/bear/src/index.tsx
  extensions/bear/src/new-note.tsx
  extensions/bear/src/note-actions.tsx
  extensions/bear/src/note-links.tsx
  extensions/bear/src/preview-note.tsx
Labels: extension fix / improvement

#260 Binance: update package.json to follow guidelines, improved state handling
  extensions/binance/package.json
  extensions/binance/src/index.tsx
Labels: extension fix / improvement

#267 Add Random Data Generator Extension
  extensions/random-data-generator/.prettierrc
  extensions/random-data-generator/assets/random.png
  extensions/random-data-generator/package-lock.json
  extensions/random-data-generator/package.json
  extensions/random-data-generator/src/index.tsx
  extensions/random-data-generator/tsconfig.json
Labels: new extension

#263 Bitwarden Extension: Add Support for Apple Silicon Macs, Add Lock Vault command
  extensions/bitwarden/package-lock.json
  extensions/bitwarden/package.json
  extensions/bitwarden/src/api.ts
  extensions/bitwarden/src/components.tsx
  extensions/bitwarden/src/const.ts
  extensions/bitwarden/src/hooks.ts
  extensions/bitwarden/src/lock-vault.ts
  extensions/bitwarden/src/search.tsx
Labels: extension fix / improvement

#275 refactor(homeassistant): avoid stale value
  extensions/homeassistant/src/hooks.tsx
Labels: extension fix / improvement

#273 refactor(emoji): remove didUnmount
  extensions/emoji/src/emoji.tsx
Labels: extension fix / improvement

#206 Add SABnzbd extension
  extensions/sabnzbd/.eslintrc.json
  extensions/sabnzbd/.prettierrc
  extensions/sabnzbd/assets/bin-dark.png
  extensions/sabnzbd/assets/bin-light.png
  extensions/sabnzbd/assets/cellular-dark.png
  extensions/sabnzbd/assets/cellular-light.png
  extensions/sabnzbd/assets/download-dark.png
  extensions/sabnzbd/assets/download-light.png
  extensions/sabnzbd/assets/hourglass-dark.png
  extensions/sabnzbd/assets/hourglass-light.png
  extensions/sabnzbd/assets/pause-dark.png
  extensions/sabnzbd/assets/pause-light.png
  extensions/sabnzbd/assets/play-dark.png
  extensions/sabnzbd/assets/play-light.png
  extensions/sabnzbd/assets/sabnzbdplus.png
  extensions/sabnzbd/package-lock.json
  extensions/sabnzbd/package.json
  extensions/sabnzbd/src/change-complete-action.tsx
  extensions/sabnzbd/src/pause-queue.tsx
  extensions/sabnzbd/src/restart.tsx
  extensions/sabnzbd/src/resume-queue.tsx
  extensions/sabnzbd/src/show-queue.tsx
  extensions/sabnzbd/src/shutdown.tsx
  extensions/sabnzbd/tsconfig.json
Labels: new extension

#266 Add YouTube Integration
  extensions/youtube/.eslintrc.json
  extensions/youtube/.prettierrc
  extensions/youtube/README.md
  extensions/youtube/assets/youtube.png
  extensions/youtube/package-lock.json
  extensions/youtube/package.json
  extensions/youtube/src/components/actions.tsx
  extensions/youtube/src/components/channel.tsx
  extensions/youtube/src/components/channel_search.tsx
  extensions/youtube/src/components/playlist.tsx
  extensions/youtube/src/components/search.tsx
  extensions/youtube/src/components/video.tsx
  extensions/youtube/src/components/video_search.tsx
  extensions/youtube/src/lib/utils.ts
  extensions/youtube/src/lib/youtubeapi.ts
  extensions/youtube/src/search-channel.tsx
  extensions/youtube/src/search-videos.tsx
  extensions/youtube/tsconfig.json
Labels: new extension, accepted

#293 Decodes html entities from search result
  extensions/dash/package-lock.json
  extensions/dash/package.json
  extensions/dash/src/components/DashResult.tsx
Labels: extension fix / improvement

#258 Visual Studio Code - Project Manager: Add support for open in terminal and Git client
  extensions/visual-studio-code-project-manager/package-lock.json
  extensions/visual-studio-code-project-manager/package.json
  extensions/visual-studio-code-project-manager/src/search-project-manager-projects.tsx
  extensions/visual-studio-code-project-manager/src/types.ts
Labels: extension fix / improvement

#265 Visual Studio Code - Project Manager: Fixes `undefined` property access when checking project tags.
  extensions/visual-studio-code-project-manager/package.json
  extensions/visual-studio-code-project-manager/src/search-project-manager-projects.tsx
Labels: extension fix / improvement, accepted

#259 Brew: Add support for searching and managing casks
  extensions/brew/package-lock.json
  extensions/brew/src/brew.ts
  extensions/brew/src/components/actionPanel.tsx
  extensions/brew/src/components/actionPanels.tsx
  extensions/brew/src/components/actions.tsx
  extensions/brew/src/components/caskInfo.tsx
  extensions/brew/src/components/formulaInfo.tsx
  extensions/brew/src/components/list.tsx
  extensions/brew/src/installed.tsx
  extensions/brew/src/outdated.tsx
  extensions/brew/src/search.tsx
  extensions/brew/src/utils.ts
Labels: extension fix / improvement

#276 Bitwarden: Trims client's ID and Secret.
  extensions/bitwarden/src/api.ts
Labels: extension fix / improvement, accepted

#268 Open JetBrains Projects: Add better feedback when cli tools are missing
  extensions/jetbrains/assets/jb.png
  extensions/jetbrains/package-lock.json
  extensions/jetbrains/package.json
  extensions/jetbrains/src/.history.json.d.ts
  extensions/jetbrains/src/recent.tsx
  extensions/jetbrains/src/util.ts
Labels: extension fix / improvement, accepted

#256 Google chrome add open tab feature
  extensions/google-chrome/package.json
  extensions/google-chrome/src/google-chrome-new-tab.tsx
Labels: extension fix / improvement, accepted

#211 Create Tailwind CSS extension
  extensions/tailwindcss/.eslintrc.json
  extensions/tailwindcss/.prettierrc
  extensions/tailwindcss/assets/tailwind-icon.png
  extensions/tailwindcss/package-lock.json
  extensions/tailwindcss/package.json
  extensions/tailwindcss/src/search-documentation.tsx
  extensions/tailwindcss/tsconfig.json
Labels: new extension

#312 Lark: fix redirect url
  extensions/lark/package-lock.json
  extensions/lark/package.json
  extensions/lark/src/services/space.ts
Labels: extension fix / improvement, accepted

#234 Docker extension maintenance update
  extensions/docker/.prettierrc
  extensions/docker/assets/icon-compose.png
  extensions/docker/assets/icon-container-running.png
  extensions/docker/assets/icon-container.png
  extensions/docker/assets/icon-image.png
  extensions/docker/package.json
  extensions/docker/src/container_detail.tsx
  extensions/docker/src/container_list.tsx
  extensions/docker/src/docker/container.ts
  extensions/docker/src/docker/error.ts
  extensions/docker/src/docker/image.ts
  extensions/docker/src/docker/index.ts
  extensions/docker/src/image_list.tsx
  extensions/docker/src/projects_list.tsx
  extensions/docker/src/ui/toast.ts
  extensions/docker/src/utils/markdown.ts
Labels: extension fix / improvement

#296 refactor: quick-open-project to avoid useEffect
  extensions/quick-open-project/src/index.tsx
Labels: extension fix / improvement, accepted

#298 Adds recently visited files list and readme
  extensions/figma-files/README.md
  extensions/figma-files/assets/command-icon.png
  extensions/figma-files/assets/screenshot.png
  extensions/figma-files/package-lock.json
  extensions/figma-files/package.json
  extensions/figma-files/src/components/DevelopmentActionSection.tsx
  extensions/figma-files/src/components/FileListItem.tsx
  extensions/figma-files/src/hooks/useVisitedFiles.tsx
  extensions/figma-files/src/index.tsx
  extensions/figma-files/src/types.ts
  extensions/figma-files/src/utils.tsx
Labels: extension fix / improvement, accepted

#300 Change Bear's trash and archive shortcuts to avoid colliding with natural text editing shortcuts
  extensions/bear/src/note-actions.tsx
Labels: extension fix / improvement, accepted

#9 Notion Extension
  extensions/notion/README.md
  extensions/notion/assets/notion-logo.png
  extensions/notion/package.json
  extensions/notion/screenshots/raycast-notion-create-database-item-banner.png
  extensions/notion/src/create-database-page.tsx
  extensions/notion/src/notion.ts
  extensions/notion/tsconfig.json
Labels: new extension

#141 Add devdocs extension
  extensions/devdocs/.eslintignore
  extensions/devdocs/.eslintrc.json
  extensions/devdocs/.prettierrc
  extensions/devdocs/assets/devdocs.png
  extensions/devdocs/package-lock.json
  extensions/devdocs/package.json
  extensions/devdocs/src/index.tsx
  extensions/devdocs/src/types.ts
  extensions/devdocs/src/useVisitedDocs.ts
  extensions/devdocs/tsconfig.json
Labels: new extension, accepted

#284 [google-chrome] Pop to root after opening a browser link
  extensions/google-chrome/package.json
  extensions/google-chrome/src/google-chrome-search-history.tsx
Labels: extension fix / improvement, accepted

#290 Add Snake
  extensions/snake/.eslintrc.json
  extensions/snake/.prettierrc
  extensions/snake/README.md
  extensions/snake/assets/pause.png
  extensions/snake/assets/play.png
  extensions/snake/assets/snake.png
  extensions/snake/package-lock.json
  extensions/snake/package.json
  extensions/snake/src/components/snake.tsx
  extensions/snake/src/lib/game.ts
  extensions/snake/src/lib/utils.ts
  extensions/snake/src/snake.tsx
  extensions/snake/tsconfig.json
Labels: new extension, accepted

#301 YouTube: Add preference for primary action
  extensions/youtube/package.json
  extensions/youtube/src/components/channel.tsx
  extensions/youtube/src/components/search.tsx
  extensions/youtube/src/components/video.tsx
  extensions/youtube/src/lib/youtubeapi.ts
Labels: extension fix / improvement, accepted

#303 Search Stackoverflow Extension
  extensions/stackoverflow/README.md
  extensions/stackoverflow/assets/command-icon.png
  extensions/stackoverflow/assets/so.png
  extensions/stackoverflow/images/screenshot.png
  extensions/stackoverflow/package-lock.json
  extensions/stackoverflow/package.json
  extensions/stackoverflow/src/commandSearchStackOverflow.tsx
  extensions/stackoverflow/src/common/SoApi.ts
  extensions/stackoverflow/src/common/View.tsx
  extensions/stackoverflow/src/common/questionDetail.tsx
  extensions/stackoverflow/src/common/store.ts
  extensions/stackoverflow/src/common/typeUtils.ts
  extensions/stackoverflow/src/common/useVisitedUrls.ts
  extensions/stackoverflow/tsconfig.json
Labels: new extension, accepted

#318 [Zotero Extension] FIX: make all icons at 512x512 resolution
  extensions/zotero/assets/command-icon.png
  extensions/zotero/assets/doc.png
  extensions/zotero/assets/paper.png
  extensions/zotero/package.json
  extensions/zotero/src/common/zoteroApi.ts
Labels: extension fix / improvement, accepted

#320 feat: update icon image format to be png.
  extensions/coinmarketcap-crypto-crawler/assets/coinmarketcap-icon.png
  extensions/coinmarketcap-crypto-crawler/src/index.tsx
Labels: extension fix / improvement, accepted

#323 Airport Icon Fix
  extensions/airport/assets/command-icon.png
  extensions/airport/assets/logo2.png
Labels: extension fix / improvement, accepted

#261 GitHub for Enterprise
  extensions/github-for-enterprise/.eslintrc.json
  extensions/github-for-enterprise/.gitignore
  extensions/github-for-enterprise/.prettierrc
  extensions/github-for-enterprise/README.md
  extensions/github-for-enterprise/assets/icon.png
  extensions/github-for-enterprise/assets/icon@dark.png
  extensions/github-for-enterprise/assets/issue-closed.png
  extensions/github-for-enterprise/assets/issue-open.png
  extensions/github-for-enterprise/assets/pull-request-merge.png
  extensions/github-for-enterprise/assets/pull-request.png
  extensions/github-for-enterprise/package-lock.json
  extensions/github-for-enterprise/package.json
  extensions/github-for-enterprise/src/components/AddPRReview.tsx
  extensions/github-for-enterprise/src/components/CloseIssue.tsx
  extensions/github-for-enterprise/src/components/ClosePR.tsx
  extensions/github-for-enterprise/src/components/Issue.tsx
  extensions/github-for-enterprise/src/components/IssueDetail.tsx
  extensions/github-for-enterprise/src/components/MergePR.tsx
  extensions/github-for-enterprise/src/components/PullRequest.tsx
  extensions/github-for-enterprise/src/components/PullRequestDetail.tsx
  extensions/github-for-enterprise/src/components/ReopenIssue.tsx
  extensions/github-for-enterprise/src/components/ReopenPR.tsx
  extensions/github-for-enterprise/src/graphql/queries/issues.ts
  extensions/github-for-enterprise/src/graphql/queries/pull-requests.ts
  extensions/github-for-enterprise/src/graphql/types.ts
  extensions/github-for-enterprise/src/issues-create.tsx
  extensions/github-for-enterprise/src/issues-open.tsx
  extensions/github-for-enterprise/src/issues-search.tsx
  extensions/github-for-enterprise/src/prs-open.tsx
  extensions/github-for-enterprise/src/prs.tsx
  extensions/github-for-enterprise/src/utils/index.ts
  extensions/github-for-enterprise/tsconfig.json
Labels: new extension

#310 SABnzbd: Add history
  extensions/sabnzbd/assets/danger-dark.png
  extensions/sabnzbd/assets/danger-light.png
  extensions/sabnzbd/assets/ok-dark.png
  extensions/sabnzbd/assets/ok-light.png
  extensions/sabnzbd/package.json
  extensions/sabnzbd/src/history.tsx
  extensions/sabnzbd/src/show-queue.tsx
  extensions/sabnzbd/yarn.lock
Labels: extension fix / improvement

#304 Add Releases command to github repository search
  extensions/github-repository-search/assets/icon.png
  extensions/github-repository-search/assets/icon@dark.png
  extensions/github-repository-search/src/index.tsx
  extensions/github-repository-search/src/types.ts
  extensions/github-repository-search/src/useRepositories.ts
  extensions/github-repository-search/src/useRepositoryReleases.ts
Labels: extension fix / improvement, accepted

#306 Added Calendar extension
  extensions/calendar/.eslintrc.json
  extensions/calendar/.prettierrc
  extensions/calendar/assets/command-icon.png
  extensions/calendar/assets/double-left-dark.png
  extensions/calendar/assets/double-left.png
  extensions/calendar/assets/double-right-dark.png
  extensions/calendar/assets/double-right.png
  extensions/calendar/assets/left-dark.png
  extensions/calendar/assets/left.png
  extensions/calendar/assets/right-dark.png
  extensions/calendar/assets/right.png
  extensions/calendar/assets/up-dark.png
  extensions/calendar/assets/up.png
  extensions/calendar/package-lock.json
  extensions/calendar/package.json
  extensions/calendar/src/index.tsx
  extensions/calendar/tsconfig.json
Labels: new extension, accepted

#336 Fix documentation typo
  docs/basics/create-your-first-extension.md
Labels: documentation, accepted

#283 Add Vault Extension
  extensions/vault/.editorconfig
  extensions/vault/.eslintrc.json
  extensions/vault/.prettierrc
  extensions/vault/README.md
  extensions/vault/assets/icon.png
  extensions/vault/package-lock.json
  extensions/vault/package.json
  extensions/vault/src/api/paths.ts
  extensions/vault/src/api/secret.ts
  extensions/vault/src/api/secretEngine.ts
  extensions/vault/src/components/Paths.tsx
  extensions/vault/src/components/SecretEngines.tsx
  extensions/vault/src/components/SecretKeys.tsx
  extensions/vault/src/helpers/preferences.ts
  extensions/vault/src/list.tsx
  extensions/vault/tsconfig.json
Labels: new extension, accepted

#285 Add github-stars extension
  extensions/github-stars/README.md
  extensions/github-stars/assets/codesandbox-bright.png
  extensions/github-stars/assets/codesandbox-dark.png
  extensions/github-stars/assets/github-bright.png
  extensions/github-stars/assets/github-dark.png
  extensions/github-stars/assets/icon.png
  extensions/github-stars/assets/icon@dark.png
  extensions/github-stars/package-lock.json
  extensions/github-stars/package.json
  extensions/github-stars/src/PackagListItem.tsx
  extensions/github-stars/src/Readme.tsx
  extensions/github-stars/src/fetch-readme.d.ts
  extensions/github-stars/src/index.tsx
  extensions/github-stars/src/response.model.ts
  extensions/github-stars/tsconfig.json
Labels: new extension

#270 Add update env variable action
  extensions/vercast/src/actions.tsx
  extensions/vercast/src/index.tsx
  extensions/vercast/src/vercel.ts
Labels: extension fix / improvement

#302 Add speedtest
  extensions/speedtest/.eslintrc.json
  extensions/speedtest/.prettierrc
  extensions/speedtest/README.md
  extensions/speedtest/assets/download.png
  extensions/speedtest/assets/server.png
  extensions/speedtest/assets/speedtest.png
  extensions/speedtest/assets/upload.png
  extensions/speedtest/package-lock.json
  extensions/speedtest/package.json
  extensions/speedtest/src/index.tsx
  extensions/speedtest/src/lib/cli.ts
  extensions/speedtest/src/lib/speedtest.ts
  extensions/speedtest/src/lib/utils.ts
  extensions/speedtest/tsconfig.json
Labels: new extension, accepted

#328 refactor(gitlab): avoid stale value
  extensions/gitlab/src/cache.ts
  extensions/gitlab/src/components/branch.tsx
  extensions/gitlab/src/components/groups.tsx
  extensions/gitlab/src/components/issues.tsx
  extensions/gitlab/src/components/jobs.tsx
  extensions/gitlab/src/components/milestones.tsx
  extensions/gitlab/src/components/mr.tsx
  extensions/gitlab/src/components/mr_create.tsx
  extensions/gitlab/src/components/pipelines.tsx
  extensions/gitlab/src/components/project_search.tsx
  extensions/gitlab/src/components/reviews.tsx
  extensions/gitlab/src/components/todo.tsx
  extensions/gitlab/src/components/users.tsx
  extensions/gitlab/src/icons.ts
  extensions/gitlab/src/issue_create.tsx
Labels: extension fix / improvement, accepted

#297 Visual Studio Code - Project Manager: Add support for Git cached projects
  extensions/visual-studio-code-project-manager/package.json
  extensions/visual-studio-code-project-manager/src/search-project-manager-projects.tsx
  extensions/visual-studio-code-project-manager/src/types.ts
Labels: extension fix / improvement, accepted

#311 Add Copy Google Cloud Platform Icons extension
  extensions/copy-gcp-icons/.eslintrc.json
  extensions/copy-gcp-icons/.prettierrc
  extensions/copy-gcp-icons/assets/icon.png
  extensions/copy-gcp-icons/package-lock.json
  extensions/copy-gcp-icons/package.json
  extensions/copy-gcp-icons/src/copy-gcp-icon.tsx
  extensions/copy-gcp-icons/tsconfig.json
Labels: extension fix / improvement, accepted

#349 Add popToRoot for "Open tab" action for "Chrome: Search Tabs" command
  extensions/google-chrome/src/google-chrome-go-to-tab.tsx
Labels: extension fix / improvement, accepted

#358 SABnzbd: Add slot details views and support more states
  extensions/sabnzbd/assets/bolt-dark.png
  extensions/sabnzbd/assets/bolt-light.png
  extensions/sabnzbd/assets/error-dark.png
  extensions/sabnzbd/assets/error-light.png
  extensions/sabnzbd/assets/file-dark.png
  extensions/sabnzbd/assets/file-light.png
  extensions/sabnzbd/assets/key-dark.png
  extensions/sabnzbd/assets/key-light.png
  extensions/sabnzbd/assets/lightbulb-dark.png
  extensions/sabnzbd/assets/lightbulb-light.png
  extensions/sabnzbd/assets/tool-dark.png
  extensions/sabnzbd/assets/tool-light.png
  extensions/sabnzbd/src/history.tsx
  extensions/sabnzbd/src/show-queue.tsx
Labels: extension fix / improvement, accepted

#359 Lark: redirect sheets/bitable url
  extensions/lark/package-lock.json
  extensions/lark/package.json
  extensions/lark/src/services/space.ts
Labels: extension fix / improvement, accepted

#363 use google chrome app icon
  extensions/google-chrome/assets/google_chrome-icon.png
Labels: extension fix / improvement, accepted

#343 TablePlus Extension update
  extensions/tableplus/package-lock.json
  extensions/tableplus/package.json
  extensions/tableplus/src/database_list.tsx
  extensions/tableplus/src/interfaces.ts
Labels: extension fix / improvement

#345 Feat: Coinbase Pro Extension
  extensions/coinbase-pro/.eslintrc.json
  extensions/coinbase-pro/.gitignore
  extensions/coinbase-pro/.prettierrc
  extensions/coinbase-pro/README.md
  extensions/coinbase-pro/assets/coinbase-logo.png
  extensions/coinbase-pro/package-lock.json
  extensions/coinbase-pro/package.json
  extensions/coinbase-pro/src/api/index.ts
  extensions/coinbase-pro/src/components/AccountListItem.tsx
  extensions/coinbase-pro/src/components/index.ts
  extensions/coinbase-pro/src/enums/index.ts
  extensions/coinbase-pro/src/hooks/index.ts
  extensions/coinbase-pro/src/hooks/useFetch.ts
  extensions/coinbase-pro/src/hooks/usePreviousState.ts
  extensions/coinbase-pro/src/index.tsx
  extensions/coinbase-pro/src/types/index.ts
  extensions/coinbase-pro/src/utils/index.ts
  extensions/coinbase-pro/tsconfig.json
Labels: new extension, accepted

#344 fix: cannot create issue with `READ` only permission
  extensions/github-for-enterprise/package-lock.json
  extensions/github-for-enterprise/package.json
  extensions/github-for-enterprise/src/graphql/queries/issues.ts
  extensions/github-for-enterprise/src/graphql/types.ts
  extensions/github-for-enterprise/src/issues-create.tsx
Labels: extension fix / improvement

#366 Fix Emoji extension PasteAction title typo
  extensions/emoji/src/emoji.tsx
Labels: extension fix / improvement

#321 Ray so
  extensions/ray-so/.eslintrc.json
  extensions/ray-so/.prettierrc
  extensions/ray-so/assets/breeze.png
  extensions/ray-so/assets/candy.png
  extensions/ray-so/assets/icon.png
  extensions/ray-so/assets/midnight.png
  extensions/ray-so/assets/sunset.png
  extensions/ray-so/package-lock.json
  extensions/ray-so/package.json
  extensions/ray-so/src/constants.ts
  extensions/ray-so/src/create-a-snippet.tsx
  extensions/ray-so/tsconfig.json
Labels: new extension, accepted

#354 Add "Unicode Symbols Search" extension
  extensions/unicode-symbols/.eslintrc.json
  extensions/unicode-symbols/.prettierrc
  extensions/unicode-symbols/assets/command-icon.png
  extensions/unicode-symbols/assets/dataset.json
  extensions/unicode-symbols/package-lock.json
  extensions/unicode-symbols/package.json
  extensions/unicode-symbols/scripts/generate-dataset.ts
  extensions/unicode-symbols/src/consants.ts
  extensions/unicode-symbols/src/dataset-manager.ts
  extensions/unicode-symbols/src/index.tsx
  extensions/unicode-symbols/src/raycast-preferences.ts
  extensions/unicode-symbols/src/use-recently-used-items.ts
  extensions/unicode-symbols/tsconfig.json
Labels: new extension

#356 Add Linguee extension
  extensions/linguee/.eslintrc.json
  extensions/linguee/.nvmrc
  extensions/linguee/.prettierrc.js
  extensions/linguee/assets/command-icon-linguee.png
  extensions/linguee/assets/list-icon.png
  extensions/linguee/package-lock.json
  extensions/linguee/package.json
  extensions/linguee/src/components/ResultList.tsx
  extensions/linguee/src/constants.ts
  extensions/linguee/src/english-chinese.tsx
  extensions/linguee/src/english-french.tsx
  extensions/linguee/src/english-german.tsx
  extensions/linguee/src/english-italian.tsx
  extensions/linguee/src/english-spanish.tsx
  extensions/linguee/src/types.ts
  extensions/linguee/src/utils/parseDOMResult.ts
  extensions/linguee/src/utils/parseHTML.ts
  extensions/linguee/tsconfig.json
Labels: new extension

#339 Amazon AWS: Add a command to list SQS Queues
  extensions/amazon-aws/README.md
  extensions/amazon-aws/assets/sqs-list-icon.png
  extensions/amazon-aws/package.json
  extensions/amazon-aws/src/index.tsx
  extensions/amazon-aws/src/queues.tsx
Labels: extension fix / improvement, accepted

#351 Add IMDb Extension
  extensions/imdb/.gitignore
  extensions/imdb/README.md
  extensions/imdb/assets/icon.png
  extensions/imdb/package-lock.json
  extensions/imdb/package.json
  extensions/imdb/src/api/index.ts
  extensions/imdb/src/components/ListItem.tsx
  extensions/imdb/src/index.tsx
  extensions/imdb/src/types/index.ts
  extensions/imdb/tsconfig.json
Labels: new extension, accepted

#341 Add preferences to Emoji, and print nicer names
  extensions/emoji/package.json
  extensions/emoji/src/emoji.tsx
Labels: extension fix / improvement

#374 fix(emoji): only render list when all data is available
  extensions/emoji/src/emoji.tsx
Labels: extension fix / improvement

#378 docs: update feedback grammar, add link
  README.md
Labels: documentation, accepted

#127 File manager
  extensions/file-manager/assets/command-icon.png
  extensions/file-manager/package-lock.json
  extensions/file-manager/package.json
  extensions/file-manager/src/manage-files.tsx
  extensions/file-manager/src/utils.tsx
  extensions/file-manager/tsconfig.json
Labels: new extension

#379 fix: empty code validation - Ray so
  extensions/ray-so/src/create-a-snippet.tsx
Labels: extension fix / improvement, accepted

#368 SABnzbd: Add job moving
  extensions/sabnzbd/assets/arrow-down-dark.png
  extensions/sabnzbd/assets/arrow-down-light.png
  extensions/sabnzbd/assets/arrow-left-bottom-dark.png
  extensions/sabnzbd/assets/arrow-left-bottom-light.png
  extensions/sabnzbd/assets/arrow-left-dark.png
  extensions/sabnzbd/assets/arrow-left-light.png
  extensions/sabnzbd/assets/arrow-left-top-dark.png
  extensions/sabnzbd/assets/arrow-left-top-light.png
  extensions/sabnzbd/assets/arrow-right-bottom-dark.png
  extensions/sabnzbd/assets/arrow-right-bottom-light.png
  extensions/sabnzbd/assets/arrow-right-dark.png
  extensions/sabnzbd/assets/arrow-right-light.png
  extensions/sabnzbd/assets/arrow-right-top-dark.png
  extensions/sabnzbd/assets/arrow-right-top-light.png
  extensions/sabnzbd/assets/arrow-up-dark.png
  extensions/sabnzbd/assets/arrow-up-light.png
  extensions/sabnzbd/package.json
  extensions/sabnzbd/src/history.tsx
  extensions/sabnzbd/src/show-queue.tsx
  extensions/sabnzbd/yarn.lock
Labels: extension fix / improvement, accepted

#353 Music extension
  extensions/music/.eslintrc.json
  extensions/music/.prettierrc
  extensions/music/assets/icon.png
  extensions/music/package-lock.json
  extensions/music/package.json
  extensions/music/src/currently-playing.tsx
  extensions/music/src/next-track.tsx
  extensions/music/src/pause.tsx
  extensions/music/src/play.tsx
  extensions/music/src/previous-track.tsx
  extensions/music/src/toggle-play-pause.tsx
  extensions/music/src/util/controls.ts
  extensions/music/tsconfig.json
Labels: new extension

#365 feat: add send to flomo extension
  extensions/send-to-flomo/.eslintrc.json
  extensions/send-to-flomo/.prettierrc
  extensions/send-to-flomo/README.md
  extensions/send-to-flomo/assets/command-icon.png
  extensions/send-to-flomo/package-lock.json
  extensions/send-to-flomo/package.json
  extensions/send-to-flomo/src/send-to-flomo.tsx
  extensions/send-to-flomo/tsconfig.json
Labels: new extension

#385 Update "Open in VSC" Link on Snake Extension
  extensions/snake/README.md
Labels: extension fix / improvement

#370 Add Single Disk Eject extension
  extensions/single-disk-eject/.eslintrc.json
  extensions/single-disk-eject/.gitignore
  extensions/single-disk-eject/.nvmrc
  extensions/single-disk-eject/.prettierrc
  extensions/single-disk-eject/assets/list-icon.png
  extensions/single-disk-eject/assets/main-command.png
  extensions/single-disk-eject/package-lock.json
  extensions/single-disk-eject/package.json
  extensions/single-disk-eject/src/components/VolumeList.tsx
  extensions/single-disk-eject/src/components/VolumeListItem.tsx
  extensions/single-disk-eject/src/index.tsx
  extensions/single-disk-eject/src/types.ts
  extensions/single-disk-eject/src/utils.ts
  extensions/single-disk-eject/tsconfig.json
Labels: new extension

#377 [Figma] Add action to open pages of files
  extensions/figma-files/src/cache.tsx
  extensions/figma-files/src/components/DevelopmentActionSection.tsx
  extensions/figma-files/src/components/FileListItem.tsx
  extensions/figma-files/src/components/OpenPageAction.tsx
  extensions/figma-files/src/components/OpenPageSubmenuAction.tsx
  extensions/figma-files/src/components/OpenProjectFileAction.tsx
  extensions/figma-files/src/hooks/usePages.ts
  extensions/figma-files/src/hooks/useProjectFiles.ts
  extensions/figma-files/src/hooks/useVisitedFiles.ts
  extensions/figma-files/src/hooks/useVisitedFiles.tsx
  extensions/figma-files/src/index.tsx
  extensions/figma-files/src/types.ts
  extensions/figma-files/src/utils.tsx
Labels: extension fix / improvement, accepted

#383 Brew
  extensions/brew/src/brew.ts
  extensions/brew/src/components/actionPanels.tsx
  extensions/brew/src/components/actions.tsx
  extensions/brew/src/outdated.tsx
  extensions/brew/src/search.tsx
Labels: extension fix / improvement, accepted

#384 feat: add default action pref for npm search
  extensions/search-npm/package.json
  extensions/search-npm/src/PackagListItem.tsx
Labels: extension fix / improvement, accepted

#389 Dash: Use dynamic bundleId for defaults lookup
  extensions/dash/assets/command-icon.png
  extensions/dash/src/util/dashApp.ts
  extensions/dash/src/util/docsets.ts
Labels: extension fix / improvement, accepted

#326 Add tldr extension
  extensions/tldr/.eslintignore
  extensions/tldr/.eslintrc.json
  extensions/tldr/.prettierrc
  extensions/tldr/assets/tldr.png
  extensions/tldr/package-lock.json
  extensions/tldr/package.json
  extensions/tldr/src/index.tsx
  extensions/tldr/tsconfig.json
Labels: new extension, accepted

#335 YouTube: Add IINA and VLC support
  extensions/youtube/src/components/video.tsx
Labels: extension fix / improvement, accepted

#342 Add Microsoft Edge extension
  extensions/microsoft-edge/.eslintrc.json
  extensions/microsoft-edge/.prettierrc
  extensions/microsoft-edge/assets/microsoft-edge-icon.png
  extensions/microsoft-edge/assets/sql-collections.wasm
  extensions/microsoft-edge/assets/sql-wasm.wasm
  extensions/microsoft-edge/package-lock.json
  extensions/microsoft-edge/package.json
  extensions/microsoft-edge/src/common/constants.ts
  extensions/microsoft-edge/src/common/getOpenTabs.ts
  extensions/microsoft-edge/src/common/openNewTab.ts
  extensions/microsoft-edge/src/components/NotInstalled.tsx
  extensions/microsoft-edge/src/components/SearchUrlList.tsx
  extensions/microsoft-edge/src/components/TabListItem.tsx
  extensions/microsoft-edge/src/components/UrlAction.tsx
  extensions/microsoft-edge/src/components/UrlListItem.tsx
  extensions/microsoft-edge/src/hooks/useBookmarkSearch.tsx
  extensions/microsoft-edge/src/hooks/useCollectionSearch.tsx
  extensions/microsoft-edge/src/hooks/useHistorySearch.tsx
  extensions/microsoft-edge/src/hooks/useUrlSearch.ts
  extensions/microsoft-edge/src/lib/Tab.ts
  extensions/microsoft-edge/src/microsoft-edge-go-to-tab.tsx
  extensions/microsoft-edge/src/microsoft-edge-new-tab.tsx
  extensions/microsoft-edge/src/microsoft-edge-search-bookmark.tsx
  extensions/microsoft-edge/src/microsoft-edge-search-collection.tsx
  extensions/microsoft-edge/src/microsoft-edge-search-history.tsx
  extensions/microsoft-edge/src/schema/types.ts
  extensions/microsoft-edge/src/utils/appleScriptUtils.ts
  extensions/microsoft-edge/src/utils/pathUtils.ts
  extensions/microsoft-edge/src/utils/sqlUtils.ts
  extensions/microsoft-edge/src/utils/urlUtils.ts
  extensions/microsoft-edge/tsconfig.json
Labels: new extension, accepted

#347 Implement Categories in 1password extension
  extensions/1password7/src/OnePasswordMetaItemsCategory.dto.ts
  extensions/1password7/src/list.tsx
Labels: extension fix / improvement, accepted

#382 Tuple extension
  extensions/tuple/.eslintrc.json
  extensions/tuple/.prettierrc
  extensions/tuple/assets/tuple.png
  extensions/tuple/package-lock.json
  extensions/tuple/package.json
  extensions/tuple/src/index.tsx
  extensions/tuple/tsconfig.json
Labels: new extension, accepted

#386 Add CSS.GG — 700+ Pure CSS, SVG & Figma UI Icons
  extensions/css-gg/.eslintrc.json
  extensions/css-gg/.prettierrc
  extensions/css-gg/README.md
  extensions/css-gg/assets/css-gg.png
  extensions/css-gg/package.json
  extensions/css-gg/src/css-gg.tsx
  extensions/css-gg/tsconfig.json
  extensions/css-gg/yarn.lock
Labels: new extension, accepted

#406 GitLab: Not all reviews are shown
  extensions/gitlab/src/components/reviews.tsx
Labels: extension fix / improvement

#397 Jetbrains: Adding preferences and reverting to Raycast built in search
  extensions/jetbrains/README.md
  extensions/jetbrains/package-lock.json
  extensions/jetbrains/package.json
  extensions/jetbrains/src/recent.tsx
  extensions/jetbrains/src/util.ts
  extensions/two-factor-authentication-code-generator/package-lock.json
Labels: extension fix / improvement, accepted

#392 Notion add simple page search
  extensions/notion/README.md
  extensions/notion/package-lock.json
  extensions/notion/package.json
  extensions/notion/src/create-database-page.tsx
  extensions/notion/src/notion.ts
  extensions/notion/src/search-page.tsx
Labels: extension fix / improvement, accepted

#396 Add Google Trends extension
  extensions/google-trends/.eslintrc.json
  extensions/google-trends/.prettierrc
  extensions/google-trends/assets/1.png
  extensions/google-trends/assets/2.png
  extensions/google-trends/assets/3.png
  extensions/google-trends/assets/4.png
  extensions/google-trends/assets/5.png
  extensions/google-trends/assets/6.png
  extensions/google-trends/assets/7.png
  extensions/google-trends/assets/8.png
  extensions/google-trends/assets/9.png
  extensions/google-trends/assets/Icon.png
  extensions/google-trends/assets/etc.png
  extensions/google-trends/package-lock.json
  extensions/google-trends/package.json
  extensions/google-trends/src/daily.ts
  extensions/google-trends/src/daily.tsx
  extensions/google-trends/src/realtime.ts
  extensions/google-trends/src/realtime.tsx
  extensions/google-trends/src/trend.ts
  extensions/google-trends/tsconfig.json
Labels: new extension, accepted

#394 [Xcode] Add Swift Package
  extensions/xcode/package-lock.json
  extensions/xcode/package.json
  extensions/xcode/src/add-swift-package.command.ts
  extensions/xcode/src/models/swift-package/xcode-swift-package-metadata.model.ts
  extensions/xcode/src/services/xcode-project.service.ts
  extensions/xcode/src/services/xcode-swift-package.service.ts
  extensions/xcode/src/services/xcode.service.ts
  extensions/xcode/src/shared/read-clipboard.ts
  extensions/xcode/src/shared/run-apple-script.ts
  extensions/xcode/src/user-interfaces/xcode-add-swift-package/xcode-add-swift-package-action.user-interface.tsx
  extensions/xcode/src/user-interfaces/xcode-add-swift-package/xcode-add-swift-package-form.user-interface.tsx
  extensions/xcode/src/user-interfaces/xcode-add-swift-package/xcode-add-swift-package-metadata-section.user-interface.tsx
  extensions/xcode/src/user-interfaces/xcode-add-swift-package/xcode-add-swift-package-select-xcode-project.user-interface.tsx
  extensions/xcode/src/user-interfaces/xcode-projects/xcode-project-list-item.user-interface.tsx
  extensions/xcode/src/user-interfaces/xcode-projects/xcode-project-list.user-interface.tsx
  extensions/xcode/src/user-interfaces/xcode-releases/xcode-release-list-item.user-interface.tsx
  extensions/xcode/src/user-interfaces/xcode-simulators/xcode-simulators-list-item.user-interface.tsx
  extensions/xcode/src/user-interfaces/xcode-simulators/xcode-simulators-list.user-interface.tsx
Labels: new extension, accepted

#413 Add Change Scroll Direction extension
  extensions/change-scroll-direction/.eslintrc.json
  extensions/change-scroll-direction/.prettierrc
  extensions/change-scroll-direction/assets/command-icon.png
  extensions/change-scroll-direction/package-lock.json
  extensions/change-scroll-direction/package.json
  extensions/change-scroll-direction/src/changeScrollDirection.ts
  extensions/change-scroll-direction/tsconfig.json
Labels: new extension

#399 Add Script Kit Extension
  extensions/script-kit/.eslintrc.json
  extensions/script-kit/.prettierrc
  extensions/script-kit/assets/icon.png
  extensions/script-kit/package-lock.json
  extensions/script-kit/package.json
  extensions/script-kit/src/run-script.tsx
  extensions/script-kit/src/script.ts
  extensions/script-kit/tsconfig.json
Labels: new extension

#309 Improve Safari Extension
  extensions/safari/package-lock.json
  extensions/safari/package.json
  extensions/safari/src/add-to-reading-list.tsx
  extensions/safari/src/cloud-tabs.tsx
  extensions/safari/src/reading-list.tsx
  extensions/safari/src/shared.ts
Labels: extension fix / improvement, accepted

#388 Add Kinopoisk – Search Movies extension
  extensions/kinopoisk/.eslintrc.json
  extensions/kinopoisk/.prettierrc
  extensions/kinopoisk/README.md
  extensions/kinopoisk/assets/kinopoisk.png
  extensions/kinopoisk/package-lock.json
  extensions/kinopoisk/package.json
  extensions/kinopoisk/src/detailMovie.tsx
  extensions/kinopoisk/src/interfaces.ts
  extensions/kinopoisk/src/kinopoiskClient.ts
  extensions/kinopoisk/src/searchMovie.tsx
  extensions/kinopoisk/tsconfig.json
Labels: new extension, accepted

#426 Add CommitLint extension
  extensions/commitlint/.eslintrc.json
  extensions/commitlint/.prettierrc
  extensions/commitlint/assets/commitlint-icon.png
  extensions/commitlint/package-lock.json
  extensions/commitlint/package.json
  extensions/commitlint/src/index.tsx
  extensions/commitlint/tsconfig.json
Labels: new extension

#428 Feature/UUID generator
  extensions/uuid-generator/.eslintrc.json
  extensions/uuid-generator/.prettierrc
  extensions/uuid-generator/assets/command-icon.png
  extensions/uuid-generator/package-lock.json
  extensions/uuid-generator/package.json
  extensions/uuid-generator/src/generate.tsx
  extensions/uuid-generator/tsconfig.json
Labels: new extension

#434 Home Assistant: Upgrade
  extensions/homeassistant/README.md
  extensions/homeassistant/assets/battery-00.png
  extensions/homeassistant/assets/battery-10.png
  extensions/homeassistant/assets/battery-100.png
  extensions/homeassistant/assets/battery-20.png
  extensions/homeassistant/assets/battery-30.png
  extensions/homeassistant/assets/battery-40.png
  extensions/homeassistant/assets/battery-50.png
  extensions/homeassistant/assets/battery-60.png
  extensions/homeassistant/assets/battery-70.png
  extensions/homeassistant/assets/battery-80.png
  extensions/homeassistant/assets/battery-90.png
  extensions/homeassistant/assets/weather-night.png
  extensions/homeassistant/assets/white-balance-sunny.png
  extensions/homeassistant/package.json
  extensions/homeassistant/src/batteries.tsx
  extensions/homeassistant/src/common.ts
  extensions/homeassistant/src/components/attributes_all.tsx
  extensions/homeassistant/src/components/batteries.tsx
  extensions/homeassistant/src/components/entity.tsx
  extensions/homeassistant/src/components/light.tsx
  extensions/homeassistant/src/components/mediaplayer.tsx
  extensions/homeassistant/src/components/states.tsx
  extensions/homeassistant/src/dashboard.tsx
  extensions/homeassistant/src/haapi.ts
Labels: extension fix / improvement

#337 base64 extension v1
  extensions/base64/.eslintrc.json
  extensions/base64/.prettierrc
  extensions/base64/assets/command-icon.png
  extensions/base64/package-lock.json
  extensions/base64/package.json
  extensions/base64/src/decode.tsx
  extensions/base64/src/encode.tsx
  extensions/base64/src/util/clipboard.ts
  extensions/base64/tsconfig.json
Labels: new extension, accepted

#417 Improve Todoist extension
  extensions/todoist/README.md
  extensions/todoist/package-lock.json
  extensions/todoist/package.json
  extensions/todoist/src/api.ts
  extensions/todoist/src/components/Project.tsx
  extensions/todoist/src/components/TaskListItem.tsx
  extensions/todoist/src/create.tsx
  extensions/todoist/src/projects.tsx
  extensions/todoist/src/today.tsx
  extensions/todoist/src/types.ts
  extensions/todoist/src/upcoming.tsx
  extensions/todoist/src/utils.ts
Labels: extension fix / improvement, accepted

#419 Add TickTick extension.
  extensions/ticktick/.eslintrc.json
  extensions/ticktick/.gitignore
  extensions/ticktick/.prettierrc
  extensions/ticktick/README.md
  extensions/ticktick/assets/tick-logo.png
  extensions/ticktick/package-lock.json
  extensions/ticktick/package.json
  extensions/ticktick/src/components/taskItem.tsx
  extensions/ticktick/src/hooks/useSearchTasks.ts
  extensions/ticktick/src/hooks/useStartApp.ts
  extensions/ticktick/src/index.tsx
  extensions/ticktick/src/next7Days.tsx
  extensions/ticktick/src/service/osScript.ts
  extensions/ticktick/src/service/project.ts
  extensions/ticktick/src/service/task.ts
  extensions/ticktick/src/utils/date.ts
  extensions/ticktick/src/utils/text.ts
  extensions/ticktick/tsconfig.json
Labels: new extension, accepted

#429 Add Productboard extension
  extensions/productboard/.eslintrc.json
  extensions/productboard/.prettierrc
  extensions/productboard/README.md
  extensions/productboard/assets/logo.png
  extensions/productboard/assets/preview.png
  extensions/productboard/package-lock.json
  extensions/productboard/package.json
  extensions/productboard/src/index.tsx
  extensions/productboard/src/types.tsx
  extensions/productboard/tsconfig.json
Labels: new extension, accepted

#433 Add CodePipeline to AWS extenstion
  extensions/amazon-aws/assets/codepipeline/Error.png
  extensions/amazon-aws/assets/codepipeline/Error.svg
  extensions/amazon-aws/assets/codepipeline/Stopped.png
  extensions/amazon-aws/assets/codepipeline/Stopped.svg
  extensions/amazon-aws/assets/codepipeline/Success.png
  extensions/amazon-aws/assets/codepipeline/Success.svg
  extensions/amazon-aws/package.json
  extensions/amazon-aws/src/codepipelines.tsx
  extensions/amazon-aws/src/types.ts
Labels: extension fix / improvement, accepted

#432 Add love/dislike to Apple Music extension
  extensions/music/package.json
  extensions/music/src/dislike.tsx
  extensions/music/src/love.tsx
  extensions/music/src/util/controls.ts
Labels: extension fix / improvement
