Repository raycast/extensions, pull requests merged in 2022-08, with the labels that each got.

#2424 Fix: Coinbase Pro Icon API Change
  extensions/coinbase-pro/CHANGELOG.md
  extensions/coinbase-pro/metadata/coinbase-pro-1.png
  extensions/coinbase-pro/metadata/coinbase-pro-2.png
  extensions/coinbase-pro/metadata/coinbase-pro-3.png
  extensions/coinbase-pro/src/components/AccountListItem.tsx
Labels: extension fix / improvement, OP is author

#2438 xQc - (LOGO) Metadata update
  extensions/xqc/CHANGELOG.md
  extensions/xqc/assets/command-icon.png
Labels: extension fix / improvement, OP is author

#2306 Headlines for News
  extensions/headlines/.eslintrc.json
  extensions/headlines/.gitignore
  extensions/headlines/.prettierrc
  extensions/headlines/CHANGELOG.md
  extensions/headlines/README.md
  extensions/headlines/assets/command-icon.png
  extensions/headlines/metadata/headlines-1.png
  extensions/headlines/metadata/headlines-2.png
  extensions/headlines/metadata/headlines-3.png
  extensions/headlines/package-lock.json
  extensions/headlines/package.json
  extensions/headlines/src/index.tsx
  extensions/headlines/src/interface/anews.ts
  extensions/headlines/src/interface/lilnews.ts
  extensions/headlines/tsconfig.json
Labels: new extension

#2362 iconify: add more actions, improve perf and fix bugs
  extensions/iconify/CHANGELOG.md
  extensions/iconify/package-lock.json
  extensions/iconify/package.json
  extensions/iconify/src/search-icons.tsx
  extensions/iconify/src/service.ts
  extensions/iconify/src/utils.ts
  extensions/iconify/src/view-icons.tsx
Labels: extension fix / improvement

#2454 Improve search experience by adding history
  extensions/apple-developer-docs/CHANGELOG.md
  extensions/apple-developer-docs/metadata/apple-developer-docs-1.png
  extensions/apple-developer-docs/metadata/apple-developer-docs-2.png
  extensions/apple-developer-docs/metadata/apple-developer-docs-3.png
  extensions/apple-developer-docs/metadata/apple-developer-docs-4.png
  extensions/apple-developer-docs/src/DevOnlyActionPanel.tsx
  extensions/apple-developer-docs/src/hooks/useSearchedResults.ts
  extensions/apple-developer-docs/src/index.tsx
  extensions/apple-developer-docs/src/types.d.ts
  extensions/apple-developer-docs/src/utils.ts
Labels: extension fix / improvement, OP is author

#2453 Harvest: update more icons
  extensions/harvest/CHANGELOG.md
  extensions/harvest/assets/add.png
  extensions/harvest/assets/harvest-logo-icon.png
  extensions/harvest/assets/stop.png
  extensions/harvest/assets/timer.png
Labels: extension fix / improvement, OP is author

#2457 Update constants.ts to support nupkg packages
  extensions/betterzip/CHANGELOG.md
  extensions/betterzip/src/utils/constants.ts
Labels: extension fix / improvement

#2387 feat(extension): add docsearch
  extensions/docsearch/.eslintrc.json
  extensions/docsearch/.prettierrc
  extensions/docsearch/CHANGELOG.md
  extensions/docsearch/README.md
  extensions/docsearch/assets/developer_tools.jpg
  extensions/docsearch/assets/docsearch.png
  extensions/docsearch/license
  extensions/docsearch/metadata/docsearch-1.png
  extensions/docsearch/metadata/docsearch-2.png
  extensions/docsearch/metadata/docsearch-3.png
  extensions/docsearch/metadata/docsearch-4.png
  extensions/docsearch/metadata/docsearch-5.png
  extensions/docsearch/metadata/docsearch-6.png
  extensions/docsearch/package-lock.json
  extensions/docsearch/package.json
  extensions/docsearch/src/algolia/apiData.ts
  extensions/docsearch/src/algolia/types.ts
  extensions/docsearch/src/docsearch.tsx
  extensions/docsearch/tsconfig.json
Labels: new extension

#2324 Fix noteplan 3 extension
  extensions/noteplan-3/README.md
  extensions/noteplan-3/package.json
  extensions/noteplan-3/src/lib/note-utilities.ts
  extensions/noteplan-3/src/lib/preferences.ts
  extensions/noteplan-3/src/today.tsx
Labels: extension fix / improvement

#2416 update: youdao translate
  extensions/youdao-translate/package.json
  extensions/youdao-translate/src/youdao_translate.tsx
Labels: extension fix / improvement, OP is author

#2431 Use built-in icons for AWS extension
  extensions/amazon-aws/CHANGELOG.md
  extensions/amazon-aws/assets/cloudformation-icon.png
  extensions/amazon-aws/assets/codepipeline/Failed.png
  extensions/amazon-aws/assets/codepipeline/Idle.png
  extensions/amazon-aws/assets/codepipeline/InProgress.png
  extensions/amazon-aws/assets/codepipeline/Stopped.png
  extensions/amazon-aws/assets/codepipeline/Succeeded.png
  extensions/amazon-aws/package-lock.json
  extensions/amazon-aws/package.json
  extensions/amazon-aws/src/cloudformation.tsx
  extensions/amazon-aws/src/codepipelines.tsx
Labels: extension fix / improvement, OP is contributor

#2440 Grouped, Longer passwords & better markdown
  extensions/random-password-generator/CHANGELOG.md
  extensions/random-password-generator/metadata/random-password-generator 1.png
  extensions/random-password-generator/metadata/random-password-generator 2.png
  extensions/random-password-generator/metadata/random-password-generator 3.png
  extensions/random-password-generator/metadata/random-password-generator 4.png
  extensions/random-password-generator/metadata/random-password-generator 5.png
  extensions/random-password-generator/metadata/random-password-generator 6.png
  extensions/random-password-generator/metadata/random-password-generator 7.png
  extensions/random-password-generator/metadata/random-password-generator-1.png
  extensions/random-password-generator/metadata/random-password-generator-2.png
  extensions/random-password-generator/metadata/random-password-generator-3.png
  extensions/random-password-generator/metadata/random-password-generator-4.png
  extensions/random-password-generator/metadata/random-password-generator-5.png
  extensions/random-password-generator/metadata/random-password-generator-6.png
  extensions/random-password-generator/metadata/random-password-generator-7.png
  extensions/random-password-generator/metadata/random-password-generator-8.png
  extensions/random-password-generator/package-lock.json
  extensions/random-password-generator/src/Details.tsx
  extensions/random-password-generator/src/StoryListItem.tsx
  extensions/random-password-generator/src/index.tsx
  extensions/random-password-generator/src/interface.ts
  extensions/random-password-generator/src/passwordDetails.ts
  extensions/random-password-generator/src/util.ts
Labels: extension fix / improvement, OP is author

#2305 Live IRC chat for Twitch.tv
  extensions/twitch-chat/.eslintrc.json
  extensions/twitch-chat/.gitignore
  extensions/twitch-chat/.prettierrc
  extensions/twitch-chat/CHANGELOG.md
  extensions/twitch-chat/README.md
  extensions/twitch-chat/assets/command-icon.png
  extensions/twitch-chat/metadata/twitch-chat-1.png
  extensions/twitch-chat/metadata/twitch-chat-2.png
  extensions/twitch-chat/metadata/twitch-chat-3.png
  extensions/twitch-chat/package-lock.json
  extensions/twitch-chat/package.json
  extensions/twitch-chat/src/index.tsx
  extensions/twitch-chat/tsconfig.json
Labels: new extension

#2406 Refactor/improve grafana extension with
  extensions/grafana/package-lock.json
  extensions/grafana/package.json
  extensions/grafana/src/components/annotation/annotationActions.tsx
  extensions/grafana/src/components/annotation/queries/index.ts
  extensions/grafana/src/components/dashboard/interface/index.ts
  extensions/grafana/src/components/dashboard/searchDashboards.tsx
Labels: extension fix / improvement, OP is author

#2366 Add Brightness Control extension
  extensions/brightness-control/.eslintrc.json
  extensions/brightness-control/.gitignore
  extensions/brightness-control/.prettierrc
  extensions/brightness-control/CHANGELOG.md
  extensions/brightness-control/README.md
  extensions/brightness-control/assets/brightness-down.png
  extensions/brightness-control/assets/brightness-up.png
  extensions/brightness-control/assets/command-icon.png
  extensions/brightness-control/metadata/screenshot-01.png
  extensions/brightness-control/metadata/screenshot-02.png
  extensions/brightness-control/package-lock.json
  extensions/brightness-control/package.json
  extensions/brightness-control/src/down.ts
  extensions/brightness-control/src/script.ts
  extensions/brightness-control/src/up.ts
  extensions/brightness-control/tsconfig.json
Labels: new extension

#2382 Activities @ Mississauga
  extensions/active-mississaugua/.eslintrc.json
  extensions/active-mississaugua/.gitignore
  extensions/active-mississaugua/.prettierrc
  extensions/active-mississaugua/CHANGELOG.md
  extensions/active-mississaugua/README.md
  extensions/active-mississaugua/assets/command-icon.png
  extensions/active-mississaugua/metadata/active-mississaugua-1.png
  extensions/active-mississaugua/metadata/active-mississaugua-2.png
  extensions/active-mississaugua/metadata/active-mississaugua-3.png
  extensions/active-mississaugua/metadata/active-mississaugua-4.png
  extensions/active-mississaugua/package-lock.json
  extensions/active-mississaugua/package.json
  extensions/active-mississaugua/src/components/components.tsx
  extensions/active-mississaugua/src/dropin.tsx
  extensions/active-mississaugua/src/index.tsx
  extensions/active-mississaugua/src/interface/ActivityModel.ts
  extensions/active-mississaugua/tsconfig.json
Labels: new extension

#2446 Single Disk Eject Bug-Fix
  extensions/single-disk-eject/CHANGELOG.md
  extensions/single-disk-eject/src/utils.ts
Labels: extension fix / improvement, OP is author

#2459 Raindrop.io: adds fallback icon for missing favicons
  extensions/raindrop/CHANGELOG.md
  extensions/raindrop/src/components/BookmarkItem.tsx
Labels: extension fix / improvement, OP is author

#2462 Make calendar notes searchable again
  extensions/noteplan-3/CHANGELOG.md
  extensions/noteplan-3/src/lib/note-utilities.ts
Labels: extension fix / improvement, OP is contributor

#2351 Add Sourcetree extension
  extensions/sourcetree/.eslintrc.json
  extensions/sourcetree/.gitignore
  extensions/sourcetree/.prettierrc
  extensions/sourcetree/CHANGELOG.md
  extensions/sourcetree/README.md
  extensions/sourcetree/assets/arrow-down-left.svg
  extensions/sourcetree/assets/arrow-up-right.svg
  extensions/sourcetree/assets/git-branch.svg
  extensions/sourcetree/assets/repo-template.svg
  extensions/sourcetree/assets/repo.svg
  extensions/sourcetree/assets/sourcetree_128x128x32.png
  extensions/sourcetree/assets/sourcetree_256x256x32.png
  extensions/sourcetree/assets/sourcetree_512x512x32.png
  extensions/sourcetree/metadata/sourcetree-1.png
  extensions/sourcetree/metadata/sourcetree-2.png
  extensions/sourcetree/package-lock.json
  extensions/sourcetree/package.json
  extensions/sourcetree/src/BinNotAvailable.tsx
  extensions/sourcetree/src/EmptyRepositoryList.tsx
  extensions/sourcetree/src/OpenInSourceTreeApp.tsx
  extensions/sourcetree/src/RepositoryItem.tsx
  extensions/sourcetree/src/SectionedRepositoryList.tsx
  extensions/sourcetree/src/index.tsx
  extensions/sourcetree/src/lib/cached-command.ts
  extensions/sourcetree/src/lib/preferences.ts
  extensions/sourcetree/src/lib/repository.ts
  extensions/sourcetree/tsconfig.json
Labels: new extension

#2414 New Extension: HackMD
  extensions/hackmd/.eslintrc.json
  extensions/hackmd/.gitignore
  extensions/hackmd/.prettierrc
  extensions/hackmd/CHANGELOG.md
  extensions/hackmd/README.md
  extensions/hackmd/assets/command-icon.png
  extensions/hackmd/metadata/hackmd-1.png
  extensions/hackmd/metadata/hackmd-2.png
  extensions/hackmd/metadata/hackmd-3.png
  extensions/hackmd/metadata/hackmd-4.png
  extensions/hackmd/metadata/hackmd-5.png
  extensions/hackmd/package-lock.json
  extensions/hackmd/package.json
  extensions/hackmd/src/browse-notes.tsx
  extensions/hackmd/src/components/NoteActions.tsx
  extensions/hackmd/src/components/NoteDetail.tsx
  extensions/hackmd/src/components/NoteForm.tsx
  extensions/hackmd/src/components/NoteListItem.tsx
  extensions/hackmd/src/components/NotesList.tsx
  extensions/hackmd/src/create-note.tsx
  extensions/hackmd/src/helpers/noteHelper.ts
  extensions/hackmd/src/lib/api.ts
  extensions/hackmd/src/lib/constants.ts
  extensions/hackmd/src/lib/preference.ts
  extensions/hackmd/src/view-history.tsx
  extensions/hackmd/src/view-release-notes.tsx
  extensions/hackmd/tsconfig.json
Labels: new extension

#2391 Adds Capture to the Raycast extensions store
  extensions/capture/.eslintrc.json
  extensions/capture/.gitignore
  extensions/capture/.prettierrc
  extensions/capture/CHANGELOG.md
  extensions/capture/README.md
  extensions/capture/assets/command-icon.png
  extensions/capture/assets/demo-configure-jwt.png
  extensions/capture/assets/demo-view-jwt.png
  extensions/capture/package-lock.json
  extensions/capture/package.json
  extensions/capture/src/index.tsx
  extensions/capture/tsconfig.json
Labels: new extension

#2458 Add Just Focus extension
  extensions/just-focus/.eslintrc.json
  extensions/just-focus/.gitignore
  extensions/just-focus/.prettierrc
  extensions/just-focus/CHANGELOG.md
  extensions/just-focus/README.md
  extensions/just-focus/assets/extension-icon.png
  extensions/just-focus/metadata/Metadata.png
  extensions/just-focus/package-lock.json
  extensions/just-focus/package.json
  extensions/just-focus/src/components/alert-dialogs.ts
  extensions/just-focus/src/start-pomodoro-timer.tsx
  extensions/just-focus/src/stop-pomodoro-timer.tsx
  extensions/just-focus/src/take-a-long-break.tsx
  extensions/just-focus/src/take-a-short-break.tsx
  extensions/just-focus/src/utils/applescript-utils.ts
  extensions/just-focus/src/utils/common-utils.ts
  extensions/just-focus/tsconfig.json
Labels: new extension

#2363 [Unsplash] Add Update Random Image
  extensions/unsplash/CHANGELOG.md
  extensions/unsplash/package-lock.json
  extensions/unsplash/package.json
  extensions/unsplash/src/functions/setWallpaper.ts
  extensions/unsplash/src/hooks/useRandom.ts
  extensions/unsplash/src/random.tsx
  extensions/unsplash/src/types/index.d.ts
Labels: extension fix / improvement

#2430 Sourcegraph: Updated iconography, search improvements
  extensions/sourcegraph/CHANGELOG.md
  extensions/sourcegraph/CONTRIBUTING.md
  extensions/sourcegraph/metadata/1-search.png
  extensions/sourcegraph/metadata/2-search-symbols.png
  extensions/sourcegraph/metadata/3-notebook-view.png
  extensions/sourcegraph/metadata/4-batch-change-manage.png
  extensions/sourcegraph/package-lock.json
  extensions/sourcegraph/package.json
  extensions/sourcegraph/src/components/ExpandableToast.tsx
  extensions/sourcegraph/src/components/FindNotebooksCommand.tsx
  extensions/sourcegraph/src/components/ManageBatchChangesCommand.tsx
  extensions/sourcegraph/src/components/SearchCommand.tsx
  extensions/sourcegraph/src/hooks/checkAuthEffect.tsx
  extensions/sourcegraph/src/hooks/search.tsx
  extensions/sourcegraph/src/sourcegraph/gql/operations.ts
  extensions/sourcegraph/src/sourcegraph/gql/queries/batch-changes.graphql
  extensions/sourcegraph/src/sourcegraph/stream-search/index.ts
  extensions/sourcegraph/src/sourcegraph/stream-search/stream.ts
Labels: extension fix / improvement, OP is author

#2445 [Easydict] 🐞 Fixed Eudic downloaded from the web was not recognized correctly
  extensions/easydict/CHANGELOG.md
  extensions/easydict/README.md
  extensions/easydict/package.json
  extensions/easydict/src/components.tsx
  extensions/easydict/src/easydict.tsx
  extensions/easydict/src/formatData.ts
  extensions/easydict/src/google.ts
  extensions/easydict/src/releaseVersion/changelog.ts
  extensions/easydict/src/releaseVersion/versionInfo.ts
  extensions/easydict/src/request.ts
  extensions/easydict/src/scripts.ts
  extensions/easydict/src/types.ts
  extensions/easydict/src/utils.ts
Labels: extension fix / improvement, OP is author

#2435 Gopass: Minor Fixes
  extensions/gopass/CHANGELOG.md
  extensions/gopass/package.json
  extensions/gopass/src/details.tsx
  extensions/gopass/src/gopass.ts
  extensions/gopass/src/index.tsx
  extensions/gopass/src/utils.ts
Labels: extension fix / improvement

#2494 Use Google Account for creating documents
  extensions/google-workspace/package-lock.json
  extensions/google-workspace/package.json
  extensions/google-workspace/src/api/oauth.ts
  extensions/google-workspace/src/helpers/docs.ts
Labels: extension fix / improvement

#2491 Update IP Geolocation extension
  extensions/ip-geolocation/CHANGELOG.md
  extensions/ip-geolocation/package-lock.json
  extensions/ip-geolocation/package.json
  extensions/ip-geolocation/src/query-ip-geolocation.tsx
Labels: extension fix / improvement, OP is author

#2490 Update Maven Central Repository extension
  extensions/maven-central-repository/CHANGELOG.md
  extensions/maven-central-repository/package-lock.json
  extensions/maven-central-repository/package.json
  extensions/maven-central-repository/src/search-maven-central-repository.tsx
Labels: extension fix / improvement, OP is author

#2486 Fix HackMD extension bug
  extensions/hackmd/CHANGELOG.md
  extensions/hackmd/src/components/NoteActions.tsx
  extensions/hackmd/src/components/NoteDetail.tsx
  extensions/hackmd/src/components/NoteListItem.tsx
Labels: extension fix / improvement, OP is author

#2481 [gitlab] Add date to list view MR details.
  extensions/gitlab/CHANGELOG.md
  extensions/gitlab/src/components/mr.tsx
Labels: extension fix / improvement, OP is contributor

#2442 [Stripe]: Add New Commands
  extensions/stripe/CHANGELOG.md
  extensions/stripe/README.md
  extensions/stripe/assets/stripe.png
  extensions/stripe/metadata/stripe-1.png
  extensions/stripe/metadata/stripe-2.png
  extensions/stripe/metadata/stripe-3.png
  extensions/stripe/metadata/stripe-4.png
  extensions/stripe/package-lock.json
  extensions/stripe/package.json
  extensions/stripe/src/balance-transactions.tsx
  extensions/stripe/src/balance.tsx
  extensions/stripe/src/charges.tsx
  extensions/stripe/src/components/hoc/index.ts
  extensions/stripe/src/components/hoc/with-env-context.tsx
  extensions/stripe/src/components/index.ts
  extensions/stripe/src/components/organisms/index.ts
  extensions/stripe/src/components/organisms/list-container.tsx
  extensions/stripe/src/connected-accounts.tsx
  extensions/stripe/src/contexts/index.ts
  extensions/stripe/src/create-a-new-invoice.tsx
  extensions/stripe/src/create-a-new-payment.tsx
  extensions/stripe/src/create-a-new-product.tsx
  extensions/stripe/src/create-a-new-subscription.tsx
  extensions/stripe/src/enums/index.ts
  extensions/stripe/src/events.tsx
  extensions/stripe/src/hooks/index.ts
  extensions/stripe/src/hooks/use-env-context.ts
  extensions/stripe/src/hooks/use-stripe-api.ts
  extensions/stripe/src/hooks/use-stripe-dashboard.ts
  extensions/stripe/src/payment-intents.tsx
  extensions/stripe/src/theme/index.ts
  extensions/stripe/src/types/index.ts
  extensions/stripe/src/utils/index.ts
Labels: new extension, extension fix / improvement

#2358 New extension: Pika, beautify images quickly
  extensions/pika/.eslintrc.json
  extensions/pika/.gitignore
  extensions/pika/.prettierrc
  extensions/pika/CHANGELOG.md
  extensions/pika/README.md
  extensions/pika/assets/pika-icon.png
  extensions/pika/metadata/pika-1.png
  extensions/pika/metadata/pika-2.png
  extensions/pika/metadata/pika-3.png
  extensions/pika/package-lock.json
  extensions/pika/package.json
  extensions/pika/src/openFromURL.jsx
  extensions/pika/src/openImage.jsx
  extensions/pika/tsconfig.json
Labels: new extension

#2493 Update Google Maven Repository extension
  extensions/google-maven-repository/CHANGELOG.md
  extensions/google-maven-repository/package-lock.json
  extensions/google-maven-repository/package.json
  extensions/google-maven-repository/src/search-google-maven-repository.tsx
  extensions/google-maven-repository/src/utils/google-maven-utils.ts
Labels: extension fix / improvement, OP is author

#1577 Add Ruby Evaluate Extension
  extensions/ruby-evaluate/.eslintrc.json
  extensions/ruby-evaluate/.prettierrc
  extensions/ruby-evaluate/CHANGELOG.md
  extensions/ruby-evaluate/README.md
  extensions/ruby-evaluate/assets/icon.png
  extensions/ruby-evaluate/metadata/ruby-evaluate-1.png
  extensions/ruby-evaluate/metadata/ruby-evaluate-2.png
  extensions/ruby-evaluate/metadata/ruby-evaluate-3.png
  extensions/ruby-evaluate/package-lock.json
  extensions/ruby-evaluate/package.json
  extensions/ruby-evaluate/src/actions.tsx
  extensions/ruby-evaluate/src/fast-eval.tsx
  extensions/ruby-evaluate/src/index.tsx
  extensions/ruby-evaluate/src/slow-eval.tsx
  extensions/ruby-evaluate/src/types.ts
  extensions/ruby-evaluate/src/util.ts
  extensions/ruby-evaluate/tsconfig.json
Labels: new extension

#2506 Fix HackMD extension bugs
  extensions/hackmd/CHANGELOG.md
  extensions/hackmd/src/browse-notes.tsx
Labels: extension fix / improvement, OP is author

#2450 [Home Assistant] Add window device class support
  extensions/homeassistant/CHANGELOG.md
  extensions/homeassistant/README.md
  extensions/homeassistant/assets/angle-acute.png
  extensions/homeassistant/assets/flash.png
  extensions/homeassistant/assets/home-assistant-orange.png
  extensions/homeassistant/metadata/Metadata-1.png
  extensions/homeassistant/metadata/Metadata-2.png
  extensions/homeassistant/metadata/Metadata-3.png
  extensions/homeassistant/metadata/Metadata-4.png
  extensions/homeassistant/package-lock.json
  extensions/homeassistant/package.json
  extensions/homeassistant/src/components/attributes.tsx
  extensions/homeassistant/src/components/attributes_all.tsx
  extensions/homeassistant/src/components/automation.tsx
  extensions/homeassistant/src/components/mediaplayer.tsx
  extensions/homeassistant/src/components/scenes.tsx
  extensions/homeassistant/src/components/scripts.tsx
  extensions/homeassistant/src/components/states.tsx
  extensions/homeassistant/src/components/timer.tsx
  extensions/homeassistant/src/components/updates.tsx
  extensions/homeassistant/src/components/vacuum.tsx
  extensions/homeassistant/src/hooks.tsx
  extensions/homeassistant/src/notificationmenu.tsx
  extensions/homeassistant/src/utils.ts
  extensions/homeassistant/src/windows.tsx
Labels: extension fix / improvement, OP is author

#2512 Linear: Fix markdown display in the Create Issue command
  extensions/linear/src/components/CreateIssueForm.tsx
Labels: extension fix / improvement

#2471 ✨New Extensions: SVGO
  extensions/svgo/.eslintrc.json
  extensions/svgo/.gitignore
  extensions/svgo/.prettierrc
  extensions/svgo/CHANGELOG.md
  extensions/svgo/README.md
  extensions/svgo/assets/svgo.png
  extensions/svgo/package-lock.json
  extensions/svgo/package.json
  extensions/svgo/src/optimize.ts
  extensions/svgo/tsconfig.json
Labels: new extension

#2498 camel-case extension: fix typo, add a small preview to description
  extensions/change-case/CHANGELOG.md
  extensions/change-case/metadata/change-case-1.png
  extensions/change-case/metadata/change-case-2.png
  extensions/change-case/metadata/change-case-3.png
  extensions/change-case/package-lock.json
  extensions/change-case/package.json
Labels: extension fix / improvement, OP is author

#2472 Update extension "Google Chrome Profiles"
  extensions/google-chrome-profiles/CHANGELOG.md
  extensions/google-chrome-profiles/README.md
  extensions/google-chrome-profiles/metadata/google-chrome-profiles-1.png
  extensions/google-chrome-profiles/metadata/google-chrome-profiles-2.png
  extensions/google-chrome-profiles/package-lock.json
  extensions/google-chrome-profiles/package.json
  extensions/google-chrome-profiles/src/index.tsx
  extensions/google-chrome-profiles/src/util/clipboard.ts
  extensions/google-chrome-profiles/src/util/preferences.ts
Labels: extension fix / improvement, OP is author

#2516 Twitch v2
  extensions/twitch/CHANGELOG.md
  extensions/twitch/metadata/twitch-1.png
  extensions/twitch/metadata/twitch-2.png
  extensions/twitch/metadata/twitch-3.png
  extensions/twitch/metadata/twitch-4.png
  extensions/twitch/metadata/twitch-5.png
  extensions/twitch/package-lock.json
  extensions/twitch/package.json
  extensions/twitch/src/following.tsx
  extensions/twitch/src/game.tsx
  extensions/twitch/src/helpers/action.tsx
  extensions/twitch/src/helpers/datetime.tsx
  extensions/twitch/src/helpers/renderDetails.tsx
  extensions/twitch/src/helpers/streamlink.tsx
  extensions/twitch/src/index.tsx
  extensions/twitch/src/interfaces/Item.ts
  extensions/twitch/src/interfaces/Preferences.ts
  extensions/twitch/src/stream.tsx
  extensions/twitch/src/streamer.tsx
  extensions/twitch/src/utils.tsx
Labels: extension fix / improvement, OP is contributor

#2522 Adjust logo size
  extensions/svgo/README.md
Labels: extension fix / improvement, OP is author

#2521 Zen Mode: Add new commands
  extensions/zen-mode/CHANGELOG.md
  extensions/zen-mode/metadata/zen-mode-1.png
  extensions/zen-mode/package-lock.json
  extensions/zen-mode/package.json
  extensions/zen-mode/src/create-mode.tsx
  extensions/zen-mode/src/show-my-modes.tsx
  extensions/zen-mode/src/stop-mode.tsx
Labels: extension fix / improvement, OP is author

#2478 Brew custom path
  extensions/brew/CHANGELOG.md
  extensions/brew/package-lock.json
  extensions/brew/package.json
  extensions/brew/src/brew.ts
  extensions/brew/src/preferences.ts
Labels: extension fix / improvement, OP is author

#2420 [iTranslate]: add new extension iTranslate
  extensions/itranslate/.eslintrc.json
  extensions/itranslate/.gitignore
  extensions/itranslate/.prettierrc
  extensions/itranslate/CHANGELOG.md
  extensions/itranslate/README.md
  extensions/itranslate/assets/baidu.png
  extensions/itranslate/assets/deepl.png
  extensions/itranslate/assets/google.png
  extensions/itranslate/assets/itranslate-icon.png
  extensions/itranslate/assets/itranslate-icon@dark.png
  extensions/itranslate/assets/tencent.png
  extensions/itranslate/assets/youdao.png
  extensions/itranslate/metadata/itranslate-1.png
  extensions/itranslate/metadata/itranslate-2.png
  extensions/itranslate/metadata/itranslate-3.png
  extensions/itranslate/package-lock.json
  extensions/itranslate/package.json
  extensions/itranslate/src/TranslateError.tsx
  extensions/itranslate/src/TranslateResult.tsx
  extensions/itranslate/src/const.ts
  extensions/itranslate/src/itranslate.shared.tsx
  extensions/itranslate/src/itranslate.tsx
  extensions/itranslate/src/types.d.ts
  extensions/itranslate/tsconfig.json
Labels: new extension

#2479 Brew support sudo
  extensions/brew/CHANGELOG.md
  extensions/brew/assets/askpass.sh
  extensions/brew/src/brew.ts
  extensions/brew/src/utils.ts
Labels: extension fix / improvement, OP is author

#2496 Brew: Improve reporting of fetch errors
  extensions/brew/CHANGELOG.md
  extensions/brew/src/utils.ts
Labels: extension fix / improvement, OP is author

#2507 Brew: Add a search bar filter for installable type
  extensions/brew/CHANGELOG.md
  extensions/brew/src/components/filter.tsx
  extensions/brew/src/components/list.tsx
  extensions/brew/src/installed.tsx
  extensions/brew/src/outdated.tsx
  extensions/brew/src/search.tsx
Labels: extension fix / improvement, OP is author

#2106 Add Vercel Project Explorer
  extensions/vercast/CHANGELOG.md
  extensions/vercast/README.md
  extensions/vercast/media/vercast-1.png
  extensions/vercast/media/vercast-2.png
  extensions/vercast/media/vercast-3.png
  extensions/vercast/metadata/vercast-1.png
  extensions/vercast/metadata/vercast-2.png
  extensions/vercast/metadata/vercast-3.png
  extensions/vercast/package-lock.json
  extensions/vercast/package.json
  extensions/vercast/src/actions.tsx
  extensions/vercast/src/hooks/use-shared-state.ts
  extensions/vercast/src/hooks/use-vercel-info.ts
  extensions/vercast/src/index.tsx
  extensions/vercast/src/markdown/get-deployment-markdown.tsx
  extensions/vercast/src/pages/forms/edit-env-var.tsx
  extensions/vercast/src/pages/forms/new-env-var.tsx
  extensions/vercast/src/pages/inspect-deployment.tsx
  extensions/vercast/src/pages/lists/deployments-list.tsx
  extensions/vercast/src/pages/lists/environment-variables-list.tsx
  extensions/vercast/src/pages/lists/projects-list.tsx
  extensions/vercast/src/pages/search-projects/team-switch-search-accessory.tsx
  extensions/vercast/src/search-deployments.tsx
  extensions/vercast/src/search-projects.tsx
  extensions/vercast/src/types.d.ts
  extensions/vercast/src/use-interval.ts
  extensions/vercast/src/utils/is-valid-token.ts
  extensions/vercast/src/utils/time.ts
  extensions/vercast/src/vercel.ts
Labels: new extension, extension fix / improvement

#2464 Add new Fantastical extension
  extensions/fantastical/.eslintrc.json
  extensions/fantastical/.gitignore
  extensions/fantastical/.prettierrc
  extensions/fantastical/CHANGELOG.md
  extensions/fantastical/README.md
  extensions/fantastical/assets/fantastical.png
  extensions/fantastical/metadata/add-event.png
  extensions/fantastical/metadata/add-reminder.png
  extensions/fantastical/package-lock.json
  extensions/fantastical/package.json
  extensions/fantastical/readme_assets/add-event.png
  extensions/fantastical/readme_assets/add-reminder.png
  extensions/fantastical/readme_assets/example-of-specifying-calender-fan.jpg
  extensions/fantastical/readme_assets/example-of-specifying-calender-raycast.png
  extensions/fantastical/readme_assets/fantastical-opened-after-add-event.jpg
  extensions/fantastical/readme_assets/fantastical-opened-after-add-reminder.jpg
  extensions/fantastical/src/fan-add-event.tsx
  extensions/fantastical/src/fan-reminder.tsx
  extensions/fantastical/src/isInstalled.ts
  extensions/fantastical/tsconfig.json
Labels: new extension

#2500 Update tapo-smart-devices to v1.1.0
  extensions/tapo-smart-devices/CHANGELOG.md
  extensions/tapo-smart-devices/package-lock.json
  extensions/tapo-smart-devices/package.json
  extensions/tapo-smart-devices/src/devices.ts
  extensions/tapo-smart-devices/src/menu-bar.tsx
  extensions/tapo-smart-devices/src/view.tsx
Labels: extension fix / improvement, OP is author

#2432 feat: add today summary menu bar command
  extensions/wakatime/CHANGELOG.md
  extensions/wakatime/package-lock.json
  extensions/wakatime/package.json
  extensions/wakatime/src/hooks/index.ts
  extensions/wakatime/src/hooks/use-today-summary.ts
  extensions/wakatime/src/today-summary.tsx
  extensions/wakatime/src/utils/api.ts
Labels: extension fix / improvement

#2535 feat(linear): Add various improvements
  extensions/linear/CHANGELOG.md
  extensions/linear/package-lock.json
  extensions/linear/package.json
  extensions/linear/src/active-cycle.tsx
  extensions/linear/src/api/getIssues.ts
  extensions/linear/src/api/getNotifications.ts
  extensions/linear/src/assigned-issues.tsx
  extensions/linear/src/components/IssueActions/IssueActions.tsx
  extensions/linear/src/components/IssueActions/StateSubmenu.tsx
  extensions/linear/src/components/IssueCommentForm.tsx
  extensions/linear/src/components/ProjectIssues.tsx
  extensions/linear/src/components/StateIssueList.tsx
  extensions/linear/src/created-issues.tsx
  extensions/linear/src/helpers/notifications.ts
  extensions/linear/src/helpers/states.ts
  extensions/linear/src/hooks/useStates.ts
  extensions/linear/src/notifications.tsx
  extensions/linear/src/unread-notifications.tsx
Labels: extension fix / improvement, OP is author

#2538 (Fantastical) fixed readme image rendering issues
  extensions/fantastical/CHANGELOG.md
  extensions/fantastical/README.md
  extensions/fantastical/readme_assets/add-event.png
  extensions/fantastical/readme_assets/add-reminder.png
  extensions/fantastical/readme_assets/example-of-specifying-calender-fan.jpg
  extensions/fantastical/readme_assets/example-of-specifying-calender-raycast.png
  extensions/fantastical/readme_assets/fantastical-opened-after-add-event.jpg
  extensions/fantastical/readme_assets/fantastical-opened-after-add-reminder.jpg
Labels: extension fix / improvement, OP is author

#2531 Bibmanager search improvements
  extensions/bibmanager/CHANGELOG.md
  extensions/bibmanager/README.md
  extensions/bibmanager/metadata/Metadata-1.png
  extensions/bibmanager/metadata/Metadata-2.png
  extensions/bibmanager/metadata/bibmanager-1.png
  extensions/bibmanager/metadata/bibmanager-2.png
  extensions/bibmanager/metadata/bibmanager-3.png
  extensions/bibmanager/metadata/bibmanager-4.png
  extensions/bibmanager/package-lock.json
  extensions/bibmanager/package.json
  extensions/bibmanager/src/ListBibmItem.tsx
  extensions/bibmanager/src/filtering.tsx
  extensions/bibmanager/src/index.tsx
  extensions/bibmanager/src/types.tsx
Labels: extension fix / improvement, OP is author

#2315 New Extension: Shortcut
  extensions/shortcut/.eslintrc.json
  extensions/shortcut/.gitignore
  extensions/shortcut/.prettierrc
  extensions/shortcut/CHANGELOG.md
  extensions/shortcut/README.md
  extensions/shortcut/assets/command-icon.png
  extensions/shortcut/metadata/shortcut-1.png
  extensions/shortcut/metadata/shortcut-2.png
  extensions/shortcut/metadata/shortcut-3.png
  extensions/shortcut/metadata/shortcut-4.png
  extensions/shortcut/metadata/shortcut-5.png
  extensions/shortcut/package-lock.json
  extensions/shortcut/package.json
  extensions/shortcut/src/assigned-stories.tsx
  extensions/shortcut/src/components/EpicListItem.tsx
  extensions/shortcut/src/components/EpicStories.tsx
  extensions/shortcut/src/components/IterationStories.tsx
  extensions/shortcut/src/components/StoriesList.tsx
  extensions/shortcut/src/components/StoryActions.tsx
  extensions/shortcut/src/components/StoryDetail.tsx
  extensions/shortcut/src/components/StoryForm.tsx
  extensions/shortcut/src/components/StoryListItem.tsx
  extensions/shortcut/src/create-story.tsx
  extensions/shortcut/src/helpers/iterationHelper.ts
  extensions/shortcut/src/helpers/storyHelpers.ts
  extensions/shortcut/src/hooks/index.ts
  extensions/shortcut/src/search-stories.tsx
  extensions/shortcut/src/show-epics.tsx
  extensions/shortcut/src/show-iterations.tsx
  extensions/shortcut/src/utils/preference.ts
  extensions/shortcut/src/utils/shortcut.ts
  extensions/shortcut/src/utils/string.ts
  extensions/shortcut/src/utils/types.ts
  extensions/shortcut/tsconfig.json
Labels: new extension

#2489 Update Raycast Wallpaper extension
  extensions/raycast-wallpaper/CHANGELOG.md
  extensions/raycast-wallpaper/README.md
  extensions/raycast-wallpaper/package-lock.json
  extensions/raycast-wallpaper/package.json
  extensions/raycast-wallpaper/src/auto-switch-raycast-wallpaper.ts
  extensions/raycast-wallpaper/src/utils/common-utils.ts
Labels: extension fix / improvement, OP is author

#2488 Update Bing Wallpaper extension
  extensions/bing-wallpaper/CHANGELOG.md
  extensions/bing-wallpaper/README.md
  extensions/bing-wallpaper/assets/auto-switch-wallpaper-icon.png
  extensions/bing-wallpaper/assets/auto-switch-wallpaper-icon@dark.png
  extensions/bing-wallpaper/assets/bing-wallpaper-icon.png
  extensions/bing-wallpaper/assets/bing-wallpaper-icon@dark.png
  extensions/bing-wallpaper/assets/extension-icon.png
  extensions/bing-wallpaper/assets/extension-icon@dark.png
  extensions/bing-wallpaper/assets/random-wallpaper-icon.png
  extensions/bing-wallpaper/assets/random-wallpaper-icon@dark.png
  extensions/bing-wallpaper/package-lock.json
  extensions/bing-wallpaper/package.json
  extensions/bing-wallpaper/src/auto-random-bing-wallpaper.ts
  extensions/bing-wallpaper/src/auto-switch-bing-wallpaper.ts
  extensions/bing-wallpaper/src/utils/common-utils.ts
Labels: extension fix / improvement, OP is author

#2524 feat: add entry points for all documentation
  extensions/docsearch/.format/falgolia.ts
  extensions/docsearch/.format/format.ts
  extensions/docsearch/.format/freadme.ts
  extensions/docsearch/CHANGELOG.md
  extensions/docsearch/README.md
  extensions/docsearch/assets/logo/arthas.ico
  extensions/docsearch/assets/logo/bootstrap.ico
  extensions/docsearch/assets/logo/echarts.png
  extensions/docsearch/assets/logo/homebrew.png
  extensions/docsearch/assets/logo/ipfs.png
  extensions/docsearch/assets/logo/laravel.png
  extensions/docsearch/assets/logo/prettier.png
  extensions/docsearch/assets/logo/react.ico
  extensions/docsearch/assets/logo/rsshub.png
  extensions/docsearch/assets/logo/slidev.png
  extensions/docsearch/assets/logo/tailwindcss.png
  extensions/docsearch/assets/logo/unidata.png
  extensions/docsearch/assets/logo/vite.png
  extensions/docsearch/assets/logo/vitest.png
  extensions/docsearch/assets/logo/vue.png
  extensions/docsearch/assets/logo/vuepress.png
  extensions/docsearch/assets/logo/vueuse.png
  extensions/docsearch/package-lock.json
  extensions/docsearch/package.json
  extensions/docsearch/src/algolia/apiData.ts
  extensions/docsearch/src/algolia/types.ts
  extensions/docsearch/src/arthas.tsx
  extensions/docsearch/src/bootstrap.tsx
  extensions/docsearch/src/components/SearchDocumentation.tsx
  extensions/docsearch/src/components/index.ts
  extensions/docsearch/src/docsearch.tsx
  extensions/docsearch/src/echarts.tsx
  extensions/docsearch/src/echarts_zh-Hans.tsx
  extensions/docsearch/src/homebrew.tsx
  extensions/docsearch/src/ipfs.tsx
  extensions/docsearch/src/laravel9.tsx
  extensions/docsearch/src/prettier.tsx
  extensions/docsearch/src/react.tsx
  extensions/docsearch/src/react_zh-Hans.tsx
  extensions/docsearch/src/rsshub.tsx
  extensions/docsearch/src/slidev_zh-Hans.tsx
  extensions/docsearch/src/tailwindcss3.tsx
  extensions/docsearch/src/unidata.tsx
  extensions/docsearch/src/utils/escapeToHtml.ts
  extensions/docsearch/src/utils/index.ts
  extensions/docsearch/src/vite.tsx
  extensions/docsearch/src/vite_zh-Hans.tsx
  extensions/docsearch/src/vitest.tsx
  extensions/docsearch/src/vue3.tsx
  extensions/docsearch/src/vue3_zh-Hans.tsx
  extensions/docsearch/src/vueRouter4.tsx
  extensions/docsearch/src/vuepress1.tsx
  extensions/docsearch/src/vuepress2.tsx
  extensions/docsearch/src/vueuse.tsx
Labels: extension fix / improvement, OP is author

#2423 Edit extension: Add menubar command that holds pending actionable PRs
  extensions/github-review-requests/.prettierrc
  extensions/github-review-requests/package-lock.json
  extensions/github-review-requests/package.json
  extensions/github-review-requests/src/actionablePullRequests.tsx
  extensions/github-review-requests/src/components/PullRequestItem.tsx
  extensions/github-review-requests/src/flows/processPulls.ts
  extensions/github-review-requests/src/graphql/SearchPullRequestsWithDependencies.generated.ts
  extensions/github-review-requests/src/graphql/SearchPullRequestsWithDependencies.gql
  extensions/github-review-requests/src/graphql/searchPullRequestsWithDependencies.ts
  extensions/github-review-requests/src/hooks/SearchReviewRequest.generated.ts
  extensions/github-review-requests/src/hooks/usePullStore.ts
  extensions/github-review-requests/src/hooks/usePulls.ts
  extensions/github-review-requests/src/hooks/useSearch.ts
  extensions/github-review-requests/src/integration/getLogin.ts
  extensions/github-review-requests/src/integration/graphQLClient.ts
  extensions/github-review-requests/src/integration/octokit.ts
  extensions/github-review-requests/src/schema.generated.ts
  extensions/github-review-requests/src/store/pulls.ts
  extensions/github-review-requests/src/types.ts
  extensions/github-review-requests/src/util.ts
Labels: extension fix / improvement

#2561 [Google Fonts] Add ability to view/download selected font family. Closes #2554.
  extensions/google-fonts/CHANGELOG.md
  extensions/google-fonts/src/search-fonts.tsx
  extensions/google-fonts/src/utils.tsx
Labels: extension fix / improvement, OP is author

#2518 [Spotify-Player] Introduce "Now Playing" (view) command
  extensions/spotify-player/CHANGELOG.md
  extensions/spotify-player/CONTRIBUTING.md
  extensions/spotify-player/metadata/spotify-02.png
  extensions/spotify-player/metadata/spotify-03.png
  extensions/spotify-player/metadata/spotify-04.png
  extensions/spotify-player/metadata/spotify-05.png
  extensions/spotify-player/metadata/spotify-06.png
  extensions/spotify-player/package.json
  extensions/spotify-player/src/components/NowPlayingDetailMetadata.tsx
  extensions/spotify-player/src/components/NowPlayingEmptyDetail.tsx
  extensions/spotify-player/src/nowPlaying.tsx
  extensions/spotify-player/src/nowPlayingMenuBar.tsx
  extensions/spotify-player/src/spotify/applescript-scripts.ts
  extensions/spotify-player/src/spotify/applescript.ts
  extensions/spotify-player/src/spotify/client.ts
  extensions/spotify-player/src/spotify/oauth.tsx
  extensions/spotify-player/src/utils/index.ts
Labels: extension fix / improvement, OP is author, OP is contributor

#1950 Add new Abstract API extension
  extensions/abstract-api/.eslintrc.json
  extensions/abstract-api/.prettierrc
  extensions/abstract-api/CHANGELOG.md
  extensions/abstract-api/README.md
  extensions/abstract-api/assets/command-icon.png
  extensions/abstract-api/metadata/metadata-2.png
  extensions/abstract-api/metadata/metadata-3.png
  extensions/abstract-api/metadata/metadata-4.png
  extensions/abstract-api/metadata/metadata.png
  extensions/abstract-api/package-lock.json
  extensions/abstract-api/package.json
  extensions/abstract-api/src/avatars.tsx
  extensions/abstract-api/src/company-enrichment.tsx
  extensions/abstract-api/src/exchange-rates.tsx
  extensions/abstract-api/src/holidays.tsx
  extensions/abstract-api/src/ip-geolocation.tsx
  extensions/abstract-api/src/scrape.tsx
  extensions/abstract-api/src/screenshot.tsx
  extensions/abstract-api/src/timezone.tsx
  extensions/abstract-api/src/utils.ts
  extensions/abstract-api/tsconfig.json
Labels: new extension, status: awaiting response from dev

#2168 [Better Uptime] Add the ability to create/delete monitors, incidents and heartbeats from Raycast
  extensions/better-uptime/CHANGELOG.md
  extensions/better-uptime/package-lock.json
  extensions/better-uptime/package.json
  extensions/better-uptime/src/actions.tsx
  extensions/better-uptime/src/add-heartbeat.tsx
  extensions/better-uptime/src/add-incident.tsx
  extensions/better-uptime/src/add-monitor.tsx
  extensions/better-uptime/src/constants.ts
  extensions/better-uptime/src/heartbeats.tsx
  extensions/better-uptime/src/incidents.tsx
  extensions/better-uptime/src/interface.ts
  extensions/better-uptime/src/monitors.tsx
Labels: extension fix / improvement, OP is author

#2568 [Shortcut] Add Iteration "Open in Browser" action
  extensions/shortcut/CHANGELOG.md
  extensions/shortcut/package.json
  extensions/shortcut/src/show-iterations.tsx
Labels: extension fix / improvement

#2557 Fix 404 issue on the extension How Long To Beat
  extensions/how-long-to-beat/package-lock.json
  extensions/how-long-to-beat/package.json
Labels: extension fix / improvement, OP is author

#1966 Add new M3O extension
  extensions/m3o/.eslintrc.json
  extensions/m3o/.prettierrc
  extensions/m3o/CHANGELOG.md
  extensions/m3o/README.md
  extensions/m3o/assets/command-icon.png
  extensions/m3o/metadata/metadata-2.png
  extensions/m3o/metadata/metadata-3.png
  extensions/m3o/metadata/metadata.png
  extensions/m3o/package-lock.json
  extensions/m3o/package.json
  extensions/m3o/src/avatar.tsx
  extensions/m3o/src/dns.tsx
  extensions/m3o/tsconfig.json
Labels: new extension

#2129 NBA: Use cache
  extensions/nba-game-viewer/CHANGELOG.md
  extensions/nba-game-viewer/package-lock.json
  extensions/nba-game-viewer/package.json
  extensions/nba-game-viewer/src/components/Article.tsx
  extensions/nba-game-viewer/src/components/Player.tsx
  extensions/nba-game-viewer/src/hooks/useNews.ts
  extensions/nba-game-viewer/src/hooks/useRoster.ts
  extensions/nba-game-viewer/src/hooks/useSchedule.ts
  extensions/nba-game-viewer/src/hooks/useStandings.ts
  extensions/nba-game-viewer/src/utils/generateGameAccessories.ts
  extensions/nba-game-viewer/src/utils/generatePlayerAccessories.ts
  extensions/nba-game-viewer/src/views/articles.tsx
  extensions/nba-game-viewer/src/views/roster.tsx
  extensions/nba-game-viewer/src/views/schedule.tsx
  extensions/nba-game-viewer/src/views/standings.tsx
  package-lock.json
Labels: extension fix / improvement

#2447 Create Libraries.io extension
  extensions/libraries-io/.eslintrc.json
  extensions/libraries-io/.gitignore
  extensions/libraries-io/.prettierrc
  extensions/libraries-io/CHANGELOG.md
  extensions/libraries-io/README.md
  extensions/libraries-io/assets/libraries-io-icon.png
  extensions/libraries-io/assets/no-view.png
  extensions/libraries-io/assets/package_manager_icons/alcatraz.png
  extensions/libraries-io/assets/package_manager_icons/bower.png
  extensions/libraries-io/assets/package_manager_icons/cargo.png
  extensions/libraries-io/assets/package_manager_icons/carthage.png
  extensions/libraries-io/assets/package_manager_icons/clojars.png
  extensions/libraries-io/assets/package_manager_icons/cocoapods.png
  extensions/libraries-io/assets/package_manager_icons/conda.png
  extensions/libraries-io/assets/package_manager_icons/cpan.png
  extensions/libraries-io/assets/package_manager_icons/cran.png
  extensions/libraries-io/assets/package_manager_icons/dub.png
  extensions/libraries-io/assets/package_manager_icons/elm.png
  extensions/libraries-io/assets/package_manager_icons/go.png
  extensions/libraries-io/assets/package_manager_icons/hackage.png
  extensions/libraries-io/assets/package_manager_icons/haxelib.png
  extensions/libraries-io/assets/package_manager_icons/hex.png
  extensions/libraries-io/assets/package_manager_icons/homebrew.png
  extensions/libraries-io/assets/package_manager_icons/inqlude.png
  extensions/libraries-io/assets/package_manager_icons/julia.png
  extensions/libraries-io/assets/package_manager_icons/maven.png
  extensions/libraries-io/assets/package_manager_icons/meteor.png
  extensions/libraries-io/assets/package_manager_icons/nimble.png
  extensions/libraries-io/assets/package_manager_icons/npm.png
  extensions/libraries-io/assets/package_manager_icons/nuget.png
  extensions/libraries-io/assets/package_manager_icons/packagist.png
  extensions/libraries-io/assets/package_manager_icons/pub.png
  extensions/libraries-io/assets/package_manager_icons/puppet.png
  extensions/libraries-io/assets/package_manager_icons/purescript.png
  extensions/libraries-io/assets/package_manager_icons/pypi.png
  extensions/libraries-io/assets/package_manager_icons/racket.png
  extensions/libraries-io/assets/package_manager_icons/rubygems.png
  extensions/libraries-io/assets/package_manager_icons/swiftpm.png
  extensions/libraries-io/metadata/libraries-io-1.png
  extensions/libraries-io/metadata/libraries-io-2.png
  extensions/libraries-io/metadata/libraries-io-3.png
  extensions/libraries-io/metadata/libraries-io-4.png
  extensions/libraries-io/metadata/libraries-io-5.png
  extensions/libraries-io/metadata/libraries-io-6.png
  extensions/libraries-io/package-lock.json
  extensions/libraries-io/package.json
  extensions/libraries-io/src/components/PackageDependencies.tsx
  extensions/libraries-io/src/components/PackageResult.tsx
  extensions/libraries-io/src/components/PackageVersions.tsx
  extensions/libraries-io/src/search-packages.tsx
  extensions/libraries-io/src/show-platforms.tsx
  extensions/libraries-io/src/show-subscriptions.tsx
  extensions/libraries-io/src/types.ts
  extensions/libraries-io/tsconfig.json
Labels: new extension

#1980 [Pipe Commands] Improve Compatibility with Script Commands
  extensions/pipe-commands/CHANGELOG.md
  extensions/pipe-commands/README.md
  extensions/pipe-commands/assets/commands/change-case/lowercase.py
  extensions/pipe-commands/assets/commands/change-case/uppercase.py
  extensions/pipe-commands/assets/commands/dev-utils/prettify-json.sh
  extensions/pipe-commands/assets/commands/search/github-search.sh
  extensions/pipe-commands/assets/commands/search/google-search.sh
  extensions/pipe-commands/assets/commands/search/icons/github-dark.png
  extensions/pipe-commands/assets/commands/search/icons/github.png
  extensions/pipe-commands/assets/commands/search/wikipedia-search.sh
  extensions/pipe-commands/assets/commands/text/accessibility/read-the-content.sh
  extensions/pipe-commands/assets/commands/text/accessibility/read.sh
  extensions/pipe-commands/assets/commands/url/extract-domain-from-url.py
  extensions/pipe-commands/assets/commands/url/urlencode.py
  extensions/pipe-commands/assets/commands/url/urlencode.sh
  extensions/pipe-commands/assets/pipe-icon.png
  extensions/pipe-commands/assets/schema.json
  extensions/pipe-commands/assets/script-icon.png
  extensions/pipe-commands/medias/modes.excalidraw.png
  extensions/pipe-commands/package-lock.json
  extensions/pipe-commands/package.json
  extensions/pipe-commands/src/create-pipe-command.tsx
  extensions/pipe-commands/src/manage-pipe-commands.tsx
  extensions/pipe-commands/src/pipe-selection-to-command.tsx
  extensions/pipe-commands/src/pipe-to-command.tsx
  extensions/pipe-commands/src/types.ts
  extensions/pipe-commands/src/utils.ts
Labels: extension fix / improvement, OP is author

#2560 Update Apple Maps Search commands
  extensions/apple-maps-search/CHANGELOG.md
  extensions/apple-maps-search/README.md
  extensions/apple-maps-search/metadata/apple-maps-search-1.png
  extensions/apple-maps-search/metadata/apple-maps-search-2.png
  extensions/apple-maps-search/metadata/apple-maps-search-3.png
  extensions/apple-maps-search/package-lock.json
  extensions/apple-maps-search/package.json
  extensions/apple-maps-search/src/directionsHome.ts
  extensions/apple-maps-search/src/directionsTo.tsx
  extensions/apple-maps-search/src/find.tsx
  extensions/apple-maps-search/src/searchMaps.ts
  extensions/apple-maps-search/src/utils.ts
Labels: extension fix / improvement, OP is author

#2527 feat: adding unique line pipe-command
  extensions/pipe-commands/assets/commands/text/count-characters.sh
  extensions/pipe-commands/assets/commands/text/unique-line.sh
Labels: extension fix / improvement

#2211 Cloudflare: Add site cache, purge everything command, purge url history
  extensions/cloudflare/.eslintrc.json
  extensions/cloudflare/CHANGELOG.md
  extensions/cloudflare/package-lock.json
  extensions/cloudflare/package.json
  extensions/cloudflare/src/service.ts
  extensions/cloudflare/src/view-cache-purge.tsx
  extensions/cloudflare/src/view-sites.tsx
Labels: extension fix / improvement, OP is contributor

#2558 Spotify Player: Use consistent placeholder text for search commands
  extensions/spotify-player/src/searchArtists.tsx
Labels: extension fix / improvement

#2578 [Pipe Commands] Update doc and built-in commands
  extensions/pipe-commands/CHANGELOG.md
  extensions/pipe-commands/README.md
  extensions/pipe-commands/assets/commands/text/count-characters.sh
  extensions/pipe-commands/assets/commands/text/unique-line.sh
Labels: extension fix / improvement, OP is author

#2579 Brew: fix error when loading Show Outdated command
  extensions/brew/CHANGELOG.md
  extensions/brew/src/components/filter.tsx
  extensions/brew/src/installed.tsx
  extensions/brew/src/outdated.tsx
  extensions/brew/src/search.tsx
Labels: extension fix / improvement, OP is author

#2584 [CodeBlocks] fix: change extension icon
  extensions/CodeBlocks/assets/CodeBlocks.png
Labels: extension fix / improvement, OP is author

#2586 Dash: Show EmptyView when `Dash.app` can't be found.
  extensions/dash/assets/empty-view-icon.png
  extensions/dash/assets/list-icon.png
  extensions/dash/src/hooks/useDashApp.ts
  extensions/dash/src/hooks/useDocsetSearch.ts
  extensions/dash/src/hooks/useDocsets.ts
  extensions/dash/src/views/MultiDocsetSearch.tsx
Labels: extension fix / improvement, OP is contributor

#2334 [Todo List] - Add menu bar support
  extensions/todo-list/assets/command-icon-menubar.png
  extensions/todo-list/package.json
  extensions/todo-list/src/hooks/useTodo.ts
  extensions/todo-list/src/list_actions.tsx
  extensions/todo-list/src/menu_bar.tsx
  extensions/todo-list/src/menu_bar_todo_item.tsx
  extensions/todo-list/src/todo_item.tsx
Labels: extension fix / improvement

#2599 speedtest: Use correct icon for `UploadListItem`
  extensions/speedtest/src/index.tsx
Labels: extension fix / improvement

#2547 [Vercel] Add branch name to the information shown
  extensions/vercast/CHANGELOG.md
  extensions/vercast/assets/boxicon-git-branch.svg
  extensions/vercast/package.json
  extensions/vercast/src/pages/inspect-deployment.tsx
  extensions/vercast/src/pages/lists/deployments-list.tsx
Labels: extension fix / improvement

#2552 Icons8 Update
  extensions/icons8/CHANGELOG.md
  extensions/icons8/README.md
  extensions/icons8/metadata/01 Search Icons.png
  extensions/icons8/metadata/02 Categories.png
  extensions/icons8/metadata/03 Icon Actions.png
  extensions/icons8/metadata/03 Icon View.png
  extensions/icons8/metadata/04 Icon Actions.png
  extensions/icons8/metadata/04 Icon Detail.png
  extensions/icons8/metadata/05 Configure Icon.png
  extensions/icons8/metadata/05 Pinned Icons.png
  extensions/icons8/metadata/06 Configure Icon.png
  extensions/icons8/metadata/06 Recolor Icon.png
  extensions/icons8/package-lock.json
  extensions/icons8/package.json
  extensions/icons8/src/components/actions.tsx
  extensions/icons8/src/components/configure-icon.tsx
  extensions/icons8/src/components/empty-view.tsx
  extensions/icons8/src/components/icon-detail.tsx
  extensions/icons8/src/components/icon.tsx
  extensions/icons8/src/hooks/api.ts
  extensions/icons8/src/search-icons.tsx
  extensions/icons8/src/types/types.ts
  extensions/icons8/src/utils/grid.ts
  extensions/icons8/src/utils/options.ts
  extensions/icons8/src/utils/storage.tsx
  extensions/icons8/src/utils/utils.ts
Labels: extension fix / improvement, OP is author

#2583 [LaLiga] Add new season
  extensions/laliga/src/club.tsx
  extensions/laliga/src/components/competition_dropdown.tsx
  extensions/laliga/src/result.tsx
  extensions/laliga/src/standing.tsx
Labels: extension fix / improvement, OP is author

#2550 [CUID] Add extension to generate CUIDs
  extensions/cuid-generator/.eslintrc.json
  extensions/cuid-generator/.gitignore
  extensions/cuid-generator/.prettierrc
  extensions/cuid-generator/CHANGELOG.md
  extensions/cuid-generator/README.md
  extensions/cuid-generator/assets/command-icon.png
  extensions/cuid-generator/package-lock.json
  extensions/cuid-generator/package.json
  extensions/cuid-generator/src/generate.tsx
  extensions/cuid-generator/tsconfig.json
Labels: new extension

#2529 New Extension: Rain radars
  extensions/rain-radars/.eslintrc.json
  extensions/rain-radars/.prettierrc
  extensions/rain-radars/README.md
  extensions/rain-radars/assets/rain-radar-icon.png
  extensions/rain-radars/metadata/1.png
  extensions/rain-radars/metadata/2.png
  extensions/rain-radars/metadata/3.png
  extensions/rain-radars/package-lock.json
  extensions/rain-radars/package.json
  extensions/rain-radars/src/components/radar-grid-layout.tsx
  extensions/rain-radars/src/hooks/hooks.ts
  extensions/rain-radars/src/radars.json
  extensions/rain-radars/src/search-rain-radars.tsx
  extensions/rain-radars/src/types/types.ts
  extensions/rain-radars/tsconfig.json
Labels: new extension

#2571 [biaodian] Fix typo in “exclamation mark”
  extensions/biaodian/src/biaodian.tsx
Labels: extension fix / improvement

#2572 [biaodian] Fix typograhical ellipsis in prompt
  extensions/biaodian/src/biaodian.tsx
Labels: extension fix / improvement

#2603 Bug fix: Text truncation & unable to click the item from the list
  extensions/spaces/CHANGELOG.md
  extensions/spaces/src/show-my-spaces.tsx
Labels: extension fix / improvement, OP is author

#2591 [Hacker News] 429 API error fix
  extensions/hacker-news/CHANGELOG.md
  extensions/hacker-news/metadata/hacker-news-1.png
  extensions/hacker-news/metadata/hacker-news-2.png
  extensions/hacker-news/metadata/hacker-news-3.png
  extensions/hacker-news/metadata/hacker-news-4.png
  extensions/hacker-news/metadata/hacker-news-best-comments.png
  extensions/hacker-news/metadata/hacker-news-classic.png
  extensions/hacker-news/metadata/hacker-news-front-page.png
  extensions/hacker-news/metadata/hacker-news-jobs.png
  extensions/hacker-news/metadata/hacker-news-show-hn.png
  extensions/hacker-news/package-lock.json
  extensions/hacker-news/package.json
  extensions/hacker-news/src/StoryListItem.tsx
  extensions/hacker-news/src/frontpage.tsx
  extensions/hacker-news/src/useStories.tsx
  extensions/hacker-news/tsconfig.json
Labels: extension fix / improvement, OP is contributor

#2601 Rain Radar: Avoid image caching and stale rain radar image
  extensions/rain-radars/src/components/radar-grid-layout.tsx
Labels: extension fix / improvement, OP is author

#2592 [UUID Generator] added ability to create multiple uuids in one go via optional argument
  extensions/uuid-generator/CHANGELOG
  extensions/uuid-generator/package.json
  extensions/uuid-generator/src/generate.tsx
Labels: extension fix / improvement

#2528 New Extension: Youtube Music
  extensions/youtube-music/.eslintrc.json
  extensions/youtube-music/.gitignore
  extensions/youtube-music/.prettierrc
  extensions/youtube-music/CHANGELOG.md
  extensions/youtube-music/README.md
  extensions/youtube-music/assets/extension-icon.png
  extensions/youtube-music/package-lock.json
  extensions/youtube-music/package.json
  extensions/youtube-music/src/dislike.tsx
  extensions/youtube-music/src/like.tsx
  extensions/youtube-music/src/next-track.tsx
  extensions/youtube-music/src/pause.tsx
  extensions/youtube-music/src/play.tsx
  extensions/youtube-music/src/previous-track.tsx
  extensions/youtube-music/src/utils.ts
  extensions/youtube-music/tsconfig.json
Labels: new extension

#2589 [Cloudflare] Add pagination support for list zones call
  extensions/cloudflare/CHANGELOG.md
  extensions/cloudflare/src/service.ts
  extensions/cloudflare/src/view-sites.tsx
Labels: extension fix / improvement, OP is contributor

#2610 [Cloudflare] Hotfix: Fix exception when having unsupported caching format
  extensions/cloudflare/CHANGELOG.md
  extensions/cloudflare/src/service.ts
Labels: extension fix / improvement, OP is contributor

#2562 Brew update
  extensions/brew/.eslintignore
  extensions/brew/CHANGELOG.md
  extensions/brew/assets/askpass.sh
  extensions/brew/package-lock.json
  extensions/brew/package.json
  extensions/brew/src/brew.ts
  extensions/brew/src/components/actionPanels.tsx
  extensions/brew/src/components/runInTerminal.ts
  extensions/brew/src/search.tsx
Labels: extension fix / improvement

#2613 Rain Radars improvement: Add 10 min interval to avoid caching and over-fetching images.
  extensions/rain-radars/CHANGELOG.md
  extensions/rain-radars/src/components/radar-grid-layout.tsx
Labels: extension fix / improvement, OP is author

#2615 Bug fix: Text truncation and unable to click on the item
  extensions/zen-mode/CHANGELOG.md
  extensions/zen-mode/src/show-my-modes.tsx
Labels: extension fix / improvement, OP is author

#2614 Fix bug of Bing Wallpaper extension
  extensions/bing-wallpaper/CHANGELOG.md
  extensions/bing-wallpaper/package.json
  extensions/bing-wallpaper/src/auto-random-bing-wallpaper.ts
  extensions/bing-wallpaper/src/auto-switch-bing-wallpaper.ts
  extensions/bing-wallpaper/src/components/actions-downloaded-bing-wallpaper.tsx
  extensions/bing-wallpaper/src/utils/common-utils.ts
Labels: extension fix / improvement, OP is author

#2575 [iTranslate]: Optimize Experience
  extensions/itranslate/CHANGELOG.md
  extensions/itranslate/package.json
  extensions/itranslate/src/itranslate.shared.tsx
  extensions/itranslate/src/itranslate.tsx
  extensions/itranslate/src/types.d.ts
Labels: extension fix / improvement, OP is author

#2621 Icons8 Minor Bug Fix
  extensions/icons8/CHANGELOG.md
  extensions/icons8/src/components/actions.tsx
  extensions/icons8/src/hooks/api.ts
  extensions/icons8/src/utils/storage.tsx
Labels: extension fix / improvement, OP is author

#2619 Fix bug in Text Shortcuts extension
  extensions/text-shortcuts/CHANGELOG.md
  extensions/text-shortcuts/package-lock.json
  extensions/text-shortcuts/package.json
  extensions/text-shortcuts/src/build-in-shortcuts/annotation.ts
  extensions/text-shortcuts/src/build-in-shortcuts/case.ts
  extensions/text-shortcuts/src/build-in-shortcuts/format.ts
  extensions/text-shortcuts/src/build-in-shortcuts/markdown.ts
  extensions/text-shortcuts/src/util/shortcut.ts
Labels: extension fix / improvement, OP is author

#2617 [Bibmanager] TagList and Link in Metadata
  extensions/bibmanager/CHANGELOG.md
  extensions/bibmanager/assets/bibm_list.py
  extensions/bibmanager/package.json
  extensions/bibmanager/src/ListBibmItem.tsx
  extensions/bibmanager/src/types.tsx
Labels: extension fix / improvement, OP is author

#2611 [Hypersonic] Also load databaseUrl from localStorage
  extensions/hypersonic/src/hooks/use-todos.ts
Labels: extension fix / improvement

#2588 New extension: ColorSlurp
  extensions/colorslurp/.eslintrc.json
  extensions/colorslurp/.gitignore
  extensions/colorslurp/.prettierrc
  extensions/colorslurp/CHANGELOG.md
  extensions/colorslurp/README.md
  extensions/colorslurp/assets/colorslurp-icon.png
  extensions/colorslurp/metadata/screenshot-1.png
  extensions/colorslurp/package-lock.json
  extensions/colorslurp/package.json
  extensions/colorslurp/src/check-contrast.tsx
  extensions/colorslurp/src/edit-color.tsx
  extensions/colorslurp/src/show-magnifier.tsx
  extensions/colorslurp/src/show-palettes.tsx
  extensions/colorslurp/src/show-settings.tsx
  extensions/colorslurp/src/utilities.ts
  extensions/colorslurp/tsconfig.json
Labels: new extension

#2635 Improved the toast when ColorSlurp isn't installed
  extensions/colorslurp/CHANGELOG.md
  extensions/colorslurp/src/utilities.ts
Labels: extension fix / improvement, OP is author

#2618 [Cloudflare] Switch to API tokens for authorization
  extensions/cloudflare/CHANGELOG.md
  extensions/cloudflare/README.md
  extensions/cloudflare/package.json
  extensions/cloudflare/src/service.ts
  extensions/cloudflare/src/utils.ts
  extensions/cloudflare/src/view-cache-purge.tsx
  extensions/cloudflare/src/view-members.tsx
  extensions/cloudflare/src/view-pages.tsx
  extensions/cloudflare/src/view-sites.tsx
Labels: extension fix / improvement, OP is contributor

#2616 Brew: Add copy/run command actions to oudated actions
  extensions/brew/package-lock.json
  extensions/brew/src/brew.ts
  extensions/brew/src/components/actionPanels.tsx
  extensions/brew/src/components/actions.tsx
  extensions/brew/src/upgrade.tsx
Labels: extension fix / improvement, OP is author

#2627 feat(linear): add issue custom copy action
  extensions/linear/package.json
  extensions/linear/src/components/IssueActions/CopyToClipboardSection.tsx
Labels: extension fix / improvement, OP is author

#2658 vercast: remove unnecessary author text in markdown
  extensions/vercast/src/markdown/get-deployment-markdown.tsx
Labels: extension fix / improvement

#2655 Downloads manager
  extensions/downloads-manager/.eslintrc.json
  extensions/downloads-manager/.gitignore
  extensions/downloads-manager/.prettierrc
  extensions/downloads-manager/CHANGELOG.md
  extensions/downloads-manager/README.md
  extensions/downloads-manager/assets/downloads.png
  extensions/downloads-manager/metadata/downloads-manager-1.png
  extensions/downloads-manager/package-lock.json
  extensions/downloads-manager/package.json
  extensions/downloads-manager/src/manage-downloads.tsx
  extensions/downloads-manager/src/open-latest-download.tsx
  extensions/downloads-manager/src/utils.ts
  extensions/downloads-manager/tsconfig.json
Labels: new extension

#2581 Monse: access your bank accounts in Raycast
  extensions/monse/.eslintrc.json
  extensions/monse/.gitignore
  extensions/monse/.prettierrc
  extensions/monse/CHANGELOG.md
  extensions/monse/README.md
  extensions/monse/assets/commands-icon.png
  extensions/monse/assets/create-new-token.png
  extensions/monse/metadata/monse-1.png
  extensions/monse/metadata/monse-2.png
  extensions/monse/metadata/monse-3.png
  extensions/monse/package-lock.json
  extensions/monse/package.json
  extensions/monse/src/transactions.tsx
  extensions/monse/src/utils/numbers.ts
  extensions/monse/src/utils/preferences.ts
  extensions/monse/src/utils/types.ts
  extensions/monse/tsconfig.json
Labels: new extension

#2651 New Extension: Search Ansible documentation
  extensions/ansible-documentation/.eslintrc.json
  extensions/ansible-documentation/.gitignore
  extensions/ansible-documentation/.prettierrc
  extensions/ansible-documentation/CHANGELOG.md
  extensions/ansible-documentation/README.md
  extensions/ansible-documentation/assets/command-icon.png
  extensions/ansible-documentation/package-lock.json
  extensions/ansible-documentation/package.json
  extensions/ansible-documentation/src/docs/en.json
  extensions/ansible-documentation/src/hooks/useFetcher.ts
  extensions/ansible-documentation/src/search-ansible-documentation.tsx
  extensions/ansible-documentation/src/types/index.ts
  extensions/ansible-documentation/tsconfig.json
Labels: new extension

#2650 Added extension "Statamic Docs"
  extensions/statamic-docs/.eslintrc.json
  extensions/statamic-docs/.gitignore
  extensions/statamic-docs/.prettierrc
  extensions/statamic-docs/CHANGELOG.md
  extensions/statamic-docs/README.md
  extensions/statamic-docs/assets/command-icon.png
  extensions/statamic-docs/metadata/statamic-docs-1.png
  extensions/statamic-docs/metadata/statamic-docs-2.png
  extensions/statamic-docs/package-lock.json
  extensions/statamic-docs/package.json
  extensions/statamic-docs/src/documentation/3.x.json
  extensions/statamic-docs/src/statamic.tsx
  extensions/statamic-docs/tsconfig.json
Labels: new extension

#2649 New extension: FileZilla
  extensions/filezilla/.eslintrc.json
  extensions/filezilla/.gitignore
  extensions/filezilla/.prettierrc
  extensions/filezilla/CHANGELOG.md
  extensions/filezilla/assets/icon.png
  extensions/filezilla/metadata/filezilla-1.png
  extensions/filezilla/metadata/filezilla-2.png
  extensions/filezilla/package-lock.json
  extensions/filezilla/package.json
  extensions/filezilla/src/list-saved-servers.tsx
  extensions/filezilla/src/open-site-manager.tsx
  extensions/filezilla/src/show-latest-connections.tsx
  extensions/filezilla/src/types.ts
  extensions/filezilla/src/utils.tsx
  extensions/filezilla/tsconfig.json
Labels: new extension

#2567 New Extension: esa search
  extensions/esa-search/.eslintrc.json
  extensions/esa-search/.gitignore
  extensions/esa-search/.prettierrc
  extensions/esa-search/CHANGELOG.md
  extensions/esa-search/README.md
  extensions/esa-search/assets/icon.png
  extensions/esa-search/metadata/screenshot-01.png
  extensions/esa-search/metadata/screenshot-02.png
  extensions/esa-search/metadata/screenshot-03.png
  extensions/esa-search/package-lock.json
  extensions/esa-search/package.json
  extensions/esa-search/src/@types/types.d.ts
  extensions/esa-search/src/components/DropDown.tsx
  extensions/esa-search/src/components/ListDetail.tsx
  extensions/esa-search/src/createPost.tsx
  extensions/esa-search/src/searchPost.tsx
  extensions/esa-search/src/utils/constants.ts
  extensions/esa-search/tsconfig.json
Labels: new extension

#2662 Docker: Added a way to configure the socket path
  extensions/docker/CHANGELOG.md
  extensions/docker/package.json
  extensions/docker/src/container_list.tsx
  extensions/docker/src/docker/dockerode.ts
  extensions/docker/src/image_detail.tsx
  extensions/docker/src/image_list.tsx
  extensions/docker/src/projects_list.tsx
Labels: extension fix / improvement

#2289 Add new extension: dlmoji
  extensions/dlmoji/.eslintrc.json
  extensions/dlmoji/.gitignore
  extensions/dlmoji/.prettierignore
  extensions/dlmoji/.prettierrc
  extensions/dlmoji/CHANGELOG.md
  extensions/dlmoji/README.md
  extensions/dlmoji/assets/Config-Panel.png
  extensions/dlmoji/assets/Main-Panel.png
  extensions/dlmoji/assets/dlmoji-icon.png
  extensions/dlmoji/metadata/dlmoji-1.png
  extensions/dlmoji/metadata/dlmoji-2.png
  extensions/dlmoji/metadata/dlmoji-3.png
  extensions/dlmoji/metadata/dlmoji-4.png
  extensions/dlmoji/metadata/dlmoji-5.png
  extensions/dlmoji/package-lock.json
  extensions/dlmoji/package.json
  extensions/dlmoji/src/TranslateResult.tsx
  extensions/dlmoji/src/api.tsx
  extensions/dlmoji/src/consts.tsx
  extensions/dlmoji/src/dlmoji.tsx
  extensions/dlmoji/src/formatter.tsx
  extensions/dlmoji/src/storage.tsx
  extensions/dlmoji/src/types.d.ts
  extensions/dlmoji/src/utils.ts
  extensions/dlmoji/tsconfig.json
Labels: new extension

#2667 fix: regression with Docker extension using default socketPath
  extensions/docker/CHANGELOG.md
  extensions/docker/src/docker/dockerode.ts
Labels: extension fix / improvement, OP is author

#2670 Extension – [Headlines] : fixed readme
  extensions/headlines/README.md
Labels: extension fix / improvement

#2674 [Bibmanager] Bug fix for outdated state
  extensions/bibmanager/CHANGELOG.md
  extensions/bibmanager/src/ListBibmItem.tsx
  extensions/bibmanager/src/index.tsx
  extensions/bibmanager/src/types.tsx
Labels: extension fix / improvement, OP is author

#2643 New extension : Open in Visual Studio Code
  extensions/open-in-visual-studio-code/.eslintrc.json
  extensions/open-in-visual-studio-code/.gitignore
  extensions/open-in-visual-studio-code/.prettierrc
  extensions/open-in-visual-studio-code/CHANGELOG.md
  extensions/open-in-visual-studio-code/README.md
  extensions/open-in-visual-studio-code/assets/icon.png
  extensions/open-in-visual-studio-code/package-lock.json
  extensions/open-in-visual-studio-code/package.json
  extensions/open-in-visual-studio-code/src/index.ts
  extensions/open-in-visual-studio-code/tsconfig.json
Labels: new extension

#2688 [Bibmanager] add action to paste content
  extensions/bibmanager/CHANGELOG.md
  extensions/bibmanager/package.json
  extensions/bibmanager/src/ListBibmItem.tsx
Labels: extension fix / improvement, OP is author

#2679 [iTranslate]: Add two translation provider options & new icon
  extensions/itranslate/CHANGELOG.md
  extensions/itranslate/README.md
  extensions/itranslate/assets/aliyun.png
  extensions/itranslate/assets/googleCouldTranslation.png
  extensions/itranslate/assets/itranslate-icon.png
  extensions/itranslate/assets/itranslate-icon@dark.png
  extensions/itranslate/package-lock.json
  extensions/itranslate/package.json
  extensions/itranslate/src/TranslateError.tsx
  extensions/itranslate/src/const.ts
  extensions/itranslate/src/itranslate.shared.tsx
  extensions/itranslate/src/types.d.ts
Labels: extension fix / improvement, OP is author

#2668 [Xcode] Add Project Favorites & Swift Package Dependencies
  extensions/xcode/CHANGELOG.md
  extensions/xcode/assets/download-xcode.png
  extensions/xcode/package-lock.json
  extensions/xcode/package.json
  extensions/xcode/src/add-swift-package.command.tsx
  extensions/xcode/src/components/xcode-add-swift-package/xcode-add-swift-package-form.component.tsx
  extensions/xcode/src/components/xcode-add-swift-package/xcode-add-swift-package-select-xcode-project-list.component.tsx
  extensions/xcode/src/components/xcode-installation-verifier/xcode-installation-verifier.component.tsx
  extensions/xcode/src/components/xcode-project-list/xcode-project-list-item.component.tsx
  extensions/xcode/src/components/xcode-project-list/xcode-project-list-search-bar-accessory.component.tsx
  extensions/xcode/src/components/xcode-project-list/xcode-project-list.component.tsx
  extensions/xcode/src/components/xcode-projects-menu-bar/xcode-projects-menu-bar.component.tsx
  extensions/xcode/src/components/xcode-release-list/xcode-release-list.component.tsx
  extensions/xcode/src/components/xcode-simulator-application-list/xcode-simulator-application-list.component.tsx
  extensions/xcode/src/components/xcode-simulator-list/xcode-simulator-list.component.tsx
  extensions/xcode/src/components/xcode-view-swift-package-resolved/xcode-swift-package-resolved-entry-list-item-detail.component.tsx
  extensions/xcode/src/components/xcode-view-swift-package-resolved/xcode-swift-package-resolved-entry-list-item.component.tsx
  extensions/xcode/src/components/xcode-view-swift-package-resolved/xcode-swift-package-resolved-entry-list.component.tsx
  extensions/xcode/src/components/xcode-view-swift-package-resolved/xcode-view-swift-package-resolved.component.tsx
  extensions/xcode/src/create-swift-package.command.tsx
  extensions/xcode/src/manage-simulators.command.tsx
  extensions/xcode/src/models/swift-package-resolved/xcode-swift-package-resolved-entry.model.ts
  extensions/xcode/src/models/swift-package-resolved/xcode-swift-package-resolved.model.ts
  extensions/xcode/src/services/xcode-project-favorite.service.ts
  extensions/xcode/src/services/xcode-swift-package-resolved.service.ts
  extensions/xcode/src/services/xcode.service.ts
  extensions/xcode/src/shared/fetch-open-graph-image-url.ts
  extensions/xcode/src/shared/fs-async.ts
  extensions/xcode/src/show-swift-package-dependencies.command.tsx
Labels: extension fix / improvement, OP is author

#2642 add playwright-docs extension
  extensions/playwright-docs/.eslintrc.json
  extensions/playwright-docs/.prettierrc
  extensions/playwright-docs/CHANGELOG.md
  extensions/playwright-docs/assets/icon.png
  extensions/playwright-docs/package-lock.json
  extensions/playwright-docs/package.json
  extensions/playwright-docs/src/playwright-docs.tsx
  extensions/playwright-docs/tsconfig.json
Labels: new extension

#2633 New extension: GHPic
  extensions/gh-pic/.eslintrc.json
  extensions/gh-pic/.gitignore
  extensions/gh-pic/.prettierrc
  extensions/gh-pic/CHANGELOG.md
  extensions/gh-pic/README.md
  extensions/gh-pic/assets/ghpic-icon.png
  extensions/gh-pic/package-lock.json
  extensions/gh-pic/package.json
  extensions/gh-pic/src/index.tsx
  extensions/gh-pic/tsconfig.json
Labels: new extension

#2645 Added Raycast extension ODIN based on commit fb73a4fcbcf8026afb06652c…
  extensions/odin/.eslintrc.json
  extensions/odin/.gitignore
  extensions/odin/.prettierrc
  extensions/odin/CHANGELOG.md
  extensions/odin/README.md
  extensions/odin/assets/command-icon.png
  extensions/odin/assets/screenshot-allmodes.png
  extensions/odin/assets/screenshot-darkmode.png
  extensions/odin/assets/screenshot-lightmode.png
  extensions/odin/metadata/odin-1.png
  extensions/odin/metadata/odin-2.png
  extensions/odin/package-lock.json
  extensions/odin/package.json
  extensions/odin/src/constants/OdinConstants.ts
  extensions/odin/src/helpers/OdinHelper.ts
  extensions/odin/src/models/OdinAlarm.ts
  extensions/odin/src/models/OdinAlarmItemProps.ts
  extensions/odin/src/odin-alarms.tsx
  extensions/odin/src/views/odin-alarm-list-item.tsx
  extensions/odin/src/views/odin-alarms-view.tsx
  extensions/odin/tsconfig.json
Labels: new extension

#2559 New Extension: OSS Browser
  extensions/oss-browser/.eslintrc.json
  extensions/oss-browser/.gitignore
  extensions/oss-browser/.prettierrc
  extensions/oss-browser/CHANGELOG.md
  extensions/oss-browser/README.md
  extensions/oss-browser/assets/file.svg
  extensions/oss-browser/assets/oss-browser.png
  extensions/oss-browser/assets/oss-browser@dark.png
  extensions/oss-browser/metadata/oss-browser-1.png
  extensions/oss-browser/metadata/oss-browser-2.png
  extensions/oss-browser/metadata/oss-browser-3.png
  extensions/oss-browser/metadata/oss-browser-4.png
  extensions/oss-browser/metadata/oss-browser-5.png
  extensions/oss-browser/package-lock.json
  extensions/oss-browser/package.json
  extensions/oss-browser/src/components/common.tsx
  extensions/oss-browser/src/components/file.tsx
  extensions/oss-browser/src/components/folder.tsx
  extensions/oss-browser/src/const.ts
  extensions/oss-browser/src/oss-manager.tsx
  extensions/oss-browser/src/types.d.ts
  extensions/oss-browser/src/utils.tsx
  extensions/oss-browser/tsconfig.json
Labels: new extension

#2626 [Wikipedia] Added show details view for wikipedia page.
  extensions/wikipedia/CHANGELOG.md
  extensions/wikipedia/changelog.md
  extensions/wikipedia/package.json
  extensions/wikipedia/src/search-page.tsx
  extensions/wikipedia/src/show-details-page.tsx
  extensions/wikipedia/src/wikipedia.ts
Labels: extension fix / improvement

#2702 Update Vault Extension
  extensions/vault/CHANGELOG.md
  extensions/vault/metadata/vault-1.png
  extensions/vault/metadata/vault-2.png
  extensions/vault/package-lock.json
  extensions/vault/package.json
  extensions/vault/src/api/paths.ts
  extensions/vault/src/api/secret.ts
  extensions/vault/src/api/secretEngine.ts
  extensions/vault/src/components/SecretKeys.tsx
Labels: extension fix / improvement, OP is author

#2637 New extension: Android
  extensions/android/.eslintrc.json
  extensions/android/CHANGELOG.md
  extensions/android/README.md
  extensions/android/assets/android-emulator.png
  extensions/android/assets/android-os.png
  extensions/android/assets/command-icon.png
  extensions/android/assets/list-android.png
  extensions/android/package-lock.json
  extensions/android/package.json
  extensions/android/src/Utils.tsx
  extensions/android/src/list-android.tsx
  extensions/android/src/list-emulators.tsx
  extensions/android/tsconfig.json
Labels: new extension

#2698 [Bibmanager] New icon
  extensions/bibmanager/CHANGELOG.md
  extensions/bibmanager/assets/command-icon.png
Labels: extension fix / improvement, OP is author

#2682 Initial checkin for Readymetrics Raycast extension.
  extensions/readymetrics/.eslintrc.json
  extensions/readymetrics/.gitignore
  extensions/readymetrics/.prettierrc
  extensions/readymetrics/CHANGELOG.md
  extensions/readymetrics/README.md
  extensions/readymetrics/assets/book.svg
  extensions/readymetrics/assets/bullseye.svg
  extensions/readymetrics/assets/calendar-check.svg
  extensions/readymetrics/assets/certificate.svg
  extensions/readymetrics/assets/chess-board.svg
  extensions/readymetrics/assets/clock.svg
  extensions/readymetrics/assets/compass.svg
  extensions/readymetrics/assets/face-smile.svg
  extensions/readymetrics/assets/flag-checkered.svg
  extensions/readymetrics/assets/lightbulb.svg
  extensions/readymetrics/assets/list-icon.png
  extensions/readymetrics/assets/microphone-alt.svg
  extensions/readymetrics/assets/mug-hot.svg
  extensions/readymetrics/assets/pencil.svg
  extensions/readymetrics/assets/readymetrics-icon.png
  extensions/readymetrics/assets/rocket.svg
  extensions/readymetrics/assets/seedling.svg
  extensions/readymetrics/assets/signs-post.svg
  extensions/readymetrics/assets/tag.svg
  extensions/readymetrics/assets/temperature-half.svg
  extensions/readymetrics/package-lock.json
  extensions/readymetrics/package.json
  extensions/readymetrics/src/client/readymetrics.ts
  extensions/readymetrics/src/components/CheckinListItem.tsx
  extensions/readymetrics/src/list.tsx
  extensions/readymetrics/tsconfig.json
Labels: new extension

#2723 Update readme and metadata.
  extensions/readymetrics/CHANGELOG.md
  extensions/readymetrics/README.md
  extensions/readymetrics/metadata/readymetrics-raycast.png
Labels: extension fix / improvement, OP is author

#2640 New Extension: TinyPNG
  extensions/tinypng/.eslintrc.json
  extensions/tinypng/.gitignore
  extensions/tinypng/.prettierrc
  extensions/tinypng/CHANGELOG.md
  extensions/tinypng/README.md
  extensions/tinypng/assets/tinypng-icon.png
  extensions/tinypng/metadata/screenshot-1.png
  extensions/tinypng/package-lock.json
  extensions/tinypng/package.json
  extensions/tinypng/src/compressImages.ts
  extensions/tinypng/tsconfig.json
Labels: new extension

#2677 New Extension: Heroicons
  extensions/heroicons/.eslintrc.json
  extensions/heroicons/.gitignore
  extensions/heroicons/.prettierrc
  extensions/heroicons/CHANGELOG.md
  extensions/heroicons/README.md
  extensions/heroicons/assets/command-icon.png
  extensions/heroicons/metadata/hero-image.png
  extensions/heroicons/metadata/heroicons-search-1.png
  extensions/heroicons/metadata/heroicons-search-2.png
  extensions/heroicons/metadata/heroicons-search-3.png
  extensions/heroicons/metadata/heroicons-search-4.png
  extensions/heroicons/package-lock.json
  extensions/heroicons/package.json
  extensions/heroicons/src/heroicons.ts
  extensions/heroicons/src/icons.tsx
  extensions/heroicons/tsconfig.json
Labels: new extension

#2726 Todo List: Add light/dark variants for menu bar icon.
  extensions/todo-list/assets/command-icon-menubar-dark.png
  extensions/todo-list/assets/command-icon-menubar-light.png
  extensions/todo-list/assets/command-icon-menubar.png
  extensions/todo-list/assets/command-icon.png
  extensions/todo-list/changelog.md
  extensions/todo-list/src/menu_bar.tsx
Labels: extension fix / improvement

#2046 add extension nft-search
  extensions/nft-search/.eslintrc.json
  extensions/nft-search/.gitignore
  extensions/nft-search/.prettierrc
  extensions/nft-search/CHANGELOG.md
  extensions/nft-search/README.md
  extensions/nft-search/assets/command-icon-round.png
  extensions/nft-search/assets/command-icon-square.png
  extensions/nft-search/assets/command-icon.png
  extensions/nft-search/assets/discord.png
  extensions/nft-search/assets/ig.png
  extensions/nft-search/assets/list-icon.png
  extensions/nft-search/assets/twitter.png
  extensions/nft-search/media/nft_search_1.png
  extensions/nft-search/metadata/nft_search_1.png
  extensions/nft-search/package-lock.json
  extensions/nft-search/package.json
  extensions/nft-search/src/index.tsx
  extensions/nft-search/tsconfig.json
Labels: new extension

#2692 convert: add convert extension
  extensions/convert/.eslintrc.json
  extensions/convert/.gitignore
  extensions/convert/.prettierrc
  extensions/convert/CHANGELOG.md
  extensions/convert/README.md
  extensions/convert/assets/icon.png
  extensions/convert/metadata/web-converter-2.png
  extensions/convert/metadata/web-converter-3.png
  extensions/convert/metadata/web-converter-4.png
  extensions/convert/metadata/web-converter-5.png
  extensions/convert/metadata/web-converter-7.png
  extensions/convert/package-lock.json
  extensions/convert/package.json
  extensions/convert/src/conversions.ts
  extensions/convert/src/convert.tsx
  extensions/convert/tsconfig.json
Labels: new extension

#2693 Add Yopass Extension
  extensions/yopass/.editorconfig
  extensions/yopass/.eslintrc.json
  extensions/yopass/.gitignore
  extensions/yopass/.prettierrc
  extensions/yopass/CHANGELOG.md
  extensions/yopass/README.md
  extensions/yopass/assets/icon.png
  extensions/yopass/metadata/yopass-1.png
  extensions/yopass/package-lock.json
  extensions/yopass/package.json
  extensions/yopass/src/encryptmessage.tsx
  extensions/yopass/tsconfig.json
Labels: new extension

#2733 [Fix/Improve Extension] Heroicons for Raycast
  extensions/heroicons/CHANGELOG.md
  extensions/heroicons/src/heroicons.ts
  extensions/heroicons/src/icons.tsx
Labels: extension fix / improvement, OP is author

#2700 Add Link Cleaner Extension
  extensions/link-cleaner/.eslintrc.json
  extensions/link-cleaner/.gitignore
  extensions/link-cleaner/.prettierrc
  extensions/link-cleaner/.vscode/settings.json
  extensions/link-cleaner/CHANGELOG.md
  extensions/link-cleaner/README.md
  extensions/link-cleaner/assets/command-icon.png
  extensions/link-cleaner/package-lock.json
  extensions/link-cleaner/package.json
  extensions/link-cleaner/src/main.ts
  extensions/link-cleaner/src/rules.ts
  extensions/link-cleaner/tsconfig.json
Labels: new extension

#2738 add toggle virtual cam command
  extensions/obs-control/CHANGELOG.md
  extensions/obs-control/package.json
  extensions/obs-control/src/toggle-virtual-cam.tsx
Labels: extension fix / improvement

#2739 [Fix/Improve Extension] Heroicons for Raycast
  extensions/heroicons/CHANGELOG.md
  extensions/heroicons/package.json
  extensions/heroicons/src/icons.tsx
Labels: extension fix / improvement, OP is author
