Repository raycast/extensions, pull requests merged in 2022-02, with the labels that each got.

#731 add the system-monitor extension
  extensions/system-monitor/.eslintrc.json
  extensions/system-monitor/.gitignore
  extensions/system-monitor/.prettierrc
  extensions/system-monitor/assets/command-icon.png
  extensions/system-monitor/package-lock.json
  extensions/system-monitor/package.json
  extensions/system-monitor/src/system-monitor.tsx
  extensions/system-monitor/tsconfig.json
Labels: new extension, accepted

#741 datadog: add dropdown to select host
  extensions/datadog/package.json
  extensions/datadog/src/command-list-apm.tsx
  extensions/datadog/src/command-list-dashboards.tsx
  extensions/datadog/src/datadog-api.ts
Labels: extension fix / improvement, accepted

#760 add color rgb feature (homeassistant)
  extensions/homeassistant/package-lock.json
  extensions/homeassistant/package.json
  extensions/homeassistant/src/components/light.tsx
  extensions/homeassistant/src/components/states.tsx
  extensions/homeassistant/src/constants.tsx
Labels: extension fix / improvement, accepted

#746 Add "Kaomoji Search" extension
  extensions/kaomoji-search/.eslintrc.json
  extensions/kaomoji-search/.gitignore
  extensions/kaomoji-search/.prettierrc
  extensions/kaomoji-search/LICENSE
  extensions/kaomoji-search/README.md
  extensions/kaomoji-search/assets/command-icon.png
  extensions/kaomoji-search/assets/command-icon@dark.png
  extensions/kaomoji-search/assets/preview/demo.gif
  extensions/kaomoji-search/package-lock.json
  extensions/kaomoji-search/package.json
  extensions/kaomoji-search/src/asciilib.d.ts
  extensions/kaomoji-search/src/index.tsx
  extensions/kaomoji-search/tsconfig.json
Labels: new extension, accepted

#787 Wikipedia: Used escaped title in URL
  extensions/wikipedia/src/search-page.tsx
  extensions/wikipedia/tsconfig.json
Labels: extension fix / improvement

#788 Home Assistant: toggle switch entities
  extensions/homeassistant/package-lock.json
  extensions/homeassistant/package.json
  extensions/homeassistant/src/components/states.tsx
  extensions/homeassistant/src/haapi.ts
  extensions/homeassistant/src/switches.tsx
Labels: extension fix / improvement

#794 CoinMarketCap: Improve error handling.
  extensions/coinmarketcap-crypto-crawler/src/index.tsx
  extensions/coinmarketcap-crypto-crawler/src/refresh.tsx
  extensions/coinmarketcap-crypto-crawler/src/utils/index.ts
Labels: extension fix / improvement

#797 fix: use params when fetching crypto list.
  extensions/coinmarketcap-crypto-crawler/src/api/index.ts
Labels: extension fix / improvement, accepted

#793 Spotify Controls: shuffle and repeat
  extensions/spotify-controls/package.json
  extensions/spotify-controls/src/repeat.ts
  extensions/spotify-controls/src/shuffle.ts
Labels: extension fix / improvement, accepted

#810 Add new extension: Word Search
  extensions/word-search/.eslintrc.json
  extensions/word-search/.prettierrc
  extensions/word-search/assets/command-icon.png
  extensions/word-search/media/rhyme.png
  extensions/word-search/media/synonym-1.png
  extensions/word-search/media/synonym-2.png
  extensions/word-search/package-lock.json
  extensions/word-search/package.json
  extensions/word-search/readme.md
  extensions/word-search/src/api.ts
  extensions/word-search/src/search-results.tsx
  extensions/word-search/src/types.ts
  extensions/word-search/src/word-antonym-search.tsx
  extensions/word-search/src/word-rhyme-search.tsx
  extensions/word-search/src/word-synonym-search.tsx
  extensions/word-search/tsconfig.json
Labels: new extension, accepted

#804 Add bazinga-tools extension
  extensions/bazinga-tools/.eslintrc.json
  extensions/bazinga-tools/.prettierrc
  extensions/bazinga-tools/assets/command-icon.png
  extensions/bazinga-tools/package-lock.json
  extensions/bazinga-tools/package.json
  extensions/bazinga-tools/src/bazinga.tsx
  extensions/bazinga-tools/tsconfig.json
Labels: new extension, accepted

#775 [Bitwarden] add ability to paste a password
  extensions/bitwarden/package-lock.json
  extensions/bitwarden/package.json
  extensions/bitwarden/src/hooks.ts
  extensions/bitwarden/src/search.tsx
  extensions/bitwarden/src/types.ts
Labels: extension fix / improvement, accepted

#679 Add "Ethereum Utils" extension
  extensions/ethereum-utils/.eslintrc.json
  extensions/ethereum-utils/.prettierrc.json
  extensions/ethereum-utils/assets/icon.png
  extensions/ethereum-utils/package-lock.json
  extensions/ethereum-utils/package.json
  extensions/ethereum-utils/src/checksum-address.tsx
  extensions/ethereum-utils/src/convert-decimals.tsx
  extensions/ethereum-utils/src/decode-abi.tsx
  extensions/ethereum-utils/src/decode-event-topic.tsx
  extensions/ethereum-utils/src/decode-function-signature.tsx
  extensions/ethereum-utils/src/encode-abi.tsx
  extensions/ethereum-utils/src/search-chains.tsx
  extensions/ethereum-utils/src/service.ts
  extensions/ethereum-utils/src/utils.ts
  extensions/ethereum-utils/tsconfig.json
Labels: new extension, accepted

#742 Add Banca d'Italia exchange rates extension
  extensions/banca-d-italia-currency-converter/.eslintrc.json
  extensions/banca-d-italia-currency-converter/.prettierrc
  extensions/banca-d-italia-currency-converter/assets/command-icon.png
  extensions/banca-d-italia-currency-converter/package-lock.json
  extensions/banca-d-italia-currency-converter/package.json
  extensions/banca-d-italia-currency-converter/src/index.tsx
  extensions/banca-d-italia-currency-converter/tsconfig.json
Labels: new extension, accepted

#807 Fix VS Code recent projects extension
  extensions/visual-studio-code-recent-projects/assets/sql-wasm.wasm
  extensions/visual-studio-code-recent-projects/package-lock.json
  extensions/visual-studio-code-recent-projects/package.json
  extensions/visual-studio-code-recent-projects/src/db.ts
  extensions/visual-studio-code-recent-projects/src/index.tsx
  extensions/visual-studio-code-recent-projects/src/types.ts
Labels: extension fix / improvement, accepted

#813 Spotify Controls: Shuffle Play + Play
  extensions/spotify-controls/package.json
  extensions/spotify-controls/src/copyUrl.ts
  extensions/spotify-controls/src/nextTrack.ts
  extensions/spotify-controls/src/pause.ts
  extensions/spotify-controls/src/play.ts
  extensions/spotify-controls/src/playPause.ts
  extensions/spotify-controls/src/previousTrack.ts
  extensions/spotify-controls/src/repeat.ts
  extensions/spotify-controls/src/shuffle.ts
  extensions/spotify-controls/src/shufflePlay.ts
  extensions/spotify-controls/src/utils.ts
Labels: extension fix / improvement

#805 Figma File Search: Add error view
  extensions/figma-files/package.json
  extensions/figma-files/src/components/ErrorView.tsx
  extensions/figma-files/src/hooks/useProjectFiles.ts
  extensions/figma-files/src/index.tsx
Labels: extension fix / improvement, status: awaiting response from dev

#830 Add README file to Binance extension
  extensions/binance/README.md
Labels: extension fix / improvement

#767 Add Google Cloud Platform Search extension
  extensions/google-cloud-platform-search/.eslintrc.json
  extensions/google-cloud-platform-search/.prettierrc
  extensions/google-cloud-platform-search/README.md
  extensions/google-cloud-platform-search/assets/command-icon.png
  extensions/google-cloud-platform-search/package-lock.json
  extensions/google-cloud-platform-search/package.json
  extensions/google-cloud-platform-search/src/consoleProducts.tsx
  extensions/google-cloud-platform-search/src/documentationProducts.tsx
  extensions/google-cloud-platform-search/src/projects.tsx
  extensions/google-cloud-platform-search/src/searchConsoleProducts.tsx
  extensions/google-cloud-platform-search/src/searchDocumentationProducts.tsx
  extensions/google-cloud-platform-search/src/searchProjects.tsx
  extensions/google-cloud-platform-search/src/types.ts
  extensions/google-cloud-platform-search/src/useFetchWithCache.tsx
  extensions/google-cloud-platform-search/tsconfig.json
Labels: new extension, accepted

#751 feat(unsplash): create extension
  extensions/unsplash/.eslintrc.json
  extensions/unsplash/.prettierrc
  extensions/unsplash/README.md
  extensions/unsplash/assets/command-icon.png
  extensions/unsplash/assets/command-icon@dark.png
  extensions/unsplash/package-lock.json
  extensions/unsplash/package.json
  extensions/unsplash/src/collections.tsx
  extensions/unsplash/src/components/Actions.tsx
  extensions/unsplash/src/components/ActionsCollection.tsx
  extensions/unsplash/src/functions/copyFileToClipboard.ts
  extensions/unsplash/src/functions/saveImage.ts
  extensions/unsplash/src/functions/setWallpaper.ts
  extensions/unsplash/src/hooks/useLikes.ts
  extensions/unsplash/src/hooks/useRandom.ts
  extensions/unsplash/src/hooks/useSearch.ts
  extensions/unsplash/src/images.tsx
  extensions/unsplash/src/likes.tsx
  extensions/unsplash/src/random.tsx
  extensions/unsplash/src/types/index.d.ts
  extensions/unsplash/src/views/Details.tsx
  extensions/unsplash/src/views/DetailsCollections.tsx
  extensions/unsplash/tsconfig.json
Labels: new extension, accepted

#835 Improve Ploi Extension
  extensions/ploi/src/api/Server.ts
Labels: extension fix / improvement

#836 Add QR Code Generator extension
  extensions/qrcode-generator/.eslintrc.json
  extensions/qrcode-generator/.prettierrc
  extensions/qrcode-generator/README.md
  extensions/qrcode-generator/assets/command-icon.png
  extensions/qrcode-generator/package-lock.json
  extensions/qrcode-generator/package.json
  extensions/qrcode-generator/src/index.tsx
  extensions/qrcode-generator/tsconfig.json
Labels: new extension

#837 Unsplash update
  extensions/unsplash/package.json
  extensions/unsplash/src/functions/setWallpaper.ts
  extensions/unsplash/src/types/index.d.ts
Labels: extension fix / improvement

#838 Add version 9.x of the docs to laravel docs
  extensions/laravel-docs/package.json
  extensions/laravel-docs/src/documentation/9.x.json
  extensions/laravel-docs/src/index.tsx
Labels: extension fix / improvement

#841 Home Assistant: fix commanding with a trailing slash
  extensions/homeassistant/src/common.ts
Labels: extension fix / improvement

#844 Pinboard: Migrate to new Raycast API; improve add bookmark command
  extensions/pinboard/.eslintrc.json
  extensions/pinboard/package-lock.json
  extensions/pinboard/package.json
  extensions/pinboard/src/addBookmark.tsx
  extensions/pinboard/src/api.tsx
  extensions/pinboard/src/components.tsx
Labels: extension fix / improvement

#833 Sourcegraph: Feb 7, 2022 update
  extensions/sourcegraph/CHANGELOG.md
  extensions/sourcegraph/CONTRIBUTING.md
  extensions/sourcegraph/README.md
  extensions/sourcegraph/package-lock.json
  extensions/sourcegraph/package.json
  extensions/sourcegraph/src/components/search.tsx
  extensions/sourcegraph/src/sourcegraph/stream-search/index.ts
  extensions/sourcegraph/src/sourcegraph/stream-search/stream.ts
  package-lock.json
Labels: extension fix / improvement

#809 Add "Cheatsheets" extension
  extensions/cheatsheets/.eslintrc.json
  extensions/cheatsheets/.prettierrc.json
  extensions/cheatsheets/assets/icon.png
  extensions/cheatsheets/package-lock.json
  extensions/cheatsheets/package.json
  extensions/cheatsheets/src/service.ts
  extensions/cheatsheets/src/show-cheatsheets.tsx
  extensions/cheatsheets/src/utils.ts
  extensions/cheatsheets/tsconfig.json
Labels: new extension, accepted

#812 [UPDATE] fix crashing bug, typo in settings, error handling
  extensions/obsidian/package.json
  extensions/obsidian/src/createnote.tsx
Labels: extension fix / improvement, accepted

#819 Add "Diff Checker" extension
  extensions/diff-checker/.eslintrc.json
  extensions/diff-checker/.prettierrc.json
  extensions/diff-checker/assets/icon.png
  extensions/diff-checker/package-lock.json
  extensions/diff-checker/package.json
  extensions/diff-checker/src/check-diff.tsx
  extensions/diff-checker/src/utils.ts
  extensions/diff-checker/tsconfig.json
Labels: new extension, accepted

#723 Ray.so: Add Command for Server-Side generated images
  extensions/ray-so/package-lock.json
  extensions/ray-so/package.json
  extensions/ray-so/src/copy-image.tsx
  extensions/ray-so/src/create-a-snippet.tsx
Labels: extension fix / improvement, accepted

#859 feat(git-repos): Updated to the latest API and added appPicker preferences
  extensions/git-repos/package.json
  extensions/git-repos/src/list.tsx
  extensions/git-repos/src/utils.tsx
Labels: extension fix / improvement

#834 Add "Moji Dict" extension
  extensions/moji/.eslintrc.json
  extensions/moji/.prettierrc
  extensions/moji/assets/moji.png
  extensions/moji/package-lock.json
  extensions/moji/package.json
  extensions/moji/src/index.tsx
  extensions/moji/tsconfig.json
Labels: new extension, accepted

#847 feat(helm): add helm documentation support
  extensions/helm-docs/.eslintrc.json
  extensions/helm-docs/.prettierrc
  extensions/helm-docs/assets/helm.png
  extensions/helm-docs/assets/helm@dark.png
  extensions/helm-docs/package-lock.json
  extensions/helm-docs/package.json
  extensions/helm-docs/src/documentation/v2.14.0.json
  extensions/helm-docs/src/documentation/v2.16.7.json
  extensions/helm-docs/src/documentation/v3.8.0.json
  extensions/helm-docs/src/env.ts
  extensions/helm-docs/src/index.tsx
  extensions/helm-docs/src/types/algolia.ts
  extensions/helm-docs/tsconfig.json
Labels: new extension, accepted

#893 Add selected text to Change Case extension
  extensions/change-case/package-lock.json
  extensions/change-case/package.json
  extensions/change-case/src/change-case.tsx
Labels: extension fix / improvement

#864 Add Cyberduck extension
  extensions/cyberduck/.eslintrc.json
  extensions/cyberduck/.prettierrc
  extensions/cyberduck/assets/icon.png
  extensions/cyberduck/package-lock.json
  extensions/cyberduck/package.json
  extensions/cyberduck/src/db.tsx
  extensions/cyberduck/src/index.tsx
  extensions/cyberduck/src/types.ts
  extensions/cyberduck/src/utils.tsx
  extensions/cyberduck/tsconfig.json
Labels: new extension, accepted

#877 Add URL Tools extension
  extensions/url-tools/.eslintrc.json
  extensions/url-tools/.prettierrc
  extensions/url-tools/assets/command-icon.png
  extensions/url-tools/package-lock.json
  extensions/url-tools/package.json
  extensions/url-tools/src/decode.tsx
  extensions/url-tools/src/encode.tsx
  extensions/url-tools/src/util/clipboard.ts
  extensions/url-tools/tsconfig.json
Labels: new extension, accepted

#907 Update quick-open-project extension to latest API
  extensions/quick-open-project/README.md
  extensions/quick-open-project/package-lock.json
  extensions/quick-open-project/package.json
  extensions/quick-open-project/src/index.tsx
Labels: extension fix / improvement, OP is author

#883 feat: optimize user flow.
  extensions/coinmarketcap-crypto-crawler/package.json
  extensions/coinmarketcap-crypto-crawler/src/index.tsx
  extensions/coinmarketcap-crypto-crawler/src/utils/refreshCryptoList.tsx
  extensions/coinmarketcap-crypto-crawler/src/utils/useCoinPriceStore.tsx
Labels: extension fix / improvement

#913 codemod: Calendly
  extensions/calendly/package-lock.json
  extensions/calendly/package.json
  extensions/calendly/src/calendly.tsx
  extensions/calendly/src/services/calendly.ts
Labels: extension fix / improvement, OP is author

#644 Add "Quick Event" Extension
  extensions/quick-event/.eslintrc.json
  extensions/quick-event/.gitignore
  extensions/quick-event/.prettierrc
  extensions/quick-event/README.md
  extensions/quick-event/assets/command-icon.png
  extensions/quick-event/package-lock.json
  extensions/quick-event/package.json
  extensions/quick-event/src/dates.ts
  extensions/quick-event/src/index.tsx
  extensions/quick-event/src/types.ts
  extensions/quick-event/src/useCalendar.tsx
  extensions/quick-event/tsconfig.json
  extensions/quick-event/types/sherlockjs/index.d.ts
Labels: new extension

#911 Tower: Add `Open With` and migrate to new Raycast API
  extensions/tower/package-lock.json
  extensions/tower/package.json
  extensions/tower/src/command-my-repositiories.tsx
  extensions/tower/src/components/bookmark-list-item.tsx
  extensions/tower/src/components/bookmark-list.tsx
  extensions/tower/src/components/open-bookmark-action.tsx
  extensions/tower/src/dtos/bookmark-dto.ts
  extensions/tower/src/interfaces/tower-preferences.ts
  extensions/tower/src/utils.ts
  extensions/tower/tsconfig.json
Labels: extension fix / improvement

#908 extension: json to go
  extensions/json-to-go/.eslintrc.json
  extensions/json-to-go/.prettierrc
  extensions/json-to-go/assets/json.png
  extensions/json-to-go/package-lock.json
  extensions/json-to-go/package.json
  extensions/json-to-go/src/json-to-go.ts
  extensions/json-to-go/src/util/index.js
  extensions/json-to-go/tsconfig.json
Labels: new extension, accepted

#737 add chakra ui docs extension
  extensions/chakra-ui-docs/.eslintrc.json
  extensions/chakra-ui-docs/.prettierrc
  extensions/chakra-ui-docs/.vscode/settings.json
  extensions/chakra-ui-docs/assets/chakra.png
  extensions/chakra-ui-docs/package-lock.json
  extensions/chakra-ui-docs/package.json
  extensions/chakra-ui-docs/src/index.tsx
  extensions/chakra-ui-docs/tsconfig.json
Labels: new extension, accepted

#759 Update to Raindrop.io extension
  extensions/raindrop/src/utils.ts
Labels: extension fix / improvement, accepted, OP is author

#912 Displayplacer
  extensions/displayplacer/package-lock.json
  extensions/displayplacer/package.json
  extensions/displayplacer/src/components/clearLocalStorage.tsx
  extensions/displayplacer/src/components/help.tsx
  extensions/displayplacer/src/components/not-installed.tsx
  extensions/displayplacer/src/displayplacer.tsx
  extensions/displayplacer/src/preset1.ts
  extensions/displayplacer/src/preset2.ts
  extensions/displayplacer/src/preset3.ts
  extensions/displayplacer/src/preset4.ts
  extensions/displayplacer/src/preset5.ts
  extensions/displayplacer/src/types.d.ts
  extensions/displayplacer/src/utils/displayplacer.ts
  extensions/displayplacer/src/utils/loadPresetByIndex.ts
Labels: extension fix / improvement, accepted, OP is author

#901 Add connect-to-vpn extension
  extensions/connect-to-vpn/.eslintrc.json
  extensions/connect-to-vpn/.prettierrc
  extensions/connect-to-vpn/README.md
  extensions/connect-to-vpn/assets/command-icon.png
  extensions/connect-to-vpn/package-lock.json
  extensions/connect-to-vpn/package.json
  extensions/connect-to-vpn/src/index.tsx
  extensions/connect-to-vpn/tsconfig.json
Labels: new extension, accepted

#840 Add Pokédex extension
  extensions/pokedex/.eslintrc.json
  extensions/pokedex/.gitignore
  extensions/pokedex/LICENSE
  extensions/pokedex/README.md
  extensions/pokedex/assets/icon.png
  extensions/pokedex/media/example.png
  extensions/pokedex/package-lock.json
  extensions/pokedex/package.json
  extensions/pokedex/src/api/index.ts
  extensions/pokedex/src/components/detail.tsx
  extensions/pokedex/src/index.tsx
  extensions/pokedex/src/pokemon.json
  extensions/pokedex/src/types/index.ts
  extensions/pokedex/tsconfig.json
Labels: new extension, accepted

#756 Added a kagi search extension
  extensions/kagi-search/.eslintrc.json
  extensions/kagi-search/.gitignore
  extensions/kagi-search/.prettierrc
  extensions/kagi-search/assets/command-icon.png
  extensions/kagi-search/package-lock.json
  extensions/kagi-search/package.json
  extensions/kagi-search/src/index.tsx
  extensions/kagi-search/src/utils/handleResults.ts
  extensions/kagi-search/src/utils/resultUtils.ts
  extensions/kagi-search/src/utils/types.ts
  extensions/kagi-search/src/utils/useSearch.tsx
  extensions/kagi-search/tsconfig.json
Labels: new extension, accepted

#871 ✨roblox-games: added
  extensions/roblox-games/.eslintrc.json
  extensions/roblox-games/.prettierrc
  extensions/roblox-games/assets/command-icon.png
  extensions/roblox-games/package-lock.json
  extensions/roblox-games/package.json
  extensions/roblox-games/src/auth.ts
  extensions/roblox-games/src/icons.ts
  extensions/roblox-games/src/index.tsx
  extensions/roblox-games/src/search.ts
  extensions/roblox-games/src/types.d.ts
  extensions/roblox-games/tsconfig.json
Labels: new extension

#919 Sourcegraph: Feb 15th, 2022 update
  extensions/sourcegraph/CHANGELOG.md
  extensions/sourcegraph/package-lock.json
  extensions/sourcegraph/package.json
  extensions/sourcegraph/src/components/findNotebooks.tsx
  extensions/sourcegraph/src/components/search.tsx
  extensions/sourcegraph/src/components/selfHosted.tsx
  extensions/sourcegraph/src/components/shortcuts/index.ts
  extensions/sourcegraph/src/hooks/checkAuthEffect.tsx
  extensions/sourcegraph/src/sourcegraph/stream-search/index.ts
Labels: extension fix / improvement, accepted, OP is author

#786 Add Chinese Support
  extensions/search-notion/src/common/notionApi.ts
Labels: extension fix / improvement, accepted

#865 datadog notebooks, monitors and customizable domain
  extensions/datadog/assets/status/error.png
  extensions/datadog/assets/status/nodata@dark.png
  extensions/datadog/assets/status/nodata@light.png
  extensions/datadog/assets/status/ok.png
  extensions/datadog/assets/status/paused@dark.png
  extensions/datadog/assets/status/paused@light.png
  extensions/datadog/assets/status/skipped@dark.png
  extensions/datadog/assets/status/skipped@light.png
  extensions/datadog/assets/status/unknown@dark.png
  extensions/datadog/assets/status/unknown@light.png
  extensions/datadog/assets/status/warn.png
  extensions/datadog/package-lock.json
  extensions/datadog/package.json
  extensions/datadog/src/command-list-apm.tsx
  extensions/datadog/src/command-list-dashboards.tsx
  extensions/datadog/src/command-list-monitors.tsx
  extensions/datadog/src/command-list-notebooks.tsx
  extensions/datadog/src/datadog-api.ts
  extensions/datadog/src/useMonitors.ts
  extensions/datadog/src/useNotebooks.ts
  extensions/datadog/src/util.ts
Labels: extension fix / improvement, accepted

#881 add BetterDiscord-Store
  extensions/betterdiscord-search/.eslintrc.json
  extensions/betterdiscord-search/.prettierrc
  extensions/betterdiscord-search/assets/bd1.png
  extensions/betterdiscord-search/package-lock.json
  extensions/betterdiscord-search/package.json
  extensions/betterdiscord-search/src/index.tsx
  extensions/betterdiscord-search/tsconfig.json
Labels: new extension, accepted

#890 add facetime extension
  extensions/facetime/.eslintrc.json
  extensions/facetime/.prettierrc
  extensions/facetime/assets/facetime.png
  extensions/facetime/package-lock.json
  extensions/facetime/package.json
  extensions/facetime/src/call.tsx
  extensions/facetime/tsconfig.json
Labels: new extension, accepted

#916 Add Port Manager Extension
  extensions/port-manager/.eslintrc.json
  extensions/port-manager/.prettierrc
  extensions/port-manager/README.md
  extensions/port-manager/assets/command-icon.png
  extensions/port-manager/assets/icons.sketch
  extensions/port-manager/package-lock.json
  extensions/port-manager/package.json
  extensions/port-manager/src/actions/CopyCommandsActionMenu.tsx
  extensions/port-manager/src/actions/CopyInfoActionsMenu.tsx
  extensions/port-manager/src/actions/KillActionsMenu.tsx
  extensions/port-manager/src/actions/KillallActionsMenu.tsx
  extensions/port-manager/src/models/ProcessInfo.ts
  extensions/port-manager/src/models/constants.ts
  extensions/port-manager/src/models/interfaces.ts
  extensions/port-manager/src/open-ports.tsx
  extensions/port-manager/src/utilities/handleKill.ts
  extensions/port-manager/src/utilities/isDigit.ts
  extensions/port-manager/src/utilities/killProcess.ts
  extensions/port-manager/tsconfig.json
Labels: new extension, accepted

#923 feat: add preferences to Banca d'Italia Currency Converter
  extensions/banca-d-italia-currency-converter/package.json
  extensions/banca-d-italia-currency-converter/src/hooks.tsx
  extensions/banca-d-italia-currency-converter/src/index.tsx
Labels: extension fix / improvement, accepted, OP is author

#932 Add "F1 Standings" extension
  extensions/f1-standings/.eslintrc.json
  extensions/f1-standings/.prettierrc
  extensions/f1-standings/assets/1.png
  extensions/f1-standings/assets/10.png
  extensions/f1-standings/assets/11.png
  extensions/f1-standings/assets/12.png
  extensions/f1-standings/assets/13.png
  extensions/f1-standings/assets/14.png
  extensions/f1-standings/assets/15.png
  extensions/f1-standings/assets/16.png
  extensions/f1-standings/assets/17.png
  extensions/f1-standings/assets/18.png
  extensions/f1-standings/assets/19.png
  extensions/f1-standings/assets/2.png
  extensions/f1-standings/assets/20.png
  extensions/f1-standings/assets/21.png
  extensions/f1-standings/assets/22.png
  extensions/f1-standings/assets/23.png
  extensions/f1-standings/assets/24.png
  extensions/f1-standings/assets/25.png
  extensions/f1-standings/assets/26.png
  extensions/f1-standings/assets/27.png
  extensions/f1-standings/assets/28.png
  extensions/f1-standings/assets/29.png
  extensions/f1-standings/assets/3.png
  extensions/f1-standings/assets/30.png
  extensions/f1-standings/assets/4.png
  extensions/f1-standings/assets/5.png
  extensions/f1-standings/assets/6.png
  extensions/f1-standings/assets/7.png
  extensions/f1-standings/assets/8.png
  extensions/f1-standings/assets/9.png
  extensions/f1-standings/assets/command-icon.png
  extensions/f1-standings/package-lock.json
  extensions/f1-standings/package.json
  extensions/f1-standings/src/constructor.tsx
  extensions/f1-standings/src/driver.tsx
  extensions/f1-standings/tsconfig.json
Labels: new extension, accepted

#933 Add "CPF/CNPJ Generator" extension
  extensions/cpf-cnpj-generator/.eslintrc.json
  extensions/cpf-cnpj-generator/.prettierrc
  extensions/cpf-cnpj-generator/assets/icon.png
  extensions/cpf-cnpj-generator/package-lock.json
  extensions/cpf-cnpj-generator/package.json
  extensions/cpf-cnpj-generator/src/cnpj.tsx
  extensions/cpf-cnpj-generator/src/cpf.tsx
  extensions/cpf-cnpj-generator/src/utils.ts
  extensions/cpf-cnpj-generator/tsconfig.json
Labels: new extension, accepted

#956 update zotero extension to open pdf directly
  extensions/zotero/README.md
  extensions/zotero/images/menu.png
  extensions/zotero/package-lock.json
  extensions/zotero/package.json
  extensions/zotero/src/common/View.tsx
  extensions/zotero/src/common/store.ts
  extensions/zotero/src/common/useVisitedUrls.ts
  extensions/zotero/src/common/zoteroApi.ts
Labels: extension fix / improvement, OP is author

#941 added designer news extension
  extensions/designer-news/.eslintrc.json
  extensions/designer-news/.gitignore
  extensions/designer-news/.prettierrc
  extensions/designer-news/assets/command-icon.png
  extensions/designer-news/package-lock.json
  extensions/designer-news/package.json
  extensions/designer-news/src/index.tsx
  extensions/designer-news/tsconfig.json
Labels: new extension

#889 Bear - fixes 861
  extensions/bear/package-lock.json
  extensions/bear/package.json
  extensions/bear/src/add-text.tsx
  extensions/bear/src/grab-url.tsx
  extensions/bear/src/hooks.ts
  extensions/bear/src/new-note.tsx
Labels: extension fix / improvement

#931 Add "Cloudflare" extension
  extensions/cloudflare/.eslintrc.json
  extensions/cloudflare/.prettierrc.json
  extensions/cloudflare/README.md
  extensions/cloudflare/assets/icon.png
  extensions/cloudflare/package-lock.json
  extensions/cloudflare/package.json
  extensions/cloudflare/src/service.ts
  extensions/cloudflare/src/utils.ts
  extensions/cloudflare/src/view-members.tsx
  extensions/cloudflare/src/view-pages.tsx
  extensions/cloudflare/src/view-sites.tsx
  extensions/cloudflare/tsconfig.json
Labels: new extension, accepted

#973 Safari Extension Update: Create Quicklinks from Safari
  extensions/safari/package-lock.json
  extensions/safari/package.json
  extensions/safari/src/components/AddToReadingListAction.tsx
  extensions/safari/src/components/BookmarkListItem.tsx
  extensions/safari/src/components/CloseLocalTabAction.tsx
  extensions/safari/src/components/CopyMarkdownLinkAction.tsx
  extensions/safari/src/components/CopyTitleAction.tsx
  extensions/safari/src/components/CopyUrlAction.tsx
  extensions/safari/src/components/HistoryListItem.tsx
  extensions/safari/src/components/OpenFullDiskAccessPreferencePane.tsx
  extensions/safari/src/components/OpenTabAction.tsx
  extensions/safari/src/components/SearchInBrowserAction.tsx
  extensions/safari/src/components/TabListItem.tsx
  extensions/safari/src/search-history.tsx
  extensions/safari/src/utils.ts
Labels: extension fix / improvement, OP is contributor

#944 Gitlab: Support more event types
  extensions/gitlab/assets/tag.png
  extensions/gitlab/package.json
  extensions/gitlab/src/components/event.tsx
  extensions/gitlab/src/icons.ts
Labels: extension fix / improvement, accepted

#801 Add new PHP Monitor extension
  extensions/phpmon/.eslintrc.json
  extensions/phpmon/assets/command-icon.png
  extensions/phpmon/assets/list-icon.png
  extensions/phpmon/package-lock.json
  extensions/phpmon/package.json
  extensions/phpmon/src/list.tsx
  extensions/phpmon/src/locate-composer.tsx
  extensions/phpmon/src/locate-config.tsx
  extensions/phpmon/src/locate-valet.tsx
  extensions/phpmon/src/phpinfo.tsx
  extensions/phpmon/src/services-restart-all.tsx
  extensions/phpmon/src/services-restart-dnsmasq.tsx
  extensions/phpmon/src/services-restart-nginx.tsx
  extensions/phpmon/src/services-restart-php.tsx
  extensions/phpmon/src/services-stop-all.tsx
  extensions/phpmon/src/switch.tsx
  extensions/phpmon/tsconfig.json
Labels: new extension, accepted

#981 Fix path to brew
  extensions/phpmon/src/switch.tsx
Labels: extension fix / improvement

#985 Speedtest: Added the option to view and copy the result url.
  extensions/speedtest/assets/results.png
  extensions/speedtest/src/index.tsx
  extensions/speedtest/src/lib/speedtest.ts
Labels: extension fix / improvement

#987 [Bitwarden] Switch service used to fetch remote icons
  extensions/bitwarden/package.json
  extensions/bitwarden/src/search.tsx
  extensions/bitwarden/src/utils.ts
Labels: extension fix / improvement, OP is author

#856 SF Symbol Search: Allow 'copyName' as primary action
  extensions/sf-symbols-search/package.json
  extensions/sf-symbols-search/src/index.tsx
Labels: extension fix / improvement

#876 Create gitignore generator extension
  extensions/gitignore/.eslintrc.json
  extensions/gitignore/.gitignore
  extensions/gitignore/.prettierrc
  extensions/gitignore/assets/command-icon.png
  extensions/gitignore/package-lock.json
  extensions/gitignore/package.json
  extensions/gitignore/src/clipboard.ts
  extensions/gitignore/src/gitignore.tsx
  extensions/gitignore/src/hooks.ts
  extensions/gitignore/src/preview.tsx
  extensions/gitignore/src/types.ts
  extensions/gitignore/src/utils.ts
  extensions/gitignore/tsconfig.json
Labels: new extension, accepted

#960 Added race schedule, Renamed extension to "Formula 1"
  extensions/f1-standings/.editorconfig
  extensions/f1-standings/assets/flag-checkered.png
  extensions/f1-standings/package.json
  extensions/f1-standings/src/constructor.tsx
  extensions/f1-standings/src/driver.tsx
  extensions/f1-standings/src/schedule.tsx
  extensions/f1-standings/src/types.ts
Labels: extension fix / improvement, OP is author
