Repository raycast/extensions, pull requests merged in 2022-01, with the labels that each got.

#580 update-extension/large-type: add new action panel option to close window.
  extensions/large-type/package.json
  extensions/large-type/src/index.tsx
Labels: extension fix / improvement, accepted

#584 Set correct brewPath for Apple Silicon chips
  extensions/brew-services/src/services.tsx
Labels: extension fix / improvement, accepted

#588 Add biaodian - the chinese punctuation marks extension
  extensions/biaodian/.eslintrc.json
  extensions/biaodian/.prettierrc
  extensions/biaodian/assets/command-icon.png
  extensions/biaodian/package-lock.json
  extensions/biaodian/package.json
  extensions/biaodian/src/biaodian.tsx
  extensions/biaodian/tsconfig.json
Labels: new extension, accepted

#574 Adding CleanShotX Extension
  extensions/cleanshotx/.eslintrc.json
  extensions/cleanshotx/.prettierrc
  extensions/cleanshotx/assets/annotate.png
  extensions/cleanshotx/assets/capture-area.png
  extensions/cleanshotx/assets/capture-fullscreen.png
  extensions/cleanshotx/assets/capture-previous-area.png
  extensions/cleanshotx/assets/capture-text.png
  extensions/cleanshotx/assets/capture-window.png
  extensions/cleanshotx/assets/clipboard.png
  extensions/cleanshotx/assets/command-icon.png
  extensions/cleanshotx/assets/pin.png
  extensions/cleanshotx/assets/record-screen.png
  extensions/cleanshotx/assets/restore.png
  extensions/cleanshotx/assets/scrolling-capture.png
  extensions/cleanshotx/assets/self-timer.png
  extensions/cleanshotx/assets/toggle-desktop-icons.png
  extensions/cleanshotx/package-lock.json
  extensions/cleanshotx/package.json
  extensions/cleanshotx/src/annotate.tsx
  extensions/cleanshotx/src/capture-area.tsx
  extensions/cleanshotx/src/capture-fullscreen.tsx
  extensions/cleanshotx/src/capture-previous-area.tsx
  extensions/cleanshotx/src/capture-window.tsx
  extensions/cleanshotx/src/open-from-clipboard.tsx
  extensions/cleanshotx/src/pin.tsx
  extensions/cleanshotx/src/record-screen.tsx
  extensions/cleanshotx/src/restore-recently-closed.tsx
  extensions/cleanshotx/src/scrolling-capture.tsx
  extensions/cleanshotx/src/self-timer.tsx
  extensions/cleanshotx/src/text-recognition.tsx
  extensions/cleanshotx/src/toggle-desktop-icons.tsx
  extensions/cleanshotx/tsconfig.json
Labels: new extension, accepted

#589 Add Atomic Data Search extension
  extensions/atomic/.eslintrc.json
  extensions/atomic/.gitignore
  extensions/atomic/.prettierrc
  extensions/atomic/README.md
  extensions/atomic/assets/command-icon.png
  extensions/atomic/assets/list-icon.png
  extensions/atomic/package-lock.json
  extensions/atomic/package.json
  extensions/atomic/src/index.tsx
  extensions/atomic/tsconfig.json
Labels: new extension, accepted

#585 Harvest
  extensions/harvest/README.md
  extensions/harvest/assets/arrow.left@2x.png
  extensions/harvest/assets/arrow.right@2x.png
  extensions/harvest/package-lock.json
  extensions/harvest/package.json
  extensions/harvest/src/delete.tsx
  extensions/harvest/src/listTimeEntries.tsx
  extensions/harvest/src/new.tsx
  extensions/harvest/src/services/harvest.ts
  extensions/harvest/src/services/responseTypes.d.ts
Labels: extension fix / improvement, accepted

#601 #599 Update @tomic/lib for Atomic
  extensions/atomic/package-lock.json
  extensions/atomic/package.json
  extensions/atomic/src/index.tsx
Labels: extension fix / improvement, accepted

#587 DeBank Extension
  extensions/debank/.eslintrc.json
  extensions/debank/.prettierrc
  extensions/debank/assets/debank.png
  extensions/debank/package-lock.json
  extensions/debank/package.json
  extensions/debank/src/api.ts
  extensions/debank/src/index.tsx
  extensions/debank/src/utils/useFavoriteAddresses.ts
  extensions/debank/tsconfig.json
Labels: new extension, accepted

#591 Reuse raycast node interpreter in bitwarden extension
  extensions/bitwarden/package-lock.json
  extensions/bitwarden/package.json
  extensions/bitwarden/src/api.ts
Labels: extension fix / improvement, accepted

#617 Fix "Can't read create_properties of undefined"
  extensions/notion/src/components/CreateDatabaseForm.tsx
Labels: extension fix / improvement, accepted

#436 add: ones extensions
  extensions/ones/.editorconfig
  extensions/ones/.eslintrc.json
  extensions/ones/.gitignore
  extensions/ones/.prettierrc
  extensions/ones/LICENSE
  extensions/ones/README.md
  extensions/ones/assets/command-icon-black.png
  extensions/ones/package-lock.json
  extensions/ones/package.json
  extensions/ones/src/lib/api.ts
  extensions/ones/src/lib/client.ts
  extensions/ones/src/lib/type.ts
  extensions/ones/src/lib/util.ts
  extensions/ones/src/manage-manhour.tsx
  extensions/ones/src/manhour.tsx
  extensions/ones/src/search-project-project.tsx
  extensions/ones/src/search-project-resource.tsx
  extensions/ones/src/search-project-sprint.tsx
  extensions/ones/src/search-project-task.tsx
  extensions/ones/src/search-wiki-page.tsx
  extensions/ones/src/search-wiki-resource.tsx
  extensions/ones/src/search-wiki-space.tsx
  extensions/ones/src/search.tsx
  extensions/ones/tsconfig.json
Labels: new extension, accepted

#592 Add random email extension
  extensions/random-email/.eslintrc.json
  extensions/random-email/.prettierrc
  extensions/random-email/assets/command-icon.png
  extensions/random-email/package-lock.json
  extensions/random-email/package.json
  extensions/random-email/src/generate-copy.ts
  extensions/random-email/src/generate-paste.ts
  extensions/random-email/src/utils.ts
  extensions/random-email/tsconfig.json
Labels: new extension, accepted

#593 Added Twitch Extension
  extensions/twitch/.eslintrc.json
  extensions/twitch/.prettierrc
  extensions/twitch/README.md
  extensions/twitch/assets/command-icon.png
  extensions/twitch/assets/icon.png
  extensions/twitch/package-lock.json
  extensions/twitch/package.json
  extensions/twitch/src/following.tsx
  extensions/twitch/src/game.tsx
  extensions/twitch/src/index.tsx
  extensions/twitch/src/interfaces/FollowingItem.ts
  extensions/twitch/src/interfaces/Game.ts
  extensions/twitch/src/interfaces/Item.ts
  extensions/twitch/src/interfaces/Preferences.ts
  extensions/twitch/src/interfaces/User.ts
  extensions/twitch/src/stream.tsx
  extensions/twitch/src/streamer.tsx
  extensions/twitch/src/utils.tsx
  extensions/twitch/tsconfig.json
Labels: new extension, accepted

#616 🏏 Add CricketCast Extension
  extensions/cricketcast/.eslintrc.json
  extensions/cricketcast/.gitignore
  extensions/cricketcast/.prettierrc
  extensions/cricketcast/README.md
  extensions/cricketcast/assets/command-icon.png
  extensions/cricketcast/command-icon.png
  extensions/cricketcast/package-lock.json
  extensions/cricketcast/package.json
  extensions/cricketcast/src/index.jsx
  extensions/cricketcast/yarn.lock
Labels: new extension, accepted

#578 add preferences to change-case extension
  extensions/change-case/package-lock.json
  extensions/change-case/package.json
  extensions/change-case/src/change-case.tsx
Labels: extension fix / improvement, accepted

#615 Add Wistia extension to search media & projects
  extensions/wistia/.eslintrc.json
  extensions/wistia/.prettierrc
  extensions/wistia/README.md
  extensions/wistia/assets/wistia-logo.png
  extensions/wistia/package-lock.json
  extensions/wistia/package.json
  extensions/wistia/src/api.ts
  extensions/wistia/src/my-medias.tsx
  extensions/wistia/src/my-projects.tsx
  extensions/wistia/src/types.tsx
  extensions/wistia/src/wistia-media-list-item.tsx
  extensions/wistia/tsconfig.json
Labels: new extension, accepted

#635 Home Assistant: Add support for Vaccum, camera, script and button entities
  extensions/homeassistant/assets/play.png
  extensions/homeassistant/assets/robot-vacuum.png
  extensions/homeassistant/assets/video.png
  extensions/homeassistant/package.json
  extensions/homeassistant/src/buttons.tsx
  extensions/homeassistant/src/cameras.tsx
  extensions/homeassistant/src/components/buttons.tsx
  extensions/homeassistant/src/components/cameras.tsx
  extensions/homeassistant/src/components/scripts.tsx
  extensions/homeassistant/src/components/states.tsx
  extensions/homeassistant/src/components/vacuum.tsx
  extensions/homeassistant/src/scripts.tsx
  extensions/homeassistant/src/vacuums.tsx
Labels: extension fix / improvement

#590 Add separate Command for searching with a constant set of tags
  extensions/pinboard/package.json
  extensions/pinboard/src/api.tsx
  extensions/pinboard/src/searchBookmarksWithConstantTags.tsx
Labels: extension fix / improvement

#653 Slack extension - New presets status added. Working from home and at the office
  extensions/slack-status/src/defaultStatuses.ts
Labels: extension fix / improvement

#622 Add Markdown Reference extension
  extensions/markdown-reference/.eslintrc.json
  extensions/markdown-reference/.prettierrc
  extensions/markdown-reference/assets/list-icon.png
  extensions/markdown-reference/assets/logo.png
  extensions/markdown-reference/package-lock.json
  extensions/markdown-reference/package.json
  extensions/markdown-reference/src/markdown-escape.ts
  extensions/markdown-reference/src/markdown-reference.tsx
  extensions/markdown-reference/src/reference.ts
  extensions/markdown-reference/tsconfig.json
Labels: new extension, accepted

#632 Add tunnelblick extension
  extensions/tunnelblick/.eslintrc.json
  extensions/tunnelblick/.prettierrc
  extensions/tunnelblick/assets/logo.png
  extensions/tunnelblick/package-lock.json
  extensions/tunnelblick/package.json
  extensions/tunnelblick/src/index.tsx
  extensions/tunnelblick/src/types/connection.ts
  extensions/tunnelblick/tsconfig.json
Labels: new extension, accepted

#624 Add "Google Search" Extension
  extensions/google-search/.eslintrc.json
  extensions/google-search/.prettierrc
  extensions/google-search/README.md
  extensions/google-search/assets/command-icon.png
  extensions/google-search/package-lock.json
  extensions/google-search/package.json
  extensions/google-search/src/index.tsx
  extensions/google-search/src/utils/handleResults.ts
  extensions/google-search/src/utils/resultUtils.ts
  extensions/google-search/src/utils/types.ts
  extensions/google-search/src/utils/useSearch.tsx
  extensions/google-search/tsconfig.json
Labels: new extension, accepted

#625 Laravel Livewire documentation extension
  extensions/laravel-livewire/.eslintrc.json
  extensions/laravel-livewire/.prettierrc
  extensions/laravel-livewire/README.md
  extensions/laravel-livewire/assets/Raycast_Laravel_Livewire_docs.png
  extensions/laravel-livewire/assets/livewire-icon-transparent.png
  extensions/laravel-livewire/package-lock.json
  extensions/laravel-livewire/package.json
  extensions/laravel-livewire/src/documentation/1.x.json
  extensions/laravel-livewire/src/documentation/2.x.json
  extensions/laravel-livewire/src/index.tsx
  extensions/laravel-livewire/tsconfig.json
Labels: new extension, accepted

#661 Add preference to copy emoji or code to gitmoji extension.
  extensions/gitmoji/package.json
  extensions/gitmoji/src/gitmoji.tsx
Labels: extension fix / improvement

#652 feat: add extension named "v2ex" which show hotest ten topics
  extensions/v2ex/.eslintrc.json
  extensions/v2ex/.gitignore
  extensions/v2ex/.prettierrc
  extensions/v2ex/assets/command-icon.png
  extensions/v2ex/assets/icon-v2ex.png
  extensions/v2ex/assets/list-icon.png
  extensions/v2ex/package-lock.json
  extensions/v2ex/package.json
  extensions/v2ex/src/hot.tsx
  extensions/v2ex/tsconfig.json
Labels: new extension

#640 Add: Jisho.org search
  extensions/jisho/.eslintrc.json
  extensions/jisho/.prettierrc
  extensions/jisho/assets/jisho-icon.png
  extensions/jisho/package-lock.json
  extensions/jisho/package.json
  extensions/jisho/src/hooks/useSearch.ts
  extensions/jisho/src/index.tsx
  extensions/jisho/src/types/types.ts
  extensions/jisho/tsconfig.json
Labels: new extension, accepted

#634 Add Ploi
  extensions/ploi/.eslintrc.json
  extensions/ploi/.gitignore
  extensions/ploi/README.md
  extensions/ploi/assets/ploi-icon.png
  extensions/ploi/assets/server-dark.png
  extensions/ploi/assets/server.png
  extensions/ploi/package-lock.json
  extensions/ploi/package.json
  extensions/ploi/screenshots/banner.png
  extensions/ploi/screenshots/installation.png
  extensions/ploi/src/Server.tsx
  extensions/ploi/src/Site.tsx
  extensions/ploi/src/api/Server.ts
  extensions/ploi/src/api/Site.ts
  extensions/ploi/src/config.ts
  extensions/ploi/src/helpers.ts
  extensions/ploi/src/index.tsx
  extensions/ploi/tsconfig.json
Labels: new extension, accepted

#668 Add Fork extension
  extensions/fork-repositories/.eslintrc.json
  extensions/fork-repositories/.prettierrc
  extensions/fork-repositories/assets/icon.png
  extensions/fork-repositories/package-lock.json
  extensions/fork-repositories/package.json
  extensions/fork-repositories/src/fork-repositories.tsx
  extensions/fork-repositories/src/hooks/index.ts
  extensions/fork-repositories/src/hooks/use-has-application.ts
  extensions/fork-repositories/src/hooks/use-repos.ts
  extensions/fork-repositories/src/index.d.ts
  extensions/fork-repositories/src/vendor/tildify.ts
  extensions/fork-repositories/tsconfig.json
Labels: new extension

#667 Harvest: Pagination support to show all projects
  extensions/harvest/src/services/harvest.ts
Labels: extension fix / improvement

#618 Add kubectx extension
  extensions/kubectx/.eslintrc.json
  extensions/kubectx/.prettierrc
  extensions/kubectx/assets/kubernetes-icon.png
  extensions/kubectx/package-lock.json
  extensions/kubectx/package.json
  extensions/kubectx/src/context.tsx
  extensions/kubectx/src/hooks/useKubectx.ts
  extensions/kubectx/src/lib/cli.parser.ts
  extensions/kubectx/src/lib/cli.ts
  extensions/kubectx/src/services/kubectx.service.ts
  extensions/kubectx/tsconfig.json
Labels: new extension, accepted

#673 Fix error in Linguee plugin
  extensions/linguee/package-lock.json
  extensions/linguee/src/utils/parseHTML.ts
Labels: extension fix / improvement, accepted

#649 Add Render extension
  extensions/render/.eslintrc.json
  extensions/render/.prettierrc.json
  extensions/render/README.md
  extensions/render/assets/icon.png
  extensions/render/assets/service/cron.png
  extensions/render/assets/service/private.png
  extensions/render/assets/service/site.png
  extensions/render/assets/service/web.png
  extensions/render/assets/service/worker.png
  extensions/render/package-lock.json
  extensions/render/package.json
  extensions/render/src/service.ts
  extensions/render/src/utils.ts
  extensions/render/src/view-services.tsx
  extensions/render/tsconfig.json
Labels: new extension, accepted

#642 Add "Geohash Encode/Decode" extension
  extensions/geohash-encode-decode/.eslintrc.json
  extensions/geohash-encode-decode/.prettierrc
  extensions/geohash-encode-decode/assets/command-icon.png
  extensions/geohash-encode-decode/package-lock.json
  extensions/geohash-encode-decode/package.json
  extensions/geohash-encode-decode/src/components/DecodedInfo.tsx
  extensions/geohash-encode-decode/src/components/EncodedList.tsx
  extensions/geohash-encode-decode/src/components/InvalidCoordinates.tsx
  extensions/geohash-encode-decode/src/components/InvalidGeohash.tsx
  extensions/geohash-encode-decode/src/components/ListRow.tsx
  extensions/geohash-encode-decode/src/decode-geohash.tsx
  extensions/geohash-encode-decode/src/encode-coordinates.tsx
  extensions/geohash-encode-decode/src/helpers/actions.ts
  extensions/geohash-encode-decode/src/helpers/getGeohashLink.ts
  extensions/geohash-encode-decode/src/helpers/prefs.ts
  extensions/geohash-encode-decode/tsconfig.json
Labels: new extension, accepted

#654 Add Apple Notes extension
  extensions/apple-notes/.eslintrc.json
  extensions/apple-notes/.prettierrc
  extensions/apple-notes/assets/command-icon.png
  extensions/apple-notes/assets/notes-icon.png
  extensions/apple-notes/package-lock.json
  extensions/apple-notes/package.json
  extensions/apple-notes/src/index.tsx
  extensions/apple-notes/src/new.tsx
  extensions/apple-notes/tsconfig.json
Labels: new extension, accepted

#582 Added Kaalam Extension
  extensions/kaalam/.eslintrc.json
  extensions/kaalam/.prettierrc
  extensions/kaalam/assets/command-icon.png
  extensions/kaalam/assets/list-icon.png
  extensions/kaalam/package-lock.json
  extensions/kaalam/package.json
  extensions/kaalam/src/index.tsx
  extensions/kaalam/tsconfig.json
Labels: new extension, accepted

#462 Add Wikipedia extension
  extensions/wikipedia/.eslintrc.json
  extensions/wikipedia/.prettierrc
  extensions/wikipedia/assets/wikipedia.png
  extensions/wikipedia/package-lock.json
  extensions/wikipedia/package.json
  extensions/wikipedia/src/featured-page.tsx
  extensions/wikipedia/src/markdown.ts
  extensions/wikipedia/src/page-detail.tsx
  extensions/wikipedia/src/random-page.tsx
  extensions/wikipedia/src/search-page.tsx
  extensions/wikipedia/src/wikipedia.ts
  extensions/wikipedia/tsconfig.json
Labels: new extension

#633 Add Laravel Forge extension
  extensions/laravel-forge/.eslintrc.json
  extensions/laravel-forge/.gitignore
  extensions/laravel-forge/.prettierrc
  extensions/laravel-forge/README.md
  extensions/laravel-forge/assets/command-icon.png
  extensions/laravel-forge/assets/server.png
  extensions/laravel-forge/package-lock.json
  extensions/laravel-forge/package.json
  extensions/laravel-forge/src/Server.tsx
  extensions/laravel-forge/src/Site.tsx
  extensions/laravel-forge/src/api/Server.ts
  extensions/laravel-forge/src/api/Site.ts
  extensions/laravel-forge/src/components/EnvironmentFile.tsx
  extensions/laravel-forge/src/components/NginxFile.tsx
  extensions/laravel-forge/src/config.ts
  extensions/laravel-forge/src/helpers.ts
  extensions/laravel-forge/src/index.tsx
  extensions/laravel-forge/tsconfig.json
Labels: new extension, accepted

#607 Laravel Docs Extension
  extensions/laravel-docs/.eslintrc.json
  extensions/laravel-docs/.prettierrc
  extensions/laravel-docs/README-DEV.md
  extensions/laravel-docs/assets/command-icon.png
  extensions/laravel-docs/package-lock.json
  extensions/laravel-docs/package.json
  extensions/laravel-docs/src/documentation/4.2.json
  extensions/laravel-docs/src/documentation/5.0.json
  extensions/laravel-docs/src/documentation/5.1.json
  extensions/laravel-docs/src/documentation/5.2.json
  extensions/laravel-docs/src/documentation/5.3.json
  extensions/laravel-docs/src/documentation/5.4.json
  extensions/laravel-docs/src/documentation/5.5.json
  extensions/laravel-docs/src/documentation/5.6.json
  extensions/laravel-docs/src/documentation/5.7.json
  extensions/laravel-docs/src/documentation/5.8.json
  extensions/laravel-docs/src/documentation/6.x.json
  extensions/laravel-docs/src/documentation/7.x.json
  extensions/laravel-docs/src/documentation/8.x.json
  extensions/laravel-docs/src/documentation/master.json
  extensions/laravel-docs/src/index.tsx
  extensions/laravel-docs/tsconfig.json
Labels: new extension, accepted

#672 feat(Last.fm): create extension
  extensions/lastfm/.eslintrc.json
  extensions/lastfm/.prettierrc
  extensions/lastfm/README.md
  extensions/lastfm/assets/command-icon.png
  extensions/lastfm/assets/default-album.jpeg
  extensions/lastfm/package-lock.json
  extensions/lastfm/package.json
  extensions/lastfm/src/albums.tsx
  extensions/lastfm/src/artists.tsx
  extensions/lastfm/src/combined.tsx
  extensions/lastfm/src/functions/getErrorMessage.ts
  extensions/lastfm/src/hooks/useLastfm.ts
  extensions/lastfm/src/hooks/useTopAlbums.ts
  extensions/lastfm/src/hooks/useTopArtists.ts
  extensions/lastfm/src/recent.tsx
  extensions/lastfm/src/songs.tsx
  extensions/lastfm/src/types/AlbumResponse.d.ts
  extensions/lastfm/src/types/ArtistResponse.d.ts
  extensions/lastfm/src/types/SongResponse.d.ts
  extensions/lastfm/tsconfig.json
Labels: new extension, accepted

#683 refactor(Must): some improvements
  extensions/must/package.json
  extensions/must/src/index.tsx
  extensions/must/src/types/ListResponse.d.ts
  extensions/must/src/types/Preferences.d.ts
  extensions/must/src/types/UserResponse.d.ts
  extensions/must/tsconfig.json
Labels: extension fix / improvement, accepted

#637 add: dockerhub extension
  extensions/dockerhub/.editorconfig
  extensions/dockerhub/.eslintrc.json
  extensions/dockerhub/.prettierrc
  extensions/dockerhub/assets/docker-icon.png
  extensions/dockerhub/package-lock.json
  extensions/dockerhub/package.json
  extensions/dockerhub/src/lib/api.ts
  extensions/dockerhub/src/lib/type.ts
  extensions/dockerhub/src/lib/util.ts
  extensions/dockerhub/src/search-image.tsx
  extensions/dockerhub/src/search-tag.tsx
  extensions/dockerhub/src/search.tsx
  extensions/dockerhub/tsconfig.json
Labels: new extension

#697 Docker Hub: Update title and description
  extensions/dockerhub/package.json
Labels: extension fix / improvement

#688 Add inertiajs documentation extension
  extensions/inertiajs-documentation/.eslintrc.json
  extensions/inertiajs-documentation/.prettierrc
  extensions/inertiajs-documentation/README.md
  extensions/inertiajs-documentation/assets/inertiajs-icon.png
  extensions/inertiajs-documentation/assets/raycast-inertiajs-algolia-documentation-extension.png
  extensions/inertiajs-documentation/assets/raycast-inertiajs-documentation-extension.png
  extensions/inertiajs-documentation/package-lock.json
  extensions/inertiajs-documentation/package.json
  extensions/inertiajs-documentation/src/documentation/v1.x.json
  extensions/inertiajs-documentation/src/inertiajs.tsx
  extensions/inertiajs-documentation/tsconfig.json
Labels: new extension

#694 Add 8ball extension
  extensions/8ball/.eslintrc.json
  extensions/8ball/.prettierrc
  extensions/8ball/assets/8ball.png
  extensions/8ball/package-lock.json
  extensions/8ball/package.json
  extensions/8ball/src/index.tsx
  extensions/8ball/tsconfig.json
Labels: new extension

#671 Add "Zeplin Project Search" extension
  extensions/zeplin-project-search/.eslintrc.json
  extensions/zeplin-project-search/.gitignore
  extensions/zeplin-project-search/.prettierrc
  extensions/zeplin-project-search/README.md
  extensions/zeplin-project-search/assets/command-icon.png
  extensions/zeplin-project-search/assets/extension-screenshot.png
  extensions/zeplin-project-search/assets/token-screenshot.png
  extensions/zeplin-project-search/package-lock.json
  extensions/zeplin-project-search/package.json
  extensions/zeplin-project-search/src/components/ProjectListItem.tsx
  extensions/zeplin-project-search/src/hooks/useGetCurrentUser.tsx
  extensions/zeplin-project-search/src/hooks/useGetProjects.tsx
  extensions/zeplin-project-search/src/hooks/useVisitedProjects.tsx
  extensions/zeplin-project-search/src/searchProject.tsx
  extensions/zeplin-project-search/src/types/index.ts
  extensions/zeplin-project-search/tsconfig.json
Labels: new extension

#665 [UPDATE] Create note command, minor fixes and additions
  extensions/obsidian/README.md
  extensions/obsidian/package-lock.json
  extensions/obsidian/package.json
  extensions/obsidian/src/createnote.tsx
  extensions/obsidian/src/index.tsx
  extensions/obsidian/src/openvault.tsx
Labels: extension fix / improvement, accepted

#686 Fix Clockify extension when `description` is missing.
  extensions/clockify/package-lock.json
  extensions/clockify/package.json
  extensions/clockify/src/index.tsx
Labels: extension fix / improvement, accepted

#685 Add Spatie OpenSource packages extension
  extensions/spatie-documentation/.eslintrc.json
  extensions/spatie-documentation/.prettierrc
  extensions/spatie-documentation/README.md
  extensions/spatie-documentation/assets/raycast-spatie-documentation-extension.png
  extensions/spatie-documentation/assets/raycast-spatie-documetation-algolia-extension.png
  extensions/spatie-documentation/assets/spatie-icon.png
  extensions/spatie-documentation/package-lock.json
  extensions/spatie-documentation/package.json
  extensions/spatie-documentation/src/documentation/laravel-backup/v3.json
  extensions/spatie-documentation/src/documentation/laravel-backup/v4.json
  extensions/spatie-documentation/src/documentation/laravel-backup/v5.json
  extensions/spatie-documentation/src/documentation/laravel-backup/v6.json
  extensions/spatie-documentation/src/documentation/laravel-backup/v7.json
  extensions/spatie-documentation/src/documentation/laravel-backup/v8.json
  extensions/spatie-documentation/src/documentation/laravel-permission/v2.json
  extensions/spatie-documentation/src/documentation/laravel-permission/v3.json
  extensions/spatie-documentation/src/documentation/laravel-permission/v4.json
  extensions/spatie-documentation/src/documentation/laravel-permission/v5.json
  extensions/spatie-documentation/src/laravel-backup.tsx
  extensions/spatie-documentation/src/laravel-permission.tsx
  extensions/spatie-documentation/tsconfig.json
Labels: new extension, accepted

#669 Add Toggle Caffeination to Coffee Extension
  extensions/coffee/package.json
  extensions/coffee/src/toggleCaffeinate.ts
Labels: extension fix / improvement, accepted

#692 add elm-search extension
  extensions/elm-search/.eslintrc.json
  extensions/elm-search/.prettierrc
  extensions/elm-search/assets/command-icon.png
  extensions/elm-search/package-lock.json
  extensions/elm-search/package.json
  extensions/elm-search/src/nameSearch.tsx
  extensions/elm-search/src/typeSearch.tsx
  extensions/elm-search/tsconfig.json
Labels: new extension, accepted

#712 Fix and simplify Wikipedia extension
  extensions/wikipedia/package-lock.json
  extensions/wikipedia/package.json
  extensions/wikipedia/src/featured-page.tsx
  extensions/wikipedia/src/markdown.ts
  extensions/wikipedia/src/page-detail.tsx
  extensions/wikipedia/src/random-page.tsx
  extensions/wikipedia/src/search-page.tsx
  extensions/wikipedia/src/utils.ts
  extensions/wikipedia/src/wikipedia.ts
Labels: extension fix / improvement

#689 Add clickup raycast extension for browsing clickup tasks
  extensions/clickup/.eslintrc.json
  extensions/clickup/.prettierrc
  extensions/clickup/LICENSE
  extensions/clickup/README.md
  extensions/clickup/assets/clickup-icon.png
  extensions/clickup/assets/obtain-api-token.png
  extensions/clickup/package-lock.json
  extensions/clickup/package.json
  extensions/clickup/src/hooks/useFolders.ts
  extensions/clickup/src/hooks/useLists.ts
  extensions/clickup/src/hooks/useSpaces.ts
  extensions/clickup/src/hooks/useTaskDetails.ts
  extensions/clickup/src/hooks/useTasks.ts
  extensions/clickup/src/hooks/useTeams.ts
  extensions/clickup/src/index.tsx
  extensions/clickup/src/types/folders.dt.ts
  extensions/clickup/src/types/lists.dt.ts
  extensions/clickup/src/types/spaces.dt.ts
  extensions/clickup/src/types/task.dt.ts
  extensions/clickup/src/types/tasks.dt.ts
  extensions/clickup/src/types/teams.dt.ts
  extensions/clickup/src/utils/clickUpClient.ts
  extensions/clickup/src/utils/preferences.ts
  extensions/clickup/src/views/FolderLists.tsx
  extensions/clickup/src/views/ListTasks.tsx
  extensions/clickup/src/views/SpaceFolders.tsx
  extensions/clickup/src/views/TaskDetail.tsx
  extensions/clickup/src/views/TeamSpaces.tsx
  extensions/clickup/tests/clickup.http
  extensions/clickup/tsconfig.json
Labels: new extension, accepted

#701 Brew Improvements
  extensions/brew/CHANGELOG.md
  extensions/brew/LICENSE
  extensions/brew/README.md
  extensions/brew/package-lock.json
  extensions/brew/src/brew.ts
  extensions/brew/src/components/actionPanels.tsx
  extensions/brew/src/components/actions.tsx
  extensions/brew/src/components/caskInfo.tsx
  extensions/brew/src/components/formulaInfo.tsx
  extensions/brew/src/components/list.tsx
  extensions/brew/src/installed.tsx
  extensions/brew/src/outdated.tsx
  extensions/brew/src/search.tsx
  extensions/brew/src/upgrade.tsx
  extensions/brew/src/utils.ts
Labels: extension fix / improvement, accepted

#704 1password: handle absent accountName
  extensions/1password7/src/OnePasswordMetaItem.dto.ts
  extensions/1password7/src/list.tsx
Labels: extension fix / improvement, accepted

#708 Add Sourcegraph extension
  extensions/sourcegraph/.eslintrc.json
  extensions/sourcegraph/.prettierrc
  extensions/sourcegraph/CONTRIBUTING.md
  extensions/sourcegraph/LICENSE
  extensions/sourcegraph/README.md
  extensions/sourcegraph/assets/command-icon.png
  extensions/sourcegraph/assets/demo.png
  extensions/sourcegraph/package-lock.json
  extensions/sourcegraph/package.json
  extensions/sourcegraph/src/components/search.tsx
  extensions/sourcegraph/src/searchCloud.tsx
  extensions/sourcegraph/src/searchInstance.tsx
  extensions/sourcegraph/src/sourcegraph/gql/index.ts
  extensions/sourcegraph/src/sourcegraph/index.ts
  extensions/sourcegraph/src/sourcegraph/stream-search/index.ts
  extensions/sourcegraph/src/sourcegraph/stream-search/stream.ts
  extensions/sourcegraph/tsconfig.json
Labels: new extension, accepted

#710 Add Datadog extension
  extensions/datadog/.eslintrc.json
  extensions/datadog/.prettierrc
  extensions/datadog/README.md
  extensions/datadog/assets/icon@dark.png
  extensions/datadog/assets/icon@light.png
  extensions/datadog/package-lock.json
  extensions/datadog/package.json
  extensions/datadog/src/command-list-apm.tsx
  extensions/datadog/src/command-list-dashboards.tsx
  extensions/datadog/src/datadog-api.ts
  extensions/datadog/src/types.ts
  extensions/datadog/src/useAPM.ts
  extensions/datadog/src/useDashboards.ts
  extensions/datadog/src/util.ts
  extensions/datadog/tsconfig.json
Labels: new extension, accepted

#717 Improve Ploi Extension
  extensions/ploi/package-lock.json
  extensions/ploi/package.json
  extensions/ploi/src/Server.tsx
  extensions/ploi/src/api/Site.ts
Labels: extension fix / improvement

#702 Add Ulysses Extension
  extensions/ulysses/.eslintrc.json
  extensions/ulysses/.prettierrc
  extensions/ulysses/assets/command-icon.png
  extensions/ulysses/package-lock.json
  extensions/ulysses/package.json
  extensions/ulysses/src/new-empty-sheet.ts
  extensions/ulysses/src/utils.ts
  extensions/ulysses/tsconfig.json
Labels: new extension, accepted

#722 Add New Commands to Ulysses Extension
  extensions/ulysses/package.json
  extensions/ulysses/src/new-group.tsx
  extensions/ulysses/src/open-all.ts
  extensions/ulysses/src/open-favorites.ts
  extensions/ulysses/src/open-recent.ts
Labels: extension fix / improvement, accepted

#705 Add Timeular extension
  extensions/timeular/.eslintrc.json
  extensions/timeular/.prettierrc
  extensions/timeular/README.md
  extensions/timeular/assets/icon.png
  extensions/timeular/package-lock.json
  extensions/timeular/package.json
  extensions/timeular/src/ComponentEditNote.tsx
  extensions/timeular/src/api-timeular.ts
  extensions/timeular/src/command-status.tsx
  extensions/timeular/src/types.ts
  extensions/timeular/src/useActivities.ts
  extensions/timeular/src/useCurrenTrackingStatus.ts
  extensions/timeular/src/useCurrentTracking.ts
  extensions/timeular/src/useTagsAndMentions.ts
  extensions/timeular/src/useTodayReport.ts
  extensions/timeular/src/utils.ts
  extensions/timeular/tsconfig.json
Labels: new extension, accepted

#720 Add GraphCDN extension
  extensions/graphcdn/.eslintrc.json
  extensions/graphcdn/.prettierrc
  extensions/graphcdn/README.md
  extensions/graphcdn/Screenshot.png
  extensions/graphcdn/assets/command-icon.png
  extensions/graphcdn/package-lock.json
  extensions/graphcdn/package.json
  extensions/graphcdn/src/search.tsx
  extensions/graphcdn/tsconfig.json
Labels: new extension, accepted

#718 Add Wolfram Alpha extension
  extensions/wolfram-alpha/.eslintrc.json
  extensions/wolfram-alpha/.prettierrc
  extensions/wolfram-alpha/README.md
  extensions/wolfram-alpha/Screenshot.png
  extensions/wolfram-alpha/assets/command-icon.png
  extensions/wolfram-alpha/package-lock.json
  extensions/wolfram-alpha/package.json
  extensions/wolfram-alpha/src/index.tsx
  extensions/wolfram-alpha/tsconfig.json
Labels: new extension, accepted

#732 List pipelines without execution history
  extensions/amazon-aws/assets/codepipeline/Error.svg
  extensions/amazon-aws/assets/codepipeline/Failed.png
  extensions/amazon-aws/assets/codepipeline/Idle.png
  extensions/amazon-aws/assets/codepipeline/InProgress.png
  extensions/amazon-aws/assets/codepipeline/Stopped.svg
  extensions/amazon-aws/assets/codepipeline/Succeeded.png
  extensions/amazon-aws/assets/codepipeline/Success.svg
  extensions/amazon-aws/src/codepipelines.tsx
Labels: extension fix / improvement, accepted

#713 Canvascast: Filter favorite courses
  extensions/canvascast/src/index.tsx
Labels: extension fix / improvement, accepted

#600 Adding BTTV Emotes Extension
  extensions/bttv-emote/.eslintrc.json
  extensions/bttv-emote/.prettierrc
  extensions/bttv-emote/assets/command-icon.png
  extensions/bttv-emote/package-lock.json
  extensions/bttv-emote/package.json
  extensions/bttv-emote/src/components/emote.tsx
  extensions/bttv-emote/src/components/search_list_item.tsx
  extensions/bttv-emote/src/index.tsx
  extensions/bttv-emote/tsconfig.json
Labels: new extension, accepted

#715 Search Google Books
  extensions/google-books/.eslintrc.json
  extensions/google-books/.prettierrc
  extensions/google-books/LICENSE
  extensions/google-books/README.md
  extensions/google-books/assets/google-books.png
  extensions/google-books/package-lock.json
  extensions/google-books/package.json
  extensions/google-books/src/hooks/useSearch.ts
  extensions/google-books/src/index.tsx
  extensions/google-books/src/types/google-books.dt.ts
  extensions/google-books/tests/google-books.http
  extensions/google-books/tsconfig.json
Labels: new extension, accepted

#724 add hashnode plugin
  extensions/hashnode/.eslintrc.json
  extensions/hashnode/.prettierrc
  extensions/hashnode/README.md
  extensions/hashnode/assets/command-icon.png
  extensions/hashnode/package-lock.json
  extensions/hashnode/package.json
  extensions/hashnode/src/best.tsx
  extensions/hashnode/src/components/StoriesList.tsx
  extensions/hashnode/src/components/StoryItem.tsx
  extensions/hashnode/src/featured.tsx
  extensions/hashnode/src/hooks/useStories.ts
  extensions/hashnode/src/models/Colors.ts
  extensions/hashnode/src/models/Story.ts
  extensions/hashnode/src/models/StoryType.ts
  extensions/hashnode/src/my_stories.tsx
  extensions/hashnode/src/new.tsx
  extensions/hashnode/src/new_story.tsx
  extensions/hashnode/src/queries/getPublicStories.ts
  extensions/hashnode/src/queries/getUserStories.ts
  extensions/hashnode/src/queries/index.ts
  extensions/hashnode/src/utils/gql.ts
  extensions/hashnode/src/utils/index.ts
  extensions/hashnode/tsconfig.json
Labels: new extension, accepted

#734 Add toggl track extension
  extensions/toggl-track/.eslintrc.json
  extensions/toggl-track/.gitignore
  extensions/toggl-track/.prettierrc
  extensions/toggl-track/README.md
  extensions/toggl-track/assets/command-icon.png
  extensions/toggl-track/package-lock.json
  extensions/toggl-track/package.json
  extensions/toggl-track/src/components/CreateTimeEntryForm.tsx
  extensions/toggl-track/src/components/ProjectGroupSection.tsx
  extensions/toggl-track/src/components/ProjectListItem.tsx
  extensions/toggl-track/src/components/RunningTimeEntry.tsx
  extensions/toggl-track/src/context/ProjectGroup.ts
  extensions/toggl-track/src/context/index.tsx
  extensions/toggl-track/src/hooks/useCurrentTime.ts
  extensions/toggl-track/src/index.tsx
  extensions/toggl-track/src/storage/index.ts
  extensions/toggl-track/src/storage/persistedStorage.ts
  extensions/toggl-track/src/storage/types.ts
  extensions/toggl-track/src/toggl/auth.ts
  extensions/toggl-track/src/toggl/index.ts
  extensions/toggl-track/src/toggl/types.ts
  extensions/toggl-track/tsconfig.json
Labels: new extension, accepted

#730 Update Tailwind plugin to include Tailwind 3 docs
  extensions/tailwindcss/src/search-documentation.tsx
Labels: extension fix / improvement, accepted

#748 Update title of "Search Rubygems" extension
  extensions/search-rubygems/package.json
Labels: extension fix / improvement, accepted

#765 Update DockerHub extension
  extensions/dockerhub/src/search.tsx
Labels: extension fix / improvement, accepted

#699 Add a new extension to search confluence wiki
  extensions/confluence-search/.eslintrc.json
  extensions/confluence-search/.prettierrc
  extensions/confluence-search/assets/confluence-icon.png
  extensions/confluence-search/package-lock.json
  extensions/confluence-search/package.json
  extensions/confluence-search/src/index.tsx
  extensions/confluence-search/tsconfig.json
Labels: new extension, accepted

#727 Search Composer Packagist (PHP Dependency Manager)
  extensions/search-composer-packagist/.eslintrc.json
  extensions/search-composer-packagist/.prettierrc
  extensions/search-composer-packagist/README.md
  extensions/search-composer-packagist/assets/composer-icon.png
  extensions/search-composer-packagist/assets/raycast-composer-packagist-extension.png
  extensions/search-composer-packagist/package-lock.json
  extensions/search-composer-packagist/package.json
  extensions/search-composer-packagist/src/composer.tsx
  extensions/search-composer-packagist/tsconfig.json
Labels: new extension, accepted
