Repository raycast/extensions, pull requests merged in 2022-10, with the labels that each got.

#3052 add: ohmyzsh-plugins extension
  extensions/ohmyzsh-plugins/.editorconfig
  extensions/ohmyzsh-plugins/.eslintrc.json
  extensions/ohmyzsh-plugins/.gitignore
  extensions/ohmyzsh-plugins/.prettierrc
  extensions/ohmyzsh-plugins/CHANGELOG.md
  extensions/ohmyzsh-plugins/README.md
  extensions/ohmyzsh-plugins/assets/icon.png
  extensions/ohmyzsh-plugins/metadata/ohmyzsh-plugins-0.png
  extensions/ohmyzsh-plugins/package-lock.json
  extensions/ohmyzsh-plugins/package.json
  extensions/ohmyzsh-plugins/src/index.tsx
  extensions/ohmyzsh-plugins/tsconfig.json
Labels: new extension

#3085 Bear: make opening note in edit mode optional
  extensions/bear/CHANGELOG.md
  extensions/bear/package.json
  extensions/bear/src/note-actions.tsx
Labels: extension fix / improvement, OP is author

#3105 fix(linear): Add fallback icon for custom emojis
  extensions/linear/src/components/CreateIssueForm.tsx
  extensions/linear/src/helpers/projects.ts
  extensions/linear/src/helpers/teams.ts
Labels: extension fix / improvement, OP is author

#3103 chore(typeform-navigator): Upgrade deps
  extensions/typeform-navigator/CHANGELOG.md
  extensions/typeform-navigator/package-lock.json
  extensions/typeform-navigator/package.json
Labels: extension fix / improvement, OP is author

#3107 speedtest: Update to speedtest 1.2.0
  extensions/speedtest/CHANGELOG.md
  extensions/speedtest/README.md
  extensions/speedtest/src/lib/cli.ts
Labels: extension fix / improvement

#3084 Bear: add screenshots, contributors, changelog, update dependencies
  extensions/bear/CHANGELOG.md
  extensions/bear/assets/sql-wasm.wasm
  extensions/bear/metadata/bear-1.png
  extensions/bear/metadata/bear-2.png
  extensions/bear/metadata/bear-3.png
  extensions/bear/package-lock.json
  extensions/bear/package.json
  extensions/bear/src/add-text.tsx
  extensions/bear/src/bear-db.ts
  extensions/bear/src/grab-url.tsx
  extensions/bear/src/index.tsx
  extensions/bear/src/new-note.tsx
  extensions/bear/src/note-actions.tsx
  extensions/bear/src/note-links.tsx
Labels: extension fix / improvement, OP is author

#3074 feat: 🎸 first version of Bitcoin price
  extensions/bitcoin-price/.eslintrc.json
  extensions/bitcoin-price/.gitignore
  extensions/bitcoin-price/.prettierrc
  extensions/bitcoin-price/CHANGELOG.md
  extensions/bitcoin-price/README.md
  extensions/bitcoin-price/assets/btc-price-icon.png
  extensions/bitcoin-price/package-lock.json
  extensions/bitcoin-price/package.json
  extensions/bitcoin-price/src/bitcoin-menu-bar.tsx
  extensions/bitcoin-price/tsconfig.json
Labels: new extension

#3112 🐛 Fixed URL used to fetch Fathom Analytics sites
  extensions/fathom-analytics/CHANGELOG.md
  extensions/fathom-analytics/src/list-sites.tsx
Labels: extension fix / improvement, OP is author

#3075 [Canvascast] Minor Feed fixes
  extensions/canvascast/CHANGELOG.md
  extensions/canvascast/src/components/assignment.tsx
  extensions/canvascast/src/feed.tsx
Labels: extension fix / improvement, OP is author

#3034 anonaddy - Add extension
  extensions/anonaddy/.eslintrc.json
  extensions/anonaddy/.gitignore
  extensions/anonaddy/.prettierrc
  extensions/anonaddy/CHANGELOG.md
  extensions/anonaddy/README.md
  extensions/anonaddy/assets/command-icon.png
  extensions/anonaddy/package-lock.json
  extensions/anonaddy/package.json
  extensions/anonaddy/src/edit-alias.tsx
  extensions/anonaddy/src/generate-alias.tsx
  extensions/anonaddy/src/list-aliases.tsx
  extensions/anonaddy/src/utils/create.ts
  extensions/anonaddy/src/utils/delete.ts
  extensions/anonaddy/src/utils/edit.ts
  extensions/anonaddy/src/utils/key.ts
  extensions/anonaddy/src/utils/list.ts
  extensions/anonaddy/src/utils/toggle.ts
  extensions/anonaddy/tsconfig.json
Labels: new extension

#3070 New extension: Serverless Framework Docs
  extensions/serverless-framework-docs/.eslintrc.json
  extensions/serverless-framework-docs/.gitignore
  extensions/serverless-framework-docs/.prettierrc
  extensions/serverless-framework-docs/CHANGELOG.md
  extensions/serverless-framework-docs/README.md
  extensions/serverless-framework-docs/assets/serverless-doc.png
  extensions/serverless-framework-docs/assets/serverless.png
  extensions/serverless-framework-docs/metadata/serverless-framework-docs-1.png
  extensions/serverless-framework-docs/metadata/serverless-framework-docs-2.png
  extensions/serverless-framework-docs/package-lock.json
  extensions/serverless-framework-docs/package.json
  extensions/serverless-framework-docs/src/documentation/latest.json
  extensions/serverless-framework-docs/src/index.tsx
  extensions/serverless-framework-docs/tsconfig.json
Labels: new extension

#3077 fix(iTranslate): Optimize Experience
  extensions/itranslate/CHANGELOG.md
  extensions/itranslate/package.json
  extensions/itranslate/src/common/itranslate.shared.tsx
  extensions/itranslate/src/multiple.tsx
Labels: extension fix / improvement, OP is author

#3078 [Transform] Switched from single command to separate commands
  extensions/transform/CHANGELOG.md
  extensions/transform/metadata/transform-1.png
  extensions/transform/metadata/transform-2.png
  extensions/transform/package-lock.json
  extensions/transform/package.json
  extensions/transform/src/components/DefaultForm.tsx
  extensions/transform/src/css-to-js.tsx
  extensions/transform/src/html-to-jsx.tsx
  extensions/transform/src/html-to-markdown.tsx
  extensions/transform/src/html-to-pug.tsx
  extensions/transform/src/js-object-to-json.tsx
  extensions/transform/src/json-to-big-query.tsx
  extensions/transform/src/json-to-go-bson.tsx
  extensions/transform/src/json-to-go-struct.tsx
  extensions/transform/src/json-to-graphql.tsx
  extensions/transform/src/json-to-jsdoc.tsx
  extensions/transform/src/json-to-json-schema.tsx
  extensions/transform/src/json-to-kotlin.tsx
  extensions/transform/src/json-to-toml.tsx
  extensions/transform/src/json-to-typescript-interface.tsx
  extensions/transform/src/json-to-typescript-type.tsx
  extensions/transform/src/json-to-yaml.tsx
  extensions/transform/src/lib/use-form.ts
  extensions/transform/src/markdown-to-html.tsx
  extensions/transform/src/markdown-to-pug.tsx
  extensions/transform/src/pug-to-html.tsx
  extensions/transform/src/pug-to-markdown.tsx
  extensions/transform/src/string-to-color.tsx
  extensions/transform/src/string-to-regex.tsx
  extensions/transform/src/toml-to-json.tsx
  extensions/transform/src/toml-to-yaml.tsx
  extensions/transform/src/types.d.ts
  extensions/transform/src/yaml-to-json.tsx
  extensions/transform/src/yaml-to-toml.tsx
Labels: extension fix / improvement, OP is author

#3081 update: go-package-search
  extensions/go-package-search/CHANGELOG.md
  extensions/go-package-search/package-lock.json
  extensions/go-package-search/package.json
  extensions/go-package-search/src/index.tsx
Labels: extension fix / improvement

#3082 Add SuperGenPass extension
  extensions/superpassgen/.eslintrc.json
  extensions/superpassgen/.prettierrc
  extensions/superpassgen/CHANGELOG.md
  extensions/superpassgen/README.md
  extensions/superpassgen/assets/command-icon.png
  extensions/superpassgen/metadata/supergenpass-1.png
  extensions/superpassgen/metadata/supergenpass-2.png
  extensions/superpassgen/package-lock.json
  extensions/superpassgen/package.json
  extensions/superpassgen/src/generatePassword.ts
  extensions/superpassgen/src/supergenpass-lib.d.ts
  extensions/superpassgen/src/superpassgen.tsx
  extensions/superpassgen/tsconfig.json
Labels: new extension

#3088 Add Ember API Documentation extension
  extensions/ember-api-documentation/.eslintrc.json
  extensions/ember-api-documentation/.gitignore
  extensions/ember-api-documentation/.prettierrc
  extensions/ember-api-documentation/CHANGELOG.md
  extensions/ember-api-documentation/README.md
  extensions/ember-api-documentation/assets/command-icon.png
  extensions/ember-api-documentation/metadata/ember-api-documentation-1.png
  extensions/ember-api-documentation/metadata/ember-api-documentation-2.png
  extensions/ember-api-documentation/metadata/ember-api-documentation-3.png
  extensions/ember-api-documentation/package-lock.json
  extensions/ember-api-documentation/package.json
  extensions/ember-api-documentation/src/data/ember-4.7.0.json
  extensions/ember-api-documentation/src/data/ember-data-4.7.2.json
  extensions/ember-api-documentation/src/entities/documentation-item.ts
  extensions/ember-api-documentation/src/enum/ember-api-endpoints.ts
  extensions/ember-api-documentation/src/index.tsx
  extensions/ember-api-documentation/src/interfaces/documentation-item.ts
  extensions/ember-api-documentation/src/interfaces/ember-api-response.ts
  extensions/ember-api-documentation/src/services/ember-api-store.ts
  extensions/ember-api-documentation/tsconfig.json
Labels: new extension

#3093 [Easydict v2.4.1] 🐞 Fix Google cn translate error
  extensions/easydict/CHANGELOG.md
  extensions/easydict/README.md
  extensions/easydict/docs/README_ZH.md
  extensions/easydict/package.json
  extensions/easydict/src/axiosConfig.ts
  extensions/easydict/src/dataManager/dataManager.ts
  extensions/easydict/src/detectLanauge/detect.ts
  extensions/easydict/src/dictionary/youdao/types.ts
  extensions/easydict/src/easydict.tsx
  extensions/easydict/src/language/languages.ts
  extensions/easydict/src/releaseVersion/releaseNote.ts
  extensions/easydict/src/releaseVersion/versionInfo.ts
  extensions/easydict/src/scripts.ts
  extensions/easydict/src/translation/deepL.ts
  extensions/easydict/src/translation/google.ts
  extensions/easydict/src/translation/microsoft/bing.ts
  extensions/easydict/src/translation/tencent.ts
  extensions/easydict/src/translation/volcano/volcanoAPI.ts
Labels: extension fix / improvement, OP is author

#3094 New extension: Search ClojureDocs Site
  extensions/clojuredocs-search/.eslintrc.json
  extensions/clojuredocs-search/.gitignore
  extensions/clojuredocs-search/.prettierrc
  extensions/clojuredocs-search/CHANGELOG.md
  extensions/clojuredocs-search/README.md
  extensions/clojuredocs-search/assets/clojure.png
  extensions/clojuredocs-search/metadata/search-clojuredocs-1.png
  extensions/clojuredocs-search/metadata/search-clojuredocs-2.png
  extensions/clojuredocs-search/package-lock.json
  extensions/clojuredocs-search/package.json
  extensions/clojuredocs-search/src/index.tsx
  extensions/clojuredocs-search/tsconfig.json
Labels: new extension

#3092 fix: decodeURIComponent %2F in filename
  extensions/logseq/CHANGELOG.md
  extensions/logseq/src/utils.ts
Labels: extension fix / improvement

#3098 update: search-mdn
  extensions/search-mdn/CHANGELOG.md
  extensions/search-mdn/metadata/search-mdn-0.png
  extensions/search-mdn/metadata/search-mdn-1.png
  extensions/search-mdn/package-lock.json
  extensions/search-mdn/package.json
  extensions/search-mdn/src/index.tsx
Labels: extension fix / improvement

#3038 Claris Snippets
  extensions/claris-snippets/.eslintrc.json
  extensions/claris-snippets/.gitignore
  extensions/claris-snippets/.prettierrc
  extensions/claris-snippets/CHANGELOG.md
  extensions/claris-snippets/README.md
  extensions/claris-snippets/assets/FmClipTools/FMToClipboard.applescript
  extensions/claris-snippets/assets/FmClipTools/Script Step Transmutator---NOT-DONE.applescript
  extensions/claris-snippets/assets/FmClipTools/clipboardToFM.applescript
  extensions/claris-snippets/assets/FmClipTools/fmClip - Button Info from Clipboard.applescript
  extensions/claris-snippets/assets/FmClipTools/fmClip - Clipboard FM Objects to XML.applescript
  extensions/claris-snippets/assets/FmClipTools/fmClip - Clipboard XML to FM Objects.applescript
  extensions/claris-snippets/assets/FmClipTools/fmClip - Custom Function Paste As Needed.applescript
  extensions/claris-snippets/assets/FmClipTools/fmClip - Escape text for use as FM Calc.applescript
  extensions/claris-snippets/assets/FmClipTools/fmClip - FM Objects to Multi-Objects.applescript
  extensions/claris-snippets/assets/FmClipTools/fmClip - Loop Script Steps.applescript
  extensions/claris-snippets/assets/FmClipTools/fmClip - Perform Find to Script Steps.applescript
  extensions/claris-snippets/assets/FmClipTools/fmClip - Replace String in FM Objects.applescript
  extensions/claris-snippets/assets/FmClipTools/fmClip - Replicate FM Objects.applescript
  extensions/claris-snippets/assets/FmClipTools/fmClip - Smart Paste Functions.applescript
  extensions/claris-snippets/assets/FmClipTools/fmClip - Wrap Set Field with If-Not-Same.applescript
  extensions/claris-snippets/assets/FmClipTools/fmObjectTranslator.applescript
  extensions/claris-snippets/assets/command-icon.png
  extensions/claris-snippets/metadata/claris-snippets-1.png
  extensions/claris-snippets/metadata/claris-snippets-2.png
  extensions/claris-snippets/metadata/claris-snippets-3.png
  extensions/claris-snippets/package-lock.json
  extensions/claris-snippets/package.json
  extensions/claris-snippets/src/components/create-snippet-error.tsx
  extensions/claris-snippets/src/components/edit-snippet.tsx
  extensions/claris-snippets/src/create-snippet.tsx
  extensions/claris-snippets/src/manage-locations.tsx
  extensions/claris-snippets/src/utils/FmClipTools.ts
  extensions/claris-snippets/src/utils/selectFolder.tsx
  extensions/claris-snippets/src/utils/snippets.ts
  extensions/claris-snippets/src/utils/types.ts
  extensions/claris-snippets/src/utils/use-locations.ts
  extensions/claris-snippets/src/view-snippets.tsx
  extensions/claris-snippets/tsconfig.json
Labels: new extension

#3132 update: ossinsight
  extensions/ossinsight/CHANGELOG.md
  extensions/ossinsight/metadata/ossinsight-trending-repos.png
  extensions/ossinsight/package-lock.json
  extensions/ossinsight/package.json
  extensions/ossinsight/src/index.tsx
  extensions/ossinsight/src/types.ts
Labels: extension fix / improvement, OP is author

#3071 New Extension: Nouns
  extensions/nouns/.eslintrc.json
  extensions/nouns/.gitignore
  extensions/nouns/.prettierrc
  extensions/nouns/CHANGELOG.md
  extensions/nouns/README.md
  extensions/nouns/assets/nouns-icon.png
  extensions/nouns/metadata/nouns-1.png
  extensions/nouns/metadata/nouns-2.png
  extensions/nouns/metadata/nouns-3.png
  extensions/nouns/metadata/nouns-4.png
  extensions/nouns/metadata/nouns-5.png
  extensions/nouns/metadata/nouns-6.png
  extensions/nouns/package-lock.json
  extensions/nouns/package.json
  extensions/nouns/src/nouns-search.tsx
  extensions/nouns/src/traits.ts
  extensions/nouns/tsconfig.json
Labels: new extension

#3122 [Ethereum Price]Added new currency in the array – INR
  extensions/ethereum-price/CHANGELOG.md
  extensions/ethereum-price/src/eth-menu-bar.tsx
Labels: extension fix / improvement

#3028 [New Feature: Lorem Ipsum] update api/deps, allow support for multiple sentences/paragraphs
  extensions/lorem-ipsum/CHANGELOG.md
  extensions/lorem-ipsum/package-lock.json
  extensions/lorem-ipsum/package.json
  extensions/lorem-ipsum/src/paragraph.tsx
  extensions/lorem-ipsum/src/paragraphs.tsx
  extensions/lorem-ipsum/src/sentence.tsx
  extensions/lorem-ipsum/src/sentences.tsx
  extensions/lorem-ipsum/src/types.tsx
  extensions/lorem-ipsum/src/utils.tsx
Labels: extension fix / improvement

#3136 Added SPonGE CasE
  extensions/change-case/CHANGELOG.md
  extensions/change-case/package-lock.json
  extensions/change-case/package.json
  extensions/change-case/src/change-case.tsx
Labels: extension fix / improvement

#3120 [Ethereum Price]: UI Updates
  extensions/ethereum-price/CHANGELOG.md
  extensions/ethereum-price/package.json
  extensions/ethereum-price/src/eth-menu-bar.tsx
Labels: extension fix / improvement, OP is author

#3113 :sparkles: added menubar command, tidied up type declarations
  extensions/typefully/CHANGELOG.md
  extensions/typefully/assets/black-feather.svg
  extensions/typefully/assets/white-feather.svg
  extensions/typefully/package-lock.json
  extensions/typefully/package.json
  extensions/typefully/src/command-bar-menu.tsx
  extensions/typefully/src/create-draft.tsx
  extensions/typefully/src/interfaces/draft.ts
  extensions/typefully/src/interfaces/preferences.ts
  extensions/typefully/src/interfaces/preferences.tsx
  extensions/typefully/src/view-posted.tsx
  extensions/typefully/src/view-scheduled.tsx
Labels: extension fix / improvement, OP is author

#3137 [Xcode] Add confirmation alerts to no-view commands
  extensions/xcode/CHANGELOG.md
  extensions/xcode/package-lock.json
  extensions/xcode/package.json
  extensions/xcode/src/clear-derived-data.command.tsx
  extensions/xcode/src/clear-swift-package-manager-cache.command.tsx
  extensions/xcode/src/delete-unsupported-simulators.command.tsx
Labels: extension fix / improvement, OP is author

#3097 add: redis extension
  extensions/redis/.editorconfig
  extensions/redis/.eslintrc.json
  extensions/redis/.gitignore
  extensions/redis/.prettierrc
  extensions/redis/CHANGELOG.md
  extensions/redis/README.md
  extensions/redis/assets/command-icon.png
  extensions/redis/metadata/redis-0.png
  extensions/redis/metadata/redis-1.png
  extensions/redis/metadata/redis-2.png
  extensions/redis/metadata/redis-3.png
  extensions/redis/package-lock.json
  extensions/redis/package.json
  extensions/redis/src/index.tsx
  extensions/redis/src/lib/redis.ts
  extensions/redis/src/lib/storage.ts
  extensions/redis/src/run-command.tsx
  extensions/redis/tsconfig.json
Labels: new extension

#3133 [New Extension: Recents] Initial version
  extensions/recents/.eslintrc.json
  extensions/recents/.gitignore
  extensions/recents/.prettierrc
  extensions/recents/CHANGELOG.md
  extensions/recents/README.md
  extensions/recents/assets/recents.png
  extensions/recents/assets/recents@dark.png
  extensions/recents/metadata/recents-1.png
  extensions/recents/metadata/recents-2.png
  extensions/recents/metadata/recents-3.png
  extensions/recents/metadata/recents-4.png
  extensions/recents/metadata/recents-5.png
  extensions/recents/package-lock.json
  extensions/recents/package.json
  extensions/recents/src/global.d.ts
  extensions/recents/src/recentApplications.tsx
  extensions/recents/src/recentDocuments.tsx
  extensions/recents/src/recentDownloads.tsx
  extensions/recents/src/recentFolders.tsx
  extensions/recents/src/recents.tsx
  extensions/recents/src/types.tsx
  extensions/recents/src/utils.tsx
  extensions/recents/tsconfig.json
Labels: new extension

#3143 Nouns Extension: add Menu Bar command
  extensions/nouns/CHANGELOG.md
  extensions/nouns/package-lock.json
  extensions/nouns/package.json
  extensions/nouns/src/nouns-menu.tsx
  extensions/nouns/src/nouns-search.tsx
  extensions/nouns/src/storage.ts
Labels: extension fix / improvement, OP is author

#3106 New extension: Meme generator
  extensions/meme-generator/.eslintrc.json
  extensions/meme-generator/.gitignore
  extensions/meme-generator/.prettierrc
  extensions/meme-generator/CHANGELOG.md
  extensions/meme-generator/README.md
  extensions/meme-generator/assets/command-icon.png
  extensions/meme-generator/metadata/meme-generator-1.png
  extensions/meme-generator/metadata/meme-generator-2.png
  extensions/meme-generator/metadata/meme-generator-3.png
  extensions/meme-generator/package-lock.json
  extensions/meme-generator/package.json
  extensions/meme-generator/src/api/index.ts
  extensions/meme-generator/src/api/types.ts
  extensions/meme-generator/src/components/MemeForm.tsx
  extensions/meme-generator/src/components/MemeGrid.tsx
  extensions/meme-generator/src/components/MemePreview.tsx
  extensions/meme-generator/src/generateMeme.tsx
  extensions/meme-generator/src/lib/copyFileToClipboard.ts
  extensions/meme-generator/src/types.ts
  extensions/meme-generator/tsconfig.json
Labels: new extension

#3141 [Spotify-Player] Add track to queue function
  extensions/spotify-player/CHANGELOG.md
  extensions/spotify-player/src/components/TrackListItem.tsx
  extensions/spotify-player/src/spotify/client.ts
Labels: extension fix / improvement

#3155 [Web3 Profile]: Fix edge case when `avatarText` is `null`
  extensions/web3-profile/CHANGELOG.md
  extensions/web3-profile/src/search-web3-profile.tsx
Labels: extension fix / improvement, OP is author

#3123 New Extension: Pins
  extensions/pins/.eslintrc.json
  extensions/pins/.gitignore
  extensions/pins/.prettierrc
  extensions/pins/CHANGELOG.md
  extensions/pins/README.md
  extensions/pins/assets/command-icon.png
  extensions/pins/assets/no-view.png
  extensions/pins/assets/pin-icon.svg
  extensions/pins/assets/pin-icon@dark.svg
  extensions/pins/metadata/pins-2.png
  extensions/pins/metadata/pins-3.png
  extensions/pins/metadata/pins-4.png
  extensions/pins/package-lock.json
  extensions/pins/package.json
  extensions/pins/src/constants.tsx
  extensions/pins/src/copy-pins.ts
  extensions/pins/src/import-data.tsx
  extensions/pins/src/index.tsx
  extensions/pins/src/new-group.tsx
  extensions/pins/src/new-pin.tsx
  extensions/pins/src/types.tsx
  extensions/pins/src/utils.tsx
  extensions/pins/src/view-groups.tsx
  extensions/pins/src/view-pins.tsx
  extensions/pins/tsconfig.json
Labels: new extension

#2652 New Extension: Retool
  extensions/retool/.eslintrc.json
  extensions/retool/.gitignore
  extensions/retool/.prettierrc
  extensions/retool/CHANGELOG.md
  extensions/retool/README.md
  extensions/retool/assets/icon.png
  extensions/retool/assets/icon@dark.png
  extensions/retool/package-lock.json
  extensions/retool/package.json
  extensions/retool/src/index.tsx
  extensions/retool/src/utils.ts
  extensions/retool/tsconfig.json
  package-lock.json
Labels: new extension

#3161 🐛 Fixed menubar command bug and changed onsubmit textarea behaviour to clear (Typefully)
  extensions/typefully/CHANGELOG.md
  extensions/typefully/src/command-bar-menu.tsx
  extensions/typefully/src/create-draft.tsx
Labels: extension fix / improvement, OP is author

#3168 Fix Issue #3119 - Change Succses to Success
  extensions/lifx/src/turnOffAllLights.tsx
  extensions/lifx/src/turnOnAllLights.tsx
Labels: extension fix / improvement, OP is author

#3148 Downloads Manager: Added command "Reveal Latest Download in Finder"
  extensions/downloads-manager/CHANGELOG.md
  extensions/downloads-manager/package.json
  extensions/downloads-manager/src/show-latest-download.tsx
Labels: extension fix / improvement

#3178 fix: 🐛 Date incorrect for journals setup with EEEE for day name
  extensions/logseq/CHANGELOG.md
  extensions/logseq/package-lock.json
  extensions/logseq/package.json
  extensions/logseq/src/utils.ts
Labels: extension fix / improvement, OP is author

#3176 [Replicate] - Add Open on replicate.com action
  extensions/replicate/CHANGELOG.md
  extensions/replicate/package-lock.json
  extensions/replicate/package.json
  extensions/replicate/src/views/GridView.tsx
  extensions/replicate/src/views/Single.tsx
Labels: extension fix / improvement, OP is author

#3145 Add iOS HIG extension
  extensions/ios-hig/.eslintrc.json
  extensions/ios-hig/.gitignore
  extensions/ios-hig/.prettierrc
  extensions/ios-hig/CHANGELOG.md
  extensions/ios-hig/README.md
  extensions/ios-hig/assets/icon.png
  extensions/ios-hig/metadata/raycast-ios-hig-1.png
  extensions/ios-hig/package-lock.json
  extensions/ios-hig/package.json
  extensions/ios-hig/src/fontSizes.tsx
  extensions/ios-hig/src/index.tsx
  extensions/ios-hig/tsconfig.json
Labels: new extension

#3185 Oss Browser: Update README & No data view
  extensions/oss-browser/CHANGELOG.md
  extensions/oss-browser/README.md
  extensions/oss-browser/assets/no-view@dark.png
  extensions/oss-browser/assets/no-view@light.png
  extensions/oss-browser/src/components/folder.tsx
Labels: extension fix / improvement, OP is author

#3184 iHosts: Update README & Command keywords
  extensions/ihosts/CHANGELOG.md
  extensions/ihosts/README.md
  extensions/ihosts/package.json
Labels: extension fix / improvement, OP is author

#3183 iTranslate: Optimize UI
  extensions/itranslate/CHANGELOG.md
  extensions/itranslate/README.md
  extensions/itranslate/assets/no-view@dark.png
  extensions/itranslate/assets/no-view@light.png
  extensions/itranslate/metadata/itranslate-2.png
  extensions/itranslate/metadata/itranslate-3.png
  extensions/itranslate/metadata/itranslate-4.png
  extensions/itranslate/metadata/itranslate-5.png
  extensions/itranslate/package-lock.json
  extensions/itranslate/package.json
  extensions/itranslate/src/common/const.ts
  extensions/itranslate/src/common/itranslate.shared.tsx
  extensions/itranslate/src/components/TranslateHistory.tsx
  extensions/itranslate/src/components/TranslateResult.tsx
  extensions/itranslate/src/itranslate.tsx
  extensions/itranslate/src/multiple.tsx
  extensions/itranslate/src/ocr.tsx
Labels: extension fix / improvement, OP is author

#3149 Add extension to search the Hex package registry
  extensions/search-hexpm/.eslintrc.json
  extensions/search-hexpm/.prettierrc
  extensions/search-hexpm/CHANGELOG.md
  extensions/search-hexpm/README.md
  extensions/search-hexpm/assets/command-icon.png
  extensions/search-hexpm/assets/list-icon.png
  extensions/search-hexpm/metadata/search-hex-1.png
  extensions/search-hexpm/metadata/search-hex-2.png
  extensions/search-hexpm/metadata/search-hex-3.png
  extensions/search-hexpm/metadata/search-hex-4.png
  extensions/search-hexpm/package-lock.json
  extensions/search-hexpm/package.json
  extensions/search-hexpm/src/components/PackageInfo.tsx
  extensions/search-hexpm/src/components/PackageOptions.tsx
  extensions/search-hexpm/src/hex/types.ts
  extensions/search-hexpm/src/hex/useHexPackageDetail.ts
  extensions/search-hexpm/src/hex/useHexSearch.ts
  extensions/search-hexpm/src/index.tsx
  extensions/search-hexpm/tsconfig.json
Labels: new extension

#3169 update downloads manager with new commands
  extensions/downloads-manager/CHANGELOG.md
  extensions/downloads-manager/package-lock.json
  extensions/downloads-manager/package.json
  extensions/downloads-manager/src/copy-latest-download.tsx
  extensions/downloads-manager/src/open-latest-download.tsx
  extensions/downloads-manager/src/utils.ts
Labels: extension fix / improvement

#3186 Claris snippets: Git Support
  extensions/claris-snippets/CHANGELOG.md
  extensions/claris-snippets/README.md
  extensions/claris-snippets/package.json
  extensions/claris-snippets/src/components/edit-snippet.tsx
  extensions/claris-snippets/src/manage-locations.tsx
  extensions/claris-snippets/src/utils/snippets.ts
  extensions/claris-snippets/src/utils/types.ts
  extensions/claris-snippets/src/utils/use-locations.ts
  extensions/claris-snippets/src/view-snippets.tsx
Labels: extension fix / improvement, OP is author

#3189 New Extension: Append Clipboard
  extensions/append-clipboard/.eslintrc.json
  extensions/append-clipboard/.gitignore
  extensions/append-clipboard/.prettierrc
  extensions/append-clipboard/CHANGELOG.md
  extensions/append-clipboard/README.md
  extensions/append-clipboard/assets/append-clipboard.png
  extensions/append-clipboard/package-lock.json
  extensions/append-clipboard/package.json
  extensions/append-clipboard/src/append-text-to-clipboard.tsx
  extensions/append-clipboard/src/types/preferences.ts
  extensions/append-clipboard/tsconfig.json
Labels: new extension

#3181 feat: add open in browser option for project navigation
  extensions/gitlab/CHANGELOG.md
  extensions/gitlab/src/components/project_nav.tsx
Labels: extension fix / improvement, OP is contributor

#3192 Claris Snippets: bug fix for undefined
  extensions/claris-snippets/src/view-snippets.tsx
Labels: extension fix / improvement, OP is author

#3197 Update extension: Append Clipboard
  extensions/append-clipboard/CHANGELOG.md
  extensions/append-clipboard/README.md
  extensions/append-clipboard/assets/extension-icon.png
  extensions/append-clipboard/assets/prepend-clipboard.png
  extensions/append-clipboard/metadata/Metadata.png
  extensions/append-clipboard/package.json
  extensions/append-clipboard/src/prepend-text-to-clipboard.tsx
Labels: extension fix / improvement, OP is author

#3196 iHosts: Optimization
  extensions/ihosts/CHANGELOG.md
  extensions/ihosts/assets/sys-host-prem.png
  extensions/ihosts/src/component.tsx
Labels: extension fix / improvement, OP is author

#3162 Add extension for randomly generated palette based on Adobe Leonardo
  extensions/palette-colors/.eslintrc.json
  extensions/palette-colors/.gitignore
  extensions/palette-colors/.prettierrc
  extensions/palette-colors/CHANGELOG.md
  extensions/palette-colors/README.md
  extensions/palette-colors/assets/command-icon.png
  extensions/palette-colors/index.d.ts
  extensions/palette-colors/metadata/palette-colors-1.png
  extensions/palette-colors/metadata/palette-colors-2.png
  extensions/palette-colors/package-lock.json
  extensions/palette-colors/package.json
  extensions/palette-colors/src/constants.ts
  extensions/palette-colors/src/index.tsx
  extensions/palette-colors/tsconfig.json
Labels: new extension

#3170 New Extension: Masked Email
  extensions/fastmail-masked-email/.eslintrc.json
  extensions/fastmail-masked-email/.gitignore
  extensions/fastmail-masked-email/.prettierrc
  extensions/fastmail-masked-email/CHANGELOG.md
  extensions/fastmail-masked-email/README.md
  extensions/fastmail-masked-email/assets/mask.png
  extensions/fastmail-masked-email/metadata/fastmail-masked-email-1.png
  extensions/fastmail-masked-email/metadata/fastmail-masked-email-2.png
  extensions/fastmail-masked-email/package-lock.json
  extensions/fastmail-masked-email/package.json
  extensions/fastmail-masked-email/src/index.tsx
  extensions/fastmail-masked-email/tsconfig.json
Labels: new extension

#3200 [Oh Dear] Bugfix: Invalid page error when opening site link
  extensions/ohdear/package.json
  extensions/ohdear/src/components/site-item.tsx
Labels: extension fix / improvement

#2608 New extension: dev.to
  extensions/dev-to/.eslintrc.json
  extensions/dev-to/.gitignore
  extensions/dev-to/.prettierrc
  extensions/dev-to/CHANGELOG.md
  extensions/dev-to/README.md
  extensions/dev-to/assets/dev-to.png
  extensions/dev-to/assets/dev-to@dark.png
  extensions/dev-to/metadata/1-reading-list.png
  extensions/dev-to/metadata/2-articles.png
  extensions/dev-to/metadata/3-create-article.png
  extensions/dev-to/package-lock.json
  extensions/dev-to/package.json
  extensions/dev-to/src/components/action-open-preferences.tsx
  extensions/dev-to/src/components/article-action.tsx
  extensions/dev-to/src/components/reading-list-action.tsx
  extensions/dev-to/src/components/reading-list-detail.tsx
  extensions/dev-to/src/create-article.tsx
  extensions/dev-to/src/hooks/hooks.ts
  extensions/dev-to/src/search-article.tsx
  extensions/dev-to/src/search-reading-list.tsx
  extensions/dev-to/src/types/articleById.tsx
  extensions/dev-to/src/types/articles.tsx
  extensions/dev-to/src/types/newArticle.tsx
  extensions/dev-to/src/types/readingList.tsx
  extensions/dev-to/src/utils/functions.tsx
  extensions/dev-to/src/utils/state.ts
  extensions/dev-to/tsconfig.json
Labels: new extension

#2859 Add adhan time extension
  extensions/adhan-time/.eslintrc.json
  extensions/adhan-time/.gitignore
  extensions/adhan-time/.prettierrc
  extensions/adhan-time/CHANGELOG.md
  extensions/adhan-time/README.md
  extensions/adhan-time/assets/command-icon.png
  extensions/adhan-time/metadata/adhan-1.png
  extensions/adhan-time/metadata/adhan-2.png
  extensions/adhan-time/metadata/adhan-3.png
  extensions/adhan-time/package-lock.json
  extensions/adhan-time/package.json
  extensions/adhan-time/src/adhan.tsx
  extensions/adhan-time/tsconfig.json
Labels: new extension

#3206 [Easydict v2.5.0] ✨ Add support for Youdao modern Chinese dict
  extensions/easydict/CHANGELOG.md
  extensions/easydict/README.md
  extensions/easydict/docs/README_ZH.md
  extensions/easydict/package-lock.json
  extensions/easydict/package.json
  extensions/easydict/src/audio.ts
  extensions/easydict/src/axiosConfig.ts
  extensions/easydict/src/components.tsx
  extensions/easydict/src/dataManager/dataManager.ts
  extensions/easydict/src/dataManager/utils.ts
  extensions/easydict/src/detectLanauge/detect.ts
  extensions/easydict/src/detectLanauge/utils.ts
  extensions/easydict/src/dictionary/linguee/linguee.ts
  extensions/easydict/src/dictionary/linguee/parse.ts
  extensions/easydict/src/dictionary/youdao/formatData.ts
  extensions/easydict/src/dictionary/youdao/types.ts
  extensions/easydict/src/dictionary/youdao/youdao.ts
  extensions/easydict/src/easydict.tsx
  extensions/easydict/src/language/languages.ts
  extensions/easydict/src/preferences.ts
  extensions/easydict/src/releaseVersion/releaseNote.ts
  extensions/easydict/src/releaseVersion/versionInfo.ts
  extensions/easydict/src/scripts.ts
  extensions/easydict/src/translation/baidu/baiduAPI.ts
  extensions/easydict/src/translation/deepL.ts
  extensions/easydict/src/translation/google.ts
  extensions/easydict/src/translation/microsoft/bing.ts
  extensions/easydict/src/translation/tencent.ts
  extensions/easydict/src/translation/volcano/volcanoAPI.ts
  extensions/easydict/src/types.ts
  extensions/easydict/src/utils.ts
Labels: extension fix / improvement, OP is author

#3205 Update extension: Common Directory
  extensions/common-directory/CHANGELOG.md
  extensions/common-directory/package-lock.json
  extensions/common-directory/package.json
  extensions/common-directory/src/components/action-copy-file.tsx
  extensions/common-directory/src/components/folder-page.tsx
  extensions/common-directory/src/components/list-empty-view.tsx
  extensions/common-directory/src/hooks/hooks.ts
  extensions/common-directory/src/open-common-directory-menu-bar.tsx
  extensions/common-directory/src/open-common-directory.tsx
  extensions/common-directory/src/utils/applescript-utils.ts
Labels: extension fix / improvement, OP is author

#3217 fix(asana): form errors and better descriptive errors
  extensions/asana/package-lock.json
  extensions/asana/package.json
  extensions/asana/src/components/CreateTaskForm.tsx
  extensions/asana/src/helpers/errors.ts
  extensions/asana/src/hooks/useMe.ts
  extensions/asana/src/hooks/useMyTasks.ts
  extensions/asana/src/hooks/useProjects.ts
  extensions/asana/src/hooks/useTaskDetail.ts
  extensions/asana/src/hooks/useUsers.ts
  extensions/asana/src/hooks/useWorkspaces.ts
Labels: extension fix / improvement, OP is author

#3218 Binance: updated description
  extensions/binance/package.json
Labels: extension fix / improvement, OP is author

#3204 tc no generator extension add
  extensions/tc-no-generator/.eslintrc.json
  extensions/tc-no-generator/.gitignore
  extensions/tc-no-generator/.prettierrc
  extensions/tc-no-generator/CHANGELOG.md
  extensions/tc-no-generator/LICENSE
  extensions/tc-no-generator/README.md
  extensions/tc-no-generator/assets/cmd-icon.png
  extensions/tc-no-generator/package-lock.json
  extensions/tc-no-generator/package.json
  extensions/tc-no-generator/src/last-tc.ts
  extensions/tc-no-generator/src/lib/generator.ts
  extensions/tc-no-generator/src/tc-no-generate.ts
  extensions/tc-no-generator/tsconfig.json
Labels: new extension

#3194 Publish Salesforce Search extension
  extensions/salesforce-search/.eslintrc.json
  extensions/salesforce-search/.gitignore
  extensions/salesforce-search/.prettierrc
  extensions/salesforce-search/CHANGELOG.md
  extensions/salesforce-search/README.md
  extensions/salesforce-search/assets/salesforce.png
  extensions/salesforce-search/img/salesfoce-config.png
  extensions/salesforce-search/img/salesforce-admin.png
  extensions/salesforce-search/metadata/salesforce-1.png
  extensions/salesforce-search/metadata/salesforce-2.png
  extensions/salesforce-search/metadata/salesforce-login.png
  extensions/salesforce-search/metadata/salesforce-setup.png
  extensions/salesforce-search/package-lock.json
  extensions/salesforce-search/package.json
  extensions/salesforce-search/prepare-publish.mjs
  extensions/salesforce-search/src/command.tsx
  extensions/salesforce-search/src/salesforce/api.ts
  extensions/salesforce-search/src/salesforce/login.ts
  extensions/salesforce-search/src/salesforce/preferences.ts
  extensions/salesforce-search/src/salesforce/search.ts
  extensions/salesforce-search/src/util/collections.ts
  extensions/salesforce-search/src/util/log.ts
  extensions/salesforce-search/tsconfig.json
Labels: new extension

#2932 Add preferred format check for LogSearch
  extensions/logseq/src/logsearch.tsx
  extensions/logseq/src/utils.ts
Labels: extension fix / improvement

#3221 Add "Copy" action
  extensions/ticktick/CHANGELOG.md
  extensions/ticktick/src/components/taskItem.tsx
  extensions/ticktick/src/index.tsx
  extensions/ticktick/src/next7Days.tsx
  extensions/ticktick/src/search.tsx
  extensions/ticktick/src/service/task.ts
Labels: extension fix / improvement, OP is author

#3220 [Fix bug]Update extension: Append Clipboard
  extensions/append-clipboard/CHANGELOG.md
  extensions/append-clipboard/package-lock.json
  extensions/append-clipboard/package.json
  extensions/append-clipboard/src/append-text-to-clipboard.tsx
  extensions/append-clipboard/src/prepend-text-to-clipboard.tsx
  extensions/append-clipboard/src/utils/common-util.ts
Labels: extension fix / improvement, OP is author

#3203 [Fix Bug]Update extension: Wifi
  extensions/wi-fi/CHANGELOG.md
  extensions/wi-fi/assets/password.svg
  extensions/wi-fi/assets/wifi-icon.svg
  extensions/wi-fi/package-lock.json
  extensions/wi-fi/package.json
  extensions/wi-fi/src/components/primary-actions.tsx
  extensions/wi-fi/src/components/refresh-wifi.tsx
  extensions/wi-fi/src/enter-password.tsx
  extensions/wi-fi/src/hooks/hooks.ts
  extensions/wi-fi/src/scan-wifi.tsx
  extensions/wi-fi/src/types/types.ts
  extensions/wi-fi/src/utils/common-utils.ts
Labels: extension fix / improvement, OP is author

#3202 Update extension: Quick access
  extensions/quick-access/CHANGELOG.md
  extensions/quick-access/package-lock.json
  extensions/quick-access/package.json
  extensions/quick-access/src/components/action-on-files.tsx
  extensions/quick-access/src/components/folder-page.tsx
  extensions/quick-access/src/hooks/hooks.ts
  extensions/quick-access/src/pinned-folders-menu-bar.tsx
  extensions/quick-access/src/utils/applescript-utils.ts
Labels: extension fix / improvement, OP is author

#3131 New extension: Myanimelist Search
  extensions/myanimelist-search/.eslintrc.json
  extensions/myanimelist-search/.gitignore
  extensions/myanimelist-search/.prettierrc
  extensions/myanimelist-search/CHANGELOG.md
  extensions/myanimelist-search/README.md
  extensions/myanimelist-search/assets/mal.png
  extensions/myanimelist-search/components/searchAnimeGrid.tsx
  extensions/myanimelist-search/components/searchAnimeList.tsx
  extensions/myanimelist-search/metadata/myanimelist-search-1.png
  extensions/myanimelist-search/metadata/myanimelist-search-2.png
  extensions/myanimelist-search/metadata/myanimelist-search-3.png
  extensions/myanimelist-search/package-lock.json
  extensions/myanimelist-search/package.json
  extensions/myanimelist-search/src/index.tsx
  extensions/myanimelist-search/src/types/index.ts
  extensions/myanimelist-search/tsconfig.json
Labels: new extension

#3230 PPL: Small improvements and added top scorers command
  extensions/portuguese-primeira-liga/CHANGELOG.md
  extensions/portuguese-primeira-liga/metadata/screenshot-06.png
  extensions/portuguese-primeira-liga/package.json
  extensions/portuguese-primeira-liga/src/api/index.ts
  extensions/portuguese-primeira-liga/src/hooks/useTopScorers.ts
  extensions/portuguese-primeira-liga/src/standings.tsx
  extensions/portuguese-primeira-liga/src/topScorers.tsx
  extensions/portuguese-primeira-liga/src/types/index.ts
Labels: extension fix / improvement, OP is author

#3129 New Extension: Shell Buddy
  extensions/shell-buddy/.eslintrc.json
  extensions/shell-buddy/.gitignore
  extensions/shell-buddy/.prettierrc
  extensions/shell-buddy/CHANGELOG.md
  extensions/shell-buddy/README.md
  extensions/shell-buddy/assets/command-icon.png
  extensions/shell-buddy/metadata/shell-buddy-screenshot-1.png
  extensions/shell-buddy/metadata/shell-buddy-screenshot-2.png
  extensions/shell-buddy/metadata/shell-buddy-screenshot-3.png
  extensions/shell-buddy/metadata/shell-buddy-screenshot-4.png
  extensions/shell-buddy/package-lock.json
  extensions/shell-buddy/package.json
  extensions/shell-buddy/src/config.ts
  extensions/shell-buddy/src/index.tsx
  extensions/shell-buddy/src/types.ts
  extensions/shell-buddy/src/utils.ts
  extensions/shell-buddy/tsconfig.json
Labels: new extension

#3229 [Xcode] Add an option to show project favorites in the menu bar
  extensions/xcode/CHANGELOG.md
  extensions/xcode/assets/xcode-menu-bar-icon-black.png
  extensions/xcode/assets/xcode-menu-bar-icon-white.png
  extensions/xcode/package-lock.json
  extensions/xcode/package.json
  extensions/xcode/src/components/xcode-projects-menu-bar/xcode-projects-menu-bar.component.tsx
  extensions/xcode/src/models/preferences/preferences.model.ts
  extensions/xcode/src/models/xcode-projects-menu-bar/xcode-projects-menu-bar-list.model.ts
  extensions/xcode/src/search-xcode-releases.command.tsx
  extensions/xcode/src/services/xcode-project-menu-bar.service.ts
Labels: extension fix / improvement, OP is author

#3231 Update extension: Quick Access
  extensions/quick-access/CHANGELOG.md
  extensions/quick-access/README.md
  extensions/quick-access/assets/pin.png
  extensions/quick-access/assets/pin@dark.png
  extensions/quick-access/assets/search-pins-menu-bar.png
  extensions/quick-access/assets/search-pins-menu-bar@dark.png
  extensions/quick-access/assets/search-pins.png
  extensions/quick-access/assets/search-pins@dark.png
  extensions/quick-access/metadata/Metadata-1.png
  extensions/quick-access/metadata/Metadata-2.png
  extensions/quick-access/metadata/Metadata-3.png
  extensions/quick-access/metadata/quick-access-1.png
  extensions/quick-access/metadata/quick-access-2.png
  extensions/quick-access/metadata/quick-access-3.png
  extensions/quick-access/package.json
  extensions/quick-access/src/components/action-on-files.tsx
  extensions/quick-access/src/components/action-on-pins.tsx
  extensions/quick-access/src/components/menu-bar-actions.tsx
  extensions/quick-access/src/components/quick-access-empty-view.tsx
  extensions/quick-access/src/pin.tsx
  extensions/quick-access/src/pinned-folders-menu-bar.tsx
  extensions/quick-access/src/search-pinned-folders.tsx
  extensions/quick-access/src/search-pins-menu-bar.tsx
  extensions/quick-access/src/search-pins.tsx
  extensions/quick-access/src/types/types.ts
  extensions/quick-access/src/utils/applescript-utils.ts
  extensions/quick-access/src/utils/common-utils.ts
  extensions/quick-access/src/utils/constants.ts
Labels: extension fix / improvement, OP is author

#3234 Update extension: Quick Access
  extensions/quick-access/CHANGELOG.md
  extensions/quick-access/metadata/quick-access-3.png
  extensions/quick-access/package.json
  extensions/quick-access/src/components/action-on-pins.tsx
  extensions/quick-access/src/components/quick-access-empty-view.tsx
  extensions/quick-access/src/components/search-pins-grid.tsx
  extensions/quick-access/src/components/search-pins-list.tsx
  extensions/quick-access/src/pin.tsx
  extensions/quick-access/src/search-pins-menu-bar.tsx
  extensions/quick-access/src/search-pins.tsx
  extensions/quick-access/src/types/preferences.ts
  extensions/quick-access/src/types/types.ts
Labels: extension fix / improvement, OP is author

#3236 Update extension: Bing Wallpaper
  extensions/bing-wallpaper/CHANGELOG.md
  extensions/bing-wallpaper/assets/empty-view-icon.png
  extensions/bing-wallpaper/assets/empty-view-icon.svg
  extensions/bing-wallpaper/assets/empty-view-icon@dark.png
  extensions/bing-wallpaper/assets/empty-view-icon@dark.svg
  extensions/bing-wallpaper/metadata/Metadata-1.png
  extensions/bing-wallpaper/metadata/Metadata-2.png
  extensions/bing-wallpaper/metadata/Metadata-3.png
  extensions/bing-wallpaper/metadata/bing-wallpaper-1.png
  extensions/bing-wallpaper/metadata/bing-wallpaper-2.png
  extensions/bing-wallpaper/metadata/bing-wallpaper-3.png
  extensions/bing-wallpaper/package-lock.json
  extensions/bing-wallpaper/package.json
  extensions/bing-wallpaper/src/components/list-empty-view.tsx
  extensions/bing-wallpaper/src/components/wallpaper-grid-layout.tsx
  extensions/bing-wallpaper/src/types/preferences.ts
Labels: extension fix / improvement, OP is author

#3237 Update extension: Raycast Wallpaper
  extensions/raycast-wallpaper/CHANGELOG.md
  extensions/raycast-wallpaper/metadata/Metadata-1.png
  extensions/raycast-wallpaper/metadata/Metadata-2.png
  extensions/raycast-wallpaper/metadata/Metadata-3.png
  extensions/raycast-wallpaper/metadata/raycast-wallpaper-1.png
  extensions/raycast-wallpaper/metadata/raycast-wallpaper-2.png
  extensions/raycast-wallpaper/metadata/raycast-wallpaper-3.png
  extensions/raycast-wallpaper/package-lock.json
  extensions/raycast-wallpaper/package.json
  extensions/raycast-wallpaper/src/components/action-on-raycast-wallpaper.tsx
  extensions/raycast-wallpaper/src/components/raycast-wallpaper-empty-view.tsx
  extensions/raycast-wallpaper/src/components/raycast-wallpaper-grid.tsx
  extensions/raycast-wallpaper/src/components/raycast-wallpaper-list.tsx
  extensions/raycast-wallpaper/src/types/preferences.ts
Labels: extension fix / improvement, OP is author

#3157 Add extension to search Font Awesome icons
  extensions/fontawesome/.eslintrc.json
  extensions/fontawesome/.gitignore
  extensions/fontawesome/.prettierrc
  extensions/fontawesome/CHANGELOG.md
  extensions/fontawesome/README.md
  extensions/fontawesome/assets/command-icon.png
  extensions/fontawesome/metadata/font-awesome-1.png
  extensions/fontawesome/metadata/font-awesome-2.png
  extensions/fontawesome/package-lock.json
  extensions/fontawesome/package.json
  extensions/fontawesome/src/declarations.d.ts
  extensions/fontawesome/src/index.tsx
  extensions/fontawesome/src/types.ts
  extensions/fontawesome/src/use-server.ts
  extensions/fontawesome/tsconfig.json
Labels: new extension, status: awaiting response from dev

#3247 [Dad jokes]
  extensions/dad-jokes/.eslintrc.json
  extensions/dad-jokes/.gitignore
  extensions/dad-jokes/.prettierrc
  extensions/dad-jokes/CHANGELOG.md
  extensions/dad-jokes/README.md
  extensions/dad-jokes/assets/icon.png
  extensions/dad-jokes/metadata/dad-jokes-1.png
  extensions/dad-jokes/package-lock.json
  extensions/dad-jokes/package.json
  extensions/dad-jokes/src/index.tsx
  extensions/dad-jokes/tsconfig.json
Labels: new extension

#3252 Update extension: Dad jokes
  extensions/dad-jokes/metadata/dad-jokes-1.png
  extensions/dad-jokes/package-lock.json
  extensions/dad-jokes/package.json
  extensions/dad-jokes/src/index.tsx
Labels: extension fix / improvement

#3254 reverso-context: added translation direction guessing
  extensions/reverso-context/CHANGELOG.md
  extensions/reverso-context/package-lock.json
  extensions/reverso-context/package.json
  extensions/reverso-context/src/context.tsx
  extensions/reverso-context/src/domain.tsx
  extensions/reverso-context/src/utils.tsx
Labels: extension fix / improvement, OP is author

#3253 Update random data extension
  extensions/random-data-generator/package-lock.json
  extensions/random-data-generator/package.json
  extensions/random-data-generator/src/index.tsx
Labels: extension fix / improvement

#3224 Homey Extension
  extensions/homey/.eslintrc.json
  extensions/homey/.gitignore
  extensions/homey/.prettierrc
  extensions/homey/CHANGELOG.md
  extensions/homey/README.md
  extensions/homey/assets/8502422.png
  extensions/homey/assets/command-icon.png
  extensions/homey/assets/toggle-off.svg
  extensions/homey/assets/toggle-on.svg
  extensions/homey/package-lock.json
  extensions/homey/package.json
  extensions/homey/src/@types/homey-api/index.d.ts
  extensions/homey/src/devices.tsx
  extensions/homey/src/flows.tsx
  extensions/homey/src/lib/Homey.ts
  extensions/homey/src/lib/Storage.ts
  extensions/homey/tsconfig.json
Labels: new extension

#3245 Added Esse extension
  extensions/esse-actions/.eslintrc.json
  extensions/esse-actions/.gitignore
  extensions/esse-actions/.prettierrc
  extensions/esse-actions/.vscode/tasks.json
  extensions/esse-actions/CHANGELOG.md
  extensions/esse-actions/README.md
  extensions/esse-actions/assets/esse-icon.png
  extensions/esse-actions/metadata/01-esse-snake-case.jpg
  extensions/esse-actions/metadata/02-esse-line-numbers.png
  extensions/esse-actions/metadata/03-esse-circle-letters-filled.jpg
  extensions/esse-actions/metadata/04-esse-base64.png
  extensions/esse-actions/package-lock.json
  extensions/esse-actions/package.json
  extensions/esse-actions/src/command.tsx
  extensions/esse-actions/src/esse-items.ts
  extensions/esse-actions/tsconfig.json
Labels: new extension

#3216 New Extention: Crunchbase
  extensions/crunchbase/.eslintrc.json
  extensions/crunchbase/.gitignore
  extensions/crunchbase/.prettierrc
  extensions/crunchbase/CHANGELOG.md
  extensions/crunchbase/README.md
  extensions/crunchbase/assets/command-icon.png
  extensions/crunchbase/package-lock.json
  extensions/crunchbase/package.json
  extensions/crunchbase/src/index.tsx
  extensions/crunchbase/tsconfig.json
Labels: new extension

#3256 Update
  extensions/homey/assets/8502422.png
  extensions/homey/package.json
Labels: extension fix / improvement, status: awaiting response from dev, OP is author

#2897 New Extension: iWork
  extensions/iwork/.eslintrc.json
  extensions/iwork/.gitignore
  extensions/iwork/.prettierrc
  extensions/iwork/CHANGELOG.md
  extensions/iwork/README.md
  extensions/iwork/assets/iwork-icon.png
  extensions/iwork/assets/keynote-icon.png
  extensions/iwork/assets/numbers-icon.png
  extensions/iwork/assets/pages-icon.png
  extensions/iwork/metadata/iwork-1.png
  extensions/iwork/metadata/iwork-2.png
  extensions/iwork/metadata/iwork-3.png
  extensions/iwork/metadata/iwork-4.png
  extensions/iwork/package-lock.json
  extensions/iwork/package.json
  extensions/iwork/src/index.tsx
  extensions/iwork/src/keynote-export.tsx
  extensions/iwork/src/keynote-minimize.ts
  extensions/iwork/src/keynote-new-from-selection.ts
  extensions/iwork/src/keynote-new-with-theme.tsx
  extensions/iwork/src/keynote-new.ts
  extensions/iwork/src/keynote-open-in-keynote.ts
  extensions/iwork/src/keynote-start-slideshow.ts
  extensions/iwork/src/keynote-stop-slideshow.ts
  extensions/iwork/src/numbers-export.tsx
  extensions/iwork/src/numbers-minimize.ts
  extensions/iwork/src/numbers-new-from-template.tsx
  extensions/iwork/src/numbers-new.ts
  extensions/iwork/src/numbers-open-in-numbers.ts
  extensions/iwork/src/pages-export.tsx
  extensions/iwork/src/pages-minimize.ts
  extensions/iwork/src/pages-new-from-clipboard.ts
  extensions/iwork/src/pages-new-from-template.tsx
  extensions/iwork/src/pages-new.ts
  extensions/iwork/src/pages-open-in-pages.ts
  extensions/iwork/tsconfig.json
Labels: new extension

#3264 encoding-tools: Remove newlines when decoding base64
  extensions/encoding-tools/CHANGELOG.md
  extensions/encoding-tools/lib/utils.ts
  extensions/encoding-tools/src/base64-decode.ts
Labels: extension fix / improvement, OP is author

#3271 Salesforce separate records reporting
  extensions/salesforce-search/metadata/salesforce-1.png
  extensions/salesforce-search/metadata/salesforce-2.png
  extensions/salesforce-search/metadata/salesforce-3.png
  extensions/salesforce-search/package-lock.json
  extensions/salesforce-search/package.json
  extensions/salesforce-search/src/base-command.tsx
  extensions/salesforce-search/src/salesforce/objects.ts
  extensions/salesforce-search/src/salesforce/search.ts
  extensions/salesforce-search/src/search-records.tsx
  extensions/salesforce-search/src/search-reports.tsx
Labels: extension fix / improvement, OP is author

#3279 Adds SSH command to GitHub-Codespaces extension
  extensions/github-codespaces/CHANGELOG.md
  extensions/github-codespaces/package.json
  extensions/github-codespaces/src/actions/CodespaceActions.tsx
  extensions/github-codespaces/src/types.ts
  extensions/github-codespaces/src/utils/launchEditor.ts
Labels: extension fix / improvement, OP is author

#3281 Update extension: Easy New File
  extensions/easy-new-file/CHANGELOG.md
  extensions/easy-new-file/README.md
  extensions/easy-new-file/metadata/Metadata-1.png
  extensions/easy-new-file/metadata/Metadata-2.png
  extensions/easy-new-file/metadata/Metadata-3.png
  extensions/easy-new-file/metadata/easy-new-file-1.png
  extensions/easy-new-file/metadata/easy-new-file-2.png
  extensions/easy-new-file/metadata/easy-new-file-3.png
  extensions/easy-new-file/package-lock.json
  extensions/easy-new-file/package.json
  extensions/easy-new-file/src/add-file-template.tsx
  extensions/easy-new-file/src/components/action-new-file-here.tsx
  extensions/easy-new-file/src/components/action-new-template-file-here.tsx
  extensions/easy-new-file/src/components/new-file-here-grid-layout.tsx
  extensions/easy-new-file/src/types/file-type.ts
  extensions/easy-new-file/src/types/preferences.ts
  extensions/easy-new-file/src/utils/common-utils.ts
Labels: extension fix / improvement, OP is author

#3275 fix: can not launch by hotkey
  extensions/docsearch/CHANGELOG.md
  extensions/docsearch/README.md
  extensions/docsearch/src/arthas.tsx
  extensions/docsearch/src/bootstrap.tsx
  extensions/docsearch/src/dubbo.tsx
  extensions/docsearch/src/echarts.tsx
  extensions/docsearch/src/echarts_zh-Hans.tsx
  extensions/docsearch/src/homebrew.tsx
  extensions/docsearch/src/ipfs.tsx
  extensions/docsearch/src/laravel9.tsx
  extensions/docsearch/src/nuxt.tsx
  extensions/docsearch/src/nuxt3.tsx
  extensions/docsearch/src/pnpm.tsx
  extensions/docsearch/src/pnpm_zh-Hans.tsx
  extensions/docsearch/src/prettier.tsx
  extensions/docsearch/src/react.tsx
  extensions/docsearch/src/react_bootstrap.tsx
  extensions/docsearch/src/react_zh-Hans.tsx
  extensions/docsearch/src/reactnative.tsx
  extensions/docsearch/src/remix.tsx
  extensions/docsearch/src/rsshub.tsx
  extensions/docsearch/src/slidev_zh-Hans.tsx
  extensions/docsearch/src/tailwindcss3.tsx
  extensions/docsearch/src/unidata.tsx
  extensions/docsearch/src/vite.tsx
  extensions/docsearch/src/vite_zh-Hans.tsx
  extensions/docsearch/src/vitest.tsx
  extensions/docsearch/src/vue3.tsx
  extensions/docsearch/src/vue3_zh-Hans.tsx
  extensions/docsearch/src/vueRouter4.tsx
  extensions/docsearch/src/vuepress1.tsx
  extensions/docsearch/src/vuepress2.tsx
  extensions/docsearch/src/vueuse.tsx
Labels: extension fix / improvement, OP is author

#3276 Added changelog for Salesforce Search
  extensions/salesforce-search/CHANGELOG.md
Labels: extension fix / improvement, OP is author

#3270 Update Extension: Text Shortcuts
  extensions/text-shortcuts/CHANGELOG.md
  extensions/text-shortcuts/assets/shortcuts-library-menu-bar-icon.png
  extensions/text-shortcuts/assets/shortcuts-library-menu-bar-icon@dark.png
  extensions/text-shortcuts/assets/shortcuts-library-menu-bar.png
  extensions/text-shortcuts/assets/shortcuts-library-menu-bar@dark.png
  extensions/text-shortcuts/assets/solid-circle.png
  extensions/text-shortcuts/metadata/Metadata-1.png
  extensions/text-shortcuts/metadata/Metadata-2.png
  extensions/text-shortcuts/metadata/Metadata-3.png
  extensions/text-shortcuts/metadata/Metadata-4.png
  extensions/text-shortcuts/metadata/text-shortcuts-1.png
  extensions/text-shortcuts/metadata/text-shortcuts-2.png
  extensions/text-shortcuts/metadata/text-shortcuts-3.png
  extensions/text-shortcuts/package-lock.json
  extensions/text-shortcuts/package.json
  extensions/text-shortcuts/src/build-in-shortcuts/annotation.ts
  extensions/text-shortcuts/src/components/action-edit-shortcut.tsx
  extensions/text-shortcuts/src/components/shortcut-library-grid-layout.tsx
  extensions/text-shortcuts/src/create-shortcut.tsx
  extensions/text-shortcuts/src/hooks/hooks.ts
  extensions/text-shortcuts/src/shortcut-library-menu-bar.tsx
  extensions/text-shortcuts/src/types/preferences.ts
  extensions/text-shortcuts/src/util/shortcut.ts
Labels: extension fix / improvement, OP is author

#3277 Update extension: Open Link in Specific Browser
  extensions/open-link-in-specific-browser/CHANGELOG.md
  extensions/open-link-in-specific-browser/assets/open-link-menu-bar-icon.png
  extensions/open-link-in-specific-browser/assets/open-link-menu-bar-icon@dark.png
  extensions/open-link-in-specific-browser/assets/open-link-menu-bar.png
  extensions/open-link-in-specific-browser/assets/open-link-menu-bar@dark.png
  extensions/open-link-in-specific-browser/assets/open-link.png
  extensions/open-link-in-specific-browser/assets/open-link@dark.png
  extensions/open-link-in-specific-browser/package-lock.json
  extensions/open-link-in-specific-browser/package.json
  extensions/open-link-in-specific-browser/src/components/action-add-open-link-app.tsx
  extensions/open-link-in-specific-browser/src/components/action-on-open-link-app.tsx
  extensions/open-link-in-specific-browser/src/components/open-link-in-empty-view.tsx
  extensions/open-link-in-specific-browser/src/components/open-link-in-grid-layout.tsx
  extensions/open-link-in-specific-browser/src/components/open-link-in-list-layout.tsx
  extensions/open-link-in-specific-browser/src/hooks/hooks.ts
  extensions/open-link-in-specific-browser/src/open-link-in-specific-browser-menu-bar.tsx
  extensions/open-link-in-specific-browser/src/types/preferences.ts
  extensions/open-link-in-specific-browser/src/types/types.ts
  extensions/open-link-in-specific-browser/src/utils/constants.ts
  extensions/open-link-in-specific-browser/src/utils/open-link-utils.ts
Labels: extension fix / improvement, OP is author

#3266 [Easydict v2.6.0] ✨ Support arguments
  extensions/easydict/CHANGELOG.md
  extensions/easydict/README.md
  extensions/easydict/docs/README_ZH.md
  extensions/easydict/metadata/easydict-1.png
  extensions/easydict/metadata/easydict-2.png
  extensions/easydict/metadata/easydict-3.png
  extensions/easydict/package.json
  extensions/easydict/src/axiosConfig.ts
  extensions/easydict/src/components.tsx
  extensions/easydict/src/dataManager/dataManager.ts
  extensions/easydict/src/dataManager/utils.ts
  extensions/easydict/src/detectLanauge/detect.ts
  extensions/easydict/src/detectLanauge/types.ts
  extensions/easydict/src/dictionary/youdao/formatData.ts
  extensions/easydict/src/dictionary/youdao/youdao.ts
  extensions/easydict/src/easydict.tsx
  extensions/easydict/src/language/consts.ts
  extensions/easydict/src/language/languages.ts
  extensions/easydict/src/language/type.ts
  extensions/easydict/src/releaseVersion/releaseNote.ts
  extensions/easydict/src/releaseVersion/versionInfo.ts
  extensions/easydict/src/translation/baidu/baiduAPI.ts
  extensions/easydict/src/translation/microsoft/bing.ts
  extensions/easydict/src/translation/volcano/volcanoAPI.ts
Labels: extension fix / improvement, OP is author

#3087 [Toggl Track] Manual refresh extension
  extensions/toggl-track/CHANGELOG.md
  extensions/toggl-track/package-lock.json
  extensions/toggl-track/package.json
  extensions/toggl-track/src/components/CreateTimeEntryForm.tsx
  extensions/toggl-track/src/components/ProjectListItem.tsx
  extensions/toggl-track/src/components/RunningTimeEntry.tsx
  extensions/toggl-track/src/context/index.tsx
  extensions/toggl-track/src/index.tsx
  extensions/toggl-track/src/storage/index.ts
  extensions/toggl-track/src/storage/persistedStorage.ts
Labels: extension fix / improvement

#3215 feat(linear): Add customization for creating issues
  extensions/linear/CHANGELOG.md
  extensions/linear/package-lock.json
  extensions/linear/package.json
  extensions/linear/src/active-cycle.tsx
  extensions/linear/src/api/createIssue.ts
  extensions/linear/src/api/updateIssue.ts
  extensions/linear/src/assigned-issues.tsx
  extensions/linear/src/components/CreateIssueForm.tsx
  extensions/linear/src/components/CreateProjectForm.tsx
  extensions/linear/src/components/EditIssueForm.tsx
  extensions/linear/src/components/EditProjectForm.tsx
  extensions/linear/src/components/ProjectList.tsx
  extensions/linear/src/created-issues.tsx
Labels: extension fix / improvement, OP is author

#3283 Update extension: Hide Files
  extensions/hide-files/CHANGELOG.md
  extensions/hide-files/assets/empty-view-icon.png
  extensions/hide-files/assets/empty-view-icon.svg
  extensions/hide-files/assets/empty-view-icon@dark.png
  extensions/hide-files/assets/empty-view-icon@dark.svg
  extensions/hide-files/package-lock.json
  extensions/hide-files/package.json
  extensions/hide-files/src/components/list-empty-view.tsx
  extensions/hide-files/src/manage-hidden-files.tsx
Labels: extension fix / improvement, OP is author

#3305 fix(tim): show toast on missing app
  extensions/tim/CHANGELOG.md
  extensions/tim/src/export.tsx
  extensions/tim/src/import.ts
  extensions/tim/src/openActiveRecord.ts
  extensions/tim/src/openNavigator.ts
  extensions/tim/src/openNewTask.ts
  extensions/tim/src/openTaskManager.ts
  extensions/tim/src/toggleTimer.ts
  extensions/tim/src/utils.ts
Labels: extension fix / improvement, OP is author

#2699 [Spotify-Player] Introduce react context for storing installation/authorization state
  extensions/spotify-player/src/browseAll.tsx
  extensions/spotify-player/src/categoryPlaylists.tsx
  extensions/spotify-player/src/components/AlbumGridItem.tsx
  extensions/spotify-player/src/components/AlbumListItem.tsx
  extensions/spotify-player/src/components/AlbumsActionPanel.tsx
  extensions/spotify-player/src/components/ArtistListItem.tsx
  extensions/spotify-player/src/components/PlaylistListItem.tsx
  extensions/spotify-player/src/components/TrackListItem.tsx
  extensions/spotify-player/src/components/artistAlbums.tsx
  extensions/spotify-player/src/featuredPlaylists.tsx
  extensions/spotify-player/src/justPlay.ts
  extensions/spotify-player/src/nowPlaying.tsx
  extensions/spotify-player/src/nowPlayingMenuBar.tsx
  extensions/spotify-player/src/playSimilar.ts
  extensions/spotify-player/src/searchAlbums.tsx
  extensions/spotify-player/src/searchArtists.tsx
  extensions/spotify-player/src/searchPlaylists.tsx
  extensions/spotify-player/src/searchTracks.tsx
  extensions/spotify-player/src/utils/context.tsx
Labels: extension fix / improvement, OP is contributor

#3312 Hex is not just for Erlang but Elixir too
  extensions/search-hexpm/CHANGELOG.md
  extensions/search-hexpm/package.json
Labels: extension fix / improvement, OP is author

#3293 [Google Meet] Select profile to create Google Meet call
  extensions/google-meet/CHANGELOG.md
  extensions/google-meet/metadata/google-meet-1.png
  extensions/google-meet/metadata/google-meet-2.png
  extensions/google-meet/metadata/google-meet-3.png
  extensions/google-meet/metadata/google-meet-4.png
  extensions/google-meet/metadata/google-meet-6.png
  extensions/google-meet/package-lock.json
  extensions/google-meet/package.json
  extensions/google-meet/src/components/ProfileForm/ProfileForm.tsx
  extensions/google-meet/src/components/ProfileForm/index.ts
  extensions/google-meet/src/components/ProfileList/ProfileList.tsx
  extensions/google-meet/src/components/ProfileList/index.ts
  extensions/google-meet/src/components/index.ts
  extensions/google-meet/src/default-profile.ts
  extensions/google-meet/src/helpers.ts
  extensions/google-meet/src/hooks/index.ts
  extensions/google-meet/src/hooks/useCacheHelpers/index.ts
  extensions/google-meet/src/hooks/useCacheHelpers/useCacheHelpers.ts
  extensions/google-meet/src/manual-profile.tsx
  extensions/google-meet/src/utils/scripts.ts
Labels: extension fix / improvement, OP is author

#3250 add get-direct-link
  extensions/get-direct-link/.eslintrc.json
  extensions/get-direct-link/.gitignore
  extensions/get-direct-link/.prettierrc
  extensions/get-direct-link/.vscode/extensions.json
  extensions/get-direct-link/CHANGELOG.md
  extensions/get-direct-link/README.md
  extensions/get-direct-link/assets/command-icon.png
  extensions/get-direct-link/package-lock.json
  extensions/get-direct-link/package.json
  extensions/get-direct-link/src/index.ts
  extensions/get-direct-link/tsconfig.json
Labels: new extension

#3313 Fix query parameter encoding in `Action.OpenInBrowser` url
  extensions/google-translate/CHANGELOG.md
  extensions/google-translate/src/translate-form.tsx
  extensions/google-translate/src/translate.tsx
Labels: extension fix / improvement

#2451 New Extension: Geist UI Components
  extensions/geist-ui-components/.eslintrc.json
  extensions/geist-ui-components/.gitignore
  extensions/geist-ui-components/.prettierrc
  extensions/geist-ui-components/CHANGELOG.md
  extensions/geist-ui-components/README.md
  extensions/geist-ui-components/assets/command-icon.png
  extensions/geist-ui-components/package-lock.json
  extensions/geist-ui-components/package.json
  extensions/geist-ui-components/src/geist-ui-components.tsx
  extensions/geist-ui-components/tsconfig.json
Labels: new extension, status: awaiting response from dev

#3278 Shorten Github Review Requests extension's menubar text
  extensions/github-review-requests/src/actionablePullRequests.tsx
Labels: extension fix / improvement

#3126 New Extension: MenuTime
  extensions/menubar-message/.eslintrc.json
  extensions/menubar-message/.prettierrc
  extensions/menubar-message/CHANGELOG.md
  extensions/menubar-message/README.md
  extensions/menubar-message/assets/command-icon.png
  extensions/menubar-message/package-lock.json
  extensions/menubar-message/package.json
  extensions/menubar-message/src/index.tsx
  extensions/menubar-message/tsconfig.json
Labels: new extension, status: awaiting response from dev

#3102 Add Extension : Novu
  extensions/novu/.eslintrc.json
  extensions/novu/.gitignore
  extensions/novu/.prettierrc
  extensions/novu/CHANGELOG.md
  extensions/novu/README.md
  extensions/novu/assets/novu-g-light.png
  extensions/novu/package-lock.json
  extensions/novu/package.json
  extensions/novu/src/api-reference.tsx
  extensions/novu/src/cli-on-boarding.tsx
  extensions/novu/src/community-heroes.tsx
  extensions/novu/src/components/TriggerForm.tsx
  extensions/novu/src/discord.tsx
  extensions/novu/src/documentation.tsx
  extensions/novu/src/github.tsx
  extensions/novu/src/hooks/useTriggerHistory.tsx
  extensions/novu/src/interfaces/interfaces.ts
  extensions/novu/src/recent-trigger-event.tsx
  extensions/novu/src/services/api.ts
  extensions/novu/src/services/utils.ts
  extensions/novu/src/trigger-event.tsx
  extensions/novu/tsconfig.json
Labels: new extension, status: awaiting response from dev

#3285 New Extension: Lightning Time
  extensions/lightning-time/.eslintrc.json
  extensions/lightning-time/.gitignore
  extensions/lightning-time/.prettierrc
  extensions/lightning-time/CHANGELOG.md
  extensions/lightning-time/README.md
  extensions/lightning-time/assets/command-icon.png
  extensions/lightning-time/lib/colors.ts
  extensions/lightning-time/lib/convert.ts
  extensions/lightning-time/lib/get-parts.ts
  extensions/lightning-time/lib/ms-to-time.ts
  extensions/lightning-time/lib/random-time-string.ts
  extensions/lightning-time/lib/validate.ts
  extensions/lightning-time/metadata/lightning-time-1.png
  extensions/lightning-time/metadata/lightning-time-2.png
  extensions/lightning-time/metadata/lightning-time-3.png
  extensions/lightning-time/metadata/lightning-time-4.png
  extensions/lightning-time/metadata/lightning-time-5.png
  extensions/lightning-time/package-lock.json
  extensions/lightning-time/package.json
  extensions/lightning-time/src/components/color-list-item.tsx
  extensions/lightning-time/src/from-lightning.tsx
  extensions/lightning-time/src/get-colors.tsx
  extensions/lightning-time/src/to-lightning.tsx
  extensions/lightning-time/tsconfig.json
Labels: new extension

#3299 [Amazon AWS] Add SQS Purge Action
  extensions/amazon-aws/CHANGELOG.md
  extensions/amazon-aws/package-lock.json
  extensions/amazon-aws/package.json
  extensions/amazon-aws/src/queues.tsx
Labels: extension fix / improvement, OP is contributor

#3297 Add extension: Cron Description
  extensions/cron-description/.eslintrc.json
  extensions/cron-description/.gitignore
  extensions/cron-description/.prettierrc
  extensions/cron-description/CHANGELOG.md
  extensions/cron-description/README.md
  extensions/cron-description/assets/icon.png
  extensions/cron-description/metadata/cron-description-0.png
  extensions/cron-description/package-lock.json
  extensions/cron-description/package.json
  extensions/cron-description/src/index.tsx
  extensions/cron-description/tsconfig.json
Labels: new extension

#3287 Add extension: Network Speed
  extensions/network-speed/.eslintrc.json
  extensions/network-speed/.gitignore
  extensions/network-speed/.prettierrc
  extensions/network-speed/CHANGELOG.md
  extensions/network-speed/README.md
  extensions/network-speed/assets/extension-icon.png
  extensions/network-speed/assets/extension-icon@dark.png
  extensions/network-speed/assets/loading/loading-graph.gif
  extensions/network-speed/metadata/network-speed-1.png
  extensions/network-speed/metadata/network-speed-2.png
  extensions/network-speed/metadata/network-speed-3.png
  extensions/network-speed/package-lock.json
  extensions/network-speed/package.json
  extensions/network-speed/src/components/action-open-command-preferences.tsx
  extensions/network-speed/src/components/action-open-network-speed.tsx
  extensions/network-speed/src/hooks/hooks.ts
  extensions/network-speed/src/network-speed.tsx
  extensions/network-speed/src/types/preferences.ts
  extensions/network-speed/src/types/type.ts
  extensions/network-speed/src/utils/common-util.ts
  extensions/network-speed/tsconfig.json
Labels: new extension

#3322 fix js heap error with large results sets by introducting limit pref. fixes #3317.
  extensions/recents/CHANGELOG.md
  extensions/recents/package-lock.json
  extensions/recents/package.json
  extensions/recents/src/recents.tsx
Labels: extension fix / improvement, OP is author

#3225 Dribbble: update dependencies, use 4/3 aspect ratio for grid
  extensions/dribbble/metadata/screenshot-1.png
  extensions/dribbble/metadata/screenshot-2.png
  extensions/dribbble/metadata/screenshot-3.png
  extensions/dribbble/package-lock.json
  extensions/dribbble/package.json
  extensions/dribbble/src/index.tsx
Labels: extension fix / improvement, OP is author

#3288 [Shell] Fix error when opening shell via shortcut
  extensions/shell/src/index.tsx
Labels: extension fix / improvement

#3319 [Easydict v2.6.1] 🐞 Fix a crash bug caused by empty arguments
  extensions/easydict/CHANGELOG.md
  extensions/easydict/README.md
  extensions/easydict/docs/README_ZH.md
  extensions/easydict/metadata/easydict-3.png
  extensions/easydict/metadata/easydict-6.png
  extensions/easydict/src/components.tsx
  extensions/easydict/src/dictionary/youdao/formatData.ts
  extensions/easydict/src/easydict.tsx
  extensions/easydict/src/releaseVersion/releaseNote.ts
  extensions/easydict/src/releaseVersion/versionInfo.ts
Labels: extension fix / improvement, OP is author

#3327 Update checkInstall to support session-direct
  extensions/session/CHANGELOG.md
  extensions/session/src/checkInstall.tsx
Labels: extension fix / improvement, OP is author, OP is contributor

#3325 Add UpLabs extension
  extensions/uplabs/.eslintrc.json
  extensions/uplabs/.prettierrc
  extensions/uplabs/CHANGELOG.md
  extensions/uplabs/assets/icon.png
  extensions/uplabs/assets/info.svg
  extensions/uplabs/metadata/screenshot-1.png
  extensions/uplabs/metadata/screenshot-2.png
  extensions/uplabs/metadata/screenshot-3.png
  extensions/uplabs/package-lock.json
  extensions/uplabs/package.json
  extensions/uplabs/src/data.ts
  extensions/uplabs/src/index.tsx
  extensions/uplabs/tsconfig.json
Labels: new extension

#3303 New Extension: Network diagnostics
  extensions/network-diagnostics/.eslintrc.json
  extensions/network-diagnostics/.gitignore
  extensions/network-diagnostics/.prettierrc
  extensions/network-diagnostics/CHANGELOG.md
  extensions/network-diagnostics/README.md
  extensions/network-diagnostics/assets/command-icon.png
  extensions/network-diagnostics/metadata/network-diagnostics-1.png
  extensions/network-diagnostics/metadata/network-diagnostics-2.png
  extensions/network-diagnostics/metadata/network-diagnostics-3.png
  extensions/network-diagnostics/package-lock.json
  extensions/network-diagnostics/package.json
  extensions/network-diagnostics/src/diagnostics.tsx
  extensions/network-diagnostics/src/hooks.ts
  extensions/network-diagnostics/src/network-info/index.ts
  extensions/network-diagnostics/src/network-info/network-devices.ts
  extensions/network-diagnostics/src/network-info/next-hop-latency.ts
  extensions/network-diagnostics/src/network-info/ping.ts
  extensions/network-diagnostics/src/network-info/public-ip.ts
  extensions/network-diagnostics/src/network-info/routes.ts
  extensions/network-diagnostics/src/network-info/wifi.ts
  extensions/network-diagnostics/src/panels/ethernet.tsx
  extensions/network-diagnostics/src/panels/internet.tsx
  extensions/network-diagnostics/src/panels/local-network.tsx
  extensions/network-diagnostics/src/panels/ui.ts
  extensions/network-diagnostics/src/panels/wifi.tsx
  extensions/network-diagnostics/src/use-network-info.ts
  extensions/network-diagnostics/tsconfig.json
Labels: new extension

#3330 iTranslate: Optimize Experience
  extensions/itranslate/CHANGELOG.md
  extensions/itranslate/package.json
  extensions/itranslate/src/common/itranslate.shared.tsx
  extensions/itranslate/src/common/types.d.ts
Labels: extension fix / improvement, OP is author

#3306 ✨ New Extension: Modify Media File Hash
  extensions/modify-hash/.eslintrc.json
  extensions/modify-hash/.gitignore
  extensions/modify-hash/.prettierrc
  extensions/modify-hash/CHANGELOG.md
  extensions/modify-hash/Icon 
  extensions/modify-hash/LICENSE
  extensions/modify-hash/README.md
  extensions/modify-hash/assets/hasher.png
  extensions/modify-hash/metadata/modify-hash-1.png
  extensions/modify-hash/metadata/modify-hash-2.png
  extensions/modify-hash/metadata/modify-hash-3.png
  extensions/modify-hash/metadata/modify-hash-4.png
  extensions/modify-hash/metadata/modify-hash-5.png
  extensions/modify-hash/package-lock.json
  extensions/modify-hash/package.json
  extensions/modify-hash/src/modifyHash.tsx
  extensions/modify-hash/src/restoreHash.tsx
  extensions/modify-hash/src/utils.tsx
  extensions/modify-hash/tsconfig.json
Labels: new extension

#3334 One Thing extension
  extensions/menubar-message/README.md
  extensions/menubar-message/assets/command-icon.png
  extensions/menubar-message/package.json
  extensions/menubar-message/src/index.tsx
  extensions/one-thing/.eslintrc.json
  extensions/one-thing/.prettierrc
  extensions/one-thing/CHANGELOG.md
  extensions/one-thing/README.md
  extensions/one-thing/assets/command-icon.png
  extensions/one-thing/package-lock.json
  extensions/one-thing/package.json
  extensions/one-thing/src/set-one-thing.tsx
  extensions/one-thing/src/show-one-thing.tsx
  extensions/one-thing/tsconfig.json
Labels: renamed extension

#2411 Implement quit-applications
  extensions/quit-applications/.eslintrc.json
  extensions/quit-applications/.prettierrc
  extensions/quit-applications/CHANGELOG.md
  extensions/quit-applications/README.md
  extensions/quit-applications/assets/quit-app.png
  extensions/quit-applications/metadata/quit-applications-1.png
  extensions/quit-applications/metadata/quit-applications-2.png
  extensions/quit-applications/metadata/quit-applications-3.png
  extensions/quit-applications/package-lock.json
  extensions/quit-applications/package.json
  extensions/quit-applications/src/index.tsx
  extensions/quit-applications/tsconfig.json
Labels: new extension, status: awaiting response from dev

#3338 [Modify Hash] ✨ Add Zip Compress and Zip Extract command
  extensions/modify-hash/CHANGELOG.md
  extensions/modify-hash/README.md
  extensions/modify-hash/metadata/modify-hash-5.png
  extensions/modify-hash/metadata/modify-hash-6.png
  extensions/modify-hash/package.json
  extensions/modify-hash/src/modifyHash.tsx
  extensions/modify-hash/src/restoreHash.tsx
  extensions/modify-hash/src/utils.tsx
  extensions/modify-hash/src/zipCompress.ts
  extensions/modify-hash/src/zipExtract.ts
Labels: extension fix / improvement, OP is author

#3343 Spotify Player: Fix menu bar command.
  extensions/spotify-player/CHANGELOG.md
  extensions/spotify-player/package.json
  extensions/spotify-player/src/nowPlayingMenuBar.tsx
  extensions/spotify-player/src/utils/context.tsx
Labels: extension fix / improvement

#3344 [New Features: Folder Search] add pinned filter and save details preference between sessions
  extensions/folder-search/CHANGELOG.md
  extensions/folder-search/src/search.tsx
Labels: extension fix / improvement, OP is author

#3354 Updated branding and URLs for ready.app new website
  extensions/readymetrics/CHANGELOG.md
  extensions/readymetrics/README.md
  extensions/readymetrics/package.json
  extensions/readymetrics/src/client/readymetrics.ts
  extensions/readymetrics/src/components/CheckinListItem.tsx
Labels: extension fix / improvement, OP is author

#3356 nextjs-docs: add support for opening docs in browser
  extensions/nextjs-docs/CHANGELOG.md
  extensions/nextjs-docs/src/Topic.tsx
  extensions/nextjs-docs/src/index.tsx
Labels: extension fix / improvement

#3357 feat(extensions): add dashlane
  extensions/dashlane/.eslintrc.json
  extensions/dashlane/.gitignore
  extensions/dashlane/.prettierrc
  extensions/dashlane/CHANGELOG.md
  extensions/dashlane/README.md
  extensions/dashlane/assets/command-icon.png
  extensions/dashlane/package-lock.json
  extensions/dashlane/package.json
  extensions/dashlane/src/open-dashlane.tsx
  extensions/dashlane/tsconfig.json
Labels: new extension
