Repository raycast/extensions, pull requests merged in 2022-04, with the labels that each got.

#1256 Add myself to contributors list
  extensions/amazon-aws/package.json
Labels: extension fix / improvement

#1101 Support List-detail view
  extensions/ticktick/CHANGELOG.md
  extensions/ticktick/metadata/screenshot1.png
  extensions/ticktick/metadata/screenshot2.png
  extensions/ticktick/package-lock.json
  extensions/ticktick/package.json
  extensions/ticktick/src/components/searchFilter.tsx
  extensions/ticktick/src/components/taskItem.tsx
  extensions/ticktick/src/hooks/useSearchTasks.ts
  extensions/ticktick/src/index.tsx
  extensions/ticktick/src/next7Days.tsx
  extensions/ticktick/src/search.tsx
  extensions/ticktick/src/service/osScript.ts
  extensions/ticktick/src/service/project.ts
  extensions/ticktick/src/service/task.ts
  extensions/ticktick/src/utils/sort.ts
Labels: extension fix / improvement, accepted, OP is author

#1259 AWS extension screenshots
  extensions/amazon-aws/metadata/screenshot-1.png
  extensions/amazon-aws/metadata/screenshot-2.png
  extensions/amazon-aws/metadata/screenshot-3.png
Labels: extension fix / improvement, OP is contributor

#1257 [Git Repos] Bug fix, resolves #1255
  extensions/git-repos/CHANGELOG.md
  extensions/git-repos/src/list.tsx
  extensions/git-repos/src/utils.tsx
Labels: extension fix / improvement, OP is author

#1272 [Spotify-Controls] Add decrease and increase volume commands
  extensions/spotify-controls/CHANGELOG.md
  extensions/spotify-controls/package.json
  extensions/spotify-controls/src/decreaseVolume.ts
  extensions/spotify-controls/src/increaseVolume.ts
Labels: extension fix / improvement

#1271 fix `@raycast.icon` on command creation
  extensions/pipe-commands/changelog.md
  extensions/pipe-commands/src/create-pipe-command.tsx
Labels: extension fix / improvement, OP is author

#1242 [Bitwarden] remove detailled view, fix login flow
  extensions/bitwarden/CHANGELOG.md
  extensions/bitwarden/README.md
  extensions/bitwarden/assets/bitwarden-512.png
  extensions/bitwarden/assets/bitwarden-64.png
  extensions/bitwarden/package-lock.json
  extensions/bitwarden/package.json
  extensions/bitwarden/src/api.ts
  extensions/bitwarden/src/components.tsx
  extensions/bitwarden/src/generate-password.tsx
  extensions/bitwarden/src/hooks.ts
  extensions/bitwarden/src/lock-vault.ts
  extensions/bitwarden/src/search.tsx
  extensions/bitwarden/src/utils.ts
Labels: extension fix / improvement, accepted, OP is author

#1269 [TablePlus] Added SetApp installation, noview, metadata, changelog and readme
  extensions/tableplus/CHANGELOG.md
  extensions/tableplus/README.md
  extensions/tableplus/assets/no-view.png
  extensions/tableplus/metadata/tableplus-01.png
  extensions/tableplus/metadata/tableplus-02.png
  extensions/tableplus/package-lock.json
  extensions/tableplus/package.json
  extensions/tableplus/src/database_list.tsx
  extensions/tableplus/tsconfig.json
Labels: extension fix / improvement, OP is author

#1147 New extension: One click to start either screen or audio recording using QuickTime Player
  extensions/quicktime/.eslintrc.json
  extensions/quicktime/.prettierrc
  extensions/quicktime/CHANGELOG.md
  extensions/quicktime/assets/quicktime.png
  extensions/quicktime/package-lock.json
  extensions/quicktime/package.json
  extensions/quicktime/src/start-audio-recording.tsx
  extensions/quicktime/src/start-screen-recording.tsx
  extensions/quicktime/tsconfig.json
Labels: new extension

#472 Improve ToolBox extension
  extensions/toolbox/CHANGELOG.md
  extensions/toolbox/LICENSE.md
  extensions/toolbox/metadata/01.png
  extensions/toolbox/metadata/02.png
  extensions/toolbox/metadata/03.png
  extensions/toolbox/package-lock.json
  extensions/toolbox/package.json
  extensions/toolbox/src/index.tsx
  extensions/toolbox/src/script/case/case.ts
  extensions/toolbox/src/script/case/index.ts
  extensions/toolbox/src/script/convert/convert.ts
  extensions/toolbox/src/script/convert/index.ts
  extensions/toolbox/src/script/date/date.ts
  extensions/toolbox/src/script/date/index.ts
  extensions/toolbox/src/script/date/time.ts
  extensions/toolbox/src/script/date/timestamp.ts
  extensions/toolbox/src/script/date/utc.ts
  extensions/toolbox/src/script/format/css.ts
  extensions/toolbox/src/script/format/index.ts
  extensions/toolbox/src/script/format/json.ts
  extensions/toolbox/src/script/format/sql.ts
  extensions/toolbox/src/script/format/xml.ts
  extensions/toolbox/src/script/html/base64.ts
  extensions/toolbox/src/script/html/color.ts
  extensions/toolbox/src/script/html/index.ts
  extensions/toolbox/src/script/html/jwt.ts
  extensions/toolbox/src/script/html/url.ts
  extensions/toolbox/src/script/index.ts
  extensions/toolbox/src/script/number/numberRandom.ts
  extensions/toolbox/src/script/string/camelCase.ts
  extensions/toolbox/src/script/string/count.ts
  extensions/toolbox/src/script/string/countWords.ts
  extensions/toolbox/src/script/string/index.ts
  extensions/toolbox/src/script/string/reverse.ts
  extensions/toolbox/src/script/string/trim.ts
  extensions/toolbox/src/script/type.ts
  extensions/toolbox/src/script/util.ts
Labels: extension fix / improvement

#1052 update dependencies, add translation form
  extensions/google-translate/package-lock.json
  extensions/google-translate/package.json
  extensions/google-translate/scripts/generateDropdownList.js
  extensions/google-translate/scripts/generateListByCode.js
  extensions/google-translate/src/hooks.ts
  extensions/google-translate/src/languages.ts
  extensions/google-translate/src/translate-form.tsx
  extensions/google-translate/src/translate.tsx
Labels: extension fix / improvement, status: awaiting response from dev

#1083 Update Radix Extension
  extensions/radix/metadata/radix-01.png
  extensions/radix/src/primitives.tsx
Labels: extension fix / improvement

#1108 Fix bug in Quick Surf extension
  extensions/quick-surf/CHANGELOG.md
  extensions/quick-surf/metadata/Screenshot-1.png
  extensions/quick-surf/metadata/Screenshot-2.png
  extensions/quick-surf/metadata/Screenshot-3.png
  extensions/quick-surf/package-lock.json
  extensions/quick-surf/package.json
  extensions/quick-surf/src/constants.ts
  extensions/quick-surf/src/input.ts
  extensions/quick-surf/src/quick-surf.tsx
  extensions/quick-surf/src/surfbrowser.tsx
  extensions/quick-surf/src/utils.ts
Labels: extension fix / improvement

#1142 [Authy] Prepare for store update
  extensions/authy/CHANGELOG.md
  extensions/authy/README.md
  extensions/authy/media/setup01.png
  extensions/authy/media/setup02.png
  extensions/authy/media/setup03.png
  extensions/authy/media/setup04.png
  extensions/authy/media/title.png
  extensions/authy/metadata/screenshot-1.png
  extensions/authy/metadata/screenshot-2.png
  extensions/authy/metadata/screenshot.png
  extensions/authy/package-lock.json
  extensions/authy/package.json
  extensions/authy/src/cache.ts
  extensions/authy/src/component/LoginForm.tsx
  extensions/authy/src/component/OtpList.tsx
  extensions/authy/src/component/OtpListItem.tsx
  extensions/authy/src/component/OtpListItems.tsx
  extensions/authy/src/util/compare.ts
Labels: extension fix / improvement, OP is author

#1156 Add some common symbols
  extensions/unicode-symbols/CHANGELOG.md
  extensions/unicode-symbols/assets/dataset.json
  extensions/unicode-symbols/package.json
  extensions/unicode-symbols/scripts/generate-dataset.ts
  extensions/unicode-symbols/src/constants.ts
  extensions/unicode-symbols/src/dataset-manager.ts
Labels: extension fix / improvement

#1167 [MyIP] add local Ip
  extensions/myip/CHANGELOG.md
  extensions/myip/metadata/01.png
  extensions/myip/metadata/02.png
  extensions/myip/metadata/03.png
  extensions/myip/package-lock.json
  extensions/myip/package.json
  extensions/myip/src/index.tsx
  extensions/myip/src/lookup.tsx
  extensions/myip/src/torrent.tsx
Labels: extension fix / improvement, OP is author

#1206 feat: show torrent error status and improve pieces graph
  extensions/transmission/changelog.md
  extensions/transmission/package-lock.json
  extensions/transmission/package.json
  extensions/transmission/src/listTorrents.tsx
  extensions/transmission/src/types.ts
  extensions/transmission/src/utils/renderCells.tsx
  extensions/transmission/src/utils/renderDetails.ts
  extensions/transmission/src/utils/status.ts
Labels: extension fix / improvement, accepted, OP is author

#1270 [Laravel Forge] Update deprecated components, expand search, add breadcrumbs
  extensions/laravel-forge/CHANGELOG.md
  extensions/laravel-forge/README.md
  extensions/laravel-forge/assets/forge-icon-64.png
  extensions/laravel-forge/metadata/laravel-forge-01.png
  extensions/laravel-forge/metadata/laravel-forge-02.png
  extensions/laravel-forge/metadata/laravel-forge-03.png
  extensions/laravel-forge/package-lock.json
  extensions/laravel-forge/package.json
  extensions/laravel-forge/src/Server.tsx
  extensions/laravel-forge/src/Site.tsx
  extensions/laravel-forge/src/api/Server.ts
  extensions/laravel-forge/src/api/Site.ts
  extensions/laravel-forge/tsconfig.json
Labels: extension fix / improvement, accepted, OP is author

#1197 Trello: Added search your cards feature
  extensions/trello/package-lock.json
  extensions/trello/package.json
  extensions/trello/src/Board.d.ts
  extensions/trello/src/searchBoards.tsx
  extensions/trello/src/searchTodos.tsx
  extensions/trello/src/utils/fetchBoards.ts
  extensions/trello/src/utils/fetchTodos.tsx
Labels: extension fix / improvement

#1254 feat: added .new (dot-new) extension
  extensions/dot-new/.eslintrc.json
  extensions/dot-new/.prettierrc
  extensions/dot-new/CHANGELOG.md
  extensions/dot-new/README.md
  extensions/dot-new/assets/command-icon.png
  extensions/dot-new/assets/dataset.json
  extensions/dot-new/metadata/dot-new-01.png
  extensions/dot-new/package-lock.json
  extensions/dot-new/package.json
  extensions/dot-new/scripts/generate-dataset.ts
  extensions/dot-new/src/data.json
  extensions/dot-new/src/index.tsx
  extensions/dot-new/tsconfig.json
Labels: new extension

#1213 [KeepassXC] Compatible with KeepassXC version 2.7
  extensions/keepassxc/src/index.tsx
  extensions/keepassxc/src/utils/keepassLoader.ts
Labels: extension fix / improvement, OP is author

#1223 Pokédex: Pokémon detail metadata
  extensions/pokedex/CHANGELOG.md
  extensions/pokedex/metadata/pokedex-01.png
  extensions/pokedex/metadata/pokedex-02.png
  extensions/pokedex/metadata/pokedex-03.png
  extensions/pokedex/package-lock.json
  extensions/pokedex/package.json
  extensions/pokedex/src/components/detail.tsx
  extensions/pokedex/src/move.tsx
  extensions/pokedex/src/pokemon.tsx
Labels: extension fix / improvement, OP is author

#1228 Sourcegraph: Batch Changes, revamped previews, and refined behaviour
  extensions/sourcegraph/CHANGELOG.md
  extensions/sourcegraph/CONTRIBUTING.md
  extensions/sourcegraph/README.md
  extensions/sourcegraph/assets/demo.png
  extensions/sourcegraph/metadata/1-search.png
  extensions/sourcegraph/metadata/2-search-symbols.png
  extensions/sourcegraph/metadata/3-notebook-view.png
  extensions/sourcegraph/metadata/4-batch-change-manage.png
  extensions/sourcegraph/package-lock.json
  extensions/sourcegraph/package.json
  extensions/sourcegraph/src/components/CloudCommand.tsx
  extensions/sourcegraph/src/components/ExpandableErrorToast.tsx
  extensions/sourcegraph/src/components/FindNotebooksCommand.tsx
  extensions/sourcegraph/src/components/ManageBatchChangesCommand.tsx
  extensions/sourcegraph/src/components/SearchCommand.tsx
  extensions/sourcegraph/src/components/SelfHostedCommand.tsx
  extensions/sourcegraph/src/components/findNotebooks.tsx
  extensions/sourcegraph/src/components/keywords/index.ts
  extensions/sourcegraph/src/components/search.tsx
  extensions/sourcegraph/src/components/selfHosted.tsx
  extensions/sourcegraph/src/components/shortcuts/index.ts
  extensions/sourcegraph/src/findNotebooksCloud.tsx
  extensions/sourcegraph/src/findNotebooksSelfHosted.tsx
  extensions/sourcegraph/src/hooks/checkAuthEffect.tsx
  extensions/sourcegraph/src/manageBatchChangesSelfHosted.tsx
  extensions/sourcegraph/src/markdown/index.ts
  extensions/sourcegraph/src/searchCloud.tsx
  extensions/sourcegraph/src/searchSelfHosted.tsx
  extensions/sourcegraph/src/sourcegraph/gql/apollo.ts
  extensions/sourcegraph/src/sourcegraph/gql/auth.ts
  extensions/sourcegraph/src/sourcegraph/gql/index.ts
  extensions/sourcegraph/src/sourcegraph/gql/mutations.ts
  extensions/sourcegraph/src/sourcegraph/gql/queries.ts
  extensions/sourcegraph/src/sourcegraph/gql/schema.ts
  extensions/sourcegraph/src/sourcegraph/index.ts
  extensions/sourcegraph/src/sourcegraph/stream-search/index.ts
  extensions/sourcegraph/src/sourcegraph/stream-search/stream.ts
Labels: extension fix / improvement, OP is author

#1233 Update markdown reference extension
  extensions/markdown-reference/CHANGELOG.md
  extensions/markdown-reference/metadata/Screenshot1.png
  extensions/markdown-reference/metadata/Screenshot2.png
  extensions/markdown-reference/metadata/Screenshot3.png
  extensions/markdown-reference/src/Reference.tsx
  extensions/markdown-reference/src/markdown-escape.ts
  extensions/markdown-reference/src/markdown-reference.tsx
  extensions/markdown-reference/src/markdownReference.ts
Labels: extension fix / improvement, OP is author

#1240 fix(nextcloud): handle empty todo stacks properly
  extensions/nextcloud/package-lock.json
  extensions/nextcloud/package.json
  extensions/nextcloud/src/activity.tsx
  extensions/nextcloud/src/activity/Activity.tsx
  extensions/nextcloud/src/activity/hooks.tsx
  extensions/nextcloud/src/activity/index.tsx
  extensions/nextcloud/src/activity/utils.tsx
  extensions/nextcloud/src/deck.tsx
  extensions/nextcloud/src/deck/components/Stacks.tsx
  extensions/nextcloud/src/deck/hooks.tsx
  extensions/nextcloud/src/favorites.tsx
  extensions/nextcloud/src/favorites/Favorites.tsx
  extensions/nextcloud/src/favorites/hooks.tsx
  extensions/nextcloud/src/notes.tsx
  extensions/nextcloud/src/notes/hooks.tsx
  extensions/nextcloud/src/search.tsx
  extensions/nextcloud/src/search/Search.tsx
  extensions/nextcloud/src/search/hooks.tsx
  extensions/nextcloud/src/search/utils.tsx
Labels: extension fix / improvement, OP is author

#863 feat(extensions): add 1loc
  extensions/1loc/.eslintrc.json
  extensions/1loc/.prettierrc
  extensions/1loc/CHANGELOG.md
  extensions/1loc/assets/command-icon.png
  extensions/1loc/assets/list-icon.png
  extensions/1loc/metadata/1loc-1.png
  extensions/1loc/metadata/1loc-2.png
  extensions/1loc/package-lock.json
  extensions/1loc/package.json
  extensions/1loc/src/index.tsx
  extensions/1loc/src/snippet-content.tsx
  extensions/1loc/src/snippet.tsx
  extensions/1loc/tsconfig.json
Labels: new extension

#1211 feat: added Readwise extension
  extensions/readwise/.eslintrc.json
  extensions/readwise/.prettierrc
  extensions/readwise/CHANGELOG.md
  extensions/readwise/README.md
  extensions/readwise/assets/empty-view.png
  extensions/readwise/assets/icon.png
  extensions/readwise/package-lock.json
  extensions/readwise/package.json
  extensions/readwise/src/api/fetcher.ts
  extensions/readwise/src/api/index.ts
  extensions/readwise/src/api/useApi.ts
  extensions/readwise/src/api/useHandleError.ts
  extensions/readwise/src/books.tsx
  extensions/readwise/src/books/BookDetail.tsx
  extensions/readwise/src/books/BooksListItems.tsx
  extensions/readwise/src/books/types.d.ts
  extensions/readwise/src/books/useBook.ts
  extensions/readwise/src/books/useBooks.ts
  extensions/readwise/src/components/Actions.tsx
  extensions/readwise/src/components/DetailMetadata.tsx
  extensions/readwise/src/components/ResultsList.tsx
  extensions/readwise/src/dailyreview.ts
  extensions/readwise/src/highlights.tsx
  extensions/readwise/src/highlights/HighlightDetail.tsx
  extensions/readwise/src/highlights/HighlightsListItem.tsx
  extensions/readwise/src/highlights/types.d.ts
  extensions/readwise/src/highlights/useHighlights.ts
  extensions/readwise/src/library.ts
  extensions/readwise/src/preferences.ts
  extensions/readwise/src/tags.tsx
  extensions/readwise/src/tags/TagsListItem.tsx
  extensions/readwise/src/tags/types.d.ts
  extensions/readwise/src/tags/useTags.ts
  extensions/readwise/src/types.d.ts
  extensions/readwise/src/utils.ts
  extensions/readwise/tsconfig.json
Labels: new extension

#1282 fix: unable to select source branch and target branch from create mer…
  extensions/gitlab/package.json
  extensions/gitlab/src/components/mr_create.tsx
Labels: extension fix / improvement

#1291 Sourcegraph: Bug fixes
  extensions/sourcegraph/CHANGELOG.md
  extensions/sourcegraph/src/components/ManageBatchChangesCommand.tsx
Labels: extension fix / improvement, OP is author

#1175 Add Search JustWatch extension
  extensions/justwatch-search/.eslintrc.json
  extensions/justwatch-search/.prettierrc
  extensions/justwatch-search/CHANGELOG.md
  extensions/justwatch-search/assets/command-icon.png
  extensions/justwatch-search/metadata/justwatch-search-1.png
  extensions/justwatch-search/metadata/justwatch-search-2.png
  extensions/justwatch-search/metadata/justwatch-search-3.png
  extensions/justwatch-search/package-lock.json
  extensions/justwatch-search/package.json
  extensions/justwatch-search/readme.md
  extensions/justwatch-search/src/api.ts
  extensions/justwatch-search/src/search-justwatch.tsx
  extensions/justwatch-search/src/types.ts
  extensions/justwatch-search/tsconfig.json
Labels: new extension

#878 Add initial Brave extension
  extensions/brave/.eslintrc.json
  extensions/brave/.prettierrc
  extensions/brave/CHANGELOG.md
  extensions/brave/README
  extensions/brave/assets/brave-icon.png
  extensions/brave/assets/sql-wasm.wasm
  extensions/brave/metadata/brave-001.png
  extensions/brave/metadata/brave-002.png
  extensions/brave/metadata/brave-003.png
  extensions/brave/package-lock.json
  extensions/brave/package.json
  extensions/brave/src/brave-go-to-tab.tsx
  extensions/brave/src/brave-new-tab.tsx
  extensions/brave/src/brave-search-history.tsx
  extensions/brave/src/browserHistory.tsx
  extensions/brave/src/components/brave-goto-tab.tsx
  extensions/brave/src/components/brave-open-new-tab.tsx
  extensions/brave/src/components/tab.tsx
  extensions/brave/src/utils.ts
  extensions/brave/tsconfig.json
Labels: new extension

#1040 Added Office Quote extension
  extensions/office-quotes/.eslintrc.json
  extensions/office-quotes/.prettierrc
  extensions/office-quotes/assets/office-api-icon.png
  extensions/office-quotes/package-lock.json
  extensions/office-quotes/package.json
  extensions/office-quotes/src/index.tsx
  extensions/office-quotes/tsconfig.json
Labels: new extension

#1020 Publish A New Extension: Parrot-Translate
  extensions/parrot-translate/.eslintrc.json
  extensions/parrot-translate/.gitignore
  extensions/parrot-translate/.prettierignore
  extensions/parrot-translate/.prettierrc
  extensions/parrot-translate/CHANGELOG.md
  extensions/parrot-translate/README.md
  extensions/parrot-translate/assets/parrot-icon.png
  extensions/parrot-translate/metadata/Screenshot-1.png
  extensions/parrot-translate/metadata/Screenshot-2.png
  extensions/parrot-translate/metadata/Screenshot-3.png
  extensions/parrot-translate/package-lock.json
  extensions/parrot-translate/package.json
  extensions/parrot-translate/src/components.tsx
  extensions/parrot-translate/src/consts.ts
  extensions/parrot-translate/src/parrot.tsx
  extensions/parrot-translate/src/shared.func.tsx
  extensions/parrot-translate/src/types.ts
  extensions/parrot-translate/tsconfig.json
Labels: new extension

#1219 Add dbt Cloud extension
  extensions/dbtCloud/.eslintrc.json
  extensions/dbtCloud/.prettierrc
  extensions/dbtCloud/CHANGELOG.md
  extensions/dbtCloud/assets/icon.png
  extensions/dbtCloud/assets/icon_64p.png
  extensions/dbtCloud/metadata/screenshot-01.png
  extensions/dbtCloud/metadata/screenshot-02.png
  extensions/dbtCloud/metadata/screenshot-03.png
  extensions/dbtCloud/package-lock.json
  extensions/dbtCloud/package.json
  extensions/dbtCloud/src/fetch_runs.tsx
  extensions/dbtCloud/src/runs_index.tsx
  extensions/dbtCloud/src/runs_list_items.tsx
  extensions/dbtCloud/src/types.ts
  extensions/dbtCloud/tsconfig.json
Labels: new extension, accepted

#1308 [transmission] fix: svg rendering
  extensions/transmission/src/utils/renderDetails.ts
Labels: extension fix / improvement, OP is author

#1307 [gif-search] Remove static gif preview warning
  extensions/gif-search/CHANGELOG.md
  extensions/gif-search/package.json
  extensions/gif-search/src/components/GifDetails.tsx
  extensions/gif-search/src/models/gif.ts
Labels: extension fix / improvement, accepted, OP is author

#1310 chore: update dependencies
  extensions/can-i-use/CHANGELOG.md
  extensions/can-i-use/assets/demo.png
  extensions/can-i-use/package-lock.json
  extensions/can-i-use/package.json
  extensions/can-i-use/src/components/FeatureDetail.tsx
  extensions/can-i-use/src/index.tsx
Labels: extension fix / improvement, OP is author

#1145 chore(google-translate): update lang name & flag
  extensions/google-translate/CHANGELOG.md
  extensions/google-translate/package.json
  extensions/google-translate/src/supportedLanguages.json
  extensions/google-translate/src/supportedLanguagesByCode.json
Labels: extension fix / improvement

#1311 Safari: Add support for tooltips
  extensions/safari/package-lock.json
  extensions/safari/package.json
  extensions/safari/src/components/BookmarkListItem.tsx
  extensions/safari/src/components/HistoryListItem.tsx
  extensions/safari/src/components/TabListItem.tsx
  extensions/safari/src/utils.ts
Labels: extension fix / improvement, OP is contributor

#1302 Sentry: Update extension to the new accessories API
  extensions/sentry/CHANGELOG.md
  extensions/sentry/package-lock.json
  extensions/sentry/package.json
  extensions/sentry/src/IssueListItem.tsx
Labels: extension fix / improvement

#1178 Add Paste without Formatting extension
  extensions/paste-without-formatting/.eslintrc.json
  extensions/paste-without-formatting/.prettierrc
  extensions/paste-without-formatting/CHANGELOG.md
  extensions/paste-without-formatting/README.md
  extensions/paste-without-formatting/assets/paste-icon.png
  extensions/paste-without-formatting/metadata/Screenshot-1.png
  extensions/paste-without-formatting/package-lock.json
  extensions/paste-without-formatting/package.json
  extensions/paste-without-formatting/src/paste-without-formatting.tsx
  extensions/paste-without-formatting/src/utils.ts
  extensions/paste-without-formatting/tsconfig.json
Labels: new extension, accepted

#1220 Added mlb-score extension
  extensions/mlb-scores/.eslintrc.json
  extensions/mlb-scores/.prettierrc
  extensions/mlb-scores/assets/0.svg
  extensions/mlb-scores/assets/1.svg
  extensions/mlb-scores/assets/2.svg
  extensions/mlb-scores/assets/3.svg
  extensions/mlb-scores/assets/4.svg
  extensions/mlb-scores/assets/5.svg
  extensions/mlb-scores/assets/6.svg
  extensions/mlb-scores/assets/7.svg
  extensions/mlb-scores/assets/logo.png
  extensions/mlb-scores/changelog.md
  extensions/mlb-scores/metadata/ss1.png
  extensions/mlb-scores/metadata/ss2.png
  extensions/mlb-scores/metadata/ss3.png
  extensions/mlb-scores/package-lock.json
  extensions/mlb-scores/package.json
  extensions/mlb-scores/src/components/game.tsx
  extensions/mlb-scores/src/index.tsx
  extensions/mlb-scores/src/interfaces/division.ts
  extensions/mlb-scores/src/interfaces/feed.ts
  extensions/mlb-scores/src/interfaces/league.ts
  extensions/mlb-scores/src/interfaces/schedule.ts
  extensions/mlb-scores/src/interfaces/standings.ts
  extensions/mlb-scores/src/interfaces/teams.ts
  extensions/mlb-scores/src/lib/endpoints.ts
  extensions/mlb-scores/tsconfig.json
Labels: new extension, accepted

#1283 Logseq extension
  extensions/logseq/.eslintrc.json
  extensions/logseq/.gitignore
  extensions/logseq/.prettierrc
  extensions/logseq/CHANGELOG.md
  extensions/logseq/README.md
  extensions/logseq/assets/command-icon.png
  extensions/logseq/package-lock.json
  extensions/logseq/package.json
  extensions/logseq/src/index.tsx
  extensions/logseq/src/utils.ts
  extensions/logseq/tsconfig.json
Labels: new extension

#1313 fix: large type rendering
  extensions/large-type/src/index.tsx
Labels: extension fix / improvement, OP is contributor

#752 password-generator extension from @joshuaiz
  extensions/password-generator/.eslintrc.json
  extensions/password-generator/.prettierrc
  extensions/password-generator/assets/password-generator-icon.png
  extensions/password-generator/metadata/password-generator-01.png
  extensions/password-generator/metadata/password-generator-02.png
  extensions/password-generator/metadata/password-generator-03.png
  extensions/password-generator/package-lock.json
  extensions/password-generator/package.json
  extensions/password-generator/src/generate-password.tsx
  extensions/password-generator/src/helpers/helpers.ts
  extensions/password-generator/tsconfig.json
Labels: new extension

#1292 [Bitwarden] Add logout action and handle CLI errors, empty password, loading states, API version
  extensions/bitwarden/CHANGELOG.md
  extensions/bitwarden/assets/sf_symbols_lock.svg
  extensions/bitwarden/package-lock.json
  extensions/bitwarden/package.json
  extensions/bitwarden/src/api.ts
  extensions/bitwarden/src/components.tsx
  extensions/bitwarden/src/search.tsx
  extensions/bitwarden/src/types.ts
Labels: extension fix / improvement, OP is contributor

#1293 1loc: Add error handling & allow configuring GitHub Personal Access Token
  extensions/1loc/assets/empty-view.png
  extensions/1loc/package-lock.json
  extensions/1loc/package.json
  extensions/1loc/src/components/rate-limit-empty-view.tsx
  extensions/1loc/src/components/snippet-content.tsx
  extensions/1loc/src/index.tsx
  extensions/1loc/src/snippet-content.tsx
  extensions/1loc/src/snippet.tsx
Labels: extension fix / improvement

#961 add Github Review Requests
  extensions/github-review-requests/.eslintignore
  extensions/github-review-requests/.eslintrc.json
  extensions/github-review-requests/.gitignore
  extensions/github-review-requests/.prettierrc
  extensions/github-review-requests/assets/failure.png
  extensions/github-review-requests/assets/icon.png
  extensions/github-review-requests/assets/icon@dark.png
  extensions/github-review-requests/assets/pending.png
  extensions/github-review-requests/assets/success.png
  extensions/github-review-requests/codegen.yml
  extensions/github-review-requests/package-lock.json
  extensions/github-review-requests/package.json
  extensions/github-review-requests/src/actions.tsx
  extensions/github-review-requests/src/hooks/SearchReviewRequest.generated.ts
  extensions/github-review-requests/src/hooks/SearchReviewRequest.gql
  extensions/github-review-requests/src/hooks/useSearch.ts
  extensions/github-review-requests/src/index.tsx
  extensions/github-review-requests/src/schema.generated.ts
  extensions/github-review-requests/src/util.ts
  extensions/github-review-requests/tsconfig.json
Labels: new extension

#1098 A new extension to format datetime.
  extensions/datetime-format-converter/.eslintrc.json
  extensions/datetime-format-converter/.prettierrc
  extensions/datetime-format-converter/README.md
  extensions/datetime-format-converter/assets/command-icon.png
  extensions/datetime-format-converter/media/form.png
  extensions/datetime-format-converter/media/result.png
  extensions/datetime-format-converter/package-lock.json
  extensions/datetime-format-converter/package.json
  extensions/datetime-format-converter/src/index.tsx
  extensions/datetime-format-converter/tsconfig.json
Labels: new extension

#1139 `vim bro` a new and simple extension that helps you learn vim commands by letting you search them in raycast.
  extensions/vim-bro/.eslintrc.json
  extensions/vim-bro/.prettierrc
  extensions/vim-bro/CHANGELOG.md
  extensions/vim-bro/README.md
  extensions/vim-bro/assets/vim.png
  extensions/vim-bro/media/Screenshot_1.png
  extensions/vim-bro/media/Screenshot_2.png
  extensions/vim-bro/media/Screenshot_3.png
  extensions/vim-bro/metadata/vim-bro-1.jpeg
  extensions/vim-bro/metadata/vim-bro-2.jpeg
  extensions/vim-bro/metadata/vim-bro-3.jpeg
  extensions/vim-bro/package-lock.json
  extensions/vim-bro/package.json
  extensions/vim-bro/src/commands.json
  extensions/vim-bro/src/index.tsx
  extensions/vim-bro/tsconfig.json
Labels: new extension

#1140 [pipe-commands] read the content
  extensions/pipe-commands/CHANGELOG.md
  extensions/pipe-commands/assets/commands/text/accessibility/read-the-content.sh
  extensions/pipe-commands/package.json
Labels: extension fix / improvement

#1146 Fetch all paginated AWS resources
  extensions/amazon-aws/CHANGELOG.md
  extensions/amazon-aws/package.json
  extensions/amazon-aws/src/codepipelines.tsx
  extensions/amazon-aws/src/ec2.tsx
  extensions/amazon-aws/src/queues.tsx
Labels: extension fix / improvement, OP is contributor

#1149 Add GitHub Gist extension
  extensions/github-gist/.eslintrc.json
  extensions/github-gist/.prettierrc
  extensions/github-gist/CHANGELOG.md
  extensions/github-gist/README.md
  extensions/github-gist/assets/github.png
  extensions/github-gist/assets/github@dark.png
  extensions/github-gist/metadata/Screenshot-1.png
  extensions/github-gist/metadata/Screenshot-2.png
  extensions/github-gist/metadata/Screenshot-3.png
  extensions/github-gist/package-lock.json
  extensions/github-gist/package.json
  extensions/github-gist/src/create-gist.tsx
  extensions/github-gist/src/search-gist.tsx
  extensions/github-gist/src/util/gist-utils.ts
  extensions/github-gist/src/util/input.ts
  extensions/github-gist/src/util/utils.ts
  extensions/github-gist/tsconfig.json
Labels: new extension

#1249 Added typographer extension (second try)
  extensions/typographer/.eslintrc.json
  extensions/typographer/CHANGELOG.md
  extensions/typographer/assets/raycast-typographer.png
  extensions/typographer/package-lock.json
  extensions/typographer/package.json
  extensions/typographer/src/index.ts
  extensions/typographer/tsconfig.json
Labels: new extension

#1253 Quicktype.io extension [JSON to Typesafe Code]
  extensions/quicktype/.eslintrc.json
  extensions/quicktype/.prettierrc
  extensions/quicktype/CHANGELOG.md
  extensions/quicktype/assets/default_file.svg
  extensions/quicktype/assets/file_type_cpp.svg
  extensions/quicktype/assets/file_type_crystal.svg
  extensions/quicktype/assets/file_type_csharp.svg
  extensions/quicktype/assets/file_type_dartlang.svg
  extensions/quicktype/assets/file_type_elm.svg
  extensions/quicktype/assets/file_type_flow.svg
  extensions/quicktype/assets/file_type_go.svg
  extensions/quicktype/assets/file_type_haskell.svg
  extensions/quicktype/assets/file_type_java.svg
  extensions/quicktype/assets/file_type_javascript.svg
  extensions/quicktype/assets/file_type_kotlin.svg
  extensions/quicktype/assets/file_type_light_crystal.svg
  extensions/quicktype/assets/file_type_objectivec.svg
  extensions/quicktype/assets/file_type_python.svg
  extensions/quicktype/assets/file_type_ruby.svg
  extensions/quicktype/assets/file_type_rust.svg
  extensions/quicktype/assets/file_type_swift.svg
  extensions/quicktype/assets/file_type_typescript.svg
  extensions/quicktype/assets/icon.png
  extensions/quicktype/package-lock.json
  extensions/quicktype/package.json
  extensions/quicktype/src/index.tsx
  extensions/quicktype/src/types.tsx
  extensions/quicktype/tsconfig.json
Labels: new extension

#1258 Add Dribbble client
  extensions/dribbble/.eslintrc.json
  extensions/dribbble/.prettierrc
  extensions/dribbble/assets/icon.png
  extensions/dribbble/package-lock.json
  extensions/dribbble/package.json
  extensions/dribbble/src/data.ts
  extensions/dribbble/src/index.tsx
  extensions/dribbble/tsconfig.json
Labels: new extension

#1262 feat: added temporary-email extension
  extensions/temporary-email/.eslintrc.json
  extensions/temporary-email/.prettierrc
  extensions/temporary-email/CHANGELOG.md
  extensions/temporary-email/README.md
  extensions/temporary-email/assets/command-icon.png
  extensions/temporary-email/package-lock.json
  extensions/temporary-email/package.json
  extensions/temporary-email/src/index.ts
  extensions/temporary-email/tsconfig.json
Labels: new extension

#1275 Add Tailscale extension
  extensions/tailscale/.eslintrc.json
  extensions/tailscale/.gitignore
  extensions/tailscale/.prettierrc
  extensions/tailscale/CHANGELOG.md
  extensions/tailscale/assets/command-icon.png
  extensions/tailscale/assets/connected_dark.png
  extensions/tailscale/assets/connected_light.png
  extensions/tailscale/assets/lastseen_dark.png
  extensions/tailscale/assets/lastseen_light.png
  extensions/tailscale/metadata/tailscale-01.png
  extensions/tailscale/metadata/tailscale-02.png
  extensions/tailscale/metadata/tailscale-03.png
  extensions/tailscale/package-lock.json
  extensions/tailscale/package.json
  extensions/tailscale/src/admin.tsx
  extensions/tailscale/src/devices.tsx
  extensions/tailscale/tsconfig.json
Labels: new extension

#1286 Add Toothpick
  extensions/toothpick/.eslintrc.json
  extensions/toothpick/.prettierrc
  extensions/toothpick/CHANGELOG.md
  extensions/toothpick/assets/icon.png
  extensions/toothpick/assets/off.png
  extensions/toothpick/assets/on.png
  extensions/toothpick/metadata/toothpick-1.png
  extensions/toothpick/metadata/toothpick-2.png
  extensions/toothpick/metadata/toothpick-3.png
  extensions/toothpick/package-lock.json
  extensions/toothpick/package.json
  extensions/toothpick/src/index.tsx
  extensions/toothpick/src/utils.tsx
  extensions/toothpick/tsconfig.json
Labels: new extension

#1288 Add DEX Screener Extension
  extensions/dex-screener/.eslintrc.json
  extensions/dex-screener/.prettierrc
  extensions/dex-screener/assets/dexscreener.png
  extensions/dex-screener/package-lock.json
  extensions/dex-screener/package.json
  extensions/dex-screener/src/index.tsx
  extensions/dex-screener/tsconfig.json
Labels: new extension

#1144 adding rescuetime-focus-session-trigger
  extensions/rescuetime-focus-session-trigger/.eslintignore
  extensions/rescuetime-focus-session-trigger/.eslintrc.json
  extensions/rescuetime-focus-session-trigger/.prettierrc
  extensions/rescuetime-focus-session-trigger/CHANGELOG.md
  extensions/rescuetime-focus-session-trigger/README.md
  extensions/rescuetime-focus-session-trigger/assets/rescueTime-logo.png
  extensions/rescuetime-focus-session-trigger/package-lock.json
  extensions/rescuetime-focus-session-trigger/package.json
  extensions/rescuetime-focus-session-trigger/src/endFocusTime.ts
  extensions/rescuetime-focus-session-trigger/src/startFocusTime.ts
  extensions/rescuetime-focus-session-trigger/tsconfig.json
Labels: new extension

#1232 feat(todoist): add details to tasks, emtpy screens, and edit task
  extensions/todoist/CHANGELOG.md
  extensions/todoist/README.md
  extensions/todoist/assets/tag.svg
  extensions/todoist/images/today.png
  extensions/todoist/package-lock.json
  extensions/todoist/package.json
  extensions/todoist/src/components/Project.tsx
  extensions/todoist/src/components/TaskActions.tsx
  extensions/todoist/src/components/TaskDetail.tsx
  extensions/todoist/src/components/TaskEdit.tsx
  extensions/todoist/src/components/TaskListItem.tsx
  extensions/todoist/src/create-project.tsx
  extensions/todoist/src/create-task.tsx
  extensions/todoist/src/projects.tsx
  extensions/todoist/src/today.tsx
  extensions/todoist/src/upcoming.tsx
  extensions/todoist/src/utils.ts
Labels: extension fix / improvement, OP is author

#920 Add parcel-tracker extension
  extensions/parcel-tracker/.eslintrc.json
  extensions/parcel-tracker/.gitignore
  extensions/parcel-tracker/.prettierrc
  extensions/parcel-tracker/assets/command-icon-parcel.png
  extensions/parcel-tracker/package-lock.json
  extensions/parcel-tracker/package.json
  extensions/parcel-tracker/src/api/api.ts
  extensions/parcel-tracker/src/components/my/ManageMain.tsx
  extensions/parcel-tracker/src/components/my/PackageItem.tsx
  extensions/parcel-tracker/src/components/track/Track.tsx
  extensions/parcel-tracker/src/components/track/TrackMain.tsx
  extensions/parcel-tracker/src/metadata/logistics.ts
  extensions/parcel-tracker/src/model/trackData.ts
  extensions/parcel-tracker/src/model/vendorData.ts
  extensions/parcel-tracker/src/myPackages.tsx
  extensions/parcel-tracker/src/track.tsx
  extensions/parcel-tracker/tsconfig.json
  extensions/youdao-translate/images/select_form.jpg
Labels: new extension, status: awaiting response from dev

#1247 Add extension - "The Office" Quotes
  extensions/office-quotes/README.md
  extensions/office-quotes/assets/quote.png
  extensions/office-quotes/media/office-quotes-actions.png
  extensions/office-quotes/media/the-office-quotes-screenshot.png
  extensions/office-quotes/media/the-office-view-quote-actions-screenshot.png
  extensions/office-quotes/media/the-office-view-quote-screenshot.png
  extensions/office-quotes/package-lock.json
  extensions/office-quotes/package.json
  extensions/office-quotes/src/DescriptionPane.tsx
  extensions/office-quotes/src/index.tsx
  extensions/office-quotes/src/shuffle.ts
  extensions/office-quotes/tsconfig.json
  extensions/pipe-commands/package.json
Labels: new extension

#1325 Element Extension
  extensions/element/.eslintrc.json
  extensions/element/.gitignore
  extensions/element/.prettierrc
  extensions/element/CHANGELOG.md
  extensions/element/README.md
  extensions/element/assets/command-icon.png
  extensions/element/package-lock.json
  extensions/element/package.json
  extensions/element/src/data/elements.json
  extensions/element/src/index.tsx
  extensions/element/src/interfaces/element.tsx
  extensions/element/src/renderDetails.tsx
  extensions/element/tsconfig.json
Labels: new extension

#1329 [Bitwarden] allow copying item properties without using a dropdown
  extensions/bitwarden/CHANGELOG.md
  extensions/bitwarden/src/search.tsx
Labels: extension fix / improvement, OP is author

#1333 Update Github Gist extension
  extensions/github-gist/CHANGELOG.md
  extensions/github-gist/metadata/Screenshot-1.png
  extensions/github-gist/metadata/Screenshot-2.png
  extensions/github-gist/metadata/Screenshot-3.png
  extensions/github-gist/package.json
  extensions/github-gist/src/create-gist.tsx
  extensions/github-gist/src/search-gist.tsx
  extensions/github-gist/src/util/gist-utils.ts
Labels: extension fix / improvement

#1335 Fix bug
  extensions/github-gist/src/create-gist.tsx
  extensions/github-gist/src/util/gist-utils.ts
Labels: extension fix / improvement

#1316 Close main window before opening dash
  extensions/dash/src/components/DashResult.tsx
Labels: extension fix / improvement

#1303 Add Raycast Wallpaper extension
  extensions/raycast-wallpaper/.eslintrc.json
  extensions/raycast-wallpaper/.prettierrc
  extensions/raycast-wallpaper/CHANGELOG.md
  extensions/raycast-wallpaper/README.md
  extensions/raycast-wallpaper/assets/command-icon.png
  extensions/raycast-wallpaper/assets/random-icon.png
  extensions/raycast-wallpaper/assets/raycast-icon.png
  extensions/raycast-wallpaper/metadata/Metadata-1.png
  extensions/raycast-wallpaper/metadata/Metadata-2.png
  extensions/raycast-wallpaper/metadata/Metadata-3.png
  extensions/raycast-wallpaper/package-lock.json
  extensions/raycast-wallpaper/package.json
  extensions/raycast-wallpaper/src/roll-raycast-wallpaper.ts
  extensions/raycast-wallpaper/src/set-raycast-wallpaper.tsx
  extensions/raycast-wallpaper/src/utils/common-utils.ts
  extensions/raycast-wallpaper/src/utils/raycast-wallpaper-utils.ts
  extensions/raycast-wallpaper/tsconfig.json
Labels: new extension

#1338 fix: logseq journal file name
  extensions/logseq/package-lock.json
  extensions/logseq/package.json
  extensions/logseq/src/index.tsx
  extensions/logseq/src/utils.ts
Labels: extension fix / improvement, OP is author

#1296 [Github Repository Search] Allow to open the selected repository in a large selection of web IDEs
  extensions/github-repository-search/assets/vscode-action-icon.png
  extensions/github-repository-search/package-lock.json
  extensions/github-repository-search/package.json
  extensions/github-repository-search/src/index.tsx
  extensions/github-repository-search/src/useVisitedRepositories.ts
  extensions/github-repository-search/src/utils.ts
  extensions/github-repository-search/src/website.tsx
Labels: extension fix / improvement

#1328 New command to the existing extension
  extensions/xcode/package.json
  extensions/xcode/src/delete-unsupported-simulators.command.ts
  extensions/xcode/src/services/xcode-cleanup.service.ts
Labels: extension fix / improvement

#1344 [Github GIST] add image support
  extensions/github-gist/CHANGELOG.md
  extensions/github-gist/src/search-gist.tsx
Labels: extension fix / improvement

#1345 Add volume controls to Spotify Controls extension
  extensions/spotify-controls/README.md
  extensions/spotify-controls/package.json
  extensions/spotify-controls/src/fullVolume.ts
  extensions/spotify-controls/src/halfVolume.ts
  extensions/spotify-controls/src/quarterVolume.ts
  extensions/spotify-controls/src/threeQuartersVolume.ts
Labels: extension fix / improvement

#1350 Iconify: add "search all icons" command
  extensions/iconify/package-lock.json
  extensions/iconify/package.json
  extensions/iconify/src/search-icons.tsx
  extensions/iconify/src/service.ts
  extensions/iconify/src/view-icons.tsx
Labels: extension fix / improvement, OP is author

#1351 [vim-bro] Added support for better search.
  extensions/vim-bro/CHANGELOG.md
  extensions/vim-bro/package.json
  extensions/vim-bro/src/index.tsx
  extensions/vim-bro/src/types.ts
  extensions/vim-bro/src/utils.ts
Labels: extension fix / improvement, OP is author

#1343 Home Assistant: Add support for update entity from HA 2022.04
  extensions/homeassistant/CHANGELOG.md
  extensions/homeassistant/package-lock.json
  extensions/homeassistant/package.json
  extensions/homeassistant/src/components/mediaplayer.tsx
  extensions/homeassistant/src/components/states.tsx
  extensions/homeassistant/src/components/updates.tsx
  extensions/homeassistant/src/updates.tsx
Labels: extension fix / improvement, OP is author

#1377 Toothpick: Rename command to `Control Bluetooth Devices`
  extensions/toothpick/CHANGELOG.md
  extensions/toothpick/package.json
Labels: extension fix / improvement

#1379 [Laravel Docs] Add Laravel 5.2 support
  extensions/laravel-docs/package.json
Labels: extension fix / improvement

#1381 [gif-search] Add some extra error checking for copy to clipboard action
  extensions/gif-search/src/components/GifDetailsActions.tsx
  extensions/gif-search/src/lib/copyFileToClipboard.ts
Labels: extension fix / improvement, OP is author

#1385 [gif-search] Fix listening for errors on response stream
  extensions/gif-search/src/lib/copyFileToClipboard.ts
Labels: extension fix / improvement, OP is author

#1337 feat(nova): add laravel nova docs extension
  extensions/laravel-nova/.eslintrc.json
  extensions/laravel-nova/.gitignore
  extensions/laravel-nova/.prettierrc
  extensions/laravel-nova/CHANGELOG.md
  extensions/laravel-nova/README.md
  extensions/laravel-nova/assets/command-icon.png
  extensions/laravel-nova/assets/icon-dark.png
  extensions/laravel-nova/assets/icon-light.png
  extensions/laravel-nova/metadata/raycast-laravel-nova-01.png
  extensions/laravel-nova/metadata/raycast-laravel-nova-02.png
  extensions/laravel-nova/package-lock.json
  extensions/laravel-nova/package.json
  extensions/laravel-nova/src/documentation/1.0.json
  extensions/laravel-nova/src/documentation/2.0.json
  extensions/laravel-nova/src/documentation/3.0.json
  extensions/laravel-nova/src/documentation/4.0.json
  extensions/laravel-nova/src/nova.tsx
  extensions/laravel-nova/tsconfig.json
Labels: new extension

#1386 [gif-search] More improvements to copy gif edge cases
  extensions/gif-search/src/components/GifDetailsActions.tsx
  extensions/gif-search/src/lib/copyFileToClipboard.ts
Labels: extension fix / improvement, OP is author

#1365 Update Quick Surf extension
  extensions/quick-surf/CHANGELOG.md
  extensions/quick-surf/README.md
  extensions/quick-surf/assets/more-board.png
  extensions/quick-surf/assets/more-board@dark.png
  extensions/quick-surf/assets/quick-surf.png
  extensions/quick-surf/assets/quick-surf@dark.png
  extensions/quick-surf/package-lock.json
  extensions/quick-surf/package.json
  extensions/quick-surf/src/quick-surf.tsx
Labels: extension fix / improvement

#1356 Adding itch.io extension
  extensions/itch-io/.eslintrc.json
  extensions/itch-io/.gitignore
  extensions/itch-io/.prettierrc
  extensions/itch-io/CHANGELOG.md
  extensions/itch-io/README.md
  extensions/itch-io/assets/command-icon.png
  extensions/itch-io/assets/money.svg
  extensions/itch-io/package-lock.json
  extensions/itch-io/package.json
  extensions/itch-io/src/api/getgames.ts
  extensions/itch-io/src/components/categoryDropdown.tsx
  extensions/itch-io/src/components/generateDetails.tsx
  extensions/itch-io/src/components/searchListItem.tsx
  extensions/itch-io/src/index.tsx
  extensions/itch-io/src/interface/gameCategories.tsx
  extensions/itch-io/src/interface/itchModel.tsx
  extensions/itch-io/tsconfig.json
Labels: new extension

#1332 update: update lark to match feishu keyword
  extensions/lark/package.json
Labels: extension fix / improvement

#1196 [Update Obsidian Extension] Add Daily Note command, restructure code
  extensions/obsidian/CHANGELOG.md
  extensions/obsidian/README.md
  extensions/obsidian/metadata/Create Note Command.png
  extensions/obsidian/metadata/Open Vault Command.png
  extensions/obsidian/metadata/Search Note Actions 1.png
  extensions/obsidian/metadata/Search Note Actions 2.png
  extensions/obsidian/metadata/Search Note Command.png
  extensions/obsidian/package-lock.json
  extensions/obsidian/package.json
  extensions/obsidian/src/NoteCreator.tsx
  extensions/obsidian/src/NoteLoader.tsx
  extensions/obsidian/src/VaultUtils.tsx
  extensions/obsidian/src/actions.tsx
  extensions/obsidian/src/components/AppendNoteForm.tsx
  extensions/obsidian/src/components/CreateNoteForm.tsx
  extensions/obsidian/src/components/NoteList.tsx
  extensions/obsidian/src/components/VaultSelection.tsx
  extensions/obsidian/src/createNoteCommand.tsx
  extensions/obsidian/src/createnote.tsx
  extensions/obsidian/src/dailyNoteCommand.tsx
  extensions/obsidian/src/index.tsx
  extensions/obsidian/src/interfaces.tsx
  extensions/obsidian/src/openVaultCommand.tsx
  extensions/obsidian/src/openvault.tsx
  extensions/obsidian/src/searchNoteCommand.tsx
Labels: extension fix / improvement, OP is author

#1389 fix(Lark): fix sometime couldn't open documents
  extensions/lark/src/services/space.ts
Labels: extension fix / improvement

#1124 random-password-generator
  extensions/random-password-generator/.eslintrc.json
  extensions/random-password-generator/.gitignore
  extensions/random-password-generator/.prettierrc
  extensions/random-password-generator/assets/icon.png
  extensions/random-password-generator/metadata/random-password-generator 1.png
  extensions/random-password-generator/metadata/random-password-generator 2.png
  extensions/random-password-generator/metadata/random-password-generator 3.png
  extensions/random-password-generator/metadata/random-password-generator 4.png
  extensions/random-password-generator/metadata/random-password-generator 5.png
  extensions/random-password-generator/metadata/random-password-generator 6.png
  extensions/random-password-generator/metadata/random-password-generator 7.png
  extensions/random-password-generator/package-lock.json
  extensions/random-password-generator/package.json
  extensions/random-password-generator/src/Action.tsx
  extensions/random-password-generator/src/Details.tsx
  extensions/random-password-generator/src/StoryListItem.tsx
  extensions/random-password-generator/src/index.tsx
  extensions/random-password-generator/src/interface.ts
  extensions/random-password-generator/src/passwordDetails.ts
  extensions/random-password-generator/src/util.ts
  extensions/random-password-generator/tsconfig.json
Labels: new extension, status: awaiting response from dev

#1393 feat: support custom journal location & support org mode!
  extensions/logseq/CHANGELOG.md
  extensions/logseq/src/index.tsx
  extensions/logseq/src/utils.ts
Labels: extension fix / improvement, OP is author

#1410 added aws profile preference
  extensions/amazon-aws/package.json
  extensions/amazon-aws/src/cloudformation.tsx
  extensions/amazon-aws/src/codepipelines.tsx
  extensions/amazon-aws/src/ec2.tsx
  extensions/amazon-aws/src/queues.tsx
  extensions/amazon-aws/src/types.ts
  extensions/amazon-aws/src/util/setupAws.ts
Labels: extension fix / improvement

#1367 Update Paste without Formatting extension
  extensions/paste-without-formatting/CHANGELOG.md
  extensions/paste-without-formatting/README.md
  extensions/paste-without-formatting/metadata/Metadata.png
  extensions/paste-without-formatting/metadata/Screenshot-1.png
  extensions/paste-without-formatting/package-lock.json
  extensions/paste-without-formatting/package.json
  extensions/paste-without-formatting/src/paste-as-plain-text.tsx
Labels: renamed extension

#1395 [gif-search] Add new "Recents" view and tracking
  extensions/gif-search/CHANGELOG.md
  extensions/gif-search/src/components/AppContext.tsx
  extensions/gif-search/src/components/GifDetailsActions.tsx
  extensions/gif-search/src/components/GifSearch.tsx
  extensions/gif-search/src/components/GifSearchList.tsx
  extensions/gif-search/src/hooks/useFavorites.ts
  extensions/gif-search/src/hooks/useGifPopulator.ts
  extensions/gif-search/src/hooks/useLocalGifs.ts
  extensions/gif-search/src/hooks/useSearchAPI.ts
  extensions/gif-search/src/lib/favorites.ts
  extensions/gif-search/src/lib/localGifs.ts
  extensions/gif-search/src/preferences.ts
Labels: extension fix / improvement, OP is author

#1384 feat: added Refresh WiFi extension
  extensions/refresh-wifi/.eslintrc.json
  extensions/refresh-wifi/.gitignore
  extensions/refresh-wifi/.prettierrc
  extensions/refresh-wifi/CHANGELOG.md
  extensions/refresh-wifi/README.md
  extensions/refresh-wifi/assets/command-icon.png
  extensions/refresh-wifi/package-lock.json
  extensions/refresh-wifi/package.json
  extensions/refresh-wifi/src/index.ts
  extensions/refresh-wifi/tsconfig.json
Labels: new extension

#1419 [Extension: Ray.so]: Update available colors to match ray.so
  extensions/ray-so/assets/crimson.png
  extensions/ray-so/assets/falcon.png
  extensions/ray-so/assets/meadow.png
  extensions/ray-so/assets/raindrop.png
  extensions/ray-so/package.json
  extensions/ray-so/src/constants.ts
Labels: extension fix / improvement

#1413 [gif-search] Update feature request link with pre-filled values
  extensions/gif-search/README.md
Labels: extension fix / improvement, OP is author

#1216 Add format-graphql extension
  extensions/format-graphql/.eslintrc.json
  extensions/format-graphql/.prettierrc
  extensions/format-graphql/README.md
  extensions/format-graphql/assets/command-icon.png
  extensions/format-graphql/metadata/format-graphql-01.png
  extensions/format-graphql/package-lock.json
  extensions/format-graphql/package.json
  extensions/format-graphql/src/index.tsx
  extensions/format-graphql/tsconfig.json
Labels: new extension

#1001 VueUse functions search extension added
  extensions/vueuse-functions/.eslintrc.json
  extensions/vueuse-functions/.prettierrc
  extensions/vueuse-functions/assets/vue-use.png
  extensions/vueuse-functions/package-lock.json
  extensions/vueuse-functions/package.json
  extensions/vueuse-functions/src/data.json
  extensions/vueuse-functions/src/index.tsx
  extensions/vueuse-functions/src/interface.ts
  extensions/vueuse-functions/src/useFunctions.ts
  extensions/vueuse-functions/tsconfig.json
Labels: new extension

#1236 New Extension: Go Package Search
  extensions/go-package-search/.eslintrc.json
  extensions/go-package-search/.prettierrc
  extensions/go-package-search/CHANGELOG.md
  extensions/go-package-search/README.md
  extensions/go-package-search/assets/command-icon.png
  extensions/go-package-search/assets/list-icon.png
  extensions/go-package-search/package-lock.json
  extensions/go-package-search/package.json
  extensions/go-package-search/src/index.tsx
  extensions/go-package-search/tsconfig.json
Labels: new extension

#1160 New extension: Heroku
  extensions/heroku/.eslintrc.json
  extensions/heroku/.prettierrc
  extensions/heroku/CHANGELOG.md
  extensions/heroku/README.md
  extensions/heroku/assets/heroku_logo.png
  extensions/heroku/media/API_KEY.jpeg
  extensions/heroku/metadata/heroku-01.png
  extensions/heroku/metadata/heroku-02.png
  extensions/heroku/metadata/heroku-03.png
  extensions/heroku/metadata/heroku-04.png
  extensions/heroku/metadata/heroku-05.png
  extensions/heroku/metadata/heroku-06.png
  extensions/heroku/package-lock.json
  extensions/heroku/package.json
  extensions/heroku/src/AppBuilds.tsx
  extensions/heroku/src/ConfigVars.tsx
  extensions/heroku/src/ConfigVars/Form.tsx
  extensions/heroku/src/apps.tsx
  extensions/heroku/src/heroku.ts
  extensions/heroku/src/preferences.ts
  extensions/heroku/tsconfig.json
Labels: new extension

#1405 [Extension] - Remember the Date
  extensions/remember-the-date/.eslintrc.json
  extensions/remember-the-date/.prettierrc
  extensions/remember-the-date/CHANGELOG.md
  extensions/remember-the-date/README.md
  extensions/remember-the-date/assets/countdown.png
  extensions/remember-the-date/package-lock.json
  extensions/remember-the-date/package.json
  extensions/remember-the-date/src/editForm.tsx
  extensions/remember-the-date/src/index.tsx
  extensions/remember-the-date/src/list.tsx
  extensions/remember-the-date/src/storage.ts
  extensions/remember-the-date/src/types.ts
  extensions/remember-the-date/src/utils.ts
  extensions/remember-the-date/tsconfig.json
Labels: new extension

#1374 New extension: Dock
  extensions/dock/.eslintrc.json
  extensions/dock/.gitignore
  extensions/dock/.prettierrc
  extensions/dock/CHANGELOG.md
  extensions/dock/README.md
  extensions/dock/assets/dock-bottom.png
  extensions/dock/assets/dock-left.png
  extensions/dock/assets/dock-right.png
  extensions/dock/assets/dock.png
  extensions/dock/package-lock.json
  extensions/dock/package.json
  extensions/dock/src/move-dock-to-the-bottom.tsx
  extensions/dock/src/move-dock-to-the-left.tsx
  extensions/dock/src/move-dock-to-the-right.tsx
  extensions/dock/tsconfig.json
Labels: new extension

#1358 feat: added dict.cc extension
  extensions/dict-cc/.eslintrc.json
  extensions/dict-cc/.prettierrc
  extensions/dict-cc/CHANGELOG.md
  extensions/dict-cc/README.md
  extensions/dict-cc/assets/icon-small.png
  extensions/dict-cc/assets/icon.png
  extensions/dict-cc/metadata/screenshot-01.png
  extensions/dict-cc/metadata/screenshot-02.png
  extensions/dict-cc/package-lock.json
  extensions/dict-cc/package.json
  extensions/dict-cc/src/index.tsx
  extensions/dict-cc/src/preferences.ts
  extensions/dict-cc/src/utils.ts
  extensions/dict-cc/tsconfig.json
Labels: new extension, status: awaiting response from dev

#1435 Improve parcel-tracker extension
  extensions/parcel-tracker/package-lock.json
  extensions/parcel-tracker/package.json
  extensions/parcel-tracker/src/components/track/Track.tsx
Labels: extension fix / improvement, OP is author

#1346 Harvest Extension Update
  extensions/harvest/CHANGELOG.md
  extensions/harvest/package-lock.json
  extensions/harvest/package.json
  extensions/harvest/src/clearCache.tsx
  extensions/harvest/src/listTimeEntries.tsx
  extensions/harvest/src/new.tsx
  extensions/harvest/src/services/harvest.ts
  extensions/harvest/src/stopTimer.tsx
Labels: extension fix / improvement, OP is author

#1404 add: netease-music
  extensions/netease-music/.eslintrc.json
  extensions/netease-music/.gitignore
  extensions/netease-music/.prettierrc
  extensions/netease-music/CHANGELOG.md
  extensions/netease-music/README.md
  extensions/netease-music/assets/netease-music.png
  extensions/netease-music/metadata/metadata.png
  extensions/netease-music/package-lock.json
  extensions/netease-music/package.json
  extensions/netease-music/src/dislike.tsx
  extensions/netease-music/src/like.tsx
  extensions/netease-music/src/next-track.tsx
  extensions/netease-music/src/pause.tsx
  extensions/netease-music/src/play.tsx
  extensions/netease-music/src/previous-track.tsx
  extensions/netease-music/src/util.tsx
  extensions/netease-music/tsconfig.json
Labels: new extension

#1438 Rename screenshots of finnish-dictionary
  extensions/finnish-dictionary/metadata/screen1.jpg
  extensions/finnish-dictionary/metadata/screen2.jpg
  extensions/finnish-dictionary/metadata/screenshot-01.png
  extensions/finnish-dictionary/metadata/screenshot-02.png
Labels: extension fix / improvement, OP is author

#1432 Kill Process: Added show path option
  extensions/kill-process/package.json
  extensions/kill-process/src/index.tsx
Labels: extension fix / improvement

#1235 Add LaLiga extension
  extensions/laliga/.eslintrc.json
  extensions/laliga/.gitignore
  extensions/laliga/CHANGELOG.md
  extensions/laliga/LICENSE
  extensions/laliga/README.md
  extensions/laliga/assets/default.png
  extensions/laliga/assets/icon.png
  extensions/laliga/assets/icon@dark.png
  extensions/laliga/assets/stadium.svg
  extensions/laliga/metadata/laliga-01.png
  extensions/laliga/metadata/laliga-02.png
  extensions/laliga/metadata/laliga-03.png
  extensions/laliga/package-lock.json
  extensions/laliga/package.json
  extensions/laliga/src/api/index.ts
  extensions/laliga/src/club.tsx
  extensions/laliga/src/components/club.tsx
  extensions/laliga/src/components/competition_dropdown.tsx
  extensions/laliga/src/components/player.tsx
  extensions/laliga/src/components/squad.tsx
  extensions/laliga/src/result.tsx
  extensions/laliga/src/standing.tsx
  extensions/laliga/src/types/index.d.ts
  extensions/laliga/tsconfig.json
Labels: new extension

#1290 Add Bundesliga extension
  extensions/bundesliga/.eslintrc.json
  extensions/bundesliga/.gitignore
  extensions/bundesliga/CHANGELOG.md
  extensions/bundesliga/LICENSE
  extensions/bundesliga/README.md
  extensions/bundesliga/assets/default_clublogo.svg
  extensions/bundesliga/assets/icon.png
  extensions/bundesliga/assets/player-circle-default.png
  extensions/bundesliga/metadata/bundesliga-01.png
  extensions/bundesliga/metadata/bundesliga-02.png
  extensions/bundesliga/metadata/bundesliga-03.png
  extensions/bundesliga/metadata/bundesliga-04.png
  extensions/bundesliga/metadata/bundesliga-05.png
  extensions/bundesliga/metadata/bundesliga-06.png
  extensions/bundesliga/package-lock.json
  extensions/bundesliga/package.json
  extensions/bundesliga/src/api/index.ts
  extensions/bundesliga/src/club.tsx
  extensions/bundesliga/src/components/clubpersons.tsx
  extensions/bundesliga/src/components/matchday.tsx
  extensions/bundesliga/src/components/person.tsx
  extensions/bundesliga/src/fixture.tsx
  extensions/bundesliga/src/hooks/index.ts
  extensions/bundesliga/src/hooks/useClubs.ts
  extensions/bundesliga/src/hooks/useFixtures.ts
  extensions/bundesliga/src/hooks/useMatchday.ts
  extensions/bundesliga/src/hooks/useTable.ts
  extensions/bundesliga/src/table.tsx
  extensions/bundesliga/src/types/firebase.d.ts
  extensions/bundesliga/src/types/index.d.ts
  extensions/bundesliga/src/utils/index.ts
  extensions/bundesliga/tsconfig.json
Labels: new extension

#1440 [Format JSON] Move indentation style to preferences
  extensions/json-format/package.json
  extensions/json-format/src/index.tsx
  extensions/json-format/src/utils.ts
Labels: extension fix / improvement, OP is author

#1418 Lark: show avatar and time
  extensions/lark/package-lock.json
  extensions/lark/package.json
  extensions/lark/src/components/space-list-item.tsx
  extensions/lark/src/search-docs.tsx
  extensions/lark/src/services/space.ts
  extensions/lark/src/utils/time.ts
Labels: extension fix / improvement, OP is author

#1392 Update Lorem Ipsum Extension: Allow the action of the command to be configured
  extensions/lorem-ipsum/package.json
  extensions/lorem-ipsum/src/paragraph.tsx
  extensions/lorem-ipsum/src/sentence.tsx
  extensions/lorem-ipsum/src/utils.tsx
Labels: extension fix / improvement

#1373 Update extension QR Code Scanner.
  extensions/qr-code-scanner/package-lock.json
  extensions/qr-code-scanner/package.json
  extensions/qr-code-scanner/src/index.tsx
  extensions/qr-code-scanner/src/qrcode-reader.d.ts
Labels: extension fix / improvement, OP is author

#1394 feat(todoist): Add new "Search tasks" command
  extensions/todoist/CHANGELOG.md
  extensions/todoist/package.json
  extensions/todoist/src/components/Project.tsx
  extensions/todoist/src/components/TaskActions.tsx
  extensions/todoist/src/components/TaskDetail.tsx
  extensions/todoist/src/components/TaskListItem.tsx
  extensions/todoist/src/create-task.tsx
  extensions/todoist/src/helpers.ts
  extensions/todoist/src/search.tsx
  extensions/todoist/src/today.tsx
  extensions/todoist/src/types.ts
  extensions/todoist/src/upcoming.tsx
Labels: extension fix / improvement, OP is author

#1205 New Extension: macupdater.net
  extensions/macupdater/.eslintrc.json
  extensions/macupdater/.prettierrc
  extensions/macupdater/assets/list-icon.png
  extensions/macupdater/assets/top-command-icon.png
  extensions/macupdater/assets/update-command-icon.png
  extensions/macupdater/metadata/screenshot-01.png
  extensions/macupdater/metadata/screenshot-02.png
  extensions/macupdater/package-lock.json
  extensions/macupdater/package.json
  extensions/macupdater/src/UpdateListItem.tsx
  extensions/macupdater/src/index.tsx
  extensions/macupdater/src/scrape.ts
  extensions/macupdater/src/top.tsx
  extensions/macupdater/tsconfig.json
Labels: new extension

#1359 Add the extension HowLongToBeat
  extensions/how-long-to-beat/.eslintrc.json
  extensions/how-long-to-beat/.prettierrc
  extensions/how-long-to-beat/assets/icon.png
  extensions/how-long-to-beat/metadata/screenshot-01.png
  extensions/how-long-to-beat/metadata/screenshot-02.png
  extensions/how-long-to-beat/package-lock.json
  extensions/how-long-to-beat/package.json
  extensions/how-long-to-beat/src/details.tsx
  extensions/how-long-to-beat/src/helpers.ts
  extensions/how-long-to-beat/src/index.tsx
  extensions/how-long-to-beat/tsconfig.json
Labels: new extension

#1417 Add Copy Path extension
  extensions/copy-path/.eslintrc.json
  extensions/copy-path/.gitignore
  extensions/copy-path/.prettierrc
  extensions/copy-path/CHANGELOG.md
  extensions/copy-path/README.md
  extensions/copy-path/assets/copy-path.png
  extensions/copy-path/assets/copy-path@dark.png
  extensions/copy-path/metadata/Metadata-1.png
  extensions/copy-path/package-lock.json
  extensions/copy-path/package.json
  extensions/copy-path/src/copy-path.tsx
  extensions/copy-path/src/utils/common-utils.ts
  extensions/copy-path/src/utils/constants.ts
  extensions/copy-path/tsconfig.json
Labels: new extension

#1411 Fix GitHub Gist extension
  extensions/github-gist/CHANGELOG.md
  extensions/github-gist/package-lock.json
  extensions/github-gist/package.json
  extensions/github-gist/src/search-gist.tsx
  extensions/github-gist/src/util/utils.ts
Labels: extension fix / improvement

#1399 Better support for on premise installations for confluence-search extension
  extensions/confluence-search/package.json
  extensions/confluence-search/src/index.tsx
Labels: extension fix / improvement

#1387 Stop the bitwarden extension from interfering with the bitwarden CLI
  extensions/bitwarden/CHANGELOG.md
  extensions/bitwarden/src/api.ts
Labels: extension fix / improvement, OP is author

#1446 add open-in-ssh command to Forge sites
  extensions/laravel-forge/CHANGELOG.md
  extensions/laravel-forge/src/Site.tsx
Labels: extension fix / improvement, OP is contributor

#1406 jetbrains: use list view while loading jetbrains extension to allow typing
  extensions/jetbrains/package.json
  extensions/jetbrains/src/recent.tsx
Labels: extension fix / improvement

#1189 Add bitbucket repo pr list
  extensions/bitbucket/package.json
  extensions/bitbucket/src/components/repository/actions.tsx
  extensions/bitbucket/src/components/repository/pullRequestsList.tsx
  extensions/bitbucket/src/components/repository/searchRepositories.tsx
  extensions/bitbucket/src/queries/index.ts
Labels: extension fix / improvement

#1267 Add Bing Wallpaper extension
  extensions/bing-wallpaper/.eslintrc.json
  extensions/bing-wallpaper/.prettierrc
  extensions/bing-wallpaper/CHANGELOG.md
  extensions/bing-wallpaper/README.md
  extensions/bing-wallpaper/assets/bing-wallpaper-icon.png
  extensions/bing-wallpaper/assets/extension-icon.png
  extensions/bing-wallpaper/assets/random-wallpaper-icon.png
  extensions/bing-wallpaper/metadata/Screenshot1.png
  extensions/bing-wallpaper/metadata/Screenshot2.png
  extensions/bing-wallpaper/metadata/Screenshot3.png
  extensions/bing-wallpaper/package-lock.json
  extensions/bing-wallpaper/package.json
  extensions/bing-wallpaper/src/bing-wallpaper.tsx
  extensions/bing-wallpaper/src/random-wallpaper.ts
  extensions/bing-wallpaper/src/utils/bing-wallpaper-utils.ts
  extensions/bing-wallpaper/src/utils/common-utils.ts
  extensions/bing-wallpaper/tsconfig.json
Labels: new extension

#1190 Add Premier League extension
  extensions/premier-league/.eslintrc.json
  extensions/premier-league/.gitignore
  extensions/premier-league/CHANGELOG.md
  extensions/premier-league/LICENSE
  extensions/premier-league/README.md
  extensions/premier-league/assets/default.png
  extensions/premier-league/assets/empty.png
  extensions/premier-league/assets/icon.png
  extensions/premier-league/assets/player-missing.png
  extensions/premier-league/assets/stadium.svg
  extensions/premier-league/metadata/epl-01.png
  extensions/premier-league/metadata/epl-02.png
  extensions/premier-league/metadata/epl-03.png
  extensions/premier-league/metadata/epl-04.png
  extensions/premier-league/metadata/epl-05.png
  extensions/premier-league/metadata/epl-06.png
  extensions/premier-league/package-lock.json
  extensions/premier-league/package.json
  extensions/premier-league/src/api/index.ts
  extensions/premier-league/src/club.tsx
  extensions/premier-league/src/fixture.tsx
  extensions/premier-league/src/hooks/index.ts
  extensions/premier-league/src/hooks/useClubs.ts
  extensions/premier-league/src/hooks/useFixtures.ts
  extensions/premier-league/src/hooks/useManagers.ts
  extensions/premier-league/src/hooks/usePlayers.ts
  extensions/premier-league/src/hooks/useSeasons.ts
  extensions/premier-league/src/hooks/useTables.ts
  extensions/premier-league/src/hooks/useTeams.ts
  extensions/premier-league/src/manager.tsx
  extensions/premier-league/src/player.tsx
  extensions/premier-league/src/result.tsx
  extensions/premier-league/src/table.tsx
  extensions/premier-league/src/types/index.d.ts
  extensions/premier-league/src/utils/index.ts
  extensions/premier-league/tsconfig.json
Labels: new extension

#1450 add: Set Hellonext Wallpapers
  extensions/hellonext-wallpapers/.eslintrc.json
  extensions/hellonext-wallpapers/.gitignore
  extensions/hellonext-wallpapers/.prettierrc
  extensions/hellonext-wallpapers/CHANGELOG.md
  extensions/hellonext-wallpapers/README.md
  extensions/hellonext-wallpapers/assets/icon.png
  extensions/hellonext-wallpapers/metadata/Metadata-1.png
  extensions/hellonext-wallpapers/metadata/Metadata-2.png
  extensions/hellonext-wallpapers/metadata/Metadata-3.png
  extensions/hellonext-wallpapers/package-lock.json
  extensions/hellonext-wallpapers/package.json
  extensions/hellonext-wallpapers/src/libs/hn-wallpaper.tsx
  extensions/hellonext-wallpapers/src/libs/utils.tsx
  extensions/hellonext-wallpapers/src/random-hellonext-wallpaper.tsx
  extensions/hellonext-wallpapers/src/set-hellonext-wallpaper.tsx
  extensions/hellonext-wallpapers/tsconfig.json
Labels: new extension

#1369 Add Capture Raycast Metadata extension
  extensions/capture-raycast-metadata/.eslintrc.json
  extensions/capture-raycast-metadata/.gitignore
  extensions/capture-raycast-metadata/.prettierrc
  extensions/capture-raycast-metadata/CHANGELOG.md
  extensions/capture-raycast-metadata/README.md
  extensions/capture-raycast-metadata/assets/capture-icon.png
  extensions/capture-raycast-metadata/metadata/Metadata-1.png
  extensions/capture-raycast-metadata/metadata/Metadata-2.png
  extensions/capture-raycast-metadata/package-lock.json
  extensions/capture-raycast-metadata/package.json
  extensions/capture-raycast-metadata/src/capture-raycast-metadata.ts
  extensions/capture-raycast-metadata/src/utils/common-utils.ts
  extensions/capture-raycast-metadata/src/utils/constants.ts
  extensions/capture-raycast-metadata/tsconfig.json
Labels: new extension

#1452 Update Bing Wallpaper Extension
  extensions/bing-wallpaper/CHANGELOG.md
  extensions/bing-wallpaper/README.md
  extensions/bing-wallpaper/package-lock.json
  extensions/bing-wallpaper/package.json
  extensions/bing-wallpaper/src/random-bing-wallpaper.ts
  extensions/bing-wallpaper/src/set-bing-wallpaper.tsx
Labels: extension fix / improvement

#1453 Update Raycast Wallpaper Extension
  extensions/raycast-wallpaper/CHANGELOG.md
  extensions/raycast-wallpaper/README.md
  extensions/raycast-wallpaper/package-lock.json
  extensions/raycast-wallpaper/package.json
  extensions/raycast-wallpaper/src/random-raycast-wallpaper.ts
  extensions/raycast-wallpaper/src/set-raycast-wallpaper.tsx
  extensions/raycast-wallpaper/src/utils/common-utils.ts
Labels: extension fix / improvement

#1372 [Bitwarden] Fix desync between password and generator options
  extensions/bitwarden/package-lock.json
  extensions/bitwarden/package.json
  extensions/bitwarden/src/api.ts
  extensions/bitwarden/src/generate-password.tsx
  extensions/bitwarden/src/hooks.ts
  extensions/bitwarden/src/types/global.d.ts
  extensions/bitwarden/src/types/index.ts
  extensions/bitwarden/src/utils.ts
Labels: extension fix / improvement, status: awaiting response from dev, OP is contributor

#1301 feat: add dropbox
  extensions/dropbox/.eslintrc.json
  extensions/dropbox/.prettierrc
  extensions/dropbox/README.md
  extensions/dropbox/assets/dropbox.png
  extensions/dropbox/package-lock.json
  extensions/dropbox/package.json
  extensions/dropbox/src/api/dropbox.ts
  extensions/dropbox/src/api/index.ts
  extensions/dropbox/src/api/preference.ts
  extensions/dropbox/src/components/Directory.tsx
  extensions/dropbox/src/components/DirectoryItem.tsx
  extensions/dropbox/src/components/FileItem.tsx
  extensions/dropbox/src/components/index.tsx
  extensions/dropbox/src/search-dropbox-files.tsx
  extensions/dropbox/tsconfig.json
Labels: new extension

#1357 add Defichain dobby extension
  extensions/defichain-dobby/.eslintrc.json
  extensions/defichain-dobby/.gitignore
  extensions/defichain-dobby/.prettierrc
  extensions/defichain-dobby/CHANGELOG.md
  extensions/defichain-dobby/README.md
  extensions/defichain-dobby/assets/command-icon.png
  extensions/defichain-dobby/package-lock.json
  extensions/defichain-dobby/package.json
  extensions/defichain-dobby/src/api/index.ts
  extensions/defichain-dobby/src/dobby.tsx
  extensions/defichain-dobby/src/models/dobbyVault.ts
  extensions/defichain-dobby/src/models/loadingStatus.ts
  extensions/defichain-dobby/src/models/loanSchema.ts
  extensions/defichain-dobby/src/models/vaultState.ts
  extensions/defichain-dobby/src/useVaults.ts
  extensions/defichain-dobby/src/utils/markdownUtil.ts
  extensions/defichain-dobby/src/utils/stateUtil.ts
  extensions/defichain-dobby/src/vaultMetaData.tsx
  extensions/defichain-dobby/tsconfig.json
Labels: new extension

#1341 add Defiscan.live extension
  extensions/defiscan/.eslintrc.json
  extensions/defiscan/.gitignore
  extensions/defiscan/.prettierrc
  extensions/defiscan/CHANGELOG.md
  extensions/defiscan/README.md
  extensions/defiscan/assets/command-icon.png
  extensions/defiscan/package-lock.json
  extensions/defiscan/package.json
  extensions/defiscan/src/api/ocean.tsx
  extensions/defiscan/src/defi.tsx
  extensions/defiscan/src/models/defichainStats.tsx
  extensions/defiscan/src/models/loadingStatus.tsx
  extensions/defiscan/src/models/masternode.tsx
  extensions/defiscan/src/useStats.tsx
  extensions/defiscan/src/utils/markdownUtil.tsx
  extensions/defiscan/tsconfig.json
Labels: new extension

#1355 feat: Added nextjs-docs extension
  extensions/nextjs-docs/.eslintrc.json
  extensions/nextjs-docs/.gitignore
  extensions/nextjs-docs/.prettierrc
  extensions/nextjs-docs/CHANGELOG.md
  extensions/nextjs-docs/README.md
  extensions/nextjs-docs/assets/command-icon.png
  extensions/nextjs-docs/assets/command-icon@dark.png
  extensions/nextjs-docs/metadata/List.png
  extensions/nextjs-docs/metadata/doc.png
  extensions/nextjs-docs/package-lock.json
  extensions/nextjs-docs/package.json
  extensions/nextjs-docs/src/Octokit.tsx
  extensions/nextjs-docs/src/TopicDetail.tsx
  extensions/nextjs-docs/src/index.tsx
  extensions/nextjs-docs/src/services/Github.tsx
  extensions/nextjs-docs/src/types/GithubType.tsx
  extensions/nextjs-docs/src/yaml-front-matter.tsx
  extensions/nextjs-docs/tsconfig.json
Labels: new extension

#1230 Add Easy New File Extension
  extensions/easy-new-file/.eslintrc.json
  extensions/easy-new-file/.prettierrc
  extensions/easy-new-file/CHANGELOG.md
  extensions/easy-new-file/README.md
  extensions/easy-new-file/assets/add-file-template-icon.png
  extensions/easy-new-file/assets/add-file-template-icon@dark.png
  extensions/easy-new-file/assets/applescript.png
  extensions/easy-new-file/assets/css.png
  extensions/easy-new-file/assets/docx.png
  extensions/easy-new-file/assets/easy-new-file-icon.png
  extensions/easy-new-file/assets/easy-new-file-icon@dark.png
  extensions/easy-new-file/assets/html.png
  extensions/easy-new-file/assets/java.png
  extensions/easy-new-file/assets/javascript.png
  extensions/easy-new-file/assets/json.png
  extensions/easy-new-file/assets/kotlin.png
  extensions/easy-new-file/assets/markdown.png
  extensions/easy-new-file/assets/new-file-here-icon.png
  extensions/easy-new-file/assets/new-file-here-icon@dark.png
  extensions/easy-new-file/assets/perl.png
  extensions/easy-new-file/assets/pptx.png
  extensions/easy-new-file/assets/python.png
  extensions/easy-new-file/assets/rtf.png
  extensions/easy-new-file/assets/ruby.png
  extensions/easy-new-file/assets/shell.png
  extensions/easy-new-file/assets/swift.png
  extensions/easy-new-file/assets/text.png
  extensions/easy-new-file/assets/typescript.png
  extensions/easy-new-file/assets/xlsx.png
  extensions/easy-new-file/assets/xml.png
  extensions/easy-new-file/metadata/Metadata-1.png
  extensions/easy-new-file/metadata/Metadata-2.png
  extensions/easy-new-file/metadata/Metadata-3.png
  extensions/easy-new-file/package-lock.json
  extensions/easy-new-file/package.json
  extensions/easy-new-file/src/add-file-template.tsx
  extensions/easy-new-file/src/hooks/hooks.ts
  extensions/easy-new-file/src/new-file-here.tsx
  extensions/easy-new-file/src/new-file-with-name.tsx
  extensions/easy-new-file/src/utils/common-utils.ts
  extensions/easy-new-file/src/utils/file-type.ts
  extensions/easy-new-file/tsconfig.json
Labels: new extension

#1460 [search-mdn] add locale support
  extensions/search-mdn/package.json
  extensions/search-mdn/src/index.tsx
Labels: extension fix / improvement

#1462 Update Easy New File Extension
  extensions/easy-new-file/README.md
  extensions/easy-new-file/src/add-file-template.tsx
Labels: extension fix / improvement

#1416 NotePlan 3: Initial version.
  extensions/noteplan-3/.eslintrc.json
  extensions/noteplan-3/.gitignore
  extensions/noteplan-3/.prettierrc
  extensions/noteplan-3/CHANGELOG.md
  extensions/noteplan-3/README.md
  extensions/noteplan-3/assets/command-icon.png
  extensions/noteplan-3/metadata/noteplan-3-01.png
  extensions/noteplan-3/metadata/noteplan-3-02.png
  extensions/noteplan-3/package-lock.json
  extensions/noteplan-3/package.json
  extensions/noteplan-3/src/lib/components.tsx
  extensions/noteplan-3/src/lib/hooks.ts
  extensions/noteplan-3/src/lib/note-utilities.ts
  extensions/noteplan-3/src/search.tsx
  extensions/noteplan-3/src/today.tsx
  extensions/noteplan-3/tsconfig.json
Labels: new extension

#1260 Add material-icons
  extensions/material-icons/.eslintrc.json
  extensions/material-icons/.prettierrc
  extensions/material-icons/README.md
  extensions/material-icons/assets/command-icon.png
  extensions/material-icons/metadata/screenshot-1.png
  extensions/material-icons/package-lock.json
  extensions/material-icons/package.json
  extensions/material-icons/src/index.tsx
  extensions/material-icons/src/type.d.ts
  extensions/material-icons/tsconfig.json
Labels: new extension

#1407 New extension: Encoding Tools
  extensions/encoding-tools/.eslintrc.json
  extensions/encoding-tools/.gitignore
  extensions/encoding-tools/.prettierrc
  extensions/encoding-tools/CHANGELOG.md
  extensions/encoding-tools/README.md
  extensions/encoding-tools/assets/command-icon.png
  extensions/encoding-tools/lib/clipboard.ts
  extensions/encoding-tools/lib/utils.ts
  extensions/encoding-tools/package-lock.json
  extensions/encoding-tools/package.json
  extensions/encoding-tools/src/base64-decode.ts
  extensions/encoding-tools/src/base64-encode.ts
  extensions/encoding-tools/src/md5.ts
  extensions/encoding-tools/src/sha1.ts
  extensions/encoding-tools/src/sha256.ts
  extensions/encoding-tools/src/sha512.ts
  extensions/encoding-tools/tsconfig.json
Labels: new extension

#1391 Add Quick Access extension
  extensions/quick-access/.eslintrc.json
  extensions/quick-access/.gitignore
  extensions/quick-access/.prettierrc
  extensions/quick-access/CHANGELOG.md
  extensions/quick-access/README.md
  extensions/quick-access/assets/access-directory.png
  extensions/quick-access/assets/extension-icon.png
  extensions/quick-access/assets/pin-directory.png
  extensions/quick-access/metadata/Metadata-1.png
  extensions/quick-access/metadata/Metadata-2.png
  extensions/quick-access/metadata/Metadata-3.png
  extensions/quick-access/package-lock.json
  extensions/quick-access/package.json
  extensions/quick-access/src/hooks/hooks.ts
  extensions/quick-access/src/pin-directory.tsx
  extensions/quick-access/src/search-pinned-directories.tsx
  extensions/quick-access/src/utils/applescript-utils.ts
  extensions/quick-access/src/utils/common-utils.ts
  extensions/quick-access/src/utils/constants.ts
  extensions/quick-access/src/utils/directory-info.ts
  extensions/quick-access/src/utils/ui-components.tsx
  extensions/quick-access/tsconfig.json
Labels: new extension

#1398 Add JWT Decoder Extension
  extensions/jwt-decoder/.eslintrc.json
  extensions/jwt-decoder/.prettierrc
  extensions/jwt-decoder/assets/claims.csv
  extensions/jwt-decoder/assets/jwt.png
  extensions/jwt-decoder/assets/jwt.svg
  extensions/jwt-decoder/metadata/jwt-decoder-1.png
  extensions/jwt-decoder/metadata/jwt-decoder-2.png
  extensions/jwt-decoder/metadata/jwt-decoder-3.png
  extensions/jwt-decoder/metadata/jwt-decoder-4.png
  extensions/jwt-decoder/metadata/jwt-decoder-5.png
  extensions/jwt-decoder/package-lock.json
  extensions/jwt-decoder/package.json
  extensions/jwt-decoder/src/components/error-detail.tsx
  extensions/jwt-decoder/src/components/jwt-item-action-panel.tsx
  extensions/jwt-decoder/src/components/jwt-list-item.tsx
  extensions/jwt-decoder/src/components/please-copy.tsx
  extensions/jwt-decoder/src/components/token-svg.tsx
  extensions/jwt-decoder/src/constants.ts
  extensions/jwt-decoder/src/jwt-list.tsx
  extensions/jwt-decoder/src/jwt-view.tsx
  extensions/jwt-decoder/src/utils/display-value.ts
  extensions/jwt-decoder/src/utils/get-value.ts
  extensions/jwt-decoder/src/utils/list-from-object.ts
  extensions/jwt-decoder/src/utils/use-claims.ts
  extensions/jwt-decoder/tsconfig.json
Labels: new extension

#1466 Update Easy New File extension
  extensions/easy-new-file/src/hooks/hooks.ts
Labels: extension fix / improvement

#1456 [Bitwarden] Add support for self hosted instances
  extensions/bitwarden/CHANGELOG.md
  extensions/bitwarden/README.md
  extensions/bitwarden/package-lock.json
  extensions/bitwarden/package.json
  extensions/bitwarden/src/api.ts
  extensions/bitwarden/src/components.tsx
  extensions/bitwarden/src/const.ts
  extensions/bitwarden/src/generate-password.tsx
  extensions/bitwarden/src/hooks.ts
  extensions/bitwarden/src/search.tsx
  extensions/bitwarden/src/types/index.ts
  extensions/bitwarden/src/utils.ts
Labels: extension fix / improvement, status: awaiting response from dev, OP is contributor

#1375 Add extension: Bible
  extensions/bible/.eslintrc.json
  extensions/bible/.gitignore
  extensions/bible/.prettierrc
  extensions/bible/CHANGELOG.md
  extensions/bible/README.md
  extensions/bible/assets/bible-versions.json
  extensions/bible/assets/extension-icon-64.png
  extensions/bible/assets/extension-icon.png
  extensions/bible/metadata/screenshot-1.png
  extensions/bible/metadata/screenshot-2.png
  extensions/bible/metadata/screenshot-3.png
  extensions/bible/package-lock.json
  extensions/bible/package.json
  extensions/bible/scripts/updateBibleVersions.js
  extensions/bible/src/bibleGatewayApi.ts
  extensions/bible/src/bibleSearch.tsx
  extensions/bible/tsconfig.json
Labels: new extension

#1477 Feat/todoist comments
  extensions/todoist/CHANGELOG.md
  extensions/todoist/package-lock.json
  extensions/todoist/package.json
  extensions/todoist/src/components/TaskActions.tsx
  extensions/todoist/src/components/TaskCommentForm.tsx
  extensions/todoist/src/components/TaskComments.tsx
  extensions/todoist/src/components/TaskDetail.tsx
  extensions/todoist/src/components/TaskEdit.tsx
  extensions/todoist/src/components/TaskListItem.tsx
  extensions/todoist/src/create-project.tsx
  extensions/todoist/src/create-task.tsx
  extensions/todoist/src/projects.tsx
  extensions/todoist/src/types.ts
Labels: extension fix / improvement, OP is author

#1473 Update Easy New File Extension
  extensions/easy-new-file/CHANGELOG.md
  extensions/easy-new-file/package.json
  extensions/easy-new-file/src/add-file-template.tsx
  extensions/easy-new-file/src/hooks/hooks.ts
  extensions/easy-new-file/src/new-file-here.tsx
  extensions/easy-new-file/src/new-file-with-name.tsx
  extensions/easy-new-file/src/utils/common-utils.ts
  extensions/easy-new-file/src/utils/file-type.ts
Labels: extension fix / improvement

#1482 Update Bing Wallpaper extension
  extensions/bing-wallpaper/CHANGELOG.md
  extensions/bing-wallpaper/README.md
  extensions/bing-wallpaper/src/set-bing-wallpaper.tsx
  extensions/bing-wallpaper/src/utils/common-utils.ts
Labels: extension fix / improvement
