Repository raycast/extensions, pull requests merged in 2022-05, with the labels that each got.

#1541 Added filter preferences to Google Drive
  extensions/google-drive/CHANGELOG.md
  extensions/google-drive/package.json
  extensions/google-drive/src/db.ts
  extensions/google-drive/src/index.tsx
  extensions/google-drive/src/types.ts
  extensions/google-drive/src/utils.ts
Labels: extension fix / improvement

#1545 [Visual Studio Code - Project Manager] - add preference to hide projects without tag
  extensions/visual-studio-code-project-manager/package-lock.json
  extensions/visual-studio-code-project-manager/package.json
  extensions/visual-studio-code-project-manager/src/search-project-manager-projects.tsx
  extensions/visual-studio-code-project-manager/src/types.ts
Labels: extension fix / improvement, OP is author

#1546 [Google Drive] Optimize file previews cache
  extensions/google-drive/CHANGELOG.md
  extensions/google-drive/src/constants.ts
  extensions/google-drive/src/db.ts
  extensions/google-drive/src/index.tsx
  extensions/google-drive/src/utils.ts
Labels: extension fix / improvement, OP is author

#1550 [Google Drive] Don't show file previews cleared toast while reindexing files
  extensions/google-drive/src/db.ts
  extensions/google-drive/src/utils.ts
Labels: extension fix / improvement, OP is author

#1549 add supabase docs
  extensions/supabase-docs/.eslintrc.json
  extensions/supabase-docs/.prettierrc
  extensions/supabase-docs/CHANGELOG.md
  extensions/supabase-docs/assets/supabase-logo.png
  extensions/supabase-docs/metadata/supabase-01.png
  extensions/supabase-docs/package-lock.json
  extensions/supabase-docs/package.json
  extensions/supabase-docs/src/search-documentation.tsx
  extensions/supabase-docs/tsconfig.json
Labels: new extension

#1543 feat(todoist): Project edition and colors
  extensions/todoist/CHANGELOG.md
  extensions/todoist/README.md
  extensions/todoist/src/components/Project.tsx
  extensions/todoist/src/components/ProjectForm.tsx
  extensions/todoist/src/components/TaskList.tsx
  extensions/todoist/src/components/TaskListItem.tsx
  extensions/todoist/src/create-project.tsx
  extensions/todoist/src/projects.tsx
Labels: extension fix / improvement, OP is author

#1555 [Twitch] Streamlink bugfix
  extensions/twitch/CHANGELOG.md
  extensions/twitch/package-lock.json
  extensions/twitch/package.json
  extensions/twitch/src/game.tsx
  extensions/twitch/src/utils.tsx
Labels: extension fix / improvement

#1556 fix(nextcloud): add missing icons for activity events
  extensions/nextcloud/changelog.md
  extensions/nextcloud/src/activity/utils.tsx
Labels: extension fix / improvement, OP is author

#1531 Notion: Add action to open created page
  extensions/notion/CHANGELOG.md
  extensions/notion/package-lock.json
  extensions/notion/package.json
  extensions/notion/src/components/ActionEditPageProperty.tsx
  extensions/notion/src/components/ActionSetVisibleProperties.tsx
  extensions/notion/src/components/CreateDatabaseForm.tsx
  extensions/notion/src/components/DatabaseList.tsx
  extensions/notion/src/components/DatabaseViewForm.tsx
  extensions/notion/src/components/PageDetail.tsx
  extensions/notion/src/components/PageListItem.tsx
  extensions/notion/src/components/databaseViews/DatabaseKanbanView.tsx
  extensions/notion/src/utils/local-storage.ts
  extensions/notion/src/utils/notion.ts
  extensions/notion/src/utils/openPage.ts
Labels: extension fix / improvement

#1553 [Google Drive] Support `favorite` files
  extensions/google-drive/CHANGELOG.md
  extensions/google-drive/metadata/Google-Drive-2.png
  extensions/google-drive/metadata/Google-Drive-3.png
  extensions/google-drive/src/db.ts
  extensions/google-drive/src/index.tsx
  extensions/google-drive/src/utils.ts
Labels: extension fix / improvement, OP is author

#1532 Update extension folder name
  extensions/paste-as-plain-text/.eslintrc.json
  extensions/paste-as-plain-text/.prettierrc
  extensions/paste-as-plain-text/CHANGELOG.md
  extensions/paste-as-plain-text/README.md
  extensions/paste-as-plain-text/assets/paste-icon.png
  extensions/paste-as-plain-text/metadata/Metadata.png
  extensions/paste-as-plain-text/package-lock.json
  extensions/paste-as-plain-text/package.json
  extensions/paste-as-plain-text/src/paste-as-plain-text.tsx
  extensions/paste-as-plain-text/src/utils.ts
  extensions/paste-as-plain-text/tsconfig.json
Labels: new extension, renamed extension

#1538 [homeassistant] dynamic temperature options
  extensions/homeassistant/CHANGELOG.md
  extensions/homeassistant/package-lock.json
  extensions/homeassistant/package.json
  extensions/homeassistant/src/components/states.tsx
Labels: extension fix / improvement

#1493 Sourcegraph: Search fixes, hover tooltips
  extensions/sourcegraph/CHANGELOG.md
  extensions/sourcegraph/package-lock.json
  extensions/sourcegraph/package.json
  extensions/sourcegraph/src/components/FindNotebooksCommand.tsx
  extensions/sourcegraph/src/components/ManageBatchChangesCommand.tsx
  extensions/sourcegraph/src/components/SearchCommand.tsx
  extensions/sourcegraph/src/sourcegraph/gql/queries.ts
  extensions/sourcegraph/src/sourcegraph/gql/schema.ts
  extensions/sourcegraph/src/sourcegraph/index.ts
  extensions/sourcegraph/src/sourcegraph/stream-search/index.ts
  extensions/sourcegraph/src/sourcegraph/stream-search/stream.ts
  extensions/sourcegraph/src/text/index.ts
Labels: extension fix / improvement, OP is author

#1565 Weather: Add icons for wind and humidity
  extensions/weather/CHANGELOG.md
  extensions/weather/package-lock.json
  extensions/weather/package.json
  extensions/weather/src/components/day.tsx
  extensions/weather/src/components/weather.tsx
Labels: extension fix / improvement, OP is author

#1564 RICE Score: Upgrade to 1.33
  extensions/ricescore/package-lock.json
  extensions/ricescore/package.json
  extensions/ricescore/src/index.tsx
Labels: extension fix / improvement, OP is author

#1563 Snake: Upgrade to 1.33
  extensions/snake/changelog.md
  extensions/snake/package-lock.json
  extensions/snake/package.json
  extensions/snake/src/components/snake.tsx
Labels: extension fix / improvement, OP is author

#1562 Speedtest: Upgrade to 1.33
  extensions/speedtest/CHANGELOG.md
  extensions/speedtest/package-lock.json
  extensions/speedtest/package.json
  extensions/speedtest/src/index.tsx
Labels: extension fix / improvement, OP is author

#1463 New extension: Eagle
  extensions/eagle/.eslintrc.json
  extensions/eagle/.gitignore
  extensions/eagle/.prettierrc
  extensions/eagle/CHANGELOG.md
  extensions/eagle/README.md
  extensions/eagle/assets/command-icon.png
  extensions/eagle/metadata/Metadata-1.png
  extensions/eagle/metadata/Metadata-2.png
  extensions/eagle/metadata/Metadata-3.png
  extensions/eagle/metadata/Metadata-4.png
  extensions/eagle/package-lock.json
  extensions/eagle/package.json
  extensions/eagle/src/@types/eagle.d.ts
  extensions/eagle/src/components/EagleItem.tsx
  extensions/eagle/src/components/ItemDetail.tsx
  extensions/eagle/src/components/ItemListDetail.tsx
  extensions/eagle/src/folder.tsx
  extensions/eagle/src/index.tsx
  extensions/eagle/src/utils/api.ts
  extensions/eagle/src/utils/checkInstall.ts
  extensions/eagle/src/utils/error.ts
  extensions/eagle/src/utils/query.ts
  extensions/eagle/tsconfig.json
Labels: new extension

#1560 [Google Drive] Show helpful animated toast during initial files cache indexing
  extensions/google-drive/src/index.tsx
Labels: extension fix / improvement, OP is author

#1557 Add Holodex extension
  extensions/holodex/.eslintrc.json
  extensions/holodex/.gitignore
  extensions/holodex/.prettierrc
  extensions/holodex/README.md
  extensions/holodex/assets/holodex.png
  extensions/holodex/assets/yt.png
  extensions/holodex/changelog.md
  extensions/holodex/metadata/Screenshot1.png
  extensions/holodex/metadata/Screenshot2.png
  extensions/holodex/metadata/Screenshot3.png
  extensions/holodex/metadata/Screenshot4.png
  extensions/holodex/package-lock.json
  extensions/holodex/package.json
  extensions/holodex/src/archives.tsx
  extensions/holodex/src/channels.tsx
  extensions/holodex/src/clips.tsx
  extensions/holodex/src/components/Actions.tsx
  extensions/holodex/src/components/Details.tsx
  extensions/holodex/src/lib/api.ts
  extensions/holodex/src/lib/interfaces.tsx
  extensions/holodex/src/lib/preferences.tsx
  extensions/holodex/src/live.tsx
  extensions/holodex/tsconfig.json
Labels: new extension

#1569 Added Hellonext Changelogs Extension
  extensions/hellonext-changelogs/.eslintrc.json
  extensions/hellonext-changelogs/.gitignore
  extensions/hellonext-changelogs/.prettierrc
  extensions/hellonext-changelogs/CHANGELOG.md
  extensions/hellonext-changelogs/README.md
  extensions/hellonext-changelogs/assets/hn-logo-64.png
  extensions/hellonext-changelogs/assets/hn-logo.png
  extensions/hellonext-changelogs/package-lock.json
  extensions/hellonext-changelogs/package.json
  extensions/hellonext-changelogs/src/components/ChangelogListItem.tsx
  extensions/hellonext-changelogs/src/components/ChangelogSingleItem.tsx
  extensions/hellonext-changelogs/src/index.tsx
  extensions/hellonext-changelogs/src/utils/hellonext.ts
  extensions/hellonext-changelogs/tsconfig.json
Labels: new extension

#1542 Update Text Shortcuts extension
  extensions/text-shortcuts/CHANGELOG.md
  extensions/text-shortcuts/package-lock.json
  extensions/text-shortcuts/package.json
  extensions/text-shortcuts/src/build-in/case.ts
  extensions/text-shortcuts/src/create-shortcut.tsx
  extensions/text-shortcuts/src/shortcut-library.tsx
  extensions/text-shortcuts/src/util/shortcut.ts
  extensions/text-shortcuts/src/util/utils.ts
Labels: extension fix / improvement, OP is author

#1571 [Google Drive] Add an action to toggle right-side details view
  extensions/google-drive/CHANGELOG.md
  extensions/google-drive/src/index.tsx
Labels: extension fix / improvement, OP is author

#1576 [Fix] Update the Single Detail Page to use markdown from api
  extensions/hellonext-changelogs/package.json
  extensions/hellonext-changelogs/src/components/ChangelogSingleItem.tsx
  extensions/hellonext-changelogs/src/utils/hellonext.ts
Labels: extension fix / improvement, OP is author

#1518 Adding support for 1Password 8
  extensions/1password7/CHANGELOG.md
  extensions/1password7/metadata/screenshot-01.png
  extensions/1password7/metadata/screenshot-02.png
  extensions/1password7/metadata/screenshot-03.png
  extensions/1password7/package-lock.json
  extensions/1password7/package.json
  extensions/1password7/src/list.tsx
  extensions/1password7/src/onePassword/index.ts
  extensions/1password7/src/onePassword/onePassword7.ts
  extensions/1password7/src/onePassword/onePassword8.ts
  extensions/1password7/src/onePassword/types.ts
Labels: extension fix / improvement

#1529 New extension: FrankerFaceZ
  extensions/frankerfacez/.eslintrc.json
  extensions/frankerfacez/.gitignore
  extensions/frankerfacez/.prettierrc
  extensions/frankerfacez/CHANGELOG.md
  extensions/frankerfacez/README.md
  extensions/frankerfacez/assets/icon.png
  extensions/frankerfacez/package-lock.json
  extensions/frankerfacez/package.json
  extensions/frankerfacez/readme-logo.png
  extensions/frankerfacez/src/index.tsx
  extensions/frankerfacez/tsconfig.json
Labels: new extension

#1581 Update Capture Raycast Metadata extension
  extensions/capture-raycast-metadata/CHANGELOG.md
  extensions/capture-raycast-metadata/package-lock.json
  extensions/capture-raycast-metadata/package.json
  extensions/capture-raycast-metadata/src/capture-raycast-metadata.ts
Labels: extension fix / improvement, OP is author

#1578 Home Assistant: Add support for weather entities
  extensions/homeassistant/CHANGELOG.md
  extensions/homeassistant/package.json
  extensions/homeassistant/src/components/states.tsx
  extensions/homeassistant/src/components/weather.tsx
  extensions/homeassistant/src/weather.tsx
Labels: extension fix / improvement, OP is author

#1582 Renamed extension
  extensions/1password/.eslintrc.json
  extensions/1password/.prettierrc
  extensions/1password/CHANGELOG.md
  extensions/1password/assets/1password-icon.png
  extensions/1password/metadata/screenshot-01.png
  extensions/1password/metadata/screenshot-02.png
  extensions/1password/metadata/screenshot-03.png
  extensions/1password/package-lock.json
  extensions/1password/package.json
  extensions/1password/src/OnePasswordMetaItem.dto.ts
  extensions/1password/src/OnePasswordMetaItemsCategory.dto.ts
  extensions/1password/src/list.tsx
  extensions/1password/src/onePassword/index.ts
  extensions/1password/src/onePassword/onePassword7.ts
  extensions/1password/src/onePassword/onePassword8.ts
  extensions/1password/src/onePassword/types.ts
  extensions/1password/tsconfig.json
Labels: new extension

#1221 Add Liveblocks Extension
  extensions/liveblocks/.eslintrc.json
  extensions/liveblocks/.prettierrc
  extensions/liveblocks/CHANGELOG.md
  extensions/liveblocks/README.md
  extensions/liveblocks/assets/command-icon.png
  extensions/liveblocks/metadata/liveblocks-01.png
  extensions/liveblocks/metadata/liveblocks-02.png
  extensions/liveblocks/metadata/liveblocks-03.png
  extensions/liveblocks/metadata/liveblocks-04.png
  extensions/liveblocks/package-lock.json
  extensions/liveblocks/package.json
  extensions/liveblocks/src/delete-room-storage.tsx
  extensions/liveblocks/src/get-room-storage.tsx
  extensions/liveblocks/src/init-room-storage.tsx
  extensions/liveblocks/src/utils.ts
  extensions/liveblocks/tsconfig.json
Labels: new extension

#1277 Slack: Add unread messages command
  extensions/slack/CHANGELOG.md
  extensions/slack/README.md
  extensions/slack/metadata/slack-01.png
  extensions/slack/metadata/slack-02.png
  extensions/slack/metadata/slack-03.png
  extensions/slack/metadata/slack-04.png
  extensions/slack/package-lock.json
  extensions/slack/package.json
  extensions/slack/src/search.tsx
  extensions/slack/src/shared/UpdatesModal.tsx
  extensions/slack/src/shared/client/SlackClient.ts
  extensions/slack/src/shared/client/SlackClientHooks.ts
  extensions/slack/src/shared/utils.ts
  extensions/slack/src/unread-messages.tsx
Labels: extension fix / improvement, status: awaiting response from dev, OP is author

#1573 New Extension: WakaTime
  extensions/wakatime/.eslintrc.json
  extensions/wakatime/.prettierrc
  extensions/wakatime/CHANGELOG.md
  extensions/wakatime/LICENSE
  extensions/wakatime/README.md
  extensions/wakatime/assets/icon.png
  extensions/wakatime/package-lock.json
  extensions/wakatime/package.json
  extensions/wakatime/src/components/Leaderboard.tsx
  extensions/wakatime/src/components/Summary.tsx
  extensions/wakatime/src/components/index.ts
  extensions/wakatime/src/hooks/index.ts
  extensions/wakatime/src/hooks/use-activity-change.ts
  extensions/wakatime/src/hooks/use-leaderboard.ts
  extensions/wakatime/src/hooks/use-private-leaderboards.ts
  extensions/wakatime/src/hooks/use-projects.ts
  extensions/wakatime/src/hooks/use-summary.ts
  extensions/wakatime/src/hooks/use-user.ts
  extensions/wakatime/src/leaderboard.tsx
  extensions/wakatime/src/private-leaderboards.tsx
  extensions/wakatime/src/summary.tsx
  extensions/wakatime/src/types.ts
  extensions/wakatime/src/utils/api.ts
  extensions/wakatime/src/utils/index.ts
  extensions/wakatime/tsconfig.json
Labels: new extension

#1572 Cypress docs
  extensions/cypress-docs/.eslintrc.json
  extensions/cypress-docs/.prettierrc
  extensions/cypress-docs/CHANGELOG.md
  extensions/cypress-docs/assets/cypress-logo.png
  extensions/cypress-docs/metadata/cypress-01.png
  extensions/cypress-docs/metadata/cypress-02.png
  extensions/cypress-docs/package-lock.json
  extensions/cypress-docs/package.json
  extensions/cypress-docs/src/cypress-docs.tsx
  extensions/cypress-docs/tsconfig.json
Labels: new extension

#1583 Add Parabol extension
  extensions/parabol/.eslintrc.json
  extensions/parabol/CHANGELOG.md
  extensions/parabol/assets/parabol-logo.png
  extensions/parabol/metadata/screenshot.png
  extensions/parabol/package-lock.json
  extensions/parabol/package.json
  extensions/parabol/src/myMeetings.tsx
  extensions/parabol/src/newMeeting.tsx
  extensions/parabol/src/profile.tsx
  extensions/parabol/src/tasks.tsx
  extensions/parabol/src/timeline.tsx
  extensions/parabol/tsconfig.json
Labels: new extension

#1284 Add Wrike Extension
  extensions/wrike/.eslintrc.json
  extensions/wrike/.gitignore
  extensions/wrike/.prettierrc
  extensions/wrike/CHANGELOG.md
  extensions/wrike/README.md
  extensions/wrike/TODO.md
  extensions/wrike/assets/wrike_logo.png
  extensions/wrike/assets/wrike_logo_small.png
  extensions/wrike/metadata/my_tasks.png
  extensions/wrike/metadata/search_results.png
  extensions/wrike/metadata/task_detail.png
  extensions/wrike/package-lock.json
  extensions/wrike/package.json
  extensions/wrike/src/search.tsx
  extensions/wrike/src/types.ts
  extensions/wrike/src/wrike.tsx
  extensions/wrike/tsconfig.json
Labels: new extension, status: awaiting response from dev

#1594 massCode: exclude deleted snippets from the fetch
  extensions/masscode-assistant/CHANGELOG.md
  extensions/masscode-assistant/src/index.tsx
Labels: extension fix / improvement, OP is author

#1592 Weather: Improve error message
  extensions/weather/CHANGELOG.md
  extensions/weather/src/components/weather.tsx
  extensions/weather/src/utils.ts
Labels: extension fix / improvement, OP is author

#1603 [Update Obsidian extension] Quick fix - correct extension icon
  extensions/obsidian/assets/command-icon.png
Labels: extension fix / improvement, OP is author

#1600 updated cypress icons for both light and dark themes
  extensions/cypress-docs/assets/icon.png
  extensions/cypress-docs/assets/icon@dark.png
  extensions/cypress-docs/package.json
Labels: extension fix / improvement, OP is author

#1588 Update Github Gist extension
  extensions/github-gist/CHANGELOG.md
  extensions/github-gist/assets/raycast.png
  extensions/github-gist/assets/raycast@dark.png
  extensions/github-gist/package-lock.json
  extensions/github-gist/package.json
  extensions/github-gist/src/components/gist-action.tsx
  extensions/github-gist/src/components/gist-empty-view.tsx
  extensions/github-gist/src/components/gist-file-form.tsx
  extensions/github-gist/src/create-gist.tsx
  extensions/github-gist/src/hooks/hooks.ts
  extensions/github-gist/src/search-gist.tsx
  extensions/github-gist/src/util/gist-utils.ts
  extensions/github-gist/src/util/utils.ts
Labels: extension fix / improvement, OP is author

#1627 Update Copy Path extension
  extensions/copy-path/CHANGELOG.md
  extensions/copy-path/README.md
  extensions/copy-path/package-lock.json
  extensions/copy-path/package.json
  extensions/copy-path/src/copy-path.tsx
  extensions/copy-path/src/utils/common-utils.ts
Labels: extension fix / improvement, OP is author

#1561 Twitter: Display Tweet directly in list view
  extensions/twitter/CHANGELOG.md
  extensions/twitter/README.md
  extensions/twitter/package-lock.json
  extensions/twitter/package.json
  extensions/twitter/src/common.ts
  extensions/twitter/src/components/mytweets.tsx
  extensions/twitter/src/components/send.tsx
  extensions/twitter/src/components/tweet.tsx
  extensions/twitter/src/components/tweet_actions.tsx
  extensions/twitter/src/components/user.tsx
  extensions/twitter/src/components/user_actions.tsx
  extensions/twitter/src/components/usertweets.tsx
  extensions/twitter/src/mytweets.tsx
  extensions/twitter/src/send.tsx
  extensions/twitter/src/timeline.tsx
  extensions/twitter/src/user_search.tsx
Labels: extension fix / improvement, OP is author

#1199 New extension: Dig (DNS Lookup)
  extensions/dig/.eslintrc.json
  extensions/dig/.prettierrc
  extensions/dig/CHANGELOG.md
  extensions/dig/README.md
  extensions/dig/assets/command-icon.png
  extensions/dig/metadata/screenshot-01.png
  extensions/dig/metadata/screenshot-02.png
  extensions/dig/metadata/screenshot-03.png
  extensions/dig/metadata/screenshot-04.png
  extensions/dig/package-lock.json
  extensions/dig/package.json
  extensions/dig/src/index.tsx
  extensions/dig/tsconfig.json
Labels: new extension, status: awaiting response from dev

#1614 Add OpenWeatherMap
  extensions/openweathermap/.eslintrc.json
  extensions/openweathermap/.gitignore
  extensions/openweathermap/.prettierrc
  extensions/openweathermap/CHANGELOG.md
  extensions/openweathermap/README.md
  extensions/openweathermap/assets/openweathermap.png
  extensions/openweathermap/package-lock.json
  extensions/openweathermap/package.json
  extensions/openweathermap/src/components/single.tsx
  extensions/openweathermap/src/components/weather.tsx
  extensions/openweathermap/src/lib/icons.ts
  extensions/openweathermap/src/lib/openweathermap.ts
  extensions/openweathermap/src/lib/unit.ts
  extensions/openweathermap/src/lib/utils.ts
  extensions/openweathermap/src/weather.tsx
  extensions/openweathermap/tsconfig.json
Labels: new extension

#1591 Update Google Maven Repository extension
  extensions/google-maven-repository/CHANGELOG.md
  extensions/google-maven-repository/assets/search-google-maven-repository.png
  extensions/google-maven-repository/assets/search-google-maven-repository@dark.png
  extensions/google-maven-repository/metadata/Metadata-1.png
  extensions/google-maven-repository/metadata/Metadata-2.png
  extensions/google-maven-repository/package-lock.json
  extensions/google-maven-repository/package.json
  extensions/google-maven-repository/src/hooks/hooks.ts
  extensions/google-maven-repository/src/search-google-artifact.tsx
  extensions/google-maven-repository/src/search-google-maven-repository.tsx
  extensions/google-maven-repository/src/show-google-artifacts.tsx
  extensions/google-maven-repository/src/show-google-maven-repository.tsx
  extensions/google-maven-repository/src/utils/ui-component.tsx
Labels: extension fix / improvement, OP is author

#1584 Add Gitee extension
  extensions/gitee/.eslintrc.json
  extensions/gitee/.gitignore
  extensions/gitee/.prettierrc
  extensions/gitee/CHANGELOG.md
  extensions/gitee/README.md
  extensions/gitee/assets/empty-view-icon.png
  extensions/gitee/assets/empty-view-icon.svg
  extensions/gitee/assets/gitee-icon.png
  extensions/gitee/metadata/Metadata-1.png
  extensions/gitee/metadata/Metadata-2.png
  extensions/gitee/metadata/Metadata-3.png
  extensions/gitee/metadata/Metadata-4.png
  extensions/gitee/metadata/Metadata-5.png
  extensions/gitee/metadata/Metadata-6.png
  extensions/gitee/package-lock.json
  extensions/gitee/package.json
  extensions/gitee/src/components/ActionToGitee.tsx
  extensions/gitee/src/components/GiteeEmptyView.tsx
  extensions/gitee/src/components/IssueDetail.tsx
  extensions/gitee/src/components/IssueItem.tsx
  extensions/gitee/src/components/NotificationItem.tsx
  extensions/gitee/src/components/ReposAction.tsx
  extensions/gitee/src/components/ReposDetail.tsx
  extensions/gitee/src/components/ReposItem.tsx
  extensions/gitee/src/hooks/hooks.ts
  extensions/gitee/src/my-issues.tsx
  extensions/gitee/src/my-repositories.tsx
  extensions/gitee/src/notifications.tsx
  extensions/gitee/src/search-repositories.tsx
  extensions/gitee/src/types/issue.ts
  extensions/gitee/src/types/notification.ts
  extensions/gitee/src/types/readme.ts
  extensions/gitee/src/types/repository.ts
  extensions/gitee/src/utils/common-utils.ts
  extensions/gitee/src/utils/constants.ts
  extensions/gitee/tsconfig.json
Labels: new extension

#1598 Update Pexels extension
  extensions/pexels/CHANGELOG.md
  extensions/pexels/README.md
  extensions/pexels/assets/solid-circle.png
  extensions/pexels/metadata/Metadata-2.png
  extensions/pexels/package-lock.json
  extensions/pexels/package.json
  extensions/pexels/src/components/action-to-pexels.tsx
  extensions/pexels/src/components/pexels-empty-view.tsx
  extensions/pexels/src/components/photos-list-item.tsx
  extensions/pexels/src/hooks/hooks.ts
  extensions/pexels/src/search-collections.tsx
  extensions/pexels/src/search-curated-photos.tsx
  extensions/pexels/src/search-photos.tsx
  extensions/pexels/src/utils/applescript-utils.ts
  extensions/pexels/src/utils/types.ts
  extensions/pexels/src/view-collection-medias.tsx
Labels: extension fix / improvement, OP is author

#1636 [Twitch] Fix: cannot open following channel when user_name != user_login
  extensions/twitch/package.json
  extensions/twitch/src/following.tsx
  extensions/twitch/src/interfaces/FollowingItem.ts
Labels: extension fix / improvement

#1626 Add: Discord.js Docs extension.
  extensions/discordjs-documentation/.eslintrc.json
  extensions/discordjs-documentation/.gitignore
  extensions/discordjs-documentation/.prettierrc
  extensions/discordjs-documentation/CHANGELOG.md
  extensions/discordjs-documentation/README.md
  extensions/discordjs-documentation/assets/command-icon.png
  extensions/discordjs-documentation/metadata/discord-docs-1.png
  extensions/discordjs-documentation/metadata/discord-docs-2.png
  extensions/discordjs-documentation/metadata/discord-docs-3.png
  extensions/discordjs-documentation/package-lock.json
  extensions/discordjs-documentation/package.json
  extensions/discordjs-documentation/src/index.tsx
  extensions/discordjs-documentation/tsconfig.json
Labels: new extension

#1638 Change F1 extension icon
  extensions/f1-standings/assets/command-icon.png
  extensions/f1-standings/assets/empty-view.png
Labels: extension fix / improvement, OP is contributor

#1567 massCode: Add detail of the snippet to the view
  extensions/masscode-assistant/.eslintrc.json
  extensions/masscode-assistant/.prettierrc
  extensions/masscode-assistant/CHANGELOG.md
  extensions/masscode-assistant/package-lock.json
  extensions/masscode-assistant/package.json
  extensions/masscode-assistant/src/components/snippet-content.tsx
  extensions/masscode-assistant/src/index.tsx
Labels: extension fix / improvement

#1580 Add Signal extension
  extensions/signal/.eslintrc.json
  extensions/signal/.gitignore
  extensions/signal/.prettierrc
  extensions/signal/CHANGELOG.md
  extensions/signal/README.md
  extensions/signal/assets/signal.png
  extensions/signal/metadata/signal-01.png
  extensions/signal/metadata/signal-02.png
  extensions/signal/package-lock.json
  extensions/signal/package.json
  extensions/signal/src/add-chat.tsx
  extensions/signal/src/open-chat.tsx
  extensions/signal/src/utils/local-storage.ts
  extensions/signal/src/utils/types.ts
  extensions/signal/src/utils/use-signal-chats.ts
  extensions/signal/tsconfig.json
Labels: new extension

#1613 [Google Drive] Faster indexing with progress
  extensions/google-drive/CHANGELOG.md
  extensions/google-drive/package-lock.json
  extensions/google-drive/package.json
  extensions/google-drive/src/constants.ts
  extensions/google-drive/src/db.ts
  extensions/google-drive/src/index.tsx
  extensions/google-drive/src/types.ts
  extensions/google-drive/src/utils.ts
Labels: extension fix / improvement, OP is author

#1637 Updates to Twitch extension
  extensions/twitch/CHANGELOG.md
  extensions/twitch/package.json
  extensions/twitch/src/following.tsx
  extensions/twitch/src/index.tsx
  extensions/twitch/src/stream.tsx
  extensions/twitch/src/streamer.tsx
Labels: extension fix / improvement, OP is contributor

#1606 feat(amazon-aws): add list dynamodb tables command
  extensions/amazon-aws/CHANGELOG.md
  extensions/amazon-aws/assets/dynamodb-icon.png
  extensions/amazon-aws/package.json
  extensions/amazon-aws/src/dynamodb.tsx
Labels: extension fix / improvement

#1305 Add Toggle Desktop visible extension
  CHANGELOG.md
  extensions/toggle-desktop-visibility/.eslintrc.json
  extensions/toggle-desktop-visibility/.prettierrc
  extensions/toggle-desktop-visibility/CHANGELOG.md
  extensions/toggle-desktop-visibility/README.md
  extensions/toggle-desktop-visibility/assets/logo.png
  extensions/toggle-desktop-visibility/metadata/Screenshot.png
  extensions/toggle-desktop-visibility/package-lock.json
  extensions/toggle-desktop-visibility/package.json
  extensions/toggle-desktop-visibility/src/toggle-desktop-visibility.tsx
  extensions/toggle-desktop-visibility/tsconfig.json
Labels: new extension, status: awaiting response from dev

#1589 Music Extension - issue fix - feature
  extensions/music/CHANGELOG.md
  extensions/music/CONTRIBUTING.md
  extensions/music/package-lock.json
  extensions/music/package.json
  extensions/music/src/add-to-library.tsx
  extensions/music/src/currently-playing.tsx
  extensions/music/src/dislike.tsx
  extensions/music/src/love-and-add-to-library.tsx
  extensions/music/src/love.tsx
  extensions/music/src/next-track.tsx
  extensions/music/src/pause.tsx
  extensions/music/src/play-library-album.tsx
  extensions/music/src/play-library-track.tsx
  extensions/music/src/play.tsx
  extensions/music/src/previous-track.tsx
  extensions/music/src/set-rating.tsx
  extensions/music/src/start-playlist.tsx
  extensions/music/src/toggle-play-pause.tsx
  extensions/music/src/util/apple-script.ts
  extensions/music/src/util/controls.ts
  extensions/music/src/util/costants.ts
  extensions/music/src/util/logger.ts
  extensions/music/src/util/models.ts
  extensions/music/src/util/option.ts
  extensions/music/src/util/parser.ts
  extensions/music/src/util/scripts/albums.ts
  extensions/music/src/util/scripts/current-track.ts
  extensions/music/src/util/scripts/index.ts
  extensions/music/src/util/scripts/player-controls.ts
  extensions/music/src/util/scripts/playlists.ts
  extensions/music/src/util/scripts/track.ts
  extensions/music/src/util/utils.ts
  extensions/music/tsconfig.json
Labels: extension fix / improvement, OP is author

#1622 Add Anybox extension
  extensions/anybox/.eslintrc.json
  extensions/anybox/.prettierrc
  extensions/anybox/CHANGELOG.md
  extensions/anybox/README.md
  extensions/anybox/assets/anybox-icon.png
  extensions/anybox/assets/list-icon.png
  extensions/anybox/metadata/anybox-01.png
  extensions/anybox/metadata/anybox-02.png
  extensions/anybox/metadata/anybox-03.png
  extensions/anybox/package-lock.json
  extensions/anybox/package.json
  extensions/anybox/src/components/AnydockItem.tsx
  extensions/anybox/src/emptyStashbox.tsx
  extensions/anybox/src/openAnydock.tsx
  extensions/anybox/src/paste.tsx
  extensions/anybox/src/quickSave.tsx
  extensions/anybox/src/saveCurrentTab.tsx
  extensions/anybox/src/saveNote.tsx
  extensions/anybox/src/showList.tsx
  extensions/anybox/src/switchAnydock.tsx
  extensions/anybox/src/toggleAnydock.tsx
  extensions/anybox/src/toggleStashbox.tsx
  extensions/anybox/src/utilities/fetch.tsx
  extensions/anybox/tsconfig.json
Labels: new extension

#1612 Add Converter extension
  extensions/converter/.eslintrc.json
  extensions/converter/.gitignore
  extensions/converter/.prettierrc
  extensions/converter/CHANGELOG.md
  extensions/converter/README.md
  extensions/converter/assets/base-converter-icon.png
  extensions/converter/assets/code-converter-icon.png
  extensions/converter/assets/converter-icon.png
  extensions/converter/metadata/Metadata-1.png
  extensions/converter/metadata/Metadata-2.png
  extensions/converter/package-lock.json
  extensions/converter/package.json
  extensions/converter/src/base-converter.tsx
  extensions/converter/src/code-converter.tsx
  extensions/converter/src/components/base-converters-advance-view.tsx
  extensions/converter/src/components/base-converters-simple-view.tsx
  extensions/converter/src/hooks/get-input-item.ts
  extensions/converter/src/utils/base-converter-utils.ts
  extensions/converter/src/utils/code-converter-utils.ts
  extensions/converter/src/utils/common-utils.ts
  extensions/converter/src/utils/input-item-utils.ts
  extensions/converter/tsconfig.json
Labels: new extension

#1585 [search-npm] Update and add new features
  extensions/search-npm/CHANGELOG.md
  extensions/search-npm/README.md
  extensions/search-npm/metadata/search-npm-01.png
  extensions/search-npm/metadata/search-npm-02.png
  extensions/search-npm/metadata/search-npm-03.png
  extensions/search-npm/metadata/search-npm-04.png
  extensions/search-npm/metadata/search-npm-05.png
  extensions/search-npm/metadata/search-npm-06.png
  extensions/search-npm/package-lock.json
  extensions/search-npm/package.json
  extensions/search-npm/src/CopyInstallCommandActions.tsx
  extensions/search-npm/src/PackagListItem.tsx
  extensions/search-npm/src/index.tsx
  extensions/search-npm/src/tiny-relative-date.d.ts
  extensions/search-npm/src/utils/fetchPackages.ts
Labels: extension fix / improvement, OP is author

#1662 [apple-notes] Skip duplicate notes caused by smart folders
  extensions/apple-notes/CHANGELOG.md
  extensions/apple-notes/src/index.tsx
Labels: extension fix / improvement, OP is author

#1623 Add IP Geolocation extension
  extensions/ip-geolocation/.eslintrc.json
  extensions/ip-geolocation/.gitignore
  extensions/ip-geolocation/.prettierrc
  extensions/ip-geolocation/CHANGELOG.md
  extensions/ip-geolocation/README.md
  extensions/ip-geolocation/assets/empty-view.svg
  extensions/ip-geolocation/assets/empty-view@dark.svg
  extensions/ip-geolocation/assets/extension-icon.png
  extensions/ip-geolocation/assets/extension-icon@dark.png
  extensions/ip-geolocation/assets/lists/as.png
  extensions/ip-geolocation/assets/lists/as@dark.png
  extensions/ip-geolocation/assets/lists/coordinates.png
  extensions/ip-geolocation/assets/lists/coordinates@dark.png
  extensions/ip-geolocation/assets/lists/ip.png
  extensions/ip-geolocation/assets/lists/ip@dark.png
  extensions/ip-geolocation/assets/lists/isp.png
  extensions/ip-geolocation/assets/lists/isp@dark.png
  extensions/ip-geolocation/assets/lists/location.png
  extensions/ip-geolocation/assets/lists/location@dark.png
  extensions/ip-geolocation/assets/lists/organization.png
  extensions/ip-geolocation/assets/lists/organization@dark.png
  extensions/ip-geolocation/assets/lists/public-ip.png
  extensions/ip-geolocation/assets/lists/public-ip@dark.png
  extensions/ip-geolocation/assets/lists/timezone.png
  extensions/ip-geolocation/assets/lists/timezone@dark.png
  extensions/ip-geolocation/assets/my-ip-geolocation.png
  extensions/ip-geolocation/assets/my-ip-geolocation@dark.png
  extensions/ip-geolocation/assets/search-ip-geolocation.png
  extensions/ip-geolocation/assets/search-ip-geolocation@dark.png
  extensions/ip-geolocation/metadata/Metadata-1.png
  extensions/ip-geolocation/metadata/Metadata-2.png
  extensions/ip-geolocation/metadata/Metadata-3.png
  extensions/ip-geolocation/package-lock.json
  extensions/ip-geolocation/package.json
  extensions/ip-geolocation/src/components/ip-empty-view.tsx
  extensions/ip-geolocation/src/hooks/hooks.ts
  extensions/ip-geolocation/src/my-ip-geolocation.tsx
  extensions/ip-geolocation/src/search-ip-geolocation.tsx
  extensions/ip-geolocation/src/types/ip-geolocation.ts
  extensions/ip-geolocation/src/utils/common-utils.ts
  extensions/ip-geolocation/src/utils/constants.ts
  extensions/ip-geolocation/tsconfig.json
Labels: new extension

#1635 Add Placeholder extension
  extensions/placeholder/.eslintrc.json
  extensions/placeholder/.gitignore
  extensions/placeholder/.prettierrc
  extensions/placeholder/CHANGELOG.md
  extensions/placeholder/README.md
  extensions/placeholder/assets/placeholder-icon.png
  extensions/placeholder/assets/placeholder-icon@dark.png
  extensions/placeholder/metadata/Metadata-1.png
  extensions/placeholder/metadata/Metadata-2.png
  extensions/placeholder/metadata/Metadata-3.png
  extensions/placeholder/package-lock.json
  extensions/placeholder/package.json
  extensions/placeholder/src/components/image-action.tsx
  extensions/placeholder/src/components/image-detail.tsx
  extensions/placeholder/src/random-placeholder-image.tsx
  extensions/placeholder/src/types/types.ts
  extensions/placeholder/src/utils/applescript-utils.ts
  extensions/placeholder/src/utils/common-utils.ts
  extensions/placeholder/tsconfig.json
Labels: new extension

#1524 coinpaprika extension
  extensions/coinpaprika/.eslintrc.json
  extensions/coinpaprika/.gitignore
  extensions/coinpaprika/.prettierrc
  extensions/coinpaprika/CHANGELOG.md
  extensions/coinpaprika/README.md
  extensions/coinpaprika/assets/cp_logo.png
  extensions/coinpaprika/media/showcase.png
  extensions/coinpaprika/metadata/screenshot01.png
  extensions/coinpaprika/package-lock.json
  extensions/coinpaprika/package.json
  extensions/coinpaprika/src/api/index.ts
  extensions/coinpaprika/src/coinpaprika.tsx
  extensions/coinpaprika/src/enum/index.ts
  extensions/coinpaprika/src/types/coin.ts
  extensions/coinpaprika/src/utils/coinDetails.tsx
  extensions/coinpaprika/src/utils/index.ts
  extensions/coinpaprika/tsconfig.json
Labels: new extension

#1665 [Toggl] Filter Projects by Client name
  extensions/toggl-track/src/components/ProjectListItem.tsx
Labels: extension fix / improvement

#1671 Bugfix/vs code recent projects
  extensions/visual-studio-code-recent-projects/CHANGELOG.md
  extensions/visual-studio-code-recent-projects/package.json
  extensions/visual-studio-code-recent-projects/src/db.ts
  extensions/visual-studio-code-recent-projects/src/index.tsx
  extensions/visual-studio-code-recent-projects/src/types.ts
Labels: extension fix / improvement

#1631 Added initial version of extension "flypy-code-query"
  extensions/flypy-code-query/.eslintignore
  extensions/flypy-code-query/.eslintrc.json
  extensions/flypy-code-query/.gitignore
  extensions/flypy-code-query/.prettierrc
  extensions/flypy-code-query/CHANGELOG.md
  extensions/flypy-code-query/README.md
  extensions/flypy-code-query/assets/flypy.png
  extensions/flypy-code-query/metadata/screenshot-01.png
  extensions/flypy-code-query/metadata/screenshot-02.png
  extensions/flypy-code-query/package-lock.json
  extensions/flypy-code-query/package.json
  extensions/flypy-code-query/src/coding.ts
  extensions/flypy-code-query/src/flypy.tsx
  extensions/flypy-code-query/src/index.tsx
  extensions/flypy-code-query/src/utils.ts
  extensions/flypy-code-query/tsconfig.json
Labels: new extension

#1678 Fix Parrot Translate Extension Bugs
  extensions/parrot-translate/CHANGELOG.md
  extensions/parrot-translate/package.json
  extensions/parrot-translate/src/components.tsx
  extensions/parrot-translate/src/parrot.tsx
  extensions/parrot-translate/src/shared.func.tsx
  extensions/parrot-translate/src/types.ts
Labels: extension fix / improvement, OP is author

#1698 [Google Drive] Configurable re-indexing interval
  extensions/google-drive/CHANGELOG.md
  extensions/google-drive/package.json
  extensions/google-drive/src/db.ts
  extensions/google-drive/src/types.ts
Labels: extension fix / improvement, OP is author

#1697 Add description to the detail view
  extensions/masscode-assistant/CHANGELOG.md
  extensions/masscode-assistant/src/components/snippet-content.tsx
  extensions/masscode-assistant/src/types/index.d.ts
Labels: extension fix / improvement

#1694 [Music] - Fixes #1692
  extensions/music/CHANGELOG.md
  extensions/music/src/util/scripts/current-track.ts
Labels: extension fix / improvement, OP is author

#1693 add dribbble extension screenshot
  extensions/dribbble/metadata/screenshot-1.png
  extensions/dribbble/metadata/screenshot-2.png
Labels: extension fix / improvement, OP is author

#1696 Sourcegraph: Fix search suggestions
  extensions/sourcegraph/CHANGELOG.md
  extensions/sourcegraph/src/components/SearchCommand.tsx
  extensions/sourcegraph/src/sourcegraph/gql/schema.ts
  extensions/sourcegraph/src/sourcegraph/stream-search/index.ts
Labels: extension fix / improvement, OP is author

#1655 Update iata-code-decoder to v1.0.1
  extensions/iata-code-decoder/CHANGELOG.md
  extensions/iata-code-decoder/package-lock.json
Labels: extension fix / improvement, OP is author

#1681 fix case when the file is missing the history array
  extensions/jetbrains/package.json
  extensions/jetbrains/src/recent.tsx
Labels: extension fix / improvement

#1700 fix: unable to clone repository to vscode
  extensions/github-repository-search/package.json
  extensions/github-repository-search/src/index.tsx
Labels: extension fix / improvement

#1703 Fix/manage docker images 583
  extensions/docker/CHANGELOG.md
  extensions/docker/package.json
  extensions/docker/src/docker/image.ts
Labels: extension fix / improvement, OP is author

#1628 Add Unogs extension
  extensions/unogs/.eslintrc.json
  extensions/unogs/.prettierrc
  extensions/unogs/CHANGELOG.md
  extensions/unogs/LICENSE
  extensions/unogs/README.md
  extensions/unogs/assets/command-icon.png
  extensions/unogs/assets/demo/1.png
  extensions/unogs/assets/demo/2.png
  extensions/unogs/assets/demo/3.png
  extensions/unogs/assets/list-icon.png
  extensions/unogs/metadata/1.png
  extensions/unogs/metadata/2.png
  extensions/unogs/metadata/3.png
  extensions/unogs/package-lock.json
  extensions/unogs/package.json
  extensions/unogs/src/api/index.ts
  extensions/unogs/src/index.tsx
  extensions/unogs/src/models/SearchResults.ts
  extensions/unogs/src/models/TitleCountries.ts
  extensions/unogs/src/models/index.ts
  extensions/unogs/src/pages/SearchPage/SearchPage.tsx
  extensions/unogs/src/pages/SearchResultsPage/SearchResultsPage.tsx
  extensions/unogs/src/pages/index.tsx
  extensions/unogs/src/utils/index.ts
  extensions/unogs/tsconfig.json
Labels: new extension

#1656 Order snippets by last copied
  extensions/masscode-assistant/CHANGELOG.md
  extensions/masscode-assistant/package.json
  extensions/masscode-assistant/src/index.tsx
  extensions/masscode-assistant/src/utils/localStorageHelper.tsx
Labels: extension fix / improvement, status: awaiting response from dev

#1632 Add Open Path extension
  extensions/open-path/.eslintrc.json
  extensions/open-path/.gitignore
  extensions/open-path/.prettierrc
  extensions/open-path/CHANGELOG.md
  extensions/open-path/README.md
  extensions/open-path/assets/open-path.png
  extensions/open-path/assets/open-path@dark.png
  extensions/open-path/metadata/Metadata-1.png
  extensions/open-path/package-lock.json
  extensions/open-path/package.json
  extensions/open-path/src/open-path.tsx
  extensions/open-path/src/utils/common-utils.ts
  extensions/open-path/src/utils/input-item.ts
  extensions/open-path/tsconfig.json
Labels: new extension

#1706 [Google Drive] Add a unique index on displayPath column since that's what we use for the lookup
  extensions/google-drive/CHANGELOG.md
  extensions/google-drive/src/db.ts
Labels: extension fix / improvement, OP is author

#1653 [Zotero] Update Zotero extension to use local sqlite database
  extensions/zotero/CHANGELOG.md
  extensions/zotero/README.md
  extensions/zotero/assets/sql-wasm.wasm
  extensions/zotero/images/menu.png
  extensions/zotero/images/search.png
  extensions/zotero/media/menu.png
  extensions/zotero/media/preferences.png
  extensions/zotero/package-lock.json
  extensions/zotero/package.json
  extensions/zotero/src/common/View.tsx
  extensions/zotero/src/common/store.ts
  extensions/zotero/src/common/utils.ts
  extensions/zotero/src/common/zoteroApi.ts
Labels: extension fix / improvement, OP is author

#1680 [Projects] Faster search + support for Xcode projects + minor bug fixes
  extensions/projects/CHANGELOG.md
  extensions/projects/README.md
  extensions/projects/assets/xcode.png
  extensions/projects/metadata/screenshot-01.png
  extensions/projects/metadata/screenshot-02.png
  extensions/projects/metadata/screenshot-03.png
  extensions/projects/package-lock.json
  extensions/projects/package.json
  extensions/projects/src/action-panel.tsx
  extensions/projects/src/cache/all-projects-cache-builder.ts
  extensions/projects/src/common-utils.ts
  extensions/projects/src/projects-service.tsx
  extensions/projects/src/projects.tsx
  extensions/projects/src/types.ts
Labels: extension fix / improvement, OP is author

#1608 Update Toothpick extension
  extensions/toothpick/CHANGELOG.md
  extensions/toothpick/assets/off.png
  extensions/toothpick/assets/on.png
  extensions/toothpick/src/index.tsx
  extensions/toothpick/src/utils.tsx
Labels: extension fix / improvement, OP is author

#1641 Update Text Shortcuts extension
  extensions/text-shortcuts/CHANGELOG.md
  extensions/text-shortcuts/metadata/Metadata-1.png
  extensions/text-shortcuts/metadata/Metadata-2.png
  extensions/text-shortcuts/metadata/Metadata-3.png
  extensions/text-shortcuts/metadata/Metadata-4.png
  extensions/text-shortcuts/metadata/Metadata-5.png
  extensions/text-shortcuts/metadata/Metadata-6.png
  extensions/text-shortcuts/metadata/Screenshot3.png
  extensions/text-shortcuts/metadata/Screenshot4.png
  extensions/text-shortcuts/metadata/Screenshot5.png
  extensions/text-shortcuts/metadata/Screenshot6.png
  extensions/text-shortcuts/package-lock.json
  extensions/text-shortcuts/package.json
  extensions/text-shortcuts/src/build-in/case.ts
  extensions/text-shortcuts/src/build-in/markdown.ts
  extensions/text-shortcuts/src/create-shortcut.tsx
  extensions/text-shortcuts/src/run-shortcut-now.tsx
  extensions/text-shortcuts/src/shortcut-library.tsx
  extensions/text-shortcuts/src/util/shortcut.ts
  extensions/text-shortcuts/src/util/utils.ts
Labels: extension fix / improvement, OP is author

#1657 Adding an extension for Panic’s app Transmit
  extensions/transmit/.eslintrc.json
  extensions/transmit/.gitignore
  extensions/transmit/.prettierrc
  extensions/transmit/.vscode/settings.json
  extensions/transmit/CHANGELOG.md
  extensions/transmit/README.md
  extensions/transmit/assets/command-icon.png
  extensions/transmit/metadata/Metadata-1.png
  extensions/transmit/metadata/Metadata-2.png
  extensions/transmit/metadata/Metadata-3.png
  extensions/transmit/package-lock.json
  extensions/transmit/package.json
  extensions/transmit/src/index.tsx
  extensions/transmit/tsconfig.json
Labels: new extension

#1722 New Extension: Citation Generator
  extensions/citation-generator/.eslintrc.json
  extensions/citation-generator/.gitignore
  extensions/citation-generator/.prettierrc
  extensions/citation-generator/CHANGELOG.md
  extensions/citation-generator/README.md
  extensions/citation-generator/assets/command-icon.png
  extensions/citation-generator/metadata/Screenshot.png
  extensions/citation-generator/package-lock.json
  extensions/citation-generator/package.json
  extensions/citation-generator/src/generate-citation.tsx
  extensions/citation-generator/tsconfig.json
Labels: new extension

#1724 Update Text Shortcuts extension
  extensions/text-shortcuts/CHANGELOG.md
  extensions/text-shortcuts/package.json
  extensions/text-shortcuts/src/create-shortcut.tsx
  extensions/text-shortcuts/src/run-shortcut-now.tsx
  extensions/text-shortcuts/src/shortcut-library.tsx
Labels: extension fix / improvement, OP is author

#1727 [gif-search] Add List.Item.Detail metadata
  extensions/gif-search/CHANGELOG.md
  extensions/gif-search/assets/command-icon.png
  extensions/gif-search/package-lock.json
  extensions/gif-search/package.json
  extensions/gif-search/src/components/GifDetails.tsx
  extensions/gif-search/src/components/GifDetailsActions.tsx
  extensions/gif-search/src/components/GifResult.tsx
  extensions/gif-search/src/components/GifSearchList.tsx
  extensions/gif-search/src/models/gif.ts
  extensions/gif-search/src/models/giphy.ts
  extensions/gif-search/src/models/tenor.ts
  extensions/gif-search/src/preferences.ts
Labels: extension fix / improvement, OP is author

#1731 Update Common Directory extension
  extensions/common-directory/CHANGELOG.md
  extensions/common-directory/assets/folder-icon.png
  extensions/common-directory/assets/folder-icon@dark.png
  extensions/common-directory/metadata/Metadata-1.png
  extensions/common-directory/package-lock.json
  extensions/common-directory/package.json
  extensions/common-directory/src/add-common-directory.tsx
  extensions/common-directory/src/components/action-copy-file.tsx
  extensions/common-directory/src/components/action-open-command-preferences.tsx
  extensions/common-directory/src/components/directory-detail-metadata.tsx
  extensions/common-directory/src/hooks/hooks.ts
  extensions/common-directory/src/open-common-directory.tsx
  extensions/common-directory/src/send-file-to-directory.tsx
  extensions/common-directory/src/types/directory-info.ts
  extensions/common-directory/src/types/file-content-info.ts
  extensions/common-directory/src/types/preferences.ts
  extensions/common-directory/src/utils/applescript-utils.ts
  extensions/common-directory/src/utils/common-utils.ts
  extensions/common-directory/src/utils/send-file-utils.ts
  extensions/common-directory/src/utils/ui-utils.ts
Labels: extension fix / improvement, OP is author

#1723 Update Quick Access extension
  extensions/quick-access/CHANGELOG.md
  extensions/quick-access/README.md
  extensions/quick-access/metadata/Metadata-3.png
  extensions/quick-access/package-lock.json
  extensions/quick-access/package.json
  extensions/quick-access/src/components/action-open-command-preferences.tsx
  extensions/quick-access/src/components/ui-components.tsx
  extensions/quick-access/src/hooks/hooks.ts
  extensions/quick-access/src/pin-directory.tsx
  extensions/quick-access/src/search-pinned-directories.tsx
  extensions/quick-access/src/types/file-content-info.ts
  extensions/quick-access/src/types/preferences.ts
  extensions/quick-access/src/types/types.ts
  extensions/quick-access/src/utils/common-utils.ts
  extensions/quick-access/src/utils/get-file-preview.ts
Labels: extension fix / improvement, OP is author

#1733 Update Copy Path extension
  extensions/copy-path/CHANGELOG.md
  extensions/copy-path/assets/copy-path@dark.png
  extensions/copy-path/package-lock.json
  extensions/copy-path/package.json
  extensions/copy-path/src/copy-path.tsx
  extensions/copy-path/src/types/preferences.ts
  extensions/copy-path/src/utils/applescript-utils.ts
Labels: extension fix / improvement, OP is author

#1728 feat(gitlab): display project stars only if there are
  extensions/gitlab/CHANGELOG.md
  extensions/gitlab/package-lock.json
  extensions/gitlab/package.json
  extensions/gitlab/src/components/project.tsx
Labels: extension fix / improvement

#1664 [Toothpick] add address and battery information
  extensions/toothpick/CHANGELOG.md
  extensions/toothpick/assets/battery.png
  extensions/toothpick/src/index.tsx
  extensions/toothpick/src/utils.tsx
Labels: extension fix / improvement

#1725 [Google Drive] Rebrand the details sidebar by making use of the `List.Item.Detail`'s new `metadata` prop
  extensions/google-drive/CHANGELOG.md
  extensions/google-drive/assets/file.png
  extensions/google-drive/assets/loading-spinner.gif
  extensions/google-drive/package-lock.json
  extensions/google-drive/package.json
  extensions/google-drive/src/constants.ts
  extensions/google-drive/src/db.ts
  extensions/google-drive/src/index.tsx
  extensions/google-drive/src/utils.ts
Labels: extension fix / improvement, OP is author

#1689 Add compatibility notice for speedtest
  extensions/speedtest/README.md
Labels: extension fix / improvement

#1736 Update Copy Path extension
  extensions/copy-path/src/copy-path.tsx
  extensions/copy-path/src/utils/common-utils.ts
  extensions/copy-path/src/utils/constants.ts
Labels: extension fix / improvement, OP is author

#1738 F1: Update race detail to use metadata
  extensions/f1-standings/CHANGELOG.md
  extensions/f1-standings/metadata/f1-race-schedule-detail.png
  extensions/f1-standings/package-lock.json
  extensions/f1-standings/package.json
  extensions/f1-standings/src/components/RaceSessionDetails.tsx
  extensions/f1-standings/src/views/AddToCalendar.tsx
  extensions/f1-standings/src/views/RaceList.tsx
Labels: extension fix / improvement, OP is contributor

#1690 Stock Lookup
  extensions/stock-lookup/.eslintrc.json
  extensions/stock-lookup/.gitignore
  extensions/stock-lookup/.prettierrc
  extensions/stock-lookup/CHANGELOG.md
  extensions/stock-lookup/README.md
  extensions/stock-lookup/assets/stock-emoji.png
  extensions/stock-lookup/media/perferences.png
  extensions/stock-lookup/metadata/screenshot1.png
  extensions/stock-lookup/metadata/screenshot2.png
  extensions/stock-lookup/metadata/screenshot3.png
  extensions/stock-lookup/metadata/screenshot4.png
  extensions/stock-lookup/package-lock.json
  extensions/stock-lookup/package.json
  extensions/stock-lookup/src/StockInfo.tsx
  extensions/stock-lookup/src/StockResultListItem.tsx
  extensions/stock-lookup/src/alphavantageApi.ts
  extensions/stock-lookup/src/stock-lookup.tsx
  extensions/stock-lookup/tsconfig.json
Labels: new extension

#1607 Added initial version of extension "rsync-commands".
  extensions/rsync-commands/.eslintrc.json
  extensions/rsync-commands/.gitignore
  extensions/rsync-commands/.prettierrc
  extensions/rsync-commands/CHANGELOG.md
  extensions/rsync-commands/README.md
  extensions/rsync-commands/assets/command-icon.png
  extensions/rsync-commands/metadata/rsync-commands-01.png
  extensions/rsync-commands/metadata/rsync-commands-02.png
  extensions/rsync-commands/metadata/rsync-commands-03.png
  extensions/rsync-commands/metadata/rsync-commands-04.png
  extensions/rsync-commands/package-lock.json
  extensions/rsync-commands/package.json
  extensions/rsync-commands/src/components/entry-list-item.tsx
  extensions/rsync-commands/src/components/entry-location-form-fields.tsx
  extensions/rsync-commands/src/components/entry-option-form-fields.tsx
  extensions/rsync-commands/src/data/rsync-options.ts
  extensions/rsync-commands/src/hooks/use-entries.tsx
  extensions/rsync-commands/src/hooks/use-system.ts
  extensions/rsync-commands/src/models/entry-location.ts
  extensions/rsync-commands/src/models/entry.ts
  extensions/rsync-commands/src/rsync-commands.tsx
  extensions/rsync-commands/src/store.ts
  extensions/rsync-commands/src/views/command-runner.tsx
  extensions/rsync-commands/src/views/entry-form.tsx
  extensions/rsync-commands/tsconfig.json
Labels: new extension, status: awaiting response from dev

#1754 fix: apple notes - cache issue not handled
  extensions/apple-notes/CHANGELOG.md
  extensions/apple-notes/package-lock.json
  extensions/apple-notes/package.json
  extensions/apple-notes/src/index.tsx
Labels: extension fix / improvement, OP is contributor

#1743 rsync commands - 1.1.0
  extensions/rsync-commands/CHANGELOG.md
  extensions/rsync-commands/README.md
  extensions/rsync-commands/package-lock.json
  extensions/rsync-commands/package.json
  extensions/rsync-commands/src/components/entry-location-form-fields.tsx
  extensions/rsync-commands/src/components/entry-option-form-fields.tsx
  extensions/rsync-commands/src/models/entry-location.ts
  extensions/rsync-commands/src/models/entry.ts
  extensions/rsync-commands/src/rsync-commands.tsx
  extensions/rsync-commands/src/views/entry-form.tsx
Labels: extension fix / improvement, OP is author

#1659 feat(Timers): add Timers extension
  extensions/timers/.eslintrc.json
  extensions/timers/.prettierrc
  extensions/timers/CHANGELOG.md
  extensions/timers/README.md
  extensions/timers/assets/alarmClock.wav
  extensions/timers/assets/command-icon.png
  extensions/timers/assets/dismemberedWoodpecker.wav
  extensions/timers/assets/fluteRiff.wav
  extensions/timers/assets/levelUp.wav
  extensions/timers/assets/pianoChime.wav
  extensions/timers/assets/terminator.wav
  extensions/timers/metadata/timers-01.png
  extensions/timers/metadata/timers-02.png
  extensions/timers/metadata/timers-03.png
  extensions/timers/package-lock.json
  extensions/timers/package.json
  extensions/timers/src/RenameView.tsx
  extensions/timers/src/manageTimers.tsx
  extensions/timers/src/start10MinuteTimer.ts
  extensions/timers/src/start15MinuteTimer.ts
  extensions/timers/src/start25MinuteTimer.ts
  extensions/timers/src/start30MinuteTimer.ts
  extensions/timers/src/start45MinuteTimer.ts
  extensions/timers/src/start5MinuteTimer.ts
  extensions/timers/src/start60MinuteTimer.ts
  extensions/timers/src/start90MinuteTimer.ts
  extensions/timers/src/startCustomTimer.tsx
  extensions/timers/src/timerUtils.ts
  extensions/timers/src/types.ts
  extensions/timers/tsconfig.json
Labels: new extension

#1742 Added formula1.com links to race results action panel
  extensions/f1-standings/CHANGELOG.md
  extensions/f1-standings/src/types.ts
  extensions/f1-standings/src/views/RaceList.tsx
  extensions/f1-standings/src/views/RaceResultList.tsx
Labels: extension fix / improvement, OP is author

#1730 New extension: SVGR
  extensions/svgr/.eslintrc.json
  extensions/svgr/.gitignore
  extensions/svgr/.prettierrc
  extensions/svgr/CHANGELOG.md
  extensions/svgr/README.md
  extensions/svgr/assets/command-icon.png
  extensions/svgr/metadata/svgr-01.png
  extensions/svgr/metadata/svgr-02.png
  extensions/svgr/metadata/svgr-03.png
  extensions/svgr/package-lock.json
  extensions/svgr/package.json
  extensions/svgr/src/components/Settings/Settings.tsx
  extensions/svgr/src/components/Settings/index.ts
  extensions/svgr/src/constants.ts
  extensions/svgr/src/functions/getReactSvg.ts
  extensions/svgr/src/hooks/useInitSettings.ts
  extensions/svgr/src/index.tsx
  extensions/svgr/tsconfig.json
Labels: new extension

#1595 Add new extension: Craftdocs
  extensions/craftdocs/.eslintrc.json
  extensions/craftdocs/.gitignore
  extensions/craftdocs/.prettierrc
  extensions/craftdocs/CHANGELOG.md
  extensions/craftdocs/README.md
  extensions/craftdocs/assets/command-icon-small.png
  extensions/craftdocs/assets/command-icon.png
  extensions/craftdocs/assets/sql-wasm-fts5.d.ts
  extensions/craftdocs/assets/sql-wasm-fts5.js
  extensions/craftdocs/assets/sql-wasm-fts5.wasm
  extensions/craftdocs/metadata/craft-01.png
  extensions/craftdocs/metadata/craft-02.png
  extensions/craftdocs/metadata/craft-03.png
  extensions/craftdocs/package-lock.json
  extensions/craftdocs/package.json
  extensions/craftdocs/src/Config.ts
  extensions/craftdocs/src/components/CreateDocumentItem.tsx
  extensions/craftdocs/src/components/ListBlocks.tsx
  extensions/craftdocs/src/components/ListDocBlocks.tsx
  extensions/craftdocs/src/hooks/common.ts
  extensions/craftdocs/src/hooks/useAppExists.ts
  extensions/craftdocs/src/hooks/useConfig.ts
  extensions/craftdocs/src/hooks/useDB.ts
  extensions/craftdocs/src/hooks/useDocumentSearch.ts
  extensions/craftdocs/src/hooks/useSearch.ts
  extensions/craftdocs/src/search.tsx
  extensions/craftdocs/tsconfig.json
Labels: new extension

#1758 Oriba/add item command
  extensions/monday/package-lock.json
  extensions/monday/package.json
  extensions/monday/src/lib/api.tsx
  extensions/monday/src/lib/persistence.tsx
  extensions/monday/src/quickAddItem.tsx
Labels: extension fix / improvement

#1741 Todoist improvements
  extensions/todoist/assets/priority-outlined.svg
  extensions/todoist/assets/priority.svg
  extensions/todoist/package-lock.json
  extensions/todoist/src/components/ProjectForm.tsx
  extensions/todoist/src/constants.ts
  extensions/todoist/src/create-task.tsx
Labels: extension fix / improvement

#1711 Add Toggle Track Billing
  extensions/toggl-track/CHANGELOG.md
  extensions/toggl-track/package-lock.json
  extensions/toggl-track/src/components/CreateTimeEntryForm.tsx
  extensions/toggl-track/src/components/RunningTimeEntry.tsx
  extensions/toggl-track/src/index.tsx
  extensions/toggl-track/src/toggl/index.ts
Labels: extension fix / improvement

#1715 fix(amazon-aws): manage the case where there is no public ip in EC2
  extensions/amazon-aws/CHANGELOG.md
  extensions/amazon-aws/README.md
  extensions/amazon-aws/package.json
  extensions/amazon-aws/src/ec2.tsx
Labels: extension fix / improvement

#1484 Update to logseq extension
  extensions/logseq/package-lock.json
  extensions/logseq/package.json
  extensions/logseq/src/index.tsx
  extensions/logseq/src/logsearch.tsx
  extensions/logseq/src/utils.ts
Labels: extension fix / improvement

#1716 feature(amazon-aws): loading indicators for queues attributes
  extensions/amazon-aws/CHANGELOG.md
  extensions/amazon-aws/src/queues.tsx
Labels: extension fix / improvement

#1747 Update Raycast Wallpaper
  extensions/raycast-wallpaper/CHANGELOG.md
  extensions/raycast-wallpaper/README.md
  extensions/raycast-wallpaper/assets/raycast-empty-view-icon.svg
  extensions/raycast-wallpaper/package-lock.json
  extensions/raycast-wallpaper/package.json
  extensions/raycast-wallpaper/src/components/action-open-preferences.tsx
  extensions/raycast-wallpaper/src/components/raycast-wallpaper-empty-view.tsx
  extensions/raycast-wallpaper/src/components/raycast-wallpaper-list.tsx
  extensions/raycast-wallpaper/src/hooks/hooks.ts
  extensions/raycast-wallpaper/src/random-raycast-wallpaper.ts
  extensions/raycast-wallpaper/src/set-raycast-wallpaper.tsx
  extensions/raycast-wallpaper/src/types/preferences.ts
  extensions/raycast-wallpaper/src/types/types.ts
  extensions/raycast-wallpaper/src/utils/common-utils.ts
  extensions/raycast-wallpaper/src/utils/constants.ts
  extensions/raycast-wallpaper/src/utils/raycast-wallpaper-utils.ts
Labels: extension fix / improvement, OP is author

#1748 Update Quick Access extension
  extensions/quick-access/CHANGELOG.md
  extensions/quick-access/README.md
  extensions/quick-access/assets/access-directory.png
  extensions/quick-access/assets/access-directory@dark.png
  extensions/quick-access/assets/empty-view-icon.svg
  extensions/quick-access/assets/empty-view-icon@dark.svg
  extensions/quick-access/assets/extension-icon.png
  extensions/quick-access/assets/extension-icon@dark.png
  extensions/quick-access/assets/pin-directory.png
  extensions/quick-access/assets/pin-directory@dark.png
  extensions/quick-access/metadata/Metadata-1.png
  extensions/quick-access/metadata/Metadata-2.png
  extensions/quick-access/metadata/Metadata-3.png
  extensions/quick-access/package-lock.json
  extensions/quick-access/package.json
  extensions/quick-access/src/components/quick-access-empty-view.tsx
  extensions/quick-access/src/search-pinned-directories.tsx
  extensions/quick-access/src/utils/constants.ts
  extensions/quick-access/src/utils/get-file-preview.ts
Labels: extension fix / improvement, OP is author

#1749 Update Copy Path extension icons
  extensions/copy-path/CHANGELOG.md
  extensions/copy-path/assets/copy-path.png
  extensions/copy-path/assets/copy-path@dark.png
  extensions/copy-path/package-lock.json
  extensions/copy-path/package.json
Labels: extension fix / improvement, OP is author

#1750 Update Open Path extension
  extensions/open-path/CHANGELOG.md
  extensions/open-path/README.md
  extensions/open-path/assets/open-path.png
  extensions/open-path/assets/open-path@dark.png
  extensions/open-path/metadata/Metadata-1.png
  extensions/open-path/package-lock.json
  extensions/open-path/package.json
  extensions/open-path/src/open-path.tsx
  extensions/open-path/src/utils/common-utils.ts
Labels: extension fix / improvement, OP is author

#1752 [Projects] Added support for tauri & wails projects
  extensions/projects/CHANGELOG.md
  extensions/projects/README.md
  extensions/projects/assets/tauri-app.png
  extensions/projects/assets/wails-app.png
  extensions/projects/metadata/metadata-01.png
  extensions/projects/metadata/metadata-02.png
  extensions/projects/metadata/metadata-03.png
  extensions/projects/metadata/screenshot-01.png
  extensions/projects/metadata/screenshot-02.png
  extensions/projects/package.json
  extensions/projects/screenshots/screenshot-1.png
  extensions/projects/screenshots/screenshot-2.png
  extensions/projects/src/action-panel.tsx
  extensions/projects/src/application-config.json
  extensions/projects/src/cache/all-projects-cache-builder-v2.ts
  extensions/projects/src/cache/all-projects-cache-builder.ts
  extensions/projects/src/common-utils.ts
  extensions/projects/src/projects-service.tsx
  extensions/projects/src/projects.tsx
  extensions/projects/src/types.ts
  extensions/projects/tsconfig.json
Labels: extension fix / improvement, OP is author

#1782 add back support for remote workspaces
  extensions/visual-studio-code-recent-projects/.prettierrc
  extensions/visual-studio-code-recent-projects/CHANGELOG.md
  extensions/visual-studio-code-recent-projects/package-lock.json
  extensions/visual-studio-code-recent-projects/package.json
  extensions/visual-studio-code-recent-projects/src/db.ts
  extensions/visual-studio-code-recent-projects/src/index.tsx
  extensions/visual-studio-code-recent-projects/src/types.ts
Labels: extension fix / improvement, OP is contributor

#1770 Add command to skip backward and forward x seconds (preferences)
  extensions/spotify-controls/package.json
  extensions/spotify-controls/src/backwardXseconds.ts
  extensions/spotify-controls/src/forwardXseconds.ts
  extensions/spotify-controls/src/types.ts
Labels: extension fix / improvement

#1709 [Spotify Player] Add the ability to open actions in the Spotify app
  extensions/spotify-player/CHANGELOG.md
  extensions/spotify-player/package-lock.json
  extensions/spotify-player/package.json
  extensions/spotify-player/src/client/utils.ts
  extensions/spotify-player/src/searchAlbums.tsx
  extensions/spotify-player/src/searchPlaylists.tsx
  extensions/spotify-player/src/searchTracks.tsx
Labels: extension fix / improvement

#1760 Update Easy New File extension
  extensions/easy-new-file/CHANGELOG.md
  extensions/easy-new-file/assets/add-file-template-icon.png
  extensions/easy-new-file/assets/add-file-template-icon@dark.png
  extensions/easy-new-file/assets/easy-new-file-icon.png
  extensions/easy-new-file/assets/easy-new-file-icon@dark.png
  extensions/easy-new-file/assets/empty-view-icon.svg
  extensions/easy-new-file/assets/empty-view-icon@dark.svg
  extensions/easy-new-file/assets/new-file-here-icon.png
  extensions/easy-new-file/assets/new-file-here-icon@dark.png
  extensions/easy-new-file/package-lock.json
  extensions/easy-new-file/package.json
  extensions/easy-new-file/src/add-file-template.tsx
  extensions/easy-new-file/src/components/action-open-command-preferences.tsx
  extensions/easy-new-file/src/components/list-empty-view.tsx
  extensions/easy-new-file/src/hooks/hooks.ts
  extensions/easy-new-file/src/new-file-here.tsx
  extensions/easy-new-file/src/new-file-with-name.tsx
  extensions/easy-new-file/src/types/file-type.ts
  extensions/easy-new-file/src/types/preferences.ts
  extensions/easy-new-file/src/utils/common-utils.ts
Labels: extension fix / improvement, OP is author

#1761 Update Common Directory extension
  extensions/common-directory/CHANGELOG.md
  extensions/common-directory/README.md
  extensions/common-directory/assets/add-common-directory.png
  extensions/common-directory/assets/empty-view-icon.svg
  extensions/common-directory/assets/empty-view-icon@dark.svg
  extensions/common-directory/assets/extension-icon.png
  extensions/common-directory/assets/open-common-directory.png
  extensions/common-directory/assets/send-file-to.png
  extensions/common-directory/metadata/Metadata-1.png
  extensions/common-directory/metadata/Metadata-2.png
  extensions/common-directory/metadata/Metadata-3.png
  extensions/common-directory/package-lock.json
  extensions/common-directory/package.json
  extensions/common-directory/src/add-common-directory.tsx
  extensions/common-directory/src/components/list-empty-view.tsx
  extensions/common-directory/src/open-common-directory.tsx
  extensions/common-directory/src/send-file-to-directory.tsx
  extensions/common-directory/src/utils/applescript-utils.ts
  extensions/common-directory/src/utils/send-file-utils.ts
  extensions/common-directory/src/utils/ui-utils.ts
Labels: extension fix / improvement, OP is author

#1771 Rsync Commands - 1.1.1
  extensions/rsync-commands/CHANGELOG.md
  extensions/rsync-commands/README.md
  extensions/rsync-commands/src/components/entry-list-item.tsx
  extensions/rsync-commands/src/hooks/use-entries.tsx
  extensions/rsync-commands/src/models/entry-location.ts
  extensions/rsync-commands/src/models/entry.ts
  extensions/rsync-commands/src/views/entry-form.tsx
  extensions/rsync-commands/src/views/entry-preview.tsx
Labels: extension fix / improvement, OP is author

#1004 Simple youdao translate v1
  extensions/simple-youdao/.eslintrc.json
  extensions/simple-youdao/.prettierrc
  extensions/simple-youdao/CHANGELOG.md
  extensions/simple-youdao/README.md
  extensions/simple-youdao/assets/command-icon.png
  extensions/simple-youdao/media/1046589d11ea90eb22322910418db5616a7a4ea7.png
  extensions/simple-youdao/media/dea3f1e2f3444d664b668a910b37503bb59458bc.png
  extensions/simple-youdao/metadata/metadata01.png
  extensions/simple-youdao/metadata/metadata02.png
  extensions/simple-youdao/package-lock.json
  extensions/simple-youdao/package.json
  extensions/simple-youdao/src/index.tsx
  extensions/simple-youdao/tsconfig.json
Labels: new extension, status: awaiting response from dev

#1778 Update Open Path extension
  extensions/open-path/CHANGELOG.md
  extensions/open-path/README.md
  extensions/open-path/package.json
  extensions/open-path/src/open-path.tsx
  extensions/open-path/src/utils/common-utils.ts
Labels: extension fix / improvement, OP is author

#1780 Add Dock Tinker extension
  extensions/dock-tinker/.eslintrc.json
  extensions/dock-tinker/.gitignore
  extensions/dock-tinker/.prettierrc
  extensions/dock-tinker/CHANGELOG.md
  extensions/dock-tinker/README.md
  extensions/dock-tinker/assets/dock-tinker.png
  extensions/dock-tinker/metadata/Metadata-1.png
  extensions/dock-tinker/package-lock.json
  extensions/dock-tinker/package.json
  extensions/dock-tinker/src/add-spacer-to-dock.tsx
  extensions/dock-tinker/src/backup-dock-state.tsx
  extensions/dock-tinker/src/reset-dock-state.tsx
  extensions/dock-tinker/src/restore-dock-state.tsx
  extensions/dock-tinker/src/toggle-auto-hide-delay.tsx
  extensions/dock-tinker/src/toggle-auto-hide.tsx
  extensions/dock-tinker/src/toggle-dock-orientation.tsx
  extensions/dock-tinker/src/toggle-minimal-effect.tsx
  extensions/dock-tinker/src/toggle-scroll-to-open.tsx
  extensions/dock-tinker/src/toggle-show-hidden.tsx
  extensions/dock-tinker/src/toggle-single-app.tsx
  extensions/dock-tinker/src/toggle-static-only.tsx
  extensions/dock-tinker/src/utils/applescript-utils.ts
  extensions/dock-tinker/tsconfig.json
Labels: new extension

#1805 [UPDATE] vscode deleted files
  extensions/visual-studio-code-recent-projects/CHANGELOG.md
  extensions/visual-studio-code-recent-projects/package.json
  extensions/visual-studio-code-recent-projects/src/db.ts
Labels: extension fix / improvement

#1793 fix: unable to open project has path include space
  extensions/visual-studio-code-recent-projects/CHANGELOG.md
  extensions/visual-studio-code-recent-projects/package.json
  extensions/visual-studio-code-recent-projects/src/db.ts
Labels: extension fix / improvement, OP is contributor

#1783 [Finnish Dictionary] add search history
  extensions/finnish-dictionary/CHANGELOG.md
  extensions/finnish-dictionary/src/word-dictionary.tsx
  extensions/finnish-dictionary/yarn.lock
Labels: extension fix / improvement, OP is author

#1768 [Extension] Add Yandex Music extension
  extensions/yandex-music/.eslintrc.json
  extensions/yandex-music/.gitignore
  extensions/yandex-music/.prettierrc
  extensions/yandex-music/CHANGELOG.md
  extensions/yandex-music/README.md
  extensions/yandex-music/assets/extension-icon.png
  extensions/yandex-music/metadata/yandex-music-01.png
  extensions/yandex-music/package-lock.json
  extensions/yandex-music/package.json
  extensions/yandex-music/src/dislike.tsx
  extensions/yandex-music/src/like.tsx
  extensions/yandex-music/src/next-track.tsx
  extensions/yandex-music/src/pause.tsx
  extensions/yandex-music/src/play.tsx
  extensions/yandex-music/src/previous-track.tsx
  extensions/yandex-music/src/utils.ts
  extensions/yandex-music/tsconfig.json
Labels: new extension

#1811 Fix vscode extension
  extensions/visual-studio-code-recent-projects/CHANGELOG.md
  extensions/visual-studio-code-recent-projects/src/db.ts
  extensions/visual-studio-code-recent-projects/src/index.tsx
  extensions/visual-studio-code-recent-projects/src/types.ts
Labels: extension fix / improvement

#1774 Add Apple Maps Search extension
  extensions/apple-maps-search/.eslintrc.json
  extensions/apple-maps-search/.prettierrc
  extensions/apple-maps-search/CHANGELOG.md
  extensions/apple-maps-search/README.md
  extensions/apple-maps-search/assets/apple-maps-icon.png
  extensions/apple-maps-search/package-lock.json
  extensions/apple-maps-search/package.json
  extensions/apple-maps-search/src/find.tsx
  extensions/apple-maps-search/src/travelHome.ts
  extensions/apple-maps-search/src/travelTo.tsx
  extensions/apple-maps-search/src/utils.ts
  extensions/apple-maps-search/tsconfig.json
Labels: new extension

#1773 Add World Clock extension
  extensions/world-clock/.eslintrc.json
  extensions/world-clock/.gitignore
  extensions/world-clock/.prettierrc
  extensions/world-clock/CHANGELOG.md
  extensions/world-clock/README.md
  extensions/world-clock/assets/query-ip-time.png
  extensions/world-clock/assets/query-ip-time@dark.png
  extensions/world-clock/assets/query-world-time.png
  extensions/world-clock/assets/query-world-time@dark.png
  extensions/world-clock/assets/timezone.png
  extensions/world-clock/assets/timezone@dark.png
  extensions/world-clock/assets/world-clock.png
  extensions/world-clock/assets/world-clock@dark.png
  extensions/world-clock/metadata/Metadata-1.png
  extensions/world-clock/metadata/Metadata-2.png
  extensions/world-clock/metadata/Metadata-3.png
  extensions/world-clock/package-lock.json
  extensions/world-clock/package.json
  extensions/world-clock/src/components/action-open-command-preferences.tsx
  extensions/world-clock/src/components/action-time-info.tsx
  extensions/world-clock/src/components/list-empty-view.tsx
  extensions/world-clock/src/components/time-info-detail.tsx
  extensions/world-clock/src/components/time-zone-list-item.tsx
  extensions/world-clock/src/hooks/hooks.ts
  extensions/world-clock/src/query-ip-time.tsx
  extensions/world-clock/src/query-world-time.tsx
  extensions/world-clock/src/types/preferences.ts
  extensions/world-clock/src/types/types.ts
  extensions/world-clock/src/utils/axios-utils.ts
  extensions/world-clock/src/utils/common-utils.ts
  extensions/world-clock/src/utils/costants.ts
  extensions/world-clock/tsconfig.json
Labels: new extension

#1818 Fix filter tag error
  extensions/world-clock/CHANGELOG.md
  extensions/world-clock/src/query-world-time.tsx
  extensions/world-clock/src/utils/costants.ts
Labels: extension fix / improvement, OP is author

#1712 Add Tapo Smart Devices extension
  extensions/tapo-smart-devices/.eslintrc.json
  extensions/tapo-smart-devices/.gitignore
  extensions/tapo-smart-devices/.prettierrc
  extensions/tapo-smart-devices/.tool-versions
  extensions/tapo-smart-devices/CHANGELOG.md
  extensions/tapo-smart-devices/LICENSE.md
  extensions/tapo-smart-devices/README.md
  extensions/tapo-smart-devices/assets/command-icon.png
  extensions/tapo-smart-devices/metadata/manage-devices.png
  extensions/tapo-smart-devices/package-lock.json
  extensions/tapo-smart-devices/package.json
  extensions/tapo-smart-devices/src/devices.ts
  extensions/tapo-smart-devices/src/index.tsx
  extensions/tapo-smart-devices/src/types.ts
  extensions/tapo-smart-devices/src/utils.ts
  extensions/tapo-smart-devices/tsconfig.json
Labels: new extension

#1766 Spotify Player: Introduce OAuth and several useful commands
  extensions/spotify-player/CHANGELOG.md
  extensions/spotify-player/package-lock.json
  extensions/spotify-player/package.json
  extensions/spotify-player/src/actions.tsx
  extensions/spotify-player/src/artistAlbums.tsx
  extensions/spotify-player/src/client/client.ts
  extensions/spotify-player/src/client/interfaces.ts
  extensions/spotify-player/src/client/oauth.tsx
  extensions/spotify-player/src/like_current_song.ts
  extensions/spotify-player/src/searchAlbums.tsx
  extensions/spotify-player/src/searchArtists.tsx
  extensions/spotify-player/src/searchPlaylists.tsx
  extensions/spotify-player/src/searchTracks.tsx
Labels: extension fix / improvement, OP is author

#1476 GitLab: optimize
  extensions/gitlab/assets/command-icon.png
  extensions/gitlab/src/cache.ts
  extensions/gitlab/src/components/branch.tsx
  extensions/gitlab/src/components/epic_my.tsx
  extensions/gitlab/src/components/event.tsx
  extensions/gitlab/src/components/issues.tsx
  extensions/gitlab/src/components/issues_my.tsx
  extensions/gitlab/src/components/jobs.tsx
  extensions/gitlab/src/components/milestones.tsx
  extensions/gitlab/src/components/mr.tsx
  extensions/gitlab/src/components/mr_my.tsx
  extensions/gitlab/src/components/pipelines.tsx
  extensions/gitlab/src/components/project.tsx
  extensions/gitlab/src/components/project_label.tsx
  extensions/gitlab/src/components/project_search.tsx
  extensions/gitlab/src/components/status/presets.ts
  extensions/gitlab/src/components/users.tsx
Labels: extension fix / improvement, OP is contributor

#1820 Add NBA Viewer Extension 🏀
  extensions/nba-game-viewer/.eslintrc.json
  extensions/nba-game-viewer/.gitignore
  extensions/nba-game-viewer/.prettierrc
  extensions/nba-game-viewer/CHANGELOG.md
  extensions/nba-game-viewer/README.md
  extensions/nba-game-viewer/assets/command-icon.png
  extensions/nba-game-viewer/metadata/Screenshot1.png
  extensions/nba-game-viewer/metadata/Screenshot2.png
  extensions/nba-game-viewer/package-lock.json
  extensions/nba-game-viewer/package.json
  extensions/nba-game-viewer/src/components/Day.tsx
  extensions/nba-game-viewer/src/components/Game.tsx
  extensions/nba-game-viewer/src/components/Team.tsx
  extensions/nba-game-viewer/src/hooks/useSchedule.ts
  extensions/nba-game-viewer/src/hooks/useStandings.ts
  extensions/nba-game-viewer/src/schedule.types.ts
  extensions/nba-game-viewer/src/standings.tsx
  extensions/nba-game-viewer/src/standings.types.ts
  extensions/nba-game-viewer/src/upcoming-games.tsx
  extensions/nba-game-viewer/src/utils/convertDate.ts
  extensions/nba-game-viewer/src/utils/generateAccessories.ts
  extensions/nba-game-viewer/src/utils/getSchedule.ts
  extensions/nba-game-viewer/src/utils/getStandings.ts
  extensions/nba-game-viewer/src/views/schedule.tsx
  extensions/nba-game-viewer/src/views/standings.tsx
  extensions/nba-game-viewer/tsconfig.json
Labels: new extension

#1825 feat(Timers): add new preferences
  extensions/timers/CHANGELOG.md
  extensions/timers/package.json
  extensions/timers/src/startCustomTimer.tsx
Labels: extension fix / improvement, OP is author

#1691 feat(todoist): Add task from project + task actions for detail
  extensions/todoist/CHANGELOG.md
  extensions/todoist/package-lock.json
  extensions/todoist/package.json
  extensions/todoist/src/components/Project.tsx
  extensions/todoist/src/components/TaskActions.tsx
  extensions/todoist/src/components/TaskDetail.tsx
  extensions/todoist/src/components/TaskEdit.tsx
  extensions/todoist/src/components/TaskListItem.tsx
  extensions/todoist/src/constants.ts
  extensions/todoist/src/create-task.tsx
  extensions/todoist/src/types.ts
Labels: extension fix / improvement, status: awaiting response from dev, OP is author

#1816 Fix: Craft: narrow the scope of opened DBs
  extensions/craftdocs/CHANGELOG.md
  extensions/craftdocs/package.json
  extensions/craftdocs/src/Config.ts
  extensions/craftdocs/src/components/ListBlocks.tsx
  extensions/craftdocs/src/hooks/common.ts
  extensions/craftdocs/src/hooks/useDocumentSearch.ts
  extensions/craftdocs/src/hooks/useSearch.ts
Labels: extension fix / improvement, OP is author

#1787 Update IP Geolocation extension
  extensions/ip-geolocation/CHANGELOG.md
  extensions/ip-geolocation/README.md
  extensions/ip-geolocation/assets/extension-icon.png
  extensions/ip-geolocation/assets/extension-icon@dark.png
  extensions/ip-geolocation/assets/my-ip-geolocation.png
  extensions/ip-geolocation/assets/my-ip-geolocation@dark.png
  extensions/ip-geolocation/assets/query-ip-geolocation.png
  extensions/ip-geolocation/assets/query-ip-geolocation@dark.png
  extensions/ip-geolocation/assets/search-ip-geolocation.png
  extensions/ip-geolocation/assets/search-ip-geolocation@dark.png
  extensions/ip-geolocation/metadata/Metadata-1.png
  extensions/ip-geolocation/metadata/Metadata-2.png
  extensions/ip-geolocation/package-lock.json
  extensions/ip-geolocation/package.json
  extensions/ip-geolocation/src/components/action-open-extension-preferences.tsx
  extensions/ip-geolocation/src/components/ip-empty-view.tsx
  extensions/ip-geolocation/src/hooks/hooks.ts
  extensions/ip-geolocation/src/my-ip-geolocation.tsx
  extensions/ip-geolocation/src/query-ip-geolocation.tsx
  extensions/ip-geolocation/src/types/ip-geolocation.ts
  extensions/ip-geolocation/src/types/preferences.ts
  extensions/ip-geolocation/src/utils/common-utils.ts
  extensions/ip-geolocation/src/utils/constants.ts
Labels: extension fix / improvement, OP is author

#1824 Updates `search-npm` extension
  extensions/search-npm/package.json
  extensions/search-npm/src/PackagListItem.tsx
Labels: extension fix / improvement

#1808 fix: unknown filter_type
  extensions/dockerhub/package-lock.json
  extensions/dockerhub/package.json
  extensions/dockerhub/src/lib/api.ts
  extensions/dockerhub/src/lib/type.ts
  extensions/dockerhub/src/search-image.tsx
  extensions/dockerhub/src/search.tsx
Labels: extension fix / improvement, OP is author

#1851 [Google Drive] Let's not rely on Swift to get file icons
  extensions/google-drive/CHANGELOG.md
  extensions/google-drive/assets/file.png
  extensions/google-drive/assets/folder.png
  extensions/google-drive/src/constants.ts
  extensions/google-drive/src/utils.ts
Labels: extension fix / improvement, OP is author

#1853 Google-drive: update changelog
  extensions/google-drive/CHANGELOG.md
Labels: extension fix / improvement

#1786 fip extension
  extensions/fip/.eslintrc.json
  extensions/fip/.gitignore
  extensions/fip/.prettierrc
  extensions/fip/CHANGELOG.md
  extensions/fip/README.md
  extensions/fip/assets/favicon.png
  extensions/fip/metadata/Screenshot.png
  extensions/fip/metadata/screenshot_1.png
  extensions/fip/metadata/screenshot_2.png
  extensions/fip/package-lock.json
  extensions/fip/package.json
  extensions/fip/src/components/TrackMetadata.tsx
  extensions/fip/src/next.tsx
  extensions/fip/src/now.tsx
  extensions/fip/src/prev.tsx
  extensions/fip/src/start.tsx
  extensions/fip/src/stop.tsx
  extensions/fip/src/utils/utils.ts
  extensions/fip/tsconfig.json
Labels: new extension

#1822 [Music] Fixes
  extensions/music/CHANGELOG.md
  extensions/music/src/start-playlist.tsx
Labels: extension fix / improvement, OP is author

#1857 [Google Drive] Fix: Prevent retrieving stats of a non-existing file path
  extensions/google-drive/CHANGELOG.md
  extensions/google-drive/src/db.ts
  extensions/google-drive/src/utils.ts
Labels: extension fix / improvement, OP is author
