Repository raycast/extensions, pull requests merged in 2022-09, with the labels that each got.

#2751 Cleanshot x update - Open History
  extensions/cleanshotx/CHANGELOG.md
  extensions/cleanshotx/assets/open-history.png
  extensions/cleanshotx/package.json
  extensions/cleanshotx/src/open-history.tsx
Labels: extension fix / improvement, OP is author

#2750 fix: update Turkish flag at second language dropdown
  extensions/google-translate/CHANGELOG.md
  extensions/google-translate/package.json
Labels: extension fix / improvement

#2749 Update Readme to remove logo.
  extensions/readymetrics/CHANGELOG.md
  extensions/readymetrics/README.md
Labels: extension fix / improvement, OP is author

#2746 Harvest - Improve cache
  extensions/harvest/CHANGELOG.md
  extensions/harvest/package-lock.json
  extensions/harvest/package.json
  extensions/harvest/src/new.tsx
  extensions/harvest/src/services/harvest.ts
Labels: extension fix / improvement, OP is author

#2747 add keyboard shortcuts to open repo URLs
  extensions/search-composer-packagist/package.json
  extensions/search-composer-packagist/src/composer.tsx
Labels: extension fix / improvement

#2720 Add new features for extension Anybox
  extensions/anybox/CHANGELOG.md
  extensions/anybox/README.md
  extensions/anybox/assets/anybox-icon-small.png
  extensions/anybox/assets/list-icon.png
  extensions/anybox/assets/star.fill.png
  extensions/anybox/assets/star.png
  extensions/anybox/metadata/anybox-01.png
  extensions/anybox/metadata/anybox-02.png
  extensions/anybox/metadata/anybox-03.png
  extensions/anybox/metadata/anybox-1.png
  extensions/anybox/metadata/anybox-2.png
  extensions/anybox/metadata/anybox-3.png
  extensions/anybox/package-lock.json
  extensions/anybox/package.json
  extensions/anybox/src/components/AnydockItem.tsx
  extensions/anybox/src/components/CollectionForm.tsx
  extensions/anybox/src/components/CollectionItem.tsx
  extensions/anybox/src/components/LinkItem.tsx
  extensions/anybox/src/pasteWithCollections.tsx
  extensions/anybox/src/saveCurrentTabWithCollections.tsx
  extensions/anybox/src/saveNote.tsx
  extensions/anybox/src/search.tsx
  extensions/anybox/src/searchCollection.tsx
  extensions/anybox/src/showList.tsx
  extensions/anybox/src/toggleAnydock.tsx
  extensions/anybox/src/toggleLinkDetection.tsx
  extensions/anybox/src/utilities/fetch.tsx
  extensions/anybox/src/utilities/searchRequest.tsx
Labels: extension fix / improvement, OP is author

#2497 Include files of shared drives, not only my drive
  extensions/google-workspace/CHANGELOG.md
  extensions/google-workspace/src/api/getFiles.ts
  extensions/google-workspace/src/search-google-drive-files.tsx
Labels: extension fix / improvement, OP is contributor

#2708 Improve query handling for Opsgenie extension
  extensions/opsgenie/CHANGELOG.md
  extensions/opsgenie/README.md
  extensions/opsgenie/metadata/opsgenie-1.png
  extensions/opsgenie/metadata/opsgenie-2.png
  extensions/opsgenie/metadata/opsgenie-3.png
  extensions/opsgenie/package-lock.json
  extensions/opsgenie/package.json
  extensions/opsgenie/src/alerts.tsx
  extensions/opsgenie/src/incidents.tsx
  extensions/opsgenie/src/preferences.ts
  extensions/opsgenie/src/savedSearches.tsx
  extensions/opsgenie/src/useDebounce.ts
Labels: extension fix / improvement, OP is author

#2753 Fix default query for incidents in Opsgenie extension
  extensions/opsgenie/src/incidents.tsx
Labels: extension fix / improvement, OP is author

#2722 [New Extension: Guitar Chords] add new guitar-chords extension
  extensions/guitar-chords/.eslintrc.json
  extensions/guitar-chords/.gitignore
  extensions/guitar-chords/.prettierrc
  extensions/guitar-chords/CHANGELOG.md
  extensions/guitar-chords/README.md
  extensions/guitar-chords/assets/fonts/OpenSans-Regular.ttf
  extensions/guitar-chords/assets/guitar-chords.png
  extensions/guitar-chords/metadata/guitar-chords-1.png
  extensions/guitar-chords/metadata/guitar-chords-2.png
  extensions/guitar-chords/metadata/guitar-chords-3.png
  extensions/guitar-chords/package-lock.json
  extensions/guitar-chords/package.json
  extensions/guitar-chords/src/chords-quickfind.tsx
  extensions/guitar-chords/src/chords-search.tsx
  extensions/guitar-chords/src/chords-visualizer.tsx
  extensions/guitar-chords/src/types.tsx
  extensions/guitar-chords/src/utils.tsx
  extensions/guitar-chords/tsconfig.json
Labels: new extension

#2754 [Guitar Chords] remove reminders from grabs
  extensions/guitar-chords/metadata/guitar-chords-1.png
  extensions/guitar-chords/metadata/guitar-chords-2.png
  extensions/guitar-chords/metadata/guitar-chords-3.png
Labels: extension fix / improvement, OP is author

#2755 Add cURL extension
  extensions/curl/.eslintrc.json
  extensions/curl/.gitignore
  extensions/curl/.prettierrc
  extensions/curl/CHANGELOG.md
  extensions/curl/README.md
  extensions/curl/assets/app-icon.png
  extensions/curl/metadata/curl-1.png
  extensions/curl/metadata/curl-2.png
  extensions/curl/metadata/curl-3.png
  extensions/curl/metadata/curl-4.png
  extensions/curl/metadata/curl-5.png
  extensions/curl/metadata/curl-6.png
  extensions/curl/package-lock.json
  extensions/curl/package.json
  extensions/curl/src/index.tsx
  extensions/curl/src/requests.tsx
  extensions/curl/src/views/Form.tsx
  extensions/curl/src/views/Result.tsx
  extensions/curl/tsconfig.json
  extensions/curl/utils/index.ts
Labels: new extension

#2771 Fork: Add menu bar command, update icon.
  extensions/fork-repositories/CHANGELOG.md
  extensions/fork-repositories/assets/icon-color.png
  extensions/fork-repositories/assets/icon.png
  extensions/fork-repositories/assets/icon@dark.png
  extensions/fork-repositories/metadata/01-fork.png
  extensions/fork-repositories/metadata/02-fork-not-found.png
  extensions/fork-repositories/metadata/fork-repositories-1.png
  extensions/fork-repositories/metadata/fork-repositories-2.png
  extensions/fork-repositories/package-lock.json
  extensions/fork-repositories/package.json
  extensions/fork-repositories/src/constants.ts
  extensions/fork-repositories/src/fork-repositories.tsx
  extensions/fork-repositories/src/hooks/use-has-application.ts
  extensions/fork-repositories/src/hooks/use-repos.ts
  extensions/fork-repositories/src/menu-bar.tsx
Labels: extension fix / improvement, OP is author

#2774 fix(cleanshotx): use builtin open command
  extensions/cleanshotx/CHANGELOG.md
  extensions/cleanshotx/package-lock.json
  extensions/cleanshotx/package.json
  extensions/cleanshotx/src/all-in-one.tsx
  extensions/cleanshotx/src/annotate.tsx
  extensions/cleanshotx/src/capture-area.tsx
  extensions/cleanshotx/src/capture-fullscreen.tsx
  extensions/cleanshotx/src/capture-previous-area.tsx
  extensions/cleanshotx/src/capture-window.tsx
  extensions/cleanshotx/src/open-from-clipboard.tsx
  extensions/cleanshotx/src/open-history.tsx
  extensions/cleanshotx/src/pin.tsx
  extensions/cleanshotx/src/record-screen.tsx
  extensions/cleanshotx/src/restore-recently-closed.tsx
  extensions/cleanshotx/src/scrolling-capture.tsx
  extensions/cleanshotx/src/self-timer.tsx
  extensions/cleanshotx/src/text-recognition.tsx
  extensions/cleanshotx/src/toggle-desktop-icons.tsx
Labels: extension fix / improvement

#2764 Todo List: fix broken links in README
  extensions/todo-list/README.md
Labels: extension fix / improvement

#2757 feat(zoom): add support for recurring meetings
  extensions/zoom/src/api/meetings.ts
  extensions/zoom/src/components/EditMeetingForm.tsx
  extensions/zoom/src/components/MeetingListItem.tsx
  extensions/zoom/src/helpers/meetings.ts
  extensions/zoom/src/this-week-meetings.tsx
  extensions/zoom/src/upcoming-meetings.tsx
Labels: extension fix / improvement, OP is author

#2786 fix(search-npm): switch to npm Registry API (#2766)
  extensions/search-npm/src/PackagListItem.tsx
  extensions/search-npm/src/index.tsx
  extensions/search-npm/src/npmResponse.model.ts
  extensions/search-npm/src/utils/fetchPackages.ts
Labels: extension fix / improvement

#2797 Search npm: use utils for caching
  extensions/search-npm/CHANGELOG.md
  extensions/search-npm/README.md
  extensions/search-npm/package-lock.json
  extensions/search-npm/package.json
  extensions/search-npm/src/PackagListItem.tsx
  extensions/search-npm/src/Readme.tsx
  extensions/search-npm/src/index.tsx
  extensions/search-npm/src/utils/fetchPackages.ts
Labels: extension fix / improvement

#2762 Feat/itranslate
  extensions/itranslate/CHANGELOG.md
  extensions/itranslate/README.md
  extensions/itranslate/metadata/itranslate-4.png
  extensions/itranslate/package-lock.json
  extensions/itranslate/package.json
  extensions/itranslate/src/TranslateError.tsx
  extensions/itranslate/src/TranslateHistory.tsx
  extensions/itranslate/src/TranslateResult.tsx
  extensions/itranslate/src/const.ts
  extensions/itranslate/src/history.tsx
  extensions/itranslate/src/itranslate.shared.tsx
  extensions/itranslate/src/itranslate.tsx
  extensions/itranslate/src/types.d.ts
Labels: extension fix / improvement, OP is author

#2773 Update Short.io command
  extensions/short-io/CHANGELOG.md
  extensions/short-io/assets/my-link-icon-menu-bar.png
  extensions/short-io/assets/my-link-icon-menu-bar@dark.png
  extensions/short-io/assets/search-link-icon-menu-bar.png
  extensions/short-io/package-lock.json
  extensions/short-io/package.json
  extensions/short-io/src/hooks/hooks.ts
  extensions/short-io/src/search-links-menu-bar.tsx
Labels: extension fix / improvement, OP is author

#2763 [Xcode] Add Search Swift Package Index
  extensions/xcode/CHANGELOG.md
  extensions/xcode/metadata/xcode-6.png
  extensions/xcode/package-lock.json
  extensions/xcode/package.json
  extensions/xcode/src/components/apple-developer-documentation-list/apple-developer-documentation-list.component.tsx
  extensions/xcode/src/components/swift-package-index-list/swift-package-index-list-item-detail.component.tsx
  extensions/xcode/src/components/swift-package-index-list/swift-package-index-list-item.component.tsx
  extensions/xcode/src/components/swift-package-index-list/swift-package-index-list.component.tsx
  extensions/xcode/src/components/xcode-add-swift-package/xcode-add-swift-package-form.component.tsx
  extensions/xcode/src/components/xcode-add-swift-package/xcode-add-swift-package.component.tsx
  extensions/xcode/src/components/xcode-installation-verifier/xcode-installation-verifier.component.tsx
  extensions/xcode/src/models/swift-package-index/swift-package-index-search-result.model.ts
  extensions/xcode/src/models/swift-package-index/swift-package-index-search-results.model.ts
  extensions/xcode/src/search-swift-package-index.command.tsx
  extensions/xcode/src/services/apple-developer-documentation.service.ts
  extensions/xcode/src/services/swift-package-index.service.ts
  extensions/xcode/src/services/xcode.service.ts
Labels: extension fix / improvement, OP is author

#2789 OSS Browser: optimization of experience
  extensions/oss-browser/CHANGELOG.md
  extensions/oss-browser/metadata/oss-browser-2.png
  extensions/oss-browser/package-lock.json
  extensions/oss-browser/package.json
  extensions/oss-browser/src/components/common.tsx
  extensions/oss-browser/src/components/file.tsx
  extensions/oss-browser/src/components/folder.tsx
  extensions/oss-browser/src/const.ts
  extensions/oss-browser/src/types.d.ts
  extensions/oss-browser/src/utils.tsx
Labels: extension fix / improvement, OP is author

#2765 Update Google Maps search
  extensions/google-maps-search/package-lock.json
  extensions/google-maps-search/package.json
  extensions/google-maps-search/src/find.tsx
  extensions/google-maps-search/src/travelHome.ts
  extensions/google-maps-search/src/travelTo.tsx
  extensions/google-maps-search/src/utils/input.ts
  extensions/google-maps-search/src/utils/types.ts
  extensions/google-maps-search/src/utils/url.ts
Labels: extension fix / improvement

#2776 [Easydict] ✨ Add new Youdao dictionary and translation API
  extensions/easydict/CHANGELOG.md
  extensions/easydict/README.md
  extensions/easydict/docs/README_ZH.md
  extensions/easydict/package-lock.json
  extensions/easydict/package.json
  extensions/easydict/src/audio.ts
  extensions/easydict/src/axiosConfig.ts
  extensions/easydict/src/components.tsx
  extensions/easydict/src/dataManager/dataManager.ts
  extensions/easydict/src/dataManager/utils.ts
  extensions/easydict/src/detectLanauge/detect.ts
  extensions/easydict/src/dictionary/linguee/linguee.ts
  extensions/easydict/src/dictionary/linguee/parse.ts
  extensions/easydict/src/dictionary/youdao/formatData.ts
  extensions/easydict/src/dictionary/youdao/good.json
  extensions/easydict/src/dictionary/youdao/types.ts
  extensions/easydict/src/dictionary/youdao/utils.ts
  extensions/easydict/src/dictionary/youdao/youdao.ts
  extensions/easydict/src/dictionary/youdao/美.json
  extensions/easydict/src/language/consts.ts
  extensions/easydict/src/language/languages.ts
  extensions/easydict/src/preferences.ts
  extensions/easydict/src/releaseVersion/releaseNote.ts
  extensions/easydict/src/releaseVersion/versionInfo.ts
  extensions/easydict/src/scripts.ts
  extensions/easydict/src/translation/baidu.ts
  extensions/easydict/src/translation/caiyun.ts
  extensions/easydict/src/translation/deepL.ts
  extensions/easydict/src/translation/google.ts
  extensions/easydict/src/translation/tencent.ts
  extensions/easydict/src/types.ts
  extensions/easydict/src/utils.ts
  extensions/easydict/tsconfig.json
Labels: extension fix / improvement, OP is author

#2772 Update Quick Access extension
  extensions/quick-access/CHANGELOG.md
  extensions/quick-access/README.md
  extensions/quick-access/assets/access-folder-menu-bar.png
  extensions/quick-access/assets/access-folder-menu-bar@dark.png
  extensions/quick-access/assets/access-folder.png
  extensions/quick-access/assets/access-folder@dark.png
  extensions/quick-access/assets/pin-folder.png
  extensions/quick-access/assets/pin-folder@dark.png
  extensions/quick-access/assets/pinned-folders-menu-bar.png
  extensions/quick-access/assets/pinned-folders-menu-bar@dark.png
  extensions/quick-access/package-lock.json
  extensions/quick-access/package.json
  extensions/quick-access/src/components/action-on-files.tsx
  extensions/quick-access/src/components/quick-access-empty-view.tsx
  extensions/quick-access/src/hooks/hooks.ts
  extensions/quick-access/src/pin-folder.tsx
  extensions/quick-access/src/pinned-folders-menu-bar.tsx
  extensions/quick-access/src/search-pinned-folders.tsx
  extensions/quick-access/src/types/preferences.ts
  extensions/quick-access/src/utils/applescript-utils.ts
Labels: extension fix / improvement, OP is author

#2779 Update World Clock extension
  extensions/world-clock/CHANGELOG.md
  extensions/world-clock/assets/query-world-time-menu-bar.png
  extensions/world-clock/assets/query-world-time-menu-bar@dark.png
  extensions/world-clock/assets/world-time-menu-bar.png
  extensions/world-clock/assets/world-time-menu-bar@dark.png
  extensions/world-clock/package-lock.json
  extensions/world-clock/package.json
  extensions/world-clock/src/components/action-on-starred-timezone.tsx
  extensions/world-clock/src/hooks/hooks.ts
  extensions/world-clock/src/query-world-time-menu-bar.tsx
Labels: extension fix / improvement, OP is author

#2778 Update Common Directory extension
  extensions/common-directory/CHANGELOG.md
  extensions/common-directory/README.md
  extensions/common-directory/assets/common-directory-menu-bar.png
  extensions/common-directory/assets/common-directory-menu-bar@dark.png
  extensions/common-directory/assets/open-common-directory-menu-bar.png
  extensions/common-directory/package-lock.json
  extensions/common-directory/package.json
  extensions/common-directory/src/add-common-directory.tsx
  extensions/common-directory/src/hooks/hooks.ts
  extensions/common-directory/src/open-common-directory-menu-bar.tsx
  extensions/common-directory/src/utils/common-utils.ts
Labels: extension fix / improvement, OP is author

#2780 Update Social Network Trends extension
  extensions/social-network-trends/CHANGELOG.md
  extensions/social-network-trends/assets/extension-icon/extension-icon-menu-bar.png
  extensions/social-network-trends/assets/extension-icon/extension-icon-menu-bar@dark.png
  extensions/social-network-trends/assets/extension-icon/trend-social-networks.png
  extensions/social-network-trends/assets/extension-icon/trend-social-networks@dark.png
  extensions/social-network-trends/assets/menu-bar-icon/trend-douyin.png
  extensions/social-network-trends/assets/menu-bar-icon/trend-douyin@dark.png
  extensions/social-network-trends/assets/menu-bar-icon/trend-menu-bar.png
  extensions/social-network-trends/assets/menu-bar-icon/trend-menu-bar@dark.png
  extensions/social-network-trends/assets/menu-bar-icon/trend-weibo.png
  extensions/social-network-trends/assets/menu-bar-icon/trend-weibo@dark.png
  extensions/social-network-trends/assets/menu-bar-icon/trend-zhihu.png
  extensions/social-network-trends/assets/menu-bar-icon/trend-zhihu@dark.png
  extensions/social-network-trends/package-lock.json
  extensions/social-network-trends/package.json
  extensions/social-network-trends/src/search-trends-of-social-network-menu-bar.tsx
  extensions/social-network-trends/src/search-trends-of-social-network.tsx
Labels: extension fix / improvement, OP is author

#2758 Added BPM Calculator
  extensions/beat-per-minute/.eslintrc.json
  extensions/beat-per-minute/.gitignore
  extensions/beat-per-minute/.prettierrc
  extensions/beat-per-minute/CHANGELOG.md
  extensions/beat-per-minute/README.md
  extensions/beat-per-minute/assets/metronome-left.png
  extensions/beat-per-minute/assets/metronome-right.png
  extensions/beat-per-minute/assets/metronome.png
  extensions/beat-per-minute/metadata/beat-per-minute-1.png
  extensions/beat-per-minute/package-lock.json
  extensions/beat-per-minute/package.json
  extensions/beat-per-minute/src/calculate-bpm.tsx
  extensions/beat-per-minute/tsconfig.json
Labels: new extension

#2536 Add extension: DEVONthink
  extensions/devonthink/.eslintrc.json
  extensions/devonthink/.gitignore
  extensions/devonthink/.prettierrc
  extensions/devonthink/CHANGELOG.md
  extensions/devonthink/README.md
  extensions/devonthink/assets/devonthink-icon-small.png
  extensions/devonthink/assets/devonthink-icon.png
  extensions/devonthink/package-lock.json
  extensions/devonthink/package.json
  extensions/devonthink/src/components/SearchResultItem.tsx
  extensions/devonthink/src/hooks/useAppExists.ts
  extensions/devonthink/src/hooks/useDevonDB.ts
  extensions/devonthink/src/hooks/useSearch.ts
  extensions/devonthink/src/search.tsx
  extensions/devonthink/tsconfig.json
Labels: new extension

#2807 fix(typescript-documentation-search): Fix Typo in Search Field
  extensions/typescript-documentation-search/CHANGELOG.md
  extensions/typescript-documentation-search/metadata/typescript-documentation-search-1.png
  extensions/typescript-documentation-search/src/index.tsx
Labels: extension fix / improvement

#2782 initlal version php search
  extensions/php-docs/.eslintrc.json
  extensions/php-docs/.gitignore
  extensions/php-docs/.prettierrc
  extensions/php-docs/CHANGELOG.md
  extensions/php-docs/README.md
  extensions/php-docs/assets/php.png
  extensions/php-docs/assets/phpnw.png
  extensions/php-docs/metadata/php-docs-1.png
  extensions/php-docs/package-lock.json
  extensions/php-docs/package.json
  extensions/php-docs/src/php.tsx
  extensions/php-docs/src/utils/handleResults.ts
  extensions/php-docs/src/utils/types.ts
  extensions/php-docs/src/utils/useSearch.tsx
  extensions/php-docs/tsconfig.json
Labels: new extension

#2812 add more keywords
  extensions/bibmanager/CHANGELOG.md
  extensions/bibmanager/assets/bibm_list.py
  extensions/bibmanager/package.json
  extensions/bibmanager/src/ListBibmItem.tsx
  extensions/bibmanager/src/filtering.tsx
  extensions/bibmanager/src/types.tsx
Labels: extension fix / improvement, OP is author

#2813 Linear: Fix loading state for OAuth in menu bar commands
  extensions/linear/package-lock.json
  extensions/linear/src/helpers/withLinearClient.tsx
Labels: extension fix / improvement, OP is contributor

#2654 New Extension: iHosts
  extensions/ihosts/.eslintrc.json
  extensions/ihosts/.gitignore
  extensions/ihosts/.prettierrc
  extensions/ihosts/CHANGELOG.md
  extensions/ihosts/README.md
  extensions/ihosts/assets/ihosts.png
  extensions/ihosts/assets/ihosts@dark.png
  extensions/ihosts/assets/switch.png
  extensions/ihosts/metadata/ihosts-1.png
  extensions/ihosts/metadata/ihosts-2.png
  extensions/ihosts/metadata/ihosts-3.png
  extensions/ihosts/package-lock.json
  extensions/ihosts/package.json
  extensions/ihosts/src/component.tsx
  extensions/ihosts/src/const.ts
  extensions/ihosts/src/ihosts.tsx
  extensions/ihosts/src/switch.tsx
  extensions/ihosts/src/types.d.ts
  extensions/ihosts/src/utils/common.ts
  extensions/ihosts/src/utils/file.ts
  extensions/ihosts/tsconfig.json
Labels: new extension

#2803 Add `web3-profile` extension
  extensions/web3-profile/.eslintrc.json
  extensions/web3-profile/.gitignore
  extensions/web3-profile/.prettierrc
  extensions/web3-profile/CHANGELOG.md
  extensions/web3-profile/README.md
  extensions/web3-profile/assets/discord.png
  extensions/web3-profile/assets/etherscan-dark.png
  extensions/web3-profile/assets/etherscan.png
  extensions/web3-profile/assets/github-dark.png
  extensions/web3-profile/assets/github.png
  extensions/web3-profile/assets/icon-dark.png
  extensions/web3-profile/assets/icon-light.png
  extensions/web3-profile/assets/instagram.png
  extensions/web3-profile/assets/opensea.png
  extensions/web3-profile/assets/rainbow.png
  extensions/web3-profile/assets/twitter.png
  extensions/web3-profile/assets/web3-profile-icon.png
  extensions/web3-profile/metadata/screenshot-01.png
  extensions/web3-profile/metadata/screenshot-02.png
  extensions/web3-profile/metadata/screenshot-03.png
  extensions/web3-profile/metadata/screenshot-04.png
  extensions/web3-profile/metadata/screenshot-05.png
  extensions/web3-profile/metadata/screenshot-06.png
  extensions/web3-profile/package-lock.json
  extensions/web3-profile/package.json
  extensions/web3-profile/src/lib/apollo.ts
  extensions/web3-profile/src/lib/fetchSuggestions.ts
  extensions/web3-profile/src/lib/useEnsRecords.ts
  extensions/web3-profile/src/search-web3-profile.tsx
  extensions/web3-profile/tsconfig.json
  package-lock.json
Labels: new extension

#2666 Add new extension "NixPkgs Search"
  extensions/nixpkgs-search/.eslintrc.json
  extensions/nixpkgs-search/.prettierrc
  extensions/nixpkgs-search/CHANGELOG.md
  extensions/nixpkgs-search/LICENSE
  extensions/nixpkgs-search/README.md
  extensions/nixpkgs-search/assets/nix-snowflake.png
  extensions/nixpkgs-search/metadata/nixpkgs-search-1.png
  extensions/nixpkgs-search/package-lock.json
  extensions/nixpkgs-search/package.json
  extensions/nixpkgs-search/src/index.tsx
  extensions/nixpkgs-search/tsconfig.json
Labels: new extension

#2718 Add Tim
  extensions/tim/.eslintrc.json
  extensions/tim/.gitignore
  extensions/tim/.prettierrc
  extensions/tim/CHANGELOG.md
  extensions/tim/README.md
  extensions/tim/assets/tim-icon.png
  extensions/tim/metadata/tim-1.png
  extensions/tim/metadata/tim-2.png
  extensions/tim/package-lock.json
  extensions/tim/package.json
  extensions/tim/src/export.tsx
  extensions/tim/src/import.ts
  extensions/tim/src/openActiveRecord.ts
  extensions/tim/src/openNavigator.ts
  extensions/tim/src/openNewTask.ts
  extensions/tim/src/openTaskManager.ts
  extensions/tim/src/toggleTimer.ts
  extensions/tim/src/utils.ts
  extensions/tim/tsconfig.json
Labels: new extension

#2804 gopass: add support for OTP codes
  extensions/gopass/CHANGELOG.md
  extensions/gopass/package-lock.json
  extensions/gopass/src/details.tsx
  extensions/gopass/src/gopass.ts
  extensions/gopass/src/index.tsx
Labels: extension fix / improvement

#2820 [Web3 Profile] - Fix 2816: blacklist zora contract from fetching avatar
  extensions/web3-profile/CHANGELOG.md
  extensions/web3-profile/src/search-web3-profile.tsx
Labels: extension fix / improvement, OP is author

#2802 Cal.com
  extensions/cal-com-share-meeting-links/.eslintrc.json
  extensions/cal-com-share-meeting-links/.gitignore
  extensions/cal-com-share-meeting-links/.prettierrc
  extensions/cal-com-share-meeting-links/CHANGELOG.md
  extensions/cal-com-share-meeting-links/README.md
  extensions/cal-com-share-meeting-links/assets/logo.png
  extensions/cal-com-share-meeting-links/metadata/screenshot.png
  extensions/cal-com-share-meeting-links/package-lock.json
  extensions/cal-com-share-meeting-links/package.json
  extensions/cal-com-share-meeting-links/src/index.tsx
  extensions/cal-com-share-meeting-links/src/services/cal.com.ts
  extensions/cal-com-share-meeting-links/tsconfig.json
Labels: new extension

#2805 Add Searchcaster extension
  extensions/searchcaster/.eslintrc.json
  extensions/searchcaster/.gitignore
  extensions/searchcaster/.prettierrc
  extensions/searchcaster/CHANGELOG.md
  extensions/searchcaster/assets/icon.png
  extensions/searchcaster/metadata/screenshot-1.png
  extensions/searchcaster/metadata/screenshot-2.png
  extensions/searchcaster/metadata/screenshot-3.png
  extensions/searchcaster/package-lock.json
  extensions/searchcaster/package.json
  extensions/searchcaster/src/search.tsx
  extensions/searchcaster/src/types.ts
  extensions/searchcaster/src/utils.ts
  extensions/searchcaster/tsconfig.json
Labels: new extension

#2704 [Google Meet]: now automatically copies the URL to clipboard
  extensions/google-meet/package-lock.json
  extensions/google-meet/package.json
  extensions/google-meet/src/helpers.ts
  extensions/google-meet/src/index.ts
  extensions/google-meet/src/utils/scripts.ts
Labels: extension fix / improvement, OP is author

#2823 [Web3 Profile] Improve search UX in profile detail view
  extensions/web3-profile/CHANGELOG.md
  extensions/web3-profile/src/search-web3-profile.tsx
Labels: extension fix / improvement, OP is author

#2824 iTranslate: add Microsoft Azure translation service
  extensions/itranslate/CHANGELOG.md
  extensions/itranslate/README.md
  extensions/itranslate/assets/microsoftAzure.png
  extensions/itranslate/package.json
  extensions/itranslate/src/TranslateError.tsx
  extensions/itranslate/src/const.ts
  extensions/itranslate/src/itranslate.shared.tsx
  extensions/itranslate/src/types.d.ts
Labels: extension fix / improvement, OP is author

#2748 add archived indicator to projects
  extensions/gitlab/CHANGELOG.md
  extensions/gitlab/package.json
  extensions/gitlab/src/components/project_search.tsx
  extensions/gitlab/src/gitlabapi.ts
Labels: extension fix / improvement, status: awaiting response from dev

#2806 fix(rss-reader): Correct Spelling for Open Feed
  extensions/rss-reader/CHANGELOG.md
  extensions/rss-reader/metadata/rss-reader-1.png
  extensions/rss-reader/metadata/rss-reader-2.png
  extensions/rss-reader/metadata/rss-reader-3.png
  extensions/rss-reader/package-lock.json
  extensions/rss-reader/package.json
  extensions/rss-reader/src/feeds.tsx
  extensions/rss-reader/src/stories.tsx
  extensions/rss-reader/src/subscription-form.tsx
Labels: extension fix / improvement

#2770 [New Extension: Folder Search] folder-search-extension
  extensions/folder-search/.eslintignore
  extensions/folder-search/.eslintrc.json
  extensions/folder-search/.gitignore
  extensions/folder-search/.prettierrc
  extensions/folder-search/CHANGELOG.md
  extensions/folder-search/README.md
  extensions/folder-search/assets/folder-search.png
  extensions/folder-search/metadata/folder-search-1.png
  extensions/folder-search/metadata/folder-search-2.png
  extensions/folder-search/metadata/folder-search-3.png
  extensions/folder-search/package-lock.json
  extensions/folder-search/package.json
  extensions/folder-search/src/global.d.ts
  extensions/folder-search/src/libs/node-spotlight/LICENSE.md
  extensions/folder-search/src/libs/node-spotlight/README.md
  extensions/folder-search/src/libs/node-spotlight/attributes.tsx
  extensions/folder-search/src/libs/node-spotlight/index.tsx
  extensions/folder-search/src/libs/node-spotlight/parse.tsx
  extensions/folder-search/src/search-spotlight.tsx
  extensions/folder-search/src/search.tsx
  extensions/folder-search/src/types.tsx
  extensions/folder-search/src/utils.tsx
  extensions/folder-search/tsconfig.json
Labels: new extension

#2837 Gitlab: add indicator for archived projects
  extensions/gitlab/src/components/project_search.tsx
Labels: extension fix / improvement, OP is contributor

#2832 New Extension: TinyFaces NFT Extension
  extensions/tinyfaces-nft/.eslintrc.json
  extensions/tinyfaces-nft/.gitignore
  extensions/tinyfaces-nft/.prettierrc
  extensions/tinyfaces-nft/CHANGELOG.md
  extensions/tinyfaces-nft/README.md
  extensions/tinyfaces-nft/assets/icon.png
  extensions/tinyfaces-nft/metadata/tinyfaces-nft-1.png
  extensions/tinyfaces-nft/metadata/tinyfaces-nft-2.png
  extensions/tinyfaces-nft/metadata/tinyfaces-nft-3.png
  extensions/tinyfaces-nft/metadata/tinyfaces-nft-4.png
  extensions/tinyfaces-nft/package-lock.json
  extensions/tinyfaces-nft/package.json
  extensions/tinyfaces-nft/src/tinyfaces.tsx
  extensions/tinyfaces-nft/src/types/index.ts
  extensions/tinyfaces-nft/tsconfig.json
Labels: new extension

#2845 [Gitfox] Update metadata and dependencies and styles
  extensions/gitfox/CHANGELOG.md
  extensions/gitfox/assets/icon-branches.png
  extensions/gitfox/assets/icon-folder.png
  extensions/gitfox/assets/icon-iterm.png
  extensions/gitfox/assets/icon-terminal.png
  extensions/gitfox/assets/icon-vscode.png
  extensions/gitfox/assets/merge-git-30.png
  extensions/gitfox/assets/repository-30.png
  extensions/gitfox/assets/visual-studio-code-30.png
  extensions/gitfox/metadata/gitfox-1.png
  extensions/gitfox/metadata/gitfox-2.png
  extensions/gitfox/package-lock.json
  extensions/gitfox/package.json
  extensions/gitfox/src/components/bookmark-list-item.tsx
  extensions/gitfox/src/components/bookmark-list.tsx
  extensions/gitfox/src/components/open-bookmark-action.tsx
  extensions/gitfox/src/dtos/bookmark-dto.ts
Labels: extension fix / improvement, OP is author

#2625 Add extension for controlling Philips Hue lights
  extensions/hue/.eslintrc.json
  extensions/hue/.gitignore
  extensions/hue/.prettierrc
  extensions/hue/CHANGELOG.md
  extensions/hue/README.md
  extensions/hue/assets/bridge-button.png
  extensions/hue/assets/bridge-connect.png
  extensions/hue/assets/bridge-failure.png
  extensions/hue/assets/bridge-success.png
  extensions/hue/assets/command-icon.png
  extensions/hue/assets/command-icon@dark.png
  extensions/hue/metadata/hue-1.png
  extensions/hue/metadata/hue-2.png
  extensions/hue/metadata/hue-3.png
  extensions/hue/package-lock.json
  extensions/hue/package.json
  extensions/hue/src/components/ManageHueBridge.tsx
  extensions/hue/src/components/UnlinkAction.tsx
  extensions/hue/src/controlGroups.tsx
  extensions/hue/src/controlLights.tsx
  extensions/hue/src/lib/colors.ts
  extensions/hue/src/lib/constants.ts
  extensions/hue/src/lib/errors.ts
  extensions/hue/src/lib/hue.ts
  extensions/hue/src/lib/manageHueBridgeMachine.ts
  extensions/hue/src/lib/markdown.ts
  extensions/hue/src/lib/types.ts
  extensions/hue/src/lib/utils.ts
  extensions/hue/src/setScene.tsx
  extensions/hue/src/turnOffAllLights.ts
  extensions/hue/tsconfig.json
Labels: new extension, status: awaiting response from dev

#2838 remove size meta, throttling of queries and add results list section, some refactoring
  extensions/folder-search/CHANGELOG.md
  extensions/folder-search/metadata/folder-search-1.png
  extensions/folder-search/metadata/folder-search-2.png
  extensions/folder-search/metadata/folder-search-3.png
  extensions/folder-search/metadata/folder-search-4.png
  extensions/folder-search/src/search-spotlight.tsx
  extensions/folder-search/src/search.tsx
  extensions/folder-search/src/types.tsx
  extensions/folder-search/src/utils.tsx
Labels: extension fix / improvement, status: awaiting response from dev, OP is author

#2848 Shell: Execute command in new iTerm tab if iTerm is running
  extensions/shell/CHANGELOG.md
  extensions/shell/src/index.tsx
Labels: extension fix / improvement, OP is author

#2847 Update DEVONthink extension: add list detail view
  extensions/devonthink/CHANGELOG.md
  extensions/devonthink/package-lock.json
  extensions/devonthink/package.json
  extensions/devonthink/src/components/SearchResultItem.tsx
  extensions/devonthink/src/hooks/useSearch.ts
  extensions/devonthink/src/search.tsx
  extensions/devonthink/src/types/Preferences.ts
  extensions/devonthink/src/types/SearchResult.ts
Labels: extension fix / improvement, OP is author

#2863 [jetbrains-toolbox] Updates
  extensions/jetbrains/CHANGELOG.md
  extensions/jetbrains/package-lock.json
  extensions/jetbrains/package.json
  extensions/jetbrains/src/.settings.json.d.ts
  extensions/jetbrains/src/components/OpenInJetBrainsApp.tsx
  extensions/jetbrains/src/recent.tsx
  extensions/jetbrains/src/recentMenu.tsx
  extensions/jetbrains/src/sortTools.tsx
  extensions/jetbrains/src/useAppHistory.tsx
  extensions/jetbrains/src/util.ts
Labels: extension fix / improvement, OP is author

#2815 New extension: Bike
  extensions/bike/.eslintrc.json
  extensions/bike/.gitignore
  extensions/bike/.prettierrc
  extensions/bike/CHANGELOG.md
  extensions/bike/README.md
  extensions/bike/assets/command-icon.png
  extensions/bike/assets/no-view.png
  extensions/bike/metadata/bike-1.png
  extensions/bike/metadata/bike-2.png
  extensions/bike/metadata/bike-3.png
  extensions/bike/package-lock.json
  extensions/bike/package.json
  extensions/bike/src/append-from-clipboard.ts
  extensions/bike/src/close-all-but-current.ts
  extensions/bike/src/copy-url.tsx
  extensions/bike/src/force-close-all-but-current.ts
  extensions/bike/src/index.tsx
  extensions/bike/src/minimize-all.ts
  extensions/bike/src/new-from-clipboard.ts
  extensions/bike/src/new-from-template.tsx
  extensions/bike/src/new.ts
  extensions/bike/src/set-background-color.tsx
  extensions/bike/src/set-foreground-color.tsx
  extensions/bike/tsconfig.json
  extensions/pipe-commands/assets/commands/text/count-characters.sh
Labels: new extension

#2860 Update extension: Session breaks
  extensions/session/CHANGELOG.md
  extensions/session/package.json
  extensions/session/src/break-start.ts
Labels: extension fix / improvement, OP is author

#2853 Calendly OAuth Support
  extensions/calendly/CHANGELOG.md
  extensions/calendly/package-lock.json
  extensions/calendly/package.json
  extensions/calendly/src/calendly.tsx
  extensions/calendly/src/services/calendly.ts
  extensions/calendly/tsconfig.json
Labels: extension fix / improvement, OP is author

#2810 Update extension: Hide PR on visit
  extensions/github-review-requests/CHANGELOG.md
  extensions/github-review-requests/src/actionablePullRequests.tsx
  extensions/github-review-requests/src/components/PullRequestItem.tsx
  extensions/github-review-requests/src/hooks/usePullStore.ts
  extensions/github-review-requests/src/hooks/usePulls.tsx
Labels: extension fix / improvement, OP is contributor

#2840 Vercast: add Search Components command
  extensions/vercast/CHANGELOG.md
  extensions/vercast/example.png
  extensions/vercast/package.json
  extensions/vercast/src/search-components.tsx
Labels: extension fix / improvement

#2740 Add wiggle-text extension
  extensions/wiggle-text/.eslintrc.json
  extensions/wiggle-text/.gitignore
  extensions/wiggle-text/.prettierrc
  extensions/wiggle-text/CHANGELOG.md
  extensions/wiggle-text/README.md
  extensions/wiggle-text/assets/command-icon.png
  extensions/wiggle-text/metadata/wiggle-text-1.png
  extensions/wiggle-text/package-lock.json
  extensions/wiggle-text/package.json
  extensions/wiggle-text/src/index.tsx
  extensions/wiggle-text/src/wiggle.ts
  extensions/wiggle-text/tsconfig.json
Labels: new extension, status: awaiting response from dev

#2634 New extension: LIFX 1.2
  extensions/lifx/.eslintrc.json
  extensions/lifx/.prettierrc
  extensions/lifx/CHANGELOG.md
  extensions/lifx/README.md
  extensions/lifx/TODO.md
  extensions/lifx/assets/bulb-icon.png
  extensions/lifx/assets/lifx-extension-icon.png
  extensions/lifx/assets/lifx-icon-64.png
  extensions/lifx/metadata/Brightness.png
  extensions/lifx/metadata/Color.png
  extensions/lifx/metadata/Info.png
  extensions/lifx/metadata/Temprature.png
  extensions/lifx/metadata/manage-lights.png
  extensions/lifx/metadata/set-light.png
  extensions/lifx/metadata/set-scene.png
  extensions/lifx/package-lock.json
  extensions/lifx/package.json
  extensions/lifx/src/index.tsx
  extensions/lifx/src/lib/api.ts
  extensions/lifx/src/lib/colorAlgos.ts
  extensions/lifx/src/lib/constants.ts
  extensions/lifx/src/lib/interfaces.ts
  extensions/lifx/src/turnOffAllLights.tsx
  extensions/lifx/src/turnOnAllLights.tsx
  extensions/lifx/src/viewEffects.tsx
  extensions/lifx/src/viewScenes.tsx
  extensions/lifx/tsconfig.json
Labels: new extension

#2783 Fixed some bugs for Canvascast extension
  extensions/canvascast/CHANGELOG.md
  extensions/canvascast/README.md
  extensions/canvascast/assets/home-page.png
  extensions/canvascast/assets/home-page.svg
  extensions/canvascast/assets/invalid-api-key.png
  extensions/canvascast/assets/invalid-api-key.svg
  extensions/canvascast/assets/invalid-domain.png
  extensions/canvascast/assets/invalid-domain.svg
  extensions/canvascast/package-lock.json
  extensions/canvascast/package.json
  extensions/canvascast/src/components/module-item.tsx
  extensions/canvascast/src/components/modules.tsx
  extensions/canvascast/src/index.tsx
  extensions/canvascast/src/utils/api.ts
  extensions/canvascast/src/utils/recent.ts
  extensions/canvascast/src/utils/types.ts
  extensions/canvascast/src/utils/utils.ts
Labels: extension fix / improvement, status: awaiting response from dev, OP is contributor

#2788 [Spotify-Player] Artist list markdown cleanup
  extensions/spotify-player/src/components/ArtistListItem.tsx
Labels: extension fix / improvement

#2830 New extension: Ecosia Search
  extensions/ecosia-search/.eslintrc.json
  extensions/ecosia-search/.gitignore
  extensions/ecosia-search/.prettierrc
  extensions/ecosia-search/CHANGELOG.md
  extensions/ecosia-search/README.md
  extensions/ecosia-search/assets/command-icon.png
  extensions/ecosia-search/package-lock.json
  extensions/ecosia-search/package.json
  extensions/ecosia-search/src/index.tsx
  extensions/ecosia-search/tsconfig.json
Labels: new extension

#2846 New Extension: New York Times API
  extensions/new-york-times/.eslintrc.json
  extensions/new-york-times/.prettierrc
  extensions/new-york-times/CHANGELOG.md
  extensions/new-york-times/README.md
  extensions/new-york-times/assets/icon.png
  extensions/new-york-times/metadata/new-york-times-1.png
  extensions/new-york-times/metadata/new-york-times-2.png
  extensions/new-york-times/metadata/new-york-times-3.png
  extensions/new-york-times/package-lock.json
  extensions/new-york-times/package.json
  extensions/new-york-times/src/nyt-popular-posts.tsx
  extensions/new-york-times/src/nyt-search-posts.tsx
  extensions/new-york-times/src/nyt-top-posts.tsx
  extensions/new-york-times/src/popular-posts-types.ts
  extensions/new-york-times/src/search-posts-types.ts
  extensions/new-york-times/src/top-posts-types.ts
  extensions/new-york-times/src/utils.ts
  extensions/new-york-times/tsconfig.json
Labels: new extension

#2879 Update Dash extension
  extensions/dash/src/hooks/useDocsets.ts
Labels: extension fix / improvement

#2887 [Update Obsidian Extension] Copy Code Action, Show Mentioning Notes Action, Tag List, Open URL
  extensions/obsidian/CHANGELOG.md
  extensions/obsidian/package-lock.json
  extensions/obsidian/package.json
  extensions/obsidian/src/components/MediaGrid.tsx
  extensions/obsidian/src/components/NoteList/NoteList.tsx
  extensions/obsidian/src/components/NoteList/NoteListDropdown.tsx
  extensions/obsidian/src/components/NoteList/NoteListItem.tsx
  extensions/obsidian/src/components/NoteList/NoteListObsidian.tsx
  extensions/obsidian/src/components/NoteList/NoteListPinned.tsx
  extensions/obsidian/src/components/Toasts.tsx
  extensions/obsidian/src/obsidianMenuBar.tsx
  extensions/obsidian/src/pinnedNotesCommand.tsx
  extensions/obsidian/src/searchNoteCommand.tsx
  extensions/obsidian/src/utils/NoteCreator.tsx
  extensions/obsidian/src/utils/actions.tsx
  extensions/obsidian/src/utils/cache.tsx
  extensions/obsidian/src/utils/constants.tsx
  extensions/obsidian/src/utils/interfaces.tsx
  extensions/obsidian/src/utils/loader.tsx
  extensions/obsidian/src/utils/pinNoteUtils.tsx
  extensions/obsidian/src/utils/search.tsx
  extensions/obsidian/src/utils/utils.tsx
  extensions/obsidian/src/utils/yaml.tsx
Labels: extension fix / improvement, OP is author

#2869 [Color Casket] Filter by color type
  extensions/color-casket/CHANGELOG.md
  extensions/color-casket/README.md
  extensions/color-casket/media/donate-banner.png
  extensions/color-casket/metadata/screenshot-1.png
  extensions/color-casket/metadata/screenshot-2.png
  extensions/color-casket/metadata/screenshot-3.png
  extensions/color-casket/metadata/screenshot-4.png
  extensions/color-casket/package.json
  extensions/color-casket/src/Extension.tsx
  extensions/color-casket/src/TypeFilter.tsx
  extensions/color-casket/src/colors/Color.ts
  extensions/color-casket/src/components/ColorPickers.tsx
  extensions/color-casket/src/components/GeneralActions.tsx
  extensions/color-casket/src/picker.tsx
Labels: extension fix / improvement, OP is author

#2796 Add PagerDuty extension
  extensions/pagerduty/.eslintrc.json
  extensions/pagerduty/.gitignore
  extensions/pagerduty/.prettierrc
  extensions/pagerduty/CHANGELOG.md
  extensions/pagerduty/README.md
  extensions/pagerduty/assets/command-icon.png
  extensions/pagerduty/media/raycast-pagerduty-demo.gif
  extensions/pagerduty/metadata/pagerduty-1.png
  extensions/pagerduty/metadata/pagerduty-2.png
  extensions/pagerduty/metadata/pagerduty-3.png
  extensions/pagerduty/package-lock.json
  extensions/pagerduty/package.json
  extensions/pagerduty/src/index.tsx
  extensions/pagerduty/tsconfig.json
Labels: new extension, status: awaiting response from dev

#2828 [Spotify-Player] Add the ability to dislike songs
  extensions/spotify-player/CHANGELOG.md
  extensions/spotify-player/package.json
  extensions/spotify-player/src/dislikeCurrentSong.ts
  extensions/spotify-player/src/nowPlayingMenuBar.tsx
  extensions/spotify-player/src/spotify/client.ts
Labels: extension fix / improvement

#2890 [Color Casket] Update screenshot and broken links
  extensions/color-casket/README.md
  extensions/color-casket/metadata/screenshot-2.png
Labels: extension fix / improvement, OP is author

#2629 Sentry: Issue details and assign action
  extensions/sentry/CHANGELOG.md
  extensions/sentry/README.md
  extensions/sentry/package-lock.json
  extensions/sentry/package.json
  extensions/sentry/src/Actions.tsx
  extensions/sentry/src/IssueDetails.tsx
  extensions/sentry/src/IssueListItem.tsx
  extensions/sentry/src/ProjectDropdown.tsx
  extensions/sentry/src/UnauthorizedError.tsx
  extensions/sentry/src/cache.ts
  extensions/sentry/src/fake.ts
  extensions/sentry/src/hooks.ts
  extensions/sentry/src/index.tsx
  extensions/sentry/src/sentry.ts
  extensions/sentry/src/types.ts
  extensions/sentry/src/utils.ts
Labels: extension fix / improvement, OP is author

#2892 [Folder Search] - more actions and plugin support
  extensions/folder-search/CHANGELOG.md
  extensions/folder-search/README.md
  extensions/folder-search/metadata/folder-search-5.png
  extensions/folder-search/package-lock.json
  extensions/folder-search/package.json
  extensions/folder-search/src/search.tsx
  extensions/folder-search/src/types.tsx
  extensions/folder-search/src/utils.tsx
Labels: extension fix / improvement, OP is author

#2884 LIFX 1.2 Updated README, CHANGELOG and screenshots
  extensions/lifx/CHANGELOG.md
  extensions/lifx/README.md
  extensions/lifx/TODO.md
  extensions/lifx/metadata/lifx-brightness.png
  extensions/lifx/metadata/lifx-color.png
  extensions/lifx/metadata/lifx-commands.png
  extensions/lifx/metadata/lifx-manage-lights.png
  extensions/lifx/metadata/lifx-scenes.png
  extensions/lifx/readme-assets/Step-2.png
  extensions/lifx/readme-assets/Step-3.png
  extensions/lifx/readme-assets/Step-4.png
  extensions/lifx/readme-assets/Step-5.png
  extensions/lifx/src/lib/api.ts
Labels: extension fix / improvement, OP is author

#2894 New Extension: Ethereum Price Extension
  extensions/ethereum-price/.eslintrc.json
  extensions/ethereum-price/.gitignore
  extensions/ethereum-price/.prettierrc
  extensions/ethereum-price/CHANGELOG.md
  extensions/ethereum-price/README.md
  extensions/ethereum-price/assets/eth-price-icon.png
  extensions/ethereum-price/metadata/screenshot-1.png
  extensions/ethereum-price/metadata/screenshot-2.png
  extensions/ethereum-price/package-lock.json
  extensions/ethereum-price/package.json
  extensions/ethereum-price/src/eth-menu-bar.tsx
  extensions/ethereum-price/tsconfig.json
Labels: new extension

#2852 feature(confluence-search): add "unsafe https" option
  extensions/confluence-search/CHANGELOG.md
  extensions/confluence-search/package.json
  extensions/confluence-search/src/index.tsx
Labels: extension fix / improvement

#2731 Add dou tu extension
  extensions/dou-tu/.eslintrc.json
  extensions/dou-tu/.gitignore
  extensions/dou-tu/.prettierrc
  extensions/dou-tu/CHANGELOG.md
  extensions/dou-tu/README.md
  extensions/dou-tu/assets/click.png
  extensions/dou-tu/assets/icon.png
  extensions/dou-tu/assets/more.png
  extensions/dou-tu/metadata/dou-tu-1.png
  extensions/dou-tu/metadata/dou-tu-2.png
  extensions/dou-tu/metadata/dou-tu-3.png
  extensions/dou-tu/metadata/dou-tu-4.png
  extensions/dou-tu/package-lock.json
  extensions/dou-tu/package.json
  extensions/dou-tu/src/index.tsx
  extensions/dou-tu/src/services/clipboardService.ts
  extensions/dou-tu/src/services/sources.ts
  extensions/dou-tu/src/services/sourcesService.ts
  extensions/dou-tu/tsconfig.json
Labels: new extension

#2503 [SF Symbols Search] Grid View and Filter by Category
  extensions/sf-symbols-search/CHANGELOG.md
  extensions/sf-symbols-search/Makefile
  extensions/sf-symbols-search/SFSymbolsSearch.playground/Contents.swift
  extensions/sf-symbols-search/SFSymbolsSearch.playground/Resources/symbol_categories.plist
  extensions/sf-symbols-search/SFSymbolsSearch.playground/Resources/symbol_glyphs.txt
  extensions/sf-symbols-search/SFSymbolsSearch.playground/Resources/symbol_names.txt
  extensions/sf-symbols-search/SFSymbolsSearch.playground/contents.xcplayground
  extensions/sf-symbols-search/SFSymbolsSearch.playground/playground.xcworkspace/contents.xcworkspacedata
  extensions/sf-symbols-search/assets/command-icon.png
  extensions/sf-symbols-search/assets/symbols.json
  extensions/sf-symbols-search/assets/symbols/data.json
  extensions/sf-symbols-search/assets/symbols/data_beta.json
  extensions/sf-symbols-search/package-lock.json
  extensions/sf-symbols-search/package.json
  extensions/sf-symbols-search/src/index.tsx
  extensions/sf-symbols-search/src/storage.tsx
Labels: extension fix / improvement

#2898 [Folder Search] maintenance
  extensions/folder-search/README.md
Labels: extension fix / improvement, OP is author

#2855 Add OpenAI GPT3 extension to Raycast
  extensions/openai-gpt3/.eslintrc.json
  extensions/openai-gpt3/.prettierrc
  extensions/openai-gpt3/CHANGELOG.md
  extensions/openai-gpt3/README.md
  extensions/openai-gpt3/assets/encoder.json
  extensions/openai-gpt3/assets/examples.ts
  extensions/openai-gpt3/assets/openai-logo.png
  extensions/openai-gpt3/assets/vocab.bpe
  extensions/openai-gpt3/metadata/openai-gpt3-1.png
  extensions/openai-gpt3/metadata/openai-gpt3-2.png
  extensions/openai-gpt3/metadata/openai-gpt3-3.png
  extensions/openai-gpt3/package-lock.json
  extensions/openai-gpt3/package.json
  extensions/openai-gpt3/src/ai.tsx
  extensions/openai-gpt3/src/encoder.d.ts
  extensions/openai-gpt3/src/encoder.js
  extensions/openai-gpt3/src/info-messages.ts
  extensions/openai-gpt3/tsconfig.json
Labels: new extension

#2870 Add jenkins extension
  extensions/jenkins/.editorconfig
  extensions/jenkins/.eslintrc.json
  extensions/jenkins/.gitignore
  extensions/jenkins/.prettierrc
  extensions/jenkins/CHANGELOG.md
  extensions/jenkins/LICENSE
  extensions/jenkins/README.md
  extensions/jenkins/assets/icon.png
  extensions/jenkins/assets/iconnv.png
  extensions/jenkins/package-lock.json
  extensions/jenkins/package.json
  extensions/jenkins/src/jenkins.tsx
  extensions/jenkins/src/lib/api.ts
  extensions/jenkins/src/lib/storage.ts
  extensions/jenkins/src/search.tsx
  extensions/jenkins/tsconfig.json
Labels: new extension

#2866 [Easydict] ✨ Add Youdao dictionary Wikipedia type
  extensions/easydict/CHANGELOG.md
  extensions/easydict/README.md
  extensions/easydict/docs/README_ZH.md
  extensions/easydict/metadata/easydict-2.png
  extensions/easydict/package.json
  extensions/easydict/src/components.tsx
  extensions/easydict/src/dataManager/dataManager.ts
  extensions/easydict/src/dataManager/utils.ts
  extensions/easydict/src/detectLanauge/detect.ts
  extensions/easydict/src/detectLanauge/utils.ts
  extensions/easydict/src/dictionary/linguee/linguee.ts
  extensions/easydict/src/dictionary/youdao/formatData.ts
  extensions/easydict/src/dictionary/youdao/types.ts
  extensions/easydict/src/dictionary/youdao/youdao.ts
  extensions/easydict/src/easydict.tsx
  extensions/easydict/src/releaseVersion/releaseNote.ts
  extensions/easydict/src/releaseVersion/versionInfo.ts
  extensions/easydict/src/translation/baidu.ts
  extensions/easydict/src/translation/google.ts
  extensions/easydict/src/types.ts
  extensions/easydict/src/utils.ts
Labels: extension fix / improvement, OP is author

#2912 Add dropdown support for the devdocs extension
  extensions/devdocs/CHANGELOG.md
  extensions/devdocs/README.md
  extensions/devdocs/metadata/devdocs-1.png
  extensions/devdocs/metadata/devdocs-2.png
  extensions/devdocs/package-lock.json
  extensions/devdocs/package.json
  extensions/devdocs/src/index.tsx
  extensions/devdocs/src/types.ts
  extensions/devdocs/src/useVisitedDocs.ts
Labels: extension fix / improvement, OP is author

#2917 Update Anybox extension
  extensions/anybox/CHANGELOG.md
  extensions/anybox/assets/anybox-icon-small.png
  extensions/anybox/assets/anybox-icon.png
  extensions/anybox/metadata/anybox-1.png
  extensions/anybox/metadata/anybox-2.png
  extensions/anybox/metadata/anybox-3.png
  extensions/anybox/package.json
Labels: extension fix / improvement, OP is author

#2939 Bug Fix: Steam loading bug
  extensions/steam/CHANGELOG.md
  extensions/steam/README.md
  extensions/steam/media/steam-01.png
  extensions/steam/media/steam-02.png
  extensions/steam/src/lib/fetcher.ts
Labels: extension fix / improvement, OP is author

#2909 Revamp rss extension
  extensions/rss-reader/CHANGELOG.md
  extensions/rss-reader/metadata/detail.png
  extensions/rss-reader/metadata/feeds.png
  extensions/rss-reader/metadata/rss-reader-1.png
  extensions/rss-reader/metadata/rss-reader-2.png
  extensions/rss-reader/metadata/rss-reader-3.png
  extensions/rss-reader/metadata/stories.png
  extensions/rss-reader/package-lock.json
  extensions/rss-reader/package.json
  extensions/rss-reader/src/feeds.tsx
  extensions/rss-reader/src/stories.tsx
  extensions/rss-reader/src/subscription-form.tsx
Labels: extension fix / improvement

#2934 changes to top queries parsing format
  extensions/pie-for-pihole/CHANGELOG.md
  extensions/pie-for-pihole/src/top-queries.tsx
Labels: extension fix / improvement, OP is author

#2868 feat(dota-2): Add New Extension
  extensions/dota-2/.eslintrc.json
  extensions/dota-2/.gitignore
  extensions/dota-2/.nvmrc
  extensions/dota-2/.prettierrc
  extensions/dota-2/CHANGELOG.md
  extensions/dota-2/README.md
  extensions/dota-2/assets/attributes/agi.webp
  extensions/dota-2/assets/attributes/int.webp
  extensions/dota-2/assets/attributes/str.webp
  extensions/dota-2/assets/gold.webp
  extensions/dota-2/assets/icon.png
  extensions/dota-2/assets/links/dotabuff.png
  extensions/dota-2/assets/links/opendota.png
  extensions/dota-2/assets/links/wiki.ico
  extensions/dota-2/assets/mana.webp
  extensions/dota-2/metadata/dota-1.png
  extensions/dota-2/metadata/dota-2.png
  extensions/dota-2/metadata/dota-3.png
  extensions/dota-2/metadata/dota-4.png
  extensions/dota-2/package-lock.json
  extensions/dota-2/package.json
  extensions/dota-2/src/command-heroes.tsx
  extensions/dota-2/src/command-items.tsx
  extensions/dota-2/src/commands/heroes/components/HeroList.tsx
  extensions/dota-2/src/commands/heroes/components/HeroListItem.tsx
  extensions/dota-2/src/commands/heroes/fetch.ts
  extensions/dota-2/src/commands/heroes/types.ts
  extensions/dota-2/src/commands/items/components/ItemList.tsx
  extensions/dota-2/src/commands/items/components/ItemListItem.tsx
  extensions/dota-2/src/commands/items/fetch.ts
  extensions/dota-2/src/commands/items/types.ts
  extensions/dota-2/src/data/attributes.ts
  extensions/dota-2/src/types.ts
  extensions/dota-2/tsconfig.json
Labels: new extension

#2876 Bilibili
  extensions/Bilibili/.eslintrc.json
  extensions/Bilibili/.gitignore
  extensions/Bilibili/.prettierrc
  extensions/Bilibili/CHANGELOG.md
  extensions/Bilibili/README.md
  extensions/Bilibili/assets/bilibili.png
  extensions/Bilibili/metadata/bilibili-1.png
  extensions/Bilibili/metadata/bilibili-2.png
  extensions/Bilibili/package-lock.json
  extensions/Bilibili/package.json
  extensions/Bilibili/src/components/index.ts
  extensions/Bilibili/src/components/noLoginView.tsx
  extensions/Bilibili/src/components/post.tsx
  extensions/Bilibili/src/components/video.tsx
  extensions/Bilibili/src/dynamicFeed.tsx
  extensions/Bilibili/src/hooks/index.ts
  extensions/Bilibili/src/hooks/useDynamicFeed.ts
  extensions/Bilibili/src/hooks/useLogin.ts
  extensions/Bilibili/src/hooks/usePopularSeriesList.ts
  extensions/Bilibili/src/hooks/usePopularSeriesVideos.ts
  extensions/Bilibili/src/hooks/usePopularVideos.ts
  extensions/Bilibili/src/hooks/useRcmdVideos.ts
  extensions/Bilibili/src/login.tsx
  extensions/Bilibili/src/popularSeries.tsx
  extensions/Bilibili/src/popularVideos.tsx
  extensions/Bilibili/src/rcmdVideos.tsx
  extensions/Bilibili/src/types.ts
  extensions/Bilibili/src/utils/api.ts
  extensions/Bilibili/src/utils/checkLogin.ts
  extensions/Bilibili/src/utils/checkQRCode.ts
  extensions/Bilibili/src/utils/gennerateQRCode.ts
  extensions/Bilibili/src/utils/getDynamicFeed.ts
  extensions/Bilibili/src/utils/getPopularSeriesList.ts
  extensions/Bilibili/src/utils/getPopularSeriesVideos.ts
  extensions/Bilibili/src/utils/getPopularVideos.ts
  extensions/Bilibili/src/utils/getRcmd.ts
  extensions/Bilibili/src/utils/index.ts
  extensions/Bilibili/src/utils/logout.ts
  extensions/Bilibili/src/utils/tools.ts
  extensions/Bilibili/tsconfig.json
Labels: new extension

#2895 New Extension: Jotoba — Japanese Dictionary
  extensions/jotoba/.eslintrc.json
  extensions/jotoba/.gitignore
  extensions/jotoba/.prettierrc.json
  extensions/jotoba/CHANGELOG.md
  extensions/jotoba/README.md
  extensions/jotoba/assets/JotoHead.svg
  extensions/jotoba/assets/PartsOfSpeech.json
  extensions/jotoba/assets/command-icon.png
  extensions/jotoba/metadata/raycast-jotoba-1.png
  extensions/jotoba/metadata/raycast-jotoba-2.png
  extensions/jotoba/metadata/raycast-jotoba-3.png
  extensions/jotoba/package-lock.json
  extensions/jotoba/package.json
  extensions/jotoba/src/JotobaUtils.ts
  extensions/jotoba/src/actions/OpenInJotoba.tsx
  extensions/jotoba/src/components/Details/KanjiDetailsView.tsx
  extensions/jotoba/src/components/Details/WordDetailsView.tsx
  extensions/jotoba/src/components/ListItems/KanjiListItem.tsx
  extensions/jotoba/src/components/ListItems/ListItemDetail/KanjiListItemDetail.tsx
  extensions/jotoba/src/components/ListItems/ListItemDetail/WordListItemDetail.tsx
  extensions/jotoba/src/components/ListItems/WordListItem.tsx
  extensions/jotoba/src/index.tsx
  extensions/jotoba/src/types/raycastJotoba.d.ts
  extensions/jotoba/src/useFetchAsync.tsx
  extensions/jotoba/src/useJotobaAsync.tsx
  extensions/jotoba/tsconfig.json
Labels: new extension

#2888 add-savvycal-extension
  extensions/savvycal/.eslintrc.json
  extensions/savvycal/.gitignore
  extensions/savvycal/.prettierrc
  extensions/savvycal/CHANGELOG.md
  extensions/savvycal/README.md
  extensions/savvycal/assets/savvycal-icon.png
  extensions/savvycal/metadata/savvycal-1.png
  extensions/savvycal/metadata/savvycal-2.png
  extensions/savvycal/package-lock.json
  extensions/savvycal/package.json
  extensions/savvycal/src/components/Link.tsx
  extensions/savvycal/src/components/LinkActions.tsx
  extensions/savvycal/src/listSchedulingLinks.tsx
  extensions/savvycal/src/utils/savvycal.ts
  extensions/savvycal/src/utils/types.ts
  extensions/savvycal/tsconfig.json
Labels: new extension

#2843 add ubuntu multipass plugin
  extensions/multipass/.eslintrc.json
  extensions/multipass/.gitignore
  extensions/multipass/.prettierrc
  extensions/multipass/CHANGELOG.md
  extensions/multipass/README.md
  extensions/multipass/assets/multipass-icon.png
  extensions/multipass/metadata/multipass-1.png
  extensions/multipass/package-lock.json
  extensions/multipass/package.json
  extensions/multipass/src/index.tsx
  extensions/multipass/src/typings/index.d.ts
  extensions/multipass/tsconfig.json
Labels: new extension

#2956 feat(linear): Support emojis for projects
  extensions/linear/CHANGELOG.md
  extensions/linear/src/components/CreateIssueForm.tsx
  extensions/linear/src/components/EditIssueForm.tsx
  extensions/linear/src/components/IssueActions/ProjectSubmenu.tsx
  extensions/linear/src/components/IssueDetail.tsx
  extensions/linear/src/components/Project.tsx
  extensions/linear/src/helpers/projects.ts
Labels: extension fix / improvement, OP is author

#2873 feat(regenradar): add extension for german regenradar
  extensions/deutscherwetterdienst/.eslintrc.json
  extensions/deutscherwetterdienst/.gitignore
  extensions/deutscherwetterdienst/.prettierrc
  extensions/deutscherwetterdienst/CHANGELOG.md
  extensions/deutscherwetterdienst/README.md
  extensions/deutscherwetterdienst/assets/command-icon.png
  extensions/deutscherwetterdienst/metadata/deutscherWetterdienst-1.png
  extensions/deutscherwetterdienst/metadata/deutscherWetterdienst-2.png
  extensions/deutscherwetterdienst/package-lock.json
  extensions/deutscherwetterdienst/package.json
  extensions/deutscherwetterdienst/src/rainradar.tsx
  extensions/deutscherwetterdienst/tsconfig.json
Labels: new extension

#2905 Added extension Any Website Search
  extensions/any-website-search/.eslintrc.json
  extensions/any-website-search/.gitignore
  extensions/any-website-search/.prettierrc
  extensions/any-website-search/CHANGELOG.md
  extensions/any-website-search/README.md
  extensions/any-website-search/assets/search-icon.png
  extensions/any-website-search/metadata/screenshot-1.png
  extensions/any-website-search/metadata/screenshot-2.png
  extensions/any-website-search/metadata/screenshot-3.png
  extensions/any-website-search/metadata/screenshot-4.png
  extensions/any-website-search/package-lock.json
  extensions/any-website-search/package.json
  extensions/any-website-search/src/delete-modal.ts
  extensions/any-website-search/src/edit-search-engine.tsx
  extensions/any-website-search/src/manage-saved-sites.tsx
  extensions/any-website-search/src/saved-sites.ts
  extensions/any-website-search/src/search-any-site.tsx
  extensions/any-website-search/src/types/xmlhttprequest.d.ts
  extensions/any-website-search/src/utils.ts
  extensions/any-website-search/tsconfig.json
Labels: new extension

#2606 New Extension: Empty Screenshot Folder
  extensions/empty-screenshots/.eslintrc.json
  extensions/empty-screenshots/.prettierrc
  extensions/empty-screenshots/CHANGELOG.md
  extensions/empty-screenshots/README.md
  extensions/empty-screenshots/assets/empty-screenshot-folder.png
  extensions/empty-screenshots/package-lock.json
  extensions/empty-screenshots/package.json
  extensions/empty-screenshots/src/index.ts
  extensions/empty-screenshots/tsconfig.json
Labels: new extension

#2861 Currency exchange
  extensions/currency-exchange/CHANGELOG.md
  extensions/currency-exchange/src/currency.tsx
  extensions/currency-exchange/src/index.tsx
Labels: extension fix / improvement, OP is author

#2896 New Extension: TeamGantt
  extensions/teamgantt/.eslintrc.json
  extensions/teamgantt/.prettierrc
  extensions/teamgantt/README.md
  extensions/teamgantt/assets/command-icon.png
  extensions/teamgantt/metadata/teamgantt-1.png
  extensions/teamgantt/metadata/teamgantt-2.png
  extensions/teamgantt/metadata/teamgantt-3.png
  extensions/teamgantt/metadata/teamgantt-4.png
  extensions/teamgantt/package-lock.json
  extensions/teamgantt/package.json
  extensions/teamgantt/src/api.ts
  extensions/teamgantt/src/comments.tsx
  extensions/teamgantt/src/my-tasks.tsx
  extensions/teamgantt/src/search.tsx
  extensions/teamgantt/src/task-details.tsx
  extensions/teamgantt/src/types.d.ts
  extensions/teamgantt/src/utils.ts
  extensions/teamgantt/tsconfig.json
Labels: new extension

#2906 New Extension: Ethereum Gas Tracker
  extensions/ethereum-gas-tracker/.eslintrc.json
  extensions/ethereum-gas-tracker/.gitignore
  extensions/ethereum-gas-tracker/.prettierrc
  extensions/ethereum-gas-tracker/CHANGELOG.md
  extensions/ethereum-gas-tracker/README.md
  extensions/ethereum-gas-tracker/assets/command-icon.png
  extensions/ethereum-gas-tracker/assets/icon-dark.png
  extensions/ethereum-gas-tracker/assets/icon-light.png
  extensions/ethereum-gas-tracker/package-lock.json
  extensions/ethereum-gas-tracker/package.json
  extensions/ethereum-gas-tracker/src/ethereum-gas-tracker.tsx
  extensions/ethereum-gas-tracker/tsconfig.json
Labels: new extension

#2911 New Extension: 1-Click Confetti 🎉
  extensions/1-click-confetti/.eslintrc.json
  extensions/1-click-confetti/.gitignore
  extensions/1-click-confetti/.prettierrc
  extensions/1-click-confetti/CHANGELOG.md
  extensions/1-click-confetti/README.md
  extensions/1-click-confetti/assets/icon-confetti.png
  extensions/1-click-confetti/assets/mixkit-happy-crowd-cheer-975.wav
  extensions/1-click-confetti/package-lock.json
  extensions/1-click-confetti/package.json
  extensions/1-click-confetti/src/index.tsx
  extensions/1-click-confetti/tsconfig.json
Labels: new extension

#2919 Add Parallels Virtual Machines initial version
  extensions/parallels-virtual-machines/.eslintrc.json
  extensions/parallels-virtual-machines/.gitignore
  extensions/parallels-virtual-machines/.prettierrc
  extensions/parallels-virtual-machines/CHANGELOG.md
  extensions/parallels-virtual-machines/README.md
  extensions/parallels-virtual-machines/assets/command-icon.png
  extensions/parallels-virtual-machines/assets/osicons/centos.png
  extensions/parallels-virtual-machines/assets/osicons/debian.png
  extensions/parallels-virtual-machines/assets/osicons/fedora.png
  extensions/parallels-virtual-machines/assets/osicons/kali.png
  extensions/parallels-virtual-machines/assets/osicons/linux.png
  extensions/parallels-virtual-machines/assets/osicons/macos.png
  extensions/parallels-virtual-machines/assets/osicons/other.png
  extensions/parallels-virtual-machines/assets/osicons/ubuntu.png
  extensions/parallels-virtual-machines/assets/osicons/win-10.png
  extensions/parallels-virtual-machines/assets/osicons/win-11.png
  extensions/parallels-virtual-machines/assets/osicons/win-other.png
  extensions/parallels-virtual-machines/metadata/parallels-virtual-machines-1.png
  extensions/parallels-virtual-machines/metadata/parallels-virtual-machines-2.png
  extensions/parallels-virtual-machines/metadata/parallels-virtual-machines-3.png
  extensions/parallels-virtual-machines/package-lock.json
  extensions/parallels-virtual-machines/package.json
  extensions/parallels-virtual-machines/src/actions.ts
  extensions/parallels-virtual-machines/src/index.tsx
  extensions/parallels-virtual-machines/src/types.ts
  extensions/parallels-virtual-machines/src/utils.ts
  extensions/parallels-virtual-machines/tsconfig.json
Labels: new extension

#2924 Urban Dictionary search
  extensions/urban-dictionary/.eslintrc.json
  extensions/urban-dictionary/.prettierrc
  extensions/urban-dictionary/CHANGELOG.md
  extensions/urban-dictionary/README.md
  extensions/urban-dictionary/assets/urban.png
  extensions/urban-dictionary/metadata/urban-dictionary-1.png
  extensions/urban-dictionary/metadata/urban-dictionary-2.png
  extensions/urban-dictionary/metadata/urban-dictionary-3.png
  extensions/urban-dictionary/metadata/urban-dictionary-4.png
  extensions/urban-dictionary/package-lock.json
  extensions/urban-dictionary/package.json
  extensions/urban-dictionary/src/index.tsx
  extensions/urban-dictionary/tsconfig.json
Labels: new extension

#2921 New Extension: Stretchly
  extensions/stretchly/.eslintrc.json
  extensions/stretchly/.gitignore
  extensions/stretchly/.prettierrc
  extensions/stretchly/CHANGELOG.md
  extensions/stretchly/README.md
  extensions/stretchly/assets/stretchly.png
  extensions/stretchly/assets/stretchly@dark.png
  extensions/stretchly/package-lock.json
  extensions/stretchly/package.json
  extensions/stretchly/src/skip-to-next-long-break.tsx
  extensions/stretchly/src/skip-to-next-mini-break.tsx
  extensions/stretchly/tsconfig.json
Labels: new extension

#2936 New extension: replicate.com
  extensions/replicate/.eslintrc.json
  extensions/replicate/.gitignore
  extensions/replicate/.prettierrc
  extensions/replicate/CHANGELOG.md
  extensions/replicate/README.md
  extensions/replicate/assets/command-icon.png
  extensions/replicate/assets/sql-wasm.wasm
  extensions/replicate/metadata/replicate-1.png
  extensions/replicate/metadata/replicate-2.png
  extensions/replicate/metadata/replicate-3.png
  extensions/replicate/package-lock.json
  extensions/replicate/package.json
  extensions/replicate/src/constants.ts
  extensions/replicate/src/hooks/useDatabase.ts
  extensions/replicate/src/lib/db.ts
  extensions/replicate/src/replicate.tsx
  extensions/replicate/src/types.ts
  extensions/replicate/src/utils/helpers.ts
  extensions/replicate/src/views/GridView.tsx
  extensions/replicate/src/views/ListDetails.tsx
  extensions/replicate/src/views/Single.tsx
  extensions/replicate/tsconfig.json
Labels: new extension

#2814 Add FocusTask extension
  extensions/focustask/.eslintignore
  extensions/focustask/.eslintrc.json
  extensions/focustask/.gitignore
  extensions/focustask/.prettierrc
  extensions/focustask/CHANGELOG.md
  extensions/focustask/README.md
  extensions/focustask/assets/difficulty1.svg
  extensions/focustask/assets/difficulty2.svg
  extensions/focustask/assets/difficulty3.svg
  extensions/focustask/assets/difficulty4.svg
  extensions/focustask/assets/difficulty5.svg
  extensions/focustask/assets/focustask.png
  extensions/focustask/assets/phone.svg
  extensions/focustask/assets/run.svg
  extensions/focustask/metadata/Screenshot 1.jpg
  extensions/focustask/metadata/Screenshot 2.jpg
  extensions/focustask/package-lock.json
  extensions/focustask/package.json
  extensions/focustask/src/api/helpers.ts
  extensions/focustask/src/api/hooks.ts
  extensions/focustask/src/api/types.ts
  extensions/focustask/src/components/create/create-form.tsx
  extensions/focustask/src/components/create/list-picker.tsx
  extensions/focustask/src/components/menubar/menubar.tsx
  extensions/focustask/src/components/menubar/task-item.tsx
  extensions/focustask/src/components/search/checklist-list-item.tsx
  extensions/focustask/src/components/search/search-list.tsx
  extensions/focustask/src/components/search/task-list-item.tsx
  extensions/focustask/src/create.tsx
  extensions/focustask/src/current-menubar.tsx
  extensions/focustask/src/helpers/colors.ts
  extensions/focustask/src/helpers/focustask.ts
  extensions/focustask/src/search.tsx
  extensions/focustask/tsconfig.json
Labels: new extension, status: awaiting response from dev

#2972 Ethereum Price Extension: optionally hide icon from menu bar
  extensions/ethereum-price/package.json
  extensions/ethereum-price/src/eth-menu-bar.tsx
Labels: extension fix / improvement, OP is author

#2933 Clipboard Editor extension
  extensions/clipboard-editor/.eslintrc.json
  extensions/clipboard-editor/.gitignore
  extensions/clipboard-editor/.prettierrc
  extensions/clipboard-editor/CHANGELOG.md
  extensions/clipboard-editor/README.md
  extensions/clipboard-editor/assets/icon.png
  extensions/clipboard-editor/assets/icon.svg
  extensions/clipboard-editor/metadata/clipboard-editor-1.png
  extensions/clipboard-editor/package-lock.json
  extensions/clipboard-editor/package.json
  extensions/clipboard-editor/src/edit-clipboard-text.tsx
  extensions/clipboard-editor/tsconfig.json
Labels: new extension

#2965 Updated Any Website Search extension
  extensions/any-website-search/README.md
  extensions/any-website-search/package.json
  extensions/any-website-search/src/edit-search-engine.tsx
  extensions/any-website-search/src/search-any-site.tsx
  extensions/any-website-search/src/search-suggestions.ts
Labels: extension fix / improvement, OP is author

#2955 [Easydict 2.3.0] ✨ Add support for Bing Translator
  extensions/easydict/CHANGELOG.md
  extensions/easydict/README.md
  extensions/easydict/assets/Bing Translate.png
  extensions/easydict/docs/README_ZH.md
  extensions/easydict/metadata/easydict-5.png
  extensions/easydict/metadata/easydict-6.png
  extensions/easydict/package-lock.json
  extensions/easydict/package.json
  extensions/easydict/src/audio.ts
  extensions/easydict/src/axiosConfig.ts
  extensions/easydict/src/checkIP.ts
  extensions/easydict/src/components.tsx
  extensions/easydict/src/consts.ts
  extensions/easydict/src/dataManager/dataManager.ts
  extensions/easydict/src/dataManager/utils.ts
  extensions/easydict/src/detectLanauge/detect.ts
  extensions/easydict/src/detectLanauge/franc.ts
  extensions/easydict/src/detectLanauge/types.ts
  extensions/easydict/src/dictionary/linguee/linguee.ts
  extensions/easydict/src/dictionary/youdao/formatData.ts
  extensions/easydict/src/dictionary/youdao/types.ts
  extensions/easydict/src/dictionary/youdao/youdao.ts
  extensions/easydict/src/easydict.tsx
  extensions/easydict/src/language/consts.ts
  extensions/easydict/src/language/languages.ts
  extensions/easydict/src/language/type.ts
  extensions/easydict/src/preferences.ts
  extensions/easydict/src/releaseVersion/releaseNote.ts
  extensions/easydict/src/releaseVersion/versionInfo.ts
  extensions/easydict/src/scripts.ts
  extensions/easydict/src/translation/baidu.ts
  extensions/easydict/src/translation/deepL.ts
  extensions/easydict/src/translation/google.ts
  extensions/easydict/src/translation/microsoft/bing.ts
  extensions/easydict/src/translation/microsoft/types.ts
  extensions/easydict/src/translation/tencent.ts
  extensions/easydict/src/types.ts
  extensions/easydict/src/utils.ts
Labels: extension fix / improvement, OP is author

#2858 feat(Timers): cleanup, support API changes, persistent timers, stopwatches
  extensions/timers/CHANGELOG.md
  extensions/timers/README.md
  extensions/timers/package-lock.json
  extensions/timers/package.json
  extensions/timers/src/RenameView.tsx
  extensions/timers/src/dismissTimerAlert.ts
  extensions/timers/src/formatUtils.ts
  extensions/timers/src/hooks/useStopwatches.ts
  extensions/timers/src/hooks/useTimers.ts
  extensions/timers/src/manageStopwatches.tsx
  extensions/timers/src/manageTimers.tsx
  extensions/timers/src/start10MinuteTimer.ts
  extensions/timers/src/start15MinuteTimer.ts
  extensions/timers/src/start25MinuteTimer.ts
  extensions/timers/src/start30MinuteTimer.ts
  extensions/timers/src/start45MinuteTimer.ts
  extensions/timers/src/start5MinuteTimer.ts
  extensions/timers/src/start60MinuteTimer.ts
  extensions/timers/src/start90MinuteTimer.ts
  extensions/timers/src/startCustomTimer.tsx
  extensions/timers/src/startStopwatch.ts
  extensions/timers/src/stopwatchUtils.ts
  extensions/timers/src/timerUtils.ts
  extensions/timers/src/timersMenuBar.tsx
  extensions/timers/src/types.ts
Labels: extension fix / improvement, status: awaiting response from dev, OP is author

#2988 Ethereum Gas Tracker Extension: optionally hide icon and unit from menu bar
  extensions/ethereum-gas-tracker/CHANGELOG.md
  extensions/ethereum-gas-tracker/package.json
  extensions/ethereum-gas-tracker/src/ethereum-gas-tracker.tsx
Labels: extension fix / improvement, OP is author

#2967 Bitwarden
  extensions/bitwarden/CHANGELOG.md
  extensions/bitwarden/package-lock.json
  extensions/bitwarden/package.json
  extensions/bitwarden/src/api.ts
  extensions/bitwarden/src/search.tsx
  extensions/bitwarden/src/types/index.ts
Labels: extension fix / improvement

#2937 feat(todoist): Bunch of improvements
  extensions/todoist/CHANGELOG.md
  extensions/todoist/assets/section.svg
  extensions/todoist/package-lock.json
  extensions/todoist/package.json
  extensions/todoist/src/components/Project.tsx
  extensions/todoist/src/components/ProjectForm.tsx
  extensions/todoist/src/components/TaskActions.tsx
  extensions/todoist/src/components/TaskCommentForm.tsx
  extensions/todoist/src/components/TaskComments.tsx
  extensions/todoist/src/components/TaskDetail.tsx
  extensions/todoist/src/components/TaskEdit.tsx
  extensions/todoist/src/components/TaskList.tsx
  extensions/todoist/src/components/TaskListItem.tsx
  extensions/todoist/src/components/View.tsx
  extensions/todoist/src/create-task-in-inbox.tsx
  extensions/todoist/src/create-task.tsx
  extensions/todoist/src/helpers.ts
  extensions/todoist/src/helpers/dates.ts
  extensions/todoist/src/helpers/isTodoistInstalled.ts
  extensions/todoist/src/helpers/sections.ts
  extensions/todoist/src/projects.tsx
  extensions/todoist/src/search.tsx
  extensions/todoist/src/today.tsx
  extensions/todoist/src/types.ts
  extensions/todoist/src/upcoming.tsx
Labels: extension fix / improvement, OP is author

#2985 Add new extension: CodeSnap
  extensions/codesnap/.eslintrc.json
  extensions/codesnap/.gitignore
  extensions/codesnap/.prettierrc
  extensions/codesnap/CHANGELOG.md
  extensions/codesnap/README.md
  extensions/codesnap/assets/command-icon.png
  extensions/codesnap/package-lock.json
  extensions/codesnap/package.json
  extensions/codesnap/src/index.tsx
  extensions/codesnap/tsconfig.json
Labels: new extension

#2886 fix(figma file search): always opening desktop app
  extensions/figma-files/CHANGELOG.md
  extensions/figma-files/package.json
  extensions/figma-files/src/components/FileGridItem.tsx
  extensions/figma-files/src/components/OpenProjectFileAction.tsx
  extensions/figma-files/src/hooks/useFigmaApp.ts
  extensions/figma-files/src/hooks/useProjectFiles.ts
  extensions/figma-files/src/index.tsx
Labels: extension fix / improvement

#2834 Add extension - Orion
  extensions/orion/.eslintrc.json
  extensions/orion/.gitignore
  extensions/orion/.prettierrc
  extensions/orion/CHANGELOG.md
  extensions/orion/assets/orion-icon.png
  extensions/orion/metadata/orion-1.png
  extensions/orion/metadata/orion-2.png
  extensions/orion/metadata/orion-3.png
  extensions/orion/metadata/orion-4.png
  extensions/orion/metadata/orion-5.png
  extensions/orion/metadata/orion-6.png
  extensions/orion/package-lock.json
  extensions/orion/package.json
  extensions/orion/src/bookmarks.tsx
  extensions/orion/src/components/BookmarkListItem.tsx
  extensions/orion/src/components/BookmarksFolderDropdown.tsx
  extensions/orion/src/components/CopyMarkdownLinkAction.tsx
  extensions/orion/src/components/CopyTitleAction.tsx
  extensions/orion/src/components/CopyUrlAction.tsx
  extensions/orion/src/components/HistoryListItem.tsx
  extensions/orion/src/components/HistoryListSection.tsx
  extensions/orion/src/history.tsx
  extensions/orion/src/hooks/useBookmarks.ts
  extensions/orion/src/hooks/useHistorySearch.ts
  extensions/orion/src/hooks/useReadingList.ts
  extensions/orion/src/reading-list.tsx
  extensions/orion/src/types.ts
  extensions/orion/src/utils.ts
  extensions/orion/tsconfig.json
Labels: new extension

#3018 [New Feature: Folder Search] add support for exact matching using square brackets
  extensions/folder-search/CHANGELOG.md
  extensions/folder-search/src/libs/node-spotlight/index.tsx
  extensions/folder-search/src/search-spotlight.tsx
  extensions/folder-search/src/search.tsx
Labels: extension fix / improvement, OP is author

#2990 [ONES] Optimize user experience
  extensions/ones/CHANGELOG.md
  extensions/ones/assets/command-icon-black.png
  extensions/ones/assets/icon.png
  extensions/ones/package-lock.json
  extensions/ones/package.json
  extensions/ones/src/lib/api.ts
  extensions/ones/src/lib/client.ts
  extensions/ones/src/manhour.tsx
  extensions/ones/src/search-project-sprint.tsx
  extensions/ones/src/search.tsx
Labels: extension fix / improvement, OP is author

#2981 Added uppercase support
  extensions/uuid-generator/CHANGELOG
  extensions/uuid-generator/package-lock.json
  extensions/uuid-generator/package.json
  extensions/uuid-generator/src/generate.tsx
Labels: extension fix / improvement

#2871 Add GitHub Codespaces extension
  extensions/github-codespaces/.eslintrc.json
  extensions/github-codespaces/.gitignore
  extensions/github-codespaces/CHANGELOG.md
  extensions/github-codespaces/README.md
  extensions/github-codespaces/assets/github.png
  extensions/github-codespaces/assets/github@dark.png
  extensions/github-codespaces/metadata/github-codespaces-1.png
  extensions/github-codespaces/metadata/github-codespaces-2.png
  extensions/github-codespaces/metadata/github-codespaces-3.png
  extensions/github-codespaces/metadata/github-codespaces-4.png
  extensions/github-codespaces/package-lock.json
  extensions/github-codespaces/package.json
  extensions/github-codespaces/src/actions/CodespaceActions.tsx
  extensions/github-codespaces/src/active-codespaces.tsx
  extensions/github-codespaces/src/methods/handleChangeCompute.ts
  extensions/github-codespaces/src/methods/handleDelete.ts
  extensions/github-codespaces/src/methods/handleRename.ts
  extensions/github-codespaces/src/methods/handleStop.ts
  extensions/github-codespaces/src/open-codespace.tsx
  extensions/github-codespaces/src/preferences.ts
  extensions/github-codespaces/src/types.ts
  extensions/github-codespaces/src/utils/groupBy.ts
  extensions/github-codespaces/src/utils/launchEditor.ts
  extensions/github-codespaces/src/views/ChangeCompute.tsx
  extensions/github-codespaces/src/views/CodespaceItem.tsx
  extensions/github-codespaces/src/views/Rename.tsx
  extensions/github-codespaces/src/views/SortBy.tsx
  extensions/github-codespaces/tsconfig.json
Labels: new extension, status: awaiting response from dev

#3017 Monse: Add option to update transactions
  extensions/monse/.prettierrc
  extensions/monse/CHANGELOG.md
  extensions/monse/package-lock.json
  extensions/monse/package.json
  extensions/monse/src/data-providers/categories-provider.ts
  extensions/monse/src/data-providers/transactions-provider.ts
  extensions/monse/src/transaction-details.tsx
  extensions/monse/src/transaction-edit-form.tsx
  extensions/monse/src/transactions.tsx
Labels: extension fix / improvement, OP is author

#3002 feat(TinyPNG): add resizing images command
  extensions/tinypng/README.md
  extensions/tinypng/package-lock.json
  extensions/tinypng/package.json
  extensions/tinypng/src/resizingImages.ts
Labels: extension fix / improvement, OP is author

#3027 Adding pipe command to convert space to newline
  extensions/pipe-commands/CHANGELOG.md
  extensions/pipe-commands/assets/commands/text/convert-space-to-newline.sh
Labels: extension fix / improvement

#3001 Updated Chakra UI Docs Extension
  extensions/chakra-ui-docs/CHANGELOG.md
  extensions/chakra-ui-docs/assets/chakra-ui.png
  extensions/chakra-ui-docs/assets/list-icon.png
  extensions/chakra-ui-docs/package-lock.json
  extensions/chakra-ui-docs/package.json
  extensions/chakra-ui-docs/src/components.tsx
  extensions/chakra-ui-docs/src/documentation/componentsDocs.tsx
  extensions/chakra-ui-docs/src/documentation/getStartedDocs.tsx
  extensions/chakra-ui-docs/src/documentation/hooksDocs.tsx
  extensions/chakra-ui-docs/src/documentation/styledSystemDocs.tsx
  extensions/chakra-ui-docs/src/get-started.tsx
  extensions/chakra-ui-docs/src/hooks.tsx
  extensions/chakra-ui-docs/src/index.tsx
  extensions/chakra-ui-docs/src/styled-system.tsx
Labels: extension fix / improvement

#3016 Add extension 'reverso-context'
  extensions/reverso-context/.eslintrc.json
  extensions/reverso-context/.gitignore
  extensions/reverso-context/.prettierrc
  extensions/reverso-context/CHANGELOG.md
  extensions/reverso-context/README.md
  extensions/reverso-context/assets/reverso-context.png
  extensions/reverso-context/metadata/reverso-context-1.png
  extensions/reverso-context/metadata/reverso-context-2.png
  extensions/reverso-context/metadata/reverso-context-3.png
  extensions/reverso-context/metadata/reverso-context-4.png
  extensions/reverso-context/metadata/reverso-context-5.png
  extensions/reverso-context/package-lock.json
  extensions/reverso-context/package.json
  extensions/reverso-context/src/context.tsx
  extensions/reverso-context/src/domain.tsx
  extensions/reverso-context/src/reversoApi.tsx
  extensions/reverso-context/src/utils.tsx
  extensions/reverso-context/tsconfig.json
Labels: new extension

#3036 Monse: fix first time loading error
  extensions/monse/CHANGELOG.md
  extensions/monse/src/data-providers/categories-provider.ts
  extensions/monse/src/transaction-details.tsx
  extensions/monse/src/transaction-edit-form.tsx
  extensions/monse/src/transactions.tsx
Labels: extension fix / improvement, OP is author

#2564 add the ability to conceal passwords and otps when copied to pasteboard
  extensions/keepassxc/CHANGELOG.md
  extensions/keepassxc/package-lock.json
  extensions/keepassxc/package.json
  extensions/keepassxc/src/index.tsx
  extensions/keepassxc/src/utils/keepassLoader.ts
Labels: extension fix / improvement

#2946 [New Extension: NameSpaces] Initial version
  extensions/namespaces/.eslintrc.json
  extensions/namespaces/.gitignore
  extensions/namespaces/.prettierrc
  extensions/namespaces/CHANGELOG.md
  extensions/namespaces/README.md
  extensions/namespaces/assets/namespaces.png
  extensions/namespaces/metadata/namespaces-1.png
  extensions/namespaces/metadata/namespaces-2.png
  extensions/namespaces/metadata/namespaces-3.png
  extensions/namespaces/package-lock.json
  extensions/namespaces/package.json
  extensions/namespaces/src/namespaces.tsx
  extensions/namespaces/src/types.tsx
  extensions/namespaces/src/utils.tsx
  extensions/namespaces/tsconfig.json
Labels: new extension

#2970 Add paperspace extension
  extensions/paperspace/.eslintrc.json
  extensions/paperspace/.gitignore
  extensions/paperspace/.prettierrc
  extensions/paperspace/CHANGELOG.md
  extensions/paperspace/README.md
  extensions/paperspace/assets/command-icon.png
  extensions/paperspace/metadata/paperspace-1.png
  extensions/paperspace/package-lock.json
  extensions/paperspace/package.json
  extensions/paperspace/src/index.tsx
  extensions/paperspace/src/machine-action-panel.tsx
  extensions/paperspace/src/machine.ts
  extensions/paperspace/src/preferences.ts
  extensions/paperspace/src/use-paperspace.tsx
  extensions/paperspace/tsconfig.json
Labels: new extension

#2976 [New Extension: Xecutor] Initial version
  extensions/xecutor/.eslintrc.json
  extensions/xecutor/.gitignore
  extensions/xecutor/.prettierrc
  extensions/xecutor/CHANGELOG.md
  extensions/xecutor/README.md
  extensions/xecutor/assets/xecutor.png
  extensions/xecutor/assets/xecutor@dark.png
  extensions/xecutor/metadata/xecutor-1.png
  extensions/xecutor/metadata/xecutor-2.png
  extensions/xecutor/metadata/xecutor-3.png
  extensions/xecutor/metadata/xecutor-4.png
  extensions/xecutor/package-lock.json
  extensions/xecutor/package.json
  extensions/xecutor/src/presets.tsx
  extensions/xecutor/src/types.tsx
  extensions/xecutor/tsconfig.json
Labels: new extension

#2999 Add Man Pages extension
  extensions/man-pages/.eslintrc.json
  extensions/man-pages/.gitignore
  extensions/man-pages/.prettierrc
  extensions/man-pages/CHANGELOG.md
  extensions/man-pages/README.md
  extensions/man-pages/assets/command-icon.png
  extensions/man-pages/assets/no-view.png
  extensions/man-pages/metadata/man-pages-1.png
  extensions/man-pages/metadata/man-pages-2.png
  extensions/man-pages/metadata/man-pages-3.png
  extensions/man-pages/package-lock.json
  extensions/man-pages/package.json
  extensions/man-pages/src/components/NotFound.tsx
  extensions/man-pages/src/components/PageDetail.tsx
  extensions/man-pages/src/components/Results.tsx
  extensions/man-pages/src/random-man-page.tsx
  extensions/man-pages/src/search-man-pages.tsx
  extensions/man-pages/src/utils.tsx
  extensions/man-pages/tsconfig.json
Labels: new extension

#3004 feat(crossbell): add crossbell extension
  extensions/crossbell/.eslintrc.json
  extensions/crossbell/.gitignore
  extensions/crossbell/.prettierrc
  extensions/crossbell/CHANGELOG.md
  extensions/crossbell/README.md
  extensions/crossbell/assets/logo.png
  extensions/crossbell/assets/no-view.png
  extensions/crossbell/metadata/crossbell-1.png
  extensions/crossbell/metadata/crossbell-2.png
  extensions/crossbell/metadata/crossbell-3.png
  extensions/crossbell/metadata/crossbell-4.png
  extensions/crossbell/metadata/crossbell-5.png
  extensions/crossbell/package-lock.json
  extensions/crossbell/package.json
  extensions/crossbell/src/apis/character.ts
  extensions/crossbell/src/apis/feed.ts
  extensions/crossbell/src/apis/index.ts
  extensions/crossbell/src/apis/ipfs.ts
  extensions/crossbell/src/apis/note.ts
  extensions/crossbell/src/apis/search.ts
  extensions/crossbell/src/components/CharacterActionPanel.tsx
  extensions/crossbell/src/components/CharacterDetail.tsx
  extensions/crossbell/src/components/CharacterListItem.tsx
  extensions/crossbell/src/components/CharacterNoteList.tsx
  extensions/crossbell/src/components/IpfsDetail.tsx
  extensions/crossbell/src/components/NoteActionPanel.tsx
  extensions/crossbell/src/components/NoteDetail.tsx
  extensions/crossbell/src/components/NoteListItem.tsx
  extensions/crossbell/src/feed.tsx
  extensions/crossbell/src/latest.tsx
  extensions/crossbell/src/search.tsx
  extensions/crossbell/src/utils/character.ts
  extensions/crossbell/src/utils/date.ts
  extensions/crossbell/src/utils/ipfs.ts
  extensions/crossbell/src/utils/note.ts
  extensions/crossbell/src/utils/preference.ts
  extensions/crossbell/src/utils/url.ts
  extensions/crossbell/tsconfig.json
Labels: new extension

#3009 Add Transform extension
  extensions/transform/.eslintrc.json
  extensions/transform/.gitignore
  extensions/transform/.npmrc
  extensions/transform/.prettierrc
  extensions/transform/.vscode/settings.json
  extensions/transform/CHANGELOG.md
  extensions/transform/README.md
  extensions/transform/assets/icon.png
  extensions/transform/metadata/transform-1.png
  extensions/transform/metadata/transform-2.png
  extensions/transform/package-lock.json
  extensions/transform/package.json
  extensions/transform/src/index.tsx
  extensions/transform/src/lib/markdown.ts
  extensions/transform/src/lib/types.d.ts
  extensions/transform/src/lib/utils.ts
  extensions/transform/src/transformers/css-to-js.ts
  extensions/transform/src/transformers/html-to-jsx.ts
  extensions/transform/src/transformers/html-to-markdown.ts
  extensions/transform/src/transformers/html-to-pug.ts
  extensions/transform/src/transformers/index.ts
  extensions/transform/src/transformers/js-object-to-json.ts
  extensions/transform/src/transformers/json-to-big-query.ts
  extensions/transform/src/transformers/json-to-go-bson.ts
  extensions/transform/src/transformers/json-to-go-struct.ts
  extensions/transform/src/transformers/json-to-graphql.ts
  extensions/transform/src/transformers/json-to-jsdoc.ts
  extensions/transform/src/transformers/json-to-json-schema.ts
  extensions/transform/src/transformers/json-to-kotlin.ts
  extensions/transform/src/transformers/json-to-toml.ts
  extensions/transform/src/transformers/json-to-typescript.tsx
  extensions/transform/src/transformers/json-to-yaml.ts
  extensions/transform/src/transformers/markdown-to-html.ts
  extensions/transform/src/transformers/markdown-to-pug.ts
  extensions/transform/src/transformers/pug-to-html.ts
  extensions/transform/src/transformers/pug-to-markdown.ts
  extensions/transform/src/transformers/string-to-regex.tsx
  extensions/transform/src/transformers/toml-to-json.ts
  extensions/transform/src/transformers/toml-to-yaml.ts
  extensions/transform/src/transformers/yaml-to-json.ts
  extensions/transform/src/transformers/yaml-to-toml.ts
  extensions/transform/tsconfig.json
Labels: new extension

#3012 [Easydict v2.3.1] 🐞 Fix bugs
  extensions/easydict/CHANGELOG.md
  extensions/easydict/README.md
  extensions/easydict/assets/Apple Translate.png
  extensions/easydict/assets/Baidu Translate.png
  extensions/easydict/assets/Bing Translate.png
  extensions/easydict/assets/Caiyun Translate.png
  extensions/easydict/assets/DeepL Translate.png
  extensions/easydict/assets/Eudic Dictionary.png
  extensions/easydict/assets/Eudic.png
  extensions/easydict/assets/Google Translate.png
  extensions/easydict/assets/Iciba Dictionary.png
  extensions/easydict/assets/Linguee Dictionary.png
  extensions/easydict/assets/Tencent Translate.png
  extensions/easydict/assets/Youdao Dictionary.png
  extensions/easydict/assets/Youdao Translate.png
  extensions/easydict/assets/play.png
  extensions/easydict/docs/README_ZH.md
  extensions/easydict/package.json
  extensions/easydict/src/audio.ts
  extensions/easydict/src/axiosConfig.ts
  extensions/easydict/src/components.tsx
  extensions/easydict/src/dataManager/dataManager.ts
  extensions/easydict/src/dataManager/utils.ts
  extensions/easydict/src/detectLanauge/detect.ts
  extensions/easydict/src/detectLanauge/franc.ts
  extensions/easydict/src/detectLanauge/utils.ts
  extensions/easydict/src/dictionary/linguee/parse.ts
  extensions/easydict/src/dictionary/youdao/formatData.ts
  extensions/easydict/src/dictionary/youdao/utils.ts
  extensions/easydict/src/dictionary/youdao/youdao.ts
  extensions/easydict/src/easydict.tsx
  extensions/easydict/src/language/consts.ts
  extensions/easydict/src/language/languages.ts
  extensions/easydict/src/language/type.ts
  extensions/easydict/src/releaseVersion/releaseNote.ts
  extensions/easydict/src/releaseVersion/versionInfo.ts
  extensions/easydict/src/scripts.ts
  extensions/easydict/src/translation/baidu.ts
  extensions/easydict/src/translation/google.ts
  extensions/easydict/src/translation/microsoft/bing.ts
  extensions/easydict/src/translation/tencent.ts
Labels: extension fix / improvement, OP is author

#3045 fix: filter out ad of rcmdVideos command
  extensions/Bilibili/CHANGELOG.md
  extensions/Bilibili/src/hooks/useRcmdVideos.ts
  extensions/Bilibili/src/rcmdVideos.tsx
Labels: extension fix / improvement, OP is author

#3008 Add Extension : Chinese Numbers
  extensions/chinese-numbers/.eslintrc.json
  extensions/chinese-numbers/.gitignore
  extensions/chinese-numbers/.prettierrc
  extensions/chinese-numbers/CHANGELOG.md
  extensions/chinese-numbers/README.md
  extensions/chinese-numbers/assets/chinese-numbers.png
  extensions/chinese-numbers/assets/no-view.png
  extensions/chinese-numbers/assets/screenshoot.png
  extensions/chinese-numbers/package-lock.json
  extensions/chinese-numbers/package.json
  extensions/chinese-numbers/src/index.tsx
  extensions/chinese-numbers/tsconfig.json
Labels: new extension

#3050 change pinned currency in menu bar
  extensions/ethereum-price/CHANGELOG.md
  extensions/ethereum-price/src/eth-menu-bar.tsx
Labels: extension fix / improvement, OP is author

#2994 New Extension: Lenscast
  extensions/lenscast/.eslintrc.json
  extensions/lenscast/.gitignore
  extensions/lenscast/.prettierrc
  extensions/lenscast/CHANGELOG.md
  extensions/lenscast/README.md
  extensions/lenscast/assets/icon.png
  extensions/lenscast/assets/list-icon.png
  extensions/lenscast/metadata/lenscast-1.png
  extensions/lenscast/metadata/lenscast-2.png
  extensions/lenscast/metadata/lenscast-3.png
  extensions/lenscast/metadata/lenscast-4.png
  extensions/lenscast/metadata/lenscast-5.png
  extensions/lenscast/package-lock.json
  extensions/lenscast/package.json
  extensions/lenscast/src/lib/apollo.ts
  extensions/lenscast/src/lib/fetchProfileSuggestions.ts
  extensions/lenscast/src/lib/fetchPublications.ts
  extensions/lenscast/src/profiles.tsx
  extensions/lenscast/src/types.ts
  extensions/lenscast/tsconfig.json
Labels: new extension

#3054 Update Quick Access extension
  extensions/quick-access/CHANGELOG.md
  extensions/quick-access/package-lock.json
  extensions/quick-access/package.json
  extensions/quick-access/src/pinned-folders-menu-bar.tsx
Labels: extension fix / improvement, OP is author

#3056 Update Short.io extension
  extensions/short-io/CHANGELOG.md
  extensions/short-io/package-lock.json
  extensions/short-io/package.json
  extensions/short-io/src/search-links-menu-bar.tsx
Labels: extension fix / improvement, OP is author

#3055 Update Common directory extension
  extensions/common-directory/CHANGELOG.md
  extensions/common-directory/package-lock.json
  extensions/common-directory/package.json
  extensions/common-directory/src/open-common-directory-menu-bar.tsx
Labels: extension fix / improvement, OP is author

#3063 Update Wifi extension
  extensions/wi-fi/CHANGELOG.md
  extensions/wi-fi/package-lock.json
  extensions/wi-fi/package.json
  extensions/wi-fi/src/hooks/hooks.ts
Labels: extension fix / improvement, OP is author

#3064 Update Google Maven Repository extension
  extensions/google-maven-repository/CHANGELOG.md
  extensions/google-maven-repository/assets/android-bot.png
  extensions/google-maven-repository/assets/android-bot.svg
  extensions/google-maven-repository/assets/no-view.png
  extensions/google-maven-repository/package-lock.json
  extensions/google-maven-repository/package.json
  extensions/google-maven-repository/src/hooks/hooks.ts
  extensions/google-maven-repository/src/search-google-maven-repository.tsx
  extensions/google-maven-repository/src/utils/constans.ts
  extensions/google-maven-repository/src/utils/ui-component.tsx
Labels: extension fix / improvement, OP is author

#3058 [Canvascast] Add Feed command
  extensions/canvascast/CHANGELOG.md
  extensions/canvascast/package-lock.json
  extensions/canvascast/package.json
  extensions/canvascast/src/components/announcement.tsx
  extensions/canvascast/src/components/assignment.tsx
  extensions/canvascast/src/components/quiz.tsx
  extensions/canvascast/src/feed.tsx
  extensions/canvascast/src/index.tsx
  extensions/canvascast/src/utils/api.ts
  extensions/canvascast/src/utils/types.ts
  extensions/canvascast/src/utils/utils.ts
Labels: extension fix / improvement, OP is author

#3042 Add: OSS Insight Extension
  extensions/ossinsight/.editorconfig
  extensions/ossinsight/.eslintrc.json
  extensions/ossinsight/.gitignore
  extensions/ossinsight/.prettierrc
  extensions/ossinsight/CHANGELOG.md
  extensions/ossinsight/README.md
  extensions/ossinsight/assets/icon.png
  extensions/ossinsight/metadata/ossinsight-trending-repos.png
  extensions/ossinsight/package-lock.json
  extensions/ossinsight/package.json
  extensions/ossinsight/src/index.tsx
  extensions/ossinsight/tsconfig.json
Labels: new extension

#3069 Update Harvest: Improved Project search
  extensions/harvest/CHANGELOG.md
  extensions/harvest/package-lock.json
  extensions/harvest/package.json
  extensions/harvest/src/new.tsx
Labels: extension fix / improvement, OP is author

#3051 SimpleBackups - initial version
  extensions/simplebackups/.eslintrc.json
  extensions/simplebackups/.gitignore
  extensions/simplebackups/.prettierrc
  extensions/simplebackups/CHANGELOG.md
  extensions/simplebackups/README.md
  extensions/simplebackups/assets/command-icon.png
  extensions/simplebackups/assets/simplebackups-ico-64.png
  extensions/simplebackups/metadata/simplebackups-1.png
  extensions/simplebackups/metadata/simplebackups-2.png
  extensions/simplebackups/metadata/simplebackups-3.png
  extensions/simplebackups/package-lock.json
  extensions/simplebackups/package.json
  extensions/simplebackups/src/Resources.tsx
  extensions/simplebackups/src/ShowResource.tsx
  extensions/simplebackups/src/api/Resource.ts
  extensions/simplebackups/src/api/Team.ts
  extensions/simplebackups/src/config.ts
  extensions/simplebackups/src/helpers.ts
  extensions/simplebackups/src/hooks/use-shared-state.ts
  extensions/simplebackups/src/hooks/use-simplebackups-teams.ts
  extensions/simplebackups/src/index.tsx
  extensions/simplebackups/src/types.ts
  extensions/simplebackups/tsconfig.json
Labels: new extension

#3062 Update Social Trends extension
  extensions/social-network-trends/CHANGELOG.md
  extensions/social-network-trends/package-lock.json
  extensions/social-network-trends/package.json
  extensions/social-network-trends/src/hooks/hooks.ts
  extensions/social-network-trends/src/search-trends-of-social-network-menu-bar.tsx
  extensions/social-network-trends/src/search-trends-of-social-network.tsx
  extensions/social-network-trends/src/utils/trend-utils.ts
Labels: extension fix / improvement, OP is author
