Repository raycast/extensions, pull requests merged in 2022-03, with the labels that each got.

#1006 fix: throw error on no race found, removed localization
  extensions/f1-standings/src/schedule.tsx
Labels: extension fix / improvement, accepted, OP is author

#1008 add copy TOTP shortcut for bitwarden
  extensions/bitwarden/src/search.tsx
Labels: extension fix / improvement

#995 monday.com Raycast extension
  extensions/monday/.eslintrc
  extensions/monday/README.md
  extensions/monday/assets/command-icon.png
  extensions/monday/assets/error.png
  extensions/monday/media/doc1.png
  extensions/monday/media/header.png
  extensions/monday/package-lock.json
  extensions/monday/package.json
  extensions/monday/src/addItem.tsx
  extensions/monday/src/index.tsx
  extensions/monday/src/lib/api.tsx
  extensions/monday/src/lib/helpers.tsx
  extensions/monday/src/lib/models.tsx
  extensions/monday/src/lib/persistence.tsx
  extensions/monday/src/open.tsx
  extensions/monday/src/team.tsx
  extensions/monday/src/userDetails.tsx
  extensions/monday/tsconfig.json
Labels: new extension, accepted

#930 Enhanced search confluence plugin by allowing dynamic searching
  extensions/confluence-search/src/index.tsx
Labels: extension fix / improvement, OP is author

#947 feat [Deepcast]: add commands to translate selected test into every possible language
  extensions/deepcast/README.md
  extensions/deepcast/package.json
  extensions/deepcast/src/bulgarian.ts
  extensions/deepcast/src/chinese.ts
  extensions/deepcast/src/czech.ts
  extensions/deepcast/src/danish.ts
  extensions/deepcast/src/dutch.ts
  extensions/deepcast/src/englishUK.ts
  extensions/deepcast/src/englishUS.ts
  extensions/deepcast/src/estonian.ts
  extensions/deepcast/src/finnish.ts
  extensions/deepcast/src/french.ts
  extensions/deepcast/src/german.ts
  extensions/deepcast/src/greek.ts
  extensions/deepcast/src/hungarian.ts
  extensions/deepcast/src/index.tsx
  extensions/deepcast/src/italian.ts
  extensions/deepcast/src/japanese.ts
  extensions/deepcast/src/languages.ts
  extensions/deepcast/src/latvian.ts
  extensions/deepcast/src/lithuanian.ts
  extensions/deepcast/src/polish copy.ts
  extensions/deepcast/src/polish.ts
  extensions/deepcast/src/portuguese.ts
  extensions/deepcast/src/portugueseBrazil.ts
  extensions/deepcast/src/romanian.ts
  extensions/deepcast/src/russian.ts
  extensions/deepcast/src/slovak.ts
  extensions/deepcast/src/slovenian.ts
  extensions/deepcast/src/spanish.ts
  extensions/deepcast/src/swedish.ts
  extensions/deepcast/src/utils.ts
Labels: extension fix / improvement, accepted, OP is author

#965 Improve Ploi Extension
  extensions/ploi/package-lock.json
  extensions/ploi/package.json
  extensions/ploi/src/Site.tsx
Labels: extension fix / improvement, OP is author

#1007 Escape Wikipedia featured and random page URLs
  extensions/wikipedia/src/featured-page.tsx
  extensions/wikipedia/src/random-page.tsx
  extensions/wikipedia/src/search-page.tsx
  extensions/wikipedia/src/wikipedia.ts
Labels: extension fix / improvement, OP is author

#885 Pocket extension
  extensions/pocket/.eslintrc.json
  extensions/pocket/.prettierrc
  extensions/pocket/README.md
  extensions/pocket/assets/pocket-logo.png
  extensions/pocket/media/app-creation.png
  extensions/pocket/media/authorize-screen.png
  extensions/pocket/package-lock.json
  extensions/pocket/package.json
  extensions/pocket/src/random.ts
  extensions/pocket/src/search.tsx
  extensions/pocket/src/utils/api.ts
  extensions/pocket/src/utils/hooks.ts
  extensions/pocket/src/utils/types.ts
  extensions/pocket/tsconfig.json
Labels: new extension, accepted, OP is author

#962 New Extension: Keyboard Maestro
  extensions/keyboard-maestro/.eslintrc.json
  extensions/keyboard-maestro/.prettierrc
  extensions/keyboard-maestro/assets/icon.png
  extensions/keyboard-maestro/package-lock.json
  extensions/keyboard-maestro/package.json
  extensions/keyboard-maestro/src/list.tsx
  extensions/keyboard-maestro/tsconfig.json
Labels: new extension, accepted

#929 Semantic Scholar: Research Paper Search by Keywords
  extensions/semantic-scholar/.eslintrc.json
  extensions/semantic-scholar/README.md
  extensions/semantic-scholar/assets/command-icon.png
  extensions/semantic-scholar/assets/list-icon.png
  extensions/semantic-scholar/package-lock.json
  extensions/semantic-scholar/package.json
  extensions/semantic-scholar/src/index.tsx
  extensions/semantic-scholar/tsconfig.json
Labels: new extension, accepted

#950 Add "CloudFormation Stacks" command to AWS extension
  extensions/amazon-aws/README.md
  extensions/amazon-aws/package.json
  extensions/amazon-aws/src/cloudformation.tsx
  extensions/amazon-aws/src/ec2.tsx
Labels: extension fix / improvement, accepted

#986 QR Scanner: multibyte language support
  extensions/qr-code-scanner/package-lock.json
  extensions/qr-code-scanner/package.json
  extensions/qr-code-scanner/src/index.tsx
Labels: extension fix / improvement, accepted

#992 Gitlab: Add icons for pipelines
  extensions/gitlab/assets/status_canceled.png
  extensions/gitlab/assets/status_created.png
  extensions/gitlab/assets/status_failed.png
  extensions/gitlab/assets/status_notfound.png
  extensions/gitlab/assets/status_pending.png
  extensions/gitlab/assets/status_running.png
  extensions/gitlab/assets/status_scheduled.png
  extensions/gitlab/assets/status_skipped.png
  extensions/gitlab/assets/status_success.png
  extensions/gitlab/src/components/jobs.tsx
  extensions/gitlab/src/components/pipelines.tsx
  extensions/gitlab/src/icons.ts
Labels: extension fix / improvement, accepted, OP is contributor

#999 Update Things extension
  extensions/things/package-lock.json
  extensions/things/package.json
  extensions/things/src/add-new-todo.tsx
  extensions/things/src/shared.ts
  extensions/things/src/show-list.tsx
Labels: extension fix / improvement, accepted, OP is author

#996 Fix a security issue of KeepassXC extension
  extensions/keepassxc/README.md
  extensions/keepassxc/package.json
  extensions/keepassxc/src/index.tsx
  extensions/keepassxc/src/utils/keepassLoader.ts
Labels: extension fix / improvement, accepted, OP is author

#998 Add „Karabiner Profile Switcher“ extension
  extensions/karabiner-profile-switcher/.eslintrc.json
  extensions/karabiner-profile-switcher/.prettierrc
  extensions/karabiner-profile-switcher/assets/command-icon.png
  extensions/karabiner-profile-switcher/assets/command-icon.sketch
  extensions/karabiner-profile-switcher/package-lock.json
  extensions/karabiner-profile-switcher/package.json
  extensions/karabiner-profile-switcher/src/index.tsx
  extensions/karabiner-profile-switcher/src/model/KarabinerManager.ts
  extensions/karabiner-profile-switcher/src/model/interfaces.ts
  extensions/karabiner-profile-switcher/tsconfig.json
Labels: new extension, accepted

#959 adding reddit search extension
  extensions/reddit-search/.eslintrc.json
  extensions/reddit-search/.prettierrc
  extensions/reddit-search/README.md
  extensions/reddit-search/assets/reddit_icon_512.png
  extensions/reddit-search/package-lock.json
  extensions/reddit-search/package.json
  extensions/reddit-search/src/FavoriteSubreddits.ts
  extensions/reddit-search/src/FilterBySubredditPostList.tsx
  extensions/reddit-search/src/Home.tsx
  extensions/reddit-search/src/PostActionPanel.tsx
  extensions/reddit-search/src/PostList.tsx
  extensions/reddit-search/src/Preferences.ts
  extensions/reddit-search/src/RedditApi/Api.ts
  extensions/reddit-search/src/RedditApi/RedditResult.ts
  extensions/reddit-search/src/RedditApi/RedditResultItem.ts
  extensions/reddit-search/src/RedditApi/RedditResultSubreddit.ts
  extensions/reddit-search/src/RedditApi/UrlBuilder.tsx
  extensions/reddit-search/src/RedditSort.ts
  extensions/reddit-search/src/Sort.ts
  extensions/reddit-search/src/SortListItem.tsx
  extensions/reddit-search/src/SubredditList.tsx
  extensions/reddit-search/src/index.tsx
  extensions/reddit-search/tsconfig.json
Labels: new extension, accepted

#971 Cloudflare: Add cache purge command, bugfix
  extensions/cloudflare/package.json
  extensions/cloudflare/src/service.ts
  extensions/cloudflare/src/view-sites.tsx
Labels: extension fix / improvement, accepted

#984 New Extension: Google Meet
  extensions/google-meet/.eslintignore
  extensions/google-meet/.eslintrc.json
  extensions/google-meet/.prettierrc
  extensions/google-meet/assets/google-meet-icon.png
  extensions/google-meet/package-lock.json
  extensions/google-meet/package.json
  extensions/google-meet/src/index.ts
  extensions/google-meet/tsconfig.json
Labels: new extension, accepted

#1037 Updating description of extension in package.json
  extensions/reddit-search/package.json
Labels: extension fix / improvement, OP is author

#340 Add Node.js Eval extension
  extensions/node-js-evaluate/.eslintrc.json
  extensions/node-js-evaluate/.prettierrc
  extensions/node-js-evaluate/assets/command-icon.png
  extensions/node-js-evaluate/package-lock.json
  extensions/node-js-evaluate/package.json
  extensions/node-js-evaluate/src/actions.tsx
  extensions/node-js-evaluate/src/fast-eval.tsx
  extensions/node-js-evaluate/src/index.tsx
  extensions/node-js-evaluate/src/slow-eval.tsx
  extensions/node-js-evaluate/src/types.ts
  extensions/node-js-evaluate/src/util.ts
  extensions/node-js-evaluate/tsconfig.json
Labels: new extension

#938 feat: set output device extension
  extensions/audio-device/assets/command-icon.png
  extensions/audio-device/assets/mic.png
  extensions/audio-device/assets/speaker.png
  extensions/audio-device/package-lock.json
  extensions/audio-device/package.json
  extensions/audio-device/src/airplay.tsx
  extensions/audio-device/src/audio-device.ts
  extensions/audio-device/src/favourite.tsx
  extensions/audio-device/src/helpers.tsx
  extensions/audio-device/src/set-output-device.tsx
  extensions/audio-device/src/utils.tsx
Labels: new extension, extension fix / improvement, accepted

#964 Add Android ADB Input extension
  extensions/android-adb-input/.eslintrc.json
  extensions/android-adb-input/.prettierrc
  extensions/android-adb-input/assets/command-icon.png
  extensions/android-adb-input/package-lock.json
  extensions/android-adb-input/package.json
  extensions/android-adb-input/src/index.tsx
  extensions/android-adb-input/tsconfig.json
Labels: new extension, accepted

#1022 [Semantic Scholar] Generate Bibtex for a reference
  extensions/semantic-scholar/assets/command-icon.png
  extensions/semantic-scholar/assets/list-icon.png
  extensions/semantic-scholar/package-lock.json
  extensions/semantic-scholar/package.json
  extensions/semantic-scholar/src/index.tsx
Labels: extension fix / improvement

#972 A new way to upload pictures to oss.
  extensions/aliyun-oss/.eslintrc.json
  extensions/aliyun-oss/.gitignore
  extensions/aliyun-oss/.prettierrc
  extensions/aliyun-oss/README.md
  extensions/aliyun-oss/assets/command-icon.png
  extensions/aliyun-oss/assets/markdown.png
  extensions/aliyun-oss/assets/url.png
  extensions/aliyun-oss/media/upload-success.png
  extensions/aliyun-oss/package-lock.json
  extensions/aliyun-oss/package.json
  extensions/aliyun-oss/src/index.tsx
  extensions/aliyun-oss/tsconfig.json
Labels: new extension

#1030 Get all AWS Cloudformation stacks
  extensions/amazon-aws/src/cloudformation.tsx
Labels: extension fix / improvement, OP is contributor

#1042 New version of the TLDR extension
  extensions/tldr/package-lock.json
  extensions/tldr/package.json
  extensions/tldr/src/index.tsx
Labels: extension fix / improvement, OP is author

#1028 An incredibly simple extension to clear your clipboard
  extensions/clear-clipboard/.eslintrc.json
  extensions/clear-clipboard/.prettierrc
  extensions/clear-clipboard/assets/command-icon.png
  extensions/clear-clipboard/package-lock.json
  extensions/clear-clipboard/package.json
  extensions/clear-clipboard/src/index.ts
  extensions/clear-clipboard/tsconfig.json
Labels: new extension

#1044 [Bitwarden Vault] Update bitwarden.png with Raycast template
  extensions/bitwarden/assets/bitwarden.png
  extensions/bitwarden/package.json
Labels: extension fix / improvement

#1046 [modany][bug] Escape quotes on user-inputted string
  extensions/monday/src/lib/api.tsx
Labels: extension fix / improvement, OP is author

#1010 [Pipe Commands] Extension improvements following user feedbacks
  extensions/pipe-commands/README.md
  extensions/pipe-commands/assets/commands/file/copy-file-path.sh
  extensions/pipe-commands/assets/commands/file/move-to-trash.sh
  extensions/pipe-commands/assets/commands/file/show-file-content.sh
  extensions/pipe-commands/assets/commands/text/change-case/lowercase.py
  extensions/pipe-commands/assets/commands/text/change-case/uppercase.py
  extensions/pipe-commands/assets/commands/text/dev-utils/prettify-json.sh
  extensions/pipe-commands/assets/commands/text/search/github-search.sh
  extensions/pipe-commands/assets/commands/text/search/google-search.sh
  extensions/pipe-commands/assets/commands/text/search/wikipedia-search.sh
  extensions/pipe-commands/assets/commands/text/url/extract-domain-from-url.py
  extensions/pipe-commands/assets/commands/text/url/urlencode.sh
  extensions/pipe-commands/src/create-pipe-command.tsx
  extensions/pipe-commands/src/pipe-clipboard-to-command.tsx
  extensions/pipe-commands/src/pipe-selection-to-command.tsx
  extensions/pipe-commands/src/pipe-to-command.tsx
  extensions/pipe-commands/src/types.ts
  extensions/pipe-commands/src/utils.ts
Labels: extension fix / improvement, OP is author

#1000 Add Insiders option to VS Code recent projects
  extensions/visual-studio-code-recent-projects/package.json
  extensions/visual-studio-code-recent-projects/src/db.ts
  extensions/visual-studio-code-recent-projects/src/index.tsx
  extensions/visual-studio-code-recent-projects/src/types.ts
Labels: extension fix / improvement, accepted

#1041 Add extension - Shopify Developer Changelog
  extensions/shopify-developer-changelog/.eslintrc.json
  extensions/shopify-developer-changelog/.prettierrc
  extensions/shopify-developer-changelog/README.md
  extensions/shopify-developer-changelog/assets/shopify_glyph.png
  extensions/shopify-developer-changelog/media/shopify-changelog-raycast-details-options.png
  extensions/shopify-developer-changelog/media/shopify-changelog-raycast-details.png
  extensions/shopify-developer-changelog/media/shopify-changelog-raycast-listpage-options.png
  extensions/shopify-developer-changelog/media/shopify-changelog-raycast-listpage.png
  extensions/shopify-developer-changelog/package-lock.json
  extensions/shopify-developer-changelog/package.json
  extensions/shopify-developer-changelog/src/Actions.tsx
  extensions/shopify-developer-changelog/src/DescriptionPane.tsx
  extensions/shopify-developer-changelog/src/helpers/addIcon.ts
  extensions/shopify-developer-changelog/src/helpers/htmlToMarkdown.ts
  extensions/shopify-developer-changelog/src/shopify-changelog.tsx
  extensions/shopify-developer-changelog/tsconfig.json
Labels: new extension

#1034 feat(todoist): Add exact time icon and group by label option
  extensions/todoist/package.json
  extensions/todoist/src/components/Project.tsx
  extensions/todoist/src/components/TaskList.tsx
  extensions/todoist/src/components/TaskListItem.tsx
  extensions/todoist/src/create-task.tsx
  extensions/todoist/src/today.tsx
  extensions/todoist/src/types.ts
  extensions/todoist/src/utils.ts
Labels: extension fix / improvement, OP is author

#1048 CoinGecko calculate command
  extensions/coingecko/package.json
  extensions/coingecko/src/calculate.tsx
  extensions/coingecko/src/index.tsx
  extensions/coingecko/src/service.ts
Labels: extension fix / improvement, accepted

#1053 Update "Netlify" extension
  extensions/netlify/src/utils.ts
  extensions/netlify/src/view-domains.tsx
  extensions/netlify/src/view-members.tsx
  extensions/netlify/src/view-sites.tsx
Labels: extension fix / improvement, OP is author

#1062 Resolve an issue where value is incorrect for some primitive types
  extensions/node-js-evaluate/src/util.ts
Labels: extension fix / improvement, OP is author

#955 Added Flutter Documentation extension
  extensions/flutter-documentation-search/.eslintrc.json
  extensions/flutter-documentation-search/.prettierrc
  extensions/flutter-documentation-search/assets/command-icon.png
  extensions/flutter-documentation-search/assets/list-icon.png
  extensions/flutter-documentation-search/package-lock.json
  extensions/flutter-documentation-search/package.json
  extensions/flutter-documentation-search/src/index.tsx
  extensions/flutter-documentation-search/tsconfig.json
Labels: new extension, accepted

#1065 Transmission status filter
  extensions/transmission/package-lock.json
  extensions/transmission/package.json
  extensions/transmission/src/addNewTorrent.tsx
  extensions/transmission/src/listTorrents.tsx
  extensions/transmission/src/utils/hooks.ts
Labels: extension fix / improvement, OP is author

#1066 [TLDR] add Split View and Filtering
  extensions/tldr/package-lock.json
  extensions/tldr/package.json
  extensions/tldr/src/index.tsx
Labels: extension fix / improvement, OP is author

#1059 Updating to reddit search 1.3.0 api...
  extensions/reddit-search/package-lock.json
  extensions/reddit-search/package.json
  extensions/reddit-search/src/FilterBySubredditPostList.tsx
  extensions/reddit-search/src/Home.tsx
  extensions/reddit-search/src/PostActionPanel.tsx
  extensions/reddit-search/src/PostDetail.tsx
  extensions/reddit-search/src/PostList.tsx
  extensions/reddit-search/src/RedditSort.ts
  extensions/reddit-search/src/ShowDetailSetting.ts
  extensions/reddit-search/src/SortOrderDropdown.tsx
  extensions/reddit-search/src/SubredditList.tsx
Labels: extension fix / improvement, OP is author

#1067 Update Pokédex extension
  extensions/pokedex/README.md
  extensions/pokedex/assets/bulbapedia.ico
  extensions/pokedex/assets/bulbapedia.png
  extensions/pokedex/assets/icon_random.png
  extensions/pokedex/assets/moves/physical.png
  extensions/pokedex/assets/moves/special.png
  extensions/pokedex/assets/moves/status.png
  extensions/pokedex/assets/pokemon.ico
  extensions/pokedex/media/example.png
  extensions/pokedex/package-lock.json
  extensions/pokedex/package.json
  extensions/pokedex/src/ability.tsx
  extensions/pokedex/src/api/index.ts
  extensions/pokedex/src/components/detail.tsx
  extensions/pokedex/src/index.tsx
  extensions/pokedex/src/move.tsx
  extensions/pokedex/src/pokemon.tsx
  extensions/pokedex/src/statics/abilities.json
  extensions/pokedex/src/statics/moves.json
  extensions/pokedex/src/statics/pokemons.json
  extensions/pokedex/src/types/index.ts
Labels: extension fix / improvement, OP is author

#1060 Update xkcd extension to use `List.Item.Detail`
  extensions/xkcd/README.md
  extensions/xkcd/assets/arrow-left.png
  extensions/xkcd/assets/arrow-left@dark.png
  extensions/xkcd/assets/arrow-right.png
  extensions/xkcd/assets/arrow-right@dark.png
  extensions/xkcd/assets/book-open.png
  extensions/xkcd/assets/book-open@dark.png
  extensions/xkcd/assets/globe.png
  extensions/xkcd/assets/globe@dark.png
  extensions/xkcd/assets/refresh-cw.png
  extensions/xkcd/assets/refresh-cw@dark.png
  extensions/xkcd/assets/shuffle.png
  extensions/xkcd/assets/shuffle@dark.png
  extensions/xkcd/changelog.md
  extensions/xkcd/demo.png
  extensions/xkcd/media/demo.png
  extensions/xkcd/package-lock.json
  extensions/xkcd/package.json
  extensions/xkcd/src/atoms.ts
  extensions/xkcd/src/comic.tsx
  extensions/xkcd/src/get_random_unread.ts
  extensions/xkcd/src/index.tsx
  extensions/xkcd/src/open_comic.tsx
  extensions/xkcd/src/open_in_browser.tsx
Labels: extension fix / improvement, OP is author

#1043 Add Qucik Surf extension
  extensions/quick-surf/.eslintrc.json
  extensions/quick-surf/.prettierrc
  extensions/quick-surf/README.md
  extensions/quick-surf/assets/more-board.png
  extensions/quick-surf/assets/more-board@dark.png
  extensions/quick-surf/assets/quick-surf.png
  extensions/quick-surf/assets/quick-surf@dark.png
  extensions/quick-surf/media/More Boards-1.png
  extensions/quick-surf/media/More Boards-2.png
  extensions/quick-surf/media/Open URL.png
  extensions/quick-surf/media/Search Text.png
  extensions/quick-surf/media/SuggestApp.png
  extensions/quick-surf/media/mailto.png
  extensions/quick-surf/package-lock.json
  extensions/quick-surf/package.json
  extensions/quick-surf/src/constants.ts
  extensions/quick-surf/src/quick-surf.tsx
  extensions/quick-surf/src/surfbrowser.tsx
  extensions/quick-surf/src/utils.ts
  extensions/quick-surf/tsconfig.json
Labels: new extension, accepted

#1049 fix(displayplacer): support homebrew installs on apple silicon macs
  extensions/displayplacer/package.json
  extensions/displayplacer/src/components/not-installed.tsx
  extensions/displayplacer/src/types.d.ts
  extensions/displayplacer/src/utils/displayplacer.ts
Labels: extension fix / improvement, accepted, OP is author

#993 Add „Keyboard Layout Switcher“ extension
  extensions/keyboard-layout-switcher/.eslintrc.json
  extensions/keyboard-layout-switcher/.prettierrc
  extensions/keyboard-layout-switcher/.vscode/settings.json
  extensions/keyboard-layout-switcher/assets/command-icon.png
  extensions/keyboard-layout-switcher/assets/keyboardSwitcher
  extensions/keyboard-layout-switcher/command-icon.sketch
  extensions/keyboard-layout-switcher/package-lock.json
  extensions/keyboard-layout-switcher/package.json
  extensions/keyboard-layout-switcher/src/Help.tsx
  extensions/keyboard-layout-switcher/src/index.tsx
  extensions/keyboard-layout-switcher/src/model/LayoutManager.ts
  extensions/keyboard-layout-switcher/src/model/interfaces.ts
  extensions/keyboard-layout-switcher/tsconfig.json
Labels: new extension

#1056 Add Sentry extension
  extensions/sentry/.eslintrc.json
  extensions/sentry/.prettierrc
  extensions/sentry/CHANGELOG.md
  extensions/sentry/README.md
  extensions/sentry/assets/icon.png
  extensions/sentry/assets/icon@dark.png
  extensions/sentry/metadata/screenshot-1.png
  extensions/sentry/metadata/screenshot-2.png
  extensions/sentry/metadata/screenshot.png
  extensions/sentry/package-lock.json
  extensions/sentry/package.json
  extensions/sentry/src/Actions.tsx
  extensions/sentry/src/IssueListItem.tsx
  extensions/sentry/src/ProjectDropdown.tsx
  extensions/sentry/src/cache.ts
  extensions/sentry/src/fake.ts
  extensions/sentry/src/hooks.ts
  extensions/sentry/src/index.tsx
  extensions/sentry/src/types.ts
  extensions/sentry/tsconfig.json
Labels: new extension

#1074 Tweaks to CoinGecko extension
  extensions/coingecko/package.json
  extensions/coingecko/scripts/update_currencies
  extensions/coingecko/src/calculate.tsx
  extensions/coingecko/src/currencies.json
  extensions/coingecko/src/index.tsx
  extensions/coingecko/src/service.ts
  extensions/coingecko/src/utils.ts
  extensions/coingecko/tsconfig.json
Labels: extension fix / improvement, accepted, OP is contributor

#1032 Add "Linux Command" extension.
  extensions/linux-command/.eslintrc.json
  extensions/linux-command/.prettierrc
  extensions/linux-command/README.md
  extensions/linux-command/assets/command-icon.png
  extensions/linux-command/package-lock.json
  extensions/linux-command/package.json
  extensions/linux-command/src/index.tsx
  extensions/linux-command/tsconfig.json
Labels: new extension, accepted

#966 Bitwarden: Add password generation
  extensions/bitwarden/.eslintrc.json
  extensions/bitwarden/package-lock.json
  extensions/bitwarden/package.json
  extensions/bitwarden/src/api.ts
  extensions/bitwarden/src/components.tsx
  extensions/bitwarden/src/const.ts
  extensions/bitwarden/src/generate-password.tsx
  extensions/bitwarden/src/hooks.ts
  extensions/bitwarden/src/lock-vault.ts
  extensions/bitwarden/src/search.tsx
  extensions/bitwarden/src/types.ts
  extensions/bitwarden/src/utils.ts
Labels: extension fix / improvement

#1099 F1 Standings: Allow changing season.
  extensions/f1-standings/package-lock.json
  extensions/f1-standings/package.json
  extensions/f1-standings/src/constructor.tsx
  extensions/f1-standings/src/driver.tsx
  extensions/f1-standings/src/getFlag.ts
  extensions/f1-standings/src/schedule.tsx
  extensions/f1-standings/src/useSeasons.ts
Labels: extension fix / improvement

#1075 Audio device extension tweaks
  extensions/audio-device/package.json
  extensions/audio-device/src/airplay.tsx
  extensions/audio-device/src/favourite.tsx
  extensions/audio-device/src/helpers.tsx
  extensions/audio-device/src/set-input-device.tsx
  extensions/audio-device/src/set-output-device.tsx
Labels: extension fix / improvement

#1103 add FezVrasta to audio-device contributors
  extensions/audio-device/package.json
Labels: extension fix / improvement

#1077 VSCode Project Manager extension: support projects_cache_any.json
  extensions/visual-studio-code-project-manager/src/search-project-manager-projects.tsx
  extensions/visual-studio-code-project-manager/src/types.ts
Labels: extension fix / improvement, accepted

#1071 [Gitignore] Add store metadata
  extensions/gitignore/CHANGELOG.md
  extensions/gitignore/metadata/gitignore-01.png
  extensions/gitignore/metadata/gitignore-02.png
  extensions/gitignore/metadata/gitignore-03.png
  extensions/gitignore/metadata/gitignore-04.png
  extensions/gitignore/metadata/gitignore-05.png
  extensions/gitignore/package.json
Labels: extension fix / improvement, OP is author

#1082 Update "Diff Checker" extension
  extensions/diff-checker/src/check-diff.tsx
  extensions/diff-checker/src/utils.ts
Labels: extension fix / improvement, accepted, OP is author

#953 feat(kubernetes) add kubernetes official docs support
  extensions/kubernetes-docs/.eslintrc.json
  extensions/kubernetes-docs/.prettierrc
  extensions/kubernetes-docs/assets/command-icon.png
  extensions/kubernetes-docs/package-lock.json
  extensions/kubernetes-docs/package.json
  extensions/kubernetes-docs/src/docs/de.json
  extensions/kubernetes-docs/src/docs/en.json
  extensions/kubernetes-docs/src/docs/es.json
  extensions/kubernetes-docs/src/docs/fr.json
  extensions/kubernetes-docs/src/docs/id.json
  extensions/kubernetes-docs/src/docs/it.json
  extensions/kubernetes-docs/src/docs/ja.json
  extensions/kubernetes-docs/src/docs/ko.json
  extensions/kubernetes-docs/src/docs/pl.json
  extensions/kubernetes-docs/src/docs/pt.json
  extensions/kubernetes-docs/src/docs/ru.json
  extensions/kubernetes-docs/src/docs/uk.json
  extensions/kubernetes-docs/src/docs/zh.json
  extensions/kubernetes-docs/src/hooks/useFetcher.ts
  extensions/kubernetes-docs/src/index.tsx
  extensions/kubernetes-docs/src/types/index.ts
  extensions/kubernetes-docs/tsconfig.json
Labels: new extension, accepted

#740 Add Caffeinate For to Coffee Extension
  extensions/coffee/package.json
  extensions/coffee/src/caffeinate.ts
  extensions/coffee/src/caffeinateFor.tsx
  extensions/coffee/src/caffeinateWhile.tsx
Labels: extension fix / improvement, accepted

#967 New Extension: Nativebase Documentation
  extensions/nativebase-docs/.eslintrc.json
  extensions/nativebase-docs/.gitignore
  extensions/nativebase-docs/.prettierrc
  extensions/nativebase-docs/README.md
  extensions/nativebase-docs/assets/nativebase-logo.png
  extensions/nativebase-docs/metadata/ss-pages-01.png
  extensions/nativebase-docs/metadata/ss-versions-02.png
  extensions/nativebase-docs/package-lock.json
  extensions/nativebase-docs/package.json
  extensions/nativebase-docs/src/components/Docs.tsx
  extensions/nativebase-docs/src/components/index.ts
  extensions/nativebase-docs/src/index.tsx
  extensions/nativebase-docs/src/services/timecheck.ts
  extensions/nativebase-docs/src/types/content.types.ts
  extensions/nativebase-docs/src/types/index.ts
  extensions/nativebase-docs/src/types/sidebar.types.ts
  extensions/nativebase-docs/tsconfig.json
Labels: new extension, accepted

#1084 Update "Coingecko" extension
  extensions/coingecko/src/calculate.tsx
  extensions/coingecko/src/index.tsx
  extensions/coingecko/src/service.ts
Labels: extension fix / improvement, accepted, OP is author

#1089 Update "Unix Timestamp" extension
  extensions/unix-timestamp/src/current-timestamp.tsx
  extensions/unix-timestamp/src/date-to-timestamp.tsx
  extensions/unix-timestamp/src/timestamp-to-date.tsx
  extensions/unix-timestamp/src/utils.ts
Labels: extension fix / improvement, accepted, OP is author

#1011 Add podcasts extension
  extensions/podcasts/.eslintrc.json
  extensions/podcasts/.prettierrc
  extensions/podcasts/assets/icon.png
  extensions/podcasts/package-lock.json
  extensions/podcasts/package.json
  extensions/podcasts/src/pause.tsx
  extensions/podcasts/src/play.tsx
  extensions/podcasts/src/rewind.ts
  extensions/podcasts/src/skipThirtySeconds.ts
  extensions/podcasts/src/togglePlayPause.ts
  extensions/podcasts/src/utils.ts
  extensions/podcasts/tsconfig.json
Labels: new extension

#1112 fix: 🇹🇭 → 🇹🇷
  extensions/google-translate/package.json
Labels: extension fix / improvement, accepted

#1113 Brew: Search improvements and bug fixes
  extensions/brew/CHANGELOG.md
  extensions/brew/README.md
  extensions/brew/package-lock.json
  extensions/brew/package.json
  extensions/brew/src/brew.ts
  extensions/brew/src/components/actionPanels.tsx
  extensions/brew/src/components/actions.tsx
  extensions/brew/src/components/formulaInfo.tsx
  extensions/brew/src/components/list.tsx
  extensions/brew/src/outdated.tsx
  extensions/brew/src/upgrade.tsx
  extensions/brew/src/utils.ts
Labels: extension fix / improvement, OP is author

#1109 fix: NativeBase logo's aspect ratio, README media folder
  extensions/nativebase-docs/README.md
  extensions/nativebase-docs/assets/nativebase-logo.png
Labels: extension fix / improvement, OP is author

#1116 1Password: Fix issue with missing website URLs (fixes #1102)
  extensions/1password7/CHANGELOG.md
  extensions/1password7/package.json
  extensions/1password7/src/OnePasswordMetaItem.dto.ts
  extensions/1password7/src/list.tsx
Labels: extension fix / improvement, accepted

#1080 [Transmission] Side Panel, Torrent Configuration, Context Menu, Add Torrent, and Store Metadata
  extensions/transmission/assets/dark-mode
  extensions/transmission/changelog.md
  extensions/transmission/metadata/transmission-1.png
  extensions/transmission/metadata/transmission-2.png
  extensions/transmission/metadata/transmission-3.png
  extensions/transmission/metadata/transmission-4.png
  extensions/transmission/package-lock.json
  extensions/transmission/package.json
  extensions/transmission/src/addNewTorrent.tsx
  extensions/transmission/src/components/TorrentConfiguration.tsx
  extensions/transmission/src/listTorrents.tsx
  extensions/transmission/src/modules/client.ts
  extensions/transmission/src/types.ts
  extensions/transmission/src/utils/darkMode.ts
  extensions/transmission/src/utils/date.ts
  extensions/transmission/src/utils/renderCells.tsx
  extensions/transmission/src/utils/renderDetails.ts
  extensions/transmission/src/utils/status.ts
Labels: accepted, OP is author

#1119 [Transmission] fix: handle error state
  extensions/transmission/assets/dark-mode
  extensions/transmission/src/listTorrents.tsx
  extensions/transmission/src/utils/darkMode.ts
  extensions/transmission/src/utils/renderCells.tsx
Labels: extension fix / improvement, OP is author

#1123 [Bitwarden] Add enter shortcut to UnlockForm
  extensions/bitwarden/package.json
  extensions/bitwarden/src/components.tsx
Labels: extension fix / improvement, OP is contributor

#1121 fix: Support bitfields shorter than the chart size.
  extensions/transmission/src/utils/renderCells.tsx
Labels: extension fix / improvement, OP is author

#747 add search/play playlist feature
  extensions/music/package-lock.json
  extensions/music/package.json
  extensions/music/src/play-library-album.tsx
  extensions/music/src/play-library-track.tsx
  extensions/music/src/start-playlist.tsx
  extensions/music/src/util/controls.ts
  extensions/music/src/util/models.ts
  extensions/music/src/util/parser.ts
Labels: extension fix / improvement, status: awaiting response from dev

#1148 Adding time to F1 races events
  extensions/f1-standings/src/schedule.tsx
Labels: extension fix / improvement

#1138 [Remove Background] add a file picker
  extensions/remove-background/CHANGELOG.md
  extensions/remove-background/package-lock.json
  extensions/remove-background/package.json
  extensions/remove-background/src/index.tsx
Labels: extension fix / improvement, accepted

#1161 Brew: Update CHANGELOG to match keepachangelog.com
  extensions/brew/CHANGELOG.md
Labels: extension fix / improvement, OP is author

#1162 [gif-search] Add store metadata
  extensions/gif-search/CHANGELOG.md
  extensions/gif-search/metadata/gif-search-01.png
  extensions/gif-search/metadata/gif-search-02.png
  extensions/gif-search/metadata/gif-serach-03.png
  extensions/gif-search/package.json
Labels: extension fix / improvement, OP is author

#1170 [Gitignore] Update CHANGELOG.md format
  extensions/gitignore/CHANGELOG.md
Labels: extension fix / improvement, OP is author

#1137 feat: add Sort By Date Added, open Web Interface, and refactored code
  extensions/transmission/package-lock.json
  extensions/transmission/package.json
  extensions/transmission/src/addNewTorrent.tsx
  extensions/transmission/src/listTorrents.tsx
  extensions/transmission/src/openTransmissionWebInterface.ts
  extensions/transmission/src/types.ts
  extensions/transmission/src/utils/hooks.ts
Labels: extension fix / improvement, OP is author

#1100 Update / Fixes for the Pipe Commands Extension
  extensions/pipe-commands/README.md
  extensions/pipe-commands/assets/commands/change-case/lowercase.py
  extensions/pipe-commands/assets/commands/change-case/uppercase.py
  extensions/pipe-commands/assets/commands/dev-utils/prettify-json.sh
  extensions/pipe-commands/assets/commands/file/copy-file-path.sh
  extensions/pipe-commands/assets/commands/file/move-to-trash.sh
  extensions/pipe-commands/assets/commands/file/show-file-content.sh
  extensions/pipe-commands/assets/commands/search/github-search.sh
  extensions/pipe-commands/assets/commands/search/google-search.sh
  extensions/pipe-commands/assets/commands/search/wikipedia-search.sh
  extensions/pipe-commands/assets/commands/url/extract-domain-from-url.py
  extensions/pipe-commands/assets/commands/url/urlencode.sh
  extensions/pipe-commands/assets/schema.json
  extensions/pipe-commands/changelog.md
  extensions/pipe-commands/metadata/create-pipe-command-02.png
  extensions/pipe-commands/metadata/manage-pipe-commands-01.png
  extensions/pipe-commands/metadata/pipe-selection-to-command-03.png
  extensions/pipe-commands/package-lock.json
  extensions/pipe-commands/package.json
  extensions/pipe-commands/src/create-pipe-command.tsx
  extensions/pipe-commands/src/manage-pipe-commands.tsx
  extensions/pipe-commands/src/pipe-clipboard-to-command.tsx
  extensions/pipe-commands/src/pipe-selection-to-command.tsx
  extensions/pipe-commands/src/pipe-to-command.tsx
  extensions/pipe-commands/src/types.ts
  extensions/pipe-commands/src/utils.ts
Labels: extension fix / improvement, OP is author

#1172 GitHub Status extension
  extensions/github-status/.eslintrc.json
  extensions/github-status/.prettierrc
  extensions/github-status/CHANGELOG.md
  extensions/github-status/README.md
  extensions/github-status/assets/command-icon.png
  extensions/github-status/package-lock.json
  extensions/github-status/package.json
  extensions/github-status/src/index.tsx
  extensions/github-status/tsconfig.json
Labels: new extension

#1180 Fork Repositories: Add metadata & update dependencies.
  extensions/fork-repositories/CHANGELOG.md
  extensions/fork-repositories/metadata/01-fork.png
  extensions/fork-repositories/metadata/02-fork-not-found.png
  extensions/fork-repositories/package-lock.json
  extensions/fork-repositories/package.json
  extensions/fork-repositories/src/fork-repositories.tsx
  extensions/fork-repositories/src/hooks/use-has-application.ts
  extensions/fork-repositories/src/hooks/use-repos.ts
Labels: extension fix / improvement, OP is author

#1174 Pokédex: Update CHANGELOG to match keepachangelog.com
  extensions/pokedex/CHANGELOG.md
  extensions/pokedex/package-lock.json
  extensions/pokedex/package.json
Labels: extension fix / improvement, OP is author

#1181 Slack Status: Update categories
  extensions/slack-status/package.json
Labels: extension fix / improvement, OP is author

#1152 [Search Emoji] new icon, fuzzy search, categories dropdown
  extensions/emoji/CHANGELOG.md
  extensions/emoji/assets/command-icon.png
  extensions/emoji/package-lock.json
  extensions/emoji/package.json
  extensions/emoji/src/emoji.tsx
Labels: extension fix / improvement, OP is author

#1185 fix publish step for Emoji extension
  extensions/emoji/package-lock.json
  extensions/emoji/package.json
Labels: extension fix / improvement, OP is author

#1191 [Bitwarden Fix] Filter out items without a name
  extensions/bitwarden/src/api.ts
  extensions/bitwarden/src/search.tsx
Labels: extension fix / improvement, OP is author

#1128 Add Cache-Control Builder extension
  extensions/cache-control-builder/.eslintrc.json
  extensions/cache-control-builder/.prettierrc
  extensions/cache-control-builder/assets/command-icon.png
  extensions/cache-control-builder/assets/docs/immutable.md
  extensions/cache-control-builder/assets/docs/max-age.md
  extensions/cache-control-builder/assets/docs/must-revalidate.md
  extensions/cache-control-builder/assets/docs/must-understand.md
  extensions/cache-control-builder/assets/docs/no-cache.md
  extensions/cache-control-builder/assets/docs/no-store.md
  extensions/cache-control-builder/assets/docs/no-transform.md
  extensions/cache-control-builder/assets/docs/private.md
  extensions/cache-control-builder/assets/docs/proxy-revalidate.md
  extensions/cache-control-builder/assets/docs/public.md
  extensions/cache-control-builder/assets/docs/s-maxage.md
  extensions/cache-control-builder/assets/docs/stale-if-error.md
  extensions/cache-control-builder/assets/docs/stale-while-revalidate.md
  extensions/cache-control-builder/metadata/cache-control-builder-01.png
  extensions/cache-control-builder/metadata/cache-control-builder-02.png
  extensions/cache-control-builder/metadata/cache-control-builder-03.png
  extensions/cache-control-builder/metadata/cache-control-builder-04.png
  extensions/cache-control-builder/metadata/cache-control-builder-05.png
  extensions/cache-control-builder/package-lock.json
  extensions/cache-control-builder/package.json
  extensions/cache-control-builder/src/cache-control.ts
  extensions/cache-control-builder/src/index.tsx
  extensions/cache-control-builder/tsconfig.json
Labels: new extension, accepted

#1134 [Todo List] fix: add scheme to url if there is none
  extensions/todo-list/changelog.md
  extensions/todo-list/src/open_url_action.tsx
Labels: extension fix / improvement, accepted, OP is author

#1136 feat [Deepcast]: add action to switch between languages
  extensions/deepcast/package.json
  extensions/deepcast/src/index.tsx
Labels: extension fix / improvement, accepted

#1143 Hacker News: Use search bar accessory to unify `Show HN` and `Front Page` commands
  extensions/hacker-news/.eslintrc.json
  extensions/hacker-news/CHANGELOG.md
  extensions/hacker-news/metadata/hacker-news-best-comments.png
  extensions/hacker-news/metadata/hacker-news-classic.png
  extensions/hacker-news/metadata/hacker-news-front-page.png
  extensions/hacker-news/metadata/hacker-news-jobs.png
  extensions/hacker-news/metadata/hacker-news-show-hn.png
  extensions/hacker-news/package-lock.json
  extensions/hacker-news/package.json
  extensions/hacker-news/src/StoryListItem.tsx
  extensions/hacker-news/src/frontpage.tsx
  extensions/hacker-news/src/show.tsx
  extensions/hacker-news/src/useHNRss.tsx
Labels: extension fix / improvement

#1188 Dash: Refactor so icon path is calculated when docsets are fetched, cache docsets.
  extensions/dash/.eslintrc.json
  extensions/dash/CHANGELOG.md
  extensions/dash/package-lock.json
  extensions/dash/package.json
  extensions/dash/src/components/DashResult.tsx
  extensions/dash/src/components/index.ts
  extensions/dash/src/custom-typings.d.ts
  extensions/dash/src/hooks/index.ts
  extensions/dash/src/hooks/useDashApp.ts
  extensions/dash/src/hooks/useDocsetSearch.ts
  extensions/dash/src/hooks/useDocsets.ts
  extensions/dash/src/index.tsx
  extensions/dash/src/types.ts
  extensions/dash/src/util/dashApp.ts
  extensions/dash/src/util/docsets.ts
  extensions/dash/src/util/useDocsetSearch.ts
  extensions/dash/src/views/MultiDocsetSearch.tsx
  extensions/dash/src/views/SingleDocsetSearch.tsx
  extensions/dash/src/views/index.ts
Labels: extension fix / improvement, OP is contributor

#1163 [Bitwarden] Add "Copy Username" w/ shortcut
  extensions/bitwarden/package.json
  extensions/bitwarden/src/search.tsx
Labels: extension fix / improvement, accepted

#1115 Feature/forge sites
  extensions/laravel-forge/package-lock.json
  extensions/laravel-forge/package.json
  extensions/laravel-forge/src/Site.tsx
Labels: extension fix / improvement, accepted

#1195 feat [Deepcast]: upgrade @raycast/api to latest version
  extensions/deepcast/package-lock.json
  extensions/deepcast/package.json
  extensions/deepcast/src/index.tsx
  extensions/deepcast/src/utils.ts
Labels: extension fix / improvement

#1085 Add VueJS documentation extension
  extensions/vuejs-documentation/.eslintrc.json
  extensions/vuejs-documentation/.prettierrc
  extensions/vuejs-documentation/README.md
  extensions/vuejs-documentation/assets/vue-icon.png
  extensions/vuejs-documentation/changelog.md
  extensions/vuejs-documentation/metadata/screenshot.png
  extensions/vuejs-documentation/package-lock.json
  extensions/vuejs-documentation/package.json
  extensions/vuejs-documentation/src/documentation/v2.json
  extensions/vuejs-documentation/src/documentation/v3.json
  extensions/vuejs-documentation/src/documentation_list.tsx
  extensions/vuejs-documentation/src/index.tsx
  extensions/vuejs-documentation/src/version_dropdown.tsx
  extensions/vuejs-documentation/tsconfig.json
Labels: new extension, accepted

#1111 Add HTTP Status Codes extension
  extensions/http-status-codes/.eslintrc.json
  extensions/http-status-codes/.prettierrc
  extensions/http-status-codes/CHANGELOG.md
  extensions/http-status-codes/assets/command-icon.png
  extensions/http-status-codes/metadata/http-status-codes-01.png
  extensions/http-status-codes/metadata/http-status-codes-02.png
  extensions/http-status-codes/package-lock.json
  extensions/http-status-codes/package.json
  extensions/http-status-codes/src/index.tsx
  extensions/http-status-codes/tsconfig.json
Labels: new extension, accepted

#1110 Add "Nextcloud" extension
  extensions/nextcloud/.eslintrc.json
  extensions/nextcloud/.prettierrc
  extensions/nextcloud/README.md
  extensions/nextcloud/assets/nextcloud.png
  extensions/nextcloud/changelog.md
  extensions/nextcloud/metadata/Screenshot1.png
  extensions/nextcloud/metadata/Screenshot2.png
  extensions/nextcloud/metadata/Screenshot3.png
  extensions/nextcloud/package-lock.json
  extensions/nextcloud/package.json
  extensions/nextcloud/src/activity.tsx
  extensions/nextcloud/src/activity/hooks.tsx
  extensions/nextcloud/src/deck.tsx
  extensions/nextcloud/src/deck/components/Boards.tsx
  extensions/nextcloud/src/deck/components/Stacks.tsx
  extensions/nextcloud/src/deck/hooks.tsx
  extensions/nextcloud/src/favorites.tsx
  extensions/nextcloud/src/favorites/hooks.tsx
  extensions/nextcloud/src/nextcloud.ts
  extensions/nextcloud/src/notes.tsx
  extensions/nextcloud/src/notes/components/NoteDetails.tsx
  extensions/nextcloud/src/notes/components/Notes.tsx
  extensions/nextcloud/src/notes/hooks.tsx
  extensions/nextcloud/src/preferences.ts
  extensions/nextcloud/src/search.tsx
  extensions/nextcloud/src/search/hooks.tsx
  extensions/nextcloud/src/utils.ts
  extensions/nextcloud/tsconfig.json
Labels: new extension, accepted

#1150 F1: Add session times to Race Schedule
  extensions/f1-standings/.eslintrc.json
  extensions/f1-standings/CHANGELOG.md
  extensions/f1-standings/metadata/f1-constructor-standings.png
  extensions/f1-standings/metadata/f1-driver-standings.png
  extensions/f1-standings/metadata/f1-race-results.png
  extensions/f1-standings/metadata/f1-race-schedule-1950.png
  extensions/f1-standings/metadata/f1-race-schedule-detail.png
  extensions/f1-standings/metadata/f1-race-schedule.png
  extensions/f1-standings/package-lock.json
  extensions/f1-standings/package.json
  extensions/f1-standings/src/components/RaceSessionDetails.tsx
  extensions/f1-standings/src/constructor.tsx
  extensions/f1-standings/src/driver.tsx
  extensions/f1-standings/src/hooks/index.ts
  extensions/f1-standings/src/hooks/useConstructorStandings.ts
  extensions/f1-standings/src/hooks/useDriverStandings.ts
  extensions/f1-standings/src/hooks/useRaceResult.ts
  extensions/f1-standings/src/hooks/useRaces.ts
  extensions/f1-standings/src/hooks/useSeasons.ts
  extensions/f1-standings/src/schedule.tsx
  extensions/f1-standings/src/types.ts
  extensions/f1-standings/src/utils/formatDate.ts
  extensions/f1-standings/src/utils/getFlag.ts
  extensions/f1-standings/src/utils/getRaceDates.ts
  extensions/f1-standings/src/utils/index.ts
  extensions/f1-standings/src/views/ConstructorStandingsList.tsx
  extensions/f1-standings/src/views/DriverStandingsList.tsx
  extensions/f1-standings/src/views/RaceList.tsx
  extensions/f1-standings/src/views/RaceResultList.tsx
Labels: extension fix / improvement, OP is contributor

#1202 Add metadata for v2ex
  extensions/v2ex/metadata/screenshot-01.png
  extensions/v2ex/metadata/screenshot-02.png
Labels: extension fix / improvement, OP is author

#1217 F1: Update to latest API version, rearrange accessories.
  extensions/f1-standings/metadata/f1-race-schedule.png
  extensions/f1-standings/package-lock.json
  extensions/f1-standings/package.json
  extensions/f1-standings/src/views/ConstructorStandingsList.tsx
  extensions/f1-standings/src/views/DriverStandingsList.tsx
  extensions/f1-standings/src/views/RaceList.tsx
  extensions/f1-standings/src/views/RaceResultList.tsx
Labels: extension fix / improvement, OP is contributor

#1096 Slack extension (list users, group chats, and channels)
  extensions/slack/.eslintrc.json
  extensions/slack/.prettierrc
  extensions/slack/README.md
  extensions/slack/assets/channel-private.png
  extensions/slack/assets/channel-public.png
  extensions/slack/assets/slack-icon-rounded.png
  extensions/slack/metadata/slack-01.png
  extensions/slack/metadata/slack-02.png
  extensions/slack/metadata/slack-03.png
  extensions/slack/package-lock.json
  extensions/slack/package.json
  extensions/slack/src/open-unread-messages.ts
  extensions/slack/src/search.tsx
  extensions/slack/src/set-presence.tsx
  extensions/slack/src/set-snooze.tsx
  extensions/slack/src/shared/client/CacheProvider.tsx
  extensions/slack/src/shared/client/SlackClient.ts
  extensions/slack/src/shared/client/SlackClientHooks.ts
  extensions/slack/src/shared/client/WebClient.ts
  extensions/slack/src/shared/client/index.ts
  extensions/slack/src/shared/utils.ts
  extensions/slack/tsconfig.json
Labels: new extension

#1153 Add "IATA Code Decoder" extension
  extensions/iata-code-decoder/.eslintrc.json
  extensions/iata-code-decoder/.github/workflows/lint.yml
  extensions/iata-code-decoder/.gitignore
  extensions/iata-code-decoder/.prettierrc
  extensions/iata-code-decoder/CHANGELOG.md
  extensions/iata-code-decoder/README.md
  extensions/iata-code-decoder/assets/command-icon.png
  extensions/iata-code-decoder/metadata/Decode-IATA-aircraft-code.png
  extensions/iata-code-decoder/metadata/Decode-IATA-airline-code.png
  extensions/iata-code-decoder/metadata/Decode-IATA-airport-code.png
  extensions/iata-code-decoder/package-lock.json
  extensions/iata-code-decoder/package.json
  extensions/iata-code-decoder/src/aircraft.tsx
  extensions/iata-code-decoder/src/airlines.tsx
  extensions/iata-code-decoder/src/airports.tsx
  extensions/iata-code-decoder/tsconfig.json
Labels: new extension, accepted

#1212 Add metadata for BetterDiscord Store
  extensions/betterdiscord-search/metadata/betterdiscord-store-01.png
  extensions/betterdiscord-search/metadata/betterdiscord-store-02.png
  extensions/betterdiscord-search/metadata/betterdiscord-store-03.png
Labels: extension fix / improvement, OP is author

#1218 Add empty list view to WhatsApp extension
  extensions/whatsapp/changelog.md
  extensions/whatsapp/package-lock.json
  extensions/whatsapp/package.json
  extensions/whatsapp/src/add-chat.tsx
  extensions/whatsapp/src/add-existing-group.tsx
  extensions/whatsapp/src/open-chat.tsx
  extensions/whatsapp/src/utils/local-storage.ts
Labels: extension fix / improvement, OP is author

#1229 [XKCD Comics] remove extra brace + link to explainxkcd.com
  extensions/xkcd/changelog.md
  extensions/xkcd/package-lock.json
  extensions/xkcd/package.json
  extensions/xkcd/src/explain_xkcd.tsx
  extensions/xkcd/src/index.tsx
Labels: extension fix / improvement, OP is author

#1047 feat: add AsyncAPI extension
  extensions/asyncapi/.eslintrc.json
  extensions/asyncapi/.prettierrc
  extensions/asyncapi/CHANGELOG.md
  extensions/asyncapi/assets/command-icon.png
  extensions/asyncapi/metadata/asyncapi-01.png
  extensions/asyncapi/metadata/asyncapi-02.png
  extensions/asyncapi/package-lock.json
  extensions/asyncapi/package.json
  extensions/asyncapi/src/open-in-studio-clipboard.tsx
  extensions/asyncapi/src/open-in-studio.tsx
  extensions/asyncapi/src/utils.tsx
  extensions/asyncapi/src/validate-clipboard.tsx
  extensions/asyncapi/src/validate.tsx
  extensions/asyncapi/tsconfig.json
Labels: new extension, accepted

#1159 [gif-search] Download shared API keys for Giphy and Tenor
  extensions/gif-search/CHANGELOG.md
  extensions/gif-search/README.md
  extensions/gif-search/package-lock.json
  extensions/gif-search/package.json
  extensions/gif-search/src/hooks/useGiphyAPI.ts
  extensions/gif-search/src/hooks/useTenorAPI.ts
  extensions/gif-search/src/preferences.ts
Labels: extension fix / improvement, accepted, OP is author

#1244 [Git Repos] Change to the Open with action's target
  extensions/git-repos/CHANGELOG.md
  extensions/git-repos/package-lock.json
  extensions/git-repos/package.json
  extensions/git-repos/src/list.tsx
  extensions/git-repos/src/utils.tsx
Labels: extension fix / improvement, OP is author

#1234 F1: Try to fetch Formula1.com driver/race/constructor links.
  extensions/f1-standings/.eslintrc.json
  extensions/f1-standings/CHANGELOG.md
  extensions/f1-standings/assets/1.png
  extensions/f1-standings/assets/10.png
  extensions/f1-standings/assets/11.png
  extensions/f1-standings/assets/12.png
  extensions/f1-standings/assets/13.png
  extensions/f1-standings/assets/14.png
  extensions/f1-standings/assets/15.png
  extensions/f1-standings/assets/16.png
  extensions/f1-standings/assets/17.png
  extensions/f1-standings/assets/18.png
  extensions/f1-standings/assets/19.png
  extensions/f1-standings/assets/2.png
  extensions/f1-standings/assets/20.png
  extensions/f1-standings/assets/21.png
  extensions/f1-standings/assets/22.png
  extensions/f1-standings/assets/23.png
  extensions/f1-standings/assets/24.png
  extensions/f1-standings/assets/25.png
  extensions/f1-standings/assets/26.png
  extensions/f1-standings/assets/27.png
  extensions/f1-standings/assets/28.png
  extensions/f1-standings/assets/29.png
  extensions/f1-standings/assets/3.png
  extensions/f1-standings/assets/30.png
  extensions/f1-standings/assets/4.png
  extensions/f1-standings/assets/5.png
  extensions/f1-standings/assets/6.png
  extensions/f1-standings/assets/7.png
  extensions/f1-standings/assets/8.png
  extensions/f1-standings/assets/9.png
  extensions/f1-standings/assets/command-icon.png
  extensions/f1-standings/assets/empty-view.png
  extensions/f1-standings/assets/flag-checkered.png
  extensions/f1-standings/assets/wikipedia.png
  extensions/f1-standings/package-lock.json
  extensions/f1-standings/package.json
  extensions/f1-standings/src/hooks/index.ts
  extensions/f1-standings/src/hooks/useConstructorStandings.ts
  extensions/f1-standings/src/hooks/useDriverStandings.ts
  extensions/f1-standings/src/hooks/useFormula1ConstructorUrl.ts
  extensions/f1-standings/src/hooks/useFormula1DriverUrl.ts
  extensions/f1-standings/src/hooks/useFormula1RaceUrl.ts
  extensions/f1-standings/src/hooks/useRaceResult.ts
  extensions/f1-standings/src/hooks/useSeasons.ts
  extensions/f1-standings/src/utils/index.ts
  extensions/f1-standings/src/utils/normalizeString.ts
  extensions/f1-standings/src/views/ConstructorStandingsList.tsx
  extensions/f1-standings/src/views/DriverStandingsList.tsx
  extensions/f1-standings/src/views/RaceList.tsx
Labels: extension fix / improvement, OP is contributor

#1204 [github status] UI refresh
  extensions/github-status/CHANGELOG.md
  extensions/github-status/metadata/github-status-1.png
  extensions/github-status/package-lock.json
  extensions/github-status/package.json
  extensions/github-status/src/fake-data.json
  extensions/github-status/src/index.tsx
Labels: extension fix / improvement, accepted, OP is author

#1193 [gif-search] Add GIF Details metadata page and Fix GIF preview height
  extensions/gif-search/CHANGELOG.md
  extensions/gif-search/assets/PB_tenor_logo_blue_vertical.png
  extensions/gif-search/assets/PB_tenor_logo_grey_vertical.png
  extensions/gif-search/assets/Poweredby_100px-Black_VertLogo.png
  extensions/gif-search/assets/Poweredby_100px-White_VertLogo.png
  extensions/gif-search/assets/poweredby_giphy.png
  extensions/gif-search/assets/poweredby_tenor.png
  extensions/gif-search/package-lock.json
  extensions/gif-search/package.json
  extensions/gif-search/src/components/GifDetails.tsx
  extensions/gif-search/src/components/GifResult.tsx
  extensions/gif-search/src/hooks/useFinerGifsClubAPI.ts
  extensions/gif-search/src/hooks/useGiphyAPI.ts
  extensions/gif-search/src/hooks/useTenorAPI.ts
  extensions/gif-search/src/models/gif.ts
Labels: extension fix / improvement, accepted, OP is author

#1201 Cleanshot update
  extensions/cleanshotx/CHANGELOG.md
  extensions/cleanshotx/assets/all-in-one.png
  extensions/cleanshotx/package.json
  extensions/cleanshotx/src/all-in-one.tsx
Labels: extension fix / improvement, accepted, OP is author

#1169 [Bitwarden] Add search keywords for card and login (fixes #945)
  extensions/bitwarden/CHANGELOG.md
  extensions/bitwarden/metadata/bitwarden-01.png
  extensions/bitwarden/metadata/bitwarden-02.png
  extensions/bitwarden/package.json
  extensions/bitwarden/src/search.tsx
  extensions/bitwarden/src/types.ts
  extensions/bitwarden/src/utils.ts
Labels: extension fix / improvement, accepted, OP is contributor
