Repository raycast/extensions, pull requests merged in 2022-07, with the labels that each got.

#2139 [Bitwarden] Fix form field not updating and improve validation feedback
  extensions/bitwarden/CHANGELOG.md
  extensions/bitwarden/package-lock.json
  extensions/bitwarden/package.json
  extensions/bitwarden/src/const.ts
  extensions/bitwarden/src/generate-password.tsx
  extensions/bitwarden/src/hooks.ts
  extensions/bitwarden/src/utils.ts
Labels: extension fix / improvement, status: awaiting response from dev, OP is contributor

#2116 [Update Obsidian Extension] Edit, Delete, Reset Pinned Notes actions. Clipboard Template.
  extensions/obsidian/CHANGELOG.md
  extensions/obsidian/README.md
  extensions/obsidian/metadata/Create Note Command.png
  extensions/obsidian/metadata/Open Vault Command.png
  extensions/obsidian/metadata/Pin Note Command.png
  extensions/obsidian/metadata/Search Note Actions 1.png
  extensions/obsidian/metadata/Search Note Actions 2.png
  extensions/obsidian/metadata/Search Note Command.png
  extensions/obsidian/metadata/obsidian-1.png
  extensions/obsidian/metadata/obsidian-2.png
  extensions/obsidian/metadata/obsidian-3.png
  extensions/obsidian/metadata/obsidian-4.png
  extensions/obsidian/metadata/obsidian-5.png
  extensions/obsidian/metadata/obsidian-6.png
  extensions/obsidian/metadata/obsidian-7.png
  extensions/obsidian/metadata/obsidian-8.png
  extensions/obsidian/package-lock.json
  extensions/obsidian/package.json
  extensions/obsidian/src/components/AppendNoteForm.tsx
  extensions/obsidian/src/components/CreateNoteForm.tsx
  extensions/obsidian/src/components/EditNote.tsx
  extensions/obsidian/src/components/NoteList.tsx
  extensions/obsidian/src/components/NoteListObsidian.tsx
  extensions/obsidian/src/components/NoteListPinned.tsx
  extensions/obsidian/src/components/NoteQuickLook.tsx
  extensions/obsidian/src/components/Toasts.tsx
  extensions/obsidian/src/components/VaultSelection.tsx
  extensions/obsidian/src/createNoteCommand.tsx
  extensions/obsidian/src/openVaultCommand.tsx
  extensions/obsidian/src/pinnedNotesCommand.tsx
  extensions/obsidian/src/searchNoteCommand.tsx
  extensions/obsidian/src/utils/NoteCreator.tsx
  extensions/obsidian/src/utils/NoteLoader.tsx
  extensions/obsidian/src/utils/PinNoteUtils.tsx
  extensions/obsidian/src/utils/actions.tsx
  extensions/obsidian/src/utils/constants.tsx
  extensions/obsidian/src/utils/utils.tsx
Labels: extension fix / improvement, OP is author

#2155 Update Life Progress extension
  extensions/life-progress/CHANGELOG.md
  extensions/life-progress/package-lock.json
  extensions/life-progress/package.json
  extensions/life-progress/src/add-countdown-date.tsx
Labels: extension fix / improvement, OP is author

#2095 Add Screen Saver extension
  extensions/screen-saver/.eslintrc.json
  extensions/screen-saver/.gitignore
  extensions/screen-saver/.prettierrc
  extensions/screen-saver/CHANGELOG.md
  extensions/screen-saver/README.md
  extensions/screen-saver/assets/screen-saver.png
  extensions/screen-saver/metadata/Metadata-1.png
  extensions/screen-saver/package-lock.json
  extensions/screen-saver/package.json
  extensions/screen-saver/src/random-screen-saver.tsx
  extensions/screen-saver/src/start-screen-saver.tsx
  extensions/screen-saver/src/utils/applescript-utils.ts
  extensions/screen-saver/tsconfig.json
Labels: new extension

#2159 Update Wi-Fi extension
  extensions/wi-fi/CHANGELOG.md
  extensions/wi-fi/README.md
  extensions/wi-fi/metadata/Metadata-1.png
  extensions/wi-fi/metadata/Metadata-2.png
  extensions/wi-fi/metadata/Metadata-3.png
  extensions/wi-fi/package-lock.json
  extensions/wi-fi/package.json
  extensions/wi-fi/src/components/empty-view.tsx
  extensions/wi-fi/src/components/primary-actions.tsx
  extensions/wi-fi/src/hooks/hooks.ts
  extensions/wi-fi/src/scan-wifi.tsx
  extensions/wi-fi/src/toggle-wi-fi.tsx
  extensions/wi-fi/src/utils/common-utils.ts
  extensions/wi-fi/src/utils/shell-utils.ts
Labels: extension fix / improvement, OP is author

#2160 W-Fi: Fixed changelog date
  extensions/wi-fi/CHANGELOG.md
Labels: extension fix / improvement

#2175 fix: some characters will display as percentage encoded format
  extensions/visual-studio-code-recent-projects/CHANGELOG.md
  extensions/visual-studio-code-recent-projects/src/index.tsx
Labels: extension fix / improvement

#2158 fix: hypersonic preferences command
  extensions/hypersonic/CHANGELOG.md
  extensions/hypersonic/package.json
  extensions/hypersonic/src/components/empty-list.tsx
  extensions/hypersonic/src/views/todo-list.tsx
Labels: extension fix / improvement, OP is author

#2117 Add extension - Envoyer
  extensions/envoyer/.eslintrc.json
  extensions/envoyer/.gitignore
  extensions/envoyer/.prettierrc
  extensions/envoyer/CHANGELOG.md
  extensions/envoyer/README.md
  extensions/envoyer/assets/command-icon.png
  extensions/envoyer/assets/deploy-dark.svg
  extensions/envoyer/assets/deploy.svg
  extensions/envoyer/metadata/envoyer-01.png
  extensions/envoyer/metadata/envoyer-02.png
  extensions/envoyer/package-lock.json
  extensions/envoyer/package.json
  extensions/envoyer/src/index.tsx
  extensions/envoyer/src/types/index.d.ts
  extensions/envoyer/tsconfig.json
Labels: new extension

#2128 [Jisho] Encode URLs.
  extensions/jisho/CHANGELOG.md
  extensions/jisho/metadata/jisho-1.png
  extensions/jisho/src/index.tsx
Labels: extension fix / improvement

#1790 Add DekuDeals extension
  extensions/dekudeals/.eslintrc.json
  extensions/dekudeals/.gitignore
  extensions/dekudeals/.prettierrc
  extensions/dekudeals/CHANGELOG.md
  extensions/dekudeals/README.md
  extensions/dekudeals/assets/icon.png
  extensions/dekudeals/metadata/screenshot-01.png
  extensions/dekudeals/metadata/screenshot-02.png
  extensions/dekudeals/package-lock.json
  extensions/dekudeals/package.json
  extensions/dekudeals/src/index.tsx
  extensions/dekudeals/src/search.ts
  extensions/dekudeals/tsconfig.json
Labels: new extension

#2154 Update SM.MS extension
  extensions/sm-ms/CHANGELOG.md
  extensions/sm-ms/package-lock.json
  extensions/sm-ms/package.json
  extensions/sm-ms/src/delete-images.tsx
  extensions/sm-ms/src/upload-images.tsx
  extensions/sm-ms/src/utils/axios-utils.ts
Labels: extension fix / improvement, OP is author

#2178 New extension: Specify
  extensions/specify/.eslintrc.json
  extensions/specify/.prettierrc
  extensions/specify/CHANGELOG.md
  extensions/specify/README.md
  extensions/specify/assets/color-placeholder.png
  extensions/specify/assets/specify-icon.png
  extensions/specify/metadata/specify-raycast-01.png
  extensions/specify/metadata/specify-raycast-02.png
  extensions/specify/metadata/specify-raycast-03.png
  extensions/specify/package-lock.json
  extensions/specify/package.json
  extensions/specify/src/components/GridUtils/RepositoryDropdown.tsx
  extensions/specify/src/components/SearchBitmaps/BitmapGridItem.tsx
  extensions/specify/src/components/SearchColors/ColorListItem.tsx
  extensions/specify/src/components/SearchColors/RepositoryDropdown.tsx
  extensions/specify/src/components/SearchVectors/VectorGridItem.tsx
  extensions/specify/src/fetchers/fetcher.ts
  extensions/specify/src/hooks/useSpecifyHttpApi.ts
  extensions/specify/src/search-bitmaps.tsx
  extensions/specify/src/search-colors.tsx
  extensions/specify/src/search-vectors.tsx
  extensions/specify/src/types/repositories.types.ts
  extensions/specify/src/types/tokens.types.ts
  extensions/specify/src/utils/appleScript.utils.ts
  extensions/specify/src/utils/assets.utils.ts
  extensions/specify/src/utils/naturalSort.utils.ts
  extensions/specify/tsconfig.json
Labels: new extension

#2152 Update Easy New File extension
  extensions/easy-new-file/CHANGELOG.md
  extensions/easy-new-file/package-lock.json
  extensions/easy-new-file/package.json
  extensions/easy-new-file/src/add-file-template.tsx
  extensions/easy-new-file/src/components/action-new-template-file-here.tsx
  extensions/easy-new-file/src/components/new-file-here-grid-layout.tsx
  extensions/easy-new-file/src/components/new-file-here-list-layout.tsx
Labels: extension fix / improvement, OP is author

#2153 Update Short.io extension
  extensions/short-io/CHANGELOG.md
  extensions/short-io/package-lock.json
  extensions/short-io/package.json
  extensions/short-io/src/shorten-link.tsx
Labels: extension fix / improvement, OP is author

#2161 Update Github Gist extension
  extensions/github-gist/CHANGELOG.md
  extensions/github-gist/README.md
  extensions/github-gist/assets/gist-icon.svg
  extensions/github-gist/metadata/Screenshot-1.png
  extensions/github-gist/metadata/Screenshot-2.png
  extensions/github-gist/metadata/Screenshot-3.png
  extensions/github-gist/metadata/github-gist-1.png
  extensions/github-gist/metadata/github-gist-2.png
  extensions/github-gist/metadata/github-gist-3.png
  extensions/github-gist/package-lock.json
  extensions/github-gist/package.json
  extensions/github-gist/src/components/action-open-preferences.tsx
  extensions/github-gist/src/components/gist-action.tsx
  extensions/github-gist/src/create-gist.tsx
  extensions/github-gist/src/hooks/hooks.ts
  extensions/github-gist/src/search-gists.tsx
  extensions/github-gist/src/util/gist-utils.ts
  extensions/github-gist/src/util/input.ts
Labels: extension fix / improvement, OP is author

#2180 [bibmanager] improve error handling
  extensions/bibmanager/CHANGELOG.md
  extensions/bibmanager/assets/bibm_download.py
  extensions/bibmanager/package-lock.json
  extensions/bibmanager/package.json
  extensions/bibmanager/src/ListBibmItem.tsx
Labels: extension fix / improvement, OP is author

#2179 New extension: Battery Health
  extensions/battery-health/.eslintrc.json
  extensions/battery-health/.gitignore
  extensions/battery-health/.prettierrc
  extensions/battery-health/CHANGELOG.md
  extensions/battery-health/README.md
  extensions/battery-health/assets/battery-icon.png
  extensions/battery-health/media/screenshot.png
  extensions/battery-health/metadata/screenshot-01.png
  extensions/battery-health/package-lock.json
  extensions/battery-health/package.json
  extensions/battery-health/src/components/ChargeItem.tsx
  extensions/battery-health/src/components/ConditionItem.tsx
  extensions/battery-health/src/components/CycleCountItem.tsx
  extensions/battery-health/src/components/PercentageItem.tsx
  extensions/battery-health/src/components/PowerSourceItem.tsx
  extensions/battery-health/src/components/PowerUsageItem.tsx
  extensions/battery-health/src/components/StatsListItem.tsx
  extensions/battery-health/src/components/TemperatureItem.tsx
  extensions/battery-health/src/components/TimeRemainingItem.tsx
  extensions/battery-health/src/index.tsx
  extensions/battery-health/src/types.ts
  extensions/battery-health/tsconfig.json
Labels: new extension

#2150 [Color Casket] Now with Color Picker!
  extensions/color-casket/README.md
  extensions/color-casket/assets/dropper.png
  extensions/color-casket/assets/picker-icon.png
  extensions/color-casket/media/donate-banner.png
  extensions/color-casket/metadata/screenshot-1.png
  extensions/color-casket/metadata/screenshot-2.png
  extensions/color-casket/metadata/screenshot-3.png
  extensions/color-casket/package-lock.json
  extensions/color-casket/package.json
  extensions/color-casket/src/Extension.tsx
  extensions/color-casket/src/colors/Color.ts
  extensions/color-casket/src/colors/FromAppleColorFactory.ts
  extensions/color-casket/src/colors/RGBColor.ts
  extensions/color-casket/src/components/ColorActions.tsx
  extensions/color-casket/src/components/ColorPickers.tsx
  extensions/color-casket/src/components/GeneralActions.tsx
  extensions/color-casket/src/hooks/colorSaver.ts
  extensions/color-casket/src/hooks/useColorStorage.ts
  extensions/color-casket/src/picker.tsx
  extensions/color-casket/src/pickerHelper.ts
  extensions/color-casket/src/utilities.ts
Labels: extension fix / improvement, OP is author

#2165 Sourcegraph: Sourcegraph.com update, fix for match repository text
  extensions/sourcegraph/CHANGELOG.md
  extensions/sourcegraph/README.md
  extensions/sourcegraph/package-lock.json
  extensions/sourcegraph/package.json
  extensions/sourcegraph/src/components/CloudCommand.tsx
  extensions/sourcegraph/src/components/FindNotebooksCommand.tsx
  extensions/sourcegraph/src/components/InstanceCommand.tsx
  extensions/sourcegraph/src/components/SearchCommand.tsx
  extensions/sourcegraph/src/findNotebooksDotCom.tsx
  extensions/sourcegraph/src/findNotebooksInstance.tsx
  extensions/sourcegraph/src/findNotebooksSelfHosted.tsx
  extensions/sourcegraph/src/manageBatchChangesInstance.tsx
  extensions/sourcegraph/src/searchCloud.tsx
  extensions/sourcegraph/src/searchDotCom.tsx
  extensions/sourcegraph/src/searchInstance.tsx
  extensions/sourcegraph/src/searchSelfHosted.tsx
  extensions/sourcegraph/src/sourcegraph/gql/operations.ts
  extensions/sourcegraph/src/sourcegraph/index.ts
Labels: extension fix / improvement, OP is author

#2134 Add inkdrop extension
  extensions/inkdrop/.eslintrc.json
  extensions/inkdrop/.gitignore
  extensions/inkdrop/.prettierrc
  extensions/inkdrop/CHANGELOG.md
  extensions/inkdrop/LICENSE
  extensions/inkdrop/README.md
  extensions/inkdrop/assets/inkdrop_icon.png
  extensions/inkdrop/metadata/inkdrop-1.png
  extensions/inkdrop/metadata/inkdrop-2.png
  extensions/inkdrop/package-lock.json
  extensions/inkdrop/package.json
  extensions/inkdrop/src/components/BookMetadata.tsx
  extensions/inkdrop/src/components/TagMetadata.tsx
  extensions/inkdrop/src/create-note.tsx
  extensions/inkdrop/src/inkdrop.ts
  extensions/inkdrop/src/search-notes.tsx
  extensions/inkdrop/tsconfig.json
Labels: new extension

#2181 [Notion] "Create Database Page" command bugfixes.
  extensions/notion/CHANGELOG.md
  extensions/notion/package-lock.json
  extensions/notion/package.json
  extensions/notion/src/components/forms/CreateDatabaseForm.tsx
  extensions/notion/src/utils/notion.ts
  extensions/notion/src/utils/types.ts
Labels: extension fix / improvement

#2182 ✨ [Easydict-v1.2.0] add Apple 🍎 system translation
  extensions/easydict/.eslintrc
  extensions/easydict/.github/workflows/greetings.yml
  extensions/easydict/.github/workflows/manual.yml
  extensions/easydict/.github/workflows/test.yml
  extensions/easydict/.gitignore
  extensions/easydict/.husky/commit-msg
  extensions/easydict/.husky/pre-commit
  extensions/easydict/CHANGELOG.md
  extensions/easydict/README.md
  extensions/easydict/SECURITY.md
  extensions/easydict/assets/Apple-Translate.png
  extensions/easydict/assets/Baidu-Translate.png
  extensions/easydict/assets/Caiyun-Translate.png
  extensions/easydict/assets/Iciba-Dictionary.png
  extensions/easydict/assets/Tencent-Translate.png
  extensions/easydict/assets/Youdao-Translate.png
  extensions/easydict/assets/play.png
  extensions/easydict/commitlint.config.js
  extensions/easydict/metadata/easydict-1.png
  extensions/easydict/metadata/easydict-2.png
  extensions/easydict/metadata/easydict-3.png
  extensions/easydict/metadata/easydict-4.png
  extensions/easydict/package-lock.json
  extensions/easydict/package.json
  extensions/easydict/src/audio.ts
  extensions/easydict/src/components.tsx
  extensions/easydict/src/consts.ts
  extensions/easydict/src/detectLanguage.ts
  extensions/easydict/src/dict/iciba/interface.ts
  extensions/easydict/src/dict/iciba/request.ts
  extensions/easydict/src/dict/youdao/request.ts
  extensions/easydict/src/easydict.tsx
  extensions/easydict/src/formatData.ts
  extensions/easydict/src/releaseVersion/changelog.ts
  extensions/easydict/src/releaseVersion/releaseDetail.tsx
  extensions/easydict/src/releaseVersion/versionInfo.ts
  extensions/easydict/src/request.ts
  extensions/easydict/src/scripts.ts
  extensions/easydict/src/types.ts
  extensions/easydict/src/utils.ts
Labels: extension fix / improvement, OP is author

#2132 [Coinpaprika] new feature: favorite coins
  extensions/coinpaprika/CHANGELOG.md
  extensions/coinpaprika/README.md
  extensions/coinpaprika/media/showcase.png
  extensions/coinpaprika/media/showcase_01.png
  extensions/coinpaprika/media/showcase_02.png
  extensions/coinpaprika/metadata/coinpaprika-1.png
  extensions/coinpaprika/metadata/screenshot01.png
  extensions/coinpaprika/package.json
  extensions/coinpaprika/src/coinpaprika.tsx
  extensions/coinpaprika/src/utils/favorites.ts
Labels: extension fix / improvement, OP is author

#2192 Truth or Dare Extension
  extensions/truth-or-dare/.eslintrc.json
  extensions/truth-or-dare/.gitignore
  extensions/truth-or-dare/.prettierrc
  extensions/truth-or-dare/CHANGELOG.md
  extensions/truth-or-dare/README.md
  extensions/truth-or-dare/assets/command-icon.png
  extensions/truth-or-dare/metadata/truth-or-dare-1.png
  extensions/truth-or-dare/metadata/truth-or-dare-2.png
  extensions/truth-or-dare/metadata/truth-or-dare-3.png
  extensions/truth-or-dare/package-lock.json
  extensions/truth-or-dare/package.json
  extensions/truth-or-dare/src/play.tsx
  extensions/truth-or-dare/src/util.ts
  extensions/truth-or-dare/tsconfig.json
Labels: new extension

#2202 [gif-search]: Add preference for Grid trending item size
  extensions/gif-search/CHANGELOG.md
  extensions/gif-search/package.json
  extensions/gif-search/src/components/GifSearch.tsx
  extensions/gif-search/src/preferences.ts
Labels: extension fix / improvement, OP is author

#2193 [google-translate] Add details view.
  extensions/google-translate/CHANGELOG.md
  extensions/google-translate/package.json
  extensions/google-translate/src/translate.tsx
Labels: extension fix / improvement

#2198 fix(random-email): fix preference typings
  extensions/random-email/src/utils.ts
Labels: extension fix / improvement

#2038 Added optional grid view to the YouTube extension
  extensions/youtube/CHANGELOG.md
  extensions/youtube/metadata/channel.png
  extensions/youtube/metadata/channels.png
  extensions/youtube/metadata/popular.png
  extensions/youtube/metadata/video.png
  extensions/youtube/metadata/videos.png
  extensions/youtube/package-lock.json
  extensions/youtube/package.json
  extensions/youtube/src/components/actions.tsx
  extensions/youtube/src/components/channel.tsx
  extensions/youtube/src/components/channel_search.tsx
  extensions/youtube/src/components/listgrid.tsx
  extensions/youtube/src/components/playlist.tsx
  extensions/youtube/src/components/popular_video.tsx
  extensions/youtube/src/components/recent_channels.tsx
  extensions/youtube/src/components/recent_videos.tsx
  extensions/youtube/src/components/search.tsx
  extensions/youtube/src/components/video.tsx
  extensions/youtube/src/components/video_search.tsx
  extensions/youtube/src/lib/youtubeapi.ts
  extensions/youtube/src/types/types.d.ts
Labels: extension fix / improvement

#2210 Sourcegraph: Bug fix
  extensions/sourcegraph/CHANGELOG.md
  extensions/sourcegraph/package.json
  extensions/sourcegraph/src/components/SearchCommand.tsx
Labels: extension fix / improvement, OP is author

#2209 Update existing extension: Spaces
  extensions/spaces/CHANGELOG.md
  extensions/spaces/README.md
  extensions/spaces/package.json
  extensions/spaces/src/checkInstall.ts
  extensions/spaces/src/stop-space.tsx
Labels: extension fix / improvement, OP is author

#2206 [SSH Connection Manager] Add custom SSH port
  extensions/ssh-manager/CHANGELOG.md
  extensions/ssh-manager/src/create.tsx
  extensions/ssh-manager/src/show.tsx
  extensions/ssh-manager/src/types.ts
Labels: extension fix / improvement

#2126 [GitLab] Improve GitLab Flavored Markdown rendering.
  extensions/gitlab/CHANGELOG.md
  extensions/gitlab/src/utils.ts
Labels: extension fix / improvement, OP is contributor

#2215 CraftDocs: update icons 💄
  extensions/craftdocs/CHANGELOG.md
  extensions/craftdocs/assets/doc_on_doc.png
  extensions/craftdocs/assets/doc_richtext.png
  extensions/craftdocs/src/components/ListBlocks.tsx
Labels: extension fix / improvement, OP is author

#2208 New extension: Gather
  extensions/gather/.eslintrc.json
  extensions/gather/.gitignore
  extensions/gather/.prettierrc
  extensions/gather/CHANGELOG.md
  extensions/gather/README.md
  extensions/gather/assets/command-icon.png
  extensions/gather/metadata/gather-raycast-01.png
  extensions/gather/package-lock.json
  extensions/gather/package.json
  extensions/gather/src/toggle-afk.ts
  extensions/gather/src/toggle-availability-status.ts
  extensions/gather/src/toggle-camera.ts
  extensions/gather/src/toggle-microphone.ts
  extensions/gather/src/utils.ts
  extensions/gather/tsconfig.json
Labels: new extension

#2205 fix(next.js-docs): Fix cache and filepath
  extensions/nextjs-docs/package-lock.json
  extensions/nextjs-docs/package.json
  extensions/nextjs-docs/src/Octokit.tsx
  extensions/nextjs-docs/src/Topic.tsx
  extensions/nextjs-docs/src/index.tsx
  extensions/nextjs-docs/src/services/NextjsPage.tsx
  extensions/nextjs-docs/src/services/NextjsPages.tsx
  extensions/nextjs-docs/src/yaml-front-matter.tsx
Labels: extension fix / improvement

#2226 Add preference to switch between Things version (fix #1227)
  extensions/things/CHANGELOG.md
  extensions/things/package.json
  extensions/things/src/add-new-todo.tsx
  extensions/things/src/shared.ts
  extensions/things/src/show-list.tsx
Labels: extension fix / improvement, OP is author

#2214 Apple Notes: Super fast for iCloud Notes
  extensions/apple-notes/CHANGELOG.md
  extensions/apple-notes/assets/full-disk-access.png
  extensions/apple-notes/assets/sql-wasm.wasm
  extensions/apple-notes/metadata/apple-notes-1.png
  extensions/apple-notes/metadata/screenshot-01.png
  extensions/apple-notes/package-lock.json
  extensions/apple-notes/package.json
  extensions/apple-notes/src/errors.tsx
  extensions/apple-notes/src/index.tsx
  extensions/apple-notes/src/types.ts
  extensions/apple-notes/src/useAppleScript.ts
  extensions/apple-notes/src/useSql.ts
Labels: extension fix / improvement

#2204 Add taskplane extension
  extensions/taskplane/.eslintrc.json
  extensions/taskplane/.prettierrc
  extensions/taskplane/CHANGELOG.md
  extensions/taskplane/README.md
  extensions/taskplane/assets/check-circle-solid.svg
  extensions/taskplane/assets/check-circle.svg
  extensions/taskplane/assets/command-icon.png
  extensions/taskplane/metadata/taskplane-1.png
  extensions/taskplane/metadata/taskplane-2.png
  extensions/taskplane/metadata/taskplane-3.png
  extensions/taskplane/package-lock.json
  extensions/taskplane/package.json
  extensions/taskplane/src/ChooseOrganization.tsx
  extensions/taskplane/src/CreateTask.tsx
  extensions/taskplane/src/Login.tsx
  extensions/taskplane/src/Task.tsx
  extensions/taskplane/src/Tasks.tsx
  extensions/taskplane/src/browse-tasks.tsx
  extensions/taskplane/src/create-task.tsx
  extensions/taskplane/src/lib.ts
  extensions/taskplane/src/sign-out.tsx
  extensions/taskplane/tsconfig.json
Labels: new extension

#2190 Adds Alpine.js documentation search extension and removes second extension from PR
  extensions/alpinejs-doc-search/.eslintrc.json
  extensions/alpinejs-doc-search/.prettierrc
  extensions/alpinejs-doc-search/CHANGELOG.md
  extensions/alpinejs-doc-search/README.md
  extensions/alpinejs-doc-search/assets/command-icon2.png
  extensions/alpinejs-doc-search/assets/empty-icon.png
  extensions/alpinejs-doc-search/media/alpinejs.gif
  extensions/alpinejs-doc-search/media/screenshot.png
  extensions/alpinejs-doc-search/metadata/alpinejs-1.png
  extensions/alpinejs-doc-search/metadata/alpinejs-2.png
  extensions/alpinejs-doc-search/metadata/alpinejs-3.png
  extensions/alpinejs-doc-search/package-lock.json
  extensions/alpinejs-doc-search/package.json
  extensions/alpinejs-doc-search/src/alpinejs.tsx
  extensions/alpinejs-doc-search/tsconfig.json
Labels: new extension

#2234 Update Craftdocs: Add Daily Notes command
  extensions/craftdocs/CHANGELOG.md
  extensions/craftdocs/package-lock.json
  extensions/craftdocs/package.json
  extensions/craftdocs/src/components/DailyNoteRef.tsx
  extensions/craftdocs/src/components/DailyNotes.tsx
  extensions/craftdocs/src/components/Shortcut.tsx
  extensions/craftdocs/src/dailyNotes.tsx
Labels: extension fix / improvement, OP is author

#2127 Adding GitLab Docs extension
  extensions/gitlab-docs/.eslintrc.json
  extensions/gitlab-docs/.gitignore
  extensions/gitlab-docs/.prettierrc
  extensions/gitlab-docs/CHANGELOG.md
  extensions/gitlab-docs/README.md
  extensions/gitlab-docs/assets/docs-icon.png
  extensions/gitlab-docs/assets/gitlab-icon.png
  extensions/gitlab-docs/assets/handbook-icon.png
  extensions/gitlab-docs/assets/pajamas-icon.png
  extensions/gitlab-docs/metadata/gitlab-docs-1.png
  extensions/gitlab-docs/metadata/gitlab-docs-2.png
  extensions/gitlab-docs/metadata/gitlab-docs-3.png
  extensions/gitlab-docs/package-lock.json
  extensions/gitlab-docs/package.json
  extensions/gitlab-docs/src/docs.tsx
  extensions/gitlab-docs/src/index.tsx
  extensions/gitlab-docs/src/pajamas.tsx
  extensions/gitlab-docs/tsconfig.json
Labels: new extension

#2121 nuget
  extensions/nuget/.eslintrc.json
  extensions/nuget/.gitignore
  extensions/nuget/.prettierrc
  extensions/nuget/CHANGELOG.md
  extensions/nuget/README.md
  extensions/nuget/assets/icon.png
  extensions/nuget/assets/icon@dark.png
  extensions/nuget/metadata/nuget-01.png
  extensions/nuget/metadata/nuget-02.png
  extensions/nuget/metadata/nuget-03.png
  extensions/nuget/metadata/nuget-04.png
  extensions/nuget/package-lock.json
  extensions/nuget/package.json
  extensions/nuget/src/NugetPackage.tsx
  extensions/nuget/src/components/package-detail.tsx
  extensions/nuget/src/index.tsx
  extensions/nuget/src/nuget-client.tsx
  extensions/nuget/src/utils.tsx
  extensions/nuget/tsconfig.json
Labels: new extension

#2245 [search-mdn] - bug fix - c: moved locale from url to params on get<MDNResponse>
  extensions/search-mdn/src/index.tsx
Labels: extension fix / improvement

#2172 Add a preference for setting random wallpaper download path
  extensions/unsplash/README.md
  extensions/unsplash/package.json
  extensions/unsplash/src/functions/setWallpaper.ts
  extensions/unsplash/src/functions/utils.ts
  extensions/unsplash/src/random.tsx
  extensions/unsplash/src/types/index.d.ts
Labels: extension fix / improvement

#2259 feat(holodex): add open in external video player menu
  extensions/holodex/CHANGELOG.md
  extensions/holodex/metadata/Screenshot1.png
  extensions/holodex/metadata/Screenshot3.png
  extensions/holodex/package-lock.json
  extensions/holodex/package.json
  extensions/holodex/src/archives.tsx
  extensions/holodex/src/clips.tsx
  extensions/holodex/src/components/Actions.tsx
  extensions/holodex/src/components/Details.tsx
  extensions/holodex/src/lib/interfaces.tsx
  extensions/holodex/src/lib/preferences.tsx
  extensions/holodex/src/live.tsx
Labels: extension fix / improvement, OP is author

#2260 [Extension] Add Search command to Yandex Music extension
  extensions/yandex-music/CHANGELOG.md
  extensions/yandex-music/metadata/yandex-music-02.png
  extensions/yandex-music/package.json
  extensions/yandex-music/src/search.tsx
  extensions/yandex-music/src/utils.ts
Labels: extension fix / improvement, OP is author

#2243 [system-monitor] Added extra features
  extensions/system-monitor/CHANGELOG.md
  extensions/system-monitor/assets/connection.png
  extensions/system-monitor/assets/lightning.png
  extensions/system-monitor/metadata/raycast-system-monitor-1.png
  extensions/system-monitor/metadata/raycast-system-monitor-2.png
  extensions/system-monitor/metadata/raycast-system-monitor-3.png
  extensions/system-monitor/metadata/raycast-system-monitor-4.png
  extensions/system-monitor/metadata/screenshot001.png
  extensions/system-monitor/package-lock.json
  extensions/system-monitor/package.json
  extensions/system-monitor/src/Cpu/CpuMonitor.tsx
  extensions/system-monitor/src/Cpu/CpuUtils.tsx
  extensions/system-monitor/src/Interfaces.tsx
  extensions/system-monitor/src/Memory/MemoryMonitor.tsx
  extensions/system-monitor/src/Memory/MemoryUtils.ts
  extensions/system-monitor/src/Network/NetworkMonitor.tsx
  extensions/system-monitor/src/Network/NetworkUtils.tsx
  extensions/system-monitor/src/Power/PowerMonitor.tsx
  extensions/system-monitor/src/Power/PowerUtils.tsx
  extensions/system-monitor/src/system-monitor.tsx
  extensions/system-monitor/src/utils.ts
Labels: extension fix / improvement, OP is contributor

#1804 New Extension: Numi
  extensions/numi/.eslintrc.json
  extensions/numi/.gitignore
  extensions/numi/.prettierrc
  extensions/numi/CHANGELOG.md
  extensions/numi/README.md
  extensions/numi/assets/empty-view.png
  extensions/numi/assets/numi-icon.png
  extensions/numi/metadata/screenshot-01.png
  extensions/numi/metadata/screenshot-02.png
  extensions/numi/metadata/screenshot-03.png
  extensions/numi/package-lock.json
  extensions/numi/package.json
  extensions/numi/src/index.tsx
  extensions/numi/src/services/checkinstall.ts
  extensions/numi/src/services/requests.tsx
  extensions/numi/tsconfig.json
Labels: new extension

#2242 Raindrop.io update - adds Detail view
  extensions/raindrop/CHANGELOG.md
  extensions/raindrop/metadata/screenshot-01.png
  extensions/raindrop/metadata/screenshot-02.png
  extensions/raindrop/package-lock.json
  extensions/raindrop/package.json
  extensions/raindrop/src/components/BookmarkItem.tsx
  extensions/raindrop/src/latest_bookmarks.tsx
  extensions/raindrop/src/search.tsx
  extensions/raindrop/src/types.ts
Labels: extension fix / improvement, OP is author

#2233 ✨ New Extension: CodeBlocks
  extensions/CodeBlocks/.eslintrc.json
  extensions/CodeBlocks/.gitignore
  extensions/CodeBlocks/.prettierrc
  extensions/CodeBlocks/CHANGELOG.md
  extensions/CodeBlocks/LICENSE
  extensions/CodeBlocks/README.md
  extensions/CodeBlocks/assets/CodeBlocks.png
  extensions/CodeBlocks/metadata/codeblocks-1.png
  extensions/CodeBlocks/metadata/codeblocks-2.png
  extensions/CodeBlocks/metadata/codeblocks-3.png
  extensions/CodeBlocks/metadata/codeblocks-4.png
  extensions/CodeBlocks/metadata/codeblocks-5.png
  extensions/CodeBlocks/package-lock.json
  extensions/CodeBlocks/package.json
  extensions/CodeBlocks/src/index.tsx
  extensions/CodeBlocks/tsconfig.json
Labels: new extension

#2250 New Extension: Library Genesis
  extensions/library-genesis/.eslintrc.json
  extensions/library-genesis/.gitignore
  extensions/library-genesis/.prettierrc
  extensions/library-genesis/CHANGELOG.md
  extensions/library-genesis/README.md
  extensions/library-genesis/assets/command-icon.png
  extensions/library-genesis/assets/empty-view.png
  extensions/library-genesis/assets/empty-view@dark.png
  extensions/library-genesis/assets/library-genesis-1.png
  extensions/library-genesis/metadata/library-genesis-1.png
  extensions/library-genesis/package-lock.json
  extensions/library-genesis/package.json
  extensions/library-genesis/src/components/action-open-extension-preferences.tsx
  extensions/library-genesis/src/components/book-item.tsx
  extensions/library-genesis/src/components/empty-view.tsx
  extensions/library-genesis/src/hooks/hooks.ts
  extensions/library-genesis/src/search-books.tsx
  extensions/library-genesis/src/types.ts
  extensions/library-genesis/src/utils/common-utils.ts
  extensions/library-genesis/src/utils/libgen.d.ts
  extensions/library-genesis/tsconfig.json
Labels: new extension

#2227 Add Chuck Norris Facts extension
  extensions/chuck-norris-facts/.eslintrc.json
  extensions/chuck-norris-facts/.gitignore
  extensions/chuck-norris-facts/.prettierrc
  extensions/chuck-norris-facts/CHANGELOG.md
  extensions/chuck-norris-facts/README.md
  extensions/chuck-norris-facts/assets/chucknorris-icon.png
  extensions/chuck-norris-facts/metadata/chuck-norris-facts-1.png
  extensions/chuck-norris-facts/package-lock.json
  extensions/chuck-norris-facts/package.json
  extensions/chuck-norris-facts/src/api.ts
  extensions/chuck-norris-facts/src/chuck-norris-facts.tsx
  extensions/chuck-norris-facts/src/types.ts
  extensions/chuck-norris-facts/tsconfig.json
Labels: new extension

#2272 [Music] fixed #2258: wrong library method
  extensions/music/CHANGELOG.md
  extensions/music/src/play-library-album.tsx
Labels: extension fix / improvement, OP is author

#1431 feat: Add `pwgen`
  extensions/passphrase-generator/.eslintrc.json
  extensions/passphrase-generator/.prettierrc
  extensions/passphrase-generator/CHANGELOG.md
  extensions/passphrase-generator/assets/command-icon.png
  extensions/passphrase-generator/metadata/passphrase-generator-1.png
  extensions/passphrase-generator/metadata/passphrase-generator-2.png
  extensions/passphrase-generator/package-lock.json
  extensions/passphrase-generator/package.json
  extensions/passphrase-generator/src/ListItem.tsx
  extensions/passphrase-generator/src/hooks/usePreferences.ts
  extensions/passphrase-generator/src/length.tsx
  extensions/passphrase-generator/src/strength.tsx
  extensions/passphrase-generator/src/utils/constants.ts
  extensions/passphrase-generator/src/utils/generators.ts
  extensions/passphrase-generator/src/utils/getStrengthIcon.ts
  extensions/passphrase-generator/src/utils/product.ts
  extensions/passphrase-generator/src/utils/types.ts
  extensions/passphrase-generator/tsconfig.json
Labels: new extension

#1644 Fixes #1642 : send-to-flomo support IME input
  extensions/send-to-flomo/CHANGELOG.md
  extensions/send-to-flomo/metadata/send-to-flomo-1.png
  extensions/send-to-flomo/package-lock.json
  extensions/send-to-flomo/package.json
  extensions/send-to-flomo/src/send-to-flomo.tsx
Labels: extension fix / improvement

#2254 Migrate amazon-aws to API 1.36
  extensions/amazon-aws/CHANGELOG.md
  extensions/amazon-aws/README.md
  extensions/amazon-aws/package-lock.json
  extensions/amazon-aws/package.json
  extensions/amazon-aws/src/cloudformation.tsx
  extensions/amazon-aws/src/codepipelines.tsx
  extensions/amazon-aws/src/console.tsx
  extensions/amazon-aws/src/dynamodb.tsx
  extensions/amazon-aws/src/ec2.tsx
  extensions/amazon-aws/src/ecs.tsx
  extensions/amazon-aws/src/queues.tsx
Labels: extension fix / improvement

#2264 [Google Translate] Quick action: open in browser
  extensions/google-translate/CHANGELOG.md
  extensions/google-translate/src/translate-form.tsx
  extensions/google-translate/src/translate.tsx
Labels: extension fix / improvement

#2229 Supernotes Extension
  extensions/supernotes/.eslintrc.json
  extensions/supernotes/.gitignore
  extensions/supernotes/.prettierrc
  extensions/supernotes/.vscode/raycast-extension.code-workspace
  extensions/supernotes/CHANGELOG.md
  extensions/supernotes/README.md
  extensions/supernotes/assets/supernotes-icon.png
  extensions/supernotes/metadata/supernotes-1.png
  extensions/supernotes/metadata/supernotes-2.png
  extensions/supernotes/metadata/supernotes-3.png
  extensions/supernotes/metadata/supernotes-4.png
  extensions/supernotes/metadata/supernotes-5.png
  extensions/supernotes/package-lock.json
  extensions/supernotes/package.json
  extensions/supernotes/src/components/CardDetail.tsx
  extensions/supernotes/src/components/CardListItem.tsx
  extensions/supernotes/src/components/CommonCardActions.tsx
  extensions/supernotes/src/create.tsx
  extensions/supernotes/src/hooks/useCreate.tsx
  extensions/supernotes/src/hooks/useJunk.tsx
  extensions/supernotes/src/hooks/useRecent.tsx
  extensions/supernotes/src/hooks/useSearch.tsx
  extensions/supernotes/src/search.tsx
  extensions/supernotes/src/utils/defines.ts
  extensions/supernotes/src/utils/mapping.ts
  extensions/supernotes/src/utils/types.ts
  extensions/supernotes/tsconfig.json
Labels: new extension

#2261 feat(nature-remo): add nature remo extension
  extensions/nature-remo/.eslintrc.json
  extensions/nature-remo/.gitignore
  extensions/nature-remo/.prettierrc
  extensions/nature-remo/CHANGELOG.md
  extensions/nature-remo/README.md
  extensions/nature-remo/assets/nature-remo.png
  extensions/nature-remo/metadata/nature-remo-1.png
  extensions/nature-remo/metadata/nature-remo-2.png
  extensions/nature-remo/package-lock.json
  extensions/nature-remo/package.json
  extensions/nature-remo/src/components/Aircon.tsx
  extensions/nature-remo/src/components/Appliances.tsx
  extensions/nature-remo/src/components/Signals.tsx
  extensions/nature-remo/src/control.tsx
  extensions/nature-remo/src/lib/api.ts
  extensions/nature-remo/src/lib/icon.ts
  extensions/nature-remo/src/lib/preferences.ts
  extensions/nature-remo/src/lib/useCache.ts
  extensions/nature-remo/src/lib/useQuery.ts
  extensions/nature-remo/src/lib/utils.ts
  extensions/nature-remo/tsconfig.json
Labels: new extension

#2270 Create an extension to search dbt documentation
  extensions/dbt-documentation/.eslintrc.json
  extensions/dbt-documentation/.gitignore
  extensions/dbt-documentation/.prettierrc
  extensions/dbt-documentation/CHANGELOG.md
  extensions/dbt-documentation/README.md
  extensions/dbt-documentation/assets/dbt-icon.png
  extensions/dbt-documentation/metadata/dbt-documentation-1.png
  extensions/dbt-documentation/package-lock.json
  extensions/dbt-documentation/package.json
  extensions/dbt-documentation/src/index.tsx
  extensions/dbt-documentation/tsconfig.json
Labels: new extension

#2274 Fix for Gopass Extension on macOS Apple Silicon
  extensions/gopass/CHANGELOG.md
  extensions/gopass/README.md
  extensions/gopass/src/gopass.ts
Labels: extension fix / improvement

#2265 [Gitlab] Fix pagination
  extensions/gitlab/CHANGELOG.md
  extensions/gitlab/src/gitlabapi.ts
Labels: extension fix / improvement

#2276 Port manager
  extensions/port-manager/CHANGELOG.md
  extensions/port-manager/README.md
  extensions/port-manager/icons.sketch
  extensions/port-manager/metadata/port-manager-1.png
  extensions/port-manager/metadata/port-manager-2.png
  extensions/port-manager/metadata/port-manager-3.png
  extensions/port-manager/metadata/port-manager-4.png
  extensions/port-manager/package-lock.json
  extensions/port-manager/package.json
  extensions/port-manager/src/actions/CopyCommandsActionMenu.tsx
  extensions/port-manager/src/actions/CopyInfoActionsMenu.tsx
  extensions/port-manager/src/actions/KillParentActions.tsx
  extensions/port-manager/src/actions/ShowInFinderActionMenu.tsx
  extensions/port-manager/src/hooks/useProcessInfo.ts
  extensions/port-manager/src/models/ProcessInfo.ts
  extensions/port-manager/src/models/constants.ts
  extensions/port-manager/src/models/interfaces.ts
  extensions/port-manager/src/open-ports.tsx
Labels: extension fix / improvement, OP is author

#2281 dbt-documentation - Update icon to the same as the other dbt extension
  extensions/dbt-documentation/CHANGELOG.md
  extensions/dbt-documentation/assets/dbt-icon.png
Labels: extension fix / improvement, OP is author

#2285 new feature: edit macro
  extensions/keyboard-maestro/src/list.tsx
Labels: extension fix / improvement, OP is author

#2294 bitfinex: Support lending rates chart
  extensions/bitfinex/CHANGELOG.md
  extensions/bitfinex/metadata/bitfinex-1.png
  extensions/bitfinex/metadata/bitfinex-2.png
  extensions/bitfinex/metadata/bitfinex-3.png
  extensions/bitfinex/metadata/bitfinex-4.png
  extensions/bitfinex/metadata/bitfinex-5.png
  extensions/bitfinex/package-lock.json
  extensions/bitfinex/package.json
  extensions/bitfinex/src/lending-rates.tsx
Labels: extension fix / improvement, OP is author

#2287 hypersonic: update v0.0.2
  extensions/hypersonic/CHANGELOG.md
  extensions/hypersonic/README.md
  extensions/hypersonic/metadata/hypersonic_6.png
  extensions/hypersonic/metadata/hypersonic_7.png
  extensions/hypersonic/package-lock.json
  extensions/hypersonic/package.json
  extensions/hypersonic/src/components/complete-todo-action.tsx
  extensions/hypersonic/src/components/copy-todo-action.tsx
  extensions/hypersonic/src/components/empty-list.tsx
  extensions/hypersonic/src/components/remind-todo-action.tsx
  extensions/hypersonic/src/hooks/use-onboarding.ts
  extensions/hypersonic/src/hooks/use-todos.ts
  extensions/hypersonic/src/services/notion/operations/create-todo.ts
  extensions/hypersonic/src/services/notion/operations/get-database.ts
  extensions/hypersonic/src/services/notion/operations/get-done-today.ts
  extensions/hypersonic/src/services/notion/operations/get-todos.ts
  extensions/hypersonic/src/services/notion/operations/update-todo-date.ts
  extensions/hypersonic/src/services/notion/operations/update-todo-status.ts
  extensions/hypersonic/src/services/notion/operations/update-todo-tag.ts
  extensions/hypersonic/src/services/notion/utils/map-page-to-todo.ts
  extensions/hypersonic/src/views/body.tsx
  extensions/hypersonic/src/views/onboarding.tsx
  extensions/hypersonic/src/views/todo-list.tsx
Labels: extension fix / improvement, OP is author

#2286 Gopass: Add Show Details Action
  extensions/gopass/CHANGELOG.md
  extensions/gopass/metadata/goopass.png
  extensions/gopass/metadata/gopass-1.png
  extensions/gopass/metadata/gopass.png
  extensions/gopass/src/details.tsx
  extensions/gopass/src/gopass.ts
  extensions/gopass/src/index.tsx
  extensions/gopass/src/utils.ts
Labels: extension fix / improvement

#2009 [Encoding-Tools] add bcrypt encoding
  extensions/encoding-tools/CHANGELOG.md
  extensions/encoding-tools/package-lock.json
  extensions/encoding-tools/package.json
  extensions/encoding-tools/src/bcrypt.ts
Labels: extension fix / improvement

#2297 change action description
  extensions/ticktick/package.json
Labels: extension fix / improvement, OP is author

#2284 Sonarr Extension
  extensions/sonarr/.eslintrc.json
  extensions/sonarr/.prettierrc
  extensions/sonarr/CHANGELOG.md
  extensions/sonarr/README.md
  extensions/sonarr/assets/command-icon.png
  extensions/sonarr/metadata/sonarr-2.png
  extensions/sonarr/package-lock.json
  extensions/sonarr/package.json
  extensions/sonarr/src/calendarItem.tsx
  extensions/sonarr/src/index.tsx
  extensions/sonarr/tsconfig.json
Labels: new extension

#2290 Library Genesis: Improve Search API, Added Download
  extensions/library-genesis/CHANGELOG.md
  extensions/library-genesis/README.md
  extensions/library-genesis/assets/library-genesis-1.png
  extensions/library-genesis/metadata/library-genesis-1.png
  extensions/library-genesis/metadata/library-genesis-2.png
  extensions/library-genesis/metadata/library-genesis-3.png
  extensions/library-genesis/package-lock.json
  extensions/library-genesis/package.json
  extensions/library-genesis/src/components/book-action-panel.tsx
  extensions/library-genesis/src/components/book-item.tsx
  extensions/library-genesis/src/functions/download-book.ts
  extensions/library-genesis/src/hooks/search-books-on-libgen.ts
  extensions/library-genesis/src/search-books.tsx
  extensions/library-genesis/src/types.ts
  extensions/library-genesis/src/utils/common-utils.ts
  extensions/library-genesis/src/utils/constants.ts
  extensions/library-genesis/src/utils/libgen-api.ts
Labels: extension fix / improvement, OP is author

#2292 new extension: Night Light
  extensions/night-light/.eslintrc.json
  extensions/night-light/.gitignore
  extensions/night-light/.prettierrc
  extensions/night-light/CHANGELOG.md
  extensions/night-light/README.md
  extensions/night-light/assets/icon.png
  extensions/night-light/metadata/metadata-1.png
  extensions/night-light/metadata/metadata-2.png
  extensions/night-light/metadata/metadata-3.png
  extensions/night-light/metadata/metadata-4.png
  extensions/night-light/metadata/metadata-5.png
  extensions/night-light/package-lock.json
  extensions/night-light/package.json
  extensions/night-light/src/change-night-shift-color-temperature.tsx
  extensions/night-light/src/toggle-night-shift.ts
  extensions/night-light/src/turn-night-shift-off.ts
  extensions/night-light/src/turn-night-shift-on.ts
  extensions/night-light/src/utils.ts
  extensions/night-light/tsconfig.json
Labels: new extension

#2318 Library Genesis: Sorting results by preferred file formats
  extensions/library-genesis/CHANGELOG.md
  extensions/library-genesis/README.md
  extensions/library-genesis/package.json
  extensions/library-genesis/src/functions/download-book.ts
  extensions/library-genesis/src/hooks/search-books-on-libgen.ts
  extensions/library-genesis/src/types.ts
  extensions/library-genesis/src/utils/common-utils.ts
Labels: extension fix / improvement, OP is author

#2328 [Easydict] 🐞 Fixed new release prompt may be shown multiple times
  extensions/easydict/CHANGELOG.md
  extensions/easydict/src/components.tsx
  extensions/easydict/src/easydict.tsx
  extensions/easydict/src/releaseVersion/changelog.ts
  extensions/easydict/src/releaseVersion/releaseDetail.tsx
  extensions/easydict/src/releaseVersion/versionInfo.ts
  extensions/easydict/src/request.ts
  extensions/easydict/src/types.ts
  extensions/easydict/src/utils.ts
Labels: extension fix / improvement, OP is author

#2331 Linear: Add new commands
  extensions/linear/assets/dark/linear.svg
  extensions/linear/assets/light/linear.svg
  extensions/linear/package-lock.json
  extensions/linear/package.json
  extensions/linear/src/create-issue-for-myself.ts
  extensions/linear/src/helpers/notifications.ts
  extensions/linear/src/unread-notifications.tsx
Labels: extension fix / improvement

#2332 GitHub Menu Bar extension
  extensions/github-menu-bar/.eslintrc.json
  extensions/github-menu-bar/.gitignore
  extensions/github-menu-bar/.prettierrc
  extensions/github-menu-bar/CHANGELOG.md
  extensions/github-menu-bar/README.md
  extensions/github-menu-bar/assets/command-icon.png
  extensions/github-menu-bar/assets/github-icon-dark.png
  extensions/github-menu-bar/assets/github-icon-light.png
  extensions/github-menu-bar/assets/github-icon-octocat.png
  extensions/github-menu-bar/package-lock.json
  extensions/github-menu-bar/package.json
  extensions/github-menu-bar/src/menu.tsx
  extensions/github-menu-bar/tsconfig.json
Labels: new extension

#2323 Extension dbt documentation - Add ability to scrap code snippets
  extensions/dbt-documentation/CHANGELOG.md
  extensions/dbt-documentation/README.md
  extensions/dbt-documentation/metadata/dbt-documentation-1.png
  extensions/dbt-documentation/metadata/dbt-documentation-2.png
  extensions/dbt-documentation/package-lock.json
  extensions/dbt-documentation/package.json
  extensions/dbt-documentation/src/index.tsx
Labels: extension fix / improvement, OP is author

#2354 add arguments for searchstring to dash
  extensions/dash/package-lock.json
  extensions/dash/package.json
  extensions/dash/src/index.tsx
  extensions/dash/src/types.ts
  extensions/dash/src/views/MultiDocsetSearch.tsx
Labels: extension fix / improvement

#2372 [Spotify-Player] Add menubar title length limit
  extensions/spotify-player/CHANGELOG.md
  extensions/spotify-player/package.json
  extensions/spotify-player/src/nowPlaying.tsx
Labels: extension fix / improvement

#2376 feat(linear): Add/Edit comments
  extensions/linear/CHANGELOG.md
  extensions/linear/src/components/IssueCommentForm.tsx
  extensions/linear/src/components/IssueComments.tsx
  extensions/linear/src/components/SubIssues.tsx
Labels: extension fix / improvement, OP is author

#2319 Gopass: Add Directory Navigation
  extensions/gopass/CHANGELOG.md
  extensions/gopass/metadata/gopass-1.png
  extensions/gopass/metadata/gopass-2.png
  extensions/gopass/metadata/gopass.png
  extensions/gopass/src/details.tsx
  extensions/gopass/src/gopass.ts
  extensions/gopass/src/index.tsx
  extensions/gopass/src/utils.ts
Labels: extension fix / improvement

#2388 check that args is a string before using - else raycast may pass empt…
  extensions/coffee/package.json
  extensions/coffee/src/caffeinate.ts
Labels: extension fix / improvement

#2395 fix(linear): Issue creation for one team
  extensions/linear/CHANGELOG.md
  extensions/linear/src/components/CreateIssueForm.tsx
Labels: extension fix / improvement, OP is author, OP is contributor

#2309 [Bitfinex extension] New icons
  extensions/bitfinex/CHANGELOG.md
  extensions/bitfinex/metadata/bitfinex-1.png
  extensions/bitfinex/metadata/bitfinex-2.png
  extensions/bitfinex/metadata/bitfinex-3.png
  extensions/bitfinex/metadata/bitfinex-4.png
  extensions/bitfinex/metadata/bitfinex-5.png
  extensions/bitfinex/package-lock.json
  extensions/bitfinex/package.json
  extensions/bitfinex/src/funding-interests.tsx
  extensions/bitfinex/src/funding-offers.tsx
  extensions/bitfinex/src/lending-rates.tsx
  extensions/bitfinex/src/preference.ts
Labels: extension fix / improvement, OP is author

#2330 feat[css-calculations]: add validation onChange
  extensions/css-calculations/CHANGELOG.md
  extensions/css-calculations/package-lock.json
  extensions/css-calculations/package.json
  extensions/css-calculations/src/clamp_px.tsx
  extensions/css-calculations/src/clamp_rem.tsx
  extensions/css-calculations/src/hooks.ts
  extensions/css-calculations/src/utils.ts
Labels: extension fix / improvement, OP is author

#2304 Xqc Extension
  extensions/xqc/.eslintrc.json
  extensions/xqc/.gitignore
  extensions/xqc/.prettierrc
  extensions/xqc/CHANGELOG.md
  extensions/xqc/README.md
  extensions/xqc/assets/command-icon.png
  extensions/xqc/metadata/xqc-1.png
  extensions/xqc/metadata/xqc-2.png
  extensions/xqc/metadata/xqc-3.png
  extensions/xqc/package-lock.json
  extensions/xqc/package.json
  extensions/xqc/src/index.tsx
  extensions/xqc/src/interface/vodModel.ts
  extensions/xqc/tsconfig.json
Labels: new extension

#2337 New Extension: dicom tag lookup extension
  extensions/dicom/.eslintrc.json
  extensions/dicom/.gitignore
  extensions/dicom/.prettierrc
  extensions/dicom/CHANGELOG.md
  extensions/dicom/README.md
  extensions/dicom/assets/dicom.png
  extensions/dicom/metadata/dicom-1.png
  extensions/dicom/metadata/dicom-2.png
  extensions/dicom/metadata/dicom-3.png
  extensions/dicom/package-lock.json
  extensions/dicom/package.json
  extensions/dicom/src/actions.tsx
  extensions/dicom/src/dicom.tsx
  extensions/dicom/src/dictionary.ts
  extensions/dicom/tsconfig.json
Labels: new extension

#1789 [YouTrack] Add YouTrack extension
  extensions/youtrack/.eslintrc.json
  extensions/youtrack/.gitignore
  extensions/youtrack/.prettierrc
  extensions/youtrack/CHANGELOG.md
  extensions/youtrack/README.md
  extensions/youtrack/assets/command-icon.png
  extensions/youtrack/metadata/youtrack-browse-01.png
  extensions/youtrack/package-lock.json
  extensions/youtrack/package.json
  extensions/youtrack/src/browse.tsx
  extensions/youtrack/src/components.tsx
  extensions/youtrack/src/interfaces.tsx
  extensions/youtrack/src/utils.tsx
  extensions/youtrack/tsconfig.json
Labels: new extension

#2399 [youtrack] Update README.md
  extensions/youtrack/README.md
Labels: new extension

#2301 TMDB Extension
  extensions/tmdb/.eslintrc.json
  extensions/tmdb/.gitignore
  extensions/tmdb/.prettierrc
  extensions/tmdb/CHANGELOG.md
  extensions/tmdb/README.md
  extensions/tmdb/assets/command-icon.png
  extensions/tmdb/metadata/new-1.png
  extensions/tmdb/metadata/new-2.png
  extensions/tmdb/metadata/new-3.png
  extensions/tmdb/metadata/new-4.png
  extensions/tmdb/package-lock.json
  extensions/tmdb/package.json
  extensions/tmdb/src/nowPlayingMovies.tsx
  extensions/tmdb/src/nowPlayingTv.tsx
  extensions/tmdb/src/searchMovie.tsx
  extensions/tmdb/src/searchTV.tsx
  extensions/tmdb/tsconfig.json
Labels: new extension

#2346 Update Buildkite extension to utilize newest features
  extensions/buildkite/package-lock.json
  extensions/buildkite/package.json
  extensions/buildkite/src/components/BuildListItem.tsx
  extensions/buildkite/src/components/Builds.tsx
  extensions/buildkite/src/components/PipelineListItem.tsx
  extensions/buildkite/src/my-builds.tsx
  extensions/buildkite/src/search-pipelines.tsx
  extensions/buildkite/src/utils/states.ts
  extensions/buildkite/src/utils/useQuery.ts
  extensions/buildkite/tsconfig.json
Labels: extension fix / improvement, OP is author

#2347 Add team variable to getDomainUrl()
  extensions/netlify/CHANGELOG.md
  extensions/netlify/package.json
  extensions/netlify/src/utils.ts
  extensions/netlify/src/view-domains.tsx
Labels: extension fix / improvement

#2349 [logseq] feat: 🎸 add leading time
  extensions/logseq/CHANGELOG.md
  extensions/logseq/package-lock.json
  extensions/logseq/package.json
  extensions/logseq/src/index.tsx
  extensions/logseq/src/utils.ts
Labels: extension fix / improvement, OP is author

#2348 Create Word Count extension
  extensions/word-count/.eslintrc.json
  extensions/word-count/.gitignore
  extensions/word-count/.prettierrc
  extensions/word-count/CHANGELOG.md
  extensions/word-count/LICENSE
  extensions/word-count/README.md
  extensions/word-count/assets/word-count.png
  extensions/word-count/metadata/word-count-1.png
  extensions/word-count/package-lock.json
  extensions/word-count/package.json
  extensions/word-count/src/count.tsx
  extensions/word-count/src/lib/count/count.ts
  extensions/word-count/src/lib/count/index.ts
  extensions/word-count/src/lib/count/types.ts
  extensions/word-count/tsconfig.json
Labels: new extension

#2308 Add Search Swift Packages extension
  extensions/swift-package-index/.eslintrc.json
  extensions/swift-package-index/.gitignore
  extensions/swift-package-index/.prettierrc
  extensions/swift-package-index/CHANGELOG.md
  extensions/swift-package-index/LICENCE
  extensions/swift-package-index/README.md
  extensions/swift-package-index/assets/command-icon.png
  extensions/swift-package-index/metadata/swift-package-index-1.png
  extensions/swift-package-index/metadata/swift-package-index-2.png
  extensions/swift-package-index/metadata/swift-package-index-3.png
  extensions/swift-package-index/package-lock.json
  extensions/swift-package-index/package.json
  extensions/swift-package-index/src/index.tsx
  extensions/swift-package-index/src/models.tsx
  extensions/swift-package-index/src/search.tsx
  extensions/swift-package-index/tsconfig.json
Labels: new extension

#2353 [BUGFIX] Defichain-Dobby
  extensions/defichain-dobby/src/vaultMetaData.tsx
Labels: extension fix / improvement, OP is author

#2360 deepcast: remove unnecessary region code in URL
  extensions/deepcast/README.md
Labels: extension fix / improvement

#2375 emoji: default to Unicode 14.0 and more actions
  extensions/emoji/CHANGELOG.md
  extensions/emoji/package-lock.json
  extensions/emoji/package.json
  extensions/emoji/src/emoji.tsx
Labels: extension fix / improvement

#2350 Icons8
  extensions/icons8/.eslintrc.json
  extensions/icons8/.gitignore
  extensions/icons8/.prettierrc
  extensions/icons8/CHANGELOG.md
  extensions/icons8/README.md
  extensions/icons8/assets/API.svg
  extensions/icons8/assets/Icons8-Art.svg
  extensions/icons8/assets/Icons8-Cloud.svg
  extensions/icons8/assets/Icons8-Open.png
  extensions/icons8/assets/Icons8.png
  extensions/icons8/assets/Rest API.svg
  extensions/icons8/metadata/01 Search Icons.png
  extensions/icons8/metadata/02 Categories.png
  extensions/icons8/metadata/03 Icon Actions.png
  extensions/icons8/metadata/04 Icon Detail.png
  extensions/icons8/metadata/05 Configure Icon.png
  extensions/icons8/metadata/06 Recolor Icon.png
  extensions/icons8/package-lock.json
  extensions/icons8/package.json
  extensions/icons8/src/components/actions.tsx
  extensions/icons8/src/components/configure-icon.tsx
  extensions/icons8/src/components/empty-view.tsx
  extensions/icons8/src/components/icon-detail.tsx
  extensions/icons8/src/components/icon.tsx
  extensions/icons8/src/hooks/api.ts
  extensions/icons8/src/search-icons.tsx
  extensions/icons8/src/types/types.ts
  extensions/icons8/src/utils/grid.ts
  extensions/icons8/src/utils/options.ts
  extensions/icons8/src/utils/storage.tsx
  extensions/icons8/src/utils/utils.ts
  extensions/icons8/tsconfig.json
Labels: new extension

#2361 [KeepassXC] Support Key File protected Database File
  extensions/keepassxc/CHANGELOG.md
  extensions/keepassxc/README.md
  extensions/keepassxc/metadata/keepassxc-1.png
  extensions/keepassxc/package-lock.json
  extensions/keepassxc/package.json
  extensions/keepassxc/src/index.tsx
  extensions/keepassxc/src/utils/keepassLoader.ts
Labels: extension fix / improvement, OP is author

#2397 add filtering by tag functionality
  extensions/visual-studio-code-project-manager/CHANGELOG.md
  extensions/visual-studio-code-project-manager/package.json
  extensions/visual-studio-code-project-manager/src/search-project-manager-projects.tsx
Labels: extension fix / improvement

#2359 [Easydict] ✨ Add support for Google Translation
  extensions/easydict/CHANGELOG.md
  extensions/easydict/README.md
  extensions/easydict/metadata/easydict-3.png
  extensions/easydict/metadata/easydict-4.png
  extensions/easydict/metadata/easydict-5.png
  extensions/easydict/package.json
  extensions/easydict/src/components.tsx
  extensions/easydict/src/consts.ts
  extensions/easydict/src/detectLanguage.ts
  extensions/easydict/src/easydict.tsx
  extensions/easydict/src/formatData.ts
  extensions/easydict/src/google.ts
  extensions/easydict/src/releaseVersion/changelog.ts
  extensions/easydict/src/releaseVersion/releaseLog.tsx
  extensions/easydict/src/releaseVersion/versionInfo.ts
  extensions/easydict/src/request.ts
  extensions/easydict/src/types.ts
  extensions/easydict/src/utils.ts
Labels: extension fix / improvement, OP is author

#2385 [Music] General Improvements
  extensions/music/.eslintrc.json
  extensions/music/CHANGELOG.md
  extensions/music/README.md
  extensions/music/metadata/screenshot-01.png
  extensions/music/metadata/screnshot-1.png
  extensions/music/metadata/screnshot-2.png
  extensions/music/package-lock.json
  extensions/music/package.json
  extensions/music/src/add-to-library.tsx
  extensions/music/src/currently-playing.tsx
  extensions/music/src/dislike.tsx
  extensions/music/src/love-and-add-to-library.tsx
  extensions/music/src/love.tsx
  extensions/music/src/next-track.tsx
  extensions/music/src/pause.tsx
  extensions/music/src/play-library-album.tsx
  extensions/music/src/play-library-track.tsx
  extensions/music/src/play.tsx
  extensions/music/src/previous-track.tsx
  extensions/music/src/set-rating.tsx
  extensions/music/src/start-playlist.tsx
  extensions/music/src/toggle-play-pause.tsx
  extensions/music/src/util/apple-script.ts
  extensions/music/src/util/feedback.ts
  extensions/music/src/util/models.ts
  extensions/music/src/util/parser.ts
  extensions/music/src/util/scripts/albums.ts
  extensions/music/src/util/scripts/current-track.ts
  extensions/music/src/util/scripts/general.ts
  extensions/music/src/util/scripts/player-controls.ts
  extensions/music/src/util/scripts/playlists.ts
  extensions/music/src/util/utils.ts
Labels: extension fix / improvement, OP is author

#2338 CanvasCast: Pinned Items and New Icons
  extensions/canvascast/CHANGELOG.md
  extensions/canvascast/assets/announcement.png
  extensions/canvascast/assets/books-stack.png
  extensions/canvascast/assets/check-lock.png
  extensions/canvascast/assets/code.png
  extensions/canvascast/assets/course.png
  extensions/canvascast/assets/home.png
  extensions/canvascast/assets/see-modules.png
  extensions/canvascast/package-lock.json
  extensions/canvascast/package.json
  extensions/canvascast/src/components/course.tsx
  extensions/canvascast/src/components/module-item.tsx
  extensions/canvascast/src/components/modules.tsx
  extensions/canvascast/src/index.tsx
  extensions/canvascast/src/utils/recent.ts
  extensions/canvascast/src/utils/types.ts
  extensions/canvascast/src/utils/utils.ts
Labels: extension fix / improvement, OP is contributor

#2398 [Shell] add arguments to shortcut quick execution
  extensions/shell/package-lock.json
  extensions/shell/package.json
  extensions/shell/src/index.tsx
Labels: extension fix / improvement

#2345 [gitlab] Add option to show MR details.
  extensions/gitlab/CHANGELOG.md
  extensions/gitlab/package-lock.json
  extensions/gitlab/package.json
  extensions/gitlab/src/cache.ts
  extensions/gitlab/src/common.ts
  extensions/gitlab/src/components/branch.tsx
  extensions/gitlab/src/components/cache_actions.tsx
  extensions/gitlab/src/components/commits/item.tsx
  extensions/gitlab/src/components/commits/list.tsx
  extensions/gitlab/src/components/epics.tsx
  extensions/gitlab/src/components/event.tsx
  extensions/gitlab/src/components/issue_actions.tsx
  extensions/gitlab/src/components/issues.tsx
  extensions/gitlab/src/components/jobs.tsx
  extensions/gitlab/src/components/label.tsx
  extensions/gitlab/src/components/milestones.tsx
  extensions/gitlab/src/components/mr.tsx
  extensions/gitlab/src/components/mr_actions.tsx
  extensions/gitlab/src/components/mr_my.tsx
  extensions/gitlab/src/components/mr_search.tsx
  extensions/gitlab/src/components/pipelines.tsx
  extensions/gitlab/src/components/reviews.tsx
  extensions/gitlab/src/components/status/actions.tsx
  extensions/gitlab/src/components/todo.tsx
  extensions/gitlab/src/components/todo_actions.tsx
  extensions/gitlab/src/icons.ts
  extensions/gitlab/src/utils.ts
Labels: extension fix / improvement, OP is contributor

#2401 [YouTrack] Refactor caching and Copy Link shortcut
  extensions/youtrack/src/browse.tsx
  extensions/youtrack/src/components.tsx
Labels: extension fix / improvement

#2404 Single Disk Eject Plugin Updates: Added Ignore Volumes and Fixed Bug
  extensions/single-disk-eject/CHANGELOG.md
  extensions/single-disk-eject/package.json
  extensions/single-disk-eject/src/types.ts
  extensions/single-disk-eject/src/utils.ts
Labels: extension fix / improvement, OP is author

#2368 Add Apple Developer docs extension
  extensions/apple-developer-docs/.eslintrc.json
  extensions/apple-developer-docs/.gitignore
  extensions/apple-developer-docs/.prettierrc
  extensions/apple-developer-docs/CHANGELOG.md
  extensions/apple-developer-docs/README.md
  extensions/apple-developer-docs/assets/all-result-type.png
  extensions/apple-developer-docs/assets/apple-developer-docs.png
  extensions/apple-developer-docs/metadata/apple-developer-docs-1.png
  extensions/apple-developer-docs/metadata/apple-developer-docs-2.png
  extensions/apple-developer-docs/metadata/apple-developer-docs-3.png
  extensions/apple-developer-docs/metadata/apple-developer-docs-4.png
  extensions/apple-developer-docs/package-lock.json
  extensions/apple-developer-docs/package.json
  extensions/apple-developer-docs/src/config.ts
  extensions/apple-developer-docs/src/index.tsx
  extensions/apple-developer-docs/src/types.d.ts
  extensions/apple-developer-docs/src/utils.ts
  extensions/apple-developer-docs/tsconfig.json
Labels: new extension

#2413 Added screenshots
  extensions/spaces/CHANGELOG.md
  extensions/spaces/README.md
  extensions/spaces/metadata/spaces-1.png
  extensions/spaces/metadata/spaces-2.png
  extensions/spaces/package.json
Labels: extension fix / improvement, OP is author

#2409 added support for vscodium
  extensions/visual-studio-code-project-manager/CHANGELOG.md
  extensions/visual-studio-code-project-manager/package.json
  extensions/visual-studio-code-project-manager/src/search-project-manager-projects.tsx
  extensions/visual-studio-code-project-manager/src/types.ts
Labels: extension fix / improvement

#2390 Jira Search (self-hosted) - add "assignee" field as new filter for searching issues in Jira
  extensions/jira-search-self-hosted/CHANGELOG.md
  extensions/jira-search-self-hosted/README.md
  extensions/jira-search-self-hosted/package-lock.json
  extensions/jira-search-self-hosted/package.json
  extensions/jira-search-self-hosted/src/issue.ts
Labels: extension fix / improvement

#2357 can-i-use: add release date and more options
  extensions/can-i-use/CHANGELOG.md
  extensions/can-i-use/package-lock.json
  extensions/can-i-use/package.json
  extensions/can-i-use/src/components/FeatureDetail.tsx
  extensions/can-i-use/src/index.tsx
Labels: extension fix / improvement

#2133 Harvest
  extensions/harvest/CHANGELOG.md
  extensions/harvest/assets/arrow.left@2x.png
  extensions/harvest/assets/arrow.right@2x.png
  extensions/harvest/assets/harvest-logo-icon.png
  extensions/harvest/package-lock.json
  extensions/harvest/package.json
  extensions/harvest/src/listTimeEntries.tsx
Labels: extension fix / improvement, OP is author

#2415 Implement Things menu-bar command
  extensions/things/package-lock.json
  extensions/things/package.json
  extensions/things/src/shared.ts
  extensions/things/src/show-list.tsx
  extensions/things/src/show-today-in-menu-bar.tsx
Labels: extension fix / improvement
