Repository raycast/extensions, pull requests merged in 2022-06, with the labels that each got.

#1859 GitLab: Add copy action for error toast
  extensions/gitlab/package-lock.json
  extensions/gitlab/package.json
  extensions/gitlab/src/components/branch.tsx
  extensions/gitlab/src/components/cache_actions.tsx
  extensions/gitlab/src/components/commits/list.tsx
  extensions/gitlab/src/components/epic_actions.tsx
  extensions/gitlab/src/components/epic_my.tsx
  extensions/gitlab/src/components/epics.tsx
  extensions/gitlab/src/components/event.tsx
  extensions/gitlab/src/components/groups.tsx
  extensions/gitlab/src/components/issue_actions.tsx
  extensions/gitlab/src/components/issues.tsx
  extensions/gitlab/src/components/issues_my.tsx
  extensions/gitlab/src/components/issues_search.tsx
  extensions/gitlab/src/components/jobs.tsx
  extensions/gitlab/src/components/milestones.tsx
  extensions/gitlab/src/components/mr.tsx
  extensions/gitlab/src/components/mr_actions.tsx
  extensions/gitlab/src/components/mr_create.tsx
  extensions/gitlab/src/components/mr_my.tsx
  extensions/gitlab/src/components/mr_search.tsx
  extensions/gitlab/src/components/pipelines.tsx
  extensions/gitlab/src/components/project.tsx
  extensions/gitlab/src/components/project_actions.tsx
  extensions/gitlab/src/components/project_label.tsx
  extensions/gitlab/src/components/project_search.tsx
  extensions/gitlab/src/components/reviews.tsx
  extensions/gitlab/src/components/status/actions.tsx
  extensions/gitlab/src/components/status/form.tsx
  extensions/gitlab/src/components/status/list.tsx
  extensions/gitlab/src/components/todo.tsx
  extensions/gitlab/src/components/todo_actions.tsx
  extensions/gitlab/src/components/users.tsx
  extensions/gitlab/src/issue_create.tsx
  extensions/gitlab/src/utils.ts
Labels: extension fix / improvement, OP is author

#1849 [Simple Youdao] provide an option to enable official modern translation page
  extensions/simple-youdao/CHANGELOG.md
  extensions/simple-youdao/package.json
  extensions/simple-youdao/src/index.tsx
Labels: extension fix / improvement, OP is author

#1866 🐛 Fixed wrong date being displayed (Fixes: #1860)
  extensions/nba-game-viewer/CHANGELOG.md
  extensions/nba-game-viewer/src/hooks/useSchedule.ts
Labels: extension fix / improvement, OP is author

#1865 [Music] Added shuffle play
  extensions/music/CHANGELOG.md
  extensions/music/CONTRIBUTING.md
  extensions/music/package.json
  extensions/music/src/play-library-album.tsx
  extensions/music/src/start-playlist.tsx
  extensions/music/src/util/scripts/albums.ts
  extensions/music/src/util/scripts/general.ts
  extensions/music/src/util/scripts/index.ts
  extensions/music/src/util/scripts/playlists.ts
Labels: extension fix / improvement, OP is author

#1835 Update Life Progress extension
  extensions/life-progress/CHANGELOG.md
  extensions/life-progress/README.md
  extensions/life-progress/assets/life-progress-icon.png
  extensions/life-progress/assets/life-progress-icon@dark.png
  extensions/life-progress/assets/word-icon.png
  extensions/life-progress/assets/word-icon@chinese.png
  extensions/life-progress/assets/word-icon@chinese@dark.png
  extensions/life-progress/assets/word-icon@dark.png
  extensions/life-progress/metadata/Metadata-1.png
  extensions/life-progress/metadata/Metadata-2.png
  extensions/life-progress/metadata/Metadata-3.png
  extensions/life-progress/metadata/Screenshot1.png
  extensions/life-progress/metadata/Screenshot2.png
  extensions/life-progress/metadata/Screenshot3.png
  extensions/life-progress/package-lock.json
  extensions/life-progress/package.json
  extensions/life-progress/src/add-countdown-date.tsx
  extensions/life-progress/src/components/action-countdown-date.tsx
  extensions/life-progress/src/components/action-open-preferences.tsx
  extensions/life-progress/src/components/birthday-item.tsx
  extensions/life-progress/src/components/life-progress-canvas-item.tsx
  extensions/life-progress/src/components/life-progress-list-item.tsx
  extensions/life-progress/src/components/word-of-the-day-item.tsx
  extensions/life-progress/src/hooks/hooks.ts
  extensions/life-progress/src/life-progress.tsx
  extensions/life-progress/src/types/preferences.ts
  extensions/life-progress/src/types/types.ts
  extensions/life-progress/src/utils/common-utils.ts
  extensions/life-progress/src/utils/constants.ts
  extensions/life-progress/src/utils/life-progress-utils.ts
  extensions/life-progress/src/utils/shanbei-utils.ts
Labels: extension fix / improvement, OP is author

#1829 feat(holodex): search related clips
  extensions/holodex/CHANGELOG.md
  extensions/holodex/changelog.md
  extensions/holodex/package.json
  extensions/holodex/src/archives.tsx
  extensions/holodex/src/clips.tsx
  extensions/holodex/src/components/Actions.tsx
  extensions/holodex/src/lib/interfaces.tsx
Labels: extension fix / improvement, OP is author

#1781 New extension: QuickFile
  extensions/quickfile/.eslintrc.json
  extensions/quickfile/.gitignore
  extensions/quickfile/.prettierrc
  extensions/quickfile/CHANGELOG.md
  extensions/quickfile/README.md
  extensions/quickfile/assets/icon-64px.png
  extensions/quickfile/assets/icon.png
  extensions/quickfile/media/step-1-account-number.png
  extensions/quickfile/media/step-2-create-app.png
  extensions/quickfile/media/step-3-get-details.png
  extensions/quickfile/metadata/quickfile-screenshot-1.png
  extensions/quickfile/metadata/quickfile-screenshot-2.png
  extensions/quickfile/metadata/quickfile-screenshot-3.png
  extensions/quickfile/package-lock.json
  extensions/quickfile/package.json
  extensions/quickfile/src/api/auth.ts
  extensions/quickfile/src/api/bank.ts
  extensions/quickfile/src/api/index.ts
  extensions/quickfile/src/api/system.ts
  extensions/quickfile/src/api/urls.ts
  extensions/quickfile/src/balances.tsx
  extensions/quickfile/src/utils/data.ts
  extensions/quickfile/src/utils/formatting.ts
  extensions/quickfile/src/utils/hooks.ts
  extensions/quickfile/src/views/AccountDetail.tsx
  extensions/quickfile/test/bank/getaccountbalances.ts
  extensions/quickfile/test/bank/getaccounts.ts
  extensions/quickfile/test/bank/search.ts
  extensions/quickfile/test/mock-api.ts
  extensions/quickfile/test/system/getaccountdetails.json
  extensions/quickfile/tsconfig.json
Labels: new extension

#1885 Update Paste as Plain Text extension
  extensions/paste-as-plain-text/CHANGELOG.md
  extensions/paste-as-plain-text/README.md
  extensions/paste-as-plain-text/assets/paste-icon.png
  extensions/paste-as-plain-text/metadata/Metadata.png
  extensions/paste-as-plain-text/package.json
  extensions/paste-as-plain-text/src/paste-as-plain-text.tsx
Labels: extension fix / improvement, OP is author

#1883 Update Easy New File extension
  extensions/easy-new-file/CHANGELOG.md
  extensions/easy-new-file/README.md
  extensions/easy-new-file/assets/add-file-template-icon.png
  extensions/easy-new-file/assets/easy-new-file-icon.png
  extensions/easy-new-file/assets/new-file-with-text-icon.png
  extensions/easy-new-file/metadata/Metadata-3.png
  extensions/easy-new-file/package.json
  extensions/easy-new-file/src/new-file-here.tsx
  extensions/easy-new-file/src/new-file-with-text.tsx
  extensions/easy-new-file/src/types/preferences.ts
  extensions/easy-new-file/src/utils/common-utils.ts
  extensions/easy-new-file/src/utils/input-item-utils.ts
Labels: extension fix / improvement, OP is author

#1864 Add extension to query upcoming holidays
  extensions/upcoming-holidays/.eslintrc.json
  extensions/upcoming-holidays/.gitignore
  extensions/upcoming-holidays/.prettierrc
  extensions/upcoming-holidays/CHANGELOG.md
  extensions/upcoming-holidays/README.md
  extensions/upcoming-holidays/assets/calendar-icon.png
  extensions/upcoming-holidays/metadata/upcoming-holidays01.png
  extensions/upcoming-holidays/metadata/upcoming-holidays02.png
  extensions/upcoming-holidays/package-lock.json
  extensions/upcoming-holidays/package.json
  extensions/upcoming-holidays/src/api.ts
  extensions/upcoming-holidays/src/cache.ts
  extensions/upcoming-holidays/src/country-detail.tsx
  extensions/upcoming-holidays/src/country-item.tsx
  extensions/upcoming-holidays/src/holidays.tsx
  extensions/upcoming-holidays/src/index.tsx
  extensions/upcoming-holidays/tsconfig.json
Labels: new extension

#1881 Update Placeholder extension
  extensions/placeholder/CHANGELOG.md
  extensions/placeholder/README.md
  extensions/placeholder/src/random-placeholder-image.tsx
  extensions/placeholder/src/stylize-placeholder-image.tsx
Labels: extension fix / improvement, OP is author

#1897 Updates error handling and README
  extensions/bitly-url-shortener/CHANGELOG.md
  extensions/bitly-url-shortener/README.md
  extensions/bitly-url-shortener/package-lock.json
  extensions/bitly-url-shortener/package.json
  extensions/bitly-url-shortener/src/index.tsx
Labels: extension fix / improvement, OP is author

#1877 ✨ Added feature to NBA-game-viewer extension
  extensions/nba-game-viewer/CHANGELOG.md
  extensions/nba-game-viewer/assets/heart.png
  extensions/nba-game-viewer/metadata/Screenshot3.png
  extensions/nba-game-viewer/metadata/Screenshot4.png
  extensions/nba-game-viewer/package.json
  extensions/nba-game-viewer/src/components/Day.tsx
  extensions/nba-game-viewer/src/components/Game.tsx
  extensions/nba-game-viewer/src/components/Player.tsx
  extensions/nba-game-viewer/src/components/Team.tsx
  extensions/nba-game-viewer/src/hooks/useRoster.ts
  extensions/nba-game-viewer/src/hooks/useSchedule.ts
  extensions/nba-game-viewer/src/hooks/useStandings.ts
  extensions/nba-game-viewer/src/types/roster.types.ts
  extensions/nba-game-viewer/src/types/schedule.types.ts
  extensions/nba-game-viewer/src/types/standings.types.ts
  extensions/nba-game-viewer/src/utils/generateGameAccessories.ts
  extensions/nba-game-viewer/src/utils/generatePlayerAccessories.ts
  extensions/nba-game-viewer/src/utils/getRoster.ts
  extensions/nba-game-viewer/src/views/roster.tsx
  extensions/nba-game-viewer/src/views/schedule.tsx
  extensions/nba-game-viewer/src/views/standings.tsx
Labels: extension fix / improvement, OP is author

#1848 Signal Extension - issue fix #1802
  extensions/signal/CHANGELOG.md
  extensions/signal/package-lock.json
  extensions/signal/package.json
  extensions/signal/src/open-chat.tsx
Labels: extension fix / improvement, OP is author

#1898 [Brew] Fix: disable `--dry-run` flag when running the `Upgrade` command
  extensions/brew/CHANGELOG.md
  extensions/brew/src/brew.ts
  extensions/brew/src/upgrade.tsx
Labels: extension fix / improvement

#1895 Add Avatar extension
  extensions/avatar/.eslintrc.json
  extensions/avatar/.gitignore
  extensions/avatar/.prettierrc
  extensions/avatar/CHANGELOG.md
  extensions/avatar/README.md
  extensions/avatar/assets/avatar-icon.png
  extensions/avatar/metadata/Metadata-1.png
  extensions/avatar/metadata/Metadata-2.png
  extensions/avatar/metadata/Metadata-3.png
  extensions/avatar/package-lock.json
  extensions/avatar/package.json
  extensions/avatar/src/advanced-options-page.tsx
  extensions/avatar/src/components/action-to-dice-bear-avatars.tsx
  extensions/avatar/src/components/action-to-multi-avatar.tsx
  extensions/avatar/src/components/avatar-image-action.tsx
  extensions/avatar/src/generate-avatar.tsx
  extensions/avatar/src/hooks/hooks.ts
  extensions/avatar/src/types/types.ts
  extensions/avatar/src/utils/applescript-utils.ts
  extensions/avatar/src/utils/axios-utils.ts
  extensions/avatar/src/utils/common-utils.ts
  extensions/avatar/src/utils/constants.ts
  extensions/avatar/tsconfig.json
Labels: new extension

#1821 Add SM.MS extension
  extensions/sm-ms/.eslintrc.json
  extensions/sm-ms/.gitignore
  extensions/sm-ms/.prettierrc
  extensions/sm-ms/CHANGELOG.md
  extensions/sm-ms/README.md
  extensions/sm-ms/assets/sm-ms.png
  extensions/sm-ms/metadata/Metadata-1.png
  extensions/sm-ms/metadata/Metadata-2.png
  extensions/sm-ms/metadata/Metadata-3.png
  extensions/sm-ms/metadata/Metadata-4.png
  extensions/sm-ms/package-lock.json
  extensions/sm-ms/package.json
  extensions/sm-ms/src/components/action-open-extension-preferences.tsx
  extensions/sm-ms/src/components/action-to-sm-ms.tsx
  extensions/sm-ms/src/components/dialog.tsx
  extensions/sm-ms/src/components/list-empty-view.tsx
  extensions/sm-ms/src/components/upload-history-detail.tsx
  extensions/sm-ms/src/delete-images.tsx
  extensions/sm-ms/src/get-user-profile.tsx
  extensions/sm-ms/src/hooks/hooks.ts
  extensions/sm-ms/src/search-images.tsx
  extensions/sm-ms/src/types/preferences.ts
  extensions/sm-ms/src/types/types.ts
  extensions/sm-ms/src/upload-images.tsx
  extensions/sm-ms/src/utils/applescript-utils.ts
  extensions/sm-ms/src/utils/axios-utils.ts
  extensions/sm-ms/src/utils/common-utils.ts
  extensions/sm-ms/src/utils/costants.ts
  extensions/sm-ms/tsconfig.json
Labels: new extension

#1817 New extension: Session
  extensions/session/.eslintrc.json
  extensions/session/.prettierrc
  extensions/session/CHANGELOG.md
  extensions/session/README.md
  extensions/session/assets/session.png
  extensions/session/metadata/session-screenshot.png
  extensions/session/package-lock.json
  extensions/session/package.json
  extensions/session/src/checkInstall.tsx
  extensions/session/src/session-abandon.ts
  extensions/session/src/session-finish.ts
  extensions/session/src/session-pause.ts
  extensions/session/src/session-start-new.ts
  extensions/session/src/session-start-previous.ts
  extensions/session/tsconfig.json
Labels: new extension

#1902 feat: Initialize amphetamine extension
  extensions/amphetamine/.eslintrc.json
  extensions/amphetamine/.gitignore
  extensions/amphetamine/.prettierrc
  extensions/amphetamine/CHANGELOG.md
  extensions/amphetamine/assets/icon.png
  extensions/amphetamine/package-lock.json
  extensions/amphetamine/package.json
  extensions/amphetamine/src/amp-end.ts
  extensions/amphetamine/src/amp-start.ts
  extensions/amphetamine/src/utils.ts
  extensions/amphetamine/tsconfig.json
Labels: new extension

#1916 [gif-search]: Implement new Grid layout
  extensions/gif-search/CHANGELOG.md
  extensions/gif-search/metadata/gif-search-01.png
  extensions/gif-search/metadata/gif-search-02.png
  extensions/gif-search/metadata/gif-search-03.png
  extensions/gif-search/package-lock.json
  extensions/gif-search/package.json
  extensions/gif-search/src/components/GifListSection.tsx
  extensions/gif-search/src/components/GifResult.tsx
  extensions/gif-search/src/components/GifSearch.tsx
  extensions/gif-search/src/components/GifSearchList.tsx
  extensions/gif-search/src/components/ListOrGrid.tsx
  extensions/gif-search/src/preferences.ts
Labels: extension fix / improvement, OP is author

#1917 [gif-search]: Add preference for controlling Grid Item Size
  extensions/gif-search/CHANGELOG.md
  extensions/gif-search/README.md
  extensions/gif-search/media/layout.png
  extensions/gif-search/package.json
  extensions/gif-search/src/components/GifResult.tsx
  extensions/gif-search/src/components/GifSearch.tsx
  extensions/gif-search/src/components/GifSearchList.tsx
  extensions/gif-search/src/preferences.ts
Labels: extension fix / improvement, OP is author

#1909 ✨ New feature for NBA viewer extension
  extensions/nba-game-viewer/CHANGELOG.md
  extensions/nba-game-viewer/metadata/Screenshot5.png
  extensions/nba-game-viewer/metadata/Screenshot6.png
  extensions/nba-game-viewer/package.json
  extensions/nba-game-viewer/src/components/Article.tsx
  extensions/nba-game-viewer/src/components/Player.tsx
  extensions/nba-game-viewer/src/headlines.tsx
  extensions/nba-game-viewer/src/hooks/useNews.ts
  extensions/nba-game-viewer/src/hooks/useSchedule.ts
  extensions/nba-game-viewer/src/types/news.types.ts
  extensions/nba-game-viewer/src/utils/getNews.ts
  extensions/nba-game-viewer/src/views/articles.tsx
  extensions/nba-game-viewer/src/views/roster.tsx
  extensions/nba-game-viewer/src/views/schedule.tsx
Labels: extension fix / improvement, OP is author

#1840 [Zotero Extension] Update CSL formats and more complete qurying
  extensions/zotero/CHANGELOG.md
  extensions/zotero/README.md
  extensions/zotero/assets/styles/acs-applied-materials-and-interfaces.csl
  extensions/zotero/assets/styles/acta-botanica-croatica.csl
  extensions/zotero/assets/styles/american-chemical-society.csl
  extensions/zotero/assets/styles/american-journal-of-sociology.csl
  extensions/zotero/assets/styles/american-medical-association.csl
  extensions/zotero/assets/styles/american-meteorological-society.csl
  extensions/zotero/assets/styles/american-physics-society.csl
  extensions/zotero/assets/styles/american-political-science-association.csl
  extensions/zotero/assets/styles/american-sociological-association.csl
  extensions/zotero/assets/styles/annual-reviews-alphabetical.csl
  extensions/zotero/assets/styles/annual-reviews-author-date.csl
  extensions/zotero/assets/styles/apa.csl
  extensions/zotero/assets/styles/biostatistics.csl
  extensions/zotero/assets/styles/chicago-author-date.csl
  extensions/zotero/assets/styles/chicago-fullnote-bibliography.csl
  extensions/zotero/assets/styles/chicago-note-bibliography.csl
  extensions/zotero/assets/styles/copernicus-publications.csl
  extensions/zotero/assets/styles/elsevier-harvard.csl
  extensions/zotero/assets/styles/harvard-cite-them-right.csl
  extensions/zotero/assets/styles/ieee.csl
  extensions/zotero/assets/styles/institute-of-mathematical-statistics.csl
  extensions/zotero/assets/styles/modern-humanities-research-association.csl
  extensions/zotero/assets/styles/modern-language-association.csl
  extensions/zotero/assets/styles/nature.csl
  extensions/zotero/assets/styles/radiology.csl
  extensions/zotero/assets/styles/vancouver.csl
  extensions/zotero/media/preferences.png
  extensions/zotero/package.json
  extensions/zotero/src/common/View.tsx
  extensions/zotero/src/common/zoteroApi.ts
Labels: extension fix / improvement, OP is author

#1869 Modules Page
  extensions/canvascast/CHANGELOG.md
  extensions/canvascast/assets/announcement.png
  extensions/canvascast/assets/assignment.png
  extensions/canvascast/assets/check-lock.png
  extensions/canvascast/assets/code.png
  extensions/canvascast/assets/course.png
  extensions/canvascast/assets/page.png
  extensions/canvascast/assets/quiz.png
  extensions/canvascast/package-lock.json
  extensions/canvascast/package.json
  extensions/canvascast/src/index.tsx
Labels: extension fix / improvement

#1870 Add Chess.com extension
  extensions/chess-com/.eslintrc.json
  extensions/chess-com/.gitignore
  extensions/chess-com/.prettierrc
  extensions/chess-com/CHANGELOG.md
  extensions/chess-com/LICENSE
  extensions/chess-com/README.md
  extensions/chess-com/assets/command-icon.png
  extensions/chess-com/package-lock.json
  extensions/chess-com/package.json
  extensions/chess-com/src/lib/constants.ts
  extensions/chess-com/src/lib/types.ts
  extensions/chess-com/src/lib/utils.ts
  extensions/chess-com/src/play-1-1.ts
  extensions/chess-com/src/play-1-min.ts
  extensions/chess-com/src/play-10-min.ts
  extensions/chess-com/src/play-2-1.ts
  extensions/chess-com/src/play-3-2.ts
  extensions/chess-com/src/play-3-min.ts
  extensions/chess-com/src/play-30-min.ts
  extensions/chess-com/src/play-5-min.ts
  extensions/chess-com/tsconfig.json
Labels: new extension

#1830 New extension: Airplane for macOS
  extensions/airplane/.eslintrc.json
  extensions/airplane/.gitignore
  extensions/airplane/.prettierrc
  extensions/airplane/CHANGELOG.md
  extensions/airplane/README.md
  extensions/airplane/assets/airplane-icon.png
  extensions/airplane/package-lock.json
  extensions/airplane/package.json
  extensions/airplane/src/turn-airplane-mode-off.tsx
  extensions/airplane/src/turn-airplane-mode-on.tsx
  extensions/airplane/tsconfig.json
Labels: new extension

#1923 Update Avatar extension
  extensions/avatar/CHANGELOG.md
  extensions/avatar/metadata/Metadata-1.png
  extensions/avatar/metadata/Metadata-2.png
  extensions/avatar/package-lock.json
  extensions/avatar/package.json
  extensions/avatar/src/components/action-open-command-preferences.tsx
  extensions/avatar/src/components/action-to-dice-bear-avatars.tsx
  extensions/avatar/src/components/action-to-multi-avatar.tsx
  extensions/avatar/src/components/avatar-grid-layout.tsx
  extensions/avatar/src/components/avatar-list-layout.tsx
  extensions/avatar/src/generate-avatar.tsx
  extensions/avatar/src/hooks/hooks.ts
  extensions/avatar/src/types/preferences.ts
Labels: extension fix / improvement, OP is author

#1862 New Extension: Currency exchange
  extensions/currency-exchange/.eslintrc.json
  extensions/currency-exchange/.prettierrc
  extensions/currency-exchange/CHANGELOG.md
  extensions/currency-exchange/README.md
  extensions/currency-exchange/assets/currency.png
  extensions/currency-exchange/assets/start.png
  extensions/currency-exchange/media/expression.png
  extensions/currency-exchange/media/filter.png
  extensions/currency-exchange/metadata/currency-exchange-1.png
  extensions/currency-exchange/metadata/currency-exchange-2.png
  extensions/currency-exchange/metadata/currency-exchange.png
  extensions/currency-exchange/package-lock.json
  extensions/currency-exchange/package.json
  extensions/currency-exchange/src/currency.tsx
  extensions/currency-exchange/src/index.tsx
  extensions/currency-exchange/tsconfig.json
Labels: new extension

#1905 Docker | Add ability to copy container ID and improve details view
  extensions/docker/CHANGELOG.md
  extensions/docker/package-lock.json
  extensions/docker/package.json
  extensions/docker/src/container_detail.tsx
  extensions/docker/src/container_list.tsx
  extensions/docker/src/docker/container.ts
  extensions/docker/src/error_detail.tsx
  extensions/docker/src/image_list.tsx
  extensions/docker/src/projects_list.tsx
Labels: extension fix / improvement

#1831 Add Blockchain Explorer Search Extension
  extensions/blockchain-explorer-search/.eslintrc.json
  extensions/blockchain-explorer-search/.gitignore
  extensions/blockchain-explorer-search/.prettierrc
  extensions/blockchain-explorer-search/CHANGELOG.md
  extensions/blockchain-explorer-search/README.md
  extensions/blockchain-explorer-search/assets/Arbitrum-logo.svg
  extensions/blockchain-explorer-search/assets/Aurora-logo.svg
  extensions/blockchain-explorer-search/assets/BTTCSCAN-logo.svg
  extensions/blockchain-explorer-search/assets/BscScan-logo.svg
  extensions/blockchain-explorer-search/assets/CLVscan-logo.svg
  extensions/blockchain-explorer-search/assets/CLVscan.svg
  extensions/blockchain-explorer-search/assets/FTMScan-logo.svg
  extensions/blockchain-explorer-search/assets/HecoInfo-logo.svg
  extensions/blockchain-explorer-search/assets/Hooscan-logo.svg
  extensions/blockchain-explorer-search/assets/Hooscan.svg
  extensions/blockchain-explorer-search/assets/Moonbeam-logo.svg
  extensions/blockchain-explorer-search/assets/Moonriver-logo.svg
  extensions/blockchain-explorer-search/assets/Optimism-logo.svg
  extensions/blockchain-explorer-search/assets/Snowtrace-logo.svg
  extensions/blockchain-explorer-search/assets/arbitrum.svg
  extensions/blockchain-explorer-search/assets/aurora.svg
  extensions/blockchain-explorer-search/assets/bscscan.svg
  extensions/blockchain-explorer-search/assets/bttcscan.svg
  extensions/blockchain-explorer-search/assets/celo-logo.svg
  extensions/blockchain-explorer-search/assets/celo.svg
  extensions/blockchain-explorer-search/assets/command-icon.png
  extensions/blockchain-explorer-search/assets/cronos-logo.svg
  extensions/blockchain-explorer-search/assets/cronos.svg
  extensions/blockchain-explorer-search/assets/etherscan-logo.svg
  extensions/blockchain-explorer-search/assets/etherscan.svg
  extensions/blockchain-explorer-search/assets/ftmscan.svg
  extensions/blockchain-explorer-search/assets/hecoinfo.svg
  extensions/blockchain-explorer-search/assets/moonbase-alpha-logo.svg
  extensions/blockchain-explorer-search/assets/moonbase.svg
  extensions/blockchain-explorer-search/assets/moonbeam.svg
  extensions/blockchain-explorer-search/assets/moonriver.svg
  extensions/blockchain-explorer-search/assets/optimism.svg
  extensions/blockchain-explorer-search/assets/polygonscan-logo.svg
  extensions/blockchain-explorer-search/assets/polygonscan.svg
  extensions/blockchain-explorer-search/assets/snowtrace.svg
  extensions/blockchain-explorer-search/metadata/blockchain-explorer-search-01.png
  extensions/blockchain-explorer-search/metadata/blockchain-explorer-search-02.png
  extensions/blockchain-explorer-search/metadata/blockchain-explorer-search-03.png
  extensions/blockchain-explorer-search/package-lock.json
  extensions/blockchain-explorer-search/package.json
  extensions/blockchain-explorer-search/src/explorers.ts
  extensions/blockchain-explorer-search/src/interfaces.ts
  extensions/blockchain-explorer-search/src/list-explorers.tsx
  extensions/blockchain-explorer-search/src/matchers.ts
  extensions/blockchain-explorer-search/src/search.tsx
  extensions/blockchain-explorer-search/src/tokens.ts
  extensions/blockchain-explorer-search/tsconfig.json
Labels: new extension

#1921 [Update] BTTV Emote Extensions
  extensions/bttv-emote/CHANGELOG.md
  extensions/bttv-emote/metadata/Metadata-1.png
  extensions/bttv-emote/metadata/Metadata-2.png
  extensions/bttv-emote/metadata/Metadata-3.png
  extensions/bttv-emote/package-lock.json
  extensions/bttv-emote/package.json
  extensions/bttv-emote/src/api/bttv_api.tsx
  extensions/bttv-emote/src/components/search_list_item.tsx
  extensions/bttv-emote/src/hooks/use_search.tsx
  extensions/bttv-emote/src/index.tsx
Labels: extension fix / improvement, OP is author

#1922 New extension: Markdown This
  extensions/markdown-this/.eslintrc.json
  extensions/markdown-this/.gitignore
  extensions/markdown-this/.prettierrc
  extensions/markdown-this/CHANGELOG.md
  extensions/markdown-this/README.md
  extensions/markdown-this/assets/command-icon.png
  extensions/markdown-this/package-lock.json
  extensions/markdown-this/package.json
  extensions/markdown-this/src/index.ts
  extensions/markdown-this/tsconfig.json
Labels: new extension

#1924 Update Bing Wallpaper extension
  extensions/bing-wallpaper/CHANGELOG.md
  extensions/bing-wallpaper/README.md
  extensions/bing-wallpaper/metadata/Metadata-1.png
  extensions/bing-wallpaper/metadata/Metadata-2.png
  extensions/bing-wallpaper/metadata/Metadata-3.png
  extensions/bing-wallpaper/package-lock.json
  extensions/bing-wallpaper/package.json
  extensions/bing-wallpaper/src/components/actions-downloaded-bing-wallpaper.tsx
  extensions/bing-wallpaper/src/components/actions-online-bing-wallpaper.tsx
  extensions/bing-wallpaper/src/components/list-empty-view.tsx
  extensions/bing-wallpaper/src/components/wallpaper-grid-layout.tsx
  extensions/bing-wallpaper/src/components/wallpaper-list-layout.tsx
  extensions/bing-wallpaper/src/hooks/hooks.ts
  extensions/bing-wallpaper/src/preview-bing-wallpaper.tsx
  extensions/bing-wallpaper/src/set-bing-wallpaper.tsx
  extensions/bing-wallpaper/src/types/preferences.ts
  extensions/bing-wallpaper/src/utils/bing-wallpaper-utils.ts
Labels: extension fix / improvement, OP is author

#1889 Add Extension: Mailsy
  extensions/mailsy/.eslintrc.json
  extensions/mailsy/.gitignore
  extensions/mailsy/.prettierrc
  extensions/mailsy/CHANGELOG.md
  extensions/mailsy/README.md
  extensions/mailsy/assets/email.html
  extensions/mailsy/assets/send.png
  extensions/mailsy/metadata/Mailsy-01.png
  extensions/mailsy/metadata/Mailsy-02.png
  extensions/mailsy/metadata/Mailsy-03.png
  extensions/mailsy/package-lock.json
  extensions/mailsy/package.json
  extensions/mailsy/src/delete.tsx
  extensions/mailsy/src/gen.tsx
  extensions/mailsy/src/info.tsx
  extensions/mailsy/src/mails.tsx
  extensions/mailsy/src/utils/index.ts
  extensions/mailsy/tsconfig.json
Labels: new extension

#1918 added extension for Drafts
  extensions/drafts/.eslintrc.json
  extensions/drafts/.gitignore
  extensions/drafts/.prettierrc
  extensions/drafts/CHANGELOG.md
  extensions/drafts/README.md
  extensions/drafts/assets/drafts-icon.png
  extensions/drafts/metadata/drafts-01.png
  extensions/drafts/metadata/drafts-02.png
  extensions/drafts/metadata/drafts-03.png
  extensions/drafts/metadata/drafts-04.png
  extensions/drafts/metadata/drafts.png
  extensions/drafts/package-lock.json
  extensions/drafts/package.json
  extensions/drafts/src/action-runner-list.tsx
  extensions/drafts/src/create-draft-and-open.tsx
  extensions/drafts/src/create-draft-from-clipboard.tsx
  extensions/drafts/src/drafts-list-options.tsx
  extensions/drafts/src/open-drafts-dictate.tsx
  extensions/drafts/src/open-new-draft.tsx
  extensions/drafts/src/quicklink-helper.tsx
  extensions/drafts/src/utils/ApplicationInstalledCheck.tsx
  extensions/drafts/src/utils/CallbackUrlUtils.tsx
  extensions/drafts/src/utils/Defines.tsx
  extensions/drafts/src/workspace-list.tsx
  extensions/drafts/tsconfig.json
Labels: new extension

#1940 Update Hide Icons extenison
  extensions/hidden-icons/CHANGELOG.md
  extensions/hidden-icons/README.md
  extensions/hidden-icons/metadata/Metadata-1.png
  extensions/hidden-icons/metadata/Metadata-2.png
  extensions/hidden-icons/metadata/Metadata-3.png
  extensions/hidden-icons/metadata/Screenshot1.png
  extensions/hidden-icons/metadata/Screenshot2.png
  extensions/hidden-icons/metadata/Screenshot3.png
  extensions/hidden-icons/package-lock.json
  extensions/hidden-icons/package.json
  extensions/hidden-icons/src/components/action-open-preferences.tsx
  extensions/hidden-icons/src/find-hidden-icon.tsx
  extensions/hidden-icons/src/hooks/hooks.ts
  extensions/hidden-icons/src/score-page.tsx
  extensions/hidden-icons/src/types/preferences.ts
  extensions/hidden-icons/src/types/types.ts
  extensions/hidden-icons/src/utils/common-utils.ts
  extensions/hidden-icons/src/utils/constants.ts
  extensions/hidden-icons/src/utils/find-icons-utils.ts
Labels: extension fix / improvement, OP is author

#1910 Added new extension, Country Lookup
  extensions/country-lookup/.eslintrc.json
  extensions/country-lookup/.gitignore
  extensions/country-lookup/.prettierrc
  extensions/country-lookup/CHANGELOG.md
  extensions/country-lookup/README.md
  extensions/country-lookup/assets/command-icon.png
  extensions/country-lookup/assets/no-image@dark.png
  extensions/country-lookup/assets/no-image@light.png
  extensions/country-lookup/assets/noview.png
  extensions/country-lookup/metadata/country-lookup-1.png
  extensions/country-lookup/metadata/country-lookup-2.png
  extensions/country-lookup/metadata/country-lookup.png
  extensions/country-lookup/package-lock.json
  extensions/country-lookup/package.json
  extensions/country-lookup/src/api.ts
  extensions/country-lookup/src/cache.ts
  extensions/country-lookup/src/countries.tsx
  extensions/country-lookup/src/index.tsx
  extensions/country-lookup/src/interface.ts
  extensions/country-lookup/tsconfig.json
Labels: new extension

#1904 Update World Clock extension
  extensions/world-clock/CHANGELOG.md
  extensions/world-clock/README.md
  extensions/world-clock/metadata/Metadata-1.png
  extensions/world-clock/metadata/Metadata-2.png
  extensions/world-clock/metadata/Metadata-3.png
  extensions/world-clock/package-lock.json
  extensions/world-clock/package.json
  extensions/world-clock/src/components/action-open-command-preferences.tsx
  extensions/world-clock/src/components/list-empty-view.tsx
  extensions/world-clock/src/components/time-info-detail.tsx
  extensions/world-clock/src/components/time-zone-list-item.tsx
  extensions/world-clock/src/edit-time-zone.tsx
  extensions/world-clock/src/hooks/hooks.ts
  extensions/world-clock/src/query-ip-time.tsx
  extensions/world-clock/src/query-world-time.tsx
  extensions/world-clock/src/types/preferences.ts
  extensions/world-clock/src/types/types.ts
  extensions/world-clock/src/utils/axios-utils.ts
  extensions/world-clock/src/utils/common-utils.ts
  extensions/world-clock/src/utils/costants.ts
Labels: extension fix / improvement, OP is author

#1854 Create 'Code Stash' store extension
  extensions/code-stash/.eslintrc.json
  extensions/code-stash/.gitignore
  extensions/code-stash/.prettierrc
  extensions/code-stash/CHANGELOG.md
  extensions/code-stash/README.md
  extensions/code-stash/assets/icon.png
  extensions/code-stash/metadata/code-stash-01.png
  extensions/code-stash/metadata/code-stash-02.png
  extensions/code-stash/metadata/code-stash-03.png
  extensions/code-stash/package-lock.json
  extensions/code-stash/package.json
  extensions/code-stash/src/actions/index.tsx
  extensions/code-stash/src/actions/useCopy.ts
  extensions/code-stash/src/components/CopyAction.tsx
  extensions/code-stash/src/components/CreateAction.tsx
  extensions/code-stash/src/components/CreateForm.tsx
  extensions/code-stash/src/components/DeleteAction.tsx
  extensions/code-stash/src/components/EmptyView.tsx
  extensions/code-stash/src/components/Preview.tsx
  extensions/code-stash/src/components/ViewAction.tsx
  extensions/code-stash/src/components/index.tsx
  extensions/code-stash/src/index.tsx
  extensions/code-stash/src/lang-detector.d.ts
  extensions/code-stash/src/types.ts
  extensions/code-stash/tsconfig.json
  package-lock.json
Labels: new extension

#1953 Change API icons from list to grid
  extensions/api-icon-list/.eslintrc.json
  extensions/api-icon-list/metadata/api-icon-list-1.png
  extensions/api-icon-list/metadata/api-icon-list-2.png
  extensions/api-icon-list/package-lock.json
  extensions/api-icon-list/package.json
  extensions/api-icon-list/src/index.tsx
  extensions/api-icon-list/tsconfig.json
Labels: extension fix / improvement

#1955 Gif Search: Use slugified title as filename
  extensions/gif-search/src/models/finergifs.ts
  extensions/gif-search/src/models/gif.ts
  extensions/gif-search/src/models/giphy.ts
  extensions/gif-search/src/models/tenor.ts
Labels: extension fix / improvement

#1912 New extension: Multilinks
  extensions/multilinks/.eslintrc.json
  extensions/multilinks/.gitignore
  extensions/multilinks/.prettierrc
  extensions/multilinks/CHANGELOG.md
  extensions/multilinks/README.md
  extensions/multilinks/assets/command-icon.png
  extensions/multilinks/metadata/multilinks-01.png
  extensions/multilinks/metadata/multilinks-02.png
  extensions/multilinks/package-lock.json
  extensions/multilinks/package.json
  extensions/multilinks/src/Components/CreateForm.tsx
  extensions/multilinks/src/Service.ts
  extensions/multilinks/src/create-link.tsx
  extensions/multilinks/src/multi-links.tsx
  extensions/multilinks/src/types.ts
  extensions/multilinks/tsconfig.json
Labels: new extension

#1836 jetbrains: improve keywords to match dashes and low-dashes when searching with space
  extensions/jetbrains/CHANGELOG.md
  extensions/jetbrains/package.json
  extensions/jetbrains/src/components/RecentProject.tsx
Labels: extension fix / improvement

#1937 use Grid Layout in Dribbble extension
  extensions/dribbble/assets/info.svg
  extensions/dribbble/metadata/screenshot-1.png
  extensions/dribbble/metadata/screenshot-2.png
  extensions/dribbble/metadata/screenshot-3.png
  extensions/dribbble/package-lock.json
  extensions/dribbble/src/data.ts
  extensions/dribbble/src/index.tsx
Labels: extension fix / improvement, OP is author

#1496 [New Extension] Now
  extensions/kaalam/CHANGELOG.md
  extensions/kaalam/metadata/metadata.png
  extensions/kaalam/package.json
  extensions/kaalam/src/now.tsx
Labels: new extension, extension fix / improvement

#1948 Update Text Shortcuts extension
  extensions/text-shortcuts/CHANGELOG.md
  extensions/text-shortcuts/README.md
  extensions/text-shortcuts/assets/solid-circle.png
  extensions/text-shortcuts/metadata/Metadata-1.png
  extensions/text-shortcuts/metadata/Metadata-2.png
  extensions/text-shortcuts/metadata/Metadata-3.png
  extensions/text-shortcuts/metadata/Metadata-4.png
  extensions/text-shortcuts/metadata/Metadata-5.png
  extensions/text-shortcuts/metadata/Metadata-6.png
  extensions/text-shortcuts/package-lock.json
  extensions/text-shortcuts/package.json
  extensions/text-shortcuts/src/build-in-shortcuts/annotation.ts
  extensions/text-shortcuts/src/build-in-shortcuts/case.ts
  extensions/text-shortcuts/src/build-in-shortcuts/coder.ts
  extensions/text-shortcuts/src/build-in-shortcuts/deletion.ts
  extensions/text-shortcuts/src/build-in-shortcuts/format.ts
  extensions/text-shortcuts/src/build-in-shortcuts/markdown.ts
  extensions/text-shortcuts/src/build-in-shortcuts/time.ts
  extensions/text-shortcuts/src/components/action-edit-shortcut.tsx
  extensions/text-shortcuts/src/components/action-on-tactions.tsx
  extensions/text-shortcuts/src/components/action-open-preferences.tsx
  extensions/text-shortcuts/src/components/action-run-shortcut.tsx
  extensions/text-shortcuts/src/components/shortcut-library-grid-layout.tsx
  extensions/text-shortcuts/src/components/shortcut-library-list-layout.tsx
  extensions/text-shortcuts/src/create-shortcut.tsx
  extensions/text-shortcuts/src/hooks/hooks.ts
  extensions/text-shortcuts/src/run-shortcut-now.tsx
  extensions/text-shortcuts/src/shortcut-library.tsx
  extensions/text-shortcuts/src/types/preferences.ts
  extensions/text-shortcuts/src/types/types.ts
  extensions/text-shortcuts/src/util/constants.ts
  extensions/text-shortcuts/src/util/input.ts
  extensions/text-shortcuts/src/util/shortcut.ts
  extensions/text-shortcuts/src/util/utils.ts
Labels: extension fix / improvement, OP is author

#1961 Fix: ENS extension
  extensions/ens-name-lookup/CHANGELOG.md
  extensions/ens-name-lookup/assets/list-icon.png
  extensions/ens-name-lookup/metadata/Metadata-1.png
  extensions/ens-name-lookup/metadata/Metadata-2.png
  extensions/ens-name-lookup/package-lock.json
  extensions/ens-name-lookup/package.json
  extensions/ens-name-lookup/src/index.tsx
Labels: extension fix / improvement, OP is author

#1981 Update iata-code-decoder to v1.1.0
  extensions/iata-code-decoder/CHANGELOG.md
  extensions/iata-code-decoder/metadata/Decode-IATA-airline-code.png
  extensions/iata-code-decoder/package-lock.json
  extensions/iata-code-decoder/package.json
  extensions/iata-code-decoder/src/airlines.tsx
Labels: extension fix / improvement, OP is author

#1686 More error handling, filtering and sorting options for Jetbrains Search Recent Projects
  extensions/jetbrains/metadata/CHANGELOG.md
  extensions/jetbrains/metadata/jetbrains-1.png
  extensions/jetbrains/metadata/jetbrains-2.png
  extensions/jetbrains/metadata/jetbrains-3.png
  extensions/jetbrains/metadata/jetbrains-4.png
  extensions/jetbrains/package-lock.json
  extensions/jetbrains/package.json
  extensions/jetbrains/src/components/AppDrop.tsx
  extensions/jetbrains/src/components/HelpTextDetail.tsx
  extensions/jetbrains/src/components/OpenInJetBrainsApp.tsx
  extensions/jetbrains/src/components/OpenJetBrainsToolbox.tsx
  extensions/jetbrains/src/components/RecentProject.tsx
  extensions/jetbrains/src/recent.tsx
  extensions/jetbrains/src/sortTools.tsx
  extensions/jetbrains/src/util.ts
Labels: extension fix / improvement, OP is author

#1960 Rename Quick Surf extension
  extensions/open-link-in-specific-browser/.eslintrc.json
  extensions/open-link-in-specific-browser/.gitignore
  extensions/open-link-in-specific-browser/.prettierrc
  extensions/open-link-in-specific-browser/CHANGELOG.md
  extensions/open-link-in-specific-browser/README.md
  extensions/open-link-in-specific-browser/assets/empty-icon.svg
  extensions/open-link-in-specific-browser/assets/empty-icon@dark.svg
  extensions/open-link-in-specific-browser/assets/open-link.png
  extensions/open-link-in-specific-browser/assets/open-link@dark.png
  extensions/open-link-in-specific-browser/metadata/Metadata-1.png
  extensions/open-link-in-specific-browser/metadata/Metadata-2.png
  extensions/open-link-in-specific-browser/metadata/Metadata-3.png
  extensions/open-link-in-specific-browser/package-lock.json
  extensions/open-link-in-specific-browser/package.json
  extensions/open-link-in-specific-browser/src/components/action-add-open-link-app.tsx
  extensions/open-link-in-specific-browser/src/components/action-on-open-link-app.tsx
  extensions/open-link-in-specific-browser/src/components/action-open-preferences.tsx
  extensions/open-link-in-specific-browser/src/components/open-link-app-grid-item.tsx
  extensions/open-link-in-specific-browser/src/components/open-link-app-list-item.tsx
  extensions/open-link-in-specific-browser/src/components/open-link-in-empty-view.tsx
  extensions/open-link-in-specific-browser/src/components/open-link-in-grid-layout.tsx
  extensions/open-link-in-specific-browser/src/components/open-link-in-list-layout.tsx
  extensions/open-link-in-specific-browser/src/hooks/hooks.ts
  extensions/open-link-in-specific-browser/src/open-link-in-specific-browser.tsx
  extensions/open-link-in-specific-browser/src/types/preferences.ts
  extensions/open-link-in-specific-browser/src/types/types.ts
  extensions/open-link-in-specific-browser/src/utils/common-utils.ts
  extensions/open-link-in-specific-browser/src/utils/constants.ts
  extensions/open-link-in-specific-browser/src/utils/input-utils.ts
  extensions/open-link-in-specific-browser/src/utils/open-link-utils.ts
  extensions/open-link-in-specific-browser/tsconfig.json
  extensions/quick-surf/README.md
  extensions/quick-surf/assets/more-board.png
  extensions/quick-surf/assets/quick-surf.png
  extensions/quick-surf/media/More Boards-1.png
  extensions/quick-surf/media/More Boards-2.png
  extensions/quick-surf/media/Open URL.png
  extensions/quick-surf/media/Search Text.png
  extensions/quick-surf/media/SuggestApp.png
  extensions/quick-surf/media/mailto.png
  extensions/quick-surf/metadata/Screenshot-1.png
  extensions/quick-surf/metadata/Screenshot-2.png
  extensions/quick-surf/metadata/Screenshot-3.png
  extensions/quick-surf/package-lock.json
  extensions/quick-surf/package.json
  extensions/quick-surf/src/constants.ts
  extensions/quick-surf/src/quick-surf.tsx
  extensions/quick-surf/src/surfbrowser.tsx
  extensions/quick-surf/src/utils.ts
Labels: extension fix / improvement, OP is author, renamed extension

#1884 [Finnish-dictionary] add support for any language
  extensions/finnish-dictionary/CHANGELOG.md
  extensions/finnish-dictionary/assets/translation.png
  extensions/finnish-dictionary/assets/translation@dark.png
  extensions/finnish-dictionary/metadata/finnish-dictionary-1.png
  extensions/finnish-dictionary/metadata/finnish-dictionary-2.png
  extensions/finnish-dictionary/metadata/finnish-dictionary-3.png
  extensions/finnish-dictionary/metadata/screenshot-01.png
  extensions/finnish-dictionary/metadata/screenshot-02.png
  extensions/finnish-dictionary/package.json
  extensions/finnish-dictionary/src/general-lookup.tsx
  extensions/finnish-dictionary/src/word-dictionary.tsx
Labels: extension fix / improvement, OP is author

#1993 Jetbrains fix sort order
  extensions/jetbrains/src/recent.tsx
  extensions/jetbrains/src/sortTools.tsx
Labels: extension fix / improvement, OP is author

#1969 Create Pastebin extension
  extensions/pastebin/.eslintrc.json
  extensions/pastebin/.gitignore
  extensions/pastebin/.prettierrc
  extensions/pastebin/CHANGELOG.md
  extensions/pastebin/README.md
  extensions/pastebin/assets/pastebin.png
  extensions/pastebin/media/api-key.png
  extensions/pastebin/metadata/pastebin-01.png
  extensions/pastebin/metadata/pastebin-02.png
  extensions/pastebin/metadata/pastebin-03.png
  extensions/pastebin/package-lock.json
  extensions/pastebin/package.json
  extensions/pastebin/src/create-paste.tsx
  extensions/pastebin/src/list-pastes.tsx
  extensions/pastebin/src/utils/client.ts
  extensions/pastebin/src/utils/hooks.ts
  extensions/pastebin/src/utils/style.ts
  extensions/pastebin/tsconfig.json
Labels: new extension

#1974 New Extension: Sip
  extensions/sip/.eslintrc.json
  extensions/sip/.gitignore
  extensions/sip/.prettierrc
  extensions/sip/CHANGELOG.md
  extensions/sip/README.md
  extensions/sip/assets/sip-icon.png
  extensions/sip/metadata/screenshot-1.png
  extensions/sip/metadata/screenshot-2.png
  extensions/sip/metadata/screenshot-3.png
  extensions/sip/package-lock.json
  extensions/sip/package.json
  extensions/sip/src/add-hex-to-history.tsx
  extensions/sip/src/check-contrast-hex.tsx
  extensions/sip/src/checkInstall.tsx
  extensions/sip/src/open-check-contrast.ts
  extensions/sip/src/open-settings.ts
  extensions/sip/src/show-color-picker.ts
  extensions/sip/tsconfig.json
Labels: new extension

#1994 [LaLiga] using new grid layout for some commands, list item detail metadata
  extensions/laliga/CHANGELOG.md
  extensions/laliga/metadata/laliga-01.png
  extensions/laliga/metadata/laliga-04.png
  extensions/laliga/metadata/laliga-05.png
  extensions/laliga/package-lock.json
  extensions/laliga/package.json
  extensions/laliga/src/club.tsx
  extensions/laliga/src/components/competition_dropdown.tsx
  extensions/laliga/src/components/player.tsx
  extensions/laliga/src/components/squad.tsx
  extensions/laliga/src/standing.tsx
Labels: extension fix / improvement, OP is author

#1609 Add gopass extension
  extensions/gopass/.eslintrc.json
  extensions/gopass/.gitignore
  extensions/gopass/.prettierrc
  extensions/gopass/CHANGELOG.md
  extensions/gopass/README.md
  extensions/gopass/assets/icon.png
  extensions/gopass/metadata/goopass.png
  extensions/gopass/package-lock.json
  extensions/gopass/package.json
  extensions/gopass/src/gopass.ts
  extensions/gopass/src/index.tsx
  extensions/gopass/tsconfig.json
Labels: new extension

#1989 [Premier League] Using new grid layout for some commands, list item detail metadata
  extensions/premier-league/CHANGELOG.md
  extensions/premier-league/metadata/epl-01.png
  extensions/premier-league/metadata/epl-04.png
  extensions/premier-league/metadata/epl-05.png
  extensions/premier-league/package-lock.json
  extensions/premier-league/package.json
  extensions/premier-league/src/club.tsx
  extensions/premier-league/src/fixture.tsx
  extensions/premier-league/src/manager.tsx
  extensions/premier-league/src/player.tsx
  extensions/premier-league/src/table.tsx
  extensions/premier-league/src/utils/index.ts
Labels: extension fix / improvement, OP is author

#1983 Add Bunch extension
  extensions/bunch/.eslintrc.json
  extensions/bunch/.gitignore
  extensions/bunch/.prettierrc
  extensions/bunch/CHANGELOG.md
  extensions/bunch/README.md
  extensions/bunch/assets/bunch.png
  extensions/bunch/assets/empty-icon.svg
  extensions/bunch/assets/list-icon.svg
  extensions/bunch/assets/not-installed-icon.svg
  extensions/bunch/assets/solid-circle.png
  extensions/bunch/metadata/Metadata-1.png
  extensions/bunch/metadata/Metadata-2.png
  extensions/bunch/metadata/Metadata-3.png
  extensions/bunch/package-lock.json
  extensions/bunch/package.json
  extensions/bunch/src/close-all-bunches.tsx
  extensions/bunch/src/components/action-on-bunches.tsx
  extensions/bunch/src/components/action-open-preferences.tsx
  extensions/bunch/src/components/bunch-not-install-view.tsx
  extensions/bunch/src/components/empty-view.tsx
  extensions/bunch/src/get-bunch-preferences.tsx
  extensions/bunch/src/hooks/hooks.ts
  extensions/bunch/src/open-bunch-folder.tsx
  extensions/bunch/src/open-bunch-preferences.tsx
  extensions/bunch/src/process-bunch-text.tsx
  extensions/bunch/src/refresh-browsers.tsx
  extensions/bunch/src/search-all-bunches.tsx
  extensions/bunch/src/types/preferences.ts
  extensions/bunch/src/types/types.ts
  extensions/bunch/src/utils/applescript-utils.ts
  extensions/bunch/src/utils/common-utils.ts
  extensions/bunch/src/utils/constants.ts
  extensions/bunch/src/utils/input-item.ts
  extensions/bunch/tsconfig.json
Labels: new extension

#2003 Fix Bunch Beta not found bug
  extensions/bunch/src/utils/common-utils.ts
Labels: extension fix / improvement, OP is author

#1991 [Spotify-Controls] Display notification when track changes
  extensions/spotify-controls/CHANGELOG.md
  extensions/spotify-controls/package.json
  extensions/spotify-controls/src/nextTrack.ts
  extensions/spotify-controls/src/previousTrack.ts
  extensions/spotify-controls/src/trackNotification.ts
Labels: extension fix / improvement, OP is author

#1952 [Datadog] add pagination to dashboard list
  extensions/datadog/CHANGELOG.md
  extensions/datadog/metadata/screenshot-01.png
  extensions/datadog/metadata/screenshot-02.png
  extensions/datadog/package-lock.json
  extensions/datadog/package.json
  extensions/datadog/src/command-list-apm.tsx
  extensions/datadog/src/command-list-dashboards.tsx
  extensions/datadog/src/command-list-monitors.tsx
  extensions/datadog/src/command-list-notebooks.tsx
  extensions/datadog/src/datadog-api.ts
  extensions/datadog/src/useDashboards.ts
  extensions/datadog/src/useMonitors.ts
Labels: extension fix / improvement, status: awaiting response from dev, OP is author

#1931 Update Placeholder extension
  extensions/placeholder/CHANGELOG.md
  extensions/placeholder/README.md
  extensions/placeholder/assets/picsum-icon.png
  extensions/placeholder/assets/picsum-icon@dark.png
  extensions/placeholder/metadata/Metadata-1.png
  extensions/placeholder/metadata/Metadata-2.png
  extensions/placeholder/metadata/Metadata-3.png
  extensions/placeholder/metadata/Metadata-4.png
  extensions/placeholder/package-lock.json
  extensions/placeholder/package.json
  extensions/placeholder/src/components/action-on-placeholder-image.tsx
  extensions/placeholder/src/components/placeholder-empty-view.tsx
  extensions/placeholder/src/components/reveal-image-action.tsx
  extensions/placeholder/src/random-placeholder-image.tsx
  extensions/placeholder/src/search-placeholder-images.tsx
  extensions/placeholder/src/types/preferences.ts
Labels: extension fix / improvement, OP is author

#1962 New extension: Zen Mode
  extensions/zen-mode/.eslintrc.json
  extensions/zen-mode/.gitignore
  extensions/zen-mode/.prettierrc
  extensions/zen-mode/CHANGELOG.md
  extensions/zen-mode/README.md
  extensions/zen-mode/assets/zenmode-icon.png
  extensions/zen-mode/package-lock.json
  extensions/zen-mode/package.json
  extensions/zen-mode/src/activate.tsx
  extensions/zen-mode/src/checkInstall.ts
  extensions/zen-mode/src/deactivate.tsx
  extensions/zen-mode/tsconfig.json
Labels: new extension

#1987 Clamp: Add Calculate Linear Clamp Extension
  extensions/css-calculations/.eslintrc.json
  extensions/css-calculations/.gitignore
  extensions/css-calculations/.prettierrc
  extensions/css-calculations/CHANGELOG.md
  extensions/css-calculations/assets/css.png
  extensions/css-calculations/assets/css_clamp.png
  extensions/css-calculations/metadata/calculate-clamp-01.png
  extensions/css-calculations/package-lock.json
  extensions/css-calculations/package.json
  extensions/css-calculations/src/clamp_px.tsx
  extensions/css-calculations/src/clamp_rem.tsx
  extensions/css-calculations/src/utils.ts
  extensions/css-calculations/tsconfig.json
Labels: new extension

#1946 add new extension screnshot full page in browser
  extensions/capture-fullpage-of-website/.eslintrc.json
  extensions/capture-fullpage-of-website/.gitignore
  extensions/capture-fullpage-of-website/.prettierrc
  extensions/capture-fullpage-of-website/CHANGELOG.md
  extensions/capture-fullpage-of-website/README.md
  extensions/capture-fullpage-of-website/assets/command-icon.png
  extensions/capture-fullpage-of-website/metadata/screen-01.png
  extensions/capture-fullpage-of-website/metadata/screen-02.png
  extensions/capture-fullpage-of-website/metadata/screen-03.png
  extensions/capture-fullpage-of-website/metadata/screen-04.png
  extensions/capture-fullpage-of-website/package-lock.json
  extensions/capture-fullpage-of-website/package.json
  extensions/capture-fullpage-of-website/src/screenshot-full-page.tsx
  extensions/capture-fullpage-of-website/tsconfig.json
Labels: new extension, status: awaiting response from dev

#1999 Fix character encoding in `TextArea`
  extensions/google-translate/CHANGELOG.md
  extensions/google-translate/package.json
  extensions/google-translate/src/translate-form.tsx
Labels: extension fix / improvement

#2001 added Pie for Pi-hole extension
  extensions/pie-for-pihole/.eslintrc.json
  extensions/pie-for-pihole/.gitignore
  extensions/pie-for-pihole/.prettierrc
  extensions/pie-for-pihole/CHANGELOG.md
  extensions/pie-for-pihole/README.md
  extensions/pie-for-pihole/assets/command-icon.png
  extensions/pie-for-pihole/metadata/pie-screenshot-1.png
  extensions/pie-for-pihole/metadata/pie-screenshot-2.png
  extensions/pie-for-pihole/metadata/pie-screenshot-3.png
  extensions/pie-for-pihole/metadata/pie-screenshot-4.png
  extensions/pie-for-pihole/package-lock.json
  extensions/pie-for-pihole/package.json
  extensions/pie-for-pihole/src/get-summary.tsx
  extensions/pie-for-pihole/src/interfaces.tsx
  extensions/pie-for-pihole/src/query-log.tsx
  extensions/pie-for-pihole/src/toggle-pihole.tsx
  extensions/pie-for-pihole/src/top-queries.tsx
  extensions/pie-for-pihole/src/utils.tsx
  extensions/pie-for-pihole/tsconfig.json
Labels: new extension

#1967 Create bundlephobia extension
  extensions/bundlephobia/.eslintrc.json
  extensions/bundlephobia/.gitignore
  extensions/bundlephobia/.prettierrc
  extensions/bundlephobia/CHANGELOG.md
  extensions/bundlephobia/README.md
  extensions/bundlephobia/assets/command-icon.png
  extensions/bundlephobia/assets/example.png
  extensions/bundlephobia/package-lock.json
  extensions/bundlephobia/package.json
  extensions/bundlephobia/src/fetchUtils.ts
  extensions/bundlephobia/src/hook.ts
  extensions/bundlephobia/src/index.tsx
  extensions/bundlephobia/src/packageRepsonse.d.ts
  extensions/bundlephobia/src/packagesResponse.d.ts
  extensions/bundlephobia/src/utils.ts
  extensions/bundlephobia/tsconfig.json
Labels: new extension

#1971 Created "Browsers Profiles" extension
  extensions/browsers-profiles/.eslintrc.json
  extensions/browsers-profiles/.gitignore
  extensions/browsers-profiles/.prettierrc
  extensions/browsers-profiles/CHANGELOG.md
  extensions/browsers-profiles/README.md
  extensions/browsers-profiles/assets/command-icon.png
  extensions/browsers-profiles/assets/icons/brave.png
  extensions/browsers-profiles/assets/icons/canary.png
  extensions/browsers-profiles/assets/icons/chrome.png
  extensions/browsers-profiles/assets/icons/edge.png
  extensions/browsers-profiles/assets/icons/firefox-dev.png
  extensions/browsers-profiles/assets/icons/firefox.png
  extensions/browsers-profiles/metadata/browsers-profiles-01.png
  extensions/browsers-profiles/metadata/browsers-profiles-02.png
  extensions/browsers-profiles/package-lock.json
  extensions/browsers-profiles/package.json
  extensions/browsers-profiles/src/index.tsx
  extensions/browsers-profiles/src/lib/browsers.ts
  extensions/browsers-profiles/src/lib/chromium.ts
  extensions/browsers-profiles/src/lib/firefox.ts
  extensions/browsers-profiles/src/lib/supported-browsers.json
  extensions/browsers-profiles/tsconfig.json
Labels: new extension

#1872 New extension: Easydict
  extensions/easydict/.eslintrc.json
  extensions/easydict/.github/workflows/codeql-analysis.yml
  extensions/easydict/.gitignore
  extensions/easydict/.prettierrc
  extensions/easydict/CHANGELOG.md
  extensions/easydict/LICENSE
  extensions/easydict/README.md
  extensions/easydict/assets/eudic-icon.png
  extensions/easydict/assets/speak.png
  extensions/easydict/metadata/easydict-1.png
  extensions/easydict/metadata/easydict-2.png
  extensions/easydict/metadata/easydict.png
  extensions/easydict/package-lock.json
  extensions/easydict/package.json
  extensions/easydict/src/components.tsx
  extensions/easydict/src/consts.ts
  extensions/easydict/src/dataFormat.ts
  extensions/easydict/src/easydict.tsx
  extensions/easydict/src/request.ts
  extensions/easydict/src/types.ts
  extensions/easydict/src/utils.ts
  extensions/easydict/tsconfig.json
Labels: new extension

#2006 New Extension: Portuguese Primeira Liga
  extensions/portuguese-primeira-liga/.eslintrc.json
  extensions/portuguese-primeira-liga/.gitignore
  extensions/portuguese-primeira-liga/.prettierrc
  extensions/portuguese-primeira-liga/CHANGELOG.md
  extensions/portuguese-primeira-liga/README.md
  extensions/portuguese-primeira-liga/assets/default.png
  extensions/portuguese-primeira-liga/assets/icon.png
  extensions/portuguese-primeira-liga/metadata/screenshot-01.png
  extensions/portuguese-primeira-liga/metadata/screenshot-02.png
  extensions/portuguese-primeira-liga/package-lock.json
  extensions/portuguese-primeira-liga/package.json
  extensions/portuguese-primeira-liga/src/api/index.ts
  extensions/portuguese-primeira-liga/src/hooks/useStandings.ts
  extensions/portuguese-primeira-liga/src/standings.tsx
  extensions/portuguese-primeira-liga/src/types/index.ts
  extensions/portuguese-primeira-liga/tsconfig.json
Labels: new extension

#1996 [Pokédex] Using new Grid layout, add new pokemon
  extensions/pokedex/CHANGELOG.md
  extensions/pokedex/metadata/pokedex-01.png
  extensions/pokedex/metadata/pokedex-03.png
  extensions/pokedex/metadata/pokedex-04.png
  extensions/pokedex/metadata/pokedex-05.png
  extensions/pokedex/metadata/pokedex-06.png
  extensions/pokedex/package-lock.json
  extensions/pokedex/package.json
  extensions/pokedex/src/ability.tsx
  extensions/pokedex/src/api/index.ts
  extensions/pokedex/src/components/detail.tsx
  extensions/pokedex/src/components/type_dropdown.tsx
  extensions/pokedex/src/move.tsx
  extensions/pokedex/src/pokemon.tsx
  extensions/pokedex/src/statics/pokemons.json
  extensions/pokedex/src/types/index.ts
Labels: extension fix / improvement, OP is author

#2002 The Task detail view can show more information
  extensions/ticktick/CHANGELOG.md
  extensions/ticktick/README.md
  extensions/ticktick/note.md
  extensions/ticktick/package-lock.json
  extensions/ticktick/package.json
  extensions/ticktick/src/components/taskItem.tsx
  extensions/ticktick/src/index.tsx
  extensions/ticktick/src/next7Days.tsx
  extensions/ticktick/src/search.tsx
  extensions/ticktick/src/service/osScript.ts
  extensions/ticktick/src/service/task.ts
Labels: extension fix / improvement, OP is author

#2011 [qBitorrent] add qBitorrent extension to list all torrents
  extensions/qbittorrent/.eslintrc.json
  extensions/qbittorrent/.gitignore
  extensions/qbittorrent/.prettierrc
  extensions/qbittorrent/CHANGELOG.md
  extensions/qbittorrent/README.md
  extensions/qbittorrent/assets/checking.svg
  extensions/qbittorrent/assets/completed.svg
  extensions/qbittorrent/assets/downloading.svg
  extensions/qbittorrent/assets/error.svg
  extensions/qbittorrent/assets/filteractive.svg
  extensions/qbittorrent/assets/filterinactive.svg
  extensions/qbittorrent/assets/filterstalled.svg
  extensions/qbittorrent/assets/paused.svg
  extensions/qbittorrent/assets/qbittorrent.png
  extensions/qbittorrent/assets/resumed.svg
  extensions/qbittorrent/assets/stalledDL.svg
  extensions/qbittorrent/assets/stalledUP.svg
  extensions/qbittorrent/assets/uploading.svg
  extensions/qbittorrent/metadata/Screenshot-1.png
  extensions/qbittorrent/package-lock.json
  extensions/qbittorrent/package.json
  extensions/qbittorrent/src/torrents.tsx
  extensions/qbittorrent/tsconfig.json
Labels: new extension

#1958 Add new Better Uptime extension
  extensions/better-uptime/.eslintrc.json
  extensions/better-uptime/.prettierrc
  extensions/better-uptime/CHANGELOG.md
  extensions/better-uptime/README.md
  extensions/better-uptime/assets/command-icon.png
  extensions/better-uptime/metadata/metadata-2.png
  extensions/better-uptime/metadata/metadata-3.png
  extensions/better-uptime/metadata/metadata-4.png
  extensions/better-uptime/metadata/metadata.png
  extensions/better-uptime/package-lock.json
  extensions/better-uptime/package.json
  extensions/better-uptime/src/heartbeats.tsx
  extensions/better-uptime/src/incidents.tsx
  extensions/better-uptime/src/monitors.tsx
  extensions/better-uptime/src/utils.ts
  extensions/better-uptime/tsconfig.json
Labels: new extension

#2010 Add teamup-rooms package
  extensions/teamup-rooms/.eslintrc.json
  extensions/teamup-rooms/.prettierrc
  extensions/teamup-rooms/CHANGELOG.md
  extensions/teamup-rooms/README.md
  extensions/teamup-rooms/assets/command-icon.png
  extensions/teamup-rooms/media/teamup_calendar_url.png
  extensions/teamup-rooms/metadata/teamup-rooms.png
  extensions/teamup-rooms/package-lock.json
  extensions/teamup-rooms/package.json
  extensions/teamup-rooms/src/colors.ts
  extensions/teamup-rooms/src/index.tsx
  extensions/teamup-rooms/teamup_calendar_url.png
  extensions/teamup-rooms/tsconfig.json
Labels: new extension

#2025 Update World Clock extension
  extensions/world-clock/CHANGELOG.md
  extensions/world-clock/package-lock.json
  extensions/world-clock/package.json
  extensions/world-clock/src/components/action-toggle-details.tsx
  extensions/world-clock/src/components/time-info-detail.tsx
  extensions/world-clock/src/components/time-zone-list-item.tsx
  extensions/world-clock/src/edit-time-zone.tsx
  extensions/world-clock/src/hooks/hooks.ts
  extensions/world-clock/src/query-world-time.tsx
  extensions/world-clock/src/utils/common-utils.ts
  extensions/world-clock/src/utils/costants.ts
Labels: extension fix / improvement, OP is author

#2020 Added Newspapers command and Show Details action
  extensions/portuguese-primeira-liga/CHANGELOG.md
  extensions/portuguese-primeira-liga/package-lock.json
  extensions/portuguese-primeira-liga/package.json
  extensions/portuguese-primeira-liga/src/api/index.ts
  extensions/portuguese-primeira-liga/src/hooks/useNewspapers.ts
  extensions/portuguese-primeira-liga/src/newspapers.tsx
  extensions/portuguese-primeira-liga/src/standings.tsx
  extensions/portuguese-primeira-liga/src/types/index.ts
Labels: extension fix / improvement, OP is author

#1842 New extension: Steam
  extensions/steam/.eslintrc.json
  extensions/steam/.prettierrc
  extensions/steam/CHANGELOG.md
  extensions/steam/README.md
  extensions/steam/assets/command-icon.png
  extensions/steam/assets/screenshot-1.png
  extensions/steam/assets/screenshot-2.png
  extensions/steam/assets/steam-icon-64.png
  extensions/steam/metadata/steam-01.png
  extensions/steam/metadata/steam-02.png
  extensions/steam/metadata/steam-03.png
  extensions/steam/metadata/steam-04.png
  extensions/steam/package-lock.json
  extensions/steam/package.json
  extensions/steam/src/components/Actions.tsx
  extensions/steam/src/components/GameDetails.tsx
  extensions/steam/src/components/ListItems.tsx
  extensions/steam/src/components/MyGames.tsx
  extensions/steam/src/components/RandomGamesList.tsx
  extensions/steam/src/components/RecentlyPlayedGames.tsx
  extensions/steam/src/components/Search.tsx
  extensions/steam/src/errors.tsx
  extensions/steam/src/lib/cache.ts
  extensions/steam/src/lib/fake.ts
  extensions/steam/src/lib/fetcher.ts
  extensions/steam/src/lib/hooks.ts
  extensions/steam/src/lib/util.ts
  extensions/steam/src/steam.tsx
  extensions/steam/src/types.ts
  extensions/steam/tsconfig.json
Labels: new extension

#2016 Update Bunch extension
  extensions/bunch/CHANGELOG.md
  extensions/bunch/README.md
  extensions/bunch/metadata/Metadata-1.png
  extensions/bunch/metadata/Metadata-2.png
  extensions/bunch/package.json
  extensions/bunch/src/components/action-on-bunches.tsx
  extensions/bunch/src/components/action-open-folder.tsx
  extensions/bunch/src/components/empty-view.tsx
  extensions/bunch/src/create-bunch.tsx
  extensions/bunch/src/get-bunch-preferences.tsx
  extensions/bunch/src/hooks/hooks-create-bunches.ts
  extensions/bunch/src/hooks/hooks.ts
  extensions/bunch/src/search-bunches.tsx
  extensions/bunch/src/types/preferences.ts
  extensions/bunch/src/utils/common-utils.ts
  extensions/bunch/src/utils/constants.ts
Labels: extension fix / improvement, OP is author

#2028 Added new screenshots
  extensions/portuguese-primeira-liga/CHANGELOG.md
  extensions/portuguese-primeira-liga/metadata/screenshot-03.png
  extensions/portuguese-primeira-liga/metadata/screenshot-04.png
  extensions/portuguese-primeira-liga/metadata/screenshot-05.png
Labels: extension fix / improvement, OP is author

#2029 Portuguese Primeira Liga improvement
  extensions/portuguese-primeira-liga/CHANGELOG.md
  extensions/portuguese-primeira-liga/metadata/screenshot-04.png
  extensions/portuguese-primeira-liga/src/newspapers.tsx
  extensions/portuguese-primeira-liga/src/types/index.ts
Labels: extension fix / improvement, OP is author

#2037 upgrade: bump @raycast/api from 1.25.6 to 1.36.1
  extensions/ones/CHANGELOG.md
  extensions/ones/README.md
  extensions/ones/README_zh.md
  extensions/ones/package-lock.json
  extensions/ones/package.json
  extensions/ones/src/lib/api.ts
  extensions/ones/src/lib/client.ts
  extensions/ones/src/lib/type.ts
  extensions/ones/src/manage-manhour.tsx
  extensions/ones/src/manhour.tsx
  extensions/ones/src/search-project-project.tsx
  extensions/ones/src/search-project-resource.tsx
  extensions/ones/src/search-project-sprint.tsx
  extensions/ones/src/search-project-task.tsx
  extensions/ones/src/search-wiki-page.tsx
  extensions/ones/src/search-wiki-resource.tsx
  extensions/ones/src/search-wiki-space.tsx
  extensions/ones/src/search.tsx
Labels: extension fix / improvement, OP is author

#2034 Update the logo of Lark
  extensions/lark/CHANGELOG.md
  extensions/lark/assets/logo.png
  extensions/lark/package-lock.json
Labels: extension fix / improvement, OP is author

#2036 [Extension: Nextjs-docs] Performance improvement and caching
  extensions/nextjs-docs/CHANGELOG.md
  extensions/nextjs-docs/package.json
  extensions/nextjs-docs/src/Topic.tsx
  extensions/nextjs-docs/src/TopicDetail.tsx
  extensions/nextjs-docs/src/index.tsx
  extensions/nextjs-docs/src/search-documentation.tsx
  extensions/nextjs-docs/src/search-examples.tsx
  extensions/nextjs-docs/src/services/Github.tsx
  extensions/nextjs-docs/src/services/NextjsPage.tsx
  extensions/nextjs-docs/src/services/NextjsPages.tsx
  extensions/nextjs-docs/src/types/GithubType.tsx
Labels: extension fix / improvement, OP is author

#2033 system-monitor : Fixed extension
  extensions/system-monitor/CHANGELOG.md
  extensions/system-monitor/metadata/screenshot001.png
  extensions/system-monitor/package-lock.json
  extensions/system-monitor/package.json
  extensions/system-monitor/src/system-monitor.tsx
Labels: extension fix / improvement

#2035 Add Chinese Character extension
  extensions/chinese-character/.eslintrc.json
  extensions/chinese-character/.gitignore
  extensions/chinese-character/.prettierrc
  extensions/chinese-character/CHANGELOG.md
  extensions/chinese-character/README.md
  extensions/chinese-character/assets/extension-icon.png
  extensions/chinese-character/assets/tw2zh.png
  extensions/chinese-character/assets/zh2pinyin.png
  extensions/chinese-character/assets/zh2tw.png
  extensions/chinese-character/metadata/Metadata-1.png
  extensions/chinese-character/package-lock.json
  extensions/chinese-character/package.json
  extensions/chinese-character/src/chinese-to-pinyin.tsx
  extensions/chinese-character/src/simplified-to-traditional.tsx
  extensions/chinese-character/src/traditional-to-simplified.tsx
  extensions/chinese-character/src/types/preferences.ts
  extensions/chinese-character/src/utils/common-utils.ts
  extensions/chinese-character/src/utils/input-item.ts
  extensions/chinese-character/tsconfig.json
Labels: new extension

#2004 Add BetterZip extension
  extensions/betterzip/.eslintrc.json
  extensions/betterzip/.gitignore
  extensions/betterzip/.prettierrc
  extensions/betterzip/CHANGELOG.md
  extensions/betterzip/README.md
  extensions/betterzip/assets/betterzip-icon.png
  extensions/betterzip/metadata/Metadata-1.png
  extensions/betterzip/package-lock.json
  extensions/betterzip/package.json
  extensions/betterzip/src/compress-with-betterzip.tsx
  extensions/betterzip/src/extract-with-betterzip.tsx
  extensions/betterzip/src/hooks/hooks.ts
  extensions/betterzip/src/open-with-betterzip.tsx
  extensions/betterzip/src/utils/applescript-utils.ts
  extensions/betterzip/src/utils/common-utils.ts
  extensions/betterzip/src/utils/constants.ts
  extensions/betterzip/tsconfig.json
Labels: new extension

#2027 Update Bunch extension
  extensions/bunch/CHANGELOG.md
  extensions/bunch/README.md
  extensions/bunch/metadata/Metadata-4.png
  extensions/bunch/package.json
  extensions/bunch/src/components/action-open-syntax-reference.tsx
  extensions/bunch/src/create-bunch.tsx
  extensions/bunch/src/search-bunch-references.tsx
  extensions/bunch/src/utils/bunch-reference.ts
Labels: extension fix / improvement, OP is author

#2018 HomeAssistant: Add controls for Fan entities
  extensions/homeassistant/CHANGELOG.md
  extensions/homeassistant/assets/fan-off.png
  extensions/homeassistant/assets/fan.png
  extensions/homeassistant/package.json
  extensions/homeassistant/src/components/fan.tsx
  extensions/homeassistant/src/components/states.tsx
  extensions/homeassistant/src/fans.tsx
  extensions/homeassistant/src/haapi.ts
Labels: extension fix / improvement

#2043 Fix bug in Text Shortcuts extension
  extensions/text-shortcuts/CHANGELOG.md
  extensions/text-shortcuts/package-lock.json
  extensions/text-shortcuts/package.json
  extensions/text-shortcuts/src/components/shortcut-library-grid-layout.tsx
Labels: extension fix / improvement, OP is author

#2040 ✨ [Easydict] Improve the response speed of request, add Tencent translation …
  extensions/easydict/CHANGELOG.md
  extensions/easydict/README.md
  extensions/easydict/metadata/easydict-1.png
  extensions/easydict/metadata/easydict-2.png
  extensions/easydict/metadata/easydict-3.png
  extensions/easydict/metadata/easydict-4.png
  extensions/easydict/metadata/easydict.png
  extensions/easydict/package-lock.json
  extensions/easydict/package.json
  extensions/easydict/src/audio.ts
  extensions/easydict/src/components.tsx
  extensions/easydict/src/consts.ts
  extensions/easydict/src/dataFormat.ts
  extensions/easydict/src/dict/iciba/interface.ts
  extensions/easydict/src/dict/iciba/request.ts
  extensions/easydict/src/dict/youdao/request.ts
  extensions/easydict/src/easydict.tsx
  extensions/easydict/src/formatData.ts
  extensions/easydict/src/request.ts
  extensions/easydict/src/types.ts
  extensions/easydict/src/utils.ts
Labels: extension fix / improvement, OP is author

#2051 Update Text Shortcuts extension
  extensions/text-shortcuts/src/components/shortcut-library-grid-layout.tsx
Labels: extension fix / improvement, OP is author

#2052 Update Grid content bug
  extensions/text-shortcuts/package.json
  extensions/text-shortcuts/src/components/shortcut-library-grid-layout.tsx
Labels: extension fix / improvement, OP is author

#2031 :tada: added Typefully extension
  extensions/typefully/.eslintrc.json
  extensions/typefully/CHANGELOG.md
  extensions/typefully/README.md
  extensions/typefully/assets/command-icon.png
  extensions/typefully/metadata/typefully-01.png
  extensions/typefully/metadata/typefully-02.png
  extensions/typefully/metadata/typefully-03.png
  extensions/typefully/package-lock.json
  extensions/typefully/package.json
  extensions/typefully/src/index.tsx
  extensions/typefully/src/open-dashboard.tsx
  extensions/typefully/tsconfig.json
Labels: new extension

#2048 New extension: Spaces
  extensions/spaces/.eslintrc.json
  extensions/spaces/.gitignore
  extensions/spaces/.prettierrc
  extensions/spaces/CHANGELOG.md
  extensions/spaces/README.md
  extensions/spaces/assets/spaces-icon.png
  extensions/spaces/package-lock.json
  extensions/spaces/package.json
  extensions/spaces/src/checkInstall.ts
  extensions/spaces/src/create-space.tsx
  extensions/spaces/tsconfig.json
Labels: new extension

#2045 [Code-stash] Add Export command
  extensions/code-stash/CHANGELOG.md
  extensions/code-stash/package-lock.json
  extensions/code-stash/package.json
  extensions/code-stash/src/actions/index.tsx
  extensions/code-stash/src/actions/useCopy.ts
  extensions/code-stash/src/actions/useExport.ts
  extensions/code-stash/src/archiver.d.ts
  extensions/code-stash/src/components/ExportAction.tsx
  extensions/code-stash/src/components/index.tsx
  extensions/code-stash/src/index.tsx
Labels: extension fix / improvement, OP is author

#2041 Add shell extension
  extensions/shell/.eslintrc.json
  extensions/shell/.gitignore
  extensions/shell/.prettierrc
  extensions/shell/CHANGELOG.md
  extensions/shell/README.md
  extensions/shell/assets/bash-icon.png
  extensions/shell/metadata/shell-1.png
  extensions/shell/metadata/shell.png
  extensions/shell/package-lock.json
  extensions/shell/package.json
  extensions/shell/src/index.tsx
  extensions/shell/src/shell-history.d.ts
  extensions/shell/tsconfig.json
Labels: new extension

#2042 [Update Obsidian Extension] Full Content Search, Metadata View, Templates & More
  extensions/obsidian/CHANGELOG.md
  extensions/obsidian/README.md
  extensions/obsidian/package-lock.json
  extensions/obsidian/package.json
  extensions/obsidian/src/components/CreateNoteForm.tsx
  extensions/obsidian/src/components/NoVaultFoundMessage.tsx
  extensions/obsidian/src/components/NoteList.tsx
  extensions/obsidian/src/components/NoteListObsidian.tsx
  extensions/obsidian/src/components/NoteListPinned.tsx
  extensions/obsidian/src/createNoteCommand.tsx
  extensions/obsidian/src/dailyNoteCommand.tsx
  extensions/obsidian/src/openVaultCommand.tsx
  extensions/obsidian/src/pinnedNotesCommand.tsx
  extensions/obsidian/src/searchNoteCommand.tsx
  extensions/obsidian/src/utils/NoteCreator.tsx
  extensions/obsidian/src/utils/NoteLoader.tsx
  extensions/obsidian/src/utils/PinNoteUtils.tsx
  extensions/obsidian/src/utils/actions.tsx
  extensions/obsidian/src/utils/constants.tsx
  extensions/obsidian/src/utils/interfaces.tsx
  extensions/obsidian/src/utils/utils.tsx
Labels: extension fix / improvement, OP is author

#2056 [Amphetamine]: Adds new commands to get remaining time and start session with duration
  extensions/amphetamine/CHANGELOG.md
  extensions/amphetamine/package.json
  extensions/amphetamine/src/amp-duration.tsx
  extensions/amphetamine/src/amp-start.ts
  extensions/amphetamine/src/remaining.ts
Labels: extension fix / improvement, OP is author

#2054 [ensk-is] Add fuse.js sorting to ensk-is for improved result ranking
  extensions/ensk-is/CHANGELOG.md
  extensions/ensk-is/package-lock.json
  extensions/ensk-is/package.json
  extensions/ensk-is/src/index.tsx
Labels: extension fix / improvement, OP is author

#2050 Add n8n extension
  extensions/n8n/.eslintrc.json
  extensions/n8n/.gitignore
  extensions/n8n/.prettierrc
  extensions/n8n/CHANGELOG.md
  extensions/n8n/README.md
  extensions/n8n/assets/app-not-install-icon.png
  extensions/n8n/assets/list-icon.svg
  extensions/n8n/assets/n8n.png
  extensions/n8n/metadata/Metadata-1.png
  extensions/n8n/metadata/Metadata-2.png
  extensions/n8n/package-lock.json
  extensions/n8n/package.json
  extensions/n8n/src/activate-all-workflows.tsx
  extensions/n8n/src/components/action-on-workflow.tsx
  extensions/n8n/src/components/action-open-preferences.tsx
  extensions/n8n/src/components/app-not-install-view.tsx
  extensions/n8n/src/components/detail-view.tsx
  extensions/n8n/src/components/empty-view.tsx
  extensions/n8n/src/deactivate-all-workflows.tsx
  extensions/n8n/src/hooks/hooks.ts
  extensions/n8n/src/search-workflows.tsx
  extensions/n8n/src/types/preferences.ts
  extensions/n8n/src/types/types.ts
  extensions/n8n/src/utils/common-utils.ts
  extensions/n8n/src/utils/constants.ts
  extensions/n8n/src/utils/n8n-cli-utils.ts
  extensions/n8n/tsconfig.json
Labels: new extension

#2057 Add prefix preference for random email extention
  extensions/random-email/CHANGELOG.md
  extensions/random-email/package.json
  extensions/random-email/src/utils.ts
Labels: extension fix / improvement

#2015 [Heroku] Add log sessions view
  extensions/heroku/CHANGELOG.md
  extensions/heroku/package-lock.json
  extensions/heroku/package.json
  extensions/heroku/src/AppLogSession.tsx
  extensions/heroku/src/apps.tsx
Labels: extension fix / improvement, OP is author

#2058 Update Text Decorator extension name
  extensions/text-decorator/CHANGELOG.md
  extensions/text-decorator/README.md
  extensions/text-decorator/package-lock.json
  extensions/text-decorator/package.json
Labels: extension fix / improvement, OP is author

#2014 Add new Simon extension
  extensions/simon/.eslintrc.json
  extensions/simon/.gitignore
  extensions/simon/.prettierrc
  extensions/simon/CHANGELOG.md
  extensions/simon/README.md
  extensions/simon/assets/command-icon.png
  extensions/simon/metadata/metadata.png
  extensions/simon/package-lock.json
  extensions/simon/package.json
  extensions/simon/src/index.tsx
  extensions/simon/tsconfig.json
Labels: new extension

#2024 New Extension: OBS Studio Control
  extensions/obs-control/.eslintrc.json
  extensions/obs-control/.gitignore
  extensions/obs-control/.prettierrc
  extensions/obs-control/CHANGELOG.md
  extensions/obs-control/README.md
  extensions/obs-control/assets/obs-control.png
  extensions/obs-control/metadata/Metadata-1.png
  extensions/obs-control/package-lock.json
  extensions/obs-control/package.json
  extensions/obs-control/screenshots/extension-preference.png
  extensions/obs-control/screenshots/websocket-setting.png
  extensions/obs-control/src/lib/obs.ts
  extensions/obs-control/src/lib/utils.ts
  extensions/obs-control/src/preferences.ts
  extensions/obs-control/src/set-scene.tsx
  extensions/obs-control/src/toggle-stream.tsx
  extensions/obs-control/tsconfig.json
Labels: new extension

#2063 Fix Text Decorator extension bug
  extensions/text-decorator/CHANGELOG.md
  extensions/text-decorator/src/decorate-text-with-font.tsx
Labels: extension fix / improvement, OP is author

#1928 new extension nanoid
  extensions/nanoid/.eslintrc.json
  extensions/nanoid/.gitignore
  extensions/nanoid/.prettierrc
  extensions/nanoid/CHANGELOG.md
  extensions/nanoid/README.md
  extensions/nanoid/assets/command-icon.png
  extensions/nanoid/package-lock.json
  extensions/nanoid/package.json
  extensions/nanoid/src/nanoid.tsx
  extensions/nanoid/tsconfig.json
Labels: new extension

#2032 Added a lot of new features and fixed bugs for CanvasCast!
  extensions/canvascast/CHANGELOG.md
  extensions/canvascast/assets/home-page.png
  extensions/canvascast/assets/home.png
  extensions/canvascast/assets/invalid-api-key.png
  extensions/canvascast/assets/invalid-domain.png
  extensions/canvascast/assets/see-modules.png
  extensions/canvascast/package-lock.json
  extensions/canvascast/package.json
  extensions/canvascast/src/api.ts
  extensions/canvascast/src/components/announcement.tsx
  extensions/canvascast/src/components/assignment.tsx
  extensions/canvascast/src/components/course.tsx
  extensions/canvascast/src/components/error-view.tsx
  extensions/canvascast/src/components/home-page.tsx
  extensions/canvascast/src/components/module-item.tsx
  extensions/canvascast/src/components/modules.tsx
  extensions/canvascast/src/index.tsx
  extensions/canvascast/src/utils/api.ts
  extensions/canvascast/src/utils/recent.ts
  extensions/canvascast/src/utils/types.ts
  extensions/canvascast/src/utils/utils.ts
Labels: extension fix / improvement, OP is contributor

#1976 New Extension: Coda Bookmarks Search
  extensions/coda-bookmarks-search/.eslintrc.json
  extensions/coda-bookmarks-search/.gitignore
  extensions/coda-bookmarks-search/.npmrc
  extensions/coda-bookmarks-search/.nvmrc
  extensions/coda-bookmarks-search/.prettierrc
  extensions/coda-bookmarks-search/CHANGELOG.md
  extensions/coda-bookmarks-search/README.md
  extensions/coda-bookmarks-search/assets/coda-logo-512.png
  extensions/coda-bookmarks-search/media/copy-doc-id.png
  extensions/coda-bookmarks-search/media/copy-table-id.png
  extensions/coda-bookmarks-search/media/enable-developer-mode.png
  extensions/coda-bookmarks-search/media/screenshot-01.png
  extensions/coda-bookmarks-search/metadata/screenshot-01.png
  extensions/coda-bookmarks-search/metadata/screenshot-02.png
  extensions/coda-bookmarks-search/metadata/screenshot-03.png
  extensions/coda-bookmarks-search/package-lock.json
  extensions/coda-bookmarks-search/package.json
  extensions/coda-bookmarks-search/src/index.tsx
  extensions/coda-bookmarks-search/src/search-bookmarks/coda-api.ts
  extensions/coda-bookmarks-search/src/search-bookmarks/coda-cache.ts
  extensions/coda-bookmarks-search/src/search-bookmarks/get-preferences.ts
  extensions/coda-bookmarks-search/src/search-bookmarks/translate-to-bookmark-item.ts
  extensions/coda-bookmarks-search/src/search-bookmarks/use-bookmark-items.ts
  extensions/coda-bookmarks-search/tsconfig.json
Labels: new extension

#1911 [Gitlab] Add Custom certificate support
  extensions/gitlab/CHANGELOG.md
  extensions/gitlab/README.md
  extensions/gitlab/package.json
  extensions/gitlab/src/common.ts
  extensions/gitlab/src/components/groups.tsx
  extensions/gitlab/src/components/issues.tsx
  extensions/gitlab/src/components/jobs.tsx
  extensions/gitlab/src/components/milestones.tsx
  extensions/gitlab/src/components/mr.tsx
  extensions/gitlab/src/components/pipelines.tsx
  extensions/gitlab/src/components/project_actions.tsx
  extensions/gitlab/src/components/project_nav.tsx
  extensions/gitlab/src/gitlabapi.ts
Labels: extension fix / improvement, OP is author

#2013 Add bibmanager extension
  extensions/bibmanager/.eslintrc.json
  extensions/bibmanager/.gitignore
  extensions/bibmanager/.prettierrc
  extensions/bibmanager/CHANGELOG.md
  extensions/bibmanager/README.md
  extensions/bibmanager/assets/bibm_download.py
  extensions/bibmanager/assets/bibm_list.py
  extensions/bibmanager/assets/command-icon.png
  extensions/bibmanager/metadata/Metadata-1.png
  extensions/bibmanager/metadata/Metadata-2.png
  extensions/bibmanager/package-lock.json
  extensions/bibmanager/package.json
  extensions/bibmanager/src/ListBibmItem.tsx
  extensions/bibmanager/src/index.tsx
  extensions/bibmanager/tsconfig.json
Labels: new extension

#1978 Add IconPark extension
  extensions/iconpark/.eslintrc.json
  extensions/iconpark/.gitignore
  extensions/iconpark/.prettierrc
  extensions/iconpark/CHANGELOG.md
  extensions/iconpark/README.md
  extensions/iconpark/assets/empty-icon.svg
  extensions/iconpark/assets/icon-park.png
  extensions/iconpark/assets/icons.json
  extensions/iconpark/metadata/Metadata-1.png
  extensions/iconpark/metadata/Metadata-2.png
  extensions/iconpark/metadata/Metadata-3.png
  extensions/iconpark/package-lock.json
  extensions/iconpark/package.json
  extensions/iconpark/src/components/action-open-preferences.tsx
  extensions/iconpark/src/components/action-to-Icon-park.tsx
  extensions/iconpark/src/components/empty-view.tsx
  extensions/iconpark/src/components/form-filled.tsx
  extensions/iconpark/src/components/form-multi-color.tsx
  extensions/iconpark/src/components/form-outline.tsx
  extensions/iconpark/src/components/form-two-tone.tsx
  extensions/iconpark/src/config-icon.tsx
  extensions/iconpark/src/hooks/hooks.ts
  extensions/iconpark/src/search-icons.tsx
  extensions/iconpark/src/types/types.ts
  extensions/iconpark/src/utils/common-utils.ts
  extensions/iconpark/src/utils/constants.ts
  extensions/iconpark/tsconfig.json
Labels: new extension

#2071 fix(Random-Email): prefix came as undefined
  extensions/random-email/CHANGELOG.md
  extensions/random-email/package.json
  extensions/random-email/src/utils.ts
Labels: extension fix / improvement

#2079 Update Bunch extension: Support Bunch Beta app
  extensions/bunch/CHANGELOG.md
  extensions/bunch/README.md
  extensions/bunch/src/utils/applescript-utils.ts
  extensions/bunch/src/utils/common-utils.ts
Labels: extension fix / improvement, OP is author

#2070 ✨ [Fathom Analytics] Release v1 of Fathom Analytics plugin
  extensions/fathom-analytics/.eslintrc.json
  extensions/fathom-analytics/.gitignore
  extensions/fathom-analytics/.prettierrc
  extensions/fathom-analytics/CHANGELOG.md
  extensions/fathom-analytics/README.md
  extensions/fathom-analytics/assets/icon.png
  extensions/fathom-analytics/assets/icon@dark.png
  extensions/fathom-analytics/assets/list-icon.png
  extensions/fathom-analytics/metadata/fathom-analytics-1.png
  extensions/fathom-analytics/metadata/fathom-analytics-2.png
  extensions/fathom-analytics/metadata/fathom-analytics-3.png
  extensions/fathom-analytics/metadata/fathom-analytics-4.png
  extensions/fathom-analytics/package-lock.json
  extensions/fathom-analytics/package.json
  extensions/fathom-analytics/src/create-site.tsx
  extensions/fathom-analytics/src/delete-site.tsx
  extensions/fathom-analytics/src/interfaces/preference.tsx
  extensions/fathom-analytics/src/interfaces/site.tsx
  extensions/fathom-analytics/src/interfaces/state.tsx
  extensions/fathom-analytics/src/list-sites.tsx
  extensions/fathom-analytics/src/open-dashboard.tsx
  extensions/fathom-analytics/tsconfig.json
Labels: new extension

#2076 Quick Calendar: bug fix
  extensions/calendar/package.json
  extensions/calendar/src/index.tsx
Labels: extension fix / improvement, OP is author

#2030 Add `Search Colors` and `Search Components` commands
  extensions/tailwindcss/assets/square.jpeg
  extensions/tailwindcss/changelog.md
  extensions/tailwindcss/metadata/tailwindcss-03.png
  extensions/tailwindcss/metadata/tailwindcss-04.png
  extensions/tailwindcss/package-lock.json
  extensions/tailwindcss/package.json
  extensions/tailwindcss/src/documentation/tailwind-css.ts
  extensions/tailwindcss/src/documentation/tailwind-ui.ts
  extensions/tailwindcss/src/search-colors.tsx
  extensions/tailwindcss/src/search-components.tsx
  extensions/tailwindcss/src/search-documentation.tsx
Labels: extension fix / improvement, OP is author

#2077 Address #2008
  extensions/linguee/CHANGELOG.md
  extensions/linguee/metadata/linguee-1.png
  extensions/linguee/package-lock.json
  extensions/linguee/package.json
  extensions/linguee/src/cache.ts
  extensions/linguee/src/components/ResultList.tsx
Labels: extension fix / improvement, OP is author

#1616 Add openfortivpn extension 🌍
  extensions/openfortivpn/.eslintrc.json
  extensions/openfortivpn/.gitignore
  extensions/openfortivpn/.prettierrc
  extensions/openfortivpn/.tool-versions
  extensions/openfortivpn/CHANGELOG.md
  extensions/openfortivpn/README.md
  extensions/openfortivpn/assets/openfortivpn.png
  extensions/openfortivpn/package-lock.json
  extensions/openfortivpn/package.json
  extensions/openfortivpn/src/connect.tsx
  extensions/openfortivpn/src/disconnect.ts
  extensions/openfortivpn/src/utilities/common.ts
  extensions/openfortivpn/tsconfig.json
Labels: new extension

#2082 :sparkles: added ability to view posted tweets and scheduled drafts
  extensions/typefully/.gitignore
  extensions/typefully/.prettierrc
  extensions/typefully/CHANGELOG.md
  extensions/typefully/assets/icon.png
  extensions/typefully/package-lock.json
  extensions/typefully/package.json
  extensions/typefully/src/create-draft.tsx
  extensions/typefully/src/interfaces/preferences.tsx
  extensions/typefully/src/view-posted.tsx
  extensions/typefully/src/view-scheduled.tsx
  extensions/typefully/tsconfig.json
Labels: extension fix / improvement, OP is author

#2093 Add xid extension
  extensions/xid/.eslintrc.json
  extensions/xid/.gitignore
  extensions/xid/.prettierrc
  extensions/xid/CHANGELOG.md
  extensions/xid/README.md
  extensions/xid/assets/icon.png
  extensions/xid/package-lock.json
  extensions/xid/package.json
  extensions/xid/src/base32.ts
  extensions/xid/src/index.ts
  extensions/xid/src/xid.ts
  extensions/xid/tsconfig.json
Labels: new extension

#2073 add regex extension
  extensions/regex-tester/.eslintrc.json
  extensions/regex-tester/.gitignore
  extensions/regex-tester/.prettierrc
  extensions/regex-tester/.vscode/settings.json
  extensions/regex-tester/CHANGELOG.md
  extensions/regex-tester/README.md
  extensions/regex-tester/assets/command-icon.png
  extensions/regex-tester/metadata/regex-01.png
  extensions/regex-tester/metadata/regex-02.png
  extensions/regex-tester/metadata/regex-03.png
  extensions/regex-tester/package-lock.json
  extensions/regex-tester/package.json
  extensions/regex-tester/src/components/CheatSheet.tsx
  extensions/regex-tester/src/components/RegexOptions.tsx
  extensions/regex-tester/src/index.tsx
  extensions/regex-tester/src/screens/FormScreen.tsx
  extensions/regex-tester/src/screens/MainScreen.tsx
  extensions/regex-tester/tsconfig.json
Labels: new extension

#2108 Sourcegraph: Improved revision search and result tooltips
  extensions/sourcegraph/CHANGELOG.md
  extensions/sourcegraph/src/components/SearchCommand.tsx
Labels: extension fix / improvement, OP is author

#2090 Grid view for unsplash?
  extensions/unsplash/CHANGELOG.md
  extensions/unsplash/package-lock.json
  extensions/unsplash/package.json
  extensions/unsplash/src/collections.tsx
  extensions/unsplash/src/components/Actions.tsx
  extensions/unsplash/src/components/ActionsCollection.tsx
  extensions/unsplash/src/functions/copyFileToClipboard.ts
  extensions/unsplash/src/functions/setWallpaper.ts
  extensions/unsplash/src/functions/utils.ts
  extensions/unsplash/src/hooks/useLikes.ts
  extensions/unsplash/src/hooks/useSearch.ts
  extensions/unsplash/src/images.tsx
  extensions/unsplash/src/likes.tsx
Labels: extension fix / improvement

#2084 Add iTerm capability to ssh-manager
  extensions/ssh-manager/CHANGELOG.md
  extensions/ssh-manager/package.json
  extensions/ssh-manager/src/show.tsx
Labels: extension fix / improvement

#2109 [GitLab] Fix Merge Request Details error.
  extensions/gitlab/CHANGELOG.md
  extensions/gitlab/package-lock.json
  extensions/gitlab/package.json
  extensions/gitlab/src/components/issues.tsx
  extensions/gitlab/src/components/mr.tsx
Labels: extension fix / improvement

#2114 [GitLab] Improvements to MR details.
  extensions/gitlab/CHANGELOG.md
  extensions/gitlab/src/components/issues.tsx
  extensions/gitlab/src/components/mr.tsx
  extensions/gitlab/src/components/users.tsx
  extensions/gitlab/src/gitlabapi.ts
Labels: extension fix / improvement, OP is contributor

#2125 Minor Typo Fix - Update wording for command
  extensions/word-search/package.json
Labels: extension fix / improvement, OP is author

#2081 Update Quick Access extension
  extensions/quick-access/CHANGELOG.md
  extensions/quick-access/package-lock.json
  extensions/quick-access/package.json
  extensions/quick-access/src/components/action-on-files.tsx
  extensions/quick-access/src/components/folder-page-list-empty-view.tsx
  extensions/quick-access/src/components/folder-page.tsx
  extensions/quick-access/src/components/item-detail.tsx
  extensions/quick-access/src/components/quick-access-empty-view.tsx
  extensions/quick-access/src/components/ui-components.tsx
  extensions/quick-access/src/hooks/hooks.ts
  extensions/quick-access/src/search-pinned-directories.tsx
  extensions/quick-access/src/types/types.ts
  extensions/quick-access/src/utils/common-utils.ts
Labels: extension fix / improvement, OP is author

#2087 [Twitter] Add v2 support with OAuth
  extensions/twitter/CHANGELOG.md
  extensions/twitter/README.md
  extensions/twitter/package-lock.json
  extensions/twitter/package.json
  extensions/twitter/src/common.ts
  extensions/twitter/src/mytweets.tsx
  extensions/twitter/src/send.tsx
  extensions/twitter/src/timeline.tsx
  extensions/twitter/src/user_search.tsx
  extensions/twitter/src/utils.ts
  extensions/twitter/src/v1/components/mytweets.tsx
  extensions/twitter/src/v1/components/send.tsx
  extensions/twitter/src/v1/components/timeline.tsx
  extensions/twitter/src/v1/components/tweet.tsx
  extensions/twitter/src/v1/components/tweet_actions.tsx
  extensions/twitter/src/v1/components/user.tsx
  extensions/twitter/src/v1/components/user_actions.tsx
  extensions/twitter/src/v1/components/user_search.tsx
  extensions/twitter/src/v1/components/usertweets.tsx
  extensions/twitter/src/v1/lib/twitterapi.ts
  extensions/twitter/src/v2/components/actions.tsx
  extensions/twitter/src/v2/components/author.tsx
  extensions/twitter/src/v2/components/detail.tsx
  extensions/twitter/src/v2/components/mytweets.tsx
  extensions/twitter/src/v2/components/send.tsx
  extensions/twitter/src/v2/components/timeline.tsx
  extensions/twitter/src/v2/components/tweet.tsx
  extensions/twitter/src/v2/components/user_search.tsx
  extensions/twitter/src/v2/lib/oauth.ts
  extensions/twitter/src/v2/lib/twitter.ts
  extensions/twitter/src/v2/lib/twitterapi_v2.ts
Labels: extension fix / improvement, OP is author

#2072 Add Short.io extension
  extensions/short-io/.eslintrc.json
  extensions/short-io/.gitignore
  extensions/short-io/.prettierrc
  extensions/short-io/CHANGELOG.md
  extensions/short-io/README.md
  extensions/short-io/assets/domain-icon.svg
  extensions/short-io/assets/domain-icon@dark.svg
  extensions/short-io/assets/empty-domain-icon.svg
  extensions/short-io/assets/empty-domain-icon@dark.svg
  extensions/short-io/assets/empty-link-icon.svg
  extensions/short-io/assets/empty-link-icon@dark.svg
  extensions/short-io/assets/link-icon.svg
  extensions/short-io/assets/link-icon@dark.svg
  extensions/short-io/assets/search-link-icon.png
  extensions/short-io/assets/short-io-icon.png
  extensions/short-io/assets/shorten-link-icon.png
  extensions/short-io/assets/shorten-link-with-domain-icon.png
  extensions/short-io/metadata/Metadata-1.png
  extensions/short-io/metadata/Metadata-2.png
  extensions/short-io/metadata/Metadata-3.png
  extensions/short-io/package-lock.json
  extensions/short-io/package.json
  extensions/short-io/src/components/action-go-short-io.tsx
  extensions/short-io/src/components/action-open-preferences.tsx
  extensions/short-io/src/components/list-empty-view.tsx
  extensions/short-io/src/edit-link.tsx
  extensions/short-io/src/hooks/hooks.ts
  extensions/short-io/src/search-links.tsx
  extensions/short-io/src/shorten-link-with-domain.tsx
  extensions/short-io/src/shorten-link.tsx
  extensions/short-io/src/types/preferences.ts
  extensions/short-io/src/types/types.ts
  extensions/short-io/src/utils/axios-utils.ts
  extensions/short-io/src/utils/common-utils.ts
  extensions/short-io/src/utils/constants.ts
  extensions/short-io/src/utils/input-item.ts
  extensions/short-io/tsconfig.json
Labels: new extension

#2110 [Color Casket] Fixed broken copy labels, ability to remove default favourite colors
  extensions/color-casket/package-lock.json
  extensions/color-casket/src/colors/Color.ts
  extensions/color-casket/src/colors/HEXColor.ts
  extensions/color-casket/src/colors/HSLColor.ts
  extensions/color-casket/src/colors/KeywordColor.ts
  extensions/color-casket/src/colors/RGBColor.ts
  extensions/color-casket/src/hooks/useColorStorage.ts
  extensions/color-casket/src/hooks/useFavorites.ts
Labels: extension fix / improvement, OP is author

#2142 [Google Drive] Add QuickLook preview support
  extensions/google-drive/CHANGELOG.md
  extensions/google-drive/package-lock.json
  extensions/google-drive/package.json
  extensions/google-drive/src/index.tsx
Labels: extension fix / improvement, OP is author

#2141 [shell] improve applescript for iTerm
  extensions/shell/CHANGELOG.md
  extensions/shell/src/index.tsx
Labels: extension fix / improvement

#2105 Add Wi-Fi extension
  extensions/wi-fi/.eslintrc.json
  extensions/wi-fi/.gitignore
  extensions/wi-fi/.prettierrc
  extensions/wi-fi/CHANGELOG.md
  extensions/wi-fi/README.md
  extensions/wi-fi/assets/empty-icon.svg
  extensions/wi-fi/assets/extension-icon.png
  extensions/wi-fi/assets/password.svg
  extensions/wi-fi/assets/wifi-icon.svg
  extensions/wi-fi/metadata/Metadata-1.png
  extensions/wi-fi/metadata/Metadata-2.png
  extensions/wi-fi/package-lock.json
  extensions/wi-fi/package.json
  extensions/wi-fi/src/components/empty-view.tsx
  extensions/wi-fi/src/components/primary-actions.tsx
  extensions/wi-fi/src/enter-password.tsx
  extensions/wi-fi/src/hooks/hooks.ts
  extensions/wi-fi/src/scan-wifi.tsx
  extensions/wi-fi/src/types/types.ts
  extensions/wi-fi/src/utils/common-utils.ts
  extensions/wi-fi/src/utils/constants.ts
  extensions/wi-fi/tsconfig.json
Labels: new extension

#2146 Fix the bug of Wifi duplication
  extensions/wi-fi/CHANGELOG.md
  extensions/wi-fi/README.md
  extensions/wi-fi/src/hooks/hooks.ts
  extensions/wi-fi/src/utils/common-utils.ts
Labels: extension fix / improvement, OP is author

#2149 Update Common Directory extension
  extensions/common-directory/CHANGELOG.md
  extensions/common-directory/package-lock.json
  extensions/common-directory/package.json
  extensions/common-directory/src/add-common-directory.tsx
Labels: extension fix / improvement, OP is author

#2148 Update Quick Access extension
  extensions/quick-access/CHANGELOG.md
  extensions/quick-access/package-lock.json
  extensions/quick-access/package.json
  extensions/quick-access/src/components/action-on-files.tsx
  extensions/quick-access/src/components/folder-page.tsx
  extensions/quick-access/src/search-pinned-directories.tsx
Labels: extension fix / improvement, OP is author

#2147 Update jsonhero extension: add TTL setting
  extensions/open-in-json-hero/CHANGELOG.md
  extensions/open-in-json-hero/package.json
  extensions/open-in-json-hero/src/index.ts
Labels: extension fix / improvement

#2067 [Qbitorrent] update add torrents & torrent actions feature
  extensions/qbittorrent/CHANGELOG.md
  extensions/qbittorrent/README.md
  extensions/qbittorrent/package.json
  extensions/qbittorrent/src/add-torrents.tsx
  extensions/qbittorrent/src/torrents.tsx
Labels: extension fix / improvement, OP is author

#2055 🐛 fix: Update conventional commit format to add space after emoji
  extensions/conventional-comments/src/utils/formatDescription.ts
Labels: extension fix / improvement, status: awaiting response from dev
