Repository raycast/extensions, pull requests merged in 2022-11, with the labels that each got.

#3367 Home Assistant: Add Grid Support for Cameras
  extensions/homeassistant/CHANGELOG.md
  extensions/homeassistant/assets/googlemaps.png
  extensions/homeassistant/assets/home.svg
  extensions/homeassistant/assets/lan-connect.svg
  extensions/homeassistant/assets/lan-disconnect.svg
  extensions/homeassistant/package-lock.json
  extensions/homeassistant/package.json
  extensions/homeassistant/src/cameras.tsx
  extensions/homeassistant/src/components/attributes.tsx
  extensions/homeassistant/src/components/attributes_all.tsx
  extensions/homeassistant/src/components/cameras.tsx
  extensions/homeassistant/src/components/doors.tsx
  extensions/homeassistant/src/components/entity.tsx
  extensions/homeassistant/src/components/motions.tsx
  extensions/homeassistant/src/components/persons.tsx
  extensions/homeassistant/src/components/states.tsx
  extensions/homeassistant/src/components/updates.tsx
  extensions/homeassistant/src/components/windows.tsx
  extensions/homeassistant/src/components/zones.tsx
  extensions/homeassistant/src/doors.tsx
  extensions/homeassistant/src/hooks.tsx
  extensions/homeassistant/src/motions.tsx
  extensions/homeassistant/src/updates.tsx
  extensions/homeassistant/src/utils.ts
  extensions/homeassistant/src/windows.tsx
  extensions/homeassistant/src/zones.tsx
Labels: extension fix / improvement, OP is author

#3369 [Fix Bug] Update Extension: Easy New File
  extensions/easy-new-file/CHANGELOG.md
  extensions/easy-new-file/assets/file-icons/rtf.png
  extensions/easy-new-file/metadata/easy-new-file-1.png
  extensions/easy-new-file/package-lock.json
  extensions/easy-new-file/package.json
  extensions/easy-new-file/src/new-file-here.tsx
  extensions/easy-new-file/src/utils/constants.ts
Labels: extension fix / improvement, OP is author

#3360 Color Casket: Addition for PR #3333: Make Picker command a no-view command
  extensions/color-casket/CHANGELOG.md
  extensions/color-casket/src/components/ColorPickers.tsx
  extensions/color-casket/src/picker.tsx
  extensions/color-casket/src/utilities.ts
Labels: extension fix / improvement, OP is author, OP is contributor

#3374 Youtube: Fix wrong IINA app id
  extensions/youtube/CHANGELOG.md
  extensions/youtube/package-lock.json
  extensions/youtube/package.json
  extensions/youtube/src/components/recent_channels.tsx
  extensions/youtube/src/components/recent_videos.tsx
  extensions/youtube/src/components/search.tsx
  extensions/youtube/src/components/video.tsx
  extensions/youtube/src/lib/youtubeapi.ts
Labels: extension fix / improvement, OP is author

#3373 Home Assistant: Add video stream player actions
  extensions/homeassistant/CHANGELOG.md
  extensions/homeassistant/src/components/cameras.tsx
  extensions/homeassistant/src/components/states.tsx
Labels: extension fix / improvement, OP is author

#3372 Updated timers menubars refresh rate
  extensions/timers/CHANGELOG.md
  extensions/timers/package.json
Labels: extension fix / improvement, status: awaiting response from dev, OP is contributor

#3361 New Extension: Static Marks - Bookmark Search
  extensions/static-marks-bookmarks/.eslintrc.json
  extensions/static-marks-bookmarks/.prettierrc
  extensions/static-marks-bookmarks/CHANGELOG.md
  extensions/static-marks-bookmarks/README.md
  extensions/static-marks-bookmarks/assets/command-icon.png
  extensions/static-marks-bookmarks/metadata/static-marks-1.png
  extensions/static-marks-bookmarks/metadata/static-marks-2.png
  extensions/static-marks-bookmarks/metadata/static-marks-3.png
  extensions/static-marks-bookmarks/package-lock.json
  extensions/static-marks-bookmarks/package.json
  extensions/static-marks-bookmarks/src/index.tsx
  extensions/static-marks-bookmarks/tsconfig.json
Labels: new extension

#3255 Markdown Blog Manager 1.0
  extensions/markdown-blog-manager/.editorconfig
  extensions/markdown-blog-manager/.eslintrc.json
  extensions/markdown-blog-manager/.gitignore
  extensions/markdown-blog-manager/.prettierrc
  extensions/markdown-blog-manager/CHANGELOG.md
  extensions/markdown-blog-manager/README.md
  extensions/markdown-blog-manager/assets/mark-plus.png
  extensions/markdown-blog-manager/assets/mark.png
  extensions/markdown-blog-manager/metadata/markdown-blog-1.png
  extensions/markdown-blog-manager/metadata/markdown-blog-2.png
  extensions/markdown-blog-manager/metadata/markdown-blog-3.png
  extensions/markdown-blog-manager/metadata/markdown-blog-4.png
  extensions/markdown-blog-manager/package-lock.json
  extensions/markdown-blog-manager/package.json
  extensions/markdown-blog-manager/src/manage-posts.tsx
  extensions/markdown-blog-manager/src/new-post.tsx
  extensions/markdown-blog-manager/src/utils/blog.ts
  extensions/markdown-blog-manager/src/utils/preferences.tsx
  extensions/markdown-blog-manager/src/utils/templates.ts
  extensions/markdown-blog-manager/src/utils/utils.ts
  extensions/markdown-blog-manager/tsconfig.json
Labels: new extension, status: awaiting response from dev

#3375 [Easydict v2.6.2] 🐞 Fix unexpected error when DeepL translation quota is exceeded
  extensions/easydict/README.md
  extensions/easydict/package-lock.json
  extensions/easydict/package.json
  extensions/easydict/src/language/consts.ts
  extensions/easydict/src/releaseVersion/releaseNote.ts
  extensions/easydict/src/releaseVersion/releaseNotePage.tsx
  extensions/easydict/src/releaseVersion/versionInfo.ts
  extensions/easydict/src/translation/deepL.ts
Labels: extension fix / improvement, OP is author

#3378 [Folder Search: New Feature] order-by-last-used
  extensions/folder-search/CHANGELOG.md
  extensions/folder-search/src/search-spotlight.tsx
  extensions/folder-search/src/search.tsx
  extensions/folder-search/src/types.tsx
  extensions/folder-search/src/utils.tsx
Labels: extension fix / improvement, OP is author

#3384 [Word Count] Include whitespace in word count by default
  extensions/word-count/CHANGELOG.md
  extensions/word-count/src/count.tsx
Labels: extension fix / improvement, OP is author

#3377 [QQ Music Controls] fix keywork in script text
  extensions/qq-music-controls/CHANGELOG.md
  extensions/qq-music-controls/src/likeTrack.ts
Labels: extension fix / improvement

#2434 ✨ feat(wakatime): new features and fixes
  extensions/wakatime/CHANGELOG.md
  extensions/wakatime/package-lock.json
  extensions/wakatime/package.json
  extensions/wakatime/src/components/Leaderboard.tsx
  extensions/wakatime/src/components/Summary.tsx
  extensions/wakatime/src/components/index.ts
  extensions/wakatime/src/hooks/base.ts
  extensions/wakatime/src/hooks/use-activity-change.ts
  extensions/wakatime/src/hooks/use-leaderboard.ts
  extensions/wakatime/src/hooks/use-private-leaderboards.ts
  extensions/wakatime/src/hooks/use-projects.ts
  extensions/wakatime/src/hooks/use-summary.ts
  extensions/wakatime/src/hooks/use-today-summary.ts
  extensions/wakatime/src/hooks/use-user.ts
  extensions/wakatime/src/leaderboard.tsx
  extensions/wakatime/src/private-leaderboards.tsx
  extensions/wakatime/src/summary.tsx
  extensions/wakatime/src/today-summary.tsx
  extensions/wakatime/src/types.ts
  extensions/wakatime/src/utils/api.ts
  extensions/wakatime/src/utils/index.ts
Labels: extension fix / improvement, status: awaiting response from dev, OP is author

#3389 [Xecutor: Improvement] alpha sort presets in main view
  extensions/xecutor/CHANGELOG.md
  extensions/xecutor/src/presets.tsx
Labels: extension fix / improvement, OP is author

#3392 Fix in some scenarios Anybox extension can’t connect to the app
  extensions/anybox/CHANGELOG.md
  extensions/anybox/src/components/AnydockItem.tsx
  extensions/anybox/src/components/CollectionItem.tsx
  extensions/anybox/src/components/LinkItem.tsx
  extensions/anybox/src/showList.tsx
  extensions/anybox/src/utilities/fetch.tsx
  extensions/anybox/src/utilities/searchRequest.tsx
Labels: extension fix / improvement, OP is author

#3388 [Recents: Fixes & Improvements] improved queries, tidied up UI, fixed bugs and added pref for folder exclusion
  extensions/recents/CHANGELOG.md
  extensions/recents/package.json
  extensions/recents/src/recents.tsx
  extensions/recents/src/types.tsx
Labels: extension fix / improvement, OP is author

#3376 ✨ New Extension: Jira2Git
  extensions/jira2git/.eslintrc.json
  extensions/jira2git/.gitignore
  extensions/jira2git/.prettierrc
  extensions/jira2git/CHANGELOG.md
  extensions/jira2git/LICENSE
  extensions/jira2git/README.md
  extensions/jira2git/assets/Jira2Git.gif
  extensions/jira2git/assets/Jira2Git.png
  extensions/jira2git/package-lock.json
  extensions/jira2git/package.json
  extensions/jira2git/src/transform.tsx
  extensions/jira2git/src/utils/exception.ts
  extensions/jira2git/src/utils/jira.ts
  extensions/jira2git/tsconfig.json
Labels: new extension

#3396 [Linear]: implement `launchCommand` to sync notifications
  extensions/linear/package-lock.json
  extensions/linear/package.json
  extensions/linear/src/helpers/notifications.ts
  extensions/linear/src/notifications.tsx
  extensions/linear/src/unread-notifications.tsx
Labels: extension fix / improvement

#3393 delete dd the right way
  extensions/xcode/CHANGELOG.md
  extensions/xcode/package-lock.json
  extensions/xcode/package.json
  extensions/xcode/src/services/xcode-cleanup.service.ts
Labels: extension fix / improvement, status: awaiting response from dev

#3391 bitwarden: Copy passwords with concealed type
  extensions/bitwarden/CHANGELOG.md
  extensions/bitwarden/src/clipboard.ts
  extensions/bitwarden/src/components.tsx
  extensions/bitwarden/src/search.tsx
  extensions/bitwarden/src/utils.ts
Labels: extension fix / improvement

#2124 New Extension: Roll D20
  extensions/roll-d20/.eslintrc.json
  extensions/roll-d20/.prettierrc
  extensions/roll-d20/CHANGELOG.md
  extensions/roll-d20/README.md
  extensions/roll-d20/assets/command-icon.png
  extensions/roll-d20/package-lock.json
  extensions/roll-d20/package.json
  extensions/roll-d20/src/index.tsx
  extensions/roll-d20/tsconfig.json
Labels: new extension

#3408 Add copy Font Awesome slug action to Search Font Awesome Icons
  extensions/fontawesome/CHANGELOG.md
  extensions/fontawesome/src/index.tsx
Labels: extension fix / improvement, OP is author

#3434 [Xcode] Add "Open Developer Documentation" command & Maintenance Updates
  extensions/xcode/CHANGELOG.md
  extensions/xcode/package-lock.json
  extensions/xcode/package.json
  extensions/xcode/src/add-swift-package.command.tsx
  extensions/xcode/src/components/apple-developer-documentation-list/apple-developer-documentation-list-item-detail.component.tsx
  extensions/xcode/src/components/apple-developer-documentation-list/apple-developer-documentation-list-item.component.tsx
  extensions/xcode/src/components/apple-developer-documentation-list/apple-developer-documentation-list-search-bar-accessory.component.tsx
  extensions/xcode/src/components/apple-developer-documentation-list/apple-developer-documentation-list.component.tsx
  extensions/xcode/src/components/swift-package-index-list/swift-package-index-list-item.component.tsx
  extensions/xcode/src/components/swift-package-index-list/swift-package-index-list.component.tsx
  extensions/xcode/src/components/xcode-add-swift-package/xcode-add-swift-package-form.component.tsx
  extensions/xcode/src/components/xcode-add-swift-package/xcode-add-swift-package.component.tsx
  extensions/xcode/src/components/xcode-create-swift-package/xcode-create-swift-package-form.component.tsx
  extensions/xcode/src/components/xcode-create-swift-playground/xcode-create-swift-playground-form.component.tsx
  extensions/xcode/src/components/xcode-installation-verifier/xcode-installation-verifier.component.tsx
  extensions/xcode/src/components/xcode-project-list/xcode-project-list-item.component.tsx
  extensions/xcode/src/components/xcode-project-list/xcode-project-list-search-bar-accessory.component.tsx
  extensions/xcode/src/components/xcode-project-list/xcode-project-list.component.tsx
  extensions/xcode/src/components/xcode-projects-menu-bar/xcode-projects-menu-bar-item.component.tsx
  extensions/xcode/src/components/xcode-projects-menu-bar/xcode-projects-menu-bar.component.tsx
  extensions/xcode/src/components/xcode-release-list/xcode-release-list-item-detail.component.tsx
  extensions/xcode/src/components/xcode-release-list/xcode-release-list-item.component.tsx
  extensions/xcode/src/components/xcode-release-list/xcode-release-list.component.tsx
  extensions/xcode/src/components/xcode-simulator-application-list/xcode-simulator-application-list-item-detail.component.tsx
  extensions/xcode/src/components/xcode-simulator-application-list/xcode-simulator-application-list-item.component.tsx
  extensions/xcode/src/components/xcode-simulator-application-list/xcode-simulator-application-list.component.tsx
  extensions/xcode/src/components/xcode-simulator-list/xcode-simulator-list-item.component.tsx
  extensions/xcode/src/components/xcode-simulator-list/xcode-simulator-list.component.tsx
  extensions/xcode/src/components/xcode-view-swift-package-resolved/xcode-swift-package-resolved-entry-list-item.component.tsx
  extensions/xcode/src/components/xcode-view-swift-package-resolved/xcode-swift-package-resolved-entry-list.component.tsx
  extensions/xcode/src/components/xcode-view-swift-package-resolved/xcode-view-swift-package-resolved.component.tsx
  extensions/xcode/src/create-swift-package.command.tsx
  extensions/xcode/src/create-swift-playground.command.tsx
  extensions/xcode/src/manage-simulators.command.tsx
  extensions/xcode/src/models/apple-developer-documentation/apple-developer-documentation-entry-type.model.ts
  extensions/xcode/src/models/apple-developer-documentation/apple-developer-documentation-entry.model.ts
  extensions/xcode/src/models/xcode-release/xcode-release.model.ts
  extensions/xcode/src/models/xcode-simulator/xcode-simulator-application.model.ts
  extensions/xcode/src/open-developer-documentation.command.tsx
  extensions/xcode/src/search-developer-documentation.command.tsx
  extensions/xcode/src/search-recent-builds.command.tsx
  extensions/xcode/src/search-recent-projects.command.tsx
  extensions/xcode/src/search-swift-package-index.command.tsx
  extensions/xcode/src/search-xcode-releases.command.tsx
  extensions/xcode/src/services/apple-developer-documentation.service.ts
  extensions/xcode/src/services/xcode-project.service.ts
  extensions/xcode/src/services/xcode-simulator-application.service.ts
  extensions/xcode/src/services/xcode-simulator.service.ts
  extensions/xcode/src/services/xcode.service.ts
  extensions/xcode/src/shared/apple-developer-documentation-entry-type-icon.ts
  extensions/xcode/src/shared/apple-developer-documentation-entry-type-name.ts
  extensions/xcode/src/show-recent-projects-in-menu-bar.command.tsx
  extensions/xcode/src/show-swift-package-dependencies.command.tsx
Labels: extension fix / improvement, OP is author

#3424 Add Pixabay
  extensions/pixabay/.eslintrc.json
  extensions/pixabay/.gitignore
  extensions/pixabay/.prettierrc
  extensions/pixabay/CHANGELOG.md
  extensions/pixabay/README.md
  extensions/pixabay/assets/pixabay.png
  extensions/pixabay/metadata/pixabay-1.png
  extensions/pixabay/metadata/pixabay-2.png
  extensions/pixabay/metadata/pixabay-3.png
  extensions/pixabay/package-lock.json
  extensions/pixabay/package.json
  extensions/pixabay/src/lib/api.ts
  extensions/pixabay/src/lib/cache.ts
  extensions/pixabay/src/lib/hooks.tsx
  extensions/pixabay/src/lib/utils.ts
  extensions/pixabay/src/searchimages.tsx
  extensions/pixabay/src/searchvideos.tsx
  extensions/pixabay/tsconfig.json
Labels: new extension

#3432 [gitfox] Add support for the Gitfox v3 repo list
  extensions/gitfox/CHANGELOG.md
  extensions/gitfox/package-lock.json
  extensions/gitfox/package.json
  extensions/gitfox/src/components/bookmark-list-item.tsx
  extensions/gitfox/src/components/bookmark-list.tsx
  extensions/gitfox/src/components/open-bookmark-action.tsx
  extensions/gitfox/src/dtos/bookmark-dto.ts
  extensions/gitfox/src/interfaces/imported-gitfox-bookmark.ts
  extensions/gitfox/src/utils.ts
Labels: extension fix / improvement, OP is author

#3412 OpenAI Text Completion and DALL•E Image Generator Extension
  extensions/ai-gen/.eslintrc.json
  extensions/ai-gen/.gitignore
  extensions/ai-gen/.prettierrc
  extensions/ai-gen/CHANGELOG.md
  extensions/ai-gen/README.md
  extensions/ai-gen/assets/open-ai-app-icon.png
  extensions/ai-gen/metadata/ai-gen-1.png
  extensions/ai-gen/metadata/ai-gen-2.png
  extensions/ai-gen/metadata/ai-gen-3.png
  extensions/ai-gen/metadata/ai-gen-4.png
  extensions/ai-gen/metadata/ai-gen-5.png
  extensions/ai-gen/metadata/ai-gen-6.png
  extensions/ai-gen/package-lock.json
  extensions/ai-gen/package.json
  extensions/ai-gen/src/completeText.tsx
  extensions/ai-gen/src/components/CompleteTextForm.tsx
  extensions/ai-gen/src/components/CompletionDetails.tsx
  extensions/ai-gen/src/components/CreateImageForm.tsx
  extensions/ai-gen/src/components/ImageActions.tsx
  extensions/ai-gen/src/components/ImageDetails.tsx
  extensions/ai-gen/src/components/ImagesGrid.tsx
  extensions/ai-gen/src/createImage.tsx
  extensions/ai-gen/src/hooks/useOpenAICompletionApi.ts
  extensions/ai-gen/src/hooks/useOpenAIImageApi.ts
  extensions/ai-gen/src/lib/copyFileToClipboard.ts
  extensions/ai-gen/src/lib/downloadTempFile.ts
  extensions/ai-gen/tsconfig.json
Labels: new extension

#3443 [Fix bug]Added support for Setapp version of BetterZip
  extensions/betterzip/CHANGELOG.md
  extensions/betterzip/package-lock.json
  extensions/betterzip/package.json
  extensions/betterzip/src/utils/common-utils.ts
Labels: extension fix / improvement, OP is author

#3444 Fix advanced options not saving if show advanced unchecked
  extensions/ai-gen/CHANGELOG.md
  extensions/ai-gen/package.json
  extensions/ai-gen/src/components/CompleteTextForm.tsx
Labels: extension fix / improvement, OP is author

#3409 New extension: Holopin
  extensions/holopin/.eslintrc.json
  extensions/holopin/.gitignore
  extensions/holopin/.prettierrc
  extensions/holopin/CHANGELOG.md
  extensions/holopin/README.md
  extensions/holopin/assets/command-icon.png
  extensions/holopin/metadata/holopin-1.png
  extensions/holopin/metadata/holopin-2.png
  extensions/holopin/metadata/holopin-3.png
  extensions/holopin/package-lock.json
  extensions/holopin/package.json
  extensions/holopin/src/hooks/useHolopinAPI.ts
  extensions/holopin/src/showBoard.tsx
  extensions/holopin/src/showDetail.tsx
  extensions/holopin/src/showStickers.tsx
  extensions/holopin/src/types.d.ts
  extensions/holopin/tsconfig.json
Labels: new extension

#2092 Add Regex REPL extension
  extensions/regex-repl/.eslintrc.json
  extensions/regex-repl/.gitignore
  extensions/regex-repl/.prettierrc
  extensions/regex-repl/CHANGELOG.md
  extensions/regex-repl/LICENSE
  extensions/regex-repl/README.md
  extensions/regex-repl/assets/command-icon.png
  extensions/regex-repl/metadata/regex-repl-1.png
  extensions/regex-repl/metadata/regex-repl-2.png
  extensions/regex-repl/package-lock.json
  extensions/regex-repl/package.json
  extensions/regex-repl/src/create-and-test-regex.tsx
  extensions/regex-repl/src/utils/find-and-process-matches.ts
  extensions/regex-repl/tsconfig.json
Labels: new extension

#3108 [New Extension]: Airsy
  extensions/airsy/.eslintrc.json
  extensions/airsy/.prettierrc
  extensions/airsy/CHANGELOG.md
  extensions/airsy/README.md
  extensions/airsy/assets/logo.png
  extensions/airsy/package-lock.json
  extensions/airsy/package.json
  extensions/airsy/src/city.tsx
  extensions/airsy/src/components/IndexDetails.tsx
  extensions/airsy/src/components/StationDetails.tsx
  extensions/airsy/src/helpers/translateAndColor.ts
  extensions/airsy/src/index.tsx
  extensions/airsy/src/services/GIOS.ts
  extensions/airsy/src/types.tsx
  extensions/airsy/tsconfig.json
Labels: new extension

#3380 [Bob]: New extension for Bob
  extensions/bob/.eslintignore
  extensions/bob/.eslintrc.json
  extensions/bob/.prettierrc
  extensions/bob/CHANGELOG.md
  extensions/bob/README.md
  extensions/bob/assets/icon.png
  extensions/bob/package-lock.json
  extensions/bob/package.json
  extensions/bob/screenshot-01.png
  extensions/bob/src/checkInstall.ts
  extensions/bob/src/inputText.tsx
  extensions/bob/src/transClipboard.tsx
  extensions/bob/src/utils.ts
  extensions/bob/tsconfig.json
Labels: new extension

#3447 New Smultron File with Selection
  extensions/smultron/.eslintrc.json
  extensions/smultron/.gitignore
  extensions/smultron/.prettierrc
  extensions/smultron/CHANGELOG.md
  extensions/smultron/README.md
  extensions/smultron/assets/command-icon.png
  extensions/smultron/package-lock.json
  extensions/smultron/package.json
  extensions/smultron/src/index.ts
  extensions/smultron/tsconfig.json
Labels: new extension

#3454 feat: adding hanfi school calculation
  extensions/adhan-time/CHANGELOG.md
  extensions/adhan-time/package.json
  extensions/adhan-time/src/adhan-search.tsx
  extensions/adhan-time/src/adhan.tsx
  extensions/adhan-time/src/prayer-types.ts
Labels: extension fix / improvement, OP is author

#3445 feat(docs/comp): support other DocSearch result and new docs
  extensions/docsearch/CHANGELOG.md
  extensions/docsearch/README.md
  extensions/docsearch/assets/logo/gitbook.png
  extensions/docsearch/assets/logo/raycast.png
  extensions/docsearch/package.json
  extensions/docsearch/src/algolia/apiData.ts
  extensions/docsearch/src/components/SearchDocumentation.tsx
  extensions/docsearch/src/gitbook.tsx
  extensions/docsearch/src/raycast.tsx
Labels: extension fix / improvement, OP is author

#3468 fix(linear): allow more labels
  extensions/linear/src/api/getLabels.ts
Labels: extension fix / improvement, OP is author

#3476 [search-npm]: Fix yarn install script
  extensions/search-npm/src/CopyInstallCommandActions.tsx
Labels: extension fix / improvement

#3475 Update check-in images for ready.app extension.
  extensions/readymetrics/CHANGELOG.md
  extensions/readymetrics/assets/book.svg
  extensions/readymetrics/assets/bullseye.svg
  extensions/readymetrics/assets/certificate.svg
  extensions/readymetrics/assets/chess-board.svg
  extensions/readymetrics/assets/clock.svg
  extensions/readymetrics/assets/compass.svg
  extensions/readymetrics/assets/face-smile.svg
  extensions/readymetrics/assets/flag-checkered.svg
  extensions/readymetrics/assets/lightbulb.svg
  extensions/readymetrics/assets/microphone-alt.svg
  extensions/readymetrics/assets/mug-hot.svg
  extensions/readymetrics/assets/pencil.svg
  extensions/readymetrics/assets/rocket.svg
  extensions/readymetrics/assets/seedling.svg
  extensions/readymetrics/assets/signs-post.svg
  extensions/readymetrics/assets/tag.svg
  extensions/readymetrics/assets/temperature-half.svg
Labels: extension fix / improvement, OP is author

#3452 axios reference extension add
  extensions/axios-docs/.eslintrc.json
  extensions/axios-docs/.prettierrc
  extensions/axios-docs/CHANGELOG.md
  extensions/axios-docs/README.md
  extensions/axios-docs/assets/command-icon.png
  extensions/axios-docs/package-lock.json
  extensions/axios-docs/package.json
  extensions/axios-docs/src/documentation/doc.ts
  extensions/axios-docs/src/index.tsx
  extensions/axios-docs/tsconfig.json
Labels: new extension

#3418 Update api and Replicate name
  extensions/replicate/CHANGELOG.md
  extensions/replicate/package-lock.json
  extensions/replicate/package.json
  extensions/replicate/src/views/GridView.tsx
  extensions/replicate/src/views/Single.tsx
Labels: extension fix / improvement, OP is author

#3455 feat: Markdown Reference: Add Strikethrough & Tables Docs
  extensions/markdown-reference/.vscode/settings.json
  extensions/markdown-reference/package.json
  extensions/markdown-reference/src/Reference.tsx
  extensions/markdown-reference/src/markdown-escape.ts
  extensions/markdown-reference/src/markdownReference.ts
Labels: extension fix / improvement, OP is author

#3483 Typefully, Update to MenuBarExtra.Section
  extensions/typefully/CHANGELOG.md
  extensions/typefully/package-lock.json
  extensions/typefully/package.json
  extensions/typefully/src/command-bar-menu.tsx
Labels: extension fix / improvement

#3486 Brew: Upgrade dependencies
  extensions/brew/CHANGELOG.md
  extensions/brew/package-lock.json
Labels: extension fix / improvement, OP is author

#3410 Add Miro extension
  extensions/miro/.eslintrc.json
  extensions/miro/.gitignore
  extensions/miro/.prettierrc
  extensions/miro/CHANGELOG.md
  extensions/miro/README.md
  extensions/miro/assets/command-icon.png
  extensions/miro/assets/miro-logo.png
  extensions/miro/metadata/screenshot-1.png
  extensions/miro/metadata/screenshot-2.png
  extensions/miro/metadata/screenshot-3.png
  extensions/miro/package-lock.json
  extensions/miro/package.json
  extensions/miro/src/change-role.tsx
  extensions/miro/src/create-board.tsx
  extensions/miro/src/helpers/index.ts
  extensions/miro/src/invite-board.tsx
  extensions/miro/src/list-boards.tsx
  extensions/miro/src/list-member.tsx
  extensions/miro/src/oauth/miro.tsx
  extensions/miro/tsconfig.json
Labels: new extension

#3509 Fix: Miro extension authorization
  extensions/miro/src/list-boards.tsx
  extensions/miro/src/list-member.tsx
Labels: extension fix / improvement, OP is author

#3503 Brew stream json
  extensions/brew/CHANGELOG.md
  extensions/brew/package-lock.json
  extensions/brew/package.json
  extensions/brew/src/components/runInTerminal.ts
  extensions/brew/src/utils.ts
Labels: extension fix / improvement, OP is author

#3421 [AWS] Improve data fetching
  extensions/amazon-aws/CHANGELOG.md
  extensions/amazon-aws/package-lock.json
  extensions/amazon-aws/package.json
  extensions/amazon-aws/src/cloudformation.tsx
  extensions/amazon-aws/src/codepipelines.tsx
  extensions/amazon-aws/src/console.tsx
  extensions/amazon-aws/src/dynamodb.tsx
  extensions/amazon-aws/src/ec2.tsx
  extensions/amazon-aws/src/ecs.tsx
  extensions/amazon-aws/src/queues.tsx
Labels: extension fix / improvement, OP is contributor

#3433 Add My Daily Log Extension
  extensions/my-daily-log/.eslintrc.json
  extensions/my-daily-log/.gitignore
  extensions/my-daily-log/.prettierrc
  extensions/my-daily-log/CHANGELOG.md
  extensions/my-daily-log/README.md
  extensions/my-daily-log/assets/command-icon.png
  extensions/my-daily-log/metadata/my-daily-log-1.png
  extensions/my-daily-log/metadata/my-daily-log-2.png
  extensions/my-daily-log/metadata/my-daily-log-3.png
  extensions/my-daily-log/metadata/my-daily-log-4.png
  extensions/my-daily-log/package-lock.json
  extensions/my-daily-log/package.json
  extensions/my-daily-log/src/createLogCommand.tsx
  extensions/my-daily-log/src/dailyLogList.tsx
  extensions/my-daily-log/src/domain/DailyLog.tsx
  extensions/my-daily-log/src/domain/LoggedDay.tsx
  extensions/my-daily-log/src/domain/createDailyLog.tsx
  extensions/my-daily-log/src/domain/dailyLogFromLogLine.tsx
  extensions/my-daily-log/src/domain/getDailyLog.tsx
  extensions/my-daily-log/src/domain/getLoggedDays.tsx
  extensions/my-daily-log/src/domain/readDailyLogs.tsx
  extensions/my-daily-log/src/loggedDaysInMonthList.tsx
  extensions/my-daily-log/src/shared/capitalize.tsx
  extensions/my-daily-log/src/shared/dailyLogDateForFileName.tsx
  extensions/my-daily-log/src/shared/formatArgumentDate.tsx
  extensions/my-daily-log/src/shared/formatDateToReadable.tsx
  extensions/my-daily-log/src/shared/getDailyLogPath.tsx
  extensions/my-daily-log/tsconfig.json
Labels: new extension

#3513 [css-calculations]: delete unnecessary volta from package.json
  extensions/css-calculations/CHANGELOG.md
  extensions/css-calculations/package.json
Labels: extension fix / improvement, OP is author

#3505 Home Assistant: Add timestamps and HACS
  extensions/homeassistant/CHANGELOG.md
  extensions/homeassistant/assets/hacs.svg
  extensions/homeassistant/package-lock.json
  extensions/homeassistant/package.json
  extensions/homeassistant/src/components/attributes.tsx
  extensions/homeassistant/src/components/states.tsx
  extensions/homeassistant/src/components/updates.tsx
  extensions/homeassistant/src/utils.ts
  extensions/homeassistant/tsconfig.json
Labels: extension fix / improvement, OP is author

#3457 Add of Associated Press extension
  extensions/associated-press/.eslintrc.json
  extensions/associated-press/.gitignore
  extensions/associated-press/.prettierrc
  extensions/associated-press/CHANGELOG.md
  extensions/associated-press/README.md
  extensions/associated-press/assets/command-icon.png
  extensions/associated-press/metadata/1.png
  extensions/associated-press/metadata/2.png
  extensions/associated-press/metadata/3.png
  extensions/associated-press/package-lock.json
  extensions/associated-press/package.json
  extensions/associated-press/src/NewsItem.tsx
  extensions/associated-press/src/NewsList.tsx
  extensions/associated-press/src/api.ts
  extensions/associated-press/src/categories.ts
  extensions/associated-press/src/index.tsx
  extensions/associated-press/src/utils.ts
  extensions/associated-press/tsconfig.json
Labels: new extension

#3521 Updating icon on My Daily Log
  extensions/my-daily-log/assets/command-icon.png
Labels: extension fix / improvement, OP is author

#3474 Soundboard extension
  extensions/soundboard/.DS_Store
  extensions/soundboard/.eslintrc.json
  extensions/soundboard/.gitignore
  extensions/soundboard/.prettierrc
  extensions/soundboard/CHANGELOG.md
  extensions/soundboard/README.md
  extensions/soundboard/assets/command-icon.png
  extensions/soundboard/assets/no-view.png
  extensions/soundboard/metadata/soundboard-1.png
  extensions/soundboard/metadata/soundboard-2.png
  extensions/soundboard/metadata/soundboard-3.png
  extensions/soundboard/package-lock.json
  extensions/soundboard/package.json
  extensions/soundboard/src/favorite1.tsx
  extensions/soundboard/src/favorite10.tsx
  extensions/soundboard/src/favorite2.tsx
  extensions/soundboard/src/favorite3.tsx
  extensions/soundboard/src/favorite4.tsx
  extensions/soundboard/src/favorite5.tsx
  extensions/soundboard/src/favorite6.tsx
  extensions/soundboard/src/favorite7.tsx
  extensions/soundboard/src/favorite8.tsx
  extensions/soundboard/src/favorite9.tsx
  extensions/soundboard/src/index.tsx
  extensions/soundboard/src/soundform.tsx
  extensions/soundboard/src/storage.ts
  extensions/soundboard/src/types.ts
  extensions/soundboard/src/utils.ts
  extensions/soundboard/tsconfig.json
Labels: new extension

#3508 added LateX Math Symbols extension
  extensions/latex-math-symbols/.eslintrc.json
  extensions/latex-math-symbols/.prettierrc
  extensions/latex-math-symbols/CHANGELOG.md
  extensions/latex-math-symbols/README.md
  extensions/latex-math-symbols/assets/icon.png
  extensions/latex-math-symbols/package-lock.json
  extensions/latex-math-symbols/package.json
  extensions/latex-math-symbols/src/commands.ts
  extensions/latex-math-symbols/src/index.tsx
  extensions/latex-math-symbols/tsconfig.json
Labels: new extension

#3512 Create Lodash extension
  extensions/lodash/.eslintrc.json
  extensions/lodash/.gitignore
  extensions/lodash/.prettierrc
  extensions/lodash/CHANGELOG.md
  extensions/lodash/README.md
  extensions/lodash/assets/command-icon.png
  extensions/lodash/index.js
  extensions/lodash/metadata/lodash-1.png
  extensions/lodash/metadata/lodash-2.png
  extensions/lodash/package-lock.json
  extensions/lodash/package.json
  extensions/lodash/src/index.tsx
  extensions/lodash/src/lodash.json
  extensions/lodash/tsconfig.json
Labels: new extension

#3477 Spotify fix
  extensions/spotify-player/CHANGELOG.md
  extensions/spotify-player/src/spotify/client.ts
  extensions/spotify-player/src/spotify/util.ts
Labels: extension fix / improvement, OP is contributor

#3459 Add Scaleway extension
  extensions/scaleway/.eslintrc.json
  extensions/scaleway/.prettierrc
  extensions/scaleway/CHANGELOG.md
  extensions/scaleway/README.md
  extensions/scaleway/assets/flags/fr.svg
  extensions/scaleway/assets/flags/nl.svg
  extensions/scaleway/assets/flags/pl.svg
  extensions/scaleway/assets/icons/containers.png
  extensions/scaleway/assets/icons/databases.png
  extensions/scaleway/assets/icons/instances.png
  extensions/scaleway/assets/icons/redis.png
  extensions/scaleway/assets/scaleway.png
  extensions/scaleway/media/configure-extension.png
  extensions/scaleway/metadata/1-containers.png
  extensions/scaleway/metadata/2-container-logs.png
  extensions/scaleway/metadata/3-instances.png
  extensions/scaleway/metadata/4-databases.png
  extensions/scaleway/metadata/5-redis.png
  extensions/scaleway/package-lock.json
  extensions/scaleway/package.json
  extensions/scaleway/src/containers.tsx
  extensions/scaleway/src/containers/container-details.tsx
  extensions/scaleway/src/containers/container-logs.tsx
  extensions/scaleway/src/databases.tsx
  extensions/scaleway/src/databases/database-details.tsx
  extensions/scaleway/src/instances.tsx
  extensions/scaleway/src/instances/instance-actions.ts
  extensions/scaleway/src/instances/instance-details.tsx
  extensions/scaleway/src/redis.tsx
  extensions/scaleway/src/redis/redis-details.tsx
  extensions/scaleway/src/scaleway/api.ts
  extensions/scaleway/src/scaleway/containers-api.ts
  extensions/scaleway/src/scaleway/databases-api.ts
  extensions/scaleway/src/scaleway/fake-data/fake-containers.ts
  extensions/scaleway/src/scaleway/fake-data/fake-databases.ts
  extensions/scaleway/src/scaleway/fake-data/fake-instances.ts
  extensions/scaleway/src/scaleway/fake-data/fake-redis.ts
  extensions/scaleway/src/scaleway/instances-api.ts
  extensions/scaleway/src/scaleway/redis-api.ts
  extensions/scaleway/src/scaleway/types.ts
  extensions/scaleway/src/utils.ts
  extensions/scaleway/tsconfig.json
Labels: new extension

#3532 Work time countdown
  extensions/work-time-countdown/.eslintrc.json
  extensions/work-time-countdown/.prettierrc
  extensions/work-time-countdown/CHANGELOG.md
  extensions/work-time-countdown/README.md
  extensions/work-time-countdown/assets/icon.png
  extensions/work-time-countdown/package-lock.json
  extensions/work-time-countdown/package.json
  extensions/work-time-countdown/src/index.tsx
  extensions/work-time-countdown/tsconfig.json
Labels: new extension

#3536 Brew fixes
  extensions/brew/src/brew.ts
  extensions/brew/src/utils.ts
Labels: extension fix / improvement, OP is author

#3441 added defichain lottery extension
  extensions/defichain-lottery/.eslintrc.json
  extensions/defichain-lottery/.gitignore
  extensions/defichain-lottery/.prettierrc
  extensions/defichain-lottery/CHANGELOG.md
  extensions/defichain-lottery/README.md
  extensions/defichain-lottery/assets/defichain-lottery-banner.jpg
  extensions/defichain-lottery/assets/defichain-lottery-icon.png
  extensions/defichain-lottery/assets/no-view.png
  extensions/defichain-lottery/metadata/defichain-lottery-1.png
  extensions/defichain-lottery/metadata/defichain-lottery-2.png
  extensions/defichain-lottery/metadata/defichain-lottery-3.png
  extensions/defichain-lottery/metadata/defichain-lottery-4.png
  extensions/defichain-lottery/package-lock.json
  extensions/defichain-lottery/package.json
  extensions/defichain-lottery/src/add-address.tsx
  extensions/defichain-lottery/src/api/index.tsx
  extensions/defichain-lottery/src/enum/index.tsx
  extensions/defichain-lottery/src/remove-address.tsx
  extensions/defichain-lottery/src/service/addresses.tsx
  extensions/defichain-lottery/src/service/numbers.tsx
  extensions/defichain-lottery/src/service/qrcode.tsx
  extensions/defichain-lottery/src/service/tickets.tsx
  extensions/defichain-lottery/src/stats.tsx
  extensions/defichain-lottery/src/tickets.tsx
  extensions/defichain-lottery/src/types/stats.tsx
  extensions/defichain-lottery/src/types/winner_result.tsx
  extensions/defichain-lottery/tsconfig.json
  extensions/defichain-lottery/vscode-profile-2022-11-07-19-14-00.heapsnapshot
Labels: new extension, status: awaiting response from dev

#3462 Add Cheetah extension
  extensions/cheetah/.eslintrc.json
  extensions/cheetah/.gitignore
  extensions/cheetah/CHANGELOG.md
  extensions/cheetah/README.md
  extensions/cheetah/assets/command/app.png
  extensions/cheetah/assets/command/clearCache.png
  extensions/cheetah/assets/command/editCache.png
  extensions/cheetah/assets/command/editor.png
  extensions/cheetah/assets/command/finder.png
  extensions/cheetah/assets/command/git.png
  extensions/cheetah/assets/command/terminal.png
  extensions/cheetah/assets/empty.png
  extensions/cheetah/assets/logo.png
  extensions/cheetah/assets/refresh.png
  extensions/cheetah/assets/type/android.png
  extensions/cheetah/assets/type/applescript.png
  extensions/cheetah/assets/type/dart.png
  extensions/cheetah/assets/type/hexo.png
  extensions/cheetah/assets/type/javascript.png
  extensions/cheetah/assets/type/nuxt.png
  extensions/cheetah/assets/type/react.png
  extensions/cheetah/assets/type/react_ts.png
  extensions/cheetah/assets/type/rust.png
  extensions/cheetah/assets/type/typescript.png
  extensions/cheetah/assets/type/unknown.png
  extensions/cheetah/assets/type/vscode.png
  extensions/cheetah/assets/type/vue.png
  extensions/cheetah/metadata/cheetah-1.png
  extensions/cheetah/metadata/cheetah-2.png
  extensions/cheetah/metadata/cheetah-3.png
  extensions/cheetah/package-lock.json
  extensions/cheetah/package.json
  extensions/cheetah/src/chooseApp.tsx
  extensions/cheetah/src/clearCache.ts
  extensions/cheetah/src/editCache.ts
  extensions/cheetah/src/editor.tsx
  extensions/cheetah/src/finder.tsx
  extensions/cheetah/src/git.tsx
  extensions/cheetah/src/lib/components/actions.tsx
  extensions/cheetah/src/lib/components/applicationList.tsx
  extensions/cheetah/src/lib/components/searchList.tsx
  extensions/cheetah/src/lib/components/searchListItem.tsx
  extensions/cheetah/src/lib/constant.ts
  extensions/cheetah/src/lib/core.ts
  extensions/cheetah/src/lib/effects/useGetApplicationList.ts
  extensions/cheetah/src/lib/effects/useInitCore.ts
  extensions/cheetah/src/lib/effects/useProjectFilter.ts
  extensions/cheetah/src/lib/types.ts
  extensions/cheetah/src/lib/utils.ts
  extensions/cheetah/src/terminal.tsx
  extensions/cheetah/tsconfig.json
Labels: new extension

#3541 Improve brew caching
  extensions/brew/package-lock.json
  extensions/brew/package.json
  extensions/brew/src/brew.ts
  extensions/brew/src/components/filter.tsx
  extensions/brew/src/components/formulaInfo.tsx
  extensions/brew/src/components/list.tsx
  extensions/brew/src/installed.tsx
  extensions/brew/src/outdated.tsx
  extensions/brew/src/search.tsx
  extensions/brew/src/utils.ts
Labels: extension fix / improvement, OP is author

#3525 [AWS] Add Lambda Command
  extensions/amazon-aws/CHANGELOG.md
  extensions/amazon-aws/assets/dynamodb-icon.png
  extensions/amazon-aws/assets/lambda-icon.png
  extensions/amazon-aws/assets/runtimes/dotnet.png
  extensions/amazon-aws/assets/runtimes/go.png
  extensions/amazon-aws/assets/runtimes/java.png
  extensions/amazon-aws/assets/runtimes/nodejs.png
  extensions/amazon-aws/assets/runtimes/python.png
  extensions/amazon-aws/assets/runtimes/ruby.png
  extensions/amazon-aws/package.json
  extensions/amazon-aws/src/cloudformation.tsx
  extensions/amazon-aws/src/codepipelines.tsx
  extensions/amazon-aws/src/dynamodb.tsx
  extensions/amazon-aws/src/ec2.tsx
  extensions/amazon-aws/src/ecs.tsx
  extensions/amazon-aws/src/lambda.tsx
  extensions/amazon-aws/src/queues.tsx
  extensions/amazon-aws/src/types.ts
  extensions/amazon-aws/src/util/setupAws.ts
Labels: extension fix / improvement, OP is contributor

#3530 Static Marks improvements
  extensions/static-marks-bookmarks/CHANGELOG.md
  extensions/static-marks-bookmarks/README.md
  extensions/static-marks-bookmarks/metadata/static-marks-1.png
  extensions/static-marks-bookmarks/metadata/static-marks-2.png
  extensions/static-marks-bookmarks/metadata/static-marks-3.png
  extensions/static-marks-bookmarks/package-lock.json
  extensions/static-marks-bookmarks/package.json
  extensions/static-marks-bookmarks/src/index.tsx
Labels: extension fix / improvement

#3539 🆕 Airtable extension
  extensions/airtable/.eslintrc.json
  extensions/airtable/.gitignore
  extensions/airtable/.prettierrc
  extensions/airtable/CHANGELOG.md
  extensions/airtable/LICENSE
  extensions/airtable/README.md
  extensions/airtable/assets/airtable-logo.png
  extensions/airtable/metadata/screenshot-0-list-all-bases.png
  extensions/airtable/metadata/screenshot-1-open-api-docs-for-base.png
  extensions/airtable/metadata/screenshot-2-browse-list-of-tables.png
  extensions/airtable/metadata/screenshot-2c-base-details-view.png
  extensions/airtable/metadata/screenshot-3-list-fields-and-copy-id.png
  extensions/airtable/package-lock.json
  extensions/airtable/package.json
  extensions/airtable/src/BaseList.tsx
  extensions/airtable/src/BaseSchemaDetailsView.tsx
  extensions/airtable/src/BaseSchemaListView.tsx
  extensions/airtable/src/LocalStorageWrapper.tsx
  extensions/airtable/src/command-list-bases.tsx
  extensions/airtable/src/metadata-api.tsx
  extensions/airtable/src/oauth-client.tsx
  extensions/airtable/src/types.tsx
  extensions/airtable/tsconfig.json
Labels: new extension

#3551 [Hide All Apps]: New Extension
  extensions/hide-all-apps/.eslintrc.json
  extensions/hide-all-apps/.gitignore
  extensions/hide-all-apps/.prettierrc
  extensions/hide-all-apps/CHANGELOG.md
  extensions/hide-all-apps/README.md
  extensions/hide-all-apps/assets/hide-icon.png
  extensions/hide-all-apps/metadata/metadata-1.png
  extensions/hide-all-apps/package-lock.json
  extensions/hide-all-apps/package.json
  extensions/hide-all-apps/src/index.tsx
  extensions/hide-all-apps/tsconfig.json
Labels: new extension

#3549 Update extension: Common Directory
  extensions/common-directory/CHANGELOG.md
  extensions/common-directory/README.md
  extensions/common-directory/metadata/Metadata-1.png
  extensions/common-directory/metadata/Metadata-2.png
  extensions/common-directory/metadata/Metadata-3.png
  extensions/common-directory/metadata/common-directory-1.png
  extensions/common-directory/metadata/common-directory-2.png
  extensions/common-directory/metadata/common-directory-3.png
  extensions/common-directory/package-lock.json
  extensions/common-directory/package.json
  extensions/common-directory/src/add-common-directory.tsx
Labels: extension fix / improvement, OP is author

#3546 [Logseq] Revert "fix: decodeURIComponent %2F in filename (#3092)"
  extensions/logseq/CHANGELOG.md
  extensions/logseq/src/utils.ts
Labels: extension fix / improvement

#3556 [Hide All Apps]: Update Apple Script
  extensions/hide-all-apps/src/index.tsx
Labels: extension fix / improvement, OP is author

#3554 fix: add searchParams for TailwindCSS V3 doc
  extensions/docsearch/CHANGELOG.md
  extensions/docsearch/src/algolia/apiData.ts
Labels: extension fix / improvement, OP is author

#3527 Updated soundboard
  extensions/soundboard/CHANGELOG.md
  extensions/soundboard/src/index.tsx
  extensions/soundboard/src/soundform.tsx
  extensions/soundboard/src/types.ts
  extensions/soundboard/src/utils.ts
Labels: extension fix / improvement, OP is author

#3558 Worktime - adding more hours
  extensions/work-time-countdown/CHANGELOG.md
  extensions/work-time-countdown/package-lock.json
  extensions/work-time-countdown/package.json
Labels: extension fix / improvement

#3544 Add: Compress PDF extension
  extensions/compress-pdf/.eslintrc.json
  extensions/compress-pdf/.prettierrc
  extensions/compress-pdf/CHANGELOG.md
  extensions/compress-pdf/README.md
  extensions/compress-pdf/assets/command-icon.png
  extensions/compress-pdf/package-lock.json
  extensions/compress-pdf/package.json
  extensions/compress-pdf/src/index.tsx
  extensions/compress-pdf/tsconfig.json
Labels: new extension

#3515 add Terminal
  extensions/terminal/.eslintrc.json
  extensions/terminal/.gitignore
  extensions/terminal/.prettierrc
  extensions/terminal/CHANGELOG.md
  extensions/terminal/README.md
  extensions/terminal/assets/command-icon.png
  extensions/terminal/package-lock.json
  extensions/terminal/package.json
  extensions/terminal/src/new-terminal-tab.tsx
  extensions/terminal/src/new-termninal-window.tsx
  extensions/terminal/tsconfig.json
Labels: new extension

#3564 Quick update to Airtable extension README
  extensions/airtable/README.md
Labels: extension fix / improvement, OP is author

#3555 Fix displayplacer to save favorites correctly
  extensions/displayplacer/src/components/favoritesForm.tsx
  extensions/displayplacer/src/displayplacer.tsx
  extensions/displayplacer/src/utils/use-favorites.ts
Labels: extension fix / improvement

#3552 Codegrepper extension
  extensions/codegrepper/.eslintrc.json
  extensions/codegrepper/.gitignore
  extensions/codegrepper/.prettierrc
  extensions/codegrepper/CHANGELOG.md
  extensions/codegrepper/README.md
  extensions/codegrepper/assets/bing.png
  extensions/codegrepper/assets/codegrepper.png
  extensions/codegrepper/assets/duckduckgo.png
  extensions/codegrepper/assets/google.png
  extensions/codegrepper/assets/no-view.png
  extensions/codegrepper/media/ss-detail.png
  extensions/codegrepper/media/ss-empty-search.png
  extensions/codegrepper/media/ss-home.png
  extensions/codegrepper/media/ss-search.png
  extensions/codegrepper/metadata/codegrepper-1.png
  extensions/codegrepper/metadata/codegrepper-2.png
  extensions/codegrepper/metadata/codegrepper-3.png
  extensions/codegrepper/package-lock.json
  extensions/codegrepper/package.json
  extensions/codegrepper/src/index.tsx
  extensions/codegrepper/src/interface.tsx
  extensions/codegrepper/tsconfig.json
Labels: new extension

#3565 Miro: Use Grid and remove teamId preference
  extensions/miro/README.md
  extensions/miro/assets/command-icon.png
  extensions/miro/metadata/screenshot-2.png
  extensions/miro/package-lock.json
  extensions/miro/package.json
  extensions/miro/src/change-role.tsx
  extensions/miro/src/create-board.tsx
  extensions/miro/src/invite-board.tsx
  extensions/miro/src/list-boards.tsx
  extensions/miro/src/list-member.tsx
  extensions/miro/src/oauth/miro.tsx
Labels: extension fix / improvement

#3079 New Extension: YubiKey Code
  extensions/yubikey-code/.eslintrc.json
  extensions/yubikey-code/.gitignore
  extensions/yubikey-code/.prettierrc
  extensions/yubikey-code/CHANGELOG.md
  extensions/yubikey-code/README.md
  extensions/yubikey-code/assets/yubikey-icon.png
  extensions/yubikey-code/media/preferences.png
  extensions/yubikey-code/metadata/yubikey-code-1.png
  extensions/yubikey-code/metadata/yubikey-code-2.png
  extensions/yubikey-code/metadata/yubikey-code-3.png
  extensions/yubikey-code/package-lock.json
  extensions/yubikey-code/package.json
  extensions/yubikey-code/src/index.tsx
  extensions/yubikey-code/tsconfig.json
Labels: new extension

#3567 Update Radix Extension
  extensions/radix/src/primitives.tsx
Labels: extension fix / improvement

#3575 fix(asana): Make storeValue work for task creation
  extensions/asana/src/components/CreateTaskForm.tsx
Labels: extension fix / improvement

#3576 Obsidian: Fix hardcoded searchText
  extensions/obsidian/CHANGELOG.md
  extensions/obsidian/src/components/NoteList/NoteList.tsx
Labels: extension fix / improvement

#3569 fixes #3560 - Update email validation regex to fit RFC2822 standard
  extensions/google-meet/package.json
  extensions/google-meet/src/components/ProfileForm/ProfileForm.tsx
Labels: extension fix / improvement

#3571 [Spotify Player] Add preference to show ellipses in truncated menu bar title
  extensions/spotify-player/CHANGELOG.md
  extensions/spotify-player/package.json
  extensions/spotify-player/src/nowPlayingMenuBar.tsx
Labels: extension fix / improvement

#3570 [Hide All Apps]: Add Install Button to README
  extensions/hide-all-apps/CHANGELOG.md
  extensions/hide-all-apps/README.md
Labels: extension fix / improvement, OP is author

#3582 [Hide All Apps]: Revert Install Button
  extensions/hide-all-apps/CHANGELOG.md
  extensions/hide-all-apps/README.md
Labels: extension fix / improvement, OP is author

#3568 [GitHub] Repository search improvements
  extensions/github/CHANGELOG.md
  extensions/github/package.json
  extensions/github/src/components/RepositoryListEmptyView.tsx
  extensions/github/src/generated/graphql.ts
  extensions/github/src/search-repositories.tsx
  extensions/github/src/unread-notifications.tsx
Labels: extension fix / improvement, OP is author

#3381 fix(slack): fetching of conversations when hitting the the api limit of 1k conversations
  extensions/slack/CHANGELOG.md
  extensions/slack/src/shared/client/SlackClient.ts
  extensions/slack/src/shared/client/WebClient.ts
Labels: extension fix / improvement, OP is author

#3159 Add extension to Bamboo Search (Self Hosted)
  extensions/bamboo-search-self-hosted/.eslintrc.json
  extensions/bamboo-search-self-hosted/.gitignore
  extensions/bamboo-search-self-hosted/.prettierrc
  extensions/bamboo-search-self-hosted/CHANGELOG.md
  extensions/bamboo-search-self-hosted/README.md
  extensions/bamboo-search-self-hosted/assets/bamboo-logo.png
  extensions/bamboo-search-self-hosted/metadata/bamboo-self-hosted-1.png
  extensions/bamboo-search-self-hosted/metadata/bamboo-self-hosted-2.png
  extensions/bamboo-search-self-hosted/metadata/bamboo-self-hosted-3.png
  extensions/bamboo-search-self-hosted/package-lock.json
  extensions/bamboo-search-self-hosted/package.json
  extensions/bamboo-search-self-hosted/src/bamboo/client.ts
  extensions/bamboo-search-self-hosted/src/bamboo/exception.ts
  extensions/bamboo-search-self-hosted/src/bamboo/search.ts
  extensions/bamboo-search-self-hosted/src/components/SearchCommand.tsx
  extensions/bamboo-search-self-hosted/src/helpers/preferences.ts
  extensions/bamboo-search-self-hosted/src/searchDeploys.tsx
  extensions/bamboo-search-self-hosted/src/searchPlans.tsx
  extensions/bamboo-search-self-hosted/src/searchProjects.tsx
  extensions/bamboo-search-self-hosted/tsconfig.json
Labels: new extension

#3599 [Word Count] Update toggle whitespace shortcut to use "t" key
  extensions/word-count/CHANGELOG.md
  extensions/word-count/README.md
  extensions/word-count/src/count.tsx
Labels: extension fix / improvement

#3602 [Scaleway]: refactor and improvements
  extensions/scaleway/CHANGELOG.md
  extensions/scaleway/README.md
  extensions/scaleway/media/configure-extension.png
  extensions/scaleway/package-lock.json
  extensions/scaleway/package.json
  extensions/scaleway/src/api/client.ts
  extensions/scaleway/src/api/containers.ts
  extensions/scaleway/src/api/instances.ts
  extensions/scaleway/src/components/ContainerDetail.tsx
  extensions/scaleway/src/components/ContainerLogs.tsx
  extensions/scaleway/src/components/DatabaseDetail.tsx
  extensions/scaleway/src/components/InstanceDetail.tsx
  extensions/scaleway/src/components/RedisDetail.tsx
  extensions/scaleway/src/containers.tsx
  extensions/scaleway/src/databases.tsx
  extensions/scaleway/src/helpers/containers.ts
  extensions/scaleway/src/helpers/databases.ts
  extensions/scaleway/src/helpers/errors.ts
  extensions/scaleway/src/helpers/index.ts
  extensions/scaleway/src/helpers/instances.ts
  extensions/scaleway/src/helpers/redis.ts
  extensions/scaleway/src/instances.tsx
  extensions/scaleway/src/redis.tsx
  extensions/scaleway/src/scaleway/api.ts
  extensions/scaleway/src/scaleway/containers-api.ts
  extensions/scaleway/src/scaleway/databases-api.ts
  extensions/scaleway/src/scaleway/fake-data/fake-containers.ts
  extensions/scaleway/src/scaleway/fake-data/fake-databases.ts
  extensions/scaleway/src/scaleway/fake-data/fake-instances.ts
  extensions/scaleway/src/scaleway/fake-data/fake-redis.ts
  extensions/scaleway/src/scaleway/instances-api.ts
  extensions/scaleway/src/scaleway/redis-api.ts
  extensions/scaleway/src/scaleway/types.ts
  extensions/scaleway/src/utils.ts
Labels: extension fix / improvement, OP is author

#3592 YouTube: Fix crash when using string slice
  extensions/youtube/CHANGELOG.md
  extensions/youtube/src/components/video.tsx
Labels: extension fix / improvement, OP is author

#3593 update placeholder text
  extensions/adhan-time/CHANGELOG.md
  extensions/adhan-time/src/adhan-search.tsx
Labels: extension fix / improvement

#3598 Home Assistant: Fix wrong script edit entity
  extensions/homeassistant/CHANGELOG.md
  extensions/homeassistant/src/components/scripts.tsx
Labels: extension fix / improvement, OP is author

#3607 Add World Cup extension
  extensions/world-cup/.eslintrc.json
  extensions/world-cup/.gitignore
  extensions/world-cup/.prettierrc
  extensions/world-cup/CHANGELOG.md
  extensions/world-cup/README.md
  extensions/world-cup/assets/command-icon.png
  extensions/world-cup/metadata/screenshot-1.jpg
  extensions/world-cup/metadata/screenshot-2.jpg
  extensions/world-cup/package-lock.json
  extensions/world-cup/package.json
  extensions/world-cup/src/FilterDropdown.tsx
  extensions/world-cup/src/flags.ts
  extensions/world-cup/src/index.tsx
  extensions/world-cup/src/types.ts
  extensions/world-cup/tsconfig.json
Labels: new extension

#3557 Update extension/json2ts
  extensions/json2ts/CHANGELOG.md
  extensions/json2ts/package-lock.json
  extensions/json2ts/package.json
  extensions/json2ts/src/index.tsx
Labels: extension fix / improvement, OP is author

#3583 [Color Casket] Sequentially calling async operations on picking color (FIX)
  extensions/color-casket/CHANGELOG.md
  extensions/color-casket/src/picker.tsx
Labels: extension fix / improvement, OP is author, OP is contributor

#3608 Linear: add all teams option in search projects command
  extensions/linear/CHANGELOG.md
  extensions/linear/src/api/getProjects.ts
  extensions/linear/src/components/ProjectList.tsx
  extensions/linear/src/hooks/useProjects.ts
Labels: extension fix / improvement, OP is author

#3605 New extension: Menubar Weather
  extensions/menubar-weather/.eslintrc.json
  extensions/menubar-weather/.gitignore
  extensions/menubar-weather/.prettierrc
  extensions/menubar-weather/CHANGELOG.md
  extensions/menubar-weather/README.md
  extensions/menubar-weather/assets/extension-icon.png
  extensions/menubar-weather/package-lock.json
  extensions/menubar-weather/package.json
  extensions/menubar-weather/src/hooks/hooks.ts
  extensions/menubar-weather/src/menubar-weather.tsx
  extensions/menubar-weather/src/types/preferences.ts
  extensions/menubar-weather/src/types/types.ts
  extensions/menubar-weather/src/utils/common-utils.ts
  extensions/menubar-weather/src/utils/open-weather-utils.ts
  extensions/menubar-weather/tsconfig.json
Labels: new extension

#3566 feat(github): Add support for copying PR markdown URL
  extensions/github/src/components/PullRequestActions.tsx
Labels: extension fix / improvement

#3171 New Extension: Archiver, a missing archive tool in the Raycast Store
  extensions/archiver/.eslintrc.json
  extensions/archiver/.gitignore
  extensions/archiver/.prettierrc
  extensions/archiver/CHANGELOG.md
  extensions/archiver/README.md
  extensions/archiver/assets/archiver-icon.png
  extensions/archiver/assets/archiver-icon@dark.png
  extensions/archiver/assets/arm64_7za
  extensions/archiver/assets/x64_7za
  extensions/archiver/metadata/archiver-1.png
  extensions/archiver/metadata/archiver-2.png
  extensions/archiver/package-lock.json
  extensions/archiver/package.json
  extensions/archiver/src/common/const.ts
  extensions/archiver/src/common/types.d.ts
  extensions/archiver/src/common/utils.ts
  extensions/archiver/src/compress.tsx
  extensions/archiver/src/extract.tsx
  extensions/archiver/tsconfig.json
Labels: new extension

#3627 Fifa update
  extensions/world-cup/CHANGELOG.md
  extensions/world-cup/assets/no-view.png
  extensions/world-cup/metadata/screenshot-1.jpg
  extensions/world-cup/metadata/screenshot-2.jpg
  extensions/world-cup/metadata/world-cup-1.png
  extensions/world-cup/metadata/world-cup-2.png
  extensions/world-cup/metadata/world-cup-3.png
  extensions/world-cup/metadata/world-cup-4.png
  extensions/world-cup/package-lock.json
  extensions/world-cup/package.json
  extensions/world-cup/src/index.tsx
  extensions/world-cup/src/types.ts
  extensions/world-cup/src/utils.ts
Labels: extension fix / improvement

#3633 Add extension: Menubar Weather
  extensions/menubar-weather/CHANGELOG.md
  extensions/menubar-weather/README.md
  extensions/menubar-weather/package-lock.json
  extensions/menubar-weather/package.json
  extensions/menubar-weather/src/hooks/hooks.ts
  extensions/menubar-weather/src/menubar-weather.tsx
  extensions/menubar-weather/src/types/preferences.ts
  extensions/menubar-weather/src/types/types.ts
  extensions/menubar-weather/src/utils/axios-utils.ts
  extensions/menubar-weather/src/utils/common-utils.ts
  extensions/menubar-weather/src/utils/open-weather-utils.ts
  extensions/menubar-weather/src/utils/weather-utils.ts
Labels: extension fix / improvement, OP is author

#3632 [Snake]: Make use of `environment.textSize`
  extensions/snake/changelog.md
  extensions/snake/package-lock.json
  extensions/snake/package.json
  extensions/snake/src/components/snake.tsx
  extensions/snake/src/lib/game.ts
  extensions/snake/src/lib/text.ts
Labels: extension fix / improvement

#3620 [Todoist]: Migrate extension to REST API v2
  extensions/todoist/CHANGELOG.md
  extensions/todoist/package-lock.json
  extensions/todoist/package.json
  extensions/todoist/src/components/Project.tsx
  extensions/todoist/src/components/ProjectForm.tsx
  extensions/todoist/src/components/TaskComments.tsx
  extensions/todoist/src/components/TaskDetail.tsx
  extensions/todoist/src/components/TaskListItem.tsx
  extensions/todoist/src/create-task.tsx
  extensions/todoist/src/helpers/dates.ts
  extensions/todoist/src/helpers/sections.ts
  extensions/todoist/src/projects.tsx
  extensions/todoist/src/quick-add-task.tsx
  extensions/todoist/src/search.tsx
Labels: extension fix / improvement, OP is author

#3618 added HoudahSpot search extension!
  extensions/houdahspot-search/.eslintrc.json
  extensions/houdahspot-search/.gitignore
  extensions/houdahspot-search/.prettierrc
  extensions/houdahspot-search/CHANGELOG.md
  extensions/houdahspot-search/README.md
  extensions/houdahspot-search/assets/command-icon.png
  extensions/houdahspot-search/package-lock.json
  extensions/houdahspot-search/package.json
  extensions/houdahspot-search/src/index.ts
  extensions/houdahspot-search/tsconfig.json
Labels: new extension

#3642 Update extension: Add forecast
  extensions/menubar-weather/CHANGELOG.md
  extensions/menubar-weather/README.md
  extensions/menubar-weather/package.json
  extensions/menubar-weather/src/menubar-weather.tsx
  extensions/menubar-weather/src/types/types.ts
  extensions/menubar-weather/src/utils/axios-utils.ts
  extensions/menubar-weather/src/utils/common-utils.ts
  extensions/menubar-weather/src/utils/weather-utils.ts
Labels: extension fix / improvement, OP is author

#3643 Linear: Add `alwaysShow` preference for menu-bar command
  extensions/linear/package.json
  extensions/linear/src/unread-notifications.tsx
Labels: extension fix / improvement

#3646 Update extension: Menubar Weather
  extensions/menubar-weather/CHANGELOG.md
  extensions/menubar-weather/README.md
  extensions/menubar-weather/metadata/menubar-weather-1.png
  extensions/menubar-weather/src/utils/common-utils.ts
Labels: extension fix / improvement, OP is author

#3649 Spotify Player: Update description.
  extensions/spotify-player/package.json
Labels: extension fix / improvement, OP is contributor

#3631 [Change Case]: Make use of `getFrontmostApplication`
  extensions/change-case/CHANGELOG.md
  extensions/change-case/package-lock.json
  extensions/change-case/package.json
  extensions/change-case/src/change-case.tsx
Labels: extension fix / improvement

#3647 Get Gitmojis from the API
  extensions/gitmoji/CHANGELOG.md
  extensions/gitmoji/package-lock.json
  extensions/gitmoji/package.json
  extensions/gitmoji/src/gitmoji.tsx
Labels: extension fix / improvement, OP is author

#3172 Tana extension
  extensions/tana/.eslintrc.json
  extensions/tana/.gitignore
  extensions/tana/.prettierrc
  extensions/tana/CHANGELOG.md
  extensions/tana/README.md
  extensions/tana/assets/tana-icon.png
  extensions/tana/package-lock.json
  extensions/tana/package.json
  extensions/tana/src/api/createNode.ts
  extensions/tana/src/api/helpers.ts
  extensions/tana/src/api/index.ts
  extensions/tana/src/quickAddCommand.tsx
  extensions/tana/tsconfig.json
Labels: new extension

#3651 Bear: show note preview in list view
  extensions/bear/package.json
  extensions/bear/src/bear-db.ts
  extensions/bear/src/index.tsx
Labels: extension fix / improvement, OP is author

#3603 Fixed Asana Project Query Timeout
  extensions/asana/CHANGELOG.md
  extensions/asana/src/api/projects.ts
Labels: extension fix / improvement

#3638 [Update Obsidian Extension] Append to Daily Note Command, several fixes, update API
  extensions/obsidian/CHANGELOG.md
  extensions/obsidian/README.md
  extensions/obsidian/package-lock.json
  extensions/obsidian/package.json
  extensions/obsidian/src/components/AdvancedURIPluginNotInstalled.tsx
  extensions/obsidian/src/components/MediaGrid.tsx
  extensions/obsidian/src/components/NoteList/NoteList.tsx
  extensions/obsidian/src/components/NoteList/NoteListDropdown.tsx
  extensions/obsidian/src/components/NoteList/NoteListObsidian.tsx
  extensions/obsidian/src/components/NoteList/NoteListPinned.tsx
  extensions/obsidian/src/components/NoteQuickLook.tsx
  extensions/obsidian/src/components/RandomNote.tsx
  extensions/obsidian/src/components/Toasts.tsx
  extensions/obsidian/src/dailyNoteAppendCommand.tsx
  extensions/obsidian/src/dailyNoteCommand.tsx
  extensions/obsidian/src/utils/actions.tsx
  extensions/obsidian/src/utils/utils.tsx
Labels: extension fix / improvement, OP is author

#3639 [Git Repos] added "Open in All Applications" action
  extensions/git-repos/CHANGELOG.md
  extensions/git-repos/src/list.tsx
Labels: extension fix / improvement

#3661 Fix Bug: Menubar-Weather
  extensions/menubar-weather/CHANGELOG.md
  extensions/menubar-weather/assets/menubar-icon.png
  extensions/menubar-weather/assets/menubar-icon@dark.png
  extensions/menubar-weather/package.json
  extensions/menubar-weather/src/hooks/hooks.ts
  extensions/menubar-weather/src/menubar-weather.tsx
  extensions/menubar-weather/src/types/preferences.ts
  extensions/menubar-weather/src/utils/common-utils.ts
  extensions/menubar-weather/src/utils/weather-utils.ts
Labels: extension fix / improvement, OP is author

#3659 Bear: update CHANGELOG for latest version
  extensions/bear/CHANGELOG.md
Labels: extension fix / improvement, OP is author

#3657 [vscode-project-manager] Fix: Avoid duplicate entries #3656
  extensions/visual-studio-code-project-manager/CHANGELOG.md
  extensions/visual-studio-code-project-manager/package.json
  extensions/visual-studio-code-project-manager/src/search-project-manager-projects.tsx
Labels: extension fix / improvement

#3630 [Linear]: Update Copy Action to copy formatted HTML
  extensions/linear/CHANGELOG.md
  extensions/linear/package-lock.json
  extensions/linear/package.json
  extensions/linear/src/components/IssueActions/CopyToClipboardSection.tsx
Labels: extension fix / improvement, OP is contributor

#3686 fix(unsplash): update get api key url
  extensions/unsplash/CHANGELOG.md
  extensions/unsplash/package.json
Labels: extension fix / improvement

#3683 Home Assistant: Add Weather Menu bar command
  extensions/homeassistant/CHANGELOG.md
  extensions/homeassistant/package.json
  extensions/homeassistant/src/components/weather.tsx
  extensions/homeassistant/src/weathermenu.tsx
Labels: extension fix / improvement, OP is author

#3670 Archiver: Optimize Experience
  extensions/archiver/CHANGELOG.md
  extensions/archiver/package-lock.json
  extensions/archiver/package.json
  extensions/archiver/src/common/const.ts
  extensions/archiver/src/common/utils.ts
  extensions/archiver/src/extract.tsx
Labels: extension fix / improvement, OP is author

#3666 Weather: Add menu
  extensions/weather/CHANGELOG.md
  extensions/weather/metadata/screenshot-01.png
  extensions/weather/metadata/weather-1.png
  extensions/weather/metadata/weather-2.png
  extensions/weather/package-lock.json
  extensions/weather/package.json
  extensions/weather/src/components/day.tsx
  extensions/weather/src/components/weather.tsx
  extensions/weather/src/icons.ts
  extensions/weather/src/menubar.tsx
Labels: extension fix / improvement, OP is author

#3596 New Extension: Search Zendesk support center
  extensions/zendesk/.eslintrc.json
  extensions/zendesk/.gitignore
  extensions/zendesk/.prettierrc
  extensions/zendesk/CHANGELOG.md
  extensions/zendesk/README.md
  extensions/zendesk/assets/zendesk.png
  extensions/zendesk/metadata/zendesk-1.png
  extensions/zendesk/metadata/zendesk-2.png
  extensions/zendesk/metadata/zendesk-3.png
  extensions/zendesk/package-lock.json
  extensions/zendesk/package.json
  extensions/zendesk/src/search-zendesk-support-center.tsx
  extensions/zendesk/src/types.ts
  extensions/zendesk/tsconfig.json
Labels: new extension

#3337 add new extension Bitbucket Search (Self Hosted)
  extensions/bitbucket-search-self-hosted/.eslintrc.json
  extensions/bitbucket-search-self-hosted/.gitignore
  extensions/bitbucket-search-self-hosted/.prettierrc
  extensions/bitbucket-search-self-hosted/CHANGELOG.md
  extensions/bitbucket-search-self-hosted/README.md
  extensions/bitbucket-search-self-hosted/assets/bitbucket-logo.png
  extensions/bitbucket-search-self-hosted/assets/icon-branch.png
  extensions/bitbucket-search-self-hosted/assets/icon-calendar.png
  extensions/bitbucket-search-self-hosted/assets/icon-code.png
  extensions/bitbucket-search-self-hosted/assets/icon-pr.png
  extensions/bitbucket-search-self-hosted/assets/icon-user.png
  extensions/bitbucket-search-self-hosted/metadata/bitbucket-search-self-hosted-1.png
  extensions/bitbucket-search-self-hosted/metadata/bitbucket-search-self-hosted-2.png
  extensions/bitbucket-search-self-hosted/package-lock.json
  extensions/bitbucket-search-self-hosted/package.json
  extensions/bitbucket-search-self-hosted/src/components/repository/actions.tsx
  extensions/bitbucket-search-self-hosted/src/components/repository/pullRequestsList.tsx
  extensions/bitbucket-search-self-hosted/src/components/types.ts
  extensions/bitbucket-search-self-hosted/src/helpers/cache.ts
  extensions/bitbucket-search-self-hosted/src/helpers/icon.ts
  extensions/bitbucket-search-self-hosted/src/helpers/preferences.ts
  extensions/bitbucket-search-self-hosted/src/queries/index.ts
  extensions/bitbucket-search-self-hosted/src/searchMyOpenPullRequests.tsx
  extensions/bitbucket-search-self-hosted/src/searchRepositories.tsx
  extensions/bitbucket-search-self-hosted/tsconfig.json
Labels: new extension

#3537 Add: Webflow Extension
  extensions/webflow-sites/.eslintrc.json
  extensions/webflow-sites/.prettierrc
  extensions/webflow-sites/CHANGELOG.md
  extensions/webflow-sites/README.md
  extensions/webflow-sites/assets/no-view.png
  extensions/webflow-sites/assets/peeks api incorrect.png
  extensions/webflow-sites/assets/peeks.png
  extensions/webflow-sites/assets/site-empty-thumbnail.svg
  extensions/webflow-sites/assets/wf-logo-circle.svg
  extensions/webflow-sites/assets/wf-logo.svg
  extensions/webflow-sites/metadata/peeks-screenshot-1.png
  extensions/webflow-sites/metadata/peeks-screenshot-2.png
  extensions/webflow-sites/metadata/peeks-screenshot-3.png
  extensions/webflow-sites/package-lock.json
  extensions/webflow-sites/package.json
  extensions/webflow-sites/src/index.tsx
  extensions/webflow-sites/tsconfig.json
Labels: new extension

#3699 add text-davinci-003 model
  extensions/openai-gpt3/CHANGELOG.md
  extensions/openai-gpt3/README.md
  extensions/openai-gpt3/package.json
  extensions/openai-gpt3/src/ai.tsx
  extensions/openai-gpt3/src/info-messages.ts
Labels: extension fix / improvement, OP is author, extension: /extensions/openai-gpt3

#3701 fix(elgato-key-light): Fix error when toggling light
  extensions/elgato-key-light/package-lock.json
  extensions/elgato-key-light/package.json
  extensions/elgato-key-light/src/elgato.ts
Labels: extension fix / improvement, extension: /extensions/elgato-key-light

#3697 [ai-gen] Update text completion model
  extensions/ai-gen/CHANGELOG.md
  extensions/ai-gen/src/hooks/useOpenAICompletionApi.ts
Labels: extension fix / improvement, OP is author, extension: /extensions/ai-gen

#3676 OSS browser: Optimize Experience
  extensions/oss-browser/CHANGELOG.md
  extensions/oss-browser/package-lock.json
  extensions/oss-browser/package.json
Labels: extension fix / improvement, OP is author

#3674 iTranslate: Optimize Experience
  extensions/itranslate/CHANGELOG.md
  extensions/itranslate/package-lock.json
  extensions/itranslate/package.json
  extensions/itranslate/src/common/itranslate.shared.tsx
Labels: extension fix / improvement, OP is author

#3705 Webflow Extension - Updated Metadata & README
  extensions/webflow-sites/README.md
  extensions/webflow-sites/assets/peeks api incorrect.png
  extensions/webflow-sites/assets/peeks-api-incorrect.png
  extensions/webflow-sites/assets/webflow-128x128.png
  extensions/webflow-sites/assets/webflow-logo.png
  extensions/webflow-sites/metadata/webflow-sites-1.png
  extensions/webflow-sites/metadata/webflow-sites-2.png
  extensions/webflow-sites/package.json
  extensions/webflow-sites/src/index.tsx
Labels: extension fix / improvement, OP is author, extension: /extensions/webflow-sites

#3671 iHosts: Optimize Experience
  extensions/ihosts/CHANGELOG.md
  extensions/ihosts/package-lock.json
  extensions/ihosts/package.json
  extensions/ihosts/src/component.tsx
Labels: extension fix / improvement, OP is author

#3722 Update extension: Text Decorator
  extensions/text-decorator/CHANGELOG.md
  extensions/text-decorator/assets/empty-icons/empty-icon.png
  extensions/text-decorator/assets/empty-icons/empty-icon.svg
  extensions/text-decorator/assets/empty-icons/empty-icon@dark.png
  extensions/text-decorator/assets/empty-icons/empty-icon@dark.svg
  extensions/text-decorator/metadata/Metadata-1.png
  extensions/text-decorator/metadata/Metadata-2.png
  extensions/text-decorator/metadata/Metadata-3.png
  extensions/text-decorator/metadata/text-decorator-1.png
  extensions/text-decorator/metadata/text-decorator-2.png
  extensions/text-decorator/metadata/text-decorator-3.png
  extensions/text-decorator/package-lock.json
  extensions/text-decorator/package.json
  extensions/text-decorator/src/components/action-on-font.tsx
  extensions/text-decorator/src/components/empty-view.tsx
  extensions/text-decorator/src/decorate-text-with-font.tsx
  extensions/text-decorator/src/hooks/hooks.ts
  extensions/text-decorator/src/types/preferences.ts
  extensions/text-decorator/src/utils/constants.ts
Labels: extension fix / improvement, OP is author, extension: /extensions/text-decorator

#3719 Update Extension: Paste as Plain Text
  extensions/paste-as-plain-text/CHANGELOG.md
  extensions/paste-as-plain-text/package-lock.json
  extensions/paste-as-plain-text/package.json
Labels: extension fix / improvement, OP is author, extension: /extensions/paste-as-plain-text

#3717 Bear: fix crash on null note text
  extensions/bear/CHANGELOG.md
  extensions/bear/src/bear-db.ts
Labels: extension fix / improvement, OP is author, extension: /extensions/bear

#3612 [AWS] Support Multiple Profiles
  extensions/amazon-aws/CHANGELOG.md
  extensions/amazon-aws/package-lock.json
  extensions/amazon-aws/package.json
  extensions/amazon-aws/src/cloudformation.tsx
  extensions/amazon-aws/src/codepipeline.tsx
  extensions/amazon-aws/src/dynamodb.tsx
  extensions/amazon-aws/src/ec2.tsx
  extensions/amazon-aws/src/ecs.tsx
  extensions/amazon-aws/src/lambda.tsx
  extensions/amazon-aws/src/s3.tsx
  extensions/amazon-aws/src/sqs.tsx
  extensions/amazon-aws/src/util/aws-profile-dropdown.tsx
  extensions/amazon-aws/src/util/setupAws.ts
Labels: extension fix / improvement, status: awaiting response from dev, OP is contributor, extension: /extensions/amazon-aws

#3706 [UPDATE Obsidian Extension] Quick Fix to close several issues
  extensions/obsidian/CHANGELOG.md
  extensions/obsidian/src/components/NoteList/NoteList.tsx
  extensions/obsidian/src/components/NoteList/NoteListDropdown.tsx
  extensions/obsidian/src/components/NoteList/NoteListObsidian.tsx
  extensions/obsidian/src/components/Notifications/AdvancedURIPluginNotInstalled.tsx
  extensions/obsidian/src/components/Notifications/NoVaultFoundMessage.tsx
  extensions/obsidian/src/createNoteCommand.tsx
  extensions/obsidian/src/dailyNoteAppendCommand.tsx
  extensions/obsidian/src/dailyNoteCommand.tsx
  extensions/obsidian/src/openVaultCommand.tsx
  extensions/obsidian/src/pinnedNotesCommand.tsx
  extensions/obsidian/src/randomNoteCommand.tsx
  extensions/obsidian/src/searchMedia.tsx
  extensions/obsidian/src/searchNoteCommand.tsx
  extensions/obsidian/src/utils/actions.tsx
  extensions/obsidian/src/utils/interfaces.tsx
Labels: extension fix / improvement, OP is author, extension: /extensions/obsidian

#3721 Update extension: Gitee
  extensions/gitee/CHANGELOG.md
  extensions/gitee/assets/empty-view-icon.svg
  extensions/gitee/metadata/Metadata-1.png
  extensions/gitee/metadata/Metadata-2.png
  extensions/gitee/metadata/Metadata-3.png
  extensions/gitee/metadata/Metadata-4.png
  extensions/gitee/metadata/Metadata-5.png
  extensions/gitee/metadata/Metadata-6.png
  extensions/gitee/metadata/gitee-1.png
  extensions/gitee/metadata/gitee-2.png
  extensions/gitee/metadata/gitee-3.png
  extensions/gitee/metadata/gitee-4.png
  extensions/gitee/package-lock.json
  extensions/gitee/package.json
  extensions/gitee/src/components/GiteeEmptyView.tsx
  extensions/gitee/src/utils/common-utils.ts
Labels: extension fix / improvement, OP is author, extension: /extensions/gitee

#3712 [World Cup] Fix live results for simultaneous matches
  extensions/world-cup/CHANGELOG.md
  extensions/world-cup/package-lock.json
  extensions/world-cup/src/index.tsx
Labels: extension fix / improvement, OP is author, extension: /extensions/world-cup

#3658 Drupal Toolbox Extension
  extensions/drupal-toolbox/.eslintrc.json
  extensions/drupal-toolbox/.gitignore
  extensions/drupal-toolbox/.prettierrc
  extensions/drupal-toolbox/CHANGELOG.md
  extensions/drupal-toolbox/LICENSE
  extensions/drupal-toolbox/README.md
  extensions/drupal-toolbox/assets/drupal-toolbox.png
  extensions/drupal-toolbox/assets/logo-d10.png
  extensions/drupal-toolbox/assets/logo-d8.png
  extensions/drupal-toolbox/assets/logo-d9.png
  extensions/drupal-toolbox/assets/logo.png
  extensions/drupal-toolbox/metadata/drupal-toolbox-1.png
  extensions/drupal-toolbox/metadata/drupal-toolbox-2.png
  extensions/drupal-toolbox/metadata/drupal-toolbox-3.png
  extensions/drupal-toolbox/metadata/drupal-toolbox-4.png
  extensions/drupal-toolbox/metadata/drupal-toolbox-5.png
  extensions/drupal-toolbox/package-lock.json
  extensions/drupal-toolbox/package.json
  extensions/drupal-toolbox/src/components/AddDrupalWebsiteAction.tsx
  extensions/drupal-toolbox/src/components/AddDrupalWebsiteForm.tsx
  extensions/drupal-toolbox/src/components/DeleteDrupalWebsiteAction.tsx
  extensions/drupal-toolbox/src/components/EmptyView.tsx
  extensions/drupal-toolbox/src/components/ToolList.tsx
  extensions/drupal-toolbox/src/index.tsx
  extensions/drupal-toolbox/src/interface.tsx
  extensions/drupal-toolbox/src/tools.tsx
  extensions/drupal-toolbox/tsconfig.json
Labels: new extension

#3723 [Headlines] - Fixed a bug and added cache
  extensions/headlines/CHANGELOG.md
  extensions/headlines/package-lock.json
  extensions/headlines/package.json
  extensions/headlines/src/index.tsx
  extensions/headlines/src/interface/anews.ts
Labels: extension fix / improvement, extension: /extensions/headlines

#3728 SavvyCal: Various branding updates
  extensions/savvycal/CHANGELOG.md
  extensions/savvycal/README.md
  extensions/savvycal/assets/savvycal-icon.png
  extensions/savvycal/package.json
Labels: extension fix / improvement, extension: /extensions/savvycal
