Repository raycast/extensions, pull requests merged in 2022-12, with the labels that each got.

#3720 Update extension: Menubar Weather
  extensions/menubar-weather/CHANGELOG.md
  extensions/menubar-weather/package.json
  extensions/menubar-weather/src/types/preferences.ts
  extensions/menubar-weather/src/utils/axios-utils.ts
  extensions/menubar-weather/src/utils/common-utils.ts
  extensions/menubar-weather/src/utils/weather-utils.ts
Labels: extension fix / improvement, OP is author, extension: /extensions/menubar-weather

#3727 refactor: rename Text Recognition to Capture Text
  extensions/cleanshotx/CHANGELOG.md
  extensions/cleanshotx/package.json
  extensions/cleanshotx/src/capture-text.tsx
Labels: extension fix / improvement, extension: /extensions/cleanshotx

#3732 Update extension: Just Focus
  extensions/just-focus/CHANGELOG.md
  extensions/just-focus/package-lock.json
  extensions/just-focus/package.json
Labels: extension fix / improvement, OP is author, extension: /extensions/just-focus

#3748 Update extension: Avatar
  extensions/avatar/CHANGELOG.md
  extensions/avatar/metadata/Metadata-1.png
  extensions/avatar/metadata/Metadata-2.png
  extensions/avatar/metadata/Metadata-3.png
  extensions/avatar/metadata/avatar-1.png
  extensions/avatar/metadata/avatar-2.png
  extensions/avatar/metadata/avatar-3.png
  extensions/avatar/package-lock.json
  extensions/avatar/package.json
  extensions/avatar/src/components/avatar-grid-layout.tsx
  extensions/avatar/src/components/avatar-image-action.tsx
  extensions/avatar/src/components/avatar-list-layout.tsx
  extensions/avatar/src/types/preferences.ts
  extensions/avatar/src/utils/applescript-utils.ts
  extensions/avatar/src/utils/common-utils.ts
Labels: extension fix / improvement, OP is author, extension: /extensions/avatar

#3749 Update extension: Life Progress
  extensions/life-progress/CHANGELOG.md
  extensions/life-progress/metadata/Metadata-1.png
  extensions/life-progress/metadata/Metadata-2.png
  extensions/life-progress/metadata/Metadata-3.png
  extensions/life-progress/metadata/life-progress-1.png
  extensions/life-progress/metadata/life-progress-2.png
  extensions/life-progress/metadata/life-progress-3.png
  extensions/life-progress/package-lock.json
  extensions/life-progress/package.json
  extensions/life-progress/src/add-countdown-date.tsx
Labels: extension fix / improvement, OP is author, extension: /extensions/life-progress

#3756 New Extension: .NET Documentation Search
  extensions/dotnet-docs-search/.eslintrc.json
  extensions/dotnet-docs-search/.gitignore
  extensions/dotnet-docs-search/.prettierrc
  extensions/dotnet-docs-search/CHANGELOG.md
  extensions/dotnet-docs-search/README.md
  extensions/dotnet-docs-search/assets/class-icon.svg
  extensions/dotnet-docs-search/assets/constructor-icon.svg
  extensions/dotnet-docs-search/assets/delegate-icon.svg
  extensions/dotnet-docs-search/assets/dotnet-icon.png
  extensions/dotnet-docs-search/assets/enum-icon.svg
  extensions/dotnet-docs-search/assets/event-icon.svg
  extensions/dotnet-docs-search/assets/field-icon.svg
  extensions/dotnet-docs-search/assets/interface-icon.svg
  extensions/dotnet-docs-search/assets/method-icon.svg
  extensions/dotnet-docs-search/assets/namespace-icon.svg
  extensions/dotnet-docs-search/assets/operator-icon.svg
  extensions/dotnet-docs-search/assets/property-icon.svg
  extensions/dotnet-docs-search/assets/struct-icon.svg
  extensions/dotnet-docs-search/metadata/dotnet-docs-search-1.png
  extensions/dotnet-docs-search/metadata/dotnet-docs-search-2.png
  extensions/dotnet-docs-search/package-lock.json
  extensions/dotnet-docs-search/package.json
  extensions/dotnet-docs-search/src/index.tsx
  extensions/dotnet-docs-search/src/types.ts
  extensions/dotnet-docs-search/src/version_dropdown.tsx
  extensions/dotnet-docs-search/tsconfig.json
Labels: new extension

#3753 Added --ignore-pinned flag to brew upgrade command
  extensions/brew/CHANGELOG.md
  extensions/brew/src/brew.ts
Labels: extension fix / improvement, extension: /extensions/brew

#3742 Update extension: World Clock
  extensions/world-clock/CHANGELOG.md
  extensions/world-clock/metadata/Metadata-1.png
  extensions/world-clock/metadata/Metadata-2.png
  extensions/world-clock/metadata/Metadata-3.png
  extensions/world-clock/metadata/world-clock-1.png
  extensions/world-clock/metadata/world-clock-2.png
  extensions/world-clock/metadata/world-clock-3.png
  extensions/world-clock/package-lock.json
  extensions/world-clock/package.json
  extensions/world-clock/src/components/query-world-grid-layout.tsx
  extensions/world-clock/src/components/query-world-list-layout.tsx
  extensions/world-clock/src/components/time-info-detail.tsx
  extensions/world-clock/src/components/time-zone-list-item.tsx
  extensions/world-clock/src/query-world-time-menu-bar.tsx
  extensions/world-clock/src/types/preferences.ts
Labels: extension fix / improvement, OP is author, extension: /extensions/world-clock

#3739 Update extension: Bunch
  extensions/bunch/CHANGELOG.md
  extensions/bunch/metadata/Metadata-1.png
  extensions/bunch/metadata/Metadata-2.png
  extensions/bunch/metadata/Metadata-3.png
  extensions/bunch/metadata/Metadata-4.png
  extensions/bunch/metadata/bunch-1.png
  extensions/bunch/metadata/bunch-2.png
  extensions/bunch/metadata/bunch-3.png
  extensions/bunch/metadata/bunch-4.png
  extensions/bunch/package-lock.json
  extensions/bunch/package.json
  extensions/bunch/src/get-bunch-preferences.tsx
Labels: extension fix / improvement, OP is author, extension: /extensions/bunch

#3750 Update extension: SM.MS
  extensions/sm-ms/CHANGELOG.md
  extensions/sm-ms/README.md
  extensions/sm-ms/metadata/Metadata-1.png
  extensions/sm-ms/metadata/Metadata-2.png
  extensions/sm-ms/metadata/Metadata-3.png
  extensions/sm-ms/metadata/Metadata-4.png
  extensions/sm-ms/metadata/sm-ms-1.png
  extensions/sm-ms/metadata/sm-ms-2.png
  extensions/sm-ms/metadata/sm-ms-3.png
  extensions/sm-ms/metadata/sm-ms-4.png
  extensions/sm-ms/package-lock.json
  extensions/sm-ms/package.json
  extensions/sm-ms/src/get-user-profile.tsx
  extensions/sm-ms/src/types/preferences.ts
  extensions/sm-ms/src/upload-images.tsx
  extensions/sm-ms/src/utils/axios-utils.ts
  extensions/sm-ms/src/utils/costants.ts
Labels: extension fix / improvement, OP is author, extension: /extensions/sm-ms

#3738 Update Extension: Dock Tinker
  extensions/dock-tinker/CHANGELOG.md
  extensions/dock-tinker/metadata/Metadata-1.png
  extensions/dock-tinker/metadata/dock-tinker-1.png
  extensions/dock-tinker/package-lock.json
  extensions/dock-tinker/package.json
Labels: extension fix / improvement, OP is author, extension: /extensions/dock-tinker

#3741 Update extension: n8n
  extensions/n8n/CHANGELOG.md
  extensions/n8n/assets/empty-icon.png
  extensions/n8n/metadata/Metadata-1.png
  extensions/n8n/metadata/Metadata-2.png
  extensions/n8n/metadata/n8n-1.png
  extensions/n8n/metadata/n8n-2.png
  extensions/n8n/package-lock.json
  extensions/n8n/package.json
  extensions/n8n/src/components/empty-view.tsx
Labels: extension fix / improvement, OP is author, extension: /extensions/n8n

#3733 Update extension: Open Path
  extensions/open-path/CHANGELOG.md
  extensions/open-path/metadata/Metadata-1.png
  extensions/open-path/metadata/open-path-1.png
  extensions/open-path/package-lock.json
  extensions/open-path/package.json
Labels: extension fix / improvement, OP is author, extension: /extensions/open-path

#3731 Update extension: Converter
  extensions/converter/CHANGELOG.md
  extensions/converter/metadata/Metadata-1.png
  extensions/converter/metadata/Metadata-2.png
  extensions/converter/metadata/converter-1.png
  extensions/converter/metadata/converter-2.png
  extensions/converter/package-lock.json
  extensions/converter/package.json
  extensions/converter/src/base-converter.tsx
  extensions/converter/src/code-converter.tsx
  extensions/converter/src/components/action-open-preferences.tsx
Labels: extension fix / improvement, OP is author, extension: /extensions/converter

#3736 Update extension: IP Geolocation
  extensions/ip-geolocation/CHANGELOG.md
  extensions/ip-geolocation/assets/empty-view.svg
  extensions/ip-geolocation/assets/empty-view@dark.svg
  extensions/ip-geolocation/assets/extension-icon.png
  extensions/ip-geolocation/assets/extension-icon@dark.png
  extensions/ip-geolocation/assets/lists/as.png
  extensions/ip-geolocation/assets/lists/as@dark.png
  extensions/ip-geolocation/assets/lists/coordinates.png
  extensions/ip-geolocation/assets/lists/coordinates@dark.png
  extensions/ip-geolocation/assets/lists/ip.png
  extensions/ip-geolocation/assets/lists/ip@dark.png
  extensions/ip-geolocation/assets/lists/isp.png
  extensions/ip-geolocation/assets/lists/isp@dark.png
  extensions/ip-geolocation/assets/lists/location.png
  extensions/ip-geolocation/assets/lists/location@dark.png
  extensions/ip-geolocation/assets/lists/organization.png
  extensions/ip-geolocation/assets/lists/organization@dark.png
  extensions/ip-geolocation/assets/lists/public-ip.png
  extensions/ip-geolocation/assets/lists/public-ip@dark.png
  extensions/ip-geolocation/assets/lists/timezone.png
  extensions/ip-geolocation/assets/lists/timezone@dark.png
  extensions/ip-geolocation/assets/my-ip-geolocation.png
  extensions/ip-geolocation/assets/my-ip-geolocation@dark.png
  extensions/ip-geolocation/assets/query-ip-geolocation.png
  extensions/ip-geolocation/assets/query-ip-geolocation@dark.png
  extensions/ip-geolocation/metadata/Metadata-1.png
  extensions/ip-geolocation/metadata/Metadata-2.png
  extensions/ip-geolocation/metadata/Metadata-3.png
  extensions/ip-geolocation/metadata/ip-geolocation-1.png
  extensions/ip-geolocation/metadata/ip-geolocation-2.png
  extensions/ip-geolocation/metadata/ip-geolocation-3.png
  extensions/ip-geolocation/package-lock.json
  extensions/ip-geolocation/package.json
  extensions/ip-geolocation/src/components/ip-empty-view.tsx
  extensions/ip-geolocation/src/hooks/hooks.ts
  extensions/ip-geolocation/src/my-ip-geolocation.tsx
  extensions/ip-geolocation/src/query-ip-geolocation.tsx
  extensions/ip-geolocation/src/utils/constants.ts
Labels: extension fix / improvement, OP is author, extension: /extensions/ip-geolocation

#3744 Update extension: Screen Saver
  extensions/screen-saver/CHANGELOG.md
  extensions/screen-saver/metadata/Metadata-1.png
  extensions/screen-saver/metadata/screen-saver-1.png
  extensions/screen-saver/package-lock.json
  extensions/screen-saver/package.json
Labels: extension fix / improvement, OP is author, extension: /extensions/screen-saver

#3745 Update extension: Capture Raycast Screen
  extensions/capture-raycast-metadata/CHANGELOG.md
  extensions/capture-raycast-metadata/metadata/Metadata-1.png
  extensions/capture-raycast-metadata/metadata/Metadata-2.png
  extensions/capture-raycast-metadata/metadata/capture-raycast-metadata-1.png
  extensions/capture-raycast-metadata/package-lock.json
  extensions/capture-raycast-metadata/package.json
  extensions/capture-raycast-metadata/src/utils/constants.ts
Labels: extension fix / improvement, OP is author, extension: /extensions/capture-raycast-metadata

#3729 Update extension: Hidden Icons
  extensions/hidden-icons/CHANGELOG.md
  extensions/hidden-icons/assets/place-holder.png
  extensions/hidden-icons/metadata/Metadata-1.png
  extensions/hidden-icons/metadata/Metadata-2.png
  extensions/hidden-icons/metadata/Metadata-3.png
  extensions/hidden-icons/metadata/hidden-icons-1.png
  extensions/hidden-icons/metadata/hidden-icons-2.png
  extensions/hidden-icons/metadata/hidden-icons-3.png
  extensions/hidden-icons/package-lock.json
  extensions/hidden-icons/package.json
  extensions/hidden-icons/src/find-hidden-icon.tsx
  extensions/hidden-icons/src/hooks/hooks.ts
  extensions/hidden-icons/src/score-page.tsx
  extensions/hidden-icons/src/utils/common-utils.ts
  extensions/hidden-icons/src/utils/constants.ts
Labels: extension fix / improvement, OP is author, extension: /extensions/hidden-icons

#3660 New extension: Curator.bio
  extensions/curator-bio/.eslintrc.json
  extensions/curator-bio/.gitignore
  extensions/curator-bio/.prettierrc
  extensions/curator-bio/CHANGELOG.md
  extensions/curator-bio/README.md
  extensions/curator-bio/assets/icon.png
  extensions/curator-bio/metadata/Metadata-1.png
  extensions/curator-bio/metadata/Metadata-2.png
  extensions/curator-bio/metadata/Metadata-3.png
  extensions/curator-bio/package-lock.json
  extensions/curator-bio/package.json
  extensions/curator-bio/src/components/Collection.tsx
  extensions/curator-bio/src/components/ErrorView.tsx
  extensions/curator-bio/src/components/Item/ItemDetail.tsx
  extensions/curator-bio/src/components/Item/hooks.ts
  extensions/curator-bio/src/components/UserView.tsx
  extensions/curator-bio/src/discover.tsx
  extensions/curator-bio/src/feed.tsx
  extensions/curator-bio/src/lib/api.ts
  extensions/curator-bio/src/lib/cacheStore.js
  extensions/curator-bio/src/lib/hooks.ts
  extensions/curator-bio/src/lib/preference.ts
  extensions/curator-bio/src/lib/types.ts
  extensions/curator-bio/src/lib/utils.ts
  extensions/curator-bio/src/my-page.tsx
  extensions/curator-bio/tsconfig.json
Labels: new extension

#3789 Sourcegraph: Search API capabilities updates
  extensions/sourcegraph/.gitattributes
  extensions/sourcegraph/CHANGELOG.md
  extensions/sourcegraph/package-lock.json
  extensions/sourcegraph/package.json
  extensions/sourcegraph/src/components/SearchCommand.tsx
  extensions/sourcegraph/src/hooks/search.tsx
  extensions/sourcegraph/src/sourcegraph/gql/apollo.ts
  extensions/sourcegraph/src/sourcegraph/gql/operations.ts
  extensions/sourcegraph/src/sourcegraph/stream-search/index.ts
  extensions/sourcegraph/src/sourcegraph/stream-search/stream.ts
Labels: extension fix / improvement, OP is author, extension: /extensions/sourcegraph

#3754 [Linear] Added rightclick support for menubar
  extensions/linear/CHANGELOG.md
  extensions/linear/package.json
  extensions/linear/src/unread-notifications.tsx
Labels: extension fix / improvement, extension: /extensions/linear

#3778 Update extension: Browsers Profiles
  extensions/browsers-profiles/CHANGELOG.md
  extensions/browsers-profiles/assets/icons/chromium.png
  extensions/browsers-profiles/assets/icons/firefox-nightly.png
  extensions/browsers-profiles/src/index.tsx
  extensions/browsers-profiles/src/lib/browsers.ts
  extensions/browsers-profiles/src/lib/supported-browsers.json
Labels: extension fix / improvement, OP is author, extension: /extensions/browsers-profiles

#3784 Multiple fixes and improvements
  extensions/safari/CHANGELOG.md
  extensions/safari/assets/sql-wasm.wasm
  extensions/safari/package-lock.json
  extensions/safari/package.json
  extensions/safari/src/cloud-tabs.tsx
  extensions/safari/src/components/AddToReadingListAction.tsx
  extensions/safari/src/components/CloseLocalTabAction.tsx
  extensions/safari/src/components/OpenTabAction.tsx
  extensions/safari/src/components/SearchInBrowserAction.tsx
  extensions/safari/src/hooks/useDevices.ts
  extensions/safari/src/hooks/useHistorySearch.ts
  extensions/safari/src/hooks/useSql.ts
  extensions/safari/src/search-history.tsx
  extensions/safari/src/utils.ts
Labels: extension fix / improvement, OP is author, extension: /extensions/safari

#3790 Update extension: clash
  extensions/clash/CHANGELOG.md
  extensions/clash/metadata/clash-1.png
  extensions/clash/metadata/clash-2.png
  extensions/clash/metadata/clash-3.png
  extensions/clash/metadata/clash-4.png
  extensions/clash/src/components/conns.tsx
  extensions/clash/src/components/logs.tsx
Labels: extension fix / improvement, OP is author, extension: /extensions/clash

#3768 [ray-so] Fix copy-image
  extensions/ray-so/package.json
  extensions/ray-so/src/generate-image.tsx
Labels: extension fix / improvement, extension: /extensions/ray-so

#3559 Add extension: Auto Quit App
  extensions/auto-quit-app/.eslintrc.json
  extensions/auto-quit-app/.gitignore
  extensions/auto-quit-app/.prettierrc
  extensions/auto-quit-app/CHANGELOG.md
  extensions/auto-quit-app/README.md
  extensions/auto-quit-app/assets/extension-icon.png
  extensions/auto-quit-app/assets/menu-bar-icon.png
  extensions/auto-quit-app/assets/menu-bar-icon@dark.png
  extensions/auto-quit-app/metadata/auto-quit-app-1.png
  extensions/auto-quit-app/package-lock.json
  extensions/auto-quit-app/package.json
  extensions/auto-quit-app/src/auto-quit-app.tsx
  extensions/auto-quit-app/src/hooks/hooks.ts
  extensions/auto-quit-app/src/types/preferences.ts
  extensions/auto-quit-app/src/types/type.ts
  extensions/auto-quit-app/src/utils/applescript-utils.ts
  extensions/auto-quit-app/src/utils/common-utils.ts
  extensions/auto-quit-app/tsconfig.json
Labels: new extension

#3735 Unicode: Added hardcoded aliases
  extensions/unicode-symbols/CHANGELOG.md
  extensions/unicode-symbols/assets/dataset.json
  extensions/unicode-symbols/metadata/unicode-symbols-1.png
  extensions/unicode-symbols/metadata/unicode-symbols-2.png
  extensions/unicode-symbols/package-lock.json
  extensions/unicode-symbols/package.json
  extensions/unicode-symbols/scripts/generate-dataset.ts
  extensions/unicode-symbols/src/dataset-manager.ts
  extensions/unicode-symbols/src/index.tsx
  extensions/unicode-symbols/src/use-recently-used-items.ts
Labels: extension fix / improvement, extension: /extensions/unicode-symbols

#3679 Gitlab: Optimze UI
  extensions/gitlab/CHANGELOG.md
  extensions/gitlab/assets/gitlab-dark.svg
  extensions/gitlab/assets/gitlab.png
  extensions/gitlab/assets/gitlab.svg
  extensions/gitlab/package-lock.json
  extensions/gitlab/package.json
  extensions/gitlab/src/components/branch.tsx
  extensions/gitlab/src/components/commits/item.tsx
  extensions/gitlab/src/components/commits/list.tsx
  extensions/gitlab/src/components/epics.tsx
  extensions/gitlab/src/components/groups.tsx
  extensions/gitlab/src/components/issues.tsx
  extensions/gitlab/src/components/jobs.tsx
  extensions/gitlab/src/components/label.tsx
  extensions/gitlab/src/components/milestones.tsx
  extensions/gitlab/src/components/mr.tsx
  extensions/gitlab/src/components/pipelines.tsx
  extensions/gitlab/src/components/project.tsx
  extensions/gitlab/src/components/project_label.tsx
  extensions/gitlab/src/components/project_nav.tsx
  extensions/gitlab/src/components/project_search.tsx
  extensions/gitlab/src/components/todo.tsx
  extensions/gitlab/src/components/users.tsx
  extensions/gitlab/src/gitlabapi.ts
  extensions/gitlab/src/icons.ts
  extensions/gitlab/src/todomenubar.tsx
  extensions/gitlab/src/utils.ts
  extensions/gitlab/tsconfig.json
Labels: extension fix / improvement, OP is author

#3173 New Extension: Monzo
  extensions/monzo/.eslintrc.json
  extensions/monzo/.gitignore
  extensions/monzo/.prettierrc
  extensions/monzo/CHANGELOG.md
  extensions/monzo/README.md
  extensions/monzo/assets/monzo.png
  extensions/monzo/assets/monzo_transparent.png
  extensions/monzo/metadata/monzo-1.png
  extensions/monzo/metadata/monzo-2.png
  extensions/monzo/metadata/monzo-3.png
  extensions/monzo/metadata/monzo-4.png
  extensions/monzo/metadata/monzo-5.png
  extensions/monzo/package-lock.json
  extensions/monzo/package.json
  extensions/monzo/src/components/accounts.tsx
  extensions/monzo/src/components/pots.tsx
  extensions/monzo/src/components/transactions.tsx
  extensions/monzo/src/lib/actions.ts
  extensions/monzo/src/lib/fetch_patch.ts
  extensions/monzo/src/lib/formatting.ts
  extensions/monzo/src/lib/monzo.ts
  extensions/monzo/src/lib/test_data.ts
  extensions/monzo/src/show_accounts.tsx
  extensions/monzo/src/transfer_money.tsx
  extensions/monzo/tsconfig.json
Labels: new extension

#3714 Add DAWA (Denmarks Address Web API) extension
  extensions/dawa/.eslintrc.json
  extensions/dawa/.gitignore
  extensions/dawa/.prettierrc
  extensions/dawa/CHANGELOG.md
  extensions/dawa/README.md
  extensions/dawa/assets/dawa_icon.png
  extensions/dawa/metadata/dawa-1.png
  extensions/dawa/package-lock.json
  extensions/dawa/package.json
  extensions/dawa/src/index.tsx
  extensions/dawa/tsconfig.json
Labels: new extension

#3553 Update iata-code-decoder to v1.2.0
  extensions/iata-code-decoder/CHANGELOG.md
  extensions/iata-code-decoder/package-lock.json
  extensions/iata-code-decoder/package.json
  extensions/iata-code-decoder/src/aircraft.tsx
  extensions/iata-code-decoder/src/airlines.tsx
  extensions/iata-code-decoder/src/airports.tsx
  extensions/iata-code-decoder/src/types.ts
  extensions/iata-code-decoder/src/utils.ts
Labels: extension fix / improvement, OP is author, extension: /extensions/iata-code-decoder

#3782 Create `Get favicon` extension
  extensions/get-favicon/.eslintrc.json
  extensions/get-favicon/.gitignore
  extensions/get-favicon/.prettierrc
  extensions/get-favicon/CHANGELOG.md
  extensions/get-favicon/README.md
  extensions/get-favicon/assets/copy.png
  extensions/get-favicon/assets/download.png
  extensions/get-favicon/assets/icon.png
  extensions/get-favicon/package-lock.json
  extensions/get-favicon/package.json
  extensions/get-favicon/src/copy.ts
  extensions/get-favicon/src/download.ts
  extensions/get-favicon/tsconfig.json
Labels: new extension

#3764 Update extension Anybox
  extensions/anybox/CHANGELOG.md
  extensions/anybox/package.json
  extensions/anybox/src/components/LinkItem.tsx
  extensions/anybox/src/utilities/searchRequest.tsx
Labels: extension fix / improvement, OP is author, extension: /extensions/anybox

#3766 Add laby.net extension
  extensions/laby-net/.eslintrc.json
  extensions/laby-net/.gitignore
  extensions/laby-net/.prettierrc
  extensions/laby-net/CHANGELOG.md
  extensions/laby-net/README.md
  extensions/laby-net/assets/command-icon.png
  extensions/laby-net/assets/list-icon.png
  extensions/laby-net/metadata/laby-net-1.png
  extensions/laby-net/metadata/laby-net-2.png
  extensions/laby-net/metadata/laby-net-3.png
  extensions/laby-net/metadata/laby-net-4.png
  extensions/laby-net/metadata/laby-net-5.png
  extensions/laby-net/package-lock.json
  extensions/laby-net/package.json
  extensions/laby-net/src/profile-search.tsx
  extensions/laby-net/src/profile.tsx
  extensions/laby-net/src/service.ts
  extensions/laby-net/src/texture-search.tsx
  extensions/laby-net/tsconfig.json
Labels: new extension

#3767 Update Extension: Allow Spotify player update menu bar often than 1m
  extensions/spotify-player/CHANGELOG.md
  extensions/spotify-player/README.md
  extensions/spotify-player/package.json
Labels: extension fix / improvement, OP is author, extension: /extensions/spotify-player

#3726 Add Resmo Extension
  extensions/resmo/.eslintrc.json
  extensions/resmo/.gitignore
  extensions/resmo/.prettierrc
  extensions/resmo/CHANGELOG.md
  extensions/resmo/README.md
  extensions/resmo/assets/fallback.png
  extensions/resmo/assets/logo.png
  extensions/resmo/assets/noview.svg
  extensions/resmo/metadata/resmo-metadata0.png
  extensions/resmo/metadata/resmo-metadata1.png
  extensions/resmo/metadata/resmo-metadata2.png
  extensions/resmo/package-lock.json
  extensions/resmo/package.json
  extensions/resmo/src/allResources.tsx
  extensions/resmo/src/utils.tsx
  extensions/resmo/tsconfig.json
Labels: new extension

#3809 New Extension: Initium
  extensions/initium/.eslintrc.json
  extensions/initium/.gitignore
  extensions/initium/.prettierrc
  extensions/initium/CHANGELOG.md
  extensions/initium/README.md
  extensions/initium/assets/command-icon.png
  extensions/initium/metadata/initium-1.png
  extensions/initium/metadata/initium-2.png
  extensions/initium/metadata/initium-3.png
  extensions/initium/package-lock.json
  extensions/initium/package.json
  extensions/initium/src/index.tsx
  extensions/initium/tsconfig.json
Labels: new extension

#3802 feat(openstreetmap-search): added openstreetmap search, travel to/home
  extensions/openstreetmap-search/.eslintrc.json
  extensions/openstreetmap-search/.prettierrc
  extensions/openstreetmap-search/CHANGELOG.md
  extensions/openstreetmap-search/README.md
  extensions/openstreetmap-search/assets/openstreetmap-icon.png
  extensions/openstreetmap-search/metadata/openstreetmap-search-2.png
  extensions/openstreetmap-search/metadata/openstreetmap-search-3.png
  extensions/openstreetmap-search/metadata/openstreetmap-search-4.png
  extensions/openstreetmap-search/metadata/openstreetmap-search-5.png
  extensions/openstreetmap-search/package-lock.json
  extensions/openstreetmap-search/package.json
  extensions/openstreetmap-search/src/interfaces/index.ts
  extensions/openstreetmap-search/src/search.tsx
  extensions/openstreetmap-search/src/travel-home.tsx
  extensions/openstreetmap-search/src/travel-to.tsx
  extensions/openstreetmap-search/src/utils/index.ts
  extensions/openstreetmap-search/tsconfig.json
Labels: new extension

#3800 Update README.md
  extensions/monzo/README.md
Labels: extension fix / improvement, extension: /extensions/monzo

#3774 New Extension: Hatena Bookmark
  extensions/hatena-bookmark/.eslintrc.json
  extensions/hatena-bookmark/.prettierrc
  extensions/hatena-bookmark/CHANGELOG.md
  extensions/hatena-bookmark/README.md
  extensions/hatena-bookmark/assets/icon.png
  extensions/hatena-bookmark/metadata/hatena-bookmark-1.png
  extensions/hatena-bookmark/package-lock.json
  extensions/hatena-bookmark/package.json
  extensions/hatena-bookmark/src/frontpage.tsx
  extensions/hatena-bookmark/src/hotEntryListItem.tsx
  extensions/hatena-bookmark/src/useStories.tsx
  extensions/hatena-bookmark/tsconfig.json
Labels: new extension

#3821 hypersonic: v2.0.1
  extensions/hypersonic/CHANGELOG.md
  extensions/hypersonic/package-lock.json
  extensions/hypersonic/package.json
  extensions/hypersonic/src/features/todo-list/components/done-work-detail.tsx
  extensions/hypersonic/src/features/todo-list/hooks/use-todo-list.ts
  extensions/hypersonic/src/features/todo-list/todo-list.tsx
  extensions/hypersonic/src/services/notion/operations/create-todo.ts
  extensions/hypersonic/src/services/notion/operations/get-databases.ts
  extensions/hypersonic/src/services/notion/utils/normalize-user.ts
Labels: extension fix / improvement, extension: hypersonic

#3824 [Hypersonic] Remove "Added to Hypersonic: " when copying a new task's URL
  extensions/hypersonic/src/features/todo-list/hooks/use-todo-list.ts
Labels: extension fix / improvement, extension: hypersonic

#3769 add liba-ro
  extensions/liba-ro/.eslintrc.json
  extensions/liba-ro/.gitignore
  extensions/liba-ro/.prettierrc
  extensions/liba-ro/CHANGELOG.md
  extensions/liba-ro/README.md
  extensions/liba-ro/assets/logo.png
  extensions/liba-ro/assets/logo@dark.png
  extensions/liba-ro/metadata/liba-ro_shortener-1.png
  extensions/liba-ro/metadata/liba-ro_shortener-2.png
  extensions/liba-ro/metadata/liba-ro_shortener-3.png
  extensions/liba-ro/package-lock.json
  extensions/liba-ro/package.json
  extensions/liba-ro/src/index.tsx
  extensions/liba-ro/tsconfig.json
Labels: new extension

#3825 [Google Search] Improve extension functionality
  extensions/google-search/CHANGELOG.md
  extensions/google-search/metadata/google-search-1.png
  extensions/google-search/metadata/google-search-2.png
  extensions/google-search/package-lock.json
  extensions/google-search/package.json
  extensions/google-search/src/index.tsx
  extensions/google-search/src/utils/handleResults.ts
  extensions/google-search/src/utils/types.ts
  extensions/google-search/src/utils/useSearch.tsx
Labels: extension fix / improvement, OP is author, extension: google-search

#3814 Add Hubspot Extenstion
  extensions/hubspot/.eslintrc.json
  extensions/hubspot/.prettierrc
  extensions/hubspot/CHANGELOG.md
  extensions/hubspot/README.md
  extensions/hubspot/assets/extension_icon.png
  extensions/hubspot/assets/noview.png
  extensions/hubspot/assets/noview.svg
  extensions/hubspot/metadata/hubspot-1.png
  extensions/hubspot/metadata/hubspot-2.png
  extensions/hubspot/package-lock.json
  extensions/hubspot/package.json
  extensions/hubspot/src/contacts.tsx
  extensions/hubspot/src/deals.tsx
  extensions/hubspot/src/hooks/useContacts.ts
  extensions/hubspot/src/hooks/useDeals.tsx
  extensions/hubspot/src/types/contact.ts
  extensions/hubspot/src/types/deal.ts
  extensions/hubspot/tsconfig.json
Labels: new extension

#3828 Linear: Update screenshots
  extensions/linear/metadata/linear-01.png
  extensions/linear/metadata/linear-02.png
  extensions/linear/metadata/linear-03.png
  extensions/linear/metadata/linear-1.png
  extensions/linear/metadata/linear-2.png
  extensions/linear/metadata/linear-3.png
  extensions/linear/metadata/linear-4.png
Labels: extension fix / improvement, OP is contributor, extension: linear

#3770 [AWS] Revamp extension
  extensions/amazon-aws/CHANGELOG.md
  extensions/amazon-aws/README.md
  extensions/amazon-aws/assets/aws-logo.png
  extensions/amazon-aws/assets/cloudformation.png
  extensions/amazon-aws/assets/command-icon.png
  extensions/amazon-aws/assets/dynamodb.png
  extensions/amazon-aws/assets/ec2.png
  extensions/amazon-aws/assets/ecs.png
  extensions/amazon-aws/assets/lambda.png
  extensions/amazon-aws/assets/sqs.png
  extensions/amazon-aws/metadata/screenshot-1.png
  extensions/amazon-aws/metadata/screenshot-2.png
  extensions/amazon-aws/metadata/screenshot-3.png
  extensions/amazon-aws/metadata/screenshot-4.png
  extensions/amazon-aws/package-lock.json
  extensions/amazon-aws/package.json
  extensions/amazon-aws/src/aws-profile-dropdown.tsx
  extensions/amazon-aws/src/cloudformation.tsx
  extensions/amazon-aws/src/codepipeline.tsx
  extensions/amazon-aws/src/console.tsx
  extensions/amazon-aws/src/dynamodb.tsx
  extensions/amazon-aws/src/ec2.tsx
  extensions/amazon-aws/src/ecs.tsx
  extensions/amazon-aws/src/lambda.tsx
  extensions/amazon-aws/src/s3.tsx
  extensions/amazon-aws/src/sqs.tsx
Labels: extension fix / improvement, OP is contributor

#3837 New Commands to the hubspot extension V1
  extensions/hubspot/CHANGELOG.md
  extensions/hubspot/package-lock.json
  extensions/hubspot/package.json
  extensions/hubspot/src/calls.tsx
  extensions/hubspot/src/communications.tsx
  extensions/hubspot/src/hooks/useCalls.tsx
  extensions/hubspot/src/hooks/useCommunications.tsx
  extensions/hubspot/src/types/call.ts
  extensions/hubspot/src/types/communications.ts
  package-lock.json
Labels: extension fix / improvement, OP is author, OP is contributor, extension: hubspot

#3839 [Google Search] Fix error coming up for specific searches
  extensions/google-search/CHANGELOG.md
  extensions/google-search/src/index.tsx
  extensions/google-search/src/utils/handleResults.ts
Labels: extension fix / improvement, OP is author, extension: google-search

#3831 [Coffee] Rewrite
  extensions/coffee/CHANGELOG.md
  extensions/coffee/assets/coffee-off.png
  extensions/coffee/assets/coffee.png
  extensions/coffee/assets/coffeedark-off.png
  extensions/coffee/assets/coffeedark.png
  extensions/coffee/package-lock.json
  extensions/coffee/package.json
  extensions/coffee/src/caffeinate.ts
  extensions/coffee/src/caffeinateFor.tsx
  extensions/coffee/src/caffeinateToggle.ts
  extensions/coffee/src/caffeinateWhile.tsx
  extensions/coffee/src/caffeinationStatus.tsx
  extensions/coffee/src/decaffeinate.ts
  extensions/coffee/src/index.tsx
  extensions/coffee/src/interfaces.ts
  extensions/coffee/src/toggleCaffeinate.ts
  extensions/coffee/src/utils.ts
  extensions/coffee/tsconfig.json
Labels: extension fix / improvement, extension: coffee

#3842 Added custom timer to menubar
  extensions/timers/CHANGELOG.md
  extensions/timers/package-lock.json
  extensions/timers/package.json
  extensions/timers/src/timersMenuBar.tsx
Labels: extension fix / improvement, OP is contributor, extension: timers

#3810 GitLab: Fix crash when project name is empty
  extensions/gitlab/CHANGELOG.md
  extensions/gitlab/src/components/cache_actions.tsx
  extensions/gitlab/src/components/epics.tsx
  extensions/gitlab/src/components/event.tsx
  extensions/gitlab/src/components/groups.tsx
  extensions/gitlab/src/components/issues.tsx
  extensions/gitlab/src/components/mr.tsx
  extensions/gitlab/src/components/project.tsx
  extensions/gitlab/src/components/project_search.tsx
  extensions/gitlab/src/components/todo.tsx
  extensions/gitlab/src/gitlabapi.ts
  extensions/gitlab/src/todomenubar.tsx
  extensions/gitlab/src/utils.ts
Labels: extension fix / improvement, OP is author, extension: gitlab

#3806 [Apple Notes] #3652 Correct issue where searching for notes failed
  extensions/apple-notes/CHANGELOG.md
  extensions/apple-notes/src/index.tsx
Labels: extension fix / improvement, OP is contributor

#3859 Added advice slip extension
  extensions/advice-slip/.eslintrc.json
  extensions/advice-slip/.gitignore
  extensions/advice-slip/.prettierrc
  extensions/advice-slip/CHANGELOG.md
  extensions/advice-slip/README.md
  extensions/advice-slip/assets/advice.png
  extensions/advice-slip/metadata/advice-slip-1.png
  extensions/advice-slip/package-lock.json
  extensions/advice-slip/package.json
  extensions/advice-slip/src/get-advice.tsx
  extensions/advice-slip/tsconfig.json
Labels: new extension

#3843 [AWS] Add CloudWatch Logs & SSM Parameters Command
  extensions/amazon-aws/CHANGELOG.md
  extensions/amazon-aws/README.md
  extensions/amazon-aws/package-lock.json
  extensions/amazon-aws/package.json
  extensions/amazon-aws/src/cloudwatch.tsx
  extensions/amazon-aws/src/lambda.tsx
  extensions/amazon-aws/src/ssm.tsx
Labels: extension fix / improvement, OP is contributor, extension: aws

#3865 Linear: Ensure Avatar Icon is uppercase
  extensions/linear/src/helpers/users.ts
Labels: extension fix / improvement, OP is contributor, extension: linear

#3804 Publishing Greip to Raycast store.
  extensions/greip/.eslintrc.json
  extensions/greip/.gitignore
  extensions/greip/.prettierrc
  extensions/greip/CHANGELOG.md
  extensions/greip/README.md
  extensions/greip/assets/greip.png
  extensions/greip/metadata/greip-1.png
  extensions/greip/metadata/greip-2.png
  extensions/greip/metadata/greip-3.png
  extensions/greip/metadata/greip-4.png
  extensions/greip/metadata/greip-5.png
  extensions/greip/package-lock.json
  extensions/greip/package.json
  extensions/greip/src/badWord.tsx
  extensions/greip/src/country.tsx
  extensions/greip/src/data/countries.json
  extensions/greip/src/index.tsx
  extensions/greip/src/types/form.ts
  extensions/greip/src/types/preferences.ts
  extensions/greip/src/types/response.ts
  extensions/greip/src/types/result.ts
  extensions/greip/src/utils.tsx
  extensions/greip/tsconfig.json
Labels: new extension

#3791 feat(browser history): add Chrome, Firefox, Safari, Edge, Brave, Vivaldi history search
  extensions/browser-history/.eslintrc.json
  extensions/browser-history/.gitignore
  extensions/browser-history/.prettierrc
  extensions/browser-history/CHANGELOG.md
  extensions/browser-history/README.md
  extensions/browser-history/assets/brave-logo.png
  extensions/browser-history/assets/chrome-logo.png
  extensions/browser-history/assets/edge-logo.png
  extensions/browser-history/assets/firefox-logo.png
  extensions/browser-history/assets/icon-small.png
  extensions/browser-history/assets/icon.png
  extensions/browser-history/assets/safari-logo.png
  extensions/browser-history/assets/vivaldi-logo.png
  extensions/browser-history/metadata/browser-history-1.png
  extensions/browser-history/metadata/browser-history-2.png
  extensions/browser-history/metadata/browser-history-3.png
  extensions/browser-history/metadata/browser-history-4.png
  extensions/browser-history/package-lock.json
  extensions/browser-history/package.json
  extensions/browser-history/src/actions/index.ts
  extensions/browser-history/src/components/actions.tsx
  extensions/browser-history/src/components/index.tsx
  extensions/browser-history/src/components/list.tsx
  extensions/browser-history/src/hooks/useHistorySearch.tsx
  extensions/browser-history/src/interfaces/index.ts
  extensions/browser-history/src/search-history.tsx
  extensions/browser-history/src/util/index.ts
  extensions/browser-history/tsconfig.json
Labels: new extension

#3822 added plausible-analytics extension
  extensions/plausible-analytics/.eslintrc.json
  extensions/plausible-analytics/.gitignore
  extensions/plausible-analytics/.prettierrc
  extensions/plausible-analytics/CHANGELOG.md
  extensions/plausible-analytics/README.md
  extensions/plausible-analytics/assets/command-icon.png
  extensions/plausible-analytics/package-lock.json
  extensions/plausible-analytics/package.json
  extensions/plausible-analytics/src/api.ts
  extensions/plausible-analytics/src/index.tsx
  extensions/plausible-analytics/src/storage.ts
  extensions/plausible-analytics/src/types.ts
  extensions/plausible-analytics/tsconfig.json
Labels: new extension

#3823 [BItfinex] Improve extension
  extensions/bitfinex/CHANGELOG.md
  extensions/bitfinex/README.md
  extensions/bitfinex/media/preference_1.png
  extensions/bitfinex/media/preference_2.png
  extensions/bitfinex/package-lock.json
  extensions/bitfinex/package.json
  extensions/bitfinex/src/api.ts
  extensions/bitfinex/src/components/BatchCreateOfferForm.tsx
  extensions/bitfinex/src/components/CreateOfferForm.tsx
  extensions/bitfinex/src/components/EditOfferForm.tsx
  extensions/bitfinex/src/components/OfferListItem.tsx
  extensions/bitfinex/src/cron-task.ts
  extensions/bitfinex/src/funding-interests.tsx
  extensions/bitfinex/src/funding-offers.tsx
  extensions/bitfinex/src/lending-rates.tsx
  extensions/bitfinex/src/lib/api.ts
  extensions/bitfinex/src/lib/bitfinex.d.ts
  extensions/bitfinex/src/lib/constants.ts
  extensions/bitfinex/src/lib/display-notification.d.ts
  extensions/bitfinex/src/lib/formUtils.ts
  extensions/bitfinex/src/lib/hooks.ts
  extensions/bitfinex/src/lib/lendingRatesUtils.ts
  extensions/bitfinex/src/lib/preference.ts
  extensions/bitfinex/src/lib/tasks/autoRenewOrders.ts
  extensions/bitfinex/src/lib/tasks/checkAvailableFunding.ts
  extensions/bitfinex/src/lib/tasks/checkLendingRates.ts
  extensions/bitfinex/src/lib/tasks/index.ts
  extensions/bitfinex/src/lib/tasks/utils.ts
  extensions/bitfinex/src/lib/utils.ts
  extensions/bitfinex/src/preference.ts
Labels: extension fix / improvement, OP is author, extension: bitfinex

#3868 [Fix Bug] Update extension: Menubar Weather
  extensions/menubar-weather/CHANGELOG.md
  extensions/menubar-weather/src/hooks/hooks.ts
Labels: extension fix / improvement, OP is author, extension: menubar-weather

#3586 Add new extension: Flaticon — Search Icons
  extensions/flaticon/.eslintrc.json
  extensions/flaticon/.gitignore
  extensions/flaticon/.prettierrc
  extensions/flaticon/CHANGELOG.md
  extensions/flaticon/README.md
  extensions/flaticon/assets/command-icon-small.png
  extensions/flaticon/assets/command-icon.png
  extensions/flaticon/metadata/flaticon-1.png
  extensions/flaticon/package-lock.json
  extensions/flaticon/package.json
  extensions/flaticon/src/commandSearch.tsx
  extensions/flaticon/src/components/EmptyView.tsx
  extensions/flaticon/src/components/ErrorView.tsx
  extensions/flaticon/src/components/IconItem.tsx
  extensions/flaticon/src/components/NotFoundView.tsx
  extensions/flaticon/src/entities/FlatIcon.ts
  extensions/flaticon/src/entities/Token.ts
  extensions/flaticon/src/flows/bootAuthToken.ts
  extensions/flaticon/src/flows/issueAuthToken.ts
  extensions/flaticon/src/flows/searchIcons.ts
  extensions/flaticon/src/functions/copyFileToClipboard.ts
  extensions/flaticon/src/hooks/onAuth.ts
  extensions/flaticon/src/hooks/onSearchIcons.ts
  extensions/flaticon/tsconfig.json
Labels: new extension

#3693 Add new (more flexible) main command to Base64 Extension
  extensions/base64/CHANGELOG.md
  extensions/base64/metadata/base64-1.png
  extensions/base64/metadata/base64-2.png
  extensions/base64/package-lock.json
  extensions/base64/package.json
  extensions/base64/src/index.tsx
Labels: extension fix / improvement, extension: base64

#3501 fix: quit app before state change and show hud
  extensions/quit-applications/CHANGELOG.md
  extensions/quit-applications/src/index.tsx
Labels: extension fix / improvement, extension: quit-applications

#3597 Extension/todoist menu bar tasks
  extensions/todoist/CHANGELOG.md
  extensions/todoist/assets/icon.png
  extensions/todoist/assets/icon@dark.png
  extensions/todoist/package-lock.json
  extensions/todoist/package.json
  extensions/todoist/src/components/MenubarTask.tsx
  extensions/todoist/src/menubar.tsx
Labels: extension fix / improvement, status: blocked by API

#3864 [Linear]: Add new accessories in list items
  extensions/linear/CHANGELOG.md
  extensions/linear/package-lock.json
  extensions/linear/package.json
  extensions/linear/src/components/IssueListItem.tsx
  extensions/linear/src/helpers/cycles.ts
Labels: extension fix / improvement, OP is author, extension: linear

#3765 [open-in-visual-studio-code] Also work with VSCodium
  extensions/open-in-visual-studio-code/package.json
  extensions/open-in-visual-studio-code/src/index.ts
Labels: extension fix / improvement

#3867 [AWS]: Add Secrets Manager
  extensions/amazon-aws/CHANGELOG.md
  extensions/amazon-aws/README.md
  extensions/amazon-aws/package-lock.json
  extensions/amazon-aws/package.json
  extensions/amazon-aws/src/secrets.tsx
Labels: extension fix / improvement, extension: aws

#3716 [capture] Updates extension
  extensions/capture/CHANGELOG.md
  extensions/capture/README.md
  extensions/capture/assets/demo-configure-jwt.png
  extensions/capture/assets/demo-view-jwt.png
  extensions/capture/media/demo-configure-jwt.png
  extensions/capture/media/demo-view-jwt.png
  extensions/capture/metadata/demo-capture.png
  extensions/capture/package-lock.json
  extensions/capture/package.json
  extensions/capture/src/index.tsx
  extensions/capture/src/useEnv.tsx
Labels: extension fix / improvement, OP is author, extension: capture

#3783 feat(extension): add extension to quick search and copy common regula…
  extensions/search-regexp/.eslintrc.json
  extensions/search-regexp/.gitignore
  extensions/search-regexp/.prettierrc
  extensions/search-regexp/CHANGELOG.md
  extensions/search-regexp/README.md
  extensions/search-regexp/assets/command-icon.png
  extensions/search-regexp/assets/expressions.json
  extensions/search-regexp/metadata/search-regexp-default.png
  extensions/search-regexp/metadata/search-regexp-filtered.png
  extensions/search-regexp/metadata/search-regexp-show-in-browser.png
  extensions/search-regexp/metadata/search-regexp-zip-codes.png
  extensions/search-regexp/package-lock.json
  extensions/search-regexp/package.json
  extensions/search-regexp/src/components/CategoriesDropdown.tsx
  extensions/search-regexp/src/components/ZipCodeList.tsx
  extensions/search-regexp/src/hooks/useZipcodes.ts
  extensions/search-regexp/src/icons.ts
  extensions/search-regexp/src/searchRegexp.tsx
  extensions/search-regexp/src/types.ts
  extensions/search-regexp/src/utilities.ts
  extensions/search-regexp/tsconfig.json
Labels: new extension

#3796 Adding a new command to Folder-Search - Send Finder Item to Folder.
  extensions/folder-search/CHANGELOG.md
  extensions/folder-search/package-lock.json
  extensions/folder-search/package.json
  extensions/folder-search/src/search.tsx
Labels: extension fix / improvement, extension: folder-search

#3880 [bible] Fix search lag, run maintenance
  extensions/bible/CHANGELOG.md
  extensions/bible/assets/bible-versions.json
  extensions/bible/package-lock.json
  extensions/bible/package.json
  extensions/bible/src/bibleSearch.tsx
Labels: extension fix / improvement, OP is author, extension: bible

#3826 add new extension: Deduplicator
  extensions/deduplicator/.eslintrc.json
  extensions/deduplicator/.gitignore
  extensions/deduplicator/.prettierrc
  extensions/deduplicator/CHANGELOG.md
  extensions/deduplicator/README.md
  extensions/deduplicator/assets/command-icon.png
  extensions/deduplicator/metadata/1.png
  extensions/deduplicator/package-lock.json
  extensions/deduplicator/package.json
  extensions/deduplicator/src/deduplicator.tsx
  extensions/deduplicator/tsconfig.json
Labels: new extension

#3892 [Organization Extension]: Transfer Hypersonic
  .github/public_raycast_extensions.txt
  extensions/hypersonic/package.json
Labels: extension fix / improvement, extension: hypersonic

#3895 Prepare Typefully Transfer
  .github/public_raycast_extensions.txt
  extensions/typefully/package.json
Labels: extension fix / improvement, extension: typefully

#3890 fix: Fix item hits cannot be updated
  extensions/cheetah/.eslintrc.json
  extensions/cheetah/CHANGELOG.md
  extensions/cheetah/package.json
  extensions/cheetah/src/lib/components/actions.tsx
  extensions/cheetah/src/lib/components/applicationList.tsx
  extensions/cheetah/src/lib/components/searchList.tsx
Labels: extension fix / improvement, OP is author, extension: cheetah

#3898 Transfer Supabase to Organization
  .github/public_raycast_extensions.txt
  extensions/supabase-docs/package.json
Labels: extension fix / improvement, extension: supabase-docs

#3899 Prepare transfer
  .github/public_raycast_extensions.txt
  extensions/cal-com-share-meeting-links/package.json
Labels: extension fix / improvement, extension: cal-com-share-meeting-links

#3900 Transfer Supernotes to Organization
  .github/public_raycast_extensions.txt
  extensions/supernotes/package.json
Labels: extension fix / improvement, extension: supernotes

#3883 Promote the Github extension out of beta
  extensions/github/package-lock.json
  extensions/github/package.json
Labels: extension fix / improvement, extension: github-beta

#3904 Transfer Resmo to Organisation
  .github/public_raycast_extensions.txt
  extensions/resmo/package.json
Labels: extension fix / improvement, extension: resmo

#3905 Transfer Ploi to Organization
  .github/public_raycast_extensions.txt
  extensions/ploi/package.json
Labels: extension fix / improvement, extension: ploi

#3762 Add Elron train times extension
  extensions/elron/.eslintrc.json
  extensions/elron/.prettierrc
  extensions/elron/CHANGELOG.md
  extensions/elron/README.md
  extensions/elron/assets/elron-icon.png
  extensions/elron/assets/list-icon.png
  extensions/elron/media/screenshot1.png
  extensions/elron/media/screenshot2.png
  extensions/elron/media/screenshot3.png
  extensions/elron/metadata/elron-1.png
  extensions/elron/metadata/elron-2.png
  extensions/elron/metadata/elron-3.png
  extensions/elron/package-lock.json
  extensions/elron/package.json
  extensions/elron/src/index.tsx
  extensions/elron/src/stops.tsx
  extensions/elron/src/times.tsx
  extensions/elron/tsconfig.json
Labels: new extension

#3919 Transfer Vercast to Vercel Organization
  .github/public_raycast_extensions.txt
  extensions/vercast/package.json
Labels: extension fix / improvement, extension: vercast

#3879 feat(arc): add command for creating new window
  extensions/arc/package-lock.json
  extensions/arc/package.json
  extensions/arc/src/actions.tsx
  extensions/arc/src/new-window.tsx
  extensions/arc/src/search-history.tsx
  extensions/arc/src/utils.ts
Labels: extension fix / improvement, extension: arc

#3928 Fix incorrect variable name in linear extension preference description
  extensions/linear/package.json
Labels: extension fix / improvement, extension: linear

#3946 [Search-mdn]: sync locale list
  extensions/search-mdn/CHANGELOG.md
  extensions/search-mdn/src/index.tsx
Labels: extension fix / improvement, OP is contributor, extension: search-mdn

#3945 [Things] Improved troubleshooting info on Things not open error
  extensions/things/CHANGELOG.md
  extensions/things/src/shared.ts
Labels: extension fix / improvement, extension: things

#3921 [TablePlus] Small improvements
  extensions/tableplus/CHANGELOG.md
  extensions/tableplus/package-lock.json
  extensions/tableplus/package.json
  extensions/tableplus/src/database_list.tsx
  extensions/tableplus/src/interfaces.ts
Labels: extension fix / improvement, OP is author, extension: tableplus

#3951 [Google Workspace]: Add open file location in browser action
  extensions/google-workspace/CHANGELOG.md
  extensions/google-workspace/src/api/getFiles.ts
  extensions/google-workspace/src/components/FileListItem.tsx
Labels: extension fix / improvement, OP is author, extension: google-workspace

#3953 Transfer Oh Dear to Organisation
  .github/public_raycast_extensions.txt
  extensions/ohdear/package.json
Labels: extension fix / improvement, extension: ohdear

#3807 Added grid support, pinned items, and filtering items
  extensions/visual-studio-code-recent-projects/assets/icon.png
  extensions/visual-studio-code-recent-projects/assets/remote.svg
  extensions/visual-studio-code-recent-projects/package.json
  extensions/visual-studio-code-recent-projects/src/grid-or-list.ts
  extensions/visual-studio-code-recent-projects/src/index.tsx
  extensions/visual-studio-code-recent-projects/src/pinned.tsx
  extensions/visual-studio-code-recent-projects/src/preferences.ts
  extensions/visual-studio-code-recent-projects/src/types.ts
Labels: extension fix / improvement, OP is contributor, extension: visual-studio-code

#2943 New Extension: Google Tasks
  extensions/google-tasks/.eslintrc.json
  extensions/google-tasks/.prettierrc
  extensions/google-tasks/CHANGELOG.md
  extensions/google-tasks/README.md
  extensions/google-tasks/assets/google-logo.png
  extensions/google-tasks/assets/google-tasks.png
  extensions/google-tasks/metadata/google-tasks-1.png
  extensions/google-tasks/metadata/google-tasks-2.png
  extensions/google-tasks/metadata/google-tasks-3.png
  extensions/google-tasks/metadata/google-tasks-4.png
  extensions/google-tasks/package-lock.json
  extensions/google-tasks/package.json
  extensions/google-tasks/src/api/endpoints.tsx
  extensions/google-tasks/src/api/oauth.tsx
  extensions/google-tasks/src/components/CreateTaskForm.tsx
  extensions/google-tasks/src/components/EditTaskForm.tsx
  extensions/google-tasks/src/components/EmtpyView.tsx
  extensions/google-tasks/src/components/ListView.tsx
  extensions/google-tasks/src/components/TaskItem.tsx
  extensions/google-tasks/src/types.ts
  extensions/google-tasks/src/utils.tsx
  extensions/google-tasks/src/view-lists.tsx
  extensions/google-tasks/tsconfig.json
Labels: new extension

#3835 feat(extension): add github cli manual
  extensions/github-cli-manual/.eslintrc.json
  extensions/github-cli-manual/.gitignore
  extensions/github-cli-manual/.prettierrc
  extensions/github-cli-manual/CHANGELOG.md
  extensions/github-cli-manual/README.md
  extensions/github-cli-manual/assets/empty-view.png
  extensions/github-cli-manual/assets/empty-view@dark.png
  extensions/github-cli-manual/assets/icon.png
  extensions/github-cli-manual/assets/icon@dark.png
  extensions/github-cli-manual/metadata/github-cli-manual-1.png
  extensions/github-cli-manual/metadata/github-cli-manual-2.png
  extensions/github-cli-manual/metadata/github-cli-manual-3.png
  extensions/github-cli-manual/package-lock.json
  extensions/github-cli-manual/package.json
  extensions/github-cli-manual/src/documentation/latest.ts
  extensions/github-cli-manual/src/index.tsx
  extensions/github-cli-manual/tsconfig.json
Labels: new extension

#3956 Added control/ctrl alias
  extensions/unicode-symbols/assets/dataset.json
  extensions/unicode-symbols/scripts/generate-dataset.ts
  extensions/unicode-symbols/src/index.tsx
Labels: extension fix / improvement, OP is contributor, extension: unicode-symbols

#3780 feat(firefox): added firefox extension
  extensions/mozilla-firefox/.eslintrc.json
  extensions/mozilla-firefox/.gitignore
  extensions/mozilla-firefox/.prettierrc
  extensions/mozilla-firefox/CHANGELOG.md
  extensions/mozilla-firefox/README.md
  extensions/mozilla-firefox/assets/firefox-logo.png
  extensions/mozilla-firefox/metadata/mozilla-firefox-1.png
  extensions/mozilla-firefox/metadata/mozilla-firefox-2.png
  extensions/mozilla-firefox/metadata/mozilla-firefox-3.png
  extensions/mozilla-firefox/metadata/mozilla-firefox-4.png
  extensions/mozilla-firefox/package-lock.json
  extensions/mozilla-firefox/package.json
  extensions/mozilla-firefox/src/actions/index.ts
  extensions/mozilla-firefox/src/components/FirefoxActions.tsx
  extensions/mozilla-firefox/src/components/FirefoxListEntries.tsx
  extensions/mozilla-firefox/src/components/error/NoBookmarksError.tsx
  extensions/mozilla-firefox/src/components/error/NotInstalledError.tsx
  extensions/mozilla-firefox/src/components/error/UnknownError.tsx
  extensions/mozilla-firefox/src/components/error/index.ts
  extensions/mozilla-firefox/src/components/index.tsx
  extensions/mozilla-firefox/src/constants.ts
  extensions/mozilla-firefox/src/hooks/useBookmarkSearch.tsx
  extensions/mozilla-firefox/src/hooks/useHistorySearch.tsx
  extensions/mozilla-firefox/src/interfaces/index.ts
  extensions/mozilla-firefox/src/new-tab.tsx
  extensions/mozilla-firefox/src/search-bookmarks.tsx
  extensions/mozilla-firefox/src/search-history.tsx
  extensions/mozilla-firefox/src/util/index.ts
  extensions/mozilla-firefox/tsconfig.json
Labels: new extension

#3918 feat(browser-history): added Arc, Opera, Iridium, Orion browser history, custom profile paths, custom default browser shortcut
  extensions/browser-history/CHANGELOG.md
  extensions/browser-history/README.md
  extensions/browser-history/assets/arc-logo.svg
  extensions/browser-history/assets/iridium-logo.png
  extensions/browser-history/assets/opera-logo.png
  extensions/browser-history/assets/orion-logo.png
  extensions/browser-history/package.json
  extensions/browser-history/src/actions/index.ts
  extensions/browser-history/src/components/BrowserHistoryActions.tsx
  extensions/browser-history/src/components/ListEntries.tsx
  extensions/browser-history/src/components/actions.tsx
  extensions/browser-history/src/components/error/NotInstalledError.tsx
  extensions/browser-history/src/components/error/UnknownError.tsx
  extensions/browser-history/src/components/error/index.ts
  extensions/browser-history/src/components/index.tsx
  extensions/browser-history/src/components/list.tsx
  extensions/browser-history/src/constants.ts
  extensions/browser-history/src/hooks/useHistorySearch.tsx
  extensions/browser-history/src/interfaces/index.ts
  extensions/browser-history/src/search-history.tsx
  extensions/browser-history/src/util/index.ts
Labels: extension fix / improvement, OP is author, extension: browser-history

#3871 Add new "Inpost Parcel Lockers" extension
  extensions/inpost-parcel-lockers/.eslintrc.json
  extensions/inpost-parcel-lockers/.gitignore
  extensions/inpost-parcel-lockers/.prettierrc
  extensions/inpost-parcel-lockers/CHANGELOG.md
  extensions/inpost-parcel-lockers/LICENSE.md
  extensions/inpost-parcel-lockers/README.md
  extensions/inpost-parcel-lockers/assets/command-icon.png
  extensions/inpost-parcel-lockers/metadata/find-lockers.png
  extensions/inpost-parcel-lockers/package-lock.json
  extensions/inpost-parcel-lockers/package.json
  extensions/inpost-parcel-lockers/src/favourite-lockers.tsx
  extensions/inpost-parcel-lockers/src/find-lockers.tsx
  extensions/inpost-parcel-lockers/src/shared.tsx
  extensions/inpost-parcel-lockers/src/storage.ts
  extensions/inpost-parcel-lockers/tsconfig.json
Labels: new extension

#3875 Add pick-random extension
  extensions/pick-random/.eslintrc.json
  extensions/pick-random/.prettierrc
  extensions/pick-random/CHANGELOG.md
  extensions/pick-random/README.md
  extensions/pick-random/assets/command-icon.png
  extensions/pick-random/package-lock.json
  extensions/pick-random/package.json
  extensions/pick-random/src/pick-character.ts
  extensions/pick-random/src/pick-emoji.ts
  extensions/pick-random/src/pick-figure.ts
  extensions/pick-random/tsconfig.json
Labels: new extension

#3931 feat(opera): added opera extension
  extensions/opera/.eslintrc.json
  extensions/opera/.prettierrc
  extensions/opera/CHANGELOG.md
  extensions/opera/README.md
  extensions/opera/assets/opera-logo.png
  extensions/opera/metadata/opera-1.png
  extensions/opera/metadata/opera-2.png
  extensions/opera/metadata/opera-3.png
  extensions/opera/metadata/opera-4.png
  extensions/opera/package-lock.json
  extensions/opera/package.json
  extensions/opera/src/actions/index.ts
  extensions/opera/src/components/OperaActions.tsx
  extensions/opera/src/components/OperaListItems.tsx
  extensions/opera/src/components/error/NoBookmarksError.tsx
  extensions/opera/src/components/error/NotInstalledError.tsx
  extensions/opera/src/components/error/UnknownError.tsx
  extensions/opera/src/components/error/index.ts
  extensions/opera/src/components/index.ts
  extensions/opera/src/constants.ts
  extensions/opera/src/hooks/useBookmarkSearch.tsx
  extensions/opera/src/hooks/useHistorySearch.tsx
  extensions/opera/src/hooks/useTabSearch.tsx
  extensions/opera/src/interfaces/index.ts
  extensions/opera/src/new-tab.tsx
  extensions/opera/src/search-bookmarks.tsx
  extensions/opera/src/search-history.tsx
  extensions/opera/src/search-tab.tsx
  extensions/opera/src/util/index.ts
  extensions/opera/tsconfig.json
Labels: new extension

#3929 feat(vivaldi): added vivaldi extension
  extensions/vivaldi/.eslintrc.json
  extensions/vivaldi/.prettierrc
  extensions/vivaldi/CHANGELOG.md
  extensions/vivaldi/README.md
  extensions/vivaldi/assets/vivaldi-logo.png
  extensions/vivaldi/metadata/vivaldi-1.png
  extensions/vivaldi/metadata/vivaldi-2.png
  extensions/vivaldi/metadata/vivaldi-3.png
  extensions/vivaldi/metadata/vivaldi-4.png
  extensions/vivaldi/metadata/vivaldi-5.png
  extensions/vivaldi/package-lock.json
  extensions/vivaldi/package.json
  extensions/vivaldi/src/actions/index.ts
  extensions/vivaldi/src/components/VivaldiActions.tsx
  extensions/vivaldi/src/components/VivaldiListItems.tsx
  extensions/vivaldi/src/components/error/NoBookmarksError.tsx
  extensions/vivaldi/src/components/error/NotInstalledError.tsx
  extensions/vivaldi/src/components/error/UnknownError.tsx
  extensions/vivaldi/src/components/error/index.ts
  extensions/vivaldi/src/components/index.ts
  extensions/vivaldi/src/constants.ts
  extensions/vivaldi/src/hooks/useBookmarkSearch.tsx
  extensions/vivaldi/src/hooks/useHistorySearch.tsx
  extensions/vivaldi/src/hooks/useTabSearch.tsx
  extensions/vivaldi/src/interfaces/index.ts
  extensions/vivaldi/src/new-tab.tsx
  extensions/vivaldi/src/search-bookmarks.tsx
  extensions/vivaldi/src/search-history.tsx
  extensions/vivaldi/src/search-tab.tsx
  extensions/vivaldi/src/util/index.ts
  extensions/vivaldi/tsconfig.json
Labels: new extension

#3888 New Feedly extension
  extensions/feedly/.eslintrc.json
  extensions/feedly/.gitignore
  extensions/feedly/.nvmrc
  extensions/feedly/.prettierrc
  extensions/feedly/CHANGELOG.md
  extensions/feedly/README.md
  extensions/feedly/assets/command-icon.png
  extensions/feedly/components/Feed.tsx
  extensions/feedly/feedly.tsx
  extensions/feedly/metadata/feedly-1.png
  extensions/feedly/metadata/feedly-2.png
  extensions/feedly/metadata/feedly-3.png
  extensions/feedly/package-lock.json
  extensions/feedly/package.json
  extensions/feedly/src/components/Feed.tsx
  extensions/feedly/src/feedly.tsx
  extensions/feedly/src/types/collection.types.ts
  extensions/feedly/src/types/feed.types.ts
  extensions/feedly/tsconfig.json
  extensions/feedly/types/collection.types.ts
  extensions/feedly/types/feed.types.ts
Labels: new extension

#3920 [Raindrop.io] Adds filter by collections
  extensions/raindrop/CHANGELOG.md
  extensions/raindrop/package-lock.json
  extensions/raindrop/package.json
  extensions/raindrop/src/components/BookmarkItem.tsx
  extensions/raindrop/src/components/CollectionsDropdown.tsx
  extensions/raindrop/src/helpers/collections.ts
  extensions/raindrop/src/hooks/useBookmarks.tsx
  extensions/raindrop/src/hooks/useCollections.tsx
  extensions/raindrop/src/hooks/useRequest.tsx
  extensions/raindrop/src/hooks/useUser.tsx
  extensions/raindrop/src/latest_bookmarks.tsx
  extensions/raindrop/src/search.tsx
  extensions/raindrop/src/types.ts
  extensions/raindrop/src/utils.ts
Labels: extension fix / improvement, OP is author, extension: raindrop-io

#3967 feat(specify): display description in color tokens
  extensions/specify/package-lock.json
  extensions/specify/package.json
  extensions/specify/src/components/SearchColors/ColorListItem.tsx
  extensions/specify/src/hooks/useSpecifyHttpApi.ts
  extensions/specify/src/types/tokens.types.ts
Labels: extension fix / improvement, extension: specify

#3922 feat(github): Add colors and tags
  extensions/github/CHANGELOG.md
  extensions/github/package-lock.json
  extensions/github/package.json
  extensions/github/src/components/RepositoryListItem.tsx
  extensions/github/src/components/WorkflowRunListItem.tsx
  extensions/github/src/generated/graphql.ts
  extensions/github/src/helpers/pull-request.ts
Labels: extension fix / improvement, OP is author, extension: github

#3973 Fix typo in command description, clarify copy
  extensions/github/package.json
Labels: extension fix / improvement, extension: github

#3974 Emoji Search: Vendor `generate-emoji-list` and emoji data.
  extensions/emoji/CHANGELOG.md
  extensions/emoji/assets/11.0/emoji-test.txt
  extensions/emoji/assets/12.0/emoji-test.txt
  extensions/emoji/assets/12.1/emoji-test.txt
  extensions/emoji/assets/13.0/emoji-test.txt
  extensions/emoji/assets/13.1/emoji-test.txt
  extensions/emoji/assets/14.0/emoji-test.txt
  extensions/emoji/assets/4.0/emoji-test.txt
  extensions/emoji/assets/5.0/emoji-test.txt
  extensions/emoji/package-lock.json
  extensions/emoji/package.json
  extensions/emoji/src/emoji.tsx
  extensions/emoji/src/vendor/generate-emoji-list/createEmojiList.ts
  extensions/emoji/src/vendor/generate-emoji-list/emojiListTypes.ts
  extensions/emoji/src/vendor/generate-emoji-list/getEmojiShortCodes.ts
Labels: extension fix / improvement, extension: emoji

#3932 feat(iridium): added iridium extension
  extensions/iridium/.eslintrc.json
  extensions/iridium/.prettierrc
  extensions/iridium/CHANGELOG.md
  extensions/iridium/README.md
  extensions/iridium/assets/iridium-logo.png
  extensions/iridium/metadata/iridium-1.png
  extensions/iridium/metadata/iridium-2.png
  extensions/iridium/metadata/iridium-3.png
  extensions/iridium/metadata/iridium-4.png
  extensions/iridium/package-lock.json
  extensions/iridium/package.json
  extensions/iridium/src/actions/index.ts
  extensions/iridium/src/components/IridiumActions.tsx
  extensions/iridium/src/components/IridiumListsItems.tsx
  extensions/iridium/src/components/error/NoBookmarksError.tsx
  extensions/iridium/src/components/error/NotInstalledError.tsx
  extensions/iridium/src/components/error/UnknownError.tsx
  extensions/iridium/src/components/error/index.ts
  extensions/iridium/src/components/index.ts
  extensions/iridium/src/constants.ts
  extensions/iridium/src/hooks/useBookmarkSearch.tsx
  extensions/iridium/src/hooks/useHistorySearch.tsx
  extensions/iridium/src/hooks/useTabSearch.tsx
  extensions/iridium/src/interfaces/index.ts
  extensions/iridium/src/new-tab.tsx
  extensions/iridium/src/search-bookmarks.tsx
  extensions/iridium/src/search-history.tsx
  extensions/iridium/src/search-tab.tsx
  extensions/iridium/src/util/index.ts
  extensions/iridium/tsconfig.json
Labels: new extension

#3893 feat(aws): added ecs/lambda resource drill-down for quick debugging
  extensions/amazon-aws/CHANGELOG.md
  extensions/amazon-aws/README.md
  extensions/amazon-aws/package.json
  extensions/amazon-aws/src/actions/ecs.ts
  extensions/amazon-aws/src/actions/index.ts
  extensions/amazon-aws/src/actions/logs.ts
  extensions/amazon-aws/src/cloudformation.tsx
  extensions/amazon-aws/src/cloudwatch.tsx
  extensions/amazon-aws/src/codepipeline.tsx
  extensions/amazon-aws/src/components/cloudwatch/CloudwatchLogStreams.tsx
  extensions/amazon-aws/src/components/cloudwatch/CloudwatchLogs.tsx
  extensions/amazon-aws/src/components/ecs/ECSCluster.tsx
  extensions/amazon-aws/src/components/ecs/ECSClusterServiceTaskContainers.tsx
  extensions/amazon-aws/src/components/ecs/ECSClusterServiceTasks.tsx
  extensions/amazon-aws/src/components/ecs/ECSClusterServices.tsx
  extensions/amazon-aws/src/components/searchbar/CloudwatchLogsTimeDropdown.tsx
  extensions/amazon-aws/src/components/searchbar/aws-profile-dropdown.tsx
  extensions/amazon-aws/src/console.tsx
  extensions/amazon-aws/src/constants.ts
  extensions/amazon-aws/src/dynamodb.tsx
  extensions/amazon-aws/src/ec2.tsx
  extensions/amazon-aws/src/ecs.tsx
  extensions/amazon-aws/src/interfaces/index.ts
  extensions/amazon-aws/src/lambda.tsx
  extensions/amazon-aws/src/s3.tsx
  extensions/amazon-aws/src/secrets.tsx
  extensions/amazon-aws/src/sqs.tsx
  extensions/amazon-aws/src/ssm.tsx
  extensions/amazon-aws/src/util/index.tsx
Labels: extension fix / improvement, extension: aws

#3907 feat: add DevUtils extension
  extensions/devutils/.eslintrc.json
  extensions/devutils/.gitignore
  extensions/devutils/.prettierrc
  extensions/devutils/CHANGELOG.md
  extensions/devutils/README.md
  extensions/devutils/assets/devutils.png
  extensions/devutils/package-lock.json
  extensions/devutils/package.json
  extensions/devutils/src/backslash.tsx
  extensions/devutils/src/base64encode.tsx
  extensions/devutils/src/base64image.tsx
  extensions/devutils/src/colortools.tsx
  extensions/devutils/src/cronparser.tsx
  extensions/devutils/src/cssformatter.tsx
  extensions/devutils/src/csv2json.tsx
  extensions/devutils/src/erbformatter.tsx
  extensions/devutils/src/hashing.tsx
  extensions/devutils/src/html2jsx.tsx
  extensions/devutils/src/htmlencode.tsx
  extensions/devutils/src/htmlformatter.tsx
  extensions/devutils/src/htmlpreview.tsx
  extensions/devutils/src/jsformatter.tsx
  extensions/devutils/src/json2csv.tsx
  extensions/devutils/src/json2php.tsx
  extensions/devutils/src/json2yaml.tsx
  extensions/devutils/src/jsonformatter.tsx
  extensions/devutils/src/jwt.tsx
  extensions/devutils/src/lessformatter.tsx
  extensions/devutils/src/loremipsum.tsx
  extensions/devutils/src/markdownpreview.tsx
  extensions/devutils/src/numberbase.tsx
  extensions/devutils/src/php2json.tsx
  extensions/devutils/src/phpserializer.tsx
  extensions/devutils/src/phpunserializer.tsx
  extensions/devutils/src/qrcode.tsx
  extensions/devutils/src/querystringparser.tsx
  extensions/devutils/src/randomstringgenerator.tsx
  extensions/devutils/src/regextester.tsx
  extensions/devutils/src/scssformatter.tsx
  extensions/devutils/src/sqlformatter.tsx
  extensions/devutils/src/stringcaseconverter.tsx
  extensions/devutils/src/stringinspect.tsx
  extensions/devutils/src/textdiff.tsx
  extensions/devutils/src/unixtime.tsx
  extensions/devutils/src/urlencode.tsx
  extensions/devutils/src/uuidtool.tsx
  extensions/devutils/src/xmlformatter.tsx
  extensions/devutils/src/yaml2json.tsx
  extensions/devutils/tsconfig.json
Labels: new extension

#3983 [Convert] - Update & bugfixes
  extensions/convert/CHANGELOG.md
  extensions/convert/README.md
  extensions/convert/package-lock.json
  extensions/convert/package.json
  extensions/convert/src/colors.ts
  extensions/convert/src/conversions.ts
  extensions/convert/src/convert.tsx
Labels: extension fix / improvement, OP is author, extension: web-converter

#3908 Native Screenshot Extension
  extensions/screenshot/.eslintrc.json
  extensions/screenshot/.prettierrc
  extensions/screenshot/CHANGELOG.md
  extensions/screenshot/assets/all-in-one.png
  extensions/screenshot/assets/annotate.png
  extensions/screenshot/assets/capture-area.png
  extensions/screenshot/assets/capture-fullscreen.png
  extensions/screenshot/assets/capture-timer.png
  extensions/screenshot/assets/capture-window.png
  extensions/screenshot/assets/clipboard.png
  extensions/screenshot/assets/command-icon.png
  extensions/screenshot/package-lock.json
  extensions/screenshot/package.json
  extensions/screenshot/src/all-in-one.ts
  extensions/screenshot/src/annotate.ts
  extensions/screenshot/src/capture-area.ts
  extensions/screenshot/src/capture-screen.ts
  extensions/screenshot/src/capture-timer.ts
  extensions/screenshot/src/capture-to-clipboard.ts
  extensions/screenshot/src/capture-window.ts
  extensions/screenshot/tsconfig.json
Labels: new extension

#3960 add new extension: Escape RegExp Characters
  extensions/escape-regexp-characters/.eslintrc.json
  extensions/escape-regexp-characters/.gitignore
  extensions/escape-regexp-characters/.prettierrc
  extensions/escape-regexp-characters/CHANGELOG.md
  extensions/escape-regexp-characters/README.md
  extensions/escape-regexp-characters/assets/command-icon.png
  extensions/escape-regexp-characters/metadata/1.png
  extensions/escape-regexp-characters/package-lock.json
  extensions/escape-regexp-characters/package.json
  extensions/escape-regexp-characters/src/escape-regexp-characters.tsx
  extensions/escape-regexp-characters/tsconfig.json
Labels: new extension

#3995 [Raindrop.io] Add preference to always use last used collection
  extensions/raindrop/CHANGELOG.md
  extensions/raindrop/package.json
  extensions/raindrop/src/components/CollectionsDropdown.tsx
  extensions/raindrop/src/hooks/useBookmarks.tsx
  extensions/raindrop/src/hooks/useLastUsedCollection.ts
  extensions/raindrop/src/latest_bookmarks.tsx
  extensions/raindrop/src/search.tsx
  extensions/raindrop/src/types.ts
Labels: extension fix / improvement, OP is author, extension: raindrop-io

#3858 New Extension: PurpleAir
  extensions/purpleair/.eslintrc.json
  extensions/purpleair/.gitattributes
  extensions/purpleair/.gitignore
  extensions/purpleair/.prettierrc
  extensions/purpleair/CHANGELOG.md
  extensions/purpleair/README.md
  extensions/purpleair/assets/command-icon.png
  extensions/purpleair/metadata/purpleair-1.png
  extensions/purpleair/package-lock.json
  extensions/purpleair/package.json
  extensions/purpleair/src/index.tsx
  extensions/purpleair/src/purpleAir.tsx
  extensions/purpleair/tsconfig.json
Labels: new extension

#3970 Add pomodoro extension
  extensions/pomodoro/.eslintrc.json
  extensions/pomodoro/.gitignore
  extensions/pomodoro/.prettierrc
  extensions/pomodoro/CHANGELOG.md
  extensions/pomodoro/README.md
  extensions/pomodoro/assets/icon.png
  extensions/pomodoro/assets/tomato.png
  extensions/pomodoro/lib/intervals.tsx
  extensions/pomodoro/lib/secondsToTime.tsx
  extensions/pomodoro/metadata/main-window.png
  extensions/pomodoro/metadata/menu-bar.png
  extensions/pomodoro/package-lock.json
  extensions/pomodoro/package.json
  extensions/pomodoro/src/pomodoro-control-timer.tsx
  extensions/pomodoro/src/pomodoro-menu-bar.tsx
  extensions/pomodoro/tsconfig.json
Labels: new extension

#3988 Update inpost-parcel-lockers to v0.1.1
  extensions/inpost-parcel-lockers/CHANGELOG.md
  extensions/inpost-parcel-lockers/package-lock.json
  extensions/inpost-parcel-lockers/package.json
  extensions/inpost-parcel-lockers/src/find-lockers.tsx
Labels: extension fix / improvement, OP is author, extension: inpost-parcel-lockers

#3980 [Todoist] Remove not needed markdown
  extensions/todoist/CHANGELOG.md
  extensions/todoist/package-lock.json
  extensions/todoist/package.json
  extensions/todoist/src/components/MenubarTask.tsx
  extensions/todoist/src/components/TaskListItem.tsx
Labels: extension fix / improvement, extension: todoist

#3944 feat(brave): added search bookmarks
  extensions/brave/CHANGELOG.md
  extensions/brave/README
  extensions/brave/README.md
  extensions/brave/assets/sql-wasm.wasm
  extensions/brave/metadata/brave-001.png
  extensions/brave/metadata/brave-002.png
  extensions/brave/metadata/brave-003.png
  extensions/brave/metadata/brave-1.png
  extensions/brave/metadata/brave-2.png
  extensions/brave/metadata/brave-3.png
  extensions/brave/metadata/brave-4.png
  extensions/brave/package-lock.json
  extensions/brave/package.json
  extensions/brave/src/actions/index.tsx
  extensions/brave/src/brave-go-to-tab.tsx
  extensions/brave/src/brave-new-tab.tsx
  extensions/brave/src/brave-search-history.tsx
  extensions/brave/src/browserHistory.tsx
  extensions/brave/src/components/BraveActions.tsx
  extensions/brave/src/components/BraveListItems.tsx
  extensions/brave/src/components/brave-goto-tab.tsx
  extensions/brave/src/components/brave-open-new-tab.tsx
  extensions/brave/src/components/error/NoBookmarksError.tsx
  extensions/brave/src/components/error/NotInstalledError.tsx
  extensions/brave/src/components/error/UnknownError.tsx
  extensions/brave/src/components/error/index.ts
  extensions/brave/src/components/index.ts
  extensions/brave/src/components/tab.tsx
  extensions/brave/src/constants.ts
  extensions/brave/src/hooks/useBookmarkSearch.tsx
  extensions/brave/src/hooks/useHistorySearch.tsx
  extensions/brave/src/hooks/useTabSearch.tsx
  extensions/brave/src/interfaces/index.ts
  extensions/brave/src/new-tab.tsx
  extensions/brave/src/search-bookmarks.tsx
  extensions/brave/src/search-history.tsx
  extensions/brave/src/search-tab.tsx
  extensions/brave/src/util/index.ts
  extensions/brave/src/utils.ts
Labels: extension fix / improvement, extension: brave

#3841 Updating the open-with-app to use the new getSelectedFinderItems command
  extensions/open-with-app/package-lock.json
  extensions/open-with-app/package.json
  extensions/open-with-app/src/index.tsx
Labels: extension fix / improvement, extension: open-with-app

#3999 feat(Timers): minor fixes, alert sound preview command
  extensions/timers/CHANGELOG.md
  extensions/timers/package.json
  extensions/timers/src/previewAlertSounds.tsx
  extensions/timers/src/start2MinuteTimer.ts
  extensions/timers/src/timerUtils.ts
  extensions/timers/src/timersMenuBar.tsx
  extensions/timers/src/types.ts
Labels: extension fix / improvement, OP is author, OP is contributor, extension: timers

#3991 add new extension: Email Verifier
  extensions/email-verifier/.eslintrc.json
  extensions/email-verifier/.gitignore
  extensions/email-verifier/.prettierrc
  extensions/email-verifier/CHANGELOG.md
  extensions/email-verifier/README.md
  extensions/email-verifier/assets/command-icon.png
  extensions/email-verifier/metadata/email-verifier-1.png
  extensions/email-verifier/metadata/email-verifier-2.png
  extensions/email-verifier/package-lock.json
  extensions/email-verifier/package.json
  extensions/email-verifier/src/email-verifier.tsx
  extensions/email-verifier/tsconfig.json
Labels: new extension

#4001 [BItfinex] Fix bugs
  extensions/bitfinex/CHANGELOG.md
  extensions/bitfinex/src/lib/tasks/autoRenewOrders.ts
Labels: extension fix / improvement, OP is author, extension: bitfinex

#3878 refactor(youtube-music): replace play and pause commands with single play/pause command
  extensions/youtube-music/package.json
  extensions/youtube-music/src/play-pause.tsx
  extensions/youtube-music/src/play.tsx
Labels: extension fix / improvement, extension: youtube-music

#3971 ext: Search R Packages on r-pkg.org
  extensions/r-pkg-search/.eslintrc.json
  extensions/r-pkg-search/.gitignore
  extensions/r-pkg-search/.prettierrc
  extensions/r-pkg-search/README.md
  extensions/r-pkg-search/assets/r-pkg.png
  extensions/r-pkg-search/media/description.png
  extensions/r-pkg-search/media/search.png
  extensions/r-pkg-search/metadata/r-pkg-search-1.png
  extensions/r-pkg-search/metadata/r-pkg-search-2.png
  extensions/r-pkg-search/metadata/r-pkg-search-3.png
  extensions/r-pkg-search/metadata/r-pkg-search-4.png
  extensions/r-pkg-search/package-lock.json
  extensions/r-pkg-search/package.json
  extensions/r-pkg-search/src/PackageActions.tsx
  extensions/r-pkg-search/src/PackageDescription.tsx
  extensions/r-pkg-search/src/PackageListItem.tsx
  extensions/r-pkg-search/src/RpkgResponse.model.ts
  extensions/r-pkg-search/src/index.tsx
  extensions/r-pkg-search/src/utils/fetchPackages.ts
  extensions/r-pkg-search/src/utils/parseRepoUrl.ts
  extensions/r-pkg-search/tsconfig.json
Labels: new extension

#4005 Transfer devutils to Organization
  .github/public_raycast_extensions.txt
  extensions/devutils/package.json
Labels: extension fix / improvement, extension: devutils

#4040 Transfer Arc to Organization
  .github/public_raycast_extensions.txt
  extensions/arc/package.json
Labels: extension fix / improvement, extension: arc
