Repository raycast/extensions, pull requests merged in 2023-02, with the labels that each got.

#4521 [Bundesliga] Fix crawling data state, update standings view
  extensions/bundesliga/CHANGELOG.md
  extensions/bundesliga/README.md
  extensions/bundesliga/package-lock.json
  extensions/bundesliga/package.json
  extensions/bundesliga/src/api/index.ts
  extensions/bundesliga/src/table.tsx
Labels: extension fix / improvement, OP is author, extension: bundesliga

#4519 Harvest
  extensions/harvest/CHANGELOG.md
  extensions/harvest/package.json
  extensions/harvest/src/new.tsx
Labels: extension fix / improvement, OP is author, extension: harvest

#4517 Netlify Extension: update icon
  extensions/netlify/assets/extension-icon.png
  extensions/netlify/assets/netlify-icon.png
  extensions/netlify/package.json
  extensions/netlify/src/components/actions.tsx
  extensions/netlify/src/components/deploys.tsx
  extensions/netlify/src/search-team-members.tsx
  package-lock.json
Labels: extension fix / improvement, extension: netlify

#4510 spotify-controls: add toggle private session
  extensions/spotify-controls/CHANGELOG.md
  extensions/spotify-controls/package.json
  extensions/spotify-controls/src/privateSession.ts
Labels: extension fix / improvement, extension: spotify-controls

#4089 New extension: Bitrise
  extensions/bitrise/.gitignore
  extensions/bitrise/.prettierrc
  extensions/bitrise/CHANGELOG.md
  extensions/bitrise/README.md
  extensions/bitrise/assets/bitrise-logo.png
  extensions/bitrise/assets/build-aborted.svg
  extensions/bitrise/assets/build-failed.svg
  extensions/bitrise/assets/build-inprogress.svg
  extensions/bitrise/assets/build-successful.svg
  extensions/bitrise/assets/extension-icon.png
  extensions/bitrise/assets/pr.svg
  extensions/bitrise/assets/step-maintainer-bitrise.svg
  extensions/bitrise/assets/step-maintainer-verified.svg
  extensions/bitrise/assets/workflow.svg
  extensions/bitrise/metadata/bitrise-io-1.png
  extensions/bitrise/metadata/bitrise-io-2.png
  extensions/bitrise/metadata/bitrise-io-3.png
  extensions/bitrise/metadata/bitrise-io-4.png
  extensions/bitrise/package-lock.json
  extensions/bitrise/package.json
  extensions/bitrise/src/api/apps.ts
  extensions/bitrise/src/api/builds.ts
  extensions/bitrise/src/api/index.ts
  extensions/bitrise/src/api/steps.ts
  extensions/bitrise/src/api/types.ts
  extensions/bitrise/src/api/workflows.ts
  extensions/bitrise/src/apps.tsx
  extensions/bitrise/src/builds.tsx
  extensions/bitrise/src/components/BuildList.tsx
  extensions/bitrise/src/components/BuildListItem.tsx
  extensions/bitrise/src/index.tsx
  extensions/bitrise/src/start-build.tsx
  extensions/bitrise/src/steps.tsx
  extensions/bitrise/src/util/error.ts
  extensions/bitrise/src/util/util.ts
  extensions/bitrise/tsconfig.json
Labels: new extension, extension fix / improvement, extension: bitrise

#4062 feat: ✨ New Extensions: Oh My Zsh Git Alias
  extensions/ohmyzsh-git-alias/.eslintrc.json
  extensions/ohmyzsh-git-alias/.gitignore
  extensions/ohmyzsh-git-alias/.prettierrc
  extensions/ohmyzsh-git-alias/CHANGELOG.md
  extensions/ohmyzsh-git-alias/README.md
  extensions/ohmyzsh-git-alias/assets/icon.png
  extensions/ohmyzsh-git-alias/metadata/oh-my-zsh-git-alias-1.png
  extensions/ohmyzsh-git-alias/metadata/oh-my-zsh-git-alias-2.png
  extensions/ohmyzsh-git-alias/package-lock.json
  extensions/ohmyzsh-git-alias/package.json
  extensions/ohmyzsh-git-alias/src/alias.json
  extensions/ohmyzsh-git-alias/src/index.tsx
  extensions/ohmyzsh-git-alias/tsconfig.json
Labels: new extension

#4450 Toggl Track: Sort time entries starting from latest
  extensions/toggl-track/CHANGELOG.md
  extensions/toggl-track/package.json
  extensions/toggl-track/src/index.tsx
  extensions/toggl-track/src/toggl/types.ts
Labels: extension fix / improvement, extension: toggl-track

#4471 Bitbucket: Added a few useful copy to clipboard links in Action Panel
  extensions/bitbucket/src/components/repository/interface/index.ts
  extensions/bitbucket/src/components/repository/searchRepositories.tsx
  extensions/bitbucket/src/queries/index.ts
Labels: extension fix / improvement, OP is contributor, extension: bitbucket

#4426 New Extension: ESV Bible
  extensions/esv-bible/.eslintrc.json
  extensions/esv-bible/.gitignore
  extensions/esv-bible/.prettierrc
  extensions/esv-bible/CHANGELOG.md
  extensions/esv-bible/README.md
  extensions/esv-bible/assets/icon.png
  extensions/esv-bible/assets/icon@dark.png
  extensions/esv-bible/metadata/esv-bible-1.png
  extensions/esv-bible/metadata/esv-bible-2.png
  extensions/esv-bible/metadata/esv-bible-3.png
  extensions/esv-bible/metadata/esv-bible-4.png
  extensions/esv-bible/package-lock.json
  extensions/esv-bible/package.json
  extensions/esv-bible/src/passage-lookup.tsx
  extensions/esv-bible/src/passage-search.tsx
  extensions/esv-bible/src/stylingOptions.ts
  extensions/esv-bible/src/types.ts
  extensions/esv-bible/tsconfig.json
Labels: new extension

#4538 Update extension: SM.MS
  extensions/sm-ms/CHANGELOG.md
  extensions/sm-ms/package-lock.json
  extensions/sm-ms/package.json
  extensions/sm-ms/src/upload-image-from-clipboard.tsx
  extensions/sm-ms/src/utils/axios-utils.ts
Labels: extension fix / improvement, OP is author, extension: sm-ms

#4531 [Xcode] Bug Fix (#4530)
  extensions/xcode/CHANGELOG.md
  extensions/xcode/package-lock.json
  extensions/xcode/package.json
  extensions/xcode/src/services/swift-package-index.service.ts
Labels: extension fix / improvement, OP is author, extension: xcode

#4543 Silent Mention Extension
  extensions/silent-mention/.eslintrc.json
  extensions/silent-mention/.gitignore
  extensions/silent-mention/.prettierrc
  extensions/silent-mention/CHANGELOG.md
  extensions/silent-mention/README.md
  extensions/silent-mention/assets/extension-icon.png
  extensions/silent-mention/assets/hero.png
  extensions/silent-mention/metadata/Raycast 2023-02-02 at 12.23.56.png
  extensions/silent-mention/package-lock.json
  extensions/silent-mention/package.json
  extensions/silent-mention/src/index.ts
  extensions/silent-mention/tsconfig.json
Labels: new extension

#4142 Bonk price - The price of $BONK on your menu bar
  extensions/bonk-price/.eslintrc.json
  extensions/bonk-price/.gitignore
  extensions/bonk-price/.prettierrc
  extensions/bonk-price/CHANGELOG.md
  extensions/bonk-price/README.md
  extensions/bonk-price/assets/icon.png
  extensions/bonk-price/metadata/bonk-price-1.jpeg
  extensions/bonk-price/package-lock.json
  extensions/bonk-price/package.json
  extensions/bonk-price/src/index.tsx
  extensions/bonk-price/tsconfig.json
Labels: new extension

#4420 Update Extension: Dock Tinker – add toggle to lock Dock contents
  extensions/dock-tinker/CHANGELOG.md
  extensions/dock-tinker/package.json
  extensions/dock-tinker/src/toggle-contents-immutable.tsx
Labels: extension fix / improvement, extension: dock-tinker

#4544 Linear reminders
  extensions/linear/package-lock.json
  extensions/linear/package.json
  extensions/linear/src/api/attachments.ts
  extensions/linear/src/api/getNotifications.ts
  extensions/linear/src/components/CreateProjectForm.tsx
  extensions/linear/src/components/EditProjectForm.tsx
  extensions/linear/src/components/IssueActions/IssueActions.tsx
  extensions/linear/src/components/IssueCommentForm.tsx
  extensions/linear/src/components/IssueComments.tsx
  extensions/linear/src/components/Project.tsx
  extensions/linear/src/create-issue-for-myself.ts
  extensions/linear/src/helpers/notifications.ts
  extensions/linear/src/hooks/useNotifications.ts
  extensions/linear/src/quick-add-comment-to-issue.ts
Labels: extension fix / improvement, OP is contributor, extension: linear

#4237 New Extension: zNotch to control macbook's notch (re-submit)
  extensions/znotch/.eslintrc.json
  extensions/znotch/.gitignore
  extensions/znotch/.prettierrc
  extensions/znotch/CHANGELOG.md
  extensions/znotch/README.md
  extensions/znotch/assets/znotch-icon.png
  extensions/znotch/metadata/znotch-1.png
  extensions/znotch/package-lock.json
  extensions/znotch/package.json
  extensions/znotch/src/check-installed.ts
  extensions/znotch/src/hide.ts
  extensions/znotch/src/manage.ts
  extensions/znotch/src/show.ts
  extensions/znotch/src/toggle.ts
  extensions/znotch/tsconfig.json
Labels: new extension

#4553 Display a new icon next to newest proposals
  extensions/swift-evolution/CHANGELOG.md
  extensions/swift-evolution/metadata/swift-evolution-6.png
  extensions/swift-evolution/src/ProposalsList.tsx
  extensions/swift-evolution/src/domain.ts
Labels: extension fix / improvement, OP is author, extension: swift-evolution

#4498 Format Prettier for Markdown Script
  extensions/prettier/.eslintrc.json
  extensions/prettier/.gitignore
  extensions/prettier/.prettierrc
  extensions/prettier/CHANGELOG.md
  extensions/prettier/LICENSE
  extensions/prettier/README.md
  extensions/prettier/assets/prettier-logo.png
  extensions/prettier/package-lock.json
  extensions/prettier/package.json
  extensions/prettier/src/index.ts
  extensions/prettier/tsconfig.json
Labels: new extension

#4548 Fixed a name from the amazon-aws service list and updated the icon
  extensions/amazon-aws/CHANGELOG.md
  extensions/amazon-aws/assets/aws-icons/aos.png
  extensions/amazon-aws/assets/aws-icons/es.png
  extensions/amazon-aws/assets/aws-services.json
Labels: extension fix / improvement, extension: aws

#4569 Typefully improvements
  extensions/typefully/CHANGELOG.md
  extensions/typefully/src/command-bar-menu.tsx
  extensions/typefully/src/types.ts
Labels: extension fix / improvement, OP is contributor, extension: typefully

#4571 [Pokédex] Add gen 9 Pokémons
  extensions/pokedex/CHANGELOG.md
  extensions/pokedex/README.md
  extensions/pokedex/metadata/pokedex-01.png
  extensions/pokedex/metadata/pokedex-02.png
  extensions/pokedex/metadata/pokedex-03.png
  extensions/pokedex/metadata/pokedex-04.png
  extensions/pokedex/metadata/pokedex-1.png
  extensions/pokedex/metadata/pokedex-2.png
  extensions/pokedex/metadata/pokedex-3.png
  extensions/pokedex/metadata/pokedex-4.png
  extensions/pokedex/metadata/pokedex-5.png
  extensions/pokedex/package-lock.json
  extensions/pokedex/package.json
  extensions/pokedex/src/api/index.ts
  extensions/pokedex/src/components/detail.tsx
  extensions/pokedex/src/components/dex.tsx
  extensions/pokedex/src/components/move.tsx
  extensions/pokedex/src/statics/pokemons.json
  extensions/pokedex/src/types/index.ts
Labels: extension fix / improvement, OP is author, extension: pokedex

#4572 New Extension: Finary
  extensions/finary/.eslintrc.json
  extensions/finary/.gitignore
  extensions/finary/.prettierrc
  extensions/finary/CHANGELOG.md
  extensions/finary/README.md
  extensions/finary/assets/icon.png
  extensions/finary/metadata/screenshot-01.png
  extensions/finary/package-lock.json
  extensions/finary/package.json
  extensions/finary/src/add-asset.tsx
  extensions/finary/src/constants.ts
  extensions/finary/src/dashboard.tsx
  extensions/finary/src/insights.tsx
  extensions/finary/src/portfolio.tsx
  extensions/finary/src/settings.tsx
  extensions/finary/src/types/Links.ts
  extensions/finary/src/types/index.ts
  extensions/finary/tsconfig.json
Labels: new extension

#4422 New Extension: Pinata
  extensions/pinata/.eslintrc.json
  extensions/pinata/.prettierrc
  extensions/pinata/CHANGELOG.md
  extensions/pinata/README.md
  extensions/pinata/assets/loading/loading.gif
  extensions/pinata/assets/pinnie.png
  extensions/pinata/metadata/pinata-1.png
  extensions/pinata/metadata/pinata-2.png
  extensions/pinata/metadata/pinata-3.png
  extensions/pinata/metadata/pinata-4.png
  extensions/pinata/package-lock.json
  extensions/pinata/package.json
  extensions/pinata/src/api.ts
  extensions/pinata/src/listFiles.tsx
  extensions/pinata/src/listSubmarineFiles.tsx
  extensions/pinata/src/uploadDirectory.tsx
  extensions/pinata/src/uploadFile.tsx
  extensions/pinata/src/utils.ts
  extensions/pinata/tsconfig.json
Labels: new extension, status: awaiting response from dev

#4574 Transfer Linear
  extensions/linear/package.json
Labels: extension fix / improvement, OP is contributor, extension: linear

#4562 Fix Xcode developer documentation URL
  extensions/xcode/CHANGELOG.md
  extensions/xcode/package-lock.json
  extensions/xcode/package.json
  extensions/xcode/src/services/apple-developer-documentation.service.ts
Labels: extension fix / improvement, extension: xcode

#4570 [Premier League] Update Standings, metadata
  extensions/premier-league/CHANGELOG.md
  extensions/premier-league/assets/icon.png
  extensions/premier-league/metadata/epl-01.png
  extensions/premier-league/metadata/epl-02.png
  extensions/premier-league/metadata/epl-03.png
  extensions/premier-league/metadata/epl-04.png
  extensions/premier-league/metadata/epl-05.png
  extensions/premier-league/metadata/epl-06.png
  extensions/premier-league/metadata/premier-league-1.png
  extensions/premier-league/metadata/premier-league-2.png
  extensions/premier-league/metadata/premier-league-3.png
  extensions/premier-league/metadata/premier-league-4.png
  extensions/premier-league/metadata/premier-league-5.png
  extensions/premier-league/metadata/premier-league-6.png
  extensions/premier-league/package-lock.json
  extensions/premier-league/package.json
  extensions/premier-league/src/club.tsx
  extensions/premier-league/src/manager.tsx
  extensions/premier-league/src/table.tsx
Labels: extension fix / improvement, OP is author, extension: premier-league

#4567 [Fantastical] Fixed bug for getting the name of an app & added two new commands which allow you to quickly add events without opening the app
  extensions/fantastical/CHANGELOG.md
  extensions/fantastical/README.md
  extensions/fantastical/assets/example-of-specifying-calender-fan.jpg
  extensions/fantastical/assets/example-of-specifying-calender-raycast.png
  extensions/fantastical/assets/fantastical-opened-after-add-event.jpg
  extensions/fantastical/assets/fantastical-opened-after-add-reminder.jpg
  extensions/fantastical/package.json
  extensions/fantastical/src/fan-add-event-editable.tsx
  extensions/fantastical/src/fan-add-reminder-editable.tsx
  extensions/fantastical/src/fan-quick-add-event.tsx
  extensions/fantastical/src/fan-quick-add-reminder.tsx
  extensions/fantastical/src/getName.ts
  extensions/fantastical/src/isInstalled.ts
Labels: extension fix / improvement, OP is author, extension: fantastical

#4533 [Xcode] Add command to open URL in Simulator
  extensions/xcode/CHANGELOG.md
  extensions/xcode/package-lock.json
  extensions/xcode/package.json
  extensions/xcode/src/components/xcode-simulator-list/xcode-simulator-list-item.component.tsx
  extensions/xcode/src/components/xcode-simulator-list/xcode-simulator-list.component.tsx
  extensions/xcode/src/components/xcode-simulator-list/xcode-simulator-open-url-form.component.tsx
  extensions/xcode/src/models/xcode-simulator/xcode-simulator-open-url-error.model.ts
  extensions/xcode/src/open-url-in-simulator.command.tsx
  extensions/xcode/src/services/apple-developer-documentation.service.ts
  extensions/xcode/src/services/swift-package-index.service.ts
  extensions/xcode/src/services/xcode-simulator.service.ts
Labels: extension fix / improvement, OP is contributor, extension: xcode

#4609 [extension][memo] add feedback button
  extensions/memo/assets/message_icon.svg
  extensions/memo/src/components/MetaActionSection.tsx
  extensions/memo/src/components/SaveToLast.tsx
  extensions/memo/src/components/SaveToPage.tsx
  extensions/memo/src/config.ts
Labels: extension fix / improvement, OP is author, extension: memo

#4480 [Jisho] Add Search History
  extensions/jisho/CHANGELOG.md
  extensions/jisho/package-lock.json
  extensions/jisho/package.json
  extensions/jisho/src/components/SearchHistoryItem.tsx
  extensions/jisho/src/components/SearchResultItem.tsx
  extensions/jisho/src/history.tsx
  extensions/jisho/src/hooks/useSearch.ts
  extensions/jisho/src/hooks/useSearchHistory.ts
  extensions/jisho/src/index.tsx
  extensions/jisho/src/search.tsx
  extensions/jisho/src/types/types.ts
Labels: extension fix / improvement, extension: jisho

#4618 [Apple Maps Search] Update default directions to option
  extensions/apple-maps-search/CHANGELOG.md
  extensions/apple-maps-search/package-lock.json
  extensions/apple-maps-search/package.json
  extensions/apple-maps-search/src/directionsTo.tsx
Labels: extension fix / improvement, OP is author, extension: apple-maps-search

#4582 feat: shuffle command
  extensions/music/CHANGELOG.md
  extensions/music/package-lock.json
  extensions/music/package.json
  extensions/music/src/util/scripts/current-track.ts
Labels: extension fix / improvement, OP is author, extension: music

#4575 [code-stash] Add new language types
  extensions/code-stash/CHANGELOG.md
  extensions/code-stash/src/types.ts
Labels: extension fix / improvement, OP is author, extension: code-stash

#4298 [1password] cli support
  extensions/1password/.vscode/settings.json
  extensions/1password/CHANGELOG.md
  extensions/1password/assets/1password-settings.png
  extensions/1password/assets/binary-instruction.png
  extensions/1password/metadata/1password-1.png
  extensions/1password/metadata/1password-2.png
  extensions/1password/metadata/1password-3.png
  extensions/1password/metadata/screenshot-01.png
  extensions/1password/metadata/screenshot-02.png
  extensions/1password/metadata/screenshot-03.png
  extensions/1password/package-lock.json
  extensions/1password/package.json
  extensions/1password/src/OnePasswordMetaItem.dto.ts
  extensions/1password/src/OnePasswordMetaItemsCategory.dto.ts
  extensions/1password/src/item-list.tsx
  extensions/1password/src/list.tsx
  extensions/1password/src/onePassword/index.ts
  extensions/1password/src/onePassword/onePassword7.ts
  extensions/1password/src/onePassword/onePassword8.ts
  extensions/1password/src/onePassword/types.ts
  extensions/1password/src/reset-cache.ts
  extensions/1password/src/v7/components/Categories.tsx
  extensions/1password/src/v7/components/Guide.tsx
  extensions/1password/src/v7/components/Items.tsx
  extensions/1password/src/v7/types.ts
  extensions/1password/src/v7/utils.ts
  extensions/1password/src/v8/components/AccountForm.tsx
  extensions/1password/src/v8/components/ActionCopyToClipboard.tsx
  extensions/1password/src/v8/components/Categories.tsx
  extensions/1password/src/v8/components/Guide.tsx
  extensions/1password/src/v8/components/Items.tsx
  extensions/1password/src/v8/types.ts
  extensions/1password/src/v8/utils.ts
  extensions/1password/tsconfig.json
Labels: extension fix / improvement, OP is author, OP is contributor, extension: 1password

#4624 [Update Extension] Orion - add option to use release candidate version
  extensions/orion/CHANGELOG.md
  extensions/orion/package.json
  extensions/orion/src/hooks/useBookmarks.ts
  extensions/orion/src/hooks/useHistorySearch.ts
  extensions/orion/src/hooks/useReadingList.ts
  extensions/orion/src/utils.ts
Labels: extension fix / improvement, OP is author, extension: orion

#4628 New Extension: Descript to YouTube Chapters
  extensions/descript-to-youtube-chapters/.eslintrc.json
  extensions/descript-to-youtube-chapters/.gitignore
  extensions/descript-to-youtube-chapters/.prettierrc
  extensions/descript-to-youtube-chapters/CHANGELOG.md
  extensions/descript-to-youtube-chapters/README.md
  extensions/descript-to-youtube-chapters/assets/icon.png
  extensions/descript-to-youtube-chapters/package-lock.json
  extensions/descript-to-youtube-chapters/package.json
  extensions/descript-to-youtube-chapters/src/descript-to-youtube-chapters.tsx
  extensions/descript-to-youtube-chapters/tsconfig.json
Labels: new extension

#4616 [Internet Radio] Add "Toggle Play/Pause" command
  extensions/internet-radio/CHANGELOG.md
  extensions/internet-radio/package.json
  extensions/internet-radio/src/toggle-play-pause.tsx
Labels: extension fix / improvement, extension: internet-radio

#4641 Update extension: IP Geolocation
  extensions/ip-geolocation/CHANGELOG.md
  extensions/ip-geolocation/assets/copy-local-ip-address.png
  extensions/ip-geolocation/assets/copy-local-ip-address@dark.png
  extensions/ip-geolocation/package-lock.json
  extensions/ip-geolocation/package.json
  extensions/ip-geolocation/src/components/action-open-command-preferences.tsx
  extensions/ip-geolocation/src/copy-local-ip-address.tsx
  extensions/ip-geolocation/src/hooks/hooks.ts
  extensions/ip-geolocation/src/my-ip-geolocation.tsx
  extensions/ip-geolocation/src/types/ip-geolocation.ts
  extensions/ip-geolocation/src/utils/constants.ts
Labels: extension fix / improvement, OP is author, extension: ip-geolocation

#4634 [Update Extension] System Monitor - Add `uptime`
  extensions/system-monitor/package.json
  extensions/system-monitor/src/Cpu/CpuMonitor.tsx
  extensions/system-monitor/src/Cpu/CpuUtils.tsx
  extensions/system-monitor/src/Interfaces.tsx
  extensions/system-monitor/src/Power/PowerMonitor.tsx
Labels: extension fix / improvement, OP is contributor, extension: raycast-system-monitor

#4611 [Update Extension] add hex to string conversions
  extensions/toolbox/CHANGELOG.md
  extensions/toolbox/package.json
  extensions/toolbox/src/script/convert/convert.ts
Labels: extension fix / improvement, extension: toolbox

#4579 Fix/timeular/convert note text field to text area
  extensions/timeular/CHANGELOG.md
  extensions/timeular/src/ComponentEditNote.tsx
Labels: extension fix / improvement, extension: raycast-timeular

#4643 Add actions to Searchcaster extension
  extensions/searchcaster/CHANGELOG.md
  extensions/searchcaster/package-lock.json
  extensions/searchcaster/package.json
  extensions/searchcaster/src/casts.tsx
  extensions/searchcaster/src/profiles.tsx
Labels: extension fix / improvement, OP is author, extension: searchcaster

#4637 added a few languages to Wikipedia extension
  extensions/wikipedia/package.json
  extensions/wikipedia/src/search-page.tsx
Labels: extension fix / improvement, extension: wikipedia

#4617 add option to choose image on interval end
  extensions/pomodoro/CHANGELOG.md
  extensions/pomodoro/lib/intervals.tsx
  extensions/pomodoro/package.json
  extensions/pomodoro/src/pomodoro-control-timer.tsx
Labels: extension fix / improvement, extension: pomodoro

#4401 New Extension: Knowwa
  extensions/knowwa/.eslintrc.js
  extensions/knowwa/.gitignore
  extensions/knowwa/CHANGELOG.md
  extensions/knowwa/README.md
  extensions/knowwa/assets/knowwa_icon.png
  extensions/knowwa/knowwa-screen.png
  extensions/knowwa/metadata/knowwa-1.png
  extensions/knowwa/metadata/knowwa-2.png
  extensions/knowwa/metadata/knowwa-3.png
  extensions/knowwa/package-lock.json
  extensions/knowwa/package.json
  extensions/knowwa/src/constants/constants.ts
  extensions/knowwa/src/indexDocs.tsx
  extensions/knowwa/src/modules/NewDoc/NewDocForm.tsx
  extensions/knowwa/src/newDoc.tsx
  extensions/knowwa/src/types/types.tsx
  extensions/knowwa/tsconfig.json
Labels: new extension

#4441 Audio Device Extension Improvement - Add Toggle Favourites
  extensions/audio-device/CHANGELOG.md
  extensions/audio-device/package-lock.json
  extensions/audio-device/package.json
  extensions/audio-device/src/airplay.tsx
  extensions/audio-device/src/helpers.tsx
  extensions/audio-device/src/toggle-favourites.tsx
Labels: extension fix / improvement, extension: audio-device

#4476 Toggl Track: Upgrade to API v9
  extensions/toggl-track/CHANGELOG.md
  extensions/toggl-track/src/components/CreateTimeEntryForm.tsx
  extensions/toggl-track/src/components/ProjectListItem.tsx
  extensions/toggl-track/src/components/RunningTimeEntry.tsx
  extensions/toggl-track/src/context/ProjectGroup.ts
  extensions/toggl-track/src/context/index.tsx
  extensions/toggl-track/src/index.tsx
  extensions/toggl-track/src/storage/index.ts
  extensions/toggl-track/src/storage/types.ts
  extensions/toggl-track/src/toggl/auth.ts
  extensions/toggl-track/src/toggl/index.ts
  extensions/toggl-track/src/toggl/types.ts
Labels: extension fix / improvement, status: awaiting response from dev, OP is contributor, extension: toggl-track

#4614 [Update Extension] Auto detect the source language
  extensions/google-translate/CHANGELOG.md
  extensions/google-translate/metadata/screenshot-01.png
  extensions/google-translate/metadata/screenshot-02.png
  extensions/google-translate/metadata/translate-1.png
  extensions/google-translate/metadata/translate-2.png
  extensions/google-translate/package.json
  extensions/google-translate/src/supportedLanguages.json
  extensions/google-translate/src/supportedLanguagesByCode.json
  extensions/google-translate/src/translate-form.tsx
  extensions/google-translate/src/translate.tsx
Labels: extension fix / improvement, status: awaiting response from dev, extension: translate

#4507 Major update to Solana explorer
  extensions/solana-explorer/metadata/solana-explorer-1.png
  extensions/solana-explorer/metadata/solana-explorer-2.png
  extensions/solana-explorer/metadata/solana-explorer-3.png
  extensions/solana-explorer/metadata/solana-explorer-4.png
  extensions/solana-explorer/metadata/solana-explorer-5.png
  extensions/solana-explorer/metadata/solana-explorer-6.png
  extensions/solana-explorer/package-lock.json
  extensions/solana-explorer/package.json
  extensions/solana-explorer/src/components/AccountDetailView/DetailsSection.tsx
  extensions/solana-explorer/src/components/AccountDetailView/TransactionsSection.tsx
  extensions/solana-explorer/src/components/AccountDetailView/index.tsx
  extensions/solana-explorer/src/components/Command/index.tsx
  extensions/solana-explorer/src/components/TokenDetailView.tsx
  extensions/solana-explorer/src/components/TransactionDetailView/AccountsSection.tsx
  extensions/solana-explorer/src/components/TransactionDetailView/DetailsSection.tsx
  extensions/solana-explorer/src/components/TransactionDetailView/TokenBalancesSection.tsx
  extensions/solana-explorer/src/components/TransactionDetailView/index.tsx
  extensions/solana-explorer/src/devnet.tsx
  extensions/solana-explorer/src/mainnet.tsx
  extensions/solana-explorer/src/testnet.tsx
  extensions/solana-explorer/src/types/Account.ts
  extensions/solana-explorer/src/types/index.ts
  extensions/solana-explorer/src/types/tokens.ts
  extensions/solana-explorer/src/utils/explorerResolver.ts
  extensions/solana-explorer/src/utils/getCluster.ts
  extensions/solana-explorer/src/utils/icons.ts
  extensions/solana-explorer/src/utils/isNumeric.ts
  extensions/solana-explorer/src/utils/nFormatter.ts
  extensions/solana-explorer/src/utils/preferences.ts
  extensions/solana-explorer/src/utils/storage.ts
  extensions/solana-explorer/src/utils/truncate.ts
Labels: extension fix / improvement, extension: solana-explorer

#4529 [DevDocs] add deeplink support
  extensions/devdocs/CHANGELOG.md
  extensions/devdocs/package-lock.json
  extensions/devdocs/package.json
  extensions/devdocs/src/index.tsx
  extensions/devdocs/src/search-docsets.tsx
  extensions/devdocs/src/search-entries.tsx
Labels: extension fix / improvement, OP is author, extension: devdocs

#4541 [New Extension] Office2PDF
  extensions/office2pdf/.eslintrc.json
  extensions/office2pdf/.gitignore
  extensions/office2pdf/.prettierrc
  extensions/office2pdf/CHANGELOG.md
  extensions/office2pdf/README.md
  extensions/office2pdf/assets/office2pdf.png
  extensions/office2pdf/metadata/office2pdf-1.png
  extensions/office2pdf/metadata/office2pdf-2.png
  extensions/office2pdf/metadata/office2pdf-3.png
  extensions/office2pdf/package-lock.json
  extensions/office2pdf/package.json
  extensions/office2pdf/src/index.tsx
  extensions/office2pdf/tsconfig.json
Labels: new extension

#4650 feat: add new command for "visual-studio-code-recent-projects"
  extensions/visual-studio-code-recent-projects/package.json
  extensions/visual-studio-code-recent-projects/src/open-with-vscode.ts
Labels: extension fix / improvement, OP is author, extension: visual-studio-code

#4470 Add color picker extension
  extensions/color-picker/.eslintrc.json
  extensions/color-picker/.gitignore
  extensions/color-picker/.prettierrc
  extensions/color-picker/CHANGELOG.md
  extensions/color-picker/Package.swift
  extensions/color-picker/README.md
  extensions/color-picker/Sources/color-picker/main.swift
  extensions/color-picker/assets/color-picker
  extensions/color-picker/assets/icon.png
  extensions/color-picker/metadata/color-picker-1.png
  extensions/color-picker/metadata/color-picker-2.png
  extensions/color-picker/metadata/color-picker-3.png
  extensions/color-picker/package-lock.json
  extensions/color-picker/package.json
  extensions/color-picker/src/history.ts
  extensions/color-picker/src/menu-bar.tsx
  extensions/color-picker/src/organize-colors.tsx
  extensions/color-picker/src/pick-color.ts
  extensions/color-picker/src/preferences.ts
  extensions/color-picker/src/types.ts
  extensions/color-picker/src/utils.ts
  extensions/color-picker/tsconfig.json
Labels: new extension

#4668 Transfer Pinata
  .github/public_raycast_extensions.txt
  extensions/pinata/package.json
Labels: extension fix / improvement, extension: pinata

#4593 [New Extension] chatgpt3 prompts add
  extensions/chatgpt3-prompt/.eslintrc.json
  extensions/chatgpt3-prompt/.gitignore
  extensions/chatgpt3-prompt/.prettierrc
  extensions/chatgpt3-prompt/CHANGELOG.md
  extensions/chatgpt3-prompt/README.md
  extensions/chatgpt3-prompt/assets/command-icon.png
  extensions/chatgpt3-prompt/assets/list-icon.png
  extensions/chatgpt3-prompt/package-lock.json
  extensions/chatgpt3-prompt/package.json
  extensions/chatgpt3-prompt/src/index.tsx
  extensions/chatgpt3-prompt/src/result.json
  extensions/chatgpt3-prompt/tsconfig.json
Labels: new extension

#4667 Fix Google Translate
  extensions/google-translate/CHANGELOG.md
  extensions/google-translate/metadata/translate-1.png
  extensions/google-translate/metadata/translate-2.png
  extensions/google-translate/package-lock.json
  extensions/google-translate/package.json
  extensions/google-translate/src/simple-translate.ts
  extensions/google-translate/src/translate-form.tsx
  extensions/google-translate/src/translate.tsx
Labels: extension fix / improvement, OP is author, extension: translate

#4632 New Extension: Quip
  extensions/quip/.eslintrc.json
  extensions/quip/.gitignore
  extensions/quip/.prettierrc
  extensions/quip/.vscode/settings.json
  extensions/quip/CHANGELOG.md
  extensions/quip/README.md
  extensions/quip/assets/quip.png
  extensions/quip/metadata/quip-1.png
  extensions/quip/metadata/quip-2.png
  extensions/quip/package-lock.json
  extensions/quip/package.json
  extensions/quip/src/api.ts
  extensions/quip/src/search.tsx
  extensions/quip/src/utils.ts
  extensions/quip/tsconfig.json
Labels: new extension

#4631 Reflect extension
  extensions/reflect/.eslintrc.json
  extensions/reflect/CHANGELOG.md
  extensions/reflect/README.md
  extensions/reflect/assets/command-icon.png
  extensions/reflect/package-lock.json
  extensions/reflect/package.json
  extensions/reflect/src/daily.tsx
  extensions/reflect/src/new.tsx
  extensions/reflect/src/search.tsx
  extensions/reflect/src/util.tsx
  extensions/reflect/tsconfig.json
Labels: new extension

#4636 Word search for Vocabulary.com
  extensions/vocab-search/.eslintrc.json
  extensions/vocab-search/.gitignore
  extensions/vocab-search/.prettierrc
  extensions/vocab-search/CHANGELOG.md
  extensions/vocab-search/README.md
  extensions/vocab-search/assets/vocab-logo.png
  extensions/vocab-search/metadata/vocab-1.png
  extensions/vocab-search/metadata/vocab-2.png
  extensions/vocab-search/metadata/vocab-3.png
  extensions/vocab-search/package-lock.json
  extensions/vocab-search/package.json
  extensions/vocab-search/src/vocab.tsx
  extensions/vocab-search/tsconfig.json
Labels: new extension

#4600 [New Extension] Firestore Import Export Extension
  extensions/firebase-import-export/.eslintrc.json
  extensions/firebase-import-export/.gitignore
  extensions/firebase-import-export/.prettierrc
  extensions/firebase-import-export/CHANGELOG.md
  extensions/firebase-import-export/README.md
  extensions/firebase-import-export/assets/extension_icon.png
  extensions/firebase-import-export/package-lock.json
  extensions/firebase-import-export/package.json
  extensions/firebase-import-export/src/firebase-export.tsx
  extensions/firebase-import-export/src/firebase-import.tsx
  extensions/firebase-import-export/src/interfaces.tsx
  extensions/firebase-import-export/src/utils.tsx
  extensions/firebase-import-export/tsconfig.json
Labels: new extension

#4683 [Bundesliga] Fixture planned kickoff time
  extensions/bundesliga/CHANGELOG.md
  extensions/bundesliga/README.md
  extensions/bundesliga/assets/icon.png
  extensions/bundesliga/metadata/bundesliga-01.png
  extensions/bundesliga/metadata/bundesliga-02.png
  extensions/bundesliga/metadata/bundesliga-03.png
  extensions/bundesliga/metadata/bundesliga-04.png
  extensions/bundesliga/metadata/bundesliga-05.png
  extensions/bundesliga/metadata/bundesliga-06.png
  extensions/bundesliga/metadata/bundesliga-1.png
  extensions/bundesliga/metadata/bundesliga-2.png
  extensions/bundesliga/metadata/bundesliga-3.png
  extensions/bundesliga/metadata/bundesliga-4.png
  extensions/bundesliga/metadata/bundesliga-5.png
  extensions/bundesliga/metadata/bundesliga-6.png
  extensions/bundesliga/src/fixture.tsx
  extensions/bundesliga/src/utils/index.ts
Labels: extension fix / improvement, OP is author, extension: bundesliga

#4684 [quip]: fix package.json title
  extensions/quip/package.json
Labels: extension fix / improvement, OP is author, extension: quip

#4681 [LaLiga] Update Standings, metadata
  extensions/laliga/CHANGELOG.md
  extensions/laliga/README.md
  extensions/laliga/assets/icon.png
  extensions/laliga/assets/icon@dark.png
  extensions/laliga/metadata/laliga-01.png
  extensions/laliga/metadata/laliga-02.png
  extensions/laliga/metadata/laliga-03.png
  extensions/laliga/metadata/laliga-04.png
  extensions/laliga/metadata/laliga-05.png
  extensions/laliga/metadata/laliga-1.png
  extensions/laliga/metadata/laliga-2.png
  extensions/laliga/metadata/laliga-3.png
  extensions/laliga/metadata/laliga-4.png
  extensions/laliga/metadata/laliga-5.png
  extensions/laliga/metadata/laliga-6.png
  extensions/laliga/package-lock.json
  extensions/laliga/package.json
  extensions/laliga/src/result.tsx
  extensions/laliga/src/standing.tsx
Labels: extension fix / improvement, OP is author, extension: laliga

#4669 Linear: Adjust colors contrast in light mode
  extensions/linear/CHANGELOG.md
  extensions/linear/package-lock.json
  extensions/linear/package.json
  extensions/linear/src/components/CreateIssueForm.tsx
  extensions/linear/src/components/EditIssueForm.tsx
  extensions/linear/src/components/IssueActions/ParentIssueSubmenu.tsx
  extensions/linear/src/components/IssueActions/StateSubmenu.tsx
  extensions/linear/src/components/IssueDetail.tsx
  extensions/linear/src/components/IssueListItem.tsx
  extensions/linear/src/helpers/icons.ts
  extensions/linear/src/helpers/notifications.ts
  extensions/linear/src/helpers/states.ts
Labels: extension fix / improvement, OP is author, extension: linear

#4646 [Spotify-Controls] Add step setting for volume commands
  extensions/spotify-controls/CHANGELOG.md
  extensions/spotify-controls/package.json
  extensions/spotify-controls/src/decreaseVolume.ts
  extensions/spotify-controls/src/increaseVolume.ts
  extensions/spotify-controls/src/types.ts
Labels: extension fix / improvement, extension: spotify-controls

#4690 Linear: add `issueUnassignedFromYou` notification type.
  extensions/linear/src/helpers/notifications.ts
Labels: extension fix / improvement, extension: linear

#4594 PaperMatch (New Ext) – Initial Commit
  extensions/papermatch/.eslintrc.json
  extensions/papermatch/.gitignore
  extensions/papermatch/.prettierrc
  extensions/papermatch/CHANGELOG.md
  extensions/papermatch/README.md
  extensions/papermatch/assets/PM_Ext.png
  extensions/papermatch/assets/PM_Toggle.png
  extensions/papermatch/assets/PM_Update.png
  extensions/papermatch/package-lock.json
  extensions/papermatch/package.json
  extensions/papermatch/src/preferences.ts
  extensions/papermatch/src/toggle-system-appearance.tsx
  extensions/papermatch/src/update-wallpaper.tsx
  extensions/papermatch/src/utils.ts
  extensions/papermatch/tsconfig.json
Labels: new extension

#4551 add action to create new issue in project
  extensions/gitlab/CHANGELOG.md
  extensions/gitlab/src/components/project_actions.tsx
  extensions/gitlab/src/components/project_search.tsx
Labels: extension fix / improvement, status: awaiting response from dev, OP is contributor, extension: gitlab

#4535 [YouTube] Add search from root for Search Videos and Search Channels
  extensions/youtube/CHANGELOG.md
  extensions/youtube/package-lock.json
  extensions/youtube/package.json
  extensions/youtube/src/components/channel_search.tsx
  extensions/youtube/src/components/video_search.tsx
  extensions/youtube/src/search-channel.tsx
  extensions/youtube/src/search-videos.tsx
Labels: extension fix / improvement, extension: youtube

#4661 [Internet Radio] Search stations database, import/export stations, configure audio app, and more
  extensions/internet-radio/CHANGELOG.md
  extensions/internet-radio/README.md
  extensions/internet-radio/assets/default-stations.json
  extensions/internet-radio/package.json
  extensions/internet-radio/src/browse-saved-stations.tsx
  extensions/internet-radio/src/browse-stations.tsx
  extensions/internet-radio/src/components/GenreDropdown.tsx
  extensions/internet-radio/src/components/StationActionPanel.tsx
  extensions/internet-radio/src/components/StationDetails.tsx
  extensions/internet-radio/src/components/actions/DeleteAllStationsAction.tsx
  extensions/internet-radio/src/components/actions/DeleteStationAction.tsx
  extensions/internet-radio/src/components/actions/EditStationAction.tsx
  extensions/internet-radio/src/components/actions/PlayStationAction.tsx
  extensions/internet-radio/src/components/actions/SaveStationAction.tsx
  extensions/internet-radio/src/components/actions/StationDetailsAction.tsx
  extensions/internet-radio/src/components/actions/StopPlaybackAction.tsx
  extensions/internet-radio/src/components/actions/UrlActionSection.tsx
  extensions/internet-radio/src/export-saved-stations.tsx
  extensions/internet-radio/src/genres.ts
  extensions/internet-radio/src/import-station-data.tsx
  extensions/internet-radio/src/menubar-radio.tsx
  extensions/internet-radio/src/new-station.tsx
  extensions/internet-radio/src/play-last-station.ts
  extensions/internet-radio/src/play-random-station.ts
  extensions/internet-radio/src/search-stations.tsx
  extensions/internet-radio/src/stop-playback.ts
  extensions/internet-radio/src/types.tsx
  extensions/internet-radio/src/utils.tsx
Labels: extension fix / improvement, OP is author, extension: internet-radio

#4705 [Clockify] Use project's default for the billable field
  extensions/clockify/CHANGELOG.md
  extensions/clockify/src/index.tsx
Labels: extension fix / improvement, extension: clockify

#4704 Google Translate multilanguage
  extensions/google-translate/CHANGELOG.md
  extensions/google-translate/package-lock.json
  extensions/google-translate/package.json
  extensions/google-translate/src/LanguagesManager/AddLanguageForm.tsx
  extensions/google-translate/src/LanguagesManager/LanguagesManagerList.tsx
  extensions/google-translate/src/LanguagesManager/LanguagesManagerListDropdown.tsx
  extensions/google-translate/src/LanguagesManager/index.ts
  extensions/google-translate/src/hooks.ts
  extensions/google-translate/src/translate-form.tsx
  extensions/google-translate/src/translate.tsx
  extensions/google-translate/src/types.ts
  extensions/google-translate/src/utils.ts
Labels: extension fix / improvement, OP is author, extension: translate

#4655 add wordle extension
  extensions/wordle/.eslintrc.json
  extensions/wordle/.gitignore
  extensions/wordle/.prettierrc
  extensions/wordle/CHANGELOG.md
  extensions/wordle/README.md
  extensions/wordle/assets/crying-face.png
  extensions/wordle/assets/guess-icon.png
  extensions/wordle/assets/how-to-play_color-example.png
  extensions/wordle/assets/oops-face.png
  extensions/wordle/assets/partying-face.png
  extensions/wordle/assets/thinking-face.png
  extensions/wordle/assets/wordle-icon.png
  extensions/wordle/metadata/wordle-1.png
  extensions/wordle/metadata/wordle-2.png
  extensions/wordle/metadata/wordle-3.png
  extensions/wordle/package-lock.json
  extensions/wordle/package.json
  extensions/wordle/src/components/EmptyViews/ChallengeFailureEmptyView.tsx
  extensions/wordle/src/components/EmptyViews/ChallengeSuccessEmptyView.tsx
  extensions/wordle/src/components/EmptyViews/EntriesEmptyView.tsx
  extensions/wordle/src/components/EmptyViews/GuessesEmptyView.tsx
  extensions/wordle/src/components/GuessListViewController.tsx
  extensions/wordle/src/components/HistoryListItemDetail.tsx
  extensions/wordle/src/components/HowToAction.tsx
  extensions/wordle/src/components/ListItems/HistoryListItem.tsx
  extensions/wordle/src/components/ListItems/NewGuessListItem.tsx
  extensions/wordle/src/components/ListItems/PastGuessListItem.tsx
  extensions/wordle/src/components/Wordle.tsx
  extensions/wordle/src/components/index.ts
  extensions/wordle/src/constants/index.ts
  extensions/wordle/src/constants/words/de-DE.ts
  extensions/wordle/src/constants/words/en-US.ts
  extensions/wordle/src/hooks/index.ts
  extensions/wordle/src/hooks/useNextPuzzleCountdown.ts
  extensions/wordle/src/hooks/usePersistence.ts
  extensions/wordle/src/hooks/useTextInput.ts
  extensions/wordle/src/hooks/useWordle.ts
  extensions/wordle/src/play_de-DE.tsx
  extensions/wordle/src/play_en-US.tsx
  extensions/wordle/src/show_history.tsx
  extensions/wordle/src/types/index.ts
  extensions/wordle/src/util/index.ts
  extensions/wordle/tsconfig.json
Labels: new extension

#4662 [New Extension] Lega Serie A
  extensions/lega-serie-a/.eslintrc.json
  extensions/lega-serie-a/.gitignore
  extensions/lega-serie-a/CHANGELOG.md
  extensions/lega-serie-a/LICENSE
  extensions/lega-serie-a/README.md
  extensions/lega-serie-a/assets/club_placeholder.png
  extensions/lega-serie-a/assets/icon.png
  extensions/lega-serie-a/assets/player_placeholder.png
  extensions/lega-serie-a/metadata/serie-a-1.png
  extensions/lega-serie-a/metadata/serie-a-2.png
  extensions/lega-serie-a/metadata/serie-a-3.png
  extensions/lega-serie-a/metadata/serie-a-4.png
  extensions/lega-serie-a/metadata/serie-a-5.png
  extensions/lega-serie-a/package-lock.json
  extensions/lega-serie-a/package.json
  extensions/lega-serie-a/src/api/index.ts
  extensions/lega-serie-a/src/club.tsx
  extensions/lega-serie-a/src/components/club.tsx
  extensions/lega-serie-a/src/components/player.tsx
  extensions/lega-serie-a/src/components/season_dropdown.tsx
  extensions/lega-serie-a/src/components/squad.tsx
  extensions/lega-serie-a/src/result.tsx
  extensions/lega-serie-a/src/standing.tsx
  extensions/lega-serie-a/src/types/index.d.ts
  extensions/lega-serie-a/tsconfig.json
Labels: new extension

#4581 [New Extension] Local Switch
  extensions/host-switch/.eslintrc.json
  extensions/host-switch/.gitignore
  extensions/host-switch/.prettierrc
  extensions/host-switch/CHANGELOG.md
  extensions/host-switch/README.md
  extensions/host-switch/assets/icon.png
  extensions/host-switch/media/screenshot.png
  extensions/host-switch/metadata/host-switch-1.png
  extensions/host-switch/metadata/host-switch-2.png
  extensions/host-switch/metadata/host-switch-3.png
  extensions/host-switch/metadata/host-switch-4.png
  extensions/host-switch/package-lock.json
  extensions/host-switch/package.json
  extensions/host-switch/pnpm-lock.yaml
  extensions/host-switch/src/hooks/useCachedHosts.ts
  extensions/host-switch/src/hooks/useDebouncedQuery.ts
  extensions/host-switch/src/lib/browser.ts
  extensions/host-switch/src/lib/withBrowser.tsx
  extensions/host-switch/src/switch.tsx
  extensions/host-switch/src/types.ts
  extensions/host-switch/tsconfig.json
Labels: new extension

#4712 [Color Picker] add a hex lower case format
  extensions/color-picker/package.json
  extensions/color-picker/src/types.ts
  extensions/color-picker/src/utils.ts
Labels: extension fix / improvement, OP is author, extension: color-picker

#4715 Update hacker-news extension
  extensions/hacker-news/.gitignore
  extensions/hacker-news/package-lock.json
  extensions/hacker-news/package.json
  extensions/hacker-news/src/frontpage.tsx
Labels: extension fix / improvement, extension: hacker-news

#4696 [New Extension] Next Run
  extensions/next-run/.eslintrc.json
  extensions/next-run/.gitignore
  extensions/next-run/.prettierrc
  extensions/next-run/CHANGELOG.md
  extensions/next-run/README.md
  extensions/next-run/assets/extension_icon.png
  extensions/next-run/metadata/next-run-1.png
  extensions/next-run/metadata/next-run-2.png
  extensions/next-run/metadata/next-run-3.png
  extensions/next-run/metadata/next-run-4.png
  extensions/next-run/metadata/next-run-5.png
  extensions/next-run/metadata/next-run-6.png
  extensions/next-run/package-lock.json
  extensions/next-run/package.json
  extensions/next-run/src/index.tsx
  extensions/next-run/tsconfig.json
Labels: new extension

#4680 [New extension] Wayback Machine
  extensions/wayback-machine/.eslintrc.json
  extensions/wayback-machine/.gitignore
  extensions/wayback-machine/.prettierrc
  extensions/wayback-machine/CHANGELOG.md
  extensions/wayback-machine/README.md
  extensions/wayback-machine/assets/518x0w.png
  extensions/wayback-machine/package-lock.json
  extensions/wayback-machine/package.json
  extensions/wayback-machine/src/open.ts
  extensions/wayback-machine/tsconfig.json
Labels: new extension

#4720 [Toothpick] Mapped Google Pixel Buds Pro
  extensions/toothpick/CHANGELOG.md
  extensions/toothpick/assets/icons/devices/google/connected/pixel.buds.pro.svg
  extensions/toothpick/assets/icons/devices/google/pixel.buds.pro.svg
  extensions/toothpick/package.json
  extensions/toothpick/src/mappers/google/index.ts
  extensions/toothpick/src/mappers/google/products/index.ts
  extensions/toothpick/src/services/devices.ts
Labels: extension fix / improvement, OP is contributor, extension: toothpick

#4729 [Tinypng] Add options to overwrite images.
  extensions/tinypng/CHANGELOG.md
  extensions/tinypng/README.md
  extensions/tinypng/package-lock.json
  extensions/tinypng/package.json
  extensions/tinypng/src/compressImages.ts
  extensions/tinypng/src/resizingImages.ts
  extensions/tinypng/src/types.ts
  extensions/tinypng/src/zodSchema.ts
Labels: extension fix / improvement, OP is author, extension: tinypng

#4727 [UPDATE Obsidian Extension] Several Quality of Life improvements
  extensions/obsidian/CHANGELOG.md
  extensions/obsidian/README.md
  extensions/obsidian/package-lock.json
  extensions/obsidian/package.json
  extensions/obsidian/src/components/AppendNoteForm.tsx
  extensions/obsidian/src/components/CreateNoteForm.tsx
  extensions/obsidian/src/components/EditNote.tsx
  extensions/obsidian/src/components/MediaGrid.tsx
  extensions/obsidian/src/components/NoteList/NoteList.tsx
  extensions/obsidian/src/components/NoteList/NoteListDropdown.tsx
  extensions/obsidian/src/components/NoteList/NoteListItem.tsx
  extensions/obsidian/src/components/NoteList/NoteListObsidian.tsx
  extensions/obsidian/src/components/NoteList/NoteListPinned.tsx
  extensions/obsidian/src/components/NoteQuickLook.tsx
  extensions/obsidian/src/components/RandomNote.tsx
  extensions/obsidian/src/components/Toasts.tsx
  extensions/obsidian/src/createNoteCommand.tsx
  extensions/obsidian/src/dailyNoteAppendCommand.tsx
  extensions/obsidian/src/dailyNoteCommand.tsx
  extensions/obsidian/src/obsidianMenuBar.tsx
  extensions/obsidian/src/openVaultCommand.tsx
  extensions/obsidian/src/searchNoteCommand.tsx
  extensions/obsidian/src/starredNotesCommand.tsx
  extensions/obsidian/src/utils/actions.tsx
  extensions/obsidian/src/utils/constants.tsx
  extensions/obsidian/src/utils/data/cache.tsx
  extensions/obsidian/src/utils/data/creator.tsx
  extensions/obsidian/src/utils/data/loader.tsx
  extensions/obsidian/src/utils/data/reducers.tsx
  extensions/obsidian/src/utils/hooks.tsx
  extensions/obsidian/src/utils/interfaces.tsx
  extensions/obsidian/src/utils/pinNoteUtils.tsx
  extensions/obsidian/src/utils/preferences.tsx
  extensions/obsidian/src/utils/search.tsx
  extensions/obsidian/src/utils/utils.tsx
  extensions/obsidian/src/utils/yaml.tsx
Labels: extension fix / improvement, OP is author, extension: obsidian

#4716 [Quit-Applications] Add buy me a coffee link
  extensions/quit-applications/README.md
Labels: extension fix / improvement, OP is author, extension: quit-applications

#4131 [feat][date-format-converter] support convert unix timestamp to ISO date string.
  extensions/datetime-format-converter/CHANGELOG.md
  extensions/datetime-format-converter/src/index.tsx
Labels: extension fix / improvement, extension: date-format-converter

#4243 Fix Craft extension to support Setapp version
  extensions/craftdocs/CHANGELOG.md
  extensions/craftdocs/package-lock.json
  extensions/craftdocs/package.json
  extensions/craftdocs/src/Config.ts
  extensions/craftdocs/src/components/DailyNotes.tsx
  extensions/craftdocs/src/hooks/useAppExists.ts
  extensions/craftdocs/src/preferences.ts
  extensions/craftdocs/src/search.tsx
Labels: extension fix / improvement, status: awaiting response from dev, extension: craftdocs

#4206 New Extension: Websocket Debugging
  extensions/websocket-debugging/.eslintrc.json
  extensions/websocket-debugging/.prettierrc
  extensions/websocket-debugging/CHANGELOG.md
  extensions/websocket-debugging/README.md
  extensions/websocket-debugging/assets/extension_icon.png
  extensions/websocket-debugging/metadata/websocket-debugging-1.png
  extensions/websocket-debugging/metadata/websocket-debugging-2.png
  extensions/websocket-debugging/metadata/websocket-debugging-3.png
  extensions/websocket-debugging/metadata/websocket-debugging-4.png
  extensions/websocket-debugging/package-lock.json
  extensions/websocket-debugging/package.json
  extensions/websocket-debugging/src/components/CreateEventAction.tsx
  extensions/websocket-debugging/src/components/CreateEventForm.tsx
  extensions/websocket-debugging/src/components/SelectChannelAction.tsx
  extensions/websocket-debugging/src/components/SelectChannelForm.tsx
  extensions/websocket-debugging/src/components/index.tsx
  extensions/websocket-debugging/src/pusher.tsx
  extensions/websocket-debugging/src/types.ts
  extensions/websocket-debugging/src/utils.tsx
  extensions/websocket-debugging/tsconfig.json
Labels: new extension

#4497 feat: add ot extension
  extensions/open-targets-raycast/.eslintrc.json
  extensions/open-targets-raycast/.gitignore
  extensions/open-targets-raycast/CHANGELOG.md
  extensions/open-targets-raycast/README.md
  extensions/open-targets-raycast/assets/ot-icon.png
  extensions/open-targets-raycast/metadata/screenshot_1.png
  extensions/open-targets-raycast/metadata/screenshot_2.png
  extensions/open-targets-raycast/metadata/screenshot_3.png
  extensions/open-targets-raycast/package-lock.json
  extensions/open-targets-raycast/package.json
  extensions/open-targets-raycast/src/genetics.tsx
  extensions/open-targets-raycast/src/genetics_docs.tsx
  extensions/open-targets-raycast/src/inspect_schema.tsx
  extensions/open-targets-raycast/src/ot_datasets.tsx
  extensions/open-targets-raycast/src/platform.tsx
  extensions/open-targets-raycast/src/platform_docs.tsx
  extensions/open-targets-raycast/src/schemas/genetics/d2v2g.json
  extensions/open-targets-raycast/src/schemas/genetics/d2v2g_scored.json
  extensions/open-targets-raycast/src/schemas/genetics/genes-index.json
  extensions/open-targets-raycast/src/schemas/genetics/l2g.json
  extensions/open-targets-raycast/src/schemas/genetics/manhattan.json
  extensions/open-targets-raycast/src/schemas/genetics/overlap-index.json
  extensions/open-targets-raycast/src/schemas/genetics/study-index.json
  extensions/open-targets-raycast/src/schemas/genetics/v2d.json
  extensions/open-targets-raycast/src/schemas/genetics/v2d_coloc.json
  extensions/open-targets-raycast/src/schemas/genetics/v2d_credset.json
  extensions/open-targets-raycast/src/schemas/genetics/v2g.json
  extensions/open-targets-raycast/src/schemas/genetics/v2g_scored.json
  extensions/open-targets-raycast/src/schemas/genetics/variant-index.json
  extensions/open-targets-raycast/src/schemas/genetics_dev/colocalisation.json
  extensions/open-targets-raycast/src/schemas/genetics_dev/studies.json
  extensions/open-targets-raycast/src/schemas/genetics_dev/study_locus.json
  extensions/open-targets-raycast/src/schemas/genetics_dev/study_locus_overlap.json
  extensions/open-targets-raycast/src/schemas/genetics_dev/targets.json
  extensions/open-targets-raycast/src/schemas/genetics_dev/v2g.json
  extensions/open-targets-raycast/src/schemas/genetics_dev/variant_annotation.json
  extensions/open-targets-raycast/src/schemas/genetics_dev/variant_index.json
  extensions/open-targets-raycast/src/schemas/index.tsx
  extensions/open-targets-raycast/src/schemas/platform/associationByDatasourceDirect.json
  extensions/open-targets-raycast/src/schemas/platform/associationByDatasourceIndirect.json
  extensions/open-targets-raycast/src/schemas/platform/associationByDatatypeDirect.json
  extensions/open-targets-raycast/src/schemas/platform/associationByDatatypeIndirect.json
  extensions/open-targets-raycast/src/schemas/platform/associationByOverallDirect.json
  extensions/open-targets-raycast/src/schemas/platform/associationByOverallIndirect.json
  extensions/open-targets-raycast/src/schemas/platform/baselineExpression.json
  extensions/open-targets-raycast/src/schemas/platform/diseaseToPhenotype.json
  extensions/open-targets-raycast/src/schemas/platform/diseases.json
  extensions/open-targets-raycast/src/schemas/platform/drugWarnings.json
  extensions/open-targets-raycast/src/schemas/platform/evidence.json
  extensions/open-targets-raycast/src/schemas/platform/go.json
  extensions/open-targets-raycast/src/schemas/platform/hpo.json
  extensions/open-targets-raycast/src/schemas/platform/indication.json
  extensions/open-targets-raycast/src/schemas/platform/interaction.json
  extensions/open-targets-raycast/src/schemas/platform/molecule.json
  extensions/open-targets-raycast/src/schemas/platform/mousePhenotypes.json
  extensions/open-targets-raycast/src/schemas/platform/reactome.json
  extensions/open-targets-raycast/src/schemas/platform/targets.json
  extensions/open-targets-raycast/src/services/api.ts
  extensions/open-targets-raycast/src/services/utils.ts
  extensions/open-targets-raycast/tsconfig.json
Labels: new extension

#4463 Add Grid layout support for kaomoji extension
  extensions/kaomoji-search/CHANGELOG.md
  extensions/kaomoji-search/package-lock.json
  extensions/kaomoji-search/package.json
  extensions/kaomoji-search/src/index.tsx
  extensions/kaomoji-search/src/types.ts
  extensions/kaomoji-search/src/useRecentKaomoji.ts
Labels: extension fix / improvement, extension: kaomoji-search

#4682 [1Password] Updates
  extensions/1password/CHANGELOG.md
  extensions/1password/assets/1password-noview.png
  extensions/1password/package.json
  extensions/1password/src/v7/components/Guide.tsx
  extensions/1password/src/v7/components/Items.tsx
  extensions/1password/src/v8/components/Guide.tsx
  extensions/1password/src/v8/components/Items.tsx
  extensions/1password/src/v8/utils.ts
Labels: extension fix / improvement, OP is contributor, extension: 1password

#4660 [confluence search] fix user icon & add type icon
  extensions/confluence-search/CHANGELOG.md
  extensions/confluence-search/assets/confluence-icon-all.svg
  extensions/confluence-search/assets/confluence-icon-audio.svg
  extensions/confluence-search/assets/confluence-icon-blog.svg
  extensions/confluence-search/assets/confluence-icon-code.svg
  extensions/confluence-search/assets/confluence-icon-file.svg
  extensions/confluence-search/assets/confluence-icon-folder.svg
  extensions/confluence-search/assets/confluence-icon-image.svg
  extensions/confluence-search/assets/confluence-icon-jira.svg
  extensions/confluence-search/assets/confluence-icon-link.svg
  extensions/confluence-search/assets/confluence-icon-page.svg
  extensions/confluence-search/assets/confluence-icon-pdf.svg
  extensions/confluence-search/assets/confluence-icon-space.svg
  extensions/confluence-search/assets/confluence-icon-spaces.svg
  extensions/confluence-search/assets/confluence-icon-spreadsheet.svg
  extensions/confluence-search/assets/confluence-icon-video.svg
  extensions/confluence-search/assets/confluence-icon-zip.svg
  extensions/confluence-search/package-lock.json
  extensions/confluence-search/src/index.tsx
Labels: extension fix / improvement, extension: confluence-search

#4488 New extension: UTM virtual machines
  extensions/utm-virtual-machines/.eslintrc.json
  extensions/utm-virtual-machines/CHANGELOG.md
  extensions/utm-virtual-machines/assets/command-icon.png
  extensions/utm-virtual-machines/metadata/utm-virtual-machines-1.png
  extensions/utm-virtual-machines/metadata/utm-virtual-machines-2.png
  extensions/utm-virtual-machines/metadata/utm-virtual-machines-3.png
  extensions/utm-virtual-machines/package-lock.json
  extensions/utm-virtual-machines/package.json
  extensions/utm-virtual-machines/src/index.tsx
  extensions/utm-virtual-machines/tsconfig.json
Labels: new extension

#4075 Warp support for terminal finder
  extensions/terminalfinder/package.json
  extensions/terminalfinder/src/clipboardToITerm.tsx
  extensions/terminalfinder/src/clipboardToTerminal.tsx
  extensions/terminalfinder/src/clipboardToWarp.tsx
  extensions/terminalfinder/src/fi.tsx
  extensions/terminalfinder/src/finderToITerm.tsx
  extensions/terminalfinder/src/finderToTerminal.tsx
  extensions/terminalfinder/src/finderToWarp.tsx
  extensions/terminalfinder/src/ft.tsx
  extensions/terminalfinder/src/iTermToFinder.tsx
  extensions/terminalfinder/src/terminalToFinder.tsx
  extensions/terminalfinder/src/warpToFinder.tsx
Labels: extension fix / improvement, extension: terminalfinder

#4693 Add palette-picker extension
  extensions/palette-picker/.eslintrc.js
  extensions/palette-picker/.gitignore
  extensions/palette-picker/CHANGELOG.md
  extensions/palette-picker/README.md
  extensions/palette-picker/assets/color-picker
  extensions/palette-picker/assets/icon.png
  extensions/palette-picker/metadata/step1.png
  extensions/palette-picker/metadata/step2.png
  extensions/palette-picker/metadata/step3.png
  extensions/palette-picker/native/Package.swift
  extensions/palette-picker/native/README.md
  extensions/palette-picker/native/package.json
  extensions/palette-picker/native/src/main.swift
  extensions/palette-picker/package-lock.json
  extensions/palette-picker/package.json
  extensions/palette-picker/src/pick-radix.ts
  extensions/palette-picker/src/pick-tailwind.ts
  extensions/palette-picker/src/radix.ts
  extensions/palette-picker/src/tailwind.ts
  extensions/palette-picker/src/utils.ts
  extensions/palette-picker/tsconfig.json
  extensions/palette-picker/turbo.json
Labels: new extension

#4474 New Extension: Fluent Outdoors
  extensions/fluent-outdoors/.eslintrc.json
  extensions/fluent-outdoors/.gitignore
  extensions/fluent-outdoors/.prettierrc
  extensions/fluent-outdoors/CHANGELOG.md
  extensions/fluent-outdoors/README.md
  extensions/fluent-outdoors/assets/fluent-outdoors.png
  extensions/fluent-outdoors/metadata/Metadata-1.png
  extensions/fluent-outdoors/metadata/Metadata-2.png
  extensions/fluent-outdoors/metadata/Metadata-3.png
  extensions/fluent-outdoors/package-lock.json
  extensions/fluent-outdoors/package.json
  extensions/fluent-outdoors/src/AnnouncementDetails.tsx
  extensions/fluent-outdoors/src/AnnouncementItem.tsx
  extensions/fluent-outdoors/src/FluentClient.ts
  extensions/fluent-outdoors/src/ServiceList.tsx
  extensions/fluent-outdoors/src/Storage.ts
  extensions/fluent-outdoors/src/TrackDetails.tsx
  extensions/fluent-outdoors/src/TrackItem.tsx
  extensions/fluent-outdoors/src/TrackList.tsx
  extensions/fluent-outdoors/src/index.tsx
  extensions/fluent-outdoors/src/types/common.ts
  extensions/fluent-outdoors/src/types/fluent.ts
  extensions/fluent-outdoors/src/utils.ts
  extensions/fluent-outdoors/tsconfig.json
Labels: new extension

#4761 Fix broken markdown links
  extensions/monzo/README.md
Labels: extension fix / improvement, extension: monzo

#4760 Add link to API key page on openai
  extensions/openai-gpt3/README.md
Labels: extension fix / improvement, extension: openai-gpt3

#4596 [Plausible Analytics] Support for self hosted instances
  extensions/plausible-analytics/CHANGELOG.md
  extensions/plausible-analytics/package-lock.json
  extensions/plausible-analytics/package.json
  extensions/plausible-analytics/src/api.ts
  extensions/plausible-analytics/src/index.tsx
Labels: extension fix / improvement, extension: plausible-analytics

#4769 Toggl Track Extension Update - Pull up to 500 projects from API
  extensions/toggl-track/CHANGELOG.md
  extensions/toggl-track/src/toggl/index.ts
Labels: extension fix / improvement, extension: toggl-track

#4672 [New extension] HIIT
  extensions/hiit/.eslintrc.json
  extensions/hiit/.gitignore
  extensions/hiit/.prettierrc
  extensions/hiit/CHANGELOG.md
  extensions/hiit/README.md
  extensions/hiit/assets/COOLDOWN.png
  extensions/hiit/assets/HIGH.png
  extensions/hiit/assets/HIIT.png
  extensions/hiit/assets/LOW.png
  extensions/hiit/assets/WARMUP.png
  extensions/hiit/assets/beep.mp3
  extensions/hiit/assets/beep01.mp3
  extensions/hiit/assets/extension-icon.png
  extensions/hiit/assets/no-view.png
  extensions/hiit/metadata/hiit-1.png
  extensions/hiit/metadata/hiit-2.png
  extensions/hiit/metadata/hiit-3.png
  extensions/hiit/metadata/hiit-4.png
  extensions/hiit/metadata/hiit-5.png
  extensions/hiit/metadata/hiit-6.png
  extensions/hiit/metadata/hiit-7.png
  extensions/hiit/package-lock.json
  extensions/hiit/package.json
  extensions/hiit/src/components/accessories.tsx
  extensions/hiit/src/components/actions/deleteInterval.tsx
  extensions/hiit/src/components/actions/editInterval.tsx
  extensions/hiit/src/components/actions/historyView.tsx
  extensions/hiit/src/components/actions/newInterval.tsx
  extensions/hiit/src/components/actions/noteFormView.tsx
  extensions/hiit/src/components/history.tsx
  extensions/hiit/src/components/intervalForm.tsx
  extensions/hiit/src/components/noteForm.tsx
  extensions/hiit/src/components/timer.tsx
  extensions/hiit/src/constants.ts
  extensions/hiit/src/index.tsx
  extensions/hiit/src/storage.ts
  extensions/hiit/src/types.ts
  extensions/hiit/src/utils.ts
  extensions/hiit/tsconfig.json
  package-lock.json
Labels: new extension

#4773 Pie for Pi-hole extension update: reflect pi-hole api auth changes
  extensions/pie-for-pihole/CHANGELOG.md
  extensions/pie-for-pihole/package-lock.json
  extensions/pie-for-pihole/package.json
  extensions/pie-for-pihole/src/get-summary.tsx
  extensions/pie-for-pihole/src/query-log.tsx
  extensions/pie-for-pihole/src/toggle-pihole.tsx
  extensions/pie-for-pihole/src/top-queries.tsx
  extensions/pie-for-pihole/src/utils.tsx
Labels: extension fix / improvement, OP is author, extension: pie-for-pi-hole

#4552 [New Extension] Microsoft OneNote
  extensions/onenote/.eslintrc.json
  extensions/onenote/.gitignore
  extensions/onenote/.prettierrc
  extensions/onenote/CHANGELOG.md
  extensions/onenote/LICENSE
  extensions/onenote/README.md
  extensions/onenote/assets/onenote-sf-icon.png
  extensions/onenote/assets/sql-wasm.wasm
  extensions/onenote/metadata/onenote-1.png
  extensions/onenote/metadata/onenote-2.png
  extensions/onenote/package-lock.json
  extensions/onenote/package.json
  extensions/onenote/src/database.ts
  extensions/onenote/src/directory.tsx
  extensions/onenote/src/index.tsx
  extensions/onenote/src/types.ts
  extensions/onenote/src/utils.ts
  extensions/onenote/tsconfig.json
Labels: new extension

#4501 Update Extension: Apple Notes - add fallback behaviour and fix window activation
  extensions/apple-notes/CHANGELOG.md
  extensions/apple-notes/package-lock.json
  extensions/apple-notes/package.json
  extensions/apple-notes/src/index.tsx
  extensions/apple-notes/src/new.tsx
Labels: extension fix / improvement, status: stalled, extension: apple-notes

#4781 [Update] Fix typo with the package name
  extensions/fluent-outdoors/package.json
Labels: extension fix / improvement, OP is author, extension: luent-outdoors

#4755 Add Epoch to Timestamp extension
  extensions/epoch-to-timestamp/.eslintrc.json
  extensions/epoch-to-timestamp/.gitignore
  extensions/epoch-to-timestamp/.prettierrc
  extensions/epoch-to-timestamp/CHANGELOG.md
  extensions/epoch-to-timestamp/README.md
  extensions/epoch-to-timestamp/assets/extension-icon.png
  extensions/epoch-to-timestamp/metadata/epoch-to-timestamp.png
  extensions/epoch-to-timestamp/package-lock.json
  extensions/epoch-to-timestamp/package.json
  extensions/epoch-to-timestamp/src/epoch.tsx
  extensions/epoch-to-timestamp/tsconfig.json
Labels: new extension

#4703 [New Extension] Readwise to Tana
  extensions/readwise-to-tana/.eslintrc.json
  extensions/readwise-to-tana/.gitignore
  extensions/readwise-to-tana/.prettierrc
  extensions/readwise-to-tana/CHANGELOG.md
  extensions/readwise-to-tana/README.md
  extensions/readwise-to-tana/assets/extension_icon.png
  extensions/readwise-to-tana/metadata/readwise-to-tana-1.png
  extensions/readwise-to-tana/metadata/readwise-to-tana-2.png
  extensions/readwise-to-tana/metadata/readwise-to-tana-3.png
  extensions/readwise-to-tana/metadata/readwise-to-tana-4.png
  extensions/readwise-to-tana/metadata/readwise-to-tana-5.png
  extensions/readwise-to-tana/package-lock.json
  extensions/readwise-to-tana/package.json
  extensions/readwise-to-tana/src/book.tsx
  extensions/readwise-to-tana/src/highlight.tsx
  extensions/readwise-to-tana/src/highlightDetails.tsx
  extensions/readwise-to-tana/src/index.tsx
  extensions/readwise-to-tana/src/settings.tsx
  extensions/readwise-to-tana/src/useApi.ts
  extensions/readwise-to-tana/tsconfig.json
Labels: new extension

#4702 [dict.cc] feat: Play audio support
  extensions/dict-cc/CHANGELOG.md
  extensions/dict-cc/package-lock.json
  extensions/dict-cc/package.json
  extensions/dict-cc/src/index.tsx
  extensions/dict-cc/src/utils.ts
Labels: extension fix / improvement, status: awaiting response from dev, Dont close, extension: dict-cc

#4753 [Update] JSON format
  extensions/json-format/CHANGELOG.md
  extensions/json-format/package-lock.json
  extensions/json-format/package.json
  extensions/json-format/src/formatClipboard.tsx
  extensions/json-format/src/formatclipboard.tsx
  extensions/json-format/src/index.tsx
  extensions/json-format/src/utils.ts
Labels: extension fix / improvement, OP is contributor, extension: json-format

#4756 [New Extension] Anilist Airing Schedule
  extensions/anilist-airing-schedule/.editorconfig
  extensions/anilist-airing-schedule/.eslintrc.json
  extensions/anilist-airing-schedule/.gitignore
  extensions/anilist-airing-schedule/.nvmrc
  extensions/anilist-airing-schedule/.prettierignore
  extensions/anilist-airing-schedule/.prettierrc.json
  extensions/anilist-airing-schedule/CHANGELOG.md
  extensions/anilist-airing-schedule/README.md
  extensions/anilist-airing-schedule/assets/anilist-icon-512x512.png
  extensions/anilist-airing-schedule/metadata/anilist-airing-schedule-1.png
  extensions/anilist-airing-schedule/metadata/anilist-airing-schedule-2.png
  extensions/anilist-airing-schedule/metadata/anilist-airing-schedule-3.png
  extensions/anilist-airing-schedule/metadata/anilist-airing-schedule-4.png
  extensions/anilist-airing-schedule/package-lock.json
  extensions/anilist-airing-schedule/package.json
  extensions/anilist-airing-schedule/src/index.tsx
  extensions/anilist-airing-schedule/src/queries.ts
  extensions/anilist-airing-schedule/src/types.ts
  extensions/anilist-airing-schedule/tsconfig.json
Labels: new extension

#4785 New Extension: Grafbase
  extensions/grafbase/.eslintrc.json
  extensions/grafbase/.gitignore
  extensions/grafbase/.prettierrc
  extensions/grafbase/CHANGELOG.md
  extensions/grafbase/README.md
  extensions/grafbase/assets/logo.png
  extensions/grafbase/codegen.ts
  extensions/grafbase/metadata/grafbase-1.png
  extensions/grafbase/metadata/grafbase-2.png
  extensions/grafbase/metadata/grafbase-3.png
  extensions/grafbase/package-lock.json
  extensions/grafbase/package.json
  extensions/grafbase/src/components/branches-dropdown.tsx
  extensions/grafbase/src/components/deployment-status-icon.tsx
  extensions/grafbase/src/components/deployments-list.tsx
  extensions/grafbase/src/components/projects-list.tsx
  extensions/grafbase/src/components/scope-dropdown.tsx
  extensions/grafbase/src/gql/fragment-masking.ts
  extensions/grafbase/src/gql/gql.ts
  extensions/grafbase/src/gql/graphql.ts
  extensions/grafbase/src/gql/index.ts
  extensions/grafbase/src/hooks/use-grafbase.ts
  extensions/grafbase/src/hooks/use-shared-state.ts
  extensions/grafbase/src/search-projects.tsx
  extensions/grafbase/tsconfig.json
Labels: new extension

#4788 [Readwise to Tana]: Add category filtering and more field mappings
  extensions/readwise-to-tana/CHANGELOG.md
  extensions/readwise-to-tana/metadata/readwise-to-tana-1.png
  extensions/readwise-to-tana/metadata/readwise-to-tana-2.png
  extensions/readwise-to-tana/metadata/readwise-to-tana-3.png
  extensions/readwise-to-tana/metadata/readwise-to-tana-4.png
  extensions/readwise-to-tana/src/highlightDetails.tsx
  extensions/readwise-to-tana/src/index.tsx
  extensions/readwise-to-tana/src/settings.tsx
  extensions/readwise-to-tana/src/useApi.ts
Labels: extension fix / improvement, OP is author, extension: readwise-to-tana

#4793 Yubikey-Code improvement
  extensions/yubikey-code/CHANGELOG.md
  extensions/yubikey-code/package-lock.json
  extensions/yubikey-code/package.json
  extensions/yubikey-code/src/index.tsx
Labels: extension fix / improvement, OP is author, extension: yubikey-code

#4741 New extension - Postman
  extensions/postman/.eslintrc.json
  extensions/postman/.gitignore
  extensions/postman/.prettierrc
  extensions/postman/CHANGELOG.md
  extensions/postman/README.md
  extensions/postman/assets/postman.png
  extensions/postman/metadata/postman-1.png
  extensions/postman/metadata/postman-2.png
  extensions/postman/metadata/postman-3.png
  extensions/postman/metadata/postman-4.png
  extensions/postman/package-lock.json
  extensions/postman/package.json
  extensions/postman/src/components/CollectionItemDetails.tsx
  extensions/postman/src/components/CollectionList.tsx
  extensions/postman/src/components/CollectionListItem.tsx
  extensions/postman/src/components/RequestBuilder.tsx
  extensions/postman/src/components/ResponseDetails.tsx
  extensions/postman/src/fetch/useFetch.tsx
  extensions/postman/src/sendRequest.tsx
  extensions/postman/src/types/index.ts
  extensions/postman/src/utils/index.ts
  extensions/postman/tsconfig.json
Labels: new extension

#4752 [New Extension] BeeRaycast
  extensions/beeminder/.eslintrc.json
  extensions/beeminder/.gitignore
  extensions/beeminder/.prettierrc
  extensions/beeminder/CHANGELOG.md
  extensions/beeminder/README.md
  extensions/beeminder/assets/beelogo.png
  extensions/beeminder/metadata/beeminder-1.png
  extensions/beeminder/metadata/beeminder-2.png
  extensions/beeminder/metadata/beeminder-3.png
  extensions/beeminder/package-lock.json
  extensions/beeminder/package.json
  extensions/beeminder/src/api.ts
  extensions/beeminder/src/beeminder.tsx
  extensions/beeminder/src/types.ts
  extensions/beeminder/tsconfig.json
Labels: new extension

#4728 [New Extension] Tuya smart extension
  extensions/tuya-smart/.eslintrc.json
  extensions/tuya-smart/.gitignore
  extensions/tuya-smart/.prettierrc
  extensions/tuya-smart/CHANGELOG.md
  extensions/tuya-smart/README.md
  extensions/tuya-smart/assets/Authorize_API_Services_Dialog_box.png
  extensions/tuya-smart/assets/Create_Cloud_Project_Dialog_box.png
  extensions/tuya-smart/assets/add_app_account.png
  extensions/tuya-smart/assets/all_devices.png
  extensions/tuya-smart/assets/app_qr.png
  extensions/tuya-smart/assets/auth_key.png
  extensions/tuya-smart/assets/command-icon.png
  extensions/tuya-smart/assets/tuya-logo.png
  extensions/tuya-smart/metadata/screenshot-01.png
  extensions/tuya-smart/metadata/screenshot-02.png
  extensions/tuya-smart/metadata/screenshot-03.png
  extensions/tuya-smart/metadata/screenshot-04.png
  extensions/tuya-smart/package-lock.json
  extensions/tuya-smart/package.json
  extensions/tuya-smart/src/components/actionPanels.tsx
  extensions/tuya-smart/src/components/actions.tsx
  extensions/tuya-smart/src/components/deviceCommands.tsx
  extensions/tuya-smart/src/components/filter.tsx
  extensions/tuya-smart/src/components/list.tsx
  extensions/tuya-smart/src/components/renameFunction.tsx
  extensions/tuya-smart/src/index.tsx
  extensions/tuya-smart/src/utils/functions.ts
  extensions/tuya-smart/src/utils/interfaces.ts
  extensions/tuya-smart/src/utils/tuyaConnector.ts
  extensions/tuya-smart/src/utils/types.ts
  extensions/tuya-smart/tsconfig.json
Labels: new extension

#4797 [Readwise to Tana]: New field mappings for highlights and author supertag
  extensions/readwise-to-tana/CHANGELOG.md
  extensions/readwise-to-tana/src/book.tsx
  extensions/readwise-to-tana/src/index.tsx
  extensions/readwise-to-tana/src/settings.tsx
  extensions/readwise-to-tana/src/utils.ts
Labels: extension fix / improvement, OP is author, extension: readwise-to-tana

#4803 [New Extension] Ligue 1
  extensions/ligue-1/.eslintrc.json
  extensions/ligue-1/.gitignore
  extensions/ligue-1/CHANGELOG.md
  extensions/ligue-1/LICENSE
  extensions/ligue-1/README.md
  extensions/ligue-1/assets/default.png
  extensions/ligue-1/assets/icon.png
  extensions/ligue-1/metadata/ligue-1-1.png
  extensions/ligue-1/metadata/ligue-1-2.png
  extensions/ligue-1/metadata/ligue-1-3.png
  extensions/ligue-1/metadata/ligue-1-4.png
  extensions/ligue-1/package-lock.json
  extensions/ligue-1/package.json
  extensions/ligue-1/src/api/index.ts
  extensions/ligue-1/src/club.tsx
  extensions/ligue-1/src/components/season_dropdown.tsx
  extensions/ligue-1/src/components/squad.tsx
  extensions/ligue-1/src/result.tsx
  extensions/ligue-1/src/table.tsx
  extensions/ligue-1/src/types/index.d.ts
  extensions/ligue-1/src/types/xpath-html.d.ts
  extensions/ligue-1/tsconfig.json
Labels: new extension

#4795 Add Laravel 10.x documentation, move version switcher to view
  extensions/laravel-docs/CHANGELOG.md
  extensions/laravel-docs/package-lock.json
  extensions/laravel-docs/package.json
  extensions/laravel-docs/src/documentation/10.x.json
  extensions/laravel-docs/src/documentation/master.json
  extensions/laravel-docs/src/index.tsx
  extensions/laravel-docs/src/version_dropdown.tsx
Labels: extension fix / improvement, OP is author, extension: laravel-docs

#4790 [Arc] Add the ability to create a quicklink from a tab
  extensions/arc/CHANGELOG.md
  extensions/arc/package.json
  extensions/arc/src/actions.tsx
  extensions/arc/src/list.tsx
Labels: extension fix / improvement, extension: arc

#4747 [New extension] Update Clash Subscription
  extensions/update-clash-subscription/.eslintrc.json
  extensions/update-clash-subscription/.prettierrc
  extensions/update-clash-subscription/CHANGELOG.md
  extensions/update-clash-subscription/README.md
  extensions/update-clash-subscription/assets/logo.png
  extensions/update-clash-subscription/metadata/update-clash-subscription-1.png
  extensions/update-clash-subscription/metadata/update-clash-subscription-2.png
  extensions/update-clash-subscription/package-lock.json
  extensions/update-clash-subscription/package.json
  extensions/update-clash-subscription/src/index.tsx
  extensions/update-clash-subscription/src/utils/exec.ts
  extensions/update-clash-subscription/tsconfig.json
Labels: new extension

#4819 temporary-email: fix maildrop url
  extensions/temporary-email/CHANGELOG.md
  extensions/temporary-email/package.json
  extensions/temporary-email/src/index.ts
Labels: extension fix / improvement, extension: temporary-email

#4798 Dynamically generate version dropdown
  extensions/laravel-docs/README-DEV.md
  extensions/laravel-docs/assets/documentation/10.x.json
  extensions/laravel-docs/assets/documentation/4.2.json
  extensions/laravel-docs/assets/documentation/5.0.json
  extensions/laravel-docs/assets/documentation/5.1.json
  extensions/laravel-docs/assets/documentation/5.2.json
  extensions/laravel-docs/assets/documentation/5.3.json
  extensions/laravel-docs/assets/documentation/5.4.json
  extensions/laravel-docs/assets/documentation/5.5.json
  extensions/laravel-docs/assets/documentation/5.6.json
  extensions/laravel-docs/assets/documentation/5.7.json
  extensions/laravel-docs/assets/documentation/5.8.json
  extensions/laravel-docs/assets/documentation/6.x.json
  extensions/laravel-docs/assets/documentation/7.x.json
  extensions/laravel-docs/assets/documentation/8.x.json
  extensions/laravel-docs/assets/documentation/9.x.json
  extensions/laravel-docs/assets/documentation/master.json
  extensions/laravel-docs/package-lock.json
  extensions/laravel-docs/package.json
  extensions/laravel-docs/src/index.tsx
Labels: extension fix / improvement, OP is author, extension: laravel-docs

#4800 Twitch Logs - View twitch chat logs
  extensions/twitch-logs/.eslintrc.json
  extensions/twitch-logs/.prettierrc
  extensions/twitch-logs/CHANGELOG.md
  extensions/twitch-logs/README.md
  extensions/twitch-logs/assets/command-icon.png
  extensions/twitch-logs/metadata/twitch-logs-1.png
  extensions/twitch-logs/metadata/twitch-logs-2.png
  extensions/twitch-logs/package-lock.json
  extensions/twitch-logs/package.json
  extensions/twitch-logs/src/index.tsx
  extensions/twitch-logs/tsconfig.json
Labels: new extension

#4825 Update supabase docs links
  extensions/supabase-docs/CHANGELOG.md
  extensions/supabase-docs/package-lock.json
  extensions/supabase-docs/package.json
  extensions/supabase-docs/src/docs.json
  extensions/supabase-docs/src/search-documentation.tsx
Labels: extension fix / improvement, OP is author, extension: supabase-docs

#4804 mayar raycast extension
  extensions/mayar/.eslintrc.json
  extensions/mayar/.gitignore
  extensions/mayar/.prettierrc
  extensions/mayar/CHANGELOG.md
  extensions/mayar/README.md
  extensions/mayar/assets/active.png
  extensions/mayar/assets/mayar-command-icon.png
  extensions/mayar/assets/pending.png
  extensions/mayar/assets/wallet.png
  extensions/mayar/package-lock.json
  extensions/mayar/package.json
  extensions/mayar/src/mayar.tsx
  extensions/mayar/tsconfig.json
Labels: new extension

#4829 Transfer Grafbase
  .github/public_raycast_extensions.txt
  extensions/grafbase/package.json
Labels: extension fix / improvement, extension: grafbase

#4723 [New Extension] Send To Memos
  extensions/memos/.eslintrc.json
  extensions/memos/.prettierrc
  extensions/memos/CHANGELOG.md
  extensions/memos/README.md
  extensions/memos/assets/logo.png
  extensions/memos/metadata/send-to-memos-1.png
  extensions/memos/metadata/send-to-memos-2.png
  extensions/memos/package-lock.json
  extensions/memos/package.json
  extensions/memos/src/api.ts
  extensions/memos/src/constant.ts
  extensions/memos/src/memosList.tsx
  extensions/memos/src/openMemoWebsite.tsx
  extensions/memos/src/sendMemo.tsx
  extensions/memos/src/sendMemoForm.tsx
  extensions/memos/src/types.ts
  extensions/memos/tsconfig.json
Labels: new extension

#4830 Twitter Extension: Accept default value via launch context
  extensions/twitter/package.json
  extensions/twitter/src/send.tsx
  extensions/twitter/src/v2/components/send.tsx
Labels: extension fix / improvement, extension: twitter

#4840 Color picker: Fix error message if menu bar component disabled
  extensions/color-picker/CHANGELOG.md
  extensions/color-picker/package.json
  extensions/color-picker/src/pick-color.ts
Labels: extension fix / improvement, extension: color-picker

#4746 Add discord-timestamps
  extensions/discord-timestamps/.eslintrc.json
  extensions/discord-timestamps/.gitignore
  extensions/discord-timestamps/.prettierrc
  extensions/discord-timestamps/CHANGELOG.md
  extensions/discord-timestamps/README.md
  extensions/discord-timestamps/assets/command-icon.png
  extensions/discord-timestamps/metadata/discord-timestamps-1.png
  extensions/discord-timestamps/metadata/discord-timestamps-2.png
  extensions/discord-timestamps/metadata/discord-timestamps-3.png
  extensions/discord-timestamps/package-lock.json
  extensions/discord-timestamps/package.json
  extensions/discord-timestamps/src/timestamp.tsx
  extensions/discord-timestamps/src/timestamps.ts
  extensions/discord-timestamps/test.js
  extensions/discord-timestamps/tsconfig.json
Labels: new extension

#4843 Linear: Update SDK version.
  extensions/linear/package-lock.json
  extensions/linear/package.json
  extensions/linear/src/api/getProjects.ts
  extensions/linear/src/components/CreateProjectForm.tsx
  extensions/linear/src/components/EditProjectForm.tsx
  extensions/linear/src/components/Project.tsx
  extensions/linear/src/components/ProjectList.tsx
  extensions/linear/src/hooks/useMilestones.ts
  extensions/linear/src/hooks/useProjects.ts
Labels: extension fix / improvement, extension: linear

#4833 [New Extension] Add the-verge extension
  extensions/the-verge/.eslintrc.json
  extensions/the-verge/.gitignore
  extensions/the-verge/.prettierrc
  extensions/the-verge/CHANGELOG.md
  extensions/the-verge/README.md
  extensions/the-verge/assets/extension_icon.png
  extensions/the-verge/metadata/the-verge-1.png
  extensions/the-verge/metadata/the-verge-2.png
  extensions/the-verge/metadata/the-verge-3.png
  extensions/the-verge/package-lock.json
  extensions/the-verge/package.json
  extensions/the-verge/src/the-verge.tsx
  extensions/the-verge/tsconfig.json
Labels: new extension

#4866 Fixes the name used to access date/data ranges
  extensions/wakatime/CHANGELOG.md
  extensions/wakatime/package-lock.json
  extensions/wakatime/package.json
  extensions/wakatime/src/components/Summary.tsx
  extensions/wakatime/src/hooks/use-activity-change.ts
  extensions/wakatime/src/hooks/use-summary.ts
  extensions/wakatime/src/today-summary.tsx
  extensions/wakatime/src/types.ts
  extensions/wakatime/src/utils/index.ts
Labels: extension fix / improvement, OP is author, extension: wakatime

#4857 [Laravel-Valet] Improvements and new features
  extensions/laravel-valet/CHANGELOG.md
  extensions/laravel-valet/assets/laravel-valet.png
  extensions/laravel-valet/assets/no-view.png
  extensions/laravel-valet/media/laravel-valet-cover.png
  extensions/laravel-valet/media/showcase-1.png
  extensions/laravel-valet/media/showcase-2.png
  extensions/laravel-valet/metadata/laravel-valet-1.png
  extensions/laravel-valet/metadata/laravel-valet-2.png
  extensions/laravel-valet/metadata/laravel-valet-3.png
  extensions/laravel-valet/metadata/laravel-valet-4.png
  extensions/laravel-valet/metadata/laravel-valet-5.png
  extensions/laravel-valet/metadata/laravel-valet-6.png
  extensions/laravel-valet/package-lock.json
  extensions/laravel-valet/package.json
  extensions/laravel-valet/src/components/Site.tsx
  extensions/laravel-valet/src/components/SiteActions.tsx
  extensions/laravel-valet/src/components/SiteDetail.tsx
  extensions/laravel-valet/src/components/SiteListItem.tsx
  extensions/laravel-valet/src/helpers/general.ts
  extensions/laravel-valet/src/helpers/sites.ts
  extensions/laravel-valet/src/index.tsx
  extensions/laravel-valet/src/types/entities.d.ts
  extensions/laravel-valet/src/utils.tsx
Labels: extension fix / improvement, OP is author, extension: laravel-valet

#4837 Fix for #4835, adds support for less than 1 day due date
  extensions/beeminder/CHANGELOG.md
  extensions/beeminder/metadata/beeminder-2.png
  extensions/beeminder/package-lock.json
  extensions/beeminder/package.json
  extensions/beeminder/src/beeminder.tsx
Labels: extension fix / improvement, OP is author, extension: beeminder

#4811 [New Extension] Add timezone-converter extension
  extensions/timezone-converter/.eslintrc.json
  extensions/timezone-converter/.gitignore
  extensions/timezone-converter/.prettierrc
  extensions/timezone-converter/CHANGELOG.md
  extensions/timezone-converter/README.md
  extensions/timezone-converter/assets/command-icon.png
  extensions/timezone-converter/assets/timezones/UTC+1.png
  extensions/timezone-converter/assets/timezones/UTC+10.png
  extensions/timezone-converter/assets/timezones/UTC+11.png
  extensions/timezone-converter/assets/timezones/UTC+12.png
  extensions/timezone-converter/assets/timezones/UTC+2.png
  extensions/timezone-converter/assets/timezones/UTC+3.png
  extensions/timezone-converter/assets/timezones/UTC+4.png
  extensions/timezone-converter/assets/timezones/UTC+5.png
  extensions/timezone-converter/assets/timezones/UTC+6.png
  extensions/timezone-converter/assets/timezones/UTC+7.png
  extensions/timezone-converter/assets/timezones/UTC+8.png
  extensions/timezone-converter/assets/timezones/UTC+9.png
  extensions/timezone-converter/assets/timezones/UTC-1.png
  extensions/timezone-converter/assets/timezones/UTC-10.png
  extensions/timezone-converter/assets/timezones/UTC-11.png
  extensions/timezone-converter/assets/timezones/UTC-12.png
  extensions/timezone-converter/assets/timezones/UTC-2.png
  extensions/timezone-converter/assets/timezones/UTC-3.png
  extensions/timezone-converter/assets/timezones/UTC-4.png
  extensions/timezone-converter/assets/timezones/UTC-5.png
  extensions/timezone-converter/assets/timezones/UTC-6.png
  extensions/timezone-converter/assets/timezones/UTC-7.png
  extensions/timezone-converter/assets/timezones/UTC-8.png
  extensions/timezone-converter/assets/timezones/UTC-9.png
  extensions/timezone-converter/assets/timezones/UTC.png
  extensions/timezone-converter/package-lock.json
  extensions/timezone-converter/package.json
  extensions/timezone-converter/src/index.tsx
  extensions/timezone-converter/tsconfig.json
Labels: new extension

#4854 (feat): chatgpt3-prompt remove result.json connect the api and readme update
  extensions/chatgpt3-prompt/CHANGELOG.md
  extensions/chatgpt3-prompt/README.md
  extensions/chatgpt3-prompt/package-lock.json
  extensions/chatgpt3-prompt/package.json
  extensions/chatgpt3-prompt/src/index.tsx
  extensions/chatgpt3-prompt/src/result.json
Labels: extension fix / improvement, OP is author, OP is contributor, extension: chatgpt3-prompt

#4482 Add "roam research" extension
  extensions/roam-research/.eslintrc.json
  extensions/roam-research/.prettierrc
  extensions/roam-research/CHANGELOG.md
  extensions/roam-research/README.md
  extensions/roam-research/assets/favicon.png
  extensions/roam-research/assets/list-icon.png
  extensions/roam-research/metadata/roam-research-1.png
  extensions/roam-research/metadata/roam-research-2.png
  extensions/roam-research/package-lock.json
  extensions/roam-research/package.json
  extensions/roam-research/src/background.ts
  extensions/roam-research/src/cache.ts
  extensions/roam-research/src/components.tsx
  extensions/roam-research/src/daily-note.tsx
  extensions/roam-research/src/detail.tsx
  extensions/roam-research/src/globals.d.ts
  extensions/roam-research/src/index.tsx
  extensions/roam-research/src/list.tsx
  extensions/roam-research/src/new-graph.tsx
  extensions/roam-research/src/parse-template.ts
  extensions/roam-research/src/random.tsx
  extensions/roam-research/src/roamApi.ts
  extensions/roam-research/src/search.tsx
  extensions/roam-research/src/type.d.ts
  extensions/roam-research/src/utils.ts
  extensions/roam-research/tsconfig.json
Labels: new extension

#4806 fix(Apple Notes) Error handling and prompts
  extensions/apple-notes/CHANGELOG.md
  extensions/apple-notes/assets/accessibility.png
  extensions/apple-notes/assets/automation.png
  extensions/apple-notes/assets/full-disk-access.png
  extensions/apple-notes/assets/unknown-privacy.png
  extensions/apple-notes/package.json
  extensions/apple-notes/src/errors.tsx
  extensions/apple-notes/src/index.tsx
  extensions/apple-notes/src/new.tsx
  extensions/apple-notes/src/useAppleScript.ts
  extensions/apple-notes/src/useSql.ts
Labels: extension fix / improvement, extension: apple-notes

#4890 [Fix] Fix map issue on timezone-converter extension
  extensions/timezone-converter/CHANGELOG.md
  extensions/timezone-converter/package.json
  extensions/timezone-converter/src/index.tsx
Labels: extension fix / improvement, OP is author, OP is contributor, extension: raycast-timezone-converter

#4656 Add Jupiter Aggregator Extension
  extensions/jupiter-aggregator/.eslintrc.json
  extensions/jupiter-aggregator/.gitignore
  extensions/jupiter-aggregator/.prettierrc
  extensions/jupiter-aggregator/CHANGELOG.md
  extensions/jupiter-aggregator/README.md
  extensions/jupiter-aggregator/assets/jupiter.png
  extensions/jupiter-aggregator/assets/solana.svg
  extensions/jupiter-aggregator/metadata/jupiter-aggregator-1.png
  extensions/jupiter-aggregator/metadata/jupiter-aggregator-2.png
  extensions/jupiter-aggregator/package-lock.json
  extensions/jupiter-aggregator/package.json
  extensions/jupiter-aggregator/src/api.ts
  extensions/jupiter-aggregator/src/compare-token-prices.tsx
  extensions/jupiter-aggregator/src/menu-bar-token-price.tsx
  extensions/jupiter-aggregator/tsconfig.json
Labels: new extension

#3625 Fix max heap
  extensions/clojuredocs-search/CHANGELOG.md
  extensions/clojuredocs-search/package-lock.json
  extensions/clojuredocs-search/package.json
  extensions/clojuredocs-search/src/index.tsx
Labels: extension fix / improvement, OP is author, extension: search-clojuredocs

#4850 New extension: Parallel dollar in Argentina
  extensions/dollar-blue/.eslintrc.json
  extensions/dollar-blue/.gitignore
  extensions/dollar-blue/.prettierrc
  extensions/dollar-blue/CHANGELOG.md
  extensions/dollar-blue/README.md
  extensions/dollar-blue/assets/command-icon.png
  extensions/dollar-blue/assets/headerImg.png
  extensions/dollar-blue/package-lock.json
  extensions/dollar-blue/package.json
  extensions/dollar-blue/src/index.tsx
  extensions/dollar-blue/src/pretty-builder.ts
  extensions/dollar-blue/src/types/index.d.ts
  extensions/dollar-blue/tsconfig.json
Labels: new extension

#4852 [Toothpick] Refactor + Jabra Elite 85t
  extensions/toothpick/CHANGELOG.md
  extensions/toothpick/CODE_OF_CONDUCT.md
  extensions/toothpick/CONTRIBUTING.md
  extensions/toothpick/README.md
  extensions/toothpick/assets/icons/devices/jabra/connected/elite.85t.svg
  extensions/toothpick/assets/icons/devices/jabra/elite.85t.svg
  extensions/toothpick/package.json
  extensions/toothpick/src/connect-device.ts
  extensions/toothpick/src/constants/devices/apple/airpods.ts
  extensions/toothpick/src/constants/devices/apple/beats.ts
  extensions/toothpick/src/constants/devices/apple/index.ts
  extensions/toothpick/src/constants/devices/apple/magic-keyboard.ts
  extensions/toothpick/src/constants/devices/apple/magic-mouse.ts
  extensions/toothpick/src/constants/devices/apple/magic-trackpad.ts
  extensions/toothpick/src/constants/devices/bose.ts
  extensions/toothpick/src/constants/devices/google.ts
  extensions/toothpick/src/constants/devices/index.ts
  extensions/toothpick/src/constants/devices/jabra.ts
  extensions/toothpick/src/constants/devices/samsung.ts
  extensions/toothpick/src/constants/devices/sony.ts
  extensions/toothpick/src/constants/devices/ugreen.ts
  extensions/toothpick/src/constants/index.ts
  extensions/toothpick/src/disconnect-device.ts
  extensions/toothpick/src/helpers/devices.ts
  extensions/toothpick/src/manage-bluetooth-connections.tsx
  extensions/toothpick/src/mappers/apple/index.ts
  extensions/toothpick/src/mappers/apple/products/airpods.ts
  extensions/toothpick/src/mappers/apple/products/beats.ts
  extensions/toothpick/src/mappers/apple/products/magic-keyboard.ts
  extensions/toothpick/src/mappers/apple/products/magic-mouse.ts
  extensions/toothpick/src/mappers/apple/products/magic-trackpad.ts
  extensions/toothpick/src/mappers/bose/index.ts
  extensions/toothpick/src/mappers/bose/products/index.ts
  extensions/toothpick/src/mappers/devices.tsx
  extensions/toothpick/src/mappers/generic/index.tsx
  extensions/toothpick/src/mappers/google/index.ts
  extensions/toothpick/src/mappers/google/products/index.ts
  extensions/toothpick/src/mappers/samsung/index.ts
  extensions/toothpick/src/mappers/samsung/products/index.ts
  extensions/toothpick/src/mappers/sony/index.ts
  extensions/toothpick/src/mappers/sony/products/index.ts
  extensions/toothpick/src/mappers/ugreen/index.ts
  extensions/toothpick/src/mappers/ugreen/products/index.ts
  extensions/toothpick/src/services/devices.ts
  extensions/toothpick/src/types/device.tsx
  extensions/toothpick/src/types/index.ts
Labels: extension fix / improvement, OP is author, extension: toothpick

#4863 [New Extension] Search Universities worldwide
  extensions/universities/.eslintrc.json
  extensions/universities/.gitignore
  extensions/universities/.prettierrc
  extensions/universities/CHANGELOG.md
  extensions/universities/README.md
  extensions/universities/assets/graduationcap.fill_black.png
  extensions/universities/assets/graduationcap.fill_white.png
  extensions/universities/assets/universities-icon.png
  extensions/universities/metadata/universities-1.png
  extensions/universities/metadata/universities-2.png
  extensions/universities/package-lock.json
  extensions/universities/package.json
  extensions/universities/src/index.tsx
  extensions/universities/src/types.ts
  extensions/universities/tsconfig.json
Labels: new extension

#4900 [LaLiga] refine fixtures & results, add other competitions command
  extensions/laliga/.prettierrc
  extensions/laliga/CHANGELOG.md
  extensions/laliga/README.md
  extensions/laliga/assets/stadium.svg
  extensions/laliga/metadata/laliga-1.png
  extensions/laliga/metadata/laliga-2.png
  extensions/laliga/package-lock.json
  extensions/laliga/package.json
  extensions/laliga/src/api/index.ts
  extensions/laliga/src/club.tsx
  extensions/laliga/src/components/club.tsx
  extensions/laliga/src/components/competition_dropdown.tsx
  extensions/laliga/src/components/matchday.tsx
  extensions/laliga/src/components/player.tsx
  extensions/laliga/src/components/squad.tsx
  extensions/laliga/src/other.tsx
  extensions/laliga/src/result.tsx
  extensions/laliga/src/standing.tsx
  extensions/laliga/src/types/index.d.ts
Labels: extension fix / improvement, OP is author, extension: laliga

#4899 [Premier League] refine fixtures & results, add more club information
  extensions/premier-league/CHANGELOG.md
  extensions/premier-league/assets/stadium.svg
  extensions/premier-league/metadata/premier-league-2.png
  extensions/premier-league/package-lock.json
  extensions/premier-league/package.json
  extensions/premier-league/src/api/index.ts
  extensions/premier-league/src/club.tsx
  extensions/premier-league/src/components/matchday.tsx
  extensions/premier-league/src/components/searchbar.tsx
  extensions/premier-league/src/fixture.tsx
  extensions/premier-league/src/hooks/useFixtures.ts
  extensions/premier-league/src/hooks/useSeasons.ts
  extensions/premier-league/src/result.tsx
  extensions/premier-league/src/table.tsx
  extensions/premier-league/src/types/index.d.ts
  extensions/premier-league/src/utils/index.ts
Labels: extension fix / improvement, OP is author, extension: premier-league

#4901 [Serie A] refine fixtures & results, add 2 new commands
  extensions/lega-serie-a/CHANGELOG.md
  extensions/lega-serie-a/assets/coppa_icon.png
  extensions/lega-serie-a/metadata/serie-a-1.png
  extensions/lega-serie-a/metadata/serie-a-2.png
  extensions/lega-serie-a/metadata/serie-a-6.png
  extensions/lega-serie-a/package-lock.json
  extensions/lega-serie-a/package.json
  extensions/lega-serie-a/src/api/index.ts
  extensions/lega-serie-a/src/components/matchday.tsx
  extensions/lega-serie-a/src/coppa.tsx
  extensions/lega-serie-a/src/international.tsx
  extensions/lega-serie-a/src/result.tsx
  extensions/lega-serie-a/src/table.tsx
  extensions/lega-serie-a/src/types/coppa.d.ts
  extensions/lega-serie-a/src/types/index.d.ts
Labels: extension fix / improvement, OP is author, extension: serie-a

#4461 omni-news initial release
  extensions/omni-news/.eslintrc.json
  extensions/omni-news/.gitignore
  extensions/omni-news/.prettierrc
  extensions/omni-news/.vscode/launch.json
  extensions/omni-news/CHANGELOG.md
  extensions/omni-news/README.md
  extensions/omni-news/assets/omni_icon.png
  extensions/omni-news/metadata/omni-news-screenshot.png
  extensions/omni-news/metadata/omni-news-screenshot1.png
  extensions/omni-news/metadata/omni-news-screenshot2.png
  extensions/omni-news/package-lock.json
  extensions/omni-news/package.json
  extensions/omni-news/src/Article.ts
  extensions/omni-news/src/ArticleUtils.ts
  extensions/omni-news/src/Duration.ts
  extensions/omni-news/src/api.ts
  extensions/omni-news/src/index.tsx
  extensions/omni-news/tsconfig.json
Labels: new extension

#4894 [New Extension] CRAN/E packages and authors search
  extensions/cran-e-search/.eslintrc.json
  extensions/cran-e-search/.gitignore
  extensions/cran-e-search/.nvmrc
  extensions/cran-e-search/.prettierrc
  extensions/cran-e-search/CHANGELOG.md
  extensions/cran-e-search/README.md
  extensions/cran-e-search/assets/app.png
  extensions/cran-e-search/assets/app@dark.png
  extensions/cran-e-search/assets/cmd-author.png
  extensions/cran-e-search/assets/cmd-author@dark.png
  extensions/cran-e-search/assets/cmd-package.png
  extensions/cran-e-search/assets/cmd-package@dark.png
  extensions/cran-e-search/metadata/cran-e-search-1.png
  extensions/cran-e-search/metadata/cran-e-search-2.png
  extensions/cran-e-search/metadata/cran-e-search-3.png
  extensions/cran-e-search/metadata/cran-e-search-4.png
  extensions/cran-e-search/metadata/cran-e-search-5.png
  extensions/cran-e-search/package-lock.json
  extensions/cran-e-search/package.json
  extensions/cran-e-search/src/author.tsx
  extensions/cran-e-search/src/models/net.ts
  extensions/cran-e-search/src/package.tsx
  extensions/cran-e-search/tsconfig.json
Labels: new extension

#4467 New Extension: create-t3-app
  extensions/create-t3-app/.eslintrc.json
  extensions/create-t3-app/.gitattributes
  extensions/create-t3-app/.gitignore
  extensions/create-t3-app/.prettierrc
  extensions/create-t3-app/CHANGELOG.md
  extensions/create-t3-app/README.md
  extensions/create-t3-app/assets/command-icon.png
  extensions/create-t3-app/metadata/create-t3-app-1.png
  extensions/create-t3-app/metadata/create-t3-app-2.png
  extensions/create-t3-app/metadata/create-t3-app-3.png
  extensions/create-t3-app/package-lock.json
  extensions/create-t3-app/package.json
  extensions/create-t3-app/src/index.tsx
  extensions/create-t3-app/tsconfig.json
Labels: new extension
