Repository raycast/extensions, pull requests merged in 2023-04, with the labels that each got.

#5705 [Binance] Fix incompatible api options
  extensions/binance/src/index.tsx
Labels: extension fix / improvement, extension: binance

#5682 Linear: display issue relations in details
  extensions/linear/src/api/getIssues.ts
  extensions/linear/src/components/IssueDetail.tsx
Labels: extension fix / improvement, extension: linear

#5749 chore: dependencies update
  extensions/github/package-lock.json
  extensions/github/package.json
Labels: extension fix / improvement, extension: github

#5669 Fix search in iconify extension
  extensions/iconify/.gitignore
  extensions/iconify/CHANGELOG.md
  extensions/iconify/package.json
  extensions/iconify/src/view-icons.tsx
Labels: extension fix / improvement, extension: iconify

#5314 Add thesaurus extension
  extensions/thesaurus/.eslintrc.json
  extensions/thesaurus/.gitignore
  extensions/thesaurus/.prettierrc
  extensions/thesaurus/CHANGELOG.md
  extensions/thesaurus/README.md
  extensions/thesaurus/assets/command-icon.png
  extensions/thesaurus/assets/extension_icon.png
  extensions/thesaurus/assets/icon.png
  extensions/thesaurus/metadata/thesaurus-1.png
  extensions/thesaurus/metadata/thesaurus-2.png
  extensions/thesaurus/metadata/thesaurus-3.png
  extensions/thesaurus/metadata/thesaurus-4.png
  extensions/thesaurus/package-lock.json
  extensions/thesaurus/package.json
  extensions/thesaurus/src/lib/cache.ts
  extensions/thesaurus/src/lib/constants.ts
  extensions/thesaurus/src/lib/scraper.ts
  extensions/thesaurus/src/lib/store.ts
  extensions/thesaurus/src/lib/types/types.ts
  extensions/thesaurus/src/lib/utils.ts
  extensions/thesaurus/src/lib/views/lookup-view.tsx
  extensions/thesaurus/src/lib/views/word-list.tsx
  extensions/thesaurus/src/thesaurus.tsx
  extensions/thesaurus/tsconfig.json
Labels: new extension

#5794 Added secondary action "Paste in active app"
  extensions/transform/src/components/DefaultForm.tsx
Labels: extension fix / improvement, extension: transform

#5752 Update color-picker extension
  extensions/color-picker/package-lock.json
  extensions/color-picker/package.json
  extensions/color-picker/src/types.ts
  extensions/color-picker/src/utils.ts
Labels: extension fix / improvement, extension: color-picker

#5748 chore: dependencies update
  extensions/github-for-enterprise/package-lock.json
  extensions/github-for-enterprise/package.json
Labels: extension fix / improvement, OP is contributor, extension: github-for-enterprise

#5723 feat(readwise-reader): Add search command
  extensions/readwise-reader/CHANGELOG.md
  extensions/readwise-reader/package.json
  extensions/readwise-reader/src/api/save.ts
  extensions/readwise-reader/src/open-inbox.tsx
  extensions/readwise-reader/src/open-shortlist.tsx
  extensions/readwise-reader/src/save-selection.tsx
  extensions/readwise-reader/src/search.tsx
  extensions/readwise-reader/src/utils/handleError.ts
  extensions/readwise-reader/src/utils/handleSave.ts
Labels: extension fix / improvement, OP is author, extension: readwise-reader

#5704 [JIRA Self Hosted] - Dependencies upgrades
  extensions/jira-search-self-hosted/package-lock.json
  extensions/jira-search-self-hosted/package.json
Labels: extension fix / improvement, extension: jira-search-self-hosted

#5687 Update file-manager extension
  extensions/file-manager/.gitignore
  extensions/file-manager/CHANGELOG.md
  extensions/file-manager/package-lock.json
  extensions/file-manager/package.json
  extensions/file-manager/src/utils.tsx
Labels: extension fix / improvement, extension: file-manager

#5866 [Arc] Improve new little Arc window usability
  extensions/arc/package.json
  extensions/arc/src/new-little-arc.ts
Labels: extension fix / improvement, extension: arc

#5847 Fix broken emojis in ext/slack-status
  extensions/slack-status/package.json
  extensions/slack-status/src/emojiCodes.ts
Labels: extension fix / improvement, extension: slack-status

#5832 [CHATGPT] fix & feat 4/9/23
  extensions/chatgpt/CHANGELOG.md
  extensions/chatgpt/README.md
  extensions/chatgpt/package.json
  extensions/chatgpt/src/hooks/useChat.tsx
Labels: extension fix / improvement, OP is author, extension: chatgpt

#5836 Update google-maps-search extension
  extensions/google-maps-search/.eslintrc.json
  extensions/google-maps-search/.gitignore
  extensions/google-maps-search/CHANGELOG.md
  extensions/google-maps-search/README.md
  extensions/google-maps-search/metadata/google-maps-search-1.png
  extensions/google-maps-search/metadata/google-maps-search-2.png
  extensions/google-maps-search/metadata/google-maps-search-3.png
  extensions/google-maps-search/package-lock.json
  extensions/google-maps-search/package.json
  extensions/google-maps-search/src/find.tsx
  extensions/google-maps-search/src/travelHome.ts
  extensions/google-maps-search/src/travelTo.tsx
  extensions/google-maps-search/src/utils/input.ts
  extensions/google-maps-search/src/utils/types.ts
Labels: extension fix / improvement, OP is author, extension: google-maps-search

#5873 Update type-snob extension
  extensions/type-snob/.prettierrc
  extensions/type-snob/CHANGELOG.md
  extensions/type-snob/README.md
  extensions/type-snob/assets/closing-double-black.png
  extensions/type-snob/assets/closing-double-white.png
  extensions/type-snob/assets/closing-single-black.png
  extensions/type-snob/assets/closing-single-white.png
  extensions/type-snob/assets/opening-double-black.png
  extensions/type-snob/assets/opening-double-white.png
  extensions/type-snob/assets/opening-single-black.png
  extensions/type-snob/assets/opening-single-white.png
  extensions/type-snob/metadata/type-snob-1.png
  extensions/type-snob/src/characters.ts
  extensions/type-snob/src/index.tsx
Labels: extension fix / improvement, OP is author, extension: type-snob

#5824 [UUID] dependencies
  extensions/uuid-generator/package-lock.json
  extensions/uuid-generator/package.json
Labels: extension fix / improvement, extension: uuid-generator

#5722 [Bitwarden] Display useful login/unlock errors and allow to copy the last error
  extensions/bitwarden/CHANGELOG.md
  extensions/bitwarden/src/components/UnlockForm.tsx
  extensions/bitwarden/src/utils/debug.ts
  extensions/bitwarden/src/utils/objects.ts
Labels: extension fix / improvement, OP is author, extension: bitwarden

#5856 Updated: Kaalam Extension
  extensions/kaalam/CHANGELOG.md
  extensions/kaalam/src/index.tsx
Labels: extension fix / improvement, OP is author, extension: kaalam

#5865 [idonthavespotify] feature: upgrade api v2
  extensions/idonthavespotify/CHANGELOG.md
  extensions/idonthavespotify/README.md
  extensions/idonthavespotify/metadata/screenshot-01.png
  extensions/idonthavespotify/metadata/screenshot-02.png
  extensions/idonthavespotify/package.json
  extensions/idonthavespotify/src/@types/global.ts
  extensions/idonthavespotify/src/search.tsx
Labels: extension fix / improvement, OP is author, extension: idonthavespotify

#5862 [Music] Improve Apple Music search
  extensions/music/CHANGELOG.md
  extensions/music/package.json
  extensions/music/src/util/scripts/albums.ts
  extensions/music/src/util/scripts/track.ts
Labels: extension fix / improvement, extension: music

#5480 [Raindrop] - Add and Delete bookmarks
  extensions/raindrop/.eslintrc.json
  extensions/raindrop/CHANGELOG.md
  extensions/raindrop/package-lock.json
  extensions/raindrop/package.json
  extensions/raindrop/src/add.tsx
  extensions/raindrop/src/components/BookmarkItem.tsx
  extensions/raindrop/src/hooks/useRequest.tsx
  extensions/raindrop/src/hooks/useTags.tsx
  extensions/raindrop/src/latest_bookmarks.tsx
  extensions/raindrop/src/search.tsx
  extensions/raindrop/src/types.ts
Labels: extension fix / improvement, extension: raindrop-io

#5674 #4485 (tech): Fix render for corrupted OTPs and update deps
  extensions/authy/CHANGELOG.md
  extensions/authy/README.md
  extensions/authy/package-lock.json
  extensions/authy/package.json
  extensions/authy/src/component/OtpList.tsx
  extensions/authy/src/component/OtpListItem.tsx
  extensions/authy/src/util/utils.ts
Labels: extension fix / improvement, OP is author, extension: authy

#5799 Support add task
  extensions/ticktick/CHANGELOG.md
  extensions/ticktick/package.json
  extensions/ticktick/src/create.tsx
  extensions/ticktick/src/service/osScript.ts
  extensions/ticktick/src/utils/date.ts
Labels: extension fix / improvement, OP is author, extension: ticktick

#5849 [OpenAI Translator] Improve & Feature
  extensions/openai-translator/CHANGELOG.md
  extensions/openai-translator/README-zh.md
  extensions/openai-translator/README.md
  extensions/openai-translator/package-lock.json
  extensions/openai-translator/package.json
  extensions/openai-translator/src/hooks/useProxy.tsx
  extensions/openai-translator/src/providers/openai/lang.ts
  extensions/openai-translator/src/providers/openai/translate.ts
  extensions/openai-translator/src/providers/openai/utils.ts
  extensions/openai-translator/src/views/content.tsx
Labels: extension fix / improvement, OP is author, extension: openai-translator

#5879 GitHub: Opt out of contrast adjustment for menu bar command.
  extensions/github/src/helpers/notifications.ts
  extensions/github/src/unread-notifications.tsx
Labels: extension fix / improvement, extension: github

#5881 [Update Extension] System Monitor - Fix Memory Stat
  extensions/system-monitor/src/Interfaces.tsx
  extensions/system-monitor/src/Memory/MemoryMonitor.tsx
  extensions/system-monitor/src/Memory/MemoryUtils.ts
Labels: extension fix / improvement, OP is contributor, extension: raycast-system-monitor

#5711 [AWS] Add AWS Vault Support
  extensions/amazon-aws/CHANGELOG.md
  extensions/amazon-aws/README.md
  extensions/amazon-aws/src/actions/ecs.ts
  extensions/amazon-aws/src/actions/logs.ts
  extensions/amazon-aws/src/cloudformation.tsx
  extensions/amazon-aws/src/cloudwatch.tsx
  extensions/amazon-aws/src/codepipeline.tsx
  extensions/amazon-aws/src/components/searchbar/aws-profile-dropdown.tsx
  extensions/amazon-aws/src/dynamodb.tsx
  extensions/amazon-aws/src/ec2.tsx
  extensions/amazon-aws/src/lambda.tsx
  extensions/amazon-aws/src/s3.tsx
  extensions/amazon-aws/src/secrets.tsx
  extensions/amazon-aws/src/sqs.tsx
  extensions/amazon-aws/src/ssm.tsx
  extensions/amazon-aws/src/util/index.tsx
Labels: extension fix / improvement, OP is contributor, extension: aws

#5718 Microsoft Teams Meeting
  extensions/microsoft-teams-calling/.eslintrc.json
  extensions/microsoft-teams-calling/.gitignore
  extensions/microsoft-teams-calling/.prettierrc
  extensions/microsoft-teams-calling/CHANGELOG.md
  extensions/microsoft-teams-calling/README.md
  extensions/microsoft-teams-calling/assets/action-background-blur-active.png
  extensions/microsoft-teams-calling/assets/action-background-blur-inactive.png
  extensions/microsoft-teams-calling/assets/action-leave-call.png
  extensions/microsoft-teams-calling/assets/action-mic-active.png
  extensions/microsoft-teams-calling/assets/action-mic-inactive.png
  extensions/microsoft-teams-calling/assets/action-raise-hand-active.png
  extensions/microsoft-teams-calling/assets/action-raise-hand-inactive.png
  extensions/microsoft-teams-calling/assets/action-react-applause.png
  extensions/microsoft-teams-calling/assets/action-react-laugh.png
  extensions/microsoft-teams-calling/assets/action-react-like.png
  extensions/microsoft-teams-calling/assets/action-react-love.png
  extensions/microsoft-teams-calling/assets/action-react-wow.png
  extensions/microsoft-teams-calling/assets/action-video-active.png
  extensions/microsoft-teams-calling/assets/action-video-inactive.png
  extensions/microsoft-teams-calling/assets/empty-view.svg
  extensions/microsoft-teams-calling/assets/leave-call.png
  extensions/microsoft-teams-calling/assets/mute.png
  extensions/microsoft-teams-calling/assets/teams.png
  extensions/microsoft-teams-calling/assets/video.png
  extensions/microsoft-teams-calling/metadata/microsoft-teams-1.png
  extensions/microsoft-teams-calling/metadata/microsoft-teams-2.png
  extensions/microsoft-teams-calling/package-lock.json
  extensions/microsoft-teams-calling/package.json
  extensions/microsoft-teams-calling/src/controlMeeting.tsx
  extensions/microsoft-teams-calling/src/directCommand.ts
  extensions/microsoft-teams-calling/src/leaveCall.ts
  extensions/microsoft-teams-calling/src/teams/meetingClient.ts
  extensions/microsoft-teams-calling/src/teams/preferences.ts
  extensions/microsoft-teams-calling/src/toggleMute.ts
  extensions/microsoft-teams-calling/src/toggleVideo.ts
  extensions/microsoft-teams-calling/tsconfig.json
Labels: new extension

#5889 [YouVersion Bible Suggest] Update extension with critical bugfixes
  extensions/youversion-suggest/CHANGELOG.md
  extensions/youversion-suggest/README.md
  extensions/youversion-suggest/package-lock.json
  extensions/youversion-suggest/package.json
  extensions/youversion-suggest/src/ref-content-fetcher.ts
  extensions/youversion-suggest/src/search-result-fetcher.ts
Labels: extension fix / improvement, OP is author, extension: youversion-suggest

#5409 Change Case Extension Improvement
  extensions/change-case/CHANGELOG.md
  extensions/change-case/package.json
  extensions/change-case/src/change-case.tsx
Labels: extension fix / improvement, extension: change-case

#5497 Add Excalidraw extension
  extensions/excalidraw/.eslintrc.json
  extensions/excalidraw/.gitignore
  extensions/excalidraw/.prettierrc
  extensions/excalidraw/CHANGELOG.md
  extensions/excalidraw/README.md
  extensions/excalidraw/assets/icon.png
  extensions/excalidraw/guide/3lines.png
  extensions/excalidraw/guide/saveTo.png
  extensions/excalidraw/guide/shareableLink.png
  extensions/excalidraw/metadata/excalidraw-1.png
  extensions/excalidraw/metadata/excalidraw-2.png
  extensions/excalidraw/metadata/excalidraw-4.png
  extensions/excalidraw/metadata/excalidraw-5.png
  extensions/excalidraw/package-lock.json
  extensions/excalidraw/package.json
  extensions/excalidraw/src/import-again.tsx
  extensions/excalidraw/src/import-new.tsx
  extensions/excalidraw/src/open-saved.tsx
  extensions/excalidraw/src/open.ts
  extensions/excalidraw/src/remove-saved.tsx
  extensions/excalidraw/src/utils/constants.ts
  extensions/excalidraw/src/utils/utils.ts
  extensions/excalidraw/tsconfig.json
Labels: new extension

#5721 [Wayback Machine] Add the ability to save websites
  extensions/wayback-machine/.eslintrc.json
  extensions/wayback-machine/CHANGELOG.md
  extensions/wayback-machine/README.md
  extensions/wayback-machine/package-lock.json
  extensions/wayback-machine/package.json
  extensions/wayback-machine/src/open.ts
  extensions/wayback-machine/src/save.ts
Labels: extension fix / improvement, extension: wayback-machine

#5897 Todoist: Improvements and fixes
  extensions/todoist/.eslintrc.json
  extensions/todoist/CHANGELOG.md
  extensions/todoist/package-lock.json
  extensions/todoist/package.json
  extensions/todoist/src/completed-tasks.tsx
  extensions/todoist/src/menubar.tsx
  extensions/todoist/src/projects.tsx
  extensions/todoist/src/sync-api.ts
Labels: extension fix / improvement, OP is author, extension: todoist

#5901 Spotify Beta: Remove Menu Bar ellipsis if max text is 0
  extensions/spotify-beta/src/helpers/formatTitle.ts
Labels: extension fix / improvement, OP is contributor, extension: spotify-beta

#5576 [vercel] Use the team id for selectedTeam state, fix persistency of team id
  extensions/vercast/CHANGELOG.md
  extensions/vercast/src/hooks/use-vercel-info.ts
  extensions/vercast/src/pages/inspect-deployment.tsx
  extensions/vercast/src/pages/lists/deployments-list.tsx
  extensions/vercast/src/pages/lists/environment-variables-list.tsx
  extensions/vercast/src/pages/lists/projects-list.tsx
  extensions/vercast/src/pages/search-projects/team-switch-search-accessory.tsx
  extensions/vercast/src/vercel.ts
  extensions/vercast/tsconfig.json
Labels: extension fix / improvement, extension: vercast

#5902 Laravel Docs: disable throttle as it's not needed with Algolia
  extensions/laravel-docs/CHANGELOG.md
  extensions/laravel-docs/src/index.tsx
Labels: extension fix / improvement, extension: laravel-docs

#5512 Feedly(QoL changes): List Dropdown for Collections and Read Later
  extensions/feedly/CHANGELOG.md
  extensions/feedly/package-lock.json
  extensions/feedly/package.json
  extensions/feedly/src/components/Feed.tsx
  extensions/feedly/src/feedly.tsx
Labels: extension fix / improvement, status: awaiting response from dev, OP is author, OP is contributor, extension: feedly

#5825 [GITHUB-GISTS] dependencies
  extensions/github-gist/CHANGELOG.md
  extensions/github-gist/package-lock.json
  extensions/github-gist/package.json
Labels: extension fix / improvement, extension: github-gist

#5555 [New Extension] Keyboard Shortcut Sequences
  extensions/keyboard-shortcut-sequences/.eslintrc.json
  extensions/keyboard-shortcut-sequences/.gitignore
  extensions/keyboard-shortcut-sequences/.prettierrc
  extensions/keyboard-shortcut-sequences/CHANGELOG.md
  extensions/keyboard-shortcut-sequences/README.md
  extensions/keyboard-shortcut-sequences/assets/command-icon.png
  extensions/keyboard-shortcut-sequences/assets/no-view.png
  extensions/keyboard-shortcut-sequences/metadata/keyboard-shortcut-sequences-1.png
  extensions/keyboard-shortcut-sequences/metadata/keyboard-shortcut-sequences-2.png
  extensions/keyboard-shortcut-sequences/metadata/keyboard-shortcut-sequences-3.png
  extensions/keyboard-shortcut-sequences/metadata/keyboard-shortcut-sequences-4.png
  extensions/keyboard-shortcut-sequences/package-lock.json
  extensions/keyboard-shortcut-sequences/package.json
  extensions/keyboard-shortcut-sequences/src/components/SequenceForm.tsx
  extensions/keyboard-shortcut-sequences/src/new-shortcut-sequence.tsx
  extensions/keyboard-shortcut-sequences/src/run-shortcut-sequence.tsx
  extensions/keyboard-shortcut-sequences/src/types.ts
  extensions/keyboard-shortcut-sequences/src/utils.ts
  extensions/keyboard-shortcut-sequences/tsconfig.json
Labels: new extension

#5688 Added ATP live ranking extension
  extensions/tennis-standings/.eslintrc.json
  extensions/tennis-standings/.gitignore
  extensions/tennis-standings/.prettierrc
  extensions/tennis-standings/CHANGELOG.md
  extensions/tennis-standings/README.md
  extensions/tennis-standings/assets/1.png
  extensions/tennis-standings/assets/10.png
  extensions/tennis-standings/assets/11.png
  extensions/tennis-standings/assets/12.png
  extensions/tennis-standings/assets/13.png
  extensions/tennis-standings/assets/14.png
  extensions/tennis-standings/assets/15.png
  extensions/tennis-standings/assets/16.png
  extensions/tennis-standings/assets/17.png
  extensions/tennis-standings/assets/18.png
  extensions/tennis-standings/assets/19.png
  extensions/tennis-standings/assets/2.png
  extensions/tennis-standings/assets/20.png
  extensions/tennis-standings/assets/21.png
  extensions/tennis-standings/assets/22.png
  extensions/tennis-standings/assets/23.png
  extensions/tennis-standings/assets/24.png
  extensions/tennis-standings/assets/25.png
  extensions/tennis-standings/assets/26.png
  extensions/tennis-standings/assets/27.png
  extensions/tennis-standings/assets/28.png
  extensions/tennis-standings/assets/29.png
  extensions/tennis-standings/assets/3.png
  extensions/tennis-standings/assets/30.png
  extensions/tennis-standings/assets/4.png
  extensions/tennis-standings/assets/5.png
  extensions/tennis-standings/assets/6.png
  extensions/tennis-standings/assets/7.png
  extensions/tennis-standings/assets/8.png
  extensions/tennis-standings/assets/9.png
  extensions/tennis-standings/assets/command-icon.png
  extensions/tennis-standings/assets/empty-view.png
  extensions/tennis-standings/assets/flag-checkered.png
  extensions/tennis-standings/assets/wikipedia.png
  extensions/tennis-standings/metadata/tennis-world-1.png
  extensions/tennis-standings/package-lock.json
  extensions/tennis-standings/package.json
  extensions/tennis-standings/src/env.ts
  extensions/tennis-standings/src/hooks/index.ts
  extensions/tennis-standings/src/hooks/useATPRankings.ts
  extensions/tennis-standings/src/ranking.tsx
  extensions/tennis-standings/src/types.ts
  extensions/tennis-standings/src/views/ATPRankingList.tsx
  extensions/tennis-standings/tsconfig.json
Labels: new extension

#5689 Add Deta Space Extension
  extensions/deta-space/.eslintrc.json
  extensions/deta-space/.gitignore
  extensions/deta-space/.prettierrc
  extensions/deta-space/CHANGELOG.md
  extensions/deta-space/LICENSE
  extensions/deta-space/README.md
  extensions/deta-space/assets/icon.png
  extensions/deta-space/metadata/deta-space-1.png
  extensions/deta-space/metadata/deta-space-2.png
  extensions/deta-space/metadata/deta-space-3.png
  extensions/deta-space/package-lock.json
  extensions/deta-space/package.json
  extensions/deta-space/src/builder/builds.tsx
  extensions/deta-space/src/builder/releases.tsx
  extensions/deta-space/src/builder/revisions.tsx
  extensions/deta-space/src/collections/browse-collection.tsx
  extensions/deta-space/src/hooks/use-space.ts
  extensions/deta-space/src/search-canvas.tsx
  extensions/deta-space/src/search-collections.tsx
  extensions/deta-space/src/search-discovery.tsx
  extensions/deta-space/src/search-docs.tsx
  extensions/deta-space/src/search-projects.tsx
  extensions/deta-space/src/types/types.ts
  extensions/deta-space/tsconfig.json
Labels: new extension

#5921 Jira: Fix an issue where null priorities make loading issues fail
  extensions/jira/CHANGELOG.md
  extensions/jira/src/api/issues.ts
  extensions/jira/src/components/IssueActions.tsx
  extensions/jira/src/components/IssueDetail.tsx
  extensions/jira/src/components/IssueListItem.tsx
Labels: extension fix / improvement, OP is author, extension: jira

#5920 Flaticon: trying to catch `map of undefined` error 🐛
  extensions/flaticon/CHANGELOG.md
  extensions/flaticon/src/flows/searchIcons.ts
Labels: extension fix / improvement, OP is author, extension: flaticon

#5695 Add dropover extension
  extensions/dropover/.eslintrc.json
  extensions/dropover/.gitignore
  extensions/dropover/.prettierrc
  extensions/dropover/CHANGELOG.md
  extensions/dropover/README.md
  extensions/dropover/assets/command-icon.png
  extensions/dropover/package-lock.json
  extensions/dropover/package.json
  extensions/dropover/src/index.ts
  extensions/dropover/tsconfig.json
Labels: new extension

#5703 Add Purelymail extension
  extensions/purelymail/.eslintrc.json
  extensions/purelymail/.gitignore
  extensions/purelymail/.prettierrc
  extensions/purelymail/CHANGELOG.md
  extensions/purelymail/README.md
  extensions/purelymail/assets/purelymail.png
  extensions/purelymail/metadata/purelymail-1-list-domains.png
  extensions/purelymail/metadata/purelymail-2-create-user.png
  extensions/purelymail/metadata/purelymail-3-create-routing-rule.png
  extensions/purelymail/metadata/purelymail-4-add-domain.png
  extensions/purelymail/metadata/purelymail-5-add-domain-error.png
  extensions/purelymail/metadata/purelymail-6-delete-user.png
  extensions/purelymail/package-lock.json
  extensions/purelymail/package.json
  extensions/purelymail/src/add-domain.tsx
  extensions/purelymail/src/create-routing-rule.tsx
  extensions/purelymail/src/create-user.tsx
  extensions/purelymail/src/delete-user.tsx
  extensions/purelymail/src/get-ownership-code.tsx
  extensions/purelymail/src/list-domains.tsx
  extensions/purelymail/src/list-routing-rules.tsx
  extensions/purelymail/src/update-domain-settings.tsx
  extensions/purelymail/src/utils/api.ts
  extensions/purelymail/src/utils/types.ts
  extensions/purelymail/tsconfig.json
Labels: new extension

#5712 Add eBird extension
  extensions/ebird/.eslintrc.json
  extensions/ebird/.gitignore
  extensions/ebird/.prettierrc
  extensions/ebird/CHANGELOG.md
  extensions/ebird/README.md
  extensions/ebird/assets/command-icon.png
  extensions/ebird/metadata/ebird-1.png
  extensions/ebird/metadata/ebird-2.png
  extensions/ebird/package-lock.json
  extensions/ebird/package.json
  extensions/ebird/src/api/ebird-client.ts
  extensions/ebird/src/components/TaxonListItem.tsx
  extensions/ebird/src/constants/config.ts
  extensions/ebird/src/searchBirdTaxons.tsx
  extensions/ebird/src/types/cache.d.ts
  extensions/ebird/src/types/ebird.ts
  extensions/ebird/src/types/general.d.ts
  extensions/ebird/src/types/preference.d.ts
  extensions/ebird/src/utils/getAcronym.ts
  extensions/ebird/src/utils/tagByCategory.ts
  extensions/ebird/tsconfig.json
Labels: new extension

#5903 [Change Case] Removed extra preference and added new metadata images
  extensions/change-case/metadata/change-case-1.png
  extensions/change-case/metadata/change-case-2.png
  extensions/change-case/metadata/change-case-3.png
  extensions/change-case/package.json
  extensions/change-case/src/change-case.tsx
Labels: extension fix / improvement, extension: change-case

#5739 Microsoft Teams
  extensions/microsoft-teams/.eslintrc.json
  extensions/microsoft-teams/.gitignore
  extensions/microsoft-teams/.prettierrc
  extensions/microsoft-teams/CHANGELOG.md
  extensions/microsoft-teams/README.md
  extensions/microsoft-teams/assets/chat.png
  extensions/microsoft-teams/assets/microsoft.png
  extensions/microsoft-teams/assets/presence.png
  extensions/microsoft-teams/assets/status.png
  extensions/microsoft-teams/assets/teams.png
  extensions/microsoft-teams/media/api-permissions.png
  extensions/microsoft-teams/media/overview-ids.png
  extensions/microsoft-teams/media/register-app.png
  extensions/microsoft-teams/metadata/microsoft-teams-1.png
  extensions/microsoft-teams/metadata/microsoft-teams-2.png
  extensions/microsoft-teams/metadata/microsoft-teams-3.png
  extensions/microsoft-teams/package-lock.json
  extensions/microsoft-teams/package.json
  extensions/microsoft-teams/src/api/api.ts
  extensions/microsoft-teams/src/api/chat.ts
  extensions/microsoft-teams/src/api/login.ts
  extensions/microsoft-teams/src/api/preferences.ts
  extensions/microsoft-teams/src/api/presence.ts
  extensions/microsoft-teams/src/api/status.ts
  extensions/microsoft-teams/src/api/user.ts
  extensions/microsoft-teams/src/api/util.tsx
  extensions/microsoft-teams/src/findChat.tsx
  extensions/microsoft-teams/src/setPresence.tsx
  extensions/microsoft-teams/src/setStatus.tsx
  extensions/microsoft-teams/tsconfig.json
Labels: new extension

#5755 Update imessage-2fa extension
  extensions/imessage-2fa/CHANGELOG.md
  extensions/imessage-2fa/package-lock.json
  extensions/imessage-2fa/package.json
  extensions/imessage-2fa/src/utils.ts
Labels: extension fix / improvement, extension: imessage-2fa

#5717 Update deepcast extension
  extensions/deepcast/.eslintrc.json
  extensions/deepcast/.gitignore
  extensions/deepcast/CHANGELOG.md
  extensions/deepcast/package-lock.json
  extensions/deepcast/package.json
  extensions/deepcast/src/index.tsx
  extensions/deepcast/src/indonesian.ts
  extensions/deepcast/src/korean.ts
  extensions/deepcast/src/norwegian.ts
  extensions/deepcast/src/turkish.ts
  extensions/deepcast/src/utils.ts
Labels: extension fix / improvement, extension: deepcast

#5766 feat(CircleCI): Support only your pipelines
  extensions/circle-ci/CHANGELOG.md
  extensions/circle-ci/README.md
  extensions/circle-ci/package.json
  extensions/circle-ci/src/circleci-functions.ts
  extensions/circle-ci/src/types.ts
Labels: extension fix / improvement, extension: circle-ci

#5912 add recent tags picker to drafts extension
  extensions/drafts/metadata/drafts-01.png
  extensions/drafts/metadata/drafts-02.png
  extensions/drafts/metadata/drafts-03.png
  extensions/drafts/metadata/drafts-04.png
  extensions/drafts/package-lock.json
  extensions/drafts/package.json
  extensions/drafts/src/create-draft-and-open.tsx
  extensions/drafts/src/utils/Defines.tsx
Labels: extension fix / improvement, OP is author, extension: drafts

#5857 [Gitmoji] improved fetching + added shortcuts and error toast
  extensions/gitmoji/CHANGELOG.md
  extensions/gitmoji/package-lock.json
  extensions/gitmoji/package.json
  extensions/gitmoji/src/gitmoji.tsx
Labels: extension fix / improvement, extension: gitmoji

#5840 [NPM-SEARCH] updates to dependencies
  extensions/search-npm/package-lock.json
  extensions/search-npm/package.json
  extensions/search-npm/src/HistoryListItem.tsx
Labels: extension fix / improvement, extension: search-npm

#5876 Update uuid-generator extension
  extensions/uuid-generator/.eslintrc.json
  extensions/uuid-generator/.gitignore
  extensions/uuid-generator/CHANGELOG.md
  extensions/uuid-generator/package-lock.json
  extensions/uuid-generator/package.json
  extensions/uuid-generator/src/generate.tsx
Labels: extension fix / improvement, status: awaiting response from dev, OP is contributor, extension: uuid-generator

#5886 [Extension Update] adds diagonal arrows to typesnob
  extensions/type-snob/src/characters.ts
Labels: extension fix / improvement, extension: type-snob

#5946 Spotify Beta: General improvements
  extensions/spotify-beta/src/components/PlayAction.tsx
  extensions/spotify-beta/src/components/TrackActionPanel.tsx
  extensions/spotify-beta/src/components/TrackListItem.tsx
  extensions/spotify-beta/src/components/TracksSection.tsx
  extensions/spotify-beta/src/nowPlayingMenuBar.tsx
  extensions/spotify-beta/src/search.tsx
  extensions/spotify-beta/src/yourLibrary.tsx
Labels: extension fix / improvement, OP is contributor, extension: spotify-beta

#5623 Add new Laravel shift extension
  extensions/laravel-shift/.eslintrc.json
  extensions/laravel-shift/.gitignore
  extensions/laravel-shift/.prettierrc
  extensions/laravel-shift/CHANGELOG.md
  extensions/laravel-shift/README.md
  extensions/laravel-shift/assets/command-icon.png
  extensions/laravel-shift/media/laravel-shift-cover.png
  extensions/laravel-shift/metadata/laravel-shift-2.png
  extensions/laravel-shift/metadata/laravel-shift-3.png
  extensions/laravel-shift/metadata/laravel-shift-4.png
  extensions/laravel-shift/metadata/laravel-shift-5.png
  extensions/laravel-shift/metadata/laravel-shift-6.png
  extensions/laravel-shift/package-lock.json
  extensions/laravel-shift/package.json
  extensions/laravel-shift/src/components/GenerateCommandForm.tsx
  extensions/laravel-shift/src/data/shifts/django.ts
  extensions/laravel-shift/src/data/shifts/laravel.ts
  extensions/laravel-shift/src/data/shifts/lumen.ts
  extensions/laravel-shift/src/data/shifts/php.ts
  extensions/laravel-shift/src/data/shifts/tailwind.ts
  extensions/laravel-shift/src/generate-shift.tsx
  extensions/laravel-shift/src/helpers/command.ts
  extensions/laravel-shift/src/helpers/shifts.ts
  extensions/laravel-shift/src/types/shifts.d.ts
  extensions/laravel-shift/tsconfig.json
Labels: new extension

#5958 [Gitlab] Delete source branch for new merge requests
  extensions/gitlab/.eslintrc.json
  extensions/gitlab/CHANGELOG.md
  extensions/gitlab/package-lock.json
  extensions/gitlab/package.json
  extensions/gitlab/src/components/epic_actions.tsx
  extensions/gitlab/src/components/issue_actions.tsx
  extensions/gitlab/src/components/issues.tsx
  extensions/gitlab/src/components/mr.tsx
  extensions/gitlab/src/components/mr_actions.tsx
  extensions/gitlab/src/components/mr_create.tsx
  extensions/gitlab/src/gitlabapi.ts
Labels: extension fix / improvement, OP is author, extension: gitlab

#5772 Update json-format extension
  extensions/json-format/.gitignore
  extensions/json-format/CHANGELOG.md
  extensions/json-format/metadata/json-format-1.png
  extensions/json-format/metadata/json-format-2.png
  extensions/json-format/metadata/json-format-3.png
  extensions/json-format/package.json
  extensions/json-format/src/formatClipboard.tsx
  extensions/json-format/src/index.tsx
  extensions/json-format/src/utils.ts
Labels: extension fix / improvement, extension: json-format

#5833 Add WordPress documentation extension
  extensions/wordpress-docs/.editorconfig
  extensions/wordpress-docs/.eslintrc.json
  extensions/wordpress-docs/.gitignore
  extensions/wordpress-docs/.prettierrc
  extensions/wordpress-docs/CHANGELOG.md
  extensions/wordpress-docs/LICENSE
  extensions/wordpress-docs/README.md
  extensions/wordpress-docs/assets/command-icon.png
  extensions/wordpress-docs/metadata/wordpress-01.png
  extensions/wordpress-docs/package-lock.json
  extensions/wordpress-docs/package.json
  extensions/wordpress-docs/src/index.tsx
  extensions/wordpress-docs/tsconfig.json
Labels: new extension

#6004 Jira: Fix issue where dropdown wouldn't save previously selected values
  extensions/jira/CHANGELOG.md
  extensions/jira/src/active-sprints.tsx
  extensions/jira/src/my-filters.tsx
Labels: extension fix / improvement, OP is author, extension: jira

#5966 [Youtube Extension] Minor Bug Fixes
  extensions/youtube/CHANGELOG.md
  extensions/youtube/assets/youtube.svg
  extensions/youtube/src/components/actions.tsx
  extensions/youtube/src/components/channel.tsx
  extensions/youtube/src/components/channel_search.tsx
  extensions/youtube/src/components/popular_video.tsx
  extensions/youtube/src/components/recent_channels.tsx
  extensions/youtube/src/components/recent_videos.tsx
  extensions/youtube/src/components/video.tsx
  extensions/youtube/src/components/video_search.tsx
Labels: extension fix / improvement, extension: youtube

#5855 added new extension sun-moon-times
  extensions/sun-moon-times/.editorconfig
  extensions/sun-moon-times/.eslintrc.json
  extensions/sun-moon-times/.gitignore
  extensions/sun-moon-times/.prettierrc
  extensions/sun-moon-times/CHANGELOG.md
  extensions/sun-moon-times/LICENSE
  extensions/sun-moon-times/README.md
  extensions/sun-moon-times/assets/extension_icon@512px.png
  extensions/sun-moon-times/assets/sun-moon-times-1.png
  extensions/sun-moon-times/assets/sun-moon-times-2.png
  extensions/sun-moon-times/metadata/sun-moon-times-1.png
  extensions/sun-moon-times/metadata/sun-moon-times-2.png
  extensions/sun-moon-times/package-lock.json
  extensions/sun-moon-times/package.json
  extensions/sun-moon-times/src/common/convertDateToString.ts
  extensions/sun-moon-times/src/common/getDayDuration.ts
  extensions/sun-moon-times/src/common/resolveCoords.ts
  extensions/sun-moon-times/src/components/CityListItemView.tsx
  extensions/sun-moon-times/src/components/CityListView.tsx
  extensions/sun-moon-times/src/components/DetailView.tsx
  extensions/sun-moon-times/src/components/FavoritesProvider.tsx
  extensions/sun-moon-times/src/index.tsx
  extensions/sun-moon-times/src/ressources/countryList.ts
  extensions/sun-moon-times/src/ressources/ressourceUrl.ts
  extensions/sun-moon-times/tsconfig.json
  extensions/sun-moon-times/types/CityItem.ts
  extensions/sun-moon-times/types/ResponseData.ts
Labels: new extension

#5892 [Readwise to Tana]: Supertags depending on source, highlight tags, and more
  extensions/readwise-to-tana/CHANGELOG.md
  extensions/readwise-to-tana/src/book.tsx
  extensions/readwise-to-tana/src/helpers.ts
  extensions/readwise-to-tana/src/highlight.tsx
  extensions/readwise-to-tana/src/highlightDetails.tsx
  extensions/readwise-to-tana/src/index.tsx
  extensions/readwise-to-tana/src/settings.tsx
  extensions/readwise-to-tana/src/useApi.ts
Labels: extension fix / improvement, OP is author, extension: readwise-to-tana

#5858 Add duck-duck-go-search extension
  extensions/duck-duck-go-search/.eslintrc.json
  extensions/duck-duck-go-search/.gitignore
  extensions/duck-duck-go-search/.prettierrc
  extensions/duck-duck-go-search/CHANGELOG.md
  extensions/duck-duck-go-search/README.md
  extensions/duck-duck-go-search/assets/command-icon.png
  extensions/duck-duck-go-search/metadata/duck-duck-go-search-1.png
  extensions/duck-duck-go-search/metadata/duck-duck-go-search-2.png
  extensions/duck-duck-go-search/package-lock.json
  extensions/duck-duck-go-search/package.json
  extensions/duck-duck-go-search/src/index.tsx
  extensions/duck-duck-go-search/src/utils/handleResults.ts
  extensions/duck-duck-go-search/src/utils/types.ts
  extensions/duck-duck-go-search/src/utils/useSearch.tsx
  extensions/duck-duck-go-search/tsconfig.json
Labels: new extension

#5969 [IP-Geolocation] Added preference to change geo coordinates order (Fixes raycast/extensions#5829)
  extensions/ip-geolocation/package.json
  extensions/ip-geolocation/src/hooks/hooks.ts
  extensions/ip-geolocation/src/my-ip-geolocation.tsx
  extensions/ip-geolocation/src/query-ip-geolocation.tsx
  extensions/ip-geolocation/src/types/ip-geolocation.ts
  extensions/ip-geolocation/src/types/preferences.ts
Labels: extension fix / improvement, extension: ip-geolocation

#5767 Add charming-chatgpt extension to raycast
  extensions/charming-chatgpt/.eslintrc.json
  extensions/charming-chatgpt/.gitignore
  extensions/charming-chatgpt/.prettierrc
  extensions/charming-chatgpt/CHANGELOG.md
  extensions/charming-chatgpt/README.md
  extensions/charming-chatgpt/assets/icon.png
  extensions/charming-chatgpt/metadata/ho2.jpg
  extensions/charming-chatgpt/metadata/ho3.jpg
  extensions/charming-chatgpt/package-lock.json
  extensions/charming-chatgpt/package.json
  extensions/charming-chatgpt/pic/import_local.png
  extensions/charming-chatgpt/pic/output_folder.png
  extensions/charming-chatgpt/src/action/action.tsx
  extensions/charming-chatgpt/src/ask.tsx
  extensions/charming-chatgpt/src/model/type.tsx
  extensions/charming-chatgpt/src/view/question/chat.tsx
  extensions/charming-chatgpt/src/view/question/empty.tsx
  extensions/charming-chatgpt/tsconfig.json
Labels: new extension

#6013 Improving sections title
  extensions/spotify-beta/src/components/AlbumsGrid.tsx
  extensions/spotify-beta/src/components/ArtistActionPanel.tsx
  extensions/spotify-beta/src/components/ShowsSection.tsx
  extensions/spotify-beta/src/search.tsx
  extensions/spotify-beta/src/yourLibrary.tsx
Labels: extension fix / improvement, OP is contributor, extension: spotify-beta

#6008 [ Quantumcast ] - Update extension with new command
  extensions/quantumcast/.eslintrc.json
  extensions/quantumcast/CHANGELOG.md
  extensions/quantumcast/README.md
  extensions/quantumcast/package-lock.json
  extensions/quantumcast/package.json
  extensions/quantumcast/src/open-cloudflow-manual.tsx
  extensions/quantumcast/src/open-cloudflow-workspace.tsx
Labels: extension fix / improvement, OP is author, extension: quantumcast

#6018 Tailscale: remove unused variables, unnecessary labels
  extensions/tailscale/CHANGELOG.md
  extensions/tailscale/package.json
  extensions/tailscale/src/admin.tsx
  extensions/tailscale/src/devices.tsx
Labels: extension fix / improvement, extension: tailscale

#5707 Add doccheck extension
  extensions/doccheck/.eslintrc.json
  extensions/doccheck/.gitignore
  extensions/doccheck/.prettierrc
  extensions/doccheck/CHANGELOG.md
  extensions/doccheck/README.md
  extensions/doccheck/assets/command-icon.png
  extensions/doccheck/assets/doccheck.png
  extensions/doccheck/metadata/doccheck-1.png
  extensions/doccheck/metadata/doccheck-2.png
  extensions/doccheck/metadata/doccheck-3.png
  extensions/doccheck/metadata/doccheck-4.png
  extensions/doccheck/metadata/doccheck-5.png
  extensions/doccheck/metadata/doccheck-6.png
  extensions/doccheck/package-lock.json
  extensions/doccheck/package.json
  extensions/doccheck/src/doccheck-flexikon.tsx
  extensions/doccheck/src/doccheck-page.tsx
  extensions/doccheck/src/open-page.tsx
  extensions/doccheck/tsconfig.json
Labels: new extension

#5844 feat(Himalaya): Add initial extension
  extensions/himalaya/.eslintrc.json
  extensions/himalaya/.gitignore
  extensions/himalaya/.prettierrc
  extensions/himalaya/CHANGELOG.md
  extensions/himalaya/README.md
  extensions/himalaya/assets/command-icon.png
  extensions/himalaya/metadata/himalaya-1.png
  extensions/himalaya/metadata/himalaya-2.png
  extensions/himalaya/metadata/himalaya-3.png
  extensions/himalaya/package-lock.json
  extensions/himalaya/package.json
  extensions/himalaya/src/index.tsx
  extensions/himalaya/tsconfig.json
Labels: new extension

#5835 [Apple Notes] Add new actions & Fix Bugs
  extensions/apple-notes/CHANGELOG.md
  extensions/apple-notes/package.json
  extensions/apple-notes/src/index.tsx
  extensions/apple-notes/src/types.ts
  extensions/apple-notes/src/useAppleScript.ts
  extensions/apple-notes/src/useSql.ts
Labels: extension fix / improvement, extension: apple-notes

#5448 Create Apple Books extension
  extensions/apple-books/.eslintrc.json
  extensions/apple-books/.gitignore
  extensions/apple-books/.prettierrc
  extensions/apple-books/CHANGELOG.md
  extensions/apple-books/README.md
  extensions/apple-books/assets/empty.png
  extensions/apple-books/assets/icon.png
  extensions/apple-books/metadata/apple-books-1.png
  extensions/apple-books/metadata/apple-books-2.png
  extensions/apple-books/package-lock.json
  extensions/apple-books/package.json
  extensions/apple-books/src/index.tsx
  extensions/apple-books/tsconfig.json
Labels: new extension

#6017 [dollar-blue] Fix typo
  extensions/dollar-blue/CHANGELOG.md
  extensions/dollar-blue/src/pretty-builder.ts
Labels: extension fix / improvement, OP is author, extension: dollar-blue

#6019 Add an 'originating browser' option
  extensions/browser-history/CHANGELOG.md
  extensions/browser-history/package.json
  extensions/browser-history/src/components/BrowserHistoryActions.tsx
  extensions/browser-history/src/components/ListEntries.tsx
  extensions/browser-history/src/hooks/useHistorySearch.tsx
  extensions/browser-history/src/interfaces/index.ts
Labels: extension fix / improvement, extension: browser-history

#5821 feat: add douban extension
  extensions/douban/.eslintrc.json
  extensions/douban/.gitignore
  extensions/douban/.prettierrc
  extensions/douban/CHANGELOG.md
  extensions/douban/README.md
  extensions/douban/assets/douban.png
  extensions/douban/metadata/douban-1.png
  extensions/douban/metadata/douban-2.png
  extensions/douban/metadata/douban-3.png
  extensions/douban/package-lock.json
  extensions/douban/package.json
  extensions/douban/src/search-books.tsx
  extensions/douban/src/search-games.tsx
  extensions/douban/src/search-groups.tsx
  extensions/douban/src/search-movies.tsx
  extensions/douban/src/search-music.tsx
  extensions/douban/src/search-sites.tsx
  extensions/douban/src/search-users.tsx
  extensions/douban/tsconfig.json
Labels: new extension

#6031 Spotify Beta: Add keyboard shortcuts to copy URL or open Spotify
  extensions/spotify-beta/CHANGELOG.md
  extensions/spotify-beta/src/components/FooterAction.tsx
  extensions/spotify-beta/src/nowPlayingMenuBar.tsx
Labels: extension fix / improvement, extension: spotify-beta

#5746 Add OpsLevel extension
  extensions/opslevel/.eslintrc.json
  extensions/opslevel/.gitignore
  extensions/opslevel/.prettierrc
  extensions/opslevel/CHANGELOG.md
  extensions/opslevel/README.md
  extensions/opslevel/assets/datadoghq.svg
  extensions/opslevel/assets/extension-icon.png
  extensions/opslevel/assets/github-mark-white.svg
  extensions/opslevel/assets/opslevel.svg
  extensions/opslevel/codegen.ts
  extensions/opslevel/media/opslevel-demo.mp4
  extensions/opslevel/metadata/opslevel-1.png
  extensions/opslevel/metadata/opslevel-2.png
  extensions/opslevel/metadata/opslevel-3.png
  extensions/opslevel/package-lock.json
  extensions/opslevel/package.json
  extensions/opslevel/src/client/get-all-services.graphql
  extensions/opslevel/src/client/get-all-services.ts
  extensions/opslevel/src/client/gql-types.d.ts
  extensions/opslevel/src/client/index.ts
  extensions/opslevel/src/clone-action.tsx
  extensions/opslevel/src/contact-section.tsx
  extensions/opslevel/src/index.tsx
  extensions/opslevel/src/tools-section.tsx
  extensions/opslevel/src/useVisitedServices.ts
  extensions/opslevel/tsconfig.json
Labels: new extension

#6046 [hyper-focus] readme and other misc updates
  extensions/hyper-focus/README.dev.md
  extensions/hyper-focus/README.md
  extensions/hyper-focus/assets/command-icon.png
  extensions/hyper-focus/assets/no-view.png
  extensions/hyper-focus/package-lock.json
  extensions/hyper-focus/package.json
  extensions/hyper-focus/src/index.tsx
Labels: extension fix / improvement, OP is author, extension: hyper-focus

#6036 Update DuckDuckGo extension
  extensions/duck-duck-go-search/CHANGELOG.md
  extensions/duck-duck-go-search/README.md
  extensions/duck-duck-go-search/package.json
  extensions/duck-duck-go-search/src/index.tsx
  extensions/duck-duck-go-search/src/utils/handleResults.ts
Labels: extension fix / improvement, OP is author, extension: duck-duck-go-search

#5823 [CURRENCY-EXCHANGE] - Dependencies
  extensions/currency-exchange/CHANGELOG.md
  extensions/currency-exchange/package-lock.json
  extensions/currency-exchange/package.json
Labels: extension fix / improvement, extension: currency-exchange

#5800 new-extension: Summation v1.0
  extensions/summation/.eslintrc.json
  extensions/summation/.gitignore
  extensions/summation/.prettierrc
  extensions/summation/CHANGELOG.md
  extensions/summation/README.md
  extensions/summation/assets/summation-icon.png
  extensions/summation/metadata/summation-1.png
  extensions/summation/metadata/summation-2.png
  extensions/summation/metadata/summation-3.png
  extensions/summation/package-lock.json
  extensions/summation/package.json
  extensions/summation/src/index.tsx
  extensions/summation/tsconfig.json
Labels: new extension

#6055 Spotify Beta: Hide menu bar title if idle for 3 minutes
  extensions/spotify-beta/src/api/getCurrentlyPlaying.ts
  extensions/spotify-beta/src/nowPlayingMenuBar.tsx
Labels: extension fix / improvement, OP is contributor, extension: spotify-beta

#5932 Update pubme extension
  extensions/pubme/.eslintrc.json
  extensions/pubme/.gitignore
  extensions/pubme/.prettierrc
  extensions/pubme/CHANGELOG.md
  extensions/pubme/README.md
  extensions/pubme/assets/pubme.png
  extensions/pubme/metadata/pubme-1.png
  extensions/pubme/metadata/pubme-2.png
  extensions/pubme/metadata/pubme-3.png
  extensions/pubme/metadata/pubme-4.png
  extensions/pubme/metadata/pubme-5.png
  extensions/pubme/metadata/pubme-6.png
  extensions/pubme/metadata/pubme-7.png
  extensions/pubme/metadata/pubme-8.png
  extensions/pubme/package-lock.json
  extensions/pubme/package.json
  extensions/pubme/src/index.tsx
  extensions/pubme/tsconfig.json
Labels: new extension

#5937 Added Lacinka extension
  extensions/lacinka/.eslintrc.json
  extensions/lacinka/.gitignore
  extensions/lacinka/.prettierrc
  extensions/lacinka/CHANGELOG.md
  extensions/lacinka/README.md
  extensions/lacinka/assets/icon.png
  extensions/lacinka/package-lock.json
  extensions/lacinka/package.json
  extensions/lacinka/src/index.tsx
  extensions/lacinka/tsconfig.json
Labels: new extension

#5952 Add Porkbun extension
  extensions/porkbun/.eslintrc.json
  extensions/porkbun/.gitignore
  extensions/porkbun/.prettierrc
  extensions/porkbun/CHANGELOG.md
  extensions/porkbun/README.md
  extensions/porkbun/assets/porkbun-create-api-key.png
  extensions/porkbun/assets/porkbun-enable-api-access.png
  extensions/porkbun/assets/porkbun.png
  extensions/porkbun/metadata/porkbun-1-domain-pricing.png
  extensions/porkbun/metadata/porkbun-2-retrieve-dns-record.png
  extensions/porkbun/metadata/porkbun-3-create-dns-record.png
  extensions/porkbun/metadata/porkbun-4-ping.png
  extensions/porkbun/metadata/porkbun-5-delete-dns-record-by-name-type.png
  extensions/porkbun/metadata/porkbun-6-go-to-api-reference-action.png
  extensions/porkbun/package-lock.json
  extensions/porkbun/package.json
  extensions/porkbun/src/create-dns-record.tsx
  extensions/porkbun/src/delete-dns-record.tsx
  extensions/porkbun/src/domain-pricing.tsx
  extensions/porkbun/src/edit-dns-record.tsx
  extensions/porkbun/src/ping.tsx
  extensions/porkbun/src/retrieve-dns-records.tsx
  extensions/porkbun/src/retrieve-ssl-bundle.tsx
  extensions/porkbun/src/utils/api.ts
  extensions/porkbun/src/utils/constants.ts
  extensions/porkbun/src/utils/types.ts
  extensions/porkbun/tsconfig.json
Labels: new extension

#6069 [Git Repos] added "Add to Favorites" action
  extensions/git-repos/CHANGELOG.md
  extensions/git-repos/package-lock.json
  extensions/git-repos/package.json
  extensions/git-repos/src/list.tsx
  extensions/git-repos/src/utils.tsx
  extensions/git-repos/tsconfig.json
Labels: extension fix / improvement, OP is author, extension: git-repos

#6082 Spotify Beta: Remove Menu Player optimisation
  extensions/spotify-beta/package.json
  extensions/spotify-beta/src/nowPlaying.tsx
  extensions/spotify-beta/src/nowPlayingMenuBar.tsx
Labels: extension fix / improvement, OP is contributor, extension: spotify-beta

#6084 Spotify Beta "Show Albums" a secondary action
  extensions/spotify-beta/src/components/ArtistActionPanel.tsx
Labels: extension fix / improvement, OP is contributor, extension: spotify-beta

#6085 Spotify Beta improve error catching
  extensions/spotify-beta/src/nowPlaying.tsx
  extensions/spotify-beta/src/nowPlayingMenuBar.tsx
Labels: extension fix / improvement, OP is contributor, extension: spotify-beta

#6093 Spotify Beta Check if current data is stale
  extensions/spotify-beta/src/nowPlayingMenuBar.tsx
Labels: extension fix / improvement, OP is contributor, extension: spotify-beta

#6116 [Sun/Moon Times] Added date selection dropdown
  extensions/sun-moon-times/CHANGELOG.md
  extensions/sun-moon-times/README.md
  extensions/sun-moon-times/assets/sun-moon-times-1.png
  extensions/sun-moon-times/assets/sun-moon-times-2.png
  extensions/sun-moon-times/metadata/sun-moon-times-1.png
  extensions/sun-moon-times/metadata/sun-moon-times-2.png
  extensions/sun-moon-times/package-lock.json
  extensions/sun-moon-times/package.json
  extensions/sun-moon-times/src/common/convertDateToString.ts
  extensions/sun-moon-times/src/common/getDateList.ts
  extensions/sun-moon-times/src/components/CityListDropdownView.tsx
  extensions/sun-moon-times/src/components/CityListItemView.tsx
  extensions/sun-moon-times/src/components/CityListView.tsx
  extensions/sun-moon-times/src/components/DetailView.tsx
Labels: extension fix / improvement, OP is author, extension: sun-moon-times

#6063 Update Laravel Forge Extension
  extensions/laravel-forge/.eslintrc.json
  extensions/laravel-forge/.gitignore
  extensions/laravel-forge/CHANGELOG.md
  extensions/laravel-forge/README.md
  extensions/laravel-forge/assets/server.png
  extensions/laravel-forge/metadata/laravel-forge-01.png
  extensions/laravel-forge/metadata/laravel-forge-02.png
  extensions/laravel-forge/metadata/laravel-forge-03.png
  extensions/laravel-forge/metadata/laravel-forge-1.png
  extensions/laravel-forge/metadata/laravel-forge-2.png
  extensions/laravel-forge/metadata/laravel-forge-3.png
  extensions/laravel-forge/package-lock.json
  extensions/laravel-forge/package.json
  extensions/laravel-forge/src/Server.tsx
  extensions/laravel-forge/src/Site.tsx
  extensions/laravel-forge/src/api/Mock.ts
  extensions/laravel-forge/src/api/Server.ts
  extensions/laravel-forge/src/api/Site.ts
  extensions/laravel-forge/src/check-deploy-status.tsx
  extensions/laravel-forge/src/components/EmptyView.tsx
  extensions/laravel-forge/src/components/EnvironmentFile.tsx
  extensions/laravel-forge/src/components/NginxFile.tsx
  extensions/laravel-forge/src/components/actions/ServerCommands.tsx
  extensions/laravel-forge/src/components/actions/SiteCommands.tsx
  extensions/laravel-forge/src/components/configs/EnvFile.tsx
  extensions/laravel-forge/src/components/configs/NginxFile.tsx
  extensions/laravel-forge/src/components/servers/ServerSingle.tsx
  extensions/laravel-forge/src/components/servers/ServersList.tsx
  extensions/laravel-forge/src/components/sites/DeployHistory.tsx
  extensions/laravel-forge/src/components/sites/SiteSingle.tsx
  extensions/laravel-forge/src/components/sites/SitesList.tsx
  extensions/laravel-forge/src/config.ts
  extensions/laravel-forge/src/helpers.ts
  extensions/laravel-forge/src/hooks/useAllSites.ts
  extensions/laravel-forge/src/hooks/useConfig.ts
  extensions/laravel-forge/src/hooks/useDeploymentOutput.ts
  extensions/laravel-forge/src/hooks/useDeployments.ts
  extensions/laravel-forge/src/hooks/useIsSiteOnline.ts
  extensions/laravel-forge/src/hooks/useServers.ts
  extensions/laravel-forge/src/hooks/useSites.ts
  extensions/laravel-forge/src/index.tsx
  extensions/laravel-forge/src/lib/api.ts
  extensions/laravel-forge/src/lib/auth.ts
  extensions/laravel-forge/src/lib/cache.ts
  extensions/laravel-forge/src/lib/color.ts
  extensions/laravel-forge/src/lib/faker.ts
  extensions/laravel-forge/src/lib/url.ts
  extensions/laravel-forge/src/types.ts
  extensions/laravel-forge/tsconfig.json
Labels: extension fix / improvement, OP is author, extension: laravel-forge

#5934 [Safari] Add Search Bookmarks command
  extensions/safari/CHANGELOG.md
  extensions/safari/package-lock.json
  extensions/safari/package.json
  extensions/safari/src/components/BookmarkListItem.tsx
  extensions/safari/src/components/BookmarkListSection.tsx
  extensions/safari/src/components/BookmarksDropdown.tsx
  extensions/safari/src/components/CloseLocalTabAction.tsx
  extensions/safari/src/components/OpenNewWindowAction.tsx
  extensions/safari/src/components/index.tsx
  extensions/safari/src/hooks/useBookmarks.ts
  extensions/safari/src/reading-list.tsx
  extensions/safari/src/search-bookmarks.tsx
  extensions/safari/src/types.ts
Labels: extension fix / improvement, extension: safari

#5980 slack: Close right sidebar after navigation to chat
  extensions/slack/CHANGELOG.md
  extensions/slack/package-lock.json
  extensions/slack/package.json
  extensions/slack/src/shared/utils.ts
Labels: extension fix / improvement, extension: slack

#6021 Add markdown-to-plain-text extension
  extensions/markdown-to-plain-text/.eslintrc.json
  extensions/markdown-to-plain-text/.gitignore
  extensions/markdown-to-plain-text/.prettierrc
  extensions/markdown-to-plain-text/CHANGELOG.md
  extensions/markdown-to-plain-text/README.md
  extensions/markdown-to-plain-text/assets/command-icon.png
  extensions/markdown-to-plain-text/package-lock.json
  extensions/markdown-to-plain-text/package.json
  extensions/markdown-to-plain-text/src/index.ts
  extensions/markdown-to-plain-text/tsconfig.json
Labels: new extension

#6125 fix(github-trending): outdated github tranding page scraper
  extensions/github-trending/CHANGELOG.md
  extensions/github-trending/package-lock.json
  extensions/github-trending/package.json
  extensions/github-trending/src/index.tsx
  extensions/github-trending/src/lib/trending-github.ts
Labels: extension fix / improvement, OP is author, extension: github-trending

#6075 prettier extension improvements
  extensions/prettier/CHANGELOG.md
  extensions/prettier/README.md
  extensions/prettier/package-lock.json
  extensions/prettier/package.json
  extensions/prettier/src/format.ts
  extensions/prettier/src/formatCSS.ts
  extensions/prettier/src/formatHTML.ts
  extensions/prettier/src/formatJSON.ts
  extensions/prettier/src/formatJavaScript.ts
  extensions/prettier/src/formatTypeScript.ts
  extensions/prettier/src/index.ts
  extensions/prettier/src/types.ts
Labels: extension fix / improvement, extension: prettier

#6107 bug fix: add encoding when using univ. link
  extensions/sequel-ace/CHANGELOG.md
  extensions/sequel-ace/src/database_list.tsx
Labels: extension fix / improvement, OP is author, extension: sequel-ace

#5978 Add Akkoma extension
  extensions/akkoma/.eslintrc.json
  extensions/akkoma/.gitignore
  extensions/akkoma/.prettierrc
  extensions/akkoma/CHANGELOG.md
  extensions/akkoma/LICENSE
  extensions/akkoma/README.md
  extensions/akkoma/assets/akkoma-icon.png
  extensions/akkoma/media/actions.png
  extensions/akkoma/media/add-cw.png
  extensions/akkoma/media/add-scheduled-status.png
  extensions/akkoma/media/add-simple-status.png
  extensions/akkoma/media/add-status-alt-text.png
  extensions/akkoma/media/add-status.png
  extensions/akkoma/media/command.png
  extensions/akkoma/media/draft-status.png
  extensions/akkoma/media/login.png
  extensions/akkoma/media/markdown.png
  extensions/akkoma/media/setting-bookmarks.png
  extensions/akkoma/media/setting-status.png
  extensions/akkoma/media/setting-visibility.png
  extensions/akkoma/media/view-bookmarks.png
  extensions/akkoma/media/view-my-status.png
  extensions/akkoma/metadata/akkoma-1.png
  extensions/akkoma/metadata/akkoma-2.png
  extensions/akkoma/metadata/akkoma-3.png
  extensions/akkoma/metadata/akkoma-4.png
  extensions/akkoma/metadata/akkoma-5.png
  extensions/akkoma/metadata/akkoma-6.png
  extensions/akkoma/metadata/akkoma-7.png
  extensions/akkoma/package-lock.json
  extensions/akkoma/package.json
  extensions/akkoma/pnpm-lock.yaml
  extensions/akkoma/src/bookmark.tsx
  extensions/akkoma/src/components/VisibilityDropdown.tsx
  extensions/akkoma/src/my-status.tsx
  extensions/akkoma/src/simple-status.tsx
  extensions/akkoma/src/status.tsx
  extensions/akkoma/src/utils/api.ts
  extensions/akkoma/src/utils/oauth.ts
  extensions/akkoma/src/utils/types.ts
  extensions/akkoma/src/utils/util.ts
  extensions/akkoma/tsconfig.json
Labels: new extension

#5917 Add Hoogle extension
  extensions/hoogle/.eslintrc.json
  extensions/hoogle/.gitignore
  extensions/hoogle/.prettierrc
  extensions/hoogle/CHANGELOG.md
  extensions/hoogle/README.md
  extensions/hoogle/assets/haskell.png
  extensions/hoogle/metadata/hoogle-1.png
  extensions/hoogle/metadata/hoogle-2.png
  extensions/hoogle/metadata/hoogle-3.png
  extensions/hoogle/package-lock.json
  extensions/hoogle/package.json
  extensions/hoogle/src/hoogle.ts
  extensions/hoogle/src/index.tsx
  extensions/hoogle/src/markdown.ts
  extensions/hoogle/tsconfig.json
Labels: new extension

#6103 Revert "Flaticons: Fix token expiration handling (#4152)"
  extensions/flaticon/CHANGELOG.md
  extensions/flaticon/src/entities/Token.ts
Labels: extension fix / improvement, OP is author, extension: flaticon

#6068 Increase exception message to diagnose issues #6043 and #5998
  extensions/google-chrome/CHANGELOG.md
  extensions/google-chrome/package-lock.json
  extensions/google-chrome/package.json
  extensions/google-chrome/src/components/ChromeActions.tsx
  extensions/google-chrome/src/interfaces/index.ts
Labels: extension fix / improvement, OP is contributor, extension: google-chrome

#6132 prettier extension icon
  extensions/prettier/CHANGELOG.md
  extensions/prettier/assets/prettier-logo.png
Labels: extension fix / improvement, OP is contributor, extension: prettier

#6126 [jenkins] Allow Unsafe HTTPS Requests
  extensions/jenkins/CHANGELOG.md
  extensions/jenkins/src/jenkins.tsx
  extensions/jenkins/src/lib/api.ts
Labels: extension fix / improvement, extension: jenkins

#6123 Update doutu extension
  extensions/doutu/.eslintrc.json
  extensions/doutu/.gitignore
  extensions/doutu/.prettierrc
  extensions/doutu/.vscode/settings.json
  extensions/doutu/CHANGELOG.md
  extensions/doutu/LICENSE
  extensions/doutu/README.md
  extensions/doutu/assets/click.png
  extensions/doutu/assets/icon.png
  extensions/doutu/assets/more.png
  extensions/doutu/metadata/dou-tu-1.png
  extensions/doutu/metadata/dou-tu-2.png
  extensions/doutu/metadata/dou-tu-3.png
  extensions/doutu/metadata/dou-tu-4.png
  extensions/doutu/package-lock.json
  extensions/doutu/package.json
  extensions/doutu/requests/sources.http
  extensions/doutu/src/index.tsx
  extensions/doutu/src/services/clipboardService.ts
  extensions/doutu/src/services/sources.ts
  extensions/doutu/src/services/sourcesService.ts
  extensions/doutu/tsconfig.json
Labels: new extension

#6102 [Tinypng] Added destination folder to the settings.
  extensions/tinypng/CHANGELOG.md
  extensions/tinypng/package-lock.json
  extensions/tinypng/package.json
  extensions/tinypng/src/compressImages.ts
  extensions/tinypng/src/lib/utils.spec.ts
  extensions/tinypng/src/lib/utils.ts
  extensions/tinypng/src/resizingImages.ts
  extensions/tinypng/src/types.ts
  extensions/tinypng/vitest.config.ts
Labels: extension fix / improvement, OP is author, extension: tinypng

#6090 Add miniflux extension
  extensions/miniflux/.eslintrc.json
  extensions/miniflux/.gitignore
  extensions/miniflux/.prettierrc
  extensions/miniflux/CHANGELOG.md
  extensions/miniflux/LICENSE
  extensions/miniflux/README.md
  extensions/miniflux/assets/miniflux-icon.png
  extensions/miniflux/assets/reader-logo.png
  extensions/miniflux/media/background-refresh.png
  extensions/miniflux/media/commands.png
  extensions/miniflux/media/default-setting.png
  extensions/miniflux/media/feedlimit.png
  extensions/miniflux/media/searchlimit.png
  extensions/miniflux/metadata/miniflux-1.png
  extensions/miniflux/metadata/miniflux-2.png
  extensions/miniflux/metadata/miniflux-3.png
  extensions/miniflux/metadata/miniflux-4.png
  extensions/miniflux/metadata/miniflux-5.png
  extensions/miniflux/metadata/miniflux-6.png
  extensions/miniflux/metadata/miniflux-7.png
  extensions/miniflux/metadata/miniflux-8.png
  extensions/miniflux/metadata/miniflux-9.png
  extensions/miniflux/package-lock.json
  extensions/miniflux/package.json
  extensions/miniflux/src/add-subscription.tsx
  extensions/miniflux/src/components/AdvanceOptions.tsx
  extensions/miniflux/src/components/ControlActions.tsx
  extensions/miniflux/src/components/CreateFeedForm.tsx
  extensions/miniflux/src/components/EntryListItem.tsx
  extensions/miniflux/src/components/FeedInDetail.tsx
  extensions/miniflux/src/components/FilterDropdown.tsx
  extensions/miniflux/src/open-miniflux.tsx
  extensions/miniflux/src/read-recent-entries.tsx
  extensions/miniflux/src/refresh-all-feeds.tsx
  extensions/miniflux/src/search.tsx
  extensions/miniflux/src/utils/api.ts
  extensions/miniflux/src/utils/types.ts
  extensions/miniflux/src/utils/useCategories.ts
  extensions/miniflux/src/utils/useEntryIcon.ts
  extensions/miniflux/src/utils/useErrorHandler.ts
  extensions/miniflux/src/utils/useSearchEntries.ts
  extensions/miniflux/tsconfig.json
Labels: new extension

#6098 Add laravel-artisan extension
  extensions/laravel-artisan/.eslintrc.json
  extensions/laravel-artisan/.gitignore
  extensions/laravel-artisan/.prettierrc
  extensions/laravel-artisan/CHANGELOG.md
  extensions/laravel-artisan/README.md
  extensions/laravel-artisan/assets/command-icon.png
  extensions/laravel-artisan/metadata/laravel-artisan-1.png
  extensions/laravel-artisan/metadata/laravel-artisan-2.png
  extensions/laravel-artisan/metadata/laravel-artisan-3.png
  extensions/laravel-artisan/package-lock.json
  extensions/laravel-artisan/package.json
  extensions/laravel-artisan/src/components/DetailsView.tsx
  extensions/laravel-artisan/src/components/VersionSelect.tsx
  extensions/laravel-artisan/src/config.ts
  extensions/laravel-artisan/src/hooks/useCommands.ts
  extensions/laravel-artisan/src/hooks/useVersions.ts
  extensions/laravel-artisan/src/index.tsx
  extensions/laravel-artisan/src/types.ts
  extensions/laravel-artisan/tsconfig.json
Labels: new extension

#6026 Add laravel-vapor extension
  extensions/laravel-vapor/.eslintrc.json
  extensions/laravel-vapor/.gitignore
  extensions/laravel-vapor/.prettierrc
  extensions/laravel-vapor/CHANGELOG.md
  extensions/laravel-vapor/README.md
  extensions/laravel-vapor/assets/list-icon.png
  extensions/laravel-vapor/assets/vapor.png
  extensions/laravel-vapor/metadata/laravel-vapor-1.png
  extensions/laravel-vapor/package-lock.json
  extensions/laravel-vapor/package.json
  extensions/laravel-vapor/src/api/caches.ts
  extensions/laravel-vapor/src/api/databases.ts
  extensions/laravel-vapor/src/api/domains.ts
  extensions/laravel-vapor/src/api/networks.ts
  extensions/laravel-vapor/src/api/projects.ts
  extensions/laravel-vapor/src/api/teams.ts
  extensions/laravel-vapor/src/api/user.ts
  extensions/laravel-vapor/src/components/ResultActions.tsx
  extensions/laravel-vapor/src/components/ResultDetails.tsx
  extensions/laravel-vapor/src/components/ResultItem.tsx
  extensions/laravel-vapor/src/lib/helpers.ts
  extensions/laravel-vapor/src/lib/request.ts
  extensions/laravel-vapor/src/list-caches.tsx
  extensions/laravel-vapor/src/list-databases.tsx
  extensions/laravel-vapor/src/list-domains.tsx
  extensions/laravel-vapor/src/list-networks.tsx
  extensions/laravel-vapor/src/list-projects.tsx
  extensions/laravel-vapor/src/switch-team.tsx
  extensions/laravel-vapor/tsconfig.json
Labels: new extension

#6152 Update API Structure
  extensions/knowwa/CHANGELOG.md
  extensions/knowwa/src/constants/constants.ts
  extensions/knowwa/src/indexDocs.tsx
  extensions/knowwa/src/modules/NewDoc/NewDocForm.tsx
  extensions/knowwa/src/newDoc.tsx
  extensions/knowwa/src/types/types.tsx
Labels: extension fix / improvement, OP is author, extension: knowwa

#6154 [OpsLevel] Update extension. Remove placeholder text
  extensions/opslevel/CHANGELOG.md
  extensions/opslevel/src/index.tsx
Labels: extension fix / improvement, OP is author, extension: opslevel

#6119 [brew] give option to run commands in iTerm instead of Terminal
  extensions/brew/package.json
  extensions/brew/src/components/runInTerminal.ts
  extensions/brew/src/preferences.ts
Labels: extension fix / improvement, extension: brew

#6124 [brew] Add option to uninstall casks with `--zap`
  extensions/brew/package.json
  extensions/brew/src/brew.ts
  extensions/brew/src/preferences.ts
Labels: extension fix / improvement, OP is author, extension: brew

#6127 [Visual Studio Code Project Manager] Update build identifier for Codium.
  extensions/visual-studio-code-project-manager/CHANGELOG.md
  extensions/visual-studio-code-project-manager/package.json
  extensions/visual-studio-code-project-manager/src/search-project-manager-projects.tsx
Labels: extension fix / improvement, extension: vscode-project-manager

#6164 🐞 fix: openAI translation may miss first char
  extensions/easydict/CHANGELOG.md
  extensions/easydict/package.json
  extensions/easydict/src/dataManager/dataManager.ts
  extensions/easydict/src/preferences.ts
  extensions/easydict/src/releaseVersion/versionInfo.ts
  extensions/easydict/src/translation/openAI/chat.ts
  extensions/easydict/src/translation/volcano/volcanoAPI.ts
  extensions/easydict/src/translation/volcano/volcanoSign.js
Labels: extension fix / improvement, OP is author, extension: easydict

#6162 BUGFIX Missing input data
  extensions/knowwa/CHANGELOG.md
  extensions/knowwa/src/indexDocs.tsx
  extensions/knowwa/src/types/types.tsx
Labels: extension fix / improvement, OP is author, extension: knowwa

#6174 Fix typo - Extremely minor change (to the character!)
  extensions/word-search/README.md
Labels: extension fix / improvement, OP is author, extension: word-search

#6106 Add wifi-password-reveal extension
  extensions/wifi-password-reveal/.eslintrc.json
  extensions/wifi-password-reveal/.gitignore
  extensions/wifi-password-reveal/.prettierrc
  extensions/wifi-password-reveal/CHANGELOG.md
  extensions/wifi-password-reveal/README.md
  extensions/wifi-password-reveal/assets/extension_icon.png
  extensions/wifi-password-reveal/package-lock.json
  extensions/wifi-password-reveal/package.json
  extensions/wifi-password-reveal/src/index.tsx
  extensions/wifi-password-reveal/tsconfig.json
Labels: new extension

#6191 [Quit-Applications] Fix the extension crashing
  extensions/quit-applications/CHANGELOG.md
  extensions/quit-applications/src/index.tsx
Labels: extension fix / improvement, OP is author, extension: quit-applications

#6057 simple-reminder: add initial version of the extension
  extensions/simple-reminder/.eslintrc.json
  extensions/simple-reminder/.gitignore
  extensions/simple-reminder/.prettierrc
  extensions/simple-reminder/CHANGELOG.md
  extensions/simple-reminder/README.md
  extensions/simple-reminder/assets/bell.png
  extensions/simple-reminder/assets/logo.png
  extensions/simple-reminder/assets/no_bell.png
  extensions/simple-reminder/media/pref-1.png
  extensions/simple-reminder/media/pref-2.png
  extensions/simple-reminder/metadata/simple-reminder-1.png
  extensions/simple-reminder/metadata/simple-reminder-2.png
  extensions/simple-reminder/metadata/simple-reminder-3.png
  extensions/simple-reminder/metadata/simple-reminder-4.png
  extensions/simple-reminder/package-lock.json
  extensions/simple-reminder/package.json
  extensions/simple-reminder/src/hooks/useFetchStoredReminders.ts
  extensions/simple-reminder/src/index.tsx
  extensions/simple-reminder/src/reminderNotifications.ts
  extensions/simple-reminder/src/types/reminder.ts
  extensions/simple-reminder/src/utils/createNewReminder.ts
  extensions/simple-reminder/src/utils/dateSortPredicate.ts
  extensions/simple-reminder/src/utils/deleteReminder.ts
  extensions/simple-reminder/src/utils/extractTopicAndDateFromInputText.ts
  extensions/simple-reminder/tsconfig.json
Labels: new extension

#6097 Update Github Gists Extension
  extensions/github-gist/CHANGELOG.md
  extensions/github-gist/metadata/github-gist-1.png
  extensions/github-gist/metadata/github-gist-2.png
  extensions/github-gist/metadata/github-gist-3.png
  extensions/github-gist/package-lock.json
  extensions/github-gist/package.json
  extensions/github-gist/src/util/utils.ts
Labels: extension fix / improvement, extension: github-gist

#6025 Spotify Beta: Add album image type to nowPlayingMenuBar icon
  extensions/spotify-beta/package.json
  extensions/spotify-beta/src/nowPlayingMenuBar.tsx
Labels: extension fix / improvement, extension: spotify-beta

#6199 Replace encodeURIComponent with escape to handle special characters (fix #6197)
  extensions/things/src/add-new-todo.tsx
Labels: extension fix / improvement, OP is author, extension: things

#5657 added support for JS Object
  extensions/json-format/package.json
  extensions/json-format/src/utils.ts
Labels: extension fix / improvement, extension: json-format

#6205 Added the ability to search by group name.
  extensions/tableplus/CHANGELOG.md
  extensions/tableplus/package.json
  extensions/tableplus/src/database_list.tsx
  extensions/tableplus/src/interfaces.ts
Labels: extension fix / improvement, OP is author, extension: tableplus

#6217 iTranslate: Optimize Experience
  extensions/itranslate/CHANGELOG.md
  extensions/itranslate/package.json
  extensions/itranslate/src/common/itranslate.shared.tsx
  extensions/itranslate/src/common/types.d.ts
  extensions/itranslate/src/components/TranslateError.tsx
  extensions/itranslate/src/components/TranslateResult.tsx
  extensions/itranslate/src/itranslate.tsx
  extensions/itranslate/src/multiple.tsx
  extensions/itranslate/src/ocr.tsx
Labels: extension fix / improvement, OP is author, extension: itranslate

#6212 [Sun/Moon Times] Fixed bug were times were off by one day
  extensions/sun-moon-times/CHANGELOG.md
  extensions/sun-moon-times/package-lock.json
  extensions/sun-moon-times/package.json
  extensions/sun-moon-times/src/components/DetailView.tsx
Labels: extension fix / improvement, OP is author, extension: sun-moon-times

#5811 Add control-d extension
  extensions/control-d/.eslintrc.json
  extensions/control-d/.gitignore
  extensions/control-d/.prettierrc
  extensions/control-d/CHANGELOG.md
  extensions/control-d/README.md
  extensions/control-d/assets/command-icon.png
  extensions/control-d/common/axios.ts
  extensions/control-d/common/deleteProfile.ts
  extensions/control-d/common/learnIP.ts
  extensions/control-d/common/listDevices.ts
  extensions/control-d/common/listFilters.ts
  extensions/control-d/common/listProfiles.ts
  extensions/control-d/common/modifyProfile.ts
  extensions/control-d/common/toggleFilter.ts
  extensions/control-d/interfaces/device.ts
  extensions/control-d/interfaces/ipRes.ts
  extensions/control-d/interfaces/nativeFilter.ts
  extensions/control-d/interfaces/profile.ts
  extensions/control-d/interfaces/thirdPartyFilter.ts
  extensions/control-d/interfaces/toggleFilter.ts
  extensions/control-d/metadata/change-filters.png
  extensions/control-d/metadata/modify-profile.png
  extensions/control-d/metadata/status.png
  extensions/control-d/package-lock.json
  extensions/control-d/package.json
  extensions/control-d/src/change-filters.tsx
  extensions/control-d/src/learn-my-ip.tsx
  extensions/control-d/src/list-profiles.tsx
  extensions/control-d/src/modify-profile.tsx
  extensions/control-d/src/status.tsx
  extensions/control-d/tsconfig.json
Labels: new extension

#6027 Add qotp extension
  extensions/qotp/.editorconfig
  extensions/qotp/.eslintrc.json
  extensions/qotp/.gitignore
  extensions/qotp/.prettierrc
  extensions/qotp/CHANGELOG.md
  extensions/qotp/README.CN.md
  extensions/qotp/README.md
  extensions/qotp/assets/qotp.png
  extensions/qotp/metadata/Metadata.png
  extensions/qotp/package-lock.json
  extensions/qotp/package.json
  extensions/qotp/plugins.json
  extensions/qotp/src/data.ts
  extensions/qotp/src/preferences.ts
  extensions/qotp/src/qotp-panel.tsx
  extensions/qotp/src/utils.ts
  extensions/qotp/tsconfig.json
Labels: new extension

#6121 Add keychain-password-gen extension
  extensions/keychain-password-gen/.eslintrc.json
  extensions/keychain-password-gen/.gitignore
  extensions/keychain-password-gen/.prettierrc
  extensions/keychain-password-gen/CHANGELOG.md
  extensions/keychain-password-gen/README.md
  extensions/keychain-password-gen/assets/icon.png
  extensions/keychain-password-gen/metadata/screenshot-01.png
  extensions/keychain-password-gen/package-lock.json
  extensions/keychain-password-gen/package.json
  extensions/keychain-password-gen/src/index.tsx
  extensions/keychain-password-gen/tsconfig.json
Labels: new extension

#6159 Add focus-anchor extension
  extensions/focus-anchor/.eslintrc.json
  extensions/focus-anchor/.gitignore
  extensions/focus-anchor/.prettierrc
  extensions/focus-anchor/CHANGELOG.md
  extensions/focus-anchor/README.md
  extensions/focus-anchor/assets/command-icon.png
  extensions/focus-anchor/assets/command-icon@dark.png
  extensions/focus-anchor/package-lock.json
  extensions/focus-anchor/package.json
  extensions/focus-anchor/src/index.ts
  extensions/focus-anchor/tsconfig.json
Labels: new extension

#6201 [brew] should fix #6198
  extensions/brew/src/brew.ts
Labels: extension fix / improvement, OP is contributor, extension: brew

#6224 [Simple Reminder] feat: add copy to clipboard action
  extensions/simple-reminder/CHANGELOG.md
  extensions/simple-reminder/src/handlers/copyExistingReminder.ts
  extensions/simple-reminder/src/handlers/createNewReminder.ts
  extensions/simple-reminder/src/handlers/deleteExistingReminder.ts
  extensions/simple-reminder/src/index.tsx
  extensions/simple-reminder/src/utils/showError.ts
Labels: extension fix / improvement, OP is author, extension: simple-reminder

#6215 Himalaya: Add background sync
  extensions/himalaya/CHANGELOG.md
  extensions/himalaya/package-lock.json
  extensions/himalaya/package.json
  extensions/himalaya/src/envelopes.ts
  extensions/himalaya/src/exec.ts
  extensions/himalaya/src/folders.ts
  extensions/himalaya/src/index.tsx
  extensions/himalaya/src/models.ts
  extensions/himalaya/src/state.ts
  extensions/himalaya/src/sync.tsx
  extensions/himalaya/tsconfig.json
Labels: extension fix / improvement, OP is author, extension: himalaya

#6220 [AWS] Support GetSessionToken with aws-vault
  extensions/amazon-aws/CHANGELOG.md
  extensions/amazon-aws/src/components/searchbar/aws-profile-dropdown.tsx
Labels: extension fix / improvement, OP is contributor, extension: aws

#5867 [Transmission] Usability improvements
  extensions/transmission/CHANGELOG.md
  extensions/transmission/package-lock.json
  extensions/transmission/package.json
  extensions/transmission/src/addNewTorrent.tsx
  extensions/transmission/src/listTorrents.tsx
  extensions/transmission/src/modules/client.ts
  extensions/transmission/src/utils/renderDetails.ts
Labels: extension fix / improvement, extension: transmission

#5962 Update chatgpt-quick-actions extension
  extensions/chatgpt-quick-actions/.eslintrc.json
  extensions/chatgpt-quick-actions/.gitignore
  extensions/chatgpt-quick-actions/.prettierrc
  extensions/chatgpt-quick-actions/CHANGELOG.md
  extensions/chatgpt-quick-actions/README.md
  extensions/chatgpt-quick-actions/assets/openai-logo.png
  extensions/chatgpt-quick-actions/package-lock.json
  extensions/chatgpt-quick-actions/package.json
  extensions/chatgpt-quick-actions/src/api.ts
  extensions/chatgpt-quick-actions/src/common.tsx
  extensions/chatgpt-quick-actions/src/custom.tsx
  extensions/chatgpt-quick-actions/src/execute.ts
  extensions/chatgpt-quick-actions/src/preview.tsx
  extensions/chatgpt-quick-actions/src/refine.tsx
  extensions/chatgpt-quick-actions/src/rewrite.tsx
  extensions/chatgpt-quick-actions/src/summarize.tsx
  extensions/chatgpt-quick-actions/src/util.ts
  extensions/chatgpt-quick-actions/tsconfig.json
Labels: new extension

#5869 Add tempmail extension
  extensions/tempmail/.eslintrc.json
  extensions/tempmail/.gitignore
  extensions/tempmail/.prettierrc
  extensions/tempmail/CHANGELOG.md
  extensions/tempmail/README.md
  extensions/tempmail/assets/command-icon.png
  extensions/tempmail/lib/main.ts
  extensions/tempmail/metadata/CHANGELOG.md
  extensions/tempmail/metadata/Metadata-1.png
  extensions/tempmail/metadata/Metadata-2.png
  extensions/tempmail/metadata/Metadata-3.png
  extensions/tempmail/metadata/Metadata-4.png
  extensions/tempmail/package-lock.json
  extensions/tempmail/package.json
  extensions/tempmail/src/message.tsx
  extensions/tempmail/src/reset.tsx
  extensions/tempmail/src/tempmail.tsx
  extensions/tempmail/tsconfig.json
Labels: new extension

#5820 Allow setting paste as the default action in masscode-assistant
  extensions/masscode-assistant/package.json
  extensions/masscode-assistant/src/components/item-actions.tsx
  extensions/masscode-assistant/src/index.tsx
  extensions/masscode-assistant/src/types/index.d.ts
  extensions/masscode-assistant/src/utils/localStorageHelper.tsx
Labels: extension fix / improvement, status: awaiting response from dev, extension: masscode
