Repository raycast/extensions, pull requests merged in 2023-01, with the labels that each got.

#4118 fix(Timers): show 2 minutes variation
  extensions/timers/CHANGELOG.md
  extensions/timers/README.md
Labels: extension fix / improvement, extension: timers

#4070 🐛 fix: update regex to validate API keys
  extensions/wakatime/CHANGELOG.md
  extensions/wakatime/src/utils/api.ts
Labels: extension fix / improvement, OP is author, extension: wakatime

#4098 [Xcode] Add Code Snippet Commands
  extensions/xcode/CHANGELOG.md
  extensions/xcode/package-lock.json
  extensions/xcode/package.json
  extensions/xcode/src/components/xcode-code-snippet/xcode-code-snippet-form.component.tsx
  extensions/xcode/src/components/xcode-code-snippet/xcode-code-snippet-list-item-detail.component.tsx
  extensions/xcode/src/components/xcode-code-snippet/xcode-code-snippet-list-item.component.tsx
  extensions/xcode/src/components/xcode-code-snippet/xcode-code-snippet-list.component.tsx
  extensions/xcode/src/create-code-snippet.command.tsx
  extensions/xcode/src/models/xcode-code-snippet/xcode-code-snippet-completion-scope.model.ts
  extensions/xcode/src/models/xcode-code-snippet/xcode-code-snippet-form-values.model.ts
  extensions/xcode/src/models/xcode-code-snippet/xcode-code-snippet-programming-language.model.ts
  extensions/xcode/src/models/xcode-code-snippet/xcode-code-snippet.model.ts
  extensions/xcode/src/search-code-snippets.command.tsx
  extensions/xcode/src/services/xcode-code-snippet.service.ts
  extensions/xcode/src/shared/fs-async.ts
  extensions/xcode/src/shared/xcode-code-snippet-completion-scope-name.ts
  extensions/xcode/src/shared/xcode-code-snippet-programming-language-name.ts
Labels: extension fix / improvement, OP is author, extension: xcode

#4063 Shell: Fix run with argument
  extensions/shell/CHANGELOG.md
  extensions/shell/src/index.tsx
Labels: extension fix / improvement, OP is author, extension: shell

#4057 fix: fix handle error for menu bar command in todoist extension
  extensions/todoist/CHANGELOG.md
  extensions/todoist/src/api.ts
Labels: extension fix / improvement, OP is contributor, extension: todoist

#4085 Raindrop.io - Fix collections issue
  extensions/raindrop/CHANGELOG.md
  extensions/raindrop/src/helpers/collections.ts
Labels: extension fix / improvement, OP is author, extension: raindrop-io

#4054 [AWS] Add CloudFormation Stack Drill Down
  extensions/amazon-aws/CHANGELOG.md
  extensions/amazon-aws/src/actions/logs.ts
  extensions/amazon-aws/src/cloudformation.tsx
  extensions/amazon-aws/src/cloudwatch.tsx
  extensions/amazon-aws/src/codepipeline.tsx
  extensions/amazon-aws/src/components/cloudwatch/CloudwatchLogStreams.tsx
  extensions/amazon-aws/src/components/cloudwatch/CloudwatchLogs.tsx
  extensions/amazon-aws/src/dynamodb.tsx
  extensions/amazon-aws/src/ec2.tsx
  extensions/amazon-aws/src/lambda.tsx
  extensions/amazon-aws/src/s3.tsx
  extensions/amazon-aws/src/secrets.tsx
  extensions/amazon-aws/src/sqs.tsx
  extensions/amazon-aws/src/ssm.tsx
  extensions/amazon-aws/src/util/index.tsx
Labels: extension fix / improvement, OP is contributor, extension: aws

#4107 Tmdb update
  extensions/tmdb/.gitignore
  extensions/tmdb/CHANGELOG.md
  extensions/tmdb/metadata/new-1.png
  extensions/tmdb/metadata/new-2.png
  extensions/tmdb/metadata/new-3.png
  extensions/tmdb/metadata/new-4.png
  extensions/tmdb/metadata/tmdb-1.png
  extensions/tmdb/metadata/tmdb-2.png
  extensions/tmdb/metadata/tmdb-3.png
  extensions/tmdb/metadata/tmdb-4.png
  extensions/tmdb/package-lock.json
  extensions/tmdb/package.json
  extensions/tmdb/src/nowPlayingMovies.tsx
  extensions/tmdb/src/nowPlayingTv.tsx
Labels: extension fix / improvement, OP is author, extension: tmdb

#4108 Gitmoji update
  extensions/gitmoji/.editorconfig
  extensions/gitmoji/.gitignore
  extensions/gitmoji/CHANGELOG.md
  extensions/gitmoji/assets/icon.png
  extensions/gitmoji/metadata/gitmoji-1.png
  extensions/gitmoji/metadata/gitmoji-2.png
  extensions/gitmoji/package-lock.json
  extensions/gitmoji/package.json
  extensions/gitmoji/src/gitmoji.tsx
Labels: extension fix / improvement, extension: gitmoji

#4016 [Netlify] fix: View Members command when `full_name` is empty
  extensions/netlify/CHANGELOG.md
  extensions/netlify/src/service.ts
  extensions/netlify/src/view-members.tsx
Labels: extension fix / improvement, extension: netlify

#3976 [Wikipedia] Multi Language Support
  extensions/wikipedia/CHANGELOG.md
  extensions/wikipedia/metadata/wikipedia-01.png
  extensions/wikipedia/metadata/wikipedia-02.png
  extensions/wikipedia/package-lock.json
  extensions/wikipedia/package.json
  extensions/wikipedia/src/featured-page.tsx
  extensions/wikipedia/src/random-page.tsx
  extensions/wikipedia/src/search-page.tsx
  extensions/wikipedia/src/show-details-page.tsx
  extensions/wikipedia/src/wikipedia.ts
Labels: extension fix / improvement, extension: wikipedia

#3943 new extension preference - Add Calendar focus on command completion
  extensions/quick-event/CHANGELOG.md
  extensions/quick-event/README.md
  extensions/quick-event/package-lock.json
  extensions/quick-event/package.json
  extensions/quick-event/src/index.tsx
Labels: extension fix / improvement, extension: quick-event

#4091 [Laravel Forge] Add initial server list cache render
  extensions/laravel-forge/CHANGELOG.md
  extensions/laravel-forge/src/Server.tsx
Labels: extension fix / improvement, OP is author, extension: laravel-forge

#4086 Update extension: World Clock
  extensions/world-clock/CHANGELOG.md
  extensions/world-clock/package-lock.json
  extensions/world-clock/package.json
  extensions/world-clock/src/components/time-zone-list-item.tsx
  extensions/world-clock/src/hooks/hooks.ts
  extensions/world-clock/src/query-world-time-menu-bar.tsx
  extensions/world-clock/src/types/preferences.ts
  extensions/world-clock/src/utils/common-utils.ts
Labels: extension fix / improvement, OP is author, extension: world-clock

#4106 [bitbucket] Changed the SearchList implementation to work with workspaces with large number of repositories
  extensions/bitbucket/CHANGELOG.md
  extensions/bitbucket/package-lock.json
  extensions/bitbucket/package.json
  extensions/bitbucket/src/components/pullRequests/searchMyPullRequests.tsx
  extensions/bitbucket/src/components/repository/actions.tsx
  extensions/bitbucket/src/components/repository/pipelinesList.tsx
  extensions/bitbucket/src/components/repository/pullRequestsList.tsx
  extensions/bitbucket/src/components/repository/searchRepositories.tsx
  extensions/bitbucket/src/helpers/cache.ts
  extensions/bitbucket/src/queries/index.ts
Labels: extension fix / improvement, extension: bitbucket

#4014 [Netlify] Upgrade `@raycast/api` from 1.28.0 to 1.42.0
  extensions/netlify/CHANGELOG.md
  extensions/netlify/package-lock.json
  extensions/netlify/package.json
  extensions/netlify/src/view-sites.tsx
Labels: extension fix / improvement, extension: netlify

#4034 Hypersonic: v2.0.2
  extensions/hypersonic/CHANGELOG.md
  extensions/hypersonic/assets/discord-white.svg
  extensions/hypersonic/assets/discord.svg
  extensions/hypersonic/assets/figma-white.png
  extensions/hypersonic/assets/figma-white.svg
  extensions/hypersonic/assets/figma.svg
  extensions/hypersonic/assets/github-white.svg
  extensions/hypersonic/assets/github.svg
  extensions/hypersonic/assets/gitlab-white.svg
  extensions/hypersonic/assets/gitlab.svg
  extensions/hypersonic/assets/icon-purple.png
  extensions/hypersonic/assets/linear-white.svg
  extensions/hypersonic/assets/linear.svg
  extensions/hypersonic/assets/slack-white.svg
  extensions/hypersonic/assets/slack.svg
  extensions/hypersonic/assets/twitter-white.svg
  extensions/hypersonic/assets/twitter.svg
  extensions/hypersonic/assets/youtube-white.svg
  extensions/hypersonic/assets/youtube.svg
  extensions/hypersonic/package-lock.json
  extensions/hypersonic/package.json
  extensions/hypersonic/src/features/configuration-form/configuration-form.tsx
  extensions/hypersonic/src/features/onboarding/components/authorization-action.tsx
  extensions/hypersonic/src/features/onboarding/hooks/use-onboarding.ts
  extensions/hypersonic/src/features/todo-list/components/open-attached-link.tsx
  extensions/hypersonic/src/features/todo-list/components/open-in-notion-action.tsx
  extensions/hypersonic/src/features/todo-list/components/open-notion-action.tsx
  extensions/hypersonic/src/features/todo-list/components/reauthorize-action.tsx
  extensions/hypersonic/src/features/todo-list/hooks/use-todo-list.ts
  extensions/hypersonic/src/features/todo-list/todo-list.tsx
  extensions/hypersonic/src/services/notion/operations/create-todo.ts
  extensions/hypersonic/src/services/notion/operations/get-databases.ts
  extensions/hypersonic/src/services/notion/utils/get-content-url.ts
  extensions/hypersonic/src/services/notion/utils/normalize-todo.ts
  extensions/hypersonic/src/services/notion/utils/notion-color-to-tint-color.ts
  extensions/hypersonic/src/services/storage.ts
  extensions/hypersonic/src/types/database.ts
  extensions/hypersonic/src/types/todo.ts
  extensions/hypersonic/src/utils/create-accessories-array.ts
  extensions/hypersonic/src/utils/get-notion-icon.ts
  extensions/hypersonic/src/utils/icons.ts
Labels: extension fix / improvement, extension: hypersonic

#3981 [todoist] Add possibility to specify the number of days in Upcoming view for Menu Bar
  extensions/todoist/CHANGELOG.md
  extensions/todoist/package.json
  extensions/todoist/src/menubar.tsx
Labels: extension fix / improvement, OP is contributor, extension: todoist

#4020 Icons8 Minor Update
  extensions/icons8/CHANGELOG.md
  extensions/icons8/package-lock.json
  extensions/icons8/package.json
  extensions/icons8/src/components/empty-view.tsx
  extensions/icons8/src/hooks/api.ts
  extensions/icons8/src/search-icons.tsx
  extensions/icons8/src/types/types.ts
  extensions/icons8/src/utils/options.ts
  extensions/icons8/src/utils/storage.tsx
  extensions/icons8/src/utils/utils.ts
Labels: extension fix / improvement, OP is author, extension: icons8

#4030 Zendesk Extension bug fix: Fixed URLs not opening properly if locale was uppercase
  extensions/zendesk/CHANGELOG.md
  extensions/zendesk/README.md
  extensions/zendesk/metadata/zendesk-1-updated.png
  extensions/zendesk/metadata/zendesk-1.png
  extensions/zendesk/metadata/zendesk-2-updated.png
  extensions/zendesk/metadata/zendesk-2.png
  extensions/zendesk/metadata/zendesk-3-updated.png
  extensions/zendesk/metadata/zendesk-3.png
  extensions/zendesk/package-lock.json
  extensions/zendesk/package.json
  extensions/zendesk/src/search-zendesk-support-center.tsx
Labels: extension fix / improvement, OP is author, extension: zendesk

#4033 Updates bitly extension to use ray clipboard api
  extensions/bitly-url-shortener/CHANGELOG.md
  extensions/bitly-url-shortener/package-lock.json
  extensions/bitly-url-shortener/package.json
  extensions/bitly-url-shortener/src/index.tsx
  extensions/bitly-url-shortener/tsconfig.json
Labels: extension fix / improvement, OP is author, extension: bitly-url-shortener

#4018 Sourcegraph: Code Search History and improved search results metadata
  extensions/sourcegraph/CHANGELOG.md
  extensions/sourcegraph/README.md
  extensions/sourcegraph/metadata/2-search-symbols.png
  extensions/sourcegraph/metadata/2a-search-history.png
  extensions/sourcegraph/package-lock.json
  extensions/sourcegraph/package.json
  extensions/sourcegraph/src/components/CloudCommand.tsx
  extensions/sourcegraph/src/components/InstanceCommand.tsx
  extensions/sourcegraph/src/components/SearchCommand.tsx
  extensions/sourcegraph/src/components/SearchHistoryCommand.tsx
  extensions/sourcegraph/src/components/colors/index.ts
  extensions/sourcegraph/src/components/shortcuts/index.ts
  extensions/sourcegraph/src/hooks/search.tsx
  extensions/sourcegraph/src/searchDotCom.tsx
  extensions/sourcegraph/src/searchHistory/index.tsx
  extensions/sourcegraph/src/searchHistoryDotCom.tsx
  extensions/sourcegraph/src/searchHistoryInstance.tsx
  extensions/sourcegraph/src/searchInstance.tsx
Labels: extension fix / improvement, OP is author, extension: sourcegraph

#4050 Library Genesis: Feature Update
  extensions/library-genesis/CHANGELOG.md
  extensions/library-genesis/README.md
  extensions/library-genesis/metadata/library-genesis-1.png
  extensions/library-genesis/metadata/library-genesis-2.png
  extensions/library-genesis/metadata/library-genesis-3.png
  extensions/library-genesis/metadata/library-genesis-4.png
  extensions/library-genesis/package-lock.json
  extensions/library-genesis/package.json
  extensions/library-genesis/src/components/book-action-panel.tsx
  extensions/library-genesis/src/functions/download-book.ts
  extensions/library-genesis/src/types.ts
  extensions/library-genesis/src/utils/axios-utils.ts
  extensions/library-genesis/src/utils/common-utils.ts
  extensions/library-genesis/src/utils/libgen-api.ts
Labels: extension fix / improvement, OP is author, extension: library-genesis

#4129 [New Feature: Lorem Ipsum] add generate words command
  extensions/lorem-ipsum/CHANGELOG.md
  extensions/lorem-ipsum/package.json
  extensions/lorem-ipsum/src/utils.tsx
  extensions/lorem-ipsum/src/words.tsx
Labels: extension fix / improvement, extension: lorem-ipsum

#4116 Add Simulator Control extension
  extensions/simctl/.eslintrc.json
  extensions/simctl/.gitignore
  extensions/simctl/.prettierrc
  extensions/simctl/CHANGELOG.md
  extensions/simctl/Makefile
  extensions/simctl/README.md
  extensions/simctl/assets/command-icon.png
  extensions/simctl/assets/list-icon.png
  extensions/simctl/metadata/screenshot-01.png
  extensions/simctl/package-lock.json
  extensions/simctl/package.json
  extensions/simctl/src/index.tsx
  extensions/simctl/tsconfig.json
Labels: new extension

#3940 feat(google-chrome): added search bookmarks, refactored to useSQL hook, code cleanup
  extensions/google-chrome/CHANGELOG.md
  extensions/google-chrome/README.md
  extensions/google-chrome/assets/chrome-icon.png
  extensions/google-chrome/assets/sql-wasm.wasm
  extensions/google-chrome/metadata/google-chrome-1.png
  extensions/google-chrome/metadata/google-chrome-2.png
  extensions/google-chrome/metadata/google-chrome-3.png
  extensions/google-chrome/metadata/google-chrome-4.png
  extensions/google-chrome/metadata/screenshot-01.png
  extensions/google-chrome/package-lock.json
  extensions/google-chrome/package.json
  extensions/google-chrome/src/actions/index.tsx
  extensions/google-chrome/src/browserHistory.tsx
  extensions/google-chrome/src/components/ChromeActions.tsx
  extensions/google-chrome/src/components/ChromeListItems.tsx
  extensions/google-chrome/src/components/error/NoBookmarksError.tsx
  extensions/google-chrome/src/components/error/NotInstalledError.tsx
  extensions/google-chrome/src/components/error/UnknownError.tsx
  extensions/google-chrome/src/components/error/index.ts
  extensions/google-chrome/src/components/index.ts
  extensions/google-chrome/src/constants.ts
  extensions/google-chrome/src/google-chrome-go-to-tab.tsx
  extensions/google-chrome/src/google-chrome-new-tab.tsx
  extensions/google-chrome/src/google-chrome-search-history.tsx
  extensions/google-chrome/src/hooks/useBookmarkSearch.tsx
  extensions/google-chrome/src/hooks/useHistorySearch.tsx
  extensions/google-chrome/src/hooks/useTabSearch.tsx
  extensions/google-chrome/src/interfaces/index.ts
  extensions/google-chrome/src/new-tab.tsx
  extensions/google-chrome/src/search-bookmarks.tsx
  extensions/google-chrome/src/search-history.tsx
  extensions/google-chrome/src/search-tab.tsx
  extensions/google-chrome/src/util/index.ts
Labels: extension fix / improvement, status: stalled, extension: google-chrome

#4035 Visual Studio Code: Add support for VSCodium
  extensions/visual-studio-code-recent-projects/CHANGELOG.md
  extensions/visual-studio-code-recent-projects/package-lock.json
  extensions/visual-studio-code-recent-projects/package.json
  extensions/visual-studio-code-recent-projects/src/index.tsx
  extensions/visual-studio-code-recent-projects/src/preferences.ts
  extensions/visual-studio-code-recent-projects/src/types.ts
Labels: extension fix / improvement, OP is contributor, extension: visual-studio-code

#4066 Pomodoro: Fix menu-bar icon in light theme
  extensions/pomodoro/CHANGELOG.md
  extensions/pomodoro/assets/tomato-dark.png
  extensions/pomodoro/assets/tomato-light.png
  extensions/pomodoro/package.json
  extensions/pomodoro/src/pomodoro-menu-bar.tsx
Labels: extension fix / improvement, OP is author, extension: pomodoro

#3978 [todoist] Add Focus Feature
  extensions/todoist/package-lock.json
  extensions/todoist/package.json
  extensions/todoist/src/components/MenubarTask.tsx
  extensions/todoist/src/components/TaskActions.tsx
  extensions/todoist/src/helpers/cachedFocusedTask.ts
  extensions/todoist/src/helpers/texts.ts
  extensions/todoist/src/menubar.tsx
  extensions/todoist/src/unfocus-current-task.tsx
Labels: extension fix / improvement, OP is contributor, extension: todoist

#4045 Add the Ukrainian language to the Deepcast extension
  extensions/deepcast/README.md
  extensions/deepcast/package.json
  extensions/deepcast/src/ukrainian.ts
  extensions/deepcast/src/utils.ts
Labels: extension fix / improvement, extension: deepcast

#3964 feat(gitlab): filter todos created by someone
  extensions/gitlab/CHANGELOG.md
  extensions/gitlab/package.json
  extensions/gitlab/src/common.ts
  extensions/gitlab/src/components/todo/utils.ts
Labels: extension fix / improvement, extension: gitlab

#3962 New extension: carbon for raycast
  extensions/carbon-raycast/.eslintrc.json
  extensions/carbon-raycast/.gitignore
  extensions/carbon-raycast/.prettierrc
  extensions/carbon-raycast/CHANGELOG.md
  extensions/carbon-raycast/README.md
  extensions/carbon-raycast/assets/icon.png
  extensions/carbon-raycast/assets/map.json
  extensions/carbon-raycast/package-lock.json
  extensions/carbon-raycast/package.json
  extensions/carbon-raycast/src/index.tsx
  extensions/carbon-raycast/tsconfig.json
Labels: new extension

#4146 [improvement] Simulator control support open and bring front selected device window.
  extensions/simctl/CHANGELOG.md
  extensions/simctl/src/index.tsx
Labels: extension fix / improvement, OP is author, extension: simulator-control

#3917 [Easydict v2.7.0] ✨ Use list tag accessory to show exam type
  extensions/easydict/CHANGELOG.md
  extensions/easydict/README.md
  extensions/easydict/assets/Eudic Dictionary.png
  extensions/easydict/assets/Eudic.png
  extensions/easydict/docs/README_ZH.md
  extensions/easydict/metadata/easydict-1.png
  extensions/easydict/package-lock.json
  extensions/easydict/package.json
  extensions/easydict/src/components.tsx
  extensions/easydict/src/easydict.tsx
  extensions/easydict/src/releaseVersion/versionInfo.ts
Labels: extension fix / improvement, OP is author, extension: easydict

#4149 World Cup: Replace global fetch with cross-fetch
  extensions/world-cup/CHANGELOG.md
  extensions/world-cup/package-lock.json
  extensions/world-cup/package.json
  extensions/world-cup/src/index.tsx
Labels: extension fix / improvement, OP is contributor, extension: world-cup

#3903 Add screen sharing recents extension
  extensions/screen-sharing-recents/.eslintrc.json
  extensions/screen-sharing-recents/.gitignore
  extensions/screen-sharing-recents/.prettierrc
  extensions/screen-sharing-recents/CHANGELOG.md
  extensions/screen-sharing-recents/README.md
  extensions/screen-sharing-recents/assets/command-icon.png
  extensions/screen-sharing-recents/package-lock.json
  extensions/screen-sharing-recents/package.json
  extensions/screen-sharing-recents/src/index.tsx
  extensions/screen-sharing-recents/tsconfig.json
Labels: new extension

#4094 [New Extension] - Brave Search
  .vscode/settings.json
  extensions/brave-search/.eslintrc.json
  extensions/brave-search/.prettierrc
  extensions/brave-search/CHANGELOG.md
  extensions/brave-search/README.md
  extensions/brave-search/assets/command-icon.png
  extensions/brave-search/assets/command-icon@dark.png
  extensions/brave-search/metadata/brave-search-1.png
  extensions/brave-search/package-lock.json
  extensions/brave-search/package.json
  extensions/brave-search/src/app/models.ts
  extensions/brave-search/src/app/result-service.ts
  extensions/brave-search/src/app/search-service.tsx
  extensions/brave-search/src/index.tsx
  extensions/brave-search/tsconfig.json
Labels: new extension

#4073 Jotoba Extension Update
  extensions/jotoba/CHANGELOG.md
  extensions/jotoba/README.md
  extensions/jotoba/package-lock.json
  extensions/jotoba/package.json
  extensions/jotoba/src/actions/OpenInJotoba.tsx
  extensions/jotoba/src/components/Details/KanjiDetailsView.tsx
  extensions/jotoba/src/components/ListItems/KanjiListItem.tsx
  extensions/jotoba/src/components/ListItems/ListItemDetail/KanjiListItemDetail.tsx
  extensions/jotoba/src/components/ListItems/WordListItem.tsx
  extensions/jotoba/src/index.tsx
  extensions/jotoba/src/types/raycastJotoba.d.ts
  extensions/jotoba/src/useFetchAsync.tsx
  extensions/jotoba/src/useJotobaAsync.tsx
Labels: extension fix / improvement, OP is author, extension: jotoba

#4151 PurpleAir: Replace global fetch with cross-fetch
  extensions/purpleair/package-lock.json
  extensions/purpleair/package.json
  extensions/purpleair/src/index.tsx
Labels: extension fix / improvement, extension: purpleair

#4150 Pixabay: Replace global fetch with cross-fetch
  extensions/pixabay/package-lock.json
  extensions/pixabay/package.json
  extensions/pixabay/src/lib/api.ts
Labels: extension fix / improvement, extension: pixabay

#4148 Static Marks: Replace global fetch with cross-fetch
  extensions/static-marks-bookmarks/package-lock.json
  extensions/static-marks-bookmarks/package.json
  extensions/static-marks-bookmarks/src/index.tsx
Labels: extension fix / improvement, extension: static-marks

#4147 Flaticon: Replace global fetch with cross-fetch
  extensions/flaticon/package-lock.json
  extensions/flaticon/package.json
  extensions/flaticon/src/flows/issueAuthToken.ts
  extensions/flaticon/src/flows/searchIcons.ts
Labels: extension fix / improvement, extension: flaticon

#4042 add new extensions: JSON Editor
  extensions/json-editor/.eslintrc.json
  extensions/json-editor/.gitignore
  extensions/json-editor/.prettierrc
  extensions/json-editor/CHANGELOG.md
  extensions/json-editor/README.md
  extensions/json-editor/assets/command-icon.png
  extensions/json-editor/metadata/1.png
  extensions/json-editor/metadata/2.png
  extensions/json-editor/metadata/3.png
  extensions/json-editor/metadata/4.png
  extensions/json-editor/package-lock.json
  extensions/json-editor/package.json
  extensions/json-editor/src/edit-json.tsx
  extensions/json-editor/src/utils/js/index.js
  extensions/json-editor/src/utils/json-to-go.ts
  extensions/json-editor/src/utils/json-to-ts.ts
  extensions/json-editor/src/utils/json-to-yaml.ts
  extensions/json-editor/tsconfig.json
Labels: new extension

#4152 Flaticons: Fix token expiration handling
  extensions/flaticon/src/entities/Token.ts
Labels: extension fix / improvement, extension: flaticon

#4051 [New Extension] React Icons
  extensions/react-icons/.eslintrc.json
  extensions/react-icons/.gitignore
  extensions/react-icons/.prettierrc
  extensions/react-icons/CHANGELOG.md
  extensions/react-icons/README.md
  extensions/react-icons/assets/categories.json
  extensions/react-icons/assets/command-icon.png
  extensions/react-icons/assets/icons/Ant Design Icons.json
  extensions/react-icons/assets/icons/Bootstrap Icons.json
  extensions/react-icons/assets/icons/BoxIcons.json
  extensions/react-icons/assets/icons/Circum Icons.json
  extensions/react-icons/assets/icons/Devicons.json
  extensions/react-icons/assets/icons/Feather.json
  extensions/react-icons/assets/icons/Flat Color Icons.json
  extensions/react-icons/assets/icons/Font Awesome.json
  extensions/react-icons/assets/icons/Game Icons.json
  extensions/react-icons/assets/icons/Github Octicons Icons.json
  extensions/react-icons/assets/icons/Grommet-Icons.json
  extensions/react-icons/assets/icons/Heroicons 2.json
  extensions/react-icons/assets/icons/Heroicons.json
  extensions/react-icons/assets/icons/IcoMoon Free.json
  extensions/react-icons/assets/icons/Ionicons 4.json
  extensions/react-icons/assets/icons/Ionicons 5.json
  extensions/react-icons/assets/icons/Material Design Icons.json
  extensions/react-icons/assets/icons/Radix Icons.json
  extensions/react-icons/assets/icons/Remix Icons.json
  extensions/react-icons/assets/icons/Simple Icons.json
  extensions/react-icons/assets/icons/Simple Line Icons.json
  extensions/react-icons/assets/icons/Tabler Icons.json
  extensions/react-icons/assets/icons/Themify Icons.json
  extensions/react-icons/assets/icons/Typicons.json
  extensions/react-icons/assets/icons/VS Code Icons.json
  extensions/react-icons/assets/icons/Weather Icons.json
  extensions/react-icons/assets/icons/css.gg.json
  extensions/react-icons/assets/react-icons.svg
  extensions/react-icons/package-lock.json
  extensions/react-icons/package.json
  extensions/react-icons/src/index.tsx
  extensions/react-icons/src/storage.tsx
  extensions/react-icons/src/types.ts
  extensions/react-icons/src/utils.ts
  extensions/react-icons/tsconfig.json
Labels: new extension

#4059 New Extension: Matter
  extensions/matter/.eslintrc.json
  extensions/matter/.gitignore
  extensions/matter/.prettierrc
  extensions/matter/CHANGELOG.md
  extensions/matter/README.md
  extensions/matter/assets/list-icon.png
  extensions/matter/assets/logo.png
  extensions/matter/package-lock.json
  extensions/matter/package.json
  extensions/matter/src/Actions.tsx
  extensions/matter/src/index.tsx
  extensions/matter/src/matterApi.ts
  extensions/matter/src/types.ts
  extensions/matter/tsconfig.json
Labels: new extension

#4163 [code-stash] Add edit command
  extensions/code-stash/CHANGELOG.md
  extensions/code-stash/README.md
  extensions/code-stash/package-lock.json
  extensions/code-stash/package.json
  extensions/code-stash/src/components/CreateAction.tsx
  extensions/code-stash/src/components/DeleteAction.tsx
  extensions/code-stash/src/components/EditAction.tsx
  extensions/code-stash/src/components/EmptyView.tsx
  extensions/code-stash/src/components/Form.tsx
  extensions/code-stash/src/components/index.tsx
  extensions/code-stash/src/index.tsx
Labels: extension fix / improvement, OP is author, extension: code-stash

#4166 Add Lyrics Extension
  extensions/lyrics/.eslintrc.json
  extensions/lyrics/.gitignore
  extensions/lyrics/.prettierrc
  extensions/lyrics/CHANGELOG.md
  extensions/lyrics/README.md
  extensions/lyrics/assets/extension_icon.png
  extensions/lyrics/package-lock.json
  extensions/lyrics/package.json
  extensions/lyrics/src/index.ts
  extensions/lyrics/tsconfig.json
Labels: new extension

#4139 Elron - enable checking times for more dates
  extensions/elron/CHANGELOG.md
  extensions/elron/src/times.tsx
Labels: extension fix / improvement, OP is author, OP is contributor, extension: elron

#4192 NBA Game Viewer fixes
  extensions/nba-game-viewer/CHANGELOG.md
  extensions/nba-game-viewer/package.json
  extensions/nba-game-viewer/src/hooks/useSchedule.ts
  extensions/nba-game-viewer/src/hooks/useStandings.ts
Labels: extension fix / improvement, extension: nba-viewer

#4087 New extension: drupal.org
  extensions/drupal-org/.eslintrc.json
  extensions/drupal-org/.gitignore
  extensions/drupal-org/.prettierrc
  extensions/drupal-org/CHANGELOG.md
  extensions/drupal-org/README.md
  extensions/drupal-org/assets/drop-icon-noisy.png
  extensions/drupal-org/assets/drop-icon.png
  extensions/drupal-org/assets/drop-icon.svg
  extensions/drupal-org/metadata/drupal-org-1.png
  extensions/drupal-org/metadata/drupal-org-2.png
  extensions/drupal-org/package-lock.json
  extensions/drupal-org/package.json
  extensions/drupal-org/src/search-change-records.tsx
  extensions/drupal-org/src/types.ts
  extensions/drupal-org/src/utils/do-change-record-api.ts
  extensions/drupal-org/tsconfig.json
Labels: new extension

#4102 New extension: Korean Spelling Checker
  extensions/korean-spell-checker/.eslintrc.json
  extensions/korean-spell-checker/.gitignore
  extensions/korean-spell-checker/.prettierrc
  extensions/korean-spell-checker/CHANGELOG.md
  extensions/korean-spell-checker/README.md
  extensions/korean-spell-checker/assets/speller.png
  extensions/korean-spell-checker/assets/twitter.png
  extensions/korean-spell-checker/jest.config.ts
  extensions/korean-spell-checker/metadata/korean-spell-checker-1.png
  extensions/korean-spell-checker/metadata/korean-spell-checker-2.png
  extensions/korean-spell-checker/metadata/korean-spell-checker-3.png
  extensions/korean-spell-checker/metadata/korean-spell-checker-4.png
  extensions/korean-spell-checker/metadata/korean-spell-checker-5.png
  extensions/korean-spell-checker/package-lock.json
  extensions/korean-spell-checker/package.json
  extensions/korean-spell-checker/src/api/checker.ts
  extensions/korean-spell-checker/src/check-spelling.tsx
  extensions/korean-spell-checker/src/types.ts
  extensions/korean-spell-checker/src/view/no-error/NoErrorView.tsx
  extensions/korean-spell-checker/src/view/no-error/index.ts
  extensions/korean-spell-checker/src/view/result/Details.tsx
  extensions/korean-spell-checker/src/view/result/ListItem.tsx
  extensions/korean-spell-checker/src/view/result/ResultView.tsx
  extensions/korean-spell-checker/src/view/result/formatter.test.ts
  extensions/korean-spell-checker/src/view/result/formatter.ts
  extensions/korean-spell-checker/src/view/result/index.ts
  extensions/korean-spell-checker/src/view/result/resultManager.test.ts
  extensions/korean-spell-checker/src/view/result/resultManager.ts
  extensions/korean-spell-checker/src/view/result/samples.ts
  extensions/korean-spell-checker/src/view/result/ui/ResultAction.tsx
  extensions/korean-spell-checker/src/view/server-error/ErrorView.tsx
  extensions/korean-spell-checker/src/view/server-error/index.ts
  extensions/korean-spell-checker/tsconfig.json
Labels: new extension

#4127 reverso-context: improved guessing of the input language
  extensions/reverso-context/CHANGELOG.md
  extensions/reverso-context/src/alphabet.ts
  extensions/reverso-context/src/domain.tsx
  extensions/reverso-context/src/reversoApi.tsx
  extensions/reverso-context/src/utils.tsx
Labels: extension fix / improvement, OP is author, extension: reverso-context

#4168 Add new command to deploy ECS service
  extensions/amazon-aws/CHANGELOG.md
  extensions/amazon-aws/package.json
  extensions/amazon-aws/src/components/ecs/ECSClusterServices.tsx
Labels: extension fix / improvement, extension: aws

#4185 perf: try to get system proxy from env first
  extensions/easydict/CHANGELOG.md
  extensions/easydict/README.md
  extensions/easydict/docs/How-to-use-macOS🍎system-translation-in-Easydict.md
  extensions/easydict/docs/README_ZH.md
  extensions/easydict/docs/如何在Easydict中使用macOS🍎系统翻译.md
  extensions/easydict/src/axiosConfig.ts
  extensions/easydict/src/easydict.tsx
  extensions/easydict/src/language/consts.ts
  extensions/easydict/src/releaseVersion/releaseNotePage.tsx
  extensions/easydict/src/releaseVersion/versionInfo.ts
Labels: extension fix / improvement, OP is author, extension: easydict

#4178 [Matter] Added favorite option, better article preview images
  extensions/matter/CHANGELOG.md
  extensions/matter/src/Actions.tsx
  extensions/matter/src/index.tsx
  extensions/matter/src/matterApi.ts
Labels: extension fix / improvement, OP is author, extension: matter

#4201 [todoist] fix focused task when not listed in menubar
  extensions/todoist/CHANGELOG.md
  extensions/todoist/src/menubar.tsx
Labels: extension fix / improvement, OP is contributor, extension: todoist

#4037 [New Extension] Random Phone Number
  extensions/random-us-phone-number/.eslintrc.json
  extensions/random-us-phone-number/.gitignore
  extensions/random-us-phone-number/.prettierrc
  extensions/random-us-phone-number/CHANGELOG.md
  extensions/random-us-phone-number/README.md
  extensions/random-us-phone-number/assets/command-icon.png
  extensions/random-us-phone-number/package-lock.json
  extensions/random-us-phone-number/package.json
  extensions/random-us-phone-number/src/index.ts
  extensions/random-us-phone-number/tsconfig.json
Labels: new extension

#4169 Add new command - Dice & Coin
  extensions/dice-and-coin/.eslintrc.json
  extensions/dice-and-coin/.gitignore
  extensions/dice-and-coin/.prettierrc
  extensions/dice-and-coin/CHANGELOG.md
  extensions/dice-and-coin/README.md
  extensions/dice-and-coin/assets/dice.png
  extensions/dice-and-coin/assets/toss.png
  extensions/dice-and-coin/metadata/screenshot-01.png
  extensions/dice-and-coin/metadata/screenshot-02.png
  extensions/dice-and-coin/metadata/screenshot-03.png
  extensions/dice-and-coin/package-lock.json
  extensions/dice-and-coin/package.json
  extensions/dice-and-coin/src/throw-dice.tsx
  extensions/dice-and-coin/src/toss-coin.tsx
  extensions/dice-and-coin/tsconfig.json
Labels: new extension

#4209 [Sonarr] HTTPS & URL Base Support
  extensions/sonarr/CHANGELOG.md
  extensions/sonarr/package.json
  extensions/sonarr/src/index.tsx
Labels: extension fix / improvement, status: awaiting response from dev, extension: sonarr

#4235 fix: Capitalization on extension name
  extensions/cleanshotx/CHANGELOG.md
  extensions/cleanshotx/package.json
Labels: extension fix / improvement, extension: cleanshotx

#4170 CSS.GG Grid View
  extensions/css-gg/CHANGELOG.md
  extensions/css-gg/package-lock.json
  extensions/css-gg/package.json
  extensions/css-gg/src/css-gg.tsx
  extensions/css-gg/src/list-or-grid.ts
Labels: extension fix / improvement, extension: css-gg

#4132 Writer's brew - new extension
  extensions/writersbrew/.eslintrc.json
  extensions/writersbrew/.gitignore
  extensions/writersbrew/.prettierrc
  extensions/writersbrew/CHANGELOG.md
  extensions/writersbrew/README.md
  extensions/writersbrew/assets/writers-app-icon.png
  extensions/writersbrew/metadata/writers-brew-1.png
  extensions/writersbrew/package-lock.json
  extensions/writersbrew/package.json
  extensions/writersbrew/src/checkInstall.ts
  extensions/writersbrew/src/continue-writing.ts
  extensions/writersbrew/src/explain-like-im-5.ts
  extensions/writersbrew/src/improve-fluency.ts
  extensions/writersbrew/src/index.ts
  extensions/writersbrew/src/summarize-takeaways.ts
  extensions/writersbrew/src/summarize.ts
  extensions/writersbrew/src/translate-to-english.ts
  extensions/writersbrew/src/translate-to-french.ts
  extensions/writersbrew/src/translate-to-german.ts
  extensions/writersbrew/src/translate-to-spanish.ts
  extensions/writersbrew/tsconfig.json
Labels: new extension, status: awaiting response from dev

#4221 Add One Tab Group Extension
  extensions/one-tab-group/.eslintrc.json
  extensions/one-tab-group/.gitignore
  extensions/one-tab-group/.prettierrc
  extensions/one-tab-group/CHANGELOG.md
  extensions/one-tab-group/README.md
  extensions/one-tab-group/assets/icon-512.png
  extensions/one-tab-group/assets/no-view.png
  extensions/one-tab-group/metadata/otg-cast-1.png
  extensions/one-tab-group/metadata/otg-cast-2.png
  extensions/one-tab-group/metadata/otg-cast-3.png
  extensions/one-tab-group/package-lock.json
  extensions/one-tab-group/package.json
  extensions/one-tab-group/src/api/getSessionList.ts
  extensions/one-tab-group/src/api/validateLicense.ts
  extensions/one-tab-group/src/index.tsx
  extensions/one-tab-group/src/types/index.ts
  extensions/one-tab-group/src/utils/constants.ts
  extensions/one-tab-group/src/utils/index.ts
  extensions/one-tab-group/tsconfig.json
Labels: new extension

#4240 Arc: Improvements to search tabs and spaces
  extensions/arc/CHANGELOG.md
  extensions/arc/metadata/arc-2.png
  extensions/arc/package-lock.json
  extensions/arc/package.json
  extensions/arc/src/actions.tsx
  extensions/arc/src/arc.ts
  extensions/arc/src/new-incognito-window.ts
  extensions/arc/src/new-window.ts
  extensions/arc/src/new-window.tsx
  extensions/arc/src/permissions.tsx
  extensions/arc/src/search-history.tsx
  extensions/arc/src/search-spaces.tsx
  extensions/arc/src/search-tabs.tsx
  extensions/arc/src/sql.ts
  extensions/arc/src/types.ts
  extensions/arc/src/utils.ts
  extensions/arc/src/version.tsx
Labels: extension fix / improvement, OP is author, extension: arc

#4261 [Arc] Fix version check issues in Arc Extension
  extensions/arc/assets/check-for-updates.png
  extensions/arc/package.json
  extensions/arc/src/version.tsx
Labels: extension fix / improvement, OP is author, extension: arc

#4227 Update the swift evolution extension
  extensions/swift-evolution/CHANGELOG.md
  extensions/swift-evolution/metadata/swift-evolution-1.png
  extensions/swift-evolution/metadata/swift-evolution-2.png
  extensions/swift-evolution/metadata/swift-evolution-3.png
  extensions/swift-evolution/metadata/swift-evolution-4.png
  extensions/swift-evolution/metadata/swift-evolution-5.png
  extensions/swift-evolution/package-lock.json
  extensions/swift-evolution/package.json
  extensions/swift-evolution/src/ProposalGithubPage.tsx
  extensions/swift-evolution/src/ProposalsList.tsx
  extensions/swift-evolution/src/api.ts
  extensions/swift-evolution/src/domain.ts
  extensions/swift-evolution/src/index.tsx
Labels: extension fix / improvement, status: awaiting response from dev, OP is author, extension: swift-evolution

#4154 [jira-search] Added a filter in Search Issues to show my issues
  extensions/jira-search/CHANGELOG.md
  extensions/jira-search/package-lock.json
  extensions/jira-search/package.json
  extensions/jira-search/src/command.tsx
  extensions/jira-search/src/image.ts
  extensions/jira-search/src/issue.ts
Labels: extension fix / improvement, extension: jira-search

#4167 [Quit Applications] remain open after application quit
  extensions/quit-applications/CHANGELOG.md
  extensions/quit-applications/package.json
  extensions/quit-applications/src/index.tsx
Labels: extension fix / improvement, extension: quit-applications

#4128 feat: add quick-capture command
  extensions/clickup/.eslintrc.json
  extensions/clickup/CHANGELOG.md
  extensions/clickup/README.md
  extensions/clickup/package-lock.json
  extensions/clickup/package.json
  extensions/clickup/src/capture.tsx
  extensions/clickup/src/explore.tsx
  extensions/clickup/src/utils/preferences.ts
Labels: extension fix / improvement, extension: manage-clickup-tasks

#4189 New extension: Simplelogin.io
  extensions/simplelogin/.eslintrc.json
  extensions/simplelogin/.gitignore
  extensions/simplelogin/.prettierrc
  extensions/simplelogin/CHANGELOG.md
  extensions/simplelogin/README.md
  extensions/simplelogin/assets/simplelogin_icon.png
  extensions/simplelogin/assets/simplelogin_logo.png
  extensions/simplelogin/metadata/simplelogin-1.png
  extensions/simplelogin/metadata/simplelogin-2.png
  extensions/simplelogin/package-lock.json
  extensions/simplelogin/package.json
  extensions/simplelogin/src/api/simplelogin_api.tsx
  extensions/simplelogin/src/create_alias.tsx
  extensions/simplelogin/src/create_random_alias.tsx
  extensions/simplelogin/src/list_alias.tsx
  extensions/simplelogin/src/models/alias.ts
  extensions/simplelogin/src/models/alias_options.ts
  extensions/simplelogin/src/models/mailboxes.ts
  extensions/simplelogin/src/utils/aliasOptionUtil.ts
  extensions/simplelogin/src/utils/preferences.tsx
  extensions/simplelogin/tsconfig.json
Labels: new extension

#3413 bitwarden: Master Password Reprompt + Cleanup + Refactoring
  extensions/bitwarden/CHANGELOG.md
  extensions/bitwarden/package.json
  extensions/bitwarden/src/actions.tsx
  extensions/bitwarden/src/api.ts
  extensions/bitwarden/src/clipboard.ts
  extensions/bitwarden/src/components.tsx
  extensions/bitwarden/src/const.ts
  extensions/bitwarden/src/search.tsx
  extensions/bitwarden/src/session.tsx
  extensions/bitwarden/src/types/index.ts
  extensions/bitwarden/src/utils.ts
Labels: extension fix / improvement, status: awaiting response from dev, OP is contributor, extension: bitwarden

#4211 Add New Extension WeChat
  extensions/wechat/.eslintrc.json
  extensions/wechat/.gitignore
  extensions/wechat/.prettierrc.json
  extensions/wechat/CHANGELOG.md
  extensions/wechat/README.md
  extensions/wechat/assets/cover.png
  extensions/wechat/assets/wechat.png
  extensions/wechat/metadata/showcase.png
  extensions/wechat/package-lock.json
  extensions/wechat/package.json
  extensions/wechat/src/index.tsx
  extensions/wechat/src/util/isWeChatInstalled.tsx
  extensions/wechat/src/util/isWeChatInstalledAlert.tsx
  extensions/wechat/src/util/isWeChatRunning.tsx
  extensions/wechat/src/util/isWeChatTweakInstalled.tsx
  extensions/wechat/src/util/isWeChatTweakInstalledAlert.tsx
  extensions/wechat/tsconfig.json
Labels: new extension

#4253 Spotify Player: Allow no-view commands (`Like Current Song`, `Dislike Current Song`, `Just Play` and `Star Radio`) to initialize authorization.
  extensions/spotify-player/CHANGELOG.md
  extensions/spotify-player/src/components/ArtistListItem.tsx
  extensions/spotify-player/src/dislikeCurrentSong.ts
  extensions/spotify-player/src/justPlay.ts
  extensions/spotify-player/src/likeCurrentSong.ts
  extensions/spotify-player/src/nowPlaying.tsx
  extensions/spotify-player/src/playSimilar.ts
  extensions/spotify-player/src/utils/index.ts
Labels: extension fix / improvement, OP is contributor, extension: spotify-player

#4182 Git branch name generator extension
  extensions/git-branch-name-generator/.eslintrc.json
  extensions/git-branch-name-generator/.gitignore
  extensions/git-branch-name-generator/.prettierrc
  extensions/git-branch-name-generator/CHANGELOG.md
  extensions/git-branch-name-generator/README.md
  extensions/git-branch-name-generator/assets/command-icon.png
  extensions/git-branch-name-generator/cspell.json
  extensions/git-branch-name-generator/metadata/git-branch-name-generator-1.png
  extensions/git-branch-name-generator/metadata/git-branch-name-generator-2.png
  extensions/git-branch-name-generator/metadata/git-branch-name-generator-3.png
  extensions/git-branch-name-generator/package-lock.json
  extensions/git-branch-name-generator/package.json
  extensions/git-branch-name-generator/src/index.tsx
  extensions/git-branch-name-generator/tsconfig.json
Labels: new extension

#4280 Arc new tab
  extensions/arc/package-lock.json
  extensions/arc/package.json
  extensions/arc/src/arc.ts
  extensions/arc/src/new-tab.ts
  extensions/arc/src/preferences.ts
  extensions/arc/src/types.ts
Labels: extension fix / improvement, OP is author, extension: arc

#4291 dropbox: fix auth
  extensions/dropbox/CHANGELOG.md
  extensions/dropbox/README.md
  extensions/dropbox/package-lock.json
  extensions/dropbox/package.json
  extensions/dropbox/src/api/auth.ts
  extensions/dropbox/src/api/dropbox.ts
Labels: extension fix / improvement, OP is author, extension: dropbox

#4293 Updated readme to point to the specific youtube api
  extensions/youtube/CHANGELOG.md
  extensions/youtube/README.md
Labels: extension fix / improvement, extension: youtube

#4292 add new commands
  extensions/writersbrew/CHANGELOG.md
  extensions/writersbrew/package-lock.json
  extensions/writersbrew/package.json
  extensions/writersbrew/src/brew-writer.ts
  extensions/writersbrew/src/translate-to-dutch.ts
Labels: extension fix / improvement, OP is author, extension: writersbrew

#4288 fix: get bing web translate token failed
  extensions/easydict/CHANGELOG.md
  extensions/easydict/src/releaseVersion/versionInfo.ts
  extensions/easydict/src/translation/microsoft/bing.ts
Labels: extension fix / improvement, OP is author, extension: easydict

#4244 Fix Laravel Livewire Squishy Icon
  extensions/laravel-livewire/CHANGELOG.md
  extensions/laravel-livewire/assets/livewire-icon-transparent.png
Labels: extension fix / improvement, extension: laravel-livewire

#4264 [Music]: Add Volume control and new Playlist command
  extensions/music/package-lock.json
  extensions/music/package.json
  extensions/music/src/add-to-playlist.tsx
  extensions/music/src/set-volume.tsx
  extensions/music/src/util/models.ts
  extensions/music/src/util/scripts/current-track.ts
  extensions/music/src/util/scripts/player-controls.ts
  extensions/music/src/util/utils.ts
  extensions/music/src/volume-down.tsx
  extensions/music/src/volume-up.tsx
Labels: extension fix / improvement, OP is author, extension: music

#4117 Add Mem.ai Extension
  extensions/mem/.eslintrc.json
  extensions/mem/.gitignore
  extensions/mem/.prettierrc
  extensions/mem/CHANGELOG.md
  extensions/mem/README.md
  extensions/mem/assets/mem.png
  extensions/mem/metadata/mem-1.png
  extensions/mem/package-lock.json
  extensions/mem/package.json
  extensions/mem/src/index.tsx
  extensions/mem/tsconfig.json
Labels: new extension

#4135 [New Feature] Punto: Layout switcher
  extensions/punto/.eslintrc.json
  extensions/punto/CHANGELOG.md
  extensions/punto/README.md
  extensions/punto/assets/keyboardSwitcher
  extensions/punto/assets/punto-icon.png
  extensions/punto/package-lock.json
  extensions/punto/package.json
  extensions/punto/src/Dict.ts
  extensions/punto/src/index.ts
  extensions/punto/tsconfig.json
Labels: new extension

#4238 feat: Mailsy
  extensions/mailsy/CHANGELOG.md
  extensions/mailsy/package.json
  extensions/mailsy/src/utils/index.ts
Labels: extension fix / improvement, OP is author, extension: mailsy

#4055 New Extension: Kinopio
  extensions/kinopio-inbox/.eslintrc.json
  extensions/kinopio-inbox/.gitignore
  extensions/kinopio-inbox/.prettierrc
  extensions/kinopio-inbox/CHANGELOG.md
  extensions/kinopio-inbox/README.md
  extensions/kinopio-inbox/assets/kinopio-icon.png
  extensions/kinopio-inbox/metadata/kinopio-inbox-1.png
  extensions/kinopio-inbox/package-lock.json
  extensions/kinopio-inbox/package.json
  extensions/kinopio-inbox/src/add-card.tsx
  extensions/kinopio-inbox/src/open-inbox.tsx
  extensions/kinopio-inbox/tsconfig.json
Labels: new extension

#4101 [new extension] hyper focus
  extensions/hyper-focus/.eslintrc.json
  extensions/hyper-focus/.gitignore
  extensions/hyper-focus/.prettierrc
  extensions/hyper-focus/.tool-versions
  extensions/hyper-focus/.vscode/extensions.json
  extensions/hyper-focus/.vscode/settings.json
  extensions/hyper-focus/CHANGELOG.md
  extensions/hyper-focus/LICENSE
  extensions/hyper-focus/README.md
  extensions/hyper-focus/TODO
  extensions/hyper-focus/assets/command-icon.png
  extensions/hyper-focus/assets/no-view.png
  extensions/hyper-focus/package-lock.json
  extensions/hyper-focus/package.json
  extensions/hyper-focus/src/index.tsx
  extensions/hyper-focus/tsconfig.json
Labels: new extension

#4285 Searchcaster extension improvements
  extensions/searchcaster/CHANGELOG.md
  extensions/searchcaster/assets/avatar.png
  extensions/searchcaster/assets/no-view.png
  extensions/searchcaster/package-lock.json
  extensions/searchcaster/package.json
  extensions/searchcaster/src/casts.tsx
  extensions/searchcaster/src/profiles.tsx
  extensions/searchcaster/src/types.ts
  extensions/searchcaster/src/utils.ts
Labels: extension fix / improvement, OP is author, extension: searchcaster

#3930 [extension][memo] add new extension: memo
  extensions/memo/.eslintrc.json
  extensions/memo/.gitignore
  extensions/memo/.prettierignore
  extensions/memo/.prettierrc
  extensions/memo/CHANGELOG.md
  extensions/memo/README.md
  extensions/memo/assets/bmcbrand/bmc-logo.svg
  extensions/memo/assets/memo_icon.png
  extensions/memo/assets/notion_icon.png
  extensions/memo/copy_to_original_fork.sh
  extensions/memo/jest.config.js
  extensions/memo/metadata/memo-0.png
  extensions/memo/metadata/memo-1.png
  extensions/memo/metadata/memo-2.png
  extensions/memo/package-lock.json
  extensions/memo/package.json
  extensions/memo/src/adapters/raycast/adapter.ts
  extensions/memo/src/adapters/raycast/dm.ts
  extensions/memo/src/adapters/raycast/impl.ts
  extensions/memo/src/adapters/raycast/mock.ts
  extensions/memo/src/adapters/web/adapter.ts
  extensions/memo/src/adapters/web/dm.ts
  extensions/memo/src/adapters/web/impl.ts
  extensions/memo/src/adapters/web/mock.ts
  extensions/memo/src/components/Empty.tsx
  extensions/memo/src/components/NewApp.tsx
  extensions/memo/src/components/PageSearch.tsx
  extensions/memo/src/components/SaveToLast.tsx
  extensions/memo/src/components/SaveToPage.tsx
  extensions/memo/src/config.ts
  extensions/memo/src/core/adapters.test.ts
  extensions/memo/src/core/adapters.ts
  extensions/memo/src/core/dm.test.ts
  extensions/memo/src/core/dm.ts
  extensions/memo/src/core/integration.test.ts
  extensions/memo/src/core/saver.ts
  extensions/memo/src/domain/services/auth.test.ts
  extensions/memo/src/domain/services/auth.ts
  extensions/memo/src/index.tsx
  extensions/memo/src/notion/api.ts
  extensions/memo/src/notion/dm.ts
  extensions/memo/src/raycast/api.ts
  extensions/memo/src/save_to_last.tsx
  extensions/memo/src/web/api.ts
  extensions/memo/tsconfig.json
Labels: new extension

#3431 Add Chatwork Search Extension!!
  extensions/search-chatwork/.eslintrc.json
  extensions/search-chatwork/.gitignore
  extensions/search-chatwork/.prettierrc
  extensions/search-chatwork/CHANGELOG.md
  extensions/search-chatwork/README.md
  extensions/search-chatwork/assets/cw-icon.png
  extensions/search-chatwork/assets/cw-icon@dark.png
  extensions/search-chatwork/metadata/chatwork-search-1.png
  extensions/search-chatwork/metadata/chatwork-search-2.png
  extensions/search-chatwork/metadata/chatwork-search-3.png
  extensions/search-chatwork/package-lock.json
  extensions/search-chatwork/package.json
  extensions/search-chatwork/src/components/DetailOfChat.tsx
  extensions/search-chatwork/src/model/CMRoomOwner.ts
  extensions/search-chatwork/src/model/CWAccount.ts
  extensions/search-chatwork/src/model/CWChatParserV1.ts
  extensions/search-chatwork/src/model/CWMessage.ts
  extensions/search-chatwork/src/model/CWMessageMgr.ts
  extensions/search-chatwork/src/model/CWRoom.ts
  extensions/search-chatwork/src/model/CWTextNode.ts
  extensions/search-chatwork/src/model/CWTextNodeFactory.ts
  extensions/search-chatwork/src/model/CWTextNodeSelfClosed.ts
  extensions/search-chatwork/src/model/CWTextNodeSurrounded.ts
  extensions/search-chatwork/src/model/ICWChatParser.ts
  extensions/search-chatwork/src/model/enumParser.ts
  extensions/search-chatwork/src/search-chatwork.tsx
  extensions/search-chatwork/src/utils/chatwork-api.tsx
  extensions/search-chatwork/src/utils/constants.tsx
  extensions/search-chatwork/src/utils/oauth.tsx
  extensions/search-chatwork/tsconfig.json
Labels: new extension, status: awaiting response from dev

#4310 Add PATCH method and change methods icons as per issue request #4218
  extensions/curl/.vscode/snipsnap.code-snippets
  extensions/curl/CHANGELOG.md
  extensions/curl/README.md
  extensions/curl/assets/DELETE.svg
  extensions/curl/assets/GET.svg
  extensions/curl/assets/POST.svg
  extensions/curl/assets/PUT.svg
  extensions/curl/package-lock.json
  extensions/curl/package.json
  extensions/curl/src/requests.tsx
  extensions/curl/src/views/Result.tsx
  extensions/curl/utils/index.ts
Labels: extension fix / improvement, OP is author, extension: curl

#4307 [Toothpick] Mapped Sony WF-1000XM4
  extensions/toothpick/CHANGELOG.md
  extensions/toothpick/README.md
  extensions/toothpick/assets/icons/devices/sony/.gitkeep
  extensions/toothpick/assets/icons/devices/sony/connected/wf.1000xm4.svg
  extensions/toothpick/assets/icons/devices/sony/wf.1000xm4.svg
  extensions/toothpick/pnpm-lock.yaml
  extensions/toothpick/src/mappers/sony/products/index.ts
Labels: extension fix / improvement, OP is contributor, extension: toothpick

#4277 New Extension: MouseHunt Helper
  extensions/mousehunt-helper/.eslintrc.json
  extensions/mousehunt-helper/.gitignore
  extensions/mousehunt-helper/.prettierrc
  extensions/mousehunt-helper/CHANGELOG.md
  extensions/mousehunt-helper/README.md
  extensions/mousehunt-helper/assets/mousehunt-icon.png
  extensions/mousehunt-helper/metadata/mousehunt-helper-1.png
  extensions/mousehunt-helper/metadata/mousehunt-helper-2.png
  extensions/mousehunt-helper/metadata/mousehunt-helper-3.png
  extensions/mousehunt-helper/package-lock.json
  extensions/mousehunt-helper/package.json
  extensions/mousehunt-helper/src/AttractionRateList.tsx
  extensions/mousehunt-helper/src/index.tsx
  extensions/mousehunt-helper/src/types.d.ts
  extensions/mousehunt-helper/tsconfig.json
Labels: new extension

#4296 New extension: Moon Phase
  extensions/moon-phrase/.eslintrc.json
  extensions/moon-phrase/.gitignore
  extensions/moon-phrase/.prettierrc
  extensions/moon-phrase/CHANGELOG.md
  extensions/moon-phrase/README.md
  extensions/moon-phrase/assets/extension_icon.png
  extensions/moon-phrase/metadata/moon-phrase-1.png
  extensions/moon-phrase/package-lock.json
  extensions/moon-phrase/package.json
  extensions/moon-phrase/src/StatsListItem.tsx
  extensions/moon-phrase/src/StatsMenuItem.tsx
  extensions/moon-phrase/src/helpers/MoonIllumination.tsx
  extensions/moon-phrase/src/helpers/MoonPhase.tsx
  extensions/moon-phrase/src/info.tsx
  extensions/moon-phrase/src/menu-bar.tsx
  extensions/moon-phrase/tsconfig.json
Labels: new extension

#4324 [Coffee] bug fix
  extensions/coffee/CHANGELOG.md
  extensions/coffee/package-lock.json
  extensions/coffee/package.json
  extensions/coffee/src/utils.ts
Labels: extension fix / improvement, OP is contributor, extension: coffee

#4183 New Extension: Add NATO Phonetic Alphabet
  extensions/nato-phonetic-alphabet/.eslintrc.json
  extensions/nato-phonetic-alphabet/.gitignore
  extensions/nato-phonetic-alphabet/.prettierrc
  extensions/nato-phonetic-alphabet/CHANGELOG.md
  extensions/nato-phonetic-alphabet/README.md
  extensions/nato-phonetic-alphabet/assets/command-icon.png
  extensions/nato-phonetic-alphabet/package-lock.json
  extensions/nato-phonetic-alphabet/package.json
  extensions/nato-phonetic-alphabet/src/dictionary.ts
  extensions/nato-phonetic-alphabet/src/full-alphabet.tsx
  extensions/nato-phonetic-alphabet/src/spell.tsx
  extensions/nato-phonetic-alphabet/tsconfig.json
Labels: new extension

#4309 Linear: Add "Quick Add Comment to Issue" command
  extensions/linear/CHANGELOG.md
  extensions/linear/package.json
  extensions/linear/src/active-cycle.tsx
  extensions/linear/src/assigned-issues.tsx
  extensions/linear/src/components/CreateIssueForm.tsx
  extensions/linear/src/components/ProjectIssues.tsx
  extensions/linear/src/create-issue-for-myself.ts
  extensions/linear/src/created-issues.tsx
  extensions/linear/src/quick-add-comment-to-issue.ts
Labels: extension fix / improvement, OP is author, extension: linear

#4327 Linear: Add due date action
  extensions/linear/CHANGELOG.md
  extensions/linear/package-lock.json
  extensions/linear/package.json
  extensions/linear/src/api/getIssues.ts
  extensions/linear/src/components/IssueActions/IssueActions.tsx
  extensions/linear/src/components/IssueListItem.tsx
Labels: extension fix / improvement, OP is author, extension: linear

#4325 Fix parcel tracker bug and api server
  extensions/parcel-tracker/src/api/api.ts
  extensions/parcel-tracker/src/components/track/Track.tsx
  extensions/parcel-tracker/src/metadata/logistics.ts
  extensions/parcel-tracker/src/model/trackData.ts
  extensions/parcel-tracker/src/utils/utils.ts
Labels: extension fix / improvement, OP is author, extension: parcel-tracker

#4294 Arc: Add universal search command and menu bar command
  extensions/arc/CHANGELOG.md
  extensions/arc/assets/outline-dark.svg
  extensions/arc/assets/outline-light.svg
  extensions/arc/metadata/arc-3.png
  extensions/arc/package-lock.json
  extensions/arc/package.json
  extensions/arc/src/actions.tsx
  extensions/arc/src/list.tsx
  extensions/arc/src/menu-bar.tsx
  extensions/arc/src/permissions.tsx
  extensions/arc/src/search-history.tsx
  extensions/arc/src/search-spaces.tsx
  extensions/arc/src/search-tabs.tsx
  extensions/arc/src/search.tsx
  extensions/arc/src/sql.ts
  extensions/arc/src/suggestions.ts
  extensions/arc/src/types.ts
  extensions/arc/src/utils.ts
Labels: extension fix / improvement, OP is author, extension: arc

#4017 New Extention: SSH-Tunnel-Manager
  extensions/ssh-tunnel-manager/.eslintrc.json
  extensions/ssh-tunnel-manager/.gitignore
  extensions/ssh-tunnel-manager/.prettierrc
  extensions/ssh-tunnel-manager/CHANGELOG.md
  extensions/ssh-tunnel-manager/LICENSE
  extensions/ssh-tunnel-manager/README.md
  extensions/ssh-tunnel-manager/assets/extension_icon.png
  extensions/ssh-tunnel-manager/metadata/ssh-tunnel-manager-1.png
  extensions/ssh-tunnel-manager/metadata/ssh-tunnel-manager-2.png
  extensions/ssh-tunnel-manager/metadata/ssh-tunnel-manager-3.png
  extensions/ssh-tunnel-manager/package-lock.json
  extensions/ssh-tunnel-manager/package.json
  extensions/ssh-tunnel-manager/pnpm-lock.yaml
  extensions/ssh-tunnel-manager/src/hooks/form.ts
  extensions/ssh-tunnel-manager/src/hooks/pidList.ts
  extensions/ssh-tunnel-manager/src/hooks/store.ts
  extensions/ssh-tunnel-manager/src/hooks/tunnelCmd.ts
  extensions/ssh-tunnel-manager/src/index.tsx
  extensions/ssh-tunnel-manager/src/screens/FormScreen.tsx
  extensions/ssh-tunnel-manager/src/screens/ListScreen.tsx
  extensions/ssh-tunnel-manager/src/types/index.ts
  extensions/ssh-tunnel-manager/tsconfig.json
Labels: new extension

#4266 New extension: Slugify
  extensions/slugify/.eslintrc.json
  extensions/slugify/.gitignore
  extensions/slugify/.prettierrc
  extensions/slugify/CHANGELOG.md
  extensions/slugify/LICENSE
  extensions/slugify/README.md
  extensions/slugify/assets/slugify.png
  extensions/slugify/metadata/slugify-1.png
  extensions/slugify/package-lock.json
  extensions/slugify/package.json
  extensions/slugify/src/index.tsx
  extensions/slugify/src/slugify.tsx
  extensions/slugify/tsconfig.json
Labels: new extension

#4326 Add Greek and Turkish languages to wikipedia search
  extensions/wikipedia/CHANGELOG.md
  extensions/wikipedia/package.json
  extensions/wikipedia/src/search-page.tsx
Labels: extension fix / improvement, extension: wikipedia

#4332 GitHub: Clear fields when creating issues or pull requests
  extensions/github/CHANGELOG.md
  extensions/github/src/components/IssueActions.tsx
  extensions/github/src/components/IssueListItem.tsx
  extensions/github/src/create-issue.tsx
  extensions/github/src/create-pull-request.tsx
  extensions/github/src/generated/graphql.ts
Labels: extension fix / improvement, OP is author, extension: github

#4328 [Man Pages] Fix TypeError & PDF Viewing bugs
  extensions/man-pages/CHANGELOG.md
  extensions/man-pages/package-lock.json
  extensions/man-pages/package.json
  extensions/man-pages/src/components/PageDetail.tsx
  extensions/man-pages/src/search-man-pages.tsx
Labels: extension fix / improvement, OP is author, extension: man-pages

#4236 Add Laravel Valet Extension
  extensions/laravel-valet/.eslintrc.json
  extensions/laravel-valet/.gitignore
  extensions/laravel-valet/.prettierrc
  extensions/laravel-valet/CHANGELOG.md
  extensions/laravel-valet/README.md
  extensions/laravel-valet/assets/laravel-valet.png
  extensions/laravel-valet/assets/no-view.png
  extensions/laravel-valet/media/laravel-valet-cover.png
  extensions/laravel-valet/media/showcase-1.png
  extensions/laravel-valet/media/showcase-2.png
  extensions/laravel-valet/metadata/laravel-valet-1.png
  extensions/laravel-valet/metadata/laravel-valet-2.png
  extensions/laravel-valet/metadata/laravel-valet-3.png
  extensions/laravel-valet/package-lock.json
  extensions/laravel-valet/package.json
  extensions/laravel-valet/src/components/Site.tsx
  extensions/laravel-valet/src/index.tsx
  extensions/laravel-valet/src/utils.tsx
  extensions/laravel-valet/tsconfig.json
Labels: new extension

#4345 Updated volume behaviour
  extensions/music/CHANGELOG.md
  extensions/music/package.json
  extensions/music/src/set-volume.tsx
  extensions/music/src/util/models.ts
  extensions/music/src/util/parser.ts
  extensions/music/src/util/preferences.ts
  extensions/music/src/util/scripts/player-controls.ts
  extensions/music/src/volume-down.tsx
  extensions/music/src/volume-up.tsx
Labels: extension fix / improvement, OP is author, extension: music

#4354 [Asana] Add action to copy task ID
  extensions/asana/src/components/TaskActions.tsx
Labels: extension fix / improvement, extension: asana

#4375 Downloads Manager: Add preference for folder and add Quick Look
  extensions/downloads-manager/CHANGELOG.md
  extensions/downloads-manager/package-lock.json
  extensions/downloads-manager/package.json
  extensions/downloads-manager/src/copy-latest-download.tsx
  extensions/downloads-manager/src/manage-downloads.tsx
  extensions/downloads-manager/src/open-latest-download.tsx
  extensions/downloads-manager/src/show-latest-download.tsx
  extensions/downloads-manager/src/utils.ts
Labels: extension fix / improvement, OP is author, extension: downloads-manager

#4405 add codex ai model
  extensions/openai-gpt3/CHANGELOG.md
  extensions/openai-gpt3/README.md
  extensions/openai-gpt3/package.json
  extensions/openai-gpt3/src/ai.tsx
Labels: extension fix / improvement, OP is author, extension: openai-gpt3

#4402 add italian language
  extensions/wikipedia/CHANGELOG.md
  extensions/wikipedia/src/search-page.tsx
Labels: extension fix / improvement, OP is contributor, extension: wikipedia

#4395 [Docsearch] - fix searchbar text disappearing
  extensions/docsearch/CHANGELOG.md
  extensions/docsearch/package.json
  extensions/docsearch/src/components/SearchDocumentation.tsx
  extensions/docsearch/src/docsearch.tsx
Labels: extension fix / improvement, extension: docsearch

#4387 [Music] Arguments for setting volume & better actions icons
  extensions/music/package.json
  extensions/music/src/add-to-playlist.tsx
  extensions/music/src/play-library-album.tsx
  extensions/music/src/play-library-track.tsx
  extensions/music/src/set-rating.tsx
  extensions/music/src/set-volume.tsx
  extensions/music/src/start-playlist.tsx
Labels: extension fix / improvement, OP is contributor, extension: music

#4369 feat(iridium): added profiles support
  extensions/iridium/CHANGELOG.md
  extensions/iridium/README.md
  extensions/iridium/metadata/iridium-1.png
  extensions/iridium/metadata/iridium-3.png
  extensions/iridium/metadata/iridium-4.png
  extensions/iridium/package.json
  extensions/iridium/src/actions/index.ts
  extensions/iridium/src/components/IridiumActions.tsx
  extensions/iridium/src/components/IridiumListsItems.tsx
  extensions/iridium/src/components/IridiumProfileDropdown.tsx
  extensions/iridium/src/constants.ts
  extensions/iridium/src/hooks/useBookmarkSearch.tsx
  extensions/iridium/src/hooks/useHistorySearch.tsx
  extensions/iridium/src/hooks/useTabSearch.tsx
  extensions/iridium/src/interfaces/index.ts
  extensions/iridium/src/new-tab.tsx
  extensions/iridium/src/search-bookmarks.tsx
  extensions/iridium/src/search-history.tsx
  extensions/iridium/src/search-tab.tsx
  extensions/iridium/src/util/index.ts
Labels: extension fix / improvement, OP is author, extension: iridium

#4353 kinopio-inbox: update api key instructions
  extensions/kinopio-inbox/CHANGELOG.md
  extensions/kinopio-inbox/package.json
Labels: extension fix / improvement, OP is author, extension: kinopio-inbox

#4347 Added two new commands
  extensions/writersbrew/CHANGELOG.md
  extensions/writersbrew/package.json
  extensions/writersbrew/src/capture-text.ts
  extensions/writersbrew/src/explain-code.ts
Labels: extension fix / improvement, OP is author, extension: writersbrew

#4360 Tailwind CSS extension improvements
  extensions/tailwindcss/changelog.md
  extensions/tailwindcss/src/search-classes.tsx
Labels: extension fix / improvement, OP is author, extension: tailwindcss

#4357 [Xcode] Improve Recent Builds performance
  extensions/xcode/CHANGELOG.md
  extensions/xcode/package-lock.json
  extensions/xcode/package.json
  extensions/xcode/src/services/xcode-simulator-application.service.ts
Labels: extension fix / improvement, OP is author, extension: xcode

#4346 [Music]: Fixed issues
  extensions/music/CHANGELOG.md
  extensions/music/package.json
  extensions/music/src/util/apple-script.ts
Labels: extension fix / improvement, OP is author, extension: music

#4335 [code-stash] Import action
  extensions/code-stash/CHANGELOG.md
  extensions/code-stash/README.md
  extensions/code-stash/src/actions/index.tsx
  extensions/code-stash/src/actions/useImport.ts
  extensions/code-stash/src/components/EmptyView.tsx
  extensions/code-stash/src/components/ImportAction.tsx
  extensions/code-stash/src/components/ImportForm.tsx
  extensions/code-stash/src/components/index.tsx
  extensions/code-stash/src/index.tsx
Labels: extension fix / improvement, OP is author, extension: code-stash

#4365 feat(chrome): added profiles support
  extensions/google-chrome/CHANGELOG.md
  extensions/google-chrome/README.md
  extensions/google-chrome/metadata/google-chrome-1.png
  extensions/google-chrome/metadata/google-chrome-3.png
  extensions/google-chrome/metadata/google-chrome-4.png
  extensions/google-chrome/package.json
  extensions/google-chrome/src/actions/index.tsx
  extensions/google-chrome/src/components/ChromeActions.tsx
  extensions/google-chrome/src/components/ChromeListItems.tsx
  extensions/google-chrome/src/components/ChromeProfileDropdown.tsx
  extensions/google-chrome/src/constants.ts
  extensions/google-chrome/src/hooks/useBookmarkSearch.tsx
  extensions/google-chrome/src/hooks/useHistorySearch.tsx
  extensions/google-chrome/src/hooks/useTabSearch.tsx
  extensions/google-chrome/src/interfaces/index.ts
  extensions/google-chrome/src/new-tab.tsx
  extensions/google-chrome/src/search-bookmarks.tsx
  extensions/google-chrome/src/search-history.tsx
  extensions/google-chrome/src/search-tab.tsx
  extensions/google-chrome/src/util/index.ts
Labels: extension fix / improvement, OP is contributor, extension: google-chrome

#4362 [Wikipedia] Add Image in the Details Page
  extensions/wikipedia/CHANGELOG.md
  extensions/wikipedia/package.json
  extensions/wikipedia/src/show-details-page.tsx
Labels: extension fix / improvement, extension: wikipedia

#4408 Linear: Add attachments on Create Issue
  extensions/linear/CHANGELOG.md
  extensions/linear/package-lock.json
  extensions/linear/package.json
  extensions/linear/src/api/attachments.ts
  extensions/linear/src/components/CreateIssueForm.tsx
Labels: extension fix / improvement, OP is author, OP is contributor, extension: linear

#4409 Quit Application Extension: Support restart App
  extensions/quit-applications/CHANGELOG.md
  extensions/quit-applications/README.md
  extensions/quit-applications/metadata/quit-applications-1.png
  extensions/quit-applications/metadata/quit-applications-2.png
  extensions/quit-applications/metadata/quit-applications-3.png
  extensions/quit-applications/src/index.tsx
Labels: extension fix / improvement, OP is author, extension: quit-applications

#4305 New extension: Mochi
  extensions/mochi/.eslintrc.json
  extensions/mochi/.gitignore
  extensions/mochi/.prettierrc
  extensions/mochi/CHANGELOG.md
  extensions/mochi/README.md
  extensions/mochi/assets/icon-mochi-square.png
  extensions/mochi/metadata/screenshot-01.png
  extensions/mochi/package-lock.json
  extensions/mochi/package.json
  extensions/mochi/src/components/DeckDropdown.tsx
  extensions/mochi/src/components/DeckFields.tsx
  extensions/mochi/src/components/DeckSwitchActions.tsx
  extensions/mochi/src/components/ErrorMessageView.tsx
  extensions/mochi/src/constants.ts
  extensions/mochi/src/createCard.tsx
  extensions/mochi/src/lib/LocalStorage.ts
  extensions/mochi/src/lib/mochiClient.ts
  extensions/mochi/src/types.ts
  extensions/mochi/tsconfig.json
Labels: new extension

#4111 add iTerm extension
  extensions/iterm/.eslintrc.json
  extensions/iterm/.gitignore
  extensions/iterm/.prettierrc
  extensions/iterm/CHANGELOG.md
  extensions/iterm/README.md
  extensions/iterm/assets/command-icon.png
  extensions/iterm/assets/permission-raycast-automation.png
  extensions/iterm/package-lock.json
  extensions/iterm/package.json
  extensions/iterm/src/core/permission-error-screen.tsx
  extensions/iterm/src/new-iterm-tab.tsx
  extensions/iterm/src/new-iterm-window.tsx
  extensions/iterm/tsconfig.json
Labels: new extension

#4208 New extension: `fantasy-premier-league-rankings` extension
  extensions/fantasy-premier-league-rankings/.eslintrc.json
  extensions/fantasy-premier-league-rankings/.prettierrc
  extensions/fantasy-premier-league-rankings/CHANGELOG.md
  extensions/fantasy-premier-league-rankings/README.md
  extensions/fantasy-premier-league-rankings/assets/icon.png
  extensions/fantasy-premier-league-rankings/metadata/fpl-rankings-1.png
  extensions/fantasy-premier-league-rankings/metadata/fpl-rankings-2.png
  extensions/fantasy-premier-league-rankings/metadata/fpl-rankings-3.png
  extensions/fantasy-premier-league-rankings/metadata/fpl-rankings-4.png
  extensions/fantasy-premier-league-rankings/package-lock.json
  extensions/fantasy-premier-league-rankings/package.json
  extensions/fantasy-premier-league-rankings/src/api/index.ts
  extensions/fantasy-premier-league-rankings/src/hooks/index.ts
  extensions/fantasy-premier-league-rankings/src/hooks/useBootstrapStatic.ts
  extensions/fantasy-premier-league-rankings/src/hooks/useLeague.ts
  extensions/fantasy-premier-league-rankings/src/hooks/usePlayers.ts
  extensions/fantasy-premier-league-rankings/src/hooks/useUser.ts
  extensions/fantasy-premier-league-rankings/src/hooks/useUserLeagues.ts
  extensions/fantasy-premier-league-rankings/src/hooks/useUserTeamByGameweek.ts
  extensions/fantasy-premier-league-rankings/src/rankings.tsx
  extensions/fantasy-premier-league-rankings/tsconfig.json
Labels: new extension

#4416 feat: Handle all non-supported characters
  extensions/nato-phonetic-alphabet/src/spell.tsx
Labels: extension fix / improvement, OP is author, extension: nato-phonetic-alphabet

#4419 [Music]: Add shuffle command
  extensions/music/CHANGELOG.md
  extensions/music/package.json
  extensions/music/src/set-volume.tsx
  extensions/music/src/toggle-shuffle.tsx
  extensions/music/src/util/parser.ts
  extensions/music/src/util/scripts/general.ts
  extensions/music/src/util/scripts/player-controls.ts
  extensions/music/src/util/utils.ts
Labels: extension fix / improvement, OP is author, extension: music

#4406 Restore Old Photo Extension
  extensions/restore-photo/.eslintrc.json
  extensions/restore-photo/.prettierrc
  extensions/restore-photo/CHANGELOG.md
  extensions/restore-photo/README.md
  extensions/restore-photo/assets/icon.png
  extensions/restore-photo/metadata/restore-photos-1.png
  extensions/restore-photo/metadata/restore-photos-3.png
  extensions/restore-photo/metadata/restore-photos-4.png
  extensions/restore-photo/package-lock.json
  extensions/restore-photo/package.json
  extensions/restore-photo/src/restore.tsx
  extensions/restore-photo/tsconfig.json
Labels: new extension

#4355 New extension: Imgur - Upload Media & View Images
  extensions/imgur/.eslintrc.json
  extensions/imgur/.gitignore
  extensions/imgur/.prettierrc
  extensions/imgur/CHANGELOG.md
  extensions/imgur/README.md
  extensions/imgur/assets/imgur.png
  extensions/imgur/metadata/imgur-1.png
  extensions/imgur/metadata/imgur-2.png
  extensions/imgur/metadata/imgur-3.png
  extensions/imgur/package-lock.json
  extensions/imgur/package.json
  extensions/imgur/src/index.tsx
  extensions/imgur/src/view-images.tsx
  extensions/imgur/tsconfig.json
Labels: new extension

#4356 New Extension: Cuid2 Generator
  extensions/cuid2-generator/.eslintrc.json
  extensions/cuid2-generator/.gitignore
  extensions/cuid2-generator/.prettierrc
  extensions/cuid2-generator/CHANGELOG.md
  extensions/cuid2-generator/README.md
  extensions/cuid2-generator/assets/command-icon.png
  extensions/cuid2-generator/package-lock.json
  extensions/cuid2-generator/package.json
  extensions/cuid2-generator/src/generate.tsx
  extensions/cuid2-generator/tsconfig.json
Labels: new extension

#4431 [Toothpick] Mapped Sony WF-1000XM3
  extensions/toothpick/CHANGELOG.md
  extensions/toothpick/README.md
  extensions/toothpick/assets/icons/devices/sony/connected/wf.1000xm3.svg
  extensions/toothpick/assets/icons/devices/sony/wf.1000xm3.svg
  extensions/toothpick/src/mappers/sony/products/index.ts
Labels: extension fix / improvement, OP is contributor, extension: toothpick

#4366 feat(brave): added profiles support
  extensions/brave/CHANGELOG.md
  extensions/brave/README.md
  extensions/brave/metadata/brave-1.png
  extensions/brave/metadata/brave-3.png
  extensions/brave/metadata/brave-4.png
  extensions/brave/package.json
  extensions/brave/src/actions/index.tsx
  extensions/brave/src/components/BraveActions.tsx
  extensions/brave/src/components/BraveListItems.tsx
  extensions/brave/src/components/BraveProfileDropdown.tsx
  extensions/brave/src/constants.ts
  extensions/brave/src/hooks/useBookmarkSearch.tsx
  extensions/brave/src/hooks/useHistorySearch.tsx
  extensions/brave/src/hooks/useTabSearch.tsx
  extensions/brave/src/interfaces/index.ts
  extensions/brave/src/new-tab.tsx
  extensions/brave/src/search-bookmarks.tsx
  extensions/brave/src/search-history.tsx
  extensions/brave/src/search-tab.tsx
  extensions/brave/src/util/index.ts
Labels: extension fix / improvement, OP is contributor, extension: brave

#4374 Show year in progress in Raycast
  extensions/year-in-progress/.eslintrc.json
  extensions/year-in-progress/.gitignore
  extensions/year-in-progress/.prettierrc
  extensions/year-in-progress/CHANGELOG.md
  extensions/year-in-progress/README.md
  extensions/year-in-progress/assets/icon.png
  extensions/year-in-progress/metadata/year-in-progress-1.png
  extensions/year-in-progress/package-lock.json
  extensions/year-in-progress/package.json
  extensions/year-in-progress/src/year-in-progress.ts
  extensions/year-in-progress/tsconfig.json
Labels: new extension

#4410 Hacker News: Improve UX
  extensions/hacker-news/metadata/hacker-news-1.png
  extensions/hacker-news/metadata/hacker-news-2.png
  extensions/hacker-news/metadata/hacker-news-3.png
  extensions/hacker-news/metadata/hacker-news-4.png
  extensions/hacker-news/package-lock.json
  extensions/hacker-news/package.json
  extensions/hacker-news/src/StoryListItem.tsx
  extensions/hacker-news/src/frontpage.tsx
  extensions/hacker-news/src/hackernews.ts
  extensions/hacker-news/src/types.ts
  extensions/hacker-news/src/useStories.tsx
  extensions/hacker-news/src/utils.ts
Labels: extension fix / improvement, OP is author, extension: hacker-news

#4367 feat(edge): added profiles support
  extensions/microsoft-edge/CHANGELOG.md
  extensions/microsoft-edge/README.md
  extensions/microsoft-edge/assets/sql-collections.wasm
  extensions/microsoft-edge/assets/sql-wasm.wasm
  extensions/microsoft-edge/metadata/microsoft-edge-1.png
  extensions/microsoft-edge/metadata/microsoft-edge-2.png
  extensions/microsoft-edge/metadata/microsoft-edge-3.png
  extensions/microsoft-edge/metadata/microsoft-edge-4.png
  extensions/microsoft-edge/metadata/microsoft-edge-5.png
  extensions/microsoft-edge/package-lock.json
  extensions/microsoft-edge/package.json
  extensions/microsoft-edge/src/actions/index.ts
  extensions/microsoft-edge/src/common/constants.ts
  extensions/microsoft-edge/src/common/getOpenTabs.ts
  extensions/microsoft-edge/src/common/openNewTab.ts
  extensions/microsoft-edge/src/components/EdgeActions.tsx
  extensions/microsoft-edge/src/components/EdgeListItems.tsx
  extensions/microsoft-edge/src/components/EdgeProfileDropdown.tsx
  extensions/microsoft-edge/src/components/NotInstalled.tsx
  extensions/microsoft-edge/src/components/SearchUrlList.tsx
  extensions/microsoft-edge/src/components/TabListItem.tsx
  extensions/microsoft-edge/src/components/UrlAction.tsx
  extensions/microsoft-edge/src/components/UrlListItem.tsx
  extensions/microsoft-edge/src/components/error/NoBookmarksError.tsx
  extensions/microsoft-edge/src/components/error/NoCollectionsError.tsx
  extensions/microsoft-edge/src/components/error/NotInstalledError.tsx
  extensions/microsoft-edge/src/components/error/UnknownError.tsx
  extensions/microsoft-edge/src/components/error/index.ts
  extensions/microsoft-edge/src/components/index.ts
  extensions/microsoft-edge/src/constants.ts
  extensions/microsoft-edge/src/hooks/useBookmarkSearch.tsx
  extensions/microsoft-edge/src/hooks/useCollectionSearch.tsx
  extensions/microsoft-edge/src/hooks/useHistorySearch.tsx
  extensions/microsoft-edge/src/hooks/useTabSearch.tsx
  extensions/microsoft-edge/src/hooks/useUrlSearch.ts
  extensions/microsoft-edge/src/interfaces/index.ts
  extensions/microsoft-edge/src/lib/Tab.ts
  extensions/microsoft-edge/src/microsoft-edge-go-to-tab.tsx
  extensions/microsoft-edge/src/microsoft-edge-new-tab.tsx
  extensions/microsoft-edge/src/microsoft-edge-search-bookmark.tsx
  extensions/microsoft-edge/src/microsoft-edge-search-collection.tsx
  extensions/microsoft-edge/src/microsoft-edge-search-history.tsx
  extensions/microsoft-edge/src/new-tab.tsx
  extensions/microsoft-edge/src/schema/types.ts
  extensions/microsoft-edge/src/search-bookmarks.tsx
  extensions/microsoft-edge/src/search-collections.tsx
  extensions/microsoft-edge/src/search-history.tsx
  extensions/microsoft-edge/src/search-tab.tsx
  extensions/microsoft-edge/src/util/index.ts
  extensions/microsoft-edge/src/utils/appleScriptUtils.ts
  extensions/microsoft-edge/src/utils/pathUtils.ts
  extensions/microsoft-edge/src/utils/sqlUtils.ts
  extensions/microsoft-edge/src/utils/urlUtils.ts
Labels: extension fix / improvement, extension: microsoft-edge

#4438 Fix bug in Searchcaster extension
  extensions/searchcaster/CHANGELOG.md
  extensions/searchcaster/src/profiles.tsx
  extensions/searchcaster/src/types.ts
Labels: extension fix / improvement, OP is author, extension: searchcaster

#4377 StoicQuotes: Get a random quote
  extensions/stoicquotes/.eslintrc.json
  extensions/stoicquotes/.gitignore
  extensions/stoicquotes/.prettierrc
  extensions/stoicquotes/CHANGELOG.md
  extensions/stoicquotes/LICENSE
  extensions/stoicquotes/README.md
  extensions/stoicquotes/assets/command-icon.png
  extensions/stoicquotes/metadata/stoicquotes-1.png
  extensions/stoicquotes/package-lock.json
  extensions/stoicquotes/package.json
  extensions/stoicquotes/src/index.tsx
  extensions/stoicquotes/tsconfig.json
Labels: new extension

#4388 New Extension: WhoSampled
  extensions/whosampled/.eslintrc.json
  extensions/whosampled/.gitignore
  extensions/whosampled/.prettierrc
  extensions/whosampled/CHANGELOG.md
  extensions/whosampled/README.md
  extensions/whosampled/assets/icon.png
  extensions/whosampled/assets/icon2.png
  extensions/whosampled/package-lock.json
  extensions/whosampled/package.json
  extensions/whosampled/src/whosampled.tsx
  extensions/whosampled/tsconfig.json
Labels: new extension

#4412 Hypersonic: v2.0.3
  extensions/hypersonic/CHANGELOG.md
  extensions/hypersonic/README.md
  extensions/hypersonic/assets/blocked.svg
  extensions/hypersonic/assets/completed.svg
  extensions/hypersonic/assets/pending.svg
  extensions/hypersonic/assets/progress1.svg
  extensions/hypersonic/assets/progress2.svg
  extensions/hypersonic/assets/progress3.svg
  extensions/hypersonic/metadata/hypersonic-1.png
  extensions/hypersonic/metadata/hypersonic-2.png
  extensions/hypersonic/metadata/hypersonic-3.png
  extensions/hypersonic/metadata/hypersonic-4.png
  extensions/hypersonic/metadata/hypersonic-5.png
  extensions/hypersonic/metadata/hypersonic-6.png
  extensions/hypersonic/package-lock.json
  extensions/hypersonic/package.json
  extensions/hypersonic/src/components/complete-todo-action.tsx
  extensions/hypersonic/src/components/remind-todo-action.tsx
  extensions/hypersonic/src/features/configuration-form/configuration-form.tsx
  extensions/hypersonic/src/features/onboarding/hooks/use-onboarding.ts
  extensions/hypersonic/src/features/onboarding/onboarding.tsx
  extensions/hypersonic/src/features/todo-list/components/in-progress-action.tsx
  extensions/hypersonic/src/features/todo-list/components/not-started-action.tsx
  extensions/hypersonic/src/features/todo-list/components/set-filter-action.tsx
  extensions/hypersonic/src/features/todo-list/components/set-todo-status-action.tsx
  extensions/hypersonic/src/features/todo-list/hooks/use-todo-list.ts
  extensions/hypersonic/src/features/todo-list/todo-list.tsx
  extensions/hypersonic/src/features/todo-list/utils/optimistic-sorting.ts
  extensions/hypersonic/src/features/todo-list/utils/refresh-menu-bar.ts
  extensions/hypersonic/src/services/notion/hooks/use-filter.ts
  extensions/hypersonic/src/services/notion/hooks/use-get-statuses.ts
  extensions/hypersonic/src/services/notion/operations/create-todo.ts
  extensions/hypersonic/src/services/notion/operations/get-databases.ts
  extensions/hypersonic/src/services/notion/operations/get-statuses.ts
  extensions/hypersonic/src/services/notion/operations/get-todos.ts
  extensions/hypersonic/src/services/notion/operations/not-started-todo.ts
  extensions/hypersonic/src/services/notion/operations/set-status-todo.ts
  extensions/hypersonic/src/services/notion/utils/normalize-status.ts
  extensions/hypersonic/src/services/notion/utils/normalize-todo.ts
  extensions/hypersonic/src/services/notion/utils/notion-color-to-status-color.ts
  extensions/hypersonic/src/services/notion/utils/notion-color-to-tint-color.ts
  extensions/hypersonic/src/services/storage.ts
  extensions/hypersonic/src/types/database.ts
  extensions/hypersonic/src/types/filter.ts
  extensions/hypersonic/src/types/status.ts
  extensions/hypersonic/src/types/todo.ts
  extensions/hypersonic/src/utils/create-accessories-array.ts
Labels: extension fix / improvement, extension: hypersonic

#4449 Hacker News: Fix flickering
  extensions/hacker-news/src/frontpage.tsx
  extensions/hacker-news/src/hackernews.ts
Labels: extension fix / improvement, OP is author, extension: hacker-news

#4425 perf(Google Chrome): get open tabs faster
  extensions/google-chrome/CHANGELOG.md
  extensions/google-chrome/src/actions/index.tsx
Labels: extension fix / improvement, extension: google-chrome

#4457 Fix package.json in Hypersonic
  extensions/hypersonic/package.json
Labels: extension fix / improvement, extension: hypersonic

#4458 [Man Pages] Add ability to reload man page entry cache + add preference setting for crawl directories
  extensions/man-pages/CHANGELOG.md
  extensions/man-pages/README.md
  extensions/man-pages/package-lock.json
  extensions/man-pages/package.json
  extensions/man-pages/src/components/PageDetail.tsx
  extensions/man-pages/src/reload-man-page-entries.ts
  extensions/man-pages/src/search-man-pages.tsx
  extensions/man-pages/src/utils.tsx
Labels: extension fix / improvement, OP is author, extension: man-pages

#4464 Two new commands
  extensions/writersbrew/CHANGELOG.md
  extensions/writersbrew/package-lock.json
  extensions/writersbrew/package.json
  extensions/writersbrew/src/show-my-presets.tsx
  extensions/writersbrew/src/write-an-email.ts
Labels: extension fix / improvement, OP is author, extension: writersbrew

#4428 New Extension: LeetCode
  extensions/leetcode/.eslintrc.json
  extensions/leetcode/.gitignore
  extensions/leetcode/.prettierrc
  extensions/leetcode/.vscode/settings.json
  extensions/leetcode/CHANGELOG.md
  extensions/leetcode/README.md
  extensions/leetcode/assets/leetcode.png
  extensions/leetcode/metadata/leetcode-1.png
  extensions/leetcode/metadata/leetcode-2.png
  extensions/leetcode/package-lock.json
  extensions/leetcode/package.json
  extensions/leetcode/src/api.ts
  extensions/leetcode/src/daily-challenge.tsx
  extensions/leetcode/src/problem-search.tsx
  extensions/leetcode/src/types.ts
  extensions/leetcode/src/utils.ts
  extensions/leetcode/tsconfig.json
Labels: new extension

#4270 [Netlify] New commands and improvements
  extensions/netlify/CHANGELOG.md
  extensions/netlify/README.md
  extensions/netlify/assets/frameworks/angular.svg
  extensions/netlify/assets/frameworks/astro.svg
  extensions/netlify/assets/frameworks/eleventy.svg
  extensions/netlify/assets/frameworks/gatsby.svg
  extensions/netlify/assets/frameworks/hugo.svg
  extensions/netlify/assets/frameworks/hydrogen.svg
  extensions/netlify/assets/frameworks/next.svg
  extensions/netlify/assets/frameworks/nuxt.svg
  extensions/netlify/assets/frameworks/remix.svg
  extensions/netlify/assets/frameworks/solid.svg
  extensions/netlify/assets/team-placeholder.png
  extensions/netlify/assets/vcs/azure.svg
  extensions/netlify/assets/vcs/bitbucket.svg
  extensions/netlify/assets/vcs/github.svg
  extensions/netlify/assets/vcs/gitlab.svg
  extensions/netlify/metadata/1.png
  extensions/netlify/metadata/2.png
  extensions/netlify/metadata/3.png
  extensions/netlify/package-lock.json
  extensions/netlify/package.json
  extensions/netlify/src/components/actions.tsx
  extensions/netlify/src/components/deploys.tsx
  extensions/netlify/src/components/team-dropdown.tsx
  extensions/netlify/src/find-local-sites.tsx
  extensions/netlify/src/invite-team-members.tsx
  extensions/netlify/src/search-audit-log.tsx
  extensions/netlify/src/search-docs.tsx
  extensions/netlify/src/search-domains.tsx
  extensions/netlify/src/search-sites.tsx
  extensions/netlify/src/search-team-members.tsx
  extensions/netlify/src/service.ts
  extensions/netlify/src/utils.ts
  extensions/netlify/src/utils/api.ts
  extensions/netlify/src/utils/disk.ts
  extensions/netlify/src/utils/helpers.ts
  extensions/netlify/src/utils/hooks.ts
  extensions/netlify/src/utils/icons.ts
  extensions/netlify/src/utils/interfaces.ts
  extensions/netlify/src/view-domains.tsx
  extensions/netlify/src/view-members.tsx
  extensions/netlify/src/view-sites.tsx
Labels: extension fix / improvement, OP is contributor, extension: netlify

#4486 Typefully: Improve UI of lists and add notifications to menu bar
  extensions/typefully/CHANGELOG.md
  extensions/typefully/metadata/typefully-01.png
  extensions/typefully/metadata/typefully-02.png
  extensions/typefully/metadata/typefully-03.png
  extensions/typefully/metadata/typefully-1.png
  extensions/typefully/metadata/typefully-2.png
  extensions/typefully/package-lock.json
  extensions/typefully/package.json
  extensions/typefully/src/command-bar-menu.tsx
  extensions/typefully/src/create-draft.tsx
  extensions/typefully/src/interfaces/draft.ts
  extensions/typefully/src/interfaces/preferences.ts
  extensions/typefully/src/open-dashboard.ts
  extensions/typefully/src/preferences.ts
  extensions/typefully/src/typefully.ts
  extensions/typefully/src/types.ts
  extensions/typefully/src/utils.ts
  extensions/typefully/src/view-posted.tsx
  extensions/typefully/src/view-scheduled.tsx
Labels: extension fix / improvement, extension: typefully

#4481 [Mochi] fix README
  extensions/mochi/CHANGELOG.md
  extensions/mochi/README.md
Labels: extension fix / improvement, OP is author, extension: mochi
