Repository raycast/extensions, pull requests merged in 2023-06, with the labels that each got.

#6466 Add git-co-authors extension
  extensions/git-co-authors/.eslintrc.json
  extensions/git-co-authors/.gitignore
  extensions/git-co-authors/.prettierrc
  extensions/git-co-authors/CHANGELOG.md
  extensions/git-co-authors/README.md
  extensions/git-co-authors/assets/extension_icon.png
  extensions/git-co-authors/metadata/git-co-authors-1.png
  extensions/git-co-authors/metadata/git-co-authors-2.png
  extensions/git-co-authors/package-lock.json
  extensions/git-co-authors/package.json
  extensions/git-co-authors/src/add-or-edit-author.tsx
  extensions/git-co-authors/src/choose-coauthor.tsx
  extensions/git-co-authors/src/types.ts
  extensions/git-co-authors/src/utils.ts
  extensions/git-co-authors/tsconfig.json
Labels: new extension

#6790 Add hupu extension
  extensions/hupu/.eslintrc.json
  extensions/hupu/.gitignore
  extensions/hupu/.npmrc
  extensions/hupu/.prettierrc
  extensions/hupu/CHANGELOG.md
  extensions/hupu/README.md
  extensions/hupu/assets/hupu.png
  extensions/hupu/metadata/hupu-1.png
  extensions/hupu/package-lock.json
  extensions/hupu/package.json
  extensions/hupu/pnpm-lock.yaml
  extensions/hupu/src/index.tsx
  extensions/hupu/tsconfig.json
Labels: new extension

#6896 Update paddings on Openverse app icon
  extensions/openverse/assets/openverse-icon.png
Labels: extension fix / improvement, OP is author, extension: openverse

#6483 Add Logtail extension
  extensions/logtail/.eslintrc.json
  extensions/logtail/.gitignore
  extensions/logtail/.prettierrc
  extensions/logtail/CHANGELOG.md
  extensions/logtail/README.md
  extensions/logtail/assets/extension_icon.png
  extensions/logtail/assets/extension_icon@dark.png
  extensions/logtail/assets/extension_icon@light.png
  extensions/logtail/metadata/logtail-1.png
  extensions/logtail/metadata/logtail-2.png
  extensions/logtail/metadata/logtail-3.png
  extensions/logtail/package-lock.json
  extensions/logtail/package.json
  extensions/logtail/src/add-metadata.tsx
  extensions/logtail/src/components/QueryLogs.tsx
  extensions/logtail/src/components/QuerySources.tsx
  extensions/logtail/src/hooks/useDefaultSourceId.ts
  extensions/logtail/src/hooks/useLogtailFetch.tsx
  extensions/logtail/src/hooks/useMetadataTags.ts
  extensions/logtail/src/hooks/useSavedQueries.ts
  extensions/logtail/src/lib/helpers.ts
  extensions/logtail/src/lib/logtail.ts
  extensions/logtail/src/lib/types.ts
  extensions/logtail/src/metadata.tsx
  extensions/logtail/src/query-logs.tsx
  extensions/logtail/src/saved-queries.tsx
  extensions/logtail/tsconfig.json
Labels: new extension

#6871 Update raycast-system-monitor extension
  extensions/system-monitor/.eslintrc.json
  extensions/system-monitor/.gitignore
  extensions/system-monitor/CHANGELOG.md
  extensions/system-monitor/package-lock.json
  extensions/system-monitor/package.json
  extensions/system-monitor/src/Cpu/CpuMonitor.tsx
  extensions/system-monitor/src/Memory/MemoryMonitor.tsx
  extensions/system-monitor/src/Network/NetworkMonitor.tsx
  extensions/system-monitor/src/Power/PowerMonitor.tsx
  extensions/system-monitor/src/components/Actions.tsx
  extensions/system-monitor/tsconfig.json
Labels: extension fix / improvement, OP is contributor, extension: raycast-system-monitor

#6874 Specify: Add search documentation command
  extensions/specify/.gitignore
  extensions/specify/CHANGELOG.md
  extensions/specify/package-lock.json
  extensions/specify/package.json
  extensions/specify/src/documentation/index.ts
  extensions/specify/src/search-api-documentation.tsx
Labels: extension fix / improvement, OP is author, extension: specify

#6872 Update linkding extension
  extensions/linkding/.gitignore
  extensions/linkding/CHANGELOG.md
  extensions/linkding/README.md
  extensions/linkding/metadata/raycast-linkding-1.png
  extensions/linkding/metadata/raycast-linkding-2.png
  extensions/linkding/metadata/raycast-linkding-3.png
  extensions/linkding/metadata/raycast-linkding-4.png
  extensions/linkding/package-lock.json
  extensions/linkding/package.json
  extensions/linkding/src/manage-account.tsx
  extensions/linkding/src/search-bookmarks.tsx
  extensions/linkding/src/service/user-account-service.ts
  extensions/linkding/src/types/linkding-types.ts
  extensions/linkding/tsconfig.json
Labels: extension fix / improvement, OP is author, extension: linkding

#6884 [ Quantumcast ] - New command "Open Cloudflow Collection"
  extensions/quantumcast/.eslintrc.json
  extensions/quantumcast/CHANGELOG.md
  extensions/quantumcast/metadata/quantumcast-01.png
  extensions/quantumcast/metadata/quantumcast-02.png
  extensions/quantumcast/metadata/quantumcast-03.png
  extensions/quantumcast/metadata/quantumcast-04.png
  extensions/quantumcast/metadata/quantumcast-05.png
  extensions/quantumcast/metadata/quantumcast-06.png
  extensions/quantumcast/metadata/quantumcast-07.png
  extensions/quantumcast/metadata/quantumcast-08.png
  extensions/quantumcast/metadata/quantumcast-09.png
  extensions/quantumcast/package-lock.json
  extensions/quantumcast/package.json
  extensions/quantumcast/src/open-cloudflow-collection.tsx
  extensions/quantumcast/src/open-cloudflow-workspace.tsx
Labels: extension fix / improvement, OP is author, extension: quantumcast

#6788 [Spotify-Controls] Add backward to the beginning command
  extensions/spotify-controls/CHANGELOG.md
  extensions/spotify-controls/package.json
  extensions/spotify-controls/src/backwardToBeginning.ts
Labels: extension fix / improvement, extension: spotify-controls

#6845 Add spanish-tv-guide extension
  extensions/spanish-tv-guide/.eslintrc.json
  extensions/spanish-tv-guide/.gitignore
  extensions/spanish-tv-guide/.prettierrc
  extensions/spanish-tv-guide/CHANGELOG.md
  extensions/spanish-tv-guide/README.md
  extensions/spanish-tv-guide/assets/app-icon.png
  extensions/spanish-tv-guide/jest.config.ts
  extensions/spanish-tv-guide/metadata/spanish-tv-guide-1.png
  extensions/spanish-tv-guide/package-lock.json
  extensions/spanish-tv-guide/package.json
  extensions/spanish-tv-guide/src/components/ChannelDetails.tsx
  extensions/spanish-tv-guide/src/index.tsx
  extensions/spanish-tv-guide/src/modules/tv/domain/tvSchedule.ts
  extensions/spanish-tv-guide/src/modules/tv/repositories/dto/channelResponse.ts
  extensions/spanish-tv-guide/src/modules/tv/repositories/dto/programResponse.ts
  extensions/spanish-tv-guide/src/modules/tv/repositories/tvScheduleRepository.ts
  extensions/spanish-tv-guide/src/utils/dateUtils.ts
  extensions/spanish-tv-guide/src/utils/stringUtils.ts
  extensions/spanish-tv-guide/test/modules/tv/repositories/tvScheduleRepository.spec.ts
  extensions/spanish-tv-guide/test/utils/dateUtils.spec.ts
  extensions/spanish-tv-guide/test/utils/stringUtils.spec.ts
  extensions/spanish-tv-guide/tsconfig.json
Labels: new extension

#6908 Todoist: Search command and bug fixes
  extensions/todoist/.eslintrc.json
  extensions/todoist/CHANGELOG.md
  extensions/todoist/README.md
  extensions/todoist/assets/tag.svg
  extensions/todoist/package-lock.json
  extensions/todoist/package.json
  extensions/todoist/src/components/AllTasks.tsx
  extensions/todoist/src/components/CompletedTasks.tsx
  extensions/todoist/src/components/InboxTasks.tsx
  extensions/todoist/src/components/LabelListItem.tsx
  extensions/todoist/src/components/LabelTasks.tsx
  extensions/todoist/src/components/MenubarTask.tsx
  extensions/todoist/src/components/ProjectForm.tsx
  extensions/todoist/src/components/ProjectListItem.tsx
  extensions/todoist/src/components/SubTasks.tsx
  extensions/todoist/src/components/TaskActions.tsx
  extensions/todoist/src/components/TaskComments.tsx
  extensions/todoist/src/components/TaskDetail.tsx
  extensions/todoist/src/components/TaskListItem.tsx
  extensions/todoist/src/components/TaskListSections.tsx
  extensions/todoist/src/components/TodayEmptyView.tsx
  extensions/todoist/src/create-task.tsx
  extensions/todoist/src/helpers/groupBy.ts
  extensions/todoist/src/helpers/tasks.ts
  extensions/todoist/src/helpers/withTodoistApi.tsx
  extensions/todoist/src/home.tsx
  extensions/todoist/src/hooks/useFocusedTask.ts
  extensions/todoist/src/hooks/useSyncData.ts
  extensions/todoist/src/hooks/useViewTasks.ts
  extensions/todoist/src/menu-bar.tsx
  extensions/todoist/src/quick-add-task.tsx
  extensions/todoist/src/search.tsx
  extensions/todoist/src/show-projects.tsx
Labels: extension fix / improvement, OP is author, extension: todoist

#6322 [New Extension] Summarise youtube videos with AI
  extensions/summarize-youtube-video-with-ai/.eslintrc.json
  extensions/summarize-youtube-video-with-ai/.gitignore
  extensions/summarize-youtube-video-with-ai/.prettierrc
  extensions/summarize-youtube-video-with-ai/CHANGELOG.md
  extensions/summarize-youtube-video-with-ai/README.md
  extensions/summarize-youtube-video-with-ai/assets/extension_icon.png
  extensions/summarize-youtube-video-with-ai/metadata/summarize-youtube-video-1.png
  extensions/summarize-youtube-video-with-ai/metadata/summarize-youtube-video-2.png
  extensions/summarize-youtube-video-with-ai/metadata/summarize-youtube-video-3.png
  extensions/summarize-youtube-video-with-ai/package-lock.json
  extensions/summarize-youtube-video-with-ai/package.json
  extensions/summarize-youtube-video-with-ai/src/const/max_chars.ts
  extensions/summarize-youtube-video-with-ai/src/const/toast_messages.ts
  extensions/summarize-youtube-video-with-ai/src/hooks/useChatGPTSummary.ts
  extensions/summarize-youtube-video-with-ai/src/hooks/useRaycastAISummary.ts
  extensions/summarize-youtube-video-with-ai/src/summarizeVideo.tsx
  extensions/summarize-youtube-video-with-ai/src/utils/getVideoData.ts
  extensions/summarize-youtube-video-with-ai/src/utils/getVideoTranscript.ts
  extensions/summarize-youtube-video-with-ai/src/utils/splitTranscript.ts
  extensions/summarize-youtube-video-with-ai/tsconfig.json
Labels: new extension

#6917 Update Summarise youtube videos with AI
  extensions/summarize-youtube-video-with-ai/CHANGELOG.md
  extensions/summarize-youtube-video-with-ai/README.md
  extensions/summarize-youtube-video-with-ai/package-lock.json
  extensions/summarize-youtube-video-with-ai/package.json
  extensions/summarize-youtube-video-with-ai/src/hooks/useChatGPTSummary.ts
  extensions/summarize-youtube-video-with-ai/src/hooks/useRaycastAISummary.ts
  extensions/summarize-youtube-video-with-ai/src/summarizeVideo.tsx
  extensions/summarize-youtube-video-with-ai/src/utils/getAiInstructionSnippets.ts
  extensions/summarize-youtube-video-with-ai/src/utils/getVideoTranscript.ts
Labels: extension fix / improvement, OP is author, extension: summarize-youtube-video-with-ai

#6932 [YouVersion Bible Suggest] Update YouVersion Bible Suggest extension to latest (v3.2.0)
  extensions/youversion-suggest/CHANGELOG.md
  extensions/youversion-suggest/assets/data/CONTRIBUTING.md
  extensions/youversion-suggest/assets/data/README.md
  extensions/youversion-suggest/assets/data/bible/bible-arb.json
  extensions/youversion-suggest/assets/data/bible/bible-bul.json
  extensions/youversion-suggest/assets/data/bible/bible-deu.json
  extensions/youversion-suggest/assets/data/bible/bible-eng.json
  extensions/youversion-suggest/assets/data/bible/bible-fin.json
  extensions/youversion-suggest/assets/data/bible/bible-fra.json
  extensions/youversion-suggest/assets/data/bible/bible-hin.json
  extensions/youversion-suggest/assets/data/bible/bible-ind.json
  extensions/youversion-suggest/assets/data/bible/bible-ita.json
  extensions/youversion-suggest/assets/data/bible/bible-jpn.json
  extensions/youversion-suggest/assets/data/bible/bible-khm.json
  extensions/youversion-suggest/assets/data/bible/bible-kor.json
  extensions/youversion-suggest/assets/data/bible/bible-nld.json
  extensions/youversion-suggest/assets/data/bible/bible-pes.json
  extensions/youversion-suggest/assets/data/bible/bible-pol.json
  extensions/youversion-suggest/assets/data/bible/bible-por.json
  extensions/youversion-suggest/assets/data/bible/bible-por_pt.json
  extensions/youversion-suggest/assets/data/bible/bible-rus.json
  extensions/youversion-suggest/assets/data/bible/bible-spa.json
  extensions/youversion-suggest/assets/data/bible/bible-spa_es.json
  extensions/youversion-suggest/assets/data/bible/bible-swe.json
  extensions/youversion-suggest/assets/data/bible/bible-swh.json
  extensions/youversion-suggest/assets/data/bible/bible-tur.json
  extensions/youversion-suggest/assets/data/bible/bible-vie.json
  extensions/youversion-suggest/assets/data/bible/bible-zho.json
  extensions/youversion-suggest/assets/data/bible/bible-zho_tw.json
  extensions/youversion-suggest/assets/data/bible/book-metadata.json
  extensions/youversion-suggest/assets/data/bible/languages.json
  extensions/youversion-suggest/package-lock.json
  extensions/youversion-suggest/package.json
  extensions/youversion-suggest/src/preferences.ts
Labels: extension fix / improvement, OP is author, extension: youversion-suggest

#6924 Update search-hookmark extension
  extensions/search-hookmark/CHANGELOG.md
  extensions/search-hookmark/metadata/search-hookmark-0.png
  extensions/search-hookmark/metadata/search-hookmark-1.png
  extensions/search-hookmark/metadata/search-hookmark-2.png
  extensions/search-hookmark/metadata/search-hookmark-3.png
  extensions/search-hookmark/package.json
  extensions/search-hookmark/src/copy-hookmark-link.tsx
  extensions/search-hookmark/src/hook-to-copied-link.tsx
  extensions/search-hookmark/src/search-hookmark.tsx
  extensions/search-hookmark/src/show-hooked-link.tsx
  extensions/search-hookmark/src/utils/checkOpen.ts
  extensions/search-hookmark/src/utils/hookmark.tsx
  extensions/search-hookmark/src/utils/type.tsx
Labels: extension fix / improvement, OP is author, extension: search-hookmark

#6929 [Bitwarden] New preference for window behaviour when copying values
  extensions/bitwarden/.eslintrc.json
  extensions/bitwarden/.gitignore
  extensions/bitwarden/CHANGELOG.md
  extensions/bitwarden/metadata/bitwarden-01.png
  extensions/bitwarden/metadata/bitwarden-02.png
  extensions/bitwarden/metadata/screenshot-01.jpg
  extensions/bitwarden/metadata/screenshot-02.jpg
  extensions/bitwarden/package-lock.json
  extensions/bitwarden/package.json
  extensions/bitwarden/src/api/bitwarden.ts
  extensions/bitwarden/src/components/UnlockForm.tsx
  extensions/bitwarden/src/components/generatePassword/ActionPanel.tsx
  extensions/bitwarden/src/components/searchVault/actions/CopyCardFieldsActions.tsx
  extensions/bitwarden/src/components/searchVault/actions/CopyIdentityFieldsActions.tsx
  extensions/bitwarden/src/components/searchVault/actions/CopyNotesAction.tsx
  extensions/bitwarden/src/components/searchVault/actions/CopyPasswordAction.tsx
  extensions/bitwarden/src/components/searchVault/actions/CopyTotpAction.tsx
  extensions/bitwarden/src/components/searchVault/actions/CopyUsernameAction.tsx
  extensions/bitwarden/src/components/searchVault/actions/ShowNotesAction.tsx
  extensions/bitwarden/src/components/searchVault/actions/shared/CopyObjectFieldsActions.tsx
  extensions/bitwarden/src/components/searchVault/actions/shared/ShowDetailsScreen.tsx
  extensions/bitwarden/src/components/searchVault/utils/useVaultCaching.ts
  extensions/bitwarden/src/constants/preferences.ts
  extensions/bitwarden/src/context/session/utils.ts
  extensions/bitwarden/src/generate-password-quick.tsx
  extensions/bitwarden/src/types/preferences.ts
  extensions/bitwarden/src/utils/clipboard.ts
  extensions/bitwarden/src/utils/preferences.ts
  extensions/bitwarden/src/utils/testing/setupEnvironment.tsx
  extensions/bitwarden/tsconfig.json
Labels: extension fix / improvement, OP is author, extension: bitwarden

#6934 fix: support short_link_v2
  extensions/Bilibili/.gitignore
  extensions/Bilibili/package-lock.json
  extensions/Bilibili/src/popularSeries.tsx
  extensions/Bilibili/src/popularVideos.tsx
  extensions/Bilibili/src/rcmdVideos.tsx
  extensions/Bilibili/src/types.ts
  extensions/Bilibili/src/utils/tools.ts
Labels: extension fix / improvement, OP is author, extension: bilibili

#6946 Update country-lookup extension
  extensions/country-lookup/metadata/country-lookup-1.png
  extensions/country-lookup/metadata/country-lookup-2.png
  extensions/country-lookup/metadata/country-lookup-3.png
  extensions/country-lookup/metadata/country-lookup.png
Labels: extension fix / improvement, OP is author, extension: country-lookup

#6930 [Beeminder] Add support for opening a goal in the browser
  extensions/beeminder/CHANGELOG.md
  extensions/beeminder/src/beeminder.tsx
Labels: extension fix / improvement, OP is author, extension: beeminder

#6928 stock-tracker: use cookie for yahoo finance api
  extensions/stock-tracker/CHANGELOG.md
  extensions/stock-tracker/src/yahoo-finance/client.ts
  extensions/stock-tracker/src/yahoo-finance/quote.ts
  extensions/stock-tracker/src/yahoo-finance/search.ts
Labels: extension fix / improvement, OP is author, extension: stock-tracker

#6943 Transfer Openverse
  .github/public_raycast_extensions.txt
  extensions/openverse/package.json
Labels: extension fix / improvement, extension: openverse

#6947 Update charged extension
  extensions/charged/package-lock.json
  extensions/charged/package.json
  extensions/charged/src/starknetConverterCommand.tsx
  extensions/charged/src/starknetTransactionBuilderCommand.tsx
  extensions/charged/src/utils/extension/cvmTransactionProvider.tsx
  extensions/charged/src/utils/extension/networks.tsx
  extensions/charged/src/utils/extension/objects.tsx
  extensions/charged/src/utils/extension/startknetHardhat.tsx
  extensions/charged/src/utils/starknetConverter.tsx
Labels: extension fix / improvement, extension: charged

#6876 Fix error in openai-translator's README.md
  extensions/openai-translator/CHANGELOG.md
  extensions/openai-translator/README-zh.md
  extensions/openai-translator/README.md
Labels: extension fix / improvement, extension: openai-translator

#6882 [Open in Visual Studio Code] Added support for Visual Studio Code Insiders
  extensions/open-in-visual-studio-code/CHANGELOG.md
  extensions/open-in-visual-studio-code/package.json
Labels: extension fix / improvement, extension: open-in-visual-studio-code

#6881 Add cidr extension
  extensions/cidr/.eslintrc.json
  extensions/cidr/.gitignore
  extensions/cidr/.prettierrc
  extensions/cidr/.vscode/launch.json
  extensions/cidr/CHANGELOG.md
  extensions/cidr/README.md
  extensions/cidr/assets/command-icon.png
  extensions/cidr/jest.config.js
  extensions/cidr/metadata/cidr-1.png
  extensions/cidr/package-lock.json
  extensions/cidr/package.json
  extensions/cidr/src/cidr-to-ip-range.tsx
  extensions/cidr/src/components/ip-empty-view.tsx
  extensions/cidr/src/utils/cidr-utils.ts
  extensions/cidr/src/utils/constants.ts
  extensions/cidr/src/utils/validation-utils.ts
  extensions/cidr/tests/cidr.integration.test.ts
  extensions/cidr/tests/cidr.test.ts
  extensions/cidr/tests/ip.test.ts
  extensions/cidr/tsconfig.json
Labels: new extension

#6885 Add markdown-to-jira extension
  extensions/markdown-to-jira/.eslintrc.json
  extensions/markdown-to-jira/.gitignore
  extensions/markdown-to-jira/.prettierrc
  extensions/markdown-to-jira/CHANGELOG.md
  extensions/markdown-to-jira/README.md
  extensions/markdown-to-jira/assets/icon.png
  extensions/markdown-to-jira/package-lock.json
  extensions/markdown-to-jira/package.json
  extensions/markdown-to-jira/src/jira2md.d.ts
  extensions/markdown-to-jira/src/markdown-to-jira.ts
  extensions/markdown-to-jira/tsconfig.json
Labels: new extension

#6903 “PHP Toolbox” extension
  extensions/php-toolbox/.eslintrc.json
  extensions/php-toolbox/.gitignore
  extensions/php-toolbox/.prettierrc
  extensions/php-toolbox/CHANGELOG.md
  extensions/php-toolbox/README.md
  extensions/php-toolbox/assets/command-icon.png
  extensions/php-toolbox/metadata/php-toolbox-1.png
  extensions/php-toolbox/metadata/php-toolbox-2.png
  extensions/php-toolbox/metadata/php-toolbox-3.png
  extensions/php-toolbox/package-lock.json
  extensions/php-toolbox/package.json
  extensions/php-toolbox/src/php-date-formats.ts
  extensions/php-toolbox/src/php-date-formats/data.ts
  extensions/php-toolbox/src/php-date-formats/favorites.ts
  extensions/php-toolbox/src/php-date-formats/format.ts
  extensions/php-toolbox/src/php-date-formats/index.tsx
  extensions/php-toolbox/src/timestamps.ts
  extensions/php-toolbox/src/timestamps/index.tsx
  extensions/php-toolbox/tsconfig.json
Labels: new extension

#6906 Add Shroud.email extension
  extensions/shroud-email/.eslintrc.json
  extensions/shroud-email/.gitignore
  extensions/shroud-email/.prettierrc
  extensions/shroud-email/CHANGELOG.md
  extensions/shroud-email/README.md
  extensions/shroud-email/assets/shroud-email.png
  extensions/shroud-email/metadata/shroud-email-1-create-api-token.png
  extensions/shroud-email/metadata/shroud-email-2-api-token.png
  extensions/shroud-email/metadata/shroud-email-3-view-domains.png
  extensions/shroud-email/metadata/shroud-email-4-no-valid-domains.png
  extensions/shroud-email/metadata/shroud-email-5-view-aliases.png
  extensions/shroud-email/metadata/shroud-email-6-create-alias.png
  extensions/shroud-email/package-lock.json
  extensions/shroud-email/package.json
  extensions/shroud-email/src/aliases.tsx
  extensions/shroud-email/src/domains.tsx
  extensions/shroud-email/src/token.tsx
  extensions/shroud-email/src/utils/api.ts
  extensions/shroud-email/src/utils/constants.ts
  extensions/shroud-email/src/utils/types.ts
  extensions/shroud-email/tsconfig.json
Labels: new extension

#6517 [Update chatgpt-quick-actions] Custom model for each command & move custom pref
  extensions/chatgpt-quick-actions/.eslintrc.json
  extensions/chatgpt-quick-actions/.gitignore
  extensions/chatgpt-quick-actions/CHANGELOG.md
  extensions/chatgpt-quick-actions/README.md
  extensions/chatgpt-quick-actions/package-lock.json
  extensions/chatgpt-quick-actions/package.json
  extensions/chatgpt-quick-actions/src/api.ts
  extensions/chatgpt-quick-actions/src/common.tsx
  extensions/chatgpt-quick-actions/src/custom.tsx
  extensions/chatgpt-quick-actions/src/execute.ts
  extensions/chatgpt-quick-actions/src/preview.tsx
  extensions/chatgpt-quick-actions/src/refine.tsx
  extensions/chatgpt-quick-actions/src/rewrite.tsx
  extensions/chatgpt-quick-actions/src/summarize.tsx
  extensions/chatgpt-quick-actions/tsconfig.json
Labels: extension fix / improvement, OP is author, extension: chatgpt-quick-actions

#6918 Update todo-list extension
  extensions/todo-list/.gitignore
  extensions/todo-list/changelog.md
  extensions/todo-list/package-lock.json
  extensions/todo-list/package.json
  extensions/todo-list/src/atoms.ts
  extensions/todo-list/src/menu_bar.tsx
Labels: extension fix / improvement, extension: todo-list

#6760 [IMDb] Add separate command and details view
  extensions/imdb/.gitignore
  extensions/imdb/.prettierrc
  extensions/imdb/CHANGELOG.md
  extensions/imdb/README.md
  extensions/imdb/assets/director.png
  extensions/imdb/assets/icon.png
  extensions/imdb/assets/number.png
  extensions/imdb/assets/popcorn-small.png
  extensions/imdb/assets/popcorn.png
  extensions/imdb/assets/youtube.png
  extensions/imdb/metadata/imdb-1.png
  extensions/imdb/metadata/imdb-2.png
  extensions/imdb/metadata/imdb-3.png
  extensions/imdb/metadata/imdb-4.png
  extensions/imdb/package-lock.json
  extensions/imdb/package.json
  extensions/imdb/src/api/index.ts
  extensions/imdb/src/components/ItemDetail.tsx
  extensions/imdb/src/components/List.tsx
  extensions/imdb/src/components/ListItem.tsx
  extensions/imdb/src/components/index.ts
  extensions/imdb/src/index.tsx
  extensions/imdb/src/movies.tsx
  extensions/imdb/src/series.tsx
  extensions/imdb/src/types/index.ts
  extensions/imdb/src/utils/index.ts
Labels: extension fix / improvement, extension: imdb

#6927 Update 1password extension
  extensions/1password/.gitignore
  extensions/1password/CHANGELOG.md
  extensions/1password/package.json
  extensions/1password/src/v8/components/ActionCopyToClipboard.tsx
Labels: extension fix / improvement, OP is contributor, extension: 1password

#6645 Add filter view for todoist menu-bar command
  extensions/todoist/CHANGELOG.md
  extensions/todoist/package.json
  extensions/todoist/src/api.ts
  extensions/todoist/src/components/TaskListItem.tsx
  extensions/todoist/src/helpers/dates.ts
  extensions/todoist/src/helpers/groupBy.ts
  extensions/todoist/src/helpers/withTodoistApi.tsx
  extensions/todoist/src/hooks/useFilterData.ts
  extensions/todoist/src/menu-bar.tsx
Labels: extension fix / improvement, extension: todoist

#6657 [SVGO] Add command to create optimized files
  extensions/svgo/.gitignore
  extensions/svgo/CHANGELOG.md
  extensions/svgo/README.md
  extensions/svgo/metadata/svgo.png
  extensions/svgo/package-lock.json
  extensions/svgo/package.json
  extensions/svgo/src/optimize-files.ts
  extensions/svgo/src/optimize-string.ts
  extensions/svgo/src/optimize.ts
  extensions/svgo/src/utils.ts
Labels: extension fix / improvement, extension: raycast-svgo

#6673 Added support to open specific file branches and more
  extensions/figma-files/CHANGELOG.md
  extensions/figma-files/README.md
  extensions/figma-files/assets/branch.svg
  extensions/figma-files/assets/branch@dark.svg
  extensions/figma-files/assets/emptyProject.svg
  extensions/figma-files/assets/emptyProject@dark.svg
  extensions/figma-files/assets/figma-menubar-icon-dark.svg
  extensions/figma-files/assets/figma-menubar-icon-light.svg
  extensions/figma-files/assets/project.svg
  extensions/figma-files/assets/project@dark.svg
  extensions/figma-files/assets/team.svg
  extensions/figma-files/assets/team@dark.svg
  extensions/figma-files/src/components/FileGridItem.tsx
  extensions/figma-files/src/components/OpenBranchAction.tsx
  extensions/figma-files/src/components/OpenBranchSubmenuAction.tsx
  extensions/figma-files/src/components/OpenPageAction.tsx
  extensions/figma-files/src/components/OpenPageSubmenuAction.tsx
  extensions/figma-files/src/components/fetchFigmaData.ts
  extensions/figma-files/src/index.tsx
  extensions/figma-files/src/menu-bar.tsx
  extensions/figma-files/src/types.ts
Labels: extension fix / improvement, OP is contributor, extension: figma-files-raycast-extension

#6965 [feat] Option for hiding menubar icon when no timers are running
  extensions/timers/CHANGELOG.md
  extensions/timers/package.json
  extensions/timers/src/timersMenuBar.tsx
  extensions/timers/src/types.ts
Labels: extension fix / improvement, OP is contributor, extension: timers

#6550 Add storybook-sandboxes extension
  extensions/storybook-sandboxes/.eslintrc.json
  extensions/storybook-sandboxes/.gitignore
  extensions/storybook-sandboxes/.prettierrc
  extensions/storybook-sandboxes/CHANGELOG.md
  extensions/storybook-sandboxes/assets/icons/angular.svg
  extensions/storybook-sandboxes/assets/icons/github.svg
  extensions/storybook-sandboxes/assets/icons/html.svg
  extensions/storybook-sandboxes/assets/icons/javascript.svg
  extensions/storybook-sandboxes/assets/icons/lit.svg
  extensions/storybook-sandboxes/assets/icons/nextjs.svg
  extensions/storybook-sandboxes/assets/icons/preact.svg
  extensions/storybook-sandboxes/assets/icons/qwik.svg
  extensions/storybook-sandboxes/assets/icons/react.svg
  extensions/storybook-sandboxes/assets/icons/solidjs.svg
  extensions/storybook-sandboxes/assets/icons/svelte.svg
  extensions/storybook-sandboxes/assets/icons/typescript.svg
  extensions/storybook-sandboxes/assets/icons/vite.svg
  extensions/storybook-sandboxes/assets/icons/vue.svg
  extensions/storybook-sandboxes/assets/icons/webpack.svg
  extensions/storybook-sandboxes/assets/storybook-logo.png
  extensions/storybook-sandboxes/metadata/storybook-sandboxes-1.png
  extensions/storybook-sandboxes/metadata/storybook-sandboxes-2.png
  extensions/storybook-sandboxes/metadata/storybook-sandboxes-3.png
  extensions/storybook-sandboxes/package-lock.json
  extensions/storybook-sandboxes/package.json
  extensions/storybook-sandboxes/src/components/local-sandbox-creation.tsx
  extensions/storybook-sandboxes/src/components/local-sandbox-form.tsx
  extensions/storybook-sandboxes/src/components/sandbox-list.tsx
  extensions/storybook-sandboxes/src/local.tsx
  extensions/storybook-sandboxes/src/online.tsx
  extensions/storybook-sandboxes/src/utils/get-icon.ts
  extensions/storybook-sandboxes/src/utils/hooks.ts
  extensions/storybook-sandboxes/src/utils/sandboxes.ts
  extensions/storybook-sandboxes/src/utils/to-stackblitz-link.ts
  extensions/storybook-sandboxes/tsconfig.json
Labels: new extension

#6970 feat(lark): add slide type icon
  extensions/lark/CHANGELOG.md
  extensions/lark/assets/space-icons/type-30.svg
  extensions/lark/src/features/with-auth/index.tsx
  extensions/lark/src/features/with-query/index.tsx
  extensions/lark/src/services/auth.ts
Labels: extension fix / improvement, OP is author, extension: lark

#6956 Update todoist extension
  extensions/todoist/CHANGELOG.md
  extensions/todoist/package.json
  extensions/todoist/src/components/ProjectListItem.tsx
Labels: extension fix / improvement, extension: todoist

#6972 [ Quantumcast ] - New command "Open Cloudflow Whitepaper"
  extensions/quantumcast/CHANGELOG.md
  extensions/quantumcast/metadata/quantumcast-10.png
  extensions/quantumcast/metadata/quantumcast-11.png
  extensions/quantumcast/package-lock.json
  extensions/quantumcast/package.json
  extensions/quantumcast/src/open-cloudflow-collection.tsx
  extensions/quantumcast/src/open-cloudflow-whitepaper.tsx
Labels: extension fix / improvement, OP is author, extension: quantumcast

#6633 [1 LOC] Fix broken URL
  extensions/1loc/.gitignore
  extensions/1loc/CHANGELOG.md
  extensions/1loc/README.md
  extensions/1loc/metadata/1loc-1.png
  extensions/1loc/metadata/1loc-2.png
  extensions/1loc/package-lock.json
  extensions/1loc/package.json
  extensions/1loc/src/components/snippet-content.tsx
  extensions/1loc/src/index.tsx
  extensions/1loc/src/snippet.tsx
Labels: extension fix / improvement, extension: 1loc

#6329 VSCode: Add extension commands
  extensions/visual-studio-code-recent-projects/.eslintrc.json
  extensions/visual-studio-code-recent-projects/.gitignore
  extensions/visual-studio-code-recent-projects/CHANGELOG.md
  extensions/visual-studio-code-recent-projects/package-lock.json
  extensions/visual-studio-code-recent-projects/package.json
  extensions/visual-studio-code-recent-projects/src/commandpalette.tsx
  extensions/visual-studio-code-recent-projects/src/extension-actions.tsx
  extensions/visual-studio-code-recent-projects/src/extensions.tsx
  extensions/visual-studio-code-recent-projects/src/install-extension.tsx
  extensions/visual-studio-code-recent-projects/src/lib/vscode.ts
  extensions/visual-studio-code-recent-projects/src/utils.ts
  extensions/visual-studio-code-recent-projects/tsconfig.json
Labels: extension fix / improvement, OP is contributor, extension: visual-studio-code

#6914 Add adb extension
  extensions/adb/.eslintrc.json
  extensions/adb/.gitignore
  extensions/adb/.prettierrc
  extensions/adb/CHANGELOG.md
  extensions/adb/README.md
  extensions/adb/assets/adb.png
  extensions/adb/package-lock.json
  extensions/adb/package.json
  extensions/adb/src/adb-airplane.ts
  extensions/adb/src/adb-dark-mode.ts
  extensions/adb/src/adb-open-locale-settings.ts
  extensions/adb/src/adb-open-url.ts
  extensions/adb/src/adb-screenshots.ts
  extensions/adb/src/adb-wifi.ts
  extensions/adb/src/adb-write.ts
  extensions/adb/src/utils.ts
  extensions/adb/tsconfig.json
Labels: new extension

#6901 Add Cacher extension
  extensions/cacher/.editorconfig
  extensions/cacher/.eslintrc.json
  extensions/cacher/.gitignore
  extensions/cacher/.lintstagedrc.json
  extensions/cacher/.prettierrc
  extensions/cacher/CHANGELOG.md
  extensions/cacher/README.md
  extensions/cacher/assets/cacher.png
  extensions/cacher/media/api-credentials.png
  extensions/cacher/media/cacher-logo.png
  extensions/cacher/media/raycast-cacher-settings.png
  extensions/cacher/metadata/cacher-1.png
  extensions/cacher/metadata/cacher-2.png
  extensions/cacher/metadata/cacher-3.png
  extensions/cacher/metadata/cacher-4.png
  extensions/cacher/package-lock.json
  extensions/cacher/package.json
  extensions/cacher/src/components/auth-error.tsx
  extensions/cacher/src/components/search-snippets/item-actions.tsx
  extensions/cacher/src/components/search-snippets/item-detail.tsx
  extensions/cacher/src/components/search-snippets/search-bar-accessory.tsx
  extensions/cacher/src/config.ts
  extensions/cacher/src/create-snippet.tsx
  extensions/cacher/src/lib/constants/colors.ts
  extensions/cacher/src/lib/constants/urls.ts
  extensions/cacher/src/lib/hooks/use-auth-fetch.ts
  extensions/cacher/src/lib/types/label.ts
  extensions/cacher/src/lib/types/library.ts
  extensions/cacher/src/lib/types/preferences.ts
  extensions/cacher/src/lib/types/snippet-file.ts
  extensions/cacher/src/lib/types/snippet-filters.ts
  extensions/cacher/src/lib/types/snippet.ts
  extensions/cacher/src/lib/types/snippets-response.ts
  extensions/cacher/src/lib/types/team.ts
  extensions/cacher/src/lib/types/user.ts
  extensions/cacher/src/lib/utils/errors.ts
  extensions/cacher/src/lib/utils/file-types.ts
  extensions/cacher/src/lib/utils/snippet-utils.ts
  extensions/cacher/src/search-snippets.tsx
  extensions/cacher/tsconfig.json
Labels: new extension

#6806 Add raytaskwarrior extension
  extensions/raytaskwarrior/.eslintrc.json
  extensions/raytaskwarrior/.gitignore
  extensions/raytaskwarrior/.prettierrc
  extensions/raytaskwarrior/CHANGELOG.md
  extensions/raytaskwarrior/README.md
  extensions/raytaskwarrior/assets/icon.png
  extensions/raytaskwarrior/metadata/raytaskwarrior-1.png
  extensions/raytaskwarrior/metadata/raytaskwarrior-2.png
  extensions/raytaskwarrior/metadata/raytaskwarrior-3.png
  extensions/raytaskwarrior/metadata/raytaskwarrior-4.png
  extensions/raytaskwarrior/metadata/raytaskwarrior-5.png
  extensions/raytaskwarrior/package-lock.json
  extensions/raytaskwarrior/package.json
  extensions/raytaskwarrior/src/addTaskAdvanced.tsx
  extensions/raytaskwarrior/src/addTaskSimple.tsx
  extensions/raytaskwarrior/src/api.ts
  extensions/raytaskwarrior/src/components/Details.tsx
  extensions/raytaskwarrior/src/components/Modify.tsx
  extensions/raytaskwarrior/src/components/ProjectsDropdown.tsx
  extensions/raytaskwarrior/src/list-active-tasks.tsx
  extensions/raytaskwarrior/src/types/types.ts
  extensions/raytaskwarrior/src/utils/dateFormatters.ts
  extensions/raytaskwarrior/tsconfig.json
Labels: new extension

#6996 feat(Timers): menu bar improvements, reset stopwatches, end time for timers
  extensions/timers/CHANGELOG.md
  extensions/timers/package.json
  extensions/timers/src/hooks/useStopwatches.ts
  extensions/timers/src/manageStopwatches.tsx
  extensions/timers/src/manageTimers.tsx
  extensions/timers/src/previewAlertSounds.tsx
  extensions/timers/src/startCustomTimer.tsx
  extensions/timers/src/stopwatchMenuBar.tsx
  extensions/timers/src/stopwatchUtils.ts
  extensions/timers/src/timerUtils.ts
  extensions/timers/src/timersMenuBar.tsx
  extensions/timers/src/types.ts
Labels: extension fix / improvement, OP is author, extension: timers

#6983 Update urban-dictionary extension
  extensions/urban-dictionary/.gitignore
  extensions/urban-dictionary/.prettierrc
  extensions/urban-dictionary/assets/urban.png
  extensions/urban-dictionary/package-lock.json
  extensions/urban-dictionary/package.json
  extensions/urban-dictionary/src/index.tsx
  extensions/urban-dictionary/tsconfig.json
Labels: extension fix / improvement, extension: urban-dictionary

#6464 [New Extension] Apple Mail
  extensions/mail/.eslintrc.json
  extensions/mail/.prettierrc
  extensions/mail/CHANGELOG.md
  extensions/mail/README.md
  extensions/mail/assets/icons/archive.svg
  extensions/mail/assets/icons/envelope.svg
  extensions/mail/assets/icons/flagged.svg
  extensions/mail/assets/icons/important.svg
  extensions/mail/assets/icons/inbox.svg
  extensions/mail/assets/icons/junk.svg
  extensions/mail/assets/icons/mail.png
  extensions/mail/assets/icons/recent.svg
  extensions/mail/assets/icons/save-as.png
  extensions/mail/assets/icons/save.png
  extensions/mail/assets/icons/sent.svg
  extensions/mail/assets/icons/trash.svg
  extensions/mail/assets/mail.png
  extensions/mail/metadata/Mail-2.png
  extensions/mail/metadata/Mail-3.png
  extensions/mail/metadata/Mail-4.png
  extensions/mail/metadata/Mail-5.png
  extensions/mail/metadata/Mail-6.png
  extensions/mail/package-lock.json
  extensions/mail/package.json
  extensions/mail/raycast-env.d.ts
  extensions/mail/src/check-for-mail.tsx
  extensions/mail/src/clear-cache.tsx
  extensions/mail/src/components/attachment-list.tsx
  extensions/mail/src/components/compose-message.tsx
  extensions/mail/src/components/error-detail.tsx
  extensions/mail/src/components/index.ts
  extensions/mail/src/components/mailbox-list.tsx
  extensions/mail/src/components/message-actions.tsx
  extensions/mail/src/components/message-detail.tsx
  extensions/mail/src/components/message-list.tsx
  extensions/mail/src/compose-new-message.tsx
  extensions/mail/src/refresh-mail.tsx
  extensions/mail/src/scripts/accounts.ts
  extensions/mail/src/scripts/attachments.ts
  extensions/mail/src/scripts/messages.ts
  extensions/mail/src/see-important-mail.tsx
  extensions/mail/src/see-mail-accounts.tsx
  extensions/mail/src/see-recent-mail.tsx
  extensions/mail/src/share-with-mail.tsx
  extensions/mail/src/types/common.ts
  extensions/mail/src/types/index.ts
  extensions/mail/src/utils/cache.ts
  extensions/mail/src/utils/common.ts
  extensions/mail/src/utils/date.ts
  extensions/mail/src/utils/finder.ts
  extensions/mail/src/utils/index.ts
  extensions/mail/src/utils/mailbox.ts
  extensions/mail/src/utils/presets.ts
  extensions/mail/src/utils/string.ts
  extensions/mail/src/utils/turndown/block-anchors.ts
  extensions/mail/src/utils/turndown/hide-elements.ts
  extensions/mail/src/utils/turndown/index.ts
  extensions/mail/src/utils/validation.ts
  extensions/mail/tsconfig.json
Labels: new extension

#7042 Update Keyboard maestro
  extensions/keyboard-maestro/.eslintrc.json
  extensions/keyboard-maestro/.gitignore
  extensions/keyboard-maestro/CHANGELOG.md
  extensions/keyboard-maestro/package-lock.json
  extensions/keyboard-maestro/package.json
  extensions/keyboard-maestro/src/list.tsx
  extensions/keyboard-maestro/tsconfig.json
Labels: extension fix / improvement, OP is author, extension: list-keyboard-maestro-macros

#7043 Update Harvest
  extensions/harvest/.gitignore
  extensions/harvest/CHANGELOG.md
  extensions/harvest/package-lock.json
  extensions/harvest/package.json
  extensions/harvest/src/listTimeEntries.tsx
  extensions/harvest/src/new.tsx
  extensions/harvest/src/services/harvest.ts
Labels: extension fix / improvement, OP is author, extension: harvest

#7041 [Music]: Fix could not load command
  extensions/music/CHANGELOG.md
  extensions/music/package-lock.json
  extensions/music/package.json
  extensions/music/src/add-to-library.tsx
  extensions/music/src/love-and-add-to-library.tsx
  extensions/music/src/next-track.tsx
  extensions/music/src/pause.tsx
  extensions/music/src/play.tsx
  extensions/music/src/previous-track.tsx
  extensions/music/src/reveal-track.tsx
  extensions/music/src/toggle-play-pause.tsx
  extensions/music/src/toggle-shuffle.tsx
Labels: extension fix / improvement, OP is author, extension: music

#7031 [Obsidian] Update bookmark support
  extensions/obsidian/.eslintrc.json
  extensions/obsidian/CHANGELOG.md
  extensions/obsidian/README.md
  extensions/obsidian/assets/bookmark.svg
  extensions/obsidian/package-lock.json
  extensions/obsidian/package.json
  extensions/obsidian/src/appendTaskCommand.tsx
  extensions/obsidian/src/components/NoteList/NoteListItem.tsx
  extensions/obsidian/src/components/NoteList/NoteListObsidian.tsx
  extensions/obsidian/src/components/NoteQuickLook.tsx
  extensions/obsidian/src/components/Notifications/NoPathProvided.tsx
  extensions/obsidian/src/obsidianMenuBar.tsx
  extensions/obsidian/src/searchNoteCommand.tsx
  extensions/obsidian/src/starredNotesCommand.tsx
  extensions/obsidian/src/utils/actions.tsx
  extensions/obsidian/src/utils/constants.tsx
  extensions/obsidian/src/utils/data/loader.tsx
  extensions/obsidian/src/utils/data/reducers.tsx
  extensions/obsidian/src/utils/hooks.tsx
  extensions/obsidian/src/utils/interfaces.tsx
  extensions/obsidian/src/utils/preferences.tsx
  extensions/obsidian/src/utils/utils.tsx
Labels: extension fix / improvement, OP is author, extension: obsidian

#7019 [Bitwarden] Fix search by username
  extensions/bitwarden/CHANGELOG.md
  extensions/bitwarden/package-lock.json
  extensions/bitwarden/package.json
  extensions/bitwarden/src/constants/preferences.ts
  extensions/bitwarden/src/utils/search.ts
Labels: extension fix / improvement, OP is author, extension: bitwarden

#7026 [Update Extension] System Monitor - Add Time On Battery - close #6954
  extensions/system-monitor/CHANGELOG.md
  extensions/system-monitor/src/Interfaces.tsx
  extensions/system-monitor/src/Power/PowerMonitor.tsx
  extensions/system-monitor/src/Power/PowerUtils.tsx
Labels: extension fix / improvement, OP is contributor, extension: raycast-system-monitor

#6527 Update dockerhub extension
  extensions/dockerhub/.gitignore
  extensions/dockerhub/CHANGELOG.md
  extensions/dockerhub/package-lock.json
  extensions/dockerhub/package.json
  extensions/dockerhub/src/components/Search.tsx
  extensions/dockerhub/src/components/SearchTags.tsx
  extensions/dockerhub/src/lib/hub/docker.ts
  extensions/dockerhub/src/lib/hub/types.ts
Labels: extension fix / improvement, extension: dockerhub

#6964 Add lunatask extension
  extensions/lunatask/.eslintrc.json
  extensions/lunatask/.gitignore
  extensions/lunatask/.prettierrc
  extensions/lunatask/CHANGELOG.md
  extensions/lunatask/README.md
  extensions/lunatask/assets/lunatask-icon.png
  extensions/lunatask/metadata/screenshot-01.png
  extensions/lunatask/metadata/screenshot-02.png
  extensions/lunatask/metadata/screenshot-03.png
  extensions/lunatask/package-lock.json
  extensions/lunatask/package.json
  extensions/lunatask/src/add-area.tsx
  extensions/lunatask/src/helpers/client.ts
  extensions/lunatask/src/helpers/getErrorHandler.ts
  extensions/lunatask/src/list-areas.tsx
  extensions/lunatask/src/new-task.tsx
  extensions/lunatask/tsconfig.json
Labels: new extension

#7007 [Switch Game Play History] Support display english name of games
  extensions/switch-game-play-history/CHANGELOG.md
  extensions/switch-game-play-history/metadata/switch-game-play-history-1.png
  extensions/switch-game-play-history/metadata/switch-game-play-history-2.png
  extensions/switch-game-play-history/metadata/switch-game-play-history-3.png
  extensions/switch-game-play-history/metadata/switch-game-play-history-4.png
  extensions/switch-game-play-history/package.json
  extensions/switch-game-play-history/src/components/DailyPlayHistoriesListItem.tsx
  extensions/switch-game-play-history/src/components/DailyPlayHistoriesSection.tsx
  extensions/switch-game-play-history/src/components/PlayHistoriesGrid.tsx
  extensions/switch-game-play-history/src/components/PlayHistoriesGridItem.tsx
  extensions/switch-game-play-history/src/helpers/nintendo.ts
Labels: extension fix / improvement, OP is author, extension: switch-game-play-history

#7029 Update copy-skeet-link extension
  extensions/copy-skeet-link/.gitignore
  extensions/copy-skeet-link/CHANGELOG.md
  extensions/copy-skeet-link/README.md
  extensions/copy-skeet-link/package-lock.json
  extensions/copy-skeet-link/package.json
  extensions/copy-skeet-link/src/index.ts
Labels: extension fix / improvement, OP is author, extension: copy-skeet-link

#7028 Use caching for app lists
  extensions/bitrise/.gitignore
  extensions/bitrise/CHANGELOG.md
  extensions/bitrise/package-lock.json
  extensions/bitrise/package.json
  extensions/bitrise/src/api/apps.ts
  extensions/bitrise/src/api/index.ts
  extensions/bitrise/src/api/types.ts
  extensions/bitrise/src/apps.tsx
  extensions/bitrise/src/builds.tsx
  extensions/bitrise/src/start-build.tsx
  extensions/bitrise/src/util/error.ts
  extensions/bitrise/tsconfig.json
Labels: extension fix / improvement, OP is author, extension: bitrise

#7022 [Bugfix] Open Path
  extensions/open-path/CHANGELOG.md
  extensions/open-path/package-lock.json
  extensions/open-path/package.json
  extensions/open-path/src/open-path.tsx
  extensions/open-path/src/utils/common-utils.ts
  extensions/open-path/src/utils/path-utils.ts
Labels: extension fix / improvement, OP is author, extension: open-path

#6816 Update cratecast extension
  extensions/cratecast/.gitignore
  extensions/cratecast/CHANGELOG.md
  extensions/cratecast/metadata/Metadata.png
  extensions/cratecast/package-lock.json
  extensions/cratecast/package.json
  extensions/cratecast/src/api.ts
  extensions/cratecast/src/index.tsx
Labels: extension fix / improvement, extension: cratecast

#6961 Add raycast-translate-ge extension
  extensions/raycast-translate-ge/.eslintrc.json
  extensions/raycast-translate-ge/.gitignore
  extensions/raycast-translate-ge/.prettierrc
  extensions/raycast-translate-ge/CHANGELOG.md
  extensions/raycast-translate-ge/README.md
  extensions/raycast-translate-ge/assets/translate-logo.png
  extensions/raycast-translate-ge/metadata/raycast-translate-ge-1.png
  extensions/raycast-translate-ge/package-lock.json
  extensions/raycast-translate-ge/package.json
  extensions/raycast-translate-ge/src/WordListItem.tsx
  extensions/raycast-translate-ge/src/index.tsx
  extensions/raycast-translate-ge/src/types.ts
  extensions/raycast-translate-ge/tsconfig.json
Labels: new extension

#6982 Add kagi-fastgpt extension
  extensions/kagi-fastgpt/.eslintrc.json
  extensions/kagi-fastgpt/.gitignore
  extensions/kagi-fastgpt/.prettierrc
  extensions/kagi-fastgpt/CHANGELOG.md
  extensions/kagi-fastgpt/README.md
  extensions/kagi-fastgpt/assets/command-icon.png
  extensions/kagi-fastgpt/metadata/kagi-fastgpt-ask-argument.png
  extensions/kagi-fastgpt/metadata/kagi-fastgpt-response.png
  extensions/kagi-fastgpt/package-lock.json
  extensions/kagi-fastgpt/package.json
  extensions/kagi-fastgpt/src/ask.tsx
  extensions/kagi-fastgpt/src/interfaces/fastGPTResponse.ts
  extensions/kagi-fastgpt/src/interfaces/preferences.ts
  extensions/kagi-fastgpt/src/utils/axios.ts
  extensions/kagi-fastgpt/src/utils/fastGPT.ts
  extensions/kagi-fastgpt/tsconfig.json
Labels: new extension

#7051 Jira: Hide "Show Details" action on Detail view
  extensions/jira/CHANGELOG.md
  extensions/jira/src/components/IssueActions.tsx
  extensions/jira/src/components/IssueListItem.tsx
  extensions/jira/src/my-filters.tsx
Labels: extension fix / improvement, OP is author, extension: jira

#7050 [Cacher] Bug fixes for one-line snippets
  extensions/cacher/CHANGELOG.md
  extensions/cacher/package.json
  extensions/cacher/src/components/search-snippets/item-detail.tsx
Labels: extension fix / improvement, OP is author, extension: cacher

#7060 Update go-package-search extension
  extensions/go-package-search/.gitignore
  extensions/go-package-search/CHANGELOG.md
  extensions/go-package-search/metadata/Metadata.png
  extensions/go-package-search/metadata/screenshot-01.png
  extensions/go-package-search/package.json
  extensions/go-package-search/src/index.tsx
Labels: extension fix / improvement, extension: go-package-search

#7032 [Folder-Search] Fix for issues 4391, 6333, 6333
  extensions/folder-search/CHANGELOG.md
  extensions/folder-search/src/libs/node-spotlight/index.tsx
  extensions/folder-search/src/search-spotlight.tsx
  extensions/folder-search/src/search.tsx
  extensions/folder-search/src/utils.tsx
Labels: extension fix / improvement, OP is contributor, extension: folder-search

#6662 [hyper-focus] feat: load full configuration data for richer UI display
  extensions/hyper-focus/CHANGELOG.md
  extensions/hyper-focus/src/index.tsx
Labels: extension fix / improvement, OP is author, extension: hyper-focus

#7064 Update speedtest extension
  extensions/speedtest/CHANGELOG.md
  extensions/speedtest/package.json
  extensions/speedtest/src/index.tsx
Labels: extension fix / improvement, extension: speedtest

#6942 feat: enable auto-refresh for kill-process
  extensions/kill-process/.eslintrc.json
  extensions/kill-process/.gitignore
  extensions/kill-process/CHANGELOG.md
  extensions/kill-process/package-lock.json
  extensions/kill-process/package.json
  extensions/kill-process/src/hooks/use-interval.tsx
  extensions/kill-process/src/index.tsx
  extensions/kill-process/tsconfig.json
Labels: extension fix / improvement, extension: kill-process

#7083 [Home Assistant] Add support for internal url + mDNS support
  extensions/homeassistant/CHANGELOG.md
  extensions/homeassistant/README.md
  extensions/homeassistant/package-lock.json
  extensions/homeassistant/package.json
  extensions/homeassistant/src/common.ts
  extensions/homeassistant/src/connection.tsx
  extensions/homeassistant/src/dashboard.tsx
  extensions/homeassistant/src/haapi.ts
  extensions/homeassistant/src/lib/mdns.ts
  extensions/homeassistant/src/lib/wifi.ts
Labels: extension fix / improvement, OP is author, extension: homeassistant

#7090 Fixed contributors in Authy extension
  extensions/authy/CHANGELOG.md
  extensions/authy/package.json
Labels: extension fix / improvement, extension: authy

#6595 Misc updates to CoinGecko extension calculate command
  extensions/coingecko/.gitignore
  extensions/coingecko/CHANGELOG.md
  extensions/coingecko/package-lock.json
  extensions/coingecko/package.json
  extensions/coingecko/src/calculate.tsx
  extensions/coingecko/src/service.ts
Labels: extension fix / improvement, OP is contributor, extension: coingecko

#7092 Update web-converter extension
  extensions/convert/CHANGELOG.md
  extensions/convert/README.md
  extensions/convert/package-lock.json
  extensions/convert/package.json
  extensions/convert/src/colors.ts
  extensions/convert/src/conversions.ts
  extensions/convert/src/convert.tsx
  extensions/convert/src/spacings.ts
Labels: extension fix / improvement, OP is author, extension: web-converter

#7097 Update raycast-system-monitor extension
  extensions/system-monitor/CHANGELOG.md
  extensions/system-monitor/src/Power/PowerMonitor.tsx
Labels: extension fix / improvement, OP is contributor, extension: raycast-system-monitor

#7008 Add flush-dns extension
  extensions/flush-dns/.eslintrc.json
  extensions/flush-dns/.gitignore
  extensions/flush-dns/.prettierrc
  extensions/flush-dns/CHANGELOG.md
  extensions/flush-dns/README.md
  extensions/flush-dns/assets/extension_icon.png
  extensions/flush-dns/package-lock.json
  extensions/flush-dns/package.json
  extensions/flush-dns/src/index.ts
  extensions/flush-dns/tsconfig.json
Labels: new extension

#7078 Update chatgpt-quick-actions
  extensions/chatgpt-quick-actions/CHANGELOG.md
  extensions/chatgpt-quick-actions/package.json
  extensions/chatgpt-quick-actions/src/util.ts
Labels: extension fix / improvement, OP is author, extension: chatgpt-quick-actions

#6966 Add shadcn/ui extension
  extensions/shadcn-ui/.eslintrc.json
  extensions/shadcn-ui/.gitignore
  extensions/shadcn-ui/.prettierrc
  extensions/shadcn-ui/CHANGELOG.md
  extensions/shadcn-ui/README.md
  extensions/shadcn-ui/assets/demo-thumbnail.png
  extensions/shadcn-ui/assets/extension-icon.png
  extensions/shadcn-ui/assets/npm-icon.png
  extensions/shadcn-ui/assets/pnpm-icon.png
  extensions/shadcn-ui/assets/shadcn-ui-home.png
  extensions/shadcn-ui/assets/yarn-icon.png
  extensions/shadcn-ui/metadata/shadcn-ui-01.png
  extensions/shadcn-ui/metadata/shadcn-ui-02.png
  extensions/shadcn-ui/metadata/shadcn-ui-03.png
  extensions/shadcn-ui/metadata/shadcn-ui-04.png
  extensions/shadcn-ui/metadata/shadcn-ui-05.png
  extensions/shadcn-ui/metadata/shadcn-ui-06.png
  extensions/shadcn-ui/package-lock.json
  extensions/shadcn-ui/package.json
  extensions/shadcn-ui/src/constants.ts
  extensions/shadcn-ui/src/documentation/shadcn-ui-documentation.ts
  extensions/shadcn-ui/src/search-components.tsx
  extensions/shadcn-ui/src/search-documentation.tsx
  extensions/shadcn-ui/src/search-examples.tsx
  extensions/shadcn-ui/tsconfig.json
Labels: new extension

#7073 Update adb extension
  extensions/adb/.gitignore
  extensions/adb/CHANGELOG.md
  extensions/adb/README.md
  extensions/adb/package.json
  extensions/adb/src/adb-display-size.ts
  extensions/adb/src/adb-font-size.ts
  extensions/adb/src/adb-large-font-display.ts
  extensions/adb/src/adb-reset-font-display.ts
Labels: extension fix / improvement, OP is author, extension: adb

#7094 [translate] - fix Hebrew language code from he to iw
  extensions/google-translate/CHANGELOG.md
  extensions/google-translate/package.json
  extensions/google-translate/src/supportedLanguages.json
  extensions/google-translate/src/supportedLanguagesByCode.json
Labels: extension fix / improvement, extension: translate

#7011 [Todoist] Add subtasks to menubar
  extensions/todoist/CHANGELOG.md
  extensions/todoist/package.json
  extensions/todoist/src/components/MenubarTask.tsx
Labels: extension fix / improvement, OP is contributor, extension: todoist

#7059 Add date-converter extension
  extensions/date-converter/.eslintrc.json
  extensions/date-converter/.gitignore
  extensions/date-converter/.prettierrc
  extensions/date-converter/CHANGELOG.md
  extensions/date-converter/README.md
  extensions/date-converter/assets/extension-icon.png
  extensions/date-converter/metadata/date-converter-1.png
  extensions/date-converter/metadata/date-converter-2.png
  extensions/date-converter/package-lock.json
  extensions/date-converter/package.json
  extensions/date-converter/src/index.tsx
  extensions/date-converter/tsconfig.json
Labels: new extension

#7089 Add mute-microphone extension
  extensions/mute-microphone/.eslintrc.json
  extensions/mute-microphone/.gitignore
  extensions/mute-microphone/.prettierrc
  extensions/mute-microphone/CHANGELOG.md
  extensions/mute-microphone/README.md
  extensions/mute-microphone/assets/mute-command-icon.png
  extensions/mute-microphone/package-lock.json
  extensions/mute-microphone/package.json
  extensions/mute-microphone/src/mute-menu-bar.tsx
  extensions/mute-microphone/src/toggle-mute.tsx
  extensions/mute-microphone/src/utils.ts
  extensions/mute-microphone/tsconfig.json
Labels: new extension

#7034 [Obsidian] Use new brand icon
  extensions/obsidian/CHANGELOG.md
  extensions/obsidian/README.md
  extensions/obsidian/assets/command-icon.png
  extensions/obsidian/assets/extension_icon.png
  extensions/obsidian/assets/obsidian-icon-black-bold.svg
  extensions/obsidian/assets/obsidian-icon-black-bolder.svg
  extensions/obsidian/assets/obsidian-icon-white-bold.svg
  extensions/obsidian/assets/obsidian-icon-white-bolder.svg
  extensions/obsidian/assets/obsidian-icon-white.svg
  extensions/obsidian/assets/obsidian_icon.svg
  extensions/obsidian/package.json
  extensions/obsidian/src/obsidianMenuBar.tsx
  extensions/obsidian/src/utils/actions.tsx
  extensions/obsidian/src/utils/constants.tsx
Labels: extension fix / improvement, extension: obsidian

#6974 Add speed-dial extension
  extensions/speed-dial/.eslintrc.json
  extensions/speed-dial/.gitignore
  extensions/speed-dial/.prettierrc
  extensions/speed-dial/CHANGELOG.md
  extensions/speed-dial/README.md
  extensions/speed-dial/assets/extension-icon.png
  extensions/speed-dial/assets/icons/meet.png
  extensions/speed-dial/assets/icons/teams.png
  extensions/speed-dial/assets/icons/zoom.png
  extensions/speed-dial/metadata/speed-dial-1.png
  extensions/speed-dial/metadata/speed-dial-2.png
  extensions/speed-dial/metadata/speed-dial-3.png
  extensions/speed-dial/metadata/speed-dial-4.png
  extensions/speed-dial/package-lock.json
  extensions/speed-dial/package.json
  extensions/speed-dial/src/add-room.tsx
  extensions/speed-dial/src/components/AddRoomForm.tsx
  extensions/speed-dial/src/components/EditRoomForm.tsx
  extensions/speed-dial/src/components/ListRooms.tsx
  extensions/speed-dial/src/contexts/RoomsContext.tsx
  extensions/speed-dial/src/edit-room.tsx
  extensions/speed-dial/src/list-rooms.tsx
  extensions/speed-dial/src/types.ts
  extensions/speed-dial/src/utils/index.ts
  extensions/speed-dial/tsconfig.json
Labels: new extension

#7119 Update mute-microphone extension
  extensions/mute-microphone/CHANGELOG.md
  extensions/mute-microphone/README.md
  extensions/mute-microphone/media/commands.png
  extensions/mute-microphone/media/zoom-automatic-audio.png
  extensions/mute-microphone/src/mute-menu-bar.tsx
  extensions/mute-microphone/src/shared/utils.ts
  extensions/mute-microphone/src/toggle-mute.tsx
Labels: extension fix / improvement, OP is author, extension: mute-microphone

#7058 Add lemmy extension
  extensions/lemmy/.eslintrc.json
  extensions/lemmy/.gitignore
  extensions/lemmy/.prettierrc
  extensions/lemmy/CHANGELOG.md
  extensions/lemmy/README.md
  extensions/lemmy/assets/command-icon.png
  extensions/lemmy/metadata/lemmy-1.png
  extensions/lemmy/metadata/lemmy-2.png
  extensions/lemmy/metadata/lemmy-3.png
  extensions/lemmy/metadata/lemmy-4.png
  extensions/lemmy/package-lock.json
  extensions/lemmy/package.json
  extensions/lemmy/src/components/CommunityItem.tsx
  extensions/lemmy/src/components/MentionItem.tsx
  extensions/lemmy/src/components/PostItem.tsx
  extensions/lemmy/src/components/ReplyItem.tsx
  extensions/lemmy/src/components/UserItem.tsx
  extensions/lemmy/src/interfaces/preferences.ts
  extensions/lemmy/src/notifications.tsx
  extensions/lemmy/src/search.tsx
  extensions/lemmy/src/timeline.tsx
  extensions/lemmy/src/utils/lemmy.ts
  extensions/lemmy/src/utils/mentions.ts
  extensions/lemmy/src/utils/posts.ts
  extensions/lemmy/src/utils/replies.ts
  extensions/lemmy/src/utils/search.ts
  extensions/lemmy/src/views/CommunityTimeline.tsx
  extensions/lemmy/tsconfig.json
Labels: new extension

#7135 Add Raycast Explorer extension
  extensions/raycast-explorer/.eslintrc.json
  extensions/raycast-explorer/.gitignore
  extensions/raycast-explorer/.prettierrc
  extensions/raycast-explorer/CHANGELOG.md
  extensions/raycast-explorer/README.md
  extensions/raycast-explorer/assets/extension-icon.png
  extensions/raycast-explorer/assets/prompts-icon.png
  extensions/raycast-explorer/assets/snippets-icon.png
  extensions/raycast-explorer/assets/themes-icon.png
  extensions/raycast-explorer/metadata/raycast-explorer-1.png
  extensions/raycast-explorer/metadata/raycast-explorer-2.png
  extensions/raycast-explorer/metadata/raycast-explorer-3.png
  extensions/raycast-explorer/metadata/raycast-explorer-4.png
  extensions/raycast-explorer/metadata/raycast-explorer-5.png
  extensions/raycast-explorer/metadata/raycast-explorer-6.png
  extensions/raycast-explorer/metadata/raycast-explorer-7.png
  extensions/raycast-explorer/package-lock.json
  extensions/raycast-explorer/package.json
  extensions/raycast-explorer/src/api.ts
  extensions/raycast-explorer/src/data/prompts.ts
  extensions/raycast-explorer/src/data/snippets.ts
  extensions/raycast-explorer/src/explore-prompts.tsx
  extensions/raycast-explorer/src/explore-snippets.tsx
  extensions/raycast-explorer/src/explore-themes.tsx
  extensions/raycast-explorer/src/helpers.ts
  extensions/raycast-explorer/tsconfig.json
Labels: new extension

#7139 GitHub: Add more branches to the into field
  extensions/github/CHANGELOG.md
  extensions/github/src/components/IssueActions.tsx
  extensions/github/src/create-pull-request.tsx
Labels: extension fix / improvement, OP is author, extension: github

#7171 Update youtube-downloader extension
  extensions/youtube-downloader/.gitignore
  extensions/youtube-downloader/CHANGELOG.md
  extensions/youtube-downloader/metadata/youtube-downloader-1.png
  extensions/youtube-downloader/metadata/youtube-downloader-2.png
  extensions/youtube-downloader/package-lock.json
  extensions/youtube-downloader/package.json
Labels: extension fix / improvement, extension: youtube-downloader

#7142 [Obsidian] Fix menu bar icon colors
  extensions/obsidian/CHANGELOG.md
  extensions/obsidian/src/utils/constants.tsx
Labels: extension fix / improvement, extension: obsidian

#7156 [YouVersion Bible Suggest] Update YouVersion Bible Suggest extension to latest (v3.3.0)
  extensions/youversion-suggest/CHANGELOG.md
  extensions/youversion-suggest/package-lock.json
  extensions/youversion-suggest/package.json
  extensions/youversion-suggest/src/search-bible.tsx
  extensions/youversion-suggest/src/utilities.ts
Labels: extension fix / improvement, OP is author, extension: youversion-suggest

#7148 Update apple-devices extension
  extensions/apple-devices/CHANGELOG.md
  extensions/apple-devices/package-lock.json
  extensions/apple-devices/package.json
  extensions/apple-devices/src/components/searchbar.tsx
  extensions/apple-devices/src/types/index.d.ts
Labels: extension fix / improvement, OP is author, extension: apple-devices

#7154 Update cidr extension
  extensions/cidr/CHANGELOG.md
  extensions/cidr/package-lock.json
  extensions/cidr/package.json
  extensions/cidr/src/utils/cidr-utils.ts
  extensions/cidr/src/utils/constants.ts
  extensions/cidr/tests/ip.integration.test.ts
Labels: extension fix / improvement, OP is author, extension: cidr

#7129 [YouTube] Add support for fallback commands
  extensions/youtube/CHANGELOG.md
  extensions/youtube/src/search-channel.tsx
  extensions/youtube/src/search-videos.tsx
Labels: extension fix / improvement, OP is author, extension: youtube

#7157 update: added api token support
  extensions/search-chatwork/CHANGELOG.md
  extensions/search-chatwork/README.md
  extensions/search-chatwork/chatwork-api-token-example.png
  extensions/search-chatwork/package.json
  extensions/search-chatwork/src/model/Preferences.ts
  extensions/search-chatwork/src/utils/chatwork-api.tsx
Labels: extension fix / improvement, OP is author, extension: chatwork-search

#7176 BitBucket: Remove usage of deprecated `render` function.
  extensions/bitbucket/src/searchMyOpenPullRequests.tsx
  extensions/bitbucket/src/searchRepositories.tsx
Labels: extension fix / improvement, extension: bitbucket

#7177 Grafana: Remove usage of deprecated render function.
  extensions/grafana/src/createAnnotation.tsx
  extensions/grafana/src/searchAnnotations.tsx
  extensions/grafana/src/searchDashboards.tsx
Labels: extension fix / improvement, extension: grafana

#7178 SwitchHosts: Remove usage of deprecated render function
  extensions/switchhosts/src/switchhosts.tsx
Labels: extension fix / improvement, extension: switchhosts

#7113 Add neodb extension
  extensions/neodb/.eslintrc.json
  extensions/neodb/.gitignore
  extensions/neodb/.prettierrc
  extensions/neodb/CHANGELOG.md
  extensions/neodb/LICENSE
  extensions/neodb/README.md
  extensions/neodb/assets/command-icon.png
  extensions/neodb/metadata/neodb-1.png
  extensions/neodb/metadata/neodb-2.png
  extensions/neodb/metadata/neodb-3.png
  extensions/neodb/metadata/neodb-4.png
  extensions/neodb/package-lock.json
  extensions/neodb/package.json
  extensions/neodb/pnpm-lock.yaml
  extensions/neodb/src/ItemDetail.tsx
  extensions/neodb/src/components/BookMeta.tsx
  extensions/neodb/src/components/GameMeta.tsx
  extensions/neodb/src/components/MovieMeta.tsx
  extensions/neodb/src/components/MusicMeta.tsx
  extensions/neodb/src/components/PerformanceMeta.tsx
  extensions/neodb/src/components/PodcastMeta.tsx
  extensions/neodb/src/components/TVMeta.tsx
  extensions/neodb/src/hooks/useDetail.ts
  extensions/neodb/src/hooks/useSearch.ts
  extensions/neodb/src/search.tsx
  extensions/neodb/src/types.ts
  extensions/neodb/tsconfig.json
Labels: new extension

#7181 [GitHub] Show Issue/PR number in Notification
  extensions/github/CHANGELOG.md
  extensions/github/package.json
  extensions/github/src/generated/graphql.ts
  extensions/github/src/helpers/notifications.ts
Labels: extension fix / improvement, extension: github

#7193 [Pins] Bug fixes
  extensions/pins/CHANGELOG.md
  extensions/pins/package.json
  extensions/pins/src/lib/Groups.ts
  extensions/pins/src/lib/Pins.ts
  extensions/pins/src/lib/placeholders.ts
  extensions/pins/src/new-pin.tsx
  extensions/pins/src/view-pins.tsx
Labels: extension fix / improvement, OP is author, extension: pins

#7189 [UTM Virtual Machines] fix: properly parse VM names with spaces
  extensions/utm-virtual-machines/CHANGELOG.md
  extensions/utm-virtual-machines/src/index.tsx
Labels: extension fix / improvement, OP is author, extension: utm-virtual-machines

#7084 An extension to quickly create latex for your documents
  extensions/quick-latex/.eslintrc.json
  extensions/quick-latex/.gitignore
  extensions/quick-latex/.prettierrc
  extensions/quick-latex/CHANGELOG.md
  extensions/quick-latex/README.md
  extensions/quick-latex/assets/bird.png
  extensions/quick-latex/metadata/quick-latex-1.png
  extensions/quick-latex/metadata/quick-latex-2.png
  extensions/quick-latex/metadata/quick-latex-3.png
  extensions/quick-latex/metadata/quick-latex-4.png
  extensions/quick-latex/metadata/quick-latex-5.png
  extensions/quick-latex/package-lock.json
  extensions/quick-latex/package.json
  extensions/quick-latex/src/quick-latex.tsx
  extensions/quick-latex/tsconfig.json
Labels: new extension

#7180 Update howlongtobeat extension
  extensions/how-long-to-beat/CHANGELOG.md
  extensions/how-long-to-beat/src/hltbsearch.ts
  extensions/how-long-to-beat/src/index.tsx
Labels: extension fix / improvement, OP is contributor, extension: howlongtobeat

#7150 Add new features to JustWatch search
  extensions/justwatch-search/CHANGELOG.md
  extensions/justwatch-search/assets/command-icon.png
  extensions/justwatch-search/assets/imdb.png
  extensions/justwatch-search/metadata/justwatch-search-1.png
  extensions/justwatch-search/metadata/justwatch-search-2.png
  extensions/justwatch-search/metadata/justwatch-search-3.png
  extensions/justwatch-search/metadata/search-justwatch-1.png
  extensions/justwatch-search/metadata/search-justwatch-2.png
  extensions/justwatch-search/metadata/search-justwatch-3.png
  extensions/justwatch-search/metadata/search-justwatch-4.png
  extensions/justwatch-search/metadata/search-justwatch-5.png
  extensions/justwatch-search/package-lock.json
  extensions/justwatch-search/package.json
  extensions/justwatch-search/readme.md
  extensions/justwatch-search/src/api.ts
  extensions/justwatch-search/src/search-justwatch.tsx
  extensions/justwatch-search/src/types.ts
Labels: extension fix / improvement, OP is author, extension: search-justwatch

#7194 Fixed prettier
  extensions/how-long-to-beat/src/hltbsearch.ts
  extensions/how-long-to-beat/src/index.tsx
Labels: extension fix / improvement, extension: howlongtobeat

#7143 Update avatar extension
  extensions/avatar/.gitignore
  extensions/avatar/CHANGELOG.md
  extensions/avatar/package-lock.json
  extensions/avatar/package.json
Labels: extension fix / improvement, extension: avatar

#7127 Update date converter
  extensions/date-converter/CHANGELOG.md
  extensions/date-converter/package-lock.json
  extensions/date-converter/package.json
  extensions/date-converter/src/index.tsx
Labels: extension fix / improvement, OP is author, extension: date-converter

#7121 Update mute-microphone extension
  extensions/mute-microphone/CHANGELOG.md
  extensions/mute-microphone/README.md
Labels: extension fix / improvement, OP is author, extension: mute-microphone

#7108 Update mail extension
  extensions/mail/.gitignore
  extensions/mail/CHANGELOG.md
  extensions/mail/assets/icons/folder.svg
  extensions/mail/package.json
  extensions/mail/src/components/mailbox-list.tsx
  extensions/mail/src/scripts/accounts.ts
  extensions/mail/src/utils/mailbox.ts
  extensions/mail/src/utils/presets.ts
Labels: extension fix / improvement, extension: mail

#7101 Add vuejobs extension
  extensions/vuejobs/.eslintrc.json
  extensions/vuejobs/.gitignore
  extensions/vuejobs/.prettierrc
  extensions/vuejobs/CHANGELOG.md
  extensions/vuejobs/README.md
  extensions/vuejobs/assets/vuejobs.png
  extensions/vuejobs/metadata/Metadata-1.png
  extensions/vuejobs/metadata/Metadata-2.png
  extensions/vuejobs/metadata/Metadata-3.png
  extensions/vuejobs/package-lock.json
  extensions/vuejobs/package.json
  extensions/vuejobs/src/index.tsx
  extensions/vuejobs/src/menu-bar.tsx
  extensions/vuejobs/src/types.ts
  extensions/vuejobs/tsconfig.json
Labels: new extension

#7174 [openai-translator] add model `gpt-3.5-turbo-0613`
  extensions/openai-translator/CHANGELOG.md
  extensions/openai-translator/package.json
Labels: extension fix / improvement, extension: openai-translator

#7196 Update tmux-sessioner extension
  extensions/tmux-sessioner/CHANGELOG.md
  extensions/tmux-sessioner/package.json
  extensions/tmux-sessioner/src/SelectTermnialApp.tsx
  extensions/tmux-sessioner/src/pathUtils.ts
  extensions/tmux-sessioner/src/sessionUtils.ts
Labels: extension fix / improvement, OP is author, extension: tmux-sessioner

#7144 Update youtube extension
  extensions/youtube/.gitignore
  extensions/youtube/CHANGELOG.md
  extensions/youtube/package.json
  extensions/youtube/src/components/video.tsx
Labels: extension fix / improvement, extension: youtube

#7124 [keepassxc] Fix BUG
  extensions/keepassxc/CHANGELOG.md
  extensions/keepassxc/src/utils/keepassLoader.ts
Labels: extension fix / improvement, OP is author, extension: keepassxc

#6936 Add putio extension
  extensions/putio/.eslintrc.json
  extensions/putio/.gitignore
  extensions/putio/.nvmrc
  extensions/putio/.prettierrc
  extensions/putio/CHANGELOG.md
  extensions/putio/README.md
  extensions/putio/assets/no-view.png
  extensions/putio/assets/putio.png
  extensions/putio/metadata/1.png
  extensions/putio/metadata/2.png
  extensions/putio/metadata/3.png
  extensions/putio/metadata/4.png
  extensions/putio/metadata/5.png
  extensions/putio/package-lock.json
  extensions/putio/package.json
  extensions/putio/src/api/files.ts
  extensions/putio/src/api/history.ts
  extensions/putio/src/api/localizeError.ts
  extensions/putio/src/api/transfers.ts
  extensions/putio/src/api/withPutioClient.tsx
  extensions/putio/src/components/EmptyView.tsx
  extensions/putio/src/components/FileListItem.tsx
  extensions/putio/src/components/FileListItemActions.tsx
  extensions/putio/src/components/HistoryListItem.tsx
  extensions/putio/src/components/NoView.tsx
  extensions/putio/src/components/TransferErrorList.tsx
  extensions/putio/src/components/TransferListItem.tsx
  extensions/putio/src/files.tsx
  extensions/putio/src/history.tsx
  extensions/putio/src/new-transfer.tsx
  extensions/putio/src/rename-file.tsx
  extensions/putio/src/search-files.tsx
  extensions/putio/src/transfers.tsx
  extensions/putio/tsconfig.json
Labels: new extension

#7201 Update vuejobs extension
  extensions/vuejobs/CHANGELOG.md
  extensions/vuejobs/README.md
  extensions/vuejobs/package.json
  extensions/vuejobs/src/index.tsx
Labels: extension fix / improvement, OP is author, extension: vuejobs

#7155 Fixing fallback search and adding throttle to improve responsiveness
  extensions/folder-search/CHANGELOG.md
  extensions/folder-search/package.json
  extensions/folder-search/src/search.tsx
  extensions/folder-search/src/utils.tsx
Labels: extension fix / improvement, OP is contributor, extension: folder-search

#7163 Update pubme extension
  extensions/pubme/CHANGELOG.md
  extensions/pubme/README.md
  extensions/pubme/package.json
  extensions/pubme/src/index.tsx
Labels: extension fix / improvement, OP is author, extension: pubme

#6926 Update doccheck extension
  extensions/doccheck/CHANGELOG.md
  extensions/doccheck/README.md
  extensions/doccheck/assets/command-icon.png
  extensions/doccheck/metadata/doccheck-1.png
  extensions/doccheck/metadata/doccheck-10.png
  extensions/doccheck/metadata/doccheck-11.png
  extensions/doccheck/metadata/doccheck-2.png
  extensions/doccheck/metadata/doccheck-3.png
  extensions/doccheck/metadata/doccheck-4.png
  extensions/doccheck/metadata/doccheck-5.png
  extensions/doccheck/metadata/doccheck-6.png
  extensions/doccheck/metadata/doccheck-7.png
  extensions/doccheck/metadata/doccheck-8.png
  extensions/doccheck/metadata/doccheck-9.png
  extensions/doccheck/package.json
  extensions/doccheck/src/doccheck-flexikon.tsx
  extensions/doccheck/src/doccheck-page.tsx
  extensions/doccheck/src/open-page.tsx
Labels: extension fix / improvement, OP is author, extension: doccheck

#6254 Add french-verb-conjugation extension
  extensions/french-verb-conjugation/.eslintrc.json
  extensions/french-verb-conjugation/.gitignore
  extensions/french-verb-conjugation/.prettierrc
  extensions/french-verb-conjugation/CHANGELOG.md
  extensions/french-verb-conjugation/README.md
  extensions/french-verb-conjugation/assets/french-conjugation-128.png
  extensions/french-verb-conjugation/assets/french-conjugation.png
  extensions/french-verb-conjugation/package-lock.json
  extensions/french-verb-conjugation/package.json
  extensions/french-verb-conjugation/src/index.tsx
  extensions/french-verb-conjugation/tsconfig.json
Labels: new extension

#6604 Change language names to the names on Google Translate
  extensions/google-translate/CHANGELOG.md
  extensions/google-translate/src/supportedLanguages.json
  extensions/google-translate/src/supportedLanguagesByCode.json
Labels: extension fix / improvement, extension: translate

#7213 Change language names to the names on Google Translate - Supplementary change
  extensions/google-translate/CHANGELOG.md
  extensions/google-translate/package.json
Labels: extension fix / improvement, extension: translate

#7215 Downloads Manager: Check permission
  extensions/downloads-manager/CHANGELOG.md
  extensions/downloads-manager/assets/permission.png
  extensions/downloads-manager/src/copy-latest-download.tsx
  extensions/downloads-manager/src/manage-downloads.tsx
  extensions/downloads-manager/src/open-latest-download.tsx
  extensions/downloads-manager/src/show-latest-download.tsx
  extensions/downloads-manager/src/utils.ts
  extensions/downloads-manager/src/utils.tsx
Labels: extension fix / improvement, OP is author, extension: downloads-manager

#7217 Transfer Putio
  .github/public_raycast_extensions.txt
  extensions/putio/package.json
Labels: extension fix / improvement, extension: putio

#7225 [Xcode] Create Swift Playground Bug Fix
  extensions/xcode/.gitignore
  extensions/xcode/CHANGELOG.md
  extensions/xcode/package-lock.json
  extensions/xcode/package.json
  extensions/xcode/src/services/xcode-swift-playground.service.ts
Labels: extension fix / improvement, OP is author, extension: xcode

#7219 added room search
  extensions/search-chatwork/CHANGELOG.md
  extensions/search-chatwork/package.json
  extensions/search-chatwork/src/search-chatwork.tsx
  extensions/search-chatwork/src/search-rooms.tsx
  extensions/search-chatwork/src/utils/constants.tsx
Labels: extension fix / improvement, OP is author, extension: chatwork-search

#5463 [New Extension] PromptLab
  extensions/promptlab/.eslintrc.json
  extensions/promptlab/.gitignore
  extensions/promptlab/.prettierrc
  extensions/promptlab/CHANGELOG.md
  extensions/promptlab/README.md
  extensions/promptlab/assets/command-icon.png
  extensions/promptlab/metadata/promptlab-1.png
  extensions/promptlab/metadata/promptlab-2.png
  extensions/promptlab/metadata/promptlab-3.png
  extensions/promptlab/metadata/promptlab-4.png
  extensions/promptlab/metadata/promptlab-5.png
  extensions/promptlab/metadata/promptlab-6.png
  extensions/promptlab/metadata/promptlab-7.png
  extensions/promptlab/package-lock.json
  extensions/promptlab/package.json
  extensions/promptlab/raycast-env.d.ts
  extensions/promptlab/src/ResponseActions.tsx
  extensions/promptlab/src/chat.tsx
  extensions/promptlab/src/components/CategoryDropdown.tsx
  extensions/promptlab/src/components/CommandChatView.tsx
  extensions/promptlab/src/components/CommandDetailView.tsx
  extensions/promptlab/src/components/CommandForm.tsx
  extensions/promptlab/src/components/CommandGridView.tsx
  extensions/promptlab/src/components/CommandListView.tsx
  extensions/promptlab/src/components/CommandResponse.tsx
  extensions/promptlab/src/create-command.tsx
  extensions/promptlab/src/default-commands.ts
  extensions/promptlab/src/discover-commands.tsx
  extensions/promptlab/src/hooks/useReplacements.ts
  extensions/promptlab/src/import-commands.tsx
  extensions/promptlab/src/search-commands.tsx
  extensions/promptlab/src/summarize-files.tsx
  extensions/promptlab/src/utils/calendar-utils.ts
  extensions/promptlab/src/utils/command-utils.ts
  extensions/promptlab/src/utils/constants.ts
  extensions/promptlab/src/utils/context-utils.ts
  extensions/promptlab/src/utils/file-extensions.ts
  extensions/promptlab/src/utils/file-utils.ts
  extensions/promptlab/src/utils/scripts.ts
  extensions/promptlab/src/utils/types.ts
  extensions/promptlab/src/utils/useModel.ts
  extensions/promptlab/tsconfig.json
Labels: new extension, Dont close

#7229 [Raycast inFakt]: default send copy and update types of bank account
  extensions/infakt/CHANGELOG.md
  extensions/infakt/src/components/invoices/MailInvoice.tsx
  extensions/infakt/src/types/bank_account.d.ts
Labels: extension fix / improvement, OP is author, extension: infakt

#6799 [kill-process] feat: sort by memory & aggregate apps
  extensions/kill-process/CHANGELOG.md
  extensions/kill-process/metadata/kill-process-1.png
  extensions/kill-process/metadata/kill-process-2.png
  extensions/kill-process/metadata/kill-process-3.png
  extensions/kill-process/metadata/screenshot-01.png
  extensions/kill-process/package-lock.json
  extensions/kill-process/package.json
  extensions/kill-process/src/index.tsx
Labels: extension fix / improvement, extension: kill-process

#7159 Add bintools extension
  extensions/bintools/.eslintrc.json
  extensions/bintools/.gitignore
  extensions/bintools/.prettierrc
  extensions/bintools/CHANGELOG.md
  extensions/bintools/README.md
  extensions/bintools/assets/command-icon.png
  extensions/bintools/package-lock.json
  extensions/bintools/package.json
  extensions/bintools/src/Float.ts
  extensions/bintools/src/calulator.ts
  extensions/bintools/src/index.tsx
  extensions/bintools/tsconfig.json
Labels: new extension

#7185 Add Aleph Tools extention
  extensions/aleph/.eslintrc.json
  extensions/aleph/.gitignore
  extensions/aleph/.prettierrc
  extensions/aleph/CHANGELOG.md
  extensions/aleph/assets/extension_icon.png
  extensions/aleph/assets/remove.png
  extensions/aleph/assets/reverse.png
  extensions/aleph/assets/tohebrew.png
  extensions/aleph/assets/tolatin.png
  extensions/aleph/metadata/screenshot.png
  extensions/aleph/package-lock.json
  extensions/aleph/package.json
  extensions/aleph/readme.md
  extensions/aleph/src/remove.tsx
  extensions/aleph/src/reverse.tsx
  extensions/aleph/src/to-hebrew.tsx
  extensions/aleph/src/to-latin.tsx
  extensions/aleph/src/util/clipboard.ts
  extensions/aleph/tsconfig.json
Labels: new extension

#7206 Add seedsnote extension
  extensions/seedsnote/.eslintrc.json
  extensions/seedsnote/.gitignore
  extensions/seedsnote/.prettierrc
  extensions/seedsnote/CHANGELOG.md
  extensions/seedsnote/README.md
  extensions/seedsnote/assets/logo.png
  extensions/seedsnote/metadata/seedsnote-1.png
  extensions/seedsnote/metadata/seedsnote-2.png
  extensions/seedsnote/package-lock.json
  extensions/seedsnote/package.json
  extensions/seedsnote/src/imgseed.tsx
  extensions/seedsnote/src/txtseed.tsx
  extensions/seedsnote/tsconfig.json
Labels: new extension

#7245 CSS.GG - Add 6k glyphs and grid view with filtering
  extensions/css-gg/CHANGELOG.md
  extensions/css-gg/README.md
  extensions/css-gg/metadata/css-gg-1.png
  extensions/css-gg/metadata/css-gg-2.png
  extensions/css-gg/metadata/css-gg-3.png
  extensions/css-gg/metadata/css-gg-4.png
  extensions/css-gg/metadata/css-gg-5.png
  extensions/css-gg/metadata/css-gg-6.png
  extensions/css-gg/package-lock.json
  extensions/css-gg/package.json
  extensions/css-gg/src/css-gg-glyphs.tsx
  extensions/css-gg/src/css-gg.tsx
  extensions/css-gg/src/list-or-grid.ts
Labels: extension fix / improvement, OP is author, extension: css-gg

#6998 Add obs-clippings extension
  extensions/obs-clippings/.eslintrc.json
  extensions/obs-clippings/.gitattributes
  extensions/obs-clippings/.gitattributes copy
  extensions/obs-clippings/.gitignore
  extensions/obs-clippings/.prettierrc
  extensions/obs-clippings/CHANGELOG.md
  extensions/obs-clippings/LICENSE
  extensions/obs-clippings/README.md
  extensions/obs-clippings/assets/command-icon.png
  extensions/obs-clippings/assets/obs-clippings-output.png
  extensions/obs-clippings/metadata/obs-clippings-form.png
  extensions/obs-clippings/package-lock.json
  extensions/obs-clippings/package.json
  extensions/obs-clippings/src/index.tsx
  extensions/obs-clippings/tsconfig.json
Labels: new extension

#7243 Update to new shadcn UI version
  extensions/shadcn-ui/CHANGELOG.md
  extensions/shadcn-ui/README.md
  extensions/shadcn-ui/assets/extension-icon.png
  extensions/shadcn-ui/metadata/shadcn-ui-01.png
  extensions/shadcn-ui/metadata/shadcn-ui-02.png
  extensions/shadcn-ui/metadata/shadcn-ui-03.png
  extensions/shadcn-ui/metadata/shadcn-ui-04.png
  extensions/shadcn-ui/metadata/shadcn-ui-05.png
  extensions/shadcn-ui/metadata/shadcn-ui-06.png
  extensions/shadcn-ui/src/documentation/shadcn-ui-documentation.ts
  extensions/shadcn-ui/src/search-components.tsx
Labels: extension fix / improvement, OP is author, extension: shadcn-ui

#7132 Update trello extension
  extensions/trello/.gitignore
  extensions/trello/CHANGELOG.md
  extensions/trello/package.json
  extensions/trello/src/Member.d.ts
  extensions/trello/src/createTodo.tsx
  extensions/trello/src/utils/getMembers.ts
  extensions/trello/src/utils/postTodo.tsx
  extensions/trello/src/utils/types.ts
Labels: extension fix / improvement, extension: trello

#6911 Add Tailwind Size Conversion extension
  extensions/px-to-tailwind/.eslintrc.json
  extensions/px-to-tailwind/.gitignore
  extensions/px-to-tailwind/.prettierrc
  extensions/px-to-tailwind/CHANGELOG.md
  extensions/px-to-tailwind/README.md
  extensions/px-to-tailwind/assets/icon.png
  extensions/px-to-tailwind/assets/noview.png
  extensions/px-to-tailwind/metadata/tailwind-size-conversion-1.png
  extensions/px-to-tailwind/package-lock.json
  extensions/px-to-tailwind/package.json
  extensions/px-to-tailwind/src/size-convert.tsx
  extensions/px-to-tailwind/tsconfig.json
Labels: new extension

#7257 Fix README.md missing images
  extensions/css-gg/README.md
Labels: extension fix / improvement, OP is author, extension: css-gg

#7256 Update charged extension
  extensions/charged/CHANGELOG.md
  extensions/charged/src/starknetStatsCommand.tsx
Labels: extension fix / improvement, extension: charged

#7262 [Bitrise] Handle pipelines and workflows
  extensions/bitrise/CHANGELOG.md
  extensions/bitrise/src/api/types.ts
  extensions/bitrise/src/api/workflows.ts
  extensions/bitrise/src/start-build.tsx
Labels: extension fix / improvement, OP is author, extension: bitrise

#7260 [Home Assistant] Get persistent notifications via WebSocket
  extensions/homeassistant/CHANGELOG.md
  extensions/homeassistant/src/notificationmenu.tsx
Labels: extension fix / improvement, OP is author, extension: homeassistant

#7223 Add one-time-secret extension
  extensions/one-time-secret/.eslintrc.json
  extensions/one-time-secret/.gitignore
  extensions/one-time-secret/.prettierrc
  extensions/one-time-secret/CHANGELOG.md
  extensions/one-time-secret/LICENSE
  extensions/one-time-secret/README.md
  extensions/one-time-secret/assets/extension_icon.png
  extensions/one-time-secret/metadata/one-time-secret-1.png
  extensions/one-time-secret/package-lock.json
  extensions/one-time-secret/package.json
  extensions/one-time-secret/src/index.tsx
  extensions/one-time-secret/tsconfig.json
Labels: new extension

#7280 Update to cal.com extension logo
  extensions/cal-com-share-meeting-links/assets/logo.png
Labels: extension fix / improvement, extension: cal-com-share-meeting-links

#7248 Add additional contributors to Trello extension
  extensions/trello/package.json
Labels: extension fix / improvement, OP is author, extension: trello

#7282 Update raindrop-io extension
  extensions/raindrop-io/src/components/BookmarkItem.tsx
Labels: extension fix / improvement, OP is author, extension: raindrop-io

#7284 Update gerrit-code-review extension
  extensions/gerrit-code-review/CHANGELOG.md
  extensions/gerrit-code-review/README.md
  extensions/gerrit-code-review/src/components/changes.tsx
  extensions/gerrit-code-review/src/components/menu.tsx
  extensions/gerrit-code-review/src/utils/api/gerrit.ts
Labels: extension fix / improvement, OP is author, extension: gerrit-code-review

#7271 [Home Assistant ] Use nearest resolved url on http requests
  extensions/homeassistant/CHANGELOG.md
  extensions/homeassistant/src/haapi.ts
Labels: extension fix / improvement, OP is author, extension: homeassistant

#6835 Update Bluesky Extension
  extensions/bluesky/CHANGELOG.md
  extensions/bluesky/package-lock.json
  extensions/bluesky/package.json
  extensions/bluesky/raycast-env.d.ts
  extensions/bluesky/src/components/accounts/AccountActionPanel.tsx
  extensions/bluesky/src/components/accounts/AccountsView.tsx
  extensions/bluesky/src/components/accounts/RestrictedAccountsView.tsx
  extensions/bluesky/src/components/feed/AuthorFeed.tsx
  extensions/bluesky/src/components/feed/LikeFeed.tsx
  extensions/bluesky/src/components/feed/PostItem.tsx
  extensions/bluesky/src/components/nav/NavigationDropdown.tsx
  extensions/bluesky/src/components/people/PeopleView.tsx
  extensions/bluesky/src/components/privacy/Privacy.tsx
  extensions/bluesky/src/config/actionMap.ts
  extensions/bluesky/src/config/config.ts
  extensions/bluesky/src/config/inspiringWords.ts
  extensions/bluesky/src/config/viewTypeMap.ts
  extensions/bluesky/src/home.tsx
  extensions/bluesky/src/libs/atp.ts
  extensions/bluesky/src/menu-bar-notifications.tsx
  extensions/bluesky/src/new-post.tsx
  extensions/bluesky/src/notifications.tsx
  extensions/bluesky/src/recent-posts.tsx
  extensions/bluesky/src/search.tsx
  extensions/bluesky/src/timeline.tsx
  extensions/bluesky/src/types/types.ts
  extensions/bluesky/src/utils/common.ts
  extensions/bluesky/src/utils/constants.ts
  extensions/bluesky/src/utils/parser.ts
Labels: extension fix / improvement, OP is author, extension: bluesky
