Repository raycast/extensions, pull requests merged in 2023-11, with the labels that each got.

#9055 [Pins] Bug fixes and QoL Improvements
  extensions/pins/.eslintrc.json
  extensions/pins/.markdownlint.json
  extensions/pins/CHANGELOG.md
  extensions/pins/README.md
  extensions/pins/assets/placeholders_guide.md
  extensions/pins/package-lock.json
  extensions/pins/package.json
  extensions/pins/src/components/GroupForm.tsx
  extensions/pins/src/components/OpenAllMenuItem.tsx
  extensions/pins/src/components/PinForm.tsx
  extensions/pins/src/components/PinMenuItem.tsx
  extensions/pins/src/components/RecentApplicationsList.tsx
  extensions/pins/src/components/actions/CopyGroupActionsSubmenu.tsx
  extensions/pins/src/components/actions/DeletePinAction.tsx
  extensions/pins/src/components/actions/InstallExamplesAction.tsx
  extensions/pins/src/copy-pins.ts
  extensions/pins/src/import-data.tsx
  extensions/pins/src/index.tsx
  extensions/pins/src/lib/Groups.ts
  extensions/pins/src/lib/LocalData.ts
  extensions/pins/src/lib/Pins.ts
  extensions/pins/src/lib/accessories.ts
  extensions/pins/src/lib/browser-utils.ts
  extensions/pins/src/lib/constants.ts
  extensions/pins/src/lib/defaults.ts
  extensions/pins/src/lib/icons.ts
  extensions/pins/src/lib/placeholders.ts
  extensions/pins/src/lib/preferences.ts
  extensions/pins/src/lib/scheduled-execution.ts
  extensions/pins/src/lib/scripts.ts
  extensions/pins/src/lib/utils.tsx
  extensions/pins/src/view-groups.tsx
  extensions/pins/src/view-pins.tsx
  extensions/pins/tsconfig.json
Labels: extension fix / improvement, OP is author, extension: pins

#9053 feat(installed-extensions): remove exec and clean up
  extensions/installed-extensions/.gitignore
  extensions/installed-extensions/CHANGELOG.md
  extensions/installed-extensions/package-lock.json
  extensions/installed-extensions/package.json
  extensions/installed-extensions/src/constants.ts
  extensions/installed-extensions/src/index.tsx
  extensions/installed-extensions/src/types.ts
  extensions/installed-extensions/src/utils.ts
Labels: extension fix / improvement, extension: installed-extensions

#9049 fix typo in Tunnnelblick extension
  extensions/tunnelblick/CHANGELOG.md
  extensions/tunnelblick/src/index.tsx
Labels: extension fix / improvement, extension: tunnelblick

#9047 Fix random-password-generator extension to use a CSPRNG for password generation
  extensions/random-password-generator/CHANGELOG.md
  extensions/random-password-generator/src/util.ts
Labels: extension fix / improvement, extension: random-password-generator

#9045 [LastPass] fix RegExp errors for special characters in password
  extensions/lastpass/CHANGELOG.md
  extensions/lastpass/src/cli.ts
  extensions/lastpass/src/components/errorDetails.tsx
  extensions/lastpass/src/index.tsx
Labels: extension fix / improvement, OP is author, extension: lastpass

#9048 Update heroicons extension
  extensions/heroicons/CHANGELOG.md
  extensions/heroicons/package.json
  extensions/heroicons/src/heroicons.ts
  extensions/heroicons/src/icons.tsx
Labels: extension fix / improvement, extension: heroicons

#9046 Fix improvmx extension to use a CSPRNG for password generation
  extensions/improvmx/CHANGELOG.md
  extensions/improvmx/src/utils.ts
Labels: extension fix / improvement, extension: improvmx

#9015 Update bilibili extension
  extensions/Bilibili/CHANGELOG.md
  extensions/Bilibili/src/dynamicFeed.tsx
  extensions/Bilibili/src/hooks/useDynamicFeed.ts
  extensions/Bilibili/src/types.ts
  extensions/Bilibili/src/utils/api.ts
  extensions/Bilibili/src/utils/getPlayUrl.ts
  extensions/Bilibili/src/utils/getVideoInfo.ts
Labels: extension fix / improvement, OP is author, extension: bilibili

#8956 Add teleport extension
  extensions/teleport/.eslintrc.json
  extensions/teleport/.gitignore
  extensions/teleport/.prettierrc
  extensions/teleport/CHANGELOG.md
  extensions/teleport/README.md
  extensions/teleport/assets/icon.png
  extensions/teleport/assets/scripts/teleport-database-connect.sh
  extensions/teleport/assets/scripts/teleport-database-list.sh
  extensions/teleport/assets/scripts/teleport-login.sh
  extensions/teleport/assets/scripts/teleport-logout.sh
  extensions/teleport/assets/scripts/teleport-server-list.sh
  extensions/teleport/metadata/teleport-2.png
  extensions/teleport/metadata/teleport-3.png
  extensions/teleport/package-lock.json
  extensions/teleport/package.json
  extensions/teleport/src/list-databases.tsx
  extensions/teleport/src/list-servers.tsx
  extensions/teleport/src/login.tsx
  extensions/teleport/src/logout.tsx
  extensions/teleport/src/utils.ts
  extensions/teleport/tsconfig.json
Labels: new extension

#9061 [Installed Extension] Various enhancements
  extensions/installed-extensions/CHANGELOG.md
  extensions/installed-extensions/src/index.tsx
  extensions/installed-extensions/src/types.ts
Labels: extension fix / improvement, OP is author, extension: installed-extensions

#9060 Update mynaui-icons extension
  extensions/mynaui-icons/CHANGELOG.md
  extensions/mynaui-icons/README.md
  extensions/mynaui-icons/package-lock.json
  extensions/mynaui-icons/package.json
  extensions/mynaui-icons/src/index.tsx
Labels: extension fix / improvement, OP is author, extension: mynaui-icons

#8903 Add easy-ocr extension
  extensions/easy-ocr/.eslintrc.json
  extensions/easy-ocr/.gitignore
  extensions/easy-ocr/.prettierrc
  extensions/easy-ocr/CHANGELOG.md
  extensions/easy-ocr/README.md
  extensions/easy-ocr/assets/command-icon.png
  extensions/easy-ocr/package-lock.json
  extensions/easy-ocr/package.json
  extensions/easy-ocr/src/index.tsx
  extensions/easy-ocr/src/ocr.ts
  extensions/easy-ocr/src/screenshot.ts
  extensions/easy-ocr/src/utils.ts
  extensions/easy-ocr/tsconfig.json
Labels: new extension

#9032 Add vat-calculator extension
  extensions/vat-calculator/.eslintrc.json
  extensions/vat-calculator/.gitignore
  extensions/vat-calculator/.prettierrc
  extensions/vat-calculator/CHANGELOG.md
  extensions/vat-calculator/README.md
  extensions/vat-calculator/assets/vaticon.png
  extensions/vat-calculator/metadata/vat-calculator-2.png
  extensions/vat-calculator/metadata/vat-calculator-3.png
  extensions/vat-calculator/package-lock.json
  extensions/vat-calculator/package.json
  extensions/vat-calculator/src/lib/vat.js
  extensions/vat-calculator/src/noview.jsx
  extensions/vat-calculator/src/vat.jsx
  extensions/vat-calculator/tsconfig.json
Labels: new extension

#9033 Add odesli extension
  extensions/odesli/.eslintrc.json
  extensions/odesli/.gitignore
  extensions/odesli/.prettierrc
  extensions/odesli/CHANGELOG.md
  extensions/odesli/README.md
  extensions/odesli/assets/command-icon.png
  extensions/odesli/package-lock.json
  extensions/odesli/package.json
  extensions/odesli/src/index.ts
  extensions/odesli/tsconfig.json
Labels: new extension

#9078 [Update] [Open Link in Specific Browser] New setting item: Hide all apps
  extensions/open-link-in-specific-browser/CHANGELOG.md
  extensions/open-link-in-specific-browser/package-lock.json
  extensions/open-link-in-specific-browser/package.json
  extensions/open-link-in-specific-browser/src/components/action-open-preferences.tsx
  extensions/open-link-in-specific-browser/src/components/open-link-in-grid-layout.tsx
  extensions/open-link-in-specific-browser/src/components/open-link-in-list-layout.tsx
  extensions/open-link-in-specific-browser/src/types/preferences.ts
Labels: extension fix / improvement, OP is author, extension: open-link-in-specific-browser

#9087 Apple Reminders: Add support for today and scheduled views
  extensions/apple-reminders/CHANGELOG.md
  extensions/apple-reminders/src/hooks/useViewReminders.ts
  extensions/apple-reminders/src/my-reminders.tsx
Labels: extension fix / improvement, OP is author, extension: apple-reminders

#8909 Add digitalocean extension
  extensions/digitalocean/.eslintrc.json
  extensions/digitalocean/.gitignore
  extensions/digitalocean/.prettierrc
  extensions/digitalocean/CHANGELOG.md
  extensions/digitalocean/README.md
  extensions/digitalocean/assets/command-icon.png
  extensions/digitalocean/package-lock.json
  extensions/digitalocean/package.json
  extensions/digitalocean/src/client.ts
  extensions/digitalocean/src/details/DatabaseClusterDetail.tsx
  extensions/digitalocean/src/details/DomainRecordDetail.tsx
  extensions/digitalocean/src/details/DropletDetail.tsx
  extensions/digitalocean/src/details/KubernetesClusterDetail.tsx
  extensions/digitalocean/src/forms/DomainRecordForm.tsx
  extensions/digitalocean/src/search-container-registry.tsx
  extensions/digitalocean/src/search-databases.tsx
  extensions/digitalocean/src/search-domains.tsx
  extensions/digitalocean/src/search-droplets.tsx
  extensions/digitalocean/src/search-kubernetes-clusters.tsx
  extensions/digitalocean/src/search-projects.tsx
  extensions/digitalocean/tsconfig.json
Labels: new extension

#9036 Add sitespeakai extension
  extensions/sitespeakai/.eslintrc.json
  extensions/sitespeakai/.gitignore
  extensions/sitespeakai/.prettierrc
  extensions/sitespeakai/CHANGELOG.md
  extensions/sitespeakai/README.md
  extensions/sitespeakai/assets/extension-icon.png
  extensions/sitespeakai/media/sitespeakai-1.png
  extensions/sitespeakai/media/sitespeakai-2.png
  extensions/sitespeakai/media/sitespeakai-3.png
  extensions/sitespeakai/metadata/sitespeakai-1.png
  extensions/sitespeakai/metadata/sitespeakai-2.png
  extensions/sitespeakai/package-lock.json
  extensions/sitespeakai/package.json
  extensions/sitespeakai/src/query.tsx
  extensions/sitespeakai/src/types.tsx
  extensions/sitespeakai/tsconfig.json
Labels: new extension

#9102 [Multilinks] Fix browser dropdown state issue
  extensions/multilinks/CHANGELOG.md
  extensions/multilinks/src/Components/CreateForm.tsx
Labels: extension fix / improvement, OP is author, extension: multilinks

#9090 feat(vault): add oidc login method
  extensions/vault/CHANGELOG.md
  extensions/vault/package.json
  extensions/vault/src/components/actions.tsx
  extensions/vault/src/components/tree.tsx
  extensions/vault/src/interfaces.ts
  extensions/vault/src/oauth.service.ts
  extensions/vault/src/utils.ts
Labels: extension fix / improvement, OP is author, extension: vault

#8996 Add CyberPanel extension
  extensions/cyberpanel/.eslintrc.json
  extensions/cyberpanel/.gitignore
  extensions/cyberpanel/.prettierrc
  extensions/cyberpanel/CHANGELOG.md
  extensions/cyberpanel/README.md
  extensions/cyberpanel/assets/cyberpanel.png
  extensions/cyberpanel/metadata/cyberpanel-1-list-websites.png
  extensions/cyberpanel/metadata/cyberpanel-2-list-packages.png
  extensions/cyberpanel/metadata/cyberpanel-3-list-users.png
  extensions/cyberpanel/metadata/cyberpanel-4-dns-records-in-domain.png
  extensions/cyberpanel/metadata/cyberpanel-5-list-email-accounts-in-domain.png
  extensions/cyberpanel/metadata/cyberpanel-6-verify-login.png
  extensions/cyberpanel/package-lock.json
  extensions/cyberpanel/package.json
  extensions/cyberpanel/src/components/ErrorComponent.tsx
  extensions/cyberpanel/src/components/child-domains/ListChildDomainsComponent.tsx
  extensions/cyberpanel/src/components/databases/CreateDatabaseComponent.tsx
  extensions/cyberpanel/src/components/dns-records/CreateDNSRecordComponent.tsx
  extensions/cyberpanel/src/components/email-accounts/CreateEmailAccountComponent.tsx
  extensions/cyberpanel/src/components/ftp-accounts/CreateFTPAccountComponent.tsx
  extensions/cyberpanel/src/components/packages/CreatePackageComponent.tsx
  extensions/cyberpanel/src/components/packages/ModifyPackageComponent.tsx
  extensions/cyberpanel/src/components/users/ChangeUserACLComponent.tsx
  extensions/cyberpanel/src/components/users/CreateUserComponent.tsx
  extensions/cyberpanel/src/components/users/ModifyUserComponent.tsx
  extensions/cyberpanel/src/components/websites/ChangeWebsiteLinuxUserPasswordComponent.tsx
  extensions/cyberpanel/src/components/websites/ChangeWebsitePHPVersionComponent.tsx
  extensions/cyberpanel/src/components/websites/CreateWebsiteComponent.tsx
  extensions/cyberpanel/src/create-backup.tsx
  extensions/cyberpanel/src/list-databases-in-domain.tsx
  extensions/cyberpanel/src/list-dns-records-in-domain.tsx
  extensions/cyberpanel/src/list-email-accounts-in-domain.tsx
  extensions/cyberpanel/src/list-ftp-accounts-in-domain.tsx
  extensions/cyberpanel/src/list-packages.tsx
  extensions/cyberpanel/src/list-users.tsx
  extensions/cyberpanel/src/list-websites.tsx
  extensions/cyberpanel/src/types/child-domains.ts
  extensions/cyberpanel/src/types/databases.ts
  extensions/cyberpanel/src/types/dns-records.ts
  extensions/cyberpanel/src/types/email-accounts.ts
  extensions/cyberpanel/src/types/ftp-accounts.ts
  extensions/cyberpanel/src/types/index.ts
  extensions/cyberpanel/src/types/packages.ts
  extensions/cyberpanel/src/types/users.ts
  extensions/cyberpanel/src/types/websites.ts
  extensions/cyberpanel/src/utils/api.ts
  extensions/cyberpanel/src/utils/constants.ts
  extensions/cyberpanel/src/verify-login.tsx
  extensions/cyberpanel/tsconfig.json
Labels: new extension

#9098 Update teleport extension
  extensions/teleport/CHANGELOG.md
  extensions/teleport/README.md
  extensions/teleport/assets/scripts/teleport-application-connect.sh
  extensions/teleport/assets/scripts/teleport-application-list.sh
  extensions/teleport/assets/scripts/teleport-kubernetes-cluster-connect.sh
  extensions/teleport/assets/scripts/teleport-kubernetes-clusters-list.sh
  extensions/teleport/assets/scripts/teleport-kubernetes-clusters-pods-list.sh
  extensions/teleport/package-lock.json
  extensions/teleport/package.json
  extensions/teleport/src/list-applications.tsx
  extensions/teleport/src/list-databases.tsx
  extensions/teleport/src/list-kubernetes-clusters.tsx
  extensions/teleport/src/list-servers.tsx
  extensions/teleport/src/login.tsx
  extensions/teleport/src/logout.tsx
  extensions/teleport/src/utils.ts
Labels: extension fix / improvement, OP is author, extension: teleport

#9108 Update raycast-ollama extension
  extensions/raycast-ollama/CHANGELOG.md
  extensions/raycast-ollama/src/api/main.tsx
  extensions/raycast-ollama/src/api/ollama.ts
  extensions/raycast-ollama/src/api/types.ts
  extensions/raycast-ollama/src/ollama-models.tsx
Labels: extension fix / improvement, OP is author, extension: raycast-ollama

#9107 [Obsidian] Add content template support
  extensions/obsidian/CHANGELOG.md
  extensions/obsidian/package.json
  extensions/obsidian/src/appendTaskCommand.tsx
  extensions/obsidian/src/components/NoteQuickLook.tsx
  extensions/obsidian/src/components/RandomNote.tsx
  extensions/obsidian/src/dailyNoteAppendCommand.tsx
  extensions/obsidian/src/utils/actions.tsx
  extensions/obsidian/src/utils/constants.tsx
  extensions/obsidian/src/utils/utils.tsx
Labels: extension fix / improvement, OP is author, extension: obsidian

#9117 [Lark] Fix read properties of undefined
  extensions/lark/CHANGELOG.md
  extensions/lark/package-lock.json
  extensions/lark/package.json
  extensions/lark/raycast-env.d.ts
  extensions/lark/src/components/space-list-item/index.tsx
Labels: extension fix / improvement, OP is author, extension: lark

#9120 [idonthavespotify] fix: typo Hardcoded API URL
  extensions/idonthavespotify/CHANGELOG.md
  extensions/idonthavespotify/src/constants/index.ts
Labels: extension fix / improvement, OP is author, extension: idonthavespotify

#9069 Add time-logger extension
  extensions/time-logger/.eslintrc.json
  extensions/time-logger/.gitignore
  extensions/time-logger/.prettierrc
  extensions/time-logger/CHANGELOG.md
  extensions/time-logger/README.md
  extensions/time-logger/assets/command-icon.png
  extensions/time-logger/metadata/time-logger-1.png
  extensions/time-logger/metadata/time-logger-2.png
  extensions/time-logger/metadata/time-logger-3.png
  extensions/time-logger/package-lock.json
  extensions/time-logger/package.json
  extensions/time-logger/src/components/AddEpic.tsx
  extensions/time-logger/src/components/EditEpic.tsx
  extensions/time-logger/src/components/TimeLogAction.tsx
  extensions/time-logger/src/consts.ts
  extensions/time-logger/src/gcalTimeLogger.tsx
  extensions/time-logger/src/hooks/useEpicFilter.ts
  extensions/time-logger/src/hooks/useEpicInProgress.ts
  extensions/time-logger/src/hooks/useEpics.ts
  extensions/time-logger/src/hooks/useMigrationManager.ts
  extensions/time-logger/src/types.ts
  extensions/time-logger/src/utils.ts
  extensions/time-logger/tsconfig.json
Labels: new extension

#9096 [Browser Bookmarks] Fix Chrome tabs without title missing
  extensions/browser-bookmarks/CHANGELOG.md
  extensions/browser-bookmarks/src/hooks/useArcBookmarks.ts
  extensions/browser-bookmarks/src/index.tsx
Labels: extension fix / improvement, extension: browser-bookmarks

#8967 Update github extension
  extensions/github/CHANGELOG.md
  extensions/github/package.json
  extensions/github/src/api/repository.graphql
  extensions/github/src/components/RepositoryListItem.tsx
  extensions/github/src/generated/graphql.ts
  extensions/github/src/my-latest-repositories.tsx
  extensions/github/src/search-repositories.tsx
Labels: extension fix / improvement, extension: github

#9119 [LastPass] Fir e.error.includes error from email sub
  extensions/lastpass/CHANGELOG.md
  extensions/lastpass/src/cli.ts
  extensions/lastpass/src/components/errorDetails.tsx
Labels: extension fix / improvement, OP is author, extension: lastpass

#9071 reclaim-ai: minor update to filters
  extensions/reclaim-ai/CHANGELOG.md
  extensions/reclaim-ai/package.json
  extensions/reclaim-ai/src/list-tasks.tsx
Labels: extension fix / improvement, OP is contributor, extension: reclaim-ai

#8915 Add the-matrix-of-destiny extension
  extensions/the-matrix-of-destiny/.eslintrc.json
  extensions/the-matrix-of-destiny/.gitignore
  extensions/the-matrix-of-destiny/.prettierrc
  extensions/the-matrix-of-destiny/CHANGELOG.md
  extensions/the-matrix-of-destiny/README.md
  extensions/the-matrix-of-destiny/assets/icon.png
  extensions/the-matrix-of-destiny/metadata/the-matrix-of-destiny-2.png
  extensions/the-matrix-of-destiny/package-lock.json
  extensions/the-matrix-of-destiny/package.json
  extensions/the-matrix-of-destiny/src/index.tsx
  extensions/the-matrix-of-destiny/tsconfig.json
Labels: new extension

#9103 Update append-clipboard extension
  extensions/append-clipboard/CHANGELOG.md
  extensions/append-clipboard/README.md
  extensions/append-clipboard/package.json
  extensions/append-clipboard/src/types/preferences.ts
  extensions/append-clipboard/src/utils/common-util.ts
Labels: extension fix / improvement, extension: append-clipboard

#9091 Cilium-docs: Add extension
  extensions/cilium-docs/.eslintrc.json
  extensions/cilium-docs/.gitignore
  extensions/cilium-docs/.prettierrc
  extensions/cilium-docs/assets/command-icon.png
  extensions/cilium-docs/assets/list-icon.png
  extensions/cilium-docs/changelog.md
  extensions/cilium-docs/metadata/cilium-docs.png
  extensions/cilium-docs/package-lock.json
  extensions/cilium-docs/package.json
  extensions/cilium-docs/src/index.tsx
  extensions/cilium-docs/tsconfig.json
Labels: new extension

#9126 [Pins] Minor bug fix
  extensions/pins/CHANGELOG.md
  extensions/pins/package.json
  extensions/pins/src/components/PinForm.tsx
  extensions/pins/src/lib/Pins.ts
Labels: extension fix / improvement, OP is author, extension: pins

#9116 feat: fix dismiss cmd, add "Stop Running Timer" cmd, screenshot update
  extensions/timers/CHANGELOG.md
  extensions/timers/README.md
  extensions/timers/metadata/timers-01.png
  extensions/timers/metadata/timers-02.png
  extensions/timers/metadata/timers-03.png
  extensions/timers/metadata/timers-04.png
  extensions/timers/metadata/timers-05.png
  extensions/timers/package-lock.json
  extensions/timers/package.json
  extensions/timers/src/dismissTimerAlert.ts
  extensions/timers/src/hooks/useTimers.ts
  extensions/timers/src/stopRunningTimer.ts
  extensions/timers/src/timerUtils.ts
Labels: extension fix / improvement, OP is author, extension: timers

#9052 Update reclaim-ai extension
  extensions/reclaim-ai/CHANGELOG.md
  extensions/reclaim-ai/src/hooks/useEvent.tsx
  extensions/reclaim-ai/src/notifications.tsx
  extensions/reclaim-ai/src/types/event.ts
  extensions/reclaim-ai/src/utils/base32.ts
  extensions/reclaim-ai/src/utils/events.ts
Labels: extension fix / improvement, OP is contributor, extension: reclaim-ai

#9092 Add dynamic-font-size extension
  extensions/dynamic-font-size/.eslintrc.json
  extensions/dynamic-font-size/.gitattributes
  extensions/dynamic-font-size/.gitignore
  extensions/dynamic-font-size/.prettierrc
  extensions/dynamic-font-size/CHANGELOG.md
  extensions/dynamic-font-size/README.md
  extensions/dynamic-font-size/assets/clamp-icon.png
  extensions/dynamic-font-size/metadata/dynamic-font-size-1.png
  extensions/dynamic-font-size/metadata/dynamic-font-size-2.png
  extensions/dynamic-font-size/package-lock.json
  extensions/dynamic-font-size/package.json
  extensions/dynamic-font-size/src/components/Input.tsx
  extensions/dynamic-font-size/src/index.tsx
  extensions/dynamic-font-size/src/lib/generateClamp.ts
  extensions/dynamic-font-size/src/lib/utils.ts
  extensions/dynamic-font-size/src/types/global.d.ts
  extensions/dynamic-font-size/tsconfig.json
Labels: new extension

#9129 Update linkding extension
  extensions/linkding/.gitignore
  extensions/linkding/CHANGELOG.md
  extensions/linkding/README.md
  extensions/linkding/package-lock.json
  extensions/linkding/package.json
  extensions/linkding/src/create-bookmarks.tsx
  extensions/linkding/src/manage-account.tsx
  extensions/linkding/src/search-bookmarks.tsx
  extensions/linkding/src/service/bookmark-service.ts
  extensions/linkding/src/types/linkding-shortcuts.ts
  extensions/linkding/src/types/linkding-types.ts
  extensions/linkding/src/util/bookmark-util.ts
Labels: extension fix / improvement, OP is author, extension: linkding

#9149 fix: incorrect `.dismiss` path leading to perpetually ringing timer
  extensions/timers/CHANGELOG.md
  extensions/timers/src/timerUtils.ts
Labels: extension fix / improvement, OP is author, extension: timers

#9138 Update tyme-3-time-tracker extension
  extensions/tyme-3-time-tracker/CHANGELOG.md
  extensions/tyme-3-time-tracker/package-lock.json
  extensions/tyme-3-time-tracker/package.json
  extensions/tyme-3-time-tracker/src/start-task-tracking.tsx
  extensions/tyme-3-time-tracker/src/tasks.ts
Labels: extension fix / improvement, OP is author, extension: tyme-3-time-tracker

#9164 Update package.json to remove Hugivar from contributors
  extensions/arc/package.json
Labels: extension fix / improvement, OP is contributor, extension: arc

#9167 [Update][Text Shortcuts] Sort by Frequency of Use
  extensions/text-shortcuts/CHANGELOG.md
  extensions/text-shortcuts/assets/shortcuts-library-empty-view-icon.png
  extensions/text-shortcuts/assets/shortcuts-library-empty-view-icon@dark.png
  extensions/text-shortcuts/package-lock.json
  extensions/text-shortcuts/package.json
  extensions/text-shortcuts/src/build-in-shortcuts/annotation.ts
  extensions/text-shortcuts/src/build-in-shortcuts/case.ts
  extensions/text-shortcuts/src/build-in-shortcuts/coder.ts
  extensions/text-shortcuts/src/build-in-shortcuts/deletion.ts
  extensions/text-shortcuts/src/build-in-shortcuts/format.ts
  extensions/text-shortcuts/src/build-in-shortcuts/markdown.ts
  extensions/text-shortcuts/src/build-in-shortcuts/time.ts
  extensions/text-shortcuts/src/components/action-on-empty-view.tsx
  extensions/text-shortcuts/src/components/action-open-preferences.tsx
  extensions/text-shortcuts/src/components/action-run-shortcut.tsx
  extensions/text-shortcuts/src/components/shortcut-library-grid-layout.tsx
  extensions/text-shortcuts/src/components/shortcut-library-list-layout.tsx
  extensions/text-shortcuts/src/components/shortcuts-empty-view.tsx
  extensions/text-shortcuts/src/create-shortcut.tsx
  extensions/text-shortcuts/src/hooks/hooks.ts
  extensions/text-shortcuts/src/run-shortcut-now.tsx
  extensions/text-shortcuts/src/shortcut-library-menu-bar.tsx
  extensions/text-shortcuts/src/util/shortcut.ts
Labels: extension fix / improvement, OP is author, extension: text-shortcuts

#9171 [Bugfix][Text Shortcuts] Fix tag color display issue
  extensions/text-shortcuts/CHANGELOG.md
  extensions/text-shortcuts/src/build-in-shortcuts/coder.ts
Labels: extension fix / improvement, OP is author, extension: text-shortcuts

#9175 Update spotify-player extension
  extensions/spotify-player/src/search.tsx
Labels: extension fix / improvement, extension: spotify-player

#9101 [Espanso]: Add ability to display match labels to Search Matches command
  extensions/espanso/CHANGELOG.md
  extensions/espanso/package-lock.json
  extensions/espanso/package.json
  extensions/espanso/src/addMatch.tsx
  extensions/espanso/src/index.tsx
  extensions/espanso/src/toggle.ts
  extensions/espanso/src/types.ts
  extensions/espanso/src/utils.ts
  extensions/espanso/tsconfig.json
Labels: extension fix / improvement, status: awaiting response from dev, OP is contributor, extension: espanso

#9189 Single Disk Eject: Fixed a bug when attempting to eject a disk in use
  extensions/single-disk-eject/CHANGELOG.md
  extensions/single-disk-eject/src/components/VolumeList.tsx
  extensions/single-disk-eject/src/utils.ts
Labels: extension fix / improvement, OP is author, extension: single-disk-eject

#9130 Update teleport extension
  extensions/teleport/CHANGELOG.md
  extensions/teleport/README.md
  extensions/teleport/assets/scripts/connect-application.sh
  extensions/teleport/assets/scripts/connect-database.sh
  extensions/teleport/assets/scripts/login.sh
  extensions/teleport/assets/scripts/teleport-application-list.sh
  extensions/teleport/assets/scripts/teleport-database-list.sh
  extensions/teleport/assets/scripts/teleport-kubernetes-cluster-connect.sh
  extensions/teleport/assets/scripts/teleport-kubernetes-clusters-list.sh
  extensions/teleport/assets/scripts/teleport-kubernetes-clusters-pods-list.sh
  extensions/teleport/assets/scripts/teleport-logout.sh
  extensions/teleport/assets/scripts/teleport-server-list.sh
  extensions/teleport/metadata/teleport-1.png
  extensions/teleport/metadata/teleport-2.png
  extensions/teleport/metadata/teleport-3.png
  extensions/teleport/package-lock.json
  extensions/teleport/src/hooks/use-favorite.tsx
  extensions/teleport/src/hooks/use-preferences.tsx
  extensions/teleport/src/list-applications.tsx
  extensions/teleport/src/list-databases.tsx
  extensions/teleport/src/list-kubernetes-clusters.tsx
  extensions/teleport/src/list-servers.tsx
  extensions/teleport/src/login.tsx
  extensions/teleport/src/utils.ts
Labels: extension fix / improvement, OP is author, extension: teleport

#9185 feat(kill-process): allow killing multiple processes
  extensions/kill-process/.gitignore
  extensions/kill-process/CHANGELOG.md
  extensions/kill-process/package-lock.json
  extensions/kill-process/package.json
  extensions/kill-process/src/index.tsx
  extensions/kill-process/tsconfig.json
Labels: extension fix / improvement, extension: kill-process

#9209 Update shadcn-ui extension
  extensions/shadcn-ui/CHANGELOG.md
  extensions/shadcn-ui/assets/bun-icon.png
  extensions/shadcn-ui/package.json
  extensions/shadcn-ui/src/documentation/shadcn-ui-documentation.ts
  extensions/shadcn-ui/src/search-components.tsx
Labels: extension fix / improvement, extension: shadcn-ui

#9222 Apple Reminders: Fix bugs
  extensions/apple-reminders/CHANGELOG.md
  extensions/apple-reminders/src/create-reminder.tsx
  extensions/apple-reminders/src/quick-add-reminder.tsx
  extensions/apple-reminders/swift/reminders/Sources/main.swift
Labels: extension fix / improvement, OP is author, extension: apple-reminders

#9182 fix(notion): error when opening page created from form
  extensions/notion/package-lock.json
  extensions/notion/package.json
  extensions/notion/src/components/PageListItem.tsx
  extensions/notion/src/components/forms/CreatePageForm.tsx
  extensions/notion/src/utils/types.ts
Labels: extension fix / improvement, OP is contributor, extension: notion

#9218 Reclaim.ai: bug: create task should use the default task visibility rather than specifying always private.
  extensions/reclaim-ai/CHANGELOG.md
  extensions/reclaim-ai/src/hooks/useTask.tsx
Labels: extension fix / improvement, OP is contributor, extension: reclaim-ai

#9156 Update easy-ocr extension: Add different languages support
  extensions/easy-ocr/CHANGELOG.md
  extensions/easy-ocr/README.md
  extensions/easy-ocr/package.json
  extensions/easy-ocr/src/ocr.ts
Labels: extension fix / improvement, extension: easy-ocr

#9128 Add open-graph extension
  extensions/open-graph/.eslintrc.json
  extensions/open-graph/.gitignore
  extensions/open-graph/.prettierrc
  extensions/open-graph/CHANGELOG.md
  extensions/open-graph/LICENSE
  extensions/open-graph/README.md
  extensions/open-graph/assets/command-icon.png
  extensions/open-graph/metadata/open-graph-1.png
  extensions/open-graph/metadata/open-graph-2.png
  extensions/open-graph/metadata/open-graph-3.png
  extensions/open-graph/package-lock.json
  extensions/open-graph/package.json
  extensions/open-graph/src/open-graph.tsx
  extensions/open-graph/src/type.ts
  extensions/open-graph/src/util.ts
  extensions/open-graph/tsconfig.json
Labels: new extension

#9144 Add Dashlane Vault extension
  extensions/dashlane-vault/.eslintrc.json
  extensions/dashlane-vault/.gitignore
  extensions/dashlane-vault/.nvmrc
  extensions/dashlane-vault/.prettierrc
  extensions/dashlane-vault/CHANGELOG.md
  extensions/dashlane-vault/README.md
  extensions/dashlane-vault/assets/dashlane-512.png
  extensions/dashlane-vault/assets/dashlane-64.png
  extensions/dashlane-vault/metadata/dashlane-vault-1.png
  extensions/dashlane-vault/metadata/dashlane-vault-2.png
  extensions/dashlane-vault/metadata/dashlane-vault-3.png
  extensions/dashlane-vault/metadata/dashlane-vault-4.png
  extensions/dashlane-vault/package-lock.json
  extensions/dashlane-vault/package.json
  extensions/dashlane-vault/src/components/EmptyView.tsx
  extensions/dashlane-vault/src/components/ListItemNote.tsx
  extensions/dashlane-vault/src/components/ListItemPassword.tsx
  extensions/dashlane-vault/src/components/actions/FavoriteActions.tsx
  extensions/dashlane-vault/src/components/actions/note/SyncAction.tsx
  extensions/dashlane-vault/src/components/actions/password/PasswordActions.tsx
  extensions/dashlane-vault/src/components/actions/password/ShowNoteAction.tsx
  extensions/dashlane-vault/src/components/actions/password/SyncAction.tsx
  extensions/dashlane-vault/src/components/actions/password/TotpActions.tsx
  extensions/dashlane-vault/src/constants.ts
  extensions/dashlane-vault/src/context/current-application.tsx
  extensions/dashlane-vault/src/context/favorites.tsx
  extensions/dashlane-vault/src/context/notes.tsx
  extensions/dashlane-vault/src/context/passwords.tsx
  extensions/dashlane-vault/src/helper/cache.ts
  extensions/dashlane-vault/src/helper/exec.ts
  extensions/dashlane-vault/src/helper/install-check.ts
  extensions/dashlane-vault/src/hooks/useCachedNotes.ts
  extensions/dashlane-vault/src/hooks/useCachedPasswords.ts
  extensions/dashlane-vault/src/lib/dcli.ts
  extensions/dashlane-vault/src/notes.tsx
  extensions/dashlane-vault/src/passwords.tsx
  extensions/dashlane-vault/src/reset.d.ts
  extensions/dashlane-vault/src/sync.ts
  extensions/dashlane-vault/src/types/dcli.ts
  extensions/dashlane-vault/src/types/util.ts
  extensions/dashlane-vault/tsconfig.json
Labels: new extension

#9207 Update Porkbun extension
  extensions/porkbun/.gitignore
  extensions/porkbun/CHANGELOG.md
  extensions/porkbun/README.md
  extensions/porkbun/metadata/porkbun-3-create-dns-record.png
  extensions/porkbun/metadata/porkbun-4-delete-dns-record-by-name-type.png.png
  extensions/porkbun/metadata/porkbun-4-ping.png
  extensions/porkbun/metadata/porkbun-5-delete-dns-record-by-name-type.png
  extensions/porkbun/metadata/porkbun-5-retrieve-all-domains.png
  extensions/porkbun/metadata/porkbun-6-add-url-forwarding.png
  extensions/porkbun/metadata/porkbun-6-go-to-api-reference-action.png
  extensions/porkbun/package-lock.json
  extensions/porkbun/package.json
  extensions/porkbun/src/components/ErrorComponent.tsx
  extensions/porkbun/src/components/name-servers/GetNameServersComponent.tsx
  extensions/porkbun/src/components/name-servers/UpdateNameServersComponent.tsx
  extensions/porkbun/src/components/url-forwarding/AddURLForwardingComponent.tsx
  extensions/porkbun/src/components/url-forwarding/GetURLForwardingComponent.tsx
  extensions/porkbun/src/create-dns-record.tsx
  extensions/porkbun/src/delete-dns-record.tsx
  extensions/porkbun/src/domain-pricing.tsx
  extensions/porkbun/src/edit-dns-record.tsx
  extensions/porkbun/src/ping.tsx
  extensions/porkbun/src/retrieve-all-domains.tsx
  extensions/porkbun/src/retrieve-dns-records.tsx
  extensions/porkbun/src/retrieve-ssl-bundle.tsx
  extensions/porkbun/src/utils/api.ts
  extensions/porkbun/src/utils/constants.ts
  extensions/porkbun/src/utils/types.ts
  extensions/porkbun/tsconfig.json
Labels: extension fix / improvement, OP is author, extension: porkbun

#9173 [Update][Easy New File] Optimize file operation
  extensions/easy-new-file/CHANGELOG.md
  extensions/easy-new-file/assets/file-icon.png
  extensions/easy-new-file/package-lock.json
  extensions/easy-new-file/package.json
  extensions/easy-new-file/src/add-file-template.tsx
  extensions/easy-new-file/src/components/action-new-template-file-here.tsx
  extensions/easy-new-file/src/components/action-open-command-preferences.tsx
  extensions/easy-new-file/src/components/new-file-here-grid-layout.tsx
  extensions/easy-new-file/src/components/new-file-here-item.tsx
  extensions/easy-new-file/src/components/new-file-here-list-layout.tsx
  extensions/easy-new-file/src/hooks/hooks.ts
  extensions/easy-new-file/src/new-file-here.tsx
  extensions/easy-new-file/src/new-file-with-name.tsx
  extensions/easy-new-file/src/new-file-with-text.tsx
  extensions/easy-new-file/src/utils/common-utils.ts
Labels: extension fix / improvement, OP is author, extension: easy-new-file

#8871 Update cratecast extension
  extensions/cratecast/CHANGELOG.md
  extensions/cratecast/assets/rust-icon.png
  extensions/cratecast/assets/rust-icon@dark.png
  extensions/cratecast/metadata/Metadata-1.png
  extensions/cratecast/metadata/Metadata-2.png
  extensions/cratecast/metadata/Metadata.png
  extensions/cratecast/package-lock.json
  extensions/cratecast/package.json
  extensions/cratecast/src/api.ts
  extensions/cratecast/src/index.tsx
  extensions/cratecast/src/symbols.tsx
Labels: extension fix / improvement, OP is contributor, extension: matt/cratecast

#9106 Add perplexity extension
  extensions/perplexity/.eslintrc.json
  extensions/perplexity/.gitignore
  extensions/perplexity/.prettierrc
  extensions/perplexity/CHANGELOG.md
  extensions/perplexity/README.md
  extensions/perplexity/assets/perplexity-logo.png
  extensions/perplexity/metadata/perplexity-1.png
  extensions/perplexity/package-lock.json
  extensions/perplexity/package.json
  extensions/perplexity/src/ask-perplexity.tsx
  extensions/perplexity/tsconfig.json
Labels: new extension

#9229 fix(tim): resolve issues with tasks lacking tags and openActiveRecord without active record
  extensions/tim/CHANGELOG.md
  extensions/tim/README.md
  extensions/tim/src/components/Task.tsx
  extensions/tim/src/hooks/useGroup.ts
  extensions/tim/src/hooks/useTask.ts
  extensions/tim/src/openActiveRecord.ts
  extensions/tim/src/state/data.tsx
  extensions/tim/src/tasks.tsx
  extensions/tim/src/types/tim.ts
Labels: extension fix / improvement, OP is author, extension: tim

#9228 fix(dashlane-vault): img src in README.md
  extensions/dashlane-vault/README.md
Labels: extension fix / improvement, OP is author, extension: dashlane-vault

#9190 [Github Gists] Add Copy Raw Link action
  extensions/github-gist/CHANGELOG.md
  extensions/github-gist/package.json
  extensions/github-gist/src/components/gist-action.tsx
Labels: extension fix / improvement, extension: github-gist

#9163 Add finderutils extension
  extensions/finderutils/.eslintrc.json
  extensions/finderutils/.gitignore
  extensions/finderutils/.prettierrc
  extensions/finderutils/CHANGELOG.md
  extensions/finderutils/README.md
  extensions/finderutils/assets/command-icon.png
  extensions/finderutils/package-lock.json
  extensions/finderutils/package.json
  extensions/finderutils/src/createFile.tsx
  extensions/finderutils/src/openSomething.tsx
  extensions/finderutils/src/utils.ts
  extensions/finderutils/tsconfig.json
Labels: new extension

#9186 feat(tailscale): add status command
  extensions/tailscale/.eslintrc.json
  extensions/tailscale/.gitignore
  extensions/tailscale/package-lock.json
  extensions/tailscale/package.json
  extensions/tailscale/src/account-switcher.tsx
  extensions/tailscale/src/admin.tsx
  extensions/tailscale/src/devices.tsx
  extensions/tailscale/src/exit.tsx
  extensions/tailscale/src/my-devices.tsx
  extensions/tailscale/src/shared.tsx
  extensions/tailscale/src/status.tsx
  extensions/tailscale/tsconfig.json
Labels: extension fix / improvement, OP is contributor, extension: tailscale

#9232 chore(change-case): add keywords and update deps
  extensions/change-case/CHANGELOG.md
  extensions/change-case/package-lock.json
  extensions/change-case/package.json
  extensions/change-case/src/change-case.tsx
Labels: extension fix / improvement, OP is author, OP is contributor, extension: change-case

#9238 Add `Default Title` preference
  extensions/ticktick/CHANGELOG.md
  extensions/ticktick/package.json
  extensions/ticktick/src/create.tsx
  extensions/ticktick/src/types.d.ts
Labels: extension fix / improvement, OP is author, extension: ticktick

#9196 chore(cratecast): add keywords
  extensions/cratecast/CHANGELOG.md
  extensions/cratecast/package.json
Labels: extension fix / improvement, extension: cratecast

#9179 Add hetzner extension
  extensions/hetzner/.eslintrc.yml
  extensions/hetzner/.gitignore
  extensions/hetzner/CHANGELOG.md
  extensions/hetzner/LICENSE
  extensions/hetzner/README.md
  extensions/hetzner/assets/hetzner-icon.png
  extensions/hetzner/assets/icon-cpu.svg
  extensions/hetzner/assets/icon-disk.svg
  extensions/hetzner/assets/icon-globe.svg
  extensions/hetzner/assets/icon-location.svg
  extensions/hetzner/assets/icon-price.svg
  extensions/hetzner/assets/icon-ram.svg
  extensions/hetzner/metadata/hetzner-2.png
  extensions/hetzner/metadata/hetzner-3.png
  extensions/hetzner/package-lock.json
  extensions/hetzner/package.json
  extensions/hetzner/src/actions/server-api.tsx
  extensions/hetzner/src/config/index.tsx
  extensions/hetzner/src/createServer.tsx
  extensions/hetzner/src/models/server.tsx
  extensions/hetzner/src/searchServer.tsx
  extensions/hetzner/tsconfig.json
Labels: new extension

#9210 feat(coffee): status command
  extensions/coffee/.eslintrc.json
  extensions/coffee/.gitignore
  extensions/coffee/CHANGELOG.md
  extensions/coffee/package-lock.json
  extensions/coffee/package.json
  extensions/coffee/src/caffeinateToggle.ts
  extensions/coffee/src/caffeinateWhile.tsx
  extensions/coffee/src/index.tsx
  extensions/coffee/src/interfaces.ts
  extensions/coffee/src/status.ts
  extensions/coffee/src/utils.ts
  extensions/coffee/tsconfig.json
Labels: extension fix / improvement, OP is contributor, extension: coffee

#9013 Update list-keyboard-maestro-macros extension
  extensions/keyboard-maestro/.gitignore
  extensions/keyboard-maestro/CHANGELOG.md
  extensions/keyboard-maestro/assets/kmicon_32.png
  extensions/keyboard-maestro/package.json
  extensions/keyboard-maestro/src/list.tsx
Labels: extension fix / improvement, status: stalled, extension: keyboard-maestro

#8389 Slack Status: Add OAuth + AI
  extensions/slack-status/.eslintrc.json
  extensions/slack-status/.gitignore
  extensions/slack-status/CHANGELOG.md
  extensions/slack-status/README.md
  extensions/slack-status/assets/slack.svg
  extensions/slack-status/package-lock.json
  extensions/slack-status/package.json
  extensions/slack-status/src/actions.tsx
  extensions/slack-status/src/defaultStatuses.ts
  extensions/slack-status/src/durations.ts
  extensions/slack-status/src/emojis.ts
  extensions/slack-status/src/form.tsx
  extensions/slack-status/src/interfaces.ts
  extensions/slack-status/src/oauth.tsx
  extensions/slack-status/src/presets.ts
  extensions/slack-status/src/setStatus.tsx
  extensions/slack-status/src/setStatusForm.tsx
  extensions/slack-status/src/slack.ts
  extensions/slack-status/src/slackClient.ts
  extensions/slack-status/src/types.ts
  extensions/slack-status/src/utils.ts
  extensions/slack-status/tsconfig.json
Labels: extension fix / improvement, status: stalled, extension: slack-status

#8793 Ext/material icons
  extensions/material-icons/.eslintrc.json
  extensions/material-icons/.gitignore
  extensions/material-icons/.prettierrc
  extensions/material-icons/CHANGELOG.md
  extensions/material-icons/README.md
  extensions/material-icons/metadata/material-icons-1.png
  extensions/material-icons/metadata/material-icons-2.png
  extensions/material-icons/metadata/material-icons-3.png
  extensions/material-icons/metadata/material-icons-4.png
  extensions/material-icons/metadata/screenshot-1.png
  extensions/material-icons/package-lock.json
  extensions/material-icons/package.json
  extensions/material-icons/src/grid.tsx
  extensions/material-icons/src/index.tsx
  extensions/material-icons/src/list.tsx
  extensions/material-icons/src/types.ts
  extensions/material-icons/tsconfig.json
Labels: extension fix / improvement, extension: creasty/material-icons, extension: material-icons

#8925 Add outline-page extension
  extensions/outline-page/.eslintrc.json
  extensions/outline-page/.gitignore
  extensions/outline-page/.prettierrc
  extensions/outline-page/CHANGELOG.md
  extensions/outline-page/README.md
  extensions/outline-page/assets/command-icon.png
  extensions/outline-page/package-lock.json
  extensions/outline-page/package.json
  extensions/outline-page/src/outline-page.tsx
  extensions/outline-page/tsconfig.json
Labels: new extension

#9254 Update google-fonts extension
  extensions/google-fonts/.eslintrc.json
  extensions/google-fonts/.gitignore
  extensions/google-fonts/.prettierrc
  extensions/google-fonts/CHANGELOG.md
  extensions/google-fonts/README.md
  extensions/google-fonts/assets/google-fonts/AmaticaSC.png
  extensions/google-fonts/assets/google-fonts/EkMukta.png
  extensions/google-fonts/assets/google-fonts/RubikOne.png
  extensions/google-fonts/assets/google-fonts/SansitaOne.png
  extensions/google-fonts/package-lock.json
  extensions/google-fonts/package.json
  extensions/google-fonts/src/fonts.tsx
  extensions/google-fonts/src/search-fonts.tsx
  extensions/google-fonts/tsconfig.json
Labels: extension fix / improvement, extension: google-fonts

#9271 Change supported models for OpenAI-GPT extension
  extensions/openai-gpt/CHANGELOG.md
  extensions/openai-gpt/README.md
  extensions/openai-gpt/src/ai.tsx
  extensions/openai-gpt/src/info-messages.ts
Labels: extension fix / improvement, OP is author, extension: openai-gpt

#9262 [Google Translate] Added Copy Pronunciation keyboard shortcut
  extensions/google-translate/CHANGELOG.md
  extensions/google-translate/src/translate-form.tsx
Labels: extension fix / improvement, OP is author, extension: google-translate

#9249 Update cloudinary extension
  extensions/cloudinary/.all-contributorsrc
  extensions/cloudinary/.husky/pre-commit
  extensions/cloudinary/.lintstagedrc.json
  extensions/cloudinary/CHANGELOG.md
  extensions/cloudinary/README.md
  extensions/cloudinary/package-lock.json
  extensions/cloudinary/package.json
  extensions/cloudinary/src/components/ViewResource.tsx
  extensions/cloudinary/src/lib/extension.ts
Labels: extension fix / improvement, OP is author, extension: cloudinary

#9276 feat: amazon-aws - make vault optional
  extensions/amazon-aws/CHANGELOG.md
  extensions/amazon-aws/README.md
  extensions/amazon-aws/package.json
  extensions/amazon-aws/src/components/searchbar/aws-profile-dropdown.tsx
Labels: extension fix / improvement, extension: amazon-aws

#9279 Update odesli extension
  extensions/odesli/CHANGELOG.md
  extensions/odesli/README.md
Labels: extension fix / improvement, OP is author, extension: odesli

#8847 Update ffmpeg extension
  extensions/ffmpeg/.gitignore
  extensions/ffmpeg/CHANGELOG.md
  extensions/ffmpeg/package-lock.json
  extensions/ffmpeg/package.json
  extensions/ffmpeg/src/managers/fileManager.ts
  extensions/ffmpeg/src/type/action.ts
  extensions/ffmpeg/src/views/runAction.tsx
Labels: extension fix / improvement, extension: RenderCoder/ffmpeg

#9200 Update spotify-player extension
  extensions/spotify-player/package.json
  extensions/spotify-player/src/yourLibrary.tsx
Labels: extension fix / improvement, extension: spotify-player

#9288 chore(ruler): fix typos
  extensions/ruler/.gitignore
  extensions/ruler/CHANGELOG.md
  extensions/ruler/package-lock.json
  extensions/ruler/package.json
  extensions/ruler/src/ruler.ts
  extensions/ruler/tsconfig.json
Labels: extension fix / improvement, extension: ruler

#9272 feat(days-until-christmas): add status and menubar commands
  extensions/days-until-christmas/.eslintrc.json
  extensions/days-until-christmas/.gitignore
  extensions/days-until-christmas/.prettierrc
  extensions/days-until-christmas/CHANGELOG.md
  extensions/days-until-christmas/package-lock.json
  extensions/days-until-christmas/package.json
  extensions/days-until-christmas/src/index.tsx
  extensions/days-until-christmas/src/lib/index.ts
  extensions/days-until-christmas/src/lib/useInterval.ts
  extensions/days-until-christmas/src/menu-bar.tsx
  extensions/days-until-christmas/tsconfig.json
Labels: extension fix / improvement, extension: days-until-christmas

#9224 Add copyq-clipboard-manager extension
  extensions/copyq-clipboard-manager/.eslintrc.json
  extensions/copyq-clipboard-manager/.gitignore
  extensions/copyq-clipboard-manager/.prettierrc
  extensions/copyq-clipboard-manager/CHANGELOG.md
  extensions/copyq-clipboard-manager/README.md
  extensions/copyq-clipboard-manager/assets/command-icon.png
  extensions/copyq-clipboard-manager/metadata/copyq-1.png
  extensions/copyq-clipboard-manager/metadata/copyq-2.png
  extensions/copyq-clipboard-manager/package-lock.json
  extensions/copyq-clipboard-manager/package.json
  extensions/copyq-clipboard-manager/src/view-clipboard-entries.tsx
  extensions/copyq-clipboard-manager/tsconfig.json
Labels: new extension

#9230 Add repology-search extension
  extensions/repology-search/.eslintrc.json
  extensions/repology-search/.gitignore
  extensions/repology-search/.prettierrc
  extensions/repology-search/CHANGELOG.md
  extensions/repology-search/README.md
  extensions/repology-search/assets/icon.png
  extensions/repology-search/metadata/repology-1.png
  extensions/repology-search/metadata/repology-2.png
  extensions/repology-search/metadata/repology-3.png
  extensions/repology-search/package-lock.json
  extensions/repology-search/package.json
  extensions/repology-search/src/PackageDetail.tsx
  extensions/repology-search/src/search.tsx
  extensions/repology-search/src/types.ts
  extensions/repology-search/tsconfig.json
Labels: new extension

#9165 Add Conference preferences
  extensions/nba-game-viewer/CHANGELOG.md
  extensions/nba-game-viewer/package.json
  extensions/nba-game-viewer/src/hooks/useStandings.ts
  extensions/nba-game-viewer/src/types/standings.types.ts
  extensions/nba-game-viewer/src/views/standings.tsx
Labels: extension fix / improvement, extension: nba-game-viewer

#9257 Update hetzner extension
  extensions/hetzner/.eslintrc.yml
  extensions/hetzner/CHANGELOG.md
  extensions/hetzner/metadata/hetzner-1.png
  extensions/hetzner/metadata/hetzner-2.png
  extensions/hetzner/metadata/hetzner-3.png
  extensions/hetzner/metadata/hetzner-4.png
  extensions/hetzner/package-lock.json
  extensions/hetzner/package.json
  extensions/hetzner/src/actions/navigate-action.tsx
  extensions/hetzner/src/actions/project-action.tsx
  extensions/hetzner/src/actions/server-api.tsx
  extensions/hetzner/src/addProject.tsx
  extensions/hetzner/src/config/index.tsx
  extensions/hetzner/src/createServer.tsx
  extensions/hetzner/src/manageProject.tsx
  extensions/hetzner/src/manageServer.tsx
  extensions/hetzner/src/models/project.tsx
  extensions/hetzner/src/searchServer.tsx
  extensions/hetzner/tsconfig.json
Labels: extension fix / improvement, OP is author, extension: hetzner

#9289 TMDB: Many improvements
  extensions/tmdb/.eslintrc.json
  extensions/tmdb/CHANGELOG.md
  extensions/tmdb/package-lock.json
  extensions/tmdb/package.json
  extensions/tmdb/src/api.ts
  extensions/tmdb/src/components/MovieDetail.tsx
  extensions/tmdb/src/components/TvShowDetail.tsx
  extensions/tmdb/src/helpers.ts
  extensions/tmdb/src/now-playing.tsx
  extensions/tmdb/src/nowPlayingMovies.tsx
  extensions/tmdb/src/nowPlayingTv.tsx
  extensions/tmdb/src/search.tsx
  extensions/tmdb/src/searchMovie.tsx
  extensions/tmdb/src/searchTV.tsx
  extensions/tmdb/src/top-rated.tsx
  extensions/tmdb/src/upcoming-movies.tsx
  extensions/tmdb/src/upcomingMovies.tsx
Labels: extension fix / improvement, extension: tmdb

#9319 [Jira] Add watching functionality to issue actions
  extensions/jira/package.json
  extensions/jira/src/api/issues.ts
  extensions/jira/src/components/IssueActions.tsx
Labels: extension fix / improvement, extension: jira

#8217 feat(spotify-player): add more commands
  extensions/spotify-player/.eslintignore
  extensions/spotify-player/.gitignore
  extensions/spotify-player/.prettierignore
  extensions/spotify-player/CHANGELOG.md
  extensions/spotify-player/package-lock.json
  extensions/spotify-player/package.json
  extensions/spotify-player/src/api/oauth.ts
  extensions/spotify-player/src/api/seek.ts
  extensions/spotify-player/src/components/EpisodesSection.tsx
  extensions/spotify-player/src/current-track.ts
  extensions/spotify-player/src/cycleRepeat.ts
  extensions/spotify-player/src/helpers/debounce.ts
  extensions/spotify-player/src/helpers/spotify.api.ts
  extensions/spotify-player/src/helpers/withSpotifyClient.tsx
  extensions/spotify-player/src/hooks/useAlbumTracks.ts
  extensions/spotify-player/src/hooks/useArtistAlbums.ts
  extensions/spotify-player/src/hooks/useArtistTopTracks.ts
  extensions/spotify-player/src/hooks/useContainsMyLikedTracks.ts
  extensions/spotify-player/src/hooks/usePlaylistTracks.ts
  extensions/spotify-player/src/hooks/useShowEpisodes.ts
  extensions/spotify-player/src/hooks/useYourLibrary.ts
  extensions/spotify-player/src/replay.ts
  extensions/spotify-player/src/search.tsx
  extensions/spotify-player/src/volume.ts
  extensions/spotify-player/src/yourLibrary.tsx
  extensions/spotify-player/tsconfig.json
Labels: extension fix / improvement, extension: spotify-player, extension: mattisssa/spotify-player

#9324 [Obsidian] ignore empty cache
  extensions/obsidian/CHANGELOG.md
  extensions/obsidian/src/utils/actions.tsx
  extensions/obsidian/src/utils/data/cache.tsx
  extensions/obsidian/src/utils/data/loader.tsx
  extensions/obsidian/src/utils/utils.tsx
Labels: extension fix / improvement, OP is author, extension: obsidian

#9293 Update cleanshotx extension
  extensions/cleanshotx/.gitignore
  extensions/cleanshotx/CHANGELOG.md
  extensions/cleanshotx/README.md
  extensions/cleanshotx/assets/annotate.png
  extensions/cleanshotx/assets/capture-area.png
  extensions/cleanshotx/assets/capture-fullscreen.png
  extensions/cleanshotx/assets/capture-previous-area.png
  extensions/cleanshotx/assets/capture-text.png
  extensions/cleanshotx/assets/capture-window.png
  extensions/cleanshotx/assets/clipboard.png
  extensions/cleanshotx/assets/pin.png
  extensions/cleanshotx/assets/record-screen.png
  extensions/cleanshotx/assets/restore.png
  extensions/cleanshotx/assets/scrolling-capture.png
  extensions/cleanshotx/assets/self-timer.png
  extensions/cleanshotx/assets/toggle-desktop-icons.png
  extensions/cleanshotx/media/EnableAPI.png
  extensions/cleanshotx/metadata/AllCommands.png
  extensions/cleanshotx/package-lock.json
  extensions/cleanshotx/package.json
Labels: extension fix / improvement, OP is author, extension: cleanshotx

#9326 Fix "Maximum call stack size exceeded" error in the Tower ext.
  extensions/tower/CHANGELOG.md
  extensions/tower/package-lock.json
  extensions/tower/package.json
  extensions/tower/src/command-my-repositiories.tsx
  extensions/tower/src/components/bookmark-list-item.tsx
  extensions/tower/src/components/open-bookmark-action.tsx
  extensions/tower/src/dtos/bookmark-dto.ts
Labels: extension fix / improvement, OP is author, extension: tower

#9327 Update tesla extension
  extensions/tesla/CHANGELOG.md
  extensions/tesla/package.json
  extensions/tesla/src/types/Distance.ts
  extensions/tesla/src/utils/utils.ts
  extensions/tesla/src/viewCar.tsx
  extensions/tesla/src/viewCharges.tsx
  extensions/tesla/src/viewDrives.tsx
Labels: extension fix / improvement, OP is author, extension: tesla

#9331 [Confluence] Fix issue causing People tab to error on opening
  extensions/confluence-search/CHANGELOG.md
  extensions/confluence-search/src/people.tsx
Labels: extension fix / improvement, extension: confluence-search

#9283 Update ip-geolocation extension
  extensions/ip-geolocation/CHANGELOG.md
  extensions/ip-geolocation/package-lock.json
  extensions/ip-geolocation/package.json
  extensions/ip-geolocation/src/hooks/hooks.ts
Labels: extension fix / improvement, extension: ip-geolocation

#9302 Update reclaim-ai extension with support for new prioritization features, bug fixes, and authorship.
  .github/raycast2github.json
  extensions/reclaim-ai/CHANGELOG.md
  extensions/reclaim-ai/README.md
  extensions/reclaim-ai/package.json
Labels: extension fix / improvement, OP is contributor, extension: reclaim-ai

#9337 [Hue] Fix ERR_INVALID_IP_ADDRESS
  extensions/hue/CHANGELOG.md
  extensions/hue/package-lock.json
  extensions/hue/package.json
  extensions/hue/src/lib/createHueClient.ts
Labels: extension fix / improvement, OP is author, extension: hue

#9336 reclaim-ai: updated README - link to wrong profile
  extensions/reclaim-ai/README.md
Labels: extension fix / improvement, extension: reclaim-ai

#9235 Add shortcuts-search extension
  extensions/shortcuts-search/.eslintrc.json
  extensions/shortcuts-search/.gitignore
  extensions/shortcuts-search/.prettierrc
  extensions/shortcuts-search/CHANGELOG.md
  extensions/shortcuts-search/README.md
  extensions/shortcuts-search/assets/extension_icon.png
  extensions/shortcuts-search/jest.config.ts
  extensions/shortcuts-search/metadata/shortcuts-search-1.png
  extensions/shortcuts-search/metadata/shortcuts-search-2.png
  extensions/shortcuts-search/metadata/shortcuts-search-3.png
  extensions/shortcuts-search/metadata/shortcuts-search-4.png
  extensions/shortcuts-search/package-lock.json
  extensions/shortcuts-search/package.json
  extensions/shortcuts-search/src/all-shortcuts.tsx
  extensions/shortcuts-search/src/app-shortcuts.tsx
  extensions/shortcuts-search/src/current-app.ts
  extensions/shortcuts-search/src/engine/shortcut-runner.ts
  extensions/shortcuts-search/src/load/input-parser.spec.ts
  extensions/shortcuts-search/src/load/input-parser.ts
  extensions/shortcuts-search/src/load/key-codes-provider.ts
  extensions/shortcuts-search/src/load/shortcuts-provider.ts
  extensions/shortcuts-search/src/load/use-refreshable-cached-state.ts
  extensions/shortcuts-search/src/load/validator.spec.ts
  extensions/shortcuts-search/src/load/validator.ts
  extensions/shortcuts-search/src/model/input/input-models.ts
  extensions/shortcuts-search/src/model/internal/bundle-id-remover.ts
  extensions/shortcuts-search/src/model/internal/internal-models.ts
  extensions/shortcuts-search/src/model/internal/modifiers.ts
  extensions/shortcuts-search/tsconfig.json
Labels: new extension

#9259 Add Cider extension
  extensions/cider/.eslintrc.json
  extensions/cider/.gitignore
  extensions/cider/CHANGELOG.md
  extensions/cider/README.md
  extensions/cider/assets/icon.png
  extensions/cider/metadata/cider-1.png
  extensions/cider/metadata/cider-2.png
  extensions/cider/metadata/cider-3.png
  extensions/cider/package-lock.json
  extensions/cider/package.json
  extensions/cider/src/add-to-library.ts
  extensions/cider/src/adjust-volume.ts
  extensions/cider/src/favourite-track.ts
  extensions/cider/src/next-track.ts
  extensions/cider/src/now-playing.tsx
  extensions/cider/src/play-pause.ts
  extensions/cider/src/previous-track.ts
  extensions/cider/src/seek.ts
  extensions/cider/src/stop-playback.ts
  extensions/cider/src/toggle-autoplay.ts
  extensions/cider/tsconfig.json
Labels: new extension

#9265 create extension for dayone
  extensions/day-one/.eslintrc.json
  extensions/day-one/.prettierrc
  extensions/day-one/CHANGELOG.md
  extensions/day-one/README.md
  extensions/day-one/assets/day-one.png
  extensions/day-one/metadata/day-one-1.png
  extensions/day-one/package-lock.json
  extensions/day-one/package.json
  extensions/day-one/src/add-entry.tsx
  extensions/day-one/src/day-one.ts
  extensions/day-one/src/utils.ts
  extensions/day-one/tsconfig.json
Labels: new extension

#9280 Update color-picker extension
  extensions/color-picker/CHANGELOG.md
  extensions/color-picker/assets/color-picker
  extensions/color-picker/package.json
  extensions/color-picker/src/pick-color.ts
Labels: extension fix / improvement, OP is contributor, extension: color-picker

#9338 Browser Bookmarks: Bug fixes
  extensions/browser-bookmarks/CHANGELOG.md
  extensions/browser-bookmarks/package-lock.json
  extensions/browser-bookmarks/package.json
  extensions/browser-bookmarks/src/hooks/useArcBookmarks.ts
  extensions/browser-bookmarks/src/hooks/useChromiumBookmarks.ts
  extensions/browser-bookmarks/src/hooks/useFirefoxBookmarks.ts
  extensions/browser-bookmarks/src/index.tsx
Labels: extension fix / improvement, OP is author, extension: browser-bookmarks

#9274 Add Dub.co link shortener
  extensions/dub-link-shortener/.eslintrc.json
  extensions/dub-link-shortener/.gitignore
  extensions/dub-link-shortener/.prettierrc
  extensions/dub-link-shortener/CHANGELOG.md
  extensions/dub-link-shortener/README.md
  extensions/dub-link-shortener/assets/command-icon.png
  extensions/dub-link-shortener/assets/project-instructions.png
  extensions/dub-link-shortener/metadata/dub-link-shortener-3.png
  extensions/dub-link-shortener/metadata/dub-link-shortener-4.png
  extensions/dub-link-shortener/package-lock.json
  extensions/dub-link-shortener/package.json
  extensions/dub-link-shortener/src/components/action-go-dub-co.tsx
  extensions/dub-link-shortener/src/components/list-empty-view.tsx
  extensions/dub-link-shortener/src/search-links.tsx
  extensions/dub-link-shortener/src/shorten-link.tsx
  extensions/dub-link-shortener/src/utils/api.ts
  extensions/dub-link-shortener/src/utils/clipboard.ts
  extensions/dub-link-shortener/src/utils/common.ts
  extensions/dub-link-shortener/src/utils/constants.ts
  extensions/dub-link-shortener/src/utils/env.ts
  extensions/dub-link-shortener/src/utils/types.ts
  extensions/dub-link-shortener/tsconfig.json
Labels: new extension

#9299 Update cypress-docs.tsx
  extensions/cypress-docs/CHANGELOG.md
  extensions/cypress-docs/src/cypress-docs.tsx
Labels: extension fix / improvement, extension: cypress-docs

#9304 Update descriptions of the actions with WhiteBIT code
  extensions/whitebit/CHANGELOG.md
  extensions/whitebit/package.json
Labels: extension fix / improvement, extension: whitebit

#9308 Add ipapi.is extension
  extensions/ipapi-is/.eslintrc.json
  extensions/ipapi-is/.gitignore
  extensions/ipapi-is/.prettierrc
  extensions/ipapi-is/CHANGELOG.md
  extensions/ipapi-is/README.md
  extensions/ipapi-is/assets/ipapi-is.png
  extensions/ipapi-is/metadata/ipapi-is-1.png
  extensions/ipapi-is/metadata/ipapi-is-2.png
  extensions/ipapi-is/metadata/ipapi-is-3.png
  extensions/ipapi-is/package-lock.json
  extensions/ipapi-is/package.json
  extensions/ipapi-is/src/constants.ts
  extensions/ipapi-is/src/lookup-ip-or-asn.tsx
  extensions/ipapi-is/src/types.ts
  extensions/ipapi-is/tsconfig.json
Labels: new extension

#9315 Add private internet access extension
  extensions/pia-controls/.eslintrc.json
  extensions/pia-controls/.gitignore
  extensions/pia-controls/.prettierrc
  extensions/pia-controls/CHANGELOG.md
  extensions/pia-controls/README.md
  extensions/pia-controls/assets/icon.png
  extensions/pia-controls/package-lock.json
  extensions/pia-controls/package.json
  extensions/pia-controls/src/connect.ts
  extensions/pia-controls/src/constants.ts
  extensions/pia-controls/src/disconnect.ts
  extensions/pia-controls/src/utils.ts
  extensions/pia-controls/tsconfig.json
Labels: new extension

#9177 [Lorem Ipsum] add a new command based on ai
  extensions/lorem-ipsum/CHANGELOG.md
  extensions/lorem-ipsum/package-lock.json
  extensions/lorem-ipsum/package.json
  extensions/lorem-ipsum/src/ai-generate.tsx
  extensions/lorem-ipsum/src/paragraphs.tsx
  extensions/lorem-ipsum/src/sentences.tsx
  extensions/lorem-ipsum/src/utils.tsx
  extensions/lorem-ipsum/src/words.tsx
Labels: extension fix / improvement, OP is author, extension: lorem-ipsum

#9148 Reclaim-ai: Fix join-meeting url & next event display in menubar
  extensions/reclaim-ai/CHANGELOG.md
  extensions/reclaim-ai/src/join-meeting.tsx
  extensions/reclaim-ai/src/notifications.tsx
  extensions/reclaim-ai/src/utils/events.ts
Labels: extension fix / improvement, OP is contributor, extension: reclaim-ai

#9215 feat(todo list): unpin command shortcut inconsistence & clear completed todos
  extensions/todo-list/.eslintrc.json
  extensions/todo-list/README.md
  extensions/todo-list/changelog.md
  extensions/todo-list/package-lock.json
  extensions/todo-list/package.json
  extensions/todo-list/src/clear_completed.tsx
  extensions/todo-list/src/delete_all.tsx
  extensions/todo-list/src/index.tsx
  extensions/todo-list/src/list_actions.tsx
  extensions/todo-list/src/mark_all_incomplete.tsx
  extensions/todo-list/src/menu_bar.tsx
  extensions/todo-list/src/menu_bar_todo_item.tsx
  extensions/todo-list/src/search_mode_action.tsx
  extensions/todo-list/src/todo_item.tsx
  extensions/todo-list/src/todo_section.tsx
Labels: extension fix / improvement, extension: todo-list

#9344 Update zotero extension
  extensions/zotero/.gitignore
  extensions/zotero/CHANGELOG.md
  extensions/zotero/assets/audioRecording.png
  extensions/zotero/package-lock.json
  extensions/zotero/package.json
  extensions/zotero/src/common/View.tsx
Labels: extension fix / improvement, OP is author, extension: zotero

#9358 Update hetzner extension
  extensions/hetzner/.gitignore
  extensions/hetzner/CHANGELOG.md
  extensions/hetzner/src/manageServer.tsx
Labels: extension fix / improvement, OP is author, extension: hetzner

#9125 Add zipper-run extension
  extensions/zipper-run/.eslintrc.json
  extensions/zipper-run/.gitignore
  extensions/zipper-run/.prettierrc
  extensions/zipper-run/CHANGELOG.md
  extensions/zipper-run/README.md
  extensions/zipper-run/assets/zipper-icon.png
  extensions/zipper-run/metadata/zipper-run-1.png
  extensions/zipper-run/metadata/zipper-run-3.png
  extensions/zipper-run/metadata/zipper-run.png
  extensions/zipper-run/package-lock.json
  extensions/zipper-run/package.json
  extensions/zipper-run/src/api/index.ts
  extensions/zipper-run/src/api/types.ts
  extensions/zipper-run/src/components/AppResults.tsx
  extensions/zipper-run/src/components/InputsForm.tsx
  extensions/zipper-run/src/index.tsx
  extensions/zipper-run/src/types/boot-info.ts
  extensions/zipper-run/src/types/input-params.ts
  extensions/zipper-run/src/types/input-type.ts
  extensions/zipper-run/src/types/user-auth-connector.ts
  extensions/zipper-run/tsconfig.json
Labels: new extension

#9363 Updated Cider extension
  extensions/cider/CHANGELOG.md
  extensions/cider/src/now-playing.tsx
Labels: extension fix / improvement, OP is author, extension: cider

#8873 Add search-shopify-liquid-documentation extension
  extensions/search-shopify-liquid-documentation/.eslintrc.json
  extensions/search-shopify-liquid-documentation/.gitignore
  extensions/search-shopify-liquid-documentation/.prettierrc
  extensions/search-shopify-liquid-documentation/CHANGELOG.md
  extensions/search-shopify-liquid-documentation/README.md
  extensions/search-shopify-liquid-documentation/assets/shopify-icon.png
  extensions/search-shopify-liquid-documentation/metadata/search-shopify-liquid-documentation-1.png
  extensions/search-shopify-liquid-documentation/metadata/search-shopify-liquid-documentation-2.png
  extensions/search-shopify-liquid-documentation/package-lock.json
  extensions/search-shopify-liquid-documentation/package.json
  extensions/search-shopify-liquid-documentation/src/docs.ts
  extensions/search-shopify-liquid-documentation/src/index.tsx
  extensions/search-shopify-liquid-documentation/src/types/types.ts
  extensions/search-shopify-liquid-documentation/tsconfig.json
Labels: new extension

#9252 Add sensible extension
  extensions/sensible/.eslintrc.json
  extensions/sensible/.gitignore
  extensions/sensible/.prettierrc
  extensions/sensible/CHANGELOG.md
  extensions/sensible/README.md
  extensions/sensible/assets/SenseML_Basics_Demo.pdf
  extensions/sensible/assets/command-icon.png
  extensions/sensible/metadata/screenshot-1.png
  extensions/sensible/metadata/screenshot-2.png
  extensions/sensible/metadata/screenshot-3.png
  extensions/sensible/package-lock.json
  extensions/sensible/package.json
  extensions/sensible/src/ExtractionDetail.tsx
  extensions/sensible/src/hooks/useDocumentTypes.ts
  extensions/sensible/src/hooks/useExtraction.ts
  extensions/sensible/src/hooks/useSelectedFile.ts
  extensions/sensible/src/index.tsx
  extensions/sensible/src/types.ts
  extensions/sensible/tsconfig.json
Labels: new extension

#9133 Add rapidcap extension
  extensions/rapidcap/.eslintrc.json
  extensions/rapidcap/.gitignore
  extensions/rapidcap/.prettierrc
  extensions/rapidcap/CHANGELOG.md
  extensions/rapidcap/README.md
  extensions/rapidcap/assets/rapidcap-icon.png
  extensions/rapidcap/metadata/create-card.png
  extensions/rapidcap/metadata/view-all-cards.png
  extensions/rapidcap/metadata/view-card-details.png
  extensions/rapidcap/package-lock.json
  extensions/rapidcap/package.json
  extensions/rapidcap/src/create-card.tsx
  extensions/rapidcap/src/delete-card.tsx
  extensions/rapidcap/src/edit-card.tsx
  extensions/rapidcap/src/storage.tsx
  extensions/rapidcap/src/types.ts
  extensions/rapidcap/src/utils.tsx
  extensions/rapidcap/src/view-all-cards.tsx
  extensions/rapidcap/src/view-card.tsx
  extensions/rapidcap/tsconfig.json
Labels: new extension

#9074 [ssh-manager] Support remote command in ssh config
  extensions/ssh-manager/CHANGELOG.md
  extensions/ssh-manager/package.json
  extensions/ssh-manager/src/storage.api.ts
Labels: extension fix / improvement, extension: ssh-manager

#9083 feat(deepcast): add missing features to the index command
  extensions/deepcast/CHANGELOG.md
  extensions/deepcast/package-lock.json
  extensions/deepcast/package.json
  extensions/deepcast/src/components/TranslationView.tsx
  extensions/deepcast/src/index.tsx
  extensions/deepcast/src/utils.ts
Labels: extension fix / improvement, OP is contributor, extension: deepcast

#8970 Add 0x0 extension
  extensions/0x0/.eslintrc.json
  extensions/0x0/.gitignore
  extensions/0x0/.nvmrc
  extensions/0x0/.prettierrc
  extensions/0x0/CHANGELOG.md
  extensions/0x0/README.md
  extensions/0x0/assets/0x0.png
  extensions/0x0/metadata/0x0-1.png
  extensions/0x0/package-lock.json
  extensions/0x0/package.json
  extensions/0x0/src/index.tsx
  extensions/0x0/tsconfig.json
Labels: new extension

#9365 Update ip-geolocation extension
  extensions/ip-geolocation/CHANGELOG.md
  extensions/ip-geolocation/src/hooks/hooks.ts
Labels: extension fix / improvement, OP is contributor, extension: ip-geolocation

#9377 fix(dashlane-vault): use adjustable cli path
  extensions/dashlane-vault/.nvmrc
  extensions/dashlane-vault/CHANGELOG.md
  extensions/dashlane-vault/README.md
  extensions/dashlane-vault/package-lock.json
  extensions/dashlane-vault/package.json
  extensions/dashlane-vault/src/helper/exec.ts
  extensions/dashlane-vault/src/helper/install-check.ts
  extensions/dashlane-vault/src/lib/dcli.ts
  extensions/dashlane-vault/src/sync.ts
Labels: extension fix / improvement, OP is author, extension: dashlane-vault

#9345 Reclaim.ai: Refactor Data Fetching with useFetch Hook for faster FCP
  extensions/reclaim-ai/CHANGELOG.md
  extensions/reclaim-ai/src/hooks/useEvent.tsx
  extensions/reclaim-ai/src/hooks/useMoment.tsx
  extensions/reclaim-ai/src/hooks/useSchedulingLinks.tsx
  extensions/reclaim-ai/src/hooks/useTask.tsx
  extensions/reclaim-ai/src/list-tasks.tsx
  extensions/reclaim-ai/src/my-calendar.tsx
  extensions/reclaim-ai/src/notifications.tsx
  extensions/reclaim-ai/src/scheduling-links.tsx
Labels: extension fix / improvement, extension: reclaim-ai

#9382 FIXED: the problem of long names
  extensions/wireguard/CHANGELOG.md
  extensions/wireguard/src/getVPN.ts
  extensions/wireguard/src/index.tsx
  extensions/wireguard/src/toggle.ts
  extensions/wireguard/src/utils.ts
Labels: extension fix / improvement, OP is author, extension: wireguard

#9394 Simple Reminder: Use deep import to reduce build size.
  extensions/simple-reminder/CHANGELOG.md
  extensions/simple-reminder/src/utils/extractTopicAndDateFromInputText.ts
Labels: extension fix / improvement, extension: simple-reminder

#9402 Apple Reminders: Add support for drafts + bug fix
  extensions/apple-reminders/CHANGELOG.md
  extensions/apple-reminders/src/create-reminder.tsx
Labels: extension fix / improvement, OP is author, extension: apple-reminders

#9392 Update vscode-project-manager extension : Add Cursor support
  extensions/visual-studio-code-project-manager/.gitignore
  extensions/visual-studio-code-project-manager/CHANGELOG.md
  extensions/visual-studio-code-project-manager/package.json
  extensions/visual-studio-code-project-manager/src/search-project-manager-projects.tsx
Labels: extension fix / improvement, extension: visual-studio-code-project-manager

#9375 Update PIA controls
  extensions/pia-controls/CHANGELOG.md
  extensions/pia-controls/README.md
  extensions/pia-controls/metadata/home.png
  extensions/pia-controls/metadata/region.png
  extensions/pia-controls/package-lock.json
  extensions/pia-controls/package.json
  extensions/pia-controls/src/connect.ts
  extensions/pia-controls/src/connectToRegion.tsx
  extensions/pia-controls/src/disconnect.ts
  extensions/pia-controls/src/status.ts
  extensions/pia-controls/src/types.ts
  extensions/pia-controls/src/utils.ts
Labels: extension fix / improvement, OP is author, extension: pia-controls

#9335 Add feishu-document-creator extension
  extensions/feishu-document-creator/.eslintrc.json
  extensions/feishu-document-creator/.gitignore
  extensions/feishu-document-creator/.prettierrc
  extensions/feishu-document-creator/CHANGELOG.md
  extensions/feishu-document-creator/README.md
  extensions/feishu-document-creator/assets/feishu-base-icon.png
  extensions/feishu-document-creator/assets/feishu-docx-icon.png
  extensions/feishu-document-creator/assets/feishu-icon.png
  extensions/feishu-document-creator/assets/feishu-mindnote-icon.png
  extensions/feishu-document-creator/assets/feishu-sheet-icon.png
  extensions/feishu-document-creator/metadata/feishu-document-creator-1.png
  extensions/feishu-document-creator/metadata/feishu-document-creator-2.png
  extensions/feishu-document-creator/package-lock.json
  extensions/feishu-document-creator/package.json
  extensions/feishu-document-creator/src/base.ts
  extensions/feishu-document-creator/src/docx.ts
  extensions/feishu-document-creator/src/helper.ts
  extensions/feishu-document-creator/src/mindnote.ts
  extensions/feishu-document-creator/src/sheet.ts
  extensions/feishu-document-creator/tsconfig.json
Labels: new extension

#9311 Add raycast-nrm extension
  extensions/raycast-nrm/.eslintrc.json
  extensions/raycast-nrm/.gitignore
  extensions/raycast-nrm/.prettierrc
  extensions/raycast-nrm/CHANGELOG.md
  extensions/raycast-nrm/LICENSE
  extensions/raycast-nrm/README.md
  extensions/raycast-nrm/assets/nrm-icon.png
  extensions/raycast-nrm/metadata/nrm_01.png
  extensions/raycast-nrm/metadata/nrm_02.png
  extensions/raycast-nrm/metadata/nrm_03.png
  extensions/raycast-nrm/package-lock.json
  extensions/raycast-nrm/package.json
  extensions/raycast-nrm/src/constants.ts
  extensions/raycast-nrm/src/main.tsx
  extensions/raycast-nrm/src/npm.ts
  extensions/raycast-nrm/src/octokit.ts
  extensions/raycast-nrm/src/preference.ts
  extensions/raycast-nrm/tsconfig.json
Labels: new extension

#9341 [search-npm] Add new item that links to search results page
  extensions/search-npm/CHANGELOG.md
  extensions/search-npm/README.md
  extensions/search-npm/metadata/search-npm-1.png
  extensions/search-npm/metadata/search-npm-2.png
  extensions/search-npm/metadata/search-npm-3.png
  extensions/search-npm/metadata/search-npm-4.png
  extensions/search-npm/metadata/search-npm-5.png
  extensions/search-npm/package-lock.json
  extensions/search-npm/package.json
  extensions/search-npm/src/PackagListItem.tsx
  extensions/search-npm/src/index.tsx
  extensions/search-npm/src/utils/getChangelogUrl.ts
  extensions/search-npm/src/utils/parseRepoUrl.ts
Labels: extension fix / improvement, OP is author, extension: search-npm

#8616 Add play liked songs options
  extensions/spotify-player/CHANGELOG.md
  extensions/spotify-player/package.json
  extensions/spotify-player/src/api/play.ts
  extensions/spotify-player/src/components/PlaylistLikedTracksItem.tsx
  extensions/spotify-player/src/components/PlaylistsSection.tsx
Labels: extension fix / improvement, extension: spotify-player, extension: mattisssa/spotify-player

#9419 fix(coffee): status command flashing when re-caffeinating
  extensions/coffee/CHANGELOG.md
  extensions/coffee/package-lock.json
  extensions/coffee/package.json
  extensions/coffee/src/caffeinate.ts
  extensions/coffee/src/caffeinateFor.tsx
  extensions/coffee/src/caffeinateToggle.ts
  extensions/coffee/src/caffeinateWhile.tsx
  extensions/coffee/src/decaffeinate.ts
  extensions/coffee/src/index.tsx
  extensions/coffee/src/utils.ts
  extensions/coffee/tsconfig.json
Labels: extension fix / improvement, OP is contributor, extension: coffee

#9385 Browser Bookmarks: Add support for Firefox Developer Edition
  extensions/browser-bookmarks/CHANGELOG.md
  extensions/browser-bookmarks/assets/firefoxDev.png
  extensions/browser-bookmarks/package.json
  extensions/browser-bookmarks/src/hooks/useAvailableBrowsers.ts
  extensions/browser-bookmarks/src/index.tsx
Labels: extension fix / improvement, extension: browser-bookmarks

#9413 feat(apple-reminders): add list filtering to menu bar command
  extensions/apple-reminders/CHANGELOG.md
  extensions/apple-reminders/src/menu-bar.tsx
Labels: extension fix / improvement, OP is author, extension: apple-reminders

#9432 feat(change-case): manual refresh
  extensions/change-case/CHANGELOG.md
  extensions/change-case/package-lock.json
  extensions/change-case/package.json
  extensions/change-case/src/change-case.tsx
  extensions/change-case/tsconfig.json
Labels: extension fix / improvement, OP is author, extension: change-case

#9423 Updating RescueTime with more commands to extend functionality
  extensions/rescuetime-focus-session-trigger/.gitignore
  extensions/rescuetime-focus-session-trigger/.prettierrc
  extensions/rescuetime-focus-session-trigger/CHANGELOG.md
  extensions/rescuetime-focus-session-trigger/metadata/rescuetime-focus-session-trigger-0.png
  extensions/rescuetime-focus-session-trigger/metadata/rescuetime-focus-session-trigger-1.png
  extensions/rescuetime-focus-session-trigger/metadata/rescuetime-focus-session-trigger-2.png
  extensions/rescuetime-focus-session-trigger/metadata/rescuetime-focus-session-trigger-3.png
  extensions/rescuetime-focus-session-trigger/metadata/rescuetime-focus-session-trigger-4.png
  extensions/rescuetime-focus-session-trigger/package-lock.json
  extensions/rescuetime-focus-session-trigger/package.json
  extensions/rescuetime-focus-session-trigger/src/alertsFeed.tsx
  extensions/rescuetime-focus-session-trigger/src/dailyHighlights.tsx
  extensions/rescuetime-focus-session-trigger/src/focusTimeFeed.tsx
  extensions/rescuetime-focus-session-trigger/src/logDailyHighlight.tsx
  extensions/rescuetime-focus-session-trigger/src/logOfflineTime.tsx
  extensions/rescuetime-focus-session-trigger/src/rescueTimeToday.tsx
  extensions/rescuetime-focus-session-trigger/src/startFocusTime.ts
  extensions/rescuetime-focus-session-trigger/src/utils/date.tsx
  extensions/rescuetime-focus-session-trigger/src/utils/icon.tsx
  extensions/rescuetime-focus-session-trigger/src/utils/progress.tsx
Labels: extension fix / improvement, extension: rescuetime-focus-session-trigger

#9351 Add mound-for-pile extension
  extensions/mound-for-pile/.eslintrc.json
  extensions/mound-for-pile/.gitignore
  extensions/mound-for-pile/.prettierrc
  extensions/mound-for-pile/CHANGELOG.md
  extensions/mound-for-pile/README.md
  extensions/mound-for-pile/assets/command-icon.png
  extensions/mound-for-pile/assets/logo-v2.png
  extensions/mound-for-pile/assets/logo.png
  extensions/mound-for-pile/metadata/pile-raycast-1.png
  extensions/mound-for-pile/metadata/pile-raycast-2.png
  extensions/mound-for-pile/metadata/pile-raycast-4.png
  extensions/mound-for-pile/metadata/pile-raycast-5.png
  extensions/mound-for-pile/metadata/pile-raycast-6.png
  extensions/mound-for-pile/metadata/pile-raycast-7.png
  extensions/mound-for-pile/package-lock.json
  extensions/mound-for-pile/package.json
  extensions/mound-for-pile/src/components/actions/CreatePileAction.tsx
  extensions/mound-for-pile/src/components/actions/CreatePostAction.tsx
  extensions/mound-for-pile/src/components/actions/index.ts
  extensions/mound-for-pile/src/components/forms/CreatePileForm.tsx
  extensions/mound-for-pile/src/components/forms/CreatePostForm.tsx
  extensions/mound-for-pile/src/components/views/EmptyView.tsx
  extensions/mound-for-pile/src/components/views/index.ts
  extensions/mound-for-pile/src/helpers.ts
  extensions/mound-for-pile/src/index.tsx
  extensions/mound-for-pile/src/utils/fileOperations.ts
  extensions/mound-for-pile/src/utils/types.ts
  extensions/mound-for-pile/tsconfig.json
Labels: new extension

#9440 [FIXED] VPN not starting via scutil with too long a name.
  extensions/wireguard/CHANGELOG.md
  extensions/wireguard/src/disconnectAllWireguardConnections.ts
  extensions/wireguard/src/getVPN.ts
  extensions/wireguard/src/toggle.ts
  extensions/wireguard/src/type.ts
Labels: extension fix / improvement, OP is author, extension: wireguard

#9205 Add Fast Chat Extension
  extensions/phonenumber-in-im/.eslintrc.js
  extensions/phonenumber-in-im/.gitignore
  extensions/phonenumber-in-im/.prettierrc.js
  extensions/phonenumber-in-im/.vscode/settings.json
  extensions/phonenumber-in-im/CHANGELOG.md
  extensions/phonenumber-in-im/README.md
  extensions/phonenumber-in-im/assets/logo.png
  extensions/phonenumber-in-im/assets/telegram.png
  extensions/phonenumber-in-im/assets/whatsapp.png
  extensions/phonenumber-in-im/metadata/showcase.png
  extensions/phonenumber-in-im/package-lock.json
  extensions/phonenumber-in-im/package.json
  extensions/phonenumber-in-im/src/chat-in-telegram.tsx
  extensions/phonenumber-in-im/src/chat-in-whatsapp.tsx
  extensions/phonenumber-in-im/src/commons.ts
  extensions/phonenumber-in-im/src/types.ts
  extensions/phonenumber-in-im/tsconfig.json
Labels: new extension

#9443 feat(visual-studio-code): add open in terminal action
  extensions/visual-studio-code-recent-projects/CHANGELOG.md
  extensions/visual-studio-code-recent-projects/package.json
  extensions/visual-studio-code-recent-projects/src/index.tsx
  extensions/visual-studio-code-recent-projects/src/preferences.ts
  extensions/visual-studio-code-recent-projects/src/types.ts
Labels: extension fix / improvement, OP is contributor, extension: visual-studio-code-recent-projects

#9435 Update Anybox extension
  extensions/anybox/CHANGELOG.md
  extensions/anybox/package-lock.json
  extensions/anybox/package.json
  extensions/anybox/src/search.tsx
Labels: extension fix / improvement, OP is author, extension: anybox

#9445 Update rocket-chat extension
  extensions/rocket-chat/CHANGELOG.md
  extensions/rocket-chat/package.json
Labels: extension fix / improvement, OP is author, extension: rocket-chat

#9393 Add whoop extension
  extensions/whoop/.eslintrc.json
  extensions/whoop/.gitignore
  extensions/whoop/.prettierrc
  extensions/whoop/CHANGELOG.md
  extensions/whoop/README.md
  extensions/whoop/assets/extension-icon.png
  extensions/whoop/assets/whoop-icon.svg
  extensions/whoop/media/whoop-1.png
  extensions/whoop/metadata/whoop-0.png
  extensions/whoop/metadata/whoop-1.png
  extensions/whoop/metadata/whoop-2.png
  extensions/whoop/metadata/whoop-4.png
  extensions/whoop/package-lock.json
  extensions/whoop/package.json
  extensions/whoop/src/api/background.ts
  extensions/whoop/src/api/client.ts
  extensions/whoop/src/api/oauth.ts
  extensions/whoop/src/biometrics.tsx
  extensions/whoop/src/components/View.tsx
  extensions/whoop/src/helpers/constants.ts
  extensions/whoop/src/helpers/errors.ts
  extensions/whoop/src/helpers/formats.ts
  extensions/whoop/src/helpers/recovery.ts
  extensions/whoop/src/helpers/types.ts
  extensions/whoop/src/helpers/whoop.api.ts
  extensions/whoop/src/helpers/withWhoopClient.tsx
  extensions/whoop/src/helpers/workouts.ts
  extensions/whoop/src/overview.tsx
  extensions/whoop/src/workouts.tsx
  extensions/whoop/tsconfig.json
Labels: new extension

#9405 Add DirectAdmin Reseller extension
  extensions/directadmin-reseller/.eslintrc.json
  extensions/directadmin-reseller/.gitignore
  extensions/directadmin-reseller/.prettierrc
  extensions/directadmin-reseller/CHANGELOG.md
  extensions/directadmin-reseller/README.md
  extensions/directadmin-reseller/assets/directadmin-reseller.png
  extensions/directadmin-reseller/metadata/directadmin-reseller-1-reseller-user-accounts.png
  extensions/directadmin-reseller/metadata/directadmin-reseller-2-reseller-user-packages.png
  extensions/directadmin-reseller/metadata/directadmin-reseller-3-modify-user.png
  extensions/directadmin-reseller/metadata/directadmin-reseller-4-see-user-domains.png
  extensions/directadmin-reseller/metadata/directadmin-reseller-5-create-email-account.png
  extensions/directadmin-reseller/metadata/directadmin-reseller-6-delete-user-account.png
  extensions/directadmin-reseller/package-lock.json
  extensions/directadmin-reseller/package.json
  extensions/directadmin-reseller/src/components/CreateNewDomainComponent.tsx
  extensions/directadmin-reseller/src/components/ErrorComponent.tsx
  extensions/directadmin-reseller/src/components/databases/CreateDatabaseComponent.tsx
  extensions/directadmin-reseller/src/components/databases/GetDatabasesComponent.tsx
  extensions/directadmin-reseller/src/components/email-accounts/ChangeEmailAccountPasswordComponent.tsx
  extensions/directadmin-reseller/src/components/email-accounts/CreateEmailAccountComponent.tsx
  extensions/directadmin-reseller/src/components/email-accounts/GetEmailAccountsComponent.tsx
  extensions/directadmin-reseller/src/components/subdomains/CreateSubdomainComponent.tsx
  extensions/directadmin-reseller/src/components/subdomains/GetSubdomainsComponent.tsx
  extensions/directadmin-reseller/src/databases.tsx
  extensions/directadmin-reseller/src/domains.tsx
  extensions/directadmin-reseller/src/reseller-ip-s.tsx
  extensions/directadmin-reseller/src/reseller-user-accounts.tsx
  extensions/directadmin-reseller/src/session.tsx
  extensions/directadmin-reseller/src/types/index.ts
  extensions/directadmin-reseller/src/user-packages.tsx
  extensions/directadmin-reseller/src/utils/api.ts
  extensions/directadmin-reseller/src/utils/constants.ts
  extensions/directadmin-reseller/src/utils/functions.ts
  extensions/directadmin-reseller/tsconfig.json
Labels: new extension

#9448 fix(visual-studio-code): set terminal app preference required
  extensions/visual-studio-code-recent-projects/CHANGELOG.md
  extensions/visual-studio-code-recent-projects/package.json
  extensions/visual-studio-code-recent-projects/src/index.tsx
Labels: extension fix / improvement, OP is contributor, extension: visual-studio-code-recent-projects

#9456 Update rocket-chat extension
  extensions/rocket-chat/CHANGELOG.md
  extensions/rocket-chat/src/components/directMessageSection.tsx
Labels: extension fix / improvement, OP is author, extension: rocket-chat
