Repository raycast/extensions, pull requests merged in 2023-12, with the labels that each got.

#9291 feat(karabiner-profile-switcher): add current profile command
  extensions/karabiner-profile-switcher/.eslintrc.json
  extensions/karabiner-profile-switcher/.gitignore
  extensions/karabiner-profile-switcher/CHANGELOG.md
  extensions/karabiner-profile-switcher/package-lock.json
  extensions/karabiner-profile-switcher/package.json
  extensions/karabiner-profile-switcher/src/current-profile.tsx
  extensions/karabiner-profile-switcher/src/index.tsx
  extensions/karabiner-profile-switcher/src/model/KarabinerManager.ts
  extensions/karabiner-profile-switcher/tsconfig.json
Labels: extension fix / improvement, status: stalled, extension: karabiner-profile-switcher

#9493 Update file-manager extension
  extensions/file-manager/CHANGELOG.md
  extensions/file-manager/src/utils.tsx
Labels: extension fix / improvement, OP is contributor, extension: file-manager

#9464 Update reclaim-ai extension with bug fixes
  extensions/reclaim-ai/CHANGELOG.md
  extensions/reclaim-ai/package-lock.json
  extensions/reclaim-ai/package.json
  extensions/reclaim-ai/src/scheduling-links.tsx
  extensions/reclaim-ai/src/task-form.tsx
  extensions/reclaim-ai/src/utils/dates.ts
  extensions/reclaim-ai/src/utils/time-policy.ts
Labels: extension fix / improvement, OP is contributor, extension: reclaim-ai

#9489 [inFakt] Invoice Details View
  extensions/infakt/.prettierrc
  extensions/infakt/CHANGELOG.md
  extensions/infakt/package-lock.json
  extensions/infakt/package.json
  extensions/infakt/src/api/client.ts
  extensions/infakt/src/api/invoice.ts
  extensions/infakt/src/api/product.ts
  extensions/infakt/src/components/clients/SearchClients.tsx
  extensions/infakt/src/components/invoices/ActionsInvoice.tsx
  extensions/infakt/src/components/invoices/CreateInvoice.tsx
  extensions/infakt/src/components/invoices/DetailsInvoice.tsx
  extensions/infakt/src/components/invoices/MailInvoice.tsx
  extensions/infakt/src/components/invoices/SearchInvoices.tsx
  extensions/infakt/src/components/invoices/UpdateInvoice.tsx
  extensions/infakt/src/components/products/CreateProduct.tsx
  extensions/infakt/src/components/products/SearchProducts.tsx
  extensions/infakt/src/components/products/UpdateProduct.tsx
  extensions/infakt/src/create_invoice.tsx
  extensions/infakt/src/create_product.tsx
  extensions/infakt/src/hooks/useBankAccounts.ts
  extensions/infakt/src/hooks/useClient.ts
  extensions/infakt/src/hooks/useClients.ts
  extensions/infakt/src/hooks/useInvoices.ts
  extensions/infakt/src/hooks/useProducts.ts
  extensions/infakt/src/hooks/useVatRates.ts
  extensions/infakt/src/search_clients.tsx
  extensions/infakt/src/search_invoices.tsx
  extensions/infakt/src/search_products.tsx
  extensions/infakt/src/types/bank_account.d.ts
  extensions/infakt/src/types/client.d.ts
  extensions/infakt/src/types/invoice.d.ts
  extensions/infakt/src/types/product.d.ts
  extensions/infakt/src/types/utils.d.ts
  extensions/infakt/tsconfig.json
Labels: extension fix / improvement, OP is author, extension: infakt

#9452 feat(empty-screenshots): add error handling for permissions
  extensions/empty-screenshots/CHANGELOG.md
  extensions/empty-screenshots/package-lock.json
  extensions/empty-screenshots/package.json
  extensions/empty-screenshots/src/index.ts
Labels: extension fix / improvement, OP is author, extension: empty-screenshots

#9472 Ext/nba viewer - Add livescore to the Schedule view
  extensions/nba-game-viewer/CHANGELOG.md
  extensions/nba-game-viewer/src/components/Game.tsx
  extensions/nba-game-viewer/src/hooks/useSchedule.ts
  extensions/nba-game-viewer/src/types/schedule.types.ts
  extensions/nba-game-viewer/src/utils/generateGameAccessories.ts
Labels: extension fix / improvement, OP is contributor, extension: nba-game-viewer

#9513 [Bible] Update bible versions
  extensions/bible/CHANGELOG.md
  extensions/bible/assets/bible-versions.json
Labels: extension fix / improvement, OP is author, extension: bible

#9479 Update openai-gpt extension
  extensions/openai-gpt/.gitignore
  extensions/openai-gpt/CHANGELOG.md
  extensions/openai-gpt/README.md
  extensions/openai-gpt/package.json
  extensions/openai-gpt/src/ai.tsx
Labels: extension fix / improvement, extension: openai-gpt

#9250 Update imessage-2fa extension
  extensions/imessage-2fa/CHANGELOG.md
  extensions/imessage-2fa/package.json
  extensions/imessage-2fa/src/messages.ts
  extensions/imessage-2fa/src/types.ts
Labels: extension fix / improvement, extension: imessage-2fa

#9537 [Notion] Tidy-up
  extensions/notion/CHANGELOG.md
  extensions/notion/package.json
Labels: extension fix / improvement, extension: notion

#9536 fix(dashlane-vault): prevent crash if List.Item has no title
  extensions/dashlane-vault/CHANGELOG.md
  extensions/dashlane-vault/package-lock.json
  extensions/dashlane-vault/package.json
  extensions/dashlane-vault/src/components/ListItemPassword.tsx
  extensions/dashlane-vault/src/components/actions/password/ShowNoteAction.tsx
  extensions/dashlane-vault/src/types/dcli.ts
Labels: extension fix / improvement, OP is author, extension: dashlane-vault

#9418 Add leafcast extension
  extensions/leafcast/.eslintrc.json
  extensions/leafcast/.gitignore
  extensions/leafcast/.prettierrc
  extensions/leafcast/CHANGELOG.md
  extensions/leafcast/README.md
  extensions/leafcast/assets/command-icon.png
  extensions/leafcast/metadata/leafcast-1.png
  extensions/leafcast/metadata/leafcast-2.png
  extensions/leafcast/metadata/leafcast-3.png
  extensions/leafcast/package-lock.json
  extensions/leafcast/package.json
  extensions/leafcast/src/components/AddCustomBrightnessForm.tsx
  extensions/leafcast/src/components/AddCustomColorForm.tsx
  extensions/leafcast/src/components/CustomColorGrid.tsx
  extensions/leafcast/src/components/SetDeviceAddressForm.tsx
  extensions/leafcast/src/constants/index.ts
  extensions/leafcast/src/control-lights.tsx
  extensions/leafcast/src/hooks/use-device-api.ts
  extensions/leafcast/src/pair-device.tsx
  extensions/leafcast/src/types/index.ts
  extensions/leafcast/src/utils/index.ts
  extensions/leafcast/tsconfig.json
Labels: new extension

#9320 Update copyq-clipboard-manager extension
  extensions/copyq-clipboard-manager/.gitignore
  extensions/copyq-clipboard-manager/CHANGELOG.md
  extensions/copyq-clipboard-manager/metadata/copyq-1.png
  extensions/copyq-clipboard-manager/metadata/copyq-2.png
  extensions/copyq-clipboard-manager/metadata/copyq-clipboard-manager-1.png
  extensions/copyq-clipboard-manager/metadata/copyq-clipboard-manager-2.png
  extensions/copyq-clipboard-manager/package.json
  extensions/copyq-clipboard-manager/src/select-tab.tsx
  extensions/copyq-clipboard-manager/src/view-clipboard-entries.tsx
Labels: extension fix / improvement, OP is author, extension: copyq-clipboard-manager

#9535 Update cal-com-share-meeting-links extension
  extensions/cal-com-share-meeting-links/CHANGELOG.md
  extensions/cal-com-share-meeting-links/package-lock.json
  extensions/cal-com-share-meeting-links/package.json
  extensions/cal-com-share-meeting-links/src/index.tsx
Labels: extension fix / improvement, OP is contributor, extension: cal-com-share-meeting-links

#9496 [inFakt] Add shortcut to send via mail
  extensions/infakt/CHANGELOG.md
  extensions/infakt/src/components/invoices/ActionsInvoice.tsx
Labels: extension fix / improvement, OP is author, extension: infakt

#9508 Update tmdb extension
  extensions/tmdb/.gitignore
  extensions/tmdb/CHANGELOG.md
  extensions/tmdb/package.json
  extensions/tmdb/src/components/MovieDetail.tsx
  extensions/tmdb/src/components/TvShowDetail.tsx
  extensions/tmdb/src/search.tsx
Labels: extension fix / improvement, extension: tmdb

#9500 [1password] Add Copy one-time password action
  extensions/1password/CHANGELOG.md
  extensions/1password/package.json
  extensions/1password/src/v8/components/ActionCopyToClipboard.tsx
  extensions/1password/src/v8/components/ItemActionPanel.tsx
  extensions/1password/src/v8/utils.ts
Labels: extension fix / improvement, OP is contributor, extension: 1password

#9388 Add url-unshortener extension
  extensions/url-unshortener/.eslintrc.json
  extensions/url-unshortener/.gitignore
  extensions/url-unshortener/.prettierrc
  extensions/url-unshortener/CHANGELOG.md
  extensions/url-unshortener/README.md
  extensions/url-unshortener/assets/icon.png
  extensions/url-unshortener/metadata/url-unshortener-1.png
  extensions/url-unshortener/metadata/url-unshortener-2.png
  extensions/url-unshortener/package-lock.json
  extensions/url-unshortener/package.json
  extensions/url-unshortener/src/types.tsx
  extensions/url-unshortener/src/unshorten-url-interactive.tsx
  extensions/url-unshortener/src/unshorten-url-quick.tsx
  extensions/url-unshortener/src/utils.tsx
  extensions/url-unshortener/tsconfig.json
Labels: new extension

#9560 Update shortcuts-search extension
  extensions/shortcuts-search/CHANGELOG.md
  extensions/shortcuts-search/package-lock.json
  extensions/shortcuts-search/package.json
  extensions/shortcuts-search/src/load/input-parser.spec.ts
  extensions/shortcuts-search/src/load/input-parser.ts
  extensions/shortcuts-search/src/load/shortcuts-provider.ts
  extensions/shortcuts-search/src/load/validator.spec.ts
  extensions/shortcuts-search/src/load/validator.ts
Labels: extension fix / improvement, OP is author, extension: shortcuts-search

#9562 Improve Dub link shortening text and feedback
  extensions/dub-link-shortener/CHANGELOG.md
  extensions/dub-link-shortener/src/shorten-link.tsx
Labels: extension fix / improvement, OP is author, extension: dub-link-shortener

#9519 Update open-with-app extension
  extensions/open-with-app/.gitignore
  extensions/open-with-app/CHANGELOG.md
  extensions/open-with-app/package-lock.json
  extensions/open-with-app/package.json
  extensions/open-with-app/src/index.tsx
Labels: extension fix / improvement, OP is contributor, extension: open-with-app

#9266 Add omnivore extension
  extensions/omnivore/.eslintrc.json
  extensions/omnivore/.gitignore
  extensions/omnivore/.prettierrc
  extensions/omnivore/CHANGELOG.md
  extensions/omnivore/README.md
  extensions/omnivore/assets/archive.svg
  extensions/omnivore/assets/archive@dark.svg
  extensions/omnivore/assets/command-icon.png
  extensions/omnivore/assets/iconmark.svg
  extensions/omnivore/assets/iconmark@dark.svg
  extensions/omnivore/assets/unarchive.svg
  extensions/omnivore/assets/unarchive@dark.svg
  extensions/omnivore/metadata/omnivore-1.png
  extensions/omnivore/metadata/omnivore-2.png
  extensions/omnivore/metadata/omnivore-3.png
  extensions/omnivore/package-lock.json
  extensions/omnivore/package.json
  extensions/omnivore/src/components/ArticleActions.tsx
  extensions/omnivore/src/components/ArticleDetail.tsx
  extensions/omnivore/src/components/SearchDropdown.tsx
  extensions/omnivore/src/graphql/queries.ts
  extensions/omnivore/src/hooks/useArticle.ts
  extensions/omnivore/src/hooks/useArticles.ts
  extensions/omnivore/src/hooks/useErrorHandling.ts
  extensions/omnivore/src/hooks/useUser.ts
  extensions/omnivore/src/omnivore-capture.tsx
  extensions/omnivore/src/omnivore-search.tsx
  extensions/omnivore/src/types/index.ts
  extensions/omnivore/src/utils/index.ts
  extensions/omnivore/tsconfig.json
Labels: new extension

#9586 [Ollama] Fix description typo
  extensions/raycast-ollama/CHANGELOG.md
  extensions/raycast-ollama/package.json
Labels: extension fix / improvement, extension: raycast-ollama

#9527 Update git-repos extension
  extensions/git-repos/CHANGELOG.md
  extensions/git-repos/package.json
  extensions/git-repos/src/hooks/useLocalStorage.ts
  extensions/git-repos/src/hooks/useUsageBasedSort.ts
  extensions/git-repos/src/list.tsx
Labels: extension fix / improvement, extension: git-repos

#9610 Update dust-tt extension
  extensions/dust-tt/CHANGELOG.md
  extensions/dust-tt/assets/icons/github.svg
  extensions/dust-tt/assets/icons/google_drive.svg
  extensions/dust-tt/assets/icons/intercom.svg
  extensions/dust-tt/assets/icons/notion.svg
  extensions/dust-tt/assets/icons/slack.svg
  extensions/dust-tt/src/agents.tsx
  extensions/dust-tt/src/answerQuestion.tsx
  extensions/dust-tt/src/dust_api/api.tsx
Labels: extension fix / improvement, OP is author, extension: dust-tt

#9588 Update mound-for-pile extension
  extensions/mound-for-pile/CHANGELOG.md
  extensions/mound-for-pile/package.json
  extensions/mound-for-pile/src/components/forms/CreatePostForm.tsx
  extensions/mound-for-pile/src/components/views/EmptyView.tsx
  extensions/mound-for-pile/src/helpers.ts
  extensions/mound-for-pile/src/index.tsx
  extensions/mound-for-pile/src/utils/types.ts
Labels: extension fix / improvement, OP is author, extension: mound-for-pile

#9625 Update dust-tt extension
  extensions/dust-tt/CHANGELOG.md
  extensions/dust-tt/package.json
  extensions/dust-tt/src/answerQuestion.tsx
  extensions/dust-tt/src/dust_api/agent.ts
  extensions/dust-tt/src/dust_api/api.tsx
  extensions/dust-tt/src/dust_api/conversation.ts
  extensions/dust-tt/src/dust_api/conversation_events.ts
  extensions/dust-tt/src/dust_api/user.ts
  extensions/dust-tt/src/history.tsx
Labels: extension fix / improvement, OP is author, extension: dust-tt

#9633 Update tesla extension
  extensions/tesla/CHANGELOG.md
  extensions/tesla/assets/Cybertruck/Cybertruck.png
  extensions/tesla/assets/Cybertruck/CybertruckBlack.png
  extensions/tesla/assets/Cybertruck/CybertruckWhite.png
  extensions/tesla/package.json
  extensions/tesla/src/changeImage.tsx
  extensions/tesla/src/startDefrost.tsx
  extensions/tesla/src/stopDefrost.tsx
  extensions/tesla/src/tires.tsx
  extensions/tesla/src/types/TirePressures.ts
  extensions/tesla/src/viewCar.tsx
Labels: extension fix / improvement, OP is author, extension: tesla

#9511 [Spotify Player] Improve Spotify Player extension
  extensions/spotify-player/CHANGELOG.md
  extensions/spotify-player/package.json
  extensions/spotify-player/src/api/getMySavedTracks.ts
  extensions/spotify-player/src/api/play.ts
  extensions/spotify-player/src/components/PlayAction.tsx
  extensions/spotify-player/src/components/PlaylistLikedTracksItem.tsx
  extensions/spotify-player/src/components/TracksList.tsx
  extensions/spotify-player/src/devices.tsx
  extensions/spotify-player/src/helpers/applescript.ts
  extensions/spotify-player/src/helpers/getError.ts
  extensions/spotify-player/src/hooks/useMyDevices.ts
  extensions/spotify-player/src/hooks/useYourLibrary.ts
  extensions/spotify-player/src/yourLibrary.tsx
Labels: extension fix / improvement, extension: spotify-player

#9620 Update mute-microphone extension
  extensions/mute-microphone/CHANGELOG.md
  extensions/mute-microphone/src/mute-menu-bar.tsx
Labels: extension fix / improvement, OP is contributor, extension: mute-microphone

#9635 feat(open-graph): add copy actions
  extensions/open-graph/CHANGELOG.md
  extensions/open-graph/package.json
  extensions/open-graph/src/open-graph.tsx
Labels: extension fix / improvement, extension: open-graph

#9553 [Toolbox] Add more commands
  extensions/toolbox/CHANGELOG.md
  extensions/toolbox/package-lock.json
  extensions/toolbox/package.json
  extensions/toolbox/src/index.tsx
  extensions/toolbox/src/script/convert/convert.ts
  extensions/toolbox/src/script/format/json.ts
Labels: extension fix / improvement, extension: toolbox

#9603 Update bilibili extension
  extensions/Bilibili/CHANGELOG.md
  extensions/Bilibili/README.md
  extensions/Bilibili/assets/bilibili.png
  extensions/Bilibili/metadata/bilibili-1.png
  extensions/Bilibili/metadata/bilibili-2.png
  extensions/Bilibili/package-lock.json
  extensions/Bilibili/package.json
  extensions/Bilibili/src/components/conslusionView.tsx
  extensions/Bilibili/src/components/video.tsx
  extensions/Bilibili/src/dynamicFeed.tsx
  extensions/Bilibili/src/hooks/useDynamicFeed.ts
  extensions/Bilibili/src/popularSeries.tsx
  extensions/Bilibili/src/popularVideos.tsx
  extensions/Bilibili/src/rcmdVideos.tsx
  extensions/Bilibili/src/types.ts
  extensions/Bilibili/src/utils/api.ts
  extensions/Bilibili/src/utils/getCid.ts
  extensions/Bilibili/src/utils/getConclsion.ts
  extensions/Bilibili/src/utils/index.ts
  extensions/Bilibili/src/utils/postHeartbeat.ts
  extensions/Bilibili/src/utils/tools.ts
Labels: extension fix / improvement, OP is author, extension: bilibili

#9506 Update unicode-symbols extension
  extensions/unicode-symbols/.eslintrc.json
  extensions/unicode-symbols/.gitignore
  extensions/unicode-symbols/.prettierrc
  extensions/unicode-symbols/CHANGELOG.md
  extensions/unicode-symbols/assets/dataset.json
  extensions/unicode-symbols/metadata/unicode-symbols-1.png
  extensions/unicode-symbols/metadata/unicode-symbols-2.png
  extensions/unicode-symbols/metadata/unicode-symbols-3.png
  extensions/unicode-symbols/metadata/unicode-symbols-4.png
  extensions/unicode-symbols/metadata/unicode-symbols-5.png
  extensions/unicode-symbols/package-lock.json
  extensions/unicode-symbols/package.json
  extensions/unicode-symbols/scripts/generate-dataset.ts
  extensions/unicode-symbols/src/components/CharacterActionPanel.tsx
  extensions/unicode-symbols/src/components/DataSetSelector.tsx
  extensions/unicode-symbols/src/components/ItemGrid.tsx
  extensions/unicode-symbols/src/components/ItemList.tsx
  extensions/unicode-symbols/src/constants.ts
  extensions/unicode-symbols/src/context/ListContext.tsx
  extensions/unicode-symbols/src/dataset-manager.ts
  extensions/unicode-symbols/src/index.tsx
  extensions/unicode-symbols/src/lib/dataset-manager.ts
  extensions/unicode-symbols/src/lib/preferences.ts
  extensions/unicode-symbols/src/lib/use-recently-used-items.ts
  extensions/unicode-symbols/src/raycast-preferences.ts
  extensions/unicode-symbols/src/utils/list.ts
  extensions/unicode-symbols/src/utils/string.ts
  extensions/unicode-symbols/tsconfig.json
Labels: extension fix / improvement, extension: unicode-symbols

#9647 zoom-meeting: Add toggle for mute and video
  extensions/zoom-control/CHANGELOG.md
  extensions/zoom-control/package.json
  extensions/zoom-control/src/mute-toggle.ts
  extensions/zoom-control/src/video-toggle.ts
Labels: extension fix / improvement, OP is author, OP is contributor, extension: zoom-control

#9644 Update OK JSON extension
  extensions/ok-json/CHANGELOG.md
  extensions/ok-json/package-lock.json
  extensions/ok-json/package.json
  extensions/ok-json/src/utilities/jsa.tsx
  extensions/ok-json/src/viewFromPasteboard.tsx
  extensions/ok-json/src/viewFromURL.tsx
Labels: extension fix / improvement, OP is author, extension: ok-json

#9646 Update search-shopify-liquid-documentation extension
  extensions/search-shopify-liquid-documentation/CHANGELOG.md
  extensions/search-shopify-liquid-documentation/metadata/1_basics.png
  extensions/search-shopify-liquid-documentation/metadata/2_tags.png
  extensions/search-shopify-liquid-documentation/metadata/3_filters.png
  extensions/search-shopify-liquid-documentation/metadata/4_objects.png
  extensions/search-shopify-liquid-documentation/metadata/search-shopify-liquid-documentation-1.png
  extensions/search-shopify-liquid-documentation/metadata/search-shopify-liquid-documentation-2.png
  extensions/search-shopify-liquid-documentation/package.json
  extensions/search-shopify-liquid-documentation/src/docs.ts
  extensions/search-shopify-liquid-documentation/src/index.tsx
  extensions/search-shopify-liquid-documentation/src/types/types.ts
Labels: extension fix / improvement, OP is author, extension: search-shopify-liquid-documentation

#9628 [Visual Studio Code Recent Projects] New Command for creating a new Visual Studio Code window
  extensions/visual-studio-code-recent-projects/CHANGELOG.md
  extensions/visual-studio-code-recent-projects/package.json
  extensions/visual-studio-code-recent-projects/src/open-new-window.ts
Labels: extension fix / improvement, extension: visual-studio-code-recent-projects

#9634 [Browser Bookmarks] Add support for Brave nightly
  extensions/browser-bookmarks/CHANGELOG.md
  extensions/browser-bookmarks/assets/brave-nightly.png
  extensions/browser-bookmarks/src/hooks/useAvailableBrowsers.ts
  extensions/browser-bookmarks/src/hooks/useBraveNightlyBookmarks.ts
  extensions/browser-bookmarks/src/index.tsx
Labels: extension fix / improvement, extension: browser-bookmarks

#9654 [URL shortener] - Fix for 1 char domains
  extensions/url-unshortener/CHANGELOG.md
  extensions/url-unshortener/package.json
  extensions/url-unshortener/src/utils.tsx
Labels: extension fix / improvement, extension: url-unshortener

#9622 Trello extension add closed board toggle
  extensions/trello/CHANGELOG.md
  extensions/trello/package-lock.json
  extensions/trello/package.json
  extensions/trello/src/createTodo.tsx
  extensions/trello/src/search.tsx
  extensions/trello/src/searchBoards.tsx
  extensions/trello/src/utils/fetchBoards.ts
  extensions/trello/src/utils/fetchTodos.tsx
  extensions/trello/src/utils/postTodo.tsx
  extensions/trello/src/utils/types.ts
Labels: extension fix / improvement, OP is author, extension: trello

#9656 [Browser Bookmars] Add as a contributor to package.json
  extensions/browser-bookmarks/package.json
Labels: extension fix / improvement, extension: browser-bookmarks

#9642 Update copyq-clipboard-manager extension
  extensions/copyq-clipboard-manager/CHANGELOG.md
  extensions/copyq-clipboard-manager/metadata/copyq-clipboard-manager-1.png
  extensions/copyq-clipboard-manager/metadata/copyq-clipboard-manager-2.png
  extensions/copyq-clipboard-manager/package.json
  extensions/copyq-clipboard-manager/src/select-tab.tsx
  extensions/copyq-clipboard-manager/src/view-clipboard-entries.tsx
Labels: extension fix / improvement, OP is author, OP is contributor, extension: copyq-clipboard-manager

#9667 Update unicode-symbols extension
  extensions/unicode-symbols/CHANGELOG.md
  extensions/unicode-symbols/src/components/ItemGrid.tsx
Labels: extension fix / improvement, OP is contributor, extension: unicode-symbols

#9621 Update anonaddy extension
  extensions/anonaddy/CHANGELOG.md
  extensions/anonaddy/README.md
  extensions/anonaddy/assets/command-icon.png
  extensions/anonaddy/assets/icon.png
  extensions/anonaddy/assets/icon@dark.png
  extensions/anonaddy/package-lock.json
  extensions/anonaddy/package.json
  extensions/anonaddy/src/api/APIError.ts
  extensions/anonaddy/src/api/alias.ts
  extensions/anonaddy/src/api/domains.ts
  extensions/anonaddy/src/api/fetch.ts
  extensions/anonaddy/src/edit-alias.tsx
  extensions/anonaddy/src/generate-alias.tsx
  extensions/anonaddy/src/list-aliases.tsx
  extensions/anonaddy/src/preferences.ts
  extensions/anonaddy/src/utils/create.ts
  extensions/anonaddy/src/utils/delete.ts
  extensions/anonaddy/src/utils/edit.ts
  extensions/anonaddy/src/utils/key.ts
  extensions/anonaddy/src/utils/list.ts
  extensions/anonaddy/src/utils/toggle.ts
Labels: extension fix / improvement, extension: anonaddy

#9655 Refactor Buildkite extension to use GraphQL codegen
  extensions/buildkite/.eslintrc
  extensions/buildkite/.eslintrc.json
  extensions/buildkite/.graphqlrc.yml
  extensions/buildkite/.prettierignore
  extensions/buildkite/CHANGELOG.md
  extensions/buildkite/codegen.ts
  extensions/buildkite/package-lock.json
  extensions/buildkite/package.json
  extensions/buildkite/schema.graphql
  extensions/buildkite/scripts/update-schema.sh
  extensions/buildkite/src/api/withBuildkiteClient.tsx
  extensions/buildkite/src/buildkite.graphql
  extensions/buildkite/src/components/BuildListItem.tsx
  extensions/buildkite/src/components/Builds.tsx
  extensions/buildkite/src/components/PipelineListItem.tsx
  extensions/buildkite/src/components/PipelineListSection.tsx
  extensions/buildkite/src/components/View.tsx
  extensions/buildkite/src/generated/graphql.ts
  extensions/buildkite/src/my-builds.tsx
  extensions/buildkite/src/search-pipelines.tsx
  extensions/buildkite/src/utils/preferences.ts
  extensions/buildkite/src/utils/states.ts
  extensions/buildkite/src/utils/truthy.ts
  extensions/buildkite/src/utils/types.ts
  extensions/buildkite/src/utils/useQuery.ts
Labels: extension fix / improvement, OP is author, extension: buildkite

#9658 [Trello] Add ability to open cards in Trello desktop
  extensions/trello/CHANGELOG.md
  extensions/trello/package-lock.json
  extensions/trello/package.json
  extensions/trello/src/TrelloListItem.tsx
Labels: extension fix / improvement, OP is author, extension: trello

#9685 Update imessage-2fa extension
  extensions/imessage-2fa/CHANGELOG.md
  extensions/imessage-2fa/src/messages.ts
Labels: extension fix / improvement, OP is contributor, extension: imessage-2fa

#9662 [DayOne] improve the cli detection logic
  extensions/day-one/CHANGELOG.md
  extensions/day-one/src/day-one.ts
  extensions/day-one/src/utils.ts
Labels: extension fix / improvement, OP is author, extension: day-one

#9639 [Mail] New mark all as read command
  extensions/mail/CHANGELOG.md
  extensions/mail/package-lock.json
  extensions/mail/package.json
  extensions/mail/raycast-env.d.ts
  extensions/mail/src/check-for-mail.tsx
  extensions/mail/src/mark-all-as-read.tsx
  extensions/mail/src/scripts/accounts.ts
  extensions/mail/src/scripts/messages.ts
  extensions/mail/src/utils/finder.ts
Labels: extension fix / improvement, OP is contributor, extension: mail

#9580 [Arc] new tab enhancement and Release Notes / Boost Gallery Commands
  extensions/arc/CHANGELOG.md
  extensions/arc/package.json
  extensions/arc/src/arc.ts
  extensions/arc/src/boost-gallery.tsx
  extensions/arc/src/release-notes.tsx
Labels: extension fix / improvement, OP is contributor, extension: arc

#9457 Update work-time-countdown extension
  extensions/work-time-countdown/.gitignore
  extensions/work-time-countdown/CHANGELOG.md
  extensions/work-time-countdown/package.json
  extensions/work-time-countdown/src/index.tsx
Labels: extension fix / improvement, extension: work-time-countdown

#9371 Add cloudflare-warp extension
  extensions/cloudflare-warp/.eslintrc.json
  extensions/cloudflare-warp/.gitignore
  extensions/cloudflare-warp/.prettierrc
  extensions/cloudflare-warp/CHANGELOG.md
  extensions/cloudflare-warp/README.md
  extensions/cloudflare-warp/assets/command-icon.png
  extensions/cloudflare-warp/metadata/cloudflare-warp-1.png
  extensions/cloudflare-warp/metadata/cloudflare-warp-2.png
  extensions/cloudflare-warp/package-lock.json
  extensions/cloudflare-warp/package.json
  extensions/cloudflare-warp/src/connect.tsx
  extensions/cloudflare-warp/src/disconnect.tsx
  extensions/cloudflare-warp/src/lib.ts
  extensions/cloudflare-warp/src/switch-virtual-network.tsx
  extensions/cloudflare-warp/tsconfig.json
Labels: new extension

#9343 Improve Dub link list view
  extensions/dub-link-shortener/CHANGELOG.md
  extensions/dub-link-shortener/README.md
  extensions/dub-link-shortener/package.json
  extensions/dub-link-shortener/src/search-links.tsx
Labels: extension fix / improvement, extension: dub-link-shortener

#9660 [bing-search] decode JSON as UTF-8
  extensions/bing-search/.gitignore
  extensions/bing-search/CHANGELOG.md
  extensions/bing-search/package-lock.json
  extensions/bing-search/package.json
  extensions/bing-search/src/utils/handleResults.ts
Labels: extension fix / improvement, extension: bing-search

#9699 Update dust-tt extension
  extensions/dust-tt/CHANGELOG.md
  extensions/dust-tt/src/answerQuestion.tsx
  extensions/dust-tt/src/askAgent.tsx
  extensions/dust-tt/src/dust_api/api.tsx
Labels: extension fix / improvement, OP is author, extension: dust-tt

#9709 Update ip-tools extension
  extensions/ip-tools/CHANGELOG.md
  extensions/ip-tools/README.md
  extensions/ip-tools/metadata/ip-tools-8.png
  extensions/ip-tools/package-lock.json
  extensions/ip-tools/package.json
  extensions/ip-tools/src/components/dropdown.tsx
  extensions/ip-tools/src/geoLocation.tsx
  extensions/ip-tools/src/isValidCIDR.tsx
Labels: extension fix / improvement, OP is author, extension: ip-tools

#9749 Update dust-tt extension
  extensions/dust-tt/CHANGELOG.md
  extensions/dust-tt/src/ask.tsx
  extensions/dust-tt/src/askAgent.tsx
Labels: extension fix / improvement, OP is author, extension: dust-tt

#9741 Update waktu-solat extension
  extensions/waktu-solat/CHANGELOG.md
  extensions/waktu-solat/assets/icon01.png
  extensions/waktu-solat/assets/mosque.png
  extensions/waktu-solat/package-lock.json
  extensions/waktu-solat/package.json
  extensions/waktu-solat/src/index.tsx
  extensions/waktu-solat/src/menu-bar.tsx
Labels: extension fix / improvement, OP is author, extension: waktu-solat

#9731 Update mailsy extension
  extensions/mailsy/CHANGELOG.md
  extensions/mailsy/README.md
  extensions/mailsy/metadata/Mailsy-01.png
  extensions/mailsy/metadata/Mailsy-02.png
  extensions/mailsy/metadata/Mailsy-03.png
  extensions/mailsy/metadata/Metadata-2.png
  extensions/mailsy/metadata/Metadata.png
  extensions/mailsy/package-lock.json
  extensions/mailsy/package.json
  extensions/mailsy/src/delete.tsx
  extensions/mailsy/src/gen.tsx
  extensions/mailsy/src/hooks/useAccount.ts
  extensions/mailsy/src/info.tsx
  extensions/mailsy/src/libs/api.ts
  extensions/mailsy/src/libs/utils.ts
  extensions/mailsy/src/mails.tsx
  extensions/mailsy/src/mailsy.tsx
  extensions/mailsy/src/types/index.ts
  extensions/mailsy/src/utils/index.ts
Labels: extension fix / improvement, OP is author, extension: mailsy

#9624 Add compressx extension
  extensions/compressx/.eslintrc.json
  extensions/compressx/.gitignore
  extensions/compressx/.prettierrc
  extensions/compressx/CHANGELOG.md
  extensions/compressx/LICENSE
  extensions/compressx/README.md
  extensions/compressx/assets/command-icon.png
  extensions/compressx/package-lock.json
  extensions/compressx/package.json
  extensions/compressx/src/compressVideo.tsx
  extensions/compressx/src/utils/checkInstall.ts
  extensions/compressx/tsconfig.json
Labels: new extension

#9697 Browser Bookmarks: Add support for Sidekick browser
  extensions/browser-bookmarks/CHANGELOG.md
  extensions/browser-bookmarks/README.md
  extensions/browser-bookmarks/assets/sidekick.png
  extensions/browser-bookmarks/package.json
  extensions/browser-bookmarks/src/hooks/useAvailableBrowsers.ts
  extensions/browser-bookmarks/src/hooks/useSidekickBookmarks.ts
  extensions/browser-bookmarks/src/index.tsx
Labels: extension fix / improvement, extension: browser-bookmarks

#9762 Jira: Fix JQL reserved keyword bug
  extensions/jira/CHANGELOG.md
  extensions/jira/package-lock.json
  extensions/jira/package.json
  extensions/jira/src/active-sprints.tsx
  extensions/jira/src/api/issues.ts
  extensions/jira/src/api/request.ts
  extensions/jira/src/api/sprints.ts
  extensions/jira/src/components/CreateIssueForm.tsx
  extensions/jira/src/components/FormParentDropdown.tsx
  extensions/jira/src/components/FormSprintDropdown.tsx
  extensions/jira/src/components/FormUserDropdown.tsx
  extensions/jira/src/components/IssueActions.tsx
  extensions/jira/src/components/IssueAttachments.tsx
  extensions/jira/src/components/IssueDetail.tsx
  extensions/jira/src/helpers/issues.ts
  extensions/jira/src/helpers/string.ts
  extensions/jira/src/open-issues.tsx
  extensions/jira/src/search-issues.tsx
Labels: extension fix / improvement, OP is author, extension: jira

#9765 Apple Reminders: Create Reminder fixes
  extensions/apple-reminders/CHANGELOG.md
  extensions/apple-reminders/src/create-reminder.tsx
Labels: extension fix / improvement, OP is author, extension: apple-reminders

#9772 Bug on timezone-converter when zonename might be undefined
  extensions/timezone-converter/CHANGELOG.md
  extensions/timezone-converter/src/index.tsx
Labels: extension fix / improvement, extension: timezone-converter

#9770 Update mailsy extension
  extensions/mailsy/.gitignore
  extensions/mailsy/CHANGELOG.md
  extensions/mailsy/assets/email.html
  extensions/mailsy/src/libs/api.ts
  extensions/mailsy/src/libs/utils.ts
  extensions/mailsy/src/mailsy.tsx
  extensions/mailsy/src/types/index.ts
Labels: extension fix / improvement, OP is author, extension: mailsy

#9760 fix(vault): copy token with oidc login
  extensions/vault/CHANGELOG.md
  extensions/vault/src/components/actions.tsx
  extensions/vault/src/utils.ts
Labels: extension fix / improvement, OP is author, extension: vault

#9767 [Laby.net] Fix loading bug (update to v3 api), upgrade dependencies
  extensions/laby-net/.prettierrc
  extensions/laby-net/CHANGELOG.md
  extensions/laby-net/README.md
  extensions/laby-net/package-lock.json
  extensions/laby-net/package.json
  extensions/laby-net/src/profile.tsx
  extensions/laby-net/src/service.ts
Labels: extension fix / improvement, OP is author, extension: laby-net

#9155 feat(todoist): Add filter functionality for viewing filters and tasks
  extensions/todoist/CHANGELOG.md
  extensions/todoist/package.json
  extensions/todoist/src/api.ts
  extensions/todoist/src/components/Filter.tsx
  extensions/todoist/src/components/FilterTasks.tsx
  extensions/todoist/src/helpers/filters.ts
  extensions/todoist/src/home.tsx
  extensions/todoist/src/show-filters.tsx
Labels: extension fix / improvement, OP is author, extension: todoist

#9755 add vercel preview url submenu to pull request
  extensions/github/CHANGELOG.md
  extensions/github/assets/vercel.svg
  extensions/github/package.json
  extensions/github/src/api/repository.graphql
  extensions/github/src/components/PullRequestActions.tsx
  extensions/github/src/generated/graphql.ts
  extensions/github/src/helpers/repository.ts
Labels: extension fix / improvement, extension: github

#9788 Updated Splitwise extension
  extensions/Splitwise/CHANGELOG.md
  extensions/Splitwise/src/hooks/useList.tsx
  extensions/Splitwise/src/list-expenses.tsx
Labels: extension fix / improvement, OP is author, extension: splitwise

#9783 Fix Image Detail commant crashes in Docker extension
  extensions/docker/.eslintrc.json
  extensions/docker/.gitignore
  extensions/docker/CHANGELOG.md
  extensions/docker/package-lock.json
  extensions/docker/package.json
  extensions/docker/src/container_list.tsx
  extensions/docker/src/docker/image.ts
  extensions/docker/src/docker/index.ts
  extensions/docker/src/image_list.tsx
  extensions/docker/src/ui/toast.ts
Labels: extension fix / improvement, OP is author, extension: docker

#9670 Update jump extension
  extensions/jump/.eslintrc.json
  extensions/jump/.gitignore
  extensions/jump/CHANGELOG.md
  extensions/jump/package-lock.json
  extensions/jump/package.json
  extensions/jump/src/browse-destinations.tsx
  extensions/jump/src/copy-jump-data.ts
  extensions/jump/src/import-jump-data.tsx
  extensions/jump/src/jump.tsx
  extensions/jump/src/types.ts
  extensions/jump/src/utils.ts
  extensions/jump/tsconfig.json
Labels: extension fix / improvement, extension: jump

#9790 Apple Reminders: Add option to hide menu bar count when empty
  extensions/apple-reminders/CHANGELOG.md
  extensions/apple-reminders/package.json
  extensions/apple-reminders/src/menu-bar.tsx
Labels: extension fix / improvement, OP is author, extension: apple-reminders

#9659 [Toolbox] Add Command to convert unix timestamp to date
  extensions/toolbox/CHANGELOG.md
  extensions/toolbox/src/script/date/date.ts
Labels: extension fix / improvement, OP is contributor, extension: toolbox

#9793 [Google chrome] fix window for history
  extensions/google-chrome/CHANGELOG.md
  extensions/google-chrome/package.json
  extensions/google-chrome/src/actions/index.tsx
Labels: extension fix / improvement, extension: google-chrome

#9676 Add Do Not Disturb Extension
  extensions/do-not-disturb/.eslintrc.json
  extensions/do-not-disturb/.gitignore
  extensions/do-not-disturb/.prettierrc
  extensions/do-not-disturb/CHANGELOG.md
  extensions/do-not-disturb/README.md
  extensions/do-not-disturb/assets/DND Raycast.shortcut
  extensions/do-not-disturb/assets/dnd-icon.png
  extensions/do-not-disturb/metadata/dnd.png
  extensions/do-not-disturb/package-lock.json
  extensions/do-not-disturb/package.json
  extensions/do-not-disturb/src/off.ts
  extensions/do-not-disturb/src/on.ts
  extensions/do-not-disturb/src/status.ts
  extensions/do-not-disturb/src/toggle.ts
  extensions/do-not-disturb/src/utils.ts
  extensions/do-not-disturb/tsconfig.json
Labels: new extension

#9604 [Brave] Add Brave Beta and Nightly support
  extensions/brave/CHANGELOG.md
  extensions/brave/package.json
  extensions/brave/src/actions/index.tsx
  extensions/brave/src/constants.ts
  extensions/brave/src/interfaces/index.ts
  extensions/brave/src/util/index.ts
Labels: extension fix / improvement, extension: brave

#9821 Fixes a number of small problems reported by Raycast Issues
  extensions/figma-files/CHANGELOG.md
  extensions/figma-files/package-lock.json
  extensions/figma-files/package.json
  extensions/figma-files/src/components/fetchFigmaData.ts
  extensions/figma-files/src/hooks/usePages.ts
  extensions/figma-files/src/index.tsx
  extensions/figma-files/src/menu-bar.tsx
Labels: extension fix / improvement, OP is author, extension: figma-files

#9605 Apple Reminders: Improve NLP for the end date of recurring reminders
  extensions/apple-reminders/CHANGELOG.md
  extensions/apple-reminders/package.json
  extensions/apple-reminders/src/api.ts
  extensions/apple-reminders/src/create-reminder.tsx
  extensions/apple-reminders/src/quick-add-reminder.tsx
Labels: extension fix / improvement, extension: apple-reminders

#9857 fix(change-case): quicklink respect preference
  extensions/change-case/CHANGELOG.md
  extensions/change-case/package-lock.json
  extensions/change-case/package.json
  extensions/change-case/src/change-case.tsx
Labels: extension fix / improvement, OP is author, extension: change-case

#9906 Update browser-bookmarks extension
  extensions/browser-bookmarks/CHANGELOG.md
  extensions/browser-bookmarks/package-lock.json
  extensions/browser-bookmarks/package.json
Labels: extension fix / improvement, OP is contributor, extension: browser-bookmarks

#9910 [Pins] Tooltips, Tag Filtering, and New Placeholders
  extensions/pins/CHANGELOG.md
  extensions/pins/assets/placeholders_guide.md
  extensions/pins/package-lock.json
  extensions/pins/package.json
  extensions/pins/src/components/PinForm.tsx
  extensions/pins/src/components/PinMenuItem.tsx
  extensions/pins/src/copy-pins.ts
  extensions/pins/src/import-data.tsx
  extensions/pins/src/index.tsx
  extensions/pins/src/lib/Groups.ts
  extensions/pins/src/lib/LocalData.ts
  extensions/pins/src/lib/Pins.ts
  extensions/pins/src/lib/accessories.ts
  extensions/pins/src/lib/browser-utils.ts
  extensions/pins/src/lib/defaults.ts
  extensions/pins/src/lib/placeholders.ts
  extensions/pins/src/lib/placeholders/custom-placeholders/address.ts
  extensions/pins/src/lib/placeholders/custom-placeholders/askAI.ts
  extensions/pins/src/lib/placeholders/custom-placeholders/delay.ts
  extensions/pins/src/lib/placeholders/custom-placeholders/groupNames.ts
  extensions/pins/src/lib/placeholders/custom-placeholders/groups.ts
  extensions/pins/src/lib/placeholders/custom-placeholders/input.ts
  extensions/pins/src/lib/placeholders/custom-placeholders/latitude.ts
  extensions/pins/src/lib/placeholders/custom-placeholders/location.ts
  extensions/pins/src/lib/placeholders/custom-placeholders/longitude.ts
  extensions/pins/src/lib/placeholders/custom-placeholders/pinNames.ts
  extensions/pins/src/lib/placeholders/custom-placeholders/pinStatistics.ts
  extensions/pins/src/lib/placeholders/custom-placeholders/pinTargets.ts
  extensions/pins/src/lib/placeholders/custom-placeholders/pins.ts
  extensions/pins/src/lib/placeholders/custom-placeholders/previousApplication.ts
  extensions/pins/src/lib/placeholders/custom-placeholders/previousPinName.ts
  extensions/pins/src/lib/placeholders/custom-placeholders/previousPinTarget.ts
  extensions/pins/src/lib/placeholders/index.ts
  extensions/pins/src/lib/preferences.ts
  extensions/pins/src/lib/scheduled-execution.ts
  extensions/pins/src/lib/utils.tsx
  extensions/pins/src/view-pins.tsx
Labels: extension fix / improvement, OP is author, extension: pins

#9892 Extern/openvpn: fix osascript e
  extensions/openvpn/CHANGELOG.md
  extensions/openvpn/README.md
  extensions/openvpn/package-lock.json
  extensions/openvpn/package.json
  extensions/openvpn/src/connect.ts
  extensions/openvpn/src/disconnect.ts
  extensions/openvpn/src/utils.ts
Labels: extension fix / improvement, OP is author, extension: openvpn

#9888 [Visual Studio Code] Fix crash when there is no metadata field in the extension manifest
  extensions/visual-studio-code-recent-projects/CHANGELOG.md
  extensions/visual-studio-code-recent-projects/src/extensions.tsx
  extensions/visual-studio-code-recent-projects/src/index.tsx
  extensions/visual-studio-code-recent-projects/src/lib/vscode.ts
Labels: extension fix / improvement, OP is contributor, extension: visual-studio-code-recent-projects

#9889 [Gmail] Fix possible crashes
  extensions/gmail/CHANGELOG.md
  extensions/gmail/package-lock.json
  extensions/gmail/package.json
  extensions/gmail/src/lib/withGmailClient.tsx
  extensions/gmail/src/newwebmail.tsx
  extensions/gmail/src/openinbrowser.tsx
Labels: extension fix / improvement, OP is author, extension: gmail

#9870 fix(dashlane-vault): add fallback for missing note title
  extensions/dashlane-vault/CHANGELOG.md
  extensions/dashlane-vault/src/components/ListItemNote.tsx
  extensions/dashlane-vault/src/types/dcli.ts
Labels: extension fix / improvement, OP is author, extension: dashlane-vault

#9832 [Home Assistant] Add Companion App support
  extensions/homeassistant/.gitignore
  extensions/homeassistant/CHANGELOG.md
  extensions/homeassistant/package-lock.json
  extensions/homeassistant/package.json
  extensions/homeassistant/src/components/actions.tsx
  extensions/homeassistant/src/components/automation/actions.tsx
  extensions/homeassistant/src/components/camera/menu.tsx
  extensions/homeassistant/src/components/entity.tsx
  extensions/homeassistant/src/components/menu.tsx
  extensions/homeassistant/src/components/scene/actions.tsx
  extensions/homeassistant/src/components/script/actions.tsx
  extensions/homeassistant/src/components/update/list.tsx
  extensions/homeassistant/src/components/update/menu.tsx
  extensions/homeassistant/src/dashboard.tsx
  extensions/homeassistant/src/lib/common.ts
  extensions/homeassistant/src/lib/haapi.ts
Labels: extension fix / improvement, OP is author, extension: homeassistant

#9905 Update braid extension
  extensions/braid/CHANGELOG.md
  extensions/braid/README.md
  extensions/braid/assets/braid-raycast-icon.png
  extensions/braid/src/search-iconography.tsx
Labels: extension fix / improvement, OP is author, extension: braid

#9845 Update wordpress-plugins extension
  extensions/wordpress-plugins/CHANGELOG.md
  extensions/wordpress-plugins/assets/icon.png
  extensions/wordpress-plugins/metadata/wordpress-plugins-1.png
  extensions/wordpress-plugins/src/components/PluginDetails.tsx
  extensions/wordpress-plugins/src/components/Versions.tsx
Labels: extension fix / improvement, OP is author, extension: wordpress-plugins

#9928 Update amazon-search extension
  extensions/amazon-search/CHANGELOG.md
  extensions/amazon-search/metadata/amazon-search-1.png
  extensions/amazon-search/package-lock.json
  extensions/amazon-search/package.json
  extensions/amazon-search/src/index.tsx
Labels: extension fix / improvement, OP is author, extension: amazon-search
