Repository raycast/extensions, pull requests merged in 2023-05, with the labels that each got.

#6111 Close other VSCode editors when opening a new project
  extensions/visual-studio-code-recent-projects/package-lock.json
  extensions/visual-studio-code-recent-projects/package.json
  extensions/visual-studio-code-recent-projects/src/index.tsx
  extensions/visual-studio-code-recent-projects/src/preferences.ts
  extensions/visual-studio-code-recent-projects/src/types.ts
Labels: extension fix / improvement, extension: visual-studio-code

#6118 Update deepcast extension
  extensions/deepcast/package-lock.json
  extensions/deepcast/package.json
  extensions/deepcast/src/index.tsx
  extensions/deepcast/src/utils.ts
Labels: extension fix / improvement, OP is contributor, extension: deepcast

#6218 [unsplash] Fixed background updates not working.
  extensions/unsplash/CHANGELOG.md
  extensions/unsplash/src/functions/setWallpaper.ts
Labels: extension fix / improvement, OP is contributor, extension: unsplash

#6258 Add whois extension
  extensions/whois/.eslintrc.json
  extensions/whois/.gitignore
  extensions/whois/.prettierrc
  extensions/whois/CHANGELOG.md
  extensions/whois/README.md
  extensions/whois/assets/extension_icon.png
  extensions/whois/metadata/whois-1.png
  extensions/whois/package-lock.json
  extensions/whois/package.json
  extensions/whois/raycast-env.d.ts
  extensions/whois/src/whois.tsx
  extensions/whois/tsconfig.json
Labels: new extension

#6158 Add md-to-excel extension
  extensions/md-to-excel/.eslintrc.json
  extensions/md-to-excel/.gitignore
  extensions/md-to-excel/.prettierrc
  extensions/md-to-excel/CHANGELOG.md
  extensions/md-to-excel/LICENSE
  extensions/md-to-excel/README.md
  extensions/md-to-excel/assets/command-icon.png
  extensions/md-to-excel/package-lock.json
  extensions/md-to-excel/package.json
  extensions/md-to-excel/src/md-to-excel.tsx
  extensions/md-to-excel/tsconfig.json
Labels: new extension

#6170 Add berlin-public-transportation extension
  extensions/berlin-public-transportation/.eslintrc.json
  extensions/berlin-public-transportation/.gitignore
  extensions/berlin-public-transportation/.prettierrc
  extensions/berlin-public-transportation/CHANGELOG.md
  extensions/berlin-public-transportation/README.md
  extensions/berlin-public-transportation/assets/command-icon.png
  extensions/berlin-public-transportation/assets/extension_icon.png
  extensions/berlin-public-transportation/metadata/berlin-public-transportation-1.png
  extensions/berlin-public-transportation/metadata/berlin-public-transportation-2.png
  extensions/berlin-public-transportation/metadata/berlin-public-transportation-3.png
  extensions/berlin-public-transportation/metadata/berlin-public-transportation-4.png
  extensions/berlin-public-transportation/package-lock.json
  extensions/berlin-public-transportation/package.json
  extensions/berlin-public-transportation/src/bvg.tsx
  extensions/berlin-public-transportation/src/components/departure.tsx
  extensions/berlin-public-transportation/src/components/departures.tsx
  extensions/berlin-public-transportation/src/components/station.tsx
  extensions/berlin-public-transportation/src/components/stations.tsx
  extensions/berlin-public-transportation/src/lib/constants.ts
  extensions/berlin-public-transportation/src/lib/departures.ts
  extensions/berlin-public-transportation/src/lib/stations.ts
  extensions/berlin-public-transportation/src/lib/utils.ts
  extensions/berlin-public-transportation/src/types.ts
  extensions/berlin-public-transportation/tsconfig.json
Labels: new extension

#6193 Add screenocr extension
  extensions/screenocr/.eslintrc.json
  extensions/screenocr/.gitignore
  extensions/screenocr/.prettierrc
  extensions/screenocr/CHANGELOG.md
  extensions/screenocr/LICENSE
  extensions/screenocr/Package.swift
  extensions/screenocr/README.md
  extensions/screenocr/Sources/recognize-text/main.swift
  extensions/screenocr/assets/command-icon.png
  extensions/screenocr/assets/recognize-text
  extensions/screenocr/package-lock.json
  extensions/screenocr/package.json
  extensions/screenocr/src/recognize-text-fullscreen.ts
  extensions/screenocr/src/recognize-text.tsx
  extensions/screenocr/src/utils.ts
  extensions/screenocr/tsconfig.json
Labels: new extension

#6206 Added the ability to search by group name.
  extensions/sequel-ace/CHANGELOG.md
  extensions/sequel-ace/package.json
  extensions/sequel-ace/src/database_list.tsx
  extensions/sequel-ace/src/interfaces.ts
Labels: extension fix / improvement, OP is author, extension: sequel-ace

#6213 [Gitlab] Add Dropdown to Search Issues and Search Merge Request
  extensions/gitlab/CHANGELOG.md
  extensions/gitlab/src/components/issues.tsx
  extensions/gitlab/src/components/issues_my.tsx
  extensions/gitlab/src/components/issues_search.tsx
  extensions/gitlab/src/components/mr.tsx
  extensions/gitlab/src/components/mr_my.tsx
  extensions/gitlab/src/components/mr_search.tsx
  extensions/gitlab/src/utils.ts
Labels: extension fix / improvement, OP is author, extension: gitlab

#6241 [Tailscale] Improve UI for disconnecting exit node
  extensions/tailscale/CHANGELOG.md
  extensions/tailscale/package.json
  extensions/tailscale/raycast-env.d.ts
  extensions/tailscale/src/exit.tsx
Labels: extension fix / improvement, extension: tailscale

#6163 Update chatgo extension
  extensions/chatgo/.editorconfig
  extensions/chatgo/.eslintrc.json
  extensions/chatgo/.gitignore
  extensions/chatgo/.prettierrc
  extensions/chatgo/CHANGELOG.md
  extensions/chatgo/LICENSE
  extensions/chatgo/README.md
  extensions/chatgo/assets/command-icon-default.png
  extensions/chatgo/assets/command-icon.png
  extensions/chatgo/assets/list-icon.png
  extensions/chatgo/assets/wechat.jpg
  extensions/chatgo/global.d.ts
  extensions/chatgo/metadata/chatgo-1.png
  extensions/chatgo/metadata/chatgo-2.png
  extensions/chatgo/metadata/chatgo-3.png
  extensions/chatgo/metadata/chatgo-4.png
  extensions/chatgo/metadata/chatgo-5.png
  extensions/chatgo/package-lock.json
  extensions/chatgo/package.json
  extensions/chatgo/src/actions/copy.tsx
  extensions/chatgo/src/actions/form-input.tsx
  extensions/chatgo/src/actions/index.tsx
  extensions/chatgo/src/actions/preferences.tsx
  extensions/chatgo/src/actions/save.tsx
  extensions/chatgo/src/ask.tsx
  extensions/chatgo/src/conversation.tsx
  extensions/chatgo/src/draw.tsx
  extensions/chatgo/src/help.tsx
  extensions/chatgo/src/history.tsx
  extensions/chatgo/src/hooks/useAutoSaveConversation.tsx
  extensions/chatgo/src/hooks/useAutoTTS.tsx
  extensions/chatgo/src/hooks/useChat.tsx
  extensions/chatgo/src/hooks/useChatGo.tsx
  extensions/chatgo/src/hooks/useConversations.tsx
  extensions/chatgo/src/hooks/useDraw.tsx
  extensions/chatgo/src/hooks/useHistory.tsx
  extensions/chatgo/src/hooks/useMyTemplateModel.tsx
  extensions/chatgo/src/hooks/useQuestion.tsx
  extensions/chatgo/src/hooks/useSavedChat.tsx
  extensions/chatgo/src/index.tsx
  extensions/chatgo/src/service/index.ts
  extensions/chatgo/src/store.tsx
  extensions/chatgo/src/type.ts
  extensions/chatgo/src/utils/cache.ts
  extensions/chatgo/src/utils/chatGoApi.ts
  extensions/chatgo/src/utils/index.ts
  extensions/chatgo/src/views/answer-detail.tsx
  extensions/chatgo/src/views/chat.tsx
  extensions/chatgo/src/views/conversation-list.tsx
  extensions/chatgo/src/views/empty.tsx
  extensions/chatgo/src/views/model/dropdown.tsx
  extensions/chatgo/src/views/question/form.tsx
  extensions/chatgo/tsconfig.json
Labels: new extension

#6207 [New extension]textlint-aws-service-name
  extensions/textlint-rule-aws-service-name/.eslintrc.json
  extensions/textlint-rule-aws-service-name/.gitignore
  extensions/textlint-rule-aws-service-name/.prettierrc
  extensions/textlint-rule-aws-service-name/CHANGELOG.md
  extensions/textlint-rule-aws-service-name/LICENSE
  extensions/textlint-rule-aws-service-name/README.md
  extensions/textlint-rule-aws-service-name/assets/command-icon.png
  extensions/textlint-rule-aws-service-name/metadata/textlint-aws-service-name-1.png
  extensions/textlint-rule-aws-service-name/package-lock.json
  extensions/textlint-rule-aws-service-name/package.json
  extensions/textlint-rule-aws-service-name/src/index.tsx
  extensions/textlint-rule-aws-service-name/tsconfig.json
Labels: new extension

#6177 Add blockchain-gas-tracker extension
  extensions/blockchain-gas-tracker/.eslintrc.json
  extensions/blockchain-gas-tracker/.gitignore
  extensions/blockchain-gas-tracker/.prettierrc
  extensions/blockchain-gas-tracker/CHANGELOG.md
  extensions/blockchain-gas-tracker/README.md
  extensions/blockchain-gas-tracker/assets/gas_icon.png
  extensions/blockchain-gas-tracker/metadata/blockchain-gas-tracker-1.png
  extensions/blockchain-gas-tracker/metadata/blockchain-gas-tracker-2.png
  extensions/blockchain-gas-tracker/metadata/blockchain-gas-tracker-3.png
  extensions/blockchain-gas-tracker/package-lock.json
  extensions/blockchain-gas-tracker/package.json
  extensions/blockchain-gas-tracker/src/currentGas.tsx
  extensions/blockchain-gas-tracker/tsconfig.json
Labels: new extension

#6228 Add ftrack extension
  extensions/ftrack/.eslintrc.json
  extensions/ftrack/.gitignore
  extensions/ftrack/.prettierrc
  extensions/ftrack/CHANGELOG.md
  extensions/ftrack/CODEOWNERS
  extensions/ftrack/LICENSE
  extensions/ftrack/README.md
  extensions/ftrack/assets/ftrack-logo-white.png
  extensions/ftrack/metadata/ftrack-1.png
  extensions/ftrack/metadata/ftrack-2.png
  extensions/ftrack/metadata/ftrack-3.png
  extensions/ftrack/metadata/ftrack-4.png
  extensions/ftrack/package-lock.json
  extensions/ftrack/package.json
  extensions/ftrack/src/ChangeStatusCommand.tsx
  extensions/ftrack/src/EntityListItem.tsx
  extensions/ftrack/src/assigned_tasks.tsx
  extensions/ftrack/src/search_entities.tsx
  extensions/ftrack/src/types.d.ts
  extensions/ftrack/src/util/buildExpression.ts
  extensions/ftrack/src/util/session.ts
  extensions/ftrack/src/util/updateEntity.ts
  extensions/ftrack/tsconfig.json
Labels: new extension

#6219 Envato extension - update 1.1.0
  extensions/envato/.gitignore
  extensions/envato/assets/Preview-raycast.png
  extensions/envato/metadata/envato-01.png
  extensions/envato/metadata/envato-02.png
  extensions/envato/metadata/envato-03.png
  extensions/envato/package-lock.json
  extensions/envato/package.json
  extensions/envato/src/accountEnvato.tsx
  extensions/envato/src/badgesEnvato.tsx
  extensions/envato/src/envato.tsx
  extensions/envato/src/saleItem.tsx
  extensions/envato/src/types.tsx
  extensions/envato/src/utils.tsx
Labels: extension fix / improvement, OP is author, extension: envato

#6268 FIX README.md
  extensions/envato/README.md
Labels: extension fix / improvement, OP is author, extension: envato

#6202 [New extension] Bark
  extensions/bark/.eslintrc.json
  extensions/bark/.gitignore
  extensions/bark/.prettierrc
  extensions/bark/CHANGELOG.md
  extensions/bark/README.md
  extensions/bark/assets/extension-icon.png
  extensions/bark/assets/token/AuthKey_LH4T9V5U4R_5U8LBRXG3A.p8
  extensions/bark/assets/token/create-token.sh
  extensions/bark/metadata/bark-1.png
  extensions/bark/metadata/bark-2.png
  extensions/bark/package-lock.json
  extensions/bark/package.json
  extensions/bark/src/component/action-open-preferences.tsx
  extensions/bark/src/quick-send-message-to-bark.tsx
  extensions/bark/src/send-message-to-bark.tsx
  extensions/bark/src/types/preferences.ts
  extensions/bark/src/utils/common-utils.ts
  extensions/bark/src/utils/constants.ts
  extensions/bark/tsconfig.json
Labels: new extension

#6274 Updates Brasileirão Série A extension
  extensions/brasileirao-serie-a/CHANGELOG.md
  extensions/brasileirao-serie-a/package-lock.json
  extensions/brasileirao-serie-a/src/components/TeamSelector.tsx
  extensions/brasileirao-serie-a/src/hooks/index.ts
  extensions/brasileirao-serie-a/src/hooks/useLeagueInfo.ts
  extensions/brasileirao-serie-a/src/hooks/useMatches.ts
  extensions/brasileirao-serie-a/src/hooks/usePreviousTable.ts
  extensions/brasileirao-serie-a/src/hooks/useSeasons.ts
  extensions/brasileirao-serie-a/src/hooks/useTable.ts
  extensions/brasileirao-serie-a/src/hooks/useTeams.ts
  extensions/brasileirao-serie-a/src/results.tsx
  extensions/brasileirao-serie-a/src/standings.tsx
  extensions/brasileirao-serie-a/src/types/index.d.ts
  extensions/brasileirao-serie-a/src/upcoming.tsx
Labels: extension fix / improvement, OP is author, extension: brasileirao-serie-a

#6273 Jetbrains Toolbox: multi-app version fix
  extensions/jetbrains/.eslintrc.json
  extensions/jetbrains/CHANGELOG.md
  extensions/jetbrains/package-lock.json
  extensions/jetbrains/package.json
  extensions/jetbrains/raycast-env.d.ts
  extensions/jetbrains/src/components/OpenInJetBrainsApp.tsx
  extensions/jetbrains/src/components/RecentProject.tsx
  extensions/jetbrains/src/recentMenu.tsx
  extensions/jetbrains/src/sortTools.tsx
  extensions/jetbrains/src/useAppHistory.tsx
  extensions/jetbrains/src/util.ts
  extensions/jetbrains/tsconfig.json
Labels: extension fix / improvement, OP is author, extension: jetbrains

#5797 [Bitwarden] Vault caching
  extensions/bitwarden/.eslintignore
  extensions/bitwarden/.eslintrc.json
  extensions/bitwarden/CHANGELOG.md
  extensions/bitwarden/jest.config.ts
  extensions/bitwarden/package-lock.json
  extensions/bitwarden/package.json
  extensions/bitwarden/src/api/bitwarden.ts
  extensions/bitwarden/src/components/RootErrorBoundary.tsx
  extensions/bitwarden/src/components/UnlockForm.tsx
  extensions/bitwarden/src/components/generatePassword/OptionField.tsx
  extensions/bitwarden/src/components/searchVault/actions/CommonActions.tsx
  extensions/bitwarden/src/components/searchVault/actions/CopyPasswordAction.tsx
  extensions/bitwarden/src/components/searchVault/actions/CopyTextFieldsActions.tsx
  extensions/bitwarden/src/components/searchVault/actions/CopyTotpAction.tsx
  extensions/bitwarden/src/components/searchVault/actions/CopyUsernameAction.tsx
  extensions/bitwarden/src/components/searchVault/actions/OpenUrlInBrowserAction.tsx
  extensions/bitwarden/src/components/searchVault/actions/PastePasswordAction.tsx
  extensions/bitwarden/src/components/searchVault/actions/ShowCardDetailsAction.tsx
  extensions/bitwarden/src/components/searchVault/actions/ShowSecureNoteAction.tsx
  extensions/bitwarden/src/components/searchVault/context/vaultListeners.tsx
  extensions/bitwarden/src/components/searchVault/utils/caching.test.ts
  extensions/bitwarden/src/components/searchVault/utils/caching.ts
  extensions/bitwarden/src/components/searchVault/utils/useGetUpdatedVaultItem.ts
  extensions/bitwarden/src/components/searchVault/utils/useVaultCaching.test.ts
  extensions/bitwarden/src/components/searchVault/utils/useVaultCaching.ts
  extensions/bitwarden/src/constants/general.ts
  extensions/bitwarden/src/constants/preferences.ts
  extensions/bitwarden/src/context/bitwarden.tsx
  extensions/bitwarden/src/context/session.tsx
  extensions/bitwarden/src/context/session/index.ts
  extensions/bitwarden/src/context/session/reducer.ts
  extensions/bitwarden/src/context/session/session.tsx
  extensions/bitwarden/src/context/session/utils.ts
  extensions/bitwarden/src/context/vault.tsx
  extensions/bitwarden/src/generate-password-quick.tsx
  extensions/bitwarden/src/generate-password.tsx
  extensions/bitwarden/src/search.tsx
  extensions/bitwarden/src/types/general.ts
  extensions/bitwarden/src/types/global.d.ts
  extensions/bitwarden/src/types/preferences.ts
  extensions/bitwarden/src/types/session.ts
  extensions/bitwarden/src/types/vault.ts
  extensions/bitwarden/src/utils/cache.ts
  extensions/bitwarden/src/utils/cards.ts
  extensions/bitwarden/src/utils/development.ts
  extensions/bitwarden/src/utils/errors.ts
  extensions/bitwarden/src/utils/hooks/useContentEncryptor.test.ts
  extensions/bitwarden/src/utils/hooks/useContentEncryptor.ts
  extensions/bitwarden/src/utils/hooks/useOnceEffect.ts
  extensions/bitwarden/src/utils/hooks/useOneTimePasswordHistoryWarning.ts
  extensions/bitwarden/src/utils/hooks/usePasswordGenerator.ts
  extensions/bitwarden/src/utils/hooks/useVaultMessages.ts
  extensions/bitwarden/src/utils/preferences.ts
  extensions/bitwarden/src/utils/testing/mocks.ts
  extensions/bitwarden/src/utils/testing/setupEnvironment.tsx
Labels: extension fix / improvement, OP is author, extension: bitwarden

#6267 [Simple Reminder] Add feature to enable mobile notifications with ntfy
  extensions/simple-reminder/CHANGELOG.md
  extensions/simple-reminder/README.md
  extensions/simple-reminder/media/ntfy-1.png
  extensions/simple-reminder/media/ntfy-3.png
  extensions/simple-reminder/package-lock.json
  extensions/simple-reminder/package.json
  extensions/simple-reminder/src/reminderNotifications.ts
  extensions/simple-reminder/src/utils/sendPushNotificationWithNtfy.ts
Labels: extension fix / improvement, OP is author, extension: simple-reminder

#6284 Update textlint-rule-aws-service-name version
  extensions/textlint-rule-aws-service-name/CHANGELOG.md
  extensions/textlint-rule-aws-service-name/README.md
  extensions/textlint-rule-aws-service-name/package-lock.json
  extensions/textlint-rule-aws-service-name/package.json
Labels: extension fix / improvement, OP is author, extension: raycast-textlint-rule-aws-service-name

#6281 [AWS] Support master credentials use case
  extensions/amazon-aws/CHANGELOG.md
  extensions/amazon-aws/src/components/searchbar/aws-profile-dropdown.tsx
Labels: extension fix / improvement, OP is contributor, extension: aws

#5078 Add vault-manager extension
  extensions/vault/.editorconfig
  extensions/vault/.eslintrc.json
  extensions/vault/.gitignore
  extensions/vault/CHANGELOG.md
  extensions/vault/README.md
  extensions/vault/assets/icon.png
  extensions/vault/assets/vault.png
  extensions/vault/metadata/vault-1.png
  extensions/vault/metadata/vault-2.png
  extensions/vault/metadata/vault-3.png
  extensions/vault/metadata/vault-4.png
  extensions/vault/metadata/vault-5.png
  extensions/vault/metadata/vault-6.png
  extensions/vault/metadata/vault-7.png
  extensions/vault/package-lock.json
  extensions/vault/package.json
  extensions/vault/src/api/paths.ts
  extensions/vault/src/api/secret.ts
  extensions/vault/src/api/secretEngine.ts
  extensions/vault/src/components/Paths.tsx
  extensions/vault/src/components/SecretEngines.tsx
  extensions/vault/src/components/SecretKeys.tsx
  extensions/vault/src/components/actions.tsx
  extensions/vault/src/components/display.tsx
  extensions/vault/src/components/edit.tsx
  extensions/vault/src/components/entities.tsx
  extensions/vault/src/components/favorites.tsx
  extensions/vault/src/components/namespace.tsx
  extensions/vault/src/components/tree.tsx
  extensions/vault/src/helpers/preferences.ts
  extensions/vault/src/interfaces.ts
  extensions/vault/src/list.tsx
  extensions/vault/src/utils.ts
  extensions/vault/src/vault.tsx
  extensions/vault/tsconfig.json
Labels: new extension, extension fix / improvement, extension: vault

#6265 Comodoro: Initial commands
  extensions/comodoro/.eslintrc.json
  extensions/comodoro/.gitignore
  extensions/comodoro/.prettierrc
  extensions/comodoro/CHANGELOG.md
  extensions/comodoro/README.md
  extensions/comodoro/assets/command-icon.png
  extensions/comodoro/package-lock.json
  extensions/comodoro/package.json
  extensions/comodoro/src/binary.ts
  extensions/comodoro/src/exec.ts
  extensions/comodoro/src/get.tsx
  extensions/comodoro/src/preferences.ts
  extensions/comodoro/src/start.tsx
  extensions/comodoro/src/stop.tsx
  extensions/comodoro/tsconfig.json
Labels: new extension

#5828 feat: UUID v5 command
  extensions/uuid-generator/.eslintrc.json
  extensions/uuid-generator/CHANGELOG.md
  extensions/uuid-generator/package-lock.json
  extensions/uuid-generator/package.json
  extensions/uuid-generator/src/generate.tsx
  extensions/uuid-generator/src/generateV5.tsx
Labels: extension fix / improvement, extension: uuid-generator

#6239 Himalaya: Add folder and account support and menu bar command
  extensions/himalaya/CHANGELOG.md
  extensions/himalaya/metadata/himalaya-1.png
  extensions/himalaya/package.json
  extensions/himalaya/src/envelopes.ts
  extensions/himalaya/src/index.tsx
  extensions/himalaya/src/preferences.ts
  extensions/himalaya/src/state.ts
  extensions/himalaya/src/sync.tsx
Labels: extension fix / improvement, OP is author, extension: himalaya

#6299 fix: use token from cache
  extensions/vault/.gitignore
  extensions/vault/CHANGELOG.md
  extensions/vault/src/components/actions.tsx
  extensions/vault/src/components/display.tsx
  extensions/vault/src/components/edit.tsx
  extensions/vault/src/components/entities.tsx
  extensions/vault/src/components/favorites.tsx
  extensions/vault/src/components/namespace.tsx
  extensions/vault/src/components/tree.tsx
  extensions/vault/src/utils.ts
Labels: extension fix / improvement, OP is author, OP is contributor, extension: vault-manager

#6301 massCode Assistant: Remove extension.
  .github/CODEOWNERS
  .github/extensionName2Folder.json
  .github/raycast2github.json
  extensions/masscode-assistant/.eslintrc.json
  extensions/masscode-assistant/.prettierrc
  extensions/masscode-assistant/CHANGELOG.md
  extensions/masscode-assistant/README.md
  extensions/masscode-assistant/assets/massCode.png
  extensions/masscode-assistant/package-lock.json
  extensions/masscode-assistant/package.json
  extensions/masscode-assistant/src/components/item-actions.tsx
  extensions/masscode-assistant/src/components/snippet-content.tsx
  extensions/masscode-assistant/src/index.tsx
  extensions/masscode-assistant/src/types/index.d.ts
  extensions/masscode-assistant/src/utils/localStorageHelper.tsx
  extensions/masscode-assistant/tsconfig.json
Labels: extension fix / improvement, extension: masscode

#6295 [UUID-Generator] fix: default action
  extensions/uuid-generator/.gitignore
  extensions/uuid-generator/CHANGELOG.md
  extensions/uuid-generator/package-lock.json
  extensions/uuid-generator/package.json
  extensions/uuid-generator/src/generateV5.tsx
Labels: extension fix / improvement, OP is contributor, extension: uuid-generator

#6249 Add hubspot-portal-launcher extension
  extensions/hubspot-portal-launcher/.eslintrc.json
  extensions/hubspot-portal-launcher/.gitignore
  extensions/hubspot-portal-launcher/.prettierrc
  extensions/hubspot-portal-launcher/CHANGELOG.md
  extensions/hubspot-portal-launcher/README.md
  extensions/hubspot-portal-launcher/assets/hubspot-icon.png
  extensions/hubspot-portal-launcher/metadata/hubspot-portal-launcher-1.png
  extensions/hubspot-portal-launcher/metadata/hubspot-portal-launcher-2.png
  extensions/hubspot-portal-launcher/metadata/hubspot-portal-launcher-3.png
  extensions/hubspot-portal-launcher/package-lock.json
  extensions/hubspot-portal-launcher/package.json
  extensions/hubspot-portal-launcher/src/add-portal.tsx
  extensions/hubspot-portal-launcher/src/components/CreatePortalAction.tsx
  extensions/hubspot-portal-launcher/src/components/CreatePortalForm.tsx
  extensions/hubspot-portal-launcher/src/components/DeletePortalAction.tsx
  extensions/hubspot-portal-launcher/src/components/EmptyView.tsx
  extensions/hubspot-portal-launcher/src/components/OpenPortalAction.tsx
  extensions/hubspot-portal-launcher/src/components/index.tsx
  extensions/hubspot-portal-launcher/src/import-portals.tsx
  extensions/hubspot-portal-launcher/src/search-portals.tsx
  extensions/hubspot-portal-launcher/src/types.ts
  extensions/hubspot-portal-launcher/src/utils.tsx
  extensions/hubspot-portal-launcher/tsconfig.json
Labels: new extension

#6305 [Laravel Forge] Fix incorrect launchCommand call
  extensions/laravel-forge/CHANGELOG.md
  extensions/laravel-forge/src/check-deploy-status.tsx
Labels: extension fix / improvement, OP is author, extension: laravel-forge

#6324 [Bitwarden] Use session token on every bitwarden cli command
  extensions/bitwarden/CHANGELOG.md
  extensions/bitwarden/src/api/bitwarden.ts
  extensions/bitwarden/src/components/searchVault/actions/CopyTotpAction.tsx
  extensions/bitwarden/src/context/bitwarden.tsx
  extensions/bitwarden/src/context/session/session.tsx
  extensions/bitwarden/src/context/vault.tsx
Labels: extension fix / improvement, OP is author, extension: bitwarden

#6364 Update pubme extension
  extensions/pubme/CHANGELOG.md
  extensions/pubme/src/index.tsx
Labels: extension fix / improvement, OP is author, extension: pubme

#6328 fix: remove science random data generator
  extensions/random-data-generator/CHANGELOG.md
  extensions/random-data-generator/src/index.tsx
Labels: extension fix / improvement, OP is contributor, extension: random

#6331 Home Assistant: Hide entities which are hidden or disabled
  extensions/homeassistant/.eslintrc.json
  extensions/homeassistant/.gitignore
  extensions/homeassistant/CHANGELOG.md
  extensions/homeassistant/package-lock.json
  extensions/homeassistant/package.json
  extensions/homeassistant/src/assist.tsx
  extensions/homeassistant/src/hooks.tsx
  extensions/homeassistant/tsconfig.json
Labels: extension fix / improvement, OP is author, extension: homeassistant

#6204 Replace QuickActions with Disabled Root Commands
  extensions/spotify-beta/CHANGELOG.md
  extensions/spotify-beta/README.md
  extensions/spotify-beta/package.json
  extensions/spotify-beta/src/api/searchTracks.ts
  extensions/spotify-beta/src/copyUrl.ts
  extensions/spotify-beta/src/dislike.ts
  extensions/spotify-beta/src/justPlay.ts
  extensions/spotify-beta/src/like.ts
  extensions/spotify-beta/src/next.ts
  extensions/spotify-beta/src/previous.ts
  extensions/spotify-beta/src/quickActions.tsx
  extensions/spotify-beta/src/startRadio.ts
  extensions/spotify-beta/src/togglePlayPause.ts
  extensions/spotify-beta/src/toggleRepeat.ts
  extensions/spotify-beta/src/toggleShuffle.ts
  extensions/spotify-beta/src/volume0.ts
  extensions/spotify-beta/src/volume100.ts
  extensions/spotify-beta/src/volume25.ts
  extensions/spotify-beta/src/volume50.ts
  extensions/spotify-beta/src/volume75.ts
  extensions/spotify-beta/src/volumeDown.ts
  extensions/spotify-beta/src/volumeUp.ts
Labels: extension fix / improvement, OP is contributor, extension: spotify-beta

#6358 [AWS] Fix non-aws-vault authentication
  extensions/amazon-aws/CHANGELOG.md
  extensions/amazon-aws/src/components/searchbar/aws-profile-dropdown.tsx
Labels: extension fix / improvement, OP is contributor, extension: aws

#6387 [Bitwarden] Improve locked vault handling and separate concerns
  extensions/bitwarden/CHANGELOG.md
  extensions/bitwarden/src/api/bitwarden.ts
  extensions/bitwarden/src/components/RootErrorBoundary.tsx
  extensions/bitwarden/src/components/UnlockForm.tsx
  extensions/bitwarden/src/components/searchVault/actions/CommonActions.tsx
  extensions/bitwarden/src/context/session/session.tsx
  extensions/bitwarden/src/context/vault.tsx
  extensions/bitwarden/src/types/general.ts
  extensions/bitwarden/src/types/global.d.ts
  extensions/bitwarden/src/utils/errors.ts
  extensions/bitwarden/src/utils/hooks/useOnceEffect.ts
Labels: extension fix / improvement, OP is author, OP is contributor, extension: bitwarden

#5894 Add Qonto extension
  extensions/qonto/.eslintrc.json
  extensions/qonto/.gitignore
  extensions/qonto/.prettierrc
  extensions/qonto/CHANGELOG.md
  extensions/qonto/README.md
  extensions/qonto/assets/icons/icon-card-dark.svg
  extensions/qonto/assets/icons/icon-card-light.svg
  extensions/qonto/assets/icons/icon-cheque-dark.svg
  extensions/qonto/assets/icons/icon-cheque-light.svg
  extensions/qonto/assets/icons/icon-direct-debit-dark.svg
  extensions/qonto/assets/icons/icon-direct-debit-light.svg
  extensions/qonto/assets/icons/icon-income-dark.svg
  extensions/qonto/assets/icons/icon-income-light.svg
  extensions/qonto/assets/icons/icon-qonto-fee-dark.svg
  extensions/qonto/assets/icons/icon-qonto-fee-light.svg
  extensions/qonto/assets/icons/icon-recall-dark.svg
  extensions/qonto/assets/icons/icon-recall-light.svg
  extensions/qonto/assets/icons/icon-swift-income-dark.svg
  extensions/qonto/assets/icons/icon-swift-income-light.svg
  extensions/qonto/assets/icons/icon-transfert-dark.svg
  extensions/qonto/assets/icons/icon-transfert-light.svg
  extensions/qonto/assets/qonto.png
  extensions/qonto/metadata/qonto-1.png
  extensions/qonto/metadata/qonto-2.png
  extensions/qonto/metadata/qonto-3.png
  extensions/qonto/package-lock.json
  extensions/qonto/package.json
  extensions/qonto/src/api/client.ts
  extensions/qonto/src/api/contract.ts
  extensions/qonto/src/components/bank-accounts-list.tsx
  extensions/qonto/src/components/transaction-item.tsx
  extensions/qonto/src/components/transactions-list.tsx
  extensions/qonto/src/helpers/currency-format.ts
  extensions/qonto/src/helpers/date-format.ts
  extensions/qonto/src/helpers/datetime-format.ts
  extensions/qonto/src/helpers/download-csv.ts
  extensions/qonto/src/helpers/fake-data-helpers.ts
  extensions/qonto/src/helpers/fake-data.ts
  extensions/qonto/src/helpers/fetch-polyfill.ts
  extensions/qonto/src/helpers/get-asset.ts
  extensions/qonto/src/helpers/get-route-response.ts
  extensions/qonto/src/helpers/get-transaction-with-initiator.ts
  extensions/qonto/src/helpers/plural.ts
  extensions/qonto/src/helpers/preferences.ts
  extensions/qonto/src/hooks/use-memberships.ts
  extensions/qonto/src/hooks/use-organization.ts
  extensions/qonto/src/hooks/use-transactions.ts
  extensions/qonto/src/search-bank-accounts.tsx
  extensions/qonto/src/search-transactions.tsx
  extensions/qonto/src/types/bank-account.ts
  extensions/qonto/src/types/error.ts
  extensions/qonto/src/types/membership.ts
  extensions/qonto/src/types/organization.ts
  extensions/qonto/src/types/paginate.ts
  extensions/qonto/src/types/transaction-initiator.ts
  extensions/qonto/src/types/transaction.ts
  extensions/qonto/tsconfig.json
Labels: new extension

#5992 [scrcpy] minior change
  extensions/scrcpy/CHANGELOG.md
  extensions/scrcpy/README.md
  extensions/scrcpy/package.json
  extensions/scrcpy/src/index.tsx
  extensions/scrcpy/src/utils.ts
Labels: extension fix / improvement, extension: scrcpy

#6383 Use qs library to properly encode JSON for Things URI Scheme (Fix #6361 and Fix #6286)
  extensions/things/CHANGELOG.md
  extensions/things/package-lock.json
  extensions/things/package.json
  extensions/things/src/add-new-todo.tsx
Labels: extension fix / improvement, OP is author, extension: things

#6341 [Update] Chinese Character
  extensions/chinese-character/.gitignore
  extensions/chinese-character/CHANGELOG.md
  extensions/chinese-character/package-lock.json
  extensions/chinese-character/package.json
  extensions/chinese-character/src/simplified-to-traditional.tsx
  extensions/chinese-character/src/traditional-to-simplified.tsx
  extensions/chinese-character/src/types/preferences.ts
Labels: extension fix / improvement, OP is author, extension: chinese-character

#6332 Update the Logitech Litra extension to v0.2.1
  extensions/logitech-litra/CHANGELOG.md
  extensions/logitech-litra/README.md
  extensions/logitech-litra/package-lock.json
  extensions/logitech-litra/package.json
  extensions/logitech-litra/src/manage-devices.tsx
  extensions/logitech-litra/src/preferences.ts
  extensions/logitech-litra/src/utils.ts
Labels: extension fix / improvement, OP is author, extension: logitech-litra

#6247 🍿⏱️: Add binge-clock extension
  extensions/binge-clock/.eslintrc.json
  extensions/binge-clock/.gitignore
  extensions/binge-clock/.prettierrc
  extensions/binge-clock/CHANGELOG.md
  extensions/binge-clock/README.md
  extensions/binge-clock/assets/command-icon.png
  extensions/binge-clock/metadata/binge-clock-1.png
  extensions/binge-clock/metadata/binge-clock-2.png
  extensions/binge-clock/metadata/binge-clock-3.png
  extensions/binge-clock/package-lock.json
  extensions/binge-clock/package.json
  extensions/binge-clock/src/calculate-time.tsx
  extensions/binge-clock/src/components/SearchResultListItem.tsx
  extensions/binge-clock/src/components/WatchTimeHud.tsx
  extensions/binge-clock/src/interface/search-result.ts
  extensions/binge-clock/src/interface/show-watch-time.ts
  extensions/binge-clock/src/utils/api.ts
  extensions/binge-clock/tsconfig.json
Labels: new extension

#6359 Update doccheck extension
  extensions/doccheck/CHANGELOG.md
  extensions/doccheck/metadata/doccheck-1.png
  extensions/doccheck/metadata/doccheck-2.png
  extensions/doccheck/metadata/doccheck-3.png
  extensions/doccheck/metadata/doccheck-4.png
  extensions/doccheck/metadata/doccheck-5.png
  extensions/doccheck/metadata/doccheck-6.png
  extensions/doccheck/src/doccheck-flexikon.tsx
  extensions/doccheck/src/doccheck-page.tsx
Labels: extension fix / improvement, OP is author, extension: doccheck

#6375 Add Troubleshooting to Notion extension README
  extensions/notion/README.md
Labels: extension fix / improvement, extension: notion

#6291 Jira: Fix missing error title
  extensions/jira/CHANGELOG.md
  extensions/jira/src/api/issues.ts
  extensions/jira/src/components/IssueDetail.tsx
  extensions/jira/src/components/IssueListItem.tsx
  extensions/jira/src/helpers/issues.ts
Labels: extension fix / improvement, OP is author, extension: jira

#6391 Fix normalizeText crashing (Fix #6320 and #6374)
  extensions/safari/src/utils.ts
Labels: extension fix / improvement, OP is author, extension: safari

#6269 fix: Compatible with older versions of GitLab which lack of “reviewer…
  extensions/gitlab/src/gitlabapi.ts
Labels: extension fix / improvement, extension: gitlab

#6447 Linear: Add new "Break Issue Into Sub-Issues" action
  extensions/linear/CHANGELOG.md
  extensions/linear/package-lock.json
  extensions/linear/package.json
  extensions/linear/src/api/createIssue.ts
  extensions/linear/src/components/CreateSubIssues.tsx
  extensions/linear/src/components/IssueActions/IssueActions.tsx
Labels: extension fix / improvement, OP is author, extension: linear

#6426 DEVONthink: add Copy item link and Copy link as Markdown ✨
  extensions/devonthink/CHANGELOG.md
  extensions/devonthink/src/components/SearchResultItem.tsx
Labels: extension fix / improvement, OP is author, extension: devonthink

#6277 audio-device: update system effects when output changes
  extensions/audio-device/package.json
  extensions/audio-device/src/helpers.tsx
  extensions/audio-device/src/toggle-favourites.tsx
Labels: extension fix / improvement, extension: audio-device

#6436 Fixed the message about liking the track
  extensions/spotify-beta/src/like.ts
Labels: extension fix / improvement, extension: spotify-beta

#6484 [Bitwarden] Add custom icons for each command
  extensions/bitwarden/CHANGELOG.md
  extensions/bitwarden/assets/generate-password-quick.png
  extensions/bitwarden/assets/generate-password.png
  extensions/bitwarden/assets/search.png
  extensions/bitwarden/package.json
Labels: extension fix / improvement, OP is author, extension: bitwarden

#6465 Bugfix #6181
  extensions/drafts/CHANGELOG.md
  extensions/drafts/README.md
  extensions/drafts/metadata/drafts-0.png
  extensions/drafts/metadata/drafts-01.png
  extensions/drafts/metadata/drafts-1.png
  extensions/drafts/metadata/drafts-2.png
  extensions/drafts/metadata/drafts-3.png
  extensions/drafts/metadata/drafts-4.png
  extensions/drafts/metadata/drafts.png
  extensions/drafts/src/drafts-list-options.tsx
Labels: extension fix / improvement, OP is author, extension: drafts

#6413 Update dropover extension
  extensions/dropover/.editorconfig
  extensions/dropover/CHANGELOG.md
  extensions/dropover/README.md
  extensions/dropover/metadata/screenshot-01.png
  extensions/dropover/package-lock.json
  extensions/dropover/package.json
  extensions/dropover/src/index.ts
Labels: extension fix / improvement, OP is author, extension: dropover

#6475 stock-tracker: update yahoo finance api url
  extensions/stock-tracker/CHANGELOG.md
  extensions/stock-tracker/src/yahoo-finance/quote.ts
Labels: extension fix / improvement, OP is author, extension: stock-tracker

#6472 Update miniflux extension
  extensions/miniflux/.gitignore
  extensions/miniflux/CHANGELOG.md
  extensions/miniflux/package-lock.json
  extensions/miniflux/package.json
  extensions/miniflux/src/open-miniflux.tsx
  extensions/miniflux/src/utils/api.ts
  extensions/miniflux/src/utils/types.ts
  extensions/miniflux/tsconfig.json
Labels: extension fix / improvement, OP is author, extension: miniflux

#6476 Update akkoma extension
  extensions/akkoma/.gitignore
  extensions/akkoma/CHANGELOG.md
  extensions/akkoma/package-lock.json
  extensions/akkoma/package.json
  extensions/akkoma/src/bookmark.tsx
  extensions/akkoma/src/components/VisibilityDropdown.tsx
  extensions/akkoma/src/my-status.tsx
  extensions/akkoma/src/simple-status.tsx
  extensions/akkoma/src/utils/api.ts
  extensions/akkoma/src/utils/oauth.ts
  extensions/akkoma/src/utils/types.ts
  extensions/akkoma/tsconfig.json
Labels: extension fix / improvement, OP is author, extension: akkoma

#6263 Google tasks: show more tasks
  extensions/google-tasks/CHANGELOG.md
  extensions/google-tasks/src/api/endpoints.tsx
  extensions/google-tasks/src/components/ListView.tsx
Labels: extension fix / improvement, OP is author, extension: google-tasks

#6234 Add OK JSON extension
  extensions/ok-json/.eslintrc.json
  extensions/ok-json/.gitignore
  extensions/ok-json/.prettierrc
  extensions/ok-json/CHANGELOG.md
  extensions/ok-json/README.md
  extensions/ok-json/assets/okjson.png
  extensions/ok-json/assets/script-icon.png
  extensions/ok-json/metadata/ok-json-1.png
  extensions/ok-json/metadata/ok-json-2.png
  extensions/ok-json/metadata/ok-json-3.png
  extensions/ok-json/package-lock.json
  extensions/ok-json/package.json
  extensions/ok-json/src/reloadScripts.tsx
  extensions/ok-json/src/runScript.tsx
  extensions/ok-json/src/showHistory.tsx
  extensions/ok-json/src/showScriptsPanel.tsx
  extensions/ok-json/src/utilities/checkForInstallation.tsx
  extensions/ok-json/src/utilities/jsa.tsx
  extensions/ok-json/src/viewFromPasteboard.tsx
  extensions/ok-json/src/viewFromcURLCommand.tsx
  extensions/ok-json/tsconfig.json
Labels: new extension

#6231 [Music] Add now playing track to music search empty state
  extensions/music/CHANGELOG.md
  extensions/music/src/play-library-album.tsx
  extensions/music/src/play-library-track.tsx
Labels: extension fix / improvement, OP is contributor, extension: music

#6304 Add center extension
  extensions/center/.eslintrc.json
  extensions/center/.gitignore
  extensions/center/.prettierrc
  extensions/center/CHANGELOG.md
  extensions/center/README.md
  extensions/center/assets/command-icon.png
  extensions/center/assets/command-icon@dark.png
  extensions/center/media/api-key-screenshot.png
  extensions/center/metadata/center-1.png
  extensions/center/metadata/center-2.png
  extensions/center/metadata/center-3.png
  extensions/center/metadata/center-4.png
  extensions/center/metadata/center-5.png
  extensions/center/package-lock.json
  extensions/center/package.json
  extensions/center/src/AssetDetail.tsx
  extensions/center/src/AssetTransferHistory.tsx
  extensions/center/src/CollectionDetail.tsx
  extensions/center/src/constants/endpoints.ts
  extensions/center/src/get-asset.tsx
  extensions/center/src/get-collection.tsx
  extensions/center/src/get-contracts-of-owner.tsx
  extensions/center/src/hooks/center.ts
  extensions/center/src/search.tsx
  extensions/center/src/types.ts
  extensions/center/src/utils/color.ts
  extensions/center/src/utils/markdown.ts
  extensions/center/src/utils/preferences.ts
  extensions/center/src/utils/url.ts
  extensions/center/tsconfig.json
Labels: new extension

#6200 Add tmux-sessioner extension
  extensions/tmux-sessioner/.eslintrc.json
  extensions/tmux-sessioner/.gitignore
  extensions/tmux-sessioner/.prettierrc
  extensions/tmux-sessioner/CHANGELOG.md
  extensions/tmux-sessioner/README.md
  extensions/tmux-sessioner/assets/command-icon.png
  extensions/tmux-sessioner/assets/create-new-session.png
  extensions/tmux-sessioner/assets/manage-session.png
  extensions/tmux-sessioner/assets/select-term-app.png
  extensions/tmux-sessioner/metadata/ray01.png
  extensions/tmux-sessioner/metadata/ray02.png
  extensions/tmux-sessioner/package-lock.json
  extensions/tmux-sessioner/package.json
  extensions/tmux-sessioner/src/RenameTmuxSession.tsx
  extensions/tmux-sessioner/src/SelectTermnialApp.tsx
  extensions/tmux-sessioner/src/choose_terminal_app.tsx
  extensions/tmux-sessioner/src/config.ts
  extensions/tmux-sessioner/src/create_new_session.tsx
  extensions/tmux-sessioner/src/index.tsx
  extensions/tmux-sessioner/src/pathUtils.ts
  extensions/tmux-sessioner/src/sessionUtils.ts
  extensions/tmux-sessioner/tsconfig.json
Labels: new extension

#6117 Added a Mastodon Search extension
  extensions/mastodon-search/.eslintrc.json
  extensions/mastodon-search/.prettierrc
  extensions/mastodon-search/CHANGELOG.md
  extensions/mastodon-search/LICENSE.md
  extensions/mastodon-search/README.md
  extensions/mastodon-search/assets/command-icon.png
  extensions/mastodon-search/metadata/metadata-1.png
  extensions/mastodon-search/metadata/metadata-2.png
  extensions/mastodon-search/package-lock.json
  extensions/mastodon-search/package.json
  extensions/mastodon-search/src/models/mastodon_account.ts
  extensions/mastodon-search/src/models/mastodon_api_schema.ts
  extensions/mastodon-search/src/models/mastodon_hashtag.ts
  extensions/mastodon-search/src/models/mastodon_search.ts
  extensions/mastodon-search/src/models/search_kind.ts
  extensions/mastodon-search/src/search.tsx
  extensions/mastodon-search/src/views/account_list_item.tsx
  extensions/mastodon-search/src/views/hashtag_list_item.tsx
  extensions/mastodon-search/src/views/search_kind_dropdown.tsx
  extensions/mastodon-search/tsconfig.json
Labels: new extension

#6354 Browser Bookmarks: Add support for `Microsoft Edge` browser
  extensions/browser-bookmarks/CHANGELOG.md
  extensions/browser-bookmarks/README.md
  extensions/browser-bookmarks/assets/edge.png
  extensions/browser-bookmarks/package.json
  extensions/browser-bookmarks/src/hooks/useAvailableBrowsers.ts
  extensions/browser-bookmarks/src/hooks/useEdgeBookmarks.ts
  extensions/browser-bookmarks/src/index.tsx
Labels: extension fix / improvement, extension: browser-bookmarks

#6521 Update jetbrains extension
  extensions/jetbrains/.gitignore
  extensions/jetbrains/CHANGELOG.md
  extensions/jetbrains/package-lock.json
  extensions/jetbrains/package.json
  extensions/jetbrains/src/components/OpenInJetBrainsApp.tsx
  extensions/jetbrains/src/recent.tsx
  extensions/jetbrains/src/recentMenu.tsx
  extensions/jetbrains/src/sortTools.tsx
  extensions/jetbrains/src/useAppHistory.tsx
  extensions/jetbrains/src/util.ts
Labels: extension fix / improvement, OP is author, extension: jetbrains

#6528 [CHATGPT]: fix & feature 5/23
  extensions/chatgpt/CHANGELOG.md
  extensions/chatgpt/README.md
  extensions/chatgpt/package.json
  extensions/chatgpt/src/hooks/useChat.tsx
  extensions/chatgpt/src/hooks/useChatGPT.tsx
  extensions/chatgpt/src/type.ts
  extensions/chatgpt/src/views/answer-detail.tsx
  extensions/chatgpt/src/views/chat.tsx
Labels: extension fix / improvement, OP is author, extension: chatgpt

#6544 Add copy colors as class names for Tailwind CSS
  extensions/tailwindcss/changelog.md
  extensions/tailwindcss/src/search-colors.tsx
Labels: extension fix / improvement, OP is author, extension: tailwindcss

#6490 Added support for multiple Figma teams
  extensions/figma-files/.gitignore
  extensions/figma-files/CHANGELOG.md
  extensions/figma-files/README.md
  extensions/figma-files/package-lock.json
  extensions/figma-files/package.json
  extensions/figma-files/src/cache.tsx
  extensions/figma-files/src/components/fetchFigmaData.ts
  extensions/figma-files/src/hooks/useProjectFiles.ts
  extensions/figma-files/src/hooks/useVisitedFiles.ts
  extensions/figma-files/src/index.tsx
  extensions/figma-files/src/menu-bar.tsx
  extensions/figma-files/src/types.ts
  extensions/figma-files/tsconfig.json
Labels: extension fix / improvement, OP is contributor, extension: figma-files-raycast-extension

#6363 Update duck-duck-go-search extension
  extensions/duck-duck-go-search/CHANGELOG.md
  extensions/duck-duck-go-search/metadata/duck-duck-go-search-1.png
  extensions/duck-duck-go-search/metadata/duck-duck-go-search-2.png
  extensions/duck-duck-go-search/metadata/duck-duck-go-search-3.png
  extensions/duck-duck-go-search/metadata/duck-duck-go-search-4.png
  extensions/duck-duck-go-search/package-lock.json
  extensions/duck-duck-go-search/package.json
  extensions/duck-duck-go-search/src/index.tsx
  extensions/duck-duck-go-search/src/utils/handleResults.ts
  extensions/duck-duck-go-search/src/utils/types.ts
  extensions/duck-duck-go-search/src/utils/useSearch.tsx
Labels: extension fix / improvement, extension: duck-duck-go-search

#6503 Add Slug alias for Param Case
  extensions/change-case/CHANGELOG.md
  extensions/change-case/src/change-case.tsx
Labels: extension fix / improvement, OP is contributor, extension: change-case

#6473 Update color-casket extension
  extensions/color-casket/CHANGELOG.md
  extensions/color-casket/package.json
  extensions/color-casket/src/Extension.tsx
  extensions/color-casket/src/validators.ts
Labels: extension fix / improvement, extension: color-casket

#6303 New ColorSlurp commands
  extensions/colorslurp/CHANGELOG.md
  extensions/colorslurp/README.md
  extensions/colorslurp/package-lock.json
  extensions/colorslurp/package.json
  extensions/colorslurp/src/convert-color.tsx
  extensions/colorslurp/src/preferences.ts
  extensions/colorslurp/src/recent-colors.tsx
  extensions/colorslurp/src/scripts.ts
  extensions/colorslurp/src/utilities.ts
Labels: extension fix / improvement, OP is author, extension: colorslurp

#6353 Add webkit-developer-docs extension
  extensions/webkit-developer-docs/.eslintrc.json
  extensions/webkit-developer-docs/.gitignore
  extensions/webkit-developer-docs/.prettierrc
  extensions/webkit-developer-docs/CHANGELOG.md
  extensions/webkit-developer-docs/README.md
  extensions/webkit-developer-docs/assets/command-icon.png
  extensions/webkit-developer-docs/metadata/webkit-developer-docs-1.png
  extensions/webkit-developer-docs/package-lock.json
  extensions/webkit-developer-docs/package.json
  extensions/webkit-developer-docs/src/components/DetailsView.tsx
  extensions/webkit-developer-docs/src/config.ts
  extensions/webkit-developer-docs/src/hooks/useDocuments.ts
  extensions/webkit-developer-docs/src/index.tsx
  extensions/webkit-developer-docs/src/types.ts
  extensions/webkit-developer-docs/tsconfig.json
Labels: new extension

#6511 [Laravel Forge] Fix ssh protocol string bug
  extensions/laravel-forge/CHANGELOG.md
  extensions/laravel-forge/README.md
  extensions/laravel-forge/src/api/Server.ts
  extensions/laravel-forge/src/components/actions/ServerCommands.tsx
  extensions/laravel-forge/src/components/servers/ServerSingle.tsx
  extensions/laravel-forge/src/components/sites/SiteSingle.tsx
  extensions/laravel-forge/src/lib/faker.ts
  extensions/laravel-forge/src/types.ts
Labels: extension fix / improvement, OP is author, extension: laravel-forge

#6536 [Update] Auto Quit App
  extensions/auto-quit-app/CHANGELOG.md
  extensions/auto-quit-app/README.md
  extensions/auto-quit-app/assets/extension-icon.png
  extensions/auto-quit-app/assets/menu-bar-icon.png
  extensions/auto-quit-app/assets/menu-bar-icon@dark.png
  extensions/auto-quit-app/metadata/auto-quit-app-1.png
  extensions/auto-quit-app/package-lock.json
  extensions/auto-quit-app/package.json
  extensions/auto-quit-app/raycast-env.d.ts
  extensions/auto-quit-app/src/auto-quit-app-menubar.tsx
  extensions/auto-quit-app/src/auto-quit-app.tsx
  extensions/auto-quit-app/src/components/action-on-app.tsx
  extensions/auto-quit-app/src/components/action-open-preferences.tsx
  extensions/auto-quit-app/src/components/auto-quit-app-empty-view.tsx
  extensions/auto-quit-app/src/components/auto-quit-app-grid-item.tsx
  extensions/auto-quit-app/src/components/auto-quit-app-grid-layout.tsx
  extensions/auto-quit-app/src/components/auto-quit-app-list-item.tsx
  extensions/auto-quit-app/src/components/auto-quit-app-list-layout.tsx
  extensions/auto-quit-app/src/hooks/hooks.ts
  extensions/auto-quit-app/src/set-auto-quit-app.tsx
  extensions/auto-quit-app/src/types/preferences.ts
  extensions/auto-quit-app/src/types/type.ts
  extensions/auto-quit-app/src/utils/applescript-utils.ts
  extensions/auto-quit-app/src/utils/common-utils.ts
  extensions/auto-quit-app/src/utils/constants.ts
Labels: extension fix / improvement, OP is author, extension: auto-quit-app

#6563 Browser Bookmarks: Various fixes
  extensions/browser-bookmarks/CHANGELOG.md
  extensions/browser-bookmarks/src/hooks/useSafariBookmarks.ts
  extensions/browser-bookmarks/src/index.tsx
Labels: extension fix / improvement, OP is author, extension: browser-bookmarks

#6500 Mastodon Search metadata updates to move the subtitle out of the title.
  extensions/mastodon-search/.gitignore
  extensions/mastodon-search/README.md
  extensions/mastodon-search/package.json
Labels: extension fix / improvement, OP is author, extension: mastodon-search

#6494 Added non-AI commands
  extensions/writersbrew/CHANGELOG.md
  extensions/writersbrew/package-lock.json
  extensions/writersbrew/package.json
  extensions/writersbrew/src/lower-case.ts
  extensions/writersbrew/src/title-case.ts
  extensions/writersbrew/src/upper-case.ts
Labels: extension fix / improvement, OP is author, extension: writersbrew

#6381 Update chatgo extension
  extensions/chatgo/.gitignore
  extensions/chatgo/CHANGELOG.md
  extensions/chatgo/README-cn.md
  extensions/chatgo/README.md
  extensions/chatgo/assets/command-icon-default.png
  extensions/chatgo/assets/command-icon.png
  extensions/chatgo/assets/list-icon.png
  extensions/chatgo/assets/wechat.jpg
  extensions/chatgo/global.d.ts
  extensions/chatgo/package-lock.json
  extensions/chatgo/package.json
  extensions/chatgo/pnpm-lock.yaml
  extensions/chatgo/src/actions/copy.tsx
  extensions/chatgo/src/ask.tsx
  extensions/chatgo/src/history.tsx
  extensions/chatgo/src/hooks/useChatGo.tsx
  extensions/chatgo/src/hooks/useQuestion.tsx
  extensions/chatgo/src/mine.tsx
  extensions/chatgo/src/service/index.ts
  extensions/chatgo/src/store.tsx
  extensions/chatgo/src/type.ts
  extensions/chatgo/src/utils/chatGoApi.ts
  extensions/chatgo/src/views/chat.tsx
  extensions/chatgo/src/views/conversation-list.tsx
  extensions/chatgo/src/views/error.tsx
  extensions/chatgo/src/views/offline.tsx
  extensions/chatgo/src/views/question/form.tsx
  extensions/chatgo/src/views/template-list-item.tsx
  extensions/chatgo/src/views/template/form.tsx
  extensions/chatgo/tsconfig.json
Labels: extension fix / improvement, OP is author, extension: chatgo

#6570 [Update] Auto Quit App
  extensions/auto-quit-app/assets/empty-view-icon.png
  extensions/auto-quit-app/metadata/auto-quit-app-2.png
  extensions/auto-quit-app/src/auto-quit-app-menubar.tsx
  extensions/auto-quit-app/src/components/auto-quit-app-empty-view.tsx
  extensions/auto-quit-app/src/hooks/hooks.ts
  extensions/auto-quit-app/src/utils/applescript-utils.ts
Labels: extension fix / improvement, OP is author, extension: auto-quit-app

#6386 Add toggle-menu-bar extension
  extensions/toggle-menu-bar/.eslintrc.json
  extensions/toggle-menu-bar/.gitignore
  extensions/toggle-menu-bar/.prettierrc
  extensions/toggle-menu-bar/CHANGELOG.md
  extensions/toggle-menu-bar/README.md
  extensions/toggle-menu-bar/assets/command-icon.png
  extensions/toggle-menu-bar/package-lock.json
  extensions/toggle-menu-bar/package.json
  extensions/toggle-menu-bar/src/toggle.tsx
  extensions/toggle-menu-bar/tsconfig.json
Labels: new extension

#6356 Add `Byte Converter` to converter extension
  extensions/converter/.gitignore
  extensions/converter/CHANGELOG.md
  extensions/converter/README.md
  extensions/converter/assets/byte-converter-icon.png
  extensions/converter/metadata/converter-3.png
  extensions/converter/package-lock.json
  extensions/converter/package.json
  extensions/converter/src/byte-converter.tsx
  extensions/converter/src/utils/byte-converter-utils.ts
Labels: extension fix / improvement, extension: converter

#6571 #6561: Fixed board search for boards without location and added board…
  extensions/jira-search/CHANGELOG.md
  extensions/jira-search/src/board.ts
Labels: extension fix / improvement, OP is author, extension: jira-search

#6279 [New Extension] Add initial PR for Typescript Mock Generator
  extensions/typescript-mock-generator/.eslintrc.json
  extensions/typescript-mock-generator/.gitignore
  extensions/typescript-mock-generator/.prettierrc
  extensions/typescript-mock-generator/CHANGELOG.md
  extensions/typescript-mock-generator/README.md
  extensions/typescript-mock-generator/assets/logo.png
  extensions/typescript-mock-generator/metadata/typescript-mock-generator-1.png
  extensions/typescript-mock-generator/metadata/typescript-mock-generator-2.png
  extensions/typescript-mock-generator/metadata/typescript-mock-generator-3.png
  extensions/typescript-mock-generator/metadata/typescript-mock-generator-4.png
  extensions/typescript-mock-generator/package-lock.json
  extensions/typescript-mock-generator/package.json
  extensions/typescript-mock-generator/src/handlers/resetForm.ts
  extensions/typescript-mock-generator/src/handlers/submitForm.ts
  extensions/typescript-mock-generator/src/http/postInterfacesToGenerate.ts
  extensions/typescript-mock-generator/src/index.tsx
  extensions/typescript-mock-generator/src/types/apiResponse.ts
  extensions/typescript-mock-generator/src/types/formValues.ts
  extensions/typescript-mock-generator/src/utils/formValidations.ts
  extensions/typescript-mock-generator/src/utils/prettyPrint.ts
  extensions/typescript-mock-generator/tsconfig.json
Labels: new extension

#6370 [Laravel Valet] - New features
  extensions/laravel-valet/.eslintrc.json
  extensions/laravel-valet/.gitignore
  extensions/laravel-valet/CHANGELOG.md
  extensions/laravel-valet/README.md
  extensions/laravel-valet/package-lock.json
  extensions/laravel-valet/package.json
  extensions/laravel-valet/src/components/LogsViewer.tsx
  extensions/laravel-valet/src/components/SiteActions.tsx
  extensions/laravel-valet/src/components/SiteListItem.tsx
  extensions/laravel-valet/src/components/ValetActions.tsx
  extensions/laravel-valet/src/components/ValetListItems.tsx
  extensions/laravel-valet/src/helpers/commands.ts
  extensions/laravel-valet/src/helpers/general.ts
  extensions/laravel-valet/src/index.tsx
  extensions/laravel-valet/src/types/entities.d.ts
  extensions/laravel-valet/tsconfig.json
Labels: extension fix / improvement, extension: laravel-valet

#6585 Browser Bookmarks: Fix memory errors
  extensions/browser-bookmarks/CHANGELOG.md
  extensions/browser-bookmarks/package-lock.json
  extensions/browser-bookmarks/package.json
  extensions/browser-bookmarks/src/components/PermissionErrorScreen.tsx
  extensions/browser-bookmarks/src/components/SelectBrowsers.tsx
  extensions/browser-bookmarks/src/hooks/useSafariBookmarks.ts
  extensions/browser-bookmarks/src/index.tsx
Labels: extension fix / improvement, OP is author, extension: browser-bookmarks

#6467 Update folder-search extension
  extensions/folder-search/CHANGELOG.md
  extensions/folder-search/package.json
Labels: extension fix / improvement, extension: folder-search

#6377 Add nts-radio extension
  extensions/nts-radio/.eslintrc.json
  extensions/nts-radio/.gitignore
  extensions/nts-radio/.prettierrc
  extensions/nts-radio/CHANGELOG.md
  extensions/nts-radio/README.md
  extensions/nts-radio/assets/command-icon.png
  extensions/nts-radio/metadata/nts-radio-1.png
  extensions/nts-radio/metadata/nts-radio-2.png
  extensions/nts-radio/metadata/nts-radio-3.png
  extensions/nts-radio/metadata/nts-radio-4.png
  extensions/nts-radio/metadata/nts-radio-5.png
  extensions/nts-radio/metadata/nts-radio-6.png
  extensions/nts-radio/package-lock.json
  extensions/nts-radio/package.json
  extensions/nts-radio/src/api/play.ts
  extensions/nts-radio/src/api/stop.ts
  extensions/nts-radio/src/components/Details.tsx
  extensions/nts-radio/src/components/Show.tsx
  extensions/nts-radio/src/components/Tracklist.tsx
  extensions/nts-radio/src/constants/constants.ts
  extensions/nts-radio/src/favourites.tsx
  extensions/nts-radio/src/latest.tsx
  extensions/nts-radio/src/mixtapes.tsx
  extensions/nts-radio/src/play-pause.ts
  extensions/nts-radio/src/search.tsx
  extensions/nts-radio/src/station1.tsx
  extensions/nts-radio/src/station2.tsx
  extensions/nts-radio/src/types/episode.type.ts
  extensions/nts-radio/src/types/index.ts
  extensions/nts-radio/src/types/mixtapes.type.ts
  extensions/nts-radio/src/types/search.type.ts
  extensions/nts-radio/src/types/show.type.ts
  extensions/nts-radio/src/utils/favourites.ts
  extensions/nts-radio/src/utils/getDate.ts
  extensions/nts-radio/src/utils/getError.ts
  extensions/nts-radio/src/utils/utils.ts
  extensions/nts-radio/tsconfig.json
Labels: new extension

#6597 [Bitwarden] Fix generate password quick command not copying before pasting
  extensions/bitwarden/CHANGELOG.md
  extensions/bitwarden/src/generate-password-quick.tsx
Labels: extension fix / improvement, OP is author, extension: bitwarden

#6603 #5997 fix error when searching for chats which do not contain messages
  extensions/microsoft-teams/CHANGELOG.md
  extensions/microsoft-teams/src/api/chat.ts
  extensions/microsoft-teams/src/findChat.tsx
Labels: extension fix / improvement, OP is author, extension: microsoft-teams

#6596 Update api.ts
  extensions/holodex/CHANGELOG.md
  extensions/holodex/package.json
  extensions/holodex/src/lib/api.ts
Labels: extension fix / improvement, extension: holodex

#6584 [Obsidian] Update code owner
  extensions/obsidian/package.json
Labels: extension fix / improvement, extension: obsidian

#6319 [New Extension] Switch Game Play History
  extensions/switch-game-play-history/.eslintrc.json
  extensions/switch-game-play-history/.gitignore
  extensions/switch-game-play-history/.prettierrc
  extensions/switch-game-play-history/CHANGELOG.md
  extensions/switch-game-play-history/README.md
  extensions/switch-game-play-history/assets/HANDHELD_MODE.svg
  extensions/switch-game-play-history/assets/TABLETOP_MODE.svg
  extensions/switch-game-play-history/assets/TV_MODE.svg
  extensions/switch-game-play-history/assets/copy_link.png
  extensions/switch-game-play-history/assets/extension_icon.png
  extensions/switch-game-play-history/metadata/switch-game-play-history-1.png
  extensions/switch-game-play-history/metadata/switch-game-play-history-2.png
  extensions/switch-game-play-history/metadata/switch-game-play-history-4.png
  extensions/switch-game-play-history/package-lock.json
  extensions/switch-game-play-history/package.json
  extensions/switch-game-play-history/src/components/DailyPlayHistoriesSection.tsx
  extensions/switch-game-play-history/src/components/GetSessionTokenForm.tsx
  extensions/switch-game-play-history/src/components/PlayHistoriesGrid.tsx
  extensions/switch-game-play-history/src/components/PlayHistoriesGridItem.tsx
  extensions/switch-game-play-history/src/components/RecentPlayHistoriesList.tsx
  extensions/switch-game-play-history/src/components/SessionTokenGuard.tsx
  extensions/switch-game-play-history/src/getSessionToken.tsx
  extensions/switch-game-play-history/src/helpers/cache.ts
  extensions/switch-game-play-history/src/helpers/nintendo.ts
  extensions/switch-game-play-history/src/helpers/notion.ts
  extensions/switch-game-play-history/src/helpers/utils.ts
  extensions/switch-game-play-history/src/playHistories.tsx
  extensions/switch-game-play-history/src/recentPlayHistories.tsx
  extensions/switch-game-play-history/src/types/nintendo.ts
  extensions/switch-game-play-history/tsconfig.json
Labels: new extension

#6537 feat: add possibility to send macos notification if at least one consumer has lag
  extensions/kafka/.eslintrc.json
  extensions/kafka/.gitignore
  extensions/kafka/CHANGELOG.md
  extensions/kafka/README.md
  extensions/kafka/package-lock.json
  extensions/kafka/package.json
  extensions/kafka/src/components/consumers.tsx
  extensions/kafka/src/components/topics.tsx
  extensions/kafka/src/kafka-menubar.tsx
  extensions/kafka/src/utils.ts
  extensions/kafka/tsconfig.json
Labels: extension fix / improvement, OP is author, extension: kafka

#5691 Add dice roller extension
  extensions/rollcast/.eslintrc.json
  extensions/rollcast/.gitignore
  extensions/rollcast/.prettierrc
  extensions/rollcast/CHANGELOG.md
  extensions/rollcast/README.md
  extensions/rollcast/assets/command-icon.png
  extensions/rollcast/metadata/rollcast-1.png
  extensions/rollcast/package-lock.json
  extensions/rollcast/package.json
  extensions/rollcast/src/components/FormActions/index.tsx
  extensions/rollcast/src/components/RollInfo/index.tsx
  extensions/rollcast/src/enums/index.ts
  extensions/rollcast/src/index.tsx
  extensions/rollcast/src/types/index.ts
  extensions/rollcast/src/utils/parse.ts
  extensions/rollcast/src/utils/roll.ts
  extensions/rollcast/src/utils/string.ts
  extensions/rollcast/tsconfig.json
Labels: new extension

#6622 fix: channel api for holodex
  extensions/holodex/CHANGELOG.md
  extensions/holodex/src/channels.tsx
Labels: extension fix / improvement, OP is contributor, extension: holodex

#6643 [CHATGPT] Feature & Hotfix 5/18/23
  extensions/chatgpt/CHANGELOG.md
  extensions/chatgpt/README.md
  extensions/chatgpt/package.json
  extensions/chatgpt/src/hooks/useChatGPT.tsx
  extensions/chatgpt/src/hooks/useModel.tsx
  extensions/chatgpt/src/hooks/useQuestion.tsx
  extensions/chatgpt/src/type.ts
Labels: extension fix / improvement, OP is author, extension: chatgpt

#6621 [ Quantumcast ] - New Command "Open Packz Manual"
  extensions/quantumcast/.eslintrc.json
  extensions/quantumcast/.gitignore
  extensions/quantumcast/CHANGELOG.md
  extensions/quantumcast/metadata/quantumcast-01.png
  extensions/quantumcast/metadata/quantumcast-02.png
  extensions/quantumcast/metadata/quantumcast-04.png
  extensions/quantumcast/metadata/quantumcast-07.png
  extensions/quantumcast/package-lock.json
  extensions/quantumcast/package.json
  extensions/quantumcast/src/open-packz-manual.tsx
Labels: extension fix / improvement, OP is author, extension: quantumcast

#6468 Update file-manager extension
  extensions/file-manager/CHANGELOG.md
  extensions/file-manager/package.json
  extensions/file-manager/src/utils.tsx
Labels: extension fix / improvement, extension: file-manager

#6627 [Bitwarden] Add lock vault command
  extensions/bitwarden/CHANGELOG.md
  extensions/bitwarden/assets/lock-vault.png
  extensions/bitwarden/package.json
  extensions/bitwarden/src/components/searchVault/actions/CommonActions.tsx
  extensions/bitwarden/src/constants/general.ts
  extensions/bitwarden/src/context/session/session.tsx
  extensions/bitwarden/src/context/session/utils.ts
  extensions/bitwarden/src/lock-vault.tsx
Labels: extension fix / improvement, OP is author, extension: bitwarden

#6485 [Set Audio Device] use universal binary audio-devices asset
  extensions/audio-device/CHANGELOG.md
  extensions/audio-device/assets/audio-devices
  extensions/audio-device/package-lock.json
  extensions/audio-device/package.json
Labels: extension fix / improvement, OP is contributor, extension: audio-device

#6371 Add code-review-emojis extension
  extensions/code-review-emojis/.eslintrc.json
  extensions/code-review-emojis/.gitignore
  extensions/code-review-emojis/.prettierrc
  extensions/code-review-emojis/CHANGELOG.md
  extensions/code-review-emojis/README.md
  extensions/code-review-emojis/assets/command-icon.png
  extensions/code-review-emojis/metadata/code-review-emoji-guide-1.png
  extensions/code-review-emojis/package-lock.json
  extensions/code-review-emojis/package.json
  extensions/code-review-emojis/src/index.tsx
  extensions/code-review-emojis/tsconfig.json
Labels: new extension

#6600 [Bitwarden] New show identity and improvements to actions
  extensions/bitwarden/src/components/searchVault/ItemActionPanel.tsx
  extensions/bitwarden/src/components/searchVault/actions/CopyCardFieldsActions.tsx
  extensions/bitwarden/src/components/searchVault/actions/CopyCustomFieldsActions.tsx
  extensions/bitwarden/src/components/searchVault/actions/CopyIdentityFieldsActions.tsx
  extensions/bitwarden/src/components/searchVault/actions/CopyLoginUrisActions.tsx
  extensions/bitwarden/src/components/searchVault/actions/CopyNotesAction.tsx
  extensions/bitwarden/src/components/searchVault/actions/CopyPasswordAction.tsx
  extensions/bitwarden/src/components/searchVault/actions/CopyTextFieldsActions.tsx
  extensions/bitwarden/src/components/searchVault/actions/PastePasswordAction.tsx
  extensions/bitwarden/src/components/searchVault/actions/ShowCardDetailsAction.tsx
  extensions/bitwarden/src/components/searchVault/actions/ShowIdentityDetailsAction.tsx
  extensions/bitwarden/src/components/searchVault/actions/ShowNotesAction.tsx
  extensions/bitwarden/src/components/searchVault/actions/ShowSecureNoteAction.tsx
  extensions/bitwarden/src/components/searchVault/actions/index.ts
  extensions/bitwarden/src/components/searchVault/actions/shared/CopyObjectFieldsActions.tsx
  extensions/bitwarden/src/components/searchVault/actions/shared/ShowDetailsScreen.tsx
  extensions/bitwarden/src/components/searchVault/actions/shared/VaultManagementActions.tsx
  extensions/bitwarden/src/components/searchVault/utils/caching.ts
  extensions/bitwarden/src/components/searchVault/utils/useGetUpdatedVaultItem.ts
  extensions/bitwarden/src/constants/general.ts
  extensions/bitwarden/src/constants/labels.ts
  extensions/bitwarden/src/constants/preferences.ts
  extensions/bitwarden/src/search.tsx
  extensions/bitwarden/src/types/global.d.ts
  extensions/bitwarden/src/types/vault.ts
  extensions/bitwarden/src/utils/cards.ts
  extensions/bitwarden/src/utils/commands.ts
  extensions/bitwarden/src/utils/development.ts
  extensions/bitwarden/src/utils/hooks/useFrontmostApplicationName.ts
  extensions/bitwarden/src/utils/identity.ts
  extensions/bitwarden/src/utils/preferences.ts
  extensions/bitwarden/src/utils/strings.ts
  extensions/bitwarden/src/utils/testing/mocks.ts
  extensions/bitwarden/tsconfig.json
Labels: extension fix / improvement, OP is author, extension: bitwarden

#6417 [Search Emoji] Add support for Unicode 15.0
  extensions/emoji/CHANGELOG.md
  extensions/emoji/assets/15.0/emoji-test.txt
  extensions/emoji/package-lock.json
  extensions/emoji/package.json
  extensions/emoji/src/vendor/generate-emoji-list/createEmojiList.ts
Labels: extension fix / improvement, extension: emoji

#6599 Add OAuth support and additional Command to Reflect Extension
  extensions/reflect/CHANGELOG.md
  extensions/reflect/README.md
  extensions/reflect/metadata/reflect-1.png
  extensions/reflect/metadata/reflect-2.png
  extensions/reflect/metadata/reflect-3.png
  extensions/reflect/package-lock.json
  extensions/reflect/package.json
  extensions/reflect/src/api.ts
  extensions/reflect/src/append.tsx
  extensions/reflect/src/daily.ts
  extensions/reflect/src/helpers/api.ts
  extensions/reflect/src/helpers/dates.ts
  extensions/reflect/src/helpers/oauth.ts
  extensions/reflect/src/helpers/reflect.ts
  extensions/reflect/src/new.ts
  extensions/reflect/src/quickAppend.ts
  extensions/reflect/src/search.ts
  extensions/reflect/src/utils.ts
Labels: extension fix / improvement, OP is contributor, extension: reflect

#6338 Add one-time-password extension
  extensions/one-time-password/.eslintrc.json
  extensions/one-time-password/.gitignore
  extensions/one-time-password/.prettierrc
  extensions/one-time-password/CHANGELOG.md
  extensions/one-time-password/README.md
  extensions/one-time-password/assets/google-authenticator-migration.proto
  extensions/one-time-password/assets/icon.png
  extensions/one-time-password/metadata/one-time-password-1.png
  extensions/one-time-password/metadata/one-time-password-2.png
  extensions/one-time-password/metadata/one-time-password-3.png
  extensions/one-time-password/metadata/one-time-password-4.png
  extensions/one-time-password/metadata/one-time-password-5.png
  extensions/one-time-password/metadata/one-time-password-6.png
  extensions/one-time-password/package-lock.json
  extensions/one-time-password/package.json
  extensions/one-time-password/src/google-authenticator.ts
  extensions/one-time-password/src/one-time-password.tsx
  extensions/one-time-password/src/store.ts
  extensions/one-time-password/src/totp.ts
  extensions/one-time-password/src/utils.ts
  extensions/one-time-password/tsconfig.json
Labels: new extension

#6677 feat(teamgantt): organize my tasks by status
  extensions/teamgantt/.gitignore
  extensions/teamgantt/CHANGELOG.md
  extensions/teamgantt/package-lock.json
  extensions/teamgantt/package.json
  extensions/teamgantt/src/api.ts
  extensions/teamgantt/src/my-tasks.tsx
  extensions/teamgantt/src/search.tsx
  extensions/teamgantt/src/types.d.ts
  extensions/teamgantt/src/utils.ts
Labels: extension fix / improvement, OP is author, extension: teamgantt

#6666 Google Translate: replace translate library, add error handling
  extensions/google-translate/.gitignore
  extensions/google-translate/CHANGELOG.md
  extensions/google-translate/package-lock.json
  extensions/google-translate/package.json
  extensions/google-translate/src/hooks.ts
  extensions/google-translate/src/simple-translate.ts
  extensions/google-translate/src/translate-form.tsx
  extensions/google-translate/src/translate.tsx
Labels: extension fix / improvement, OP is author, extension: translate

#6661 Fixed grammar rules mistakes
  extensions/lacinka/CHANGELOG.md
  extensions/lacinka/src/index.tsx
Labels: extension fix / improvement, OP is author, extension: lacinka

#6681 Fix typo on README.md
  extensions/twitter/README.md
Labels: extension fix / improvement, extension: twitter

#6372 quick-open-project: Add optional second editor + open shortcut
  extensions/quick-open-project/CHANGELOG.md
  extensions/quick-open-project/package-lock.json
  extensions/quick-open-project/package.json
  extensions/quick-open-project/src/index.tsx
Labels: extension fix / improvement, extension: quick-open-project

#6710 Update file-manager extension
  extensions/file-manager/CHANGELOG.md
  extensions/file-manager/src/utils.tsx
Labels: extension fix / improvement, OP is contributor, extension: file-manager

#6515 Update docker extension
  extensions/docker/CHANGELOG.md
  extensions/docker/package-lock.json
  extensions/docker/package.json
  extensions/docker/src/container_detail.tsx
  extensions/docker/src/create_container.tsx
  extensions/docker/src/docker/index.ts
  extensions/docker/src/image_list.tsx
Labels: extension fix / improvement, extension: docker

#6716 Harvest
  extensions/harvest/CHANGELOG.md
  extensions/harvest/README.md
  extensions/harvest/assets/harvest-logo-icon-gray.png
  extensions/harvest/package.json
  extensions/harvest/src/listTimeEntries.tsx
  extensions/harvest/src/menu-bar.tsx
  extensions/harvest/src/services/harvest.ts
  extensions/harvest/src/stopTimer.tsx
Labels: extension fix / improvement, OP is author, extension: harvest

#6715 feat(lark): polish lark extension
  extensions/lark/.prettierignore
  extensions/lark/CHANGELOG.md
  extensions/lark/assets/space-icons/type-11.png
  extensions/lark/assets/space-icons/type-11.svg
  extensions/lark/assets/space-icons/type-12-jpeg.png
  extensions/lark/assets/space-icons/type-12-jpeg.svg
  extensions/lark/assets/space-icons/type-12-json.png
  extensions/lark/assets/space-icons/type-12-json.svg
  extensions/lark/assets/space-icons/type-12-key.png
  extensions/lark/assets/space-icons/type-12-key.svg
  extensions/lark/assets/space-icons/type-12-mov.png
  extensions/lark/assets/space-icons/type-12-mov.svg
  extensions/lark/assets/space-icons/type-12-pdf.png
  extensions/lark/assets/space-icons/type-12-pdf.svg
  extensions/lark/assets/space-icons/type-12-pptx.png
  extensions/lark/assets/space-icons/type-12-pptx.svg
  extensions/lark/assets/space-icons/type-12-xlsx.png
  extensions/lark/assets/space-icons/type-12-xlsx.svg
  extensions/lark/assets/space-icons/type-12-zip.png
  extensions/lark/assets/space-icons/type-12-zip.svg
  extensions/lark/assets/space-icons/type-15.png
  extensions/lark/assets/space-icons/type-15.svg
  extensions/lark/assets/space-icons/type-16.png
  extensions/lark/assets/space-icons/type-16.svg
  extensions/lark/assets/space-icons/type-2.png
  extensions/lark/assets/space-icons/type-2.svg
  extensions/lark/assets/space-icons/type-22.png
  extensions/lark/assets/space-icons/type-22.svg
  extensions/lark/assets/space-icons/type-3.png
  extensions/lark/assets/space-icons/type-3.svg
  extensions/lark/assets/space-icons/type-8.png
  extensions/lark/assets/space-icons/type-8.svg
  extensions/lark/package-lock.json
  extensions/lark/package.json
  extensions/lark/raycast-env.d.ts
  extensions/lark/src/components/space-list-item/index.tsx
  extensions/lark/src/features/with-auth/qr-login/index.tsx
  extensions/lark/src/features/with-query/index.tsx
  extensions/lark/src/search-docs.tsx
  extensions/lark/src/services/shared.ts
  extensions/lark/src/services/space.ts
  extensions/lark/src/typings/helpers.d.ts
  extensions/lark/src/utils/config.ts
  extensions/lark/tsconfig.json
Labels: extension fix / improvement, OP is author, extension: lark

#6644 Update screenocr extension
  extensions/screenocr/.gitignore
  extensions/screenocr/.prettierrc
  extensions/screenocr/README.md
  extensions/screenocr/Sources/recognize-text/main.swift
  extensions/screenocr/assets/recognize-text
  extensions/screenocr/metadata/screenocr-1.png
  extensions/screenocr/metadata/screenocr-2.png
  extensions/screenocr/package-lock.json
  extensions/screenocr/package.json
  extensions/screenocr/src/data/supportedLanguages.ts
  extensions/screenocr/src/hooks.ts
  extensions/screenocr/src/preferences.tsx
  extensions/screenocr/src/preferences/LanguageManager/LanguageManager.tsx
  extensions/screenocr/src/types.ts
  extensions/screenocr/src/utils.ts
Labels: extension fix / improvement, extension: screenocr

#6734 [Update] Social Network Trends
  extensions/social-network-trends/package.json
Labels: extension fix / improvement, OP is author, extension: social-network-trends

#6733 Harvest
  extensions/harvest/src/services/harvest.ts
Labels: extension fix / improvement, OP is author, extension: harvest

#6423 Add image-wallet extension
  extensions/image-wallet/.eslintrc.json
  extensions/image-wallet/.gitignore
  extensions/image-wallet/.prettierrc
  extensions/image-wallet/CHANGELOG.md
  extensions/image-wallet/assets/extension-icon.png
  extensions/image-wallet/metadata/image-wallet-1.png
  extensions/image-wallet/metadata/image-wallet-2.png
  extensions/image-wallet/metadata/image-wallet-3.png
  extensions/image-wallet/package-lock.json
  extensions/image-wallet/package.json
  extensions/image-wallet/src/image-wallet.tsx
  extensions/image-wallet/src/types.ts
  extensions/image-wallet/src/utils.ts
  extensions/image-wallet/tsconfig.json
Labels: new extension

#6440 [New Extension] Surfs Up is the goto to check the forecast for your favorite surf spots
  extensions/surfs-up/.eslintrc.json
  extensions/surfs-up/.gitignore
  extensions/surfs-up/.prettierrc
  extensions/surfs-up/CHANGELOG.md
  extensions/surfs-up/README.md
  extensions/surfs-up/assets/logo.png
  extensions/surfs-up/metadata/surfs-up-1.png
  extensions/surfs-up/metadata/surfs-up-2.png
  extensions/surfs-up/metadata/surfs-up-3.png
  extensions/surfs-up/metadata/surfs-up-4.png
  extensions/surfs-up/metadata/surfs-up-5.png
  extensions/surfs-up/package-lock.json
  extensions/surfs-up/package.json
  extensions/surfs-up/src/data/spotFlags.ts
  extensions/surfs-up/src/data/spots.json
  extensions/surfs-up/src/data/waveModels.ts
  extensions/surfs-up/src/data/weatherModels.ts
  extensions/surfs-up/src/handlers/checkForecast.ts
  extensions/surfs-up/src/handlers/closeForecast.ts
  extensions/surfs-up/src/index.tsx
  extensions/surfs-up/src/types/forecast.ts
  extensions/surfs-up/src/types/forecastDay.ts
  extensions/surfs-up/src/types/forecastPanelInfo.ts
  extensions/surfs-up/src/types/spot.ts
  extensions/surfs-up/src/utils/alphaSortPredicate.ts
  extensions/surfs-up/src/utils/buildForecast.ts
  extensions/surfs-up/src/utils/chooseForecastModelsToUse.ts
  extensions/surfs-up/src/utils/generateForecastPanelMarkdown.ts
  extensions/surfs-up/tsconfig.json
Labels: new extension

#6457 Update speedtest extension
  extensions/speedtest/.gitignore
  extensions/speedtest/CHANGELOG.md
  extensions/speedtest/package-lock.json
  extensions/speedtest/package.json
  extensions/speedtest/src/index.tsx
Labels: extension fix / improvement, extension: speedtest

#6458 Update BetterTouchTool Extension with shared secret support
  extensions/bettertouchtool/.eslintrc.json
  extensions/bettertouchtool/.gitignore
  extensions/bettertouchtool/CHANGELOG.md
  extensions/bettertouchtool/README.md
  extensions/bettertouchtool/package-lock.json
  extensions/bettertouchtool/package.json
  extensions/bettertouchtool/src/action.tsx
  extensions/bettertouchtool/src/actions.json
  extensions/bettertouchtool/src/icons.tsx
  extensions/bettertouchtool/src/trigger.tsx
  extensions/bettertouchtool/tsconfig.json
Labels: extension fix / improvement, OP is author, extension: bettertouchtool

#6461 Add fake-financial-data extension
  extensions/fake-financial-data/.eslintrc.js
  extensions/fake-financial-data/.gitignore
  extensions/fake-financial-data/CHANGELOG.md
  extensions/fake-financial-data/README.md
  extensions/fake-financial-data/__tests__/generateData.test.ts
  extensions/fake-financial-data/assets/command-icon.png
  extensions/fake-financial-data/assets/icon.png
  extensions/fake-financial-data/assets/icon@dark.png
  extensions/fake-financial-data/jest.config.ts
  extensions/fake-financial-data/jest.setup.ts
  extensions/fake-financial-data/package-lock.json
  extensions/fake-financial-data/package.json
  extensions/fake-financial-data/src/ffd-commands.tsx
  extensions/fake-financial-data/tsconfig.json
  extensions/fake-financial-data/utils/index.ts
Labels: new extension

#6477 [Steam] Add ai game recommendation
  extensions/steam/.eslintrc.json
  extensions/steam/.gitignore
  extensions/steam/CHANGELOG.md
  extensions/steam/assets/screenshot-1.png
  extensions/steam/assets/screenshot-2.png
  extensions/steam/metadata/steam-01.png
  extensions/steam/metadata/steam-02.png
  extensions/steam/metadata/steam-03.png
  extensions/steam/metadata/steam-04.png
  extensions/steam/metadata/steam-1.png
  extensions/steam/metadata/steam-2.png
  extensions/steam/metadata/steam-3.png
  extensions/steam/metadata/steam-4.png
  extensions/steam/metadata/steam-5.png
  extensions/steam/package-lock.json
  extensions/steam/package.json
  extensions/steam/src/components/GameDetails.tsx
  extensions/steam/src/components/GameRecommendations.tsx
  extensions/steam/src/components/ListItems.tsx
  extensions/steam/src/components/RandomGamesList.tsx
  extensions/steam/src/components/Search.tsx
  extensions/steam/src/lib/cache.ts
  extensions/steam/src/lib/fetcher.ts
  extensions/steam/src/lib/hooks.ts
  extensions/steam/src/lib/util.ts
  extensions/steam/src/steam.tsx
  extensions/steam/tsconfig.json
Labels: extension fix / improvement, OP is author, extension: steam

#6496 Add MUI Documentation Search extension
  extensions/mui-documentation/.eslintrc.json
  extensions/mui-documentation/.gitignore
  extensions/mui-documentation/.nvmrc
  extensions/mui-documentation/.prettierrc.js
  extensions/mui-documentation/.vscode/extensions.json
  extensions/mui-documentation/.vscode/settings.json
  extensions/mui-documentation/CHANGELOG.md
  extensions/mui-documentation/LICENSE
  extensions/mui-documentation/README.md
  extensions/mui-documentation/assets/command-small.png
  extensions/mui-documentation/assets/command.png
  extensions/mui-documentation/assets/mui-core.png
  extensions/mui-documentation/assets/mui-x.png
  extensions/mui-documentation/metadata/mui-documentation-1.png
  extensions/mui-documentation/metadata/mui-documentation-2.png
  extensions/mui-documentation/metadata/mui-documentation-3.png
  extensions/mui-documentation/package-lock.json
  extensions/mui-documentation/package.json
  extensions/mui-documentation/src/ProductDropDown.tsx
  extensions/mui-documentation/src/Results.tsx
  extensions/mui-documentation/src/index.tsx
  extensions/mui-documentation/src/types.ts
  extensions/mui-documentation/src/utils.ts
  extensions/mui-documentation/tsconfig.json
  package-lock.json
Labels: new extension

#6508 Add baidu-ocr extension
  extensions/baidu-ocr/.eslintrc.json
  extensions/baidu-ocr/.gitignore
  extensions/baidu-ocr/.prettierrc
  extensions/baidu-ocr/CHANGELOG.md
  extensions/baidu-ocr/README.md
  extensions/baidu-ocr/assets/baidu-icon.png
  extensions/baidu-ocr/package-lock.json
  extensions/baidu-ocr/package.json
  extensions/baidu-ocr/src/clipboard-ocr.tsx
  extensions/baidu-ocr/src/utils.ts
  extensions/baidu-ocr/tsconfig.json
Labels: new extension

#6512 Add gerrit-code-review extension
  extensions/gerrit-code-review/.eslintrc.json
  extensions/gerrit-code-review/.gitignore
  extensions/gerrit-code-review/.prettierrc
  extensions/gerrit-code-review/CHANGELOG.md
  extensions/gerrit-code-review/README.md
  extensions/gerrit-code-review/assets/Gerrit.png
  extensions/gerrit-code-review/metadata/gerrit-code-review-1.png
  extensions/gerrit-code-review/metadata/gerrit-code-review-2.png
  extensions/gerrit-code-review/metadata/gerrit-code-review-3.png
  extensions/gerrit-code-review/metadata/gerrit-code-review-4.png
  extensions/gerrit-code-review/metadata/gerrit-code-review-5.png
  extensions/gerrit-code-review/metadata/gerrit-code-review-6.png
  extensions/gerrit-code-review/package-lock.json
  extensions/gerrit-code-review/package.json
  extensions/gerrit-code-review/src/browse-projects.tsx
  extensions/gerrit-code-review/src/components/changes.tsx
  extensions/gerrit-code-review/src/components/menu.tsx
  extensions/gerrit-code-review/src/components/projects.tsx
  extensions/gerrit-code-review/src/interfaces/change.d.ts
  extensions/gerrit-code-review/src/interfaces/gerrit.d.ts
  extensions/gerrit-code-review/src/interfaces/preferences.ts
  extensions/gerrit-code-review/src/interfaces/project.d.ts
  extensions/gerrit-code-review/src/interfaces/user.d.ts
  extensions/gerrit-code-review/src/query-changes.tsx
  extensions/gerrit-code-review/src/utils/api/gerrit.ts
  extensions/gerrit-code-review/src/utils/api/storage.ts
  extensions/gerrit-code-review/tsconfig.json
Labels: new extension

#6525 Add cloudinary extension
  extensions/cloudinary/.eslintrc.json
  extensions/cloudinary/.gitignore
  extensions/cloudinary/.prettierrc
  extensions/cloudinary/CHANGELOG.md
  extensions/cloudinary/README.md
  extensions/cloudinary/assets/cloudinary-512x512-rounded.png
  extensions/cloudinary/metadata/cloudinary-1.png
  extensions/cloudinary/metadata/cloudinary-2.png
  extensions/cloudinary/package-lock.json
  extensions/cloudinary/package.json
  extensions/cloudinary/src/components/ViewResource.tsx
  extensions/cloudinary/src/components/ViewResources.tsx
  extensions/cloudinary/src/index.tsx
  extensions/cloudinary/src/lib/cloudinary.ts
  extensions/cloudinary/src/lib/extension.ts
  extensions/cloudinary/src/lib/util.ts
  extensions/cloudinary/src/search.tsx
  extensions/cloudinary/src/types/asset.ts
  extensions/cloudinary/src/upload-clipboard.tsx
  extensions/cloudinary/src/upload-url.tsx
  extensions/cloudinary/tsconfig.json
Labels: new extension

#6533 Add risk-reward-calculator extension
  extensions/risk-reward-calculator/.eslintrc.json
  extensions/risk-reward-calculator/.gitignore
  extensions/risk-reward-calculator/.prettierrc
  extensions/risk-reward-calculator/CHANGELOG.md
  extensions/risk-reward-calculator/README.md
  extensions/risk-reward-calculator/assets/command-icon.png
  extensions/risk-reward-calculator/metadata/risk-reward-calculator-1.png
  extensions/risk-reward-calculator/package-lock.json
  extensions/risk-reward-calculator/package.json
  extensions/risk-reward-calculator/src/index.tsx
  extensions/risk-reward-calculator/tsconfig.json
Labels: new extension

#6545 [wordpress-docs] Add AI summary feature
  extensions/wordpress-docs/.gitignore
  extensions/wordpress-docs/CHANGELOG.md
  extensions/wordpress-docs/package-lock.json
  extensions/wordpress-docs/package.json
  extensions/wordpress-docs/src/index.tsx
  extensions/wordpress-docs/tsconfig.json
Labels: extension fix / improvement, extension: wordpress-docs

#6546 Add Incognito Clone extension
  extensions/incognito-clone/.eslintrc.json
  extensions/incognito-clone/.gitignore
  extensions/incognito-clone/.nvmrc
  extensions/incognito-clone/.prettierrc.js
  extensions/incognito-clone/.vscode/extensions.json
  extensions/incognito-clone/.vscode/settings.json
  extensions/incognito-clone/CHANGELOG.md
  extensions/incognito-clone/LICENSE
  extensions/incognito-clone/README.md
  extensions/incognito-clone/assets/icon.png
  extensions/incognito-clone/assets/icon@dark.png
  extensions/incognito-clone/metadata/incognito-clone.png
  extensions/incognito-clone/package-lock.json
  extensions/incognito-clone/package.json
  extensions/incognito-clone/src/clone-and-close.ts
  extensions/incognito-clone/src/clone.ts
  extensions/incognito-clone/src/utils.ts
  extensions/incognito-clone/tsconfig.json
Labels: new extension

#6442 Add pitchfork extension
  extensions/pitchfork/.eslintrc.json
  extensions/pitchfork/.gitignore
  extensions/pitchfork/.prettierrc
  extensions/pitchfork/CHANGELOG.md
  extensions/pitchfork/README.md
  extensions/pitchfork/assets/music_note_icon.png
  extensions/pitchfork/assets/pitchfork_icon.png
  extensions/pitchfork/metadata/pitchfork-1.png
  extensions/pitchfork/metadata/pitchfork-2.png
  extensions/pitchfork/package-lock.json
  extensions/pitchfork/package.json
  extensions/pitchfork/src/reviews.tsx
  extensions/pitchfork/tsconfig.json
Labels: new extension

#6542 Add - Paperless-ngx extension - search and upload documents
  extensions/paperless-ngx/.eslintrc.json
  extensions/paperless-ngx/.gitignore
  extensions/paperless-ngx/.prettierrc
  extensions/paperless-ngx/CHANGELOG.md
  extensions/paperless-ngx/README.md
  extensions/paperless-ngx/assets/command-icon.png
  extensions/paperless-ngx/assets/command-icon@dark.png
  extensions/paperless-ngx/assets/list-icon.png
  extensions/paperless-ngx/metadata/paperless-ngx-1.png
  extensions/paperless-ngx/metadata/paperless-ngx-2.png
  extensions/paperless-ngx/metadata/paperless-ngx-3.png
  extensions/paperless-ngx/package-lock.json
  extensions/paperless-ngx/package.json
  extensions/paperless-ngx/src/components/DocActions.tsx
  extensions/paperless-ngx/src/components/DocGridItem.tsx
  extensions/paperless-ngx/src/components/DocListItem.tsx
  extensions/paperless-ngx/src/documentForm.tsx
  extensions/paperless-ngx/src/index.tsx
  extensions/paperless-ngx/src/models/docItem.model.ts
  extensions/paperless-ngx/src/models/docPost.model.ts
  extensions/paperless-ngx/src/models/paperlessResponse.model.ts
  extensions/paperless-ngx/src/models/preferences.model.ts
  extensions/paperless-ngx/src/utils/fetchCorrespondents.ts
  extensions/paperless-ngx/src/utils/fetchDocumentTags.ts
  extensions/paperless-ngx/src/utils/fetchDocumentTypes.ts
  extensions/paperless-ngx/src/utils/fetchDocuments.ts
  extensions/paperless-ngx/src/utils/postDocument.ts
  extensions/paperless-ngx/tsconfig.json
Labels: new extension

#6714 Update keepassxc extension
  extensions/keepassxc/.gitignore
  extensions/keepassxc/CHANGELOG.md
  extensions/keepassxc/README.md
  extensions/keepassxc/src/index.tsx
Labels: extension fix / improvement, extension: keepassxc

#6556 Add lichess-org extension
  extensions/lichess-org/.eslintrc.json
  extensions/lichess-org/.gitignore
  extensions/lichess-org/.prettierrc
  extensions/lichess-org/CHANGELOG.md
  extensions/lichess-org/README.md
  extensions/lichess-org/assets/command-icon.png
  extensions/lichess-org/package-lock.json
  extensions/lichess-org/package.json
  extensions/lichess-org/src/index.ts
  extensions/lichess-org/tsconfig.json
Labels: new extension

#6566 Add key-value extension
  extensions/key-value/.eslintrc.json
  extensions/key-value/.gitignore
  extensions/key-value/.prettierrc
  extensions/key-value/CHANGELOG.md
  extensions/key-value/README.md
  extensions/key-value/assets/key-value-icon.png
  extensions/key-value/package-lock.json
  extensions/key-value/package.json
  extensions/key-value/src/index.tsx
  extensions/key-value/tsconfig.json
Labels: new extension

#6727 [Bitwarden] Folder dropdown & item accessories and keywords improvements
  extensions/bitwarden/CHANGELOG.md
  extensions/bitwarden/package-lock.json
  extensions/bitwarden/package.json
  extensions/bitwarden/src/components/searchVault/Item.tsx
  extensions/bitwarden/src/components/searchVault/ListFolderDropdown.tsx
  extensions/bitwarden/src/components/searchVault/actions/shared/VaultManagementActions.tsx
  extensions/bitwarden/src/components/searchVault/utils/caching.ts
  extensions/bitwarden/src/components/searchVault/utils/useVaultCaching.test.ts
  extensions/bitwarden/src/components/searchVault/utils/useVaultCaching.ts
  extensions/bitwarden/src/constants/general.ts
  extensions/bitwarden/src/constants/labels.ts
  extensions/bitwarden/src/context/vault.tsx
  extensions/bitwarden/src/search.tsx
  extensions/bitwarden/src/types/global.d.ts
  extensions/bitwarden/src/types/vault.ts
  extensions/bitwarden/src/utils/cards.ts
  extensions/bitwarden/src/utils/search.ts
  extensions/bitwarden/src/utils/testing/mocks.ts
  extensions/bitwarden/src/utils/testing/setupEnvironment.tsx
Labels: extension fix / improvement, OP is author, extension: bitwarden

#6602 [Laravel Artisan] Add AI Summary
  extensions/laravel-artisan/.gitignore
  extensions/laravel-artisan/CHANGELOG.md
  extensions/laravel-artisan/package-lock.json
  extensions/laravel-artisan/package.json
  extensions/laravel-artisan/src/components/SummaryView.tsx
  extensions/laravel-artisan/src/index.tsx
Labels: extension fix / improvement, OP is author, extension: laravel-artisan

#6592 Add clipboard-formatter extension
  extensions/clipboard-formatter/.eslintrc.json
  extensions/clipboard-formatter/.gitignore
  extensions/clipboard-formatter/.prettierrc
  extensions/clipboard-formatter/CHANGELOG.md
  extensions/clipboard-formatter/README.md
  extensions/clipboard-formatter/assets/extension_icon.png
  extensions/clipboard-formatter/package-lock.json
  extensions/clipboard-formatter/package.json
  extensions/clipboard-formatter/src/index.ts
  extensions/clipboard-formatter/tsconfig.json
Labels: new extension

#6610 Cast character to lowercase first, since it shouldn't matter if letters are entered upper- or lowercase.
  extensions/nato-phonetic-alphabet/CHANGELOG.md
  extensions/nato-phonetic-alphabet/src/spell.tsx
Labels: extension fix / improvement, extension: nato-phonetic-alphabet

#6641 Add copy-skeet-link extension
  extensions/copy-skeet-link/.eslintrc.json
  extensions/copy-skeet-link/.gitignore
  extensions/copy-skeet-link/.prettierrc
  extensions/copy-skeet-link/CHANGELOG.md
  extensions/copy-skeet-link/README.md
  extensions/copy-skeet-link/assets/command-icon.png
  extensions/copy-skeet-link/package-lock.json
  extensions/copy-skeet-link/package.json
  extensions/copy-skeet-link/src/index.ts
  extensions/copy-skeet-link/tsconfig.json
Labels: new extension

#6648 Add Mullvad Extension
  extensions/mullvad/.eslintrc.json
  extensions/mullvad/.gitignore
  extensions/mullvad/.prettierrc
  extensions/mullvad/CHANGELOG.md
  extensions/mullvad/README.md
  extensions/mullvad/assets/mullvad-icon.png
  extensions/mullvad/metadata/mullvad 2023-05-18 at 21.58.50.png
  extensions/mullvad/package-lock.json
  extensions/mullvad/package.json
  extensions/mullvad/src/mullvad.tsx
  extensions/mullvad/tsconfig.json
Labels: new extension

#6736 Update wi-fi extension
  extensions/wi-fi/.gitignore
  extensions/wi-fi/CHANGELOG.md
  extensions/wi-fi/package-lock.json
  extensions/wi-fi/package.json
  extensions/wi-fi/src/hooks/hooks.ts
  extensions/wi-fi/src/scan-wifi.tsx
Labels: extension fix / improvement, extension: wi-fi

#6749 feat: add possibility to select secret engine
  extensions/vault/CHANGELOG.md
  extensions/vault/package.json
  extensions/vault/src/components/actions.tsx
  extensions/vault/src/components/engines.tsx
  extensions/vault/src/components/entities.tsx
  extensions/vault/src/components/tree.tsx
  extensions/vault/src/interfaces.ts
  extensions/vault/src/utils.ts
  extensions/vault/src/vault.tsx
Labels: extension fix / improvement, OP is author, extension: vault-manager

#6729 Update bear extension
  extensions/bear/.gitignore
  extensions/bear/CHANGELOG.md
  extensions/bear/package.json
  extensions/bear/src/bear-db.ts
  extensions/bear/src/db-queries.ts
  extensions/bear/src/index.tsx
  extensions/bear/src/note-actions.tsx
  extensions/bear/src/search-dropdown.tsx
Labels: extension fix / improvement, status: awaiting response from dev, extension: bear

#6608 search bookmarks for Hookmark.app
  extensions/search-hookmark/.eslintrc.json
  extensions/search-hookmark/.gitignore
  extensions/search-hookmark/.prettierrc
  extensions/search-hookmark/CHANGELOG.md
  extensions/search-hookmark/README.md
  extensions/search-hookmark/assets/command-icon.png
  extensions/search-hookmark/assets/extension-icon.svg
  extensions/search-hookmark/metadata/search-hookmark-1.png
  extensions/search-hookmark/metadata/search-hookmark-2.png
  extensions/search-hookmark/package-lock.json
  extensions/search-hookmark/package.json
  extensions/search-hookmark/src/search-hookmark.tsx
  extensions/search-hookmark/src/utils/checkInstall.ts
  extensions/search-hookmark/src/utils/checkOpen.ts
  extensions/search-hookmark/src/utils/hookmark.tsx
  extensions/search-hookmark/src/utils/type.tsx
  extensions/search-hookmark/tsconfig.json
Labels: new extension

#6691 Added Mark All as Read to Github menu bar
  extensions/github/CHANGELOG.md
  extensions/github/package-lock.json
  extensions/github/package.json
  extensions/github/src/generated/graphql.ts
  extensions/github/src/unread-notifications.tsx
Labels: extension fix / improvement, extension: github
