Repository raycast/extensions, pull requests merged in 2023-10, with the labels that each got.

#7919 Add UniFi Extension
  extensions/unifi/.eslintrc.json
  extensions/unifi/.gitignore
  extensions/unifi/.prettierrc
  extensions/unifi/CHANGELOG.md
  extensions/unifi/README.md
  extensions/unifi/assets/unifi.png
  extensions/unifi/metadata/unifi-1.png
  extensions/unifi/metadata/unifi-2.png
  extensions/unifi/package-lock.json
  extensions/unifi/package.json
  extensions/unifi/src/clients.tsx
  extensions/unifi/src/components/actions.tsx
  extensions/unifi/src/components/client/actions.tsx
  extensions/unifi/src/components/client/list.tsx
  extensions/unifi/src/components/device/actions.tsx
  extensions/unifi/src/components/device/list.tsx
  extensions/unifi/src/components/device/utils.ts
  extensions/unifi/src/components/site/hooks.tsx
  extensions/unifi/src/components/site/list.tsx
  extensions/unifi/src/devices.tsx
  extensions/unifi/src/lib/unifi.ts
  extensions/unifi/src/openInBrowser.tsx
  extensions/unifi/src/utils.ts
  extensions/unifi/tsconfig.json
Labels: new extension

#8624 [GitHub] Fix menubar icons color
  extensions/github/CHANGELOG.md
  extensions/github/src/open-issues-menu.tsx
  extensions/github/src/open-pull-request-menu.tsx
Labels: extension fix / improvement, OP is contributor, extension: raycast/github

#8607 Update jira extension
  extensions/jira/package.json
  extensions/jira/src/api/filters.ts
Labels: extension fix / improvement, extension: raycast/jira

#8650 Update spanish-tv-guide extension
  extensions/spanish-tv-guide/CHANGELOG.md
  extensions/spanish-tv-guide/package-lock.json
  extensions/spanish-tv-guide/package.json
  extensions/spanish-tv-guide/src/index.tsx
Labels: extension fix / improvement, OP is author, extension: david.molinero/spanish-tv-guide

#8216 Update mattermost extension
  extensions/mattermost/CHANGELOG.md
  extensions/mattermost/src/shared/MattermostClient.tsx
Labels: extension fix / improvement, OP is author, extension: mattermost, extension: ernest0n/mattermost

#8288 Update iterm extension
  extensions/iterm/CHANGELOG.md
  extensions/iterm/package.json
  extensions/iterm/src/core/error-toast.tsx
  extensions/iterm/src/core/iterm-command.tsx
  extensions/iterm/src/core/loading-toast.tsx
  extensions/iterm/src/core/use-iterm-command.tsx
  extensions/iterm/src/core/use-selected-items.tsx
  extensions/iterm/src/edit-in-iterm.tsx
  extensions/iterm/src/open-iterm-here.tsx
Labels: extension fix / improvement, extension: iterm

#8206 Add perchance-generator extension
  extensions/perchance-generator/.eslintrc.json
  extensions/perchance-generator/.gitignore
  extensions/perchance-generator/.prettierrc
  extensions/perchance-generator/CHANGELOG.md
  extensions/perchance-generator/README.md
  extensions/perchance-generator/assets/command-icon.png
  extensions/perchance-generator/metadata/perchance-generator-1.png
  extensions/perchance-generator/package-lock.json
  extensions/perchance-generator/package.json
  extensions/perchance-generator/src/index.tsx
  extensions/perchance-generator/tsconfig.json
Labels: new extension

#8373 Update keepassxc extension
  extensions/keepassxc/CHANGELOG.md
  extensions/keepassxc/README.md
  extensions/keepassxc/package-lock.json
  extensions/keepassxc/package.json
  extensions/keepassxc/src/index.tsx
  extensions/keepassxc/src/utils/keepassLoader.ts
Labels: extension fix / improvement, extension: keepassxc, extension: zkytech/keepassxc

#8654 Update spanish-tv-guide extension
  extensions/spanish-tv-guide/CHANGELOG.md
  extensions/spanish-tv-guide/package-lock.json
  extensions/spanish-tv-guide/package.json
  extensions/spanish-tv-guide/src/components/ChannelDetails.tsx
  extensions/spanish-tv-guide/src/components/ErrorMessage.tsx
  extensions/spanish-tv-guide/src/index.tsx
  extensions/spanish-tv-guide/src/modules/tv/domain/tvSchedule.ts
  extensions/spanish-tv-guide/src/modules/tv/repositories/tvScheduleRepository.ts
  extensions/spanish-tv-guide/src/utils/collectionUtils.ts
  extensions/spanish-tv-guide/src/utils/dateUtils.ts
  extensions/spanish-tv-guide/src/utils/objectUtils.ts
  extensions/spanish-tv-guide/test/modules/tv/repositories/tvScheduleRepository.spec.ts
  extensions/spanish-tv-guide/test/utils/dateUtils.spec.ts
Labels: extension fix / improvement, OP is author, extension: david.molinero/spanish-tv-guide

#8612 [Toothpick] QoL & Bose NCH 700
  extensions/toothpick/CHANGELOG.md
  extensions/toothpick/README.md
  extensions/toothpick/assets/icons/devices/bose/connected/nch.700.svg
  extensions/toothpick/assets/icons/devices/bose/nch.700.svg
  extensions/toothpick/package-lock.json
  extensions/toothpick/package.json
  extensions/toothpick/src/connect-device.ts
  extensions/toothpick/src/core/devices/constants/specifications/bose.ts
  extensions/toothpick/src/core/devices/devices.service.applescript.ts
  extensions/toothpick/src/core/devices/devices.service.blueutil.ts
  extensions/toothpick/src/core/devices/handlers/connect-device.ts
  extensions/toothpick/src/core/devices/handlers/disconnect-device.ts
  extensions/toothpick/src/disconnect-device.ts
  extensions/toothpick/src/manage-bluetooth-connections.tsx
  extensions/toothpick/src/view-mapped-devices.tsx
Labels: extension fix / improvement, OP is author, extension: VladCuciureanu/toothpick

#8594 Update hubspot extension
  extensions/hubspot/.gitignore
  extensions/hubspot/CHANGELOG.md
  extensions/hubspot/package.json
  extensions/hubspot/src/calls.tsx
Labels: extension fix / improvement, extension: harisvsulaiman/hubspot

#8629 Update ngrok extension
  extensions/ngrok/CHANGELOG.md
  extensions/ngrok/metadata/ngrok-1.png
  extensions/ngrok/metadata/ngrok-2.png
  extensions/ngrok/metadata/ngrok-3.png
  extensions/ngrok/metadata/ngrok-4.png
  extensions/ngrok/metadata/ngrok-5.png
  extensions/ngrok/package-lock.json
  extensions/ngrok/package.json
  extensions/ngrok/src/api/agent.ts
  extensions/ngrok/src/api/index.ts
  extensions/ngrok/src/api/types.ts
  extensions/ngrok/src/components/add-tunnel.tsx
  extensions/ngrok/src/components/empty-sessions-view.tsx
  extensions/ngrok/src/components/empty-tunnels-view.tsx
  extensions/ngrok/src/components/index.ts
  extensions/ngrok/src/components/stop-agent-action.tsx
  extensions/ngrok/src/components/stop-tunnel-action.tsx
  extensions/ngrok/src/hooks/index.ts
  extensions/ngrok/src/index.tsx
  extensions/ngrok/src/utils/date.ts
  extensions/ngrok/src/utils/validators.ts
Labels: extension fix / improvement, OP is author, extension: ubinatus/ngrok

#8626 [Home Assistant] New logo
  extensions/homeassistant/CHANGELOG.md
  extensions/homeassistant/assets/home-assistant-classic.png
  extensions/homeassistant/assets/home-assistant-orange-classic.png
  extensions/homeassistant/assets/home-assistant-orange.png
  extensions/homeassistant/assets/home-assistant.png
  extensions/homeassistant/metadata/Metadata-1.png
  extensions/homeassistant/metadata/Metadata-2.png
  extensions/homeassistant/metadata/Metadata-3.png
  extensions/homeassistant/metadata/Metadata-4.png
  extensions/homeassistant/metadata/homeassistant-1.png
  extensions/homeassistant/metadata/homeassistant-2.png
  extensions/homeassistant/metadata/homeassistant-3.png
  extensions/homeassistant/metadata/homeassistant-4.png
  extensions/homeassistant/package-lock.json
  extensions/homeassistant/package.json
Labels: extension fix / improvement, OP is author, extension: tonka3000/homeassistant

#8609 Splitwise: Added new features
  extensions/Splitwise/CHANGELOG.md
  extensions/Splitwise/metadata/splitwise-1.png
  extensions/Splitwise/metadata/splitwise-2.png
  extensions/Splitwise/metadata/splitwise-3.png
  extensions/Splitwise/metadata/splitwise-4.png
  extensions/Splitwise/package-lock.json
  extensions/Splitwise/package.json
  extensions/Splitwise/src/add-expense.tsx
  extensions/Splitwise/src/api.ts
  extensions/Splitwise/src/hooks/useCurrentUser.tsx
  extensions/Splitwise/src/hooks/useFriends_Groups.tsx
  extensions/Splitwise/src/hooks/useList.tsx
  extensions/Splitwise/src/hooks/userPreferences.tsx
  extensions/Splitwise/src/list-expenses.tsx
  extensions/Splitwise/src/preferences.ts
  extensions/Splitwise/src/splitwise.tsx
  extensions/Splitwise/src/types/friends_groups.types.ts
  extensions/Splitwise/src/types/get_expenses.types.ts
  extensions/Splitwise/src/types/get_user.types.ts
  extensions/Splitwise/src/utils/utils.tsx
Labels: extension fix / improvement, OP is author, extension: ilian/splitwise

#8577 Update Tailscale extension
  extensions/tailscale/.gitignore
  extensions/tailscale/CHANGELOG.md
  extensions/tailscale/raycast-env.d.ts
  extensions/tailscale/src/account-switcher.tsx
  extensions/tailscale/src/devices.tsx
  extensions/tailscale/src/exit.tsx
  extensions/tailscale/src/my-devices.tsx
  extensions/tailscale/src/shared.tsx
Labels: extension fix / improvement, OP is contributor, extension: tailscale/tailscale

#8551 Update commercequest extension
  extensions/commercequest/CHANGELOG.md
  extensions/commercequest/metadata/commercequest-1.png
  extensions/commercequest/metadata/commercequest-2.png
  extensions/commercequest/src/components/ItemTypeDropdown.tsx
  extensions/commercequest/src/components/PreviewDetail.tsx
  extensions/commercequest/src/components/SearchListItem.tsx
  extensions/commercequest/src/lib/types.tsx
  extensions/commercequest/src/search.tsx
Labels: extension fix / improvement, OP is author, extension: skroll/commercequest

#8509 feat(visual-studio-code-recent-projects): support cursor and vscodium properly
  extensions/visual-studio-code-recent-projects/CHANGELOG.md
  extensions/visual-studio-code-recent-projects/src/lib/vscode.ts
Labels: extension fix / improvement, extension: thomas/visual-studio-code

#8493 feat: (ohmyzsh git alias) imporve search #8478 & upgrade api version
  extensions/ohmyzsh-git-alias/.eslintrc.json
  extensions/ohmyzsh-git-alias/.gitignore
  extensions/ohmyzsh-git-alias/CHANGELOG.md
  extensions/ohmyzsh-git-alias/package-lock.json
  extensions/ohmyzsh-git-alias/package.json
  extensions/ohmyzsh-git-alias/src/index.tsx
  extensions/ohmyzsh-git-alias/tsconfig.json
Labels: extension fix / improvement, OP is author, extension: yufeikang/oh-my-zsh-git-alias

#8477 Add vmware-vcenter extension
  extensions/vmware-vcenter/.eslintrc.json
  extensions/vmware-vcenter/.gitignore
  extensions/vmware-vcenter/.prettierrc
  extensions/vmware-vcenter/CHANGELOG.md
  extensions/vmware-vcenter/LICENSE.md
  extensions/vmware-vcenter/README.md
  extensions/vmware-vcenter/assets/command-icon.png
  extensions/vmware-vcenter/assets/icons/datastore/datastore.svg
  extensions/vmware-vcenter/assets/icons/host/host_maintanance.svg
  extensions/vmware-vcenter/assets/icons/host/host_off.svg
  extensions/vmware-vcenter/assets/icons/host/host_on.svg
  extensions/vmware-vcenter/assets/icons/network/network.svg
  extensions/vmware-vcenter/assets/icons/os/bsd.png
  extensions/vmware-vcenter/assets/icons/os/linux.png
  extensions/vmware-vcenter/assets/icons/os/macos.png
  extensions/vmware-vcenter/assets/icons/os/windows.png
  extensions/vmware-vcenter/assets/icons/power/poweroff.svg
  extensions/vmware-vcenter/assets/icons/power/poweron.svg
  extensions/vmware-vcenter/assets/icons/power/reset.svg
  extensions/vmware-vcenter/assets/icons/power/suspend.svg
  extensions/vmware-vcenter/assets/icons/vm/console.svg
  extensions/vmware-vcenter/assets/icons/vm/vm.svg
  extensions/vmware-vcenter/assets/icons/vm/vm_paused.svg
  extensions/vmware-vcenter/assets/icons/vm/vm_running.svg
  extensions/vmware-vcenter/metadata/vmware-vcenter-1.png
  extensions/vmware-vcenter/metadata/vmware-vcenter-2.png
  extensions/vmware-vcenter/metadata/vmware-vcenter-3.png
  extensions/vmware-vcenter/metadata/vmware-vcenter-4.png
  extensions/vmware-vcenter/package-lock.json
  extensions/vmware-vcenter/package.json
  extensions/vmware-vcenter/src/api/errors.tsx
  extensions/vmware-vcenter/src/api/types.tsx
  extensions/vmware-vcenter/src/api/ui.tsx
  extensions/vmware-vcenter/src/api/vCenter.tsx
  extensions/vmware-vcenter/src/datastore.tsx
  extensions/vmware-vcenter/src/host.tsx
  extensions/vmware-vcenter/src/network.tsx
  extensions/vmware-vcenter/src/vm.tsx
  extensions/vmware-vcenter/tsconfig.json
Labels: new extension

#8669 [LaLiga] match comments, generate seasons list dynamically
  extensions/laliga/CHANGELOG.md
  extensions/laliga/src/api/index.ts
  extensions/laliga/src/components/comment.tsx
  extensions/laliga/src/components/competition_dropdown.tsx
  extensions/laliga/src/components/matchday.tsx
  extensions/laliga/src/other.tsx
  extensions/laliga/src/standing.tsx
  extensions/laliga/src/types/index.d.ts
Labels: extension fix / improvement, OP is author, extension: anhthang/laliga

#8663 [Xcode] Updated Swift Package types
  extensions/xcode/CHANGELOG.md
  extensions/xcode/package-lock.json
  extensions/xcode/package.json
  extensions/xcode/src/models/swift-package/xcode-swift-package-type.model.ts
Labels: extension fix / improvement, OP is author, extension: SvenTiigi/xcode

#8583 [Update] [Social Network Trends] Minor Update
  extensions/social-network-trends/.gitignore
  extensions/social-network-trends/CHANGELOG.md
  extensions/social-network-trends/package-lock.json
  extensions/social-network-trends/package.json
  extensions/social-network-trends/raycast-env.d.ts
  extensions/social-network-trends/src/components/preference-actions.tsx
  extensions/social-network-trends/src/utils/constants.ts
Labels: extension fix / improvement, OP is author, extension: koinzhang/social-network-trends

#8608 Bible extension: Add options to disable references and copyright in the copied results
  extensions/bible/CHANGELOG.md
  extensions/bible/package.json
  extensions/bible/src/bibleSearch.tsx
Labels: extension fix / improvement, extension: josmithua/bible

#8521 Add Thrasher Magazine extension
  extensions/thrasher-magazine/.eslintrc.json
  extensions/thrasher-magazine/.gitignore
  extensions/thrasher-magazine/.prettierrc
  extensions/thrasher-magazine/CHANGELOG.md
  extensions/thrasher-magazine/README.md
  extensions/thrasher-magazine/assets/thrasher-logo.png
  extensions/thrasher-magazine/metadata/thrasher-magazine-1.png
  extensions/thrasher-magazine/metadata/thrasher-magazine-2.png
  extensions/thrasher-magazine/metadata/thrasher-magazine-3.png
  extensions/thrasher-magazine/package-lock.json
  extensions/thrasher-magazine/package.json
  extensions/thrasher-magazine/src/index.tsx
  extensions/thrasher-magazine/src/types/article.types.ts
  extensions/thrasher-magazine/src/types/topic.types.ts
  extensions/thrasher-magazine/tsconfig.json
Labels: new extension

#8641 [1Password] Use `Clipboard.copy(..., {concealed: true})` to copy a password
  extensions/1password/.eslintrc.json
  extensions/1password/.gitignore
  extensions/1password/CHANGELOG.md
  extensions/1password/package-lock.json
  extensions/1password/package.json
  extensions/1password/src/item-list.tsx
  extensions/1password/src/v8/components/ActionCopyToClipboard.tsx
  extensions/1password/src/v8/utils.ts
  extensions/1password/tsconfig.json
Labels: extension fix / improvement, extension: khasbilegt/1password

#8494 Add phind-search extension
  extensions/phind-search/.eslintrc.json
  extensions/phind-search/.gitignore
  extensions/phind-search/.prettierrc
  extensions/phind-search/CHANGELOG.md
  extensions/phind-search/README.md
  extensions/phind-search/assets/command-icon.png
  extensions/phind-search/metadata/phind-search-1.png
  extensions/phind-search/metadata/phind-search-2.png
  extensions/phind-search/metadata/phind-search-3.png
  extensions/phind-search/package-lock.json
  extensions/phind-search/package.json
  extensions/phind-search/pnpm-lock.yaml
  extensions/phind-search/src/context.tsx
  extensions/phind-search/src/index.tsx
  extensions/phind-search/src/utils/handleResults.ts
  extensions/phind-search/src/utils/resultUtils.ts
  extensions/phind-search/src/utils/types.ts
  extensions/phind-search/src/utils/useSearch.ts
  extensions/phind-search/tsconfig.json
Labels: new extension

#8688 Toothpick: Mark `bluetoothBackend` preference as optional.
  extensions/toothpick/CHANGELOG.md
  extensions/toothpick/package.json
Labels: extension fix / improvement, extension: VladCuciureanu/toothpick

#8671 [Update] jira extension - Add comment management
  extensions/jira/CHANGELOG.md
  extensions/jira/package-lock.json
  extensions/jira/package.json
  extensions/jira/src/api/comments.ts
  extensions/jira/src/components/IssueActions.tsx
  extensions/jira/src/components/IssueCommentForm.tsx
  extensions/jira/src/components/IssueComments.tsx
  extensions/jira/src/components/IssueDetail.tsx
  extensions/jira/src/helpers/issues.ts
  extensions/jira/src/hooks/useIssueComments.ts
Labels: extension fix / improvement, extension: raycast/jira

#8735 [Obsidian] Sort search by last modified
  extensions/obsidian/CHANGELOG.md
  extensions/obsidian/src/appendTaskCommand.tsx
  extensions/obsidian/src/dailyNoteAppendCommand.tsx
  extensions/obsidian/src/utils/data/cache.tsx
  extensions/obsidian/src/utils/data/loader.tsx
  extensions/obsidian/src/utils/interfaces.tsx
Labels: extension fix / improvement, OP is author, extension: KevinBatdorf/obsidian

#8732 fix(file-manager): tilde not at beginning of path
  extensions/file-manager/.eslintrc.json
  extensions/file-manager/CHANGELOG.md
  extensions/file-manager/package-lock.json
  extensions/file-manager/package.json
  extensions/file-manager/src/components/directory-item.tsx
  extensions/file-manager/src/components/directory.tsx
  extensions/file-manager/src/components/file-item.tsx
  extensions/file-manager/src/components/symlink-item.tsx
  extensions/file-manager/src/manage-files.tsx
  extensions/file-manager/src/types.tsx
  extensions/file-manager/src/utils.tsx
  extensions/file-manager/tsconfig.json
Labels: extension fix / improvement, OP is author, extension: erics118/file-manager

#8723 Update fantastical extension
  extensions/fantastical/CHANGELOG.md
  extensions/fantastical/package-lock.json
  extensions/fantastical/package.json
  extensions/fantastical/src/default-browser-id.d.ts
  extensions/fantastical/src/fan-add-event-editable.tsx
  extensions/fantastical/src/fan-add-reminder-editable.tsx
  extensions/fantastical/src/fan-quick-add-event.tsx
  extensions/fantastical/src/fan-quick-add-reminder.tsx
Labels: extension fix / improvement, OP is author, extension: devahschaefers/fantastical

#8698 Update regex-repl extension
  extensions/regex-repl/metadata/regex-repl-1.png
  extensions/regex-repl/metadata/regex-repl-2.png
  extensions/regex-repl/metadata/regex-repl-3.png
  extensions/regex-repl/package-lock.json
  extensions/regex-repl/package.json
  extensions/regex-repl/src/create-and-test-regex.tsx
Labels: extension fix / improvement, OP is author, extension: hongkiulam/regex-repl

#8549 Update sips extension
  extensions/sips/CHANGELOG.md
  extensions/sips/package.json
  extensions/sips/src/operations/convertOperation.ts
Labels: extension fix / improvement, extension: HelloImSteven/sips

#8412 Update warp extension
  extensions/warp/CHANGELOG.md
  extensions/warp/package.json
  extensions/warp/src/open-selected-finder-item.tsx
Labels: extension fix / improvement, status: stalled, extension: warpdotdev/warp

#8593 [Update] [Wi-Fi] Add new menubar command
  extensions/wi-fi/CHANGELOG.md
  extensions/wi-fi/package-lock.json
  extensions/wi-fi/package.json
  extensions/wi-fi/src/hooks/hooks.ts
  extensions/wi-fi/src/scan-wifi.tsx
  extensions/wi-fi/src/types/preferences.ts
  extensions/wi-fi/src/utils/common-utils.ts
  extensions/wi-fi/src/utils/constants.ts
  extensions/wi-fi/src/wi-fi-signal.tsx
Labels: extension fix / improvement, OP is author, extension: koinzhang/wi-fi

#8435 Add papago-translate extension
  extensions/papago-translate/.eslintrc.json
  extensions/papago-translate/.gitignore
  extensions/papago-translate/.prettierrc
  extensions/papago-translate/CHANGELOG.md
  extensions/papago-translate/README-KO.md
  extensions/papago-translate/README.md
  extensions/papago-translate/assets/command-icon.png
  extensions/papago-translate/assets/iamge_1.png
  extensions/papago-translate/assets/image_2.png
  extensions/papago-translate/assets/image_3.png
  extensions/papago-translate/metadata/papago-translate-1.png
  extensions/papago-translate/package-lock.json
  extensions/papago-translate/package.json
  extensions/papago-translate/src/api.ts
  extensions/papago-translate/src/axiosInstance.ts
  extensions/papago-translate/src/error.ts
  extensions/papago-translate/src/index.tsx
  extensions/papago-translate/tsconfig.json
Labels: new extension

#8683 feat(deepcast): more input and output options
  extensions/deepcast/.eslintrc.json
  extensions/deepcast/.gitignore
  extensions/deepcast/CHANGELOG.md
  extensions/deepcast/package-lock.json
  extensions/deepcast/package.json
  extensions/deepcast/src/index.tsx
  extensions/deepcast/src/polish copy.ts
  extensions/deepcast/src/utils.ts
  extensions/deepcast/tsconfig.json
Labels: extension fix / improvement, extension: mooxl/deepcast

#8589 [Bugfix] [Network Speed] Fix no loading animation
  extensions/network-speed/CHANGELOG.md
  extensions/network-speed/README.md
  extensions/network-speed/package-lock.json
  extensions/network-speed/package.json
  extensions/network-speed/src/components/action-open-command-preferences.tsx
  extensions/network-speed/src/hooks/hooks.ts
  extensions/network-speed/src/test-network-speed.tsx
  extensions/network-speed/src/utils/common-util.ts
Labels: extension fix / improvement, OP is author, extension: koinzhang/network-speed

#8737 [Update] [Copy Path] Copy the URL of browser tab
  extensions/copy-path/CHANGELOG.md
  extensions/copy-path/README.md
  extensions/copy-path/package-lock.json
  extensions/copy-path/package.json
  extensions/copy-path/src/copy-path.tsx
  extensions/copy-path/src/types/preferences.ts
  extensions/copy-path/src/utils/applescript-utils.ts
  extensions/copy-path/src/utils/constants.ts
Labels: extension fix / improvement, OP is author, extension: koinzhang/copy-path

#8565 Add stablecog extension
  extensions/stablecog/.eslintrc.json
  extensions/stablecog/.gitignore
  extensions/stablecog/.prettierrc
  extensions/stablecog/CHANGELOG.md
  extensions/stablecog/README.md
  extensions/stablecog/assets/stablecog.png
  extensions/stablecog/assets/stars-512.gif
  extensions/stablecog/assets/stars-512@dark.gif
  extensions/stablecog/metadata/1-imagine.png
  extensions/stablecog/metadata/2-imagine-advanced.png
  extensions/stablecog/metadata/3-upscale.png
  extensions/stablecog/metadata/4-gallery.png
  extensions/stablecog/metadata/5-history.png
  extensions/stablecog/metadata/6-generation-details.png
  extensions/stablecog/package-lock.json
  extensions/stablecog/package.json
  extensions/stablecog/src/api/oauth.ts
  extensions/stablecog/src/components/GalleryItemActions.tsx
  extensions/stablecog/src/components/GridError.tsx
  extensions/stablecog/src/components/GridLoading.tsx
  extensions/stablecog/src/components/GridNoItemsPlaceholder.tsx
  extensions/stablecog/src/components/GridSearchingPlaceholder.tsx
  extensions/stablecog/src/components/LoadingToken.tsx
  extensions/stablecog/src/components/UpscaleOutputActions.tsx
  extensions/stablecog/src/hooks/useAuthorization.ts
  extensions/stablecog/src/hooks/useGallery.ts
  extensions/stablecog/src/hooks/useHistory.ts
  extensions/stablecog/src/imagine-advanced.tsx
  extensions/stablecog/src/imagine.tsx
  extensions/stablecog/src/search-gallery.tsx
  extensions/stablecog/src/search-your-history.tsx
  extensions/stablecog/src/ts/constants.ts
  extensions/stablecog/src/ts/errors.ts
  extensions/stablecog/src/ts/helpers.ts
  extensions/stablecog/src/ts/types.ts
  extensions/stablecog/src/upscale.tsx
  extensions/stablecog/tsconfig.json
Labels: new extension

#8623 Add network-menubar-monitor extension
  extensions/network-menubar-monitor/.eslintrc.json
  extensions/network-menubar-monitor/.gitignore
  extensions/network-menubar-monitor/.prettierrc
  extensions/network-menubar-monitor/CHANGELOG.md
  extensions/network-menubar-monitor/README.md
  extensions/network-menubar-monitor/assets/command-icon.png
  extensions/network-menubar-monitor/metadata/1-network-monitor.png
  extensions/network-menubar-monitor/package-lock.json
  extensions/network-menubar-monitor/package.json
  extensions/network-menubar-monitor/src/index.tsx
  extensions/network-menubar-monitor/src/utils.ts
  extensions/network-menubar-monitor/tsconfig.json
Labels: new extension

#8643 uuid-generator: support v7 uuids
  extensions/uuid-generator/CHANGELOG.md
  extensions/uuid-generator/package-lock.json
  extensions/uuid-generator/package.json
  extensions/uuid-generator/src/generateV7.tsx
Labels: extension fix / improvement, extension: jmaeso/uuid-generator

#8645 Update Year In Progress extension
  extensions/year-in-progress/CHANGELOG.md
  extensions/year-in-progress/package.json
  extensions/year-in-progress/src/components/AddProgressForm.tsx
  extensions/year-in-progress/src/components/ProgressActionPanel.tsx
  extensions/year-in-progress/src/components/add-or-edit-progress.tsx
  extensions/year-in-progress/src/components/progress-detail.tsx
  extensions/year-in-progress/src/hooks/index.ts
  extensions/year-in-progress/src/hooks/use-local-storage-progress.ts
  extensions/year-in-progress/src/index.tsx
  extensions/year-in-progress/src/types/index.ts
  extensions/year-in-progress/src/utils/date.ts
  extensions/year-in-progress/src/utils/icon.ts
  extensions/year-in-progress/src/utils/progress.ts
  extensions/year-in-progress/src/x-in-progress.tsx
  extensions/year-in-progress/src/year-in-progress.tsx
Labels: extension fix / improvement, extension: thomas/year-in-progress

#8749 Update stablecog extension
  .github/public_raycast_extensions.txt
  extensions/stablecog/.eslintrc.json
  extensions/stablecog/.gitignore
  extensions/stablecog/.prettierrc
  extensions/stablecog/CHANGELOG.md
  extensions/stablecog/README.md
  extensions/stablecog/assets/stablecog.png
  extensions/stablecog/assets/stars-512.gif
  extensions/stablecog/assets/stars-512@dark.gif
  extensions/stablecog/metadata/1-imagine.png
  extensions/stablecog/metadata/2-imagine-advanced.png
  extensions/stablecog/metadata/3-upscale.png
  extensions/stablecog/metadata/4-gallery.png
  extensions/stablecog/metadata/5-history.png
  extensions/stablecog/metadata/6-generation-details.png
  extensions/stablecog/package-lock.json
  extensions/stablecog/package.json
  extensions/stablecog/src/api/oauth.ts
  extensions/stablecog/src/components/GalleryItemActions.tsx
  extensions/stablecog/src/components/GridError.tsx
  extensions/stablecog/src/components/GridLoading.tsx
  extensions/stablecog/src/components/GridNoItemsPlaceholder.tsx
  extensions/stablecog/src/components/GridSearchingPlaceholder.tsx
  extensions/stablecog/src/components/LoadingToken.tsx
  extensions/stablecog/src/components/UpscaleOutputActions.tsx
  extensions/stablecog/src/hooks/useAuthorization.ts
  extensions/stablecog/src/hooks/useGallery.ts
  extensions/stablecog/src/hooks/useHistory.ts
  extensions/stablecog/src/imagine-advanced.tsx
  extensions/stablecog/src/imagine.tsx
  extensions/stablecog/src/search-gallery.tsx
  extensions/stablecog/src/search-your-history.tsx
  extensions/stablecog/src/ts/constants.ts
  extensions/stablecog/src/ts/errors.ts
  extensions/stablecog/src/ts/helpers.ts
  extensions/stablecog/src/ts/types.ts
  extensions/stablecog/src/upscale.tsx
  extensions/stablecog/tsconfig.json
Labels: new extension

#8750 Spotify Extension: support deeplink context
  extensions/spotify-player/src/search.tsx
Labels: extension fix / improvement, OP is contributor, extension: mattisssa/spotify-player

#8757 Update stablecog extension
  extensions/stablecog/src/hooks/useAuthorization.ts
  extensions/stablecog/src/imagine.tsx
Labels: extension fix / improvement, OP is author, extension: stablecog/stablecog

#8644 search & Filter improvements for Figma File search
  extensions/figma-files/CHANGELOG.md
  extensions/figma-files/README.md
  extensions/figma-files/src/components/FileGridItem.tsx
  extensions/figma-files/src/hooks/usePages.ts
  extensions/figma-files/src/index.tsx
  extensions/figma-files/src/menu-bar.tsx
Labels: extension fix / improvement, OP is contributor, extension: michaelschultz/figma-files-raycast-ext…

#8648 Update Apple Music extension for newly renamed "favorite" functionality
  extensions/music/CHANGELOG.md
  extensions/music/package.json
  extensions/music/src/favorite-and-add-to-library.tsx
  extensions/music/src/favorite.tsx
  extensions/music/src/util/scripts/current-track.ts
Labels: extension fix / improvement, status: awaiting response from dev, extension: fedevitaledev/music

#8637 Update waktu-solat extension
  extensions/waktu-solat/CHANGELOG.md
  extensions/waktu-solat/package-lock.json
  extensions/waktu-solat/package.json
  extensions/waktu-solat/src/index.tsx
  extensions/waktu-solat/src/menu-bar.tsx
Labels: extension fix / improvement, extension: msms/waktu-solat

#8653 Update ligue-1 extension
  extensions/ligue-1/CHANGELOG.md
  extensions/ligue-1/package.json
  extensions/ligue-1/src/api/index.ts
  extensions/ligue-1/src/components/season_dropdown.tsx
  extensions/ligue-1/src/table.tsx
Labels: extension fix / improvement, extension: anhthang/ligue-1

#8695 Update reclaim-ai extension
  extensions/reclaim-ai/CHANGELOG.md
  extensions/reclaim-ai/package.json
  extensions/reclaim-ai/src/hooks/useEvent.tsx
  extensions/reclaim-ai/src/notifications.tsx
  extensions/reclaim-ai/src/types/account.ts
  extensions/reclaim-ai/src/utils/events.ts
Labels: extension fix / improvement, extension: reclaim-ai/reclaim-ai

#8718 Update xcode extension
  extensions/xcode/CHANGELOG.md
  extensions/xcode/package.json
  extensions/xcode/src/components/xcode-simulator-application-list/xcode-simulator-application-list-item.component.tsx
  extensions/xcode/src/components/xcode-simulator-application-list/xcode-simulator-application-list-push-notifications.tsx
  extensions/xcode/src/components/xcode-simulator-list/xcode-simulator-list-item.component.tsx
  extensions/xcode/src/components/xcode-simulator-list/xcode-simulator-rename-form.component.tsx
  extensions/xcode/src/models/xcode-simulator/xcode-simulator-application.model.ts
  extensions/xcode/src/services/xcode-simulator-application.service.ts
  extensions/xcode/src/services/xcode-simulator.service.ts
Labels: extension fix / improvement, extension: SvenTiigi/xcode

#8701 Add mynaui-icons extension
  extensions/mynaui-icons/.eslintrc.json
  extensions/mynaui-icons/.gitignore
  extensions/mynaui-icons/.prettierrc
  extensions/mynaui-icons/CHANGELOG.md
  extensions/mynaui-icons/README.md
  extensions/mynaui-icons/assets/command-icon.png
  extensions/mynaui-icons/metadata/mynaui-icons-1.png
  extensions/mynaui-icons/package-lock.json
  extensions/mynaui-icons/package.json
  extensions/mynaui-icons/src/index.tsx
  extensions/mynaui-icons/tsconfig.json
Labels: new extension

#8721 Add fluctuation extension
  extensions/fluctuation/.eslintrc.json
  extensions/fluctuation/.gitignore
  extensions/fluctuation/.prettierrc
  extensions/fluctuation/CHANGELOG.md
  extensions/fluctuation/README.md
  extensions/fluctuation/assets/wave.png
  extensions/fluctuation/assets/wave@dark.png
  extensions/fluctuation/metadata/fluctuation-1.png
  extensions/fluctuation/package-lock.json
  extensions/fluctuation/package.json
  extensions/fluctuation/src/ratio.tsx
  extensions/fluctuation/tsconfig.json
Labels: new extension

#8199 [notion] Prefill `Create Database Page` with deeplinks
  extensions/notion/CHANGELOG.md
  extensions/notion/package.json
  extensions/notion/src/components/DatabaseList.tsx
  extensions/notion/src/components/DatabaseView.tsx
  extensions/notion/src/components/PageDetail.tsx
  extensions/notion/src/components/PageListItem.tsx
  extensions/notion/src/components/actions/ActionCreateQuicklink.tsx
  extensions/notion/src/components/actions/ActionEditPageProperty.tsx
  extensions/notion/src/components/actions/ActionSetVisibleProperties.tsx
  extensions/notion/src/components/forms/AppendToPageForm.tsx
  extensions/notion/src/components/forms/CreateDatabaseForm.tsx
  extensions/notion/src/components/forms/CreatePageForm.tsx
  extensions/notion/src/components/forms/DatabaseViewForm.tsx
  extensions/notion/src/components/forms/PagePropertyField.tsx
  extensions/notion/src/components/forms/index.ts
  extensions/notion/src/components/index.tsx
  extensions/notion/src/create-database-page.tsx
  extensions/notion/src/hooks/index.ts
  extensions/notion/src/utils/notion.ts
  extensions/notion/src/utils/notion/authorize.ts
  extensions/notion/src/utils/notion/database/index.ts
  extensions/notion/src/utils/notion/database/property.ts
  extensions/notion/src/utils/notion/global.ts
  extensions/notion/src/utils/notion/index.ts
  extensions/notion/src/utils/notion/page.ts
  extensions/notion/src/utils/notion/user.ts
  extensions/notion/src/utils/openPage.ts
  extensions/notion/src/utils/types.ts
Labels: extension fix / improvement, extension: notion, extension: notion/notion

#8714 Update reclaim-ai extension
  extensions/reclaim-ai/src/hooks/useEvent.tsx
  extensions/reclaim-ai/src/join-meeting.tsx
  extensions/reclaim-ai/src/notifications.tsx
Labels: extension fix / improvement, OP is contributor, extension: reclaim-ai/reclaim-ai

#8777 Update http-status-codes extension
  extensions/http-status-codes/.eslintrc.json
  extensions/http-status-codes/.gitignore
  extensions/http-status-codes/CHANGELOG.md
  extensions/http-status-codes/metadata/http-status-codes-01.png
  extensions/http-status-codes/metadata/http-status-codes-02.png
  extensions/http-status-codes/metadata/http-status-codes-1.png
  extensions/http-status-codes/package-lock.json
  extensions/http-status-codes/package.json
  extensions/http-status-codes/src/index.tsx
  extensions/http-status-codes/tsconfig.json
Labels: extension fix / improvement, extension: Alex_/http-status-codes

#8785 Update open-in-android-studio extension
  extensions/open-in-android-studio/CHANGELOG.md
  extensions/open-in-android-studio/src/common/util.ts
  extensions/open-in-android-studio/src/index.tsx
  extensions/open-in-android-studio/src/show-favorite-projects.tsx
Labels: extension fix / improvement, OP is author, extension: 3llomi/open-in-android-studio

#8719 Add midjourney extension
  extensions/midjourney/.eslintrc.json
  extensions/midjourney/.gitignore
  extensions/midjourney/.prettierrc
  extensions/midjourney/CHANGELOG.md
  extensions/midjourney/README.md
  extensions/midjourney/assets/extension_icon.png
  extensions/midjourney/assets/loading-square.gif
  extensions/midjourney/metadata/midjourney-1.png
  extensions/midjourney/metadata/midjourney-2.png
  extensions/midjourney/metadata/midjourney-3.png
  extensions/midjourney/metadata/midjourney-4.png
  extensions/midjourney/metadata/midjourney-5.png
  extensions/midjourney/metadata/midjourney-6.png
  extensions/midjourney/package-lock.json
  extensions/midjourney/package.json
  extensions/midjourney/src/components/Actions.tsx
  extensions/midjourney/src/components/ErrorPanel.tsx
  extensions/midjourney/src/components/GenerationDetails.tsx
  extensions/midjourney/src/contexts/GenerationContext.tsx
  extensions/midjourney/src/contexts/SelectedGenerationContext.tsx
  extensions/midjourney/src/details.tsx
  extensions/midjourney/src/hooks/useGenerationList.ts
  extensions/midjourney/src/hooks/useRefetchGenerations.ts
  extensions/midjourney/src/imagine.tsx
  extensions/midjourney/src/index.tsx
  extensions/midjourney/src/lib/client.ts
  extensions/midjourney/src/lib/copyFileToClipboard.ts
  extensions/midjourney/src/lib/fetch.ts
  extensions/midjourney/src/lib/findGeneration.ts
  extensions/midjourney/src/lib/saveImage.ts
  extensions/midjourney/src/lib/utils.ts
  extensions/midjourney/src/types.ts
  extensions/midjourney/tsconfig.json
Labels: new extension

#8812 [Gitlab] Fix crashes
  extensions/gitlab/.gitignore
  extensions/gitlab/CHANGELOG.md
  extensions/gitlab/package-lock.json
  extensions/gitlab/package.json
  extensions/gitlab/src/common.ts
  extensions/gitlab/src/components/label.tsx
  extensions/gitlab/src/components/menu.tsx
  extensions/gitlab/src/components/todo.tsx
  extensions/gitlab/src/gitlabapi.ts
  extensions/gitlab/src/issuemenu.tsx
  extensions/gitlab/src/mrmenu.tsx
  extensions/gitlab/src/todomenubar.tsx
  extensions/gitlab/tsconfig.json
Labels: extension fix / improvement, OP is author, extension: tonka3000/gitlab

#8808 [Weather] Fix area title when region is not present
  extensions/weather/CHANGELOG.md
  extensions/weather/package-lock.json
  extensions/weather/package.json
  extensions/weather/src/components/weather.tsx
Labels: extension fix / improvement, OP is author, extension: tonka3000/weather

#8796 Update tailwindcss extension
  extensions/tailwindcss/.gitignore
  extensions/tailwindcss/changelog.md
  extensions/tailwindcss/package.json
  extensions/tailwindcss/src/search-colors.tsx
Labels: extension fix / improvement, extension: vimtor/tailwindcss

#8809 Update conventional-commits extension
  extensions/conventional-commits/CHANGELOG.md
  extensions/conventional-commits/README.md
  extensions/conventional-commits/metadata/conventional-commits-1.png
  extensions/conventional-commits/metadata/conventional-commits-2.png
  extensions/conventional-commits/package-lock.json
  extensions/conventional-commits/package.json
  extensions/conventional-commits/screenshots/cc-screenshot-2.png
  extensions/conventional-commits/screenshots/cc-screenshot.png
  extensions/conventional-commits/src/commit-message-structure.tsx
  extensions/conventional-commits/src/index.tsx
Labels: extension fix / improvement, OP is author, extension: niemtec/conventional-commits

#8802 Rename command
  extensions/authy/CHANGELOG.md
  extensions/authy/assets/command-icon.png
  extensions/authy/package-lock.json
  extensions/authy/package.json
  extensions/authy/src/component/LoginForm.tsx
  extensions/authy/src/component/OtpList.tsx
Labels: extension fix / improvement, OP is author, OP is contributor, extension: guga4ka/authy

#8797 feat: Mapped Galaxy Buds+ and some QoL changes
  extensions/toothpick/CHANGELOG.md
  extensions/toothpick/assets/icons/devices/bose/connected/nch.700.svg
  extensions/toothpick/assets/icons/devices/bose/nch.700.svg
  extensions/toothpick/assets/icons/devices/samsung/connected/galaxy.buds.plus.svg
  extensions/toothpick/assets/icons/devices/samsung/galaxy.buds.plus.svg
  extensions/toothpick/package.json
  extensions/toothpick/src/core/devices/constants/specifications/samsung.ts
  extensions/toothpick/src/core/devices/devices.service.blueutil.ts
Labels: extension fix / improvement, OP is author, extension: VladCuciureanu/toothpick

#8410 Add raycast-urbandictionary-word-of-the-day extension
  extensions/raycast-urbandictionary-word-of-the-day/.eslintrc.json
  extensions/raycast-urbandictionary-word-of-the-day/.gitattributes
  extensions/raycast-urbandictionary-word-of-the-day/.gitignore
  extensions/raycast-urbandictionary-word-of-the-day/.prettierrc
  extensions/raycast-urbandictionary-word-of-the-day/CHANGELOG.md
  extensions/raycast-urbandictionary-word-of-the-day/README.md
  extensions/raycast-urbandictionary-word-of-the-day/assets/command-icon.png
  extensions/raycast-urbandictionary-word-of-the-day/metadata/raycast-urbandictionary-word-of-the-day-1.png
  extensions/raycast-urbandictionary-word-of-the-day/metadata/raycast-urbandictionary-word-of-the-day-2.png
  extensions/raycast-urbandictionary-word-of-the-day/package-lock.json
  extensions/raycast-urbandictionary-word-of-the-day/package.json
  extensions/raycast-urbandictionary-word-of-the-day/src/define-word-of-the-day.tsx
  extensions/raycast-urbandictionary-word-of-the-day/src/random-word.tsx
  extensions/raycast-urbandictionary-word-of-the-day/src/word-of-the-day.tsx
  extensions/raycast-urbandictionary-word-of-the-day/tsconfig.json
Labels: new extension

#8508 feat(google-chrome-profiles): support quicklinks
  extensions/google-chrome-profiles/.eslintrc.json
  extensions/google-chrome-profiles/.gitignore
  extensions/google-chrome-profiles/.nvmrc
  extensions/google-chrome-profiles/CHANGELOG.md
  extensions/google-chrome-profiles/package-lock.json
  extensions/google-chrome-profiles/package.json
  extensions/google-chrome-profiles/src/index.tsx
  extensions/google-chrome-profiles/src/util/preferences.ts
  extensions/google-chrome-profiles/tsconfig.json
Labels: extension fix / improvement, extension: frouo/google-chrome-profiles

#8499 Add tyme-3-time-tracker extension
  extensions/tyme-3-time-tracker/.eslintrc.json
  extensions/tyme-3-time-tracker/.gitignore
  extensions/tyme-3-time-tracker/.prettierrc
  extensions/tyme-3-time-tracker/CHANGELOG.md
  extensions/tyme-3-time-tracker/README.md
  extensions/tyme-3-time-tracker/assets/command-icon.png
  extensions/tyme-3-time-tracker/files/command-icon.svg
  extensions/tyme-3-time-tracker/metadata/tyme-3-time-tracker-1.png
  extensions/tyme-3-time-tracker/package-lock.json
  extensions/tyme-3-time-tracker/package.json
  extensions/tyme-3-time-tracker/src/start-task-tracking.tsx
  extensions/tyme-3-time-tracker/src/stop-task-tracking.tsx
  extensions/tyme-3-time-tracker/src/tasks.ts
  extensions/tyme-3-time-tracker/tsconfig.json
Labels: new extension

#8555 Add commit-message-generator extension
  extensions/commit-message-generator/.eslintrc.json
  extensions/commit-message-generator/.gitignore
  extensions/commit-message-generator/.prettierrc
  extensions/commit-message-generator/CHANGELOG.md
  extensions/commit-message-generator/README.md
  extensions/commit-message-generator/assets/extension-icon.png
  extensions/commit-message-generator/package-lock.json
  extensions/commit-message-generator/package.json
  extensions/commit-message-generator/src/generate-random-commit-message.tsx
  extensions/commit-message-generator/tsconfig.json
Labels: new extension

#8553 Add display-modes extension
  extensions/display-modes/.eslintrc.json
  extensions/display-modes/.gitignore
  extensions/display-modes/.prettierrc
  extensions/display-modes/.swiftpm/xcode/xcshareddata/xcschemes/display-modes-Package.xcscheme
  extensions/display-modes/.swiftpm/xcode/xcshareddata/xcschemes/display-modes.xcscheme
  extensions/display-modes/CHANGELOG.md
  extensions/display-modes/Package.resolved
  extensions/display-modes/Package.swift
  extensions/display-modes/README.md
  extensions/display-modes/Sources/display-modes/CGDisplayManager.swift
  extensions/display-modes/Sources/display-modes/DisplayManager.swift
  extensions/display-modes/Sources/display-modes/Models.swift
  extensions/display-modes/Sources/display-modes/main.swift
  extensions/display-modes/assets/command-icon.png
  extensions/display-modes/assets/display-icon.png
  extensions/display-modes/assets/display-modes
  extensions/display-modes/assets/mode-icon.png
  extensions/display-modes/assets/selected-mode-icon.png
  extensions/display-modes/metadata/display-modes-1.png
  extensions/display-modes/metadata/display-modes-2.png
  extensions/display-modes/package-lock.json
  extensions/display-modes/package.json
  extensions/display-modes/src/index.tsx
  extensions/display-modes/src/types.ts
  extensions/display-modes/src/utils.ts
  extensions/display-modes/tsconfig.json
Labels: new extension

#8587 [Update] [World Clock] Add memo icon
  extensions/world-clock/CHANGELOG.md
  extensions/world-clock/package-lock.json
  extensions/world-clock/package.json
  extensions/world-clock/src/components/action-on-starred-timezone.tsx
  extensions/world-clock/src/components/action-on-timezone.tsx
  extensions/world-clock/src/components/action-open-command-preferences.tsx
  extensions/world-clock/src/components/time-info-detail.tsx
  extensions/world-clock/src/components/time-zone-grid-item.tsx
  extensions/world-clock/src/components/time-zone-list-item.tsx
Labels: extension fix / improvement, OP is author, extension: koinzhang/world-clock

#8564 Add prisma-cli-commands extension
  extensions/prisma-cli-commands/.eslintrc.json
  extensions/prisma-cli-commands/.gitignore
  extensions/prisma-cli-commands/.prettierrc
  extensions/prisma-cli-commands/CHANGELOG.md
  extensions/prisma-cli-commands/README.md
  extensions/prisma-cli-commands/assets/prisma-logo.png
  extensions/prisma-cli-commands/assets/prisma-logo@dark.png
  extensions/prisma-cli-commands/metadata/prisma-cli-commands-1.png
  extensions/prisma-cli-commands/metadata/prisma-cli-commands-2.png
  extensions/prisma-cli-commands/metadata/prisma-cli-commands-3.png
  extensions/prisma-cli-commands/package-lock.json
  extensions/prisma-cli-commands/package.json
  extensions/prisma-cli-commands/src/data/details.ts
  extensions/prisma-cli-commands/src/data/index.ts
  extensions/prisma-cli-commands/src/index.tsx
  extensions/prisma-cli-commands/src/types.ts
  extensions/prisma-cli-commands/tsconfig.json
Labels: new extension

#8668 feat(change-case): support unicode stuff
  extensions/change-case/.eslintrc.json
  extensions/change-case/.gitignore
  extensions/change-case/.prettierignore
  extensions/change-case/CHANGELOG.md
  extensions/change-case/package-lock.json
  extensions/change-case/package.json
  extensions/change-case/packages/change-case/index.d.ts
  extensions/change-case/packages/change-case/index.js
  extensions/change-case/packages/sponge-case/index.d.ts
  extensions/change-case/packages/sponge-case/index.js
  extensions/change-case/packages/swap-case/index.d.ts
  extensions/change-case/packages/swap-case/index.js
  extensions/change-case/packages/title-case/index.d.ts
  extensions/change-case/packages/title-case/index.js
  extensions/change-case/src/change-case.tsx
  extensions/change-case/src/types.tsx
  extensions/change-case/tsconfig.json
Labels: extension fix / improvement, OP is author, OP is contributor, extension: erics118/change-case

#8727 Add jalali-date-convertor extension
  extensions/jalali-date-convertor/.eslintrc.json
  extensions/jalali-date-convertor/.gitignore
  extensions/jalali-date-convertor/.prettierrc
  extensions/jalali-date-convertor/CHANGELOG.md
  extensions/jalali-date-convertor/README.md
  extensions/jalali-date-convertor/assets/command-icon.png
  extensions/jalali-date-convertor/metadata/jalali-date-convertor-1.png
  extensions/jalali-date-convertor/metadata/jalali-date-convertor-2.png
  extensions/jalali-date-convertor/metadata/jalali-date-convertor-3.png
  extensions/jalali-date-convertor/package-lock.json
  extensions/jalali-date-convertor/package.json
  extensions/jalali-date-convertor/src/ResultView.tsx
  extensions/jalali-date-convertor/src/convertor.ts
  extensions/jalali-date-convertor/src/index.tsx
  extensions/jalali-date-convertor/tsconfig.json
Labels: new extension

#8761 Update material-icons extension
  extensions/material-icons/.gitignore
  extensions/material-icons/CHANGELOG.md
  extensions/material-icons/package-lock.json
  extensions/material-icons/package.json
  extensions/material-icons/src/download-form.tsx
  extensions/material-icons/src/index.tsx
  extensions/material-icons/src/types.ts
Labels: extension fix / improvement, extension: creasty/material-icons

#8766 Update android extension
  extensions/android/.eslintrc.json
  extensions/android/.gitignore
  extensions/android/CHANGELOG.md
  extensions/android/package-lock.json
  extensions/android/package.json
  extensions/android/src/components/emitTextForm.tsx
  extensions/android/src/components/setBatteryPercentageForm.tsx
  extensions/android/src/components/setNetworkSpeedForm.tsx
  extensions/android/src/components/simulateCallForm.tsx
  extensions/android/src/components/simulateFingerprintForm.tsx
  extensions/android/src/components/simulateSMSForm.tsx
  extensions/android/src/list-android.tsx
  extensions/android/src/list-emulators.tsx
  extensions/android/src/types/Emulator.ts
  extensions/android/src/util/emulatorUtil.ts
  extensions/android/src/util/utils.ts
  extensions/android/tsconfig.json
Labels: extension fix / improvement, extension: mibrahimdev/android

#8825 [Urgent Fix] Update JustWatch API to use GraphQL instead of REST
  extensions/justwatch-search/CHANGELOG.md
  extensions/justwatch-search/package-lock.json
  extensions/justwatch-search/package.json
  extensions/justwatch-search/src/api.ts
  extensions/justwatch-search/src/graphQL.ts
  extensions/justwatch-search/src/search-justwatch.tsx
  extensions/justwatch-search/src/types.ts
Labels: extension fix / improvement, OP is author, extension: rishabswift/search-justwatch

#8739 [Flight Miles Calculator] new extension
  extensions/flight-miles-calculator/.eslintrc.json
  extensions/flight-miles-calculator/.gitignore
  extensions/flight-miles-calculator/.prettierrc
  extensions/flight-miles-calculator/CHANGELOG.md
  extensions/flight-miles-calculator/LICENSE
  extensions/flight-miles-calculator/README.md
  extensions/flight-miles-calculator/assets/extension_icon.png
  extensions/flight-miles-calculator/metadata/flight-miles-calculator-1.png
  extensions/flight-miles-calculator/metadata/flight-miles-calculator-2.png
  extensions/flight-miles-calculator/package-lock.json
  extensions/flight-miles-calculator/package.json
  extensions/flight-miles-calculator/src/components/AirportDropDownView.tsx
  extensions/flight-miles-calculator/src/components/ResultView.tsx
  extensions/flight-miles-calculator/src/components/SelectionFormView.tsx
  extensions/flight-miles-calculator/src/index.tsx
  extensions/flight-miles-calculator/src/ressources/countryList.ts
  extensions/flight-miles-calculator/src/ressources/milesValues.ts
  extensions/flight-miles-calculator/src/ressources/ressourceUrl.ts
  extensions/flight-miles-calculator/src/types/Airport.ts
  extensions/flight-miles-calculator/src/types/ApiResponse.ts
  extensions/flight-miles-calculator/src/utils/calculateDistance.ts
  extensions/flight-miles-calculator/src/utils/degToRad.ts
  extensions/flight-miles-calculator/tsconfig.json
Labels: new extension

#8697 feat(mute-microphone): toast implementation
  extensions/mute-microphone/CHANGELOG.md
  extensions/mute-microphone/package-lock.json
  extensions/mute-microphone/package.json
  extensions/mute-microphone/src/shared/utils.ts
  extensions/mute-microphone/src/toggle-mute.tsx
Labels: extension fix / improvement, extension: Quentin23Soleil/mute-microphone

#8765 Add ratio-calculator extension
  extensions/ratio-calculator/.eslintrc.json
  extensions/ratio-calculator/.gitignore
  extensions/ratio-calculator/.prettierrc
  extensions/ratio-calculator/CHANGELOG.md
  extensions/ratio-calculator/README.md
  extensions/ratio-calculator/assets/icon.png
  extensions/ratio-calculator/metadata/ratio-calculator-1.png
  extensions/ratio-calculator/metadata/ratio-calculator-2.png
  extensions/ratio-calculator/metadata/ratio-calculator-3.png
  extensions/ratio-calculator/metadata/ratio-calculator-4.png
  extensions/ratio-calculator/metadata/ratio-calculator-5.png
  extensions/ratio-calculator/package-lock.json
  extensions/ratio-calculator/package.json
  extensions/ratio-calculator/src/calculate-ratio.jsx
  extensions/ratio-calculator/tsconfig.json
Labels: new extension

#8843 [pipe-commands] feat: add tab to newline command
  extensions/pipe-commands/CHANGELOG.md
  extensions/pipe-commands/assets/commands/text/convert-tab-to-newline.sh
Labels: extension fix / improvement, extension: pomdtr/pipe-commands

#8834 [Git Repos] Bug fix, resolves #8829
  extensions/git-repos/.gitignore
  extensions/git-repos/CHANGELOG.md
  extensions/git-repos/package-lock.json
  extensions/git-repos/package.json
  extensions/git-repos/src/utils.tsx
  extensions/git-repos/tsconfig.json
Labels: extension fix / improvement, OP is author, extension: moored/git-repos

#8782 [Music]: Added macOS version checks
  extensions/music/CHANGELOG.md
  extensions/music/package-lock.json
  extensions/music/package.json
  extensions/music/src/favorite-and-add-to-library.tsx
  extensions/music/src/util/exec.ts
  extensions/music/src/util/get-macos-version.ts
  extensions/music/src/util/scripts/current-track.ts
Labels: extension fix / improvement, extension: fedevitaledev/music

#8849 feat: year progress add copy to clipboard
  extensions/year-in-progress/CHANGELOG.md
  extensions/year-in-progress/src/x-in-progress.tsx
Labels: extension fix / improvement, extension: thomas/year-in-progress

#8851 Feature/hue add plug icon
  extensions/hue/CHANGELOG.md
  extensions/hue/assets/icons/plug.png
  extensions/hue/package-lock.json
  extensions/hue/package.json
Labels: extension fix / improvement, OP is author, extension: pindab0ter/hue

#8664 Add fotmob extension
  extensions/fotmob/.eslintrc.json
  extensions/fotmob/.gitignore
  extensions/fotmob/.prettierrc
  extensions/fotmob/.vscode/settings.json
  extensions/fotmob/CHANGELOG.md
  extensions/fotmob/README.md
  extensions/fotmob/assets/command-icon.png
  extensions/fotmob/metadata/football-1.png
  extensions/fotmob/metadata/fotmob-1.png
  extensions/fotmob/metadata/fotmob-2.png
  extensions/fotmob/metadata/fotmob-3.png
  extensions/fotmob/metadata/fotmob-4.png
  extensions/fotmob/metadata/fotmob-5.png
  extensions/fotmob/metadata/fotmob-6.png
  extensions/fotmob/metadata/fotmob-7.png
  extensions/fotmob/package-lock.json
  extensions/fotmob/package.json
  extensions/fotmob/src/favorite.tsx
  extensions/fotmob/src/matchday.tsx
  extensions/fotmob/src/services/useFavorite.ts
  extensions/fotmob/src/services/useMatchDay.ts
  extensions/fotmob/src/services/useSearch.ts
  extensions/fotmob/src/services/useTeamDetail.ts
  extensions/fotmob/src/services/useTeamFixture.ts
  extensions/fotmob/src/storages/index.ts
  extensions/fotmob/src/storages/schema.ts
  extensions/fotmob/src/storages/types/index.d.ts
  extensions/fotmob/src/team.tsx
  extensions/fotmob/src/types/match-day/index.d.ts
  extensions/fotmob/src/types/search/index.d.ts
  extensions/fotmob/src/types/team-detail/index.d.ts
  extensions/fotmob/src/utils/date.ts
  extensions/fotmob/src/utils/item-accessories/favoriteAccessory.ts
  extensions/fotmob/src/utils/launcher/launchTeamDetailCommand.ts
  extensions/fotmob/src/utils/url-builder.ts
  extensions/fotmob/src/views/common/MatchItem.tsx
  extensions/fotmob/src/views/favorite/FavoriteView.tsx
  extensions/fotmob/src/views/matchday/LeagueDropdown.tsx
  extensions/fotmob/src/views/matchday/MatchdayView.tsx
  extensions/fotmob/src/views/search/SearchHistory.tsx
  extensions/fotmob/src/views/search/SearchView.tsx
  extensions/fotmob/src/views/team/TeamView.tsx
  extensions/fotmob/tsconfig.json
Labels: new extension

#8726 Add Zipcodebase extension
  extensions/zipcodebase/.eslintrc.json
  extensions/zipcodebase/.gitignore
  extensions/zipcodebase/.prettierrc
  extensions/zipcodebase/CHANGELOG.md
  extensions/zipcodebase/README.md
  extensions/zipcodebase/assets/zipcodebase.png
  extensions/zipcodebase/metadata/zipcodebase-1-get-states-by-country.png
  extensions/zipcodebase/metadata/zipcodebase-2-get-postal-code-information.png
  extensions/zipcodebase/metadata/zipcodebase-3-get-postal-codes-within-radius.png
  extensions/zipcodebase/metadata/zipcodebase-4-get-postal-codes-by-city.png
  extensions/zipcodebase/metadata/zipcodebase-5-get-postal-code-distance.png
  extensions/zipcodebase/metadata/zipcodebase-6-get-remaining-requests.png
  extensions/zipcodebase/package-lock.json
  extensions/zipcodebase/package.json
  extensions/zipcodebase/src/components/ErrorComponent.tsx
  extensions/zipcodebase/src/get-postal-code-distance.tsx
  extensions/zipcodebase/src/get-postal-code-location-information.tsx
  extensions/zipcodebase/src/get-postal-codes-by-city.tsx
  extensions/zipcodebase/src/get-postal-codes-by-state.tsx
  extensions/zipcodebase/src/get-postal-codes-within-distance.tsx
  extensions/zipcodebase/src/get-postal-codes-within-radius.tsx
  extensions/zipcodebase/src/get-remaining-requests.tsx
  extensions/zipcodebase/src/get-states-by-country.tsx
  extensions/zipcodebase/src/utils/api.ts
  extensions/zipcodebase/src/utils/constants.ts
  extensions/zipcodebase/src/utils/types.ts
  extensions/zipcodebase/tsconfig.json
Labels: new extension

#8708 Add search-astro-docs extension
  extensions/search-astro-docs/.eslintrc.json
  extensions/search-astro-docs/.gitignore
  extensions/search-astro-docs/.prettierrc
  extensions/search-astro-docs/CHANGELOG.md
  extensions/search-astro-docs/README.md
  extensions/search-astro-docs/assets/astro-search-icon.png
  extensions/search-astro-docs/metadata/search-astro-docs-1.png
  extensions/search-astro-docs/package-lock.json
  extensions/search-astro-docs/package.json
  extensions/search-astro-docs/src/data/docs.ts
  extensions/search-astro-docs/src/index.tsx
  extensions/search-astro-docs/src/types/types.ts
  extensions/search-astro-docs/tsconfig.json
Labels: new extension

#8783 Add installed-extensions extension
  extensions/installed-extensions/.eslintrc.json
  extensions/installed-extensions/.gitignore
  extensions/installed-extensions/.prettierrc
  extensions/installed-extensions/CHANGELOG.md
  extensions/installed-extensions/README.md
  extensions/installed-extensions/assets/extension-icon.png
  extensions/installed-extensions/assets/noview.png
  extensions/installed-extensions/metadata/installed-extensions-1.png
  extensions/installed-extensions/metadata/installed-extensions-2.png
  extensions/installed-extensions/package-lock.json
  extensions/installed-extensions/package.json
  extensions/installed-extensions/src/constants.ts
  extensions/installed-extensions/src/index.tsx
  extensions/installed-extensions/src/types.ts
  extensions/installed-extensions/src/utils.ts
  extensions/installed-extensions/tsconfig.json
Labels: new extension

#8861 Fix: Catch error thrown when dispatch is undefined
  extensions/gif-search/CHANGELOG.md
  extensions/gif-search/src/components/GifActions.tsx
Labels: extension fix / improvement, OP is author, extension: josephschmitt/gif-search

#8853 Update whois extension
  extensions/whois/CHANGELOG.md
  extensions/whois/package.json
  extensions/whois/raycast-env.d.ts
  extensions/whois/src/whois.tsx
Labels: extension fix / improvement, extension: zavbala/whois

#8868 [LastPass] Fix misleading action message
  extensions/lastpass/CHANGELOG.md
  extensions/lastpass/src/components/listItem.tsx
  extensions/lastpass/src/index.tsx
Labels: extension fix / improvement, OP is author, extension: alex-popov-tech/lastpass

#8867 feat(change-case): use ESM
  extensions/change-case/.eslintrc.json
  extensions/change-case/.gitignore
  extensions/change-case/.prettierignore
  extensions/change-case/CHANGELOG.md
  extensions/change-case/package-lock.json
  extensions/change-case/package.json
  extensions/change-case/packages/change-case/index.d.ts
  extensions/change-case/packages/change-case/index.js
  extensions/change-case/packages/sponge-case/index.d.ts
  extensions/change-case/packages/sponge-case/index.js
  extensions/change-case/packages/swap-case/index.d.ts
  extensions/change-case/packages/swap-case/index.js
  extensions/change-case/packages/title-case/index.d.ts
  extensions/change-case/packages/title-case/index.js
  extensions/change-case/src/types.tsx
  extensions/change-case/tsconfig.json
Labels: extension fix / improvement, OP is author, extension: erics118/change-case

#8814 Create UTM campaign builder extension
  extensions/utm-campaign-builder/.eslintrc.json
  extensions/utm-campaign-builder/.gitignore
  extensions/utm-campaign-builder/.prettierrc
  extensions/utm-campaign-builder/CHANGELOG.md
  extensions/utm-campaign-builder/README.md
  extensions/utm-campaign-builder/assets/icon.png
  extensions/utm-campaign-builder/metadata/utm-campaign-builder-1.png
  extensions/utm-campaign-builder/package-lock.json
  extensions/utm-campaign-builder/package.json
  extensions/utm-campaign-builder/src/index.tsx
  extensions/utm-campaign-builder/tsconfig.json
Labels: new extension

#8874 [Git Repos] Bug fix and enhancement, #8858 and #8866
  extensions/git-repos/CHANGELOG.md
  extensions/git-repos/package.json
  extensions/git-repos/src/list.tsx
  extensions/git-repos/src/utils.tsx
Labels: extension fix / improvement, extension: moored/git-repos

#8880 [idonthavespotify] feature: API schema updates
  extensions/idonthavespotify/CHANGELOG.md
  extensions/idonthavespotify/src/@types/global.ts
  extensions/idonthavespotify/src/constants/index.ts
  extensions/idonthavespotify/src/search.tsx
Labels: extension fix / improvement, OP is author, extension: sjdonado/idonthavespotify

#8891 [KeepassXC] Optimize performance & Add Open URL Action
  extensions/keepassxc/CHANGELOG.md
  extensions/keepassxc/README.md
  extensions/keepassxc/package-lock.json
  extensions/keepassxc/package.json
  extensions/keepassxc/src/index.tsx
  extensions/keepassxc/src/utils/keepassLoader.ts
Labels: extension fix / improvement, OP is author, extension: zkytech/keepassxc

#8898 Quicklinks and CUID support for Random Data Generator
  extensions/random-data-generator/CHANGELOG.md
  extensions/random-data-generator/package-lock.json
  extensions/random-data-generator/package.json
  extensions/random-data-generator/src/faker.ts
  extensions/random-data-generator/src/index.tsx
  extensions/random-data-generator/src/open-quicklink.ts
Labels: extension fix / improvement, extension: loris/random

#8907 Update quit-applications extension
  extensions/quit-applications/.eslintrc.json
  extensions/quit-applications/.gitignore
  extensions/quit-applications/CHANGELOG.md
  extensions/quit-applications/package-lock.json
  extensions/quit-applications/package.json
  extensions/quit-applications/src/index.tsx
  extensions/quit-applications/tsconfig.json
Labels: extension fix / improvement, extension: mackopes/quit-applications

#8902 [Gmail] Fix OAuth refresh errors
  extensions/gmail/.gitignore
  extensions/gmail/CHANGELOG.md
  extensions/gmail/package-lock.json
  extensions/gmail/package.json
  extensions/gmail/src/lib/oauth.ts
  extensions/gmail/src/lib/withGmailClient.tsx
Labels: extension fix / improvement, OP is author, extension: tonka3000/gmail

#8842 [pipe-commands] fix: improve placeholder text UX
  extensions/pipe-commands/CHANGELOG.md
  extensions/pipe-commands/src/pipe-to-command.tsx
Labels: extension fix / improvement, extension: pomdtr/pipe-commands

#8892 Update raycast-ollama extension
  extensions/raycast-ollama/CHANGELOG.md
  extensions/raycast-ollama/package.json
  extensions/raycast-ollama/src/api/errors.ts
  extensions/raycast-ollama/src/api/main.tsx
Labels: extension fix / improvement, OP is author, extension: massimiliano_pasquini/raycast-ollama

#8830 Allow multiple, comma separated tabs to be opened in Arc
  extensions/arc/CHANGELOG.md
  extensions/arc/src/new-tab.ts
Labels: extension fix / improvement, OP is contributor, extension: the-browser-company/arc

#8820 [Val Town] Add val town
  extensions/val-town/.eslintrc.json
  extensions/val-town/.prettierrc
  extensions/val-town/CHANGELOG.md
  extensions/val-town/README.md
  extensions/val-town/assets/command-icon.png
  extensions/val-town/metadata/val-town-1.png
  extensions/val-town/metadata/val-town-2.png
  extensions/val-town/metadata/val-town-3.png
  extensions/val-town/metadata/val-town-4.png
  extensions/val-town/metadata/val-town-5.png
  extensions/val-town/package-lock.json
  extensions/val-town/package.json
  extensions/val-town/src/actions/RunValAction.tsx
  extensions/val-town/src/actions/UserProfile.tsx
  extensions/val-town/src/components/MyLikedVals.tsx
  extensions/val-town/src/components/MyReferencedVals.tsx
  extensions/val-town/src/components/MyVals.tsx
  extensions/val-town/src/components/Runs.tsx
  extensions/val-town/src/components/SearchedVals.tsx
  extensions/val-town/src/components/SingleVal.tsx
  extensions/val-town/src/components/UserLikesList.tsx
  extensions/val-town/src/components/UserReferencedList.tsx
  extensions/val-town/src/components/UserValsList.tsx
  extensions/val-town/src/components/ValDetails.tsx
  extensions/val-town/src/components/ValRun.tsx
  extensions/val-town/src/components/ValRunWithArgs.tsx
  extensions/val-town/src/constants.ts
  extensions/val-town/src/helpers.ts
  extensions/val-town/src/hooks/useLikedVals.ts
  extensions/val-town/src/hooks/useProfile.ts
  extensions/val-town/src/hooks/useReferencedVals.ts
  extensions/val-town/src/hooks/useRunApi.ts
  extensions/val-town/src/hooks/useRuns.ts
  extensions/val-town/src/hooks/useSearchVals.ts
  extensions/val-town/src/hooks/useUserVals.ts
  extensions/val-town/src/hooks/useVal.ts
  extensions/val-town/src/search-vals.tsx
  extensions/val-town/src/types.ts
  extensions/val-town/tsconfig.json
Labels: new extension

#8896 [GitLab] Fix possible crash on empty title in a todo
  extensions/gitlab/.gitignore
  extensions/gitlab/CHANGELOG.md
  extensions/gitlab/package-lock.json
  extensions/gitlab/package.json
  extensions/gitlab/src/components/todo.tsx
  extensions/gitlab/src/todomenubar.tsx
Labels: extension fix / improvement, OP is author, extension: tonka3000/gitlab

#8590 Update douban extension
  extensions/douban/CHANGELOG.md
  extensions/douban/package.json
  extensions/douban/src/search-books.tsx
  extensions/douban/src/search-games.tsx
  extensions/douban/src/search-groups.tsx
  extensions/douban/src/search-movies.tsx
  extensions/douban/src/search-music.tsx
  extensions/douban/src/search-sites.tsx
  extensions/douban/src/search-users.tsx
Labels: extension fix / improvement, extension: crazyczy/douban

#8500 Add simpletexocr extension
  extensions/simpletexocr/.eslintrc.json
  extensions/simpletexocr/.gitignore
  extensions/simpletexocr/.prettierrc
  extensions/simpletexocr/.vscode/settings.json
  extensions/simpletexocr/CHANGELOG.md
  extensions/simpletexocr/README-CN.md
  extensions/simpletexocr/README.md
  extensions/simpletexocr/assets/command-icon.png
  extensions/simpletexocr/package-lock.json
  extensions/simpletexocr/package.json
  extensions/simpletexocr/src/config.tsx
  extensions/simpletexocr/src/index.tsx
  extensions/simpletexocr/tsconfig.json
Labels: new extension

#8890 Add anycoffee extension
  extensions/anycoffee/.eslintrc.json
  extensions/anycoffee/.gitignore
  extensions/anycoffee/.prettierrc
  extensions/anycoffee/CHANGELOG.md
  extensions/anycoffee/README.md
  extensions/anycoffee/assets/icon.png
  extensions/anycoffee/metadata/anycoffee-1.png
  extensions/anycoffee/package-lock.json
  extensions/anycoffee/package.json
  extensions/anycoffee/src/anycoffee-api.ts
  extensions/anycoffee/src/countries.ts
  extensions/anycoffee/src/roasters.tsx
  extensions/anycoffee/src/type.ts
  extensions/anycoffee/tsconfig.json
Labels: new extension

#8763 GitHub: Add "Clone and Open" action
  extensions/github/CHANGELOG.md
  extensions/github/package.json
  extensions/github/src/components/RepositoryActions.tsx
  extensions/github/src/generated/graphql.ts
  extensions/github/src/helpers/repository.ts
Labels: extension fix / improvement, extension: raycast/github

#8798 feat(bookmarks): open the browser where the bookmark came from
  extensions/browser-bookmarks/package-lock.json
  extensions/browser-bookmarks/package.json
  extensions/browser-bookmarks/src/hooks/useArcBookmarks.ts
  extensions/browser-bookmarks/src/hooks/useAvailableBrowsers.ts
  extensions/browser-bookmarks/src/hooks/useChromiumBookmarks.ts
  extensions/browser-bookmarks/src/hooks/useFirefoxBookmarks.ts
  extensions/browser-bookmarks/src/hooks/useSafariBookmarks.ts
  extensions/browser-bookmarks/src/index.tsx
Labels: extension fix / improvement, extension: raycast/browser-bookmarks

#8905 [Git Repos] Bug fix for #8887
  extensions/git-repos/CHANGELOG.md
  extensions/git-repos/package-lock.json
  extensions/git-repos/package.json
  extensions/git-repos/src/list.tsx
  extensions/git-repos/src/utils.tsx
Labels: extension fix / improvement, OP is contributor, extension: moored/git-repos

#8786 [GitHub] Various search usability improvements
  extensions/github/package.json
  extensions/github/src/hooks/useDiscussions.ts
  extensions/github/src/search-discussions.tsx
  extensions/github/src/search-issues.tsx
  extensions/github/src/search-pull-requests.tsx
  extensions/github/src/search-repositories.tsx
Labels: extension fix / improvement, extension: raycast/github

#8927 update ScreenOCR
  extensions/screenocr/CHANGELOG.md
  extensions/screenocr/README.md
  extensions/screenocr/Sources/recognize-text/main.swift
  extensions/screenocr/assets/recognize-text
  extensions/screenocr/metadata/screenocr-1.png
  extensions/screenocr/metadata/screenocr-2.png
  extensions/screenocr/package.json
  extensions/screenocr/src/data/supportedLanguages.ts
  extensions/screenocr/src/types.ts
  extensions/screenocr/src/utils.ts
Labels: extension fix / improvement, OP is author, extension: huzef44/screenocr

#8340 feat(notion): fix various misc bugs
  extensions/notion/.gitignore
  extensions/notion/CHANGELOG.md
  extensions/notion/README.md
  extensions/notion/package-lock.json
  extensions/notion/package.json
  extensions/notion/src/components/PageListItem.tsx
  extensions/notion/src/components/actions/ActionEditPageProperty.tsx
  extensions/notion/src/hooks/index.ts
  extensions/notion/src/quick-capture.tsx
  extensions/notion/src/search-page.tsx
  extensions/notion/src/utils/notion/database/index.ts
  extensions/notion/src/utils/notion/database/property.ts
  extensions/notion/src/utils/notion/index.ts
  extensions/notion/src/utils/notion/page.ts
  extensions/notion/src/utils/types.ts
  extensions/notion/tsconfig.json
Labels: extension fix / improvement, OP is contributor, extension: notion, extension: notion/notion

#8920 feat(scaleway): add block storage product entry
  extensions/scaleway/CHANGELOG.md
  extensions/scaleway/assets/blockStorage.webp
  extensions/scaleway/assets/icons/block-storage@dark.svg
  extensions/scaleway/assets/icons/block-storage@light.svg
  extensions/scaleway/package-lock.json
  extensions/scaleway/package.json
  extensions/scaleway/src/blockStorage.tsx
  extensions/scaleway/src/iam/pages/Users/User.tsx
  extensions/scaleway/src/iam/pages/Users/Users.tsx
  extensions/scaleway/src/products/appleSilicon/queries/useServersQuery.ts
  extensions/scaleway/src/products/blockStorage/BlockStorage.tsx
  extensions/scaleway/src/products/blockStorage/VolumeAction.tsx
  extensions/scaleway/src/products/blockStorage/VolumeDetail.tsx
  extensions/scaleway/src/products/blockStorage/Volumes.tsx
  extensions/scaleway/src/products/blockStorage/queries/index.ts
  extensions/scaleway/src/products/blockStorage/queries/useVolumesQuery.ts
  extensions/scaleway/src/products/blockStorage/status.ts
  extensions/scaleway/src/products/blockStorage/urls.ts
  extensions/scaleway/src/products/webhosting/status.ts
  extensions/scaleway/src/providers/APIProvider/APIProvider.tsx
Labels: extension fix / improvement, OP is author, extension: philibea/scaleway

#8919 Add ip-tools extension
  extensions/ip-tools/.eslintrc.json
  extensions/ip-tools/.gitignore
  extensions/ip-tools/.prettierrc
  extensions/ip-tools/.vscode/settings.json
  extensions/ip-tools/CHANGELOG.md
  extensions/ip-tools/README.md
  extensions/ip-tools/assets/extension_icon.png
  extensions/ip-tools/metadata/ip-tools-1.png
  extensions/ip-tools/metadata/ip-tools-2.png
  extensions/ip-tools/metadata/ip-tools-3.png
  extensions/ip-tools/metadata/ip-tools-4.png
  extensions/ip-tools/metadata/ip-tools-5.png
  extensions/ip-tools/metadata/ip-tools-6.png
  extensions/ip-tools/metadata/ip-tools-7.png
  extensions/ip-tools/package-lock.json
  extensions/ip-tools/package.json
  extensions/ip-tools/src/components/dropdown.tsx
  extensions/ip-tools/src/ip2long.tsx
  extensions/ip-tools/src/long2ip.tsx
  extensions/ip-tools/src/parseCIDR.tsx
  extensions/ip-tools/src/toIPv6Format.tsx
  extensions/ip-tools/tsconfig.json
Labels: new extension

#8817 Add zoom-control extension to control zoom meetings
  extensions/zoom-control/.eslintrc.json
  extensions/zoom-control/.gitignore
  extensions/zoom-control/.prettierrc
  extensions/zoom-control/CHANGELOG.md
  extensions/zoom-control/README.md
  extensions/zoom-control/assets/zoom-control.png
  extensions/zoom-control/assets/zoom-mute.png
  extensions/zoom-control/assets/zoom-unmute.png
  extensions/zoom-control/assets/zoom-video-off.png
  extensions/zoom-control/assets/zoom-video-on.png
  extensions/zoom-control/package-lock.json
  extensions/zoom-control/package.json
  extensions/zoom-control/src/mute.ts
  extensions/zoom-control/src/unmute.ts
  extensions/zoom-control/src/video-off.ts
  extensions/zoom-control/src/video-on.ts
  extensions/zoom-control/src/zoom-meeting.ts
  extensions/zoom-control/tsconfig.json
Labels: new extension

#8931 [Flight Miles Calculator] feat: copy result to clipboard
  extensions/flight-miles-calculator/CHANGELOG.md
  extensions/flight-miles-calculator/README.md
  extensions/flight-miles-calculator/src/components/ResultView.tsx
  extensions/flight-miles-calculator/src/components/SelectionFormView.tsx
Labels: extension fix / improvement, OP is author, extension: danny_seidel/flight-miles-calculator

#8929 Update
  extensions/installed-extensions/CHANGELOG.md
  extensions/installed-extensions/package.json
  extensions/installed-extensions/src/constants.ts
  extensions/installed-extensions/src/index.tsx
  extensions/installed-extensions/src/types.ts
  extensions/installed-extensions/src/utils.ts
Labels: extension fix / improvement, OP is author, extension: pernielsentikaer/installed-extensions

#8840 build: update pipe-commands npm packages
  extensions/pipe-commands/package-lock.json
  extensions/pipe-commands/package.json
Labels: extension fix / improvement, extension: pomdtr/pipe-commands

#8839 fix: handle another pipe-command selection error
  extensions/pipe-commands/CHANGELOG.md
  extensions/pipe-commands/src/pipe-to-command.tsx
Labels: extension fix / improvement, extension: pomdtr/pipe-commands

#8934 【KeePassXC】Fixed a logic bug
  extensions/keepassxc/CHANGELOG.md
  extensions/keepassxc/src/utils/keepassLoader.ts
Labels: extension fix / improvement, OP is author, extension: zkytech/keepassxc

#8911 Update brave-search extension
  extensions/brave-search/.eslintrc.json
  extensions/brave-search/.gitignore
  extensions/brave-search/CHANGELOG.md
  extensions/brave-search/package-lock.json
  extensions/brave-search/package.json
  extensions/brave-search/src/app/models.ts
  extensions/brave-search/src/app/result-service.ts
  extensions/brave-search/src/app/search-service.tsx
  extensions/brave-search/tsconfig.json
Labels: extension fix / improvement, extension: VishwasShashidhar/brave-search

#8926 Update reclaim-ai extension with support for new prioritization features, bug fixes, and authorship.
  extensions/reclaim-ai/CHANGELOG.md
  extensions/reclaim-ai/package.json
  extensions/reclaim-ai/src/hooks/useEvent.tsx
  extensions/reclaim-ai/src/hooks/useTask.tsx
  extensions/reclaim-ai/src/hooks/useTask.types.ts
  extensions/reclaim-ai/src/join-meeting.tsx
  extensions/reclaim-ai/src/list-tasks.tsx
  extensions/reclaim-ai/src/my-calendar.tsx
  extensions/reclaim-ai/src/notifications.tsx
  extensions/reclaim-ai/src/task-form.tsx
  extensions/reclaim-ai/src/types/task.ts
  extensions/reclaim-ai/src/utils/dates.ts
  extensions/reclaim-ai/src/utils/events.ts
Labels: extension fix / improvement, extension: reclaim-ai/reclaim-ai

#8770 Update envato extension
  extensions/envato/CHANGELOG.md
  extensions/envato/package-lock.json
  extensions/envato/package.json
  extensions/envato/src/purchaseDetails.tsx
  extensions/envato/src/utils.tsx
  extensions/envato/src/verifyPurchase.tsx
Labels: extension fix / improvement, status: awaiting response from dev, extension: astroon/envato

#8942 Update soundboard extension
  extensions/soundboard/.gitignore
  extensions/soundboard/CHANGELOG.md
  extensions/soundboard/package.json
  extensions/soundboard/src/utils.ts
Labels: extension fix / improvement, extension: pernielsentikaer/soundboard

#8774 Add saved-items extension
  extensions/saved-items/.eslintrc.json
  extensions/saved-items/.gitignore
  extensions/saved-items/.prettierrc
  extensions/saved-items/CHANGELOG.md
  extensions/saved-items/README.md
  extensions/saved-items/assets/saved-items.png
  extensions/saved-items/metadata/saved-items-1.png
  extensions/saved-items/metadata/saved-items-2.png
  extensions/saved-items/metadata/saved-items-3.png
  extensions/saved-items/package-lock.json
  extensions/saved-items/package.json
  extensions/saved-items/src/components/CreateItemAction.tsx
  extensions/saved-items/src/components/DeleteItemAction.tsx
  extensions/saved-items/src/components/EditItemAction.tsx
  extensions/saved-items/src/components/EmptyView.tsx
  extensions/saved-items/src/components/ItemForm.tsx
  extensions/saved-items/src/components/index.tsx
  extensions/saved-items/src/index.tsx
  extensions/saved-items/src/types.ts
  extensions/saved-items/tsconfig.json
Labels: new extension

#8952 Fixed typo
  extensions/todo-list/changelog.md
  extensions/todo-list/src/todo_item.tsx
Labels: extension fix / improvement, OP is contributor, extension: maggie/todo-list

#8954 Update
  extensions/todo-list/changelog.md
  extensions/todo-list/src/delete_all.tsx
  extensions/todo-list/src/todo_item.tsx
Labels: extension fix / improvement, OP is contributor, extension: maggie/todo-list

#8881 Update search-astro-docs extension
  extensions/search-astro-docs/CHANGELOG.md
  extensions/search-astro-docs/README.md
  extensions/search-astro-docs/package-lock.json
  extensions/search-astro-docs/package.json
  extensions/search-astro-docs/src/data/docs.ts
  extensions/search-astro-docs/src/index.tsx
Labels: extension fix / improvement, OP is author, extension: ElianCodes/search-astro-docs

#8791 add NuGet release channel to NuGet Extension
  extensions/nuget/CHANGELOG.md
  extensions/nuget/package.json
  extensions/nuget/src/nuget-client.tsx
  extensions/nuget/src/utils.tsx
Labels: extension fix / improvement, extension: lbergantin/nuget

#8647 WhiteBIT Exchange Extension
  extensions/whitebit/.eslintrc.json
  extensions/whitebit/.gitignore
  extensions/whitebit/.prettierrc
  extensions/whitebit/CHANGELOG.md
  extensions/whitebit/README.md
  extensions/whitebit/assets/command-icon.png
  extensions/whitebit/metadata/whitebit-1.png
  extensions/whitebit/metadata/whitebit-2.png
  extensions/whitebit/metadata/whitebit-3.png
  extensions/whitebit/metadata/whitebit-4.png
  extensions/whitebit/metadata/whitebit-5.png
  extensions/whitebit/metadata/whitebit-6.png
  extensions/whitebit/package-lock.json
  extensions/whitebit/package.json
  extensions/whitebit/src/api/address.ts
  extensions/whitebit/src/api/assets.ts
  extensions/whitebit/src/api/balance.ts
  extensions/whitebit/src/api/codes.ts
  extensions/whitebit/src/api/history.ts
  extensions/whitebit/src/api/httpClient.ts
  extensions/whitebit/src/api/markets.ts
  extensions/whitebit/src/api/orders.ts
  extensions/whitebit/src/code_apply.tsx
  extensions/whitebit/src/code_create.tsx
  extensions/whitebit/src/code_list.tsx
  extensions/whitebit/src/components/codes/CodeListItem.tsx
  extensions/whitebit/src/components/favorite/FavoriteAction.tsx
  extensions/whitebit/src/components/markets/MarketListItem.tsx
  extensions/whitebit/src/contexts/MarketsContextProvider.tsx
  extensions/whitebit/src/declarations.d.ts
  extensions/whitebit/src/history.tsx
  extensions/whitebit/src/hooks/use-assets.ts
  extensions/whitebit/src/hooks/use-favorite-assets.ts
  extensions/whitebit/src/hooks/use-favorite-markets.ts
  extensions/whitebit/src/hooks/use-favorite-wrapper.tsx
  extensions/whitebit/src/hooks/use-http-client.ts
  extensions/whitebit/src/hooks/use-markets-activity.ts
  extensions/whitebit/src/hooks/use-stored-state.ts
  extensions/whitebit/src/markets.tsx
  extensions/whitebit/src/my_balance.tsx
  extensions/whitebit/src/transfer_balance.tsx
  extensions/whitebit/src/utils/numbers.ts
  extensions/whitebit/src/utils/timeout.ts
  extensions/whitebit/tsconfig.json
Labels: new extension

#8962 Transfer Whitebit to Organisation
  .github/public_raycast_extensions.txt
  extensions/whitebit/package.json
Labels: extension fix / improvement, extension: marco-whitebit/whitebit

#8543 [Mozilla Firefox] Add nightly support as fallback
  extensions/mozilla-firefox/.eslintrc.json
  extensions/mozilla-firefox/.gitignore
  extensions/mozilla-firefox/CHANGELOG.md
  extensions/mozilla-firefox/package-lock.json
  extensions/mozilla-firefox/package.json
  extensions/mozilla-firefox/src/util/index.ts
  extensions/mozilla-firefox/tsconfig.json
Labels: extension fix / improvement, extension: crisboarna/mozilla-firefox

#8936 Filter items where title is missing
  extensions/browser-bookmarks/CHANGELOG.md
  extensions/browser-bookmarks/src/index.tsx
Labels: extension fix / improvement, extension: browser-bookmarks

#8998 Update ngrok extension
  extensions/ngrok/CHANGELOG.md
  extensions/ngrok/README.md
  extensions/ngrok/package-lock.json
  extensions/ngrok/package.json
  extensions/ngrok/src/api/agent.ts
  extensions/ngrok/src/api/config.ts
  extensions/ngrok/src/index.tsx
Labels: extension fix / improvement, OP is author, extension: ngrok

#8993 Remove jq
  extensions/installed-extensions/CHANGELOG.md
  extensions/installed-extensions/package-lock.json
  extensions/installed-extensions/package.json
  extensions/installed-extensions/src/index.tsx
Labels: extension fix / improvement, OP is author, extension: installed-extensions

#8787 Add uptime-kuma extension
  extensions/uptime-kuma/.eslintrc.json
  extensions/uptime-kuma/.gitignore
  extensions/uptime-kuma/.prettierrc
  extensions/uptime-kuma/CHANGELOG.md
  extensions/uptime-kuma/README.md
  extensions/uptime-kuma/assets/extension_icon.png
  extensions/uptime-kuma/assets/noview.png
  extensions/uptime-kuma/metadata/uptime-kuma-1.png
  extensions/uptime-kuma/metadata/uptime-kuma-2.png
  extensions/uptime-kuma/metadata/uptime-kuma-3.png
  extensions/uptime-kuma/metadata/uptime-kuma-4.png
  extensions/uptime-kuma/package-lock.json
  extensions/uptime-kuma/package.json
  extensions/uptime-kuma/src/auth-form.tsx
  extensions/uptime-kuma/src/error-screen.tsx
  extensions/uptime-kuma/src/index.tsx
  extensions/uptime-kuma/src/list-monitors.tsx
  extensions/uptime-kuma/src/modules/UptimeKuma.ts
  extensions/uptime-kuma/src/monitor-detail.tsx
  extensions/uptime-kuma/src/utils/display.tsx
  extensions/uptime-kuma/src/utils/functions.tsx
  extensions/uptime-kuma/src/utils/store.ts
  extensions/uptime-kuma/tsconfig.json
Labels: new extension

#9014 [Multilinks] Update browser list and Fix dropdown state issue
  extensions/multilinks/CHANGELOG.md
  extensions/multilinks/src/Components/CreateForm.tsx
Labels: extension fix / improvement, OP is author, extension: multilinks

#9007 Improve YouTube Downloader error handling
  extensions/youtube-downloader/CHANGELOG.md
  extensions/youtube-downloader/src/index.tsx
  extensions/youtube-downloader/src/utils.ts
Labels: extension fix / improvement, OP is author, extension: youtube-downloader

#9004 Update uptime-kuma extension
  extensions/uptime-kuma/CHANGELOG.md
  extensions/uptime-kuma/README.md
Labels: extension fix / improvement, OP is author, OP is contributor, extension: uptime-kuma

#9000 [Xcode] Maintenance Update
  extensions/xcode/CHANGELOG.md
  extensions/xcode/assets/xcode-15.png
  extensions/xcode/package-lock.json
  extensions/xcode/package.json
  extensions/xcode/src/components/xcode-simulator-application-list/xcode-simulator-application-list-item.component.tsx
  extensions/xcode/src/components/xcode-simulator-application-list/xcode-simulator-application-list-push-notifications.tsx
  extensions/xcode/src/components/xcode-simulator-application-list/xcode-simulator-application-list.component.tsx
  extensions/xcode/src/components/xcode-simulator-applications-menu-bar/xcode-simulator-applications-menu-bar-item.component.tsx
  extensions/xcode/src/components/xcode-simulator-list/xcode-simulator-list-item.component.tsx
  extensions/xcode/src/components/xcode-simulator-list/xcode-simulator-rename-form.component.tsx
  extensions/xcode/src/components/xcode-simulator-list/xcode-simulator-send-push-notification-form.component.tsx
  extensions/xcode/src/services/xcode-simulator-application.service.ts
  extensions/xcode/src/services/xcode-simulator.service.ts
  extensions/xcode/src/services/xcode-swift-playground.service.ts
Labels: extension fix / improvement, OP is author, extension: xcode

#8966 Update brave-search extension
  extensions/brave-search/CHANGELOG.md
  extensions/brave-search/src/app/result-service.ts
Labels: extension fix / improvement, OP is contributor, extension: VishwasShashidhar/brave-search, extension: brave-search

#8971 Update Purelymail extension
  extensions/purelymail/.gitignore
  extensions/purelymail/CHANGELOG.md
  extensions/purelymail/README.md
  extensions/purelymail/metadata/purelymail-5-add-domain-error.png
  extensions/purelymail/metadata/purelymail-5-check-account-credit.png
  extensions/purelymail/package-lock.json
  extensions/purelymail/package.json
  extensions/purelymail/src/add-domain.tsx
  extensions/purelymail/src/check-account-credit.tsx
  extensions/purelymail/src/components/ErrorComponent.tsx
  extensions/purelymail/src/create-app-password.tsx
  extensions/purelymail/src/create-routing-rule.tsx
  extensions/purelymail/src/create-user.tsx
  extensions/purelymail/src/delete-app-password.tsx
  extensions/purelymail/src/delete-user.tsx
  extensions/purelymail/src/get-ownership-code.tsx
  extensions/purelymail/src/list-domains.tsx
  extensions/purelymail/src/list-routing-rules.tsx
  extensions/purelymail/src/update-domain-settings.tsx
  extensions/purelymail/src/utils/api.ts
  extensions/purelymail/src/utils/constants.ts
  extensions/purelymail/src/utils/types.ts
  extensions/purelymail/tsconfig.json
Labels: extension fix / improvement, OP is author, extension: purelymail

#8705 [word-search] Capitalize output when search text is capitalize
  extensions/word-search/CHNAGELOG.md
  extensions/word-search/package.json
  extensions/word-search/src/api.ts
  extensions/word-search/src/types.ts
Labels: extension fix / improvement, status: awaiting response from dev, extension: rishabswift/word-search

#8819 Add mailtrap-subject-copier extension
  extensions/mailtrap/.envrc
  extensions/mailtrap/.eslintrc.json
  extensions/mailtrap/.gitignore
  extensions/mailtrap/.prettierrc
  extensions/mailtrap/CHANGELOG.md
  extensions/mailtrap/README.md
  extensions/mailtrap/assets/extension_icon.png
  extensions/mailtrap/flake.lock
  extensions/mailtrap/flake.nix
  extensions/mailtrap/metadata/mailtrap-subject-copier-1.png
  extensions/mailtrap/metadata/mailtrap-subject-copier-2.png
  extensions/mailtrap/metadata/mailtrap-subject-copier-3.png
  extensions/mailtrap/metadata/mailtrap-subject-copier-4.png
  extensions/mailtrap/package-lock.json
  extensions/mailtrap/package.json
  extensions/mailtrap/src/get-mailtrap-subject.tsx
  extensions/mailtrap/src/models/global-preferences.ts
  extensions/mailtrap/src/services/mailtrap.ts
  extensions/mailtrap/src/views/guide.tsx
  extensions/mailtrap/src/views/list-emails.tsx
  extensions/mailtrap/src/views/list-inboxs.tsx
  extensions/mailtrap/tsconfig.json
Labels: new extension

#9021 Update cobalt extension
  extensions/cobalt/CHANGELOG.md
  extensions/cobalt/README.md
  extensions/cobalt/package-lock.json
  extensions/cobalt/package.json
  extensions/cobalt/src/index.tsx
Labels: extension fix / improvement, OP is author, extension: cobalt

#8527 Update wifi-share extension
  extensions/wifi-share/.eslintrc.json
  extensions/wifi-share/.gitignore
  extensions/wifi-share/.prettierrc
  extensions/wifi-share/CHANGELOG.md
  extensions/wifi-share/README.md
  extensions/wifi-share/assets/wifi.png
  extensions/wifi-share/metadata/wifi-share-1.png
  extensions/wifi-share/metadata/wifi-share-2.png
  extensions/wifi-share/package-lock.json
  extensions/wifi-share/package.json
  extensions/wifi-share/src/share-wifi.tsx
  extensions/wifi-share/tsconfig.json
Labels: new extension

#8953 Update git-commands extension
  extensions/git-commands/CHANGELOG.md
  extensions/git-commands/src/alias.json
Labels: extension fix / improvement, extension: manumorante/git-commands

#8973 Fix NBA viewer starting season date for Standings view
  extensions/nba-game-viewer/CHANGELOG.md
  extensions/nba-game-viewer/src/hooks/useStandings.ts
Labels: extension fix / improvement, extension: AbhinavPalacharla/nba-viewer, extension: nba-game-viewer
