Repository raycast/extensions, pull requests merged in 2023-08, with the labels that each got.

#7743 [Obsidian] Apply template to appendtask command file name
  extensions/obsidian/CHANGELOG.md
  extensions/obsidian/README.md
  extensions/obsidian/src/appendTaskCommand.tsx
Labels: extension fix / improvement, OP is author, extension: obsidian

#7675 Add cc0-lib extension
  extensions/cc0-lib/.eslintrc.json
  extensions/cc0-lib/.gitignore
  extensions/cc0-lib/.prettierrc
  extensions/cc0-lib/CHANGELOG.md
  extensions/cc0-lib/README.md
  extensions/cc0-lib/assets/cc0-lib-circle.png
  extensions/cc0-lib/metadata/cc0-lib-1.png
  extensions/cc0-lib/metadata/cc0-lib-2.png
  extensions/cc0-lib/metadata/cc0-lib-3.png
  extensions/cc0-lib/package-lock.json
  extensions/cc0-lib/package.json
  extensions/cc0-lib/src/index.tsx
  extensions/cc0-lib/src/lib/utils.ts
  extensions/cc0-lib/src/typings.d.ts
  extensions/cc0-lib/tsconfig.json
Labels: new extension

#7503 Add PostHog extension
  extensions/posthog/.eslintrc.json
  extensions/posthog/.gitignore
  extensions/posthog/.prettierrc
  extensions/posthog/CHANGELOG.md
  extensions/posthog/README.md
  extensions/posthog/assets/posthog-logo.png
  extensions/posthog/helpers/ProjectsContext.tsx
  extensions/posthog/helpers/usePostHogClient.tsx
  extensions/posthog/helpers/useUrl.tsx
  extensions/posthog/metadata/posthog-1.png
  extensions/posthog/metadata/posthog-2.png
  extensions/posthog/metadata/posthog-3.png
  extensions/posthog/package-lock.json
  extensions/posthog/package.json
  extensions/posthog/src/cohorts.tsx
  extensions/posthog/src/dashboards.tsx
  extensions/posthog/src/error-handler.tsx
  extensions/posthog/src/feature-flags.tsx
  extensions/posthog/src/persons.tsx
  extensions/posthog/src/projects.tsx
  extensions/posthog/tsconfig.json
Labels: new extension

#7680 Add explain-command extension
  extensions/explain-command/.eslintrc.json
  extensions/explain-command/.gitignore
  extensions/explain-command/.prettierrc
  extensions/explain-command/CHANGELOG.md
  extensions/explain-command/README.md
  extensions/explain-command/assets/command-icon.png
  extensions/explain-command/metadata/explain-command-1.png
  extensions/explain-command/metadata/explain-command-2.png
  extensions/explain-command/metadata/explain-command-3.png
  extensions/explain-command/metadata/explain-command-4.png
  extensions/explain-command/package-lock.json
  extensions/explain-command/package.json
  extensions/explain-command/src/explain-command.tsx
  extensions/explain-command/tsconfig.json
Labels: new extension

#7686 Update memos extension
  extensions/memos/.gitignore
  extensions/memos/CHANGELOG.md
  extensions/memos/src/api.ts
  extensions/memos/src/memosList.tsx
  extensions/memos/src/sendMemo.tsx
  extensions/memos/src/sendMemoForm.tsx
Labels: extension fix / improvement, OP is author, extension: memos

#7478 Update qrcode-generator extension
  extensions/qrcode-generator/.gitignore
  extensions/qrcode-generator/README.md
  extensions/qrcode-generator/package-lock.json
  extensions/qrcode-generator/package.json
  extensions/qrcode-generator/src/clipboard.tsx
Labels: extension fix / improvement, status: awaiting response from dev, status: stalled, extension: qrcode-generator

#7616 Add random-text-picker extension
  extensions/random-text-picker/.eslintrc.json
  extensions/random-text-picker/.gitignore
  extensions/random-text-picker/.prettierrc
  extensions/random-text-picker/CHANGELOG.md
  extensions/random-text-picker/README.md
  extensions/random-text-picker/assets/random-picker-icon.png
  extensions/random-text-picker/assets/tadaa-47995.mp3
  extensions/random-text-picker/metadata/random-text-picker-1.png
  extensions/random-text-picker/metadata/random-text-picker-2.png
  extensions/random-text-picker/package-lock.json
  extensions/random-text-picker/package.json
  extensions/random-text-picker/src/ListActions.ts
  extensions/random-text-picker/src/ListItems.tsx
  extensions/random-text-picker/src/RandomPicker.ts
  extensions/random-text-picker/src/index.tsx
  extensions/random-text-picker/tsconfig.json
Labels: new extension

#7757 [Bitwarden] Fix details view visible line break
  extensions/bitwarden/CHANGELOG.md
  extensions/bitwarden/src/components/searchVault/actions/ShowNotesAction.tsx
  extensions/bitwarden/src/constants/general.ts
  extensions/bitwarden/src/utils/cards.ts
  extensions/bitwarden/src/utils/identity.ts
Labels: extension fix / improvement, OP is author, extension: bitwarden

#7694 [nixpkgs-search] Fix url to search index
  extensions/nixpkgs-search/CHANGELOG.md
  extensions/nixpkgs-search/src/index.tsx
Labels: extension fix / improvement, extension: nixpkgs-search

#7681 Add raycast-google-palm extension
  extensions/raycast-google-palm/.eslintrc.json
  extensions/raycast-google-palm/.gitignore
  extensions/raycast-google-palm/.prettierrc
  extensions/raycast-google-palm/CHANGELOG.md
  extensions/raycast-google-palm/README.md
  extensions/raycast-google-palm/assets/command-icon.png
  extensions/raycast-google-palm/metadata/google-palm-1.png
  extensions/raycast-google-palm/metadata/google-palm-2.png
  extensions/raycast-google-palm/package-lock.json
  extensions/raycast-google-palm/package.json
  extensions/raycast-google-palm/src/api/quickAI.jsx
  extensions/raycast-google-palm/src/ask-ai.jsx
  extensions/raycast-google-palm/src/comment.jsx
  extensions/raycast-google-palm/src/explain.jsx
  extensions/raycast-google-palm/src/friendly.jsx
  extensions/raycast-google-palm/src/grammar.jsx
  extensions/raycast-google-palm/src/longer.jsx
  extensions/raycast-google-palm/src/professional.jsx
  extensions/raycast-google-palm/src/shorter.jsx
  extensions/raycast-google-palm/src/summarize.jsx
  extensions/raycast-google-palm/src/synonym.jsx
Labels: new extension

#7705 Add uptime extension
  extensions/uptime/.eslintrc.json
  extensions/uptime/.gitignore
  extensions/uptime/.prettierrc
  extensions/uptime/CHANGELOG.md
  extensions/uptime/README.md
  extensions/uptime/assets/command-icon.png
  extensions/uptime/metadata/uptime.png
  extensions/uptime/package-lock.json
  extensions/uptime/package.json
  extensions/uptime/src/index.tsx
  extensions/uptime/tsconfig.json
Labels: new extension

#7698 Update dockerhub extension
  extensions/dockerhub/CHANGELOG.md
  extensions/dockerhub/src/components/ManageAccessToken.tsx
  extensions/dockerhub/src/components/Search.tsx
  extensions/dockerhub/src/components/SearchExtension.tsx
  extensions/dockerhub/src/components/SearchRepository.tsx
  extensions/dockerhub/src/components/SearchTags.tsx
  extensions/dockerhub/src/lib/hub/hub.ts
Labels: extension fix / improvement, OP is contributor, extension: dockerhub

#7692 Add raycast-ollama extension
  extensions/raycast-ollama/.eslintrc.json
  extensions/raycast-ollama/.gitignore
  extensions/raycast-ollama/.prettierrc
  extensions/raycast-ollama/CHANGELOG.md
  extensions/raycast-ollama/LICENSE
  extensions/raycast-ollama/README.md
  extensions/raycast-ollama/assets/icon.png
  extensions/raycast-ollama/assets/icon@dark.png
  extensions/raycast-ollama/assets/prompt/raycast_llama2_13b
  extensions/raycast-ollama/assets/prompt/raycast_llama2_7b
  extensions/raycast-ollama/assets/prompt/raycast_orca_3b
  extensions/raycast-ollama/metadata/raycast-ollama-1.png
  extensions/raycast-ollama/metadata/raycast-ollama-2.png
  extensions/raycast-ollama/metadata/raycast-ollama-3.png
  extensions/raycast-ollama/package-lock.json
  extensions/raycast-ollama/package.json
  extensions/raycast-ollama/src/api/errors.ts
  extensions/raycast-ollama/src/api/main.tsx
  extensions/raycast-ollama/src/api/ollama.ts
  extensions/raycast-ollama/src/api/prompt.ts
  extensions/raycast-ollama/src/api/types.ts
  extensions/raycast-ollama/src/ollama-ask.tsx
  extensions/raycast-ollama/src/ollama-casual.tsx
  extensions/raycast-ollama/src/ollama-code-explain.tsx
  extensions/raycast-ollama/src/ollama-confident.tsx
  extensions/raycast-ollama/src/ollama-custom-ask.tsx
  extensions/raycast-ollama/src/ollama-custom-command.tsx
  extensions/raycast-ollama/src/ollama-explain.tsx
  extensions/raycast-ollama/src/ollama-fix-spelling-grammar.tsx
  extensions/raycast-ollama/src/ollama-friendly.tsx
  extensions/raycast-ollama/src/ollama-improve-writing.tsx
  extensions/raycast-ollama/src/ollama-longer.tsx
  extensions/raycast-ollama/src/ollama-professional.tsx
  extensions/raycast-ollama/src/ollama-shorter.tsx
  extensions/raycast-ollama/src/ollama-translate.tsx
  extensions/raycast-ollama/src/ollama-tweet.tsx
  extensions/raycast-ollama/tsconfig.json
Labels: new extension

#7700 Fix the contributing URL in Raycast Explorer
  extensions/raycast-explorer/src/explore-prompts.tsx
Labels: extension fix / improvement, extension: raycast-explorer

#7765 Misc: Improve stability of type guards
  extensions/visual-studio-code-recent-projects/CHANGELOG.md
  extensions/visual-studio-code-recent-projects/src/utils.ts
Labels: extension fix / improvement, OP is author, OP is contributor, extension: visual-studio-code

#7651 Add Search GitHub Users extension
  extensions/github-users/.eslintrc.json
  extensions/github-users/.gitignore
  extensions/github-users/.prettierrc
  extensions/github-users/CHANGELOG.md
  extensions/github-users/README.md
  extensions/github-users/assets/icon.png
  extensions/github-users/assets/icon@dark.png
  extensions/github-users/assets/thumbnail.png
  extensions/github-users/metadata/screen-1.png
  extensions/github-users/metadata/screen-2.png
  extensions/github-users/metadata/screen-3.png
  extensions/github-users/metadata/screen-4.png
  extensions/github-users/metadata/screen-5.png
  extensions/github-users/metadata/screen-6.png
  extensions/github-users/package-lock.json
  extensions/github-users/package.json
  extensions/github-users/src/detail.tsx
  extensions/github-users/src/hooks/useDebounce.ts
  extensions/github-users/src/list.tsx
  extensions/github-users/src/utils/index.ts
  extensions/github-users/tsconfig.json
Labels: new extension

#7708 Add auto description for pinboard
  extensions/pinboard/CHANGELOG.md
  extensions/pinboard/package-lock.json
  extensions/pinboard/src/addBookmark.tsx
Labels: extension fix / improvement, extension: pinboard

#7768 Spotify Controls: Check if app is installed
  extensions/spotify-controls/CHANGELOG.md
  extensions/spotify-controls/src/utils.ts
Labels: extension fix / improvement, OP is author, OP is contributor, extension: spotify-controls

#7775 fix: Updating the image preview in the readme
  extensions/curto-io-url-shortener/README.md
Labels: extension fix / improvement, OP is author, extension: curto-io-url-shortener

#7687 Add Goodreads extension
  extensions/goodreads/.eslintrc.json
  extensions/goodreads/.gitignore
  extensions/goodreads/.prettierrc
  extensions/goodreads/CHANGELOG.md
  extensions/goodreads/README.md
  extensions/goodreads/assets/goodreads-icon.png
  extensions/goodreads/metadata/goodreads-1.png
  extensions/goodreads/metadata/goodreads-2.png
  extensions/goodreads/metadata/goodreads-3.png
  extensions/goodreads/metadata/goodreads-4.png
  extensions/goodreads/metadata/goodreads-5.png
  extensions/goodreads/metadata/goodreads-6.png
  extensions/goodreads/package-lock.json
  extensions/goodreads/package.json
  extensions/goodreads/src/book-details.tsx
  extensions/goodreads/src/components/error-screen.tsx
  extensions/goodreads/src/goodreads-api.ts
  extensions/goodreads/src/parser.ts
  extensions/goodreads/src/person-details.tsx
  extensions/goodreads/src/search-books-page.tsx
  extensions/goodreads/src/search-people-page.tsx
  extensions/goodreads/src/strings.ts
  extensions/goodreads/src/types.ts
  extensions/goodreads/src/utils.ts
  extensions/goodreads/tsconfig.json
Labels: new extension, status: awaiting response from dev

#7777 fix(7714): add null check for title
  extensions/feedly/.prettierrc
  extensions/feedly/CHANGELOG.md
  extensions/feedly/src/components/Feed.tsx
  extensions/feedly/src/feedly.tsx
  extensions/feedly/src/types/collection.types.ts
  extensions/feedly/src/types/feed.types.ts
Labels: extension fix / improvement, OP is author, OP is contributor, extension: feedly

#7755 Update raycast-explorer extension
  extensions/raycast-explorer/CHANGELOG.md
  extensions/raycast-explorer/src/explore-themes.tsx
Labels: extension fix / improvement, extension: raycast-explorer

#7733 Add tints-and-shades extension
  extensions/tints-and-shades/.eslintrc.json
  extensions/tints-and-shades/.gitignore
  extensions/tints-and-shades/.prettierrc
  extensions/tints-and-shades/CHANGELOG.md
  extensions/tints-and-shades/README.md
  extensions/tints-and-shades/assets/command-icon.png
  extensions/tints-and-shades/metadata/tints-and-shades-1.png
  extensions/tints-and-shades/metadata/tints-and-shades-2.png
  extensions/tints-and-shades/metadata/tints-and-shades-3.png
  extensions/tints-and-shades/package-lock.json
  extensions/tints-and-shades/package.json
  extensions/tints-and-shades/src/index.tsx
  extensions/tints-and-shades/tsconfig.json
Labels: new extension

#7791 [Home Assistant] Add HACS updates
  extensions/homeassistant/CHANGELOG.md
  extensions/homeassistant/package.json
  extensions/homeassistant/src/components/update/list.tsx
  extensions/homeassistant/src/components/update/menu.tsx
  extensions/homeassistant/src/components/update/utils.ts
  extensions/homeassistant/src/notificationmenu.tsx
Labels: extension fix / improvement, OP is author, extension: homeassistant

#7788 [GitHub] Fix missing repo name for non numberTag cases
  extensions/github/CHANGELOG.md
  extensions/github/src/helpers/notifications.ts
Labels: extension fix / improvement, OP is contributor, extension: github

#7741 Add cobalt extension
  extensions/cobalt/.eslintrc.json
  extensions/cobalt/.gitignore
  extensions/cobalt/.prettierrc
  extensions/cobalt/CHANGELOG.md
  extensions/cobalt/LICENSE
  extensions/cobalt/README.md
  extensions/cobalt/assets/command-icon.png
  extensions/cobalt/media/icon.png
  extensions/cobalt/metadata/cobalt-1.png
  extensions/cobalt/metadata/cobalt-2.png
  extensions/cobalt/metadata/cobalt-3.png
  extensions/cobalt/package-lock.json
  extensions/cobalt/package.json
  extensions/cobalt/src/index.tsx
  extensions/cobalt/tsconfig.json
Labels: new extension

#7782 Update Gitfox extension
  extensions/gitfox/CHANGELOG.md
  extensions/gitfox/package-lock.json
  extensions/gitfox/package.json
  extensions/gitfox/src/components/bookmark-list-item.tsx
  extensions/gitfox/src/components/bookmark-list.tsx
  extensions/gitfox/src/interfaces/imported-gitfox-bookmark.ts
  extensions/gitfox/src/utils.ts
Labels: extension fix / improvement, extension: gitfox

#7803 [Music] Removed SFSymbols
  extensions/music/CHANGELOG.md
  extensions/music/src/add-to-library.tsx
  extensions/music/src/add-to-playlist.tsx
  extensions/music/src/dislike.tsx
  extensions/music/src/love-and-add-to-library.tsx
  extensions/music/src/love.tsx
  extensions/music/src/next-track.tsx
  extensions/music/src/pause.tsx
  extensions/music/src/play-library-album.tsx
  extensions/music/src/play-library-track.tsx
  extensions/music/src/play.tsx
  extensions/music/src/previous-track.tsx
  extensions/music/src/reveal-track.tsx
  extensions/music/src/set-rating.tsx
  extensions/music/src/start-playlist.tsx
  extensions/music/src/toggle-play-pause.tsx
  extensions/music/src/toggle-shuffle.tsx
  extensions/music/src/util/models.ts
  extensions/music/src/volume-down.tsx
  extensions/music/src/volume-up.tsx
Labels: extension fix / improvement, OP is contributor, extension: music

#7666 Update youtube-downloader extension
  extensions/youtube-downloader/CHANGELOG.md
  extensions/youtube-downloader/package-lock.json
  extensions/youtube-downloader/package.json
  extensions/youtube-downloader/src/index.tsx
  extensions/youtube-downloader/src/utils.ts
Labels: extension fix / improvement, status: awaiting response from dev, extension: youtube-downloader

#7780 Updated StackExchange search extension
  extensions/stackoverflow/.eslintrc.json
  extensions/stackoverflow/CHNAGELOG.md
  extensions/stackoverflow/README.md
  extensions/stackoverflow/images/screenshot.png
  extensions/stackoverflow/metadata/stackoverflow-1.png
  extensions/stackoverflow/metadata/stackoverflow-2.png
  extensions/stackoverflow/metadata/stackoverflow-3.png
  extensions/stackoverflow/metadata/stackoverflow-4.png
  extensions/stackoverflow/package-lock.json
  extensions/stackoverflow/package.json
  extensions/stackoverflow/src/commandSearchStackOverflow.tsx
  extensions/stackoverflow/src/common/SoApi.ts
  extensions/stackoverflow/src/common/View.tsx
  extensions/stackoverflow/src/common/questionDetail.tsx
  extensions/stackoverflow/src/common/store.ts
  extensions/stackoverflow/src/common/typeUtils.ts
Labels: extension fix / improvement, OP is author, extension: stackoverflow

#7799 Update jetbrains extension
  extensions/jetbrains/CHANGELOG.md
  extensions/jetbrains/package-lock.json
  extensions/jetbrains/package.json
  extensions/jetbrains/src/.channel.json.d.ts
  extensions/jetbrains/src/components/OpenInJetBrainsApp.tsx
  extensions/jetbrains/src/components/RecentProject.tsx
  extensions/jetbrains/src/recent.tsx
  extensions/jetbrains/src/recentMenu.tsx
  extensions/jetbrains/src/useAppHistory.tsx
  extensions/jetbrains/src/util.ts
Labels: extension fix / improvement, OP is author, extension: jetbrains

#7783 [Reclaim.ai extension] New command + MenuBar filter
  extensions/reclaim-ai/CHANGELOG.md
  extensions/reclaim-ai/package.json
  extensions/reclaim-ai/src/join-meeting.tsx
  extensions/reclaim-ai/src/notifications.tsx
  extensions/reclaim-ai/src/types/event.ts
Labels: extension fix / improvement, OP is author, extension: reclaim-ai

#7815 Update file-manager extension
  extensions/file-manager/CHANGELOG.md
  extensions/file-manager/package.json
  extensions/file-manager/src/utils.tsx
Labels: extension fix / improvement, OP is contributor, extension: file-manager

#7748 Daily log ai summary
  extensions/my-daily-log/CHANGELOG.md
  extensions/my-daily-log/metadata/my-daily-log-5.png
  extensions/my-daily-log/metadata/my-daily-log-6.png
  extensions/my-daily-log/metadata/my-daily-log-7.png
  extensions/my-daily-log/package-lock.json
  extensions/my-daily-log/package.json
  extensions/my-daily-log/raycast-env.d.ts
  extensions/my-daily-log/src/dailyStandupSpeechView.tsx
  extensions/my-daily-log/src/daySummaryView.tsx
  extensions/my-daily-log/src/domain/dailyLog/useCases/GetDailyLogsForMonthUseCase.tsx
  extensions/my-daily-log/src/domain/dailyLog/useCases/GetDailyLogsForStandupSpeechUseCase.tsx
  extensions/my-daily-log/src/domain/loggedDay/GetLoggedMonthsUseCase.tsx
  extensions/my-daily-log/src/domain/loggedDay/LoggedDay.tsx
  extensions/my-daily-log/src/domain/loggedDay/LoggedMonth.tsx
  extensions/my-daily-log/src/factories/getDailyLogsForMonthUseCaseFactory.tsx
  extensions/my-daily-log/src/factories/getDailyLogsForStandupSpeechUseCaseFactory.tsx
  extensions/my-daily-log/src/factories/getLoggedMonthsUseCaseFactory.tsx
  extensions/my-daily-log/src/summaryOfAMonth.tsx
Labels: extension fix / improvement, OP is author, extension: my-daily-log

#7825 Update extension Anybox
  extensions/anybox/CHANGELOG.md
  extensions/anybox/package-lock.json
  extensions/anybox/src/components/AnydockItem.tsx
  extensions/anybox/src/components/CollectionForm.tsx
  extensions/anybox/src/components/LinkItem.tsx
  extensions/anybox/src/saveNote.tsx
  extensions/anybox/src/search.tsx
  extensions/anybox/src/searchCollection.tsx
  extensions/anybox/src/showList.tsx
  extensions/anybox/src/utilities/fetch.tsx
Labels: extension fix / improvement, OP is author, extension: anybox

#7766 Add music-timer extension
  extensions/music-timer/.eslintrc.json
  extensions/music-timer/.gitignore
  extensions/music-timer/.prettierrc
  extensions/music-timer/CHANGELOG.md
  extensions/music-timer/README.md
  extensions/music-timer/assets/list-icon.png
  extensions/music-timer/assets/music_timer_command.png
  extensions/music-timer/assets/music_timer_icon.png
  extensions/music-timer/metadata/screenshot-01.png
  extensions/music-timer/metadata/screenshot-02.png
  extensions/music-timer/package-lock.json
  extensions/music-timer/package.json
  extensions/music-timer/src/index.tsx
  extensions/music-timer/src/utils.tsx
  extensions/music-timer/tsconfig.json
Labels: new extension, status: awaiting response from dev

#7814 [Goodreads] Fixed the open in browser link on search page
  extensions/goodreads/CHANGELOG.md
  extensions/goodreads/README.md
  extensions/goodreads/src/search-books-page.tsx
Labels: extension fix / improvement, OP is author, extension: goodreads

#7823 Getsound extension updated README
  extensions/getsound/README.md
Labels: extension fix / improvement, OP is author, extension: getsound

#7824 [GitHub] TypeError: Cannot read properties of null (reading 'name')
  extensions/github/CHANGELOG.md
  extensions/github/src/api/issue.graphql
  extensions/github/src/components/IssueActions.tsx
Labels: extension fix / improvement, OP is contributor, extension: github

#7839 Sanitize file name for YT downloader extension
  extensions/youtube-downloader/CHANGELOG.md
  extensions/youtube-downloader/package-lock.json
  extensions/youtube-downloader/package.json
  extensions/youtube-downloader/src/utils.ts
Labels: extension fix / improvement, OP is author, extension: youtube-downloader

#7836 Fix Apple Maps Search fallback command
  extensions/apple-maps-search/CHANGELOG.md
  extensions/apple-maps-search/package-lock.json
  extensions/apple-maps-search/src/searchMaps.ts
Labels: extension fix / improvement, OP is author, extension: apple-maps-search

#7832 Update raycast-ollama extension
  extensions/raycast-ollama/CHANGELOG.md
  extensions/raycast-ollama/README.md
  extensions/raycast-ollama/src/api/ollama.ts
Labels: extension fix / improvement, OP is author, extension: raycast-ollama

#7841 [LastPass] Add ability to mask text from error message
  extensions/lastpass/CHANGELOG.md
  extensions/lastpass/src/cli.ts
  extensions/lastpass/src/components/accountDetail.tsx
  extensions/lastpass/src/components/errorDetails.tsx
  extensions/lastpass/src/components/unknownError.tsx
  extensions/lastpass/src/index.tsx
Labels: extension fix / improvement, OP is author, extension: lastpass

#7843 GitHub: Support all pull request templates
  extensions/github/CHANGELOG.md
  extensions/github/package-lock.json
  extensions/github/package.json
  extensions/github/src/api/repository.graphql
  extensions/github/src/create-pull-request.tsx
  extensions/github/src/generated/graphql.ts
  extensions/github/src/helpers/pull-request.ts
Labels: extension fix / improvement, OP is author, extension: github

#7837 [GitLab] Fix dynamic color for Menu Bar command icons
  extensions/gitlab/CHANGELOG.md
  extensions/gitlab/package.json
  extensions/gitlab/src/components/mr.tsx
  extensions/gitlab/src/issuemenu.tsx
  extensions/gitlab/src/mrmenu.tsx
Labels: extension fix / improvement, extension: gitlab

#7789 Add raycast-wca extension
  extensions/raycast-wca/.eslintrc.json
  extensions/raycast-wca/.gitignore
  extensions/raycast-wca/.prettierrc
  extensions/raycast-wca/CHANGELOG.md
  extensions/raycast-wca/README.md
  extensions/raycast-wca/assets/command-icon.png
  extensions/raycast-wca/metadata/raycast-wca-1.png
  extensions/raycast-wca/metadata/raycast-wca-2.png
  extensions/raycast-wca/package-lock.json
  extensions/raycast-wca/package.json
  extensions/raycast-wca/src/index.jsx
Labels: new extension

#7801 New Extension: create-remix
  extensions/raycast-create-remix/.eslintrc.json
  extensions/raycast-create-remix/.gitignore
  extensions/raycast-create-remix/.prettierrc
  extensions/raycast-create-remix/CHANGELOG.md
  extensions/raycast-create-remix/LICENSE
  extensions/raycast-create-remix/README.md
  extensions/raycast-create-remix/assets/command-icon-remix.png
  extensions/raycast-create-remix/metadata/create-remix-01.png
  extensions/raycast-create-remix/metadata/create-remix-02.png
  extensions/raycast-create-remix/metadata/create-remix-03.png
  extensions/raycast-create-remix/package-lock.json
  extensions/raycast-create-remix/package.json
  extensions/raycast-create-remix/src/index.tsx
  extensions/raycast-create-remix/tsconfig.json
Labels: new extension

#7828 [System Monitor] Added possibility to select active tab
  extensions/system-monitor/CHANGELOG.md
  extensions/system-monitor/package.json
  extensions/system-monitor/src/Cpu/CpuMonitor.tsx
  extensions/system-monitor/src/Memory/MemoryMonitor.tsx
  extensions/system-monitor/src/Network/NetworkMonitor.tsx
  extensions/system-monitor/src/Power/PowerMonitor.tsx
  extensions/system-monitor/src/system-monitor.tsx
Labels: extension fix / improvement, OP is contributor, extension: raycast-system-monitor

#7826 Update neodb extension
  extensions/neodb/CHANGELOG.md
  extensions/neodb/package-lock.json
  extensions/neodb/src/ItemDetail.tsx
  extensions/neodb/src/search.tsx
Labels: extension fix / improvement, OP is author, extension: neodb

#7586 [GitHub For Enterprise] update graphql-request to v6
  extensions/github-for-enterprise/CHANGELOG.md
  extensions/github-for-enterprise/package-lock.json
  extensions/github-for-enterprise/package.json
  extensions/github-for-enterprise/src/utils/index.ts
Labels: extension fix / improvement, OP is contributor, extension: github-for-enterprise

#7762 Update roam-research extension
  extensions/roam-research/.gitignore
  extensions/roam-research/CHANGELOG.md
  extensions/roam-research/README.md
  extensions/roam-research/assets/favicon.png
  extensions/roam-research/assets/icon.png
  extensions/roam-research/assets/icon@dark.png
  extensions/roam-research/media/api-tokens-settings.png
  extensions/roam-research/metadata/roam-research-1.png
  extensions/roam-research/metadata/roam-research-2.png
  extensions/roam-research/metadata/roam-research-3.png
  extensions/roam-research/metadata/roam-research-4.png
  extensions/roam-research/metadata/roam-research-5.png
  extensions/roam-research/metadata/roam-research-6.png
  extensions/roam-research/package-lock.json
  extensions/roam-research/package.json
  extensions/roam-research/src/background.ts
  extensions/roam-research/src/cache.ts
  extensions/roam-research/src/components.tsx
  extensions/roam-research/src/create-graph-quicklink.tsx
  extensions/roam-research/src/daily-note.tsx
  extensions/roam-research/src/detail.tsx
  extensions/roam-research/src/globals.d.ts
  extensions/roam-research/src/index.tsx
  extensions/roam-research/src/list.tsx
  extensions/roam-research/src/new-graph.tsx
  extensions/roam-research/src/parse-template.ts
  extensions/roam-research/src/quick-capture.tsx
  extensions/roam-research/src/random.tsx
  extensions/roam-research/src/roam-api-sdk-copy.ts
  extensions/roam-research/src/roamApi.ts
  extensions/roam-research/src/search.tsx
  extensions/roam-research/src/utils.ts
Labels: extension fix / improvement, extension: roam-research

#7830 Update splitwise extension
  extensions/Splitwise/.gitignore
  extensions/Splitwise/CHANGELOG.md
  extensions/Splitwise/README.md
  extensions/Splitwise/package.json
  extensions/Splitwise/src/api.ts
  extensions/Splitwise/src/splitwise.tsx
  extensions/Splitwise/src/types.ts
Labels: extension fix / improvement, extension: splitwise

#7861 Added lantin
  extensions/google-translate/CHANGELOG.md
  extensions/google-translate/package-lock.json
  extensions/google-translate/package.json
  extensions/google-translate/src/supportedLanguages.json
  extensions/google-translate/src/supportedLanguagesByCode.json
  extensions/google-translate/src/translate-form.tsx
  extensions/google-translate/src/translate.tsx
Labels: extension fix / improvement, extension: translate

#7864 add safe method for getting language flag
  extensions/google-translate/CHANGELOG.md
  extensions/google-translate/src/LanguagesManager/AddLanguageForm.tsx
  extensions/google-translate/src/LanguagesManager/LanguagesManagerList.tsx
  extensions/google-translate/src/languages.ts
  extensions/google-translate/src/translate-form.tsx
  extensions/google-translate/src/translate.tsx
  extensions/google-translate/src/utils.ts
Labels: extension fix / improvement, OP is author, OP is contributor, extension: translate

#7771 Add runcloud extension
  extensions/runcloud/.eslintrc.json
  extensions/runcloud/.gitignore
  extensions/runcloud/.prettierrc
  extensions/runcloud/CHANGELOG.md
  extensions/runcloud/README.md
  extensions/runcloud/assets/icon.png
  extensions/runcloud/metadata/runcloud-1.png
  extensions/runcloud/metadata/runcloud-2.png
  extensions/runcloud/package-lock.json
  extensions/runcloud/package.json
  extensions/runcloud/src/cacheWebapps.tsx
  extensions/runcloud/src/servers.tsx
  extensions/runcloud/src/webapps.tsx
  extensions/runcloud/tsconfig.json
Labels: new extension

#7878 Update ossinsight extension
  extensions/ossinsight/CHANGELOG.md
  extensions/ossinsight/metadata/ossinsight-1.png
  extensions/ossinsight/metadata/ossinsight-2.png
  extensions/ossinsight/metadata/ossinsight-trending-repos.png
  extensions/ossinsight/src/index.tsx
  extensions/ossinsight/src/types.ts
  extensions/ossinsight/src/utils.ts
Labels: extension fix / improvement, OP is contributor, extension: ossinsight

#7871 Update pick-your-wallpaper extension
  extensions/pick-your-wallpaper/CHANGELOG.md
  extensions/pick-your-wallpaper/package.json
  extensions/pick-your-wallpaper/src/choose-wallpaper.tsx
  extensions/pick-your-wallpaper/src/types/file.ts
  extensions/pick-your-wallpaper/src/types/preferences.ts
Labels: extension fix / improvement, extension: pick-your-wallpaper

#7804 Add type-the-alphabet extension
  extensions/type-the-alphabet/.eslintrc.json
  extensions/type-the-alphabet/.gitignore
  extensions/type-the-alphabet/.prettierrc
  extensions/type-the-alphabet/CHANGELOG.md
  extensions/type-the-alphabet/README.md
  extensions/type-the-alphabet/assets/command-icon.png
  extensions/type-the-alphabet/metadata/type-the-alphabet-1.png
  extensions/type-the-alphabet/metadata/type-the-alphabet-2.png
  extensions/type-the-alphabet/metadata/type-the-alphabet-3.png
  extensions/type-the-alphabet/package-lock.json
  extensions/type-the-alphabet/package.json
  extensions/type-the-alphabet/src/typethealphabet.jsx
  extensions/type-the-alphabet/tsconfig.json
Labels: new extension

#7884 Google Workspace: Fix link opening in wrong Google account
  extensions/google-workspace/CHANGELOG.md
  extensions/google-workspace/src/components/FileListItem.tsx
  extensions/google-workspace/src/components/withGoogleAuth.tsx
  extensions/google-workspace/src/search-google-drive-files.tsx
  extensions/google-workspace/src/starred-google-drive-files.tsx
Labels: extension fix / improvement, OP is author, extension: google-workspace

#7881 Update gitlab-docs extension
  extensions/gitlab-docs/CHANGELOG.md
  extensions/gitlab-docs/src/docs.tsx
Labels: extension fix / improvement, OP is author, extension: gitlab-docs

#7877 Update papermatch extension - allow .heic images
  extensions/papermatch/CHANGELOG.md
  extensions/papermatch/package.json
  extensions/papermatch/src/utils.ts
Labels: extension fix / improvement, extension: papermatch

#7874 Update arc extension
  extensions/arc/CHANGELOG.md
  extensions/arc/package.json
  extensions/arc/src/actions.tsx
  extensions/arc/src/list.tsx
  extensions/arc/src/utils.ts
Labels: extension fix / improvement, extension: arc

#7890 Update reclaim-ai extension
  extensions/reclaim-ai/CHANGELOG.md
  extensions/reclaim-ai/metadata/reclaim-7.png
  extensions/reclaim-ai/package.json
  extensions/reclaim-ai/src/hooks/useTask.tsx
  extensions/reclaim-ai/src/list-tasks.tsx
  extensions/reclaim-ai/src/types/task.ts
Labels: extension fix / improvement, extension: reclaim-ai

#7833 Update imessage-2fa extension
  extensions/imessage-2fa/CHANGELOG.md
  extensions/imessage-2fa/package.json
  extensions/imessage-2fa/src/utils.ts
Labels: extension fix / improvement, extension: imessage-2fa

#7857 [Visual Studio Code] - Added check for path exists
  extensions/visual-studio-code-recent-projects/CHANGELOG.md
  extensions/visual-studio-code-recent-projects/src/db.ts
  extensions/visual-studio-code-recent-projects/src/index.tsx
Labels: extension fix / improvement, OP is contributor, extension: visual-studio-code

#7889 Update whois extension
  extensions/whois/CHANGELOG.md
  extensions/whois/package-lock.json
  extensions/whois/package.json
  extensions/whois/raycast-env.d.ts
  extensions/whois/src/util.ts
  extensions/whois/src/whois.tsx
Labels: extension fix / improvement, extension: whois

#7750 [pipe-commands] feat: add comma-separated conversion utils
  extensions/pipe-commands/CHANGELOG.md
  extensions/pipe-commands/assets/commands/text/convert-comma-to-newline.sh
  extensions/pipe-commands/assets/commands/text/convert-newline-to-comma.sh
Labels: extension fix / improvement, extension: pipe-commands

#7899 [Goodreads] Enrich book details page with ratings distribution and user ratings
  extensions/goodreads/CHANGELOG.md
  extensions/goodreads/README.md
  extensions/goodreads/metadata/goodreads-3.png
  extensions/goodreads/metadata/goodreads-4.png
  extensions/goodreads/src/book-details.tsx
  extensions/goodreads/src/types.ts
  extensions/goodreads/src/utils.ts
Labels: extension fix / improvement, OP is author, extension: goodreads

#7879 [Radix] Update Radix Primitives and added Radix Colors and Themes
  extensions/radix/.gitignore
  extensions/radix/CHANGELOG.md
  extensions/radix/package.json
  extensions/radix/src/colors.tsx
  extensions/radix/src/primitives.tsx
  extensions/radix/src/themes.tsx
Labels: extension fix / improvement, extension: radix

#7880 Update ossinsight extension
  extensions/ossinsight/.gitignore
  extensions/ossinsight/CHANGELOG.md
  extensions/ossinsight/package-lock.json
  extensions/ossinsight/package.json
  extensions/ossinsight/src/index.tsx
Labels: extension fix / improvement, OP is contributor, extension: ossinsight

#7701 Add raycast-arcade extension
  extensions/raycast-arcade/.eslintrc.json
  extensions/raycast-arcade/.gitignore
  extensions/raycast-arcade/.prettierrc
  extensions/raycast-arcade/CHANGELOG.md
  extensions/raycast-arcade/README.md
  extensions/raycast-arcade/assets/raycast-arcade.png
  extensions/raycast-arcade/assets/sfx/dinoCoinSFX.mov
  extensions/raycast-arcade/assets/sfx/dinoEndSFX.mov
  extensions/raycast-arcade/assets/sfx/dinoJumpSFX.mov
  extensions/raycast-arcade/metadata/raycast-arcade-1.png
  extensions/raycast-arcade/metadata/raycast-arcade-2.png
  extensions/raycast-arcade/metadata/raycast-arcade-3.png
  extensions/raycast-arcade/package-lock.json
  extensions/raycast-arcade/package.json
  extensions/raycast-arcade/src/dino.jsx
  extensions/raycast-arcade/src/snake.jsx
  extensions/raycast-arcade/src/tetris.jsx
  extensions/raycast-arcade/src/wordle.jsx
  extensions/raycast-arcade/src/wordlist/all.js
  extensions/raycast-arcade/src/wordlist/allowed.js
Labels: new extension

#7892 Update music extension
  extensions/music/.gitignore
  extensions/music/CHANGELOG.md
  extensions/music/package.json
  extensions/music/src/dislike-skip.tsx
Labels: extension fix / improvement, extension: music

#7636 [todo-list] Implement sorting
  extensions/todo-list/changelog.md
  extensions/todo-list/package.json
  extensions/todo-list/src/atoms.ts
  extensions/todo-list/src/config.ts
  extensions/todo-list/src/hooks/useTodo.ts
  extensions/todo-list/src/menu_bar.tsx
  extensions/todo-list/src/todo_item.tsx
  extensions/todo-list/src/todo_section.tsx
  extensions/todo-list/src/utils.ts
  extensions/todo-list/tsconfig.json
Labels: extension fix / improvement, extension: todo-list

#7920 [Obsidian] Fix cache fallback value bug
  extensions/obsidian/CHANGELOG.md
  extensions/obsidian/src/utils/data/cache.tsx
Labels: extension fix / improvement, OP is author, extension: obsidian

#7913 Zotero/add more icons
  extensions/zotero/CHANGELOG.md
  extensions/zotero/assets/preprint.png
  extensions/zotero/src/common/View.tsx
Labels: extension fix / improvement, OP is contributor, extension: zotero

#7845 Add cinemas-nos extension
  extensions/cinemas-nos/.eslintrc.json
  extensions/cinemas-nos/.gitignore
  extensions/cinemas-nos/.prettierrc
  extensions/cinemas-nos/CHANGELOG.md
  extensions/cinemas-nos/README.md
  extensions/cinemas-nos/assets/command-icon.png
  extensions/cinemas-nos/metadata/cinemas-nos-1.png
  extensions/cinemas-nos/metadata/cinemas-nos-2.png
  extensions/cinemas-nos/metadata/cinemas-nos-3.png
  extensions/cinemas-nos/metadata/cinemas-nos-4.png
  extensions/cinemas-nos/package-lock.json
  extensions/cinemas-nos/package.json
  extensions/cinemas-nos/src/api.ts
  extensions/cinemas-nos/src/index.tsx
  extensions/cinemas-nos/src/types.ts
  extensions/cinemas-nos/tsconfig.json
Labels: new extension

#7931 [Update] IP Geolocation
  extensions/ip-geolocation/CHANGELOG.md
  extensions/ip-geolocation/package-lock.json
  extensions/ip-geolocation/package.json
  extensions/ip-geolocation/src/components/action-open-command-preferences.tsx
  extensions/ip-geolocation/src/components/action-open-extension-preferences.tsx
  extensions/ip-geolocation/src/copy-local-ip-address.tsx
  extensions/ip-geolocation/src/hooks/hooks.ts
Labels: extension fix / improvement, OP is author, extension: ip-geolocation

#7865 Add Unkey extension
  extensions/unkey/.eslintrc.json
  extensions/unkey/.gitignore
  extensions/unkey/.prettierrc
  extensions/unkey/CHANGELOG.md
  extensions/unkey/README.md
  extensions/unkey/assets/unkey.png
  extensions/unkey/metadata/unkey-1-list-apis.png
  extensions/unkey/metadata/unkey-2-add-api.png
  extensions/unkey/metadata/unkey-3-list-keys-in-api.png
  extensions/unkey/metadata/unkey-4-update-key-in-api.png
  extensions/unkey/metadata/unkey-5-verify-key.png
  extensions/unkey/package-lock.json
  extensions/unkey/package.json
  extensions/unkey/src/components/ErrorComponent.tsx
  extensions/unkey/src/dashboard.tsx
  extensions/unkey/src/utils/api.ts
  extensions/unkey/src/utils/constants.ts
  extensions/unkey/src/utils/types.ts
  extensions/unkey/src/verify-key.tsx
  extensions/unkey/tsconfig.json
Labels: new extension

#7940 Update raycast-ollama extension
  extensions/raycast-ollama/CHANGELOG.md
  extensions/raycast-ollama/README.md
  extensions/raycast-ollama/metadata/raycast-ollama-1.png
  extensions/raycast-ollama/metadata/raycast-ollama-2.png
  extensions/raycast-ollama/metadata/raycast-ollama-3.png
  extensions/raycast-ollama/metadata/raycast-ollama-4.png
  extensions/raycast-ollama/metadata/raycast-ollama-5.png
  extensions/raycast-ollama/metadata/raycast-ollama-6.png
  extensions/raycast-ollama/package.json
  extensions/raycast-ollama/src/api/errors.ts
  extensions/raycast-ollama/src/api/main.tsx
  extensions/raycast-ollama/src/api/ollama.ts
  extensions/raycast-ollama/src/api/types.ts
  extensions/raycast-ollama/src/ollama-ask.tsx
  extensions/raycast-ollama/src/ollama-casual.tsx
  extensions/raycast-ollama/src/ollama-chat.tsx
  extensions/raycast-ollama/src/ollama-code-explain.tsx
  extensions/raycast-ollama/src/ollama-confident.tsx
  extensions/raycast-ollama/src/ollama-custom-ask.tsx
  extensions/raycast-ollama/src/ollama-custom-chat.tsx
  extensions/raycast-ollama/src/ollama-custom-command.tsx
  extensions/raycast-ollama/src/ollama-custom-create.tsx
  extensions/raycast-ollama/src/ollama-explain.tsx
  extensions/raycast-ollama/src/ollama-fix-spelling-grammar.tsx
  extensions/raycast-ollama/src/ollama-friendly.tsx
  extensions/raycast-ollama/src/ollama-improve-writing.tsx
  extensions/raycast-ollama/src/ollama-longer.tsx
  extensions/raycast-ollama/src/ollama-models.tsx
  extensions/raycast-ollama/src/ollama-professional.tsx
  extensions/raycast-ollama/src/ollama-shorter.tsx
  extensions/raycast-ollama/src/ollama-translate.tsx
  extensions/raycast-ollama/src/ollama-tweet.tsx
Labels: extension fix / improvement, OP is author, extension: raycast-ollama

#7944 [Xcode] Keep section order in "Search Recent Projects"
  extensions/xcode/CHANGELOG.md
  extensions/xcode/package-lock.json
  extensions/xcode/package.json
  extensions/xcode/src/components/xcode-project-list/xcode-project-list.component.tsx
Labels: extension fix / improvement, OP is author, extension: xcode

#7816 Add texts extension
  extensions/texts/.eslintrc.json
  extensions/texts/.gitignore
  extensions/texts/.prettierrc
  extensions/texts/CHANGELOG.md
  extensions/texts/README.md
  extensions/texts/assets/extension_icon.png
  extensions/texts/metadata/text-1.png
  extensions/texts/metadata/text-2.png
  extensions/texts/metadata/text-3.png
  extensions/texts/package-lock.json
  extensions/texts/package.json
  extensions/texts/src/mail.tsx
  extensions/texts/src/telegram.tsx
  extensions/texts/src/wechat.tsx
  extensions/texts/src/whatsapp.tsx
  extensions/texts/src/wrapper.tsx
  extensions/texts/tsconfig.json
Labels: new extension

#7945 [Home Assistant] Fix missing HACS entities
  extensions/homeassistant/CHANGELOG.md
  extensions/homeassistant/src/components/update/menu.tsx
Labels: extension fix / improvement, OP is author, extension: homeassistant

#7873 [heroicons] Add actions to copy/paste import declaration
  extensions/heroicons/.eslintrc.json
  extensions/heroicons/.gitignore
  extensions/heroicons/CHANGELOG.md
  extensions/heroicons/README.md
  extensions/heroicons/package-lock.json
  extensions/heroicons/package.json
  extensions/heroicons/src/icons.tsx
  extensions/heroicons/tsconfig.json
Labels: extension fix / improvement, extension: heroicons

#7937 Update bitwarden extension
  extensions/bitwarden/.gitignore
  extensions/bitwarden/CHANGELOG.md
  extensions/bitwarden/package.json
  extensions/bitwarden/src/components/searchVault/ItemActionPanel.tsx
  extensions/bitwarden/src/components/searchVault/actions/PasteTotpAction.tsx
  extensions/bitwarden/src/components/searchVault/actions/index.ts
Labels: extension fix / improvement, extension: bitwarden

#7954 Update raycast-arcade extension
  extensions/raycast-arcade/CHANGELOG.md
  extensions/raycast-arcade/README.md
  extensions/raycast-arcade/assets/2048.png
  extensions/raycast-arcade/assets/dinosaur.png
  extensions/raycast-arcade/assets/snake.png
  extensions/raycast-arcade/assets/tetris.png
  extensions/raycast-arcade/assets/wordle.png
  extensions/raycast-arcade/metadata/raycast-arcade-1.png
  extensions/raycast-arcade/metadata/raycast-arcade-2.png
  extensions/raycast-arcade/metadata/raycast-arcade-3.png
  extensions/raycast-arcade/metadata/raycast-arcade-4.png
  extensions/raycast-arcade/metadata/raycast-arcade-5.png
  extensions/raycast-arcade/metadata/raycast-arcade-6.png
  extensions/raycast-arcade/package-lock.json
  extensions/raycast-arcade/package.json
  extensions/raycast-arcade/src/dino.jsx
  extensions/raycast-arcade/src/game2048.jsx
  extensions/raycast-arcade/src/search.jsx
  extensions/raycast-arcade/src/snake.jsx
  extensions/raycast-arcade/src/tetris.jsx
  extensions/raycast-arcade/src/wordle.jsx
Labels: extension fix / improvement, extension: raycast-arcade

#7894 Add raycast-link-lock extension
  extensions/raycast-link-lock/.eslintrc.json
  extensions/raycast-link-lock/.gitignore
  extensions/raycast-link-lock/.prettierrc
  extensions/raycast-link-lock/CHANGELOG.md
  extensions/raycast-link-lock/README.md
  extensions/raycast-link-lock/assets/command-icon.png
  extensions/raycast-link-lock/metadata/raycast-link-lock-1.png
  extensions/raycast-link-lock/package-lock.json
  extensions/raycast-link-lock/package.json
  extensions/raycast-link-lock/src/index.tsx
  extensions/raycast-link-lock/tsconfig.json
Labels: new extension

#7936 [amazon-aws] Fix region in secrets manager link
  extensions/amazon-aws/CHANGELOG.md
  extensions/amazon-aws/package-lock.json
  extensions/amazon-aws/package.json
  extensions/amazon-aws/src/actions/ecs.ts
  extensions/amazon-aws/src/actions/logs.ts
  extensions/amazon-aws/src/cloudformation.tsx
  extensions/amazon-aws/src/cloudwatch.tsx
  extensions/amazon-aws/src/codepipeline.tsx
  extensions/amazon-aws/src/components/cloudwatch/CloudwatchLogs.tsx
  extensions/amazon-aws/src/components/ecs/ECSClusterServiceTasks.tsx
  extensions/amazon-aws/src/components/ecs/ECSClusterServices.tsx
  extensions/amazon-aws/src/dynamodb.tsx
  extensions/amazon-aws/src/ec2.tsx
  extensions/amazon-aws/src/lambda.tsx
  extensions/amazon-aws/src/run-profile-script.tsx
  extensions/amazon-aws/src/s3.tsx
  extensions/amazon-aws/src/secrets.tsx
  extensions/amazon-aws/src/sqs.tsx
  extensions/amazon-aws/src/ssm.tsx
  extensions/amazon-aws/src/util/index.tsx
Labels: extension fix / improvement, OP is contributor, extension: aws

#7882 Add sanity extension
  extensions/sanity/.eslintrc.json
  extensions/sanity/.gitignore
  extensions/sanity/.prettierrc
  extensions/sanity/.vscode/settings.json
  extensions/sanity/CHANGELOG.md
  extensions/sanity/README.md
  extensions/sanity/assets/sanity-icon.png
  extensions/sanity/media/sanity-1.png
  extensions/sanity/metadata/sanity-1.png
  extensions/sanity/package-lock.json
  extensions/sanity/package.json
  extensions/sanity/src/search-projects.tsx
  extensions/sanity/src/types/Member.ts
  extensions/sanity/src/types/Project.ts
  extensions/sanity/src/types/Role.ts
  extensions/sanity/tsconfig.json
Labels: new extension

#7903 Add larajobs-search extension
  extensions/larajobs-search/.eslintrc.json
  extensions/larajobs-search/.gitignore
  extensions/larajobs-search/.prettierrc
  extensions/larajobs-search/CHANGELOG.md
  extensions/larajobs-search/README.md
  extensions/larajobs-search/assets/extension_icon.png
  extensions/larajobs-search/metadata/larajobs-search-1.png
  extensions/larajobs-search/package-lock.json
  extensions/larajobs-search/package.json
  extensions/larajobs-search/src/index.tsx
  extensions/larajobs-search/src/menu.tsx
  extensions/larajobs-search/src/types.ts
  extensions/larajobs-search/src/utils.ts
  extensions/larajobs-search/tsconfig.json
Labels: new extension

#7961 Notion: Update screenshots and fixes
  extensions/notion/CHANGELOG.md
  extensions/notion/metadata/Screenshot-0.png
  extensions/notion/metadata/Screenshot-1.png
  extensions/notion/metadata/Screenshot-2.png
  extensions/notion/metadata/Screenshot-3.png
  extensions/notion/metadata/notion-1.png
  extensions/notion/metadata/notion-2.png
  extensions/notion/metadata/notion-3.png
  extensions/notion/metadata/notion-4.png
  extensions/notion/metadata/notion-5.png
  extensions/notion/src/components/PageDetail.tsx
  extensions/notion/src/components/PageListItem.tsx
  extensions/notion/src/components/forms/CreateDatabaseForm.tsx
  extensions/notion/src/create-database-page.tsx
  extensions/notion/src/quick-capture.tsx
Labels: extension fix / improvement, OP is contributor, extension: notion

#7910 Add git-commands extension
  extensions/git-commands/.eslintrc.json
  extensions/git-commands/.gitignore
  extensions/git-commands/.prettierrc
  extensions/git-commands/CHANGELOG.md
  extensions/git-commands/README.md
  extensions/git-commands/assets/icon.png
  extensions/git-commands/metadata/git-commands-1.png
  extensions/git-commands/metadata/git-commands-2.png
  extensions/git-commands/metadata/git-commands-3.png
  extensions/git-commands/package-lock.json
  extensions/git-commands/package.json
  extensions/git-commands/src/alias.json
  extensions/git-commands/src/search-commands.tsx
  extensions/git-commands/src/types.d.ts
  extensions/git-commands/src/utils.ts
  extensions/git-commands/tsconfig.json
Labels: new extension

#7965 [Google Translate] Fix autodetect language
  extensions/google-translate/CHANGELOG.md
  extensions/google-translate/src/translate.tsx
Labels: extension fix / improvement, OP is author, extension: translate

#7963 Replace manual token with configstore authentication
  extensions/sanity/README.md
  extensions/sanity/package-lock.json
  extensions/sanity/package.json
  extensions/sanity/src/search-projects.tsx
  extensions/sanity/src/util/client.tsx
Labels: extension fix / improvement, extension: sanity

#7915 Add gyazo-uploader extension
  extensions/gyazo-uploader/.eslintrc.json
  extensions/gyazo-uploader/.gitignore
  extensions/gyazo-uploader/.prettierrc
  extensions/gyazo-uploader/CHANGELOG.md
  extensions/gyazo-uploader/README.md
  extensions/gyazo-uploader/assets/gyazo-icon.png
  extensions/gyazo-uploader/metadata/gyazo-uploader-1.png
  extensions/gyazo-uploader/metadata/gyazo-uploader-2.png
  extensions/gyazo-uploader/metadata/gyazo-uploader-3.png
  extensions/gyazo-uploader/package-lock.json
  extensions/gyazo-uploader/package.json
  extensions/gyazo-uploader/src/upload.tsx
  extensions/gyazo-uploader/tsconfig.json
Labels: new extension

#7702 Add manga-calendar extension
  extensions/manga-calendar/.eslintrc.json
  extensions/manga-calendar/.gitignore
  extensions/manga-calendar/.prettierrc
  extensions/manga-calendar/CHANGELOG.md
  extensions/manga-calendar/README.md
  extensions/manga-calendar/assets/command-icon.png
  extensions/manga-calendar/metadata/manga-calendar-1.png
  extensions/manga-calendar/metadata/manga-calendar-2.png
  extensions/manga-calendar/metadata/manga-calendar-3.png
  extensions/manga-calendar/metadata/manga-calendar-4.png
  extensions/manga-calendar/metadata/manga-calendar-5.png
  extensions/manga-calendar/package-lock.json
  extensions/manga-calendar/package.json
  extensions/manga-calendar/pnpm-lock.yaml
  extensions/manga-calendar/src/collections.tsx
  extensions/manga-calendar/src/commands/BrowseCollections.tsx
  extensions/manga-calendar/src/commands/CurrentMonthPublications.tsx
  extensions/manga-calendar/src/components/CollectionGridItem.tsx
  extensions/manga-calendar/src/components/CollectionList.tsx
  extensions/manga-calendar/src/components/DateDropdown.tsx
  extensions/manga-calendar/src/components/DetailsView.tsx
  extensions/manga-calendar/src/components/MangaListItem.tsx
  extensions/manga-calendar/src/components/OpenPublisherStore.tsx
  extensions/manga-calendar/src/index.tsx
  extensions/manga-calendar/src/types/index.ts
  extensions/manga-calendar/src/utils/generateKey.ts
  extensions/manga-calendar/src/utils/months.ts
  extensions/manga-calendar/src/utils/normalize.ts
  extensions/manga-calendar/src/utils/scrapper.ts
  extensions/manga-calendar/tsconfig.json
Labels: new extension

#7921 Add spoiler-converter extension
  extensions/spoiler-converter/.eslintrc.json
  extensions/spoiler-converter/.gitignore
  extensions/spoiler-converter/.prettierrc
  extensions/spoiler-converter/CHANGELOG.md
  extensions/spoiler-converter/README.md
  extensions/spoiler-converter/assets/command-icon.png
  extensions/spoiler-converter/package-lock.json
  extensions/spoiler-converter/package.json
  extensions/spoiler-converter/src/index.tsx
  extensions/spoiler-converter/tsconfig.json
Labels: new extension

#7905 Things: Big update
  extensions/things/.eslintrc.json
  extensions/things/.gitignore
  extensions/things/CHANGELOG.md
  extensions/things/README.md
  extensions/things/package-lock.json
  extensions/things/package.json
  extensions/things/src/add-new-project.tsx
  extensions/things/src/add-new-todo.tsx
  extensions/things/src/api.ts
  extensions/things/src/components/EditTodo.tsx
  extensions/things/src/components/TodoList.tsx
  extensions/things/src/components/TodoListEmptyView.tsx
  extensions/things/src/components/TodoListItem.tsx
  extensions/things/src/components/TodoListItemActions.tsx
  extensions/things/src/helpers.ts
  extensions/things/src/shared.ts
  extensions/things/src/show-anytime-list.jsx
  extensions/things/src/show-anytime-list.tsx
  extensions/things/src/show-inbox-list.jsx
  extensions/things/src/show-inbox-list.tsx
  extensions/things/src/show-list.tsx
  extensions/things/src/show-someday-list.jsx
  extensions/things/src/show-someday-list.tsx
  extensions/things/src/show-today-in-menu-bar.tsx
  extensions/things/src/show-today-list.jsx
  extensions/things/src/show-today-list.tsx
  extensions/things/src/show-upcoming-list.jsx
  extensions/things/src/show-upcoming-list.tsx
  extensions/things/src/utils.ts
  extensions/things/tsconfig.json
Labels: extension fix / improvement, extension: things

#8013 feat(shadcn-ui): update documentation and readme
  extensions/shadcn-ui/CHANGELOG.md
  extensions/shadcn-ui/README.md
  extensions/shadcn-ui/assets/shadcn-ui-home.png
  extensions/shadcn-ui/src/documentation/shadcn-ui-documentation.ts
Labels: extension fix / improvement, OP is author, extension: shadcn-ui

#8007 [Update] Set Raycast Wallpaper
  extensions/raycast-wallpaper/CHANGELOG.md
  extensions/raycast-wallpaper/package-lock.json
  extensions/raycast-wallpaper/package.json
  extensions/raycast-wallpaper/src/auto-switch-raycast-wallpaper.ts
  extensions/raycast-wallpaper/src/components/action-on-raycast-wallpaper.tsx
  extensions/raycast-wallpaper/src/components/action-open-preferences.tsx
  extensions/raycast-wallpaper/src/components/raycast-wallpaper-grid.tsx
  extensions/raycast-wallpaper/src/components/raycast-wallpaper-list.tsx
  extensions/raycast-wallpaper/src/hooks/hooks.ts
  extensions/raycast-wallpaper/src/preview-raycast-wallpaper.tsx
  extensions/raycast-wallpaper/src/set-raycast-wallpaper.tsx
  extensions/raycast-wallpaper/src/types/types.ts
  extensions/raycast-wallpaper/src/utils/common-utils.ts
  extensions/raycast-wallpaper/src/utils/constants.ts
Labels: extension fix / improvement, OP is author, extension: raycast-wallpaper

#8016 fix: shortcut for close tab doesn't work
  extensions/google-chrome/CHANGELOG.md
  extensions/google-chrome/src/components/ChromeActions.tsx
Labels: extension fix / improvement, extension: google-chrome

#8018 [toggl-track] Create functionality for project tasks
  extensions/toggl-track/CHANGELOG.md
  extensions/toggl-track/src/components/CreateTimeEntryForm.tsx
  extensions/toggl-track/src/context/index.tsx
  extensions/toggl-track/src/storage/index.ts
  extensions/toggl-track/src/storage/types.ts
  extensions/toggl-track/src/toggl/index.ts
  extensions/toggl-track/src/toggl/types.ts
Labels: extension fix / improvement, OP is contributor, extension: toggl-track

#8031 Update git-commands extension
  extensions/git-commands/CHANGELOG.md
  extensions/git-commands/metadata/git-commands-1.png
  extensions/git-commands/metadata/git-commands-2.png
  extensions/git-commands/metadata/git-commands-3.png
  extensions/git-commands/metadata/git-commands-4.png
  extensions/git-commands/package-lock.json
  extensions/git-commands/package.json
Labels: extension fix / improvement, OP is author, extension: git-commands

#7998 Bugfix/sequel ace
  extensions/sequel-ace/CHANGELOG.md
  extensions/sequel-ace/package.json
  extensions/sequel-ace/src/database_list.tsx
Labels: extension fix / improvement, extension: sequel-ace

#8002 Update spoiler-converter extension
  extensions/spoiler-converter/CHANGELOG.md
  extensions/spoiler-converter/package.json
  extensions/spoiler-converter/src/index.tsx
Labels: extension fix / improvement, extension: spoiler-converter

#7934 Add storybook-launcher extension
  extensions/storybook-launcher/.eslintrc.json
  extensions/storybook-launcher/.gitignore
  extensions/storybook-launcher/.prettierrc
  extensions/storybook-launcher/CHANGELOG.md
  extensions/storybook-launcher/README.md
  extensions/storybook-launcher/assets/storybook-launcher.png
  extensions/storybook-launcher/metadata/storybook-launcher-1.png
  extensions/storybook-launcher/metadata/storybook-launcher-2.png
  extensions/storybook-launcher/metadata/storybook-launcher-3.png
  extensions/storybook-launcher/package-lock.json
  extensions/storybook-launcher/package.json
  extensions/storybook-launcher/src/add-storybook.tsx
  extensions/storybook-launcher/src/components/AddStorybookAction.tsx
  extensions/storybook-launcher/src/components/AddStorybookForm.tsx
  extensions/storybook-launcher/src/components/Components.tsx
  extensions/storybook-launcher/src/components/DeleteStorybookAction.tsx
  extensions/storybook-launcher/src/components/Stories.tsx
  extensions/storybook-launcher/src/components/Storybooks.tsx
  extensions/storybook-launcher/src/index.tsx
  extensions/storybook-launcher/src/types.ts
  extensions/storybook-launcher/src/utils.ts
  extensions/storybook-launcher/tsconfig.json
Labels: new extension

#8021 Add metronome extension
  extensions/metronome/.eslintrc.json
  extensions/metronome/.gitignore
  extensions/metronome/.prettierrc
  extensions/metronome/CHANGELOG.md
  extensions/metronome/README.md
  extensions/metronome/assets/command-icon.png
  extensions/metronome/assets/list-icon.png
  extensions/metronome/assets/metronome-left.png
  extensions/metronome/assets/metronome-right.png
  extensions/metronome/assets/sfx/metronome-click.wav
  extensions/metronome/assets/sfx/metronome-click_lower.wav
  extensions/metronome/package-lock.json
  extensions/metronome/package.json
  extensions/metronome/src/index.tsx
  extensions/metronome/tsconfig.json
Labels: new extension

#8017 Add toggle-scroll-bars-visibility extension
  extensions/toggle-scroll-bars-visibility/.eslintrc.json
  extensions/toggle-scroll-bars-visibility/.gitignore
  extensions/toggle-scroll-bars-visibility/.prettierrc
  extensions/toggle-scroll-bars-visibility/CHANGELOG.md
  extensions/toggle-scroll-bars-visibility/README.md
  extensions/toggle-scroll-bars-visibility/assets/extension-icon.png
  extensions/toggle-scroll-bars-visibility/metadata/toggle-scroll-bars-visibility-1.png
  extensions/toggle-scroll-bars-visibility/package-lock.json
  extensions/toggle-scroll-bars-visibility/package.json
  extensions/toggle-scroll-bars-visibility/src/data/constants.ts
  extensions/toggle-scroll-bars-visibility/src/set-always.ts
  extensions/toggle-scroll-bars-visibility/src/set-automatic.ts
  extensions/toggle-scroll-bars-visibility/src/set-when-scrolling.ts
  extensions/toggle-scroll-bars-visibility/src/toggle.ts
  extensions/toggle-scroll-bars-visibility/src/types/index.ts
  extensions/toggle-scroll-bars-visibility/src/utils/index.ts
  extensions/toggle-scroll-bars-visibility/tsconfig.json
Labels: new extension

#8039 Google Workspace: Don't append authuser when opening a folder
  extensions/google-workspace/.gitignore
  extensions/google-workspace/src/components/FileListItem.tsx
  extensions/google-workspace/src/search-google-drive-files.tsx
Labels: extension fix / improvement, OP is contributor, extension: google-workspace

#8044 ChatGPT: Catch authentication errors when listing models.
  extensions/chatgpt/CHANGELOG.md
  extensions/chatgpt/src/hooks/useModel.tsx
Labels: extension fix / improvement, extension: chatgpt

#7966 Add monobank extension
  extensions/monobank/.eslintrc.json
  extensions/monobank/.gitignore
  extensions/monobank/.prettierrc
  extensions/monobank/CHANGELOG.md
  extensions/monobank/README.md
  extensions/monobank/assets/command-icon.png
  extensions/monobank/metadata/monobank-1.png
  extensions/monobank/metadata/monobank-2.png
  extensions/monobank/metadata/monobank-3.png
  extensions/monobank/metadata/monobank-4.png
  extensions/monobank/package-lock.json
  extensions/monobank/package.json
  extensions/monobank/src/accounts.tsx
  extensions/monobank/src/api/index.ts
  extensions/monobank/src/components/accounts/AccountActions.tsx
  extensions/monobank/src/components/accounts/AccountDetail.tsx
  extensions/monobank/src/components/accounts/JarActions.tsx
  extensions/monobank/src/components/accounts/JarDetail.tsx
  extensions/monobank/src/components/rates/RateActions.tsx
  extensions/monobank/src/data/constants.ts
  extensions/monobank/src/data/currency-data.ts
  extensions/monobank/src/hooks/index.ts
  extensions/monobank/src/hooks/useClientInfo.ts
  extensions/monobank/src/hooks/useCurrencyRates.ts
  extensions/monobank/src/hooks/useLocalStorage.ts
  extensions/monobank/src/rates.tsx
  extensions/monobank/src/types/accounts.ts
  extensions/monobank/src/types/api.ts
  extensions/monobank/src/types/index.ts
  extensions/monobank/src/utils/accounts/calculateTotal.ts
  extensions/monobank/src/utils/accounts/getAccountsAccessories.ts
  extensions/monobank/src/utils/accounts/getJarAccessories.ts
  extensions/monobank/src/utils/accounts/index.ts
  extensions/monobank/src/utils/accounts/transformAccount.ts
  extensions/monobank/src/utils/accounts/transformJar.ts
  extensions/monobank/src/utils/accounts/typeGuards.ts
  extensions/monobank/src/utils/common/filterOutPinnedItems.ts
  extensions/monobank/src/utils/common/formatCurrency.ts
  extensions/monobank/src/utils/common/getEmojiByCurrencyCode.ts
  extensions/monobank/src/utils/common/index.ts
  extensions/monobank/src/utils/common/satisfiesText.ts
  extensions/monobank/src/utils/index.ts
  extensions/monobank/src/utils/rates/filterRates.ts
  extensions/monobank/src/utils/rates/index.ts
  extensions/monobank/src/utils/rates/transformRate.ts
  extensions/monobank/src/views/EditForm.tsx
  extensions/monobank/tsconfig.json
Labels: new extension

#8023 Add tip-calculator extension
  extensions/tip-calculator/.eslintrc.json
  extensions/tip-calculator/.gitignore
  extensions/tip-calculator/.prettierrc
  extensions/tip-calculator/CHANGELOG.md
  extensions/tip-calculator/README.md
  extensions/tip-calculator/assets/command-icon.png
  extensions/tip-calculator/metadata/tip-calculator-1.png
  extensions/tip-calculator/package-lock.json
  extensions/tip-calculator/package.json
  extensions/tip-calculator/src/calculate-tip.tsx
  extensions/tip-calculator/tsconfig.json
Labels: new extension

#7993 Linear: Fix "Workflow state not in same team as issue" error
  extensions/linear/CHANGELOG.md
  extensions/linear/src/components/CreateSubIssues.tsx
Labels: extension fix / improvement, OP is author, OP is contributor, extension: linear

#7982 Add obsidian-smart-capture extension
  extensions/obsidian-smart-capture/.eslintrc.json
  extensions/obsidian-smart-capture/.gitignore
  extensions/obsidian-smart-capture/.prettierrc
  extensions/obsidian-smart-capture/CHANGELOG.md
  extensions/obsidian-smart-capture/README.md
  extensions/obsidian-smart-capture/assets/command-icon.png
  extensions/obsidian-smart-capture/metadata/lazy-obdisian-1.png
  extensions/obsidian-smart-capture/metadata/lazy-obdisian-2.png
  extensions/obsidian-smart-capture/metadata/lazy-obdisian-3.png
  extensions/obsidian-smart-capture/metadata/lazy-obdisian-4.png
  extensions/obsidian-smart-capture/package-lock.json
  extensions/obsidian-smart-capture/package.json
  extensions/obsidian-smart-capture/src/capture.tsx
  extensions/obsidian-smart-capture/src/components/AppendNoteForm.tsx
  extensions/obsidian-smart-capture/src/components/CreateNoteForm.tsx
  extensions/obsidian-smart-capture/src/components/EditNote.tsx
  extensions/obsidian-smart-capture/src/components/MediaGrid.tsx
  extensions/obsidian-smart-capture/src/components/NoteQuickLook.tsx
  extensions/obsidian-smart-capture/src/components/Notifications/AdvancedURIPluginNotInstalled.tsx
  extensions/obsidian-smart-capture/src/components/Notifications/NoPathProvided.tsx
  extensions/obsidian-smart-capture/src/components/Notifications/NoVaultFoundMessage.tsx
  extensions/obsidian-smart-capture/src/components/RandomNote.tsx
  extensions/obsidian-smart-capture/src/components/Toasts.tsx
  extensions/obsidian-smart-capture/src/components/VaultSelection.tsx
  extensions/obsidian-smart-capture/src/scripts/get-link.ts
  extensions/obsidian-smart-capture/src/utils/actions.tsx
  extensions/obsidian-smart-capture/src/utils/constants.tsx
  extensions/obsidian-smart-capture/src/utils/data/cache.tsx
  extensions/obsidian-smart-capture/src/utils/data/creator.tsx
  extensions/obsidian-smart-capture/src/utils/data/loader.tsx
  extensions/obsidian-smart-capture/src/utils/data/reducers.tsx
  extensions/obsidian-smart-capture/src/utils/hooks.tsx
  extensions/obsidian-smart-capture/src/utils/interfaces.tsx
  extensions/obsidian-smart-capture/src/utils/preferences.tsx
  extensions/obsidian-smart-capture/src/utils/search.tsx
  extensions/obsidian-smart-capture/src/utils/settings.tsx
  extensions/obsidian-smart-capture/src/utils/utils.tsx
  extensions/obsidian-smart-capture/src/utils/yaml.tsx
  extensions/obsidian-smart-capture/tsconfig.json
Labels: new extension

#7997 Update imessage-2fa extension
  extensions/imessage-2fa/CHANGELOG.md
  extensions/imessage-2fa/src/messages.ts
  extensions/imessage-2fa/src/utils.ts
Labels: extension fix / improvement, OP is contributor, extension: imessage-2fa

#8006 Add raycast-svg64 extension
  extensions/raycast-svg64/.eslintrc.json
  extensions/raycast-svg64/.gitignore
  extensions/raycast-svg64/.prettierrc
  extensions/raycast-svg64/CHANGELOG.md
  extensions/raycast-svg64/README.md
  extensions/raycast-svg64/assets/command-icon.png
  extensions/raycast-svg64/metadata/raycast-svg64-1.png
  extensions/raycast-svg64/package-lock.json
  extensions/raycast-svg64/package.json
  extensions/raycast-svg64/src/encode-svg-from-file.jsx
  extensions/raycast-svg64/src/encode-svg-from-text.jsx
Labels: new extension

#8005 Add counter extension
  extensions/counter/.eslintrc.json
  extensions/counter/.gitignore
  extensions/counter/.prettierrc
  extensions/counter/CHANGELOG.md
  extensions/counter/README.md
  extensions/counter/assets/command-icon.png
  extensions/counter/metadata/counter-1.png
  extensions/counter/package-lock.json
  extensions/counter/package.json
  extensions/counter/src/decrement-counter.jsx
  extensions/counter/src/increment-counter.jsx
  extensions/counter/src/reset-counter.jsx
Labels: new extension

#8012 Add tesla extension
  extensions/tesla/.eslintrc.json
  extensions/tesla/.gitignore
  extensions/tesla/.prettierrc
  extensions/tesla/CHANGELOG.md
  extensions/tesla/README.md
  extensions/tesla/assets/Model3Black.png
  extensions/tesla/assets/icon.png
  extensions/tesla/metadata/tesla-1.png
  extensions/tesla/package-lock.json
  extensions/tesla/package.json
  extensions/tesla/src/honk.tsx
  extensions/tesla/src/turnClimateOff.tsx
  extensions/tesla/src/turnClimateOn.tsx
  extensions/tesla/src/turnSentryOff.tsx
  extensions/tesla/src/turnSentryOn.tsx
  extensions/tesla/src/types/Info.ts
  extensions/tesla/src/types/State.ts
  extensions/tesla/src/types/Vehicle.ts
  extensions/tesla/src/viewCar.tsx
  extensions/tesla/tsconfig.json
Labels: new extension

#8011 fix(gitmoji): change raycast reserved modifier keys
  extensions/gitmoji/CHANGELOG.md
  extensions/gitmoji/package.json
  extensions/gitmoji/src/gitmoji.tsx
Labels: extension fix / improvement, extension: gitmoji

#8014 Add schoology extension
  extensions/schoology/.eslintrc.json
  extensions/schoology/.gitignore
  extensions/schoology/.prettierrc
  extensions/schoology/CHANGELOG.md
  extensions/schoology/README-schoology.png
  extensions/schoology/README.md
  extensions/schoology/assets/command-icon.png
  extensions/schoology/assets/list-icon.png
  extensions/schoology/metadata/schoology-1.png
  extensions/schoology/metadata/schoology-2.png
  extensions/schoology/package-lock.json
  extensions/schoology/package.json
  extensions/schoology/src/showGrades.jsx
  extensions/schoology/tsconfig.json
Labels: new extension

#8046 Add ping extension
  extensions/ping/.eslintrc.json
  extensions/ping/.gitignore
  extensions/ping/.prettierrc
  extensions/ping/CHANGELOG.md
  extensions/ping/LICENSE
  extensions/ping/README.md
  extensions/ping/assets/alive.jpg
  extensions/ping/assets/command-icon.png
  extensions/ping/metadata/metadata.png
  extensions/ping/package-lock.json
  extensions/ping/package.json
  extensions/ping/src/index.tsx
  extensions/ping/tsconfig.json
Labels: new extension

#8110 [TickTick] Support complete task
  extensions/ticktick/CHANGELOG.md
  extensions/ticktick/package-lock.json
  extensions/ticktick/package.json
  extensions/ticktick/src/components/taskItem.tsx
  extensions/ticktick/src/hooks/useRefreshList.ts
  extensions/ticktick/src/inbox.tsx
  extensions/ticktick/src/index.tsx
  extensions/ticktick/src/next7Days.tsx
  extensions/ticktick/src/search.tsx
  extensions/ticktick/src/service/osScript.ts
Labels: extension fix / improvement, OP is author, extension: ticktick

#8086 Update visual-studio-code extension
  extensions/visual-studio-code-recent-projects/CHANGELOG.md
  extensions/visual-studio-code-recent-projects/package.json
  extensions/visual-studio-code-recent-projects/src/preferences.ts
  extensions/visual-studio-code-recent-projects/src/types.ts
Labels: extension fix / improvement, extension: visual-studio-code

#8106 [Weather] Upgrade
  extensions/weather/.eslintrc.json
  extensions/weather/.gitignore
  extensions/weather/CHANGELOG.md
  extensions/weather/assets/humitidy.svg
  extensions/weather/assets/moonset.svg
  extensions/weather/assets/wind.svg
  extensions/weather/metadata/weather-1.png
  extensions/weather/metadata/weather-2.png
  extensions/weather/metadata/weather-3.png
  extensions/weather/package-lock.json
  extensions/weather/package.json
  extensions/weather/src/components/day.tsx
  extensions/weather/src/components/hooks.tsx
  extensions/weather/src/components/weather.tsx
  extensions/weather/src/icons.ts
  extensions/weather/src/index.tsx
  extensions/weather/src/menubar.tsx
  extensions/weather/src/utils.ts
  extensions/weather/src/wttr.ts
  extensions/weather/tsconfig.json
Labels: extension fix / improvement, OP is author, extension: weather

#8073 Update schoology extension
  extensions/schoology/CHANGELOG.md
  extensions/schoology/src/showGrades.jsx
Labels: extension fix / improvement, OP is author, extension: schoology

#8042 Update toggle-scroll-bars-visibility extension
  extensions/toggle-scroll-bars-visibility/CHANGELOG.md
  extensions/toggle-scroll-bars-visibility/assets/scripts/set-scroll-bars-visibility
  extensions/toggle-scroll-bars-visibility/metadata/toggle-scroll-bars-visibility-1.png
  extensions/toggle-scroll-bars-visibility/package.json
  extensions/toggle-scroll-bars-visibility/script/.gitignore
  extensions/toggle-scroll-bars-visibility/script/Package.swift
  extensions/toggle-scroll-bars-visibility/script/Sources/main.swift
  extensions/toggle-scroll-bars-visibility/src/set-always.ts
  extensions/toggle-scroll-bars-visibility/src/set-automatic.ts
  extensions/toggle-scroll-bars-visibility/src/set-when-scrolling.ts
  extensions/toggle-scroll-bars-visibility/src/toggle.ts
  extensions/toggle-scroll-bars-visibility/src/types/index.ts
  extensions/toggle-scroll-bars-visibility/src/utils/index.ts
  extensions/toggle-scroll-bars-visibility/src/view-current-value.ts
Labels: extension fix / improvement, OP is author, extension: toggle-scroll-bars-visibility

#8010 [Search npm Packages] Add shortcut to "npm Package Page" open in browser action
  extensions/search-npm/CHANGELOG.md
  extensions/search-npm/metadata/search-npm-01.png
  extensions/search-npm/metadata/search-npm-02.png
  extensions/search-npm/metadata/search-npm-03.png
  extensions/search-npm/metadata/search-npm-04.png
  extensions/search-npm/metadata/search-npm-05.png
  extensions/search-npm/metadata/search-npm-1.png
  extensions/search-npm/metadata/search-npm-2.png
  extensions/search-npm/metadata/search-npm-3.png
  extensions/search-npm/metadata/search-npm-4.png
  extensions/search-npm/metadata/search-npm-5.png
  extensions/search-npm/package-lock.json
  extensions/search-npm/package.json
  extensions/search-npm/src/PackagListItem.tsx
Labels: extension fix / improvement, extension: search-npm

#8072 Update cloudinary extension
  extensions/cloudinary/CHANGELOG.md
  extensions/cloudinary/README.md
  extensions/cloudinary/package-lock.json
  extensions/cloudinary/package.json
  extensions/cloudinary/src/index.tsx
  extensions/cloudinary/src/lib/util.ts
  extensions/cloudinary/src/upload-clipboard.tsx
Labels: extension fix / improvement, OP is author, extension: cloudinary

#7978 Add minisim extension
  extensions/minisim/.eslintrc.json
  extensions/minisim/.gitignore
  extensions/minisim/.prettierrc
  extensions/minisim/CHANGELOG.md
  extensions/minisim/README.md
  extensions/minisim/assets/appletv.fill.png
  extensions/minisim/assets/appletv.fill_dark.png
  extensions/minisim/assets/applewatch.png
  extensions/minisim/assets/applewatch_dark.png
  extensions/minisim/assets/command-icon.png
  extensions/minisim/assets/ipad.landscape.png
  extensions/minisim/assets/ipad.landscape_dark.png
  extensions/minisim/assets/iphone.png
  extensions/minisim/assets/iphone_dark.png
  extensions/minisim/assets/no-view.png
  extensions/minisim/assets/tv.png
  extensions/minisim/assets/tv_dark.png
  extensions/minisim/metadata/minisim-1.png
  extensions/minisim/metadata/minisim-2.png
  extensions/minisim/package-lock.json
  extensions/minisim/package.json
  extensions/minisim/src/DeviceList.tsx
  extensions/minisim/src/ErrorScreen.tsx
  extensions/minisim/src/actions.ts
  extensions/minisim/src/index.tsx
  extensions/minisim/src/types.ts
  extensions/minisim/src/useDevices.ts
  extensions/minisim/src/utils.ts
  extensions/minisim/tsconfig.json
Labels: new extension

#8098 Update speedtest extension
  extensions/speedtest/metadata/no-internet-connection.png
  extensions/speedtest/metadata/running.png
  extensions/speedtest/metadata/screenshot-01.png
  extensions/speedtest/metadata/success.png
  extensions/speedtest/package.json
  extensions/speedtest/src/index.tsx
  extensions/speedtest/src/lib/speedtest.ts
Labels: extension fix / improvement, extension: speedtest

#8090 Update tableplus extension
  extensions/tableplus/.eslintrc.json
  extensions/tableplus/.gitignore
  extensions/tableplus/CHANGELOG.md
  extensions/tableplus/package-lock.json
  extensions/tableplus/package.json
  extensions/tableplus/src/database_list.tsx
  extensions/tableplus/src/interfaces.ts
  extensions/tableplus/src/menubar.tsx
  extensions/tableplus/src/utils.tsx
  extensions/tableplus/tsconfig.json
Labels: extension fix / improvement, OP is author, extension: tableplus

#8117 [iTerm] Fix: keep the same desktop focused when creating a new window
  extensions/iterm/CHANGELOG.md
  extensions/iterm/package.json
  extensions/iterm/src/new-iterm-window.tsx
Labels: extension fix / improvement, extension: iterm

#8120 Changed PurpleAir to use the EPA corrected air quality calculation
  extensions/purpleair/CHANGELOG.md
  extensions/purpleair/package-lock.json
  extensions/purpleair/package.json
  extensions/purpleair/src/index.tsx
  extensions/purpleair/src/purpleAir.tsx
Labels: extension fix / improvement, OP is author, extension: purpleair

#8094 Update ping extension
  extensions/ping/metadata/failure.png
  extensions/ping/metadata/metadata.png
  extensions/ping/metadata/pinging.png
  extensions/ping/metadata/success.png
  extensions/ping/package.json
Labels: extension fix / improvement, OP is author, extension: ping

#7981 Add numpad extension
  extensions/numpad/.eslintrc.json
  extensions/numpad/.gitignore
  extensions/numpad/.prettierrc
  extensions/numpad/CHANGELOG.md
  extensions/numpad/README.md
  extensions/numpad/assets/extension_icon.png
  extensions/numpad/metadata/numpad-1.png
  extensions/numpad/metadata/numpad-2.png
  extensions/numpad/metadata/numpad-3.png
  extensions/numpad/package-lock.json
  extensions/numpad/package.json
  extensions/numpad/src/components/atoms/item.tsx
  extensions/numpad/src/components/molecules/dropdown.tsx
  extensions/numpad/src/components/molecules/numberItem.tsx
  extensions/numpad/src/components/organisms/section1.tsx
  extensions/numpad/src/components/organisms/section2.tsx
  extensions/numpad/src/components/organisms/section3.tsx
  extensions/numpad/src/components/templates/root.tsx
  extensions/numpad/src/hooks/favorites.ts
  extensions/numpad/src/hooks/preview.ts
  extensions/numpad/src/index.tsx
  extensions/numpad/src/services/storage.ts
  extensions/numpad/tsconfig.json
Labels: new extension

#7560 [espanso] add Toggle Espanso and Add Match commands
  extensions/espanso/CHANGELOG.md
  extensions/espanso/package-lock.json
  extensions/espanso/package.json
  extensions/espanso/src/addMatch.tsx
  extensions/espanso/src/index.tsx
  extensions/espanso/src/messages.ts
  extensions/espanso/src/toggle.ts
  extensions/espanso/src/types.ts
  extensions/espanso/src/utils.ts
Labels: extension fix / improvement, extension: espanso

#8070 Add notion_researcher extension
  extensions/notion_researcher/.eslintrc.json
  extensions/notion_researcher/.gitignore
  extensions/notion_researcher/.prettierrc
  extensions/notion_researcher/CHANGELOG.md
  extensions/notion_researcher/README.md
  extensions/notion_researcher/assets/command_icon.png
  extensions/notion_researcher/assets/list_icon.png
  extensions/notion_researcher/metadata/notion_researcher-1.png
  extensions/notion_researcher/package-lock.json
  extensions/notion_researcher/package.json
  extensions/notion_researcher/src/addPaper.tsx
  extensions/notion_researcher/src/components/articleItem.tsx
  extensions/notion_researcher/src/components/pageItem.tsx
  extensions/notion_researcher/src/config/index.ts
  extensions/notion_researcher/src/createDatabase.tsx
  extensions/notion_researcher/src/llm/explanations.ts
  extensions/notion_researcher/src/llm/types.ts
  extensions/notion_researcher/src/notion/addExplanationToPage.ts
  extensions/notion_researcher/src/notion/addReferencesToPage.ts
  extensions/notion_researcher/src/notion/createArticlePage.ts
  extensions/notion_researcher/src/notion/createResearchDatabase.ts
  extensions/notion_researcher/src/notion/searchPage.ts
  extensions/notion_researcher/src/notion/types.ts
  extensions/notion_researcher/src/notion/utils.ts
  extensions/notion_researcher/src/reader/index.ts
  extensions/notion_researcher/src/reader/types.ts
  extensions/notion_researcher/src/semanticScholar/api.ts
  extensions/notion_researcher/src/semanticScholar/config.ts
  extensions/notion_researcher/src/semanticScholar/types.ts
  extensions/notion_researcher/src/setup.tsx
  extensions/notion_researcher/src/utils/urlExtractor.ts
  extensions/notion_researcher/tsconfig.json
Labels: new extension

#7004 Sort network services based on availability in the connect-to-vpn extension
  extensions/connect-to-vpn/.gitignore
  extensions/connect-to-vpn/CHANGELOG.md
  extensions/connect-to-vpn/README.md
  extensions/connect-to-vpn/package-lock.json
  extensions/connect-to-vpn/package.json
  extensions/connect-to-vpn/src/index.tsx
Labels: extension fix / improvement, extension: connect-to-vpn

#7935 Add phone-call extension
  extensions/quick-call/.eslintrc.json
  extensions/quick-call/.gitignore
  extensions/quick-call/.prettierrc
  extensions/quick-call/CHANGELOG.md
  extensions/quick-call/README.md
  extensions/quick-call/assets/phone-icon.png
  extensions/quick-call/package-lock.json
  extensions/quick-call/package.json
  extensions/quick-call/src/quick-call.tsx
  extensions/quick-call/tsconfig.json
Labels: new extension

#8126 Update mute-microphone extension
  extensions/mute-microphone/.gitignore
  extensions/mute-microphone/CHANGELOG.md
  extensions/mute-microphone/assets/scripts/input-volume
  extensions/mute-microphone/package.json
  extensions/mute-microphone/script/Package.swift
  extensions/mute-microphone/script/Sources/main.swift
  extensions/mute-microphone/src/mute-menu-bar.tsx
  extensions/mute-microphone/src/shared/constants.ts
  extensions/mute-microphone/src/shared/utils.ts
  extensions/mute-microphone/src/toggle-mute.tsx
Labels: extension fix / improvement, extension: mute-microphone

#8078 Add Growthbook Extension
  extensions/growthbook/.eslintrc.json
  extensions/growthbook/.gitignore
  extensions/growthbook/.prettierrc
  extensions/growthbook/CHANGELOG.md
  extensions/growthbook/README.md
  extensions/growthbook/assets/growthbook-logo.png
  extensions/growthbook/metadata/growthbook-1.png
  extensions/growthbook/metadata/growthbook-2.png
  extensions/growthbook/package-lock.json
  extensions/growthbook/package.json
  extensions/growthbook/src/components/EnvironmentDropdown.tsx
  extensions/growthbook/src/components/FeatureListItem.tsx
  extensions/growthbook/src/components/index.ts
  extensions/growthbook/src/hooks/index.ts
  extensions/growthbook/src/hooks/useGrowthbook.ts
  extensions/growthbook/src/index.tsx
  extensions/growthbook/src/types/index.ts
  extensions/growthbook/src/utils/index.ts
  extensions/growthbook/tsconfig.json
Labels: new extension

#8137 [Bitwarden Vault] README improvements and updated screenshots
  extensions/bitwarden/README.md
  extensions/bitwarden/metadata/bitwarden-1.png
  extensions/bitwarden/metadata/bitwarden-2.png
  extensions/bitwarden/metadata/bitwarden-3.png
  extensions/bitwarden/metadata/bitwarden-4.png
  extensions/bitwarden/metadata/bitwarden-5.png
  extensions/bitwarden/metadata/bitwarden-6.png
  extensions/bitwarden/metadata/bitwarden-7.png
  extensions/bitwarden/metadata/bitwarden-8.png
  extensions/bitwarden/metadata/screenshot-01.jpg
  extensions/bitwarden/metadata/screenshot-02.jpg
  extensions/bitwarden/src/components/searchVault/ItemActionPanel.tsx
Labels: extension fix / improvement, OP is author, extension: bitwarden

#8136 [Bitwarden Vault] Fix: Logout command error
  extensions/bitwarden/CHANGELOG.md
  extensions/bitwarden/src/logout-vault.tsx
Labels: extension fix / improvement, OP is author, extension: bitwarden

#7964 [PromptLab] New placeholders, support for more browsers, bug fixes
  extensions/promptlab/.gitignore
  extensions/promptlab/CHANGELOG.md
  extensions/promptlab/assets/no-view.png
  extensions/promptlab/assets/placeholders_guide.md
  extensions/promptlab/assets/scripts/ImageFeatureExtractor.scpt
  extensions/promptlab/assets/scripts/ScreenCapture.scpt
  extensions/promptlab/assets/scripts/VideoFeatureExtractor.scpt
  extensions/promptlab/package-lock.json
  extensions/promptlab/package.json
  extensions/promptlab/raycast-env.d.ts
  extensions/promptlab/src/components/Commands/CommandForm.tsx
  extensions/promptlab/src/components/Commands/CommandListDetail.tsx
  extensions/promptlab/src/components/Commands/actions/CommandControlActions.tsx
  extensions/promptlab/src/components/Commands/actions/InstallCommandAction.tsx
  extensions/promptlab/src/components/Commands/actions/RunCommandAction.tsx
  extensions/promptlab/src/components/Commands/actions/ShareCommandAction.tsx
  extensions/promptlab/src/data/default-advanced-settings.ts
  extensions/promptlab/src/data/default-models.ts
  extensions/promptlab/src/data/file-extensions.ts
  extensions/promptlab/src/discover-commands.tsx
  extensions/promptlab/src/hooks/useCommands.ts
  extensions/promptlab/src/hooks/useFiles.ts
  extensions/promptlab/src/hooks/useModel.ts
  extensions/promptlab/src/utils/command-utils.ts
  extensions/promptlab/src/utils/constants.ts
  extensions/promptlab/src/utils/context-utils.ts
  extensions/promptlab/src/utils/file-utils.ts
  extensions/promptlab/src/utils/placeholders.ts
  extensions/promptlab/src/utils/runModel.ts
  extensions/promptlab/src/utils/scripts.ts
  extensions/promptlab/src/utils/types.ts
Labels: extension fix / improvement, OP is author, extension: promptlab

#8130 Update tableplus extension
  extensions/tableplus/CHANGELOG.md
  extensions/tableplus/assets/monochrome.png
  extensions/tableplus/assets/monochrome@dark.png
  extensions/tableplus/metadata/tableplus-01.png
  extensions/tableplus/metadata/tableplus-02.png
  extensions/tableplus/metadata/tableplus-1.png
  extensions/tableplus/metadata/tableplus-2.png
  extensions/tableplus/package-lock.json
  extensions/tableplus/package.json
  extensions/tableplus/src/components/Actions.tsx
  extensions/tableplus/src/components/ConnectionListItem.tsx
  extensions/tableplus/src/components/GetAccessories.tsx
  extensions/tableplus/src/constants.ts
  extensions/tableplus/src/database_list.tsx
  extensions/tableplus/src/interfaces.ts
  extensions/tableplus/src/menubar.tsx
  extensions/tableplus/src/utils.tsx
Labels: extension fix / improvement, OP is author, extension: tableplus

#8069 Update scrcpy extension: select previous used device automatically.
  extensions/scrcpy/CHANGELOG.md
  extensions/scrcpy/package-lock.json
  extensions/scrcpy/package.json
  extensions/scrcpy/src/index.tsx
  extensions/scrcpy/src/types.ts
  extensions/scrcpy/src/use-adb-devices.ts
  extensions/scrcpy/src/use-devices.ts
Labels: extension fix / improvement, OP is author, extension: scrcpy

#8152 Transfer PostHog
  .github/public_raycast_extensions.txt
  extensions/posthog/package.json
Labels: extension fix / improvement, extension: posthog

#8149 Update ssh-manager extension
  extensions/ssh-manager/.gitignore
  extensions/ssh-manager/.trunk/.gitignore
  extensions/ssh-manager/.trunk/configs/.markdownlint.yaml
  extensions/ssh-manager/.trunk/trunk.yaml
  extensions/ssh-manager/CHANGELOG.md
  extensions/ssh-manager/package.json
  extensions/ssh-manager/src/create.tsx
  extensions/ssh-manager/src/show.tsx
  extensions/ssh-manager/src/types.ts
Labels: extension fix / improvement, extension: ssh-manager

#8155 [Speedtest] Optimize
  extensions/speedtest/CHANGELOG.md
  extensions/speedtest/assets/download.png
  extensions/speedtest/assets/results.png
  extensions/speedtest/assets/server.png
  extensions/speedtest/assets/upload.png
  extensions/speedtest/package-lock.json
  extensions/speedtest/package.json
  extensions/speedtest/src/index.tsx
  extensions/speedtest/src/lib/hooks.ts
  extensions/speedtest/src/lib/speedtest.ts
Labels: extension fix / improvement, OP is author, extension: speedtest

#8157 Update memos extension
  extensions/memos/.gitignore
  extensions/memos/package-lock.json
  extensions/memos/package.json
  extensions/memos/src/api.ts
  extensions/memos/src/memosList.tsx
  extensions/memos/src/sendMemoForm.tsx
Labels: extension fix / improvement, OP is author, extension: memos

#8167 [Music]: Fixed `start-playlist` potential error
  extensions/music/CHANGELOG.md
  extensions/music/src/start-playlist.tsx
Labels: extension fix / improvement, extension: music
