Repository raycast/extensions, pull requests merged in 2023-07, with the labels that each got.

#7322 [Xcode] Add dropdown filtering to simulators list
  extensions/xcode/CHANGELOG.md
  extensions/xcode/src/components/xcode-simulator-list/xcode-simulator-list-dropdown.component.tsx
  extensions/xcode/src/components/xcode-simulator-list/xcode-simulator-list.component.tsx
  extensions/xcode/src/models/xcode-simulator/xcode-simulator-state-filter.model.ts
  extensions/xcode/src/services/xcode-simulator.service.ts
Labels: extension fix / improvement, OP is contributor, extension: xcode

#7012 [Todoist] View menubar task in raycast command
  extensions/todoist/CHANGELOG.md
  extensions/todoist/package.json
  extensions/todoist/src/api.ts
  extensions/todoist/src/components/MenubarTask.tsx
  extensions/todoist/src/components/TaskDetail.tsx
  extensions/todoist/src/home.tsx
  extensions/todoist/src/hooks/useFocusedTask.ts
Labels: extension fix / improvement, OP is contributor, extension: todoist

#7275 Update keyboard-shortcut-sequences extension
  extensions/keyboard-shortcut-sequences/CHANGELOG.md
  extensions/keyboard-shortcut-sequences/src/components/SequenceForm.tsx
  extensions/keyboard-shortcut-sequences/src/utils.ts
Labels: extension fix / improvement, extension: keyboard-shortcut-sequences

#7307 Update jira extension
  extensions/jira/CHANGELOG.md
  extensions/jira/package.json
  extensions/jira/src/active-sprints.tsx
Labels: extension fix / improvement, extension: jira

#7283 feat: add "Copy FA Class" action
  extensions/fontawesome/CHANGELOG.md
  extensions/fontawesome/src/index.tsx
Labels: extension fix / improvement, extension: font-awesome

#7343 Terminal Finder: Fix typo
  extensions/terminalfinder/.gitignore
  extensions/terminalfinder/package.json
Labels: extension fix / improvement, extension: terminalfinder

#7379 Updated extension description
  extensions/warp/package.json
Labels: extension fix / improvement, OP is author, extension: warp

#7349 Menubar Weather: Add UVI
  extensions/menubar-weather/CHANGELOG.md
  extensions/menubar-weather/package.json
  extensions/menubar-weather/src/menubar-weather.tsx
  extensions/menubar-weather/src/types/preferences.ts
  extensions/menubar-weather/src/types/types.ts
  extensions/menubar-weather/src/utils/axios-utils.ts
  extensions/menubar-weather/src/utils/common-utils.ts
  extensions/menubar-weather/src/utils/weather-utils.ts
Labels: extension fix / improvement, extension: menubar-weather

#7341 Searchcaster extension update: add items to action panel
  extensions/searchcaster/CHANGELOG.md
  extensions/searchcaster/src/casts.tsx
  extensions/searchcaster/src/profiles.tsx
Labels: extension fix / improvement, OP is author, extension: searchcaster

#7279 Add convert-typescript-to-javascript extension
  extensions/convert-typescript-to-javascript/.eslintrc.json
  extensions/convert-typescript-to-javascript/.gitignore
  extensions/convert-typescript-to-javascript/.prettierrc
  extensions/convert-typescript-to-javascript/CHANGELOG.md
  extensions/convert-typescript-to-javascript/README.md
  extensions/convert-typescript-to-javascript/assets/icon.png
  extensions/convert-typescript-to-javascript/package-lock.json
  extensions/convert-typescript-to-javascript/package.json
  extensions/convert-typescript-to-javascript/src/copy-to-clipboard.ts
  extensions/convert-typescript-to-javascript/src/internal/typescript-to-javascript.ts
  extensions/convert-typescript-to-javascript/src/paste-from-clipboard.ts
  extensions/convert-typescript-to-javascript/src/types/@babel/preset-typescript.d.ts
  extensions/convert-typescript-to-javascript/tsconfig.json
Labels: new extension

#7371 Update deepcast extension
  extensions/deepcast/CHANGELOG.md
  extensions/deepcast/package.json
  extensions/deepcast/src/components/TranslationView.tsx
  extensions/deepcast/src/index.tsx
  extensions/deepcast/src/utils.ts
Labels: extension fix / improvement, extension: deepcast

#6910 Add cosmic-bookmarks extension
  extensions/cosmic-bookmarks/.eslintrc.json
  extensions/cosmic-bookmarks/.gitignore
  extensions/cosmic-bookmarks/CHANGELOG.md
  extensions/cosmic-bookmarks/README.md
  extensions/cosmic-bookmarks/assets/add-bookmark-icon.png
  extensions/cosmic-bookmarks/assets/bookmarks-icon.png
  extensions/cosmic-bookmarks/assets/menubar-icon.png
  extensions/cosmic-bookmarks/metadata/cosmic-bookmarks-1.png
  extensions/cosmic-bookmarks/metadata/cosmic-bookmarks-2.png
  extensions/cosmic-bookmarks/metadata/cosmic-bookmarks-3.png
  extensions/cosmic-bookmarks/package-lock.json
  extensions/cosmic-bookmarks/package.json
  extensions/cosmic-bookmarks/src/bookmarks.tsx
  extensions/cosmic-bookmarks/src/menubar.tsx
  extensions/cosmic-bookmarks/src/save-bookmarks.tsx
  extensions/cosmic-bookmarks/tsconfig.json
Labels: new extension

#7374 [Audio Device]: Quicklink / Deeplink support
  extensions/audio-device/CHANGELOG.md
  extensions/audio-device/package-lock.json
  extensions/audio-device/package.json
  extensions/audio-device/src/airplay.tsx
  extensions/audio-device/src/helpers.tsx
  extensions/audio-device/src/set-input-device.tsx
  extensions/audio-device/src/set-output-device.tsx
  extensions/audio-device/src/utils.tsx
Labels: extension fix / improvement, extension: audio-device

#7306 Add Setapp extension
  extensions/setapp/.eslintrc.json
  extensions/setapp/.gitignore
  extensions/setapp/.prettierrc
  extensions/setapp/.vscode/settings.json
  extensions/setapp/CHANGELOG.md
  extensions/setapp/README.md
  extensions/setapp/assets/setapp-icon.png
  extensions/setapp/metadata/setapp-1.png
  extensions/setapp/metadata/setapp-2.png
  extensions/setapp/metadata/setapp-3.png
  extensions/setapp/package-lock.json
  extensions/setapp/package.json
  extensions/setapp/src/helpers/fetchApps.ts
  extensions/setapp/src/hooks/useSearch.ts
  extensions/setapp/src/index.tsx
  extensions/setapp/src/types.ts
  extensions/setapp/tsconfig.json
Labels: new extension

#7367 TickTick: Add `Inbox` command and improve `Search Tasks` command
  extensions/ticktick/CHANGELOG.md
  extensions/ticktick/package-lock.json
  extensions/ticktick/package.json
  extensions/ticktick/src/components/searchFilter.tsx
  extensions/ticktick/src/inbox.tsx
  extensions/ticktick/src/search.tsx
  extensions/ticktick/src/service/osScript.ts
  extensions/ticktick/src/service/project.ts
Labels: extension fix / improvement, OP is author, extension: ticktick

#7390 Cosmic Bookmarks: Update broken links in README.md
  extensions/cosmic-bookmarks/README.md
Labels: extension fix / improvement, OP is author, extension: cosmic-bookmarks

#7130 [Liba.ro - URL Shortener] Auto-close window
  extensions/liba-ro/CHANGELOG.md
  extensions/liba-ro/src/index.tsx
Labels: extension fix / improvement, extension: liba-ro_shortener

#7366 GitLab: Add template choice for merge request creation
  extensions/gitlab/CHANGELOG.md
  extensions/gitlab/package.json
  extensions/gitlab/src/components/mr_create.tsx
  extensions/gitlab/src/gitlabapi.ts
Labels: extension fix / improvement, extension: gitlab

#7332 Add aimlab extension
  extensions/aimlab/.eslintrc.json
  extensions/aimlab/.gitignore
  extensions/aimlab/.prettierrc
  extensions/aimlab/CHANGELOG.md
  extensions/aimlab/README.md
  extensions/aimlab/assets/avatar-dark.png
  extensions/aimlab/assets/avatar-light.png
  extensions/aimlab/assets/command-icon.png
  extensions/aimlab/assets/logo.png
  extensions/aimlab/metadata/aimlab-1.png
  extensions/aimlab/metadata/aimlab-2.png
  extensions/aimlab/metadata/aimlab-3.png
  extensions/aimlab/metadata/aimlab-4.png
  extensions/aimlab/metadata/aimlab-5.png
  extensions/aimlab/metadata/aimlab-7.png
  extensions/aimlab/package-lock.json
  extensions/aimlab/package.json
  extensions/aimlab/src/components/Creator.tsx
  extensions/aimlab/src/components/Leaderboard.tsx
  extensions/aimlab/src/components/Player.tsx
  extensions/aimlab/src/components/PlaysAgg.tsx
  extensions/aimlab/src/components/Season.tsx
  extensions/aimlab/src/components/SeasonTask.tsx
  extensions/aimlab/src/hooks/usePlaysAgg.ts
  extensions/aimlab/src/hooks/useProfile.ts
  extensions/aimlab/src/hooks/useSeasonalLeadboard.ts
  extensions/aimlab/src/hooks/useSeasons.ts
  extensions/aimlab/src/hooks/useTaskInformation.ts
  extensions/aimlab/src/hooks/useTopCreators.ts
  extensions/aimlab/src/types/author.types.ts
  extensions/aimlab/src/types/leaderboard.types.ts
  extensions/aimlab/src/types/player.types.ts
  extensions/aimlab/src/types/playerAgg.types.ts
  extensions/aimlab/src/types/season.types.ts
  extensions/aimlab/src/types/taskinformation.types.ts
  extensions/aimlab/src/utils/generateCreatorAccessories.ts
  extensions/aimlab/src/utils/generateLeaderboardAccessories.ts
  extensions/aimlab/src/utils/generatePlayerAccessories.ts
  extensions/aimlab/src/utils/generatePlayerRankData.ts
  extensions/aimlab/src/utils/generateSeasonAccessories.ts
  extensions/aimlab/src/utils/getLeaderboard.ts
  extensions/aimlab/src/utils/getPlaysAgg.ts
  extensions/aimlab/src/utils/getProfile.ts
  extensions/aimlab/src/utils/getSeasonalLeaderboard.ts
  extensions/aimlab/src/utils/getSeasons.ts
  extensions/aimlab/src/utils/getTaskInformation.ts
  extensions/aimlab/src/utils/getTopCreators.ts
  extensions/aimlab/src/utils/queries.ts
  extensions/aimlab/src/view-creators.tsx
  extensions/aimlab/src/view-leaderboards.tsx
  extensions/aimlab/src/view-profile.tsx
  extensions/aimlab/src/views/creators.tsx
  extensions/aimlab/src/views/leaderboard.tsx
  extensions/aimlab/src/views/profile.tsx
  extensions/aimlab/tsconfig.json
Labels: new extension

#7391 Encoding URL when searching on Ecosia
  extensions/ecosia-search/CHANGELOG.md
  extensions/ecosia-search/src/index.tsx
Labels: extension fix / improvement, OP is author, extension: ecosia-search

#7407 Updates to screenshots and description
  extensions/warp/README.md
  extensions/warp/metadata/warp-1.png
  extensions/warp/metadata/warp-2.png
  extensions/warp/metadata/warp-3.png
  extensions/warp/metadata/warp-4.png
  extensions/warp/package.json
Labels: extension fix / improvement, OP is author, extension: warp

#7382 [Jira] Implements the possibility to type before loading credentials
  extensions/jira/CHANGELOG.md
  extensions/jira/package.json
  extensions/jira/src/helpers/withJiraCredentials.tsx
  extensions/jira/src/search-issues.tsx
Labels: extension fix / improvement, extension: jira

#7377 [toggl-track] Hide archived projects
  extensions/toggl-track/.prettierrc
  extensions/toggl-track/CHANGELOG.md
  extensions/toggl-track/README.md
  extensions/toggl-track/package.json
  extensions/toggl-track/src/context/ProjectGroup.ts
  extensions/toggl-track/src/index.tsx
  extensions/toggl-track/src/storage/index.ts
  extensions/toggl-track/src/storage/persistedStorage.ts
  extensions/toggl-track/src/toggl/index.ts
  extensions/toggl-track/src/toggl/types.ts
Labels: extension fix / improvement, OP is contributor, extension: toggl-track

#7264 Add nippon colors extension
  extensions/nippon-colors/.eslintrc.json
  extensions/nippon-colors/.gitignore
  extensions/nippon-colors/.prettierrc
  extensions/nippon-colors/CHANGELOG.md
  extensions/nippon-colors/README.md
  extensions/nippon-colors/assets/nipponColors.json
  extensions/nippon-colors/assets/nippon_color_icon.png
  extensions/nippon-colors/metadata/nippon-colors-1.png
  extensions/nippon-colors/metadata/nippon-colors-2.png
  extensions/nippon-colors/package-lock.json
  extensions/nippon-colors/package.json
  extensions/nippon-colors/scripts/prebuild.ts
  extensions/nippon-colors/src/index.tsx
  extensions/nippon-colors/src/nipponColorAgent.ts
  extensions/nippon-colors/src/nipponColorTypes.ts
  extensions/nippon-colors/tsconfig.json
Labels: new extension

#6867 Add worktrees extension
  extensions/worktrees/.eslintrc.json
  extensions/worktrees/.gitignore
  extensions/worktrees/.prettierrc
  extensions/worktrees/CHANGELOG.md
  extensions/worktrees/assets/command-icon.png
  extensions/worktrees/metadata/worktrees-1.png
  extensions/worktrees/metadata/worktrees-2.png
  extensions/worktrees/package-lock.json
  extensions/worktrees/package.json
  extensions/worktrees/src/add.tsx
  extensions/worktrees/src/helpers.ts
  extensions/worktrees/src/view.tsx
  extensions/worktrees/tsconfig.json
Labels: new extension

#7381 Update authy extension
  extensions/authy/.eslintrc.json
  extensions/authy/.gitignore
  extensions/authy/README.md
  extensions/authy/make-assets.js
  extensions/authy/package-lock.json
  extensions/authy/package.json
  extensions/authy/src/component/OtpList.tsx
  extensions/authy/src/util/utils.ts
  extensions/authy/tsconfig.json
Labels: extension fix / improvement, OP is contributor, extension: authy

#7423 Spotify Player: Optimise API calls
  extensions/spotify-player/CHANGELOG.md
  extensions/spotify-player/package.json
  extensions/spotify-player/src/api/getSpotifyAppData.ts
  extensions/spotify-player/src/api/oauth.ts
  extensions/spotify-player/src/hooks/useCurrentlyPlayingUri.ts
  extensions/spotify-player/src/hooks/useSpotifyAppData.ts
  extensions/spotify-player/src/nowPlayingMenuBar.tsx
Labels: extension fix / improvement, OP is contributor, extension: spotify-player

#7426 Warp: update icon
  extensions/warp/assets/command-icon-v2.png
  extensions/warp/assets/extension-icon.png
  extensions/warp/package.json
Labels: extension fix / improvement, extension: warp

#7427 Updated screenshots for new icon
  extensions/warp/metadata/warp-1.png
  extensions/warp/metadata/warp-2.png
  extensions/warp/metadata/warp-4.png
Labels: extension fix / improvement, OP is author, extension: warp

#7357 Add time traveling world clock extension
  extensions/time-traveling-world-clock/.eslintrc.json
  extensions/time-traveling-world-clock/.gitignore
  extensions/time-traveling-world-clock/.prettierrc
  extensions/time-traveling-world-clock/.vscode/tasks.json
  extensions/time-traveling-world-clock/CHANGELOG.md
  extensions/time-traveling-world-clock/README.md
  extensions/time-traveling-world-clock/assets/icon-command.png
  extensions/time-traveling-world-clock/assets/icon-day.png
  extensions/time-traveling-world-clock/assets/icon-evening.png
  extensions/time-traveling-world-clock/assets/icon-morning.png
  extensions/time-traveling-world-clock/assets/icon-night.png
  extensions/time-traveling-world-clock/package-lock.json
  extensions/time-traveling-world-clock/package.json
  extensions/time-traveling-world-clock/src/index.tsx
  extensions/time-traveling-world-clock/tsconfig.json
Labels: new extension

#7314 [gerrit-code-review] Fix credentials check when attempting to authenticate with instances.
  extensions/gerrit-code-review/CHANGELOG.md
  extensions/gerrit-code-review/src/utils/api/gerrit.ts
Labels: extension fix / improvement, OP is author, extension: gerrit-code-review

#7350 Support custom `ffmpeg` path for `YouTube Downloader` extension
  extensions/youtube-downloader/CHANGELOG.md
  extensions/youtube-downloader/README.md
  extensions/youtube-downloader/package-lock.json
  extensions/youtube-downloader/package.json
  extensions/youtube-downloader/src/index.tsx
  extensions/youtube-downloader/src/utils.ts
Labels: extension fix / improvement, OP is author, extension: youtube-downloader

#7359 Update wikipedia extension
  extensions/wikipedia/.gitignore
  extensions/wikipedia/CHANGELOG.md
  extensions/wikipedia/package.json
  extensions/wikipedia/src/components/wikipedia-page.tsx
  extensions/wikipedia/src/search-page.tsx
  extensions/wikipedia/src/utils/recents.ts
Labels: extension fix / improvement, extension: wikipedia

#7412 Update numi extension
  extensions/numi/README.md
  extensions/numi/metadata/screenshot-04.png
  extensions/numi/package.json
  extensions/numi/src/index.tsx
  extensions/numi/src/services/checkinstall.ts
  extensions/numi/src/services/requests.tsx
Labels: extension fix / improvement, status: awaiting response from dev, extension: numi

#7413 fix: fallback to clipboard when text cannot be extracted from running application
  extensions/pipe-commands/src/pipe-to-command.tsx
Labels: extension fix / improvement, extension: pipe-commands

#6925 Add remove-paywall extension
  extensions/remove-paywall/.eslintrc.json
  extensions/remove-paywall/.gitignore
  extensions/remove-paywall/.prettierrc
  extensions/remove-paywall/CHANGELOG.md
  extensions/remove-paywall/README.md
  extensions/remove-paywall/assets/command-icon.png
  extensions/remove-paywall/package-lock.json
  extensions/remove-paywall/package.json
  extensions/remove-paywall/src/remove-paywall.tsx
  extensions/remove-paywall/tsconfig.json
Labels: new extension

#7466 fix user-agent bug #7432
  extensions/jisho/CHANGELOG.md
  extensions/jisho/package-lock.json
  extensions/jisho/package.json
  extensions/jisho/src/components/SearchResultItem.tsx
  extensions/jisho/src/hooks/useSearch.ts
Labels: extension fix / improvement, OP is author, extension: jisho

#7442 [Notion Search] Fix breaking change in api payload structure
  extensions/search-notion/package.json
  extensions/search-notion/src/common/notionApi.ts
  extensions/search-notion/src/common/store.ts
  extensions/search-notion/src/common/typeUtils.ts
Labels: extension fix / improvement, extension: search-notion

#7435 [Obsidian] Add {week} template placeholder
  extensions/obsidian/CHANGELOG.md
  extensions/obsidian/package.json
  extensions/obsidian/src/utils/utils.tsx
Labels: extension fix / improvement, OP is author, extension: obsidian

#7458 Added option to hide time on Menu bar
  extensions/pomodoro/CHANGELOG.md
  extensions/pomodoro/lib/intervals.tsx
  extensions/pomodoro/package.json
  extensions/pomodoro/src/pomodoro-menu-bar.tsx
Labels: extension fix / improvement, extension: pomodoro

#7460 Update browser-bookmarks extension
  extensions/browser-bookmarks/CHANGELOG.md
  extensions/browser-bookmarks/assets/brave-beta.png
  extensions/browser-bookmarks/assets/chrome-dev.png
  extensions/browser-bookmarks/assets/sql-wasm.wasm
  extensions/browser-bookmarks/package.json
  extensions/browser-bookmarks/src/hooks/useAvailableBrowsers.ts
  extensions/browser-bookmarks/src/hooks/useBraveBetaBookmarks.ts
  extensions/browser-bookmarks/src/hooks/useChromeDevBookmarks.ts
  extensions/browser-bookmarks/src/index.tsx
Labels: extension fix / improvement, extension: browser-bookmarks

#7456 Reflect: add timestamp format preference
  extensions/reflect/CHANGELOG.md
  extensions/reflect/package.json
  extensions/reflect/src/append.tsx
  extensions/reflect/src/helpers/dates.ts
Labels: extension fix / improvement, extension: reflect

#7387 feat(Bilibili): support notifications
  extensions/Bilibili/.gitignore
  extensions/Bilibili/CHANGELOG.md
  extensions/Bilibili/LICENSE
  extensions/Bilibili/README.md
  extensions/Bilibili/metadata/bilibili-1.png
  extensions/Bilibili/package-lock.json
  extensions/Bilibili/package.json
  extensions/Bilibili/src/components/post.tsx
  extensions/Bilibili/src/components/video.tsx
  extensions/Bilibili/src/dynamicFeed.tsx
  extensions/Bilibili/src/hooks/useDynamicFeed.ts
  extensions/Bilibili/src/hooks/usePopularSeriesList.ts
  extensions/Bilibili/src/hooks/usePopularSeriesVideos.ts
  extensions/Bilibili/src/hooks/usePopularVideos.ts
  extensions/Bilibili/src/hooks/useRcmdVideos.ts
  extensions/Bilibili/src/login.tsx
  extensions/Bilibili/src/notifications.tsx
  extensions/Bilibili/src/popularVideos.tsx
  extensions/Bilibili/src/rcmdVideos.tsx
  extensions/Bilibili/src/types.ts
  extensions/Bilibili/src/utils/checkQRCode.ts
  extensions/Bilibili/src/utils/gennerateQRCode.ts
  extensions/Bilibili/src/utils/getDynamicFeed.ts
  extensions/Bilibili/src/utils/getPopularSeriesList.ts
  extensions/Bilibili/src/utils/getPopularSeriesVideos.ts
  extensions/Bilibili/src/utils/getPopularVideos.ts
  extensions/Bilibili/src/utils/getRcmd.ts
  extensions/Bilibili/src/utils/logout.ts
Labels: extension fix / improvement, OP is author, extension: bilibili

#7477 Add GetSound.ai extension
  .github/public_raycast_extensions.txt
  extensions/getsound/.eslintrc.json
  extensions/getsound/.gitignore
  extensions/getsound/.prettierrc
  extensions/getsound/CHANGELOG.md
  extensions/getsound/README.md
  extensions/getsound/assets/logo.png
  extensions/getsound/package-lock.json
  extensions/getsound/package.json
  extensions/getsound/src/play.ts
  extensions/getsound/src/skip.ts
  extensions/getsound/src/stop.ts
  extensions/getsound/tsconfig.json
Labels: new extension

#7487 [YouTube] Update Readme
  extensions/youtube/README.md
  extensions/youtube/src/components/channel.tsx
  extensions/youtube/src/components/playlist.tsx
  extensions/youtube/src/components/popular_video.tsx
  extensions/youtube/src/components/search.tsx
  extensions/youtube/src/components/video_search.tsx
  extensions/youtube/src/lib/youtubeapi.ts
  extensions/youtube/src/search-channel.tsx
  extensions/youtube/src/search-videos.tsx
Labels: extension fix / improvement, OP is author, extension: youtube

#7497 [YouTube] Add missing prettier dependency
  extensions/youtube/package-lock.json
  extensions/youtube/package.json
Labels: extension fix / improvement, OP is author, extension: youtube

#7408 Gitlab: Optimize Activities + Menu Commands
  extensions/gitlab/CHANGELOG.md
  extensions/gitlab/assets/commit.svg
  extensions/gitlab/assets/epic.svg
  extensions/gitlab/assets/group.svg
  extensions/gitlab/assets/history.svg
  extensions/gitlab/assets/issues.svg
  extensions/gitlab/assets/project.svg
  extensions/gitlab/assets/review-list.svg
  extensions/gitlab/assets/todo-done.svg
  extensions/gitlab/package.json
  extensions/gitlab/src/components/commits/list.tsx
  extensions/gitlab/src/components/epic_my.tsx
  extensions/gitlab/src/components/epics.tsx
  extensions/gitlab/src/components/event.tsx
  extensions/gitlab/src/components/groups.tsx
  extensions/gitlab/src/components/issues.tsx
  extensions/gitlab/src/components/issues_my.tsx
  extensions/gitlab/src/components/issues_search.tsx
  extensions/gitlab/src/components/menu.tsx
  extensions/gitlab/src/components/mr.tsx
  extensions/gitlab/src/components/mr_my.tsx
  extensions/gitlab/src/components/mr_search.tsx
  extensions/gitlab/src/components/project.tsx
  extensions/gitlab/src/components/project_search.tsx
  extensions/gitlab/src/components/reviews.tsx
  extensions/gitlab/src/components/todo.tsx
  extensions/gitlab/src/gitlabapi.ts
  extensions/gitlab/src/icons.ts
  extensions/gitlab/src/issuemenu.tsx
  extensions/gitlab/src/mrmenu.tsx
  extensions/gitlab/src/todomenubar.tsx
Labels: extension fix / improvement, OP is author, extension: gitlab

#7449 Update bear extension
  extensions/bear/CHANGELOG.md
  extensions/bear/package.json
  extensions/bear/src/index.tsx
  extensions/bear/src/new-note.tsx
  extensions/bear/src/note-actions.tsx
Labels: extension fix / improvement, OP is contributor, extension: bear

#7454 GitHub: Add Issues and Pull Requests menu command
  extensions/github/CHANGELOG.md
  extensions/github/package.json
  extensions/github/src/components/Menu.tsx
  extensions/github/src/open-issues-menu.tsx
  extensions/github/src/open-pull-request-menu.tsx
Labels: extension fix / improvement, OP is contributor, extension: github

#7459 Update google-meet extension
  extensions/google-meet/.gitignore
  extensions/google-meet/package.json
  extensions/google-meet/src/utils/scripts.ts
Labels: extension fix / improvement, extension: google-meet

#7424 Add color-shades extension
  extensions/color-shades/.eslintrc.json
  extensions/color-shades/.gitignore
  extensions/color-shades/.prettierrc
  extensions/color-shades/CHANGELOG.md
  extensions/color-shades/README.md
  extensions/color-shades/assets/command-icon.png
  extensions/color-shades/metadata/color-shades-1.png
  extensions/color-shades/metadata/color-shades-2.png
  extensions/color-shades/package-lock.json
  extensions/color-shades/package.json
  extensions/color-shades/src/components/generate-color-shades/generate-color-shades-grid.component.tsx
  extensions/color-shades/src/components/view-color-shades/view-color-shades-list.component.tsx
  extensions/color-shades/src/generate-color-shades.tsx
  extensions/color-shades/src/models/palette.model.ts
  extensions/color-shades/src/services/generator.service.ts
  extensions/color-shades/src/services/palette.service.ts
  extensions/color-shades/src/services/storage.service.ts
  extensions/color-shades/src/view-color-shades.tsx
  extensions/color-shades/tsconfig.json
Labels: new extension

#7469 Add markdown-image-to-html extension
  extensions/markdown-image-to-html/.eslintrc.json
  extensions/markdown-image-to-html/.gitignore
  extensions/markdown-image-to-html/.prettierrc
  extensions/markdown-image-to-html/CHANGELOG.md
  extensions/markdown-image-to-html/README.md
  extensions/markdown-image-to-html/assets/command-icon.png
  extensions/markdown-image-to-html/metadata/markdown-to-html.png
  extensions/markdown-image-to-html/package-lock.json
  extensions/markdown-image-to-html/package.json
  extensions/markdown-image-to-html/src/index.ts
  extensions/markdown-image-to-html/tsconfig.json
Labels: new extension

#7409 Add Reclaim.ai extension
  .github/public_raycast_extensions.txt
  extensions/reclaim/.eslintrc.json
  extensions/reclaim/.gitignore
  extensions/reclaim/.prettierrc
  extensions/reclaim/CHANGELOG.md
  extensions/reclaim/README.md
  extensions/reclaim/assets/command-icon.png
  extensions/reclaim/metadata/reclaim-1.png
  extensions/reclaim/metadata/reclaim-2.png
  extensions/reclaim/metadata/reclaim-3.png
  extensions/reclaim/metadata/reclaim-4.png
  extensions/reclaim/metadata/reclaim-5.png
  extensions/reclaim/metadata/reclaim-6.png
  extensions/reclaim/package-lock.json
  extensions/reclaim/package.json
  extensions/reclaim/src/hooks/useApi.tsx
  extensions/reclaim/src/hooks/useDebounce.tsx
  extensions/reclaim/src/hooks/useEvent.tsx
  extensions/reclaim/src/hooks/useEvent.types.ts
  extensions/reclaim/src/hooks/useInterpreter.tsx
  extensions/reclaim/src/hooks/useInterpreter.types.ts
  extensions/reclaim/src/hooks/useSchedulingLinks.tsx
  extensions/reclaim/src/hooks/useSchedulingLinks.types.ts
  extensions/reclaim/src/hooks/useTask.tsx
  extensions/reclaim/src/hooks/useTask.types.ts
  extensions/reclaim/src/hooks/useTimePolicy.tsx
  extensions/reclaim/src/hooks/useTimePolicy.types.ts
  extensions/reclaim/src/hooks/useUser.tsx
  extensions/reclaim/src/hooks/useUser.types.ts
  extensions/reclaim/src/my-calendar.tsx
  extensions/reclaim/src/notifications.tsx
  extensions/reclaim/src/quick-task.tsx
  extensions/reclaim/src/scheduling-links.tsx
  extensions/reclaim/src/task-form.tsx
  extensions/reclaim/src/types/datetime.ts
  extensions/reclaim/src/types/event.ts
  extensions/reclaim/src/types/plan.ts
  extensions/reclaim/src/types/preferences.ts
  extensions/reclaim/src/types/scheduling-link.ts
  extensions/reclaim/src/types/task.ts
  extensions/reclaim/src/types/time-policy.ts
  extensions/reclaim/src/types/user.ts
  extensions/reclaim/src/utils/arrays.ts
  extensions/reclaim/src/utils/axiosPromise.ts
  extensions/reclaim/src/utils/dates.ts
  extensions/reclaim/src/utils/emoji-helper.ts
  extensions/reclaim/src/utils/events.ts
  extensions/reclaim/src/utils/string.ts
  extensions/reclaim/src/utils/time-policy.ts
  extensions/reclaim/tsconfig.json
Labels: new extension

#7067 [iTerm] Split commands improvement
  extensions/iterm/CHANGELOG.md
  extensions/iterm/package.json
  extensions/iterm/src/split-iterm-horizontally.tsx
  extensions/iterm/src/split-iterm-vertically.tsx
Labels: extension fix / improvement, extension: iterm

#7468 Update image-wallet extension
  extensions/image-wallet/.gitignore
  extensions/image-wallet/CHANGELOG.md
  extensions/image-wallet/README.md
  extensions/image-wallet/metadata/image-wallet-1.png
  extensions/image-wallet/metadata/image-wallet-2.png
  extensions/image-wallet/metadata/image-wallet-3.png
  extensions/image-wallet/package-lock.json
  extensions/image-wallet/package.json
  extensions/image-wallet/src/image-wallet.tsx
  extensions/image-wallet/src/types.ts
  extensions/image-wallet/src/utils.ts
  extensions/image-wallet/tsconfig.json
Labels: extension fix / improvement, OP is author, extension: image-wallet

#7438 Add real-debrid-manager extension
  extensions/real-debrid-manager/.eslintrc.json
  extensions/real-debrid-manager/.gitignore
  extensions/real-debrid-manager/.prettierrc
  extensions/real-debrid-manager/CHANGELOG.md
  extensions/real-debrid-manager/README.md
  extensions/real-debrid-manager/assets/command-icon.png
  extensions/real-debrid-manager/metadata/real-debrid-manager-1.png
  extensions/real-debrid-manager/metadata/real-debrid-manager-2.png
  extensions/real-debrid-manager/metadata/real-debrid-manager-3.png
  extensions/real-debrid-manager/metadata/real-debrid-manager-4.png
  extensions/real-debrid-manager/metadata/real-debrid-manager-5.png
  extensions/real-debrid-manager/metadata/real-debrid-manager-6.png
  extensions/real-debrid-manager/metadata/real-debrid-manager-7.png
  extensions/real-debrid-manager/package-lock.json
  extensions/real-debrid-manager/package.json
  extensions/real-debrid-manager/src/account-info.tsx
  extensions/real-debrid-manager/src/api/config.ts
  extensions/real-debrid-manager/src/api/downloads.ts
  extensions/real-debrid-manager/src/api/endpoints.ts
  extensions/real-debrid-manager/src/api/index.ts
  extensions/real-debrid-manager/src/api/torrents.ts
  extensions/real-debrid-manager/src/api/unrestrict.ts
  extensions/real-debrid-manager/src/api/user.ts
  extensions/real-debrid-manager/src/components/DownloadActions.tsx
  extensions/real-debrid-manager/src/components/DownloadView.tsx
  extensions/real-debrid-manager/src/components/TorrentActions.tsx
  extensions/real-debrid-manager/src/components/TorrentFileSelection.tsx
  extensions/real-debrid-manager/src/components/TorrentView.tsx
  extensions/real-debrid-manager/src/components/index.ts
  extensions/real-debrid-manager/src/downloads.tsx
  extensions/real-debrid-manager/src/hooks/index.ts
  extensions/real-debrid-manager/src/hooks/useStreaming.tsx
  extensions/real-debrid-manager/src/new-download-from-clipboard.ts
  extensions/real-debrid-manager/src/new-download.tsx
  extensions/real-debrid-manager/src/reducers/index.ts
  extensions/real-debrid-manager/src/reducers/torrent-selection.ts
  extensions/real-debrid-manager/src/schema/downloads.ts
  extensions/real-debrid-manager/src/schema/index.ts
  extensions/real-debrid-manager/src/schema/system.ts
  extensions/real-debrid-manager/src/schema/torrents.ts
  extensions/real-debrid-manager/src/schema/user.ts
  extensions/real-debrid-manager/src/torrents.tsx
  extensions/real-debrid-manager/src/utils/date-time.ts
  extensions/real-debrid-manager/src/utils/errors.ts
  extensions/real-debrid-manager/src/utils/file-properties.ts
  extensions/real-debrid-manager/src/utils/index.ts
  extensions/real-debrid-manager/src/utils/markdown.ts
  extensions/real-debrid-manager/src/utils/stream-properties.ts
  extensions/real-debrid-manager/src/utils/torrent-properties.ts
  extensions/real-debrid-manager/src/utils/validation.ts
  extensions/real-debrid-manager/tsconfig.json
Labels: new extension, status: awaiting response from dev

#7451 Add colorify extension
  extensions/colorify/.eslintrc.json
  extensions/colorify/.gitignore
  extensions/colorify/.prettierrc
  extensions/colorify/CHANGELOG.md
  extensions/colorify/README.md
  extensions/colorify/assets/command-icon.png
  extensions/colorify/metadata/colorify-1.png
  extensions/colorify/package-lock.json
  extensions/colorify/package.json
  extensions/colorify/src/colorthief.js
  extensions/colorify/src/generate-theme.jsx
Labels: new extension, status: awaiting response from dev

#7392 [Bitwarden] Mark item as favorite & Reorderable favorite section
  extensions/bitwarden/CHANGELOG.md
  extensions/bitwarden/src/components/searchVault/Item.tsx
  extensions/bitwarden/src/components/searchVault/ItemActionPanel.tsx
  extensions/bitwarden/src/components/searchVault/VaultLoadingFallback.tsx
  extensions/bitwarden/src/components/searchVault/actions/FavoriteItemActions.tsx
  extensions/bitwarden/src/components/searchVault/utils/useGetUpdatedVaultItem.ts
  extensions/bitwarden/src/components/searchVault/utils/useItemAccessories.test.ts
  extensions/bitwarden/src/components/searchVault/utils/useItemAccessories.ts
  extensions/bitwarden/src/components/searchVault/utils/useItemIcon.test.ts
  extensions/bitwarden/src/components/searchVault/utils/useItemIcon.ts
  extensions/bitwarden/src/constants/general.ts
  extensions/bitwarden/src/context/bitwarden.tsx
  extensions/bitwarden/src/context/favorites.tsx
  extensions/bitwarden/src/context/session/session.tsx
  extensions/bitwarden/src/context/vault.tsx
  extensions/bitwarden/src/search.tsx
  extensions/bitwarden/src/utils/hooks/useAsyncEffect.ts
  extensions/bitwarden/src/utils/testing/mocks.ts
  extensions/bitwarden/src/utils/testing/setupEnvironment.tsx
Labels: extension fix / improvement, status: awaiting response from dev, OP is author, extension: bitwarden

#7480 Update visual-studio-code extension
  extensions/visual-studio-code-recent-projects/.gitignore
  extensions/visual-studio-code-recent-projects/CHANGELOG.md
  extensions/visual-studio-code-recent-projects/package.json
  extensions/visual-studio-code-recent-projects/src/index.tsx
  extensions/visual-studio-code-recent-projects/src/types.ts
  extensions/visual-studio-code-recent-projects/src/utils.ts
Labels: extension fix / improvement, extension: visual-studio-code

#7476 [Update Extension] System Monitor: Fix CPU usage
  extensions/system-monitor/src/Memory/MemoryMonitor.tsx
  extensions/system-monitor/src/Power/PowerMonitor.tsx
  extensions/system-monitor/src/Power/PowerUtils.tsx
Labels: extension fix / improvement, OP is contributor, extension: raycast-system-monitor

#7545 [GitHub] Add repo name to notifications menu
  extensions/github/CHANGELOG.md
  extensions/github/src/helpers/notifications.ts
Labels: extension fix / improvement, OP is contributor, extension: github

#7457 Changes progress indicator from circle to extension icon
  extensions/pomodoro/CHANGELOG.md
  extensions/pomodoro/assets/tomato-0.png
  extensions/pomodoro/assets/tomato-10.png
  extensions/pomodoro/assets/tomato-100.png
  extensions/pomodoro/assets/tomato-20.png
  extensions/pomodoro/assets/tomato-30.png
  extensions/pomodoro/assets/tomato-40.png
  extensions/pomodoro/assets/tomato-50.png
  extensions/pomodoro/assets/tomato-60.png
  extensions/pomodoro/assets/tomato-70.png
  extensions/pomodoro/assets/tomato-80.png
  extensions/pomodoro/assets/tomato-90.png
  extensions/pomodoro/assets/tomato-dark.png
  extensions/pomodoro/src/pomodoro-menu-bar.tsx
Labels: extension fix / improvement, OP is contributor, extension: pomodoro

#7269 Update send-to-flomo extension
  extensions/send-to-flomo/.gitignore
  extensions/send-to-flomo/package.json
  extensions/send-to-flomo/src/send-to-flomo.tsx
Labels: extension fix / improvement, extension: send-to-flomo

#7488 [Update] Append Clipoboard
  extensions/append-clipboard/CHANGELOG.md
  extensions/append-clipboard/package-lock.json
  extensions/append-clipboard/package.json
  extensions/append-clipboard/src/types/preferences.ts
  extensions/append-clipboard/src/utils/common-util.ts
Labels: extension fix / improvement, OP is author, extension: append-clipboard

#7495 Update worktrees extension
  extensions/worktrees/CHANGELOG.md
  extensions/worktrees/src/helpers.ts
Labels: extension fix / improvement, OP is author, extension: worktrees

#7515 Add the-noble-quran extension
  extensions/the-noble-quran/.eslintrc.json
  extensions/the-noble-quran/.gitignore
  extensions/the-noble-quran/.prettierrc
  extensions/the-noble-quran/CHANGELOG.md
  extensions/the-noble-quran/README.md
  extensions/the-noble-quran/assets/Meccan.png
  extensions/the-noble-quran/assets/Meccan@dark.png
  extensions/the-noble-quran/assets/Medinan.png
  extensions/the-noble-quran/assets/Medinan@dark.png
  extensions/the-noble-quran/assets/quran.png
  extensions/the-noble-quran/assets/quran@dark.png
  extensions/the-noble-quran/assets/quran_logo.png
  extensions/the-noble-quran/metadata/the-noble-quran-1.png
  extensions/the-noble-quran/metadata/the-noble-quran-2.png
  extensions/the-noble-quran/metadata/the-noble-quran-3.png
  extensions/the-noble-quran/package-lock.json
  extensions/the-noble-quran/package.json
  extensions/the-noble-quran/src/favorite.tsx
  extensions/the-noble-quran/src/hooks/useQuran.ts
  extensions/the-noble-quran/src/quran.tsx
  extensions/the-noble-quran/src/types/index.ts
  extensions/the-noble-quran/src/utils/api.ts
  extensions/the-noble-quran/src/utils/index.ts
  extensions/the-noble-quran/tsconfig.json
Labels: new extension

#7570 GIF Search: Upgrade `@raycast/api` to latest version.
  extensions/gif-search/.eslintrc.json
  extensions/gif-search/.gitignore
  extensions/gif-search/package-lock.json
  extensions/gif-search/package.json
  extensions/gif-search/src/components/GifDetailsActions.tsx
  extensions/gif-search/src/components/GifSearchList.tsx
  extensions/gif-search/tsconfig.json
Labels: extension fix / improvement, extension: gif-search

#7285 Bard: Add Chat feature
  extensions/raycast-bard-ai/CHANGELOG.md
  extensions/raycast-bard-ai/metadata/raycast-bard-ai-4.png
  extensions/raycast-bard-ai/package-lock.json
  extensions/raycast-bard-ai/package.json
  extensions/raycast-bard-ai/src/aiChat.jsx
  extensions/raycast-bard-ai/src/api/common.jsx
Labels: extension fix / improvement, OP is author, extension: raycast-bard-ai

#7517 [UUID Generator] Dependencies
  extensions/uuid-generator/package-lock.json
  extensions/uuid-generator/package.json
Labels: extension fix / improvement, OP is contributor, extension: uuid-generator

#7486 Add alacritty extension
  extensions/alacritty/.eslintrc.json
  extensions/alacritty/.gitignore
  extensions/alacritty/.prettierrc
  extensions/alacritty/CHANGELOG.md
  extensions/alacritty/README.md
  extensions/alacritty/assets/alacritty-term.png
  extensions/alacritty/package-lock.json
  extensions/alacritty/package.json
  extensions/alacritty/src/edit-file.ts
  extensions/alacritty/src/lib/run-shell-command.ts
  extensions/alacritty/src/lib/run-text.ts
  extensions/alacritty/src/lib/spawn-alacritty.ts
  extensions/alacritty/src/open-folder.ts
  extensions/alacritty/src/run-from-clipboard.ts
  extensions/alacritty/src/run-from-selection.ts
  extensions/alacritty/src/types/shell.ts
  extensions/alacritty/src/utils/get-alacritty-preferences.ts
  extensions/alacritty/src/utils/wrap-with-error-toast.ts
  extensions/alacritty/tsconfig.json
Labels: new extension, status: awaiting response from dev

#7490 Add ulid extension
  extensions/ulid/.eslintrc.json
  extensions/ulid/.gitignore
  extensions/ulid/.prettierrc
  extensions/ulid/CHANGELOG.md
  extensions/ulid/README.md
  extensions/ulid/assets/logo_512.png
  extensions/ulid/metadata/Raycast 2023-07-13 at 18.36.24.png
  extensions/ulid/metadata/Raycast 2023-07-13 at 18.36.34.png
  extensions/ulid/package-lock.json
  extensions/ulid/package.json
  extensions/ulid/src/decode.tsx
  extensions/ulid/src/generator.tsx
  extensions/ulid/src/util/clipboard.ts
  extensions/ulid/src/util/time.ts
  extensions/ulid/tsconfig.json
Labels: new extension

#7519 [Github For Enterprise] Dependencies
  extensions/github-for-enterprise/.gitignore
  extensions/github-for-enterprise/package-lock.json
  extensions/github-for-enterprise/package.json
  extensions/github-for-enterprise/src/issues-create.tsx
  extensions/github-for-enterprise/src/issues-open.tsx
  extensions/github-for-enterprise/src/prs-open.tsx
  extensions/github-for-enterprise/src/prs.tsx
  extensions/github-for-enterprise/src/utils/index.ts
  extensions/github-for-enterprise/tsconfig.json
Labels: extension fix / improvement, OP is contributor, extension: github-for-enterprise

#7518 [UUID Generator] ULID support
  extensions/uuid-generator/CHANGELOG.md
  extensions/uuid-generator/package-lock.json
  extensions/uuid-generator/package.json
  extensions/uuid-generator/src/generateUlid.tsx
Labels: extension fix / improvement, OP is contributor, extension: uuid-generator

#7533 Add habr-media extension
  extensions/habr-media/.eslintrc.json
  extensions/habr-media/.gitignore
  extensions/habr-media/.prettierrc
  extensions/habr-media/CHANGELOG.md
  extensions/habr-media/README.md
  extensions/habr-media/assets/extension-icon.png
  extensions/habr-media/metadata/habr-media-1.png
  extensions/habr-media/metadata/habr-media-2.png
  extensions/habr-media/package-lock.json
  extensions/habr-media/package.json
  extensions/habr-media/src/index.tsx
  extensions/habr-media/tsconfig.json
Labels: new extension

#7527 [youtrack] Plugin update
  extensions/youtrack/CHANGELOG.md
  extensions/youtrack/README.md
  extensions/youtrack/metadata/youtrack-browse-01.png
  extensions/youtrack/metadata/youtrack-browse-02.png
  extensions/youtrack/package-lock.json
  extensions/youtrack/package.json
  extensions/youtrack/src/browse.tsx
  extensions/youtrack/src/components.tsx
  extensions/youtrack/src/interfaces.tsx
  extensions/youtrack/src/utils.tsx
Labels: extension fix / improvement, OP is contributor, extension: youtrack

#6628 Add convert-px-to-vw-vh extension
  extensions/convert-px-to-vw-vh/.eslintrc.json
  extensions/convert-px-to-vw-vh/.gitignore
  extensions/convert-px-to-vw-vh/.prettierrc
  extensions/convert-px-to-vw-vh/CHANGELOG.md
  extensions/convert-px-to-vw-vh/README.md
  extensions/convert-px-to-vw-vh/assets/icon.png
  extensions/convert-px-to-vw-vh/assets/icon@dark.png
  extensions/convert-px-to-vw-vh/assets/logo-vh.png
  extensions/convert-px-to-vw-vh/assets/logo-vw.png
  extensions/convert-px-to-vw-vh/assets/logo.png
  extensions/convert-px-to-vw-vh/assets/logo.svg
  extensions/convert-px-to-vw-vh/metadata/convert-px-to-vw-or-vh-1.png
  extensions/convert-px-to-vw-vh/metadata/convert-px-to-vw-or-vh-2.png
  extensions/convert-px-to-vw-vh/metadata/convert-px-to-vw-or-vh-3.png
  extensions/convert-px-to-vw-vh/metadata/pixels-viewport-height.png
  extensions/convert-px-to-vw-vh/metadata/pixels-viewport-width-1.png
  extensions/convert-px-to-vw-vh/metadata/pixels-viewport-width-2.png
  extensions/convert-px-to-vw-vh/package-lock.json
  extensions/convert-px-to-vw-vh/package.json
  extensions/convert-px-to-vw-vh/src/height.tsx
  extensions/convert-px-to-vw-vh/src/history.ts
  extensions/convert-px-to-vw-vh/src/index.tsx
  extensions/convert-px-to-vw-vh/src/menu-bar.tsx
  extensions/convert-px-to-vw-vh/src/types.ts
  extensions/convert-px-to-vw-vh/src/utils.ts
  extensions/convert-px-to-vw-vh/src/width.tsx
  extensions/convert-px-to-vw-vh/tsconfig.json
Labels: new extension

#7595 Sort tasks by due date
  extensions/google-tasks/CHANGELOG.md
  extensions/google-tasks/src/api/endpoints.tsx
Labels: extension fix / improvement, OP is author, OP is contributor, extension: google-tasks

#7610 Add HEX value as `Search Colors` keyword
  extensions/tailwindcss/changelog.md
  extensions/tailwindcss/src/search-colors.tsx
Labels: extension fix / improvement, OP is author, extension: tailwindcss

#7599 Update pubme extension
  extensions/pubme/CHANGELOG.md
  extensions/pubme/README.md
  extensions/pubme/metadata/pubme-10.png
  extensions/pubme/metadata/pubme-2.png
  extensions/pubme/metadata/pubme-3.png
  extensions/pubme/metadata/pubme-4.png
  extensions/pubme/metadata/pubme-5.png
  extensions/pubme/metadata/pubme-6.png
  extensions/pubme/metadata/pubme-7.png
  extensions/pubme/metadata/pubme-8.png
  extensions/pubme/metadata/pubme-9.png
  extensions/pubme/package.json
  extensions/pubme/src/index.tsx
Labels: extension fix / improvement, OP is author, extension: pubme

#7598 Update doccheck extension
  extensions/doccheck/CHANGELOG.md
  extensions/doccheck/README.md
  extensions/doccheck/metadata/doccheck-1.png
  extensions/doccheck/metadata/doccheck-10.png
  extensions/doccheck/metadata/doccheck-11.png
  extensions/doccheck/metadata/doccheck-12.png
  extensions/doccheck/metadata/doccheck-13.png
  extensions/doccheck/metadata/doccheck-14.png
  extensions/doccheck/metadata/doccheck-15.png
  extensions/doccheck/metadata/doccheck-16.png
  extensions/doccheck/metadata/doccheck-17.png
  extensions/doccheck/metadata/doccheck-18.png
  extensions/doccheck/metadata/doccheck-19.png
  extensions/doccheck/metadata/doccheck-2.png
  extensions/doccheck/metadata/doccheck-3.png
  extensions/doccheck/metadata/doccheck-4.png
  extensions/doccheck/metadata/doccheck-5.png
  extensions/doccheck/metadata/doccheck-6.png
  extensions/doccheck/metadata/doccheck-7.png
  extensions/doccheck/metadata/doccheck-8.png
  extensions/doccheck/metadata/doccheck-9.png
  extensions/doccheck/package.json
  extensions/doccheck/src/doccheck-flexikon.tsx
  extensions/doccheck/src/doccheck-page.tsx
  extensions/doccheck/src/open-page.tsx
Labels: extension fix / improvement, OP is author, extension: doccheck

#7622 [PromptLab] Bug fixes + Custom Action Keybindings
  extensions/promptlab/CHANGELOG.md
  extensions/promptlab/assets/placeholders_guide.md
  extensions/promptlab/assets/scripts/ImageFeatureExtractor.scpt
  extensions/promptlab/assets/scripts/PDFTextExtractor.scpt
  extensions/promptlab/metadata/promptlab-5.png
  extensions/promptlab/package-lock.json
  extensions/promptlab/package.json
  extensions/promptlab/src/components/CategoryDropdown.tsx
  extensions/promptlab/src/components/Chats/CommandChatView.tsx
  extensions/promptlab/src/components/Chats/actions/ChatActionPanel.tsx
  extensions/promptlab/src/components/Chats/actions/ContextSettingsActionSection.tsx
  extensions/promptlab/src/components/Chats/actions/CopyChatActions.tsx
  extensions/promptlab/src/components/Chats/actions/DeleteChatActions.tsx
  extensions/promptlab/src/components/Chats/actions/ExportChatAction.tsx
  extensions/promptlab/src/components/Chats/actions/ToggleChatFavoriteAction.tsx
  extensions/promptlab/src/components/Commands/CommandDetailView.tsx
  extensions/promptlab/src/components/Commands/CommandForm.tsx
  extensions/promptlab/src/components/Commands/CommandResponse.tsx
  extensions/promptlab/src/components/Commands/actions/CommandControlActions.tsx
  extensions/promptlab/src/components/Commands/actions/CopyCommandActions.tsx
  extensions/promptlab/src/components/Commands/actions/InstallCommandAction.tsx
  extensions/promptlab/src/components/Commands/actions/ResponseActions.tsx
  extensions/promptlab/src/components/Commands/actions/RunCommandAction.tsx
  extensions/promptlab/src/components/Commands/actions/ShareCommandAction.tsx
  extensions/promptlab/src/components/Models/actions/AddNewModelAction.tsx
  extensions/promptlab/src/components/Models/actions/CopyModelActions.tsx
  extensions/promptlab/src/components/Models/actions/CreateModelDerivativeAction.tsx
  extensions/promptlab/src/components/Models/actions/DeleteModelActions.tsx
  extensions/promptlab/src/components/Models/actions/EditModelAction.tsx
  extensions/promptlab/src/components/Models/actions/ToggleModelDefaultAction.tsx
  extensions/promptlab/src/components/Models/actions/ToggleModelFavoriteAction.tsx
  extensions/promptlab/src/components/actions/OpenFileActions.tsx
  extensions/promptlab/src/data/default-advanced-settings.ts
  extensions/promptlab/src/data/default-commands.ts
  extensions/promptlab/src/data/default-models.ts
  extensions/promptlab/src/data/file-extensions.ts
  extensions/promptlab/src/hooks/useFiles.ts
  extensions/promptlab/src/hooks/useModel.ts
  extensions/promptlab/src/search-commands.tsx
  extensions/promptlab/src/utils/action-utils.ts
  extensions/promptlab/src/utils/command-utils.ts
  extensions/promptlab/src/utils/constants.ts
  extensions/promptlab/src/utils/context-utils.ts
  extensions/promptlab/src/utils/file-utils.ts
  extensions/promptlab/src/utils/placeholders.ts
  extensions/promptlab/src/utils/runModel.ts
  extensions/promptlab/src/utils/scripts.ts
  extensions/promptlab/src/utils/types.ts
Labels: extension fix / improvement, OP is author, extension: promptlab

#7590 Update README.md in habr-media extension
  extensions/habr-media/CHANGELOG.md
  extensions/habr-media/README.md
Labels: extension fix / improvement, OP is author, extension: habr-media

#7540 Update Anybox extension
  extensions/anybox/CHANGELOG.md
  extensions/anybox/package.json
  extensions/anybox/src/components/AnydockItem.tsx
  extensions/anybox/src/components/CollectionForm.tsx
  extensions/anybox/src/saveNote.tsx
Labels: extension fix / improvement, OP is author, extension: anybox

#7588 [GitHub] Updates raycast API and prettier
  extensions/github/package-lock.json
  extensions/github/package.json
  extensions/github/src/api/oauth.ts
  extensions/github/src/components/IssueActions.tsx
  extensions/github/src/components/IssueDetail.tsx
  extensions/github/src/components/Menu.tsx
  extensions/github/src/components/PullRequestActions.tsx
  extensions/github/src/components/PullRequestCommits.tsx
  extensions/github/src/components/PullRequestDetail.tsx
  extensions/github/src/components/RepositoryDiscussions.tsx
  extensions/github/src/components/RepositoryIssues.tsx
  extensions/github/src/components/RepositoryPullRequest.tsx
  extensions/github/src/create-branch.tsx
  extensions/github/src/create-issue.tsx
  extensions/github/src/create-pull-request.tsx
  extensions/github/src/generated/graphql.ts
  extensions/github/src/helpers/index.ts
  extensions/github/src/helpers/notifications.ts
  extensions/github/src/helpers/pull-request.ts
  extensions/github/src/helpers/repository.ts
  extensions/github/src/helpers/workflow.ts
  extensions/github/src/hooks/useCreatedIssues.ts
  extensions/github/src/hooks/useDiscussions.ts
  extensions/github/src/hooks/useIssues.ts
  extensions/github/src/hooks/useMyPullRequests.ts
  extensions/github/src/hooks/useOpenIssues.ts
  extensions/github/src/my-discussions.tsx
  extensions/github/src/open-issues-menu.tsx
  extensions/github/src/open-pull-request-menu.tsx
  extensions/github/src/search-issues.tsx
  extensions/github/src/search-pull-requests.tsx
  extensions/github/src/search-repositories.tsx
  extensions/github/src/workflow-runs.tsx
Labels: extension fix / improvement, extension: github

#7585 Lark: remove tenant domain logic
  extensions/lark/CHANGELOG.md
  extensions/lark/README.md
  extensions/lark/package-lock.json
  extensions/lark/package.json
  extensions/lark/src/components/space-list-item/index.tsx
  extensions/lark/src/features/with-auth/index.tsx
  extensions/lark/src/features/with-auth/qr-login/index.tsx
  extensions/lark/src/features/with-query/index.tsx
  extensions/lark/src/hooks/atoms.ts
  extensions/lark/src/services/auth.ts
  extensions/lark/src/services/shared.ts
  extensions/lark/src/services/space.ts
Labels: extension fix / improvement, OP is author, extension: lark

#7567 [Jira] Create Issue shortcut at the lists of issues
  extensions/jira/CHANGELOG.md
  extensions/jira/package.json
  extensions/jira/src/components/IssueActions.tsx
Labels: extension fix / improvement, extension: jira

#7592 Aleph Extension • Made errors more explanatory.
  extensions/aleph/package-lock.json
  extensions/aleph/package.json
  extensions/aleph/src/remove.tsx
  extensions/aleph/src/reverse.tsx
  extensions/aleph/src/to-hebrew.tsx
  extensions/aleph/src/to-latin.tsx
Labels: extension fix / improvement, OP is author, extension: aleph

#7587 Update mui-documentation extension
  extensions/mui-documentation/CHANGELOG.md
  extensions/mui-documentation/package-lock.json
  extensions/mui-documentation/package.json
  extensions/mui-documentation/src/ProductDropDown.tsx
  extensions/mui-documentation/src/Results.tsx
  extensions/mui-documentation/src/index.tsx
  extensions/mui-documentation/src/types.ts
  extensions/mui-documentation/src/utils.ts
Labels: extension fix / improvement, OP is author, extension: mui-documentation

#7365 Add harpoon extension
  extensions/harpoon/.eslintrc.json
  extensions/harpoon/.gitignore
  extensions/harpoon/.prettierrc
  extensions/harpoon/CHANGELOG.md
  extensions/harpoon/assets/down-icon.png
  extensions/harpoon/assets/harpoon-icon.png
  extensions/harpoon/assets/list-icon.png
  extensions/harpoon/assets/number-icon.png
  extensions/harpoon/assets/trash-icon.png
  extensions/harpoon/assets/up-icon.png
  extensions/harpoon/metadata/harpoon-1.png
  extensions/harpoon/metadata/harpoon-2.png
  extensions/harpoon/package-lock.json
  extensions/harpoon/package.json
  extensions/harpoon/src/HarpoonError.ts
  extensions/harpoon/src/addApplication.ts
  extensions/harpoon/src/addApplicationToEnd.ts
  extensions/harpoon/src/addApplicationToStart.ts
  extensions/harpoon/src/clearApplicationsList.ts
  extensions/harpoon/src/helpers/addItem.ts
  extensions/harpoon/src/helpers/clearList.ts
  extensions/harpoon/src/helpers/createDeepLink.ts
  extensions/harpoon/src/helpers/getItemByIndex.ts
  extensions/harpoon/src/helpers/getList.ts
  extensions/harpoon/src/helpers/moveItem.ts
  extensions/harpoon/src/helpers/removeItem.ts
  extensions/harpoon/src/helpers/setList.ts
  extensions/harpoon/src/helpers/unshiftList.ts
  extensions/harpoon/src/helpers/updateItem.ts
  extensions/harpoon/src/models.ts
  extensions/harpoon/src/openApplicationByPosition.ts
  extensions/harpoon/src/showApplicationsList.tsx
  extensions/harpoon/tsconfig.json
Labels: new extension, status: awaiting response from dev

#7513 Add inspire-search extension
  extensions/inspire-search/.eslintrc.json
  extensions/inspire-search/.gitignore
  extensions/inspire-search/.prettierrc
  extensions/inspire-search/CHANGELOG.md
  extensions/inspire-search/README.md
  extensions/inspire-search/assets/command-icon.png
  extensions/inspire-search/metadata/inspire-search-1.png
  extensions/inspire-search/metadata/inspire-search-2.png
  extensions/inspire-search/metadata/inspire-search-3.png
  extensions/inspire-search/metadata/inspire-search-4.png
  extensions/inspire-search/package-lock.json
  extensions/inspire-search/package.json
  extensions/inspire-search/src/ItemComponent.tsx
  extensions/inspire-search/src/index.tsx
  extensions/inspire-search/src/utils.ts
  extensions/inspire-search/tsconfig.json
Labels: new extension, status: awaiting response from dev

#7493 Add list command to fastmail-masked-email
  extensions/fastmail-masked-email/package.json
  extensions/fastmail-masked-email/src/api.ts
  extensions/fastmail-masked-email/src/create.tsx
  extensions/fastmail-masked-email/src/list.tsx
Labels: extension fix / improvement, extension: fastmail-masked-email

#7521 [Obsidian] Fix error on yaml object parsing
  extensions/obsidian/CHANGELOG.md
  extensions/obsidian/src/utils/yaml.tsx
Labels: extension fix / improvement, OP is author, extension: obsidian

#7499 Tunnelblick: Update Extension
  extensions/tunnelblick/.eslintrc.json
  extensions/tunnelblick/.gitignore
  extensions/tunnelblick/.prettierrc
  extensions/tunnelblick/CHANGELOG.md
  extensions/tunnelblick/README.md
  extensions/tunnelblick/metadata/tunnelblick-1.png
  extensions/tunnelblick/metadata/tunnelblick-2.png
  extensions/tunnelblick/package-lock.json
  extensions/tunnelblick/package.json
  extensions/tunnelblick/src/index.tsx
  extensions/tunnelblick/tsconfig.json
Labels: extension fix / improvement, extension: tunnelblick

#7389 Harvest
  extensions/harvest/CHANGELOG.md
  extensions/harvest/package-lock.json
  extensions/harvest/package.json
  extensions/harvest/src/menu-bar.tsx
Labels: extension fix / improvement, OP is author, extension: harvest

#7573 [LastPass] add ability to `hide password` in details view, to increase security
  extensions/lastpass/CHANGELOG.md
  extensions/lastpass/README.md
  extensions/lastpass/package.json
  extensions/lastpass/src/components/accountDetail.tsx
  extensions/lastpass/src/components/listItem.tsx
  extensions/lastpass/src/index.tsx
  extensions/lastpass/src/types.ts
  package-lock.json
Labels: extension fix / improvement, OP is author, extension: lastpass

#7630 Update "Remove Paywall" with a new command
  extensions/remove-paywall/CHANGELOG.md
  extensions/remove-paywall/README.md
  extensions/remove-paywall/metadata/remove-paywall-using.png
  extensions/remove-paywall/metadata/remove-paywall.png
  extensions/remove-paywall/package.json
  extensions/remove-paywall/src/remove-paywall-using.tsx
  extensions/remove-paywall/src/remove-paywall.tsx
  extensions/remove-paywall/src/utils.ts
Labels: extension fix / improvement, OP is author, extension: remove-paywall

#7634 Update to add new shadcn UI installation section docs
  extensions/shadcn-ui/CHANGELOG.md
  extensions/shadcn-ui/README.md
  extensions/shadcn-ui/src/documentation/shadcn-ui-documentation.ts
Labels: extension fix / improvement, OP is author, extension: shadcn-ui

#7633 [Bugfix] Menubar Weather
  extensions/menubar-weather/CHANGELOG.md
  extensions/menubar-weather/package-lock.json
  extensions/menubar-weather/package.json
  extensions/menubar-weather/src/hooks/hooks.ts
  extensions/menubar-weather/src/menubar-weather.tsx
  extensions/menubar-weather/src/utils/common-utils.ts
  extensions/menubar-weather/src/utils/weather-utils.ts
Labels: extension fix / improvement, OP is author, extension: menubar-weather

#7613 Update xcode extension
  extensions/xcode/CHANGELOG.md
  extensions/xcode/package.json
  extensions/xcode/src/components/apple-devices-list/apple-devices-list-dropdown.component.tsx
  extensions/xcode/src/components/apple-devices-list/apple-devices-list-item.components.tsx
  extensions/xcode/src/components/apple-devices-list/apple-devices-list.component.tsx
  extensions/xcode/src/list-apple-devices.command.tsx
  extensions/xcode/src/models/apple-device/apple-device-type.model.ts
  extensions/xcode/src/models/apple-device/apple-device.model.ts
  extensions/xcode/src/models/apple-device/apple-devices-list-filter.model.ts
  extensions/xcode/src/services/apple-devices.service.ts
Labels: extension fix / improvement, OP is contributor, extension: xcode

#7546 Add LogSnag extension
  extensions/logsnag/.eslintrc.json
  extensions/logsnag/.gitignore
  extensions/logsnag/.prettierrc
  extensions/logsnag/CHANGELOG.md
  extensions/logsnag/README.md
  extensions/logsnag/assets/logsnag.png
  extensions/logsnag/assets/no-event.svg
  extensions/logsnag/assets/no-insight.svg
  extensions/logsnag/metadata/logsnag-1-publish-event.png
  extensions/logsnag/metadata/logsnag-2-view-evemt.png
  extensions/logsnag/metadata/logsnag-3-publish-insight.png
  extensions/logsnag/metadata/logsnag-4-view-insight.png
  extensions/logsnag/package-lock.json
  extensions/logsnag/package.json
  extensions/logsnag/src/components/ErrorComponent.tsx
  extensions/logsnag/src/events.tsx
  extensions/logsnag/src/insights.tsx
  extensions/logsnag/src/utils/api.ts
  extensions/logsnag/src/utils/constants.ts
  extensions/logsnag/src/utils/types.ts
  extensions/logsnag/tsconfig.json
Labels: new extension

#7548 Update markdown-image-to-html extension
  extensions/markdown-image-to-html/CHANGELOG.md
  extensions/markdown-image-to-html/package.json
Labels: extension fix / improvement, extension: markdown-image-to-html

#7554 [Update] Reclaim.ai keywords, readme.md
  extensions/reclaim-ai/CHANGELOG.md
  extensions/reclaim-ai/README.md
  extensions/reclaim-ai/package.json
Labels: extension fix / improvement, OP is author, extension: reclaim-ai

#7526 Update microsoft-edge extension
  extensions/microsoft-edge/.eslintrc.json
  extensions/microsoft-edge/.gitignore
  extensions/microsoft-edge/.vscode/settings.json
  extensions/microsoft-edge/CHANGELOG.md
  extensions/microsoft-edge/assets/edge-beta.png
  extensions/microsoft-edge/assets/edge-canary.png
  extensions/microsoft-edge/assets/edge-dev.png
  extensions/microsoft-edge/assets/edge-stable.png
  extensions/microsoft-edge/package-lock.json
  extensions/microsoft-edge/package.json
  extensions/microsoft-edge/src/actions/index.ts
  extensions/microsoft-edge/src/components/EdgeActions.tsx
  extensions/microsoft-edge/src/components/EdgeListItems.tsx
  extensions/microsoft-edge/src/components/EdgeProfileDropdown.tsx
  extensions/microsoft-edge/src/components/error/NoBookmarksError.tsx
  extensions/microsoft-edge/src/components/error/NoCollectionsError.tsx
  extensions/microsoft-edge/src/components/error/NoHistoryError.tsx
  extensions/microsoft-edge/src/components/error/NotInstalledError.tsx
  extensions/microsoft-edge/src/components/error/UnknownError.tsx
  extensions/microsoft-edge/src/constants.ts
  extensions/microsoft-edge/src/hooks/useBookmarkSearch.tsx
  extensions/microsoft-edge/src/hooks/useCollectionSearch.tsx
  extensions/microsoft-edge/src/hooks/useHistorySearch.tsx
  extensions/microsoft-edge/src/hooks/useIsAppInstalled.tsx
  extensions/microsoft-edge/src/hooks/useTabSearch.tsx
  extensions/microsoft-edge/src/new-tab.tsx
  extensions/microsoft-edge/src/search-bookmarks.tsx
  extensions/microsoft-edge/src/search-collections.tsx
  extensions/microsoft-edge/src/search-history.tsx
  extensions/microsoft-edge/src/search-tab.tsx
  extensions/microsoft-edge/src/types/enums.ts
  extensions/microsoft-edge/src/types/interfaces.ts
  extensions/microsoft-edge/src/util/index.ts
  extensions/microsoft-edge/src/utils/appUtils.ts
  extensions/microsoft-edge/src/utils/messageUtils.ts
  extensions/microsoft-edge/src/utils/pathUtils.ts
  extensions/microsoft-edge/tsconfig.json
Labels: extension fix / improvement, OP is author, extension: microsoft-edge

#7351 Add Mailwip extension
  extensions/mailwip/.eslintrc.json
  extensions/mailwip/.gitignore
  extensions/mailwip/.prettierrc
  extensions/mailwip/CHANGELOG.md
  extensions/mailwip/README.md
  extensions/mailwip/assets/mailwip-add-domain.png
  extensions/mailwip/assets/mailwip-enable-maillog.png
  extensions/mailwip/assets/mailwip-generate-api-key.png
  extensions/mailwip/assets/mailwip.png
  extensions/mailwip/metadata/mailwip-1-view-aliases.png
  extensions/mailwip/metadata/mailwip-2-create-alias.png
  extensions/mailwip/metadata/mailwip-3-view-emails.png
  extensions/mailwip/metadata/mailwip-4-view-domains.png
  extensions/mailwip/metadata/mailwip-5-add-new-local-domain.png
  extensions/mailwip/package-lock.json
  extensions/mailwip/package.json
  extensions/mailwip/src/aliases.tsx
  extensions/mailwip/src/components/DomainSelector.tsx
  extensions/mailwip/src/components/ErrorComponent.tsx
  extensions/mailwip/src/domains.tsx
  extensions/mailwip/src/emails.tsx
  extensions/mailwip/src/utils/api.ts
  extensions/mailwip/src/utils/constants.ts
  extensions/mailwip/src/utils/types.ts
  extensions/mailwip/tsconfig.json
Labels: new extension, status: awaiting response from dev, status: stalled

#7646 Update colorify extension
  extensions/colorify/CHANGELOG.md
  extensions/colorify/metadata/colorify-1.png
  extensions/colorify/src/generate-theme.jsx
Labels: extension fix / improvement, OP is author, extension: colorify

#7583 Reflect: Use native OAuth PKCE API from Reflect
  extensions/reflect/CHANGELOG.md
  extensions/reflect/src/helpers/oauth.ts
Labels: extension fix / improvement, OP is contributor, extension: reflect

#7653 Added cc3
  extensions/country-lookup/CHANGELOG.md
  extensions/country-lookup/src/countries.tsx
Labels: extension fix / improvement, OP is author, extension: country-lookup

#7589 [GitHub Gist] Updates raycast API and prettier
  extensions/github-gist/.eslintrc.json
  extensions/github-gist/.gitignore
  extensions/github-gist/CHANGELOG.md
  extensions/github-gist/package-lock.json
  extensions/github-gist/package.json
  extensions/github-gist/src/components/gist-action.tsx
  extensions/github-gist/src/create-gist.tsx
  extensions/github-gist/src/hooks/hooks.ts
  extensions/github-gist/src/util/gist-utils.ts
  extensions/github-gist/tsconfig.json
Labels: extension fix / improvement, extension: github-gist

#7564 Add sort-mentions extension
  extensions/sort-mentions/.eslintrc.json
  extensions/sort-mentions/.gitignore
  extensions/sort-mentions/.prettierrc
  extensions/sort-mentions/CHANGELOG.md
  extensions/sort-mentions/README.md
  extensions/sort-mentions/assets/command-icon.png
  extensions/sort-mentions/metadata/sort-mentions-1.png
  extensions/sort-mentions/metadata/sort-mentions-2.png
  extensions/sort-mentions/package-lock.json
  extensions/sort-mentions/package.json
  extensions/sort-mentions/src/sort-primary.ts
  extensions/sort-mentions/src/sort-secondary.ts
  extensions/sort-mentions/src/utils.ts
  extensions/sort-mentions/tsconfig.json
Labels: new extension

#7550 Add espn extension
  extensions/espn/.eslintrc.json
  extensions/espn/.gitignore
  extensions/espn/.prettierrc
  extensions/espn/CHANGELOG.md
  extensions/espn/README.md
  extensions/espn/assets/extension-icon.png
  extensions/espn/metadata/espn-1.png
  extensions/espn/metadata/espn-2.png
  extensions/espn/package-lock.json
  extensions/espn/package.json
  extensions/espn/src/index.tsx
  extensions/espn/tsconfig.json
Labels: new extension

#7594 Add spryker-docs extension
  extensions/spryker-docs/.eslintrc.json
  extensions/spryker-docs/.gitignore
  extensions/spryker-docs/.prettierrc
  extensions/spryker-docs/CHANGELOG.md
  extensions/spryker-docs/README.md
  extensions/spryker-docs/assets/spryker.png
  extensions/spryker-docs/assets/spryker@dark.png
  extensions/spryker-docs/metadata/spryker-docs-1.png
  extensions/spryker-docs/metadata/spryker-docs-2.png
  extensions/spryker-docs/package-lock.json
  extensions/spryker-docs/package.json
  extensions/spryker-docs/src/documentation/default.json
  extensions/spryker-docs/src/env.ts
  extensions/spryker-docs/src/index.tsx
  extensions/spryker-docs/src/types/algolia.ts
  extensions/spryker-docs/tsconfig.json
Labels: new extension

#7609 Update youtrack extension
  extensions/youtrack/CHANGELOG.md
  extensions/youtrack/src/components.tsx
  extensions/youtrack/src/utils.tsx
Labels: extension fix / improvement, OP is contributor, extension: youtrack

#7649 [Teziovsky/infakt] Refactor create/update invoice
  extensions/infakt/metadata/infakt-2.png
  extensions/infakt/src/components/invoices/CreateInvoice.tsx
  extensions/infakt/src/components/invoices/UpdateInvoice.tsx
  extensions/infakt/src/types/invoice.d.ts
  extensions/infakt/src/utils/index.ts
Labels: extension fix / improvement, OP is author, extension: infakt

#7547 Add vc-ru-news extension
  extensions/vc-ru-news/.eslintrc.json
  extensions/vc-ru-news/.gitignore
  extensions/vc-ru-news/.prettierrc
  extensions/vc-ru-news/CHANGELOG.md
  extensions/vc-ru-news/README.md
  extensions/vc-ru-news/assets/extension-icon.png
  extensions/vc-ru-news/metadata/vc-ru-news-1.png
  extensions/vc-ru-news/package-lock.json
  extensions/vc-ru-news/package.json
  extensions/vc-ru-news/src/index.tsx
  extensions/vc-ru-news/tsconfig.json
  package-lock.json
Labels: new extension

#7575 Add waktu-solat extension
  extensions/waktu-solat/.eslintrc.json
  extensions/waktu-solat/.gitignore
  extensions/waktu-solat/.prettierrc
  extensions/waktu-solat/CHANGELOG.md
  extensions/waktu-solat/README.md
  extensions/waktu-solat/assets/mosque.png
  extensions/waktu-solat/metadata/waktu-solat-1.png
  extensions/waktu-solat/metadata/waktu-solat-2.png
  extensions/waktu-solat/metadata/waktu-solat-3.png
  extensions/waktu-solat/package-lock.json
  extensions/waktu-solat/package.json
  extensions/waktu-solat/src/index.tsx
  extensions/waktu-solat/src/lib/prayer-times.ts
  extensions/waktu-solat/src/lib/zones.ts
  extensions/waktu-solat/tsconfig.json
Labels: new extension

#7663 Claris snippets
  extensions/claris-snippets/CHANGELOG.md
  extensions/claris-snippets/assets/FmClipTools/FM.applescript
  extensions/claris-snippets/assets/FmClipTools/FMToClipboard.applescript
  extensions/claris-snippets/assets/FmClipTools/clipboardToFM.applescript
  extensions/claris-snippets/assets/FmClipTools/fmClip - Clipboard FM Objects to XML.applescript
  extensions/claris-snippets/assets/FmClipTools/fmObjectTranslator.applescript
  extensions/claris-snippets/package-lock.json
  extensions/claris-snippets/package.json
  extensions/claris-snippets/src/components/dynamic-snippet.form.tsx
  extensions/claris-snippets/src/utils/FmClipTools.ts
  extensions/claris-snippets/src/utils/types.ts
  extensions/claris-snippets/src/view-snippets.tsx
Labels: extension fix / improvement, OP is author, extension: claris-snippets

#7656 Update README.md
  extensions/espn/README.md
Labels: extension fix / improvement, OP is author, extension: espn

#7655 Update package.json
  extensions/espn/CHANGELOG.md
  extensions/espn/package.json
Labels: extension fix / improvement, OP is author, extension: espn

#7672 Fixed typo
  extensions/spotify-player/CHANGELOG.md
  extensions/spotify-player/package.json
  extensions/spotify-player/src/volume75.ts
Labels: extension fix / improvement, extension: spotify-player

#7647 Update xcode extension
  extensions/xcode/CHANGELOG.md
  extensions/xcode/src/components/apple-devices-list/apple-devices-list-item.components.tsx
  extensions/xcode/src/components/apple-devices-list/apple-devices-list.component.tsx
  extensions/xcode/src/models/apple-device/apple-device-type.model.ts
  extensions/xcode/src/models/apple-device/apple-device.model.ts
  extensions/xcode/src/models/apple-device/apple-devices-list-filter.model.ts
  extensions/xcode/src/services/apple-devices.service.ts
Labels: extension fix / improvement, OP is contributor, extension: xcode

#7678 add Product Hunt badge in README.md
  extensions/espn/CHANGELOG.md
  extensions/espn/README.md
Labels: extension fix / improvement, OP is author, extension: espn

#7725 Add .HEIC Support to Pick Your Wallpaper
  extensions/pick-your-wallpaper/CHANGELOG.md
  extensions/pick-your-wallpaper/src/choose-wallpaper.tsx
Labels: extension fix / improvement, OP is author, extension: pick-your-wallpaper

#7721 Update README.md
  extensions/techcrunch/README.md
Labels: extension fix / improvement, OP is author, extension: techcrunch

#7720 Update README.md
  extensions/habr-media/README.md
Labels: extension fix / improvement, OP is author, extension: habr-media

#7719 Update README.md
  extensions/vc-ru-news/README.md
Labels: extension fix / improvement, OP is author, extension: vc-ru-news

#7718 Update README.md
  extensions/espn/README.md
Labels: extension fix / improvement, OP is author, extension: espn

#7723 Update spanish-tv-guide extension
  extensions/spanish-tv-guide/CHANGELOG.md
  extensions/spanish-tv-guide/package-lock.json
  extensions/spanish-tv-guide/package.json
  extensions/spanish-tv-guide/src/index.tsx
Labels: extension fix / improvement, OP is author, extension: spanish-tv-guide

#7693 [Zotero] fixes for case where pdf is not available
  extensions/zotero/CHANGELOG.md
  extensions/zotero/README.md
  extensions/zotero/media/preferences.png
  extensions/zotero/metadata/zotero-5.png
  extensions/zotero/package-lock.json
  extensions/zotero/package.json
  extensions/zotero/src/common/View.tsx
  extensions/zotero/src/common/zoteroApi.ts
Labels: extension fix / improvement, OP is author, extension: zotero

#7707 Fix crash on Crunchbase extension #7640
  extensions/crunchbase/CHANGELOG.md
  extensions/crunchbase/package-lock.json
  extensions/crunchbase/src/index.tsx
Labels: extension fix / improvement, OP is author, extension: crunchbase

#7695 [Xcode] Added Xcode 15 Beta icon
  extensions/xcode/CHANGELOG.md
  extensions/xcode/assets/xcode-15-beta.png
  extensions/xcode/package-lock.json
  extensions/xcode/package.json
  extensions/xcode/src/components/xcode-release-list/xcode-release-list-item.component.tsx
Labels: extension fix / improvement, OP is author, extension: xcode

#7715 [Google Meet] Fixes copy URL on different browsers (specially Arc Browser and Firefox)
  extensions/google-meet/CHANGELOG.md
  extensions/google-meet/package-lock.json
  extensions/google-meet/package.json
  extensions/google-meet/src/components/ProfileList/ProfileList.tsx
  extensions/google-meet/src/default-profile.ts
  extensions/google-meet/src/helpers.ts
  extensions/google-meet/src/utils/scripts.ts
Labels: extension fix / improvement, OP is author, extension: google-meet

#7611 Add decentraland extension
  extensions/decentraland/.eslintrc.json
  extensions/decentraland/.gitignore
  extensions/decentraland/.prettierrc
  extensions/decentraland/CHANGELOG.md
  extensions/decentraland/README.md
  extensions/decentraland/assets/command-icon.png
  extensions/decentraland/assets/location.svg
  extensions/decentraland/metadata/decentraland-1.png
  extensions/decentraland/metadata/decentraland-2.png
  extensions/decentraland/metadata/decentraland-3.png
  extensions/decentraland/package-lock.json
  extensions/decentraland/package.json
  extensions/decentraland/src/constants.ts
  extensions/decentraland/src/hooks.ts
  extensions/decentraland/src/search-districts.tsx
  extensions/decentraland/src/search-events.tsx
  extensions/decentraland/src/types.ts
  extensions/decentraland/tsconfig.json
Labels: new extension

#7673 Update Inspire HEP Search
  extensions/inspire-search/CHANGELOG.md
  extensions/inspire-search/README.md
  extensions/inspire-search/metadata/inspire-search-3.png
  extensions/inspire-search/metadata/inspire-search-4.png
  extensions/inspire-search/package.json
  extensions/inspire-search/src/index.tsx
  extensions/inspire-search/src/utils.ts
Labels: extension fix / improvement, OP is author, extension: inspire-search

#7470 Update pixabay extension
  extensions/pixabay/package.json
  extensions/pixabay/src/searchimages.tsx
Labels: extension fix / improvement, status: awaiting response from dev, extension: pixabay

#7496 Add jellyfin extension
  extensions/jellyfin/.eslintrc.json
  extensions/jellyfin/.gitignore
  extensions/jellyfin/.prettierrc
  extensions/jellyfin/CHANGELOG.md
  extensions/jellyfin/README.md
  extensions/jellyfin/assets/command-icon.png
  extensions/jellyfin/media/collections.png
  extensions/jellyfin/media/header.png
  extensions/jellyfin/media/sessions.png
  extensions/jellyfin/media/tasks.png
  extensions/jellyfin/metadata/jellyfin-1.png
  extensions/jellyfin/metadata/jellyfin-2.png
  extensions/jellyfin/metadata/jellyfin-3.png
  extensions/jellyfin/metadata/jellyfin-4.png
  extensions/jellyfin/package-lock.json
  extensions/jellyfin/package.json
  extensions/jellyfin/src/components/ErrorDetailView.tsx
  extensions/jellyfin/src/components/MediaGridItem.tsx
  extensions/jellyfin/src/list-collections.tsx
  extensions/jellyfin/src/list-movies-series.tsx
  extensions/jellyfin/src/recent-sessions.tsx
  extensions/jellyfin/src/scheduled-tasks.tsx
  extensions/jellyfin/src/utils/errors.tsx
  extensions/jellyfin/src/utils/jellyfinApi.tsx
  extensions/jellyfin/src/utils/preferences.tsx
  extensions/jellyfin/src/utils/utils.tsx
  extensions/jellyfin/tsconfig.json
Labels: new extension

#7735 Spotify Player: Hide Icon when idle
  extensions/spotify-player/CHANGELOG.md
  extensions/spotify-player/package-lock.json
  extensions/spotify-player/package.json
  extensions/spotify-player/src/nowPlayingMenuBar.tsx
  extensions/spotify-player/tsconfig.json
Labels: extension fix / improvement, OP is contributor, extension: spotify-player

#7737 [Google Meet] Open meet on non default browser
  extensions/google-meet/CHANGELOG.md
  extensions/google-meet/package-lock.json
  extensions/google-meet/package.json
  extensions/google-meet/src/default-profile.ts
  extensions/google-meet/src/helpers.ts
  extensions/google-meet/src/utils/scripts.ts
Labels: extension fix / improvement, OP is author, extension: google-meet

#7652 Add mattermost extension
  extensions/mattermost/.eslintrc.json
  extensions/mattermost/.gitignore
  extensions/mattermost/.prettierrc
  extensions/mattermost/CHANGELOG.md
  extensions/mattermost/README.md
  extensions/mattermost/assets/mattermost-icon-rounded.png
  extensions/mattermost/assets/mattermost-online.png
  extensions/mattermost/metadata/mattermost-1.png
  extensions/mattermost/metadata/mattermost-2.png
  extensions/mattermost/metadata/mattermost-3.png
  extensions/mattermost/metadata/mattermost-4.png
  extensions/mattermost/package-lock.json
  extensions/mattermost/package.json
  extensions/mattermost/src/channels.tsx
  extensions/mattermost/src/set-custom-status.tsx
  extensions/mattermost/src/set-precense-status.tsx
  extensions/mattermost/src/shared/MattermostClient.tsx
  extensions/mattermost/src/shared/MattermostTypes.tsx
  extensions/mattermost/src/shared/emojiCodes.ts
  extensions/mattermost/src/shared/withAuthorization.tsx
  extensions/mattermost/tsconfig.json
Labels: new extension
