Repository raycast/extensions, pull requests merged in 2023-09, with the labels that each got.

#8174 [Google Translate] Add pronunciation
  extensions/google-translate/CHANGELOG.md
  extensions/google-translate/src/simple-translate.ts
  extensions/google-translate/src/translate-form.tsx
  extensions/google-translate/src/translate.tsx
Labels: extension fix / improvement, OP is author, extension: translate

#8169 Add new prompts
  extensions/raycast-explorer/CHANGELOG.md
  extensions/raycast-explorer/package.json
  extensions/raycast-explorer/src/data/prompts.ts
Labels: extension fix / improvement, extension: raycast-explorer

#8096 Update spotify-player extension
  extensions/spotify-player/.gitignore
  extensions/spotify-player/package.json
  extensions/spotify-player/src/api/skipToNext.ts
  extensions/spotify-player/src/api/skipToPrevious.ts
Labels: extension fix / improvement, extension: spotify-player

#8209 Add trimming to YouTube Downloader
  extensions/youtube-downloader/CHANGELOG.md
  extensions/youtube-downloader/package-lock.json
  extensions/youtube-downloader/package.json
  extensions/youtube-downloader/src/index.tsx
  extensions/youtube-downloader/src/utils.ts
Labels: extension fix / improvement, OP is author, extension: youtube-downloader

#8204 Add search in browser shortcut to Wikipedia extension
  extensions/wikipedia/CHANGELOG.md
  extensions/wikipedia/src/search-page.tsx
Labels: extension fix / improvement, OP is author, extension: wikipedia

#8205 Fix Flow extension broken commands
  extensions/flow/changelog.md
  extensions/flow/src/start-next-break.ts
  extensions/flow/src/start-next-focus.ts
Labels: extension fix / improvement, OP is author, extension: flow

#8229 Add "Copy Zero Width Space" Command
  extensions/silent-mention/CHANGELOG.md
  extensions/silent-mention/package.json
  extensions/silent-mention/src/copy-zero-width-space.ts
Labels: extension fix / improvement, OP is author, extension: silent-mention

#8142 Add text-format-improver extension
  extensions/text-format-improver/.eslintrc.json
  extensions/text-format-improver/.gitignore
  extensions/text-format-improver/.prettierrc
  extensions/text-format-improver/CHANGELOG.md
  extensions/text-format-improver/README.md
  extensions/text-format-improver/assets/command-icon.png
  extensions/text-format-improver/package-lock.json
  extensions/text-format-improver/package.json
  extensions/text-format-improver/renovate.json
  extensions/text-format-improver/src/text-format.ts
  extensions/text-format-improver/tsconfig.json
Labels: new extension

#8211 Add a preference to display CSS spacing units in pixels
  extensions/tailwindcss/changelog.md
  extensions/tailwindcss/package-lock.json
  extensions/tailwindcss/package.json
  extensions/tailwindcss/src/search-classes.tsx
Labels: extension fix / improvement, OP is author, extension: tailwindcss

#8213 Update mute-microphone extension
  extensions/mute-microphone/CHANGELOG.md
  extensions/mute-microphone/assets/scripts/input-volume
  extensions/mute-microphone/package.json
Labels: extension fix / improvement, OP is contributor, extension: mute-microphone

#8230 Update charged extension
  extensions/charged/CHANGELOG.md
  extensions/charged/src/config/data/starknetUtilsConfig.tsx
Labels: extension fix / improvement, extension: charged

#8188 Update HideMail extension
  extensions/hide-mail/CHANGELOG.md
  extensions/hide-mail/README.md
  extensions/hide-mail/metadata/hide-mail-1.png
  extensions/hide-mail/metadata/hide-mail-app-01.png
  extensions/hide-mail/metadata/hide-mail-app-02.png
  extensions/hide-mail/package-lock.json
  extensions/hide-mail/package.json
  extensions/hide-mail/src/config.ts
  extensions/hide-mail/src/index.ts
  extensions/hide-mail/src/index.tsx
  extensions/hide-mail/src/list-emails.tsx
  extensions/hide-mail/src/utils/create.ts
  extensions/hide-mail/src/utils/key.ts
  extensions/hide-mail/src/utils/list.ts
  extensions/hide-mail/src/utils/toggle.ts
Labels: extension fix / improvement, OP is author, extension: hide-mail

#8173 Added support for starring files and other grid view improvements
  extensions/figma-files/CHANGELOG.md
  extensions/figma-files/README.md
  extensions/figma-files/package-lock.json
  extensions/figma-files/package.json
  extensions/figma-files/src/components/FileGridItem.tsx
  extensions/figma-files/src/components/StarFileAction.tsx
  extensions/figma-files/src/components/starFiles.ts
  extensions/figma-files/src/hooks/useVisitedFiles.ts
  extensions/figma-files/src/index.tsx
  extensions/figma-files/src/menu-bar.tsx
Labels: extension fix / improvement, OP is contributor, extension: figma-files-raycast-extension

#8238 Update doccheck extension
  extensions/doccheck/CHANGELOG.md
  extensions/doccheck/README.md
  extensions/doccheck/src/doccheck-flexikon.tsx
Labels: extension fix / improvement, OP is author, extension: doccheck

#8236 fix: change to use bundleid filter app
  extensions/tmux-sessioner/.gitignore
  extensions/tmux-sessioner/CHANGELOG.md
  extensions/tmux-sessioner/package-lock.json
  extensions/tmux-sessioner/package.json
  extensions/tmux-sessioner/src/SelectTermnialApp.tsx
  extensions/tmux-sessioner/src/utils/sessionUtils.ts
  extensions/tmux-sessioner/src/utils/terminalUtils.ts
Labels: extension fix / improvement, extension: tmux-sessioner

#8202 Update producthunt extension
  extensions/producthunt/.eslintrc.json
  extensions/producthunt/.gitignore
  extensions/producthunt/CHANGELOG.md
  extensions/producthunt/README.md
  extensions/producthunt/assets/no-view.png
  extensions/producthunt/metadata/producthunt-1.png
  extensions/producthunt/package-lock.json
  extensions/producthunt/package.json
  extensions/producthunt/src/frontpage.tsx
  extensions/producthunt/src/utils.ts
  extensions/producthunt/tsconfig.json
Labels: extension fix / improvement, extension: producthunt

#8195 Hypersonic: Fix menu bar command background run crash.
  extensions/hypersonic/CHANGELOG.md
  extensions/hypersonic/src/services/notion/hooks/use-todos.tsx
Labels: extension fix / improvement, extension: hypersonic

#8179 Update obsidian-smart-capture extension
  extensions/obsidian-smart-capture/README.md
  extensions/obsidian-smart-capture/assets/screenshots/O1.png
  extensions/obsidian-smart-capture/assets/screenshots/O2.png
  extensions/obsidian-smart-capture/assets/screenshots/R1.png
  extensions/obsidian-smart-capture/assets/screenshots/R2.png
  extensions/obsidian-smart-capture/assets/screenshots/R3.png
  extensions/obsidian-smart-capture/src/capture.tsx
  extensions/obsidian-smart-capture/src/scripts/browser.ts
  extensions/obsidian-smart-capture/src/scripts/get-link.ts
Labels: extension fix / improvement, OP is author, extension: obsidian-smart-capture

#8107 Confluence
  .vscode/settings.json
  extensions/confluence-search/.gitignore
  extensions/confluence-search/CHANGELOG.md
  extensions/confluence-search/README.md
  extensions/confluence-search/assets/blogpost-default.svg
  extensions/confluence-search/assets/command-icon.png
  extensions/confluence-search/assets/confluence-icon.png
  extensions/confluence-search/assets/documents.svg
  extensions/confluence-search/assets/drafts.svg
  extensions/confluence-search/assets/folder.svg
  extensions/confluence-search/assets/home.svg
  extensions/confluence-search/assets/list-icon.png
  extensions/confluence-search/assets/page-default.svg
  extensions/confluence-search/assets/people.svg
  extensions/confluence-search/assets/recent.svg
  extensions/confluence-search/assets/search.svg
  extensions/confluence-search/assets/starred.svg
  extensions/confluence-search/metadata/confluence-1.png
  extensions/confluence-search/metadata/confluence-2.png
  extensions/confluence-search/metadata/confluence-3.png
  extensions/confluence-search/metadata/confluence-4.png
  extensions/confluence-search/package-lock.json
  extensions/confluence-search/package.json
  extensions/confluence-search/src/SearchResults/SearchActions.tsx
  extensions/confluence-search/src/SearchResults/SearchListItem.tsx
  extensions/confluence-search/src/SearchResults/index.ts
  extensions/confluence-search/src/api/atlassian.tsx
  extensions/confluence-search/src/api/auth.tsx
  extensions/confluence-search/src/api/confluence.tsx
  extensions/confluence-search/src/api/graphql/confluence.tsx
  extensions/confluence-search/src/api/graphql/graphql.tsx
  extensions/confluence-search/src/api/graphql/index.tsx
  extensions/confluence-search/src/api/oauth.tsx
  extensions/confluence-search/src/api/site.tsx
  extensions/confluence-search/src/api/util.tsx
  extensions/confluence-search/src/go.tsx
  extensions/confluence-search/src/index.tsx
  extensions/confluence-search/src/new-blog.tsx
  extensions/confluence-search/src/new-page.tsx
  extensions/confluence-search/src/people.tsx
  extensions/confluence-search/src/popular.tsx
  extensions/confluence-search/src/recent.tsx
  extensions/confluence-search/src/search.tsx
  extensions/confluence-search/src/switch-site.tsx
  extensions/confluence-search/src/util/AuthenticatedCommandContainer.tsx
  extensions/confluence-search/src/util/SiteContext.tsx
  extensions/confluence-search/src/util/action-panels.tsx
  extensions/confluence-search/src/util/fetchPolyfill.ts
  extensions/confluence-search/src/util/hooks.tsx
  extensions/confluence-search/src/util/icons.tsx
  extensions/confluence-search/src/util/text.tsx
  extensions/confluence-search/tsconfig.json
Labels: extension fix / improvement, extension: confluence-search

#8154 [Hue] Update and bugfixes
  extensions/hue/CHANGELOG.md
  extensions/hue/package-lock.json
  extensions/hue/package.json
  extensions/hue/src/components/ManageHueBridge.tsx
  extensions/hue/src/controlGroups.tsx
  extensions/hue/src/controlLights.tsx
  extensions/hue/src/helpers/arrayExtensions.ts
  extensions/hue/src/helpers/constants.ts
  extensions/hue/src/helpers/createLightIconPngUri.ts
  extensions/hue/src/helpers/hueNetworking.ts
  extensions/hue/src/helpers/hueResources.ts
  extensions/hue/src/helpers/raycast.ts
  extensions/hue/src/hooks/useGradientUris.ts
  extensions/hue/src/hooks/useHue.ts
  extensions/hue/src/hooks/useHueBridgeMachine.ts
  extensions/hue/src/hooks/useLightIconUris.ts
  extensions/hue/src/lib/HueClient.ts
  extensions/hue/src/lib/createHueClient.ts
  extensions/hue/src/lib/hueBridgeMachine.ts
  extensions/hue/src/lib/linkWithBridge.ts
  extensions/hue/src/lib/types.ts
  extensions/hue/src/setScene.tsx
  extensions/hue/src/toggleAllLights.ts
  extensions/hue/tsconfig.json
Labels: extension fix / improvement, OP is author, extension: hue

#8175 [Statamic] Update search index
  extensions/statamic-docs/CHANGELOG.md
  extensions/statamic-docs/src/documentation/3.x.json
Labels: extension fix / improvement, extension: statamic-docs

#8177 Update imessage-2fa extension
  extensions/imessage-2fa/CHANGELOG.md
  extensions/imessage-2fa/src/utils.ts
Labels: extension fix / improvement, OP is contributor, extension: imessage-2fa

#8049 Add grammari-x extension
  extensions/grammari-x/.eslintrc.json
  extensions/grammari-x/.gitignore
  extensions/grammari-x/.prettierrc
  extensions/grammari-x/CHANGELOG.md
  extensions/grammari-x/LICENSE
  extensions/grammari-x/README.md
  extensions/grammari-x/assets/icon.png
  extensions/grammari-x/metadata/grammari-x-2.png
  extensions/grammari-x/metadata/grammari-x-3.png
  extensions/grammari-x/metadata/grammari-x-4.png
  extensions/grammari-x/metadata/grammari-x-5.png
  extensions/grammari-x/metadata/grammari-x-6.png
  extensions/grammari-x/metadata/grammari-x-7.png
  extensions/grammari-x/package-lock.json
  extensions/grammari-x/package.json
  extensions/grammari-x/src/actions/copy.tsx
  extensions/grammari-x/src/actions/index.tsx
  extensions/grammari-x/src/actions/preferences.tsx
  extensions/grammari-x/src/actions/save.tsx
  extensions/grammari-x/src/components/CommandList.tsx
  extensions/grammari-x/src/components/ResultSection.tsx
  extensions/grammari-x/src/components/ToneTypeDropdown.tsx
  extensions/grammari-x/src/grammariX.tsx
  extensions/grammari-x/src/history.tsx
  extensions/grammari-x/src/saved.tsx
  extensions/grammari-x/src/types.ts
  extensions/grammari-x/src/utils.ts
  extensions/grammari-x/src/utils/grammerUtil.ts
  extensions/grammari-x/src/utils/historyUtil.ts
  extensions/grammari-x/src/utils/savedChatUtil.ts
  extensions/grammari-x/src/views/answer-detail.tsx
  extensions/grammari-x/tsconfig.json
Labels: new extension

#8172 Update conventional-commits extension
  extensions/conventional-commits/CHANGELOG.md
  extensions/conventional-commits/README.md
  extensions/conventional-commits/metadata/conventional-commits-2.png
  extensions/conventional-commits/package.json
  extensions/conventional-commits/src/index.tsx
Labels: extension fix / improvement, OP is author, extension: conventional-commits

#8261 Extension fixes
  extensions/github/CHANGELOG.md
  extensions/github/src/generated/graphql.ts
  extensions/github/src/unread-notifications.tsx
  extensions/jira/CHANGELOG.md
  extensions/jira/src/api/sprints.ts
  extensions/linear/package-lock.json
  extensions/linear/package.json
Labels: extension fix / improvement, OP is author, extension: github

#8170 Add masked-link-generator extension
  extensions/masked-link-generator/.eslintrc.json
  extensions/masked-link-generator/.gitignore
  extensions/masked-link-generator/.prettierrc
  extensions/masked-link-generator/CHANGELOG.md
  extensions/masked-link-generator/README.md
  extensions/masked-link-generator/assets/command-icon.png
  extensions/masked-link-generator/package-lock.json
  extensions/masked-link-generator/package.json
  extensions/masked-link-generator/src/index.tsx
  extensions/masked-link-generator/tsconfig.json
Labels: new extension

#7968 [jira-search-self-hosted] Search by project title and key case-insensitive
  extensions/jira-search-self-hosted/CHANGELOG.md
  extensions/jira-search-self-hosted/package.json
  extensions/jira-search-self-hosted/src/project.ts
Labels: extension fix / improvement, status: stalled, extension: jira-search-self-hosted

#8218 feat(notion): fix status, respect database names, delete database, colors
  extensions/notion/CHANGELOG.md
  extensions/notion/package-lock.json
  extensions/notion/package.json
  extensions/notion/src/components/DatabaseView.tsx
  extensions/notion/src/components/PageListItem.tsx
  extensions/notion/src/components/forms/CreateDatabaseForm.tsx
  extensions/notion/src/components/forms/DatabaseViewForm.tsx
  extensions/notion/src/hooks/index.ts
  extensions/notion/src/utils/notion.ts
  extensions/notion/src/utils/types.ts
Labels: extension fix / improvement, extension: notion

#8165 Ref #8164 - Make user option optional in ssh-manager extension
  extensions/ssh-manager/CHANGELOG.md
  extensions/ssh-manager/src/create.tsx
  extensions/ssh-manager/src/show.tsx
  extensions/ssh-manager/src/types.ts
Labels: extension fix / improvement, extension: ssh-manager

#8203 Update reclaim-ai extension
  extensions/reclaim-ai/CHANGELOG.md
  extensions/reclaim-ai/src/hooks/useEvent.tsx
  extensions/reclaim-ai/src/hooks/useTask.tsx
  extensions/reclaim-ai/src/list-tasks.tsx
  extensions/reclaim-ai/src/my-calendar.tsx
Labels: extension fix / improvement, OP is contributor, extension: reclaim-ai

#8058 Add mailboxlayer extension
  extensions/mailboxlayer/.eslintrc.json
  extensions/mailboxlayer/.gitignore
  extensions/mailboxlayer/.prettierrc
  extensions/mailboxlayer/CHANGELOG.md
  extensions/mailboxlayer/README.md
  extensions/mailboxlayer/assets/mailboxlayer.png
  extensions/mailboxlayer/metadata/mailboxlayer-2-success.png
  extensions/mailboxlayer/metadata/mailboxlayer-error.png
  extensions/mailboxlayer/package-lock.json
  extensions/mailboxlayer/package.json
  extensions/mailboxlayer/src/utils/types.ts
  extensions/mailboxlayer/src/validate-email-address.tsx
  extensions/mailboxlayer/tsconfig.json
Labels: new extension

#8210 Add ffmpeg extension
  extensions/ffmpeg/.eslintrc.json
  extensions/ffmpeg/.gitignore
  extensions/ffmpeg/.prettierrc
  extensions/ffmpeg/CHANGELOG.md
  extensions/ffmpeg/README.md
  extensions/ffmpeg/assets/command-icon.png
  extensions/ffmpeg/metadata/ffmpeg-1.png
  extensions/ffmpeg/metadata/ffmpeg-2.png
  extensions/ffmpeg/metadata/ffmpeg-3.png
  extensions/ffmpeg/metadata/ffmpeg-4.png
  extensions/ffmpeg/metadata/ffmpeg-5.png
  extensions/ffmpeg/package-lock.json
  extensions/ffmpeg/package.json
  extensions/ffmpeg/src/components/actionMenu.tsx
  extensions/ffmpeg/src/components/fileDetail.tsx
  extensions/ffmpeg/src/components/fileList.tsx
  extensions/ffmpeg/src/components/rootFileList.tsx
  extensions/ffmpeg/src/components/tipForInstallFFmpeg.tsx
  extensions/ffmpeg/src/components/tipForLoading.tsx
  extensions/ffmpeg/src/components/tipForSelectFile.tsx
  extensions/ffmpeg/src/index.tsx
  extensions/ffmpeg/src/managers/fileManager.ts
  extensions/ffmpeg/src/type/action.ts
  extensions/ffmpeg/src/type/file.ts
  extensions/ffmpeg/src/utils/LimitedMap.ts
  extensions/ffmpeg/src/utils/ffmpeg/execute.ts
  extensions/ffmpeg/src/utils/ffmpeg/fileInfo.ts
  extensions/ffmpeg/src/utils/ffmpeg/fileType.ts
  extensions/ffmpeg/src/utils/ffmpeg/generatePreviewImage.ts
  extensions/ffmpeg/src/utils/ffmpeg/index.ts
  extensions/ffmpeg/src/utils/ffmpeg/metadata.ts
  extensions/ffmpeg/src/utils/fs.ts
  extensions/ffmpeg/src/utils/md5.ts
  extensions/ffmpeg/src/views/entrance.tsx
  extensions/ffmpeg/src/views/runAction.tsx
  extensions/ffmpeg/src/views/writeMetadata.tsx
  extensions/ffmpeg/tsconfig.json
Labels: new extension

#8212 Update devonthink extension
  extensions/devonthink/CHANGELOG.md
  extensions/devonthink/package-lock.json
  extensions/devonthink/src/hooks/useSearch.ts
Labels: extension fix / improvement, OP is author, extension: devonthink

#8194 feat: raycast v1.57
  extensions/jira-search-self-hosted/.gitignore
  extensions/jira-search-self-hosted/CHANGELOG.md
  extensions/jira-search-self-hosted/package-lock.json
  extensions/jira-search-self-hosted/package.json
  extensions/jira-search-self-hosted/src/issue.ts
  extensions/jira-search-self-hosted/src/jira.ts
  extensions/jira-search-self-hosted/tsconfig.json
Labels: extension fix / improvement, extension: jira-search-self-hosted

#8286 Update ffmpeg extension
  extensions/ffmpeg/package-lock.json
  extensions/ffmpeg/package.json
  extensions/ffmpeg/src/components/actionMenu.tsx
  extensions/ffmpeg/src/components/tipForInstallFFmpeg.tsx
  extensions/ffmpeg/src/components/tipForSelectFile.tsx
  extensions/ffmpeg/src/managers/fileManager.ts
Labels: extension fix / improvement, extension: ffmpeg

#8227 Update aimlab extension
  extensions/aimlab/CHANGELOG.md
  extensions/aimlab/README.md
  extensions/aimlab/package.json
  extensions/aimlab/src/components/TaskLeaderboard.tsx
  extensions/aimlab/src/components/TaskLeaderboardDetail.tsx
  extensions/aimlab/src/hooks/useTaskLeadboard.ts
  extensions/aimlab/src/hooks/useTasks.ts
  extensions/aimlab/src/types/taskleaderboard.types.ts
  extensions/aimlab/src/types/tasks.types.ts
  extensions/aimlab/src/utils/generateTaskLeaderboardAccessories.ts
  extensions/aimlab/src/utils/getTaskLeaderboard.ts
  extensions/aimlab/src/utils/getTasks.ts
  extensions/aimlab/src/view-tasks.tsx
  extensions/aimlab/src/views/tasks.tsx
Labels: extension fix / improvement, OP is author, extension: aimlab

#8279 feat(brew-services): add more icons and fix logic
  extensions/brew-services/CHANGELOG.md
  extensions/brew-services/package-lock.json
  extensions/brew-services/package.json
  extensions/brew-services/src/manage-services.tsx
  extensions/brew-services/src/services.tsx
Labels: extension fix / improvement, OP is author, extension: brew-services

#8231 Update transform extension - Add JSON to string / String to JSON
  extensions/transform/CHANGELOG.md
  extensions/transform/package.json
  extensions/transform/src/json-to-string.tsx
  extensions/transform/src/string-to-json.tsx
Labels: extension fix / improvement, extension: transform

#8289 Update remember-the-date extension
  extensions/remember-the-date/.eslintrc.json
  extensions/remember-the-date/.gitignore
  extensions/remember-the-date/CHANGELOG.md
  extensions/remember-the-date/metadata/remember-the-date-1.png
  extensions/remember-the-date/metadata/remember-the-date-2.png
  extensions/remember-the-date/package-lock.json
  extensions/remember-the-date/package.json
  extensions/remember-the-date/src/editForm.tsx
  extensions/remember-the-date/src/index.tsx
  extensions/remember-the-date/src/list.tsx
  extensions/remember-the-date/tsconfig.json
Labels: extension fix / improvement, OP is author, extension: remember-the-date

#8284 feat(file-manager): support quicklinks
  extensions/file-manager/CHANGELOG.md
  extensions/file-manager/package-lock.json
  extensions/file-manager/package.json
  extensions/file-manager/src/manage-files.tsx
  extensions/file-manager/src/utils.tsx
Labels: extension fix / improvement, OP is author, extension: file-manager

#8292 Update pubme extension
  extensions/pubme/CHANGELOG.md
  extensions/pubme/master
  extensions/pubme/package.json
  extensions/pubme/src/index.tsx
Labels: extension fix / improvement, OP is author, extension: pubme

#8255 [LastPass] Add guard for password's special characters
  extensions/lastpass/CHANGELOG.md
  extensions/lastpass/src/cli.ts
Labels: extension fix / improvement, OP is author, extension: lastpass

#8186 Update git-commands extension
  extensions/git-commands/CHANGELOG.md
  extensions/git-commands/README.md
  extensions/git-commands/src/alias.json
Labels: extension fix / improvement, OP is author, extension: git-commands

#8297 fixing non existing folder bug
  extensions/my-daily-log/CHANGELOG.md
  extensions/my-daily-log/src/factories/makeDailyLogRepository.tsx
  extensions/my-daily-log/src/infrastructure/dailyLog/JsonDailyLogRepository.tsx
  extensions/my-daily-log/src/infrastructure/shared/DataStorage.tsx
  extensions/my-daily-log/src/infrastructure/shared/LocalFilesDataStorage.tsx
Labels: extension fix / improvement, OP is author, extension: my-daily-log

#8275 Improve TickTick plugin
  extensions/ticktick/CHANGELOG.md
  extensions/ticktick/package.json
  extensions/ticktick/src/create.tsx
  extensions/ticktick/src/quickAdd.tsx
  extensions/ticktick/src/service/preference.ts
  extensions/ticktick/src/types.d.ts
Labels: extension fix / improvement, OP is author, extension: ticktick

#8262 Update pick-your-wallpaper extension
  extensions/pick-your-wallpaper/CHANGELOG.md
  extensions/pick-your-wallpaper/package.json
  extensions/pick-your-wallpaper/src/choose-wallpaper.tsx
  extensions/pick-your-wallpaper/src/set-as-wallpaper.ts
  extensions/pick-your-wallpaper/src/utils.ts
Labels: extension fix / improvement, OP is contributor, extension: pick-your-wallpaper

#8310 [Home Assistant] Fix possible crashes
  extensions/homeassistant/CHANGELOG.md
  extensions/homeassistant/src/components/menu.tsx
  extensions/homeassistant/src/components/persistentnotification/list.tsx
  extensions/homeassistant/src/components/weather/menu.tsx
Labels: extension fix / improvement, OP is author, extension: homeassistant

#8309 Update jira extension
  extensions/jira/CHANGELOG.md
  extensions/jira/package.json
  extensions/jira/src/api/issues.ts
  extensions/jira/src/api/request.ts
  extensions/jira/src/components/IssueDetail.tsx
  extensions/jira/src/helpers/issues.ts
  extensions/jira/src/helpers/string.ts
Labels: extension fix / improvement, extension: jira

#8330 Transfer Notion
  .github/public_raycast_extensions.txt
  extensions/notion/package.json
Labels: extension fix / improvement, extension: notion

#8192 [1-Click-Confetti] Add confetti with sound command
  extensions/1-click-confetti/CHANGELOG.md
  extensions/1-click-confetti/package.json
  extensions/1-click-confetti/src/common.tsx
  extensions/1-click-confetti/src/confetti-menu.tsx
  extensions/1-click-confetti/src/confetti-no-view.tsx
Labels: extension fix / improvement, extension: 1-click-confetti

#8318 Update Anybox extension
  extensions/anybox/CHANGELOG.md
  extensions/anybox/README.md
  extensions/anybox/package.json
  extensions/anybox/src/components/LinkItem.tsx
  extensions/anybox/src/components/TagForm.tsx
  extensions/anybox/src/components/TagItem.tsx
  extensions/anybox/src/paste.tsx
  extensions/anybox/src/pasteWithCollections.tsx
  extensions/anybox/src/pasteWithTags.tsx
  extensions/anybox/src/saveCurrentTab.tsx
  extensions/anybox/src/saveCurrentTabWithCollections.tsx
  extensions/anybox/src/saveCurrentTabWithTags.tsx
  extensions/anybox/src/saveNote.tsx
  extensions/anybox/src/search.tsx
  extensions/anybox/src/searchTag.tsx
  extensions/anybox/src/showList.tsx
  extensions/anybox/src/utilities/fetch.tsx
  extensions/anybox/src/utilities/searchRequest.tsx
Labels: extension fix / improvement, OP is author, extension: anybox

#8248 [Pins] Subgroups, Sorting, Settings, Bug Fixes, and More
  extensions/pins/.markdownlint.json
  extensions/pins/CHANGELOG.md
  extensions/pins/README.md
  extensions/pins/assets/pins.icns
  extensions/pins/assets/placeholders_guide.md
  extensions/pins/assets/scripts/PinsLocationManager.app/Contents/Info.plist
  extensions/pins/assets/scripts/PinsLocationManager.app/Contents/MacOS/applet
  extensions/pins/assets/scripts/PinsLocationManager.app/Contents/PkgInfo
  extensions/pins/assets/scripts/PinsLocationManager.app/Contents/Resources/Scripts/main.scpt
  extensions/pins/assets/scripts/PinsLocationManager.app/Contents/Resources/applet.icns
  extensions/pins/assets/scripts/PinsLocationManager.app/Contents/Resources/applet.rsrc
  extensions/pins/assets/scripts/PinsLocationManager.app/Contents/Resources/description.rtfd/TXT.rtf
  extensions/pins/assets/scripts/PinsLocationManager.app/Contents/_CodeSignature/CodeResources
  extensions/pins/metadata/pins-1.png
  extensions/pins/metadata/pins-2.png
  extensions/pins/metadata/pins-3.png
  extensions/pins/metadata/pins-4.png
  extensions/pins/package-lock.json
  extensions/pins/package.json
  extensions/pins/src/browser-utils.ts
  extensions/pins/src/check-expirations.ts
  extensions/pins/src/components/GroupForm.tsx
  extensions/pins/src/components/OpenAllMenuItem.tsx
  extensions/pins/src/components/PinForm.tsx
  extensions/pins/src/components/PinMenuItem.tsx
  extensions/pins/src/components/RecentApplicationsList.tsx
  extensions/pins/src/components/actions/CopyPinActionsSubmenu.tsx
  extensions/pins/src/components/actions/DeletePinAction.tsx
  extensions/pins/src/copy-pins.ts
  extensions/pins/src/import-data.tsx
  extensions/pins/src/index.tsx
  extensions/pins/src/lib/Groups.ts
  extensions/pins/src/lib/LocalData.ts
  extensions/pins/src/lib/Pins.ts
  extensions/pins/src/lib/accessories.ts
  extensions/pins/src/lib/browser-utils.ts
  extensions/pins/src/lib/constants.ts
  extensions/pins/src/lib/constants.tsx
  extensions/pins/src/lib/defaults.ts
  extensions/pins/src/lib/icons.ts
  extensions/pins/src/lib/placeholders.ts
  extensions/pins/src/lib/scheduled-execution.ts
  extensions/pins/src/lib/scripts.ts
  extensions/pins/src/lib/utils.tsx
  extensions/pins/src/new-group.tsx
  extensions/pins/src/new-pin.tsx
  extensions/pins/src/view-groups.tsx
  extensions/pins/src/view-pins.tsx
Labels: extension fix / improvement, OP is author, extension: pins

#8300 Update package.json
  extensions/rusbase/package.json
Labels: extension fix / improvement, OP is author, extension: rusbase

#8302 Update manga-calendar extension
  extensions/manga-calendar/CHANGELOG.md
  extensions/manga-calendar/README.md
  extensions/manga-calendar/metadata/manga-calendar-2.png
  extensions/manga-calendar/metadata/manga-calendar-3.png
  extensions/manga-calendar/package-lock.json
  extensions/manga-calendar/package.json
  extensions/manga-calendar/pnpm-lock.yaml
  extensions/manga-calendar/src/commands/BrowseCollections.tsx
  extensions/manga-calendar/src/commands/CurrentMonthPublications.tsx
  extensions/manga-calendar/src/components/CollectionGridItem.tsx
  extensions/manga-calendar/src/components/CollectionListView.tsx
  extensions/manga-calendar/src/components/DateDropdown.tsx
  extensions/manga-calendar/src/components/MangaListItem.tsx
  extensions/manga-calendar/src/types/index.ts
  extensions/manga-calendar/src/utils/generateKey.ts
  extensions/manga-calendar/src/utils/scrapper.ts
Labels: extension fix / improvement, OP is author, extension: manga-calendar

#8317 Update cal-com-share-meeting-links extension
  extensions/cal-com-share-meeting-links/CHANGELOG.md
  extensions/cal-com-share-meeting-links/package.json
  extensions/cal-com-share-meeting-links/src/index.tsx
  extensions/cal-com-share-meeting-links/src/services/cal.com.ts
Labels: extension fix / improvement, extension: cal-com-share-meeting-links

#8220 fix: datetime-format-converter - hours were wrong
  extensions/datetime-format-converter/CHANGELOG.md
  extensions/datetime-format-converter/src/index.tsx
Labels: extension fix / improvement, extension: date-format-converter

#7906 Add wordreference extension
  extensions/wordreference/.eslintrc.json
  extensions/wordreference/.gitignore
  extensions/wordreference/.prettierrc
  extensions/wordreference/CHANGELOG.md
  extensions/wordreference/LICENSE.txt
  extensions/wordreference/README.md
  extensions/wordreference/assets/icon.png
  extensions/wordreference/metadata/wordreference-1.png
  extensions/wordreference/metadata/wordreference-2.png
  extensions/wordreference/metadata/wordreference-3.png
  extensions/wordreference/metadata/wordreference-4.png
  extensions/wordreference/package-lock.json
  extensions/wordreference/package.json
  extensions/wordreference/src/data/translationDictionaries.json
  extensions/wordreference/src/data/translationKeyMap.json
  extensions/wordreference/src/hooks/preferences.ts
  extensions/wordreference/src/hooks/translations.ts
  extensions/wordreference/src/preferencesTranslationDropdown.tsx
  extensions/wordreference/src/searchTranslations.tsx
  extensions/wordreference/src/translationDetails.tsx
  extensions/wordreference/tsconfig.json
Labels: new extension

#8336 Update imessage-2fa extension
  extensions/imessage-2fa/CHANGELOG.md
  extensions/imessage-2fa/src/utils.ts
Labels: extension fix / improvement, OP is contributor, extension: imessage-2fa

#8315 [Bitwarden] Download own CLI binary instead of requiring local installation
  extensions/bitwarden/CHANGELOG.md
  extensions/bitwarden/README.md
  extensions/bitwarden/package.json
  extensions/bitwarden/src/api/bitwarden.ts
  extensions/bitwarden/src/utils/crypto.ts
  extensions/bitwarden/src/utils/errors.ts
  extensions/bitwarden/src/utils/fs.ts
Labels: extension fix / improvement, OP is author, extension: bitwarden

#8308 Update ffmpeg extension
  extensions/ffmpeg/CHANGELOG.md
  extensions/ffmpeg/src/components/fileDetail.tsx
  extensions/ffmpeg/src/managers/fileManager.ts
  extensions/ffmpeg/src/utils/ffmpeg/fileInfo.ts
Labels: extension fix / improvement, OP is contributor, extension: ffmpeg

#8285 feat(orion): add profile support
  extensions/orion/CHANGELOG.md
  extensions/orion/package-lock.json
  extensions/orion/package.json
  extensions/orion/src/bookmarks.tsx
  extensions/orion/src/components/BookmarkListItem.tsx
  extensions/orion/src/components/BookmarksFolderDropdown.tsx
  extensions/orion/src/components/CloseTabAction.tsx
  extensions/orion/src/components/HistoryListSection.tsx
  extensions/orion/src/components/OpenTabAction.tsx
  extensions/orion/src/components/ProfileDropdown.tsx
  extensions/orion/src/components/ProfileListItem.tsx
  extensions/orion/src/history.tsx
  extensions/orion/src/hooks/useBookmarks.ts
  extensions/orion/src/hooks/useHistorySearch.ts
  extensions/orion/src/hooks/useProfiles.ts
  extensions/orion/src/hooks/useReadingList.ts
  extensions/orion/src/hooks/useTabs.ts
  extensions/orion/src/profiles.tsx
  extensions/orion/src/reading-list.tsx
  extensions/orion/src/types.ts
  extensions/orion/src/utils.ts
Labels: extension fix / improvement, extension: orion

#8344 feat(file-manager): better symlinks
  extensions/file-manager/CHANGELOG.md
  extensions/file-manager/package-lock.json
  extensions/file-manager/package.json
  extensions/file-manager/src/utils.tsx
Labels: extension fix / improvement, OP is author, extension: file-manager

#8341 Update grammari-x extension
  extensions/grammari-x/CHANGELOG.md
  extensions/grammari-x/src/components/ResultSection.tsx
  extensions/grammari-x/src/grammariX.tsx
  extensions/grammari-x/src/history.tsx
  extensions/grammari-x/src/utils/grammerUtil.ts
  extensions/grammari-x/src/views/answer-detail.tsx
Labels: extension fix / improvement, OP is author, extension: grammari-x

#8221 datetime-format-converter: add more formats
  extensions/datetime-format-converter/CHANGELOG.md
  extensions/datetime-format-converter/src/index.tsx
Labels: extension fix / improvement, extension: date-format-converter

#8298 Openverse: Add action to report an image
  extensions/openverse/CHANGELOG.md
  extensions/openverse/package-lock.json
  extensions/openverse/package.json
  extensions/openverse/src/components/Actions.tsx
Labels: extension fix / improvement, OP is author, extension: openverse

#8327 Update arc extension
  extensions/arc/CHANGELOG.md
  extensions/arc/package.json
  extensions/arc/src/arc.ts
  extensions/arc/src/new-blank-window.ts
Labels: extension fix / improvement, extension: arc

#8350 Update README.md
  extensions/filamentphp-doc-seach/README.md
Labels: extension fix / improvement, OP is author, extension: filament

#8268 Add xcodes extension
  extensions/xcodes/.eslintrc.json
  extensions/xcodes/.gitignore
  extensions/xcodes/.prettierrc
  extensions/xcodes/CHANGELOG.md
  extensions/xcodes/README.md
  extensions/xcodes/assets/command-icon.png
  extensions/xcodes/metadata/Raycast-1.png
  extensions/xcodes/metadata/Raycast-2.png
  extensions/xcodes/metadata/Raycast-3.png
  extensions/xcodes/package-lock.json
  extensions/xcodes/package.json
  extensions/xcodes/src/components/actionPanels.tsx
  extensions/xcodes/src/components/xcodeListItem.tsx
  extensions/xcodes/src/lib/cli.ts
  extensions/xcodes/src/lib/utilities.ts
  extensions/xcodes/src/lib/xcodes.ts
  extensions/xcodes/src/list.tsx
  extensions/xcodes/tsconfig.json
Labels: new extension

#8362 [Bitwarden] Revert "Download own CLI binary instead of requiring local installation (#8315)"
  extensions/bitwarden/CHANGELOG.md
  extensions/bitwarden/README.md
  extensions/bitwarden/package.json
  extensions/bitwarden/src/api/bitwarden.ts
  extensions/bitwarden/src/utils/crypto.ts
  extensions/bitwarden/src/utils/errors.ts
  extensions/bitwarden/src/utils/fs.ts
Labels: extension fix / improvement, OP is author, extension: bitwarden

#8361 Arc extension: update readme and icon
  extensions/arc/README.md
  extensions/arc/assets/icon-dark.png
  extensions/arc/assets/icon.png
  extensions/arc/package.json
Labels: extension fix / improvement, extension: arc

#8313 Update conventional-commits extension
  extensions/conventional-commits/CHANGELOG.md
  extensions/conventional-commits/README.md
  extensions/conventional-commits/metadata/conventional-commits-1.png
  extensions/conventional-commits/metadata/conventional-commits-2.png
  extensions/conventional-commits/package.json
  extensions/conventional-commits/screenshots/cc-screenshot-2.png
  extensions/conventional-commits/screenshots/cc-screenshot.png
  extensions/conventional-commits/src/commit-message-structure.tsx
  extensions/conventional-commits/src/index.tsx
Labels: extension fix / improvement, extension: conventional-commits

#8280 feat(change-case): support quicklinks
  extensions/change-case/CHANGELOG.md
  extensions/change-case/package-lock.json
  extensions/change-case/package.json
  extensions/change-case/src/change-case.tsx
  extensions/change-case/tsconfig.json
Labels: extension fix / improvement, OP is author, extension: change-case

#8305 Update tesla extension
  extensions/tesla/CHANGELOG.md
  extensions/tesla/README.md
  extensions/tesla/assets/3/Model3BlackAero.png
  extensions/tesla/assets/3/Model3BlackPerf.png
  extensions/tesla/assets/3/Model3BlueAero.png
  extensions/tesla/assets/3/Model3BluePerf.png
  extensions/tesla/assets/3/Model3RedAero.png
  extensions/tesla/assets/3/Model3RedPerf.png
  extensions/tesla/assets/3/Model3SilverAero.png
  extensions/tesla/assets/3/Model3SilverPerf.png
  extensions/tesla/assets/3/Model3WhiteAero.png
  extensions/tesla/assets/3/Model3WhitePerf.png
  extensions/tesla/assets/Model3Black.png
  extensions/tesla/assets/S/ModelSBlack.png
  extensions/tesla/assets/S/ModelSBlue.png
  extensions/tesla/assets/S/ModelSRed.png
  extensions/tesla/assets/S/ModelSSilver.png
  extensions/tesla/assets/S/ModelSTitanium.png
  extensions/tesla/assets/S/ModelSWhite.png
  extensions/tesla/assets/X/ModelXBlack.png
  extensions/tesla/assets/X/ModelXBlue.png
  extensions/tesla/assets/X/ModelXRed.png
  extensions/tesla/assets/X/ModelXSilver.png
  extensions/tesla/assets/X/ModelXTitanium.png
  extensions/tesla/assets/X/ModelXWhite.png
  extensions/tesla/assets/Y/ModelYBlackAero.png
  extensions/tesla/assets/Y/ModelYBlackPerf.png
  extensions/tesla/assets/Y/ModelYBlueAero.png
  extensions/tesla/assets/Y/ModelYBluePerf.png
  extensions/tesla/assets/Y/ModelYRedAero.png
  extensions/tesla/assets/Y/ModelYRedPerf.png
  extensions/tesla/assets/Y/ModelYSilverAero.png
  extensions/tesla/assets/Y/ModelYSilverPerf.png
  extensions/tesla/assets/Y/ModelYWhiteAero.png
  extensions/tesla/assets/Y/ModelYWhitePerf.png
  extensions/tesla/metadata/tesla-1.png
  extensions/tesla/metadata/tesla-2.png
  extensions/tesla/metadata/tesla-3.png
  extensions/tesla/package-lock.json
  extensions/tesla/package.json
  extensions/tesla/src/changeImage.tsx
  extensions/tesla/src/closeChargeDoor.tsx
  extensions/tesla/src/fart.tsx
  extensions/tesla/src/flashLights.tsx
  extensions/tesla/src/honk.tsx
  extensions/tesla/src/openChargeDoor.tsx
  extensions/tesla/src/startCharging.tsx
  extensions/tesla/src/stopCharging.tsx
  extensions/tesla/src/turnClimateOff.tsx
  extensions/tesla/src/turnClimateOn.tsx
  extensions/tesla/src/turnSentryOff.tsx
  extensions/tesla/src/turnSentryOn.tsx
  extensions/tesla/src/types/HistoricalCharge.ts
  extensions/tesla/src/types/HistoricalDrive.ts
  extensions/tesla/src/types/Info.ts
  extensions/tesla/src/utils/constants.ts
  extensions/tesla/src/utils/timeUtils.ts
  extensions/tesla/src/viewCar.tsx
  extensions/tesla/src/viewCharges.tsx
  extensions/tesla/src/viewDrives.tsx
Labels: extension fix / improvement, OP is author, extension: tesla

#8376 Update toggle-menu-bar extension
  extensions/toggle-menu-bar/CHANGELOG.md
  extensions/toggle-menu-bar/README.md
  extensions/toggle-menu-bar/package-lock.json
  extensions/toggle-menu-bar/package.json
  extensions/toggle-menu-bar/src/toggle.tsx
  extensions/toggle-menu-bar/src/utils.tsx
Labels: extension fix / improvement, OP is author, extension: toggle-menu-bar

#8379 Update package.json
  extensions/shell/package.json
Labels: extension fix / improvement, extension: shell

#8276 Update bitwarden extension
  extensions/bitwarden/CHANGELOG.md
  extensions/bitwarden/package.json
  extensions/bitwarden/src/utils/cards.ts
  extensions/bitwarden/src/utils/identity.ts
Labels: extension fix / improvement, extension: bitwarden

#8245 Add ingredients-lister extension
  extensions/ingredients-lister/.eslintrc.json
  extensions/ingredients-lister/.gitignore
  extensions/ingredients-lister/.prettierrc
  extensions/ingredients-lister/CHANGELOG.md
  extensions/ingredients-lister/README.md
  extensions/ingredients-lister/assets/command-icon.png
  extensions/ingredients-lister/assets/list-icon.png
  extensions/ingredients-lister/metadata/ingredients-lister-1.png
  extensions/ingredients-lister/metadata/ingredients-lister-2.png
  extensions/ingredients-lister/package-lock.json
  extensions/ingredients-lister/package.json
  extensions/ingredients-lister/src/index.tsx
  extensions/ingredients-lister/src/utils/getVideoData.ts
  extensions/ingredients-lister/src/utils/getVideoTranscript.ts
  extensions/ingredients-lister/src/youtubeVideoIngridients.tsx
  extensions/ingredients-lister/tsconfig.json
Labels: new extension

#8301 Add developer-excuses extension
  extensions/developer-excuse/.eslintrc.json
  extensions/developer-excuse/.gitignore
  extensions/developer-excuse/.prettierrc
  extensions/developer-excuse/CHANGELOG.md
  extensions/developer-excuse/README.md
  extensions/developer-excuse/assets/excuse-icon.png
  extensions/developer-excuse/media/command.png
  extensions/developer-excuse/package-lock.json
  extensions/developer-excuse/package.json
  extensions/developer-excuse/src/excuses.ts
  extensions/developer-excuse/src/index.ts
  extensions/developer-excuse/tsconfig.json
Labels: new extension

#8312 [New Extension] Quick Web
  extensions/quick-web/.eslintrc.json
  extensions/quick-web/.prettierrc
  extensions/quick-web/CHANGELOG.md
  extensions/quick-web/README.md
  extensions/quick-web/assets/add.png
  extensions/quick-web/assets/list-item.png
  extensions/quick-web/assets/readme_imgs/add_arg_page.png
  extensions/quick-web/assets/readme_imgs/add_url_page.png
  extensions/quick-web/assets/readme_imgs/edit_arg_list.png
  extensions/quick-web/assets/readme_imgs/edit_arg_value_list.png
  extensions/quick-web/assets/readme_imgs/edit_url_list.png
  extensions/quick-web/assets/readme_imgs/export_configs.png
  extensions/quick-web/assets/readme_imgs/import_configs.png
  extensions/quick-web/assets/readme_imgs/index1.png
  extensions/quick-web/assets/readme_imgs/index2.png
  extensions/quick-web/assets/readme_imgs/index3.png
  extensions/quick-web/assets/rocket.png
  extensions/quick-web/package-lock.json
  extensions/quick-web/package.json
  extensions/quick-web/src/add_arg.tsx
  extensions/quick-web/src/add_url.tsx
  extensions/quick-web/src/arg_repository.tsx
  extensions/quick-web/src/arg_value_repository.tsx
  extensions/quick-web/src/conifgs.tsx
  extensions/quick-web/src/constants.tsx
  extensions/quick-web/src/edit_arg.tsx
  extensions/quick-web/src/edit_arg_list.tsx
  extensions/quick-web/src/edit_arg_value.tsx
  extensions/quick-web/src/edit_arg_value_list.tsx
  extensions/quick-web/src/edit_url.tsx
  extensions/quick-web/src/edit_url_list.tsx
  extensions/quick-web/src/export_configs.tsx
  extensions/quick-web/src/import_configs.tsx
  extensions/quick-web/src/index.tsx
  extensions/quick-web/src/models.tsx
  extensions/quick-web/src/url_repository.tsx
  extensions/quick-web/tsconfig.json
Labels: new extension

#8320 Add ngrok extension
  extensions/ngrok/.eslintrc.json
  extensions/ngrok/.gitignore
  extensions/ngrok/.prettierrc
  extensions/ngrok/CHANGELOG.md
  extensions/ngrok/README.md
  extensions/ngrok/assets/command-icon.png
  extensions/ngrok/metadata/ngrok-1.png
  extensions/ngrok/metadata/ngrok-2.png
  extensions/ngrok/metadata/ngrok-3.png
  extensions/ngrok/metadata/ngrok-4.png
  extensions/ngrok/package-lock.json
  extensions/ngrok/package.json
  extensions/ngrok/src/api/config.ts
  extensions/ngrok/src/api/index.ts
  extensions/ngrok/src/api/types.ts
  extensions/ngrok/src/components/add-tunnel.tsx
  extensions/ngrok/src/components/base-actions.tsx
  extensions/ngrok/src/hooks/index.ts
  extensions/ngrok/src/index.tsx
  extensions/ngrok/src/utils/validators.ts
  extensions/ngrok/tsconfig.json
Labels: new extension

#8388 [OpenAI Translator] Toggle metadata visiability
  extensions/openai-translator/CHANGELOG.md
  extensions/openai-translator/package-lock.json
  extensions/openai-translator/package.json
  extensions/openai-translator/src/views/content.tsx
  extensions/openai-translator/src/views/detail.tsx
Labels: extension fix / improvement, OP is author, extension: openai-translator

#8303 Update screenshot extension
  extensions/screenshot/.gitignore
  extensions/screenshot/CHANGELOG.md
  extensions/screenshot/assets/capture-window-to-clipboard.png
  extensions/screenshot/package.json
  extensions/screenshot/src/capture-window-to-clipboard.ts
Labels: extension fix / improvement, extension: screenshot

#8380 Update monobank extension
  extensions/monobank/CHANGELOG.md
  extensions/monobank/package.json
Labels: extension fix / improvement, OP is author, extension: monobank

#8370 Color picker maintenance
  extensions/color-picker/CHANGELOG.md
  extensions/color-picker/Package.swift
  extensions/color-picker/package-lock.json
  extensions/color-picker/package.json
  extensions/color-picker/src/organize-colors.tsx
  extensions/color-picker/src/pick-color.ts
  extensions/color-picker/src/preferences.ts
  extensions/color-picker/src/utils.ts
Labels: extension fix / improvement, OP is author, extension: color-picker

#8246 Update warp extension
  extensions/warp/CHANGELOG.md
  extensions/warp/package.json
  extensions/warp/src/hooks/useLocalStorage.ts
  extensions/warp/src/open-directory.tsx
  extensions/warp/src/types.ts
Labels: extension fix / improvement, extension: warp

#8332 Add vatlayer extension
  extensions/vatlayer/.eslintrc.json
  extensions/vatlayer/.gitignore
  extensions/vatlayer/.prettierrc
  extensions/vatlayer/CHANGELOG.md
  extensions/vatlayer/README.md
  extensions/vatlayer/assets/vatlayer.png
  extensions/vatlayer/metadata/vatlayer-1-multiple-methods.png
  extensions/vatlayer/metadata/vatlayer-2-get-vat-rate-via-code.png
  extensions/vatlayer/metadata/vatlayer-3-calculate-compliant-price-form.png
  extensions/vatlayer/metadata/vatlayer-4-calculate-compliant-price.png
  extensions/vatlayer/metadata/vatlayer-5-get-all-rates.png
  extensions/vatlayer/metadata/vatlayer-6-invalid-ip.png
  extensions/vatlayer/package-lock.json
  extensions/vatlayer/package.json
  extensions/vatlayer/src/calculate-vat-compliant-price.tsx
  extensions/vatlayer/src/get-all-vat-rates.tsx
  extensions/vatlayer/src/get-vat-rates-via-client-ip.tsx
  extensions/vatlayer/src/get-vat-rates-via-country-code.tsx
  extensions/vatlayer/src/get-vat-rates-via-ip-address.tsx
  extensions/vatlayer/src/utils/constants.ts
  extensions/vatlayer/src/utils/types.ts
  extensions/vatlayer/src/validate-vat-number.tsx
  extensions/vatlayer/tsconfig.json
Labels: new extension

#7955 Add screen-math extension
  extensions/screen-math/.eslintrc.json
  extensions/screen-math/.gitignore
  extensions/screen-math/.prettierrc
  extensions/screen-math/CHANGELOG.md
  extensions/screen-math/Package.swift
  extensions/screen-math/README.md
  extensions/screen-math/Sources/screen-math/main.swift
  extensions/screen-math/assets/screen-math
  extensions/screen-math/assets/screen-math.png
  extensions/screen-math/package-lock.json
  extensions/screen-math/package.json
  extensions/screen-math/src/sum-numbers.tsx
  extensions/screen-math/tsconfig.json
Labels: new extension

#8392 Update github extension
  extensions/github/package.json
  extensions/github/src/components/NotificationActions.tsx
Labels: extension fix / improvement, extension: github

#8394 Update browser-bookmarks extension
  extensions/browser-bookmarks/CHANGELOG.md
  extensions/browser-bookmarks/assets/extension-icon.png
  extensions/browser-bookmarks/assets/icon.png
  extensions/browser-bookmarks/package-lock.json
  extensions/browser-bookmarks/package.json
Labels: extension fix / improvement, extension: browser-bookmarks

#8226 Add tynyfy extension
  extensions/tynyfy/.eslintrc.json
  extensions/tynyfy/.gitignore
  extensions/tynyfy/.prettierrc
  extensions/tynyfy/.prettierrc.json
  extensions/tynyfy/CHANGELOG.md
  extensions/tynyfy/LICENSE
  extensions/tynyfy/README.md
  extensions/tynyfy/assets/command-icon.png
  extensions/tynyfy/metadata/tynyfy-1.png
  extensions/tynyfy/metadata/tynyfy-2.png
  extensions/tynyfy/metadata/tynyfy-3.png
  extensions/tynyfy/package-lock.json
  extensions/tynyfy/package.json
  extensions/tynyfy/src/data/apiData.ts
  extensions/tynyfy/src/helpers/url.ts
  extensions/tynyfy/src/tynyfy.tsx
  extensions/tynyfy/tsconfig.json
Labels: new extension

#8409 Update apple-devices extension
  extensions/apple-devices/CHANGELOG.md
  extensions/apple-devices/assets/iphone/iphone-15-plus.png
  extensions/apple-devices/assets/iphone/iphone-15-pro-max.png
  extensions/apple-devices/assets/iphone/iphone-15-pro.png
  extensions/apple-devices/assets/iphone/iphone-15.png
  extensions/apple-devices/package-lock.json
  extensions/apple-devices/src/data/devices.json
Labels: extension fix / improvement, OP is author, extension: madza/apple-devices

#8415 Update visual-studio-code extension
  extensions/visual-studio-code-recent-projects/package-lock.json
  extensions/visual-studio-code-recent-projects/package.json
  extensions/visual-studio-code-recent-projects/src/open-with-vscode.ts
Labels: extension fix / improvement, extension: thomas/visual-studio-code

#8474 Todoist: Add duration support
  extensions/todoist/CHANGELOG.md
  extensions/todoist/package-lock.json
  extensions/todoist/package.json
  extensions/todoist/src/api.ts
  extensions/todoist/src/create-task.tsx
Labels: extension fix / improvement, OP is author, extension: doist/todoist

#7697 jenkins: Allow HTTP Instances
  extensions/jenkins/CHANGELOG.md
  extensions/jenkins/package.json
  extensions/jenkins/src/lib/api.ts
Labels: extension fix / improvement, extension: jenkins, extension: k8scat/jenkins

#7835 Update ai-gen extension
  extensions/ai-gen/CHANGELOG.md
  extensions/ai-gen/package.json
  extensions/ai-gen/src/hooks/useOpenAICompletionApi.ts
  extensions/ai-gen/src/hooks/useOpenAIImageApi.ts
Labels: extension fix / improvement, extension: ai-gen, extension: josephschmitt/ai-gen

#7842 Add battery-menubar extension
  extensions/battery-menubar/.eslintrc.json
  extensions/battery-menubar/.gitignore
  extensions/battery-menubar/.prettierrc
  extensions/battery-menubar/.vscode/settings.json
  extensions/battery-menubar/CHANGELOG.md
  extensions/battery-menubar/README.md
  extensions/battery-menubar/assets/command-icon.png
  extensions/battery-menubar/metadata/1-full.png
  extensions/battery-menubar/metadata/2-low.png
  extensions/battery-menubar/metadata/3-high-draw.png
  extensions/battery-menubar/metadata/4-charging.png
  extensions/battery-menubar/package-lock.json
  extensions/battery-menubar/package.json
  extensions/battery-menubar/src/BatteryState.tsx
  extensions/battery-menubar/src/CPUStats.tsx
  extensions/battery-menubar/src/index.tsx
  extensions/battery-menubar/tsconfig.json
Labels: new extension

#8133 Update metronome extension
  extensions/metronome/CHANGELOG.md
  extensions/metronome/README.md
  extensions/metronome/metadata/metronome-1.png
  extensions/metronome/package.json
  extensions/metronome/src/index.tsx
Labels: extension fix / improvement, OP is author, extension: metronome, extension: Vaibhav-Satishkumar/metronome

#8252 Adding new extension - Twitter Video Downloader
  extensions/twitter-video-downloader/.eslintrc.json
  extensions/twitter-video-downloader/.gitignore
  extensions/twitter-video-downloader/.prettierrc
  extensions/twitter-video-downloader/CHANGELOG.md
  extensions/twitter-video-downloader/assets/icon.png
  extensions/twitter-video-downloader/metadata/twitter-video-downloader-1.png
  extensions/twitter-video-downloader/metadata/twitter-video-downloader-2.png
  extensions/twitter-video-downloader/metadata/twitter-video-downloader-3.png
  extensions/twitter-video-downloader/metadata/twitter-video-downloader-4.png
  extensions/twitter-video-downloader/package-lock.json
  extensions/twitter-video-downloader/package.json
  extensions/twitter-video-downloader/src/index.tsx
  extensions/twitter-video-downloader/tsconfig.json
Labels: new extension

#7752 Change case multi lines
  extensions/change-case/.gitignore
  extensions/change-case/CHANGELOG.md
  extensions/change-case/package-lock.json
  extensions/change-case/package.json
  extensions/change-case/src/change-case.tsx
  extensions/change-case/tsconfig.json
Labels: extension fix / improvement, OP is contributor, extension: change-case, extension: erics118/change-case

#7914 Add wise-quotes extension
  extensions/wise-quotes/.eslintrc.json
  extensions/wise-quotes/.gitignore
  extensions/wise-quotes/.prettierrc
  extensions/wise-quotes/CHANGELOG.md
  extensions/wise-quotes/README.md
  extensions/wise-quotes/assets/command-icon.png
  extensions/wise-quotes/metadata/wise-quotes-1.png
  extensions/wise-quotes/metadata/wise-quotes-2.png
  extensions/wise-quotes/metadata/wise-quotes-3.png
  extensions/wise-quotes/metadata/wise-quotes-4.png
  extensions/wise-quotes/metadata/wise-quotes-5.png
  extensions/wise-quotes/metadata/wise-quotes-6.png
  extensions/wise-quotes/package-lock.json
  extensions/wise-quotes/package.json
  extensions/wise-quotes/src/components/fee-breakdown/fee-breakdown.tsx
  extensions/wise-quotes/src/components/fee-breakdown/index.ts
  extensions/wise-quotes/src/components/index.ts
  extensions/wise-quotes/src/constants.ts
  extensions/wise-quotes/src/current-rate.tsx
  extensions/wise-quotes/src/get-wise-quote.tsx
  extensions/wise-quotes/src/hooks/index.ts
  extensions/wise-quotes/src/hooks/useWiseQuoteQuery.ts
  extensions/wise-quotes/src/types.ts
  extensions/wise-quotes/src/utils.ts
  extensions/wise-quotes/tsconfig.json
Labels: new extension

#8433 Update Quick Latex extension
  extensions/quick-latex/.eslintrc.json
  extensions/quick-latex/CHANGELOG.md
  extensions/quick-latex/package-lock.json
  extensions/quick-latex/package.json
  extensions/quick-latex/src/api.tsx
  extensions/quick-latex/src/quick-latex.tsx
  extensions/quick-latex/src/utils.tsx
Labels: extension fix / improvement, OP is author, extension: Noamko/quick-latex

#8421 Update grammari-x extension
  extensions/grammari-x/CHANGELOG.md
  extensions/grammari-x/README.md
  extensions/grammari-x/metadata/grammari-x-1.png
  extensions/grammari-x/package.json
  extensions/grammari-x/src/components/ShowPreferences.tsx
  extensions/grammari-x/src/grammariX.tsx
  extensions/grammari-x/src/utils/grammerUtil.ts
Labels: extension fix / improvement, OP is author, extension: hakob_nersesian/grammari-x

#8428 Update bilibili extension
  extensions/Bilibili/CHANGELOG.md
  extensions/Bilibili/README.md
  extensions/Bilibili/package-lock.json
  extensions/Bilibili/package.json
  extensions/Bilibili/src/dynamicFeed.tsx
  extensions/Bilibili/src/notifications.tsx
  extensions/Bilibili/src/popularSeries.tsx
  extensions/Bilibili/src/popularVideos.tsx
  extensions/Bilibili/src/types.ts
  extensions/Bilibili/src/utils/checkQRCode.ts
  extensions/Bilibili/tsconfig.json
Labels: extension fix / improvement, OP is author, extension: Fatpandac/bilibili

#8432 [Gmail] Menu optimize
  extensions/gmail/CHANGELOG.md
  extensions/gmail/package-lock.json
  extensions/gmail/package.json
  extensions/gmail/src/components/command.tsx
  extensions/gmail/src/components/message/actions.tsx
  extensions/gmail/src/components/message/list.tsx
  extensions/gmail/src/components/message/utils.ts
  extensions/gmail/src/components/selection/actions.tsx
  extensions/gmail/src/unreadmailsmenu.tsx
Labels: extension fix / improvement, OP is author, extension: tonka3000/gmail

#8476 Update fip extension
  extensions/fip/.gitignore
  extensions/fip/CHANGELOG.md
  extensions/fip/package-lock.json
  extensions/fip/package.json
  extensions/fip/src/choose_radio.tsx
  extensions/fip/src/components/TrackMetadata.tsx
  extensions/fip/src/constants.ts
  extensions/fip/src/start.tsx
  extensions/fip/src/stop.tsx
  extensions/fip/src/types.ts
  extensions/fip/src/utils/utils.ts
Labels: extension fix / improvement, OP is author, extension: louison/fip

#8488 feat(cleanshotx): fix race condition
  extensions/cleanshotx/.eslintrc.json
  extensions/cleanshotx/.gitignore
  extensions/cleanshotx/CHANGELOG.md
  extensions/cleanshotx/package-lock.json
  extensions/cleanshotx/package.json
  extensions/cleanshotx/src/add-quick-access-overlay.tsx
  extensions/cleanshotx/src/all-in-one.tsx
  extensions/cleanshotx/src/annotate.tsx
  extensions/cleanshotx/src/capture-area.tsx
  extensions/cleanshotx/src/capture-fullscreen.tsx
  extensions/cleanshotx/src/capture-previous-area.tsx
  extensions/cleanshotx/src/capture-text.tsx
  extensions/cleanshotx/src/capture-window.tsx
  extensions/cleanshotx/src/hide-desktop-icons.tsx
  extensions/cleanshotx/src/open-from-clipboard.tsx
  extensions/cleanshotx/src/open-history.tsx
  extensions/cleanshotx/src/pin.tsx
  extensions/cleanshotx/src/record-screen.tsx
  extensions/cleanshotx/src/restore-recently-closed.tsx
  extensions/cleanshotx/src/scrolling-capture.tsx
  extensions/cleanshotx/src/self-timer.tsx
  extensions/cleanshotx/src/show-desktop-icons.tsx
  extensions/cleanshotx/src/toggle-desktop-icons.tsx
  extensions/cleanshotx/tsconfig.json
Labels: extension fix / improvement, OP is contributor, extension: Aayush9029/cleanshotx

#8351 Update word-count extension
  extensions/word-count/CHANGELOG.md
  extensions/word-count/package-lock.json
  extensions/word-count/package.json
  extensions/word-count/src/count.tsx
  extensions/word-count/src/utils.ts
Labels: extension fix / improvement, extension: word-count

#7591 [cURL] Allow custom header keys
  extensions/curl/.eslintrc.json
  extensions/curl/.prettierrc
  extensions/curl/CHANGELOG.md
  extensions/curl/README.md
  extensions/curl/package-lock.json
  extensions/curl/package.json
  extensions/curl/src/requests.tsx
  extensions/curl/src/views/Form.tsx
Labels: extension fix / improvement, status: awaiting response from dev, extension: curl

#8402 Upgrade Tower extension by running migrations
  extensions/tower/.eslintrc.json
  extensions/tower/.gitignore
  extensions/tower/CHANGELOG.md
  extensions/tower/package-lock.json
  extensions/tower/package.json
  extensions/tower/src/components/bookmark-list-item.tsx
  extensions/tower/tsconfig.json
Labels: extension fix / improvement, OP is author, extension: tower, extension: tdwesten/tower

#7820 Create MBTA Tracker extension
  extensions/mbta-tracker/.eslintrc.json
  extensions/mbta-tracker/.gitignore
  extensions/mbta-tracker/.prettierrc
  extensions/mbta-tracker/CHANGELOG.md
  extensions/mbta-tracker/README.md
  extensions/mbta-tracker/assets/mbta-secondary-logo-circle.png
  extensions/mbta-tracker/assets/mbta-secondary-logo-circle@dark.png
  extensions/mbta-tracker/metadata/mbta-tracker-1.png
  extensions/mbta-tracker/metadata/mbta-tracker-2.png
  extensions/mbta-tracker/metadata/mbta-tracker-3.png
  extensions/mbta-tracker/metadata/mbta-tracker-4.png
  extensions/mbta-tracker/package-lock.json
  extensions/mbta-tracker/package.json
  extensions/mbta-tracker/src/browse-stops.tsx
  extensions/mbta-tracker/src/components/AlertsList.tsx
  extensions/mbta-tracker/src/components/DirectionsList.tsx
  extensions/mbta-tracker/src/components/PredictionsList.tsx
  extensions/mbta-tracker/src/components/StopsList.tsx
  extensions/mbta-tracker/src/lib/stops.ts
  extensions/mbta-tracker/src/types.ts
  extensions/mbta-tracker/src/utils.tsx
  extensions/mbta-tracker/src/view-favorites.tsx
  extensions/mbta-tracker/tsconfig.json
Labels: new extension

#8481 Update open-in-android-studio extension
  extensions/open-in-android-studio/CHANGELOG.md
  extensions/open-in-android-studio/README.md
  extensions/open-in-android-studio/metadata/open-in-android-studio-1.png
  extensions/open-in-android-studio/metadata/open-in-android-studio-2.png
  extensions/open-in-android-studio/metadata/open-in-android-studio-3.png
  extensions/open-in-android-studio/metadata/open-in-android-studio-4.png
  extensions/open-in-android-studio/package.json
  extensions/open-in-android-studio/src/add-favorite-project.tsx
  extensions/open-in-android-studio/src/common/util.ts
  extensions/open-in-android-studio/src/index.tsx
  extensions/open-in-android-studio/src/show-favorite-projects.tsx
  extensions/open-in-android-studio/src/storage.ts
  extensions/open-in-android-studio/src/types.ts
Labels: extension fix / improvement, OP is author, extension: 3llomi/open-in-android-studio

#8411 Update cidr extension
  extensions/cidr/CHANGELOG.md
  extensions/cidr/README.md
  extensions/cidr/metadata/cidr-1.png
  extensions/cidr/metadata/cidr-2.png
  extensions/cidr/metadata/cidr-3.png
  extensions/cidr/package-lock.json
  extensions/cidr/package.json
  extensions/cidr/src/ip-range-to-cidr.tsx
Labels: extension fix / improvement, OP is author, extension: Yansong/cidr

#8368 trimming the key and tokens to fix #8367
  extensions/unsplash/CHANGELOG.md
  extensions/unsplash/src/functions/apiRequest.ts
Labels: extension fix / improvement, extension: unsplash, extension: eggsy/unsplash

#8364 Update windmill extension
  extensions/windmill/.eslintrc.json
  extensions/windmill/.gitignore
  extensions/windmill/.prettierrc
  extensions/windmill/CHANGELOG.md
  extensions/windmill/README.md
  extensions/windmill/assets/windmill-logo.png
  extensions/windmill/metadata/windmill-1.png
  extensions/windmill/metadata/windmill-2.png
  extensions/windmill/metadata/windmill-3.png
  extensions/windmill/metadata/windmill-4.png
  extensions/windmill/metadata/windmill-5.png
  extensions/windmill/package-lock.json
  extensions/windmill/package.json
  extensions/windmill/src/addStar.tsx
  extensions/windmill/src/cache.ts
  extensions/windmill/src/components/FormItemsComponent.tsx
  extensions/windmill/src/components/FormResult.tsx
  extensions/windmill/src/components/ItemList.tsx
  extensions/windmill/src/components/ScriptFlowForm.tsx
  extensions/windmill/src/components/StarAction.tsx
  extensions/windmill/src/components/WorkspaceForm.tsx
  extensions/windmill/src/hooks/useFetchList.tsx
  extensions/windmill/src/hooks/useFetchWmill.tsx
  extensions/windmill/src/hooks/useFetchWorkspaces.tsx
  extensions/windmill/src/manageWorkspaces.tsx
  extensions/windmill/src/types.ts
  extensions/windmill/src/viewApps.tsx
  extensions/windmill/src/viewFlows.tsx
  extensions/windmill/src/viewScripts.tsx
  extensions/windmill/tsconfig.json
Labels: new extension

#8385 Add findnearby extension
  extensions/findnearby/.eslintrc.json
  extensions/findnearby/.gitignore
  extensions/findnearby/.prettierrc
  extensions/findnearby/CHANGELOG.md
  extensions/findnearby/README.md
  extensions/findnearby/assets/command-icon.png
  extensions/findnearby/metadata/bg.png
  extensions/findnearby/package-lock.json
  extensions/findnearby/package.json
  extensions/findnearby/src/index.tsx
  extensions/findnearby/src/utils/input.ts
  extensions/findnearby/src/utils/types.ts
  extensions/findnearby/src/utils/url.ts
  extensions/findnearby/tsconfig.json
Labels: new extension

#8418 Update network-diagnostics extension
  extensions/network-diagnostics/CHANGELOG.md
  extensions/network-diagnostics/package.json
  extensions/network-diagnostics/src/panels/local-network.tsx
Labels: extension fix / improvement, extension: hmarr/network-diagnostics

#8406 Add WordPress Plugin Search extension
  extensions/wordpress-plugins/.eslintrc.json
  extensions/wordpress-plugins/.gitignore
  extensions/wordpress-plugins/.prettierrc
  extensions/wordpress-plugins/CHANGELOG.md
  extensions/wordpress-plugins/README.md
  extensions/wordpress-plugins/assets/icon.png
  extensions/wordpress-plugins/metadata/wordpress-plugins-1.png
  extensions/wordpress-plugins/metadata/wordpress-plugins-2.png
  extensions/wordpress-plugins/metadata/wordpress-plugins-3.png
  extensions/wordpress-plugins/package-lock.json
  extensions/wordpress-plugins/package.json
  extensions/wordpress-plugins/src/components/PluginDetails.tsx
  extensions/wordpress-plugins/src/components/Versions.tsx
  extensions/wordpress-plugins/src/index.tsx
  extensions/wordpress-plugins/src/utils.ts
  extensions/wordpress-plugins/tsconfig.json
Labels: new extension

#8430 Update year-in-progress extension
  extensions/year-in-progress/CHANGELOG.md
  extensions/year-in-progress/package.json
  extensions/year-in-progress/src/utils/icon.ts
Labels: extension fix / improvement, extension: thomas/year-in-progress

#8431 Add commercequest extension
  extensions/commercequest/.eslintrc.json
  extensions/commercequest/.gitignore
  extensions/commercequest/.prettierrc
  extensions/commercequest/CHANGELOG.md
  extensions/commercequest/assets/command-icon.png
  extensions/commercequest/metadata/commercequest-1.png
  extensions/commercequest/metadata/commercequest-2.png
  extensions/commercequest/package-lock.json
  extensions/commercequest/package.json
  extensions/commercequest/src/search.tsx
  extensions/commercequest/tsconfig.json
Labels: new extension

#8448 Add groq-tools extension
  extensions/groq-tools/.eslintrc.json
  extensions/groq-tools/.gitignore
  extensions/groq-tools/CHANGELOG.md
  extensions/groq-tools/README.md
  extensions/groq-tools/assets/groq.png
  extensions/groq-tools/assets/groqfmt.wasm
  extensions/groq-tools/groqfmt.d.ts
  extensions/groq-tools/metadata/groq-tools-1.png
  extensions/groq-tools/metadata/groq-tools-2.png
  extensions/groq-tools/metadata/groq-tools-3.png
  extensions/groq-tools/metadata/groq-tools-4.png
  extensions/groq-tools/package-lock.json
  extensions/groq-tools/package.json
  extensions/groq-tools/prettier.config.js
  extensions/groq-tools/src/components/format-groq.tsx
  extensions/groq-tools/src/format-groq-from-clipboard.tsx
  extensions/groq-tools/src/format-groq-in-place.tsx
  extensions/groq-tools/src/format-groq.tsx
  extensions/groq-tools/src/lib/load-groqfmt.ts
  extensions/groq-tools/tsconfig.json
Labels: new extension

#8502 Update notion extension
  extensions/notion/.gitignore
  extensions/notion/CHANGELOG.md
  extensions/notion/package.json
  extensions/notion/src/utils/notion.ts
Labels: extension fix / improvement, extension: notion/notion

#8497 Add Arc support to browser bookmarks
  extensions/browser-bookmarks/CHANGELOG.md
  extensions/browser-bookmarks/README.md
  extensions/browser-bookmarks/assets/arc.png
  extensions/browser-bookmarks/package.json
  extensions/browser-bookmarks/src/hooks/useArcBookmarks.ts
  extensions/browser-bookmarks/src/hooks/useAvailableBrowsers.ts
  extensions/browser-bookmarks/src/index.tsx
Labels: extension fix / improvement, extension: raycast/browser-bookmarks

#8542 Update imessage-2fa extension
  extensions/imessage-2fa/CHANGELOG.md
  extensions/imessage-2fa/src/utils.ts
Labels: extension fix / improvement, OP is contributor, extension: yuercl/imessage-2fa

#8533 Update apple-devices extension
  extensions/apple-devices/CHANGELOG.md
  extensions/apple-devices/assets/applewatch/applewatch-series9-41mm.png
  extensions/apple-devices/assets/applewatch/applewatch-series9-45mm.png
  extensions/apple-devices/assets/applewatch/applewatch-ultra2-49mm.png
  extensions/apple-devices/src/data/devices.json
Labels: extension fix / improvement, OP is author, extension: madza/apple-devices

#8484 fix: railway search
  extensions/railway/.eslintrc.json
  extensions/railway/.gitignore
  extensions/railway/CHANGELOG.md
  extensions/railway/package-lock.json
  extensions/railway/package.json
  extensions/railway/src/railway-projects.tsx
  extensions/railway/src/railway.ts
  extensions/railway/tsconfig.json
Labels: extension fix / improvement, extension: coffee-cup/railway

#8487 Update gitlab extension
  extensions/gitlab/CHANGELOG.md
  extensions/gitlab/package.json
  extensions/gitlab/src/components/epic_my.tsx
  extensions/gitlab/src/components/groups.tsx
  extensions/gitlab/src/components/project.tsx
  extensions/gitlab/src/utils.ts
Labels: extension fix / improvement, extension: tonka3000/gitlab

#8535 Update commercequest extension
  extensions/commercequest/.editorconfig
  extensions/commercequest/CHANGELOG.md
  extensions/commercequest/metadata/commercequest-1.png
  extensions/commercequest/metadata/commercequest-2.png
  extensions/commercequest/metadata/commercequest-3.png
  extensions/commercequest/package-lock.json
  extensions/commercequest/package.json
  extensions/commercequest/src/components/Preview.tsx
  extensions/commercequest/src/lib/types.tsx
  extensions/commercequest/src/lib/utils.tsx
  extensions/commercequest/src/search.tsx
Labels: extension fix / improvement, OP is author, extension: skroll/commercequest

#8524 Obsidian: Filter out vault paths that don't actually exist.
  extensions/obsidian/CHANGELOG.md
  extensions/obsidian/src/utils/utils.tsx
Labels: extension fix / improvement, OP is contributor, extension: KevinBatdorf/obsidian

#8463 Add looksee extension
  extensions/looksee/.eslintrc.json
  extensions/looksee/.gitignore
  extensions/looksee/.prettierrc
  extensions/looksee/CHANGELOG.md
  extensions/looksee/README.md
  extensions/looksee/assets/command-icon.png
  extensions/looksee/metadata/looksee-1.png
  extensions/looksee/metadata/looksee-2.png
  extensions/looksee/metadata/looksee-3.png
  extensions/looksee/package-lock.json
  extensions/looksee/package.json
  extensions/looksee/src/common/getLookupResponseMarkdown.tsx
  extensions/looksee/src/common/types/lookupHistoryItem.ts
  extensions/looksee/src/common/types/lookupResponse.ts
  extensions/looksee/src/lookup-history/useLookupHistory.tsx
  extensions/looksee/src/lookup.tsx
  extensions/looksee/src/lookup/EmptyError.tsx
  extensions/looksee/src/lookup/FetchError.tsx
  extensions/looksee/src/lookup/VendorInformation.tsx
  extensions/looksee/src/lookup/getLookupStorageKey.ts
  extensions/looksee/src/lookup/useLookupHistoryStorage.ts
  extensions/looksee/src/lookupHistory.jsx
  extensions/looksee/tsconfig.json
Labels: new extension

#8287 feat(tailscale): add preferences for path and exec wrapper
  extensions/tailscale/CHANGELOG.md
  extensions/tailscale/package-lock.json
  extensions/tailscale/package.json
  extensions/tailscale/raycast-env.d.ts
  extensions/tailscale/src/account-switcher.tsx
  extensions/tailscale/src/devices.tsx
  extensions/tailscale/src/exit.tsx
  extensions/tailscale/src/my-devices.tsx
  extensions/tailscale/src/shared.tsx
Labels: extension fix / improvement, status: stalled, extension: tailscale

#8602 Update zoom extension
  extensions/zoom/CHANGELOG.md
  extensions/zoom/assets/zoom.png
  extensions/zoom/package.json
Labels: extension fix / improvement, extension: raycast/zoom

#8618 feat(Timers): stopwatch menu bar improvements, minor UX fixes
  extensions/timers/CHANGELOG.md
  extensions/timers/package-lock.json
  extensions/timers/package.json
  extensions/timers/src/dismissTimerAlert.ts
  extensions/timers/src/stopwatchMenuBar.tsx
Labels: extension fix / improvement, OP is author, extension: ThatNerd/timers

#8625 [gitignore] Fixes
  extensions/gitignore/.gitignore
  extensions/gitignore/CHANGELOG.md
  extensions/gitignore/README.md
  extensions/gitignore/metadata/gitignore-01.png
  extensions/gitignore/metadata/gitignore-02.png
  extensions/gitignore/metadata/gitignore-03.png
  extensions/gitignore/metadata/gitignore-04.png
  extensions/gitignore/metadata/gitignore-05.png
  extensions/gitignore/metadata/gitignore-1.png
  extensions/gitignore/metadata/gitignore-2.png
  extensions/gitignore/metadata/gitignore-3.png
  extensions/gitignore/metadata/gitignore-4.png
  extensions/gitignore/package-lock.json
  extensions/gitignore/package.json
  extensions/gitignore/src/gitignore.tsx
Labels: extension fix / improvement, extension: daniel-stoneuk/gitignore

#8605 [Update] [LookSee] Add support for fallback command
  extensions/looksee/CHANGELOG.md
  extensions/looksee/package-lock.json
  extensions/looksee/package.json
  extensions/looksee/src/lookup.tsx
Labels: extension fix / improvement, OP is author, extension: olavgjerde/looksee

#8600 Update productlane extension
  extensions/productlane/CHANGELOG.md
  extensions/productlane/package.json
  extensions/productlane/src/index.tsx
  extensions/productlane/src/productlane.api.ts
Labels: extension fix / improvement, extension: dimagrossman/productlane
