Repository raycast/extensions, pull requests merged in 2023-03, with the labels that each got.

#5044 Linear: Add multiple attachments when creating an issue
  extensions/linear/CHANGELOG.md
  extensions/linear/src/components/CreateIssueForm.tsx
Labels: extension fix / improvement, OP is author, extension: linear

#5014 [npm] Improve startup speed
  extensions/search-npm/package-lock.json
  extensions/search-npm/package.json
  extensions/search-npm/src/index.tsx
Labels: extension fix / improvement, extension: search-npm

#4983 [ New Extension ] - Morning Coffee
  extensions/morning-coffee/.eslintrc.json
  extensions/morning-coffee/.gitignore
  extensions/morning-coffee/.nvmrc
  extensions/morning-coffee/.prettierrc
  extensions/morning-coffee/.vscode/settings.json
  extensions/morning-coffee/CHANGELOG.md
  extensions/morning-coffee/README.md
  extensions/morning-coffee/assets/extension-icon.png
  extensions/morning-coffee/metadata/morning-view-1.png
  extensions/morning-coffee/package-lock.json
  extensions/morning-coffee/package.json
  extensions/morning-coffee/src/components/actions/index.ts
  extensions/morning-coffee/src/components/actions/website-add.tsx
  extensions/morning-coffee/src/components/actions/website-delete.tsx
  extensions/morning-coffee/src/components/actions/website-edit.tsx
  extensions/morning-coffee/src/components/forms/index.ts
  extensions/morning-coffee/src/components/forms/website-upsert.tsx
  extensions/morning-coffee/src/components/index.ts
  extensions/morning-coffee/src/components/view-empty.tsx
  extensions/morning-coffee/src/index.tsx
  extensions/morning-coffee/src/setup.tsx
  extensions/morning-coffee/src/types.ts
  extensions/morning-coffee/src/utils/index.ts
  extensions/morning-coffee/src/utils/shell.ts
  extensions/morning-coffee/tsconfig.json
Labels: new extension

#5066 Iconify: Fix `Search All Icons` crash when a requested ID is not part of the response.
  extensions/iconify/CHANGELOG.md
  extensions/iconify/src/service.ts
Labels: extension fix / improvement, extension: iconify

#5057 perf: add support for fallbackText
  extensions/easydict/CHANGELOG.md
  extensions/easydict/README.md
  extensions/easydict/docs/README_ZH.md
  extensions/easydict/src/dictionary/youdao/formatData.ts
  extensions/easydict/src/dictionary/youdao/types.ts
  extensions/easydict/src/easydict.tsx
  extensions/easydict/src/releaseVersion/versionInfo.ts
Labels: extension fix / improvement, OP is author, extension: easydict

#4993 [Xcode] Apple Developer Documentation Entry URL Bug Fix
  extensions/xcode/CHANGELOG.md
  extensions/xcode/package-lock.json
  extensions/xcode/package.json
  extensions/xcode/src/open-url-in-simulator.command.tsx
  extensions/xcode/src/services/apple-developer-documentation.service.ts
Labels: extension fix / improvement, OP is author, extension: xcode

#5055 [Word Search] Add new preference option to choose default action
  extensions/word-search/CHNAGELOG.md
  extensions/word-search/README.md
  extensions/word-search/media/1-synonym.png
  extensions/word-search/media/2-spell.png
  extensions/word-search/media/3-adjective.png
  extensions/word-search/media/4-antonym.png
  extensions/word-search/media/5-rhyme.png
  extensions/word-search/media/6-missing.png
  extensions/word-search/media/adjective.png
  extensions/word-search/media/antonym.png
  extensions/word-search/media/missing-letters.png
  extensions/word-search/media/rhyme.png
  extensions/word-search/media/synonym.png
  extensions/word-search/metadata/1-synonym.png
  extensions/word-search/metadata/2-spell.png
  extensions/word-search/metadata/3-adjective.png
  extensions/word-search/metadata/4-antonym.png
  extensions/word-search/metadata/5-rhyme.png
  extensions/word-search/metadata/6-missing.png
  extensions/word-search/metadata/adjective.png
  extensions/word-search/metadata/antonym.png
  extensions/word-search/metadata/missing-letters.png
  extensions/word-search/metadata/rhyme.png
  extensions/word-search/metadata/synonym.png
  extensions/word-search/package-lock.json
  extensions/word-search/package.json
  extensions/word-search/src/api.ts
  extensions/word-search/src/search-results.tsx
  extensions/word-search/src/types.ts
  extensions/word-search/src/word-missing-letters-search.tsx
Labels: extension fix / improvement, OP is author, extension: word-search

#5067 TailwindCSS: Remove `Search Colors` tinted-image workaround.
  extensions/tailwindcss/assets/square.jpeg
  extensions/tailwindcss/src/search-colors.tsx
Labels: extension fix / improvement, extension: tailwindcss

#4911 Update music dislike song
  extensions/music/CHANGELOG.md
  extensions/music/src/dislike.tsx
Labels: extension fix / improvement, extension: music

#4738 Add extension for controlling the Logitech Litra Glow and Logitech Litra Beam lights
  extensions/logitech-litra/.eslintrc.json
  extensions/logitech-litra/.gitignore
  extensions/logitech-litra/.prettierrc
  extensions/logitech-litra/CHANGELOG.md
  extensions/logitech-litra/LICENSE.md
  extensions/logitech-litra/README.md
  extensions/logitech-litra/assets/command-icon.png
  extensions/logitech-litra/metadata/screenshot.png
  extensions/logitech-litra/package-lock.json
  extensions/logitech-litra/package.json
  extensions/logitech-litra/screenshot.png
  extensions/logitech-litra/src/index.tsx
  extensions/logitech-litra/src/preferences.ts
  extensions/logitech-litra/src/utils.ts
  extensions/logitech-litra/tsconfig.json
Labels: new extension

#4910 Updating applescript for ventura 13 (Change scroll direction extension)
  extensions/change-scroll-direction/jest.config.js
  extensions/change-scroll-direction/package-lock.json
  extensions/change-scroll-direction/package.json
  extensions/change-scroll-direction/src/__tests__/scripts.test.ts
  extensions/change-scroll-direction/src/changeScrollDirection.ts
  extensions/change-scroll-direction/src/scripts.ts
  extensions/change-scroll-direction/tsconfig.json
Labels: extension fix / improvement, extension: change-scroll-direction

#4653 [Github-for-enterprise] dependency upgrades
  extensions/github-for-enterprise/CHANGELOG.md
  extensions/github-for-enterprise/package-lock.json
  extensions/github-for-enterprise/package.json
  extensions/github-for-enterprise/src/components/AddPRReview.tsx
  extensions/github-for-enterprise/src/components/CloseIssue.tsx
  extensions/github-for-enterprise/src/components/ClosePR.tsx
  extensions/github-for-enterprise/src/components/Issue.tsx
  extensions/github-for-enterprise/src/components/IssueDetail.tsx
  extensions/github-for-enterprise/src/components/MergePR.tsx
  extensions/github-for-enterprise/src/components/PullRequest.tsx
  extensions/github-for-enterprise/src/components/PullRequestDetail.tsx
  extensions/github-for-enterprise/src/components/ReopenIssue.tsx
  extensions/github-for-enterprise/src/components/ReopenPR.tsx
  extensions/github-for-enterprise/src/issues-create.tsx
  extensions/github-for-enterprise/src/issues-open.tsx
  extensions/github-for-enterprise/src/issues-search.tsx
  extensions/github-for-enterprise/src/prs-open.tsx
  extensions/github-for-enterprise/src/prs.tsx
  extensions/github-for-enterprise/src/utils/index.ts
Labels: extension fix / improvement, extension: github-for-enterprise

#4518 quick-open-project: Allow including VSCode workspaces
  extensions/quick-open-project/CHANGELOG.md
  extensions/quick-open-project/package.json
  extensions/quick-open-project/src/index.tsx
Labels: extension fix / improvement, status: awaiting response from dev, extension: quick-open-project

#4958 Major improvements to the Wikipedia extension
  extensions/wikipedia/CHANGELOG.md
  extensions/wikipedia/metadata/wikipedia-01.png
  extensions/wikipedia/metadata/wikipedia-02.png
  extensions/wikipedia/metadata/wikipedia-1.png
  extensions/wikipedia/metadata/wikipedia-2.png
  extensions/wikipedia/metadata/wikipedia-3.png
  extensions/wikipedia/metadata/wikipedia-4.png
  extensions/wikipedia/package-lock.json
  extensions/wikipedia/package.json
  extensions/wikipedia/src/components/change-language-submenu.tsx
  extensions/wikipedia/src/components/wikipedia-page.tsx
  extensions/wikipedia/src/featured-page.tsx
  extensions/wikipedia/src/open-page.tsx
  extensions/wikipedia/src/random-page.tsx
  extensions/wikipedia/src/search-page.tsx
  extensions/wikipedia/src/show-details-page.tsx
  extensions/wikipedia/src/utils/api.ts
  extensions/wikipedia/src/utils/formatting.ts
  extensions/wikipedia/src/utils/language.ts
  extensions/wikipedia/src/utils/preferences.ts
  extensions/wikipedia/src/wikipedia.ts
Labels: extension fix / improvement, OP is author, extension: wikipedia

#4982 [ New Extension ] - Quantumcast
  extensions/quantumcast/.eslintrc.json
  extensions/quantumcast/.gitignore
  extensions/quantumcast/.markdownlint.json
  extensions/quantumcast/.prettierrc
  extensions/quantumcast/CHANGELOG.md
  extensions/quantumcast/LICENSE
  extensions/quantumcast/README.md
  extensions/quantumcast/assets/quantumcast.png
  extensions/quantumcast/graphics/quantumcast.ai
  extensions/quantumcast/metadata/quantumcast-01.png
  extensions/quantumcast/package-lock.json
  extensions/quantumcast/package.json
  extensions/quantumcast/src/open-cloudflow-manual.tsx
  extensions/quantumcast/tsconfig.json
Labels: new extension

#5049 Toggl Track: Display total tracked time for current day
  extensions/toggl-track/CHANGELOG.md
  extensions/toggl-track/package-lock.json
  extensions/toggl-track/package.json
  extensions/toggl-track/src/components/RunningTimeEntry.tsx
  extensions/toggl-track/src/index.tsx
  extensions/toggl-track/src/toggl/types.ts
Labels: extension fix / improvement, extension: toggl-track

#5011 [Calendly Share Meeting Links] Increase Number Of Fetched Event Types
  extensions/calendly/CHANGELOG.md
  extensions/calendly/src/services/calendly.ts
Labels: extension fix / improvement, extension: calendly

#5076 [Github] Make visited repository searching case-insensitive
  extensions/github/src/components/RepositoryActions.tsx
  extensions/github/src/helpers/repository.ts
Labels: extension fix / improvement, extension: github

#4955 feat(moco): Add MOCO extension
  extensions/moco/.eslintrc.json
  extensions/moco/.gitignore
  extensions/moco/.prettierrc
  extensions/moco/CHANGELOG.md
  extensions/moco/README.md
  extensions/moco/assets/MocoLogo.png
  extensions/moco/assets/MocoLogoRunning.png
  extensions/moco/metadata/moco-1.png
  extensions/moco/metadata/moco-2.png
  extensions/moco/metadata/moco-3.png
  extensions/moco/metadata/moco-4.png
  extensions/moco/metadata/moco-5.png
  extensions/moco/package-lock.json
  extensions/moco/package.json
  extensions/moco/src/commands/activities/api.ts
  extensions/moco/src/commands/activities/components/ActivityEdit.tsx
  extensions/moco/src/commands/activities/components/ActivityList.tsx
  extensions/moco/src/commands/activities/components/ActivityListItem.tsx
  extensions/moco/src/commands/activities/components/ActivityStart.tsx
  extensions/moco/src/commands/activities/types.ts
  extensions/moco/src/commands/activities/utils.ts
  extensions/moco/src/commands/customers/types.ts
  extensions/moco/src/commands/projects/api.ts
  extensions/moco/src/commands/projects/components/ProjectList.tsx
  extensions/moco/src/commands/projects/components/ProjectListItem.tsx
  extensions/moco/src/commands/projects/types.ts
  extensions/moco/src/commands/tasks/api.ts
  extensions/moco/src/commands/tasks/components/TaskList.tsx
  extensions/moco/src/commands/tasks/components/TaskListItem.tsx
  extensions/moco/src/commands/tasks/types.ts
  extensions/moco/src/commands/user/api.ts
  extensions/moco/src/commands/user/types.ts
  extensions/moco/src/commands/utils/storage.ts
  extensions/moco/src/moco.tsx
  extensions/moco/src/moco_menu_bar.tsx
  extensions/moco/src/moco_today.tsx
  extensions/moco/src/types.ts
  extensions/moco/tsconfig.json
Labels: new extension

#5090 openai-gpt3: add support for gpt-3.5-turbo model
  extensions/openai-gpt3/CHANGELOG.md
  extensions/openai-gpt3/package-lock.json
  extensions/openai-gpt3/package.json
  extensions/openai-gpt3/src/ai.tsx
Labels: extension fix / improvement, extension: openai-gpt3

#5097 Terminal Finder: Unset `LC_ALL` environment variable before running AppleScripts.
  extensions/terminalfinder/CHANGELOG.md
  extensions/terminalfinder/package-lock.json
  extensions/terminalfinder/package.json
  extensions/terminalfinder/src/clipboardToITerm.tsx
  extensions/terminalfinder/src/clipboardToTerminal.tsx
  extensions/terminalfinder/src/clipboardToWarp.tsx
  extensions/terminalfinder/src/finderToITerm.tsx
  extensions/terminalfinder/src/finderToTerminal.tsx
  extensions/terminalfinder/src/finderToWarp.tsx
  extensions/terminalfinder/src/iTermToFinder.tsx
  extensions/terminalfinder/src/terminalToFinder.tsx
  extensions/terminalfinder/src/utils.ts
  extensions/terminalfinder/src/warpToFinder.tsx
Labels: extension fix / improvement, extension: terminalfinder

#4917 Web Audit extension
  extensions/web-audit/.eslintrc.json
  extensions/web-audit/.prettierrc
  extensions/web-audit/CHANGELOG.md
  extensions/web-audit/README.md
  extensions/web-audit/assets/web-audit_icon.png
  extensions/web-audit/metadata/analyze-results.png
  extensions/web-audit/metadata/analyze-website.png
  extensions/web-audit/metadata/info-results.png
  extensions/web-audit/metadata/info-website.png
  extensions/web-audit/package-lock.json
  extensions/web-audit/package.json
  extensions/web-audit/src/analyze.tsx
  extensions/web-audit/src/info.tsx
  extensions/web-audit/tsconfig.json
Labels: new extension

#5092 [Morning Coffee Extension]: Fix typo in command description
  extensions/morning-coffee/package.json
Labels: extension fix / improvement, extension: morning-coffee

#5028 add get ssh key
  extensions/get-ssh-key/.eslintrc.json
  extensions/get-ssh-key/.gitignore
  extensions/get-ssh-key/.prettierrc
  extensions/get-ssh-key/CHANGELOG.md
  extensions/get-ssh-key/README.md
  extensions/get-ssh-key/assets/command-icon.png
  extensions/get-ssh-key/assets/list-icon.png
  extensions/get-ssh-key/metadata/get-ssh-key-1.png
  extensions/get-ssh-key/metadata/get-ssh-key-2.png
  extensions/get-ssh-key/package-lock.json
  extensions/get-ssh-key/package.json
  extensions/get-ssh-key/src/index.tsx
  extensions/get-ssh-key/src/list.tsx
  extensions/get-ssh-key/tsconfig.json
Labels: new extension

#5091 [Github] Add option to include owner name alongside repository name in search results
  extensions/github/package.json
  extensions/github/src/components/RepositoryListItem.tsx
  extensions/github/src/search-repositories.tsx
Labels: extension fix / improvement, extension: github

#5103 Update host-switch extension
  extensions/host-switch/CHANGELOG.md
  extensions/host-switch/media/screenshot.png
  extensions/host-switch/metadata/host-switch-2.png
  extensions/host-switch/metadata/host-switch-3.png
  extensions/host-switch/metadata/host-switch-4.png
  extensions/host-switch/metadata/host-switch-5.png
  extensions/host-switch/package-lock.json
  extensions/host-switch/package.json
  extensions/host-switch/src/lib/browser.ts
  extensions/host-switch/src/lib/withBrowser.tsx
  extensions/host-switch/src/switch.tsx
Labels: extension fix / improvement, OP is author, extension: host-switch

#5162 fix(openai-gpt3): set gpt-3.5-turbo token limit to 4096
  extensions/openai-gpt3/CHANGELOG.md
  extensions/openai-gpt3/README.md
  extensions/openai-gpt3/package.json
  extensions/openai-gpt3/src/ai.tsx
Labels: extension fix / improvement, extension: openai-gpt3

#5160 [Tim] Add new commands
  extensions/tim/CHANGELOG.md
  extensions/tim/metadata/tim-1.png
  extensions/tim/metadata/tim-2.png
  extensions/tim/metadata/tim-3.png
  extensions/tim/metadata/tim-4.png
  extensions/tim/package-lock.json
  extensions/tim/package.json
  extensions/tim/src/components/Group.tsx
  extensions/tim/src/components/Task.tsx
  extensions/tim/src/components/TaskDetail.tsx
  extensions/tim/src/components/View.tsx
  extensions/tim/src/components/actions/GeneralActions.tsx
  extensions/tim/src/components/actions/OpenInTimAction.tsx
  extensions/tim/src/components/actions/ShowRecordsAction.tsx
  extensions/tim/src/components/actions/StartTaskAction.tsx
  extensions/tim/src/export.tsx
  extensions/tim/src/hooks/useCurrencyFormatter.ts
  extensions/tim/src/hooks/useDateFormatter.ts
  extensions/tim/src/hooks/useDurationFormatter.ts
  extensions/tim/src/hooks/useGroup.ts
  extensions/tim/src/hooks/usePreferences.ts
  extensions/tim/src/hooks/useTask.ts
  extensions/tim/src/import.ts
  extensions/tim/src/lib/apple-script.ts
  extensions/tim/src/lib/fs.ts
  extensions/tim/src/lib/tim.ts
  extensions/tim/src/newTask.tsx
  extensions/tim/src/openActiveRecord.ts
  extensions/tim/src/openNavigator.ts
  extensions/tim/src/openNewTask.ts
  extensions/tim/src/openTaskManager.ts
  extensions/tim/src/state/active-task.tsx
  extensions/tim/src/state/data.tsx
  extensions/tim/src/state/locale.tsx
  extensions/tim/src/tasks.tsx
  extensions/tim/src/toggleTimer.ts
  extensions/tim/src/types/tim.ts
Labels: extension fix / improvement, OP is author, extension: tim

#5144 [Logitech Litra] Allow managing Litra devices' temperature and brightness using presets
  extensions/logitech-litra/CHANGELOG.md
  extensions/logitech-litra/README.md
  extensions/logitech-litra/package-lock.json
  extensions/logitech-litra/package.json
  extensions/logitech-litra/src/brightness-presets.ts
  extensions/logitech-litra/src/manage-brightness-presets.tsx
  extensions/logitech-litra/src/manage-devices.tsx
  extensions/logitech-litra/src/manage-temperature-presets.tsx
  extensions/logitech-litra/src/temperature-presets.ts
  extensions/logitech-litra/src/utils.ts
Labels: extension fix / improvement, OP is author, extension: logitech-litra

#5141 fix(amazon-aws): profile selection
  extensions/amazon-aws/CHANGELOG.md
  extensions/amazon-aws/src/components/searchbar/aws-profile-dropdown.tsx
Labels: extension fix / improvement, OP is contributor, extension: aws

#4821 Adding support for more than one Elgato Key Light
  extensions/elgato-key-light/package.json
  extensions/elgato-key-light/src/decreaseBrightness.ts
  extensions/elgato-key-light/src/elgato.ts
  extensions/elgato-key-light/src/increaseBrightness.ts
Labels: extension fix / improvement, status: stalled, extension: elgato-key-light

#5046 [Github Repository Search] Remove duplicates from repository list
  extensions/github-repository-search/src/useVisitedRepositories.ts
Labels: extension fix / improvement, extension: github-repository-search

#4967 Add buddy extension
  extensions/buddy/.editorconfig
  extensions/buddy/.eslintrc.json
  extensions/buddy/.gitignore
  extensions/buddy/.prettierrc
  extensions/buddy/CHANGELOG.md
  extensions/buddy/README.md
  extensions/buddy/assets/buddy-icon.png
  extensions/buddy/assets/command-icon.png
  extensions/buddy/assets/list-icon.png
  extensions/buddy/package-lock.json
  extensions/buddy/package.json
  extensions/buddy/src/components/PipelinesList.tsx
  extensions/buddy/src/config.ts
  extensions/buddy/src/index.tsx
  extensions/buddy/tsconfig.json
Labels: new extension

#5056 Timeular total daily time
  extensions/timeular/CHANGELOG.md
  extensions/timeular/package-lock.json
  extensions/timeular/src/command-status.tsx
  extensions/timeular/src/useCurrentTrackingStatus.ts
  extensions/timeular/src/useTodayReport.ts
Labels: extension fix / improvement, extension: raycast-timeular

#5175 Iconify: Add pagination to avoid crashes, switch from list to grid.
  extensions/iconify/CHANGELOG.md
  extensions/iconify/package-lock.json
  extensions/iconify/package.json
  extensions/iconify/src/search-icons.tsx
  extensions/iconify/src/view-icons.tsx
Labels: extension fix / improvement, extension: iconify

#4864 [Sentry Extension] Added the ability to integrate with a self-hosted Sentry instance
  extensions/sentry/CHANGELOG.md
  extensions/sentry/README.md
  extensions/sentry/package.json
  extensions/sentry/src/UnauthorizedError.tsx
  extensions/sentry/src/sentry.ts
  extensions/sentry/src/utils.ts
Labels: extension fix / improvement, extension: sentry

#5003 Migrate to Raycast useFetch
  extensions/linguee/.prettierrc
  extensions/linguee/.prettierrc.js
  extensions/linguee/CHANGELOG.md
  extensions/linguee/package-lock.json
  extensions/linguee/package.json
  extensions/linguee/src/App.tsx
  extensions/linguee/src/cache.ts
  extensions/linguee/src/components/ResultList.tsx
  extensions/linguee/src/constants.ts
  extensions/linguee/src/english-chinese.tsx
  extensions/linguee/src/english-french.tsx
  extensions/linguee/src/english-german.tsx
  extensions/linguee/src/english-italian.tsx
  extensions/linguee/src/english-spanish.tsx
  extensions/linguee/src/utils/useData.ts
Labels: extension fix / improvement, OP is author, extension: linguee

#5111 Debounce search input to reduce API calls in Searchcaster extension
  extensions/searchcaster/CHANGELOG.md
  extensions/searchcaster/src/casts.tsx
  extensions/searchcaster/src/hooks/useDebounce.ts
  extensions/searchcaster/src/profiles.tsx
Labels: extension fix / improvement, OP is author, extension: searchcaster

#4918 added moneylover
  extensions/moneylover/.eslintrc.json
  extensions/moneylover/.gitignore
  extensions/moneylover/.prettierrc
  extensions/moneylover/CHANGELOG.md
  extensions/moneylover/README.md
  extensions/moneylover/assets/moneylover-icon.png
  extensions/moneylover/metadata/moneylover-1.png
  extensions/moneylover/metadata/moneylover-2.png
  extensions/moneylover/metadata/moneylover-3.png
  extensions/moneylover/package-lock.json
  extensions/moneylover/package.json
  extensions/moneylover/src/utils.ts
  extensions/moneylover/src/view-wallets.tsx
  extensions/moneylover/tsconfig.json
Labels: new extension

#5174 Update README of Typefully extension
  extensions/typefully/README.md
Labels: extension fix / improvement, extension: typefully

#4935 [New Extension] Image Modification
  extensions/sips/.eslintrc.json
  extensions/sips/.gitignore
  extensions/sips/.prettierrc
  extensions/sips/CHANGELOG.md
  extensions/sips/README.md
  extensions/sips/assets/command-icon.png
  extensions/sips/package-lock.json
  extensions/sips/package.json
  extensions/sips/src/convert.tsx
  extensions/sips/src/flip-horizontally.ts
  extensions/sips/src/flip-vertically.ts
  extensions/sips/src/resize.ts
  extensions/sips/src/rotate.ts
  extensions/sips/src/scale.ts
  extensions/sips/src/utils.ts
  extensions/sips/tsconfig.json
Labels: new extension

#5171 [Readwise to Tana] Fix ordering, clean titles, and handle line breaks
  extensions/readwise-to-tana/CHANGELOG.md
  extensions/readwise-to-tana/src/book.tsx
  extensions/readwise-to-tana/src/index.tsx
  extensions/readwise-to-tana/src/useApi.ts
  extensions/readwise-to-tana/src/utils.ts
Labels: extension fix / improvement, OP is author, extension: readwise-to-tana

#5167 update bob bundleId
  extensions/bob/CHANGELOG.md
  extensions/bob/src/checkInstall.ts
Labels: extension fix / improvement, extension: bobcontrol

#5102 Update contentful extension
  extensions/contentful/CHANGELOG.md
  extensions/contentful/package-lock.json
  extensions/contentful/package.json
  extensions/contentful/src/search.tsx
Labels: extension fix / improvement, OP is author, extension: contentful

#5158 [Pipe Commands] add tab and file input types
  extensions/pipe-commands/CHANGELOG.md
  extensions/pipe-commands/README.md
  extensions/pipe-commands/assets/commands/change-case/lowercase.py
  extensions/pipe-commands/assets/commands/change-case/uppercase.py
  extensions/pipe-commands/assets/commands/dev-utils/prettify-json.sh
  extensions/pipe-commands/assets/commands/file/copy-path.sh
  extensions/pipe-commands/assets/commands/file/open-in-code.sh
  extensions/pipe-commands/assets/commands/text/convert-newline-to-space.sh
  extensions/pipe-commands/assets/commands/text/convert-space-to-newline.sh
  extensions/pipe-commands/assets/commands/text/reverse-lines.sh
  extensions/pipe-commands/assets/commands/text/unique-line.sh
  extensions/pipe-commands/assets/commands/url/extract-domain-from-url.py
  extensions/pipe-commands/assets/commands/url/urlencode.py
  extensions/pipe-commands/assets/get-active-tab-url.applescript
  extensions/pipe-commands/assets/schema.json
  extensions/pipe-commands/package-lock.json
  extensions/pipe-commands/package.json
  extensions/pipe-commands/src/pipe-clipboard-to-command.tsx
  extensions/pipe-commands/src/pipe-file-to-command.tsx
  extensions/pipe-commands/src/pipe-selection-to-command.tsx
  extensions/pipe-commands/src/pipe-tab-to-command.tsx
  extensions/pipe-commands/src/pipe-text-to-command.tsx
  extensions/pipe-commands/src/pipe-to-command.tsx
  extensions/pipe-commands/src/types.ts
  extensions/pipe-commands/src/utils.ts
Labels: extension fix / improvement, OP is author, extension: pipe-commands

#4999 Add github-trending extension
  extensions/github-trending/.eslintrc.json
  extensions/github-trending/.gitignore
  extensions/github-trending/.prettierrc
  extensions/github-trending/CHANGELOG.md
  extensions/github-trending/README.md
  extensions/github-trending/assets/github-dev.png
  extensions/github-trending/assets/icon.png
  extensions/github-trending/assets/icon@dark.png
  extensions/github-trending/metadata/github-trending-1.jpeg
  extensions/github-trending/metadata/github-trending-2.jpeg
  extensions/github-trending/metadata/github-trending-3.jpeg
  extensions/github-trending/metadata/github-trending-4.jpeg
  extensions/github-trending/package-lock.json
  extensions/github-trending/package.json
  extensions/github-trending/src/components/ActionLanguage.tsx
  extensions/github-trending/src/components/DropdownRange.tsx
  extensions/github-trending/src/components/ListItemLanguage.tsx
  extensions/github-trending/src/components/ListItemRepo.tsx
  extensions/github-trending/src/components/RepoDetail.tsx
  extensions/github-trending/src/constants.ts
  extensions/github-trending/src/index.tsx
  extensions/github-trending/src/reducer.ts
  extensions/github-trending/src/type.ts
  extensions/github-trending/src/utils.ts
  extensions/github-trending/tsconfig.json
Labels: new extension

#5187 Spotify Player: Filter out falsy playlists.
  extensions/spotify-player/CHANGELOG.md
  extensions/spotify-player/src/categoryPlaylists.tsx
  extensions/spotify-player/src/featuredPlaylists.tsx
  extensions/spotify-player/src/searchPlaylists.tsx
Labels: extension fix / improvement, OP is contributor, extension: spotify-player

#5177 Make notes' file extension required
  extensions/noteplan-3/CHANGELOG.md
  extensions/noteplan-3/package.json
Labels: extension fix / improvement, OP is contributor, extension: noteplan-3

#5170 Hypersonic: v2.0.4
  extensions/hypersonic/CHANGELOG.md
  extensions/hypersonic/package-lock.json
  extensions/hypersonic/package.json
  extensions/hypersonic/src/features/auth/auth-router.tsx
  extensions/hypersonic/src/features/configuration-form/configuration-form.tsx
  extensions/hypersonic/src/features/todo-list/hooks/use-todo-list.ts
  extensions/hypersonic/src/services/notion/hooks/use-databases.ts
  extensions/hypersonic/src/services/notion/hooks/use-local-preferences.ts
  extensions/hypersonic/src/services/notion/hooks/use-projects.ts
  extensions/hypersonic/src/services/notion/hooks/use-todos.tsx
  extensions/hypersonic/src/services/notion/operations/create-todo.ts
  extensions/hypersonic/src/services/notion/operations/get-databases.ts
  extensions/hypersonic/src/services/notion/operations/get-statuses.ts
Labels: extension fix / improvement, extension: hypersonic

#5164 Add "Just Delete Me" extension
  extensions/just-delete-me/.eslintrc.json
  extensions/just-delete-me/.gitignore
  extensions/just-delete-me/.prettierrc
  extensions/just-delete-me/CHANGELOG.md
  extensions/just-delete-me/README.md
  extensions/just-delete-me/assets/command-icon.png
  extensions/just-delete-me/metadata/Metadata-2.png
  extensions/just-delete-me/metadata/Metadata.png
  extensions/just-delete-me/package-lock.json
  extensions/just-delete-me/package.json
  extensions/just-delete-me/src/index.tsx
  extensions/just-delete-me/tsconfig.json
Labels: new extension

#5153 pick-figure supports random range
  extensions/pick-random/CHANGELOG.md
  extensions/pick-random/package.json
  extensions/pick-random/src/pick-figure.ts
Labels: extension fix / improvement, extension: pick-random-raycast-extension

#5155 Update icons in zotero extension
  extensions/zotero/CHANGELOG.md
  extensions/zotero/assets/artwork.png
  extensions/zotero/assets/audioRecording.png
  extensions/zotero/assets/bill.png
  extensions/zotero/assets/blogPost.png
  extensions/zotero/assets/book.png
  extensions/zotero/assets/bookSection.png
  extensions/zotero/assets/case.png
  extensions/zotero/assets/command-icon.png
  extensions/zotero/assets/computerProgram.png
  extensions/zotero/assets/conferencePaper.png
  extensions/zotero/assets/dictionaryEntry.png
  extensions/zotero/assets/doc.png
  extensions/zotero/assets/document.png
  extensions/zotero/assets/email.png
  extensions/zotero/assets/encyclopediaArticle.png
  extensions/zotero/assets/film.png
  extensions/zotero/assets/forumPost.png
  extensions/zotero/assets/hearing.png
  extensions/zotero/assets/instantMessage.png
  extensions/zotero/assets/interview.png
  extensions/zotero/assets/journalArticle.png
  extensions/zotero/assets/letter.png
  extensions/zotero/assets/magazineArticle.png
  extensions/zotero/assets/manuscript.png
  extensions/zotero/assets/map.png
  extensions/zotero/assets/newspaperArticle.png
  extensions/zotero/assets/no-view.png
  extensions/zotero/assets/paper.png
  extensions/zotero/assets/patent.png
  extensions/zotero/assets/thesis.png
  extensions/zotero/assets/zotero.png
  extensions/zotero/package.json
  extensions/zotero/src/common/View.tsx
Labels: extension fix / improvement, extension: zotero

#5052 support copy clone urls of a project
  extensions/gitlab/CHANGELOG.md
  extensions/gitlab/package.json
  extensions/gitlab/src/components/project.tsx
  extensions/gitlab/src/components/project_actions.tsx
  extensions/gitlab/src/components/project_search.tsx
Labels: extension fix / improvement, extension: gitlab

#5168 Arc: Support fallback text in commands
  extensions/arc/src/search-history.tsx
  extensions/arc/src/search-tabs.tsx
  extensions/arc/src/search.tsx
Labels: extension fix / improvement, OP is author, extension: arc

#5206 [Image Modification] Fix localization issue
  extensions/sips/CHANGELOG.md
  extensions/sips/src/utils.ts
Labels: extension fix / improvement, OP is author, extension: sips

#5202 [V2EX-Viewer] Update new command and refactor
  extensions/v2ex-viewer/.gitattributes
  extensions/v2ex-viewer/CHANGELOG.md
  extensions/v2ex-viewer/README.md
  extensions/v2ex-viewer/metadata/v2ex-viewer-1.png
  extensions/v2ex-viewer/metadata/v2ex-viewer-2.png
  extensions/v2ex-viewer/metadata/v2ex-viewer-3.png
  extensions/v2ex-viewer/metadata/v2ex-viewer-4.png
  extensions/v2ex-viewer/package-lock.json
  extensions/v2ex-viewer/package.json
  extensions/v2ex-viewer/src/api/client.ts
  extensions/v2ex-viewer/src/api/hooks.ts
  extensions/v2ex-viewer/src/api/interfaces.ts
  extensions/v2ex-viewer/src/components/NodeSelect.tsx
  extensions/v2ex-viewer/src/components/TopicDetail.tsx
  extensions/v2ex-viewer/src/components/TopicListItem.tsx
  extensions/v2ex-viewer/src/components/TopicListItemDetail.tsx
  extensions/v2ex-viewer/src/types/preference.ts
  extensions/v2ex-viewer/src/types/v2ex.ts
  extensions/v2ex-viewer/src/utils/markdown.ts
  extensions/v2ex-viewer/src/utils/preference.ts
  extensions/v2ex-viewer/src/utils/time.ts
  extensions/v2ex-viewer/src/utils/toast.ts
  extensions/v2ex-viewer/src/viewNodeTopics.tsx
  extensions/v2ex-viewer/src/viewNotifications.tsx
  extensions/v2ex-viewer/src/viewToken.tsx
  extensions/v2ex-viewer/src/viewTopics.tsx
  extensions/v2ex-viewer/tsconfig.json
Labels: extension fix / improvement, OP is author, extension: v2ex-viewer

#5124 [NixPkgs Search] Fix ES URL
  extensions/nixpkgs-search/CHANGELOG.md
  extensions/nixpkgs-search/src/index.tsx
Labels: extension fix / improvement, extension: nixpkgs-search

#5048 feat: initial extension commit
  extensions/ramda-documentation/.eslintrc.json
  extensions/ramda-documentation/.gitignore
  extensions/ramda-documentation/.prettierrc
  extensions/ramda-documentation/@types/index.ts
  extensions/ramda-documentation/CHANGELOG.md
  extensions/ramda-documentation/LICENSE
  extensions/ramda-documentation/README.md
  extensions/ramda-documentation/assets/command-icon.png
  extensions/ramda-documentation/metadata/ramda-documentation-1.png
  extensions/ramda-documentation/metadata/ramda-documentation-2.png
  extensions/ramda-documentation/metadata/ramda-documentation-3.png
  extensions/ramda-documentation/package-lock.json
  extensions/ramda-documentation/package.json
  extensions/ramda-documentation/src/CommonActionPanel.tsx
  extensions/ramda-documentation/src/DocumentationDetail.tsx
  extensions/ramda-documentation/src/SearchList.tsx
  extensions/ramda-documentation/src/SearchListItem.tsx
  extensions/ramda-documentation/src/hooks/useRamdaDocumentation.ts
  extensions/ramda-documentation/src/index.tsx
  extensions/ramda-documentation/src/utils/cache.ts
  extensions/ramda-documentation/src/utils/constants.ts
  extensions/ramda-documentation/src/utils/htmlParser.ts
  extensions/ramda-documentation/src/utils/index.ts
  extensions/ramda-documentation/tsconfig.json
Labels: new extension

#5005 [New Extension] Add raycast-wemo extension
  extensions/raycast-wemo/.eslintrc.json
  extensions/raycast-wemo/.gitignore
  extensions/raycast-wemo/.prettierrc
  extensions/raycast-wemo/.vscode/settings.json
  extensions/raycast-wemo/CHANGELOG.md
  extensions/raycast-wemo/README.md
  extensions/raycast-wemo/assets/command-icon.png
  extensions/raycast-wemo/assets/command-icon@dark.png
  extensions/raycast-wemo/assets/dimmer-actions.png
  extensions/raycast-wemo/assets/list-icon.png
  extensions/raycast-wemo/assets/list-icon@dark.png
  extensions/raycast-wemo/assets/main-menu.png
  extensions/raycast-wemo/metadata/keyboard-brightness-1.png
  extensions/raycast-wemo/metadata/keyboard-brightness-2.png
  extensions/raycast-wemo/package-lock.json
  extensions/raycast-wemo/package.json
  extensions/raycast-wemo/src/types.ts
  extensions/raycast-wemo/src/utils.ts
  extensions/raycast-wemo/src/wemo.tsx
  extensions/raycast-wemo/tsconfig.json
  extensions/raycast-wemo/types.d.ts
Labels: new extension

#5191 Add new little arc command
  extensions/arc/CHANGELOG.md
  extensions/arc/package-lock.json
  extensions/arc/package.json
  extensions/arc/src/new-little-arc.ts
  extensions/arc/src/types.ts
Labels: extension fix / improvement, OP is author, extension: arc

#4906 Fix local cert ignore setting
  extensions/homeassistant/CHANGELOG.md
  extensions/homeassistant/src/common.ts
  extensions/homeassistant/src/haapi.ts
Labels: extension fix / improvement, extension: homeassistant

#5233 Update host-switch extension
  extensions/host-switch/CHANGELOG.md
  extensions/host-switch/src/lib/browser.ts
Labels: extension fix / improvement, OP is author, extension: host-switch

#5218 Added new commands to the existing extension
  extensions/writersbrew/CHANGELOG.md
  extensions/writersbrew/README.md
  extensions/writersbrew/package.json
  extensions/writersbrew/src/translate-to-sc.ts
  extensions/writersbrew/src/translate-to-tc.ts
Labels: extension fix / improvement, OP is author, extension: writersbrew

#5249 Jira fixes
  extensions/jira/.eslintrc.json
  extensions/jira/CHANGELOG.md
  extensions/jira/package-lock.json
  extensions/jira/package.json
  extensions/jira/src/api/issues.ts
  extensions/jira/src/api/sprints.ts
  extensions/jira/src/components/CreateIssueForm.tsx
  extensions/jira/src/components/FormSprintDropdown.tsx
  extensions/jira/src/components/FormUserDropdown.tsx
  extensions/jira/src/components/IssueActions.tsx
  extensions/jira/src/components/IssueAttachments.tsx
  extensions/jira/src/components/IssueFormCustomFields.tsx
Labels: extension fix / improvement, OP is author, extension: jira-beta

#5262 Update myip extension
  extensions/myip/.eslintrc.json
  extensions/myip/.gitignore
  extensions/myip/CHANGELOG.md
  extensions/myip/package-lock.json
  extensions/myip/package.json
  extensions/myip/src/index.tsx
  extensions/myip/src/torrent.tsx
Labels: extension fix / improvement, extension: myip

#5257 Update Claris Snippets
  extensions/claris-snippets/.eslintrc.json
  extensions/claris-snippets/CHANGELOG.md
  extensions/claris-snippets/package-lock.json
  extensions/claris-snippets/package.json
  extensions/claris-snippets/src/components/edit-snippet-xml.tsx
  extensions/claris-snippets/src/components/edit-snippet.tsx
  extensions/claris-snippets/src/view-snippets.tsx
Labels: extension fix / improvement, OP is author, extension: claris-snippets

#5269 [CircleCI] fix: pipeline.vcs might be undefined
  extensions/circle-ci/CHANGELOG.md
  extensions/circle-ci/src/components/PipelineItem.tsx
Labels: extension fix / improvement, extension: circle-ci

#5291 Update myip extension
  extensions/myip/CHANGELOG.md
  extensions/myip/package-lock.json
  extensions/myip/package.json
  extensions/myip/src/index.tsx
  extensions/myip/src/lookup.tsx
  extensions/myip/src/torrent.tsx
Labels: extension fix / improvement, OP is author, extension: myip

#5280 [Visual Studio Code - Project Manager] - fix for 5260
  extensions/visual-studio-code-project-manager/CHANGELOG.md
  extensions/visual-studio-code-project-manager/package-lock.json
  extensions/visual-studio-code-project-manager/package.json
  extensions/visual-studio-code-project-manager/src/search-project-manager-projects.tsx
Labels: extension fix / improvement, OP is author, extension: vscode-project-manager

#5212 [V2EX-Viewer] Add new command and better ux action
  extensions/v2ex-viewer/CHANGELOG.md
  extensions/v2ex-viewer/metadata/v2ex-viewer-1.png
  extensions/v2ex-viewer/metadata/v2ex-viewer-2.png
  extensions/v2ex-viewer/metadata/v2ex-viewer-3.png
  extensions/v2ex-viewer/metadata/v2ex-viewer-4.png
  extensions/v2ex-viewer/package-lock.json
  extensions/v2ex-viewer/package.json
  extensions/v2ex-viewer/src/components/NodeSelect.tsx
  extensions/v2ex-viewer/src/types/preference.ts
  extensions/v2ex-viewer/src/types/v2ex.ts
  extensions/v2ex-viewer/src/utils/markdown.ts
  extensions/v2ex-viewer/src/viewHotTopics.tsx
  extensions/v2ex-viewer/src/viewLatestTopics.tsx
  extensions/v2ex-viewer/src/viewNodeTopics.tsx
  extensions/v2ex-viewer/src/viewNotifications.tsx
  extensions/v2ex-viewer/src/viewToken.tsx
Labels: extension fix / improvement, OP is author, extension: v2ex-viewer

#5267 [Timezone Converter] - Sort options
  extensions/timezone-converter/CHANGELOG.md
  extensions/timezone-converter/package-lock.json
  extensions/timezone-converter/package.json
  extensions/timezone-converter/src/index.tsx
Labels: extension fix / improvement, OP is contributor, extension: raycast-timezone-converter

#5254 Update web-audit extension
  extensions/web-audit/.gitignore
  extensions/web-audit/CHANGELOG.md
  extensions/web-audit/README.md
  extensions/web-audit/package-lock.json
  extensions/web-audit/src/analyze.tsx
  extensions/web-audit/src/info.tsx
Labels: extension fix / improvement, OP is author, extension: web-audit

#5312 [Trello] Fix broken search function
  extensions/trello/CHANGELOG.md
  extensions/trello/src/utils/fetchTodos.tsx
Labels: extension fix / improvement, OP is author, extension: trello

#5310 Upgrade WhatsApp extension dependencies
  extensions/whatsapp/changelog.md
  extensions/whatsapp/package-lock.json
  extensions/whatsapp/package.json
  extensions/whatsapp/src/add-chat.tsx
  extensions/whatsapp/src/add-existing-group.tsx
  extensions/whatsapp/src/open-chat.tsx
  extensions/whatsapp/src/utils/local-storage.ts
  extensions/whatsapp/src/utils/use-whatsapp-chats.ts
Labels: extension fix / improvement, OP is author, extension: whatsapp

#5298 [Music]: fixed `Library` localization
  extensions/music/CHANGELOG.md
  extensions/music/CONTRIBUTING.md
  extensions/music/src/add-to-playlist.tsx
  extensions/music/src/play-library-track.tsx
  extensions/music/src/util/scripts/current-track.ts
  extensions/music/src/util/scripts/general.ts
  extensions/music/src/util/scripts/playlists.ts
  extensions/music/src/util/scripts/track.ts
  extensions/music/src/util/utils.ts
Labels: extension fix / improvement, OP is author, extension: music

#5289 [LastPass] feature: speed up extension by replacing `lpass ls` instead of `lpass export`
  extensions/lastpass/CHANGELOG.md
  extensions/lastpass/src/cli.ts
  extensions/lastpass/src/index.tsx
  extensions/lastpass/src/utils.ts
Labels: extension fix / improvement, OP is author, extension: lastpass

#5279 Update Claris snippets - Dynamic Fields
  extensions/claris-snippets/CHANGELOG.md
  extensions/claris-snippets/assets/FmClipTools/Script Step Transmutator---NOT-DONE.applescript
  extensions/claris-snippets/assets/FmClipTools/fmClip - Clipboard FM Objects to XML.applescript
  extensions/claris-snippets/assets/FmClipTools/fmClip - Copy Specific Custom Functions.applescript
  extensions/claris-snippets/assets/FmClipTools/fmClip - FM Objects to Multi-Objects.applescript
  extensions/claris-snippets/assets/FmClipTools/fmClip - Prettify XML in Clipboard.applescript
  extensions/claris-snippets/assets/FmClipTools/fmClip - Replicate FM Objects.applescript
  extensions/claris-snippets/assets/FmClipTools/fmObjectTranslator.applescript
  extensions/claris-snippets/package-lock.json
  extensions/claris-snippets/package.json
  extensions/claris-snippets/src/components/dynamic-fields-list.tsx
  extensions/claris-snippets/src/components/dynamic-snippet.form.tsx
  extensions/claris-snippets/src/components/dynamic-snippet.help.tsx
  extensions/claris-snippets/src/components/edit-field.tsx
  extensions/claris-snippets/src/components/edit-snippet-xml.tsx
  extensions/claris-snippets/src/components/edit-snippet.tsx
  extensions/claris-snippets/src/utils/snippets.ts
  extensions/claris-snippets/src/utils/types.ts
  extensions/claris-snippets/src/view-snippets.tsx
Labels: extension fix / improvement, OP is author, extension: claris-snippets

#5308 Add option to define default action in Tailwind CSS
  extensions/tailwindcss/changelog.md
  extensions/tailwindcss/package.json
  extensions/tailwindcss/src/search-classes.tsx
Labels: extension fix / improvement, OP is author, extension: tailwindcss

#5235 feat(amazon-aws): add show all action button for viewing all SSM parameters
  extensions/amazon-aws/CHANGELOG.md
  extensions/amazon-aws/package.json
  extensions/amazon-aws/src/ssm.tsx
Labels: extension fix / improvement, extension: aws

#5320 feat(moco):Nondecimal time and new activity start method
  extensions/moco/src/commands/activities/api.ts
  extensions/moco/src/commands/activities/components/ActivityEdit.tsx
  extensions/moco/src/commands/activities/components/ActivityList.tsx
  extensions/moco/src/commands/activities/components/ActivityStart.tsx
  extensions/moco/src/commands/activities/utils.ts
  extensions/moco/src/commands/projects/components/ProjectListItem.tsx
Labels: extension fix / improvement, OP is author, extension: moco

#5107 [Bitwarden] Reorganize and cleanup codebase
  extensions/bitwarden/.gitignore
  extensions/bitwarden/CHANGELOG.md
  extensions/bitwarden/package-lock.json
  extensions/bitwarden/package.json
  extensions/bitwarden/src/actions.tsx
  extensions/bitwarden/src/api/bitwarden.ts
  extensions/bitwarden/src/components.tsx
  extensions/bitwarden/src/components/ComponentReverser.tsx
  extensions/bitwarden/src/components/GeneratePassword/ActionPanel.tsx
  extensions/bitwarden/src/components/GeneratePassword/OptionField.tsx
  extensions/bitwarden/src/components/RepromptForm.tsx
  extensions/bitwarden/src/components/RootErrorBoundary.tsx
  extensions/bitwarden/src/components/TroubleshootingGuide.tsx
  extensions/bitwarden/src/components/UnlockForm.tsx
  extensions/bitwarden/src/components/actions/CopyPassword.tsx
  extensions/bitwarden/src/components/actions/PastePassword.tsx
  extensions/bitwarden/src/components/searchVault/CommonActions.tsx
  extensions/bitwarden/src/components/searchVault/Item.tsx
  extensions/bitwarden/src/components/searchVault/ItemActions.tsx
  extensions/bitwarden/src/constants/general.ts
  extensions/bitwarden/src/constants/passwords.ts
  extensions/bitwarden/src/context/bitwarden.tsx
  extensions/bitwarden/src/context/session.tsx
  extensions/bitwarden/src/context/vault.tsx
  extensions/bitwarden/src/generate-password.tsx
  extensions/bitwarden/src/hooks.ts
  extensions/bitwarden/src/search.tsx
  extensions/bitwarden/src/session.tsx
  extensions/bitwarden/src/types/general.ts
  extensions/bitwarden/src/types/global.d.ts
  extensions/bitwarden/src/types/index.ts
  extensions/bitwarden/src/types/passwords.ts
  extensions/bitwarden/src/types/session.ts
  extensions/bitwarden/src/types/vault.ts
  extensions/bitwarden/src/utils.ts
  extensions/bitwarden/src/utils/clipboard.ts
  extensions/bitwarden/src/utils/commands.ts
  extensions/bitwarden/src/utils/hooks/useAbortController.ts
  extensions/bitwarden/src/utils/hooks/useOneTimePasswordHistoryWarning.ts
  extensions/bitwarden/src/utils/hooks/usePasswordGenerator.ts
  extensions/bitwarden/src/utils/hooks/useReprompt.tsx
  extensions/bitwarden/src/utils/hooks/useVaultMessages.ts
  extensions/bitwarden/src/utils/objects.ts
  extensions/bitwarden/src/utils/passwords.ts
  extensions/bitwarden/src/utils/preferences.ts
  extensions/bitwarden/src/utils/search.ts
  extensions/bitwarden/src/utils/strings.ts
  extensions/bitwarden/tsconfig.json
Labels: extension fix / improvement, OP is author, OP is contributor, extension: bitwarden

#4443 [two-factor-authentication-code-generator] change to paste from copy
  extensions/two-factor-authentication-code-generator/package-lock.json
  extensions/two-factor-authentication-code-generator/package.json
  extensions/two-factor-authentication-code-generator/src/index.tsx
  extensions/two-factor-authentication-code-generator/src/util/totp.ts
  extensions/two-factor-authentication-code-generator/tsconfig.json
Labels: extension fix / improvement, extension: two-factor-authentication-code-generat…

#4838 [New Extension] AirPods Noise Control
  extensions/airpods-noise-control/.eslintrc.json
  extensions/airpods-noise-control/CHANGELOG.md
  extensions/airpods-noise-control/README.md
  extensions/airpods-noise-control/assets/extension_icon.png
  extensions/airpods-noise-control/package-lock.json
  extensions/airpods-noise-control/package.json
  extensions/airpods-noise-control/src/applescript.ts
  extensions/airpods-noise-control/src/index.tsx
  extensions/airpods-noise-control/tsconfig.json
Labels: new extension

#4812 [New Extension] added Package Tracker extension
  extensions/package-tracker/.eslintrc.json
  extensions/package-tracker/.gitignore
  extensions/package-tracker/.prettierrc
  extensions/package-tracker/CHANGELOG.md
  extensions/package-tracker/README.md
  extensions/package-tracker/assets/icon.png
  extensions/package-tracker/media/icon.png
  extensions/package-tracker/metadata/package-tracker-1.png
  extensions/package-tracker/metadata/package-tracker-2.png
  extensions/package-tracker/metadata/package-tracker-3.png
  extensions/package-tracker/metadata/package-tracker-4.png
  extensions/package-tracker/package-lock.json
  extensions/package-tracker/package.json
  extensions/package-tracker/src/api.ts
  extensions/package-tracker/src/components/makemetadata.tsx
  extensions/package-tracker/src/trackParcel.tsx
  extensions/package-tracker/src/types.ts
  extensions/package-tracker/tsconfig.json
Labels: new extension

#5012 Add typer extension
  extensions/typer/.eslintrc.json
  extensions/typer/.gitignore
  extensions/typer/.prettierrc
  extensions/typer/CHANGELOG.md
  extensions/typer/README.md
  extensions/typer/assets/command-icon.png
  extensions/typer/metadata/Raycast 2023-02-27 at 13.59.05.png
  extensions/typer/package-lock.json
  extensions/typer/package.json
  extensions/typer/src/command1.ts
  extensions/typer/src/command2.ts
  extensions/typer/src/command3.ts
  extensions/typer/src/command4.ts
  extensions/typer/src/command5.ts
  extensions/typer/tsconfig.json
Labels: new extension

#5019 Added mixpanel extension
  extensions/mixpanel/.eslintrc.json
  extensions/mixpanel/.prettierrc
  extensions/mixpanel/CHANGELOG.md
  extensions/mixpanel/README.md
  extensions/mixpanel/assets/list-icon.png
  extensions/mixpanel/assets/mixpanel_logo.png
  extensions/mixpanel/metadata/mixpanel-1.png
  extensions/mixpanel/metadata/mixpanel-2.png
  extensions/mixpanel/metadata/mixpanel-3.png
  extensions/mixpanel/package-lock.json
  extensions/mixpanel/package.json
  extensions/mixpanel/src/api/mixpanel_api.ts
  extensions/mixpanel/src/index.tsx
  extensions/mixpanel/src/model/preferences.ts
  extensions/mixpanel/src/model/user.ts
  extensions/mixpanel/src/pages/search_user.tsx
  extensions/mixpanel/src/pages/user_detail.tsx
  extensions/mixpanel/src/pages/user_list.tsx
  extensions/mixpanel/tsconfig.json
Labels: new extension

#5338 History for numi command
  extensions/numi/CHANGELOG.md
  extensions/numi/metadata/screenshot-01.png
  extensions/numi/metadata/screenshot-02.png
  extensions/numi/metadata/screenshot-03.png
  extensions/numi/package-lock.json
  extensions/numi/package.json
  extensions/numi/src/index.tsx
Labels: extension fix / improvement, OP is author, extension: numi

#5336 [Bitwarden] Add Show Card Details action
  extensions/bitwarden/CHANGELOG.md
  extensions/bitwarden/src/components/searchVault/ItemActions.tsx
  extensions/bitwarden/src/utils/cards.ts
Labels: extension fix / improvement, OP is author, extension: bitwarden

#5335 [Bitwarden] Add Open in Browser action
  extensions/bitwarden/CHANGELOG.md
  extensions/bitwarden/src/components/searchVault/ItemActions.tsx
Labels: extension fix / improvement, OP is author, extension: bitwarden

#5334 [Bitwarden] Generate password quickly (copy and/or paste right away)
  extensions/bitwarden/CHANGELOG.md
  extensions/bitwarden/package.json
  extensions/bitwarden/src/generate-password-quick.tsx
  extensions/bitwarden/src/types/general.ts
  extensions/bitwarden/src/utils/clipboard.ts
  extensions/bitwarden/src/utils/hooks/usePasswordGenerator.ts
  extensions/bitwarden/src/utils/passwords.ts
Labels: extension fix / improvement, OP is author, OP is contributor, extension: bitwarden

#5333 Update Claris snippets
  extensions/claris-snippets/CHANGELOG.md
  extensions/claris-snippets/package-lock.json
  extensions/claris-snippets/package.json
  extensions/claris-snippets/src/components/edit-snippet.tsx
  extensions/claris-snippets/src/manage-locations.tsx
  extensions/claris-snippets/src/utils/snippets.ts
Labels: extension fix / improvement, OP is author, extension: claris-snippets

#5284 feat(Timers): volume setting, pausable stopwatches, and bugfixes
  extensions/timers/CHANGELOG.md
  extensions/timers/README.md
  extensions/timers/package-lock.json
  extensions/timers/package.json
  extensions/timers/src/RenameView.tsx
  extensions/timers/src/formatUtils.ts
  extensions/timers/src/hooks/useStopwatches.ts
  extensions/timers/src/manageStopwatches.tsx
  extensions/timers/src/manageTimers.tsx
  extensions/timers/src/previewAlertSounds.tsx
  extensions/timers/src/stopwatchUtils.ts
  extensions/timers/src/timerUtils.ts
  extensions/timers/src/types.ts
Labels: extension fix / improvement, OP is author, extension: timers

#5327 Update discord-timestamps extension
  extensions/discord-timestamps/.eslintrc.json
  extensions/discord-timestamps/.gitignore
  extensions/discord-timestamps/CHANGELOG.md
  extensions/discord-timestamps/package-lock.json
  extensions/discord-timestamps/package.json
  extensions/discord-timestamps/src/timestamp.tsx
  extensions/discord-timestamps/src/timestamps.ts
Labels: extension fix / improvement, extension: discord-timestamps

#5065 Add Copy Glyph action to fontawesome extension
  extensions/fontawesome/CHANGELOG.md
  extensions/fontawesome/package-lock.json
  extensions/fontawesome/package.json
  extensions/fontawesome/src/index.tsx
Labels: extension fix / improvement, extension: font-awesome

#5068 Add nmbs-planner extension
  extensions/nmbs-planner/.eslintrc.json
  extensions/nmbs-planner/.gitignore
  extensions/nmbs-planner/.prettierrc
  extensions/nmbs-planner/CHANGELOG.md
  extensions/nmbs-planner/README.md
  extensions/nmbs-planner/assets/train_icon.png
  extensions/nmbs-planner/metadata/nmbs-planner-1.png
  extensions/nmbs-planner/metadata/nmbs-planner-2.png
  extensions/nmbs-planner/package-lock.json
  extensions/nmbs-planner/package.json
  extensions/nmbs-planner/src/api.tsx
  extensions/nmbs-planner/src/trainride.tsx
  extensions/nmbs-planner/src/types.tsx
  extensions/nmbs-planner/tsconfig.json
Labels: new extension

#5077 Add kafka extension
  extensions/kafka/.eslintrc.json
  extensions/kafka/.gitignore
  extensions/kafka/.prettierrc
  extensions/kafka/CHANGELOG.md
  extensions/kafka/README.md
  extensions/kafka/assets/kafka-menu-dark.png
  extensions/kafka/assets/kafka-menu-light.png
  extensions/kafka/assets/kafka.png
  extensions/kafka/metadata/kafka-1.png
  extensions/kafka/metadata/kafka-2.png
  extensions/kafka/metadata/kafka-3.png
  extensions/kafka/metadata/kafka-4.png
  extensions/kafka/package-lock.json
  extensions/kafka/package.json
  extensions/kafka/src/components/consumers.tsx
  extensions/kafka/src/components/topics.tsx
  extensions/kafka/src/kafka-menubar.tsx
  extensions/kafka/src/kafka.tsx
  extensions/kafka/src/utils.ts
  extensions/kafka/tsconfig.json
Labels: new extension

#5063 Add wireguard extension
  extensions/wireguard/.eslintrc.json
  extensions/wireguard/.gitignore
  extensions/wireguard/.prettierrc
  extensions/wireguard/CHANGELOG.md
  extensions/wireguard/LICENSE
  extensions/wireguard/README.md
  extensions/wireguard/assets/connect.png
  extensions/wireguard/assets/disconnect.png
  extensions/wireguard/assets/wireguard.png
  extensions/wireguard/metadata/screenshot.png
  extensions/wireguard/package-lock.json
  extensions/wireguard/package.json
  extensions/wireguard/src/getVPN.ts
  extensions/wireguard/src/index.tsx
  extensions/wireguard/src/toggle.ts
  extensions/wireguard/src/type.ts
  extensions/wireguard/src/utils.ts
  extensions/wireguard/tsconfig.json
Labels: new extension

#5051 Add proton-version extension
  extensions/proton-version/.eslintrc.json
  extensions/proton-version/.gitignore
  extensions/proton-version/.prettierrc
  extensions/proton-version/.vscode/settings.json
  extensions/proton-version/CHANGELOG.md
  extensions/proton-version/README.md
  extensions/proton-version/assets/command_icon.png
  extensions/proton-version/assets/extension_icon.png
  extensions/proton-version/assets/proton-products/Proton.png
  extensions/proton-version/assets/proton-products/ProtonCalendar.png
  extensions/proton-version/assets/proton-products/ProtonDrive.png
  extensions/proton-version/assets/proton-products/ProtonMail.png
  extensions/proton-version/metadata/proton-version-1.png
  extensions/proton-version/metadata/proton-version-2.png
  extensions/proton-version/metadata/proton-version-3.png
  extensions/proton-version/metadata/proton-version-4.png
  extensions/proton-version/package-lock.json
  extensions/proton-version/package.json
  extensions/proton-version/proton-version.png
  extensions/proton-version/src/Components/ProtonVersionList.tsx
  extensions/proton-version/src/constants.ts
  extensions/proton-version/src/helpers/getAssetFromProduct.ts
  extensions/proton-version/src/helpers/getKeywordsFromProduct.ts
  extensions/proton-version/src/helpers/getProductNameFromProduct.ts
  extensions/proton-version/src/helpers/getProductUrlFromProduct.ts
  extensions/proton-version/src/interface.ts
  extensions/proton-version/src/proton-version-beta.tsx
  extensions/proton-version/src/proton-version.tsx
  extensions/proton-version/tsconfig.json
Labels: new extension

#5122 New command: add toggle functionality to Keyboard Layout Switcher
  extensions/keyboard-layout-switcher/CHANGELOG.md
  extensions/keyboard-layout-switcher/README.md
  extensions/keyboard-layout-switcher/package.json
  extensions/keyboard-layout-switcher/src/model/LayoutManager.ts
  extensions/keyboard-layout-switcher/src/model/interfaces.ts
  extensions/keyboard-layout-switcher/src/switch.tsx
  extensions/keyboard-layout-switcher/src/toggle.ts
Labels: extension fix / improvement, extension: input-switcher

#5161 Add Ableton Live extension
  extensions/ableton-live/.eslintrc.json
  extensions/ableton-live/.gitignore
  extensions/ableton-live/.prettierrc
  extensions/ableton-live/CHANGELOG.md
  extensions/ableton-live/README.md
  extensions/ableton-live/assets/ableton-live-icon.png
  extensions/ableton-live/assets/ableton-live-project-icon.png
  extensions/ableton-live/metadata/ableton-live-1.png
  extensions/ableton-live/metadata/ableton-live-2.png
  extensions/ableton-live/metadata/ableton-live-3.png
  extensions/ableton-live/package-lock.json
  extensions/ableton-live/package.json
  extensions/ableton-live/src/components/ableton-live-project-list-item.component.tsx
  extensions/ableton-live/src/components/ableton-live-project-list.component.tsx
  extensions/ableton-live/src/models/ableton-live-project.model.ts
  extensions/ableton-live/src/models/preferences.model.ts
  extensions/ableton-live/src/search-ableton-live-projects.command.tsx
  extensions/ableton-live/src/services/ableton-live-favorite-project.service.ts
  extensions/ableton-live/src/services/ableton-live-project.service.ts
  extensions/ableton-live/src/services/ableton-live.service.ts
  extensions/ableton-live/src/shared/exec-async.ts
  extensions/ableton-live/src/shared/get-preferences.ts
  extensions/ableton-live/src/shared/run-apple-script.ts
  extensions/ableton-live/tsconfig.json
Labels: new extension

#5348 fix: Open in Devdocs broken
  extensions/devdocs/CHANGELOG.md
  extensions/devdocs/src/search-entries.tsx
Labels: extension fix / improvement, extension: devdocs

#5220 feat(extension): Fix Link Embeds
  extensions/fix-link-embeds/.eslintrc.json
  extensions/fix-link-embeds/.gitignore
  extensions/fix-link-embeds/.prettierrc
  extensions/fix-link-embeds/CHANGELOG.md
  extensions/fix-link-embeds/README.md
  extensions/fix-link-embeds/assets/command-icon.png
  extensions/fix-link-embeds/assets/command-icon@dark.png
  extensions/fix-link-embeds/package-lock.json
  extensions/fix-link-embeds/package.json
  extensions/fix-link-embeds/src/args.ts
  extensions/fix-link-embeds/src/assets/regexList.ts
  extensions/fix-link-embeds/src/clipboard.ts
  extensions/fix-link-embeds/src/selected.ts
  extensions/fix-link-embeds/src/util/linkReplacer.ts
  extensions/fix-link-embeds/tsconfig.json
Labels: new extension

#5281 Add baseUrl preference to github-repository-search
  extensions/github-repository-search/CHANGELOG.md
  extensions/github-repository-search/package.json
  extensions/github-repository-search/src/useRepositories.ts
  extensions/github-repository-search/src/useRepositoryReleases.ts
Labels: extension fix / improvement, extension: github-repository-search

#5227 add warp launch configuration extension
  extensions/warp-launch-configuration/.eslintrc.json
  extensions/warp-launch-configuration/.gitignore
  extensions/warp-launch-configuration/.prettierrc
  extensions/warp-launch-configuration/CHANGELOG.md
  extensions/warp-launch-configuration/README.md
  extensions/warp-launch-configuration/assets/command-icon.png
  extensions/warp-launch-configuration/assets/list-icon.png
  extensions/warp-launch-configuration/media/turn-on-permissions.png
  extensions/warp-launch-configuration/metadata/warp-launch-config-1.png
  extensions/warp-launch-configuration/metadata/warp-launch-config-2.png
  extensions/warp-launch-configuration/package-lock.json
  extensions/warp-launch-configuration/package.json
  extensions/warp-launch-configuration/src/index.tsx
  extensions/warp-launch-configuration/tsconfig.json
Labels: new extension

#4856 Implement pagination for getActiveCycleIssues.
  extensions/linear/package.json
  extensions/linear/src/api/getIssues.ts
  extensions/linear/src/api/pagination.ts
Labels: extension fix / improvement, extension: linear

#5200 Add Quest Extension
  extensions/quest/.eslintrc.json
  extensions/quest/.gitignore
  extensions/quest/.prettierrc
  extensions/quest/CHANGELOG.md
  extensions/quest/README.md
  extensions/quest/assets/extension_icon.png
  extensions/quest/metadata/quest-1.png
  extensions/quest/metadata/quest-2.png
  extensions/quest/metadata/quest-3.png
  extensions/quest/package-lock.json
  extensions/quest/package.json
  extensions/quest/src/actions/closeQuest.tsx
  extensions/quest/src/actions/createQuest.tsx
  extensions/quest/src/actions/deleteQuest.tsx
  extensions/quest/src/actions/editQuest.tsx
  extensions/quest/src/actions/startQuest.tsx
  extensions/quest/src/components/createQuest.tsx
  extensions/quest/src/components/emptyView.tsx
  extensions/quest/src/components/viewQuest.tsx
  extensions/quest/src/fixtures/exampleQuests.ts
  extensions/quest/src/lib/util.ts
  extensions/quest/src/show-quests.tsx
  extensions/quest/src/types.ts
  extensions/quest/tsconfig.json
Labels: new extension

#5359 [LastPass] feature: add ability to search by ID
  extensions/lastpass/CHANGELOG.md
  extensions/lastpass/src/components/listItem.tsx
Labels: extension fix / improvement, OP is author, extension: lastpass

#5213 Add codegeex extension
  extensions/codegeex/.eslintrc.json
  extensions/codegeex/.gitignore
  extensions/codegeex/.prettierrc
  extensions/codegeex/CHANGELOG.md
  extensions/codegeex/README.md
  extensions/codegeex/assets/command-icon.png
  extensions/codegeex/metadata/codegeex-1.png
  extensions/codegeex/metadata/codegeex-2.png
  extensions/codegeex/metadata/codegeex-3.png
  extensions/codegeex/package-lock.json
  extensions/codegeex/package.json
  extensions/codegeex/src/api.ts
  extensions/codegeex/src/explain.tsx
  extensions/codegeex/src/explainform.tsx
  extensions/codegeex/src/generate.tsx
  extensions/codegeex/src/hooks.tsx
  extensions/codegeex/src/translate.tsx
  extensions/codegeex/src/translateform.tsx
  extensions/codegeex/src/util.ts
  extensions/codegeex/tsconfig.json
Labels: new extension

#5352 Feature/gitlab wikis
  extensions/gitlab/CHANGELOG.md
  extensions/gitlab/src/components/groups.tsx
  extensions/gitlab/src/components/project.tsx
  extensions/gitlab/src/components/project_actions.tsx
  extensions/gitlab/src/components/project_nav.tsx
  extensions/gitlab/src/components/project_search.tsx
Labels: extension fix / improvement, OP is contributor, extension: gitlab

#5361 feat(Timers): choice of alert sound for custom timer
  extensions/timers/CHANGELOG.md
  extensions/timers/package.json
  extensions/timers/src/hooks/useTimers.ts
  extensions/timers/src/previewAlertSounds.tsx
  extensions/timers/src/soundData.ts
  extensions/timers/src/startCustomTimer.tsx
  extensions/timers/src/timerUtils.ts
  extensions/timers/src/types.ts
Labels: extension fix / improvement, extension: timers

#5309 [NBA Viewer] Fix 'View Standings' command and polish view
  extensions/nba-game-viewer/CHANGELOG.md
  extensions/nba-game-viewer/package.json
  extensions/nba-game-viewer/src/hooks/useStandings.ts
  extensions/nba-game-viewer/src/types/standings.types.ts
  extensions/nba-game-viewer/src/utils/getStandings.ts
  extensions/nba-game-viewer/src/views/standings.tsx
Labels: extension fix / improvement, extension: nba-viewer

#5357 [amazon-aws]: Add Run Profile Script Command
  extensions/amazon-aws/CHANGELOG.md
  extensions/amazon-aws/README.md
  extensions/amazon-aws/assets/script-command.png
  extensions/amazon-aws/package-lock.json
  extensions/amazon-aws/package.json
  extensions/amazon-aws/src/run-profile-script.tsx
Labels: extension fix / improvement, OP is contributor, extension: aws

#5365 [Readwise to Tana]: Add field mapping for highlight URLs
  extensions/readwise-to-tana/CHANGELOG.md
  extensions/readwise-to-tana/src/index.tsx
  extensions/readwise-to-tana/src/settings.tsx
Labels: extension fix / improvement, OP is author, extension: readwise-to-tana

#5265 [New Extension] Naver Search
  extensions/naver-search/.eslintrc.json
  extensions/naver-search/.gitignore
  extensions/naver-search/.prettierrc
  extensions/naver-search/CHANGELOG.md
  extensions/naver-search/README.md
  extensions/naver-search/assets/command-icon.png
  extensions/naver-search/metadata/naver-search-1.png
  extensions/naver-search/metadata/naver-search-2.png
  extensions/naver-search/package-lock.json
  extensions/naver-search/package.json
  extensions/naver-search/src/naver-search.tsx
  extensions/naver-search/src/naver/handleResults.ts
  extensions/naver-search/src/naver/resultUtils.ts
  extensions/naver-search/src/naver/types.ts
  extensions/naver-search/src/naver/useSearch.tsx
  extensions/naver-search/tsconfig.json
Labels: new extension

#5039 Add Productlane extension
  extensions/productlane/.eslintrc.json
  extensions/productlane/.gitignore
  extensions/productlane/.prettierrc
  extensions/productlane/CHANGELOG.md
  extensions/productlane/README.md
  extensions/productlane/assets/command-icon.png
  extensions/productlane/metadata/productlane-1.png
  extensions/productlane/package-lock.json
  extensions/productlane/package.json
  extensions/productlane/src/index.tsx
  extensions/productlane/src/oauth.ts
  extensions/productlane/src/productlane.api.ts
  extensions/productlane/src/view.tsx
  extensions/productlane/src/withLinear.tsx
  extensions/productlane/tsconfig.json
Labels: new extension

#5377 Feature/gitlab retry failed jobs
  extensions/gitlab/CHANGELOG.md
  extensions/gitlab/src/components/job_actions.tsx
  extensions/gitlab/src/components/jobs.tsx
  extensions/gitlab/src/components/pipeline_actions.tsx
  extensions/gitlab/src/components/pipelines.tsx
  extensions/gitlab/src/gitlabapi.ts
Labels: extension fix / improvement, OP is contributor, extension: gitlab

#5385 [Home Assistant] HotFix: http calls broken since last version
  extensions/homeassistant/CHANGELOG.md
  extensions/homeassistant/src/haapi.ts
Labels: extension fix / improvement, OP is author, extension: homeassistant

#5261 [New Extension] Time Until "I" Do
  extensions/time-until-i-do/.eslintrc.json
  extensions/time-until-i-do/.gitignore
  extensions/time-until-i-do/.prettierrc
  extensions/time-until-i-do/CHANGELOG.md
  extensions/time-until-i-do/LICENSE
  extensions/time-until-i-do/README.md
  extensions/time-until-i-do/assets/icon.png
  extensions/time-until-i-do/metadata/time-until-i-do-1.png
  extensions/time-until-i-do/package-lock.json
  extensions/time-until-i-do/package.json
  extensions/time-until-i-do/src/index.tsx
  extensions/time-until-i-do/tsconfig.json
Labels: new extension

#5268 Add primer extension
  extensions/primer/.eslintrc.js
  extensions/primer/.gitignore
  extensions/primer/CHANGELOG.md
  extensions/primer/README.md
  extensions/primer/assets/command-icon.png
  extensions/primer/metadata/primer-1.png
  extensions/primer/package-lock.json
  extensions/primer/package.json
  extensions/primer/src/index.tsx
  extensions/primer/src/react-props-view.tsx
  extensions/primer/src/use-component-data.tsx
  extensions/primer/tsconfig.json
Labels: new extension

#5290 feat(search-npm): add open package changelog page action
  extensions/search-npm/CHANGELOG.md
  extensions/search-npm/README.md
  extensions/search-npm/package.json
  extensions/search-npm/src/PackagListItem.tsx
  extensions/search-npm/src/utils/getChangelogUrl.ts
Labels: extension fix / improvement, extension: search-npm

#5399 [Trello] Add missing fields to card submission
  extensions/trello/CHANGELOG.md
  extensions/trello/src/createTodo.tsx
  extensions/trello/src/utils/postTodo.tsx
  extensions/trello/src/utils/types.ts
Labels: extension fix / improvement, OP is author, extension: trello

#5390 Fix Monzo token refresh
  extensions/monzo/CHANGELOG.md
  extensions/monzo/src/lib/actions.ts
  extensions/monzo/src/lib/monzo.ts
Labels: extension fix / improvement, OP is author, extension: monzo

#4861 [Update Extension] Orion - add ability to search tabs
  extensions/orion/CHANGELOG.md
  extensions/orion/package-lock.json
  extensions/orion/package.json
  extensions/orion/src/components/CloseTabAction.tsx
  extensions/orion/src/components/OpenTabAction.tsx
  extensions/orion/src/components/TabListItem.tsx
  extensions/orion/src/hooks/useTabs.ts
  extensions/orion/src/tabs.tsx
  extensions/orion/src/types.ts
  extensions/orion/src/utils.ts
Labels: extension fix / improvement, OP is author, extension: orion

#5368 [Image Modification] Fix HEIC compatibility and add "Pad Images" command
  extensions/sips/CHANGELOG.md
  extensions/sips/README.md
  extensions/sips/package.json
  extensions/sips/src/pad.ts
  extensions/sips/src/utils.ts
Labels: extension fix / improvement, OP is author, extension: sips

#5389 Added support for Editing Daily Logs
  extensions/my-daily-log/CHANGELOG.md
  extensions/my-daily-log/package-lock.json
  extensions/my-daily-log/package.json
  extensions/my-daily-log/src/createLogCommand.tsx
  extensions/my-daily-log/src/dailyLogList.tsx
  extensions/my-daily-log/src/domain/DailyLog.tsx
  extensions/my-daily-log/src/domain/createDailyLog.tsx
  extensions/my-daily-log/src/domain/dailyLog/DailyLog.tsx
  extensions/my-daily-log/src/domain/dailyLog/DailyLogRepository.tsx
  extensions/my-daily-log/src/domain/dailyLog/NewDailyLog.tsx
  extensions/my-daily-log/src/domain/dailyLog/useCases/CreateNewLogUseCase.tsx
  extensions/my-daily-log/src/domain/dailyLog/useCases/EditDailyLogUseCase.tsx
  extensions/my-daily-log/src/domain/dailyLog/useCases/GetDailyLogsForDateUseCase.tsx
  extensions/my-daily-log/src/domain/dailyLogFromLogLine.tsx
  extensions/my-daily-log/src/domain/getDailyLog.tsx
  extensions/my-daily-log/src/domain/getLoggedDays.tsx
  extensions/my-daily-log/src/domain/loggedDay/GetLoggedDaysUseCase.tsx
  extensions/my-daily-log/src/domain/loggedDay/LoggedDay.tsx
  extensions/my-daily-log/src/domain/loggedDay/LoggedDaysRepository.tsx
  extensions/my-daily-log/src/domain/readDailyLogs.tsx
  extensions/my-daily-log/src/factories/createNewLogUseCaseFactory.tsx
  extensions/my-daily-log/src/factories/editDailyLogUseCaseFactory.tsx
  extensions/my-daily-log/src/factories/getDailyLogsForDateUseCaseFactory.tsx
  extensions/my-daily-log/src/factories/getLoggedDaysuseCaseFactory.tsx
  extensions/my-daily-log/src/factories/makeDailyLogRepository.tsx
  extensions/my-daily-log/src/factories/makeLoggedDaysRepository.tsx
  extensions/my-daily-log/src/infrastructure/dailyLog/JsonDailyLogRepository.tsx
  extensions/my-daily-log/src/infrastructure/dailyLog/LegacyDailyLogRepository.tsx
  extensions/my-daily-log/src/infrastructure/dailyLog/MigrationDayDailyLogRepository.tsx
  extensions/my-daily-log/src/infrastructure/loggedDays/JsonLoggedDaysRepository.tsx
  extensions/my-daily-log/src/infrastructure/loggedDays/LegacyLoggedDaysRepository.tsx
  extensions/my-daily-log/src/infrastructure/loggedDays/LoggedDaysRepositoryComposer.tsx
  extensions/my-daily-log/src/loggedDaysInMonthList.tsx
  extensions/my-daily-log/src/shared/formatArgumentDate.tsx
  extensions/my-daily-log/src/shared/getDailyLogPath.tsx
  extensions/my-daily-log/src/shared/randomPlaceholder.tsx
Labels: extension fix / improvement, OP is author, extension: my-daily-log

#5402 DEVONThink: Remove buggy property 🔥
  extensions/devonthink/CHANGELOG.md
  extensions/devonthink/src/components/SearchResultItem.tsx
Labels: extension fix / improvement, OP is author, extension: devonthink

#5394 [Bitwarden] Use transient option when copying values
  extensions/bitwarden/CHANGELOG.md
  extensions/bitwarden/package.json
  extensions/bitwarden/src/api/bitwarden.ts
  extensions/bitwarden/src/components/actions/CopyPassword.tsx
  extensions/bitwarden/src/components/generatePassword/ActionPanel.tsx
  extensions/bitwarden/src/components/generatePassword/OptionField.tsx
  extensions/bitwarden/src/components/searchVault/ItemActions.tsx
  extensions/bitwarden/src/context/session.tsx
  extensions/bitwarden/src/generate-password-quick.tsx
  extensions/bitwarden/src/generate-password.tsx
  extensions/bitwarden/src/types/general.ts
  extensions/bitwarden/src/types/preferences.ts
  extensions/bitwarden/src/utils/clipboard.ts
  extensions/bitwarden/src/utils/preferences.ts
Labels: extension fix / improvement, OP is author, OP is contributor, extension: bitwarden

#5207 [Netlify] New logo
  extensions/netlify/CHANGELOG.md
  extensions/netlify/assets/netlify-icon.png
  extensions/netlify/assets/netlify-icon.svg
  extensions/netlify/assets/netlify-icon@dark.svg
  extensions/netlify/assets/team-placeholder.png
  extensions/netlify/src/components/actions.tsx
  extensions/netlify/src/components/deploys.tsx
  extensions/netlify/src/search-team-members.tsx
Labels: extension fix / improvement, OP is contributor, extension: netlify

#5156 [XiaoQu] #N/A feat: add kube config env variabel support fix #5151
  extensions/kubectx/.prettierrc
  extensions/kubectx/CHANGELOG.md
  extensions/kubectx/package.json
  extensions/kubectx/src/lib/cli.ts
  extensions/kubectx/src/services/kubectx.service.ts
Labels: extension fix / improvement, extension: kubectx

#5416 Add focus extension
  extensions/focus/.eslintrc.json
  extensions/focus/.prettierrc
  extensions/focus/CHANGELOG.md
  extensions/focus/README.md
  extensions/focus/assets/focus-icon.png
  extensions/focus/metadata/Screenshot-1.png
  extensions/focus/metadata/Screenshot-2.png
  extensions/focus/package-lock.json
  extensions/focus/package.json
  extensions/focus/src/open-preferences.tsx
  extensions/focus/src/start-focus-25.tsx
  extensions/focus/src/start-focus-custom.tsx
  extensions/focus/src/start-focus.tsx
  extensions/focus/src/stop-break.tsx
  extensions/focus/src/stop-focus.tsx
  extensions/focus/src/take-break-5.tsx
  extensions/focus/src/take-break-custom.tsx
  extensions/focus/src/utils.tsx
  extensions/focus/tsconfig.json
Labels: new extension

#5456 F1: Update `@raycast/api` to latest & show DNFs.
  extensions/f1-standings/.eslintrc.json
  extensions/f1-standings/CHANGELOG.md
  extensions/f1-standings/package-lock.json
  extensions/f1-standings/package.json
  extensions/f1-standings/src/views/AddToCalendar.tsx
  extensions/f1-standings/src/views/RaceList.tsx
  extensions/f1-standings/src/views/RaceResultList.tsx
Labels: extension fix / improvement, OP is contributor, extension: f1-standings

#5465 F1: show fastest lap
  extensions/f1-standings/CHANGELOG.md
  extensions/f1-standings/src/types.ts
  extensions/f1-standings/src/views/RaceResultList.tsx
Labels: extension fix / improvement, OP is author, extension: f1-standings

#5440 Update Is It Toxic To extension
  extensions/is-it-toxic-to/CHANGELOG.md
  extensions/is-it-toxic-to/src/index.tsx
Labels: extension fix / improvement, OP is author, extension: is-it-toxic-to

#5472 [Focus] Added Bundle ID for Setapp version of Focus app
  extensions/focus/src/utils.tsx
Labels: extension fix / improvement, OP is author, extension: focus

#5461 Change quotes endpoint
  extensions/stoicquotes/CHANGELOG.md
  extensions/stoicquotes/README.md
  extensions/stoicquotes/package-lock.json
  extensions/stoicquotes/package.json
  extensions/stoicquotes/src/index.tsx
Labels: extension fix / improvement, OP is author, extension: stoicquotes

#5438 [Multilinks] Add more browser support
  extensions/multilinks/CHANGELOG.md
  extensions/multilinks/src/Components/CreateForm.tsx
Labels: extension fix / improvement, OP is author, extension: multilinks

#5460 feat: add volume cap error for alert sound, bump deps
  extensions/timers/.eslintrc.json
  extensions/timers/CHANGELOG.md
  extensions/timers/package-lock.json
  extensions/timers/package.json
  extensions/timers/src/hooks/useTimers.ts
  extensions/timers/src/start10MinuteTimer.ts
  extensions/timers/src/start15MinuteTimer.ts
  extensions/timers/src/start25MinuteTimer.ts
  extensions/timers/src/start2MinuteTimer.ts
  extensions/timers/src/start30MinuteTimer.ts
  extensions/timers/src/start45MinuteTimer.ts
  extensions/timers/src/start5MinuteTimer.ts
  extensions/timers/src/start60MinuteTimer.ts
  extensions/timers/src/start90MinuteTimer.ts
  extensions/timers/src/startCustomTimer.tsx
  extensions/timers/src/timerUtils.ts
  extensions/timers/src/timersMenuBar.tsx
Labels: extension fix / improvement, OP is author, extension: timers

#5466 feat: show team on issues view
  extensions/jira/package.json
  extensions/jira/src/api/teams.ts
  extensions/jira/src/components/FormTeamDropdown.tsx
  extensions/jira/src/components/IssueDetailCustomFields.tsx
  extensions/jira/src/components/IssueFormCustomFields.tsx
  extensions/jira/src/helpers/issues.ts
Labels: extension fix / improvement, extension: jira-beta

#5436 [Things] Add the ability to copy the Things URI to the clipboard
  extensions/things/CHANGELOG.md
  extensions/things/package.json
  extensions/things/src/show-list.tsx
Labels: extension fix / improvement, extension: things

#5306 [New Extension] OpenAI Translator
  extensions/openai-translator/.eslintrc.json
  extensions/openai-translator/.gitignore
  extensions/openai-translator/.prettierrc
  extensions/openai-translator/CHANGELOG.md
  extensions/openai-translator/LICENSE
  extensions/openai-translator/Package.swift
  extensions/openai-translator/README-zh.md
  extensions/openai-translator/README.md
  extensions/openai-translator/Sources/ocr/main.swift
  extensions/openai-translator/assets/extension_icon.png
  extensions/openai-translator/assets/ocr
  extensions/openai-translator/doc/actions.png
  extensions/openai-translator/doc/commands.png
  extensions/openai-translator/doc/configuration.png
  extensions/openai-translator/doc/empty.png
  extensions/openai-translator/doc/lang-dropdown.png
  extensions/openai-translator/doc/mode.png
  extensions/openai-translator/doc/query-selected.png
  extensions/openai-translator/doc/stream-text.png
  extensions/openai-translator/doc/translate.png
  extensions/openai-translator/doc/what-en.png
  extensions/openai-translator/doc/what-zh.png
  extensions/openai-translator/metadata/openai-translator-1.png
  extensions/openai-translator/metadata/openai-translator-10.png
  extensions/openai-translator/metadata/openai-translator-2.png
  extensions/openai-translator/metadata/openai-translator-3.png
  extensions/openai-translator/metadata/openai-translator-4.png
  extensions/openai-translator/metadata/openai-translator-5.png
  extensions/openai-translator/metadata/openai-translator-6.png
  extensions/openai-translator/metadata/openai-translator-7.png
  extensions/openai-translator/metadata/openai-translator-8.png
  extensions/openai-translator/metadata/openai-translator-9.png
  extensions/openai-translator/package-lock.json
  extensions/openai-translator/package.json
  extensions/openai-translator/src/actions/load.tsx
  extensions/openai-translator/src/actions/mode.tsx
  extensions/openai-translator/src/actions/query.tsx
  extensions/openai-translator/src/base.tsx
  extensions/openai-translator/src/clipboard.tsx
  extensions/openai-translator/src/hooks/useHistory.tsx
  extensions/openai-translator/src/hooks/useQuery.tsx
  extensions/openai-translator/src/ocr.ts
  extensions/openai-translator/src/polishing.tsx
  extensions/openai-translator/src/providers/openai/lang.ts
  extensions/openai-translator/src/providers/openai/translate.ts
  extensions/openai-translator/src/providers/openai/utils.ts
  extensions/openai-translator/src/selected.tsx
  extensions/openai-translator/src/summarize.tsx
  extensions/openai-translator/src/translate.tsx
  extensions/openai-translator/src/views/content.tsx
  extensions/openai-translator/src/views/detail.tsx
  extensions/openai-translator/src/views/empty.tsx
  extensions/openai-translator/src/views/lang-dropdown.tsx
  extensions/openai-translator/src/what.tsx
  extensions/openai-translator/tsconfig.json
Labels: new extension

#5325 [New Extension]: ImprovMX
  extensions/improvmx/.eslintrc.json
  extensions/improvmx/.gitignore
  extensions/improvmx/.prettierrc
  extensions/improvmx/CHANGELOG.md
  extensions/improvmx/README.md
  extensions/improvmx/assets/improvmx.png
  extensions/improvmx/license.md
  extensions/improvmx/metadata/improvmx-1.png
  extensions/improvmx/metadata/improvmx-2.png
  extensions/improvmx/metadata/improvmx-3.png
  extensions/improvmx/metadata/improvmx-4.png
  extensions/improvmx/metadata/improvmx-5.png
  extensions/improvmx/metadata/improvmx-6.png
  extensions/improvmx/package-lock.json
  extensions/improvmx/package.json
  extensions/improvmx/src/add-domain.tsx
  extensions/improvmx/src/create-alias.tsx
  extensions/improvmx/src/create-masked-email-address.tsx
  extensions/improvmx/src/create-smtp-credentials.tsx
  extensions/improvmx/src/manage-domain-and-aliases.tsx
  extensions/improvmx/src/open-dashboard.tsx
  extensions/improvmx/src/utils.ts
  extensions/improvmx/tsconfig.json
Labels: new extension

#5341 feat: add useDev support Microsoft Edge Dev
  extensions/microsoft-edge/CHANGELOG.md
  extensions/microsoft-edge/package.json
  extensions/microsoft-edge/src/actions/index.ts
  extensions/microsoft-edge/src/constants.ts
  extensions/microsoft-edge/src/interfaces/index.ts
Labels: extension fix / improvement, extension: microsoft-edge

#5507 Fixes for jira-search
  extensions/jira-search/CHANGELOG.md
  extensions/jira-search/README.md
  extensions/jira-search/src/command.tsx
  extensions/jira-search/src/issue.ts
  extensions/jira-search/src/jira.ts
  package-lock.json
Labels: extension fix / improvement, OP is author, extension: jira-search

#5493 Bug fixes for Warp Launch Config Extension
  extensions/warp-launch-configuration/CHANGELOG.md
  extensions/warp-launch-configuration/package-lock.json
  extensions/warp-launch-configuration/package.json
  extensions/warp-launch-configuration/src/index.tsx
Labels: extension fix / improvement, OP is author, extension: warp-launch-configuration

#5518 Warp Launch Extension bugfix: Open Warp first before running JXA
  extensions/warp-launch-configuration/CHANGELOG.md
  extensions/warp-launch-configuration/src/index.tsx
Labels: extension fix / improvement, OP is author, extension: warp-launch-configuration

#5524 [Wireguard] FIXED: connection name contains space character
  extensions/wireguard/CHANGELOG.md
  extensions/wireguard/src/getVPN.ts
  extensions/wireguard/src/toggle.ts
Labels: extension fix / improvement, OP is author, extension: wireguard

#5303 [New Extension] TradingView Controls
  extensions/tradingview-controls/.eslintrc.json
  extensions/tradingview-controls/.gitignore
  extensions/tradingview-controls/.nvmrc
  extensions/tradingview-controls/CHANGELOG.md
  extensions/tradingview-controls/assets/icon.png
  extensions/tradingview-controls/package-lock.json
  extensions/tradingview-controls/package.json
  extensions/tradingview-controls/src/check-installation.ts
  extensions/tradingview-controls/src/constants.ts
  extensions/tradingview-controls/src/handle-application.ts
  extensions/tradingview-controls/src/launch-and-focus-application.ts
  extensions/tradingview-controls/src/logger.ts
  extensions/tradingview-controls/src/tvc-add-note-to-symbol.tsx
  extensions/tradingview-controls/src/tvc-add-symbol-to-watchlist.tsx
  extensions/tradingview-controls/src/tvc-change-chart-interval.tsx
  extensions/tradingview-controls/src/tvc-open-symbol.tsx
  extensions/tradingview-controls/src/tvc-take-chart-screenshot-and-copy.tsx
  extensions/tradingview-controls/src/tvc-take-chart-screenshot.tsx
  extensions/tradingview-controls/src/types.ts
  extensions/tradingview-controls/tsconfig.json
Labels: new extension

#5532 Update pomodoro extension
  extensions/pomodoro/.eslintrc.json
  extensions/pomodoro/CHANGELOG.md
  extensions/pomodoro/lib/intervals.tsx
  extensions/pomodoro/package-lock.json
  extensions/pomodoro/package.json
  extensions/pomodoro/src/pomodoro-control-timer.tsx
  extensions/pomodoro/src/pomodoro-menu-bar.tsx
Labels: extension fix / improvement, OP is contributor, extension: pomodoro

#5410 GitLab: improve starred project visibility
  extensions/gitlab/CHANGELOG.md
  extensions/gitlab/src/components/project.tsx
  extensions/gitlab/src/components/project_search.tsx
Labels: extension fix / improvement, OP is contributor, extension: gitlab

#5519 [Image Modification] Add Apply Image Filter command
  extensions/sips/CHANGELOG.md
  extensions/sips/README.md
  extensions/sips/package.json
  extensions/sips/src/apply-filter.tsx
  extensions/sips/src/filters.tsx
Labels: extension fix / improvement, OP is author, extension: sips
