Repository raycast/extensions, pull requests merged in 2024-03, with the labels that each got.

#11010 Update kimai extension
  extensions/kimai/CHANGELOG.md
  extensions/kimai/README.md
  extensions/kimai/media/setup.png
  extensions/kimai/metadata/setup.png
  extensions/kimai/package.json
  extensions/kimai/src/libs/api.ts
  extensions/kimai/src/libs/preferences.ts
  extensions/kimai/src/log-time.tsx
Labels: extension fix / improvement, OP is author, extension: kimai

#11037 Update snippetsurfer extension
  extensions/snippetsurfer/CHANGELOG.md
  extensions/snippetsurfer/README.md
  extensions/snippetsurfer/metadata/Metadata-1.png
  extensions/snippetsurfer/metadata/Metadata-2.png
  extensions/snippetsurfer/metadata/Metadata-3.png
  extensions/snippetsurfer/metadata/Metadata-4.png
  extensions/snippetsurfer/package.json
  extensions/snippetsurfer/src/components/CustomActionPanel.tsx
  extensions/snippetsurfer/src/components/SnippetContent.tsx
  extensions/snippetsurfer/src/search-snippets.tsx
  extensions/snippetsurfer/src/types/index.d.ts
  extensions/snippetsurfer/src/utils/SnippetsLoader.tsx
  extensions/snippetsurfer/src/utils/loaders/MarkdownLoader.tsx
  extensions/snippetsurfer/src/utils/loaders/YamlLoader.tsx
Labels: extension fix / improvement, OP is author, extension: snippetsurfer

#10877 [Bring] Added dropdown to select list
  extensions/bring/CHANGELOG.md
  extensions/bring/metadata/bring-1.png
  extensions/bring/metadata/bring-2.png
  extensions/bring/metadata/bring-3.png
  extensions/bring/metadata/bring-4.png
  extensions/bring/package-lock.json
  extensions/bring/package.json
  extensions/bring/src/components/ItemsGrid.tsx
  extensions/bring/src/index.tsx
  extensions/bring/src/lib/bringAPI.ts
Labels: extension fix / improvement, extension: bring

#10619 Add share-my-code extension
  extensions/share-my-code/.eslintrc.json
  extensions/share-my-code/.gitignore
  extensions/share-my-code/.prettierrc
  extensions/share-my-code/CHANGELOG.md
  extensions/share-my-code/README.md
  extensions/share-my-code/assets/smc-icon.png
  extensions/share-my-code/assets/smc.svg
  extensions/share-my-code/metadata/share-my-code-1.png
  extensions/share-my-code/metadata/share-my-code-2.png
  extensions/share-my-code/metadata/share-my-code-3.png
  extensions/share-my-code/package-lock.json
  extensions/share-my-code/package.json
  extensions/share-my-code/src/Constants.ts
  extensions/share-my-code/src/components/CodeView.tsx
  extensions/share-my-code/src/components/CreateCodeAction.tsx
  extensions/share-my-code/src/components/ViewCodeAction.tsx
  extensions/share-my-code/src/create.tsx
  extensions/share-my-code/src/get.tsx
  extensions/share-my-code/src/hooks/useParser.ts
  extensions/share-my-code/src/hooks/useStoredRecents.ts
  extensions/share-my-code/src/recent.tsx
  extensions/share-my-code/src/types.ts
  extensions/share-my-code/tsconfig.json
Labels: new extension

#11024 Color Picker: Fix color spaces differences
  extensions/color-picker/CHANGELOG.md
  extensions/color-picker/package-lock.json
  extensions/color-picker/package.json
  extensions/color-picker/src/history.ts
  extensions/color-picker/src/organize-colors.tsx
  extensions/color-picker/src/pick-color.ts
  extensions/color-picker/src/types.ts
  extensions/color-picker/src/utils.ts
  extensions/color-picker/swift/color-picker/Sources/ColorPicker.swift
Labels: extension fix / improvement, OP is contributor, extension: color-picker

#10865 Add renaming extension
  extensions/renaming/.eslintrc.json
  extensions/renaming/.gitignore
  extensions/renaming/.prettierrc
  extensions/renaming/CHANGELOG.md
  extensions/renaming/README.md
  extensions/renaming/assets/renaming-icon.png
  extensions/renaming/metadata/renaming-1.png
  extensions/renaming/package-lock.json
  extensions/renaming/package.json
  extensions/renaming/src/index.tsx
  extensions/renaming/src/utils.tsx
  extensions/renaming/tsconfig.json
Labels: new extension

#10462 Update youtrack extension
  extensions/youtrack/.gitignore
  extensions/youtrack/.nvmrc
  extensions/youtrack/CHANGELOG.md
  extensions/youtrack/README.md
  extensions/youtrack/media/youtrack-browse-details.png
  extensions/youtrack/media/youtrack-browse.png
  extensions/youtrack/media/youtrack-create.png
  extensions/youtrack/media/youtrack-created-actions.png
  extensions/youtrack/metadata/youtrack-browse-details.png
  extensions/youtrack/metadata/youtrack-browse.png
  extensions/youtrack/metadata/youtrack-create.png
  extensions/youtrack/metadata/youtrack-created-actions.png
  extensions/youtrack/package-lock.json
  extensions/youtrack/package.json
  extensions/youtrack/src/browse.tsx
  extensions/youtrack/src/components.tsx
  extensions/youtrack/src/interfaces.ts
  extensions/youtrack/src/utils.ts
  extensions/youtrack/src/work-item.tsx
Labels: extension fix / improvement, extension: youtrack

#10950 Add figma-variables extension
  extensions/figma-variables/.eslintrc.json
  extensions/figma-variables/.gitignore
  extensions/figma-variables/.prettierrc
  extensions/figma-variables/.vscode/launch.json
  extensions/figma-variables/CHANGELOG.md
  extensions/figma-variables/README.md
  extensions/figma-variables/assets/command-icon.png
  extensions/figma-variables/metadata/figma-variables-1.png
  extensions/figma-variables/metadata/figma-variables-2.png
  extensions/figma-variables/metadata/figma-variables-3.png
  extensions/figma-variables/package-lock.json
  extensions/figma-variables/package.json
  extensions/figma-variables/src/CollectionsView.tsx
  extensions/figma-variables/src/VariableDetails.tsx
  extensions/figma-variables/src/VariablesView.tsx
  extensions/figma-variables/src/index.tsx
  extensions/figma-variables/src/interfaces.tsx
  extensions/figma-variables/tsconfig.json
Labels: new extension

#11041 Linear: Add search functionality to notifications
  extensions/linear/CHANGELOG.md
  extensions/linear/src/helpers/notifications.ts
  extensions/linear/src/notifications.tsx
Labels: extension fix / improvement, OP is author, extension: linear

#10955 Add file-tree-generator extension
  extensions/file-tree-generator/.eslintrc.json
  extensions/file-tree-generator/.gitignore
  extensions/file-tree-generator/.prettierrc
  extensions/file-tree-generator/CHANGELOG.md
  extensions/file-tree-generator/LICENSE
  extensions/file-tree-generator/README.md
  extensions/file-tree-generator/assets/command-icon.png
  extensions/file-tree-generator/metadata/file-tree-generator-1.png
  extensions/file-tree-generator/metadata/file-tree-generator-2.png
  extensions/file-tree-generator/metadata/file-tree-generator-3.png
  extensions/file-tree-generator/package-lock.json
  extensions/file-tree-generator/package.json
  extensions/file-tree-generator/src/FileStructure.ts
  extensions/file-tree-generator/src/generate-tree.ts
  extensions/file-tree-generator/src/index.tsx
  extensions/file-tree-generator/src/line-strings.ts
  extensions/file-tree-generator/src/parse-input.ts
  extensions/file-tree-generator/tsconfig.json
Labels: new extension

#10963 Add sec-filings-search extension
  extensions/sec-filings-search/.eslintrc.json
  extensions/sec-filings-search/.gitignore
  extensions/sec-filings-search/.prettierrc
  extensions/sec-filings-search/CHANGELOG.md
  extensions/sec-filings-search/README.md
  extensions/sec-filings-search/assets/icon.png
  extensions/sec-filings-search/metadata/sec-filings-search-1.png
  extensions/sec-filings-search/metadata/sec-filings-search-2.png
  extensions/sec-filings-search/metadata/sec-filings-search-3.png
  extensions/sec-filings-search/package-lock.json
  extensions/sec-filings-search/package.json
  extensions/sec-filings-search/src/constants/form-descriptions.ts
  extensions/sec-filings-search/src/constants/ticker-cik.ts
  extensions/sec-filings-search/src/index.tsx
  extensions/sec-filings-search/src/modules/get-sec-filings.ts
  extensions/sec-filings-search/src/types/SearchCache.ts
  extensions/sec-filings-search/tsconfig.json
Labels: new extension

#11046 Apple Reminders: Performance improvements & bug fixes
  extensions/apple-reminders/CHANGELOG.md
  extensions/apple-reminders/src/create-reminder.tsx
  extensions/apple-reminders/src/hooks/useData.ts
  extensions/apple-reminders/src/hooks/useViewReminders.ts
  extensions/apple-reminders/src/my-reminders.tsx
  extensions/apple-reminders/src/quick-add-reminder.tsx
  extensions/apple-reminders/swift/AppleReminders/Sources/Reminders.swift
Labels: extension fix / improvement, OP is author, extension: apple-reminders

#10954 Update GitHub extension
  extensions/github/CHANGELOG.md
  extensions/github/package.json
  extensions/github/src/helpers/pull-request.ts
  extensions/github/src/open-pull-request-menu.tsx
Labels: extension fix / improvement, extension: github

#10979 Change user handle
  .github/raycast2github.json
  extensions/ingredients-lister/package.json
  extensions/markdown-table-generator/package.json
  extensions/masked-link-generator/package.json
  extensions/metronome/package.json
  extensions/perchance-generator/package.json
  extensions/raycast-bard-ai/package.json
  extensions/raycast-wca/package.json
  extensions/schoology/package-lock.json
  extensions/schoology/package.json
  extensions/spoiler-converter/package.json
  extensions/system-information/package.json
  extensions/tip-calculator/package.json
  extensions/type-the-alphabet/package.json
  extensions/url-shortener/package.json
  extensions/zoom/package.json
Labels: skip-changelog

#11053 Update raycast-ollama extension
  extensions/raycast-ollama/CHANGELOG.md
  extensions/raycast-ollama/README.md
  extensions/raycast-ollama/package-lock.json
  extensions/raycast-ollama/package.json
  extensions/raycast-ollama/src/api/common.ts
  extensions/raycast-ollama/src/api/errors.ts
  extensions/raycast-ollama/src/api/ui/AnswerView.tsx
  extensions/raycast-ollama/src/api/ui/ChatView.tsx
Labels: extension fix / improvement, OP is author, extension: raycast-ollama

#11051 Update amazon-search extension
  extensions/amazon-search/CHANGELOG.md
  extensions/amazon-search/assets/amazon-emptyview.png
Labels: extension fix / improvement, OP is author, extension: amazon-search

#11044 radicle: bugfix for open repo in browser
  extensions/radicle/CHANGELOG.md
  extensions/radicle/src/project.tsx
Labels: extension fix / improvement, OP is author, extension: radicle

#11023 [raydocs] Upgrade dependencies and implement absolute paths in tsconfig
  extensions/raydocs/CHANGELOG.md
  extensions/raydocs/package-lock.json
  extensions/raydocs/package.json
  extensions/raydocs/src/components/LinkItem.tsx
  extensions/raydocs/src/utils/index.ts
  extensions/raydocs/tsconfig.json
Labels: extension fix / improvement, OP is author, extension: raydocs

#10777 Add base64-to-file extension
  extensions/base64-to-file/.eslintrc.json
  extensions/base64-to-file/.gitignore
  extensions/base64-to-file/.prettierrc
  extensions/base64-to-file/CHANGELOG.md
  extensions/base64-to-file/README.md
  extensions/base64-to-file/assets/command-icon.png
  extensions/base64-to-file/metadata/base64-to-file-1.png
  extensions/base64-to-file/package-lock.json
  extensions/base64-to-file/package.json
  extensions/base64-to-file/src/index.tsx
  extensions/base64-to-file/tsconfig.json
Labels: new extension

#11050 Update gcp-search extension
  extensions/google-cloud-platform-search/.eslintrc.json
  extensions/google-cloud-platform-search/.gitignore
  extensions/google-cloud-platform-search/CHANGELOG.md
  extensions/google-cloud-platform-search/package-lock.json
  extensions/google-cloud-platform-search/package.json
  extensions/google-cloud-platform-search/src/consoleProducts.tsx
  extensions/google-cloud-platform-search/tsconfig.json
Labels: extension fix / improvement, extension: google-cloud-platform-search

#11022 Update remove-paywall extension
  extensions/remove-paywall/CHANGELOG.md
  extensions/remove-paywall/README.md
  extensions/remove-paywall/package-lock.json
  extensions/remove-paywall/package.json
  extensions/remove-paywall/src/remove-paywall.tsx
Labels: extension fix / improvement, extension: remove-paywall

#11062 [Obsidian] Fix nested bookmark support
  extensions/obsidian/CHANGELOG.md
  extensions/obsidian/src/utils/utils.tsx
Labels: extension fix / improvement, OP is author, extension: obsidian

#11027 Update git-commands extension
  extensions/git-commands/CHANGELOG.md
  extensions/git-commands/metadata/git-commands-1.png
  extensions/git-commands/metadata/git-commands-2.png
  extensions/git-commands/metadata/git-commands-3.png
  extensions/git-commands/metadata/git-commands-4.png
  extensions/git-commands/src/command-detail.tsx
  extensions/git-commands/src/search-commands.tsx
  extensions/git-commands/src/utils.ts
Labels: extension fix / improvement, OP is author, extension: git-commands

#10967 Feature Request for kill-process back to root search after process killed
  extensions/kill-process/CHANGELOG.md
  extensions/kill-process/package.json
  extensions/kill-process/src/index.tsx
Labels: extension fix / improvement, extension: kill-process

#10952 Add markprompt extension
  .github/public_raycast_extensions.txt
  extensions/markprompt/.eslintrc.json
  extensions/markprompt/.gitignore
  extensions/markprompt/.prettierrc
  extensions/markprompt/CHANGELOG.md
  extensions/markprompt/README.md
  extensions/markprompt/assets/emptyview-icon.png
  extensions/markprompt/assets/emptyview-icon@dark.png
  extensions/markprompt/assets/extension-icon.png
  extensions/markprompt/assets/extension-icon@dark.png
  extensions/markprompt/metadata/markprompt-1.png
  extensions/markprompt/metadata/markprompt-2.png
  extensions/markprompt/metadata/markprompt-3.png
  extensions/markprompt/package-lock.json
  extensions/markprompt/package.json
  extensions/markprompt/src/index.tsx
  extensions/markprompt/tsconfig.json
Labels: new extension

#11049 Update bitwarden extension
  extensions/bitwarden/CHANGELOG.md
  extensions/bitwarden/package.json
  extensions/bitwarden/src/api/bitwarden.ts
  extensions/bitwarden/src/components/searchVault/utils/useGetUpdatedVaultItem.ts
Labels: extension fix / improvement, extension: bitwarden

#10949 [Useless Facts] 🚀 Initial Commit w/ full extension
  extensions/useless-facts/.eslintrc.json
  extensions/useless-facts/.gitignore
  extensions/useless-facts/.prettierrc
  extensions/useless-facts/CHANGELOG.md
  extensions/useless-facts/README.md
  extensions/useless-facts/assets/useless-facts.png
  extensions/useless-facts/metadata/useless-facts-1.png
  extensions/useless-facts/metadata/useless-facts-2.png
  extensions/useless-facts/package-lock.json
  extensions/useless-facts/package.json
  extensions/useless-facts/src/ErrorComponent.tsx
  extensions/useless-facts/src/constants.ts
  extensions/useless-facts/src/random-useless-fact.tsx
  extensions/useless-facts/src/today-s-useless-fact.tsx
  extensions/useless-facts/src/types.ts
  extensions/useless-facts/tsconfig.json
Labels: new extension

#11013 [Cloudflare] Copy URL, Open Page Shortcut, Fixed api deprecations
  extensions/cloudflare/CHANGELOG.md
  extensions/cloudflare/package-lock.json
  extensions/cloudflare/package.json
  extensions/cloudflare/src/view-pages.tsx
  extensions/cloudflare/src/view-sites.tsx
  extensions/cloudflare/tsconfig.json
Labels: extension fix / improvement, extension: cloudflare

#11009 Update just-focus extension
  extensions/just-focus/CHANGELOG.md
  extensions/just-focus/package.json
  extensions/just-focus/src/utils/applescript-utils.ts
Labels: extension fix / improvement, extension: just-focus

#11085 Update mastodon extension
  extensions/mastodon/CHANGELOG.md
  extensions/mastodon/package.json
  extensions/mastodon/pnpm-lock.yaml
  extensions/mastodon/src/post-simple-status.tsx
  extensions/mastodon/src/post-status.tsx
Labels: extension fix / improvement, extension: mastodon

#11101 Update memos extension
  extensions/memos/CHANGELOG.md
  extensions/memos/src/memosList.tsx
  extensions/memos/src/sendMemoForm.tsx
  extensions/memos/src/types.ts
Labels: extension fix / improvement, OP is author, extension: memos

#11078 Update scrcpy extension
  extensions/scrcpy/CHANGELOG.md
  extensions/scrcpy/src/index.tsx
Labels: extension fix / improvement, OP is author, extension: scrcpy

#11018 Add lotus-mtg-companion extension
  extensions/lotus-mtg-companion/.eslintrc.json
  extensions/lotus-mtg-companion/.gitattributes
  extensions/lotus-mtg-companion/.gitignore
  extensions/lotus-mtg-companion/.prettierrc
  extensions/lotus-mtg-companion/CHANGELOG.md
  extensions/lotus-mtg-companion/README.md
  extensions/lotus-mtg-companion/assets/lotus-mtg-companion-extension-icon.png
  extensions/lotus-mtg-companion/assets/shield.png
  extensions/lotus-mtg-companion/assets/sword.png
  extensions/lotus-mtg-companion/metadata/mtg-companion-1.png
  extensions/lotus-mtg-companion/metadata/mtg-companion-2.png
  extensions/lotus-mtg-companion/metadata/mtg-companion-3.png
  extensions/lotus-mtg-companion/metadata/mtg-companion-4.png
  extensions/lotus-mtg-companion/metadata/mtg-companion-5.png
  extensions/lotus-mtg-companion/metadata/mtg-companion-6.png
  extensions/lotus-mtg-companion/metadata/mtg-companion-7.png
  extensions/lotus-mtg-companion/metadata/mtg-companion-8.png
  extensions/lotus-mtg-companion/package-lock.json
  extensions/lotus-mtg-companion/package.json
  extensions/lotus-mtg-companion/src/components/Actions/index.tsx
  extensions/lotus-mtg-companion/src/components/Details/CardDetail.tsx
  extensions/lotus-mtg-companion/src/searchCards.tsx
  extensions/lotus-mtg-companion/src/searchSets.tsx
  extensions/lotus-mtg-companion/src/types/index.ts
  extensions/lotus-mtg-companion/src/util/index.ts
  extensions/lotus-mtg-companion/src/viewRandomCard.tsx
  extensions/lotus-mtg-companion/tsconfig.json
Labels: new extension

#11109 Update raycast-wallpaper extension
  extensions/raycast-wallpaper/.gitignore
  extensions/raycast-wallpaper/CHANGELOG.md
  extensions/raycast-wallpaper/package-lock.json
  extensions/raycast-wallpaper/package.json
  extensions/raycast-wallpaper/src/utils/common-utils.ts
Labels: extension fix / improvement, extension: raycast-wallpaper

#11106 Update f1-standings extension: Show Short Week day along with date and time.
  extensions/f1-standings/CHANGELOG.md
  extensions/f1-standings/package.json
  extensions/f1-standings/src/utils/formatDate.ts
Labels: extension fix / improvement, extension: f1-standings

#10778 Arc: Add Spaces argument to 'New Window' and 'New Tab' commands
  extensions/arc/CHANGELOG.md
  extensions/arc/package.json
  extensions/arc/src/arc.ts
  extensions/arc/src/new-little-arc.ts
  extensions/arc/src/new-tab.ts
  extensions/arc/src/new-window.ts
  extensions/arc/src/types.ts
  extensions/arc/src/utils.ts
Labels: extension fix / improvement, OP is contributor, extension: arc

#11042 Add "Clock In"/"Clock Out" commands to Humaans extension
  extensions/humaans/CHANGELOG.md
  extensions/humaans/README.md
  extensions/humaans/assets/humaans.png
  extensions/humaans/package-lock.json
  extensions/humaans/package.json
  extensions/humaans/src/api/api.ts
  extensions/humaans/src/api/me.ts
  extensions/humaans/src/api/timesheet-entries.ts
  extensions/humaans/src/book-time.ts
  extensions/humaans/src/clock-in.ts
  extensions/humaans/src/clock-out.ts
  extensions/humaans/src/constants.ts
  extensions/humaans/src/hooks/useHumaansApi.ts
  extensions/humaans/src/me-time-away.ts
Labels: extension fix / improvement, extension: humaans

#11045 [New Extension] Groq
  extensions/groq/.eslintrc.json
  extensions/groq/.gitignore
  extensions/groq/.prettierrc
  extensions/groq/CHANGELOG.md
  extensions/groq/README.md
  extensions/groq/assets/groq.png
  extensions/groq/metadata/screenshot1.png
  extensions/groq/package-lock.json
  extensions/groq/package.json
  extensions/groq/src/ask.tsx
  extensions/groq/src/casual.tsx
  extensions/groq/src/coding.tsx
  extensions/groq/src/custom.tsx
  extensions/groq/src/grammar.tsx
  extensions/groq/src/hook/ResultView.types.ts
  extensions/groq/src/hook/accessAPI.tsx
  extensions/groq/src/hook/configAPI.ts
  extensions/groq/src/hook/utils.ts
  extensions/groq/src/improve.tsx
  extensions/groq/src/longer.tsx
  extensions/groq/src/professional.tsx
  extensions/groq/src/shorter.tsx
  extensions/groq/src/summarize.tsx
  extensions/groq/src/synonyms.tsx
  extensions/groq/src/taskBreakdown.tsx
  extensions/groq/src/translate.tsx
  extensions/groq/tsconfig.json
Labels: new extension

#11048 Fixing typos
  extensions/quick-access/CHANGELOG.md
  extensions/quick-access/package.json
Labels: extension fix / improvement, extension: quick-access

#10563 Create LoL esports extension
  extensions/lol-esports/.eslintrc.json
  extensions/lol-esports/.gitignore
  extensions/lol-esports/.prettierrc
  extensions/lol-esports/CHANGELOG.md
  extensions/lol-esports/README.md
  extensions/lol-esports/assets/extension-icon.png
  extensions/lol-esports/metadata/lol-esports-1.png
  extensions/lol-esports/metadata/lol-esports-2.png
  extensions/lol-esports/package-lock.json
  extensions/lol-esports/package.json
  extensions/lol-esports/src/lib/components/league-dropdown.tsx
  extensions/lol-esports/src/lib/hooks/use-api.tsx
  extensions/lol-esports/src/lib/hooks/use-leagues.tsx
  extensions/lol-esports/src/lib/hooks/use-rankings.tsx
  extensions/lol-esports/src/lib/hooks/use-schedule.tsx
  extensions/lol-esports/src/lib/hooks/use-tournaments.tsx
  extensions/lol-esports/src/show-schedule.tsx
  extensions/lol-esports/src/show-standings.tsx
  extensions/lol-esports/tsconfig.json
Labels: new extension

#11127 Update raycast-wallpaper extension
  extensions/raycast-wallpaper/CHANGELOG.md
  extensions/raycast-wallpaper/src/components/raycast-wallpaper-grid.tsx
  extensions/raycast-wallpaper/src/components/raycast-wallpaper-list.tsx
  extensions/raycast-wallpaper/src/utils/common-utils.ts
Labels: extension fix / improvement, OP is contributor, extension: raycast-wallpaper

#10643 [pipe-commands] create separate clipboard action
  extensions/pipe-commands/CHANGELOG.md
  extensions/pipe-commands/package-lock.json
  extensions/pipe-commands/package.json
  extensions/pipe-commands/src/pipe-clipboard-to-command.tsx
  extensions/pipe-commands/src/pipe-to-command.tsx
  extensions/pipe-commands/src/types.ts
Labels: extension fix / improvement, OP is contributor, extension: pipe-commands

#11039 Add wol extension
  extensions/wol/.eslintrc.json
  extensions/wol/.gitignore
  extensions/wol/.prettierrc
  extensions/wol/CHANGELOG.md
  extensions/wol/README.md
  extensions/wol/assets/command-icon.png
  extensions/wol/metadata/1.png
  extensions/wol/package-lock.json
  extensions/wol/package.json
  extensions/wol/src/components/CreateWakeDataForm.tsx
  extensions/wol/src/index.tsx
  extensions/wol/src/lib/wol.ts
  extensions/wol/src/types.ts
  extensions/wol/tsconfig.json
Labels: new extension

#11154 Update simple-icons extension
  extensions/simple-icons/CHANGELOG.md
  extensions/simple-icons/README.md
  extensions/simple-icons/metadata/simple-icons-1.png
  extensions/simple-icons/metadata/simple-icons-2.png
  extensions/simple-icons/package.json
  extensions/simple-icons/src/actions.tsx
  extensions/simple-icons/src/index.tsx
  extensions/simple-icons/src/utils.ts
Labels: extension fix / improvement, OP is author, extension: simple-icons

#11096 Update arc extension
  extensions/arc/CHANGELOG.md
  extensions/arc/package.json
  extensions/arc/src/new-little-arc.ts
Labels: extension fix / improvement, extension: arc

#11073 Update gcp-search extension
  extensions/google-cloud-platform-search/.gitignore
  extensions/google-cloud-platform-search/CHANGELOG.md
  extensions/google-cloud-platform-search/package.json
  extensions/google-cloud-platform-search/src/searchConsoleProducts.tsx
  extensions/google-cloud-platform-search/src/searchDocumentationProducts.tsx
  extensions/google-cloud-platform-search/src/searchProjects.tsx
  extensions/google-cloud-platform-search/src/types.ts
  extensions/google-cloud-platform-search/src/usageCache.ts
  extensions/google-cloud-platform-search/src/useFetchWithCache.tsx
Labels: extension fix / improvement, extension: google-cloud-platform-search

#11079 Add turso extension
  extensions/turso/.eslintrc.json
  extensions/turso/.gitignore
  extensions/turso/.prettierrc
  extensions/turso/CHANGELOG.md
  extensions/turso/README.md
  extensions/turso/assets/icon.png
  extensions/turso/assets/icons/database.png
  extensions/turso/assets/icons/sheet.png
  extensions/turso/metadata/3.png
  extensions/turso/metadata/4.png
  extensions/turso/metadata/5.png
  extensions/turso/package-lock.json
  extensions/turso/package.json
  extensions/turso/src/create-database.tsx
  extensions/turso/src/databases.tsx
  extensions/turso/src/hooks/index.ts
  extensions/turso/src/platform-api-tokens.tsx
  extensions/turso/src/utils/api.ts
  extensions/turso/src/utils/authorize.ts
  extensions/turso/tsconfig.json
Labels: new extension

#11176 Reorder Text To speach action
  extensions/google-translate/CHANGELOG.md
  extensions/google-translate/src/translate.tsx
Labels: extension fix / improvement, OP is author, extension: google-translate

#11194 [Flight Miles Calculator] Add missing country codes
  extensions/flight-miles-calculator/CHANGELOG.md
  extensions/flight-miles-calculator/package.json
  extensions/flight-miles-calculator/src/ressources/countryList.ts
Labels: extension fix / improvement, OP is author, extension: flight-miles-calculator

#11104 [NEW] Add a klu.ai extension
  extensions/klu-ai/.eslintrc.json
  extensions/klu-ai/.gitignore
  extensions/klu-ai/.prettierrc
  extensions/klu-ai/CHANGELOG.md
  extensions/klu-ai/README.md
  extensions/klu-ai/assets/spark.png
  extensions/klu-ai/metadata/klu-ai-1.png
  extensions/klu-ai/metadata/klu-ai-2.png
  extensions/klu-ai/metadata/klu-ai-3.png
  extensions/klu-ai/metadata/klu-ai-4.png
  extensions/klu-ai/metadata/klu-ai-5.png
  extensions/klu-ai/metadata/klu-ai-6.png
  extensions/klu-ai/package-lock.json
  extensions/klu-ai/package.json
  extensions/klu-ai/src/constants/url.ts
  extensions/klu-ai/src/hooks/use-abort.ts
  extensions/klu-ai/src/hooks/use-action.ts
  extensions/klu-ai/src/hooks/use-actions.ts
  extensions/klu-ai/src/hooks/use-application.tsx
  extensions/klu-ai/src/hooks/use-applications.ts
  extensions/klu-ai/src/hooks/use-workspace.ts
  extensions/klu-ai/src/libs/klu.ts
  extensions/klu-ai/src/search-actions.tsx
  extensions/klu-ai/src/send-prompt.tsx
  extensions/klu-ai/src/utils/date.ts
  extensions/klu-ai/src/views/action-prompt-view.tsx
  extensions/klu-ai/src/views/action/action-context-list.tsx
  extensions/klu-ai/src/views/action/action-data-list.tsx
  extensions/klu-ai/src/views/action/action-prompt-form.tsx
  extensions/klu-ai/src/views/action/action-skill-list.tsx
  extensions/klu-ai/src/views/action/action-version-list.tsx
  extensions/klu-ai/src/views/action/action-view.tsx
  extensions/klu-ai/src/views/actions-list-view.tsx
  extensions/klu-ai/tsconfig.json
Labels: new extension

#11184 Update zed-recent-projects extension - Switch to use built-in Zed recent workspaces
  extensions/zed-recent-projects/CHANGELOG.md
  extensions/zed-recent-projects/metadata/zed-recent-projects-1.png
  extensions/zed-recent-projects/metadata/zed-recent-projects-2.png
  extensions/zed-recent-projects/package.json
  extensions/zed-recent-projects/src/hooks/useVsCodeEntries.ts
  extensions/zed-recent-projects/src/hooks/useZedEntries.ts
  extensions/zed-recent-projects/src/import.tsx
  extensions/zed-recent-projects/src/lib/entry.ts
  extensions/zed-recent-projects/src/lib/zed.ts
  extensions/zed-recent-projects/src/lib/zedEntries.ts
  extensions/zed-recent-projects/src/open.ts
  extensions/zed-recent-projects/src/search.tsx
Labels: extension fix / improvement, OP is author, extension: zed-recent-projects

#11115 Add raycast-diki extension
  extensions/raycast-diki/.eslintrc.json
  extensions/raycast-diki/.gitignore
  extensions/raycast-diki/.prettierrc
  extensions/raycast-diki/CHANGELOG.md
  extensions/raycast-diki/README.md
  extensions/raycast-diki/assets/command-icon.png
  extensions/raycast-diki/metadata/raycast-diki-1.png
  extensions/raycast-diki/package-lock.json
  extensions/raycast-diki/package.json
  extensions/raycast-diki/src/index.tsx
  extensions/raycast-diki/src/utils/handleResults.ts
  extensions/raycast-diki/src/utils/resultUtils.ts
  extensions/raycast-diki/src/utils/types.ts
  extensions/raycast-diki/src/utils/useSearch.tsx
  extensions/raycast-diki/tsconfig.json
Labels: new extension

#11147 feat(change-case): add pop to root preference
  extensions/change-case/CHANGELOG.md
  extensions/change-case/package-lock.json
  extensions/change-case/package.json
  extensions/change-case/src/change-case.tsx
Labels: extension fix / improvement, OP is author, extension: change-case

#10924 [color-picker] Add HEX No Prefix format
  extensions/color-picker/CHANGELOG.md
  extensions/color-picker/package.json
  extensions/color-picker/src/organize-colors.tsx
  extensions/color-picker/src/utils.ts
Labels: extension fix / improvement, OP is contributor, extension: color-picker

#11029 Add ccf-what extension
  extensions/ccf-what/.eslintrc.json
  extensions/ccf-what/.gitignore
  extensions/ccf-what/.prettierrc
  extensions/ccf-what/CHANGELOG.md
  extensions/ccf-what/README.md
  extensions/ccf-what/assets/README.md
  extensions/ccf-what/assets/action.imageset/toggles-dark.svg
  extensions/ccf-what/assets/action.imageset/toggles-light.svg
  extensions/ccf-what/assets/ccf-what_logo.png
  extensions/ccf-what/assets/conference.imageset/Contents.json
  extensions/ccf-what/assets/conference.imageset/conference-paper.png
  extensions/ccf-what/assets/conference.imageset/conference-paper@2x.png
  extensions/ccf-what/assets/conference.imageset/conference-paper@3x.png
  extensions/ccf-what/assets/conference.imageset/conferencepaper.png
  extensions/ccf-what/assets/conference.imageset/conferencepaper@2x.png
  extensions/ccf-what/assets/conference.imageset/conferencepaper@3x.png
  extensions/ccf-what/assets/journal.imageset/Contents.json
  extensions/ccf-what/assets/journal.imageset/journal-article-1.png
  extensions/ccf-what/assets/journal.imageset/journal-article.png
  extensions/ccf-what/assets/journal.imageset/journal-article@2x-1.png
  extensions/ccf-what/assets/journal.imageset/journal-article@2x.png
  extensions/ccf-what/assets/journal.imageset/journal-article@3x-1.png
  extensions/ccf-what/assets/journal.imageset/journal-article@3x.png
  extensions/ccf-what/assets/tier.imageset/A-tier.svg
  extensions/ccf-what/assets/tier.imageset/B-tier.svg
  extensions/ccf-what/assets/tier.imageset/C-tier.svg
  extensions/ccf-what/metadata/ccf-what-1.png
  extensions/ccf-what/metadata/ccf-what-2.png
  extensions/ccf-what/package-lock.json
  extensions/ccf-what/package.json
  extensions/ccf-what/src/const.ts
  extensions/ccf-what/src/index.tsx
  extensions/ccf-what/src/type.d.ts
  extensions/ccf-what/tsconfig.json
Labels: new extension

#11091 Add tny extension
  extensions/tny/.eslintrc.json
  extensions/tny/.gitignore
  extensions/tny/.prettierrc
  extensions/tny/CHANGELOG.md
  extensions/tny/README.md
  extensions/tny/assets/tny-icon.png
  extensions/tny/graphql.config.yml
  extensions/tny/metadata/tny-1.png
  extensions/tny/metadata/tny-2.png
  extensions/tny/metadata/tny-3.png
  extensions/tny/package-lock.json
  extensions/tny/package.json
  extensions/tny/src/manage-links.tsx
  extensions/tny/src/mutations/linkCreate.ts
  extensions/tny/src/mutations/linkDelete.ts
  extensions/tny/src/queries/links.ts
  extensions/tny/src/shorten-selected-url-and-copy.tsx
  extensions/tny/src/shorten-selected-url-and-replace.tsx
  extensions/tny/src/types.tsx
  extensions/tny/src/utils/Auth.ts
  extensions/tny/src/utils/Client.ts
  extensions/tny/src/utils/Clipboard.ts
  extensions/tny/tsconfig.json
Labels: new extension

#11066 Add Otter bookmarking companion
  extensions/otter/.eslintrc.json
  extensions/otter/.prettierrc
  extensions/otter/CHANGELOG.md
  extensions/otter/README.md
  extensions/otter/assets/command-icon.png
  extensions/otter/metadata/otter-1.png
  extensions/otter/metadata/otter-2.png
  extensions/otter/metadata/otter-3.png
  extensions/otter/metadata/otter-4.png
  extensions/otter/metadata/otter-5.png
  extensions/otter/metadata/otter-6.png
  extensions/otter/package-lock.json
  extensions/otter/package.json
  extensions/otter/src/add.tsx
  extensions/otter/src/components/Authenticated.tsx
  extensions/otter/src/components/LinkItem.tsx
  extensions/otter/src/components/NoItems.tsx
  extensions/otter/src/components/RecentTop.tsx
  extensions/otter/src/components/TagDropdown.tsx
  extensions/otter/src/constants.ts
  extensions/otter/src/menubar.tsx
  extensions/otter/src/recent.tsx
  extensions/otter/src/search.tsx
  extensions/otter/src/supabase-types.ts
  extensions/otter/src/supabase.ts
  extensions/otter/src/tiny-relative-date.d.ts
  extensions/otter/src/types.ts
  extensions/otter/src/use-auth.ts
  extensions/otter/src/useMeta.ts
  extensions/otter/src/useRecents.ts
  extensions/otter/src/useSearch.ts
  extensions/otter/src/utils/copy.ts
  extensions/otter/src/utils/fetchItems.ts
  extensions/otter/src/utils/simpleUrl.ts
  extensions/otter/src/utils/typeToIcon.ts
  extensions/otter/tsconfig.json
Labels: new extension

#11183 Update gcp-search extension
  extensions/google-cloud-platform-search/CHANGELOG.md
  extensions/google-cloud-platform-search/README.md
  extensions/google-cloud-platform-search/package.json
  extensions/google-cloud-platform-search/src/projects.tsx
Labels: extension fix / improvement, OP is contributor, extension: google-cloud-platform-search

#11133 [Toggl Track] Improve `CreateTimeEntryForm`
  extensions/toggl-track/CHANGELOG.md
  extensions/toggl-track/src/api/timeEntries.ts
  extensions/toggl-track/src/components/CreateTimeEntryForm.tsx
  extensions/toggl-track/src/index.tsx
Labels: extension fix / improvement, OP is contributor, extension: toggl-track

#10825 Google Workspace: Add Copy Markdown Link and Copy HTML Link actions
  extensions/google-workspace/CHANGELOG.md
  extensions/google-workspace/package.json
  extensions/google-workspace/src/components/FileListItem.tsx
Labels: extension fix / improvement, extension: google-workspace

#11116 Update Arc extension
  extensions/arc/CHANGELOG.md
  extensions/arc/package.json
  extensions/arc/src/search-tabs.tsx
Labels: extension fix / improvement, OP is contributor, extension: arc

#11064 Add dolar-hoy extension
  extensions/dolar-hoy/.eslintrc.json
  extensions/dolar-hoy/.gitignore
  extensions/dolar-hoy/.prettierrc
  extensions/dolar-hoy/CHANGELOG.md
  extensions/dolar-hoy/LICENSE
  extensions/dolar-hoy/README.md
  extensions/dolar-hoy/assets/app-icon.png
  extensions/dolar-hoy/metadata/dolar-hoy-1.png
  extensions/dolar-hoy/metadata/dolar-hoy-2.png
  extensions/dolar-hoy/metadata/dolar-hoy-3.png
  extensions/dolar-hoy/metadata/dolar-hoy-4.png
  extensions/dolar-hoy/metadata/dolar-hoy-5.png
  extensions/dolar-hoy/package-lock.json
  extensions/dolar-hoy/package.json
  extensions/dolar-hoy/src/constants/index.ts
  extensions/dolar-hoy/src/convertValue.tsx
  extensions/dolar-hoy/src/currentValue.tsx
  extensions/dolar-hoy/src/historicalValue.tsx
  extensions/dolar-hoy/src/types/index.ts
  extensions/dolar-hoy/src/utils/index.ts
  extensions/dolar-hoy/tsconfig.json
Labels: new extension

#11208 [Bitwarden] Disable CLI binary download for arm64 devices
  extensions/bitwarden/CHANGELOG.md
  extensions/bitwarden/README.md
  extensions/bitwarden/package.json
  extensions/bitwarden/src/api/bitwarden.ts
Labels: extension fix / improvement, OP is author, extension: bitwarden

#11216 Update unicode-symbols extension
  extensions/unicode-symbols/CHANGELOG.md
  extensions/unicode-symbols/assets/dataset.json
  extensions/unicode-symbols/package-lock.json
  extensions/unicode-symbols/package.json
  extensions/unicode-symbols/scripts/generate-dataset.ts
Labels: extension fix / improvement, OP is contributor, extension: unicode-symbols

#11217 Update drafts extension
  extensions/drafts/.gitignore
  extensions/drafts/CHANGELOG.md
  extensions/drafts/package-lock.json
  extensions/drafts/package.json
  extensions/drafts/src/create-draft-from-selection.tsx
Labels: extension fix / improvement, OP is author, extension: drafts

#11225 [Bitwarden] Improve CLI not found error message
  extensions/bitwarden/CHANGELOG.md
  extensions/bitwarden/src/api/bitwarden.ts
Labels: extension fix / improvement, OP is author, extension: bitwarden

#11120 Update gopass extension
  extensions/gopass/CHANGELOG.md
  extensions/gopass/package-lock.json
  extensions/gopass/package.json
  extensions/gopass/src/.index.tsx.swp
  extensions/gopass/src/index.tsx
Labels: extension fix / improvement, extension: gopass

#11196 Update kimai extension
  extensions/kimai/CHANGELOG.md
  extensions/kimai/metadata/kimai-2.png
  extensions/kimai/package-lock.json
  extensions/kimai/package.json
  extensions/kimai/src/hooks/useActivities.ts
  extensions/kimai/src/hooks/useProjects.ts
  extensions/kimai/src/libs/api.ts
  extensions/kimai/src/log-time.tsx
Labels: extension fix / improvement, OP is author, extension: kimai

#11180 [Brew] Add Warp
  extensions/brew/CHANGELOG.md
  extensions/brew/package-lock.json
  extensions/brew/package.json
  extensions/brew/src/components/runInTerminal.ts
  package-lock.json
Labels: extension fix / improvement, extension: brew

#11100 Add meta-music extension
  extensions/meta-music/.eslintrc.json
  extensions/meta-music/.gitignore
  extensions/meta-music/.nvmrc
  extensions/meta-music/.prettierrc
  extensions/meta-music/CHANGELOG.md
  extensions/meta-music/LICENSE
  extensions/meta-music/README.md
  extensions/meta-music/assets/meta-music.png
  extensions/meta-music/metadata/meta-music-1.png
  extensions/meta-music/metadata/meta-music-2.png
  extensions/meta-music/metadata/meta-music-3.png
  extensions/meta-music/package-lock.json
  extensions/meta-music/package.json
  extensions/meta-music/src/components/edit-id3-tags.tsx
  extensions/meta-music/src/manage-id3-tags.tsx
  extensions/meta-music/src/utils/files.ts
  extensions/meta-music/src/utils/id3.ts
  extensions/meta-music/tsconfig.json
Labels: new extension

#11235 Apple Reminders: Fix reminder note saving in Quick Add
  extensions/apple-reminders/CHANGELOG.md
  extensions/apple-reminders/src/quick-add-reminder.tsx
Labels: extension fix / improvement, OP is author, extension: apple-reminders

#11130 Update gif-search extension
  extensions/gif-search/CHANGELOG.md
  extensions/gif-search/package.json
  extensions/gif-search/src/components/GifActions.tsx
  extensions/gif-search/src/lib/cachedGifs.ts
  extensions/gif-search/src/lib/copyFileToClipboard.ts
  extensions/gif-search/src/lib/downloadFile.ts
Labels: extension fix / improvement, extension: gif-search

#11237 Linear: Enhance Notifications Functionality
  extensions/linear/CHANGELOG.md
  extensions/linear/src/api/getNotifications.ts
  extensions/linear/src/components/OpenInLinear.tsx
  extensions/linear/src/helpers/notifications.ts
  extensions/linear/src/notifications.tsx
  extensions/linear/src/unread-notifications.tsx
Labels: extension fix / improvement, OP is author, extension: linear

#11142 Update prism-launcher extension
  extensions/prism-launcher/CHANGELOG.md
  extensions/prism-launcher/src/index.tsx
Labels: extension fix / improvement, OP is author, extension: prism-launcher

#11192 Update workflowy-inbox extension
  extensions/workflowy-inbox/CHANGELOG.md
  extensions/workflowy-inbox/assets/send-to-workflowy.png
  extensions/workflowy-inbox/assets/unofficial-workflowy-logo.png
  extensions/workflowy-inbox/metadata/workflowy-inbox-2.png
  extensions/workflowy-inbox/metadata/workflowy-inbox-3.png
  extensions/workflowy-inbox/metadata/workflowy-inbox-4.png
  extensions/workflowy-inbox/package-lock.json
  extensions/workflowy-inbox/package.json
  extensions/workflowy-inbox/src/index.tsx
Labels: extension fix / improvement, OP is author, extension: workflowy-inbox

#11238 GIF Search: Use native pagination instead of a custom solution
  extensions/gif-search/CHANGELOG.md
  extensions/gif-search/package-lock.json
  extensions/gif-search/package.json
  extensions/gif-search/src/components/AppContext.tsx
  extensions/gif-search/src/components/GifActions.tsx
  extensions/gif-search/src/components/GifDetails.tsx
  extensions/gif-search/src/components/GifGrid.tsx
  extensions/gif-search/src/components/GifGridItem.tsx
  extensions/gif-search/src/hooks/useGifPopulator.ts
  extensions/gif-search/src/hooks/useLocalGifs.ts
  extensions/gif-search/src/hooks/useSearchAPI.ts
  extensions/gif-search/src/lib/infiniteScroll.ts
Labels: extension fix / improvement, extension: gif-search

#11242 [Bitwarden] Use downloaded CLI if previously downloaded and working
  extensions/bitwarden/CHANGELOG.md
  extensions/bitwarden/src/api/bitwarden.ts
Labels: extension fix / improvement, OP is author, extension: bitwarden

#11239 Update viacep extension
  extensions/viacep/CHANGELOG.md
  extensions/viacep/assets/viacep-icon.png
  extensions/viacep/metadata/viacep-1.png
  extensions/viacep/metadata/viacep-2.png
  extensions/viacep/metadata/viacep-3.png
  extensions/viacep/src/components/AddressForm.tsx
  extensions/viacep/src/components/CepList.tsx
  extensions/viacep/src/find-address.tsx
  extensions/viacep/src/find-cep.tsx
  extensions/viacep/src/utils/constants.ts
Labels: extension fix / improvement, OP is author, extension: viacep

#11007 Add monitor-mate extension
  extensions/monitor-mate/.eslintrc.json
  extensions/monitor-mate/.gitignore
  extensions/monitor-mate/.prettierrc
  extensions/monitor-mate/CHANGELOG.md
  extensions/monitor-mate/README.md
  extensions/monitor-mate/assets/alert.mp3
  extensions/monitor-mate/assets/ikun.png
  extensions/monitor-mate/metadata/monitor-mate-1.png
  extensions/monitor-mate/metadata/monitor-mate-2.png
  extensions/monitor-mate/metadata/monitor-mate-3.png
  extensions/monitor-mate/metadata/monitor-mate-4.png
  extensions/monitor-mate/package-lock.json
  extensions/monitor-mate/package.json
  extensions/monitor-mate/src/add-resource.tsx
  extensions/monitor-mate/src/check-status.tsx
  extensions/monitor-mate/src/constants.tsx
  extensions/monitor-mate/src/index.tsx
  extensions/monitor-mate/src/types.tsx
  extensions/monitor-mate/src/utils.tsx
  extensions/monitor-mate/tsconfig.json
Labels: new extension

#10692 Update grammari-x extension
  extensions/grammari-x/CHANGELOG.md
  extensions/grammari-x/metadata/grammari-x-1.png
  extensions/grammari-x/package-lock.json
  extensions/grammari-x/package.json
  extensions/grammari-x/src/grammariX.tsx
Labels: extension fix / improvement, OP is author, extension: grammari-x

#11187 [ChatGPT] Improve types
  extensions/chatgpt/CHANGELOG.md
  extensions/chatgpt/src/hooks/useChatGPT.tsx
  extensions/chatgpt/src/type.ts
  extensions/chatgpt/src/utils/index.ts
  extensions/chatgpt/tsconfig.json
Labels: extension fix / improvement, extension: chatgpt

#11252 Update messages extension
  extensions/messages/CHANGELOG.md
  extensions/messages/metadata/messages-1.png
Labels: extension fix / improvement, extension: messages

#11256 [Perplexity API] Removed deprecated models, updated pricing
  extensions/perplexity-api/CHANGELOG.md
  extensions/perplexity-api/package.json
  extensions/perplexity-api/src/hook/perplexityAPI.tsx
  extensions/perplexity-api/src/hook/utils.ts
Labels: extension fix / improvement, OP is author, extension: perplexity-api

#11262 Update ray-so extension
  extensions/ray-so/CHANGELOG.md
  extensions/ray-so/assets/mono.png
  extensions/ray-so/package.json
Labels: extension fix / improvement, extension: ray-so

#11255 Update mastodon extension
  extensions/mastodon/CHANGELOG.md
  extensions/mastodon/assets/menu-bar-notifications-active-icon.svg
  extensions/mastodon/assets/menu-bar-notifications-icon.svg
  extensions/mastodon/package.json
  extensions/mastodon/pnpm-lock.yaml
  extensions/mastodon/src/menu-bar-notifications.tsx
  extensions/mastodon/src/utils/api.ts
  extensions/mastodon/src/utils/helpers.ts
  extensions/mastodon/src/utils/oauth.ts
  extensions/mastodon/src/utils/types.ts
Labels: extension fix / improvement, OP is contributor, extension: mastodon

#11157 Update jira extension
  extensions/jira/CHANGELOG.md
  extensions/jira/package.json
  extensions/jira/src/components/FormSprintDropdown.tsx
  extensions/jira/src/components/FormUserDropdown.tsx
Labels: extension fix / improvement, OP is author, extension: jira

#11165 Update youtube extension
  extensions/youtube/CHANGELOG.md
  extensions/youtube/metadata/channel.png
  extensions/youtube/metadata/channels.png
  extensions/youtube/metadata/popular.png
  extensions/youtube/metadata/video.png
  extensions/youtube/metadata/videos.png
  extensions/youtube/metadata/youtube-1.png
  extensions/youtube/metadata/youtube-2.png
  extensions/youtube/metadata/youtube-3.png
  extensions/youtube/metadata/youtube-4.png
  extensions/youtube/metadata/youtube-5.png
  extensions/youtube/package-lock.json
  extensions/youtube/package.json
  extensions/youtube/src/components/actions.tsx
  extensions/youtube/src/components/channel.tsx
  extensions/youtube/src/components/channel_search.tsx
  extensions/youtube/src/components/dropdown.tsx
  extensions/youtube/src/components/listgrid.tsx
  extensions/youtube/src/components/playlist.tsx
  extensions/youtube/src/components/popular_video.tsx
  extensions/youtube/src/components/recent_channels.tsx
  extensions/youtube/src/components/recent_videos.tsx
  extensions/youtube/src/components/search.tsx
  extensions/youtube/src/components/video.tsx
  extensions/youtube/src/components/video_search.tsx
Labels: extension fix / improvement, extension: youtube

#11234 added kill-listening-process command to port-manager
  extensions/port-manager/CHANGELOG.md
  extensions/port-manager/README.md
  extensions/port-manager/package.json
  extensions/port-manager/src/kill-listening-process.tsx
Labels: extension fix / improvement, extension: port-manager

#11297 Add setapp bundle ID to installation check
  extensions/superwhisper/CHANGELOG.md
  extensions/superwhisper/src/utils.ts
Labels: extension fix / improvement, OP is author, extension: superwhisper

#11172 Create Valorant Esports extension
  extensions/valorant-esports/.eslintrc.json
  extensions/valorant-esports/.gitignore
  extensions/valorant-esports/.prettierrc
  extensions/valorant-esports/CHANGELOG.md
  extensions/valorant-esports/README.md
  extensions/valorant-esports/assets/extension-icon.png
  extensions/valorant-esports/metadata/valorant-esports-1.png
  extensions/valorant-esports/metadata/valorant-esports-2.png
  extensions/valorant-esports/package-lock.json
  extensions/valorant-esports/package.json
  extensions/valorant-esports/src/lib/components/league-dropdown.tsx
  extensions/valorant-esports/src/lib/hooks/use-api.tsx
  extensions/valorant-esports/src/lib/hooks/use-leagues.tsx
  extensions/valorant-esports/src/lib/hooks/use-rankings.tsx
  extensions/valorant-esports/src/lib/hooks/use-schedule.tsx
  extensions/valorant-esports/src/lib/hooks/use-tournaments.tsx
  extensions/valorant-esports/src/show-schedule.tsx
  extensions/valorant-esports/src/show-standings.tsx
  extensions/valorant-esports/tsconfig.json
Labels: new extension

#11300 [pipe-commands] additional commands
  extensions/pipe-commands/CHANGELOG.md
  extensions/pipe-commands/assets/commands/text/copy-to-rich-text-clipboard.sh
  extensions/pipe-commands/assets/commands/text/remove-blank-lines.sh
  extensions/pipe-commands/assets/commands/url/urldecode.py
  extensions/pipe-commands/package-lock.json
  extensions/pipe-commands/package.json
Labels: extension fix / improvement, OP is contributor, extension: pipe-commands

#11312 Ext/tidyread import sources by opml file
  extensions/tidyread---streamline-your-daily-reading/CHANGELOG.md
  extensions/tidyread---streamline-your-daily-reading/package-lock.json
  extensions/tidyread---streamline-your-daily-reading/package.json
  extensions/tidyread---streamline-your-daily-reading/src/components/RSSListItem.tsx
  extensions/tidyread---streamline-your-daily-reading/src/components/ShowRSSDetailAction.tsx
  extensions/tidyread---streamline-your-daily-reading/src/const.ts
  extensions/tidyread---streamline-your-daily-reading/src/daily-read.command.tsx
  extensions/tidyread---streamline-your-daily-reading/src/digest-list.command.tsx
  extensions/tidyread---streamline-your-daily-reading/src/manage-source-list.command.tsx
  extensions/tidyread---streamline-your-daily-reading/src/store/index.ts
  extensions/tidyread---streamline-your-daily-reading/src/types.ts
  extensions/tidyread---streamline-your-daily-reading/src/utils/parseOpmlToSources.ts
  extensions/tidyread---streamline-your-daily-reading/src/utils/request.ts
  extensions/tidyread---streamline-your-daily-reading/src/utils/util.ts
Labels: extension fix / improvement, OP is author, extension: tidyread---streamline-your-daily-readi…

#11232 Brew: Use current terminal name for actions
  extensions/brew/CHANGELOG.md
  extensions/brew/src/components/actionPanels.tsx
  extensions/brew/src/components/runInTerminal.ts
Labels: extension fix / improvement, OP is author, extension: brew

#10398 feat: Add launch context support to slack-status extension
  extensions/slack-status/CHANGELOG.md
  extensions/slack-status/package-lock.json
  extensions/slack-status/package.json
  extensions/slack-status/src/actions.tsx
  extensions/slack-status/src/durations.ts
  extensions/slack-status/src/presets.ts
  extensions/slack-status/src/setStatus.tsx
  extensions/slack-status/src/types.ts
  extensions/slack-status/src/utils.ts
Labels: extension fix / improvement, extension: slack-status, Dont close

#11320 Update mail extension
  extensions/mail/CHANGELOG.md
  extensions/mail/package.json
  extensions/mail/src/components/message-actions.tsx
  extensions/mail/src/scripts/messages.ts
  extensions/mail/src/utils/mailbox.ts
Labels: extension fix / improvement, OP is contributor, extension: mail

#11316 [Trello] Update dependencies and give indication when preferences are needed
  extensions/trello/CHANGELOG.md
  extensions/trello/package-lock.json
  extensions/trello/package.json
Labels: extension fix / improvement, OP is author, extension: trello

#11333 Update Turso extension
  extensions/turso/CHANGELOG.md
  extensions/turso/src/utils/authorize.ts
Labels: extension fix / improvement, OP is author, extension: turso

#11325 Update mercado-libre extension
  extensions/mercado-libre/CHANGELOG.md
  extensions/mercado-libre/package-lock.json
  extensions/mercado-libre/package.json
  extensions/mercado-libre/src/components/ListEmptyView.tsx
  extensions/mercado-libre/src/components/RecentSearchListItem.tsx
  extensions/mercado-libre/src/components/ResultGridItem.tsx
  extensions/mercado-libre/src/components/ResultListItem.tsx
  extensions/mercado-libre/src/constants.ts
  extensions/mercado-libre/src/search-mercado-libre.tsx
  extensions/mercado-libre/src/types.ts
  extensions/mercado-libre/src/utils.ts
Labels: extension fix / improvement, OP is author, extension: mercado-libre

#11306 Update OK JSON: Fix typo in Raycast Store URL
  extensions/ok-json/CHANGELOG.md
  extensions/ok-json/README.md
Labels: extension fix / improvement, extension: ok-json

#11273 Enhance github-review-requests extension
  extensions/github-review-requests/.gitignore
  extensions/github-review-requests/.nvmrc
  extensions/github-review-requests/CHANGELOG.md
  extensions/github-review-requests/codegen.yml
  extensions/github-review-requests/metadata/github-review-requests-1.png
  extensions/github-review-requests/package-lock.json
  extensions/github-review-requests/package.json
  extensions/github-review-requests/src/actionablePullRequests.tsx
  extensions/github-review-requests/src/components/PullRequestItem.tsx
  extensions/github-review-requests/src/flows/processPulls.ts
  extensions/github-review-requests/src/graphql/SearchPullRequestsWithDependencies.generated.ts
  extensions/github-review-requests/src/graphql/SearchPullRequestsWithDependencies.gql
  extensions/github-review-requests/src/graphql/searchPullRequestsWithDependencies.ts
  extensions/github-review-requests/src/hooks/SearchReviewRequest.generated.ts
  extensions/github-review-requests/src/hooks/usePullStore.ts
  extensions/github-review-requests/src/hooks/usePulls.tsx
  extensions/github-review-requests/src/hooks/useSearch.ts
  extensions/github-review-requests/src/schema.generated.ts
  extensions/github-review-requests/src/store/pulls.ts
  extensions/github-review-requests/src/types.ts
  extensions/github-review-requests/src/util.ts
Labels: extension fix / improvement, extension: github-review-requests

#11251 [Groq] Added new model
  extensions/groq/CHANGELOG.md
  extensions/groq/package-lock.json
  extensions/groq/package.json
  extensions/groq/src/hook/utils.ts
Labels: extension fix / improvement, OP is author, extension: groq

#11291 Update tailscale extension
  extensions/tailscale/CHANGELOG.md
  extensions/tailscale/package.json
  extensions/tailscale/src/connect.tsx
  extensions/tailscale/src/disconnect.tsx
Labels: extension fix / improvement, extension: tailscale

#11264 Update universal-inbox extension
  extensions/universal-inbox/CHANGELOG.md
  extensions/universal-inbox/assets/slack-logo-dark.svg
  extensions/universal-inbox/assets/slack-logo-light.svg
  extensions/universal-inbox/justfile
  extensions/universal-inbox/package-lock.json
  extensions/universal-inbox/package.json
  extensions/universal-inbox/src/action/CreateTaskFromNotification.tsx
  extensions/universal-inbox/src/action/LinkNotificationToTask.tsx
  extensions/universal-inbox/src/action/NotificationActions.tsx
  extensions/universal-inbox/src/action/PlanTask.tsx
  extensions/universal-inbox/src/index.tsx
  extensions/universal-inbox/src/integrations/slack/listitem/SlackNotificationListItem.tsx
  extensions/universal-inbox/src/integrations/slack/preview/SlackStarPreview.tsx
  extensions/universal-inbox/src/integrations/slack/types.ts
  extensions/universal-inbox/src/notification.ts
Labels: extension fix / improvement, OP is author, extension: universal-inbox

#11346 Update mercado-libre extension
  extensions/mercado-libre/CHANGELOG.md
  extensions/mercado-libre/src/components/RecentSearchListItem.tsx
  extensions/mercado-libre/src/search-mercado-libre.tsx
Labels: extension fix / improvement, OP is author, extension: mercado-libre

#11169 Add mindnode extension
  extensions/mindnode/.eslintrc.json
  extensions/mindnode/.gitignore
  extensions/mindnode/.prettierrc
  extensions/mindnode/CHANGELOG.md
  extensions/mindnode/README.md
  extensions/mindnode/assets/mindnode-icon.png
  extensions/mindnode/metadata/mindnode-1.png
  extensions/mindnode/package-lock.json
  extensions/mindnode/package.json
  extensions/mindnode/src/new-mindmap.tsx
  extensions/mindnode/src/new-outline.tsx
  extensions/mindnode/src/quick-entry-mind.tsx
  extensions/mindnode/src/utils/checkInstall.ts
  extensions/mindnode/tsconfig.json
Labels: new extension

#11289 GitHub: Accept Repo invite through notification
  extensions/github/CHANGELOG.md
  extensions/github/package.json
  extensions/github/src/components/NotificationActions.tsx
  extensions/github/src/unread-notifications.tsx
Labels: extension fix / improvement, OP is author, extension: github

#11335 Update github-review-requests extension
  extensions/github-review-requests/CHANGELOG.md
  extensions/github-review-requests/README.md
  extensions/github-review-requests/src/components/PullRequestItem.tsx
Labels: extension fix / improvement, OP is contributor, extension: github-review-requests

#11353 Update github-review-requests extension
  extensions/github-review-requests/CHANGELOG.md
  extensions/github-review-requests/src/actionablePullRequests.tsx
Labels: extension fix / improvement, OP is contributor, extension: github-review-requests

#11345 Update youtube extension
  extensions/youtube/CHANGELOG.md
  extensions/youtube/src/components/recent_channels.tsx
  extensions/youtube/src/components/recent_videos.tsx
Labels: extension fix / improvement, OP is contributor, extension: youtube

#11324 Update prism-launcher extension
  extensions/prism-launcher/CHANGELOG.md
  extensions/prism-launcher/src/index.tsx
Labels: extension fix / improvement, OP is author, extension: prism-launcher

#11356 Update dig extension
  extensions/dig/.eslintrc.json
  extensions/dig/.gitignore
  extensions/dig/.prettierrc
  extensions/dig/CHANGELOG.md
  extensions/dig/package-lock.json
  extensions/dig/package.json
  extensions/dig/src/index.tsx
  extensions/dig/src/lib/query.ts
Labels: extension fix / improvement, extension: dig

#10023 Add random-color extension
  extensions/random-color/.eslintrc.json
  extensions/random-color/.gitignore
  extensions/random-color/.prettierrc
  extensions/random-color/CHANGELOG.md
  extensions/random-color/README.md
  extensions/random-color/assets/icon.png
  extensions/random-color/metadata/random-color-1.png
  extensions/random-color/package-lock.json
  extensions/random-color/package.json
  extensions/random-color/src/random-color.tsx
  extensions/random-color/src/select-color.tsx
  extensions/random-color/src/utils.tsx
  extensions/random-color/tsconfig.json
Labels: new extension

#11354 Add can-i-php extension
  extensions/can-i-php/.eslintrc.json
  extensions/can-i-php/.gitignore
  extensions/can-i-php/.prettierrc
  extensions/can-i-php/CHANGELOG.md
  extensions/can-i-php/LICENSE
  extensions/can-i-php/README.md
  extensions/can-i-php/assets/command-icon.png
  extensions/can-i-php/metadata/can-i-php-1.png
  extensions/can-i-php/metadata/can-i-php-2.png
  extensions/can-i-php/package-lock.json
  extensions/can-i-php/package.json
  extensions/can-i-php/src/index.tsx
  extensions/can-i-php/src/lib/components/FeatureSingle.tsx
  extensions/can-i-php/src/lib/components/VersionTable.tsx
  extensions/can-i-php/src/lib/types/accessory.ts
  extensions/can-i-php/src/lib/types/feature.ts
  extensions/can-i-php/src/lib/types/resource.ts
  extensions/can-i-php/src/lib/util/featureSupportedIn.ts
  extensions/can-i-php/src/lib/util/generateMarkdownTableRow.ts
  extensions/can-i-php/src/lib/util/resources.ts
  extensions/can-i-php/src/lib/util/versionCompare.ts
  extensions/can-i-php/src/lib/util/versions.ts
  extensions/can-i-php/tsconfig.json
Labels: new extension

#11317 Update cyberduck extension (#11310)
  extensions/cyberduck/CHANGELOG.md
  extensions/cyberduck/src/index.tsx
Labels: extension fix / improvement, OP is author, extension: cyberduck

#11361 Update end-of-life extension
  extensions/end-of-life/.editorconfig
  extensions/end-of-life/.eslintrc.json
  extensions/end-of-life/.gitignore
  extensions/end-of-life/.prettierrc
  extensions/end-of-life/CHANGELOG.md
  extensions/end-of-life/README.md
  extensions/end-of-life/assets/command-icon.png
  extensions/end-of-life/metadata/end-of-life-1.png
  extensions/end-of-life/metadata/end-of-life-2.png
  extensions/end-of-life/metadata/end-of-life-3.png
  extensions/end-of-life/metadata/end-of-life-4.png
  extensions/end-of-life/package-lock.json
  extensions/end-of-life/package.json
  extensions/end-of-life/src/components/ProductDetails.tsx
  extensions/end-of-life/src/hooks/useEndOfLifeProducts.ts
  extensions/end-of-life/src/hooks/useProductDetails.ts
  extensions/end-of-life/src/index.tsx
  extensions/end-of-life/src/types.ts
  extensions/end-of-life/src/utils/cycleUtils.ts
  extensions/end-of-life/src/utils/formatDate.ts
  extensions/end-of-life/src/utils/isValidDate.ts
  extensions/end-of-life/src/views/ProductsList.tsx
  extensions/end-of-life/tsconfig.json
Labels: new extension

#11364 Update Zipcodebase extension (closes #10129)
  extensions/zipcodebase/.gitignore
  extensions/zipcodebase/CHANGELOG.md
  extensions/zipcodebase/README.md
  extensions/zipcodebase/metadata/zipcodebase-6-get-remaining-requests.png
  extensions/zipcodebase/package-lock.json
  extensions/zipcodebase/package.json
  extensions/zipcodebase/src/components/ErrorComponent.tsx
  extensions/zipcodebase/src/get-postal-codes-by-city.tsx
  extensions/zipcodebase/src/get-postal-codes-by-state.tsx
  extensions/zipcodebase/src/get-remaining-requests.tsx
  extensions/zipcodebase/src/utils/api.ts
  extensions/zipcodebase/src/utils/constants.ts
  extensions/zipcodebase/src/utils/functions.ts
Labels: extension fix / improvement, OP is author, extension: zipcodebase

#11322 Update transfer-sh_upload
  extensions/transfer-sh_upload/CHANGELOG.md
  extensions/transfer-sh_upload/package-lock.json
  extensions/transfer-sh_upload/package.json
Labels: extension fix / improvement, OP is author, extension: transfer-sh_upload

#11368 Update mindnode extension
  extensions/mindnode/CHANGELOG.md
  extensions/mindnode/src/utils/checkInstall.ts
Labels: extension fix / improvement, OP is author, extension: mindnode

#11372 Update amazon-search extension
  extensions/amazon-search/CHANGELOG.md
  extensions/amazon-search/src/components/ListEmptyView.tsx
  extensions/amazon-search/src/components/RecentSearchListItem.tsx
  extensions/amazon-search/src/components/SuggestionListItem.tsx
  extensions/amazon-search/src/constants.ts
  extensions/amazon-search/src/index.tsx
Labels: extension fix / improvement, OP is author, extension: amazon-search

#11373 Update can-i-php extension
  extensions/can-i-php/CHANGELOG.md
  extensions/can-i-php/README.md
Labels: extension fix / improvement, OP is author, extension: can-i-php

#10722 Update pomodoro extension
  extensions/pomodoro/CHANGELOG.md
  extensions/pomodoro/lib/intervals.tsx
  extensions/pomodoro/lib/slack/slackAPI.ts
  extensions/pomodoro/lib/slack/slackIntervals.ts
  extensions/pomodoro/package-lock.json
  extensions/pomodoro/package.json
  extensions/pomodoro/src/slack-pomodoro-control-timer.tsx
  extensions/pomodoro/src/slack-pomodoro-menu-bar.tsx
Labels: extension fix / improvement, OP is contributor, extension: pomodoro

#11376 Update QR Code Scanner extension
  extensions/qr-code-scanner/CHANGELOG.md
  extensions/qr-code-scanner/package-lock.json
  extensions/qr-code-scanner/package.json
  extensions/qr-code-scanner/src/index.tsx
Labels: extension fix / improvement, OP is author, extension: qr-code-scanner

#11374 Update docsearch extension
  extensions/docsearch/CHANGELOG.md
  extensions/docsearch/assets/logo/astro.png
  extensions/docsearch/assets/logo/element.png
Labels: extension fix / improvement, OP is author, extension: docsearch

#11351 Update imessage-2fa extension
  extensions/imessage-2fa/CHANGELOG.md
  extensions/imessage-2fa/package.json
  extensions/imessage-2fa/src/utils.ts
Labels: extension fix / improvement, extension: imessage-2fa

#11308 Add playback-duration-calculator extension
  extensions/playback-duration-calculator/.eslintrc.json
  extensions/playback-duration-calculator/.gitignore
  extensions/playback-duration-calculator/.prettierrc
  extensions/playback-duration-calculator/CHANGELOG.md
  extensions/playback-duration-calculator/README.md
  extensions/playback-duration-calculator/assets/icon.png
  extensions/playback-duration-calculator/metadata/playback-duration-calculator-1.png
  extensions/playback-duration-calculator/metadata/playback-duration-calculator-2.png
  extensions/playback-duration-calculator/metadata/playback-duration-calculator-3.png
  extensions/playback-duration-calculator/metadata/playback-duration-calculator-4.png
  extensions/playback-duration-calculator/metadata/playback-duration-calculator-5.png
  extensions/playback-duration-calculator/package-lock.json
  extensions/playback-duration-calculator/package.json
  extensions/playback-duration-calculator/src/calculate-playback-duration.tsx
  extensions/playback-duration-calculator/src/components/Actions.tsx
  extensions/playback-duration-calculator/src/components/CalculationView.tsx
  extensions/playback-duration-calculator/src/components/PlaybackSpeedDropdown.tsx
  extensions/playback-duration-calculator/src/components/ResultsView.tsx
  extensions/playback-duration-calculator/src/quick-calculate-duration.tsx
  extensions/playback-duration-calculator/src/resources/playbackSpeedValues.ts
  extensions/playback-duration-calculator/src/utils/calculations.ts
  extensions/playback-duration-calculator/src/utils/types.ts
  extensions/playback-duration-calculator/tsconfig.json
Labels: new extension

#11366 allow setting epic when creating a Shortcut story
  extensions/shortcut/CHANGELOG.md
  extensions/shortcut/package.json
  extensions/shortcut/src/components/StoryForm.tsx
Labels: extension fix / improvement, extension: shortcut

#11378 Add SVG wordmark copy actions feature in raycast svgl extension
  extensions/svgl/CHANGELOG.md
  extensions/svgl/package.json
  extensions/svgl/src/index.tsx
  extensions/svgl/src/svg-action.tsx
  extensions/svgl/src/type.ts
  extensions/svgl/src/util.ts
Labels: extension fix / improvement, extension: svgl

#11390 Update ethereum-utils extension
  extensions/ethereum-utils/.gitignore
  extensions/ethereum-utils/CHANGELOG.md
  extensions/ethereum-utils/package-lock.json
  extensions/ethereum-utils/package.json
  extensions/ethereum-utils/src/checksum-address.tsx
  extensions/ethereum-utils/src/convert-decimals.tsx
  extensions/ethereum-utils/src/decode-abi.tsx
  extensions/ethereum-utils/src/encode-abi.tsx
  extensions/ethereum-utils/src/resolve-name.tsx
  extensions/ethereum-utils/src/search-chains.tsx
  extensions/ethereum-utils/src/service.ts
  extensions/ethereum-utils/src/utils.ts
Labels: extension fix / improvement, OP is author, extension: ethereum-utils

#11385 [Kubernetes Documentation]: Fix 404 searching documentation
  extensions/kubernetes-docs/.nvmrc
  extensions/kubernetes-docs/CHANGELOG.md
  extensions/kubernetes-docs/package-lock.json
  extensions/kubernetes-docs/package.json
  extensions/kubernetes-docs/src/hooks/useFetcher.ts
Labels: extension fix / improvement, OP is author, extension: kubernetes-docs

#11280 Add looped extension
  extensions/looped/.eslintrc.json
  extensions/looped/.gitignore
  extensions/looped/.prettierrc
  extensions/looped/CHANGELOG.md
  extensions/looped/README.md
  extensions/looped/assets/command-icon.png
  extensions/looped/package-lock.json
  extensions/looped/package.json
  extensions/looped/src/index.ts
  extensions/looped/tsconfig.json
Labels: new extension

#11267 Add lyne extension
  extensions/lyne/.eslintrc.json
  extensions/lyne/.gitignore
  extensions/lyne/.prettierrc
  extensions/lyne/CHANGELOG.md
  extensions/lyne/README.md
  extensions/lyne/assets/app-icon.png
  extensions/lyne/metadata/lyne-1.png
  extensions/lyne/metadata/lyne-2.png
  extensions/lyne/metadata/lyne-3.png
  extensions/lyne/package-lock.json
  extensions/lyne/package.json
  extensions/lyne/src/create-horizontal-lines.tsx
  extensions/lyne/src/create-rectangle.tsx
  extensions/lyne/src/create-vertical-lines.tsx
  extensions/lyne/tsconfig.json
Labels: new extension

#11277 Add pangu-for-raycast extension
  extensions/pangu-for-raycast/.eslintrc.json
  extensions/pangu-for-raycast/.gitignore
  extensions/pangu-for-raycast/.prettierrc
  extensions/pangu-for-raycast/CHANGELOG.md
  extensions/pangu-for-raycast/README.md
  extensions/pangu-for-raycast/assets/command-icon.png
  extensions/pangu-for-raycast/assets/example.gif
  extensions/pangu-for-raycast/metadata/screenshot-01.png
  extensions/pangu-for-raycast/package-lock.json
  extensions/pangu-for-raycast/package.json
  extensions/pangu-for-raycast/src/pangu.tsx
  extensions/pangu-for-raycast/tsconfig.json
Labels: new extension

#11177 Add acqua extension
  extensions/acqua/.eslintrc.json
  extensions/acqua/.gitignore
  extensions/acqua/.prettierrc
  extensions/acqua/CHANGELOG.md
  extensions/acqua/README.md
  extensions/acqua/assets/command-icon.png
  extensions/acqua/package-lock.json
  extensions/acqua/package.json
  extensions/acqua/src/common.ts
  extensions/acqua/src/drinknow.tsx
  extensions/acqua/src/menubar.tsx
  extensions/acqua/tsconfig.json
Labels: new extension

#11418 Update package.json
  extensions/one-thing/CHANGELOG.md
  extensions/one-thing/package.json
Labels: extension fix / improvement, OP is author, extension: one-thing

#11384 github: remove section in action panel
  extensions/github/CHANGELOG.md
  extensions/github/src/components/NotificationActions.tsx
Labels: extension fix / improvement, OP is contributor, extension: github

#11412 Apple Reminders: Display an error if the interval is less than 0
  extensions/apple-reminders/CHANGELOG.md
  extensions/apple-reminders/package.json
  extensions/apple-reminders/src/create-reminder.tsx
  extensions/apple-reminders/src/helpers.ts
Labels: extension fix / improvement, extension: apple-reminders

#11343 Update github extension
  extensions/github/CHANGELOG.md
  extensions/github/package-lock.json
  extensions/github/package.json
  extensions/github/src/api/githubClient.ts
  extensions/github/src/components/WorkflowRunActions.tsx
Labels: extension fix / improvement, OP is author, OP is contributor, extension: github

#11389 GitHub: Changing repo while creating issue clears all fields
  extensions/github/CHANGELOG.md
  extensions/github/package.json
  extensions/github/src/create-issue.tsx
  extensions/github/src/create-pull-request.tsx
Labels: extension fix / improvement, extension: github

#11402 FileMaker Snippets: fix snippet creation
  extensions/filemaker-snippets/CHANGELOG.md
  extensions/filemaker-snippets/assets/FmClipTools/fmObjectTranslator.applescript
Labels: extension fix / improvement, OP is author, extension: filemaker-snippets

#11328 Add guerrilla-mail extension
  extensions/guerrilla-mail/.eslintrc.json
  extensions/guerrilla-mail/.gitignore
  extensions/guerrilla-mail/.prettierrc
  extensions/guerrilla-mail/CHANGELOG.md
  extensions/guerrilla-mail/README.md
  extensions/guerrilla-mail/assets/logo.png
  extensions/guerrilla-mail/metadata/guerrilla-mail-1.png
  extensions/guerrilla-mail/metadata/guerrilla-mail-2.png
  extensions/guerrilla-mail/metadata/guerrilla-mail-3.png
  extensions/guerrilla-mail/package-lock.json
  extensions/guerrilla-mail/package.json
  extensions/guerrilla-mail/src/create_email_address.tsx
  extensions/guerrilla-mail/src/email_accounts.tsx
  extensions/guerrilla-mail/src/generate_random_email_address.tsx
  extensions/guerrilla-mail/src/inbox.tsx
  extensions/guerrilla-mail/src/mail.tsx
  extensions/guerrilla-mail/src/utils/api.ts
  extensions/guerrilla-mail/src/utils/endPoints.ts
  extensions/guerrilla-mail/tsconfig.json
Labels: new extension

#11404 Update acqua extension
  extensions/acqua/CHANGELOG.md
  extensions/acqua/assets/drop-empty-v1.png
  extensions/acqua/assets/drop-full-v1.png
  extensions/acqua/assets/drop-half-v1.png
  extensions/acqua/src/common.ts
  extensions/acqua/src/drinknow.tsx
  extensions/acqua/src/menubar.tsx
Labels: extension fix / improvement, OP is author, extension: acqua

#11417 Add copy actions to Shortcut
  extensions/shortcut/CHANGELOG.md
  extensions/shortcut/package.json
  extensions/shortcut/src/components/StoryActions.tsx
Labels: extension fix / improvement, extension: shortcut

#11321 Update sonos extension
  extensions/sonos/CHANGELOG.md
  extensions/sonos/package.json
  extensions/sonos/src/decrease-volume.tsx
  extensions/sonos/src/increase-volume.tsx
Labels: extension fix / improvement, extension: sonos

#11339 Update supported AI models
  extensions/openai-gpt/CHANGELOG.md
  extensions/openai-gpt/README.md
  extensions/openai-gpt/package.json
  extensions/openai-gpt/src/ai.tsx
  extensions/openai-gpt/src/info-messages.ts
Labels: extension fix / improvement, OP is author, extension: openai-gpt

#11421 Update mynaui-icons extension
  extensions/mynaui-icons/CHANGELOG.md
  extensions/mynaui-icons/README.md
  extensions/mynaui-icons/package-lock.json
  extensions/mynaui-icons/package.json
Labels: extension fix / improvement, OP is author, extension: mynaui-icons

#11296 Update tmdb extension
  extensions/tmdb/CHANGELOG.md
  extensions/tmdb/metadata/tmdb-5.png
  extensions/tmdb/metadata/tmdb-6.png
  extensions/tmdb/package.json
  extensions/tmdb/src/components/Backdrops.tsx
  extensions/tmdb/src/components/MovieDetail.tsx
  extensions/tmdb/src/components/Posters.tsx
  extensions/tmdb/src/components/TvShowDetail.tsx
  extensions/tmdb/src/search.tsx
  extensions/tmdb/src/top-rated.tsx
Labels: extension fix / improvement, extension: tmdb

#11422 Update acqua extension
  extensions/acqua/CHANGELOG.md
  extensions/acqua/src/menubar.tsx
Labels: extension fix / improvement, OP is author, extension: acqua

#11400 Fix the detail view to display multiline text easily
  extensions/change-case/CHANGELOG.md
  extensions/change-case/src/change-case.tsx
Labels: extension fix / improvement, OP is contributor, extension: change-case

#11171 Add linak-desk-controller extension
  extensions/linak-desk-controller/.eslintrc.json
  extensions/linak-desk-controller/.gitignore
  extensions/linak-desk-controller/.prettierrc
  extensions/linak-desk-controller/CHANGELOG.md
  extensions/linak-desk-controller/README.md
  extensions/linak-desk-controller/assets/icon.png
  extensions/linak-desk-controller/assets/sit.png
  extensions/linak-desk-controller/assets/stand.png
  extensions/linak-desk-controller/media/bluetility.png
  extensions/linak-desk-controller/metadata/linak-desk-controller-1.png
  extensions/linak-desk-controller/metadata/linak-desk-controller-2.png
  extensions/linak-desk-controller/package-lock.json
  extensions/linak-desk-controller/package.json
  extensions/linak-desk-controller/src/common.ts
  extensions/linak-desk-controller/src/menubar-move.tsx
  extensions/linak-desk-controller/src/move-to-custom.ts
  extensions/linak-desk-controller/src/move-to-sit.ts
  extensions/linak-desk-controller/src/move-to-stand.ts
  extensions/linak-desk-controller/tsconfig.json
Labels: new extension

#11330 Update zotero extension
  extensions/zotero/CHANGELOG.md
  extensions/zotero/src/common/zoteroApi.ts
Labels: extension fix / improvement, extension: zotero
