Repository raycast/extensions, pull requests merged in 2024-09, with the labels that each got.

#14259 NextDNS extension
  extensions/nextdns/.eslintrc.json
  extensions/nextdns/.gitignore
  extensions/nextdns/.prettierrc
  extensions/nextdns/CHANGELOG.md
  extensions/nextdns/README.md
  extensions/nextdns/assets/extension_icon.png
  extensions/nextdns/assets/no_view.png
  extensions/nextdns/metadata/nextdns-1.png
  extensions/nextdns/metadata/nextdns-2.png
  extensions/nextdns/metadata/nextdns-3.png
  extensions/nextdns/package-lock.json
  extensions/nextdns/package.json
  extensions/nextdns/src/allowlist.tsx
  extensions/nextdns/src/components/add-domain.tsx
  extensions/nextdns/src/components/domain-list.tsx
  extensions/nextdns/src/components/empty-view.tsx
  extensions/nextdns/src/components/error-view.tsx
  extensions/nextdns/src/components/list-item.tsx
  extensions/nextdns/src/denylist.tsx
  extensions/nextdns/src/libs/api.ts
  extensions/nextdns/src/libs/constants.ts
  extensions/nextdns/src/libs/utils.ts
  extensions/nextdns/src/logs.tsx
  extensions/nextdns/src/types.ts
  extensions/nextdns/tsconfig.json
Labels: new extension

#14244 Update cron extension
  extensions/cron/CHANGELOG.md
  extensions/cron/src/parts/actions/actions.tsx
  extensions/cron/src/parts/calendar/calendar.tsx
  extensions/cron/src/parts/days/days.tsx
  extensions/cron/src/parts/days/detail.tsx
  extensions/cron/src/parts/month/month.tsx
  extensions/cron/src/utils/context.tsx
  extensions/cron/src/utils/getTitle.tsx
Labels: extension fix / improvement, OP is author, extension: cron

#14273 [Dad Jokes] 'copy joke' action + update deps & changelog
  extensions/dad-jokes/.eslintrc.json
  extensions/dad-jokes/.gitignore
  extensions/dad-jokes/CHANGELOG.md
  extensions/dad-jokes/package-lock.json
  extensions/dad-jokes/package.json
  extensions/dad-jokes/src/index.tsx
  extensions/dad-jokes/tsconfig.json
Labels: extension fix / improvement, extension: dad-jokes

#14276 [Apple Mail] Update README.md
  extensions/mail/CHANGELOG.md
  extensions/mail/README.md
  extensions/mail/metadata/Mail-1.png
Labels: extension fix / improvement, OP is author, extension: mail

#14221 Update LaunchAgents extension
  extensions/launch-agents/CHANGELOG.md
  extensions/launch-agents/components/LoadedLaunchAgentList.tsx
  extensions/launch-agents/components/SystemLaunchAgentList.tsx
  extensions/launch-agents/package.json
  extensions/launch-agents/src/list-loaded-launch-agents.tsx
  extensions/launch-agents/src/list-system-launch-agents.tsx
Labels: extension fix / improvement, OP is author, extension: launch-agents

#14170 feat(uuid-generator): History management in generated uuids
  extensions/uuid-generator/.eslintrc.json
  extensions/uuid-generator/CHANGELOG.md
  extensions/uuid-generator/package.json
  extensions/uuid-generator/src/generate.tsx
  extensions/uuid-generator/src/generateUlid.tsx
  extensions/uuid-generator/src/generateV5.tsx
  extensions/uuid-generator/src/generateV7.tsx
  extensions/uuid-generator/src/utils/uuidUtils.ts
  extensions/uuid-generator/src/uuidHistory.ts
  extensions/uuid-generator/src/viewHistory.tsx
Labels: extension fix / improvement, OP is contributor, extension: uuid-generator

#14224 Update meme-generator extension
  extensions/meme-generator/CHANGELOG.md
  extensions/meme-generator/package-lock.json
  extensions/meme-generator/package.json
  extensions/meme-generator/src/components/MemeForm.tsx
  extensions/meme-generator/src/components/MemePreview.tsx
  extensions/meme-generator/src/lib/copyFileToClipboard.ts
Labels: extension fix / improvement, OP is author, extension: meme-generator

#14297 Update nextdns extension
  extensions/nextdns/CHANGELOG.md
  extensions/nextdns/src/logs.tsx
Labels: extension fix / improvement, OP is author, extension: nextdns

#14298 Update nextdns extension
  extensions/nextdns/CHANGELOG.md
  extensions/nextdns/src/logs.tsx
Labels: extension fix / improvement, OP is author, extension: nextdns

#14299 Update nextdns extension
  extensions/nextdns/CHANGELOG.md
  extensions/nextdns/package.json
  extensions/nextdns/src/libs/utils.ts
  extensions/nextdns/src/logs.tsx
Labels: extension fix / improvement, OP is author, extension: nextdns

#14300 fix: handle preserve casing logic and more
  extensions/change-case/CHANGELOG.md
  extensions/change-case/README.md
  extensions/change-case/package.json
  extensions/change-case/src/cases.ts
  extensions/change-case/src/change-case.tsx
  extensions/change-case/src/customCases.ts
  extensions/change-case/src/types.tsx
Labels: extension fix / improvement, OP is author, extension: change-case

#14285 Update cron extension
  extensions/cron/CHANGELOG.md
  extensions/cron/src/parts/actions/actions.tsx
  extensions/cron/src/parts/calendar/calendar.tsx
  extensions/cron/src/parts/days/days.tsx
  extensions/cron/src/parts/days/detail.tsx
  extensions/cron/src/utils/useTitle.tsx
  extensions/cron/src/utils/weather.tsx
Labels: extension fix / improvement, OP is author, extension: cron

#14263 Update mail extension
  extensions/mail/CHANGELOG.md
  extensions/mail/package.json
  extensions/mail/src/scripts/accounts.ts
Labels: extension fix / improvement, OP is contributor, extension: mail

#14051 Add split-video-scenes extension
  extensions/split-video-scenes/.eslintrc.json
  extensions/split-video-scenes/.gitignore
  extensions/split-video-scenes/.prettierrc
  extensions/split-video-scenes/CHANGELOG.md
  extensions/split-video-scenes/README.md
  extensions/split-video-scenes/assets/command-icon.png
  extensions/split-video-scenes/metadata/split-video-scenes-1.png
  extensions/split-video-scenes/metadata/split-video-scenes-2.png
  extensions/split-video-scenes/package-lock.json
  extensions/split-video-scenes/package.json
  extensions/split-video-scenes/src/index.tsx
  extensions/split-video-scenes/tsconfig.json
Labels: new extension

#13604 Add surfed extension
  extensions/surfed/.eslintrc.json
  extensions/surfed/.gitignore
  extensions/surfed/.prettierrc
  extensions/surfed/CHANGELOG.md
  extensions/surfed/README.md
  extensions/surfed/README.md.save
  extensions/surfed/assets/command-icon.png
  extensions/surfed/assets/list-icon.png
  extensions/surfed/metadata/preferences.png
  extensions/surfed/metadata/search_1.png
  extensions/surfed/metadata/search_2.png
  extensions/surfed/metadata/search_3.png
  extensions/surfed/package-lock.json
  extensions/surfed/package.json
  extensions/surfed/readme_assets/settings-api-key.png
  extensions/surfed/src/index.tsx
  extensions/surfed/tsconfig.json
Labels: new extension, status: awaiting response from dev, Dont close

#14302 Added status command
  extensions/nextdns/CHANGELOG.md
  extensions/nextdns/package.json
  extensions/nextdns/src/libs/api.ts
  extensions/nextdns/src/status.tsx
Labels: extension fix / improvement, OP is author, extension: nextdns

#14140 Add hoarder extension
  extensions/hoarder/.eslintrc.json
  extensions/hoarder/.gitignore
  extensions/hoarder/.prettierrc
  extensions/hoarder/CHANGELOG.md
  extensions/hoarder/README.md
  extensions/hoarder/assets/hoarder-icon.png
  extensions/hoarder/metadata/hoarder-1.png
  extensions/hoarder/package-lock.json
  extensions/hoarder/package.json
  extensions/hoarder/src/search.tsx
  extensions/hoarder/src/types.ts
  extensions/hoarder/tsconfig.json
Labels: new extension

#14239 Update chatgpt extension
  extensions/chatgpt/CHANGELOG.md
  extensions/chatgpt/src/hooks/useChat.tsx
  extensions/chatgpt/src/utils/index.ts
Labels: extension fix / improvement, OP is contributor, extension: chatgpt

#14279 [Visual Studio Code] Add Contributor
  extensions/visual-studio-code-recent-projects/CHANGELOG.md
  extensions/visual-studio-code-recent-projects/package.json
Labels: extension fix / improvement, OP is contributor, extension: visual-studio-code-recent-projects

#14280 [Change Case] Add Contributor
  extensions/change-case/CHANGELOG.md
  extensions/change-case/package.json
Labels: extension fix / improvement, OP is contributor, extension: change-case

#14254 Update menubar-weather extension
  extensions/menubar-weather/.gitignore
  extensions/menubar-weather/CHANGELOG.md
  extensions/menubar-weather/assets/sf-menu-icons/banknote.svg
  extensions/menubar-weather/assets/sf-menu-icons/signpost.right.svg
  extensions/menubar-weather/package-lock.json
  extensions/menubar-weather/package.json
  extensions/menubar-weather/src/utils/icon-utils.ts
  extensions/menubar-weather/swift/Location/.gitignore
  extensions/menubar-weather/swift/Location/Package.resolved
  extensions/menubar-weather/swift/Location/Package.swift
Labels: extension fix / improvement, OP is contributor, extension: menubar-weather

#14281 [Unsplash] Add Contributor
  extensions/unsplash/CHANGELOG.md
  extensions/unsplash/package.json
Labels: extension fix / improvement, extension: unsplash

#14278 [Youtube] Add Contributor
  extensions/youtube/CHANGELOG.md
  extensions/youtube/package.json
Labels: extension fix / improvement, extension: youtube

#14148 Update list-keyboard-maestro-macros extension
  extensions/keyboard-maestro/CHANGELOG.md
  extensions/keyboard-maestro/README.md
  extensions/keyboard-maestro/metadata/list-keyboard-maestro-macros-1.png
  extensions/keyboard-maestro/metadata/list-keyboard-maestro-macros-2.png
  extensions/keyboard-maestro/metadata/list-keyboard-maestro-macros-3.png
  extensions/keyboard-maestro/package-lock.json
  extensions/keyboard-maestro/package.json
  extensions/keyboard-maestro/src/components/action-panel.tsx
  extensions/keyboard-maestro/src/lib/fetch-macros.tsx
  extensions/keyboard-maestro/src/lib/types.tsx
  extensions/keyboard-maestro/src/list.tsx
Labels: extension fix / improvement, extension: keyboard-maestro

#13972 Update google gemini extension
  extensions/raycast-gemini/CHANGELOG.md
  extensions/raycast-gemini/assets/translate-icon.png
  extensions/raycast-gemini/package.json
  extensions/raycast-gemini/src/translate.jsx
Labels: extension fix / improvement, extension: raycast-gemini

#14287 Update arc extension
  extensions/arc/CHANGELOG.md
  extensions/arc/package.json
  extensions/arc/src/list.tsx
  extensions/arc/src/search-downloads.tsx
  extensions/arc/src/sql.ts
  extensions/arc/src/types.ts
  extensions/arc/src/utils.ts
Labels: extension fix / improvement, extension: arc

#14182 [SABnzbd] Modernize (major overhaul) + new `Warnings` command + cache via hooks
  extensions/sabnzbd/.eslintrc.json
  extensions/sabnzbd/.gitignore
  extensions/sabnzbd/CHANGELOG.md
  extensions/sabnzbd/assets/arrow-down-dark.png
  extensions/sabnzbd/assets/arrow-down-light.png
  extensions/sabnzbd/assets/arrow-left-bottom-dark.png
  extensions/sabnzbd/assets/arrow-left-bottom-light.png
  extensions/sabnzbd/assets/arrow-left-dark.png
  extensions/sabnzbd/assets/arrow-left-light.png
  extensions/sabnzbd/assets/arrow-left-top-dark.png
  extensions/sabnzbd/assets/arrow-left-top-light.png
  extensions/sabnzbd/assets/arrow-right-bottom-dark.png
  extensions/sabnzbd/assets/arrow-right-bottom-light.png
  extensions/sabnzbd/assets/arrow-right-dark.png
  extensions/sabnzbd/assets/arrow-right-light.png
  extensions/sabnzbd/assets/arrow-right-top-dark.png
  extensions/sabnzbd/assets/arrow-right-top-light.png
  extensions/sabnzbd/assets/arrow-up-dark.png
  extensions/sabnzbd/assets/arrow-up-light.png
  extensions/sabnzbd/assets/bin-dark.png
  extensions/sabnzbd/assets/bin-light.png
  extensions/sabnzbd/assets/bolt-dark.png
  extensions/sabnzbd/assets/bolt-light.png
  extensions/sabnzbd/assets/cellular-dark.png
  extensions/sabnzbd/assets/cellular-light.png
  extensions/sabnzbd/assets/danger-dark.png
  extensions/sabnzbd/assets/danger-light.png
  extensions/sabnzbd/assets/download-dark.png
  extensions/sabnzbd/assets/download-light.png
  extensions/sabnzbd/assets/error-dark.png
  extensions/sabnzbd/assets/error-light.png
  extensions/sabnzbd/assets/file-dark.png
  extensions/sabnzbd/assets/file-light.png
  extensions/sabnzbd/assets/hourglass-dark.png
  extensions/sabnzbd/assets/hourglass-light.png
  extensions/sabnzbd/assets/key-dark.png
  extensions/sabnzbd/assets/key-light.png
  extensions/sabnzbd/assets/lightbulb-dark.png
  extensions/sabnzbd/assets/lightbulb-light.png
  extensions/sabnzbd/assets/ok-dark.png
  extensions/sabnzbd/assets/ok-light.png
  extensions/sabnzbd/assets/pause-dark.png
  extensions/sabnzbd/assets/pause-light.png
  extensions/sabnzbd/assets/play-dark.png
  extensions/sabnzbd/assets/play-light.png
  extensions/sabnzbd/assets/tool-dark.png
  extensions/sabnzbd/assets/tool-light.png
  extensions/sabnzbd/package-lock.json
  extensions/sabnzbd/package.json
  extensions/sabnzbd/src/change-complete-action.tsx
  extensions/sabnzbd/src/history.tsx
  extensions/sabnzbd/src/pause-queue.tsx
  extensions/sabnzbd/src/restart.tsx
  extensions/sabnzbd/src/resume-queue.tsx
  extensions/sabnzbd/src/sabnzbd.ts
  extensions/sabnzbd/src/show-queue.tsx
  extensions/sabnzbd/src/show-warnings.tsx
  extensions/sabnzbd/src/shutdown.tsx
  extensions/sabnzbd/tsconfig.json
Labels: extension fix / improvement, extension: sabnzbd

#14186 Update color-picker extension
  extensions/color-picker/CHANGELOG.md
  extensions/color-picker/metadata/color-picker-1.png
  extensions/color-picker/package-lock.json
  extensions/color-picker/package.json
  extensions/color-picker/src/color-wheel.tsx
  extensions/color-picker/src/convert-color.tsx
  extensions/color-picker/src/menu-bar.tsx
  extensions/color-picker/src/organize-colors.tsx
  extensions/color-picker/src/pick-color.ts
  extensions/color-picker/src/utils.ts
  extensions/color-picker/swift/color-picker/.gitignore
Labels: extension fix / improvement, extension: color-picker

#14195 Railway: Enable Team Projects
  extensions/railway/.gitignore
  extensions/railway/CHANGELOG.md
  extensions/railway/package.json
  extensions/railway/src/railway.ts
Labels: extension fix / improvement, extension: railway

#14220 Update alice-ai extension
  extensions/alice-ai/CHANGELOG.md
  extensions/alice-ai/README.md
  extensions/alice-ai/extension.json
  extensions/alice-ai/package-lock.json
  extensions/alice-ai/package.json
  extensions/alice-ai/src/components/ExecuteAction.tsx
  extensions/alice-ai/src/components/HistoryDetails.tsx
  extensions/alice-ai/src/hooks/index.ts
  extensions/alice-ai/src/hooks/useCost.ts
  extensions/alice-ai/src/hooks/useMetadata.ts
  extensions/alice-ai/src/lib/OpenAI.ts
  extensions/alice-ai/src/store/actions.ts
  extensions/alice-ai/src/store/history.ts
  extensions/alice-ai/src/types/index.ts
Labels: extension fix / improvement, OP is author, extension: alice-ai

#14242 Update gif-search extension
  extensions/gif-search/CHANGELOG.md
  extensions/gif-search/package.json
  extensions/gif-search/src/components/GifActions.tsx
  extensions/gif-search/src/lib/localGifs.ts
Labels: extension fix / improvement, extension: gif-search

#14316 [Gitlab] Add Dropdown to Search Projects
  extensions/gitlab/CHANGELOG.md
  extensions/gitlab/package.json
  extensions/gitlab/src/components/project.tsx
  extensions/gitlab/src/components/project_search.tsx
  extensions/gitlab/src/gitlabapi.ts
Labels: extension fix / improvement, extension: gitlab

#14247 Add mercury extension
  extensions/mercury/.eslintrc.json
  extensions/mercury/.gitignore
  extensions/mercury/.prettierrc
  extensions/mercury/CHANGELOG.md
  extensions/mercury/README.md
  extensions/mercury/assets/extension-icon.png
  extensions/mercury/metadata/mercury-1.png
  extensions/mercury/metadata/mercury-2.png
  extensions/mercury/metadata/mercury-3.png
  extensions/mercury/package-lock.json
  extensions/mercury/package.json
  extensions/mercury/src/view-transactions.tsx
  extensions/mercury/tsconfig.json
Labels: new extension

#14296 Update search-mdn extension
  extensions/search-mdn/CHANGELOG.md
  extensions/search-mdn/package.json
  extensions/search-mdn/src/index.tsx
Labels: extension fix / improvement, extension: search-mdn

#13996 [quit-applications] functional component refactor – fix focus reset bug
  extensions/quit-applications/CHANGELOG.md
  extensions/quit-applications/src/index.tsx
  extensions/quit-applications/tsconfig.json
Labels: extension fix / improvement, OP is contributor, extension: quit-applications

#14147 Submit new extension: Cryptgeon
  extensions/cryptgeon/.eslintrc.json
  extensions/cryptgeon/.gitignore
  extensions/cryptgeon/.prettierrc
  extensions/cryptgeon/CHANGELOG.md
  extensions/cryptgeon/README.md
  extensions/cryptgeon/assets/extension-icon.png
  extensions/cryptgeon/metadata/cryptgeon-1.png
  extensions/cryptgeon/metadata/cryptgeon-2.png
  extensions/cryptgeon/metadata/cryptgeon-3.png
  extensions/cryptgeon/package-lock.json
  extensions/cryptgeon/package.json
  extensions/cryptgeon/src/create-note.tsx
  extensions/cryptgeon/src/fetch.ts
  extensions/cryptgeon/src/send-encrypted-text.ts
  extensions/cryptgeon/src/shared.ts
  extensions/cryptgeon/tsconfig.json
Labels: new extension

#14252 Add slackmojis extension
  extensions/slackmojis/.eslintrc.json
  extensions/slackmojis/.gitignore
  extensions/slackmojis/.prettierrc
  extensions/slackmojis/CHANGELOG.md
  extensions/slackmojis/README.md
  extensions/slackmojis/assets/extension-icon.png
  extensions/slackmojis/metadata/slackmojis-1.png
  extensions/slackmojis/metadata/slackmojis-2.png
  extensions/slackmojis/metadata/slackmojis-3.png
  extensions/slackmojis/package-lock.json
  extensions/slackmojis/package.json
  extensions/slackmojis/src/actions/copyFileToClipboard.ts
  extensions/slackmojis/src/actions/downloadFile.ts
  extensions/slackmojis/src/slackmojis-search.tsx
  extensions/slackmojis/src/types.ts
  extensions/slackmojis/tsconfig.json
Labels: new extension

#14321 [Mail] Increased timeout for getting mails
  extensions/mail/CHANGELOG.md
  extensions/mail/package-lock.json
  extensions/mail/src/components/attachment-list.tsx
  extensions/mail/src/scripts/messages.ts
Labels: extension fix / improvement, OP is contributor, extension: mail

#14303 Updates WordPress Icon Finder
  extensions/wordpress-icon-finder/CHANGELOG.md
  extensions/wordpress-icon-finder/package.json
  extensions/wordpress-icon-finder/src/icons.ts
Labels: extension fix / improvement, OP is author, extension: wordpress-icon-finder

#14305 Updates Color Studio Picker
  extensions/color-studio-picker/CHANGELOG.md
  extensions/color-studio-picker/src/colors.ts
  extensions/color-studio-picker/src/index.tsx
Labels: extension fix / improvement, extension: color-studio-picker

#13963 [Hashnode] FIX extension not working (Migrate API) + Cache + Modernize
  extensions/hashnode/.eslintrc.json
  extensions/hashnode/.gitignore
  extensions/hashnode/CHANGELOG.md
  extensions/hashnode/README.md
  extensions/hashnode/metadata/hashnode-1.png
  extensions/hashnode/metadata/hashnode-2.png
  extensions/hashnode/package-lock.json
  extensions/hashnode/package.json
  extensions/hashnode/src/best.tsx
  extensions/hashnode/src/components/StoriesList.tsx
  extensions/hashnode/src/components/StoryItem.tsx
  extensions/hashnode/src/featured.tsx
  extensions/hashnode/src/hooks/useStories.ts
  extensions/hashnode/src/models/Story.ts
  extensions/hashnode/src/models/StoryType.ts
  extensions/hashnode/src/my_stories.tsx
  extensions/hashnode/src/new.tsx
  extensions/hashnode/src/new_story.tsx
  extensions/hashnode/src/queries/getPublicStories.ts
  extensions/hashnode/src/queries/getUserStories.ts
  extensions/hashnode/src/utils/gql.ts
  extensions/hashnode/tsconfig.json
Labels: extension fix / improvement, status: stalled, extension: hashnode

#14318 Update NextDNS
  extensions/nextdns/CHANGELOG.md
  extensions/nextdns/src/components/actions/add-domain.tsx
  extensions/nextdns/src/components/add-domain.tsx
  extensions/nextdns/src/libs/api.ts
  extensions/nextdns/src/libs/constants.ts
  extensions/nextdns/src/logs.tsx
  extensions/nextdns/src/types.ts
Labels: extension fix / improvement, OP is author, extension: nextdns

#14310 [Porkbun] fix: Domain Pricing would crash if user reloaded too many times via Action
  extensions/porkbun/CHANGELOG.md
  extensions/porkbun/src/domain-pricing.tsx
Labels: extension fix / improvement, OP is author, extension: porkbun

#14255 Add open-in-cursor extension
  extensions/open-in-cursor/.eslintrc.json
  extensions/open-in-cursor/.gitignore
  extensions/open-in-cursor/.prettierrc
  extensions/open-in-cursor/CHANGELOG.md
  extensions/open-in-cursor/README.md
  extensions/open-in-cursor/assets/icon.png
  extensions/open-in-cursor/package-lock.json
  extensions/open-in-cursor/package.json
  extensions/open-in-cursor/src/index.ts
  extensions/open-in-cursor/tsconfig.json
Labels: new extension

#14196 Add mittwald extension
  extensions/mittwald/.eslintrc.json
  extensions/mittwald/.gitignore
  extensions/mittwald/.prettierrc
  extensions/mittwald/CHANGELOG.md
  extensions/mittwald/README.md
  extensions/mittwald/assets/extension-icon.png
  extensions/mittwald/media/mittwald-logo.svg
  extensions/mittwald/metadata/mittwald-1.png
  extensions/mittwald/metadata/mittwald-2.png
  extensions/mittwald/metadata/mittwald-3.png
  extensions/mittwald/metadata/mittwald-4.png
  extensions/mittwald/metadata/mittwald-5.png
  extensions/mittwald/package-lock.json
  extensions/mittwald/package.json
  extensions/mittwald/src/search-mittwald-api-endpoints.tsx
  extensions/mittwald/src/search-mittwald-apps.tsx
  extensions/mittwald/src/search-mittwald-domains.tsx
  extensions/mittwald/src/search-mittwald-organizations.tsx
  extensions/mittwald/src/search-mittwald-projects.tsx
  extensions/mittwald/tsconfig.json
Labels: new extension

#14323 Fix search in Sublime extension
  extensions/sublime/CHANGELOG.md
  extensions/sublime/package.json
  extensions/sublime/scripts/publish-prod.sh
  extensions/sublime/src/search-collections.tsx
  extensions/sublime/src/search-library.tsx
  extensions/sublime/src/utils/api.ts
  extensions/sublime/src/views/list.tsx
Labels: extension fix / improvement, OP is author, extension: sublime

#14264 Update kill-process extension
  extensions/kill-process/CHANGELOG.md
  extensions/kill-process/assets/cpu.svg
  extensions/kill-process/assets/memorychip.svg
  extensions/kill-process/metadata/kill-process-1.png
  extensions/kill-process/metadata/kill-process-2.png
  extensions/kill-process/metadata/kill-process-3.png
  extensions/kill-process/package-lock.json
  extensions/kill-process/package.json
  extensions/kill-process/src/index.tsx
  extensions/kill-process/src/types.ts
Labels: extension fix / improvement, extension: kill-process

#13733 Update todo list extension
  extensions/todo-list/.eslintrc.json
  extensions/todo-list/CHANGELOG.md
  extensions/todo-list/package.json
  extensions/todo-list/src/atoms.ts
  extensions/todo-list/src/hooks/useTodo.ts
  extensions/todo-list/src/index.tsx
  extensions/todo-list/src/list_tags.tsx
  extensions/todo-list/src/todo_item.tsx
  extensions/todo-list/src/todo_section.tsx
  extensions/todo-list/src/todo_tag_form.tsx
Labels: extension fix / improvement, extension: todo-list

#14343 Update kill-process extension
  extensions/kill-process/src/index.tsx
Labels: extension fix / improvement, OP is contributor, extension: kill-process

#14283 Update pocket extension
  extensions/pocket/.gitignore
  extensions/pocket/CHANGELOG.md
  extensions/pocket/package-lock.json
  extensions/pocket/package.json
  extensions/pocket/src/search.tsx
Labels: extension fix / improvement, extension: pocket

#14238 Update youtube-downloader extension
  extensions/youtube-downloader/CHANGELOG.md
  extensions/youtube-downloader/package.json
  extensions/youtube-downloader/src/index.tsx
Labels: extension fix / improvement, extension: youtube-downloader

#14007 Update clean keyboard extension
  extensions/clean-keyboard/CHANGELOG.md
  extensions/clean-keyboard/package.json
  extensions/clean-keyboard/src/clean-keyboard.tsx
  extensions/clean-keyboard/swift/MyExecutable/Sources/SwiftAPIKeyboard.swift
Labels: extension fix / improvement, extension: clean-keyboard

#14165 feat(spotify-player): add dj command
  extensions/spotify-player/CHANGELOG.md
  extensions/spotify-player/package.json
  extensions/spotify-player/src/api/startRadio.ts
  extensions/spotify-player/src/startDJ.ts
Labels: extension fix / improvement, OP is contributor, extension: spotify-player

#14272 Add shlink extension
  extensions/shlink/.eslintrc.json
  extensions/shlink/.gitignore
  extensions/shlink/.prettierrc
  extensions/shlink/CHANGELOG.md
  extensions/shlink/README.md
  extensions/shlink/assets/extension-icon.png
  extensions/shlink/metadata/shlink-1.png
  extensions/shlink/metadata/shlink-2.png
  extensions/shlink/metadata/shlink-3.png
  extensions/shlink/metadata/shlink-4.png
  extensions/shlink/package-lock.json
  extensions/shlink/package.json
  extensions/shlink/src/api/shlinkClient.ts
  extensions/shlink/src/list-shortened-urls.tsx
  extensions/shlink/src/shorten-url.tsx
  extensions/shlink/tsconfig.json
Labels: new extension

#13973 [Contentful] add 'search-users' command
  extensions/contentful/CHANGELOG.md
  extensions/contentful/package.json
  extensions/contentful/src/search-users.tsx
Labels: extension fix / improvement, extension: contentful

#14176 Add real-calc extension
  extensions/real-calc/.eslintrc.json
  extensions/real-calc/.gitignore
  extensions/real-calc/.prettierrc
  extensions/real-calc/CHANGELOG.md
  extensions/real-calc/README.md
  extensions/real-calc/assets/real-calc-icon.png
  extensions/real-calc/metadata/real-calc-1.png
  extensions/real-calc/metadata/real-calc-2.png
  extensions/real-calc/package-lock.json
  extensions/real-calc/package.json
  extensions/real-calc/src/components/ResultDetail.tsx
  extensions/real-calc/src/get-adjustment-factors.ts
  extensions/real-calc/src/services/calculations.ts
  extensions/real-calc/src/types.ts
  extensions/real-calc/src/update-value-by-index.tsx
  extensions/real-calc/src/utils/constants.ts
  extensions/real-calc/src/utils/formatting.ts
  extensions/real-calc/src/utils/parsing.ts
  extensions/real-calc/tsconfig.json
Labels: new extension

#14341 [gcp-search] Use REST fallback when fetching projects
  extensions/google-cloud-platform-search/CHANGELOG.md
  extensions/google-cloud-platform-search/package-lock.json
  extensions/google-cloud-platform-search/package.json
  extensions/google-cloud-platform-search/src/projects.tsx
Labels: extension fix / improvement, OP is contributor, extension: google-cloud-platform-search

#14292 Update gif-search extension
  extensions/gif-search/CHANGELOG.md
  extensions/gif-search/README.md
  extensions/gif-search/package.json
  extensions/gif-search/src/components/GifActions.tsx
Labels: extension fix / improvement, extension: gif-search

#14308 Update search-mdn extension
  extensions/search-mdn/CHANGELOG.md
  extensions/search-mdn/src/hooks/use-result.ts
Labels: extension fix / improvement, OP is contributor, extension: search-mdn

#14353 Spotify: Update "Generate Playlist" to use GPT-4o mini
  extensions/spotify-player/CHANGELOG.md
  extensions/spotify-player/package-lock.json
  extensions/spotify-player/package.json
  extensions/spotify-player/src/generatePlaylist.tsx
Labels: extension fix / improvement, OP is contributor, extension: spotify-player

#14332 Update end-of-life extension
  extensions/end-of-life/CHANGELOG.md
  extensions/end-of-life/package.json
  extensions/end-of-life/src/components/ProductDetails.tsx
  extensions/end-of-life/src/hooks/useEndOfLifeProducts.ts
  extensions/end-of-life/src/hooks/useProductDetails.ts
  extensions/end-of-life/src/views/ProductsList.tsx
Labels: extension fix / improvement, OP is author, extension: end-of-life

#14381 [Brand.dev] Quick Search Argument + update categories
  extensions/brand-dev/CHANGELOG.md
  extensions/brand-dev/package-lock.json
  extensions/brand-dev/package.json
  extensions/brand-dev/src/retrieve-brands.tsx
Labels: extension fix / improvement, OP is author, extension: brand-dev

#14290 Update pdf-tools extension
  extensions/pdf-tools/CHANGELOG.md
  extensions/pdf-tools/README.md
  extensions/pdf-tools/metadata/pdf-tools-1.png
  extensions/pdf-tools/package-lock.json
  extensions/pdf-tools/package.json
  extensions/pdf-tools/src/watermark.ts
  extensions/pdf-tools/swift/Sources/PDFTools/Merge.swift
  extensions/pdf-tools/swift/Sources/PDFTools/Protect.swift
  extensions/pdf-tools/swift/Sources/PDFTools/SplitByFileSize.swift
  extensions/pdf-tools/swift/Sources/PDFTools/SplitByPageCount.swift
  extensions/pdf-tools/swift/Sources/PDFTools/Unlock.swift
  extensions/pdf-tools/swift/Sources/PDFTools/Utilities/Utilities.swift
  extensions/pdf-tools/swift/Sources/PDFTools/Watermark.swift
Labels: extension fix / improvement, OP is author, extension: pdf-tools

#14166 Add Kill Node Modules extension.
  extensions/kill-node-modules/.eslintrc.json
  extensions/kill-node-modules/.gitignore
  extensions/kill-node-modules/.prettierrc
  extensions/kill-node-modules/CHANGELOG.md
  extensions/kill-node-modules/README.md
  extensions/kill-node-modules/assets/extension-icon.png
  extensions/kill-node-modules/metadata/kill-node-modules-1.png
  extensions/kill-node-modules/metadata/kill-node-modules-2.png
  extensions/kill-node-modules/metadata/kill-node-modules-3.png
  extensions/kill-node-modules/metadata/kill-node-modules-4.png
  extensions/kill-node-modules/package-lock.json
  extensions/kill-node-modules/package.json
  extensions/kill-node-modules/src/hooks/useNodeModules.ts
  extensions/kill-node-modules/src/kill-node-modules.tsx
  extensions/kill-node-modules/src/utils/format.ts
  extensions/kill-node-modules/tsconfig.json
Labels: new extension

#14393 Update hoarder extension
  extensions/hoarder/CHANGELOG.md
  extensions/hoarder/src/search.tsx
Labels: extension fix / improvement, OP is author, extension: hoarder

#14306 Update arc extension
  extensions/arc/CHANGELOG.md
  extensions/arc/package.json
  extensions/arc/src/history.ts
  extensions/arc/src/list.tsx
  extensions/arc/src/search-downloads.tsx
  extensions/arc/src/search-history.tsx
  extensions/arc/src/search.tsx
  extensions/arc/src/sql.ts
  extensions/arc/src/types.ts
Labels: extension fix / improvement, extension: arc

#14399 Update pipedrive extension
  extensions/pipedrive/CHANGELOG.md
  extensions/pipedrive/package-lock.json
  extensions/pipedrive/src/index.tsx
Labels: extension fix / improvement, OP is author, extension: pipedrive

#14110 [Alpine.js] modernize + utilize useCachedPromise
  extensions/alpinejs-doc-search/.eslintrc.json
  extensions/alpinejs-doc-search/.gitignore
  extensions/alpinejs-doc-search/CHANGELOG.md
  extensions/alpinejs-doc-search/metadata/alpinejs-1.png
  extensions/alpinejs-doc-search/metadata/alpinejs-2.png
  extensions/alpinejs-doc-search/metadata/alpinejs-3.png
  extensions/alpinejs-doc-search/package-lock.json
  extensions/alpinejs-doc-search/package.json
  extensions/alpinejs-doc-search/src/alpinejs.tsx
Labels: extension fix / improvement, status: stalled, extension: alpinejs-doc-search

#14253 Update clean-keyboard extension
  extensions/clean-keyboard/.gitignore
  extensions/clean-keyboard/CHANGELOG.md
  extensions/clean-keyboard/metadata/clean-keyboard-1.png
  extensions/clean-keyboard/metadata/clean-keyboard-2.png
  extensions/clean-keyboard/package-lock.json
  extensions/clean-keyboard/package.json
  extensions/clean-keyboard/src/clean-keyboard.tsx
  extensions/clean-keyboard/swift/MyExecutable/Package.swift
  extensions/clean-keyboard/swift/MyExecutable/Sources/SwiftAPIKeyboard.swift
Labels: extension fix / improvement, extension: clean-keyboard

#14355 [Opsgenie] - Add Action to `Unacknowledge Alert` + modernize + EmptyViews + Optimized Updates + Caching
  extensions/opsgenie/.eslintrc.json
  extensions/opsgenie/.gitignore
  extensions/opsgenie/CHANGELOG.md
  extensions/opsgenie/README.md
  extensions/opsgenie/assets/1628..svg
  extensions/opsgenie/assets/6917..svg
  extensions/opsgenie/assets/fe6c..svg
  extensions/opsgenie/package-lock.json
  extensions/opsgenie/package.json
  extensions/opsgenie/src/alerts.tsx
  extensions/opsgenie/src/incidents.tsx
  extensions/opsgenie/src/preferences.ts
  extensions/opsgenie/src/types.ts
  extensions/opsgenie/src/useDebounce.ts
  extensions/opsgenie/tsconfig.json
Labels: extension fix / improvement, extension: opsgenie

#14307 Add cursor-directory extension
  extensions/cursor-directory/.eslintrc.json
  extensions/cursor-directory/.gitignore
  extensions/cursor-directory/.prettierrc
  extensions/cursor-directory/CHANGELOG.md
  extensions/cursor-directory/LICENSE
  extensions/cursor-directory/README.md
  extensions/cursor-directory/assets/extension-icon.png
  extensions/cursor-directory/metadata/cursor-directory-1.png
  extensions/cursor-directory/metadata/cursor-directory-2.png
  extensions/cursor-directory/metadata/cursor-directory-3.png
  extensions/cursor-directory/metadata/cursor-directory-4.png
  extensions/cursor-directory/package-lock.json
  extensions/cursor-directory/package.json
  extensions/cursor-directory/src/api.ts
  extensions/cursor-directory/src/components/PromptDetail.tsx
  extensions/cursor-directory/src/constants.ts
  extensions/cursor-directory/src/index.tsx
  extensions/cursor-directory/src/types.ts
  extensions/cursor-directory/src/utils.ts
  extensions/cursor-directory/tsconfig.json
Labels: new extension

#14330 [Linkwarden] Filter links by Collection + add link w/ collection + filter by collection + dev enhancements
  extensions/linkwarden/CHANGELOG.md
  extensions/linkwarden/metadata/linkwarden-1.png
  extensions/linkwarden/metadata/linkwarden-2.png
  extensions/linkwarden/metadata/linkwarden-3.png
  extensions/linkwarden/package-lock.json
  extensions/linkwarden/package.json
  extensions/linkwarden/src/add.tsx
  extensions/linkwarden/src/hooks.ts
  extensions/linkwarden/src/interfaces.ts
  extensions/linkwarden/src/search.tsx
Labels: extension fix / improvement, OP is contributor, extension: linkwarden

#14333 [Image Modification] Fix avifenc installation error
  extensions/sips/CHANGELOG.md
  extensions/sips/package-lock.json
  extensions/sips/package.json
  extensions/sips/src/utilities/avif.ts
Labels: extension fix / improvement, OP is author, extension: sips

#14359 [cPanel] Create Email Account + Filter DNS Records + View Files
  extensions/cpanel/CHANGELOG.md
  extensions/cpanel/README.md
  extensions/cpanel/metadata/cpanel-1.png
  extensions/cpanel/metadata/cpanel-2.png
  extensions/cpanel/metadata/cpanel-3.png
  extensions/cpanel/metadata/cpanel-4.png
  extensions/cpanel/package.json
  extensions/cpanel/src/domains.tsx
  extensions/cpanel/src/email-accounts.tsx
  extensions/cpanel/src/files.tsx
  extensions/cpanel/src/lib/hooks.ts
  extensions/cpanel/src/lib/types.ts
Labels: extension fix / improvement, OP is author, extension: cpanel

#14366 Update shadcn-ui extension
  extensions/shadcn-ui/CHANGELOG.md
  extensions/shadcn-ui/package.json
  extensions/shadcn-ui/src/search-components.tsx
Labels: extension fix / improvement, extension: shadcn-ui

#14180 Add better-deal extension
  extensions/better-deal/.eslintrc.json
  extensions/better-deal/.gitignore
  extensions/better-deal/.prettierrc
  extensions/better-deal/CHANGELOG.md
  extensions/better-deal/README.md
  extensions/better-deal/assets/extension_icon.png
  extensions/better-deal/metadata/better-deal-1.png
  extensions/better-deal/metadata/better-deal-2.png
  extensions/better-deal/package-lock.json
  extensions/better-deal/package.json
  extensions/better-deal/src/index.tsx
  extensions/better-deal/src/view.tsx
  extensions/better-deal/tsconfig.json
Labels: new extension

#14334 Add catppuccin extension
  extensions/catppuccin/.eslintrc.json
  extensions/catppuccin/.gitignore
  extensions/catppuccin/.prettierrc
  extensions/catppuccin/CHANGELOG.md
  extensions/catppuccin/README.md
  extensions/catppuccin/assets/extension-icon.png
  extensions/catppuccin/metadata/catppuccin-1.png
  extensions/catppuccin/metadata/catppuccin-2.png
  extensions/catppuccin/metadata/catppuccin-3.png
  extensions/catppuccin/metadata/catppuccin-4.png
  extensions/catppuccin/metadata/catppuccin-5.png
  extensions/catppuccin/metadata/catppuccin-6.png
  extensions/catppuccin/package-lock.json
  extensions/catppuccin/package.json
  extensions/catppuccin/src/open-docs.tsx
  extensions/catppuccin/src/search-palette.tsx
  extensions/catppuccin/src/search-ports.tsx
  extensions/catppuccin/src/search-userstyles.tsx
  extensions/catppuccin/tsconfig.json
Labels: new extension

#14378 Update safari extension
  extensions/safari/CHANGELOG.md
  extensions/safari/metadata/history.png
  extensions/safari/metadata/safari-1.png
  extensions/safari/metadata/safari-2.png
  extensions/safari/metadata/safari-3.png
  extensions/safari/metadata/screenshot-01.png
  extensions/safari/metadata/screenshot-02.png
  extensions/safari/metadata/tabs.png
  extensions/safari/package-lock.json
  extensions/safari/package.json
  extensions/safari/src/add-to-reading-list.ts
  extensions/safari/src/add-to-reading-list.tsx
  extensions/safari/src/cloud-tabs.tsx
  extensions/safari/src/components/AddToReadingListAction.tsx
  extensions/safari/src/components/BookmarkListItem.tsx
  extensions/safari/src/components/BookmarkListSection.tsx
  extensions/safari/src/components/BookmarksDropdown.tsx
  extensions/safari/src/components/CloseLocalTabAction.tsx
  extensions/safari/src/components/CopyMarkdownLinkAction.tsx
  extensions/safari/src/components/CopyTitleAction.tsx
  extensions/safari/src/components/CopyUrlAction.tsx
  extensions/safari/src/components/DefaultActions.tsx
  extensions/safari/src/components/DeviceListSection.tsx
  extensions/safari/src/components/FallbackSearchSection.tsx
  extensions/safari/src/components/HistoryListItem.tsx
  extensions/safari/src/components/HistoryListSection.tsx
  extensions/safari/src/components/OpenFullDiskAccessPreferencePane.tsx
  extensions/safari/src/components/OpenNewWindowAction.tsx
  extensions/safari/src/components/OpenTabAction.tsx
  extensions/safari/src/components/PermissionError.tsx
  extensions/safari/src/components/ReadingListSection.tsx
  extensions/safari/src/components/SearchInBrowserAction.tsx
  extensions/safari/src/components/TabListItem.tsx
  extensions/safari/src/components/index.tsx
  extensions/safari/src/hooks/useBookmarks.ts
  extensions/safari/src/hooks/useDevices.ts
  extensions/safari/src/hooks/useHistorySearch.ts
  extensions/safari/src/reading-list.tsx
  extensions/safari/src/search-bookmarks.tsx
  extensions/safari/src/search-history.tsx
  extensions/safari/src/utils.ts
Labels: extension fix / improvement, extension: safari

#14370 Update `NameSpaces` extension - migrate + close #14345 (reorder spaces) + `useLocalStorage` and `runAppleScript`
  extensions/namespaces/.eslintrc.json
  extensions/namespaces/.gitignore
  extensions/namespaces/CHANGELOG.md
  extensions/namespaces/metadata/namespaces-1.png
  extensions/namespaces/metadata/namespaces-2.png
  extensions/namespaces/metadata/namespaces-3.png
  extensions/namespaces/metadata/namespaces-4.png
  extensions/namespaces/package-lock.json
  extensions/namespaces/package.json
  extensions/namespaces/src/namespaces.tsx
  extensions/namespaces/src/types.tsx
  extensions/namespaces/src/utils.tsx
  extensions/namespaces/tsconfig.json
Labels: extension fix / improvement, extension: namespaces

#14371 [simctl] update icons + update images + rename actions
  extensions/simctl/CHANGELOG.md
  extensions/simctl/assets/list-icon.png
  extensions/simctl/assets/simulator-control-1.png
  extensions/simctl/metadata/simulator-control-1.png
  extensions/simctl/metadata/simulator-control-2.png
  extensions/simctl/package-lock.json
  extensions/simctl/package.json
  extensions/simctl/src/index.tsx
Labels: extension fix / improvement, OP is contributor, extension: simctl

#14372 Update repository-manager extension
  extensions/repository-manager/CHANGELOG.md
  extensions/repository-manager/README.md
  extensions/repository-manager/package.json
  extensions/repository-manager/src/components/AddToFavorites.tsx
  extensions/repository-manager/src/components/Config.tsx
  extensions/repository-manager/src/components/Copy.tsx
  extensions/repository-manager/src/components/DirectoriesDropdown.tsx
  extensions/repository-manager/src/components/GitStatisticsDetail.tsx
  extensions/repository-manager/src/components/OpenGitRemotes.tsx
  extensions/repository-manager/src/components/ProjectDetail.tsx
  extensions/repository-manager/src/components/ProjectListItem.tsx
  extensions/repository-manager/src/helpers.ts
  extensions/repository-manager/src/list.tsx
  extensions/repository-manager/src/project.ts
Labels: extension fix / improvement, OP is author, extension: repository-manager

#14387 Update ethereum-utils extension
  extensions/ethereum-utils/.eslintrc.json
  extensions/ethereum-utils/CHANGELOG.md
  extensions/ethereum-utils/package.json
  extensions/ethereum-utils/src/convert-decimals.tsx
Labels: extension fix / improvement, extension: ethereum-utils

#14377 Add count-numbers extension
  extensions/count-numbers/.eslintrc.json
  extensions/count-numbers/.gitignore
  extensions/count-numbers/.prettierrc
  extensions/count-numbers/CHANGELOG.md
  extensions/count-numbers/README.md
  extensions/count-numbers/assets/extension_icon.png
  extensions/count-numbers/metadata/count-numbers-1.png
  extensions/count-numbers/metadata/count-numbers-2.png
  extensions/count-numbers/metadata/count-numbers-3.png
  extensions/count-numbers/package-lock.json
  extensions/count-numbers/package.json
  extensions/count-numbers/src/count-numbers.jsx
Labels: new extension

#14419 Update prowlarr extension
  extensions/prowlarr/CHANGELOG.md
  extensions/prowlarr/metadata/prowlarr-1.png
  extensions/prowlarr/package.json
  extensions/prowlarr/src/prowlarrApi.ts
  extensions/prowlarr/src/search/SearchForm.tsx
  extensions/prowlarr/src/search/SearchResultAccessories.tsx
  extensions/prowlarr/src/search/SearchResultDetails.tsx
  extensions/prowlarr/src/search/SearchResultsList.tsx
  extensions/prowlarr/src/search/hooks/useCachedFetch.ts
  extensions/prowlarr/src/search/hooks/useCategories.ts
  extensions/prowlarr/src/search/hooks/useIndexers.ts
  extensions/prowlarr/src/search/types.tsx
  extensions/prowlarr/src/search/utils/formatBytes.tsx
  extensions/prowlarr/src/search/utils/getSearchResultSortPredicate.tsx
Labels: extension fix / improvement, OP is author, extension: prowlarr

#14376 Add nl-news-headlines extension
  extensions/nl-news-headlines/.eslintrc.json
  extensions/nl-news-headlines/.gitignore
  extensions/nl-news-headlines/.prettierrc
  extensions/nl-news-headlines/CHANGELOG.md
  extensions/nl-news-headlines/README.md
  extensions/nl-news-headlines/assets/nl-news.png
  extensions/nl-news-headlines/metadata/nl-news-headlines-1.png
  extensions/nl-news-headlines/package-lock.json
  extensions/nl-news-headlines/package.json
  extensions/nl-news-headlines/src/nl-news-headlines.tsx
  extensions/nl-news-headlines/tsconfig.json
Labels: new extension

#14424 Update anki extension
  extensions/anki/CHANGELOG.md
  extensions/anki/package-lock.json
  extensions/anki/package.json
  extensions/anki/src/browseCards.tsx
  extensions/anki/src/decks.tsx
  extensions/anki/src/hooks/useErrorHandling.ts
Labels: extension fix / improvement, OP is author, extension: anki

#14415 Fix typo in kill-node-modules extension.
  extensions/kill-node-modules/CHANGELOG.md
  extensions/kill-node-modules/src/kill-node-modules.tsx
Labels: extension fix / improvement, OP is author, extension: kill-node-modules

#14351 [Obsidian] Add fuzzy search option for notes
  extensions/obsidian/CHANGELOG.md
  extensions/obsidian/package-lock.json
  extensions/obsidian/package.json
  extensions/obsidian/src/components/NoteList/NoteList.tsx
  extensions/obsidian/src/utils/preferences.tsx
  extensions/obsidian/src/utils/search.tsx
Labels: extension fix / improvement, extension: obsidian

#14388 Add zeabur-docs extension
  extensions/zeabur-docs/.eslintrc.json
  extensions/zeabur-docs/.gitignore
  extensions/zeabur-docs/.prettierrc
  extensions/zeabur-docs/CHANGELOG.md
  extensions/zeabur-docs/LICENSE
  extensions/zeabur-docs/README.md
  extensions/zeabur-docs/assets/extension-icon.png
  extensions/zeabur-docs/metadata/zeabur-docs-1.png
  extensions/zeabur-docs/metadata/zeabur-docs-2.png
  extensions/zeabur-docs/metadata/zeabur-docs-3.png
  extensions/zeabur-docs/package-lock.json
  extensions/zeabur-docs/package.json
  extensions/zeabur-docs/src/search-documentation.tsx
  extensions/zeabur-docs/src/type.ts
  extensions/zeabur-docs/src/util.ts
  extensions/zeabur-docs/tsconfig.json
Labels: new extension

#14427 add status colors
  extensions/bonjour/CHANGELOG.md
  extensions/bonjour/src/list.tsx
  extensions/bonjour/src/menu.tsx
  extensions/bonjour/src/service.ts
Labels: extension fix / improvement, OP is author, extension: bonjour

#14430 [SnippetSurfer] Improve README
  extensions/snippetsurfer/CHANGELOG.md
  extensions/snippetsurfer/README.md
Labels: extension fix / improvement, extension: snippetsurfer

#14293 Add search-oeis extension
  extensions/search-oeis/.eslintrc.json
  extensions/search-oeis/.gitignore
  extensions/search-oeis/.prettierrc
  extensions/search-oeis/CHANGELOG.md
  extensions/search-oeis/README.md
  extensions/search-oeis/assets/extension-icon.png
  extensions/search-oeis/metadata/search-oeis-1.png
  extensions/search-oeis/metadata/search-oeis-2.png
  extensions/search-oeis/metadata/search-oeis-3.png
  extensions/search-oeis/metadata/search-oeis-4.png
  extensions/search-oeis/package-lock.json
  extensions/search-oeis/package.json
  extensions/search-oeis/src/search-oeis.tsx
  extensions/search-oeis/tsconfig.json
Labels: new extension

#14385 [Webflow] update logos + migrate + add TS types
  extensions/webflow-sites/.eslintrc.json
  extensions/webflow-sites/.gitignore
  extensions/webflow-sites/CHANGELOG.md
  extensions/webflow-sites/assets/webflow-128x128.png
  extensions/webflow-sites/assets/webflow-logo.png
  extensions/webflow-sites/assets/wf-logo-circle.svg
  extensions/webflow-sites/assets/wf-logo.svg
  extensions/webflow-sites/package-lock.json
  extensions/webflow-sites/package.json
  extensions/webflow-sites/src/index.tsx
  extensions/webflow-sites/tsconfig.json
Labels: extension fix / improvement, extension: webflow-sites

#14383 Add vant documentation extension
  extensions/vant-documentation/.eslintrc.json
  extensions/vant-documentation/.gitignore
  extensions/vant-documentation/.prettierrc
  extensions/vant-documentation/CHANGELOG.md
  extensions/vant-documentation/README.md
  extensions/vant-documentation/assets/vant-icon.png
  extensions/vant-documentation/metadata/vant-documentation-1.png
  extensions/vant-documentation/metadata/vant-documentation-2.png
  extensions/vant-documentation/package-lock.json
  extensions/vant-documentation/package.json
  extensions/vant-documentation/src/documentation-list.tsx
  extensions/vant-documentation/src/documentation/en-US.json
  extensions/vant-documentation/src/documentation/zh-CN.json
  extensions/vant-documentation/src/index.tsx
  extensions/vant-documentation/src/language-dropdown.tsx
  extensions/vant-documentation/src/type.ts
  extensions/vant-documentation/tsconfig.json
Labels: new extension

#14436 Update github extension
  extensions/github/CHANGELOG.md
  extensions/github/src/components/PullRequestCommits.tsx
Labels: extension fix / improvement, OP is contributor, extension: github

#14313 Add metube extension
  extensions/metube/.eslintrc.json
  extensions/metube/.gitignore
  extensions/metube/.prettierrc
  extensions/metube/CHANGELOG.md
  extensions/metube/README.md
  extensions/metube/assets/extension-icon.png
  extensions/metube/metadata/metube-1.png
  extensions/metube/package-lock.json
  extensions/metube/package.json
  extensions/metube/src/add-to-metube.tsx
  extensions/metube/src/clipboard-to-metube.ts
  extensions/metube/src/helper.ts
  extensions/metube/tsconfig.json
Labels: new extension

#14479 Update anna-s-archive extension
  extensions/anna-s-archive/CHANGELOG.md
  extensions/anna-s-archive/package-lock.json
  extensions/anna-s-archive/package.json
  extensions/anna-s-archive/src/components/ArchiveListItem.tsx
  extensions/anna-s-archive/src/constants/index.ts
  extensions/anna-s-archive/src/search-archives.tsx
Labels: extension fix / improvement, OP is author, extension: anna-s-archive

#14486 Update jsr extension
  extensions/jsr/CHANGELOG.md
  extensions/jsr/package-lock.json
  extensions/jsr/package.json
  extensions/jsr/src/components/ListItem.tsx
  extensions/jsr/src/hooks/useJSRAPI.tsx
  extensions/jsr/src/search-jsr.tsx
Labels: extension fix / improvement, OP is author, extension: jsr

#14461 [Pokédex] Add Weaknesses command
  extensions/pokedex/CHANGELOG.md
  extensions/pokedex/README.md
  extensions/pokedex/assets/body-style/1.png
  extensions/pokedex/assets/body-style/10.png
  extensions/pokedex/assets/body-style/11.png
  extensions/pokedex/assets/body-style/12.png
  extensions/pokedex/assets/body-style/13.png
  extensions/pokedex/assets/body-style/14.png
  extensions/pokedex/assets/body-style/2.png
  extensions/pokedex/assets/body-style/3.png
  extensions/pokedex/assets/body-style/4.png
  extensions/pokedex/assets/body-style/5.png
  extensions/pokedex/assets/body-style/6.png
  extensions/pokedex/assets/body-style/7.png
  extensions/pokedex/assets/body-style/8.png
  extensions/pokedex/assets/body-style/9.png
  extensions/pokedex/assets/types/bug.svg
  extensions/pokedex/assets/types/dark.svg
  extensions/pokedex/assets/types/dragon.svg
  extensions/pokedex/assets/types/electric.svg
  extensions/pokedex/assets/types/fairy.svg
  extensions/pokedex/assets/types/fighting.svg
  extensions/pokedex/assets/types/fire.svg
  extensions/pokedex/assets/types/flying.svg
  extensions/pokedex/assets/types/ghost.svg
  extensions/pokedex/assets/types/grass.svg
  extensions/pokedex/assets/types/ground.svg
  extensions/pokedex/assets/types/ice.svg
  extensions/pokedex/assets/types/normal.svg
  extensions/pokedex/assets/types/poison.svg
  extensions/pokedex/assets/types/psychic.svg
  extensions/pokedex/assets/types/rock.svg
  extensions/pokedex/assets/types/steel.svg
  extensions/pokedex/assets/types/water.svg
  extensions/pokedex/metadata/pokedex-1.png
  extensions/pokedex/metadata/pokedex-2.png
  extensions/pokedex/metadata/pokedex-3.png
  extensions/pokedex/metadata/pokedex-4.png
  extensions/pokedex/metadata/pokedex-5.png
  extensions/pokedex/metadata/pokedex-6.png
  extensions/pokedex/package-lock.json
  extensions/pokedex/package.json
  extensions/pokedex/src/ability.tsx
  extensions/pokedex/src/api/index.ts
  extensions/pokedex/src/components/detail.tsx
  extensions/pokedex/src/components/encounter.tsx
  extensions/pokedex/src/components/form.tsx
  extensions/pokedex/src/components/metadata/pokemon.tsx
  extensions/pokedex/src/components/metadata/weakness.tsx
  extensions/pokedex/src/components/move.tsx
  extensions/pokedex/src/move.tsx
  extensions/pokedex/src/pokemon.tsx
  extensions/pokedex/src/statics/abilities.json
  extensions/pokedex/src/statics/damage_relations.json
  extensions/pokedex/src/statics/moves.json
  extensions/pokedex/src/types/index.ts
  extensions/pokedex/src/utils/index.ts
  extensions/pokedex/src/weakness.tsx
Labels: extension fix / improvement, OP is author, extension: pokedex

#14488 Update svgl extension
  extensions/svgl/CHANGELOG.md
  extensions/svgl/src/components/actions/copy-svg-url-actions.tsx
  extensions/svgl/src/components/actions/copy-wordmark-svg-url-actions.tsx
  extensions/svgl/src/components/svg-action.tsx
Labels: extension fix / improvement, OP is contributor, extension: svgl

#14497 Update supernotes extension
  extensions/supernotes/.prettierrc
  extensions/supernotes/.vscode/raycast-extension.code-workspace
  extensions/supernotes/CHANGELOG.md
  extensions/supernotes/README.md
  extensions/supernotes/package-lock.json
  extensions/supernotes/package.json
  extensions/supernotes/src/api/schema.ts
  extensions/supernotes/src/api/superfetch.ts
  extensions/supernotes/src/components/CardDetail.tsx
  extensions/supernotes/src/components/CardListItem.tsx
  extensions/supernotes/src/components/CommonCardActions.tsx
  extensions/supernotes/src/create.tsx
  extensions/supernotes/src/hooks/useCreate.tsx
  extensions/supernotes/src/hooks/useJunk.tsx
  extensions/supernotes/src/hooks/useRecent.tsx
  extensions/supernotes/src/hooks/useSearch.tsx
  extensions/supernotes/src/search.tsx
  extensions/supernotes/src/send.tsx
  extensions/supernotes/src/utils/defines.ts
  extensions/supernotes/src/utils/helpers.ts
  extensions/supernotes/src/utils/mapping.ts
  extensions/supernotes/src/utils/senders.ts
  extensions/supernotes/src/utils/types.ts
  extensions/supernotes/tsconfig.json
Labels: extension fix / improvement, OP is author, extension: supernotes

#14494 Update jsr extension
  extensions/jsr/CHANGELOG.md
  extensions/jsr/src/components/CopyActions.tsx
  extensions/jsr/src/components/ItemDetails.tsx
  extensions/jsr/src/components/ListItem.tsx
  extensions/jsr/src/components/VersionList.tsx
  extensions/jsr/src/hooks/useJSRAPI.ts
  extensions/jsr/src/hooks/useJSRAPI.tsx
  extensions/jsr/src/hooks/useJSRAPIStats.tsx
  extensions/jsr/src/hooks/useJSRSearch.ts
  extensions/jsr/src/hooks/useSelectedPackage.ts
  extensions/jsr/src/search-jsr.tsx
  extensions/jsr/src/types/index.ts
Labels: extension fix / improvement, OP is author, extension: jsr

#14491 Update tidal-controller extension
  extensions/tidal-controller/CHANGELOG.md
  extensions/tidal-controller/package.json
  extensions/tidal-controller/src/next-song.ts
  extensions/tidal-controller/src/pause.ts
  extensions/tidal-controller/src/play-pause.ts
  extensions/tidal-controller/src/play.ts
  extensions/tidal-controller/src/prev-song.ts
  extensions/tidal-controller/src/shuffle.ts
  extensions/tidal-controller/src/util/fn.ts
  extensions/tidal-controller/src/util/lang.ts
Labels: extension fix / improvement, OP is author, extension: tidal-controller

#14500 Update docsearch extension
  extensions/docsearch/CHANGELOG.md
  extensions/docsearch/README.md
  extensions/docsearch/assets/developer_tools_Meilisearch.png
  extensions/docsearch/assets/docsearch.png
  extensions/docsearch/assets/logo/antdv.png
  extensions/docsearch/assets/logo/apollo.png
  extensions/docsearch/assets/logo/clerk.png
  extensions/docsearch/assets/logo/deno.png
  extensions/docsearch/assets/logo/flet.png
  extensions/docsearch/assets/logo/gitbook.png
  extensions/docsearch/assets/logo/less.png
  extensions/docsearch/assets/logo/nuxt.png
  extensions/docsearch/assets/logo/nvchad.png
  extensions/docsearch/assets/logo/nvim.png
  extensions/docsearch/assets/logo/remix.png
  extensions/docsearch/assets/logo/sass.png
  extensions/docsearch/assets/logo/slidev.png
  extensions/docsearch/assets/logo/tauri.png
  extensions/docsearch/assets/logo/typescript.png
  extensions/docsearch/assets/logo/unidata.png
  extensions/docsearch/assets/logo/vuepress.png
  extensions/docsearch/assets/logo/vuetify.png
  extensions/docsearch/metadata/docsearch-1.png
  extensions/docsearch/metadata/docsearch-2.png
  extensions/docsearch/metadata/docsearch-3.png
  extensions/docsearch/metadata/docsearch-4.png
  extensions/docsearch/metadata/docsearch-5.png
  extensions/docsearch/metadata/docsearch-6.png
  extensions/docsearch/package-lock.json
  extensions/docsearch/package.json
  extensions/docsearch/src/components/SearchDocumentation.tsx
  extensions/docsearch/src/data/apis.ts
  extensions/docsearch/src/deno.tsx
  extensions/docsearch/src/less.tsx
  extensions/docsearch/src/neovim.tsx
  extensions/docsearch/src/sass.tsx
  extensions/docsearch/src/typescript.tsx
  extensions/docsearch/src/utils/formatHitsUrl.ts
  extensions/docsearch/src/utils/generateContent.ts
  extensions/docsearch/src/utils/getTitle.ts
Labels: extension fix / improvement, OP is author, extension: docsearch

#14499 Update bilibili extension
  extensions/Bilibili/CHANGELOG.md
  extensions/Bilibili/package.json
  extensions/Bilibili/src/apis/api.ts
  extensions/Bilibili/src/apis/checkLogin.ts
  extensions/Bilibili/src/apis/checkQRCode.ts
  extensions/Bilibili/src/apis/gennerateQRCode.ts
  extensions/Bilibili/src/apis/getCid.ts
  extensions/Bilibili/src/apis/getConclsion.ts
  extensions/Bilibili/src/apis/getDynamicFeed.ts
  extensions/Bilibili/src/apis/getPlayUrl.ts
  extensions/Bilibili/src/apis/getRcmd.ts
  extensions/Bilibili/src/apis/getSearchVideos.ts
  extensions/Bilibili/src/apis/getVideoInfo.ts
  extensions/Bilibili/src/apis/index.ts
  extensions/Bilibili/src/apis/logout.ts
  extensions/Bilibili/src/apis/postHeartbeat.ts
  extensions/Bilibili/src/components/checkLogin.tsx
  extensions/Bilibili/src/components/conslusionView.tsx
  extensions/Bilibili/src/components/index.ts
  extensions/Bilibili/src/components/post.tsx
  extensions/Bilibili/src/components/video.tsx
  extensions/Bilibili/src/dynamicFeed.tsx
  extensions/Bilibili/src/hooks/index.ts
  extensions/Bilibili/src/hooks/useDynamicFeed.ts
  extensions/Bilibili/src/hooks/useLogin.ts
  extensions/Bilibili/src/hooks/useRcmdVideos.ts
  extensions/Bilibili/src/hooks/useSearchVideos.ts
  extensions/Bilibili/src/login.tsx
  extensions/Bilibili/src/notifications.tsx
  extensions/Bilibili/src/rcmdVideos.tsx
  extensions/Bilibili/src/searchVideos.tsx
  extensions/Bilibili/src/types.ts
  extensions/Bilibili/src/utils/encWbi.ts
  extensions/Bilibili/src/utils/index.ts
  extensions/Bilibili/src/utils/tools.ts
Labels: extension fix / improvement, OP is author, extension: bilibili

#14458 [Raindrop-io] Add title field #14363
  extensions/raindrop-io/CHANGELOG.md
  extensions/raindrop-io/src/components/CreateForm.tsx
  extensions/raindrop-io/src/types.ts
Labels: extension fix / improvement, OP is contributor, extension: raindrop-io

#14472 Add title max length setting to menubar-calendar extension
  extensions/menubar-calendar/CHANGELOG.md
  extensions/menubar-calendar/package.json
  extensions/menubar-calendar/src/index.tsx
  extensions/menubar-calendar/src/types/preferences.ts
Labels: extension fix / improvement, extension: menubar-calendar

#14454 [ChatGPT Quick Actions] Add "Transform" and "Preview Transform" commands
  extensions/chatgpt-quick-actions/CHANGELOG.md
  extensions/chatgpt-quick-actions/package.json
  extensions/chatgpt-quick-actions/src/transform.tsx
  extensions/chatgpt-quick-actions/src/transform_preview.tsx
Labels: extension fix / improvement, extension: chatgpt-quick-actions

#14521 Update catppuccin extension
  extensions/catppuccin/CHANGELOG.md
  extensions/catppuccin/package-lock.json
  extensions/catppuccin/package.json
  extensions/catppuccin/src/components/SearchList.tsx
  extensions/catppuccin/src/hooks/useFetchData.ts
  extensions/catppuccin/src/search-palette.tsx
  extensions/catppuccin/src/search-ports.tsx
  extensions/catppuccin/src/search-userstyles.tsx
  extensions/catppuccin/src/types.ts
  extensions/catppuccin/src/utils/data.util.ts
Labels: extension fix / improvement, OP is author, extension: catppuccin

#14531 Update Fix Link Embeds extension
  extensions/fix-link-embeds/CHANGELOG.md
  extensions/fix-link-embeds/src/assets/regexList.ts
Labels: extension fix / improvement, OP is author, extension: fix-link-embeds

#14539 Update tiny-tycho extension
  extensions/tiny-tycho/CHANGELOG.md
  extensions/tiny-tycho/README.md
  extensions/tiny-tycho/metadata/tiny-tycho-1.png
  extensions/tiny-tycho/metadata/tiny-tycho-2.png
  extensions/tiny-tycho/metadata/tiny-tycho-3.png
  extensions/tiny-tycho/src/index.tsx
Labels: extension fix / improvement, OP is author, extension: tiny-tycho

#14538 Add support for default editor/terminal (#14511)
  extensions/tower/CHANGELOG.md
  extensions/tower/package.json
  extensions/tower/src/components/bookmark-list-item.tsx
  extensions/tower/src/components/bookmark-list.tsx
Labels: extension fix / improvement, OP is author, extension: tower

#14516 Update shortcuts-search extension
  extensions/shortcuts-search/CHANGELOG.md
  extensions/shortcuts-search/README.md
  extensions/shortcuts-search/package-lock.json
  extensions/shortcuts-search/package.json
  extensions/shortcuts-search/src/all-shortcuts.tsx
  extensions/shortcuts-search/src/app-shortcuts.tsx
  extensions/shortcuts-search/src/engine/frontmost-hostname-fetcher.tsx
  extensions/shortcuts-search/src/engine/shortcut-runner.ts
  extensions/shortcuts-search/src/load/input-parser.ts
  extensions/shortcuts-search/src/load/shortcuts-provider.ts
  extensions/shortcuts-search/src/model/input/input-models.ts
  extensions/shortcuts-search/src/model/internal/bundle-id-remover.ts
  extensions/shortcuts-search/src/model/internal/internal-models.ts
  extensions/shortcuts-search/src/model/internal/subtitle-formatter.ts
  extensions/shortcuts-search/src/view/exit-action.ts
  extensions/shortcuts-search/src/view/hotkey-text-formatter.ts
  extensions/shortcuts-search/src/view/keymap-dropdown.tsx
  extensions/shortcuts-search/src/view/shortcuts-list.tsx
  extensions/shortcuts-search/src/web-shortcuts.tsx
Labels: extension fix / improvement, OP is author, extension: shortcuts-search

#14288 Add smartthings-connector extension
  extensions/smartthings-connector/.eslintrc.js
  extensions/smartthings-connector/CHANGELOG.md
  extensions/smartthings-connector/LICENSE
  extensions/smartthings-connector/README.md
  extensions/smartthings-connector/assets/smartthings_white.png
  extensions/smartthings-connector/metadata/Raycast 2024-09-10 at 18.15.55.png
  extensions/smartthings-connector/metadata/smartthings-connector 2024-09-10 at 18.16.11.png
  extensions/smartthings-connector/metadata/smartthings-connector 2024-09-10 at 18.16.20.png
  extensions/smartthings-connector/metadata/smartthings-connector 2024-09-10 at 18.16.28.png
  extensions/smartthings-connector/metadata/smartthings-connector 2024-09-10 at 18.16.46.png
  extensions/smartthings-connector/metadata/smartthings-connector 2024-09-10 at 18.16.54.png
  extensions/smartthings-connector/package-lock.json
  extensions/smartthings-connector/package.json
  extensions/smartthings-connector/src/fetchDevices.ts
  extensions/smartthings-connector/src/fetchLocationModes.ts
  extensions/smartthings-connector/src/fetchRooms.ts
  extensions/smartthings-connector/src/show-all-devices.tsx
  extensions/smartthings-connector/src/show-lights.tsx
  extensions/smartthings-connector/src/show-location-mode.tsx
  extensions/smartthings-connector/src/show-rooms.tsx
  extensions/smartthings-connector/src/show-scenes.tsx
  extensions/smartthings-connector/src/toggleLight.ts
  extensions/smartthings-connector/src/types.ts
  extensions/smartthings-connector/tsconfig.json
Labels: new extension

#14546 Update advice-slip extension
  extensions/advice-slip/CHANGELOG.md
  extensions/advice-slip/package-lock.json
  extensions/advice-slip/src/get-advice.tsx
Labels: extension fix / improvement, OP is author, extension: advice-slip

#14410 Update quick event extension
  extensions/quick-event/CHANGELOG.md
  extensions/quick-event/package-lock.json
  extensions/quick-event/package.json
  extensions/quick-event/src/dates.ts
  extensions/quick-event/src/index.tsx
Labels: extension fix / improvement, extension: quick-event

#14416 Add jurassic-ninja-site-generator extension
  extensions/jurassic-ninja-site-generator/.eslintrc.json
  extensions/jurassic-ninja-site-generator/.gitignore
  extensions/jurassic-ninja-site-generator/.prettierrc
  extensions/jurassic-ninja-site-generator/CHANGELOG.md
  extensions/jurassic-ninja-site-generator/README.md
  extensions/jurassic-ninja-site-generator/assets/jn-bright.png
  extensions/jurassic-ninja-site-generator/assets/jn-dark.png
  extensions/jurassic-ninja-site-generator/metadata/jurassic-ninja-site-generator-1.png
  extensions/jurassic-ninja-site-generator/metadata/jurassic-ninja-site-generator-2.png
  extensions/jurassic-ninja-site-generator/metadata/jurassic-ninja-site-generator-3.png
  extensions/jurassic-ninja-site-generator/package-lock.json
  extensions/jurassic-ninja-site-generator/package.json
  extensions/jurassic-ninja-site-generator/src/jurassic-ninja.tsx
  extensions/jurassic-ninja-site-generator/tsconfig.json
Labels: new extension

#14432 [ImprovMX] filter or download domain log
  extensions/improvmx/CHANGELOG.md
  extensions/improvmx/package-lock.json
  extensions/improvmx/package.json
  extensions/improvmx/src/create-alias.tsx
  extensions/improvmx/src/manage-domain-and-aliases.tsx
Labels: extension fix / improvement, OP is contributor, extension: improvmx

#14567 Update unicode-symbols extension
  extensions/unicode-symbols/CHANGELOG.md
  extensions/unicode-symbols/assets/dataset.json
  extensions/unicode-symbols/assets/exclamation-outline.svg
  extensions/unicode-symbols/package-lock.json
  extensions/unicode-symbols/package.json
  extensions/unicode-symbols/scripts/generate-dataset.ts
  extensions/unicode-symbols/src/components/CharacterActionPanel.tsx
  extensions/unicode-symbols/src/components/GridItem.tsx
  extensions/unicode-symbols/src/components/ItemGrid.tsx
  extensions/unicode-symbols/src/components/ItemList.tsx
  extensions/unicode-symbols/src/context/ListContext.tsx
  extensions/unicode-symbols/src/lib/dataset-manager.ts
  extensions/unicode-symbols/src/lib/preferences.ts
  extensions/unicode-symbols/src/types/index.ts
  extensions/unicode-symbols/src/utils/list.ts
  extensions/unicode-symbols/src/utils/string.ts
Labels: extension fix / improvement, OP is contributor, extension: unicode-symbols

#14573 Update raycast-icons extension
  extensions/raycast-icons/CHANGELOG.md
  extensions/raycast-icons/package-lock.json
  extensions/raycast-icons/package.json
  extensions/raycast-icons/src/components/IconGrid.tsx
  extensions/raycast-icons/src/components/LoadingAnimation.tsx
  extensions/raycast-icons/src/hooks/useIconSearch.ts
  extensions/raycast-icons/src/index.tsx
  extensions/raycast-icons/src/utils.ts
Labels: extension fix / improvement, OP is contributor, extension: raycast-icons

#14558 fix(gitfox): bug that caused "Maximum call stack size exceeded"
  extensions/gitfox/.eslintrc.json
  extensions/gitfox/.gitignore
  extensions/gitfox/.prettierrc
  extensions/gitfox/CHANGELOG.md
  extensions/gitfox/package-lock.json
  extensions/gitfox/package.json
  extensions/gitfox/src/components/bookmark-list-item.tsx
  extensions/gitfox/src/components/bookmark-list.tsx
  extensions/gitfox/src/dtos/bookmark-dto.ts
  extensions/gitfox/src/index.tsx
  extensions/gitfox/src/utils.ts
  extensions/gitfox/tsconfig.json
Labels: extension fix / improvement, OP is author, extension: gitfox

#14444 Update xcode extension
  extensions/xcode/CHANGELOG.md
  extensions/xcode/package.json
  extensions/xcode/src/components/xcode-project-list/xcode-project-list-search-bar-accessory.component.tsx
  extensions/xcode/src/components/xcode-project-list/xcode-project-list.component.tsx
  extensions/xcode/src/search-recent-projects.command.tsx
Labels: extension fix / improvement, extension: xcode

#14448 [Easydict v2.9.3] 🐞 fix: bing host is incorrect if check ip failed
  extensions/easydict/CHANGELOG.md
  extensions/easydict/package.json
  extensions/easydict/src/checkIP.ts
  extensions/easydict/src/consts.ts
  extensions/easydict/src/preferences.ts
  extensions/easydict/src/releaseVersion/versionInfo.ts
  extensions/easydict/src/translation/microsoft/bing.ts
Labels: extension fix / improvement, OP is author, extension: easydict

#14450 Update nl-news-headlines extension
  extensions/nl-news-headlines/.gitignore
  extensions/nl-news-headlines/CHANGELOG.md
  extensions/nl-news-headlines/README.md
  extensions/nl-news-headlines/package.json
  extensions/nl-news-headlines/src/nl-news-headlines.tsx
Labels: extension fix / improvement, OP is author, extension: nl-news-headlines

#14459 [Jira] Persist previously selected filter for My Filters
  extensions/jira/CHANGELOG.md
  extensions/jira/src/my-filters.tsx
Labels: extension fix / improvement, extension: jira

#14466 Add `Groundhog Day` extension - fun extension for North America’s prophetic prognosticators
  extensions/groundhog-day/.eslintrc.json
  extensions/groundhog-day/.gitignore
  extensions/groundhog-day/.prettierrc
  extensions/groundhog-day/CHANGELOG.md
  extensions/groundhog-day/README.md
  extensions/groundhog-day/assets/groundhog.png
  extensions/groundhog-day/assets/groundhog@dark.png
  extensions/groundhog-day/metadata/groundhog-day-1.png
  extensions/groundhog-day/metadata/groundhog-day-2.png
  extensions/groundhog-day/metadata/groundhog-day-3.png
  extensions/groundhog-day/package-lock.json
  extensions/groundhog-day/package.json
  extensions/groundhog-day/src/groundhogs.tsx
  extensions/groundhog-day/src/types.ts
  extensions/groundhog-day/tsconfig.json
Labels: new extension

#14469 [URL Tools] Modernize + remove extra deps + update author handle + add .md files
  extensions/url-tools/.eslintrc.json
  extensions/url-tools/.gitignore
  extensions/url-tools/CHANGELOG.md
  extensions/url-tools/package-lock.json
  extensions/url-tools/package.json
  extensions/url-tools/src/decode.tsx
  extensions/url-tools/src/encode.tsx
  extensions/url-tools/src/util/clipboard.ts
  extensions/url-tools/tsconfig.json
Labels: extension fix / improvement, extension: url-tools, Ready to merge

#14498 [Spotify Player] – Fix showing "Nothing is playing" hud
  extensions/spotify-player/CHANGELOG.md
  extensions/spotify-player/src/dislike.ts
  extensions/spotify-player/src/helpers/safeCommandLauncher.ts
  extensions/spotify-player/src/like.ts
  extensions/spotify-player/src/next.ts
  extensions/spotify-player/src/previous.ts
Labels: extension fix / improvement, OP is author, OP is contributor, extension: spotify-player, Ready to merge

#14563 Update putio extension
  extensions/putio/.node-version
  extensions/putio/CHANGELOG.md
  extensions/putio/LICENSE
  extensions/putio/README.md
  extensions/putio/package-lock.json
  extensions/putio/package.json
  extensions/putio/src/api/files.ts
  extensions/putio/src/api/withPutioClient.tsx
  extensions/putio/src/components/FileListItemActions.tsx
  extensions/putio/src/history.tsx
  extensions/putio/src/search-files.tsx
  extensions/putio/src/transfers.tsx
  extensions/putio/src/utils/index.ts
  extensions/putio/tsconfig.json
Labels: extension fix / improvement, OP is author, extension: putio

#14568 Update mercury extension
  extensions/mercury/CHANGELOG.md
  extensions/mercury/package.json
  extensions/mercury/src/ai-account-summary.tsx
Labels: extension fix / improvement, OP is author, extension: mercury

#14164 Add `IndieHackers` extension (browse IH posts)
  extensions/indiehackers/.eslintrc.json
  extensions/indiehackers/.gitignore
  extensions/indiehackers/.prettierrc
  extensions/indiehackers/CHANGELOG.md
  extensions/indiehackers/README.md
  extensions/indiehackers/assets/indie-hackers.png
  extensions/indiehackers/metadata/indiehackers-1.png
  extensions/indiehackers/metadata/indiehackers-2.png
  extensions/indiehackers/metadata/indiehackers-3.png
  extensions/indiehackers/package-lock.json
  extensions/indiehackers/package.json
  extensions/indiehackers/src/browse-posts.tsx
  extensions/indiehackers/src/get-group-icon.ts
  extensions/indiehackers/src/groups.json
  extensions/indiehackers/src/items.tsx
  extensions/indiehackers/src/use-get-items.ts
  extensions/indiehackers/tsconfig.json
Labels: new extension

#14510 chore: update to uploadthing v7
  extensions/uploadthing/CHANGELOG.md
  extensions/uploadthing/package-lock.json
  extensions/uploadthing/package.json
  extensions/uploadthing/src/lib/file-grid.tsx
  extensions/uploadthing/src/lib/hooks.tsx
  extensions/uploadthing/src/lib/utils.tsx
  extensions/uploadthing/src/lib/web-polyfill.ts
  extensions/uploadthing/src/upload-files.tsx
  extensions/uploadthing/src/upload-from-clipboard.tsx
Labels: extension fix / improvement, OP is author, extension: uploadthing

#14575 Update raycast-explorer extension
  extensions/raycast-explorer/CHANGELOG.md
  extensions/raycast-explorer/README.md
  extensions/raycast-explorer/assets/quicklinks-icon.png
  extensions/raycast-explorer/package.json
  extensions/raycast-explorer/src/data/quicklinks.ts
  extensions/raycast-explorer/src/explore-quicklinks.tsx
Labels: extension fix / improvement, OP is contributor, extension: raycast-explorer

#14552 Update tinypng extension
  extensions/tinypng/.eslintrc.json
  extensions/tinypng/.gitignore
  extensions/tinypng/CHANGELOG.md
  extensions/tinypng/package-lock.json
  extensions/tinypng/package.json
  extensions/tinypng/src/compressImages.ts
  extensions/tinypng/src/lib/zodSchema.ts
  extensions/tinypng/src/resizingImages.ts
  extensions/tinypng/src/types.ts
  extensions/tinypng/tsconfig.json
Labels: extension fix / improvement, extension: tinypng

#14503 Add pastefy extension
  .github/public_raycast_extensions.txt
  extensions/pastefy/.eslintrc.json
  extensions/pastefy/.gitignore
  extensions/pastefy/.prettierrc
  extensions/pastefy/CHANGELOG.md
  extensions/pastefy/README.md
  extensions/pastefy/assets/extension-icon.png
  extensions/pastefy/metadata/pastefy-1.png
  extensions/pastefy/metadata/pastefy-2.png
  extensions/pastefy/metadata/pastefy-3.png
  extensions/pastefy/package-lock.json
  extensions/pastefy/package.json
  extensions/pastefy/src/pastefy-list.tsx
  extensions/pastefy/src/pastefy.tsx
  extensions/pastefy/tsconfig.json
Labels: new extension

#14597 Update snippetsurfer extension
  extensions/snippetsurfer/CHANGELOG.md
  extensions/snippetsurfer/README.md
  extensions/snippetsurfer/src/components/SnippetContent.tsx
  extensions/snippetsurfer/src/search-snippets.tsx
Labels: extension fix / improvement, OP is author, extension: snippetsurfer

#14596 Update brew extension
  extensions/brew/CHANGELOG.md
  extensions/brew/package.json
  extensions/brew/src/brew.ts
  extensions/brew/src/components/actionPanels.tsx
  extensions/brew/src/components/formulaInfo.tsx
Labels: extension fix / improvement, extension: brew

#14593 [Pokédex] Enhanced Pokédex Experience
  extensions/pokedex/CHANGELOG.md
  extensions/pokedex/README.md
  extensions/pokedex/eslint.config.mjs
  extensions/pokedex/package-lock.json
  extensions/pokedex/package.json
  extensions/pokedex/src/ability.tsx
  extensions/pokedex/src/api/index.ts
  extensions/pokedex/src/components/form.tsx
  extensions/pokedex/src/components/metadata/weakness.tsx
  extensions/pokedex/src/components/move.tsx
  extensions/pokedex/src/components/profile.tsx
  extensions/pokedex/src/move.tsx
  extensions/pokedex/src/pokemon.tsx
  extensions/pokedex/src/statics/damage_relations.json
  extensions/pokedex/src/statics/pokedex.json
  extensions/pokedex/src/types/index.ts
  extensions/pokedex/src/utils/index.ts
  extensions/pokedex/src/weakness.tsx
Labels: extension fix / improvement, OP is author, extension: pokedex

#14591 Update search-joplin-notes extension
  extensions/search-joplin-notes/CHANGELOG.md
  extensions/search-joplin-notes/package.json
  extensions/search-joplin-notes/src/utils/constants.ts
Labels: extension fix / improvement, OP is author, extension: search-joplin-notes

#14611 [Brand Icons] Milestone and chore updates
  extensions/simple-icons/CHANGELOG.md
  extensions/simple-icons/README.md
  extensions/simple-icons/package-lock.json
  extensions/simple-icons/package.json
Labels: extension fix / improvement, OP is author, extension: simple-icons

#14286 [Dropbox] Optional BYOK + error typing + improve deps
  extensions/dropbox/.eslintrc.json
  extensions/dropbox/.gitignore
  extensions/dropbox/CHANGELOG.md
  extensions/dropbox/README.md
  extensions/dropbox/metadata/dropbox-1.png
  extensions/dropbox/package-lock.json
  extensions/dropbox/package.json
  extensions/dropbox/src/api/dropbox.ts
  extensions/dropbox/src/api/index.ts
  extensions/dropbox/src/api/preference.ts
  extensions/dropbox/src/components/Directory.tsx
  extensions/dropbox/src/components/DirectoryItem.tsx
  extensions/dropbox/src/components/FileItem.tsx
  extensions/dropbox/tsconfig.json
Labels: extension fix / improvement, extension: dropbox

#14446 Add Recap extension
  extensions/recap/.eslintrc.json
  extensions/recap/.gitignore
  extensions/recap/.prettierrc
  extensions/recap/CHANGELOG.md
  extensions/recap/README.md
  extensions/recap/assets/extension-icon.png
  extensions/recap/metadata/recap-1.png
  extensions/recap/metadata/recap-2.png
  extensions/recap/metadata/recap-3.png
  extensions/recap/package-lock.json
  extensions/recap/package.json
  extensions/recap/src/add-reminder.tsx
  extensions/recap/src/show-reminders.tsx
  extensions/recap/tsconfig.json
Labels: new extension

#14229 feat: add physical devices support
  extensions/minisim/CHANGELOG.md
  extensions/minisim/src/DeviceList.tsx
  extensions/minisim/src/actions.ts
  extensions/minisim/src/index.tsx
  extensions/minisim/src/types.ts
  extensions/minisim/src/useDevices.ts
Labels: extension fix / improvement, extension: minisim

#14609 fix(Timers): date fmt, residual timer files, ring continuously alert
  extensions/timers/CHANGELOG.md
  extensions/timers/src/backend/formatUtils.ts
  extensions/timers/src/backend/timerBackend.ts
  extensions/timers/src/backend/utils.ts
Labels: extension fix / improvement, OP is author, extension: timers

#14506 Update bundlephobia-search extension
  extensions/bundlephobia-search/CHANGELOG.md
  extensions/bundlephobia-search/assets/icon.png
  extensions/bundlephobia-search/metadata/screenshot-1.png
  extensions/bundlephobia-search/metadata/screenshot-2.png
  extensions/bundlephobia-search/package-lock.json
  extensions/bundlephobia-search/package.json
  extensions/bundlephobia-search/src/components/details.tsx
  extensions/bundlephobia-search/src/components/list-item.tsx
Labels: extension fix / improvement, extension: bundlephobia-search

#14507 Update kaalam extension
  extensions/kaalam/CHANGELOG.md
  extensions/kaalam/src/index.tsx
Labels: extension fix / improvement, OP is contributor, extension: kaalam

#14514 Add `Coolify` extension - Manage Coolify instance
  extensions/coolify/.eslintrc.json
  extensions/coolify/.gitignore
  extensions/coolify/.prettierrc
  extensions/coolify/CHANGELOG.md
  extensions/coolify/README.md
  extensions/coolify/assets/coolify.png
  extensions/coolify/metadata/coolify-1.png
  extensions/coolify/metadata/coolify-2.png
  extensions/coolify/metadata/coolify-3.png
  extensions/coolify/metadata/coolify-4.png
  extensions/coolify/package-lock.json
  extensions/coolify/package.json
  extensions/coolify/src/lib/components/invalid-url.tsx
  extensions/coolify/src/lib/components/open-in-coolify.tsx
  extensions/coolify/src/lib/config.ts
  extensions/coolify/src/lib/types.ts
  extensions/coolify/src/lib/use-coolify.ts
  extensions/coolify/src/lib/utils.ts
  extensions/coolify/src/resources.tsx
  extensions/coolify/src/servers.tsx
  extensions/coolify/src/teams.tsx
  extensions/coolify/tsconfig.json
Labels: new extension

#14527 Update aerospace extension
  extensions/aerospace/CHANGELOG.md
  extensions/aerospace/package-lock.json
  extensions/aerospace/package.json
Labels: extension fix / improvement, extension: aerospace

#14536 Update apple-reminders extension
  extensions/apple-reminders/CHANGELOG.md
  extensions/apple-reminders/package.json
  extensions/apple-reminders/src/my-reminders.tsx
Labels: extension fix / improvement, extension: apple-reminders

#14615 [CSS Tricks] use wp-json search API for now (close #14614)
  extensions/css-tricks/CHANGELOG.md
  extensions/css-tricks/metadata/css-tricks-2.png
  extensions/css-tricks/metadata/css-tricks-3.png
  extensions/css-tricks/package-lock.json
  extensions/css-tricks/package.json
  extensions/css-tricks/src/search-css-tricks.tsx
  extensions/css-tricks/src/types/index.ts
Labels: extension fix / improvement, extension: css-tricks
