Repository raycast/extensions, pull requests merged in 2024-05, with the labels that each got.

#12116 Update missing Linear icons
  extensions/linear/CHANGELOG.md
  extensions/linear/src/components/OpenInLinear.tsx
  extensions/linear/src/notifications.tsx
  extensions/linear/src/unread-notifications.tsx
Labels: extension fix / improvement, extension: linear

#12078 [Google translate] Add a preference for the default action
  extensions/google-translate/CHANGELOG.md
  extensions/google-translate/package.json
  extensions/google-translate/src/QuickTranslate/QuickTranslateListItem.tsx
  extensions/google-translate/src/actions.tsx
  extensions/google-translate/src/translate-form.tsx
  extensions/google-translate/src/translate.tsx
  extensions/google-translate/tsconfig.json
Labels: extension fix / improvement, extension: google-translate

#10871 Add node-release-notes extension
  extensions/node-release-notes/.eslintrc.json
  extensions/node-release-notes/.gitignore
  extensions/node-release-notes/.nvmrc
  extensions/node-release-notes/.prettierrc
  extensions/node-release-notes/CHANGELOG.md
  extensions/node-release-notes/README.md
  extensions/node-release-notes/assets/app-icon.png
  extensions/node-release-notes/assets/nodejs-icon.svg
  extensions/node-release-notes/metadata/screenshot-1.png
  extensions/node-release-notes/metadata/screenshot-2.png
  extensions/node-release-notes/metadata/screenshot-3.png
  extensions/node-release-notes/package-lock.json
  extensions/node-release-notes/package.json
  extensions/node-release-notes/src/components/NodeReleaseDetail.tsx
  extensions/node-release-notes/src/components/NodeVersionListItem.tsx
  extensions/node-release-notes/src/config/index.ts
  extensions/node-release-notes/src/helpers/index.ts
  extensions/node-release-notes/src/hooks/useFetchNodeVersions/index.ts
  extensions/node-release-notes/src/hooks/useFetchNodeVersions/types.ts
  extensions/node-release-notes/src/hooks/useFetchNodeVersions/validators.ts
  extensions/node-release-notes/src/hooks/useReleaseNotes.ts
  extensions/node-release-notes/src/index.tsx
  extensions/node-release-notes/src/types/index.ts
  extensions/node-release-notes/tsconfig.json
Labels: new extension

#12091 Update mac-app-store-search extension
  extensions/mac-app-store-search/CHANGELOG.md
  extensions/mac-app-store-search/metadata/mac-app-store-search-1.png
  extensions/mac-app-store-search/package.json
  extensions/mac-app-store-search/src/index.tsx
Labels: extension fix / improvement, extension: mac-app-store-search

#12125 Update toothpick extension
  extensions/toothpick/CHANGELOG.md
  extensions/toothpick/src/connect-device.ts
  extensions/toothpick/src/core/devices/handlers/connect-device.ts
  extensions/toothpick/src/core/devices/handlers/disconnect-device.ts
  extensions/toothpick/src/disconnect-device.ts
  extensions/toothpick/src/utils.ts
Labels: extension fix / improvement, OP is contributor, extension: toothpick

#12123 farcaster extension: add support for nook
  extensions/farcaster/CHANGELOG.md
  extensions/farcaster/README.md
  extensions/farcaster/package-lock.json
  extensions/farcaster/package.json
  extensions/farcaster/src/utils/helpers.ts
Labels: extension fix / improvement, OP is author, extension: farcaster

#12111 Fix r-pkg-search extension
  extensions/r-pkg-search/.gitignore
  extensions/r-pkg-search/CHANGELOG.md
  extensions/r-pkg-search/README.md
  extensions/r-pkg-search/package-lock.json
  extensions/r-pkg-search/package.json
  extensions/r-pkg-search/src/PackageActions.tsx
  extensions/r-pkg-search/src/PackageDescription.tsx
  extensions/r-pkg-search/src/PackageListItem.tsx
  extensions/r-pkg-search/src/index.tsx
  extensions/r-pkg-search/src/utils/fetchPackages.ts
Labels: extension fix / improvement, OP is author, extension: r-pkg-search

#12108 [update] Summarize YouTube Video - broken fetch
  extensions/summarize-youtube-video-with-ai/.eslintrc.json
  extensions/summarize-youtube-video-with-ai/CHANGELOG.md
  extensions/summarize-youtube-video-with-ai/package-lock.json
  extensions/summarize-youtube-video-with-ai/package.json
  extensions/summarize-youtube-video-with-ai/src/hooks/useChatGPTSummary.ts
  extensions/summarize-youtube-video-with-ai/src/hooks/useRaycastAISummary.ts
  extensions/summarize-youtube-video-with-ai/src/summarizeVideo.tsx
  extensions/summarize-youtube-video-with-ai/src/utils/getAiInstructionSnippets.ts
  extensions/summarize-youtube-video-with-ai/src/utils/splitTranscript.ts
  extensions/summarize-youtube-video-with-ai/tsconfig.json
Labels: extension fix / improvement, OP is author, extension: summarize-youtube-video-with-ai

#12099 update(yafw): Don't shadow errors and fix ffmpeg path logic
  extensions/yafw/CHANGELOG.md
  extensions/yafw/src/constants.tsx
  extensions/yafw/src/utils.tsx
Labels: extension fix / improvement, OP is author, extension: yafw

#12089 Update exif extension
  extensions/exif/CHANGELOG.md
  extensions/exif/package-lock.json
  extensions/exif/package.json
  extensions/exif/src/show-exif-data-for-image-browser.ts
Labels: extension fix / improvement, OP is author, extension: exif

#12006 Update shortcuts-search extension
  extensions/shortcuts-search/CHANGELOG.md
  extensions/shortcuts-search/README.md
  extensions/shortcuts-search/src/load/key-codes-provider.ts
  extensions/shortcuts-search/src/load/shortcuts-provider.ts
Labels: extension fix / improvement, OP is author, extension: shortcuts-search

#12019 Update jsr extension
  extensions/jsr/CHANGELOG.md
  extensions/jsr/src/components/ItemDetails.tsx
  extensions/jsr/src/lib/convert.ts
  extensions/jsr/src/types/index.ts
Labels: extension fix / improvement, OP is author, extension: jsr

#12055 Add rewardful extension
  extensions/rewardful/.eslintrc.json
  extensions/rewardful/.gitignore
  extensions/rewardful/.prettierrc
  extensions/rewardful/CHANGELOG.md
  extensions/rewardful/README.md
  extensions/rewardful/assets/rewardful-icon.png
  extensions/rewardful/metadata/rewardful-1.png
  extensions/rewardful/metadata/rewardful-2.png
  extensions/rewardful/metadata/rewardful-3.png
  extensions/rewardful/metadata/rewardful-4.png
  extensions/rewardful/metadata/rewardful-5.png
  extensions/rewardful/package-lock.json
  extensions/rewardful/package.json
  extensions/rewardful/src/affiliates.tsx
  extensions/rewardful/src/campaigns.tsx
  extensions/rewardful/src/commission.tsx
  extensions/rewardful/src/referrals.tsx
  extensions/rewardful/src/scripts.ts
  extensions/rewardful/src/types.ts
  extensions/rewardful/src/utils.ts
  extensions/rewardful/tsconfig.json
Labels: new extension

#12127 Fix Raindrop typo in placeholder
  extensions/raindrop-io/CHANGELOG.md
  extensions/raindrop-io/package.json
Labels: extension fix / improvement, extension: raindrop-io

#12021 Add syntax-fm extension
  extensions/syntax-fm/.eslintrc.json
  extensions/syntax-fm/.gitignore
  extensions/syntax-fm/.prettierrc
  extensions/syntax-fm/CHANGELOG.md
  extensions/syntax-fm/README.md
  extensions/syntax-fm/assets/icon.png
  extensions/syntax-fm/metadata/syntax-fm-1.png
  extensions/syntax-fm/metadata/syntax-fm-2.png
  extensions/syntax-fm/metadata/syntax-fm-3.png
  extensions/syntax-fm/package-lock.json
  extensions/syntax-fm/package.json
  extensions/syntax-fm/src/api/apple-music.ts
  extensions/syntax-fm/src/components/show-notes-detail.tsx
  extensions/syntax-fm/src/hooks/use-episodes.ts
  extensions/syntax-fm/src/search.tsx
  extensions/syntax-fm/src/types.ts
  extensions/syntax-fm/tsconfig.json
Labels: new extension

#12081 Update chatgpt extension
  extensions/chatgpt/CHANGELOG.md
  extensions/chatgpt/package-lock.json
  extensions/chatgpt/package.json
  extensions/chatgpt/src/ask.tsx
  extensions/chatgpt/src/hooks/useBrowser.tsx
  extensions/chatgpt/src/hooks/useChat.tsx
  extensions/chatgpt/src/hooks/useModel.tsx
  extensions/chatgpt/src/summarize.tsx
  extensions/chatgpt/src/utils/browser.ts
  extensions/chatgpt/src/utils/cache.ts
  extensions/chatgpt/src/utils/index.ts
  extensions/chatgpt/src/views/model/dropdown.tsx
Labels: extension fix / improvement, OP is contributor, extension: chatgpt

#12083 Update omnivore extension
  extensions/omnivore/CHANGELOG.md
  extensions/omnivore/package.json
  extensions/omnivore/src/omnivore-capture.tsx
  extensions/omnivore/src/utils/index.ts
Labels: extension fix / improvement, OP is author, extension: omnivore

#12109 Update hyrule-compendium-search extension
  extensions/hyrule-compendium-search/CHANGELOG.md
  extensions/hyrule-compendium-search/README.md
  extensions/hyrule-compendium-search/assets/materialIcons/0.25.png
  extensions/hyrule-compendium-search/assets/materialIcons/0.5.png
  extensions/hyrule-compendium-search/assets/materialIcons/0.75.png
  extensions/hyrule-compendium-search/assets/materialIcons/1.png
  extensions/hyrule-compendium-search/assets/materialIcons/2.5.png
  extensions/hyrule-compendium-search/assets/materialIcons/2.png
  extensions/hyrule-compendium-search/assets/materialIcons/3.png
  extensions/hyrule-compendium-search/assets/materialIcons/4.png
  extensions/hyrule-compendium-search/assets/materialIcons/5.png
  extensions/hyrule-compendium-search/assets/materialIcons/attack up.png
  extensions/hyrule-compendium-search/assets/materialIcons/attack.png
  extensions/hyrule-compendium-search/assets/materialIcons/cold resistance.png
  extensions/hyrule-compendium-search/assets/materialIcons/defense up.png
  extensions/hyrule-compendium-search/assets/materialIcons/extra hearts.png
  extensions/hyrule-compendium-search/assets/materialIcons/extra stamina.png
  extensions/hyrule-compendium-search/assets/materialIcons/flame guard.png
  extensions/hyrule-compendium-search/assets/materialIcons/guard.png
  extensions/hyrule-compendium-search/assets/materialIcons/heat resistance.png
  extensions/hyrule-compendium-search/assets/materialIcons/shock resistance.png
  extensions/hyrule-compendium-search/assets/materialIcons/speed up.png
  extensions/hyrule-compendium-search/assets/materialIcons/stamina recovery.png
  extensions/hyrule-compendium-search/assets/materialIcons/stealth up.png
  extensions/hyrule-compendium-search/assets/materialIcons/treasure.png
  extensions/hyrule-compendium-search/assets/materialIcons/treasureIcon.png
  extensions/hyrule-compendium-search/metadata/hyrule-compendium-1.png
  extensions/hyrule-compendium-search/metadata/hyrule-compendium-2.png
  extensions/hyrule-compendium-search/metadata/hyrule-compendium-3.png
  extensions/hyrule-compendium-search/metadata/hyrule-compendium-4.png
  extensions/hyrule-compendium-search/metadata/hyrule-compendium-search-1.png
  extensions/hyrule-compendium-search/metadata/hyrule-compendium-search-2.png
  extensions/hyrule-compendium-search/metadata/hyrule-compendium-search-3.png
  extensions/hyrule-compendium-search/metadata/hyrule-compendium-search-4.png
  extensions/hyrule-compendium-search/metadata/hyrule-compendium-search-5.png
  extensions/hyrule-compendium-search/metadata/hyrule-compendium-search-6.png
  extensions/hyrule-compendium-search/metadata/hyrule-compendium-search-7.png
  extensions/hyrule-compendium-search/metadata/hyrule-compendium-search-8.png
  extensions/hyrule-compendium-search/metadata/hyrule-compendium-search-9.png
  extensions/hyrule-compendium-search/package-lock.json
  extensions/hyrule-compendium-search/package.json
  extensions/hyrule-compendium-search/src/broadSearch.tsx
  extensions/hyrule-compendium-search/src/getEntry.tsx
Labels: extension fix / improvement, OP is author, extension: hyrule-compendium-search

#12146 Update radicle extension
  extensions/radicle/CHANGELOG.md
  extensions/radicle/README.md
  extensions/radicle/assets/issue.svg
  extensions/radicle/assets/notfound.svg
  extensions/radicle/assets/patch.svg
  extensions/radicle/assets/quorum.svg
  extensions/radicle/assets/seeding.svg
  extensions/radicle/metadata/radicle-1.png
  extensions/radicle/metadata/radicle-2.png
  extensions/radicle/metadata/radicle-3.png
  extensions/radicle/src/components/project-detail.tsx
  extensions/radicle/src/components/project-list-item.tsx
  extensions/radicle/src/project.tsx
  extensions/radicle/src/types.ts
Labels: extension fix / improvement, OP is author, extension: radicle

#12144 remove Davidwalser from contributor list
  extensions/1password/CHANGELOG.md
  extensions/1password/package.json
Labels: extension fix / improvement, OP is contributor, extension: 1password

#12026 remove deprecated commands for scrcpy
  extensions/scrcpy/CHANGELOG.md
  extensions/scrcpy/src/index.tsx
Labels: extension fix / improvement, extension: scrcpy

#12027 Update doutu extension
  extensions/doutu/CHANGELOG.md
  extensions/doutu/README.md
  extensions/doutu/package-lock.json
  extensions/doutu/package.json
  extensions/doutu/src/services/clipboardService.ts
Labels: extension fix / improvement, OP is author, extension: doutu

#12028 [Shell] Fixes iTerm Double Window Bug
  extensions/shell/CHANGELOG.md
  extensions/shell/package.json
  extensions/shell/src/index.tsx
Labels: extension fix / improvement, extension: shell

#12032 Update sonarr extension
  extensions/sonarr/.eslintrc.json
  extensions/sonarr/.gitignore
  extensions/sonarr/.prettierrc
  extensions/sonarr/CHANGELOG.md
  extensions/sonarr/package-lock.json
  extensions/sonarr/package.json
  extensions/sonarr/src/index.tsx
  extensions/sonarr/src/types/calendarItem.tsx
  extensions/sonarr/tsconfig.json
Labels: extension fix / improvement, extension: sonarr

#12035 Add composerize extension
  extensions/composerize/.eslintrc.json
  extensions/composerize/.gitignore
  extensions/composerize/.prettierrc
  extensions/composerize/CHANGELOG.md
  extensions/composerize/README.md
  extensions/composerize/assets/command-icon.png
  extensions/composerize/metadata/composerize-1.png
  extensions/composerize/metadata/composerize-2.png
  extensions/composerize/metadata/composerize-3.png
  extensions/composerize/metadata/composerize-4.png
  extensions/composerize/package-lock.json
  extensions/composerize/package.json
  extensions/composerize/src/compose-to-docker.tsx
  extensions/composerize/src/docker-to-compose.tsx
  extensions/composerize/src/hooks/useComposerize.tsx
  extensions/composerize/src/types/index.ts
  extensions/composerize/tsconfig.json
Labels: new extension

#12137 Update zed-recent-projects extension
  extensions/zed-recent-projects/CHANGELOG.md
  extensions/zed-recent-projects/assets/no-view.png
  extensions/zed-recent-projects/package.json
  extensions/zed-recent-projects/src/lib/zedEntries.ts
  extensions/zed-recent-projects/src/search.tsx
Labels: extension fix / improvement, OP is contributor, extension: zed-recent-projects

#12036 Add bookstack extension
  extensions/bookstack/.eslintrc.json
  extensions/bookstack/.gitignore
  extensions/bookstack/.prettierrc
  extensions/bookstack/CHANGELOG.md
  extensions/bookstack/README.md
  extensions/bookstack/assets/bookstack.png
  extensions/bookstack/assets/logo-bookstack.svg
  extensions/bookstack/metadata/bookstack-1.png
  extensions/bookstack/metadata/bookstack-2.png
  extensions/bookstack/metadata/bookstack-3.png
  extensions/bookstack/package-lock.json
  extensions/bookstack/package.json
  extensions/bookstack/src/bookstack-api.tsx
  extensions/bookstack/src/search-command.tsx
  extensions/bookstack/src/show-all-books.tsx
  extensions/bookstack/src/show-all-shelves.tsx
  extensions/bookstack/src/utils.tsx
  extensions/bookstack/tsconfig.json
Labels: new extension

#12191 [Amazon AWS] Add ECR Repositories command
  extensions/amazon-aws/CHANGELOG.md
  extensions/amazon-aws/README.md
  extensions/amazon-aws/package-lock.json
  extensions/amazon-aws/package.json
  extensions/amazon-aws/src/actions/ecr.ts
  extensions/amazon-aws/src/components/ecr/ECRImage.tsx
  extensions/amazon-aws/src/components/ecr/ECRRepository.tsx
  extensions/amazon-aws/src/ecr.tsx
Labels: extension fix / improvement, OP is contributor, extension: amazon-aws

#12157 [Toothpick] Add commands for Toggling devices
  extensions/toothpick/CHANGELOG.md
  extensions/toothpick/package.json
  extensions/toothpick/src/toggle-device.ts
  extensions/toothpick/src/toggle-favorite-device-1.ts
  extensions/toothpick/src/toggle-favorite-device-2.ts
  extensions/toothpick/src/toggle-favorite-device-3.ts
Labels: extension fix / improvement, OP is contributor, extension: toothpick

#12187 Update key value extension to get the json from remote URL
  extensions/key-value/CHANGELOG.md
  extensions/key-value/README.md
  extensions/key-value/package-lock.json
  extensions/key-value/package.json
  extensions/key-value/src/index.tsx
  extensions/key-value/src/reload-url-no-view.tsx
Labels: extension fix / improvement, OP is author, OP is contributor, extension: key-value

#12186 [Perplexity API] updated models and minor fixes
  extensions/perplexity-api/CHANGELOG.md
  extensions/perplexity-api/README.md
  extensions/perplexity-api/package.json
  extensions/perplexity-api/src/hook/perplexityAPI.tsx
  extensions/perplexity-api/src/hook/utils.ts
Labels: extension fix / improvement, OP is author, extension: perplexity-api

#12042 Add youtube-shorts-to-normal-video-page extension
  extensions/youtube-shorts-to-normal-video-page/.eslintrc.json
  extensions/youtube-shorts-to-normal-video-page/.gitignore
  extensions/youtube-shorts-to-normal-video-page/.prettierrc
  extensions/youtube-shorts-to-normal-video-page/CHANGELOG.md
  extensions/youtube-shorts-to-normal-video-page/README.md
  extensions/youtube-shorts-to-normal-video-page/assets/extension_icon.png
  extensions/youtube-shorts-to-normal-video-page/package-lock.json
  extensions/youtube-shorts-to-normal-video-page/package.json
  extensions/youtube-shorts-to-normal-video-page/src/index.ts
  extensions/youtube-shorts-to-normal-video-page/tsconfig.json
Labels: new extension

#12049 Add browser-ai extension
  extensions/browser-ai/.eslintrc.json
  extensions/browser-ai/.gitignore
  extensions/browser-ai/.prettierrc
  extensions/browser-ai/CHANGELOG.md
  extensions/browser-ai/README.md
  extensions/browser-ai/assets/perplexity.png
  extensions/browser-ai/metadata/actions.png
  extensions/browser-ai/metadata/commands.png
  extensions/browser-ai/metadata/custom.png
  extensions/browser-ai/metadata/inspectWebsite.png
  extensions/browser-ai/metadata/summarize.png
  extensions/browser-ai/package-lock.json
  extensions/browser-ai/package.json
  extensions/browser-ai/src/custom.tsx
  extensions/browser-ai/src/hook/ResultView.types.ts
  extensions/browser-ai/src/hook/api.ts
  extensions/browser-ai/src/hook/perplexityAPI.tsx
  extensions/browser-ai/src/hook/utils.ts
  extensions/browser-ai/src/inspect.tsx
  extensions/browser-ai/src/youtube.tsx
  extensions/browser-ai/tsconfig.json
Labels: new extension

#12054 [Logitech Litra] Add support for `litra-rs` CLI v1.x
  extensions/logitech-litra/CHANGELOG.md
  extensions/logitech-litra/README.md
  extensions/logitech-litra/metadata/screenshot.png
  extensions/logitech-litra/package-lock.json
  extensions/logitech-litra/package.json
  extensions/logitech-litra/src/utils.ts
Labels: extension fix / improvement, OP is author, extension: logitech-litra

#12057 Add datawrapper extension
  extensions/datawrapper/.eslintrc.json
  extensions/datawrapper/.gitignore
  extensions/datawrapper/.prettierrc
  extensions/datawrapper/CHANGELOG.md
  extensions/datawrapper/README.md
  extensions/datawrapper/assets/icon.png
  extensions/datawrapper/data/chartNames.json
  extensions/datawrapper/metadata/datawrapper-1.png
  extensions/datawrapper/metadata/datawrapper-2.png
  extensions/datawrapper/metadata/datawrapper-3.png
  extensions/datawrapper/metadata/datawrapper-4.png
  extensions/datawrapper/package-lock.json
  extensions/datawrapper/package.json
  extensions/datawrapper/screenshots/api-config.png
  extensions/datawrapper/src/ChartActions.tsx
  extensions/datawrapper/src/ChartDetail.tsx
  extensions/datawrapper/src/ChartListSection.tsx
  extensions/datawrapper/src/createNew.ts
  extensions/datawrapper/src/duplicateChart.ts
  extensions/datawrapper/src/listParserFunctions.tsx
  extensions/datawrapper/src/openAcademy.tsx
  extensions/datawrapper/src/recentCharts.tsx
  extensions/datawrapper/src/searchCharts.tsx
  extensions/datawrapper/src/types.ts
  extensions/datawrapper/src/utils.ts
  extensions/datawrapper/tsconfig.json
Labels: new extension

#12063 Update tennis-standings extension
  extensions/tennis-standings/CHANGELOG.md
  extensions/tennis-standings/assets/1.png
  extensions/tennis-standings/assets/10.png
  extensions/tennis-standings/assets/11.png
  extensions/tennis-standings/assets/12.png
  extensions/tennis-standings/assets/13.png
  extensions/tennis-standings/assets/14.png
  extensions/tennis-standings/assets/15.png
  extensions/tennis-standings/assets/16.png
  extensions/tennis-standings/assets/17.png
  extensions/tennis-standings/assets/18.png
  extensions/tennis-standings/assets/19.png
  extensions/tennis-standings/assets/2.png
  extensions/tennis-standings/assets/20.png
  extensions/tennis-standings/assets/21.png
  extensions/tennis-standings/assets/22.png
  extensions/tennis-standings/assets/23.png
  extensions/tennis-standings/assets/24.png
  extensions/tennis-standings/assets/25.png
  extensions/tennis-standings/assets/26.png
  extensions/tennis-standings/assets/27.png
  extensions/tennis-standings/assets/28.png
  extensions/tennis-standings/assets/29.png
  extensions/tennis-standings/assets/3.png
  extensions/tennis-standings/assets/30.png
  extensions/tennis-standings/assets/4.png
  extensions/tennis-standings/assets/5.png
  extensions/tennis-standings/assets/6.png
  extensions/tennis-standings/assets/7.png
  extensions/tennis-standings/assets/8.png
  extensions/tennis-standings/assets/9.png
  extensions/tennis-standings/assets/empty-view.png
  extensions/tennis-standings/assets/flag-checkered.png
  extensions/tennis-standings/assets/wikipedia.png
  extensions/tennis-standings/metadata/tennis-standings-1.png
  extensions/tennis-standings/metadata/tennis-standings-2.png
  extensions/tennis-standings/metadata/tennis-world-1.png
  extensions/tennis-standings/package-lock.json
  extensions/tennis-standings/package.json
  extensions/tennis-standings/src/atp-rankings.tsx
  extensions/tennis-standings/src/hooks/index.ts
  extensions/tennis-standings/src/hooks/useATPRankings.ts
  extensions/tennis-standings/src/hooks/useRankings.ts
  extensions/tennis-standings/src/ranking.tsx
  extensions/tennis-standings/src/types.ts
  extensions/tennis-standings/src/views/ATPRankingList.tsx
  extensions/tennis-standings/src/views/RankingList.tsx
  extensions/tennis-standings/src/wta-rankings.tsx
Labels: extension fix / improvement, extension: tennis-standings

#12071 Update open-graph extension
  extensions/open-graph/CHANGELOG.md
  extensions/open-graph/package-lock.json
  extensions/open-graph/package.json
  extensions/open-graph/src/open-graph-extension.ts
Labels: extension fix / improvement, OP is contributor, extension: open-graph

#12085 Add ilovepdf extension
  extensions/ilovepdf/.eslintrc.json
  extensions/ilovepdf/.gitignore
  extensions/ilovepdf/.prettierrc
  extensions/ilovepdf/CHANGELOG.md
  extensions/ilovepdf/README.md
  extensions/ilovepdf/assets/command-icon.png
  extensions/ilovepdf/metadata/ilovepdf-1.png
  extensions/ilovepdf/package-lock.json
  extensions/ilovepdf/package.json
  extensions/ilovepdf/src/image-to-pdf.tsx
  extensions/ilovepdf/tsconfig.json
Labels: new extension

#12161 Update raycast-explorer extension
  extensions/raycast-explorer/CHANGELOG.md
  extensions/raycast-explorer/package.json
  extensions/raycast-explorer/src/data/prompts.ts
Labels: extension fix / improvement, extension: raycast-explorer

#12208 feat: add recurrent reminders
  extensions/simple-reminder/CHANGELOG.md
  extensions/simple-reminder/assets/repeat.png
  extensions/simple-reminder/package-lock.json
  extensions/simple-reminder/package.json
  extensions/simple-reminder/src/components/listActionPanel.tsx
  extensions/simple-reminder/src/handlers/setRecurrenceForReminder.ts
  extensions/simple-reminder/src/index.tsx
  extensions/simple-reminder/src/reminderNotifications.ts
  extensions/simple-reminder/src/types/frequency.ts
  extensions/simple-reminder/src/types/preferences.ts
  extensions/simple-reminder/src/types/reminder.ts
  extensions/simple-reminder/src/utils/arrayPredicates.ts
Labels: extension fix / improvement, OP is author, extension: simple-reminder

#11929 Add open-folders extension
  extensions/open-folders/.eslintrc.json
  extensions/open-folders/.gitignore
  extensions/open-folders/.prettierrc
  extensions/open-folders/CHANGELOG.md
  extensions/open-folders/README.md
  extensions/open-folders/assets/extension-icon-grid.png
  extensions/open-folders/assets/extension-icon.png
  extensions/open-folders/metadata/open-folders-1.png
  extensions/open-folders/metadata/open-folders-2.png
  extensions/open-folders/metadata/open-folders-3.png
  extensions/open-folders/metadata/open-folders-4.png
  extensions/open-folders/metadata/open-folders-5.png
  extensions/open-folders/package-lock.json
  extensions/open-folders/package.json
  extensions/open-folders/src/decs.d.ts
  extensions/open-folders/src/desktop.tsx
  extensions/open-folders/src/documents.tsx
  extensions/open-folders/src/downloads.tsx
  extensions/open-folders/src/fileSpeedDial.tsx
  extensions/open-folders/src/folderSpeedDial.tsx
  extensions/open-folders/src/listDownloads.tsx
  extensions/open-folders/src/listFolders.tsx
  extensions/open-folders/src/mostRecent.tsx
  extensions/open-folders/src/projects.tsx
  extensions/open-folders/tsconfig.json
Labels: new extension

#11882 Update simplelogin extension
  extensions/simplelogin/CHANGELOG.md
  extensions/simplelogin/package-lock.json
  extensions/simplelogin/package.json
  extensions/simplelogin/src/list_alias.tsx
Labels: extension fix / improvement, status: stalled, extension: simplelogin

#12122 Add aerospace extension
  extensions/aerospace/.eslintrc.json
  extensions/aerospace/.gitignore
  extensions/aerospace/.prettierrc
  extensions/aerospace/CHANGELOG.md
  extensions/aerospace/LICENSE
  extensions/aerospace/README.md
  extensions/aerospace/assets/aerospace-icon.png
  extensions/aerospace/assets/list-icon.png
  extensions/aerospace/assets/menubar-icon.png
  extensions/aerospace/media/default-config.toml
  extensions/aerospace/media/menubar.jpg
  extensions/aerospace/media/shortcuts.png
  extensions/aerospace/metadata/aerospace-1.png
  extensions/aerospace/metadata/aerospace-2.png
  extensions/aerospace/package-lock.json
  extensions/aerospace/package.json
  extensions/aerospace/src/shortcutsMenubar.tsx
  extensions/aerospace/src/showConfig.tsx
  extensions/aerospace/src/showShortcuts.tsx
  extensions/aerospace/src/utils/config.tsx
  extensions/aerospace/src/utils/keys.tsx
  extensions/aerospace/src/utils/shortcuts.tsx
  extensions/aerospace/tsconfig.json
Labels: new extension

#12223 feat: add simple reminder menu bar
  extensions/simple-reminder/CHANGELOG.md
  extensions/simple-reminder/package.json
  extensions/simple-reminder/src/hooks/useFetchStoredReminders.ts
  extensions/simple-reminder/src/index.tsx
  extensions/simple-reminder/src/reminderMenuBar.tsx
  extensions/simple-reminder/src/reminderNotifications.ts
Labels: extension fix / improvement, OP is author, extension: simple-reminder

#12065 Update shell extension
  extensions/shell/.gitignore
  extensions/shell/CHANGELOG.md
  extensions/shell/package.json
  extensions/shell/src/index.tsx
Labels: extension fix / improvement, extension: shell

#12134 Change Syntax icon to updated version
  extensions/syntax-fm/CHANGELOG.md
  extensions/syntax-fm/assets/icon.png
Labels: extension fix / improvement, extension: syntax-fm

#12226 Update workouts extension
  extensions/workouts/CHANGELOG.md
  extensions/workouts/src/api/types.ts
  extensions/workouts/src/leaderboard.tsx
  extensions/workouts/src/utils.ts
Labels: extension fix / improvement, OP is author, extension: workouts

#12138 Add running-page extension
  extensions/running-page/.eslintrc.json
  extensions/running-page/.gitignore
  extensions/running-page/.prettierrc
  extensions/running-page/CHANGELOG.md
  extensions/running-page/README.md
  extensions/running-page/assets/extension_icon.png
  extensions/running-page/assets/human/hike.svg
  extensions/running-page/assets/human/ride.svg
  extensions/running-page/assets/human/ride_Ebike.svg
  extensions/running-page/assets/human/run.svg
  extensions/running-page/assets/human/ski.svg
  extensions/running-page/assets/human/snowboard.svg
  extensions/running-page/assets/human/swim.svg
  extensions/running-page/assets/human/virtual_ride.svg
  extensions/running-page/assets/human/walk.svg
  extensions/running-page/assets/human/workout.svg
  extensions/running-page/assets/human/yoga.svg
  extensions/running-page/assets/running_page_logo.png
  extensions/running-page/metadata/Metadata-2.png
  extensions/running-page/package-lock.json
  extensions/running-page/package.json
  extensions/running-page/src/components/Stat.tsx
  extensions/running-page/src/components/StatMetadata.tsx
  extensions/running-page/src/hook/useRunningPage.ts
  extensions/running-page/src/index.tsx
  extensions/running-page/src/menubar-totals.tsx
  extensions/running-page/src/statistics.tsx
  extensions/running-page/src/type.ts
  extensions/running-page/src/util/auth.ts
  extensions/running-page/src/util/const.ts
  extensions/running-page/src/util/utils.ts
  extensions/running-page/tsconfig.json
Labels: new extension

#12147 Update yafw extension
  extensions/yafw/.prettierrc
  extensions/yafw/CHANGELOG.md
  extensions/yafw/package-lock.json
  extensions/yafw/package.json
  extensions/yafw/src/abstractions/binary.ts
  extensions/yafw/src/abstractions/file.ts
  extensions/yafw/src/abstractions/files.ts
  extensions/yafw/src/abstractions/gif.ts
  extensions/yafw/src/abstractions/index.ts
  extensions/yafw/src/abstractions/operation.ts
  extensions/yafw/src/abstractions/video.ts
  extensions/yafw/src/constants.tsx
  extensions/yafw/src/convert.tsx
  extensions/yafw/src/index.tsx
  extensions/yafw/src/objects/encode.operation.ts
  extensions/yafw/src/objects/ffmpeg.gif.ts
  extensions/yafw/src/objects/ffmpeg.ts
  extensions/yafw/src/objects/ffmpeg.video.ts
  extensions/yafw/src/objects/ffprobe.ts
  extensions/yafw/src/objects/fs.binary.ts
  extensions/yafw/src/objects/fs.file.ts
  extensions/yafw/src/objects/safe.number.ts
  extensions/yafw/src/objects/safe.operation.ts
  extensions/yafw/src/objects/selected-finder.files.ts
  extensions/yafw/src/objects/toast.ts
  extensions/yafw/src/objects/trimmed.string.ts
  extensions/yafw/src/optimize.tsx
  extensions/yafw/src/resize.tsx
  extensions/yafw/src/stabilize.tsx
  extensions/yafw/src/utils.tsx
  extensions/yafw/src/videos.tsx
Labels: extension fix / improvement, extension: yafw

#12230 Fix Cloudflare capitalization
  extensions/cloudflare-warp/CHANGELOG.md
  extensions/cloudflare-warp/package.json
Labels: extension fix / improvement, extension: cloudflare-warp

#12236 Update mercado-libre extension
  extensions/mercado-libre/CHANGELOG.md
  extensions/mercado-libre/metadata/mercado-libre-1.png
  extensions/mercado-libre/metadata/mercado-libre-2.png
  extensions/mercado-libre/src/components/ResultGridItem.tsx
  extensions/mercado-libre/src/components/ResultListItem.tsx
  extensions/mercado-libre/src/search-mercado-libre.tsx
  extensions/mercado-libre/src/utils.ts
Labels: extension fix / improvement, OP is author, extension: mercado-libre

#12152 Update alice-ai extension
  extensions/alice-ai/CHANGELOG.md
  extensions/alice-ai/extension.json
  extensions/alice-ai/metadata/alice-ai-9.png
  extensions/alice-ai/package-lock.json
  extensions/alice-ai/package.json
  extensions/alice-ai/src/components/HistoryDetails.tsx
  extensions/alice-ai/src/create.tsx
  extensions/alice-ai/src/custom.tsx
  extensions/alice-ai/src/history.tsx
  extensions/alice-ai/src/lib/OpenAI.ts
  extensions/alice-ai/src/menubar.tsx
  extensions/alice-ai/src/services/Backup.ts
  extensions/alice-ai/src/store/actions.ts
  extensions/alice-ai/src/utils.ts
  extensions/alice-ai/src/views/CommandForm.tsx
  extensions/alice-ai/src/views/CommandList.tsx
Labels: extension fix / improvement, OP is author, extension: alice-ai

#12153 Update vercast extension
  extensions/vercast/CHANGELOG.md
  extensions/vercast/package.json
  extensions/vercast/src/pages/lists/deployments-list.tsx
  extensions/vercast/src/pages/lists/projects-list.tsx
  extensions/vercast/src/utils/time.ts
  extensions/vercast/src/vercel.ts
Labels: extension fix / improvement, extension: vercast

#12238 Update quick-notes extension
  extensions/quick-notes/CHANGELOG.md
  extensions/quick-notes/README.md
  extensions/quick-notes/metadata/quick-notes-1.png
  extensions/quick-notes/metadata/quick-notes-2.png
  extensions/quick-notes/src/components/actions.tsx
Labels: extension fix / improvement, OP is author, extension: quick-notes

#12159 Add alt-text-generator extension
  extensions/alt-text-generator/.eslintrc.json
  extensions/alt-text-generator/.gitignore
  extensions/alt-text-generator/.prettierrc
  extensions/alt-text-generator/CHANGELOG.md
  extensions/alt-text-generator/README.md
  extensions/alt-text-generator/assets/from-clipboard-icon.png
  extensions/alt-text-generator/assets/from-finder-selection-icon.png
  extensions/alt-text-generator/assets/from-url-icon.png
  extensions/alt-text-generator/assets/icon.png
  extensions/alt-text-generator/media/screenshot-1.png
  extensions/alt-text-generator/media/screenshot-2.jpeg
  extensions/alt-text-generator/media/screenshot-3.png
  extensions/alt-text-generator/package-lock.json
  extensions/alt-text-generator/package.json
  extensions/alt-text-generator/pnpm-lock.yaml
  extensions/alt-text-generator/src/generateFromClipboardCMD.ts
  extensions/alt-text-generator/src/generateFromSelectionCMD.ts
  extensions/alt-text-generator/src/generateFromURLCMD.ts
  extensions/alt-text-generator/src/index.ts
  extensions/alt-text-generator/src/types/preferences.ts
  extensions/alt-text-generator/src/utils/applescript-utils.ts
  extensions/alt-text-generator/src/utils/constants.ts
  extensions/alt-text-generator/src/utils/generateAltText.ts
  extensions/alt-text-generator/src/utils/generateDescription.ts
  extensions/alt-text-generator/src/utils/getBase64URL.ts
  extensions/alt-text-generator/src/utils/getPath.ts
  extensions/alt-text-generator/src/utils/showError.ts
  extensions/alt-text-generator/src/utils/showSuccess.ts
  extensions/alt-text-generator/tsconfig.json
Labels: new extension

#12262 [Google Translate] add CMD+F to toggle full text
  extensions/google-translate/CHANGELOG.md
  extensions/google-translate/src/QuickTranslate/QuickTranslateListItem.tsx
  extensions/google-translate/src/actions.tsx
  extensions/google-translate/src/translate-form.tsx
  extensions/google-translate/src/translate.tsx
Labels: extension fix / improvement, OP is author, extension: google-translate

#12256 Update ipa-translator extension
  extensions/ipa-translator/CHANGELOG.md
  extensions/ipa-translator/src/form.tsx
  extensions/ipa-translator/src/util.ts
Labels: extension fix / improvement, OP is author, extension: ipa-translator

#12244 [Bugfix] [Avatar] Fix DiceBear avatar unavailability issue
  extensions/avatar/CHANGELOG.md
  extensions/avatar/package-lock.json
  extensions/avatar/package.json
  extensions/avatar/src/advanced-options-page.tsx
  extensions/avatar/src/components/action-open-command-preferences.tsx
  extensions/avatar/src/components/avatar-grid-layout.tsx
  extensions/avatar/src/components/avatar-list-layout.tsx
  extensions/avatar/src/hooks/hooks.ts
  extensions/avatar/src/utils/constants.ts
Labels: extension fix / improvement, OP is author, extension: avatar

#12234 [JSR] Add badges & correct name spells
  extensions/jsr/CHANGELOG.md
  extensions/jsr/README.md
  extensions/jsr/metadata/jsr-1.png
  extensions/jsr/metadata/jsr-2.png
  extensions/jsr/metadata/jsr-3.png
  extensions/jsr/package.json
  extensions/jsr/src/components/CopyActions.tsx
  extensions/jsr/src/components/ItemDetails.tsx
Labels: extension fix / improvement, extension: jsr

#12274 Update bilibili extension
  extensions/Bilibili/CHANGELOG.md
  extensions/Bilibili/README-zh.md
  extensions/Bilibili/README.md
  extensions/Bilibili/package.json
  extensions/Bilibili/src/components/post.tsx
  extensions/Bilibili/src/components/video.tsx
  extensions/Bilibili/src/hooks/index.ts
  extensions/Bilibili/src/hooks/usePopularSeriesList.ts
  extensions/Bilibili/src/hooks/usePopularSeriesVideos.ts
  extensions/Bilibili/src/hooks/usePopularVideos.ts
  extensions/Bilibili/src/popularSeries.tsx
  extensions/Bilibili/src/popularVideos.tsx
  extensions/Bilibili/src/utils/getPopularSeriesList.ts
  extensions/Bilibili/src/utils/getPopularSeriesVideos.ts
  extensions/Bilibili/src/utils/getPopularVideos.ts
  extensions/Bilibili/src/utils/index.ts
Labels: extension fix / improvement, OP is author, extension: bilibili

#12043 [putio]: Add VLC streaming support for both regular and MP4 streams
  extensions/putio/CHANGELOG.md
  extensions/putio/package-lock.json
  extensions/putio/package.json
  extensions/putio/src/components/FileListItemActions.tsx
  extensions/putio/src/utils/index.ts
Labels: extension fix / improvement, extension: putio

#12273 Update sonos extension
  extensions/sonos/CHANGELOG.md
  extensions/sonos/package.json
  extensions/sonos/src/decrease-volume.tsx
  extensions/sonos/src/increase-volume.tsx
Labels: extension fix / improvement, extension: sonos

#12246 Update linear extension
  extensions/linear/.gitignore
  extensions/linear/CHANGELOG.md
  extensions/linear/package.json
  extensions/linear/src/components/CreateIssueForm.tsx
Labels: extension fix / improvement, OP is contributor, extension: linear

#12034 Add mozilla-vpn extension
  extensions/mozilla-vpn/.eslintrc.json
  extensions/mozilla-vpn/.gitignore
  extensions/mozilla-vpn/.prettierrc
  extensions/mozilla-vpn/CHANGELOG.md
  extensions/mozilla-vpn/README.md
  extensions/mozilla-vpn/assets/MozillaVPN.png
  extensions/mozilla-vpn/metadata/mozilla-vpn-1.png
  extensions/mozilla-vpn/metadata/mozilla-vpn-2.png
  extensions/mozilla-vpn/package-lock.json
  extensions/mozilla-vpn/package.json
  extensions/mozilla-vpn/src/components/checkLogin.tsx
  extensions/mozilla-vpn/src/components/vpnStatus.tsx
  extensions/mozilla-vpn/src/index.tsx
  extensions/mozilla-vpn/src/toggleVpn.tsx
  extensions/mozilla-vpn/src/utils/checkLoginService.ts
  extensions/mozilla-vpn/src/utils/fetchCurrentIP.ts
  extensions/mozilla-vpn/src/utils/vpnHelper.ts
  extensions/mozilla-vpn/src/utils/vpnService.ts
  extensions/mozilla-vpn/tsconfig.json
Labels: new extension

#11953 Update reflect extension
  extensions/reflect/CHANGELOG.md
  extensions/reflect/package.json
  extensions/reflect/src/append.tsx
  extensions/reflect/src/helpers/dates.ts
  extensions/reflect/src/quickAppend.ts
Labels: extension fix / improvement, OP is contributor, extension: reflect

#12141 fix(change-case): pascal snake case incorrect name
  extensions/change-case/CHANGELOG.md
  extensions/change-case/package.json
  extensions/change-case/src/change-case.tsx
Labels: extension fix / improvement, OP is author, OP is contributor, extension: change-case

#11590 Add literal extension
  extensions/literal/.eslintrc.json
  extensions/literal/.gitignore
  extensions/literal/.prettierrc
  extensions/literal/CHANGELOG.md
  extensions/literal/README.md
  extensions/literal/assets/command-icon.png
  extensions/literal/metadata/literal-1.png
  extensions/literal/metadata/literal-2.png
  extensions/literal/metadata/literal-3.png
  extensions/literal/metadata/literal-4.png
  extensions/literal/package-lock.json
  extensions/literal/package.json
  extensions/literal/src/authContext.ts
  extensions/literal/src/book-details.tsx
  extensions/literal/src/components/book-list.tsx
  extensions/literal/src/components/create-review.tsx
  extensions/literal/src/literal.tsx
  extensions/literal/src/mutations/createReview.ts
  extensions/literal/src/mutations/login.ts
  extensions/literal/src/mutations/updateStatus.ts
  extensions/literal/src/queries/getBookDetails.ts
  extensions/literal/src/queries/getBooks.ts
  extensions/literal/src/types.ts
  extensions/literal/src/utils/client.ts
  extensions/literal/tsconfig.json
Labels: new extension

#12220 feat(hugging face): added hf actions
  extensions/hugging-face/.eslintrc.json
  extensions/hugging-face/.gitignore
  extensions/hugging-face/.prettierrc
  extensions/hugging-face/CHANGELOG.md
  extensions/hugging-face/LICENSE.md
  extensions/hugging-face/README.md
  extensions/hugging-face/assets/logo.png
  extensions/hugging-face/metadata/hugging-face-1.png
  extensions/hugging-face/metadata/hugging-face-2.png
  extensions/hugging-face/metadata/hugging-face-3.png
  extensions/hugging-face/metadata/hugging-face-4.png
  extensions/hugging-face/metadata/hugging-face-5.png
  extensions/hugging-face/metadata/hugging-face-6.png
  extensions/hugging-face/metadata/hugging-face-7.png
  extensions/hugging-face/metadata/hugging-face-8.png
  extensions/hugging-face/metadata/hugging-face-9.png
  extensions/hugging-face/package-lock.json
  extensions/hugging-face/package.json
  extensions/hugging-face/src/components/HistoryListItem.tsx
  extensions/hugging-face/src/components/ListItem.tsx
  extensions/hugging-face/src/components/ModelCardDetail.tsx
  extensions/hugging-face/src/constants.ts
  extensions/hugging-face/src/favorites.tsx
  extensions/hugging-face/src/hooks/useFavorites.ts
  extensions/hugging-face/src/hooks/useModelCard.ts
  extensions/hugging-face/src/interfaces/index.ts
  extensions/hugging-face/src/models/models.model.ts
  extensions/hugging-face/src/searchDatasets.tsx
  extensions/hugging-face/src/searchModels.tsx
  extensions/hugging-face/src/storage/favorite.storage.ts
  extensions/hugging-face/src/storage/history.storage.ts
  extensions/hugging-face/src/types.d.ts
  extensions/hugging-face/tsconfig.json
Labels: new extension

#12260 Update workouts extension
  extensions/workouts/CHANGELOG.md
  extensions/workouts/package.json
Labels: extension fix / improvement, extension: workouts

#12171 Fix validation for username in SSH Tunnel Manager
  extensions/ssh-tunnel-manager/CHANGELOG.md
  extensions/ssh-tunnel-manager/src/hooks/form.ts
Labels: extension fix / improvement, extension: ssh-tunnel-manager

#12179 Update google-advanced-search extension
  extensions/google-advanced-search/CHANGELOG.md
  extensions/google-advanced-search/src/google-advanced-search.tsx
Labels: extension fix / improvement, OP is author, extension: google-advanced-search

#12277 Update date-converter extension
  extensions/date-converter/CHANGELOG.md
  extensions/date-converter/package.json
  extensions/date-converter/src/index.tsx
Labels: extension fix / improvement, extension: date-converter

#12010 [Update Extension] System Monitor - Overall improvements
  extensions/system-monitor/CHANGELOG.md
  extensions/system-monitor/package-lock.json
  extensions/system-monitor/package.json
  extensions/system-monitor/src/Cpu/CpuMonitor.tsx
  extensions/system-monitor/src/Cpu/CpuUtils.ts
  extensions/system-monitor/src/Interfaces.ts
  extensions/system-monitor/src/Memory/MemoryMonitor.tsx
  extensions/system-monitor/src/Memory/MemoryUtils.ts
  extensions/system-monitor/src/Network/NetworkMonitor.tsx
  extensions/system-monitor/src/Network/NetworkUtils.ts
  extensions/system-monitor/src/Power/PowerMonitor.tsx
  extensions/system-monitor/src/Power/PowerUtils.ts
  extensions/system-monitor/src/SystemInfo/SystemInfo.tsx
  extensions/system-monitor/src/SystemInfo/SystemUtils.ts
  extensions/system-monitor/src/utils.ts
  extensions/system-monitor/tsconfig.json
Labels: extension fix / improvement, OP is contributor, status: stalled, extension: system-monitor

#12188 [shell] add early support for `kitty` terminal
  extensions/shell/CHANGELOG.md
  extensions/shell/package.json
  extensions/shell/src/index.tsx
Labels: extension fix / improvement, extension: shell

#12050 Add RelaGit extension
  extensions/relagit/.eslintrc.json
  extensions/relagit/.gitignore
  extensions/relagit/.prettierrc
  extensions/relagit/CHANGELOG.md
  extensions/relagit/README.md
  extensions/relagit/assets/relagit-icon.png
  extensions/relagit/metadata/relagit-1.png
  extensions/relagit/metadata/relagit-2.png
  extensions/relagit/metadata/relagit-3.png
  extensions/relagit/package-lock.json
  extensions/relagit/package.json
  extensions/relagit/src/app.ts
  extensions/relagit/src/git.ts
  extensions/relagit/src/manage-workflows.tsx
  extensions/relagit/src/search-repositories.tsx
  extensions/relagit/src/settings.ts
  extensions/relagit/src/shared.ts
  extensions/relagit/tsconfig.json
Labels: new extension

#12308 Adding Compressing PDF command
  extensions/ilovepdf/CHANGELOG.md
  extensions/ilovepdf/package.json
  extensions/ilovepdf/src/compress-pdf.tsx
Labels: extension fix / improvement, OP is author, extension: ilovepdf

#12213 Update raycast-explorer extension
  extensions/raycast-explorer/CHANGELOG.md
  extensions/raycast-explorer/src/api.ts
  extensions/raycast-explorer/src/data/presets.ts
  extensions/raycast-explorer/src/data/prompts.ts
  extensions/raycast-explorer/src/data/snippets.ts
  extensions/raycast-explorer/src/explore-presets.tsx
  extensions/raycast-explorer/src/explore-prompts.tsx
  extensions/raycast-explorer/src/explore-snippets.tsx
  extensions/raycast-explorer/src/helpers.ts
Labels: extension fix / improvement, OP is contributor, extension: raycast-explorer

#12284 [Speedtest] Update interface to include streaming quality - 12232
  extensions/speedtest/CHANGELOG.md
  extensions/speedtest/package.json
  extensions/speedtest/src/index.tsx
  extensions/speedtest/src/lib/bandwidth/component.tsx
  extensions/speedtest/src/lib/bandwidth/thresholds.ts
  extensions/speedtest/src/lib/bandwidth/type.ts
  extensions/speedtest/src/lib/bandwidth/utils.ts
Labels: extension fix / improvement, OP is contributor, extension: speedtest

#12317 Add Converting PDF to Image command to iLovePDF extension
  extensions/ilovepdf/CHANGELOG.md
  extensions/ilovepdf/package.json
  extensions/ilovepdf/src/pdf-to-image.tsx
Labels: extension fix / improvement, OP is author, extension: ilovepdf

#12286 Update Relcaim.ai extension to cache the user for 30 minutes.
  extensions/reclaim-ai/CHANGELOG.md
  extensions/reclaim-ai/src/hooks/useUser.tsx
Labels: extension fix / improvement, OP is contributor, extension: reclaim-ai

#12176 Add dog-images extension
  extensions/dog-images/.eslintrc.json
  extensions/dog-images/.gitignore
  extensions/dog-images/.prettierrc
  extensions/dog-images/CHANGELOG.md
  extensions/dog-images/README.md
  extensions/dog-images/assets/logo.png
  extensions/dog-images/metadata/dog-images-1.png
  extensions/dog-images/metadata/dog-images-2.png
  extensions/dog-images/metadata/dog-images-3.png
  extensions/dog-images/package-lock.json
  extensions/dog-images/package.json
  extensions/dog-images/src/breeds.ts
  extensions/dog-images/src/index.tsx
  extensions/dog-images/tsconfig.json
Labels: new extension

#12306 Update running-page extension
  extensions/running-page/CHANGELOG.md
  extensions/running-page/README.md
  extensions/running-page/metadata/1.png
  extensions/running-page/metadata/2.png
  extensions/running-page/metadata/3.png
  extensions/running-page/metadata/Metadata-2.png
Labels: extension fix / improvement, OP is author, extension: running-page

#11871 Update pixabay extension
  extensions/pixabay/.eslintrc.json
  extensions/pixabay/.gitignore
  extensions/pixabay/.prettierrc
  extensions/pixabay/CHANGELOG.md
  extensions/pixabay/package-lock.json
  extensions/pixabay/package.json
  extensions/pixabay/src/components/ImageCopyToClipboardAction.tsx
  extensions/pixabay/src/components/ImageDetail.tsx
  extensions/pixabay/src/components/ImageDownloadAction.tsx
  extensions/pixabay/src/components/ImageGridItem.tsx
  extensions/pixabay/src/components/ImagePageOpenInBrowserAction.tsx
  extensions/pixabay/src/components/VideoDetail.tsx
  extensions/pixabay/src/components/VideoDownloadAction.tsx
  extensions/pixabay/src/components/VideoGridItem.tsx
  extensions/pixabay/src/components/VideoPageOpenInBrowserAction.tsx
  extensions/pixabay/src/lib/api.ts
  extensions/pixabay/src/lib/cache.ts
  extensions/pixabay/src/lib/hooks.tsx
  extensions/pixabay/src/lib/images.ts
  extensions/pixabay/src/lib/prefs.ts
  extensions/pixabay/src/lib/videos.ts
  extensions/pixabay/src/searchimages.tsx
  extensions/pixabay/src/searchvideos.tsx
  extensions/pixabay/src/types/index.ts
  extensions/pixabay/tsconfig.json
Labels: extension fix / improvement, extension: pixabay

#12242 feat(msteams): added call option
  extensions/microsoft-teams/.gitignore
  extensions/microsoft-teams/CHANGELOG.md
  extensions/microsoft-teams/README.md
  extensions/microsoft-teams/assets/presence/presence_available.png
  extensions/microsoft-teams/assets/presence/presence_away.png
  extensions/microsoft-teams/assets/presence/presence_busy.png
  extensions/microsoft-teams/assets/presence/presence_busy_oof.png
  extensions/microsoft-teams/assets/presence/presence_dnd.png
  extensions/microsoft-teams/assets/presence/presence_offline.png
  extensions/microsoft-teams/assets/presence/presence_oof.png
  extensions/microsoft-teams/assets/presence/presence_unknown.png
  extensions/microsoft-teams/assets/teams-logo.png
  extensions/microsoft-teams/package-lock.json
  extensions/microsoft-teams/package.json
  extensions/microsoft-teams/src/actions/callAction.ts
  extensions/microsoft-teams/src/api/login.ts
  extensions/microsoft-teams/src/api/presence.ts
  extensions/microsoft-teams/src/api/util.tsx
  extensions/microsoft-teams/src/findChat.tsx
  extensions/microsoft-teams/src/hooks/usePromiseWithTimeout.ts
  extensions/microsoft-teams/tsconfig.json
Labels: extension fix / improvement, extension: microsoft-teams

#12201 fix: standardise filename before testing format support
  extensions/yafw/CHANGELOG.md
  extensions/yafw/package.json
  extensions/yafw/src/abstractions/files.ts
  extensions/yafw/src/constants.tsx
  extensions/yafw/src/index.tsx
  extensions/yafw/src/objects/selected-finder.files.ts
  extensions/yafw/src/utils.tsx
  extensions/yafw/src/videos.tsx
Labels: extension fix / improvement, extension: yafw

#12257 Update browser-ai extension
  extensions/browser-ai/CHANGELOG.md
  extensions/browser-ai/package.json
  extensions/browser-ai/src/hook/perplexityAPI.tsx
  extensions/browser-ai/src/hook/utils.ts
Labels: extension fix / improvement, OP is author, extension: browser-ai

#12336 [Perplexity-API] Updated Models
  extensions/perplexity-api/CHANGELOG.md
  extensions/perplexity-api/package.json
  extensions/perplexity-api/src/hook/utils.ts
Labels: extension fix / improvement, OP is author, extension: perplexity-api

#12118 Update linear extension
  extensions/linear/CHANGELOG.md
  extensions/linear/assets/bots/github.svg
  extensions/linear/assets/bots/gitlab.svg
  extensions/linear/assets/dark/project-backlog.svg
  extensions/linear/assets/dark/project-canceled.svg
  extensions/linear/assets/dark/project-completed.svg
  extensions/linear/assets/dark/project-paused.svg
  extensions/linear/assets/dark/project-planned.svg
  extensions/linear/assets/dark/project-started.svg
  extensions/linear/assets/light/project-backlog.svg
  extensions/linear/assets/light/project-canceled.svg
  extensions/linear/assets/light/project-completed.svg
  extensions/linear/assets/light/project-paused.svg
  extensions/linear/assets/light/project-planned.svg
  extensions/linear/assets/light/project-started.svg
  extensions/linear/src/api/getNotifications.ts
  extensions/linear/src/helpers/bots.ts
  extensions/linear/src/helpers/notifications.ts
  extensions/linear/src/helpers/projects.ts
  extensions/linear/src/notifications.tsx
Labels: extension fix / improvement, OP is author, extension: linear

#12275 Add klack extension
  extensions/klack/.editorconfig
  extensions/klack/.eslintrc.json
  extensions/klack/.gitignore
  extensions/klack/.nova/Configuration.json
  extensions/klack/CHANGELOG.md
  extensions/klack/README.md
  extensions/klack/assets/klack.png
  extensions/klack/metadata/klack-1.png
  extensions/klack/package-lock.json
  extensions/klack/package.json
  extensions/klack/prettier.config.js
  extensions/klack/src/runAppleScriptSilently.tsx
  extensions/klack/src/setBalancedVolume.tsx
  extensions/klack/src/setLoudVolume.tsx
  extensions/klack/src/setSoftVolume.tsx
  extensions/klack/src/setSwitchSet.tsx
  extensions/klack/src/toggleKlack.tsx
  extensions/klack/src/volume.tsx
  extensions/klack/tsconfig.json
Labels: new extension

#12335 Add "A Song of Ice and FIre" extension
  extensions/asoiaf/.eslintrc.json
  extensions/asoiaf/.gitignore
  extensions/asoiaf/.prettierrc
  extensions/asoiaf/CHANGELOG.md
  extensions/asoiaf/README.md
  extensions/asoiaf/assets/the-iron-throne.png
  extensions/asoiaf/metadata/asoiaf-1-books.png
  extensions/asoiaf/metadata/asoiaf-2-characters.png
  extensions/asoiaf/metadata/asoiaf-3-houses.png
  extensions/asoiaf/package-lock.json
  extensions/asoiaf/package.json
  extensions/asoiaf/src/books.tsx
  extensions/asoiaf/src/characters.tsx
  extensions/asoiaf/src/houses.tsx
  extensions/asoiaf/src/lib/components/ListItemAsTagsOrIcon.tsx
  extensions/asoiaf/src/lib/components/ListItemAsTextOrIcon.tsx
  extensions/asoiaf/src/lib/types.ts
  extensions/asoiaf/src/lib/useASOIAF.ts
  extensions/asoiaf/tsconfig.json
Labels: new extension

#12322 Update doutu extension
  extensions/doutu/CHANGELOG.md
  extensions/doutu/src/services/clipboardService.ts
Labels: extension fix / improvement, OP is author, extension: doutu

#12341 Apple Notes: Links, backlinks, tags
  extensions/apple-notes/CHANGELOG.md
  extensions/apple-notes/package.json
  extensions/apple-notes/src/components/NoteActions.tsx
  extensions/apple-notes/src/components/NoteDetail.tsx
  extensions/apple-notes/src/components/NoteListItem.tsx
  extensions/apple-notes/src/helpers.ts
  extensions/apple-notes/src/index.tsx
  extensions/apple-notes/src/menu-bar.tsx
  extensions/apple-notes/src/useNotes.ts
Labels: extension fix / improvement, OP is contributor, extension: apple-notes

#12348 [Toothpick] Device not disconnecting using AppleScript backend
  extensions/toothpick/CHANGELOG.md
  extensions/toothpick/assets/scripts/disconnectDevice.applescript
  extensions/toothpick/package.json
Labels: extension fix / improvement, OP is author, OP is contributor, extension: toothpick

#12345 Brew: Remove --include-pinned upgrade flag [#12342]
  extensions/brew/CHANGELOG.md
  extensions/brew/src/brew.ts
Labels: extension fix / improvement, OP is author, extension: brew

#12338 Update chatgpt extension
  extensions/chatgpt/CHANGELOG.md
  extensions/chatgpt/package-lock.json
  extensions/chatgpt/src/ask.tsx
  extensions/chatgpt/src/hooks/useChat.tsx
  extensions/chatgpt/src/hooks/useModel.tsx
  extensions/chatgpt/src/type.ts
  extensions/chatgpt/src/utils/index.ts
  extensions/chatgpt/src/views/answer-detail.tsx
  extensions/chatgpt/src/views/chat.tsx
  extensions/chatgpt/src/views/model/form.tsx
  extensions/chatgpt/src/views/model/list.tsx
  extensions/chatgpt/src/views/question/form.tsx
Labels: extension fix / improvement, OP is contributor, extension: chatgpt

#12325 Add ugly-face extension
  extensions/ugly-face/.eslintrc.json
  extensions/ugly-face/.gitignore
  extensions/ugly-face/.prettierrc
  extensions/ugly-face/CHANGELOG.md
  extensions/ugly-face/README.md
  extensions/ugly-face/assets/face.png
  extensions/ugly-face/assets/face.svg
  extensions/ugly-face/assets/index_bg.wasm
  extensions/ugly-face/lib/resvg/index.d.ts
  extensions/ugly-face/lib/resvg/index.js
  extensions/ugly-face/lib/ugly-avatar/LICENSE
  extensions/ugly-face/lib/ugly-avatar/src/utils/eye_shape.js
  extensions/ugly-face/lib/ugly-avatar/src/utils/face_shape.js
  extensions/ugly-face/lib/ugly-avatar/src/utils/hair_lines.js
  extensions/ugly-face/lib/ugly-avatar/src/utils/mouth_shape.js
  extensions/ugly-face/metadata/1.png
  extensions/ugly-face/metadata/2.png
  extensions/ugly-face/package-lock.json
  extensions/ugly-face/package.json
  extensions/ugly-face/src/components/Svg.tsx
  extensions/ugly-face/src/index.tsx
  extensions/ugly-face/tsconfig.json
Labels: new extension

#12267 [Ray.so] Add new color themes and preview images for Vercel & Evil Rabbit partners and updated programming languages
  extensions/ray-so/.eslintrc.json
  extensions/ray-so/.gitignore
  extensions/ray-so/CHANGELOG.md
  extensions/ray-so/package-lock.json
  extensions/ray-so/package.json
  extensions/ray-so/src/constants.ts
  extensions/ray-so/src/create-a-snippet.tsx
  extensions/ray-so/src/generate-image.tsx
Labels: extension fix / improvement, OP is contributor, extension: ray-so

#12377 Update query-chatgpt extension
  extensions/query-chatgpt/CHANGELOG.md
  extensions/query-chatgpt/src/compose-applescript.ts
  extensions/query-chatgpt/src/query-chatgpt-custom-create.tsx
  extensions/query-chatgpt/src/run-applescript.ts
Labels: extension fix / improvement, OP is author, extension: query-chatgpt

#12293 Add uploadthing extension
  .github/public_raycast_extensions.txt
  extensions/uploadthing/.gitignore
  extensions/uploadthing/CHANGELOG.md
  extensions/uploadthing/README.md
  extensions/uploadthing/assets/icon.png
  extensions/uploadthing/metadata/2.upload-files.png
  extensions/uploadthing/metadata/3.files-uploaded.png
  extensions/uploadthing/metadata/4.upload-clipboard.png
  extensions/uploadthing/package-lock.json
  extensions/uploadthing/package.json
  extensions/uploadthing/prettier.config.mjs
  extensions/uploadthing/src/lib/file-grid.tsx
  extensions/uploadthing/src/lib/hooks.tsx
  extensions/uploadthing/src/lib/utils.tsx
  extensions/uploadthing/src/lib/web-polyfill.ts
  extensions/uploadthing/src/upload-files.tsx
  extensions/uploadthing/src/upload-from-clipboard.tsx
  extensions/uploadthing/tsconfig.json
Labels: new extension

#12280 Update tennis-standings extension
  extensions/tennis-standings/CHANGELOG.md
  extensions/tennis-standings/README.md
  extensions/tennis-standings/metadata/tennis-standings-1.png
  extensions/tennis-standings/metadata/tennis-standings-2.png
  extensions/tennis-standings/metadata/tennis-standings-3.png
  extensions/tennis-standings/metadata/tennis-standings-4.png
  extensions/tennis-standings/metadata/tennis-standings-5.png
  extensions/tennis-standings/metadata/tennis-standings-6.png
  extensions/tennis-standings/metadata/tennis-standings-7.png
  extensions/tennis-standings/metadata/tennis-standings-8.png
  extensions/tennis-standings/package-lock.json
  extensions/tennis-standings/package.json
  extensions/tennis-standings/src/atp-live-rankings.tsx
  extensions/tennis-standings/src/atp-race.tsx
  extensions/tennis-standings/src/atp-rankings.tsx
  extensions/tennis-standings/src/components/ListTag/ListTag.tsx
  extensions/tennis-standings/src/components/PlayerListItem/PlayerListItem.tsx
  extensions/tennis-standings/src/components/PlayerListItemDetail/PlayerListItemDetail.tsx
  extensions/tennis-standings/src/components/PlayerListSearchBarAccessory/PlayerListSearchBarAccessory.tsx
  extensions/tennis-standings/src/config/env.ts
  extensions/tennis-standings/src/data/countries.ts
  extensions/tennis-standings/src/env.ts
  extensions/tennis-standings/src/hooks/index.ts
  extensions/tennis-standings/src/hooks/useGetRankings.ts
  extensions/tennis-standings/src/hooks/useRankings.ts
  extensions/tennis-standings/src/hooks/useSearchPlayer.ts
  extensions/tennis-standings/src/types.ts
  extensions/tennis-standings/src/types/organization.ts
  extensions/tennis-standings/src/types/player.ts
  extensions/tennis-standings/src/utils/createAccessories.ts
  extensions/tennis-standings/src/utils/getCountryInfo.ts
  extensions/tennis-standings/src/utils/getRankingColor.ts
  extensions/tennis-standings/src/utils/getSignedNumberNotation.ts
  extensions/tennis-standings/src/utils/normalizeString.ts
  extensions/tennis-standings/src/views/LiveRankingList.tsx
  extensions/tennis-standings/src/views/RaceRankingList.tsx
  extensions/tennis-standings/src/views/RankingList.tsx
  extensions/tennis-standings/src/wta-live-rankings.tsx
  extensions/tennis-standings/src/wta-race.tsx
  extensions/tennis-standings/src/wta-rankings.tsx
Labels: extension fix / improvement, extension: tennis-standings

#12368 [Simple Reminder] Update the UI when no reminders are active
  extensions/simple-reminder/CHANGELOG.md
  extensions/simple-reminder/assets/menu-bar-logo.png
  extensions/simple-reminder/assets/menu-bar-logo@dark.png
  extensions/simple-reminder/package-lock.json
  extensions/simple-reminder/package.json
  extensions/simple-reminder/src/handlers/createNewReminder.ts
  extensions/simple-reminder/src/handlers/deleteExistingReminder.ts
  extensions/simple-reminder/src/handlers/setRecurrenceForReminder.ts
  extensions/simple-reminder/src/reminderMenuBar.tsx
  extensions/simple-reminder/src/utils/getNextReminder.ts
  extensions/simple-reminder/src/utils/updateMenubar.ts
Labels: extension fix / improvement, OP is author, OP is contributor, extension: simple-reminder

#11999 GitHub: Add support for projects
  extensions/github/CHANGELOG.md
  extensions/github/README.md
  extensions/github/package.json
  extensions/github/src/api/githubClient.ts
  extensions/github/src/api/project.graphql
  extensions/github/src/api/user.graphql
  extensions/github/src/components/ProjectActions.tsx
  extensions/github/src/components/ProjectClosedDropdown.tsx
  extensions/github/src/components/ProjectDetail.tsx
  extensions/github/src/components/ProjectListEmptyView.tsx
  extensions/github/src/components/ProjectListItem.tsx
  extensions/github/src/generated/graphql.ts
  extensions/github/src/helpers/project.ts
  extensions/github/src/helpers/scopes.ts
  extensions/github/src/hooks/useMyProjects.ts
  extensions/github/src/my-projects.tsx
Labels: extension fix / improvement, extension: github

#12392 Update jira extension
  extensions/jira/src/components/IssueActions.tsx
Labels: extension fix / improvement, OP is contributor, extension: jira

#12289 [Say] Add Say - Spoken Content extension
  extensions/say/.eslintrc.json
  extensions/say/.gitignore
  extensions/say/.prettierrc
  extensions/say/CHANGELOG.md
  extensions/say/LICENSE
  extensions/say/README.md
  extensions/say/assets/say-icon.png
  extensions/say/assets/spoken-content.png
  extensions/say/metadata/say-1.png
  extensions/say/metadata/say-2.png
  extensions/say/package-lock.json
  extensions/say/package.json
  extensions/say/src/components/actions.tsx
  extensions/say/src/configureSay.tsx
  extensions/say/src/constants.ts
  extensions/say/src/textToSay.tsx
  extensions/say/src/typeToSay.tsx
  extensions/say/src/utils.ts
  extensions/say/tsconfig.json
Labels: new extension

#12349 Update alt-text-generator extension
  extensions/alt-text-generator/CHANGELOG.md
  extensions/alt-text-generator/metadata/screenshot-1.png
  extensions/alt-text-generator/metadata/screenshot-2.jpeg
  extensions/alt-text-generator/metadata/screenshot-3.png
  extensions/alt-text-generator/src/generateFromClipboardCMD.ts
  extensions/alt-text-generator/src/generateFromSelectionCMD.ts
  extensions/alt-text-generator/src/generateFromURLCMD.ts
  extensions/alt-text-generator/src/utils/checkForValidFileType.ts
  extensions/alt-text-generator/src/utils/constants.ts
  extensions/alt-text-generator/src/utils/generateDescription.ts
  extensions/alt-text-generator/src/utils/handleError.ts
Labels: extension fix / improvement, OP is author, extension: alt-text-generator

#12402 Update simple-reminder extension
  extensions/simple-reminder/CHANGELOG.md
  extensions/simple-reminder/package.json
  extensions/simple-reminder/src/reminderMenuBar.tsx
Labels: extension fix / improvement, extension: simple-reminder

#12396 [Say] Fix voice picker
  extensions/say/CHANGELOG.md
  extensions/say/src/configureSay.tsx
Labels: extension fix / improvement, OP is author, extension: say

#12314 Add genius-lyrics extension
  extensions/genius-lyrics/.eslintrc.json
  extensions/genius-lyrics/.gitignore
  extensions/genius-lyrics/.prettierrc
  extensions/genius-lyrics/CHANGELOG.md
  extensions/genius-lyrics/README.md
  extensions/genius-lyrics/assets/command-icon.png
  extensions/genius-lyrics/package-lock.json
  extensions/genius-lyrics/package.json
  extensions/genius-lyrics/src/Lyrics.tsx
  extensions/genius-lyrics/src/index.tsx
  extensions/genius-lyrics/tsconfig.json
Labels: new extension

#12351 Update youtrack extension
  extensions/youtrack/CHANGELOG.md
  extensions/youtrack/src/work-item.tsx
Labels: extension fix / improvement, OP is contributor, extension: youtrack

#12316 Add android-versions extension
  extensions/android-versions/.eslintrc.json
  extensions/android-versions/.gitignore
  extensions/android-versions/.prettierrc
  extensions/android-versions/CHANGELOG.md
  extensions/android-versions/README.md
  extensions/android-versions/assets/command-icon.png
  extensions/android-versions/assets/logo/Android_11.png
  extensions/android-versions/assets/logo/Android_12.png
  extensions/android-versions/assets/logo/Android_13.png
  extensions/android-versions/assets/logo/Android_14.png
  extensions/android-versions/assets/logo/Android_15.png
  extensions/android-versions/assets/logo/Android_Ice_Cream_Sandwich.png
  extensions/android-versions/assets/logo/Android_Jelly_Bean.png
  extensions/android-versions/assets/logo/Android_KitKat.png
  extensions/android-versions/assets/logo/Android_Lollipop.png
  extensions/android-versions/assets/logo/Android_Marshmallow.png
  extensions/android-versions/assets/logo/Android_Nougat.png
  extensions/android-versions/assets/logo/Android_Oreo.png
  extensions/android-versions/assets/logo/Android_Oreo_8.1.png
  extensions/android-versions/assets/logo/Android_P.png
  extensions/android-versions/assets/logo/Android_Q.png
  extensions/android-versions/metadata/android-versions-1.png
  extensions/android-versions/metadata/android-versions-2.png
  extensions/android-versions/metadata/android-versions-3.png
  extensions/android-versions/package-lock.json
  extensions/android-versions/package.json
  extensions/android-versions/src/search-android-version.tsx
  extensions/android-versions/src/versions.tsx
  extensions/android-versions/tsconfig.json
Labels: new extension

#12411 Update pokedex extension
  extensions/pokedex/CHANGELOG.md
  extensions/pokedex/package.json
  extensions/pokedex/src/components/move.tsx
Labels: extension fix / improvement, extension: pokedex

#12408 Update dependencies
  extensions/vortex/CHANGELOG.md
  extensions/vortex/package-lock.json
  extensions/vortex/package.json
Labels: extension fix / improvement, OP is author, extension: vortex

#12364 [Shell] fix for commands not sent to iTerm2
  extensions/shell/CHANGELOG.md
  extensions/shell/package-lock.json
  extensions/shell/src/index.tsx
Labels: extension fix / improvement, OP is contributor, extension: shell

#12104 Add swift-repl extension
  extensions/swift-repl/.eslintrc.json
  extensions/swift-repl/.gitignore
  extensions/swift-repl/.prettierrc
  extensions/swift-repl/CHANGELOG.md
  extensions/swift-repl/README.md
  extensions/swift-repl/assets/extension_icon.png
  extensions/swift-repl/metadata/swift-repl-1.png
  extensions/swift-repl/metadata/swift-repl-2.png
  extensions/swift-repl/package-lock.json
  extensions/swift-repl/package.json
  extensions/swift-repl/src/run-swift.tsx
  extensions/swift-repl/tsconfig.json
Labels: new extension

#12239 Update drupal-org extension
  extensions/drupal-org/.eslintrc.json
  extensions/drupal-org/.gitignore
  extensions/drupal-org/CHANGELOG.md
  extensions/drupal-org/README.md
  extensions/drupal-org/metadata/drupal-org-1.png
  extensions/drupal-org/metadata/drupal-org-2.png
  extensions/drupal-org/metadata/drupal-org-3.png
  extensions/drupal-org/package-lock.json
  extensions/drupal-org/package.json
  extensions/drupal-org/src/search-api.tsx
  extensions/drupal-org/src/search-change-records.tsx
  extensions/drupal-org/src/utils/search-api/types.ts
  extensions/drupal-org/src/utils/search-api/util.ts
  extensions/drupal-org/src/utils/search-change-records/do-change-record-api.ts
  extensions/drupal-org/src/utils/search-change-records/types.ts
Labels: extension fix / improvement, extension: drupal-org

#12374 Update clockify extension
  extensions/clockify/.gitignore
  extensions/clockify/CHANGELOG.md
  extensions/clockify/package-lock.json
  extensions/clockify/package.json
  extensions/clockify/src/index.tsx
  extensions/clockify/src/types.d.ts
  extensions/clockify/src/utils.ts
Labels: extension fix / improvement, extension: clockify

#12261 Add Horoscope extension
  extensions/horoscope/.eslintrc.json
  extensions/horoscope/.gitignore
  extensions/horoscope/.prettierrc
  extensions/horoscope/CHANGELOG.md
  extensions/horoscope/README.md
  extensions/horoscope/assets/horoscope.png
  extensions/horoscope/metadata/screenshot.png
  extensions/horoscope/package-lock.json
  extensions/horoscope/package.json
  extensions/horoscope/src/components/HoroscopeActions.tsx
  extensions/horoscope/src/constants.ts
  extensions/horoscope/src/daily-horoscope.tsx
  extensions/horoscope/src/monthly-horoscope.tsx
  extensions/horoscope/src/types.ts
  extensions/horoscope/src/utils/generateSignMarkdown.ts
  extensions/horoscope/src/weekly-horoscope.tsx
  extensions/horoscope/tsconfig.json
Labels: new extension

#12478 [YAFW] fix: #12440 & #12439
  extensions/yafw/CHANGELOG.md
  extensions/yafw/src/objects/ffmpeg.ts
  extensions/yafw/src/objects/ffprobe.ts
  extensions/yafw/src/objects/fs.file.ts
  extensions/yafw/src/utils.tsx
Labels: extension fix / improvement, OP is contributor, extension: yafw

#12385 Update chatgpt extension
  extensions/chatgpt/CHANGELOG.md
  extensions/chatgpt/package.json
  extensions/chatgpt/src/ask.tsx
  extensions/chatgpt/src/hooks/useChat.tsx
  extensions/chatgpt/src/type.ts
  extensions/chatgpt/src/utils/index.ts
  extensions/chatgpt/src/views/answer-detail.tsx
  extensions/chatgpt/src/views/question/form.tsx
Labels: extension fix / improvement, OP is contributor, extension: chatgpt

#12464 feat(change-case): add README to clarify behavior
  extensions/change-case/CHANGELOG.md
  extensions/change-case/README.md
Labels: extension fix / improvement, OP is author, extension: change-case

#12457 Update f1-standings extension
  extensions/f1-standings/CHANGELOG.md
  extensions/f1-standings/package-lock.json
  extensions/f1-standings/package.json
  extensions/f1-standings/src/utils/formatDate.ts
  extensions/f1-standings/src/views/RaceList.tsx
Labels: extension fix / improvement, extension: f1-standings

#12437 Update ai-humanizer extension
  extensions/ai-humanizer/CHANGELOG.md
  extensions/ai-humanizer/assets/command-icon.png
  extensions/ai-humanizer/metadata/ai-humanizer-1.png
  extensions/ai-humanizer/src/index.tsx
Labels: extension fix / improvement, OP is author, extension: ai-humanizer

#12442 [Update] [Easy New File] New File Now
  extensions/easy-new-file/CHANGELOG.md
  extensions/easy-new-file/README.md
  extensions/easy-new-file/assets/new-file-here-icon.png
  extensions/easy-new-file/assets/new-file-now.png
  extensions/easy-new-file/assets/new-file-with-template-icon.png
  extensions/easy-new-file/assets/new-file-with-text-icon.png
  extensions/easy-new-file/metadata/easy-new-file-1.png
  extensions/easy-new-file/metadata/easy-new-file-2.png
  extensions/easy-new-file/metadata/easy-new-file-3.png
  extensions/easy-new-file/package-lock.json
  extensions/easy-new-file/package.json
  extensions/easy-new-file/src/add-file-template.tsx
  extensions/easy-new-file/src/components/action-new-file-here.tsx
  extensions/easy-new-file/src/components/action-new-template-file-here.tsx
  extensions/easy-new-file/src/components/new-file-here-grid-layout.tsx
  extensions/easy-new-file/src/components/new-file-here-item.tsx
  extensions/easy-new-file/src/components/new-file-here-list-layout.tsx
  extensions/easy-new-file/src/hooks/hooks.ts
  extensions/easy-new-file/src/new-file-now.tsx
  extensions/easy-new-file/src/new-file-with-details.tsx
  extensions/easy-new-file/src/new-file-with-template.tsx
  extensions/easy-new-file/src/new-file-with-text.tsx
  extensions/easy-new-file/src/types/file-type.ts
  extensions/easy-new-file/src/types/preferences.ts
  extensions/easy-new-file/src/utils/common-utils.ts
  extensions/easy-new-file/src/utils/input-item-utils.ts
Labels: extension fix / improvement, OP is author, extension: easy-new-file

#12425 Update kimai extension
  extensions/kimai/CHANGELOG.md
  extensions/kimai/README.md
  extensions/kimai/media/setup.png
  extensions/kimai/package.json
  extensions/kimai/src/libs/api.ts
  extensions/kimai/src/libs/preferences.ts
  extensions/kimai/src/log-time.tsx
Labels: extension fix / improvement, OP is author, extension: kimai

#12452 [Bugfix] [Bing Wallpaper] Fix set wallpaper issue
  extensions/bing-wallpaper/CHANGELOG.md
  extensions/bing-wallpaper/package-lock.json
  extensions/bing-wallpaper/package.json
  extensions/bing-wallpaper/src/auto-random-bing-wallpaper.ts
  extensions/bing-wallpaper/src/auto-switch-bing-wallpaper.ts
  extensions/bing-wallpaper/src/components/actions-downloaded-bing-wallpaper.tsx
  extensions/bing-wallpaper/src/components/actions-online-bing-wallpaper.tsx
  extensions/bing-wallpaper/src/components/wallpaper-grid-layout.tsx
  extensions/bing-wallpaper/src/components/wallpaper-list-layout.tsx
  extensions/bing-wallpaper/src/hooks/hooks.ts
  extensions/bing-wallpaper/src/preview-bing-wallpaper.tsx
  extensions/bing-wallpaper/src/set-bing-wallpaper.tsx
  extensions/bing-wallpaper/src/types/preferences.ts
  extensions/bing-wallpaper/src/types/types.ts
  extensions/bing-wallpaper/src/utils/common-utils.ts
  extensions/bing-wallpaper/src/utils/script-utils.ts
Labels: extension fix / improvement, OP is author, extension: bing-wallpaper

#12467 Update snap-jot extension
  extensions/snap-jot/CHANGELOG.md
  extensions/snap-jot/src/memo.tsx
Labels: extension fix / improvement, OP is author, extension: snap-jot

#12422 [Say] Add voice rate & output device support
  extensions/say/CHANGELOG.md
  extensions/say/metadata/say-3.png
  extensions/say/package-lock.json
  extensions/say/package.json
  extensions/say/src/configureSay.tsx
  extensions/say/src/constants.ts
  extensions/say/src/textToSay.tsx
  extensions/say/src/typeToSay.tsx
  extensions/say/src/types.ts
  extensions/say/src/utils.ts
Labels: extension fix / improvement, OP is author, extension: say

#12158 Update keyboard-brightness extension
  extensions/keyboard-brightness/CHANGELOG.md
  extensions/keyboard-brightness/package.json
  extensions/keyboard-brightness/src/utils.ts
Labels: extension fix / improvement, status: stalled, extension: keyboard-brightness

#12296 Add Pass extension
  extensions/pass/.eslintrc.json
  extensions/pass/.gitignore
  extensions/pass/.prettierrc
  extensions/pass/CHANGELOG.md
  extensions/pass/README.md
  extensions/pass/assets/command-icon.png
  extensions/pass/metadata/pass-1.png
  extensions/pass/metadata/pass-2.png
  extensions/pass/metadata/pass-3.png
  extensions/pass/package-lock.json
  extensions/pass/package.json
  extensions/pass/src/checkInstall.ts
  extensions/pass/src/content.tsx
  extensions/pass/src/index.tsx
  extensions/pass/src/pass.ts
  extensions/pass/src/store.tsx
  extensions/pass/tsconfig.json
Labels: new extension

#12135 Add Lucky Surf extension
  extensions/lucky-surf/.eslintrc.json
  extensions/lucky-surf/.gitignore
  extensions/lucky-surf/.prettierrc
  extensions/lucky-surf/CHANGELOG.md
  extensions/lucky-surf/README.md
  extensions/lucky-surf/assets/extension-icon.png
  extensions/lucky-surf/metadata/lucky-surf-1.png
  extensions/lucky-surf/package-lock.json
  extensions/lucky-surf/package.json
  extensions/lucky-surf/src/lucky-surf.tsx
  extensions/lucky-surf/src/utils.ts
  extensions/lucky-surf/tsconfig.json
Labels: new extension

#12453 [Update] [Open Path] Peek url in safari
  extensions/open-path/CHANGELOG.md
  extensions/open-path/README.md
  extensions/open-path/assets/open-path.png
  extensions/open-path/assets/open-path@dark.png
  extensions/open-path/metadata/open-path-1.png
  extensions/open-path/package-lock.json
  extensions/open-path/package.json
  extensions/open-path/src/open-path.tsx
  extensions/open-path/src/utils/common-utils.ts
  extensions/open-path/src/utils/constants.ts
  extensions/open-path/src/utils/path-utils.ts
  extensions/open-path/src/utils/shell-utils.ts
Labels: extension fix / improvement, OP is author, extension: open-path

#12405 Update jira extension
  extensions/jira/CHANGELOG.md
  extensions/jira/package.json
  extensions/jira/src/helpers/issues.ts
Labels: extension fix / improvement, extension: jira

#12366 Update omg-lol extension
  extensions/omg-lol/CHANGELOG.md
  extensions/omg-lol/assets/status.png
  extensions/omg-lol/metadata/omg-lol-1.png
  extensions/omg-lol/metadata/omg-lol-2.png
  extensions/omg-lol/metadata/omg-lol-3.png
  extensions/omg-lol/metadata/omg-lol-4.png
  extensions/omg-lol/metadata/omg-lol-5.png
  extensions/omg-lol/metadata/omg-lol-6.png
  extensions/omg-lol/package-lock.json
  extensions/omg-lol/package.json
  extensions/omg-lol/src/common/types.ts
  extensions/omg-lol/src/create-status.tsx
  extensions/omg-lol/src/view-statuses.tsx
Labels: extension fix / improvement, extension: omg-lol

#12421 Move lemon into pastContributors
  extensions/scrcpy/CHANGELOG.md
  extensions/scrcpy/package.json
Labels: extension fix / improvement, OP is contributor, extension: scrcpy

#12400 Fix `naver-search` broken url for en-ko dict
  extensions/naver-search/CHANGELOG.md
  extensions/naver-search/package.json
  extensions/naver-search/src/naver/parser.ts
  extensions/naver-search/src/naver/types.ts
Labels: extension fix / improvement, extension: naver-search

#12483 Added keyword
  extensions/image-wallet/CHANGELOG.md
  extensions/image-wallet/package.json
Labels: extension fix / improvement, extension: image-wallet

#12473 feat(Timers): persistent commands, codebase cleanup
  extensions/timers/CHANGELOG.md
  extensions/timers/package.json
  extensions/timers/src/RenameView.tsx
  extensions/timers/src/backend/formatUtils.ts
  extensions/timers/src/backend/menuBarUtils.ts
  extensions/timers/src/backend/soundData.ts
  extensions/timers/src/backend/stopwatchBackend.ts
  extensions/timers/src/backend/timerBackend.ts
  extensions/timers/src/backend/types.ts
  extensions/timers/src/backend/utils.ts
  extensions/timers/src/configureMenubarPresets.tsx
  extensions/timers/src/dismissTimerAlert.ts
  extensions/timers/src/hooks/useDefaultPresetVisibles.ts
  extensions/timers/src/hooks/useStopwatches.ts
  extensions/timers/src/hooks/useTimers.ts
  extensions/timers/src/manageStopwatches.tsx
  extensions/timers/src/manageTimers.tsx
  extensions/timers/src/previewAlertSounds.tsx
  extensions/timers/src/start10MinuteTimer.ts
  extensions/timers/src/start15MinuteTimer.ts
  extensions/timers/src/start25MinuteTimer.ts
  extensions/timers/src/start2MinuteTimer.ts
  extensions/timers/src/start30MinuteTimer.ts
  extensions/timers/src/start45MinuteTimer.ts
  extensions/timers/src/start5MinuteTimer.ts
  extensions/timers/src/start60MinuteTimer.ts
  extensions/timers/src/start90MinuteTimer.ts
  extensions/timers/src/startCustomTimer.tsx
  extensions/timers/src/startStopwatch.ts
  extensions/timers/src/stopRunningTimer.ts
  extensions/timers/src/stopwatchMenuBar.tsx
  extensions/timers/src/timersMenuBar.tsx
  extensions/timers/tests/notif-test.mjs
Labels: extension fix / improvement, OP is author, extension: timers

#12462 Update pick-your-wallpaper extension
  extensions/pick-your-wallpaper/.gitignore
  extensions/pick-your-wallpaper/CHANGELOG.md
  extensions/pick-your-wallpaper/package-lock.json
  extensions/pick-your-wallpaper/package.json
  extensions/pick-your-wallpaper/src/choose-wallpaper.tsx
  extensions/pick-your-wallpaper/src/utils.ts
Labels: extension fix / improvement, extension: pick-your-wallpaper

#12379 [Amazon AWS] "Copy Link" Action for console links and other bug-fixes
  extensions/amazon-aws/CHANGELOG.md
  extensions/amazon-aws/package-lock.json
  extensions/amazon-aws/package.json
  extensions/amazon-aws/src/actions/logs.ts
  extensions/amazon-aws/src/cloudformation.tsx
  extensions/amazon-aws/src/cloudwatch.tsx
  extensions/amazon-aws/src/codepipeline.tsx
  extensions/amazon-aws/src/components/cloudwatch/CloudwatchLogStreams.tsx
  extensions/amazon-aws/src/components/cloudwatch/CloudwatchLogs.tsx
  extensions/amazon-aws/src/components/common/action.tsx
  extensions/amazon-aws/src/components/ecr/ECRImage.tsx
  extensions/amazon-aws/src/components/ecr/ECRRepository.tsx
  extensions/amazon-aws/src/components/ecs/ECSCluster.tsx
  extensions/amazon-aws/src/components/ecs/ECSClusterServiceTaskContainers.tsx
  extensions/amazon-aws/src/components/ecs/ECSClusterServiceTasks.tsx
  extensions/amazon-aws/src/components/ecs/ECSClusterServices.tsx
  extensions/amazon-aws/src/console.tsx
  extensions/amazon-aws/src/dynamodb.tsx
  extensions/amazon-aws/src/ec2.tsx
  extensions/amazon-aws/src/lambda.tsx
  extensions/amazon-aws/src/run-profile-script.tsx
  extensions/amazon-aws/src/s3.tsx
  extensions/amazon-aws/src/secrets.tsx
  extensions/amazon-aws/src/sqs.tsx
  extensions/amazon-aws/src/ssm.tsx
  extensions/amazon-aws/src/step-functions.tsx
  extensions/amazon-aws/src/util/index.tsx
  extensions/amazon-aws/tsconfig.json
Labels: extension fix / improvement, extension: amazon-aws

#12397 [consoledev] Update consoledev extension
  extensions/consoledev/.gitignore
  extensions/consoledev/CHANGELOG.md
  extensions/consoledev/package.json
  extensions/consoledev/src/betas_list.tsx
  extensions/consoledev/src/components/FeedItem.tsx
  extensions/consoledev/src/interviews_list.tsx
  extensions/consoledev/src/lib/string.ts
  extensions/consoledev/src/responseTypes.ts
  extensions/consoledev/src/tools_list.tsx
  extensions/consoledev/src/util.ts
  extensions/consoledev/src/xml.ts
Labels: extension fix / improvement, extension: consoledev

#12395 Add number-facts extension
  extensions/number-facts/.eslintrc.json
  extensions/number-facts/.gitignore
  extensions/number-facts/.prettierrc
  extensions/number-facts/CHANGELOG.md
  extensions/number-facts/README.md
  extensions/number-facts/assets/logo.png
  extensions/number-facts/metadata/number-facts-1.png
  extensions/number-facts/metadata/number-facts-2.png
  extensions/number-facts/metadata/number-facts-3.png
  extensions/number-facts/metadata/number-facts-4.png
  extensions/number-facts/metadata/number-facts-5.png
  extensions/number-facts/package-lock.json
  extensions/number-facts/package.json
  extensions/number-facts/src/date.tsx
  extensions/number-facts/src/math.tsx
  extensions/number-facts/src/shared/shared-form.tsx
  extensions/number-facts/src/trivia.tsx
  extensions/number-facts/src/year.tsx
  extensions/number-facts/tsconfig.json
Labels: new extension

#12398 Add u301-url-shortener extension
  extensions/u301-url-shortener/.eslintrc.json
  extensions/u301-url-shortener/.gitignore
  extensions/u301-url-shortener/.prettierrc
  extensions/u301-url-shortener/CHANGELOG.md
  extensions/u301-url-shortener/README.md
  extensions/u301-url-shortener/assets/u301.png
  extensions/u301-url-shortener/package-lock.json
  extensions/u301-url-shortener/package.json
  extensions/u301-url-shortener/src/index.tsx
  extensions/u301-url-shortener/tsconfig.json
Labels: new extension

#12087 Update date-format-converter extension
  extensions/datetime-format-converter/.gitignore
  extensions/datetime-format-converter/CHANGELOG.md
  extensions/datetime-format-converter/README.md
  extensions/datetime-format-converter/media/form.png
  extensions/datetime-format-converter/media/result.png
  extensions/datetime-format-converter/metadata/date-format-converter-1.png
  extensions/datetime-format-converter/metadata/date-format-converter-2.png
  extensions/datetime-format-converter/package-lock.json
  extensions/datetime-format-converter/package.json
  extensions/datetime-format-converter/src/index.tsx
Labels: extension fix / improvement, extension: datetime-format-converter

#12101 Update read-ai extension
  extensions/read-ai/CHANGELOG.md
  extensions/read-ai/package-lock.json
  extensions/read-ai/package.json
  extensions/read-ai/src/processors/text-to-speech-processor.ts
  extensions/read-ai/src/read-clipboard-image.ts
  extensions/read-ai/src/read-selected-text-audio-only.ts
  extensions/read-ai/src/read-selected-text-script.tsx
  extensions/read-ai/src/utills.ts
Labels: extension fix / improvement, extension: read-ai

#12399 Add ai-screenshot extension
  extensions/ai-screenshot/.eslintrc.json
  extensions/ai-screenshot/.gitignore
  extensions/ai-screenshot/.prettierrc
  extensions/ai-screenshot/CHANGELOG.md
  extensions/ai-screenshot/README.md
  extensions/ai-screenshot/assets/extension-icon.png
  extensions/ai-screenshot/metadata/ai-screenshot-1.png
  extensions/ai-screenshot/metadata/ai-screenshot-2.png
  extensions/ai-screenshot/metadata/ai-screenshot-3.png
  extensions/ai-screenshot/package-lock.json
  extensions/ai-screenshot/package.json
  extensions/ai-screenshot/src/Modify.tsx
  extensions/ai-screenshot/src/actions/ImageActionPanel.tsx
  extensions/ai-screenshot/src/actions/ModificationAction.tsx
  extensions/ai-screenshot/src/components/form.tsx
  extensions/ai-screenshot/src/components/result.tsx
  extensions/ai-screenshot/src/config/modification.json
  extensions/ai-screenshot/src/utils/client.ts
  extensions/ai-screenshot/src/utils/description.ts
  extensions/ai-screenshot/src/utils/generation.ts
  extensions/ai-screenshot/src/utils/modification.ts
  extensions/ai-screenshot/src/utils/screenshot.ts
  extensions/ai-screenshot/tsconfig.json
Labels: new extension

#12492 Update 1password extension
  extensions/1password/CHANGELOG.md
  extensions/1password/bun.lockb
  extensions/1password/src/v8/components/AccountForm.tsx
  extensions/1password/src/v8/components/AuthContext.tsx
  extensions/1password/src/v8/components/ItemActionPanel.tsx
  extensions/1password/src/v8/utils.ts
Labels: extension fix / improvement, OP is contributor, extension: 1password

#12504 fix(dashlane-vault): improved error handling
  extensions/dashlane-vault/CHANGELOG.md
  extensions/dashlane-vault/package.json
  extensions/dashlane-vault/src/components/EmptyView.tsx
  extensions/dashlane-vault/src/helper/error.ts
  extensions/dashlane-vault/src/lib/dcli.ts
Labels: extension fix / improvement, OP is author, extension: dashlane-vault

#12502 feat: avoid overwriting a file
  extensions/ilovepdf/CHANGELOG.md
  extensions/ilovepdf/src/common/utils.ts
  extensions/ilovepdf/src/compress-pdf.tsx
  extensions/ilovepdf/src/image-to-pdf.tsx
  extensions/ilovepdf/src/pdf-to-image.tsx
Labels: extension fix / improvement, OP is author, extension: ilovepdf

#12300 Add nhk-program-search extension
  extensions/nhk-program-search/.eslintrc.json
  extensions/nhk-program-search/.gitignore
  extensions/nhk-program-search/.prettierrc
  extensions/nhk-program-search/CHANGELOG.md
  extensions/nhk-program-search/README.md
  extensions/nhk-program-search/assets/n-logo.png
  extensions/nhk-program-search/metadata/nhk-program-search-1.png
  extensions/nhk-program-search/metadata/nhk-program-search-2.png
  extensions/nhk-program-search/metadata/nhk-program-search-3.png
  extensions/nhk-program-search/metadata/nhk-program-search-4.png
  extensions/nhk-program-search/package-lock.json
  extensions/nhk-program-search/package.json
  extensions/nhk-program-search/src/components/ProgramDetail.tsx
  extensions/nhk-program-search/src/components/ProgramList.tsx
  extensions/nhk-program-search/src/components/ServiceSelectSearchBar.tsx
  extensions/nhk-program-search/src/list-program.tsx
  extensions/nhk-program-search/src/preferences.tsx
  extensions/nhk-program-search/src/search-program-by-genre.tsx
  extensions/nhk-program-search/src/search-program-by-keyword.tsx
  extensions/nhk-program-search/src/types.ts
  extensions/nhk-program-search/src/update-local-cache.ts
  extensions/nhk-program-search/src/utils.ts
  extensions/nhk-program-search/tsconfig.json
Labels: new extension

#12494 Update memos extension
  extensions/memos/CHANGELOG.md
  extensions/memos/package.json
  extensions/memos/src/api.ts
  extensions/memos/src/memosList.tsx
  extensions/memos/src/sendMemo.tsx
  extensions/memos/src/sendMemoForm.tsx
  extensions/memos/src/types.ts
Labels: extension fix / improvement, OP is author, extension: memos
