Repository raycast/extensions, pull requests merged in 2024-11, with the labels that each got.

#15182 Update norwegian-public-transport extension
  extensions/norwegian-public-transport/CHANGELOG.md
  extensions/norwegian-public-transport/README.md
  extensions/norwegian-public-transport/package-lock.json
  extensions/norwegian-public-transport/package.json
  extensions/norwegian-public-transport/src/Search/Actions.tsx
  extensions/norwegian-public-transport/src/StopPlace/Actions.tsx
  extensions/norwegian-public-transport/src/StopPlace/Detail.tsx
  extensions/norwegian-public-transport/src/preferences.ts
Labels: extension fix / improvement, OP is author, extension: norwegian-public-transport

#15194 Update letterboxd extension
  extensions/letterboxd/CHANGELOG.md
  extensions/letterboxd/src/movie-details.tsx
Labels: extension fix / improvement, OP is contributor, extension: letterboxd

#15185 [Uptime Kuma] filter monitors by status + MonitorStatus is now an enum
  extensions/uptime-kuma/CHANGELOG.md
  extensions/uptime-kuma/package-lock.json
  extensions/uptime-kuma/package.json
  extensions/uptime-kuma/src/auth-form.tsx
  extensions/uptime-kuma/src/list-monitors.tsx
  extensions/uptime-kuma/src/modules/UptimeKuma.ts
  extensions/uptime-kuma/src/monitor-detail.tsx
  extensions/uptime-kuma/src/utils/display.tsx
  extensions/uptime-kuma/tsconfig.json
Labels: extension fix / improvement, extension: uptime-kuma

#15163 [Github] Make showing created issues optional in issues commands
  extensions/github/CHANGELOG.md
  extensions/github/package.json
  extensions/github/src/hooks/useMyIssues.ts
  extensions/github/src/my-issues-menu.tsx
  extensions/github/src/my-issues.tsx
Labels: extension fix / improvement, extension: github

#14968 Add spike extension
  .github/public_raycast_extensions.txt
  extensions/spike/.eslintrc.json
  extensions/spike/.gitignore
  extensions/spike/.prettierrc
  extensions/spike/CHANGELOG.md
  extensions/spike/README.md
  extensions/spike/assets/escalation.png
  extensions/spike/assets/extension-icon.png
  extensions/spike/assets/incident.png
  extensions/spike/assets/integration.png
  extensions/spike/assets/oncall.png
  extensions/spike/assets/service.png
  extensions/spike/assets/spike-full-logo.png
  extensions/spike/assets/spike-logo-black.png
  extensions/spike/assets/spike-logo-white.png
  extensions/spike/assets/spike-logo.png
  extensions/spike/metadata/spike-1.png
  extensions/spike/metadata/spike-2.png
  extensions/spike/metadata/spike-3.png
  extensions/spike/metadata/spike-4.png
  extensions/spike/metadata/spike-5.png
  extensions/spike/metadata/spike-6.png
  extensions/spike/package-lock.json
  extensions/spike/package.json
  extensions/spike/src/addOverride.tsx
  extensions/spike/src/api/apiClient.ts
  extensions/spike/src/api/incidents.ts
  extensions/spike/src/api/index.ts
  extensions/spike/src/api/oncall.ts
  extensions/spike/src/api/teams.ts
  extensions/spike/src/api/users.ts
  extensions/spike/src/auth/index.ts
  extensions/spike/src/components/IncidentViewPage.tsx
  extensions/spike/src/components/OncallViewPage.tsx
  extensions/spike/src/config/development.ts
  extensions/spike/src/config/index.ts
  extensions/spike/src/config/production.ts
  extensions/spike/src/config/shortcut.ts
  extensions/spike/src/favorites.tsx
  extensions/spike/src/incidents.tsx
  extensions/spike/src/oncall.tsx
  extensions/spike/src/openIncidents.tsx
  extensions/spike/src/whoIsOncall.tsx
  extensions/spike/tsconfig.json
Labels: new extension

#15057 Update claude extension
  extensions/claude/CHANGELOG.md
  extensions/claude/README.md
  extensions/claude/package.json
  extensions/claude/src/hooks/useModel.tsx
Labels: extension fix / improvement, extension: claude

#15050 [Dropbox][The Blue Cloud] Extension Renamed + new OAuth ID
  extensions/dropbox/assets/dropbox.png
  extensions/the-blue-cloud/.eslintrc.json
  extensions/the-blue-cloud/.gitignore
  extensions/the-blue-cloud/.prettierrc
  extensions/the-blue-cloud/CHANGELOG.md
  extensions/the-blue-cloud/README.md
  extensions/the-blue-cloud/assets/dropbox.png
  extensions/the-blue-cloud/assets/the-blue-cloud.png
  extensions/the-blue-cloud/metadata/dropbox-1.png
  extensions/the-blue-cloud/metadata/dropbox-2.png
  extensions/the-blue-cloud/package-lock.json
  extensions/the-blue-cloud/package.json
  extensions/the-blue-cloud/src/api/auth.ts
  extensions/the-blue-cloud/src/api/dropbox.ts
  extensions/the-blue-cloud/src/api/index.ts
  extensions/the-blue-cloud/src/api/oauth.ts
  extensions/the-blue-cloud/src/components/Directory.tsx
  extensions/the-blue-cloud/src/components/DirectoryItem.tsx
  extensions/the-blue-cloud/src/components/FileItem.tsx
  extensions/the-blue-cloud/src/components/index.tsx
  extensions/the-blue-cloud/src/search-dropbox-files.tsx
  extensions/the-blue-cloud/tsconfig.json
Labels: new extension

#15212 Update torr-manager extension
  extensions/torr-manager/CHANGELOG.md
  extensions/torr-manager/src/jackett-parser.tsx
  extensions/torr-manager/src/test-connection.tsx
Labels: extension fix / improvement, OP is author, extension: torr-manager

#15128 feat(multiviewer): implement the initial version
  extensions/multiviewer/.eslintrc.json
  extensions/multiviewer/.gitignore
  extensions/multiviewer/.prettierrc
  extensions/multiviewer/CHANGELOG.md
  extensions/multiviewer/README.md
  extensions/multiviewer/assets/multiviewer.png
  extensions/multiviewer/assets/multiviewer.svg
  extensions/multiviewer/codegen.ts
  extensions/multiviewer/metadata/multiviewer-1.png
  extensions/multiviewer/metadata/multiviewer-2.png
  extensions/multiviewer/package-lock.json
  extensions/multiviewer/package.json
  extensions/multiviewer/src/__generated__/fragment-masking.ts
  extensions/multiviewer/src/__generated__/gql.ts
  extensions/multiviewer/src/__generated__/graphql.ts
  extensions/multiviewer/src/__generated__/index.ts
  extensions/multiviewer/src/lib/components/PlayerListItem.tsx
  extensions/multiviewer/src/lib/graphql.ts
  extensions/multiviewer/src/manage-players.tsx
  extensions/multiviewer/src/start-stop.ts
  extensions/multiviewer/tsconfig.json
Labels: new extension

#14996 Add SauceNAO Reverse Image Search extension
  extensions/saucenao/.eslintrc.json
  extensions/saucenao/.gitignore
  extensions/saucenao/.prettierrc
  extensions/saucenao/CHANGELOG.md
  extensions/saucenao/README.md
  extensions/saucenao/assets/extension-icon.png
  extensions/saucenao/package-lock.json
  extensions/saucenao/package.json
  extensions/saucenao/src/common/imageUtils.ts
  extensions/saucenao/src/reverse-image-search-selected-file.ts
  extensions/saucenao/src/reverse-image-search-with-clipboard.ts
  extensions/saucenao/src/reverse-image-search-with-url.ts
  extensions/saucenao/tsconfig.json
Labels: new extension

#15188 Update date-format-converter extension
  extensions/datetime-format-converter/.gitignore
  extensions/datetime-format-converter/CHANGELOG.md
  extensions/datetime-format-converter/package.json
  extensions/datetime-format-converter/src/index.tsx
Labels: extension fix / improvement, extension: datetime-format-converter

#14759 Add codemagic extension
  extensions/codemagic/.eslintrc.json
  extensions/codemagic/.gitattributes
  extensions/codemagic/.gitignore
  extensions/codemagic/.prettierrc
  extensions/codemagic/CHANGELOG.md
  extensions/codemagic/LICENSE
  extensions/codemagic/README.md
  extensions/codemagic/assets/branch-icon.svg
  extensions/codemagic/assets/default-app-icon.png
  extensions/codemagic/assets/extension-icon.png
  extensions/codemagic/assets/workflow-icon.svg
  extensions/codemagic/metadata/1.png
  extensions/codemagic/metadata/2.png
  extensions/codemagic/metadata/3.png
  extensions/codemagic/package-lock.json
  extensions/codemagic/package.json
  extensions/codemagic/src/api/cancel-build.tsx
  extensions/codemagic/src/api/fetch-all-builds.tsx
  extensions/codemagic/src/api/fetch-apps.tsx
  extensions/codemagic/src/api/fetch_build-status.tsx
  extensions/codemagic/src/api/refresh-branches.tsx
  extensions/codemagic/src/api/trigger-build.tsx
  extensions/codemagic/src/components/workflow-selector.tsx
  extensions/codemagic/src/interface/all-builds.tsx
  extensions/codemagic/src/interface/codemagic-apps.tsx
  extensions/codemagic/src/interface/last-build-status.tsx
  extensions/codemagic/src/interface/preference.tsx
  extensions/codemagic/src/show-all-builds.tsx
  extensions/codemagic/src/trigger-build.tsx
  extensions/codemagic/src/util/build-status.tsx
  extensions/codemagic/src/util/capitalise.tsx
  extensions/codemagic/src/util/format-platform-names.tsx
  extensions/codemagic/tsconfig.json
Labels: new extension

#15133 [NeoDB] new view command + preferreed lang + tweaks + add Search EmptyView + add Chinese langs
  extensions/neodb/.gitignore
  extensions/neodb/CHANGELOG.md
  extensions/neodb/README.md
  extensions/neodb/assets/default.svg
  extensions/neodb/package-lock.json
  extensions/neodb/package.json
  extensions/neodb/src/ItemDetail.tsx
  extensions/neodb/src/account.tsx
  extensions/neodb/src/components/ItemActions.tsx
  extensions/neodb/src/hooks/useAuthorizedPaginated.ts
  extensions/neodb/src/hooks/useSearch.ts
  extensions/neodb/src/search.tsx
  extensions/neodb/src/types.ts
  extensions/neodb/src/utils/getItemTitle.ts
Labels: extension fix / improvement, extension: neodb

#15146 Add distraction-tracker extension
  extensions/distraction-tracker/.eslintrc.json
  extensions/distraction-tracker/.gitignore
  extensions/distraction-tracker/.prettierrc
  extensions/distraction-tracker/CHANGELOG.md
  extensions/distraction-tracker/README.md
  extensions/distraction-tracker/assets/extension-icon.png
  extensions/distraction-tracker/metadata/distraction-tracker-1.png
  extensions/distraction-tracker/metadata/distraction-tracker-2.png
  extensions/distraction-tracker/metadata/distraction-tracker-3.png
  extensions/distraction-tracker/package-lock.json
  extensions/distraction-tracker/package.json
  extensions/distraction-tracker/src/components/distraction-form.tsx
  extensions/distraction-tracker/src/lib/feelings.ts
  extensions/distraction-tracker/src/lib/types.ts
  extensions/distraction-tracker/src/list-distractions.tsx
  extensions/distraction-tracker/src/track-distraction.tsx
  extensions/distraction-tracker/tsconfig.json
Labels: new extension

#15157 Update cloudflare-warp extension
  extensions/cloudflare-warp/CHANGELOG.md
  extensions/cloudflare-warp/src/lib.ts
  extensions/cloudflare-warp/src/switch-virtual-network.tsx
Labels: extension fix / improvement, OP is author, extension: cloudflare-warp

#15165 Update svgl extension
  extensions/svgl/CHANGELOG.md
  extensions/svgl/assets/svelte.svg
  extensions/svgl/assets/vue.svg
  extensions/svgl/src/components/actions/copy-svelte-component-actions.tsx
  extensions/svgl/src/components/actions/copy-vue-component-actions.tsx
  extensions/svgl/src/components/svg-action.tsx
  extensions/svgl/src/utils/component-template.ts
  extensions/svgl/src/utils/fetch.ts
  extensions/svgl/src/utils/parse-svg.ts
Labels: extension fix / improvement, OP is contributor, extension: svgl

#15161 Update polymarket extension
  extensions/polymarket/.eslintrc.json
  extensions/polymarket/.gitattributes
  extensions/polymarket/.gitignore
  extensions/polymarket/.prettierrc
  extensions/polymarket/CHANGELOG.md
  extensions/polymarket/LICENSE
  extensions/polymarket/README.md
  extensions/polymarket/assets/polymarket.png
  extensions/polymarket/metadata/polymarket-1.png
  extensions/polymarket/metadata/polymarket-2.png
  extensions/polymarket/metadata/polymarket-3.png
  extensions/polymarket/package-lock.json
  extensions/polymarket/package.json
  extensions/polymarket/src/polymarket.tsx
  extensions/polymarket/src/swing-states.tsx
  extensions/polymarket/src/top-markets.tsx
  extensions/polymarket/tsconfig.json
Labels: new extension

#15118 Add pdb-explorer extension
  extensions/pdb-explorer/.eslintrc.json
  extensions/pdb-explorer/.gitignore
  extensions/pdb-explorer/.prettierrc
  extensions/pdb-explorer/CHANGELOG.md
  extensions/pdb-explorer/README.md
  extensions/pdb-explorer/assets/command-icon.png
  extensions/pdb-explorer/metadata/view1.png
  extensions/pdb-explorer/metadata/view2.png
  extensions/pdb-explorer/metadata/view3.png
  extensions/pdb-explorer/metadata/view4.png
  extensions/pdb-explorer/package-lock.json
  extensions/pdb-explorer/package.json
  extensions/pdb-explorer/src/get-title.tsx
  extensions/pdb-explorer/tsconfig.json
Labels: new extension

#15031 Not Diamond Extension
  extensions/not-diamond/.eslintrc.json
  extensions/not-diamond/.gitignore
  extensions/not-diamond/.prettierrc
  extensions/not-diamond/CHANGELOG.md
  extensions/not-diamond/README.md
  extensions/not-diamond/assets/extension-icon.png
  extensions/not-diamond/metadata/1.png
  extensions/not-diamond/metadata/2.png
  extensions/not-diamond/metadata/3.png
  extensions/not-diamond/package-lock.json
  extensions/not-diamond/package.json
  extensions/not-diamond/src/actions/select-model.tsx
  extensions/not-diamond/src/actions/send-message.tsx
  extensions/not-diamond/src/components/chat.tsx
  extensions/not-diamond/src/components/empty.tsx
  extensions/not-diamond/src/components/preferences-action-section.tsx
  extensions/not-diamond/src/components/primary-action.tsx
  extensions/not-diamond/src/constants/provider.ts
  extensions/not-diamond/src/hooks/useQuestion.tsx
  extensions/not-diamond/src/not-diamond.tsx
  extensions/not-diamond/src/types/chat.ts
  extensions/not-diamond/src/types/provider.ts
  extensions/not-diamond/src/types/question.ts
  extensions/not-diamond/tsconfig.json
Labels: new extension

#15160 [Airtable] update the OAuth ID to fix login not working (scope mismatch)
  extensions/airtable/CHANGELOG.md
  extensions/airtable/README.md
  extensions/airtable/package-lock.json
  extensions/airtable/package.json
  extensions/airtable/src/BaseList.tsx
  extensions/airtable/src/BaseSchemaDetailsView.tsx
  extensions/airtable/src/oauth-client.tsx
Labels: extension fix / improvement, OP is contributor, extension: airtable

#14999 Update react-native-directory extension
  extensions/react-native-directory/CHANGELOG.md
  extensions/react-native-directory/README.md
  extensions/react-native-directory/metadata/react-native-directory-6.png
  extensions/react-native-directory/src/components/library-detail.tsx
  extensions/react-native-directory/src/components/library-list-item.tsx
  extensions/react-native-directory/src/constants.ts
  extensions/react-native-directory/src/utils.ts
Labels: extension fix / improvement, OP is author, extension: react-native-directory

#15082 Add multi-links extension
  extensions/multi-links/.eslintrc.json
  extensions/multi-links/.gitignore
  extensions/multi-links/.prettierrc
  extensions/multi-links/CHANGELOG.md
  extensions/multi-links/README.md
  extensions/multi-links/assets/extension-icon.png
  extensions/multi-links/package-lock.json
  extensions/multi-links/package.json
  extensions/multi-links/src/extract-urls.d.ts
  extensions/multi-links/src/multi-links.ts
  extensions/multi-links/tsconfig.json
Labels: new extension

#15158 Update rehooks extension
  extensions/rehooks/CHANGELOG.md
  extensions/rehooks/README.md
  extensions/rehooks/metadata/rehooks-1.png
  extensions/rehooks/metadata/rehooks-2.png
  extensions/rehooks/package.json
  extensions/rehooks/src/components/actions.tsx
  extensions/rehooks/src/docs.tsx
  extensions/rehooks/src/hooks/useSearch.ts
  extensions/rehooks/src/search-hooks.tsx
  extensions/rehooks/src/types/index.ts
  extensions/rehooks/src/utils/docs.ts
Labels: extension fix / improvement, OP is author, extension: rehooks

#15166 Update restart-system-processes extension
  extensions/restart-system-processes/CHANGELOG.md
  extensions/restart-system-processes/metadata/restart-system-processes-1.png
  extensions/restart-system-processes/metadata/restart-system-processes-2.png
  extensions/restart-system-processes/package.json
  extensions/restart-system-processes/src/index.jsx
  extensions/restart-system-processes/src/index.tsx
Labels: extension fix / improvement, extension: restart-system-processes

#15236 Update rollup-wtf extension
  extensions/rollup-wtf/CHANGELOG.md
  extensions/rollup-wtf/src/view-blob-stats.tsx
Labels: extension fix / improvement, OP is author, extension: rollup-wtf

#15169 [Zeplin Project Search] update deps + make users 🪝 more robust + view details of proj + add CHANGELOG,images,cats
  extensions/zeplin-project-search/.eslintrc.json
  extensions/zeplin-project-search/.gitignore
  extensions/zeplin-project-search/CHANGELOG.md
  extensions/zeplin-project-search/metadata/zeplin-project-raycast-extension-1.png
  extensions/zeplin-project-search/metadata/zeplin-project-raycast-extension-2.png
  extensions/zeplin-project-search/package-lock.json
  extensions/zeplin-project-search/package.json
  extensions/zeplin-project-search/src/components/ProjectListItem.tsx
  extensions/zeplin-project-search/src/hooks/useGetCurrentUser.tsx
  extensions/zeplin-project-search/src/hooks/useGetProjects.tsx
  extensions/zeplin-project-search/src/hooks/useVisitedProjects.tsx
  extensions/zeplin-project-search/src/searchProject.tsx
  extensions/zeplin-project-search/src/types/index.ts
  extensions/zeplin-project-search/tsconfig.json
Labels: extension fix / improvement, extension: zeplin-project-search

#15202 [Envato] - View your purchases + Add placeholder to `Preference` + Fix typo in title of a `Command`
  extensions/envato/CHANGELOG.md
  extensions/envato/README.md
  extensions/envato/package-lock.json
  extensions/envato/package.json
  extensions/envato/src/list-purchases.tsx
  extensions/envato/src/utils.ts
Labels: extension fix / improvement, OP is contributor, extension: envato

#15203 Add raycast-apple-intelligence extension
  extensions/raycast-apple-intelligence/.eslintrc.json
  extensions/raycast-apple-intelligence/.gitignore
  extensions/raycast-apple-intelligence/.prettierrc
  extensions/raycast-apple-intelligence/CHANGELOG.md
  extensions/raycast-apple-intelligence/README.md
  extensions/raycast-apple-intelligence/assets/apple-intelligence.png
  extensions/raycast-apple-intelligence/metadata/raycast-apple-intelligence-1.png
  extensions/raycast-apple-intelligence/metadata/raycast-apple-intelligence-2.png
  extensions/raycast-apple-intelligence/package-lock.json
  extensions/raycast-apple-intelligence/package.json
  extensions/raycast-apple-intelligence/src/api.ts
  extensions/raycast-apple-intelligence/src/create-key-points.ts
  extensions/raycast-apple-intelligence/src/list-writing-tools.tsx
  extensions/raycast-apple-intelligence/src/make-concise.ts
  extensions/raycast-apple-intelligence/src/make-friendly.ts
  extensions/raycast-apple-intelligence/src/make-list.ts
  extensions/raycast-apple-intelligence/src/make-professional.ts
  extensions/raycast-apple-intelligence/src/make-table.ts
  extensions/raycast-apple-intelligence/src/proofread.ts
  extensions/raycast-apple-intelligence/src/rewrite.ts
  extensions/raycast-apple-intelligence/src/show-writing-tools.ts
  extensions/raycast-apple-intelligence/src/summarize.ts
  extensions/raycast-apple-intelligence/tsconfig.json
Labels: new extension

#15207 cleanup: update deno logo in jsr extension
  extensions/jsr/CHANGELOG.md
  extensions/jsr/assets/deno.svg
Labels: extension fix / improvement, extension: jsr

#15256 Type Snob: Update with more characters
  extensions/type-snob/CHANGELOG.md
  extensions/type-snob/README.md
  extensions/type-snob/src/characters.ts
Labels: extension fix / improvement, OP is author, extension: type-snob

#15191 [Linear] Fix #15052 - Add pagination to SearchProjects
  extensions/linear/CHANGELOG.md
  extensions/linear/package.json
  extensions/linear/src/api/getProjects.ts
  extensions/linear/src/components/EditProjectForm.tsx
  extensions/linear/src/components/Project.tsx
  extensions/linear/src/components/ProjectList.tsx
  extensions/linear/src/hooks/useProjects.ts
Labels: extension fix / improvement, extension: linear

#15220 Add gleam-packages extension
  extensions/gleam-packages/.eslintrc.json
  extensions/gleam-packages/.gitignore
  extensions/gleam-packages/.prettierrc
  extensions/gleam-packages/CHANGELOG.md
  extensions/gleam-packages/README.md
  extensions/gleam-packages/assets/lucy.png
  extensions/gleam-packages/bun.lockb
  extensions/gleam-packages/metadata/gleam-packages-1.png
  extensions/gleam-packages/metadata/gleam-packages-2.png
  extensions/gleam-packages/metadata/gleam-packages-3.png
  extensions/gleam-packages/package-lock.json
  extensions/gleam-packages/package.json
  extensions/gleam-packages/src/cache.ts
  extensions/gleam-packages/src/components/DocsDetail.tsx
  extensions/gleam-packages/src/components/DocsList.tsx
  extensions/gleam-packages/src/components/DocsListItem.tsx
  extensions/gleam-packages/src/components/DocsListSection.tsx
  extensions/gleam-packages/src/components/PackageListItem.tsx
  extensions/gleam-packages/src/components/RefreshAction.tsx
  extensions/gleam-packages/src/db.ts
  extensions/gleam-packages/src/hooks/useDocs.ts
  extensions/gleam-packages/src/hooks/usePackages.ts
  extensions/gleam-packages/src/search-gleam-packages.tsx
  extensions/gleam-packages/src/types.ts
  extensions/gleam-packages/tsconfig.json
Labels: new extension

#15234 [Google Tasks] Change from `⌘ + I` to `⌘ + E` to keep the standard for editing in raycast
  extensions/google-tasks/CHANGELOG.md
  extensions/google-tasks/src/components/TaskItem.tsx
Labels: extension fix / improvement, extension: google-tasks

#15156 Add base-stats extension
  extensions/base-stats/.eslintrc.json
  extensions/base-stats/.gitignore
  extensions/base-stats/.prettierrc
  extensions/base-stats/CHANGELOG.md
  extensions/base-stats/README.md
  extensions/base-stats/assets/base.png
  extensions/base-stats/metadata/base-stats-1.png
  extensions/base-stats/metadata/base-stats-2.png
  extensions/base-stats/package-lock.json
  extensions/base-stats/package.json
  extensions/base-stats/src/gas-price-no-unit.tsx
  extensions/base-stats/src/gas-price.tsx
  extensions/base-stats/src/stats.tsx
  extensions/base-stats/tsconfig.json
Labels: new extension

#15247 Add sync-folders extension
  extensions/sync-folders/.eslintrc.json
  extensions/sync-folders/.gitignore
  extensions/sync-folders/.prettierrc
  extensions/sync-folders/CHANGELOG.md
  extensions/sync-folders/README.md
  extensions/sync-folders/assets/bulk.svg
  extensions/sync-folders/assets/extension-icon.png
  extensions/sync-folders/assets/extension-icon.svg
  extensions/sync-folders/assets/folder-fill.svg
  extensions/sync-folders/assets/folder.svg
  extensions/sync-folders/assets/folders-green.svg
  extensions/sync-folders/assets/folders-orange.svg
  extensions/sync-folders/assets/folders-red.svg
  extensions/sync-folders/assets/folders.svg
  extensions/sync-folders/assets/refresh.svg
  extensions/sync-folders/assets/sync-folders.svg
  extensions/sync-folders/metadata/sync-folders-1.png
  extensions/sync-folders/metadata/sync-folders-2.png
  extensions/sync-folders/metadata/sync-folders-3.png
  extensions/sync-folders/metadata/sync-folders-4.png
  extensions/sync-folders/metadata/sync-folders-5.png
  extensions/sync-folders/metadata/sync-folders-6.png
  extensions/sync-folders/metadata/sync-folders-7.png
  extensions/sync-folders/package-lock.json
  extensions/sync-folders/package.json
  extensions/sync-folders/src/components/SyncFoldersForm.tsx
  extensions/sync-folders/src/create-sync-folders.tsx
  extensions/sync-folders/src/hooks/index.ts
  extensions/sync-folders/src/hooks/use-sync-folders.ts
  extensions/sync-folders/src/menu-bar.tsx
  extensions/sync-folders/src/my-sync-folders.tsx
  extensions/sync-folders/src/sync-finder-selected-folders.tsx
  extensions/sync-folders/src/sync-folders.tsx
  extensions/sync-folders/src/types/index.ts
  extensions/sync-folders/src/utils/create-id.ts
  extensions/sync-folders/src/utils/execute-rsync.ts
  extensions/sync-folders/src/utils/index.ts
  extensions/sync-folders/src/utils/last-sync-date.ts
  extensions/sync-folders/tsconfig.json
Labels: new extension

#15179 Update wp-bones extension
  extensions/wp-bones/CHANGELOG.md
  extensions/wp-bones/package.json
  extensions/wp-bones/src/menu-bar.tsx
Labels: extension fix / improvement, OP is author, extension: wp-bones

#15319 Update vim-bro extension
  extensions/vim-bro/.gitignore
  extensions/vim-bro/CHANGELOG.md
  extensions/vim-bro/package.json
  extensions/vim-bro/src/index.tsx
Labels: extension fix / improvement, extension: vim-bro

#15224 Update claude extension
  extensions/claude/CHANGELOG.md
  extensions/claude/README.md
  extensions/claude/src/hooks/useModel.tsx
Labels: extension fix / improvement, OP is contributor, extension: claude

#15281 fix: Handle notification icon retrieval error
  extensions/github/CHANGELOG.md
  extensions/github/package.json
  extensions/github/src/unread-notifications.tsx
Labels: extension fix / improvement, extension: github

#15316 Update Catppuccin extension
  extensions/catppuccin/CHANGELOG.md
  extensions/catppuccin/README.md
  extensions/catppuccin/metadata/catppuccin-1.png
  extensions/catppuccin/metadata/catppuccin-2.png
  extensions/catppuccin/metadata/catppuccin-3.png
  extensions/catppuccin/metadata/catppuccin-4.png
  extensions/catppuccin/metadata/catppuccin-5.png
  extensions/catppuccin/metadata/catppuccin-6.png
  extensions/catppuccin/package.json
  extensions/catppuccin/src/search-palette.tsx
  extensions/catppuccin/src/search-ports.tsx
  extensions/catppuccin/src/search-userstyles.tsx
  extensions/catppuccin/src/types.ts
  extensions/catppuccin/src/utils/data.util.ts
  extensions/catppuccin/src/utils/icons.util.ts
  extensions/catppuccin/src/utils/palette.util.ts
  extensions/catppuccin/src/utils/preferences.util.ts
  extensions/catppuccin/tsconfig.json
Labels: extension fix / improvement, OP is author, extension: catppuccin

#15272 Update looksee extension
  extensions/looksee/CHANGELOG.md
  extensions/looksee/package-lock.json
  extensions/looksee/package.json
  extensions/looksee/src/lookup.tsx
  extensions/looksee/src/lookup/LocalAddress.tsx
  extensions/looksee/src/lookup/useLocalAddressCheck.ts
Labels: extension fix / improvement, OP is author, extension: looksee

#15237 Add github-spark extension
  extensions/github-spark/.eslintrc.json
  extensions/github-spark/.gitignore
  extensions/github-spark/.prettierrc
  extensions/github-spark/CHANGELOG.md
  extensions/github-spark/README.md
  extensions/github-spark/assets/icon.png
  extensions/github-spark/metadata/github-spark-1.png
  extensions/github-spark/package-lock.json
  extensions/github-spark/package.json
  extensions/github-spark/src/create-new-spark.tsx
  extensions/github-spark/tsconfig.json
Labels: new extension

#15240 [LaLiga] Enhanced Match Information
  extensions/laliga/CHANGELOG.md
  extensions/laliga/README.md
  extensions/laliga/assets/icons/31.svg
  extensions/laliga/metadata/laliga-1.png
  extensions/laliga/metadata/laliga-4.png
  extensions/laliga/metadata/laliga-5.png
  extensions/laliga/metadata/laliga-6.png
  extensions/laliga/package-lock.json
  extensions/laliga/package.json
  extensions/laliga/src/api/index.ts
  extensions/laliga/src/club.tsx
  extensions/laliga/src/components/club.tsx
  extensions/laliga/src/components/comment.tsx
  extensions/laliga/src/components/competition_dropdown.tsx
  extensions/laliga/src/components/lineup.tsx
  extensions/laliga/src/components/matchday.tsx
  extensions/laliga/src/components/player.tsx
  extensions/laliga/src/components/squad.tsx
  extensions/laliga/src/other.tsx
  extensions/laliga/src/result.tsx
  extensions/laliga/src/standing.tsx
  extensions/laliga/src/types/index.d.ts
Labels: extension fix / improvement, OP is author, extension: laliga

#15243 Update timezone converter extension
  extensions/timezone-converter/CHANGELOG.md
  extensions/timezone-converter/package.json
  extensions/timezone-converter/src/index.tsx
Labels: extension fix / improvement, extension: timezone-converter

#15310 Fixed the bug no #15306 and removed unused import.
  extensions/youtube-downloader/CHANGELOG.md
  extensions/youtube-downloader/package-lock.json
  extensions/youtube-downloader/src/utils.ts
Labels: extension fix / improvement, extension: youtube-downloader

#15336 Oura: Adding Stress and Resilience Commands
  extensions/oura/CHANGELOG.md
  extensions/oura/README.md
  extensions/oura/metadata/oura-5.png
  extensions/oura/metadata/oura-6.png
  extensions/oura/package.json
  extensions/oura/src/activity.tsx
  extensions/oura/src/readiness.tsx
  extensions/oura/src/resilience.tsx
  extensions/oura/src/sleep.tsx
  extensions/oura/src/stress.tsx
  extensions/oura/src/summary.ts
  extensions/oura/src/types/index.ts
  extensions/oura/src/utils/datetime.ts
  extensions/oura/src/utils/measurement.ts
  extensions/oura/src/workouts.tsx
Labels: extension fix / improvement, OP is author, extension: oura

#15347 GitHub Spark: Move to org
  .github/public_raycast_extensions.txt
  extensions/github-spark/CHANGELOG.md
  extensions/github-spark/package.json
Labels: extension fix / improvement, extension: github-spark

#14666 [Facetime]: Add dropdown for contacts and possibility for audio calls
  extensions/facetime/.eslintrc.json
  extensions/facetime/.gitignore
  extensions/facetime/CHANGELOG.md
  extensions/facetime/package-lock.json
  extensions/facetime/package.json
  extensions/facetime/src/call.tsx
  extensions/facetime/src/swift-shim.d.ts
  extensions/facetime/swift/contacts/.gitignore
  extensions/facetime/swift/contacts/Package.resolved
  extensions/facetime/swift/contacts/Package.swift
  extensions/facetime/swift/contacts/Sources/Messages.swift
Labels: extension fix / improvement, extension: facetime

#15330 [Bluesky] fix views not loading due to parser fail
  extensions/bluesky/CHANGELOG.md
  extensions/bluesky/package-lock.json
  extensions/bluesky/package.json
  extensions/bluesky/src/utils/parser.ts
Labels: extension fix / improvement, OP is contributor, extension: bluesky

#15303 Update nextjs-docs extension
  extensions/nextjs-docs/CHANGELOG.md
  extensions/nextjs-docs/package.json
  extensions/nextjs-docs/src/index.tsx
Labels: extension fix / improvement, extension: nextjs-docs

#15338 [NixPkgs Search] fix crash when no homepage (close 2 issues) + move to `useFetch` for control
  extensions/nixpkgs-search/.eslintrc.json
  extensions/nixpkgs-search/.gitignore
  extensions/nixpkgs-search/CHANGELOG.md
  extensions/nixpkgs-search/package-lock.json
  extensions/nixpkgs-search/package.json
  extensions/nixpkgs-search/src/index.tsx
  extensions/nixpkgs-search/tsconfig.json
Labels: extension fix / improvement, extension: nixpkgs-search

#15299 [graphcalc] fix colors
  extensions/graphcalc/CHANGELOG.md
  extensions/graphcalc/package-lock.json
  extensions/graphcalc/package.json
  extensions/graphcalc/src/components/Graph.tsx
Labels: extension fix / improvement, OP is contributor, extension: graphcalc

#15033 Update `Twenty` extension - support self-hosted Twenty
  extensions/twenty/CHANGELOG.md
  extensions/twenty/README.md
  extensions/twenty/package-lock.json
  extensions/twenty/package.json
  extensions/twenty/src/create-company.tsx
  extensions/twenty/src/create-person.tsx
  extensions/twenty/src/hooks/use-api-url.ts
  extensions/twenty/src/hooks/use-auth-headers.ts
  extensions/twenty/src/hooks/use-company-details.ts
  extensions/twenty/src/hooks/use-company.ts
  extensions/twenty/src/hooks/use-people.ts
  extensions/twenty/src/list-people.tsx
Labels: extension fix / improvement, extension: twenty

#14883 Add markdown-slides extension
  extensions/markdown-slides/.eslintrc.json
  extensions/markdown-slides/.gitignore
  extensions/markdown-slides/.prettierrc
  extensions/markdown-slides/CHANGELOG.md
  extensions/markdown-slides/README.md
  extensions/markdown-slides/assets/example.md
  extensions/markdown-slides/assets/extension-icon.png
  extensions/markdown-slides/metadata/markdown-slides-1.png
  extensions/markdown-slides/metadata/markdown-slides-2.png
  extensions/markdown-slides/metadata/markdown-slides-3.png
  extensions/markdown-slides/package-lock.json
  extensions/markdown-slides/package.json
  extensions/markdown-slides/src/create-markdown-presentation.tsx
  extensions/markdown-slides/src/generate-markdown-slides.tsx
  extensions/markdown-slides/src/preview-markdown-slides.tsx
  extensions/markdown-slides/src/select-markdown-presentation.tsx
  extensions/markdown-slides/src/slides.ts
  extensions/markdown-slides/tsconfig.json
Labels: new extension

#15363 Update flighty extension
  extensions/flighty/CHANGELOG.md
  extensions/flighty/package-lock.json
  extensions/flighty/package.json
  extensions/flighty/src/view-flights.tsx
Labels: extension fix / improvement, OP is author, extension: flighty

#15354 Update ente-auth extension
  extensions/ente-auth/CHANGELOG.md
  extensions/ente-auth/README.md
  extensions/ente-auth/package.json
  extensions/ente-auth/src/index.tsx
Labels: extension fix / improvement, OP is author, extension: ente-auth

#15334 Update compressx extension
  extensions/compressx/CHANGELOG.md
  extensions/compressx/metadata/screenshot-1.png
  extensions/compressx/package-lock.json
  extensions/compressx/package.json
  extensions/compressx/src/compressVideo.tsx
  extensions/compressx/src/importFiles.tsx
  extensions/compressx/src/utils/checkFileType.ts
  extensions/compressx/src/utils/checkInstall.ts
Labels: extension fix / improvement, OP is author, extension: compressx

#14935 Add raycast-sink extension
  extensions/raycast-sink/.eslintrc.json
  extensions/raycast-sink/.gitignore
  extensions/raycast-sink/.prettierrc
  extensions/raycast-sink/CHANGELOG.md
  extensions/raycast-sink/README.md
  extensions/raycast-sink/assets/sink.png
  extensions/raycast-sink/docs/images/raycast-sink-intro.png
  extensions/raycast-sink/metadata/raycast-sink-1.png
  extensions/raycast-sink/metadata/raycast-sink-2.png
  extensions/raycast-sink/metadata/raycast-sink-3.png
  extensions/raycast-sink/metadata/raycast-sink-4.png
  extensions/raycast-sink/package-lock.json
  extensions/raycast-sink/package.json
  extensions/raycast-sink/src/components/EditLinkView.tsx
  extensions/raycast-sink/src/components/LinkDetail.tsx
  extensions/raycast-sink/src/components/LinkItem.tsx
  extensions/raycast-sink/src/constants/index.ts
  extensions/raycast-sink/src/createLink.tsx
  extensions/raycast-sink/src/hooks/useConfig.ts
  extensions/raycast-sink/src/hooks/useLinks.ts
  extensions/raycast-sink/src/hooks/useTranslation.ts
  extensions/raycast-sink/src/i18n/index.ts
  extensions/raycast-sink/src/listLink.tsx
  extensions/raycast-sink/src/types/index.ts
  extensions/raycast-sink/src/utils/api.ts
  extensions/raycast-sink/src/utils/cache.ts
  extensions/raycast-sink/src/utils/url.ts
  extensions/raycast-sink/tsconfig.json
Labels: new extension

#15245 Add `Wave` (waveapps) extension - OAuth Proxy + View Businesses, Invoices, Customers, (some) Customer Statements
  extensions/wave/.eslintrc.json
  extensions/wave/.gitignore
  extensions/wave/.prettierrc
  extensions/wave/CHANGELOG.md
  extensions/wave/README.md
  extensions/wave/assets/empty-folder.png
  extensions/wave/assets/no-user.png
  extensions/wave/assets/user.png
  extensions/wave/assets/wave.png
  extensions/wave/assets/wave@dark.png
  extensions/wave/media/no-customers.png
  extensions/wave/media/no-invoices.png
  extensions/wave/media/no-products-or-services.png
  extensions/wave/metadata/wave-1.png
  extensions/wave/metadata/wave-2.png
  extensions/wave/metadata/wave-3.png
  extensions/wave/package-lock.json
  extensions/wave/package.json
  extensions/wave/src/lib/components/customer-statement.tsx
  extensions/wave/src/lib/components/open-in-wave.tsx
  extensions/wave/src/lib/config.ts
  extensions/wave/src/lib/gql/nodes.ts
  extensions/wave/src/lib/gql/objects.ts
  extensions/wave/src/lib/gql/queries.ts
  extensions/wave/src/lib/oauth.ts
  extensions/wave/src/lib/types.ts
  extensions/wave/src/lib/utils.ts
  extensions/wave/src/lib/wave.ts
  extensions/wave/src/manage-wave.tsx
  extensions/wave/tsconfig.json
Labels: new extension

#15312 Add `Daminik` extension - simple & scalable DAM with CDN
  extensions/daminik/.eslintrc.json
  extensions/daminik/.gitignore
  extensions/daminik/.prettierrc
  extensions/daminik/CHANGELOG.md
  extensions/daminik/README.md
  extensions/daminik/assets/daminik.png
  extensions/daminik/metadata/daminik-1.png
  extensions/daminik/package-lock.json
  extensions/daminik/package.json
  extensions/daminik/src/assets.tsx
  extensions/daminik/tsconfig.json
Labels: new extension

#15373 Update ente-auth extension
  extensions/ente-auth/CHANGELOG.md
  extensions/ente-auth/README.md
  extensions/ente-auth/metadata/ente-auth-5.png
Labels: extension fix / improvement, OP is author, extension: ente-auth

#15267 Update 5devs extension
  extensions/5devs/CHANGELOG.md
  extensions/5devs/package.json
  extensions/5devs/src/cartao.tsx
  extensions/5devs/src/empresa.tsx
  extensions/5devs/src/endereco.tsx
  extensions/5devs/src/pessoa.tsx
  extensions/5devs/src/uteis.tsx
  extensions/5devs/src/veiculo.tsx
Labels: extension fix / improvement, extension: 5devs

#15271 Update one-time-password extension
  extensions/one-time-password/CHANGELOG.md
  extensions/one-time-password/package-lock.json
  extensions/one-time-password/src/one-time-password.tsx
Labels: extension fix / improvement, extension: one-time-password

#15280 Add tscheck-in extension
  extensions/tscheck-in/.eslintrc.json
  extensions/tscheck-in/.gitignore
  extensions/tscheck-in/.prettierrc
  extensions/tscheck-in/CHANGELOG.md
  extensions/tscheck-in/README.md
  extensions/tscheck-in/assets/extension_icon.png
  extensions/tscheck-in/metadata/tscheck-in-1.png
  extensions/tscheck-in/metadata/tscheck-in-2.png
  extensions/tscheck-in/metadata/tscheck-in-3.png
  extensions/tscheck-in/metadata/tscheck-in-4.png
  extensions/tscheck-in/package-lock.json
  extensions/tscheck-in/package.json
  extensions/tscheck-in/src/get-tscheck-in.ts
  extensions/tscheck-in/tsconfig.json
Labels: new extension

#15204 Add child issues to Jira extension
  extensions/jira/CHANGELOG.md
  extensions/jira/package.json
  extensions/jira/src/api/issues.ts
  extensions/jira/src/components/IssueActions.tsx
  extensions/jira/src/components/IssueChildIssues.tsx
  extensions/jira/src/components/IssueDetail.tsx
  extensions/jira/src/components/IssueListItem.tsx
  extensions/jira/src/hooks/useIssues.ts
Labels: extension fix / improvement, extension: jira

#15286 feat(tailscale): give indicator/feedback during connect and disconnect
  extensions/tailscale/CHANGELOG.md
  extensions/tailscale/src/connect.tsx
  extensions/tailscale/src/disconnect.tsx
  extensions/tailscale/src/shared.tsx
Labels: extension fix / improvement, extension: tailscale

#15288 Add media-converter extension
  extensions/media-converter/.eslintrc.json
  extensions/media-converter/.gitignore
  extensions/media-converter/.prettierrc
  extensions/media-converter/CHANGELOG.md
  extensions/media-converter/README.md
  extensions/media-converter/assets/extension-icon.png
  extensions/media-converter/metadata/media-converter-1.png
  extensions/media-converter/metadata/media-converter-2.png
  extensions/media-converter/metadata/media-converter-3.png
  extensions/media-converter/metadata/media-converter-4.png
  extensions/media-converter/package-lock.json
  extensions/media-converter/package.json
  extensions/media-converter/src/components/ConverterForm.tsx
  extensions/media-converter/src/components/HelloPage.tsx
  extensions/media-converter/src/components/NotInstalled.tsx
  extensions/media-converter/src/convert.tsx
  extensions/media-converter/src/utils/converter.ts
  extensions/media-converter/src/utils/exec.ts
  extensions/media-converter/src/utils/ffmpeg.ts
  extensions/media-converter/tsconfig.json
Labels: new extension

#15388 Add Fancy Text Extension
  extensions/fancy-text/.eslintrc.json
  extensions/fancy-text/.gitignore
  extensions/fancy-text/.prettierrc
  extensions/fancy-text/CHANGELOG.md
  extensions/fancy-text/README.md
  extensions/fancy-text/assets/extension-icon.png
  extensions/fancy-text/metadata/fancy-text-1.png
  extensions/fancy-text/package-lock.json
  extensions/fancy-text/package.json
  extensions/fancy-text/src/fonts.json
  extensions/fancy-text/src/generate-fancy-text.tsx
  extensions/fancy-text/tsconfig.json
Labels: new extension

#15391 Update README.md
  extensions/fancy-text/README.md
Labels: extension fix / improvement, OP is author, extension: fancy-text

#15412 [Gif Search] Add download path preference
  extensions/gif-search/CHANGELOG.md
  extensions/gif-search/package.json
  extensions/gif-search/src/lib/downloadFile.ts
Labels: extension fix / improvement, OP is contributor, extension: gif-search

#15395 [fancy-text] README typo and grammar fixes
  extensions/fancy-text/CHANGELOG.md
  extensions/fancy-text/README.md
Labels: extension fix / improvement, OP is contributor, extension: fancy-text

#15375 Update sync-folders extension
  extensions/sync-folders/CHANGELOG.md
  extensions/sync-folders/metadata/sync-folders-1.png
  extensions/sync-folders/metadata/sync-folders-2.png
  extensions/sync-folders/metadata/sync-folders-3.png
  extensions/sync-folders/metadata/sync-folders-4.png
  extensions/sync-folders/metadata/sync-folders-5.png
  extensions/sync-folders/metadata/sync-folders-6.png
  extensions/sync-folders/metadata/sync-folders-7.png
  extensions/sync-folders/metadata/sync-folders-8.png
  extensions/sync-folders/src/components/SyncFoldersForm.tsx
  extensions/sync-folders/src/hooks/use-sync-folders.ts
  extensions/sync-folders/src/menu-bar.tsx
  extensions/sync-folders/src/my-sync-folders.tsx
  extensions/sync-folders/src/sync-finder-selected-folders.tsx
  extensions/sync-folders/src/sync-folders.tsx
  extensions/sync-folders/src/types/index.ts
Labels: extension fix / improvement, OP is author, extension: sync-folders

#15374 Supahabits/add link to track past habits
  extensions/supahabits/CHANGELOG.md
  extensions/supahabits/package-lock.json
  extensions/supahabits/package.json
  extensions/supahabits/src/index.tsx
Labels: extension fix / improvement, OP is author, extension: supahabits

#15139 Add simple-memo extension
  extensions/simple-memo/.eslintrc.json
  extensions/simple-memo/.gitignore
  extensions/simple-memo/.prettierrc
  extensions/simple-memo/CHANGELOG.md
  extensions/simple-memo/README.md
  extensions/simple-memo/assets/icon.png
  extensions/simple-memo/metadata/simple-memo-1.png
  extensions/simple-memo/package-lock.json
  extensions/simple-memo/package.json
  extensions/simple-memo/src/create-memo.tsx
  extensions/simple-memo/src/edit-memo.tsx
  extensions/simple-memo/src/quick-memo.tsx
  extensions/simple-memo/src/search-memos.tsx
  extensions/simple-memo/src/storage/memo-storage.ts
  extensions/simple-memo/src/storage/types.ts
  extensions/simple-memo/tsconfig.json
Labels: new extension

#14908 Update aerospace extension
  extensions/aerospace/CHANGELOG.md
  extensions/aerospace/README.md
  extensions/aerospace/assets/scripts/list-windows.sh
  extensions/aerospace/media/shortcuts.png
  extensions/aerospace/metadata/aerospace-3.png
  extensions/aerospace/package-lock.json
  extensions/aerospace/package.json
  extensions/aerospace/src/switchApps.tsx
  extensions/aerospace/src/utils/appSwitcher.tsx
Labels: extension fix / improvement, extension: aerospace

#15398 Update media-converter extension
  extensions/media-converter/CHANGELOG.md
  extensions/media-converter/package-lock.json
  extensions/media-converter/src/convert.tsx
  extensions/media-converter/src/utils/ffmpeg.ts
Labels: extension fix / improvement, OP is author, extension: media-converter

#15394 [Contentful] fix assets crash when no file + fix content status
  extensions/contentful/CHANGELOG.md
  extensions/contentful/assets/untitled.svg
  extensions/contentful/package-lock.json
  extensions/contentful/package.json
  extensions/contentful/src/search-assets.tsx
  extensions/contentful/src/search.tsx
Labels: extension fix / improvement, OP is contributor, extension: contentful

#15378 Update shortcut description to allow for fuzzy finding without dashes
  extensions/aerospace/CHANGELOG.md
  extensions/aerospace/src/utils/shortcuts.tsx
Labels: extension fix / improvement, extension: aerospace

#15295 Add gumroad extension
  extensions/gumroad/.eslintrc.json
  extensions/gumroad/.gitignore
  extensions/gumroad/.prettierrc
  extensions/gumroad/CHANGELOG.md
  extensions/gumroad/README.md
  extensions/gumroad/assets/gumroad-coins.png
  extensions/gumroad/assets/icon.png
  extensions/gumroad/metadata/gumroad-01.png
  extensions/gumroad/metadata/gumroad-02.png
  extensions/gumroad/metadata/gumroad-03.png
  extensions/gumroad/package-lock.json
  extensions/gumroad/package.json
  extensions/gumroad/src/const.ts
  extensions/gumroad/src/product-details.tsx
  extensions/gumroad/src/sale-details.tsx
  extensions/gumroad/src/types.ts
  extensions/gumroad/src/utils.ts
  extensions/gumroad/src/view-products.tsx
  extensions/gumroad/src/view-sales.tsx
  extensions/gumroad/tsconfig.json
Labels: new extension

#15421 Update braid extension
  extensions/braid/CHANGELOG.md
  extensions/braid/assets/icons/.DS_Store-dark.svg
  extensions/braid/assets/icons/.DS_Store-light.svg
  extensions/braid/assets/icons/attachment-dark.svg
  extensions/braid/assets/icons/attachment-light.svg
  extensions/braid/assets/icons/hash-dark.svg
  extensions/braid/assets/icons/hash-light.svg
  extensions/braid/assets/icons/licence-dark.svg
  extensions/braid/assets/icons/licence-light.svg
  extensions/braid/assets/icons/money-dark.svg
  extensions/braid/assets/icons/promote-dark.svg
  extensions/braid/assets/icons/promote-light.svg
  extensions/braid/assets/icons/rocket-dark.svg
  extensions/braid/assets/icons/rocket-light.svg
  extensions/braid/assets/icons/socialMedium-dark.svg
  extensions/braid/braid-icons/attachment.svg
  extensions/braid/braid-icons/licence.svg
  extensions/braid/braid-icons/rocket.svg
  extensions/braid/package-lock.json
  extensions/braid/package.json
  extensions/braid/scripts/darkify-icons.ts
  extensions/braid/src/resources/icon-map.json
  extensions/braid/src/search-iconography.tsx
Labels: extension fix / improvement, OP is author, extension: braid

#15408 Update vim-bro extension
  extensions/vim-bro/CHANGELOG.md
  extensions/vim-bro/src/index.tsx
  extensions/vim-bro/src/utils.ts
Labels: extension fix / improvement, OP is contributor, extension: vim-bro

#15377 [Paperspace] Update logo + add EmptyView + show action on invalid token
  extensions/paperspace/.eslintrc.json
  extensions/paperspace/.gitignore
  extensions/paperspace/CHANGELOG.md
  extensions/paperspace/README.md
  extensions/paperspace/assets/command-icon.png
  extensions/paperspace/assets/paperspace.png
  extensions/paperspace/package-lock.json
  extensions/paperspace/package.json
  extensions/paperspace/src/index.tsx
  extensions/paperspace/src/machine-action-panel.tsx
  extensions/paperspace/src/preferences.ts
  extensions/paperspace/src/use-paperspace.tsx
  extensions/paperspace/tsconfig.json
Labels: extension fix / improvement, extension: paperspace

#15282 Zen-browser: Fix Bookmark search
  extensions/zen-browser/CHANGELOG.md
  extensions/zen-browser/package.json
  extensions/zen-browser/src/hooks/useBookmarkSearch.tsx
  extensions/zen-browser/src/interfaces/index.ts
  extensions/zen-browser/src/search-bookmarks.tsx
Labels: extension fix / improvement, OP is author, extension: zen-browser

#15308 Add threads-video-downloader extension
  extensions/threads-video-downloader/.eslintrc.json
  extensions/threads-video-downloader/.gitignore
  extensions/threads-video-downloader/.prettierrc
  extensions/threads-video-downloader/CHANGELOG.md
  extensions/threads-video-downloader/LICENSE
  extensions/threads-video-downloader/README.md
  extensions/threads-video-downloader/assets/extension-icon.png
  extensions/threads-video-downloader/metadata/threads-video-downloader-1.png
  extensions/threads-video-downloader/package-lock.json
  extensions/threads-video-downloader/package.json
  extensions/threads-video-downloader/src/index.tsx
  extensions/threads-video-downloader/src/utils.ts
  extensions/threads-video-downloader/tsconfig.json
Labels: new extension

#15311 Add region selection to clockify extension
  extensions/clockify/CHANGELOG.md
  extensions/clockify/package.json
  extensions/clockify/src/types.d.ts
  extensions/clockify/src/utils.ts
Labels: extension fix / improvement, extension: clockify

#15329 Update craftdocs extension
  extensions/craftdocs/CHANGELOG.md
  extensions/craftdocs/assets/sql-wasm-fts5.d.ts
  extensions/craftdocs/assets/sql-wasm-fts5.wasm
  extensions/craftdocs/package-lock.json
  extensions/craftdocs/package.json
Labels: extension fix / improvement, extension: craftdocs

#15138 Add spoqify
  extensions/spoqify/.eslintrc.json
  extensions/spoqify/.gitignore
  extensions/spoqify/.prettierrc
  extensions/spoqify/CHANGELOG.md
  extensions/spoqify/README.md
  extensions/spoqify/assets/icon.png
  extensions/spoqify/assets/spoqify.png
  extensions/spoqify/icon.png
  extensions/spoqify/package-lock.json
  extensions/spoqify/package.json
  extensions/spoqify/spoqify.png
  extensions/spoqify/src/anonymize.ts
  extensions/spoqify/src/open-in-spotify.ts
  extensions/spoqify/src/utils.ts
  extensions/spoqify/tsconfig.json
Labels: new extension

#15322 Add zoxide-git-projects extension
  extensions/zoxide-git-projects/.eslintrc.json
  extensions/zoxide-git-projects/.gitignore
  extensions/zoxide-git-projects/.prettierrc
  extensions/zoxide-git-projects/CHANGELOG.md
  extensions/zoxide-git-projects/README.md
  extensions/zoxide-git-projects/assets/icon.png
  extensions/zoxide-git-projects/metadata/zoxide-git-projects-1.png
  extensions/zoxide-git-projects/package-lock.json
  extensions/zoxide-git-projects/package.json
  extensions/zoxide-git-projects/src/find.tsx
  extensions/zoxide-git-projects/src/git-projects.ts
  extensions/zoxide-git-projects/tsconfig.json
Labels: new extension

#15428 [Chatwork] cache Rooms + more robust OAuth + detailed room item + add `contacts` command + dev QoL
  extensions/search-chatwork/.eslintrc.json
  extensions/search-chatwork/.gitignore
  extensions/search-chatwork/CHANGELOG.md
  extensions/search-chatwork/metadata/chatwork-search-4.png
  extensions/search-chatwork/package-lock.json
  extensions/search-chatwork/package.json
  extensions/search-chatwork/src/model/Preferences.ts
  extensions/search-chatwork/src/search-chatwork.tsx
  extensions/search-chatwork/src/search-contacts.tsx
  extensions/search-chatwork/src/search-rooms.tsx
  extensions/search-chatwork/src/utils/chatwork-api.tsx
  extensions/search-chatwork/src/utils/oauth.tsx
  extensions/search-chatwork/tsconfig.json
Labels: extension fix / improvement, extension: search-chatwork

#15433 Update do-not-disturb extension
  extensions/do-not-disturb/CHANGELOG.md
  extensions/do-not-disturb/README.md
  extensions/do-not-disturb/package-lock.json
  extensions/do-not-disturb/package.json
  extensions/do-not-disturb/src/off.ts
  extensions/do-not-disturb/src/on.ts
  extensions/do-not-disturb/src/status.ts
  extensions/do-not-disturb/src/utils.ts
Labels: extension fix / improvement, extension: do-not-disturb

#15193 #15184 Enable DND when focus is enabled
  extensions/pomodoro/CHANGELOG.md
  extensions/pomodoro/assets/DND Pomodoro.shortcut
  extensions/pomodoro/lib/doNotDisturb.tsx
  extensions/pomodoro/lib/intervals.tsx
  extensions/pomodoro/lib/secondsToTime.tsx
  extensions/pomodoro/lib/slack/slackIntervals.ts
  extensions/pomodoro/lib/types.ts
  extensions/pomodoro/package-lock.json
  extensions/pomodoro/package.json
  extensions/pomodoro/src/pomodoro-control-timer.tsx
  extensions/pomodoro/src/pomodoro-menu-bar.tsx
  extensions/pomodoro/tsconfig.json
Labels: extension fix / improvement, OP is contributor, extension: pomodoro

#15448 New vim-bro commands
  extensions/vim-bro/CHANGELOG.md
  extensions/vim-bro/src/commands.json
Labels: extension fix / improvement, extension: vim-bro

#15305 Add 8-divide extension
  extensions/8-divide/.eslintrc.json
  extensions/8-divide/.gitignore
  extensions/8-divide/.prettierrc
  extensions/8-divide/CHANGELOG.md
  extensions/8-divide/README.md
  extensions/8-divide/assets/icon.png
  extensions/8-divide/metadata/8-divide-1.png
  extensions/8-divide/package-lock.json
  extensions/8-divide/package.json
  extensions/8-divide/src/divide-by-8.tsx
  extensions/8-divide/tsconfig.json
Labels: new extension

#15349 Add image-base64 extension
  extensions/image-base64/.eslintrc.json
  extensions/image-base64/.gitignore
  extensions/image-base64/.prettierrc
  extensions/image-base64/CHANGELOG.md
  extensions/image-base64/README.md
  extensions/image-base64/assets/extension-icon.png
  extensions/image-base64/metadata/screenshot-1.png
  extensions/image-base64/metadata/screenshot-2.png
  extensions/image-base64/metadata/screenshot-3.png
  extensions/image-base64/metadata/screenshot-4.png
  extensions/image-base64/metadata/screenshot-5.png
  extensions/image-base64/metadata/screenshot-6.png
  extensions/image-base64/package-lock.json
  extensions/image-base64/package.json
  extensions/image-base64/src/base64-to-image.tsx
  extensions/image-base64/src/image-to-base64.tsx
  extensions/image-base64/src/libs/imageUtils.ts
  extensions/image-base64/tsconfig.json
Labels: new extension

#15168 Paper size extension - search common paper sizes
  extensions/papersize/.eslintrc.json
  extensions/papersize/.gitignore
  extensions/papersize/.prettierrc
  extensions/papersize/CHANGELOG.md
  extensions/papersize/README.md
  extensions/papersize/assets/paper-size.png
  extensions/papersize/metadata/papersize-1.png
  extensions/papersize/metadata/papersize-2.png
  extensions/papersize/package-lock.json
  extensions/papersize/package.json
  extensions/papersize/src/paper_sizes.json
  extensions/papersize/src/papersize.tsx
  extensions/papersize/tsconfig.json
Labels: new extension

#15340 Update two-factor-authentication-code-generator extension
  extensions/two-factor-authentication-code-generator/.gitignore
  extensions/two-factor-authentication-code-generator/CHANGELOG.md
  extensions/two-factor-authentication-code-generator/package.json
  extensions/two-factor-authentication-code-generator/src/index.tsx
  extensions/two-factor-authentication-code-generator/src/util/hooks.ts
  extensions/two-factor-authentication-code-generator/src/util/totp.ts
Labels: extension fix / improvement, extension: two-factor-authentication-code-generat…

#15351 Update connect-to-vpn extension
  extensions/connect-to-vpn/CHANGELOG.md
  extensions/connect-to-vpn/package.json
  extensions/connect-to-vpn/src/menu-bar.tsx
  extensions/connect-to-vpn/src/network-services.ts
Labels: extension fix / improvement, OP is contributor, extension: connect-to-vpn

#15436 Update window-layouts extension
  extensions/window-layouts/CHANGELOG.md
  extensions/window-layouts/README.md
  extensions/window-layouts/package-lock.json
  extensions/window-layouts/package.json
Labels: extension fix / improvement, extension: window-layouts

#15463 [PM2] Hide example button while loading
  extensions/pm2/CHANGELOG.md
  extensions/pm2/package-lock.json
  extensions/pm2/package.json
  extensions/pm2/src/main.tsx
Labels: extension fix / improvement, OP is author, extension: pm2

#15461 [Say] Chore & fix argments
  extensions/say/CHANGELOG.md
  extensions/say/package-lock.json
  extensions/say/package.json
Labels: extension fix / improvement, OP is author, extension: say

#15447 Update ticktick extension
  extensions/ticktick/CHANGELOG.md
  extensions/ticktick/package.json
  extensions/ticktick/src/components/taskItem.tsx
  extensions/ticktick/src/create.tsx
  extensions/ticktick/src/service/osScript.ts
Labels: extension fix / improvement, extension: ticktick

#15368 Update google-search extension
  extensions/google-search/CHANGELOG.md
  extensions/google-search/package.json
  extensions/google-search/src/searchSelectText.tsx
  extensions/google-search/src/utils/useSearch.tsx
Labels: extension fix / improvement, extension: google-search

#15441 Evernote: Alternative DB location paths fallback
  extensions/evernote/CHANGELOG.md
  extensions/evernote/src/search-notes.tsx
Labels: extension fix / improvement, OP is author, extension: evernote

#15440 Update compressx extension
  extensions/compressx/CHANGELOG.md
  extensions/compressx/README.md
  extensions/compressx/metadata/screenshot-2.png
  extensions/compressx/metadata/screenshot-3.png
Labels: extension fix / improvement, OP is author, extension: compressx

#15457 [DigitalOcean] `Open Extension Preferences` when _Unauthorized_ + View "Env Vars" in `Search App Platform`
  extensions/digitalocean/CHANGELOG.md
  extensions/digitalocean/metadata/digitalocean-2.png
  extensions/digitalocean/metadata/digitalocean-3.png
  extensions/digitalocean/metadata/digitalocean-4.png
  extensions/digitalocean/metadata/digitalocean-5.png
  extensions/digitalocean/package-lock.json
  extensions/digitalocean/package.json
  extensions/digitalocean/src/client.ts
  extensions/digitalocean/src/search-app-platform.tsx
Labels: extension fix / improvement, OP is contributor, extension: digitalocean

#15094 Update ilovepdf extension
  extensions/ilovepdf/CHANGELOG.md
  extensions/ilovepdf/package.json
  extensions/ilovepdf/src/add-page-number.tsx
  extensions/ilovepdf/src/add-watermark-to-pdf.tsx
  extensions/ilovepdf/src/compress-pdf.tsx
  extensions/ilovepdf/src/extract-text.tsx
  extensions/ilovepdf/src/hook/use-fetch-selected-finder-items.ts
  extensions/ilovepdf/src/image-to-pdf.tsx
  extensions/ilovepdf/src/merge-pdf.tsx
  extensions/ilovepdf/src/pdf-to-image.tsx
  extensions/ilovepdf/src/pdf-to-pdfa.tsx
  extensions/ilovepdf/src/protect-pdf.tsx
  extensions/ilovepdf/src/repair-pdf.tsx
  extensions/ilovepdf/src/rotate-pdf.tsx
  extensions/ilovepdf/src/split-pdf.tsx
  extensions/ilovepdf/src/word-to-pdf.tsx
Labels: extension fix / improvement, extension: ilovepdf

#15437 Update spanish-tv-guide extension
  extensions/spanish-tv-guide/CHANGELOG.md
  extensions/spanish-tv-guide/package-lock.json
  extensions/spanish-tv-guide/package.json
  extensions/spanish-tv-guide/src/components/ChannelDetails.tsx
  extensions/spanish-tv-guide/src/components/SelectedChannel.tsx
  extensions/spanish-tv-guide/src/components/SelectedProgram.tsx
  extensions/spanish-tv-guide/src/index.tsx
  extensions/spanish-tv-guide/src/modules/tv/domain/tvScheduleDto.ts
  extensions/spanish-tv-guide/src/modules/tv/repositories/dto/channelResponse.ts
  extensions/spanish-tv-guide/src/modules/tv/repositories/dto/programResponse.ts
  extensions/spanish-tv-guide/src/modules/tv/repositories/tvScheduleRepository.ts
  extensions/spanish-tv-guide/src/utils/collectionUtils.ts
  extensions/spanish-tv-guide/src/utils/dateUtils.ts
  extensions/spanish-tv-guide/src/utils/iconUtils.ts
  extensions/spanish-tv-guide/src/utils/stringUtils.ts
  extensions/spanish-tv-guide/test/modules/tv/repositories/tvScheduleRepository.spec.ts
  extensions/spanish-tv-guide/test/utils/dateUtils.spec.ts
  extensions/spanish-tv-guide/test/utils/stringUtils.spec.ts
Labels: extension fix / improvement, OP is author, extension: spanish-tv-guide

#15328 Add send-to-e-reader extension
  extensions/send-to-e-reader/.eslintrc.json
  extensions/send-to-e-reader/.gitignore
  extensions/send-to-e-reader/CHANGELOG.md
  extensions/send-to-e-reader/README.md
  extensions/send-to-e-reader/assets/extension-icon.png
  extensions/send-to-e-reader/metadata/send-to-e-reader-1.png
  extensions/send-to-e-reader/metadata/send-to-e-reader-2.png
  extensions/send-to-e-reader/package-lock.json
  extensions/send-to-e-reader/package.json
  extensions/send-to-e-reader/src/send-book.tsx
  extensions/send-to-e-reader/tsconfig.json
Labels: new extension

#15473 [Browser Bookmarks] Support Prisma Access Browser
  extensions/browser-bookmarks/CHANGELOG.md
  extensions/browser-bookmarks/README.md
  extensions/browser-bookmarks/assets/prisma-access.png
  extensions/browser-bookmarks/package.json
  extensions/browser-bookmarks/src/hooks/useAvailableBrowsers.ts
  extensions/browser-bookmarks/src/hooks/useChromiumBookmarks.ts
  extensions/browser-bookmarks/src/hooks/usePrismaAccessBookmarks.ts
  extensions/browser-bookmarks/src/index.tsx
Labels: extension fix / improvement, extension: browser-bookmarks

#15483 Spotify Player: Fix Search command
  extensions/spotify-player/CHANGELOG.md
  extensions/spotify-player/src/api/search.ts
Labels: extension fix / improvement, OP is contributor, extension: spotify-player

#15411 Add roblox extension
  extensions/roblox/.eslintrc.json
  extensions/roblox/.gitignore
  extensions/roblox/.prettierrc
  extensions/roblox/CHANGELOG.md
  extensions/roblox/README.md
  extensions/roblox/assets/extension-icon.png
  extensions/roblox/assets/verified.png
  extensions/roblox/metadata/roblox-1.png
  extensions/roblox/metadata/roblox-2.png
  extensions/roblox/metadata/roblox-3.png
  extensions/roblox/metadata/roblox-4.png
  extensions/roblox/package-lock.json
  extensions/roblox/package.json
  extensions/roblox/src/components/game-page.tsx
  extensions/roblox/src/components/games-list.tsx
  extensions/roblox/src/components/user-page.tsx
  extensions/roblox/src/favourite-game-players.tsx
  extensions/roblox/src/favourite-games.tsx
  extensions/roblox/src/get-my-account.tsx
  extensions/roblox/src/hooks/game-details.tsx
  extensions/roblox/src/hooks/game-thumbnails.tsx
  extensions/roblox/src/hooks/ip-info.tsx
  extensions/roblox/src/hooks/user-headshots.tsx
  extensions/roblox/src/hooks/user-thumbnail.tsx
  extensions/roblox/src/modules/better-cache.ts
  extensions/roblox/src/modules/favourite-games.ts
  extensions/roblox/src/modules/log-monitor.ts
  extensions/roblox/src/modules/roblox-links.ts
  extensions/roblox/src/modules/utils.ts
  extensions/roblox/src/playing-game.tsx
  extensions/roblox/src/search-games.tsx
  extensions/roblox/src/search-users.tsx
  extensions/roblox/src/show-game.tsx
  extensions/roblox/src/show-user.tsx
  extensions/roblox/tsconfig.json
Labels: new extension

#15489 Update apple-notes extension
  extensions/apple-notes/CHANGELOG.md
  extensions/apple-notes/package.json
  extensions/apple-notes/src/index.tsx
Labels: extension fix / improvement, extension: apple-notes

#15477 Update pocket extension
  extensions/pocket/CHANGELOG.md
  extensions/pocket/package-lock.json
  extensions/pocket/package.json
  extensions/pocket/src/lib/api.ts
  extensions/pocket/src/lib/preferences.ts
  extensions/pocket/src/search.tsx
Labels: extension fix / improvement, OP is contributor, extension: pocket

#15505 chore(system-monitor): capitalization issues in description
  extensions/system-monitor/CHANGELOG.md
  extensions/system-monitor/package.json
Labels: extension fix / improvement, OP is contributor, extension: system-monitor

#15502 Update chatgpt extension - Fix Image Previews
  extensions/chatgpt/CHANGELOG.md
  extensions/chatgpt/package.json
  extensions/chatgpt/src/views/answer-detail.tsx
Labels: extension fix / improvement, extension: chatgpt

#15504 feat(change-case): focus last used case
  extensions/change-case/CHANGELOG.md
  extensions/change-case/src/change-case.tsx
Labels: extension fix / improvement, OP is author, extension: change-case

#15500 Update `Brand.dev` extension - choose secondary action to be "Del" or "New"
  extensions/brand-dev/CHANGELOG.md
  extensions/brand-dev/README.md
  extensions/brand-dev/package-lock.json
  extensions/brand-dev/package.json
  extensions/brand-dev/src/retrieve-brands.tsx
Labels: extension fix / improvement, OP is author, extension: brand-dev

#15462 fix: remove process.env from pass execution
  extensions/pass/CHANGELOG.md
  extensions/pass/package-lock.json
  extensions/pass/package.json
  extensions/pass/src/pass.ts
Labels: extension fix / improvement, extension: pass

#15370 Add fastly extension
  extensions/fastly/.eslintrc.json
  extensions/fastly/.gitignore
  extensions/fastly/.prettierrc
  extensions/fastly/CHANGELOG.md
  extensions/fastly/README.md
  extensions/fastly/assets/icon.png
  extensions/fastly/metadata/fastly-1.png
  extensions/fastly/metadata/fastly-2.png
  extensions/fastly/metadata/fastly-3.png
  extensions/fastly/metadata/fastly-4.png
  extensions/fastly/metadata/fastly-5.png
  extensions/fastly/metadata/fastly-6.png
  extensions/fastly/package-lock.json
  extensions/fastly/package.json
  extensions/fastly/src/api.ts
  extensions/fastly/src/create-service.tsx
  extensions/fastly/src/docs.tsx
  extensions/fastly/src/index.tsx
  extensions/fastly/src/invite.tsx
  extensions/fastly/src/support.tsx
  extensions/fastly/src/types.ts
  extensions/fastly/src/views/service-detail.tsx
  extensions/fastly/src/views/service-list.tsx
  extensions/fastly/tsconfig.json
Labels: new extension

#15494 Update `Gumroad` extension - implement OAuth via Raycast's PKCE Proxy (or continue to use Token)
  extensions/gumroad/CHANGELOG.md
  extensions/gumroad/README.md
  extensions/gumroad/package-lock.json
  extensions/gumroad/package.json
  extensions/gumroad/src/oauth.ts
  extensions/gumroad/src/view-products.tsx
  extensions/gumroad/src/view-sales.tsx
Labels: extension fix / improvement, extension: gumroad

#15518 Update port-manager extension
  extensions/port-manager/CHANGELOG.md
  extensions/port-manager/package.json
  extensions/port-manager/src/open-ports.tsx
Labels: extension fix / improvement, extension: port-manager

#15520 Update myip extension
  extensions/myip/CHANGELOG.md
  extensions/myip/package.json
  extensions/myip/src/index.tsx
Labels: extension fix / improvement, extension: myip

#15499 Update servicenow extension
  extensions/servicenow/.gitignore
  extensions/servicenow/CHANGELOG.md
  extensions/servicenow/README.md
  extensions/servicenow/metadata/servicenow-1.png
  extensions/servicenow/metadata/servicenow-2.png
  extensions/servicenow/metadata/servicenow-3.png
  extensions/servicenow/metadata/servicenow-4.png
  extensions/servicenow/metadata/servicenow-5.png
  extensions/servicenow/metadata/servicenow-6.png
  extensions/servicenow/metadata/servicenow-7.png
  extensions/servicenow/metadata/servicenow-8.png
  extensions/servicenow/package-lock.json
  extensions/servicenow/package.json
  extensions/servicenow/src/components/Actions.tsx
  extensions/servicenow/src/components/FavoriteForm.tsx
  extensions/servicenow/src/components/FavoriteItem.tsx
  extensions/servicenow/src/components/Favorites.tsx
  extensions/servicenow/src/components/InstanceForm.tsx
  extensions/servicenow/src/components/InstancesList.tsx
  extensions/servicenow/src/components/NavigationHistory.tsx
  extensions/servicenow/src/components/NavigationHistoryFull.tsx
  extensions/servicenow/src/components/NavigationMenu.tsx
  extensions/servicenow/src/components/ResultActions.tsx
  extensions/servicenow/src/components/ResultDetail.tsx
  extensions/servicenow/src/components/SearchList.tsx
  extensions/servicenow/src/components/SearchResultListItem.tsx
  extensions/servicenow/src/components/SearchResults.tsx
  extensions/servicenow/src/components/Tables.tsx
  extensions/servicenow/src/explore-favorites.tsx
  extensions/servicenow/src/explore-navigation-history.tsx
  extensions/servicenow/src/explore-navigation-menu.tsx
  extensions/servicenow/src/hooks/useFavorites.ts
  extensions/servicenow/src/hooks/useInstances.ts
  extensions/servicenow/src/quickly-search.tsx
  extensions/servicenow/src/types.ts
  extensions/servicenow/src/utils/extractParamFromURL.ts
  extensions/servicenow/src/utils/getIconForModules.ts
  extensions/servicenow/src/utils/getSectionTitle.ts
  extensions/servicenow/src/utils/getTableIconAndColor.ts
Labels: extension fix / improvement, OP is author, extension: servicenow

#15508 Update sync-folders extension
  extensions/sync-folders/CHANGELOG.md
  extensions/sync-folders/README.md
  extensions/sync-folders/metadata/sync-folders-1.png
  extensions/sync-folders/metadata/sync-folders-2.png
  extensions/sync-folders/metadata/sync-folders-3.png
  extensions/sync-folders/metadata/sync-folders-4.png
  extensions/sync-folders/metadata/sync-folders-5.png
  extensions/sync-folders/metadata/sync-folders-6.png
  extensions/sync-folders/metadata/sync-folders-7.png
  extensions/sync-folders/metadata/sync-folders-8.png
  extensions/sync-folders/metadata/sync-folders-9.png
Labels: extension fix / improvement, OP is author, extension: sync-folders

#15432 Update polymarket extension
  extensions/polymarket/CHANGELOG.md
  extensions/polymarket/package.json
  extensions/polymarket/src/polymarket.tsx
  extensions/polymarket/src/swing-states.tsx
Labels: extension fix / improvement, OP is author, extension: polymarket

#15513 Fix background-sounds toggle not working properly.
  extensions/background-sounds/CHANGELOG.md
  extensions/background-sounds/package.json
  extensions/background-sounds/src/toggle.ts
Labels: extension fix / improvement, extension: background-sounds

#15426 Update yabai extension
  extensions/yabai/CHANGELOG.md
  extensions/yabai/package-lock.json
  extensions/yabai/package.json
  extensions/yabai/src/focus-window-east.ts
  extensions/yabai/src/focus-window-north.ts
  extensions/yabai/src/focus-window-south.ts
  extensions/yabai/src/focus-window-west.ts
  extensions/yabai/src/swap-window-east.ts
  extensions/yabai/src/swap-window-north.ts
  extensions/yabai/src/swap-window-south.ts
  extensions/yabai/src/swap-window-west.ts
  extensions/yabai/src/warp-window-east.ts
  extensions/yabai/src/warp-window-north.ts
  extensions/yabai/src/warp-window-south.ts
  extensions/yabai/src/warp-window-west.ts
Labels: extension fix / improvement, extension: yabai

#15495 Add support for Zen Browser Desktop bookmarks.
  extensions/browser-bookmarks/CHANGELOG.md
  extensions/browser-bookmarks/assets/zen.png
  extensions/browser-bookmarks/package.json
  extensions/browser-bookmarks/src/hooks/useAvailableBrowsers.ts
  extensions/browser-bookmarks/src/hooks/useZenBookmarks.ts
  extensions/browser-bookmarks/src/index.tsx
Labels: extension fix / improvement, extension: browser-bookmarks

#15314 Add seo-lighthouse extension
  extensions/seo-lighthouse/.eslintrc.json
  extensions/seo-lighthouse/.gitignore
  extensions/seo-lighthouse/.prettierrc
  extensions/seo-lighthouse/CHANGELOG.md
  extensions/seo-lighthouse/LICENSE
  extensions/seo-lighthouse/README.md
  extensions/seo-lighthouse/assets/extension-icon.png
  extensions/seo-lighthouse/locales/ar.json
  extensions/seo-lighthouse/locales/en.json
  extensions/seo-lighthouse/locales/es.json
  extensions/seo-lighthouse/locales/tr.json
  extensions/seo-lighthouse/metadata/main-view-v2.png
  extensions/seo-lighthouse/metadata/main-view.png
  extensions/seo-lighthouse/metadata/report-view.png
  extensions/seo-lighthouse/package-lock.json
  extensions/seo-lighthouse/package.json
  extensions/seo-lighthouse/src/lighthouse.d.ts
  extensions/seo-lighthouse/src/seo-lighthouse.tsx
  extensions/seo-lighthouse/tsconfig.json
Labels: new extension, status: awaiting response from dev

#14686 Add devpod extension
  extensions/devpod/.eslintrc.json
  extensions/devpod/.gitignore
  extensions/devpod/.prettierrc
  extensions/devpod/CHANGELOG.md
  extensions/devpod/README.md
  extensions/devpod/assets/extension_icon.png
  extensions/devpod/media/devpod-path.png
  extensions/devpod/metadata/devpod-1.png
  extensions/devpod/metadata/devpod-2.png
  extensions/devpod/metadata/devpod-3.png
  extensions/devpod/metadata/devpod-4.png
  extensions/devpod/package-lock.json
  extensions/devpod/package.json
  extensions/devpod/src/devpod.ts
  extensions/devpod/src/util.ts
  extensions/devpod/src/workspace-create.tsx
  extensions/devpod/src/workspaces-manage.tsx
  extensions/devpod/tsconfig.json
Labels: new extension

#15542 Update zoxide-git-projects extension
  extensions/zoxide-git-projects/CHANGELOG.md
  extensions/zoxide-git-projects/package-lock.json
  extensions/zoxide-git-projects/package.json
  extensions/zoxide-git-projects/src/find.tsx
Labels: extension fix / improvement, OP is author, extension: zoxide-git-projects

#15392 Update copy-path extension
  extensions/copy-path/CHANGELOG.md
  extensions/copy-path/package.json
  extensions/copy-path/src/utils/common-utils.ts
Labels: extension fix / improvement, extension: copy-path

#15397 Update get-favicon extension
  extensions/get-favicon/CHANGELOG.md
  extensions/get-favicon/package.json
  extensions/get-favicon/src/copy-url.ts
Labels: extension fix / improvement, extension: get-favicon

#15415 Update how-long-to-beat extension
  extensions/how-long-to-beat/CHANGELOG.md
  extensions/how-long-to-beat/package.json
  extensions/how-long-to-beat/src/helpers.ts
Labels: extension fix / improvement, extension: how-long-to-beat

#15543 [Streamshare] Move to new folder
  extensions/to-streamshare/.eslintrc.json
  extensions/to-streamshare/.gitignore
  extensions/to-streamshare/.prettierrc
  extensions/to-streamshare/CHANGELOG.md
  extensions/to-streamshare/README.md
  extensions/to-streamshare/assets/logo.png
  extensions/to-streamshare/package-lock.json
  extensions/to-streamshare/package.json
  extensions/to-streamshare/src/index.ts
  extensions/to-streamshare/tsconfig.json
Labels: new extension

#15551 Update Laravel shift extension
  extensions/laravel-shift/CHANGELOG.md
  extensions/laravel-shift/src/components/GenerateCommandForm.tsx
  extensions/laravel-shift/src/data/shifts/laravel.ts
  extensions/laravel-shift/src/data/shifts/php.ts
Labels: extension fix / improvement, OP is author, extension: laravel-shift

#15560 Update supernotes extension
  extensions/supernotes/CHANGELOG.md
  extensions/supernotes/README.md
  extensions/supernotes/metadata/supernotes-0.png
  extensions/supernotes/metadata/supernotes-1.png
  extensions/supernotes/metadata/supernotes-2.png
  extensions/supernotes/metadata/supernotes-3.png
  extensions/supernotes/metadata/supernotes-4.png
  extensions/supernotes/metadata/supernotes-5.png
  extensions/supernotes/metadata/supernotes-6.png
  extensions/supernotes/package-lock.json
  extensions/supernotes/package.json
  extensions/supernotes/src/api/superfetch.ts
  extensions/supernotes/src/daily.tsx
  extensions/supernotes/src/utils/senders.ts
Labels: extension fix / improvement, OP is author, extension: supernotes

#15552 Add `changedetection.io` extension - List Watches, view snapshots (history), view details, and go online
  extensions/changedetection-io/.eslintrc.json
  extensions/changedetection-io/.gitignore
  extensions/changedetection-io/.prettierrc
  extensions/changedetection-io/CHANGELOG.md
  extensions/changedetection-io/README.md
  extensions/changedetection-io/assets/changedetection.png
  extensions/changedetection-io/metadata/changedetection-io-1.png
  extensions/changedetection-io/metadata/changedetection-io-2.png
  extensions/changedetection-io/metadata/changedetection-io-3.png
  extensions/changedetection-io/package-lock.json
  extensions/changedetection-io/package.json
  extensions/changedetection-io/src/list-watches.tsx
  extensions/changedetection-io/tsconfig.json
Labels: new extension

#15529 Update `MailerLite Stats` extension - cache through `useFetch` (remove `node-fetch`)
  extensions/mailerlite-stats/CHANGELOG.md
  extensions/mailerlite-stats/package-lock.json
  extensions/mailerlite-stats/package.json
  extensions/mailerlite-stats/src/mailerlite.tsx
Labels: extension fix / improvement, extension: mailerlite-stats

#15449 Add pcloud extension
  extensions/pcloud/.eslintrc.json
  extensions/pcloud/.gitignore
  extensions/pcloud/.prettierrc
  extensions/pcloud/CHANGELOG.md
  extensions/pcloud/README.md
  extensions/pcloud/assets/command-icon.png
  extensions/pcloud/assets/list-icon.png
  extensions/pcloud/assets/pCloud-logo.png
  extensions/pcloud/metadata/pcloud-1.png
  extensions/pcloud/metadata/pcloud-2.png
  extensions/pcloud/metadata/pcloud-3.png
  extensions/pcloud/package-lock.json
  extensions/pcloud/package.json
  extensions/pcloud/src/Main.tsx
  extensions/pcloud/src/components/FileList.tsx
  extensions/pcloud/src/hooks/useLoading.ts
  extensions/pcloud/src/index.tsx
  extensions/pcloud/src/providers/ApiProvider.tsx
  extensions/pcloud/src/providers/ConfigProvider.tsx
  extensions/pcloud/src/providers/Providers.tsx
  extensions/pcloud/src/providers/SearchProvider.tsx
  extensions/pcloud/src/types/file.ts
  extensions/pcloud/src/utils/file.ts
  extensions/pcloud/src/utils/hooks/useDelayedState.ts
  extensions/pcloud/src/utils/oauth.ts
  extensions/pcloud/src/utils/utils.ts
  extensions/pcloud/tsconfig.json
Labels: new extension

#15530 Update: Ente Auth Extension
  extensions/ente-auth/CHANGELOG.md
  extensions/ente-auth/package.json
  extensions/ente-auth/src/components/showError.tsx
  extensions/ente-auth/src/constants/ente.ts
  extensions/ente-auth/src/export.tsx
  extensions/ente-auth/src/helpers/ente.ts
  extensions/ente-auth/src/helpers/index.ts
  extensions/ente-auth/src/helpers/secrets.ts
  extensions/ente-auth/src/helpers/types.ts
  extensions/ente-auth/src/import.tsx
  extensions/ente-auth/src/index.tsx
Labels: extension fix / improvement, OP is author, extension: ente-auth

#15570 Update Spiceblow extension
  extensions/spiceblow-database/CHANGELOG.md
  extensions/spiceblow-database/README.md
  extensions/spiceblow-database/package-lock.json
  extensions/spiceblow-database/package.json
  extensions/spiceblow-database/src/database.ts
  extensions/spiceblow-database/src/generated/client-database.d.ts
  extensions/spiceblow-database/src/search-database.tsx
  extensions/spiceblow-database/src/types.ts
  extensions/spiceblow-database/src/utils.ts
  extensions/spiceblow-database/tsconfig.json
Labels: extension fix / improvement, OP is author, extension: spiceblow-database

#15574 updating descriptions
  extensions/surf-check/CHANGELOG.md
  extensions/surf-check/package.json
Labels: extension fix / improvement, OP is author, extension: surf-check

#15563 Update open-with-app extension
  extensions/open-with-app/CHANGELOG.md
  extensions/open-with-app/package-lock.json
  extensions/open-with-app/package.json
  extensions/open-with-app/src/index.tsx
  extensions/open-with-app/tsconfig.json
Labels: extension fix / improvement, OP is author, extension: open-with-app

#15531 Update apple-devices extension
  extensions/apple-devices/CHANGELOG.md
  extensions/apple-devices/assets/applewatch/applewatch-series10-42mm.png
  extensions/apple-devices/assets/applewatch/applewatch-series10-46mm.png
  extensions/apple-devices/assets/ipad/ipad-air-11in-m2.png
  extensions/apple-devices/assets/ipad/ipad-air-13in-m2.png
  extensions/apple-devices/assets/ipad/ipad-mini-a17pro.png
  extensions/apple-devices/assets/ipad/ipad-pro-11in-m4.png
  extensions/apple-devices/assets/ipad/ipad-pro-13in-m4.png
  extensions/apple-devices/assets/iphone/iphone-16-plus.png
  extensions/apple-devices/assets/iphone/iphone-16-pro-max.png
  extensions/apple-devices/assets/iphone/iphone-16-pro.png
  extensions/apple-devices/assets/iphone/iphone-16.png
  extensions/apple-devices/src/data/devices.json
Labels: extension fix / improvement, OP is author, extension: apple-devices

#15578 Update curl extension
  extensions/curl/CHANGELOG.md
  extensions/curl/package.json
  extensions/curl/src/requests.tsx
  extensions/curl/src/views/Form.tsx
Labels: extension fix / improvement, extension: curl
