Repository raycast/extensions, pull requests merged in 2024-12, with the labels that each got.

#15635 [1Password] Add readme and FAQ
  extensions/1password/CHANGELOG.md
  extensions/1password/README.md
  extensions/1password/package-lock.json
  extensions/1password/package.json
  extensions/1password/src/v7/components/Items.tsx
  extensions/1password/src/v8/components/AuthContext.tsx
  extensions/1password/src/v8/components/Error.tsx
  extensions/1password/src/v8/components/Guide.tsx
  extensions/1password/src/v8/components/ItemActionPanel.tsx
  extensions/1password/src/v8/components/Items.tsx
  extensions/1password/src/v8/components/VaultActionPanel.tsx
  extensions/1password/src/v8/utils.ts
Labels: extension fix / improvement, OP is contributor, extension: 1password

#15630 Feature/configure units
  extensions/surf-check/CHANGELOG.md
  extensions/surf-check/README.md
  extensions/surf-check/metadata/surf-check-3.png
  extensions/surf-check/package.json
  extensions/surf-check/src/surf-check.tsx
  extensions/surf-check/src/utils.ts
Labels: extension fix / improvement, OP is author, extension: surf-check

#15622 Update toncoin-price extension
  extensions/toncoin-price/CHANGELOG.md
  extensions/toncoin-price/src/sources/useBybit.tsx
Labels: extension fix / improvement, OP is author, extension: toncoin-price

#15628 [Bugfix] Fix crash in Search Links command
  extensions/short-io/.eslintrc.json
  extensions/short-io/CHANGELOG.md
  extensions/short-io/assets/my-link-icon-menu-bar.png
  extensions/short-io/assets/my-link-icon-menu-bar@dark.png
  extensions/short-io/assets/search-link-icon-menu-bar.png
  extensions/short-io/package-lock.json
  extensions/short-io/package.json
  extensions/short-io/src/components/action-open-preferences.tsx
  extensions/short-io/src/components/alert-dialog.ts
  extensions/short-io/src/components/list-empty-view.tsx
  extensions/short-io/src/edit-link.tsx
  extensions/short-io/src/hooks/hooks.ts
  extensions/short-io/src/hooks/useDefaultDomain.ts
  extensions/short-io/src/hooks/useDomains.ts
  extensions/short-io/src/hooks/useShortLinks.ts
  extensions/short-io/src/search-links-menu-bar.tsx
  extensions/short-io/src/search-links.tsx
  extensions/short-io/src/shorten-link-with-domain.tsx
  extensions/short-io/src/shorten-link.tsx
  extensions/short-io/src/types/preferences.ts
  extensions/short-io/src/types/types.ts
  extensions/short-io/src/utils/axios-utils.ts
  extensions/short-io/src/utils/common-utils.ts
  extensions/short-io/src/utils/constants.ts
  extensions/short-io/tsconfig.json
Labels: extension fix / improvement, OP is author, extension: short-io

#15615 Graphcalc/interface enhancements
  extensions/graphcalc/CHANGELOG.md
  extensions/graphcalc/README.md
  extensions/graphcalc/metadata/graphcalc-1.png
  extensions/graphcalc/metadata/graphcalc-2.png
  extensions/graphcalc/metadata/graphcalc-3.png
  extensions/graphcalc/src/components/Graph.tsx
  extensions/graphcalc/src/constants/index.ts
  extensions/graphcalc/src/hooks/useGraphData.ts
  extensions/graphcalc/src/hooks/useGraphNavigation.ts
  extensions/graphcalc/src/types/index.ts
  extensions/graphcalc/src/utils/mathUtils.ts
  extensions/graphcalc/src/utils/renderUtils.tsx
Labels: extension fix / improvement, OP is contributor, extension: graphcalc

#15585 Update workouts extension
  extensions/workouts/CHANGELOG.md
  extensions/workouts/README.md
  extensions/workouts/metadata/workouts-3.png
  extensions/workouts/metadata/workouts-4.png
  extensions/workouts/package.json
  extensions/workouts/src/ask.tsx
  extensions/workouts/src/workouts.tsx
Labels: extension fix / improvement, OP is author, extension: workouts

#15469 Update jira extension
  extensions/jira/CHANGELOG.md
  extensions/jira/package.json
  extensions/jira/src/api/issues.ts
  extensions/jira/src/components/IssueActions.tsx
Labels: extension fix / improvement, extension: jira

#15610 Update todoist extension
  extensions/todoist/CHANGELOG.md
  extensions/todoist/package.json
  extensions/todoist/src/quick-add-task.tsx
Labels: extension fix / improvement, extension: todoist

#15612 Ext/servicenow
  extensions/servicenow/CHANGELOG.md
  extensions/servicenow/src/components/NavigationHistoryFull.tsx
  extensions/servicenow/src/components/ResultDetail.tsx
  extensions/servicenow/src/components/SearchList.tsx
  extensions/servicenow/src/hooks/useInstances.ts
  extensions/servicenow/src/utils/getSectionTitle.ts
Labels: extension fix / improvement, OP is author, extension: servicenow

#15538 Update renaming extension
  extensions/renaming/CHANGELOG.md
  extensions/renaming/package.json
  extensions/renaming/src/replace.tsx
Labels: extension fix / improvement, OP is contributor, extension: renaming

#15324 Add raycast-jq extension
  extensions/raycast-jq/.eslintrc.json
  extensions/raycast-jq/.gitignore
  extensions/raycast-jq/.prettierrc
  extensions/raycast-jq/CHANGELOG.md
  extensions/raycast-jq/README.md
  extensions/raycast-jq/assets/icon-512.png
  extensions/raycast-jq/assets/icon-64-no-content.png
  extensions/raycast-jq/assets/icon-64.png
  extensions/raycast-jq/metadata/raycast-jq-1.png
  extensions/raycast-jq/metadata/raycast-jq-2.png
  extensions/raycast-jq/metadata/raycast-jq-3.png
  extensions/raycast-jq/package-lock.json
  extensions/raycast-jq/package.json
  extensions/raycast-jq/src/components/ActionPickFile.tsx
  extensions/raycast-jq/src/hooks/useJq.ts
  extensions/raycast-jq/src/run-query.tsx
  extensions/raycast-jq/tsconfig.json
Labels: new extension

#15511 feat(deepcast): formality
  extensions/deepcast/CHANGELOG.md
  extensions/deepcast/package.json
  extensions/deepcast/src/index.tsx
  extensions/deepcast/src/utils.ts
Labels: extension fix / improvement, OP is contributor, extension: deepcast

#15602 [Simple-Reminder] Add self-host ntfy server abilities to the extension for mobile notifications
  extensions/simple-reminder/CHANGELOG.md
  extensions/simple-reminder/README.md
  extensions/simple-reminder/media/ntfy-1.png
  extensions/simple-reminder/package.json
  extensions/simple-reminder/src/reminderNotifications.ts
  extensions/simple-reminder/src/types/preferences.ts
  extensions/simple-reminder/src/utils/sendPushNotificationWithNtfy.ts
Labels: extension fix / improvement, OP is author, extension: simple-reminder

#15656 [Bugfix] Fix paste as number
  extensions/paste-as-plain-text/CHANGELOG.md
  extensions/paste-as-plain-text/package-lock.json
  extensions/paste-as-plain-text/package.json
  extensions/paste-as-plain-text/src/utils/common-utils.ts
Labels: extension fix / improvement, OP is author, extension: paste-as-plain-text

#15510 Update `Wireguard` extension - `showToast` then `showHud` for better UX
  extensions/wireguard/.eslintrc.json
  extensions/wireguard/.gitignore
  extensions/wireguard/CHANGELOG.md
  extensions/wireguard/package-lock.json
  extensions/wireguard/package.json
  extensions/wireguard/src/disconnectAllWireguardConnections.ts
  extensions/wireguard/src/index.tsx
  extensions/wireguard/src/toggle.ts
  extensions/wireguard/tsconfig.json
Labels: extension fix / improvement, extension: wireguard

#15492 [Microsoft Edge] new `copy active tab url` command (close issue)
  extensions/microsoft-edge/.gitignore
  extensions/microsoft-edge/CHANGELOG.md
  extensions/microsoft-edge/README.md
  extensions/microsoft-edge/package-lock.json
  extensions/microsoft-edge/package.json
  extensions/microsoft-edge/src/actions/index.ts
  extensions/microsoft-edge/src/components/error/NotInstalledError.tsx
  extensions/microsoft-edge/src/copy-active-tab-url.ts
  extensions/microsoft-edge/tsconfig.json
Labels: extension fix / improvement, extension: microsoft-edge

#15445 Update `GraphCDN` extension - retitle to "Stellate (formerly GraphCDN)" + cache w/ hook
  extensions/graphcdn/.eslintrc.json
  extensions/graphcdn/.gitignore
  extensions/graphcdn/CHANGELOG.md
  extensions/graphcdn/README.md
  extensions/graphcdn/Screenshot.png
  extensions/graphcdn/metadata/graphcdn-1.png
  extensions/graphcdn/package-lock.json
  extensions/graphcdn/package.json
  extensions/graphcdn/src/api.ts
  extensions/graphcdn/src/config.ts
  extensions/graphcdn/src/search.tsx
  extensions/graphcdn/src/types.ts
  extensions/graphcdn/tsconfig.json
Labels: extension fix / improvement, extension: graphcdn

#15638 Add `FreeDNS` (freedns.afraid.org) extension -
  extensions/freedns/.eslintrc.json
  extensions/freedns/.gitignore
  extensions/freedns/.prettierrc
  extensions/freedns/CHANGELOG.md
  extensions/freedns/README.md
  extensions/freedns/assets/extension-icon.png
  extensions/freedns/metadata/freedns-1.png
  extensions/freedns/metadata/freedns-2.png
  extensions/freedns/package-lock.json
  extensions/freedns/package.json
  extensions/freedns/src/dns-records.tsx
  extensions/freedns/tsconfig.json
Labels: new extension

#15617 Update `Transmit` extension - fix crash if untitled Server + add `usePromise` + use Raycast `run-applescript`
  extensions/transmit/.eslintrc.json
  extensions/transmit/.gitignore
  extensions/transmit/CHANGELOG.md
  extensions/transmit/package-lock.json
  extensions/transmit/package.json
  extensions/transmit/src/index.tsx
  extensions/transmit/tsconfig.json
Labels: extension fix / improvement, extension: transmit

#15577 Feat coze
  extensions/coze/.eslintrc.json
  extensions/coze/.gitignore
  extensions/coze/.prettierrc
  extensions/coze/CHANGELOG.md
  extensions/coze/README.md
  extensions/coze/assets/coze.png
  extensions/coze/assets/coze.svg
  extensions/coze/metadata/bot_chat.png
  extensions/coze/metadata/bot_list.png
  extensions/coze/metadata/chat_history.png
  extensions/coze/metadata/workspace_list.png
  extensions/coze/package-lock.json
  extensions/coze/package.json
  extensions/coze/src/bot-chat.tsx
  extensions/coze/src/bot-list.tsx
  extensions/coze/src/cache/bot.ts
  extensions/coze/src/cache/cache.ts
  extensions/coze/src/cache/workspace.ts
  extensions/coze/src/chat-history.tsx
  extensions/coze/src/hooks/useAPI.ts
  extensions/coze/src/hooks/useBotInfo.ts
  extensions/coze/src/hooks/useBots.ts
  extensions/coze/src/hooks/useConversation.tsx
  extensions/coze/src/hooks/useCreateConversation.ts
  extensions/coze/src/hooks/useForm.ts
  extensions/coze/src/hooks/useHistory.tsx
  extensions/coze/src/hooks/useWorkspaces.ts
  extensions/coze/src/mocked/bot_list.ts
  extensions/coze/src/mocked/workspace_list.ts
  extensions/coze/src/services/api.tsx
  extensions/coze/src/services/config.tsx
  extensions/coze/src/services/utils.tsx
  extensions/coze/src/store/index.tsx
  extensions/coze/src/views/BotConversationView.tsx
  extensions/coze/src/views/BotListView.tsx
  extensions/coze/src/views/ChatFormView.tsx
  extensions/coze/src/views/EmptyConversationView.tsx
  extensions/coze/src/views/EmptyData.tsx
  extensions/coze/src/views/ErrorView.tsx
  extensions/coze/src/views/WorkspaceListView.tsx
  extensions/coze/tsconfig.json
Labels: new extension

#15265 Update stripe extension
  extensions/stripe/.gitignore
  extensions/stripe/CHANGELOG.md
  extensions/stripe/package-lock.json
  extensions/stripe/package.json
  extensions/stripe/src/balance-transactions.tsx
  extensions/stripe/src/balance.tsx
  extensions/stripe/src/charges.tsx
  extensions/stripe/src/components/card.tsx
  extensions/stripe/src/components/organisms/list-container.tsx
  extensions/stripe/src/connected-accounts.tsx
  extensions/stripe/src/data/cards.ts
  extensions/stripe/src/events.tsx
  extensions/stripe/src/fill-checkout.tsx
  extensions/stripe/src/payment-intents.tsx
  extensions/stripe/src/utils/cards.ts
Labels: extension fix / improvement, extension: stripe

#15682 [Pomodoro] Fix the timer completed prompt
  extensions/pomodoro/CHANGELOG.md
  extensions/pomodoro/package-lock.json
  extensions/pomodoro/package.json
  extensions/pomodoro/src/lib/constants.ts
  extensions/pomodoro/src/lib/doNotDisturb.tsx
  extensions/pomodoro/src/lib/intervals.tsx
  extensions/pomodoro/src/lib/secondsToTime.tsx
  extensions/pomodoro/src/lib/slack/slackAPI.ts
  extensions/pomodoro/src/lib/slack/slackIntervals.ts
  extensions/pomodoro/src/lib/types.ts
  extensions/pomodoro/src/pomodoro-control-timer.tsx
  extensions/pomodoro/src/pomodoro-menu-bar.tsx
  extensions/pomodoro/src/slack-pomodoro-control-timer.tsx
  extensions/pomodoro/src/slack-pomodoro-menu-bar.tsx
  extensions/pomodoro/src/stats-pomodoro-timer.tsx
  extensions/pomodoro/tsconfig.json
Labels: extension fix / improvement, OP is contributor, extension: pomodoro

#15611 [Dub] Adds typeahead support for short links
  extensions/dub/CHANGELOG.md
  extensions/dub/package-lock.json
  extensions/dub/package.json
  extensions/dub/src/api/index.ts
  extensions/dub/src/hooks/use-short-links.ts
  extensions/dub/src/search-links.tsx
Labels: extension fix / improvement, OP is contributor, extension: dub

#15413 feat: flexible twenty raycast integration
  extensions/twenty/.github/FUNDING.yml
  extensions/twenty/CHANGELOG.md
  extensions/twenty/README.md
  extensions/twenty/assets/logo.png
  extensions/twenty/assets/status_icon.png
  extensions/twenty/metadata/metadata-1.png
  extensions/twenty/metadata/metadata-2.png
  extensions/twenty/metadata/metadata-3.png
  extensions/twenty/metadata/metadata-4.png
  extensions/twenty/metadata/twenty-1.png
  extensions/twenty/metadata/twenty-2.png
  extensions/twenty/metadata/twenty-3.png
  extensions/twenty/metadata/twenty-4.png
  extensions/twenty/package-lock.json
  extensions/twenty/package.json
  extensions/twenty/src/components/FieldComponent.tsx
  extensions/twenty/src/components/Select.tsx
  extensions/twenty/src/components/TextInput.tsx
  extensions/twenty/src/components/index.ts
  extensions/twenty/src/create-company.tsx
  extensions/twenty/src/create-object-record-form.tsx
  extensions/twenty/src/create-object-record.tsx
  extensions/twenty/src/create-person.tsx
  extensions/twenty/src/enum/api.ts
  extensions/twenty/src/enum/icons.ts
  extensions/twenty/src/error-view.tsx
  extensions/twenty/src/helper/createValidationsForRest.ts
  extensions/twenty/src/helper/formatValues.ts
  extensions/twenty/src/helper/index.ts
  extensions/twenty/src/helper/isUrl.ts
  extensions/twenty/src/helper/removeTrailingSlash.ts
  extensions/twenty/src/helper/splitFullName.ts
  extensions/twenty/src/helper/twentyEmailObject.ts
  extensions/twenty/src/helper/twentyUrlObject.ts
  extensions/twenty/src/hooks/use-api-url.ts
  extensions/twenty/src/hooks/use-auth-headers.ts
  extensions/twenty/src/hooks/use-company-details.ts
  extensions/twenty/src/hooks/use-company.ts
  extensions/twenty/src/hooks/use-people.ts
  extensions/twenty/src/list-companies.tsx
  extensions/twenty/src/list-people.tsx
  extensions/twenty/src/pages/CreateObjectRecordForm.tsx
  extensions/twenty/src/pages/index.ts
  extensions/twenty/src/services/TwentySDK.ts
  extensions/twenty/src/services/zod/schema/dataModelSchema.ts
  extensions/twenty/src/services/zod/schema/recordFieldSchema.ts
  extensions/twenty/src/types.ts
  extensions/twenty/src/types/raycast-api.d.ts
Labels: extension fix / improvement, extension: twenty

#15568 Update jira-time-tracking extension
  extensions/jira-time-tracking/CHANGELOG.md
  extensions/jira-time-tracking/README.md
  extensions/jira-time-tracking/package.json
  extensions/jira-time-tracking/src/controllers.ts
  extensions/jira-time-tracking/src/types.ts
Labels: extension fix / improvement, OP is contributor, extension: jira-time-tracking

#15685 [Transmit] fix: asks to install application (result of previous PR - closes new Issue)
  extensions/transmit/CHANGELOG.md
  extensions/transmit/src/index.tsx
Labels: extension fix / improvement, OP is contributor, extension: transmit

#15647 [Visual Studio Code] update extension to show git branch
  extensions/visual-studio-code-recent-projects/CHANGELOG.md
  extensions/visual-studio-code-recent-projects/package-lock.json
  extensions/visual-studio-code-recent-projects/package.json
  extensions/visual-studio-code-recent-projects/src/index.tsx
  extensions/visual-studio-code-recent-projects/src/install-extension.tsx
  extensions/visual-studio-code-recent-projects/src/preferences.ts
  extensions/visual-studio-code-recent-projects/src/utils/git.ts
Labels: extension fix / improvement, OP is contributor, extension: visual-studio-code-recent-projects

#15666 Update jsr extension
  extensions/jsr/CHANGELOG.md
  extensions/jsr/package-lock.json
  extensions/jsr/package.json
  extensions/jsr/src/hooks/useJSRSearch.ts
Labels: extension fix / improvement, OP is author, extension: jsr

#15456 feat: add nix-darwin support
  extensions/sesh/CHANGELOG.md
  extensions/sesh/src/env.ts
Labels: extension fix / improvement, OP is author, extension: sesh

#15532 [Gistly] Update API host
  extensions/gistly/CHANGELOG.md
  extensions/gistly/package-lock.json
  extensions/gistly/package.json
  extensions/gistly/src/query-content.tsx
Labels: extension fix / improvement, OP is author, extension: gistly

#15687 fix: remove latex from readme which isn't rendering in store
  extensions/twenty/README.md
Labels: extension fix / improvement, extension: twenty

#15686 Update raycast-jq extension
  extensions/raycast-jq/CHANGELOG.md
  extensions/raycast-jq/README.md
  extensions/raycast-jq/assets/icon-512-large.png
  extensions/raycast-jq/package-lock.json
  extensions/raycast-jq/package.json
Labels: extension fix / improvement, OP is author, extension: raycast-jq

#15698 Add weekdays and weekend options for recurring reminders
  extensions/apple-reminders/CHANGELOG.md
  extensions/apple-reminders/src/create-reminder.tsx
  extensions/apple-reminders/swift/AppleReminders/Sources/Reminders.swift
Labels: extension fix / improvement, OP is contributor, extension: apple-reminders

#15703 [visual-studio-code-recent-projects]: improve error handling for ambiguous git HEAD argument
  extensions/visual-studio-code-recent-projects/CHANGELOG.md
  extensions/visual-studio-code-recent-projects/src/utils/git.ts
Labels: extension fix / improvement, extension: visual-studio-code-recent-projects

#15470 [Chess.com] Add more time controls
  extensions/chess-com/CHANGELOG.md
  extensions/chess-com/package.json
  extensions/chess-com/src/play-10-5.ts
  extensions/chess-com/src/play-15-10.ts
  extensions/chess-com/src/play-20-min.ts
  extensions/chess-com/src/play-60-min.ts
Labels: extension fix / improvement, extension: chess-com

#15699 [Visual Studio Code] Add Customizable Git Branch Color Option
  extensions/visual-studio-code-recent-projects/CHANGELOG.md
  extensions/visual-studio-code-recent-projects/package.json
  extensions/visual-studio-code-recent-projects/src/index.tsx
  extensions/visual-studio-code-recent-projects/src/preferences.ts
  extensions/visual-studio-code-recent-projects/src/utils.ts
Labels: extension fix / improvement, OP is contributor, extension: visual-studio-code-recent-projects

#15625 Sourcegraph: Search improvements, pattern selector, and proxy support
  extensions/sourcegraph/.eslintrc.json
  extensions/sourcegraph/.tool-versions
  extensions/sourcegraph/CHANGELOG.md
  extensions/sourcegraph/README.md
  extensions/sourcegraph/eslint.config.mjs
  extensions/sourcegraph/graphql-codegen.yml
  extensions/sourcegraph/metadata/1-search.png
  extensions/sourcegraph/metadata/3-batch-change-manage.png
  extensions/sourcegraph/metadata/3-notebook-view.png
  extensions/sourcegraph/metadata/4-batch-change-manage.png
  extensions/sourcegraph/metadata/4-notebook-view.png
  extensions/sourcegraph/package-lock.json
  extensions/sourcegraph/package.json
  extensions/sourcegraph/patches/eventsource+2.0.2.patch
  extensions/sourcegraph/src/components/DotComCommand.tsx
  extensions/sourcegraph/src/components/ExpandableToast.tsx
  extensions/sourcegraph/src/components/FindNotebooksCommand.tsx
  extensions/sourcegraph/src/components/InstanceCommand.tsx
  extensions/sourcegraph/src/components/ManageBatchChangesCommand.tsx
  extensions/sourcegraph/src/components/SearchCommand.tsx
  extensions/sourcegraph/src/components/SearchHistoryCommand.tsx
  extensions/sourcegraph/src/components/colors/index.ts
  extensions/sourcegraph/src/components/shortcuts/index.ts
  extensions/sourcegraph/src/findNotebooksDotCom.tsx
  extensions/sourcegraph/src/hooks/checkAuthEffect.tsx
  extensions/sourcegraph/src/hooks/search.tsx
  extensions/sourcegraph/src/hooks/telemetry.tsx
  extensions/sourcegraph/src/markdown/index.ts
  extensions/sourcegraph/src/searchDotCom.tsx
  extensions/sourcegraph/src/searchHistory/index.tsx
  extensions/sourcegraph/src/searchHistoryDotCom.tsx
  extensions/sourcegraph/src/searchInstance.tsx
  extensions/sourcegraph/src/sourcegraph/gql/apollo.ts
  extensions/sourcegraph/src/sourcegraph/gql/auth.ts
  extensions/sourcegraph/src/sourcegraph/gql/fetchProxy.ts
  extensions/sourcegraph/src/sourcegraph/gql/operations.ts
  extensions/sourcegraph/src/sourcegraph/gql/queries/telemetry.graphql
  extensions/sourcegraph/src/sourcegraph/index.ts
  extensions/sourcegraph/src/sourcegraph/stream-search/index.ts
  extensions/sourcegraph/src/sourcegraph/stream-search/stream.ts
  extensions/sourcegraph/tsconfig.json
Labels: extension fix / improvement, OP is author, extension: sourcegraph

#15593 [Cloudflare] `EmptyView` + Cache DNSRecords,Sites,ZoneDetails,Members,Pages + `metadata` images
  extensions/cloudflare/.eslintrc.json
  extensions/cloudflare/CHANGELOG.md
  extensions/cloudflare/assets/no-pages.svg
  extensions/cloudflare/assets/no-sites.svg
  extensions/cloudflare/metadata/cloudflare-1.png
  extensions/cloudflare/metadata/cloudflare-2.png
  extensions/cloudflare/metadata/cloudflare-3.png
  extensions/cloudflare/metadata/cloudflare-4.png
  extensions/cloudflare/package-lock.json
  extensions/cloudflare/package.json
  extensions/cloudflare/src/service.ts
  extensions/cloudflare/src/utils.ts
  extensions/cloudflare/src/view-cache-purge.tsx
  extensions/cloudflare/src/view-members.tsx
  extensions/cloudflare/src/view-pages.tsx
  extensions/cloudflare/src/view-sites.tsx
  extensions/cloudflare/tsconfig.json
Labels: extension fix / improvement, extension: cloudflare

#15478 Update `ETH Gas Tracker` extension - API is 404 so directly uses Etherscan API (close issue)
  extensions/ethereum-gas-tracker/.eslintrc.json
  extensions/ethereum-gas-tracker/.gitignore
  extensions/ethereum-gas-tracker/CHANGELOG.md
  extensions/ethereum-gas-tracker/README.md
  extensions/ethereum-gas-tracker/package-lock.json
  extensions/ethereum-gas-tracker/package.json
  extensions/ethereum-gas-tracker/src/ethereum-gas-tracker.tsx
  extensions/ethereum-gas-tracker/tsconfig.json
Labels: extension fix / improvement, extension: ethereum-gas-tracker

#15535 Update korean-date-converter extension
  extensions/korean-date-converter/CHANGELOG.md
  extensions/korean-date-converter/package-lock.json
  extensions/korean-date-converter/package.json
Labels: extension fix / improvement, OP is author, extension: korean-date-converter

#15668 Update open-in-sublime-text extension
  extensions/open-in-sublime-text/CHANGELOG.md
  extensions/open-in-sublime-text/src/index.ts
Labels: extension fix / improvement, OP is author, extension: open-in-sublime-text

#15659 Update homeassistant extension
  extensions/homeassistant/CHANGELOG.md
  extensions/homeassistant/assets/stop.svg
  extensions/homeassistant/package-lock.json
  extensions/homeassistant/package.json
  extensions/homeassistant/src/components/mediaplayer/actions.tsx
  extensions/homeassistant/src/components/vacuum/actions.tsx
Labels: extension fix / improvement, OP is contributor, extension: homeassistant

#15522 Add raycast-ordbokene extension
  extensions/raycast-ordbokene/.eslintrc.json
  extensions/raycast-ordbokene/.gitignore
  extensions/raycast-ordbokene/.prettierrc
  extensions/raycast-ordbokene/CHANGELOG.md
  extensions/raycast-ordbokene/LICENSE
  extensions/raycast-ordbokene/README.md
  extensions/raycast-ordbokene/assets/ordbøkene-icon.png
  extensions/raycast-ordbokene/metadata/ordbokene-norwegian-dictionary-1.png
  extensions/raycast-ordbokene/package-lock.json
  extensions/raycast-ordbokene/package.json
  extensions/raycast-ordbokene/src/api.ts
  extensions/raycast-ordbokene/src/components/ArticleDetail.tsx
  extensions/raycast-ordbokene/src/index.tsx
  extensions/raycast-ordbokene/src/types.ts
  extensions/raycast-ordbokene/tsconfig.json
Labels: new extension

#15536 Update json-format extension
  extensions/json-format/CHANGELOG.md
  extensions/json-format/package.json
  extensions/json-format/src/formatSelectionAndShow.tsx
Labels: extension fix / improvement, extension: json-format

#15679 Update tesla extension
  extensions/tesla/CHANGELOG.md
  extensions/tesla/src/viewCar.tsx
Labels: extension fix / improvement, OP is author, extension: tesla

#15721 Update `Mailerlite Stats` extension - Add `Subscribers` command to view subscribers filtered by Status
  extensions/mailerlite-stats/CHANGELOG.md
  extensions/mailerlite-stats/README.md
  extensions/mailerlite-stats/package-lock.json
  extensions/mailerlite-stats/package.json
  extensions/mailerlite-stats/src/config.ts
  extensions/mailerlite-stats/src/interfaces.ts
  extensions/mailerlite-stats/src/mailerlite.tsx
  extensions/mailerlite-stats/src/subscribers.tsx
Labels: extension fix / improvement, OP is contributor, extension: mailerlite-stats

#15697 Update one-time-password extension
  extensions/one-time-password/.gitignore
  extensions/one-time-password/CHANGELOG.md
  extensions/one-time-password/package.json
  extensions/one-time-password/src/one-time-password.tsx
Labels: extension fix / improvement, extension: one-time-password

#15729 Update myip extension
  extensions/myip/CHANGELOG.md
  extensions/myip/metadata/myip-1.png
  extensions/myip/package-lock.json
  extensions/myip/package.json
Labels: extension fix / improvement, extension: myip

#15737 [Pomodoro] Fix the short break timer
  extensions/pomodoro/CHANGELOG.md
  extensions/pomodoro/src/lib/intervals.tsx
Labels: extension fix / improvement, OP is contributor, extension: pomodoro

#15750 Update markdown-codeblock extension
  extensions/markdown-codeblock/CHANGELOG.md
  extensions/markdown-codeblock/assets/icons/astro.svg
  extensions/markdown-codeblock/src/constants.ts
Labels: extension fix / improvement, OP is author, extension: markdown-codeblock

#15540 [Raycast Port] Add extension
  extensions/raycast-port/.eslintrc.json
  extensions/raycast-port/.gitignore
  extensions/raycast-port/.prettierrc
  extensions/raycast-port/CHANGELOG.md
  extensions/raycast-port/LICENSE
  extensions/raycast-port/README.md
  extensions/raycast-port/assets/raycast-port-icon.png
  extensions/raycast-port/package-lock.json
  extensions/raycast-port/package.json
  extensions/raycast-port/src/ai-ask.tsx
  extensions/raycast-port/tsconfig.json
Labels: new extension

#15547 Anybox: Fix the "Search Links" command when searching for Tags and Folders names
  extensions/anybox/CHANGELOG.md
  extensions/anybox/package.json
  extensions/anybox/src/search.tsx
Labels: extension fix / improvement, extension: anybox

#15572 Add Frame Crop - Discover Art for your TV
  extensions/frame-crop/.eslintrc.json
  extensions/frame-crop/.gitignore
  extensions/frame-crop/.prettierrc
  extensions/frame-crop/CHANGELOG.md
  extensions/frame-crop/README.md
  extensions/frame-crop/assets/frame-crop-icon.png
  extensions/frame-crop/assets/frame-crop-raycast-logo.png
  extensions/frame-crop/config.json
  extensions/frame-crop/metadata/frame-crop-art-1.png
  extensions/frame-crop/metadata/frame-crop-art-2.png
  extensions/frame-crop/metadata/frame-crop-art-3.png
  extensions/frame-crop/metadata/frame-crop-art-4.png
  extensions/frame-crop/metadata/frame-crop-art-5.png
  extensions/frame-crop/package-lock.json
  extensions/frame-crop/package.json
  extensions/frame-crop/src/display-artwork.tsx
  extensions/frame-crop/src/functions/copyFileToClipboard.ts
  extensions/frame-crop/src/functions/saveImage.ts
  extensions/frame-crop/src/functions/utils.ts
  extensions/frame-crop/src/get-popular-art.tsx
  extensions/frame-crop/src/get-random-artwork.tsx
  extensions/frame-crop/src/types.ts
  extensions/frame-crop/tsconfig.json
Labels: new extension

#15705 Update claude extension
  extensions/claude/CHANGELOG.md
  extensions/claude/package.json
  extensions/claude/src/views/chat.tsx
Labels: extension fix / improvement, extension: claude

#15599 Update privileges to work with v2
  extensions/privileges/CHANGELOG.md
  extensions/privileges/package.json
  extensions/privileges/src/utils.ts
Labels: extension fix / improvement, extension: privileges

#15605 Add ai-text-to-calendar extension
  extensions/ai-text-to-calendar/.eslintrc.json
  extensions/ai-text-to-calendar/.gitignore
  extensions/ai-text-to-calendar/.prettierrc
  extensions/ai-text-to-calendar/CHANGELOG.md
  extensions/ai-text-to-calendar/README.md
  extensions/ai-text-to-calendar/assets/extension-icon.png
  extensions/ai-text-to-calendar/package-lock.json
  extensions/ai-text-to-calendar/package.json
  extensions/ai-text-to-calendar/src/ai-text-to-calendar.ts
  extensions/ai-text-to-calendar/tsconfig.json
Labels: new extension

#15803 Fixed image path issure in README.md.
  extensions/datetime-format-converter/CHANGELOG.md
  extensions/datetime-format-converter/README.md
Labels: extension fix / improvement, OP is author, OP is contributor, extension: datetime-format-converter

#15766 [Compress PDF] update SDK to fix issue of not compressing due to vuln
  extensions/compress-pdf/.eslintrc.json
  extensions/compress-pdf/.gitignore
  extensions/compress-pdf/CHANGELOG.md
  extensions/compress-pdf/package-lock.json
  extensions/compress-pdf/package.json
  extensions/compress-pdf/src/index.tsx
  extensions/compress-pdf/tsconfig.json
Labels: extension fix / improvement, extension: compress-pdf

#15765 Update `HetrixTools` extension - View Blacklist Monitors
  extensions/hetrixtools/CHANGELOG.md
  extensions/hetrixtools/README.md
  extensions/hetrixtools/metadata/hetrixtools-3.png
  extensions/hetrixtools/package-lock.json
  extensions/hetrixtools/package.json
  extensions/hetrixtools/src/blacklist-monitors.tsx
  extensions/hetrixtools/src/types.ts
  extensions/hetrixtools/src/uptime-monitors.tsx
  extensions/hetrixtools/src/utils.ts
Labels: extension fix / improvement, OP is author, extension: hetrixtools

#15800 Update media-converter extension
  extensions/media-converter/CHANGELOG.md
  extensions/media-converter/package.json
  extensions/media-converter/src/components/ConverterForm.tsx
  extensions/media-converter/src/quick-convert.tsx
Labels: extension fix / improvement, OP is author, extension: media-converter

#15807 [Browser Bookmarks] Use latest logo since rebrand for zen.
  extensions/browser-bookmarks/CHANGELOG.md
  extensions/browser-bookmarks/assets/zen.png
Labels: extension fix / improvement, extension: browser-bookmarks

#15795 [Mail] Fix timeout error messages with refresh mail
  extensions/mail/CHANGELOG.md
  extensions/mail/package.json
  extensions/mail/src/refresh-mail.tsx
  extensions/mail/src/scripts/messages.ts
Labels: extension fix / improvement, OP is author, extension: mail

#14838 Update bring extension
  extensions/bring/CHANGELOG.md
  extensions/bring/metadata/bring-1.png
  extensions/bring/metadata/bring-2.png
  extensions/bring/metadata/bring-3.png
  extensions/bring/metadata/bring-4.png
  extensions/bring/package-lock.json
  extensions/bring/package.json
  extensions/bring/src/components/ItemsGrid.tsx
  extensions/bring/src/index.tsx
Labels: extension fix / improvement, OP is contributor, extension: bring

#15806 [Zen Browser] Updated to latest logo since rebrand.
  extensions/zen-browser/CHANGELOG.md
  extensions/zen-browser/assets/zen-logo.png
Labels: extension fix / improvement, OP is contributor, extension: zen-browser

#15785 Update fetch-youtube-transcript extension
  extensions/fetch-youtube-transcript/CHANGELOG.md
  extensions/fetch-youtube-transcript/metadata/fetch-youtube-transcript-2.png
  extensions/fetch-youtube-transcript/metadata/fetch-youtube-transcript-3.png
  extensions/fetch-youtube-transcript/package-lock.json
  extensions/fetch-youtube-transcript/package.json
  extensions/fetch-youtube-transcript/src/fetch-youtube-transcript.tsx
  extensions/fetch-youtube-transcript/src/youtube-captions-scraper.d.ts
Labels: extension fix / improvement, OP is author, extension: fetch-youtube-transcript

#15755 [GitHub] Regenerate GraphQL related code with latest schema
  extensions/github/CHANGELOG.md
  extensions/github/src/generated/graphql.ts
Labels: extension fix / improvement, extension: github

#15777 Update pomodoro extension
  extensions/pomodoro/CHANGELOG.md
  extensions/pomodoro/package.json
  extensions/pomodoro/src/stats-pomodoro-timer.tsx
Labels: extension fix / improvement, extension: pomodoro

#15733 Update anki extension
  extensions/anki/CHANGELOG.md
  extensions/anki/package-lock.json
  extensions/anki/package.json
  extensions/anki/src/actions/StudyDeck.tsx
  extensions/anki/src/hooks/useTurndown.ts
Labels: extension fix / improvement, OP is author, extension: anki

#15794 Added Rating field type
  extensions/twenty/CHANGELOG.md
  extensions/twenty/src/components/FieldComponent.tsx
  extensions/twenty/src/components/Rating.tsx
  extensions/twenty/src/helper/formatValues.ts
Labels: extension fix / improvement, extension: twenty

#15700 Quick open project: fix keybinds
  extensions/quick-open-project/.eslintignore
  extensions/quick-open-project/.eslintrc.json
  extensions/quick-open-project/.gitignore
  extensions/quick-open-project/CHANGELOG.md
  extensions/quick-open-project/package-lock.json
  extensions/quick-open-project/package.json
  extensions/quick-open-project/src/index.tsx
  extensions/quick-open-project/tsconfig.json
Labels: extension fix / improvement, OP is author, extension: quick-open-project

#15760 Update spanish-tv-guide extension
  extensions/spanish-tv-guide/CHANGELOG.md
  extensions/spanish-tv-guide/package-lock.json
  extensions/spanish-tv-guide/package.json
  extensions/spanish-tv-guide/src/index.tsx
  extensions/spanish-tv-guide/src/modules/tv/domain/tvScheduleDto.ts
  extensions/spanish-tv-guide/src/utils/collectionUtils.ts
  extensions/spanish-tv-guide/src/utils/dateUtils.ts
  extensions/spanish-tv-guide/src/utils/objectUtils.ts
Labels: extension fix / improvement, OP is author, extension: spanish-tv-guide

#15720 [Doppler Share Secrets] View Projects with their Configs, Environments and Secrets
  docs/examples/doppler.md
  extensions/doppler-share-secrets/CHANGELOG.md
  extensions/doppler-share-secrets/README.md
  extensions/doppler-share-secrets/assets/doppler.png
  extensions/doppler-share-secrets/assets/icon.png
  extensions/doppler-share-secrets/metadata/doppler-share-secrets-1.png
  extensions/doppler-share-secrets/metadata/doppler-share-secrets-2.png
  extensions/doppler-share-secrets/metadata/doppler-share-secrets-3.png
  extensions/doppler-share-secrets/metadata/doppler-share-secrets-4.png
  extensions/doppler-share-secrets/metadata/screenshot.png
  extensions/doppler-share-secrets/package-lock.json
  extensions/doppler-share-secrets/package.json
  extensions/doppler-share-secrets/src/lib/doppler.ts
  extensions/doppler-share-secrets/src/lib/utils.ts
  extensions/doppler-share-secrets/src/search-projects.tsx
  extensions/doppler-share-secrets/src/type.ts
  extensions/doppler-share-secrets/tsconfig.json
Labels: extension fix / improvement, extension: doppler-share-secrets

#15701 feat: add new extension jue-jin
  extensions/juejin/.eslintrc.json
  extensions/juejin/.gitignore
  extensions/juejin/.prettierrc
  extensions/juejin/CHANGELOG.md
  extensions/juejin/README.md
  extensions/juejin/README_CN.md
  extensions/juejin/assets/icon.png
  extensions/juejin/metadata/jue-jin-1.png
  extensions/juejin/metadata/jue-jin-2.png
  extensions/juejin/metadata/jue-jin-3.png
  extensions/juejin/package-lock.json
  extensions/juejin/package.json
  extensions/juejin/src/Dto/recommendReqDto.ts
  extensions/juejin/src/Dto/recommendRespDto.ts
  extensions/juejin/src/api/recommend.ts
  extensions/juejin/src/components/recommendFeedAction.tsx
  extensions/juejin/src/components/recommendFeedCategoryDropdown.tsx
  extensions/juejin/src/components/recommendFeedIcon.tsx
  extensions/juejin/src/components/recommendFeedItem.tsx
  extensions/juejin/src/model/recommendNews.ts
  extensions/juejin/src/network/request.ts
  extensions/juejin/src/news.tsx
  extensions/juejin/src/recommend/recommend.ts
  extensions/juejin/src/utils/recommendFeedCategory.ts
  extensions/juejin/tsconfig.json
Labels: new extension

#15743 Update date-format-converter extension
  extensions/datetime-format-converter/CHANGELOG.md
  extensions/datetime-format-converter/package-lock.json
  extensions/datetime-format-converter/package.json
  extensions/datetime-format-converter/src/index.tsx
  extensions/datetime-format-converter/src/insert-natural-language-date.tsx
  extensions/datetime-format-converter/tsconfig.json
Labels: extension fix / improvement, OP is contributor, extension: datetime-format-converter

#15621 Update jira extension
  extensions/jira/.gitignore
  extensions/jira/CHANGELOG.md
  extensions/jira/package.json
  extensions/jira/src/components/CreateIssueForm.tsx
Labels: extension fix / improvement, extension: jira

#15813 [Pomodoro] Move timer to dropdown menu if it's hidden
  extensions/pomodoro/CHANGELOG.md
  extensions/pomodoro/src/pomodoro-menu-bar.tsx
  extensions/pomodoro/src/slack-pomodoro-menu-bar.tsx
Labels: extension fix / improvement, OP is contributor, extension: pomodoro

#15818 [GitHub] Specify git clone protocol
  extensions/github/CHANGELOG.md
  extensions/github/package.json
  extensions/github/src/components/CloneRepositoryForm.tsx
  extensions/github/src/components/RepositoryActions.tsx
  extensions/github/src/helpers/repository.ts
Labels: extension fix / improvement, OP is contributor, extension: github

#15828 [Claude] Remove duplicate action and use latest Haiku models as fallback model
  extensions/claude/CHANGELOG.md
  extensions/claude/package.json
  extensions/claude/src/actions/copy.tsx
  extensions/claude/src/hooks/useModel.tsx
  extensions/claude/src/views/chat.tsx
Labels: extension fix / improvement, extension: claude

#15812 Update spiceblow-database extension
  extensions/spiceblow-database/CHANGELOG.md
  extensions/spiceblow-database/package.json
  extensions/spiceblow-database/src/database.ts
  extensions/spiceblow-database/src/search-database.tsx
  extensions/spiceblow-database/src/state.ts
  extensions/spiceblow-database/src/types.ts
  extensions/spiceblow-database/src/utils.ts
Labels: extension fix / improvement, OP is author, extension: spiceblow-database

#15658 Add modrinth extension
  extensions/modrinth/.eslintrc.json
  extensions/modrinth/.gitignore
  extensions/modrinth/.prettierrc
  extensions/modrinth/CHANGELOG.md
  extensions/modrinth/README.md
  extensions/modrinth/assets/bukkit.svg
  extensions/modrinth/assets/bungeecord.svg
  extensions/modrinth/assets/client-side.svg
  extensions/modrinth/assets/datapack.svg
  extensions/modrinth/assets/fabric.svg
  extensions/modrinth/assets/folia.svg
  extensions/modrinth/assets/forge.svg
  extensions/modrinth/assets/iris.svg
  extensions/modrinth/assets/minecraft.svg
  extensions/modrinth/assets/modrinth-logo.png
  extensions/modrinth/assets/neoforge.svg
  extensions/modrinth/assets/optifine.svg
  extensions/modrinth/assets/paper.svg
  extensions/modrinth/assets/purpur.svg
  extensions/modrinth/assets/quilt.svg
  extensions/modrinth/assets/server-side.svg
  extensions/modrinth/assets/spigot.svg
  extensions/modrinth/assets/sponge.svg
  extensions/modrinth/assets/velocity.svg
  extensions/modrinth/assets/waterfall.svg
  extensions/modrinth/metadata/modrinth-search-1.png
  extensions/modrinth/metadata/modrinth-search-2.png
  extensions/modrinth/metadata/modrinth-search-3.png
  extensions/modrinth/metadata/modrinth-search-4.png
  extensions/modrinth/package-lock.json
  extensions/modrinth/package.json
  extensions/modrinth/src/components/ListDropdown.tsx
  extensions/modrinth/src/components/ProjectInteractionMenu.tsx
  extensions/modrinth/src/components/VersionInteractionMenu.tsx
  extensions/modrinth/src/models/DropdownType.ts
  extensions/modrinth/src/models/ListAPIResponse.ts
  extensions/modrinth/src/models/ModChangelogAPIResponse.ts
  extensions/modrinth/src/models/ProjectAPIResponseType.ts
  extensions/modrinth/src/models/SearchAPIResponseType.ts
  extensions/modrinth/src/pages/DetailView.tsx
  extensions/modrinth/src/pages/SearchView.tsx
  extensions/modrinth/src/pages/VersionsDetailView.tsx
  extensions/modrinth/src/pages/VersionsListView.tsx
  extensions/modrinth/src/search.tsx
  extensions/modrinth/src/utils/constants.tsx
  extensions/modrinth/src/utils/functions.ts
  extensions/modrinth/tsconfig.json
Labels: new extension

#15662 Update music-link-converter extension
  extensions/music-link-converter/CHANGELOG.md
  extensions/music-link-converter/package.json
  extensions/music-link-converter/src/index.tsx
Labels: extension fix / improvement, extension: music-link-converter

#15353 Add trek extension
  extensions/trek/.eslintrc.json
  extensions/trek/.gitignore
  extensions/trek/.prettierrc
  extensions/trek/CHANGELOG.md
  extensions/trek/README.md
  extensions/trek/assets/basecamp-logo.png
  extensions/trek/assets/extension-icon.png
  extensions/trek/metadata/390089706-69450b5d-f5d0-48d8-8d3e-d700af2e5889.png
  extensions/trek/metadata/390089713-3592aac1-a89e-4b90-bc88-2a0b9223ff26.png
  extensions/trek/metadata/390089720-ca547a61-3ca4-4647-95a9-f5756830b657.png
  extensions/trek/metadata/390089726-76f95ba1-f33a-4135-948c-8414a494f977.png
  extensions/trek/package-lock.json
  extensions/trek/package.json
  extensions/trek/src/components/AccountsList.tsx
  extensions/trek/src/components/CreateTodoForm.tsx
  extensions/trek/src/components/DockItemsList.tsx
  extensions/trek/src/components/ProjectsList.tsx
  extensions/trek/src/components/TodoComments.tsx
  extensions/trek/src/components/TodoListsList.tsx
  extensions/trek/src/components/TodosList.tsx
  extensions/trek/src/create-todo.tsx
  extensions/trek/src/oauth/auth.tsx
  extensions/trek/src/utils/markdown.ts
  extensions/trek/src/utils/math.ts
  extensions/trek/src/utils/types.ts
  extensions/trek/src/view-all-basecamps.tsx
  extensions/trek/src/view-projects.tsx
  extensions/trek/tsconfig.json
Labels: new extension

#15811 Update dust-tt extension
  extensions/dust-tt/CHANGELOG.md
  extensions/dust-tt/package-lock.json
  extensions/dust-tt/package.json
Labels: extension fix / improvement, OP is contributor, extension: dust-tt

#15825 [Plex] sort library items + add missing Action icon (close issue)
  extensions/plex/CHANGELOG.md
  extensions/plex/package-lock.json
  extensions/plex/package.json
  extensions/plex/src/index.tsx
  extensions/plex/src/sectionItems.tsx
Labels: extension fix / improvement, extension: plex

#15255 Update readwise-reader extension: add save links command
  extensions/readwise-reader/CHANGELOG.md
  extensions/readwise-reader/package.json
  extensions/readwise-reader/src/api/save.ts
  extensions/readwise-reader/src/save-link.tsx
  extensions/readwise-reader/src/save-links.tsx
  extensions/readwise-reader/src/utils/handleSave.ts
  extensions/readwise-reader/src/utils/url.ts
Labels: extension fix / improvement, status: stalled, extension: readwise-reader

#15831 Update toggl-track extension
  extensions/toggl-track/CHANGELOG.md
  extensions/toggl-track/src/index.tsx
Labels: extension fix / improvement, OP is contributor, extension: toggl-track

#15829 Added last modified info
  extensions/figma-files/CHANGELOG.md
  extensions/figma-files/README.md
  extensions/figma-files/src/components/FileGridItem.tsx
Labels: extension fix / improvement, OP is contributor, extension: figma-files

#15834 Update jetbrains extension
  extensions/jetbrains/CHANGELOG.md
  extensions/jetbrains/package-lock.json
  extensions/jetbrains/package.json
  extensions/jetbrains/src/.channel.json.d.ts
  extensions/jetbrains/src/.settings.json.d.ts
  extensions/jetbrains/src/components/AppDrop.tsx
  extensions/jetbrains/src/components/HelpTextDetail.tsx
  extensions/jetbrains/src/components/OpenInJetBrainsApp.tsx
  extensions/jetbrains/src/components/OpenJetBrainsToolbox.tsx
  extensions/jetbrains/src/components/RecentProject.tsx
  extensions/jetbrains/src/recent.tsx
  extensions/jetbrains/src/recentMenu.tsx
  extensions/jetbrains/src/sortTools.tsx
  extensions/jetbrains/src/useAppHistory.tsx
  extensions/jetbrains/src/util.ts
Labels: extension fix / improvement, OP is author, extension: jetbrains

#15728 Update Currently Playing
  extensions/music/CHANGELOG.md
  extensions/music/package.json
  extensions/music/src/currently-playing.tsx
Labels: extension fix / improvement, extension: music

#15708 Update browser-history extension
  extensions/browser-history/CHANGELOG.md
  extensions/browser-history/package.json
  extensions/browser-history/src/hooks/useHistorySearch.tsx
Labels: extension fix / improvement, extension: browser-history

#15709 Add bbc-news-headlines extension
  extensions/bbc-news-headlines/.eslintrc.json
  extensions/bbc-news-headlines/.gitignore
  extensions/bbc-news-headlines/.prettierrc
  extensions/bbc-news-headlines/CHANGELOG.md
  extensions/bbc-news-headlines/README.md
  extensions/bbc-news-headlines/assets/extension-icon.png
  extensions/bbc-news-headlines/metadata/bbc-news-headlines-1.png
  extensions/bbc-news-headlines/metadata/bbc-news-headlines-2.png
  extensions/bbc-news-headlines/package-lock.json
  extensions/bbc-news-headlines/package.json
  extensions/bbc-news-headlines/src/bbc-news.tsx
  extensions/bbc-news-headlines/tsconfig.json
Labels: new extension

#15711 Add big-o extension
  extensions/big-o/.eslintrc.json
  extensions/big-o/.gitignore
  extensions/big-o/.prettierrc
  extensions/big-o/CHANGELOG.md
  extensions/big-o/README.md
  extensions/big-o/assets/big-o-icon.png
  extensions/big-o/metadata/big-o-1.png
  extensions/big-o/package-lock.json
  extensions/big-o/package.json
  extensions/big-o/src/big-o.tsx
  extensions/big-o/tsconfig.json
Labels: new extension

#15722 Update safari extension
  extensions/safari/CHANGELOG.md
  extensions/safari/package.json
  extensions/safari/src/reading-list.tsx
Labels: extension fix / improvement, extension: safari

#15824 Update search-npm extension
  extensions/search-npm/CHANGELOG.md
  extensions/search-npm/package-lock.json
  extensions/search-npm/package.json
  extensions/search-npm/src/components/PackagListItem.tsx
Labels: extension fix / improvement, extension: search-npm

#15838 Update jetbrains extension
  extensions/jetbrains/CHANGELOG.md
  extensions/jetbrains/src/util.ts
Labels: extension fix / improvement, OP is author, extension: jetbrains

#15726 update llama 3.3 versatile
  extensions/groq/CHANGELOG.md
  extensions/groq/package.json
  extensions/groq/src/hook/utils.ts
Labels: extension fix / improvement, extension: groq

#15690 [Raycast Notification] Add support for macOS built-in Notification Center
  extensions/raycast-notification/CHANGELOG.md
  extensions/raycast-notification/README.md
  extensions/raycast-notification/assets/Terminal.icns
  extensions/raycast-notification/assets/notification-center-with-reply.png
  extensions/raycast-notification/assets/notification-center.png
  extensions/raycast-notification/assets/prebuilds/mac.noindex/terminal-notifier.app/Contents/Info.plist
  extensions/raycast-notification/assets/prebuilds/mac.noindex/terminal-notifier.app/Contents/MacOS/terminal-notifier
  extensions/raycast-notification/assets/prebuilds/mac.noindex/terminal-notifier.app/Contents/PkgInfo
  extensions/raycast-notification/assets/prebuilds/mac.noindex/terminal-notifier.app/Contents/Resources/Terminal.icns
  extensions/raycast-notification/assets/prebuilds/mac.noindex/terminal-notifier.app/Contents/Resources/en.lproj/Credits.rtf
  extensions/raycast-notification/assets/prebuilds/mac.noindex/terminal-notifier.app/Contents/Resources/en.lproj/InfoPlist.strings
  extensions/raycast-notification/assets/prebuilds/mac.noindex/terminal-notifier.app/Contents/Resources/en.lproj/MainMenu.nib
  extensions/raycast-notification/assets/prebuilds/mac.noindex/terminal-notifier.app/Contents/_CodeSignature/CodeResources
  extensions/raycast-notification/assets/prebuilds/mac.noindex/terminal-notifier.app/Icon 
  extensions/raycast-notification/assets/scripts/fileicon.sh
  extensions/raycast-notification/package-lock.json
  extensions/raycast-notification/package.json
  extensions/raycast-notification/src/index.ts
Labels: extension fix / improvement, extension: raycast-notification

#15820 update hoarder extension
  extensions/hoarder/CHANGELOG.md
  extensions/hoarder/README.md
  extensions/hoarder/assets/hoarder-icon.png
  extensions/hoarder/assets/logo-icon.png
  extensions/hoarder/assets/screenshot-default.png
  extensions/hoarder/docs/images/raycast-hoarder-configuration.png
  extensions/hoarder/docs/images/raycast-hoarder-intro.png
  extensions/hoarder/metadata/hoarder-1.png
  extensions/hoarder/metadata/hoarder-bookmark-1.png
  extensions/hoarder/metadata/hoarder-bookmark-2.png
  extensions/hoarder/metadata/hoarder-bookmark-3.png
  extensions/hoarder/metadata/hoarder-bookmark-4.png
  extensions/hoarder/metadata/hoarder-bookmark-5.png
  extensions/hoarder/metadata/hoarder-bookmark-6.png
  extensions/hoarder/package-lock.json
  extensions/hoarder/package.json
  extensions/hoarder/src/apis/index.ts
  extensions/hoarder/src/bookmarks.tsx
  extensions/hoarder/src/components/BookmarkDetail.tsx
  extensions/hoarder/src/components/BookmarkEdit.tsx
  extensions/hoarder/src/components/BookmarkItem.tsx
  extensions/hoarder/src/components/BookmarkList.tsx
  extensions/hoarder/src/constants/index.ts
  extensions/hoarder/src/createBookmark.tsx
  extensions/hoarder/src/hooks/useBookmarkFilter.ts
  extensions/hoarder/src/hooks/useConfig.ts
  extensions/hoarder/src/hooks/useGetAllBookmarks.ts
  extensions/hoarder/src/hooks/useGetAllLists.ts
  extensions/hoarder/src/hooks/useGetAllTags.ts
  extensions/hoarder/src/hooks/useGetListsBookmarks.ts
  extensions/hoarder/src/hooks/useGetTagsBookmarks.ts
  extensions/hoarder/src/hooks/useSearchBookmarks.ts
  extensions/hoarder/src/hooks/useTranslation.ts
  extensions/hoarder/src/i18n/index.ts
  extensions/hoarder/src/lists.tsx
  extensions/hoarder/src/search.tsx
  extensions/hoarder/src/tags.tsx
  extensions/hoarder/src/types.ts
  extensions/hoarder/src/types/index.ts
  extensions/hoarder/src/utils/config.ts
  extensions/hoarder/src/utils/screenshot.ts
  extensions/hoarder/src/utils/url.ts
Labels: extension fix / improvement, extension: hoarder

#15902 Update supernotes extension
  extensions/supernotes/CHANGELOG.md
  extensions/supernotes/metadata/supernotes-6.png
  extensions/supernotes/src/api/schema.ts
  extensions/supernotes/src/utils/senders.ts
Labels: extension fix / improvement, OP is author, extension: supernotes

#15894 Update homeassistant extension
  extensions/homeassistant/CHANGELOG.md
  extensions/homeassistant/src/assist.tsx
Labels: extension fix / improvement, OP is contributor, extension: homeassistant

#15904 [GitHub] Use a new icon with indicator for unread state
  extensions/github/CHANGELOG.md
  extensions/github/assets/issue-open-unread.svg
  extensions/github/assets/issue-open.svg
  extensions/github/assets/pull-request-open-unread.svg
  extensions/github/assets/pull-request-open.svg
  extensions/github/package.json
  extensions/github/src/my-issues-menu.tsx
  extensions/github/src/my-pull-requests-menu.tsx
Labels: extension fix / improvement, OP is contributor, extension: github

#15853 Update nextdns extension
  extensions/nextdns/CHANGELOG.md
  extensions/nextdns/package.json
  extensions/nextdns/src/libs/api.ts
Labels: extension fix / improvement, OP is author, extension: nextdns

#15854 Update fetch-youtube-transcript extension
  extensions/fetch-youtube-transcript/CHANGELOG.md
  extensions/fetch-youtube-transcript/README.md
  extensions/fetch-youtube-transcript/package-lock.json
  extensions/fetch-youtube-transcript/package.json
  extensions/fetch-youtube-transcript/src/fetch-youtube-transcript.tsx
Labels: extension fix / improvement, OP is author, extension: fetch-youtube-transcript

#15908 Update raycast-ia-writer extension
  extensions/raycast-ia-writer/CHANGELOG.md
  extensions/raycast-ia-writer/package-lock.json
  extensions/raycast-ia-writer/package.json
  extensions/raycast-ia-writer/src/daily-note.tsx
  extensions/raycast-ia-writer/src/lib/ia-writer.ts
Labels: extension fix / improvement, OP is author, extension: raycast-ia-writer

#15903 Update homeassistant extension
  extensions/homeassistant/CHANGELOG.md
  extensions/homeassistant/src/components/state/utils.ts
  extensions/homeassistant/src/components/update/actions.tsx
  extensions/homeassistant/src/components/update/utils.ts
Labels: extension fix / improvement, OP is contributor, extension: homeassistant

#15655 Add danbooru extension
  extensions/danbooru/.eslintrc.json
  extensions/danbooru/.gitignore
  extensions/danbooru/.prettierrc
  extensions/danbooru/CHANGELOG.md
  extensions/danbooru/README.md
  extensions/danbooru/assets/extension-icon.png
  extensions/danbooru/metadata/danbooru-1.png
  extensions/danbooru/metadata/danbooru-2.png
  extensions/danbooru/metadata/danbooru-3.png
  extensions/danbooru/package-lock.json
  extensions/danbooru/package.json
  extensions/danbooru/src/components/danbooruList.tsx
  extensions/danbooru/src/components/listActions.tsx
  extensions/danbooru/src/components/postDetails.tsx
  extensions/danbooru/src/search-danbooru.tsx
  extensions/danbooru/src/types/types.ts
  extensions/danbooru/tsconfig.json
Labels: new extension

#15845 Update media-converter extension
  extensions/media-converter/CHANGELOG.md
  extensions/media-converter/README.md
  extensions/media-converter/src/components/ConverterForm.tsx
  extensions/media-converter/src/quick-convert.tsx
  extensions/media-converter/src/utils/converter.ts
Labels: extension fix / improvement, OP is author, extension: media-converter

#15876 Update flighty extension
  extensions/flighty/CHANGELOG.md
  extensions/flighty/src/use-flights.ts
Labels: extension fix / improvement, OP is author, extension: flighty

#15872 Update date-format-converter extension
  extensions/datetime-format-converter/CHANGELOG.md
  extensions/datetime-format-converter/package.json
  extensions/datetime-format-converter/src/index.tsx
Labels: extension fix / improvement, extension: datetime-format-converter

#15915 Update unicode-symbols
  extensions/unicode-symbols/CHANGELOG.md
  extensions/unicode-symbols/package-lock.json
  extensions/unicode-symbols/package.json
  extensions/unicode-symbols/src/components/CharacterActionPanel.tsx
  extensions/unicode-symbols/src/lib/preferences.ts
Labels: extension fix / improvement, OP is contributor, extension: unicode-symbols

#15906 Update gitlab extension
  extensions/gitlab/CHANGELOG.md
  extensions/gitlab/package.json
  extensions/gitlab/src/gitlabapi.ts
Labels: extension fix / improvement, extension: gitlab

#15548 feat: add React DevTools
  extensions/react-devtools/.eslintrc.json
  extensions/react-devtools/.gitignore
  extensions/react-devtools/.prettierrc
  extensions/react-devtools/CHANGELOG.md
  extensions/react-devtools/README.md
  extensions/react-devtools/assets/ReactDevTools.png
  extensions/react-devtools/metadata/screenshot-1.png
  extensions/react-devtools/package-lock.json
  extensions/react-devtools/package.json
  extensions/react-devtools/src/react-devtools.ts
  extensions/react-devtools/src/runCommand.ts
  extensions/react-devtools/src/utils/childProcess.ts
  extensions/react-devtools/src/utils/js.ts
  extensions/react-devtools/src/utils/raycast.ts
  extensions/react-devtools/tsconfig.json
Labels: new extension

#15407 Update obsidian-bookmarks extension to allow subdirectories in bookmarks folder
  extensions/obsidian-bookmarks/CHANGELOG.md
  extensions/obsidian-bookmarks/TODO.md
  extensions/obsidian-bookmarks/package-lock.json
  extensions/obsidian-bookmarks/package.json
  extensions/obsidian-bookmarks/src/actions/DetailsActions.tsx
  extensions/obsidian-bookmarks/src/actions/FormActions.tsx
  extensions/obsidian-bookmarks/src/clear-cache.tsx
  extensions/obsidian-bookmarks/src/helpers/clear-cache.tsx
  extensions/obsidian-bookmarks/src/helpers/get-obsidian-files.tsx
  extensions/obsidian-bookmarks/src/helpers/get-obsidian-tags.tsx
  extensions/obsidian-bookmarks/src/helpers/localstorage-files.tsx
  extensions/obsidian-bookmarks/src/helpers/save-to-obsidian.tsx
  extensions/obsidian-bookmarks/src/helpers/url-sanitizer.tsx
  extensions/obsidian-bookmarks/src/helpers/vault-path.tsx
  extensions/obsidian-bookmarks/src/hooks/use-files.tsx
  extensions/obsidian-bookmarks/src/hooks/use-frontmost-link.tsx
  extensions/obsidian-bookmarks/src/hooks/use-link-form.tsx
  extensions/obsidian-bookmarks/src/hooks/use-tags.tsx
  extensions/obsidian-bookmarks/src/types/files.tsx
  extensions/obsidian-bookmarks/src/types/preferences.tsx
  extensions/obsidian-bookmarks/src/views/FileListItem.tsx
  extensions/obsidian-bookmarks/src/views/LinkForm.tsx
  extensions/obsidian-bookmarks/src/views/SearchBookmarks.tsx
Labels: extension fix / improvement, status: stalled, extension: obsidian-bookmarks

#15869 Update raycast-apple-intelligence extension
  extensions/raycast-apple-intelligence/CHANGELOG.md
  extensions/raycast-apple-intelligence/package-lock.json
  extensions/raycast-apple-intelligence/package.json
  extensions/raycast-apple-intelligence/src/api.ts
  extensions/raycast-apple-intelligence/src/compose.ts
  extensions/raycast-apple-intelligence/src/create-image.ts
Labels: extension fix / improvement, OP is author, extension: raycast-apple-intelligence

#15855 feat(search-npm): various fixes and updates
  extensions/search-npm/CHANGELOG.md
  extensions/search-npm/package-lock.json
  extensions/search-npm/package.json
  extensions/search-npm/src/components/PackagListItem.tsx
  extensions/search-npm/src/index.tsx
  extensions/search-npm/src/utils/cleanGitUrl.ts
  extensions/search-npm/src/utils/history-storage.ts
  extensions/search-npm/src/utils/parseRepoUrl.ts
Labels: extension fix / improvement, OP is author, extension: search-npm

#15848 Bug fixes for Figma file search extension
  extensions/figma-files/CHANGELOG.md
  extensions/figma-files/src/api.ts
  extensions/figma-files/src/components/OpenPageSubmenuAction.tsx
Labels: extension fix / improvement, OP is contributor, extension: figma-files

#15847 Add `Sav` (sav.com) extension - View Domains + Change Nameservers
  extensions/sav/.eslintrc.json
  extensions/sav/.gitignore
  extensions/sav/.prettierrc
  extensions/sav/CHANGELOG.md
  extensions/sav/README.md
  extensions/sav/assets/sav.png
  extensions/sav/metadata/sav-1.png
  extensions/sav/metadata/sav-2.png
  extensions/sav/metadata/sav-3.png
  extensions/sav/package-lock.json
  extensions/sav/package.json
  extensions/sav/src/hooks.ts
  extensions/sav/src/my-domains.tsx
  extensions/sav/src/types.ts
  extensions/sav/src/utils.ts
  extensions/sav/tsconfig.json
Labels: new extension

#15614 Add prompt-stash extension
  extensions/prompt-stash/.eslintrc.json
  extensions/prompt-stash/.gitignore
  extensions/prompt-stash/.prettierrc
  extensions/prompt-stash/CHANGELOG.md
  extensions/prompt-stash/README.md
  extensions/prompt-stash/assets/extension-icon.png
  extensions/prompt-stash/metadata/prompt-stash-1.png
  extensions/prompt-stash/metadata/prompt-stash-2.png
  extensions/prompt-stash/metadata/prompt-stash-3.png
  extensions/prompt-stash/metadata/prompt-stash-4.png
  extensions/prompt-stash/metadata/prompt-stash-5.png
  extensions/prompt-stash/package-lock.json
  extensions/prompt-stash/package.json
  extensions/prompt-stash/src/components/CreatePromptForm.tsx
  extensions/prompt-stash/src/components/PromptDetail.tsx
  extensions/prompt-stash/src/config.ts
  extensions/prompt-stash/src/hooks/index.tsx
  extensions/prompt-stash/src/index.tsx
  extensions/prompt-stash/src/types.ts
  extensions/prompt-stash/tsconfig.json
Labels: new extension

#15805 fix: updated select field with preference
  extensions/twenty/CHANGELOG.md
  extensions/twenty/src/components/FieldComponent.tsx
  extensions/twenty/src/components/Select.tsx
Labels: extension fix / improvement, extension: twenty

#15943 [United Nations] Enhance search experience
  extensions/united-nations/CHANGELOG.md
  extensions/united-nations/metadata/united-nations-4.png
  extensions/united-nations/package-lock.json
  extensions/united-nations/package.json
  extensions/united-nations/src/un-news.tsx
  extensions/united-nations/src/un-site-index.tsx
  extensions/united-nations/src/utils.ts
Labels: extension fix / improvement, OP is author, extension: united-nations

#15936 Update how-long-to-beat extension
  extensions/how-long-to-beat/CHANGELOG.md
  extensions/how-long-to-beat/src/helpers.ts
  extensions/how-long-to-beat/src/hltbsearch.ts
  extensions/how-long-to-beat/src/types.ts
Labels: extension fix / improvement, OP is contributor, extension: how-long-to-beat

#15934 Update fetch-youtube-transcript extension
  extensions/fetch-youtube-transcript/CHANGELOG.md
  extensions/fetch-youtube-transcript/package-lock.json
  extensions/fetch-youtube-transcript/package.json
  extensions/fetch-youtube-transcript/src/fetch-youtube-transcript.tsx
Labels: extension fix / improvement, OP is author, extension: fetch-youtube-transcript

#15937 Update wip extension
  extensions/wip/CHANGELOG.md
  extensions/wip/README.md
  extensions/wip/package-lock.json
  extensions/wip/package.json
  extensions/wip/src/oauth/wip.tsx
Labels: extension fix / improvement, OP is author, extension: wip

#15862 Sourcegraph: Smoother search and bug fixes
  extensions/sourcegraph/CHANGELOG.md
  extensions/sourcegraph/CONTRIBUTING.md
  extensions/sourcegraph/README.md
  extensions/sourcegraph/package-lock.json
  extensions/sourcegraph/package.json
  extensions/sourcegraph/src/components/DotComCommand.tsx
  extensions/sourcegraph/src/components/FindNotebooksCommand.tsx
  extensions/sourcegraph/src/components/InstanceCommand.tsx
  extensions/sourcegraph/src/components/ManageBatchChangesCommand.tsx
  extensions/sourcegraph/src/components/SearchCommand.tsx
  extensions/sourcegraph/src/findNotebooksInstance.tsx
  extensions/sourcegraph/src/hooks/search.tsx
  extensions/sourcegraph/src/manageBatchChangesInstance.tsx
  extensions/sourcegraph/src/sourcegraph/gql/apollo.ts
  extensions/sourcegraph/src/sourcegraph/index.ts
  extensions/sourcegraph/src/sourcegraph/stream-search/index.ts
Labels: extension fix / improvement, OP is author, extension: sourcegraph

#15846 Fix bug where currently playing opens Music app
  extensions/music/CHANGELOG.md
  extensions/music/src/util/scripts/current-track.ts
Labels: extension fix / improvement, OP is contributor, extension: music

#15716 Update fotmob extension
  extensions/fotmob/CHANGELOG.md
  extensions/fotmob/package.json
  extensions/fotmob/src/hooks/useTeamDetail.ts
  extensions/fotmob/src/utils/token.ts
Labels: extension fix / improvement, extension: fotmob

#15953 Update wayback-machine extension
  extensions/wayback-machine/CHANGELOG.md
  extensions/wayback-machine/package-lock.json
  extensions/wayback-machine/package.json
  extensions/wayback-machine/src/open.ts
Labels: extension fix / improvement, OP is contributor, extension: wayback-machine

#15870 [Netlify] Paginate Sites + Cache Sites through `useCachedPromise` + Default of 100 Sites shown
  extensions/netlify/CHANGELOG.md
  extensions/netlify/package-lock.json
  extensions/netlify/package.json
  extensions/netlify/src/invite-team-members.tsx
  extensions/netlify/src/search-sites.tsx
  extensions/netlify/src/utils/api.ts
Labels: extension fix / improvement, OP is contributor, extension: netlify

#15674 Update obsidian extension
  extensions/obsidian/CHANGELOG.md
  extensions/obsidian/package.json
  extensions/obsidian/src/appendTaskCommand.tsx
  extensions/obsidian/src/utils/preferences.tsx
Labels: extension fix / improvement, status: stalled, extension: obsidian

#15964 fix(hidemyemail): Supports Chinese Apple ID accounts
  extensions/hidemyemail/CHANGELOG.md
  extensions/hidemyemail/README.md
  extensions/hidemyemail/package.json
  extensions/hidemyemail/src/api/connect.ts
  extensions/hidemyemail/src/components/Login.tsx
Labels: extension fix / improvement, OP is contributor, extension: hidemyemail

#15955 raindrop-io: add ability to search title only
  extensions/raindrop-io/CHANGELOG.md
  extensions/raindrop-io/package.json
  extensions/raindrop-io/src/components/CreateForm.tsx
  extensions/raindrop-io/src/hooks/useBookmarks.ts
  extensions/raindrop-io/src/hooks/useCollections.ts
  extensions/raindrop-io/src/hooks/useTags.ts
  extensions/raindrop-io/src/hooks/useUser.ts
  extensions/raindrop-io/src/latest_bookmarks.tsx
  extensions/raindrop-io/src/search.tsx
  extensions/raindrop-io/src/types.ts
Labels: extension fix / improvement, OP is author, OP is contributor, extension: raindrop-io

#15745 Update jira-time-tracking extension
  extensions/jira-time-tracking/CHANGELOG.md
  extensions/jira-time-tracking/README.md
  extensions/jira-time-tracking/package.json
  extensions/jira-time-tracking/src/controllers.ts
  extensions/jira-time-tracking/src/index.tsx
  extensions/jira-time-tracking/src/types.ts
  extensions/jira-time-tracking/src/validators.ts
Labels: extension fix / improvement, OP is contributor, extension: jira-time-tracking

#15747 Add oklch-color-converter extension
  extensions/oklch-color-converter/.eslintrc.js
  extensions/oklch-color-converter/.gitignore
  extensions/oklch-color-converter/CHANGELOG.md
  extensions/oklch-color-converter/LICENSE
  extensions/oklch-color-converter/README.md
  extensions/oklch-color-converter/assets/icon.png
  extensions/oklch-color-converter/metadata/screenshot-1.png
  extensions/oklch-color-converter/metadata/screenshot-2.png
  extensions/oklch-color-converter/metadata/screenshot-3.png
  extensions/oklch-color-converter/package-lock.json
  extensions/oklch-color-converter/package.json
  extensions/oklch-color-converter/reference-calculations.md
  extensions/oklch-color-converter/src/convert-color.tsx
  extensions/oklch-color-converter/src/lib/colors.ts
  extensions/oklch-color-converter/src/lib/culori.d.ts
  extensions/oklch-color-converter/src/lib/types.ts
  extensions/oklch-color-converter/src/lib/utils.ts
  extensions/oklch-color-converter/tsconfig.json
Labels: new extension

#15956 Sourcegraph: Bug fixes
  extensions/sourcegraph/CHANGELOG.md
  extensions/sourcegraph/package.json
  extensions/sourcegraph/src/hooks/search.tsx
  extensions/sourcegraph/src/sourcegraph/stream-search/index.ts
Labels: extension fix / improvement, OP is author, extension: sourcegraph

#15959 Update fotmob extension
  extensions/fotmob/CHANGELOG.md
  extensions/fotmob/src/hooks/useMatchDay.ts
  extensions/fotmob/src/hooks/useTeamDetail.ts
Labels: extension fix / improvement, OP is contributor, extension: fotmob

#15877 Update zerion extension
  extensions/zerion/CHANGELOG.md
  extensions/zerion/README.md
  extensions/zerion/assets/all.svg
  extensions/zerion/assets/icon.png
  extensions/zerion/assets/zerion_icon.png
  extensions/zerion/assets/zerion_icon_bw_dark.svg
  extensions/zerion/assets/zerion_icon_bw_light.svg
  extensions/zerion/media/screenshot.png
  extensions/zerion/metadata/Raycast 2024-01-19 at 00.15.14.png
  extensions/zerion/metadata/Raycast 2024-01-19 at 00.15.49.png
  extensions/zerion/metadata/Raycast 2024-01-19 at 00.16.01.png
  extensions/zerion/metadata/Raycast 2024-01-19 at 00.16.45.png
  extensions/zerion/metadata/zerion-1.png
  extensions/zerion/metadata/zerion-2.png
  extensions/zerion/metadata/zerion-3.png
  extensions/zerion/package-lock.json
  extensions/zerion/package.json
  extensions/zerion/src/address-info.tsx
  extensions/zerion/src/collection.tsx
  extensions/zerion/src/components/AddressLine.tsx
  extensions/zerion/src/components/AddressView.tsx
  extensions/zerion/src/components/NetworkSelect.tsx
  extensions/zerion/src/find-token-or-address.tsx
  extensions/zerion/src/menu-bar-wallet.tsx
  extensions/zerion/src/my-wallets.tsx
  extensions/zerion/src/overview.tsx
  extensions/zerion/src/shared/NormalizedAddress.ts
  extensions/zerion/src/shared/api.ts
  extensions/zerion/src/shared/constants.ts
  extensions/zerion/src/shared/types.ts
  extensions/zerion/src/shared/typography.ts
  extensions/zerion/src/shared/useSearch.ts
  extensions/zerion/src/shared/useWalletMetadata.ts
  extensions/zerion/src/shared/useWalletPortfolio.ts
  extensions/zerion/src/shared/useWalletPositions.ts
  extensions/zerion/src/shared/useWalletRewardsStats.ts
  extensions/zerion/src/shared/utils.ts
Labels: extension fix / improvement, extension: zerion

#15757 [Claude] Fix: models not displaying correctly on the Ask page
  extensions/claude/CHANGELOG.md
  extensions/claude/package.json
  extensions/claude/src/ask.tsx
  extensions/claude/src/hooks/useModel.tsx
  extensions/claude/src/views/model/dropdown.tsx
Labels: extension fix / improvement, extension: claude

#15947 Add `OCI` (Oracle Cloud) extension - View Instances + View Instance VNIC Attachments
  extensions/oci/.eslintrc.json
  extensions/oci/.gitignore
  extensions/oci/.prettierrc
  extensions/oci/CHANGELOG.md
  extensions/oci/README.md
  extensions/oci/assets/red-cloud-white-bg-blue-b.png
  extensions/oci/metadata/oci-1.png
  extensions/oci/metadata/oci-2.png
  extensions/oci/metadata/oci-3.png
  extensions/oci/metadata/oci-4.png
  extensions/oci/package-lock.json
  extensions/oci/package.json
  extensions/oci/src/core.tsx
  extensions/oci/src/utils.ts
  extensions/oci/tsconfig.json
Labels: new extension

#15961 fix(android): Suppress stderr toast messages on emulator launch
  extensions/android/CHANGELOG.md
  extensions/android/src/list-emulators.tsx
Labels: extension fix / improvement, extension: android

#15966 Update hidemyemail extension
  extensions/hidemyemail/CHANGELOG.md
  extensions/hidemyemail/README.md
  extensions/hidemyemail/package.json
  extensions/hidemyemail/src/api/connect.ts
Labels: extension fix / improvement, OP is author, extension: hidemyemail

#15796 Add polar extension
  extensions/polar/.gitignore
  extensions/polar/CHANGELOG.md
  extensions/polar/README.md
  extensions/polar/assets/command-icon.png
  extensions/polar/eslint.config.mjs
  extensions/polar/metadata/polar-1.png
  extensions/polar/metadata/polar-2.png
  extensions/polar/package-lock.json
  extensions/polar/package.json
  extensions/polar/src/hooks/benefits.ts
  extensions/polar/src/hooks/orders.ts
  extensions/polar/src/hooks/organizations.ts
  extensions/polar/src/hooks/products.ts
  extensions/polar/src/hooks/subscriptions.ts
  extensions/polar/src/oauth.ts
  extensions/polar/src/orders.tsx
  extensions/polar/src/polar.ts
  extensions/polar/src/providers.tsx
  extensions/polar/src/subscriptions.tsx
  extensions/polar/src/utils.ts
  extensions/polar/tsconfig.json
Labels: new extension

#15798 Add rails-routes extension
  extensions/rails-routes/.eslintrc.json
  extensions/rails-routes/.gitignore
  extensions/rails-routes/.prettierrc
  extensions/rails-routes/CHANGELOG.md
  extensions/rails-routes/README.md
  extensions/rails-routes/assets/extension-icon.png
  extensions/rails-routes/metadata/rails-routes-1.png
  extensions/rails-routes/metadata/rails-routes-2.png
  extensions/rails-routes/package-lock.json
  extensions/rails-routes/package.json
  extensions/rails-routes/src/components/route-item.tsx
  extensions/rails-routes/src/components/route-section.tsx
  extensions/rails-routes/src/helper.ts
  extensions/rails-routes/src/hooks.ts
  extensions/rails-routes/src/list-routes.tsx
  extensions/rails-routes/src/types.ts
  extensions/rails-routes/tsconfig.json
Labels: new extension

#15971 Update polar extension
  extensions/polar/CHANGELOG.md
  extensions/polar/package-lock.json
  extensions/polar/package.json
  extensions/polar/src/orders.tsx
Labels: extension fix / improvement, OP is author, extension: polar

#15969 Update amazon-search extension
  extensions/amazon-search/CHANGELOG.md
  extensions/amazon-search/package-lock.json
  extensions/amazon-search/package.json
  extensions/amazon-search/src/components/ListEmptyView.tsx
  extensions/amazon-search/src/components/SuggestionListItem.tsx
  extensions/amazon-search/src/index.tsx
Labels: extension fix / improvement, OP is author, extension: amazon-search

#15972 Update summarize-youtube-video-with-ai extension
  extensions/summarize-youtube-video-with-ai/.eslintrc.json
  extensions/summarize-youtube-video-with-ai/CHANGELOG.md
  extensions/summarize-youtube-video-with-ai/README.md
  extensions/summarize-youtube-video-with-ai/assets/extension_icon.png
  extensions/summarize-youtube-video-with-ai/package-lock.json
  extensions/summarize-youtube-video-with-ai/package.json
  extensions/summarize-youtube-video-with-ai/src/const/max_chars.ts
  extensions/summarize-youtube-video-with-ai/src/const/toast_messages.ts
  extensions/summarize-youtube-video-with-ai/src/hooks/anthropic/useAnthropicFollowUpQuestion.ts
  extensions/summarize-youtube-video-with-ai/src/hooks/anthropic/useAnthropicSummary.ts
  extensions/summarize-youtube-video-with-ai/src/hooks/openai/useOpenAIFollowUpQuestion.ts
  extensions/summarize-youtube-video-with-ai/src/hooks/openai/useOpenAISummary.ts
  extensions/summarize-youtube-video-with-ai/src/hooks/raycast/useRaycastAIFollowUpQuestion.ts
  extensions/summarize-youtube-video-with-ai/src/hooks/raycast/useRaycastAISummary.ts
  extensions/summarize-youtube-video-with-ai/src/hooks/useChatGPTSummary.ts
  extensions/summarize-youtube-video-with-ai/src/hooks/useFollowUpQuestion.ts
  extensions/summarize-youtube-video-with-ai/src/hooks/useGetSummary.ts
  extensions/summarize-youtube-video-with-ai/src/hooks/useRaycastAISummary.ts
  extensions/summarize-youtube-video-with-ai/src/summarizeVideo.tsx
  extensions/summarize-youtube-video-with-ai/src/utils/getAiInstructionSnippets.ts
  extensions/summarize-youtube-video-with-ai/src/utils/getVideoData.ts
  extensions/summarize-youtube-video-with-ai/src/utils/getVideoTranscript.ts
Labels: extension fix / improvement, OP is author, extension: summarize-youtube-video-with-ai

#15873 Add Naver Whale browser support for browser-bookmarks.
  extensions/browser-bookmarks/CHANGELOG.md
  extensions/browser-bookmarks/README.md
  extensions/browser-bookmarks/assets/whale.png
  extensions/browser-bookmarks/package.json
  extensions/browser-bookmarks/src/hooks/useAvailableBrowsers.ts
  extensions/browser-bookmarks/src/hooks/useWhaleBookmarks.ts
  extensions/browser-bookmarks/src/index.tsx
Labels: extension fix / improvement, extension: browser-bookmarks

#15878 Add control-viscosity extension
  extensions/control-viscosity/.eslintrc.json
  extensions/control-viscosity/.gitignore
  extensions/control-viscosity/.prettierrc
  extensions/control-viscosity/CHANGELOG.md
  extensions/control-viscosity/README.md
  extensions/control-viscosity/assets/extension-icon.png
  extensions/control-viscosity/metadata/control-viscosity-screenshot.png
  extensions/control-viscosity/package-lock.json
  extensions/control-viscosity/package.json
  extensions/control-viscosity/src/connect-all-connections.ts
  extensions/control-viscosity/src/connect-to-the-first-connection.ts
  extensions/control-viscosity/src/disconnect-all-connections.ts
  extensions/control-viscosity/tsconfig.json
Labels: new extension

#15883 Add IPCheck Extension
  extensions/ipcheck-ing/.eslintrc.json
  extensions/ipcheck-ing/.gitignore
  extensions/ipcheck-ing/.prettierrc
  extensions/ipcheck-ing/CHANGELOG.md
  extensions/ipcheck-ing/LICENSE
  extensions/ipcheck-ing/README.md
  extensions/ipcheck-ing/assets/ipchecking.png
  extensions/ipcheck-ing/metadata/screenshot.png
  extensions/ipcheck-ing/package-lock.json
  extensions/ipcheck-ing/package.json
  extensions/ipcheck-ing/src/getExternalIP.ts
  extensions/ipcheck-ing/src/getIPDetails.ts
  extensions/ipcheck-ing/src/getLocalIPs.ts
  extensions/ipcheck-ing/src/main.tsx
  extensions/ipcheck-ing/tsconfig.json
Labels: new extension

#15900 Rename Bookmarks Dropdown Title in Safari Extension
  extensions/safari/CHANGELOG.md
  extensions/safari/src/components/BookmarksDropdown.tsx
Labels: extension fix / improvement, extension: safari

#15960 fix(android): Remove info item from emulators list
  extensions/android/CHANGELOG.md
  extensions/android/src/util/emulatorUtil.ts
Labels: extension fix / improvement, extension: android
