Repository raycast/extensions, pull requests merged in 2024-01, with the labels that each got.

#9936 Update mastodon extension
  extensions/mastodon/CHANGELOG.md
  extensions/mastodon/package-lock.json
  extensions/mastodon/package.json
  extensions/mastodon/pnpm-lock.yaml
  extensions/mastodon/src/hooks/useMe.ts
  extensions/mastodon/src/hooks/usePostStatus.ts
  extensions/mastodon/src/post-simple-status.tsx
  extensions/mastodon/src/utils/api.ts
  extensions/mastodon/src/utils/helpers.ts
  extensions/mastodon/src/utils/oauth.ts
Labels: extension fix / improvement, OP is author, extension: mastodon

#9951 Update tabler extension
  extensions/tabler/CHANGELOG.md
  extensions/tabler/package.json
  extensions/tabler/src/index.tsx
Labels: extension fix / improvement, OP is author, extension: tabler

#9952 Update exif extension
  extensions/exif/.vscode/settings.json
  extensions/exif/CHANGELOG.md
  extensions/exif/package-lock.json
  extensions/exif/package.json
  extensions/exif/src/show-exif-data-for-image.tsx
Labels: extension fix / improvement, OP is author, extension: exif

#9948 [ChatGPT] bugfix for display chatgpt answer
  extensions/chatgpt/CHANGELOG.md
  extensions/chatgpt/src/hooks/useChat.tsx
  extensions/chatgpt/src/views/answer-detail.tsx
Labels: extension fix / improvement, extension: chatgpt

#9938 [PromptLab] Adjust menu bar icon, update default model, & update dependencies
  extensions/promptlab/CHANGELOG.md
  extensions/promptlab/assets/black-beaker-icon.svg
  extensions/promptlab/assets/white-beaker-icon.svg
  extensions/promptlab/package-lock.json
  extensions/promptlab/package.json
  extensions/promptlab/src/components/Chats/ChatSettingsForm.tsx
  extensions/promptlab/src/components/Chats/CommandChatView.tsx
  extensions/promptlab/src/components/Chats/actions/ChatActionPanel.tsx
  extensions/promptlab/src/components/Commands/CommandForm.tsx
  extensions/promptlab/src/components/Commands/CommandListDetail.tsx
  extensions/promptlab/src/components/Commands/CommandResponse.tsx
  extensions/promptlab/src/components/Commands/actions/CommandControlActions.tsx
  extensions/promptlab/src/components/Commands/actions/InstallCommandAction.tsx
  extensions/promptlab/src/components/Commands/actions/RunCommandAction.tsx
  extensions/promptlab/src/components/Models/ModelForm.tsx
  extensions/promptlab/src/components/Models/actions/ManageModelsActionsPanel.tsx
  extensions/promptlab/src/data/default-models.ts
  extensions/promptlab/src/hooks/useChats.ts
  extensions/promptlab/src/hooks/useFiles.ts
  extensions/promptlab/src/hooks/useModel.ts
  extensions/promptlab/src/lib/placeholders/custom-placeholders/commands.ts
  extensions/promptlab/src/lib/placeholders/custom-placeholders/contents.ts
  extensions/promptlab/src/lib/placeholders/custom-placeholders/directives/prompt.ts
  extensions/promptlab/src/lib/placeholders/custom-placeholders/imageAnimals.ts
  extensions/promptlab/src/lib/placeholders/custom-placeholders/imageBarcodes.ts
  extensions/promptlab/src/lib/placeholders/custom-placeholders/imageFaces.ts
  extensions/promptlab/src/lib/placeholders/custom-placeholders/imageHorizon.ts
  extensions/promptlab/src/lib/placeholders/custom-placeholders/imagePOI.ts
  extensions/promptlab/src/lib/placeholders/custom-placeholders/imageRectangles.ts
  extensions/promptlab/src/lib/placeholders/custom-placeholders/imageSubjects.ts
  extensions/promptlab/src/lib/placeholders/custom-placeholders/imageText.ts
  extensions/promptlab/src/lib/placeholders/custom-placeholders/input.ts
  extensions/promptlab/src/lib/placeholders/custom-placeholders/pdfOCRText.ts
  extensions/promptlab/src/lib/placeholders/custom-placeholders/pdfRawText.ts
  extensions/promptlab/src/lib/placeholders/custom-placeholders/previousCommand.ts
  extensions/promptlab/src/lib/placeholders/custom-placeholders/previousPrompt.ts
  extensions/promptlab/src/lib/placeholders/custom-placeholders/previousResponse.ts
  extensions/promptlab/src/lib/placeholders/custom-placeholders/screenContent.ts
  extensions/promptlab/src/lib/placeholders/custom-placeholders/windowContent.ts
  extensions/promptlab/src/lib/placeholders/index.ts
  extensions/promptlab/src/lib/placeholders/utils.ts
  extensions/promptlab/src/manage-models.tsx
  extensions/promptlab/src/menubar-item.tsx
  extensions/promptlab/src/search-commands.tsx
  extensions/promptlab/src/utils/action-utils.ts
  extensions/promptlab/src/utils/command-utils.ts
  extensions/promptlab/src/utils/context-utils.ts
  extensions/promptlab/src/utils/dev-utils.ts
  extensions/promptlab/src/utils/file-utils.ts
  extensions/promptlab/src/utils/placeholders.ts
  extensions/promptlab/src/utils/runModel.ts
  extensions/promptlab/src/utils/scripts.ts
  extensions/promptlab/src/utils/storage-utils.ts
  extensions/promptlab/src/utils/types.ts
  extensions/promptlab/tsconfig.json
Labels: extension fix / improvement, OP is author, extension: promptlab

#9859 Update schoology extension
  extensions/schoology/.gitignore
  extensions/schoology/CHANGELOG.md
  extensions/schoology/package-lock.json
  extensions/schoology/package.json
  extensions/schoology/src/showGrades.jsx
Labels: extension fix / improvement, OP is author, extension: schoology

#9957 Update ip-tools extension
  extensions/ip-tools/CHANGELOG.md
  extensions/ip-tools/package.json
Labels: extension fix / improvement, OP is author, extension: ip-tools

#9958 Update raycast-ollama extension
  extensions/raycast-ollama/CHANGELOG.md
  extensions/raycast-ollama/src/api/ollama.ts
  extensions/raycast-ollama/src/api/ui/ModelView.tsx
  extensions/raycast-ollama/src/api/ui/SetModelView.tsx
Labels: extension fix / improvement, OP is author, extension: raycast-ollama

#9822 [Installed Extensions] Add action to open the manifest in the default app
  extensions/installed-extensions/CHANGELOG.md
  extensions/installed-extensions/package-lock.json
  extensions/installed-extensions/package.json
  extensions/installed-extensions/src/index.tsx
Labels: new extension

#9778 Fix meta tag `name` and `property` issue in Open Graph extension
  extensions/open-graph/CHANGELOG.md
  extensions/open-graph/package.json
  extensions/open-graph/src/util.ts
Labels: extension fix / improvement, extension: open-graph

#9844 [Bible] Add search via selected text
  extensions/bible/.eslintrc.json
  extensions/bible/.gitignore
  extensions/bible/CHANGELOG.md
  extensions/bible/package-lock.json
  extensions/bible/package.json
  extensions/bible/src/bibleSearch.tsx
  extensions/bible/tsconfig.json
Labels: extension fix / improvement, OP is author, extension: bible

#9820 [Simple Youdao Translation] Support extension arg and other updates
  extensions/simple-youdao/CHANGELOG.md
  extensions/simple-youdao/README.md
  extensions/simple-youdao/media/1046589d11ea90eb22322910418db5616a7a4ea7.png
  extensions/simple-youdao/media/dea3f1e2f3444d664b668a910b37503bb59458bc.png
  extensions/simple-youdao/media/simple-youdao-0.png
  extensions/simple-youdao/media/simple-youdao-1.png
  extensions/simple-youdao/media/simple-youdao-2.png
  extensions/simple-youdao/metadata/metadata01.png
  extensions/simple-youdao/metadata/metadata02.png
  extensions/simple-youdao/package-lock.json
  extensions/simple-youdao/package.json
  extensions/simple-youdao/src/index.tsx
  extensions/simple-youdao/tsconfig.json
Labels: extension fix / improvement, OP is author, extension: simple-youdao

#9582 feat(link-clean): add youtube rule
  extensions/link-cleaner/CHANGELOG.md
  extensions/link-cleaner/src/rules.ts
Labels: extension fix / improvement, extension: link-cleaner

#9737 Update mute-microphone extension
  extensions/mute-microphone/CHANGELOG.md
  extensions/mute-microphone/package-lock.json
  extensions/mute-microphone/package.json
  extensions/mute-microphone/script/Package.swift
  extensions/mute-microphone/script/Sources/main.swift
  extensions/mute-microphone/src/mute-menu-bar.tsx
  extensions/mute-microphone/src/shared/constants.ts
  extensions/mute-microphone/src/toggle-mute.tsx
  extensions/mute-microphone/src/utils.ts
Labels: extension fix / improvement, OP is contributor, extension: mute-microphone

#9711 Update tower extension
  extensions/tower/CHANGELOG.md
  extensions/tower/assets/icon-warp.png
  extensions/tower/package.json
  extensions/tower/src/components/bookmark-list-item.tsx
Labels: extension fix / improvement, extension: tower

#9684 Adding BambooHR extension
  extensions/bamboohr/.eslintrc.json
  extensions/bamboohr/.gitignore
  extensions/bamboohr/.prettierrc
  extensions/bamboohr/CHANGELOG.md
  extensions/bamboohr/README.md
  extensions/bamboohr/assets/command-icon.png
  extensions/bamboohr/metadata/bamboohr-1.png
  extensions/bamboohr/metadata/bamboohr-2.png
  extensions/bamboohr/metadata/bamboohr-3.png
  extensions/bamboohr/metadata/bamboohr-4.png
  extensions/bamboohr/metadata/bamboohr-5.png
  extensions/bamboohr/metadata/bamboohr-6.png
  extensions/bamboohr/package-lock.json
  extensions/bamboohr/package.json
  extensions/bamboohr/src/employee.tsx
  extensions/bamboohr/src/index.tsx
  extensions/bamboohr/src/outToday.tsx
  extensions/bamboohr/src/ptoCalculator.tsx
  extensions/bamboohr/src/upcomingPto.tsx
  extensions/bamboohr/src/utils/bambooData.ts
  extensions/bamboohr/src/utils/date.ts
  extensions/bamboohr/src/utils/types.ts
  extensions/bamboohr/tsconfig.json
Labels: new extension, extension fix / improvement, OP is contributor, extension: rescuetime-focus-session-trigger

#9895 Add popicons extension
  extensions/popicons/.eslintrc.json
  extensions/popicons/.gitignore
  extensions/popicons/.prettierrc
  extensions/popicons/CHANGELOG.md
  extensions/popicons/README.md
  extensions/popicons/assets/command-icon.png
  extensions/popicons/assets/popicon-logo-dark.svg
  extensions/popicons/assets/popicon-logo-light.svg
  extensions/popicons/assets/popicons.json
  extensions/popicons/command-icon.sketch
  extensions/popicons/metadata/popicons-1.png
  extensions/popicons/metadata/popicons-2.png
  extensions/popicons/metadata/popicons-3.png
  extensions/popicons/metadata/popicons-4.png
  extensions/popicons/miscellaneous/popicon-logo.sketch
  extensions/popicons/package-lock.json
  extensions/popicons/package.json
  extensions/popicons/src/browse-popicons.tsx
  extensions/popicons/src/components/popicon-grid/popicon-grid-context.ts
  extensions/popicons/src/components/popicon-grid/popicon-grid-item.tsx
  extensions/popicons/src/components/popicon-grid/popicon-grid-promo-actions.tsx
  extensions/popicons/src/components/popicon-grid/popicon-grid-section.tsx
  extensions/popicons/src/components/popicon-grid/popicon-grid.tsx
  extensions/popicons/src/constants/toasts.ts
  extensions/popicons/src/enums/fetch-popicons-error-reason.ts
  extensions/popicons/src/enums/local-popicons-error-reason.ts
  extensions/popicons/src/enums/popicon-logo.ts
  extensions/popicons/src/enums/popicon-variant.ts
  extensions/popicons/src/errors/fetch-popicons-error.ts
  extensions/popicons/src/errors/local-popicons-error.ts
  extensions/popicons/src/helpers/change-color.ts
  extensions/popicons/src/helpers/get-api-error-issue-url.ts
  extensions/popicons/src/helpers/get-column-amount.ts
  extensions/popicons/src/helpers/get-new-issue-url.ts
  extensions/popicons/src/helpers/get-popicon-categories.ts
  extensions/popicons/src/helpers/get-svg.ts
  extensions/popicons/src/helpers/get-variant-name.ts
  extensions/popicons/src/helpers/is-popicons-api-error.ts
  extensions/popicons/src/helpers/is-user-is-likely-offline-error.ts
  extensions/popicons/src/helpers/kebab-case-to-title-case.ts
  extensions/popicons/src/helpers/prettify-svg.ts
  extensions/popicons/src/helpers/sentence-case-to-title-case.ts
  extensions/popicons/src/helpers/transform-attributes.ts
  extensions/popicons/src/hooks/use-fetch-popicons.ts
  extensions/popicons/src/hooks/use-local-popicons.ts
  extensions/popicons/src/hooks/use-new-popicons.ts
  extensions/popicons/src/hooks/use-popicon-variant.ts
  extensions/popicons/src/hooks/use-popicons.ts
  extensions/popicons/src/schemas/popicon.ts
  extensions/popicons/src/types/reset.d.ts
  extensions/popicons/src/types/svg-to-jsx.d.ts
  extensions/popicons/src/types/use-fetch-options.ts
  extensions/popicons/src/utilities/attempt.ts
  extensions/popicons/src/utilities/exhaustive.ts
  extensions/popicons/src/utilities/omit.ts
  extensions/popicons/src/utilities/raise.ts
  extensions/popicons/src/utilities/types/brand.ts
  extensions/popicons/src/utilities/types/prettify.ts
  extensions/popicons/tsconfig.json
Labels: new extension

#9451 Add 'SolusVM 1 Client' extension
  extensions/solusvm-1-client/.eslintrc.json
  extensions/solusvm-1-client/.gitignore
  extensions/solusvm-1-client/.prettierrc
  extensions/solusvm-1-client/CHANGELOG.md
  extensions/solusvm-1-client/README.md
  extensions/solusvm-1-client/assets/solusvm-1-client.png
  extensions/solusvm-1-client/metadata/solusvm-1-client-1-get-status.png
  extensions/solusvm-1-client/metadata/solusvm-1-client-2- get-information.png
  extensions/solusvm-1-client/metadata/solusvm-1-client-3-rebooted.png
  extensions/solusvm-1-client/metadata/solusvm-1-client-4-confirm-before-action.png
  extensions/solusvm-1-client/package-lock.json
  extensions/solusvm-1-client/package.json
  extensions/solusvm-1-client/src/api.ts
  extensions/solusvm-1-client/src/boot-virtual-server.tsx
  extensions/solusvm-1-client/src/components/ErrorComponent.tsx
  extensions/solusvm-1-client/src/components/MetadataDetailComponent.tsx
  extensions/solusvm-1-client/src/constants.ts
  extensions/solusvm-1-client/src/get-virtual-server-information.tsx
  extensions/solusvm-1-client/src/get-virtual-server-status.tsx
  extensions/solusvm-1-client/src/reboot-virtual-server.tsx
  extensions/solusvm-1-client/src/shutdown-virtual-server.tsx
  extensions/solusvm-1-client/src/types.ts
  extensions/solusvm-1-client/tsconfig.json
Labels: new extension

#9352 Update reflect extension
  extensions/reflect/.gitignore
  extensions/reflect/CHANGELOG.md
  extensions/reflect/metadata/reflect-1.png
  extensions/reflect/package.json
  extensions/reflect/src/append.tsx
  extensions/reflect/src/quickAppend.ts
Labels: extension fix / improvement, extension: reflect

#9540 Update rapidcap extension
  extensions/rapidcap/CHANGELOG.md
  extensions/rapidcap/package.json
  extensions/rapidcap/src/create-card.tsx
  extensions/rapidcap/src/delete-card.tsx
  extensions/rapidcap/src/view-all-cards.tsx
Labels: extension fix / improvement, extension: rapidcap

#9406 Add clipmenu extension
  extensions/clipmenu/.eslintrc.json
  extensions/clipmenu/.gitignore
  extensions/clipmenu/.prettierrc
  extensions/clipmenu/CHANGELOG.md
  extensions/clipmenu/README.md
  extensions/clipmenu/assets/command-icon.png
  extensions/clipmenu/package-lock.json
  extensions/clipmenu/package.json
  extensions/clipmenu/src/index.tsx
  extensions/clipmenu/src/utils.ts
  extensions/clipmenu/tsconfig.json
Labels: new extension

#9565 [Notion] Allow pages to be opened in custom browsers fix
  extensions/notion/CHANGELOG.md
  extensions/notion/package-lock.json
  extensions/notion/package.json
  extensions/notion/src/components/PageListItem.tsx
  extensions/notion/src/components/View.tsx
  extensions/notion/src/components/actions/ActionCreateQuicklink.tsx
  extensions/notion/src/components/index.tsx
  extensions/notion/src/create-database-page.tsx
  extensions/notion/src/quick-capture.tsx
  extensions/notion/src/search-page.tsx
  extensions/notion/src/utils/openPage.ts
Labels: extension fix / improvement, OP is contributor, extension: notion

#9969 Add toggle timer command and handle rate-limiting in Harvest extension
  extensions/harvest/CHANGELOG.md
  extensions/harvest/README.md
  extensions/harvest/assets/toggle.png
  extensions/harvest/package.json
  extensions/harvest/src/menu-bar.tsx
  extensions/harvest/src/services/harvest.ts
  extensions/harvest/src/stopTimer.tsx
  extensions/harvest/src/toggleTimer.tsx
Labels: extension fix / improvement, OP is author, extension: harvest

#9917 fix(tailscale): fix account switcher command
  extensions/tailscale/CHANGELOG.md
  extensions/tailscale/src/account-switcher.tsx
Labels: extension fix / improvement, extension: tailscale

#9764 Update compressx extension
  extensions/compressx/CHANGELOG.md
  extensions/compressx/README.md
  extensions/compressx/assets/compressx-icon.png
  extensions/compressx/metadata/screenshot-1.png
  extensions/compressx/package.json
Labels: extension fix / improvement, OP is author, extension: compressx

#9495 Update tana extension: fix create node compatibility issues
  extensions/tana/CHANGELOG.md
  extensions/tana/README.md
  extensions/tana/media/change-extension-configuration.png
  extensions/tana/metadata/tana-1.png
  extensions/tana/package-lock.json
  extensions/tana/package.json
  extensions/tana/src/api/TanaAPIClient.ts
  extensions/tana/src/api/createNode.ts
  extensions/tana/src/api/helpers.ts
  extensions/tana/src/quickAddCommand.tsx
  extensions/tana/src/types/constants.ts
  extensions/tana/src/types/types.ts
Labels: extension fix / improvement, extension: tana

#9665 Add feedbin extension
  extensions/feedbin/.eslintrc.json
  extensions/feedbin/.gitignore
  extensions/feedbin/.prettierrc
  extensions/feedbin/CHANGELOG.md
  extensions/feedbin/README.md
  extensions/feedbin/assets/feedbin.png
  extensions/feedbin/metadata/feedbin-1.png
  extensions/feedbin/metadata/feedbin-2.png
  extensions/feedbin/metadata/feedbin-3.png
  extensions/feedbin/package-lock.json
  extensions/feedbin/package.json
  extensions/feedbin/src/Subscriptions.tsx
  extensions/feedbin/src/add-subscription.tsx
  extensions/feedbin/src/all-feeds.tsx
  extensions/feedbin/src/components/ActionAiSummary.tsx
  extensions/feedbin/src/components/ActionCopyUrlToClipboard.tsx
  extensions/feedbin/src/components/ActionDebugJson.tsx
  extensions/feedbin/src/components/ActionMarkAsRead.tsx
  extensions/feedbin/src/components/ActionOpenEntryAndMarkAsRead.tsx
  extensions/feedbin/src/components/ActionOpenInBrowser.tsx
  extensions/feedbin/src/components/ActionShowEntry.tsx
  extensions/feedbin/src/components/ActionStarToggle.tsx
  extensions/feedbin/src/components/ActionUnsubscribe.tsx
  extensions/feedbin/src/components/ActionViewSubscription.tsx
  extensions/feedbin/src/components/EntryList.tsx
  extensions/feedbin/src/read-later.tsx
  extensions/feedbin/src/reset.d.ts
  extensions/feedbin/src/starred-entries.tsx
  extensions/feedbin/src/unread-menu-bar.tsx
  extensions/feedbin/src/utils/FeedbinApiContext.tsx
  extensions/feedbin/src/utils/api.ts
  extensions/feedbin/src/utils/closeAndShowToast.ts
  extensions/feedbin/src/utils/fetchWithETag.ts
  extensions/feedbin/src/utils/getHost.ts
  extensions/feedbin/src/utils/getUrl.ts
  extensions/feedbin/src/utils/isPagesSubscription.ts
  extensions/feedbin/src/utils/isValidURL.ts
  extensions/feedbin/src/utils/parseLinksHeader.ts
  extensions/feedbin/src/utils/refreshMenuBar.ts
  extensions/feedbin/src/utils/toURLSearchParams.ts
  extensions/feedbin/src/utils/useFetchEtag.tsx
  extensions/feedbin/src/utils/useIcon.tsx
  extensions/feedbin/tsconfig.json
Labels: new extension

#9694 [Remove Paywall] Merge two commands in on simplified command
  extensions/remove-paywall/CHANGELOG.md
  extensions/remove-paywall/README.md
  extensions/remove-paywall/metadata/remove-paywall-using.png
  extensions/remove-paywall/metadata/remove-paywall.png
  extensions/remove-paywall/package.json
  extensions/remove-paywall/src/remove-paywall-using.tsx
  extensions/remove-paywall/src/remove-paywall.tsx
  extensions/remove-paywall/src/utils.ts
Labels: extension fix / improvement, extension: remove-paywall

#9716 Adds tcp and http[s] support to docker extension
  extensions/docker/CHANGELOG.md
  extensions/docker/package.json
  extensions/docker/src/docker/dockerode.ts
Labels: extension fix / improvement, extension: docker

#9718 Removing `subtitle` from Dub search links view
  extensions/dub-link-shortener/CHANGELOG.md
  extensions/dub-link-shortener/src/search-links.tsx
Labels: extension fix / improvement, extension: dub-link-shortener

#9752 Update Lucide icons
  extensions/lucide-icons/CHANGELOG.md
  extensions/lucide-icons/package-lock.json
  extensions/lucide-icons/package.json
Labels: extension fix / improvement, extension: lucide-icons

#9774 Added support for Arc in Obsidian Bookmarks Extension
  extensions/obsidian-bookmarks/CHANGELOG.md
  extensions/obsidian-bookmarks/package.json
  extensions/obsidian-bookmarks/src/hooks/use-frontmost-link.tsx
Labels: extension fix / improvement, extension: obsidian-bookmarks

#9754 Add svgl extension
  extensions/svgl/.eslintrc.json
  extensions/svgl/.gitignore
  extensions/svgl/.prettierrc
  extensions/svgl/CHANGELOG.md
  extensions/svgl/README.md
  extensions/svgl/assets/command-icon.png
  extensions/svgl/metadata/svgl-1.png
  extensions/svgl/metadata/svgl-2.png
  extensions/svgl/metadata/svgl-3.png
  extensions/svgl/package-lock.json
  extensions/svgl/package.json
  extensions/svgl/src/index.tsx
  extensions/svgl/src/svg-action.tsx
  extensions/svgl/src/type.ts
  extensions/svgl/src/util.ts
  extensions/svgl/tsconfig.json
Labels: new extension

#9771 Updated Pinata Extension
  extensions/pinata/CHANGELOG.md
  extensions/pinata/README.md
  extensions/pinata/metadata/pinata-3.png
  extensions/pinata/metadata/pinata-4.png
  extensions/pinata/package-lock.json
  extensions/pinata/package.json
  extensions/pinata/src/api.ts
  extensions/pinata/src/listFiles.tsx
  extensions/pinata/src/listSubmarineFiles.tsx
  extensions/pinata/src/uploadDirectory.tsx
  extensions/pinata/src/uploadFile.tsx
Labels: extension fix / improvement, extension: pinata

#9736 fix: handled spacing for each list item
  extensions/github-stars/.gitignore
  extensions/github-stars/CHANGELOG.md
  extensions/github-stars/package-lock.json
  extensions/github-stars/package.json
  extensions/github-stars/src/PackagListItem.tsx
  extensions/github-stars/src/index.tsx
  extensions/github-stars/src/response.model.ts
Labels: extension fix / improvement, extension: github-stars

#9800 Add close-finder extension
  extensions/close-finder/.eslintrc.json
  extensions/close-finder/.gitignore
  extensions/close-finder/.prettierrc
  extensions/close-finder/CHANGELOG.md
  extensions/close-finder/README.md
  extensions/close-finder/assets/command-icon.png
  extensions/close-finder/package-lock.json
  extensions/close-finder/package.json
  extensions/close-finder/src/close-windows.ts
  extensions/close-finder/src/kill-finder.ts
  extensions/close-finder/tsconfig.json
Labels: new extension

#9997 Update Splitwise extension: fix "Add Expense" command
  extensions/Splitwise/CHANGELOG.md
  extensions/Splitwise/metadata/splitwise-4.png
  extensions/Splitwise/package.json
  extensions/Splitwise/src/add-expense.tsx
  extensions/Splitwise/src/hooks/useFriends_Groups.tsx
  extensions/Splitwise/src/types/friends_groups.types.ts
Labels: extension fix / improvement, extension: splitwise

#10004 Linear: Add Favorites command
  extensions/linear/CHANGELOG.md
  extensions/linear/package-lock.json
  extensions/linear/package.json
  extensions/linear/src/api/favorites.ts
  extensions/linear/src/components/CreateMilestoneForm.tsx
  extensions/linear/src/components/IssueActions/IssueActions.tsx
  extensions/linear/src/components/IssueComments.tsx
  extensions/linear/src/components/OpenInLinear.tsx
  extensions/linear/src/components/Project.tsx
  extensions/linear/src/favorites.tsx
  extensions/linear/src/notifications.tsx
Labels: extension fix / improvement, OP is author, extension: linear

#9784 Add helm chart search extension
  extensions/helm-chart/.eslintrc.json
  extensions/helm-chart/.gitignore
  extensions/helm-chart/.prettierrc
  extensions/helm-chart/CHANGELOG.md
  extensions/helm-chart/README.md
  extensions/helm-chart/assets/command-icon.png
  extensions/helm-chart/assets/command-icon@dark.png
  extensions/helm-chart/assets/list-icon.png
  extensions/helm-chart/package-lock.json
  extensions/helm-chart/package.json
  extensions/helm-chart/readme-assets/screenshot.png
  extensions/helm-chart/src/index.tsx
  extensions/helm-chart/tsconfig.json
Labels: new extension

#10021 fix: handles description null issue
  extensions/github-stars/CHANGELOG.md
  extensions/github-stars/src/PackagListItem.tsx
Labels: extension fix / improvement, OP is contributor, extension: github-stars

#9819 [Cloudflare] Make source optional
  extensions/cloudflare/CHANGELOG.md
  extensions/cloudflare/package.json
  extensions/cloudflare/src/service.ts
  extensions/cloudflare/src/view-pages.tsx
Labels: extension fix / improvement, extension: cloudflare

#9349 Update twitch extension
  extensions/twitch/.eslintrc.json
  extensions/twitch/.gitignore
  extensions/twitch/CHANGELOG.md
  extensions/twitch/README.md
  extensions/twitch/assets/TwitchGlitchBlackOps.png
  extensions/twitch/assets/TwitchGlitchPurple.png
  extensions/twitch/assets/TwitchGlitchWhite.png
  extensions/twitch/metadata/twitch-6.png
  extensions/twitch/metadata/twitch-7.png
  extensions/twitch/metadata/twitch-8.png
  extensions/twitch/package-lock.json
  extensions/twitch/package.json
  extensions/twitch/src/following.tsx
  extensions/twitch/src/game.tsx
  extensions/twitch/src/helpers/action.tsx
  extensions/twitch/src/helpers/auth.tsx
  extensions/twitch/src/helpers/cache.ts
  extensions/twitch/src/helpers/datetime.tsx
  extensions/twitch/src/helpers/renderDetails.tsx
  extensions/twitch/src/helpers/streamlink.tsx
  extensions/twitch/src/helpers/useChannelDetails.tsx
  extensions/twitch/src/helpers/useChannelVideos.tsx
  extensions/twitch/src/helpers/useFollowedChannels.tsx
  extensions/twitch/src/helpers/useFollowedStreams.tsx
  extensions/twitch/src/helpers/useLiveChannels.tsx
  extensions/twitch/src/helpers/useLiveGames.tsx
  extensions/twitch/src/helpers/useLoadMoreChannelVideos.tsx
  extensions/twitch/src/helpers/useTwitchRequest.tsx
  extensions/twitch/src/helpers/useUserId.tsx
  extensions/twitch/src/index.tsx
  extensions/twitch/src/interfaces/ChannelDetails.ts
  extensions/twitch/src/interfaces/FollowedChannel.ts
  extensions/twitch/src/interfaces/FollowedStreams.ts
  extensions/twitch/src/interfaces/FollowingItem.ts
  extensions/twitch/src/interfaces/Video.ts
  extensions/twitch/src/live.tsx
  extensions/twitch/tsconfig.json
Labels: extension fix / improvement, extension: twitch

#9850 Add mercado-libre extension
  extensions/mercado-libre/.eslintrc.json
  extensions/mercado-libre/.gitignore
  extensions/mercado-libre/.prettierrc
  extensions/mercado-libre/CHANGELOG.md
  extensions/mercado-libre/README.md
  extensions/mercado-libre/assets/mercado-libre-emptyview.png
  extensions/mercado-libre/assets/mercado-libre-logo.png
  extensions/mercado-libre/metadata/mercado-libre-1.png
  extensions/mercado-libre/metadata/mercado-libre-2.png
  extensions/mercado-libre/package-lock.json
  extensions/mercado-libre/package.json
  extensions/mercado-libre/src/search-mercado-libre.tsx
  extensions/mercado-libre/tsconfig.json
Labels: new extension

#9885 Add Frill extension
  extensions/frill/.eslintrc.json
  extensions/frill/.gitignore
  extensions/frill/.prettierrc
  extensions/frill/CHANGELOG.md
  extensions/frill/README.md
  extensions/frill/assets/frill.png
  extensions/frill/metadata/frill-1-announcements.png
  extensions/frill/metadata/frill-2-delete-idea.png
  extensions/frill/metadata/frill-3-followers.png
  extensions/frill/metadata/frill-4-topics.png
  extensions/frill/metadata/frill-5-statuses.png
  extensions/frill/metadata/frill-6-update-announcement.png
  extensions/frill/package-lock.json
  extensions/frill/package.json
  extensions/frill/src/announcements.tsx
  extensions/frill/src/components/ErrorComponent.tsx
  extensions/frill/src/followers.tsx
  extensions/frill/src/ideas.tsx
  extensions/frill/src/lib/api.ts
  extensions/frill/src/lib/constants.ts
  extensions/frill/src/lib/functions.ts
  extensions/frill/src/statuses.tsx
  extensions/frill/src/topics.tsx
  extensions/frill/src/types/admin.ts
  extensions/frill/src/types/announcement-categories.ts
  extensions/frill/src/types/announcements.ts
  extensions/frill/src/types/common.ts
  extensions/frill/src/types/followers.ts
  extensions/frill/src/types/ideas.ts
  extensions/frill/src/types/index.ts
  extensions/frill/src/types/statuses.tsx
  extensions/frill/src/types/topics.ts
  extensions/frill/tsconfig.json
Labels: new extension

#10003 Update monzo extension
  extensions/monzo/.gitignore
  extensions/monzo/CHANGELOG.md
  extensions/monzo/README.md
  extensions/monzo/package-lock.json
  extensions/monzo/package.json
  extensions/monzo/src/components/transactions.tsx
  extensions/monzo/src/lib/formatting.ts
  extensions/monzo/src/show_accounts.tsx
Labels: extension fix / improvement, OP is author, extension: monzo

#10026 [worktrees] Fix findRepos with fd v9
  extensions/worktrees/CHANGELOG.md
  extensions/worktrees/package-lock.json
  extensions/worktrees/package.json
  extensions/worktrees/src/add.tsx
  extensions/worktrees/src/helpers.ts
  extensions/worktrees/src/view.tsx
  extensions/worktrees/tsconfig.json
Labels: extension fix / improvement, OP is author, extension: worktrees

#9581 Update pomodoro extension
  extensions/pomodoro/.gitignore
  extensions/pomodoro/CHANGELOG.md
  extensions/pomodoro/assets/Poweredby_100px-White_VertLogo.png
  extensions/pomodoro/lib/intervals.tsx
  extensions/pomodoro/lib/types.ts
  extensions/pomodoro/package-lock.json
  extensions/pomodoro/package.json
  extensions/pomodoro/src/pomodoro-control-timer.tsx
  extensions/pomodoro/src/pomodoro-menu-bar.tsx
Labels: extension fix / improvement, extension: pomodoro

#9739 Add Terraform Doc extension😎
  extensions/terraform-doc/.eslintrc.json
  extensions/terraform-doc/CHANGELOG.md
  extensions/terraform-doc/README.md
  extensions/terraform-doc/assets/extension_icon.png
  extensions/terraform-doc/assets/extension_icon.svg
  extensions/terraform-doc/metadata/screenshot1.png
  extensions/terraform-doc/metadata/screenshot2.png
  extensions/terraform-doc/metadata/screenshot3.png
  extensions/terraform-doc/package-lock.json
  extensions/terraform-doc/package.json
  extensions/terraform-doc/src/lib/history.ts
  extensions/terraform-doc/src/lib/provider-version.spec.ts
  extensions/terraform-doc/src/lib/provider-version.ts
  extensions/terraform-doc/src/lib/provider.spec.ts
  extensions/terraform-doc/src/lib/provider.ts
  extensions/terraform-doc/src/lib/resource-detail.spec.ts
  extensions/terraform-doc/src/lib/resource-detail.ts
  extensions/terraform-doc/src/lib/resource.spec.ts
  extensions/terraform-doc/src/lib/resource.ts
  extensions/terraform-doc/src/lib/util.ts
  extensions/terraform-doc/src/list_history.tsx
  extensions/terraform-doc/src/list_providers.tsx
  extensions/terraform-doc/src/views/history.view.tsx
  extensions/terraform-doc/src/views/provider-version.view.tsx
  extensions/terraform-doc/src/views/provider.view.tsx
  extensions/terraform-doc/src/views/resource-detail.view.tsx
  extensions/terraform-doc/src/views/resource.view.tsx
  extensions/terraform-doc/tsconfig.json
  extensions/terraform-doc/vitest.config.ts
Labels: new extension

#8884 Add keyboard-brightness extension
  extensions/keyboard-brightness/.eslintrc.json
  extensions/keyboard-brightness/.gitignore
  extensions/keyboard-brightness/.prettierrc
  extensions/keyboard-brightness/CHANGELOG.md
  extensions/keyboard-brightness/README.md
  extensions/keyboard-brightness/assets/command-icon.png
  extensions/keyboard-brightness/assets/keyboard
  extensions/keyboard-brightness/bun.lockb
  extensions/keyboard-brightness/metadata/keyboard-brightness-1.png
  extensions/keyboard-brightness/metadata/keyboard-brightness-2 .png
  extensions/keyboard-brightness/package-lock.json
  extensions/keyboard-brightness/package.json
  extensions/keyboard-brightness/sources/assets
  extensions/keyboard-brightness/sources/keyboard/.gitignore
  extensions/keyboard-brightness/sources/keyboard/.swiftlint.yml
  extensions/keyboard-brightness/sources/keyboard/Package.resolved
  extensions/keyboard-brightness/sources/keyboard/Package.swift
  extensions/keyboard-brightness/sources/keyboard/Sources/ObjC/KeyboardClient/include/KeyboardClient.h
  extensions/keyboard-brightness/sources/keyboard/Sources/Swift/main.swift
  extensions/keyboard-brightness/src/adjust-keyboard-brightness.tsx
  extensions/keyboard-brightness/src/menubar-keyboard-brightness.tsx
  extensions/keyboard-brightness/src/sync-keyboard-brightness.tsx
  extensions/keyboard-brightness/src/toggle-keyboard-brightness.tsx
  extensions/keyboard-brightness/src/types.ts
  extensions/keyboard-brightness/src/utils.ts
  extensions/keyboard-brightness/tsconfig.json
Labels: new extension

#9974 Add deepl-api-usage extension
  extensions/deepl-api-usage/.eslintrc.json
  extensions/deepl-api-usage/.gitignore
  extensions/deepl-api-usage/.prettierrc
  extensions/deepl-api-usage/CHANGELOG.md
  extensions/deepl-api-usage/README.md
  extensions/deepl-api-usage/assets/logo.png
  extensions/deepl-api-usage/metadata/deepl-api-usage-1.png
  extensions/deepl-api-usage/metadata/deepl-api-usage-2.png
  extensions/deepl-api-usage/metadata/deepl-api-usage-3.png
  extensions/deepl-api-usage/metadata/deepl-api-usage-4.png
  extensions/deepl-api-usage/package-lock.json
  extensions/deepl-api-usage/package.json
  extensions/deepl-api-usage/src/components/EditRecordForm.tsx
  extensions/deepl-api-usage/src/components/RecordDetail.tsx
  extensions/deepl-api-usage/src/components/RecordItem.tsx
  extensions/deepl-api-usage/src/index.tsx
  extensions/deepl-api-usage/src/types.ts
  extensions/deepl-api-usage/src/util.ts
  extensions/deepl-api-usage/tsconfig.json
Labels: new extension

#9913 [TickTick] Add start and due date
  extensions/ticktick/CHANGELOG.md
  extensions/ticktick/package-lock.json
  extensions/ticktick/package.json
  extensions/ticktick/src/components/taskItem.tsx
  extensions/ticktick/src/inbox.tsx
  extensions/ticktick/src/index.tsx
  extensions/ticktick/src/next7Days.tsx
  extensions/ticktick/src/search.tsx
  extensions/ticktick/src/service/osScript.ts
  extensions/ticktick/src/service/task.ts
  extensions/ticktick/src/utils/date.ts
Labels: extension fix / improvement, extension: ticktick

#9912 Add gradle-plugins extension
  extensions/gradle-plugins/.eslintrc.json
  extensions/gradle-plugins/.gitignore
  extensions/gradle-plugins/.prettierrc
  extensions/gradle-plugins/CHANGELOG.md
  extensions/gradle-plugins/README.md
  extensions/gradle-plugins/assets/gradle-icon.png
  extensions/gradle-plugins/metadata/gradle-plugins-1.png
  extensions/gradle-plugins/metadata/gradle-plugins-2.png
  extensions/gradle-plugins/metadata/gradle-plugins-3.png
  extensions/gradle-plugins/package-lock.json
  extensions/gradle-plugins/package.json
  extensions/gradle-plugins/src/actions/api.tsx
  extensions/gradle-plugins/src/components/VersionDropdown.tsx
  extensions/gradle-plugins/src/config/index.tsx
  extensions/gradle-plugins/src/index.tsx
  extensions/gradle-plugins/src/models/gradle-plugin.tsx
  extensions/gradle-plugins/src/plugin-details.tsx
  extensions/gradle-plugins/tsconfig.json
Labels: new extension

#9921 Add viacep extension
  extensions/viacep/.eslintrc.json
  extensions/viacep/.gitignore
  extensions/viacep/.prettierrc
  extensions/viacep/CHANGELOG.md
  extensions/viacep/README.md
  extensions/viacep/assets/viacep-icon.png
  extensions/viacep/metadata/viacep-1.png
  extensions/viacep/metadata/viacep-2.png
  extensions/viacep/metadata/viacep-3.png
  extensions/viacep/package-lock.json
  extensions/viacep/package.json
  extensions/viacep/src/find-address.tsx
  extensions/viacep/src/find-cep.tsx
  extensions/viacep/tsconfig.json
Labels: new extension

#10071 Update raindrop-io extension
  extensions/raindrop-io/CHANGELOG.md
  extensions/raindrop-io/src/add.tsx
  extensions/raindrop-io/src/components/BookmarkItem.tsx
Labels: extension fix / improvement, OP is author, extension: raindrop-io

#10000 Update parallels-virtual-machines extension
  extensions/parallels-virtual-machines/.gitignore
  extensions/parallels-virtual-machines/CHANGELOG.md
  extensions/parallels-virtual-machines/README.md
  extensions/parallels-virtual-machines/package-lock.json
  extensions/parallels-virtual-machines/src/actions.ts
Labels: extension fix / improvement, OP is author, extension: parallels-virtual-machines

#10077 Update YouVersion Bible Suggest extension to latest (v3.4.0)
  extensions/youversion-suggest/.prettierrc
  extensions/youversion-suggest/.vscode/settings.json
  extensions/youversion-suggest/CHANGELOG.md
  extensions/youversion-suggest/LICENSE.txt
  extensions/youversion-suggest/README.md
  extensions/youversion-suggest/package-lock.json
  extensions/youversion-suggest/package.json
  extensions/youversion-suggest/src/lookup-reference.tsx
  extensions/youversion-suggest/src/search-bible.tsx
Labels: extension fix / improvement, OP is author, extension: youversion-suggest

#9922 Add raycast-lighting-node-search extension
  extensions/raycast-lighting-node-search/.eslintrc.json
  extensions/raycast-lighting-node-search/.gitignore
  extensions/raycast-lighting-node-search/.prettierrc
  extensions/raycast-lighting-node-search/CHANGELOG.md
  extensions/raycast-lighting-node-search/README.md
  extensions/raycast-lighting-node-search/assets/command-icon.png
  extensions/raycast-lighting-node-search/metadata/raycast-lighting-node-search-1.png
  extensions/raycast-lighting-node-search/package-lock.json
  extensions/raycast-lighting-node-search/package.json
  extensions/raycast-lighting-node-search/src/api/search.ts
  extensions/raycast-lighting-node-search/src/api/types.ts
  extensions/raycast-lighting-node-search/src/search-node.tsx
  extensions/raycast-lighting-node-search/tsconfig.json
Labels: new extension

#9954 Add raycast-gemini extension
  extensions/raycast-gemini/.eslintrc.json
  extensions/raycast-gemini/.gitignore
  extensions/raycast-gemini/.prettierrc
  extensions/raycast-gemini/CHANGELOG.md
  extensions/raycast-gemini/README.md
  extensions/raycast-gemini/assets/command-icon.png
  extensions/raycast-gemini/metadata/raycast-gemini-1.png
  extensions/raycast-gemini/metadata/raycast-gemini-2.png
  extensions/raycast-gemini/metadata/raycast-gemini-3.png
  extensions/raycast-gemini/package-lock.json
  extensions/raycast-gemini/package.json
  extensions/raycast-gemini/src/aiChat.jsx
  extensions/raycast-gemini/src/api/gemini.jsx
  extensions/raycast-gemini/src/comment.jsx
  extensions/raycast-gemini/src/explain.jsx
  extensions/raycast-gemini/src/friendly.jsx
  extensions/raycast-gemini/src/grammar.jsx
  extensions/raycast-gemini/src/longer.jsx
  extensions/raycast-gemini/src/professional.jsx
  extensions/raycast-gemini/src/quickAI.jsx
  extensions/raycast-gemini/src/shorter.jsx
  extensions/raycast-gemini/src/summarize.jsx
  extensions/raycast-gemini/src/synonym.jsx
Labels: new extension

#9968 Update popicons extension
  extensions/popicons/CHANGELOG.md
  extensions/popicons/metadata/popicons-1.png
  extensions/popicons/metadata/popicons-2.png
  extensions/popicons/metadata/popicons-3.png
  extensions/popicons/metadata/popicons-4.png
  extensions/popicons/src/constants/toasts.ts
  extensions/popicons/src/helpers/get-api-error-issue-url.ts
  extensions/popicons/src/helpers/get-new-issue-url.ts
Labels: extension fix / improvement, OP is author, extension: popicons

#9979 Add lorem-picsum extension
  extensions/lorem-picsum/.eslintrc.json
  extensions/lorem-picsum/.gitignore
  extensions/lorem-picsum/.prettierrc
  extensions/lorem-picsum/CHANGELOG.md
  extensions/lorem-picsum/README.md
  extensions/lorem-picsum/assets/extension_icon.png
  extensions/lorem-picsum/metadata/Raycast 2024-01-03 at 11.42.11.png
  extensions/lorem-picsum/package-lock.json
  extensions/lorem-picsum/package.json
  extensions/lorem-picsum/src/index.ts
  extensions/lorem-picsum/src/types.ts
  extensions/lorem-picsum/src/utiils.ts
  extensions/lorem-picsum/tsconfig.json
Labels: new extension

#9998 Add omg-lol extension
  extensions/omg-lol/.eslintrc.json
  extensions/omg-lol/.gitignore
  extensions/omg-lol/.prettierrc
  extensions/omg-lol/CHANGELOG.md
  extensions/omg-lol/LICENSE
  extensions/omg-lol/README.md
  extensions/omg-lol/assets/omg.lol-logo.png
  extensions/omg-lol/assets/omg.lol.png
  extensions/omg-lol/assets/pastebin.png
  extensions/omg-lol/assets/purl.png
  extensions/omg-lol/metadata/omg-lol-1.png
  extensions/omg-lol/metadata/omg-lol-2.png
  extensions/omg-lol/metadata/omg-lol-3.png
  extensions/omg-lol/package-lock.json
  extensions/omg-lol/package.json
  extensions/omg-lol/src/common/account.ts
  extensions/omg-lol/src/common/api.ts
  extensions/omg-lol/src/common/oauth.ts
  extensions/omg-lol/src/common/prefs.ts
  extensions/omg-lol/src/common/types.ts
  extensions/omg-lol/src/common/util.ts
  extensions/omg-lol/src/create-paste-clipboard.tsx
  extensions/omg-lol/src/create-paste.tsx
  extensions/omg-lol/src/create-purl.tsx
  extensions/omg-lol/src/view-pastebin.tsx
  extensions/omg-lol/src/view-purls.tsx
  extensions/omg-lol/tsconfig.json
Labels: new extension

#9867 Add superwhisper extension
  extensions/superwhisper/.gitignore
  extensions/superwhisper/.prettierrc
  extensions/superwhisper/CHANGELOG.md
  extensions/superwhisper/LICENSE
  extensions/superwhisper/README.md
  extensions/superwhisper/assets/superwhisper-light-icon.png
  extensions/superwhisper/metadata/superwhisper-1.png
  extensions/superwhisper/metadata/superwhisper-2.png
  extensions/superwhisper/metadata/superwhisper-3.png
  extensions/superwhisper/package-lock.json
  extensions/superwhisper/package.json
  extensions/superwhisper/src/open-settings.ts
  extensions/superwhisper/src/select-mode.tsx
  extensions/superwhisper/src/toggle-record.ts
  extensions/superwhisper/src/utils.ts
  extensions/superwhisper/tsconfig.json
Labels: new extension

#10086 Update flush-dns extension
  extensions/flush-dns/CHANGELOG.md
  extensions/flush-dns/README.md
  extensions/flush-dns/package.json
  extensions/flush-dns/src/index.ts
Labels: extension fix / improvement, extension: flush-dns

#10083 [Xcode] Maintenance Update
  extensions/xcode/CHANGELOG.md
  extensions/xcode/package-lock.json
  extensions/xcode/package.json
  extensions/xcode/src/components/apple-developer-documentation-list/apple-developer-documentation-list-item-detail.component.tsx
  extensions/xcode/src/components/apple-developer-documentation-list/apple-developer-documentation-list-item.component.tsx
  extensions/xcode/src/components/apple-developer-documentation-list/apple-developer-documentation-list-search-bar-accessory.component.tsx
  extensions/xcode/src/components/apple-developer-documentation-list/apple-developer-documentation-list.component.tsx
  extensions/xcode/src/components/apple-devices-list/apple-devices-list-item.components.tsx
  extensions/xcode/src/components/apple-devices-list/apple-devices-list.component.tsx
  extensions/xcode/src/components/swift-package-index-list/swift-package-index-list-item-detail.component.tsx
  extensions/xcode/src/components/swift-package-index-list/swift-package-index-list-item.component.tsx
  extensions/xcode/src/components/swift-package-index-list/swift-package-index-list.component.tsx
  extensions/xcode/src/components/xcode-add-swift-package/xcode-add-swift-package-form.component.tsx
  extensions/xcode/src/components/xcode-add-swift-package/xcode-add-swift-package.component.tsx
  extensions/xcode/src/components/xcode-code-snippet/xcode-code-snippet-form.component.tsx
  extensions/xcode/src/components/xcode-code-snippet/xcode-code-snippet-list-item-detail.component.tsx
  extensions/xcode/src/components/xcode-code-snippet/xcode-code-snippet-list-item.component.tsx
  extensions/xcode/src/components/xcode-code-snippet/xcode-code-snippet-list.component.tsx
  extensions/xcode/src/components/xcode-create-swift-package/xcode-create-swift-package-form.component.tsx
  extensions/xcode/src/components/xcode-create-swift-playground/xcode-create-swift-playground-form.component.tsx
  extensions/xcode/src/components/xcode-project-list/xcode-project-list-item.component.tsx
  extensions/xcode/src/components/xcode-project-list/xcode-project-list-search-bar-accessory.component.tsx
  extensions/xcode/src/components/xcode-project-list/xcode-project-list.component.tsx
  extensions/xcode/src/components/xcode-projects-menu-bar/xcode-projects-menu-bar-item.component.tsx
  extensions/xcode/src/components/xcode-projects-menu-bar/xcode-projects-menu-bar.component.tsx
  extensions/xcode/src/components/xcode-release-list/xcode-release-list-item-detail.component.tsx
  extensions/xcode/src/components/xcode-release-list/xcode-release-list-item.component.tsx
  extensions/xcode/src/components/xcode-release-list/xcode-release-list.component.tsx
  extensions/xcode/src/components/xcode-simulator-application-list/xcode-simulator-application-list-item.component.tsx
  extensions/xcode/src/components/xcode-simulator-application-list/xcode-simulator-application-list-push-notifications.tsx
  extensions/xcode/src/components/xcode-simulator-application-list/xcode-simulator-application-list.component.tsx
  extensions/xcode/src/components/xcode-simulator-applications-menu-bar/xcode-simulator-applications-menu-bar-item.component.tsx
  extensions/xcode/src/components/xcode-simulator-applications-menu-bar/xcode-simulator-applications-menu-bar.component.tsx
  extensions/xcode/src/components/xcode-simulator-list/xcode-simulator-list-item.component.tsx
  extensions/xcode/src/components/xcode-simulator-list/xcode-simulator-list.component.tsx
  extensions/xcode/src/components/xcode-simulator-list/xcode-simulator-open-url-form.component.tsx
  extensions/xcode/src/components/xcode-simulator-list/xcode-simulator-rename-form.component.tsx
  extensions/xcode/src/components/xcode-simulator-list/xcode-simulator-send-push-notification-form.component.tsx
  extensions/xcode/src/components/xcode-view-swift-package-resolved/xcode-swift-package-resolved-entry-list-item-detail.component.tsx
  extensions/xcode/src/components/xcode-view-swift-package-resolved/xcode-swift-package-resolved-entry-list-item.component.tsx
  extensions/xcode/src/components/xcode-view-swift-package-resolved/xcode-swift-package-resolved-entry-list.component.tsx
  extensions/xcode/src/components/xcode-view-swift-package-resolved/xcode-view-swift-package-resolved.component.tsx
  extensions/xcode/src/models/swift-package-index/swift-package-index-search-result.model.ts
  extensions/xcode/src/models/swift-package-index/swift-package-index-search-results.model.ts
  extensions/xcode/src/search-swift-package-index.command.tsx
  extensions/xcode/src/services/swift-package-index.service.ts
  extensions/xcode/src/services/xcode-code-snippet.service.ts
  extensions/xcode/src/services/xcode-simulator.service.ts
Labels: extension fix / improvement, OP is author, extension: xcode

#10042 feat: add zero-width space to type-snob
  extensions/type-snob/CHANGELOG.md
  extensions/type-snob/src/characters.ts
Labels: extension fix / improvement, extension: type-snob

#10043 [Easydict v2.9.1] 💎 perf: support custom OpenAI endpoint
  extensions/easydict/.eslintrc
  extensions/easydict/.github/workflows/codeql-analysis.yml
  extensions/easydict/.github/workflows/greetings.yml
  extensions/easydict/.github/workflows/manual.yml
  extensions/easydict/.github/workflows/test.yml
  extensions/easydict/.gitignore
  extensions/easydict/.husky/commit-msg
  extensions/easydict/.husky/pre-commit
  extensions/easydict/CHANGELOG.md
  extensions/easydict/README.md
  extensions/easydict/assets/recognizeText
  extensions/easydict/package-lock.json
  extensions/easydict/package.json
  extensions/easydict/src/axiosConfig.ts
  extensions/easydict/src/detectLanguage/detect.ts
  extensions/easydict/src/dictionary/youdao/types.ts
  extensions/easydict/src/dictionary/youdao/youdao.ts
  extensions/easydict/src/easydict.tsx
  extensions/easydict/src/language/consts.ts
  extensions/easydict/src/preferences.ts
  extensions/easydict/src/releaseVersion/versionInfo.ts
  extensions/easydict/src/translation/baidu/baiduAPI.ts
  extensions/easydict/src/translation/caiyun.ts
  extensions/easydict/src/translation/openAI/chat.ts
  extensions/easydict/src/translation/tencent.ts
  extensions/easydict/src/translation/volcano/volcanoAPI.ts
  extensions/easydict/tsconfig.json
Labels: extension fix / improvement, OP is author, extension: easydict

#10017 Update arc extension (Fix #8189)
  extensions/arc/CHANGELOG.md
  extensions/arc/package.json
  extensions/arc/src/actions.tsx
  extensions/arc/src/arc.ts
  extensions/arc/src/types.ts
  extensions/arc/src/utils.ts
Labels: extension fix / improvement, extension: arc

#9796 Update safari extension
  extensions/safari/.gitignore
  extensions/safari/CHANGELOG.md
  extensions/safari/package-lock.json
  extensions/safari/package.json
  extensions/safari/src/components/HistoryListSection.tsx
  extensions/safari/src/hooks/useBookmarks.ts
  extensions/safari/src/hooks/useDevices.ts
  extensions/safari/src/reading-list.tsx
  extensions/safari/src/search-bookmarks.tsx
  extensions/safari/src/types.ts
  extensions/safari/src/utils.ts
Labels: extension fix / improvement, extension: safari

#10050 Add svelte-docs extension
  extensions/svelte-docs/.eslintrc.json
  extensions/svelte-docs/.gitignore
  extensions/svelte-docs/.prettierrc
  extensions/svelte-docs/CHANGELOG.md
  extensions/svelte-docs/README.md
  extensions/svelte-docs/assets/svelte-logo-square.png
  extensions/svelte-docs/assets/sveltekit-logo-square.png
  extensions/svelte-docs/metadata/svelte-docs-1.png
  extensions/svelte-docs/metadata/svelte-docs-2.png
  extensions/svelte-docs/metadata/svelte-docs-3.png
  extensions/svelte-docs/package-lock.json
  extensions/svelte-docs/package.json
  extensions/svelte-docs/src/index.tsx
  extensions/svelte-docs/src/schema.ts
  extensions/svelte-docs/tsconfig.json
Labels: new extension

#10103 Apple Reminder: Improvements and bug fixes
  extensions/apple-reminders/CHANGELOG.md
  extensions/apple-reminders/package.json
  extensions/apple-reminders/src/helpers.ts
  extensions/apple-reminders/src/menu-bar.tsx
  extensions/apple-reminders/src/my-reminders.tsx
  extensions/apple-reminders/swift/reminders/Sources/main.swift
Labels: extension fix / improvement, OP is author, extension: apple-reminders

#9924 Add prism-launcher extension
  extensions/prism-launcher/.eslintrc.json
  extensions/prism-launcher/.gitignore
  extensions/prism-launcher/.prettierrc
  extensions/prism-launcher/CHANGELOG.md
  extensions/prism-launcher/README.md
  extensions/prism-launcher/assets/extension-icon.png
  extensions/prism-launcher/assets/instance-icon.png
  extensions/prism-launcher/metadata/prism-launcher-1.png
  extensions/prism-launcher/package-lock.json
  extensions/prism-launcher/package.json
  extensions/prism-launcher/src/index.tsx
  extensions/prism-launcher/src/types.ts
  extensions/prism-launcher/tsconfig.json
Labels: new extension

#10045 Fix/swift evolution keys
  extensions/swift-evolution/.eslintrc.json
  extensions/swift-evolution/.gitignore
  extensions/swift-evolution/CHANGELOG.md
  extensions/swift-evolution/package-lock.json
  extensions/swift-evolution/package.json
  extensions/swift-evolution/src/ProposalsList.tsx
  extensions/swift-evolution/src/domain.ts
Labels: extension fix / improvement, extension: swift-evolution

#10054 Add node-version-manager extension
  extensions/node-version-manager/.eslintrc.json
  extensions/node-version-manager/.gitignore
  extensions/node-version-manager/.nvmrc
  extensions/node-version-manager/.prettierrc
  extensions/node-version-manager/.vscode/settings.json
  extensions/node-version-manager/CHANGELOG.md
  extensions/node-version-manager/README.md
  extensions/node-version-manager/assets/extension_icon.png
  extensions/node-version-manager/assets/nodedotjs.svg
  extensions/node-version-manager/metadata/screenshot-02.png
  extensions/node-version-manager/metadata/screenshot-03.png
  extensions/node-version-manager/metadata/screenshot-04.png
  extensions/node-version-manager/package-lock.json
  extensions/node-version-manager/package.json
  extensions/node-version-manager/src/components/actions/documentation.tsx
  extensions/node-version-manager/src/components/actions/install.tsx
  extensions/node-version-manager/src/components/actions/makeDefault.tsx
  extensions/node-version-manager/src/components/actions/uninstall.tsx
  extensions/node-version-manager/src/components/lists/EmptyView.tsx
  extensions/node-version-manager/src/components/lists/list.tsx
  extensions/node-version-manager/src/default.tsx
  extensions/node-version-manager/src/install.tsx
  extensions/node-version-manager/src/list-remote.tsx
  extensions/node-version-manager/src/list.tsx
  extensions/node-version-manager/src/types.d.ts
  extensions/node-version-manager/src/utils/managers/fnm.ts
  extensions/node-version-manager/src/utils/managers/nvm.ts
  extensions/node-version-manager/src/utils/preferences.ts
  extensions/node-version-manager/src/utils/versionManager.ts
  extensions/node-version-manager/tsconfig.json
Labels: new extension

#9881 Add footy-report extension
  extensions/footy-report/.editorconfig
  extensions/footy-report/.eslintrc.json
  extensions/footy-report/.gitignore
  extensions/footy-report/.vscode/settings.json
  extensions/footy-report/CHANGELOG.md
  extensions/footy-report/LICENSE
  extensions/footy-report/README.md
  extensions/footy-report/assets/extension-icon.png
  extensions/footy-report/jest.config.js
  extensions/footy-report/metadata/footy-report-1.png
  extensions/footy-report/metadata/footy-report-2.png
  extensions/footy-report/metadata/footy-report-3.png
  extensions/footy-report/metadata/footy-report-4.png
  extensions/footy-report/metadata/footy-report-6.png
  extensions/footy-report/package-lock.json
  extensions/footy-report/package.json
  extensions/footy-report/src/api/client.ts
  extensions/footy-report/src/components/APIResult.tsx
  extensions/footy-report/src/components/Fixtures.tsx
  extensions/footy-report/src/components/PlayerDetails.tsx
  extensions/footy-report/src/components/Squad.tsx
  extensions/footy-report/src/components/TeamDetails.tsx
  extensions/footy-report/src/hooks/index.ts
  extensions/footy-report/src/hooks/useAPIKey.ts
  extensions/footy-report/src/hooks/useErrorToast.ts
  extensions/footy-report/src/hooks/useFetchFixtures.ts
  extensions/footy-report/src/hooks/useFetchPlayerStats.ts
  extensions/footy-report/src/hooks/useFetchTeams.ts
  extensions/footy-report/src/hooks/useSportMonksClient.ts
  extensions/footy-report/src/searchTeam.tsx
  extensions/footy-report/src/test.tsx
  extensions/footy-report/src/types.ts
  extensions/footy-report/src/utils/index.ts
  extensions/footy-report/src/utils/utils.test.ts
  extensions/footy-report/tsconfig.json
Labels: new extension

#9899 Add osint-web-check extension
  extensions/osint-web-check/.eslintrc.json
  extensions/osint-web-check/.gitignore
  extensions/osint-web-check/.prettierrc
  extensions/osint-web-check/CHANGELOG.md
  extensions/osint-web-check/README.md
  extensions/osint-web-check/assets/extension_icon.png
  extensions/osint-web-check/metadata/osint-web-check-1.png
  extensions/osint-web-check/metadata/osint-web-check-2.png
  extensions/osint-web-check/metadata/osint-web-check-3.png
  extensions/osint-web-check/metadata/osint-web-check-4.png
  extensions/osint-web-check/package-lock.json
  extensions/osint-web-check/package.json
  extensions/osint-web-check/src/CrawlRules.tsx
  extensions/osint-web-check/src/DnsInfo.tsx
  extensions/osint-web-check/src/DnsSec.tsx
  extensions/osint-web-check/src/Firewall.tsx
  extensions/osint-web-check/src/Headers.tsx
  extensions/osint-web-check/src/Hsts.tsx
  extensions/osint-web-check/src/OpenPorts.tsx
  extensions/osint-web-check/src/Redirects.tsx
  extensions/osint-web-check/src/SSLCheck.tsx
  extensions/osint-web-check/src/UrlInput.tsx
  extensions/osint-web-check/src/UrlIp.tsx
  extensions/osint-web-check/src/WhoIs.tsx
  extensions/osint-web-check/src/osint-web-check.tsx
  extensions/osint-web-check/src/utils/addHttps.ts
  extensions/osint-web-check/src/utils/checkUrl.ts
  extensions/osint-web-check/src/utils/lowerCaseKeys.ts
  extensions/osint-web-check/src/utils/types.ts
  extensions/osint-web-check/src/utils/useCheckDetail.ts
  extensions/osint-web-check/tsconfig.json
Labels: new extension

#9956 Add note-in-google-doc extension
  extensions/note-in-google-doc/.eslintrc.json
  extensions/note-in-google-doc/.gitignore
  extensions/note-in-google-doc/.prettierrc
  extensions/note-in-google-doc/CHANGELOG.md
  extensions/note-in-google-doc/README.md
  extensions/note-in-google-doc/assets/google-logo.png
  extensions/note-in-google-doc/assets/notes-in-google-docs.png
  extensions/note-in-google-doc/metadata/note-in-google-doc-1.png
  extensions/note-in-google-doc/metadata/note-in-google-doc-2.png
  extensions/note-in-google-doc/metadata/note-in-google-doc-3.png
  extensions/note-in-google-doc/metadata/note-in-google-doc-4.png
  extensions/note-in-google-doc/metadata/note-in-google-doc-5.png
  extensions/note-in-google-doc/metadata/note-in-google-doc-6.png
  extensions/note-in-google-doc/package-lock.json
  extensions/note-in-google-doc/package.json
  extensions/note-in-google-doc/src/auth.ts
  extensions/note-in-google-doc/src/google_fns.tsx
  extensions/note-in-google-doc/src/index.tsx
  extensions/note-in-google-doc/src/screens/create_new_file.tsx
  extensions/note-in-google-doc/src/screens/list_notes.tsx
  extensions/note-in-google-doc/src/util.tsx
  extensions/note-in-google-doc/tsconfig.json
Labels: new extension

#10039 Add codeforces extension
  extensions/codeforces-extension/.eslintrc.json
  extensions/codeforces-extension/.gitignore
  extensions/codeforces-extension/.prettierrc
  extensions/codeforces-extension/CHANGELOG.md
  extensions/codeforces-extension/README.md
  extensions/codeforces-extension/assets/command-icon.png
  extensions/codeforces-extension/metadata/codeforces-extension-1.png
  extensions/codeforces-extension/metadata/codeforces-extension-2.png
  extensions/codeforces-extension/metadata/codeforces-extension-3.png
  extensions/codeforces-extension/metadata/codeforces-extension-4.png
  extensions/codeforces-extension/metadata/codeforces-extension-5.png
  extensions/codeforces-extension/package-lock.json
  extensions/codeforces-extension/package.json
  extensions/codeforces-extension/src/components/Contest.tsx
  extensions/codeforces-extension/src/components/ContestProblems.tsx
  extensions/codeforces-extension/src/components/ContestSubmissions.tsx
  extensions/codeforces-extension/src/components/UserSubmissions.tsx
  extensions/codeforces-extension/src/constants.tsx
  extensions/codeforces-extension/src/func/ContestExecutionStatus.tsx
  extensions/codeforces-extension/src/func/ExecutionStatus.tsx
  extensions/codeforces-extension/src/func/HexCode.tsx
  extensions/codeforces-extension/src/interface/Author.tsx
  extensions/codeforces-extension/src/interface/Problem.tsx
  extensions/codeforces-extension/src/interface/Result.tsx
  extensions/codeforces-extension/src/interface/UserData.tsx
  extensions/codeforces-extension/src/search-contest.tsx
  extensions/codeforces-extension/src/search-handle.tsx
  extensions/codeforces-extension/tsconfig.json
Labels: new extension

#10124 Apple Reminders: Support location-based reminders
  extensions/apple-reminders/CHANGELOG.md
  extensions/apple-reminders/src/api.ts
  extensions/apple-reminders/src/components/ReminderActions.tsx
  extensions/apple-reminders/src/components/ReminderListItem.tsx
  extensions/apple-reminders/src/components/SetLocationReminder.tsx
  extensions/apple-reminders/src/create-reminder.tsx
  extensions/apple-reminders/src/helpers.ts
  extensions/apple-reminders/src/hooks/useData.ts
  extensions/apple-reminders/src/my-reminders.tsx
  extensions/apple-reminders/swift/reminders/Sources/EventKit+Additions.swift
  extensions/apple-reminders/swift/reminders/Sources/main.swift
Labels: extension fix / improvement, OP is author, extension: apple-reminders

#9875 Add snap-jot extension
  extensions/snap-jot/.eslintrc.json
  extensions/snap-jot/.gitignore
  extensions/snap-jot/.prettierrc
  extensions/snap-jot/CHANGELOG.md
  extensions/snap-jot/README.md
  extensions/snap-jot/assets/command-icon.png
  extensions/snap-jot/metadata/snap-jot-1.png
  extensions/snap-jot/package-lock.json
  extensions/snap-jot/package.json
  extensions/snap-jot/src/memo.tsx
  extensions/snap-jot/tsconfig.json
Labels: new extension

#10016 fix: Open location bar in Arc before copying URL
  extensions/google-meet/CHANGELOG.md
  extensions/google-meet/src/utils/scripts.ts
Labels: extension fix / improvement, extension: google-meet

#10119 Update raycast-ollama extension
  extensions/raycast-ollama/CHANGELOG.md
  extensions/raycast-ollama/src/api/errors.ts
  extensions/raycast-ollama/src/ollama-improve-writing.tsx
Labels: extension fix / improvement, OP is author, extension: raycast-ollama

#9861 Add bmw extension
  extensions/bmw/.eslintrc.json
  extensions/bmw/.gitignore
  extensions/bmw/.prettierrc
  extensions/bmw/CHANGELOG.md
  extensions/bmw/README.md
  extensions/bmw/assets/icon-menu.png
  extensions/bmw/assets/icon-neutral@dark.png
  extensions/bmw/assets/icon.png
  extensions/bmw/assets/icon@dark.png
  extensions/bmw/metadata/bmw-1.png
  extensions/bmw/metadata/bmw-2.png
  extensions/bmw/metadata/bmw-3.png
  extensions/bmw/package-lock.json
  extensions/bmw/package.json
  extensions/bmw/src/capabilities.tsx
  extensions/bmw/src/car-overview.tsx
  extensions/bmw/src/change-image.tsx
  extensions/bmw/src/charge-start.tsx
  extensions/bmw/src/charge-stop.tsx
  extensions/bmw/src/climate-now.tsx
  extensions/bmw/src/door-lock.tsx
  extensions/bmw/src/door-unlock.tsx
  extensions/bmw/src/horn-blow.tsx
  extensions/bmw/src/light-flash.tsx
  extensions/bmw/src/services.tsx
  extensions/bmw/src/tires.tsx
  extensions/bmw/src/types/ViewDirection.ts
  extensions/bmw/src/utils/executeCommand.ts
  extensions/bmw/src/utils/getCommandsdDetail.ts
  extensions/bmw/src/utils/getImage.ts
  extensions/bmw/src/view-car.tsx
  extensions/bmw/tsconfig.json
Labels: new extension

#10145 [Pins] Target groups, new quick pin, and bug fixes
  extensions/pins/CHANGELOG.md
  extensions/pins/README.md
  extensions/pins/assets/placeholders_guide.md
  extensions/pins/package-lock.json
  extensions/pins/package.json
  extensions/pins/src/components/PinForm.tsx
  extensions/pins/src/components/RecentApplicationsList.tsx
  extensions/pins/src/components/TargetGroupMenu.tsx
  extensions/pins/src/components/menu-items/OpenAllMenuItem.tsx
  extensions/pins/src/components/menu-items/PinMenuItem.tsx
  extensions/pins/src/components/menu-items/quick-pins/AppQuickPin.tsx
  extensions/pins/src/components/menu-items/quick-pins/DirectoryQuickPin.tsx
  extensions/pins/src/components/menu-items/quick-pins/DocumentQuickPin.tsx
  extensions/pins/src/components/menu-items/quick-pins/FilesQuickPin.tsx
  extensions/pins/src/components/menu-items/quick-pins/NotesQuickPin.tsx
  extensions/pins/src/components/menu-items/quick-pins/TabQuickPin.tsx
  extensions/pins/src/components/menu-items/quick-pins/TabsQuickPin.tsx
  extensions/pins/src/components/menu-items/quick-pins/TextQuickPin.tsx
  extensions/pins/src/components/menu-items/quick-pins/TrackQuickPin.tsx
  extensions/pins/src/import-data.tsx
  extensions/pins/src/index.tsx
  extensions/pins/src/lib/Groups.ts
  extensions/pins/src/lib/LocalData.ts
  extensions/pins/src/lib/Pins.ts
  extensions/pins/src/lib/constants.ts
  extensions/pins/src/lib/defaults.ts
  extensions/pins/src/lib/placeholders/custom-placeholders/askAI.ts
  extensions/pins/src/lib/placeholders/custom-placeholders/groupNames.ts
  extensions/pins/src/lib/placeholders/custom-placeholders/groups.ts
  extensions/pins/src/lib/placeholders/custom-placeholders/pinNames.ts
  extensions/pins/src/lib/placeholders/custom-placeholders/pinStatistics.ts
  extensions/pins/src/lib/placeholders/custom-placeholders/pinTargets.ts
  extensions/pins/src/lib/placeholders/custom-placeholders/pins.ts
  extensions/pins/src/lib/placeholders/custom-placeholders/previousApplication.ts
  extensions/pins/src/lib/placeholders/custom-placeholders/previousPinName.ts
  extensions/pins/src/lib/placeholders/custom-placeholders/previousPinTarget.ts
  extensions/pins/src/lib/scheduled-execution.ts
  extensions/pins/src/lib/scripts.ts
  extensions/pins/src/lib/storage.ts
  extensions/pins/src/lib/utils.tsx
  extensions/pins/src/view-groups.tsx
  extensions/pins/src/view-pins.tsx
Labels: extension fix / improvement, OP is author, extension: pins

#10076 Add protobuf2typescript extension
  extensions/protobuf2typescript/.eslintrc.json
  extensions/protobuf2typescript/.gitignore
  extensions/protobuf2typescript/.prettierrc
  extensions/protobuf2typescript/CHANGELOG.md
  extensions/protobuf2typescript/LICENSE
  extensions/protobuf2typescript/README.md
  extensions/protobuf2typescript/assets/command-icon.png
  extensions/protobuf2typescript/metadata/protobuf2typescript-1.png
  extensions/protobuf2typescript/metadata/protobuf2typescript-2.png
  extensions/protobuf2typescript/metadata/protobuf2typescript-3.png
  extensions/protobuf2typescript/package-lock.json
  extensions/protobuf2typescript/package.json
  extensions/protobuf2typescript/src/clipboard.tsx
  extensions/protobuf2typescript/src/index.tsx
  extensions/protobuf2typescript/tsconfig.json
Labels: new extension

#10121 Fix typo in Readwise extension.
  extensions/readwise/CHANGELOG.md
  extensions/readwise/src/highlights/HighlightDetail.tsx
Labels: extension fix / improvement, extension: readwise

#10142 zoom-control: Add start, leave and screenshare commands
  extensions/zoom-control/CHANGELOG.md
  extensions/zoom-control/assets/zoom-leave.png
  extensions/zoom-control/assets/zoom-screenshare.png
  extensions/zoom-control/assets/zoom-start.png
  extensions/zoom-control/package.json
  extensions/zoom-control/src/leave.ts
  extensions/zoom-control/src/screenshare.ts
  extensions/zoom-control/src/start.ts
  extensions/zoom-control/src/stop-screenshare.ts
  extensions/zoom-control/src/zoom-meeting.ts
Labels: extension fix / improvement, OP is author, extension: zoom-control

#10150 zoom-control: Improve handling of accessibility permission errors
  extensions/zoom-control/CHANGELOG.md
  extensions/zoom-control/src/leave.ts
  extensions/zoom-control/src/zoom-meeting.ts
Labels: extension fix / improvement, OP is author, extension: zoom-control

#10152 Update raycast-gemini extension
  extensions/raycast-gemini/CHANGELOG.md
  extensions/raycast-gemini/assets/chat-icon.png
  extensions/raycast-gemini/assets/clipboard-icon.png
  extensions/raycast-gemini/assets/code-icon.png
  extensions/raycast-gemini/assets/explain-icon.png
  extensions/raycast-gemini/assets/gemini-icon.png
  extensions/raycast-gemini/assets/grammar-icon.png
  extensions/raycast-gemini/assets/longer-icon.png
  extensions/raycast-gemini/assets/screen-icon.png
  extensions/raycast-gemini/assets/shorten-icon.png
  extensions/raycast-gemini/assets/summarize-icon.png
  extensions/raycast-gemini/assets/synonym-icon.png
  extensions/raycast-gemini/assets/text-icon.png
  extensions/raycast-gemini/package-lock.json
  extensions/raycast-gemini/package.json
  extensions/raycast-gemini/src/aiChat.jsx
  extensions/raycast-gemini/src/api/gemini.jsx
  extensions/raycast-gemini/src/askAI.jsx
  extensions/raycast-gemini/src/askAboutScreen.jsx
  extensions/raycast-gemini/src/askAboutSelectedText.jsx
  extensions/raycast-gemini/src/comment.jsx
  extensions/raycast-gemini/src/explain.jsx
  extensions/raycast-gemini/src/friendly.jsx
  extensions/raycast-gemini/src/grammar.jsx
  extensions/raycast-gemini/src/longer.jsx
  extensions/raycast-gemini/src/professional.jsx
  extensions/raycast-gemini/src/shorter.jsx
  extensions/raycast-gemini/src/summarize.jsx
  extensions/raycast-gemini/src/synonym.jsx
Labels: extension fix / improvement, OP is author, extension: raycast-gemini

#10092 Add Vaib Extension
  extensions/vaib/.eslintrc.json
  extensions/vaib/.gitignore
  extensions/vaib/.prettierrc
  extensions/vaib/CHANGELOG.md
  extensions/vaib/README.md
  extensions/vaib/assets/command-icon.png
  extensions/vaib/metadata/ask-type.png
  extensions/vaib/metadata/ask-using-clipboard.png
  extensions/vaib/metadata/ask.png
  extensions/vaib/metadata/clipboard-options.png
  extensions/vaib/package-lock.json
  extensions/vaib/package.json
  extensions/vaib/src/ask.tsx
  extensions/vaib/src/clipboard.tsx
  extensions/vaib/src/components/Answer.tsx
  extensions/vaib/src/hooks/useAskVaib.tsx
  extensions/vaib/tsconfig.json
Labels: new extension

#9509 Update gif-search extension
  extensions/gif-search/CHANGELOG.md
  extensions/gif-search/package.json
  extensions/gif-search/src/models/giphy.ts
Labels: extension fix / improvement, extension: gif-search

#10155 Fix for handling VPN names with quotes
  extensions/connect-to-vpn/.gitignore
  extensions/connect-to-vpn/CHANGELOG.md
  extensions/connect-to-vpn/package-lock.json
  extensions/connect-to-vpn/package.json
  extensions/connect-to-vpn/src/index.tsx
Labels: extension fix / improvement, OP is author, extension: connect-to-vpn

#9930 Add sage-hr extension
  extensions/sage-hr/.eslintrc.json
  extensions/sage-hr/.gitignore
  extensions/sage-hr/.prettierrc
  extensions/sage-hr/CHANGELOG.md
  extensions/sage-hr/README.md
  extensions/sage-hr/assets/command-icon.png
  extensions/sage-hr/metadata/sage-hr-1.png
  extensions/sage-hr/metadata/sage-hr-2.png
  extensions/sage-hr/package-lock.json
  extensions/sage-hr/package.json
  extensions/sage-hr/src/index.tsx
  extensions/sage-hr/src/types.ts
  extensions/sage-hr/src/utils.ts
  extensions/sage-hr/tsconfig.json
Labels: new extension

#10156 Update clipmenu extension
  extensions/clipmenu/CHANGELOG.md
  extensions/clipmenu/package.json
  extensions/clipmenu/src/index.tsx
Labels: extension fix / improvement, OP is author, extension: clipmenu

#10169 [Hue] Small improvements
  extensions/hue/CHANGELOG.md
  extensions/hue/README.md
  extensions/hue/assets/icons/question_mark.png
  extensions/hue/package-lock.json
  extensions/hue/package.json
  extensions/hue/src/components/ManageHueBridge.tsx
  extensions/hue/src/controlGroups.tsx
  extensions/hue/src/controlLights.tsx
  extensions/hue/src/helpers/hueResources.ts
  extensions/hue/src/setScene.tsx
Labels: extension fix / improvement, OP is author, extension: hue

#10167 Bump `logitech-litra` extension to v1.0.0
  extensions/logitech-litra/CHANGELOG.md
  extensions/logitech-litra/README.md
  extensions/logitech-litra/package-lock.json
  extensions/logitech-litra/package.json
  extensions/logitech-litra/src/manage-devices.tsx
  extensions/logitech-litra/src/preferences.ts
  extensions/logitech-litra/src/types.ts
  extensions/logitech-litra/src/utils.ts
  extensions/logitech-litra/tsconfig.json
Labels: extension fix / improvement, OP is author, extension: logitech-litra

#10165 Improve Pocket extension
  extensions/pocket/.eslintrc.json
  extensions/pocket/CHANGELOG.md
  extensions/pocket/README.md
  extensions/pocket/assets/pocket-logo.png
  extensions/pocket/media/app-creation.png
  extensions/pocket/media/authorize-screen.png
  extensions/pocket/package-lock.json
  extensions/pocket/package.json
  extensions/pocket/src/browser-tab.ts
  extensions/pocket/src/clipboard.ts
  extensions/pocket/src/create.tsx
  extensions/pocket/src/latest.ts
  extensions/pocket/src/lib/api.ts
  extensions/pocket/src/lib/browser.ts
  extensions/pocket/src/lib/hooks/use-bookmarks.ts
  extensions/pocket/src/lib/hooks/use-tags.ts
  extensions/pocket/src/lib/oauth/client.ts
  extensions/pocket/src/lib/oauth/view.tsx
  extensions/pocket/src/lib/preferences.ts
  extensions/pocket/src/menu-bookmarks.tsx
  extensions/pocket/src/random.ts
  extensions/pocket/src/search.tsx
  extensions/pocket/src/utils/api.ts
  extensions/pocket/src/utils/types.ts
  extensions/pocket/tsconfig.json
Labels: extension fix / improvement, OP is author, extension: pocket

#10062 Add irish-rail extension
  extensions/irish-rail/.eslintrc.json
  extensions/irish-rail/.gitignore
  extensions/irish-rail/.prettierrc
  extensions/irish-rail/CHANGELOG.md
  extensions/irish-rail/README.md
  extensions/irish-rail/assets/command-icon.png
  extensions/irish-rail/assets/green-clock.png
  extensions/irish-rail/assets/orange-warning.png
  extensions/irish-rail/assets/red-warning.png
  extensions/irish-rail/metadata/Screenshot_1.png
  extensions/irish-rail/metadata/Screenshot_2.png
  extensions/irish-rail/metadata/Screenshot_3.png
  extensions/irish-rail/package-lock.json
  extensions/irish-rail/package.json
  extensions/irish-rail/src/index.tsx
  extensions/irish-rail/src/request.ts
  extensions/irish-rail/src/stations.ts
  extensions/irish-rail/src/trains.ts
  extensions/irish-rail/src/xml.ts
  extensions/irish-rail/tsconfig.json
Labels: new extension

#9970 Update schoology extension
  extensions/schoology/CHANGELOG.md
  extensions/schoology/README.md
  extensions/schoology/metadata/schoology-3.png
  extensions/schoology/package.json
  extensions/schoology/src/showGrades.jsx
Labels: extension fix / improvement, OP is author, extension: schoology

#10024 Add hotcorner extension
  extensions/hotcorner/.eslintrc.json
  extensions/hotcorner/.gitignore
  extensions/hotcorner/.prettierrc
  extensions/hotcorner/CHANGELOG.md
  extensions/hotcorner/README.md
  extensions/hotcorner/assets/BL.png
  extensions/hotcorner/assets/BR.png
  extensions/hotcorner/assets/Disable.png
  extensions/hotcorner/assets/SystemPreference.png
  extensions/hotcorner/assets/TL.png
  extensions/hotcorner/assets/TR.png
  extensions/hotcorner/assets/hc.png
  extensions/hotcorner/assets/help.png
  extensions/hotcorner/media/2.png
  extensions/hotcorner/metadata/hotcorner-1.png
  extensions/hotcorner/metadata/hotcorner-2.png
  extensions/hotcorner/package-lock.json
  extensions/hotcorner/package.json
  extensions/hotcorner/src/index.tsx
  extensions/hotcorner/tsconfig.json
Labels: new extension

#10173 feat(Timers): deeplinks, add preset to root via quicklinks, keywords
  extensions/timers/CHANGELOG.md
  extensions/timers/package-lock.json
  extensions/timers/package.json
  extensions/timers/src/formatUtils.ts
  extensions/timers/src/hooks/useTimers.ts
  extensions/timers/src/manageTimers.tsx
  extensions/timers/src/stopwatchUtils.ts
  extensions/timers/src/timerUtils.ts
  extensions/timers/src/types.ts
Labels: extension fix / improvement, OP is author, extension: timers

#10160 [Toggl Track] Bug fixes
  extensions/toggl-track/CHANGELOG.md
  extensions/toggl-track/src/api/projects.ts
  extensions/toggl-track/src/components/CreateTimeEntryForm.tsx
  extensions/toggl-track/src/helpers/revalidateStorage.ts
  extensions/toggl-track/src/index.tsx
Labels: extension fix / improvement, OP is contributor, extension: toggl-track

#10138 Add nfl-information extension
  extensions/nfl-information/.eslintrc.json
  extensions/nfl-information/.gitignore
  extensions/nfl-information/.prettierrc
  extensions/nfl-information/CHANGELOG.md
  extensions/nfl-information/LICENSE
  extensions/nfl-information/README.md
  extensions/nfl-information/assets/nfl-logo.png
  extensions/nfl-information/metadata/nfl-information-1.png
  extensions/nfl-information/metadata/nfl-information-2.png
  extensions/nfl-information/metadata/nfl-information-3.png
  extensions/nfl-information/metadata/nfl-information-4.png
  extensions/nfl-information/metadata/nfl-information-5.png
  extensions/nfl-information/package-lock.json
  extensions/nfl-information/package.json
  extensions/nfl-information/src/model/news-response.tsx
  extensions/nfl-information/src/model/schedule-response.tsx
  extensions/nfl-information/src/model/team-response.tsx
  extensions/nfl-information/src/nfl-news.tsx
  extensions/nfl-information/src/nfl-schedule.tsx
  extensions/nfl-information/src/nfl-team.tsx
  extensions/nfl-information/tsconfig.json
Labels: new extension

#10106 ChatGPT: migrate openai V3 to V4
  extensions/chatgpt/CHANGELOG.md
  extensions/chatgpt/package-lock.json
  extensions/chatgpt/package.json
  extensions/chatgpt/src/hooks/useChat.tsx
  extensions/chatgpt/src/hooks/useChatGPT.tsx
  extensions/chatgpt/src/hooks/useModel.tsx
  extensions/chatgpt/src/hooks/useProxy.tsx
  extensions/chatgpt/src/type.ts
Labels: extension fix / improvement, extension: chatgpt

#10186 feat(arc): "new little arc" command searches highlighted text or opens highlighted URLs
  extensions/arc/CHANGELOG.md
  extensions/arc/package.json
  extensions/arc/src/new-little-arc.ts
  extensions/arc/src/types.ts
  extensions/arc/src/utils.ts
Labels: extension fix / improvement, extension: arc

#10180 Update raycast-lighting-node-search extension
  extensions/raycast-lighting-node-search/CHANGELOG.md
  extensions/raycast-lighting-node-search/package.json
  extensions/raycast-lighting-node-search/src/search-node.tsx
Labels: extension fix / improvement, extension: raycast-lighting-node-search

#10137 Add ars-technica extension
  extensions/ars-technica/.eslintrc.json
  extensions/ars-technica/.gitignore
  extensions/ars-technica/.prettierrc
  extensions/ars-technica/CHANGELOG.md
  extensions/ars-technica/README.md
  extensions/ars-technica/assets/ars_logo.png
  extensions/ars-technica/metadata/ars-technica-1.png
  extensions/ars-technica/package-lock.json
  extensions/ars-technica/package.json
  extensions/ars-technica/src/arsTechnica.ts
  extensions/ars-technica/src/index.tsx
  extensions/ars-technica/tsconfig.json
Labels: new extension

#10181 Update ext/waktu solat
  extensions/waktu-solat/CHANGELOG.md
  extensions/waktu-solat/assets/icon01.png
  extensions/waktu-solat/assets/mosque-icon01.png
  extensions/waktu-solat/assets/mosque01.svg
  extensions/waktu-solat/package-lock.json
  extensions/waktu-solat/package.json
  extensions/waktu-solat/src/index.tsx
  extensions/waktu-solat/src/lib/zones.ts
  extensions/waktu-solat/src/menu-bar.tsx
Labels: extension fix / improvement, OP is author, extension: waktu-solat

#10146 Add tomito-controls extension
  extensions/tomito-controls/.eslintrc.json
  extensions/tomito-controls/.gitignore
  extensions/tomito-controls/.prettierrc
  extensions/tomito-controls/CHANGELOG.md
  extensions/tomito-controls/README.md
  extensions/tomito-controls/assets/tomito-icon.png
  extensions/tomito-controls/package-lock.json
  extensions/tomito-controls/package.json
  extensions/tomito-controls/src/finish.ts
  extensions/tomito-controls/src/hide.ts
  extensions/tomito-controls/src/restart.ts
  extensions/tomito-controls/src/show.ts
  extensions/tomito-controls/src/skip.ts
  extensions/tomito-controls/src/start-next.ts
  extensions/tomito-controls/src/start.ts
  extensions/tomito-controls/src/utilities/checkInstall.ts
  extensions/tomito-controls/tsconfig.json
Labels: new extension

#9879 Add mailerlite-stats extension
  extensions/mailerlite-stats/.eslintrc.json
  extensions/mailerlite-stats/.gitignore
  extensions/mailerlite-stats/.prettierrc
  extensions/mailerlite-stats/CHANGELOG.md
  extensions/mailerlite-stats/README.md
  extensions/mailerlite-stats/assets/icon.png
  extensions/mailerlite-stats/metadata/mailerlite-stats-1.png
  extensions/mailerlite-stats/metadata/mailerlite-stats-2.png
  extensions/mailerlite-stats/metadata/mailerlite-stats-3.png
  extensions/mailerlite-stats/package-lock.json
  extensions/mailerlite-stats/package.json
  extensions/mailerlite-stats/src/mailerlite.tsx
  extensions/mailerlite-stats/tsconfig.json
Labels: new extension

#9949 Add crawldoc extension
  extensions/crawldoc/.eslintrc.json
  extensions/crawldoc/.gitignore
  extensions/crawldoc/.prettierrc
  extensions/crawldoc/CHANGELOG.md
  extensions/crawldoc/README.md
  extensions/crawldoc/assets/icon.png
  extensions/crawldoc/metadata/crawldoc-1.png
  extensions/crawldoc/package-lock.json
  extensions/crawldoc/package.json
  extensions/crawldoc/src/index.jsx
  extensions/crawldoc/tsconfig.json
Labels: new extension

#9915 Add collected-notes extension
  extensions/collected-notes/.eslintrc.json
  extensions/collected-notes/.gitignore
  extensions/collected-notes/.prettierrc
  extensions/collected-notes/CHANGELOG.md
  extensions/collected-notes/README.md
  extensions/collected-notes/assets/command-icon.png
  extensions/collected-notes/metadata/collected-notes-1.png
  extensions/collected-notes/metadata/collected-notes-2.png
  extensions/collected-notes/metadata/collected-notes-3.png
  extensions/collected-notes/metadata/collected-notes-4.png
  extensions/collected-notes/metadata/collected-notes-5.png
  extensions/collected-notes/package-lock.json
  extensions/collected-notes/package.json
  extensions/collected-notes/src/create-note.tsx
  extensions/collected-notes/src/hooks/use-raycast-cache.ts
  extensions/collected-notes/src/hooks/use-sites.ts
  extensions/collected-notes/src/hooks/use-validation.ts
  extensions/collected-notes/src/layouts/InvalidCredentials.tsx
  extensions/collected-notes/src/layouts/Validation.tsx
  extensions/collected-notes/src/list-notes.tsx
  extensions/collected-notes/src/utils/collected-notes.ts
  extensions/collected-notes/tsconfig.json
Labels: new extension

#10175 Apple Reminders: Fixes pop to root issue after creating reminders
  extensions/apple-reminders/CHANGELOG.md
  extensions/apple-reminders/src/create-reminder.tsx
Labels: extension fix / improvement, OP is author, extension: apple-reminders

#10201 Update ars-technica extension
  extensions/ars-technica/package.json
Labels: extension fix / improvement, OP is author, extension: ars-technica

#10206 fix(arc/new-little-arc): don't panic when there's no text selected when opening new little arc
  extensions/arc/CHANGELOG.md
  extensions/arc/src/new-little-arc.ts
Labels: extension fix / improvement, OP is contributor, extension: arc

#10207 Update shortcuts-search extension
  extensions/shortcuts-search/CHANGELOG.md
  extensions/shortcuts-search/src/load/shortcuts-provider.ts
Labels: extension fix / improvement, OP is author, extension: shortcuts-search

#10234 [ChatGPT]: fix azure 401
  extensions/chatgpt/CHANGELOG.md
  extensions/chatgpt/src/hooks/useChat.tsx
Labels: extension fix / improvement, OP is contributor, extension: chatgpt

#10233 Update reclaim-ai extension with HUD notification for start / stop of habits.
  extensions/reclaim-ai/CHANGELOG.md
  extensions/reclaim-ai/src/hooks/useEvent.tsx
Labels: extension fix / improvement, OP is contributor, extension: reclaim-ai

#10128 Update calendar extension
  extensions/calendar/.eslintrc.json
  extensions/calendar/.gitignore
  extensions/calendar/CHANGELOG.md
  extensions/calendar/metadata/calendar-1.png
  extensions/calendar/metadata/calendar-2.png
  extensions/calendar/package-lock.json
  extensions/calendar/package.json
  extensions/calendar/src/index.tsx
  extensions/calendar/tsconfig.json
Labels: extension fix / improvement, extension: calendar

#10227 Update osint-web-check extension
  extensions/osint-web-check/CHANGELOG.md
  extensions/osint-web-check/src/SecurityTxt.tsx
  extensions/osint-web-check/src/osint-web-check.tsx
Labels: extension fix / improvement, OP is author, extension: osint-web-check

#10223 Update whoop extension
  extensions/whoop/CHANGELOG.md
  extensions/whoop/src/biometrics.tsx
  extensions/whoop/src/helpers/formats.ts
Labels: extension fix / improvement, OP is author, extension: whoop

#10215 [Update] [Bunch] Regular Updates
  extensions/bunch/CHANGELOG.md
  extensions/bunch/package-lock.json
  extensions/bunch/package.json
  extensions/bunch/src/components/action-on-bunches.tsx
  extensions/bunch/src/components/action-open-preferences.tsx
  extensions/bunch/src/get-bunch-preferences.tsx
  extensions/bunch/src/hooks/hooks.ts
  extensions/bunch/src/utils/applescript-utils.ts
Labels: extension fix / improvement, OP is author, extension: bunch

#10217 [Update] [Wi-Fi] Optimize UI display
  extensions/wi-fi/CHANGELOG.md
  extensions/wi-fi/package-lock.json
  extensions/wi-fi/package.json
  extensions/wi-fi/src/components/primary-actions.tsx
  extensions/wi-fi/src/enter-password.tsx
  extensions/wi-fi/src/hooks/hooks.ts
  extensions/wi-fi/src/scan-wifi.tsx
  extensions/wi-fi/src/toggle-wi-fi.tsx
  extensions/wi-fi/src/utils/common-utils.ts
  extensions/wi-fi/src/wi-fi-signal.tsx
Labels: extension fix / improvement, OP is author, extension: wi-fi

#10219 [Update] [Life Progress] Optimize UI display
  extensions/life-progress/CHANGELOG.md
  extensions/life-progress/metadata/life-progress-1.png
  extensions/life-progress/metadata/life-progress-2.png
  extensions/life-progress/metadata/life-progress-3.png
  extensions/life-progress/metadata/life-progress-4.png
  extensions/life-progress/package-lock.json
  extensions/life-progress/package.json
  extensions/life-progress/src/add-countdown-date.tsx
  extensions/life-progress/src/components/action-countdown-date.tsx
  extensions/life-progress/src/components/action-open-preferences.tsx
  extensions/life-progress/src/hooks/hooks.ts
  extensions/life-progress/src/types/preferences.ts
  extensions/life-progress/src/utils/common-utils.ts
  extensions/life-progress/src/utils/life-progress-utils.ts
Labels: extension fix / improvement, OP is author, extension: life-progress

#10244 Tmux Sessioner: Launch `Change Default Terminal` if there is none currently set.
  extensions/tmux-sessioner/.gitignore
  extensions/tmux-sessioner/CHANGELOG.md
  extensions/tmux-sessioner/package-lock.json
  extensions/tmux-sessioner/package.json
  extensions/tmux-sessioner/src/SelectTerminalApp.tsx
  extensions/tmux-sessioner/src/choose_terminal_app.tsx
  extensions/tmux-sessioner/src/create_new_session.tsx
  extensions/tmux-sessioner/src/index.tsx
  extensions/tmux-sessioner/src/manage_tmux_windows.tsx
  extensions/tmux-sessioner/src/utils/pathUtils.ts
  extensions/tmux-sessioner/src/utils/sessionUtils.ts
  extensions/tmux-sessioner/src/utils/terminalUtils.ts
Labels: extension fix / improvement, extension: tmux-sessioner

#10243 Quit Applications: Update extension to use `fileIcon` instead of getting it from the app's `.plist`
  extensions/quit-applications/CHANGELOG.md
  extensions/quit-applications/package-lock.json
  extensions/quit-applications/package.json
  extensions/quit-applications/src/index.tsx
Labels: extension fix / improvement, extension: quit-applications

#10268 Pnt/disable commands
  extensions/arc/CHANGELOG.md
  extensions/arc/package.json
Labels: extension fix / improvement, OP is contributor, extension: arc

#10135 Improve performance and UI for "Mark all as read" command
  extensions/mail/CHANGELOG.md
  extensions/mail/src/mark-all-as-read.tsx
Labels: extension fix / improvement, OP is contributor, extension: mail

#10168 [Transmission] Fix remove and delete local data command
  extensions/transmission/.gitignore
  extensions/transmission/CHANGELOG.md
  extensions/transmission/package-lock.json
  extensions/transmission/package.json
  extensions/transmission/src/listTorrents.tsx
  extensions/transmission/src/modules/client.ts
  extensions/transmission/src/utils/renderCells.tsx
Labels: extension fix / improvement, extension: transmission

#10202 Add "Copy Note Title" action
  extensions/obsidian/.gitignore
  extensions/obsidian/CHANGELOG.md
  extensions/obsidian/README.md
  extensions/obsidian/package.json
  extensions/obsidian/src/openVaultCommand.tsx
  extensions/obsidian/src/utils/actions.tsx
Labels: extension fix / improvement, extension: obsidian

#10183 Update footy-report extension
  extensions/footy-report/CHANGELOG.md
  extensions/footy-report/README.md
  extensions/footy-report/metadata/footy-report-5.png
  extensions/footy-report/package.json
  extensions/footy-report/src/components/Standings.tsx
  extensions/footy-report/src/hooks/index.ts
  extensions/footy-report/src/hooks/useFetchFixtures.ts
  extensions/footy-report/src/hooks/useFetchLeagues.ts
  extensions/footy-report/src/hooks/useFetchStandings.ts
  extensions/footy-report/src/searchLeagueStandings.tsx
  extensions/footy-report/src/types.ts
Labels: extension fix / improvement, OP is author, extension: footy-report

#10247 Update codeforces-extension extension
  extensions/codeforces-extension/CHANGELOG.md
  extensions/codeforces-extension/assets/dark.svg
  extensions/codeforces-extension/assets/white.svg
  extensions/codeforces-extension/package.json
  extensions/codeforces-extension/src/upcoming-contest.tsx
Labels: extension fix / improvement, OP is author, extension: codeforces-extension

#10225 Update proton-version extension
  extensions/proton-version/CHANGELOG.md
  extensions/proton-version/assets/os/apple.png
  extensions/proton-version/assets/os/linux.png
  extensions/proton-version/assets/os/windows.png
  extensions/proton-version/metadata/proton-version-1.png
  extensions/proton-version/metadata/proton-version-2.png
  extensions/proton-version/metadata/proton-version-3.png
  extensions/proton-version/metadata/proton-version-4.png
  extensions/proton-version/package.json
  extensions/proton-version/src/Components/BridgeActionItems.tsx
  extensions/proton-version/src/Components/BridgeListItem.tsx
  extensions/proton-version/src/Components/ProtonVersionList.tsx
  extensions/proton-version/src/Components/WebActionItems.tsx
  extensions/proton-version/src/Components/WebListItem.tsx
  extensions/proton-version/src/Components/useFetchBridge.tsx
  extensions/proton-version/src/Components/useFetchWeb.tsx
  extensions/proton-version/src/constantsBridge.ts
  extensions/proton-version/src/constantsWeb.ts
  extensions/proton-version/src/interface.ts
  extensions/proton-version/src/proton-version-beta.tsx
  extensions/proton-version/src/proton-version-bridge.tsx
  extensions/proton-version/src/proton-version.tsx
Labels: extension fix / improvement, OP is author, extension: proton-version

#10097 Add pdfsearch extension
  extensions/pdfsearch/.eslintrc.json
  extensions/pdfsearch/.gitignore
  extensions/pdfsearch/.prettierrc
  extensions/pdfsearch/CHANGELOG.md
  extensions/pdfsearch/Package.swift
  extensions/pdfsearch/README.md
  extensions/pdfsearch/Sources/DrawImage/main.swift
  extensions/pdfsearch/Sources/SearchDocument/Extractor.swift
  extensions/pdfsearch/Sources/SearchDocument/Tokenizer.swift
  extensions/pdfsearch/Sources/SearchDocument/main.swift
  extensions/pdfsearch/assets/DrawImage
  extensions/pdfsearch/assets/SearchDocument
  extensions/pdfsearch/assets/command-icon.png
  extensions/pdfsearch/assets/list-icon.png
  extensions/pdfsearch/metadata/pdfsearch-1.png
  extensions/pdfsearch/metadata/pdfsearch-2.png
  extensions/pdfsearch/metadata/pdfsearch-3.png
  extensions/pdfsearch/package-lock.json
  extensions/pdfsearch/package.json
  extensions/pdfsearch/src/collections.tsx
  extensions/pdfsearch/src/type.d.ts
  extensions/pdfsearch/src/views/form.tsx
  extensions/pdfsearch/src/views/search.tsx
  extensions/pdfsearch/tsconfig.json
Labels: new extension

#10275 [TickTick] Resolve the issue of the 'Auto Fill with AI' executing too frequently
  extensions/ticktick/CHANGELOG.md
  extensions/ticktick/src/create.tsx
Labels: extension fix / improvement, OP is author, extension: ticktick

#10276 Remove rogatty from toggl-track contributors
  extensions/toggl-track/package.json
Labels: extension fix / improvement, OP is contributor, extension: toggl-track

#10040 Update mozilla-firefox extension
  extensions/mozilla-firefox/CHANGELOG.md
  extensions/mozilla-firefox/package.json
  extensions/mozilla-firefox/src/hooks/useHistorySearch.tsx
Labels: extension fix / improvement, status: stalled, extension: mozilla-firefox

#10081 feat: add command to open issue from clipboard to jira
  extensions/jira/CHANGELOG.md
  extensions/jira/package.json
  extensions/jira/src/api/filters.ts
  extensions/jira/src/open-from-clipboard.tsx
Labels: new extension, extension fix / improvement, extension: jira

#10272 Update pdfsearch extension
  extensions/pdfsearch/CHANGELOG.md
  extensions/pdfsearch/package.json
  extensions/pdfsearch/src/collections.tsx
  extensions/pdfsearch/src/views/form.tsx
  extensions/pdfsearch/src/views/search.tsx
Labels: extension fix / improvement, OP is author, extension: pdfsearch

#10254 Upgrade sql-formatter in Toolbox extension
  extensions/toolbox/.gitignore
  extensions/toolbox/CHANGELOG.md
  extensions/toolbox/package-lock.json
  extensions/toolbox/package.json
  extensions/toolbox/src/script/format/sql.ts
Labels: extension fix / improvement, extension: toolbox

#9849 Add new command to open a new Zed window
  extensions/zed-recent-projects/CHANGELOG.md
  extensions/zed-recent-projects/package-lock.json
  extensions/zed-recent-projects/package.json
  extensions/zed-recent-projects/src/open-new-window.tsx
Labels: extension fix / improvement, extension: zed-recent-projects

#10196 Add tidyread---streamline-your-daily-reading extension
  extensions/tidyread---streamline-your-daily-reading/.eslintrc.json
  extensions/tidyread---streamline-your-daily-reading/.gitignore
  extensions/tidyread---streamline-your-daily-reading/.prettierrc
  extensions/tidyread---streamline-your-daily-reading/CHANGELOG.md
  extensions/tidyread---streamline-your-daily-reading/README.md
  extensions/tidyread---streamline-your-daily-reading/assets/arrow-right-from-line.svg
  extensions/tidyread---streamline-your-daily-reading/assets/coffee.svg
  extensions/tidyread---streamline-your-daily-reading/assets/import.svg
  extensions/tidyread---streamline-your-daily-reading/assets/logo.png
  extensions/tidyread---streamline-your-daily-reading/assets/rssicon.svg
  extensions/tidyread---streamline-your-daily-reading/assets/twitter_logo_white.svg
  extensions/tidyread---streamline-your-daily-reading/metadata/tidyread---streamline-your-daily-reading-1.png
  extensions/tidyread---streamline-your-daily-reading/metadata/tidyread---streamline-your-daily-reading-2.png
  extensions/tidyread---streamline-your-daily-reading/metadata/tidyread---streamline-your-daily-reading-3.png
  extensions/tidyread---streamline-your-daily-reading/metadata/tidyread---streamline-your-daily-reading-4.png
  extensions/tidyread---streamline-your-daily-reading/metadata/tidyread---streamline-your-daily-reading-5.png
  extensions/tidyread---streamline-your-daily-reading/metadata/tidyread---streamline-your-daily-reading-6.png
  extensions/tidyread---streamline-your-daily-reading/package-lock.json
  extensions/tidyread---streamline-your-daily-reading/package.json
  extensions/tidyread---streamline-your-daily-reading/src/add-source.command.tsx
  extensions/tidyread---streamline-your-daily-reading/src/auto-digest.command.tsx
  extensions/tidyread---streamline-your-daily-reading/src/components/CommonActions.tsx
  extensions/tidyread---streamline-your-daily-reading/src/components/CustomActionPanel.tsx
  extensions/tidyread---streamline-your-daily-reading/src/components/DigestDetail.tsx
  extensions/tidyread---streamline-your-daily-reading/src/components/DigestListItem.tsx
  extensions/tidyread---streamline-your-daily-reading/src/components/SharableLinkAction.tsx
  extensions/tidyread---streamline-your-daily-reading/src/components/SourceForm.tsx
  extensions/tidyread---streamline-your-daily-reading/src/components/SourcesJson.tsx
  extensions/tidyread---streamline-your-daily-reading/src/const.ts
  extensions/tidyread---streamline-your-daily-reading/src/daily-read.command.tsx
  extensions/tidyread---streamline-your-daily-reading/src/digest-list.command.tsx
  extensions/tidyread---streamline-your-daily-reading/src/digest/index.ts
  extensions/tidyread---streamline-your-daily-reading/src/manage-source-list.command.tsx
  extensions/tidyread---streamline-your-daily-reading/src/providers/index.ts
  extensions/tidyread---streamline-your-daily-reading/src/providers/moonshot.ts
  extensions/tidyread---streamline-your-daily-reading/src/providers/openai.ts
  extensions/tidyread---streamline-your-daily-reading/src/providers/raycast.ts
  extensions/tidyread---streamline-your-daily-reading/src/store/index.ts
  extensions/tidyread---streamline-your-daily-reading/src/types.ts
  extensions/tidyread---streamline-your-daily-reading/src/utils/biz.ts
  extensions/tidyread---streamline-your-daily-reading/src/utils/error.ts
  extensions/tidyread---streamline-your-daily-reading/src/utils/gpt.ts
  extensions/tidyread---streamline-your-daily-reading/src/utils/notify.ts
  extensions/tidyread---streamline-your-daily-reading/src/utils/preference.ts
  extensions/tidyread---streamline-your-daily-reading/src/utils/request.ts
  extensions/tidyread---streamline-your-daily-reading/src/utils/util.ts
  extensions/tidyread---streamline-your-daily-reading/src/utils/validate.ts
  extensions/tidyread---streamline-your-daily-reading/src/utils/writefreely.ts
  extensions/tidyread---streamline-your-daily-reading/tsconfig.json
Labels: new extension

#10218 [ssh-manager] fix parsing remote command in ssh config
  extensions/ssh-manager/CHANGELOG.md
  extensions/ssh-manager/src/storage.api.ts
Labels: extension fix / improvement, extension: ssh-manager

#10286 [Obsidian] Fix hotkey bug for Search Media
  extensions/obsidian/CHANGELOG.md
  extensions/obsidian/src/components/MediaGrid.tsx
  extensions/obsidian/src/utils/search.tsx
Labels: extension fix / improvement, OP is author, extension: obsidian

#10285 Update whoop extension
  extensions/whoop/CHANGELOG.md
  extensions/whoop/src/overview.tsx
Labels: extension fix / improvement, OP is author, extension: whoop

#10230 Add zerion extension
  extensions/zerion/.eslintrc.json
  extensions/zerion/.gitignore
  extensions/zerion/.prettierrc
  extensions/zerion/CHANGELOG.md
  extensions/zerion/README.md
  extensions/zerion/assets/icon.png
  extensions/zerion/media/screenshot.png
  extensions/zerion/metadata/Raycast 2024-01-19 at 00.15.14.png
  extensions/zerion/metadata/Raycast 2024-01-19 at 00.15.49.png
  extensions/zerion/metadata/Raycast 2024-01-19 at 00.16.01.png
  extensions/zerion/metadata/Raycast 2024-01-19 at 00.16.45.png
  extensions/zerion/package-lock.json
  extensions/zerion/package.json
  extensions/zerion/src/collection.tsx
  extensions/zerion/src/favorites.tsx
  extensions/zerion/src/market.tsx
  extensions/zerion/src/overview.tsx
  extensions/zerion/src/top-gainers.tsx
  extensions/zerion/src/top-losers.tsx
  extensions/zerion/tsconfig.json
Labels: new extension

#10294 feat(Timers): menu bar quality-of-life upgrades and configurability
  extensions/timers/CHANGELOG.md
  extensions/timers/package-lock.json
  extensions/timers/package.json
  extensions/timers/src/configureMenubarPresets.tsx
  extensions/timers/src/formatUtils.ts
  extensions/timers/src/hooks/useDefaultPresetVisibles.ts
  extensions/timers/src/hooks/useTimers.ts
  extensions/timers/src/menuBarUtils.ts
  extensions/timers/src/startCustomTimer.tsx
  extensions/timers/src/stopwatchMenuBar.tsx
  extensions/timers/src/timerUtils.ts
  extensions/timers/src/timersMenuBar.tsx
  extensions/timers/src/types.ts
Labels: extension fix / improvement, OP is author, OP is contributor, extension: timers

#10136 Add convert-3d-models extension
  extensions/convert-3d-models/.eslintrc.json
  extensions/convert-3d-models/.gitignore
  extensions/convert-3d-models/.prettierrc
  extensions/convert-3d-models/CHANGELOG.md
  extensions/convert-3d-models/CONTRIBUTING.md
  extensions/convert-3d-models/LICENSE
  extensions/convert-3d-models/README.md
  extensions/convert-3d-models/assets/extension_icon.png
  extensions/convert-3d-models/assets/freecad_convert.py
  extensions/convert-3d-models/metadata/1.png
  extensions/convert-3d-models/metadata/2.png
  extensions/convert-3d-models/package-lock.json
  extensions/convert-3d-models/package.json
  extensions/convert-3d-models/src/convert.tsx
  extensions/convert-3d-models/src/operations/convertOperation.ts
  extensions/convert-3d-models/src/quickConvertOBJ.tsx
  extensions/convert-3d-models/src/quickConvertSTL.tsx
  extensions/convert-3d-models/src/quickConvertSTP.tsx
  extensions/convert-3d-models/src/utilities/checkinstall.ts
  extensions/convert-3d-models/src/utilities/enums.ts
  extensions/convert-3d-models/src/utilities/preferences.ts
  extensions/convert-3d-models/src/utilities/utils.ts
  extensions/convert-3d-models/tsconfig.json
Labels: new extension

#10242 Update homeassistant extension
  extensions/homeassistant/CHANGELOG.md
  extensions/homeassistant/package.json
  extensions/homeassistant/src/components/hooks.tsx
Labels: extension fix / improvement, extension: homeassistant

#10296 Update jetbrains extension
  extensions/jetbrains/CHANGELOG.md
  extensions/jetbrains/src/.channel.json.d.ts
  extensions/jetbrains/src/components/OpenInJetBrainsApp.tsx
  extensions/jetbrains/src/util.ts
Labels: extension fix / improvement, OP is author, extension: jetbrains

#10293 Update fantastical extension
  extensions/fantastical/CHANGELOG.md
  extensions/fantastical/package.json
Labels: extension fix / improvement, extension: fantastical
