Repository raycast/extensions, pull requests merged in 2024-07, with the labels that each got.

#12814 Update capture-fullpage-of-website extension
  extensions/capture-fullpage-of-website/.eslintrc.json
  extensions/capture-fullpage-of-website/.gitignore
  extensions/capture-fullpage-of-website/.prettierrc
  extensions/capture-fullpage-of-website/CHANGELOG.md
  extensions/capture-fullpage-of-website/package-lock.json
  extensions/capture-fullpage-of-website/package.json
  extensions/capture-fullpage-of-website/src/screenshot-full-page.tsx
  extensions/capture-fullpage-of-website/tsconfig.json
Labels: extension fix / improvement, extension: capture-fullpage-of-website

#12837 Update bear extension
  extensions/bear/.gitignore
  extensions/bear/CHANGELOG.md
  extensions/bear/assets/sql-wasm.wasm
  extensions/bear/package.json
  extensions/bear/src/new-note.tsx
Labels: extension fix / improvement, extension: bear

#13002 Remove Designer News extension
  extensions/designer-news/CHANGELOG.md
  extensions/designer-news/package-lock.json
  extensions/designer-news/package.json
  extensions/designer-news/src/index.tsx
Labels: extension fix / improvement, extension: designer-news

#13004 [Amazon AWS] AwsAction.Console creates sso shortcut links
  extensions/amazon-aws/CHANGELOG.md
  extensions/amazon-aws/src/components/common/action.tsx
  extensions/amazon-aws/src/console.tsx
  extensions/amazon-aws/src/util/index.ts
Labels: extension fix / improvement, OP is contributor, extension: amazon-aws

#13289 Update raycast-explorer extension
  extensions/raycast-explorer/CHANGELOG.md
  extensions/raycast-explorer/README.md
  extensions/raycast-explorer/src/explore-presets.tsx
  extensions/raycast-explorer/src/explore-prompts.tsx
  extensions/raycast-explorer/src/explore-snippets.tsx
  extensions/raycast-explorer/src/explore-themes.tsx
  extensions/raycast-explorer/src/helpers.ts
Labels: extension fix / improvement, OP is contributor, extension: raycast-explorer

#13139 feat: add placeholder for split command for range format
  extensions/ilovepdf/CHANGELOG.md
  extensions/ilovepdf/src/split-pdf.tsx
Labels: extension fix / improvement, OP is author, extension: ilovepdf

#13157 Add open-laravel-herd-site extension
  extensions/open-laravel-herd-site/.eslintrc.json
  extensions/open-laravel-herd-site/.gitignore
  extensions/open-laravel-herd-site/.prettierrc
  extensions/open-laravel-herd-site/CHANGELOG.md
  extensions/open-laravel-herd-site/README.md
  extensions/open-laravel-herd-site/assets/icon.png
  extensions/open-laravel-herd-site/package-lock.json
  extensions/open-laravel-herd-site/package.json
  extensions/open-laravel-herd-site/src/open-site.tsx
  extensions/open-laravel-herd-site/tsconfig.json
Labels: new extension

#12934 Update mite extension
  extensions/mite/CHANGELOG.md
  extensions/mite/package-lock.json
  extensions/mite/package.json
  extensions/mite/src/setup-fast-time-entry.tsx
  extensions/mite/src/time-entry.tsx
  extensions/mite/src/validations.ts
Labels: extension fix / improvement, extension: mite

#13196 Update open-folders extension
  extensions/open-folders/CHANGELOG.md
  extensions/open-folders/README.md
  extensions/open-folders/package.json
  extensions/open-folders/src/fileSpeedDial.tsx
  extensions/open-folders/src/folderSpeedDial.tsx
Labels: extension fix / improvement, extension: open-folders

#13128 [New] [Browser Tabs] Search all open browser tabs
  extensions/browser-tabs/.eslintrc.json
  extensions/browser-tabs/.gitignore
  extensions/browser-tabs/.prettierrc
  extensions/browser-tabs/CHANGELOG.md
  extensions/browser-tabs/README.md
  extensions/browser-tabs/assets/browser-tabs-icon.png
  extensions/browser-tabs/assets/empty-icon.png
  extensions/browser-tabs/metadata/browser-tabs-1.png
  extensions/browser-tabs/metadata/browser-tabs-2.png
  extensions/browser-tabs/package-lock.json
  extensions/browser-tabs/package.json
  extensions/browser-tabs/src/components/action-settings.tsx
  extensions/browser-tabs/src/components/action-tab.tsx
  extensions/browser-tabs/src/hooks/useData.ts
  extensions/browser-tabs/src/hooks/useDefaultBrowser.ts
  extensions/browser-tabs/src/hooks/useFrontmostApp.ts
  extensions/browser-tabs/src/index.tsx
  extensions/browser-tabs/src/types/preferences.ts
  extensions/browser-tabs/src/types/types.ts
  extensions/browser-tabs/src/utils/applescript-utils.ts
  extensions/browser-tabs/src/utils/common-utils.ts
  extensions/browser-tabs/src/utils/constants.ts
  extensions/browser-tabs/tsconfig.json
Labels: new extension

#13053 Add pinch-svg extension
  extensions/pinch-svg/.eslintrc.json
  extensions/pinch-svg/.gitattributes
  extensions/pinch-svg/.gitignore
  extensions/pinch-svg/.prettierrc
  extensions/pinch-svg/CHANGELOG.md
  extensions/pinch-svg/LICENSE
  extensions/pinch-svg/README.md
  extensions/pinch-svg/Tasks.md
  extensions/pinch-svg/assets/extension_icon.png
  extensions/pinch-svg/assets/gallery-image-1.png
  extensions/pinch-svg/assets/gallery-image-2.png
  extensions/pinch-svg/assets/gallery-image-3.png
  extensions/pinch-svg/metadata/svg-spacing-1.png
  extensions/pinch-svg/metadata/svg-spacing-2.png
  extensions/pinch-svg/metadata/svg-spacing-3.png
  extensions/pinch-svg/package-lock.json
  extensions/pinch-svg/package.json
  extensions/pinch-svg/src/custom-rectangle.tsx
  extensions/pinch-svg/src/grid.tsx
  extensions/pinch-svg/tsconfig.json
Labels: new extension

#13201 Update gg-deals extension
  extensions/gg-deals/CHANGELOG.md
  extensions/gg-deals/src/index.tsx
Labels: extension fix / improvement, OP is author, extension: gg-deals

#12996 [Messages] Added a preference to close Raycast when sending a message
  extensions/messages/CHANGELOG.md
  extensions/messages/package-lock.json
  extensions/messages/package.json
  extensions/messages/src/send-message.tsx
  extensions/messages/swift/contacts/Package.resolved
  extensions/messages/swift/contacts/Package.swift
Labels: extension fix / improvement, OP is author, extension: messages

#13305 GitHub: Fixes unread notifications flickering
  extensions/github/CHANGELOG.md
  extensions/github/src/components/NotificationListItem.tsx
  extensions/github/src/notifications.tsx
  extensions/github/src/unread-notifications.tsx
Labels: extension fix / improvement, OP is author, extension: github

#13189 [Github Gist] Optimise command
  extensions/github-gist/CHANGELOG.md
  extensions/github-gist/metadata/github-gist-1.png
  extensions/github-gist/metadata/github-gist-2.png
  extensions/github-gist/metadata/github-gist-3.png
  extensions/github-gist/package-lock.json
  extensions/github-gist/package.json
  extensions/github-gist/src/components/action-settings.tsx
  extensions/github-gist/src/components/gist-action.tsx
  extensions/github-gist/src/components/gist-empty-view.tsx
  extensions/github-gist/src/components/gist-file-form.tsx
  extensions/github-gist/src/create-gist.tsx
  extensions/github-gist/src/hooks/hooks.ts
  extensions/github-gist/src/hooks/useFrontmostApp.ts
  extensions/github-gist/src/hooks/useGistContent.ts
  extensions/github-gist/src/hooks/useGists.ts
  extensions/github-gist/src/search-gists.tsx
  extensions/github-gist/src/types/preferences.ts
  extensions/github-gist/src/util/gist-utils.ts
  extensions/github-gist/src/util/utils.ts
  extensions/github-gist/tsconfig.json
Labels: extension fix / improvement, OP is author, extension: github-gist

#13076 Add mikrus extension
  extensions/mikrus/.eslintrc.json
  extensions/mikrus/.gitignore
  extensions/mikrus/.prettierrc
  extensions/mikrus/CHANGELOG.md
  extensions/mikrus/Makefile
  extensions/mikrus/README.md
  extensions/mikrus/assets/icon.png
  extensions/mikrus/metadata/1.png
  extensions/mikrus/metadata/2.png
  extensions/mikrus/package-lock.json
  extensions/mikrus/package.json
  extensions/mikrus/src/hook/useServer.tsx
  extensions/mikrus/src/server.tsx
  extensions/mikrus/src/type/base.ts
  extensions/mikrus/src/type/config.ts
  extensions/mikrus/src/type/hook.ts
  extensions/mikrus/src/type/server.ts
  extensions/mikrus/src/view/server/form.tsx
  extensions/mikrus/src/view/server/list.tsx
  extensions/mikrus/tsconfig.json
Labels: new extension

#13248 [Todoist] Fixes for menu bar BG refresh
  extensions/todoist/CHANGELOG.md
  extensions/todoist/package-lock.json
  extensions/todoist/package.json
  extensions/todoist/src/helpers/menu-bar.ts
Labels: extension fix / improvement, extension: todoist

#13232 [Ruler] Add copy distance to clipboard and drag mode preferences
  extensions/ruler/.gitignore
  extensions/ruler/CHANGELOG.md
  extensions/ruler/package-lock.json
  extensions/ruler/package.json
  extensions/ruler/src/ruler.ts
  extensions/ruler/swift/Ruler/Sources/Ruler.swift
Labels: extension fix / improvement, OP is author, extension: ruler

#12820 Update `ImprovMX` Extension (fix #12812, #12813, #12817) (dev QoL)
  extensions/improvmx/.eslintrc.json
  extensions/improvmx/.gitignore
  extensions/improvmx/CHANGELOG.md
  extensions/improvmx/metadata/improvmx-5.png
  extensions/improvmx/package-lock.json
  extensions/improvmx/package.json
  extensions/improvmx/src/add-domain.tsx
  extensions/improvmx/src/components/ErrorComponent.tsx
  extensions/improvmx/src/constants.ts
  extensions/improvmx/src/create-alias.tsx
  extensions/improvmx/src/create-masked-email-address.tsx
  extensions/improvmx/src/create-smtp-credentials.tsx
  extensions/improvmx/src/hooks.ts
  extensions/improvmx/src/manage-domain-and-aliases.tsx
  extensions/improvmx/src/open-dashboard.tsx
  extensions/improvmx/src/types.ts
  extensions/improvmx/src/utils.ts
  extensions/improvmx/tsconfig.json
Labels: extension fix / improvement, extension: improvmx

#13203 Update yabai extension
  extensions/yabai/CHANGELOG.md
  extensions/yabai/package.json
  extensions/yabai/src/layout-bsp.ts
  extensions/yabai/src/layout-float.ts
  extensions/yabai/src/layout-stack.ts
  extensions/yabai/src/restart.ts
  extensions/yabai/src/start.ts
  extensions/yabai/src/stop.ts
Labels: extension fix / improvement, extension: yabai

#12981 [Notion] Refactor extension
  extensions/notion/CHANGELOG.md
  extensions/notion/src/components/DatabaseView.tsx
  extensions/notion/src/components/PageDetail.tsx
  extensions/notion/src/components/PageListItem.tsx
  extensions/notion/src/components/actions/ActionEditPageProperty.tsx
  extensions/notion/src/components/forms/DatabaseViewForm.tsx
  extensions/notion/src/components/forms/PagePropertyField.tsx
  extensions/notion/src/hooks/index.ts
  extensions/notion/src/utils/notion/database/index.ts
  extensions/notion/src/utils/notion/database/property.ts
  extensions/notion/src/utils/notion/index.ts
  extensions/notion/src/utils/notion/page/index.ts
  extensions/notion/src/utils/notion/page/property.ts
Labels: extension fix / improvement, OP is contributor, extension: notion

#13214 Update moco extension
  extensions/moco/.prettierrc
  extensions/moco/CHANGELOG.md
  extensions/moco/src/commands/activities/api.ts
  extensions/moco/src/commands/activities/components/ActivityEdit.tsx
  extensions/moco/src/commands/activities/components/ActivityListItem.tsx
  extensions/moco/src/commands/activities/components/ActivityStart.tsx
  extensions/moco/src/commands/activities/types.ts
  extensions/moco/src/commands/projects/api.ts
  extensions/moco/src/commands/tasks/api.ts
Labels: extension fix / improvement, OP is author, extension: moco

#13217 [Menubar Calendar] Show Calendar Events in Menubar
  extensions/menubar-calendar/CHANGELOG.md
  extensions/menubar-calendar/README.md
  extensions/menubar-calendar/package-lock.json
  extensions/menubar-calendar/package.json
  extensions/menubar-calendar/src/index.tsx
  extensions/menubar-calendar/src/types/preferences.ts
  extensions/menubar-calendar/src/utils/calendar-events-utils.ts
  extensions/menubar-calendar/src/utils/calendar-utils.ts
  extensions/menubar-calendar/src/utils/common-utils.ts
  extensions/menubar-calendar/src/utils/reminders-utils.ts
Labels: extension fix / improvement, OP is author, extension: menubar-calendar

#13220 Update git-commands: Improved search and use Git documentation
  extensions/git-commands/CHANGELOG.md
  extensions/git-commands/package.json
  extensions/git-commands/src/alias.json
  extensions/git-commands/src/search-commands.tsx
Labels: extension fix / improvement, OP is author, extension: git-commands

#13244 Fix Typo
  extensions/raycast-ollama/CHANGELOG.md
  extensions/raycast-ollama/src/lib/ui/error.ts
Labels: extension fix / improvement, extension: raycast-ollama

#13218 [Cal.com] Visual refresh for "View Bookings" and "Share Meeting Links" commands
  extensions/cal-com-share-meeting-links/CHANGELOG.md
  extensions/cal-com-share-meeting-links/metadata/cal-com-share-meeting-links-0.png
  extensions/cal-com-share-meeting-links/metadata/cal-com-share-meeting-links-1.png
  extensions/cal-com-share-meeting-links/metadata/cal-com-share-meeting-links-2.png
  extensions/cal-com-share-meeting-links/metadata/cal-com-share-meeting-links-3.png
  extensions/cal-com-share-meeting-links/package-lock.json
  extensions/cal-com-share-meeting-links/package.json
  extensions/cal-com-share-meeting-links/src/api/cal.com.ts
  extensions/cal-com-share-meeting-links/src/components/cancel-booking.tsx
  extensions/cal-com-share-meeting-links/src/index.tsx
  extensions/cal-com-share-meeting-links/src/view-bookings.tsx
  extensions/cal-com-share-meeting-links/tsconfig.json
Labels: extension fix / improvement, extension: cal-com-share-meeting-links

#13225 [IconPark] Refactor command
  extensions/iconpark/.eslintrc.json
  extensions/iconpark/CHANGELOG.md
  extensions/iconpark/assets/icon-park.png
  extensions/iconpark/package-lock.json
  extensions/iconpark/package.json
  extensions/iconpark/src/components/action-settings.tsx
  extensions/iconpark/src/components/action-to-Icon-park.tsx
  extensions/iconpark/src/components/empty-view.tsx
  extensions/iconpark/src/components/form-filled.tsx
  extensions/iconpark/src/components/form-multi-color.tsx
  extensions/iconpark/src/components/form-outline.tsx
  extensions/iconpark/src/components/form-two-tone.tsx
  extensions/iconpark/src/config-icon.tsx
  extensions/iconpark/src/hooks/hooks.ts
  extensions/iconpark/src/hooks/useIconConfig.ts
  extensions/iconpark/src/search-icons.tsx
  extensions/iconpark/src/types/types.ts
  extensions/iconpark/src/utils/common-utils.ts
  extensions/iconpark/src/utils/constants.ts
  extensions/iconpark/tsconfig.json
Labels: extension fix / improvement, OP is author, extension: iconpark

#13227 [Copy Path] Support more browsers
  extensions/copy-path/.eslintrc.json
  extensions/copy-path/CHANGELOG.md
  extensions/copy-path/metadata/copy-path-1.png
  extensions/copy-path/package-lock.json
  extensions/copy-path/package.json
  extensions/copy-path/src/copy-path.tsx
  extensions/copy-path/src/types/preferences.ts
  extensions/copy-path/src/utils/applescript-utils.ts
  extensions/copy-path/src/utils/common-utils.ts
  extensions/copy-path/src/utils/constants.ts
  extensions/copy-path/tsconfig.json
Labels: extension fix / improvement, OP is author, extension: copy-path

#13240 Connect to VPN: Show current connection status in menu bar
  extensions/connect-to-vpn/CHANGELOG.md
  extensions/connect-to-vpn/assets/network-connected.png
  extensions/connect-to-vpn/assets/network-connected@dark.png
  extensions/connect-to-vpn/assets/network-disconnected.png
  extensions/connect-to-vpn/assets/network-disconnected@dark.png
  extensions/connect-to-vpn/src/menu-bar.tsx
  extensions/connect-to-vpn/src/network-services.ts
Labels: extension fix / improvement, OP is contributor, extension: connect-to-vpn

#13242 [Stickies] Search stickies
  extensions/stickies/CHANGELOG.md
  extensions/stickies/README.md
  extensions/stickies/metadata/stickies-1.png
  extensions/stickies/metadata/stickies-2.png
  extensions/stickies/metadata/stickies-3.png
  extensions/stickies/package-lock.json
  extensions/stickies/package.json
  extensions/stickies/src/close-stickies-note.tsx
  extensions/stickies/src/components/actions-notes.tsx
  extensions/stickies/src/components/stickies-empty-view.tsx
  extensions/stickies/src/components/stickies-list-empty-view.tsx
  extensions/stickies/src/hooks/useFrontmostApp.ts
  extensions/stickies/src/hooks/useStickies.ts
  extensions/stickies/src/menubar-stickies.tsx
  extensions/stickies/src/new-stickies-note.tsx
  extensions/stickies/src/search-stickies.tsx
  extensions/stickies/src/toggle-stickies-collapse.tsx
  extensions/stickies/src/toggle-stickies-float-on-top.tsx
  extensions/stickies/src/toggle-stickies-window.tsx
  extensions/stickies/src/types/preference.ts
  extensions/stickies/src/utils/common-utils.ts
  extensions/stickies/src/utils/stickies-utils.ts
Labels: extension fix / improvement, OP is author, extension: stickies

#13224 [Shell History] Fix multi line command issue
  extensions/shell-history/CHANGELOG.md
  extensions/shell-history/README.md
  extensions/shell-history/metadata/shell-history-3.png
  extensions/shell-history/package-lock.json
  extensions/shell-history/package.json
  extensions/shell-history/src/components/action-open-preferences.tsx
  extensions/shell-history/src/components/action-shell-command.tsx
  extensions/shell-history/src/hooks/useShellHistory.ts
  extensions/shell-history/src/hooks/useShellHistoryBash.ts
  extensions/shell-history/src/hooks/useShellHistoryFish.ts
  extensions/shell-history/src/hooks/useShellHistoryZsh.ts
  extensions/shell-history/src/hooks/useShowDetail.ts
  extensions/shell-history/src/index.tsx
  extensions/shell-history/src/types/preferences.ts
  extensions/shell-history/src/types/types.ts
  extensions/shell-history/src/utils/common-utils.ts
  extensions/shell-history/src/utils/constants.ts
  extensions/shell-history/src/utils/shell-utils.ts
Labels: extension fix / improvement, OP is author, extension: shell-history

#13221 feat: add protect PDF command
  extensions/ilovepdf/CHANGELOG.md
  extensions/ilovepdf/package.json
  extensions/ilovepdf/src/protect-pdf.tsx
Labels: extension fix / improvement, OP is author, extension: ilovepdf

#13238 feat: add rotate PDF command
  extensions/ilovepdf/CHANGELOG.md
  extensions/ilovepdf/package.json
  extensions/ilovepdf/src/rotate-pdf.tsx
Labels: extension fix / improvement, OP is author, extension: ilovepdf

#13255 update icon
  extensions/sip/CHANGELOG.md
  extensions/sip/assets/sip-icon.png
Labels: extension fix / improvement, OP is author, extension: sip

#13246 [Color Picker] Add color wheel feature command
  extensions/color-picker/CHANGELOG.md
  extensions/color-picker/assets/rgb-color-wheel.webp
  extensions/color-picker/package.json
  extensions/color-picker/src/color-wheel.tsx
Labels: extension fix / improvement, extension: color-picker

#13254 Session extension updates
  extensions/session/CHANGELOG.md
  extensions/session/package.json
  extensions/session/src/checkInstall.tsx
  extensions/session/src/session-pause.ts
Labels: extension fix / improvement, OP is author, extension: session

#13279 feat(tailscale): custom admin console url
  extensions/tailscale/CHANGELOG.md
  extensions/tailscale/package-lock.json
  extensions/tailscale/package.json
  extensions/tailscale/src/admin.tsx
  extensions/tailscale/tsconfig.json
Labels: extension fix / improvement, OP is contributor, extension: tailscale

#13284 [Google Translate] Keep language names consistent with `translate.google.com`
  extensions/google-translate/CHANGELOG.md
  extensions/google-translate/package.json
Labels: extension fix / improvement, extension: google-translate

#13290 Use frecency sorting in Visual Studio Code - Project Manager project search
  extensions/visual-studio-code-project-manager/.gitignore
  extensions/visual-studio-code-project-manager/CHANGELOG.md
  extensions/visual-studio-code-project-manager/package-lock.json
  extensions/visual-studio-code-project-manager/package.json
  extensions/visual-studio-code-project-manager/src/search-project-manager-projects.tsx
  extensions/visual-studio-code-project-manager/src/types.ts
Labels: extension fix / improvement, OP is contributor, extension: visual-studio-code-project-manager

#13300 [Youtube Downloader] Update copy the video or audio file name with the video title
  extensions/youtube-downloader/CHANGELOG.md
  extensions/youtube-downloader/package.json
  extensions/youtube-downloader/src/index.tsx
  extensions/youtube-downloader/src/utils.ts
Labels: extension fix / improvement, extension: youtube-downloader

#13318 Update rapidcap extension
  extensions/rapidcap/CHANGELOG.md
  extensions/rapidcap/src/create-card.tsx
Labels: extension fix / improvement, OP is contributor, extension: rapidcap

#13320 Update who-is-off-today extension
  extensions/who-is-off-today/CHANGELOG.md
  extensions/who-is-off-today/metadata/who-is-off-today-1.png
  extensions/who-is-off-today/metadata/who-is-off-today-2.png
  extensions/who-is-off-today/metadata/who-is-off-today-3.png
Labels: extension fix / improvement, OP is author, extension: who-is-off-today

#13259 Add oktasearch extension
  extensions/oktasearch/.eslintrc.json
  extensions/oktasearch/.gitignore
  extensions/oktasearch/.prettierrc
  extensions/oktasearch/CHANGELOG.md
  extensions/oktasearch/README.md
  extensions/oktasearch/assets/okta.png
  extensions/oktasearch/metadata/oktasearch-1.png
  extensions/oktasearch/metadata/oktasearch-2.png
  extensions/oktasearch/metadata/oktasearch-3.png
  extensions/oktasearch/package-lock.json
  extensions/oktasearch/package.json
  extensions/oktasearch/src/index.tsx
  extensions/oktasearch/tsconfig.json
Labels: new extension

#13132 [Linear] Typeahead fixes for teams and users and attaching links to issues
  extensions/linear/CHANGELOG.md
  extensions/linear/package-lock.json
  extensions/linear/package.json
  extensions/linear/src/active-cycle.tsx
  extensions/linear/src/api/attachments.ts
  extensions/linear/src/api/getTeams.ts
  extensions/linear/src/api/linearClient.ts
  extensions/linear/src/assigned-issues.tsx
  extensions/linear/src/components/CreateIssueForm.tsx
  extensions/linear/src/components/CreateProjectForm.tsx
  extensions/linear/src/components/EditIssueForm.tsx
  extensions/linear/src/components/EditProjectForm.tsx
  extensions/linear/src/components/IssueActions/IssueActions.tsx
  extensions/linear/src/components/IssueAttachments.tsx
  extensions/linear/src/components/IssueAttachmentsForm.tsx
  extensions/linear/src/components/IssueDetail.tsx
  extensions/linear/src/components/IssueListItem.tsx
  extensions/linear/src/components/Project.tsx
  extensions/linear/src/components/ProjectIssues.tsx
  extensions/linear/src/components/ProjectList.tsx
  extensions/linear/src/components/StateIssueList.tsx
  extensions/linear/src/components/SubIssues.tsx
  extensions/linear/src/create-issue-for-myself.ts
  extensions/linear/src/create-issue.tsx
  extensions/linear/src/created-issues.tsx
  extensions/linear/src/helpers/links.ts
  extensions/linear/src/helpers/teams.ts
  extensions/linear/src/hooks/useTeams.ts
  extensions/linear/src/hooks/useUsers.ts
  extensions/linear/src/notifications.tsx
  extensions/linear/src/search-issues.tsx
Labels: extension fix / improvement, OP is contributor, extension: linear

#13039 [Slack] Add Search Messages command
  extensions/slack/CHANGELOG.md
  extensions/slack/package.json
  extensions/slack/src/search-messages.tsx
  extensions/slack/src/search.tsx
  extensions/slack/src/shared/OpenInSlack.tsx
  extensions/slack/src/shared/client/SlackClient.ts
  extensions/slack/src/shared/client/SlackClientHooks.ts
  extensions/slack/src/shared/client/WebClient.ts
  extensions/slack/src/shared/utils.ts
  extensions/slack/src/unread-messages.tsx
Labels: extension fix / improvement, OP is contributor, extension: slack

#13079 [GitHub] Adds sorting action and fixed create branch name issue
  extensions/github/CHANGELOG.md
  extensions/github/package-lock.json
  extensions/github/package.json
  extensions/github/src/components/DiscussionListItem.tsx
  extensions/github/src/components/IssueActions.tsx
  extensions/github/src/components/IssueListItem.tsx
  extensions/github/src/components/PullRequestActions.tsx
  extensions/github/src/components/PullRequestListItem.tsx
  extensions/github/src/components/RepositoryActions.tsx
  extensions/github/src/components/RepositoryDiscussions.tsx
  extensions/github/src/components/RepositoryIssues.tsx
  extensions/github/src/components/RepositoryListItem.tsx
  extensions/github/src/components/RepositoryPullRequest.tsx
  extensions/github/src/components/SortAction.tsx
  extensions/github/src/create-branch.tsx
  extensions/github/src/generated/graphql.ts
  extensions/github/src/helpers/discussion.ts
  extensions/github/src/helpers/issue.ts
  extensions/github/src/helpers/notifications.ts
  extensions/github/src/helpers/pull-request.ts
  extensions/github/src/helpers/repository.ts
  extensions/github/src/hooks/useMyIssues.ts
  extensions/github/src/hooks/useMyPullRequests.ts
  extensions/github/src/my-discussions.tsx
  extensions/github/src/my-issues-menu.tsx
  extensions/github/src/my-issues.tsx
  extensions/github/src/my-pull-requests-menu.tsx
  extensions/github/src/my-pull-requests.tsx
  extensions/github/src/search-discussions.tsx
  extensions/github/src/search-issues.tsx
  extensions/github/src/search-pull-requests.tsx
  extensions/github/src/search-repositories.tsx
  extensions/github/src/unread-notifications.tsx
Labels: extension fix / improvement, OP is author, OP is contributor, extension: github

#13372 [Bear Notes] fixed date in changelog as bot was not run
  extensions/bear/CHANGELOG.md
Labels: extension fix / improvement, OP is contributor, extension: bear

#13336 Brew: Update dependencies, upgrade deprecated APIs, fix lint
  extensions/brew/.eslintignore
  extensions/brew/.eslintrc.json
  extensions/brew/.gitignore
  extensions/brew/CHANGELOG.md
  extensions/brew/package-lock.json
  extensions/brew/package.json
  extensions/brew/src/brew.ts
  extensions/brew/src/components/filter.tsx
  extensions/brew/src/components/formulaInfo.tsx
  extensions/brew/src/outdated.tsx
  extensions/brew/src/search.tsx
  extensions/brew/src/utils.ts
  extensions/brew/tsconfig.json
Labels: extension fix / improvement, OP is contributor, extension: brew

#12651 Add dolar-cripto-ar extension
  extensions/dolar-cripto-ar/.eslintrc.json
  extensions/dolar-cripto-ar/.gitignore
  extensions/dolar-cripto-ar/.prettierrc
  extensions/dolar-cripto-ar/CHANGELOG.md
  extensions/dolar-cripto-ar/README.md
  extensions/dolar-cripto-ar/assets/extension_icon.png
  extensions/dolar-cripto-ar/package-lock.json
  extensions/dolar-cripto-ar/package.json
  extensions/dolar-cripto-ar/src/api.ts
  extensions/dolar-cripto-ar/src/hooks/useRates.tsx
  extensions/dolar-cripto-ar/src/index.tsx
  extensions/dolar-cripto-ar/src/types/types.ts
  extensions/dolar-cripto-ar/tsconfig.json
Labels: new extension

#13323 Lark: Support emoji icon
  extensions/lark/CHANGELOG.md
  extensions/lark/assets/space-icons/type-11.svg
  extensions/lark/assets/space-icons/type-16.svg
  extensions/lark/assets/space-icons/type-2.svg
  extensions/lark/assets/space-icons/type-22.svg
  extensions/lark/assets/space-icons/type-3.svg
  extensions/lark/assets/space-icons/type-8.svg
  extensions/lark/src/components/space-list-item/index.tsx
  extensions/lark/src/services/space.ts
Labels: extension fix / improvement, OP is author, extension: lark

#13322 Update crisp extension, make Supabase session fetching faster
  extensions/crisp/CHANGELOG.md
  extensions/crisp/README.md
  extensions/crisp/src/generated/client.d.ts
  extensions/crisp/src/index.tsx
  extensions/crisp/src/supabase-raycast.ts
Labels: extension fix / improvement, OP is author, extension: crisp

#12962 Add retrac extension
  extensions/retrac/.eslintrc.json
  extensions/retrac/.gitignore
  extensions/retrac/.prettierrc
  extensions/retrac/CHANGELOG.md
  extensions/retrac/README.md
  extensions/retrac/assets/command-icon.png
  extensions/retrac/metadata/retrac-1-search-items.png
  extensions/retrac/metadata/retrac-2-add-item.png
  extensions/retrac/package-lock.json
  extensions/retrac/package.json
  extensions/retrac/src/add-item.tsx
  extensions/retrac/src/api/index.ts
  extensions/retrac/src/hooks/use-items.ts
  extensions/retrac/src/hooks/use-workspaces.ts
  extensions/retrac/src/search-items.tsx
  extensions/retrac/src/types/index.ts
  extensions/retrac/src/types/item-schema.ts
  extensions/retrac/src/types/tag-schema.ts
  extensions/retrac/src/types/workspace-schema.ts
  extensions/retrac/src/utils/clipboard.ts
  extensions/retrac/src/utils/constants.ts
  extensions/retrac/src/utils/env.ts
  extensions/retrac/src/utils/types.ts
  extensions/retrac/tsconfig.json
Labels: new extension

#12932 Add eudic extension
  extensions/eudic/.eslintrc.json
  extensions/eudic/.gitignore
  extensions/eudic/.prettierrc
  extensions/eudic/CHANGELOG.md
  extensions/eudic/README.md
  extensions/eudic/assets/eudic-icon.png
  extensions/eudic/metadata/screenshot.png
  extensions/eudic/package-lock.json
  extensions/eudic/package.json
  extensions/eudic/src/constatnts/index.ts
  extensions/eudic/src/pronounce.ts
  extensions/eudic/src/utils/checkInstall.ts
  extensions/eudic/src/utils/common.ts
  extensions/eudic/src/utils/index.ts
  extensions/eudic/src/wiki.ts
  extensions/eudic/src/word.tsx
  extensions/eudic/tsconfig.json
Labels: new extension

#13332 Add photoroom-image-editing extension
  extensions/photoroom-image-editing/.eslintrc.json
  extensions/photoroom-image-editing/.gitignore
  extensions/photoroom-image-editing/.prettierrc
  extensions/photoroom-image-editing/CHANGELOG.md
  extensions/photoroom-image-editing/README.md
  extensions/photoroom-image-editing/assets/photoroom_raycast.png
  extensions/photoroom-image-editing/metadata/photoroom-image-editing-1.png
  extensions/photoroom-image-editing/metadata/photoroom-image-editing-2.png
  extensions/photoroom-image-editing/metadata/photoroom-image-editing-3.png
  extensions/photoroom-image-editing/package-lock.json
  extensions/photoroom-image-editing/package.json
  extensions/photoroom-image-editing/src/index.tsx
  extensions/photoroom-image-editing/tsconfig.json
Labels: new extension

#13212 trovu extension
  extensions/trovu/.eslintrc.json
  extensions/trovu/.gitignore
  extensions/trovu/.prettierrc
  extensions/trovu/CHANGELOG.md
  extensions/trovu/README.md
  extensions/trovu/assets/command-icon.png
  extensions/trovu/assets/list-icon.png
  extensions/trovu/metadata/trovu-1.png
  extensions/trovu/metadata/trovu-2.png
  extensions/trovu/metadata/trovu-3.png
  extensions/trovu/metadata/trovu-4.png
  extensions/trovu/package-lock.json
  extensions/trovu/package.json
  extensions/trovu/src/core/src/js/modules/Env.js
  extensions/trovu/src/core/src/js/modules/Helper.js
  extensions/trovu/src/core/src/js/modules/Logger.js
  extensions/trovu/src/core/src/js/modules/NamespaceFetcher.js
  extensions/trovu/src/core/src/js/modules/QueryParser.js
  extensions/trovu/src/core/src/js/modules/SuggestionsGetter.js
  extensions/trovu/src/core/src/js/modules/UrlProcessor.js
  extensions/trovu/src/core/src/js/modules/type/city.js
  extensions/trovu/src/core/src/js/modules/type/date.js
  extensions/trovu/src/core/src/js/modules/type/time.js
  extensions/trovu/src/index.tsx
  extensions/trovu/src/markdowns.tsx
  extensions/trovu/src/modules.d.ts
  extensions/trovu/tsconfig.json
Labels: new extension

#13222 feat: add unlock PDF command
  extensions/ilovepdf/CHANGELOG.md
  extensions/ilovepdf/package.json
  extensions/ilovepdf/src/common/utils.ts
  extensions/ilovepdf/src/unlock-pdf.tsx
Labels: extension fix / improvement, OP is author, extension: ilovepdf

#13253 feat: add watermark to PDF command
  extensions/ilovepdf/CHANGELOG.md
  extensions/ilovepdf/package.json
  extensions/ilovepdf/src/add-watermark-to-pdf.tsx
Labels: extension fix / improvement, OP is author, extension: ilovepdf

#13252 feat: add page number command
  extensions/ilovepdf/CHANGELOG.md
  extensions/ilovepdf/package.json
  extensions/ilovepdf/src/add-page-number.tsx
Labels: extension fix / improvement, OP is author, extension: ilovepdf

#13299 feat: add repair PDF command
  extensions/ilovepdf/CHANGELOG.md
  extensions/ilovepdf/package.json
  extensions/ilovepdf/src/repair-pdf.tsx
Labels: extension fix / improvement, OP is author, extension: ilovepdf

#13386 [Todoist] Add Todoist quicklinks
  extensions/todoist/CHANGELOG.md
  extensions/todoist/package-lock.json
  extensions/todoist/package.json
  extensions/todoist/src/components/CompletedTasks.tsx
  extensions/todoist/src/components/CreateViewAction.tsx
  extensions/todoist/src/components/CreateViewActions.tsx
  extensions/todoist/src/components/FilterTasks.tsx
  extensions/todoist/src/components/InboxTasks.tsx
  extensions/todoist/src/components/LabelTasks.tsx
  extensions/todoist/src/components/ProjectTasks.tsx
  extensions/todoist/src/components/TaskActions.tsx
  extensions/todoist/src/components/TaskListSections.tsx
  extensions/todoist/src/components/TodayEmptyView.tsx
  extensions/todoist/src/components/UpcomingTasks.tsx
  extensions/todoist/src/components/View.tsx
  extensions/todoist/src/helpers/withTodoistApi.tsx
  extensions/todoist/src/home.tsx
  extensions/todoist/src/oauth.ts
  extensions/todoist/src/quick-add-task.tsx
Labels: extension fix / improvement, OP is author, extension: todoist

#13344 [Superwhisperer] Improvements to Select Mode command
  extensions/superwhisper/CHANGELOG.md
  extensions/superwhisper/package-lock.json
  extensions/superwhisper/package.json
  extensions/superwhisper/src/hooks.ts
  extensions/superwhisper/src/open-settings.ts
  extensions/superwhisper/src/select-mode.tsx
  extensions/superwhisper/src/toggle-record.ts
  extensions/superwhisper/src/utils.ts
Labels: extension fix / improvement, extension: superwhisper

#13267 Add Brand.dev extension
  extensions/brand-dev/.eslintrc.json
  extensions/brand-dev/.gitignore
  extensions/brand-dev/.prettierrc
  extensions/brand-dev/CHANGELOG.md
  extensions/brand-dev/README.md
  extensions/brand-dev/assets/brand-dev.png
  extensions/brand-dev/metadata/brand-dev-1.png
  extensions/brand-dev/metadata/brand-dev-2.png
  extensions/brand-dev/package-lock.json
  extensions/brand-dev/package.json
  extensions/brand-dev/src/retrieve-brands.tsx
  extensions/brand-dev/tsconfig.json
Labels: new extension

#13342 Add NameSilo extension
  extensions/namesilo/.eslintrc.json
  extensions/namesilo/.gitignore
  extensions/namesilo/.prettierrc
  extensions/namesilo/CHANGELOG.md
  extensions/namesilo/README.md
  extensions/namesilo/assets/namesilo.png
  extensions/namesilo/package-lock.json
  extensions/namesilo/package.json
  extensions/namesilo/src/account-balance.tsx
  extensions/namesilo/src/domains.tsx
  extensions/namesilo/src/lib/constants.ts
  extensions/namesilo/src/lib/hooks/useNameSilo.ts
  extensions/namesilo/src/lib/types.ts
  extensions/namesilo/src/lib/utils/generateApiUrl.ts
  extensions/namesilo/src/lib/utils/parseAsArray.ts
  extensions/namesilo/src/orders.tsx
  extensions/namesilo/src/prices.tsx
  extensions/namesilo/src/whois.tsx
  extensions/namesilo/tsconfig.json
Labels: new extension

#13190 Add shakespearify extension
  extensions/shakespearify/.eslintrc.json
  extensions/shakespearify/.gitignore
  extensions/shakespearify/.prettierrc
  extensions/shakespearify/CHANGELOG.md
  extensions/shakespearify/README.md
  extensions/shakespearify/assets/icon.png
  extensions/shakespearify/media/1.png
  extensions/shakespearify/media/2.png
  extensions/shakespearify/media/3.png
  extensions/shakespearify/media/4.png
  extensions/shakespearify/media/5.png
  extensions/shakespearify/metadata/shakespearify-1.png
  extensions/shakespearify/metadata/shakespearify-2.png
  extensions/shakespearify/metadata/shakespearify-3.png
  extensions/shakespearify/metadata/shakespearify-4.png
  extensions/shakespearify/metadata/shakespearify-5.png
  extensions/shakespearify/package-lock.json
  extensions/shakespearify/package.json
  extensions/shakespearify/src/history.tsx
  extensions/shakespearify/src/index.tsx
  extensions/shakespearify/src/shakespearify.ts
  extensions/shakespearify/tsconfig.json
Labels: new extension

#13339 [Browser Tabs] Optimize function
  extensions/browser-tabs/CHANGELOG.md
  extensions/browser-tabs/README.md
  extensions/browser-tabs/package-lock.json
  extensions/browser-tabs/package.json
  extensions/browser-tabs/src/components/action-tab.tsx
  extensions/browser-tabs/src/hooks/useBrowserSetup.ts
  extensions/browser-tabs/src/hooks/useBrowserTabs.ts
  extensions/browser-tabs/src/index.tsx
  extensions/browser-tabs/src/setup-browsers.tsx
  extensions/browser-tabs/src/types/preferences.ts
  extensions/browser-tabs/src/types/types.ts
  extensions/browser-tabs/src/utils/applescript-utils.ts
  extensions/browser-tabs/src/utils/constants.ts
Labels: extension fix / improvement, OP is author, extension: browser-tabs

#13346 [Claude] Resolved issue with "Start New Conversation" command
  extensions/claude/CHANGELOG.md
  extensions/claude/package-lock.json
  extensions/claude/package.json
  extensions/claude/src/views/chat.tsx
Labels: extension fix / improvement, extension: claude

#13353 Update arc extension
  extensions/arc/CHANGELOG.md
  extensions/arc/package.json
  extensions/arc/src/new-note.ts
Labels: extension fix / improvement, extension: arc

#13358 [Pins] Add Pin Visibility Setting
  extensions/pins/CHANGELOG.md
  extensions/pins/package-lock.json
  extensions/pins/package.json
  extensions/pins/src/components/PinForm.tsx
  extensions/pins/src/components/actions/CopyPinActionsSubmenu.tsx
  extensions/pins/src/components/menu-items/PinMenuItem.tsx
  extensions/pins/src/index.tsx
  extensions/pins/src/lib/LocalData.ts
  extensions/pins/src/lib/Pins.ts
  extensions/pins/src/lib/accessories.ts
  extensions/pins/src/lib/constants.ts
  extensions/pins/src/lib/placeholders/custom-placeholders/input.ts
  extensions/pins/src/lib/preferences.ts
  extensions/pins/src/view-pins.tsx
Labels: extension fix / improvement, OP is author, extension: pins

#13359 [Screen Saver] Remove invalid command
  extensions/screen-saver/.eslintrc.json
  extensions/screen-saver/CHANGELOG.md
  extensions/screen-saver/metadata/screen-saver-1.png
  extensions/screen-saver/package-lock.json
  extensions/screen-saver/package.json
  extensions/screen-saver/src/random-screen-saver.tsx
  extensions/screen-saver/src/start-screen-saver.tsx
  extensions/screen-saver/src/utils/applescript-utils.ts
  extensions/screen-saver/tsconfig.json
Labels: extension fix / improvement, OP is author, extension: screen-saver

#13366 [Sleep Timer] Fix 60 minutes sleep timer would not start correctly
  extensions/sleep-timer/CHANGELOG.md
  extensions/sleep-timer/changelog.md
  extensions/sleep-timer/package.json
  extensions/sleep-timer/src/manageTimer.tsx
  extensions/sleep-timer/src/timerUtils.ts
Labels: extension fix / improvement, extension: sleep-timer

#13373 [Image Modification] Add lossless conversion setting, improve PNG optimization
  extensions/sips/CHANGELOG.md
  extensions/sips/README.md
  extensions/sips/assets/pngout/LICENSE
  extensions/sips/assets/pngout/pngout
  extensions/sips/package-lock.json
  extensions/sips/package.json
  extensions/sips/src/operations/convertOperation.ts
  extensions/sips/src/operations/optimizeOperation.ts
  extensions/sips/src/optimize.ts
  extensions/sips/src/utilities/preferences.ts
  extensions/sips/src/utilities/utils.ts
Labels: extension fix / improvement, OP is author, extension: sips

#13374 [BetterZip] Update Raycast Api
  extensions/betterzip/.eslintrc.json
  extensions/betterzip/CHANGELOG.md
  extensions/betterzip/README.md
  extensions/betterzip/metadata/Metadata-1.png
  extensions/betterzip/metadata/bettterzip-1.png
  extensions/betterzip/package-lock.json
  extensions/betterzip/package.json
  extensions/betterzip/src/compress-with-betterzip.tsx
  extensions/betterzip/src/extract-with-betterzip.tsx
  extensions/betterzip/src/hooks/hooks.ts
  extensions/betterzip/src/open-with-betterzip.tsx
  extensions/betterzip/src/utils/common-utils.ts
  extensions/betterzip/src/utils/constants.ts
  extensions/betterzip/tsconfig.json
Labels: extension fix / improvement, OP is author, extension: betterzip

#13375 [Dock Tinker] Add confirmation dialog
  extensions/dock-tinker/.eslintrc.json
  extensions/dock-tinker/CHANGELOG.md
  extensions/dock-tinker/package-lock.json
  extensions/dock-tinker/package.json
  extensions/dock-tinker/src/add-spacer-to-dock.tsx
  extensions/dock-tinker/src/backup-dock-state.tsx
  extensions/dock-tinker/src/reset-dock-state.tsx
  extensions/dock-tinker/src/restore-dock-state.tsx
  extensions/dock-tinker/src/toggle-auto-hide-delay.tsx
  extensions/dock-tinker/src/toggle-auto-hide.tsx
  extensions/dock-tinker/src/toggle-contents-immutable.tsx
  extensions/dock-tinker/src/toggle-dock-orientation.tsx
  extensions/dock-tinker/src/toggle-minimal-effect.tsx
  extensions/dock-tinker/src/toggle-scroll-to-open.tsx
  extensions/dock-tinker/src/toggle-show-hidden.tsx
  extensions/dock-tinker/src/toggle-single-app.tsx
  extensions/dock-tinker/src/toggle-static-only.tsx
  extensions/dock-tinker/tsconfig.json
Labels: extension fix / improvement, OP is author, extension: dock-tinker

#13362 Update 'Simulator Control' extension (fix #12763)
  extensions/simctl/.eslintrc.json
  extensions/simctl/.gitignore
  extensions/simctl/CHANGELOG.md
  extensions/simctl/Makefile
  extensions/simctl/README.md
  extensions/simctl/assets/simulator-control-1.png
  extensions/simctl/metadata/screenshot-01.png
  extensions/simctl/metadata/simulator-control-1.png
  extensions/simctl/metadata/simulator-control-2.png
  extensions/simctl/package-lock.json
  extensions/simctl/package.json
  extensions/simctl/src/index.tsx
  extensions/simctl/tsconfig.json
Labels: extension fix / improvement, extension: simctl

#13360 Add zefix extension
  extensions/zefix/.eslintrc.json
  extensions/zefix/.gitignore
  extensions/zefix/.prettierrc
  extensions/zefix/CHANGELOG.md
  extensions/zefix/README.md
  extensions/zefix/assets/command-icon.png
  extensions/zefix/assets/command-icon.svg
  extensions/zefix/assets/list-icon.png
  extensions/zefix/assets/list-icon.svg
  extensions/zefix/package-lock.json
  extensions/zefix/package.json
  extensions/zefix/src/index.tsx
  extensions/zefix/src/zefix.ts
  extensions/zefix/tsconfig.json
Labels: new extension

#13383 [Capture Raycast Metadata] Update raycast api
  extensions/capture-raycast-metadata/.eslintrc.json
  extensions/capture-raycast-metadata/CHANGELOG.md
  extensions/capture-raycast-metadata/metadata/capture-raycast-metadata-1.png
  extensions/capture-raycast-metadata/package-lock.json
  extensions/capture-raycast-metadata/package.json
  extensions/capture-raycast-metadata/src/capture-raycast-metadata.ts
  extensions/capture-raycast-metadata/src/utils/common-utils.ts
  extensions/capture-raycast-metadata/tsconfig.json
Labels: extension fix / improvement, OP is author, extension: capture-raycast-metadata

#13385 [Shell History] Auto close window
  extensions/shell-history/CHANGELOG.md
  extensions/shell-history/package-lock.json
  extensions/shell-history/package.json
  extensions/shell-history/src/types/preferences.ts
  extensions/shell-history/src/utils/common-utils.ts
Labels: extension fix / improvement, OP is author, extension: shell-history

#13389 [Dub.co] Supports workspace api keys
  extensions/dub-link-shortener/CHANGELOG.md
  extensions/dub-link-shortener/package-lock.json
  extensions/dub-link-shortener/src/api/index.ts
  extensions/dub-link-shortener/src/hooks/use-short-links.ts
  extensions/dub-link-shortener/src/hooks/use-workspaces.ts
  extensions/dub-link-shortener/src/search-links.tsx
  extensions/dub-link-shortener/src/shorten-link.tsx
  extensions/dub-link-shortener/src/types/index.ts
Labels: extension fix / improvement, OP is contributor, extension: dub-link-shortener

#13393 [Bugfix] [Yoink] Support Yoink from SetApp
  extensions/yoink/CHANGELOG.md
  extensions/yoink/package-lock.json
  extensions/yoink/package.json
  extensions/yoink/src/add-to-yoink.tsx
  extensions/yoink/src/common-utils.ts
  extensions/yoink/src/constants.ts
Labels: extension fix / improvement, OP is author, extension: yoink

#13395 Add check-citi-bike-availability extension
  extensions/check-citi-bike-availability/.eslintrc.json
  extensions/check-citi-bike-availability/.gitignore
  extensions/check-citi-bike-availability/.prettierrc
  extensions/check-citi-bike-availability/CHANGELOG.md
  extensions/check-citi-bike-availability/README.md
  extensions/check-citi-bike-availability/assets/extension_icon.png
  extensions/check-citi-bike-availability/assets/icon.png
  extensions/check-citi-bike-availability/media/check-citi-bike-availability-1.png
  extensions/check-citi-bike-availability/media/check-citi-bike-availability-2.png
  extensions/check-citi-bike-availability/media/check-citi-bike-availability-3.png
  extensions/check-citi-bike-availability/metadata/check-citi-bike-availability-1.png
  extensions/check-citi-bike-availability/metadata/check-citi-bike-availability-2.png
  extensions/check-citi-bike-availability/metadata/check-citi-bike-availability-3.png
  extensions/check-citi-bike-availability/package-lock.json
  extensions/check-citi-bike-availability/package.json
  extensions/check-citi-bike-availability/src/api.tsx
  extensions/check-citi-bike-availability/src/check.tsx
  extensions/check-citi-bike-availability/tsconfig.json
Labels: new extension

#13355 [Quick Access] Optimize extension
  extensions/quick-access/.eslintrc.json
  extensions/quick-access/CHANGELOG.md
  extensions/quick-access/README.md
  extensions/quick-access/assets/search-pins-menu-bar.png
  extensions/quick-access/assets/search-pins-menu-bar@dark.png
  extensions/quick-access/metadata/quick-access-1.png
  extensions/quick-access/metadata/quick-access-2.png
  extensions/quick-access/metadata/quick-access-3.png
  extensions/quick-access/metadata/quick-access-4.png
  extensions/quick-access/metadata/quick-access-5.png
  extensions/quick-access/package-lock.json
  extensions/quick-access/package.json
  extensions/quick-access/src/components/action-configure-command.tsx
  extensions/quick-access/src/components/action-launch-pin.tsx
  extensions/quick-access/src/components/action-on-detail.tsx
  extensions/quick-access/src/components/action-on-files.tsx
  extensions/quick-access/src/components/action-on-pins.tsx
  extensions/quick-access/src/components/action-search-pins.tsx
  extensions/quick-access/src/components/folder-page-grid-empty-view.tsx
  extensions/quick-access/src/components/folder-page-grid.tsx
  extensions/quick-access/src/components/folder-page-list-empty-view.tsx
  extensions/quick-access/src/components/folder-page-list.tsx
  extensions/quick-access/src/components/menu-bar-actions.tsx
  extensions/quick-access/src/components/quick-access-empty-view.tsx
  extensions/quick-access/src/components/search-pins-grid-item.tsx
  extensions/quick-access/src/components/search-pins-grid.tsx
  extensions/quick-access/src/components/search-pins-list-item.tsx
  extensions/quick-access/src/components/search-pins-list.tsx
  extensions/quick-access/src/components/tag-dropdown.tsx
  extensions/quick-access/src/hooks/hooks.ts
  extensions/quick-access/src/hooks/useCurFinderPath.ts
  extensions/quick-access/src/hooks/useFilePreview.ts
  extensions/quick-access/src/hooks/useFrontmostApp.ts
  extensions/quick-access/src/hooks/usePinnedDirectories.ts
  extensions/quick-access/src/hooks/usePinnedDirectoriesSetup.ts
  extensions/quick-access/src/hooks/useShowDetail.ts
  extensions/quick-access/src/pin.tsx
  extensions/quick-access/src/search-pins-menu-bar.tsx
  extensions/quick-access/src/search-pins.tsx
  extensions/quick-access/src/types/preferences.ts
  extensions/quick-access/src/types/types.ts
  extensions/quick-access/src/utils/applescript-utils.ts
  extensions/quick-access/src/utils/common-utils.ts
  extensions/quick-access/src/utils/constants.ts
  extensions/quick-access/src/utils/get-file-preview.ts
  extensions/quick-access/tsconfig.json
Labels: extension fix / improvement, OP is author, extension: quick-access

#13399 [espanso] Better code and remove form items
  extensions/espanso/CHANGELOG.md
  extensions/espanso/src/components/match-item/index.tsx
  extensions/espanso/src/index.tsx
Labels: extension fix / improvement, OP is author, extension: espanso

#13408 Update vade-mecum extension
  extensions/vade-mecum/CHANGELOG.md
  extensions/vade-mecum/package-lock.json
  extensions/vade-mecum/src/components/ArticleListDetail.tsx
Labels: extension fix / improvement, OP is author, extension: vade-mecum

#13425 [simctl] Update CHANGELOG.md (invalid date in previous PR)
  extensions/simctl/CHANGELOG.md
Labels: extension fix / improvement, OP is contributor, extension: simctl

#13413 Update imdb extension
  extensions/imdb/CHANGELOG.md
  extensions/imdb/package.json
  extensions/imdb/src/components/ListItem.tsx
  extensions/imdb/src/components/actions/ActionOpenParentalGuide.tsx
Labels: extension fix / improvement, extension: imdb

#13377 Update youtrack extension
  extensions/youtrack/CHANGELOG.md
  extensions/youtrack/package.json
  extensions/youtrack/src/browse.tsx
  extensions/youtrack/src/components.tsx
  extensions/youtrack/src/interfaces.ts
  extensions/youtrack/src/utils.ts
Labels: extension fix / improvement, extension: youtrack

#13230 Add: Password Store Extension
  extensions/password-store/.eslintrc.json
  extensions/password-store/.prettierrc
  extensions/password-store/CHANGELOG.md
  extensions/password-store/README.md
  extensions/password-store/assets/password-store.png
  extensions/password-store/media/01-pass-list.png
  extensions/password-store/media/02-pass-list-order.png
  extensions/password-store/media/03-pass-details.png
  extensions/password-store/media/04-pass-details-order.png
  extensions/password-store/media/05-pass-actions.png
  extensions/password-store/package-lock.json
  extensions/password-store/package.json
  extensions/password-store/src/interfaces/index.ts
  extensions/password-store/src/interfaces/option.interface.ts
  extensions/password-store/src/interfaces/password.interface.ts
  extensions/password-store/src/interfaces/preferences.interface.ts
  extensions/password-store/src/pass.tsx
  extensions/password-store/src/utils/action.util.ts
  extensions/password-store/src/utils/cmd.util.ts
  extensions/password-store/src/utils/icons.util.ts
  extensions/password-store/src/utils/password.util.ts
  extensions/password-store/tsconfig.json
Labels: new extension

#13419 [Pins] Add pin expiration actions + group visibility setting
  extensions/pins/CHANGELOG.md
  extensions/pins/assets/placeholders_guide.md
  extensions/pins/package-lock.json
  extensions/pins/package.json
  extensions/pins/src/components/GroupForm.tsx
  extensions/pins/src/components/PinForm.tsx
  extensions/pins/src/import-data.tsx
  extensions/pins/src/index.tsx
  extensions/pins/src/lib/Groups.ts
  extensions/pins/src/lib/Pins.ts
  extensions/pins/src/lib/constants.ts
  extensions/pins/src/lib/placeholders/custom-placeholders/deletePin.ts
  extensions/pins/src/lib/placeholders/custom-placeholders/movePin.ts
  extensions/pins/src/lib/placeholders/custom-placeholders/pinName.ts
  extensions/pins/src/lib/placeholders/custom-placeholders/pinTarget.ts
  extensions/pins/src/lib/placeholders/index.ts
  extensions/pins/src/view-pins.tsx
Labels: extension fix / improvement, OP is author, extension: pins

#13422 Update ethereum-utils extension
  extensions/ethereum-utils/CHANGELOG.md
  extensions/ethereum-utils/package-lock.json
  extensions/ethereum-utils/package.json
  extensions/ethereum-utils/src/convert-decimals.tsx
  extensions/ethereum-utils/src/etherscan.tsx
Labels: extension fix / improvement, extension: ethereum-utils

#13424 Add wordpress-icon-finder extension
  extensions/wordpress-icon-finder/.eslintrc.json
  extensions/wordpress-icon-finder/.gitignore
  extensions/wordpress-icon-finder/.prettierrc
  extensions/wordpress-icon-finder/CHANGELOG.md
  extensions/wordpress-icon-finder/LICENSE
  extensions/wordpress-icon-finder/README.md
  extensions/wordpress-icon-finder/assets/icon.png
  extensions/wordpress-icon-finder/assets/wordpress-icon-finder-1.png
  extensions/wordpress-icon-finder/assets/wordpress-icon-finder-2.png
  extensions/wordpress-icon-finder/metadata/wordpress-icon-finder-1.png
  extensions/wordpress-icon-finder/metadata/wordpress-icon-finder-2.png
  extensions/wordpress-icon-finder/package-lock.json
  extensions/wordpress-icon-finder/package.json
  extensions/wordpress-icon-finder/src/icons.ts
  extensions/wordpress-icon-finder/src/index.tsx
  extensions/wordpress-icon-finder/tsconfig.json
Labels: new extension

#13429 Update wordpress-icon-finder extension
  extensions/wordpress-icon-finder/CHANGELOG.md
  extensions/wordpress-icon-finder/src/icons.ts
  extensions/wordpress-icon-finder/src/index.tsx
Labels: extension fix / improvement, OP is author, extension: wordpress-icon-finder

#13379 [Amazon AWS] feat(s3): add more actions
  extensions/amazon-aws/CHANGELOG.md
  extensions/amazon-aws/src/s3.tsx
  extensions/amazon-aws/src/util/index.ts
Labels: extension fix / improvement, OP is contributor, extension: amazon-aws

#13432 Update genius-lyrics extension
  extensions/genius-lyrics/CHANGELOG.md
  extensions/genius-lyrics/README.md
  extensions/genius-lyrics/package-lock.json
  extensions/genius-lyrics/package.json
  extensions/genius-lyrics/src/lyric-search.tsx
Labels: extension fix / improvement, extension: genius-lyrics

#13433 [Github] Adds repo primary language color to accessory and "Sort By" action to My Latest Repos
  extensions/github/CHANGELOG.md
  extensions/github/package-lock.json
  extensions/github/src/api/repository.graphql
  extensions/github/src/components/RepositoryActions.tsx
  extensions/github/src/components/RepositoryListItem.tsx
  extensions/github/src/components/SortAction.tsx
  extensions/github/src/generated/graphql.ts
  extensions/github/src/helpers/repository.ts
  extensions/github/src/my-latest-repositories.tsx
  extensions/github/src/search-repositories.tsx
Labels: extension fix / improvement, OP is contributor, extension: github

#13438 Update plex extension
  extensions/plex/CHANGELOG.md
  extensions/plex/package.json
  extensions/plex/src/sectionItems.tsx
Labels: extension fix / improvement, extension: plex

#13444 [Todoist] Adds labels for in-focus tasks
  extensions/todoist/CHANGELOG.md
  extensions/todoist/package.json
  extensions/todoist/src/hooks/useFocusedTask.ts
Labels: extension fix / improvement, OP is contributor, extension: todoist

#13439 [Lorem-Ipsum] Visual Improvements for prompts and command arguments
  extensions/lorem-ipsum/.eslintrc.json
  extensions/lorem-ipsum/CHANGELOG.md
  extensions/lorem-ipsum/package-lock.json
  extensions/lorem-ipsum/package.json
  extensions/lorem-ipsum/src/ai-generate.tsx
  extensions/lorem-ipsum/src/paragraphs.tsx
  extensions/lorem-ipsum/src/sentences.tsx
  extensions/lorem-ipsum/src/types.tsx
  extensions/lorem-ipsum/src/utils.tsx
  extensions/lorem-ipsum/src/words.tsx
  extensions/lorem-ipsum/tsconfig.json
Labels: extension fix / improvement, extension: lorem-ipsum

#13349 Add `HestiaCP` (Admin) extension
  extensions/hestiacp-admin/.eslintrc.json
  extensions/hestiacp-admin/.gitignore
  extensions/hestiacp-admin/.prettierrc
  extensions/hestiacp-admin/CHANGELOG.md
  extensions/hestiacp-admin/README.md
  extensions/hestiacp-admin/assets/hestia.png
  extensions/hestiacp-admin/assets/readme/1-hestiacp-users.png
  extensions/hestiacp-admin/assets/readme/2-hestiacp-user-access-keys.png
  extensions/hestiacp-admin/assets/readme/3-hestiacp-user-add-access-key.png
  extensions/hestiacp-admin/metadata/hestiacp-admin-1-user-packages.png
  extensions/hestiacp-admin/metadata/hestiacp-admin-2-users.png
  extensions/hestiacp-admin/metadata/hestiacp-admin-3-user-auth-log.png
  extensions/hestiacp-admin/metadata/hestiacp-admin-4-user-web-domain.png
  extensions/hestiacp-admin/metadata/hestiacp-admin-5-user-notifications.png
  extensions/hestiacp-admin/metadata/hestiacp-admin-6-add-user.png
  extensions/hestiacp-admin/package-lock.json
  extensions/hestiacp-admin/package.json
  extensions/hestiacp-admin/src/components/ErrorComponent.tsx
  extensions/hestiacp-admin/src/components/ListItemDetailComponent.tsx
  extensions/hestiacp-admin/src/components/list-databases.tsx
  extensions/hestiacp-admin/src/components/list-mail-domains.tsx
  extensions/hestiacp-admin/src/components/list-web-domains.tsx
  extensions/hestiacp-admin/src/constants.ts
  extensions/hestiacp-admin/src/list-user-packages.tsx
  extensions/hestiacp-admin/src/list-users.tsx
  extensions/hestiacp-admin/src/types/databases.ts
  extensions/hestiacp-admin/src/types/index.ts
  extensions/hestiacp-admin/src/types/packages.ts
  extensions/hestiacp-admin/src/types/users.ts
  extensions/hestiacp-admin/src/types/web-domains.ts
  extensions/hestiacp-admin/src/utils/hestia.ts
  extensions/hestiacp-admin/src/utils/hooks/useHestia.ts
  extensions/hestiacp-admin/src/utils/index.ts
  extensions/hestiacp-admin/tsconfig.json
Labels: new extension

#12835 [Clockify] Add initial tasks support and improvements
  extensions/clockify/.eslintrc.json
  extensions/clockify/CHANGELOG.md
  extensions/clockify/README.md
  extensions/clockify/assets/command-icon.png
  extensions/clockify/metadata/clockify-1.png
  extensions/clockify/metadata/clockify-2.png
  extensions/clockify/metadata/clockify-3.png
  extensions/clockify/package-lock.json
  extensions/clockify/package.json
  extensions/clockify/src/index.tsx
  extensions/clockify/src/types.d.ts
  extensions/clockify/src/utils.ts
  extensions/clockify/tsconfig.json
Labels: extension fix / improvement, extension: clockify

#13437 Small updates to Dub Raycast Extension
  extensions/dub-link-shortener/CHANGELOG.md
  extensions/dub-link-shortener/README.md
  extensions/dub-link-shortener/assets/command-icon.png
  extensions/dub-link-shortener/package.json
Labels: extension fix / improvement, extension: dub-link-shortener

#13445 [Menubar weather] Refactoring code to optimise extension performance
  extensions/menubar-weather/.eslintrc.json
  extensions/menubar-weather/CHANGELOG.md
  extensions/menubar-weather/assets/extension-icon.png
  extensions/menubar-weather/assets/sf-menu-icons/banknote.svg
  extensions/menubar-weather/package-lock.json
  extensions/menubar-weather/package.json
  extensions/menubar-weather/src/hooks/hooks.ts
  extensions/menubar-weather/src/hooks/useLatestWeather.ts
  extensions/menubar-weather/src/hooks/useLocation.ts
  extensions/menubar-weather/src/menubar-weather.tsx
  extensions/menubar-weather/src/types/types.ts
  extensions/menubar-weather/src/utils/axios-utils.ts
  extensions/menubar-weather/src/utils/common-utils.ts
  extensions/menubar-weather/src/utils/icon-utils.ts
  extensions/menubar-weather/src/utils/weather-utils.ts
  extensions/menubar-weather/swift/Location/.gitignore
  extensions/menubar-weather/swift/Location/Package.resolved
  extensions/menubar-weather/swift/Location/Package.swift
  extensions/menubar-weather/swift/Location/Sources/Location.swift
  extensions/menubar-weather/tsconfig.json
Labels: extension fix / improvement, OP is author, extension: menubar-weather

#13447 [GitHub Gist] Reduce GitHub authentication
  extensions/github-gist/CHANGELOG.md
  extensions/github-gist/assets/gist-icon.svg
  extensions/github-gist/assets/raycast.png
  extensions/github-gist/assets/raycast@dark.png
  extensions/github-gist/package-lock.json
  extensions/github-gist/package.json
  extensions/github-gist/src/api/oauth.ts
  extensions/github-gist/src/components/gist-action.tsx
  extensions/github-gist/src/util/utils.ts
Labels: extension fix / improvement, OP is author, extension: github-gist

#13457 fix(Timers): alert sound failure, close window on start pref
  extensions/timers/CHANGELOG.md
  extensions/timers/package-lock.json
  extensions/timers/package.json
  extensions/timers/src/backend/stopwatchBackend.ts
  extensions/timers/src/backend/timerBackend.ts
  extensions/timers/src/components/CustomTimerListItem.tsx
  extensions/timers/src/components/RenameAction.tsx
  extensions/timers/src/components/RenameView.tsx
  extensions/timers/src/components/RunningTimerListItem.tsx
  extensions/timers/src/manageStopwatches.tsx
  extensions/timers/src/manageTimers.tsx
  extensions/timers/src/startCustomTimer.tsx
Labels: extension fix / improvement, OP is author, extension: timers

#13456 [YouTube Downloader] Fix download failed
  extensions/youtube-downloader/CHANGELOG.md
  extensions/youtube-downloader/package-lock.json
  extensions/youtube-downloader/package.json
  extensions/youtube-downloader/patches/fluent-ffmpeg+2.1.2.patch
  extensions/youtube-downloader/src/index.tsx
  extensions/youtube-downloader/src/utils.ts
Labels: extension fix / improvement, OP is contributor, extension: youtube-downloader

#13476 Update plex extension
  extensions/plex/CHANGELOG.md
  extensions/plex/src/sectionItems.tsx
Labels: extension fix / improvement, OP is contributor, extension: plex

#13473 [PM2] Add support for customizing `PM2_HOME`
  extensions/pm2/CHANGELOG.md
  extensions/pm2/assets/pm2-wrapper/package-lock.json
  extensions/pm2/assets/pm2-wrapper/package.json
  extensions/pm2/package-lock.json
  extensions/pm2/package.json
  extensions/pm2/src/main.tsx
  extensions/pm2/src/utils.ts
Labels: extension fix / improvement, OP is author, extension: pm2

#13481 Add more user friendly error messages
  extensions/ilovepdf/CHANGELOG.md
  extensions/ilovepdf/src/add-page-number.tsx
  extensions/ilovepdf/src/compress-pdf.tsx
  extensions/ilovepdf/src/extract-text.tsx
  extensions/ilovepdf/src/html-to-pdf.tsx
  extensions/ilovepdf/src/image-to-pdf.tsx
  extensions/ilovepdf/src/merge-pdf.tsx
  extensions/ilovepdf/src/pdf-to-image.tsx
  extensions/ilovepdf/src/protect-pdf.tsx
  extensions/ilovepdf/src/repair-pdf.tsx
  extensions/ilovepdf/src/rotate-pdf.tsx
  extensions/ilovepdf/src/split-pdf.tsx
  extensions/ilovepdf/src/word-to-pdf.tsx
Labels: extension fix / improvement, OP is author, extension: ilovepdf

#13482 Fix typo in Anybox command description
  extensions/anybox/CHANGELOG.md
  extensions/anybox/package.json
Labels: extension fix / improvement, extension: anybox

#13492 Lobsters update avatars
  extensions/lobsters/CHANGELOG.md
  extensions/lobsters/package-lock.json
  extensions/lobsters/package.json
  extensions/lobsters/src/index.tsx
Labels: extension fix / improvement, OP is author, extension: lobsters

#13489 [2FA Directory] add icons + chore + fix action
  extensions/2fa-directory/.gitignore
  extensions/2fa-directory/CHANGELOG.md
  extensions/2fa-directory/metadata/2fa-directory-1.png
  extensions/2fa-directory/metadata/metadata.png
  extensions/2fa-directory/package-lock.json
  extensions/2fa-directory/package.json
  extensions/2fa-directory/src/index.tsx
Labels: extension fix / improvement, extension: 2fa-directory

#13404 Add time-machine extension
  extensions/time-machine/.eslintrc.json
  extensions/time-machine/.prettierrc
  extensions/time-machine/CHANGELOG.md
  extensions/time-machine/README.md
  extensions/time-machine/assets/command-icon.png
  extensions/time-machine/metadata/time-machine-1.png
  extensions/time-machine/metadata/time-machine-2.png
  extensions/time-machine/metadata/time-machine-3.png
  extensions/time-machine/package-lock.json
  extensions/time-machine/package.json
  extensions/time-machine/src/cmd-list-destination.tsx
  extensions/time-machine/src/cmd-start-backup.tsx
  extensions/time-machine/src/cmd-stop-backup.tsx
  extensions/time-machine/src/util-destination.tsx
  extensions/time-machine/tsconfig.json
Labels: new extension

#13497 Update chatgpt extension
  extensions/chatgpt/CHANGELOG.md
  extensions/chatgpt/package.json
Labels: extension fix / improvement, extension: chatgpt

#13333 Update yabai extension
  extensions/yabai/CHANGELOG.md
  extensions/yabai/README.md
  extensions/yabai/package.json
  extensions/yabai/src/focus-space.tsx
  extensions/yabai/src/helpers/scripts.ts
  extensions/yabai/src/screens-menu-bar.tsx
  extensions/yabai/src/windows-list-current-space.tsx
  extensions/yabai/tsconfig.json
Labels: extension fix / improvement, extension: yabai

#13506 Add OneLook Thesaurus extension
  extensions/onelook-thesaurus/.eslintrc.json
  extensions/onelook-thesaurus/.gitignore
  extensions/onelook-thesaurus/.prettierrc
  extensions/onelook-thesaurus/CHANGELOG.md
  extensions/onelook-thesaurus/README.md
  extensions/onelook-thesaurus/assets/command-icon.png
  extensions/onelook-thesaurus/metadata/onelook-thesaurus-1.png
  extensions/onelook-thesaurus/metadata/onelook-thesaurus-2.png
  extensions/onelook-thesaurus/package-lock.json
  extensions/onelook-thesaurus/package.json
  extensions/onelook-thesaurus/src/search.tsx
  extensions/onelook-thesaurus/tsconfig.json
Labels: new extension

#13197 Update tmdb extension
  extensions/tmdb/CHANGELOG.md
  extensions/tmdb/package-lock.json
  extensions/tmdb/package.json
  extensions/tmdb/src/components/Episodes.tsx
  extensions/tmdb/src/components/Seasons.tsx
  extensions/tmdb/src/components/TvShowDetail.tsx
  extensions/tmdb/src/components/TvShowEpisode.tsx
  extensions/tmdb/src/get-episode-info.tsx
  extensions/tmdb/src/helpers.ts
  extensions/tmdb/src/hooks/index.tsx
Labels: extension fix / improvement, status: stalled, extension: tmdb

#13514 Update proxmox extension
  extensions/proxmox/CHANGELOG.md
  extensions/proxmox/package-lock.json
  extensions/proxmox/package.json
  extensions/proxmox/src/index.tsx
Labels: extension fix / improvement, OP is author, extension: proxmox

#13515 [Just Delete Me] unified view + chore + send email
  extensions/just-delete-me/.eslintrc.json
  extensions/just-delete-me/.gitignore
  extensions/just-delete-me/CHANGELOG.md
  extensions/just-delete-me/metadata/Metadata-2.png
  extensions/just-delete-me/metadata/Metadata.png
  extensions/just-delete-me/metadata/just-delete-me-1.png
  extensions/just-delete-me/metadata/just-delete-me-2.png
  extensions/just-delete-me/package-lock.json
  extensions/just-delete-me/package.json
  extensions/just-delete-me/src/index.tsx
  extensions/just-delete-me/tsconfig.json
Labels: extension fix / improvement, extension: just-delete-me

#13454 [Linear] Add support for documents
  extensions/linear/CHANGELOG.md
  extensions/linear/assets/dark/initiative.svg
  extensions/linear/assets/light/initiative.svg
  extensions/linear/package.json
  extensions/linear/src/api/documents.ts
  extensions/linear/src/api/initiatives.ts
  extensions/linear/src/components/Project.tsx
  extensions/linear/src/components/docs/Document.tsx
  extensions/linear/src/components/docs/DocumentActions.tsx
  extensions/linear/src/components/docs/DocumentDetail.tsx
  extensions/linear/src/components/docs/DocumentList.tsx
  extensions/linear/src/helpers/documents.ts
  extensions/linear/src/helpers/initiatives.ts
  extensions/linear/src/hooks/useDocuments.ts
  extensions/linear/src/hooks/useInitiatives.ts
  extensions/linear/src/search-documents.tsx
Labels: extension fix / improvement, OP is contributor, extension: linear

#13354 feat: add PDF to PDFA comamand
  extensions/ilovepdf/CHANGELOG.md
  extensions/ilovepdf/package.json
  extensions/ilovepdf/src/pdf-to-pdfa.tsx
Labels: extension fix / improvement, OP is author, extension: ilovepdf

#13365 Add validate PDFA command
  extensions/ilovepdf/CHANGELOG.md
  extensions/ilovepdf/package.json
  extensions/ilovepdf/src/validate-pdfa.tsx
Labels: extension fix / improvement, OP is author, extension: ilovepdf

#13523 Add johnny-decimal extension
  extensions/johnny-decimal/.eslintrc.json
  extensions/johnny-decimal/.gitignore
  extensions/johnny-decimal/.prettierrc
  extensions/johnny-decimal/CHANGELOG.md
  extensions/johnny-decimal/README.md
  extensions/johnny-decimal/assets/logo.png
  extensions/johnny-decimal/metadata/johnny-decimal-1.png
  extensions/johnny-decimal/metadata/johnny-decimal-2.png
  extensions/johnny-decimal/metadata/johnny-decimal-3.png
  extensions/johnny-decimal/package-lock.json
  extensions/johnny-decimal/package.json
  extensions/johnny-decimal/src/rebuild-index.tsx
  extensions/johnny-decimal/src/search-areas.tsx
  extensions/johnny-decimal/src/search-categories.tsx
  extensions/johnny-decimal/src/search-ids.tsx
  extensions/johnny-decimal/src/utils.ts
  extensions/johnny-decimal/tsconfig.json
Labels: new extension

#13525 Update coffee extension
  extensions/coffee/CHANGELOG.md
  extensions/coffee/package.json
  extensions/coffee/src/utils.ts
Labels: extension fix / improvement, extension: coffee

#13528 Update auto-quit-app extension
  extensions/auto-quit-app/CHANGELOG.md
  extensions/auto-quit-app/package.json
Labels: extension fix / improvement, extension: auto-quit-app

#13529 Update quick-notes extension
  extensions/quick-notes/CHANGELOG.md
  extensions/quick-notes/src/components/notesList.tsx
Labels: extension fix / improvement, OP is author, extension: quick-notes

#13534 Update speedcubing extension
  extensions/speedcubing/CHANGELOG.md
  extensions/speedcubing/assets/cases/pll-aa.png
  extensions/speedcubing/assets/cases/pll-ab.png
  extensions/speedcubing/assets/cases/pll-e.png
  extensions/speedcubing/assets/cases/pll-f.png
  extensions/speedcubing/assets/cases/pll-ga.png
  extensions/speedcubing/assets/cases/pll-gb.png
  extensions/speedcubing/assets/cases/pll-gc.png
  extensions/speedcubing/assets/cases/pll-gd.png
  extensions/speedcubing/assets/cases/pll-ja.png
  extensions/speedcubing/assets/cases/pll-jb.png
  extensions/speedcubing/assets/cases/pll-na.png
  extensions/speedcubing/assets/cases/pll-nb.png
  extensions/speedcubing/assets/cases/pll-ra.png
  extensions/speedcubing/assets/cases/pll-rb.png
  extensions/speedcubing/assets/cases/pll-t.png
  extensions/speedcubing/assets/cases/pll-v.png
  extensions/speedcubing/assets/cases/pll-y.png
  extensions/speedcubing/assets/notation/x'.png
  extensions/speedcubing/assets/notation/x.png
  extensions/speedcubing/assets/notation/y'.png
  extensions/speedcubing/assets/notation/y.png
  extensions/speedcubing/assets/notation/z'.png
  extensions/speedcubing/assets/notation/z.png
  extensions/speedcubing/package.json
  extensions/speedcubing/src/data.ts
  extensions/speedcubing/src/four-look-last-layer.tsx
  extensions/speedcubing/src/permutation-of-the-last-layer.tsx
  extensions/speedcubing/src/step-algorithms.tsx
Labels: extension fix / improvement, extension: speedcubing

#13533 [Shell] fix for avoid UI hanging on large data from `child_process`
  extensions/shell/CHANGELOG.md
  extensions/shell/src/index.tsx
Labels: extension fix / improvement, OP is contributor, extension: shell

#13449 Refactor to `dub` TypeScript SDK
  extensions/dub-link-shortener/CHANGELOG.md
  extensions/dub-link-shortener/package-lock.json
  extensions/dub-link-shortener/package.json
  extensions/dub-link-shortener/src/api/index.ts
  extensions/dub-link-shortener/src/hooks/use-domains.ts
  extensions/dub-link-shortener/src/hooks/use-short-links.ts
  extensions/dub-link-shortener/src/hooks/use-tags.ts
  extensions/dub-link-shortener/src/hooks/use-workspaces.ts
  extensions/dub-link-shortener/src/polyfills/fetch.ts
  extensions/dub-link-shortener/src/search-links.tsx
  extensions/dub-link-shortener/src/shorten-link.tsx
  extensions/dub-link-shortener/src/types/index.ts
  extensions/dub-link-shortener/src/types/link-schema.ts
  extensions/dub-link-shortener/src/types/tag-schema.ts
  extensions/dub-link-shortener/src/types/workspace-schema.ts
  extensions/dub-link-shortener/src/utils/env.ts
Labels: extension fix / improvement, OP is contributor, extension: dub-link-shortener

#13162 Update chakra-ui-docs extension
  extensions/chakra-ui-docs/.gitignore
  extensions/chakra-ui-docs/CHANGELOG.md
  extensions/chakra-ui-docs/package-lock.json
  extensions/chakra-ui-docs/package.json
  extensions/chakra-ui-docs/src/documentation/componentsDocs.tsx
  extensions/chakra-ui-docs/utils/updateComponentsDoc.ts
Labels: extension fix / improvement, status: stalled, extension: chakra-ui-docs

#13390 Update dolar-cripto-ar extension
  extensions/dolar-cripto-ar/CHANGELOG.md
  extensions/dolar-cripto-ar/package-lock.json
  extensions/dolar-cripto-ar/package.json
  extensions/dolar-cripto-ar/src/index.tsx
Labels: extension fix / improvement, OP is author, extension: dolar-cripto-ar

#13478 Add lexicon-search extension
  extensions/lexicon-search/.eslintrc.json
  extensions/lexicon-search/.gitignore
  extensions/lexicon-search/.prettierrc
  extensions/lexicon-search/CHANGELOG.md
  extensions/lexicon-search/assets/magnisky.png
  extensions/lexicon-search/metadata/lexicon-search-1.png
  extensions/lexicon-search/metadata/lexicon-search-2.png
  extensions/lexicon-search/metadata/lexicon-search-3.png
  extensions/lexicon-search/metadata/lexicon-search-4.png
  extensions/lexicon-search/package-lock.json
  extensions/lexicon-search/package.json
  extensions/lexicon-search/src/components/DefOverviewDetail.tsx
  extensions/lexicon-search/src/components/LexiconDefsList.tsx
  extensions/lexicon-search/src/search.tsx
  extensions/lexicon-search/src/util/downloadLexicons.ts
  extensions/lexicon-search/tsconfig.json
Labels: new extension

#13508 Add array-this extension
  extensions/array-this/.eslintrc.json
  extensions/array-this/.gitignore
  extensions/array-this/.prettierrc
  extensions/array-this/CHANGELOG.md
  extensions/array-this/LICENSE
  extensions/array-this/README.md
  extensions/array-this/assets/command-icon.png
  extensions/array-this/metadata/array-this-1.png
  extensions/array-this/metadata/array-this-2.png
  extensions/array-this/metadata/array-this-3.png
  extensions/array-this/package-lock.json
  extensions/array-this/package.json
  extensions/array-this/public/array-this-1.png
  extensions/array-this/public/array-this-2.png
  extensions/array-this/public/array-this-3.png
  extensions/array-this/src/index.tsx
  extensions/array-this/src/utils/quote-style.ts
  extensions/array-this/src/utils/separator.ts
  extensions/array-this/tsconfig.json
Labels: new extension

#13552 Fix image source
  extensions/array-this/README.md
Labels: extension fix / improvement, extension: array-this

#13553 Fix image source
  extensions/array-this/README.md
Labels: extension fix / improvement, extension: array-this

#13573 Fix Pocket bookmark creation
  extensions/pocket/CHANGELOG.md
  extensions/pocket/src/lib/api.ts
Labels: extension fix / improvement, OP is author, extension: pocket

#13580 Update lexicon-search extension
  extensions/lexicon-search/CHANGELOG.md
  extensions/lexicon-search/assets/magnisky.png
  extensions/lexicon-search/package.json
  extensions/lexicon-search/src/components/LexiconDefsList.tsx
  extensions/lexicon-search/src/search.tsx
Labels: extension fix / improvement, OP is author, extension: lexicon-search

#13581 Update memos extension
  extensions/memos/.eslintrc.json
  extensions/memos/CHANGELOG.md
  extensions/memos/package-lock.json
  extensions/memos/package.json
  extensions/memos/src/api.ts
  extensions/memos/src/memosList.tsx
  extensions/memos/src/sendMemoForm.tsx
  extensions/memos/src/types.ts
  extensions/memos/tsconfig.json
Labels: extension fix / improvement, OP is author, extension: memos

#13559 Update github extension
  extensions/github/CHANGELOG.md
  extensions/github/package.json
  extensions/github/src/components/PullRequestCommits.tsx
Labels: extension fix / improvement, extension: github

#10812 Add pagespeed extension
  extensions/pagespeed/.eslintrc.json
  extensions/pagespeed/.gitignore
  extensions/pagespeed/.prettierrc
  extensions/pagespeed/CHANGELOG.md
  extensions/pagespeed/README.md
  extensions/pagespeed/assets/icon.png
  extensions/pagespeed/metadata/page-speed-1.png
  extensions/pagespeed/metadata/page-speed-2.png
  extensions/pagespeed/metadata/page-speed-3.png
  extensions/pagespeed/package-lock.json
  extensions/pagespeed/package.json
  extensions/pagespeed/src/empty.tsx
  extensions/pagespeed/src/form.tsx
  extensions/pagespeed/src/hooks.ts
  extensions/pagespeed/src/pagespeed.tsx
  extensions/pagespeed/src/storage.ts
  extensions/pagespeed/src/types.ts
  extensions/pagespeed/src/utils.ts
  extensions/pagespeed/tsconfig.json
Labels: new extension

#13591 Update arc extension
  extensions/arc/CHANGELOG.md
  extensions/arc/src/actions.tsx
  extensions/arc/src/arc.ts
  extensions/arc/src/list.tsx
  extensions/arc/src/new-incognito-window.ts
  extensions/arc/src/search-history.tsx
  extensions/arc/src/search-tabs.tsx
  extensions/arc/src/search.tsx
  extensions/arc/src/suggestions.ts
Labels: extension fix / improvement, OP is contributor, extension: arc

#13603 docs: update docs to reflect latest features
  extensions/simple-reminder/CHANGELOG.md
  extensions/simple-reminder/README.md
  extensions/simple-reminder/media/menu-bar.png
  extensions/simple-reminder/metadata/simple-reminder-1.png
  extensions/simple-reminder/metadata/simple-reminder-2.png
  extensions/simple-reminder/metadata/simple-reminder-3.png
  extensions/simple-reminder/metadata/simple-reminder-4.png
  extensions/simple-reminder/metadata/simple-reminder-5.png
Labels: extension fix / improvement, OP is author, extension: simple-reminder

#12709 Scratchpad extension
  extensions/scratchpad/.eslintrc.json
  extensions/scratchpad/.gitignore
  extensions/scratchpad/.prettierrc
  extensions/scratchpad/CHANGELOG.md
  extensions/scratchpad/LICENSE
  extensions/scratchpad/README.md
  extensions/scratchpad/assets/scratchpad-icon.png
  extensions/scratchpad/metadata/scratchpad-1.png
  extensions/scratchpad/package-lock.json
  extensions/scratchpad/package.json
  extensions/scratchpad/src/constants.ts
  extensions/scratchpad/src/index.tsx
  extensions/scratchpad/src/types/applicationInfo.ts
  extensions/scratchpad/src/utils/utils.ts
  extensions/scratchpad/tsconfig.json
Labels: new extension

#13615 [Gitlab] Don't show menubar item when no todo(s) present
  extensions/gitlab/CHANGELOG.md
  extensions/gitlab/package.json
  extensions/gitlab/src/todomenubar.tsx
Labels: extension fix / improvement, extension: gitlab

#13608 Update mailsy extension
  extensions/mailsy/CHANGELOG.md
  extensions/mailsy/src/libs/utils.ts
  extensions/mailsy/src/mailsy.tsx
Labels: extension fix / improvement, OP is author, extension: mailsy

#13576 Update world-clock extension
  extensions/time-traveling-world-clock/CHANGELOG.md
  extensions/time-traveling-world-clock/package-lock.json
  extensions/time-traveling-world-clock/package.json
  extensions/time-traveling-world-clock/src/index.tsx
Labels: extension fix / improvement, extension: time-traveling-world-clock

#13587 Update github extension
  extensions/github/CHANGELOG.md
  extensions/github/README.md
  extensions/github/src/components/ProjectListItem.tsx
  extensions/github/src/components/RepositoryListItem.tsx
  extensions/github/src/my-issues-menu.tsx
  extensions/github/src/unread-notifications.tsx
Labels: extension fix / improvement, OP is contributor, extension: github

#13609 Update nato-phonetic-alphabet extension
  extensions/nato-phonetic-alphabet/.eslintrc.json
  extensions/nato-phonetic-alphabet/.gitignore
  extensions/nato-phonetic-alphabet/CHANGELOG.md
  extensions/nato-phonetic-alphabet/package-lock.json
  extensions/nato-phonetic-alphabet/package.json
  extensions/nato-phonetic-alphabet/src/dictionary/index.ts
  extensions/nato-phonetic-alphabet/src/full-alphabet.tsx
  extensions/nato-phonetic-alphabet/src/spell.tsx
  extensions/nato-phonetic-alphabet/tsconfig.json
Labels: extension fix / improvement, extension: nato-phonetic-alphabet

#13564 [itch.io] `my_games` command + metadata images + hooks
  extensions/itch-io/.eslintrc.json
  extensions/itch-io/.gitignore
  extensions/itch-io/CHANGELOG.md
  extensions/itch-io/README.md
  extensions/itch-io/metadata/itch-io-1.png
  extensions/itch-io/metadata/itch-io-2.png
  extensions/itch-io/metadata/itch-io-3.png
  extensions/itch-io/metadata/itch-io-4.png
  extensions/itch-io/package-lock.json
  extensions/itch-io/package.json
  extensions/itch-io/src/api/getgames.ts
  extensions/itch-io/src/index.tsx
  extensions/itch-io/src/interface/ErrorModel.ts
  extensions/itch-io/src/interface/GameModel.ts
  extensions/itch-io/src/my_games.tsx
  extensions/itch-io/tsconfig.json
Labels: extension fix / improvement, extension: itch-io

#13567 Add minecraft-crafting-recipes extension
  extensions/minecraft-crafting-recipes/.eslintrc.json
  extensions/minecraft-crafting-recipes/.gitignore
  extensions/minecraft-crafting-recipes/.prettierrc
  extensions/minecraft-crafting-recipes/CHANGELOG.md
  extensions/minecraft-crafting-recipes/README.md
  extensions/minecraft-crafting-recipes/assets/icon.png
  extensions/minecraft-crafting-recipes/bunfig.toml
  extensions/minecraft-crafting-recipes/metadata/minecraft-crafting-recipes-1.png
  extensions/minecraft-crafting-recipes/package-lock.json
  extensions/minecraft-crafting-recipes/package.json
  extensions/minecraft-crafting-recipes/src/components/MaterialTag.tsx
  extensions/minecraft-crafting-recipes/src/search-recipes.tsx
  extensions/minecraft-crafting-recipes/tsconfig.json
Labels: new extension

#13554 Add streamshare-uploader extension
  extensions/streamshare-uploader/.eslintrc.json
  extensions/streamshare-uploader/.gitignore
  extensions/streamshare-uploader/.prettierrc
  extensions/streamshare-uploader/CHANGELOG.md
  extensions/streamshare-uploader/README.md
  extensions/streamshare-uploader/assets/logo.png
  extensions/streamshare-uploader/package-lock.json
  extensions/streamshare-uploader/package.json
  extensions/streamshare-uploader/src/index.ts
  extensions/streamshare-uploader/tsconfig.json
Labels: new extension

#13598 Update klack extension
  extensions/klack/CHANGELOG.md
  extensions/klack/src/runAppleScriptSilently.tsx
  extensions/klack/src/setSwitchSet.tsx
Labels: extension fix / improvement, OP is author, extension: klack
