Repository raycast/extensions, pull requests merged in 2024-02, with the labels that each got.

#10488 Update dash-off extension
  extensions/dash-off/CHANGELOG.md
  extensions/dash-off/package.json
  extensions/dash-off/src/email-form.tsx
Labels: extension fix / improvement, extension: dash-off

#10490 Dash Off Readme
  extensions/dash-off/CHANGELOG.md
  extensions/dash-off/README.md
Labels: extension fix / improvement, OP is author, extension: dash-off

#10491 Dash Off: Update Google Consent disclaimer in README
  extensions/dash-off/CHANGELOG.md
  extensions/dash-off/README.md
Labels: extension fix / improvement, OP is author, extension: dash-off

#10493 Message about Google Verification
  extensions/dash-off/CHANGELOG.md
  extensions/dash-off/README.md
Labels: extension fix / improvement, OP is author, extension: dash-off

#10410 feat: better sentence case
  extensions/change-case/CHANGELOG.md
  extensions/change-case/package-lock.json
  extensions/change-case/package.json
  extensions/change-case/src/types.tsx
Labels: extension fix / improvement, OP is author, extension: change-case

#10495 Dash Off: Fix BCC emails
  extensions/dash-off/CHANGELOG.md
  extensions/dash-off/src/email-form.tsx
Labels: extension fix / improvement, OP is author, extension: dash-off

#10333 Add wise-accounts extension
  extensions/wise-accounts/.eslintrc.json
  extensions/wise-accounts/.gitignore
  extensions/wise-accounts/.prettierrc
  extensions/wise-accounts/CHANGELOG.md
  extensions/wise-accounts/LICENSE
  extensions/wise-accounts/README.md
  extensions/wise-accounts/assets/command-icon.png
  extensions/wise-accounts/metadata/wise-accounts-1.png
  extensions/wise-accounts/metadata/wise-accounts-2.png
  extensions/wise-accounts/metadata/wise-accounts-3.png
  extensions/wise-accounts/metadata/wise-accounts-4.png
  extensions/wise-accounts/metadata/wise-accounts-5.png
  extensions/wise-accounts/metadata/wise-accounts-6.png
  extensions/wise-accounts/package-lock.json
  extensions/wise-accounts/package.json
  extensions/wise-accounts/src/api/balances.ts
  extensions/wise-accounts/src/api/latestPayments.ts
  extensions/wise-accounts/src/api/profile.ts
  extensions/wise-accounts/src/api/wiseClient.ts
  extensions/wise-accounts/src/display-balances.tsx
  extensions/wise-accounts/src/get-balances.tsx
  extensions/wise-accounts/src/get-profiles.tsx
  extensions/wise-accounts/src/get-transactions.tsx
  extensions/wise-accounts/src/helpers/constants.ts
  extensions/wise-accounts/src/helpers/filterPreferedBalances.ts
  extensions/wise-accounts/src/helpers/getAccountName.ts
  extensions/wise-accounts/src/helpers/preferences.ts
  extensions/wise-accounts/tsconfig.json
Labels: new extension

#10494 [Dash Off] fixed typo
  extensions/dash-off/CHANGELOG.md
  extensions/dash-off/README.md
Labels: extension fix / improvement, extension: dash-off

#10497 Update tableplus extension
  extensions/tableplus/CHANGELOG.md
  extensions/tableplus/src/components/Actions.tsx
  extensions/tableplus/src/components/ConnectionListItem.tsx
  extensions/tableplus/src/components/GetAccessories.tsx
Labels: extension fix / improvement, OP is author, extension: tableplus

#10487 Error sesh when tmux isn't running
  extensions/sesh/CHANGELOG.md
  extensions/sesh/README.md
  extensions/sesh/src/cmd-connect.tsx
  extensions/sesh/src/sesh.ts
Labels: extension fix / improvement, OP is author, extension: sesh

#10486 Update reclaim-ai extension to remove confusing Join Meeting top-level command.
  extensions/reclaim-ai/CHANGELOG.md
  extensions/reclaim-ai/package.json
Labels: extension fix / improvement, OP is contributor, extension: reclaim-ai

#10403 Add ai-humanizer extension
  extensions/ai-humanizer/.eslintrc.json
  extensions/ai-humanizer/.gitignore
  extensions/ai-humanizer/.prettierrc
  extensions/ai-humanizer/CHANGELOG.md
  extensions/ai-humanizer/LICENSE
  extensions/ai-humanizer/README.md
  extensions/ai-humanizer/assets/command-icon.png
  extensions/ai-humanizer/metadata/ai-humanizer-1.png
  extensions/ai-humanizer/package-lock.json
  extensions/ai-humanizer/package.json
  extensions/ai-humanizer/src/index.tsx
  extensions/ai-humanizer/tsconfig.json
Labels: new extension

#10451 Update savvycal extension
  extensions/savvycal/CHANGELOG.md
  extensions/savvycal/package.json
  extensions/savvycal/src/components/Link.tsx
Labels: extension fix / improvement, extension: savvycal

#10480 Update pdfsearch extension
  extensions/pdfsearch/.gitignore
  extensions/pdfsearch/CHANGELOG.md
  extensions/pdfsearch/Sources/DrawImage/main.swift
  extensions/pdfsearch/Sources/SearchDocument/Extractor.swift
  extensions/pdfsearch/Sources/SearchDocument/Tokenizer.swift
  extensions/pdfsearch/src/util.ts
  extensions/pdfsearch/src/views/form.tsx
  extensions/pdfsearch/src/views/search.tsx
Labels: extension fix / improvement, OP is author, extension: pdfsearch

#10350 Add website-blocker extension
  extensions/website-blocker/.eslintrc.json
  extensions/website-blocker/.gitignore
  extensions/website-blocker/.prettierrc
  extensions/website-blocker/CHANGELOG.md
  extensions/website-blocker/assets/command-icon.png
  extensions/website-blocker/metadata/website-blocker-1.png
  extensions/website-blocker/metadata/website-blocker-2.png
  extensions/website-blocker/metadata/website-blocker-3.png
  extensions/website-blocker/package-lock.json
  extensions/website-blocker/package.json
  extensions/website-blocker/src/hosts-file.ts
  extensions/website-blocker/src/manage.tsx
  extensions/website-blocker/src/storage.ts
  extensions/website-blocker/src/toggle.ts
  extensions/website-blocker/tsconfig.json
Labels: new extension

#10336 Asana: Use OAuth utils
  extensions/asana/CHANGELOG.md
  extensions/asana/package-lock.json
  extensions/asana/package.json
  extensions/asana/src/api/oauth.ts
  extensions/asana/src/components/withAsanaAuth.tsx
  extensions/asana/src/create-task.tsx
  extensions/asana/src/my-tasks.tsx
Labels: extension fix / improvement, OP is author, extension: asana

#10516 Update ngrok extension
  extensions/ngrok/CHANGELOG.md
  extensions/ngrok/package-lock.json
  extensions/ngrok/package.json
  extensions/ngrok/src/components/add-tunnel.tsx
Labels: extension fix / improvement, OP is author, extension: ngrok

#10452 Support Luxon formatting tokens in templates (yyyy, MM, dd)
  extensions/obsidian/CHANGELOG.md
  extensions/obsidian/README.md
  extensions/obsidian/package-lock.json
  extensions/obsidian/package.json
  extensions/obsidian/src/utils/utils.tsx
Labels: extension fix / improvement, OP is contributor, extension: obsidian

#10337 Zoom: Use OAuth utils
  extensions/zoom/CHANGELOG.md
  extensions/zoom/package-lock.json
  extensions/zoom/package.json
  extensions/zoom/src/api/oauth.ts
  extensions/zoom/src/components/withZoomAuth.tsx
  extensions/zoom/src/schedule-meeting.tsx
  extensions/zoom/src/start-meeting.tsx
  extensions/zoom/src/this-week-meetings.tsx
  extensions/zoom/src/upcoming-meetings.tsx
Labels: extension fix / improvement, OP is author, extension: zoom

#10485 refactor(toggle-menu-bar): ability to switch between all system options
  extensions/toggle-menu-bar/CHANGELOG.md
  extensions/toggle-menu-bar/README.md
  extensions/toggle-menu-bar/package-lock.json
  extensions/toggle-menu-bar/package.json
  extensions/toggle-menu-bar/src/scriptRunner.tsx
  extensions/toggle-menu-bar/src/toggle.tsx
  extensions/toggle-menu-bar/src/utils.tsx
Labels: extension fix / improvement, OP is author, extension: toggle-menu-bar

#10360 fix(browser-bookmarks): sort by score
  extensions/browser-bookmarks/CHANGELOG.md
  extensions/browser-bookmarks/src/index.tsx
Labels: extension fix / improvement, extension: browser-bookmarks

#10522 Linear: Fix images in issues
  extensions/linear/CHANGELOG.md
  extensions/linear/src/api/linearClient.ts
Labels: extension fix / improvement, OP is author, extension: linear

#10307 [MS Teams] Add support for new Teams API (2.0.0)
  extensions/microsoft-teams-calling/CHANGELOG.md
  extensions/microsoft-teams-calling/README.md
  extensions/microsoft-teams-calling/package.json
  extensions/microsoft-teams-calling/src/controlMeeting.tsx
  extensions/microsoft-teams-calling/src/leaveCall.ts
  extensions/microsoft-teams-calling/src/teams/meetingClient.ts
  extensions/microsoft-teams-calling/src/teams/meetingClientV1.ts
  extensions/microsoft-teams-calling/src/teams/meetingClientV2.ts
  extensions/microsoft-teams-calling/src/teams/preferences.ts
  extensions/microsoft-teams-calling/src/teams/storage.ts
  extensions/microsoft-teams-calling/src/toggleMute.ts
  extensions/microsoft-teams-calling/src/toggleVideo.ts
Labels: extension fix / improvement, extension: microsoft-teams-calling

#10414 Update resend extension
  extensions/resend/CHANGELOG.md
  extensions/resend/README.md
  extensions/resend/metadata/resend-4-add-new-domain.png
  extensions/resend/metadata/resend-4-send-new-email.png
  extensions/resend/metadata/resend-5-send-new-email.png
  extensions/resend/metadata/resend-5-view-contacts.png
  extensions/resend/metadata/resend-6-create-new-contact.png
  extensions/resend/metadata/resend-6-view-logged-emails.png
  extensions/resend/package-lock.json
  extensions/resend/package.json
  extensions/resend/src/contacts.tsx
  extensions/resend/src/utils/api.ts
  extensions/resend/src/utils/types.ts
Labels: extension fix / improvement, extension: resend

#10056 Add imagekit-uploader extension
  extensions/imagekit-uploader/.eslintrc.json
  extensions/imagekit-uploader/.gitignore
  extensions/imagekit-uploader/.prettierrc
  extensions/imagekit-uploader/.vscode/settings.json
  extensions/imagekit-uploader/CHANGELOG.md
  extensions/imagekit-uploader/README.md
  extensions/imagekit-uploader/assets/SolarClipboardOutline.svg
  extensions/imagekit-uploader/assets/SolarFileTextLinear.svg
  extensions/imagekit-uploader/assets/extension_icon.png
  extensions/imagekit-uploader/metadata/imagekit-uploader-1.png
  extensions/imagekit-uploader/metadata/imagekit-uploader-2.png
  extensions/imagekit-uploader/package-lock.json
  extensions/imagekit-uploader/package.json
  extensions/imagekit-uploader/src/clear-history.ts
  extensions/imagekit-uploader/src/common/components/image-detail-metadata.tsx
  extensions/imagekit-uploader/src/common/hooks/useImageKit.ts
  extensions/imagekit-uploader/src/common/types.ts
  extensions/imagekit-uploader/src/common/utils/get-finder-selected-images.ts
  extensions/imagekit-uploader/src/common/utils/imagekit.ts
  extensions/imagekit-uploader/src/common/utils/to-unit.ts
  extensions/imagekit-uploader/src/upload-image-in-clipboard.tsx
  extensions/imagekit-uploader/src/upload-selected-image-in-finder.tsx
  extensions/imagekit-uploader/src/view-history.tsx
  extensions/imagekit-uploader/tsconfig.json
Labels: new extension

#10164 Create PlanetScale extension
  extensions/planetscale/.api/api.json
  extensions/planetscale/.api/apis/pscale/index.ts
  extensions/planetscale/.api/apis/pscale/openapi.json
  extensions/planetscale/.api/apis/pscale/package-lock.json
  extensions/planetscale/.api/apis/pscale/package.json
  extensions/planetscale/.api/apis/pscale/schemas.ts
  extensions/planetscale/.api/apis/pscale/types.ts
  extensions/planetscale/.eslintrc.json
  extensions/planetscale/.gitignore
  extensions/planetscale/.prettierrc
  extensions/planetscale/CHANGELOG.md
  extensions/planetscale/README.md
  extensions/planetscale/assets/branch-sleep.svg
  extensions/planetscale/assets/branch.svg
  extensions/planetscale/assets/database-sleep.svg
  extensions/planetscale/assets/database.svg
  extensions/planetscale/assets/deploy-closed.svg
  extensions/planetscale/assets/deploy-create.svg
  extensions/planetscale/assets/deploy-deployed.svg
  extensions/planetscale/assets/deploy-open.svg
  extensions/planetscale/assets/extension-icon.png
  extensions/planetscale/assets/shield.svg
  extensions/planetscale/assets/table-add.svg
  extensions/planetscale/assets/table-delete.svg
  extensions/planetscale/assets/table-edit.svg
  extensions/planetscale/assets/table.svg
  extensions/planetscale/metadata/planetscale-1.png
  extensions/planetscale/metadata/planetscale-2.png
  extensions/planetscale/metadata/planetscale-3.png
  extensions/planetscale/metadata/planetscale-4.png
  extensions/planetscale/package-lock.json
  extensions/planetscale/package.json
  extensions/planetscale/src/create-branch.tsx
  extensions/planetscale/src/create-deploy-request.tsx
  extensions/planetscale/src/lib/api.ts
  extensions/planetscale/src/lib/colors.ts
  extensions/planetscale/src/lib/components/deploy-request-detail.tsx
  extensions/planetscale/src/lib/components/form-database-dropdown.tsx
  extensions/planetscale/src/lib/components/list-database-dropdown.tsx
  extensions/planetscale/src/lib/hooks/use-branches.ts
  extensions/planetscale/src/lib/hooks/use-databases.ts
  extensions/planetscale/src/lib/hooks/use-deploy-operations.ts
  extensions/planetscale/src/lib/hooks/use-deploy-requests.ts
  extensions/planetscale/src/lib/hooks/use-organizations.ts
  extensions/planetscale/src/lib/hooks/use-selected-database.ts
  extensions/planetscale/src/lib/hooks/use-selected-organization.ts
  extensions/planetscale/src/lib/icons.tsx
  extensions/planetscale/src/lib/oauth/client.ts
  extensions/planetscale/src/lib/oauth/view.tsx
  extensions/planetscale/src/lib/utils.ts
  extensions/planetscale/src/search-branches.tsx
  extensions/planetscale/src/search-databases.tsx
  extensions/planetscale/src/search-deploy-requests.tsx
  extensions/planetscale/tsconfig.json
Labels: new extension

#10537 fix(Timers): dismissTimerAlert leaving behind residual timer files
  extensions/timers/CHANGELOG.md
  extensions/timers/src/dismissTimerAlert.ts
  extensions/timers/src/timerUtils.ts
Labels: extension fix / improvement, OP is author, extension: timers

#10421 [Open Browsers Profiles] Add developer editions
  extensions/browsers-profiles/CHANGELOG.md
  extensions/browsers-profiles/assets/icons/brave.png
  extensions/browsers-profiles/assets/icons/canary.png
  extensions/browsers-profiles/assets/icons/chrome-dev.png
  extensions/browsers-profiles/assets/icons/chrome.png
  extensions/browsers-profiles/assets/icons/chromium.png
  extensions/browsers-profiles/assets/icons/edge-canary.png
  extensions/browsers-profiles/assets/icons/edge-dev.png
  extensions/browsers-profiles/assets/icons/edge.png
  extensions/browsers-profiles/assets/icons/firefox-dev.png
  extensions/browsers-profiles/assets/icons/firefox-nightly.png
  extensions/browsers-profiles/assets/icons/firefox.png
  extensions/browsers-profiles/package.json
  extensions/browsers-profiles/src/lib/supported-browsers.json
Labels: extension fix / improvement, extension: browsers-profiles

#10471 Feature: Make responses display above the question
  extensions/chatgpt/CHANGELOG.md
  extensions/chatgpt/src/views/answer-detail.tsx
Labels: extension fix / improvement, OP is contributor, extension: chatgpt

#10479 fix: action description typo
  extensions/chatgpt-quick-actions/CHANGELOG.md
  extensions/chatgpt-quick-actions/package.json
Labels: extension fix / improvement, extension: chatgpt-quick-actions

#10570 Update random extension
  extensions/random-data-generator/.eslintrc.json
  extensions/random-data-generator/.gitignore
  extensions/random-data-generator/.prettierrc
  extensions/random-data-generator/CHANGELOG.md
  extensions/random-data-generator/package-lock.json
  extensions/random-data-generator/package.json
  extensions/random-data-generator/src/components/FakerListItem.tsx
  extensions/random-data-generator/src/components/Locales.tsx
  extensions/random-data-generator/src/faker.ts
  extensions/random-data-generator/src/hooks/usePreferences.ts
  extensions/random-data-generator/src/index.tsx
  extensions/random-data-generator/src/open-quicklink.ts
  extensions/random-data-generator/src/utils/index.ts
  extensions/random-data-generator/tsconfig.json
Labels: extension fix / improvement, extension: random-data-generator

#10482 Update timecamp extension
  extensions/timecamp/CHANGELOG.md
  extensions/timecamp/README.md
  extensions/timecamp/metadata/timecamp-1.png
  extensions/timecamp/metadata/timecamp-2.png
  extensions/timecamp/metadata/timecamp-3.png
  extensions/timecamp/src/components/ActiveTaskItem.tsx
  extensions/timecamp/src/components/RecentEntries.tsx
  extensions/timecamp/src/index.tsx
Labels: extension fix / improvement, OP is author, extension: timecamp

#10577 Update icons
  extensions/braid/CHANGELOG.md
  extensions/braid/assets/icons/money-dark.svg
  extensions/braid/assets/icons/money-light.svg
  extensions/braid/assets/icons/socialFacebook-dark.svg
  extensions/braid/assets/icons/socialFacebook-light.svg
  extensions/braid/assets/icons/socialGitHub-dark.svg
  extensions/braid/assets/icons/socialGitHub-light.svg
  extensions/braid/assets/icons/socialInstagram-dark.svg
  extensions/braid/assets/icons/socialInstagram-light.svg
  extensions/braid/assets/icons/socialLinkedIn-dark.svg
  extensions/braid/assets/icons/socialLinkedIn-light.svg
  extensions/braid/assets/icons/socialMedium-dark.svg
  extensions/braid/assets/icons/socialMedium-light.svg
  extensions/braid/assets/icons/socialX-dark.svg
  extensions/braid/assets/icons/socialX-light.svg
  extensions/braid/assets/icons/socialYouTube-dark.svg
  extensions/braid/assets/icons/socialYouTube-light.svg
  extensions/braid/assets/icons/sort-dark.svg
  extensions/braid/assets/icons/sort-light.svg
  extensions/braid/braid-icons/money.svg
  extensions/braid/braid-icons/socialFacebook.svg
  extensions/braid/braid-icons/socialGitHub.svg
  extensions/braid/braid-icons/socialInstagram.svg
  extensions/braid/braid-icons/socialLinkedIn.svg
  extensions/braid/braid-icons/socialMedium.svg
  extensions/braid/braid-icons/socialX.svg
  extensions/braid/braid-icons/socialYouTube.svg
  extensions/braid/braid-icons/sort.svg
  extensions/braid/src/resources/icon-map.json
Labels: extension fix / improvement, OP is author, extension: braid

#10555 [Bugfix] [Menubar Weather] Fix json parse error
  extensions/menubar-weather/CHANGELOG.md
  extensions/menubar-weather/package-lock.json
  extensions/menubar-weather/package.json
  extensions/menubar-weather/src/menubar-weather.tsx
  extensions/menubar-weather/src/utils/common-utils.ts
Labels: extension fix / improvement, OP is author, extension: menubar-weather

#10561 [Bugfix] [Wifi] Fix crash
  extensions/wi-fi/CHANGELOG.md
  extensions/wi-fi/package-lock.json
  extensions/wi-fi/package.json
  extensions/wi-fi/src/hooks/hooks.ts
  extensions/wi-fi/src/scan-wifi.tsx
  extensions/wi-fi/src/toggle-wi-fi.tsx
  extensions/wi-fi/src/wi-fi-signal.tsx
Labels: extension fix / improvement, OP is author, extension: wi-fi

#10559 [Bugfix] [Short.io] Fix crash
  extensions/short-io/CHANGELOG.md
  extensions/short-io/assets/short-io-icon@dark.png
  extensions/short-io/package-lock.json
  extensions/short-io/package.json
  extensions/short-io/src/components/action-open-preferences.tsx
  extensions/short-io/src/hooks/hooks.ts
  extensions/short-io/src/search-links.tsx
  extensions/short-io/src/utils/axios-utils.ts
Labels: extension fix / improvement, OP is author, extension: short-io

#10558 [Bugfix] [Auto Quit App] Fix crash
  extensions/auto-quit-app/CHANGELOG.md
  extensions/auto-quit-app/package-lock.json
  extensions/auto-quit-app/package.json
  extensions/auto-quit-app/raycast-env.d.ts
  extensions/auto-quit-app/src/components/action-open-preferences.tsx
  extensions/auto-quit-app/src/hooks/hooks.ts
  extensions/auto-quit-app/src/utils/applescript-utils.ts
Labels: extension fix / improvement, OP is author, extension: auto-quit-app

#10484 [idonthavespotify] bug fixes + visual minor improvements
  extensions/idonthavespotify/CHANGELOG.md
  extensions/idonthavespotify/README.md
  extensions/idonthavespotify/src/constants/index.ts
  extensions/idonthavespotify/src/search.tsx
  extensions/idonthavespotify/src/utils/cache.ts
Labels: extension fix / improvement, OP is author, extension: idonthavespotify

#10483 [Unifi] Add support for UnifiOS 3.2+
  extensions/unifi/.gitignore
  extensions/unifi/CHANGELOG.md
  extensions/unifi/package-lock.json
  extensions/unifi/package.json
Labels: extension fix / improvement, OP is author, extension: unifi

#10583 Checklists: Fix issues, upgrade dependencies and refactor
  extensions/checklist/.gitignore
  extensions/checklist/CHANGELOG.md
  extensions/checklist/TESTS.md
  extensions/checklist/package-lock.json
  extensions/checklist/package.json
  extensions/checklist/src/actions/close-checklist.tsx
  extensions/checklist/src/actions/create-checklist.tsx
  extensions/checklist/src/actions/delete-checklist.tsx
  extensions/checklist/src/actions/edit-checklist.tsx
  extensions/checklist/src/actions/share-checklist-action.tsx
  extensions/checklist/src/actions/start-checklist.tsx
  extensions/checklist/src/components/create-checklist.tsx
  extensions/checklist/src/components/empty-view.tsx
  extensions/checklist/src/components/view-checklist.tsx
  extensions/checklist/src/fixtures/example-checklists.ts
  extensions/checklist/src/lib/util.ts
  extensions/checklist/src/show-checklists.tsx
Labels: extension fix / improvement, OP is author, extension: checklist

#10443 feat(github-repository-search): add filter preferences
  extensions/github-repository-search/CHANGELOG.md
  extensions/github-repository-search/package-lock.json
  extensions/github-repository-search/package.json
  extensions/github-repository-search/src/index.tsx
  extensions/github-repository-search/src/useRepositories.ts
  extensions/github-repository-search/src/useVisitedRepositories.ts
  extensions/github-repository-search/tsconfig.json
Labels: extension fix / improvement, OP is contributor, extension: github-repository-search

#10250 Add Fathom Analytics Stats extension
  extensions/fathom-analytics-stats/.eslintrc.json
  extensions/fathom-analytics-stats/.prettierrc
  extensions/fathom-analytics-stats/CHANGELOG.md
  extensions/fathom-analytics-stats/README.md
  extensions/fathom-analytics-stats/assets/icon.png
  extensions/fathom-analytics-stats/assets/icon@dark.png
  extensions/fathom-analytics-stats/metadata/fathom-analytics-stats-2.png
  extensions/fathom-analytics-stats/metadata/fathom-analytics-stats-3.png
  extensions/fathom-analytics-stats/metadata/fathom-analytics-stats-4.png
  extensions/fathom-analytics-stats/metadata/fathom-analytics-stats-5.png
  extensions/fathom-analytics-stats/metadata/fathom-analytics-stats-6.png
  extensions/fathom-analytics-stats/package-lock.json
  extensions/fathom-analytics-stats/package.json
  extensions/fathom-analytics-stats/src/browse-browsers.tsx
  extensions/fathom-analytics-stats/src/browse-countries.tsx
  extensions/fathom-analytics-stats/src/browse-devices.tsx
  extensions/fathom-analytics-stats/src/browse-pageviews.tsx
  extensions/fathom-analytics-stats/src/browse-referrers.tsx
  extensions/fathom-analytics-stats/src/components/PeriodDropdown.tsx
  extensions/fathom-analytics-stats/src/countryMapping.ts
  extensions/fathom-analytics-stats/src/current-visitors-menu-bar.tsx
  extensions/fathom-analytics-stats/src/current-visitors.tsx
  extensions/fathom-analytics-stats/src/open-dashboard.tsx
  extensions/fathom-analytics-stats/src/open-site-settings.tsx
  extensions/fathom-analytics-stats/src/types/Browser.ts
  extensions/fathom-analytics-stats/src/types/Country.ts
  extensions/fathom-analytics-stats/src/types/Device.ts
  extensions/fathom-analytics-stats/src/types/LiveData.ts
  extensions/fathom-analytics-stats/src/types/Page.ts
  extensions/fathom-analytics-stats/src/types/Referrer.ts
  extensions/fathom-analytics-stats/src/utils/api.ts
  extensions/fathom-analytics-stats/tsconfig.json
Labels: new extension

#10020 Update bitwarden extension
  extensions/bitwarden/CHANGELOG.md
  extensions/bitwarden/assets/create-folder.png
  extensions/bitwarden/package.json
  extensions/bitwarden/src/api/bitwarden.ts
  extensions/bitwarden/src/components/LoadingFallback.tsx
  extensions/bitwarden/src/context/bitwarden.tsx
  extensions/bitwarden/src/create-folder.tsx
  extensions/bitwarden/src/search.tsx
Labels: extension fix / improvement, OP is contributor, extension: bitwarden

#10557 [Bugfix] [Bing Wallpaper] Fix network request error
  extensions/bing-wallpaper/CHANGELOG.md
  extensions/bing-wallpaper/package-lock.json
  extensions/bing-wallpaper/package.json
  extensions/bing-wallpaper/src/auto-random-bing-wallpaper.ts
  extensions/bing-wallpaper/src/auto-switch-bing-wallpaper.ts
  extensions/bing-wallpaper/src/components/action-open-extension-preferences.tsx
  extensions/bing-wallpaper/src/components/actions-online-bing-wallpaper.tsx
  extensions/bing-wallpaper/src/components/wallpaper-grid-layout.tsx
  extensions/bing-wallpaper/src/hooks/hooks.ts
  extensions/bing-wallpaper/src/preview-bing-wallpaper.tsx
  extensions/bing-wallpaper/src/set-bing-wallpaper.tsx
  extensions/bing-wallpaper/src/utils/common-utils.ts
Labels: extension fix / improvement, OP is author, extension: bing-wallpaper

#10585 fix: fixed an issue by to replace spaces with plus
  extensions/let-me-google-that/CHANGELOG.md
  extensions/let-me-google-that/package.json
  extensions/let-me-google-that/src/index.tsx
Labels: extension fix / improvement, extension: let-me-google-that

#10385 Update manga-calendar extension
  extensions/manga-calendar/.gitignore
  extensions/manga-calendar/CHANGELOG.md
  extensions/manga-calendar/README.md
  extensions/manga-calendar/assets/list-icon.png
  extensions/manga-calendar/package-lock.json
  extensions/manga-calendar/package.json
  extensions/manga-calendar/src/collections.tsx
  extensions/manga-calendar/src/comic.tsx
  extensions/manga-calendar/src/commands/BrowseCollections.tsx
  extensions/manga-calendar/src/commands/CurrentMonthPublications.tsx
  extensions/manga-calendar/src/components/CollectionGridItem.tsx
  extensions/manga-calendar/src/components/CollectionListView.tsx
  extensions/manga-calendar/src/components/DateDropdown.tsx
  extensions/manga-calendar/src/components/DetailsView.tsx
  extensions/manga-calendar/src/components/ItemDetail.tsx
  extensions/manga-calendar/src/components/ListItem.tsx
  extensions/manga-calendar/src/components/MangaListItem.tsx
  extensions/manga-calendar/src/components/OpenPublisherStore.tsx
  extensions/manga-calendar/src/data/index.ts
  extensions/manga-calendar/src/index.tsx
  extensions/manga-calendar/src/manga.tsx
  extensions/manga-calendar/src/types/index.ts
  extensions/manga-calendar/src/utils/normalizeUrl.ts
  extensions/manga-calendar/src/utils/scrapper.ts
  extensions/manga-calendar/tsconfig.json
Labels: extension fix / improvement, OP is author, extension: manga-calendar

#10271 Update pipedrive extension
  extensions/pipedrive/.gitignore
  extensions/pipedrive/CHANGELOG.md
  extensions/pipedrive/assets/command-icon.png
  extensions/pipedrive/package-lock.json
  extensions/pipedrive/package.json
  extensions/pipedrive/src/index.tsx
  extensions/pipedrive/tsconfig.json
Labels: extension fix / improvement, extension: pipedrive

#10441 Update vmware-vcenter extension
  extensions/vmware-vcenter/.gitignore
  extensions/vmware-vcenter/CHANGELOG.md
  extensions/vmware-vcenter/README.md
  extensions/vmware-vcenter/metadata/vmware-vcenter-1.png
  extensions/vmware-vcenter/metadata/vmware-vcenter-2.png
  extensions/vmware-vcenter/metadata/vmware-vcenter-3.png
  extensions/vmware-vcenter/metadata/vmware-vcenter-4.png
  extensions/vmware-vcenter/metadata/vmware-vcenter-5.png
  extensions/vmware-vcenter/metadata/vmware-vcenter-6.png
  extensions/vmware-vcenter/package-lock.json
  extensions/vmware-vcenter/package.json
  extensions/vmware-vcenter/src/api/ServerView.tsx
  extensions/vmware-vcenter/src/api/function.tsx
  extensions/vmware-vcenter/src/api/types.tsx
  extensions/vmware-vcenter/src/api/ui.tsx
  extensions/vmware-vcenter/src/api/vCenter.tsx
  extensions/vmware-vcenter/src/datastore.tsx
  extensions/vmware-vcenter/src/host.tsx
  extensions/vmware-vcenter/src/network.tsx
  extensions/vmware-vcenter/src/vm.tsx
Labels: extension fix / improvement, OP is author, extension: vmware-vcenter

#10552 [Bugfix] [Life Progress] Fix network request error
  extensions/life-progress/CHANGELOG.md
  extensions/life-progress/package-lock.json
  extensions/life-progress/package.json
  extensions/life-progress/src/hooks/hooks.ts
  extensions/life-progress/src/utils/common-utils.ts
Labels: extension fix / improvement, OP is author, extension: life-progress

#10587 FileMaker Snippets: add more keywords to list search
  extensions/filemaker-snippets/CHANGELOG.md
  extensions/filemaker-snippets/src/displayFile.tsx
  extensions/filemaker-snippets/src/favorites.tsx
  extensions/filemaker-snippets/src/helpers.ts
  extensions/filemaker-snippets/src/recents.tsx
Labels: extension fix / improvement, OP is author, extension: filemaker-snippets

#10503 Add letterboxd extension
  extensions/letterboxd/.eslintrc.json
  extensions/letterboxd/.gitignore
  extensions/letterboxd/CHANGELOG.md
  extensions/letterboxd/README.md
  extensions/letterboxd/assets/icon.png
  extensions/letterboxd/metadata/letterboxd-1.png
  extensions/letterboxd/metadata/letterboxd-2.png
  extensions/letterboxd/package-lock.json
  extensions/letterboxd/package.json
  extensions/letterboxd/src/components/error-screen.tsx
  extensions/letterboxd/src/letterboxd-api.ts
  extensions/letterboxd/src/movie-details.tsx
  extensions/letterboxd/src/parser.ts
  extensions/letterboxd/src/search-movies-page.tsx
  extensions/letterboxd/src/strings.ts
  extensions/letterboxd/src/types.ts
  extensions/letterboxd/src/utils.ts
  extensions/letterboxd/tsconfig.json
Labels: new extension

#10419 Add proxmox extension
  extensions/proxmox/.eslintrc.json
  extensions/proxmox/.gitignore
  extensions/proxmox/.prettierrc
  extensions/proxmox/CHANGELOG.md
  extensions/proxmox/README.md
  extensions/proxmox/assets/icon.png
  extensions/proxmox/assets/icon@dark.png
  extensions/proxmox/metadata/proxmox-1.png
  extensions/proxmox/metadata/proxmox-2.png
  extensions/proxmox/package-lock.json
  extensions/proxmox/package.json
  extensions/proxmox/src/api.ts
  extensions/proxmox/src/index.tsx
  extensions/proxmox/tsconfig.json
Labels: new extension

#10611 refactor(espanso): remove console.log from index.tsx
  extensions/espanso/CHANGELOG.md
  extensions/espanso/src/index.tsx
Labels: extension fix / improvement, OP is author, extension: espanso

#10613 [Splitwise] fixes issues when adding expenses
  extensions/Splitwise/CHANGELOG.md
  extensions/Splitwise/README.md
  extensions/Splitwise/src/add-expense.tsx
  extensions/Splitwise/src/list-expenses.tsx
  extensions/Splitwise/src/types/friends_groups.types.ts
  extensions/Splitwise/src/utils/utils.tsx
Labels: extension fix / improvement, OP is author, extension: splitwise

#10597 [Youtube] Add Sorting
  extensions/youtube/.gitignore
  extensions/youtube/CHANGELOG.md
  extensions/youtube/package-lock.json
  extensions/youtube/package.json
  extensions/youtube/src/components/channel_search.tsx
  extensions/youtube/src/components/dropdown.tsx
  extensions/youtube/src/components/listgrid.tsx
  extensions/youtube/src/components/video_search.tsx
  extensions/youtube/src/lib/youtubeapi.ts
Labels: extension fix / improvement, OP is author, extension: youtube

#10574 Polish Audio Device extension
  extensions/audio-device/.gitignore
  extensions/audio-device/CHANGELOG.md
  extensions/audio-device/package-lock.json
  extensions/audio-device/package.json
  extensions/audio-device/src/airplay.tsx
  extensions/audio-device/src/audio-device.ts
  extensions/audio-device/src/helpers.tsx
Labels: extension fix / improvement, extension: audio-device

#10291 Add raycast-transistorfm extension
  extensions/raycast-transistorfm/.eslintrc.json
  extensions/raycast-transistorfm/.gitignore
  extensions/raycast-transistorfm/.prettierrc
  extensions/raycast-transistorfm/CHANGELOG.md
  extensions/raycast-transistorfm/LICENSE
  extensions/raycast-transistorfm/README.md
  extensions/raycast-transistorfm/assets/icon.png
  extensions/raycast-transistorfm/metadata/transistorfm-2.png
  extensions/raycast-transistorfm/metadata/transistorfm-3.png
  extensions/raycast-transistorfm/package-lock.json
  extensions/raycast-transistorfm/package.json
  extensions/raycast-transistorfm/src/components/episodeMetadata/index.tsx
  extensions/raycast-transistorfm/src/components/episodeMetadata/mappings.ts
  extensions/raycast-transistorfm/src/components/showMetadata/index.tsx
  extensions/raycast-transistorfm/src/components/showMetadata/mappings.ts
  extensions/raycast-transistorfm/src/defaultShow.tsx
  extensions/raycast-transistorfm/src/episodes.tsx
  extensions/raycast-transistorfm/src/interfaces/analytics.ts
  extensions/raycast-transistorfm/src/interfaces/episodes.ts
  extensions/raycast-transistorfm/src/interfaces/http.ts
  extensions/raycast-transistorfm/src/interfaces/shows.ts
  extensions/raycast-transistorfm/src/menu.tsx
  extensions/raycast-transistorfm/src/shows.tsx
  extensions/raycast-transistorfm/src/utils/colors.ts
  extensions/raycast-transistorfm/src/utils/constants.ts
  extensions/raycast-transistorfm/src/utils/defaultShow.ts
  extensions/raycast-transistorfm/src/utils/preference.ts
  extensions/raycast-transistorfm/src/utils/request.ts
  extensions/raycast-transistorfm/src/utils/requests.ts
  extensions/raycast-transistorfm/src/utils/shortcut.ts
  extensions/raycast-transistorfm/src/utils/types.ts
  extensions/raycast-transistorfm/tsconfig.json
Labels: new extension

#10568 Update tidyread---streamline-your-daily-reading extension
  extensions/tidyread---streamline-your-daily-reading/CHANGELOG.md
  extensions/tidyread---streamline-your-daily-reading/README.md
  extensions/tidyread---streamline-your-daily-reading/package.json
  extensions/tidyread---streamline-your-daily-reading/src/add-source.command.tsx
  extensions/tidyread---streamline-your-daily-reading/src/components/DigestDetail.tsx
  extensions/tidyread---streamline-your-daily-reading/src/components/GenTodaysDigestPanel.tsx
  extensions/tidyread---streamline-your-daily-reading/src/components/RSSListItem.tsx
  extensions/tidyread---streamline-your-daily-reading/src/components/RSSPlainListView.tsx
  extensions/tidyread---streamline-your-daily-reading/src/components/RSSSearch.tsx
  extensions/tidyread---streamline-your-daily-reading/src/const.ts
  extensions/tidyread---streamline-your-daily-reading/src/digest/index.ts
  extensions/tidyread---streamline-your-daily-reading/src/providers/moonshot.ts
  extensions/tidyread---streamline-your-daily-reading/src/providers/openai.ts
  extensions/tidyread---streamline-your-daily-reading/src/store/index.ts
  extensions/tidyread---streamline-your-daily-reading/src/types.ts
  extensions/tidyread---streamline-your-daily-reading/src/utils/biz.ts
  extensions/tidyread---streamline-your-daily-reading/src/utils/file.ts
  extensions/tidyread---streamline-your-daily-reading/src/utils/preference.ts
Labels: extension fix / improvement, OP is author, extension: tidyread---streamline-your-daily-readi…

#10548 Update radicle extension
  extensions/radicle/CHANGELOG.md
  extensions/radicle/src/projects.tsx
Labels: extension fix / improvement, OP is author, extension: radicle

#9971 fix(airpods-noise-control): main function fixed and 'off' mode added
  extensions/airpods-noise-control/CHANGELOG.md
  extensions/airpods-noise-control/package.json
  extensions/airpods-noise-control/src/airpods-menu.ts
Labels: extension fix / improvement, status: stalled, extension: airpods-noise-control, Pinged author

#10041 [Sonos]: add an mvp for a sonos extension
  extensions/sonos/.eslintrc.json
  extensions/sonos/.gitignore
  extensions/sonos/.prettierrc
  extensions/sonos/CHANGELOG.md
  extensions/sonos/README.md
  extensions/sonos/assets/sonos.png
  extensions/sonos/metadata/screenshot-01.png
  extensions/sonos/metadata/screenshot-02.png
  extensions/sonos/metadata/screenshot-03.png
  extensions/sonos/package-lock.json
  extensions/sonos/package.json
  extensions/sonos/src/core/hooks.ts
  extensions/sonos/src/core/sonos.ts
  extensions/sonos/src/core/storage.ts
  extensions/sonos/src/core/utils.ts
  extensions/sonos/src/decrease-volume.tsx
  extensions/sonos/src/increase-volume.tsx
  extensions/sonos/src/next-track.tsx
  extensions/sonos/src/now-playing.tsx
  extensions/sonos/src/play-pause.tsx
  extensions/sonos/src/previous-track.tsx
  extensions/sonos/src/set-group.tsx
  extensions/sonos/tsconfig.json
Labels: new extension

#10637 Dash Off: Remove Consent in Readme
  extensions/dash-off/CHANGELOG.md
  extensions/dash-off/README.md
Labels: extension fix / improvement, OP is author, extension: dash-off

#10517 Update doutu extension
  extensions/doutu/.eslintrc.json
  extensions/doutu/.gitignore
  extensions/doutu/.prettierrc
  extensions/doutu/CHANGELOG.md
  extensions/doutu/README.md
  extensions/doutu/metadata/dou-tu-1.png
  extensions/doutu/metadata/dou-tu-2.png
  extensions/doutu/metadata/dou-tu-3.png
  extensions/doutu/metadata/dou-tu-4.png
  extensions/doutu/metadata/doutu-1.png
  extensions/doutu/metadata/doutu-2.png
  extensions/doutu/metadata/doutu-3.png
  extensions/doutu/metadata/doutu-4.png
  extensions/doutu/package-lock.json
  extensions/doutu/package.json
  extensions/doutu/src/index.tsx
  extensions/doutu/src/services/clipboardService.ts
  extensions/doutu/src/services/sources.ts
  extensions/doutu/src/services/sourcesService.ts
  extensions/doutu/tsconfig.json
Labels: extension fix / improvement, OP is author, extension: doutu

#10511 New extension: Perplexity-API
  extensions/perplexity-api/.eslintrc.json
  extensions/perplexity-api/.gitignore
  extensions/perplexity-api/.prettierrc
  extensions/perplexity-api/CHANGELOG.md
  extensions/perplexity-api/README.md
  extensions/perplexity-api/assets/perplexity.png
  extensions/perplexity-api/metadata/askAI.png
  extensions/perplexity-api/metadata/fix.png
  extensions/perplexity-api/metadata/prompt.png
  extensions/perplexity-api/metadata/summary.png
  extensions/perplexity-api/package-lock.json
  extensions/perplexity-api/package.json
  extensions/perplexity-api/src/academic.jsx
  extensions/perplexity-api/src/api/perplexity.jsx
  extensions/perplexity-api/src/askAI.jsx
  extensions/perplexity-api/src/askAboutSelectedText.jsx
  extensions/perplexity-api/src/casual.jsx
  extensions/perplexity-api/src/comment.jsx
  extensions/perplexity-api/src/composeResponse.jsx
  extensions/perplexity-api/src/explain.jsx
  extensions/perplexity-api/src/friendly.jsx
  extensions/perplexity-api/src/grammar.jsx
  extensions/perplexity-api/src/improve.jsx
  extensions/perplexity-api/src/longer.jsx
  extensions/perplexity-api/src/professional.jsx
  extensions/perplexity-api/src/shorter.jsx
  extensions/perplexity-api/src/summarize.jsx
  extensions/perplexity-api/src/synonyms.jsx
  extensions/perplexity-api/src/taskBreakdown.jsx
  extensions/perplexity-api/src/translate.jsx
Labels: new extension

#10649 Dash Off: Use the right Client ID based on Raycast Flavour
  extensions/dash-off/CHANGELOG.md
  extensions/dash-off/src/lib/oauth.ts
Labels: extension fix / improvement, OP is author, extension: dash-off

#10647 [Sonos] enable filtering in the group list
  extensions/sonos/CHANGELOG.md
  extensions/sonos/src/set-group.tsx
Labels: extension fix / improvement, OP is author, extension: sonos

#10644 Support arguments and take in urlKey for Dub.co link shortener
  extensions/dub-link-shortener/CHANGELOG.md
  extensions/dub-link-shortener/package.json
  extensions/dub-link-shortener/src/shorten-link.tsx
  extensions/dub-link-shortener/src/utils/api.ts
Labels: extension fix / improvement, OP is author, extension: dub-link-shortener

#10355 Update jira-time-tracking extension
  extensions/jira-time-tracking/.gitignore
  extensions/jira-time-tracking/CHANGELOG.md
  extensions/jira-time-tracking/README.md
  extensions/jira-time-tracking/package-lock.json
  extensions/jira-time-tracking/package.json
  extensions/jira-time-tracking/src/controllers.ts
  extensions/jira-time-tracking/src/index.tsx
  extensions/jira-time-tracking/src/types.ts
  extensions/jira-time-tracking/src/validators.ts
Labels: extension fix / improvement, extension: jira-time-tracking

#10540 Add Shiori extension
  extensions/shiori/.eslintrc.json
  extensions/shiori/.gitignore
  extensions/shiori/.prettierrc
  extensions/shiori/CHANGELOG.md
  extensions/shiori/README.md
  extensions/shiori/assets/shiori-icon-512.png
  extensions/shiori/assets/shiori-icon-original.png
  extensions/shiori/metadata/shiori-2.png
  extensions/shiori/package-lock.json
  extensions/shiori/package.json
  extensions/shiori/src/addBookmark.tsx
  extensions/shiori/src/api.ts
  extensions/shiori/tsconfig.json
Labels: new extension

#10615 [Day One] support a complete timestamp instead of just dates
  extensions/day-one/CHANGELOG.md
  extensions/day-one/src/add-entry.tsx
  extensions/day-one/src/day-one.ts
Labels: extension fix / improvement, OP is author, extension: day-one

#10545 Add music-link-converter extension
  extensions/music-link-converter/.eslintrc.json
  extensions/music-link-converter/.gitignore
  extensions/music-link-converter/.prettierrc
  extensions/music-link-converter/CHANGELOG.md
  extensions/music-link-converter/README.md
  extensions/music-link-converter/assets/extension_icon.png
  extensions/music-link-converter/metadata/music-link-converter-1.png
  extensions/music-link-converter/package-lock.json
  extensions/music-link-converter/package.json
  extensions/music-link-converter/src/index.tsx
  extensions/music-link-converter/tsconfig.json
Labels: new extension

#10547 Update ClickUp capture error message and submitting form states
  extensions/clickup/CHANGELOG.md
  extensions/clickup/package.json
  extensions/clickup/src/capture.tsx
Labels: extension fix / improvement, extension: clickup

#10679 Check only first default address
  extensions/dash-off/CHANGELOG.md
  extensions/dash-off/src/email-form.tsx
Labels: extension fix / improvement, OP is author, extension: dash-off

#10628 Replace icons with hi-res ones
  extensions/coffee/CHANGELOG.md
  extensions/coffee/assets/coffee-off.png
  extensions/coffee/assets/coffee-pot-empty.svg
  extensions/coffee/assets/coffee-pot-filled.svg
  extensions/coffee/assets/coffee.png
  extensions/coffee/assets/coffeedark-off.png
  extensions/coffee/assets/coffeedark.png
  extensions/coffee/src/index.tsx
Labels: extension fix / improvement, OP is contributor, extension: coffee

#10161 [Toggl Track] Prepare extensions for new commands
  extensions/toggl-track/CHANGELOG.md
  extensions/toggl-track/package.json
  extensions/toggl-track/src/components/CreateTimeEntryForm.tsx
  extensions/toggl-track/src/components/ProjectGroupSection.tsx
  extensions/toggl-track/src/components/ProjectListItem.tsx
  extensions/toggl-track/src/components/RunningTimeEntry.tsx
  extensions/toggl-track/src/hooks/useClients.ts
  extensions/toggl-track/src/hooks/useMe.ts
  extensions/toggl-track/src/hooks/useProjects.ts
  extensions/toggl-track/src/hooks/useRunningTimeEntry.ts
  extensions/toggl-track/src/hooks/useTags.ts
  extensions/toggl-track/src/hooks/useTasks.ts
  extensions/toggl-track/src/hooks/useTimeEntries.ts
  extensions/toggl-track/src/hooks/useWorkspaces.ts
  extensions/toggl-track/src/index.tsx
Labels: extension fix / improvement, OP is contributor, extension: toggl-track

#10668 Update calendar extension
  extensions/calendar/CHANGELOG.md
  extensions/calendar/package.json
  extensions/calendar/src/index.tsx
Labels: extension fix / improvement, OP is author, extension: calendar

#10536 Add transfer-sh_upload extension
  extensions/transfer-sh_upload/.eslintrc.json
  extensions/transfer-sh_upload/CHANGELOG.md
  extensions/transfer-sh_upload/README.md
  extensions/transfer-sh_upload/assets/upload-dark.png
  extensions/transfer-sh_upload/package-lock.json
  extensions/transfer-sh_upload/package.json
  extensions/transfer-sh_upload/src/index.ts
  extensions/transfer-sh_upload/tsconfig.json
Labels: new extension

#9703 Add youtube-subscriber-count extension
  extensions/youtube-subscriber-count/.eslintrc.json
  extensions/youtube-subscriber-count/.gitignore
  extensions/youtube-subscriber-count/.prettierrc
  extensions/youtube-subscriber-count/CHANGELOG.md
  extensions/youtube-subscriber-count/README.md
  extensions/youtube-subscriber-count/assets/command-icon.png
  extensions/youtube-subscriber-count/package-lock.json
  extensions/youtube-subscriber-count/package.json
  extensions/youtube-subscriber-count/src/index.tsx
  extensions/youtube-subscriber-count/tsconfig.json
Labels: new extension

#10676 Update zed-recent-projects extension - Add support for pinned projects
  extensions/zed-recent-projects/CHANGELOG.md
  extensions/zed-recent-projects/metadata/zed-recent-projects-2.png
  extensions/zed-recent-projects/src/hooks/usePinnedEntries.ts
  extensions/zed-recent-projects/src/search.tsx
Labels: extension fix / improvement, OP is author, extension: zed-recent-projects

#10549 Update search-npm extension
  extensions/search-npm/.eslintrc.json
  extensions/search-npm/.gitignore
  extensions/search-npm/CHANGELOG.md
  extensions/search-npm/package-lock.json
  extensions/search-npm/package.json
  extensions/search-npm/src/components/CopyInstallCommandActions.tsx
  extensions/search-npm/src/components/HistoryListItem.tsx
  extensions/search-npm/src/components/PackagListItem.tsx
  extensions/search-npm/src/favorites.tsx
  extensions/search-npm/src/fetch-readme.d.ts
  extensions/search-npm/src/hooks/useFavorites.ts
  extensions/search-npm/src/hooks/useReadme.ts
  extensions/search-npm/src/index.tsx
  extensions/search-npm/src/model/npmResponse.model.ts
  extensions/search-npm/src/screens/Readme.tsx
  extensions/search-npm/src/tiny-relative-date.d.ts
  extensions/search-npm/src/types.d.ts
  extensions/search-npm/src/utils/favorite-storage.ts
  extensions/search-npm/src/utils/history-storage.ts
  extensions/search-npm/src/utils/parseRepoUrl.ts
Labels: extension fix / improvement, extension: search-npm

#10675 [Update Extension] System Monitor - Add System Info Panel
  extensions/system-monitor/CHANGELOG.md
  extensions/system-monitor/assets/connection.png
  extensions/system-monitor/assets/lightning.png
  extensions/system-monitor/metadata/raycast-system-monitor-1.png
  extensions/system-monitor/metadata/raycast-system-monitor-2.png
  extensions/system-monitor/metadata/raycast-system-monitor-3.png
  extensions/system-monitor/metadata/raycast-system-monitor-4.png
  extensions/system-monitor/metadata/raycast-system-monitor-5.png
  extensions/system-monitor/package-lock.json
  extensions/system-monitor/package.json
  extensions/system-monitor/src/Cpu/CpuMonitor.tsx
  extensions/system-monitor/src/Cpu/CpuUtils.ts
  extensions/system-monitor/src/Interfaces.ts
  extensions/system-monitor/src/Memory/MemoryMonitor.tsx
  extensions/system-monitor/src/Memory/MemoryUtils.ts
  extensions/system-monitor/src/Network/NetworkMonitor.tsx
  extensions/system-monitor/src/Network/NetworkUtils.ts
  extensions/system-monitor/src/Power/PowerMonitor.tsx
  extensions/system-monitor/src/Power/PowerUtils.ts
  extensions/system-monitor/src/SystemInfo/SystemInfo.tsx
  extensions/system-monitor/src/SystemInfo/SystemUtils.ts
  extensions/system-monitor/src/system-monitor.tsx
  extensions/system-monitor/src/utils.ts
Labels: extension fix / improvement, OP is contributor, extension: system-monitor

#8938 Add uk-bank-holidays extension
  extensions/uk-bank-holidays/.eslintrc.json
  extensions/uk-bank-holidays/.gitignore
  extensions/uk-bank-holidays/.prettierrc
  extensions/uk-bank-holidays/CHANGELOG.md
  extensions/uk-bank-holidays/README.md
  extensions/uk-bank-holidays/assets/holidays-icon.png
  extensions/uk-bank-holidays/metadata/.DS_Store
  extensions/uk-bank-holidays/metadata/uk-bank-holidays-1.png
  extensions/uk-bank-holidays/metadata/uk-bank-holidays-2.png
  extensions/uk-bank-holidays/package-lock.json
  extensions/uk-bank-holidays/package.json
  extensions/uk-bank-holidays/src/index.tsx
  extensions/uk-bank-holidays/src/next-holiday.tsx
  extensions/uk-bank-holidays/tsconfig.json
Labels: new extension

#10546 Update search-mdn extension
  extensions/search-mdn/.eslintrc.json
  extensions/search-mdn/.gitignore
  extensions/search-mdn/.prettierrc
  extensions/search-mdn/.vscode/settings.json
  extensions/search-mdn/CHANGELOG.md
  extensions/search-mdn/package-lock.json
  extensions/search-mdn/package.json
  extensions/search-mdn/src/components/Details.tsx
  extensions/search-mdn/src/hooks/use-result.ts
  extensions/search-mdn/src/hooks/use-search.ts
  extensions/search-mdn/src/index.tsx
  extensions/search-mdn/src/types.ts
  extensions/search-mdn/tsconfig.json
Labels: extension fix / improvement, extension: search-mdn

#10609 Change cancelled workflow icon color
  extensions/github/CHANGELOG.md
  extensions/github/src/helpers/workflow.ts
Labels: extension fix / improvement, extension: github

#10560 Browser History: Add support for Sidekick browser
  extensions/browser-history/CHANGELOG.md
  extensions/browser-history/README.md
  extensions/browser-history/assets/sidekick-logo.png
  extensions/browser-history/package.json
  extensions/browser-history/src/actions/index.ts
  extensions/browser-history/src/components/BrowserHistoryActions.tsx
  extensions/browser-history/src/constants.ts
  extensions/browser-history/src/interfaces/index.ts
  extensions/browser-history/src/util/index.ts
Labels: extension fix / improvement, extension: browser-history

#10578 Update terminalfinder extension
  extensions/terminalfinder/CHANGELOG.md
  extensions/terminalfinder/package.json
  extensions/terminalfinder/src/clipboardToWez.tsx
  extensions/terminalfinder/src/finderToWez.tsx
  extensions/terminalfinder/src/wezToFinder.tsx
Labels: extension fix / improvement, extension: terminalfinder

#10622 Update logseq extension
  extensions/logseq/CHANGELOG.md
  extensions/logseq/package-lock.json
  extensions/logseq/package.json
  extensions/logseq/src/utils.ts
Labels: extension fix / improvement, extension: logseq

#10719 Apple Reminders: Use GPT-4 for Quick Add Reminder
  extensions/apple-reminders/CHANGELOG.md
  extensions/apple-reminders/src/quick-add-reminder.tsx
Labels: extension fix / improvement, OP is author, extension: apple-reminders

#10685 Update package.json
  extensions/perplexity-api/CHANGELOG.md
  extensions/perplexity-api/package.json
Labels: extension fix / improvement, extension: perplexity-api

#10686 Update music extension
  extensions/music/CHANGELOG.md
  extensions/music/package.json
  extensions/music/src/remove-current-playing-from-current-playlist.tsx
  extensions/music/src/util/scripts/current-track.ts
Labels: extension fix / improvement, extension: music

#10721 Update transfer-sh_upload extension
  extensions/transfer-sh_upload/CHANGELOG.md
  extensions/transfer-sh_upload/README.md
  extensions/transfer-sh_upload/package.json
Labels: extension fix / improvement, OP is author, extension: transfer-sh_upload

#10726 ChatGPT - added keywords
  extensions/chatgpt/CHANGELOG.md
  extensions/chatgpt/package.json
Labels: extension fix / improvement, OP is contributor, extension: chatgpt

#10725 FileMaker Snippets: update applescripts
  extensions/filemaker-snippets/CHANGELOG.md
  extensions/filemaker-snippets/assets/FmClipTools/DDR Script to Pasteable Script.applescript
  extensions/filemaker-snippets/assets/FmClipTools/Param Script Steps to Template Calc.applescript
  extensions/filemaker-snippets/assets/FmClipTools/Params as JSON Script Steps to Template Calc.applescript
  extensions/filemaker-snippets/assets/FmClipTools/clipboardToFM.applescript
  extensions/filemaker-snippets/assets/FmClipTools/fmClip - Copy Specific Custom Functions.applescript
  extensions/filemaker-snippets/assets/FmClipTools/fmClip - Custom Function Paste As Needed.applescript
  extensions/filemaker-snippets/assets/FmClipTools/fmClip - FM Objects to Multi-Objects.applescript
  extensions/filemaker-snippets/assets/FmClipTools/fmClip - Wrap Set Field with If-Not-Same.applescript
  extensions/filemaker-snippets/assets/FmClipTools/fmObjectTranslator.applescript
  extensions/filemaker-snippets/assets/FmClipTools/zzExtra - Smart Paste Functions (needs external project htcLib).applescript
Labels: extension fix / improvement, OP is author, extension: filemaker-snippets

#10714 Update Surl extension
  extensions/surl/CHANGELOG.md
  extensions/surl/package.json
  extensions/surl/src/history.tsx
  extensions/surl/src/index.tsx
Labels: extension fix / improvement, OP is author, extension: surl

#10592 Add deno-deploy extension
  extensions/deno-deploy/.eslintrc.json
  extensions/deno-deploy/.gitignore
  extensions/deno-deploy/.prettierrc
  extensions/deno-deploy/CHANGELOG.md
  extensions/deno-deploy/README.md
  extensions/deno-deploy/assets/command-icon.png
  extensions/deno-deploy/assets/deno-logo.svg
  extensions/deno-deploy/assets/git-logo.svg
  extensions/deno-deploy/assets/github-logo.svg
  extensions/deno-deploy/assets/playground-logo.svg
  extensions/deno-deploy/metadata/deno-deploy-1.png
  extensions/deno-deploy/metadata/deno-deploy-2.png
  extensions/deno-deploy/metadata/deno-deploy-3.png
  extensions/deno-deploy/metadata/deno-deploy-4.png
  extensions/deno-deploy/metadata/deno-deploy-5.png
  extensions/deno-deploy/package-lock.json
  extensions/deno-deploy/package.json
  extensions/deno-deploy/src/api/dash/fetcher/index.ts
  extensions/deno-deploy/src/api/dash/index.ts
  extensions/deno-deploy/src/api/dash/requests/createPlayground.ts
  extensions/deno-deploy/src/api/dash/requests/index.ts
  extensions/deno-deploy/src/api/deno/fetcher/index.ts
  extensions/deno-deploy/src/api/deno/index.ts
  extensions/deno-deploy/src/api/types.ts
  extensions/deno-deploy/src/context/ErrorBoundary.tsx
  extensions/deno-deploy/src/context/ProjectList.tsx
  extensions/deno-deploy/src/create-playground-quick.tsx
  extensions/deno-deploy/src/create-playground.tsx
  extensions/deno-deploy/src/hooks/useDashApi.ts
  extensions/deno-deploy/src/hooks/useDenoApi.ts
  extensions/deno-deploy/src/hooks/useDenoState.ts
  extensions/deno-deploy/src/hooks/useOrganizations.ts
  extensions/deno-deploy/src/hooks/useSharedState.ts
  extensions/deno-deploy/src/pages/components/debug-project.tsx
  extensions/deno-deploy/src/pages/components/organization-switcher.tsx
  extensions/deno-deploy/src/pages/components/project-deployments.tsx
  extensions/deno-deploy/src/pages/components/projects-list-item.tsx
  extensions/deno-deploy/src/pages/components/troubleshooting-guide.tsx
  extensions/deno-deploy/src/pages/components/with-valid-token.tsx
  extensions/deno-deploy/src/pages/form/create-playground.tsx
  extensions/deno-deploy/src/pages/form/project-namechange.tsx
  extensions/deno-deploy/src/pages/lists/organizations-list.tsx
  extensions/deno-deploy/src/pages/lists/projects-list.tsx
  extensions/deno-deploy/src/search-organizations.tsx
  extensions/deno-deploy/src/search-projects.tsx
  extensions/deno-deploy/src/utils/accesstoken.ts
  extensions/deno-deploy/src/utils/error.ts
  extensions/deno-deploy/src/utils/fetch.ts
  extensions/deno-deploy/src/utils/index.ts
  extensions/deno-deploy/src/utils/time.ts
  extensions/deno-deploy/src/utils/toast.ts
  extensions/deno-deploy/tsconfig.json
Labels: new extension

#10693 Brew/quarantine
  extensions/brew/CHANGELOG.md
  extensions/brew/package.json
  extensions/brew/src/brew.ts
  extensions/brew/src/components/runInTerminal.ts
  extensions/brew/src/preferences.ts
Labels: extension fix / improvement, OP is author, extension: brew

#10702 fix(dashlane-vault): handle undefined favorites
  extensions/dashlane-vault/CHANGELOG.md
  extensions/dashlane-vault/package-lock.json
  extensions/dashlane-vault/package.json
  extensions/dashlane-vault/src/components/ListItemNote.tsx
  extensions/dashlane-vault/src/context/favorites.tsx
  extensions/dashlane-vault/src/lib/dcli.ts
  extensions/dashlane-vault/src/types/dcli.ts
Labels: extension fix / improvement, OP is author, extension: dashlane-vault

#10504 Google Workspace: OAuth utils
  extensions/google-workspace/CHANGELOG.md
  extensions/google-workspace/package-lock.json
  extensions/google-workspace/package.json
  extensions/google-workspace/src/api/googleAuth.ts
  extensions/google-workspace/src/api/oauth.ts
  extensions/google-workspace/src/api/updateFile.ts
  extensions/google-workspace/src/components/withGoogleAuth.tsx
  extensions/google-workspace/src/create-google-document.tsx
  extensions/google-workspace/src/create-google-form.tsx
  extensions/google-workspace/src/create-google-presentation.tsx
  extensions/google-workspace/src/create-google-spreadsheet.tsx
  extensions/google-workspace/src/helpers/docs.ts
  extensions/google-workspace/src/search-google-drive-files.tsx
  extensions/google-workspace/src/starred-google-drive-files-menubar.tsx
  extensions/google-workspace/src/starred-google-drive-files.tsx
Labels: extension fix / improvement, OP is author, extension: google-workspace

#10344 Jira: Use OAuth utils
  extensions/jira/CHANGELOG.md
  extensions/jira/package-lock.json
  extensions/jira/package.json
  extensions/jira/src/active-sprints.tsx
  extensions/jira/src/api/jiraCredentials.ts
  extensions/jira/src/api/oauth.ts
  extensions/jira/src/api/request.ts
  extensions/jira/src/components/FormUserDropdown.tsx
  extensions/jira/src/components/IssueActions.tsx
  extensions/jira/src/components/IssueAttachments.tsx
  extensions/jira/src/create-issue.tsx
  extensions/jira/src/helpers/withJiraCredentials.tsx
  extensions/jira/src/my-filters.tsx
  extensions/jira/src/open-from-clipboard.tsx
  extensions/jira/src/open-issues.tsx
  extensions/jira/src/recently-updated-issues.tsx
  extensions/jira/src/reported-issues.tsx
  extensions/jira/src/search-issues.tsx
  extensions/jira/src/watched-issues.tsx
Labels: extension fix / improvement, OP is author, extension: jira

#10727 Update ViaCEP extension
  extensions/viacep/CHANGELOG.md
  extensions/viacep/assets/viacep-icon.png
  extensions/viacep/package-lock.json
  extensions/viacep/package.json
Labels: extension fix / improvement, OP is author, extension: viacep

#10734 Update ViaCEP extension
  extensions/viacep/CHANGELOG.md
  extensions/viacep/metadata/viacep-1.png
  extensions/viacep/metadata/viacep-2.png
  extensions/viacep/metadata/viacep-3.png
Labels: extension fix / improvement, OP is author, extension: viacep

#10731 Update single-focus extension
  extensions/single-focus/CHANGELOG.md
  extensions/single-focus/README.md
  extensions/single-focus/src/index.ts
Labels: extension fix / improvement, OP is author, extension: single-focus

#10732 Update adb extension - add "open developer settings" command
  extensions/adb/CHANGELOG.md
  extensions/adb/package.json
  extensions/adb/src/adb-open-developer-settings.ts
Labels: extension fix / improvement, OP is author, extension: adb

#10735 Update adb extension - add new command and simplify others
  extensions/adb/CHANGELOG.md
  extensions/adb/package.json
  extensions/adb/src/adb-airplane.ts
  extensions/adb/src/adb-dark-mode.ts
  extensions/adb/src/adb-toggle-layout-bounds.ts
  extensions/adb/src/adb-wifi.ts
Labels: extension fix / improvement, OP is author, extension: adb

#10736 Update adb extension
  extensions/adb/CHANGELOG.md
  extensions/adb/src/adb-airplane.ts
  extensions/adb/src/adb-wifi.ts
Labels: extension fix / improvement, OP is author, extension: adb

#10740 Update deno-deploy extension
  extensions/deno-deploy/CHANGELOG.md
  extensions/deno-deploy/package.json
Labels: extension fix / improvement, OP is author, extension: deno-deploy

#10750 Fix hypersonic crash
  extensions/hypersonic/CHANGELOG.md
  extensions/hypersonic/package-lock.json
  extensions/hypersonic/src/features/todo-list/utils/refresh-menu-bar.ts
Labels: extension fix / improvement, extension: hypersonic

#10748 Update ratio-calculator extension
  extensions/ratio-calculator/CHANGELOG.md
  extensions/ratio-calculator/src/calculate-ratio.jsx
Labels: extension fix / improvement, OP is author, extension: ratio-calculator

#10749 Update laravel-livewire extension
  extensions/laravel-livewire/.eslintrc.json
  extensions/laravel-livewire/.gitignore
  extensions/laravel-livewire/CHANGELOG.md
  extensions/laravel-livewire/package-lock.json
  extensions/laravel-livewire/package.json
  extensions/laravel-livewire/src/documentation/3.x.json
  extensions/laravel-livewire/src/index.tsx
Labels: extension fix / improvement, extension: laravel-livewire

#10695 Add Oura extension
  extensions/oura/.eslintrc.json
  extensions/oura/.gitignore
  extensions/oura/.prettierrc
  extensions/oura/CHANGELOG.md
  extensions/oura/README.md
  extensions/oura/assets/command-icon.png
  extensions/oura/metadata/oura-0.png
  extensions/oura/metadata/oura-1.png
  extensions/oura/metadata/oura-2.png
  extensions/oura/metadata/oura-3.png
  extensions/oura/metadata/oura-4.png
  extensions/oura/package-lock.json
  extensions/oura/package.json
  extensions/oura/src/activity.tsx
  extensions/oura/src/index.tsx
  extensions/oura/src/readiness.tsx
  extensions/oura/src/sleep.tsx
  extensions/oura/src/summary.ts
  extensions/oura/src/types/index.ts
  extensions/oura/src/unauthorized.tsx
  extensions/oura/src/utils/datetime.ts
  extensions/oura/src/utils/measurement.ts
  extensions/oura/src/utils/ouraData.ts
  extensions/oura/src/workouts.tsx
  extensions/oura/tsconfig.json
Labels: new extension

#10738 [Perplexity API] New Features, Customization, and Streaming using OpenAI client
  extensions/perplexity-api/CHANGELOG.md
  extensions/perplexity-api/README.md
  extensions/perplexity-api/metadata/askAI.png
  extensions/perplexity-api/metadata/changeModel.png
  extensions/perplexity-api/metadata/fix.png
  extensions/perplexity-api/metadata/onlineModel.png
  extensions/perplexity-api/metadata/prompt.png
  extensions/perplexity-api/metadata/summarize.png
  extensions/perplexity-api/metadata/summarizeChangeTemp.png
  extensions/perplexity-api/metadata/summary.png
  extensions/perplexity-api/package-lock.json
  extensions/perplexity-api/package.json
  extensions/perplexity-api/src/academic.jsx
  extensions/perplexity-api/src/api/perplexity.jsx
  extensions/perplexity-api/src/ask.tsx
  extensions/perplexity-api/src/askAI.jsx
  extensions/perplexity-api/src/askAboutSelectedText.jsx
  extensions/perplexity-api/src/casual.jsx
  extensions/perplexity-api/src/casual.tsx
  extensions/perplexity-api/src/coding.tsx
  extensions/perplexity-api/src/comment.jsx
  extensions/perplexity-api/src/composeResponse.jsx
  extensions/perplexity-api/src/custom.tsx
  extensions/perplexity-api/src/explain.jsx
  extensions/perplexity-api/src/friendly.jsx
  extensions/perplexity-api/src/grammar.jsx
  extensions/perplexity-api/src/grammar.tsx
  extensions/perplexity-api/src/hook/ResultView.types.ts
  extensions/perplexity-api/src/hook/api.ts
  extensions/perplexity-api/src/hook/perplexityAPI.tsx
  extensions/perplexity-api/src/hook/utils.ts
  extensions/perplexity-api/src/improve.jsx
  extensions/perplexity-api/src/improve.tsx
  extensions/perplexity-api/src/longer.jsx
  extensions/perplexity-api/src/longer.tsx
  extensions/perplexity-api/src/professional.jsx
  extensions/perplexity-api/src/professional.tsx
  extensions/perplexity-api/src/shorter.jsx
  extensions/perplexity-api/src/shorter.tsx
  extensions/perplexity-api/src/summarize.jsx
  extensions/perplexity-api/src/summarize.tsx
  extensions/perplexity-api/src/synonyms.jsx
  extensions/perplexity-api/src/synonyms.tsx
  extensions/perplexity-api/src/taskBreakdown.jsx
  extensions/perplexity-api/src/taskBreakdown.tsx
  extensions/perplexity-api/src/translate.jsx
  extensions/perplexity-api/src/translate.tsx
  extensions/perplexity-api/tsconfig.json
Labels: extension fix / improvement, OP is author, extension: perplexity-api

#10351 GitHub: Add category preferences to select which pull requests to show in the menu bar
  extensions/github/CHANGELOG.md
  extensions/github/package.json
  extensions/github/src/hooks/useMyPullRequests.ts
  extensions/github/src/my-pull-requests.tsx
  extensions/github/src/open-pull-request-menu.tsx
Labels: extension fix / improvement, OP is author, extension: github

#10527 Update jira-search-self-hosted extension
  extensions/jira-search-self-hosted/CHANGELOG.md
  extensions/jira-search-self-hosted/package.json
  extensions/jira-search-self-hosted/src/open-issues.ts
Labels: extension fix / improvement, extension: jira-search-self-hosted

#9438 Update spotify-player extension
  extensions/spotify-player/CHANGELOG.md
  extensions/spotify-player/package.json
  extensions/spotify-player/src/addPlayingSongToPlaylist.tsx
  extensions/spotify-player/src/components/AddToPlaylistAction.tsx
  extensions/spotify-player/src/components/PlaylistItem.tsx
  extensions/spotify-player/src/nowPlayingMenuBar.tsx
Labels: extension fix / improvement, OP is contributor, extension: spotify-player

#10754 Update adb extension
  extensions/adb/CHANGELOG.md
  extensions/adb/src/adb-airplane.ts
  extensions/adb/src/adb-wifi.ts
Labels: extension fix / improvement, OP is author, extension: adb

#10659 Add time extension
  extensions/time/.eslintrc.json
  extensions/time/.gitignore
  extensions/time/.prettierrc
  extensions/time/CHANGELOG.md
  extensions/time/README.md
  extensions/time/assets/command-icon.png
  extensions/time/metadata/time-1.png
  extensions/time/package-lock.json
  extensions/time/package.json
  extensions/time/src/index.tsx
  extensions/time/tsconfig.json
Labels: new extension

#10724 [Browser Bookmarks ]Add support for Chrome Beta browser
  extensions/browser-bookmarks/CHANGELOG.md
  extensions/browser-bookmarks/assets/chrome-beta.png
  extensions/browser-bookmarks/src/hooks/useAvailableBrowsers.ts
  extensions/browser-bookmarks/src/hooks/useChromeBetaBookmarks.ts
  extensions/browser-bookmarks/src/index.tsx
Labels: extension fix / improvement, OP is contributor, extension: browser-bookmarks

#10760 Apple Reminders: Fix SwiftError bug
  extensions/apple-reminders/CHANGELOG.md
  extensions/apple-reminders/swift/AppleReminders/Sources/EventKit+Additions.swift
Labels: extension fix / improvement, OP is author, extension: apple-reminders

#10762 Add re-mind extension
  extensions/re-mind/.eslintrc.json
  extensions/re-mind/.gitignore
  extensions/re-mind/.prettierrc
  extensions/re-mind/CHANGELOG.md
  extensions/re-mind/README.md
  extensions/re-mind/assets/remind-icon.png
  extensions/re-mind/metadata/re-mind-1.png
  extensions/re-mind/metadata/re-mind-2.png
  extensions/re-mind/package-lock.json
  extensions/re-mind/package.json
  extensions/re-mind/src/view-re-mind.tsx
  extensions/re-mind/tsconfig.json
Labels: new extension

#10705 Update git-repos extension
  extensions/git-repos/CHANGELOG.md
  extensions/git-repos/package-lock.json
  extensions/git-repos/package.json
  extensions/git-repos/src/utils.tsx
Labels: extension fix / improvement, extension: git-repos

#10737 Allow to add multiple co-authors at once
  extensions/git-co-authors/CHANGELOG.md
  extensions/git-co-authors/package.json
  extensions/git-co-authors/src/choose-coauthor.tsx
Labels: extension fix / improvement, OP is contributor, extension: git-co-authors

#10756 Arc: Fix Bad Escaped Character error
  extensions/arc/CHANGELOG.md
  extensions/arc/package.json
  extensions/arc/src/arc.ts
Labels: extension fix / improvement, extension: arc

#10338 GitHub: Use OAuth utils
  extensions/github/CHANGELOG.md
  extensions/github/package-lock.json
  extensions/github/package.json
  extensions/github/src/api/githubClient.ts
  extensions/github/src/api/oauth.ts
  extensions/github/src/components/AddPullRequestReview.tsx
  extensions/github/src/components/IssueActions.tsx
  extensions/github/src/components/IssueDetail.tsx
  extensions/github/src/components/NotificationActions.tsx
  extensions/github/src/components/PullRequestActions.tsx
  extensions/github/src/components/PullRequestCommits.tsx
  extensions/github/src/components/PullRequestDetail.tsx
  extensions/github/src/components/RepositoryActions.tsx
  extensions/github/src/components/RepositoryDiscussions.tsx
  extensions/github/src/components/RepositoryIssues.tsx
  extensions/github/src/components/RepositoryPullRequest.tsx
  extensions/github/src/components/View.tsx
  extensions/github/src/components/WorkflowRunActions.tsx
  extensions/github/src/create-branch.tsx
  extensions/github/src/create-issue.tsx
  extensions/github/src/create-pull-request.tsx
  extensions/github/src/created-issues.tsx
  extensions/github/src/helpers/withGithubClient.tsx
  extensions/github/src/hooks/useCreatedIssues.ts
  extensions/github/src/hooks/useDiscussions.ts
  extensions/github/src/hooks/useIssues.ts
  extensions/github/src/hooks/useMyPullRequests.ts
  extensions/github/src/hooks/useOpenIssues.ts
  extensions/github/src/hooks/useRepositories.ts
  extensions/github/src/hooks/useViewer.ts
  extensions/github/src/my-discussions.tsx
  extensions/github/src/my-latest-repositories.tsx
  extensions/github/src/my-pull-requests.tsx
  extensions/github/src/notifications.tsx
  extensions/github/src/open-issues-menu.tsx
  extensions/github/src/open-issues.tsx
  extensions/github/src/open-pull-request-menu.tsx
  extensions/github/src/search-discussions.tsx
  extensions/github/src/search-issues.tsx
  extensions/github/src/search-pull-requests.tsx
  extensions/github/src/search-repositories.tsx
  extensions/github/src/unread-notifications.tsx
  extensions/github/src/workflow-runs.tsx
Labels: extension fix / improvement, OP is author, extension: github

#10772 Slack Status: Use OAuth utils
  extensions/slack-status/CHANGELOG.md
  extensions/slack-status/package-lock.json
  extensions/slack-status/package.json
  extensions/slack-status/src/oauth.tsx
  extensions/slack-status/src/setStatus.tsx
  extensions/slack-status/src/slack.ts
Labels: extension fix / improvement, extension: slack-status

#10775 Lark: support search lark minutes
  extensions/lark/CHANGELOG.md
  extensions/lark/assets/minutes/logo.png
  extensions/lark/assets/minutes/logo.svg
  extensions/lark/package.json
  extensions/lark/raycast-env.d.ts
  extensions/lark/src/search-docs.tsx
  extensions/lark/src/search-minutes.tsx
  extensions/lark/src/services/auth.ts
  extensions/lark/src/services/minutes.ts
  extensions/lark/src/services/shared.ts
  extensions/lark/src/services/space.ts
  extensions/lark/src/utils/config.ts
  extensions/lark/src/utils/storage.ts
Labels: extension fix / improvement, OP is author, extension: lark

#10713 Add repository-manager extension
  extensions/repository-manager/.editorconfig
  extensions/repository-manager/.eslintrc.json
  extensions/repository-manager/.gitignore
  extensions/repository-manager/.prettierrc
  extensions/repository-manager/CHANGELOG.md
  extensions/repository-manager/README.md
  extensions/repository-manager/assets/bitbucket-dark.png
  extensions/repository-manager/assets/bitbucket-light.png
  extensions/repository-manager/assets/extension-icon.png
  extensions/repository-manager/assets/github-dark.png
  extensions/repository-manager/assets/github-light.png
  extensions/repository-manager/assets/gitlab-dark.png
  extensions/repository-manager/assets/gitlab-light.png
  extensions/repository-manager/assets/gitness-dark.png
  extensions/repository-manager/assets/gitness-light.png
  extensions/repository-manager/metadata/repository-manager-1.png
  extensions/repository-manager/metadata/repository-manager-2.png
  extensions/repository-manager/metadata/repository-manager-3.png
  extensions/repository-manager/metadata/repository-manager-4.png
  extensions/repository-manager/package-lock.json
  extensions/repository-manager/package.json
  extensions/repository-manager/raycast-env.d.ts
  extensions/repository-manager/src/.DS_Store
  extensions/repository-manager/src/components/Cache.tsx
  extensions/repository-manager/src/components/Config.tsx
  extensions/repository-manager/src/components/Copy.tsx
  extensions/repository-manager/src/components/DirectoriesDropdown.tsx
  extensions/repository-manager/src/components/Git.tsx
  extensions/repository-manager/src/components/GitPullDetail.tsx
  extensions/repository-manager/src/components/GitStatisticsDetail.tsx
  extensions/repository-manager/src/components/GitStatusDetail.tsx
  extensions/repository-manager/src/components/Open.tsx
  extensions/repository-manager/src/components/OpenGitRemotes.tsx
  extensions/repository-manager/src/components/ProjectDetail.tsx
  extensions/repository-manager/src/components/ProjectListItem.tsx
  extensions/repository-manager/src/components/StartDevelopment.tsx
  extensions/repository-manager/src/helpers.ts
  extensions/repository-manager/src/list.tsx
  extensions/repository-manager/src/project.ts
  extensions/repository-manager/src/ui/toast.ts
  extensions/repository-manager/tsconfig.json
Labels: new extension

#10593 Add intention-clarifier extension
  extensions/intention-clarifier/.eslintrc.json
  extensions/intention-clarifier/.gitignore
  extensions/intention-clarifier/.prettierrc
  extensions/intention-clarifier/CHANGELOG.md
  extensions/intention-clarifier/README.md
  extensions/intention-clarifier/assets/extension_icon.png
  extensions/intention-clarifier/metadata/intention-clarifier-1.png
  extensions/intention-clarifier/metadata/intention-clarifier-2.png
  extensions/intention-clarifier/package-lock.json
  extensions/intention-clarifier/package.json
  extensions/intention-clarifier/src/clarify-intention.tsx
  extensions/intention-clarifier/src/select-moods.tsx
  extensions/intention-clarifier/tsconfig.json
Labels: new extension

#10696 Add query-chatgpt extension
  extensions/query-chatgpt/.eslintrc.json
  extensions/query-chatgpt/.gitignore
  extensions/query-chatgpt/.prettierrc
  extensions/query-chatgpt/CHANGELOG.md
  extensions/query-chatgpt/README.md
  extensions/query-chatgpt/assets/command-icon.png
  extensions/query-chatgpt/metadata/query-chatgpt-1.png
  extensions/query-chatgpt/metadata/query-chatgpt-2.png
  extensions/query-chatgpt/package-lock.json
  extensions/query-chatgpt/package.json
  extensions/query-chatgpt/src/compose-applescript.ts
  extensions/query-chatgpt/src/get-tab-javascript.ts
  extensions/query-chatgpt/src/query-chatgpt-custom-create.tsx
  extensions/query-chatgpt/src/query-chatgpt-execute-custom-command.tsx
  extensions/query-chatgpt/src/run-applescript.ts
  extensions/query-chatgpt/src/types.ts
  extensions/query-chatgpt/tsconfig.json
Labels: new extension

#10697 feat(tailscale): filter mullvad from devices, and sort devices
  extensions/tailscale/CHANGELOG.md
  extensions/tailscale/src/devices.tsx
  extensions/tailscale/src/exit.tsx
  extensions/tailscale/src/my-devices.tsx
  extensions/tailscale/src/shared.tsx
Labels: extension fix / improvement, extension: tailscale

#10710 feat(power-management): add extension
  extensions/power-management/.eslintrc.json
  extensions/power-management/.gitignore
  extensions/power-management/.prettierrc
  extensions/power-management/CHANGELOG.md
  extensions/power-management/README.md
  extensions/power-management/assets/command-icon.png
  extensions/power-management/package-lock.json
  extensions/power-management/package.json
  extensions/power-management/src/toggle-low-power-mode.tsx
  extensions/power-management/src/utils/powerManagement.tsx
  extensions/power-management/tsconfig.json
Labels: new extension

#10704 Update brew extension
  extensions/brew/.gitignore
  extensions/brew/CHANGELOG.md
  extensions/brew/package-lock.json
  extensions/brew/package.json
  extensions/brew/src/brew.ts
  extensions/brew/src/clean-up.tsx
  extensions/brew/src/preferences.ts
  extensions/brew/src/upgrade.tsx
  extensions/brew/src/utils.ts
Labels: extension fix / improvement, extension: brew

#10513 add issue state dropdown
  extensions/gitlab/CHANGELOG.md
  extensions/gitlab/src/components/issues.tsx
Labels: extension fix / improvement, OP is contributor, extension: gitlab

#10804 Reclaim.ai: bug fix: create task form should honor Up Next & Visibility user preferences
  extensions/reclaim-ai/CHANGELOG.md
  extensions/reclaim-ai/package-lock.json
  extensions/reclaim-ai/src/hooks/useTask.tsx
  extensions/reclaim-ai/src/hooks/useTask.types.ts
  extensions/reclaim-ai/src/task-form.tsx
  extensions/reclaim-ai/src/types/user.ts
Labels: extension fix / improvement, OP is contributor, extension: reclaim-ai

#10799 Update library-genesis extension
  extensions/library-genesis/CHANGELOG.md
  extensions/library-genesis/package-lock.json
  extensions/library-genesis/package.json
  extensions/library-genesis/src/types/index.ts
  extensions/library-genesis/src/utils/books.ts
Labels: extension fix / improvement, OP is contributor, extension: library-genesis

#10551 Update hide-all-apps extension: speed up hiding of other applications
  extensions/hide-all-apps/CHANGELOG.md
  extensions/hide-all-apps/package.json
  extensions/hide-all-apps/src/index.tsx
Labels: extension fix / improvement, extension: hide-all-apps

#10689 fix(notion): date with time
  extensions/notion/CHANGELOG.md
  extensions/notion/package-lock.json
  extensions/notion/package.json
  extensions/notion/src/components/forms/CreatePageForm.tsx
  extensions/notion/src/components/forms/DatabaseViewForm.tsx
  extensions/notion/src/components/forms/PagePropertyField.tsx
  extensions/notion/src/hooks/index.ts
  extensions/notion/src/utils/notion/database/index.ts
  extensions/notion/src/utils/notion/database/property.ts
  extensions/notion/src/utils/notion/page.ts
  extensions/notion/tsconfig.json
Labels: extension fix / improvement, OP is contributor, extension: notion

#10745 Add minion-ipsum extension
  extensions/minion-ipsum/.eslintrc.json
  extensions/minion-ipsum/.gitignore
  extensions/minion-ipsum/.prettierrc
  extensions/minion-ipsum/CHANGELOG.md
  extensions/minion-ipsum/README.md
  extensions/minion-ipsum/assets/command-icon.png
  extensions/minion-ipsum/package-lock.json
  extensions/minion-ipsum/package.json
  extensions/minion-ipsum/src/minion-ipsum.tsx
  extensions/minion-ipsum/src/utils.tsx
  extensions/minion-ipsum/tsconfig.json
Labels: new extension

#10791 Color picker swift macros
  extensions/color-picker/CHANGELOG.md
  extensions/color-picker/Package.swift
  extensions/color-picker/package.json
  extensions/color-picker/src/pick-color.ts
  extensions/color-picker/swift/color-picker/Package.resolved
  extensions/color-picker/swift/color-picker/Package.swift
  extensions/color-picker/swift/color-picker/Sources/ColorPicker.swift
Labels: extension fix / improvement, extension: color-picker

#10755 Update coffee extension
  extensions/coffee/CHANGELOG.md
  extensions/coffee/assets/coffee-mug-1-empty.svg
  extensions/coffee/assets/coffee-mug-1-filled.svg
  extensions/coffee/assets/coffee-mug-2-empty.svg
  extensions/coffee/assets/coffee-mug-2-filled.svg
  extensions/coffee/assets/paper-cup-empty.svg
  extensions/coffee/assets/paper-cup-filled.svg
  extensions/coffee/package.json
  extensions/coffee/src/index.tsx
Labels: extension fix / improvement, OP is contributor, extension: coffee

#10556 [1password] fix synchronization issues with the client in v8 version
  extensions/1password/CHANGELOG.md
  extensions/1password/package.json
  extensions/1password/src/v8/utils.ts
Labels: extension fix / improvement, extension: 1password

#10700 [Toggl track] Add new commands
  extensions/toggl-track/CHANGELOG.md
  extensions/toggl-track/README.md
  extensions/toggl-track/assets/manage-clients.png
  extensions/toggl-track/assets/manage-projects.png
  extensions/toggl-track/assets/manage-tags.png
  extensions/toggl-track/assets/new-entry.png
  extensions/toggl-track/assets/stop-entry.png
  extensions/toggl-track/assets/view-workspaces.png
  extensions/toggl-track/metadata/toggl-track-1.png
  extensions/toggl-track/metadata/toggl-track-2.png
  extensions/toggl-track/metadata/toggl-track-3.png
  extensions/toggl-track/package.json
  extensions/toggl-track/src/api/clients.ts
  extensions/toggl-track/src/api/index.ts
  extensions/toggl-track/src/api/me.ts
  extensions/toggl-track/src/api/organizations.ts
  extensions/toggl-track/src/api/projects.ts
  extensions/toggl-track/src/api/tags.ts
  extensions/toggl-track/src/api/tasks.ts
  extensions/toggl-track/src/api/timeEntries.ts
  extensions/toggl-track/src/api/togglClient.ts
  extensions/toggl-track/src/api/types.ts
  extensions/toggl-track/src/api/workspaces.ts
  extensions/toggl-track/src/components/ClientForm.tsx
  extensions/toggl-track/src/components/ClientListItem.tsx
  extensions/toggl-track/src/components/CreateTimeEntryForm.tsx
  extensions/toggl-track/src/components/ProjectForm.tsx
  extensions/toggl-track/src/components/ProjectListItem.tsx
  extensions/toggl-track/src/components/TagForm.tsx
  extensions/toggl-track/src/components/TagListItem.tsx
  extensions/toggl-track/src/context/ExtensionContext.tsx
  extensions/toggl-track/src/context/TimeEntryContext.tsx
  extensions/toggl-track/src/helpers/allWorkspacesFetch.ts
  extensions/toggl-track/src/helpers/formatSeconds.ts
  extensions/toggl-track/src/helpers/preferences.ts
  extensions/toggl-track/src/helpers/privileges.ts
  extensions/toggl-track/src/helpers/shortcuts.ts
  extensions/toggl-track/src/helpers/withToast.ts
  extensions/toggl-track/src/hooks/index.ts
  extensions/toggl-track/src/hooks/useClients.ts
  extensions/toggl-track/src/hooks/useGroups.ts
  extensions/toggl-track/src/hooks/useMe.ts
  extensions/toggl-track/src/hooks/useOrganizations.ts
  extensions/toggl-track/src/hooks/useProjects.ts
  extensions/toggl-track/src/hooks/useRunningTimeEntry.ts
  extensions/toggl-track/src/hooks/useSafeCachedPromise.ts
  extensions/toggl-track/src/hooks/useTags.ts
  extensions/toggl-track/src/hooks/useTasks.ts
  extensions/toggl-track/src/hooks/useTimeEntries.ts
  extensions/toggl-track/src/hooks/useWorkspaces.ts
  extensions/toggl-track/src/index.tsx
  extensions/toggl-track/src/manageClients.tsx
  extensions/toggl-track/src/manageProjects.tsx
  extensions/toggl-track/src/manageTags.tsx
  extensions/toggl-track/src/manageWorkspaces.tsx
Labels: extension fix / improvement, OP is contributor, extension: toggl-track

#10473 Update ssh-manager extension
  extensions/ssh-manager/CHANGELOG.md
  extensions/ssh-manager/package.json
  extensions/ssh-manager/src/show.tsx
Labels: extension fix / improvement, status: stalled, extension: ssh-manager

#10733 Add chatwith extension
  extensions/chatwith/.eslintrc.json
  extensions/chatwith/.gitignore
  extensions/chatwith/.prettierrc
  extensions/chatwith/CHANGELOG.md
  extensions/chatwith/README.md
  extensions/chatwith/assets/command-icon.png
  extensions/chatwith/media/chatwith-1.png
  extensions/chatwith/media/chatwith-4.png
  extensions/chatwith/metadata/chatwith-2.png
  extensions/chatwith/metadata/chatwith-3.png
  extensions/chatwith/package-lock.json
  extensions/chatwith/package.json
  extensions/chatwith/src/ask.tsx
  extensions/chatwith/tsconfig.json
Labels: new extension

#10506 Add Search Companies command to the hubspot extension
  extensions/hubspot/.gitignore
  extensions/hubspot/CHANGELOG.md
  extensions/hubspot/README.md
  extensions/hubspot/package-lock.json
  extensions/hubspot/package.json
  extensions/hubspot/src/companies.tsx
  extensions/hubspot/src/hooks/useCompanies.ts
  extensions/hubspot/src/types/company.ts
Labels: extension fix / improvement, extension: hubspot

#10743 Update discogs extension
  extensions/discogs/.eslintrc.json
  extensions/discogs/.gitignore
  extensions/discogs/.prettierrc
  extensions/discogs/CHANGELOG.md
  extensions/discogs/README.md
  extensions/discogs/assets/command-icon.png
  extensions/discogs/assets/command-icon@dark.png
  extensions/discogs/metadata/1.png
  extensions/discogs/package-lock.json
  extensions/discogs/package.json
  extensions/discogs/src/index.tsx
  extensions/discogs/src/types.ts
  extensions/discogs/tsconfig.json
Labels: new extension

#10753 Add simple-icons extension
  extensions/simple-icons/.eslintrc.json
  extensions/simple-icons/.gitignore
  extensions/simple-icons/.npmrc
  extensions/simple-icons/.prettierrc
  extensions/simple-icons/CHANGELOG.md
  extensions/simple-icons/LICENSE
  extensions/simple-icons/README.md
  extensions/simple-icons/assets/simpleicons-icon.png
  extensions/simple-icons/metadata/simple-icons-1.png
  extensions/simple-icons/metadata/simple-icons-2.png
  extensions/simple-icons/package-lock.json
  extensions/simple-icons/package.json
  extensions/simple-icons/src/index.tsx
  extensions/simple-icons/src/types.ts
  extensions/simple-icons/src/utils.ts
  extensions/simple-icons/tsconfig.json
Labels: new extension

#10566 Add repo-launcher extension
  extensions/repo-launcher/.eslintrc.json
  extensions/repo-launcher/.gitignore
  extensions/repo-launcher/.prettierrc
  extensions/repo-launcher/CHANGELOG.md
  extensions/repo-launcher/README.md
  extensions/repo-launcher/assets/extension_icon.png
  extensions/repo-launcher/media/configure-alias.png
  extensions/repo-launcher/media/launch-project-options.png
  extensions/repo-launcher/media/new-containing-dir.png
  extensions/repo-launcher/media/new-launch-command.png
  extensions/repo-launcher/media/repo-launcher-1.png
  extensions/repo-launcher/metadata/repo-launcher-1.png
  extensions/repo-launcher/metadata/repo-launcher-2.png
  extensions/repo-launcher/metadata/repo-launcher-3.png
  extensions/repo-launcher/metadata/repo-launcher-4.png
  extensions/repo-launcher/metadata/repo-launcher-5.png
  extensions/repo-launcher/package-lock.json
  extensions/repo-launcher/package.json
  extensions/repo-launcher/src/Settings/NewContainingDirectory.tsx
  extensions/repo-launcher/src/Settings/SettingsView.tsx
  extensions/repo-launcher/src/Settings/UpsertLaunchCommand.tsx
  extensions/repo-launcher/src/configApi.ts
  extensions/repo-launcher/src/index.tsx
  extensions/repo-launcher/src/settings.tsx
  extensions/repo-launcher/tsconfig.json
Labels: new extension

#10835 Update adb extension
  extensions/adb/CHANGELOG.md
  extensions/adb/src/adb-airplane.ts
  extensions/adb/src/adb-dark-mode.ts
  extensions/adb/src/adb-display-size.ts
  extensions/adb/src/adb-font-size.ts
  extensions/adb/src/adb-open-developer-settings.ts
  extensions/adb/src/adb-open-locale-settings.ts
  extensions/adb/src/adb-open-url.ts
  extensions/adb/src/adb-screenshots.ts
  extensions/adb/src/adb-toggle-layout-bounds.ts
  extensions/adb/src/adb-wifi.ts
  extensions/adb/src/adb-write.ts
  extensions/adb/src/utils.ts
Labels: extension fix / improvement, OP is author, extension: adb

#10827 Update tldraw extension
  extensions/tldraw/CHANGELOG.md
  extensions/tldraw/src/add-existing-project.tsx
  extensions/tldraw/src/create-project.tsx
Labels: extension fix / improvement, OP is author, extension: tldraw

#10787 Update vmware-vcenter extension
  extensions/vmware-vcenter/CHANGELOG.md
  extensions/vmware-vcenter/src/api/types.tsx
  extensions/vmware-vcenter/src/api/vCenter.tsx
  extensions/vmware-vcenter/src/datastore.tsx
  extensions/vmware-vcenter/src/host.tsx
  extensions/vmware-vcenter/src/network.tsx
  extensions/vmware-vcenter/src/vm.tsx
Labels: extension fix / improvement, OP is author, extension: vmware-vcenter
