Repository raycast/extensions, pull requests merged in 2024-08, with the labels that each got.

#13815 Revert "[Notion] Population Relation Field with all related database pages. (#13579)"
  extensions/notion/CHANGELOG.md
  extensions/notion/src/components/DatabaseList.tsx
  extensions/notion/src/components/forms/CreatePageForm.tsx
  extensions/notion/src/components/forms/PagePropertyField.tsx
  extensions/notion/src/hooks/index.ts
  extensions/notion/src/utils/notion/database/index.ts
Labels: extension fix / improvement, OP is contributor, extension: notion

#13811 Update youtube downloader extension
  extensions/youtube-downloader/CHANGELOG.md
  extensions/youtube-downloader/package-lock.json
  extensions/youtube-downloader/package.json
Labels: extension fix / improvement, OP is contributor, extension: youtube-downloader

#13804 [perplexity-api] Added new models
  extensions/perplexity-api/CHANGELOG.md
  extensions/perplexity-api/package-lock.json
  extensions/perplexity-api/package.json
  extensions/perplexity-api/src/ask.tsx
  extensions/perplexity-api/src/casual.tsx
  extensions/perplexity-api/src/coding.tsx
  extensions/perplexity-api/src/custom.tsx
  extensions/perplexity-api/src/friendly.tsx
  extensions/perplexity-api/src/grammar.tsx
  extensions/perplexity-api/src/hook/accessAPI.tsx
  extensions/perplexity-api/src/hook/configAPI.ts
  extensions/perplexity-api/src/hook/utils.ts
  extensions/perplexity-api/src/improve.tsx
  extensions/perplexity-api/src/longer.tsx
  extensions/perplexity-api/src/professional.tsx
  extensions/perplexity-api/src/shorter.tsx
  extensions/perplexity-api/src/summarize.tsx
  extensions/perplexity-api/src/synonyms.tsx
  extensions/perplexity-api/src/taskBreakdown.tsx
  extensions/perplexity-api/src/translate.tsx
Labels: extension fix / improvement, OP is author, extension: perplexity-api

#13819 Rename dub-link-shortener to dub
  extensions/dub-link-shortener/CHANGELOG.md
  extensions/dub-link-shortener/package.json
Labels: extension fix / improvement, extension: dub-link-shortener

#13820 Transfer dub to org
  .github/public_raycast_extensions.txt
  extensions/dub/.eslintrc.json
  extensions/dub/.gitignore
  extensions/dub/.prettierrc
  extensions/dub/CHANGELOG.md
  extensions/dub/README.md
  extensions/dub/assets/command-icon.png
  extensions/dub/media/usage.gif
  extensions/dub/metadata/dub-link-shortener-1.png
  extensions/dub/metadata/dub-link-shortener-2.png
  extensions/dub/package-lock.json
  extensions/dub/package.json
  extensions/dub/src/api/index.ts
  extensions/dub/src/api/oauth.ts
  extensions/dub/src/hooks/use-domains.ts
  extensions/dub/src/hooks/use-short-links.ts
  extensions/dub/src/hooks/use-tags.ts
  extensions/dub/src/polyfills/fetch.ts
  extensions/dub/src/search-links.tsx
  extensions/dub/src/shorten-link.tsx
  extensions/dub/src/utils/clipboard.ts
  extensions/dub/src/utils/constants.ts
  extensions/dub/src/with-dub-client.tsx
  extensions/dub/tsconfig.json
Labels: new extension, extension fix / improvement, renamed extension, extension: dub-link-shortener

#13792 [Modify Hash] Remove irregular files
  extensions/modify-hash/CHANGELOG.md
  extensions/modify-hash/Icon 
Labels: extension fix / improvement, extension: modify-hash

#13526 Update openai-translator extension
  extensions/openai-translator/CHANGELOG.md
  extensions/openai-translator/package.json
Labels: extension fix / improvement, status: stalled, extension: openai-translator

#13817 [LastPass Credentials Seach] increase maxBuffer size for stdout to allow bigger data volumes
  extensions/lastpass/CHANGELOG.md
  extensions/lastpass/README.md
  extensions/lastpass/src/cli.ts
Labels: extension fix / improvement, OP is author, extension: lastpass

#13684 [GitHub] Add more options to Clone action
  extensions/github/CHANGELOG.md
  extensions/github/package-lock.json
  extensions/github/package.json
  extensions/github/src/api/githubClient.ts
  extensions/github/src/api/repository.graphql
  extensions/github/src/components/CloneRepositoryForm.tsx
  extensions/github/src/components/NotificationActions.tsx
  extensions/github/src/components/NotificationListItem.tsx
  extensions/github/src/components/RepositoryActions.tsx
  extensions/github/src/components/RepositoryListItem.tsx
  extensions/github/src/components/WorkflowRunActions.tsx
  extensions/github/src/generated/graphql.ts
  extensions/github/src/helpers/notifications.ts
  extensions/github/src/helpers/repository.ts
  extensions/github/src/helpers/scopes.ts
  extensions/github/src/notifications.tsx
  extensions/github/src/search-repositories.tsx
  extensions/github/src/unread-notifications.tsx
  extensions/github/src/workflow-runs.tsx
Labels: extension fix / improvement, OP is author, extension: github

#13760 Update json-editor extension
  extensions/json-editor/CHANGELOG.md
  extensions/json-editor/package.json
  extensions/json-editor/src/edit-json.tsx
  extensions/json-editor/src/hooks/useJsonTsOptions.ts
  extensions/json-editor/src/utils/json-to-ts.ts
Labels: extension fix / improvement, extension: json-editor

#13789 Update `chatgpt-quick-actions extension` with models & API as of July 2024
  extensions/chatgpt-quick-actions/CHANGELOG.md
  extensions/chatgpt-quick-actions/README.md
  extensions/chatgpt-quick-actions/package-lock.json
  extensions/chatgpt-quick-actions/package.json
  extensions/chatgpt-quick-actions/src/api.ts
  extensions/chatgpt-quick-actions/src/common.tsx
  extensions/chatgpt-quick-actions/src/execute.ts
  extensions/chatgpt-quick-actions/src/util.ts
Labels: extension fix / improvement, extension: chatgpt-quick-actions

#13801 [Mailtrap] add pagination to emails
  extensions/mailtrap/.gitignore
  extensions/mailtrap/CHANGELOG.md
  extensions/mailtrap/package-lock.json
  extensions/mailtrap/package.json
  extensions/mailtrap/src/get-mailtrap-subject.tsx
  extensions/mailtrap/src/models/global-preferences.ts
  extensions/mailtrap/src/services/mailtrap.ts
  extensions/mailtrap/src/views/guide.tsx
  extensions/mailtrap/src/views/list-emails.tsx
  extensions/mailtrap/src/views/list-inboxs.tsx
  extensions/mailtrap/tsconfig.json
Labels: extension fix / improvement, extension: mailtrap

#13585 Add motion-preview extension
  extensions/raycast-motion-preview/.eslintrc.json
  extensions/raycast-motion-preview/.gitignore
  extensions/raycast-motion-preview/.prettierrc
  extensions/raycast-motion-preview/CHANGELOG.md
  extensions/raycast-motion-preview/README.md
  extensions/raycast-motion-preview/assets/command-icon.png
  extensions/raycast-motion-preview/assets/preview_lottie.html
  extensions/raycast-motion-preview/assets/preview_rive.html
  extensions/raycast-motion-preview/assets/screenshot.png
  extensions/raycast-motion-preview/metadata/raycast-motion-preview-1.png
  extensions/raycast-motion-preview/package-lock.json
  extensions/raycast-motion-preview/package.json
  extensions/raycast-motion-preview/src/lib/is-valid-lottie.ts
  extensions/raycast-motion-preview/src/lib/util.ts
  extensions/raycast-motion-preview/src/preview-animation.ts
  extensions/raycast-motion-preview/swift/motion-preview/Package.resolved
  extensions/raycast-motion-preview/swift/motion-preview/Package.swift
  extensions/raycast-motion-preview/swift/motion-preview/src/motion-preview.swift
  extensions/raycast-motion-preview/tsconfig.json
Labels: new extension

#13832 [perplexity-api] Added new Chat feature
  extensions/perplexity-api/CHANGELOG.md
  extensions/perplexity-api/package-lock.json
  extensions/perplexity-api/package.json
  extensions/perplexity-api/src/aiChat.tsx
  extensions/perplexity-api/src/hook/AIChat.types.ts
Labels: extension fix / improvement, OP is author, extension: perplexity-api

#13775 Add anna-s-archive extension
  extensions/anna-s-archive/.eslintrc.json
  extensions/anna-s-archive/.gitignore
  extensions/anna-s-archive/.prettierrc
  extensions/anna-s-archive/CHANGELOG.md
  extensions/anna-s-archive/README.md
  extensions/anna-s-archive/assets/command-icon.png
  extensions/anna-s-archive/metadata/anna-s-archive-1.png
  extensions/anna-s-archive/metadata/anna-s-archive-2.png
  extensions/anna-s-archive/metadata/anna-s-archive-3.png
  extensions/anna-s-archive/package-lock.json
  extensions/anna-s-archive/package.json
  extensions/anna-s-archive/src/api/archive/index.ts
  extensions/anna-s-archive/src/components/ArchiveListItem.tsx
  extensions/anna-s-archive/src/components/ArchiveListItemDetail.tsx
  extensions/anna-s-archive/src/components/EmptyView.tsx
  extensions/anna-s-archive/src/constants/index.ts
  extensions/anna-s-archive/src/hooks/use-archive.ts
  extensions/anna-s-archive/src/search-archives.tsx
  extensions/anna-s-archive/src/utils/index.ts
  extensions/anna-s-archive/tsconfig.json
Labels: new extension

#13821 [toggl-track] Fix timer not stopping from main window
  extensions/toggl-track/CHANGELOG.md
  extensions/toggl-track/package.json
  extensions/toggl-track/src/components/RunningTimeEntry.tsx
Labels: extension fix / improvement, OP is contributor, extension: toggl-track

#13841 cURL: make "copy headers" button actually copy headers
  extensions/curl/CHANGELOG.md
  extensions/curl/src/views/Result.tsx
Labels: extension fix / improvement, extension: curl

#13852 [1Password] Fix error message on missing 1Password CLI
  extensions/1password/CHANGELOG.md
  extensions/1password/package.json
  extensions/1password/src/v8/components/AuthContext.tsx
Labels: extension fix / improvement, extension: 1password

#13831 Update openvpn extension
  extensions/openvpn/.eslintrc.json
  extensions/openvpn/CHANGELOG.md
  extensions/openvpn/package-lock.json
  extensions/openvpn/package.json
  extensions/openvpn/src/connect.ts
  extensions/openvpn/src/disconnect.ts
  extensions/openvpn/src/list-profiles.tsx
  extensions/openvpn/src/toggle-last-profile.ts
  extensions/openvpn/src/utils.ts
Labels: extension fix / improvement, extension: openvpn

#13707 Update snippetsurfer extension
  extensions/snippetsurfer/CHANGELOG.md
  extensions/snippetsurfer/package.json
  extensions/snippetsurfer/src/utils/loaders/MarkdownLoader.tsx
Labels: extension fix / improvement, extension: snippetsurfer

#13866 [Brand Icons] Apply brand color to default copying/opening SVG
  extensions/simple-icons/CHANGELOG.md
  extensions/simple-icons/package.json
  extensions/simple-icons/src/actions.tsx
  extensions/simple-icons/src/utils.ts
Labels: extension fix / improvement, OP is author, extension: simple-icons

#13856 Update pdfsearch extension
  extensions/pdfsearch/CHANGELOG.md
  extensions/pdfsearch/LICENSE
  extensions/pdfsearch/Package.swift
  extensions/pdfsearch/Sources/DrawImage/main.swift
  extensions/pdfsearch/Sources/GetOutline/main.swift
  extensions/pdfsearch/Sources/SearchDocument/Extractor.swift
  extensions/pdfsearch/Sources/SearchDocument/Tokenizer.swift
  extensions/pdfsearch/Sources/SearchDocument/main.swift
  extensions/pdfsearch/assets/DrawImage
  extensions/pdfsearch/assets/GetOutline
  extensions/pdfsearch/assets/SearchDocument
  extensions/pdfsearch/package-lock.json
  extensions/pdfsearch/package.json
  extensions/pdfsearch/src/collections.tsx
  extensions/pdfsearch/src/open.tsx
  extensions/pdfsearch/src/type.d.ts
  extensions/pdfsearch/src/util.ts
  extensions/pdfsearch/src/utils.ts
  extensions/pdfsearch/src/views/form.tsx
  extensions/pdfsearch/src/views/search.tsx
  extensions/pdfsearch/swift/.gitignore
  extensions/pdfsearch/swift/Package.swift
  extensions/pdfsearch/swift/Sources/DocumentSearcher.swift
  extensions/pdfsearch/swift/Sources/PDFDrawImage.swift
  extensions/pdfsearch/swift/Sources/PDFOutline.swift
Labels: extension fix / improvement, OP is author, extension: pdfsearch

#13855 [Brand.dev] new updated logo + show brand address
  extensions/brand-dev/CHANGELOG.md
  extensions/brand-dev/README.md
  extensions/brand-dev/assets/brand-dev-purple.png
  extensions/brand-dev/assets/brand-dev.png
  extensions/brand-dev/metadata/brand-dev-1.png
  extensions/brand-dev/metadata/brand-dev-2.png
  extensions/brand-dev/package-lock.json
  extensions/brand-dev/package.json
  extensions/brand-dev/src/retrieve-brands.tsx
Labels: extension fix / improvement, OP is author, extension: brand-dev

#13848 Update quick-notes extension
  extensions/quick-notes/CHANGELOG.md
  extensions/quick-notes/README.md
  extensions/quick-notes/src/components/actions.tsx
  extensions/quick-notes/src/components/createEditNoteForm.tsx
  extensions/quick-notes/src/components/createTag.tsx
  extensions/quick-notes/src/components/notesList.tsx
  extensions/quick-notes/src/services/atoms.ts
  extensions/quick-notes/src/utils/utils.ts
Labels: extension fix / improvement, OP is author, extension: quick-notes

#13828 [DigitalOcean] Add `Search App Platform` command + metadata images + EmptyViews
  extensions/digitalocean/CHANGELOG.md
  extensions/digitalocean/README.md
  extensions/digitalocean/assets/DO_Logo_Horizontal_Blue.png
  extensions/digitalocean/assets/favicon.png
  extensions/digitalocean/metadata/digitalocean-1.png
  extensions/digitalocean/metadata/digitalocean-2.png
  extensions/digitalocean/metadata/digitalocean-3.png
  extensions/digitalocean/metadata/digitalocean-4.png
  extensions/digitalocean/package.json
  extensions/digitalocean/src/client.ts
  extensions/digitalocean/src/config.ts
  extensions/digitalocean/src/search-app-platform.tsx
  extensions/digitalocean/src/search-databases.tsx
  extensions/digitalocean/src/search-domains.tsx
  extensions/digitalocean/src/search-droplets.tsx
  extensions/digitalocean/src/search-kubernetes-clusters.tsx
Labels: extension fix / improvement, extension: digitalocean

#13563 Update speedcubing extension
  extensions/speedcubing/CHANGELOG.md
  extensions/speedcubing/assets/cases/oll-1.png
  extensions/speedcubing/assets/cases/oll-10.png
  extensions/speedcubing/assets/cases/oll-11.png
  extensions/speedcubing/assets/cases/oll-12.png
  extensions/speedcubing/assets/cases/oll-13.png
  extensions/speedcubing/assets/cases/oll-14.png
  extensions/speedcubing/assets/cases/oll-15.png
  extensions/speedcubing/assets/cases/oll-16.png
  extensions/speedcubing/assets/cases/oll-17.png
  extensions/speedcubing/assets/cases/oll-18.png
  extensions/speedcubing/assets/cases/oll-19.png
  extensions/speedcubing/assets/cases/oll-2.png
  extensions/speedcubing/assets/cases/oll-20.png
  extensions/speedcubing/assets/cases/oll-28.png
  extensions/speedcubing/assets/cases/oll-29.png
  extensions/speedcubing/assets/cases/oll-3.png
  extensions/speedcubing/assets/cases/oll-30.png
  extensions/speedcubing/assets/cases/oll-31.png
  extensions/speedcubing/assets/cases/oll-32.png
  extensions/speedcubing/assets/cases/oll-33.png
  extensions/speedcubing/assets/cases/oll-34.png
  extensions/speedcubing/assets/cases/oll-35.png
  extensions/speedcubing/assets/cases/oll-36.png
  extensions/speedcubing/assets/cases/oll-37.png
  extensions/speedcubing/assets/cases/oll-38.png
  extensions/speedcubing/assets/cases/oll-39.png
  extensions/speedcubing/assets/cases/oll-4.png
  extensions/speedcubing/assets/cases/oll-40.png
  extensions/speedcubing/assets/cases/oll-41.png
  extensions/speedcubing/assets/cases/oll-42.png
  extensions/speedcubing/assets/cases/oll-43.png
  extensions/speedcubing/assets/cases/oll-44.png
  extensions/speedcubing/assets/cases/oll-45.png
  extensions/speedcubing/assets/cases/oll-46.png
  extensions/speedcubing/assets/cases/oll-47.png
  extensions/speedcubing/assets/cases/oll-48.png
  extensions/speedcubing/assets/cases/oll-49.png
  extensions/speedcubing/assets/cases/oll-5.png
  extensions/speedcubing/assets/cases/oll-50.png
  extensions/speedcubing/assets/cases/oll-51.png
  extensions/speedcubing/assets/cases/oll-52.png
  extensions/speedcubing/assets/cases/oll-53.png
  extensions/speedcubing/assets/cases/oll-54.png
  extensions/speedcubing/assets/cases/oll-55.png
  extensions/speedcubing/assets/cases/oll-56.png
  extensions/speedcubing/assets/cases/oll-57.png
  extensions/speedcubing/assets/cases/oll-6.png
  extensions/speedcubing/assets/cases/oll-7.png
  extensions/speedcubing/assets/cases/oll-8.png
  extensions/speedcubing/assets/cases/oll-9.png
  extensions/speedcubing/package.json
  extensions/speedcubing/src/data.ts
  extensions/speedcubing/src/orientation-of-the-last-layer.tsx
Labels: extension fix / improvement, OP is contributor, extension: speedcubing

#13845 [Todoist]: Fix menubar item contrast in light mode
  extensions/todoist/CHANGELOG.md
  extensions/todoist/src/menu-bar.tsx
Labels: extension fix / improvement, extension: todoist

#13521 [Generate 2FA Code] Add secret backup option
  extensions/two-factor-authentication-code-generator/.gitignore
  extensions/two-factor-authentication-code-generator/CHANGELOG.md
  extensions/two-factor-authentication-code-generator/package.json
  extensions/two-factor-authentication-code-generator/src/backup.tsx
  extensions/two-factor-authentication-code-generator/src/index.tsx
  extensions/two-factor-authentication-code-generator/src/restore.tsx
  extensions/two-factor-authentication-code-generator/src/util/hooks.ts
  extensions/two-factor-authentication-code-generator/src/util/totp.ts
Labels: extension fix / improvement, extension: two-factor-authentication-code-generat…

#13788 [Things] Preference to disable date parsing for todo classification, sending all todo(s) to inbox.
  extensions/things/CHANGELOG.md
  extensions/things/README.md
  extensions/things/package-lock.json
  extensions/things/package.json
  extensions/things/src/quick-add-todo.tsx
Labels: extension fix / improvement, OP is contributor, extension: things

#13777 Add modrinth-search extension
  extensions/modrinth-search/.eslintrc.json
  extensions/modrinth-search/.gitignore
  extensions/modrinth-search/.prettierrc
  extensions/modrinth-search/CHANGELOG.md
  extensions/modrinth-search/README.md
  extensions/modrinth-search/assets/command-icon.png
  extensions/modrinth-search/metadata/modrinth-search-1.png
  extensions/modrinth-search/metadata/modrinth-search-2.png
  extensions/modrinth-search/package-lock.json
  extensions/modrinth-search/package.json
  extensions/modrinth-search/src/hooks/use-modrinth-project.tsx
  extensions/modrinth-search/src/hooks/use-modrinth-search.tsx
  extensions/modrinth-search/src/project-list-entry.tsx
  extensions/modrinth-search/src/search-projects.tsx
  extensions/modrinth-search/src/utils/constants.ts
  extensions/modrinth-search/src/utils/use-debounce.ts
  extensions/modrinth-search/tsconfig.json
Labels: new extension

#13557 Update workouts extension
  extensions/workouts/CHANGELOG.md
  extensions/workouts/assets/create.png
  extensions/workouts/package-lock.json
  extensions/workouts/package.json
  extensions/workouts/src/api/client.ts
  extensions/workouts/src/api/types.ts
  extensions/workouts/src/createActivity.tsx
  extensions/workouts/src/utils.ts
Labels: extension fix / improvement, extension: workouts

#13844 [Base64] Improvements for all commands
  extensions/base64/.eslintrc.json
  extensions/base64/CHANGELOG.md
  extensions/base64/metadata/base64-1.png
  extensions/base64/metadata/base64-2.png
  extensions/base64/metadata/base64-3.png
  extensions/base64/metadata/base64-4.png
  extensions/base64/metadata/base64-5.png
  extensions/base64/package-lock.json
  extensions/base64/package.json
  extensions/base64/src/decode.tsx
  extensions/base64/src/encode.tsx
  extensions/base64/src/index.tsx
  extensions/base64/src/util/clipboard.ts
  extensions/base64/src/util/index.ts
  extensions/base64/tsconfig.json
Labels: extension fix / improvement, extension: base64

#13881 Update raycast-ollama extension
  extensions/raycast-ollama/CHANGELOG.md
  extensions/raycast-ollama/package.json
  extensions/raycast-ollama/src/lib/ollama/errors.ts
  extensions/raycast-ollama/src/lib/ollama/ollama.ts
  extensions/raycast-ollama/src/lib/settings/settings.ts
  extensions/raycast-ollama/src/lib/ui/AnswerView/function.ts
  extensions/raycast-ollama/src/lib/ui/AnswerView/main.tsx
  extensions/raycast-ollama/src/lib/ui/ChatView/form/Model.tsx
  extensions/raycast-ollama/src/lib/ui/ChatView/function.ts
  extensions/raycast-ollama/src/lib/ui/ChatView/main.tsx
  extensions/raycast-ollama/src/lib/ui/ModelView/function.ts
  extensions/raycast-ollama/src/lib/ui/error.ts
  extensions/raycast-ollama/src/lib/ui/function.ts
  extensions/raycast-ollama/src/ollama-custom-command.tsx
Labels: extension fix / improvement, OP is author, extension: raycast-ollama

#13878 Update ray-so extension
  extensions/ray-so/CHANGELOG.md
  extensions/ray-so/package.json
Labels: extension fix / improvement, extension: ray-so

#13862 [Converter] Refactor code
  extensions/converter/.eslintrc.json
  extensions/converter/CHANGELOG.md
  extensions/converter/assets/base-converter-icon.png
  extensions/converter/assets/byte-converter-icon.png
  extensions/converter/assets/code-converter-icon.png
  extensions/converter/assets/converter-icon.png
  extensions/converter/assets/extension-icon.png
  extensions/converter/metadata/converter-1.png
  extensions/converter/metadata/converter-2.png
  extensions/converter/metadata/converter-3.png
  extensions/converter/package-lock.json
  extensions/converter/package.json
  extensions/converter/src/base-converter.tsx
  extensions/converter/src/byte-converter.tsx
  extensions/converter/src/code-converter.tsx
  extensions/converter/src/components/action-open-preferences.tsx
  extensions/converter/src/components/base-converters-advance-view.tsx
  extensions/converter/src/hooks/get-input-item.ts
  extensions/converter/src/types/preferences.ts
  extensions/converter/src/utils/base-converter-utils.ts
  extensions/converter/src/utils/common-utils.ts
  extensions/converter/src/utils/input-item-utils.ts
  extensions/converter/tsconfig.json
Labels: extension fix / improvement, OP is author, extension: converter

#13743 Create multi-force extension
  extensions/multi-force/.eslintrc.json
  extensions/multi-force/.gitignore
  extensions/multi-force/.prettierrc
  extensions/multi-force/CHANGELOG.md
  extensions/multi-force/README.md
  extensions/multi-force/assets/Salesforce.com_logo.svg.png
  extensions/multi-force/assets/multiforce-icon.png
  extensions/multi-force/metadata/Authenticate-Org-Page.png
  extensions/multi-force/metadata/Home-Page.png
  extensions/multi-force/metadata/Initial-Landing-Page.png
  extensions/multi-force/metadata/Multi-Force-Action-Panel.png
  extensions/multi-force/metadata/Org-Details-Page.png
  extensions/multi-force/package-lock.json
  extensions/multi-force/package.json
  extensions/multi-force/readme_images/Home-Page.png
  extensions/multi-force/src/components/MutiForce.tsx
  extensions/multi-force/src/components/listItems/OrgListItem.tsx
  extensions/multi-force/src/components/pages/AuthenticateNewOrg.tsx
  extensions/multi-force/src/components/pages/DeveloperOrgDetails.tsx
  extensions/multi-force/src/components/pages/EmptyOrgList.tsx
  extensions/multi-force/src/components/pages/index.tsx
  extensions/multi-force/src/components/providers/OrgListProvider.tsx
  extensions/multi-force/src/constants/index.ts
  extensions/multi-force/src/index.tsx
  extensions/multi-force/src/reducers/orgListReducer.ts
  extensions/multi-force/src/types/index.ts
  extensions/multi-force/src/utils/index.ts
  extensions/multi-force/src/utils/orgUtility.ts
  extensions/multi-force/src/utils/salesforceUtility.ts
  extensions/multi-force/src/utils/storageUtility.ts
  extensions/multi-force/tsconfig.json
Labels: new extension

#13791 Add custom-folder extension
  extensions/custom-folder/.eslintrc.json
  extensions/custom-folder/.gitignore
  extensions/custom-folder/.prettierrc
  extensions/custom-folder/CHANGELOG.md
  extensions/custom-folder/README.md
  extensions/custom-folder/assets/custom-folder-icon.png
  extensions/custom-folder/assets/default-folder.png
  extensions/custom-folder/metadata/custom-folder-1.png
  extensions/custom-folder/metadata/custom-folder-2.png
  extensions/custom-folder/package-lock.json
  extensions/custom-folder/package.json
  extensions/custom-folder/src/createForm.tsx
  extensions/custom-folder/src/index.tsx
  extensions/custom-folder/src/result.tsx
  extensions/custom-folder/src/types.tsx
  extensions/custom-folder/src/utils/customize.ts
  extensions/custom-folder/src/utils/saveFile.ts
  extensions/custom-folder/src/utils/verifications.tsx
  extensions/custom-folder/tsconfig.json
Labels: new extension

#13890 Update workouts extension
  extensions/workouts/CHANGELOG.md
  extensions/workouts/package.json
Labels: extension fix / improvement, OP is author, extension: workouts

#13884 Reclaim smart series updates / sort time policies
  extensions/reclaim-ai/CHANGELOG.md
  extensions/reclaim-ai/src/consts/tasks.consts.tsx
  extensions/reclaim-ai/src/hooks/useEvent.tsx
  extensions/reclaim-ai/src/hooks/useEvent.types.ts
  extensions/reclaim-ai/src/hooks/useMoment.tsx
  extensions/reclaim-ai/src/hooks/useTask.tsx
  extensions/reclaim-ai/src/join-meeting.tsx
  extensions/reclaim-ai/src/my-calendar.tsx
  extensions/reclaim-ai/src/notifications.tsx
  extensions/reclaim-ai/src/task-form.tsx
  extensions/reclaim-ai/src/types/event.ts
  extensions/reclaim-ai/src/types/user.ts
  extensions/reclaim-ai/src/utils/arrays.ts
Labels: extension fix / improvement, extension: reclaim-ai

#13616 Add anki extension
  extensions/anki/.eslintrc.json
  extensions/anki/.gitignore
  extensions/anki/.prettierrc
  extensions/anki/CHANGELOG.md
  extensions/anki/README.md
  extensions/anki/api-testing/areDue.sh
  extensions/anki/api-testing/cardsInfo.sh
  extensions/anki/api-testing/createDeck.sh
  extensions/anki/api-testing/deckNames.sh
  extensions/anki/api-testing/findCards.sh
  extensions/anki/api-testing/findModelsByName.sh
  extensions/anki/api-testing/getCollectionStats.sh
  extensions/anki/api-testing/guiAddCards.sh
  extensions/anki/api-testing/modelNames.sh
  extensions/anki/api-testing/notesInfo.sh
  extensions/anki/api-testing/stats.html
  extensions/anki/api-testing/temp.js
  extensions/anki/assets/extension-icon.png
  extensions/anki/assets/music-icon.png
  extensions/anki/assets/video-icon.png
  extensions/anki/metadata/anki-1.png
  extensions/anki/metadata/anki-2.png
  extensions/anki/metadata/anki-3.png
  extensions/anki/metadata/anki-4.png
  extensions/anki/metadata/anki-5.png
  extensions/anki/metadata/anki-6.png
  extensions/anki/package-lock.json
  extensions/anki/package.json
  extensions/anki/src/actions/AddCardAction.tsx
  extensions/anki/src/actions/CreateDeckAction.tsx
  extensions/anki/src/actions/StudyDeck.tsx
  extensions/anki/src/actions/ViewCardMedia.tsx
  extensions/anki/src/addCard.tsx
  extensions/anki/src/api/ankiClient.ts
  extensions/anki/src/api/axios.ts
  extensions/anki/src/api/cardActions.ts
  extensions/anki/src/api/deckActions.ts
  extensions/anki/src/api/guiActions.ts
  extensions/anki/src/api/mediaActions.ts
  extensions/anki/src/api/miscellaneousActions.ts
  extensions/anki/src/api/modelActions.ts
  extensions/anki/src/api/noteActions.ts
  extensions/anki/src/api/statisticActions.ts
  extensions/anki/src/browseCards.tsx
  extensions/anki/src/decks.tsx
  extensions/anki/src/error/AnkiError.ts
  extensions/anki/src/hooks/useErrorHandling.ts
  extensions/anki/src/hooks/useTurndown.ts
  extensions/anki/src/types.ts
  extensions/anki/src/util.ts
  extensions/anki/src/viewStats.tsx
  extensions/anki/tsconfig.json
Labels: new extension

#13836 Update google-chrome extension for Google Chrome tabs and history, bookmarks search (take 2)
  extensions/google-chrome/CHANGELOG.md
  extensions/google-chrome/package.json
  extensions/google-chrome/src/hooks/useBookmarkSearch.tsx
  extensions/google-chrome/src/search-all.tsx
  extensions/google-chrome/src/search-bookmarks.tsx
  extensions/google-chrome/src/search-history.tsx
Labels: extension fix / improvement, OP is contributor, extension: google-chrome

#13886 Update scrapbook extension
  extensions/scrapbook/CHANGELOG.md
  extensions/scrapbook/package.json
  extensions/scrapbook/src/components/actions.tsx
  extensions/scrapbook/src/components/post.tsx
  extensions/scrapbook/src/components/user.tsx
  extensions/scrapbook/src/search-users.tsx
Labels: extension fix / improvement, OP is author, extension: scrapbook

#13894 [CricketCast] Modernize + `News` command + cache + add TS
  extensions/cricketcast/.eslintrc.json
  extensions/cricketcast/.gitignore
  extensions/cricketcast/CHANGELOG.md
  extensions/cricketcast/README.md
  extensions/cricketcast/metadata/cricketcast-1.png
  extensions/cricketcast/metadata/cricketcast-2.png
  extensions/cricketcast/metadata/cricketcast-3.png
  extensions/cricketcast/package-lock.json
  extensions/cricketcast/package.json
  extensions/cricketcast/src/index.jsx
  extensions/cricketcast/src/index.tsx
  extensions/cricketcast/src/news.tsx
  extensions/cricketcast/src/types.ts
  extensions/cricketcast/tsconfig.json
Labels: extension fix / improvement, extension: cricketcast

#13885 Updating the Google Maps Extension
  extensions/google-maps-search/CHANGELOG.md
  extensions/google-maps-search/assets/google-maps-icon.png
  extensions/google-maps-search/metadata/google-maps-search-1.png
  extensions/google-maps-search/metadata/google-maps-search-2.png
  extensions/google-maps-search/metadata/google-maps-search-3.png
  extensions/google-maps-search/metadata/google-maps-search-4.png
  extensions/google-maps-search/metadata/google-maps-search-5.png
  extensions/google-maps-search/package-lock.json
  extensions/google-maps-search/package.json
  extensions/google-maps-search/src/find.tsx
  extensions/google-maps-search/src/helpers/debounce.ts
  extensions/google-maps-search/src/quickSearchMaps.tsx
  extensions/google-maps-search/src/travelHome.tsx
  extensions/google-maps-search/src/travelTo.tsx
  extensions/google-maps-search/src/utils/input.ts
  extensions/google-maps-search/src/utils/types.ts
  extensions/google-maps-search/src/utils/url.ts
  extensions/google-maps-search/tsconfig.json
Labels: extension fix / improvement, extension: google-maps-search

#13875 Update ekstraklasa extension
  extensions/ekstraklasa/CHANGELOG.md
  extensions/ekstraklasa/src/table.tsx
  extensions/ekstraklasa/src/types/index.ts
Labels: extension fix / improvement, OP is author, extension: ekstraklasa

#13892 Update workouts extension
  extensions/workouts/CHANGELOG.md
  extensions/workouts/README.md
  extensions/workouts/package.json
  extensions/workouts/src/utils.ts
Labels: extension fix / improvement, OP is author, extension: workouts

#13910 Update ekstraklasa extension
  extensions/ekstraklasa/CHANGELOG.md
  extensions/ekstraklasa/README.md
Labels: extension fix / improvement, OP is author, extension: ekstraklasa

#13888 Update howlongtobeat extension
  extensions/how-long-to-beat/CHANGELOG.md
  extensions/how-long-to-beat/package-lock.json
  extensions/how-long-to-beat/package.json
  extensions/how-long-to-beat/src/ApiService.ts
  extensions/how-long-to-beat/src/helpers.ts
  extensions/how-long-to-beat/src/hltbsearch.ts
  extensions/how-long-to-beat/src/types.ts
Labels: extension fix / improvement, OP is contributor, extension: how-long-to-beat

#13905 Update mozilla-firefox extension
  extensions/mozilla-firefox/CHANGELOG.md
  extensions/mozilla-firefox/package.json
  extensions/mozilla-firefox/src/util/index.ts
Labels: extension fix / improvement, extension: mozilla-firefox

#13912 [Render] update logo + cache results
  extensions/render/.eslintrc.json
  extensions/render/.gitignore
  extensions/render/CHANGELOG.md
  extensions/render/assets/icon.png
  extensions/render/assets/icon@dark.png
  extensions/render/metadata/render-1.png
  extensions/render/metadata/render-2.png
  extensions/render/package-lock.json
  extensions/render/package.json
  extensions/render/src/utils.ts
  extensions/render/src/view-services.tsx
  extensions/render/tsconfig.json
Labels: extension fix / improvement, extension: render

#13883 [Linear] Improvements for "Search Projects" command
  extensions/linear/CHANGELOG.md
  extensions/linear/package-lock.json
  extensions/linear/package.json
  extensions/linear/src/api/getProjects.ts
  extensions/linear/src/api/initiatives.ts
  extensions/linear/src/components/Project.tsx
  extensions/linear/src/components/ProjectList.tsx
  extensions/linear/src/components/docs/DocumentActions.tsx
  extensions/linear/src/hooks/useRoadmaps.ts
Labels: extension fix / improvement, OP is contributor, extension: linear

#13527 Update claude extension
  extensions/claude/CHANGELOG.md
  extensions/claude/src/hooks/useAnthropic.tsx
  extensions/claude/src/views/model/form.tsx
Labels: extension fix / improvement, OP is contributor, extension: claude

#13846 Add lego-bricks extension
  extensions/lego-bricks/.eslintrc.json
  extensions/lego-bricks/.gitignore
  extensions/lego-bricks/.prettierrc
  extensions/lego-bricks/CHANGELOG.md
  extensions/lego-bricks/README.md
  extensions/lego-bricks/assets/LEGO_logo.png
  extensions/lego-bricks/metadata/lego-bricks-1.png
  extensions/lego-bricks/metadata/lego-bricks-2.png
  extensions/lego-bricks/metadata/lego-bricks-3.png
  extensions/lego-bricks/metadata/lego-bricks-4.png
  extensions/lego-bricks/metadata/lego-bricks-5.png
  extensions/lego-bricks/package-lock.json
  extensions/lego-bricks/package.json
  extensions/lego-bricks/src/colors.tsx
  extensions/lego-bricks/src/componenets/set.tsx
  extensions/lego-bricks/src/constants/preferences.tsx
  extensions/lego-bricks/src/latest-sets.tsx
  extensions/lego-bricks/src/minifigs.tsx
  extensions/lego-bricks/src/parts.tsx
  extensions/lego-bricks/src/sets.tsx
  extensions/lego-bricks/tsconfig.json
  extensions/lego-bricks/types/color.tsx
  extensions/lego-bricks/types/minifig.tsx
  extensions/lego-bricks/types/part.tsx
  extensions/lego-bricks/types/set.tsx
Labels: new extension

#13617 Add backstage extension
  extensions/backstage/.eslintrc.json
  extensions/backstage/.gitignore
  extensions/backstage/.prettierrc
  extensions/backstage/CHANGELOG.md
  extensions/backstage/README.md
  extensions/backstage/assets/backstage-icon.png
  extensions/backstage/metadata/backstage-1.png
  extensions/backstage/metadata/backstage-2.png
  extensions/backstage/package-lock.json
  extensions/backstage/package.json
  extensions/backstage/src/oauth.ts
  extensions/backstage/src/search-components.tsx
  extensions/backstage/tsconfig.json
Labels: new extension

#13865 Add raycast-notification extension
  extensions/raycast-notification/.eslintrc.json
  extensions/raycast-notification/.gitignore
  extensions/raycast-notification/.prettierrc
  extensions/raycast-notification/CHANGELOG.md
  extensions/raycast-notification/README.md
  extensions/raycast-notification/assets/command-icon.png
  extensions/raycast-notification/assets/command-icon@dark.png
  extensions/raycast-notification/assets/interface.png
  extensions/raycast-notification/assets/notification.png
  extensions/raycast-notification/package-lock.json
  extensions/raycast-notification/package.json
  extensions/raycast-notification/src/index.ts
  extensions/raycast-notification/tsconfig.json
Labels: new extension

#13940 [Week Number] Add new menubar icon
  extensions/week-number/CHANGELOG.md
  extensions/week-number/README.md
  extensions/week-number/package-lock.json
  extensions/week-number/package.json
  extensions/week-number/src/utils/common-utils.ts
  extensions/week-number/src/utils/constants.ts
Labels: extension fix / improvement, OP is author, extension: week-number

#13924 [NameSilo] `Auctions` command + metadata images + OTE support
  extensions/namesilo/CHANGELOG.md
  extensions/namesilo/README.md
  extensions/namesilo/metadata/namesilo-1.png
  extensions/namesilo/metadata/namesilo-2.png
  extensions/namesilo/metadata/namesilo-3.png
  extensions/namesilo/metadata/namesilo-4.png
  extensions/namesilo/metadata/namesilo-5.png
  extensions/namesilo/package-lock.json
  extensions/namesilo/package.json
  extensions/namesilo/src/auctions.tsx
  extensions/namesilo/src/domains.tsx
  extensions/namesilo/src/lib/constants.ts
  extensions/namesilo/src/lib/types.ts
  extensions/namesilo/src/lib/utils/generateApiUrl.ts
  extensions/namesilo/src/orders.tsx
  extensions/namesilo/src/prices.tsx
Labels: extension fix / improvement, OP is author, extension: namesilo

#13926 [PDFsearch] Performance improvements to search
  extensions/pdfsearch/CHANGELOG.md
  extensions/pdfsearch/src/views/search.tsx
  extensions/pdfsearch/swift/Sources/DocumentSearcher.swift
Labels: extension fix / improvement, OP is author, extension: pdfsearch

#13578 Update passphrase-generator extension
  extensions/passphrase-generator/.gitignore
  extensions/passphrase-generator/CHANGELOG.md
  extensions/passphrase-generator/src/utils/generators.ts
Labels: extension fix / improvement, extension: passphrase-generator

#13931 Add olympic-games extension
  extensions/olympic-games/.eslintrc.json
  extensions/olympic-games/.gitignore
  extensions/olympic-games/.prettierrc
  extensions/olympic-games/CHANGELOG.md
  extensions/olympic-games/README.md
  extensions/olympic-games/assets/olympic.png
  extensions/olympic-games/metadata/olympic-games-1.png
  extensions/olympic-games/package-lock.json
  extensions/olympic-games/package.json
  extensions/olympic-games/src/index.tsx
  extensions/olympic-games/src/types.ts
  extensions/olympic-games/src/utils.ts
  extensions/olympic-games/tsconfig.json
Labels: new extension

#13835 [MoneyLover] `Add Transaction` action + native hooks
  extensions/moneylover/.eslintrc.json
  extensions/moneylover/.gitignore
  extensions/moneylover/CHANGELOG.md
  extensions/moneylover/README.md
  extensions/moneylover/package-lock.json
  extensions/moneylover/package.json
  extensions/moneylover/src/utils.ts
  extensions/moneylover/src/view-wallets.tsx
  extensions/moneylover/tsconfig.json
Labels: extension fix / improvement, extension: moneylover

#13925 Add `Rick and Morty` extension
  extensions/rick-and-morty/.eslintrc.json
  extensions/rick-and-morty/.gitignore
  extensions/rick-and-morty/.prettierrc
  extensions/rick-and-morty/CHANGELOG.md
  extensions/rick-and-morty/README.md
  extensions/rick-and-morty/assets/icon.png
  extensions/rick-and-morty/metadata/rick-and-morty-1.png
  extensions/rick-and-morty/metadata/rick-and-morty-2.png
  extensions/rick-and-morty/metadata/rick-and-morty-3.png
  extensions/rick-and-morty/metadata/rick-and-morty-4.png
  extensions/rick-and-morty/package-lock.json
  extensions/rick-and-morty/package.json
  extensions/rick-and-morty/src/characters.tsx
  extensions/rick-and-morty/src/episodes.tsx
  extensions/rick-and-morty/src/locations.tsx
  extensions/rick-and-morty/tsconfig.json
Labels: new extension

#13911 [Screen Studio] Add new commands
  extensions/screen-studio/CHANGELOG.md
  extensions/screen-studio/metadata/screenshot-01.png
  extensions/screen-studio/package.json
  extensions/screen-studio/src/copy-and-zip-project.tsx
  extensions/screen-studio/src/open-projects-folder.tsx
  extensions/screen-studio/src/open-settings.tsx
  extensions/screen-studio/src/toggle-recording-area-cover.tsx
  extensions/screen-studio/src/toggle-recording-controls.tsx
Labels: extension fix / improvement, extension: screen-studio

#13755 Update safari extension
  extensions/safari/CHANGELOG.md
  extensions/safari/src/cloud-tabs.tsx
  extensions/safari/src/reading-list.tsx
  extensions/safari/src/search-bookmarks.tsx
  extensions/safari/src/utils.ts
Labels: extension fix / improvement, OP is contributor, extension: safari

#13961 Update olympic-games extension
  extensions/olympic-games/CHANGELOG.md
  extensions/olympic-games/metadata/olympic-games-1.png
  extensions/olympic-games/src/index.tsx
  extensions/olympic-games/src/utils.ts
Labels: extension fix / improvement, OP is author, extension: olympic-games

#13951 [chatgpt] Fix CSV parsing error in create/edit model
  extensions/chatgpt/CHANGELOG.md
  extensions/chatgpt/package.json
  extensions/chatgpt/src/views/model/form.tsx
Labels: extension fix / improvement, extension: chatgpt

#13917 Update messages extension
  extensions/messages/CHANGELOG.md
  extensions/messages/package.json
  extensions/messages/src/send-message.tsx
Labels: extension fix / improvement, extension: messages

#13908 [Github] Improvements to My Issues and My Pull Requests commands and Menu Bar
  extensions/github/CHANGELOG.md
  extensions/github/package-lock.json
  extensions/github/package.json
  extensions/github/src/hooks/useMyIssues.ts
  extensions/github/src/hooks/useMyPullRequests.ts
  extensions/github/src/my-issues-menu.tsx
  extensions/github/src/my-issues.tsx
  extensions/github/src/my-pull-requests-menu.tsx
  extensions/github/src/my-pull-requests.tsx
Labels: extension fix / improvement, OP is author, OP is contributor, extension: github

#13939 Update youtube downloader extension
  extensions/youtube-downloader/CHANGELOG.md
  extensions/youtube-downloader/package-lock.json
  extensions/youtube-downloader/package.json
Labels: extension fix / improvement, OP is contributor, extension: youtube-downloader

#13934 [minecraft-color-codes] allow customising color code prefixes
  extensions/minecraft-color-codes/CHANGELOG.md
  extensions/minecraft-color-codes/package-lock.json
  extensions/minecraft-color-codes/package.json
  extensions/minecraft-color-codes/src/components/actionpanel.tsx
  extensions/minecraft-color-codes/src/constants.ts
  extensions/minecraft-color-codes/src/index.tsx
  extensions/minecraft-color-codes/src/utils.ts
Labels: extension fix / improvement, OP is author, extension: minecraft-color-codes

#13672 [Vercast] Search Domains command + minor refactor
  extensions/vercast/.eslintrc.json
  extensions/vercast/.gitignore
  extensions/vercast/CHANGELOG.md
  extensions/vercast/README.md
  extensions/vercast/package-lock.json
  extensions/vercast/package.json
  extensions/vercast/src/pages/inspect-deployment.tsx
  extensions/vercast/src/pages/lists/deployments-list.tsx
  extensions/vercast/src/pages/lists/domains-list.tsx
  extensions/vercast/src/pages/lists/environment-variables-list.tsx
  extensions/vercast/src/pages/lists/projects-list.tsx
  extensions/vercast/src/search-domains.tsx
  extensions/vercast/src/types.d.ts
  extensions/vercast/src/vercel.ts
Labels: extension fix / improvement, extension: vercast

#13944 [IP Geolocation] Fix Auto Close Window
  extensions/ip-geolocation/.eslintrc.json
  extensions/ip-geolocation/CHANGELOG.md
  extensions/ip-geolocation/README.md
  extensions/ip-geolocation/metadata/ip-geolocation-1.png
  extensions/ip-geolocation/metadata/ip-geolocation-2.png
  extensions/ip-geolocation/metadata/ip-geolocation-3.png
  extensions/ip-geolocation/package-lock.json
  extensions/ip-geolocation/package.json
  extensions/ip-geolocation/src/copy-ip.tsx
  extensions/ip-geolocation/src/hooks/hooks.ts
  extensions/ip-geolocation/src/hooks/useIpGeolocation.ts
  extensions/ip-geolocation/src/hooks/useMyIpGeolocation.ts
  extensions/ip-geolocation/src/my-ip-geolocation.tsx
  extensions/ip-geolocation/src/query-ip-geolocation.tsx
  extensions/ip-geolocation/src/types/ip-geolocation.ts
  extensions/ip-geolocation/src/types/preferences.ts
  extensions/ip-geolocation/src/utils/common-utils.ts
  extensions/ip-geolocation/src/utils/constants.ts
  extensions/ip-geolocation/tsconfig.json
Labels: extension fix / improvement, OP is author, extension: ip-geolocation

#13950 Update multi-force extension
  extensions/multi-force/CHANGELOG.md
  extensions/multi-force/README.md
  extensions/multi-force/metadata/Authenticate-Org-Page.png
  extensions/multi-force/metadata/Home-Page.png
  extensions/multi-force/metadata/Initial-Landing-Page.png
  extensions/multi-force/metadata/Multi-Force-Action-Panel.png
  extensions/multi-force/metadata/Org-Details-Page.png
  extensions/multi-force/metadata/multi-force-1-min.png
  extensions/multi-force/metadata/multi-force-2-min.png
  extensions/multi-force/metadata/multi-force-3-min.png
  extensions/multi-force/metadata/multi-force-5-min.png
  extensions/multi-force/metadata/multi-force-7-min.png
  extensions/multi-force/readme_images/Home-Page.png
  extensions/multi-force/src/components/listItems/OrgListItem.tsx
  extensions/multi-force/src/components/pages/AuthenticateNewOrg.tsx
  extensions/multi-force/src/components/pages/DeveloperOrgDetails.tsx
  extensions/multi-force/src/constants/index.ts
  extensions/multi-force/src/reducers/orgListReducer.ts
  extensions/multi-force/src/types/index.ts
  extensions/multi-force/src/utils/orgUtility.ts
  extensions/multi-force/src/utils/salesforceUtility.ts
  extensions/multi-force/src/utils/storageUtility.ts
Labels: extension fix / improvement, OP is author, extension: multi-force

#13938 [Apple Mail] Fixes and improvements for commands
  extensions/mail/.eslintrc.json
  extensions/mail/CHANGELOG.md
  extensions/mail/package-lock.json
  extensions/mail/package.json
  extensions/mail/src/check-for-mail.tsx
  extensions/mail/src/clear-cache.tsx
  extensions/mail/src/components/compose-message.tsx
  extensions/mail/src/components/message-actions.tsx
  extensions/mail/src/components/message-list.tsx
  extensions/mail/src/mark-all-as-read.tsx
  extensions/mail/src/refresh-mail.tsx
  extensions/mail/src/scripts/accounts.ts
  extensions/mail/src/scripts/attachments.ts
  extensions/mail/src/scripts/messages.ts
  extensions/mail/src/see-important-mail.tsx
  extensions/mail/src/see-mail-accounts.tsx
  extensions/mail/src/see-recent-mail.tsx
  extensions/mail/src/types/common.ts
  extensions/mail/src/utils/cache.ts
  extensions/mail/src/utils/common.ts
  extensions/mail/src/utils/mailbox.ts
  extensions/mail/tsconfig.json
Labels: extension fix / improvement, extension: mail

#13985 [chatgpt3-prompt] Fix CSV parsing error
  extensions/chatgpt3-prompt/CHANGELOG.md
  extensions/chatgpt3-prompt/package-lock.json
  extensions/chatgpt3-prompt/package.json
  extensions/chatgpt3-prompt/src/index.tsx
Labels: extension fix / improvement, OP is contributor, extension: chatgpt3-prompt

#13994 [chatgpt] Fix image width calculation: undefined
  extensions/chatgpt/CHANGELOG.md
  extensions/chatgpt/package-lock.json
  extensions/chatgpt/src/views/answer-detail.tsx
Labels: extension fix / improvement, OP is contributor, extension: chatgpt

#13987 [Aegis] Fix missing preference for fallback icon color
  extensions/aegis/CHANGELOG.md
  extensions/aegis/package.json
Labels: extension fix / improvement, OP is author, extension: aegis

#13879 [Railway] rename icon so it shows in store + cache + minor refactor + update deps
  extensions/railway/.gitignore
  extensions/railway/CHANGELOG.md
  extensions/railway/assets/command-icon.png
  extensions/railway/assets/command-icon@light.png
  extensions/railway/metadata/railway-1.png
  extensions/railway/package-lock.json
  extensions/railway/package.json
  extensions/railway/src/railway-projects.tsx
  extensions/railway/src/railway.ts
  extensions/railway/tsconfig.json
Labels: extension fix / improvement, extension: railway

#13984 [Update Extension] System Monitor - Allow items with more than 9Gb to be shown correctly
  extensions/system-monitor/CHANGELOG.md
  extensions/system-monitor/package.json
  extensions/system-monitor/src/Memory/MemoryUtils.ts
Labels: extension fix / improvement, OP is contributor, extension: system-monitor

#14013 Update Update raindrop-io extension
  extensions/raindrop-io/CHANGELOG.md
  extensions/raindrop-io/package.json
  extensions/raindrop-io/src/hooks/useBrowserLink.ts
Labels: extension fix / improvement, extension: raindrop-io

#14001 Update 1password extension
  extensions/1password/CHANGELOG.md
  extensions/1password/package.json
  extensions/1password/src/generate-password.tsx
  extensions/1password/src/v8/components/ActionCopyToClipboard.tsx
  extensions/1password/src/v8/components/RandomPassword.tsx
  extensions/1password/src/v8/types.ts
  extensions/1password/src/vault-list.tsx
Labels: extension fix / improvement, OP is contributor, extension: 1password

#14017 Update github extension
  extensions/github/CHANGELOG.md
  extensions/github/package-lock.json
  extensions/github/package.json
  extensions/github/src/components/IssueActions.tsx
  extensions/github/src/components/ProjectActions.tsx
  extensions/github/src/components/PullRequestActions.tsx
  extensions/github/src/components/RepositoryActions.tsx
  extensions/github/src/components/WorkflowRunActions.tsx
Labels: extension fix / improvement, OP is contributor, extension: github

#13901 add launch agents extension
  extensions/launch-agents/.eslintrc.json
  extensions/launch-agents/.gitignore
  extensions/launch-agents/.prettierrc
  extensions/launch-agents/CHANGELOG.md
  extensions/launch-agents/README.md
  extensions/launch-agents/assets/launch-icon.png
  extensions/launch-agents/components/LaunchAgentDetails.tsx
  extensions/launch-agents/components/LaunchAgentList.tsx
  extensions/launch-agents/lib/plist.ts
  extensions/launch-agents/lib/utils.ts
  extensions/launch-agents/metadata/launch-agents-1.png
  extensions/launch-agents/metadata/launch-agents-2.png
  extensions/launch-agents/metadata/launch-agents-3.png
  extensions/launch-agents/metadata/launch-agents-4.png
  extensions/launch-agents/package-lock.json
  extensions/launch-agents/package.json
  extensions/launch-agents/src/create-launch-agent.tsx
  extensions/launch-agents/src/index.tsx
  extensions/launch-agents/tsconfig.json
Labels: new extension

#14038 Update DevDocs extension: add configurable default "open in" action
  extensions/devdocs/CHANGELOG.md
  extensions/devdocs/README.md
  extensions/devdocs/package.json
  extensions/devdocs/src/search-entries.tsx
  extensions/devdocs/src/types.ts
Labels: extension fix / improvement, OP is author, extension: devdocs

#14010 Update braid extension
  extensions/braid/CHANGELOG.md
  extensions/braid/assets/icons/.DS_Store-dark.svg
  extensions/braid/assets/icons/.DS_Store-light.svg
  extensions/braid/assets/icons/hash-dark.svg
  extensions/braid/assets/icons/hash-light.svg
  extensions/braid/assets/icons/promote-dark.svg
  extensions/braid/assets/icons/promote-light.svg
  extensions/braid/braid-icons/hash.svg
  extensions/braid/src/resources/docs-map.json
  extensions/braid/src/resources/icon-map.json
  extensions/braid/src/search-docs.tsx
Labels: extension fix / improvement, OP is author, extension: braid

#14018 [DirectAdmin Reseller] add hooks for json api + fix issue in packages command
  extensions/directadmin-reseller/CHANGELOG.md
  extensions/directadmin-reseller/README.md
  extensions/directadmin-reseller/assets/directadmin-reseller.png
  extensions/directadmin-reseller/assets/directadmin-reseller@dark.png
  extensions/directadmin-reseller/package-lock.json
  extensions/directadmin-reseller/package.json
  extensions/directadmin-reseller/src/components/ErrorComponent.tsx
  extensions/directadmin-reseller/src/reseller-user-accounts.tsx
  extensions/directadmin-reseller/src/types/index.ts
  extensions/directadmin-reseller/src/user-packages.tsx
  extensions/directadmin-reseller/src/utils/api.ts
  extensions/directadmin-reseller/src/utils/constants.ts
  extensions/directadmin-reseller/src/utils/functions.ts
  extensions/directadmin-reseller/src/utils/hooks/index.ts
  extensions/directadmin-reseller/src/utils/hooks/use-directadmin.ts
Labels: extension fix / improvement, OP is author, extension: directadmin-reseller

#14008 Update stablecog extension
  extensions/stablecog/CHANGELOG.md
  extensions/stablecog/package.json
  extensions/stablecog/src/components/GalleryItemActions.tsx
  extensions/stablecog/src/imagine-advanced.tsx
  extensions/stablecog/src/imagine.tsx
  extensions/stablecog/src/ts/constants.ts
  extensions/stablecog/src/ts/types.ts
Labels: extension fix / improvement, OP is author, extension: stablecog

#13914 Add restart-system-processes extension
  extensions/restart-system-processes/.eslintrc.json
  extensions/restart-system-processes/.gitignore
  extensions/restart-system-processes/.prettierrc
  extensions/restart-system-processes/CHANGELOG.md
  extensions/restart-system-processes/README.md
  extensions/restart-system-processes/assets/main-icon.png
  extensions/restart-system-processes/metadata/restart-system-processes-1.png
  extensions/restart-system-processes/metadata/restart-system-processes-2.png
  extensions/restart-system-processes/package-lock.json
  extensions/restart-system-processes/package.json
  extensions/restart-system-processes/src/index.jsx
  extensions/restart-system-processes/tsconfig.json
Labels: new extension

#14020 Update tabler extension
  extensions/tabler/CHANGELOG.md
  extensions/tabler/metadata/tabler-1.png
  extensions/tabler/package.json
  extensions/tabler/src/index.tsx
Labels: extension fix / improvement, extension: tabler

#14045 Update raycast-icons extension
  extensions/raycast-icons/.eslintignore
  extensions/raycast-icons/.eslintrc.json
  extensions/raycast-icons/.gitignore
  extensions/raycast-icons/CHANGELOG.md
  extensions/raycast-icons/metadata/api-icon-list-1.png
  extensions/raycast-icons/metadata/api-icon-list-2.png
  extensions/raycast-icons/metadata/raycast-icons-1.png
  extensions/raycast-icons/metadata/raycast-icons-2.png
  extensions/raycast-icons/package-lock.json
  extensions/raycast-icons/package.json
  extensions/raycast-icons/src/index.tsx
Labels: extension fix / improvement, extension: raycast-icons

#14073 Update urban-dictionary extension
  extensions/urban-dictionary/CHANGELOG.md
  extensions/urban-dictionary/package-lock.json
  extensions/urban-dictionary/package.json
  extensions/urban-dictionary/src/index.tsx
Labels: extension fix / improvement, extension: urban-dictionary

#14066 Update incident-io extension
  extensions/incident-io/CHANGELOG.md
  extensions/incident-io/package.json
  extensions/incident-io/src/oncall.tsx
Labels: extension fix / improvement, OP is author, extension: incident-io

#13947 Update open-in-visual-studio-code extension
  extensions/open-in-visual-studio-code/CHANGELOG.md
  extensions/open-in-visual-studio-code/package-lock.json
  extensions/open-in-visual-studio-code/package.json
Labels: extension fix / improvement, extension: open-in-visual-studio-code

#13952 [Lorem Ipsum] Add options to Paste to active app and then copy to clipboard
  extensions/lorem-ipsum/CHANGELOG.md
  extensions/lorem-ipsum/package-lock.json
  extensions/lorem-ipsum/package.json
  extensions/lorem-ipsum/src/utils.tsx
Labels: extension fix / improvement, OP is contributor, extension: lorem-ipsum

#14065 Add pdf-tools extension
  extensions/pdf-tools/.eslintrc.json
  extensions/pdf-tools/.gitignore
  extensions/pdf-tools/.prettierrc
  extensions/pdf-tools/CHANGELOG.md
  extensions/pdf-tools/README.md
  extensions/pdf-tools/assets/pdftools-icon.png
  extensions/pdf-tools/metadata/pdf-tools-1.png
  extensions/pdf-tools/package-lock.json
  extensions/pdf-tools/package.json
  extensions/pdf-tools/src/merge.ts
  extensions/pdf-tools/src/protect.ts
  extensions/pdf-tools/src/splitByFileSize.ts
  extensions/pdf-tools/src/splitByPageCount.ts
  extensions/pdf-tools/src/unlock.ts
  extensions/pdf-tools/swift/.gitignore
  extensions/pdf-tools/swift/Package.swift
  extensions/pdf-tools/swift/Sources/PDFTools.swift
  extensions/pdf-tools/tsconfig.json
Labels: new extension

#14026 Disable Automatic Date (when & deadline), List parsing when AI is not enabled in preferences/is not available via environment
  extensions/things/CHANGELOG.md
  extensions/things/README.md
  extensions/things/package.json
  extensions/things/src/quick-add-todo.tsx
Labels: extension fix / improvement, extension: things

#14082 Renamed extension calist
  extensions/cron/.eslintrc.json
  extensions/cron/.gitignore
  extensions/cron/.prettierrc
  extensions/cron/CHANGELOG.md
  extensions/cron/README.md
  extensions/cron/assets/calist.png
  extensions/cron/metadata/calist-1.png
  extensions/cron/metadata/calist-10.png
  extensions/cron/metadata/calist-2.png
  extensions/cron/metadata/calist-3.png
  extensions/cron/metadata/calist-4.png
  extensions/cron/metadata/calist-5.png
  extensions/cron/metadata/calist-6.png
  extensions/cron/metadata/calist-7.png
  extensions/cron/metadata/calist-8.png
  extensions/cron/metadata/calist-9.png
  extensions/cron/package-lock.json
  extensions/cron/package.json
  extensions/cron/prettier.config.js
  extensions/cron/src/index.tsx
  extensions/cron/src/parts/actions/actions.tsx
  extensions/cron/src/parts/calendar/calendar.tsx
  extensions/cron/src/parts/days/days.tsx
  extensions/cron/src/parts/dropdow/dropdown.tsx
  extensions/cron/src/parts/month/getTitle.tsx
  extensions/cron/src/parts/month/month.tsx
  extensions/cron/src/parts/time/time.tsx
  extensions/cron/src/time.tsx
  extensions/cron/src/utils/constants.tsx
  extensions/cron/src/utils/context.tsx
  extensions/cron/src/utils/fuzzyMatch.tsx
  extensions/cron/src/utils/getDate.tsx
  extensions/cron/src/utils/getIcon.tsx
  extensions/cron/src/utils/getMonthNumber.tsx
  extensions/cron/src/utils/getName.tsx
  extensions/cron/src/utils/getSelection.tsx
  extensions/cron/src/utils/getSvg.tsx
  extensions/cron/src/utils/getViewMode.tsx
  extensions/cron/src/utils/options.tsx
  extensions/cron/src/utils/useHolder.tsx
  extensions/cron/src/utils/useTime.tsx
  extensions/cron/src/utils/useTitle.tsx
  extensions/cron/src/utils/weather.tsx
  extensions/cron/tsconfig.json
Labels: new extension, renamed extension

#14077 Update folder search extension
  extensions/folder-search/.eslintrc.json
  extensions/folder-search/.gitignore
  extensions/folder-search/CHANGELOG.md
  extensions/folder-search/package-lock.json
  extensions/folder-search/package.json
  extensions/folder-search/src/search.tsx
Labels: extension fix / improvement, extension: folder-search

#14090 Update olympic-games extension
  extensions/olympic-games/CHANGELOG.md
  extensions/olympic-games/src/Data/2024-medals.ts
  extensions/olympic-games/src/index.tsx
  extensions/olympic-games/src/types.ts
  extensions/olympic-games/src/utils.ts
Labels: extension fix / improvement, OP is author, extension: olympic-games

#14070 [Linkwarden] fix #13613 (API uses Bearer Auth)
  extensions/linkwarden/CHANGELOG.md
  extensions/linkwarden/package-lock.json
  extensions/linkwarden/package.json
  extensions/linkwarden/src/add.tsx
  extensions/linkwarden/src/search.tsx
Labels: extension fix / improvement, extension: linkwarden

#13958 [Raycast Notification] Added success and failure notification types
  extensions/raycast-notification/CHANGELOG.md
  extensions/raycast-notification/README.md
  extensions/raycast-notification/assets/command-icon.png
  extensions/raycast-notification/assets/command-icon@dark.png
  extensions/raycast-notification/assets/interface.png
  extensions/raycast-notification/assets/notification.png
  extensions/raycast-notification/metadata/raycast-notification-1.png
  extensions/raycast-notification/package-lock.json
  extensions/raycast-notification/package.json
  extensions/raycast-notification/src/index.ts
Labels: extension fix / improvement, extension: raycast-notification

#13116 Add git-buddy extension
  extensions/git-buddy/.eslintrc.json
  extensions/git-buddy/.gitignore
  extensions/git-buddy/.prettierrc
  extensions/git-buddy/CHANGELOG.md
  extensions/git-buddy/README.md
  extensions/git-buddy/assets/command-icon.png
  extensions/git-buddy/metadata/git-buddy-1.png
  extensions/git-buddy/metadata/git-buddy-2.png
  extensions/git-buddy/metadata/git-buddy-3.png
  extensions/git-buddy/metadata/git-buddy-4.png
  extensions/git-buddy/package-lock.json
  extensions/git-buddy/package.json
  extensions/git-buddy/src/_components/list-branches/BranchItem.tsx
  extensions/git-buddy/src/_components/list-branches/ListBranches.tsx
  extensions/git-buddy/src/_components/list-branches/useBranchActions.ts
  extensions/git-buddy/src/_components/write-commit-message/CommitActions.tsx
  extensions/git-buddy/src/_components/write-commit-message/WriteCommitMessage.tsx
  extensions/git-buddy/src/_components/write-commit-message/useCommitMessage.ts
  extensions/git-buddy/src/_components/write-pr-description/PRDescriptionActions.tsx
  extensions/git-buddy/src/_components/write-pr-description/WritePRDescription.tsx
  extensions/git-buddy/src/_components/write-pr-description/usePRDescription.ts
  extensions/git-buddy/src/_constants/errors.ts
  extensions/git-buddy/src/_constants/index.ts
  extensions/git-buddy/src/_constants/prompts.ts
  extensions/git-buddy/src/_constants/success.ts
  extensions/git-buddy/src/_lib/ai-utils.ts
  extensions/git-buddy/src/_lib/error-utils.ts
  extensions/git-buddy/src/_lib/git/branches.ts
  extensions/git-buddy/src/_lib/git/commands.ts
  extensions/git-buddy/src/_lib/git/index.ts
  extensions/git-buddy/src/_lib/git/queue.ts
  extensions/git-buddy/src/_lib/git/repo.ts
  extensions/git-buddy/src/list-branches.tsx
  extensions/git-buddy/src/write-commit-message.tsx
  extensions/git-buddy/src/write-pr-description.tsx
  extensions/git-buddy/tsconfig.json
Labels: new extension

#13992 [GitHub] Brought back fast browsing to cloned repos.
  extensions/github/CHANGELOG.md
  extensions/github/package.json
  extensions/github/src/components/CloneRepositoryForm.tsx
  extensions/github/src/components/RepositoryActions.tsx
  extensions/github/src/generated/graphql.ts
  extensions/github/src/helpers/repository.ts
Labels: extension fix / improvement, OP is contributor, extension: github

#13953 [Notion] Add LaunchContext support for Quick Capture
  extensions/notion/CHANGELOG.md
  extensions/notion/package.json
  extensions/notion/src/components/forms/CreatePageForm.tsx
  extensions/notion/src/quick-capture.tsx
  extensions/notion/src/utils/types.ts
Labels: extension fix / improvement, OP is contributor, extension: notion

#14033 Update text-shortcuts extension
  extensions/text-shortcuts/.gitignore
  extensions/text-shortcuts/CHANGELOG.md
  extensions/text-shortcuts/package.json
Labels: extension fix / improvement, extension: text-shortcuts

#13975 Add octoprint extension
  extensions/octoprint/.eslintrc.json
  extensions/octoprint/.gitignore
  extensions/octoprint/.prettierrc
  extensions/octoprint/CHANGELOG.md
  extensions/octoprint/README.md
  extensions/octoprint/assets/octoprint-logo.png
  extensions/octoprint/metadata/octoprint-1.png
  extensions/octoprint/metadata/octoprint-2.png
  extensions/octoprint/metadata/octoprint-3.png
  extensions/octoprint/package-lock.json
  extensions/octoprint/package.json
  extensions/octoprint/src/components/filesList.tsx
  extensions/octoprint/src/components/printerStatusDetails.tsx
  extensions/octoprint/src/components/printerStatusError.tsx
  extensions/octoprint/src/files.tsx
  extensions/octoprint/src/printerStatus.tsx
  extensions/octoprint/src/setTemperature.tsx
  extensions/octoprint/src/types/files.tsx
  extensions/octoprint/src/types/printer_status.tsx
  extensions/octoprint/src/utils/constants.tsx
  extensions/octoprint/src/utils/markdownBuilder.tsx
  extensions/octoprint/src/utils/timeCalculator.tsx
  extensions/octoprint/tsconfig.json
Labels: new extension

#13964 [toggl-track] Remove seconds from menubar timer
  extensions/toggl-track/CHANGELOG.md
  extensions/toggl-track/src/menuBar.tsx
Labels: extension fix / improvement, OP is contributor, extension: toggl-track

#14029 Deleting my extension ig
  extensions/crawldoc/CHANGELOG.md
  extensions/crawldoc/package-lock.json
  extensions/crawldoc/src/index._.jsx
  extensions/crawldoc/src/index.jsx
Labels: extension fix / improvement, OP is author, extension: crawldoc

#14108 Update viacep extension
  extensions/viacep/CHANGELOG.md
  extensions/viacep/metadata/viacep-3.png
  extensions/viacep/package-lock.json
  extensions/viacep/package.json
  extensions/viacep/src/components/CepList.tsx
  extensions/viacep/src/find-address.tsx
Labels: extension fix / improvement, OP is author, extension: viacep

#13989 Initial version of Threads extension.
  extensions/threads/CHANGELOG.md
  extensions/threads/README.md
  extensions/threads/assets/threads-icon.png
  extensions/threads/eslint.config.mjs
  extensions/threads/metadata/threads-0.png
  extensions/threads/metadata/threads-1.png
  extensions/threads/metadata/threads-2.png
  extensions/threads/metadata/threads-3.png
  extensions/threads/metadata/threads-4.png
  extensions/threads/metadata/threads-5.png
  extensions/threads/metadata/threads-6.png
  extensions/threads/metadata/threads-7.png
  extensions/threads/package-lock.json
  extensions/threads/package.json
  extensions/threads/src/activity.tsx
  extensions/threads/src/feed.tsx
  extensions/threads/src/lib/follow-intent.ts
  extensions/threads/src/lib/post-intent.ts
  extensions/threads/src/new-thread.tsx
  extensions/threads/src/quick-follow.tsx
  extensions/threads/src/quick-thread.tsx
  extensions/threads/src/search.tsx
  extensions/threads/tsconfig.json
Labels: new extension

#13990 [Migadu] cache most results + minor api refactor
  extensions/migadu/CHANGELOG.md
  extensions/migadu/README.md
  extensions/migadu/package-lock.json
  extensions/migadu/package.json
  extensions/migadu/src/aliases.tsx
  extensions/migadu/src/components/DomainSelector.tsx
  extensions/migadu/src/components/identities.tsx
  extensions/migadu/src/mailboxes-and-identities.tsx
  extensions/migadu/src/rewrites.tsx
  extensions/migadu/src/utils/api.ts
  extensions/migadu/tsconfig.json
Labels: extension fix / improvement, OP is author, extension: migadu

#13999 [Everhour] fix #13548 + modernize + add metadata/images,README
  extensions/everhour/.eslintrc.json
  extensions/everhour/.gitignore
  extensions/everhour/CHANGELOG.md
  extensions/everhour/README.md
  extensions/everhour/metadata/everhour-1.png
  extensions/everhour/metadata/everhour-2.png
  extensions/everhour/metadata/everhour-3.png
  extensions/everhour/package-lock.json
  extensions/everhour/package.json
  extensions/everhour/src/api/index.ts
  extensions/everhour/src/components/ProjectListItem.tsx
  extensions/everhour/src/components/TaskListItem.tsx
  extensions/everhour/src/types/index.ts
  extensions/everhour/src/utils/index.ts
  extensions/everhour/src/views/ProjectList.tsx
  extensions/everhour/src/views/RecentTaskList.tsx
  extensions/everhour/src/views/TaskList.tsx
  extensions/everhour/src/views/TimeSubmitForm.tsx
  extensions/everhour/tsconfig.json
Labels: extension fix / improvement, extension: everhour

#13847 Update app-icon-generator extension
  extensions/app-icon-generator/CHANGELOG.md
  extensions/app-icon-generator/README.md
  extensions/app-icon-generator/metadata/screenshot-1.png
  extensions/app-icon-generator/package.json
  extensions/app-icon-generator/src/index.tsx
Labels: extension fix / improvement, OP is author, OP is contributor, extension: app-icon-generator

#14116 [TablePlus] close #4231 + add dropdown filter
  extensions/tableplus/CHANGELOG.md
  extensions/tableplus/metadata/tableplus-1.png
  extensions/tableplus/metadata/tableplus-2.png
  extensions/tableplus/metadata/tableplus-3.png
  extensions/tableplus/package-lock.json
  extensions/tableplus/package.json
  extensions/tableplus/src/constants.ts
  extensions/tableplus/src/database_list.tsx
  extensions/tableplus/src/interfaces.ts
Labels: extension fix / improvement, extension: tableplus

#14052 Update cobalt extension
  extensions/cobalt/CHANGELOG.md
  extensions/cobalt/README.md
  extensions/cobalt/package-lock.json
  extensions/cobalt/package.json
  extensions/cobalt/src/index.tsx
Labels: extension fix / improvement, OP is author, extension: cobalt

#14121 Update claude extension
  extensions/claude/CHANGELOG.md
  extensions/claude/src/hooks/useAnthropic.tsx
Labels: extension fix / improvement, OP is contributor, extension: claude

#14046 Add Bonjour extension
  extensions/bonjour/.eslintrc.json
  extensions/bonjour/.gitignore
  extensions/bonjour/.prettierrc.js
  extensions/bonjour/CHANGELOG.md
  extensions/bonjour/README.md
  extensions/bonjour/assets/extension_icon.png
  extensions/bonjour/assets/menubar_icon.png
  extensions/bonjour/icon.svg
  extensions/bonjour/metadata/bonjour-1.png
  extensions/bonjour/package-lock.json
  extensions/bonjour/package.json
  extensions/bonjour/src/list.tsx
  extensions/bonjour/src/menu.tsx
  extensions/bonjour/src/service.ts
  extensions/bonjour/tsconfig.json
Labels: new extension

#13976 [beeminder] Several updates to the Beeminder extension
  extensions/beeminder/.gitignore
  extensions/beeminder/CHANGELOG.md
  extensions/beeminder/package.json
  extensions/beeminder/src/beeminder.tsx
  extensions/beeminder/src/types.ts
Labels: extension fix / improvement, extension: beeminder

#13887 Update google-search extension
  extensions/google-search/.gitignore
  extensions/google-search/CHANGELOG.md
  extensions/google-search/package.json
  extensions/google-search/src/index.tsx
Labels: extension fix / improvement, status: stalled, extension: google-search

#13970 Added support to select either the NBA or the WNBA - default remains NBA
  extensions/nba-game-viewer/.eslintrc.json
  extensions/nba-game-viewer/CHANGELOG.md
  extensions/nba-game-viewer/README.md
  extensions/nba-game-viewer/package-lock.json
  extensions/nba-game-viewer/package.json
  extensions/nba-game-viewer/src/components/Article.tsx
  extensions/nba-game-viewer/src/components/Team.tsx
  extensions/nba-game-viewer/src/hooks/useNews.ts
  extensions/nba-game-viewer/src/hooks/useRoster.ts
  extensions/nba-game-viewer/src/hooks/useSchedule.ts
  extensions/nba-game-viewer/src/hooks/useStandings.ts
  extensions/nba-game-viewer/src/types/standings.types.ts
  extensions/nba-game-viewer/src/utils/generateGameAccessories.ts
  extensions/nba-game-viewer/src/utils/getNews.ts
  extensions/nba-game-viewer/src/utils/getRoster.ts
  extensions/nba-game-viewer/src/utils/getSchedule.ts
  extensions/nba-game-viewer/src/utils/getStandings.ts
  extensions/nba-game-viewer/src/views/articles.tsx
  extensions/nba-game-viewer/src/views/roster.tsx
  extensions/nba-game-viewer/src/views/schedule.tsx
  extensions/nba-game-viewer/src/views/standings.tsx
  extensions/nba-game-viewer/tsconfig.json
Labels: extension fix / improvement, extension: nba-game-viewer

#14084 Add `Remove All Searches` action for `spotify-player` Search command
  extensions/spotify-player/CHANGELOG.md
  extensions/spotify-player/package.json
  extensions/spotify-player/src/search.tsx
Labels: extension fix / improvement, OP is contributor, extension: spotify-player

#14087 chore (grafana): use service token instead of api keys
  extensions/grafana/CHANGELOG.md
  extensions/grafana/README.md
  extensions/grafana/package.json
  extensions/grafana/src/helpers/preferences.ts
Labels: extension fix / improvement, OP is author, extension: grafana

#14006 Add Luna Search extension
  extensions/luna-search/.eslintrc.json
  extensions/luna-search/.prettierrc
  extensions/luna-search/CHANGELOG.md
  extensions/luna-search/README.md
  extensions/luna-search/assets/command-icon.png
  extensions/luna-search/assets/logo_luna.png
  extensions/luna-search/assets/logo_luna@dark.png
  extensions/luna-search/metadata/luna-search-1.png
  extensions/luna-search/metadata/luna-search-2.png
  extensions/luna-search/metadata/luna-search-3.png
  extensions/luna-search/metadata/luna-search-4.png
  extensions/luna-search/metadata/luna-search-5.png
  extensions/luna-search/package-lock.json
  extensions/luna-search/package.json
  extensions/luna-search/src/components/Actions/CommonGameActions.tsx
  extensions/luna-search/src/components/Actions/EmptyActions.tsx
  extensions/luna-search/src/components/Actions/GameDetailActions.tsx
  extensions/luna-search/src/components/Actions/GameGridActions.tsx
  extensions/luna-search/src/components/Actions/OpenDetailAction.tsx
  extensions/luna-search/src/components/Actions/OpenUrlAction.tsx
  extensions/luna-search/src/components/Actions/SeeTrendingAction.tsx
  extensions/luna-search/src/components/Actions/index.tsx
  extensions/luna-search/src/components/GameDetail.tsx
  extensions/luna-search/src/components/GameGrid/EmptyGameGrid.tsx
  extensions/luna-search/src/components/GameGrid/index.tsx
  extensions/luna-search/src/components/index.ts
  extensions/luna-search/src/constants.ts
  extensions/luna-search/src/index.tsx
  extensions/luna-search/src/services/LunaService/Game.ts
  extensions/luna-search/src/services/LunaService/GameSummary.ts
  extensions/luna-search/src/services/LunaService/GetGameModel.ts
  extensions/luna-search/src/services/LunaService/ReponseModel.ts
  extensions/luna-search/src/services/LunaService/RequestModel.ts
  extensions/luna-search/src/services/LunaService/SearchModel.ts
  extensions/luna-search/src/services/LunaService/constants.ts
  extensions/luna-search/src/services/LunaService/index.ts
  extensions/luna-search/src/services/index.ts
  extensions/luna-search/src/utilities/ExpiringCache.ts
  extensions/luna-search/src/utilities/index.ts
  extensions/luna-search/tsconfig.json
Labels: new extension

#14053 Fix LaunchAgents folder creation for inexistent folder
  extensions/launch-agents/CHANGELOG.md
  extensions/launch-agents/components/LaunchAgentDetails.tsx
  extensions/launch-agents/components/LaunchAgentList.tsx
  extensions/launch-agents/lib/plist.ts
  extensions/launch-agents/package.json
  extensions/launch-agents/src/create-launch-agent.tsx
Labels: extension fix / improvement, OP is author, extension: launch-agents

#14002 Initial commit for @ Profile extension.
  extensions/at-profile/.eslintrc.json
  extensions/at-profile/.prettierrc
  extensions/at-profile/CHANGELOG.md
  extensions/at-profile/README.md
  extensions/at-profile/assets/at-icon.png
  extensions/at-profile/metadata/.eslintrc.json
  extensions/at-profile/metadata/.gitignore
  extensions/at-profile/metadata/.prettierrc
  extensions/at-profile/metadata/social-profile-1.png
  extensions/at-profile/package-lock.json
  extensions/at-profile/package.json
  extensions/at-profile/src/quick-open.tsx
  extensions/at-profile/src/sites.ts
  extensions/at-profile/tsconfig.json
Labels: new extension

#14054 Update fantastical extension
  extensions/fantastical/CHANGELOG.md
  extensions/fantastical/package-lock.json
  extensions/fantastical/package.json
  extensions/fantastical/src/fan-add-event-editable.ts
  extensions/fantastical/src/fan-add-reminder-editable.ts
  extensions/fantastical/src/fan-quick-add-event.ts
  extensions/fantastical/src/fan-quick-add-reminder.ts
  extensions/fantastical/src/types.ts
Labels: extension fix / improvement, OP is contributor, extension: fantastical

#14137 don't show detail if list is empty
  extensions/bonjour/CHANGELOG.md
  extensions/bonjour/package.json
  extensions/bonjour/src/list.tsx
Labels: extension fix / improvement, OP is author, extension: bonjour

#14167 [Wikipedia] Add languages
  extensions/wikipedia/CHANGELOG.md
  extensions/wikipedia/src/utils/language.ts
Labels: extension fix / improvement, OP is contributor, extension: wikipedia

#14151 Update remember-the-date extension
  extensions/remember-the-date/CHANGELOG.md
  extensions/remember-the-date/assets/add.png
  extensions/remember-the-date/assets/countdown.png
  extensions/remember-the-date/assets/icon.png
  extensions/remember-the-date/package.json
  extensions/remember-the-date/src/index.tsx
  extensions/remember-the-date/src/list.tsx
  extensions/remember-the-date/src/up-next.tsx
  extensions/remember-the-date/src/utils.ts
Labels: extension fix / improvement, OP is contributor, extension: remember-the-date

#13942 Add toggle-fn extension
  extensions/toggle-fn/.eslintrc.json
  extensions/toggle-fn/.gitignore
  extensions/toggle-fn/.prettierrc
  extensions/toggle-fn/CHANGELOG.md
  extensions/toggle-fn/README.md
  extensions/toggle-fn/assets/fn-key.png
  extensions/toggle-fn/assets/fn-key@dark.png
  extensions/toggle-fn/metadata/Toggle-Fn-1.png
  extensions/toggle-fn/package-lock.json
  extensions/toggle-fn/package.json
  extensions/toggle-fn/src/index.ts
  extensions/toggle-fn/tsconfig.json
Labels: new extension

#14157 Update LaunchAgents extension
  extensions/launch-agents/CHANGELOG.md
  extensions/launch-agents/components/LaunchAgentList.tsx
Labels: extension fix / improvement, OP is author, extension: launch-agents

#14138 Update `cPanel` extension (view dbs + limited add dns record + move url check out of hook)
  extensions/cpanel/CHANGELOG.md
  extensions/cpanel/README.md
  extensions/cpanel/metadata/cpanel-5.png
  extensions/cpanel/metadata/cpanel-6.png
  extensions/cpanel/package-lock.json
  extensions/cpanel/package.json
  extensions/cpanel/src/databases.tsx
  extensions/cpanel/src/domains.tsx
  extensions/cpanel/src/email-accounts.tsx
  extensions/cpanel/src/lib/components/invalid-url.tsx
  extensions/cpanel/src/lib/constants.ts
  extensions/cpanel/src/lib/hooks.ts
  extensions/cpanel/src/lib/types.ts
  extensions/cpanel/src/lib/utils.ts
Labels: extension fix / improvement, OP is author, extension: cpanel

#13959 Add oxford-collocation-dictionary extension
  extensions/oxford-collocation-dictionary/.eslintrc.json
  extensions/oxford-collocation-dictionary/.gitignore
  extensions/oxford-collocation-dictionary/.prettierrc
  extensions/oxford-collocation-dictionary/CHANGELOG.md
  extensions/oxford-collocation-dictionary/README.md
  extensions/oxford-collocation-dictionary/assets/command-icon.png
  extensions/oxford-collocation-dictionary/assets/logo.png
  extensions/oxford-collocation-dictionary/metadata/oxford-collocation-dictionary-1.png
  extensions/oxford-collocation-dictionary/metadata/oxford-collocation-dictionary-2.png
  extensions/oxford-collocation-dictionary/metadata/oxford-collocation-dictionary-3.png
  extensions/oxford-collocation-dictionary/package-lock.json
  extensions/oxford-collocation-dictionary/package.json
  extensions/oxford-collocation-dictionary/src/components/CollocationList.tsx
  extensions/oxford-collocation-dictionary/src/hooks/useCollocations.ts
  extensions/oxford-collocation-dictionary/src/lib/cheerio.ts
  extensions/oxford-collocation-dictionary/src/lib/utils.ts
  extensions/oxford-collocation-dictionary/src/search-selected-word.ts
  extensions/oxford-collocation-dictionary/src/search.tsx
  extensions/oxford-collocation-dictionary/tsconfig.json
Labels: new extension

#14142 Update work-time-countdown extension
  extensions/work-time-countdown/CHANGELOG.md
  extensions/work-time-countdown/metadata/work-time-countdown-1.jpg
  extensions/work-time-countdown/src/index.tsx
  extensions/work-time-countdown/src/utils/time.ts
Labels: extension fix / improvement, OP is contributor, extension: work-time-countdown

#14160 feat(spotify-player): preference to show only music
  extensions/spotify-player/CHANGELOG.md
  extensions/spotify-player/package.json
  extensions/spotify-player/src/search.tsx
Labels: extension fix / improvement, OP is contributor, extension: spotify-player

#14158 [beeminder] Fix data synchronization after a datapoint submission
  extensions/beeminder/CHANGELOG.md
  extensions/beeminder/src/beeminder.tsx
Labels: extension fix / improvement, OP is contributor, extension: beeminder

#14184 Update custom-folder extension
  extensions/custom-folder/CHANGELOG.md
  extensions/custom-folder/README.md
  extensions/custom-folder/metadata/custom-folder-1.png
  extensions/custom-folder/metadata/custom-folder-2.png
  extensions/custom-folder/metadata/custom-folder-3.png
  extensions/custom-folder/package-lock.json
  extensions/custom-folder/package.json
  extensions/custom-folder/src/createForm.tsx
  extensions/custom-folder/src/replaceAction.tsx
  extensions/custom-folder/src/result.tsx
  extensions/custom-folder/src/types.tsx
  extensions/custom-folder/src/utils/replaceIconScript.ts
  extensions/custom-folder/src/utils/verifications.tsx
Labels: extension fix / improvement, OP is author, extension: custom-folder

#14135 Fix error when reading name from undefined
  extensions/swift-evolution/CHANGELOG.md
  extensions/swift-evolution/src/Data/SwiftProposalsRepository.ts
  extensions/swift-evolution/src/Data/api.ts
  extensions/swift-evolution/src/Domain/ProposalDataModel.ts
  extensions/swift-evolution/src/UI/DetailedProposalList.tsx
Labels: extension fix / improvement, OP is author, extension: swift-evolution

#14185 Update arc extension
  extensions/arc/CHANGELOG.md
  extensions/arc/package-lock.json
  extensions/arc/package.json
  extensions/arc/src/actions.tsx
  extensions/arc/src/boost-gallery.tsx
  extensions/arc/src/menu-bar.tsx
  extensions/arc/src/new-blank-window.ts
  extensions/arc/src/new-easel.ts
  extensions/arc/src/new-incognito-window.ts
  extensions/arc/src/new-little-arc.ts
  extensions/arc/src/new-tab.ts
  extensions/arc/src/new-window.ts
  extensions/arc/src/release-notes.tsx
  extensions/arc/src/search-history.tsx
  extensions/arc/src/search-spaces.tsx
  extensions/arc/src/search-tabs.tsx
  extensions/arc/src/search.tsx
  extensions/arc/src/sql.ts
  extensions/arc/src/suggestions.ts
  extensions/arc/src/utils.ts
Labels: extension fix / improvement, OP is contributor, extension: arc

#14179 [Easydict v2.9.2] 💎 feat: support http API endpoint for OpenAI
  extensions/easydict/CHANGELOG.md
  extensions/easydict/README.md
  extensions/easydict/docs/README_ZH.md
  extensions/easydict/package-lock.json
  extensions/easydict/package.json
  extensions/easydict/src/axiosConfig.ts
  extensions/easydict/src/dataManager/dataManager.ts
  extensions/easydict/src/dataManager/utils.ts
  extensions/easydict/src/dictionary/youdao/formatData.ts
  extensions/easydict/src/dictionary/youdao/youdao.ts
  extensions/easydict/src/easydict.tsx
  extensions/easydict/src/language/consts.ts
  extensions/easydict/src/language/languages.ts
  extensions/easydict/src/preferences.ts
  extensions/easydict/src/releaseVersion/versionInfo.ts
  extensions/easydict/src/translation/deepL.ts
  extensions/easydict/src/translation/openAI/chat.ts
Labels: extension fix / improvement, OP is author, extension: easydict

#14149 Update svgl extension
  extensions/svgl/CHANGELOG.md
  extensions/svgl/src/utils/fetch.ts
Labels: extension fix / improvement, OP is author, extension: svgl

#14178 Update chatgpt extension
  extensions/chatgpt/CHANGELOG.md
  extensions/chatgpt/package-lock.json
  extensions/chatgpt/package.json
  extensions/chatgpt/src/views/vision.tsx
Labels: extension fix / improvement, extension: chatgpt

#14064 Update iconpark extension
  extensions/iconpark/.gitignore
  extensions/iconpark/CHANGELOG.md
  extensions/iconpark/package.json
  extensions/iconpark/src/search-icons.tsx
Labels: extension fix / improvement, extension: iconpark

#14080 Update scrapbook extension
  extensions/scrapbook/CHANGELOG.md
  extensions/scrapbook/src/search-users-posts.tsx
  extensions/scrapbook/src/search-users.tsx
  extensions/scrapbook/src/view-recent-posts.tsx
Labels: extension fix / improvement, OP is author, extension: scrapbook

#14192 [Bonjour] fix cache calue when no services present
  extensions/bonjour/CHANGELOG.md
  extensions/bonjour/src/list.tsx
  extensions/bonjour/src/service.ts
Labels: extension fix / improvement, OP is author, extension: bonjour

#14106 [diskutil] Upgrades Raycast dependencies for failureToast fix
  extensions/diskutil/CHANGELOG.md
  extensions/diskutil/package-lock.json
  extensions/diskutil/package.json
Labels: extension fix / improvement, extension: diskutil

#14109 Add readeck extension
  extensions/readeck/.eslintrc.json
  extensions/readeck/.gitignore
  extensions/readeck/.prettierrc
  extensions/readeck/CHANGELOG.md
  extensions/readeck/README.md
  extensions/readeck/assets/command_icon.png
  extensions/readeck/metadata/readeck-2.png
  extensions/readeck/metadata/readeck-3.png
  extensions/readeck/package-lock.json
  extensions/readeck/package.json
  extensions/readeck/src/add.tsx
  extensions/readeck/src/components/SearchDropdown.tsx
  extensions/readeck/src/interfaces/index.ts
  extensions/readeck/src/search.tsx
  extensions/readeck/src/types/index.ts
  extensions/readeck/tsconfig.json
Labels: new extension

#14128 [Google Maps Search] Travel mode fixes and improvements
  extensions/google-maps-search/CHANGELOG.md
  extensions/google-maps-search/README.md
  extensions/google-maps-search/package.json
  extensions/google-maps-search/src/travelTo.tsx
  extensions/google-maps-search/src/utils/types.ts
Labels: extension fix / improvement, extension: google-maps-search

#14130 Add tidal-controller extension
  extensions/tidal-controller/.eslintrc.json
  extensions/tidal-controller/.gitignore
  extensions/tidal-controller/.prettierrc
  extensions/tidal-controller/CHANGELOG.md
  extensions/tidal-controller/README.md
  extensions/tidal-controller/assets/extension-icon.png
  extensions/tidal-controller/metadata/tidal-controller-1.png
  extensions/tidal-controller/package-lock.json
  extensions/tidal-controller/package.json
  extensions/tidal-controller/src/next-song.ts
  extensions/tidal-controller/src/pause.ts
  extensions/tidal-controller/src/play-pause.ts
  extensions/tidal-controller/src/play.ts
  extensions/tidal-controller/src/prev-song.ts
  extensions/tidal-controller/src/shuffle.ts
  extensions/tidal-controller/src/util/fn.ts
  extensions/tidal-controller/tsconfig.json
Labels: new extension

#14133 Add forgejo extension
  extensions/forgejo/.eslintrc.json
  extensions/forgejo/.gitignore
  extensions/forgejo/.prettierrc
  extensions/forgejo/CHANGELOG.md
  extensions/forgejo/README.md
  extensions/forgejo/assets/forgejo-icon.png
  extensions/forgejo/metadata/forgejo-1.png
  extensions/forgejo/metadata/forgejo-2.png
  extensions/forgejo/metadata/forgejo-3.png
  extensions/forgejo/package-lock.json
  extensions/forgejo/package.json
  extensions/forgejo/src/common/utils.ts
  extensions/forgejo/src/components/SearchDropdown.tsx
  extensions/forgejo/src/constants/global.constant.ts
  extensions/forgejo/src/interfaces/notifications.interface.ts
  extensions/forgejo/src/interfaces/repo.search.interface.ts
  extensions/forgejo/src/notifications.tsx
  extensions/forgejo/src/repo-search.tsx
  extensions/forgejo/src/types/repo.search.type.ts
  extensions/forgejo/src/user-repo-search.tsx
  extensions/forgejo/tsconfig.json
Labels: new extension
