Repository raycast/extensions, pull requests merged in 2024-04, with the labels that each got.

#11596 Apple Notes: Big update
  extensions/apple-notes/CHANGELOG.md
  extensions/apple-notes/metadata/apple-notes-1.png
  extensions/apple-notes/metadata/apple-notes-2.png
  extensions/apple-notes/metadata/apple-notes-3.png
  extensions/apple-notes/package-lock.json
  extensions/apple-notes/package.json
  extensions/apple-notes/src/ai.ts
  extensions/apple-notes/src/api.ts
  extensions/apple-notes/src/components/NoteActions.tsx
  extensions/apple-notes/src/components/NoteDetail.tsx
  extensions/apple-notes/src/components/NoteListItem.tsx
  extensions/apple-notes/src/helpers.ts
  extensions/apple-notes/src/index.tsx
  extensions/apple-notes/src/menu-bar.tsx
  extensions/apple-notes/src/new.ts
  extensions/apple-notes/src/new.tsx
  extensions/apple-notes/src/useNotes.ts
Labels: extension fix / improvement, OP is contributor, extension: apple-notes

#11575 Ext/raycast nrm
  extensions/raycast-nrm/CHANGELOG.md
  extensions/raycast-nrm/metadata/nrm_01.png
  extensions/raycast-nrm/metadata/nrm_03.png
  extensions/raycast-nrm/package-lock.json
  extensions/raycast-nrm/package.json
  extensions/raycast-nrm/src/main.tsx
Labels: extension fix / improvement, OP is author, extension: raycast-nrm

#11531 Filemaker snippets
  extensions/filemaker-snippets/CHANGELOG.md
  extensions/filemaker-snippets/package-lock.json
  extensions/filemaker-snippets/package.json
  extensions/filemaker-snippets/src/view-snippets.tsx
Labels: extension fix / improvement, OP is author, extension: filemaker-snippets

#11525 Update dust-tt extension
  extensions/dust-tt/.gitignore
  extensions/dust-tt/CHANGELOG.md
  extensions/dust-tt/package-lock.json
  extensions/dust-tt/package.json
  extensions/dust-tt/src/answerQuestion.tsx
  extensions/dust-tt/src/askAgent.tsx
  extensions/dust-tt/src/dust_api/api.tsx
Labels: extension fix / improvement, OP is author, extension: dust-tt

#11468 Update simple-icons extension
  extensions/simple-icons/.npmrc
  extensions/simple-icons/CHANGELOG.md
  extensions/simple-icons/README.md
  extensions/simple-icons/package-lock.json
  extensions/simple-icons/package.json
  extensions/simple-icons/src/actions.tsx
  extensions/simple-icons/src/index.tsx
  extensions/simple-icons/src/types.ts
  extensions/simple-icons/src/utils.ts
  extensions/simple-icons/tsconfig.json
Labels: extension fix / improvement, OP is author, extension: simple-icons

#11499 Update pdfsearch extension
  extensions/pdfsearch/CHANGELOG.md
  extensions/pdfsearch/Package.swift
  extensions/pdfsearch/README.md
  extensions/pdfsearch/Sources/DrawImage/main.swift
  extensions/pdfsearch/Sources/GetOutline/main.swift
  extensions/pdfsearch/Sources/SearchDocument/Extractor.swift
  extensions/pdfsearch/Sources/SearchDocument/Tokenizer.swift
  extensions/pdfsearch/Sources/SearchDocument/main.swift
  extensions/pdfsearch/assets/DrawImage
  extensions/pdfsearch/assets/GetOutline
  extensions/pdfsearch/assets/SearchDocument
  extensions/pdfsearch/metadata/pdfsearch-4.png
  extensions/pdfsearch/package.json
  extensions/pdfsearch/src/open.tsx
  extensions/pdfsearch/src/utils.ts
  extensions/pdfsearch/src/views/search.tsx
Labels: extension fix / improvement, OP is author, extension: pdfsearch

#11608 Changed Authy extension title
  extensions/authy/CHANGELOG.md
  extensions/authy/package.json
Labels: extension fix / improvement, extension: authy

#11546 feat: add support for config sesh source
  extensions/sesh/CHANGELOG.md
  extensions/sesh/metadata/sesh-3.png
  extensions/sesh/src/cmd-connect.tsx
  extensions/sesh/src/sesh.ts
Labels: extension fix / improvement, OP is author, extension: sesh

#11185 Update fantasy-premier-league-rankings extension
  extensions/fantasy-premier-league-rankings/.eslintrc.json
  extensions/fantasy-premier-league-rankings/.gitignore
  extensions/fantasy-premier-league-rankings/CHANGELOG.md
  extensions/fantasy-premier-league-rankings/package-lock.json
  extensions/fantasy-premier-league-rankings/package.json
  extensions/fantasy-premier-league-rankings/src/api/index.ts
  extensions/fantasy-premier-league-rankings/src/hooks/useBootstrapStatic.ts
  extensions/fantasy-premier-league-rankings/src/hooks/usePlayers.ts
  extensions/fantasy-premier-league-rankings/src/hooks/useUser.ts
  extensions/fantasy-premier-league-rankings/src/hooks/useUserTeamByGameweek.ts
  extensions/fantasy-premier-league-rankings/src/rankings.tsx
Labels: extension fix / improvement, extension: fantasy-premier-league-rankings

#10995 Update power-management extension
  extensions/power-management/CHANGELOG.md
  extensions/power-management/README.md
  extensions/power-management/package.json
  extensions/power-management/src/utils/powerManagement.tsx
  extensions/power-management/src/utils/sudoSupport.ts
Labels: extension fix / improvement, extension: power-management

#11511 [Bitwarden] Fix vault timeout bypass and improve lock/logout safety
  extensions/bitwarden/.eslintrc.json
  extensions/bitwarden/CHANGELOG.md
  extensions/bitwarden/package-lock.json
  extensions/bitwarden/package.json
  extensions/bitwarden/src/api/bitwarden.ts
  extensions/bitwarden/src/components/UnlockForm.tsx
  extensions/bitwarden/src/components/searchVault/actions/shared/VaultManagementActions.tsx
  extensions/bitwarden/src/constants/general.ts
  extensions/bitwarden/src/context/session/reducer.ts
  extensions/bitwarden/src/context/session/session.tsx
  extensions/bitwarden/src/context/session/utils.ts
  extensions/bitwarden/src/lock-vault.tsx
  extensions/bitwarden/src/logout-vault.tsx
  extensions/bitwarden/src/types/session.ts
  extensions/bitwarden/src/utils/cache.ts
  extensions/bitwarden/src/utils/localstorage.ts
Labels: extension fix / improvement, OP is author, extension: bitwarden

#11532 Add Chinese variants to Wikipedia extension
  extensions/wikipedia/CHANGELOG.md
  extensions/wikipedia/src/components/wikipedia-page.tsx
  extensions/wikipedia/src/utils/api.ts
  extensions/wikipedia/src/utils/language.ts
Labels: extension fix / improvement, OP is author, extension: wikipedia

#11567 [TRELLO] Update scope in auth URL
  extensions/trello/CHANGELOG.md
  extensions/trello/package-lock.json
  extensions/trello/package.json
Labels: extension fix / improvement, OP is author, extension: trello

#11477 Update proxmox extension
  extensions/proxmox/CHANGELOG.md
  extensions/proxmox/src/api.ts
  extensions/proxmox/src/components/VmDetail.tsx
  extensions/proxmox/src/index.tsx
  extensions/proxmox/src/utils.ts
Labels: extension fix / improvement, OP is author, extension: proxmox

#11480 feat(crypto-price): configure coins with text
  extensions/crypto-price/CHANGELOG.md
  extensions/crypto-price/README.md
  extensions/crypto-price/jest.config.js
  extensions/crypto-price/metadata/screenshot-2.png
  extensions/crypto-price/package-lock.json
  extensions/crypto-price/package.json
  extensions/crypto-price/src/constants.ts
  extensions/crypto-price/src/menu-bar.tsx
  extensions/crypto-price/src/sources/useBinance.ts
  extensions/crypto-price/src/sources/useCryptoCompare.ts
  extensions/crypto-price/src/types.ts
  extensions/crypto-price/src/useMenuBar.ts
  extensions/crypto-price/src/utils/__tests__/processCoinsText.test.ts
  extensions/crypto-price/src/utils/index.ts
  extensions/crypto-price/src/utils/processCoinsText.ts
Labels: extension fix / improvement, OP is author, extension: crypto-price

#11474 Fix the "view more" action in the menu bar
  extensions/feedbin/CHANGELOG.md
  extensions/feedbin/src/unread-menu-bar.tsx
Labels: extension fix / improvement, OP is author, extension: feedbin

#11620 Update drafts extension
  extensions/drafts/CHANGELOG.md
  extensions/drafts/README.md
  extensions/drafts/package-lock.json
  extensions/drafts/package.json
  extensions/drafts/src/quicklink-open-draft-creator.tsx
  extensions/drafts/tsconfig.json
Labels: extension fix / improvement, OP is author, extension: drafts

#11604 Update github extension
  extensions/github/CHANGELOG.md
  extensions/github/assets/issue-open.svg
  extensions/github/assets/pull-request-closed.svg
  extensions/github/assets/pull-request-merged.svg
  extensions/github/assets/pull-request-open.svg
  extensions/github/src/components/PullRequestActions.tsx
  extensions/github/src/components/RepositoryActions.tsx
  extensions/github/src/helpers/issue.ts
  extensions/github/src/helpers/notifications.ts
  extensions/github/src/helpers/pull-request.ts
  extensions/github/src/my-issues-menu.tsx
  extensions/github/src/my-pull-requests-menu.tsx
Labels: extension fix / improvement, OP is contributor, extension: github

#11621 Update zotero extension
  extensions/zotero/CHANGELOG.md
  extensions/zotero/package.json
  extensions/zotero/src/common/View.tsx
Labels: extension fix / improvement, extension: zotero

#11539 Update swift-package-index extension
  extensions/swift-package-index/CHANGELOG.md
  extensions/swift-package-index/package.json
  extensions/swift-package-index/src/index.tsx
  extensions/swift-package-index/src/search.tsx
Labels: extension fix / improvement, extension: swift-package-index

#11467 [Dashlane-Vault] Add compatibility for new dcli version
  extensions/dashlane-vault/CHANGELOG.md
  extensions/dashlane-vault/package-lock.json
  extensions/dashlane-vault/package.json
  extensions/dashlane-vault/src/components/ListItemPassword.tsx
  extensions/dashlane-vault/src/components/actions/password/TotpActions.tsx
  extensions/dashlane-vault/src/helper/exec.ts
  extensions/dashlane-vault/src/lib/dcli.ts
Labels: extension fix / improvement, OP is author, extension: dashlane-vault

#11485 [Sonos] handle error on toggleplayback
  extensions/sonos/CHANGELOG.md
  extensions/sonos/src/play-pause.tsx
Labels: extension fix / improvement, OP is author, extension: sonos

#11639 Microsoft Teams Calling: Fix inverted notifications
  extensions/microsoft-teams-calling/CHANGELOG.md
  extensions/microsoft-teams-calling/package.json
  extensions/microsoft-teams-calling/src/teams/meetingClientV2.ts
Labels: extension fix / improvement, OP is author, extension: microsoft-teams-calling

#11659 Fork Repositories: Workaround for `Open in Fork` only opening Fork, but not the repo, when Fork isn't running.
  extensions/fork-repositories/CHANGELOG.md
  extensions/fork-repositories/src/fork-repositories.tsx
Labels: extension fix / improvement, OP is author, extension: fork-repositories

#11658 Filemaker snippets (tiny update)
  extensions/filemaker-snippets/CHANGELOG.md
  extensions/filemaker-snippets/src/displayFile.tsx
Labels: extension fix / improvement, OP is author, extension: filemaker-snippets

#11691 Update textlint-rule-aws-servic-name version
  extensions/textlint-rule-aws-service-name/CHANGELOG.md
  extensions/textlint-rule-aws-service-name/package-lock.json
  extensions/textlint-rule-aws-service-name/package.json
Labels: extension fix / improvement, OP is author, extension: textlint-rule-aws-service-name

#11690 [Fix Link Embeds] Expand URL Matching to Include 'x.com' Domain
  extensions/fix-link-embeds/CHANGELOG.md
  extensions/fix-link-embeds/src/assets/regexList.ts
Labels: extension fix / improvement, extension: fix-link-embeds

#11685 Update single-focus extension
  extensions/single-focus/CHANGELOG.md
  extensions/single-focus/QuitAllButFocused/Sources/main.swift
Labels: extension fix / improvement, OP is author, extension: single-focus

#11668 Update Purelymail extension
  extensions/purelymail/CHANGELOG.md
  extensions/purelymail/README.md
  extensions/purelymail/metadata/purelymail-1-list-domains.png
  extensions/purelymail/metadata/purelymail-3-create-routing-rule.png
  extensions/purelymail/metadata/purelymail-4-add-domain.png
  extensions/purelymail/metadata/purelymail-4-list-users.png
  extensions/purelymail/metadata/purelymail-5-modify-user.png
  extensions/purelymail/metadata/purelymail-6-check-account-credit.png
  extensions/purelymail/metadata/purelymail-6-delete-user.png
  extensions/purelymail/package-lock.json
  extensions/purelymail/package.json
  extensions/purelymail/src/add-domain.tsx
  extensions/purelymail/src/check-account-credit.tsx
  extensions/purelymail/src/components/ErrorComponent.tsx
  extensions/purelymail/src/create-routing-rule.tsx
  extensions/purelymail/src/create-user.tsx
  extensions/purelymail/src/delete-user.tsx
  extensions/purelymail/src/get-ownership-code.tsx
  extensions/purelymail/src/list-domains.tsx
  extensions/purelymail/src/list-routing-rules.tsx
  extensions/purelymail/src/list-users.tsx
  extensions/purelymail/src/update-domain-settings.tsx
  extensions/purelymail/src/utils/api.ts
  extensions/purelymail/src/utils/constants.ts
  extensions/purelymail/src/utils/types.ts
Labels: extension fix / improvement, OP is author, extension: purelymail

#11642 Apple Reminders: Migrate from DispatchGroup to Structured Concurrency
  extensions/apple-notes/CHANGELOG.md
  extensions/apple-reminders/package.json
  extensions/apple-reminders/swift/AppleReminders/Package.resolved
  extensions/apple-reminders/swift/AppleReminders/Sources/EventKit+Additions.swift
  extensions/apple-reminders/swift/AppleReminders/Sources/Reminders.swift
Labels: extension fix / improvement, extension: apple-reminders

#10909 Add momentum extension
  extensions/momentum/.eslintrc.json
  extensions/momentum/.gitignore
  extensions/momentum/.prettierrc
  extensions/momentum/CHANGELOG.md
  extensions/momentum/README.md
  extensions/momentum/assets/icons/main.png
  extensions/momentum/assets/icons/node.png
  extensions/momentum/assets/icons/react.png
  extensions/momentum/assets/icons/vite.png
  extensions/momentum/assets/icons/vue.png
  extensions/momentum/assets/templates/node/.eslintrc.js.template
  extensions/momentum/package-lock.json
  extensions/momentum/package.json
  extensions/momentum/scripts/generateTypes.js
  extensions/momentum/src/consts.ts
  extensions/momentum/src/project-empty.ts
  extensions/momentum/src/project-node.ts
  extensions/momentum/src/project-react.ts
  extensions/momentum/src/project-vite.ts
  extensions/momentum/src/project-vue.ts
  extensions/momentum/src/typing/autoGenerated.ts
  extensions/momentum/src/typing/initProjectArgs.ts
  extensions/momentum/src/typing/misc.ts
  extensions/momentum/src/typing/packageMangers.ts
  extensions/momentum/src/typing/project.ts
  extensions/momentum/src/utils/doOnce.ts
  extensions/momentum/src/utils/errors.ts
  extensions/momentum/src/utils/generateTemplate.ts
  extensions/momentum/src/utils/isDev.ts
  extensions/momentum/src/utils/makeDirIfNotExists.ts
  extensions/momentum/src/utils/node/initEslint.ts
  extensions/momentum/src/utils/packageManagers.ts
  extensions/momentum/src/utils/projectCommand.ts
  extensions/momentum/src/utils/shell.ts
  extensions/momentum/src/utils/toasts.ts
  extensions/momentum/src/utils/validation.ts
  extensions/momentum/tsconfig.json
Labels: new extension

#11524 Update HideMail extension
  extensions/hide-mail/CHANGELOG.md
  extensions/hide-mail/package-lock.json
  extensions/hide-mail/package.json
  extensions/hide-mail/src/config.ts
  extensions/hide-mail/src/create.tsx
  extensions/hide-mail/src/index.tsx
  extensions/hide-mail/src/utils/create.ts
Labels: extension fix / improvement, OP is author, extension: hide-mail

#11529 [Laravel Docs] Add documentation for 11.x
  extensions/laravel-docs/CHANGELOG.md
  extensions/laravel-docs/assets/documentation/11.x.json
  extensions/laravel-docs/assets/documentation/master.json
Labels: extension fix / improvement, extension: laravel-docs

#11669 Update cleanshotx extension
  extensions/cleanshotx/CHANGELOG.md
  extensions/cleanshotx/package.json
  extensions/cleanshotx/src/add-quick-access-overlay.tsx
  extensions/cleanshotx/src/annotate.tsx
  extensions/cleanshotx/src/pin.tsx
  extensions/cleanshotx/src/utils.ts
Labels: extension fix / improvement, extension: cleanshotx

#11441 Update chatgpt extension
  extensions/chatgpt/CHANGELOG.md
  extensions/chatgpt/src/ask.tsx
Labels: extension fix / improvement, OP is contributor, extension: chatgpt

#11469 Add yourls extension
  extensions/yourls/.eslintrc.json
  extensions/yourls/.gitignore
  extensions/yourls/.prettierrc
  extensions/yourls/CHANGELOG.md
  extensions/yourls/README.md
  extensions/yourls/assets/command-icon.png
  extensions/yourls/assets/icon.png
  extensions/yourls/metadata/yourls-1.png
  extensions/yourls/package-lock.json
  extensions/yourls/package.json
  extensions/yourls/src/api/index.ts
  extensions/yourls/src/helper/index.ts
  extensions/yourls/src/index.tsx
  extensions/yourls/src/lib/yourls.ts
  extensions/yourls/src/shorten-link.tsx
  extensions/yourls/src/types/index.ts
  extensions/yourls/tsconfig.json
Labels: new extension

#11605 [1password]: Display cached Items while refreshing
  extensions/1password/CHANGELOG.md
  extensions/1password/assets/1password-settings.png
  extensions/1password/package.json
  extensions/1password/src/item-list.tsx
  extensions/1password/src/renew-auth.ts
  extensions/1password/src/reset-cache.ts
  extensions/1password/src/v8/components/AccountForm.tsx
  extensions/1password/src/v8/components/ActionCopyToClipboard.tsx
  extensions/1password/src/v8/components/Categories.tsx
  extensions/1password/src/v8/components/ItemActionPanel.tsx
  extensions/1password/src/v8/components/Items.tsx
  extensions/1password/src/v8/utils.ts
Labels: extension fix / improvement, extension: 1password

#11622 Add multi extension
  extensions/multi/.eslintrc.json
  extensions/multi/.gitignore
  extensions/multi/.prettierrc
  extensions/multi/CHANGELOG.md
  extensions/multi/README.md
  extensions/multi/assets/multi-icon.png
  extensions/multi/metadata/1-start-new-session.png
  extensions/multi/metadata/2-teammates.png
  extensions/multi/metadata/3-rooms.png
  extensions/multi/package-lock.json
  extensions/multi/package.json
  extensions/multi/src/copySessionLink.ts
  extensions/multi/src/inviteUser.tsx
  extensions/multi/src/joinCallFromLink.ts
  extensions/multi/src/joinRoom.tsx
  extensions/multi/src/leaveSession.ts
  extensions/multi/src/lib/getPreferences.ts
  extensions/multi/src/lib/multi.ts
  extensions/multi/src/lib/runNoViewMultiCommand.ts
  extensions/multi/src/lib/showMultiScriptErrorToastAndLogError.ts
  extensions/multi/src/startNewSession.ts
  extensions/multi/src/toggleCamera.ts
  extensions/multi/src/toggleMic.ts
  extensions/multi/src/toggleSharingContent.ts
  extensions/multi/tsconfig.json
Labels: new extension

#11703 Transfer Humaans
  .github/public_raycast_extensions.txt
  extensions/humaans/CHANGELOG.md
  extensions/humaans/package.json
Labels: extension fix / improvement, extension: humaans

#11701 Update multi extension
  extensions/multi/CHANGELOG.md
  extensions/multi/README.md
  extensions/multi/package.json
Labels: extension fix / improvement, OP is author, OP is contributor, extension: multi

#11704 fix(tailscale): increase buffer size for large tailnets and make configurable
  extensions/tailscale/CHANGELOG.md
  extensions/tailscale/package.json
  extensions/tailscale/src/shared.tsx
Labels: extension fix / improvement, extension: tailscale

#11682 [Keyboard Brightness] Add separate increase/decrease brightness commands
  extensions/keyboard-brightness/CHANGELOG.md
  extensions/keyboard-brightness/package.json
  extensions/keyboard-brightness/src/decrease-keyboard-brightness.tsx
  extensions/keyboard-brightness/src/increase-keyboard-brightness.tsx
  extensions/keyboard-brightness/src/sync-keyboard-brightness.tsx
Labels: extension fix / improvement, extension: keyboard-brightness

#11700 [ssh-manager] Fixed the issue about `User` options
  extensions/ssh-manager/CHANGELOG.md
  extensions/ssh-manager/src/storage.api.ts
Labels: extension fix / improvement, OP is contributor, extension: ssh-manager

#11661 Update proxmox extension
  extensions/proxmox/CHANGELOG.md
  extensions/proxmox/README.md
  extensions/proxmox/metadata/proxmox-1.png
  extensions/proxmox/metadata/proxmox-2.png
  extensions/proxmox/metadata/proxmox-3.png
  extensions/proxmox/src/api.ts
  extensions/proxmox/src/components/VmDetail.tsx
  extensions/proxmox/src/index.tsx
Labels: extension fix / improvement, OP is author, extension: proxmox

#11650 Update imessage-2fa extension
  extensions/imessage-2fa/CHANGELOG.md
  extensions/imessage-2fa/src/utils.ts
Labels: extension fix / improvement, OP is contributor, extension: imessage-2fa

#11712 Update simple-icons extension
  extensions/simple-icons/CHANGELOG.md
  extensions/simple-icons/metadata/simple-icons-2.png
  extensions/simple-icons/package-lock.json
  extensions/simple-icons/package.json
  extensions/simple-icons/src/actions.tsx
  extensions/simple-icons/src/index.tsx
Labels: extension fix / improvement, OP is author, extension: simple-icons

#11279 Add raycast-ia-writer extension
  extensions/raycast-ia-writer/.eslintrc.json
  extensions/raycast-ia-writer/.gitignore
  extensions/raycast-ia-writer/.prettierrc
  extensions/raycast-ia-writer/CHANGELOG.md
  extensions/raycast-ia-writer/README.md
  extensions/raycast-ia-writer/assets/logo.png
  extensions/raycast-ia-writer/metadata/quick-note.png
  extensions/raycast-ia-writer/metadata/quick-search.png
  extensions/raycast-ia-writer/package-lock.json
  extensions/raycast-ia-writer/package.json
  extensions/raycast-ia-writer/src/api.ts
  extensions/raycast-ia-writer/src/preference.ts
  extensions/raycast-ia-writer/src/quick-note.tsx
  extensions/raycast-ia-writer/src/quick-search.tsx
  extensions/raycast-ia-writer/src/utils.ts
  extensions/raycast-ia-writer/tsconfig.json
Labels: new extension

#11439 Add find-opengl-enum extension
  extensions/find-opengl-enum/.eslintrc.json
  extensions/find-opengl-enum/.gitignore
  extensions/find-opengl-enum/.prettierrc
  extensions/find-opengl-enum/CHANGELOG.md
  extensions/find-opengl-enum/README.md
  extensions/find-opengl-enum/assets/command-icon.png
  extensions/find-opengl-enum/assets/gles/gles-20.json
  extensions/find-opengl-enum/assets/gles/gles-30.json
  extensions/find-opengl-enum/assets/gles/gles-31.json
  extensions/find-opengl-enum/assets/gles/gles-32.json
  extensions/find-opengl-enum/assets/gles/ios-ext-gles2.json
  extensions/find-opengl-enum/assets/gles/ios-ext-gles3.json
  extensions/find-opengl-enum/docs/search.png
  extensions/find-opengl-enum/docs/search2.png
  extensions/find-opengl-enum/docs/view.png
  extensions/find-opengl-enum/metadata/find-opengl-enum-1.png
  extensions/find-opengl-enum/metadata/find-opengl-enum-2.png
  extensions/find-opengl-enum/metadata/find-opengl-enum-3.png
  extensions/find-opengl-enum/package-lock.json
  extensions/find-opengl-enum/package.json
  extensions/find-opengl-enum/src/index.tsx
  extensions/find-opengl-enum/tsconfig.json
Labels: new extension

#11483 Add unleash-feature-toggle extension
  extensions/unleash-feature-toggle/.eslintrc.json
  extensions/unleash-feature-toggle/.gitignore
  extensions/unleash-feature-toggle/.prettierrc
  extensions/unleash-feature-toggle/CHANGELOG.md
  extensions/unleash-feature-toggle/README.md
  extensions/unleash-feature-toggle/assets/icon.png
  extensions/unleash-feature-toggle/metadata/unleash-feature-flag-1.png
  extensions/unleash-feature-toggle/metadata/unleash-feature-flag-2.png
  extensions/unleash-feature-toggle/metadata/unleash-feature-flag-3.png
  extensions/unleash-feature-toggle/metadata/unleash-feature-flag-4.png
  extensions/unleash-feature-toggle/metadata/unleash-feature-flag-5.png
  extensions/unleash-feature-toggle/package-lock.json
  extensions/unleash-feature-toggle/package.json
  extensions/unleash-feature-toggle/src/api/index.ts
  extensions/unleash-feature-toggle/src/components/Error.tsx
  extensions/unleash-feature-toggle/src/configs/api.ts
  extensions/unleash-feature-toggle/src/helpers/index.ts
  extensions/unleash-feature-toggle/src/hooks/useGetAllFeatureTypes.ts
  extensions/unleash-feature-toggle/src/hooks/useGetAllFeatures.ts
  extensions/unleash-feature-toggle/src/hooks/useGetAllProjects.ts
  extensions/unleash-feature-toggle/src/projects.tsx
  extensions/unleash-feature-toggle/src/types/index.ts
  extensions/unleash-feature-toggle/src/utils/dayjs.ts
  extensions/unleash-feature-toggle/src/views/CreateFeature.tsx
  extensions/unleash-feature-toggle/src/views/Features.tsx
  extensions/unleash-feature-toggle/tsconfig.json
Labels: new extension

#11490 Add safe-secret extension
  extensions/safe-secret/.eslintrc.json
  extensions/safe-secret/.gitignore
  extensions/safe-secret/.prettierrc
  extensions/safe-secret/CHANGELOG.md
  extensions/safe-secret/README.md
  extensions/safe-secret/assets/command-icon.png
  extensions/safe-secret/metadata/safe-secret-1.png
  extensions/safe-secret/package-lock.json
  extensions/safe-secret/package.json
  extensions/safe-secret/src/share-a-secret.tsx
  extensions/safe-secret/tsconfig.json
Labels: new extension

#11518 Update iconify extension
  extensions/iconify/CHANGELOG.md
  extensions/iconify/package.json
  extensions/iconify/src/search-icons.tsx
  extensions/iconify/src/view-icons.tsx
Labels: extension fix / improvement, extension: iconify

#11519 Feat: Public Bug Bounty and Vulnerability Disclosure Programs extension
  extensions/public-bug-bounty-and-vulnerability-disclosure-programs/.eslintrc.json
  extensions/public-bug-bounty-and-vulnerability-disclosure-programs/.gitignore
  extensions/public-bug-bounty-and-vulnerability-disclosure-programs/.prettierrc
  extensions/public-bug-bounty-and-vulnerability-disclosure-programs/CHANGELOG.md
  extensions/public-bug-bounty-and-vulnerability-disclosure-programs/README.md
  extensions/public-bug-bounty-and-vulnerability-disclosure-programs/assets/command-icon.png
  extensions/public-bug-bounty-and-vulnerability-disclosure-programs/assets/extension_icon.png
  extensions/public-bug-bounty-and-vulnerability-disclosure-programs/assets/list-icon.png
  extensions/public-bug-bounty-and-vulnerability-disclosure-programs/metadata/public-bug-bounty-and-vulnerability-disclosure-programs-1.png
  extensions/public-bug-bounty-and-vulnerability-disclosure-programs/package-lock.json
  extensions/public-bug-bounty-and-vulnerability-disclosure-programs/package.json
  extensions/public-bug-bounty-and-vulnerability-disclosure-programs/src/index.tsx
  extensions/public-bug-bounty-and-vulnerability-disclosure-programs/tsconfig.json
Labels: new extension

#11722 Update heroicons extension
  extensions/heroicons/CHANGELOG.md
  extensions/heroicons/package-lock.json
  extensions/heroicons/package.json
  extensions/heroicons/src/heroicons.ts
  extensions/heroicons/src/icons.tsx
Labels: extension fix / improvement, extension: heroicons

#11578 hearthstone decks extension
  extensions/hsdecks/.eslintrc.json
  extensions/hsdecks/.gitignore
  extensions/hsdecks/.prettierrc
  extensions/hsdecks/CHANGELOG.md
  extensions/hsdecks/README.md
  extensions/hsdecks/assets/darkknight.png
  extensions/hsdecks/assets/demonhunter.png
  extensions/hsdecks/assets/druid.png
  extensions/hsdecks/assets/hearthstone-icon.png
  extensions/hsdecks/assets/hunter.png
  extensions/hsdecks/assets/mage.png
  extensions/hsdecks/assets/paladin.png
  extensions/hsdecks/assets/priest.png
  extensions/hsdecks/assets/rogue.png
  extensions/hsdecks/assets/shaman.png
  extensions/hsdecks/assets/warlock.png
  extensions/hsdecks/assets/warrior.png
  extensions/hsdecks/metadata/hsdecks-1.png
  extensions/hsdecks/metadata/hsdecks-2.png
  extensions/hsdecks/metadata/hsdecks-3.png
  extensions/hsdecks/package-lock.json
  extensions/hsdecks/package.json
  extensions/hsdecks/src/DeckList.tsx
  extensions/hsdecks/src/d0nkey.ts
  extensions/hsdecks/src/domain.ts
  extensions/hsdecks/src/search_best_decks.tsx
  extensions/hsdecks/src/search_class_decks.tsx
  extensions/hsdecks/src/utils.ts
  extensions/hsdecks/tsconfig.json
Labels: new extension

#11135 [Toggl Track] Fix time entries revalidation
  extensions/toggl-track/CHANGELOG.md
  extensions/toggl-track/src/hooks/useTimeEntries.ts
  extensions/toggl-track/src/index.tsx
Labels: extension fix / improvement, OP is contributor, status: stalled, extension: toggl-track

#11580 Add spell extension
  extensions/spell/.eslintrc.json
  extensions/spell/.gitignore
  extensions/spell/.prettierrc
  extensions/spell/CHANGELOG.md
  extensions/spell/LICENSE
  extensions/spell/README.md
  extensions/spell/assets/extension_icon.png
  extensions/spell/metadata/spell-1.png
  extensions/spell/package-lock.json
  extensions/spell/package.json
  extensions/spell/src/index.tsx
  extensions/spell/tsconfig.json
Labels: new extension

#11405 Add fvm extension
  extensions/fvm/.eslintrc.json
  extensions/fvm/.gitignore
  extensions/fvm/.prettierrc
  extensions/fvm/CHANGELOG.md
  extensions/fvm/LICENSE
  extensions/fvm/README.md
  extensions/fvm/assets/flutter_logo.png
  extensions/fvm/metadata/fvm-1.png
  extensions/fvm/metadata/fvm-2.png
  extensions/fvm/metadata/fvm-3.png
  extensions/fvm/metadata/fvm-4.png
  extensions/fvm/metadata/fvm-5.png
  extensions/fvm/package-lock.json
  extensions/fvm/package.json
  extensions/fvm/src/components/ActionPanel.tsx
  extensions/fvm/src/components/CachedVersionItem.tsx
  extensions/fvm/src/components/ConsoleView.tsx
  extensions/fvm/src/components/VersionItem.tsx
  extensions/fvm/src/install-command.tsx
  extensions/fvm/src/lib/controller.tsx
  extensions/fvm/src/lib/ensure-cli.ts
  extensions/fvm/src/lib/models.ts
  extensions/fvm/src/lib/progress-icon.ts
  extensions/fvm/src/lib/runner.ts
  extensions/fvm/src/lib/utils.ts
  extensions/fvm/src/list-command.tsx
  extensions/fvm/src/open-cache-dir-command.tsx
  extensions/fvm/src/releases-command.tsx
  extensions/fvm/tsconfig.json
Labels: new extension

#11724 fix(tailscale): increase max buffers for execSync
  extensions/tailscale/CHANGELOG.md
  extensions/tailscale/src/shared.tsx
Labels: extension fix / improvement, extension: tailscale

#11564 Add Jokes extension
  extensions/jokes/.eslintrc.json
  extensions/jokes/.gitignore
  extensions/jokes/.prettierrc
  extensions/jokes/CHANGELOG.md
  extensions/jokes/README.md
  extensions/jokes/assets/jokes.png
  extensions/jokes/metadata/jokes-1-singular-joke.png
  extensions/jokes/metadata/jokes-2-multiple-jokes.png
  extensions/jokes/metadata/jokes-3-arguments-in-command.png
  extensions/jokes/package-lock.json
  extensions/jokes/package.json
  extensions/jokes/src/constants.ts
  extensions/jokes/src/get-jokes.tsx
  extensions/jokes/src/types.ts
  extensions/jokes/tsconfig.json
Labels: new extension

#11725 [ssh-manager] Add Alacritty as Terminal Option
  extensions/ssh-manager/CHANGELOG.md
  extensions/ssh-manager/package.json
  extensions/ssh-manager/src/show.tsx
Labels: extension fix / improvement, extension: ssh-manager

#11478 Add quick-notes extension
  extensions/quick-notes/.eslintrc.json
  extensions/quick-notes/.gitignore
  extensions/quick-notes/.prettierrc
  extensions/quick-notes/CHANGELOG.md
  extensions/quick-notes/README.md
  extensions/quick-notes/assets/dot.png
  extensions/quick-notes/assets/icon.png
  extensions/quick-notes/metadata/quick-notes-1.png
  extensions/quick-notes/metadata/quick-notes-2.png
  extensions/quick-notes/metadata/quick-notes-3.png
  extensions/quick-notes/metadata/quick-notes-4.png
  extensions/quick-notes/metadata/quick-notes-5.png
  extensions/quick-notes/metadata/quick-notes-6.png
  extensions/quick-notes/package-lock.json
  extensions/quick-notes/package.json
  extensions/quick-notes/src/components/actions.tsx
  extensions/quick-notes/src/components/createEditNoteForm.tsx
  extensions/quick-notes/src/components/createTag.tsx
  extensions/quick-notes/src/components/deleteNoteAction.tsx
  extensions/quick-notes/src/components/deleteTags.tsx
  extensions/quick-notes/src/components/exportForm.tsx
  extensions/quick-notes/src/components/notesList.tsx
  extensions/quick-notes/src/export.tsx
  extensions/quick-notes/src/index.tsx
  extensions/quick-notes/src/services/atoms.ts
  extensions/quick-notes/src/services/config.ts
  extensions/quick-notes/src/utils/utils.ts
  extensions/quick-notes/tsconfig.json
Labels: new extension

#11735 [Jokes] Update extension - Only Safe Jokes
  extensions/jokes/CHANGELOG.md
  extensions/jokes/README.md
  extensions/jokes/metadata/jokes-1-singular-joke.png
  extensions/jokes/metadata/jokes-2-multiple-jokes.png
  extensions/jokes/metadata/jokes-3-arguments-in-command.png
  extensions/jokes/package.json
  extensions/jokes/src/constants.ts
  extensions/jokes/src/get-jokes.tsx
Labels: extension fix / improvement, OP is author, extension: jokes

#11473 Add app-keeper-manager extension
  extensions/app-keeper-manager/.eslintrc.json
  extensions/app-keeper-manager/.gitignore
  extensions/app-keeper-manager/.prettierrc
  extensions/app-keeper-manager/CHANGELOG.md
  extensions/app-keeper-manager/README.md
  extensions/app-keeper-manager/assets/icon.png
  extensions/app-keeper-manager/metadata/321195952-df094781-541d-4a5e-a930-83f6a44f1742.png
  extensions/app-keeper-manager/package-lock.json
  extensions/app-keeper-manager/package.json
  extensions/app-keeper-manager/src/index.tsx
  extensions/app-keeper-manager/tsconfig.json
Labels: new extension

#11496 Add solana-nodes extension
  extensions/nodes/.eslintrc.json
  extensions/nodes/.gitignore
  extensions/nodes/.prettierrc
  extensions/nodes/CHANGELOG.md
  extensions/nodes/README.md
  extensions/nodes/assets/extension-logo.png
  extensions/nodes/metadata/nodes-1.png
  extensions/nodes/metadata/nodes-2.png
  extensions/nodes/metadata/nodes-3.png
  extensions/nodes/package-lock.json
  extensions/nodes/package.json
  extensions/nodes/src/changeValidator.tsx
  extensions/nodes/src/menuBarStats.tsx
  extensions/nodes/src/types.ts
  extensions/nodes/tsconfig.json
Labels: new extension

#11584 Add tarot extension
  extensions/tarot/.eslintrc.json
  extensions/tarot/.gitignore
  extensions/tarot/.prettierrc
  extensions/tarot/.vscode/settings.json
  extensions/tarot/CHANGELOG.md
  extensions/tarot/README.md
  extensions/tarot/assets/command-icon.png
  extensions/tarot/metadata/tarot-1.png
  extensions/tarot/package-lock.json
  extensions/tarot/package.json
  extensions/tarot/src/draw-a-card.tsx
  extensions/tarot/src/hooks/hook.ts
  extensions/tarot/src/types/types.ts
  extensions/tarot/src/utils/api.ts
  extensions/tarot/tsconfig.json
Labels: new extension

#11737 Apple Notes: Find related notes
  extensions/apple-notes/.eslintrc.json
  extensions/apple-notes/CHANGELOG.md
  extensions/apple-notes/package-lock.json
  extensions/apple-notes/package.json
  extensions/apple-notes/src/ai.ts
  extensions/apple-notes/src/api.ts
  extensions/apple-notes/src/components/NoteActions.tsx
  extensions/apple-notes/src/components/NoteDetail.tsx
  extensions/apple-notes/src/components/NoteListItem.tsx
  extensions/apple-notes/src/index.tsx
  extensions/apple-notes/src/menu-bar.tsx
  extensions/apple-notes/src/new.ts
  extensions/apple-notes/src/useNotes.ts
Labels: extension fix / improvement, OP is contributor, extension: apple-notes

#11743 Update svgl extension
  extensions/svgl/CHANGELOG.md
  extensions/svgl/assets/react-jsx.svg
  extensions/svgl/assets/react-tsx.svg
  extensions/svgl/src/actions/copy-react-component-actions.tsx
  extensions/svgl/src/actions/copy-svg-actions.tsx
  extensions/svgl/src/actions/copy-wordmark-svg-actions.tsx
  extensions/svgl/src/actions/svg-info-actions.tsx
  extensions/svgl/src/svg-action.tsx
  extensions/svgl/src/util.ts
Labels: extension fix / improvement, OP is author, extension: svgl

#11593 Add vade-mecum extension
  extensions/vade-mecum/.eslintrc.json
  extensions/vade-mecum/.gitignore
  extensions/vade-mecum/.prettierrc
  extensions/vade-mecum/.vscode/settings.json
  extensions/vade-mecum/CHANGELOG.md
  extensions/vade-mecum/README.md
  extensions/vade-mecum/assets/extension-icon.png
  extensions/vade-mecum/metadata/vade-mecum-1.png
  extensions/vade-mecum/metadata/vade-mecum-2.png
  extensions/vade-mecum/package-lock.json
  extensions/vade-mecum/package.json
  extensions/vade-mecum/src/components/ArticleListDetail.tsx
  extensions/vade-mecum/src/components/LawListItem.tsx
  extensions/vade-mecum/src/constants.ts
  extensions/vade-mecum/src/index.tsx
  extensions/vade-mecum/src/types.ts
  extensions/vade-mecum/src/utils.ts
  extensions/vade-mecum/tsconfig.json
Labels: new extension

#11589 Add Storyblok extension
  extensions/storyblok/.eslintrc.json
  extensions/storyblok/.gitignore
  extensions/storyblok/.prettierrc
  extensions/storyblok/CHANGELOG.md
  extensions/storyblok/README.md
  extensions/storyblok/assets/command-icon.png
  extensions/storyblok/metadata/storyblok-1.png
  extensions/storyblok/metadata/storyblok-2.png
  extensions/storyblok/metadata/storyblok-3.png
  extensions/storyblok/metadata/storyblok-4.png
  extensions/storyblok/metadata/storyblok-5.png
  extensions/storyblok/metadata/storyblok-6.png
  extensions/storyblok/metadata/storyblok-7.png
  extensions/storyblok/package-lock.json
  extensions/storyblok/package.json
  extensions/storyblok/src/activities.tsx
  extensions/storyblok/src/assetList.tsx
  extensions/storyblok/src/collaboratorsList.tsx
  extensions/storyblok/src/index.tsx
  extensions/storyblok/src/spaceDetail.tsx
  extensions/storyblok/src/storiesList.tsx
  extensions/storyblok/src/storyDetail.tsx
  extensions/storyblok/src/utils/helpers.ts
  extensions/storyblok/src/utils/storyblokData.ts
  extensions/storyblok/src/utils/types.ts
  extensions/storyblok/tsconfig.json
Labels: new extension

#11635 Add Azure DevOps extension
  extensions/ado-search/.eslintrc.json
  extensions/ado-search/.gitignore
  extensions/ado-search/.prettierrc
  extensions/ado-search/CHANGELOG.md
  extensions/ado-search/README.md
  extensions/ado-search/assets/Azure-DevOps.png
  extensions/ado-search/metadata/ado-search-2.png
  extensions/ado-search/metadata/ado-search-3.png
  extensions/ado-search/package-lock.json
  extensions/ado-search/package.json
  extensions/ado-search/src/preferences.tsx
  extensions/ado-search/src/search-ado-repos.tsx
  extensions/ado-search/src/types.tsx
  extensions/ado-search/test.http
  extensions/ado-search/tsconfig.json
Labels: new extension

#11749 Update quick-notes extension
  extensions/quick-notes/CHANGELOG.md
  extensions/quick-notes/README.md
  extensions/quick-notes/package.json
  extensions/quick-notes/src/components/actions.tsx
  extensions/quick-notes/src/components/notesList.tsx
  extensions/quick-notes/src/services/atoms.ts
  extensions/quick-notes/src/utils/utils.ts
Labels: extension fix / improvement, OP is author, extension: quick-notes

#11643 Added Octopus Energy extension
  extensions/octopus-energy/.eslintrc.json
  extensions/octopus-energy/.gitignore
  extensions/octopus-energy/.prettierrc
  extensions/octopus-energy/CHANGELOG.md
  extensions/octopus-energy/README.md
  extensions/octopus-energy/assets/icon.png
  extensions/octopus-energy/metadata/octopus-energy-2.png
  extensions/octopus-energy/metadata/octopus-energy-3.png
  extensions/octopus-energy/package-lock.json
  extensions/octopus-energy/package.json
  extensions/octopus-energy/src/api.ts
  extensions/octopus-energy/src/get-agile-prices.tsx
  extensions/octopus-energy/tsconfig.json
Labels: new extension

#11657 Add fake-swedish-personal-number extension
  extensions/fake-swedish-personal-number/.eslintrc.json
  extensions/fake-swedish-personal-number/.gitignore
  extensions/fake-swedish-personal-number/.prettierrc
  extensions/fake-swedish-personal-number/CHANGELOG.md
  extensions/fake-swedish-personal-number/README.md
  extensions/fake-swedish-personal-number/assets/extension_icon.png
  extensions/fake-swedish-personal-number/metadata/fake-swedish-personal-number-1.png
  extensions/fake-swedish-personal-number/package-lock.json
  extensions/fake-swedish-personal-number/package.json
  extensions/fake-swedish-personal-number/src/index.tsx
  extensions/fake-swedish-personal-number/src/types.ts
  extensions/fake-swedish-personal-number/src/utils.ts
  extensions/fake-swedish-personal-number/tsconfig.json
Labels: new extension

#11708 Apple Reminders: Improve non-AI Quick Reminder
  extensions/apple-reminders/CHANGELOG.md
  extensions/apple-reminders/package-lock.json
  extensions/apple-reminders/package.json
  extensions/apple-reminders/src/quick-add-reminder.tsx
Labels: extension fix / improvement, OP is contributor, extension: apple-reminders

#11729 [GitHub] Fix dev script
  extensions/github/package.json
Labels: extension fix / improvement, extension: github

#11711 [Bitwarden] Create Send commands (Search, Create and Receive)
  extensions/bitwarden/CHANGELOG.md
  extensions/bitwarden/assets/create-send.png
  extensions/bitwarden/assets/receive-send.png
  extensions/bitwarden/assets/search-sends.png
  extensions/bitwarden/assets/send@dark.svg
  extensions/bitwarden/assets/send@light.svg
  extensions/bitwarden/assets/sends-empty-list.svg
  extensions/bitwarden/package.json
  extensions/bitwarden/src/api/bitwarden.helpers.ts
  extensions/bitwarden/src/api/bitwarden.ts
  extensions/bitwarden/src/components/ListLoadingView.tsx
  extensions/bitwarden/src/components/send/CreateEditSendForm.tsx
  extensions/bitwarden/src/constants/general.ts
  extensions/bitwarden/src/constants/labels.ts
  extensions/bitwarden/src/constants/send.ts
  extensions/bitwarden/src/context/session/session.tsx
  extensions/bitwarden/src/create-send.tsx
  extensions/bitwarden/src/receive-send.tsx
  extensions/bitwarden/src/search-sends.tsx
  extensions/bitwarden/src/types/global.d.ts
  extensions/bitwarden/src/types/send.ts
  extensions/bitwarden/src/utils/dates.ts
  extensions/bitwarden/src/utils/development.ts
  extensions/bitwarden/src/utils/errors.ts
  extensions/bitwarden/src/utils/hooks/useInterval.ts
  extensions/bitwarden/src/utils/hooks/useOnceEffect.ts
Labels: extension fix / improvement, OP is author, OP is contributor, extension: bitwarden

#11340 Update perplexity-api extension
  extensions/perplexity-api/CHANGELOG.md
  extensions/perplexity-api/package.json
Labels: extension fix / improvement, OP is contributor, extension: perplexity-api

#11752 Update linak-desk-controller extension
  extensions/linak-desk-controller/CHANGELOG.md
  extensions/linak-desk-controller/README.md
  extensions/linak-desk-controller/package.json
  extensions/linak-desk-controller/src/common.ts
Labels: extension fix / improvement, OP is author, extension: linak-desk-controller

#11553 Add mozeidon extension
  extensions/mozeidon/.eslintrc.json
  extensions/mozeidon/.gitignore
  extensions/mozeidon/.prettierrc
  extensions/mozeidon/CHANGELOG.md
  extensions/mozeidon/README.md
  extensions/mozeidon/assets/firefox-logo.png
  extensions/mozeidon/metadata/mozeidon-1.png
  extensions/mozeidon/metadata/mozeidon-2.png
  extensions/mozeidon/metadata/mozeidon-3.png
  extensions/mozeidon/metadata/mozeidon-4.png
  extensions/mozeidon/package-lock.json
  extensions/mozeidon/package.json
  extensions/mozeidon/src/actions/index.ts
  extensions/mozeidon/src/components/Error.tsx
  extensions/mozeidon/src/components/TabActions.tsx
  extensions/mozeidon/src/components/TabList.tsx
  extensions/mozeidon/src/components/TabTypeDropDown.tsx
  extensions/mozeidon/src/components/index.tsx
  extensions/mozeidon/src/constants.ts
  extensions/mozeidon/src/hooks/useMozeidon.tsx
  extensions/mozeidon/src/interfaces/index.ts
  extensions/mozeidon/src/mozeidon.tsx
  extensions/mozeidon/tsconfig.json
Labels: new extension

#11707 Update harvest extension
  extensions/harvest/.gitignore
  extensions/harvest/CHANGELOG.md
  extensions/harvest/package-lock.json
  extensions/harvest/package.json
  extensions/harvest/src/services/harvest.ts
Labels: extension fix / improvement, OP is author, extension: harvest

#11742 Update can-i-use extension
  extensions/can-i-use/.eslintrc.json
  extensions/can-i-use/.gitignore
  extensions/can-i-use/.prettierrc
  extensions/can-i-use/CHANGELOG.md
  extensions/can-i-use/package-lock.json
  extensions/can-i-use/package.json
  extensions/can-i-use/src/components/FeatureDetail.tsx
  extensions/can-i-use/src/index.tsx
  extensions/can-i-use/src/utils.ts
  extensions/can-i-use/tsconfig.json
Labels: extension fix / improvement, extension: can-i-use

#11755 Google Workspace: Add Open With Browser action
  extensions/google-workspace/CHANGELOG.md
  extensions/google-workspace/package.json
  extensions/google-workspace/src/components/FileListItem.tsx
Labels: extension fix / improvement, extension: google-workspace

#11716 Update chatgpt extension
  extensions/chatgpt/CHANGELOG.md
  extensions/chatgpt/package.json
  extensions/chatgpt/src/hooks/useModel.tsx
  extensions/chatgpt/src/views/model/form.tsx
Labels: extension fix / improvement, OP is contributor, extension: chatgpt

#11740 [Keyboard brightness] Improve user feedback and error handling
  extensions/keyboard-brightness/CHANGELOG.md
  extensions/keyboard-brightness/README.md
  extensions/keyboard-brightness/metadata/keyboard-brightness-1.png
  extensions/keyboard-brightness/metadata/keyboard-brightness-2 .png
  extensions/keyboard-brightness/package.json
  extensions/keyboard-brightness/src/adjust-keyboard-brightness.tsx
  extensions/keyboard-brightness/src/decrease-keyboard-brightness.tsx
  extensions/keyboard-brightness/src/increase-keyboard-brightness.tsx
  extensions/keyboard-brightness/src/menubar-keyboard-brightness.tsx
  extensions/keyboard-brightness/src/toggle-keyboard-brightness.tsx
  extensions/keyboard-brightness/src/utils.ts
Labels: extension fix / improvement, extension: keyboard-brightness

#11776 Move danulqua to past contributors
  extensions/arc/package.json
Labels: extension fix / improvement, OP is contributor, extension: arc

#11773 Move danulqua to past contributors
  extensions/year-in-progress/package.json
Labels: extension fix / improvement, OP is contributor, extension: year-in-progress

#11772 Update imessage-2fa extension
  extensions/imessage-2fa/CHANGELOG.md
  extensions/imessage-2fa/jest.config.js
  extensions/imessage-2fa/package-lock.json
  extensions/imessage-2fa/package.json
  extensions/imessage-2fa/src/utils.test.ts
  extensions/imessage-2fa/src/utils.ts
Labels: extension fix / improvement, OP is contributor, extension: imessage-2fa

#11774 Move danulqua to past contributors
  extensions/browser-bookmarks/package.json
Labels: extension fix / improvement, OP is contributor, extension: browser-bookmarks

#11780 Move igor9silva to past contributors
  extensions/jira/package.json
Labels: extension fix / improvement, OP is contributor, extension: jira

#11471 Add Append Text To page feature to Notion Extension
  extensions/notion/CHANGELOG.md
  extensions/notion/package.json
  extensions/notion/src/add-text-to-page.tsx
  extensions/notion/src/hooks/index.ts
  extensions/notion/src/utils/notion/block.ts
  extensions/notion/src/utils/notion/database/property.ts
  extensions/notion/src/utils/notion/global.ts
  extensions/notion/src/utils/notion/page.ts
Labels: extension fix / improvement, extension: notion

#11802 Update tmux-sessioner extension
  extensions/tmux-sessioner/CHANGELOG.md
  extensions/tmux-sessioner/package-lock.json
  extensions/tmux-sessioner/src/manage_tmux_windows.tsx
Labels: extension fix / improvement, OP is author, extension: tmux-sessioner

#11769 Apple Reminders: separate menu bar count from view
  extensions/apple-reminders/CHANGELOG.md
  extensions/apple-reminders/package.json
  extensions/apple-reminders/src/menu-bar.tsx
Labels: extension fix / improvement, extension: apple-reminders

#11777 Move danulqua to past contributors
  extensions/warp/CHANGELOG.md
  extensions/warp/package.json
Labels: extension fix / improvement, OP is contributor, extension: warp

#11779 Move danulqua to past contributors
  extensions/mute-microphone/CHANGELOG.md
  extensions/mute-microphone/package.json
Labels: extension fix / improvement, OP is contributor, extension: mute-microphone

#11778 Move danulqua to past contributors
  extensions/pick-your-wallpaper/CHANGELOG.md
  extensions/pick-your-wallpaper/package.json
Labels: extension fix / improvement, OP is contributor, extension: pick-your-wallpaper

#11782 Update single-focus extension
  extensions/single-focus/CHANGELOG.md
  extensions/single-focus/src/index.ts
Labels: extension fix / improvement, OP is author, extension: single-focus

#11781 Add nu-nieuws extension
  extensions/nu-nieuws/.eslintrc.json
  extensions/nu-nieuws/.gitignore
  extensions/nu-nieuws/.prettierrc
  extensions/nu-nieuws/CHANGELOG.md
  extensions/nu-nieuws/README.md
  extensions/nu-nieuws/assets/command-icon.png
  extensions/nu-nieuws/metadata/nu-nieuws-1.png
  extensions/nu-nieuws/metadata/nu-nieuws-2.png
  extensions/nu-nieuws/metadata/nu-nieuws-3.png
  extensions/nu-nieuws/metadata/nu-nieuws-4.png
  extensions/nu-nieuws/package-lock.json
  extensions/nu-nieuws/package.json
  extensions/nu-nieuws/src/component/ArticleDetail.tsx
  extensions/nu-nieuws/src/component/CategoryFilter.tsx
  extensions/nu-nieuws/src/component/GridItem.tsx
  extensions/nu-nieuws/src/component/LinkActions.tsx
  extensions/nu-nieuws/src/component/ListItem.tsx
  extensions/nu-nieuws/src/show-nu-news.tsx
  extensions/nu-nieuws/src/util/content.ts
  extensions/nu-nieuws/src/util/feeds.ts
  extensions/nu-nieuws/src/util/formatting.ts
  extensions/nu-nieuws/src/util/icon.ts
  extensions/nu-nieuws/src/util/rss.ts
  extensions/nu-nieuws/tsconfig.json
Labels: new extension

#11660 Update quit-applications extension
  extensions/quit-applications/CHANGELOG.md
  extensions/quit-applications/package.json
  extensions/quit-applications/src/index.tsx
Labels: extension fix / improvement, extension: quit-applications

#11771 [Apple Mail] Add text delimiters to multiple email addresses in the mailbox caption
  extensions/mail/CHANGELOG.md
  extensions/mail/package-lock.json
  extensions/mail/package.json
  extensions/mail/src/scripts/accounts.ts
Labels: extension fix / improvement, extension: mail

#11679 feat(power-management): added menubar command with an icon, toggle button & setting button
  extensions/power-management/CHANGELOG.md
  extensions/power-management/package.json
  extensions/power-management/src/lowpower-menubar.tsx
  extensions/power-management/src/toggle-low-power-mode.tsx
  extensions/power-management/src/utils/powerManagement.tsx
Labels: extension fix / improvement, extension: power-management

#11663 Add project-companion extension
  extensions/project-companion/.eslintrc.json
  extensions/project-companion/.gitignore
  extensions/project-companion/.prettierrc
  extensions/project-companion/CHANGELOG.md
  extensions/project-companion/README.md
  extensions/project-companion/assets/logo.png
  extensions/project-companion/metadata/project-companion-1.png
  extensions/project-companion/metadata/project-companion-2.png
  extensions/project-companion/metadata/project-companion-3.png
  extensions/project-companion/metadata/project-companion-4.png
  extensions/project-companion/package-lock.json
  extensions/project-companion/package.json
  extensions/project-companion/src/index.tsx
  extensions/project-companion/tsconfig.json
Labels: new extension

#11686 Add time-tracking extension
  extensions/time-tracking/.eslintrc.json
  extensions/time-tracking/.gitignore
  extensions/time-tracking/.prettierrc
  extensions/time-tracking/CHANGELOG.md
  extensions/time-tracking/README.md
  extensions/time-tracking/assets/extension_icon.png
  extensions/time-tracking/assets/list_command.png
  extensions/time-tracking/assets/start_command.png
  extensions/time-tracking/assets/stop_command.png
  extensions/time-tracking/metadata/time-tracking-1.png
  extensions/time-tracking/metadata/time-tracking-2.png
  extensions/time-tracking/package-lock.json
  extensions/time-tracking/package.json
  extensions/time-tracking/src/Timers.ts
  extensions/time-tracking/src/start-timer.tsx
  extensions/time-tracking/src/stop-timer.tsx
  extensions/time-tracking/src/view-project-timers.tsx
  extensions/time-tracking/tsconfig.json
Labels: new extension

#11538 Add duckduckgo-email extension
  extensions/duckduckgo-email/.eslintrc.json
  extensions/duckduckgo-email/.gitignore
  extensions/duckduckgo-email/.prettierrc
  extensions/duckduckgo-email/CHANGELOG.md
  extensions/duckduckgo-email/README.md
  extensions/duckduckgo-email/assets/duckduckgo-icon.png
  extensions/duckduckgo-email/package-lock.json
  extensions/duckduckgo-email/package.json
  extensions/duckduckgo-email/pnpm-lock.yaml
  extensions/duckduckgo-email/src/index.ts
  extensions/duckduckgo-email/tsconfig.json
Labels: new extension

#11813 Apple Reminders: Add saved locations
  extensions/apple-reminders/CHANGELOG.md
  extensions/apple-reminders/README.md
  extensions/apple-reminders/package-lock.json
  extensions/apple-reminders/package.json
  extensions/apple-reminders/src/components/LocationForm.tsx
  extensions/apple-reminders/src/components/ReminderActions.tsx
  extensions/apple-reminders/src/components/SetLocationReminder.tsx
  extensions/apple-reminders/src/create-reminder.tsx
  extensions/apple-reminders/src/hooks/useLocalStorage.ts
  extensions/apple-reminders/src/hooks/useLocations.ts
  extensions/apple-reminders/src/manage-locations.tsx
  extensions/apple-reminders/src/my-reminders.tsx
  extensions/apple-reminders/src/quick-add-reminder.tsx
Labels: extension fix / improvement, OP is author, extension: apple-reminders

#11824 Update open-graph extension
  extensions/open-graph/CHANGELOG.md
  extensions/open-graph/package.json
  extensions/open-graph/src/open-graph.tsx
Labels: extension fix / improvement, extension: open-graph

#11699 Update acqua extension
  extensions/acqua/CHANGELOG.md
  extensions/acqua/src/menubar.tsx
Labels: extension fix / improvement, OP is author, extension: acqua

#11811 [Authy] Move timer icon to right
  extensions/authy/CHANGELOG.md
  extensions/authy/package.json
  extensions/authy/src/component/OtpListItem.tsx
Labels: extension fix / improvement, extension: authy

#11785 Update youtrack extension
  extensions/youtrack/.nvmrc
  extensions/youtrack/CHANGELOG.md
  extensions/youtrack/package-lock.json
  extensions/youtrack/package.json
  extensions/youtrack/src/components.tsx
Labels: extension fix / improvement, OP is contributor, extension: youtrack

#11791 Add you-com-search extension
  extensions/you-com-search/.eslintrc.json
  extensions/you-com-search/.gitignore
  extensions/you-com-search/.prettierrc
  extensions/you-com-search/CHANGELOG.md
  extensions/you-com-search/README.md
  extensions/you-com-search/assets/you2.png
  extensions/you-com-search/metadata/you-com-search-1.png
  extensions/you-com-search/metadata/you-com-search-2.png
  extensions/you-com-search/package-lock.json
  extensions/you-com-search/package.json
  extensions/you-com-search/src/search.tsx
  extensions/you-com-search/tsconfig.json
Labels: new extension

#11850 Update vade-mecum extension
  extensions/vade-mecum/CHANGELOG.md
  extensions/vade-mecum/metadata/vade-mecum-1.png
  extensions/vade-mecum/metadata/vade-mecum-2.png
  extensions/vade-mecum/src/components/ArticleListDetail.tsx
  extensions/vade-mecum/src/components/LawListItem.tsx
Labels: extension fix / improvement, OP is author, extension: vade-mecum

#11848 [Update] Supports beta, dev, canary browsers
  extensions/open-link-in-specific-browser/CHANGELOG.md
  extensions/open-link-in-specific-browser/package-lock.json
  extensions/open-link-in-specific-browser/package.json
  extensions/open-link-in-specific-browser/src/components/action-on-open-link-app.tsx
  extensions/open-link-in-specific-browser/src/hooks/hooks.ts
  extensions/open-link-in-specific-browser/src/utils/constants.ts
  extensions/open-link-in-specific-browser/src/utils/input-utils.ts
  extensions/open-link-in-specific-browser/src/utils/open-link-utils.ts
Labels: extension fix / improvement, OP is author, extension: open-link-in-specific-browser

#11852 [Update] Copy markdown link
  extensions/sm-ms/CHANGELOG.md
  extensions/sm-ms/package-lock.json
  extensions/sm-ms/package.json
  extensions/sm-ms/src/components/action-open-extension-preferences.tsx
  extensions/sm-ms/src/components/dialog.tsx
  extensions/sm-ms/src/delete-images.tsx
  extensions/sm-ms/src/search-images.tsx
  extensions/sm-ms/src/types/preferences.ts
  extensions/sm-ms/src/utils/applescript-utils.ts
  extensions/sm-ms/src/utils/axios-utils.ts
  extensions/sm-ms/src/utils/common-utils.ts
Labels: extension fix / improvement, OP is author, extension: sm-ms

#11720 Update farcaster extension
  extensions/farcaster/.eslintrc.json
  extensions/farcaster/.gitignore
  extensions/farcaster/.prettierrc
  extensions/farcaster/CHANGELOG.md
  extensions/farcaster/README.md
  extensions/farcaster/assets/command-icon.png
  extensions/farcaster/assets/power-badge.png
  extensions/farcaster/metadata/farcaster-1.png
  extensions/farcaster/metadata/farcaster-2.png
  extensions/farcaster/metadata/farcaster-3.png
  extensions/farcaster/metadata/farcaster-4.png
  extensions/farcaster/package-lock.json
  extensions/farcaster/package.json
  extensions/farcaster/src/components/CastDetails.tsx
  extensions/farcaster/src/components/CastListItem.tsx
  extensions/farcaster/src/components/Dropdown.tsx
  extensions/farcaster/src/components/ProfileCastList.tsx
  extensions/farcaster/src/components/ProfileDetails.tsx
  extensions/farcaster/src/hooks/useGetProfileCasts.ts
  extensions/farcaster/src/hooks/useGetProfiles.ts
  extensions/farcaster/src/hooks/useTrendingCasts.ts
  extensions/farcaster/src/search-profiles.tsx
  extensions/farcaster/src/search-trending-casts.tsx
  extensions/farcaster/src/utils/endpoints.ts
  extensions/farcaster/src/utils/helpers.ts
  extensions/farcaster/src/utils/preferences.ts
  extensions/farcaster/src/utils/types.ts
  extensions/farcaster/tsconfig.json
Labels: new extension

#11248 Add brand-fetch extension
  extensions/brand-fetch/.eslintrc.json
  extensions/brand-fetch/.gitignore
  extensions/brand-fetch/.prettierrc
  extensions/brand-fetch/CHANGELOG.md
  extensions/brand-fetch/README.md
  extensions/brand-fetch/assets/extension_icon.png
  extensions/brand-fetch/package-lock.json
  extensions/brand-fetch/package.json
  extensions/brand-fetch/src/index.tsx
  extensions/brand-fetch/src/source.ts
  extensions/brand-fetch/src/source.types.ts
  extensions/brand-fetch/tsconfig.json
Labels: new extension

#11844 Notion: Add pagination to Search Page
  extensions/notion/CHANGELOG.md
  extensions/notion/package-lock.json
  extensions/notion/package.json
  extensions/notion/src/add-text-to-page.tsx
  extensions/notion/src/hooks/index.ts
  extensions/notion/src/quick-capture.tsx
  extensions/notion/src/search-page.tsx
  extensions/notion/src/utils/notion/page.ts
Labels: extension fix / improvement, OP is contributor, extension: notion

#11831 Things: Add status icons for the menu bar
  extensions/things/CHANGELOG.md
  extensions/things/src/helpers.ts
  extensions/things/src/show-today-in-menu-bar.tsx
Labels: extension fix / improvement, OP is contributor, extension: things

#11655 Add personio extension
  extensions/personio/.eslintrc.json
  extensions/personio/.gitignore
  extensions/personio/.prettierrc
  extensions/personio/CHANGELOG.md
  extensions/personio/LICENSE
  extensions/personio/README.md
  extensions/personio/assets/command-icon-1.png
  extensions/personio/assets/command-icon.webp
  extensions/personio/metadata/personio-0.png
  extensions/personio/metadata/personio-1.png
  extensions/personio/metadata/personio-2.png
  extensions/personio/metadata/personio-3.png
  extensions/personio/package-lock.json
  extensions/personio/package.json
  extensions/personio/src/addPastTimesCommand.tsx
  extensions/personio/src/api/api.tsx
  extensions/personio/src/api/attendances.tsx
  extensions/personio/src/api/cache.tsx
  extensions/personio/src/api/employee.tsx
  extensions/personio/src/api/employeeinfo.tsx
  extensions/personio/src/attendancesCommand.tsx
  extensions/personio/src/components/AttendanceList.tsx
  extensions/personio/src/components/EmployeeNumberList.tsx
  extensions/personio/src/components/TrackTimeForm.tsx
  extensions/personio/src/findEmployeeNumberCommand.tsx
  extensions/personio/src/trackTimeCommand.tsx
  extensions/personio/src/utils/components.tsx
  extensions/personio/src/utils/date.tsx
  extensions/personio/tsconfig.json
Labels: new extension

#11723 Add alice-ai extension
  extensions/alice-ai/.eslintrc.json
  extensions/alice-ai/.gitignore
  extensions/alice-ai/.prettierrc
  extensions/alice-ai/CHANGELOG.md
  extensions/alice-ai/README.md
  extensions/alice-ai/assets/icon.png
  extensions/alice-ai/extension.json
  extensions/alice-ai/metadata/alice-ai-1.png
  extensions/alice-ai/metadata/alice-ai-2.png
  extensions/alice-ai/metadata/alice-ai-3.png
  extensions/alice-ai/metadata/alice-ai-4.png
  extensions/alice-ai/metadata/alice-ai-5.png
  extensions/alice-ai/metadata/alice-ai-6.png
  extensions/alice-ai/metadata/alice-ai-7.png
  extensions/alice-ai/metadata/alice-ai-8.png
  extensions/alice-ai/metadata/alice-ai-9.png
  extensions/alice-ai/package-lock.json
  extensions/alice-ai/package.json
  extensions/alice-ai/src/commands.tsx
  extensions/alice-ai/src/components/ExecuteAction.tsx
  extensions/alice-ai/src/components/HistoryDetails.tsx
  extensions/alice-ai/src/create.tsx
  extensions/alice-ai/src/history.tsx
  extensions/alice-ai/src/hooks/index.ts
  extensions/alice-ai/src/hooks/useMetadata.ts
  extensions/alice-ai/src/hooks/useSelectedText.ts
  extensions/alice-ai/src/lib/OpenAI.ts
  extensions/alice-ai/src/services/Backup.ts
  extensions/alice-ai/src/store/actions.ts
  extensions/alice-ai/src/store/history.ts
  extensions/alice-ai/src/types/index.ts
  extensions/alice-ai/src/utils.ts
  extensions/alice-ai/src/views/CommandExecute.tsx
  extensions/alice-ai/src/views/CommandForm.tsx
  extensions/alice-ai/src/views/CommandList.tsx
  extensions/alice-ai/src/views/HistoryList.tsx
  extensions/alice-ai/src/views/HistoryView.tsx
  extensions/alice-ai/tsconfig.json
Labels: new extension

#11792 Add remove-background-powered-by-mac extension
  extensions/remove-background-powered-by-mac/.eslintrc.json
  extensions/remove-background-powered-by-mac/.gitignore
  extensions/remove-background-powered-by-mac/.prettierrc
  extensions/remove-background-powered-by-mac/CHANGELOG.md
  extensions/remove-background-powered-by-mac/Package.swift
  extensions/remove-background-powered-by-mac/README.md
  extensions/remove-background-powered-by-mac/Sources/main.swift
  extensions/remove-background-powered-by-mac/assets/extension_icon.png
  extensions/remove-background-powered-by-mac/assets/remove-background
  extensions/remove-background-powered-by-mac/package-lock.json
  extensions/remove-background-powered-by-mac/package.json
  extensions/remove-background-powered-by-mac/src/index.ts
  extensions/remove-background-powered-by-mac/src/utils.ts
  extensions/remove-background-powered-by-mac/tsconfig.json
Labels: new extension

#11869 GitHub: Fix recently closed issue
  extensions/github/CHANGELOG.md
  extensions/github/src/hooks/useMyIssues.ts
  extensions/github/src/hooks/useMyPullRequests.ts
Labels: extension fix / improvement, OP is author, extension: github

#11727 Update multi extension
  extensions/multi/CHANGELOG.md
  extensions/multi/README.md
  extensions/multi/assets/away.svg
  extensions/multi/assets/focusing.svg
  extensions/multi/assets/in-session.svg
  extensions/multi/assets/online.svg
  extensions/multi/metadata/2-teammates.png
  extensions/multi/src/inviteUser.tsx
  extensions/multi/src/joinRoom.tsx
  extensions/multi/src/lib/multi.ts
Labels: extension fix / improvement, OP is author, extension: multi

#11796 Update Azure DevOps extension - add menu options
  extensions/ado-search/CHANGELOG.md
  extensions/ado-search/README.md
  extensions/ado-search/assets/Azure-DevOps-black-loading.png
  extensions/ado-search/assets/Azure-DevOps-black.png
  extensions/ado-search/package.json
  extensions/ado-search/src/menu-bar.tsx
  extensions/ado-search/src/preferences.tsx
  extensions/ado-search/src/search-ado-repos.tsx
  extensions/ado-search/src/types.tsx
  extensions/ado-search/test.http
Labels: extension fix / improvement, OP is author, extension: ado-search

#11800 Add ai-git-assistant extension
  extensions/ai-git-assistant/.eslintrc.json
  extensions/ai-git-assistant/.gitignore
  extensions/ai-git-assistant/.prettierrc
  extensions/ai-git-assistant/CHANGELOG.md
  extensions/ai-git-assistant/LICENSE
  extensions/ai-git-assistant/README.md
  extensions/ai-git-assistant/assets/extension-icon.png
  extensions/ai-git-assistant/metadata/ai-git-assistant-1.png
  extensions/ai-git-assistant/metadata/ai-git-assistant-2.png
  extensions/ai-git-assistant/package-lock.json
  extensions/ai-git-assistant/package.json
  extensions/ai-git-assistant/src/index.tsx
  extensions/ai-git-assistant/src/reducer.tsx
  extensions/ai-git-assistant/src/utils.ts
  extensions/ai-git-assistant/tsconfig.json
Labels: new extension

#11819 Update braid extension
  extensions/braid/CHANGELOG.md
  extensions/braid/assets/icons/AI-dark.svg
  extensions/braid/assets/icons/AI-light.svg
  extensions/braid/assets/icons/career-active-dark.svg
  extensions/braid/assets/icons/career-active-light.svg
  extensions/braid/assets/icons/career-dark.svg
  extensions/braid/assets/icons/career-light.svg
  extensions/braid/assets/icons/category-dark.svg
  extensions/braid/assets/icons/category-light.svg
  extensions/braid/assets/icons/critical-dark.svg
  extensions/braid/assets/icons/critical-light.svg
  extensions/braid/assets/icons/experience-dark.svg
  extensions/braid/assets/icons/experience-light.svg
  extensions/braid/assets/icons/gift-dark.svg
  extensions/braid/assets/icons/gift-light.svg
  extensions/braid/assets/icons/globe-dark.svg
  extensions/braid/assets/icons/globe-light.svg
  extensions/braid/assets/icons/language-dark.svg
  extensions/braid/assets/icons/language-light.svg
  extensions/braid/assets/icons/rocket-dark.svg
  extensions/braid/assets/icons/rocket-light.svg
  extensions/braid/assets/icons/sentiment-dark.svg
  extensions/braid/assets/icons/sentiment-light.svg
  extensions/braid/assets/icons/sentiment-negative-dark.svg
  extensions/braid/assets/icons/sentiment-negative-light.svg
  extensions/braid/assets/icons/sentiment-positive-dark.svg
  extensions/braid/assets/icons/sentiment-positive-light.svg
  extensions/braid/assets/icons/skills-dark.svg
  extensions/braid/assets/icons/skills-light.svg
  extensions/braid/braid-icons/AI.svg
  extensions/braid/braid-icons/career-active.svg
  extensions/braid/braid-icons/career.svg
  extensions/braid/braid-icons/category.svg
  extensions/braid/braid-icons/critical.svg
  extensions/braid/braid-icons/experience.svg
  extensions/braid/braid-icons/gift.svg
  extensions/braid/braid-icons/globe.svg
  extensions/braid/braid-icons/language.svg
  extensions/braid/braid-icons/rocket.svg
  extensions/braid/braid-icons/sentiment-negative.svg
  extensions/braid/braid-icons/sentiment-positive.svg
  extensions/braid/braid-icons/sentiment.svg
  extensions/braid/braid-icons/skills.svg
  extensions/braid/src/resources/icon-map.json
  extensions/braid/src/search-iconography.tsx
Labels: extension fix / improvement, OP is author, extension: braid

#11797 Update svgl extension
  extensions/svgl/CHANGELOG.md
  extensions/svgl/README.md
  extensions/svgl/metadata/svgl-1.png
  extensions/svgl/metadata/svgl-2.png
  extensions/svgl/metadata/svgl-3.png
  extensions/svgl/package-lock.json
  extensions/svgl/package.json
  extensions/svgl/src/components/actions/copy-react-component-actions.tsx
  extensions/svgl/src/components/actions/copy-svg-actions.tsx
  extensions/svgl/src/components/actions/copy-wordmark-svg-actions.tsx
  extensions/svgl/src/components/actions/pin-svg-action.tsx
  extensions/svgl/src/components/actions/svg-info-actions.tsx
  extensions/svgl/src/components/app-context.tsx
  extensions/svgl/src/components/grids/all-grid.tsx
  extensions/svgl/src/components/grids/category-grid.tsx
  extensions/svgl/src/components/grids/pinned-grid.tsx
  extensions/svgl/src/components/grids/recent-grid.tsx
  extensions/svgl/src/components/svg-action.tsx
  extensions/svgl/src/components/svgl-grid.tsx
  extensions/svgl/src/hooks/use-pin-svg.ts
  extensions/svgl/src/hooks/use-recent-svg.ts
  extensions/svgl/src/index.tsx
  extensions/svgl/src/request.tsx
  extensions/svgl/src/type.ts
  extensions/svgl/src/util.ts
  extensions/svgl/src/utils/cache.ts
  extensions/svgl/src/utils/fetch.ts
  extensions/svgl/src/utils/local-svg.ts
  extensions/svgl/src/utils/request-svg.ts
Labels: extension fix / improvement, OP is author, extension: svgl

#11674 Support inline Markdown for text properties
  extensions/notion/CHANGELOG.md
  extensions/notion/src/components/DatabaseView.tsx
  extensions/notion/src/components/forms/PagePropertyField.tsx
  extensions/notion/src/utils/notion/database/property.ts
Labels: extension fix / improvement, OP is contributor, extension: notion

#11876 Update deno-deploy extension
  extensions/deno-deploy/CHANGELOG.md
  extensions/deno-deploy/assets/command-icon.png
  extensions/deno-deploy/package-lock.json
  extensions/deno-deploy/package.json
Labels: extension fix / improvement, OP is author, extension: deno-deploy

#11883 Update remember-the-date extension
  extensions/remember-the-date/CHANGELOG.md
  extensions/remember-the-date/package-lock.json
  extensions/remember-the-date/package.json
  extensions/remember-the-date/src/index.tsx
  extensions/remember-the-date/src/list.tsx
  extensions/remember-the-date/src/menu-bar.tsx
  extensions/remember-the-date/src/utils.ts
Labels: extension fix / improvement, extension: remember-the-date

#11812 [Brand Icons] Update extension name
  extensions/simple-icons/CHANGELOG.md
  extensions/simple-icons/README.md
  extensions/simple-icons/metadata/simple-icons-1.png
  extensions/simple-icons/package.json
  extensions/simple-icons/src/actions.tsx
Labels: extension fix / improvement, OP is author, extension: simple-icons

#11825 [ADB] Add ability to get current activity #10997
  extensions/adb/CHANGELOG.md
  extensions/adb/package.json
  extensions/adb/src/adb-current-activity.ts
Labels: extension fix / improvement, extension: adb

#11892 [Single Focus] Fix Swift packages
  extensions/single-focus/CHANGELOG.md
  extensions/single-focus/QuitAllButFocused/Package.resolved
  extensions/single-focus/QuitAllButFocused/Package.swift
  extensions/single-focus/QuitAllButFocused/Sources/SingleFocus.swift
  extensions/single-focus/package-lock.json
  extensions/single-focus/package.json
Labels: extension fix / improvement, extension: single-focus

#11900 [Groq] Added Llama 3 models
  extensions/groq/CHANGELOG.md
  extensions/groq/README.md
  extensions/groq/package.json
  extensions/groq/src/hook/utils.ts
Labels: extension fix / improvement, OP is author, extension: groq

#11896 Update wikipedia extension
  extensions/wikipedia/CHANGELOG.md
  extensions/wikipedia/src/utils/language.ts
Labels: extension fix / improvement, OP is contributor, extension: wikipedia

#11928 [Mastodon] Enhance menu bar notification
  extensions/mastodon/CHANGELOG.md
  extensions/mastodon/package.json
  extensions/mastodon/pnpm-lock.yaml
  extensions/mastodon/src/menu-bar-notifications.tsx
Labels: extension fix / improvement, OP is contributor, extension: mastodon

#11904 [GitHub] Polish menu bar icon
  extensions/github/CHANGELOG.md
  extensions/github/assets/github-unread.svg
  extensions/github/package.json
  extensions/github/src/generated/graphql.ts
  extensions/github/src/helpers/notifications.ts
  extensions/github/src/unread-notifications.tsx
Labels: extension fix / improvement, extension: github

#11884 GitHub: Update metadata images
  extensions/github/CHANGELOG.md
  extensions/github/metadata/github-1.png
  extensions/github/metadata/github-2.png
  extensions/github/metadata/github-3.png
  extensions/github/metadata/github-4.png
  extensions/github/metadata/github-5.png
Labels: extension fix / improvement, OP is author, OP is contributor, extension: github

#11891 Show Spotify current track using HUD
  extensions/spotify-controls/CHANGELOG.md
  extensions/spotify-controls/src/current.ts
  extensions/spotify-controls/src/trackNotification.ts
Labels: extension fix / improvement, extension: spotify-controls

#11838 Update transmission extension
  extensions/transmission/.eslintrc.json
  extensions/transmission/.gitignore
  extensions/transmission/CHANGELOG.md
  extensions/transmission/package-lock.json
  extensions/transmission/package.json
  extensions/transmission/src/addNewTorrent.tsx
  extensions/transmission/src/components/FileList.tsx
  extensions/transmission/src/components/TorrentConfiguration.tsx
  extensions/transmission/src/components/TorrentInfo.tsx
  extensions/transmission/src/components/TorrentListItem.tsx
  extensions/transmission/src/components/TrackerList.tsx
  extensions/transmission/src/listTorrents.tsx
  extensions/transmission/src/modules/client.ts
  extensions/transmission/src/types.ts
  extensions/transmission/src/utils/hooks.ts
  extensions/transmission/src/utils/preferences.ts
  extensions/transmission/src/utils/renderCells.tsx
  extensions/transmission/tsconfig.json
Labels: extension fix / improvement, extension: transmission

#11542 Add nif-fresquinho extension
  extensions/nif-fresquinho/.eslintrc.json
  extensions/nif-fresquinho/.gitignore
  extensions/nif-fresquinho/.prettierrc
  extensions/nif-fresquinho/CHANGELOG.md
  extensions/nif-fresquinho/README.md
  extensions/nif-fresquinho/assets/nif-icon.png
  extensions/nif-fresquinho/package-lock.json
  extensions/nif-fresquinho/package.json
  extensions/nif-fresquinho/src/index.ts
  extensions/nif-fresquinho/src/nif.ts
  extensions/nif-fresquinho/tsconfig.json
Labels: new extension

#11861 clickup(feat): Show folderless tasks in explore
  extensions/clickup/CHANGELOG.md
  extensions/clickup/package.json
  extensions/clickup/src/hooks/useFolderlessTaskList.ts
  extensions/clickup/src/views/FolderLists.tsx
  extensions/clickup/src/views/ListTasks.tsx
  extensions/clickup/src/views/SpaceFolders.tsx
  extensions/clickup/src/views/TaskList/ListTasks.tsx
  extensions/clickup/src/views/TaskList/Task.tsx
Labels: extension fix / improvement, extension: clickup

#11429 Notion - configurable option to close Raycast after Create Database Page
  extensions/notion/CHANGELOG.md
  extensions/notion/package.json
  extensions/notion/src/components/forms/CreatePageForm.tsx
  extensions/notion/src/utils/notion/database/index.ts
Labels: extension fix / improvement, OP is contributor, extension: notion

#11653 GitHub: Fixes notification icons
  extensions/github/CHANGELOG.md
  extensions/github/metadata/github-2.png
  extensions/github/src/components/DiscussionListItem.tsx
  extensions/github/src/components/NotificationListItem.tsx
  extensions/github/src/helpers/notifications.ts
  extensions/github/src/helpers/pull-request.ts
  extensions/github/src/hooks/useMyIssues.ts
  extensions/github/src/hooks/useMyPullRequests.ts
  extensions/github/src/my-issues-menu.tsx
  extensions/github/src/my-pull-requests-menu.tsx
  extensions/github/src/search-issues.tsx
  extensions/github/src/search-pull-requests.tsx
  extensions/github/src/unread-notifications.tsx
Labels: extension fix / improvement, OP is author, OP is contributor, extension: github

#11798 GitHub: Set Open in Browser as a primary action
  extensions/github/CHANGELOG.md
  extensions/github/package.json
  extensions/github/src/components/PullRequestActions.tsx
Labels: extension fix / improvement, OP is author, extension: github

#11816 Add owledge-raycast extension
  extensions/owledge-raycast/.eslintrc.json
  extensions/owledge-raycast/.gitignore
  extensions/owledge-raycast/.prettierrc
  extensions/owledge-raycast/CHANGELOG.md
  extensions/owledge-raycast/README.md
  extensions/owledge-raycast/assets/command-icon.png
  extensions/owledge-raycast/assets/list-icon.png
  extensions/owledge-raycast/metadata/Preview_1.png
  extensions/owledge-raycast/metadata/Preview_2.png
  extensions/owledge-raycast/package-lock.json
  extensions/owledge-raycast/package.json
  extensions/owledge-raycast/src/index.tsx
  extensions/owledge-raycast/tsconfig.json
Labels: new extension

#11880 Update Anybox extension
  extensions/anybox/CHANGELOG.md
  extensions/anybox/package-lock.json
  extensions/anybox/package.json
  extensions/anybox/src/components/FolderItem.tsx
  extensions/anybox/src/components/LinkItem.tsx
  extensions/anybox/src/components/TagItem.tsx
  extensions/anybox/src/saveNote.tsx
  extensions/anybox/src/search.tsx
  extensions/anybox/src/searchFolder.tsx
  extensions/anybox/src/searchTag.tsx
  extensions/anybox/src/utilities/fetch.tsx
  extensions/anybox/src/utilities/searchRequest.tsx
  extensions/anybox/tsconfig.json
Labels: extension fix / improvement, OP is author, extension: anybox

#11886 [ai-git-assistant] Add support for generating PR descriptions
  extensions/ai-git-assistant/CHANGELOG.md
  extensions/ai-git-assistant/README.md
  extensions/ai-git-assistant/assets/extension-icon.png
  extensions/ai-git-assistant/metadata/ai-git-assistant-1.png
  extensions/ai-git-assistant/metadata/ai-git-assistant-2.png
  extensions/ai-git-assistant/metadata/ai-git-assistant-3.png
  extensions/ai-git-assistant/metadata/ai-git-assistant-4.png
  extensions/ai-git-assistant/package-lock.json
  extensions/ai-git-assistant/package.json
  extensions/ai-git-assistant/src/components/branch-list/component.tsx
  extensions/ai-git-assistant/src/components/branch-list/reducer.tsx
  extensions/ai-git-assistant/src/components/generate-commit-message/component.tsx
  extensions/ai-git-assistant/src/components/generate-commit-message/reducer.tsx
  extensions/ai-git-assistant/src/components/generate-pr-description/component.tsx
  extensions/ai-git-assistant/src/components/generate-pr-description/reducer.tsx
  extensions/ai-git-assistant/src/generate-commit-message.tsx
  extensions/ai-git-assistant/src/generate-pr-description.tsx
  extensions/ai-git-assistant/src/models.ts
  extensions/ai-git-assistant/src/utils.ts
  extensions/ai-git-assistant/src/utils/ai.ts
  extensions/ai-git-assistant/src/utils/git.ts
Labels: extension fix / improvement, OP is author, extension: ai-git-assistant

#11932 [Perplexity-API] Added Llama3 and Mixtral 8x22B
  extensions/perplexity-api/CHANGELOG.md
  extensions/perplexity-api/package.json
  extensions/perplexity-api/src/hook/utils.ts
Labels: extension fix / improvement, OP is author, extension: perplexity-api

#11858 Update iterm extension
  extensions/iterm/CHANGELOG.md
  extensions/iterm/package.json
  extensions/iterm/src/core/use-finder-path.tsx
  extensions/iterm/src/open-iterm-here.tsx
Labels: extension fix / improvement, extension: iterm

#11854 Add otp-inbox extension
  extensions/otp-inbox/.eslintrc.json
  extensions/otp-inbox/.gitignore
  extensions/otp-inbox/.prettierrc
  extensions/otp-inbox/CHANGELOG.md
  extensions/otp-inbox/LICENSE
  extensions/otp-inbox/README.md
  extensions/otp-inbox/assets/icon.png
  extensions/otp-inbox/metadata/otp-inbox-1.png
  extensions/otp-inbox/metadata/otp-inbox-2.png
  extensions/otp-inbox/package-lock.json
  extensions/otp-inbox/package.json
  extensions/otp-inbox/src/components/auth-wrapper.tsx
  extensions/otp-inbox/src/lib/constants.ts
  extensions/otp-inbox/src/lib/gmail-oauth.ts
  extensions/otp-inbox/src/lib/gmail.ts
  extensions/otp-inbox/src/lib/types.ts
  extensions/otp-inbox/src/lib/utils.ts
  extensions/otp-inbox/src/otp-inbox.tsx
  extensions/otp-inbox/tsconfig.json
Labels: new extension

#11860 Add jsr extension
  extensions/jsr/.eslintrc.json
  extensions/jsr/.gitignore
  extensions/jsr/.prettierrc
  extensions/jsr/CHANGELOG.md
  extensions/jsr/README.md
  extensions/jsr/assets/browsers.svg
  extensions/jsr/assets/bun.svg
  extensions/jsr/assets/cloudflare-workers.svg
  extensions/jsr/assets/command-icon.png
  extensions/jsr/assets/deno.svg
  extensions/jsr/assets/github.svg
  extensions/jsr/assets/jsr.svg
  extensions/jsr/assets/node.svg
  extensions/jsr/assets/npm.svg
  extensions/jsr/assets/pnpm.svg
  extensions/jsr/assets/yarn.svg
  extensions/jsr/metadata/jsr-1.png
  extensions/jsr/metadata/jsr-2.png
  extensions/jsr/metadata/jsr-3.png
  extensions/jsr/package-lock.json
  extensions/jsr/package.json
  extensions/jsr/src/components/CopyActions.tsx
  extensions/jsr/src/components/ItemDetails.tsx
  extensions/jsr/src/components/ListItem.tsx
  extensions/jsr/src/hooks/useJSRAPI.tsx
  extensions/jsr/src/hooks/useJSRAPIStats.tsx
  extensions/jsr/src/hooks/useJSRSearch.tsx
  extensions/jsr/src/lib/compat.ts
  extensions/jsr/src/lib/convert.ts
  extensions/jsr/src/lib/preferences.ts
  extensions/jsr/src/search-jsr.tsx
  extensions/jsr/src/types/index.ts
  extensions/jsr/tsconfig.json
Labels: new extension
