Repository raycast/extensions, pull requests merged in 2024-06, with the labels that each got.

#12568 [Github] "Create pull request" command allows selection from more than first 50 branch names
  extensions/github/CHANGELOG.md
  extensions/github/package.json
  extensions/github/src/api/repository.graphql
  extensions/github/src/create-pull-request.tsx
  extensions/github/src/generated/graphql.ts
Labels: extension fix / improvement, extension: github

#12731 Update chatgpt extension
  extensions/chatgpt/CHANGELOG.md
  extensions/chatgpt/README.md
  extensions/chatgpt/package.json
Labels: extension fix / improvement, extension: chatgpt

#12699 feat(change-case): improve behavior
  extensions/change-case/CHANGELOG.md
  extensions/change-case/README.md
  extensions/change-case/package-lock.json
  extensions/change-case/package.json
  extensions/change-case/src/change-case.tsx
  extensions/change-case/src/types.tsx
Labels: extension fix / improvement, OP is author, extension: change-case

#12750 deprecated sonu.stream
  extensions/sonu-stream/CHANGELOG.md
  extensions/sonu-stream/package-lock.json
  extensions/sonu-stream/package.json
  extensions/sonu-stream/src/common/constants.ts
  extensions/sonu-stream/src/common/get-image-url.ts
  extensions/sonu-stream/src/common/types.ts
  extensions/sonu-stream/src/components/artist-list-item.tsx
  extensions/sonu-stream/src/components/enhanced-track-list-item.tsx
  extensions/sonu-stream/src/components/error-detail.tsx
  extensions/sonu-stream/src/hooks/use-error-toast.ts
  extensions/sonu-stream/src/hooks/use-fetch-search.ts
  extensions/sonu-stream/src/search-artists.tsx
  extensions/sonu-stream/src/search-tracks.tsx
  extensions/sonu-stream/src/vibe-search.tsx
Labels: extension fix / improvement, OP is author, extension: sonu-stream

#12753 Update ugly-face extension
  extensions/ugly-face/CHANGELOG.md
  extensions/ugly-face/README.md
  extensions/ugly-face/metadata/1.png
  extensions/ugly-face/metadata/2.png
  extensions/ugly-face/metadata/ugly-face-1.png
  extensions/ugly-face/metadata/ugly-face-2.png
  extensions/ugly-face/package.json
  extensions/ugly-face/src/components/Svg.tsx
  extensions/ugly-face/src/index.tsx
Labels: extension fix / improvement, OP is author, extension: ugly-face

#12748 feat: use magic byte instead of file extension for validation
  extensions/ilovepdf/CHANGELOG.md
  extensions/ilovepdf/package-lock.json
  extensions/ilovepdf/package.json
  extensions/ilovepdf/src/common/utils.ts
  extensions/ilovepdf/src/compress-pdf.tsx
  extensions/ilovepdf/src/merge-pdf.tsx
  extensions/ilovepdf/src/pdf-to-image.tsx
Labels: extension fix / improvement, OP is author, extension: ilovepdf

#12743 Update vim-bro extension
  extensions/vim-bro/CHANGELOG.md
  extensions/vim-bro/package.json
  extensions/vim-bro/src/commands.json
Labels: extension fix / improvement, extension: vim-bro

#12307 Add outline-document-search extension
  extensions/outline-document-search/.eslintrc.json
  extensions/outline-document-search/.gitignore
  extensions/outline-document-search/.prettierrc
  extensions/outline-document-search/CHANGELOG.md
  extensions/outline-document-search/README.md
  extensions/outline-document-search/assets/outline.png
  extensions/outline-document-search/assets/outline.svg
  extensions/outline-document-search/metadata/outline-document-search-instance-selection.png
  extensions/outline-document-search/metadata/outline-document-search-results.png
  extensions/outline-document-search/package-lock.json
  extensions/outline-document-search/package.json
  extensions/outline-document-search/src/Document.tsx
  extensions/outline-document-search/src/DocumentSearch.tsx
  extensions/outline-document-search/src/EmptyList.tsx
  extensions/outline-document-search/src/InstanceForm.tsx
  extensions/outline-document-search/src/InstancesList.tsx
  extensions/outline-document-search/src/OutlineDocument.ts
  extensions/outline-document-search/src/manage-outline-instances.tsx
  extensions/outline-document-search/src/queryAuthentication.ts
  extensions/outline-document-search/src/queryInstances.ts
  extensions/outline-document-search/src/search-outline-documents.tsx
  extensions/outline-document-search/tsconfig.json
Labels: new extension

#12386 Add battery-optimizer extension
  extensions/battery-optimizer/.eslintrc.json
  extensions/battery-optimizer/.gitignore
  extensions/battery-optimizer/.prettierrc
  extensions/battery-optimizer/CHANGELOG.md
  extensions/battery-optimizer/README.md
  extensions/battery-optimizer/assets/icon.png
  extensions/battery-optimizer/media/battery-optimizer-1.png
  extensions/battery-optimizer/media/battery-optimizer-3.png
  extensions/battery-optimizer/package-lock.json
  extensions/battery-optimizer/package.json
  extensions/battery-optimizer/src/battery_optimizer.ts
  extensions/battery-optimizer/src/get_battery_threshold.ts
  extensions/battery-optimizer/src/reset_battery_optimizer.ts
  extensions/battery-optimizer/src/utils.ts
  extensions/battery-optimizer/src/utils/confirmAlertPersist.ts
  extensions/battery-optimizer/src/utils/getPreference.ts
  extensions/battery-optimizer/src/utils/initBCLM.ts
  extensions/battery-optimizer/tsconfig.json
Labels: new extension

#11170 Update bmrks extension
  extensions/bmrks/CHANGELOG.md
  extensions/bmrks/package.json
  extensions/bmrks/src/components/authenticated-view.tsx
Labels: extension fix / improvement, status: stalled, Dont close, extension: bmrks

#12702 Update visual-studio-code extension
  extensions/visual-studio-code-recent-projects/CHANGELOG.md
  extensions/visual-studio-code-recent-projects/package.json
Labels: extension fix / improvement, OP is contributor, extension: visual-studio-code-recent-projects

#12688 Update color-picker extension
  extensions/color-picker/CHANGELOG.md
  extensions/color-picker/package.json
  extensions/color-picker/src/components/CopyAsSubmenu.tsx
  extensions/color-picker/src/convert-color.tsx
  extensions/color-picker/src/generate-colors.tsx
  extensions/color-picker/src/menu-bar.tsx
  extensions/color-picker/src/organize-colors.tsx
  extensions/color-picker/src/utils.ts
Labels: extension fix / improvement, extension: color-picker

#12690 Add simple english Wikipedia language
  extensions/wikipedia/CHANGELOG.md
  extensions/wikipedia/src/utils/language.ts
Labels: extension fix / improvement, OP is author, extension: wikipedia

#12628 Update checklist extension
  extensions/checklist/.gitignore
  extensions/checklist/CHANGELOG.md
  extensions/checklist/src/components/create-checklist.tsx
Labels: extension fix / improvement, extension: checklist

#12637 Update quick-notes extension
  extensions/quick-notes/CHANGELOG.md
  extensions/quick-notes/README.md
  extensions/quick-notes/metadata/quick-notes-4.png
  extensions/quick-notes/metadata/quick-notes-5.png
  extensions/quick-notes/package-lock.json
  extensions/quick-notes/package.json
  extensions/quick-notes/src/components/actions.tsx
  extensions/quick-notes/src/components/createEditNoteForm.tsx
  extensions/quick-notes/src/components/notesList.tsx
  extensions/quick-notes/src/utils/utils.ts
Labels: extension fix / improvement, OP is author, extension: quick-notes

#12639 Spotify: Add Generate Playlist command
  extensions/spotify-player/CHANGELOG.md
  extensions/spotify-player/README.md
  extensions/spotify-player/package-lock.json
  extensions/spotify-player/package.json
  extensions/spotify-player/src/api/createPlaylist.ts
  extensions/spotify-player/src/generatePlaylist.tsx
Labels: extension fix / improvement, extension: spotify-player

#12650 Update google-meet extension
  extensions/google-meet/.gitignore
  extensions/google-meet/CHANGELOG.md
  extensions/google-meet/package.json
  extensions/google-meet/src/utils/scripts.ts
Labels: extension fix / improvement, OP is contributor, extension: google-meet

#12237 Update simplelogin extension
  extensions/simplelogin/.eslintrc.json
  extensions/simplelogin/CHANGELOG.md
  extensions/simplelogin/metadata/simplelogin-1.png
  extensions/simplelogin/metadata/simplelogin-2.png
  extensions/simplelogin/metadata/simplelogin-3.png
  extensions/simplelogin/package-lock.json
  extensions/simplelogin/package.json
  extensions/simplelogin/src/api/simplelogin_api.tsx
  extensions/simplelogin/src/create_alias.tsx
  extensions/simplelogin/src/create_random_alias.tsx
  extensions/simplelogin/src/list_alias.tsx
  extensions/simplelogin/tsconfig.json
Labels: extension fix / improvement, OP is contributor, extension: simplelogin

#12717 [PM2] Bugfixes & enhancements
  extensions/pm2/CHANGELOG.md
  extensions/pm2/README.md
  extensions/pm2/assets/pm2-wrapper/package-lock.json
  extensions/pm2/assets/pm2-wrapper/package.json
  extensions/pm2/package-lock.json
  extensions/pm2/package.json
  extensions/pm2/src/api.tsx
  extensions/pm2/src/utils.ts
Labels: extension fix / improvement, OP is author, extension: pm2

#12774 [SavvyCal] Update SavvyCal logo
  extensions/savvycal/CHANGELOG.md
  extensions/savvycal/assets/savvycal-icon.png
Labels: extension fix / improvement, OP is contributor, extension: savvycal

#12773 Added KEBAB-UPPER-CASE transform to change-case extension
  extensions/change-case/CHANGELOG.md
  extensions/change-case/README.md
  extensions/change-case/package.json
  extensions/change-case/src/types.tsx
Labels: extension fix / improvement, OP is contributor, extension: change-case

#12195 Update audio-device extension
  extensions/audio-device/.gitignore
  extensions/audio-device/CHANGELOG.md
  extensions/audio-device/assets/audio-devices
  extensions/audio-device/package.json
  extensions/audio-device/src/helpers.tsx
Labels: extension fix / improvement, extension: audio-device

#12481 Add graphcalc extension
  extensions/graphcalc/.eslintrc.json
  extensions/graphcalc/.gitignore
  extensions/graphcalc/CHANGELOG.md
  extensions/graphcalc/LICENSE
  extensions/graphcalc/README.md
  extensions/graphcalc/assets/extension_icon.png
  extensions/graphcalc/metadata/graphcalc-1.png
  extensions/graphcalc/metadata/graphcalc-2.png
  extensions/graphcalc/metadata/graphcalc-3.png
  extensions/graphcalc/package-lock.json
  extensions/graphcalc/package.json
  extensions/graphcalc/src/components/Graph.tsx
  extensions/graphcalc/src/index.tsx
  extensions/graphcalc/tsconfig.json
Labels: new extension

#12784 [password-generator] Add ability to hide raycast window after copy password
  extensions/password-generator/.gitignore
  extensions/password-generator/.prettierrc
  extensions/password-generator/CHANGELOG.md
  extensions/password-generator/package-lock.json
  extensions/password-generator/package.json
  extensions/password-generator/src/generate-password.tsx
  extensions/password-generator/src/helpers/helpers.ts
  extensions/password-generator/tsconfig.json
Labels: extension fix / improvement, extension: password-generator

#12781 Update st-andrews-main-library-occupancy extension
  extensions/st-andrews-main-library-occupancy/CHANGELOG.md
  extensions/st-andrews-main-library-occupancy/README.md
  extensions/st-andrews-main-library-occupancy/package.json
Labels: extension fix / improvement, OP is author, extension: st-andrews-main-library-occupancy

#12740 Update phosphor-icons extension
  extensions/phosphor-icons/CHANGELOG.md
  extensions/phosphor-icons/src/search.tsx
Labels: extension fix / improvement, OP is author, extension: phosphor-icons

#12747 Refactoring
  extensions/ilovepdf/CHANGELOG.md
  extensions/ilovepdf/src/common/utils.ts
  extensions/ilovepdf/src/compress-pdf.tsx
  extensions/ilovepdf/src/image-to-pdf.tsx
  extensions/ilovepdf/src/merge-pdf.tsx
  extensions/ilovepdf/src/pdf-to-image.tsx
Labels: extension fix / improvement, OP is author, extension: ilovepdf

#12380 Update vivapb extension
  extensions/vivapb/CHANGELOG.md
  extensions/vivapb/README.md
  extensions/vivapb/assets/images/image1.png
  extensions/vivapb/assets/images/image2.png
  extensions/vivapb/assets/images/image3.png
  extensions/vivapb/package-lock.json
  extensions/vivapb/package.json
  extensions/vivapb/src/vivapb.tsx
Labels: extension fix / improvement, OP is author, extension: vivapb

#12638 Update alpaca-trading extension
  extensions/alpaca-trading/.eslintrc.json
  extensions/alpaca-trading/CHANGELOG.md
  extensions/alpaca-trading/package-lock.json
  extensions/alpaca-trading/package.json
  extensions/alpaca-trading/src/api/fetch.ts
  extensions/alpaca-trading/src/api/index.ts
  extensions/alpaca-trading/src/api/orders.ts
  extensions/alpaca-trading/src/api/positions.ts
  extensions/alpaca-trading/src/component/index.tsx
  extensions/alpaca-trading/src/components/closePositionForm.tsx
  extensions/alpaca-trading/src/hook/index.ts
  extensions/alpaca-trading/src/hooks/useOrders.ts
  extensions/alpaca-trading/src/hooks/usePositions.ts
  extensions/alpaca-trading/src/manage-orders.tsx
  extensions/alpaca-trading/src/manage-positions.tsx
  extensions/alpaca-trading/src/util/index.ts
  extensions/alpaca-trading/src/utils/display.ts
  extensions/alpaca-trading/src/utils/toast.ts
  extensions/alpaca-trading/tsconfig.json
Labels: extension fix / improvement, OP is author, extension: alpaca-trading

#12718 [Amazon AWS] Improvements for SQS, DynamoDB and CloudFormation commands
  extensions/amazon-aws/CHANGELOG.md
  extensions/amazon-aws/package-lock.json
  extensions/amazon-aws/package.json
  extensions/amazon-aws/src/cloudformation.tsx
  extensions/amazon-aws/src/components/dynamodb/delete-item-form.tsx
  extensions/amazon-aws/src/components/dynamodb/query-form.tsx
  extensions/amazon-aws/src/components/dynamodb/update-item-form.tsx
  extensions/amazon-aws/src/components/sqs/send-message-form.tsx
  extensions/amazon-aws/src/dynamodb.tsx
  extensions/amazon-aws/src/sqs.tsx
  extensions/amazon-aws/src/util/index.tsx
Labels: extension fix / improvement, OP is contributor, extension: amazon-aws

#12609 Add raycaster extension
  extensions/raycaster/.eslintrc.json
  extensions/raycaster/.gitignore
  extensions/raycaster/.prettierrc
  extensions/raycaster/CHANGELOG.md
  extensions/raycaster/README.md
  extensions/raycaster/assets/command-icon.png
  extensions/raycaster/metadata/raycaster-1.png
  extensions/raycaster/package-lock.json
  extensions/raycaster/package.json
  extensions/raycaster/src/authorize.tsx
  extensions/raycaster/src/send-cast.tsx
  extensions/raycaster/src/types.ts
  extensions/raycaster/tsconfig.json
Labels: new extension

#12787 [password-generator] Add preference to store last used password length
  extensions/password-generator/CHANGELOG.md
  extensions/password-generator/package.json
  extensions/password-generator/src/generate-password.tsx
Labels: extension fix / improvement, OP is contributor, extension: password-generator

#12761 [Copy Path] Copy window title
  extensions/copy-path/CHANGELOG.md
  extensions/copy-path/package.json
  extensions/copy-path/src/types/preferences.ts
  extensions/copy-path/src/utils/applescript-utils.ts
  extensions/copy-path/src/utils/common-utils.ts
Labels: extension fix / improvement, OP is author, extension: copy-path

#12727 feat: add word to pdf command
  extensions/ilovepdf/CHANGELOG.md
  extensions/ilovepdf/package.json
  extensions/ilovepdf/src/word-to-pdf.tsx
Labels: extension fix / improvement, OP is author, extension: ilovepdf

#12790 [Paste as Plain Text] Update Paste as Number
  extensions/paste-as-plain-text/CHANGELOG.md
  extensions/paste-as-plain-text/package.json
  extensions/paste-as-plain-text/src/paste-as-plain-text.tsx
  extensions/paste-as-plain-text/src/utils.ts
Labels: extension fix / improvement, OP is author, extension: paste-as-plain-text

#12723 Added fuzzy search, caching, support for pro icons and more
  extensions/fontawesome/.eslintrc.json
  extensions/fontawesome/.gitignore
  extensions/fontawesome/CHANGELOG.md
  extensions/fontawesome/README.md
  extensions/fontawesome/assets/brand.svg
  extensions/fontawesome/assets/command-icon.png
  extensions/fontawesome/assets/duotone-new.svg
  extensions/fontawesome/assets/light.svg
  extensions/fontawesome/assets/regular.svg
  extensions/fontawesome/assets/solid.svg
  extensions/fontawesome/assets/thin.svg
  extensions/fontawesome/metadata/font-awesome-1.png
  extensions/fontawesome/metadata/font-awesome-2.png
  extensions/fontawesome/package-lock.json
  extensions/fontawesome/package.json
  extensions/fontawesome/src/index.tsx
  extensions/fontawesome/src/types.ts
  extensions/fontawesome/src/utils.tsx
Labels: extension fix / improvement, extension: fontawesome

#12801 Update quick-notes extension
  extensions/quick-notes/CHANGELOG.md
  extensions/quick-notes/src/components/notesList.tsx
Labels: extension fix / improvement, OP is author, extension: quick-notes

#12785 Update: Adds new Storyblok API region locations (CA, AP)
  extensions/storyblok/CHANGELOG.md
  extensions/storyblok/package.json
Labels: extension fix / improvement, OP is author, extension: storyblok

#12721 [Hide Files] Toggle Widgets Visibility
  extensions/hide-files/CHANGELOG.md
  extensions/hide-files/package.json
  extensions/hide-files/src/manage-hidden-files.tsx
  extensions/hide-files/src/toggle-desktop-visibility.tsx
  extensions/hide-files/src/types/preferences.ts
  extensions/hide-files/src/utils/hide-files-utils.ts
Labels: extension fix / improvement, OP is author, extension: hide-files

#12770 [Say] Add support for saying the selected text on any application
  extensions/say/CHANGELOG.md
  extensions/say/README.md
  extensions/say/metadata/say-3.png
  extensions/say/package.json
  extensions/say/src/configureSay.tsx
  extensions/say/src/selectedTextToSay.tsx
  extensions/say/src/textToSay.tsx
  extensions/say/src/typeToSay.tsx
  extensions/say/src/types.ts
  extensions/say/src/utils.ts
Labels: extension fix / improvement, OP is author, extension: say

#12759 Update cal-com-share-meeting-links extension
  extensions/cal-com-share-meeting-links/CHANGELOG.md
  extensions/cal-com-share-meeting-links/README.md
  extensions/cal-com-share-meeting-links/metadata/cal-com-share-meeting-links-0.png
  extensions/cal-com-share-meeting-links/metadata/cal-com-share-meeting-links-1.png
  extensions/cal-com-share-meeting-links/metadata/cal-com-share-meeting-links-2.png
  extensions/cal-com-share-meeting-links/metadata/cal-com-share-meeting-links-3.png
  extensions/cal-com-share-meeting-links/metadata/screenshot.png
  extensions/cal-com-share-meeting-links/package-lock.json
  extensions/cal-com-share-meeting-links/package.json
  extensions/cal-com-share-meeting-links/src/services/cal.com.ts
  extensions/cal-com-share-meeting-links/src/view-bookings.tsx
Labels: extension fix / improvement, OP is contributor, extension: cal-com-share-meeting-links

#12805 Update color-picker extension
  extensions/color-picker/CHANGELOG.md
  extensions/color-picker/package.json
  extensions/color-picker/src/utils.ts
Labels: extension fix / improvement, OP is contributor, extension: color-picker

#12823 Update color-picker extension
  extensions/color-picker/CHANGELOG.md
  extensions/color-picker/package.json
Labels: extension fix / improvement, OP is contributor, extension: color-picker

#12828 [Linear] Adds shortcut for "open project in linear" action
  extensions/linear/CHANGELOG.md
  extensions/linear/src/components/Project.tsx
Labels: extension fix / improvement, OP is contributor, extension: linear

#12816 Update get-ssh-key extension
  extensions/get-ssh-key/.eslintrc.json
  extensions/get-ssh-key/.gitignore
  extensions/get-ssh-key/.prettierrc
  extensions/get-ssh-key/CHANGELOG.md
  extensions/get-ssh-key/package-lock.json
  extensions/get-ssh-key/package.json
  extensions/get-ssh-key/src/index.tsx
  extensions/get-ssh-key/src/list.tsx
  extensions/get-ssh-key/src/util/index.ts
  extensions/get-ssh-key/tsconfig.json
Labels: extension fix / improvement, extension: get-ssh-key

#12642 Add habits extension
  extensions/supahabits/.eslintrc.json
  extensions/supahabits/.gitignore
  extensions/supahabits/.prettierrc
  extensions/supahabits/CHANGELOG.md
  extensions/supahabits/README.md
  extensions/supahabits/assets/command-icon.png
  extensions/supahabits/metadata/habits-1.png
  extensions/supahabits/metadata/habits-2.png
  extensions/supahabits/metadata/habits-3.png
  extensions/supahabits/package-lock.json
  extensions/supahabits/package.json
  extensions/supahabits/src/components/create-habit-form.tsx
  extensions/supahabits/src/index.tsx
  extensions/supahabits/src/journal-list.tsx
  extensions/supahabits/src/journal.tsx
  extensions/supahabits/src/models/habit.ts
  extensions/supahabits/src/models/journal-entry.ts
  extensions/supahabits/src/models/preferences.ts
  extensions/supahabits/tsconfig.json
Labels: new extension

#12471 [Update][Speedtest] Detailed view
  extensions/speedtest/CHANGELOG.md
  extensions/speedtest/src/components/bandwidth/component.tsx
  extensions/speedtest/src/components/bandwidth/thresholds.ts
  extensions/speedtest/src/components/bandwidth/types.ts
  extensions/speedtest/src/components/bandwidth/utils.ts
  extensions/speedtest/src/components/isp.tsx
  extensions/speedtest/src/components/list-item-actions.tsx
  extensions/speedtest/src/components/list-item-metadata.tsx
  extensions/speedtest/src/components/ping.tsx
  extensions/speedtest/src/components/result.tsx
  extensions/speedtest/src/components/server.tsx
  extensions/speedtest/src/components/speed.tsx
  extensions/speedtest/src/index.tsx
  extensions/speedtest/src/lib/actions.tsx
  extensions/speedtest/src/lib/cli.ts
  extensions/speedtest/src/lib/hooks.ts
  extensions/speedtest/src/lib/speedtest-pretty-names.ts
  extensions/speedtest/src/lib/speedtest.ts
  extensions/speedtest/src/lib/speedtest.types.ts
  extensions/speedtest/src/lib/utils.ts
Labels: extension fix / improvement, OP is contributor, extension: speedtest

#12777 Improve UI copy for preserve case settings
  extensions/change-case/CHANGELOG.md
  extensions/change-case/package.json
Labels: extension fix / improvement, OP is contributor, extension: change-case

#12567 Update git-commands extension
  extensions/git-commands/.gitignore
  extensions/git-commands/CHANGELOG.md
  extensions/git-commands/metadata/git-commands-1.png
  extensions/git-commands/metadata/git-commands-2.png
  extensions/git-commands/metadata/git-commands-3.png
  extensions/git-commands/package-lock.json
  extensions/git-commands/package.json
  extensions/git-commands/src/alias.json
  extensions/git-commands/src/command-detail.tsx
  extensions/git-commands/src/search-commands.tsx
  extensions/git-commands/src/types.d.ts
  extensions/git-commands/src/utils.ts
  extensions/git-commands/tsconfig.json
Labels: extension fix / improvement, OP is author, extension: git-commands

#12881 [Bugfix] [Auto Quit Apps] Fix bug of not auto quit apps
  extensions/auto-quit-app/.gitignore
  extensions/auto-quit-app/CHANGELOG.md
  extensions/auto-quit-app/package-lock.json
  extensions/auto-quit-app/package.json
  extensions/auto-quit-app/raycast-env.d.ts
  extensions/auto-quit-app/src/auto-quit-app-menubar.tsx
  extensions/auto-quit-app/src/components/action-open-preferences.tsx
  extensions/auto-quit-app/src/hooks/hooks.ts
  extensions/auto-quit-app/src/set-auto-quit-app.tsx
  extensions/auto-quit-app/tsconfig.json
Labels: extension fix / improvement, OP is author, extension: auto-quit-app

#12879 Spotify Player: Generate Playlist fixes
  extensions/spotify-player/CHANGELOG.md
  extensions/spotify-player/package-lock.json
  extensions/spotify-player/package.json
  extensions/spotify-player/src/generatePlaylist.tsx
Labels: extension fix / improvement, OP is contributor, extension: spotify-player

#12882 [Bugfix] [Auto Quit App] Fix bug
  extensions/auto-quit-app/CHANGELOG.md
  extensions/auto-quit-app/src/hooks/hooks.ts
  extensions/auto-quit-app/src/utils/applescript-utils.ts
Labels: extension fix / improvement, OP is author, extension: auto-quit-app

#12686 [Text Decorator] Undecorate Text
  extensions/text-decorator/CHANGELOG.md
  extensions/text-decorator/assets/empty-icons/empty-icon.png
  extensions/text-decorator/assets/empty-icons/empty-icon@dark.png
  extensions/text-decorator/assets/text-decorator-with-font.png
  extensions/text-decorator/assets/text-decorator.png
  extensions/text-decorator/assets/text-undecorator.png
  extensions/text-decorator/metadata/text-decorator-1.png
  extensions/text-decorator/metadata/text-decorator-2.png
  extensions/text-decorator/metadata/text-decorator-3.png
  extensions/text-decorator/package-lock.json
  extensions/text-decorator/package.json
  extensions/text-decorator/src/components/action-on-font.tsx
  extensions/text-decorator/src/components/action-open-preferences.tsx
  extensions/text-decorator/src/components/empty-view.tsx
  extensions/text-decorator/src/decorate-text-with-font.tsx
  extensions/text-decorator/src/decorate-text.tsx
  extensions/text-decorator/src/hooks/hooks.ts
  extensions/text-decorator/src/types/preferences.ts
  extensions/text-decorator/src/types/types.ts
  extensions/text-decorator/src/undecorate-text.tsx
  extensions/text-decorator/src/unicode-db/chardb.json
  extensions/text-decorator/src/unicode-db/unchardb.json
  extensions/text-decorator/src/unicode-db/unicode-text-decorator.ts
  extensions/text-decorator/src/unicode-db/unicode-text-undecorator.ts
  extensions/text-decorator/src/utils/common-utils.ts
  extensions/text-decorator/src/utils/constants.ts
Labels: extension fix / improvement, OP is author, extension: text-decorator

#12691 Update workouts extension
  extensions/workouts/CHANGELOG.md
  extensions/workouts/metadata/workouts-4.png
  extensions/workouts/metadata/workouts-5.png
  extensions/workouts/package-lock.json
  extensions/workouts/package.json
  extensions/workouts/src/api/client.ts
  extensions/workouts/src/menubar-totals.tsx
  extensions/workouts/src/workouts.tsx
Labels: extension fix / improvement, OP is author, extension: workouts

#12696 docs(readwise-reader): Update README with access token link
  extensions/readwise-reader/CHANGELOG.md
  extensions/readwise-reader/README.md
Labels: extension fix / improvement, extension: readwise-reader

#12693 [Badges]: Refactor text input
  extensions/badges/CHANGELOG.md
  extensions/badges/src/components/input.tsx
  extensions/badges/src/components/parameters.tsx
  extensions/badges/src/constants.ts
  extensions/badges/src/createDynamicBadge.tsx
  extensions/badges/src/createEndpointBadge.tsx
  extensions/badges/src/createSocialBadge.tsx
  extensions/badges/src/createStaticBadge.tsx
  extensions/badges/src/types.ts
  extensions/badges/src/utils.ts
Labels: extension fix / improvement, OP is author, extension: badges

#12700 Update browser-ai extension
  extensions/browser-ai/CHANGELOG.md
  extensions/browser-ai/README.md
  extensions/browser-ai/assets/icon.png
  extensions/browser-ai/assets/logo.png
  extensions/browser-ai/package.json
  extensions/browser-ai/src/ask.tsx
  extensions/browser-ai/src/components/ResultView.tsx
  extensions/browser-ai/src/components/ResultView.types.ts
  extensions/browser-ai/src/content.tsx
  extensions/browser-ai/src/custom.tsx
  extensions/browser-ai/src/inspect.tsx
  extensions/browser-ai/src/lib/api.ts
  extensions/browser-ai/src/lib/utils.ts
  extensions/browser-ai/src/youtube.tsx
  extensions/browser-ai/tsconfig.json
Labels: extension fix / improvement, OP is author, extension: browser-ai

#12704 fix(mute-microphone): menu bar icon behaviour
  extensions/mute-microphone/CHANGELOG.md
  extensions/mute-microphone/src/audio-input-level-cache.ts
  extensions/mute-microphone/src/mute-menu-bar.tsx
Labels: extension fix / improvement, OP is contributor, extension: mute-microphone

#12689 Add rdw-kentekencheck extension
  extensions/rdw-kentekencheck/.eslintrc.json
  extensions/rdw-kentekencheck/.gitignore
  extensions/rdw-kentekencheck/.prettierrc
  extensions/rdw-kentekencheck/CHANGELOG.md
  extensions/rdw-kentekencheck/README.md
  extensions/rdw-kentekencheck/assets/list-icon.png
  extensions/rdw-kentekencheck/metadata/dutch-license-plate-search-1.png
  extensions/rdw-kentekencheck/package-lock.json
  extensions/rdw-kentekencheck/package.json
  extensions/rdw-kentekencheck/src/index.tsx
  extensions/rdw-kentekencheck/tsconfig.json
Labels: new extension

#12884 [BugFix] [Decorator Text] Fix flash problem
  extensions/text-decorator/CHANGELOG.md
  extensions/text-decorator/package-lock.json
  extensions/text-decorator/package.json
  extensions/text-decorator/src/decorate-text.tsx
Labels: extension fix / improvement, OP is author, extension: text-decorator

#12708 [Placeholder] Simplify Command
  extensions/placeholder/CHANGELOG.md
  extensions/placeholder/assets/placeholder-icon.png
  extensions/placeholder/metadata/placeholder-1.png
  extensions/placeholder/metadata/placeholder-2.png
  extensions/placeholder/metadata/placeholder-3.png
  extensions/placeholder/package-lock.json
  extensions/placeholder/package.json
  extensions/placeholder/src/components/action-on-placeholder-image.tsx
  extensions/placeholder/src/components/action-open-preferences.tsx
  extensions/placeholder/src/components/image-detail.tsx
  extensions/placeholder/src/components/picsum-image-action.tsx
  extensions/placeholder/src/components/reveal-image-action.tsx
  extensions/placeholder/src/hooks/hooks.ts
  extensions/placeholder/src/random-placeholder-image.tsx
  extensions/placeholder/src/search-placeholder-images.tsx
  extensions/placeholder/src/stylize-placeholder.tsx
  extensions/placeholder/src/types/preferences.ts
  extensions/placeholder/src/types/types.ts
  extensions/placeholder/src/utils/common-utils.ts
Labels: extension fix / improvement, OP is author, extension: placeholder

#12711 Update nhk-program-search extension
  extensions/nhk-program-search/CHANGELOG.md
  extensions/nhk-program-search/metadata/nhk-program-search-1.png
  extensions/nhk-program-search/metadata/nhk-program-search-2.png
  extensions/nhk-program-search/package.json
  extensions/nhk-program-search/src/components/ProgramList.tsx
  extensions/nhk-program-search/src/components/ServiceSelectSearchBar.tsx
  extensions/nhk-program-search/src/preferences.tsx
  extensions/nhk-program-search/src/search-program-by-keyword.tsx
  extensions/nhk-program-search/src/types.ts
Labels: extension fix / improvement, OP is author, extension: nhk-program-search

#12448 Add nowplaying-cli extension
  extensions/nowplaying-cli/.eslintrc.json
  extensions/nowplaying-cli/.gitignore
  extensions/nowplaying-cli/.prettierrc
  extensions/nowplaying-cli/CHANGELOG.md
  extensions/nowplaying-cli/README.md
  extensions/nowplaying-cli/assets/next.png
  extensions/nowplaying-cli/assets/play_pause.png
  extensions/nowplaying-cli/assets/previous.png
  extensions/nowplaying-cli/package-lock.json
  extensions/nowplaying-cli/package.json
  extensions/nowplaying-cli/src/go-next.tsx
  extensions/nowplaying-cli/src/go-prev.tsx
  extensions/nowplaying-cli/src/toggle-play-pause.tsx
  extensions/nowplaying-cli/src/util.ts
  extensions/nowplaying-cli/tsconfig.json
Labels: new extension

#12739 Add helldivers2 extension
  extensions/helldivers2/.eslintrc.json
  extensions/helldivers2/.gitignore
  extensions/helldivers2/.prettierrc
  extensions/helldivers2/CHANGELOG.md
  extensions/helldivers2/README.md
  extensions/helldivers2/assets/1.png
  extensions/helldivers2/assets/2.png
  extensions/helldivers2/assets/3.png
  extensions/helldivers2/assets/command-icon.png
  extensions/helldivers2/metadata/helldivers2-1.png
  extensions/helldivers2/metadata/helldivers2-2.png
  extensions/helldivers2/metadata/helldivers2-3.png
  extensions/helldivers2/package-lock.json
  extensions/helldivers2/package.json
  extensions/helldivers2/src/active-planets.tsx
  extensions/helldivers2/src/data/campaignTypes.ts
  extensions/helldivers2/src/data/factions.ts
  extensions/helldivers2/src/data/planets.ts
  extensions/helldivers2/src/dispatches.tsx
  extensions/helldivers2/src/hooks/useAssignments.ts
  extensions/helldivers2/src/hooks/useCurrentSeason.ts
  extensions/helldivers2/src/hooks/useFetch.ts
  extensions/helldivers2/src/hooks/useNewsFeed.ts
  extensions/helldivers2/src/hooks/usePlanetCampaigns.ts
  extensions/helldivers2/src/hooks/useSummaryStats.ts
  extensions/helldivers2/src/hooks/useWarInfo.ts
  extensions/helldivers2/src/hooks/useWarStatus.ts
  extensions/helldivers2/src/major-orders.tsx
  extensions/helldivers2/src/open-map.tsx
  extensions/helldivers2/tsconfig.json
Labels: new extension

#12896 [Raycast Wallpaper] Preference to specify refresh intervals
  extensions/raycast-wallpaper/CHANGELOG.md
  extensions/raycast-wallpaper/package-lock.json
  extensions/raycast-wallpaper/package.json
  extensions/raycast-wallpaper/src/auto-switch-raycast-wallpaper.ts
  extensions/raycast-wallpaper/src/utils/constants.ts
  extensions/raycast-wallpaper/tsconfig.json
Labels: extension fix / improvement, extension: raycast-wallpaper

#12713 Add invoice-generator extension
  extensions/invoice-generator/.eslintrc.json
  extensions/invoice-generator/.gitignore
  extensions/invoice-generator/.prettierrc
  extensions/invoice-generator/CHANGELOG.md
  extensions/invoice-generator/README.md
  extensions/invoice-generator/assets/command-icon.png
  extensions/invoice-generator/media/invoice-generator-6.png
  extensions/invoice-generator/metadata/invoice-generator-1.png
  extensions/invoice-generator/metadata/invoice-generator-2.png
  extensions/invoice-generator/metadata/invoice-generator-3.png
  extensions/invoice-generator/metadata/invoice-generator-4.png
  extensions/invoice-generator/metadata/invoice-generator-5.png
  extensions/invoice-generator/package-lock.json
  extensions/invoice-generator/package.json
  extensions/invoice-generator/src/generate-invoice.tsx
  extensions/invoice-generator/src/scripts.ts
  extensions/invoice-generator/src/types.ts
  extensions/invoice-generator/src/utils.ts
  extensions/invoice-generator/tsconfig.json
Labels: new extension

#12728 Update spanish-tv-guide extension
  extensions/spanish-tv-guide/.eslintrc.json
  extensions/spanish-tv-guide/CHANGELOG.md
  extensions/spanish-tv-guide/README.md
  extensions/spanish-tv-guide/docs/spanish-tv-guide-1.png
  extensions/spanish-tv-guide/package-lock.json
  extensions/spanish-tv-guide/package.json
  extensions/spanish-tv-guide/src/components/ChannelDetails.tsx
  extensions/spanish-tv-guide/src/components/ChannelList.tsx
  extensions/spanish-tv-guide/src/components/ErrorMessage.tsx
  extensions/spanish-tv-guide/src/components/SelectedChannel.tsx
  extensions/spanish-tv-guide/src/components/SelectedProgram.tsx
  extensions/spanish-tv-guide/src/index.tsx
  extensions/spanish-tv-guide/src/modules/tv/domain/tvSchedule.ts
  extensions/spanish-tv-guide/src/modules/tv/domain/tvScheduleDto.ts
  extensions/spanish-tv-guide/src/modules/tv/repositories/dto/programResponse.ts
  extensions/spanish-tv-guide/src/modules/tv/repositories/tvScheduleRepository.ts
  extensions/spanish-tv-guide/src/utils/dateUtils.ts
  extensions/spanish-tv-guide/src/utils/iconUtils.ts
  extensions/spanish-tv-guide/src/utils/objectUtils.ts
  extensions/spanish-tv-guide/src/utils/stringUtils.ts
  extensions/spanish-tv-guide/test/modules/tv/repositories/tvScheduleRepository.spec.ts
  extensions/spanish-tv-guide/test/utils/dateUtils.spec.ts
Labels: extension fix / improvement, OP is author, extension: spanish-tv-guide

#12682 Add network-drive extension
  extensions/network-drive/.eslintrc.json
  extensions/network-drive/.gitignore
  extensions/network-drive/.prettierrc
  extensions/network-drive/CHANGELOG.md
  extensions/network-drive/README.md
  extensions/network-drive/assets/icon.png
  extensions/network-drive/metadata/network-drive-1.png
  extensions/network-drive/package-lock.json
  extensions/network-drive/package.json
  extensions/network-drive/src/index.tsx
  extensions/network-drive/src/utils-disk-info.tsx
  extensions/network-drive/src/utils-disk-mount.tsx
  extensions/network-drive/src/utils-disk-network.tsx
  extensions/network-drive/src/utils-other.tsx
  extensions/network-drive/src/utils-preference.tsx
  extensions/network-drive/tsconfig.json
Labels: new extension

#12852 Update u301-url-shortener extension
  extensions/u301-url-shortener/CHANGELOG.md
  extensions/u301-url-shortener/README.md
  extensions/u301-url-shortener/package.json
  extensions/u301-url-shortener/src/index.tsx
Labels: extension fix / improvement, OP is author, extension: u301-url-shortener

#12738 Add code-smells extension
  extensions/code-smells/.eslintrc.json
  extensions/code-smells/.gitignore
  extensions/code-smells/.prettierrc
  extensions/code-smells/CHANGELOG.md
  extensions/code-smells/README.md
  extensions/code-smells/assets/code_smell_icon.png
  extensions/code-smells/metadata/code-smells-1.png
  extensions/code-smells/metadata/code-smells-2.png
  extensions/code-smells/metadata/code-smells-3.png
  extensions/code-smells/metadata/code-smells-4.png
  extensions/code-smells/package-lock.json
  extensions/code-smells/package.json
  extensions/code-smells/src/components/ListSectionCategory.tsx
  extensions/code-smells/src/components/smells.tsx
  extensions/code-smells/src/data/code-smells.ts
  extensions/code-smells/src/data/obstructions.ts
  extensions/code-smells/src/data/ocurrences.ts
  extensions/code-smells/src/data/smellHierarchies.ts
  extensions/code-smells/src/data/types.ts
  extensions/code-smells/src/index.tsx
  extensions/code-smells/src/list-filtered.tsx
  extensions/code-smells/tsconfig.json
Labels: new extension

#12742 Update logseq extension
  extensions/logseq/CHANGELOG.md
  extensions/logseq/package-lock.json
  extensions/logseq/package.json
  extensions/logseq/src/index.tsx
  extensions/logseq/src/tasks.tsx
  extensions/logseq/src/utils.ts
Labels: extension fix / improvement, extension: logseq

#12757 [Week Number] Show the current week of the year
  extensions/week-number/.eslintrc.json
  extensions/week-number/.gitignore
  extensions/week-number/.prettierrc
  extensions/week-number/CHANGELOG.md
  extensions/week-number/README.md
  extensions/week-number/assets/week-number-icon.png
  extensions/week-number/metadata/week-number-1.png
  extensions/week-number/metadata/week-number-2.png
  extensions/week-number/metadata/week-number-3.png
  extensions/week-number/package-lock.json
  extensions/week-number/package.json
  extensions/week-number/src/find-week-number.tsx
  extensions/week-number/src/types/preferences.ts
  extensions/week-number/src/utils/common-utils.ts
  extensions/week-number/src/utils/constants.ts
  extensions/week-number/src/week-number.tsx
  extensions/week-number/tsconfig.json
Labels: new extension

#12758 [Trello] Update Trello autho scope in read me
  extensions/trello/CHANGELOG.md
  extensions/trello/package-lock.json
  extensions/trello/package.json
  extensions/trello/readme.md
Labels: extension fix / improvement, OP is author, extension: trello

#12764 Update quick-latex extension
  extensions/quick-latex/CHANGELOG.md
  extensions/quick-latex/README.md
  extensions/quick-latex/package.json
  extensions/quick-latex/src/api.tsx
  extensions/quick-latex/src/utils.tsx
Labels: extension fix / improvement, extension: quick-latex

#12776 [Outline Document Search] docs(readme): align with extension’s user interface
  extensions/outline-document-search/CHANGELOG.md
  extensions/outline-document-search/README.md
Labels: extension fix / improvement, OP is author, extension: outline-document-search

#12767 Bear: Menu bar command + improvements
  extensions/bear/.eslintrc.json
  extensions/bear/.gitignore
  extensions/bear/CHANGELOG.md
  extensions/bear/README.md
  extensions/bear/assets/bear-icon.png
  extensions/bear/assets/command-icon.png
  extensions/bear/assets/sql-wasm.wasm
  extensions/bear/package-lock.json
  extensions/bear/package.json
  extensions/bear/src/add-text.tsx
  extensions/bear/src/bear-db.ts
  extensions/bear/src/db-queries.ts
  extensions/bear/src/index.tsx
  extensions/bear/src/menu-bar.tsx
  extensions/bear/src/new-note.tsx
Labels: extension fix / improvement, extension: bear

#12836 [Espanso] Better search
  extensions/espanso/CHANGELOG.md
  extensions/espanso/README.md
  extensions/espanso/package-lock.json
  extensions/espanso/package.json
  extensions/espanso/src/add-match.tsx
  extensions/espanso/src/components/category-dropdown/index.tsx
  extensions/espanso/src/index.tsx
  extensions/espanso/src/lib/types.ts
  extensions/espanso/src/lib/utils.ts
Labels: extension fix / improvement, OP is author, extension: espanso

#12906 [ray.so] Dynamic theme gradient icons
  extensions/ray-so/CHANGELOG.md
  extensions/ray-so/assets/breeze.png
  extensions/ray-so/assets/candy.png
  extensions/ray-so/assets/crimson.png
  extensions/ray-so/assets/falcon.png
  extensions/ray-so/assets/meadow.png
  extensions/ray-so/assets/midnight.png
  extensions/ray-so/assets/mono.png
  extensions/ray-so/assets/raindrop.png
  extensions/ray-so/assets/sunset.png
  extensions/ray-so/package.json
  extensions/ray-so/src/create-a-snippet.tsx
Labels: extension fix / improvement, extension: ray-so

#12908 Update cal-com-share-meeting-links extension
  extensions/cal-com-share-meeting-links/CHANGELOG.md
  extensions/cal-com-share-meeting-links/package-lock.json
  extensions/cal-com-share-meeting-links/package.json
  extensions/cal-com-share-meeting-links/src/services/cal.com.ts
  extensions/cal-com-share-meeting-links/src/view-bookings.tsx
Labels: extension fix / improvement, OP is contributor, extension: cal-com-share-meeting-links

#12741 [GitHub For Enterprise] Add notifications command and menu bar icon
  extensions/github-for-enterprise/.env.example
  extensions/github-for-enterprise/.eslintrc.json
  extensions/github-for-enterprise/.gitignore
  extensions/github-for-enterprise/.nvmrc
  extensions/github-for-enterprise/CHANGELOG.md
  extensions/github-for-enterprise/CONTRIBUTING.md
  extensions/github-for-enterprise/README.md
  extensions/github-for-enterprise/assets/github-unread.svg
  extensions/github-for-enterprise/assets/github.svg
  extensions/github-for-enterprise/codegen.ts
  extensions/github-for-enterprise/package-lock.json
  extensions/github-for-enterprise/package.json
  extensions/github-for-enterprise/src/api/githubClient.ts
  extensions/github-for-enterprise/src/api/repository.graphql
  extensions/github-for-enterprise/src/api/user.graphql
  extensions/github-for-enterprise/src/components/NotificationActions.tsx
  extensions/github-for-enterprise/src/components/NotificationListItem.tsx
  extensions/github-for-enterprise/src/components/RepositoryDropdown.tsx
  extensions/github-for-enterprise/src/generated/graphql.ts
  extensions/github-for-enterprise/src/helpers/errors.ts
  extensions/github-for-enterprise/src/helpers/notifications.ts
  extensions/github-for-enterprise/src/helpers/withGithubClient.tsx
  extensions/github-for-enterprise/src/hooks/useMyProjects.ts
  extensions/github-for-enterprise/src/hooks/useRepositories.ts
  extensions/github-for-enterprise/src/hooks/useViewer.ts
  extensions/github-for-enterprise/src/notifications.tsx
  extensions/github-for-enterprise/src/unread-notifications.tsx
Labels: extension fix / improvement, extension: github-for-enterprise

#12893 Update system-information extension
  extensions/system-information/CHANGELOG.md
  extensions/system-information/README.md
  extensions/system-information/assets/macos_big_sur.png
  extensions/system-information/assets/macos_catalina.png
  extensions/system-information/package-lock.json
  extensions/system-information/package.json
  extensions/system-information/src/index.jsx
Labels: extension fix / improvement, extension: system-information

#12834 Add `The Lord of the Rings` extension
  extensions/lotr/.eslintrc.json
  extensions/lotr/.gitignore
  extensions/lotr/.prettierrc
  extensions/lotr/CHANGELOG.md
  extensions/lotr/README.md
  extensions/lotr/assets/icons8-dragon-48.png
  extensions/lotr/assets/icons8-frodo-48.png
  extensions/lotr/assets/icons8-gandalf-48.png
  extensions/lotr/assets/icons8-goblin-48.png
  extensions/lotr/assets/icons8-gollum-48.png
  extensions/lotr/assets/icons8-legolas-48.png
  extensions/lotr/assets/icons8-orc-48.png
  extensions/lotr/assets/lotr-fandom-wiki.png
  extensions/lotr/assets/the-one-ring.png
  extensions/lotr/metadata/lotr-1-movies.png
  extensions/lotr/metadata/lotr-2-characters.png
  extensions/lotr/metadata/lotr-3-books.png
  extensions/lotr/metadata/lotr-4-chapters.png
  extensions/lotr/metadata/lotr-5-quotes.png
  extensions/lotr/metadata/lotr-6-saved-quotes.png
  extensions/lotr/package-lock.json
  extensions/lotr/package.json
  extensions/lotr/src/ErrorComponent.tsx
  extensions/lotr/src/books.tsx
  extensions/lotr/src/characters.tsx
  extensions/lotr/src/constants.ts
  extensions/lotr/src/movies.tsx
  extensions/lotr/src/types.ts
  extensions/lotr/tsconfig.json
Labels: new extension

#12789 Add incident-io extension
  extensions/incident-io/.eslintrc.json
  extensions/incident-io/.gitignore
  extensions/incident-io/.prettierrc
  extensions/incident-io/CHANGELOG.md
  extensions/incident-io/README.md
  extensions/incident-io/assets/incidentio-active.png
  extensions/incident-io/assets/incidentio-dark.png
  extensions/incident-io/assets/incidentio-light.png
  extensions/incident-io/assets/logo.png
  extensions/incident-io/metadata/incident-io-1.png
  extensions/incident-io/package-lock.json
  extensions/incident-io/package.json
  extensions/incident-io/src/incident.tsx
  extensions/incident-io/src/live-incidents.tsx
  extensions/incident-io/tsconfig.json
Labels: new extension

#12798 Update connect-to-vpn extension
  extensions/connect-to-vpn/CHANGELOG.md
  extensions/connect-to-vpn/package.json
  extensions/connect-to-vpn/src/index.tsx
Labels: extension fix / improvement, extension: connect-to-vpn

#12826 Update Pomodoro Extension
  extensions/pomodoro/.eslintrc.json
  extensions/pomodoro/CHANGELOG.md
  extensions/pomodoro/lib/constants.ts
  extensions/pomodoro/lib/intervals.tsx
  extensions/pomodoro/lib/slack/slackAPI.ts
  extensions/pomodoro/lib/slack/slackIntervals.ts
  extensions/pomodoro/package-lock.json
  extensions/pomodoro/package.json
  extensions/pomodoro/src/pomodoro-control-timer.tsx
  extensions/pomodoro/src/pomodoro-menu-bar.tsx
  extensions/pomodoro/src/slack-pomodoro-control-timer.tsx
  extensions/pomodoro/src/slack-pomodoro-menu-bar.tsx
  extensions/pomodoro/tsconfig.json
Labels: extension fix / improvement, extension: pomodoro

#12827 Add adonisjs-documentation extension
  extensions/adonisjs-documentation/.eslintrc.json
  extensions/adonisjs-documentation/.gitignore
  extensions/adonisjs-documentation/.prettierrc
  extensions/adonisjs-documentation/CHANGELOG.md
  extensions/adonisjs-documentation/README.md
  extensions/adonisjs-documentation/assets/adonis-logo-128.png
  extensions/adonisjs-documentation/assets/adonis-logo.png
  extensions/adonisjs-documentation/media/screenshot.png
  extensions/adonisjs-documentation/package-lock.json
  extensions/adonisjs-documentation/package.json
  extensions/adonisjs-documentation/src/adonis.tsx
  extensions/adonisjs-documentation/tsconfig.json
Labels: new extension

#12918 Update image-wallet extension
  extensions/image-wallet/CHANGELOG.md
  extensions/image-wallet/package.json
  extensions/image-wallet/src/image-wallet.tsx
  extensions/image-wallet/src/types.ts
  extensions/image-wallet/src/utils.ts
Labels: extension fix / improvement, OP is author, extension: image-wallet

#12848 Update lodash extension
  extensions/lodash/CHANGELOG.md
  extensions/lodash/package.json
  extensions/lodash/src/lodash.json
Labels: extension fix / improvement, extension: lodash

#12943 Linear: Add support for all notification types
  extensions/linear/CHANGELOG.md
  extensions/linear/src/helpers/notifications.ts
Labels: extension fix / improvement, OP is author, extension: linear

#12352 feat(cleanshotx): add open-settings and open-all-uploads command
  extensions/cleanshotx/.gitignore
  extensions/cleanshotx/CHANGELOG.md
  extensions/cleanshotx/assets/add-quick-access-overlay.png
  extensions/cleanshotx/assets/all-in-one.png
  extensions/cleanshotx/assets/annotate.png
  extensions/cleanshotx/assets/capture-area.png
  extensions/cleanshotx/assets/capture-fullscreen.png
  extensions/cleanshotx/assets/capture-previous-area.png
  extensions/cleanshotx/assets/capture-text.png
  extensions/cleanshotx/assets/capture-window.png
  extensions/cleanshotx/assets/clipboard.png
  extensions/cleanshotx/assets/hide-desktop-icons.png
  extensions/cleanshotx/assets/open-history.png
  extensions/cleanshotx/assets/open-settings.png
  extensions/cleanshotx/assets/pin.png
  extensions/cleanshotx/assets/record-screen.png
  extensions/cleanshotx/assets/restore.png
  extensions/cleanshotx/assets/scrolling-capture.png
  extensions/cleanshotx/assets/self-timer.png
  extensions/cleanshotx/assets/show-desktop-icons.png
  extensions/cleanshotx/assets/toggle-desktop-icons.png
  extensions/cleanshotx/assets/view-uploads.png
  extensions/cleanshotx/package-lock.json
  extensions/cleanshotx/package.json
  extensions/cleanshotx/src/add-quick-access-overlay.tsx
  extensions/cleanshotx/src/annotate.tsx
  extensions/cleanshotx/src/capture-area.tsx
  extensions/cleanshotx/src/capture-fullscreen.tsx
  extensions/cleanshotx/src/capture-previous-area.tsx
  extensions/cleanshotx/src/capture-window.tsx
  extensions/cleanshotx/src/open-settings.tsx
  extensions/cleanshotx/src/pin.tsx
  extensions/cleanshotx/src/self-timer.tsx
  extensions/cleanshotx/src/view-uploads.tsx
  extensions/cleanshotx/tsconfig.json
Labels: extension fix / improvement, OP is contributor, extension: cleanshotx

#12765 Add recent-excel extension
  extensions/recent-excel/.eslintrc.json
  extensions/recent-excel/.gitignore
  extensions/recent-excel/.prettierrc
  extensions/recent-excel/CHANGELOG.md
  extensions/recent-excel/README.md
  extensions/recent-excel/assets/command-icon.png
  extensions/recent-excel/metadata/Screenshot01.png
  extensions/recent-excel/package-lock.json
  extensions/recent-excel/package.json
  extensions/recent-excel/src/search-recent-excel-sheets.tsx
  extensions/recent-excel/tsconfig.json
Labels: new extension

#12862 [Amazon AWS] Improvements for SQS, DynamoDB, CFN and CW Logs commands
  extensions/amazon-aws/CHANGELOG.md
  extensions/amazon-aws/assets/aws-icons/cw/logs.png
  extensions/amazon-aws/package-lock.json
  extensions/amazon-aws/src/cloudformation.tsx
  extensions/amazon-aws/src/cloudwatch.tsx
  extensions/amazon-aws/src/dynamodb.tsx
  extensions/amazon-aws/src/hooks/use-cfn.ts
  extensions/amazon-aws/src/hooks/use-ddb.ts
  extensions/amazon-aws/src/hooks/use-logs.ts
  extensions/amazon-aws/src/hooks/use-sqs.ts
  extensions/amazon-aws/src/sqs.tsx
  extensions/amazon-aws/src/util/index.ts
Labels: extension fix / improvement, OP is contributor, extension: amazon-aws

#12725 [Slack] Adds action to open slack links in the browser
  extensions/slack/CHANGELOG.md
  extensions/slack/package-lock.json
  extensions/slack/package.json
  extensions/slack/src/search.tsx
  extensions/slack/src/shared/OpenInSlack.tsx
  extensions/slack/src/shared/utils.ts
  extensions/slack/src/unread-messages.tsx
Labels: extension fix / improvement, extension: slack

#12829 [Refresh Browsers] Refresh all browser tabs
  extensions/refresh-browsers/.eslintrc.json
  extensions/refresh-browsers/.gitignore
  extensions/refresh-browsers/.prettierrc
  extensions/refresh-browsers/CHANGELOG.md
  extensions/refresh-browsers/README.md
  extensions/refresh-browsers/assets/refresh-browser-icon.png
  extensions/refresh-browsers/metadata/refresh-browsers-1.png
  extensions/refresh-browsers/package-lock.json
  extensions/refresh-browsers/package.json
  extensions/refresh-browsers/src/refresh-browsers.tsx
  extensions/refresh-browsers/src/utils/applescript-utils.ts
  extensions/refresh-browsers/src/utils/common-utils.ts
  extensions/refresh-browsers/src/utils/constants.ts
  extensions/refresh-browsers/tsconfig.json
Labels: new extension

#12830 [Google Maven Repository] Show update time
  extensions/google-maven-repository/CHANGELOG.md
  extensions/google-maven-repository/assets/google-maven.png
  extensions/google-maven-repository/assets/google-maven@dark.png
  extensions/google-maven-repository/assets/icon_maven.png
  extensions/google-maven-repository/assets/search-google-maven-repository.png
  extensions/google-maven-repository/assets/search-google-maven-repository@dark.png
  extensions/google-maven-repository/assets/show-google-maven.png
  extensions/google-maven-repository/assets/show-google-maven@dark.png
  extensions/google-maven-repository/metadata/Metadata-1.png
  extensions/google-maven-repository/metadata/Metadata-2.png
  extensions/google-maven-repository/metadata/Metadata-3.png
  extensions/google-maven-repository/metadata/Metadata-4.png
  extensions/google-maven-repository/metadata/google-maven-repository-1.png
  extensions/google-maven-repository/metadata/google-maven-repository-2.png
  extensions/google-maven-repository/metadata/google-maven-repository-3.png
  extensions/google-maven-repository/package-lock.json
  extensions/google-maven-repository/package.json
  extensions/google-maven-repository/src/hooks/hooks.ts
  extensions/google-maven-repository/src/search-google-maven-repository.tsx
  extensions/google-maven-repository/src/show-google-artifacts.tsx
  extensions/google-maven-repository/src/show-google-maven-repository.tsx
  extensions/google-maven-repository/src/types/maven-model.ts
  extensions/google-maven-repository/src/types/packages-model.ts
  extensions/google-maven-repository/src/utils/common-utils.ts
  extensions/google-maven-repository/src/utils/google-maven-utils.ts
  extensions/google-maven-repository/src/utils/ui-component.tsx
Labels: extension fix / improvement, OP is author, extension: google-maven-repository

#12838 refactor: make some API request in parallel
  extensions/slack/CHANGELOG.md
  extensions/slack/src/shared/client/SlackClient.ts
Labels: extension fix / improvement, OP is contributor, extension: slack

#12945 Update brew extension
  extensions/brew/CHANGELOG.md
  extensions/brew/metadata/brew-1.png
  extensions/brew/metadata/brew-2.png
  extensions/brew/metadata/brew-3.png
  extensions/brew/metadata/brew-4.png
  extensions/brew/metadata/brew-5.png
  extensions/brew/metadata/screenshot-01.png
  extensions/brew/metadata/screenshot-02.png
  extensions/brew/metadata/screenshot-03.png
  extensions/brew/metadata/screenshot-04.png
  extensions/brew/metadata/screenshot-05.png
  extensions/brew/package-lock.json
  extensions/brew/package.json
  extensions/brew/src/components/actions.tsx
  extensions/brew/src/components/caskInfo.tsx
  extensions/brew/src/components/formulaInfo.tsx
  extensions/brew/src/components/runInTerminal.ts
Labels: extension fix / improvement, extension: brew

#12947 Update playback-duration-calculator extension
  extensions/playback-duration-calculator/CHANGELOG.md
  extensions/playback-duration-calculator/README.md
  extensions/playback-duration-calculator/package-lock.json
  extensions/playback-duration-calculator/package.json
  extensions/playback-duration-calculator/src/components/CalculationView.tsx
Labels: extension fix / improvement, OP is author, extension: playback-duration-calculator

#12839 feat: add split pdf command
  extensions/ilovepdf/CHANGELOG.md
  extensions/ilovepdf/package.json
  extensions/ilovepdf/src/split-pdf.tsx
Labels: extension fix / improvement, OP is author, extension: ilovepdf

#12955 [Espanso] Fixing issue when packages are installed
  extensions/espanso/CHANGELOG.md
  extensions/espanso/src/index.tsx
  extensions/espanso/src/lib/utils.ts
Labels: extension fix / improvement, OP is author, extension: espanso

#11918 Update jira-time-tracking extension
  extensions/jira-time-tracking/CHANGELOG.md
  extensions/jira-time-tracking/README.md
  extensions/jira-time-tracking/metadata/metadata.png
  extensions/jira-time-tracking/package-lock.json
  extensions/jira-time-tracking/package.json
  extensions/jira-time-tracking/src/controllers.ts
  extensions/jira-time-tracking/src/handlers.ts
  extensions/jira-time-tracking/src/index.tsx
  extensions/jira-time-tracking/src/requests.ts
  extensions/jira-time-tracking/src/types.ts
  extensions/jira-time-tracking/src/utils.ts
  extensions/jira-time-tracking/src/validators.ts
Labels: extension fix / improvement, extension: jira-time-tracking

#12916 [Amazon AWS] Add SSO Login for Console command
  extensions/amazon-aws/CHANGELOG.md
  extensions/amazon-aws/package.json
  extensions/amazon-aws/src/components/searchbar/aws-profile-dropdown.tsx
  extensions/amazon-aws/src/console.tsx
Labels: extension fix / improvement, extension: amazon-aws

#12949 Update popicons extension
  extensions/popicons/.gitignore
  extensions/popicons/CHANGELOG.md
  extensions/popicons/assets/offline-popicons/duotone.json
  extensions/popicons/assets/offline-popicons/line.json
  extensions/popicons/assets/offline-popicons/solid.json
  extensions/popicons/assets/popicons.json
  extensions/popicons/metadata/popicons-1.png
  extensions/popicons/metadata/popicons-2.png
  extensions/popicons/metadata/popicons-3.png
  extensions/popicons/metadata/popicons-4.png
  extensions/popicons/package-lock.json
  extensions/popicons/package.json
  extensions/popicons/src/browse-popicons.tsx
  extensions/popicons/src/components/cached-query-client-provider/cached-query-client-provider.tsx
  extensions/popicons/src/components/popicon-grid/popicon-grid-context.ts
  extensions/popicons/src/components/popicon-grid/popicon-grid-item.tsx
  extensions/popicons/src/components/popicon-grid/popicon-grid-promo-actions.tsx
  extensions/popicons/src/components/popicon-grid/popicon-grid-section.tsx
  extensions/popicons/src/components/popicon-grid/popicon-grid.tsx
  extensions/popicons/src/constants/toasts.ts
  extensions/popicons/src/enums/fetch-popicons-error-reason.ts
  extensions/popicons/src/enums/local-popicons-error-reason.ts
  extensions/popicons/src/errors/fetch-popicons-error.ts
  extensions/popicons/src/errors/local-popicons-error.ts
  extensions/popicons/src/helpers/exhaustive.ts
  extensions/popicons/src/helpers/get-column-amount.ts
  extensions/popicons/src/helpers/get-new-issue-url.ts
  extensions/popicons/src/helpers/get-popicon-api-url.ts
  extensions/popicons/src/helpers/get-popicon-categories.ts
  extensions/popicons/src/helpers/get-popicon-storage-path.ts
  extensions/popicons/src/helpers/get-svg.ts
  extensions/popicons/src/helpers/get-variant-name.ts
  extensions/popicons/src/helpers/is-online.ts
  extensions/popicons/src/helpers/is-popicons-api-error.ts
  extensions/popicons/src/helpers/is-user-is-likely-offline-error.ts
  extensions/popicons/src/helpers/kebab-case-to-title-case.ts
  extensions/popicons/src/hooks/use-fetch-popicons.ts
  extensions/popicons/src/hooks/use-local-popicons.ts
  extensions/popicons/src/hooks/use-new-popicons.ts
  extensions/popicons/src/hooks/use-popicons.ts
  extensions/popicons/src/queries/popicon-query.ts
  extensions/popicons/src/schemas/popicon-response.ts
  extensions/popicons/src/schemas/popicon.ts
  extensions/popicons/src/types/use-fetch-options.ts
  extensions/popicons/src/utilities/attempt.ts
  extensions/popicons/src/utilities/omit.ts
  extensions/popicons/src/utilities/raise.ts
  extensions/popicons/src/utilities/types/brand.ts
  extensions/popicons/src/utilities/types/prettify.ts
Labels: extension fix / improvement, OP is author, extension: popicons

#12840 [Beeminder] Change due field for a better representation of the goal
  extensions/beeminder/CHANGELOG.md
  extensions/beeminder/package-lock.json
  extensions/beeminder/package.json
  extensions/beeminder/src/api.ts
  extensions/beeminder/src/beeminder.tsx
Labels: extension fix / improvement, OP is author, extension: beeminder

#12843 Add freesound extension
  extensions/freesound/.eslintrc.json
  extensions/freesound/.gitignore
  extensions/freesound/.prettierrc
  extensions/freesound/CHANGELOG.md
  extensions/freesound/README.md
  extensions/freesound/assets/command-icon.png
  extensions/freesound/assets/freesound.svg
  extensions/freesound/metadata/freesound-1.png
  extensions/freesound/metadata/freesound-2.png
  extensions/freesound/metadata/freesound-3.png
  extensions/freesound/metadata/freesound-4.png
  extensions/freesound/metadata/freesound-5.png
  extensions/freesound/package-lock.json
  extensions/freesound/package.json
  extensions/freesound/src/components/ListItem.tsx
  extensions/freesound/src/components/UserDetails.tsx
  extensions/freesound/src/hooks/useSearch.ts
  extensions/freesound/src/hooks/useSoundPlayer.ts
  extensions/freesound/src/lib/api.ts
  extensions/freesound/src/lib/file.ts
  extensions/freesound/src/search-sound.tsx
  extensions/freesound/src/types/index.ts
  extensions/freesound/tsconfig.json
Labels: new extension

#12339 Update openweathermap extension
  extensions/openweathermap/CHANGELOG.md
  extensions/openweathermap/README.md
  extensions/openweathermap/package-lock.json
  extensions/openweathermap/package.json
  extensions/openweathermap/src/lib/openweathermap.ts
Labels: extension fix / improvement, extension: openweathermap

#12987 [Simple Reminder] Add more meaningful error messages in production
  extensions/simple-reminder/CHANGELOG.md
  extensions/simple-reminder/src/hooks/useFetchStoredReminders.ts
  extensions/simple-reminder/src/reminderMenuBar.tsx
  extensions/simple-reminder/src/reminderNotifications.ts
  extensions/simple-reminder/src/utils/buildException.ts
  extensions/simple-reminder/src/utils/sendPushNotificationWithNtfy.ts
Labels: extension fix / improvement, OP is author, extension: simple-reminder

#12853 Add clipboard-utilities extension
  extensions/clipboard-utilities/.eslintrc.json
  extensions/clipboard-utilities/.gitignore
  extensions/clipboard-utilities/.prettierrc
  extensions/clipboard-utilities/CHANGELOG.md
  extensions/clipboard-utilities/README.md
  extensions/clipboard-utilities/assets/command-icon.png
  extensions/clipboard-utilities/metadata/clipboard-utilities-1.png
  extensions/clipboard-utilities/metadata/clipboard-utilities-2.png
  extensions/clipboard-utilities/metadata/clipboard-utilities-3.png
  extensions/clipboard-utilities/package-lock.json
  extensions/clipboard-utilities/package.json
  extensions/clipboard-utilities/src/perform-action-on-last-n-clipboard-items.tsx
  extensions/clipboard-utilities/tsconfig.json
Labels: new extension

#12870 [Mozilla Firefox] add firefox ESR as another fallback option
  extensions/mozilla-firefox/CHANGELOG.md
  extensions/mozilla-firefox/src/util/index.ts
Labels: extension fix / improvement, extension: mozilla-firefox

#12939 fix(jira): Allow URLs with port numbers
  extensions/jira/CHANGELOG.md
  extensions/jira/src/api/jiraCredentials.ts
Labels: extension fix / improvement, extension: jira

#12933 Fixing linter error: Dungeons & Dragons
  extensions/dungeons-and-dragons/CHANGELOG.md
  extensions/dungeons-and-dragons/src/randomEncounter.tsx
Labels: extension fix / improvement, OP is author, extension: dungeons-and-dragons

#13007 [Bugfix] [Open Path] Fix the problem of not updating the command metadata
  extensions/open-path/CHANGELOG.md
  extensions/open-path/src/open-path.tsx
Labels: extension fix / improvement, OP is author, extension: open-path

#12989 Update claude extension
  extensions/claude/CHANGELOG.md
  extensions/claude/README.md
  extensions/claude/package-lock.json
  extensions/claude/package.json
  extensions/claude/src/actions/index.tsx
  extensions/claude/src/hooks/useChat.tsx
  extensions/claude/src/hooks/useModel.tsx
  extensions/claude/src/model.tsx
  extensions/claude/src/type.ts
  extensions/claude/src/views/answer-detail.tsx
  extensions/claude/src/views/chat.tsx
  extensions/claude/src/views/model/form.tsx
  extensions/claude/src/views/model/list.tsx
Labels: extension fix / improvement, OP is author, extension: claude

#13005 refactor: extract out openFile and askBeforeDownload
  extensions/ilovepdf/CHANGELOG.md
  extensions/ilovepdf/src/common/types.ts
  extensions/ilovepdf/src/common/utils.ts
  extensions/ilovepdf/src/compress-pdf.tsx
  extensions/ilovepdf/src/extract-text.tsx
  extensions/ilovepdf/src/image-to-pdf.tsx
  extensions/ilovepdf/src/merge-pdf.tsx
  extensions/ilovepdf/src/pdf-to-image.tsx
  extensions/ilovepdf/src/split-pdf.tsx
  extensions/ilovepdf/src/word-to-pdf.tsx
Labels: extension fix / improvement, OP is author, extension: ilovepdf

#12969 Update gopass extension
  extensions/gopass/CHANGELOG.md
  extensions/gopass/src/gopass.ts
Labels: extension fix / improvement, OP is author, extension: gopass

#12967 [Amazon AWS] Improvements for CodePipeline and Secrets Manager commands
  extensions/amazon-aws/CHANGELOG.md
  extensions/amazon-aws/assets/aws-icons/cp.png
  extensions/amazon-aws/package-lock.json
  extensions/amazon-aws/package.json
  extensions/amazon-aws/src/cloudformation.tsx
  extensions/amazon-aws/src/cloudwatch.tsx
  extensions/amazon-aws/src/codepipeline.tsx
  extensions/amazon-aws/src/components/codepipeline/retry-stage-execution-action.tsx
  extensions/amazon-aws/src/components/codepipeline/stop-execution-action.tsx
  extensions/amazon-aws/src/components/codepipeline/toggle-stage-transition-action.tsx
  extensions/amazon-aws/src/components/common/action.tsx
  extensions/amazon-aws/src/components/secrets/secret-value-details.tsx
  extensions/amazon-aws/src/console.tsx
  extensions/amazon-aws/src/hooks/use-codepipeline.ts
  extensions/amazon-aws/src/hooks/use-secrets.ts
  extensions/amazon-aws/src/secrets.tsx
  extensions/amazon-aws/src/sqs.tsx
  extensions/amazon-aws/src/util/index.ts
Labels: extension fix / improvement, OP is contributor, extension: amazon-aws

#12997 Update country-lookup extension
  extensions/country-lookup/.eslintrc.json
  extensions/country-lookup/.gitignore
  extensions/country-lookup/.prettierrc
  extensions/country-lookup/CHANGELOG.md
  extensions/country-lookup/package-lock.json
  extensions/country-lookup/package.json
  extensions/country-lookup/src/api.ts
  extensions/country-lookup/src/api/index.ts
  extensions/country-lookup/src/cache.ts
  extensions/country-lookup/src/components/CountryListItem.tsx
  extensions/country-lookup/src/countries.tsx
  extensions/country-lookup/src/hooks/useExtraFields.ts
  extensions/country-lookup/src/index.tsx
  extensions/country-lookup/src/interface.ts
  extensions/country-lookup/src/types/index.ts
  extensions/country-lookup/tsconfig.json
Labels: extension fix / improvement, extension: country-lookup

#12716 Add bed-time-calculator extension
  extensions/bed-time-calculator/.eslintrc.json
  extensions/bed-time-calculator/.gitignore
  extensions/bed-time-calculator/.prettierrc
  extensions/bed-time-calculator/CHANGELOG.md
  extensions/bed-time-calculator/README.md
  extensions/bed-time-calculator/assets/command-icon.png
  extensions/bed-time-calculator/assets/extension_icon.png
  extensions/bed-time-calculator/metadata/bed-time-calculator-1.png
  extensions/bed-time-calculator/metadata/bed-time-calculator-2.png
  extensions/bed-time-calculator/metadata/bed-time-calculator-3.png
  extensions/bed-time-calculator/package-lock.json
  extensions/bed-time-calculator/package.json
  extensions/bed-time-calculator/src/sleep-at.tsx
  extensions/bed-time-calculator/src/sleep-now.tsx
  extensions/bed-time-calculator/src/wake-up-at.tsx
  extensions/bed-time-calculator/tsconfig.json
Labels: new extension

#12954 Update sips extension
  extensions/sips/CHANGELOG.md
  extensions/sips/assets/potrace/potrace
  extensions/sips/assets/webp/arm/cwebp
  extensions/sips/assets/webp/arm/dwebp
  extensions/sips/assets/webp/x86/cwebp
  extensions/sips/assets/webp/x86/dwebp
  extensions/sips/package.json
  extensions/sips/src/flip-vertically.ts
Labels: extension fix / improvement, extension: sips

#12957 [Image Modification/sips] Fixed cwebp degrades quality by default
  extensions/sips/CHANGELOG.md
  extensions/sips/package.json
  extensions/sips/src/operations/convertOperation.ts
Labels: extension fix / improvement, extension: sips

#12999 Update slack-status extension
  extensions/slack-status/.gitignore
  extensions/slack-status/CHANGELOG.md
  extensions/slack-status/package.json
  extensions/slack-status/src/actions.tsx
Labels: extension fix / improvement, OP is contributor, extension: slack-status

#12993 fix(cleanshotx): update icons
  extensions/cleanshotx/CHANGELOG.md
  extensions/cleanshotx/assets/command-icon.png
  extensions/cleanshotx/package.json
Labels: extension fix / improvement, OP is contributor, extension: cleanshotx

#13001 Update github extension
  extensions/github/CHANGELOG.md
  extensions/github/src/components/PullRequestCommits.tsx
Labels: extension fix / improvement, extension: github

#12923 [Network Drive] remove dependency to samba, use OSX system built-in utilities instead
  extensions/network-drive/CHANGELOG.md
  extensions/network-drive/src/utils-disk-network.tsx
Labels: extension fix / improvement, OP is author, extension: network-drive

#12926 [Bob]: Bug fixes, minor improvemnets
  extensions/bob/CHANGELOG.md
  extensions/bob/package.json
  extensions/bob/src/captureText.tsx
  extensions/bob/src/captureTextSilently.tsx
  extensions/bob/src/captureTextfromFinder.tsx
  extensions/bob/src/captureTranslate.tsx
  extensions/bob/src/inputText.tsx
  extensions/bob/src/selectTranslate.tsx
  extensions/bob/src/transClipboard.tsx
  extensions/bob/src/utils.ts
Labels: extension fix / improvement, extension: bob

#13008 Update YouVersion Bible Suggest extension to latest (v3.5.0)
  extensions/youversion-suggest/CHANGELOG.md
  extensions/youversion-suggest/package-lock.json
  extensions/youversion-suggest/package.json
Labels: extension fix / improvement, OP is author, extension: youversion-suggest

#12959 [Search MDN]: Updated the icon and dependencies with minor refactoring
  extensions/search-mdn/CHANGELOG.md
  extensions/search-mdn/assets/icon.png
  extensions/search-mdn/metadata/search-mdn-0.png
  extensions/search-mdn/metadata/search-mdn-1.png
  extensions/search-mdn/package-lock.json
  extensions/search-mdn/package.json
  extensions/search-mdn/src/hooks/use-search.ts
  extensions/search-mdn/src/index.tsx
Labels: extension fix / improvement, extension: search-mdn

#12844 Prefill Alias Description feature; Raycast API package bump
  extensions/simplelogin/CHANGELOG.md
  extensions/simplelogin/package-lock.json
  extensions/simplelogin/package.json
  extensions/simplelogin/src/api/simplelogin_api.tsx
  extensions/simplelogin/src/create_random_alias.tsx
  extensions/simplelogin/src/utils/browser.tsx
Labels: extension fix / improvement, OP is contributor, extension: simplelogin

#12925 [PiP] Watch in PiP mode
  extensions/pip/.eslintrc.json
  extensions/pip/.gitignore
  extensions/pip/.prettierrc
  extensions/pip/CHANGELOG.md
  extensions/pip/README.md
  extensions/pip/assets/pip-icon.png
  extensions/pip/metadata/pip-1.png
  extensions/pip/metadata/pip-2.png
  extensions/pip/package-lock.json
  extensions/pip/package.json
  extensions/pip/src/toggle-pip.tsx
  extensions/pip/src/utils/applescript-utils.ts
  extensions/pip/src/utils/common-utils.ts
  extensions/pip/src/utils/constants.ts
  extensions/pip/tsconfig.json
Labels: new extension

#12902 Slack: OAuth + Many improvements
  extensions/slack/.eslintrc.json
  extensions/slack/.gitignore
  extensions/slack/CHANGELOG.md
  extensions/slack/package-lock.json
  extensions/slack/package.json
  extensions/slack/src/open-unread-messages.ts
  extensions/slack/src/search.tsx
  extensions/slack/src/set-presence.tsx
  extensions/slack/src/set-snooze.tsx
  extensions/slack/src/shared/OpenInSlack.tsx
  extensions/slack/src/shared/UpdatesModal.tsx
  extensions/slack/src/shared/client/CacheProvider.tsx
  extensions/slack/src/shared/client/SlackClient.ts
  extensions/slack/src/shared/client/SlackClientHooks.ts
  extensions/slack/src/shared/client/WebClient.ts
  extensions/slack/src/shared/client/index.ts
  extensions/slack/src/shared/utils.ts
  extensions/slack/src/shared/withSlackClient.ts
  extensions/slack/src/unread-messages.tsx
Labels: extension fix / improvement, extension: slack

#12930 [Office Quotes] Update extension to work offline (API discontinued) (closes #12094)
  extensions/office-quotes/.eslintrc.json
  extensions/office-quotes/.gitignore
  extensions/office-quotes/CHANGELOG.md
  extensions/office-quotes/README.md
  extensions/office-quotes/assets/quote.png
  extensions/office-quotes/media/office-quotes-actions.png
  extensions/office-quotes/media/the-office-quotes-screenshot.png
  extensions/office-quotes/media/the-office-view-quote-actions-screenshot.png
  extensions/office-quotes/media/the-office-view-quote-screenshot.png
  extensions/office-quotes/metadata/office-quotes-1.png
  extensions/office-quotes/metadata/office-quotes-2.png
  extensions/office-quotes/package-lock.json
  extensions/office-quotes/package.json
  extensions/office-quotes/src/DescriptionPane.tsx
  extensions/office-quotes/src/data/avatars.json
  extensions/office-quotes/src/data/quotes.json
  extensions/office-quotes/src/index.tsx
  extensions/office-quotes/src/shuffle.ts
  extensions/office-quotes/src/types.ts
  extensions/office-quotes/tsconfig.json
Labels: extension fix / improvement, extension: office-quotes

#13026 [Amazon AWS] Frecency sorting for Console command
  extensions/amazon-aws/CHANGELOG.md
  extensions/amazon-aws/assets/aws-services.json
  extensions/amazon-aws/package-lock.json
  extensions/amazon-aws/src/components/common/action.tsx
  extensions/amazon-aws/src/components/searchbar/aws-profile-dropdown.tsx
  extensions/amazon-aws/src/console.tsx
  extensions/amazon-aws/src/util/index.ts
Labels: extension fix / improvement, OP is contributor, extension: amazon-aws

#13041 [DigitalOcean] Update extension to fix #13040
  extensions/digitalocean/CHANGELOG.md
  extensions/digitalocean/package-lock.json
  extensions/digitalocean/package.json
  extensions/digitalocean/src/forms/DomainRecordForm.tsx
  extensions/digitalocean/src/search-databases.tsx
  extensions/digitalocean/src/search-domains.tsx
  extensions/digitalocean/tsconfig.json
Labels: extension fix / improvement, extension: digitalocean

#13037 Update claude extension
  extensions/claude/CHANGELOG.md
  extensions/claude/README.md
  extensions/claude/package.json
  extensions/claude/src/hooks/useChat.tsx
  extensions/claude/src/utils/index.ts
  extensions/claude/src/views/model/list.tsx
Labels: extension fix / improvement, OP is author, extension: claude

#13029 Fix bitbucket extension bugs
  extensions/bitbucket/.gitignore
  extensions/bitbucket/CHANGELOG.md
  extensions/bitbucket/package.json
  extensions/bitbucket/src/components/repository/actions.tsx
  extensions/bitbucket/src/components/repository/pipelinesList.tsx
  extensions/bitbucket/src/components/repository/searchRepositories.tsx
  extensions/bitbucket/src/queries/index.ts
Labels: extension fix / improvement, extension: bitbucket

#13044 Update cleanshotx extension
  extensions/cleanshotx/CHANGELOG.md
  extensions/cleanshotx/assets/capture-area-ai-chat.png
  extensions/cleanshotx/package.json
  extensions/cleanshotx/src/capture-area-raycast-aichat.tsx
Labels: extension fix / improvement, OP is contributor, extension: cleanshotx

#13047 Update raycast-ollama extension
  extensions/raycast-ollama/CHANGELOG.md
  extensions/raycast-ollama/src/lib/ui/AnswerView/form/EditModel.tsx
  extensions/raycast-ollama/src/lib/ui/ChatView/form/Model.tsx
Labels: extension fix / improvement, OP is author, extension: raycast-ollama

#12936 Update video-call-reactions extension
  extensions/video-call-reactions/CHANGELOG.md
  extensions/video-call-reactions/README.md
  extensions/video-call-reactions/media/0-confetti-2.png
  extensions/video-call-reactions/media/fireworks.png
  extensions/video-call-reactions/package.json
Labels: extension fix / improvement, OP is author, extension: video-call-reactions

#12951 [Menubar Calendar] Show calendar on menu bar
  extensions/menubar-calendar/.eslintrc.json
  extensions/menubar-calendar/.gitignore
  extensions/menubar-calendar/.prettierrc
  extensions/menubar-calendar/CHANGELOG.md
  extensions/menubar-calendar/README.md
  extensions/menubar-calendar/assets/calendar-icon.png
  extensions/menubar-calendar/assets/calendar-menubar-icon.png
  extensions/menubar-calendar/assets/day-icon/day-1.png
  extensions/menubar-calendar/assets/day-icon/day-10.png
  extensions/menubar-calendar/assets/day-icon/day-11.png
  extensions/menubar-calendar/assets/day-icon/day-12.png
  extensions/menubar-calendar/assets/day-icon/day-13.png
  extensions/menubar-calendar/assets/day-icon/day-14.png
  extensions/menubar-calendar/assets/day-icon/day-15.png
  extensions/menubar-calendar/assets/day-icon/day-16.png
  extensions/menubar-calendar/assets/day-icon/day-17.png
  extensions/menubar-calendar/assets/day-icon/day-18.png
  extensions/menubar-calendar/assets/day-icon/day-19.png
  extensions/menubar-calendar/assets/day-icon/day-2.png
  extensions/menubar-calendar/assets/day-icon/day-20.png
  extensions/menubar-calendar/assets/day-icon/day-21.png
  extensions/menubar-calendar/assets/day-icon/day-22.png
  extensions/menubar-calendar/assets/day-icon/day-23.png
  extensions/menubar-calendar/assets/day-icon/day-24.png
  extensions/menubar-calendar/assets/day-icon/day-25.png
  extensions/menubar-calendar/assets/day-icon/day-26.png
  extensions/menubar-calendar/assets/day-icon/day-27.png
  extensions/menubar-calendar/assets/day-icon/day-28.png
  extensions/menubar-calendar/assets/day-icon/day-29.png
  extensions/menubar-calendar/assets/day-icon/day-3.png
  extensions/menubar-calendar/assets/day-icon/day-30.png
  extensions/menubar-calendar/assets/day-icon/day-31.png
  extensions/menubar-calendar/assets/day-icon/day-4.png
  extensions/menubar-calendar/assets/day-icon/day-5.png
  extensions/menubar-calendar/assets/day-icon/day-6.png
  extensions/menubar-calendar/assets/day-icon/day-7.png
  extensions/menubar-calendar/assets/day-icon/day-8.png
  extensions/menubar-calendar/assets/day-icon/day-9.png
  extensions/menubar-calendar/metadata/menubar-calendar-1.png
  extensions/menubar-calendar/metadata/menubar-calendar-2.png
  extensions/menubar-calendar/metadata/menubar-calendar-3.png
  extensions/menubar-calendar/package-lock.json
  extensions/menubar-calendar/package.json
  extensions/menubar-calendar/src/hooks/useData.ts
  extensions/menubar-calendar/src/index.tsx
  extensions/menubar-calendar/src/types/preferences.ts
  extensions/menubar-calendar/src/utils/calendar-utils.ts
  extensions/menubar-calendar/src/utils/common-utils.ts
  extensions/menubar-calendar/src/utils/constans.ts
  extensions/menubar-calendar/src/utils/reminders-utils.ts
  extensions/menubar-calendar/swift/AppleReminders/.gitignore
  extensions/menubar-calendar/swift/AppleReminders/Package.resolved
  extensions/menubar-calendar/swift/AppleReminders/Package.swift
  extensions/menubar-calendar/swift/AppleReminders/Sources/EventKit+Additions.swift
  extensions/menubar-calendar/swift/AppleReminders/Sources/Reminders.swift
  extensions/menubar-calendar/tsconfig.json
Labels: new extension

#12953 Update Twitter/X Video Downloader
  extensions/twitter-video-downloader/CHANGELOG.md
  extensions/twitter-video-downloader/src/index.tsx
Labels: extension fix / improvement, OP is author, extension: twitter-video-downloader

#12956 Add plex extension
  extensions/plex/.eslintrc.json
  extensions/plex/.gitignore
  extensions/plex/.prettierrc
  extensions/plex/CHANGELOG.md
  extensions/plex/README.md
  extensions/plex/assets/command-icon-plex.png
  extensions/plex/assets/sectionsIcons/movies.png
  extensions/plex/assets/sectionsIcons/music.png
  extensions/plex/assets/sectionsIcons/others_videos.png
  extensions/plex/assets/sectionsIcons/photos.png
  extensions/plex/assets/sectionsIcons/tv_shows.png
  extensions/plex/metadata/plex-1.png
  extensions/plex/metadata/plex-2.png
  extensions/plex/package-lock.json
  extensions/plex/package.json
  extensions/plex/src/index.tsx
  extensions/plex/src/sectionItems.tsx
  extensions/plex/tsconfig.json
  extensions/plex/types/types.tsx
  extensions/plex/utils/constants.tsx
  extensions/plex/utils/timeCalculator.tsx
Labels: new extension

#12833 [Bark] Command optimisation
  extensions/bark/CHANGELOG.md
  extensions/bark/assets/extension-icon.png
  extensions/bark/metadata/bark-1.png
  extensions/bark/metadata/bark-2.png
  extensions/bark/package-lock.json
  extensions/bark/package.json
  extensions/bark/src/component/action-open-preferences.tsx
  extensions/bark/src/quick-send-message-to-bark.tsx
  extensions/bark/src/send-message-to-bark.tsx
  extensions/bark/src/utils/common-utils.ts
  extensions/bark/src/utils/constants.ts
Labels: extension fix / improvement, OP is author, extension: bark

#13054 fix(zed): remove duplicate entries
  extensions/zed-recent-projects/CHANGELOG.md
  extensions/zed-recent-projects/package-lock.json
  extensions/zed-recent-projects/package.json
  extensions/zed-recent-projects/src/lib/zed.ts
  extensions/zed-recent-projects/src/lib/zedEntries.ts
  extensions/zed-recent-projects/src/search.tsx
  extensions/zed-recent-projects/tsconfig.json
Labels: extension fix / improvement, extension: zed-recent-projects

#13052 [Bugfix] [PiP] Fix extension crashed issue
  extensions/pip/CHANGELOG.md
  extensions/pip/README.md
  extensions/pip/package-lock.json
  extensions/pip/package.json
  extensions/pip/src/toggle-pip.tsx
  extensions/pip/src/utils/common-utils.ts
Labels: extension fix / improvement, OP is author, extension: pip

#13043 [GitHub] Add an option to omit team review requests from query results
  extensions/github/CHANGELOG.md
  extensions/github/package-lock.json
  extensions/github/package.json
  extensions/github/src/components/NotificationActions.tsx
  extensions/github/src/generated/graphql.ts
  extensions/github/src/helpers/scopes.ts
  extensions/github/src/hooks/useMyPullRequests.ts
  extensions/github/src/notifications.tsx
  extensions/github/src/unread-notifications.tsx
  extensions/github/src/workflow-runs.tsx
Labels: extension fix / improvement, OP is contributor, extension: github

#13058 [Menubar Calendar] Right-click open in reminders
  extensions/menubar-calendar/CHANGELOG.md
  extensions/menubar-calendar/README.md
  extensions/menubar-calendar/package-lock.json
  extensions/menubar-calendar/package.json
  extensions/menubar-calendar/src/index.tsx
Labels: extension fix / improvement, OP is author, extension: menubar-calendar

#12972 Add homepage extension
  extensions/homepage/.eslintrc.json
  extensions/homepage/.gitignore
  extensions/homepage/.prettierrc
  extensions/homepage/CHANGELOG.md
  extensions/homepage/README.md
  extensions/homepage/assets/bookmarks.png
  extensions/homepage/assets/homepage.png
  extensions/homepage/assets/services.png
  extensions/homepage/metadata/bookmarks-filter.png
  extensions/homepage/metadata/bookmarks.png
  extensions/homepage/metadata/services-filter.png
  extensions/homepage/metadata/services.png
  extensions/homepage/package-lock.json
  extensions/homepage/package.json
  extensions/homepage/src/bookmarks.tsx
  extensions/homepage/src/services.tsx
  extensions/homepage/src/utils/getHomepageIcon.ts
  extensions/homepage/tsconfig.json
Labels: new extension

#12975 feat(tim): new Daily Overview command and other improvements
  extensions/tim/.eslintrc.json
  extensions/tim/.prettierrc
  extensions/tim/CHANGELOG.md
  extensions/tim/package-lock.json
  extensions/tim/package.json
  extensions/tim/src/components/Group.tsx
  extensions/tim/src/components/Task.tsx
  extensions/tim/src/components/actions/GeneralActions.tsx
  extensions/tim/src/components/actions/StartTaskAction.tsx
  extensions/tim/src/dailyOverview.tsx
  extensions/tim/src/export.tsx
  extensions/tim/src/helpers/array.ts
  extensions/tim/src/helpers/tim.ts
  extensions/tim/src/hooks/useDurationFormatter.ts
  extensions/tim/src/hooks/usePreferences.ts
  extensions/tim/src/hooks/useTask.ts
  extensions/tim/src/import.ts
  extensions/tim/src/lib/apple-script.ts
  extensions/tim/src/lib/tim.ts
  extensions/tim/src/newTask.tsx
  extensions/tim/src/openActiveRecord.ts
  extensions/tim/src/openNavigator.ts
  extensions/tim/src/openNewTask.ts
  extensions/tim/src/openTaskManager.ts
  extensions/tim/src/state/data.tsx
  extensions/tim/src/state/locale.tsx
  extensions/tim/src/toggleTimer.ts
  extensions/tim/src/types/tim.ts
  extensions/tim/tsconfig.json
Labels: extension fix / improvement, OP is author, extension: tim

#13056 [Network Speed] Show time cost
  extensions/network-speed/CHANGELOG.md
  extensions/network-speed/metadata/network-speed-1.png
  extensions/network-speed/metadata/network-speed-2.png
  extensions/network-speed/metadata/network-speed-3.png
  extensions/network-speed/package-lock.json
  extensions/network-speed/package.json
  extensions/network-speed/src/hooks/hooks.ts
  extensions/network-speed/src/test-network-speed.tsx
  extensions/network-speed/src/utils/common-util.ts
  extensions/network-speed/tsconfig.json
Labels: extension fix / improvement, OP is author, extension: network-speed

#12976 Update pass extension
  extensions/pass/CHANGELOG.md
  extensions/pass/package.json
  extensions/pass/src/content.tsx
  extensions/pass/src/otpRow.tsx
  extensions/pass/src/pass.ts
Labels: extension fix / improvement, OP is author, extension: pass
