Repository raycast/extensions, pull requests merged in 2024-10, with the labels that each got.

#14453 Update tableplus extension
  extensions/tableplus/CHANGELOG.md
  extensions/tableplus/package.json
  extensions/tableplus/src/utils.tsx
Labels: extension fix / improvement, OP is author, extension: tableplus

#14719 [Bluesky] fix 'Search Timeline' not working
  extensions/bluesky/CHANGELOG.md
  extensions/bluesky/package-lock.json
  extensions/bluesky/package.json
  extensions/bluesky/raycast-env.d.ts
  extensions/bluesky/src/components/feed/AuthorFeed.tsx
  extensions/bluesky/src/components/feed/PostItem.tsx
  extensions/bluesky/src/components/onboarding/Onboard.tsx
  extensions/bluesky/src/libs/atp.ts
  extensions/bluesky/src/new-post.tsx
  extensions/bluesky/src/notifications.tsx
  extensions/bluesky/src/timeline.tsx
  extensions/bluesky/src/utils/parser.ts
  extensions/bluesky/src/utils/preference.ts
  extensions/bluesky/tsconfig.json
Labels: extension fix / improvement, extension: bluesky

#14635 Update MLB Scores Extension
  extensions/mlb-scores/CHANGELOG.md
  extensions/mlb-scores/README.md
  extensions/mlb-scores/changelog.md
  extensions/mlb-scores/metadata/ss1.png
  extensions/mlb-scores/metadata/ss2.png
  extensions/mlb-scores/metadata/ss3.png
  extensions/mlb-scores/metadata/ss4.png
  extensions/mlb-scores/package-lock.json
  extensions/mlb-scores/package.json
  extensions/mlb-scores/src/components/game.tsx
  extensions/mlb-scores/src/index.tsx
  extensions/mlb-scores/src/interfaces/feed.ts
  extensions/mlb-scores/src/lib/store.ts
Labels: extension fix / improvement, status: awaiting response from dev, extension: mlb-scores

#13400 [Liveblocks] Refactor and updates for v2
  extensions/liveblocks/.eslintrc.json
  extensions/liveblocks/.gitignore
  extensions/liveblocks/CHANGELOG.md
  extensions/liveblocks/assets/command-icon.png
  extensions/liveblocks/metadata/liveblocks-01.png
  extensions/liveblocks/metadata/liveblocks-02.png
  extensions/liveblocks/metadata/liveblocks-03.png
  extensions/liveblocks/metadata/liveblocks-04.png
  extensions/liveblocks/metadata/liveblocks-1.png
  extensions/liveblocks/metadata/liveblocks-2.png
  extensions/liveblocks/metadata/liveblocks-3.png
  extensions/liveblocks/metadata/liveblocks-4.png
  extensions/liveblocks/package-lock.json
  extensions/liveblocks/package.json
  extensions/liveblocks/src/api.ts
  extensions/liveblocks/src/delete-room-storage.tsx
  extensions/liveblocks/src/get-room-storage.tsx
  extensions/liveblocks/src/search-rooms.tsx
  extensions/liveblocks/src/utils.ts
  extensions/liveblocks/src/views/active-users.tsx
  extensions/liveblocks/src/views/broadcast-event.tsx
  extensions/liveblocks/src/views/get-room-storage.tsx
  extensions/liveblocks/src/views/get-yjs-binary-update.tsx
  extensions/liveblocks/src/views/get-yjs-document.tsx
  extensions/liveblocks/src/views/init-room-storage.tsx
  extensions/liveblocks/src/views/send-yjs-binary-update.tsx
  extensions/liveblocks/src/views/update-room-id.tsx
  extensions/liveblocks/tsconfig.json
Labels: extension fix / improvement, OP is author, extension: liveblocks

#14368 Add Hyper terminal support to ssh-manager extension
  extensions/ssh-manager/CHANGELOG.md
  extensions/ssh-manager/package.json
  extensions/ssh-manager/src/show.tsx
Labels: extension fix / improvement, status: stalled, extension: ssh-manager

#14550 Add strftime-cheatsheet extension
  extensions/strftime-cheatsheet/.eslintrc.json
  extensions/strftime-cheatsheet/.gitignore
  extensions/strftime-cheatsheet/.prettierrc
  extensions/strftime-cheatsheet/CHANGELOG.md
  extensions/strftime-cheatsheet/README.md
  extensions/strftime-cheatsheet/assets/extension-icon.png
  extensions/strftime-cheatsheet/metadata/strftime-cheatsheet-1.png
  extensions/strftime-cheatsheet/metadata/strftime-cheatsheet-2.png
  extensions/strftime-cheatsheet/package-lock.json
  extensions/strftime-cheatsheet/package.json
  extensions/strftime-cheatsheet/src/search-format-codes.tsx
  extensions/strftime-cheatsheet/tsconfig.json
Labels: new extension

#14576 feat: Dropstab v1.1
  extensions/dropstab/CHANGELOG.md
  extensions/dropstab/README.md
  extensions/dropstab/assets/apple.png
  extensions/dropstab/assets/brent.png
  extensions/dropstab/assets/gold.png
  extensions/dropstab/assets/nvidia.png
  extensions/dropstab/assets/silver.png
  extensions/dropstab/assets/sp500.png
  extensions/dropstab/metadata/CEXpairs.webp
  extensions/dropstab/metadata/ethGas.webp
  extensions/dropstab/metadata/gainers&losers.webp
  extensions/dropstab/metadata/macro.webp
  extensions/dropstab/package-lock.json
  extensions/dropstab/package.json
  extensions/dropstab/src/commands/dropstabCoinsCommands.ts
  extensions/dropstab/src/commands/dropstabCoinsExchangesCommands.ts
  extensions/dropstab/src/commands/dropstabWalletsCommands.ts
  extensions/dropstab/src/exchange-search.tsx
  extensions/dropstab/src/gainers-and-losers.tsx
  extensions/dropstab/src/gas-tracker.tsx
  extensions/dropstab/src/hooks/gainersLosersHooks.ts
  extensions/dropstab/src/hooks/gasTrackerHooks.ts
  extensions/dropstab/src/hooks/macroHooks.ts
  extensions/dropstab/src/hooks/searchCryptoExchangesHooks.ts
  extensions/dropstab/src/hooks/searchCryptoHooks.ts
  extensions/dropstab/src/hooks/useDebounce.ts
  extensions/dropstab/src/macro-view.tsx
  extensions/dropstab/src/search-crypto.tsx
  extensions/dropstab/src/search-wallet.tsx
  extensions/dropstab/src/types/coinExchangeType.ts
  extensions/dropstab/src/types/gainersLosersType.ts
  extensions/dropstab/src/types/gasType.ts
  extensions/dropstab/src/types/macroType.ts
  extensions/dropstab/src/types/txHashType.ts
Labels: extension fix / improvement, OP is author, extension: dropstab

#14697 [Badges] Refactor duplicate codes
  extensions/badges/CHANGELOG.md
  extensions/badges/package-lock.json
  extensions/badges/package.json
  extensions/badges/src/components/actions.tsx
  extensions/badges/src/createDynamicBadge.tsx
  extensions/badges/src/createEndpointBadge.tsx
  extensions/badges/src/createSocialBadge.tsx
  extensions/badges/src/createStaticBadge.tsx
  extensions/badges/src/utils.ts
Labels: extension fix / improvement, OP is author, extension: badges

#14571 [Apple Reminders] Sort menu bar reminders by time
  extensions/apple-reminders/CHANGELOG.md
  extensions/apple-reminders/package.json
  extensions/apple-reminders/src/menu-bar.tsx
Labels: extension fix / improvement, extension: apple-reminders

#14689 [Auto Quit App] Refactor to simplify code logic
  extensions/auto-quit-app/CHANGELOG.md
  extensions/auto-quit-app/README.md
  extensions/auto-quit-app/package-lock.json
  extensions/auto-quit-app/package.json
  extensions/auto-quit-app/src/auto-quit-app-menubar.tsx
  extensions/auto-quit-app/src/components/auto-quit-app-grid-layout.tsx
  extensions/auto-quit-app/src/components/auto-quit-app-list-layout.tsx
  extensions/auto-quit-app/src/hooks/hooks.ts
  extensions/auto-quit-app/src/hooks/useAutoQuitApps.ts
  extensions/auto-quit-app/src/hooks/useDisAutoQuitApps.ts
  extensions/auto-quit-app/src/set-auto-quit-app.tsx
  extensions/auto-quit-app/src/types/preferences.ts
  extensions/auto-quit-app/src/utils/applescript-utils.ts
  extensions/auto-quit-app/src/utils/common-utils.ts
  extensions/auto-quit-app/src/utils/constants.ts
Labels: extension fix / improvement, OP is author, extension: auto-quit-app

#14732 Update cursor-directory extension
  extensions/cursor-directory/CHANGELOG.md
  extensions/cursor-directory/metadata/cursor-directory-1.png
  extensions/cursor-directory/metadata/cursor-directory-2.png
  extensions/cursor-directory/metadata/cursor-directory-3.png
  extensions/cursor-directory/metadata/cursor-directory-4.png
  extensions/cursor-directory/metadata/cursor-directory-5.png
  extensions/cursor-directory/package.json
  extensions/cursor-directory/src/api.ts
  extensions/cursor-directory/src/components/CursorRuleDetail.tsx
  extensions/cursor-directory/src/components/CursorRulePreview.tsx
  extensions/cursor-directory/src/components/actions/CopyRuleAction.tsx
  extensions/cursor-directory/src/components/actions/OpenPrefAction.tsx
  extensions/cursor-directory/src/components/actions/ToggleViewAction.tsx
  extensions/cursor-directory/src/components/actions/ViewRuleAction.tsx
  extensions/cursor-directory/src/constants.ts
  extensions/cursor-directory/src/index.tsx
  extensions/cursor-directory/src/types.ts
  extensions/cursor-directory/src/utils.ts
  extensions/cursor-directory/src/youtube.tsx
Labels: extension fix / improvement, OP is author, extension: cursor-directory

#14574 Update currency-exchange extension
  extensions/currency-exchange/.gitignore
  extensions/currency-exchange/CHANGELOG.md
  extensions/currency-exchange/package.json
  extensions/currency-exchange/src/index.tsx
Labels: extension fix / improvement, extension: currency-exchange

#14580 [WhatsApp] groupCode is now required + add in 'open-chat' (remove confusion as in #14456) + upgrade deps
  extensions/whatsapp/.eslintrc.json
  extensions/whatsapp/.gitignore
  extensions/whatsapp/CHANGELOG.md
  extensions/whatsapp/changelog.md
  extensions/whatsapp/package-lock.json
  extensions/whatsapp/package.json
  extensions/whatsapp/src/add-existing-group.tsx
  extensions/whatsapp/src/open-chat.tsx
Labels: extension fix / improvement, extension: whatsapp

#14592 Add osrs-wiki extension
  extensions/osrs-wiki/.eslintrc.json
  extensions/osrs-wiki/.gitignore
  extensions/osrs-wiki/.prettierrc
  extensions/osrs-wiki/CHANGELOG.md
  extensions/osrs-wiki/README.md
  extensions/osrs-wiki/assets/default_icon.png
  extensions/osrs-wiki/assets/extension-icon.png
  extensions/osrs-wiki/assets/item_icon.png
  extensions/osrs-wiki/assets/quest_icon.webp
  extensions/osrs-wiki/metadata/osrs-wiki-1.png
  extensions/osrs-wiki/metadata/osrs-wiki-2.png
  extensions/osrs-wiki/metadata/osrs-wiki-3.png
  extensions/osrs-wiki/package-lock.json
  extensions/osrs-wiki/package.json
  extensions/osrs-wiki/src/search-osrs-wiki.tsx
  extensions/osrs-wiki/tsconfig.json
Labels: new extension

#14753 [DevDocs] Fix doc importing issue with other preferences set
  extensions/devdocs/CHANGELOG.md
  extensions/devdocs/src/import-docs.tsx
Labels: extension fix / improvement, OP is author, extension: devdocs

#14756 Update cursor-directory extension
  extensions/cursor-directory/CHANGELOG.md
  extensions/cursor-directory/README.md
  extensions/cursor-directory/metadata/cursor-directory-1.png
  extensions/cursor-directory/metadata/cursor-directory-2.png
  extensions/cursor-directory/metadata/cursor-directory-3.png
  extensions/cursor-directory/package-lock.json
  extensions/cursor-directory/package.json
  extensions/cursor-directory/src/api.ts
  extensions/cursor-directory/src/components/CursorRuleDetail.tsx
  extensions/cursor-directory/src/components/actions/ContributeAction.tsx
  extensions/cursor-directory/src/components/actions/ExportAndEditAction.tsx
  extensions/cursor-directory/src/constants.ts
  extensions/cursor-directory/src/index.tsx
  extensions/cursor-directory/src/types.ts
  extensions/cursor-directory/src/utils.ts
Labels: extension fix / improvement, OP is author, extension: cursor-directory

#14746 Update dust-tt extension
  extensions/dust-tt/CHANGELOG.md
  extensions/dust-tt/README.md
  extensions/dust-tt/package.json
  extensions/dust-tt/src/dust_api/api.tsx
Labels: extension fix / improvement, OP is contributor, extension: dust-tt

#14675 Update jurassic-ninja-site-generator extension
  extensions/jurassic-ninja-site-generator/CHANGELOG.md
  extensions/jurassic-ninja-site-generator/src/jurassic-ninja.tsx
Labels: extension fix / improvement, OP is author, extension: jurassic-ninja-site-generator

#14757 Update wol extension
  extensions/wol/CHANGELOG.md
  extensions/wol/package-lock.json
  extensions/wol/package.json
  extensions/wol/src/components/WakeDataForm.tsx
  extensions/wol/src/index.tsx
Labels: extension fix / improvement, OP is author, extension: wol

#14484 [Prettier] optional preference to use Tabs + remove Preferences type as it is auto-generated
  extensions/prettier/.eslintrc.json
  extensions/prettier/.gitignore
  extensions/prettier/CHANGELOG.md
  extensions/prettier/package-lock.json
  extensions/prettier/package.json
  extensions/prettier/src/format.ts
  extensions/prettier/src/formatCSS.ts
  extensions/prettier/src/formatHTML.ts
  extensions/prettier/src/formatJSON.ts
  extensions/prettier/src/formatJavaScript.ts
  extensions/prettier/src/formatTypeScript.ts
  extensions/prettier/src/types.ts
  extensions/prettier/tsconfig.json
Labels: extension fix / improvement, extension: prettier

#14547 Add clippyx extension
  extensions/clippyx/.eslintrc.json
  extensions/clippyx/.gitignore
  extensions/clippyx/.prettierrc
  extensions/clippyx/CHANGELOG.md
  extensions/clippyx/README.md
  extensions/clippyx/assets/CLIPPyX.png
  extensions/clippyx/metadata/clippyx-1.png
  extensions/clippyx/metadata/clippyx-2.png
  extensions/clippyx/metadata/clippyx-3.png
  extensions/clippyx/metadata/clippyx-4.png
  extensions/clippyx/package-lock.json
  extensions/clippyx/package.json
  extensions/clippyx/src/caption.tsx
  extensions/clippyx/src/interface.ts
  extensions/clippyx/src/similar.tsx
  extensions/clippyx/src/text.tsx
  extensions/clippyx/tsconfig.json
Labels: new extension

#14559 Add spiceblow-database extension
  extensions/spiceblow-database/.eslintrc.json
  extensions/spiceblow-database/.gitignore
  extensions/spiceblow-database/.prettierrc
  extensions/spiceblow-database/CHANGELOG.md
  extensions/spiceblow-database/README.md
  extensions/spiceblow-database/assets/extension-icon.png
  extensions/spiceblow-database/metadata/search-database-1.png
  extensions/spiceblow-database/metadata/search-database-2.png
  extensions/spiceblow-database/metadata/search-database-4.png
  extensions/spiceblow-database/metadata/search-database-5.png
  extensions/spiceblow-database/metadata/search-database-7.png
  extensions/spiceblow-database/metadata/search-database-8.png
  extensions/spiceblow-database/metadata/search-database-9.png
  extensions/spiceblow-database/metadata/spiceblow-database-1.png
  extensions/spiceblow-database/package-lock.json
  extensions/spiceblow-database/package.json
  extensions/spiceblow-database/src/database.ts
  extensions/spiceblow-database/src/generated/client-database.d.ts
  extensions/spiceblow-database/src/generated/client-database.js
  extensions/spiceblow-database/src/hooks.ts
  extensions/spiceblow-database/src/raycast.ts
  extensions/spiceblow-database/src/search-database.tsx
  extensions/spiceblow-database/src/state.ts
  extensions/spiceblow-database/src/types.ts
  extensions/spiceblow-database/src/utils.ts
  extensions/spiceblow-database/tsconfig.json
Labels: new extension

#14382 Rename AT Protocol Lexicon Search to AT Protocol Utilities
  extensions/atproto-utilities/.eslintrc.json
  extensions/atproto-utilities/.gitignore
  extensions/atproto-utilities/.prettierrc
  extensions/atproto-utilities/CHANGELOG.md
  extensions/atproto-utilities/assets/magnisky.png
  extensions/atproto-utilities/metadata/atproto-utilities-1.png
  extensions/atproto-utilities/metadata/atproto-utilities-2.png
  extensions/atproto-utilities/metadata/atproto-utilities-3.png
  extensions/atproto-utilities/metadata/atproto-utilities-4.png
  extensions/atproto-utilities/package-lock.json
  extensions/atproto-utilities/package.json
  extensions/atproto-utilities/src/components/DefOverviewDetail.tsx
  extensions/atproto-utilities/src/components/LexiconDefsList.tsx
  extensions/atproto-utilities/src/lexicon-search.tsx
  extensions/atproto-utilities/src/resolve-handle-did.ts
  extensions/atproto-utilities/src/util/downloadLexicons.ts
  extensions/atproto-utilities/tsconfig.json
Labels: new extension, renamed extension

#14755 [Say] Update extension name and chore updates
  extensions/say/CHANGELOG.md
  extensions/say/README.md
  extensions/say/metadata/say-1.png
  extensions/say/package-lock.json
  extensions/say/package.json
Labels: extension fix / improvement, OP is author, extension: say

#14704 [Pokedex] Attackdex
  extensions/pokedex/CHANGELOG.md
  extensions/pokedex/README.md
  extensions/pokedex/metadata/pokedex-1.png
  extensions/pokedex/metadata/pokedex-4.png
  extensions/pokedex/package-lock.json
  extensions/pokedex/package.json
  extensions/pokedex/src/api/index.ts
  extensions/pokedex/src/components/description.tsx
  extensions/pokedex/src/components/entry.tsx
  extensions/pokedex/src/components/form.tsx
  extensions/pokedex/src/components/metadata/move.tsx
  extensions/pokedex/src/components/metadata/pokemon.tsx
  extensions/pokedex/src/components/metadata/weakness.tsx
  extensions/pokedex/src/components/move_learnset.tsx
  extensions/pokedex/src/components/pokemon_learnset.tsx
  extensions/pokedex/src/components/profile.tsx
  extensions/pokedex/src/move.tsx
  extensions/pokedex/src/pokemon.tsx
  extensions/pokedex/src/statics/moves.json
  extensions/pokedex/src/types/index.ts
  extensions/pokedex/src/utils/index.ts
  extensions/pokedex/src/weakness.tsx
Labels: extension fix / improvement, OP is author, extension: pokedex

#14542 Add Noun Project extension
  extensions/noun-project/.eslintrc.json
  extensions/noun-project/.gitignore
  extensions/noun-project/.prettierrc
  extensions/noun-project/CHANGELOG.md
  extensions/noun-project/README.md
  extensions/noun-project/assets/command-icon.png
  extensions/noun-project/assets/command-icon@dark.png
  extensions/noun-project/assets/no-results.png
  extensions/noun-project/assets/no-results@dark.png
  extensions/noun-project/eslint.config.mjs
  extensions/noun-project/metadata/noun-project-1.png
  extensions/noun-project/metadata/noun-project-2.png
  extensions/noun-project/metadata/noun-project-3.png
  extensions/noun-project/package-lock.json
  extensions/noun-project/package.json
  extensions/noun-project/src/copyIcon.tsx
  extensions/noun-project/src/copyImgIcon.tsx
  extensions/noun-project/src/copyReactComponent.tsx
  extensions/noun-project/src/copySvg.tsx
  extensions/noun-project/src/copyVueComponent.tsx
  extensions/noun-project/src/index.tsx
  extensions/noun-project/src/utils/helpers.ts
  extensions/noun-project/src/utils/nounData.ts
  extensions/noun-project/src/utils/types.ts
  extensions/noun-project/tsconfig.json
Labels: new extension

#14601 Add react-native-directory extension
  extensions/react-native-directory/.eslintrc.json
  extensions/react-native-directory/.gitignore
  extensions/react-native-directory/.prettierrc
  extensions/react-native-directory/CHANGELOG.md
  extensions/react-native-directory/README.md
  extensions/react-native-directory/assets/extension-icon.png
  extensions/react-native-directory/assets/github-icon.png
  extensions/react-native-directory/assets/ts-icon.png
  extensions/react-native-directory/metadata/react-native-directory-1.png
  extensions/react-native-directory/metadata/react-native-directory-2.png
  extensions/react-native-directory/metadata/react-native-directory-3.png
  extensions/react-native-directory/metadata/react-native-directory-4.png
  extensions/react-native-directory/metadata/react-native-directory-5.png
  extensions/react-native-directory/package-lock.json
  extensions/react-native-directory/package.json
  extensions/react-native-directory/src/components/library-detail.tsx
  extensions/react-native-directory/src/components/library-list-item.tsx
  extensions/react-native-directory/src/components/sort-dropdown.tsx
  extensions/react-native-directory/src/constants.ts
  extensions/react-native-directory/src/hooks/use-libraries.tsx
  extensions/react-native-directory/src/search-libraries.tsx
  extensions/react-native-directory/src/types.ts
  extensions/react-native-directory/src/utils.ts
  extensions/react-native-directory/tsconfig.json
Labels: new extension

#14699 [United Nations] Optimize extension file size
  extensions/united-nations/CHANGELOG.md
  extensions/united-nations/package-lock.json
  extensions/united-nations/package.json
  extensions/united-nations/src/__modules__.d.ts
  extensions/united-nations/src/api.ts
Labels: extension fix / improvement, OP is author, extension: united-nations

#14765 feat: update metadata images
  extensions/dropstab/CHANGELOG.md
  extensions/dropstab/metadata/CEXpairs.png
  extensions/dropstab/metadata/CEXpairs.webp
  extensions/dropstab/metadata/ethGas.webp
  extensions/dropstab/metadata/ethGas_1.png
  extensions/dropstab/metadata/gainers&losers.webp
  extensions/dropstab/metadata/gainers_losers_1.png
  extensions/dropstab/metadata/macro.png
  extensions/dropstab/metadata/macro.webp
  extensions/dropstab/metadata/search.png
  extensions/dropstab/metadata/search.webp
  extensions/dropstab/metadata/wallets.png
  extensions/dropstab/metadata/wallets.webp
  extensions/dropstab/package.json
  extensions/dropstab/src/exchange-search.tsx
Labels: extension fix / improvement, OP is author, extension: dropstab

#14645 Add WIP extension
  extensions/wip/.eslintrc.json
  extensions/wip/.gitignore
  extensions/wip/.prettierrc
  extensions/wip/.tool-versions
  extensions/wip/CHANGELOG.md
  extensions/wip/README.md
  extensions/wip/assets/icon.png
  extensions/wip/metadata/wip-1.png
  extensions/wip/metadata/wip-2.png
  extensions/wip/metadata/wip-3.png
  extensions/wip/metadata/wip-4.png
  extensions/wip/package-lock.json
  extensions/wip/package.json
  extensions/wip/src/done.tsx
  extensions/wip/src/oauth.tsx
  extensions/wip/src/oauth/wip.tsx
  extensions/wip/src/projects.tsx
  extensions/wip/src/streak.tsx
  extensions/wip/src/todos.tsx
  extensions/wip/src/types.tsx
  extensions/wip/tsconfig.json
Labels: new extension

#14768 [Bitwarden] Minimum numbers and special password options
  extensions/bitwarden/CHANGELOG.md
  extensions/bitwarden/package-lock.json
  extensions/bitwarden/package.json
  extensions/bitwarden/src/api/bitwarden.ts
  extensions/bitwarden/src/components/generatePassword/ActionPanel.tsx
  extensions/bitwarden/src/components/generatePassword/OptionField.tsx
  extensions/bitwarden/src/constants/general.ts
  extensions/bitwarden/src/constants/passwords.ts
  extensions/bitwarden/src/generate-password.tsx
  extensions/bitwarden/src/types/passwords.ts
  extensions/bitwarden/src/types/vault.ts
  extensions/bitwarden/src/utils/form.ts
  extensions/bitwarden/src/utils/hooks/useCliVersion.ts
  extensions/bitwarden/src/utils/hooks/usePasswordGenerator.ts
Labels: extension fix / improvement, OP is author, extension: bitwarden

#14754 Update json-format extension
  extensions/json-format/CHANGELOG.md
  extensions/json-format/package.json
  extensions/json-format/src/utils.ts
Labels: extension fix / improvement, extension: json-format

#14770 [Color Picker] Add Color Names command
  extensions/color-picker/CHANGELOG.md
  extensions/color-picker/README.md
  extensions/color-picker/package-lock.json
  extensions/color-picker/package.json
  extensions/color-picker/src/color-names.tsx
  extensions/color-picker/src/components/ColorNames.tsx
  extensions/color-picker/src/types.ts
  extensions/color-picker/src/utils.ts
Labels: extension fix / improvement, OP is contributor, extension: color-picker

#14781 [PM2] Optimize file size & chore updates
  extensions/pm2/CHANGELOG.md
  extensions/pm2/package-lock.json
  extensions/pm2/package.json
  extensions/pm2/src/components.tsx
  extensions/pm2/src/utils.ts
Labels: extension fix / improvement, OP is author, extension: pm2

#14782 GitHub: Fix visited repositories error
  extensions/github/CHANGELOG.md
  extensions/github/src/helpers/repository.ts
  extensions/github/src/search-repositories.tsx
Labels: extension fix / improvement, OP is author, extension: github

#14783 [Bitwarden] Simplify generate password form to fix possible re-render loop
  extensions/bitwarden/CHANGELOG.md
  extensions/bitwarden/src/generate-password.tsx
Labels: extension fix / improvement, OP is author, extension: bitwarden

#14701 [Splitwise] Added revalidation and support for multiple currencies
  extensions/Splitwise/CHANGELOG.md
  extensions/Splitwise/src/add-expense.tsx
  extensions/Splitwise/src/components-add/FillForm.tsx
  extensions/Splitwise/src/components-list/ChangeValues.tsx
  extensions/Splitwise/src/hooks/useFriends_Groups.tsx
  extensions/Splitwise/src/hooks/useList.tsx
  extensions/Splitwise/src/list-expenses.tsx
  extensions/Splitwise/src/types/friends_groups.types.ts
  extensions/Splitwise/src/utils/constants.tsx
  extensions/Splitwise/src/utils/utils.tsx
Labels: extension fix / improvement, OP is author, extension: splitwise

#14661 Update imessage-2fa extension
  extensions/imessage-2fa/CHANGELOG.md
  extensions/imessage-2fa/src/utils.test.ts
  extensions/imessage-2fa/src/utils.ts
Labels: extension fix / improvement, extension: imessage-2fa

#14668 [Everhour] new 'current timer' command to view,start,stop current timer (closes #14649)
  extensions/everhour/CHANGELOG.md
  extensions/everhour/package-lock.json
  extensions/everhour/package.json
  extensions/everhour/src/api/index.ts
  extensions/everhour/src/currentTimer.tsx
  extensions/everhour/src/types/index.ts
Labels: extension fix / improvement, OP is contributor, extension: everhour

#14671 [beeminder] Show the most recent data point when submitting a new one
  extensions/beeminder/CHANGELOG.md
  extensions/beeminder/src/beeminder.tsx
Labels: extension fix / improvement, OP is contributor, extension: beeminder

#14598 Add swift-command extension
  extensions/swift-command/.eslintrc.json
  extensions/swift-command/.gitignore
  extensions/swift-command/.prettierrc
  extensions/swift-command/CHANGELOG.md
  extensions/swift-command/README.md
  extensions/swift-command/__tests__/datasoure.test.ts
  extensions/swift-command/__tests__/filter.test.ts
  extensions/swift-command/__tests__/utils.test.ts
  extensions/swift-command/assets/extension-icon-512.png
  extensions/swift-command/assets/extension-icon.png
  extensions/swift-command/metadata/swift-command-1.png
  extensions/swift-command/metadata/swift-command-2.png
  extensions/swift-command/metadata/swift-command-3.png
  extensions/swift-command/metadata/swift-command-4.png
  extensions/swift-command/metadata/swift-command-5.png
  extensions/swift-command/package-lock.json
  extensions/swift-command/package.json
  extensions/swift-command/src/datasource.ts
  extensions/swift-command/src/filter.ts
  extensions/swift-command/src/form.tsx
  extensions/swift-command/src/manage-commands.tsx
  extensions/swift-command/src/perference.ts
  extensions/swift-command/src/utils.ts
  extensions/swift-command/tsconfig.json
  extensions/swift-command/vite.config.js
Labels: new extension

#14696 [OpenAI Translator] Dynamic OpenAI & Ollama Model List
  extensions/openai-translator/CHANGELOG.md
  extensions/openai-translator/package.json
  extensions/openai-translator/src/providers/azure/config.ts
  extensions/openai-translator/src/providers/claude/config.ts
  extensions/openai-translator/src/providers/gemini/config.ts
  extensions/openai-translator/src/providers/groq/config.ts
  extensions/openai-translator/src/providers/lang.ts
  extensions/openai-translator/src/providers/moonshot/config.ts
  extensions/openai-translator/src/providers/ollama/config.ts
  extensions/openai-translator/src/providers/openai/config.ts
  extensions/openai-translator/src/providers/types.ts
  extensions/openai-translator/src/raycast-utils.ts
  extensions/openai-translator/src/views/provider-form.tsx
Labels: extension fix / improvement, OP is author, extension: openai-translator

#14786 Update wip extension
  extensions/wip/CHANGELOG.md
  extensions/wip/README.md
Labels: extension fix / improvement, OP is author, extension: wip

#14695 Update safari extension
  extensions/safari/CHANGELOG.md
  extensions/safari/package.json
  extensions/safari/src/cloud-tabs.tsx
  extensions/safari/src/components/FallbackSearchSection.tsx
  extensions/safari/src/components/HistoryListItem.tsx
  extensions/safari/src/components/SearchInBrowserAction.tsx
  extensions/safari/src/search-history.tsx
  extensions/safari/src/types.ts
Labels: extension fix / improvement, extension: safari

#14674 Update world-clock extension
  extensions/world-clock/CHANGELOG.md
  extensions/world-clock/src/utils/common-utils.ts
Labels: extension fix / improvement, OP is contributor, extension: world-clock

#14692 Update letterboxd extension
  extensions/letterboxd/CHANGELOG.md
  extensions/letterboxd/package.json
  extensions/letterboxd/src/letterboxd-api.ts
Labels: extension fix / improvement, extension: letterboxd

#14812 [Search npm] Hide history list when `historyCount` is zero
  extensions/search-npm/CHANGELOG.md
  extensions/search-npm/package-lock.json
  extensions/search-npm/package.json
  extensions/search-npm/src/components/HistoryListItem.tsx
  extensions/search-npm/src/index.tsx
Labels: extension fix / improvement, extension: search-npm

#14811 [Open in Sublime Text] Add Open Clipboard Content in Sublime Command
  extensions/open-in-sublime-text/CHANGELOG.md
  extensions/open-in-sublime-text/package-lock.json
  extensions/open-in-sublime-text/package.json
  extensions/open-in-sublime-text/src/clipboard.ts
Labels: extension fix / improvement, extension: open-in-sublime-text

#14471 Update lucide-icons extension
  extensions/lucide-icons/CHANGELOG.md
  extensions/lucide-icons/metadata/lucide-icons-01.png
  extensions/lucide-icons/metadata/lucide-icons-1.png
  extensions/lucide-icons/metadata/lucide-icons-2.png
  extensions/lucide-icons/package-lock.json
  extensions/lucide-icons/package.json
  extensions/lucide-icons/src/components/IconGrid.tsx
  extensions/lucide-icons/src/components/LoadingAnimation.tsx
  extensions/lucide-icons/src/createLucideIcon.ts
  extensions/lucide-icons/src/defaultAttributes.ts
  extensions/lucide-icons/src/hooks/useAISearch.ts
  extensions/lucide-icons/src/hooks/useFetchIcons.ts
  extensions/lucide-icons/src/hooks/useIconFiltering.ts
  extensions/lucide-icons/src/index.tsx
  extensions/lucide-icons/src/types.ts
  extensions/lucide-icons/src/utils.ts
Labels: extension fix / improvement, status: stalled, extension: lucide-icons

#13933 Add nordic-energy-prices extension
  extensions/nordic-energy-prices/.eslintrc.json
  extensions/nordic-energy-prices/.gitignore
  extensions/nordic-energy-prices/.prettierrc
  extensions/nordic-energy-prices/CHANGELOG.md
  extensions/nordic-energy-prices/README.md
  extensions/nordic-energy-prices/assets/command-icon-energy.png
  extensions/nordic-energy-prices/metadata/nordic-energy-prices-1.png
  extensions/nordic-energy-prices/package-lock.json
  extensions/nordic-energy-prices/package.json
  extensions/nordic-energy-prices/src/components/listPrice.tsx
  extensions/nordic-energy-prices/src/constants/preferences.tsx
  extensions/nordic-energy-prices/src/today.tsx
  extensions/nordic-energy-prices/src/types/energyData.tsx
  extensions/nordic-energy-prices/src/utils/averageCalculator.tsx
  extensions/nordic-energy-prices/src/utils/dateConverter.tsx
  extensions/nordic-energy-prices/src/utils/priceConverter.tsx
  extensions/nordic-energy-prices/src/utils/queryGenerator.tsx
  extensions/nordic-energy-prices/tsconfig.json
Labels: new extension

#14555 Update screenocr extension
  extensions/screenocr/.gitignore
  extensions/screenocr/CHANGELOG.md
  extensions/screenocr/Package.swift
  extensions/screenocr/Sources/recognize-text/main.swift
  extensions/screenocr/assets/recognize-text
  extensions/screenocr/metadata/screenocr-1.png
  extensions/screenocr/metadata/screenocr-2.png
  extensions/screenocr/package-lock.json
  extensions/screenocr/package.json
  extensions/screenocr/src/hooks.ts
  extensions/screenocr/src/preferences/LanguageManager/LanguageManager.tsx
  extensions/screenocr/src/recognize-text-fullscreen.ts
  extensions/screenocr/src/recognize-text.tsx
  extensions/screenocr/src/types.ts
  extensions/screenocr/src/utils.ts
  extensions/screenocr/swift/.gitignore
  extensions/screenocr/swift/Package.swift
  extensions/screenocr/swift/Sources/ScreenOCR/ScreenOCR.swift
  extensions/screenocr/tsconfig.json
Labels: extension fix / improvement, status: stalled, extension: screenocr

#14684 [dev.to] Add Pagination + move Tags to Detail views + - remove `zustand` opting for Raycast `useFetch`
  extensions/dev-to/.eslintrc.json
  extensions/dev-to/.gitignore
  extensions/dev-to/CHANGELOG.md
  extensions/dev-to/package-lock.json
  extensions/dev-to/package.json
  extensions/dev-to/src/components/article-action.tsx
  extensions/dev-to/src/config/constants.ts
  extensions/dev-to/src/create-article.tsx
  extensions/dev-to/src/hooks/hooks.ts
  extensions/dev-to/src/search-article.tsx
  extensions/dev-to/src/search-reading-list.tsx
  extensions/dev-to/src/types/newArticle.tsx
  extensions/dev-to/src/utils/functions.tsx
  extensions/dev-to/src/utils/state.ts
  extensions/dev-to/tsconfig.json
Labels: extension fix / improvement, extension: dev-to

#14694 [Nextcloud] `activity` and `deck` now has useFetch + paginate `activity` + jsonRequest are now `useFetch`
  extensions/nextcloud/.eslintrc.json
  extensions/nextcloud/.gitignore
  extensions/nextcloud/CHANGELOG.md
  extensions/nextcloud/changelog.md
  extensions/nextcloud/package-lock.json
  extensions/nextcloud/package.json
  extensions/nextcloud/src/activity/Activity.tsx
  extensions/nextcloud/src/activity/hooks.tsx
  extensions/nextcloud/src/activity/index.tsx
  extensions/nextcloud/src/activity/utils.tsx
  extensions/nextcloud/src/config.ts
  extensions/nextcloud/src/deck/components/Boards.tsx
  extensions/nextcloud/src/deck/components/Stacks.tsx
  extensions/nextcloud/src/deck/hooks.tsx
  extensions/nextcloud/src/nextcloud.ts
  extensions/nextcloud/src/notes/components/NoteDetails.tsx
  extensions/nextcloud/src/notes/components/Notes.tsx
  extensions/nextcloud/src/notes/hooks.tsx
  extensions/nextcloud/src/preferences.ts
  extensions/nextcloud/src/search/utils.tsx
  extensions/nextcloud/tsconfig.json
Labels: extension fix / improvement, extension: nextcloud

#14705 Add `Virtualizor Enduser` extension - Manage your instance (manage VPS, view info, view logs, view tasks)
  extensions/virtualizor-enduser/.eslintrc.json
  extensions/virtualizor-enduser/.gitignore
  extensions/virtualizor-enduser/.prettierrc
  extensions/virtualizor-enduser/CHANGELOG.md
  extensions/virtualizor-enduser/README.md
  extensions/virtualizor-enduser/assets/virtualizor.png
  extensions/virtualizor-enduser/package-lock.json
  extensions/virtualizor-enduser/package.json
  extensions/virtualizor-enduser/src/lib/config.ts
  extensions/virtualizor-enduser/src/lib/hooks/index.ts
  extensions/virtualizor-enduser/src/lib/types/index.ts
  extensions/virtualizor-enduser/src/lib/types/user.ts
  extensions/virtualizor-enduser/src/lib/types/vps.ts
  extensions/virtualizor-enduser/src/lib/utils/generate-api-url.ts
  extensions/virtualizor-enduser/src/lib/utils/generate-base-url.ts
  extensions/virtualizor-enduser/src/lib/utils/timestamp-to-date.ts
  extensions/virtualizor-enduser/src/logs.tsx
  extensions/virtualizor-enduser/src/tasks.tsx
  extensions/virtualizor-enduser/src/virtual-servers.tsx
  extensions/virtualizor-enduser/tsconfig.json
Labels: new extension

#14714 [Gmail] Remove broken link and image
  extensions/gmail/CHANGELOG.md
  extensions/gmail/README.md
Labels: extension fix / improvement, extension: gmail

#14717 change the modifiers for copy and paste symbol name
  extensions/sf-symbols-search/CHANGELOG.md
  extensions/sf-symbols-search/src/index.tsx
Labels: extension fix / improvement, extension: sf-symbols-search

#14723 [Rebrandly] Show More Links Info + Native Pagination + Update deps + Add .md files
  extensions/rebrandly/.eslintrc.json
  extensions/rebrandly/.gitignore
  extensions/rebrandly/CHANGELOG.md
  extensions/rebrandly/README.md
  extensions/rebrandly/metadata/rebrandly-1.png
  extensions/rebrandly/metadata/rebrandly-2.png
  extensions/rebrandly/package-lock.json
  extensions/rebrandly/package.json
  extensions/rebrandly/src/config.ts
  extensions/rebrandly/src/data.ts
  extensions/rebrandly/src/hooks.ts
  extensions/rebrandly/src/rebrandly.tsx
  extensions/rebrandly/src/store.ts
  extensions/rebrandly/src/types.ts
  extensions/rebrandly/tsconfig.json
Labels: extension fix / improvement, extension: rebrandly

#14736 [Steam][SteamGridDB] Add SteamGridDB extension
  extensions/steam/CHANGELOG.md
  extensions/steam/README.md
  extensions/steam/package-lock.json
  extensions/steam/package.json
  extensions/steam/src/components/Actions.tsx
  extensions/steam/src/components/ListItems.tsx
  extensions/steam/src/components/MyGames.tsx
  extensions/steam/src/components/RecentlyPlayedGames.tsx
  extensions/steam/src/lib/fetcher.ts
  extensions/steam/src/steam.tsx
  extensions/steamgriddb/.eslintrc.json
  extensions/steamgriddb/.gitignore
  extensions/steamgriddb/CHANGELOG.md
  extensions/steamgriddb/LICENSE
  extensions/steamgriddb/README.md
  extensions/steamgriddb/assets/steamgriddb-icon.png
  extensions/steamgriddb/metadata/steamgriddb-1.png
  extensions/steamgriddb/metadata/steamgriddb-2.png
  extensions/steamgriddb/metadata/steamgriddb-3.png
  extensions/steamgriddb/metadata/steamgriddb-4.png
  extensions/steamgriddb/package-lock.json
  extensions/steamgriddb/package.json
  extensions/steamgriddb/src/browse.tsx
  extensions/steamgriddb/src/components.tsx
  extensions/steamgriddb/src/types.ts
  extensions/steamgriddb/src/utils.ts
  extensions/steamgriddb/tsconfig.json
Labels: new extension

#14737 [toggl-track] Add ability to create tasks for time entry form
  extensions/toggl-track/CHANGELOG.md
  extensions/toggl-track/src/api/index.ts
  extensions/toggl-track/src/api/tasks.ts
  extensions/toggl-track/src/components/CreateTimeEntryForm.tsx
Labels: extension fix / improvement, OP is contributor, extension: toggl-track

#14791 Add veganify-application extension
  extensions/veganify-application/.eslintrc.json
  extensions/veganify-application/.gitignore
  extensions/veganify-application/.prettierrc
  extensions/veganify-application/CHANGELOG.md
  extensions/veganify-application/README.md
  extensions/veganify-application/assets/icon.png
  extensions/veganify-application/assets/vgc.svg
  extensions/veganify-application/metadata/veganify-application-1.png
  extensions/veganify-application/metadata/veganify-application-2.png
  extensions/veganify-application/metadata/veganify-application-3.png
  extensions/veganify-application/package-lock.json
  extensions/veganify-application/package.json
  extensions/veganify-application/src/check-ingredients.tsx
  extensions/veganify-application/src/components/EmptyList.tsx
  extensions/veganify-application/src/components/IngredientListItem.tsx
  extensions/veganify-application/src/models/IngredientResult.ts
  extensions/veganify-application/src/models/IngredientsCheckResponse.ts
  extensions/veganify-application/src/utils/api.ts
  extensions/veganify-application/src/utils/debounce.ts
  extensions/veganify-application/src/utils/displayHelpers.ts
  extensions/veganify-application/src/utils/preprocessIngredients.ts
  extensions/veganify-application/tsconfig.json
Labels: new extension

#14790 [Gif Search] Fix Recent GIFs can't be add to favorites
  extensions/gif-search/CHANGELOG.md
  extensions/gif-search/src/components/GifActions.tsx
  extensions/gif-search/src/lib/localGifs.ts
Labels: extension fix / improvement, OP is contributor, extension: gif-search

#14834 GIF Search: Refactor local GIFs
  extensions/gif-search/src/components/GifActions.tsx
  extensions/gif-search/src/components/GifDetails.tsx
  extensions/gif-search/src/components/GifGridItem.tsx
  extensions/gif-search/src/components/GifGridSection.tsx
  extensions/gif-search/src/hooks/useLocalGifs.ts
  extensions/gif-search/src/lib/getServiceFromUrl.ts
  extensions/gif-search/src/lib/localGifs.ts
  extensions/gif-search/src/search.tsx
Labels: extension fix / improvement, extension: gif-search

#14829 Update anki extension
  extensions/anki/CHANGELOG.md
  extensions/anki/package.json
  extensions/anki/src/actions/AddCardAction.tsx
Labels: extension fix / improvement, OP is author, extension: anki

#14825 Update discord-timestamps extension
  extensions/discord-timestamps/CHANGELOG.md
  extensions/discord-timestamps/package.json
  extensions/discord-timestamps/src/timestamp.tsx
  extensions/discord-timestamps/src/timestamps.ts
Labels: extension fix / improvement, extension: discord-timestamps

#14818 fix(leetcode): ensure newline before/after codefence
  extensions/leetcode/CHANGELOG.md
  extensions/leetcode/src/utils.ts
Labels: extension fix / improvement, OP is author, extension: leetcode

#14656 Add font-search extension
  extensions/font-search/.eslintrc.json
  extensions/font-search/.gitignore
  extensions/font-search/.prettierrc
  extensions/font-search/CHANGELOG.md
  extensions/font-search/README.md
  extensions/font-search/assets/extension-icon.png
  extensions/font-search/metadata/font-search-1.png
  extensions/font-search/metadata/font-search-2.png
  extensions/font-search/metadata/font-search-3.png
  extensions/font-search/package-lock.json
  extensions/font-search/package.json
  extensions/font-search/src/fontPreview.ts
  extensions/font-search/src/search-fonts.tsx
  extensions/font-search/src/utils.ts
  extensions/font-search/tsconfig.json
Labels: new extension

#14837 Update trovu extension
  extensions/trovu/CHANGELOG.md
  extensions/trovu/package-lock.json
  extensions/trovu/package.json
  extensions/trovu/src/core/src/js/modules/Env.js
  extensions/trovu/src/core/src/js/modules/Helper.js
  extensions/trovu/src/core/src/js/modules/SuggestionsGetter.js
  extensions/trovu/src/core/src/js/modules/UrlProcessor.js
  extensions/trovu/src/index.tsx
  extensions/trovu/src/markdowns.tsx
Labels: extension fix / improvement, OP is author, extension: trovu

#14764 [stackoverflow] close #14738 by fetching 9999 sites + update deps + replace getSites `useEffect` w/ `usePromise`
  extensions/stackoverflow/.eslintrc.json
  extensions/stackoverflow/.gitignore
  extensions/stackoverflow/CHANGELOG.md
  extensions/stackoverflow/CHNAGELOG.md
  extensions/stackoverflow/package-lock.json
  extensions/stackoverflow/package.json
  extensions/stackoverflow/src/commandSearchStackOverflow.tsx
  extensions/stackoverflow/src/common/SoApi.ts
  extensions/stackoverflow/src/common/questionDetail.tsx
  extensions/stackoverflow/src/common/typeUtils.ts
  extensions/stackoverflow/tsconfig.json
Labels: extension fix / improvement, extension: stackoverflow

#14845 Messages: Fix heap memory error
  extensions/messages/CHANGELOG.md
  extensions/messages/package.json
  extensions/messages/src/helpers.ts
  extensions/messages/src/hooks/useChats.ts
  extensions/messages/src/hooks/useContacts.ts
  extensions/messages/src/hooks/useMessages.ts
  extensions/messages/swift/contacts/Sources/Messages.swift
Labels: extension fix / improvement, OP is author, extension: messages

#14676 Add surf-check extension
  extensions/surf-check/.eslintrc.json
  extensions/surf-check/.gitignore
  extensions/surf-check/.prettierrc
  extensions/surf-check/CHANGELOG.md
  extensions/surf-check/LICENSE
  extensions/surf-check/README.md
  extensions/surf-check/assets/extension_icon.png
  extensions/surf-check/metadata/surf-check-1.png
  extensions/surf-check/metadata/surf-check-2.png
  extensions/surf-check/package-lock.json
  extensions/surf-check/package.json
  extensions/surf-check/src/surf-check.tsx
  extensions/surf-check/tsconfig.json
Labels: new extension

#14853 [SteamGridDB] Fix data handling while the game is not found
  extensions/steamgriddb/CHANGELOG.md
  extensions/steamgriddb/package-lock.json
  extensions/steamgriddb/package.json
  extensions/steamgriddb/src/browse.tsx
Labels: extension fix / improvement, OP is author, extension: steamgriddb

#14859 Update `Resend` extension - dark and light mode logos + `useResend` hook for more control
  extensions/resend/.gitignore
  extensions/resend/CHANGELOG.md
  extensions/resend/README.md
  extensions/resend/assets/resend.png
  extensions/resend/assets/resend@dark.png
  extensions/resend/package-lock.json
  extensions/resend/package.json
  extensions/resend/src/api_keys.tsx
  extensions/resend/src/domains.tsx
  extensions/resend/src/lib/hooks.ts
  extensions/resend/src/utils/api.ts
  extensions/resend/tsconfig.json
Labels: extension fix / improvement, OP is author, extension: resend

#14769 [TourBox] Add TourBox extension
  extensions/tourbox/.eslintrc.json
  extensions/tourbox/.gitignore
  extensions/tourbox/.prettierrc
  extensions/tourbox/CHANGELOG.md
  extensions/tourbox/LICENSE
  extensions/tourbox/README.md
  extensions/tourbox/assets/tourbox-icon.png
  extensions/tourbox/metadata/tourbox-1.png
  extensions/tourbox/package-lock.json
  extensions/tourbox/package.json
  extensions/tourbox/src/api.ts
  extensions/tourbox/src/search.tsx
  extensions/tourbox/src/types.ts
  extensions/tourbox/tsconfig.json
Labels: new extension

#14852 Update cursor-directory extension
  extensions/cursor-directory/CHANGELOG.md
  extensions/cursor-directory/README.md
  extensions/cursor-directory/metadata/cursor-directory-3.png
  extensions/cursor-directory/package-lock.json
  extensions/cursor-directory/package.json
  extensions/cursor-directory/src/api.ts
  extensions/cursor-directory/src/components/actions/CopyRuleAction.tsx
  extensions/cursor-directory/src/components/actions/ExportAndEditAction.tsx
  extensions/cursor-directory/src/index.tsx
  extensions/cursor-directory/src/utils.ts
  extensions/cursor-directory/src/youtube.tsx
Labels: extension fix / improvement, OP is author, extension: cursor-directory

#14679 Add expand-video-canvas extension
  extensions/expand-video-canvas/.eslintrc.json
  extensions/expand-video-canvas/.gitignore
  extensions/expand-video-canvas/.prettierrc
  extensions/expand-video-canvas/CHANGELOG.md
  extensions/expand-video-canvas/README.md
  extensions/expand-video-canvas/assets/extension-icon.png
  extensions/expand-video-canvas/package-lock.json
  extensions/expand-video-canvas/package.json
  extensions/expand-video-canvas/src/expand-video-canvas.ts
  extensions/expand-video-canvas/tsconfig.json
Labels: new extension

#14762 [Typeform Navigator] choose endpoint + update logo + cache + add icons + move to hooks + show basic responses
  extensions/typeform-navigator/.eslintrc.json
  extensions/typeform-navigator/.gitignore
  extensions/typeform-navigator/CHANGELOG.md
  extensions/typeform-navigator/README.md
  extensions/typeform-navigator/assets/command-icon.png
  extensions/typeform-navigator/assets/list-icon.png
  extensions/typeform-navigator/assets/tf.png
  extensions/typeform-navigator/metadata/Form detail.png
  extensions/typeform-navigator/metadata/List Workspaces.png
  extensions/typeform-navigator/metadata/Workspace forms options.png
  extensions/typeform-navigator/metadata/Workspace forms.png
  extensions/typeform-navigator/metadata/Workspaces options.png
  extensions/typeform-navigator/metadata/typeform-1.png
  extensions/typeform-navigator/metadata/typeform-2.png
  extensions/typeform-navigator/metadata/typeform-3.png
  extensions/typeform-navigator/metadata/typeform-4.png
  extensions/typeform-navigator/package-lock.json
  extensions/typeform-navigator/package.json
  extensions/typeform-navigator/src/dto/index.ts
  extensions/typeform-navigator/src/hooks.ts
  extensions/typeform-navigator/src/index.tsx
  extensions/typeform-navigator/src/infra/http-client.ts
  extensions/typeform-navigator/src/utils.ts
  extensions/typeform-navigator/tsconfig.json
Labels: extension fix / improvement, extension: typeform-navigator

#14872 Update unicode-symbols extension
  extensions/unicode-symbols/CHANGELOG.md
  extensions/unicode-symbols/metadata/unicode-symbols-1.png
  extensions/unicode-symbols/metadata/unicode-symbols-2.png
  extensions/unicode-symbols/metadata/unicode-symbols-3.png
  extensions/unicode-symbols/metadata/unicode-symbols-4.png
  extensions/unicode-symbols/metadata/unicode-symbols-5.png
  extensions/unicode-symbols/package-lock.json
  extensions/unicode-symbols/package.json
  extensions/unicode-symbols/src/components/CharacterActionPanel.tsx
Labels: extension fix / improvement, extension: unicode-symbols

#14873 [PM2] Fix child-process executors
  extensions/pm2/CHANGELOG.md
  extensions/pm2/package-lock.json
  extensions/pm2/package.json
  extensions/pm2/src/main.tsx
  extensions/pm2/src/utils.ts
Labels: extension fix / improvement, OP is author, extension: pm2

#14795 Update drafts extension
  extensions/drafts/CHANGELOG.md
  extensions/drafts/README.md
  extensions/drafts/package.json
  extensions/drafts/src/capture.tsx
Labels: extension fix / improvement, extension: drafts

#14879 Messages: Add "Paste Latest OTP Code" command
  extensions/messages/CHANGELOG.md
  extensions/messages/package-lock.json
  extensions/messages/package.json
  extensions/messages/src/paste-latest-otp-code.tsx
Labels: extension fix / improvement, OP is author, extension: messages

#14750 feat: adding shottr extension
  extensions/shottr/.eslintrc.json
  extensions/shottr/.gitignore
  extensions/shottr/.prettierrc
  extensions/shottr/CHANGELOG.md
  extensions/shottr/README.md
  extensions/shottr/assets/grab-append.png
  extensions/shottr/assets/grab-area.png
  extensions/shottr/assets/grab-delayed.png
  extensions/shottr/assets/grab-fullscreen.png
  extensions/shottr/assets/grab-ocr.png
  extensions/shottr/assets/grab-scrolling-reverse.png
  extensions/shottr/assets/grab-scrolling.png
  extensions/shottr/assets/grab-window.png
  extensions/shottr/assets/load-clipboard.png
  extensions/shottr/assets/load-file.png
  extensions/shottr/assets/main-icon.png
  extensions/shottr/assets/settings.png
  extensions/shottr/assets/shottr.png
  extensions/shottr/assets/uploads.png
  extensions/shottr/metadata/Commands_1.png
  extensions/shottr/metadata/Commands_2.png
  extensions/shottr/metadata/DelayCommand.png
  extensions/shottr/metadata/ShottrNotInstalled.png
  extensions/shottr/package-lock.json
  extensions/shottr/package.json
  extensions/shottr/src/ssa.tsx
  extensions/shottr/src/ssap.tsx
  extensions/shottr/src/ssc.tsx
  extensions/shottr/src/ssds.tsx
  extensions/shottr/src/ssf.tsx
  extensions/shottr/src/ssfs.tsx
  extensions/shottr/src/sso.tsx
  extensions/shottr/src/ssrg.tsx
  extensions/shottr/src/sss.tsx
  extensions/shottr/src/sssr.tsx
  extensions/shottr/src/ssst.tsx
  extensions/shottr/src/sstr.tsx
  extensions/shottr/src/ssu.tsx
  extensions/shottr/src/ssw.tsx
  extensions/shottr/src/utils/checkInstall.ts
  extensions/shottr/tsconfig.json
Labels: new extension

#14900 Update remember-the-date extension
  extensions/remember-the-date/CHANGELOG.md
  extensions/remember-the-date/package.json
  extensions/remember-the-date/src/list.tsx
  extensions/remember-the-date/src/menu-bar.tsx
  extensions/remember-the-date/src/types.ts
  extensions/remember-the-date/src/up-next.tsx
Labels: extension fix / improvement, extension: remember-the-date

#14911 Update braid extension
  extensions/braid/.eslintrc.json
  extensions/braid/CHANGELOG.md
  extensions/braid/eslint.config.mjs
  extensions/braid/package-lock.json
  extensions/braid/package.json
  extensions/braid/src/search-docs.tsx
  extensions/braid/src/search-iconography.tsx
Labels: extension fix / improvement, OP is author, extension: braid

#14877 Update cursor-recent-projects extension
  extensions/cursor-recent-projects/CHANGELOG.md
  extensions/cursor-recent-projects/package-lock.json
  extensions/cursor-recent-projects/package.json
  extensions/cursor-recent-projects/src/contexts/ProjectContext.tsx
  extensions/cursor-recent-projects/src/index.tsx
  extensions/cursor-recent-projects/src/integrations/cursor-directory.ts
  extensions/cursor-recent-projects/src/integrations/types.ts
Labels: extension fix / improvement, extension: cursor-recent-projects

#14870 feat(google-chrome-profiles): support quicklinks with specific url
  extensions/google-chrome-profiles/CHANGELOG.md
  extensions/google-chrome-profiles/package.json
  extensions/google-chrome-profiles/src/index.tsx
Labels: extension fix / improvement, extension: google-chrome-profiles

#14397 Add ai-code-namer extension
  extensions/ai-code-namer/.eslintrc.json
  extensions/ai-code-namer/.gitignore
  extensions/ai-code-namer/.prettierrc
  extensions/ai-code-namer/CHANGELOG.md
  extensions/ai-code-namer/README.md
  extensions/ai-code-namer/assets/extension-icon.png
  extensions/ai-code-namer/metadata/screenshot-1.png
  extensions/ai-code-namer/metadata/screenshot-2.png
  extensions/ai-code-namer/package-lock.json
  extensions/ai-code-namer/package.json
  extensions/ai-code-namer/src/name-class.tsx
  extensions/ai-code-namer/src/name-constant.tsx
  extensions/ai-code-namer/src/name-enum.tsx
  extensions/ai-code-namer/src/name-file.tsx
  extensions/ai-code-namer/src/name-folder.tsx
  extensions/ai-code-namer/src/name-function.tsx
  extensions/ai-code-namer/src/name-module.tsx
  extensions/ai-code-namer/src/name-type.tsx
  extensions/ai-code-namer/src/name-variable.tsx
  extensions/ai-code-namer/src/services.tsx
  extensions/ai-code-namer/src/style-dropdown.tsx
  extensions/ai-code-namer/src/utils.tsx
  extensions/ai-code-namer/tsconfig.json
Labels: new extension

#14804 Update chatgpt extension
  extensions/chatgpt/.gitignore
  extensions/chatgpt/CHANGELOG.md
  extensions/chatgpt/package-lock.json
  extensions/chatgpt/package.json
  extensions/chatgpt/src/hooks/useModel.tsx
  extensions/chatgpt/src/model.tsx
  extensions/chatgpt/src/type.ts
  extensions/chatgpt/src/utils/import-export.ts
  extensions/chatgpt/src/views/import-form.tsx
  extensions/chatgpt/src/views/model/form.tsx
Labels: extension fix / improvement, extension: chatgpt

#14724 Add SnippetsLab Extension
  extensions/snippetslab/.eslintrc.json
  extensions/snippetslab/.gitignore
  extensions/snippetslab/.prettierrc
  extensions/snippetslab/CHANGELOG.md
  extensions/snippetslab/README.md
  extensions/snippetslab/assets/app-icon-sm.png
  extensions/snippetslab/assets/extension-icon.png
  extensions/snippetslab/metadata/snippetslab-1.png
  extensions/snippetslab/metadata/snippetslab-2.png
  extensions/snippetslab/metadata/snippetslab-3.png
  extensions/snippetslab/metadata/snippetslab-4.png
  extensions/snippetslab/package-lock.json
  extensions/snippetslab/package.json
  extensions/snippetslab/src/components/actions.tsx
  extensions/snippetslab/src/components/details.tsx
  extensions/snippetslab/src/components/init_error.tsx
  extensions/snippetslab/src/components/list_item.tsx
  extensions/snippetslab/src/components/search_filter.tsx
  extensions/snippetslab/src/hooks/useSnippetsLab.ts
  extensions/snippetslab/src/index.tsx
  extensions/snippetslab/src/models/fragment.ts
  extensions/snippetslab/src/models/preferences.ts
  extensions/snippetslab/src/models/response.ts
  extensions/snippetslab/src/models/snippet.ts
  extensions/snippetslab/src/search.tsx
  extensions/snippetslab/tsconfig.json
Labels: new extension, status: awaiting response from dev

#14740 Update reclaim-ai extension
  extensions/reclaim-ai/CHANGELOG.md
  extensions/reclaim-ai/package.json
  extensions/reclaim-ai/src/notifications.tsx
Labels: extension fix / improvement, extension: reclaim-ai

#14912 [Laby.net] Adjust extension for backend API changes, improve details
  extensions/laby-net/CHANGELOG.md
  extensions/laby-net/package-lock.json
  extensions/laby-net/package.json
  extensions/laby-net/src/profile-search.tsx
  extensions/laby-net/src/profile.tsx
  extensions/laby-net/src/service.ts
  extensions/laby-net/src/texture-search.tsx
Labels: extension fix / improvement, OP is author, extension: laby-net

#14889 [Brand Icons] Add support for searching icons through AI
  extensions/simple-icons/CHANGELOG.md
  extensions/simple-icons/README.md
  extensions/simple-icons/metadata/simple-icons-2.png
  extensions/simple-icons/metadata/simple-icons-3.png
  extensions/simple-icons/package-lock.json
  extensions/simple-icons/package.json
  extensions/simple-icons/src/actions.tsx
  extensions/simple-icons/src/index.tsx
  extensions/simple-icons/src/utils.ts
Labels: extension fix / improvement, OP is author, extension: simple-icons

#14820 Add Solid Icons to mynaui-icons Extension
  extensions/mynaui-icons/.gitignore
  extensions/mynaui-icons/.prettierrc
  extensions/mynaui-icons/CHANGELOG.md
  extensions/mynaui-icons/README.md
  extensions/mynaui-icons/assets/extension-icon.png
  extensions/mynaui-icons/metadata/mynaui-icons-1.png
  extensions/mynaui-icons/metadata/mynaui-icons-2.png
  extensions/mynaui-icons/package-lock.json
  extensions/mynaui-icons/package.json
  extensions/mynaui-icons/src/index.tsx
  extensions/mynaui-icons/tsconfig.json
Labels: extension fix / improvement, OP is author, extension: mynaui-icons

#14875 [Link Cleaner] Add 'Instagram Reel' Rule
  extensions/link-cleaner/.eslintrc.json
  extensions/link-cleaner/.gitignore
  extensions/link-cleaner/CHANGELOG.md
  extensions/link-cleaner/README.md
  extensions/link-cleaner/package-lock.json
  extensions/link-cleaner/package.json
  extensions/link-cleaner/src/rules.ts
  extensions/link-cleaner/tsconfig.json
Labels: extension fix / improvement, extension: link-cleaner

#14839 Add `FBI` extension (view art crimes and wanted persons)
  extensions/fbi/.eslintrc.json
  extensions/fbi/.gitignore
  extensions/fbi/.prettierrc
  extensions/fbi/CHANGELOG.md
  extensions/fbi/README.md
  extensions/fbi/assets/badge.png
  extensions/fbi/metadata/fbi-1.png
  extensions/fbi/metadata/fbi-2.png
  extensions/fbi/package-lock.json
  extensions/fbi/package.json
  extensions/fbi/src/art-crimes.tsx
  extensions/fbi/src/lib/components/ImagesMetadata.tsx
  extensions/fbi/src/lib/constants.ts
  extensions/fbi/src/lib/types.ts
  extensions/fbi/src/lib/utils.tsx
  extensions/fbi/src/wanted-persons.tsx
  extensions/fbi/tsconfig.json
Labels: new extension

#14918 [Bluesky] - Native pagination in `Search Timeline` + Potential fix for quoted post in timeline not having text
  extensions/bluesky/CHANGELOG.md
  extensions/bluesky/package-lock.json
  extensions/bluesky/package.json
  extensions/bluesky/src/timeline.tsx
  extensions/bluesky/src/utils/parser.ts
Labels: extension fix / improvement, OP is contributor, extension: bluesky

#14849 Update open-folders extension
  extensions/open-folders/CHANGELOG.md
  extensions/open-folders/src/fileSpeedDial.tsx
  extensions/open-folders/src/folderSpeedDial.tsx
Labels: extension fix / improvement, OP is contributor, extension: open-folders

#14832 [Must] cache + add metadata images + toggle details panel to view poster + filter list + replace `SWR` with `useFetch`
  extensions/must/.eslintrc.json
  extensions/must/.gitignore
  extensions/must/CHANGELOG.md
  extensions/must/README.md
  extensions/must/assets/yt.png
  extensions/must/metadata/must-1.png
  extensions/must/metadata/must-2.png
  extensions/must/package-lock.json
  extensions/must/package.json
  extensions/must/src/hooks/useMust.ts
  extensions/must/src/index.tsx
  extensions/must/src/types/Preferences.d.ts
  extensions/must/tsconfig.json
Labels: extension fix / improvement, extension: must

#14815 Update mute-microphone extension
  extensions/mute-microphone/CHANGELOG.md
  extensions/mute-microphone/package.json
  extensions/mute-microphone/src/mute-menu-bar.tsx
  extensions/mute-microphone/src/set-level.tsx
  extensions/mute-microphone/src/utils.ts
Labels: extension fix / improvement, extension: mute-microphone

#14857 Add gistly extension
  extensions/gistly/.eslintrc.json
  extensions/gistly/.gitignore
  extensions/gistly/.prettierrc
  extensions/gistly/CHANGELOG.md
  extensions/gistly/README.md
  extensions/gistly/assets/command-icon.png
  extensions/gistly/media/gistly-4.png
  extensions/gistly/metadata/gistly-1.png
  extensions/gistly/metadata/gistly-2.png
  extensions/gistly/metadata/gistly-4.png
  extensions/gistly/package-lock.json
  extensions/gistly/package.json
  extensions/gistly/src/get-insights.tsx
  extensions/gistly/src/get-summary.tsx
  extensions/gistly/src/get-transcript.tsx
  extensions/gistly/src/query-content.tsx
  extensions/gistly/src/utils/format-time.ts
  extensions/gistly/src/utils/get-video-data.ts
  extensions/gistly/tsconfig.json
Labels: new extension

#14866 [Purelymail] Move some endpoint to hooks + fix: wrong toast title when Deleting User + confirm password when creating User
  extensions/purelymail/CHANGELOG.md
  extensions/purelymail/package-lock.json
  extensions/purelymail/package.json
  extensions/purelymail/src/create-user.tsx
  extensions/purelymail/src/get-ownership-code.tsx
  extensions/purelymail/src/list-routing-rules.tsx
  extensions/purelymail/src/list-users.tsx
  extensions/purelymail/src/utils/api.ts
  extensions/purelymail/src/utils/hooks.ts
Labels: extension fix / improvement, OP is author, extension: purelymail

#14848 Fix Tweets in `sublime` extension, and change API params
  extensions/sublime/CHANGELOG.md
  extensions/sublime/README.md
  extensions/sublime/package.json
  extensions/sublime/scripts/patch-prod.js
  extensions/sublime/scripts/publish-prod.sh
  extensions/sublime/src/utils/api.ts
  extensions/sublime/src/utils/constants.ts
  extensions/sublime/src/utils/markdown.ts
  extensions/sublime/src/utils/types.ts
  extensions/sublime/src/views/list.tsx
Labels: extension fix / improvement, OP is author, extension: sublime

#14749 Add usememos extension
  extensions/usememos/.eslintrc.json
  extensions/usememos/.gitignore
  extensions/usememos/.prettierrc
  extensions/usememos/CHANGELOG.md
  extensions/usememos/README.md
  extensions/usememos/assets/icon.png
  extensions/usememos/bunfig.toml
  extensions/usememos/metadata/usememos-1.png
  extensions/usememos/package-lock.json
  extensions/usememos/package.json
  extensions/usememos/src/lib/types.ts
  extensions/usememos/src/lib/utils.ts
  extensions/usememos/src/list-memos.tsx
  extensions/usememos/src/open-memos.tsx
  extensions/usememos/tsconfig.json
Labels: new extension

#14934 [Brand Icons] Fix the issue where AI search could not be stopped
  extensions/simple-icons/CHANGELOG.md
  extensions/simple-icons/src/index.tsx
  extensions/simple-icons/src/utils.ts
Labels: extension fix / improvement, OP is author, extension: simple-icons

#14869 [Hashnode] user empty view + pagination + toggle details view
  extensions/hashnode/CHANGELOG.md
  extensions/hashnode/README.md
  extensions/hashnode/package-lock.json
  extensions/hashnode/package.json
  extensions/hashnode/src/components/StoriesList.tsx
  extensions/hashnode/src/components/StoryItem.tsx
  extensions/hashnode/src/hooks/useStories.ts
  extensions/hashnode/src/models/Story.ts
  extensions/hashnode/src/queries/getPublicStories.ts
  extensions/hashnode/src/queries/getUserStories.ts
Labels: extension fix / improvement, OP is contributor, extension: hashnode

#14887 Add `Vultr` extension - View, Update and Add Users + View Billing History + View Account Information
  extensions/vultr/.eslintrc.json
  extensions/vultr/.gitignore
  extensions/vultr/.prettierrc
  extensions/vultr/CHANGELOG.md
  extensions/vultr/README.md
  extensions/vultr/assets/vultr.png
  extensions/vultr/assets/vultr@dark.png
  extensions/vultr/metadata/vultr-1-account-info-bandwidth.png
  extensions/vultr/metadata/vultr-2-billing-history.png
  extensions/vultr/metadata/vultr-3-billing-history-invoice.png
  extensions/vultr/metadata/vultr-4-users.png
  extensions/vultr/package-lock.json
  extensions/vultr/package.json
  extensions/vultr/src/account-info.tsx
  extensions/vultr/src/billing-history.tsx
  extensions/vultr/src/lib/components/open-in-vultr.tsx
  extensions/vultr/src/lib/constants.ts
  extensions/vultr/src/lib/hooks/use-vultr-paginated.ts
  extensions/vultr/src/lib/hooks/use-vultr.ts
  extensions/vultr/src/lib/types/account.ts
  extensions/vultr/src/lib/types/billing.ts
  extensions/vultr/src/lib/types/index.ts
  extensions/vultr/src/lib/types/user.ts
  extensions/vultr/src/lib/utils.ts
  extensions/vultr/src/users.tsx
  extensions/vultr/tsconfig.json
Labels: new extension

#14896 Add "Create anonymous identity" command to Migadu extension
  extensions/migadu/CHANGELOG.md
  extensions/migadu/README.md
  extensions/migadu/package-lock.json
  extensions/migadu/package.json
  extensions/migadu/src/components/identities.tsx
  extensions/migadu/src/create-copy-anonymous-identity.tsx
  extensions/migadu/src/utils/api.ts
  extensions/migadu/src/utils/constants.ts
Labels: extension fix / improvement, extension: migadu

#14919 Fix/shottr documentation
  extensions/shottr/CHANGELOG.md
  extensions/shottr/README.md
Labels: extension fix / improvement, OP is author, extension: shottr

#14880 Add nepali-date-converter extension
  extensions/nepali-date-converter/.eslintrc.json
  extensions/nepali-date-converter/.gitignore
  extensions/nepali-date-converter/.prettierrc
  extensions/nepali-date-converter/CHANGELOG.md
  extensions/nepali-date-converter/README.md
  extensions/nepali-date-converter/assets/extension_icon.png
  extensions/nepali-date-converter/package-lock.json
  extensions/nepali-date-converter/package.json
  extensions/nepali-date-converter/src/index.tsx
  extensions/nepali-date-converter/tsconfig.json
Labels: new extension

#14778 Twenty CRM
  extensions/twenty/.eslintrc.json
  extensions/twenty/.gitignore
  extensions/twenty/.prettierrc
  extensions/twenty/CHANGELOG.md
  extensions/twenty/README.md
  extensions/twenty/assets/logo.png
  extensions/twenty/metadata/metadata-1.png
  extensions/twenty/metadata/metadata-2.png
  extensions/twenty/metadata/metadata-3.png
  extensions/twenty/metadata/metadata-4.png
  extensions/twenty/package-lock.json
  extensions/twenty/package.json
  extensions/twenty/src/create-company.tsx
  extensions/twenty/src/create-person.tsx
  extensions/twenty/src/error-view.tsx
  extensions/twenty/src/hooks/use-auth-headers.ts
  extensions/twenty/src/hooks/use-company-details.ts
  extensions/twenty/src/hooks/use-company.ts
  extensions/twenty/src/hooks/use-people.ts
  extensions/twenty/src/list-companies.tsx
  extensions/twenty/src/list-people.tsx
  extensions/twenty/src/types.ts
  extensions/twenty/tsconfig.json
Labels: new extension

#14907 [HideMail] fix CHANGELOG + cache 'list-emails' + toggle w/o close
  extensions/hide-mail/.eslintrc.json
  extensions/hide-mail/CHANGELOG.md
  extensions/hide-mail/package-lock.json
  extensions/hide-mail/package.json
  extensions/hide-mail/src/list-emails.tsx
  extensions/hide-mail/src/utils/key.ts
  extensions/hide-mail/src/utils/list.ts
  extensions/hide-mail/tsconfig.json
Labels: extension fix / improvement, extension: hide-mail

#14864 [Airtable] view records + edit singleLineText multilineText fields ONLY
  extensions/airtable/.eslintrc.json
  extensions/airtable/.gitignore
  extensions/airtable/CHANGELOG.md
  extensions/airtable/README.md
  extensions/airtable/package-lock.json
  extensions/airtable/package.json
  extensions/airtable/src/BaseList.tsx
  extensions/airtable/src/BaseRecordsList.tsx
  extensions/airtable/src/BaseSchemaDetailsView.tsx
  extensions/airtable/src/BaseSchemaListView.tsx
  extensions/airtable/src/metadata-api.tsx
  extensions/airtable/src/oauth-client.tsx
  extensions/airtable/src/types.tsx
  extensions/airtable/tsconfig.json
Labels: extension fix / improvement, extension: airtable

#14944 Allow filter 1Password items by additional information
  extensions/1password/CHANGELOG.md
  extensions/1password/package.json
  extensions/1password/src/v7/components/Items.tsx
  extensions/1password/src/v8/components/Items.tsx
Labels: extension fix / improvement, extension: 1password

#14784 Add commit-message-formatter extension
  extensions/commit-message-formatter/.eslintrc.json
  extensions/commit-message-formatter/.gitignore
  extensions/commit-message-formatter/.prettierrc
  extensions/commit-message-formatter/CHANGELOG.md
  extensions/commit-message-formatter/README.md
  extensions/commit-message-formatter/assets/icon.png
  extensions/commit-message-formatter/metadata/commit-message-formatter-1.png
  extensions/commit-message-formatter/metadata/commit-message-formatter-2.png
  extensions/commit-message-formatter/package-lock.json
  extensions/commit-message-formatter/package.json
  extensions/commit-message-formatter/src/generate-commit-message.tsx
  extensions/commit-message-formatter/src/lib/types.ts
  extensions/commit-message-formatter/src/lib/utils.ts
  extensions/commit-message-formatter/src/search-commit-type.tsx
  extensions/commit-message-formatter/tsconfig.json
Labels: new extension

#14936 Add Sentry error reporting
  extensions/reclaim-ai/CHANGELOG.md
  extensions/reclaim-ai/package-lock.json
  extensions/reclaim-ai/package.json
  extensions/reclaim-ai/src/components/RAIErrorBoundary.tsx
  extensions/reclaim-ai/src/hooks/useApi.tsx
  extensions/reclaim-ai/src/hooks/useEvent.tsx
  extensions/reclaim-ai/src/hooks/useInterpreter.tsx
  extensions/reclaim-ai/src/hooks/useSchedulingLinks.tsx
  extensions/reclaim-ai/src/hooks/useTask.tsx
  extensions/reclaim-ai/src/hooks/useUser.tsx
  extensions/reclaim-ai/src/initSentry.ts
  extensions/reclaim-ai/src/join-meeting.tsx
  extensions/reclaim-ai/src/list-tasks.tsx
  extensions/reclaim-ai/src/my-calendar.tsx
  extensions/reclaim-ai/src/notifications.tsx
  extensions/reclaim-ai/src/quick-task.tsx
  extensions/reclaim-ai/src/scheduling-links.tsx
  extensions/reclaim-ai/src/task-form.tsx
  extensions/reclaim-ai/src/types/global.d.ts
  extensions/reclaim-ai/src/types/sentry.d.ts
  extensions/reclaim-ai/src/types/types.ts
  extensions/reclaim-ai/src/utils/arrays.ts
  extensions/reclaim-ai/src/utils/fetcher.ts
  extensions/reclaim-ai/src/utils/sentry.ts
Labels: extension fix / improvement, OP is contributor, extension: reclaim-ai

#14894 Add servicenow extension
  extensions/servicenow/.eslintrc.json
  extensions/servicenow/.gitignore
  extensions/servicenow/.prettierrc
  extensions/servicenow/CHANGELOG.md
  extensions/servicenow/LICENSE
  extensions/servicenow/README.md
  extensions/servicenow/assets/servicenow.png
  extensions/servicenow/assets/servicenow.svg
  extensions/servicenow/media/Allow access to user's search terms.xml
  extensions/servicenow/metadata/servicenow-1.png
  extensions/servicenow/metadata/servicenow-2.png
  extensions/servicenow/metadata/servicenow-3.png
  extensions/servicenow/package-lock.json
  extensions/servicenow/package.json
  extensions/servicenow/src/add-instance-profile.tsx
  extensions/servicenow/src/components/Actions.tsx
  extensions/servicenow/src/components/InstanceForm.tsx
  extensions/servicenow/src/components/InstancesList.tsx
  extensions/servicenow/src/components/ResultActions.tsx
  extensions/servicenow/src/components/ResultDetail.tsx
  extensions/servicenow/src/components/SearchList.tsx
  extensions/servicenow/src/components/SearchResultListItem.tsx
  extensions/servicenow/src/components/SearchResults.tsx
  extensions/servicenow/src/components/TableDropdown.tsx
  extensions/servicenow/src/components/Tables.tsx
  extensions/servicenow/src/explore-tables.tsx
  extensions/servicenow/src/hooks/useInstances.ts
  extensions/servicenow/src/hooks/useLocalStorage.ts
  extensions/servicenow/src/manage-instance-profiles.tsx
  extensions/servicenow/src/open-all-instances.ts
  extensions/servicenow/src/open-current-url-in-selected-instance.ts
  extensions/servicenow/src/open-current-url.ts
  extensions/servicenow/src/open-selected-instance.ts
  extensions/servicenow/src/quickly-search-selected-instance.tsx
  extensions/servicenow/src/quickly-search.tsx
  extensions/servicenow/src/search.tsx
  extensions/servicenow/src/types.ts
  extensions/servicenow/src/utils/getTableIconAndColor.tsx
  extensions/servicenow/tsconfig.json
Labels: new extension

#14923 Update word-search extension
  extensions/word-search/CHANGELOG.md
  extensions/word-search/package-lock.json
  extensions/word-search/package.json
  extensions/word-search/src/components/SearchResults.tsx
Labels: extension fix / improvement, OP is contributor, extension: word-search

#14761 Add zen-browser extension
  extensions/zen-browser/.eslintrc.json
  extensions/zen-browser/.gitignore
  extensions/zen-browser/.prettierrc
  extensions/zen-browser/CHANGELOG.md
  extensions/zen-browser/README.md
  extensions/zen-browser/assets/zen-logo.png
  extensions/zen-browser/metadata/zen-browser-1.png
  extensions/zen-browser/metadata/zen-browser-2.png
  extensions/zen-browser/metadata/zen-browser-3.png
  extensions/zen-browser/package-lock.json
  extensions/zen-browser/package.json
  extensions/zen-browser/src/actions/index.ts
  extensions/zen-browser/src/components/ZenActions.tsx
  extensions/zen-browser/src/components/ZenListEntries.tsx
  extensions/zen-browser/src/components/error/NoBookmarksError.tsx
  extensions/zen-browser/src/components/error/NotInstalledError.tsx
  extensions/zen-browser/src/components/error/UnknownError.tsx
  extensions/zen-browser/src/components/error/index.ts
  extensions/zen-browser/src/components/index.tsx
  extensions/zen-browser/src/constants.ts
  extensions/zen-browser/src/hooks/useBookmarkSearch.tsx
  extensions/zen-browser/src/hooks/useHistorySearch.tsx
  extensions/zen-browser/src/interfaces/index.ts
  extensions/zen-browser/src/new-tab.tsx
  extensions/zen-browser/src/search-bookmarks.tsx
  extensions/zen-browser/src/search-history.tsx
  extensions/zen-browser/src/util/index.ts
  extensions/zen-browser/tsconfig.json
Labels: new extension

#14610 Add yield-calculator extension
  extensions/yield-calculator/.eslintrc.json
  extensions/yield-calculator/.gitattributes
  extensions/yield-calculator/.gitignore
  extensions/yield-calculator/.prettierrc
  extensions/yield-calculator/CHANGELOG.md
  extensions/yield-calculator/README.md
  extensions/yield-calculator/assets/extension-icon.png
  extensions/yield-calculator/metadata/yield-calculator-1.png
  extensions/yield-calculator/metadata/yield-calculator-2.png
  extensions/yield-calculator/package-lock.json
  extensions/yield-calculator/package.json
  extensions/yield-calculator/src/yield-calculator.tsx
  extensions/yield-calculator/tsconfig.json
Labels: new extension

#14943 Update mute-microphone extension
  extensions/mute-microphone/CHANGELOG.md
  extensions/mute-microphone/package.json
  extensions/mute-microphone/src/mute-menu-bar.tsx
  extensions/mute-microphone/src/set-level.tsx
  extensions/mute-microphone/src/utils.ts
Labels: extension fix / improvement, OP is contributor, extension: mute-microphone

#14824 Add time-teller extension
  extensions/time-teller/.eslintrc.json
  extensions/time-teller/.gitignore
  extensions/time-teller/.prettierrc
  extensions/time-teller/CHANGELOG.md
  extensions/time-teller/README.md
  extensions/time-teller/assets/icon.png
  extensions/time-teller/metadata/time-teller-1.png
  extensions/time-teller/metadata/time-teller-2.png
  extensions/time-teller/metadata/time-teller-3.png
  extensions/time-teller/package-lock.json
  extensions/time-teller/package.json
  extensions/time-teller/src/index.tsx
  extensions/time-teller/tsconfig.json
Labels: new extension

#14807 Update flighty extension
  extensions/flighty/.eslintrc.json
  extensions/flighty/.gitignore
  extensions/flighty/.prettierrc
  extensions/flighty/CHANGELOG.md
  extensions/flighty/README.md
  extensions/flighty/assets/flighty.png
  extensions/flighty/metadata/flighty-1.png
  extensions/flighty/package-lock.json
  extensions/flighty/package.json
  extensions/flighty/src/use-flights.ts
  extensions/flighty/src/use-installed.ts
  extensions/flighty/src/view-flights.tsx
  extensions/flighty/tsconfig.json
Labels: new extension

#14644 [Email Verifier] Pass email as Argument instead of Form + Send Email Link + update deps (remove `axios`)
  extensions/email-verifier/.eslintrc.json
  extensions/email-verifier/CHANGELOG.md
  extensions/email-verifier/package-lock.json
  extensions/email-verifier/package.json
  extensions/email-verifier/src/email-verifier.tsx
  extensions/email-verifier/tsconfig.json
Labels: extension fix / improvement, status: stalled, extension: email-verifier

#14171 [coffee] Add feature to schedule caffeination
  .vscode/settings.json
  extensions/coffee/CHANGELOG.md
  extensions/coffee/README.md
  extensions/coffee/metadata/coffee-1.png
  extensions/coffee/metadata/coffee-2.png
  extensions/coffee/metadata/coffee-3.png
  extensions/coffee/metadata/coffee-4.png
  extensions/coffee/metadata/coffee-5.png
  extensions/coffee/package.json
  extensions/coffee/src/addSchedule.tsx
  extensions/coffee/src/caffeinate.ts
  extensions/coffee/src/decaffeinate.ts
  extensions/coffee/src/extractSchedule.ts
  extensions/coffee/src/fetchStoredSchedule.tsx
  extensions/coffee/src/listActionPanel.tsx
  extensions/coffee/src/status.ts
  extensions/coffee/src/utils.ts
Labels: extension fix / improvement, OP is contributor, extension: coffee

#14627 Update wise-accounts extension
  extensions/wise-accounts/CHANGELOG.md
  extensions/wise-accounts/README.md
  extensions/wise-accounts/package.json
  extensions/wise-accounts/src/api/profile.ts
  extensions/wise-accounts/src/get-balances.tsx
  extensions/wise-accounts/src/get-profiles.tsx
  extensions/wise-accounts/src/helpers/getAccountName.ts
Labels: extension fix / improvement, status: stalled, extension: wise-accounts

#14657 Update quick-event extension
  extensions/quick-event/CHANGELOG.md
  extensions/quick-event/package-lock.json
  extensions/quick-event/package.json
  extensions/quick-event/src/dates.ts
  extensions/quick-event/src/useCalendar.tsx
Labels: extension fix / improvement, status: stalled, extension: quick-event

#13955 [Notion] Major(ish) refactoring (pt. 1)
  extensions/notion/CHANGELOG.md
  extensions/notion/src/components/DatabaseView.tsx
  extensions/notion/src/components/PageDetail.tsx
  extensions/notion/src/components/PageListItem.tsx
  extensions/notion/src/components/actions/ActionEditPageProperty.tsx
  extensions/notion/src/components/forms/CreatePageForm.tsx
  extensions/notion/src/components/forms/DatabaseViewForm.tsx
  extensions/notion/src/components/forms/PagePropertyField.tsx
  extensions/notion/src/hooks/index.ts
  extensions/notion/src/utils/notion/database/index.ts
  extensions/notion/src/utils/notion/database/property.ts
  extensions/notion/src/utils/notion/global.ts
  extensions/notion/src/utils/notion/index.ts
  extensions/notion/src/utils/notion/page/property.ts
  extensions/notion/src/utils/notion/standardize.ts
Labels: extension fix / improvement, OP is contributor, extension: notion

#14772 Add ente-auth extension
  extensions/ente-auth/.eslint.rc
  extensions/ente-auth/.eslintrc.json
  extensions/ente-auth/.gitignore
  extensions/ente-auth/.prettierrc
  extensions/ente-auth/CHANGELOG.md
  extensions/ente-auth/README.md
  extensions/ente-auth/assets/icon.png
  extensions/ente-auth/eslint.config.mjs
  extensions/ente-auth/jest.config.ts
  extensions/ente-auth/metadata/ente-auth-1.png
  extensions/ente-auth/metadata/ente-auth-2.png
  extensions/ente-auth/metadata/ente-auth-3.png
  extensions/ente-auth/metadata/ente-auth-4.png
  extensions/ente-auth/metadata/ente-auth-5.png
  extensions/ente-auth/package-lock.json
  extensions/ente-auth/package.json
  extensions/ente-auth/src/components/showError.tsx
  extensions/ente-auth/src/constants/ente.ts
  extensions/ente-auth/src/constants/secrets.ts
  extensions/ente-auth/src/constants/string.ts
  extensions/ente-auth/src/constants/transformer.ts
  extensions/ente-auth/src/delete.tsx
  extensions/ente-auth/src/export.tsx
  extensions/ente-auth/src/helpers/ente.ts
  extensions/ente-auth/src/helpers/index.ts
  extensions/ente-auth/src/helpers/secrets.ts
  extensions/ente-auth/src/helpers/types.ts
  extensions/ente-auth/src/import.tsx
  extensions/ente-auth/src/index.tsx
  extensions/ente-auth/tests/__mocks__/db.json
  extensions/ente-auth/tests/secrets.test.ts
  extensions/ente-auth/tsconfig.json
Labels: new extension

#14888 Google Workspace: Add file path information
  extensions/google-workspace/CHANGELOG.md
  extensions/google-workspace/package.json
  extensions/google-workspace/src/api/getFiles.ts
  extensions/google-workspace/src/components/FileListItem.tsx
  extensions/google-workspace/src/search-google-drive-files.tsx
  extensions/google-workspace/src/starred-google-drive-files-menubar.tsx
  extensions/google-workspace/src/starred-google-drive-files.tsx
Labels: extension fix / improvement, extension: google-workspace

#14607 [Amazon AWS] feat: glue command
  extensions/amazon-aws/CHANGELOG.md
  extensions/amazon-aws/README.md
  extensions/amazon-aws/package-lock.json
  extensions/amazon-aws/package.json
  extensions/amazon-aws/src/glue.tsx
  extensions/amazon-aws/src/hooks/use-glue.ts
  extensions/amazon-aws/src/util/index.ts
Labels: extension fix / improvement, OP is contributor, extension: amazon-aws

#14965 Update youtube-downloader extension
  extensions/youtube-downloader/CHANGELOG.md
  extensions/youtube-downloader/src/index.tsx
  extensions/youtube-downloader/src/utils.ts
Labels: extension fix / improvement, OP is contributor, extension: youtube-downloader

#15012 Update
  extensions/pomodoro/CHANGELOG.md
  extensions/pomodoro/src/stats-pomodoro-timer.tsx
Labels: extension fix / improvement, OP is contributor, extension: pomodoro

#15022 Add make-with-notion-2024 extension
  extensions/make-with-notion-2024/.eslintrc.json
  extensions/make-with-notion-2024/.gitignore
  extensions/make-with-notion-2024/.prettierrc
  extensions/make-with-notion-2024/CHANGELOG.md
  extensions/make-with-notion-2024/README.md
  extensions/make-with-notion-2024/assets/extension-icon.png
  extensions/make-with-notion-2024/assets/speakers/akshay-kothari.png
  extensions/make-with-notion-2024/assets/speakers/andrew-mason.png
  extensions/make-with-notion-2024/assets/speakers/andrew-milich.png
  extensions/make-with-notion-2024/assets/speakers/dan-shipper.png
  extensions/make-with-notion-2024/assets/speakers/daniela-amodei.png
  extensions/make-with-notion-2024/assets/speakers/dylan-field.png
  extensions/make-with-notion-2024/assets/speakers/evans-hankey.png
  extensions/make-with-notion-2024/assets/speakers/ivan-zhao.png
  extensions/make-with-notion-2024/assets/speakers/jason-ginsberg.png
  extensions/make-with-notion-2024/assets/speakers/llisa-demetrios.png
  extensions/make-with-notion-2024/assets/speakers/marie-poulin.png
  extensions/make-with-notion-2024/assets/speakers/matt-kenny.png
  extensions/make-with-notion-2024/assets/speakers/michelle-hilzinger.png
  extensions/make-with-notion-2024/assets/speakers/mike-kenny.png
  extensions/make-with-notion-2024/assets/speakers/nashilu-mouen.png
  extensions/make-with-notion-2024/assets/speakers/nat-friedman.png
  extensions/make-with-notion-2024/assets/speakers/oren-john.png
  extensions/make-with-notion-2024/assets/speakers/sarah-guo.png
  extensions/make-with-notion-2024/assets/speakers/shir-yehoshua.png
  extensions/make-with-notion-2024/assets/speakers/thomas-frank.png
  extensions/make-with-notion-2024/assets/speakers/zaria-parvez.png
  extensions/make-with-notion-2024/metadata/make-with-notion-2024-1.png
  extensions/make-with-notion-2024/metadata/make-with-notion-2024-2.png
  extensions/make-with-notion-2024/package-lock.json
  extensions/make-with-notion-2024/package.json
  extensions/make-with-notion-2024/src/data.ts
  extensions/make-with-notion-2024/src/types.ts
  extensions/make-with-notion-2024/src/view-schedule.tsx
  extensions/make-with-notion-2024/tsconfig.json
Labels: new extension

#15008 Update`cPanel` extension - Enhancements: Files & DB + New Account Command + Change cPanel Account Password
  extensions/cpanel/CHANGELOG.md
  extensions/cpanel/README.md
  extensions/cpanel/package-lock.json
  extensions/cpanel/package.json
  extensions/cpanel/src/account.tsx
  extensions/cpanel/src/databases.tsx
  extensions/cpanel/src/files.tsx
  extensions/cpanel/src/lib/hooks.ts
  extensions/cpanel/src/lib/types.ts
Labels: extension fix / improvement, OP is author, extension: cpanel

#15023 update launch-agents
  extensions/launch-agents/CHANGELOG.md
  extensions/launch-agents/components/LaunchAgentDetails.tsx
Labels: extension fix / improvement, OP is author, extension: launch-agents

#15010 [ipapi.is] fix crash when copy before data has loaded + omit Argument to use your own IP
  extensions/ipapi-is/CHANGELOG.md
  extensions/ipapi-is/package-lock.json
  extensions/ipapi-is/package.json
  extensions/ipapi-is/src/lookup-ip-or-asn.tsx
Labels: extension fix / improvement, OP is author, extension: ipapi-is

#14727 Update youtube extension
  extensions/youtube/CHANGELOG.md
  extensions/youtube/package.json
  extensions/youtube/src/components/channel_search.tsx
  extensions/youtube/src/components/recent_channels.tsx
  extensions/youtube/src/components/recent_videos.tsx
  extensions/youtube/src/components/video_search.tsx
Labels: extension fix / improvement, extension: youtube

#14946 Update cursor-directory extension
  extensions/cursor-directory/CHANGELOG.md
  extensions/cursor-directory/README.md
  extensions/cursor-directory/src/components/actions/CopyRuleAction.tsx
  extensions/cursor-directory/src/projects.tsx
Labels: extension fix / improvement, OP is author, extension: cursor-directory

#14922 [JustWatch Search] Open in IMDB + Link Icons + fix README (related to #14868)
  extensions/justwatch-search/CHANGELOG.md
  extensions/justwatch-search/README.md
  extensions/justwatch-search/package-lock.json
  extensions/justwatch-search/package.json
  extensions/justwatch-search/src/components/Actions.tsx
  extensions/justwatch-search/src/components/Detail.tsx
  extensions/justwatch-search/src/hooks/useApi.ts
  extensions/justwatch-search/src/search-justwatch.tsx
  extensions/justwatch-search/src/types/index.ts
  extensions/justwatch-search/src/utils/data.ts
Labels: extension fix / improvement, extension: justwatch-search

#14925 Add apple-stocks-search extension
  extensions/apple-stocks-search/.eslintrc.json
  extensions/apple-stocks-search/.gitignore
  extensions/apple-stocks-search/.prettierrc
  extensions/apple-stocks-search/CHANGELOG.md
  extensions/apple-stocks-search/README.md
  extensions/apple-stocks-search/assets/extension_icon1.png
  extensions/apple-stocks-search/metadata/apple-stocks-search-1.png
  extensions/apple-stocks-search/package-lock.json
  extensions/apple-stocks-search/package.json
  extensions/apple-stocks-search/src/searchAppleStocks.tsx
  extensions/apple-stocks-search/src/utils/handleResults.ts
  extensions/apple-stocks-search/src/utils/resultUtils.ts
  extensions/apple-stocks-search/src/utils/stockData.ts
  extensions/apple-stocks-search/src/utils/types.ts
  extensions/apple-stocks-search/src/utils/useSearch.tsx
  extensions/apple-stocks-search/tsconfig.json
Labels: new extension

#14926 Add hue-palette extension
  extensions/hue-palette/.eslintrc.json
  extensions/hue-palette/CHANGELOG.md
  extensions/hue-palette/LICENSE
  extensions/hue-palette/README.md
  extensions/hue-palette/assets/extension-icon.png
  extensions/hue-palette/assets/hue-icon.png
  extensions/hue-palette/metadata/hue-1.png
  extensions/hue-palette/metadata/hue-2.png
  extensions/hue-palette/metadata/hue-3.png
  extensions/hue-palette/metadata/hue-4.png
  extensions/hue-palette/package-lock.json
  extensions/hue-palette/package.json
  extensions/hue-palette/src/hue-detail.tsx
  extensions/hue-palette/src/hue-generator.tsx
  extensions/hue-palette/src/hue-palette.tsx
  extensions/hue-palette/src/random-hue-generator.tsx
  extensions/hue-palette/src/types.ts
  extensions/hue-palette/src/utils.ts
  extensions/hue-palette/tsconfig.json
Labels: new extension

#15013 Update google-meet extension
  extensions/google-meet/CHANGELOG.md
  extensions/google-meet/src/components/ProfileList/ProfileList.tsx
  extensions/google-meet/src/default-profile.ts
Labels: extension fix / improvement, OP is contributor, extension: google-meet

#14940 Add bento extension
  extensions/bento/.eslintrc.json
  extensions/bento/.gitignore
  extensions/bento/.prettierrc
  extensions/bento/CHANGELOG.md
  extensions/bento/README.md
  extensions/bento/assets/icon.png
  extensions/bento/bun.lockb
  extensions/bento/metadata/bento-1.png
  extensions/bento/metadata/bento-2.png
  extensions/bento/metadata/bento-3.png
  extensions/bento/package-lock.json
  extensions/bento/package.json
  extensions/bento/src/BroadcastDetail.tsx
  extensions/bento/src/Chart.tsx
  extensions/bento/src/ReportChart.tsx
  extensions/bento/src/api-client.ts
  extensions/bento/src/check-blacklist.tsx
  extensions/bento/src/configure-dashboard.tsx
  extensions/bento/src/create-subscriber.tsx
  extensions/bento/src/geolocate-ip.tsx
  extensions/bento/src/guess-gender.tsx
  extensions/bento/src/moderate-content.tsx
  extensions/bento/src/validate-email.tsx
  extensions/bento/src/view-broadcasts.tsx
  extensions/bento/src/view-dashboard.tsx
  extensions/bento/src/view-fields.tsx
  extensions/bento/src/view-report.tsx
  extensions/bento/src/view-stats.tsx
  extensions/bento/src/view-tags.tsx
  extensions/bento/tsconfig.json
Labels: new extension

#14945 [Library Genesis] experimental Fiction search + remove libgen dot rs
  extensions/library-genesis/CHANGELOG.md
  extensions/library-genesis/package-lock.json
  extensions/library-genesis/package.json
  extensions/library-genesis/src/hooks/search-books-on-libgen.ts
  extensions/library-genesis/src/search-books.tsx
  extensions/library-genesis/src/types/index.ts
  extensions/library-genesis/src/utils/api/index.ts
  extensions/library-genesis/src/utils/api/mirrors/default.ts
  extensions/library-genesis/src/utils/api/mirrors/index.ts
  extensions/library-genesis/src/utils/constants.ts
Labels: extension fix / improvement, extension: library-genesis

#14951 Update remove-background-powered-by-mac extension
  extensions/remove-background-powered-by-mac/CHANGELOG.md
  extensions/remove-background-powered-by-mac/package.json
  extensions/remove-background-powered-by-mac/src/index.ts
Labels: extension fix / improvement, extension: remove-background-powered-by-mac

#15039 Update remember-the-date extension
  extensions/remember-the-date/CHANGELOG.md
  extensions/remember-the-date/package.json
  extensions/remember-the-date/src/menu-bar.tsx
Labels: extension fix / improvement, extension: remember-the-date

#15038 Update make-with-notion-2024 extension
  extensions/make-with-notion-2024/CHANGELOG.md
  extensions/make-with-notion-2024/assets/extension-icon.png
  extensions/make-with-notion-2024/metadata/make-with-notion-2024-1.png
  extensions/make-with-notion-2024/metadata/make-with-notion-2024-2.png
Labels: extension fix / improvement, OP is author, extension: make-with-notion-2024

#15036 Update ente-auth extension
  extensions/ente-auth/CHANGELOG.md
  extensions/ente-auth/package.json
  extensions/ente-auth/src/helpers/index.ts
Labels: extension fix / improvement, extension: ente-auth

#15034 Update servicenow extension
  extensions/servicenow/CHANGELOG.md
  extensions/servicenow/README.md
  extensions/servicenow/media/allow_access_to_ user_search_terms.xml
  extensions/servicenow/package.json
  extensions/servicenow/src/components/InstanceForm.tsx
  extensions/servicenow/src/components/SearchResultListItem.tsx
  extensions/servicenow/src/login-to-selected-instance.ts
  extensions/servicenow/src/search-resources.ts
Labels: extension fix / improvement, OP is author, extension: servicenow

#15042 [Contentful] 'View Roles' in 'Users' command via Argument + Add `Tooltip` to Date accessories
  extensions/contentful/CHANGELOG.md
  extensions/contentful/assets/contentful-favicon.png
  extensions/contentful/package-lock.json
  extensions/contentful/package.json
  extensions/contentful/src/lib/components/open-in-contentful.tsx
  extensions/contentful/src/lib/config.ts
  extensions/contentful/src/lib/contentful.ts
  extensions/contentful/src/search-assets.tsx
  extensions/contentful/src/search-users.tsx
  extensions/contentful/src/search.tsx
Labels: extension fix / improvement, OP is contributor, extension: contentful

#15035 Update Dub extension
  extensions/dub/CHANGELOG.md
  extensions/dub/package-lock.json
  extensions/dub/package.json
  extensions/dub/src/api/index.ts
  extensions/dub/src/search-links.tsx
Labels: extension fix / improvement, OP is contributor, extension: dub
