Repository raycast/extensions, pull requests merged in 2025-05, with the labels that each got.

#18737 Add barcuts-companion extension
  extensions/barcuts-companion/.gitignore
  extensions/barcuts-companion/.prettierrc
  extensions/barcuts-companion/CHANGELOG.md
  extensions/barcuts-companion/README.md
  extensions/barcuts-companion/assets/extension-icon.png
  extensions/barcuts-companion/eslint.config.js
  extensions/barcuts-companion/metadata/screenshot-1.png
  extensions/barcuts-companion/metadata/screenshot-2.png
  extensions/barcuts-companion/package-lock.json
  extensions/barcuts-companion/package.json
  extensions/barcuts-companion/src/get-workflows.tsx
  extensions/barcuts-companion/src/types.d.ts
  extensions/barcuts-companion/src/types.d.tsx
  extensions/barcuts-companion/tsconfig.json
Labels: new extension

#18523 [Doppler] Update doppler-share-secrets extension
  extensions/doppler-share-secrets/.gitignore
  extensions/doppler-share-secrets/CHANGELOG.md
  extensions/doppler-share-secrets/package-lock.json
  extensions/doppler-share-secrets/package.json
  extensions/doppler-share-secrets/src/search-projects.tsx
Labels: extension fix / improvement, extension: doppler-share-secrets

#18873 Update dolar-cripto-ar extension
  extensions/dolar-cripto-ar/CHANGELOG.md
  extensions/dolar-cripto-ar/eslint.config.js
  extensions/dolar-cripto-ar/package-lock.json
  extensions/dolar-cripto-ar/package.json
  extensions/dolar-cripto-ar/src/constants/currency-types.ts
  extensions/dolar-cripto-ar/src/index.tsx
  extensions/dolar-cripto-ar/src/types/types.ts
  extensions/dolar-cripto-ar/tsconfig.json
Labels: extension fix / improvement, OP is author, extension: dolar-cripto-ar

#18769 Update research extension
  extensions/deep-research/CHANGELOG.md
  extensions/deep-research/package.json
  extensions/deep-research/src/tools/research.ts
Labels: extension fix / improvement, OP is author, extension: deep-research

#18593 [Apple Intelligence] Add localization
  extensions/raycast-apple-intelligence/CHANGELOG.md
  extensions/raycast-apple-intelligence/package.json
  extensions/raycast-apple-intelligence/src/Command.ts
  extensions/raycast-apple-intelligence/src/Preferences.ts
  extensions/raycast-apple-intelligence/src/api.ts
  extensions/raycast-apple-intelligence/src/compose.ts
  extensions/raycast-apple-intelligence/src/create-image.ts
  extensions/raycast-apple-intelligence/src/create-key-points.ts
  extensions/raycast-apple-intelligence/src/list-writing-tools.tsx
  extensions/raycast-apple-intelligence/src/make-concise.ts
  extensions/raycast-apple-intelligence/src/make-friendly.ts
  extensions/raycast-apple-intelligence/src/make-list.ts
  extensions/raycast-apple-intelligence/src/make-professional.ts
  extensions/raycast-apple-intelligence/src/make-table.ts
  extensions/raycast-apple-intelligence/src/proofread.ts
  extensions/raycast-apple-intelligence/src/rewrite.ts
  extensions/raycast-apple-intelligence/src/show-writing-tools.ts
  extensions/raycast-apple-intelligence/src/summarize.ts
Labels: extension fix / improvement, status: stalled, extension: raycast-apple-intelligence

#18895 Update draft-email.ts
  extensions/zero/src/tools/draft-email.ts
Labels: extension fix / improvement, extension: zero

#18902 Update T3 Chat - new models
  extensions/t3-chat/CHANGELOG.md
  extensions/t3-chat/package.json
Labels: extension fix / improvement, extension: t3-chat

#18883 Update granola extension
  extensions/granola/CHANGELOG.md
  extensions/granola/package.json
  extensions/granola/src/search-notes.tsx
  extensions/granola/src/tools/ai-notes.ts
  extensions/granola/src/utils/fetchData.ts
  extensions/granola/src/utils/types.ts
Labels: extension fix / improvement, AI Extension, extension: granola

#18355 Add tana-paste extension
  extensions/tana-paste/.gitignore
  extensions/tana-paste/.prettierrc
  extensions/tana-paste/CHANGELOG.md
  extensions/tana-paste/README.md
  extensions/tana-paste/assets/tana-paste-extension-icon.png
  extensions/tana-paste/eslint.config.js
  extensions/tana-paste/jest.config.js
  extensions/tana-paste/package-lock.json
  extensions/tana-paste/package.json
  extensions/tana-paste/src/__tests__/markdown-to-tana-paste.test.js
  extensions/tana-paste/src/__tests__/markdown-to-tana-paste.test.ts
  extensions/tana-paste/src/convert-markdown-to-tana-paste.tsx
  extensions/tana-paste/src/utils.ts
  extensions/tana-paste/tsconfig.json
Labels: new extension

#18876 Update f1-standings extension
  extensions/f1-standings/CHANGELOG.md
  extensions/f1-standings/src/tools/constructor-standings.ts
  extensions/f1-standings/src/tools/constructors.ts
  extensions/f1-standings/src/tools/driver-standings.ts
  extensions/f1-standings/src/tools/drivers.ts
  extensions/f1-standings/src/tools/race-schedule.ts
Labels: extension fix / improvement, OP is author, OP is contributor, extension: f1-standings

#18920 Update esports-pass extension
  extensions/esports-pass/CHANGELOG.md
  extensions/esports-pass/package.json
Labels: extension fix / improvement, OP is author, extension: esports-pass

#18409 Added "toggle connection" to tailscale extension
  extensions/tailscale/CHANGELOG.md
  extensions/tailscale/package-lock.json
  extensions/tailscale/package.json
  extensions/tailscale/src/toggle.tsx
Labels: extension fix / improvement, extension: tailscale

#18838 Folder Search Improvements
  extensions/folder-search/CHANGELOG.md
  extensions/folder-search/README.md
  extensions/folder-search/package-lock.json
  extensions/folder-search/package.json
  extensions/folder-search/plugins/test-plugin.js
  extensions/folder-search/src/components/Directory.tsx
  extensions/folder-search/src/components/FolderListSection.tsx
  extensions/folder-search/src/components/index.ts
  extensions/folder-search/src/hooks/index.tsx
  extensions/folder-search/src/hooks/useCommandBase.tsx
  extensions/folder-search/src/hooks/useFolderSearch.tsx
  extensions/folder-search/src/hooks/usePinManagement.tsx
  extensions/folder-search/src/hooks/usePinStorage.tsx
  extensions/folder-search/src/hooks/usePluginManagement.tsx
  extensions/folder-search/src/hooks/usePreferences.tsx
  extensions/folder-search/src/hooks/useSearchDebounce.tsx
  extensions/folder-search/src/hooks/useSearchResults.tsx
  extensions/folder-search/src/libs/node-spotlight/attributes.tsx
  extensions/folder-search/src/libs/node-spotlight/index.tsx
  extensions/folder-search/src/move.tsx
  extensions/folder-search/src/moveUtils.tsx
  extensions/folder-search/src/search-spotlight.tsx
  extensions/folder-search/src/search.tsx
  extensions/folder-search/src/types.tsx
  extensions/folder-search/src/utils.tsx
  extensions/folder-search/tsconfig.json
Labels: extension fix / improvement, OP is contributor, extension: folder-search

#18685 Update archiver extension
  extensions/archiver/CHANGELOG.md
  extensions/archiver/README.md
  extensions/archiver/eslint.config.js
  extensions/archiver/package-lock.json
  extensions/archiver/package.json
  extensions/archiver/src/common/const.ts
  extensions/archiver/src/common/types.d.ts
  extensions/archiver/src/common/utils.ts
  extensions/archiver/src/compress.tsx
  extensions/archiver/src/extract.tsx
  extensions/archiver/src/preview.tsx
  extensions/archiver/src/zip-details-view.tsx
  extensions/archiver/tsconfig.json
Labels: extension fix / improvement, extension: archiver

#18953 [Stripe] Fix "Open in Stripe Dashboard" action adding extra leading slash
  extensions/stripe/CHANGELOG.md
  extensions/stripe/src/hooks/use-stripe-dashboard.ts
Labels: extension fix / improvement, extension: stripe

#18945 Update Ext/window sizer
  extensions/window-sizer/.gitignore
  extensions/window-sizer/CHANGELOG.md
  extensions/window-sizer/README.md
  extensions/window-sizer/assets/extension-icon.png
  extensions/window-sizer/src/components/CustomResolutionsList.tsx
  extensions/window-sizer/src/components/DefaultResolutionsList.tsx
  extensions/window-sizer/src/components/DevTools.tsx
  extensions/window-sizer/src/components/OptionsList.tsx
  extensions/window-sizer/src/components/ResolutionForm.tsx
  extensions/window-sizer/src/components/ResolutionList.tsx
  extensions/window-sizer/src/components/ResolutionListContainer.tsx
  extensions/window-sizer/src/components/ScreenInfoDetails.tsx
  extensions/window-sizer/src/components/index.ts
  extensions/window-sizer/src/constants/resolutions.ts
  extensions/window-sizer/src/hooks/index.ts
  extensions/window-sizer/src/hooks/useCurrentWindowSize.ts
  extensions/window-sizer/src/hooks/useCustomResolutions.ts
  extensions/window-sizer/src/hooks/useMaximizeWindow.ts
  extensions/window-sizer/src/hooks/useScreenInfo.tsx
  extensions/window-sizer/src/hooks/useWindowInfo.tsx
  extensions/window-sizer/src/hooks/useWindowResize.ts
  extensions/window-sizer/src/hooks/useWindowRestore.ts
  extensions/window-sizer/src/hooks/useWindowStateManager.ts
  extensions/window-sizer/src/resize-window.tsx
  extensions/window-sizer/src/swift-app.ts
  extensions/window-sizer/src/types/index.ts
  extensions/window-sizer/src/utils/logger.ts
  extensions/window-sizer/src/utils/storageUtils.ts
  extensions/window-sizer/swift/Package.swift
  extensions/window-sizer/swift/Sources/WindowSizerSwiftAPI.swift
Labels: extension fix / improvement, OP is author, extension: window-sizer

#18942 Update dust-tt extension
  extensions/dust-tt/CHANGELOG.md
  extensions/dust-tt/package-lock.json
  extensions/dust-tt/src/utils.tsx
Labels: extension fix / improvement, OP is contributor, extension: dust-tt

#18882 Update raindrop-io extension
  extensions/raindrop-io/CHANGELOG.md
  extensions/raindrop-io/package.json
  extensions/raindrop-io/src/add.tsx
  extensions/raindrop-io/src/components/BookmarkForm.tsx
  extensions/raindrop-io/src/components/BookmarkItem.tsx
  extensions/raindrop-io/src/save_browser_tab.tsx
  extensions/raindrop-io/src/types.ts
Labels: extension fix / improvement, extension: raindrop-io

#18962 Update WIP extension (small typo fix)
  extensions/wip/.tool-versions
  extensions/wip/CHANGELOG.md
  extensions/wip/src/streak.tsx
Labels: extension fix / improvement, OP is author, extension: wip

#18915 Update granola extension
  extensions/granola/CHANGELOG.md
  extensions/granola/README.md
  extensions/granola/ai.yaml
  extensions/granola/package-lock.json
  extensions/granola/package.json
Labels: extension fix / improvement, OP is contributor, AI Extension, extension: granola

#18972 Update granola extension
  extensions/granola/CHANGELOG.md
  extensions/granola/README.md
  extensions/granola/ai.yaml
  extensions/granola/package.json
Labels: extension fix / improvement, OP is contributor, extension: granola

#18844 Update meme-generator extension
  extensions/meme-generator/CHANGELOG.md
  extensions/meme-generator/package-lock.json
  extensions/meme-generator/package.json
  extensions/meme-generator/src/api/index.ts
  extensions/meme-generator/src/tools/find-meme-template.ts
  extensions/meme-generator/src/tools/generate-meme-from-template.ts
  extensions/meme-generator/src/tools/search-meme-templates.ts
Labels: extension fix / improvement, extension: meme-generator, AI Extension

#18963 Update Ext/window sizer
  extensions/window-sizer/CHANGELOG.md
  extensions/window-sizer/src/components/CustomResolutionsList.tsx
  extensions/window-sizer/src/components/DefaultResolutionsList.tsx
  extensions/window-sizer/src/components/DevTools.tsx
  extensions/window-sizer/src/components/ResolutionListContainer.tsx
  extensions/window-sizer/src/hooks/useWindowResize.ts
  extensions/window-sizer/src/hooks/useWindowRestore.ts
Labels: extension fix / improvement, OP is author, extension: window-sizer

#18948 Update git-assistant extension with rewrite of search git repositories command
  extensions/git-assistant/CHANGELOG.md
  extensions/git-assistant/package.json
  extensions/git-assistant/src/search-git-repositories.tsx
  extensions/git-assistant/src/utils.ts
Labels: extension fix / improvement, OP is author, extension: git-assistant

#18773 Add macports extension
  extensions/macports/.gitignore
  extensions/macports/.prettierignore
  extensions/macports/.prettierrc
  extensions/macports/CHANGELOG.md
  extensions/macports/README.md
  extensions/macports/assets/icon.png
  extensions/macports/assets/icon@dark.png
  extensions/macports/eslint.config.js
  extensions/macports/metadata/macports-1.png
  extensions/macports/metadata/macports-2.png
  extensions/macports/metadata/macports-3.png
  extensions/macports/package-lock.json
  extensions/macports/package.json
  extensions/macports/src/components/InstalledListItem.tsx
  extensions/macports/src/components/Onboarding.tsx
  extensions/macports/src/components/SearchListItem.tsx
  extensions/macports/src/exec.ts
  extensions/macports/src/list-installed.tsx
  extensions/macports/src/port-details.tsx
  extensions/macports/src/runInTerminal.ts
  extensions/macports/src/search-ports.tsx
  extensions/macports/src/test-files/cargo_port_info.txt
  extensions/macports/src/test-files/cmake_port_info.txt
  extensions/macports/src/types.ts
  extensions/macports/src/util.test.ts
  extensions/macports/src/util.ts
  extensions/macports/tsconfig.json
Labels: new extension

#18656 Add cocoa-core-data-timestamp-converter extension
  extensions/cocoa-core-data-timestamp-converter/.gitignore
  extensions/cocoa-core-data-timestamp-converter/.prettierrc
  extensions/cocoa-core-data-timestamp-converter/CHANGELOG.md
  extensions/cocoa-core-data-timestamp-converter/README.md
  extensions/cocoa-core-data-timestamp-converter/assets/extension-icon.png
  extensions/cocoa-core-data-timestamp-converter/eslint.config.js
  extensions/cocoa-core-data-timestamp-converter/metadata/screenshot.png
  extensions/cocoa-core-data-timestamp-converter/package-lock.json
  extensions/cocoa-core-data-timestamp-converter/package.json
  extensions/cocoa-core-data-timestamp-converter/src/cocoa-core-data-to-epoch.tsx
  extensions/cocoa-core-data-timestamp-converter/src/cocoa-core-data-to-human-readable.tsx
  extensions/cocoa-core-data-timestamp-converter/src/date-util.ts
  extensions/cocoa-core-data-timestamp-converter/src/epoch-to-core-data.tsx
  extensions/cocoa-core-data-timestamp-converter/tsconfig.json
Labels: new extension

#18930 Update migadu extension
  extensions/migadu/CHANGELOG.md
  extensions/migadu/src/components/identities.tsx
Labels: extension fix / improvement, OP is contributor, extension: migadu

#18957 Add geoping extension
  extensions/geoping/.eslintrc.json
  extensions/geoping/.gitignore
  extensions/geoping/.prettierrc
  extensions/geoping/CHANGELOG.md
  extensions/geoping/README.md
  extensions/geoping/assets/extension_icon.png
  extensions/geoping/metadata/geoping-1.png
  extensions/geoping/package-lock.json
  extensions/geoping/package.json
  extensions/geoping/src/ping.tsx
  extensions/geoping/src/servers.ts
  extensions/geoping/src/types.ts
  extensions/geoping/tsconfig.json
Labels: new extension

#18887 Update prompt-stash extension
  extensions/prompt-stash/CHANGELOG.md
  extensions/prompt-stash/package.json
  extensions/prompt-stash/src/components/CreatePromptForm.tsx
Labels: extension fix / improvement, OP is contributor, extension: prompt-stash

#18989 Update Ext/surge outbound switcher
  extensions/surge-outbound-switcher/CHANGELOG.md
  extensions/surge-outbound-switcher/assets/extension-icon-d.png
  extensions/surge-outbound-switcher/assets/extension-icon-g.png
  extensions/surge-outbound-switcher/assets/extension-icon-r.png
  extensions/surge-outbound-switcher/assets/extension-icon.png
  extensions/surge-outbound-switcher/assets/screenshot.png
  extensions/surge-outbound-switcher/assets/screenshot1.png
  extensions/surge-outbound-switcher/assets/screenshot2.png
  extensions/surge-outbound-switcher/metadata/surge-outbound-switcher-1.png
  extensions/surge-outbound-switcher/metadata/surge-outbound-switcher-2.png
  extensions/surge-outbound-switcher/package.json
  extensions/surge-outbound-switcher/src/utils.ts
Labels: extension fix / improvement, OP is author, extension: surge-outbound-switcher

#18988 Update Ext/window sizer
  extensions/window-sizer/CHANGELOG.md
  extensions/window-sizer/assets/extension-icon.png
  extensions/window-sizer/assets/screenshot.png
  extensions/window-sizer/metadata/window-sizer-1.png
  extensions/window-sizer/metadata/window-sizer-2.png
  extensions/window-sizer/metadata/window-sizer-3.png
  extensions/window-sizer/metadata/window-sizer-4.png
Labels: extension fix / improvement, OP is author, extension: window-sizer

#18794 Update google-chrome extension
  extensions/google-chrome/CHANGELOG.md
  extensions/google-chrome/package.json
  extensions/google-chrome/src/actions/index.tsx
  extensions/google-chrome/src/components/ChromeActions.tsx
  extensions/google-chrome/src/new-tab.tsx
  extensions/google-chrome/src/util/classify-input.ts
Labels: extension fix / improvement, extension: google-chrome

#18800 add primary action switch to `one-time-password`
  extensions/one-time-password/CHANGELOG.md
  extensions/one-time-password/package.json
  extensions/one-time-password/src/one-time-password.tsx
Labels: extension fix / improvement, extension: one-time-password

#18804 DeepWiki extension
  extensions/deepwiki/.eslintrc.json
  extensions/deepwiki/.gitignore
  extensions/deepwiki/CHANGELOG.md
  extensions/deepwiki/README.md
  extensions/deepwiki/assets/deep-wiki.png
  extensions/deepwiki/metadata/screenshot-crawl-1.png
  extensions/deepwiki/metadata/screenshot-crawl-2.png
  extensions/deepwiki/metadata/screenshot-open.png
  extensions/deepwiki/package-lock.json
  extensions/deepwiki/package.json
  extensions/deepwiki/prettier.config.js
  extensions/deepwiki/src/crawl-deepwiki-docs.tsx
  extensions/deepwiki/src/open-deepwiki.tsx
  extensions/deepwiki/src/search-deepwiki.tsx
  extensions/deepwiki/tsconfig.json
Labels: new extension

#18982 Add `Name.com` extension - View Account Balance + View Domains + View DNS Records + Delete DNS Record
  extensions/name-com/.gitignore
  extensions/name-com/.prettierrc
  extensions/name-com/CHANGELOG.md
  extensions/name-com/README.md
  extensions/name-com/assets/extension-icon.png
  extensions/name-com/eslint.config.js
  extensions/name-com/metadata/name-com-1.png
  extensions/name-com/metadata/name-com-2.png
  extensions/name-com/metadata/name-com-3.png
  extensions/name-com/package-lock.json
  extensions/name-com/package.json
  extensions/name-com/src/api.ts
  extensions/name-com/src/check-account-balance.ts
  extensions/name-com/src/list-domains.tsx
  extensions/name-com/src/types.ts
  extensions/name-com/tsconfig.json
Labels: new extension

#18822 feat(download-manager): add reload action
  extensions/downloads-manager/CHANGELOG.md
  extensions/downloads-manager/package-lock.json
  extensions/downloads-manager/package.json
  extensions/downloads-manager/src/manage-downloads.tsx
Labels: extension fix / improvement, extension: downloads-manager

#18910 Update raycast-ollama extension
  extensions/raycast-ollama/CHANGELOG.md
  extensions/raycast-ollama/README.md
  extensions/raycast-ollama/package-lock.json
  extensions/raycast-ollama/package.json
  extensions/raycast-ollama/src/lib/mcp/mcp.ts
  extensions/raycast-ollama/src/lib/mcp/types.ts
  extensions/raycast-ollama/src/lib/mcp/utils.ts
  extensions/raycast-ollama/src/lib/ollama/enum.ts
  extensions/raycast-ollama/src/lib/ollama/ollama.ts
  extensions/raycast-ollama/src/lib/ollama/types.ts
  extensions/raycast-ollama/src/lib/settings/types.ts
  extensions/raycast-ollama/src/lib/ui/AnswerView/form/EditModel.tsx
  extensions/raycast-ollama/src/lib/ui/AnswerView/main.tsx
  extensions/raycast-ollama/src/lib/ui/ChatView/form/Model.tsx
  extensions/raycast-ollama/src/lib/ui/ChatView/function.ts
  extensions/raycast-ollama/src/lib/ui/ChatView/main.tsx
  extensions/raycast-ollama/src/lib/ui/ChatView/type.ts
  extensions/raycast-ollama/src/lib/ui/McpServerView/form/config.tsx
  extensions/raycast-ollama/src/lib/ui/McpServerView/form/function.tsx
  extensions/raycast-ollama/src/lib/ui/McpServerView/function.tsx
  extensions/raycast-ollama/src/lib/ui/McpServerView/main.tsx
  extensions/raycast-ollama/src/lib/ui/ModelView/function.ts
  extensions/raycast-ollama/src/lib/ui/ModelView/main.tsx
  extensions/raycast-ollama/src/lib/ui/ModelView/types.ts
  extensions/raycast-ollama/src/lib/ui/PsView/function.ts
  extensions/raycast-ollama/src/lib/ui/PsView/main.tsx
  extensions/raycast-ollama/src/lib/ui/function.ts
  extensions/raycast-ollama/src/lib/ui/types.ts
  extensions/raycast-ollama/src/ollama-browser-summarize.tsx
  extensions/raycast-ollama/src/ollama-casual.tsx
  extensions/raycast-ollama/src/ollama-code-explain.tsx
  extensions/raycast-ollama/src/ollama-confident.tsx
  extensions/raycast-ollama/src/ollama-custom-create.tsx
  extensions/raycast-ollama/src/ollama-explain.tsx
  extensions/raycast-ollama/src/ollama-fix-spelling-grammar.tsx
  extensions/raycast-ollama/src/ollama-friendly.tsx
  extensions/raycast-ollama/src/ollama-image-describe.tsx
  extensions/raycast-ollama/src/ollama-image-to-text.tsx
  extensions/raycast-ollama/src/ollama-improve-writing.tsx
  extensions/raycast-ollama/src/ollama-longer.tsx
  extensions/raycast-ollama/src/ollama-mcp-server.tsx
  extensions/raycast-ollama/src/ollama-professional.tsx
  extensions/raycast-ollama/src/ollama-shorter.tsx
  extensions/raycast-ollama/src/ollama-translate.tsx
  extensions/raycast-ollama/src/ollama-tweet.tsx
Labels: extension fix / improvement, OP is author, extension: raycast-ollama

#18950 Update doge-tracker extension
  extensions/doge-tracker/.gitignore
  extensions/doge-tracker/CHANGELOG.md
  extensions/doge-tracker/README.md
  extensions/doge-tracker/assets/extension-icon.png
  extensions/doge-tracker/eslint.config.js
  extensions/doge-tracker/metadata/doge-1.png
  extensions/doge-tracker/metadata/doge-2.png
  extensions/doge-tracker/metadata/doge-3.png
  extensions/doge-tracker/package-lock.json
  extensions/doge-tracker/package.json
  extensions/doge-tracker/src/view-contract-savings.jsx
  extensions/doge-tracker/src/view-grant-savings.jsx
  extensions/doge-tracker/src/view-leases.jsx
  extensions/doge-tracker/src/view-payments.jsx
  extensions/doge-tracker/tsconfig.json
Labels: extension fix / improvement, extension: doge-tracker

#18260 Add flibusta-search extension
  extensions/flibusta-search/.gitignore
  extensions/flibusta-search/.prettierrc
  extensions/flibusta-search/.tool-versions
  extensions/flibusta-search/CHANGELOG.md
  extensions/flibusta-search/LICENSE.txt
  extensions/flibusta-search/README.md
  extensions/flibusta-search/assets/extension-icon.png
  extensions/flibusta-search/eslint.config.js
  extensions/flibusta-search/jest.config.js
  extensions/flibusta-search/jest.setup.js
  extensions/flibusta-search/metadata/flibusta-search-1.png
  extensions/flibusta-search/package-lock.json
  extensions/flibusta-search/package.json
  extensions/flibusta-search/response_example.html
  extensions/flibusta-search/src/components/BookListItem.tsx
  extensions/flibusta-search/src/flibusta.tsx
  extensions/flibusta-search/src/services/__tests__/opdsService.test.ts
  extensions/flibusta-search/src/services/opdsService.ts
  extensions/flibusta-search/src/types.ts
  extensions/flibusta-search/src/utils/downloadUtils.ts
  extensions/flibusta-search/tsconfig.json
Labels: new extension

#18881 Update at-profile extension
  extensions/at-profile/CHANGELOG.md
  extensions/at-profile/package.json
  extensions/at-profile/src/sites.ts
  extensions/at-profile/src/tools/open.ts
Labels: extension fix / improvement, extension: at-profile

#17790 [beszel-extension] Added AI tools for interacting with beszel
  extensions/beszel-extension/CHANGELOG.md
  extensions/beszel-extension/package-lock.json
  extensions/beszel-extension/package.json
  extensions/beszel-extension/src/tools/get-system.ts
Labels: extension fix / improvement, OP is author, AI Extension, extension: beszel-extension

#18987 adding needed changes
  extensions/ente-auth/CHANGELOG.md
  extensions/ente-auth/package-lock.json
  extensions/ente-auth/package.json
  extensions/ente-auth/src/constants/ente.ts
  extensions/ente-auth/src/constants/string.ts
  extensions/ente-auth/src/export.tsx
  extensions/ente-auth/src/helpers/ente.ts
  extensions/ente-auth/src/import.tsx
Labels: extension fix / improvement, OP is author, extension: ente-auth

#19017 Update Ext/window sizer
  extensions/window-sizer/CHANGELOG.md
  extensions/window-sizer/src/components/ResolutionList.tsx
Labels: extension fix / improvement, OP is author, extension: window-sizer

#18896 Messages Paste OTP Regex Update
  extensions/messages/CHANGELOG.md
  extensions/messages/src/paste-latest-otp-code.tsx
Labels: extension fix / improvement, extension: messages

#19003 feat(font-search): add postscript names menu
  extensions/font-search/CHANGELOG.md
  extensions/font-search/src/search-fonts.tsx
Labels: extension fix / improvement, OP is author, extension: font-search

#19015 MCP Registry: Initial commit
  .github/public_raycast_extensions.txt
  extensions/model-context-protocol-registry/.gitignore
  extensions/model-context-protocol-registry/.prettierrc
  extensions/model-context-protocol-registry/CHANGELOG.md
  extensions/model-context-protocol-registry/README.md
  extensions/model-context-protocol-registry/assets/airtable.svg
  extensions/model-context-protocol-registry/assets/applescript.png
  extensions/model-context-protocol-registry/assets/bigquery.svg
  extensions/model-context-protocol-registry/assets/chroma.png
  extensions/model-context-protocol-registry/assets/clickup.svg
  extensions/model-context-protocol-registry/assets/context-7.svg
  extensions/model-context-protocol-registry/assets/e2b.svg
  extensions/model-context-protocol-registry/assets/elevenlabs.svg
  extensions/model-context-protocol-registry/assets/exa.png
  extensions/model-context-protocol-registry/assets/extension.png
  extensions/model-context-protocol-registry/assets/extension@dark.png
  extensions/model-context-protocol-registry/assets/ghost.png
  extensions/model-context-protocol-registry/assets/heroku.svg
  extensions/model-context-protocol-registry/assets/heroku@dark.svg
  extensions/model-context-protocol-registry/assets/iterm.svg
  extensions/model-context-protocol-registry/assets/lightdash.svg
  extensions/model-context-protocol-registry/assets/monday.svg
  extensions/model-context-protocol-registry/assets/paddle.svg
  extensions/model-context-protocol-registry/assets/polar.svg
  extensions/model-context-protocol-registry/assets/pydantic.svg
  extensions/model-context-protocol-registry/assets/sentry.svg
  extensions/model-context-protocol-registry/assets/sentry@dark.svg
  extensions/model-context-protocol-registry/assets/smithery-missing-api-key.png
  extensions/model-context-protocol-registry/assets/smithery.svg
  extensions/model-context-protocol-registry/assets/square.svg
  extensions/model-context-protocol-registry/assets/square@dark.svg
  extensions/model-context-protocol-registry/assets/tavily.svg
  extensions/model-context-protocol-registry/assets/xero.svg
  extensions/model-context-protocol-registry/eslint.config.js
  extensions/model-context-protocol-registry/metadata/model-context-protocol-registry-1.png
  extensions/model-context-protocol-registry/metadata/model-context-protocol-registry-2.png
  extensions/model-context-protocol-registry/metadata/model-context-protocol-registry-3.png
  extensions/model-context-protocol-registry/metadata/model-context-protocol-registry-4.png
  extensions/model-context-protocol-registry/package-lock.json
  extensions/model-context-protocol-registry/package.json
  extensions/model-context-protocol-registry/src/registries/builtin/actions.tsx
  extensions/model-context-protocol-registry/src/registries/builtin/entries.ts
  extensions/model-context-protocol-registry/src/registries/builtin/index.tsx
  extensions/model-context-protocol-registry/src/registries/builtin/types.ts
  extensions/model-context-protocol-registry/src/registries/builtin/utils.ts
  extensions/model-context-protocol-registry/src/registries/index.ts
  extensions/model-context-protocol-registry/src/registries/smithery/api.ts
  extensions/model-context-protocol-registry/src/registries/smithery/index.tsx
  extensions/model-context-protocol-registry/src/registries/smithery/utils.ts
  extensions/model-context-protocol-registry/src/registries/types.ts
  extensions/model-context-protocol-registry/src/search-servers.tsx
  extensions/model-context-protocol-registry/src/shared/actions.tsx
  extensions/model-context-protocol-registry/src/shared/application.ts
  extensions/model-context-protocol-registry/src/shared/mcp.ts
  extensions/model-context-protocol-registry/tsconfig.json
  extensions/model-context-protocol-registry/update-readme.ts
Labels: new extension

#18763 Add daily-sites extension
  extensions/daily-sites/.gitignore
  extensions/daily-sites/.prettierrc
  extensions/daily-sites/CHANGELOG.md
  extensions/daily-sites/README.md
  extensions/daily-sites/assets/extension-icon.png
  extensions/daily-sites/eslint.config.js
  extensions/daily-sites/media/launcher.png
  extensions/daily-sites/media/setup.png
  extensions/daily-sites/metadata/daily-sites-1.png
  extensions/daily-sites/metadata/daily-sites-2.png
  extensions/daily-sites/metadata/daily-sites-3.png
  extensions/daily-sites/metadata/daily-sites-4.png
  extensions/daily-sites/metadata/daily-sites-5.png
  extensions/daily-sites/metadata/daily-sites-6.png
  extensions/daily-sites/metadata/daily-sites-7.png
  extensions/daily-sites/package-lock.json
  extensions/daily-sites/package.json
  extensions/daily-sites/src/addsite.tsx
  extensions/daily-sites/src/dailysites.tsx
  extensions/daily-sites/src/exportsites.tsx
  extensions/daily-sites/src/importsites.tsx
  extensions/daily-sites/src/types.ts
  extensions/daily-sites/src/utils.ts
  extensions/daily-sites/tsconfig.json
Labels: new extension

#18892 Add option to automatically create labels in Todoist quick add command
  extensions/todoist/CHANGELOG.md
  extensions/todoist/package.json
  extensions/todoist/src/api.ts
  extensions/todoist/src/helpers/labels.ts
  extensions/todoist/src/quick-add-task.tsx
Labels: extension fix / improvement, extension: todoist

#18904 Add selfhst-icons extension
  extensions/selfh-st-icons/.gitignore
  extensions/selfh-st-icons/CHANGELOG.md
  extensions/selfh-st-icons/LICENSE
  extensions/selfh-st-icons/README.md
  extensions/selfh-st-icons/assets/icon.png
  extensions/selfh-st-icons/assets/icon@dark.png
  extensions/selfh-st-icons/assets/listing.txt
  extensions/selfh-st-icons/eslint.config.js
  extensions/selfh-st-icons/metadata/selfh-st-icons-1.png
  extensions/selfh-st-icons/metadata/selfh-st-icons-2.png
  extensions/selfh-st-icons/metadata/selfh-st-icons-3.png
  extensions/selfh-st-icons/metadata/selfh-st-icons-4.png
  extensions/selfh-st-icons/package-lock.json
  extensions/selfh-st-icons/package.json
  extensions/selfh-st-icons/src/ActionPanelForIcon.tsx
  extensions/selfh-st-icons/src/icons.tsx
  extensions/selfh-st-icons/src/preferences.tsx
  extensions/selfh-st-icons/src/utils/hooks.ts
  extensions/selfh-st-icons/src/utils/icons.ts
  extensions/selfh-st-icons/src/utils/preferences.ts
  extensions/selfh-st-icons/tsconfig.json
Labels: new extension

#18837 Add search-domain extension
  extensions/search-domain/.eslintrc.json
  extensions/search-domain/.gitignore
  extensions/search-domain/.prettierrc
  extensions/search-domain/CHANGELOG.md
  extensions/search-domain/README.md
  extensions/search-domain/assets/extension-icon.png
  extensions/search-domain/metadata/search-domain-1.png
  extensions/search-domain/metadata/search-domain-2.png
  extensions/search-domain/metadata/search-domain-3.png
  extensions/search-domain/metadata/search-domain-4.png
  extensions/search-domain/package-lock.json
  extensions/search-domain/package.json
  extensions/search-domain/src/constants.ts
  extensions/search-domain/src/search-domain.tsx
  extensions/search-domain/tsconfig.json
Labels: new extension

#19045 fix(docs): mcp incorrect home page link
  extensions/model-context-protocol-registry/CHANGELOG.md
  extensions/model-context-protocol-registry/README.md
  extensions/model-context-protocol-registry/src/registries/builtin/entries.ts
Labels: extension fix / improvement, extension: model-context-protocol-registry

#18975 Update mermaid-to-image extension
  extensions/mermaid-to-image/CHANGELOG.md
  extensions/mermaid-to-image/package.json
  extensions/mermaid-to-image/src/tools/generate-mermaid-diagram-with-ai.ts
Labels: extension fix / improvement, OP is author, AI Extension, extension: mermaid-to-image

#18908 Add raycast-zoxide extension
  extensions/raycast-zoxide/.gitignore
  extensions/raycast-zoxide/.prettierrc
  extensions/raycast-zoxide/CHANGELOG.md
  extensions/raycast-zoxide/LICENSE
  extensions/raycast-zoxide/README.md
  extensions/raycast-zoxide/assets/extension-icon.png
  extensions/raycast-zoxide/eslint.config.js
  extensions/raycast-zoxide/metadata/raycast-zoxide-1.png
  extensions/raycast-zoxide/metadata/raycast-zoxide-2.png
  extensions/raycast-zoxide/metadata/raycast-zoxide-3.png
  extensions/raycast-zoxide/metadata/raycast-zoxide-4.png
  extensions/raycast-zoxide/package-lock.json
  extensions/raycast-zoxide/package.json
  extensions/raycast-zoxide/src/add-from-finder.tsx
  extensions/raycast-zoxide/src/components/add-from-finder-action.tsx
  extensions/raycast-zoxide/src/components/search-result.tsx
  extensions/raycast-zoxide/src/components/spotlight-results.tsx
  extensions/raycast-zoxide/src/hooks/use-fzf.ts
  extensions/raycast-zoxide/src/hooks/use-spotlight.ts
  extensions/raycast-zoxide/src/hooks/use-zoxide.ts
  extensions/raycast-zoxide/src/search-directories.tsx
  extensions/raycast-zoxide/src/utils/misc.ts
  extensions/raycast-zoxide/src/utils/path-helpers.ts
  extensions/raycast-zoxide/tsconfig.json
Labels: new extension

#18788 Update OpenVPN description to reflect recent changes
  extensions/openvpn/CHANGELOG.md
  extensions/openvpn/README.md
Labels: extension fix / improvement, extension: openvpn

#19067 Update index.tsx
  extensions/model-context-protocol-registry/src/registries/smithery/index.tsx
Labels: extension fix / improvement, extension: model-context-protocol-registry

#19103 Update Ext/window sizer
  extensions/window-sizer/CHANGELOG.md
  extensions/window-sizer/assets/extension-icon.png
  extensions/window-sizer/assets/icons/add-size.svg
  extensions/window-sizer/assets/icons/clear.svg
  extensions/window-sizer/assets/icons/current-size.svg
  extensions/window-sizer/assets/icons/custom-size.svg
  extensions/window-sizer/assets/icons/default-size.svg
  extensions/window-sizer/assets/icons/maximize.svg
  extensions/window-sizer/assets/icons/restore.svg
  extensions/window-sizer/assets/icons/screen-info.svg
  extensions/window-sizer/assets/screenshot.png
  extensions/window-sizer/metadata/window-sizer-1.png
  extensions/window-sizer/metadata/window-sizer-2.png
  extensions/window-sizer/metadata/window-sizer-3.png
  extensions/window-sizer/metadata/window-sizer-4.png
  extensions/window-sizer/src/components/DevTools.tsx
  extensions/window-sizer/src/components/OptionsList.tsx
  extensions/window-sizer/src/components/ResolutionList.tsx
  extensions/window-sizer/src/hooks/useScreenInfo.tsx
Labels: extension fix / improvement, OP is author, extension: window-sizer

#19097 Update daily-sites extension
  extensions/daily-sites/CHANGELOG.md
  extensions/daily-sites/package-lock.json
  extensions/daily-sites/package.json
  extensions/daily-sites/src/addsite.tsx
  extensions/daily-sites/src/dailysites.tsx
  extensions/daily-sites/src/importsites.tsx
  extensions/daily-sites/src/types.ts
  extensions/daily-sites/src/utils.ts
Labels: extension fix / improvement, OP is author, extension: daily-sites

#19102 Update dovetail extension
  extensions/dovetail/CHANGELOG.md
  extensions/dovetail/package-lock.json
  extensions/dovetail/package.json
  extensions/dovetail/src/api/client.ts
  extensions/dovetail/src/api/endpoints.ts
  extensions/dovetail/src/hooks/useAuth.ts
  extensions/dovetail/src/hooks/useSearch.ts
  extensions/dovetail/src/search-contacts.tsx
  extensions/dovetail/src/search-data.tsx
  extensions/dovetail/src/search-insights.tsx
  extensions/dovetail/src/types/dovetail.ts
  extensions/dovetail/src/utils/formatting.ts
Labels: extension fix / improvement, OP is author, extension: dovetail

#19042 Update how-long-to-beat extension
  extensions/how-long-to-beat/CHANGELOG.md
  extensions/how-long-to-beat/src/details.tsx
  extensions/how-long-to-beat/src/helpers.ts
  extensions/how-long-to-beat/src/hltbsearch.ts
  extensions/how-long-to-beat/src/index.tsx
Labels: extension fix / improvement, OP is contributor, extension: how-long-to-beat

#19065 Update hardcover extension
  extensions/hardcover/CHANGELOG.md
  extensions/hardcover/package.json
  extensions/hardcover/src/api/books.ts
  extensions/hardcover/src/components/BookDetail.tsx
  extensions/hardcover/src/components/UserBooks.tsx
  extensions/hardcover/src/components/actions/BookRatingSubmenu.tsx
  extensions/hardcover/src/components/actions/BookStatusSubmenu.tsx
  extensions/hardcover/src/components/actions/DeleteBookAction.tsx
  extensions/hardcover/src/currently-reading-books.tsx
  extensions/hardcover/src/did-not-finish-books.tsx
  extensions/hardcover/src/hooks/useUserBooksByStatus.ts
  extensions/hardcover/src/read-books.tsx
  extensions/hardcover/src/want-to-read-books.tsx
Labels: extension fix / improvement, OP is author, extension: hardcover

#19066 Add domain field to fastmail-masked-email extension
  extensions/fastmail-masked-email/CHANGELOG.md
  extensions/fastmail-masked-email/package.json
  extensions/fastmail-masked-email/src/create.tsx
  extensions/fastmail-masked-email/src/fastmail.ts
  extensions/fastmail-masked-email/src/list.tsx
Labels: extension fix / improvement, OP is contributor, extension: fastmail-masked-email

#17531 TickTick support AI Extension
  extensions/ticktick/.eslintrc.json
  extensions/ticktick/CHANGELOG.md
  extensions/ticktick/note.md
  extensions/ticktick/package-lock.json
  extensions/ticktick/package.json
  extensions/ticktick/src/create.tsx
  extensions/ticktick/src/hooks/useDebouncedCallback.ts
  extensions/ticktick/src/service/osScript.ts
  extensions/ticktick/src/tools/add-task.ts
  extensions/ticktick/src/tools/get-lists.ts
  extensions/ticktick/src/tools/get-tasks.ts
  extensions/ticktick/tsconfig.json
Labels: extension fix / improvement, OP is author, extension: ticktick, AI Extension

#19106 Update README.md
  extensions/thock/CHANGELOG.md
  extensions/thock/README.md
Labels: extension fix / improvement, OP is author, OP is contributor, extension: thock

#19029 Ente Auth - fix preferred values
  extensions/ente-auth/CHANGELOG.md
  extensions/ente-auth/README.md
  extensions/ente-auth/package.json
  extensions/ente-auth/src/helpers/ente.ts
  extensions/ente-auth/src/import.tsx
  extensions/ente-auth/src/index.tsx
Labels: extension fix / improvement, OP is author, extension: ente-auth

#18929 Add subwatch extension
  extensions/subwatch/.gitignore
  extensions/subwatch/.prettierrc
  extensions/subwatch/CHANGELOG.md
  extensions/subwatch/README.md
  extensions/subwatch/assets/icon.png
  extensions/subwatch/eslint.config.js
  extensions/subwatch/metadata/1.png
  extensions/subwatch/metadata/2.png
  extensions/subwatch/metadata/3.png
  extensions/subwatch/package-lock.json
  extensions/subwatch/package.json
  extensions/subwatch/src/add-subscription.tsx
  extensions/subwatch/src/manage-subscriptions.tsx
  extensions/subwatch/src/state.ts
  extensions/subwatch/src/types.ts
  extensions/subwatch/tsconfig.json
Labels: new extension

#18566 Add grok-ai extension
  extensions/grok-ai/.gitignore
  extensions/grok-ai/.prettierrc
  extensions/grok-ai/CHANGELOG.md
  extensions/grok-ai/LICENSE
  extensions/grok-ai/README.md
  extensions/grok-ai/assets/icon.png
  extensions/grok-ai/eslint.config.js
  extensions/grok-ai/grok-ai.code-workspace
  extensions/grok-ai/metadata/grok-ai-1.png
  extensions/grok-ai/metadata/grok-ai-3.png
  extensions/grok-ai/metadata/history.png
  extensions/grok-ai/metadata/models.png
  extensions/grok-ai/metadata/query-grok.png
  extensions/grok-ai/package-lock.json
  extensions/grok-ai/package.json
  extensions/grok-ai/src/actions/copy.tsx
  extensions/grok-ai/src/actions/form-input.tsx
  extensions/grok-ai/src/actions/index.tsx
  extensions/grok-ai/src/actions/preferences.tsx
  extensions/grok-ai/src/actions/save.tsx
  extensions/grok-ai/src/ask.tsx
  extensions/grok-ai/src/conversation.tsx
  extensions/grok-ai/src/history.tsx
  extensions/grok-ai/src/hooks/useAutoSaveConversation.tsx
  extensions/grok-ai/src/hooks/useAutoTTS.tsx
  extensions/grok-ai/src/hooks/useChat.tsx
  extensions/grok-ai/src/hooks/useCommand.tsx
  extensions/grok-ai/src/hooks/useConversations.tsx
  extensions/grok-ai/src/hooks/useGrokAPI.tsx
  extensions/grok-ai/src/hooks/useHistory.tsx
  extensions/grok-ai/src/hooks/useModel.tsx
  extensions/grok-ai/src/hooks/useQuestion.tsx
  extensions/grok-ai/src/hooks/useSavedChat.tsx
  extensions/grok-ai/src/model.tsx
  extensions/grok-ai/src/type.tsx
  extensions/grok-ai/src/utils/cache.tsx
  extensions/grok-ai/src/utils/import-export.tsx
  extensions/grok-ai/src/views/answer-detail.tsx
  extensions/grok-ai/src/views/chat.tsx
  extensions/grok-ai/src/views/empty.tsx
  extensions/grok-ai/src/views/import-form.tsx
  extensions/grok-ai/src/views/model/dropdown.tsx
  extensions/grok-ai/src/views/model/form.tsx
  extensions/grok-ai/src/views/model/list.tsx
  extensions/grok-ai/src/views/question/form.tsx
  extensions/grok-ai/tsconfig.json
Labels: new extension

#19039 Update kill-node-modules extension
  extensions/kill-node-modules/CHANGELOG.md
  extensions/kill-node-modules/README.md
  extensions/kill-node-modules/package-lock.json
  extensions/kill-node-modules/package.json
  extensions/kill-node-modules/src/hooks/useNodeModules.ts
  extensions/kill-node-modules/src/kill-node-modules.tsx
  extensions/kill-node-modules/src/utils/service.ts
  extensions/kill-node-modules/src/utils/try-catch.ts
Labels: extension fix / improvement, extension: kill-node-modules

#18554 Update at-profile extension
  extensions/at-profile/CHANGELOG.md
  extensions/at-profile/package.json
Labels: extension fix / improvement, OP is author, AI Extension, extension: at-profile

#18834 Update servicenow extension
  extensions/servicenow/CHANGELOG.md
  extensions/servicenow/README.md
  extensions/servicenow/eslint.config.js
  extensions/servicenow/package-lock.json
  extensions/servicenow/package.json
  extensions/servicenow/src/components/FavoriteItem.tsx
  extensions/servicenow/src/components/InstancesList.tsx
  extensions/servicenow/src/components/NavigationHistory.tsx
  extensions/servicenow/src/components/NavigationHistoryFull.tsx
  extensions/servicenow/src/components/NavigationMenu.tsx
  extensions/servicenow/src/components/ResultActions.tsx
  extensions/servicenow/src/components/ResultDetail.tsx
  extensions/servicenow/src/components/SearchResultListItem.tsx
  extensions/servicenow/src/components/SearchResults.tsx
  extensions/servicenow/src/components/Tables.tsx
  extensions/servicenow/src/hooks/useFavorites.ts
  extensions/servicenow/src/login-to-instance.ts
  extensions/servicenow/src/open-current-page-instance.ts
  extensions/servicenow/src/open-instance.ts
  extensions/servicenow/src/quick-search.tsx
  extensions/servicenow/src/search-sysid.tsx
  extensions/servicenow/src/types.ts
  extensions/servicenow/src/utils/browserScripts.ts
  extensions/servicenow/src/utils/buildServiceNowUrl.ts
  extensions/servicenow/src/utils/extractPathAndParam.ts
  extensions/servicenow/src/utils/snSnippets.d.ts
  extensions/servicenow/src/utils/snSnippets.js
  extensions/servicenow/tsconfig.json
Labels: extension fix / improvement, OP is author, extension: servicenow

#18563 LoL Esports AI tools
  extensions/lol-esports/CHANGELOG.md
  extensions/lol-esports/package-lock.json
  extensions/lol-esports/package.json
  extensions/lol-esports/src/lib/hooks/use-leagues.tsx
  extensions/lol-esports/src/lib/hooks/use-rankings.tsx
  extensions/lol-esports/src/lib/hooks/use-schedule.tsx
  extensions/lol-esports/src/lib/hooks/use-tournaments.tsx
  extensions/lol-esports/src/show-standings.tsx
  extensions/lol-esports/src/tools/get-leagues.ts
  extensions/lol-esports/src/tools/get-schedule.ts
  extensions/lol-esports/src/tools/get-standings.ts
Labels: extension fix / improvement, OP is author, AI Extension, extension: lol-esports

#18437 Update tidal-controller extension
  extensions/tidal-controller/CHANGELOG.md
  extensions/tidal-controller/assets/icons/next.svg
  extensions/tidal-controller/assets/icons/pause.svg
  extensions/tidal-controller/assets/icons/play.svg
  extensions/tidal-controller/assets/icons/previous.svg
  extensions/tidal-controller/assets/icons/shuffle.svg
  extensions/tidal-controller/assets/icons/tidal-logo-dark.svg
  extensions/tidal-controller/assets/icons/tidal-logo-light.svg
  extensions/tidal-controller/package.json
  extensions/tidal-controller/src/next-song.ts
  extensions/tidal-controller/src/now-playing-menu-bar.tsx
  extensions/tidal-controller/src/now-playing.ts
  extensions/tidal-controller/src/pause.ts
  extensions/tidal-controller/src/play-pause.ts
  extensions/tidal-controller/src/play.ts
  extensions/tidal-controller/src/prev-song.ts
  extensions/tidal-controller/src/shuffle.ts
  extensions/tidal-controller/src/util/fn.ts
  extensions/tidal-controller/src/volume-down.ts
  extensions/tidal-controller/src/volume-up.ts
Labels: extension fix / improvement, OP is contributor, extension: tidal-controller

#19024 Update omnifocus extension
  extensions/omnifocus/.gitignore
  extensions/omnifocus/CHANGELOG.md
  extensions/omnifocus/src/add-task.tsx
  extensions/omnifocus/src/lib/api/add-task.ts
  extensions/omnifocus/src/lib/api/assign-project-to-task.ts
  extensions/omnifocus/src/lib/api/assign-tags-to-task.ts
  extensions/omnifocus/src/lib/api/create-tags.ts
  extensions/omnifocus/src/lib/api/list-perspectives-tasks.ts
  extensions/omnifocus/src/lib/api/list-projects.ts
  extensions/omnifocus/src/lib/api/list-tags.ts
  extensions/omnifocus/src/quick-add-to-inbox.ts
Labels: extension fix / improvement, OP is author, extension: omnifocus

#19131 Update flibusta-search extension
  extensions/flibusta-search/CHANGELOG.md
  extensions/flibusta-search/assets/extension-icon.png
Labels: extension fix / improvement, OP is author, extension: flibusta-search

#19025 [NixPkgs Search] Fetch version number from NixOS/nixos-search repo and compose url dynamically
  extensions/nixpkgs-search/CHANGELOG.md
  extensions/nixpkgs-search/src/index.tsx
Labels: extension fix / improvement, OP is author, extension: nixpkgs-search

#19019 Update `Two-Factor Authentication Code Generator` - Rename Codes + Modernize + Add README
  extensions/two-factor-authentication-code-generator/.eslintignore
  extensions/two-factor-authentication-code-generator/.eslintrc.json
  extensions/two-factor-authentication-code-generator/CHANGELOG.md
  extensions/two-factor-authentication-code-generator/README.md
  extensions/two-factor-authentication-code-generator/eslint.config.js
  extensions/two-factor-authentication-code-generator/metadata/two-factor-authentication-code-generator-1.png
  extensions/two-factor-authentication-code-generator/metadata/two-factor-authentication-code-generator-2.png
  extensions/two-factor-authentication-code-generator/package-lock.json
  extensions/two-factor-authentication-code-generator/package.json
  extensions/two-factor-authentication-code-generator/src/backup.tsx
  extensions/two-factor-authentication-code-generator/src/index.tsx
  extensions/two-factor-authentication-code-generator/src/restore.tsx
  extensions/two-factor-authentication-code-generator/src/util/hooks.ts
  extensions/two-factor-authentication-code-generator/src/util/totp.ts
  extensions/two-factor-authentication-code-generator/tsconfig.json
Labels: extension fix / improvement, extension: two-factor-authentication-code-generat…

#18877 Add file-organizer extension
  extensions/file-organizer/.gitignore
  extensions/file-organizer/.prettierrc
  extensions/file-organizer/CHANGELOG.md
  extensions/file-organizer/README.md
  extensions/file-organizer/assets/extension-icon.png
  extensions/file-organizer/eslint.config.js
  extensions/file-organizer/metadata/file-organizer-1.png
  extensions/file-organizer/package-lock.json
  extensions/file-organizer/package.json
  extensions/file-organizer/src/place-file.tsx
  extensions/file-organizer/src/utils/fileAnalyzer.ts
  extensions/file-organizer/src/utils/fileOperations.ts
  extensions/file-organizer/src/utils/levenshtein.ts
  extensions/file-organizer/src/utils/locationSuggester.ts
  extensions/file-organizer/src/utils/preferences.ts
  extensions/file-organizer/src/utils/types.ts
  extensions/file-organizer/tsconfig.json
Labels: new extension

#19007 Gitlab Extension: My merge requests & label based filtering
  extensions/gitlab/CHANGELOG.md
  extensions/gitlab/package-lock.json
  extensions/gitlab/package.json
  extensions/gitlab/src/components/issues.tsx
  extensions/gitlab/src/components/mr_my.tsx
  extensions/gitlab/src/components/reviews.tsx
  extensions/gitlab/src/gitlabapi.ts
  extensions/gitlab/src/mrmenu.tsx
  extensions/gitlab/src/todomenubar.tsx
  extensions/gitlab/src/utils.ts
Labels: extension fix / improvement, extension: gitlab

#19132 Update zerion extension
  extensions/zerion/CHANGELOG.md
  extensions/zerion/media/zerion-1.png
  extensions/zerion/package-lock.json
  extensions/zerion/package.json
  extensions/zerion/src/find-token-or-address.tsx
  extensions/zerion/src/my-wallets.tsx
  extensions/zerion/src/shared/utils.ts
  extensions/zerion/src/tools/check-portfolio.ts
  extensions/zerion/src/tools/check-token-price-chart.ts
  extensions/zerion/src/tools/create-a-send-link.ts
  extensions/zerion/src/tools/create-a-swap-link.ts
  extensions/zerion/src/tools/look-token.ts
  extensions/zerion/src/tools/look-wallets.ts
  extensions/zerion/src/tools/search-blockchain.ts
Labels: extension fix / improvement, OP is contributor, extension: zerion

#19119 Add setlist-fm extension
  extensions/setlist-fm/.gitignore
  extensions/setlist-fm/.prettierrc
  extensions/setlist-fm/CHANGELOG.md
  extensions/setlist-fm/README.md
  extensions/setlist-fm/ai.json
  extensions/setlist-fm/assets/extension-icon.png
  extensions/setlist-fm/eslint.config.js
  extensions/setlist-fm/metadata/setlist-fm-1.png
  extensions/setlist-fm/metadata/setlist-fm-2.png
  extensions/setlist-fm/metadata/setlist-fm-3.png
  extensions/setlist-fm/metadata/setlist-fm-4.png
  extensions/setlist-fm/metadata/setlist-fm-5.png
  extensions/setlist-fm/package-lock.json
  extensions/setlist-fm/package.json
  extensions/setlist-fm/src/constants/constants.ts
  extensions/setlist-fm/src/helper/getFlag.ts
  extensions/setlist-fm/src/search-by-artist.tsx
  extensions/setlist-fm/src/tools/search-artist.ts
  extensions/setlist-fm/src/tools/search-setlists.ts
  extensions/setlist-fm/src/types/Artist.ts
  extensions/setlist-fm/src/types/City.ts
  extensions/setlist-fm/src/types/Coords.ts
  extensions/setlist-fm/src/types/Country.ts
  extensions/setlist-fm/src/types/SearchArtistsResponse.ts
  extensions/setlist-fm/src/types/SearchSetlistResponse.ts
  extensions/setlist-fm/src/types/Set.ts
  extensions/setlist-fm/src/types/Setlist.ts
  extensions/setlist-fm/src/types/Sets.ts
  extensions/setlist-fm/src/types/Song.ts
  extensions/setlist-fm/src/types/Tour.ts
  extensions/setlist-fm/src/types/Venue.ts
  extensions/setlist-fm/src/views/ArtistSetlists.tsx
  extensions/setlist-fm/src/views/SearchArtists.tsx
  extensions/setlist-fm/src/views/SetListDetail.tsx
  extensions/setlist-fm/tsconfig.json
Labels: new extension

#19026 Clockify Extension: UX Improvement for "Start new Timer" functionality
  extensions/clockify/CHANGELOG.md
  extensions/clockify/package.json
  extensions/clockify/src/index.tsx
Labels: extension fix / improvement, extension: clockify

#19139 Fixing two super small typos on the readme for the Obsidian plugin
  extensions/obsidian/CHANGELOG.md
  extensions/obsidian/README.md
Labels: extension fix / improvement, OP is contributor, extension: obsidian

#19143 Fix request loops
  extensions/gitlab/CHANGELOG.md
  extensions/gitlab/package.json
  extensions/gitlab/src/components/reviews.tsx
  extensions/gitlab/src/mrmenu.tsx
Labels: extension fix / improvement, OP is contributor, extension: gitlab

#19148 Update servicenow extension
  extensions/servicenow/CHANGELOG.md
  extensions/servicenow/src/search-sysid.tsx
  extensions/servicenow/src/utils/snSnippets.d.ts
  extensions/servicenow/src/utils/snSnippets.js
Labels: extension fix / improvement, OP is author, extension: servicenow

#19118 Update lift-calculator extension
  extensions/lift-calculator/CHANGELOG.md
  extensions/lift-calculator/src/hooks/useRepMaxCalculator.ts
  extensions/lift-calculator/src/utils/calculations.ts
Labels: extension fix / improvement, OP is author, extension: lift-calculator

#19028 Add shell-alias extension
  extensions/shell-alias/.gitignore
  extensions/shell-alias/.prettierrc
  extensions/shell-alias/CHANGELOG.md
  extensions/shell-alias/README.md
  extensions/shell-alias/assets/extension-icon.png
  extensions/shell-alias/eslint.config.js
  extensions/shell-alias/metadata/shell-alias-1.png
  extensions/shell-alias/metadata/shell-alias-2.png
  extensions/shell-alias/metadata/shell-alias-3.png
  extensions/shell-alias/package-lock.json
  extensions/shell-alias/package.json
  extensions/shell-alias/src/alias.tsx
  extensions/shell-alias/src/api/api.ts
  extensions/shell-alias/src/api/config.ts
  extensions/shell-alias/src/api/shell/adapters/abstract.adapter.ts
  extensions/shell-alias/src/api/shell/adapters/adapter.factory.ts
  extensions/shell-alias/src/api/shell/adapters/zsh.adapter.ts
  extensions/shell-alias/src/api/shell/alias.ts
  extensions/shell-alias/src/api/shell/errors/alias-conflict.ts
  extensions/shell-alias/src/api/shell/errors/unsupported-shell.error.ts
  extensions/shell-alias/src/api/shell/host-shell.ts
  extensions/shell-alias/src/api/shell/index.ts
  extensions/shell-alias/src/components/form-alias.tsx
  extensions/shell-alias/src/components/unsupported-shell-feedback.tsx
  extensions/shell-alias/src/create-alias.tsx
  extensions/shell-alias/src/hooks/use-api.tsx
  extensions/shell-alias/tsconfig.json
Labels: new extension

#18928 add(KDE Connect): KDE Connect in Raycast
  extensions/kde-connect/.eslintrc.json
  extensions/kde-connect/.gitignore
  extensions/kde-connect/.prettierrc
  extensions/kde-connect/CHANGELOG.md
  extensions/kde-connect/README.md
  extensions/kde-connect/assets/command-icon.png
  extensions/kde-connect/assets/sc-apps-kdeconnect.png
  extensions/kde-connect/metadata/kde-connect-1.png
  extensions/kde-connect/metadata/kde-connect-2.png
  extensions/kde-connect/metadata/kde-connect-3.png
  extensions/kde-connect/metadata/kde-connect-4.png
  extensions/kde-connect/package-lock.json
  extensions/kde-connect/package.json
  extensions/kde-connect/src/connector.ts
  extensions/kde-connect/src/device.ts
  extensions/kde-connect/src/getKDEConnect.tsx
  extensions/kde-connect/src/index.tsx
  extensions/kde-connect/src/send.tsx
  extensions/kde-connect/src/storage.ts
  extensions/kde-connect/tsconfig.json
Labels: new extension

#18792 Update qrcode-generator extension
  extensions/qrcode-generator/CHANGELOG.md
  extensions/qrcode-generator/README.md
  extensions/qrcode-generator/package.json
  extensions/qrcode-generator/src/config.ts
  extensions/qrcode-generator/src/index.tsx
  extensions/qrcode-generator/src/types.ts
  extensions/qrcode-generator/src/utils.tsx
Labels: extension fix / improvement, OP is contributor, extension: qrcode-generator

#19072 Update vuejs-documentation extension
  extensions/vuejs-documentation/.gitignore
  extensions/vuejs-documentation/CHANGELOG.md
  extensions/vuejs-documentation/package-lock.json
  extensions/vuejs-documentation/package.json
  extensions/vuejs-documentation/src/index.tsx
Labels: extension fix / improvement, extension: vuejs-documentation

#19041 Add smallpdf extension
  extensions/smallpdf/.gitignore
  extensions/smallpdf/.prettierrc
  extensions/smallpdf/CHANGELOG.md
  extensions/smallpdf/README.md
  extensions/smallpdf/assets/icons/ai-chat.png
  extensions/smallpdf/assets/icons/ai-question.png
  extensions/smallpdf/assets/icons/ai-summarize.png
  extensions/smallpdf/assets/icons/ai-translate.png
  extensions/smallpdf/assets/icons/annotate.png
  extensions/smallpdf/assets/icons/compress.png
  extensions/smallpdf/assets/icons/converter.png
  extensions/smallpdf/assets/icons/crop.png
  extensions/smallpdf/assets/icons/delete.png
  extensions/smallpdf/assets/icons/e-sign.png
  extensions/smallpdf/assets/icons/edit.png
  extensions/smallpdf/assets/icons/extract.png
  extensions/smallpdf/assets/icons/flatten.png
  extensions/smallpdf/assets/icons/merge.png
  extensions/smallpdf/assets/icons/number.png
  extensions/smallpdf/assets/icons/organize.png
  extensions/smallpdf/assets/icons/pdf-excel.png
  extensions/smallpdf/assets/icons/pdf-image.png
  extensions/smallpdf/assets/icons/pdf-ocr.png
  extensions/smallpdf/assets/icons/pdf-ppt.png
  extensions/smallpdf/assets/icons/pdf-word.png
  extensions/smallpdf/assets/icons/protect.png
  extensions/smallpdf/assets/icons/reader.png
  extensions/smallpdf/assets/icons/redact.png
  extensions/smallpdf/assets/icons/rotate.png
  extensions/smallpdf/assets/icons/scanner.png
  extensions/smallpdf/assets/icons/share.png
  extensions/smallpdf/assets/icons/sign-com.png
  extensions/smallpdf/assets/icons/split.png
  extensions/smallpdf/assets/icons/unlock.png
  extensions/smallpdf/assets/icons/watermark.png
  extensions/smallpdf/assets/smallpdf-logo.png
  extensions/smallpdf/eslint.config.js
  extensions/smallpdf/metadata/smallpdf-1.png
  extensions/smallpdf/metadata/smallpdf-2.png
  extensions/smallpdf/metadata/smallpdf-3.png
  extensions/smallpdf/package-lock.json
  extensions/smallpdf/package.json
  extensions/smallpdf/src/components/ToolItem.tsx
  extensions/smallpdf/src/components/ToolSection.tsx
  extensions/smallpdf/src/data/tools.ts
  extensions/smallpdf/src/smallpdf-tools.tsx
  extensions/smallpdf/tsconfig.json
Labels: new extension

#19021 update extension raycast-gemini
  extensions/raycast-gemini/CHANGELOG.md
  extensions/raycast-gemini/package.json
Labels: extension fix / improvement, OP is contributor, extension: raycast-gemini

#19063 Add wp-cli-command-explorer extension
  extensions/wp-cli-command-explorer/.editorconfig
  extensions/wp-cli-command-explorer/.eslintrc.json
  extensions/wp-cli-command-explorer/.gitignore
  extensions/wp-cli-command-explorer/.nvmrc
  extensions/wp-cli-command-explorer/.prettierrc
  extensions/wp-cli-command-explorer/CHANGELOG.md
  extensions/wp-cli-command-explorer/LICENSE
  extensions/wp-cli-command-explorer/README.md
  extensions/wp-cli-command-explorer/assets/command-icon.png
  extensions/wp-cli-command-explorer/eslint.config.js
  extensions/wp-cli-command-explorer/metadata/wp-cli-command-explorer-1.png
  extensions/wp-cli-command-explorer/metadata/wp-cli-command-explorer-2.png
  extensions/wp-cli-command-explorer/metadata/wp-cli-command-explorer-3.png
  extensions/wp-cli-command-explorer/metadata/wp-cli-command-explorer-4.png
  extensions/wp-cli-command-explorer/metadata/wp-cli-command-explorer-5.png
  extensions/wp-cli-command-explorer/package-lock.json
  extensions/wp-cli-command-explorer/package.json
  extensions/wp-cli-command-explorer/src/data/commands.ts
  extensions/wp-cli-command-explorer/src/wpcli.tsx
  extensions/wp-cli-command-explorer/tsconfig.json
Labels: new extension

#19089 Update polymarket extension
  extensions/polymarket/CHANGELOG.md
  extensions/polymarket/metadata/polymarket-search-1.png
  extensions/polymarket/metadata/polymarket-search-2.png
  extensions/polymarket/package-lock.json
  extensions/polymarket/package.json
  extensions/polymarket/src/common.tsx
  extensions/polymarket/src/constants.ts
  extensions/polymarket/src/search-for-market.tsx
  extensions/polymarket/src/top-markets.tsx
  extensions/polymarket/src/types.ts
  extensions/polymarket/src/utils.ts
Labels: extension fix / improvement, extension: polymarket

#19030 Add video-converter extension
  extensions/video-converter/.gitignore
  extensions/video-converter/.prettierrc
  extensions/video-converter/CHANGELOG.md
  extensions/video-converter/README.md
  extensions/video-converter/assets/extension-icon.png
  extensions/video-converter/eslint.config.js
  extensions/video-converter/metadata/video-converter-1.png
  extensions/video-converter/metadata/video-converter-2.png
  extensions/video-converter/metadata/video-converter-3.png
  extensions/video-converter/metadata/video-converter-4.png
  extensions/video-converter/package-lock.json
  extensions/video-converter/package.json
  extensions/video-converter/src/components/ErrorBoundary.tsx
  extensions/video-converter/src/components/conversion.tsx
  extensions/video-converter/src/components/ffmpegNotFound.tsx
  extensions/video-converter/src/constants/index.ts
  extensions/video-converter/src/convert-video.tsx
  extensions/video-converter/src/hooks/useVideoConverter.ts
  extensions/video-converter/src/quick-convert.tsx
  extensions/video-converter/src/types.ts
  extensions/video-converter/src/utils/ffmpeg.ts
  extensions/video-converter/src/utils/settings.ts
  extensions/video-converter/tsconfig.json
Labels: new extension

#19013 Update zen-browser extension
  extensions/zen-browser/.gitignore
  extensions/zen-browser/CHANGELOG.md
  extensions/zen-browser/package-lock.json
  extensions/zen-browser/package.json
  extensions/zen-browser/src/actions/index.ts
  extensions/zen-browser/src/hooks/useHistorySearch.tsx
  extensions/zen-browser/src/tools/new-tab.ts
  extensions/zen-browser/src/tools/search-history.ts
  extensions/zen-browser/src/util/index.ts
Labels: extension fix / improvement, OP is contributor, extension: zen-browser, AI Extension

#19034 feat: add Nuxt official MCP server to registry
  extensions/model-context-protocol-registry/CHANGELOG.md
  extensions/model-context-protocol-registry/README.md
  extensions/model-context-protocol-registry/assets/nuxt.svg
  extensions/model-context-protocol-registry/src/registries/builtin/entries.ts
Labels: extension fix / improvement, extension: model-context-protocol-registry

#19194 Danish Tax Calculator
  extensions/danish-tax-calculator/.gitignore
  extensions/danish-tax-calculator/.prettierrc
  extensions/danish-tax-calculator/CHANGELOG.md
  extensions/danish-tax-calculator/README.md
  extensions/danish-tax-calculator/assets/icon.png
  extensions/danish-tax-calculator/eslint.config.js
  extensions/danish-tax-calculator/package-lock.json
  extensions/danish-tax-calculator/package.json
  extensions/danish-tax-calculator/src/calculate-payment.tsx
  extensions/danish-tax-calculator/src/constants.tsx
  extensions/danish-tax-calculator/src/functions.ts
  extensions/danish-tax-calculator/src/storage.ts
  extensions/danish-tax-calculator/src/types.ts
  extensions/danish-tax-calculator/src/utils.ts
  extensions/danish-tax-calculator/src/view-history.tsx
  extensions/danish-tax-calculator/tsconfig.json
Labels: new extension

#19195 Update package.json
  extensions/danish-tax-calculator/CHANGELOG.md
  extensions/danish-tax-calculator/metadata/metadata-1.png
  extensions/danish-tax-calculator/package.json
Labels: extension fix / improvement, OP is author, extension: danish-tax-calculator

#18758 [Sentry] Show projects for non US Sentry orgs
  extensions/sentry/CHANGELOG.md
  extensions/sentry/src/Actions.tsx
  extensions/sentry/src/IssueListItem.tsx
  extensions/sentry/src/UnauthorizedError.tsx
  extensions/sentry/src/sentry.ts
  extensions/sentry/src/types.ts
  extensions/sentry/src/utils.ts
  extensions/sentry/tsconfig.json
Labels: extension fix / improvement, OP is contributor, status: stalled, extension: sentry

#18682 Update raycast-icons extension
  extensions/raycast-icons/CHANGELOG.md
  extensions/raycast-icons/eslint.config.js
  extensions/raycast-icons/metadata/raycast-icons-1.png
  extensions/raycast-icons/metadata/raycast-icons-2.png
  extensions/raycast-icons/package-lock.json
  extensions/raycast-icons/package.json
  extensions/raycast-icons/src/components/IconGrid.tsx
  extensions/raycast-icons/tsconfig.json
Labels: extension fix / improvement, OP is contributor, extension: raycast-icons

#19200 Update danish-tax-calculator extension
  extensions/danish-tax-calculator/CHANGELOG.md
  extensions/danish-tax-calculator/src/calculate-payment.tsx
Labels: extension fix / improvement, OP is author, extension: danish-tax-calculator

#19227 Update CHANGELOG.md
  extensions/model-context-protocol-registry/CHANGELOG.md
Labels: extension fix / improvement, extension: model-context-protocol-registry

#19210 [Expo] Remove duplicate files
  extensions/expo/CHANGELOG.md
  extensions/expo/README.md
  extensions/expo/media/extension-icon.png
Labels: extension fix / improvement, extension: expo

#19211 [Trek] Remove outdated files
  extensions/trek/CHANGELOG.md
  extensions/trek/metadata/390089706-69450b5d-f5d0-48d8-8d3e-d700af2e5889.png
  extensions/trek/metadata/390089713-3592aac1-a89e-4b90-bc88-2a0b9223ff26.png
  extensions/trek/metadata/390089720-ca547a61-3ca4-4647-95a9-f5756830b657.png
  extensions/trek/metadata/390089726-76f95ba1-f33a-4135-948c-8414a494f977.png
Labels: extension fix / improvement, extension: trek

#19207 [Unifi] Remove outdated files
  extensions/unifi/CHANGELOG.md
  extensions/unifi/metadata/unifi-network-1.png
  extensions/unifi/metadata/unifi-network-2.png
  extensions/unifi/metadata/unifi-network-3.png
  extensions/unifi/metadata/unifi-network-4.png
  extensions/unifi/metadata/unifi-network-5.png
  extensions/unifi/metadata/unifi-network-6.png
  extensions/unifi/metadata/unifi-network-7.png
Labels: extension fix / improvement, extension: unifi

#19208 [Markdown Navigator] Remove duplicate files
  extensions/markdown-navigator/CHANGELOG.md
  extensions/markdown-navigator/metadata/extension-icon-1.png
Labels: extension fix / improvement, extension: markdown-navigator

#19047 Add quikwallet extension
  extensions/quikwallet/.gitignore
  extensions/quikwallet/.prettierignore
  extensions/quikwallet/.prettierrc
  extensions/quikwallet/CHANGELOG.md
  extensions/quikwallet/README.md
  extensions/quikwallet/assets/extension-icon.png
  extensions/quikwallet/eslint.config.js
  extensions/quikwallet/package-lock.json
  extensions/quikwallet/package.json
  extensions/quikwallet/src/components/BalancesView.tsx
  extensions/quikwallet/src/components/SendForm.tsx
  extensions/quikwallet/src/components/WalletSetupForm.tsx
  extensions/quikwallet/src/components/common/ActionPanelItems.tsx
  extensions/quikwallet/src/constants/index.ts
  extensions/quikwallet/src/hooks/index.ts
  extensions/quikwallet/src/hooks/useSolanaBalance.ts
  extensions/quikwallet/src/hooks/useSolanaPrice.ts
  extensions/quikwallet/src/hooks/useSplTokenBalances.ts
  extensions/quikwallet/src/hooks/useTokenPrice.ts
  extensions/quikwallet/src/hooks/useTokenPrices.ts
  extensions/quikwallet/src/quik.tsx
  extensions/quikwallet/src/services/solana.ts
  extensions/quikwallet/src/types/index.ts
  extensions/quikwallet/src/utils/formatters.ts
  extensions/quikwallet/tsconfig.json
Labels: new extension

#18399 MCP: fix spawn ... ENOENT issue
  extensions/mcp/.eslintrc.json
  extensions/mcp/CHANGELOG.md
  extensions/mcp/eslint.config.mjs
  extensions/mcp/package-lock.json
  extensions/mcp/package.json
  extensions/mcp/src/getProcessedClients.ts
  extensions/mcp/src/manage-mcp-servers.tsx
  extensions/mcp/src/tools/get-mcp-clients.ts
  extensions/mcp/src/tools/run-mcp-tool.ts
Labels: extension fix / improvement, extension: mcp

#19086 Add tableau-navigator extension
  extensions/tableau-navigator/.eslintrc.json
  extensions/tableau-navigator/.gitignore
  extensions/tableau-navigator/.prettierrc
  extensions/tableau-navigator/CHANGELOG.md
  extensions/tableau-navigator/README.md
  extensions/tableau-navigator/assets/extension-icon.png
  extensions/tableau-navigator/eslint.config.js
  extensions/tableau-navigator/metadata/tableau-navigator-1.png
  extensions/tableau-navigator/metadata/tableau-navigator-2.png
  extensions/tableau-navigator/package-lock.json
  extensions/tableau-navigator/package.json
  extensions/tableau-navigator/src/tableau-search.tsx
  extensions/tableau-navigator/src/types.ts
  extensions/tableau-navigator/src/utils.ts
  extensions/tableau-navigator/tsconfig.json
Labels: new extension

#19209 Update nostr extension
  extensions/nostr/CHANGELOG.md
  extensions/nostr/README.md
  extensions/nostr/metadata/nostr-1.png
  extensions/nostr/metadata/nostr-2.png
Labels: extension fix / improvement, OP is author, extension: nostr

#18646 Add are-na extension
  extensions/are-na/.gitignore
  extensions/are-na/.prettierrc
  extensions/are-na/CHANGELOG.md
  extensions/are-na/README.md
  extensions/are-na/assets/extension-icon.png
  extensions/are-na/eslint.config.js
  extensions/are-na/metadata/a1.png
  extensions/are-na/metadata/a2.png
  extensions/are-na/metadata/a3.png
  extensions/are-na/metadata/a4.png
  extensions/are-na/metadata/a5.png
  extensions/are-na/metadata/a6.png
  extensions/are-na/metadata/a7.png
  extensions/are-na/metadata/a8.png
  extensions/are-na/package-lock.json
  extensions/are-na/package.json
  extensions/are-na/src/api/arena.ts
  extensions/are-na/src/api/types.ts
  extensions/are-na/src/components/BlockActions.tsx
  extensions/are-na/src/components/channel.tsx
  extensions/are-na/src/components/createBlock.tsx
  extensions/are-na/src/components/image.tsx
  extensions/are-na/src/components/text.tsx
  extensions/are-na/src/create-channel.tsx
  extensions/are-na/src/hooks/useArena.tsx
  extensions/are-na/src/search-blocks.tsx
  extensions/are-na/src/search-channels.tsx
  extensions/are-na/src/search-users.tsx
  extensions/are-na/src/utils/download.ts
  extensions/are-na/src/utils/icons.ts
  extensions/are-na/tsconfig.json
Labels: new extension

#19217 Add Zeabur official MCP server to registry
  extensions/model-context-protocol-registry/CHANGELOG.md
  extensions/model-context-protocol-registry/README.md
  extensions/model-context-protocol-registry/assets/zeabur.svg
  extensions/model-context-protocol-registry/src/registries/builtin/entries.ts
Labels: extension fix / improvement, OP is author, extension: model-context-protocol-registry

#19201 Added the Prisma MCP server
  extensions/model-context-protocol-registry/CHANGELOG.md
  extensions/model-context-protocol-registry/src/registries/builtin/entries.ts
Labels: extension fix / improvement, OP is author, extension: model-context-protocol-registry

#19215 Update granola extension
  extensions/granola/CHANGELOG.md
  extensions/granola/README.md
  extensions/granola/ai.yaml
  extensions/granola/package-lock.json
  extensions/granola/package.json
  extensions/granola/src/browse-folders.tsx
  extensions/granola/src/components/NoteComponents.tsx
  extensions/granola/src/search-notes.tsx
  extensions/granola/src/tools/ai-notes.ts
  extensions/granola/src/utils/fetchData.ts
  extensions/granola/src/utils/iconMapper.ts
  extensions/granola/src/utils/types.ts
Labels: extension fix / improvement, OP is contributor, extension: granola

#19193 Init apify mcp server
  extensions/model-context-protocol-registry/src/registries/builtin/entries.ts
Labels: extension fix / improvement, extension: model-context-protocol-registry

#19274 Update `cPanel` extension - Modernize + Manage API Tokens (create, revoke) + new function wrapping native `fetch`
  extensions/cpanel/.eslintrc.json
  extensions/cpanel/CHANGELOG.md
  extensions/cpanel/README.md
  extensions/cpanel/eslint.config.js
  extensions/cpanel/package-lock.json
  extensions/cpanel/package.json
  extensions/cpanel/src/account.tsx
  extensions/cpanel/src/api-tokens.tsx
  extensions/cpanel/src/domains.tsx
  extensions/cpanel/src/ftp-accounts.tsx
  extensions/cpanel/src/lib/api.ts
  extensions/cpanel/src/lib/hooks.ts
  extensions/cpanel/src/lib/types.ts
  extensions/cpanel/src/lib/utils.ts
  extensions/cpanel/tsconfig.json
Labels: extension fix / improvement, OP is author, extension: cpanel

#19273 Update polymarket extension
  extensions/polymarket/CHANGELOG.md
  extensions/polymarket/README.md
  extensions/polymarket/metadata/polymarket-2.png
  extensions/polymarket/metadata/polymarket-3.png
  extensions/polymarket/package-lock.json
  extensions/polymarket/package.json
  extensions/polymarket/src/common.tsx
  extensions/polymarket/src/constants.ts
  extensions/polymarket/src/graph.tsx
  extensions/polymarket/src/types.ts
  extensions/polymarket/src/utils.ts
Labels: extension fix / improvement, OP is contributor, extension: polymarket

#19271 Update Markdown Codeblock
  extensions/markdown-codeblock/CHANGELOG.md
  extensions/markdown-codeblock/assets/icons/blank.svg
  extensions/markdown-codeblock/src/constants.ts
  extensions/markdown-codeblock/src/markdown-codeblock.tsx
Labels: extension fix / improvement, OP is author, extension: markdown-codeblock

#19247 Update `Unkey` extension - Modernize + Migrate broken endpoints to new ones to prevent crash
  extensions/unkey/.eslintrc.json
  extensions/unkey/CHANGELOG.md
  extensions/unkey/README.md
  extensions/unkey/eslint.config.js
  extensions/unkey/package-lock.json
  extensions/unkey/package.json
  extensions/unkey/src/components/ErrorComponent.tsx
  extensions/unkey/src/dashboard.tsx
  extensions/unkey/src/utils/api.ts
  extensions/unkey/src/utils/types.ts
  extensions/unkey/tsconfig.json
Labels: extension fix / improvement, OP is author, extension: unkey

#19234 Update Ext/window-sizer
  extensions/window-sizer/CHANGELOG.md
  extensions/window-sizer/README.md
  extensions/window-sizer/assets/icons/current-size.svg
  extensions/window-sizer/assets/icons/maximize.svg
  extensions/window-sizer/assets/icons/star.svg
  extensions/window-sizer/assets/icons/unstar.svg
  extensions/window-sizer/assets/screenshot.png
  extensions/window-sizer/metadata/window-sizer-1.png
  extensions/window-sizer/metadata/window-sizer-2.png
  extensions/window-sizer/metadata/window-sizer-3.png
  extensions/window-sizer/metadata/window-sizer-4.png
  extensions/window-sizer/src/components/CustomResolutionsList.tsx
  extensions/window-sizer/src/components/DefaultResolutionsList.tsx
  extensions/window-sizer/src/components/ResolutionList.tsx
  extensions/window-sizer/src/hooks/useMaximizeWindow.ts
  extensions/window-sizer/src/hooks/useStarredResolutions.ts
  extensions/window-sizer/src/hooks/useWindowInfo.tsx
  extensions/window-sizer/src/hooks/useWindowResize.ts
  extensions/window-sizer/src/hooks/useWindowStateManager.ts
  extensions/window-sizer/src/types/index.ts
  extensions/window-sizer/src/utils/resolution.ts
  extensions/window-sizer/swift/Sources/WindowSizerSwiftAPI.swift
Labels: extension fix / improvement, OP is author, extension: window-sizer

#18974 ✨ Add frecency sorting to gitmoji
  extensions/gitmoji/.eslintrc.json
  extensions/gitmoji/.nvmrc
  extensions/gitmoji/CHANGELOG.md
  extensions/gitmoji/eslint.config.js
  extensions/gitmoji/package-lock.json
  extensions/gitmoji/package.json
  extensions/gitmoji/src/gitmoji.tsx
Labels: extension fix / improvement, status: awaiting response from dev, extension: gitmoji

#19205 Add `Creem` extension - List,Create Products + List Payments
  extensions/creem/.gitignore
  extensions/creem/.prettierrc
  extensions/creem/CHANGELOG.md
  extensions/creem/README.md
  extensions/creem/assets/extension_icon.png
  extensions/creem/assets/payments.svg
  extensions/creem/assets/product.svg
  extensions/creem/eslint.config.js
  extensions/creem/metadata/creem-1.png
  extensions/creem/metadata/creem-2.png
  extensions/creem/package-lock.json
  extensions/creem/package.json
  extensions/creem/src/creem.ts
  extensions/creem/src/list-payments.tsx
  extensions/creem/src/list-products.tsx
  extensions/creem/tsconfig.json
Labels: new extension

#19280 Add Safari command to close other tabs
  extensions/safari/CHANGELOG.md
  extensions/safari/package.json
  extensions/safari/src/close-other-tabs.ts
  extensions/safari/src/safari.ts
Labels: extension fix / improvement, OP is contributor, extension: safari, codex

#19283 [Say] Routine maintenance
  extensions/say/CHANGELOG.md
  extensions/say/package-lock.json
  extensions/say/package.json
  extensions/say/src/configureSay.tsx
  extensions/say/src/textToSay.tsx
Labels: extension fix / improvement, OP is author, extension: say

#19282 Supahabits: New command goals
  extensions/supahabits/CHANGELOG.md
  extensions/supahabits/README.md
  extensions/supahabits/package.json
  extensions/supahabits/src/components/goal-detail-view.tsx
  extensions/supahabits/src/components/goal-form.tsx
  extensions/supahabits/src/goals.tsx
  extensions/supahabits/src/models/goal.ts
  extensions/supahabits/src/utils/dates.ts
Labels: extension fix / improvement, OP is author, extension: supahabits

#19171 Add rae-dictionary-raycast extension
  extensions/rae-dictionary-raycast/.gitignore
  extensions/rae-dictionary-raycast/.nvmrc
  extensions/rae-dictionary-raycast/.prettierignore
  extensions/rae-dictionary-raycast/.prettierrc
  extensions/rae-dictionary-raycast/CHANGELOG.md
  extensions/rae-dictionary-raycast/LICENSE
  extensions/rae-dictionary-raycast/README-ES.md
  extensions/rae-dictionary-raycast/README.md
  extensions/rae-dictionary-raycast/assets/extension-icon.png
  extensions/rae-dictionary-raycast/babel.config.json
  extensions/rae-dictionary-raycast/eslint.config.js
  extensions/rae-dictionary-raycast/jest.config.ts
  extensions/rae-dictionary-raycast/metadata/rae-dictionary-raycast-query-word.png
  extensions/rae-dictionary-raycast/package-lock.json
  extensions/rae-dictionary-raycast/package.json
  extensions/rae-dictionary-raycast/src/api/__snapshots__/rae.test.ts.snap
  extensions/rae-dictionary-raycast/src/api/rae.test.ts
  extensions/rae-dictionary-raycast/src/api/rae.ts
  extensions/rae-dictionary-raycast/src/components/WordDetail.tsx
  extensions/rae-dictionary-raycast/src/components/WordEntry.tsx
  extensions/rae-dictionary-raycast/src/query-rae-daily-word.tsx
  extensions/rae-dictionary-raycast/src/query-rae-random-word.tsx
  extensions/rae-dictionary-raycast/src/query-rae-word.tsx
  extensions/rae-dictionary-raycast/tsconfig.jest.json
  extensions/rae-dictionary-raycast/tsconfig.json
Labels: new extension

#19285 Fix link to Smithery
  extensions/model-context-protocol-registry/README.md
Labels: extension fix / improvement, extension: model-context-protocol-registry

#19291 Fix tldraw project URLs
  extensions/tldraw/CHANGELOG.md
  extensions/tldraw/package.json
  extensions/tldraw/src/add-existing-project.tsx
Labels: extension fix / improvement, extension: tldraw

#19163 Dovetail extension: Pagination with query filtering
  extensions/dovetail/CHANGELOG.md
  extensions/dovetail/package-lock.json
  extensions/dovetail/package.json
  extensions/dovetail/src/api/client.ts
  extensions/dovetail/src/api/endpoints.ts
  extensions/dovetail/src/hooks/useSearch.ts
  extensions/dovetail/src/search-contacts.tsx
  extensions/dovetail/src/search-data.tsx
  extensions/dovetail/src/search-insights.tsx
  extensions/dovetail/src/types/dovetail.ts
Labels: extension fix / improvement, extension: dovetail

#18931 Update curl extension
  extensions/curl/.gitignore
  extensions/curl/CHANGELOG.md
  extensions/curl/package-lock.json
  extensions/curl/package.json
  extensions/curl/src/views/Form.tsx
Labels: extension fix / improvement, OP is contributor, extension: curl

#18735 Add untis extension
  extensions/untis/.gitignore
  extensions/untis/.prettierrc
  extensions/untis/CHANGELOG.md
  extensions/untis/README.md
  extensions/untis/assets/extension-icon.png
  extensions/untis/eslint.config.js
  extensions/untis/metadata/untis-1.png
  extensions/untis/package-lock.json
  extensions/untis/package.json
  extensions/untis/src/lib/untis.ts
  extensions/untis/src/lib/util.ts
  extensions/untis/src/timetable.tsx
  extensions/untis/tsconfig.json
Labels: new extension

#19151 Update obsidian-tasks extension
  extensions/obsidian-tasks/CHANGELOG.md
  extensions/obsidian-tasks/package.json
  extensions/obsidian-tasks/src/hooks/useTasks.ts
  extensions/obsidian-tasks/src/types/index.ts
Labels: extension fix / improvement, extension: obsidian-tasks

#19307 Added the Shopify Dev MCP server
  extensions/model-context-protocol-registry/CHANGELOG.md
  extensions/model-context-protocol-registry/README.md
  extensions/model-context-protocol-registry/assets/shopify.svg
  extensions/model-context-protocol-registry/src/registries/builtin/entries.ts
Labels: extension fix / improvement, extension: model-context-protocol-registry

#19310 MCP: Fix lint issues
  extensions/model-context-protocol-registry/src/registries/builtin/entries.ts
  extensions/model-context-protocol-registry/src/registries/smithery/index.tsx
Labels: extension fix / improvement, OP is author, extension: model-context-protocol-registry

#18922 Add hammerspoon extension
  extensions/hammerspoon/.gitignore
  extensions/hammerspoon/.prettierrc
  extensions/hammerspoon/CHANGELOG.md
  extensions/hammerspoon/README.md
  extensions/hammerspoon/assets/icon-dev.png
  extensions/hammerspoon/assets/icon-prod.png
  extensions/hammerspoon/eslint.config.js
  extensions/hammerspoon/metadata/hammerspoon-1.png
  extensions/hammerspoon/package-lock.json
  extensions/hammerspoon/package.json
  extensions/hammerspoon/publish.mjs
  extensions/hammerspoon/src/clear-console.ts
  extensions/hammerspoon/src/open-console.ts
  extensions/hammerspoon/src/open-preferences.ts
  extensions/hammerspoon/src/reload-configuration-file.ts
  extensions/hammerspoon/src/restart.ts
  extensions/hammerspoon/src/show-version.ts
  extensions/hammerspoon/src/utils/installation.ts
  extensions/hammerspoon/tsconfig.json
Labels: new extension

#18810 feat(superwhisper): add search history
  extensions/superwhisper/CHANGELOG.md
  extensions/superwhisper/package-lock.json
  extensions/superwhisper/package.json
  extensions/superwhisper/src/hooks.ts
  extensions/superwhisper/src/search-history.tsx
Labels: extension fix / improvement, extension: superwhisper

#19117 Update prism-launcher extension
  extensions/prism-launcher/CHANGELOG.md
  extensions/prism-launcher/package.json
  extensions/prism-launcher/src/index.tsx
Labels: extension fix / improvement, extension: prism-launcher

#19012 Update brand-fetch extension
  extensions/brand-fetch/CHANGELOG.md
  extensions/brand-fetch/package.json
  extensions/brand-fetch/src/index.tsx
  extensions/brand-fetch/src/source.types.ts
Labels: extension fix / improvement, OP is author, extension: brand-fetch

#19319 [Rebrandly] Update Links + Modernize
  extensions/rebrandly/.eslintrc.json
  extensions/rebrandly/CHANGELOG.md
  extensions/rebrandly/eslint.config.js
  extensions/rebrandly/package-lock.json
  extensions/rebrandly/package.json
  extensions/rebrandly/src/hooks.ts
  extensions/rebrandly/src/rebrandly.tsx
  extensions/rebrandly/tsconfig.json
Labels: extension fix / improvement, OP is contributor, extension: rebrandly

#19318 [Dropover] Fix special characters in filenames and update docs
  extensions/dropover/CHANGELOG.md
  extensions/dropover/README.md
  extensions/dropover/assets/command-icon.png
  extensions/dropover/metadata/dropover-1.png
  extensions/dropover/screenshots/dropover-1.png
  extensions/dropover/src/index.ts
Labels: extension fix / improvement, OP is author, extension: dropover

#19284 Update cloud-cli-login-statuses extension
  extensions/cloud-cli-login-statuses/CHANGELOG.md
  extensions/cloud-cli-login-statuses/src/check-cloud-cli-login-statuses.tsx
Labels: extension fix / improvement, OP is author, extension: cloud-cli-login-statuses

#19191 Add instagram media downloader extension
  extensions/instagram-media-downloader/.gitignore
  extensions/instagram-media-downloader/.prettierrc
  extensions/instagram-media-downloader/CHANGELOG.md
  extensions/instagram-media-downloader/LICENSE
  extensions/instagram-media-downloader/README.md
  extensions/instagram-media-downloader/assets/extension-icon.png
  extensions/instagram-media-downloader/eslint.config.js
  extensions/instagram-media-downloader/metadata/instagram-media-downloader-1.png
  extensions/instagram-media-downloader/package-lock.json
  extensions/instagram-media-downloader/package.json
  extensions/instagram-media-downloader/src/download-instagram-media.tsx
  extensions/instagram-media-downloader/src/download-media.ts
  extensions/instagram-media-downloader/tsconfig.json
Labels: new extension

#19220 Add grammaring extension
  extensions/grammaring/.gitignore
  extensions/grammaring/.prettierrc
  extensions/grammaring/CHANGELOG.md
  extensions/grammaring/README.md
  extensions/grammaring/assets/icon.png
  extensions/grammaring/eslint.config.js
  extensions/grammaring/metadata/grammaring-1.png
  extensions/grammaring/metadata/grammaring-2.png
  extensions/grammaring/metadata/grammaring-3.png
  extensions/grammaring/metadata/grammaring-4.png
  extensions/grammaring/package-lock.json
  extensions/grammaring/package.json
  extensions/grammaring/src/fix-fact-text-input.tsx
  extensions/grammaring/src/fix-fact-text.ts
  extensions/grammaring/src/utils.ts
  extensions/grammaring/tsconfig.json
Labels: new extension

#19222 Update clarify extension
  .github/public_raycast_extensions.txt
  extensions/clarify/.gitignore
  extensions/clarify/CHANGELOG.md
  extensions/clarify/README.md
  extensions/clarify/package-lock.json
  extensions/clarify/src/auth.provider.ts
  extensions/clarify/src/config.provider.ts
  extensions/clarify/src/go-to-list-view.tsx
  extensions/clarify/src/search.tsx
Labels: extension fix / improvement, OP is author, extension: clarify

#18799 Ext/penflow ai
  extensions/penflow-ai/CHANGELOG.md
  extensions/penflow-ai/README.md
  extensions/penflow-ai/README.zh-CN.md
  extensions/penflow-ai/package.json
  extensions/penflow-ai/src/components/ErrorBoundary.tsx
  extensions/penflow-ai/src/features/writing/WritingSuggestions.tsx
  extensions/penflow-ai/src/hooks/useWritingLogic.ts
  extensions/penflow-ai/src/index.tsx
  extensions/penflow-ai/src/services/aiService.ts
  extensions/penflow-ai/src/services/wordCompletion.ts
  extensions/penflow-ai/src/utils/index.ts
  extensions/penflow-ai/src/utils/logger.ts
  extensions/penflow-ai/src/utils/prompts.ts
Labels: extension fix / improvement, OP is author, extension: penflow-ai

#18815 Update spotify-player extension
  extensions/spotify-player/CHANGELOG.md
  extensions/spotify-player/package.json
  extensions/spotify-player/src/api/changeVolume.ts
  extensions/spotify-player/src/api/pause.ts
  extensions/spotify-player/src/api/play.ts
  extensions/spotify-player/src/api/seek.ts
  extensions/spotify-player/src/api/startRadio.ts
  extensions/spotify-player/src/yourLibrary.tsx
Labels: extension fix / improvement, extension: spotify-player

#18611 Add AI Budget Tools, Enhanced Natural Language Queries, and Bug FixesF/raynab ai
  extensions/raynab/CHANGELOG.md
  extensions/raynab/README.md
  extensions/raynab/ai.json
  extensions/raynab/package-lock.json
  extensions/raynab/package.json
  extensions/raynab/src/accounts.tsx
  extensions/raynab/src/activeBudget.tsx
  extensions/raynab/src/components/actions/deleteTransactionAction.tsx
  extensions/raynab/src/components/actions/openInYnabAction.tsx
  extensions/raynab/src/components/transactions/transactionCreateForm.tsx
  extensions/raynab/src/components/transactions/transactionEditForm.tsx
  extensions/raynab/src/components/transactions/transactionItem.tsx
  extensions/raynab/src/components/transactions/transactionView.tsx
  extensions/raynab/src/hooks/useLaunchContext.ts
  extensions/raynab/src/lib/utils/checkForActiveBudget.ts
  extensions/raynab/src/lib/utils/groupBy.ts
  extensions/raynab/src/lib/utils/index.ts
  extensions/raynab/src/scheduleTransaction.tsx
  extensions/raynab/src/tools/add-transaction.ts
  extensions/raynab/src/tools/get-account-details.ts
  extensions/raynab/src/tools/get-accounts.ts
  extensions/raynab/src/tools/get-big-numbers.ts
  extensions/raynab/src/tools/get-budget.ts
  extensions/raynab/src/tools/get-transactions.ts
  extensions/raynab/src/transaction.tsx
  extensions/raynab/src/transactions.tsx
  extensions/raynab/src/unreviewed.tsx
Labels: extension fix / improvement, extension: raynab, AI Extension

#19334 Updated the Prisma MCP server entry
  extensions/model-context-protocol-registry/src/registries/builtin/entries.ts
Labels: extension fix / improvement, extension: model-context-protocol-registry

#19326 Add Keka extension
  extensions/keka/CHANGELOG.md
  extensions/keka/LICENSE
  extensions/keka/README.md
  extensions/keka/assets/keka-icon.png
  extensions/keka/eslint.config.js
  extensions/keka/metadata/keka-1.png
  extensions/keka/package-lock.json
  extensions/keka/package.json
  extensions/keka/src/compress-using-keka.tsx
  extensions/keka/src/extract-using-keka.tsx
  extensions/keka/src/open-to-keka.tsx
  extensions/keka/src/utils/applescript-utils.ts
  extensions/keka/src/utils/common-utils.ts
  extensions/keka/tsconfig.json
Labels: new extension

#18817 added searching by permissions
  extensions/file-manager/CHANGELOG.md
  extensions/file-manager/package.json
  extensions/file-manager/src/components/directory-item.tsx
  extensions/file-manager/src/components/file-item.tsx
Labels: extension fix / improvement, extension: file-manager

#19332 Add notes limit for AI usage
  extensions/apple-notes/CHANGELOG.md
  extensions/apple-notes/package.json
  extensions/apple-notes/src/api/getNotes.ts
  extensions/apple-notes/src/tools/search-notes.ts
Labels: extension fix / improvement, extension: apple-notes
