Repository raycast/extensions, pull requests merged in 2025-04, with the labels that each got.

#18286 Update Package.json - schoology extension
  extensions/schoology/CHANGELOG.md
  extensions/schoology/package-lock.json
  extensions/schoology/package.json
  extensions/schoology/src/showGrades.jsx
Labels: extension fix / improvement, OP is author, extension: schoology

#18241 Update pipedrive extension
  extensions/pipedrive/.gitignore
  extensions/pipedrive/CHANGELOG.md
  extensions/pipedrive/src/index.tsx
Labels: extension fix / improvement, OP is author, extension: pipedrive

#17200 Add lavinprognoser extension
  extensions/lavinprognoser/.eslintrc.json
  extensions/lavinprognoser/.gitignore
  extensions/lavinprognoser/.prettierrc
  extensions/lavinprognoser/CHANGELOG.md
  extensions/lavinprognoser/README.md
  extensions/lavinprognoser/assets/i.png
  extensions/lavinprognoser/metadata/lavinprognoser-1.png
  extensions/lavinprognoser/metadata/lavinprognoser-2.png
  extensions/lavinprognoser/package-lock.json
  extensions/lavinprognoser/package.json
  extensions/lavinprognoser/src/api/get-forecast.ts
  extensions/lavinprognoser/src/api/get-overview.ts
  extensions/lavinprognoser/src/show-avalanche-forecast.tsx
  extensions/lavinprognoser/src/tools/get-forecast-for-area.ts
  extensions/lavinprognoser/src/tools/get-forecast-overview.ts
  extensions/lavinprognoser/src/types.ts
  extensions/lavinprognoser/src/utils.ts
  extensions/lavinprognoser/tsconfig.json
Labels: new extension, AI Extension

#17363 [HackMD]: Enable new AI extension capabilities
  extensions/hackmd/.eslintrc.json
  extensions/hackmd/.gitignore
  extensions/hackmd/CHANGELOG.md
  extensions/hackmd/package-lock.json
  extensions/hackmd/package.json
  extensions/hackmd/src/components/NoteDetail.tsx
  extensions/hackmd/src/components/NoteForm.tsx
  extensions/hackmd/src/components/NotesList.tsx
  extensions/hackmd/src/helpers/noteUtils.ts
  extensions/hackmd/src/tools/create-note.ts
  extensions/hackmd/src/tools/delete-note.ts
  extensions/hackmd/src/tools/get-current-user.ts
  extensions/hackmd/src/tools/get-personal-workspace-notes.ts
  extensions/hackmd/src/tools/get-recent-notes.ts
  extensions/hackmd/src/tools/get-team-workspace-notes.ts
  extensions/hackmd/src/tools/update-note.ts
  extensions/hackmd/src/tools/view-note.ts
  extensions/hackmd/src/view-release-notes.tsx
Labels: extension fix / improvement, OP is author, status: stalled, extension: hackmd, AI Extension

#17346 Add fullscreentext extension
  extensions/fullscreentext/.eslintrc.json
  extensions/fullscreentext/.gitignore
  extensions/fullscreentext/.prettierrc
  extensions/fullscreentext/CHANGELOG.md
  extensions/fullscreentext/README.md
  extensions/fullscreentext/assets/extension_icon.png
  extensions/fullscreentext/media/fullscreen-2.png
  extensions/fullscreentext/metadata/fullscreen-1.png
  extensions/fullscreentext/package-lock.json
  extensions/fullscreentext/package.json
  extensions/fullscreentext/src/fullscreen-clipboard.ts
  extensions/fullscreentext/src/fullscreen-selection.ts
  extensions/fullscreentext/src/fullscreen-text.ts
  extensions/fullscreentext/src/tools/fullscreen-text.ts
  extensions/fullscreentext/swift/fullscreen/.gitignore
  extensions/fullscreentext/swift/fullscreen/Package.swift
  extensions/fullscreentext/swift/fullscreen/Sources/fullscreen.swift
  extensions/fullscreentext/tsconfig.json
Labels: new extension, AI Extension

#18078 Add exivo extension
  extensions/exivo/.eslintrc.json
  extensions/exivo/.prettierrc
  extensions/exivo/CHANGELOG.md
  extensions/exivo/README.md
  extensions/exivo/assets/extension-icon.png
  extensions/exivo/metadata/exivo-1.png
  extensions/exivo/metadata/exivo-2.png
  extensions/exivo/package-lock.json
  extensions/exivo/package.json
  extensions/exivo/src/access-log.tsx
  extensions/exivo/src/components/AccessLogDetails.tsx
  extensions/exivo/src/components/OpenPreferencesView.tsx
  extensions/exivo/src/hooks/useExivoClient.tsx
  extensions/exivo/src/types/AccessLogItem.ts
  extensions/exivo/src/types/ExivoComponent.ts
  extensions/exivo/src/unlock-door.tsx
  extensions/exivo/src/utils.ts
  extensions/exivo/src/utils/accesslogData.ts
  extensions/exivo/tsconfig.json
Labels: new extension

#18114 Add aliyun-flow extension
  extensions/aliyun-flow/.gitignore
  extensions/aliyun-flow/.prettierrc
  extensions/aliyun-flow/CHANGELOG.md
  extensions/aliyun-flow/README.md
  extensions/aliyun-flow/assets/circle-process.gif
  extensions/aliyun-flow/assets/circle-process@dark.gif
  extensions/aliyun-flow/assets/extension-icon.png
  extensions/aliyun-flow/assets/extension-icon@dark.png
  extensions/aliyun-flow/eslint.config.js
  extensions/aliyun-flow/package-lock.json
  extensions/aliyun-flow/package.json
  extensions/aliyun-flow/src/apis/base.ts
  extensions/aliyun-flow/src/apis/index.ts
  extensions/aliyun-flow/src/apis/pipeline.ts
  extensions/aliyun-flow/src/components/index.ts
  extensions/aliyun-flow/src/components/run-detail.tsx
  extensions/aliyun-flow/src/components/run-list-dropdown.tsx
  extensions/aliyun-flow/src/components/runs-list.tsx
  extensions/aliyun-flow/src/constants/index.ts
  extensions/aliyun-flow/src/flow.tsx
  extensions/aliyun-flow/src/types/flow.ts
  extensions/aliyun-flow/src/types/index.ts
  extensions/aliyun-flow/src/utils/date.ts
  extensions/aliyun-flow/src/utils/index.ts
  extensions/aliyun-flow/src/utils/text.ts
  extensions/aliyun-flow/tsconfig.json
Labels: new extension

#18231 Add TinyIMG extension
  extensions/tinyimg/.gitignore
  extensions/tinyimg/.prettierrc
  extensions/tinyimg/CHANGELOG.md
  extensions/tinyimg/README.md
  extensions/tinyimg/assets/extension-icon.png
  extensions/tinyimg/assets/tinyimg_wasm.wasm
  extensions/tinyimg/eslint.config.js
  extensions/tinyimg/metadata/tinyimg-1.png
  extensions/tinyimg/package-lock.json
  extensions/tinyimg/package.json
  extensions/tinyimg/src/tinyimg.ts
  extensions/tinyimg/src/utils/index.ts
  extensions/tinyimg/src/utils/loadWasm.ts
  extensions/tinyimg/src/utils/tinyimg-wasm.js
  extensions/tinyimg/tsconfig.json
Labels: new extension

#18250 Update: Search Router
  extensions/search-router/CHANGELOG.md
  extensions/search-router/scripts/download-kagi-bangs.ts
  extensions/search-router/src/data/search-engines.ts
  extensions/search-router/src/search.tsx
  extensions/search-router/src/utils.ts
Labels: extension fix / improvement, OP is contributor, extension: search-router

#18293 Update CHANGELOG.md
  extensions/lavinprognoser/CHANGELOG.md
Labels: extension fix / improvement, extension: lavinprognoser

#17705 Add Finder File Actions extension
  extensions/finder-file-actions/.eslintignore
  extensions/finder-file-actions/.eslintrc.json
  extensions/finder-file-actions/.gitignore
  extensions/finder-file-actions/.prettierrc
  extensions/finder-file-actions/CHANGELOG.md
  extensions/finder-file-actions/README.md
  extensions/finder-file-actions/assets/copy-to-folder.png
  extensions/finder-file-actions/assets/finder-file-actions.png
  extensions/finder-file-actions/assets/move-to-folder.png
  extensions/finder-file-actions/jest.config.js
  extensions/finder-file-actions/metadata/finder-file-actions-1.png
  extensions/finder-file-actions/metadata/finder-file-actions-2.png
  extensions/finder-file-actions/package-lock.json
  extensions/finder-file-actions/package.json
  extensions/finder-file-actions/src/common/cache-manager.ts
  extensions/finder-file-actions/src/common/fs-async.ts
  extensions/finder-file-actions/src/common/global.d.ts
  extensions/finder-file-actions/src/common/search-spotlight.tsx
  extensions/finder-file-actions/src/common/types.ts
  extensions/finder-file-actions/src/common/utils.tsx
  extensions/finder-file-actions/src/copy-to-folder.tsx
  extensions/finder-file-actions/src/global.d.ts
  extensions/finder-file-actions/src/index.ts
  extensions/finder-file-actions/src/libs/node-spotlight/LICENSE.md
  extensions/finder-file-actions/src/libs/node-spotlight/README.md
  extensions/finder-file-actions/src/libs/node-spotlight/attributes.tsx
  extensions/finder-file-actions/src/libs/node-spotlight/index.tsx
  extensions/finder-file-actions/src/libs/node-spotlight/parse.tsx
  extensions/finder-file-actions/src/move-to-folder.tsx
  extensions/finder-file-actions/src/tests/file-operations.test.ts
  extensions/finder-file-actions/src/tests/fs-operations.test.ts
  extensions/finder-file-actions/src/tests/navigation.test.ts
  extensions/finder-file-actions/src/tests/pinning.test.ts
  extensions/finder-file-actions/src/tests/setup.ts
  extensions/finder-file-actions/src/tests/utils/test-helpers.ts
  extensions/finder-file-actions/tsconfig.json
Labels: new extension

#18191 Update kagi-search extension
  extensions/kagi-search/CHANGELOG.md
  extensions/kagi-search/package-lock.json
  extensions/kagi-search/package.json
  extensions/kagi-search/src/fastgpt-view.tsx
  extensions/kagi-search/src/index.tsx
  extensions/kagi-search/src/utils/handleResults.ts
  extensions/kagi-search/src/utils/kagiApi.ts
  extensions/kagi-search/src/utils/resultUtils.ts
  extensions/kagi-search/src/utils/types.ts
  extensions/kagi-search/src/utils/useSearch.tsx
  extensions/kagi-search/tsconfig.json
Labels: extension fix / improvement, extension: kagi-search

#18311 zed-recent-projects - show git branch label for repositories
  extensions/zed-recent-projects/CHANGELOG.md
  extensions/zed-recent-projects/assets/git-branch.svg
  extensions/zed-recent-projects/metadata/zed-recent-projects-1.png
  extensions/zed-recent-projects/metadata/zed-recent-projects-2.png
  extensions/zed-recent-projects/package.json
  extensions/zed-recent-projects/src/components/EntryItem.tsx
  extensions/zed-recent-projects/src/lib/git.ts
Labels: extension fix / improvement, OP is author, extension: zed-recent-projects

#18313 [RSS Reader] fix feeds not moving (close issue)
  extensions/rss-reader/.eslintrc.json
  extensions/rss-reader/CHANGELOG.md
  extensions/rss-reader/eslint.config.js
  extensions/rss-reader/package-lock.json
  extensions/rss-reader/package.json
  extensions/rss-reader/src/feeds.tsx
  extensions/rss-reader/src/stories.tsx
  extensions/rss-reader/src/subscription-form.tsx
  extensions/rss-reader/tsconfig.json
Labels: extension fix / improvement, OP is contributor, extension: rss-reader

#18315 Update coin-caster extension
  extensions/coin-caster/CHANGELOG.md
  extensions/coin-caster/metadata/coin-caster-1.png
  extensions/coin-caster/package-lock.json
  extensions/coin-caster/package.json
  extensions/coin-caster/src/colors.ts
  extensions/coin-caster/src/get-chart-data-url.ts
  extensions/coin-caster/src/get-chart-data-url.tsx
  extensions/coin-caster/src/token-prices.tsx
  extensions/coin-caster/src/useChart.ts
  extensions/coin-caster/src/useCoins.tsx
  extensions/coin-caster/src/useSymbols.ts
  extensions/coin-caster/src/useTokenPrice.ts
  extensions/coin-caster/src/useWatchlist.ts
  extensions/coin-caster/src/utilities.ts
Labels: extension fix / improvement, OP is author, extension: coin-caster

#18217 Apple Mail: Support email accounts with multiple sender addresses
  extensions/mail/CHANGELOG.md
  extensions/mail/src/components/compose-message.tsx
  extensions/mail/src/components/mailbox-list.tsx
  extensions/mail/src/scripts/accounts.ts
  extensions/mail/src/scripts/messages.ts
  extensions/mail/src/see-important-mail.tsx
  extensions/mail/src/see-recent-mail.tsx
  extensions/mail/src/tools/send-email.ts
  extensions/mail/src/types/common.ts
  extensions/mail/src/utils/cache.ts
Labels: extension fix / improvement, OP is contributor, extension: mail, AI Extension

#17852 Update google-calendar extension
  extensions/google-calendar/CHANGELOG.md
  extensions/google-calendar/eslint.config.js
  extensions/google-calendar/package-lock.json
  extensions/google-calendar/package.json
  extensions/google-calendar/src/components/CalendarSelector.tsx
  extensions/google-calendar/src/components/EventActions.tsx
  extensions/google-calendar/src/create-event.tsx
  extensions/google-calendar/src/hooks/useCalendars.ts
  extensions/google-calendar/src/lib/google.ts
  extensions/google-calendar/src/lib/utils.ts
  extensions/google-calendar/src/list-calendars.tsx
  extensions/google-calendar/src/list-events.tsx
  extensions/google-calendar/src/search-contacts.tsx
  extensions/google-calendar/src/tools/check-availability.ts
  extensions/google-calendar/src/tools/create-event.ts
  extensions/google-calendar/src/tools/delete-event.ts
  extensions/google-calendar/src/tools/edit-event.ts
  extensions/google-calendar/src/tools/get-current-time.ts
  extensions/google-calendar/src/tools/get-current-user.ts
  extensions/google-calendar/src/tools/list-calendars.ts
  extensions/google-calendar/src/tools/search-contacts.ts
  extensions/google-calendar/src/tools/search-events.ts
Labels: extension fix / improvement, OP is author, extension: google-calendar, AI Extension

#17450 Update raydocs extension
  extensions/raydocs/.gitignore
  extensions/raydocs/CHANGELOG.md
  extensions/raydocs/ai.json
  extensions/raydocs/metadata/raydocs-2.png
  extensions/raydocs/metadata/raydocs-3.png
  extensions/raydocs/package-lock.json
  extensions/raydocs/package.json
  extensions/raydocs/src/components/LinkContent.tsx
  extensions/raydocs/src/components/LinkItem.tsx
  extensions/raydocs/src/index.tsx
  extensions/raydocs/src/tools/get-link-content.ts
  extensions/raydocs/src/tools/get-links.ts
  extensions/raydocs/src/types/index.d.ts
  extensions/raydocs/src/utils/constants.ts
  extensions/raydocs/src/utils/content.ts
  extensions/raydocs/src/utils/links.ts
  extensions/raydocs/src/utils/url.ts
  extensions/raydocs/tsconfig.json
Labels: extension fix / improvement, OP is author, status: stalled, extension: raydocs, AI Extension

#17475 Update supernotes extension to enable AI tools
  extensions/supernotes/CHANGELOG.md
  extensions/supernotes/README.md
  extensions/supernotes/package-lock.json
  extensions/supernotes/package.json
  extensions/supernotes/src/tools/append-card.ts
  extensions/supernotes/src/tools/create-card.ts
  extensions/supernotes/src/tools/search-cards.ts
  extensions/supernotes/src/utils/senders.ts
Labels: extension fix / improvement, extension: supernotes, AI Extension

#18020 Update stockholm-public-transport extension
  extensions/stockholm-public-transport/.eslintrc.json
  extensions/stockholm-public-transport/CHANGELOG.md
  extensions/stockholm-public-transport/README.md
  extensions/stockholm-public-transport/metadata/sl-departures-1.png
  extensions/stockholm-public-transport/metadata/stockholm-public-transport-1.png
  extensions/stockholm-public-transport/metadata/stockholm-public-transport-2.png
  extensions/stockholm-public-transport/metadata/stockholm-public-transport-3.png
  extensions/stockholm-public-transport/metadata/stockholm-public-transport-4.png
  extensions/stockholm-public-transport/package-lock.json
  extensions/stockholm-public-transport/package.json
  extensions/stockholm-public-transport/src/components/departure.tsx
  extensions/stockholm-public-transport/src/components/departures.tsx
  extensions/stockholm-public-transport/src/components/station.tsx
  extensions/stockholm-public-transport/src/components/stations.tsx
  extensions/stockholm-public-transport/src/departures.tsx
  extensions/stockholm-public-transport/src/fetchers/departures.ts
  extensions/stockholm-public-transport/src/fetchers/metroSites.ts
  extensions/stockholm-public-transport/src/fetchers/sites.ts
  extensions/stockholm-public-transport/src/lib/constants.ts
  extensions/stockholm-public-transport/src/lib/departures.ts
  extensions/stockholm-public-transport/src/lib/stations.ts
  extensions/stockholm-public-transport/src/lib/utils.ts
  extensions/stockholm-public-transport/src/types.ts
  extensions/stockholm-public-transport/src/types/Departure.d.ts
  extensions/stockholm-public-transport/src/types/Site.d.ts
  extensions/stockholm-public-transport/src/types/TransportMode.ts
  extensions/stockholm-public-transport/src/views/FindSite.tsx
  extensions/stockholm-public-transport/src/views/Site.tsx
  extensions/stockholm-public-transport/tsconfig.json
Labels: extension fix / improvement, renamed extension, extension: stockholm-public-transport

#17894 noteplan 3 | add quicklink action
  extensions/noteplan-3/CHANGELOG.md
  extensions/noteplan-3/package.json
  extensions/noteplan-3/src/lib/components.tsx
  extensions/noteplan-3/src/lib/note-utilities.ts
  extensions/noteplan-3/src/search.tsx
  extensions/noteplan-3/src/today.tsx
Labels: extension fix / improvement, extension: noteplan-3

#18321 Clean up split surrogate pairs
  extensions/reclaim-ai/.eslintrc.json
  extensions/reclaim-ai/CHANGELOG.md
  extensions/reclaim-ai/eslint.config.mjs
  extensions/reclaim-ai/package-lock.json
  extensions/reclaim-ai/package.json
  extensions/reclaim-ai/src/components/SchedulingLinkActionPanel.tsx
  extensions/reclaim-ai/src/hooks/useDebounce.tsx
  extensions/reclaim-ai/src/hooks/useEvent.tsx
  extensions/reclaim-ai/src/join-meeting.tsx
  extensions/reclaim-ai/src/list-tasks.tsx
  extensions/reclaim-ai/src/types/account.ts
  extensions/reclaim-ai/src/types/global.d.ts
  extensions/reclaim-ai/src/utils/arrays.ts
  extensions/reclaim-ai/src/utils/events.ts
Labels: extension fix / improvement, OP is contributor, extension: reclaim-ai

#17885 Update ssh-manager extension
  extensions/ssh-manager/CHANGELOG.md
  extensions/ssh-manager/package.json
  extensions/ssh-manager/src/show.tsx
Labels: extension fix / improvement, extension: ssh-manager

#18098 Add builtbybit extension
  extensions/builtbybit/.gitignore
  extensions/builtbybit/.prettierrc
  extensions/builtbybit/CHANGELOG.md
  extensions/builtbybit/README.md
  extensions/builtbybit/assets/bbb-icon.png
  extensions/builtbybit/eslint.config.mjs
  extensions/builtbybit/metadata/builtbybit-1.png
  extensions/builtbybit/metadata/builtbybit-2.png
  extensions/builtbybit/package-lock.json
  extensions/builtbybit/package.json
  extensions/builtbybit/src/generic-search.tsx
  extensions/builtbybit/src/get-notifications.tsx
  extensions/builtbybit/src/get-resources.tsx
  extensions/builtbybit/src/hooks/useAlerts.tsx
  extensions/builtbybit/src/search-members.tsx
  extensions/builtbybit/src/services/alertsService.tsx
  extensions/builtbybit/src/types/alert.tsx
  extensions/builtbybit/src/types/member.tsx
  extensions/builtbybit/src/utils/constants.ts
  extensions/builtbybit/src/utils/dateUtils.tsx
  extensions/builtbybit/src/utils/throttler.tsx
  extensions/builtbybit/src/utils/userUtils.tsx
  extensions/builtbybit/tsconfig.json
Labels: new extension

#18367 [Update Figma Files] Adds ability to clear cache
  extensions/figma-files/CHANGELOG.md
  extensions/figma-files/package.json
  extensions/figma-files/src/cache.tsx
  extensions/figma-files/src/components/AdvancedActionSection.tsx
  extensions/figma-files/src/components/FileGridItem.tsx
  extensions/figma-files/src/hooks/useVisitedFiles.ts
  extensions/figma-files/src/index.tsx
Labels: extension fix / improvement, OP is author, OP is contributor, extension: figma-files

#18300 python package search fix
  extensions/python/CHANGELOG.md
  extensions/python/package-lock.json
  extensions/python/package.json
  extensions/python/src/components/PackageDetail.tsx
  extensions/python/src/components/PackageListItem.tsx
  extensions/python/src/pypi.ts
  extensions/python/src/search-pypi.tsx
  extensions/python/src/types.ts
Labels: extension fix / improvement, extension: python

#17696 Add time-logs extension
  extensions/time-logs/.eslintrc.json
  extensions/time-logs/.gitignore
  extensions/time-logs/.prettierrc
  extensions/time-logs/CHANGELOG.md
  extensions/time-logs/README.md
  extensions/time-logs/assets/extension-icon.png
  extensions/time-logs/eslint.config.mjs
  extensions/time-logs/metadata/time-logs-1.png
  extensions/time-logs/metadata/time-logs-2.png
  extensions/time-logs/metadata/time-logs-3.png
  extensions/time-logs/metadata/time-logs-4.png
  extensions/time-logs/metadata/time-logs-5.png
  extensions/time-logs/metadata/time-logs-6.png
  extensions/time-logs/package-lock.json
  extensions/time-logs/package.json
  extensions/time-logs/src/exportLogs.tsx
  extensions/time-logs/src/menuBarTimer.tsx
  extensions/time-logs/src/models.ts
  extensions/time-logs/src/startTimer.tsx
  extensions/time-logs/src/stopTimer.tsx
  extensions/time-logs/src/storage.ts
  extensions/time-logs/src/utils.ts
  extensions/time-logs/src/viewLogs.tsx
  extensions/time-logs/src/viewProjects.tsx
  extensions/time-logs/tsconfig.json
Labels: new extension

#18358 Update tailwindcss extension
  extensions/tailwindcss/CHANGELOG.md
  extensions/tailwindcss/package.json
  extensions/tailwindcss/src/documentation/v0-tailwind-css.ts
  extensions/tailwindcss/src/documentation/v1-tailwind-css.ts
  extensions/tailwindcss/src/documentation/v2-tailwind-css.ts
  extensions/tailwindcss/src/documentation/v3-tailwind-css.ts
  extensions/tailwindcss/src/documentation/v4-tailwind-css.ts
  extensions/tailwindcss/src/search-documentation.tsx
Labels: extension fix / improvement, extension: tailwindcss

#17652 Add repository favorites feature to Bitbucket extension
  extensions/bitbucket/CHANGELOG.md
  extensions/bitbucket/package.json
  extensions/bitbucket/src/components/repository/searchRepositories.tsx
  extensions/bitbucket/src/helpers/favorites.ts
Labels: extension fix / improvement, extension: bitbucket

#18354 feat: add `bento.me` extension.
  extensions/bento-me/.gitignore
  extensions/bento-me/.prettierrc
  extensions/bento-me/CHANGELOG.md
  extensions/bento-me/README.md
  extensions/bento-me/assets/bento.png
  extensions/bento-me/eslint.config.js
  extensions/bento-me/metadata/bento-1.png
  extensions/bento-me/metadata/bento-2.png
  extensions/bento-me/package-lock.json
  extensions/bento-me/package.json
  extensions/bento-me/src/search-links.tsx
  extensions/bento-me/src/utils/bento-loader.ts
  extensions/bento-me/src/utils/url-checker.ts
  extensions/bento-me/tsconfig.json
Labels: new extension

#18327 Update omni-news extension
  extensions/omni-news/CHANGELOG.md
  extensions/omni-news/README.md
  extensions/omni-news/eslint.config.mjs
  extensions/omni-news/package-lock.json
  extensions/omni-news/package.json
  extensions/omni-news/src/ArticleUtils.ts
  extensions/omni-news/src/api.ts
  extensions/omni-news/src/articleUtils.ts
  extensions/omni-news/src/index.tsx
  extensions/omni-news/src/models/article.ts
  extensions/omni-news/src/models/cachedData.ts
  extensions/omni-news/src/models/dto/articleDto.ts
  extensions/omni-news/src/models/duration.ts
Labels: extension fix / improvement, OP is author, extension: omni-news

#18332 Update gmail-accounts
  extensions/gmail-accounts/CHANGELOG.md
  extensions/gmail-accounts/src/gmail.ts
Labels: extension fix / improvement, OP is author, extension: gmail-accounts

#18372 Update CHANGELOG.md
  extensions/mail/CHANGELOG.md
Labels: extension fix / improvement, OP is contributor, extension: mail

#18360 [Folder-Cleaner] feat: Clean One & Hooks
  extensions/folder-cleaner/CHANGELOG.md
  extensions/folder-cleaner/README.md
  extensions/folder-cleaner/metadata/folder-cleaner-2.png
  extensions/folder-cleaner/metadata/folder-cleaner-3.png
  extensions/folder-cleaner/metadata/folder-cleaner-5.png
  extensions/folder-cleaner/src/actions/createNewFolder.ts
  extensions/folder-cleaner/src/actions/deleteFolder.ts
  extensions/folder-cleaner/src/actions/editFolder.ts
  extensions/folder-cleaner/src/cleanFolder.tsx
  extensions/folder-cleaner/src/components/list-folders.tsx
  extensions/folder-cleaner/src/hooks/useFetchFolderFiles.ts
  extensions/folder-cleaner/src/hooks/useFetchStoredFolders.ts
  extensions/folder-cleaner/src/utils/files.ts
  extensions/folder-cleaner/src/utils/folders.ts
Labels: extension fix / improvement, OP is author, extension: folder-cleaner

#18228 Add handoff-toggle extension
  extensions/handoff-toggle/.eslintrc.json
  extensions/handoff-toggle/.gitignore
  extensions/handoff-toggle/.prettierrc.json
  extensions/handoff-toggle/CHANGELOG.md
  extensions/handoff-toggle/README.md
  extensions/handoff-toggle/assets/icon.png
  extensions/handoff-toggle/package-lock.json
  extensions/handoff-toggle/package.json
  extensions/handoff-toggle/src/check.tsx
  extensions/handoff-toggle/src/toggle.tsx
  extensions/handoff-toggle/src/utils.ts
  extensions/handoff-toggle/tsconfig.json
Labels: new extension

#18235 Add smart-calendars-ai-create-events-using-ai extension
  extensions/smart-calendars-ai-create-events-using-ai/.gitignore
  extensions/smart-calendars-ai-create-events-using-ai/.prettierrc
  extensions/smart-calendars-ai-create-events-using-ai/CHANGELOG.md
  extensions/smart-calendars-ai-create-events-using-ai/README.md
  extensions/smart-calendars-ai-create-events-using-ai/assets/SM_A.png
  extensions/smart-calendars-ai-create-events-using-ai/assets/extension-icon.png
  extensions/smart-calendars-ai-create-events-using-ai/eslint.config.js
  extensions/smart-calendars-ai-create-events-using-ai/package-lock.json
  extensions/smart-calendars-ai-create-events-using-ai/package.json
  extensions/smart-calendars-ai-create-events-using-ai/src/create-calendar-event-from-text.ts
  extensions/smart-calendars-ai-create-events-using-ai/src/create-calendar-event-from-url.ts
  extensions/smart-calendars-ai-create-events-using-ai/tsconfig.json
Labels: new extension

#18374 Updated icon
  extensions/smart-calendars-ai-create-events-using-ai/package.json
Labels: extension fix / improvement, extension: smart-calendars-ai-create-events-using…

#18267 Update Fabric extension
  extensions/fabric/package.json
Labels: extension fix / improvement, OP is author, extension: fabric

#18292 Fix the `dub` extension
  extensions/dub/CHANGELOG.md
  extensions/dub/package-lock.json
  extensions/dub/package.json
  extensions/dub/src/polyfills/fetch.ts
Labels: extension fix / improvement, OP is contributor, extension: dub

#17474 Update whatsapp extension
  extensions/whatsapp/.gitignore
  extensions/whatsapp/CHANGELOG.md
  extensions/whatsapp/package-lock.json
  extensions/whatsapp/package.json
  extensions/whatsapp/src/add-chat.tsx
  extensions/whatsapp/src/add-existing-group.tsx
  extensions/whatsapp/src/services/openChat.ts
  extensions/whatsapp/src/services/saveChat.ts
  extensions/whatsapp/src/services/saveWhatsappGroup.ts
  extensions/whatsapp/src/tools/add-new-whatsapp-chat.ts
  extensions/whatsapp/src/tools/add-whatsapp-group.ts
  extensions/whatsapp/src/tools/open-chat.ts
Labels: extension fix / improvement, extension: whatsapp, AI Extension

#17813 Update dub extension
  extensions/dub/CHANGELOG.md
  extensions/dub/package-lock.json
  extensions/dub/package.json
  extensions/dub/src/polyfills/fetch.ts
  extensions/dub/src/search-links.tsx
  extensions/dub/src/shorten-link.tsx
  extensions/dub/src/tools/createShortLink.ts
  extensions/dub/src/tools/deleteShortLink.ts
  extensions/dub/src/tools/getAllDomains.ts
  extensions/dub/src/tools/getAllShortLinks.ts
  extensions/dub/src/tools/getAllTags.ts
  extensions/dub/src/tools/getShortLinksCount.ts
Labels: extension fix / improvement, extension: dub, AI Extension

#17768 Add caschys-blog extension
  extensions/caschys-blog/.eslintrc.json
  extensions/caschys-blog/.gitignore
  extensions/caschys-blog/.prettierrc
  extensions/caschys-blog/CHANGELOG.md
  extensions/caschys-blog/README.md
  extensions/caschys-blog/assets/extension-icon.png
  extensions/caschys-blog/metadata/caschys-blog-1.png
  extensions/caschys-blog/metadata/caschys-blog-2.png
  extensions/caschys-blog/metadata/caschys-blog-3.png
  extensions/caschys-blog/package-lock.json
  extensions/caschys-blog/package.json
  extensions/caschys-blog/raycast-extensions/.gitignore
  extensions/caschys-blog/raycast-extensions/README.md
  extensions/caschys-blog/raycast-extensions/getting-started/.eslintrc.json
  extensions/caschys-blog/raycast-extensions/getting-started/.prettierrc
  extensions/caschys-blog/raycast-extensions/getting-started/assets/icon.png
  extensions/caschys-blog/raycast-extensions/getting-started/package.json
  extensions/caschys-blog/raycast-extensions/getting-started/src/index.tsx
  extensions/caschys-blog/raycast-extensions/getting-started/tsconfig.json
  extensions/caschys-blog/src/components/ArticleDetail.tsx
  extensions/caschys-blog/src/components/ArticleListItem.tsx
  extensions/caschys-blog/src/index.tsx
  extensions/caschys-blog/src/latest-articles.tsx
  extensions/caschys-blog/src/open-website.tsx
  extensions/caschys-blog/src/submit-tip.tsx
  extensions/caschys-blog/src/tools/get-latest-articles.ts
  extensions/caschys-blog/src/tools/search-articles.ts
  extensions/caschys-blog/src/tools/submit-tip.ts
  extensions/caschys-blog/src/tools/welcome-message.ts
  extensions/caschys-blog/src/utils.ts
  extensions/caschys-blog/tsconfig.json
Labels: new extension, AI Extension

#18278 feat(KeePassXC): add favicon support and better preference descriptions.
  extensions/keepassxc/.eslintrc.json
  extensions/keepassxc/CHANGELOG.md
  extensions/keepassxc/eslint.config.js
  extensions/keepassxc/metadata/keepassxc-6.png
  extensions/keepassxc/package-lock.json
  extensions/keepassxc/package.json
  extensions/keepassxc/src/components/search-database.tsx
  extensions/keepassxc/src/search.tsx
  extensions/keepassxc/src/utils/keepass-loader.ts
  extensions/keepassxc/src/utils/totp.ts
  extensions/keepassxc/src/utils/url-checker.ts
  extensions/keepassxc/tsconfig.json
Labels: extension fix / improvement, OP is author, extension: keepassxc

#18349 Update mail extension
  extensions/mail/.gitignore
  extensions/mail/CHANGELOG.md
  extensions/mail/package.json
  extensions/mail/src/utils/mailbox.ts
Labels: extension fix / improvement, extension: mail

#18407 Fix the `mastodon` extension
  extensions/mastodon/CHANGELOG.md
  extensions/mastodon/src/hooks/useMe.ts
Labels: extension fix / improvement, OP is author, extension: mastodon

#18352 Update producthunt extension
  extensions/producthunt/.gitignore
  extensions/producthunt/CHANGELOG.md
  extensions/producthunt/README.md
  extensions/producthunt/eslint.config.mjs
  extensions/producthunt/metadata/producthunt-1.png
  extensions/producthunt/metadata/producthunt-2.png
  extensions/producthunt/metadata/producthunt-3.png
  extensions/producthunt/package-lock.json
  extensions/producthunt/package.json
  extensions/producthunt/src/api/imgix.ts
  extensions/producthunt/src/api/scraper.ts
  extensions/producthunt/src/components/FrontpageContent.tsx
  extensions/producthunt/src/components/FrontpageWrapper.tsx
  extensions/producthunt/src/components/ImageActions.d.ts
  extensions/producthunt/src/components/ImageActions.tsx
  extensions/producthunt/src/components/ImageDetailView.tsx
  extensions/producthunt/src/components/ProductActions.tsx
  extensions/producthunt/src/components/ProductDetailView.tsx
  extensions/producthunt/src/components/ProductGalleryView.tsx
  extensions/producthunt/src/components/ProductListItem.tsx
  extensions/producthunt/src/components/TopicsAction.tsx
  extensions/producthunt/src/constants.ts
  extensions/producthunt/src/frontpage.tsx
  extensions/producthunt/src/tools/get-latest-products.ts
  extensions/producthunt/src/types/index.ts
  extensions/producthunt/src/util/imageUtils.ts
  extensions/producthunt/src/util/textUtils.ts
  extensions/producthunt/src/util/topicUtils.ts
  extensions/producthunt/tsconfig.json
Labels: extension fix / improvement, OP is contributor, extension: producthunt

#18237 Add mistral extension
  extensions/mistral/.eslintrc.json
  extensions/mistral/.gitignore
  extensions/mistral/.prettierrc
  extensions/mistral/CHANGELOG.md
  extensions/mistral/LICENSE
  extensions/mistral/README.md
  extensions/mistral/assets/mistral-logo.png
  extensions/mistral/assets/mistral-logo.svg
  extensions/mistral/media/1.png
  extensions/mistral/media/2.png
  extensions/mistral/media/3.png
  extensions/mistral/package-lock.json
  extensions/mistral/package.json
  extensions/mistral/src/ask.tsx
  extensions/mistral/src/components/conversation.tsx
  extensions/mistral/src/components/models-dropdown.tsx
  extensions/mistral/src/conversations.tsx
  extensions/mistral/src/hooks/use-conversations.ts
  extensions/mistral/src/hooks/use-current-model.ts
  extensions/mistral/src/hooks/use-system-prompt.ts
  extensions/mistral/src/system-prompt.tsx
  extensions/mistral/src/utils/mistral-client.ts
  extensions/mistral/tsconfig.json
Labels: new extension

#18065 Add surge-outbound-switcher extension
  extensions/surge-outbound-switcher/.gitignore
  extensions/surge-outbound-switcher/.prettierrc
  extensions/surge-outbound-switcher/CHANGELOG.md
  extensions/surge-outbound-switcher/README.md
  extensions/surge-outbound-switcher/assets/extension-icon-d.png
  extensions/surge-outbound-switcher/assets/extension-icon-g.png
  extensions/surge-outbound-switcher/assets/extension-icon-r.png
  extensions/surge-outbound-switcher/assets/extension-icon.png
  extensions/surge-outbound-switcher/assets/screenshot1.png
  extensions/surge-outbound-switcher/assets/screenshot2.png
  extensions/surge-outbound-switcher/eslint.config.js
  extensions/surge-outbound-switcher/package-lock.json
  extensions/surge-outbound-switcher/package.json
  extensions/surge-outbound-switcher/src/set-outbound-mode.tsx
  extensions/surge-outbound-switcher/src/set-to-direct.ts
  extensions/surge-outbound-switcher/src/set-to-global.ts
  extensions/surge-outbound-switcher/src/set-to-rule-based.ts
  extensions/surge-outbound-switcher/src/utils.ts
  extensions/surge-outbound-switcher/tsconfig.json
Labels: new extension

#18394 Update obsidian extension
  extensions/obsidian/.gitignore
  extensions/obsidian/CHANGELOG.md
  extensions/obsidian/README.md
  extensions/obsidian/package-lock.json
  extensions/obsidian/package.json
  extensions/obsidian/src/api/cache/cache.service.ts
  extensions/obsidian/src/api/logger/logger.service.ts
  extensions/obsidian/src/api/templating/templating.service.ts
  extensions/obsidian/src/api/vault/notes/bookmarks/bookmarks.service.ts
  extensions/obsidian/src/api/vault/notes/bookmarks/bookmarks.types.ts
  extensions/obsidian/src/api/vault/notes/notes.service.ts
  extensions/obsidian/src/api/vault/notes/notes.types.ts
  extensions/obsidian/src/api/vault/plugins/plugins.service.ts
  extensions/obsidian/src/api/vault/vault.service.ts
  extensions/obsidian/src/api/vault/vault.types.ts
  extensions/obsidian/src/appendTaskCommand.tsx
  extensions/obsidian/src/components/AppendNoteForm.tsx
  extensions/obsidian/src/components/CreateNoteForm.tsx
  extensions/obsidian/src/components/EditNote.tsx
  extensions/obsidian/src/components/MediaGrid.tsx
  extensions/obsidian/src/components/NoteList/NoteListDropdown.tsx
  extensions/obsidian/src/components/NoteList/NoteListItem.tsx
  extensions/obsidian/src/components/NoteList/NoteListObsidian.tsx
  extensions/obsidian/src/components/NoteQuickLook.tsx
  extensions/obsidian/src/components/RandomNote.tsx
  extensions/obsidian/src/components/Toasts.tsx
  extensions/obsidian/src/components/VaultSelection.tsx
  extensions/obsidian/src/createNoteCommand.tsx
  extensions/obsidian/src/dailyNoteAppendCommand.tsx
  extensions/obsidian/src/dailyNoteCommand.tsx
  extensions/obsidian/src/obsidianMenuBar.tsx
  extensions/obsidian/src/openVaultCommand.tsx
  extensions/obsidian/src/randomNoteCommand.tsx
  extensions/obsidian/src/searchMedia.tsx
  extensions/obsidian/src/searchNoteCommand.tsx
  extensions/obsidian/src/starredNotesCommand.tsx
  extensions/obsidian/src/utils/actions.tsx
  extensions/obsidian/src/utils/constants.tsx
  extensions/obsidian/src/utils/data/creator.tsx
  extensions/obsidian/src/utils/data/loader.tsx
  extensions/obsidian/src/utils/hooks.tsx
  extensions/obsidian/src/utils/interfaces.tsx
  extensions/obsidian/src/utils/preferences.tsx
  extensions/obsidian/src/utils/reducers.tsx
  extensions/obsidian/src/utils/search.tsx
  extensions/obsidian/src/utils/utils.tsx
  extensions/obsidian/src/utils/yaml.tsx
Labels: extension fix / improvement, OP is contributor, extension: obsidian

#18275 Update tidal-controller extension
  extensions/tidal-controller/.gitignore
  extensions/tidal-controller/CHANGELOG.md
  extensions/tidal-controller/package.json
  extensions/tidal-controller/src/volume-down.ts
  extensions/tidal-controller/src/volume-up.ts
Labels: extension fix / improvement, extension: tidal-controller

#18430 [word-count] feat: added logic for properly counting CJK characters as words
  extensions/word-count/CHANGELOG.md
  extensions/word-count/jest.config.js
  extensions/word-count/package-lock.json
  extensions/word-count/package.json
  extensions/word-count/src/lib/count/count.test.ts
  extensions/word-count/src/lib/count/count.ts
Labels: extension fix / improvement, OP is author, extension: word-count

#18441 [Contentful] fix: video assets not showing thumbnail
  extensions/contentful/.eslintrc.json
  extensions/contentful/CHANGELOG.md
  extensions/contentful/README.md
  extensions/contentful/assets/video.svg
  extensions/contentful/eslint.config.js
  extensions/contentful/media/contentful-icon.png
  extensions/contentful/package-lock.json
  extensions/contentful/package.json
  extensions/contentful/src/search-assets.tsx
  extensions/contentful/tsconfig.json
Labels: extension fix / improvement, OP is contributor, extension: contentful

#18426 Update raycast-svgo extension
  extensions/svgo/CHANGELOG.md
  extensions/svgo/package-lock.json
  extensions/svgo/package.json
  extensions/svgo/src/index.tsx
  extensions/svgo/src/optimize-files.ts
  extensions/svgo/src/optimize-string.ts
  extensions/svgo/src/utils-2.ts
  extensions/svgo/src/utils.ts
Labels: extension fix / improvement, extension: svgo

#18421 Update `My Idlers` extension - Optimistically delete Server
  extensions/my-idlers/.eslintrc.json
  extensions/my-idlers/CHANGELOG.md
  extensions/my-idlers/eslint.config.js
  extensions/my-idlers/package-lock.json
  extensions/my-idlers/package.json
  extensions/my-idlers/src/components/server-item.tsx
  extensions/my-idlers/src/utils.ts
  extensions/my-idlers/tsconfig.json
Labels: extension fix / improvement, OP is author, extension: my-idlers

#18389 Update quick-notes extension
  extensions/quick-notes/CHANGELOG.md
  extensions/quick-notes/README.md
  extensions/quick-notes/package-lock.json
  extensions/quick-notes/package.json
  extensions/quick-notes/src/components/actions.tsx
  extensions/quick-notes/src/components/createEditNoteForm.tsx
  extensions/quick-notes/src/components/createTag.tsx
  extensions/quick-notes/src/components/notesList.tsx
  extensions/quick-notes/src/create.tsx
  extensions/quick-notes/src/search.tsx
  extensions/quick-notes/src/tag.tsx
Labels: extension fix / improvement, OP is author, extension: quick-notes

#18318 Add laravel-herd extension
  .github/public_raycast_extensions.txt
  extensions/laravel-herd/.eslintrc.json
  extensions/laravel-herd/.gitignore
  extensions/laravel-herd/.prettierrc
  extensions/laravel-herd/CHANGELOG.md
  extensions/laravel-herd/README.md
  extensions/laravel-herd/assets/extension-icon.png
  extensions/laravel-herd/metadata/laravel-herd-1.png
  extensions/laravel-herd/metadata/laravel-herd-2.png
  extensions/laravel-herd/metadata/laravel-herd-3.png
  extensions/laravel-herd/metadata/laravel-herd-4.png
  extensions/laravel-herd/package-lock.json
  extensions/laravel-herd/package.json
  extensions/laravel-herd/src/check-for-updates.ts
  extensions/laravel-herd/src/clear-dumps.ts
  extensions/laravel-herd/src/components/Services/ServiceListSection.tsx
  extensions/laravel-herd/src/hooks/usePhpState.ts
  extensions/laravel-herd/src/hooks/useServiceState.ts
  extensions/laravel-herd/src/hooks/useSitesState.ts
  extensions/laravel-herd/src/lib/types/externalApp.ts
  extensions/laravel-herd/src/lib/types/nodeVersion.ts
  extensions/laravel-herd/src/lib/types/phpVersion.ts
  extensions/laravel-herd/src/lib/types/service.ts
  extensions/laravel-herd/src/lib/types/site.ts
  extensions/laravel-herd/src/open-config.ts
  extensions/laravel-herd/src/open-docs.ts
  extensions/laravel-herd/src/open-dumps.ts
  extensions/laravel-herd/src/open-mails.ts
  extensions/laravel-herd/src/open-recent-site-database.ts
  extensions/laravel-herd/src/open-recent-site-tinker.ts
  extensions/laravel-herd/src/open-recent-site.ts
  extensions/laravel-herd/src/open-settings.ts
  extensions/laravel-herd/src/php-version.tsx
  extensions/laravel-herd/src/pin-dumps.ts
  extensions/laravel-herd/src/services.tsx
  extensions/laravel-herd/src/sites.tsx
  extensions/laravel-herd/src/toggle-dumps.ts
  extensions/laravel-herd/src/utils/Herd.ts
  extensions/laravel-herd/src/utils/Herd/Dumps.ts
  extensions/laravel-herd/src/utils/Herd/ExternalApps.ts
  extensions/laravel-herd/src/utils/Herd/General.ts
  extensions/laravel-herd/src/utils/Herd/Mails.ts
  extensions/laravel-herd/src/utils/Herd/Node.ts
  extensions/laravel-herd/src/utils/Herd/PHP.ts
  extensions/laravel-herd/src/utils/Herd/Services.ts
  extensions/laravel-herd/src/utils/Herd/Sites.ts
  extensions/laravel-herd/src/utils/convertBooleanValue.ts
  extensions/laravel-herd/src/utils/rescue.ts
  extensions/laravel-herd/tsconfig.json
Labels: new extension, Dont close

#17383 Add image-flow extension
  extensions/image-flow/.eslintrc.json
  extensions/image-flow/.gitignore
  extensions/image-flow/.prettierrc
  extensions/image-flow/CHANGELOG.md
  extensions/image-flow/README.md
  extensions/image-flow/assets/extension_icon.png
  extensions/image-flow/package-lock.json
  extensions/image-flow/package.json
  extensions/image-flow/src/actions/clipboard.ts
  extensions/image-flow/src/actions/compress.ts
  extensions/image-flow/src/actions/convert.ts
  extensions/image-flow/src/actions/index.ts
  extensions/image-flow/src/actions/overwrite.ts
  extensions/image-flow/src/actions/rename.ts
  extensions/image-flow/src/actions/resize.ts
  extensions/image-flow/src/actions/tomarkdown.ts
  extensions/image-flow/src/actions/upload.ts
  extensions/image-flow/src/index.tsx
  extensions/image-flow/src/process-all.tsx
  extensions/image-flow/src/process-file.tsx
  extensions/image-flow/src/process-image.tsx
  extensions/image-flow/src/process.tsx
  extensions/image-flow/src/services/s3.ts
  extensions/image-flow/src/services/tinypng.ts
  extensions/image-flow/src/supports/error.ts
  extensions/image-flow/src/supports/file.ts
  extensions/image-flow/src/supports/image.ts
  extensions/image-flow/src/supports/logger.ts
  extensions/image-flow/src/supports/validate.ts
  extensions/image-flow/src/supports/workflow.ts
  extensions/image-flow/src/types.ts
  extensions/image-flow/src/workflow.ts
  extensions/image-flow/tsconfig.json
  extensions/image-flow/workflow.yaml
Labels: new extension

#17787 Add pollenflug extension
  extensions/pollen-count/.eslintrc.json
  extensions/pollen-count/.gitignore
  extensions/pollen-count/.prettierrc
  extensions/pollen-count/CHANGELOG.md
  extensions/pollen-count/README.md
  extensions/pollen-count/assets/extension_icon.png
  extensions/pollen-count/metadata/pollenflug-1.png
  extensions/pollen-count/metadata/pollenflug-2.png
  extensions/pollen-count/metadata/pollenflug-3.png
  extensions/pollen-count/package-lock.json
  extensions/pollen-count/package.json
  extensions/pollen-count/src/locations.ts
  extensions/pollen-count/src/pin.tsx
  extensions/pollen-count/src/pollen-names.ts
  extensions/pollen-count/src/show-pollen-count.tsx
  extensions/pollen-count/src/types.ts
  extensions/pollen-count/tsconfig.json
Labels: new extension

#18268 Add valkey-commands-search extension
  extensions/valkey-commands-search/.eslintrc.json
  extensions/valkey-commands-search/.gitignore
  extensions/valkey-commands-search/.prettierrc
  extensions/valkey-commands-search/CHANGELOG.md
  extensions/valkey-commands-search/README.md
  extensions/valkey-commands-search/assets/valkey-icon.png
  extensions/valkey-commands-search/metadata/valkey-commands-search-1.png
  extensions/valkey-commands-search/metadata/valkey-commands-search-2.png
  extensions/valkey-commands-search/package-lock.json
  extensions/valkey-commands-search/package.json
  extensions/valkey-commands-search/src/search-valkey-commands.tsx
  extensions/valkey-commands-search/tsconfig.json
Labels: new extension

#18443 Update dict-cc extension
  extensions/dict-cc/.gitignore
  extensions/dict-cc/CHANGELOG.md
  extensions/dict-cc/eslint.config.mjs
  extensions/dict-cc/package-lock.json
  extensions/dict-cc/package.json
  extensions/dict-cc/src/components/TranslationsList.tsx
  extensions/dict-cc/src/translate-from-selection.tsx
  extensions/dict-cc/src/utils.ts
  extensions/dict-cc/tsconfig.json
Labels: extension fix / improvement, extension: dict-cc

#18461 Improve URL retrieval with clipboard fallback
  extensions/url-unshortener/CHANGELOG.md
  extensions/url-unshortener/src/utils.tsx
Labels: extension fix / improvement, OP is contributor, extension: url-unshortener

#18464 [Bitwarden] Add authenticator primary action preference
  extensions/bitwarden/CHANGELOG.md
  extensions/bitwarden/package.json
  extensions/bitwarden/src/authenticator.tsx
  extensions/bitwarden/src/components/searchVault/ItemActionPanel.tsx
Labels: extension fix / improvement, OP is author, extension: bitwarden

#18281 Update Tailscale extension
  extensions/tailscale/CHANGELOG.md
  extensions/tailscale/src/exit.tsx
Labels: extension fix / improvement, extension: tailscale

#18282 Add image-to-ascii extension
  extensions/image-to-ascii/.eslintrc.json
  extensions/image-to-ascii/.gitignore
  extensions/image-to-ascii/.prettierrc
  extensions/image-to-ascii/CHANGELOG.md
  extensions/image-to-ascii/LICENSE
  extensions/image-to-ascii/README.md
  extensions/image-to-ascii/assets/extension-icon.png
  extensions/image-to-ascii/metadata/image-to-ascii-1.png
  extensions/image-to-ascii/metadata/image-to-ascii-2.png
  extensions/image-to-ascii/package-lock.json
  extensions/image-to-ascii/package.json
  extensions/image-to-ascii/src/convert-image-to-ascii.tsx
  extensions/image-to-ascii/tsconfig.json
Labels: new extension

#18291 Update pcloud extension
  extensions/pcloud/CHANGELOG.md
  extensions/pcloud/package-lock.json
  extensions/pcloud/package.json
  extensions/pcloud/src/Main.tsx
  extensions/pcloud/src/utils/oauth.ts
Labels: extension fix / improvement, OP is author, extension: pcloud

#18297 Update vercast extension
  extensions/vercast/CHANGELOG.md
  extensions/vercast/package.json
  extensions/vercast/src/check-domain-availability.tsx
  extensions/vercast/src/tools/check-domain-availability.ts
  extensions/vercast/src/vercel.ts
Labels: extension fix / improvement, extension: vercast

#18442 Update producthunt extension
  extensions/producthunt/CHANGELOG.md
  extensions/producthunt/metadata/producthunt-1.png
  extensions/producthunt/src/api/scraper.ts
  extensions/producthunt/src/components/ProductListItem.tsx
  extensions/producthunt/src/tools/test-scraper.ts
  extensions/producthunt/src/tools/test-selectors.ts
Labels: extension fix / improvement, OP is contributor, extension: producthunt

#18346 Add jsrepo extension
  extensions/jsrepo/.gitignore
  extensions/jsrepo/.prettierrc
  extensions/jsrepo/CHANGELOG.md
  extensions/jsrepo/README.md
  extensions/jsrepo/assets/jsrepo.png
  extensions/jsrepo/assets/langs/css.svg
  extensions/jsrepo/assets/langs/html.svg
  extensions/jsrepo/assets/langs/js.svg
  extensions/jsrepo/assets/langs/json.svg
  extensions/jsrepo/assets/langs/jsonc.svg
  extensions/jsrepo/assets/langs/jsx.svg
  extensions/jsrepo/assets/langs/sass.svg
  extensions/jsrepo/assets/langs/svelte.svg
  extensions/jsrepo/assets/langs/svg.svg
  extensions/jsrepo/assets/langs/ts.svg
  extensions/jsrepo/assets/langs/tsx.svg
  extensions/jsrepo/assets/langs/vue.svg
  extensions/jsrepo/assets/og.png
  extensions/jsrepo/assets/providers/azure.svg
  extensions/jsrepo/assets/providers/bitbucket.svg
  extensions/jsrepo/assets/providers/github.svg
  extensions/jsrepo/assets/providers/gitlab.svg
  extensions/jsrepo/assets/providers/http.svg
  extensions/jsrepo/eslint.config.js
  extensions/jsrepo/jsrepo.json
  extensions/jsrepo/metadata/jsrepo-1.png
  extensions/jsrepo/metadata/jsrepo-2.png
  extensions/jsrepo/metadata/jsrepo-3.png
  extensions/jsrepo/package-lock.json
  extensions/jsrepo/package.json
  extensions/jsrepo/src/components/blocks-list.tsx
  extensions/jsrepo/src/constants.ts
  extensions/jsrepo/src/preferences.ts
  extensions/jsrepo/src/search-registries.tsx
  extensions/jsrepo/src/utils/array.ts
  extensions/jsrepo/src/utils/jsrepo.ts
  extensions/jsrepo/src/utils/lines.ts
  extensions/jsrepo/src/utils/markdown.ts
  extensions/jsrepo/src/utils/pad.ts
  extensions/jsrepo/src/utils/recents.tsx
  extensions/jsrepo/src/utils/url.ts
  extensions/jsrepo/tsconfig.json
Labels: new extension

#18384 Update `Unsplash` extension - add Pagination, Caching + Modernize (close Issue)
  extensions/unsplash/.eslintrc.json
  extensions/unsplash/.gitignore
  extensions/unsplash/CHANGELOG.md
  extensions/unsplash/README.md
  extensions/unsplash/assets/empty-states-photos.png
  extensions/unsplash/eslint.config.js
  extensions/unsplash/package-lock.json
  extensions/unsplash/package.json
  extensions/unsplash/src/collections.tsx
  extensions/unsplash/src/components/Actions.tsx
  extensions/unsplash/src/components/ActionsCollection.tsx
  extensions/unsplash/src/functions/apiRequest.ts
  extensions/unsplash/src/functions/copyFileToClipboard.ts
  extensions/unsplash/src/functions/saveImage.ts
  extensions/unsplash/src/functions/setWallpaper.ts
  extensions/unsplash/src/functions/utils.ts
  extensions/unsplash/src/hooks/useLikes.ts
  extensions/unsplash/src/hooks/useRandom.ts
  extensions/unsplash/src/hooks/useSearch.ts
  extensions/unsplash/src/images.tsx
  extensions/unsplash/src/likes.tsx
  extensions/unsplash/src/oauth.ts
  extensions/unsplash/src/random.tsx
  extensions/unsplash/src/types/index.d.ts
  extensions/unsplash/src/views/Details.tsx
  extensions/unsplash/src/views/DetailsCollections.tsx
  extensions/unsplash/tsconfig.json
Labels: extension fix / improvement, extension: unsplash

#18471 [Polar] Fix non-recoverable state when OAuth access tokens expires
  extensions/polar/CHANGELOG.md
  extensions/polar/package-lock.json
  extensions/polar/package.json
  extensions/polar/src/oauth.ts
Labels: extension fix / improvement, OP is author, extension: polar

#18404 Add `Pastery` extension - Search Pastes, Create Paste, Delete Paste
  extensions/pastery/.gitignore
  extensions/pastery/.prettierrc
  extensions/pastery/CHANGELOG.md
  extensions/pastery/README.md
  extensions/pastery/assets/pastery.png
  extensions/pastery/eslint.config.js
  extensions/pastery/metadata/pastery-1.png
  extensions/pastery/metadata/pastery-2.png
  extensions/pastery/package-lock.json
  extensions/pastery/package.json
  extensions/pastery/src/constants.ts
  extensions/pastery/src/search-pastes.tsx
  extensions/pastery/src/types.ts
  extensions/pastery/tsconfig.json
Labels: new extension

#18475 [Polar] Update Polar SDK Version
  extensions/polar/CHANGELOG.md
  extensions/polar/package-lock.json
  extensions/polar/package.json
  extensions/polar/src/customers.tsx
  extensions/polar/src/hooks/benefits.ts
  extensions/polar/src/hooks/customers.ts
  extensions/polar/src/hooks/orders.ts
  extensions/polar/src/hooks/organizations.ts
  extensions/polar/src/hooks/products.ts
  extensions/polar/src/hooks/subscriptions.ts
  extensions/polar/src/orders.tsx
  extensions/polar/src/subscriptions.tsx
Labels: extension fix / improvement, OP is author, extension: polar

#18307 feat(search-composer-packagist): display abandon package
  extensions/search-composer-packagist/CHANGELOG.md
  extensions/search-composer-packagist/src/composer.tsx
Labels: extension fix / improvement, extension: search-composer-packagist

#17791 Add awork extension
  .github/public_raycast_extensions.txt
  extensions/awork/.eslintrc.json
  extensions/awork/.gitignore
  extensions/awork/.nvmrc
  extensions/awork/.prettierrc.json
  extensions/awork/CHANGELOG.md
  extensions/awork/README.md
  extensions/awork/assets/icon.png
  extensions/awork/jest.config.js
  extensions/awork/metadata/awork-1.png
  extensions/awork/metadata/awork-2.png
  extensions/awork/metadata/awork-3.png
  extensions/awork/package-lock.json
  extensions/awork/package.json
  extensions/awork/src/composables/FetchData.ts
  extensions/awork/src/composables/ValidateDuration.ts
  extensions/awork/src/composables/WebClient.ts
  extensions/awork/src/logTime.tsx
  extensions/awork/src/projects.tsx
  extensions/awork/src/tasks.tsx
  extensions/awork/tests/bookTime.test.ts
  extensions/awork/tsconfig.json
Labels: new extension

#18195 Add Find Features and AI Extension Support
  extensions/drafts/CHANGELOG.md
  extensions/drafts/package-lock.json
  extensions/drafts/package.json
  extensions/drafts/src/action-runner-list.tsx
  extensions/drafts/src/capture.tsx
  extensions/drafts/src/create-draft-and-open.tsx
  extensions/drafts/src/create-draft-background.tsx
  extensions/drafts/src/create-draft-from-clipboard-and-open.tsx
  extensions/drafts/src/create-draft-from-clipboard-background.tsx
  extensions/drafts/src/create-draft-from-selection-and-open.tsx
  extensions/drafts/src/create-draft-from-selection-background.tsx
  extensions/drafts/src/drafts-list-options.tsx
  extensions/drafts/src/find-actions.tsx
  extensions/drafts/src/find-drafts.tsx
  extensions/drafts/src/find-latest-actions.tsx
  extensions/drafts/src/find-workspace.tsx
  extensions/drafts/src/open-drafts-dictate.tsx
  extensions/drafts/src/tools/add-to-draft.ts
  extensions/drafts/src/tools/create-draft.ts
  extensions/drafts/src/tools/find-action.ts
  extensions/drafts/src/tools/find-drafts.ts
  extensions/drafts/src/tools/find-workspace.ts
  extensions/drafts/src/tools/get-last-modified-draft.ts
  extensions/drafts/src/tools/open-draft.ts
  extensions/drafts/src/tools/open-workspace.ts
  extensions/drafts/src/tools/run-action.ts
  extensions/drafts/src/utils/ActionRunnerUtils.tsx
  extensions/drafts/src/utils/DateUtils.ts
  extensions/drafts/src/utils/Defines.tsx
  extensions/drafts/src/utils/NotificationUtils.tsx
  extensions/drafts/src/utils/databaseAccessConfirmation.tsx
  extensions/drafts/src/utils/get-all-actions.ts
  extensions/drafts/src/utils/get-drafts.ts
  extensions/drafts/src/utils/get-favorite-actions.ts
  extensions/drafts/src/utils/get-latest-actions.ts
  extensions/drafts/src/utils/get-workspaces.ts
  extensions/drafts/src/workspace-list.tsx
Labels: extension fix / improvement, OP is author, extension: drafts, AI Extension

#18388 feat(himalaya): Update for Himalaya `v1.0.0`
  extensions/himalaya/.eslintrc.json
  extensions/himalaya/.gitignore
  extensions/himalaya/.prettierrc
  extensions/himalaya/CHANGELOG.md
  extensions/himalaya/README.md
  extensions/himalaya/assets/command-icon.png
  extensions/himalaya/assets/extension-icon.png
  extensions/himalaya/eslint.config.js
  extensions/himalaya/package-lock.json
  extensions/himalaya/package.json
  extensions/himalaya/src/control.ts
  extensions/himalaya/src/envelopes.ts
  extensions/himalaya/src/envelopes.tsx
  extensions/himalaya/src/exec.ts
  extensions/himalaya/src/folders.ts
  extensions/himalaya/src/index.tsx
  extensions/himalaya/src/models.ts
  extensions/himalaya/src/preferences.ts
  extensions/himalaya/src/reset.tsx
  extensions/himalaya/src/state.ts
  extensions/himalaya/src/sync.tsx
  extensions/himalaya/tsconfig.json
Labels: extension fix / improvement, OP is author, extension: himalaya

#18470 Update image-flow extension
  extensions/image-flow/CHANGELOG.md
  extensions/image-flow/README.md
  extensions/image-flow/assets/icon.png
  extensions/image-flow/metadata/image-flow-0.png
  extensions/image-flow/metadata/image-flow-1.png
  extensions/image-flow/metadata/image-flow-2.png
  extensions/image-flow/package.json
Labels: extension fix / improvement, OP is author, extension: image-flow

#18299 Update antd-open-browser extension
  extensions/antd-open-browser/.gitignore
  extensions/antd-open-browser/CHANGELOG.md
  extensions/antd-open-browser/CONTRIBUTING.md
  extensions/antd-open-browser/package-lock.json
  extensions/antd-open-browser/package.json
  extensions/antd-open-browser/src/data.en-US.json
  extensions/antd-open-browser/src/data.zh-CN.json
  extensions/antd-open-browser/src/generate-data.mjs
  extensions/antd-open-browser/src/index.tsx
Labels: extension fix / improvement, extension: antd-open-browser

#16580 Slack: New Command: Send Message (ISSUE-15424)
  extensions/slack/CHANGELOG.md
  extensions/slack/README.md
  extensions/slack/package.json
  extensions/slack/src/search-messages.tsx
  extensions/slack/src/search.tsx
  extensions/slack/src/send-message.tsx
  extensions/slack/src/shared/client/SlackClient.ts
  extensions/slack/tsconfig.json
Labels: extension fix / improvement, OP is contributor, extension: slack

#18204 Update adhan-time extension
  extensions/adhan-time/.gitignore
  extensions/adhan-time/CHANGELOG.md
  extensions/adhan-time/README.md
  extensions/adhan-time/assets/menubar-icon-light.png
  extensions/adhan-time/assets/menubar-icon.png
  extensions/adhan-time/metadata/adhan-1.png
  extensions/adhan-time/metadata/adhan-2.png
  extensions/adhan-time/metadata/adhan-3.png
  extensions/adhan-time/metadata/adhan-4.png
  extensions/adhan-time/metadata/adhan-5.png
  extensions/adhan-time/metadata/adhan-6.png
  extensions/adhan-time/package-lock.json
  extensions/adhan-time/package.json
  extensions/adhan-time/src/adhan-search.tsx
  extensions/adhan-time/src/adhan.tsx
  extensions/adhan-time/src/types/prayerTypes.ts
  extensions/adhan-time/utils/dateTimeUtils.ts
  extensions/adhan-time/utils/fetchPrayers.ts
  extensions/adhan-time/utils/prayerConfig.ts
  extensions/adhan-time/utils/sortPrayers.ts
  extensions/adhan-time/utils/usePrayerTimes.ts
Labels: extension fix / improvement, status: awaiting response from dev, extension: adhan-time

#18100 [Canvascast] Fix bugs with announcements and downloads
  extensions/canvascast/.eslintrc.json
  extensions/canvascast/.gitignore
  extensions/canvascast/CHANGELOG.md
  extensions/canvascast/package-lock.json
  extensions/canvascast/package.json
  extensions/canvascast/src/components/announcement.tsx
  extensions/canvascast/src/components/assignment.tsx
  extensions/canvascast/src/components/course.tsx
  extensions/canvascast/src/components/module-item.tsx
  extensions/canvascast/src/components/modules.tsx
  extensions/canvascast/src/components/quiz.tsx
  extensions/canvascast/src/feed.tsx
  extensions/canvascast/src/index.tsx
  extensions/canvascast/src/utils/api.ts
  extensions/canvascast/src/utils/recent.ts
  extensions/canvascast/src/utils/store.tsx
  extensions/canvascast/src/utils/types.ts
  extensions/canvascast/src/utils/utils.ts
Labels: extension fix / improvement, OP is contributor, extension: canvascast

#18493 fix: gcloud path for non homebrew intel package installations
  extensions/g-cloud/CHANGELOG.md
  extensions/g-cloud/src/index.tsx
Labels: extension fix / improvement, OP is author, extension: g-cloud

#18485 Delivery Tracker: Manually Mark as Delivered and Delete All Delivered Deliveries
  extensions/delivery-tracker/CHANGELOG.md
  extensions/delivery-tracker/src/carriers.ts
  extensions/delivery-tracker/src/carriers/fedex.ts
  extensions/delivery-tracker/src/carriers/ups.ts
  extensions/delivery-tracker/src/carriers/usps.ts
  extensions/delivery-tracker/src/delivery.ts
  extensions/delivery-tracker/src/package.ts
  extensions/delivery-tracker/src/track-deliveries.tsx
  extensions/delivery-tracker/src/views/EditDeliveryView.tsx
  extensions/delivery-tracker/src/views/TrackNewDeliveryView.tsx
Labels: extension fix / improvement, OP is author, extension: delivery-tracker

#18494 Update dad-jokes extension
  extensions/dad-jokes/CHANGELOG.md
  extensions/dad-jokes/README.md
  extensions/dad-jokes/package-lock.json
  extensions/dad-jokes/package.json
Labels: extension fix / improvement, OP is author, extension: dad-jokes

#18362 things: detect URLs in notes
  extensions/things/CHANGELOG.md
  extensions/things/package.json
  extensions/things/src/components/TodoListItemActions.tsx
Labels: extension fix / improvement, extension: things

#18373 Add virustotal extension
  extensions/virustotal/.gitignore
  extensions/virustotal/.prettierrc
  extensions/virustotal/CHANGELOG.md
  extensions/virustotal/README.md
  extensions/virustotal/assets/virustotal-icon.png
  extensions/virustotal/eslint.config.js
  extensions/virustotal/package-lock.json
  extensions/virustotal/package.json
  extensions/virustotal/src/check.ts
  extensions/virustotal/src/client.ts
  extensions/virustotal/tsconfig.json
Labels: new extension

#17822 Ai extensions/elgato key light
  extensions/elgato-key-light/.eslintrc.json
  extensions/elgato-key-light/.gitignore
  extensions/elgato-key-light/CHANGELOG.md
  extensions/elgato-key-light/package-lock.json
  extensions/elgato-key-light/package.json
  extensions/elgato-key-light/src/apply-preset.tsx
  extensions/elgato-key-light/src/elgato.ts
  extensions/elgato-key-light/src/presets.ts
  extensions/elgato-key-light/src/tools/apply-preset.ts
  extensions/elgato-key-light/src/tools/create-preset.ts
  extensions/elgato-key-light/src/tools/get-presets.ts
  extensions/elgato-key-light/src/tools/get-settings.ts
  extensions/elgato-key-light/src/tools/turn-off.ts
  extensions/elgato-key-light/src/tools/turn-on.ts
  extensions/elgato-key-light/src/tools/update-settings.ts
  extensions/elgato-key-light/src/utils.ts
  extensions/elgato-key-light/src/views/PresetForm.tsx
  extensions/elgato-key-light/src/views/PresetList.tsx
  extensions/elgato-key-light/tsconfig.json
Labels: extension fix / improvement, OP is author, extension: elgato-key-light, AI Extension

#18390 Add "Obsidian Tasks" Extension
  extensions/obsidian-tasks/.gitignore
  extensions/obsidian-tasks/.prettierignore
  extensions/obsidian-tasks/.prettierrc
  extensions/obsidian-tasks/CHANGELOG.md
  extensions/obsidian-tasks/LICENSE
  extensions/obsidian-tasks/README.md
  extensions/obsidian-tasks/assets/command-icon.png
  extensions/obsidian-tasks/eslint.config.js
  extensions/obsidian-tasks/metadata/obsidian-tasks-1.png
  extensions/obsidian-tasks/metadata/obsidian-tasks-2.png
  extensions/obsidian-tasks/metadata/obsidian-tasks-3.png
  extensions/obsidian-tasks/metadata/obsidian-tasks-4.png
  extensions/obsidian-tasks/package-lock.json
  extensions/obsidian-tasks/package.json
  extensions/obsidian-tasks/src/add-task.tsx
  extensions/obsidian-tasks/src/components/EditTaskForm.tsx
  extensions/obsidian-tasks/src/components/TaskItem.tsx
  extensions/obsidian-tasks/src/constants/index.ts
  extensions/obsidian-tasks/src/edit-task.tsx
  extensions/obsidian-tasks/src/hooks/useTasks.ts
  extensions/obsidian-tasks/src/list-tasks.tsx
  extensions/obsidian-tasks/src/mark-done.tsx
  extensions/obsidian-tasks/src/menubar-item.tsx
  extensions/obsidian-tasks/src/types/index.ts
  extensions/obsidian-tasks/src/utils/fileUtils.ts
  extensions/obsidian-tasks/src/utils/index.ts
  extensions/obsidian-tasks/src/utils/menubarRefresh.ts
  extensions/obsidian-tasks/src/utils/priority.ts
  extensions/obsidian-tasks/src/utils/taskFormatter.ts
  extensions/obsidian-tasks/src/utils/taskOperations.ts
  extensions/obsidian-tasks/src/utils/taskParser.ts
  extensions/obsidian-tasks/tsconfig.json
Labels: new extension

#18401 Update clockify extension
  extensions/clockify/CHANGELOG.md
  extensions/clockify/package.json
  extensions/clockify/src/index.tsx
Labels: extension fix / improvement, extension: clockify

#18521 feat(bento-me): improve UI.
  extensions/bento-me/CHANGELOG.md
  extensions/bento-me/metadata/bento-1.png
  extensions/bento-me/metadata/bento-2.png
  extensions/bento-me/package-lock.json
  extensions/bento-me/package.json
  extensions/bento-me/src/search-links.tsx
  extensions/bento-me/src/utils/bento-loader.ts
Labels: extension fix / improvement, OP is author, extension: bento-me

#18533 Improved fallback command and flickering during search
  extensions/folder-search/CHANGELOG.md
  extensions/folder-search/src/hooks/useFolderSearch.tsx
  extensions/folder-search/src/search.tsx
Labels: extension fix / improvement, OP is contributor, extension: folder-search

#18525 Fix 404 error by replacing the repo where we get the name from
  extensions/heroicons/CHANGELOG.md
  extensions/heroicons/package.json
  extensions/heroicons/src/heroicons.ts
Labels: extension fix / improvement, extension: heroicons

#18517 Update dub extension
  extensions/dub/CHANGELOG.md
  extensions/dub/src/search-links.tsx
  extensions/dub/src/utils/constants.ts
Labels: extension fix / improvement, OP is contributor, extension: dub

#18519 Update gg-deals extension
  extensions/gg-deals/CHANGELOG.md
  extensions/gg-deals/README.md
  extensions/gg-deals/assets/platform-icons/svg-platform-android.svg
  extensions/gg-deals/assets/platform-icons/svg-platform-geforce-now.svg
  extensions/gg-deals/assets/platform-icons/svg-platform-ios.svg
  extensions/gg-deals/assets/platform-icons/svg-platform-linux.svg
  extensions/gg-deals/assets/platform-icons/svg-platform-mac.svg
  extensions/gg-deals/assets/platform-icons/svg-platform-mobile.svg
  extensions/gg-deals/assets/platform-icons/svg-platform-nintendo-switch-1.svg
  extensions/gg-deals/assets/platform-icons/svg-platform-nintendo-switch-2.svg
  extensions/gg-deals/assets/platform-icons/svg-platform-nintendo.svg
  extensions/gg-deals/assets/platform-icons/svg-platform-pc-vr.svg
  extensions/gg-deals/assets/platform-icons/svg-platform-pc.svg
  extensions/gg-deals/assets/platform-icons/svg-platform-playstation.svg
  extensions/gg-deals/assets/platform-icons/svg-platform-ps-3.svg
  extensions/gg-deals/assets/platform-icons/svg-platform-ps-4.svg
  extensions/gg-deals/assets/platform-icons/svg-platform-ps-5.svg
  extensions/gg-deals/assets/platform-icons/svg-platform-ps-vr-1.svg
  extensions/gg-deals/assets/platform-icons/svg-platform-ps-vr-2.svg
  extensions/gg-deals/assets/platform-icons/svg-platform-steam-deck-playable.svg
  extensions/gg-deals/assets/platform-icons/svg-platform-steam-deck-unsupported.svg
  extensions/gg-deals/assets/platform-icons/svg-platform-steam-deck-verified.svg
  extensions/gg-deals/assets/platform-icons/svg-platform-steam-deck.svg
  extensions/gg-deals/assets/platform-icons/svg-platform-windows.svg
  extensions/gg-deals/assets/platform-icons/svg-platform-xbox-360.svg
  extensions/gg-deals/assets/platform-icons/svg-platform-xbox-cloud-gaming.svg
  extensions/gg-deals/assets/platform-icons/svg-platform-xbox-one.svg
  extensions/gg-deals/assets/platform-icons/svg-platform-xbox-original.svg
  extensions/gg-deals/assets/platform-icons/svg-platform-xbox-series.svg
  extensions/gg-deals/assets/platform-icons/svg-platform-xbox.svg
  extensions/gg-deals/src/detail.tsx
  extensions/gg-deals/src/index.tsx
  extensions/gg-deals/src/types/types.ts
Labels: extension fix / improvement, OP is author, extension: gg-deals

#18375 Add paystack extension
  extensions/paystack/.gitignore
  extensions/paystack/CHANGELOG.md
  extensions/paystack/README.md
  extensions/paystack/assets/extension-icon.png
  extensions/paystack/commitlint.config.js
  extensions/paystack/eslint.config.js
  extensions/paystack/metadata/paystack-1.png
  extensions/paystack/metadata/paystack-2.png
  extensions/paystack/metadata/paystack-3.png
  extensions/paystack/metadata/paystack-4.png
  extensions/paystack/package-lock.json
  extensions/paystack/package.json
  extensions/paystack/prettier.config.js
  extensions/paystack/src/check-balance.tsx
  extensions/paystack/src/data/supported-currencies.ts
  extensions/paystack/src/generate-payment-link.tsx
  extensions/paystack/src/hooks/currency.ts
  extensions/paystack/src/hooks/date.ts
  extensions/paystack/src/hooks/paystack.ts
  extensions/paystack/src/issue-refund.tsx
  extensions/paystack/src/search-customers.tsx
  extensions/paystack/src/search-payouts.tsx
  extensions/paystack/src/search-plans.tsx
  extensions/paystack/src/search-subscriptions.tsx
  extensions/paystack/src/search-transactions.tsx
  extensions/paystack/src/tools/search-transactions.ts
  extensions/paystack/src/utils/search-subscriptions.tsx
  extensions/paystack/src/utils/types.ts
  extensions/paystack/src/utils/urls.ts
  extensions/paystack/tsconfig.json
Labels: new extension

#18333 parcel: add "Track on Website" and improve client
  extensions/parcel/CHANGELOG.md
  extensions/parcel/README.md
  extensions/parcel/package.json
  extensions/parcel/src/api.ts
  extensions/parcel/src/hooks/useDeliveries.ts
  extensions/parcel/src/my-deliveries.tsx
  extensions/parcel/src/tools/get-deliveries.ts
  extensions/parcel/src/tools/get-delivery-details.ts
Labels: extension fix / improvement, extension: parcel

#18571 Update `Spaceship` extension - Modernize + DNS Enhancements
  extensions/spaceship/.eslintrc.json
  extensions/spaceship/CHANGELOG.md
  extensions/spaceship/README.md
  extensions/spaceship/eslint.config.js
  extensions/spaceship/package-lock.json
  extensions/spaceship/package.json
  extensions/spaceship/src/manage-domains.tsx
  extensions/spaceship/src/types.ts
  extensions/spaceship/tsconfig.json
Labels: extension fix / improvement, OP is author, extension: spaceship

#18345 Update WeChat
  extensions/wechat/.eslintrc.json
  extensions/wechat/.gitignore
  extensions/wechat/.prettierrc.json
  extensions/wechat/CHANGELOG.md
  extensions/wechat/LICENSE
  extensions/wechat/README.md
  extensions/wechat/assets/avatar.png
  extensions/wechat/metadata/showcase.png
  extensions/wechat/metadata/wechat-1.png
  extensions/wechat/metadata/wechat-2.png
  extensions/wechat/package-lock.json
  extensions/wechat/package.json
  extensions/wechat/src/components/searchListltem.tsx
  extensions/wechat/src/hooks/useSearch.ts
  extensions/wechat/src/index.tsx
  extensions/wechat/src/manageTweak.tsx
  extensions/wechat/src/services/contactService.ts
  extensions/wechat/src/services/storageService.ts
  extensions/wechat/src/services/wechatService.ts
  extensions/wechat/src/types/index.ts
  extensions/wechat/src/util/isWeChatInstalled.tsx
  extensions/wechat/src/util/isWeChatInstalledAlert.tsx
  extensions/wechat/src/util/isWeChatRunning.tsx
  extensions/wechat/src/util/isWeChatTweakInstalled.tsx
  extensions/wechat/src/util/isWeChatTweakInstalledAlert.tsx
  extensions/wechat/src/utils/wechatManager.ts
Labels: extension fix / improvement, extension: wechat

#18515 [Things] Display only incomplete todo in the menu bar
  extensions/things/CHANGELOG.md
  extensions/things/package.json
  extensions/things/src/show-today-in-menu-bar.tsx
Labels: extension fix / improvement, OP is contributor, extension: things

#18529 html-colors: add filtering option to group colors by shade
  extensions/html-colors/.cursor/rules/knowledge.mdc
  extensions/html-colors/.cursor/rules/project.mdc
  extensions/html-colors/.cursor/rules/purpose.mdc
  extensions/html-colors/CHANGELOG.md
  extensions/html-colors/src/components/color-list-item.tsx
  extensions/html-colors/src/components/color-section.tsx
  extensions/html-colors/src/constants.ts
  extensions/html-colors/src/html-color.tsx
  extensions/html-colors/src/utils/color-utils.ts
  extensions/html-colors/src/utils/search-utils.ts
  extensions/html-colors/src/utils/section-utils.ts
Labels: extension fix / improvement, OP is author, extension: html-colors

#18547 Enable Chat Actions When Viewing Previous Conversations
  extensions/chatgpt/CHANGELOG.md
  extensions/chatgpt/src/views/chat.tsx
Labels: extension fix / improvement, extension: chatgpt

#18551 Update github-profile extension
  extensions/github-profile/CHANGELOG.md
  extensions/github-profile/package.json
  extensions/github-profile/src/show-github-profile.tsx
  extensions/github-profile/src/utils/contributionUtils.ts
Labels: extension fix / improvement, extension: github-profile

#18535 Update copymoveto extension
  extensions/copymoveto/CHANGELOG.md
  extensions/copymoveto/package-lock.json
  extensions/copymoveto/package.json
  extensions/copymoveto/src/copy-move-to.tsx
  extensions/copymoveto/src/destination-form.tsx
Labels: extension fix / improvement, extension: copymoveto

#18545 Update jetbrains extension
  extensions/jetbrains/CHANGELOG.md
  extensions/jetbrains/package.json
  extensions/jetbrains/src/.settings.json.d.ts
  extensions/jetbrains/src/useAppHistory.tsx
  extensions/jetbrains/src/util.ts
Labels: extension fix / improvement, extension: jetbrains

#18406 Update Connect to VPN extension
  extensions/connect-to-vpn/.eslintrc.json
  extensions/connect-to-vpn/CHANGELOG.md
  extensions/connect-to-vpn/eslint.config.js
  extensions/connect-to-vpn/package-lock.json
  extensions/connect-to-vpn/package.json
  extensions/connect-to-vpn/src/network-services.ts
  extensions/connect-to-vpn/src/toggle.ts
  extensions/connect-to-vpn/tsconfig.json
Labels: extension fix / improvement, extension: connect-to-vpn

#18555 Update `CricketCast` extension - Modernize + Better Score Error Handling
  extensions/cricketcast/.eslintrc.json
  extensions/cricketcast/CHANGELOG.md
  extensions/cricketcast/eslint.config.js
  extensions/cricketcast/package-lock.json
  extensions/cricketcast/package.json
  extensions/cricketcast/src/index.tsx
Labels: extension fix / improvement, OP is contributor, extension: cricketcast

#18420 Add `Netherlands Railways Find a train` extension
  extensions/ns-nl-search/.eslintrc.json
  extensions/ns-nl-search/.gitignore
  extensions/ns-nl-search/.prettierrc
  extensions/ns-nl-search/CHANGELOG.md
  extensions/ns-nl-search/README.md
  extensions/ns-nl-search/assets/ns.png
  extensions/ns-nl-search/metadata/ns-nl-search-1.png
  extensions/ns-nl-search/metadata/ns-nl-search-2.png
  extensions/ns-nl-search/metadata/ns-nl-search-3.png
  extensions/ns-nl-search/package-lock.json
  extensions/ns-nl-search/package.json
  extensions/ns-nl-search/src/api/client.ts
  extensions/ns-nl-search/src/api/types.ts
  extensions/ns-nl-search/src/components/Trips.tsx
  extensions/ns-nl-search/src/ns.tsx
  extensions/ns-nl-search/src/utils/parse.ts
  extensions/ns-nl-search/tsconfig.json
Labels: new extension

#18576 Update ns-nl-search extension
  extensions/ns-nl-search/CHANGELOG.md
  extensions/ns-nl-search/README.md
  extensions/ns-nl-search/assets/ns.png
  extensions/ns-nl-search/package.json
Labels: extension fix / improvement, OP is author, extension: ns-nl-search

#18577 Update cal-com-share-meeting-links extension
  extensions/cal-com-share-meeting-links/CHANGELOG.md
  extensions/cal-com-share-meeting-links/src/api/cal.com.ts
  extensions/cal-com-share-meeting-links/src/view-bookings.tsx
Labels: extension fix / improvement, OP is contributor, extension: cal-com-share-meeting-links

#18578 Update dust-tt extension
  extensions/dust-tt/.nvmrc
  extensions/dust-tt/CHANGELOG.md
  extensions/dust-tt/assets/icons/bigquery.svg
  extensions/dust-tt/assets/icons/gong.svg
  extensions/dust-tt/assets/icons/salesforce.svg
  extensions/dust-tt/package-lock.json
  extensions/dust-tt/package.json
  extensions/dust-tt/src/askAgent.tsx
  extensions/dust-tt/src/dust_api/oauth.tsx
  extensions/dust-tt/src/utils.tsx
Labels: extension fix / improvement, OP is contributor, extension: dust-tt

#18518 Todoist: New API, improvements and bug fixes
  extensions/todoist/.eslintignore
  extensions/todoist/.eslintrc.json
  extensions/todoist/CHANGELOG.md
  extensions/todoist/eslint.config.js
  extensions/todoist/package-lock.json
  extensions/todoist/package.json
  extensions/todoist/src/api.ts
  extensions/todoist/src/components/CompletedTasks.tsx
  extensions/todoist/src/components/CreateViewActions.tsx
  extensions/todoist/src/components/FilterTasks.tsx
  extensions/todoist/src/components/LabelListItem.tsx
  extensions/todoist/src/components/MenubarTask.tsx
  extensions/todoist/src/components/OpenInTodoist.tsx
  extensions/todoist/src/components/ProjectForm.tsx
  extensions/todoist/src/components/ProjectListItem.tsx
  extensions/todoist/src/components/RefreshAction.tsx
  extensions/todoist/src/components/TaskActions.tsx
  extensions/todoist/src/components/TaskCommentForm.tsx
  extensions/todoist/src/components/TaskComments.tsx
  extensions/todoist/src/components/TaskDetail.tsx
  extensions/todoist/src/components/TaskEdit.tsx
  extensions/todoist/src/components/TaskListItem.tsx
  extensions/todoist/src/components/TaskListSections.tsx
  extensions/todoist/src/components/TodayTasks.tsx
  extensions/todoist/src/components/UpcomingTasks.tsx
  extensions/todoist/src/components/View.tsx
  extensions/todoist/src/create-project.tsx
  extensions/todoist/src/create-task.tsx
  extensions/todoist/src/helpers/isTodoistInstalled.ts
  extensions/todoist/src/helpers/tasks.ts
  extensions/todoist/src/helpers/withTodoistApi.tsx
  extensions/todoist/src/home.tsx
  extensions/todoist/src/hooks/useFilterData.ts
  extensions/todoist/src/hooks/useIsTodoistInstalled.ts
  extensions/todoist/src/hooks/useSyncData.ts
  extensions/todoist/src/hooks/useViewTasks.ts
  extensions/todoist/src/menu-bar.tsx
  extensions/todoist/src/open-focused-task.tsx
  extensions/todoist/src/quick-add-task.tsx
  extensions/todoist/src/search.tsx
  extensions/todoist/src/show-filters.tsx
  extensions/todoist/src/show-labels.tsx
  extensions/todoist/src/show-projects.tsx
  extensions/todoist/src/tools/get-comments.ts
  extensions/todoist/src/tools/get-projects.ts
  extensions/todoist/src/tools/get-sections.ts
  extensions/todoist/src/tools/get-tasks.ts
  extensions/todoist/src/unfocus-current-task.tsx
Labels: extension fix / improvement, OP is author, extension: todoist

#18588 GIF Search: Use `Clipboard` API to copy GIF instead of AppleScript.
  extensions/gif-search/CHANGELOG.md
  extensions/gif-search/src/lib/copyFileToClipboard.ts
Labels: extension fix / improvement, extension: gif-search

#18431 Add hacker-news-500 extension
  extensions/hacker-news-top-stories/.gitignore
  extensions/hacker-news-top-stories/.prettierrc
  extensions/hacker-news-top-stories/CHANGELOG.md
  extensions/hacker-news-top-stories/README.md
  extensions/hacker-news-top-stories/assets/icon-64-dark.png
  extensions/hacker-news-top-stories/assets/icon.png
  extensions/hacker-news-top-stories/eslint.config.js
  extensions/hacker-news-top-stories/package-lock.json
  extensions/hacker-news-top-stories/package.json
  extensions/hacker-news-top-stories/src/hackernews.ts
  extensions/hacker-news-top-stories/src/types.ts
  extensions/hacker-news-top-stories/src/view-top-stories.tsx
  extensions/hacker-news-top-stories/tsconfig.json
Labels: new extension

#18598 Update deepcast extension
  extensions/deepcast/CHANGELOG.md
  extensions/deepcast/package.json
Labels: extension fix / improvement, extension: deepcast

#18574 Update paste-as-plain-text extension
  extensions/paste-as-plain-text/.gitignore
  extensions/paste-as-plain-text/CHANGELOG.md
  extensions/paste-as-plain-text/package-lock.json
  extensions/paste-as-plain-text/package.json
  extensions/paste-as-plain-text/src/utils/paste-as-utils.ts
Labels: extension fix / improvement, extension: paste-as-plain-text

#18091 [ADB] Add Uninstall command
  extensions/adb/CHANGELOG.md
  extensions/adb/README.md
  extensions/adb/package.json
  extensions/adb/src/adb-uninstall.ts
Labels: extension fix / improvement, status: stalled, extension: adb

#18176 Update ihosts to support remote hosts
  extensions/ihosts/CHANGELOG.md
  extensions/ihosts/package.json
  extensions/ihosts/src/component.tsx
  extensions/ihosts/src/ihosts.tsx
  extensions/ihosts/src/switch.tsx
  extensions/ihosts/src/types.d.ts
  extensions/ihosts/src/update.tsx
  extensions/ihosts/src/utils/common.ts
  extensions/ihosts/src/utils/file.ts
Labels: extension fix / improvement, extension: ihosts

#18045 [Github extension] add support for merge queue and "merge when ready"
  extensions/github/.graphqlrc.ts
  extensions/github/CHANGELOG.md
  extensions/github/assets/pull-request-merge-queue.svg
  extensions/github/codegen.ts
  extensions/github/src/api/pullRequest.graphql
  extensions/github/src/api/repository.graphql
  extensions/github/src/components/PullRequestActions.tsx
  extensions/github/src/generated/graphql.ts
  extensions/github/src/helpers/pull-request.ts
Labels: extension fix / improvement, OP is contributor, extension: github

#18422 Update link-cleaner extension
  extensions/link-cleaner/CHANGELOG.md
  extensions/link-cleaner/README.md
  extensions/link-cleaner/eslint.config.mjs
  extensions/link-cleaner/package-lock.json
  extensions/link-cleaner/package.json
  extensions/link-cleaner/src/clean-clipboard-text.ts
  extensions/link-cleaner/src/clean-selected-text.ts
  extensions/link-cleaner/src/utils/remove-tracking-params.ts
  extensions/link-cleaner/src/utils/rules.ts
  extensions/link-cleaner/src/utils/try-catch.ts
  extensions/link-cleaner/src/utils/url-utils.ts
Labels: extension fix / improvement, extension: link-cleaner

#18463 Add manage runtimes and delete unsupported runtimes commands to Xcode extension
  extensions/xcode/CHANGELOG.md
  extensions/xcode/package.json
  extensions/xcode/src/components/xcode-runtime-list/xcode-runtime-list-dropdown.component.tsx
  extensions/xcode/src/components/xcode-runtime-list/xcode-runtime-list-item.component.tsx
  extensions/xcode/src/components/xcode-runtime-list/xcode-runtime-list.component.tsx
  extensions/xcode/src/delete-unsupported-runtimes.command.tsx
  extensions/xcode/src/manage-runtimes.command.tsx
  extensions/xcode/src/models/xcode-runtime/xcode-runtime-group.model.ts
  extensions/xcode/src/models/xcode-runtime/xcode-runtime-platform-filter.model.ts
  extensions/xcode/src/models/xcode-runtime/xcode-runtime-platform.model.ts
  extensions/xcode/src/models/xcode-runtime/xcode-runtime.model.ts
  extensions/xcode/src/services/xcode-runtime.service.ts
Labels: extension fix / improvement, OP is contributor, extension: xcode

#18508 Add cerebras extension
  extensions/cerebras/.eslintrc.json
  extensions/cerebras/.gitignore
  extensions/cerebras/.prettierrc
  extensions/cerebras/CHANGELOG.md
  extensions/cerebras/README.md
  extensions/cerebras/assets/cerebras.png
  extensions/cerebras/package-lock.json
  extensions/cerebras/package.json
  extensions/cerebras/src/actions/copy.tsx
  extensions/cerebras/src/actions/form-input.tsx
  extensions/cerebras/src/actions/index.tsx
  extensions/cerebras/src/actions/preferences.tsx
  extensions/cerebras/src/actions/save.tsx
  extensions/cerebras/src/ask.tsx
  extensions/cerebras/src/conversation.tsx
  extensions/cerebras/src/create-ai-command.tsx
  extensions/cerebras/src/history.tsx
  extensions/cerebras/src/hooks/useAutoSaveConversation.tsx
  extensions/cerebras/src/hooks/useAutoTTS.tsx
  extensions/cerebras/src/hooks/useBrowser.tsx
  extensions/cerebras/src/hooks/useChat.tsx
  extensions/cerebras/src/hooks/useChatGPT.tsx
  extensions/cerebras/src/hooks/useCommand.tsx
  extensions/cerebras/src/hooks/useConversations.tsx
  extensions/cerebras/src/hooks/useHistory.tsx
  extensions/cerebras/src/hooks/useModel.tsx
  extensions/cerebras/src/hooks/useProxy.tsx
  extensions/cerebras/src/hooks/useQuestion.tsx
  extensions/cerebras/src/hooks/useSavedChat.tsx
  extensions/cerebras/src/model.tsx
  extensions/cerebras/src/saved.tsx
  extensions/cerebras/src/search-ai-command.tsx
  extensions/cerebras/src/summarize.tsx
  extensions/cerebras/src/type.ts
  extensions/cerebras/src/utils/browser.ts
  extensions/cerebras/src/utils/cache.ts
  extensions/cerebras/src/utils/cmd-input.ts
  extensions/cerebras/src/utils/error.ts
  extensions/cerebras/src/utils/icon.ts
  extensions/cerebras/src/utils/import-export.ts
  extensions/cerebras/src/utils/index.ts
  extensions/cerebras/src/utils/load.ts
  extensions/cerebras/src/utils/token.ts
  extensions/cerebras/src/views/answer-detail.tsx
  extensions/cerebras/src/views/chat.tsx
  extensions/cerebras/src/views/command/command-view.tsx
  extensions/cerebras/src/views/command/from.tsx
  extensions/cerebras/src/views/conversation-list.tsx
  extensions/cerebras/src/views/empty.tsx
  extensions/cerebras/src/views/import-form.tsx
  extensions/cerebras/src/views/model/dropdown.tsx
  extensions/cerebras/src/views/model/form.tsx
  extensions/cerebras/src/views/model/list.tsx
  extensions/cerebras/src/views/question/form.tsx
  extensions/cerebras/tsconfig.json
Labels: new extension

#18552 Update aws extension
  extensions/amazon-aws/CHANGELOG.md
  extensions/amazon-aws/package-lock.json
  extensions/amazon-aws/package.json
  extensions/amazon-aws/src/s3.tsx
Labels: extension fix / improvement, OP is contributor, extension: amazon-aws

#18428 Update lucide-icons extension
  extensions/lucide-icons/CHANGELOG.md
  extensions/lucide-icons/package-lock.json
  extensions/lucide-icons/package.json
  extensions/lucide-icons/src/components/IconGrid.tsx
Labels: extension fix / improvement, extension: lucide-icons

#18580 Update awork extension
  extensions/awork/CHANGELOG.md
  extensions/awork/src/composables/FetchData.ts
Labels: extension fix / improvement, OP is author, extension: awork

#18603 Todoist: Fix AI get-tasks
  extensions/todoist/CHANGELOG.md
  extensions/todoist/src/tools/get-tasks.ts
Labels: extension fix / improvement, OP is author, extension: todoist

#18435 Add steam-player-counts extension
  extensions/steam-player-counts/.gitignore
  extensions/steam-player-counts/.prettierrc
  extensions/steam-player-counts/CHANGELOG.md
  extensions/steam-player-counts/README.md
  extensions/steam-player-counts/assets/extension-icon.png
  extensions/steam-player-counts/eslint.config.js
  extensions/steam-player-counts/metadata/metadata1.png
  extensions/steam-player-counts/package-lock.json
  extensions/steam-player-counts/package.json
  extensions/steam-player-counts/player-count.eslintrc.json
  extensions/steam-player-counts/player-count.prettierrc.json
  extensions/steam-player-counts/src/steamPlayerCounts.tsx
  extensions/steam-player-counts/tsconfig.json
Labels: new extension

#18221 Auto language detection and some small fixes
  extensions/easy-ocr/CHANGELOG.md
  extensions/easy-ocr/README.md
  extensions/easy-ocr/package-lock.json
  extensions/easy-ocr/package.json
  extensions/easy-ocr/src/index.tsx
  extensions/easy-ocr/src/lib/languages.ts
  extensions/easy-ocr/src/ocr.ts
  extensions/easy-ocr/src/utils.ts
Labels: extension fix / improvement, OP is author, extension: easy-ocr

#18560 Update raycast-svgo extension
  extensions/svgo/CHANGELOG.md
  extensions/svgo/src/index.tsx
  extensions/svgo/src/optimize-string.ts
  extensions/svgo/src/utils-2.ts
Labels: extension fix / improvement, OP is contributor, extension: svgo

#18427 Arc extension: (Re-)Add support to open blank incognito window
  extensions/arc/CHANGELOG.md
  extensions/arc/package.json
  extensions/arc/src/new-incognito-window.ts
  extensions/arc/src/tools/new-incognito-window.ts
Labels: extension fix / improvement, extension: arc

#18395 Update linkding extension
  extensions/linkding/CHANGELOG.md
  extensions/linkding/README.md
  extensions/linkding/metadata/raycast-linkding-1.png
  extensions/linkding/metadata/raycast-linkding-2.png
  extensions/linkding/metadata/raycast-linkding-3.png
  extensions/linkding/metadata/raycast-linkding-4.png
  extensions/linkding/package-lock.json
  extensions/linkding/package.json
  extensions/linkding/src/components/no-accounts-list.tsx
  extensions/linkding/src/components/search-list-item.tsx
  extensions/linkding/src/create-bookmarks.tsx
  extensions/linkding/src/hooks/use-bookmarks.tsx
  extensions/linkding/src/hooks/use-filtered-bookmarks.tsx
  extensions/linkding/src/hooks/use-url-metadata.tsx
  extensions/linkding/src/manage-account.tsx
  extensions/linkding/src/search-bookmarks.tsx
  extensions/linkding/src/service/bookmark-service.ts
  extensions/linkding/src/service/user-account-service.ts
  extensions/linkding/src/types/linkding-shortcuts.ts
  extensions/linkding/src/types/linkding-types.ts
  extensions/linkding/src/util/bookmark-util.ts
  extensions/linkding/src/util/is-valid-url.ts
  extensions/linkding/src/util/parse-tags.ts
Labels: extension fix / improvement, status: awaiting response from dev, OP is contributor, extension: linkding

#18418 Add git-worktrees extension
  extensions/git-worktrees/.gitignore
  extensions/git-worktrees/.prettierrc
  extensions/git-worktrees/CHANGELOG.md
  extensions/git-worktrees/README.md
  extensions/git-worktrees/assets/bitbucket-dark.png
  extensions/git-worktrees/assets/bitbucket-light.png
  extensions/git-worktrees/assets/extension_icon.png
  extensions/git-worktrees/assets/github-dark.png
  extensions/git-worktrees/assets/github-light.png
  extensions/git-worktrees/assets/gitlab-dark.png
  extensions/git-worktrees/assets/gitlab-light.png
  extensions/git-worktrees/eslint.config.mjs
  extensions/git-worktrees/media/git-worktrees-commands.png
  extensions/git-worktrees/metadata/git-worktrees-1.png
  extensions/git-worktrees/metadata/git-worktrees-2.png
  extensions/git-worktrees/metadata/git-worktrees-3.png
  extensions/git-worktrees/metadata/git-worktrees-4.png
  extensions/git-worktrees/metadata/git-worktrees-5.png
  extensions/git-worktrees/metadata/git-worktrees-6.png
  extensions/git-worktrees/package-lock.json
  extensions/git-worktrees/package.json
  extensions/git-worktrees/src/add-worktree.tsx
  extensions/git-worktrees/src/clone-project.tsx
  extensions/git-worktrees/src/components/actions/clear-cache.tsx
  extensions/git-worktrees/src/components/actions/directories-dropdown.tsx
  extensions/git-worktrees/src/components/actions/open-editor.tsx
  extensions/git-worktrees/src/components/actions/open-terminal.tsx
  extensions/git-worktrees/src/components/actions/refresh-worktrees.tsx
  extensions/git-worktrees/src/components/actions/remove-project.tsx
  extensions/git-worktrees/src/components/actions/remove-worktree.tsx
  extensions/git-worktrees/src/components/actions/rename-worktree.tsx
  extensions/git-worktrees/src/components/actions/reset-item-ranking.tsx
  extensions/git-worktrees/src/components/actions/reset-ranking.tsx
  extensions/git-worktrees/src/components/actions/view-project-worktrees.tsx
  extensions/git-worktrees/src/components/worktree/index.ts
  extensions/git-worktrees/src/components/worktree/item.tsx
  extensions/git-worktrees/src/components/worktree/list.tsx
  extensions/git-worktrees/src/config.ts
  extensions/git-worktrees/src/config/constants.ts
  extensions/git-worktrees/src/config/types.ts
  extensions/git-worktrees/src/helpers/cache.ts
  extensions/git-worktrees/src/helpers/file.ts
  extensions/git-worktrees/src/helpers/general.ts
  extensions/git-worktrees/src/helpers/git.ts
  extensions/git-worktrees/src/helpers/raycast.ts
  extensions/git-worktrees/src/helpers/toast.ts
  extensions/git-worktrees/src/hooks/use-branch-infomation.ts
  extensions/git-worktrees/src/hooks/use-branch-information.ts
  extensions/git-worktrees/src/hooks/use-debounce.ts
  extensions/git-worktrees/src/hooks/use-projects.ts
  extensions/git-worktrees/src/stores/viewing-worktrees.ts
  extensions/git-worktrees/src/view-projects.tsx
  extensions/git-worktrees/src/view-worktrees.tsx
  extensions/git-worktrees/tsconfig.json
Labels: new extension

#18455 Add liquipedia-matches extension
  extensions/liquipedia-matches/.gitignore
  extensions/liquipedia-matches/.prettierrc
  extensions/liquipedia-matches/CHANGELOG.md
  extensions/liquipedia-matches/README.md
  extensions/liquipedia-matches/assets/icon.png
  extensions/liquipedia-matches/eslint.config.js
  extensions/liquipedia-matches/metadata/liquipedia-matches-1.png
  extensions/liquipedia-matches/package-lock.json
  extensions/liquipedia-matches/package.json
  extensions/liquipedia-matches/src/lib/getUpcomingMatches.ts
  extensions/liquipedia-matches/src/matches.tsx
  extensions/liquipedia-matches/tsconfig.json
Labels: new extension

#18623 Update nba-game-viewer extension
  extensions/nba-game-viewer/CHANGELOG.md
  extensions/nba-game-viewer/src/hooks/useSchedule.ts
  extensions/nba-game-viewer/src/hooks/useScores.ts
  extensions/nba-game-viewer/src/types/schedule.types.ts
  extensions/nba-game-viewer/src/utils/generateGameAccessories.ts
Labels: extension fix / improvement, OP is contributor, extension: nba-game-viewer

#18476 Add dpm-lol extension
  extensions/dpm-lol/.gitignore
  extensions/dpm-lol/.prettierrc
  extensions/dpm-lol/CHANGELOG.md
  extensions/dpm-lol/README.md
  extensions/dpm-lol/assets/extension_icon.png
  extensions/dpm-lol/eslint.config.js
  extensions/dpm-lol/metadata/dpm-lol-1.png
  extensions/dpm-lol/metadata/dpm-lol-2.png
  extensions/dpm-lol/package-lock.json
  extensions/dpm-lol/package.json
  extensions/dpm-lol/src/build.tsx
  extensions/dpm-lol/src/search.tsx
  extensions/dpm-lol/src/types.ts
  extensions/dpm-lol/src/utils.ts
  extensions/dpm-lol/tsconfig.json
Labels: new extension

#18483 [dict-cc] Update Contributors
  extensions/dict-cc/package.json
Labels: extension fix / improvement, extension: dict-cc

#18531 [Asana] modernize + close after creating task (close Issue)
  extensions/asana/.eslintrc.json
  extensions/asana/CHANGELOG.md
  extensions/asana/eslint.config.js
  extensions/asana/package-lock.json
  extensions/asana/package.json
  extensions/asana/src/components/CreateTaskForm.tsx
  extensions/asana/src/components/TaskActions.tsx
  extensions/asana/src/my-tasks.tsx
  extensions/asana/tsconfig.json
Labels: extension fix / improvement, extension: asana

#18542 feat(search-chatwork): mod scope to use search contacts commands with OAuth
  extensions/search-chatwork/CHANGELOG.md
  extensions/search-chatwork/package-lock.json
  extensions/search-chatwork/src/utils/constants.tsx
Labels: extension fix / improvement, OP is author, extension: search-chatwork

#18624 GitHub: Fix pull request filtering logic
  extensions/github/CHANGELOG.md
  extensions/github/src/hooks/useMyPullRequests.ts
Labels: extension fix / improvement, OP is author, extension: github

#18496 Add asciimath-to-latex-converter extension
  extensions/asciimath-to-latex-converter/CHANGELOG.md
  extensions/asciimath-to-latex-converter/README.md
  extensions/asciimath-to-latex-converter/assets/icon.png
  extensions/asciimath-to-latex-converter/eslint.config.js
  extensions/asciimath-to-latex-converter/metadata/asciimath-to-latex-converter-1.png
  extensions/asciimath-to-latex-converter/metadata/asciimath-to-latex-converter-2.png
  extensions/asciimath-to-latex-converter/metadata/asciimath-to-latex-converter-3.png
  extensions/asciimath-to-latex-converter/package-lock.json
  extensions/asciimath-to-latex-converter/package.json
  extensions/asciimath-to-latex-converter/src/components/LatexPreviewDetail.tsx
  extensions/asciimath-to-latex-converter/src/components/MathToLatexLivePanel.tsx
  extensions/asciimath-to-latex-converter/src/convert-asciimath-to-latex.tsx
  extensions/asciimath-to-latex-converter/src/utils/asciimath.ts
  extensions/asciimath-to-latex-converter/tsconfig.json
Labels: new extension

#18492 Add playtester extension
  extensions/playtester/.gitignore
  extensions/playtester/.prettierrc
  extensions/playtester/CHANGELOG.md
  extensions/playtester/README.md
  extensions/playtester/assets/extension-icon.png
  extensions/playtester/eslint.config.js
  extensions/playtester/metadata/browse-screenshot.png
  extensions/playtester/metadata/details-screenshot.png
  extensions/playtester/metadata/search-screenshot.png
  extensions/playtester/metadata/submit-screenshot.png
  extensions/playtester/package-lock.json
  extensions/playtester/package.json
  extensions/playtester/src/add-game.tsx
  extensions/playtester/src/new-games.tsx
  extensions/playtester/src/search-games.tsx
  extensions/playtester/tsconfig.json
Labels: new extension

#18632 Update
  .github/public_raycast_extensions.txt
  extensions/playtester/CHANGELOG.md
  extensions/playtester/package.json
Labels: extension fix / improvement, OP is contributor, extension: playtester

#18636 google-calendar extension: new shortcut for "Copy Meeting Link"
  extensions/google-calendar/CHANGELOG.md
  extensions/google-calendar/package.json
  extensions/google-calendar/src/components/EventActions.tsx
Labels: extension fix / improvement, extension: google-calendar

#18638 🐛 fix(wakatime): Fix Reported Store Issues & Update Dependencies
  extensions/wakatime/.eslintrc.json
  extensions/wakatime/CHANGELOG.md
  extensions/wakatime/eslint.config.mjs
  extensions/wakatime/package-lock.json
  extensions/wakatime/package.json
  extensions/wakatime/src/components/Leaderboard.tsx
  extensions/wakatime/src/components/Summary.tsx
  extensions/wakatime/src/hooks/base.ts
  extensions/wakatime/src/hooks/use-activity-change.ts
  extensions/wakatime/src/hooks/use-summary.ts
  extensions/wakatime/src/hooks/use-today-summary.ts
  extensions/wakatime/src/summary.tsx
  extensions/wakatime/src/today-summary.tsx
  extensions/wakatime/src/types.ts
  extensions/wakatime/src/utils/api.ts
  extensions/wakatime/src/utils/index.ts
Labels: extension fix / improvement, OP is author, extension: wakatime

#18538 Add lyric-fever-control extension
  extensions/lyric-fever-control/.gitignore
  extensions/lyric-fever-control/.prettierrc
  extensions/lyric-fever-control/CHANGELOG.md
  extensions/lyric-fever-control/LICENSE
  extensions/lyric-fever-control/README.md
  extensions/lyric-fever-control/assets/extension-icon.png
  extensions/lyric-fever-control/eslint.config.js
  extensions/lyric-fever-control/package-lock.json
  extensions/lyric-fever-control/package.json
  extensions/lyric-fever-control/src/toggle-karaoke.ts
  extensions/lyric-fever-control/tsconfig.json
Labels: new extension

#17535 Update betterdisplay extension
  extensions/betterdisplay/CHANGELOG.md
  extensions/betterdisplay/README.md
  extensions/betterdisplay/package-lock.json
  extensions/betterdisplay/package.json
  extensions/betterdisplay/src/commands.ts
  extensions/betterdisplay/src/list-resolutions.tsx
  extensions/betterdisplay/src/manage-displays.tsx
  extensions/betterdisplay/src/tools/decrease-brightness.ts
  extensions/betterdisplay/src/tools/decrease-contrast.ts
  extensions/betterdisplay/src/tools/get-display-status.ts
  extensions/betterdisplay/src/tools/get-displays.ts
  extensions/betterdisplay/src/tools/get-main-display.ts
  extensions/betterdisplay/src/tools/get-pip-status.ts
  extensions/betterdisplay/src/tools/get-resolutions.ts
  extensions/betterdisplay/src/tools/increase-brightness.ts
  extensions/betterdisplay/src/tools/increase-contrast.ts
  extensions/betterdisplay/src/tools/set-brightness.ts
  extensions/betterdisplay/src/tools/set-contrast.ts
  extensions/betterdisplay/src/tools/set-resolution.ts
  extensions/betterdisplay/src/tools/toggle-display-status.ts
  extensions/betterdisplay/src/tools/toggle-pip-status.ts
  extensions/betterdisplay/src/utils.ts
Labels: extension fix / improvement, OP is author, AI Extension, extension: betterdisplay

#18633 Ext/surge outbound switcher
  extensions/surge-outbound-switcher/CHANGELOG.md
  extensions/surge-outbound-switcher/README.md
  extensions/surge-outbound-switcher/assets/screenshot.png
  extensions/surge-outbound-switcher/metadata/surge-outbound-switcher-1.png
  extensions/surge-outbound-switcher/metadata/surge-outbound-switcher-2.png
Labels: extension fix / improvement, OP is author, extension: surge-outbound-switcher

#18674 handle non existing file selection
  extensions/launch-agents/CHANGELOG.md
  extensions/launch-agents/components/LaunchAgentDetails.tsx
  extensions/launch-agents/package-lock.json
  extensions/launch-agents/package.json
Labels: extension fix / improvement, OP is author, extension: launch-agents

#18686 Update svelte-docs extension
  extensions/svelte-docs/CHANGELOG.md
  extensions/svelte-docs/package-lock.json
  extensions/svelte-docs/package.json
  extensions/svelte-docs/src/tools/search-svelte-docs.ts
Labels: extension fix / improvement, OP is author, extension: svelte-docs

#18705 Update hacker-news-top-stories extension
  extensions/hacker-news-top-stories/CHANGELOG.md
  extensions/hacker-news-top-stories/src/view-top-stories.tsx
Labels: extension fix / improvement, OP is author, extension: hacker-news-top-stories

#18262 Added "Create new Incognito Window" action for Chrome extension
  extensions/google-chrome/CHANGELOG.md
  extensions/google-chrome/package.json
  extensions/google-chrome/src/actions/index.tsx
  extensions/google-chrome/src/new-incognito-window.tsx
Labels: extension fix / improvement, extension: google-chrome
