Repository raycast/extensions, pull requests merged in 2025-06, with the labels that each got.

#19522 Move `josephlou` to past contributors
  extensions/arc/CHANGELOG.md
  extensions/arc/package.json
Labels: extension fix / improvement, OP is contributor, extension: arc

#19492 Update checksum
  extensions/checksum/CHANGELOG.md
  extensions/checksum/src/checksum.tsx
  extensions/checksum/src/components/dropdown.tsx
  extensions/checksum/src/hashfile.tsx
  extensions/checksum/src/hashtext.tsx
  extensions/checksum/src/menubar.tsx
  extensions/checksum/src/types.ts
Labels: extension fix / improvement, OP is author, OP is contributor, extension: checksum

#19136 Update GemOptions.tsx
  extensions/search-rubygems/.eslintrc.json
  extensions/search-rubygems/.gitignore
  extensions/search-rubygems/CHANGELOG.md
  extensions/search-rubygems/eslint.config.js
  extensions/search-rubygems/package-lock.json
  extensions/search-rubygems/package.json
  extensions/search-rubygems/src/components/GemInfo.tsx
  extensions/search-rubygems/src/components/GemOptions.tsx
  extensions/search-rubygems/src/index.tsx
  extensions/search-rubygems/src/rubygems/useRubyGemsGemDetail.ts
  extensions/search-rubygems/src/rubygems/useRubyGemsSearch.ts
Labels: extension fix / improvement, status: stalled, extension: search-rubygems

#18996 Add project-code-to-text extension
  extensions/project-code-to-text/.gitignore
  extensions/project-code-to-text/.prettierrc
  extensions/project-code-to-text/CHANGELOG.md
  extensions/project-code-to-text/README.md
  extensions/project-code-to-text/assets/command-icon.png
  extensions/project-code-to-text/eslint.config.js
  extensions/project-code-to-text/metadata/project-code-to-text-1.png
  extensions/project-code-to-text/package-lock.json
  extensions/project-code-to-text/package.json
  extensions/project-code-to-text/src/constants.ts
  extensions/project-code-to-text/src/custom-types/ignore.d.ts
  extensions/project-code-to-text/src/fileProcessor.ts
  extensions/project-code-to-text/src/generate-project-code.tsx
  extensions/project-code-to-text/src/types.ts
  extensions/project-code-to-text/tsconfig.json
Labels: new extension

#19559 Update wp-cli-command-explorer extension
  extensions/wp-cli-command-explorer/CHANGELOG.md
  extensions/wp-cli-command-explorer/metadata/wp-cli-command-explorer-1.png
  extensions/wp-cli-command-explorer/src/wpcli-commands.json
  extensions/wp-cli-command-explorer/src/wpcli.tsx
Labels: extension fix / improvement, OP is author, extension: wp-cli-command-explorer

#19552 Update `Cloudflare` extension - Add A,AAAA,TXT DNS Records + Delete any DNS Record + Improve error handling function + Modernize extension to use latest Raycast config
  extensions/cloudflare/.eslintrc.json
  extensions/cloudflare/CHANGELOG.md
  extensions/cloudflare/README.md
  extensions/cloudflare/eslint.config.js
  extensions/cloudflare/package-lock.json
  extensions/cloudflare/package.json
  extensions/cloudflare/src/service.ts
  extensions/cloudflare/src/utils.ts
  extensions/cloudflare/src/view-cache-purge.tsx
  extensions/cloudflare/src/view-sites.tsx
  extensions/cloudflare/tsconfig.json
Labels: extension fix / improvement, OP is contributor, extension: cloudflare

#19534 Update `Oracle Cloud` extension - (Confirm and) Terminate Instance + Add "Open in OCI" `Action`
  extensions/oci/.eslintrc.json
  extensions/oci/CHANGELOG.md
  extensions/oci/README.md
  extensions/oci/eslint.config.js
  extensions/oci/package-lock.json
  extensions/oci/package.json
  extensions/oci/src/core.tsx
  extensions/oci/src/open-in-oci.tsx
  extensions/oci/src/utils.ts
Labels: extension fix / improvement, OP is author, extension: oci

#19580 Update Ext/window sizer
  extensions/window-sizer/CHANGELOG.md
  extensions/window-sizer/README.md
Labels: extension fix / improvement, OP is author, extension: window-sizer

#19595 Update system-monitor extension
  extensions/system-monitor/CHANGELOG.md
  extensions/system-monitor/src/utils.ts
Labels: extension fix / improvement, OP is contributor, extension: system-monitor

#19589 feat: Add history command
  extensions/summarize-youtube-video-with-ai/.eslintrc.json
  extensions/summarize-youtube-video-with-ai/CHANGELOG.md
  extensions/summarize-youtube-video-with-ai/README.md
  extensions/summarize-youtube-video-with-ai/eslint.config.mjs
  extensions/summarize-youtube-video-with-ai/package-lock.json
  extensions/summarize-youtube-video-with-ai/package.json
  extensions/summarize-youtube-video-with-ai/src/components/anthropic/hooks/useAnthropicFollowUpQuestion.ts
  extensions/summarize-youtube-video-with-ai/src/components/anthropic/hooks/useAnthropicSummary.ts
  extensions/summarize-youtube-video-with-ai/src/components/ollama/hooks/useOllamaFollowUpQuestion.ts
  extensions/summarize-youtube-video-with-ai/src/components/ollama/hooks/useOllamaSummary.ts
  extensions/summarize-youtube-video-with-ai/src/components/openai/hooks/useOpenAIFollowUpQuestion.ts
  extensions/summarize-youtube-video-with-ai/src/components/openai/hooks/useOpenAISummary.ts
  extensions/summarize-youtube-video-with-ai/src/components/raycast/hooks/useRaycastFollowUpQuestion.ts
  extensions/summarize-youtube-video-with-ai/src/components/raycast/hooks/useRaycastSummary.ts
  extensions/summarize-youtube-video-with-ai/src/components/summary/FollowUpList.tsx
  extensions/summarize-youtube-video-with-ai/src/components/summary/SummaryActions.tsx
  extensions/summarize-youtube-video-with-ai/src/components/summary/SummaryDetails.tsx
  extensions/summarize-youtube-video-with-ai/src/components/summary/SummaryMetadata.tsx
  extensions/summarize-youtube-video-with-ai/src/const/aiService.ts
  extensions/summarize-youtube-video-with-ai/src/const/command_names.ts
  extensions/summarize-youtube-video-with-ai/src/const/defaults.ts
  extensions/summarize-youtube-video-with-ai/src/const/toast_messages.ts
  extensions/summarize-youtube-video-with-ai/src/hooks/useGetVideoUrl.ts
  extensions/summarize-youtube-video-with-ai/src/hooks/useHistory.ts
  extensions/summarize-youtube-video-with-ai/src/hooks/useQuestions.ts
  extensions/summarize-youtube-video-with-ai/src/hooks/useVideoData.ts
  extensions/summarize-youtube-video-with-ai/src/summarizeVideoHistory.tsx
  extensions/summarize-youtube-video-with-ai/src/summarizeVideoWithAnthropic.tsx
  extensions/summarize-youtube-video-with-ai/src/summarizeVideoWithOllama.tsx
  extensions/summarize-youtube-video-with-ai/src/summarizeVideoWithOpenAI.tsx
  extensions/summarize-youtube-video-with-ai/src/summarizeVideoWithRaycast.tsx
  extensions/summarize-youtube-video-with-ai/src/utils/getVideoData.ts
  extensions/summarize-youtube-video-with-ai/src/utils/splitTranscript.ts
Labels: extension fix / improvement, OP is author, extension: summarize-youtube-video-with-ai

#19558 Update awork extension
  extensions/awork/CHANGELOG.md
  extensions/awork/metadata/awork-1.png
  extensions/awork/metadata/awork-3.png
  extensions/awork/src/composables/FetchData.ts
  extensions/awork/src/composables/WebClient.ts
  extensions/awork/src/projects.tsx
  extensions/awork/src/tasks.tsx
Labels: extension fix / improvement, OP is author, extension: awork

#19343 Apple reminders/show which list reminder is from
  extensions/apple-reminders/CHANGELOG.md
  extensions/apple-reminders/package-lock.json
  extensions/apple-reminders/package.json
  extensions/apple-reminders/src/menu-bar.tsx
Labels: extension fix / improvement, extension: apple-reminders

#19598 Update prism-launcher extension
  extensions/prism-launcher/CHANGELOG.md
  extensions/prism-launcher/README.md
  extensions/prism-launcher/src/index.tsx
Labels: extension fix / improvement, OP is contributor, extension: prism-launcher

#19584 [United Nations] Maintenance & fix news format
  extensions/united-nations/.eslintrc.json
  extensions/united-nations/CHANGELOG.md
  extensions/united-nations/eslint.config.mjs
  extensions/united-nations/package-lock.json
  extensions/united-nations/package.json
  extensions/united-nations/src/api.ts
  extensions/united-nations/src/utils.ts
Labels: extension fix / improvement, OP is author, extension: united-nations

#19599 Update prism-launcher extension
  extensions/prism-launcher/metadata/prism-launcher-1.png
  extensions/prism-launcher/metadata/prism-launcher-2.png
  extensions/prism-launcher/package.json
Labels: extension fix / improvement, OP is contributor, extension: prism-launcher

#19478 [Brand Icons] Add compatibility with Simple Icons 15
  extensions/simple-icons/.eslintrc.json
  extensions/simple-icons/CHANGELOG.md
  extensions/simple-icons/eslint.config.mjs
  extensions/simple-icons/package-lock.json
  extensions/simple-icons/package.json
  extensions/simple-icons/src/actions.tsx
  extensions/simple-icons/src/index.tsx
  extensions/simple-icons/src/utils.ts
  extensions/simple-icons/src/vender/simple-icons-sdk.ts
Labels: extension fix / improvement, OP is author, extension: simple-icons

#19500 add Open Documentation
  extensions/hammerspoon/CHANGELOG.md
  extensions/hammerspoon/package.json
  extensions/hammerspoon/src/open-documentation.ts
  extensions/hammerspoon/src/reload-configuration-file.ts
Labels: extension fix / improvement, extension: hammerspoon

#19616 [Bitwarden] Fix Authenticator "TypeError: t is not a function"
  extensions/bitwarden/CHANGELOG.md
  extensions/bitwarden/src/authenticator.tsx
Labels: extension fix / improvement, OP is author, extension: bitwarden

#19463 Add diff-view extension
  extensions/diff-view/.gitignore
  extensions/diff-view/.prettierrc
  extensions/diff-view/CHANGELOG.md
  extensions/diff-view/README.md
  extensions/diff-view/assets/extension-icon.png
  extensions/diff-view/eslint.config.js
  extensions/diff-view/media/diff-view-command.png
  extensions/diff-view/media/diff-view-demo.gif
  extensions/diff-view/media/diff-view-preferences.png
  extensions/diff-view/package-lock.json
  extensions/diff-view/package.json
  extensions/diff-view/src/diff-view.ts
  extensions/diff-view/tsconfig.json
Labels: new extension

#17468 [GitHub] Add preference to exclude repositories from other commands
  extensions/github/CHANGELOG.md
  extensions/github/package.json
  extensions/github/src/generated/graphql.ts
  extensions/github/src/helpers/repository.ts
  extensions/github/src/hooks/useMyIssues.ts
  extensions/github/src/hooks/useMyPullRequests.ts
  extensions/github/src/my-issues-menu.tsx
  extensions/github/src/my-issues.tsx
  extensions/github/src/my-pull-requests-menu.tsx
  extensions/github/src/my-pull-requests.tsx
Labels: extension fix / improvement, extension: github

#19521 Improve Flight Details Layout: Combined Times & Side-by-Side Terminal/Gate
  extensions/flighty/CHANGELOG.md
  extensions/flighty/package.json
  extensions/flighty/src/view-flights.tsx
Labels: extension fix / improvement, extension: flighty

#19624 Add open-latest-url-from-clipboard extension
  extensions/open-latest-url-from-clipboard/.gitignore
  extensions/open-latest-url-from-clipboard/.prettierrc
  extensions/open-latest-url-from-clipboard/CHANGELOG.md
  extensions/open-latest-url-from-clipboard/README.md
  extensions/open-latest-url-from-clipboard/assets/icon.png
  extensions/open-latest-url-from-clipboard/eslint.config.js
  extensions/open-latest-url-from-clipboard/package-lock.json
  extensions/open-latest-url-from-clipboard/package.json
  extensions/open-latest-url-from-clipboard/src/open-latest-url-from-clipboard.ts
  extensions/open-latest-url-from-clipboard/tsconfig.json
Labels: new extension

#19472 Updated the URL for the Prisma MCP server
  extensions/model-context-protocol-registry/CHANGELOG.md
  extensions/model-context-protocol-registry/src/registries/builtin/entries.ts
Labels: extension fix / improvement, extension: model-context-protocol-registry

#19532 Add whisper-dictation extension
  extensions/whisper-dictation/.gitignore
  extensions/whisper-dictation/.prettierrc
  extensions/whisper-dictation/CHANGELOG.md
  extensions/whisper-dictation/README.md
  extensions/whisper-dictation/assets/extension-icon.png
  extensions/whisper-dictation/eslint.config.js
  extensions/whisper-dictation/metadata/configure-ai.png
  extensions/whisper-dictation/metadata/dictate-prompt-selection.png
  extensions/whisper-dictation/metadata/download-models.png
  extensions/whisper-dictation/metadata/history.png
  extensions/whisper-dictation/metadata/recording.png
  extensions/whisper-dictation/metadata/transcribed.png
  extensions/whisper-dictation/package-lock.json
  extensions/whisper-dictation/package.json
  extensions/whisper-dictation/src/configure-ai.tsx
  extensions/whisper-dictation/src/dictate.tsx
  extensions/whisper-dictation/src/dictation-history.tsx
  extensions/whisper-dictation/src/download-model.tsx
  extensions/whisper-dictation/src/hooks/useAIRefinement.ts
  extensions/whisper-dictation/src/hooks/useConfiguration.ts
  extensions/whisper-dictation/src/hooks/useRecording.ts
  extensions/whisper-dictation/src/hooks/useTranscription.ts
  extensions/whisper-dictation/tsconfig.json
Labels: new extension

#19601 Update prism-launcher extension
  extensions/prism-launcher/CHANGELOG.md
  extensions/prism-launcher/README.md
  extensions/prism-launcher/assets/extension-icon.png
Labels: extension fix / improvement, OP is contributor, extension: prism-launcher

#19258 Update quick-event extension
  extensions/quick-event/CHANGELOG.md
  extensions/quick-event/src/useCalendar.tsx
Labels: extension fix / improvement, OP is contributor, extension: quick-event

#19676 Update project-code-to-text extension
  extensions/project-code-to-text/CHANGELOG.md
  extensions/project-code-to-text/metadata/project-code-to-text-1.png
  extensions/project-code-to-text/metadata/project-code-to-text-2.png
  extensions/project-code-to-text/metadata/project-code-to-text-3.png
  extensions/project-code-to-text/src/constants.ts
  extensions/project-code-to-text/src/fileProcessor.ts
  extensions/project-code-to-text/src/generate-project-code.tsx
  extensions/project-code-to-text/src/types.ts
Labels: extension fix / improvement, OP is author, extension: project-code-to-text

#19652 Update `HubSpot` extension - You can now `copy` some properties of a Contact through new "Copy to Clipboard..." submenu
  extensions/hubspot/.eslintrc.json
  extensions/hubspot/CHANGELOG.md
  extensions/hubspot/eslint.config.js
  extensions/hubspot/package-lock.json
  extensions/hubspot/package.json
  extensions/hubspot/src/companies.tsx
  extensions/hubspot/src/contacts.tsx
  extensions/hubspot/src/hooks/useAuthHeaders.ts
  extensions/hubspot/tsconfig.json
Labels: extension fix / improvement, extension: hubspot

#19677 Add rize-io-sessions extension
  extensions/rize-io-sessions/.gitignore
  extensions/rize-io-sessions/CHANGELOG.md
  extensions/rize-io-sessions/LICENSE
  extensions/rize-io-sessions/README.md
  extensions/rize-io-sessions/assets/black-orb.png
  extensions/rize-io-sessions/eslint.config.js
  extensions/rize-io-sessions/metadata/rize-io-sessions-1.png
  extensions/rize-io-sessions/metadata/rize-io-sessions-2.png
  extensions/rize-io-sessions/metadata/rize-io-sessions-3.png
  extensions/rize-io-sessions/metadata/rize-io-sessions-4.png
  extensions/rize-io-sessions/package-lock.json
  extensions/rize-io-sessions/package.json
  extensions/rize-io-sessions/src/extend-session.tsx
  extensions/rize-io-sessions/src/start-session.tsx
  extensions/rize-io-sessions/src/stop-session.tsx
  extensions/rize-io-sessions/tsconfig.json
Labels: new extension

#19607 Add force kill to kill-process extension
  extensions/kill-process/.gitignore
  extensions/kill-process/CHANGELOG.md
  extensions/kill-process/package.json
  extensions/kill-process/src/index.tsx
Labels: extension fix / improvement, extension: kill-process

#19681 Update grammaring extension
  extensions/grammaring/CHANGELOG.md
  extensions/grammaring/README.md
  extensions/grammaring/assets/icon.png
  extensions/grammaring/src/utils.ts
Labels: extension fix / improvement, OP is author, extension: grammaring

#19687 Update code-saver extension
  extensions/code-saver/CHANGELOG.md
  extensions/code-saver/metadata/code-saver-8.png
  extensions/code-saver/package-lock.json
  extensions/code-saver/package.json
  extensions/code-saver/src/components/init/init-tasks.ts
  extensions/code-saver/src/lib/utils/download-file.ts
Labels: extension fix / improvement, OP is author, extension: code-saver

#19567 Add chhoto-url extension
  extensions/chhoto/.gitignore
  extensions/chhoto/CHANGELOG.md
  extensions/chhoto/README.md
  extensions/chhoto/assets/extension-icon.png
  extensions/chhoto/eslint.config.js
  extensions/chhoto/metadata/chhoto-1.png
  extensions/chhoto/metadata/chhoto-3.png
  extensions/chhoto/package-lock.json
  extensions/chhoto/package.json
  extensions/chhoto/src/auth.ts
  extensions/chhoto/src/list-urls.tsx
  extensions/chhoto/src/shorten-url.tsx
  extensions/chhoto/src/types.ts
  extensions/chhoto/tsconfig.json
Labels: new extension

#19611 Update zen-browser extension
  extensions/zen-browser/CHANGELOG.md
  extensions/zen-browser/src/actions/index.ts
Labels: extension fix / improvement, OP is contributor, extension: zen-browser

#19663 [Folder-Search] - Major Improvements: Bug Fixes, Error Handling, Performance
  extensions/folder-search/CHANGELOG.md
  extensions/folder-search/plugins/Open Path.js
  extensions/folder-search/plugins/test-plugin.js
  extensions/folder-search/src/components/Directory.tsx
  extensions/folder-search/src/constants.ts
  extensions/folder-search/src/hooks/index.tsx
  extensions/folder-search/src/hooks/useCommandBase.tsx
  extensions/folder-search/src/hooks/useFolderSearch.tsx
  extensions/folder-search/src/hooks/usePinManagement.tsx
  extensions/folder-search/src/hooks/usePinStorage.tsx
  extensions/folder-search/src/hooks/usePluginManagement.tsx
  extensions/folder-search/src/hooks/usePreferences.tsx
  extensions/folder-search/src/hooks/useSearchDebounce.tsx
  extensions/folder-search/src/hooks/useSearchResults.tsx
  extensions/folder-search/src/move.tsx
  extensions/folder-search/src/search-spotlight.tsx
  extensions/folder-search/src/search.tsx
  extensions/folder-search/src/utils.tsx
Labels: extension fix / improvement, OP is contributor, extension: folder-search

#19629 Update web3bio extension
  extensions/web3bio/CHANGELOG.md
  extensions/web3bio/README.md
  extensions/web3bio/assets/icons/icon-linea.svg
  extensions/web3bio/assets/icons/icon-sns.svg
  extensions/web3bio/assets/icons/icon-solana.svg
  extensions/web3bio/assets/web3bio-app-icon.png
  extensions/web3bio/assets/web3bio-logo.png
  extensions/web3bio/eslint.config.mjs
  extensions/web3bio/package-lock.json
  extensions/web3bio/package.json
  extensions/web3bio/src/utils/utils.ts
  extensions/web3bio/src/web3bio.tsx
Labels: extension fix / improvement, OP is author, extension: web3bio

#19761 Update google-scholar extension
  extensions/google-scholar/CHANGELOG.md
  extensions/google-scholar/README.md
  extensions/google-scholar/metadata/google-scholar-1.png
  extensions/google-scholar/package-lock.json
  extensions/google-scholar/package.json
  extensions/google-scholar/src/components/FormComponent.tsx
  extensions/google-scholar/src/components/SearchResultsComponent.tsx
  extensions/google-scholar/src/constants.ts
  extensions/google-scholar/src/search-articles.tsx
  extensions/google-scholar/src/show-bookmarks.tsx
  extensions/google-scholar/src/tools/checkIfArticleIsBookmarked.ts
  extensions/google-scholar/src/tools/getSavedBookmarks.ts
  extensions/google-scholar/src/tools/search-scholar.ts
  extensions/google-scholar/src/tools/toggleArticleBookmark.ts
  extensions/google-scholar/src/utils/bibtex.ts
  extensions/google-scholar/src/utils/bookmarks.ts
  extensions/google-scholar/src/utils/cache.ts
  extensions/google-scholar/src/utils/parser.ts
  extensions/google-scholar/src/utils/userAgents.ts
Labels: extension fix / improvement, OP is author, extension: google-scholar

#19725 chore: update firecrawl version + add integration parameter
  extensions/firecrawl/.eslintrc.json
  extensions/firecrawl/CHANGELOG.md
  extensions/firecrawl/eslint.config.js
  extensions/firecrawl/package-lock.json
  extensions/firecrawl/package.json
  extensions/firecrawl/src/tools/deep-research.ts
  extensions/firecrawl/src/tools/extract.ts
  extensions/firecrawl/src/tools/scrape.ts
  extensions/firecrawl/src/tools/search-web.ts
Labels: extension fix / improvement, OP is contributor, extension: firecrawl

#19747 fix: only index field must be required others if not input should fall to defaultValue
  extensions/twenty/CHANGELOG.md
  extensions/twenty/src/helper/createValidationsForRest.ts
Labels: extension fix / improvement, OP is author, extension: twenty

#19639 docs: update Shadcn Vue icon path
  extensions/shadcn-vue/CHANGELOG.md
  extensions/shadcn-vue/README.md
Labels: extension fix / improvement, OP is author, extension: shadcn-vue

#19450 Fix search authentication errors - resolves #19400
  extensions/ratingsdb/CHANGELOG.md
  extensions/ratingsdb/src/search-ratings.tsx
  extensions/ratingsdb/src/utils/requests.ts
Labels: extension fix / improvement, status: stalled, extension: ratingsdb

#19649 Expected Delivery Date Formatting Overhaul
  extensions/parcel/CHANGELOG.md
  extensions/parcel/src/my-deliveries.tsx
Labels: extension fix / improvement, OP is contributor, extension: parcel

#19771 Add priority levels mapping
  extensions/todoist/CHANGELOG.md
  extensions/todoist/package-lock.json
  extensions/todoist/package.json
  extensions/todoist/src/helpers/priorities.ts
  extensions/todoist/src/tools/create-task.ts
  extensions/todoist/src/tools/get-tasks.ts
  extensions/todoist/src/tools/update-task.ts
Labels: extension fix / improvement, extension: todoist

#19543 [Hookmark Search] Fix bookmark properties encoding
  extensions/search-hookmark/CHANGELOG.md
  extensions/search-hookmark/src/search-hookmark.tsx
  extensions/search-hookmark/src/show-hooked-link.tsx
  extensions/search-hookmark/src/utils/BookmarkListSection.tsx
  extensions/search-hookmark/src/utils/hookmark.tsx
Labels: extension fix / improvement, extension: search-hookmark

#19631 add ai incident search to incident.io extension
  extensions/incident-io/CHANGELOG.md
  extensions/incident-io/README.md
  extensions/incident-io/package-lock.json
  extensions/incident-io/package.json
  extensions/incident-io/src/ai-incident-search.tsx
  extensions/incident-io/src/hooks/useAIIncidentSearch.tsx
Labels: extension fix / improvement, extension: incident-io

#19775 Update `Geist UI Components` extension - Modernize + Update Logo + Add Hooks, metadata images
  extensions/geist-ui-components/.eslintrc.json
  extensions/geist-ui-components/CHANGELOG.md
  extensions/geist-ui-components/README.md
  extensions/geist-ui-components/assets/command-icon.png
  extensions/geist-ui-components/assets/extension_icon.png
  extensions/geist-ui-components/assets/geist-banner-dark.png
  extensions/geist-ui-components/eslint.config.js
  extensions/geist-ui-components/metadata/geist-ui-components-1.png
  extensions/geist-ui-components/metadata/geist-ui-components-2.png
  extensions/geist-ui-components/package-lock.json
  extensions/geist-ui-components/package.json
  extensions/geist-ui-components/src/geist-ui-hooks.tsx
  extensions/geist-ui-components/tsconfig.json
Labels: extension fix / improvement, extension: geist-ui-components

#19668 Add `Dokploy` extension - Add Instances then manage services and docker containers
  extensions/dokploy/.gitignore
  extensions/dokploy/.prettierrc
  extensions/dokploy/CHANGELOG.md
  extensions/dokploy/README.md
  extensions/dokploy/assets/blocks.svg
  extensions/dokploy/assets/circuit-board.svg
  extensions/dokploy/assets/database.svg
  extensions/dokploy/assets/extension-icon.png
  extensions/dokploy/assets/folder-input.svg
  extensions/dokploy/assets/mariadb.svg
  extensions/dokploy/assets/mongo.svg
  extensions/dokploy/assets/mysql.svg
  extensions/dokploy/assets/postgres.svg
  extensions/dokploy/assets/redis.svg
  extensions/dokploy/eslint.config.js
  extensions/dokploy/metadata/dokploy-1.png
  extensions/dokploy/metadata/dokploy-2.png
  extensions/dokploy/package-lock.json
  extensions/dokploy/package.json
  extensions/dokploy/src/docker.tsx
  extensions/dokploy/src/instances.tsx
  extensions/dokploy/src/interfaces.ts
  extensions/dokploy/src/projects.tsx
  extensions/dokploy/src/services.tsx
  extensions/dokploy/src/users.tsx
  extensions/dokploy/tsconfig.json
Labels: new extension

#19773 chore: update icon path in the README.md file
  extensions/shadcn-vue/CHANGELOG.md
  extensions/shadcn-vue/README.md
Labels: extension fix / improvement, OP is author, extension: shadcn-vue

#19658 [Hue] Fix certificate handling
  extensions/hue/CHANGELOG.md
  extensions/hue/assets/huebridge_cacert.pem
  extensions/hue/package-lock.json
  extensions/hue/src/components/ManageHueBridge.tsx
  extensions/hue/src/controlGroups.tsx
  extensions/hue/src/controlLights.tsx
  extensions/hue/src/helpers/hueNetworking.ts
  extensions/hue/src/lib/createHueClient.ts
  extensions/hue/src/lib/hueBridgeMachine.ts
  extensions/hue/src/lib/linkWithBridge.ts
  extensions/hue/src/lib/types.ts
  extensions/hue/src/setScene.tsx
Labels: extension fix / improvement, OP is author, extension: hue

#19679 Add clipboard-sequential-paste extension
  extensions/clipboard-sequential-paste/.gitignore
  extensions/clipboard-sequential-paste/.prettierrc
  extensions/clipboard-sequential-paste/CHANGELOG.md
  extensions/clipboard-sequential-paste/README.md
  extensions/clipboard-sequential-paste/assets/extension-icon.png
  extensions/clipboard-sequential-paste/eslint.config.js
  extensions/clipboard-sequential-paste/metadata/clipboard-sequential-paste-2.png
  extensions/clipboard-sequential-paste/package-lock.json
  extensions/clipboard-sequential-paste/package.json
  extensions/clipboard-sequential-paste/src/paste-next-item.ts
  extensions/clipboard-sequential-paste/tsconfig.json
Labels: new extension

#19682 Add Creation Date option for sorting
  extensions/apple-reminders/CHANGELOG.md
  extensions/apple-reminders/src/hooks/useData.ts
  extensions/apple-reminders/src/hooks/useViewReminders.ts
  extensions/apple-reminders/swift/AppleReminders/Sources/EventKit+Additions.swift
  extensions/apple-reminders/swift/AppleReminders/Sources/Reminders.swift
Labels: extension fix / improvement, OP is contributor, extension: apple-reminders

#19685 Add AWS Audit Manager and update Amazon Bedrock details in aws-servic…
  extensions/amazon-aws/CHANGELOG.md
  extensions/amazon-aws/assets/aws-icons/bedrock.png
  extensions/amazon-aws/assets/aws-services.json
Labels: extension fix / improvement, extension: amazon-aws

#19650 Add shutdown-timer extension
  extensions/shutdown-timer/.gitignore
  extensions/shutdown-timer/.prettierrc
  extensions/shutdown-timer/.prettierrc.json
  extensions/shutdown-timer/CHANGELOG.md
  extensions/shutdown-timer/README.md
  extensions/shutdown-timer/assets/power-icon.png
  extensions/shutdown-timer/eslint.config.js
  extensions/shutdown-timer/metadata/shutdown-timer-1.png
  extensions/shutdown-timer/package-lock.json
  extensions/shutdown-timer/package.json
  extensions/shutdown-timer/src/remaining-time.ts
  extensions/shutdown-timer/src/schedule-shutdown.tsx
  extensions/shutdown-timer/src/stop-shutdown.ts
  extensions/shutdown-timer/tsconfig.json
Labels: new extension

#19661 Add url-editor-pro extension
  extensions/url-editor-pro/.gitignore
  extensions/url-editor-pro/.prettierrc
  extensions/url-editor-pro/CHANGELOG.md
  extensions/url-editor-pro/README.md
  extensions/url-editor-pro/assets/extension-icon.png
  extensions/url-editor-pro/eslint.config.js
  extensions/url-editor-pro/metadata/url-editor-pro-1.png
  extensions/url-editor-pro/metadata/url-editor-pro-2.png
  extensions/url-editor-pro/metadata/url-editor-pro-3.png
  extensions/url-editor-pro/metadata/url-editor-pro-4.png
  extensions/url-editor-pro/metadata/url-editor-pro-5.png
  extensions/url-editor-pro/package-lock.json
  extensions/url-editor-pro/package.json
  extensions/url-editor-pro/src/edit-url-form.tsx
  extensions/url-editor-pro/src/types.ts
  extensions/url-editor-pro/src/url-editor-pro.tsx
  extensions/url-editor-pro/src/utils.tsx
  extensions/url-editor-pro/tsconfig.json
Labels: new extension

#19295 Add chronometer extension
  extensions/chronometer/.gitignore
  extensions/chronometer/.prettierrc
  extensions/chronometer/CHANGELOG.md
  extensions/chronometer/README.md
  extensions/chronometer/assets/extension-icon.png
  extensions/chronometer/eslint.config.js
  extensions/chronometer/metadata/chronometer-0.png
  extensions/chronometer/metadata/chronometer-1.png
  extensions/chronometer/package-lock.json
  extensions/chronometer/package.json
  extensions/chronometer/src/index.tsx
  extensions/chronometer/src/lap-chrono.tsx
  extensions/chronometer/src/start-chrono.tsx
  extensions/chronometer/src/state.ts
  extensions/chronometer/src/stop-chrono.tsx
  extensions/chronometer/tsconfig.json
Labels: new extension

#19837 Update wip extension
  extensions/wip/CHANGELOG.md
  extensions/wip/src/oauth/wip.tsx
Labels: extension fix / improvement, OP is author, extension: wip

#19802 Add `Keygen` extension - View Licenses & Policies + Create Licenses & Policies
  extensions/keygen/.gitignore
  extensions/keygen/.prettierrc
  extensions/keygen/CHANGELOG.md
  extensions/keygen/README.md
  extensions/keygen/assets/extension_icon.png
  extensions/keygen/assets/logo.png
  extensions/keygen/eslint.config.js
  extensions/keygen/metadata/keygen-1.png
  extensions/keygen/metadata/keygen-2.png
  extensions/keygen/package-lock.json
  extensions/keygen/package.json
  extensions/keygen/src/interfaces.ts
  extensions/keygen/src/keygen.ts
  extensions/keygen/src/licenses.tsx
  extensions/keygen/src/open-in-keygen.tsx
  extensions/keygen/src/policies.tsx
  extensions/keygen/tsconfig.json
Labels: new extension

#19801 Update mozilla icon
  extensions/mozilla-vpn/CHANGELOG.md
  extensions/mozilla-vpn/assets/MozillaVPN.png
  extensions/mozilla-vpn/package-lock.json
  extensions/mozilla-vpn/package.json
  extensions/mozilla-vpn/src/components/checkLogin.tsx
  extensions/mozilla-vpn/src/index.tsx
  extensions/mozilla-vpn/src/toggleVpn.tsx
  extensions/mozilla-vpn/src/utils/serverUtils.ts
Labels: extension fix / improvement, OP is author, extension: mozilla-vpn

#19502 Adds glossary extension
  extensions/glossary/CHANGELOG.md
  extensions/glossary/README.md
  extensions/glossary/assets/extension-icon.png
  extensions/glossary/eslint.config.js
  extensions/glossary/metadata/glossary-1.png
  extensions/glossary/metadata/glossary-2.png
  extensions/glossary/package-lock.json
  extensions/glossary/package.json
  extensions/glossary/src/data-store.ts
  extensions/glossary/src/edit-term.tsx
  extensions/glossary/src/export-terms.tsx
  extensions/glossary/src/import-terms.tsx
  extensions/glossary/src/index.tsx
  extensions/glossary/src/insert-term.tsx
  extensions/glossary/src/preferences-store.ts
  extensions/glossary/src/search-in-the-glossary.tsx
  extensions/glossary/tsconfig.json
Labels: new extension

#19881 Update zeabur extension
  extensions/zeabur/CHANGELOG.md
  extensions/zeabur/README.md
  extensions/zeabur/package-lock.json
  extensions/zeabur/package.json
  extensions/zeabur/src/components/project-deployments-item.tsx
  extensions/zeabur/src/components/project-deployments.tsx
  extensions/zeabur/src/components/project-services.tsx
  extensions/zeabur/src/constants/queries.ts
  extensions/zeabur/src/manage-projects.tsx
  extensions/zeabur/src/type.ts
  extensions/zeabur/src/utils/zeabur-graphql.ts
Labels: extension fix / improvement, OP is author, extension: zeabur

#19873 Ext/popcorn: Fix stream selection bug, and added more support for other addons
  extensions/popcorn/CHANGELOG.md
  extensions/popcorn/README.md
  extensions/popcorn/package.json
  extensions/popcorn/src/components/EpisodeList.tsx
  extensions/popcorn/src/components/SearchResults.tsx
  extensions/popcorn/src/components/StreamList.tsx
  extensions/popcorn/src/components/TermsAcknowledgement.tsx
  extensions/popcorn/src/hooks/useLocalStorage.ts
  extensions/popcorn/src/hooks/useStremioApi.ts
  extensions/popcorn/src/search-streams.tsx
  extensions/popcorn/src/types/index.ts
Labels: extension fix / improvement, OP is author, extension: popcorn

#19850 Update slugify-file-folder-names extension
  extensions/slugify-file-folder-names/CHANGELOG.md
  extensions/slugify-file-folder-names/assets/extension-icon.png
Labels: extension fix / improvement, OP is author, extension: slugify-file-folder-names

#19841 Folder search/drag n drop
  extensions/folder-search/CHANGELOG.md
  extensions/folder-search/package.json
  extensions/folder-search/src/components/FolderListSection.tsx
  extensions/folder-search/src/move.tsx
  extensions/folder-search/src/moveUtils.tsx
  extensions/folder-search/src/search.tsx
  extensions/folder-search/src/types.tsx
Labels: extension fix / improvement, OP is contributor, extension: folder-search

#19770 Add beehiiv extension
  extensions/beehiiv/.eslintrc.json
  extensions/beehiiv/.gitignore
  extensions/beehiiv/.prettierrc
  extensions/beehiiv/CHANGELOG.md
  extensions/beehiiv/README.md
  extensions/beehiiv/assets/beehiiv.png
  extensions/beehiiv/assets/bees.png
  extensions/beehiiv/assets/extension-icon.png
  extensions/beehiiv/metadata/beehiiv-1.png
  extensions/beehiiv/metadata/beehiiv-2.png
  extensions/beehiiv/metadata/beehiiv-3.png
  extensions/beehiiv/package-lock.json
  extensions/beehiiv/package.json
  extensions/beehiiv/src/menubar-count-subscribers.tsx
  extensions/beehiiv/src/menubar-last-email.tsx
  extensions/beehiiv/src/search-posts.tsx
  extensions/beehiiv/src/search-subscribers.tsx
  extensions/beehiiv/tsconfig.json
Labels: new extension

#19889 [Find OpenGL Enum] Use npm official registry
  extensions/find-opengl-enum/.eslintrc.json
  extensions/find-opengl-enum/CHANGELOG.md
  extensions/find-opengl-enum/eslint.config.mjs
  extensions/find-opengl-enum/package-lock.json
  extensions/find-opengl-enum/package.json
Labels: extension fix / improvement, extension: find-opengl-enum

#19893 [Akkoma] Use the npm official registry
  extensions/akkoma/.eslintrc.json
  extensions/akkoma/CHANGELOG.md
  extensions/akkoma/eslint.config.mjs
  extensions/akkoma/package-lock.json
  extensions/akkoma/package.json
  extensions/akkoma/src/simple-status.tsx
  extensions/akkoma/src/utils/api.ts
  extensions/akkoma/src/utils/oauth.ts
  extensions/akkoma/src/utils/util.ts
Labels: extension fix / improvement, extension: akkoma

#19891 [Bitbucket Search] Use the npm official registry
  extensions/bitbucket/.eslintrc.json
  extensions/bitbucket/CHANGELOG.md
  extensions/bitbucket/eslint.config.mjs
  extensions/bitbucket/package-lock.json
  extensions/bitbucket/package.json
  extensions/bitbucket/src/components/pullRequests/searchMyPullRequests.tsx
  extensions/bitbucket/src/components/repository/actions.tsx
  extensions/bitbucket/src/components/repository/interface/index.ts
  extensions/bitbucket/src/components/repository/pipelinesList.tsx
  extensions/bitbucket/src/components/repository/pullRequestsList.tsx
  extensions/bitbucket/src/components/repository/searchRepositories.tsx
  extensions/bitbucket/src/helpers/cache.ts
  extensions/bitbucket/src/queries/index.ts
Labels: extension fix / improvement, extension: bitbucket

#19781 Add loan-calculator extension
  extensions/loan-calculator/.gitignore
  extensions/loan-calculator/.prettierrc
  extensions/loan-calculator/CHANGELOG.md
  extensions/loan-calculator/README.md
  extensions/loan-calculator/assets/icon.png
  extensions/loan-calculator/eslint.config.js
  extensions/loan-calculator/metadata/loan-calculator-1.png
  extensions/loan-calculator/metadata/loan-calculator-2.png
  extensions/loan-calculator/package-lock.json
  extensions/loan-calculator/package.json
  extensions/loan-calculator/src/calculate.tsx
  extensions/loan-calculator/src/components/ResultsView.tsx
  extensions/loan-calculator/src/helpers/types.ts
  extensions/loan-calculator/src/helpers/utils.ts
  extensions/loan-calculator/tsconfig.json
Labels: new extension

#19783 [dust-tt] update auth provider
  extensions/dust-tt/CHANGELOG.md
  extensions/dust-tt/package.json
  extensions/dust-tt/src/answerQuestion.tsx
  extensions/dust-tt/src/dust_api/oauth.tsx
Labels: extension fix / improvement, extension: dust-tt

#19705 Add open-in-trae extension
  extensions/open-in-trae/.gitignore
  extensions/open-in-trae/.prettierrc
  extensions/open-in-trae/CHANGELOG.md
  extensions/open-in-trae/README.md
  extensions/open-in-trae/assets/extension_icon.png
  extensions/open-in-trae/eslint.config.js
  extensions/open-in-trae/package-lock.json
  extensions/open-in-trae/package.json
  extensions/open-in-trae/src/index.ts
  extensions/open-in-trae/tsconfig.json
Labels: new extension

#19831 Add openrouter extension
  extensions/openrouter-model-search/.gitignore
  extensions/openrouter-model-search/.prettierrc
  extensions/openrouter-model-search/CHANGELOG.md
  extensions/openrouter-model-search/README.md
  extensions/openrouter-model-search/assets/extension-icon.png
  extensions/openrouter-model-search/eslint.config.js
  extensions/openrouter-model-search/metadata/openrouter-1.png
  extensions/openrouter-model-search/metadata/openrouter-2.png
  extensions/openrouter-model-search/metadata/openrouter-3.png
  extensions/openrouter-model-search/package-lock.json
  extensions/openrouter-model-search/package.json
  extensions/openrouter-model-search/src/hooks/useModels.ts
  extensions/openrouter-model-search/src/lib/model-to-icon.ts
  extensions/openrouter-model-search/src/search-openrouter.tsx
  extensions/openrouter-model-search/src/types.ts
  extensions/openrouter-model-search/tsconfig.json
Labels: new extension

#19769 [Gitlab] Add issue filter on issues menu item
  extensions/gitlab/CHANGELOG.md
  extensions/gitlab/package-lock.json
  extensions/gitlab/package.json
  extensions/gitlab/src/components/commits/item.tsx
  extensions/gitlab/src/components/issues_my.tsx
  extensions/gitlab/src/components/mr_create.tsx
  extensions/gitlab/src/gitlabapi.ts
  extensions/gitlab/src/issuemenu.tsx
Labels: extension fix / improvement, extension: gitlab

#19904 [ClickUp] persist priority on create (super minor fix) + add some missing icons
  extensions/clickup/CHANGELOG.md
  extensions/clickup/src/capture.tsx
  extensions/clickup/src/explore.tsx
  extensions/clickup/src/views/SpaceFolders.tsx
  extensions/clickup/src/views/TeamSpaces.tsx
Labels: extension fix / improvement, OP is contributor, extension: clickup

#19901 [Confluence Search] Use the npm official registry
  extensions/confluence-search/.eslintrc.json
  extensions/confluence-search/CHANGELOG.md
  extensions/confluence-search/eslint.config.mjs
  extensions/confluence-search/package-lock.json
  extensions/confluence-search/package.json
  extensions/confluence-search/src/SearchResults/SearchActions.tsx
  extensions/confluence-search/src/SearchResults/SearchListItem.tsx
  extensions/confluence-search/src/api/confluence.tsx
  extensions/confluence-search/src/api/oauth.tsx
  extensions/confluence-search/src/new-blog.tsx
  extensions/confluence-search/src/new-page.tsx
  extensions/confluence-search/src/people.tsx
  extensions/confluence-search/src/popular.tsx
  extensions/confluence-search/src/search.tsx
  extensions/confluence-search/src/switch-site.tsx
  extensions/confluence-search/src/util/action-panels.tsx
  extensions/confluence-search/src/util/hooks.tsx
Labels: extension fix / improvement, extension: confluence-search

#19903 Housekeep Knip config
  extensions/ccusage/CHANGELOG.md
  extensions/ccusage/knip.config.ts
  extensions/ccusage/package-lock.json
  extensions/ccusage/package.json
Labels: extension fix / improvement, extension: ccusage

#19829 Update safari extension
  extensions/safari/CHANGELOG.md
  extensions/safari/src/cloud-tabs.tsx
  extensions/safari/src/hooks/useDevices.ts
Labels: extension fix / improvement, extension: safari

#19836 Add kusto-reference extension
  extensions/kusto-reference/.eslintrc.json
  extensions/kusto-reference/.gitignore
  extensions/kusto-reference/.prettierrc
  extensions/kusto-reference/CHANGELOG.md
  extensions/kusto-reference/README.md
  extensions/kusto-reference/assets/extension-icon.png
  extensions/kusto-reference/metadata/kusto-reference-1.png
  extensions/kusto-reference/package-lock.json
  extensions/kusto-reference/package.json
  extensions/kusto-reference/src/search.tsx
  extensions/kusto-reference/tsconfig.json
Labels: new extension

#19968 [MyIdlers] - Domain, Shared, Reseller and Server are now split into "Active" and "Inactive" sections
  extensions/my-idlers/CHANGELOG.md
  extensions/my-idlers/README.md
  extensions/my-idlers/package-lock.json
  extensions/my-idlers/package.json
  extensions/my-idlers/src/components/server-item.tsx
  extensions/my-idlers/src/hooks.ts
  extensions/my-idlers/src/items.tsx
Labels: extension fix / improvement, OP is author, extension: my-idlers

#19974 Patched breaking API change
  extensions/quicksnip/CHANGELOG.md
  extensions/quicksnip/src/api.ts
  extensions/quicksnip/src/find-snippet.tsx
Labels: extension fix / improvement, OP is author, extension: quicksnip

#19959 [Update] [Life Progress]
  extensions/life-progress/.eslintrc.json
  extensions/life-progress/CHANGELOG.md
  extensions/life-progress/assets/life-progress-icon.png
  extensions/life-progress/assets/life-progress-icon@dark.png
  extensions/life-progress/eslint.config.js
  extensions/life-progress/metadata/life-progress-1.png
  extensions/life-progress/metadata/life-progress-2.png
  extensions/life-progress/metadata/life-progress-3.png
  extensions/life-progress/metadata/life-progress-4.png
  extensions/life-progress/package-lock.json
  extensions/life-progress/package.json
  extensions/life-progress/src/components/life-progress-list-item.tsx
  extensions/life-progress/src/hooks/hooks.ts
  extensions/life-progress/src/hooks/useLifeProgress.ts
  extensions/life-progress/src/life-progress-menubar.tsx
  extensions/life-progress/src/types/preferences.ts
  extensions/life-progress/src/types/types.ts
  extensions/life-progress/src/utils/common-utils.ts
  extensions/life-progress/src/utils/life-progress-utils.ts
  extensions/life-progress/tsconfig.json
Labels: extension fix / improvement, OP is author, extension: life-progress

#19957 [Google translate] fix Chinese and some other languages
  extensions/google-translate/CHANGELOG.md
  extensions/google-translate/vendor/@iamtraction-translate/src/languages.ts
Labels: extension fix / improvement, OP is author, extension: google-translate

#19954 [Update] [Easy New File] Supports Form layout
  extensions/easy-new-file/CHANGELOG.md
  extensions/easy-new-file/package-lock.json
  extensions/easy-new-file/package.json
  extensions/easy-new-file/src/add-file-template.tsx
  extensions/easy-new-file/src/components/action-new-file-here.tsx
  extensions/easy-new-file/src/components/action-new-template-file-here.tsx
  extensions/easy-new-file/src/components/new-file-here-empty-view.tsx
  extensions/easy-new-file/src/components/new-file-here-grid-layout.tsx
  extensions/easy-new-file/src/components/new-file-here-item.tsx
  extensions/easy-new-file/src/components/new-file-here-list-layout.tsx
  extensions/easy-new-file/src/hooks/hooks.ts
  extensions/easy-new-file/src/hooks/useTemplateFiles.ts
  extensions/easy-new-file/src/new-file-with-details.tsx
  extensions/easy-new-file/src/new-file-with-template.tsx
  extensions/easy-new-file/src/utils/common-utils.ts
Labels: extension fix / improvement, OP is author, extension: easy-new-file

#19952 [Update] [Raycast Wallpaper] More Auto Switch Interval
  extensions/raycast-wallpaper/CHANGELOG.md
  extensions/raycast-wallpaper/assets/command-icon.png
  extensions/raycast-wallpaper/assets/random-icon.png
  extensions/raycast-wallpaper/assets/raycast-icon.png
  extensions/raycast-wallpaper/package-lock.json
  extensions/raycast-wallpaper/package.json
  extensions/raycast-wallpaper/src/components/raycast-wallpaper-grid.tsx
  extensions/raycast-wallpaper/src/components/raycast-wallpaper-list.tsx
  extensions/raycast-wallpaper/src/hooks/hooks.ts
Labels: extension fix / improvement, OP is author, extension: raycast-wallpaper

#19981 Update workouts extension
  extensions/workouts/CHANGELOG.md
  extensions/workouts/src/utils.ts
Labels: extension fix / improvement, OP is author, extension: workouts

#19934 [Daminik] use URL instead of Slug in Preferences
  extensions/daminik/.eslintrc.json
  extensions/daminik/CHANGELOG.md
  extensions/daminik/README.md
  extensions/daminik/eslint.config.js
  extensions/daminik/package-lock.json
  extensions/daminik/package.json
  extensions/daminik/src/assets.tsx
  extensions/daminik/tsconfig.json
Labels: extension fix / improvement, OP is author, extension: daminik

#19731 Fix Slack extension: search messages from specific user
  extensions/slack/CHANGELOG.md
  extensions/slack/src/search-messages.tsx
Labels: extension fix / improvement, extension: slack

#19983 Update youtrack extension
  extensions/youtrack/CHANGELOG.md
  extensions/youtrack/README.md
  extensions/youtrack/metadata/youtrack-browse-add-work.png
  extensions/youtrack/metadata/youtrack-browse-apply-command.png
  extensions/youtrack/metadata/youtrack-browse-comment.png
  extensions/youtrack/metadata/youtrack-browse-details.png
  extensions/youtrack/metadata/youtrack-browse.png
  extensions/youtrack/metadata/youtrack-create.png
  extensions/youtrack/metadata/youtrack-created-actions.png
Labels: extension fix / improvement, OP is contributor, extension: youtrack

#19990 [Google Translate] Improve UX for quick language change in Translate Form
  extensions/google-translate/CHANGELOG.md
  extensions/google-translate/src/translate-form.tsx
Labels: extension fix / improvement, OP is author, extension: google-translate

#20004 Feat: Add permalink to Dub Link page
  extensions/dub/CHANGELOG.md
  extensions/dub/src/search-links.tsx
Labels: extension fix / improvement, OP is contributor, extension: dub

#20017 Update raycast-wallpaper extension
  extensions/raycast-wallpaper/CHANGELOG.md
  extensions/raycast-wallpaper/package.json
Labels: extension fix / improvement, OP is contributor, extension: raycast-wallpaper

#19854 Add redirect-trace extension
  extensions/redirect-trace/CHANGELOG.md
  extensions/redirect-trace/README.md
  extensions/redirect-trace/assets/extension-icon.png
  extensions/redirect-trace/eslint.config.js
  extensions/redirect-trace/metadata/redirect-trace-1.png
  extensions/redirect-trace/metadata/redirect-trace-2.png
  extensions/redirect-trace/metadata/redirect-trace-3.png
  extensions/redirect-trace/metadata/redirect-trace-4.png
  extensions/redirect-trace/metadata/redirect-trace-5.png
  extensions/redirect-trace/package-lock.json
  extensions/redirect-trace/package.json
  extensions/redirect-trace/src/trace-redirects.tsx
  extensions/redirect-trace/tsconfig.json
Labels: new extension

#19991 [Google Translate ] fix quick translate with Chinese auto detected language
  extensions/google-translate/CHANGELOG.md
  extensions/google-translate/vendor/@iamtraction-translate/src/languages.ts
Labels: extension fix / improvement, OP is author, OP is contributor, extension: google-translate

#20019 [ccusage] Major v2.0.0 upgrade: AI extension support and architecture refactor
  extensions/ccusage/CHANGELOG.md
  extensions/ccusage/CLAUDE.md
  extensions/ccusage/README.md
  extensions/ccusage/package.json
  extensions/ccusage/src/ccusage.tsx
  extensions/ccusage/src/components/CostAnalysis.tsx
  extensions/ccusage/src/components/DailyUsage.tsx
  extensions/ccusage/src/components/ErrorMetadata.tsx
  extensions/ccusage/src/components/ErrorState.tsx
  extensions/ccusage/src/components/ModelBreakdown.tsx
  extensions/ccusage/src/components/SessionUsage.tsx
  extensions/ccusage/src/components/common/StandardActions.tsx
  extensions/ccusage/src/components/common/accessories.ts
  extensions/ccusage/src/hooks/use-current-date.ts
  extensions/ccusage/src/hooks/use-usage-data.ts
  extensions/ccusage/src/hooks/useCCUsageDailyCli.ts
  extensions/ccusage/src/hooks/useCCUsageMonthlyCli.ts
  extensions/ccusage/src/hooks/useCCUsageSessionCli.ts
  extensions/ccusage/src/hooks/useCCUsageTotalCli.ts
  extensions/ccusage/src/hooks/useDailyUsage.ts
  extensions/ccusage/src/hooks/useMonthlyUsage.ts
  extensions/ccusage/src/hooks/useSessionUsage.ts
  extensions/ccusage/src/hooks/useTotalUsage.ts
  extensions/ccusage/src/menubar-ccusage.tsx
  extensions/ccusage/src/preferences.ts
  extensions/ccusage/src/tools/get-daily-usage.ts
  extensions/ccusage/src/tools/get-monthly-usage.ts
  extensions/ccusage/src/tools/get-session-usage.ts
  extensions/ccusage/src/tools/get-total-usage.ts
  extensions/ccusage/src/types/usage-types.ts
  extensions/ccusage/src/utils/data-formatter.ts
  extensions/ccusage/src/utils/date-formatter.ts
  extensions/ccusage/src/utils/date-validator.ts
  extensions/ccusage/src/utils/exec-async.ts
  extensions/ccusage/src/utils/exec-options.ts
  extensions/ccusage/src/utils/messages.ts
  extensions/ccusage/src/utils/model-utils.ts
  extensions/ccusage/src/utils/node-path-resolver.ts
  extensions/ccusage/src/utils/string-to-json-schema.ts
  extensions/ccusage/src/utils/tool-error-handler.ts
  extensions/ccusage/src/utils/usage-calculator.ts
Labels: extension fix / improvement, OP is author, extension: ccusage

#20029 [Bitwarden] fix: check if user can access BrowserExtension
  extensions/bitwarden/CHANGELOG.md
  extensions/bitwarden/src/authenticator.tsx
Labels: extension fix / improvement, OP is author, extension: bitwarden

#20036 [Google Translate] Show auto detected language in Quick Translate
  extensions/google-translate/CHANGELOG.md
  extensions/google-translate/src/QuickTranslate/QuickTranslateListItem.tsx
Labels: extension fix / improvement, OP is author, extension: google-translate

#20033 [ccusage] Hotfix critical React Hooks Rules violations and improve loading states
  extensions/ccusage/CHANGELOG.md
  extensions/ccusage/CLAUDE.md
  extensions/ccusage/src/components/CostAnalysis.tsx
  extensions/ccusage/src/components/DailyUsage.tsx
  extensions/ccusage/src/components/ModelBreakdown.tsx
  extensions/ccusage/src/components/SessionUsage.tsx
  extensions/ccusage/src/components/common/accessories.ts
  extensions/ccusage/src/menubar-ccusage.tsx
Labels: extension fix / improvement, OP is author, extension: ccusage

#19933 Update translate extension
  extensions/google-translate/CHANGELOG.md
  extensions/google-translate/package-lock.json
  extensions/google-translate/package.json
  extensions/google-translate/src/simple-translate.ts
  extensions/google-translate/src/translate.tsx
Labels: extension fix / improvement, OP is contributor, extension: google-translate

#19963 Updated Font Awesome version, added support for more icon types
  extensions/fontawesome/CHANGELOG.md
  extensions/fontawesome/README.md
  extensions/fontawesome/assets/classic-brands.svg
  extensions/fontawesome/assets/classic-light.svg
  extensions/fontawesome/assets/classic-regular.svg
  extensions/fontawesome/assets/classic-solid.svg
  extensions/fontawesome/assets/classic-thin.svg
  extensions/fontawesome/assets/duotone-light.svg
  extensions/fontawesome/assets/duotone-new.svg
  extensions/fontawesome/assets/duotone-regular.svg
  extensions/fontawesome/assets/duotone-solid.svg
  extensions/fontawesome/assets/duotone-thin.svg
  extensions/fontawesome/assets/sharp-duotone-light.svg
  extensions/fontawesome/assets/sharp-duotone-regular.svg
  extensions/fontawesome/assets/sharp-duotone-solid.svg
  extensions/fontawesome/assets/sharp-duotone-thin.svg
  extensions/fontawesome/assets/sharp-light.svg
  extensions/fontawesome/assets/sharp-regular.svg
  extensions/fontawesome/assets/sharp-solid.svg
  extensions/fontawesome/assets/sharp-thin.svg
  extensions/fontawesome/package-lock.json
  extensions/fontawesome/package.json
  extensions/fontawesome/src/index.tsx
  extensions/fontawesome/src/utils.tsx
Labels: extension fix / improvement, OP is contributor, extension: fontawesome

#19899 Aerospace - add monitor name to switch apps action
  extensions/aerospace/CHANGELOG.md
  extensions/aerospace/src/switchApps.tsx
  extensions/aerospace/src/utils/appSwitcher.tsx
Labels: extension fix / improvement, extension: aerospace

#20040 Better handling of cloc command to show statistics
  extensions/repository-manager/CHANGELOG.md
  extensions/repository-manager/README.md
  extensions/repository-manager/src/components/GitStatisticsDetail.tsx
  extensions/repository-manager/src/project.ts
Labels: extension fix / improvement, OP is author, extension: repository-manager

#19865 Fix Slack extension YAML
  extensions/slack/CHANGELOG.md
  extensions/slack/README.md
Labels: extension fix / improvement, extension: slack

#19914 Add psn extension
  extensions/psn/.gitignore
  extensions/psn/.prettierrc
  extensions/psn/CHANGELOG.md
  extensions/psn/README.md
  extensions/psn/assets/bronze.png
  extensions/psn/assets/gold.png
  extensions/psn/assets/icon.png
  extensions/psn/assets/platinum.png
  extensions/psn/assets/silver.png
  extensions/psn/eslint.config.js
  extensions/psn/metadata/psn-1.png
  extensions/psn/metadata/psn-2.png
  extensions/psn/metadata/psn-3.png
  extensions/psn/package-lock.json
  extensions/psn/package.json
  extensions/psn/src/components/GameDetail.tsx
  extensions/psn/src/recently-played.tsx
  extensions/psn/src/recently-trophy.tsx
  extensions/psn/src/trophy.tsx
  extensions/psn/src/types/index.ts
  extensions/psn/src/utils/auth.ts
  extensions/psn/tsconfig.json
Labels: new extension

#20022 Add `MailerSend` extension - View Domains, View Domain Activity (24 hours), View Templates, View Users
  extensions/mailersend/.gitignore
  extensions/mailersend/.prettierrc
  extensions/mailersend/CHANGELOG.md
  extensions/mailersend/README.md
  extensions/mailersend/assets/logo-white.svg
  extensions/mailersend/assets/symbol-512.png
  extensions/mailersend/eslint.config.js
  extensions/mailersend/metadata/mailersend-1.png
  extensions/mailersend/metadata/mailersend-2.png
  extensions/mailersend/package-lock.json
  extensions/mailersend/package.json
  extensions/mailersend/src/domains.tsx
  extensions/mailersend/src/interfaces.ts
  extensions/mailersend/src/mailersend.ts
  extensions/mailersend/src/templates.tsx
  extensions/mailersend/src/users.tsx
  extensions/mailersend/tsconfig.json
Labels: new extension

#19791 Add ideate extension
  extensions/ideate/.gitignore
  extensions/ideate/.prettierrc
  extensions/ideate/CHANGELOG.md
  extensions/ideate/README.md
  extensions/ideate/assets/add_preset_icon.png
  extensions/ideate/assets/create_project_icon.png
  extensions/ideate/assets/extension_icon.png
  extensions/ideate/assets/manage_presets_icon.png
  extensions/ideate/eslint.config.js
  extensions/ideate/metadata/ideate-1.png
  extensions/ideate/metadata/ideate-2.png
  extensions/ideate/metadata/ideate-3.png
  extensions/ideate/package-lock.json
  extensions/ideate/package.json
  extensions/ideate/src/add-init-preset.tsx
  extensions/ideate/src/components/edit-preset-form.tsx
  extensions/ideate/src/create-project.tsx
  extensions/ideate/src/manage-presets.tsx
  extensions/ideate/src/utils/storage.tsx
  extensions/ideate/tsconfig.json
Labels: new extension

#19765 Add duan-raycast-extension extension
  extensions/duan-raycast-extension/.gitignore
  extensions/duan-raycast-extension/.prettierrc
  extensions/duan-raycast-extension/AGENT.md
  extensions/duan-raycast-extension/CHANGELOG.md
  extensions/duan-raycast-extension/README.md
  extensions/duan-raycast-extension/README.zh-CN.md
  extensions/duan-raycast-extension/assets/extension-icon.png
  extensions/duan-raycast-extension/eslint.config.js
  extensions/duan-raycast-extension/metadata/duan-raycast-extension-1.png
  extensions/duan-raycast-extension/metadata/duan-raycast-extension-2.png
  extensions/duan-raycast-extension/metadata/duan-raycast-extension-3.png
  extensions/duan-raycast-extension/metadata/duan-raycast-extension-4.png
  extensions/duan-raycast-extension/package-lock.json
  extensions/duan-raycast-extension/package.json
  extensions/duan-raycast-extension/src/components/LinkDetail.tsx
  extensions/duan-raycast-extension/src/components/LinkItem.tsx
  extensions/duan-raycast-extension/src/hooks/useLinks.ts
  extensions/duan-raycast-extension/src/list-links.tsx
  extensions/duan-raycast-extension/src/services/api/client.ts
  extensions/duan-raycast-extension/src/services/api/config.ts
  extensions/duan-raycast-extension/src/services/api/endpoints/links.ts
  extensions/duan-raycast-extension/src/services/api/endpoints/slugs.ts
  extensions/duan-raycast-extension/src/services/api/index.ts
  extensions/duan-raycast-extension/src/services/api/types.ts
  extensions/duan-raycast-extension/src/services/search.ts
  extensions/duan-raycast-extension/src/services/validation/index.ts
  extensions/duan-raycast-extension/src/services/validation/slug/cache.ts
  extensions/duan-raycast-extension/src/services/validation/slug/index.ts
  extensions/duan-raycast-extension/src/services/validation/slug/types.ts
  extensions/duan-raycast-extension/src/services/validation/url/index.ts
  extensions/duan-raycast-extension/src/services/validation/url/types.ts
  extensions/duan-raycast-extension/src/shorten-link.tsx
  extensions/duan-raycast-extension/src/types/index.ts
  extensions/duan-raycast-extension/src/utils/random.ts
  extensions/duan-raycast-extension/tsconfig.json
Labels: new extension

#19971 Browser Bookmarks: Add support for Dia and Ghost Browser
  extensions/browser-bookmarks/CHANGELOG.md
  extensions/browser-bookmarks/README.md
  extensions/browser-bookmarks/assets/dia.png
  extensions/browser-bookmarks/assets/ghost-browser.png
  extensions/browser-bookmarks/src/hooks/useAvailableBrowsers.ts
  extensions/browser-bookmarks/src/hooks/useChromiumBookmarks.ts
  extensions/browser-bookmarks/src/hooks/useDiaBookmarks.ts
  extensions/browser-bookmarks/src/hooks/useGhostBrowserBookmarks.ts
  extensions/browser-bookmarks/src/index.tsx
Labels: extension fix / improvement, OP is contributor, extension: browser-bookmarks

#19817 Update docker extension
  extensions/docker/CHANGELOG.md
  extensions/docker/package.json
  extensions/docker/src/container_list.tsx
  extensions/docker/src/utils/group_by.ts
Labels: extension fix / improvement, extension: docker

#20061 Update media-converter extension
  extensions/media-converter/CHANGELOG.md
  extensions/media-converter/package.json
Labels: extension fix / improvement, OP is contributor, extension: media-converter

#19756 Update linkding extension
  extensions/linkding/CHANGELOG.md
  extensions/linkding/README.md
  extensions/linkding/package-lock.json
  extensions/linkding/package.json
  extensions/linkding/src/components/create-bookmark-form.tsx
  extensions/linkding/src/hooks/use-bookmarks.tsx
  extensions/linkding/src/hooks/use-browser-link.tsx
  extensions/linkding/src/hooks/use-filtered-bookmarks.tsx
  extensions/linkding/src/search-bookmarks.tsx
Labels: extension fix / improvement, OP is contributor, status: stalled, extension: linkding

#19965 Update quick-notes extension
  extensions/quick-notes/CHANGELOG.md
  extensions/quick-notes/package.json
  extensions/quick-notes/src/components/actions.tsx
Labels: extension fix / improvement, extension: quick-notes

#20064 [Bitwarden] Catch OTPAuth initialization
  extensions/bitwarden/CHANGELOG.md
  extensions/bitwarden/src/authenticator.tsx
Labels: extension fix / improvement, OP is author, extension: bitwarden

#19849 Add regex-batch-renamer extension
  extensions/regex-batch-renamer/.gitignore
  extensions/regex-batch-renamer/.prettierrc
  extensions/regex-batch-renamer/CHANGELOG.md
  extensions/regex-batch-renamer/README.md
  extensions/regex-batch-renamer/assets/extension-icon.png
  extensions/regex-batch-renamer/eslint.config.js
  extensions/regex-batch-renamer/metadata/regex-batch-renamer-0.png
  extensions/regex-batch-renamer/metadata/regex-batch-renamer-1.png
  extensions/regex-batch-renamer/metadata/regex-batch-renamer-2.png
  extensions/regex-batch-renamer/metadata/regex-batch-renamer-3.png
  extensions/regex-batch-renamer/package-lock.json
  extensions/regex-batch-renamer/package.json
  extensions/regex-batch-renamer/src/components/CreateJobForm.tsx
  extensions/regex-batch-renamer/src/components/EditJobForm.tsx
  extensions/regex-batch-renamer/src/components/JobDetailView.tsx
  extensions/regex-batch-renamer/src/components/JobExecutionResults.tsx
  extensions/regex-batch-renamer/src/create-job.tsx
  extensions/regex-batch-renamer/src/manage-jobs.tsx
  extensions/regex-batch-renamer/src/run-job.tsx
  extensions/regex-batch-renamer/src/types.ts
  extensions/regex-batch-renamer/src/utils/predefined-jobs.ts
  extensions/regex-batch-renamer/src/utils/regex-processor.ts
  extensions/regex-batch-renamer/src/utils/storage.ts
  extensions/regex-batch-renamer/tsconfig.json
Labels: new extension

#19958 Add clipmate extension
  .github/public_raycast_extensions.txt
  extensions/clipmate/.eslintrc.json
  extensions/clipmate/.gitignore
  extensions/clipmate/.prettierrc
  extensions/clipmate/CHANGELOG.md
  extensions/clipmate/README.md
  extensions/clipmate/assets/clipmate.png
  extensions/clipmate/assets/command-icon.png
  extensions/clipmate/metadata/clipmate-1.png
  extensions/clipmate/metadata/clipmate-2.png
  extensions/clipmate/metadata/clipmate-3.png
  extensions/clipmate/metadata/clipmate-4.png
  extensions/clipmate/package-lock.json
  extensions/clipmate/package.json
  extensions/clipmate/src/auth.tsx
  extensions/clipmate/src/components/CollectionPicker.tsx
  extensions/clipmate/src/components/CreateCollectionForm.tsx
  extensions/clipmate/src/components/FolderForm.tsx
  extensions/clipmate/src/lib/security.ts
  extensions/clipmate/src/save-link-to-clipmate.tsx
  extensions/clipmate/src/services/authentication.ts
  extensions/clipmate/src/services/graphql.ts
  extensions/clipmate/src/types/index.ts
  extensions/clipmate/src/utils/url.ts
  extensions/clipmate/tsconfig.json
Labels: new extension

#19996 New: Password.Link Extension
  extensions/password-link/.gitignore
  extensions/password-link/.prettierrc
  extensions/password-link/CHANGELOG.md
  extensions/password-link/README.md
  extensions/password-link/assets/icon.png
  extensions/password-link/eslint.config.js
  extensions/password-link/metadata/password-link-1.png
  extensions/password-link/metadata/password-link-2.png
  extensions/password-link/metadata/password-link-3.png
  extensions/password-link/package-lock.json
  extensions/password-link/package.json
  extensions/password-link/raycast-env.d.ts
  extensions/password-link/src/commands/list-secret-requests.tsx
  extensions/password-link/src/commands/list-secrets.tsx
  extensions/password-link/src/commands/new-secret-request.tsx
  extensions/password-link/src/commands/new-secret.tsx
  extensions/password-link/src/components/MultiStepForm.tsx
  extensions/password-link/src/components/SecretConfigForm.tsx
  extensions/password-link/src/components/SecretDetail.tsx
  extensions/password-link/src/components/SecretRequestDetail.tsx
  extensions/password-link/src/components/SecretRequestForm.tsx
  extensions/password-link/src/components/SecretSuccessPage.tsx
  extensions/password-link/src/components/SuccessPage.tsx
  extensions/password-link/src/hooks/useMultiStepForm.ts
  extensions/password-link/src/hooks/useRelatedData.ts
  extensions/password-link/src/lib/action-panels.tsx
  extensions/password-link/src/lib/action-utils.ts
  extensions/password-link/src/lib/api-client.ts
  extensions/password-link/src/lib/config.ts
  extensions/password-link/src/lib/data-utils.ts
  extensions/password-link/src/lib/encryption.ts
  extensions/password-link/src/lib/test-data.ts
  extensions/password-link/src/lib/utils.ts
  extensions/password-link/src/list-secret-requests.ts
  extensions/password-link/src/list-secrets.ts
  extensions/password-link/src/new-secret-request.ts
  extensions/password-link/src/new-secret.ts
  extensions/password-link/src/types/index.ts
  extensions/password-link/tsconfig.json
Labels: new extension

#19995 Support device name for audio device selection
  extensions/audio-device/CHANGELOG.md
  extensions/audio-device/src/helpers.tsx
  extensions/audio-device/src/set-input-device.tsx
  extensions/audio-device/src/set-output-device.tsx
Labels: extension fix / improvement, extension: audio-device

#20070 Update `Short.io` extension - Add Domain inside `shorten-link-with-domain` + Modernize extension to use latest Raycast config
  extensions/short-io/.eslintrc.json
  extensions/short-io/CHANGELOG.md
  extensions/short-io/eslint.config.mjs
  extensions/short-io/package-lock.json
  extensions/short-io/package.json
  extensions/short-io/src/add-domain.tsx
  extensions/short-io/src/hooks/useDomains.ts
  extensions/short-io/src/shorten-link-with-domain.tsx
  extensions/short-io/src/utils/axios-utils.ts
  extensions/short-io/src/utils/common-utils.ts
  extensions/short-io/src/utils/constants.ts
  extensions/short-io/tsconfig.json
Labels: extension fix / improvement, extension: short-io

#20072 [GitLab] Group milestones on issue and mr create form
  extensions/gitlab/CHANGELOG.md
  extensions/gitlab/src/components/groups.tsx
  extensions/gitlab/src/components/mr_create.tsx
  extensions/gitlab/src/gitlabapi.ts
  extensions/gitlab/src/hooks/index.ts
  extensions/gitlab/src/hooks/useMilestones.ts
  extensions/gitlab/src/hooks/useProject.ts
  extensions/gitlab/src/hooks/useProjectMR.ts
  extensions/gitlab/src/issue_create.tsx
Labels: extension fix / improvement, OP is contributor, extension: gitlab

#19980 Add sidecar extension
  extensions/sidecar/.gitignore
  extensions/sidecar/.prettierrc
  extensions/sidecar/CHANGELOG.md
  extensions/sidecar/README.md
  extensions/sidecar/References/Alfred Workflow.png
  extensions/sidecar/References/osascript
  extensions/sidecar/References/zshscript
  extensions/sidecar/assets/extension-icon.png
  extensions/sidecar/eslint.config.js
  extensions/sidecar/package-lock.json
  extensions/sidecar/package.json
  extensions/sidecar/src/connect-sidecar.ts
  extensions/sidecar/tsconfig.json
Labels: new extension

#20081 Update media-converter extension: proper user preferences
  extensions/media-converter/CHANGELOG.md
  extensions/media-converter/package.json
  extensions/media-converter/src/components/ConverterForm.tsx
  extensions/media-converter/src/components/FFmpegInstallPage.tsx
  extensions/media-converter/src/components/HelloPage.tsx
  extensions/media-converter/src/convert.tsx
  extensions/media-converter/src/utils/ffmpeg.ts
Labels: extension fix / improvement, OP is contributor, extension: media-converter

#20092 Update lookaway extension
  extensions/lookaway/.eslintrc.json
  extensions/lookaway/CHANGELOG.md
  extensions/lookaway/README.md
  extensions/lookaway/package.json
  extensions/lookaway/src/startLookaway.tsx
  extensions/lookaway/src/stopLookaway.tsx
  extensions/lookaway/src/utils.ts
Labels: extension fix / improvement, OP is author, extension: lookaway

#20101 Update sequoia-tiling extension
  extensions/sequoia-tiling/.gitignore
  extensions/sequoia-tiling/CHANGELOG.md
  extensions/sequoia-tiling/README.md
  extensions/sequoia-tiling/assets/window-tiling/zoom.png
  extensions/sequoia-tiling/assets/window-tiling/zoom@dark.png
  extensions/sequoia-tiling/package.json
  extensions/sequoia-tiling/src/zoom.ts
Labels: extension fix / improvement, OP is author, extension: sequoia-tiling

#20090 Update cobalt extension
  extensions/cobalt/CHANGELOG.md
  extensions/cobalt/eslint.config.js
  extensions/cobalt/package-lock.json
  extensions/cobalt/package.json
  extensions/cobalt/src/history.tsx
  extensions/cobalt/src/index.tsx
  extensions/cobalt/src/types.ts
  extensions/cobalt/src/utils.ts
  extensions/cobalt/tsconfig.json
Labels: extension fix / improvement, OP is author, extension: cobalt

#19969 Add image-shield extension
  extensions/image-shield/.gitignore
  extensions/image-shield/.prettierrc
  extensions/image-shield/CHANGELOG.md
  extensions/image-shield/README.md
  extensions/image-shield/assets/extension-icon.png
  extensions/image-shield/eslint.config.js
  extensions/image-shield/metadata/image-shield-1.png
  extensions/image-shield/metadata/image-shield-2.png
  extensions/image-shield/metadata/image-shield-3.png
  extensions/image-shield/package-lock.json
  extensions/image-shield/package.json
  extensions/image-shield/src/components/DecryptImagesForm.tsx
  extensions/image-shield/src/components/DownloadAction.tsx
  extensions/image-shield/src/components/EncryptImagesForm.tsx
  extensions/image-shield/src/components/GridEncryptedImages.tsx
  extensions/image-shield/src/components/GridLoadingView.tsx
  extensions/image-shield/src/components/GridRestoredImages.tsx
  extensions/image-shield/src/components/PasswordForm.tsx
  extensions/image-shield/src/constraints.ts
  extensions/image-shield/src/decrypt-images.tsx
  extensions/image-shield/src/encrypt-images.tsx
  extensions/image-shield/src/hooks/useDecryptImages.ts
  extensions/image-shield/src/hooks/useEncryptImages.ts
  extensions/image-shield/src/hooks/useLoadingState.ts
  extensions/image-shield/src/lib/imageShield.ts
  extensions/image-shield/src/utils/file.ts
  extensions/image-shield/src/utils/helpers.ts
  extensions/image-shield/tsconfig.json
Labels: new extension

#19784 Add tidal extension
  extensions/tidal/.gitignore
  extensions/tidal/.prettierrc
  extensions/tidal/CHANGELOG.md
  extensions/tidal/README.md
  extensions/tidal/assets/extension-icon.png
  extensions/tidal/eslint.config.js
  extensions/tidal/metadata/tidal-1.png
  extensions/tidal/metadata/tidal-2.jpeg
  extensions/tidal/package-lock.json
  extensions/tidal/package.json
  extensions/tidal/src/current-track.tsx
  extensions/tidal/src/docs.tsx
  extensions/tidal/src/lib/utils.ts
  extensions/tidal/src/like.tsx
  extensions/tidal/src/menubar.tsx
  extensions/tidal/src/next.tsx
  extensions/tidal/src/pause.tsx
  extensions/tidal/src/play.tsx
  extensions/tidal/src/previous.tsx
  extensions/tidal/src/repeat.tsx
  extensions/tidal/src/server-status.tsx
  extensions/tidal/src/shuffle.tsx
  extensions/tidal/src/start-server.tsx
  extensions/tidal/src/stop-server.tsx
  extensions/tidal/tsconfig.json
Labels: new extension

#19924 feat: add Gen-PDF MCP Server to the registry
  extensions/model-context-protocol-registry/CHANGELOG.md
  extensions/model-context-protocol-registry/README.md
  extensions/model-context-protocol-registry/src/registries/builtin/entries.ts
Labels: extension fix / improvement, extension: model-context-protocol-registry

#20125 No `-lossless` flag on `dwebp`
  extensions/sips/CHANGELOG.md
  extensions/sips/src/utilities/utils.ts
Labels: extension fix / improvement, extension: sips

#20120 [create-link]: Add customizable templates and tab selection feature
  extensions/create-link/CHANGELOG.md
  extensions/create-link/metadata/create-link-1.png
  extensions/create-link/package.json
  extensions/create-link/src/components/TabList.tsx
  extensions/create-link/src/copy-custom.ts
  extensions/create-link/src/copy-html.ts
  extensions/create-link/src/copy-markdown.ts
  extensions/create-link/src/show-tabs.tsx
  extensions/create-link/src/utils/browser.ts
  extensions/create-link/src/utils/formatter.ts
Labels: extension fix / improvement, OP is author, extension: create-link

#20126 Update `Pocket` extension - add an Alert in Show informing users to Export + required url in create
  extensions/pocket/.eslintrc.json
  extensions/pocket/CHANGELOG.md
  extensions/pocket/README.md
  extensions/pocket/assets/myList.svg
  extensions/pocket/assets/pocket-logo-dark.svg
  extensions/pocket/eslint.config.js
  extensions/pocket/package-lock.json
  extensions/pocket/package.json
  extensions/pocket/src/create.tsx
  extensions/pocket/src/lib/oauth/view.tsx
  extensions/pocket/src/lib/utils.ts
  extensions/pocket/src/search.tsx
  extensions/pocket/tsconfig.json
Labels: extension fix / improvement, extension: pocket

#19863 Add stacks extension
  extensions/stacks/.eslintrc.json
  extensions/stacks/.gitignore
  extensions/stacks/.prettierrc
  extensions/stacks/CHANGELOG.md
  extensions/stacks/README.md
  extensions/stacks/assets/extension-icon.png
  extensions/stacks/media/stacks-logo.png
  extensions/stacks/metadata/stacks-1.png
  extensions/stacks/metadata/stacks-2.png
  extensions/stacks/package-lock.json
  extensions/stacks/package.json
  extensions/stacks/src/add-link.tsx
  extensions/stacks/src/search-resources.tsx
  extensions/stacks/src/utils/graphql.ts
  extensions/stacks/tsconfig.json
Labels: new extension

#19950 Update spotify-player extension
  extensions/spotify-player/CHANGELOG.md
  extensions/spotify-player/README.md
  extensions/spotify-player/package-lock.json
  extensions/spotify-player/package.json
  extensions/spotify-player/src/api/geniusLyrics.ts
  extensions/spotify-player/src/components/ListOrGridItem.tsx
  extensions/spotify-player/src/components/ListOrGridSection.tsx
  extensions/spotify-player/src/components/PlaylistItem.tsx
  extensions/spotify-player/src/components/View.tsx
  extensions/spotify-player/src/findLyrics.tsx
  extensions/spotify-player/src/helpers/spotify.api.ts
  extensions/spotify-player/src/nowPlaying.tsx
  extensions/spotify-player/src/nowPlayingMenuBar.tsx
  extensions/spotify-player/src/search.tsx
Labels: extension fix / improvement, OP is contributor, extension: spotify-player

#20141 Update `radicle` extension - remove need for `radicle-httpd`
  extensions/radicle/.eslintrc.json
  extensions/radicle/CHANGELOG.md
  extensions/radicle/README.md
  extensions/radicle/eslint.config.js
  extensions/radicle/package-lock.json
  extensions/radicle/package.json
  extensions/radicle/src/alias.ts
  extensions/radicle/src/cobs.ts
  extensions/radicle/src/components/project-detail.tsx
  extensions/radicle/src/components/project-list-item.tsx
  extensions/radicle/src/node.ts
  extensions/radicle/src/project.tsx
  extensions/radicle/src/projects.tsx
  extensions/radicle/src/types.ts
  extensions/radicle/src/utils.ts
Labels: extension fix / improvement, OP is author, extension: radicle

#19654 Update music extension
  extensions/music/CHANGELOG.md
  extensions/music/package.json
  extensions/music/src/set-rating.tsx
  extensions/music/src/set-volume.tsx
  extensions/music/src/util/feedback.ts
  extensions/music/src/util/models.ts
  extensions/music/src/util/preferences.ts
  extensions/music/src/util/utils.ts
Labels: extension fix / improvement, extension: music

#20024 Add roblox-creator-docs extension
  extensions/roblox-creator-docs/.gitignore
  extensions/roblox-creator-docs/.prettierrc
  extensions/roblox-creator-docs/CHANGELOG.md
  extensions/roblox-creator-docs/README.md
  extensions/roblox-creator-docs/assets/extension-icon.png
  extensions/roblox-creator-docs/assets/no-results.png
  extensions/roblox-creator-docs/eslint.config.js
  extensions/roblox-creator-docs/metadata/roblox-creator-docs-1.png
  extensions/roblox-creator-docs/package-lock.json
  extensions/roblox-creator-docs/package.json
  extensions/roblox-creator-docs/src/creator-docs.tsx
  extensions/roblox-creator-docs/src/data-fetcher.ts
  extensions/roblox-creator-docs/tsconfig.json
Labels: new extension
