Repository raycast/extensions, pull requests merged in 2025-07, with the labels that each got.

#20164 Update `Doppler` extension - View Logs of a Config + "Open In Doppler" component
  extensions/doppler-share-secrets/CHANGELOG.md
  extensions/doppler-share-secrets/assets/doppler.svg
  extensions/doppler-share-secrets/assets/ghost.svg
  extensions/doppler-share-secrets/package-lock.json
  extensions/doppler-share-secrets/package.json
  extensions/doppler-share-secrets/src/lib/doppler.ts
  extensions/doppler-share-secrets/src/search-projects.tsx
Labels: extension fix / improvement, extension: doppler-share-secrets

#19869 Add quick-quit extension
  extensions/quick-quit/.eslintrc.json
  extensions/quick-quit/.gitignore
  extensions/quick-quit/.prettierrc
  extensions/quick-quit/CHANGELOG.md
  extensions/quick-quit/README.md
  extensions/quick-quit/assets/quickquit_logo.png
  extensions/quick-quit/metadata/quick-quit-1.png
  extensions/quick-quit/metadata/quick-quit-2.png
  extensions/quick-quit/metadata/quick-quit-3.png
  extensions/quick-quit/metadata/quick-quit-4.png
  extensions/quick-quit/metadata/quick-quit-5.png
  extensions/quick-quit/metadata/quick-quit-6.png
  extensions/quick-quit/package-lock.json
  extensions/quick-quit/package.json
  extensions/quick-quit/src/components/CategoryAppsDetail.tsx
  extensions/quick-quit/src/create-category.tsx
  extensions/quick-quit/src/data/prebuilt-categories.ts
  extensions/quick-quit/src/execute-quit.tsx
  extensions/quick-quit/src/manage-categories.tsx
  extensions/quick-quit/src/quick-quit.tsx
  extensions/quick-quit/src/types.ts
  extensions/quick-quit/src/utils/index.ts
  extensions/quick-quit/tsconfig.json
Labels: new extension

#20093 Add Instant Translate feature to Google Translate extension
  extensions/google-translate/CHANGELOG.md
  extensions/google-translate/package.json
  extensions/google-translate/src/instant-translate-copy.tsx
  extensions/google-translate/src/instant-translate-paste.tsx
  extensions/google-translate/src/instant-translate-view.tsx
  extensions/google-translate/src/instant-translate.tsx
Labels: extension fix / improvement, extension: google-translate

#20169 feat: add resend wallpaper extension
  extensions/resend-wallpaper/.gitignore
  extensions/resend-wallpaper/.prettierrc
  extensions/resend-wallpaper/CHANGELOG.md
  extensions/resend-wallpaper/README.md
  extensions/resend-wallpaper/assets/random-icon.png
  extensions/resend-wallpaper/assets/resend-icon.png
  extensions/resend-wallpaper/eslint.config.js
  extensions/resend-wallpaper/metadata/resend-wallpaper-1.png
  extensions/resend-wallpaper/metadata/resend-wallpaper-2.png
  extensions/resend-wallpaper/metadata/resend-wallpaper-3.png
  extensions/resend-wallpaper/package-lock.json
  extensions/resend-wallpaper/package.json
  extensions/resend-wallpaper/src/auto-switch-resend-wallpaper.ts
  extensions/resend-wallpaper/src/components/action-on-resend-wallpaper.tsx
  extensions/resend-wallpaper/src/components/action-open-preferences.tsx
  extensions/resend-wallpaper/src/components/resend-wallpaper-empty-view.tsx
  extensions/resend-wallpaper/src/components/resend-wallpaper-grid.tsx
  extensions/resend-wallpaper/src/components/resend-wallpaper-list.tsx
  extensions/resend-wallpaper/src/hooks/hooks.ts
  extensions/resend-wallpaper/src/preview-resend-wallpaper.tsx
  extensions/resend-wallpaper/src/set-resend-wallpaper.tsx
  extensions/resend-wallpaper/src/types/preferences.ts
  extensions/resend-wallpaper/src/types/types.ts
  extensions/resend-wallpaper/src/utils/appearance-utils.ts
  extensions/resend-wallpaper/src/utils/applescript-utils.ts
  extensions/resend-wallpaper/src/utils/common-utils.ts
  extensions/resend-wallpaper/src/utils/constants.ts
  extensions/resend-wallpaper/tsconfig.json
Labels: new extension

#20177 feat(resend-wallpapers): add `getThumbnailUrl` to optimize image loading and update components to use it
  extensions/resend-wallpaper/src/components/resend-wallpaper-grid.tsx
  extensions/resend-wallpaper/src/components/resend-wallpaper-list.tsx
  extensions/resend-wallpaper/src/preview-resend-wallpaper.tsx
  extensions/resend-wallpaper/src/utils/common-utils.ts
Labels: extension fix / improvement, OP is author, extension: resend-wallpaper

#20052 Add markdown-preview extension
  extensions/markdown-preview/.gitignore
  extensions/markdown-preview/.prettierrc
  extensions/markdown-preview/CHANGELOG.md
  extensions/markdown-preview/README.md
  extensions/markdown-preview/assets/md-preview-icon.png
  extensions/markdown-preview/eslint.config.js
  extensions/markdown-preview/metadata/markdown-preview-1.png
  extensions/markdown-preview/metadata/markdown-preview-2.png
  extensions/markdown-preview/metadata/markdown-preview-3.png
  extensions/markdown-preview/package-lock.json
  extensions/markdown-preview/package.json
  extensions/markdown-preview/src/preview-markdown.tsx
  extensions/markdown-preview/tsconfig.json
Labels: new extension

#20110 Add certificate-viewer extension
  extensions/certificate-viewer/.gitignore
  extensions/certificate-viewer/.prettierrc
  extensions/certificate-viewer/CHANGELOG.md
  extensions/certificate-viewer/README.md
  extensions/certificate-viewer/assets/extension-icon.png
  extensions/certificate-viewer/eslint.config.js
  extensions/certificate-viewer/metadata/certificate-viewer-1.png
  extensions/certificate-viewer/metadata/certificate-viewer-2.png
  extensions/certificate-viewer/metadata/certificate-viewer-3.png
  extensions/certificate-viewer/package-lock.json
  extensions/certificate-viewer/package.json
  extensions/certificate-viewer/src/decode-certificate.tsx
  extensions/certificate-viewer/src/download-certificate.tsx
  extensions/certificate-viewer/src/utils/certificate-parser.ts
  extensions/certificate-viewer/src/utils/x509utils.ts
  extensions/certificate-viewer/src/views/CertDetailView.tsx
  extensions/certificate-viewer/src/views/CertListView.tsx
  extensions/certificate-viewer/tsconfig.json
Labels: new extension

#20154 Spotify Lyric Finder Improvements
  extensions/spotify-player/CHANGELOG.md
  extensions/spotify-player/src/findLyrics.tsx
Labels: extension fix / improvement, OP is contributor, extension: spotify-player, AI Extension

#20185 Update `Wave` extension - Add new customers through `Form` + Remove customers after confirming (`Alert`) + Move "Business Customers" to its own file + Modernize to latest config
  extensions/wave/.eslintrc.json
  extensions/wave/CHANGELOG.md
  extensions/wave/eslint.config.js
  extensions/wave/package-lock.json
  extensions/wave/package.json
  extensions/wave/src/lib/components/add-customer.tsx
  extensions/wave/src/lib/components/business-customers.tsx
  extensions/wave/src/lib/gql/mutations.ts
  extensions/wave/src/lib/gql/queries.ts
  extensions/wave/src/lib/wave.ts
  extensions/wave/src/manage-wave.tsx
  extensions/wave/tsconfig.json
Labels: extension fix / improvement, OP is author, extension: wave

#19277 update extension raycast-Gemini - safety-setting
  extensions/raycast-gemini/CHANGELOG.md
  extensions/raycast-gemini/README.md
  extensions/raycast-gemini/package.json
  extensions/raycast-gemini/src/aiChat.jsx
  extensions/raycast-gemini/src/api/gemini.jsx
  extensions/raycast-gemini/src/api/safetySettings.jsx
Labels: extension fix / improvement, status: awaiting response from dev, OP is contributor, extension: raycast-gemini

#20217 Update f1-standings extension
  extensions/f1-standings/CHANGELOG.md
  extensions/f1-standings/package.json
  extensions/f1-standings/src/types.ts
  extensions/f1-standings/src/utils/formatDateTime.ts
  extensions/f1-standings/src/utils/getRaceDates.ts
Labels: extension fix / improvement, OP is author, extension: f1-standings, AI Extension

#20284 Update curl extension
  extensions/curl/CHANGELOG.md
  extensions/curl/src/views/Form.tsx
  extensions/curl/utils/index.ts
Labels: extension fix / improvement, OP is contributor, extension: curl, AI Extension

#20282 [Image Modification] Bug Fixes
  extensions/sips/CHANGELOG.md
  extensions/sips/README.md
  extensions/sips/assets/scripts/finder.scpt
  extensions/sips/assets/scripts/forklift-beta.scpt
  extensions/sips/assets/scripts/houdahSpot.scpt
  extensions/sips/assets/scripts/neofinder.scpt
  extensions/sips/package-lock.json
  extensions/sips/package.json
  extensions/sips/src/operations/convertOperation.ts
  extensions/sips/src/tools/apply-filters.ts
  extensions/sips/src/utilities/avif.ts
  extensions/sips/src/utilities/filters.ts
Labels: extension fix / improvement, OP is author, extension: sips, AI Extension

#20262 [ccusage]: fix(#20056) resolve custom npx path issue in ccusage CLI commands
  extensions/ccusage/CHANGELOG.md
  extensions/ccusage/package.json
  extensions/ccusage/src/hooks/useCCUsageDailyCli.ts
  extensions/ccusage/src/hooks/useCCUsageMonthlyCli.ts
  extensions/ccusage/src/hooks/useCCUsageSessionCli.ts
  extensions/ccusage/src/hooks/useCCUsageTotalCli.ts
  extensions/ccusage/src/utils/exec-options.ts
Labels: extension fix / improvement, AI Extension, extension: ccusage

#20265 [Update][Are.na] show status accessory w/ color in search channels + remove auto-generated types
  extensions/are-na/CHANGELOG.md
  extensions/are-na/metadata/a1.png
  extensions/are-na/package.json
  extensions/are-na/src/hooks/useArena.tsx
  extensions/are-na/src/search-blocks.tsx
  extensions/are-na/src/search-channels.tsx
  extensions/are-na/src/search-users.tsx
Labels: extension fix / improvement, extension: are-na

#20245 [Say] Fix duplicate lines in Configure Say command
  extensions/say/CHANGELOG.md
  extensions/say/package-lock.json
  extensions/say/package.json
Labels: extension fix / improvement, OP is author, extension: say

#20197 Update `MailerSend` extension - View API Quota + Filter Domain Activity by Type + View, Rename, Toggle (Pause/Unpause) Tokens
  extensions/mailersend/CHANGELOG.md
  extensions/mailersend/metadata/mailersend-1.png
  extensions/mailersend/metadata/mailersend-2.png
  extensions/mailersend/metadata/mailersend-3.png
  extensions/mailersend/package.json
  extensions/mailersend/src/api-quota.ts
  extensions/mailersend/src/domains.tsx
  extensions/mailersend/src/interfaces.ts
  extensions/mailersend/src/mailersend.ts
  extensions/mailersend/src/open-in-mailersend.tsx
  extensions/mailersend/src/templates.tsx
  extensions/mailersend/src/tokens.tsx
Labels: extension fix / improvement, OP is author, extension: mailersend

#20228 Update `Keygen` extension - List & Add Products + Color License based on Status + show: Expiry, Scheme, Valid in License
  extensions/keygen/CHANGELOG.md
  extensions/keygen/package-lock.json
  extensions/keygen/package.json
  extensions/keygen/src/config.ts
  extensions/keygen/src/interfaces.ts
  extensions/keygen/src/keygen.ts
  extensions/keygen/src/licenses.tsx
  extensions/keygen/src/products.tsx
Labels: extension fix / improvement, OP is author, extension: keygen

#20243 [Spaceship] Toggle Domain Transfer Lock + Get Domain Auth Code + Add AAAA, CNAME DNS Records
  extensions/spaceship/CHANGELOG.md
  extensions/spaceship/README.md
  extensions/spaceship/package-lock.json
  extensions/spaceship/package.json
  extensions/spaceship/src/manage-dns-records.tsx
  extensions/spaceship/src/manage-domains.tsx
  extensions/spaceship/src/spaceship.ts
  extensions/spaceship/src/types.ts
Labels: extension fix / improvement, OP is author, extension: spaceship

#20274 Add `Upstash` extension - List Redis Databases, View Details & Usage, Create Database + List Vector Indices, Create Index, Delete Index
  extensions/upstash/.gitignore
  extensions/upstash/.prettierrc
  extensions/upstash/CHANGELOG.md
  extensions/upstash/README.md
  extensions/upstash/assets/empty-image.svg
  extensions/upstash/assets/redis.svg
  extensions/upstash/assets/upstash-icon-dark-bg.png
  extensions/upstash/assets/upstash.svg
  extensions/upstash/assets/vector.svg
  extensions/upstash/eslint.config.js
  extensions/upstash/metadata/upstash-1.png
  extensions/upstash/metadata/upstash-2.png
  extensions/upstash/metadata/upstash-3.png
  extensions/upstash/package-lock.json
  extensions/upstash/package.json
  extensions/upstash/src/redis.tsx
  extensions/upstash/src/upstash.tsx
  extensions/upstash/src/vector.tsx
  extensions/upstash/tsconfig.json
Labels: new extension

#17673 Add Metabase AI Tools
  extensions/metabase/.eslintrc.json
  extensions/metabase/CHANGELOG.md
  extensions/metabase/eslint.config.js
  extensions/metabase/package-lock.json
  extensions/metabase/package.json
  extensions/metabase/src/lib/api.ts
  extensions/metabase/src/search-questions.tsx
  extensions/metabase/src/tools/get-databases.ts
  extensions/metabase/src/tools/get-questions.ts
  extensions/metabase/src/tools/run-query.ts
  extensions/metabase/src/tools/run-question.ts
  extensions/metabase/tsconfig.json
Labels: extension fix / improvement, OP is author, AI Extension, extension: metabase

#19803 [zed-recent-projects] Adds a preference checkbox to use the Zed development Sqlite database
  extensions/zed-recent-projects/CHANGELOG.md
  extensions/zed-recent-projects/package.json
  extensions/zed-recent-projects/src/lib/zed.ts
Labels: extension fix / improvement, extension: zed-recent-projects

#20286 Update `Larajobs` extension - filter by Type, Salary, Tag
  extensions/larajobs-search/.eslintrc.json
  extensions/larajobs-search/.gitignore
  extensions/larajobs-search/CHANGELOG.md
  extensions/larajobs-search/eslint.config.js
  extensions/larajobs-search/package-lock.json
  extensions/larajobs-search/package.json
  extensions/larajobs-search/src/constants.ts
  extensions/larajobs-search/src/index.tsx
  extensions/larajobs-search/tsconfig.json
Labels: extension fix / improvement, extension: larajobs-search

#20251 [Update] [Browser tabs] new icon style
  extensions/browser-tabs/CHANGELOG.md
  extensions/browser-tabs/assets/browser-tabs-icon.png
  extensions/browser-tabs/assets/browser-tabs-icon@dark.png
  extensions/browser-tabs/eslint.config.js
  extensions/browser-tabs/package-lock.json
  extensions/browser-tabs/package.json
  extensions/browser-tabs/src/utils/constants.ts
Labels: extension fix / improvement, OP is author, extension: browser-tabs

#20253 [Update] [Hide Files] new icon style
  extensions/hide-files/.eslintrc.json
  extensions/hide-files/CHANGELOG.md
  extensions/hide-files/assets/extension-icon.png
  extensions/hide-files/assets/extension-icon@dark.png
  extensions/hide-files/assets/manage-hidden-files.png
  extensions/hide-files/assets/manage-hidden-files@dark.png
  extensions/hide-files/assets/toggle-current-window-visibility.png
  extensions/hide-files/assets/toggle-current-window-visibility@dark.png
  extensions/hide-files/assets/toggle-desktop-visibility.png
  extensions/hide-files/assets/toggle-desktop-visibility@dark.png
  extensions/hide-files/assets/toggle-select-files-visibility.png
  extensions/hide-files/assets/toggle-select-files-visibility@dark.png
  extensions/hide-files/eslint.config.js
  extensions/hide-files/package-lock.json
  extensions/hide-files/package.json
  extensions/hide-files/src/utils/applescript-utils.ts
  extensions/hide-files/src/utils/common-utils.ts
  extensions/hide-files/tsconfig.json
Labels: extension fix / improvement, OP is author, extension: hide-files

#20241 Update Cider extension
  extensions/cider/CHANGELOG.md
  extensions/cider/package.json
Labels: extension fix / improvement, OP is author, extension: cider, Windows

#20226 Add trip search command to Norwegian Public Transport extension
  extensions/norwegian-public-transport/.eslintrc.json
  extensions/norwegian-public-transport/.gitignore
  extensions/norwegian-public-transport/CHANGELOG.md
  extensions/norwegian-public-transport/README.md
  extensions/norwegian-public-transport/assets/transport-modes/Foot.svg
  extensions/norwegian-public-transport/eslint.config.mjs
  extensions/norwegian-public-transport/metadata/raycast-norwegian-public-transport-4.png
  extensions/norwegian-public-transport/metadata/raycast-norwegian-public-transport-5.png
  extensions/norwegian-public-transport/package-lock.json
  extensions/norwegian-public-transport/package.json
  extensions/norwegian-public-transport/src/Departures/Actions.tsx
  extensions/norwegian-public-transport/src/Departures/DeparturesPage.tsx
  extensions/norwegian-public-transport/src/Departures/Detail.tsx
  extensions/norwegian-public-transport/src/Departures/SearchPage.tsx
  extensions/norwegian-public-transport/src/Search/Actions.tsx
  extensions/norwegian-public-transport/src/Search/Search.tsx
  extensions/norwegian-public-transport/src/Search/use-debounced-venues.ts
  extensions/norwegian-public-transport/src/Trips/SearchDestinationPage.tsx
  extensions/norwegian-public-transport/src/Trips/SearchStartPage.tsx
  extensions/norwegian-public-transport/src/Trips/TripDetailsPage.tsx
  extensions/norwegian-public-transport/src/Trips/TripsPage.tsx
  extensions/norwegian-public-transport/src/api/departuresQuery.ts
  extensions/norwegian-public-transport/src/api/fragments.ts
  extensions/norwegian-public-transport/src/api/index.ts
  extensions/norwegian-public-transport/src/api/tripsQuery.ts
  extensions/norwegian-public-transport/src/departureQuery.ts
  extensions/norwegian-public-transport/src/departures.tsx
  extensions/norwegian-public-transport/src/preferences.ts
  extensions/norwegian-public-transport/src/storage.ts
  extensions/norwegian-public-transport/src/trips.tsx
  extensions/norwegian-public-transport/src/types.ts
  extensions/norwegian-public-transport/src/utils.ts
Labels: extension fix / improvement, OP is author, extension: norwegian-public-transport

#20187 Update browser-bookmarks extension
  extensions/browser-bookmarks/CHANGELOG.md
  extensions/browser-bookmarks/package.json
  extensions/browser-bookmarks/src/index.tsx
Labels: extension fix / improvement, extension: browser-bookmarks

#20295 [HoudahSpot Search] fix fallback text not used
  extensions/houdahspot-search/CHANGELOG.md
  extensions/houdahspot-search/src/index.ts
Labels: extension fix / improvement, OP is contributor, extension: houdahspot-search

#20298 fix: typescript error handling
  extensions/send-ai/CHANGELOG.md
  extensions/send-ai/src/buy-token.tsx
  extensions/send-ai/src/create-dca.tsx
  extensions/send-ai/src/create-limit-order.tsx
  extensions/send-ai/src/get-portfolio.tsx
  extensions/send-ai/src/get-token-overview.tsx
  extensions/send-ai/src/get-trending-tokens.tsx
  extensions/send-ai/src/launch-token.tsx
  extensions/send-ai/src/sell-token.tsx
  extensions/send-ai/src/transaction-history.tsx
  extensions/send-ai/src/transfer-spl.tsx
  extensions/send-ai/src/utils/format.ts
Labels: extension fix / improvement, OP is author, AI Extension, extension: send-ai

#20111 feat(notion): show properties in page preview
  extensions/notion/CHANGELOG.md
  extensions/notion/package.json
  extensions/notion/src/components/PageDetail.tsx
Labels: extension fix / improvement, extension: notion

#20300 things: improve project detection to not depend on existing projects
  extensions/things/CHANGELOG.md
  extensions/things/src/api.ts
Labels: extension fix / improvement, OP is contributor, extension: things, AI Extension

#20170 Add ship24-client extension
  extensions/ship24-client/.gitignore
  extensions/ship24-client/.prettierrc
  extensions/ship24-client/CHANGELOG.md
  extensions/ship24-client/README.md
  extensions/ship24-client/assets/extension-icon.png
  extensions/ship24-client/eslint.config.js
  extensions/ship24-client/metadata/ship24-client-1.png
  extensions/ship24-client/metadata/ship24-client-2.png
  extensions/ship24-client/metadata/ship24-client-3.png
  extensions/ship24-client/metadata/ship24-client-4.png
  extensions/ship24-client/package-lock.json
  extensions/ship24-client/package.json
  extensions/ship24-client/src/add-parcel.tsx
  extensions/ship24-client/src/api.ts
  extensions/ship24-client/src/components/ErrorBoundary.tsx
  extensions/ship24-client/src/components/LoadingState.tsx
  extensions/ship24-client/src/hooks/useParcels.ts
  extensions/ship24-client/src/my-packages.tsx
  extensions/ship24-client/src/parcel-details.tsx
  extensions/ship24-client/src/parcel-service.ts
  extensions/ship24-client/src/parcels-statuses.tsx
  extensions/ship24-client/src/preferences.ts
  extensions/ship24-client/src/storage.ts
  extensions/ship24-client/src/tracking-result.tsx
  extensions/ship24-client/src/types.ts
  extensions/ship24-client/src/utils/error-handler.ts
  extensions/ship24-client/src/utils/markdown-generator.ts
  extensions/ship24-client/tsconfig.json
Labels: new extension

#20157 Add zipline extension
  extensions/zipline/.eslintrc.json
  extensions/zipline/.gitignore
  extensions/zipline/CHANGELOG.md
  extensions/zipline/README.md
  extensions/zipline/assets/zipline-icon.png
  extensions/zipline/eslint.config.mjs
  extensions/zipline/metadata/raycast-zipline-1.png
  extensions/zipline/metadata/raycast-zipline-2.png
  extensions/zipline/metadata/raycast-zipline-3.png
  extensions/zipline/package-lock.json
  extensions/zipline/package.json
  extensions/zipline/src/api/zipline.ts
  extensions/zipline/src/browse-uploads.tsx
  extensions/zipline/src/recent-uploads.tsx
  extensions/zipline/src/types/zipline.ts
  extensions/zipline/src/upload-clipboard-instant.tsx
  extensions/zipline/src/upload-file.tsx
  extensions/zipline/src/utils/preferences.ts
  extensions/zipline/tsconfig.json
Labels: new extension

#20050 Add quick-jump extension
  extensions/quick-jump/.gitignore
  extensions/quick-jump/.prettierrc
  extensions/quick-jump/CHANGELOG.md
  extensions/quick-jump/README.md
  extensions/quick-jump/assets/airflow.png
  extensions/quick-jump/assets/argocd.png
  extensions/quick-jump/assets/bigquery.png
  extensions/quick-jump/assets/couchbase.png
  extensions/quick-jump/assets/dashboard.png
  extensions/quick-jump/assets/database.png
  extensions/quick-jump/assets/github.png
  extensions/quick-jump/assets/gitlab.png
  extensions/quick-jump/assets/google-cloud.png
  extensions/quick-jump/assets/google-sheets.png
  extensions/quick-jump/assets/grafana.png
  extensions/quick-jump/assets/icon.png
  extensions/quick-jump/assets/jira.png
  extensions/quick-jump/assets/kafka.png
  extensions/quick-jump/assets/kibana.png
  extensions/quick-jump/assets/kubernetes.png
  extensions/quick-jump/assets/metabase.png
  extensions/quick-jump/assets/project.png
  extensions/quick-jump/assets/swagger.png
  extensions/quick-jump/eslint.config.js
  extensions/quick-jump/metadata/quick-jump-1.png
  extensions/quick-jump/metadata/quick-jump-2.png
  extensions/quick-jump/metadata/quick-jump-3.png
  extensions/quick-jump/metadata/quick-jump-4.png
  extensions/quick-jump/metadata/quick-jump-5.png
  extensions/quick-jump/metadata/quick-jump-6.png
  extensions/quick-jump/package-lock.json
  extensions/quick-jump/package.json
  extensions/quick-jump/src/components/help-view.tsx
  extensions/quick-jump/src/components/open-config-action.tsx
  extensions/quick-jump/src/components/url-list-item.tsx
  extensions/quick-jump/src/constants.ts
  extensions/quick-jump/src/hooks/use-applications.ts
  extensions/quick-jump/src/search.tsx
  extensions/quick-jump/src/template-utils.ts
  extensions/quick-jump/src/types.ts
  extensions/quick-jump/src/url-list.tsx
  extensions/quick-jump/src/use-data.ts
  extensions/quick-jump/src/utils.ts
  extensions/quick-jump/src/validation.ts
  extensions/quick-jump/tsconfig.json
Labels: new extension

#20190 Update easydict extension
  extensions/easydict/.eslintrc
  extensions/easydict/.husky/pre-commit
  extensions/easydict/CHANGELOG.md
  extensions/easydict/Icon 
  extensions/easydict/assets/DeepLX Translate.png
  extensions/easydict/assets/Gemini Translate.png
  extensions/easydict/eslint.config.ts
  extensions/easydict/overrides/whatlang-node/index.js
  extensions/easydict/overrides/whatlang-node/package.json
  extensions/easydict/package-lock.json
  extensions/easydict/package.json
  extensions/easydict/src/audio.ts
  extensions/easydict/src/components.tsx
  extensions/easydict/src/dataManager/dataManager.ts
  extensions/easydict/src/dataManager/utils.ts
  extensions/easydict/src/detectLanguage/detect.ts
  extensions/easydict/src/detectLanguage/franc.ts
  extensions/easydict/src/detectLanguage/utils.ts
  extensions/easydict/src/dictionary/iciba/request.ts
  extensions/easydict/src/dictionary/linguee/parse.ts
  extensions/easydict/src/dictionary/youdao/formatData.ts
  extensions/easydict/src/dictionary/youdao/youdao.ts
  extensions/easydict/src/dictionary/youdao/youdaoTranslate.ts
  extensions/easydict/src/language/languages.ts
  extensions/easydict/src/preferences.ts
  extensions/easydict/src/releaseVersion/versionInfo.ts
  extensions/easydict/src/scripts.ts
  extensions/easydict/src/translation/baidu/baiduAPI.ts
  extensions/easydict/src/translation/baidu/baiduSign.js
  extensions/easydict/src/translation/deepL.ts
  extensions/easydict/src/translation/deepLX.ts
  extensions/easydict/src/translation/gemini.ts
  extensions/easydict/src/translation/microsoft/bing.ts
  extensions/easydict/src/translation/openAI/utils.ts
  extensions/easydict/src/translation/tencent.ts
  extensions/easydict/src/types.ts
Labels: extension fix / improvement, extension: easydict

#20231 Update ray-boop extension
  extensions/ray-boop/CHANGELOG.md
  extensions/ray-boop/README.md
  extensions/ray-boop/src/scripts/NormalizeToNFC.js
  extensions/ray-boop/src/scripts/NormalizeToNFD.js
  extensions/ray-boop/src/scripts/NormalizeToNFKC.js
  extensions/ray-boop/src/scripts/NormalizeToNFKD.js
  extensions/ray-boop/src/utils/scriptRegistry.ts
Labels: extension fix / improvement, OP is author, extension: ray-boop

#20327 Update `Short.io` extension - `search-links` now allows you to view links independent of default + fix: `shorten-link-with-domain` persists Default Domain properly
  extensions/short-io/CHANGELOG.md
  extensions/short-io/README.md
  extensions/short-io/src/edit-link.tsx
  extensions/short-io/src/hooks/useDefaultDomain.ts
  extensions/short-io/src/hooks/useDomains.ts
  extensions/short-io/src/hooks/useShortLinks.ts
  extensions/short-io/src/search-links.tsx
Labels: extension fix / improvement, OP is contributor, extension: short-io

#20341 things: handle JXA scripts with no result
  extensions/things/CHANGELOG.md
  extensions/things/src/api.ts
Labels: extension fix / improvement, OP is contributor, extension: things, AI Extension

#20333 [Easy Dictionary] Remove the unused icon file
  extensions/easydict/CHANGELOG.md
  extensions/easydict/Icon 
  extensions/easydict/package.json
Labels: extension fix / improvement, extension: easydict

#19219 Update slack extension
  extensions/slack/CHANGELOG.md
  extensions/slack/package.json
  extensions/slack/src/shared/utils.ts
  extensions/slack/src/tools/get-channel-history.ts
  extensions/slack/src/tools/get-channels.ts
  extensions/slack/src/tools/search-messages.ts
Labels: extension fix / improvement, extension: slack, AI Extension

#20232 Add rounding-number extension
  extensions/rounding-number/CHANGELOG.md
  extensions/rounding-number/README.md
  extensions/rounding-number/assets/extension-icon.png
  extensions/rounding-number/eslint.config.js
  extensions/rounding-number/metadata/rounding-number-1.png
  extensions/rounding-number/metadata/rounding-number-2.png
  extensions/rounding-number/metadata/rounding-number-3.png
  extensions/rounding-number/package-lock.json
  extensions/rounding-number/package.json
  extensions/rounding-number/raycast-env.d.ts
  extensions/rounding-number/src/round-number.tsx
  extensions/rounding-number/tsconfig.json
Labels: new extension

#20360 Fix GIF Search extension updates
  extensions/gif-search/CHANGELOG.md
  extensions/gif-search/src/components/GifActions.tsx
  extensions/gif-search/src/lib/getServiceFromUrl.ts
Labels: extension fix / improvement, extension: gif-search

#20338 [ProtonDB] Add support for Windows
  extensions/protondb/.eslintrc.json
  extensions/protondb/CHANGELOG.md
  extensions/protondb/eslint.config.mjs
  extensions/protondb/package-lock.json
  extensions/protondb/package.json
Labels: extension fix / improvement, OP is author, Windows, extension: protondb

#20136 Update URL-unshortener
  extensions/url-unshortener/CHANGELOG.md
  extensions/url-unshortener/package-lock.json
  extensions/url-unshortener/package.json
  extensions/url-unshortener/src/utils.tsx
Labels: extension fix / improvement, OP is author, extension: url-unshortener, Windows

#20222 Add WeChat DevTool extension
  extensions/wechat-devtool/.eslintrc.json
  extensions/wechat-devtool/.gitignore
  extensions/wechat-devtool/.prettierrc
  extensions/wechat-devtool/CHANGELOG.md
  extensions/wechat-devtool/README.md
  extensions/wechat-devtool/assets/README.md
  extensions/wechat-devtool/assets/icon.png
  extensions/wechat-devtool/metadata/wechat-devtool-1.png
  extensions/wechat-devtool/metadata/wechat-devtool-2.png
  extensions/wechat-devtool/metadata/wechat-devtool-3.png
  extensions/wechat-devtool/package-lock.json
  extensions/wechat-devtool/package.json
  extensions/wechat-devtool/src/components/device-form.tsx
  extensions/wechat-devtool/src/components/project-list.tsx
  extensions/wechat-devtool/src/configure.tsx
  extensions/wechat-devtool/src/constants/index.ts
  extensions/wechat-devtool/src/open-project.tsx
  extensions/wechat-devtool/src/readme-view.tsx
  extensions/wechat-devtool/src/types.d.ts
  extensions/wechat-devtool/src/utils/cli.ts
  extensions/wechat-devtool/src/utils/config.ts
  extensions/wechat-devtool/tsconfig.json
Labels: new extension

#20370 Update repology-search
  extensions/repology-search/.eslintrc.json
  extensions/repology-search/CHANGELOG.md
  extensions/repology-search/eslint.config.js
  extensions/repology-search/package-lock.json
  extensions/repology-search/package.json
  extensions/repology-search/src/search.tsx
  extensions/repology-search/tsconfig.json
Labels: extension fix / improvement, OP is author, extension: repology-search

#20214 FocusFLOW
  extensions/focus-flow/.gitignore
  extensions/focus-flow/.prettierrc
  extensions/focus-flow/CHANGELOG.md
  extensions/focus-flow/README.md
  extensions/focus-flow/assets/extension_icon.png
  extensions/focus-flow/eslint.config.js
  extensions/focus-flow/metadata/leaderboard-1.png
  extensions/focus-flow/metadata/my-stats-1.png
  extensions/focus-flow/metadata/team-settings-1.png
  extensions/focus-flow/package-lock.json
  extensions/focus-flow/package.json
  extensions/focus-flow/src/create-team.tsx
  extensions/focus-flow/src/join-team.tsx
  extensions/focus-flow/src/leaderboard.tsx
  extensions/focus-flow/src/menu-bar.tsx
  extensions/focus-flow/src/modify-session.tsx
  extensions/focus-flow/src/my-stats.tsx
  extensions/focus-flow/src/start-session.tsx
  extensions/focus-flow/src/stop-session.tsx
  extensions/focus-flow/src/team-settings.tsx
  extensions/focus-flow/src/types.ts
  extensions/focus-flow/src/utils/discord.ts
  extensions/focus-flow/src/utils/storage.ts
  extensions/focus-flow/src/utils/team.ts
  extensions/focus-flow/src/utils/time.ts
  extensions/focus-flow/tsconfig.json
Labels: new extension

#20364 [SteamGridDB] Add support for Windows
  extensions/steamgriddb/.eslintrc.json
  extensions/steamgriddb/CHANGELOG.md
  extensions/steamgriddb/eslint.config.mjs
  extensions/steamgriddb/metadata/steamgriddb-1.png
  extensions/steamgriddb/metadata/steamgriddb-2.png
  extensions/steamgriddb/metadata/steamgriddb-3.png
  extensions/steamgriddb/metadata/steamgriddb-4.png
  extensions/steamgriddb/package-lock.json
  extensions/steamgriddb/package.json
  extensions/steamgriddb/src/components.tsx
  extensions/steamgriddb/src/utils.ts
Labels: extension fix / improvement, OP is author, extension: steamgriddb

#20375 Update Tasklink extension
  extensions/tasklink/.eslintrc.json
  extensions/tasklink/CHANGELOG.md
  extensions/tasklink/eslint.config.js
  extensions/tasklink/package-lock.json
  extensions/tasklink/package.json
  extensions/tasklink/src/error_handler.ts
  extensions/tasklink/src/issue_id_to_html_link.ts
  extensions/tasklink/src/issue_id_to_markdown_link.ts
  extensions/tasklink/src/preferences.ts
  extensions/tasklink/src/selected_text.ts
  extensions/tasklink/src/tests/issue_id_to_html_link.test.ts
  extensions/tasklink/src/tests/issue_id_to_markdown_link.test.ts
  extensions/tasklink/src/tests/raycast_api_mock.ts
  extensions/tasklink/vitest.config.ts
Labels: extension fix / improvement, OP is author, extension: tasklink

#20414 Update yu-gi-oh-card-lookup extension
  extensions/yu-gi-oh-card-lookup/CHANGELOG.md
  extensions/yu-gi-oh-card-lookup/package-lock.json
  extensions/yu-gi-oh-card-lookup/package.json
Labels: extension fix / improvement, OP is author, extension: yu-gi-oh-card-lookup

#20408 Update ScreenOCR
  extensions/screenocr/CHANGELOG.md
  extensions/screenocr/package-lock.json
  extensions/screenocr/package.json
  extensions/screenocr/src/detect-barcode.tsx
  extensions/screenocr/src/utils.ts
  extensions/screenocr/swift/Sources/ScreenOCR/ScreenOCR.swift
Labels: extension fix / improvement, OP is author, extension: screenocr

#20387 Update background-sounds
  extensions/background-sounds/.eslintrc.json
  extensions/background-sounds/CHANGELOG.md
  extensions/background-sounds/eslint.config.js
  extensions/background-sounds/package-lock.json
  extensions/background-sounds/package.json
  extensions/background-sounds/tsconfig.json
Labels: extension fix / improvement, OP is author, extension: background-sounds

#20424 feat(readwise-reader:) add option to open in Reader desktop app
  extensions/readwise-reader/CHANGELOG.md
  extensions/readwise-reader/package.json
  extensions/readwise-reader/src/list-documents.tsx
  extensions/readwise-reader/src/open-archive.tsx
  extensions/readwise-reader/src/open-home.tsx
  extensions/readwise-reader/src/open-inbox.tsx
  extensions/readwise-reader/src/open-later.tsx
  extensions/readwise-reader/src/open-shortlist.tsx
  extensions/readwise-reader/src/utils.ts
Labels: extension fix / improvement, OP is author, extension: readwise-reader

#20402 Update `Neon` extension - add project, delete projects + Modernize to use latest Raycast config
  extensions/neon/.eslintrc.json
  extensions/neon/CHANGELOG.md
  extensions/neon/README.md
  extensions/neon/eslint.config.js
  extensions/neon/package-lock.json
  extensions/neon/package.json
  extensions/neon/src/list-projects.tsx
  extensions/neon/tsconfig.json
Labels: extension fix / improvement, OP is author, extension: neon

#20421 [valkey commands search] Migrate to useFetch and group the commands
  extensions/valkey-commands-search/.eslintrc.json
  extensions/valkey-commands-search/CHANGELOG.md
  extensions/valkey-commands-search/eslint.config.mjs
  extensions/valkey-commands-search/metadata/valkey-commands-search-1.png
  extensions/valkey-commands-search/metadata/valkey-commands-search-2.png
  extensions/valkey-commands-search/package-lock.json
  extensions/valkey-commands-search/package.json
  extensions/valkey-commands-search/src/search-valkey-commands.tsx
Labels: extension fix / improvement, OP is author, extension: valkey-commands-search

#20405 Update `Oracle Cloud (OCI)` extension - implement provider w/ context + basic objectstorage command
  extensions/oci/CHANGELOG.md
  extensions/oci/README.md
  extensions/oci/eslint.config.js
  extensions/oci/package-lock.json
  extensions/oci/package.json
  extensions/oci/src/core.tsx
  extensions/oci/src/object-storage.tsx
  extensions/oci/src/oci.tsx
  extensions/oci/src/open-in-oci.tsx
  extensions/oci/src/utils.ts
Labels: extension fix / improvement, OP is author, extension: oci

#20386 Update `Appwrite` extension - DB, Storage, User Enhancements
  extensions/appwrite/CHANGELOG.md
  extensions/appwrite/README.md
  extensions/appwrite/metadata/appwrite-3.png
  extensions/appwrite/metadata/appwrite-4.png
  extensions/appwrite/package-lock.json
  extensions/appwrite/package.json
  extensions/appwrite/src/databases.tsx
  extensions/appwrite/src/storage.tsx
  extensions/appwrite/src/storage/files.tsx
  extensions/appwrite/src/users.tsx
Labels: extension fix / improvement, OP is author, extension: appwrite

#19948 Update secret-browser-commands extension
  extensions/secret-browser-commands/CHANGELOG.md
  extensions/secret-browser-commands/eslint.config.js
  extensions/secret-browser-commands/package.json
Labels: extension fix / improvement, OP is author, extension: secret-browser-commands

#20449 [Update] [Easy New File] Support Default Directory
  extensions/easy-new-file/CHANGELOG.md
  extensions/easy-new-file/assets/add-file-template-icon.png
  extensions/easy-new-file/assets/add-file-template-icon@dark.png
  extensions/easy-new-file/assets/easy-new-file-icon.png
  extensions/easy-new-file/assets/easy-new-file-icon@dark.png
  extensions/easy-new-file/assets/new-file-now.png
  extensions/easy-new-file/assets/new-file-now@dark.png
  extensions/easy-new-file/assets/new-file-with-template-icon.png
  extensions/easy-new-file/assets/new-file-with-template-icon@dark.png
  extensions/easy-new-file/package-lock.json
  extensions/easy-new-file/package.json
  extensions/easy-new-file/src/new-file-now.tsx
  extensions/easy-new-file/src/new-file-with-template.tsx
  extensions/easy-new-file/src/types/preferences.ts
  extensions/easy-new-file/src/utils/common-utils.ts
Labels: extension fix / improvement, OP is author, extension: easy-new-file

#20172 macosicons: fix API error handling for non-JSON responses
  extensions/macosicons/CHANGELOG.md
  extensions/macosicons/src/helpers/api.ts
Labels: extension fix / improvement, OP is contributor, extension: macosicons

#20489 Add preference to toggle default reuse open GitHub search tab (resolves #20488)
  extensions/github-search/CHANGELOG.md
  extensions/github-search/package.json
  extensions/github-search/src/search.tsx
Labels: extension fix / improvement, OP is author, extension: github-search

#20383 feat: Backstage plugin supports static token
  extensions/backstage/CHANGELOG.md
  extensions/backstage/package.json
  extensions/backstage/src/search-components.tsx
Labels: extension fix / improvement, extension: backstage

#20579 Arc: Fix trying to open a tab with `open`
  extensions/arc/src/actions.tsx
Labels: extension fix / improvement, extension: arc, AI Extension

#20608 Update gdrive homepage url
  extensions/model-context-protocol-registry/CHANGELOG.md
  extensions/model-context-protocol-registry/src/registries/builtin/entries.ts
Labels: extension fix / improvement, extension: model-context-protocol-registry

#20487 [Todoist] Windows support
  extensions/todoist/CHANGELOG.md
  extensions/todoist/package.json
Labels: extension fix / improvement, extension: todoist, AI Extension, Windows

#20240 [NUSMods] Add support for Raycast Windows
  extensions/nusmods/CHANGELOG.md
  extensions/nusmods/package-lock.json
  extensions/nusmods/package.json
  extensions/nusmods/src/search-nus-courses.tsx
Labels: extension fix / improvement, Windows, extension: nusmods

#20471 [NeoDB] Add support for Windows
  extensions/neodb/.eslintrc.json
  extensions/neodb/CHANGELOG.md
  extensions/neodb/eslint.config.mjs
  extensions/neodb/package-lock.json
  extensions/neodb/package.json
  extensions/neodb/src/ItemDetail.tsx
  extensions/neodb/src/components/ItemActions.tsx
  extensions/neodb/src/hooks/useSearch.ts
Labels: extension fix / improvement, extension: neodb, Windows

#20448 [Mastodon] Add support for Windows
  extensions/mastodon/.eslintrc.json
  extensions/mastodon/CHANGELOG.md
  extensions/mastodon/eslint.config.mjs
  extensions/mastodon/package-lock.json
  extensions/mastodon/package.json
  extensions/mastodon/src/hooks/useInteraction.ts
  extensions/mastodon/src/hooks/usePostStatus.ts
  extensions/mastodon/src/post-simple-status.tsx
  extensions/mastodon/src/utils/api.ts
  extensions/mastodon/src/utils/types.ts
Labels: extension fix / improvement, OP is contributor, extension: mastodon, Windows

#20239 feat: add windows support mymind extension
  extensions/mymind/CHANGELOG.md
  extensions/mymind/package.json
Labels: extension fix / improvement, OP is author, extension: mymind, Windows

#20651 Update endoflife
  extensions/end-of-life/.eslintrc.json
  extensions/end-of-life/.prettierrc
  extensions/end-of-life/CHANGELOG.md
  extensions/end-of-life/README.md
  extensions/end-of-life/eslint.config.js
  extensions/end-of-life/metadata/end-of-life-1.png
  extensions/end-of-life/metadata/end-of-life-2.png
  extensions/end-of-life/metadata/end-of-life-3.png
  extensions/end-of-life/metadata/end-of-life-4.png
  extensions/end-of-life/package-lock.json
  extensions/end-of-life/package.json
  extensions/end-of-life/src/components/ProductDetails.tsx
  extensions/end-of-life/src/hooks/useEndOfLifeProducts.ts
  extensions/end-of-life/src/hooks/useProductDetails.ts
  extensions/end-of-life/src/types.ts
  extensions/end-of-life/src/utils/cycleUtils.ts
  extensions/end-of-life/src/utils/formatDate.ts
  extensions/end-of-life/src/utils/isValidDate.ts
  extensions/end-of-life/src/views/ProductDetails.tsx
  extensions/end-of-life/src/views/ProductsList.tsx
  extensions/end-of-life/tsconfig.json
Labels: extension fix / improvement, extension: end-of-life

#20398 feat[Backstage plugin]: configurable Backstage API URL
  extensions/backstage/CHANGELOG.md
  extensions/backstage/package.json
  extensions/backstage/src/search-components.tsx
Labels: extension fix / improvement, extension: backstage

#20296 Update pieces-raycast extension
  extensions/pieces-raycast/CHANGELOG.md
  extensions/pieces-raycast/README.md
  extensions/pieces-raycast/package-lock.json
  extensions/pieces-raycast/package.json
  extensions/pieces-raycast/src/actions/saveAsset.ts
  extensions/pieces-raycast/src/connection/ConnectorSingleton.ts
  extensions/pieces-raycast/src/connection/assets/AssetsStream.ts
  extensions/pieces-raycast/src/connection/health/piecesHealthCheck.ts
  extensions/pieces-raycast/src/connection/health/piecesInstalledCheck.ts
  extensions/pieces-raycast/src/connection/health/piecesPreflightCheck.ts
  extensions/pieces-raycast/src/connection/health/piecesUpToDateCheck.ts
  extensions/pieces-raycast/src/connection/user/UserStream.ts
  extensions/pieces-raycast/src/controllers/AssetsController.ts
  extensions/pieces-raycast/src/controllers/EnrichmentController.ts
  extensions/pieces-raycast/src/save-browser-history-to-pieces.tsx
  extensions/pieces-raycast/src/save-clipboard-history-to-pieces.tsx
  extensions/pieces-raycast/src/save-clipboard-to-pieces.ts
  extensions/pieces-raycast/src/save-finder-selection-to-pieces.ts
  extensions/pieces-raycast/src/save-selection-to-pieces.ts
  extensions/pieces-raycast/src/search-materials.tsx
  extensions/pieces-raycast/src/search-snippets.tsx
  extensions/pieces-raycast/src/signin.ts
  extensions/pieces-raycast/src/signout.ts
  extensions/pieces-raycast/src/ui/Notifications.ts
  extensions/pieces-raycast/src/utils/BrowserUrl.ts
  extensions/pieces-raycast/src/utils/constants.ts
  extensions/pieces-raycast/src/utils/launchRuntime.ts
  extensions/pieces-raycast/src/utils/ui/usePiecesPreflightCheck.tsx
Labels: extension fix / improvement, extension: pieces-raycast, AI Extension

#20690 Deprecate Ghost Docs Extension
  extensions/ghost-docs/CHANGELOG.md
  extensions/ghost-docs/src/index.tsx
Labels: extension fix / improvement, extension: ghost-docs

#20357 Update tailscale extension to add more information about Mullvad exit nodes
  extensions/tailscale/CHANGELOG.md
  extensions/tailscale/package-lock.json
  extensions/tailscale/package.json
  extensions/tailscale/src/exit.tsx
  extensions/tailscale/src/shared.tsx
Labels: extension fix / improvement, extension: tailscale

#20502 Add planning-center extension
  extensions/planning-center/.editorconfig
  extensions/planning-center/.gitignore
  extensions/planning-center/.nvmrc
  extensions/planning-center/.prettierrc
  extensions/planning-center/CHANGELOG.md
  extensions/planning-center/LICENSE.txt
  extensions/planning-center/README.md
  extensions/planning-center/assets/extension-icon.png
  extensions/planning-center/eslint.config.mjs
  extensions/planning-center/metadata/planning-center-1.png
  extensions/planning-center/metadata/planning-center-2.png
  extensions/planning-center/package-lock.json
  extensions/planning-center/package.json
  extensions/planning-center/src/lookup-people.tsx
  extensions/planning-center/tsconfig.json
Labels: new extension
