Repository raycast/extensions, pull requests merged in 2025-09, with the labels that each got.

#21266 [MapleStory.gg] Routine maintenance
  extensions/maplestory-gg/.eslintrc.json
  extensions/maplestory-gg/CHANGELOG.md
  extensions/maplestory-gg/eslint.config.mjs
  extensions/maplestory-gg/package-lock.json
  extensions/maplestory-gg/package.json
  extensions/maplestory-gg/src/components.tsx
Labels: extension fix / improvement, OP is author, extension: maplestory-gg

#21256 Update `My Idlers` extension - Add Server
  extensions/my-idlers/CHANGELOG.md
  extensions/my-idlers/package-lock.json
  extensions/my-idlers/package.json
  extensions/my-idlers/src/components/server-item.tsx
  extensions/my-idlers/src/hooks.ts
  extensions/my-idlers/src/types.ts
  extensions/my-idlers/src/utils.ts
Labels: extension fix / improvement, OP is author, extension: my-idlers

#21129 Update dotmate extension
  extensions/dotmate/.gitignore
  extensions/dotmate/CHANGELOG.md
  extensions/dotmate/README.md
  extensions/dotmate/package-lock.json
  extensions/dotmate/package.json
  extensions/dotmate/src/dotfiles.ts
Labels: extension fix / improvement, status: awaiting response from dev, extension: dotmate

#20586 Update ado-search extension
  extensions/ado-search/CHANGELOG.md
  extensions/ado-search/package.json
  extensions/ado-search/src/search-ado-repos.tsx
  extensions/ado-search/src/search-my-pbis.tsx
Labels: extension fix / improvement, status: awaiting response from dev, status: stalled, extension: ado-search

#21234 Update spotify-player extension
  extensions/spotify-player/CHANGELOG.md
  extensions/spotify-player/package.json
  extensions/spotify-player/src/components/AlbumActionPanel.tsx
  extensions/spotify-player/src/components/FooterAction.tsx
Labels: extension fix / improvement, OP is contributor, extension: spotify-player, AI Extension

#21222 [Forked Extensions] Improve error handlers and toasts
  extensions/forked-extensions/CHANGELOG.md
  extensions/forked-extensions/README.md
  extensions/forked-extensions/package-lock.json
  extensions/forked-extensions/package.json
  extensions/forked-extensions/src/api.ts
  extensions/forked-extensions/src/components/diagnostics.tsx
  extensions/forked-extensions/src/components/sync-fork.tsx
  extensions/forked-extensions/src/components/valid-extensions.tsx
  extensions/forked-extensions/src/constants.ts
  extensions/forked-extensions/src/errors.ts
  extensions/forked-extensions/src/git.ts
  extensions/forked-extensions/src/manage-forked-extensions.tsx
  extensions/forked-extensions/src/operation.ts
  extensions/forked-extensions/src/utils.ts
Labels: new extension

#21153 Fix todoist extension: An error creating task
  extensions/todoist/.gitignore
  extensions/todoist/CHANGELOG.md
  extensions/todoist/package.json
  extensions/todoist/src/create-task.tsx
Labels: extension fix / improvement, status: awaiting response from dev, extension: todoist, AI Extension

#20815 [Whimsical]: First version, only AI
  extensions/whimsical/.gitignore
  extensions/whimsical/.prettierrc
  extensions/whimsical/CHANGELOG.md
  extensions/whimsical/README.md
  extensions/whimsical/assets/extension-icon.png
  extensions/whimsical/eslint.config.js
  extensions/whimsical/metadata/whimsical-1.png
  extensions/whimsical/package-lock.json
  extensions/whimsical/package.json
  extensions/whimsical/src/info.tsx
  extensions/whimsical/src/tools/diagram.ts
  extensions/whimsical/tsconfig.json
Labels: new extension, AI Extension

#20767 [Mozilla Firefox] Refactor and fixes
  extensions/mozilla-firefox/CHANGELOG.md
  extensions/mozilla-firefox/package-lock.json
  extensions/mozilla-firefox/package.json
  extensions/mozilla-firefox/src/actions/index.ts
  extensions/mozilla-firefox/src/components/FirefoxActions.tsx
  extensions/mozilla-firefox/src/components/FirefoxListEntries.tsx
  extensions/mozilla-firefox/src/interfaces/index.ts
  extensions/mozilla-firefox/src/new-tab.tsx
  extensions/mozilla-firefox/src/search-bookmarks.tsx
  extensions/mozilla-firefox/src/search-history.tsx
Labels: extension fix / improvement, extension: mozilla-firefox

#20762 Add tallinn-transport extension
  extensions/tallinn-transport/.gitignore
  extensions/tallinn-transport/.prettierrc
  extensions/tallinn-transport/CHANGELOG.md
  extensions/tallinn-transport/README.md
  extensions/tallinn-transport/assets/extension-icon.png
  extensions/tallinn-transport/eslint.config.js
  extensions/tallinn-transport/metadata/tallinn-transport-1.png
  extensions/tallinn-transport/metadata/tallinn-transport-2.png
  extensions/tallinn-transport/metadata/tallinn-transport-3.png
  extensions/tallinn-transport/metadata/tallinn-transport-4.png
  extensions/tallinn-transport/metadata/tallinn-transport-5.png
  extensions/tallinn-transport/metadata/tallinn-transport-6.png
  extensions/tallinn-transport/package-lock.json
  extensions/tallinn-transport/package.json
  extensions/tallinn-transport/src/api/index.ts
  extensions/tallinn-transport/src/lib/routes.ts
  extensions/tallinn-transport/src/lib/stops.ts
  extensions/tallinn-transport/src/lib/timetables.ts
  extensions/tallinn-transport/src/search-stop-departures.tsx
  extensions/tallinn-transport/src/search-upcoming-times.tsx
  extensions/tallinn-transport/src/service/all-routes.ts
  extensions/tallinn-transport/src/service/announcements.ts
  extensions/tallinn-transport/src/service/departures.ts
  extensions/tallinn-transport/src/view-announcements.tsx
  extensions/tallinn-transport/tsconfig.json
Labels: new extension, status: awaiting response from dev

#21282 Add Windows support and update dependencies
  extensions/password-generator/.eslintrc.json
  extensions/password-generator/CHANGELOG.md
  extensions/password-generator/eslint.config.js
  extensions/password-generator/package-lock.json
  extensions/password-generator/package.json
Labels: extension fix / improvement, OP is contributor, extension: password-generator

#21305 [Window Sizer] Renaming metadata images
  extensions/window-sizer/metadata/window-sizer-01.png
  extensions/window-sizer/metadata/window-sizer-02.png
  extensions/window-sizer/metadata/window-sizer-03.png
  extensions/window-sizer/metadata/window-sizer-04.png
  extensions/window-sizer/metadata/window-sizer-05.png
Labels: extension fix / improvement, extension: window-sizer

#20916 Update brave-search-with-results extension
  extensions/brave-search-with-results/CHANGELOG.md
  extensions/brave-search-with-results/metadata/brave-search-with-results-1.png
  extensions/brave-search-with-results/metadata/brave-search-with-results-2.png
  extensions/brave-search-with-results/metadata/brave-search-with-results-3.png
  extensions/brave-search-with-results/metadata/brave-search-with-results-4.png
Labels: extension fix / improvement, OP is author, extension: brave-search-with-results

#21306 Revert "[Window Sizer] Renaming metadata images"
  extensions/window-sizer/metadata/window-sizer-1.png
  extensions/window-sizer/metadata/window-sizer-2.png
  extensions/window-sizer/metadata/window-sizer-3.png
  extensions/window-sizer/metadata/window-sizer-4.png
  extensions/window-sizer/metadata/window-sizer-5.png
Labels: extension fix / improvement, OP is author, extension: window-sizer

#21224 feat(add-expense): Add "Category" selection dropdown to "Add Expense" form
  extensions/Splitwise/CHANGELOG.md
  extensions/Splitwise/src/components-add/FillForm.tsx
  extensions/Splitwise/src/hooks/useFriends_Groups.tsx
  extensions/Splitwise/src/hooks/useList.tsx
  extensions/Splitwise/src/types/friends_groups.types.ts
  extensions/Splitwise/src/types/get_expenses.types.ts
Labels: extension fix / improvement, status: awaiting response from dev, OP is contributor, extension: splitwise

#21308 Improve error handling in GitHub Copilot extension
  extensions/github-copilot/CHANGELOG.md
  extensions/github-copilot/README.md
  extensions/github-copilot/package-lock.json
  extensions/github-copilot/package.json
  extensions/github-copilot/src/services/copilot.ts
Labels: extension fix / improvement, OP is author, AI Extension, extension: github-copilot

#21251 Add ChartMogul extension
  extensions/chartmogul/.gitignore
  extensions/chartmogul/.prettierrc
  extensions/chartmogul/CHANGELOG.md
  extensions/chartmogul/README.md
  extensions/chartmogul/assets/extension_icon.png
  extensions/chartmogul/assets/extension_icon.svg
  extensions/chartmogul/eslint.config.js
  extensions/chartmogul/metadata/chartmogul-1.png
  extensions/chartmogul/metadata/chartmogul-2.png
  extensions/chartmogul/package-lock.json
  extensions/chartmogul/package.json
  extensions/chartmogul/src/api.ts
  extensions/chartmogul/src/metrics.tsx
  extensions/chartmogul/src/mrr-movements.tsx
  extensions/chartmogul/src/tools/list-call-logs.ts
  extensions/chartmogul/src/tools/list-contacts.ts
  extensions/chartmogul/src/tools/list-customer-activities.ts
  extensions/chartmogul/src/tools/list-customer-subscriptions.ts
  extensions/chartmogul/src/tools/list-customers.ts
  extensions/chartmogul/src/tools/list-data-sources.ts
  extensions/chartmogul/src/tools/list-movements.ts
  extensions/chartmogul/src/tools/list-opportunities.ts
  extensions/chartmogul/src/tools/list-plans.ts
  extensions/chartmogul/src/tools/list-tasks.ts
  extensions/chartmogul/src/tools/metrics.ts
  extensions/chartmogul/src/tools/retrieve-account-details.ts
  extensions/chartmogul/src/tools/search-customers-by-email.ts
  extensions/chartmogul/src/util.tsx
  extensions/chartmogul/tsconfig.json
Labels: new extension, status: awaiting response from dev, AI Extension

#21325 [Farcaster] docs: update documentation
  extensions/farcaster/README.md
Labels: extension fix / improvement, OP is author, extension: farcaster

#21235 Update google-chrome extension
  extensions/google-chrome/CHANGELOG.md
  extensions/google-chrome/package.json
Labels: extension fix / improvement, OP is contributor, extension: google-chrome, AI Extension

#21213 Update memos extension
  extensions/memos/CHANGELOG.md
  extensions/memos/package.json
  extensions/memos/src/api.ts
  extensions/memos/src/memosList.tsx
  extensions/memos/src/sendMemoForm.tsx
  extensions/memos/src/types.ts
Labels: extension fix / improvement, extension: memos

#21328 Cursor Agents
  .github/public_raycast_extensions.txt
  extensions/cursor-agents/.gitignore
  extensions/cursor-agents/.prettierrc
  extensions/cursor-agents/CHANGELOG.md
  extensions/cursor-agents/README.md
  extensions/cursor-agents/assets/icon-error.svg
  extensions/cursor-agents/assets/icon-error@dark.svg
  extensions/cursor-agents/assets/icon-finished.svg
  extensions/cursor-agents/assets/icon-finished@dark.svg
  extensions/cursor-agents/assets/icon-mono.svg
  extensions/cursor-agents/assets/icon-running.svg
  extensions/cursor-agents/assets/icon-running@dark.svg
  extensions/cursor-agents/assets/icon.png
  extensions/cursor-agents/assets/pull-request-open.svg
  extensions/cursor-agents/eslint.config.js
  extensions/cursor-agents/media/cursor.jpg
  extensions/cursor-agents/metadata/1-launch-agent.png
  extensions/cursor-agents/metadata/2-list-agents.png
  extensions/cursor-agents/package-lock.json
  extensions/cursor-agents/package.json
  extensions/cursor-agents/src/cursor.ts
  extensions/cursor-agents/src/launch-agent.tsx
  extensions/cursor-agents/src/list-agents.tsx
  extensions/cursor-agents/src/menu-bar.tsx
  extensions/cursor-agents/src/notification.ts
  extensions/cursor-agents/src/tools/launch-agent.ts
  extensions/cursor-agents/src/utils.ts
  extensions/cursor-agents/tsconfig.json
Labels: new extension, AI Extension

#21333 Cursor: Few smaller fixes
  extensions/cursor-agents/CHANGELOG.md
  extensions/cursor-agents/src/launch-agent.tsx
  extensions/cursor-agents/src/list-agents.tsx
  extensions/cursor-agents/src/tools/launch-agent.ts
  extensions/cursor-agents/src/utils.ts
Labels: extension fix / improvement, OP is author, OP is contributor, AI Extension, extension: cursor-agents

#21337 Cursor Agents: Add a new tool to get back all repositories that are s…
  extensions/cursor-agents/CHANGELOG.md
  extensions/cursor-agents/package.json
  extensions/cursor-agents/src/launch-agent.tsx
  extensions/cursor-agents/src/tools/add-repository.ts
  extensions/cursor-agents/src/tools/get-repositories.ts
  extensions/cursor-agents/src/tools/launch-agent.ts
Labels: extension fix / improvement, OP is author, AI Extension, extension: cursor-agents

#21215 Add r2-uploader extension
  extensions/r2-uploader/.gitignore
  extensions/r2-uploader/.prettierrc
  extensions/r2-uploader/CHANGELOG.md
  extensions/r2-uploader/LICENSE
  extensions/r2-uploader/README.md
  extensions/r2-uploader/assets/extension-icon.png
  extensions/r2-uploader/eslint.config.js
  extensions/r2-uploader/metadata/screenshot-1.png
  extensions/r2-uploader/metadata/screenshot-2.png
  extensions/r2-uploader/package-lock.json
  extensions/r2-uploader/package.json
  extensions/r2-uploader/src/r2-uploader.ts
  extensions/r2-uploader/src/utils/constants.ts
  extensions/r2-uploader/src/utils/convert.ts
  extensions/r2-uploader/src/utils/generate-fileName.ts
  extensions/r2-uploader/src/utils/mime-types.ts
  extensions/r2-uploader/src/utils/uploadToR2.ts
  extensions/r2-uploader/tsconfig.json
Labels: new extension

#21331 Fix todoist extension: Setting due date and time
  extensions/todoist/CHANGELOG.md
  extensions/todoist/package.json
  extensions/todoist/src/create-task.tsx
Labels: extension fix / improvement, extension: todoist, AI Extension

#21311 Fix documentation for screenshot extension: capture-to-clipboard command
  extensions/screenshot/CHANGELOG.md
  extensions/screenshot/assets/all-in-one.png
  extensions/screenshot/assets/annotate.png
  extensions/screenshot/assets/capture-area.png
  extensions/screenshot/assets/capture-fullscreen.png
  extensions/screenshot/assets/capture-timer.png
  extensions/screenshot/assets/capture-window-to-clipboard.png
  extensions/screenshot/assets/capture-window.png
  extensions/screenshot/assets/clipboard.png
  extensions/screenshot/package-lock.json
  extensions/screenshot/package.json
Labels: extension fix / improvement, extension: screenshot

#21349 Update `Proxmox` extension - show status in `tooltip` + token is now password + modernize to use latest Raycast config
  extensions/proxmox/.eslintrc.json
  extensions/proxmox/CHANGELOG.md
  extensions/proxmox/README.md
  extensions/proxmox/eslint.config.js
  extensions/proxmox/package-lock.json
  extensions/proxmox/package.json
  extensions/proxmox/src/api.ts
  extensions/proxmox/src/index.tsx
  extensions/proxmox/tsconfig.json
Labels: extension fix / improvement, extension: proxmox

#21422 Update instagram media downloader extension
  extensions/instagram-media-downloader/CHANGELOG.md
  extensions/instagram-media-downloader/eslint.config.js
  extensions/instagram-media-downloader/eslint.config.mjs
  extensions/instagram-media-downloader/package-lock.json
  extensions/instagram-media-downloader/package.json
  extensions/instagram-media-downloader/src/download-media.ts
Labels: extension fix / improvement, OP is author, extension: instagram-media-downloader

#21417 Update meta-music extension
  extensions/meta-music/.eslintrc.json
  extensions/meta-music/.nvmrc
  extensions/meta-music/CHANGELOG.md
  extensions/meta-music/eslint.config.mjs
  extensions/meta-music/package-lock.json
  extensions/meta-music/package.json
  extensions/meta-music/src/components/edit-id3-tags-form.tsx
  extensions/meta-music/src/manage-id3-tags.tsx
  extensions/meta-music/src/tools/edit-id3-tags.ts
  extensions/meta-music/src/utils/error.ts
  extensions/meta-music/src/utils/files.ts
  extensions/meta-music/tsconfig.json
Labels: extension fix / improvement, OP is author, AI Extension, extension: meta-music

#21409 Update Advanced Replace for regex transforms and entry options
  extensions/advanced-replace/.eslintrc.json
  extensions/advanced-replace/CHANGELOG.md
  extensions/advanced-replace/eslint.config.mjs
  extensions/advanced-replace/package-lock.json
  extensions/advanced-replace/package.json
  extensions/advanced-replace/src/advanced-replace.tsx
  extensions/advanced-replace/src/components/FormCutPaste.tsx
  extensions/advanced-replace/src/components/FormDirectReplace.tsx
  extensions/advanced-replace/src/types.ts
  extensions/advanced-replace/src/utilities/replacements.ts
  extensions/advanced-replace/src/utilities/storage.ts
Labels: extension fix / improvement, OP is author, extension: advanced-replace

#21435 [Raindrop.io] Move @sh-cho to past contributors
  extensions/raindrop-io/CHANGELOG.md
  extensions/raindrop-io/package.json
Labels: extension fix / improvement, OP is contributor, extension: raindrop-io

#21427 [cURL Extension] Add Windows Support
  extensions/curl/.eslintrc.json
  extensions/curl/CHANGELOG.md
  extensions/curl/README.md
  extensions/curl/eslint.config.mjs
  extensions/curl/package-lock.json
  extensions/curl/package.json
  extensions/curl/src/requests.tsx
  extensions/curl/src/views/Form.tsx
  extensions/curl/src/views/Result.tsx
  extensions/curl/tsconfig.json
Labels: extension fix / improvement, extension: curl, AI Extension

#21406 Update `Unsplash` extension - Fixed crash when "Rate Limit" exceeded + Centralized error handling + Removed `node-fetch`
  extensions/unsplash/CHANGELOG.md
  extensions/unsplash/package-lock.json
  extensions/unsplash/package.json
  extensions/unsplash/src/components/Actions.tsx
  extensions/unsplash/src/components/ActionsCollection.tsx
  extensions/unsplash/src/functions/apiRequest.ts
  extensions/unsplash/src/functions/utils.ts
  extensions/unsplash/src/hooks/useLikes.ts
  extensions/unsplash/src/hooks/useRandom.ts
  extensions/unsplash/src/hooks/useSearch.ts
  extensions/unsplash/src/likes.tsx
  extensions/unsplash/src/types/index.d.ts
  extensions/unsplash/tsconfig.json
Labels: extension fix / improvement, OP is contributor, extension: unsplash

#21394 Update raindrop-io extension
  extensions/raindrop-io/CHANGELOG.md
  extensions/raindrop-io/package-lock.json
  extensions/raindrop-io/package.json
  extensions/raindrop-io/src/components/BookmarkForm.tsx
  extensions/raindrop-io/src/components/CollectionsDropdown.tsx
  extensions/raindrop-io/src/components/CreateForm.tsx
  extensions/raindrop-io/src/helpers/collections.ts
  extensions/raindrop-io/src/types.ts
Labels: extension fix / improvement, OP is contributor, extension: raindrop-io

#21350 Add tuneblade extension
  extensions/tuneblade/.gitignore
  extensions/tuneblade/.prettierrc
  extensions/tuneblade/CHANGELOG.md
  extensions/tuneblade/README.md
  extensions/tuneblade/assets/extension-icon.png
  extensions/tuneblade/eslint.config.js
  extensions/tuneblade/metadata/tuneblade-1.png
  extensions/tuneblade/metadata/tuneblade-2.png
  extensions/tuneblade/package-lock.json
  extensions/tuneblade/package.json
  extensions/tuneblade/src/components/device-control.tsx
  extensions/tuneblade/src/control-device.tsx
  extensions/tuneblade/src/hooks/use-bonjour.ts
  extensions/tuneblade/src/hooks/use-tuneblade.ts
  extensions/tuneblade/tsconfig.json
Labels: new extension, status: awaiting response from dev

#21269 update packages and add option to exit raycast after cleaning link
  extensions/link-cleaner/CHANGELOG.md
  extensions/link-cleaner/package-lock.json
  extensions/link-cleaner/package.json
  extensions/link-cleaner/src/utils/remove-tracking-params.ts
Labels: extension fix / improvement, status: awaiting response from dev, extension: link-cleaner

#20675 Add whentomeet extension
  extensions/whentomeet/.gitignore
  extensions/whentomeet/.prettierrc
  extensions/whentomeet/CHANGELOG.md
  extensions/whentomeet/LICENSE
  extensions/whentomeet/README.md
  extensions/whentomeet/assets/extension_icon.png
  extensions/whentomeet/eslint.config.js
  extensions/whentomeet/metadata/whentomeet-1.png
  extensions/whentomeet/package-lock.json
  extensions/whentomeet/package.json
  extensions/whentomeet/src/create-event.tsx
  extensions/whentomeet/src/tools/create-whentomeet-event.ts
  extensions/whentomeet/src/tools/get-current-time.ts
  extensions/whentomeet/tsconfig.json
Labels: new extension, AI Extension

#21436 [YouTube Companion] Add Windows Support and bump dependencies
  extensions/youtube-companion/.eslintrc.json
  extensions/youtube-companion/CHANGELOG.md
  extensions/youtube-companion/eslint.config.mjs
  extensions/youtube-companion/package-lock.json
  extensions/youtube-companion/package.json
  extensions/youtube-companion/src/play-without-playlist.ts
  extensions/youtube-companion/tsconfig.json
Labels: extension fix / improvement, extension: youtube-companion

#21135 Stripe: add support for managing customers and subscriptions
  extensions/stripe/.eslintrc.json
  extensions/stripe/CHANGELOG.md
  extensions/stripe/eslint.config.js
  extensions/stripe/package-lock.json
  extensions/stripe/package.json
  extensions/stripe/src/balance-transactions.tsx
  extensions/stripe/src/charges.tsx
  extensions/stripe/src/components/hoc/with-env-context.tsx
  extensions/stripe/src/components/organisms/list-container.tsx
  extensions/stripe/src/connected-accounts.tsx
  extensions/stripe/src/customer-payments.tsx
  extensions/stripe/src/enums/index.ts
  extensions/stripe/src/events.tsx
  extensions/stripe/src/hooks/use-stripe-api.ts
  extensions/stripe/src/manage-customers.tsx
  extensions/stripe/src/manage-subscriptions.tsx
  extensions/stripe/src/payment-intents.tsx
  extensions/stripe/src/utils/index.ts
Labels: extension fix / improvement, status: awaiting response from dev, extension: stripe

#21395 Update `Keygen` extension - List API Tokens and Revoke old ones + Add Windows Support
  extensions/keygen/CHANGELOG.md
  extensions/keygen/README.md
  extensions/keygen/metadata/keygen-6.png
  extensions/keygen/package-lock.json
  extensions/keygen/package.json
  extensions/keygen/src/api-tokens.tsx
  extensions/keygen/src/interfaces.ts
Labels: extension fix / improvement, OP is author, extension: keygen

#21457 [Forked Extensionis] Run local Git commands before requesting APIs
  extensions/forked-extensions/CHANGELOG.md
  extensions/forked-extensions/src/api.ts
  extensions/forked-extensions/src/components/create-extension.tsx
  extensions/forked-extensions/src/components/diagnostics.tsx
  extensions/forked-extensions/src/components/sync-fork.tsx
  extensions/forked-extensions/src/git.ts
  extensions/forked-extensions/src/utils.ts
Labels: extension fix / improvement, OP is author, extension: forked-extensions

#21467 Add `Apify` extension - List Actors + List Runs
  extensions/apify/.gitignore
  extensions/apify/.prettierrc
  extensions/apify/CHANGELOG.md
  extensions/apify/README.md
  extensions/apify/assets/apify.png
  extensions/apify/assets/apify@dark.png
  extensions/apify/eslint.config.js
  extensions/apify/metadata/apify-1.png
  extensions/apify/metadata/apify-2.png
  extensions/apify/metadata/apify-3.png
  extensions/apify/metadata/apify-4.png
  extensions/apify/package-lock.json
  extensions/apify/package.json
  extensions/apify/src/actors.tsx
  extensions/apify/src/apify.ts
  extensions/apify/src/runs.tsx
  extensions/apify/src/utils.ts
  extensions/apify/tsconfig.json
Labels: new extension

#21354 Add yr-weather-forecast extension
  extensions/yr-weather-forecast/.gitignore
  extensions/yr-weather-forecast/.prettierrc
  extensions/yr-weather-forecast/BUNDLE_OPTIMIZATION.md
  extensions/yr-weather-forecast/CHANGELOG.md
  extensions/yr-weather-forecast/README.md
  extensions/yr-weather-forecast/assets/extension-icon.png
  extensions/yr-weather-forecast/assets/extension-icon@dark.png
  extensions/yr-weather-forecast/eslint.config.js
  extensions/yr-weather-forecast/metadata/yr-weather-forecast-1.png
  extensions/yr-weather-forecast/metadata/yr-weather-forecast-2.png
  extensions/yr-weather-forecast/metadata/yr-weather-forecast-3.png
  extensions/yr-weather-forecast/metadata/yr-weather-forecast-4.png
  extensions/yr-weather-forecast/metadata/yr-weather-forecast-5.png
  extensions/yr-weather-forecast/metadata/yr-weather-forecast-6.png
  extensions/yr-weather-forecast/package-lock.json
  extensions/yr-weather-forecast/package.json
  extensions/yr-weather-forecast/src/cache.ts
  extensions/yr-weather-forecast/src/components/FavoriteToggleAction.tsx
  extensions/yr-weather-forecast/src/components/OpenGraphAction.tsx
  extensions/yr-weather-forecast/src/components/error-boundary-test.tsx
  extensions/yr-weather-forecast/src/components/error-boundary.tsx
  extensions/yr-weather-forecast/src/components/error-fallbacks.tsx
  extensions/yr-weather-forecast/src/components/lazy-graph.tsx
  extensions/yr-weather-forecast/src/components/welcome-message.tsx
  extensions/yr-weather-forecast/src/config/weather-config.ts
  extensions/yr-weather-forecast/src/config/weather-thresholds.ts
  extensions/yr-weather-forecast/src/forecast.tsx
  extensions/yr-weather-forecast/src/graph-utils.ts
  extensions/yr-weather-forecast/src/graph.tsx
  extensions/yr-weather-forecast/src/hooks/useAsyncState.ts
  extensions/yr-weather-forecast/src/hooks/useDebounce.ts
  extensions/yr-weather-forecast/src/hooks/useDelayedError.ts
  extensions/yr-weather-forecast/src/hooks/useFavoriteIds.ts
  extensions/yr-weather-forecast/src/hooks/useFavorites.ts
  extensions/yr-weather-forecast/src/hooks/useNetworkTest.ts
  extensions/yr-weather-forecast/src/hooks/useSearch.ts
  extensions/yr-weather-forecast/src/hooks/useWeatherData.ts
  extensions/yr-weather-forecast/src/location-search.ts
  extensions/yr-weather-forecast/src/query-intent.ts
  extensions/yr-weather-forecast/src/storage.ts
  extensions/yr-weather-forecast/src/sunrise-client.ts
  extensions/yr-weather-forecast/src/units.ts
  extensions/yr-weather-forecast/src/utils-forecast.ts
  extensions/yr-weather-forecast/src/utils/api-client.ts
  extensions/yr-weather-forecast/src/utils/api-config.ts
  extensions/yr-weather-forecast/src/utils/date-utils.ts
  extensions/yr-weather-forecast/src/utils/debug-utils.ts
  extensions/yr-weather-forecast/src/utils/error-messages.ts
  extensions/yr-weather-forecast/src/utils/location-utils.tsx
  extensions/yr-weather-forecast/src/utils/toast-utils.ts
  extensions/yr-weather-forecast/src/utils/weather-formatters.ts
  extensions/yr-weather-forecast/src/utils/weather-symbols.ts
  extensions/yr-weather-forecast/src/weather-client.ts
  extensions/yr-weather-forecast/src/weather-emoji.ts
  extensions/yr-weather-forecast/src/weather-summary.ts
  extensions/yr-weather-forecast/src/weather-utils.ts
  extensions/yr-weather-forecast/src/yr.tsx
  extensions/yr-weather-forecast/tsconfig.json
Labels: new extension

#20763 Add zendesk-admin extension
  extensions/zendesk-admin/.cursor/rules/cursor-rules.mdc
  extensions/zendesk-admin/.cursor/rules/raycast-development.mdc
  extensions/zendesk-admin/.gitignore
  extensions/zendesk-admin/.prettierrc
  extensions/zendesk-admin/CHANGELOG.md
  extensions/zendesk-admin/README.md
  extensions/zendesk-admin/assets/icon.png
  extensions/zendesk-admin/assets/placeholder-user.svg
  extensions/zendesk-admin/eslint.config.js
  extensions/zendesk-admin/metadata/zendesk-admin-1.png
  extensions/zendesk-admin/metadata/zendesk-admin-2.png
  extensions/zendesk-admin/metadata/zendesk-admin-3.png
  extensions/zendesk-admin/package-lock.json
  extensions/zendesk-admin/package.json
  extensions/zendesk-admin/src/api/index.ts
  extensions/zendesk-admin/src/api/types/common.ts
  extensions/zendesk-admin/src/api/types/entities.ts
  extensions/zendesk-admin/src/api/types/index.ts
  extensions/zendesk-admin/src/api/utils.ts
  extensions/zendesk-admin/src/api/zendesk.ts
  extensions/zendesk-admin/src/components/actions/ZendeskActions.tsx
  extensions/zendesk-admin/src/components/common/MetadataHelpers.tsx
  extensions/zendesk-admin/src/components/common/SearchTypeSelector.tsx
  extensions/zendesk-admin/src/components/forms/AddTicketFieldOptionForm.tsx
  extensions/zendesk-admin/src/components/forms/CreateUserForm.tsx
  extensions/zendesk-admin/src/components/forms/EditUserForm.tsx
  extensions/zendesk-admin/src/components/lists/AutomationListItem.tsx
  extensions/zendesk-admin/src/components/lists/BrandListItem.tsx
  extensions/zendesk-admin/src/components/lists/CustomRoleListItem.tsx
  extensions/zendesk-admin/src/components/lists/DynamicContentListItem.tsx
  extensions/zendesk-admin/src/components/lists/EntityTicketsList.tsx
  extensions/zendesk-admin/src/components/lists/GroupListItem.tsx
  extensions/zendesk-admin/src/components/lists/MacroListItem.tsx
  extensions/zendesk-admin/src/components/lists/OrganizationListItem.tsx
  extensions/zendesk-admin/src/components/lists/SupportAddressListItem.tsx
  extensions/zendesk-admin/src/components/lists/TicketFieldListItem.tsx
  extensions/zendesk-admin/src/components/lists/TicketFieldOptionsList.tsx
  extensions/zendesk-admin/src/components/lists/TicketFormListItem.tsx
  extensions/zendesk-admin/src/components/lists/TicketListItem.tsx
  extensions/zendesk-admin/src/components/lists/TriggerListItem.tsx
  extensions/zendesk-admin/src/components/lists/UserGroupMembershipsList.tsx
  extensions/zendesk-admin/src/components/lists/UserListItem.tsx
  extensions/zendesk-admin/src/components/lists/UserMembershipList.tsx
  extensions/zendesk-admin/src/components/lists/ViewListItem.tsx
  extensions/zendesk-admin/src/hooks/useDebounce.ts
  extensions/zendesk-admin/src/hooks/useEntitySearch.ts
  extensions/zendesk-admin/src/open-zendesk-instance.tsx
  extensions/zendesk-admin/src/search-zendesk.tsx
  extensions/zendesk-admin/src/utils/actionBuilders.tsx
  extensions/zendesk-admin/src/utils/colors.ts
  extensions/zendesk-admin/src/utils/dynamicContentGrouping.ts
  extensions/zendesk-admin/src/utils/fieldTypes.ts
  extensions/zendesk-admin/src/utils/formatters.ts
  extensions/zendesk-admin/src/utils/preferences.ts
  extensions/zendesk-admin/src/utils/viaChannelMapping.ts
  extensions/zendesk-admin/src/utils/zendeskUrls.ts
  extensions/zendesk-admin/tsconfig.json
Labels: new extension

#21448 Add xpf-converter extension
  extensions/xpf-converter/.gitignore
  extensions/xpf-converter/.prettierrc
  extensions/xpf-converter/CHANGELOG.md
  extensions/xpf-converter/README.md
  extensions/xpf-converter/assets/icon.png
  extensions/xpf-converter/eslint.config.js
  extensions/xpf-converter/metadata/xpf-converter.png
  extensions/xpf-converter/package-lock.json
  extensions/xpf-converter/package.json
  extensions/xpf-converter/src/convert.tsx
  extensions/xpf-converter/tsconfig.json
Labels: new extension

#21472 Update scheduler extension
  extensions/scheduler/CHANGELOG.md
  extensions/scheduler/README.md
  extensions/scheduler/metadata/scheduler-4.png
  extensions/scheduler/package-lock.json
  extensions/scheduler/package.json
  extensions/scheduler/src/CommandForm.tsx
  extensions/scheduler/src/ManageScheduledCommand.tsx
  extensions/scheduler/src/execute-due-commands.ts
  extensions/scheduler/src/types.ts
  extensions/scheduler/src/utils.ts
  extensions/scheduler/src/utils/schedule.ts
Labels: extension fix / improvement, OP is author, extension: scheduler

#21478 Add Nuxt UI entry to MCP registry
  extensions/model-context-protocol-registry/CHANGELOG.md
  extensions/model-context-protocol-registry/src/registries/builtin/entries.ts
Labels: extension fix / improvement, extension: model-context-protocol-registry

#21479 Fix formatting of Nuxt UI description
  extensions/model-context-protocol-registry/src/registries/builtin/entries.ts
Labels: extension fix / improvement, extension: model-context-protocol-registry

#21563 [Forked Extensions] Fix the rerender logic of Sync Fork actions
  extensions/forked-extensions/CHANGELOG.md
  extensions/forked-extensions/CHEATSHEET.md
  extensions/forked-extensions/README.md
  extensions/forked-extensions/src/components/diagnostics.tsx
  extensions/forked-extensions/src/components/sync-fork.tsx
  extensions/forked-extensions/src/manage-forked-extensions.tsx
Labels: extension fix / improvement, OP is author, extension: forked-extensions

#21490 Update uuid generator extension
  extensions/uuid-generator/CHANGELOG.md
  extensions/uuid-generator/package.json
  extensions/uuid-generator/src/formatUuid.ts
Labels: extension fix / improvement, extension: uuid-generator

#21480 Add ai-stats extension
  extensions/ai-stats/.gitignore
  extensions/ai-stats/.prettierrc
  extensions/ai-stats/CHANGELOG.md
  extensions/ai-stats/LICENSE
  extensions/ai-stats/README.md
  extensions/ai-stats/assets/extension_icon.png
  extensions/ai-stats/eslint.config.js
  extensions/ai-stats/metadata/ai-stats-1.png
  extensions/ai-stats/metadata/ai-stats-2.png
  extensions/ai-stats/package-lock.json
  extensions/ai-stats/package.json
  extensions/ai-stats/src/lib/supabase.ts
  extensions/ai-stats/src/lib/types.ts
  extensions/ai-stats/src/lib/usePinnedModels.ts
  extensions/ai-stats/src/view.ts
  extensions/ai-stats/src/view_ui.tsx
  extensions/ai-stats/tsconfig.json
Labels: new extension

#21270 Add fuzzy-file-search extension
  extensions/fuzzy-file-search/.envrc
  extensions/fuzzy-file-search/.gitignore
  extensions/fuzzy-file-search/.prettierrc
  extensions/fuzzy-file-search/CHANGELOG.md
  extensions/fuzzy-file-search/README.md
  extensions/fuzzy-file-search/assets/extension-icon.png
  extensions/fuzzy-file-search/eslint.config.js
  extensions/fuzzy-file-search/flake.lock
  extensions/fuzzy-file-search/flake.nix
  extensions/fuzzy-file-search/metadata/fuzzy-file-search-1.png
  extensions/fuzzy-file-search/metadata/fuzzy-file-search-2.png
  extensions/fuzzy-file-search/metadata/fuzzy-file-search-3.png
  extensions/fuzzy-file-search/package-lock.json
  extensions/fuzzy-file-search/package.json
  extensions/fuzzy-file-search/src/lib/fd-downloader.ts
  extensions/fuzzy-file-search/src/search-for-files.tsx
  extensions/fuzzy-file-search/tsconfig.json
Labels: new extension, status: awaiting response from dev

#21191 Add google-calendar-quickadd extension
  extensions/google-calendar-quickadd/.gitignore
  extensions/google-calendar-quickadd/.prettierrc
  extensions/google-calendar-quickadd/CHANGELOG.md
  extensions/google-calendar-quickadd/README.md
  extensions/google-calendar-quickadd/assets/gcal-icon1.png
  extensions/google-calendar-quickadd/eslint.config.js
  extensions/google-calendar-quickadd/metadata/google-calendar-quickadd-1.png
  extensions/google-calendar-quickadd/metadata/google-calendar-quickadd-2.png
  extensions/google-calendar-quickadd/metadata/google-calendar-quickadd-3.png
  extensions/google-calendar-quickadd/package-lock.json
  extensions/google-calendar-quickadd/package.json
  extensions/google-calendar-quickadd/src/create-event.tsx
  extensions/google-calendar-quickadd/src/select-default-calendar.tsx
  extensions/google-calendar-quickadd/src/services/calendar.ts
  extensions/google-calendar-quickadd/src/services/llm.ts
  extensions/google-calendar-quickadd/src/types/index.ts
  extensions/google-calendar-quickadd/src/utils/oauth.ts
  extensions/google-calendar-quickadd/tsconfig.json
Labels: new extension, status: awaiting response from dev

#21566 [Forked Extensions] Fix the infinite rerender
  extensions/forked-extensions/CHANGELOG.md
  extensions/forked-extensions/package-lock.json
  extensions/forked-extensions/package.json
  extensions/forked-extensions/src/api.ts
  extensions/forked-extensions/src/components/sync-fork.tsx
  extensions/forked-extensions/src/utils.ts
Labels: extension fix / improvement, OP is author, extension: forked-extensions

#21525 [Xcode] Update assets to match Xcode 26
  extensions/xcode/CHANGELOG.md
  extensions/xcode/assets/download-xcode.png
  extensions/xcode/assets/icon.png
  extensions/xcode/assets/swift-package.png
  extensions/xcode/assets/xcode-26-beta.png
  extensions/xcode/assets/xcode-26.png
  extensions/xcode/assets/xcode-menu-bar-icon-black.png
  extensions/xcode/assets/xcode-menu-bar-icon-white.png
  extensions/xcode/assets/xcode-project.png
  extensions/xcode/assets/xcode-simulator.png
  extensions/xcode/assets/xcode-workspace.png
  extensions/xcode/src/components/xcode-release-list/xcode-release-list-item.component.tsx
Labels: extension fix / improvement, OP is author, extension: xcode, AI Extension

#21573 [Font Awesome] Update devDependencies in fontawesome extension, removed two unused packages
  extensions/fontawesome/CHANGELOG.md
  extensions/fontawesome/package-lock.json
  extensions/fontawesome/package.json
Labels: extension fix / improvement, OP is contributor, extension: fontawesome

#21367 Update remember this extension
  extensions/remember-this/.eslintrc.json
  extensions/remember-this/.gitignore
  extensions/remember-this/CHANGELOG.md
  extensions/remember-this/eslint.config.mjs
  extensions/remember-this/package-lock.json
  extensions/remember-this/package.json
  extensions/remember-this/src/index.tsx
  extensions/remember-this/src/menu.tsx
  extensions/remember-this/src/view.tsx
Labels: extension fix / improvement, extension: remember-this

#21414 Update zen-browser extension
  extensions/zen-browser/CHANGELOG.md
  extensions/zen-browser/package.json
  extensions/zen-browser/src/actions/index.ts
  extensions/zen-browser/src/components/ZenActions.tsx
  extensions/zen-browser/src/components/ZenListEntries.tsx
Labels: extension fix / improvement, OP is contributor, extension: zen-browser, AI Extension

#21522 Add swiss-train-times extension
  extensions/swiss-train-times/.gitignore
  extensions/swiss-train-times/.prettierrc
  extensions/swiss-train-times/CHANGELOG.md
  extensions/swiss-train-times/README.md
  extensions/swiss-train-times/assets/extension_icon.png
  extensions/swiss-train-times/eslint.config.js
  extensions/swiss-train-times/metadata/swiss-train-times-1.png
  extensions/swiss-train-times/metadata/swiss-train-times-2.png
  extensions/swiss-train-times/metadata/swiss-train-times-3.png
  extensions/swiss-train-times/package-lock.json
  extensions/swiss-train-times/package.json
  extensions/swiss-train-times/src/cache.ts
  extensions/swiss-train-times/src/departure-times.tsx
  extensions/swiss-train-times/src/get-departure-times.tsx
  extensions/swiss-train-times/src/ojp.ts
  extensions/swiss-train-times/tsconfig.json
Labels: new extension

#21600 `zen-browser`: Add Windows Support
  extensions/zen-browser/CHANGELOG.md
  extensions/zen-browser/package-lock.json
  extensions/zen-browser/package.json
  extensions/zen-browser/src/util/index.ts
Labels: extension fix / improvement, extension: zen-browser, AI Extension

#21456 Add simple-dictionary extension
  extensions/simple-dictionary/.gitignore
  extensions/simple-dictionary/.prettierrc
  extensions/simple-dictionary/CHANGELOG.md
  extensions/simple-dictionary/README.md
  extensions/simple-dictionary/assets/extension-icon.png
  extensions/simple-dictionary/eslint.config.js
  extensions/simple-dictionary/metadata/simple-dictionary-1.png
  extensions/simple-dictionary/metadata/simple-dictionary-2.png
  extensions/simple-dictionary/metadata/simple-dictionary-3.png
  extensions/simple-dictionary/package-lock.json
  extensions/simple-dictionary/package.json
  extensions/simple-dictionary/src/classes/dictionary.ts
  extensions/simple-dictionary/src/classes/favorite.ts
  extensions/simple-dictionary/src/classes/history.ts
  extensions/simple-dictionary/src/history.tsx
  extensions/simple-dictionary/src/list.tsx
  extensions/simple-dictionary/src/search.tsx
  extensions/simple-dictionary/tsconfig.json
Labels: new extension

#21608 Zed Recent Projects - fix broken pinned cache
  extensions/zed-recent-projects/CHANGELOG.md
  extensions/zed-recent-projects/scripts/create-fixtures.sh
  extensions/zed-recent-projects/src/hooks/use-pinned-entries.ts
  extensions/zed-recent-projects/src/lib/entry.ts
Labels: extension fix / improvement, OP is author, extension: zed-recent-projects

#21641 Update unicode-symbols
  extensions/unicode-symbols/.eslintrc.json
  extensions/unicode-symbols/CHANGELOG.md
  extensions/unicode-symbols/assets/dataset.json
  extensions/unicode-symbols/assets/full-dataset.json
  extensions/unicode-symbols/eslint.config.js
  extensions/unicode-symbols/package-lock.json
  extensions/unicode-symbols/package.json
  extensions/unicode-symbols/scripts/generate-dataset.ts
  extensions/unicode-symbols/src/components/CharacterActionPanel.tsx
Labels: extension fix / improvement, OP is contributor, extension: unicode-symbols

#21629 Update granola extension
  extensions/granola/CHANGELOG.md
  extensions/granola/README.md
  extensions/granola/ai.yaml
  extensions/granola/package.json
  extensions/granola/src/browse-folders.tsx
  extensions/granola/src/components/NoteComponents.tsx
  extensions/granola/src/search-companies.tsx
  extensions/granola/src/search-notes.tsx
  extensions/granola/src/search-people.tsx
  extensions/granola/src/tools/ai-notes.ts
  extensions/granola/src/tools/get-transcript.ts
  extensions/granola/src/tools/list-meetings.ts
  extensions/granola/src/tools/recipes.ts
  extensions/granola/src/tools/save-to-notion.ts
  extensions/granola/src/utils/emailDomainUtils.ts
  extensions/granola/src/utils/fetchData.ts
  extensions/granola/src/utils/folderHelpers.ts
  extensions/granola/src/utils/granolaApi.ts
  extensions/granola/src/utils/toolHelpers.ts
  extensions/granola/src/utils/types.ts
  extensions/granola/src/utils/useGranolaData.ts
  extensions/granola/src/utils/usePeople.ts
Labels: extension fix / improvement, OP is contributor, AI Extension, extension: granola

#21620 Added version switcher to Statamic Docs extension
  extensions/statamic-docs/CHANGELOG.md
  extensions/statamic-docs/README.dev.md
  extensions/statamic-docs/README.md
  extensions/statamic-docs/assets/command-icon.png
  extensions/statamic-docs/assets/docs/5.x.json
  extensions/statamic-docs/assets/docs/6.x.json
  extensions/statamic-docs/metadata/statamic-docs-1.png
  extensions/statamic-docs/metadata/statamic-docs-2.png
  extensions/statamic-docs/metadata/statamic-docs-3.png
  extensions/statamic-docs/package.json
  extensions/statamic-docs/src/statamic.tsx
  extensions/statamic-docs/src/version_dropdown.tsx
Labels: extension fix / improvement, extension: statamic-docs

#21654 [Statamic Docs] Rename dev readme to avoid it showing on the store
  extensions/statamic-docs/README-dev.md
Labels: extension fix / improvement, extension: statamic-docs

#21671 Update how long to beat extension
  extensions/how-long-to-beat/.eslintrc.json
  extensions/how-long-to-beat/.gitignore
  extensions/how-long-to-beat/CHANGELOG.md
  extensions/how-long-to-beat/eslint.config.mjs
  extensions/how-long-to-beat/package-lock.json
  extensions/how-long-to-beat/package.json
  extensions/how-long-to-beat/src/details.tsx
  extensions/how-long-to-beat/src/hltbsearch.ts
  extensions/how-long-to-beat/src/index.tsx
  extensions/how-long-to-beat/src/types.ts
Labels: extension fix / improvement, OP is contributor, extension: how-long-to-beat

#21670 Update gitlab extension
  extensions/gitlab/.eslintrc.json
  extensions/gitlab/CHANGELOG.md
  extensions/gitlab/ai.json
  extensions/gitlab/package.json
  extensions/gitlab/src/components/status/actions.tsx
  extensions/gitlab/src/tools/close-issue.ts
  extensions/gitlab/src/tools/close-merge-request.ts
  extensions/gitlab/src/tools/get-activities.ts
  extensions/gitlab/src/tools/get-recent-commits.ts
  extensions/gitlab/src/tools/get-todos.ts
  extensions/gitlab/src/tools/index.ts
  extensions/gitlab/src/tools/merge-merge-request.ts
  extensions/gitlab/src/tools/open-in-browser.ts
  extensions/gitlab/src/tools/reopen-issue.ts
  extensions/gitlab/src/tools/reopen-merge-request.ts
  extensions/gitlab/src/tools/search-issues.ts
  extensions/gitlab/src/tools/search-merge-requests.ts
  extensions/gitlab/src/tools/search-projects.ts
Labels: extension fix / improvement, OP is contributor, extension: gitlab, AI Extension

#21667 Update dependencies and improve keyboard shortcuts for cross-platform compatibility
  extensions/curl/CHANGELOG.md
  extensions/curl/package-lock.json
  extensions/curl/package.json
  extensions/curl/src/requests.tsx
  extensions/curl/src/utils.ts
  extensions/curl/src/views/Form.tsx
Labels: extension fix / improvement, OP is contributor, extension: curl, AI Extension

#21666 Add platforms support to package.json for windows and linux
  extensions/ip-finder/CHANGELOG.md
  extensions/ip-finder/package.json
Labels: extension fix / improvement, OP is author, extension: ip-finder

#21415 Update parcel extension
  extensions/parcel/.cursor/rules/raycast-extension-guidelines.mdc
  extensions/parcel/.eslintrc.json
  extensions/parcel/CHANGELOG.md
  extensions/parcel/eslint.config.js
  extensions/parcel/metadata/parcel-1.png
  extensions/parcel/package-lock.json
  extensions/parcel/package.json
  extensions/parcel/src/add-delivery.tsx
  extensions/parcel/src/api.ts
  extensions/parcel/src/hooks/useDeliveries.ts
  extensions/parcel/src/my-deliveries.tsx
  extensions/parcel/src/tools/get-deliveries.ts
  extensions/parcel/src/tools/get-delivery-details.ts
Labels: extension fix / improvement, status: awaiting response from dev, AI Extension, extension: parcel

#21562 feat: add CometAPI extension for AI-powered text processing tools
  extensions/cometapi/.gitignore
  extensions/cometapi/CHANGELOG.md
  extensions/cometapi/README.md
  extensions/cometapi/assets/cometapi.png
  extensions/cometapi/eslint.config.js
  extensions/cometapi/metadata/cometapi-1.png
  extensions/cometapi/metadata/cometapi-2.png
  extensions/cometapi/metadata/cometapi-3.png
  extensions/cometapi/metadata/cometapi-4.png
  extensions/cometapi/metadata/cometapi-5.png
  extensions/cometapi/metadata/cometapi-6.png
  extensions/cometapi/package-lock.json
  extensions/cometapi/package.json
  extensions/cometapi/src/api.ts
  extensions/cometapi/src/ask.tsx
  extensions/cometapi/src/custom.tsx
  extensions/cometapi/src/models.tsx
  extensions/cometapi/src/proofread.tsx
  extensions/cometapi/src/rephrase.tsx
  extensions/cometapi/src/summarize.tsx
  extensions/cometapi/src/translate.tsx
  extensions/cometapi/tsconfig.json
Labels: new extension

#21698 Update `MailerSend` extension - Add Windows Support + View Domain DNS Records
  extensions/mailersend/CHANGELOG.md
  extensions/mailersend/metadata/mailersend-5.png
  extensions/mailersend/package.json
  extensions/mailersend/src/domain/dns-records.tsx
  extensions/mailersend/src/domains.tsx
  extensions/mailersend/src/interfaces.ts
Labels: extension fix / improvement, OP is author, extension: mailersend

#21763 feat(mcp-registry): update nuxt ui mcp url
  extensions/model-context-protocol-registry/CHANGELOG.md
  extensions/model-context-protocol-registry/package.json
  extensions/model-context-protocol-registry/src/registries/builtin/entries.ts
Labels: extension fix / improvement, extension: model-context-protocol-registry

#21736 [JSONtoTS] Add Windows Support
  extensions/json2ts/.eslintrc.json
  extensions/json2ts/CHANGELOG.md
  extensions/json2ts/eslint.config.mjs
  extensions/json2ts/package-lock.json
  extensions/json2ts/package.json
  extensions/json2ts/src/index.tsx
  extensions/json2ts/tsconfig.json
Labels: extension fix / improvement, extension: json2ts

#21838 [Forked Extensions] Add support for checking aheads & branches
  extensions/forked-extensions/CHANGELOG.md
  extensions/forked-extensions/src/components/create-extension.tsx
  extensions/forked-extensions/src/components/diagnostics.tsx
  extensions/forked-extensions/src/components/sync-fork.tsx
  extensions/forked-extensions/src/errors.ts
  extensions/forked-extensions/src/git.ts
  extensions/forked-extensions/src/operation.ts
Labels: extension fix / improvement, OP is author, extension: forked-extensions

#21805 Improve Sesh List
  extensions/sesh/CHANGELOG.md
  extensions/sesh/package.json
  extensions/sesh/src/cmd-connect.tsx
Labels: extension fix / improvement, OP is author, extension: sesh

#21834 Update gif search extension
  extensions/gif-search/CHANGELOG.md
  extensions/gif-search/package.json
  extensions/gif-search/src/components/GifActions.tsx
  extensions/gif-search/src/lib/copyFileToClipboard.ts
Labels: extension fix / improvement, OP is contributor, extension: gif-search

#21804 fix(nuxt): sanitize component name and optimize ai prompt
  extensions/nuxt/CHANGELOG.md
  extensions/nuxt/ai.yaml
  extensions/nuxt/src/tools/get-component-documentation.ts
Labels: extension fix / improvement, OP is author, AI Extension, extension: nuxt

#21558 Add razuna extension
  extensions/razuna/.gitignore
  extensions/razuna/.prettierrc
  extensions/razuna/ARCHITECTURE.md
  extensions/razuna/CHANGELOG.md
  extensions/razuna/README.md
  extensions/razuna/SETUP.md
  extensions/razuna/WORKSPACE_FIXES.md
  extensions/razuna/assets/command-icon.png
  extensions/razuna/assets/icon_128.png
  extensions/razuna/assets/icon_16.png
  extensions/razuna/assets/icon_32.png
  extensions/razuna/assets/icon_48.png
  extensions/razuna/assets/razuna-icon.png
  extensions/razuna/assets/workspace-icon.png
  extensions/razuna/assets/workspace-icon.svg
  extensions/razuna/eslint.config.js
  extensions/razuna/metadata/razuna-1.png
  extensions/razuna/metadata/razuna-2.png
  extensions/razuna/metadata/razuna-3.png
  extensions/razuna/metadata/razuna-4.png
  extensions/razuna/package-lock.json
  extensions/razuna/package.json
  extensions/razuna/src/api.ts
  extensions/razuna/src/browse-files.tsx
  extensions/razuna/src/components/FileDetail.tsx
  extensions/razuna/src/index.ts
  extensions/razuna/src/manage-workspaces.tsx
  extensions/razuna/src/search-files.tsx
  extensions/razuna/src/types.ts
  extensions/razuna/src/upload-file.tsx
  extensions/razuna/src/utils.ts
  extensions/razuna/src/workspace-selector.tsx
  extensions/razuna/tsconfig.json
Labels: new extension

#21839 [video-downloader] Fix long video name issue
  extensions/video-downloader/CHANGELOG.md
  extensions/video-downloader/src/index.tsx
  extensions/video-downloader/src/tools/download-video.ts
  extensions/video-downloader/src/transcript.ts
  extensions/video-downloader/src/utils.ts
Labels: extension fix / improvement, OP is contributor, AI Extension, extension: video-downloader

#21821 Update arc extension
  extensions/arc/CHANGELOG.md
  extensions/arc/src/actions.tsx
Labels: extension fix / improvement, OP is contributor, extension: arc, AI Extension

#21840 Add `Youform` extension - view your forms, their blocks and submissions
  extensions/youform/.gitignore
  extensions/youform/.prettierrc
  extensions/youform/CHANGELOG.md
  extensions/youform/README.md
  extensions/youform/assets/extension-icon.png
  extensions/youform/eslint.config.js
  extensions/youform/metadata/youform-1.png
  extensions/youform/metadata/youform-2.png
  extensions/youform/metadata/youform-3.png
  extensions/youform/package-lock.json
  extensions/youform/package.json
  extensions/youform/src/config.ts
  extensions/youform/src/forms.tsx
  extensions/youform/src/submissions.tsx
  extensions/youform/src/types.ts
  extensions/youform/src/utils.ts
  extensions/youform/tsconfig.json
Labels: new extension

#21819 Update `Todo List` extension - Added `tooltip` to to-do list items so longer titles easier to read + Added `metadata` images + Modernized
  extensions/todo-list/.eslintrc.json
  extensions/todo-list/.gitignore
  extensions/todo-list/CHANGELOG.md
  extensions/todo-list/README.md
  extensions/todo-list/eslint.config.js
  extensions/todo-list/media/insert-mode.png
  extensions/todo-list/media/search-mode.png
  extensions/todo-list/metadata/todo-list-1.png
  extensions/todo-list/metadata/todo-list-2.png
  extensions/todo-list/metadata/todo-list-3.png
  extensions/todo-list/package-lock.json
  extensions/todo-list/package.json
  extensions/todo-list/src/atoms.ts
  extensions/todo-list/src/hooks/useTodo.ts
  extensions/todo-list/src/index.tsx
  extensions/todo-list/src/list_tags.tsx
  extensions/todo-list/src/open_url_action.tsx
  extensions/todo-list/src/search_mode_action.tsx
  extensions/todo-list/src/todo_item.tsx
  extensions/todo-list/src/todo_section.tsx
  extensions/todo-list/src/todo_tag_form.tsx
  extensions/todo-list/src/utils.ts
  extensions/todo-list/tsconfig.json
Labels: extension fix / improvement, extension: todo-list

#21816 Update `Spaceship` extension - View Lifecycle State of "Domain" + Change "Nameservers" of "Domain" + Add "Windows" Support
  extensions/spaceship/CHANGELOG.md
  extensions/spaceship/README.md
  extensions/spaceship/metadata/spaceship-1.png
  extensions/spaceship/metadata/spaceship-2.png
  extensions/spaceship/metadata/spaceship-3.png
  extensions/spaceship/metadata/spaceship-4.png
  extensions/spaceship/package-lock.json
  extensions/spaceship/package.json
  extensions/spaceship/src/manage-dns-records.tsx
  extensions/spaceship/src/manage-domains.tsx
  extensions/spaceship/src/types.ts
Labels: extension fix / improvement, OP is author, extension: spaceship

#21703 Update bilibili extension
  extensions/Bilibili/CHANGELOG.md
  extensions/Bilibili/package-lock.json
  extensions/Bilibili/package.json
  extensions/Bilibili/src/dynamicFeed.tsx
  extensions/Bilibili/src/notifications.tsx
  extensions/Bilibili/src/types.ts
Labels: extension fix / improvement, OP is author, extension: bilibili

#21662 Update code-runway extension
  extensions/code-runway/.gitignore
  extensions/code-runway/.prettierrc
  extensions/code-runway/CHANGELOG.md
  extensions/code-runway/README.md
  extensions/code-runway/README_CN.md
  extensions/code-runway/assets/extension-icon.png
  extensions/code-runway/eslint.config.js
  extensions/code-runway/metadata/code-runway-1.png
  extensions/code-runway/metadata/code-runway-2.png
  extensions/code-runway/metadata/code-runway-3.png
  extensions/code-runway/metadata/code-runway-4.png
  extensions/code-runway/package-lock.json
  extensions/code-runway/package.json
  extensions/code-runway/src/debug-storage.ts
  extensions/code-runway/src/directory-settings.tsx
  extensions/code-runway/src/manage-templates.tsx
  extensions/code-runway/src/search-projects.tsx
  extensions/code-runway/src/types.ts
  extensions/code-runway/src/utils/projectScanner.ts
  extensions/code-runway/src/utils/storage.ts
  extensions/code-runway/src/utils/templateEvents.ts
  extensions/code-runway/src/utils/warpLauncher.ts
  extensions/code-runway/tsconfig.json
Labels: new extension

#21688 Update aws extension
  extensions/amazon-aws/CHANGELOG.md
  extensions/amazon-aws/package.json
  extensions/amazon-aws/src/amplify.tsx
Labels: extension fix / improvement, extension: amazon-aws, AI Extension
