Repository raycast/extensions, pull requests merged in 2025-10, with the labels that each got.

#21894 Update plexus extension
  extensions/plexus/CHANGELOG.md
  extensions/plexus/package-lock.json
  extensions/plexus/package.json
  extensions/plexus/src/plexus.tsx
Labels: extension fix / improvement, extension: plexus

#21705 [Logseq] Windows support
  extensions/logseq/CHANGELOG.md
  extensions/logseq/package.json
Labels: extension fix / improvement, extension: logseq

#21575 Add folder-organizer extension
  extensions/folder-organizer/.gitignore
  extensions/folder-organizer/.prettierrc
  extensions/folder-organizer/CHANGELOG.md
  extensions/folder-organizer/LICENSE
  extensions/folder-organizer/README.md
  extensions/folder-organizer/assets/change_categories.png
  extensions/folder-organizer/assets/custom_folder.png
  extensions/folder-organizer/assets/download_folder.png
  extensions/folder-organizer/assets/folder_organizer.png
  extensions/folder-organizer/eslint.config.js
  extensions/folder-organizer/metadata/folder-organizer-1.png
  extensions/folder-organizer/metadata/folder-organizer-2.png
  extensions/folder-organizer/package-lock.json
  extensions/folder-organizer/package.json
  extensions/folder-organizer/src/clean-downloads-folder.ts
  extensions/folder-organizer/src/manage-categories.tsx
  extensions/folder-organizer/src/organize-custom-folder.ts
  extensions/folder-organizer/src/utils/categories.ts
  extensions/folder-organizer/src/utils/file-organizer.ts
  extensions/folder-organizer/tsconfig.json
Labels: new extension

#21918 [Google Transalte] add hotkey to switch between language sets quickly (up and down)
  extensions/google-translate/CHANGELOG.md
  extensions/google-translate/src/translate.tsx
Labels: extension fix / improvement, OP is author, extension: google-translate

#21749 Add comma-separator extension
  extensions/comma-separator/.gitignore
  extensions/comma-separator/.prettierrc
  extensions/comma-separator/CHANGELOG.md
  extensions/comma-separator/README.md
  extensions/comma-separator/assets/extension-icon.png
  extensions/comma-separator/eslint.config.js
  extensions/comma-separator/metadata/Screen 1.png
  extensions/comma-separator/metadata/Screen 2.png
  extensions/comma-separator/metadata/Screen 3.png
  extensions/comma-separator/package-lock.json
  extensions/comma-separator/package.json
  extensions/comma-separator/src/comma-separator.tsx
  extensions/comma-separator/tsconfig.json
Labels: new extension

#21943 Update stripe extension
  extensions/stripe/CHANGELOG.md
  extensions/stripe/package.json
Labels: extension fix / improvement, extension: stripe

#21939 Update messages extension
  extensions/messages/CHANGELOG.md
  extensions/messages/package.json
  extensions/messages/src/constants.ts
  extensions/messages/src/hooks/useChats.ts
  extensions/messages/src/hooks/useMessages.ts
Labels: extension fix / improvement, extension: messages, AI Extension

#21555 Enhance URL handling: allow direct opening of URLs and add utility function for URL validation
  extensions/any-website-search/.eslintrc.json
  extensions/any-website-search/.gitignore
  extensions/any-website-search/.prettierrc
  extensions/any-website-search/CHANGELOG.md
  extensions/any-website-search/README.md
  extensions/any-website-search/eslint.config.js
  extensions/any-website-search/package-lock.json
  extensions/any-website-search/package.json
  extensions/any-website-search/src/edit-search-engine.tsx
  extensions/any-website-search/src/manage-saved-sites.tsx
  extensions/any-website-search/src/saved-sites.ts
  extensions/any-website-search/src/search-any-site.tsx
  extensions/any-website-search/src/search-suggestions.ts
  extensions/any-website-search/src/types/xmlhttprequest.d.ts
  extensions/any-website-search/src/utils.ts
  extensions/any-website-search/tsconfig.json
Labels: extension fix / improvement, extension: any-website-search

#21952 [Grafana] add command Pages
  extensions/grafana/.gitignore
  extensions/grafana/CHANGELOG.md
  extensions/grafana/eslint.config.js
  extensions/grafana/package-lock.json
  extensions/grafana/package.json
  extensions/grafana/src/components/annotation/createAnnotation.tsx
  extensions/grafana/src/components/annotation/interface/index.ts
  extensions/grafana/src/components/annotation/queries/index.ts
  extensions/grafana/src/components/annotation/searchAnnotations.tsx
  extensions/grafana/src/components/dashboard/searchDashboards.tsx
  extensions/grafana/src/datasource/datasource.schema.ts
  extensions/grafana/src/pages.tsx
Labels: extension fix / improvement, OP is author, extension: grafana

#21958 Improve video filename handling and update dependencies
  extensions/video-downloader/CHANGELOG.md
  extensions/video-downloader/package-lock.json
  extensions/video-downloader/package.json
  extensions/video-downloader/src/index.tsx
Labels: extension fix / improvement, OP is contributor, AI Extension, extension: video-downloader

#21711 Add security-search extension
  extensions/security-search/.gitignore
  extensions/security-search/.prettierrc
  extensions/security-search/CHANGELOG.md
  extensions/security-search/assets/extension-icon.png
  extensions/security-search/eslint.config.js
  extensions/security-search/metadata/security-search-1.png
  extensions/security-search/metadata/security-search-2.png
  extensions/security-search/metadata/security-search-3.png
  extensions/security-search/package-lock.json
  extensions/security-search/package.json
  extensions/security-search/src/search-isin.tsx
  extensions/security-search/src/use-search.ts
  extensions/security-search/tsconfig.json
Labels: new extension

#21675 Rework of fuzzy-file-search extension
  extensions/fuzzy-file-search/CHANGELOG.md
  extensions/fuzzy-file-search/README.md
  extensions/fuzzy-file-search/flake.lock
  extensions/fuzzy-file-search/package-lock.json
  extensions/fuzzy-file-search/package.json
  extensions/fuzzy-file-search/src/lib/fd-downloader.ts
  extensions/fuzzy-file-search/src/lib/fzf-downloader.ts
  extensions/fuzzy-file-search/src/search-for-files.tsx
Labels: extension fix / improvement, OP is author, extension: fuzzy-file-search

#21995 Update add-approve-label.yml
  .github/workflows/add-approve-label.yml
Labels: no-review, Approved

#21903 Add airsync extension
  extensions/airsync/.gitignore
  extensions/airsync/.prettierrc.json
  extensions/airsync/CHANGELOG.md
  extensions/airsync/LICENSE
  extensions/airsync/README.md
  extensions/airsync/assets/extension-icon.png
  extensions/airsync/eslint.config.mjs
  extensions/airsync/metadata/screenshot-01.png
  extensions/airsync/metadata/screenshot-02.png
  extensions/airsync/metadata/screenshot-03.png
  extensions/airsync/metadata/screenshot-04.png
  extensions/airsync/package-lock.json
  extensions/airsync/package.json
  extensions/airsync/src/connect-adb.tsx
  extensions/airsync/src/desktop-mode.tsx
  extensions/airsync/src/disconnect.tsx
  extensions/airsync/src/launch-mirroring.tsx
  extensions/airsync/src/media.tsx
  extensions/airsync/src/mirror-app.tsx
  extensions/airsync/src/notifications.tsx
  extensions/airsync/src/reconnect.tsx
  extensions/airsync/src/reply-notification.tsx
  extensions/airsync/src/status.tsx
  extensions/airsync/src/utils/applescript.ts
  extensions/airsync/tsconfig.json
Labels: new extension

#21945 Update comet extension
  extensions/comet/CHANGELOG.md
  extensions/comet/assets/comet-logo.svg
  extensions/comet/package-lock.json
  extensions/comet/package.json
  extensions/comet/src/actions/index.tsx
  extensions/comet/src/constants.ts
  extensions/comet/src/hooks/useBookmarkSearch.tsx
  extensions/comet/src/hooks/useHistorySearch.tsx
  extensions/comet/src/hooks/useTabSearch.tsx
  extensions/comet/src/search-all.tsx
  extensions/comet/src/tools/search-bookmarks.ts
  extensions/comet/src/util/index.ts
Labels: extension fix / improvement, OP is author, AI Extension, extension: comet

#21855 Add guitar-tools extension
  extensions/guitar-tools/.gitignore
  extensions/guitar-tools/.prettierrc
  extensions/guitar-tools/CHANGELOG.md
  extensions/guitar-tools/README.md
  extensions/guitar-tools/assets/extension-icon.png
  extensions/guitar-tools/eslint.config.js
  extensions/guitar-tools/metadata/guitar-tools-1.png
  extensions/guitar-tools/metadata/guitar-tools-2.png
  extensions/guitar-tools/package-lock.json
  extensions/guitar-tools/package.json
  extensions/guitar-tools/src/constants.ts
  extensions/guitar-tools/src/hooks/useTuner.ts
  extensions/guitar-tools/src/tune.tsx
  extensions/guitar-tools/src/utils/display.utils.ts
  extensions/guitar-tools/src/utils/general.utils.ts
  extensions/guitar-tools/src/utils/note.utils.ts
  extensions/guitar-tools/src/utils/sox.utils.ts
  extensions/guitar-tools/tsconfig.json
Labels: new extension

#21880 Add `Infisical` extension
  extensions/infisical/.gitignore
  extensions/infisical/.prettierrc
  extensions/infisical/CHANGELOG.md
  extensions/infisical/README.md
  extensions/infisical/assets/infisical.png
  extensions/infisical/eslint.config.js
  extensions/infisical/metadata/infisical-1.png
  extensions/infisical/metadata/infisical-2.png
  extensions/infisical/metadata/infisical-3.png
  extensions/infisical/metadata/infisical-4.png
  extensions/infisical/package-lock.json
  extensions/infisical/package.json
  extensions/infisical/src/components.tsx
  extensions/infisical/src/infisical.ts
  extensions/infisical/src/manage-projects.tsx
  extensions/infisical/src/secrets.tsx
  extensions/infisical/src/types.ts
  extensions/infisical/tsconfig.json
Labels: new extension

#21707 Update datetime format converter extension
  extensions/datetime-format-converter/CHANGELOG.md
  extensions/datetime-format-converter/package.json
  extensions/datetime-format-converter/src/index.tsx
Labels: extension fix / improvement, extension: datetime-format-converter

#21935 Update `ipapi.is` extension - Modernize + Windows Support + Enhancements
  extensions/ipapi-is/.eslintrc.json
  extensions/ipapi-is/CHANGELOG.md
  extensions/ipapi-is/eslint.config.js
  extensions/ipapi-is/package-lock.json
  extensions/ipapi-is/package.json
  extensions/ipapi-is/src/constants.ts
  extensions/ipapi-is/src/lookup-ip-or-asn.tsx
  extensions/ipapi-is/src/types.ts
  extensions/ipapi-is/tsconfig.json
Labels: extension fix / improvement, OP is author, extension: ipapi-is

#21668 [dust] feat(login): auto-switcher for user region
  extensions/dust-tt/CHANGELOG.md
  extensions/dust-tt/README.md
  extensions/dust-tt/package-lock.json
  extensions/dust-tt/package.json
  extensions/dust-tt/src/answerQuestion.tsx
  extensions/dust-tt/src/dust_api/env.ts
  extensions/dust-tt/src/dust_api/oauth.tsx
  extensions/dust-tt/src/pickWorkspace.tsx
  extensions/dust-tt/src/utils.tsx
Labels: extension fix / improvement, OP is contributor, extension: dust-tt

#21701 Add toneclone extension
  extensions/toneclone/.gitignore
  extensions/toneclone/.prettierrc
  extensions/toneclone/CHANGELOG.md
  extensions/toneclone/README.md
  extensions/toneclone/assets/toneclone-icon.png
  extensions/toneclone/eslint.config.js
  extensions/toneclone/metadata/toneclone-1.png
  extensions/toneclone/metadata/toneclone-2.png
  extensions/toneclone/metadata/toneclone-3.png
  extensions/toneclone/metadata/toneclone-4.png
  extensions/toneclone/metadata/toneclone-5.png
  extensions/toneclone/package-lock.json
  extensions/toneclone/package.json
  extensions/toneclone/src/api.ts
  extensions/toneclone/src/auth.ts
  extensions/toneclone/src/client-info.ts
  extensions/toneclone/src/components/AuthenticationGate.tsx
  extensions/toneclone/src/components/ErrorBoundary.tsx
  extensions/toneclone/src/generate-from-browser.tsx
  extensions/toneclone/src/generate-text.tsx
  extensions/toneclone/src/manage-knowledge.tsx
  extensions/toneclone/src/manage-personas.tsx
  extensions/toneclone/src/manage-presets.tsx
  extensions/toneclone/src/preferences.ts
  extensions/toneclone/src/train-from-browser.tsx
  extensions/toneclone/src/train-toneclone.tsx
  extensions/toneclone/src/types.ts
  extensions/toneclone/src/utils/data-loader.ts
  extensions/toneclone/src/utils/persona.ts
  extensions/toneclone/tsconfig.json
Labels: new extension

#22034 Decommission Clarify Raycast extension.
  extensions/clarify/CHANGELOG.md
  extensions/clarify/README.md
  extensions/clarify/metadata/clarify-10.png
  extensions/clarify/metadata/clarify-20.png
  extensions/clarify/metadata/clarify-30.png
  extensions/clarify/metadata/clarify-40.png
  extensions/clarify/package-lock.json
  extensions/clarify/package.json
  extensions/clarify/src/add-new-company.tsx
  extensions/clarify/src/add-new-person.tsx
  extensions/clarify/src/auth.provider.ts
  extensions/clarify/src/config.provider.ts
  extensions/clarify/src/go-to-companies.tsx
  extensions/clarify/src/go-to-list-view.tsx
  extensions/clarify/src/go-to-people.tsx
  extensions/clarify/src/search.tsx
  extensions/clarify/src/utils/auth.util.ts
  extensions/clarify/src/utils/config.util.ts
  extensions/clarify/src/utils/net.util.ts
  extensions/clarify/src/utils/schema.util.ts
Labels: extension fix / improvement, OP is author, extension: clarify, platform: macOS

#22032 [United Nations] Add support for Windows
  extensions/united-nations/CHANGELOG.md
  extensions/united-nations/README.md
  extensions/united-nations/package-lock.json
  extensions/united-nations/package.json
  extensions/united-nations/src/components.tsx
  extensions/united-nations/src/utils.ts
Labels: extension fix / improvement, OP is author, extension: united-nations, platform: macOS, platform: Windows
