Repository raycast/extensions, pull requests merged in 2025-08, with the labels that each got.

#20515 Update `Open in JSON Hero` extension - QoL Enhancements + Modernize
  extensions/open-in-json-hero/.eslintrc.json
  extensions/open-in-json-hero/CHANGELOG.md
  extensions/open-in-json-hero/README.md
  extensions/open-in-json-hero/eslint.config.js
  extensions/open-in-json-hero/metadata/open-in-json-hero-1.png
  extensions/open-in-json-hero/package-lock.json
  extensions/open-in-json-hero/package.json
  extensions/open-in-json-hero/src/index.ts
  extensions/open-in-json-hero/tsconfig.json
Labels: extension fix / improvement, extension: open-in-json-hero

#20557 Update `HestiaCP` extension - Modernize + View,Create Cron Jobs
  extensions/hestiacp-admin/.eslintrc.json
  extensions/hestiacp-admin/CHANGELOG.md
  extensions/hestiacp-admin/README.md
  extensions/hestiacp-admin/eslint.config.js
  extensions/hestiacp-admin/package-lock.json
  extensions/hestiacp-admin/package.json
  extensions/hestiacp-admin/src/components/list-cron-jobs.tsx
  extensions/hestiacp-admin/src/components/list-web-domains.tsx
  extensions/hestiacp-admin/src/list-users.tsx
  extensions/hestiacp-admin/src/types/cron-jobs.ts
  extensions/hestiacp-admin/src/utils/hestia.ts
  extensions/hestiacp-admin/src/utils/index.ts
  extensions/hestiacp-admin/tsconfig.json
Labels: extension fix / improvement, OP is author, extension: hestiacp-admin

#20720 Update `Dokploy` extension - Manage Destinations (S3 mounts - mostly used for Backups) + Update `navigationTitle`s
  extensions/dokploy/CHANGELOG.md
  extensions/dokploy/README.md
  extensions/dokploy/metadata/dokploy-1.png
  extensions/dokploy/metadata/dokploy-2.png
  extensions/dokploy/metadata/dokploy-3.png
  extensions/dokploy/metadata/dokploy-4.png
  extensions/dokploy/package-lock.json
  extensions/dokploy/package.json
  extensions/dokploy/src/config.ts
  extensions/dokploy/src/destinations.tsx
  extensions/dokploy/src/docker.tsx
  extensions/dokploy/src/instances.tsx
  extensions/dokploy/src/interfaces.ts
  extensions/dokploy/src/projects.tsx
  extensions/dokploy/src/services.tsx
  extensions/dokploy/src/users.tsx
Labels: extension fix / improvement, OP is author, extension: dokploy

#20560 Update `Microsoft Edge` extension - fix "new tab" not opening + modernize + mark as "MacOS" only
  extensions/microsoft-edge/.eslintrc.json
  extensions/microsoft-edge/CHANGELOG.md
  extensions/microsoft-edge/README.md
  extensions/microsoft-edge/eslint.config.js
  extensions/microsoft-edge/package-lock.json
  extensions/microsoft-edge/package.json
  extensions/microsoft-edge/src/actions/index.ts
  extensions/microsoft-edge/src/components/error/NotInstalledError.tsx
  extensions/microsoft-edge/src/hooks/useBookmarkSearch.tsx
  extensions/microsoft-edge/src/hooks/useTabSearch.tsx
  extensions/microsoft-edge/src/new-tab.tsx
  extensions/microsoft-edge/src/types/interfaces.ts
  extensions/microsoft-edge/src/utils/pathUtils.ts
  extensions/microsoft-edge/tsconfig.json
Labels: extension fix / improvement, OP is contributor, extension: microsoft-edge

#20591 Add `Host.io` extension - get full domain data for any domain
  extensions/host-io/.gitignore
  extensions/host-io/.prettierrc
  extensions/host-io/CHANGELOG.md
  extensions/host-io/README.md
  extensions/host-io/assets/extension_icon.png
  extensions/host-io/eslint.config.js
  extensions/host-io/metadata/host-io-1.png
  extensions/host-io/package-lock.json
  extensions/host-io/package.json
  extensions/host-io/src/get-full-domain-data.tsx
  extensions/host-io/tsconfig.json
Labels: new extension

#20626 Update `Tabler` extension - Copy HTML Char Actions + Modernize
  extensions/tabler/.eslintrc.json
  extensions/tabler/CHANGELOG.md
  extensions/tabler/eslint.config.js
  extensions/tabler/metadata/tabler-1.png
  extensions/tabler/package-lock.json
  extensions/tabler/package.json
  extensions/tabler/src/index.tsx
  extensions/tabler/tsconfig.json
Labels: extension fix / improvement, extension: tabler

#20654 Update `Host Switch` extension - add Brave support + Modernize + Error Handling + mark as "macOS" only
  extensions/host-switch/.eslintrc.json
  extensions/host-switch/CHANGELOG.md
  extensions/host-switch/README.md
  extensions/host-switch/eslint.config.js
  extensions/host-switch/metadata/host-switch-5.png
  extensions/host-switch/package-lock.json
  extensions/host-switch/package.json
  extensions/host-switch/src/hooks/useCachedHosts.ts
  extensions/host-switch/src/hooks/useDebouncedQuery.ts
  extensions/host-switch/src/lib/browser.ts
  extensions/host-switch/src/lib/withBrowser.tsx
  extensions/host-switch/src/switch.tsx
  extensions/host-switch/src/types.ts
  extensions/host-switch/tsconfig.json
Labels: extension fix / improvement, extension: host-switch

#20697 [Brand Icons] Handle readfile errors gracefully
  extensions/simple-icons/CHANGELOG.md
  extensions/simple-icons/package-lock.json
  extensions/simple-icons/package.json
  extensions/simple-icons/src/actions.tsx
  extensions/simple-icons/src/utils.ts
  extensions/simple-icons/src/vender/simple-icons-sdk.ts
Labels: extension fix / improvement, OP is author, extension: simple-icons

#20741 Update extension
  extensions/time-until-i-do/.eslintrc.json
  extensions/time-until-i-do/.gitignore
  extensions/time-until-i-do/CHANGELOG.md
  extensions/time-until-i-do/LICENSE
  extensions/time-until-i-do/README.md
  extensions/time-until-i-do/eslint.config.js
  extensions/time-until-i-do/metadata/time-until-i-do-1.png
  extensions/time-until-i-do/package-lock.json
  extensions/time-until-i-do/package.json
  extensions/time-until-i-do/src/index.tsx
  extensions/time-until-i-do/tsconfig.json
Labels: extension fix / improvement, OP is author, extension: time-until-i-do

#20702 tw-colorsearch - Windows support
  extensions/tw-colorsearch/.eslintrc.json
  extensions/tw-colorsearch/CHANGELOG.md
  extensions/tw-colorsearch/eslint.config.js
  extensions/tw-colorsearch/package-lock.json
  extensions/tw-colorsearch/package.json
  extensions/tw-colorsearch/src/index.tsx
  extensions/tw-colorsearch/tsconfig.json
Labels: extension fix / improvement, extension: tw-colorsearch, Windows

#20556 Add VLC extension
  extensions/vlc/.gitignore
  extensions/vlc/.prettierrc
  extensions/vlc/CHANGELOG.md
  extensions/vlc/README.md
  extensions/vlc/assets/extension-icon.png
  extensions/vlc/assets/extension-icon.svg
  extensions/vlc/eslint.config.js
  extensions/vlc/metadata/vlc-1.png
  extensions/vlc/package-lock.json
  extensions/vlc/package.json
  extensions/vlc/src/constants.ts
  extensions/vlc/src/eject.ts
  extensions/vlc/src/mute.ts
  extensions/vlc/src/next.ts
  extensions/vlc/src/open-vlsub.ts
  extensions/vlc/src/open.tsx
  extensions/vlc/src/pause.ts
  extensions/vlc/src/play.ts
  extensions/vlc/src/previous.ts
  extensions/vlc/src/seek-backward.ts
  extensions/vlc/src/seek-forward.ts
  extensions/vlc/src/set-volume.tsx
  extensions/vlc/src/stop.ts
  extensions/vlc/src/toggle-fullscreen.ts
  extensions/vlc/src/toggle-loop.ts
  extensions/vlc/src/toggle-random.ts
  extensions/vlc/src/unmute.ts
  extensions/vlc/src/utils.ts
  extensions/vlc/src/volume-down.ts
  extensions/vlc/src/volume-up.ts
  extensions/vlc/tsconfig.json
Labels: new extension

#20653 Update pomodoro extension
  extensions/pomodoro/CHANGELOG.md
  extensions/pomodoro/package.json
  extensions/pomodoro/src/stats-pomodoro-timer.tsx
Labels: extension fix / improvement, extension: pomodoro, AI Extension

#20749 extensions/model-context-protocol-registry: APIFY_API_TOKEN → APIFY_TOKEN
  extensions/model-context-protocol-registry/CHANGELOG.md
  extensions/model-context-protocol-registry/src/registries/builtin/entries.ts
Labels: extension fix / improvement, extension: model-context-protocol-registry

#20776 Deleted directory
  extensions/hoarder/.eslintrc.json
  extensions/hoarder/.gitignore
  extensions/hoarder/.prettierrc
  extensions/hoarder/CHANGELOG.md
  extensions/hoarder/README.md
  extensions/hoarder/assets/logo-icon.png
  extensions/hoarder/assets/screenshot-default.png
  extensions/hoarder/docs/images/raycast-hoarder-configuration.png
  extensions/hoarder/docs/images/raycast-hoarder-intro.png
  extensions/hoarder/metadata/hoarder-bookmark-1.png
  extensions/hoarder/metadata/hoarder-bookmark-2.png
  extensions/hoarder/metadata/hoarder-bookmark-3.png
  extensions/hoarder/metadata/hoarder-bookmark-4.png
  extensions/hoarder/metadata/hoarder-bookmark-5.png
  extensions/hoarder/metadata/hoarder-bookmark-6.png
  extensions/hoarder/package-lock.json
  extensions/hoarder/package.json
  extensions/hoarder/src/apis/index.ts
  extensions/hoarder/src/bookmarks.tsx
  extensions/hoarder/src/components/BookmarkDetail.tsx
  extensions/hoarder/src/components/BookmarkEdit.tsx
  extensions/hoarder/src/components/BookmarkItem.tsx
  extensions/hoarder/src/components/BookmarkList.tsx
  extensions/hoarder/src/constants/index.ts
  extensions/hoarder/src/createBookmark.tsx
  extensions/hoarder/src/hooks/useBookmarkFilter.ts
  extensions/hoarder/src/hooks/useConfig.ts
  extensions/hoarder/src/hooks/useGetAllBookmarks.ts
  extensions/hoarder/src/hooks/useGetAllLists.ts
  extensions/hoarder/src/hooks/useGetAllTags.ts
  extensions/hoarder/src/hooks/useGetListsBookmarks.ts
  extensions/hoarder/src/hooks/useGetTagsBookmarks.ts
  extensions/hoarder/src/hooks/useSearchBookmarks.ts
  extensions/hoarder/src/hooks/useTranslation.ts
  extensions/hoarder/src/i18n/index.ts
  extensions/hoarder/src/lists.tsx
  extensions/hoarder/src/tags.tsx
  extensions/hoarder/src/types/index.ts
  extensions/hoarder/src/utils/config.ts
  extensions/hoarder/src/utils/screenshot.ts
  extensions/hoarder/src/utils/url.ts
  extensions/hoarder/tsconfig.json
Labels: extension fix / improvement, extension: hoarder

#20569 Update quick-notes extension
  extensions/quick-notes/CHANGELOG.md
  extensions/quick-notes/src/components/actions.tsx
Labels: extension fix / improvement, OP is contributor, extension: quick-notes

#20625 Update nusmods extension
  extensions/nusmods/CHANGELOG.md
  extensions/nusmods/src/utils/markdown.ts
Labels: extension fix / improvement, OP is author, extension: nusmods

#20168 [Music extension] Add Remove from Library command
  extensions/music/CHANGELOG.md
  extensions/music/package.json
  extensions/music/src/remove-current-playing-from-library.tsx
  extensions/music/src/util/scripts/current-track.ts
Labels: extension fix / improvement, extension: music, AI Extension

#20555 Add character tabulation to Unicode Symbols extension
  extensions/unicode-symbols/CHANGELOG.md
  extensions/unicode-symbols/assets/dataset.json
  extensions/unicode-symbols/assets/full-dataset.json
Labels: extension fix / improvement, extension: unicode-symbols

#20583 Show Artist's name when liking current track
  extensions/spotify-player/.tool-versions
  extensions/spotify-player/CHANGELOG.md
  extensions/spotify-player/src/like.ts
Labels: extension fix / improvement, OP is contributor, extension: spotify-player, AI Extension

#20367 Update defbro extension
  extensions/defbro/CHANGELOG.md
  extensions/defbro/package.json
  extensions/defbro/src/change_browser.tsx
Labels: extension fix / improvement, extension: defbro

#20734 Update grok-ai extension
  extensions/grok-ai/.gitignore
  extensions/grok-ai/CHANGELOG.md
  extensions/grok-ai/CLAUDE.md
  extensions/grok-ai/README.md
  extensions/grok-ai/package-lock.json
  extensions/grok-ai/package.json
  extensions/grok-ai/src/ask.tsx
  extensions/grok-ai/src/conversation.tsx
  extensions/grok-ai/src/hooks/useEnhancedChat.tsx
  extensions/grok-ai/src/hooks/useGrokAPI.tsx
  extensions/grok-ai/src/hooks/useHistory.tsx
  extensions/grok-ai/src/hooks/useHistorySingleton.tsx
  extensions/grok-ai/src/hooks/useModel.tsx
  extensions/grok-ai/src/hooks/useRobustStreaming.tsx
  extensions/grok-ai/src/utils/stream-recovery.tsx
  extensions/grok-ai/test/edge-cases/streaming-errors.test.ts
  extensions/grok-ai/test/mocks/raycast-api-mock.ts
  extensions/grok-ai/test/mocks/raycast-utils-mock.ts
  extensions/grok-ai/test/setup.ts
  extensions/grok-ai/test/utils/stream-recovery.test.ts
  extensions/grok-ai/vitest.config.ts
Labels: extension fix / improvement, OP is author, extension: grok-ai

#20399 Fix: Support currency format in transaction amount validation
  extensions/raynab/CHANGELOG.md
  extensions/raynab/src/components/transactions/transactionCreateForm.tsx
Labels: extension fix / improvement, OP is contributor, extension: raynab, AI Extension

#20662 Gemini/updatemodels-July
  extensions/raycast-gemini/CHANGELOG.md
  extensions/raycast-gemini/package.json
Labels: extension fix / improvement, OP is contributor, extension: raycast-gemini

#20701 end-of-life - Windows support
  extensions/end-of-life/CHANGELOG.md
  extensions/end-of-life/package.json
Labels: extension fix / improvement, OP is contributor, extension: end-of-life, Windows

#20548 Add dia-skills extension
  extensions/dia-skills/.gitignore
  extensions/dia-skills/.prettierrc
  extensions/dia-skills/CHANGELOG.md
  extensions/dia-skills/README.md
  extensions/dia-skills/assets/extension-icon.png
  extensions/dia-skills/eslint.config.js
  extensions/dia-skills/package-lock.json
  extensions/dia-skills/package.json
  extensions/dia-skills/src/import-dia-skill.ts
  extensions/dia-skills/tsconfig.json
Labels: new extension

#20319 Add google-lens extension
  extensions/google-lens/.gitignore
  extensions/google-lens/.prettierrc
  extensions/google-lens/CHANGELOG.md
  extensions/google-lens/LICENSE
  extensions/google-lens/README.md
  extensions/google-lens/assets/extension-icon.png
  extensions/google-lens/eslint.config.js
  extensions/google-lens/metadata/google-lens-1.png
  extensions/google-lens/package-lock.json
  extensions/google-lens/package.json
  extensions/google-lens/src/constants.ts
  extensions/google-lens/src/search-image-with-google-lens.ts
  extensions/google-lens/src/types.ts
  extensions/google-lens/tsconfig.json
Labels: new extension

#20395 Add commit-issue-parser extension
  extensions/commit-issue-parser/.gitignore
  extensions/commit-issue-parser/.nvmrc
  extensions/commit-issue-parser/.prettierrc
  extensions/commit-issue-parser/CHANGELOG.md
  extensions/commit-issue-parser/README.md
  extensions/commit-issue-parser/assets/extension-icon.png
  extensions/commit-issue-parser/eslint.config.js
  extensions/commit-issue-parser/metadata/commit-issue-parser-1.png
  extensions/commit-issue-parser/metadata/commit-issue-parser-2.png
  extensions/commit-issue-parser/metadata/commit-issue-parser-3.png
  extensions/commit-issue-parser/package-lock.json
  extensions/commit-issue-parser/package.json
  extensions/commit-issue-parser/src/components/customAction.tsx
  extensions/commit-issue-parser/src/components/customActionPanel.tsx
  extensions/commit-issue-parser/src/constant/commitType.ts
  extensions/commit-issue-parser/src/constant/defaultIssue.ts
  extensions/commit-issue-parser/src/hooks/commitMessages.tsx
  extensions/commit-issue-parser/src/hooks/urlParser.tsx
  extensions/commit-issue-parser/src/models/commitMessage.ts
  extensions/commit-issue-parser/src/models/commitType.ts
  extensions/commit-issue-parser/src/models/issue.ts
  extensions/commit-issue-parser/src/models/shortcutType.ts
  extensions/commit-issue-parser/src/parse-issue-url.tsx
  extensions/commit-issue-parser/src/services/shortcut.ts
  extensions/commit-issue-parser/tsconfig.json
Labels: new extension

#20723 Update timezone-buddy extension
  extensions/timezone-buddy/CHANGELOG.md
  extensions/timezone-buddy/package.json
  extensions/timezone-buddy/src/helpers/getColorForTz.ts
  extensions/timezone-buddy/src/helpers/getCurrentDateTimeForTz.ts
  extensions/timezone-buddy/src/helpers/getCurrentTimeForTz.ts
  extensions/timezone-buddy/src/helpers/getCurrentTimeHeader.ts
  extensions/timezone-buddy/src/helpers/getDateWithOffset.ts
  extensions/timezone-buddy/src/helpers/getHourForTz.ts
  extensions/timezone-buddy/src/helpers/getIconForTz.ts
  extensions/timezone-buddy/src/helpers/getOffsetHrsDisplay.ts
  extensions/timezone-buddy/src/helpers/getTooltipForTz.ts
  extensions/timezone-buddy/src/timezone-buddy.tsx
Labels: extension fix / improvement, extension: timezone-buddy

#20824 [GitLab] Add windows support
  extensions/gitlab/CHANGELOG.md
  extensions/gitlab/package-lock.json
  extensions/gitlab/package.json
Labels: extension fix / improvement, OP is author, extension: gitlab

#20813 Update `OpenStatus` extension - ✨AI Tools✨
  extensions/openstatus/.eslintrc.json
  extensions/openstatus/CHANGELOG.md
  extensions/openstatus/README.md
  extensions/openstatus/eslint.config.js
  extensions/openstatus/package-lock.json
  extensions/openstatus/package.json
  extensions/openstatus/src/create-status-report-update.tsx
  extensions/openstatus/src/create-status-report.tsx
  extensions/openstatus/src/show-incidents.tsx
  extensions/openstatus/src/show-monitors.tsx
  extensions/openstatus/src/tools/create-status-report-update.ts
  extensions/openstatus/src/tools/create-status-report.ts
  extensions/openstatus/src/tools/show-incidents.ts
  extensions/openstatus/src/tools/show-monitors.ts
  extensions/openstatus/src/tools/show-status-pages.ts
  extensions/openstatus/src/tools/show-status-reports.ts
  extensions/openstatus/tsconfig.json
Labels: extension fix / improvement, OP is contributor, extension: openstatus, AI Extension

#20378 Add sefaria extension
  extensions/sefaria/.gitignore
  extensions/sefaria/.prettierrc
  extensions/sefaria/CHANGELOG.md
  extensions/sefaria/README.md
  extensions/sefaria/assets/extension-icon.png
  extensions/sefaria/eslint.config.js
  extensions/sefaria/metadata/Screenshot 2025-07-04 at 4.19.54 PM.png
  extensions/sefaria/metadata/Screenshot 2025-07-04 at 4.20.28 PM.png
  extensions/sefaria/metadata/Screenshot 2025-07-04 at 4.20.42 PM.png
  extensions/sefaria/metadata/sefaria-1.png
  extensions/sefaria/metadata/sefaria-2.png
  extensions/sefaria/metadata/sefaria-3.png
  extensions/sefaria/metadata/sefaria-4.png
  extensions/sefaria/package-lock.json
  extensions/sefaria/package.json
  extensions/sefaria/src/get-source.tsx
  extensions/sefaria/src/lib/api/sefaria.ts
  extensions/sefaria/src/lib/components/ActionPanels.tsx
  extensions/sefaria/src/lib/components/CategoryList.tsx
  extensions/sefaria/src/lib/components/SearchList.tsx
  extensions/sefaria/src/lib/components/SourceDetail.tsx
  extensions/sefaria/src/lib/constants/app.ts
  extensions/sefaria/src/lib/hooks/useSefaria.ts
  extensions/sefaria/src/lib/types/sefaria.ts
  extensions/sefaria/src/lib/utils/text-processing.ts
  extensions/sefaria/src/search-sefaria.tsx
  extensions/sefaria/tsconfig.json
Labels: new extension

#20809 Update aws extension
  extensions/amazon-aws/CHANGELOG.md
  extensions/amazon-aws/README.md
  extensions/amazon-aws/package-lock.json
  extensions/amazon-aws/package.json
  extensions/amazon-aws/src/amplify.tsx
  extensions/amazon-aws/src/hooks/use-amplify.ts
Labels: extension fix / improvement, extension: amazon-aws

#20528 Update slugify-file-folder-names extension
  extensions/slugify-file-folder-names/CHANGELOG.md
  extensions/slugify-file-folder-names/README.md
  extensions/slugify-file-folder-names/package-lock.json
  extensions/slugify-file-folder-names/package.json
  extensions/slugify-file-folder-names/src/slug.ts
  extensions/slugify-file-folder-names/src/test-slugify.ts
  extensions/slugify-file-folder-names/src/utils/slugify.ts
Labels: extension fix / improvement, OP is author, extension: slugify-file-folder-names

#20419 Add docklock-plus extension
  extensions/docklock-plus/.gitignore
  extensions/docklock-plus/.prettierrc
  extensions/docklock-plus/CHANGELOG.md
  extensions/docklock-plus/README.md
  extensions/docklock-plus/assets/icon.png
  extensions/docklock-plus/eslint.config.js
  extensions/docklock-plus/metadata/docklock-plus-1.png
  extensions/docklock-plus/metadata/docklock-plus-2.png
  extensions/docklock-plus/package-lock.json
  extensions/docklock-plus/package.json
  extensions/docklock-plus/src/disable-dock-follows-active-window.tsx
  extensions/docklock-plus/src/disable-dock-follows-mouse.tsx
  extensions/docklock-plus/src/disable-dock-lock-on-display.tsx
  extensions/docklock-plus/src/disable-dock-lock.tsx
  extensions/docklock-plus/src/enable-dock-follows-active-window.tsx
  extensions/docklock-plus/src/enable-dock-follows-mouse.tsx
  extensions/docklock-plus/src/enable-dock-lock-on-display.tsx
  extensions/docklock-plus/src/enable-dock-lock.tsx
  extensions/docklock-plus/src/move-dock-down.tsx
  extensions/docklock-plus/src/move-dock-left.tsx
  extensions/docklock-plus/src/move-dock-right.tsx
  extensions/docklock-plus/src/move-dock-up.tsx
  extensions/docklock-plus/src/move-to-display-by-name.tsx
  extensions/docklock-plus/src/utils.tsx
  extensions/docklock-plus/tsconfig.json
Labels: new extension

#20849 [Badges] Add shortcut for picking logo
  extensions/badges/CHANGELOG.md
  extensions/badges/package-lock.json
  extensions/badges/package.json
  extensions/badges/src/components/actions.tsx
  extensions/badges/src/components/parameters.tsx
  extensions/badges/src/utils.ts
Labels: extension fix / improvement, OP is author, extension: badges

#20844 Update freeagent extension
  extensions/freeagent/CHANGELOG.md
  extensions/freeagent/CLAUDE.md
  extensions/freeagent/src/list-timeslips.tsx
  extensions/freeagent/src/services/freeagent.ts
  extensions/freeagent/src/types.ts
  extensions/freeagent/src/utils/formatting.ts
Labels: extension fix / improvement, OP is author, extension: freeagent

#20848 Update grammari-x extension
  extensions/grammari-x/CHANGELOG.md
  extensions/grammari-x/README.md
  extensions/grammari-x/src/utils/grammerUtil.ts
Labels: extension fix / improvement, status: awaiting response from dev, OP is author, extension: grammari-x

#20493 Add `Tally` extension - view, rename workspaces + view forms + view form submissions
  extensions/tally/.gitignore
  extensions/tally/.prettierrc
  extensions/tally/CHANGELOG.md
  extensions/tally/README.md
  extensions/tally/assets/Tally Logo - White.png
  extensions/tally/assets/Tally_Banner.jpg
  extensions/tally/assets/tally.png
  extensions/tally/assets/tally@dark.png
  extensions/tally/eslint.config.js
  extensions/tally/metadata/tally-1.png
  extensions/tally/metadata/tally-2.png
  extensions/tally/metadata/tally-3.png
  extensions/tally/package-lock.json
  extensions/tally/package.json
  extensions/tally/src/forms.tsx
  extensions/tally/src/interfaces.ts
  extensions/tally/src/open-in-tally.tsx
  extensions/tally/src/tally.ts
  extensions/tally/src/workspaces.tsx
  extensions/tally/tsconfig.json
Labels: new extension, Windows

#20847 Update aerospace extension
  extensions/aerospace/CHANGELOG.md
  extensions/aerospace/README.md
  extensions/aerospace/metadata/aerospace-4.png
  extensions/aerospace/package.json
  extensions/aerospace/src/showConfig.tsx
  extensions/aerospace/src/utils/appSwitcher.tsx
  extensions/aerospace/src/utils/config.tsx
Labels: extension fix / improvement, status: awaiting response from dev, extension: aerospace

#20773 Add proton-authenticator extension
  extensions/proton-authenticator/.gitignore
  extensions/proton-authenticator/.prettierrc
  extensions/proton-authenticator/CHANGELOG.md
  extensions/proton-authenticator/README.md
  extensions/proton-authenticator/assets/proton-icon.png
  extensions/proton-authenticator/eslint.config.js
  extensions/proton-authenticator/metadata/proton-authenticator-1.png
  extensions/proton-authenticator/metadata/proton-authenticator-2.png
  extensions/proton-authenticator/metadata/proton-authenticator-3.png
  extensions/proton-authenticator/metadata/proton-authenticator-4.png
  extensions/proton-authenticator/metadata/proton-authenticator-5.png
  extensions/proton-authenticator/metadata/proton-authenticator-6.png
  extensions/proton-authenticator/package-lock.json
  extensions/proton-authenticator/package.json
  extensions/proton-authenticator/src/SetupForm.tsx
  extensions/proton-authenticator/src/index.tsx
  extensions/proton-authenticator/src/lib/colors.ts
  extensions/proton-authenticator/src/lib/constants.ts
  extensions/proton-authenticator/src/lib/parser.ts
  extensions/proton-authenticator/src/lib/storage.ts
  extensions/proton-authenticator/src/lib/totp.ts
  extensions/proton-authenticator/src/types.ts
  extensions/proton-authenticator/tsconfig.json
Labels: new extension

#20806 Update image-wallet extension
  extensions/image-wallet/CHANGELOG.md
  extensions/image-wallet/package-lock.json
  extensions/image-wallet/package.json
  extensions/image-wallet/src/image-wallet.tsx
  extensions/image-wallet/src/utils.ts
Labels: extension fix / improvement, status: awaiting response from dev, extension: image-wallet

#20580 Add twingate extension
  extensions/twingate/.eslintrc.js
  extensions/twingate/.gitignore
  extensions/twingate/CHANGELOG.md
  extensions/twingate/LICENSE
  extensions/twingate/README.md
  extensions/twingate/assets/twingate-icon.png
  extensions/twingate/metadata/twingate-1.png
  extensions/twingate/metadata/twingate-2.png
  extensions/twingate/metadata/twingate-3.png
  extensions/twingate/metadata/twingate-4.png
  extensions/twingate/metadata/twingate-5.png
  extensions/twingate/package-lock.json
  extensions/twingate/package.json
  extensions/twingate/src/api/mock-resources.ts
  extensions/twingate/src/api/twingate.ts
  extensions/twingate/src/components/ResourceListItem.tsx
  extensions/twingate/src/hooks/useFavorites.ts
  extensions/twingate/src/recent-resources.tsx
  extensions/twingate/src/search-resources.tsx
  extensions/twingate/src/types.ts
  extensions/twingate/src/utils/debug.ts
  extensions/twingate/src/utils/shortcuts.ts
  extensions/twingate/src/utils/storage.ts
  extensions/twingate/tsconfig.json
Labels: new extension

#20669 Add dodo-payments extension
  extensions/dodo-payments/.gitignore
  extensions/dodo-payments/.prettierrc.json
  extensions/dodo-payments/AUTHENTICATION.md
  extensions/dodo-payments/CHANGELOG.md
  extensions/dodo-payments/CONTRIBUTING.md
  extensions/dodo-payments/DOCS.md
  extensions/dodo-payments/README.md
  extensions/dodo-payments/assets/command-icon.png
  extensions/dodo-payments/eslint.config.js
  extensions/dodo-payments/metadata/dodo-payments-1.png
  extensions/dodo-payments/metadata/dodo-payments-2.png
  extensions/dodo-payments/metadata/dodo-payments-3.png
  extensions/dodo-payments/metadata/dodo-payments-4.png
  extensions/dodo-payments/metadata/dodo-payments-5.png
  extensions/dodo-payments/package-lock.json
  extensions/dodo-payments/package.json
  extensions/dodo-payments/src/api.ts
  extensions/dodo-payments/src/components/AuthErrorView.tsx
  extensions/dodo-payments/src/components/ExampleUsage.tsx
  extensions/dodo-payments/src/contexts/AuthContext.tsx
  extensions/dodo-payments/src/hooks/useAuthGuard.tsx
  extensions/dodo-payments/src/hooks/useQueries.ts
  extensions/dodo-payments/src/utils/auth.ts
  extensions/dodo-payments/src/utils/formatting.ts
  extensions/dodo-payments/src/view-customers.tsx
  extensions/dodo-payments/src/view-discounts.tsx
  extensions/dodo-payments/src/view-disputes.tsx
  extensions/dodo-payments/src/view-license-keys.tsx
  extensions/dodo-payments/src/view-payments.tsx
  extensions/dodo-payments/src/view-payouts.tsx
  extensions/dodo-payments/src/view-products.tsx
  extensions/dodo-payments/src/view-refunds.tsx
  extensions/dodo-payments/src/view-subscriptions.tsx
  extensions/dodo-payments/tsconfig.json
Labels: new extension

#20875 Add emojis-com extension
  extensions/emojis-com/.gitignore
  extensions/emojis-com/.prettierrc
  extensions/emojis-com/CHANGELOG.md
  extensions/emojis-com/README.md
  extensions/emojis-com/assets/extension-icon.png
  extensions/emojis-com/eslint.config.js
  extensions/emojis-com/metadata/emojis-com-1.png
  extensions/emojis-com/package-lock.json
  extensions/emojis-com/package.json
  extensions/emojis-com/src/components/emoji-grid-item/index.tsx
  extensions/emojis-com/src/components/providers/index.tsx
  extensions/emojis-com/src/hooks/use-raycast-emojis-search/graphql/get-raycast-emojis-search.generated.ts
  extensions/emojis-com/src/hooks/use-raycast-emojis-search/graphql/get-raycast-emojis-search.graphql
  extensions/emojis-com/src/hooks/use-raycast-emojis-search/index.ts
  extensions/emojis-com/src/hooks/use-raycast-emojis-search/utils.ts
  extensions/emojis-com/src/search-emojis.tsx
  extensions/emojis-com/src/utils/graphql/ssr.ts
  extensions/emojis-com/src/utils/graphql/types.generated.ts
  extensions/emojis-com/src/utils/imgproxy.ts
  extensions/emojis-com/src/utils/query.ts
  extensions/emojis-com/src/utils/urls.ts
  extensions/emojis-com/tsconfig.json
Labels: new extension

#20888 Add yap extension
  extensions/yap/.gitignore
  extensions/yap/.npmrc
  extensions/yap/.prettierrc
  extensions/yap/CHANGELOG.md
  extensions/yap/README.md
  extensions/yap/assets/extension_icon.png
  extensions/yap/eslint.config.js
  extensions/yap/metadata/raycast-1.png
  extensions/yap/metadata/raycast-2.png
  extensions/yap/package-lock.json
  extensions/yap/package.json
  extensions/yap/src/feedback.tsx
  extensions/yap/src/x-post.tsx
  extensions/yap/tsconfig.json
Labels: new extension

#20894 Update certificate-viewer extension
  extensions/certificate-viewer/CHANGELOG.md
  extensions/certificate-viewer/metadata/certificate-viewer-2.png
  extensions/certificate-viewer/src/decode-certificate.tsx
  extensions/certificate-viewer/src/download-certificate.tsx
  extensions/certificate-viewer/src/utils/x509utils.ts
  extensions/certificate-viewer/src/views/CertSelectionView.tsx
  extensions/certificate-viewer/src/views/CertificateView.tsx
Labels: extension fix / improvement, OP is author, extension: certificate-viewer

#20885 Update `Keygen` extension - List, Create and Delete Users + View API Usage + Fix typo in command title: "Voew Licenses" -> "View Licenses"
  extensions/keygen/CHANGELOG.md
  extensions/keygen/README.md
  extensions/keygen/metadata/keygen-3.png
  extensions/keygen/metadata/keygen-4.png
  extensions/keygen/metadata/keygen-5.png
  extensions/keygen/package-lock.json
  extensions/keygen/package.json
  extensions/keygen/src/api-usage.ts
  extensions/keygen/src/config.ts
  extensions/keygen/src/interfaces.ts
  extensions/keygen/src/keygen.ts
  extensions/keygen/src/products.tsx
  extensions/keygen/src/users.tsx
Labels: extension fix / improvement, OP is author, extension: keygen

#20876 Update `PocketBase` extension - **modernize** + search-backups + store token
  extensions/pocketbase/.eslintrc.json
  extensions/pocketbase/CHANGELOG.md
  extensions/pocketbase/README.md
  extensions/pocketbase/eslint.config.js
  extensions/pocketbase/metadata/pocketbase-3.png
  extensions/pocketbase/package-lock.json
  extensions/pocketbase/package.json
  extensions/pocketbase/src/pocketbase.ts
  extensions/pocketbase/src/search-backups.tsx
  extensions/pocketbase/tsconfig.json
Labels: extension fix / improvement, OP is author, extension: pocketbase

#20792 Add v0-by-vercel extension
  .github/public_raycast_extensions.txt
  extensions/v0-by-vercel/.gitignore
  extensions/v0-by-vercel/.prettierrc
  extensions/v0-by-vercel/CHANGELOG.md
  extensions/v0-by-vercel/README.md
  extensions/v0-by-vercel/assets/icon.png
  extensions/v0-by-vercel/assets/icon@dark.png
  extensions/v0-by-vercel/eslint.config.js
  extensions/v0-by-vercel/metadata/v0-1.png
  extensions/v0-by-vercel/metadata/v0-2.png
  extensions/v0-by-vercel/metadata/v0-3.png
  extensions/v0-by-vercel/metadata/v0-4.png
  extensions/v0-by-vercel/package-lock.json
  extensions/v0-by-vercel/package.json
  extensions/v0-by-vercel/src/components/AddMessage.tsx
  extensions/v0-by-vercel/src/components/AssignProjectForm.tsx
  extensions/v0-by-vercel/src/components/ChatDetail.tsx
  extensions/v0-by-vercel/src/components/ChatFilesDetail.tsx
  extensions/v0-by-vercel/src/components/ChatMetadataDetail.tsx
  extensions/v0-by-vercel/src/components/CreateProjectForm.tsx
  extensions/v0-by-vercel/src/components/ScopeDropdown.tsx
  extensions/v0-by-vercel/src/components/UpdateChatPrivacyForm.tsx
  extensions/v0-by-vercel/src/create-project.tsx
  extensions/v0-by-vercel/src/hooks/useActiveProfile.ts
  extensions/v0-by-vercel/src/hooks/useProjects.ts
  extensions/v0-by-vercel/src/hooks/useScopes.ts
  extensions/v0-by-vercel/src/hooks/useV0Api.ts
  extensions/v0-by-vercel/src/initialize-chat.tsx
  extensions/v0-by-vercel/src/lib/file-utils.ts
  extensions/v0-by-vercel/src/lib/profile-utils.ts
  extensions/v0-by-vercel/src/lib/v0-api-utils.ts
  extensions/v0-by-vercel/src/manage-profiles.tsx
  extensions/v0-by-vercel/src/new-chat.tsx
  extensions/v0-by-vercel/src/types.ts
  extensions/v0-by-vercel/src/view-billing.tsx
  extensions/v0-by-vercel/src/view-chats.tsx
  extensions/v0-by-vercel/src/view-projects-chats.tsx
  extensions/v0-by-vercel/src/view-projects.tsx
  extensions/v0-by-vercel/tsconfig.json
Labels: new extension

#20889 Update scira extension
  extensions/scira/CHANGELOG.md
  extensions/scira/assets/icon.png
  extensions/scira/package-lock.json
  extensions/scira/package.json
  extensions/scira/src/scira.tsx
  extensions/scira/src/search-scira.tsx
  extensions/scira/src/tools/search-scira.tsx
Labels: extension fix / improvement, OP is author, AI Extension, extension: scira

#20879 Update synonyms extension
  extensions/synonyms/CHANGELOG.md
  extensions/synonyms/eslint.config.js
  extensions/synonyms/package-lock.json
  extensions/synonyms/package.json
  extensions/synonyms/src/find-synonyms.tsx
Labels: extension fix / improvement, status: awaiting response from dev, extension: synonyms

#20647 feat(todoist): Add NLP task creation with natural language parsing
  extensions/todoist/CHANGELOG.md
  extensions/todoist/package-lock.json
  extensions/todoist/package.json
  extensions/todoist/src/create-task.tsx
  extensions/todoist/src/hooks/useNLPParser.ts
Labels: extension fix / improvement, extension: todoist, AI Extension

#20674 Add time-calculator extension
  extensions/time-calculator/.eslintrc.json
  extensions/time-calculator/.gitignore
  extensions/time-calculator/.prettierrc
  extensions/time-calculator/CHANGELOG.md
  extensions/time-calculator/LICENSE
  extensions/time-calculator/PROJECT_PLAN.md
  extensions/time-calculator/README.md
  extensions/time-calculator/assets/README.md
  extensions/time-calculator/assets/icon.png
  extensions/time-calculator/assets/icon@dark.png
  extensions/time-calculator/create-icon.html
  extensions/time-calculator/icon.png
  extensions/time-calculator/icon@dark.png
  extensions/time-calculator/metadata/time-calculator-1.png
  extensions/time-calculator/package-lock.json
  extensions/time-calculator/package.json
  extensions/time-calculator/src/calculate-time.tsx
  extensions/time-calculator/tsconfig.json
Labels: new extension

#20680 Add jitsi extension
  extensions/jitsi/.gitignore
  extensions/jitsi/.prettierrc
  extensions/jitsi/CHANGELOG.md
  extensions/jitsi/README.md
  extensions/jitsi/assets/extension-icon.png
  extensions/jitsi/eslint.config.js
  extensions/jitsi/metadata/image.png
  extensions/jitsi/package-lock.json
  extensions/jitsi/package.json
  extensions/jitsi/src/create-jitsi-meet-link.ts
  extensions/jitsi/tsconfig.json
Labels: new extension

#20704 tabler: add download actions
  extensions/tabler/CHANGELOG.md
  extensions/tabler/metadata/tabler-1.png
  extensions/tabler/package-lock.json
  extensions/tabler/package.json
  extensions/tabler/src/index.tsx
Labels: extension fix / improvement, extension: tabler

#20712 Add chainscout extension
  extensions/chainscout/.gitignore
  extensions/chainscout/.prettierrc
  extensions/chainscout/CHANGELOG.md
  extensions/chainscout/README.md
  extensions/chainscout/assets/logo-icon.png
  extensions/chainscout/eslint.config.js
  extensions/chainscout/metadata/chainscout-1.png
  extensions/chainscout/metadata/chainscout-2.png
  extensions/chainscout/metadata/chainscout-3.png
  extensions/chainscout/metadata/chainscout-4.png
  extensions/chainscout/package-lock.json
  extensions/chainscout/package.json
  extensions/chainscout/reset.d.ts
  extensions/chainscout/src/components/EcosystemDropdown.tsx
  extensions/chainscout/src/components/ItemDetails.tsx
  extensions/chainscout/src/search.tsx
  extensions/chainscout/src/types/api.ts
  extensions/chainscout/src/utils/filterChains.ts
  extensions/chainscout/src/utils/formatEcosystems.ts
  extensions/chainscout/src/utils/prettifyLink.ts
  extensions/chainscout/src/utils/sortChains.ts
  extensions/chainscout/src/utils/upperFirst.ts
  extensions/chainscout/tsconfig.json
Labels: new extension

#20944 [Brand.dev] trigger search via search text (QoL)
  extensions/brand-dev/CHANGELOG.md
  extensions/brand-dev/metadata/brand-dev-4.png
  extensions/brand-dev/package-lock.json
  extensions/brand-dev/package.json
  extensions/brand-dev/src/retrieve-brands.tsx
Labels: extension fix / improvement, OP is author, extension: brand-dev

#20938 Add support for password protected YubiKeys in yubikey-code
  extensions/yubikey-code/.gitignore
  extensions/yubikey-code/CHANGELOG.md
  extensions/yubikey-code/package-lock.json
  extensions/yubikey-code/package.json
  extensions/yubikey-code/src/accounts.tsx
  extensions/yubikey-code/src/auth.tsx
  extensions/yubikey-code/src/index.tsx
Labels: extension fix / improvement, OP is author, extension: yubikey-code

#20911 Update search-gule-sider extension
  extensions/search-gule-sider/.gitignore
  extensions/search-gule-sider/.prettierrc
  extensions/search-gule-sider/CHANGELOG.md
  extensions/search-gule-sider/README.md
  extensions/search-gule-sider/assets/extension-icon.png
  extensions/search-gule-sider/eslint.config.js
  extensions/search-gule-sider/metadata/gulesider.png
  extensions/search-gule-sider/package-lock.json
  extensions/search-gule-sider/package.json
  extensions/search-gule-sider/src/gulesider.ts
  extensions/search-gule-sider/tsconfig.json
Labels: new extension

#20956 Update dodo-payments extension
  extensions/dodo-payments/CHANGELOG.md
  extensions/dodo-payments/README.md
  extensions/dodo-payments/metadata/dodo-payments-1.png
  extensions/dodo-payments/metadata/dodo-payments-2.png
  extensions/dodo-payments/metadata/dodo-payments-3.png
  extensions/dodo-payments/metadata/dodo-payments-4.png
  extensions/dodo-payments/metadata/dodo-payments-5.png
  extensions/dodo-payments/metadata/dodo-payments-6.png
  extensions/dodo-payments/metadata/dodo-payments-7.png
  extensions/dodo-payments/package.json
Labels: extension fix / improvement, OP is author, extension: dodo-payments

#20947 feat(8ball): add preference to choose default action (copy/paste) and…
  extensions/8ball/.eslintrc.json
  extensions/8ball/CHANGELOG.md
  extensions/8ball/eslint.config.js
  extensions/8ball/package-lock.json
  extensions/8ball/package.json
  extensions/8ball/src/index.tsx
  extensions/8ball/tsconfig.json
Labels: extension fix / improvement, extension: 8ball

#21035 🐛 fix browser-extension for zen browser
  extensions/browser-bookmarks/CHANGELOG.md
  extensions/browser-bookmarks/src/hooks/useAvailableBrowsers.ts
Labels: extension fix / improvement, OP is contributor, extension: browser-bookmarks

#21034 Update duckduckgo-image-search extension
  extensions/duckduckgo-image-search/CHANGELOG.md
  extensions/duckduckgo-image-search/README.md
  extensions/duckduckgo-image-search/src/search-image.tsx
Labels: extension fix / improvement, OP is author, extension: duckduckgo-image-search

#20735 Update cyberchef extension with custom Instance URL
  extensions/cyberchef/CHANGELOG.md
  extensions/cyberchef/package.json
  extensions/cyberchef/src/utils/receipe-utils.tsx
Labels: extension fix / improvement, extension: cyberchef

#20750 Bitaxe initial commit
  extensions/bitaxe/.gitignore
  extensions/bitaxe/.prettierrc
  extensions/bitaxe/CHANGELOG.md
  extensions/bitaxe/README.md
  extensions/bitaxe/assets/extension-icon.png
  extensions/bitaxe/eslint.config.js
  extensions/bitaxe/media/configuration.png
  extensions/bitaxe/media/readme.png
  extensions/bitaxe/metadata/bitaxe-status-1.png
  extensions/bitaxe/package-lock.json
  extensions/bitaxe/package.json
  extensions/bitaxe/src/status.tsx
  extensions/bitaxe/tsconfig.json
Labels: new extension

#21039 Hot Fix: Granola authentication to support WorkOS tokens
  extensions/granola/CHANGELOG.md
  extensions/granola/README.md
  extensions/granola/src/components/NoteComponents.tsx
  extensions/granola/src/utils/getAccessToken.ts
  extensions/granola/src/utils/granolaApi.ts
  extensions/granola/src/utils/useGranolaData.ts
Labels: extension fix / improvement, OP is contributor, AI Extension, extension: granola

#21027 Update brreg extension
  extensions/brreg/CHANGELOG.md
  extensions/brreg/COMPONENT_STORIES.md
  extensions/brreg/DEVELOPER.md
  extensions/brreg/README.md
  extensions/brreg/REFACTORING_SUMMARY.md
  extensions/brreg/metadata/brreg-1.png
  extensions/brreg/metadata/brreg-2.png
  extensions/brreg/metadata/brreg-3.png
  extensions/brreg/metadata/brreg-4.png
  extensions/brreg/metadata/brreg-5.png
  extensions/brreg/metadata/brreg-6.png
  extensions/brreg/package-lock.json
  extensions/brreg/package.json
  extensions/brreg/src/brreg-api.ts
  extensions/brreg/src/brreg-search.tsx
  extensions/brreg/src/components/CompanyDetailsView.tsx
  extensions/brreg/src/components/EmojiActionMenu.tsx
  extensions/brreg/src/components/EmojiForm.tsx
  extensions/brreg/src/components/EntityActions.tsx
  extensions/brreg/src/components/ErrorBoundary.tsx
  extensions/brreg/src/components/FavoriteActions.tsx
  extensions/brreg/src/components/FavoritesList.tsx
  extensions/brreg/src/components/KeyboardShortcutsHelp.tsx
  extensions/brreg/src/components/SearchResultActions.tsx
  extensions/brreg/src/components/SearchResults.tsx
  extensions/brreg/src/components/SettingsView.tsx
  extensions/brreg/src/constants/index.ts
  extensions/brreg/src/hooks/useCompanyView.ts
  extensions/brreg/src/hooks/useEntityActions.ts
  extensions/brreg/src/hooks/useFavorites.ts
  extensions/brreg/src/hooks/useKeyboardShortcuts.ts
  extensions/brreg/src/hooks/useMemoizedActions.ts
  extensions/brreg/src/hooks/usePerformanceMonitor.ts
  extensions/brreg/src/hooks/useSearch.ts
  extensions/brreg/src/hooks/useSettings.ts
  extensions/brreg/src/types.ts
  extensions/brreg/src/utils/entity.ts
  extensions/brreg/src/utils/format.ts
  extensions/brreg/src/utils/toast.ts
Labels: extension fix / improvement, OP is author, extension: brreg

#20985 Add zsh-aliases extension
  extensions/zsh-aliases/.gitignore
  extensions/zsh-aliases/.prettierrc
  extensions/zsh-aliases/CHANGELOG.md
  extensions/zsh-aliases/README.md
  extensions/zsh-aliases/assets/extension-icon.png
  extensions/zsh-aliases/eslint.config.js
  extensions/zsh-aliases/metadata/zsh-aliases-1.png
  extensions/zsh-aliases/package-lock.json
  extensions/zsh-aliases/package.json
  extensions/zsh-aliases/src/manage-aliases.tsx
  extensions/zsh-aliases/src/tools/add-alias.ts
  extensions/zsh-aliases/src/tools/remove-alias.ts
  extensions/zsh-aliases/src/tools/search-aliases.ts
  extensions/zsh-aliases/src/tools/show-aliases.ts
  extensions/zsh-aliases/src/tools/update-alias.ts
  extensions/zsh-aliases/src/utils/alias-utils.ts
  extensions/zsh-aliases/tsconfig.json
Labels: new extension, AI Extension

#21059 Update ship24-client extension
  extensions/ship24-client/CHANGELOG.md
  extensions/ship24-client/src/my-packages.tsx
Labels: extension fix / improvement, OP is author, extension: ship24-client

#21078 Update todoist extension
  extensions/todoist/CHANGELOG.md
  extensions/todoist/src/create-task.tsx
Labels: extension fix / improvement, OP is contributor, extension: todoist, AI Extension

#21088 Update ray-clicker extension
  extensions/ray-clicker/CHANGELOG.md
  extensions/ray-clicker/src/GameView.tsx
  extensions/ray-clicker/src/PrestigeView.tsx
  extensions/ray-clicker/src/achievements.ts
  extensions/ray-clicker/src/constants.ts
  extensions/ray-clicker/src/index.tsx
  extensions/ray-clicker/src/menu-bar.tsx
  extensions/ray-clicker/src/types.ts
  extensions/ray-clicker/src/useGameState.ts
  extensions/ray-clicker/src/utils.ts
Labels: extension fix / improvement, OP is author, extension: ray-clicker

#20632 Add comet extension
  extensions/comet/.eslintrc.json
  extensions/comet/.gitignore
  extensions/comet/.prettierrc
  extensions/comet/CHANGELOG.md
  extensions/comet/README.md
  extensions/comet/assets/comet-icon.png
  extensions/comet/assets/comet-logo.svg
  extensions/comet/assets/sql-wasm.wasm
  extensions/comet/metadata/comet-1.png
  extensions/comet/metadata/comet-2.png
  extensions/comet/metadata/comet-3.png
  extensions/comet/metadata/comet-4.png
  extensions/comet/package-lock.json
  extensions/comet/package.json
  extensions/comet/src/actions/index.tsx
  extensions/comet/src/components/CometActions.tsx
  extensions/comet/src/components/CometListItems.tsx
  extensions/comet/src/components/CometProfileDropdown.tsx
  extensions/comet/src/components/error/NoBookmarksError.tsx
  extensions/comet/src/components/error/NotInstalledError.tsx
  extensions/comet/src/components/error/UnknownError.tsx
  extensions/comet/src/components/error/index.ts
  extensions/comet/src/components/index.ts
  extensions/comet/src/constants.ts
  extensions/comet/src/hooks/useBookmarkSearch.tsx
  extensions/comet/src/hooks/useCometInstallation.tsx
  extensions/comet/src/hooks/useHistorySearch.tsx
  extensions/comet/src/hooks/useTabSearch.tsx
  extensions/comet/src/interfaces/index.ts
  extensions/comet/src/new-incognito-window.tsx
  extensions/comet/src/new-tab.tsx
  extensions/comet/src/new-window.tsx
  extensions/comet/src/search-all.tsx
  extensions/comet/src/search-bookmarks.tsx
  extensions/comet/src/search-history.tsx
  extensions/comet/src/search-tab.tsx
  extensions/comet/src/tools/new-tab.ts
  extensions/comet/src/tools/new-window.ts
  extensions/comet/src/tools/search-bookmarks.ts
  extensions/comet/src/tools/search-history.ts
  extensions/comet/src/util/index.ts
  extensions/comet/tsconfig.json
Labels: new extension, AI Extension

#20958 Add openrouter-quick-actions extension
  extensions/openrouter-quick-actions/.gitignore
  extensions/openrouter-quick-actions/.prettierrc
  extensions/openrouter-quick-actions/CHANGELOG.md
  extensions/openrouter-quick-actions/LICENSE
  extensions/openrouter-quick-actions/README.md
  extensions/openrouter-quick-actions/assets/openrouter-quick-actions.png
  extensions/openrouter-quick-actions/eslint.config.js
  extensions/openrouter-quick-actions/metadata/openrouter-quick-actions-1.png
  extensions/openrouter-quick-actions/metadata/openrouter-quick-actions-2.png
  extensions/openrouter-quick-actions/package-lock.json
  extensions/openrouter-quick-actions/package.json
  extensions/openrouter-quick-actions/src/ResultView.tsx
  extensions/openrouter-quick-actions/src/api.ts
  extensions/openrouter-quick-actions/src/custom.tsx
  extensions/openrouter-quick-actions/src/execute.ts
  extensions/openrouter-quick-actions/src/hooks/useCumulativeCost.ts
  extensions/openrouter-quick-actions/src/hooks/useOpenRouterAPI.ts
  extensions/openrouter-quick-actions/src/proofread-no-ui.tsx
  extensions/openrouter-quick-actions/src/proofread.tsx
  extensions/openrouter-quick-actions/src/summarize.tsx
  extensions/openrouter-quick-actions/src/type.ts
  extensions/openrouter-quick-actions/src/utils.ts
  extensions/openrouter-quick-actions/tsconfig.json
Labels: new extension

#20578 Update raycast-surge extension
  extensions/surge/.eslintrc.json
  extensions/surge/CHANGELOG.md
  extensions/surge/eslint.config.cjs
  extensions/surge/package-lock.json
  extensions/surge/package.json
  extensions/surge/src/api.js
  extensions/surge/src/switch-mode.tsx
  extensions/surge/src/switch-proxy.tsx
  extensions/surge/src/toggle-proxy.ts
  extensions/surge/tsconfig.json
Labels: extension fix / improvement, extension: surge

#20986 [Spotify] Fix reading values from undefined
  extensions/spotify-player/.eslintignore
  extensions/spotify-player/.eslintrc.json
  extensions/spotify-player/.tool-versions
  extensions/spotify-player/CHANGELOG.md
  extensions/spotify-player/eslint.config.mjs
  extensions/spotify-player/package-lock.json
  extensions/spotify-player/package.json
  extensions/spotify-player/src/api/geniusLyrics.ts
  extensions/spotify-player/src/back15.ts
  extensions/spotify-player/src/components/AlbumActionPanel.tsx
  extensions/spotify-player/src/components/EpisodesSection.tsx
  extensions/spotify-player/src/cycleRepeat.ts
  extensions/spotify-player/src/dislike.ts
  extensions/spotify-player/src/findLyrics.tsx
  extensions/spotify-player/src/helpers/spotify.api.ts
  extensions/spotify-player/src/like.ts
  extensions/spotify-player/src/nowPlaying.tsx
  extensions/spotify-player/src/previous.ts
  extensions/spotify-player/src/removeSongFromPlaylist.ts
  extensions/spotify-player/src/replay.ts
  extensions/spotify-player/src/skip15.ts
  extensions/spotify-player/src/toggleShuffle.ts
  extensions/spotify-player/src/volume.ts
  extensions/spotify-player/src/volume0.ts
  extensions/spotify-player/src/volume100.ts
  extensions/spotify-player/src/volume25.ts
  extensions/spotify-player/src/volume50.ts
  extensions/spotify-player/src/volume75.ts
  extensions/spotify-player/src/volumeDown.ts
  extensions/spotify-player/src/volumeUp.ts
Labels: extension fix / improvement, OP is contributor, extension: spotify-player, AI Extension

#21043 feat: support specifying issue type when creating an issue
  extensions/github/CHANGELOG.md
  extensions/github/src/api/issue.graphql
  extensions/github/src/api/repository.graphql
  extensions/github/src/create-issue.tsx
  extensions/github/src/generated/graphql.ts
Labels: extension fix / improvement, OP is contributor, extension: github, AI Extension

#21089 Update search index used in Statamic Docs extension
  extensions/statamic-docs/CHANGELOG.md
  extensions/statamic-docs/src/statamic.tsx
Labels: extension fix / improvement, extension: statamic-docs

#21050 Update commit-issue-parser extension
  extensions/commit-issue-parser/CHANGELOG.md
  extensions/commit-issue-parser/package.json
  extensions/commit-issue-parser/src/constant/bodyFormat.ts
  extensions/commit-issue-parser/src/constant/commitFormat.ts
  extensions/commit-issue-parser/src/hooks/commitMessages.tsx
  extensions/commit-issue-parser/src/hooks/urlParser.tsx
Labels: extension fix / improvement, OP is author, extension: commit-issue-parser

#20851 Add typora-note-creator extension
  extensions/typora-note-creator/.gitignore
  extensions/typora-note-creator/.prettierrc
  extensions/typora-note-creator/CHANGELOG.md
  extensions/typora-note-creator/LICENSE
  extensions/typora-note-creator/README.md
  extensions/typora-note-creator/assets/extension_icon.png
  extensions/typora-note-creator/docs/screenshot-template-dirctory.png
  extensions/typora-note-creator/eslint.config.js
  extensions/typora-note-creator/metadata/typora-create-note-1.png
  extensions/typora-note-creator/metadata/typora-create-note-2.png
  extensions/typora-note-creator/package-lock.json
  extensions/typora-note-creator/package.json
  extensions/typora-note-creator/src/create-note.tsx
  extensions/typora-note-creator/tsconfig.json
Labels: new extension

#20964 Add get-cat-images extension
  extensions/get-cat-images/.gitignore
  extensions/get-cat-images/.prettierrc
  extensions/get-cat-images/CHANGELOG.md
  extensions/get-cat-images/README.md
  extensions/get-cat-images/assets/extension-icon.png
  extensions/get-cat-images/eslint.config.mjs
  extensions/get-cat-images/metadata/image.png
  extensions/get-cat-images/metadata/image2.png
  extensions/get-cat-images/package-lock.json
  extensions/get-cat-images/package.json
  extensions/get-cat-images/src/get-cat-images.tsx
  extensions/get-cat-images/src/lib/breeds.ts
  extensions/get-cat-images/src/lib/useFavorites.ts
  extensions/get-cat-images/src/search-favorites.tsx
  extensions/get-cat-images/tsconfig.json
Labels: new extension

#20781 Add Looma.fm extension with all reviewer feedback addressed
  extensions/looma-fm/.gitignore
  extensions/looma-fm/CHANGELOG.md
  extensions/looma-fm/README.md
  extensions/looma-fm/assets/icon.png
  extensions/looma-fm/eslint.config.js
  extensions/looma-fm/package-lock.json
  extensions/looma-fm/package.json
  extensions/looma-fm/src/consts.ts
  extensions/looma-fm/src/interfaces.ts
  extensions/looma-fm/src/reshuffle-music.tsx
  extensions/looma-fm/src/shared-state.ts
  extensions/looma-fm/src/short-meditation.tsx
  extensions/looma-fm/src/shuffle-music-simple.tsx
  extensions/looma-fm/src/stop-music.tsx
  extensions/looma-fm/tsconfig.json
Labels: new extension

#21102 Fix a minor typo in video-downloader Installer view
  extensions/video-downloader/CHANGELOG.md
  extensions/video-downloader/src/views/installer.tsx
Labels: extension fix / improvement, OP is contributor, AI Extension, extension: video-downloader

#21143 Update `changedetection.io` extension - Create + Delete + modernize + add EmptyView
  extensions/changedetection-io/.eslintrc.json
  extensions/changedetection-io/CHANGELOG.md
  extensions/changedetection-io/eslint.config.js
  extensions/changedetection-io/package-lock.json
  extensions/changedetection-io/package.json
  extensions/changedetection-io/src/list-watches.tsx
  extensions/changedetection-io/tsconfig.json
Labels: extension fix / improvement, OP is author, extension: changedetection-io

#21141 Update todoist extension
  extensions/todoist/CHANGELOG.md
  extensions/todoist/src/create-task.tsx
Labels: extension fix / improvement, OP is contributor, extension: todoist, AI Extension

#21142 Update 1password extension
  extensions/1password/CHANGELOG.md
  extensions/1password/package.json
  extensions/1password/src/v8/components/VaultActionPanel.tsx
Labels: extension fix / improvement, extension: 1password

#21128 [Multilinks] Add Dia browser support
  extensions/multilinks/CHANGELOG.md
  extensions/multilinks/src/Components/CreateForm.tsx
Labels: extension fix / improvement, OP is author, extension: multilinks

#21139 Update `logitech-litra` extension to support devices without a serial…
  extensions/logitech-litra/CHANGELOG.md
  extensions/logitech-litra/README.md
  extensions/logitech-litra/eslint.config.mjs
  extensions/logitech-litra/package-lock.json
  extensions/logitech-litra/package.json
  extensions/logitech-litra/src/manage-devices.tsx
  extensions/logitech-litra/src/types.ts
  extensions/logitech-litra/src/utils.ts
Labels: extension fix / improvement, OP is author, extension: logitech-litra

#21092 ext/media-converter: hotfix: simple quality settings
  extensions/media-converter/CHANGELOG.md
  extensions/media-converter/src/components/ConverterForm.tsx
  extensions/media-converter/src/tools/convert-media.ts
  extensions/media-converter/src/types/media.ts
Labels: extension fix / improvement, OP is contributor, extension: media-converter, AI Extension

#21016 Update aws extension
  extensions/amazon-aws/.gitignore
  extensions/amazon-aws/CHANGELOG.md
  extensions/amazon-aws/eslint.config.js
  extensions/amazon-aws/package-lock.json
  extensions/amazon-aws/package.json
  extensions/amazon-aws/src/amplify.tsx
  extensions/amazon-aws/src/apigateway.tsx
  extensions/amazon-aws/src/appsync.tsx
  extensions/amazon-aws/src/components/apigateway/ApiGatewayApiKeys.tsx
  extensions/amazon-aws/src/components/apigateway/ApiGatewayDeployments.tsx
  extensions/amazon-aws/src/components/apigateway/ApiGatewayMethodDetail.tsx
  extensions/amazon-aws/src/components/apigateway/ApiGatewayResources.tsx
  extensions/amazon-aws/src/components/apigateway/ApiGatewayStages.tsx
  extensions/amazon-aws/src/components/apigateway/ApiGatewayUsagePlans.tsx
  extensions/amazon-aws/src/components/apigateway/HttpApiRoutes.tsx
  extensions/amazon-aws/src/components/apigateway/HttpApiStages.tsx
  extensions/amazon-aws/src/components/appsync/AppSyncApiDetail.tsx
  extensions/amazon-aws/src/components/appsync/AppSyncApiKeys.tsx
  extensions/amazon-aws/src/components/appsync/AppSyncDataSources.tsx
  extensions/amazon-aws/src/components/appsync/AppSyncResolvers.tsx
  extensions/amazon-aws/src/components/appsync/AppSyncSchema.tsx
  extensions/amazon-aws/src/components/cloudwatch/CloudwatchLogs.tsx
  extensions/amazon-aws/src/components/dynamodb/delete-item-form.tsx
  extensions/amazon-aws/src/components/dynamodb/query-form.tsx
  extensions/amazon-aws/src/components/dynamodb/update-item-form.tsx
  extensions/amazon-aws/src/components/ecr/ECRImage.tsx
  extensions/amazon-aws/src/components/ecs/ECSClusterServices.tsx
  extensions/amazon-aws/src/components/searchbar/aws-profile-dropdown.tsx
  extensions/amazon-aws/src/components/sqs/send-message-form.tsx
  extensions/amazon-aws/src/hooks/use-amplify.ts
  extensions/amazon-aws/src/hooks/use-apigateway.ts
  extensions/amazon-aws/src/hooks/use-appsync.ts
  extensions/amazon-aws/src/s3.tsx
  extensions/amazon-aws/src/tools/create-amplify-webhook.ts
  extensions/amazon-aws/src/tools/delete-amplify-webhook.ts
  extensions/amazon-aws/src/tools/get-amplify-app-details.ts
  extensions/amazon-aws/src/tools/get-amplify-webhook.ts
  extensions/amazon-aws/src/tools/list-amplify-branches.ts
  extensions/amazon-aws/src/tools/list-amplify-jobs.ts
  extensions/amazon-aws/src/tools/list-amplify-project.ts
  extensions/amazon-aws/src/tools/list-amplify-webhooks.ts
  extensions/amazon-aws/src/tools/start-amplify-build.ts
  extensions/amazon-aws/src/tools/stop-amplify-build.ts
  extensions/amazon-aws/src/util/index.ts
Labels: extension fix / improvement, OP is contributor, extension: amazon-aws, AI Extension

#21046 Update brreg extension
  extensions/brreg/CHANGELOG.md
  extensions/brreg/README.md
  extensions/brreg/src/brreg-search.tsx
  extensions/brreg/src/components/CompanyDetailsView.tsx
  extensions/brreg/src/components/EntityActions.tsx
  extensions/brreg/src/components/FavoritesList.tsx
  extensions/brreg/src/components/KeyboardShortcutsHelp.tsx
  extensions/brreg/src/components/SearchResults.tsx
  extensions/brreg/src/components/SettingsView.tsx
  extensions/brreg/src/components/WelcomeView.tsx
  extensions/brreg/src/constants/index.ts
  extensions/brreg/src/hooks/useEntityActions.ts
  extensions/brreg/src/hooks/useKeyboardShortcuts.ts
Labels: extension fix / improvement, OP is author, extension: brreg

#21058 Add odoo-companion extension
  extensions/odoo-companion/.gitignore
  extensions/odoo-companion/.prettierrc
  extensions/odoo-companion/CHANGELOG.md
  extensions/odoo-companion/README.md
  extensions/odoo-companion/assets/odoo-icon.png
  extensions/odoo-companion/eslint.config.js
  extensions/odoo-companion/metadata/odoo-companion-1.png
  extensions/odoo-companion/metadata/odoo-companion-2.png
  extensions/odoo-companion/metadata/odoo-companion-3.png
  extensions/odoo-companion/package-lock.json
  extensions/odoo-companion/package.json
  extensions/odoo-companion/src/search-helpdesk.tsx
  extensions/odoo-companion/src/search-projects.tsx
  extensions/odoo-companion/src/services/odoo.ts
  extensions/odoo-companion/src/types.ts
  extensions/odoo-companion/tsconfig.json
Labels: new extension

#21057 Fix Jira extension: Deprecated Atlassian API methods
  extensions/jira/CHANGELOG.md
  extensions/jira/package.json
  extensions/jira/src/api/issues.ts
Labels: extension fix / improvement, extension: jira, AI Extension

#20721 Add chatgpt-search extension
  extensions/chatgpt-search/.gitignore
  extensions/chatgpt-search/.prettierrc
  extensions/chatgpt-search/CHANGELOG.md
  extensions/chatgpt-search/README.md
  extensions/chatgpt-search/assets/chatgpt-logo.png
  extensions/chatgpt-search/assets/chatgpt-search-1.png
  extensions/chatgpt-search/eslint.config.js
  extensions/chatgpt-search/metadata/chatgpt-search-1.png
  extensions/chatgpt-search/package-lock.json
  extensions/chatgpt-search/package.json
  extensions/chatgpt-search/src/chatgpt-search.tsx
  extensions/chatgpt-search/src/executeSearchToOpen.ts
  extensions/chatgpt-search/src/useChatGptSearchForm.ts
  extensions/chatgpt-search/tsconfig.json
Labels: new extension

#20788 feat(endel): add Endel extension
  extensions/endel/.gitignore
  extensions/endel/.prettierrc
  extensions/endel/CHANGELOG.md
  extensions/endel/README.md
  extensions/endel/assets/extension-icon.png
  extensions/endel/eslint.config.js
  extensions/endel/metadata/screenshot-01.png
  extensions/endel/package-lock.json
  extensions/endel/package.json
  extensions/endel/src/colored-noises.ts
  extensions/endel/src/dynamic-focus.ts
  extensions/endel/src/focus.ts
  extensions/endel/src/hibernation.ts
  extensions/endel/src/nature-elements.ts
  extensions/endel/src/recovery.ts
  extensions/endel/src/relax.ts
  extensions/endel/src/sleep.ts
  extensions/endel/src/study.ts
  extensions/endel/src/utils.ts
  extensions/endel/tsconfig.json
Labels: new extension

#21140 Update google-chrome extension: Add reload/refresh tab action
  extensions/google-chrome/CHANGELOG.md
  extensions/google-chrome/package.json
  extensions/google-chrome/src/actions/index.tsx
  extensions/google-chrome/src/components/ChromeActions.tsx
Labels: extension fix / improvement, extension: google-chrome, AI Extension

#21021 Add obsidian-link-opener extension
  extensions/obsidian-link-opener/.eslintrc.json
  extensions/obsidian-link-opener/.gitignore
  extensions/obsidian-link-opener/CHANGELOG.md
  extensions/obsidian-link-opener/DEVELOPMENT.md
  extensions/obsidian-link-opener/README.md
  extensions/obsidian-link-opener/ROADMAP.md
  extensions/obsidian-link-opener/assets/command-icon.png
  extensions/obsidian-link-opener/docs/architecture.md
  extensions/obsidian-link-opener/docs/shortcuts.jpg
  extensions/obsidian-link-opener/docs/supported-properties.md
  extensions/obsidian-link-opener/metadata/obsidian-link-opener-1.png
  extensions/obsidian-link-opener/metadata/obsidian-link-opener-2.png
  extensions/obsidian-link-opener/package-lock.json
  extensions/obsidian-link-opener/package.json
  extensions/obsidian-link-opener/src/commands/open-link.tsx
  extensions/obsidian-link-opener/src/commands/refresh-index.tsx
  extensions/obsidian-link-opener/src/index.tsx
  extensions/obsidian-link-opener/src/select-vault.tsx
  extensions/obsidian-link-opener/src/services/fileScanner.ts
  extensions/obsidian-link-opener/src/services/noteGrouper.ts
  extensions/obsidian-link-opener/src/services/parser.ts
  extensions/obsidian-link-opener/src/services/scanner.ts
  extensions/obsidian-link-opener/src/services/usageTracker.ts
  extensions/obsidian-link-opener/src/services/vaultDetector.ts
  extensions/obsidian-link-opener/src/types/index.ts
  extensions/obsidian-link-opener/src/types/types.ts
  extensions/obsidian-link-opener/src/utils/preferences.ts
  extensions/obsidian-link-opener/src/utils/propertyIcons.ts
  extensions/obsidian-link-opener/test/commands/refresh-index.test.tsx
  extensions/obsidian-link-opener/test/mocks/raycast-api.ts
  extensions/obsidian-link-opener/test/mocks/usePreferences.ts
  extensions/obsidian-link-opener/test/preferences.test.ts
  extensions/obsidian-link-opener/test/setup.ts
  extensions/obsidian-link-opener/test/unit/structure.test.ts
  extensions/obsidian-link-opener/test/utils/preferences.test.ts
  extensions/obsidian-link-opener/tsconfig.json
  extensions/obsidian-link-opener/vitest.config.ts
Labels: new extension

#20663 Update ente-auth extension
  extensions/ente-auth/.gitignore
  extensions/ente-auth/.nvmrc
  extensions/ente-auth/.prettierignore
  extensions/ente-auth/.prettierrc
  extensions/ente-auth/CHANGELOG.md
  extensions/ente-auth/eslint.config.js
  extensions/ente-auth/eslint.config.mjs
  extensions/ente-auth/jest.config.ts
  extensions/ente-auth/package-lock.json
  extensions/ente-auth/package.json
  extensions/ente-auth/src/components/showError.tsx
  extensions/ente-auth/src/constants/ente.ts
  extensions/ente-auth/src/constants/transformer.ts
  extensions/ente-auth/src/delete.tsx
  extensions/ente-auth/src/export.tsx
  extensions/ente-auth/src/helpers/ente.ts
  extensions/ente-auth/src/helpers/index.ts
  extensions/ente-auth/src/helpers/secrets.ts
  extensions/ente-auth/src/helpers/types.ts
  extensions/ente-auth/src/import.tsx
  extensions/ente-auth/src/index.tsx
  extensions/ente-auth/tests/__mocks__/db.json
  extensions/ente-auth/tests/secrets.test.ts
Labels: extension fix / improvement, OP is author, extension: ente-auth, Windows

#20740 ray-so: Add Windows support
  extensions/ray-so/.eslintrc.json
  extensions/ray-so/CHANGELOG.md
  extensions/ray-so/eslint.config.js
  extensions/ray-so/package-lock.json
  extensions/ray-so/package.json
  extensions/ray-so/src/create-a-snippet.tsx
  extensions/ray-so/src/generate-image.tsx
  extensions/ray-so/src/utils.ts
Labels: extension fix / improvement, extension: ray-so, Windows

#21108 Add monkeytype extension
  extensions/monkeytype/CHANGELOG.md
  extensions/monkeytype/README.md
  extensions/monkeytype/assets/icon.png
  extensions/monkeytype/eslint.config.js
  extensions/monkeytype/metadata/monkeytype-1.png
  extensions/monkeytype/package-lock.json
  extensions/monkeytype/package.json
  extensions/monkeytype/src/index.tsx
  extensions/monkeytype/tsconfig.json
Labels: new extension

#21151 Update brreg extension
  extensions/brreg/CHANGELOG.md
  extensions/brreg/README.md
  extensions/brreg/src/components/CompanyDetailsView.tsx
  extensions/brreg/src/components/EmojiForm.tsx
  extensions/brreg/src/components/EntityActions.tsx
  extensions/brreg/src/components/FavoriteActions.tsx
  extensions/brreg/src/components/KeyboardShortcutsHelp.tsx
  extensions/brreg/src/components/SearchResultActions.tsx
  extensions/brreg/src/constants/index.ts
Labels: extension fix / improvement, OP is author, extension: brreg

#21134 Update copy-path extension
  extensions/copy-path/CHANGELOG.md
  extensions/copy-path/package.json
  extensions/copy-path/src/copy-path.tsx
  extensions/copy-path/src/utils/applescript-utils.ts
  extensions/copy-path/src/utils/common-utils.ts
Labels: extension fix / improvement, extension: copy-path

#21167 Bugfix/issue-18862 MLB Schedule Fix, addition of Standings and Search Players command
  extensions/mlb-scores/CHANGELOG.md
  extensions/mlb-scores/README.md
  extensions/mlb-scores/metadata/ss5.png
  extensions/mlb-scores/metadata/ss6.png
  extensions/mlb-scores/metadata/ss7.png
  extensions/mlb-scores/package.json
  extensions/mlb-scores/src/components/playerDetail.tsx
  extensions/mlb-scores/src/docs/docs.json
  extensions/mlb-scores/src/interfaces/playerDetails.ts
  extensions/mlb-scores/src/interfaces/playerSearch.ts
  extensions/mlb-scores/src/lib/utils.ts
  extensions/mlb-scores/src/searchPlayers.tsx
  extensions/mlb-scores/src/standings.tsx
Labels: extension fix / improvement, OP is contributor, extension: mlb-scores

#21156 [Steam] Routine maintenance
  extensions/steam/.eslintrc.json
  extensions/steam/CHANGELOG.md
  extensions/steam/eslint.config.mjs
  extensions/steam/package-lock.json
  extensions/steam/package.json
  extensions/steam/src/components/Actions.tsx
  extensions/steam/src/components/MyGames.tsx
  extensions/steam/src/components/RecentlyPlayedGames.tsx
  extensions/steam/src/lib/fetcher.ts
  extensions/steam/src/lib/util.ts
  extensions/steam/src/steam.tsx
  extensions/steam/tsconfig.json
Labels: extension fix / improvement, OP is contributor, extension: steam

#21082 Add luxafor-controller extension
  extensions/luxafor-controller/.gitignore
  extensions/luxafor-controller/.prettierrc
  extensions/luxafor-controller/CHANGELOG.md
  extensions/luxafor-controller/LICENSE
  extensions/luxafor-controller/README.md
  extensions/luxafor-controller/SETUP.md
  extensions/luxafor-controller/assets/logo.png
  extensions/luxafor-controller/eslint.config.js
  extensions/luxafor-controller/media/logo.png
  extensions/luxafor-controller/media/luxafor-controller-1.png
  extensions/luxafor-controller/media/luxafor-controller-2.png
  extensions/luxafor-controller/metadata/luxafor-controller-1.png
  extensions/luxafor-controller/metadata/luxafor-controller-2.png
  extensions/luxafor-controller/metadata/luxafor-controller-3.png
  extensions/luxafor-controller/metadata/luxafor-controller-4.png
  extensions/luxafor-controller/package-lock.json
  extensions/luxafor-controller/package.json
  extensions/luxafor-controller/src/control-luxafor.tsx
  extensions/luxafor-controller/src/luxafor-service.ts
  extensions/luxafor-controller/src/luxafor-state.ts
  extensions/luxafor-controller/src/luxafor-status.tsx
  extensions/luxafor-controller/test-api.js
  extensions/luxafor-controller/tsconfig.json
Labels: new extension

#21175 Add leap-new extension
  extensions/leap-new/.prettierrc.json
  extensions/leap-new/CHANGELOG.md
  extensions/leap-new/README.md
  extensions/leap-new/assets/logo.png
  extensions/leap-new/assets/logo_menubar_dark.png
  extensions/leap-new/assets/logo_menubar_light.png
  extensions/leap-new/eslint.config.js
  extensions/leap-new/metadata/leap-new-1.png
  extensions/leap-new/package-lock.json
  extensions/leap-new/package.json
  extensions/leap-new/src/generate-app.tsx
  extensions/leap-new/src/menu-bar.tsx
  extensions/leap-new/tsconfig.json
Labels: new extension

#21146 feat: Rube MCP Server added to the registry
  extensions/model-context-protocol-registry/CHANGELOG.md
  extensions/model-context-protocol-registry/README.md
  extensions/model-context-protocol-registry/src/registries/builtin/entries.ts
Labels: extension fix / improvement, status: awaiting response from dev, extension: model-context-protocol-registry

#21187 [Forked Extensions] Fix `Sync Fork` and check Git executable file
  extensions/forked-extensions/CHANGELOG.md
  extensions/forked-extensions/README.md
  extensions/forked-extensions/package.json
  extensions/forked-extensions/src/api.ts
  extensions/forked-extensions/src/constants.ts
  extensions/forked-extensions/src/git.ts
  extensions/forked-extensions/src/manage-forked-extensions.tsx
  extensions/forked-extensions/src/operation.ts
  extensions/forked-extensions/src/utils.ts
Labels: new extension

#18919 Update roblox extension
  extensions/roblox/CHANGELOG.md
  extensions/roblox/package.json
Labels: extension fix / improvement, status: blocked by API, OP is author, extension: roblox, Windows

#20700 apple-maps-search - Windows support
  extensions/apple-maps-search/.eslintrc.json
  extensions/apple-maps-search/CHANGELOG.md
  extensions/apple-maps-search/eslint.config.js
  extensions/apple-maps-search/package-lock.json
  extensions/apple-maps-search/package.json
  extensions/apple-maps-search/src/directionsHome.ts
  extensions/apple-maps-search/src/directionsTo.tsx
  extensions/apple-maps-search/src/searchMaps.ts
  extensions/apple-maps-search/src/utils.ts
  extensions/apple-maps-search/tsconfig.json
Labels: extension fix / improvement, extension: apple-maps-search, Windows

#21203 Update freeagent extension
  extensions/freeagent/CHANGELOG.md
  extensions/freeagent/package-lock.json
  extensions/freeagent/src/create-new-invoice.tsx
  extensions/freeagent/src/create-timeslip.tsx
  extensions/freeagent/src/utils/formatting.ts
Labels: extension fix / improvement, OP is author, extension: freeagent

#21204 [Forked Extensions] Polish `Sync Fork` & fix Git path for Windows
  extensions/forked-extensions/CHANGELOG.md
  extensions/forked-extensions/package.json
  extensions/forked-extensions/src/api.ts
  extensions/forked-extensions/src/components/sync-fork.tsx
  extensions/forked-extensions/src/errors.ts
  extensions/forked-extensions/src/git.ts
  extensions/forked-extensions/src/manage-forked-extensions.tsx
  extensions/forked-extensions/src/operation.ts
  extensions/forked-extensions/src/utils.ts
Labels: new extension

#21168 Update copy-path extension
  extensions/copy-path/CHANGELOG.md
  extensions/copy-path/src/utils/applescript-utils.ts
Labels: extension fix / improvement, OP is contributor, extension: copy-path

#21216 [Installed Extensions] Use Raycast buitl-in `Action.CopyToClipboard`
  extensions/installed-extensions/CHANGELOG.md
  extensions/installed-extensions/src/index.tsx
Labels: new extension

#21225 Add GitHub Copilot extension
  .github/public_raycast_extensions.txt
  extensions/github-copilot/.gitignore
  extensions/github-copilot/.prettierrc
  extensions/github-copilot/CHANGELOG.md
  extensions/github-copilot/LICENSE.md
  extensions/github-copilot/README.md
  extensions/github-copilot/assets/copilot.svg
  extensions/github-copilot/assets/github-logo.png
  extensions/github-copilot/assets/icon.png
  extensions/github-copilot/assets/icon@dark.png
  extensions/github-copilot/eslint.config.js
  extensions/github-copilot/media/github-copilot.png
  extensions/github-copilot/metadata/github-copilot-1.png
  extensions/github-copilot/metadata/github-copilot-2.png
  extensions/github-copilot/package-lock.json
  extensions/github-copilot/package.json
  extensions/github-copilot/src/components/BranchDropdown.tsx
  extensions/github-copilot/src/components/PullRequestWithAgentSessionsItem.tsx
  extensions/github-copilot/src/components/RepositoryDropdown.tsx
  extensions/github-copilot/src/components/index.tsx
  extensions/github-copilot/src/config/repository-scoring.ts
  extensions/github-copilot/src/create-task.tsx
  extensions/github-copilot/src/hooks/useBranches.ts
  extensions/github-copilot/src/hooks/usePullRequestsWithAgentSessions.ts
  extensions/github-copilot/src/hooks/useRepositorySearch.ts
  extensions/github-copilot/src/hooks/useViewer.ts
  extensions/github-copilot/src/lib/github-client.ts
  extensions/github-copilot/src/lib/oauth.ts
  extensions/github-copilot/src/services/branches.ts
  extensions/github-copilot/src/services/copilot.ts
  extensions/github-copilot/src/services/repositories.ts
  extensions/github-copilot/src/utils.tsx
  extensions/github-copilot/src/view-tasks.tsx
  extensions/github-copilot/tsconfig.json
Labels: new extension

#21240 kill-process: Add support for Windows
  extensions/kill-process/CHANGELOG.md
  extensions/kill-process/package.json
  extensions/kill-process/src/index.tsx
  extensions/kill-process/src/tools/kill-process.ts
  extensions/kill-process/src/utils/platform.ts
  extensions/kill-process/src/utils/process.ts
Labels: extension fix / improvement, extension: kill-process, AI Extension
