Repository raycast/extensions, pull requests merged in 2025-01, with the labels that each got.

#15940 Add omnifocus extension
  extensions/omnifocus/.eslintrc.json
  extensions/omnifocus/.gitignore
  extensions/omnifocus/.prettierrc
  extensions/omnifocus/CHANGELOG.md
  extensions/omnifocus/README.md
  extensions/omnifocus/assets/extension-icon.png
  extensions/omnifocus/metadata/omnifocus-1.png
  extensions/omnifocus/metadata/omnifocus-2.png
  extensions/omnifocus/metadata/omnifocus-3.png
  extensions/omnifocus/metadata/omnifocus-4.png
  extensions/omnifocus/package-lock.json
  extensions/omnifocus/package.json
  extensions/omnifocus/src/add-task.tsx
  extensions/omnifocus/src/lib/api/add-task.ts
  extensions/omnifocus/src/lib/api/complete.task.ts
  extensions/omnifocus/src/lib/api/delete-task.ts
  extensions/omnifocus/src/lib/api/list-projects.ts
  extensions/omnifocus/src/lib/api/list-tags.ts
  extensions/omnifocus/src/lib/api/list-tasks.ts
  extensions/omnifocus/src/lib/types/project.ts
  extensions/omnifocus/src/lib/types/task.ts
  extensions/omnifocus/src/lib/utils/ensure-installed.ts
  extensions/omnifocus/src/lib/utils/executeScript.ts
  extensions/omnifocus/src/list-inbox.tsx
  extensions/omnifocus/src/quick-add-to-inbox.ts
  extensions/omnifocus/tsconfig.json
Labels: new extension

#15935 Update nanoid extension
  extensions/nanoid/.eslintrc.json
  extensions/nanoid/CHANGELOG.md
  extensions/nanoid/package-lock.json
  extensions/nanoid/package.json
  extensions/nanoid/src/nanoid.tsx
  extensions/nanoid/tsconfig.json
Labels: extension fix / improvement, extension: nanoid

#16016 Update year-in-progress extension
  extensions/year-in-progress/CHANGELOG.md
  extensions/year-in-progress/package.json
  extensions/year-in-progress/pnpm-lock.yaml
  extensions/year-in-progress/src/utils/progress.ts
  extensions/year-in-progress/src/x-in-progress.tsx
Labels: extension fix / improvement, extension: year-in-progress

#16020 [Update Extension] System Monitor - Fix battery level
  extensions/system-monitor/CHANGELOG.md
  extensions/system-monitor/package-lock.json
  extensions/system-monitor/src/Power/PowerUtils.ts
Labels: extension fix / improvement, OP is contributor, extension: system-monitor

#16026 [Google Translate] Fix typo for Traditional Chinese
  extensions/google-translate/CHANGELOG.md
  extensions/google-translate/package.json
Labels: extension fix / improvement, extension: google-translate

#15634 [Tailscale] Add `netcheck` command
  extensions/tailscale/CHANGELOG.md
  extensions/tailscale/package.json
  extensions/tailscale/src/netcheck.tsx
  extensions/tailscale/src/shared.tsx
Labels: extension fix / improvement, extension: tailscale

#15770 Add mongodb-objectid extension
  extensions/mongodb-objectid/.eslintrc.json
  extensions/mongodb-objectid/.gitignore
  extensions/mongodb-objectid/.prettierrc
  extensions/mongodb-objectid/CHANGELOG.md
  extensions/mongodb-objectid/README.md
  extensions/mongodb-objectid/assets/extension-icon.png
  extensions/mongodb-objectid/assets/mongodb-objectid-1.png
  extensions/mongodb-objectid/package-lock.json
  extensions/mongodb-objectid/package.json
  extensions/mongodb-objectid/src/convert-objectid-to-timestamp.tsx
  extensions/mongodb-objectid/src/convert-timestamp-to-objectid.tsx
  extensions/mongodb-objectid/tsconfig.json
Labels: new extension

#16057 [Raindrop.io] Close raycast after saving browser tab
  extensions/raindrop-io/CHANGELOG.md
  extensions/raindrop-io/src/save_browser_tab.tsx
Labels: extension fix / improvement, OP is author, OP is contributor, extension: raindrop-io

#16066 [Visual Studio Code]: fix makeNewWindow
  extensions/visual-studio-code-recent-projects/CHANGELOG.md
  extensions/visual-studio-code-recent-projects/package.json
  extensions/visual-studio-code-recent-projects/src/open-new-window.ts
Labels: extension fix / improvement, extension: visual-studio-code-recent-projects

#15949 Update raycast-gemini extension
  extensions/raycast-gemini/CHANGELOG.md
  extensions/raycast-gemini/package.json
  extensions/raycast-gemini/src/aiChat.jsx
  extensions/raycast-gemini/src/api/gemini.jsx
  extensions/raycast-gemini/src/askAI.jsx
  extensions/raycast-gemini/src/askAboutScreen.jsx
  extensions/raycast-gemini/src/askAboutSelectedText.jsx
  extensions/raycast-gemini/src/comment.jsx
  extensions/raycast-gemini/src/explain.jsx
  extensions/raycast-gemini/src/friendly.jsx
  extensions/raycast-gemini/src/grammar.jsx
  extensions/raycast-gemini/src/longer.jsx
  extensions/raycast-gemini/src/professional.jsx
  extensions/raycast-gemini/src/shorter.jsx
  extensions/raycast-gemini/src/summarize.jsx
  extensions/raycast-gemini/src/synonym.jsx
  extensions/raycast-gemini/src/translate.jsx
Labels: extension fix / improvement, extension: raycast-gemini

#16069 Update brew extension
  extensions/brew/CHANGELOG.md
  extensions/brew/package-lock.json
  extensions/brew/package.json
  extensions/brew/src/components/actionPanels.tsx
  extensions/brew/src/components/runInTerminal.ts
Labels: extension fix / improvement, extension: brew

#16094 Update wikipedia extension
  extensions/wikipedia/CHANGELOG.md
  extensions/wikipedia/package-lock.json
  extensions/wikipedia/package.json
  extensions/wikipedia/src/utils/language.ts
Labels: extension fix / improvement, extension: wikipedia

#16100 Update chatgpt extension: Fix o1 model issue
  extensions/chatgpt/CHANGELOG.md
  extensions/chatgpt/src/conversation.tsx
  extensions/chatgpt/src/hooks/useConversations.tsx
  extensions/chatgpt/src/model.tsx
  extensions/chatgpt/src/type.ts
  extensions/chatgpt/src/utils/import-export.ts
  extensions/chatgpt/src/utils/index.ts
  extensions/chatgpt/src/views/model/form.tsx
Labels: extension fix / improvement, OP is contributor, extension: chatgpt

#15651 Update hide-all-apps extension
  extensions/hide-all-apps/CHANGELOG.md
  extensions/hide-all-apps/package.json
  extensions/hide-all-apps/src/index.tsx
Labels: extension fix / improvement, status: stalled, extension: hide-all-apps

#16101 Update aegis extension
  extensions/aegis/CHANGELOG.md
  extensions/aegis/package-lock.json
  extensions/aegis/package.json
  extensions/aegis/src/component/otp/OtpList.tsx
Labels: extension fix / improvement, extension: aegis

#16107 Update raycast-ollama extension
  extensions/raycast-ollama/CHANGELOG.md
  extensions/raycast-ollama/package.json
  extensions/raycast-ollama/src/lib/ollama/ollama.ts
  extensions/raycast-ollama/src/lib/ollama/types.ts
  extensions/raycast-ollama/src/lib/ui/ChatView/main.tsx
  extensions/raycast-ollama/src/lib/ui/ModelView/function.ts
  extensions/raycast-ollama/src/lib/ui/ModelView/main.tsx
  extensions/raycast-ollama/src/lib/ui/ModelView/types.ts
  extensions/raycast-ollama/src/lib/ui/PsView/function.ts
  extensions/raycast-ollama/src/lib/ui/PsView/main.tsx
  extensions/raycast-ollama/src/lib/ui/PsView/types.ts
  extensions/raycast-ollama/src/lib/ui/function.ts
  extensions/raycast-ollama/src/ollama-ps.tsx
Labels: extension fix / improvement, OP is author, extension: raycast-ollama

#16081 Update ray-so extension - fix form submission in "Create image from code" command
  extensions/ray-so/CHANGELOG.md
  extensions/ray-so/src/create-a-snippet.tsx
Labels: extension fix / improvement, OP is contributor, extension: ray-so

#16025 fix(comodoro): Use `timer` sub-cmd
  extensions/comodoro/CHANGELOG.md
  extensions/comodoro/README.md
  extensions/comodoro/package-lock.json
  extensions/comodoro/package.json
  extensions/comodoro/src/binary.ts
  extensions/comodoro/src/exec.ts
  extensions/comodoro/src/get.tsx
  extensions/comodoro/src/start.tsx
  extensions/comodoro/src/stop.tsx
  extensions/comodoro/tsconfig.json
Labels: extension fix / improvement, OP is author, extension: comodoro

#16027 Bugfix: NHL: fixed a downstream API change that was breaking the detailed game view
  extensions/nhl/CHANGELOG.md
  extensions/nhl/package.json
  extensions/nhl/src/utils/helpers.ts
  extensions/nhl/src/utils/types.ts
Labels: extension fix / improvement, OP is author, extension: nhl

#16099 Update tmux-sessioner extension
  extensions/tmux-sessioner/CHANGELOG.md
  extensions/tmux-sessioner/package.json
  extensions/tmux-sessioner/src/SelectTerminalApp.tsx
  extensions/tmux-sessioner/src/index.tsx
  extensions/tmux-sessioner/src/manage_tmux_windows.tsx
Labels: extension fix / improvement, extension: tmux-sessioner

#15984 Deprecate threads-video-downloader extension
  extensions/threads-video-downloader/CHANGELOG.md
  extensions/threads-video-downloader/package-lock.json
  extensions/threads-video-downloader/package.json
  extensions/threads-video-downloader/src/index.tsx
  extensions/threads-video-downloader/src/utils.ts
Labels: extension fix / improvement, OP is author, extension: threads-video-downloader

#16032 Update battery-health extension
  extensions/battery-health/CHANGELOG.md
  extensions/battery-health/package.json
  extensions/battery-health/src/components/MaxCapacityItem.tsx
  extensions/battery-health/src/index.tsx
Labels: extension fix / improvement, OP is author, extension: battery-health

#16023 Update memos extension
  extensions/memos/CHANGELOG.md
  extensions/memos/src/api.ts
  extensions/memos/src/sendMemoForm.tsx
  extensions/memos/src/types.ts
Labels: extension fix / improvement, OP is author, extension: memos

#16003 [Coolify] view-secret-keys + update-projects
  extensions/coolify/CHANGELOG.md
  extensions/coolify/README.md
  extensions/coolify/package.json
  extensions/coolify/src/lib/components/projects/create.tsx
  extensions/coolify/src/lib/components/projects/update.tsx
  extensions/coolify/src/lib/types.ts
  extensions/coolify/src/private-keys.tsx
  extensions/coolify/src/projects.tsx
Labels: extension fix / improvement, OP is author, extension: coolify

#15983 Update IPCheck to V1.1
  extensions/ipcheck-ing/CHANGELOG.md
  extensions/ipcheck-ing/README.md
  extensions/ipcheck-ing/package.json
  extensions/ipcheck-ing/src/getExternalIP.ts
  extensions/ipcheck-ing/src/getLocalIPs.ts
  extensions/ipcheck-ing/src/main.tsx
Labels: extension fix / improvement, OP is author, extension: ipcheck-ing

#15874 Add medialister-marketplace-helper extension
  extensions/medialister-marketplace-helper/.eslintrc.json
  extensions/medialister-marketplace-helper/.gitignore
  extensions/medialister-marketplace-helper/.prettierrc
  extensions/medialister-marketplace-helper/CHANGELOG.md
  extensions/medialister-marketplace-helper/README.md
  extensions/medialister-marketplace-helper/assets/extension-icon.png
  extensions/medialister-marketplace-helper/metadata/medialister-marketplace-helper-2.png
  extensions/medialister-marketplace-helper/package-lock.json
  extensions/medialister-marketplace-helper/package.json
  extensions/medialister-marketplace-helper/src/search-medialister.tsx
  extensions/medialister-marketplace-helper/tsconfig.json
Labels: new extension

#15868 Update Pomodoro preference organization and use generated types
  extensions/pomodoro/CHANGELOG.md
  extensions/pomodoro/package.json
  extensions/pomodoro/src/lib/types.ts
Labels: extension fix / improvement, OP is contributor, extension: pomodoro

#15400 Update Catppuccin extension
  extensions/catppuccin/CHANGELOG.md
  extensions/catppuccin/package-lock.json
  extensions/catppuccin/package.json
  extensions/catppuccin/src/components/SearchList.tsx
  extensions/catppuccin/src/hooks/useFetchData.ts
  extensions/catppuccin/src/search-palette.tsx
  extensions/catppuccin/src/search-ports.tsx
  extensions/catppuccin/src/search-userstyles.tsx
  extensions/catppuccin/src/types.ts
  extensions/catppuccin/src/utils/data.util.ts
  extensions/catppuccin/src/utils/icons.util.ts
  extensions/catppuccin/src/utils/palette.util.ts
  extensions/catppuccin/src/utils/preferences.util.ts
Labels: extension fix / improvement, extension: catppuccin

#16126 Update braid extension
  extensions/braid/CHANGELOG.md
  extensions/braid/assets/icons/QR-dark.svg
  extensions/braid/assets/icons/QR-light.svg
  extensions/braid/assets/icons/bluetooth-dark.svg
  extensions/braid/assets/icons/bluetooth-light.svg
  extensions/braid/assets/icons/checklist-dark.svg
  extensions/braid/assets/icons/checklist-light.svg
  extensions/braid/assets/icons/coverLetter-dark.svg
  extensions/braid/assets/icons/coverLetter-light.svg
  extensions/braid/assets/icons/disallow-dark.svg
  extensions/braid/assets/icons/disallow-light.svg
  extensions/braid/assets/icons/document-dark.svg
  extensions/braid/assets/icons/document-light.svg
  extensions/braid/assets/icons/documentBroken-dark.svg
  extensions/braid/assets/icons/documentBroken-light.svg
  extensions/braid/assets/icons/heart-active-dark.svg
  extensions/braid/assets/icons/heart-active-light.svg
  extensions/braid/assets/icons/heart-dark.svg
  extensions/braid/assets/icons/heart-light.svg
  extensions/braid/assets/icons/note-dark.svg
  extensions/braid/assets/icons/note-light.svg
  extensions/braid/assets/icons/resume-dark.svg
  extensions/braid/assets/icons/resume-light.svg
  extensions/braid/braid-icons/QR.svg
  extensions/braid/braid-icons/bluetooth.svg
  extensions/braid/braid-icons/checklist.svg
  extensions/braid/braid-icons/coverLetter.svg
  extensions/braid/braid-icons/disallow.svg
  extensions/braid/braid-icons/document.svg
  extensions/braid/braid-icons/documentBroken.svg
  extensions/braid/braid-icons/heart-active.svg
  extensions/braid/braid-icons/heart.svg
  extensions/braid/braid-icons/note.svg
  extensions/braid/braid-icons/resume.svg
  extensions/braid/package-lock.json
  extensions/braid/src/resources/docs-map.json
Labels: extension fix / improvement, OP is author, extension: braid

#16125 [Manotori] View Nameserver Sets + better error handling + view event details
  extensions/manotori/CHANGELOG.md
  extensions/manotori/metadata/manotori-3.png
  extensions/manotori/metadata/manotori-4.png
  extensions/manotori/package-lock.json
  extensions/manotori/package.json
  extensions/manotori/src/types.ts
  extensions/manotori/src/utils.ts
  extensions/manotori/src/view-domains.tsx
  extensions/manotori/src/view-nameserver-sets.tsx
Labels: extension fix / improvement, OP is author, extension: manotori

#16121 Update rusbase extension
  extensions/rusbase/CHANGELOG.md
  extensions/rusbase/README.md
  extensions/rusbase/package-lock.json
Labels: extension fix / improvement, OP is author, extension: rusbase

#16117 Update date-converter extension
  extensions/date-converter/CHANGELOG.md
  extensions/date-converter/package.json
  extensions/date-converter/src/index.tsx
Labels: extension fix / improvement, extension: date-converter

#16122 Update vc-ru-news extension
  extensions/vc-ru-news/CHANGELOG.md
  extensions/vc-ru-news/README.md
  extensions/vc-ru-news/package-lock.json
Labels: extension fix / improvement, OP is author, extension: vc-ru-news

#16116 Update espn extension
  extensions/espn/CHANGELOG.md
  extensions/espn/README.md
  extensions/espn/package-lock.json
Labels: extension fix / improvement, OP is author, extension: espn

#16118 Update techcrunch extension
  extensions/techcrunch/CHANGELOG.md
  extensions/techcrunch/README.md
  extensions/techcrunch/package-lock.json
Labels: extension fix / improvement, OP is author, extension: techcrunch

#15981 Update mullvad extension
  extensions/mullvad/CHANGELOG.md
  extensions/mullvad/src/selectLocation.tsx
Labels: extension fix / improvement, OP is contributor, extension: mullvad

#16192 Update safari extension
  extensions/safari/CHANGELOG.md
  extensions/safari/package.json
  extensions/safari/src/copy-to-clipboard.ts
Labels: extension fix / improvement, extension: safari

#16137 Fix/oklch title case
  extensions/oklch-color-converter/CHANGELOG.md
  extensions/oklch-color-converter/package.json
Labels: extension fix / improvement, OP is author, extension: oklch-color-converter

#16194 Update prompt-stash extension
  extensions/prompt-stash/CHANGELOG.md
  extensions/prompt-stash/README.md
  extensions/prompt-stash/package.json
  extensions/prompt-stash/src/components/EditPromptForm.tsx
  extensions/prompt-stash/src/hooks/index.tsx
  extensions/prompt-stash/src/index.tsx
  extensions/prompt-stash/src/types.ts
Labels: extension fix / improvement, OP is author, extension: prompt-stash

#16175 Update habr-media extension
  extensions/habr-media/CHANGELOG.md
  extensions/habr-media/README.md
  extensions/habr-media/package-lock.json
Labels: extension fix / improvement, OP is author, extension: habr-media

#16163 [Brand Icons] Routine maintenance and improvements
  extensions/simple-icons/API.md
  extensions/simple-icons/CHANGELOG.md
  extensions/simple-icons/README.md
  extensions/simple-icons/package-lock.json
  extensions/simple-icons/package.json
  extensions/simple-icons/src/actions.tsx
  extensions/simple-icons/src/index.tsx
  extensions/simple-icons/src/utils.ts
Labels: extension fix / improvement, OP is author, extension: simple-icons

#16164 [Pomodoro] Add support for hiding timer when stopped
  extensions/pomodoro/CHANGELOG.md
  extensions/pomodoro/package.json
  extensions/pomodoro/src/lib/constants.ts
  extensions/pomodoro/src/pomodoro-menu-bar.tsx
  extensions/pomodoro/src/slack-pomodoro-menu-bar.tsx
Labels: extension fix / improvement, OP is contributor, extension: pomodoro

#16165 Update `Purelymail` extension - Domain functions are now `optimistic` for improved UX
  extensions/purelymail/CHANGELOG.md
  extensions/purelymail/src/create-routing-rule.tsx
  extensions/purelymail/src/create-user.tsx
  extensions/purelymail/src/list-domains.tsx
  extensions/purelymail/src/update-domain-settings.tsx
  extensions/purelymail/src/utils/api.ts
  extensions/purelymail/src/utils/hooks.ts
Labels: extension fix / improvement, OP is author, extension: purelymail

#16154 feat(Timers): pausable timers, custom timer form bypass
  extensions/timers/CHANGELOG.md
  extensions/timers/package.json
  extensions/timers/src/backend/timerBackend.ts
  extensions/timers/src/backend/types.ts
  extensions/timers/src/components/RunningTimerListItem.tsx
  extensions/timers/src/hooks/useTimers.ts
  extensions/timers/src/startCustomTimer.tsx
  extensions/timers/tsconfig.json
Labels: extension fix / improvement, OP is author, extension: timers

#16188 Update flighty extension
  extensions/flighty/CHANGELOG.md
  extensions/flighty/src/use-flights.ts
  extensions/flighty/src/view-flights.tsx
Labels: extension fix / improvement, OP is author, extension: flighty

#16172 Update brew extension
  extensions/brew/CHANGELOG.md
  extensions/brew/metadata/brew-1.png
  extensions/brew/metadata/brew-2.png
  extensions/brew/metadata/brew-3.png
  extensions/brew/metadata/brew-4.png
  extensions/brew/metadata/brew-5.png
  extensions/brew/metadata/brew-6.png
  extensions/brew/metadata/brew-7.png
  extensions/brew/package.json
  extensions/brew/src/components/list.tsx
  extensions/brew/src/outdated.tsx
Labels: extension fix / improvement, extension: brew

#15929 Add close-apps extension
  extensions/close-apps/.eslintrc.json
  extensions/close-apps/.gitignore
  extensions/close-apps/.prettierrc
  extensions/close-apps/CHANGELOG.md
  extensions/close-apps/README.md
  extensions/close-apps/assets/close-all.png
  extensions/close-apps/bun.lockb
  extensions/close-apps/package-lock.json
  extensions/close-apps/package.json
  extensions/close-apps/src/close-all.ts
  extensions/close-apps/src/components/ListItem.tsx
  extensions/close-apps/src/manage-whitelist.tsx
  extensions/close-apps/src/scripts.ts
  extensions/close-apps/src/types.ts
  extensions/close-apps/src/util.ts
  extensions/close-apps/tsconfig.json
Labels: new extension

#16181 Update raindrop-io extension
  extensions/raindrop-io/CHANGELOG.md
  extensions/raindrop-io/package.json
  extensions/raindrop-io/src/components/BookmarkItem.tsx
  extensions/raindrop-io/src/search.tsx
Labels: extension fix / improvement, extension: raindrop-io

#15912 Adding Spring Initializr Extension
  extensions/spring-initializr/.eslintrc.json
  extensions/spring-initializr/.gitignore
  extensions/spring-initializr/.prettierrc
  extensions/spring-initializr/CHANGELOG.md
  extensions/spring-initializr/README.md
  extensions/spring-initializr/assets/spring-leaf.png
  extensions/spring-initializr/metadata/spring-initializr-1.png
  extensions/spring-initializr/metadata/spring-initializr-2.png
  extensions/spring-initializr/package-lock.json
  extensions/spring-initializr/package.json
  extensions/spring-initializr/src/spring-initializr.tsx
  extensions/spring-initializr/tsconfig.json
Labels: new extension

#16095 Update `Webflow` extension - use SDK + v2 of the Webflow API + View Assets + add native OAuth
  extensions/webflow-sites/CHANGELOG.md
  extensions/webflow-sites/README.md
  extensions/webflow-sites/package-lock.json
  extensions/webflow-sites/package.json
  extensions/webflow-sites/src/components/assets.tsx
  extensions/webflow-sites/src/index.tsx
  extensions/webflow-sites/src/oauth.ts
  extensions/webflow-sites/src/utils.ts
Labels: extension fix / improvement, OP is contributor, extension: webflow-sites

#16190 Update YouTrack extension's icon
  extensions/youtrack/CHANGELOG.md
  extensions/youtrack/assets/command-icon.png
Labels: extension fix / improvement, OP is contributor, extension: youtrack

#16160 Update `Defiscan` extension - Show Diifficulty in G + `useFetch` for caching
  extensions/defiscan/.eslintrc.json
  extensions/defiscan/.gitignore
  extensions/defiscan/CHANGELOG.md
  extensions/defiscan/metadata/defiscan-1.png
  extensions/defiscan/metadata/defiscan-2.png
  extensions/defiscan/metadata/screenshot-01.png
  extensions/defiscan/metadata/screenshot-02.png
  extensions/defiscan/package-lock.json
  extensions/defiscan/package.json
  extensions/defiscan/src/api/ocean.tsx
  extensions/defiscan/src/defi.tsx
  extensions/defiscan/src/models/defichainStats.tsx
  extensions/defiscan/src/models/loadingStatus.tsx
  extensions/defiscan/src/models/masternode.tsx
  extensions/defiscan/src/models/result.ts
  extensions/defiscan/src/useStats.tsx
  extensions/defiscan/src/utils/markdownUtil.tsx
  extensions/defiscan/tsconfig.json
Labels: extension fix / improvement, extension: defiscan

#15764 Add copy-text-files extension
  extensions/copy-text-files/.eslintrc.json
  extensions/copy-text-files/.gitignore
  extensions/copy-text-files/.prettierrc
  extensions/copy-text-files/CHANGELOG.md
  extensions/copy-text-files/README.md
  extensions/copy-text-files/README_zh.md
  extensions/copy-text-files/assets/extension-icon.png
  extensions/copy-text-files/assets/icon.png
  extensions/copy-text-files/package-lock.json
  extensions/copy-text-files/package.json
  extensions/copy-text-files/src/copy-text-files.ts
  extensions/copy-text-files/tsconfig.json
Labels: new extension

#15590 Add link-bundles extension
  extensions/link-bundles/.eslintrc.json
  extensions/link-bundles/.gitignore
  extensions/link-bundles/.prettierrc
  extensions/link-bundles/CHANGELOG.md
  extensions/link-bundles/README.md
  extensions/link-bundles/assets/icon_.png
  extensions/link-bundles/metadata/link-bundles-1.png
  extensions/link-bundles/metadata/link-bundles-2.png
  extensions/link-bundles/package-lock.json
  extensions/link-bundles/package.json
  extensions/link-bundles/src/components/BundleForm.tsx
  extensions/link-bundles/src/create-link-bundle.tsx
  extensions/link-bundles/src/hooks/useBundles.ts
  extensions/link-bundles/src/search-link-bundles.tsx
  extensions/link-bundles/src/types.ts
  extensions/link-bundles/src/utils/chrome.ts
  extensions/link-bundles/src/utils/fuzzySearch.ts
  extensions/link-bundles/src/utils/storage.ts
  extensions/link-bundles/src/utils/url.ts
  extensions/link-bundles/tsconfig.json
Labels: new extension

#16029 Add shopify-theme-resources extension
  extensions/shopify-theme-resources/.eslintrc.json
  extensions/shopify-theme-resources/.gitignore
  extensions/shopify-theme-resources/.prettierrc
  extensions/shopify-theme-resources/CHANGELOG.md
  extensions/shopify-theme-resources/README.md
  extensions/shopify-theme-resources/assets/shopify-icon.png
  extensions/shopify-theme-resources/metadata/shopify-theme-resources-1.png
  extensions/shopify-theme-resources/metadata/shopify-theme-resources-2.png
  extensions/shopify-theme-resources/metadata/shopify-theme-resources-3.png
  extensions/shopify-theme-resources/package-lock.json
  extensions/shopify-theme-resources/package.json
  extensions/shopify-theme-resources/src/docs.ts
  extensions/shopify-theme-resources/src/index.tsx
  extensions/shopify-theme-resources/src/types/types.ts
  extensions/shopify-theme-resources/tsconfig.json
Labels: new extension

#16030 Update media-converter extension
  extensions/media-converter/CHANGELOG.md
  extensions/media-converter/README.md
  extensions/media-converter/package.json
  extensions/media-converter/src/components/ConverterForm.tsx
  extensions/media-converter/src/components/HelloPage.tsx
  extensions/media-converter/src/quick-convert.tsx
  extensions/media-converter/src/utils/converter.ts
Labels: extension fix / improvement, extension: media-converter

#16040 Update jira extension
  extensions/jira/CHANGELOG.md
  extensions/jira/package.json
  extensions/jira/src/components/IssueActions.tsx
  extensions/jira/src/open-from-clipboard.tsx
Labels: extension fix / improvement, extension: jira

#16213 [Say] Suppress empty input & polish documentation
  extensions/say/CHANGELOG.md
  extensions/say/README.md
  extensions/say/package-lock.json
  extensions/say/package.json
  extensions/say/src/typeToSay.tsx
Labels: extension fix / improvement, OP is author, extension: say

#16203 Add ghostty extension
  extensions/ghostty/.eslintrc.json
  extensions/ghostty/.gitignore
  extensions/ghostty/.prettierrc
  extensions/ghostty/CHANGELOG.md
  extensions/ghostty/README.md
  extensions/ghostty/assets/extension-icon.png
  extensions/ghostty/package-lock.json
  extensions/ghostty/package.json
  extensions/ghostty/src/new-ghostty-tab.ts
  extensions/ghostty/src/new-ghostty-window.ts
  extensions/ghostty/tsconfig.json
Labels: new extension

#16041 Add what-happened-today extension
  extensions/what-happened-today/.eslintrc.json
  extensions/what-happened-today/.gitignore
  extensions/what-happened-today/.prettierrc
  extensions/what-happened-today/CHANGELOG.md
  extensions/what-happened-today/README.md
  extensions/what-happened-today/assets/extension-icon1.png
  extensions/what-happened-today/metadata/what-happened-today-1.png
  extensions/what-happened-today/metadata/what-happened-today-2.png
  extensions/what-happened-today/metadata/what-happened-today-3.png
  extensions/what-happened-today/metadata/what-happened-today-5.png
  extensions/what-happened-today/package-lock.json
  extensions/what-happened-today/package.json
  extensions/what-happened-today/src/get-events-today.tsx
  extensions/what-happened-today/src/types.ts
  extensions/what-happened-today/src/valid-dates.tsx
  extensions/what-happened-today/tsconfig.json
Labels: new extension

#16217 Update how-long-to-beat extension
  extensions/how-long-to-beat/CHANGELOG.md
  extensions/how-long-to-beat/src/helpers.ts
  extensions/how-long-to-beat/src/hltbsearch.ts
Labels: extension fix / improvement, OP is contributor, extension: how-long-to-beat

#16230 Update link-bundles extension
  extensions/link-bundles/CHANGELOG.md
  extensions/link-bundles/metadata/link-bundles-2.png
  extensions/link-bundles/src/components/BundleForm.tsx
  extensions/link-bundles/src/utils/chrome.ts
Labels: extension fix / improvement, OP is author, extension: link-bundles

#13749 Add Meduza.io extension
  extensions/meduza/.eslintrc.json
  extensions/meduza/.gitignore
  extensions/meduza/.prettierrc
  extensions/meduza/CHANGELOG.md
  extensions/meduza/README.md
  extensions/meduza/assets/icon.png
  extensions/meduza/metadata/meduza-1.png
  extensions/meduza/metadata/meduza-2.png
  extensions/meduza/metadata/meduza-3.png
  extensions/meduza/metadata/meduza-4.png
  extensions/meduza/package-lock.json
  extensions/meduza/package.json
  extensions/meduza/src/components/ArticleDetail.tsx
  extensions/meduza/src/components/NewsList.tsx
  extensions/meduza/src/components/NewsSummary.tsx
  extensions/meduza/src/constants/feeds.ts
  extensions/meduza/src/hooks/useFeedData.ts
  extensions/meduza/src/index.tsx
  extensions/meduza/src/news-list.tsx
  extensions/meduza/src/news-summary.tsx
  extensions/meduza/src/types/index.ts
  extensions/meduza/src/utils/helpers.ts
  extensions/meduza/tsconfig.json
Labels: new extension, Dont close

#16113 [Google Chrome] fix Search Tabs command
  extensions/google-chrome/CHANGELOG.md
  extensions/google-chrome/package.json
  extensions/google-chrome/src/actions/index.tsx
  extensions/google-chrome/src/components/ChromeListItems.tsx
  extensions/google-chrome/src/hooks/useHistorySearch.tsx
  extensions/google-chrome/src/interfaces/index.ts
  extensions/google-chrome/src/new-tab.tsx
  extensions/google-chrome/src/search-all.tsx
  extensions/google-chrome/src/search-bookmarks.tsx
  extensions/google-chrome/src/search-history.tsx
Labels: extension fix / improvement, extension: google-chrome

#16228 [Dropover] Fix Screenshot URL and Typo
  extensions/dropover/CHANGELOG.md
  extensions/dropover/README.md
  extensions/dropover/package.json
Labels: extension fix / improvement, extension: dropover

#16218 Update tmux-sessioner extension
  extensions/tmux-sessioner/CHANGELOG.md
  extensions/tmux-sessioner/package-lock.json
  extensions/tmux-sessioner/package.json
  extensions/tmux-sessioner/src/create_new_session.tsx
  extensions/tmux-sessioner/src/manage_tmux_windows.tsx
  extensions/tmux-sessioner/src/utils/sessionUtils.ts
  extensions/tmux-sessioner/src/utils/windowUtils.ts
Labels: extension fix / improvement, extension: tmux-sessioner

#16067 Add `Aiven` extension - view projects + services
  extensions/aiven/.eslintrc.json
  extensions/aiven/.gitignore
  extensions/aiven/.prettierrc
  extensions/aiven/CHANGELOG.md
  extensions/aiven/README.md
  extensions/aiven/assets/aiven.png
  extensions/aiven/metadata/aiven-1.png
  extensions/aiven/metadata/aiven-2.png
  extensions/aiven/metadata/aiven-3.png
  extensions/aiven/package-lock.json
  extensions/aiven/package.json
  extensions/aiven/src/interfaces.ts
  extensions/aiven/src/projects.tsx
  extensions/aiven/tsconfig.json
Labels: new extension

#16075 Add `Memberstack` extension - List, Update or Delete Members
  extensions/memberstack/.eslintrc.json
  extensions/memberstack/.gitignore
  extensions/memberstack/.prettierrc
  extensions/memberstack/CHANGELOG.md
  extensions/memberstack/README.md
  extensions/memberstack/assets/memberstack.png
  extensions/memberstack/metadata/memberstack-1.png
  extensions/memberstack/metadata/memberstack-2.png
  extensions/memberstack/package-lock.json
  extensions/memberstack/package.json
  extensions/memberstack/src/manage-members.tsx
  extensions/memberstack/tsconfig.json
Labels: new extension

#16080 Add support for multi-select field type
  extensions/twenty/CHANGELOG.md
  extensions/twenty/src/components/FieldComponent.tsx
  extensions/twenty/src/components/MultiSelect.tsx
  extensions/twenty/src/helper/formatValues.ts
Labels: extension fix / improvement, extension: twenty

#16085 Add ollama-mind-map-generator extension
  extensions/ollama-mind-map-generator/.eslintrc.json
  extensions/ollama-mind-map-generator/.gitignore
  extensions/ollama-mind-map-generator/.prettierrc
  extensions/ollama-mind-map-generator/CHANGELOG.md
  extensions/ollama-mind-map-generator/LICENSE
  extensions/ollama-mind-map-generator/README.md
  extensions/ollama-mind-map-generator/assets/extension-icon.png
  extensions/ollama-mind-map-generator/metadata/ollama-mind-map-generator-1.png
  extensions/ollama-mind-map-generator/metadata/ollama-mind-map-generator-2.png
  extensions/ollama-mind-map-generator/package-lock.json
  extensions/ollama-mind-map-generator/package.json
  extensions/ollama-mind-map-generator/src/components/MindMapDetail.tsx
  extensions/ollama-mind-map-generator/src/components/ModelList.tsx
  extensions/ollama-mind-map-generator/src/generate-mind-map.tsx
  extensions/ollama-mind-map-generator/src/utils/constants.ts
  extensions/ollama-mind-map-generator/src/utils/ollama.ts
  extensions/ollama-mind-map-generator/src/utils/types.ts
  extensions/ollama-mind-map-generator/tsconfig.json
Labels: new extension

#16086 Add OTP Auth Extension
  extensions/otp-auth/.gitignore
  extensions/otp-auth/CHANGELOG.md
  extensions/otp-auth/README.md
  extensions/otp-auth/assets/default-icon.png
  extensions/otp-auth/assets/extension-icon.png
  extensions/otp-auth/bun.lockb
  extensions/otp-auth/metadata/otp-auth-1.png
  extensions/otp-auth/metadata/otp-auth-2.png
  extensions/otp-auth/metadata/otp-auth-3.png
  extensions/otp-auth/package-lock.json
  extensions/otp-auth/package.json
  extensions/otp-auth/src/search-token.tsx
  extensions/otp-auth/src/utils/get-tokens.ts
  extensions/otp-auth/src/utils/totp.ts
  extensions/otp-auth/tsconfig.json
Labels: new extension

#16236 Move myself to past_constributors
  extensions/1password/CHANGELOG.md
  extensions/1password/package-lock.json
  extensions/1password/package.json
Labels: extension fix / improvement, OP is contributor, extension: 1password

#16226 Update bitwarden extension
  extensions/bitwarden/CHANGELOG.md
  extensions/bitwarden/package.json
  extensions/bitwarden/src/components/UnlockForm.tsx
Labels: extension fix / improvement, extension: bitwarden

#16077 add `Ghostty` support for Execute Shell Extension
  extensions/shell/CHANGELOG.md
  extensions/shell/package.json
  extensions/shell/src/index.tsx
Labels: extension fix / improvement, extension: shell

#16093 Add `MyIdlers` extension
  extensions/my-idlers/.eslintrc.json
  extensions/my-idlers/.gitignore
  extensions/my-idlers/.prettierrc
  extensions/my-idlers/CHANGELOG.md
  extensions/my-idlers/README.md
  extensions/my-idlers/assets/cpanel@dark.png
  extensions/my-idlers/assets/directadmin-reseller.png
  extensions/my-idlers/assets/my-idlers.png
  extensions/my-idlers/metadata/myidlers-1.png
  extensions/my-idlers/metadata/myidlers-2.png
  extensions/my-idlers/metadata/myidlers-3.png
  extensions/my-idlers/package-lock.json
  extensions/my-idlers/package.json
  extensions/my-idlers/src/components/domain-item.tsx
  extensions/my-idlers/src/components/hosting-item.tsx
  extensions/my-idlers/src/components/items-section.tsx
  extensions/my-idlers/src/components/next-due-date.tsx
  extensions/my-idlers/src/components/price-list-item.tsx
  extensions/my-idlers/src/components/server-item.tsx
  extensions/my-idlers/src/dashboard.tsx
  extensions/my-idlers/src/hooks.ts
  extensions/my-idlers/src/items.tsx
  extensions/my-idlers/src/types.ts
  extensions/my-idlers/src/utils.ts
  extensions/my-idlers/tsconfig.json
Labels: new extension

#16240 [Google translate] Multiple target languages
  extensions/google-translate/CHANGELOG.md
  extensions/google-translate/src/LanguagesManager/AddLanguageForm.tsx
  extensions/google-translate/src/LanguagesManager/LanguagesManagerList.tsx
  extensions/google-translate/src/LanguagesManager/LanguagesManagerListDropdown.tsx
  extensions/google-translate/src/QuickTranslate/QuickTranslateListItem.tsx
  extensions/google-translate/src/hooks.ts
  extensions/google-translate/src/quick-translate.tsx
  extensions/google-translate/src/simple-translate.ts
  extensions/google-translate/src/translate-form.tsx
  extensions/google-translate/src/translate.tsx
  extensions/google-translate/src/types.ts
  extensions/google-translate/src/utils.ts
Labels: extension fix / improvement, OP is author, extension: google-translate

#16222 Allow configuration of Jira branch names
  extensions/jira/CHANGELOG.md
  extensions/jira/README.md
  extensions/jira/package.json
  extensions/jira/src/components/IssueActions.tsx
  extensions/jira/src/helpers/issues.ts
Labels: extension fix / improvement, extension: jira

#16256 Update svgl extension
  extensions/svgl/CHANGELOG.md
  extensions/svgl/assets/angular.png
  extensions/svgl/src/components/actions/copy-angular-component-actions.tsx
  extensions/svgl/src/components/actions/copy-svelte-component-actions.tsx
  extensions/svgl/src/components/actions/copy-vue-component-actions.tsx
  extensions/svgl/src/components/svg-action.tsx
  extensions/svgl/src/utils/component-template.ts
Labels: extension fix / improvement, OP is contributor, extension: svgl

#16253 Fix Tmux-sessioner bug: create icloud session
  extensions/tmux-sessioner/CHANGELOG.md
  extensions/tmux-sessioner/src/utils/sessionUtils.ts
Labels: extension fix / improvement, OP is contributor, extension: tmux-sessioner

#16251 Add check to json-format escaping
  extensions/json-format/CHANGELOG.md
  extensions/json-format/package.json
  extensions/json-format/src/utils.ts
Labels: extension fix / improvement, extension: json-format

#16246 [Bluesky] fix Timeline not loading when post blocked (close Issue) + new logo
  extensions/bluesky/CHANGELOG.md
  extensions/bluesky/assets/bsky-logo-1.png
  extensions/bluesky/assets/extension-icon.png
  extensions/bluesky/package-lock.json
  extensions/bluesky/package.json
  extensions/bluesky/src/utils/parser.ts
Labels: extension fix / improvement, OP is contributor, extension: bluesky

#16248 Update code-quarkus extension
  extensions/code-quarkus/CHANGELOG.md
  extensions/code-quarkus/README.md
  extensions/code-quarkus/assets/code-quarkus-preferences-action.png
  extensions/code-quarkus/assets/code-quarkus-preferences-window.png
  extensions/code-quarkus/assets/find-extention-actions-1.png
  extensions/code-quarkus/assets/find-extention-actions-2.png
  extensions/code-quarkus/assets/find-extention-actions-3.png
  extensions/code-quarkus/assets/find-extention.png
  extensions/code-quarkus/package-lock.json
  extensions/code-quarkus/package.json
  extensions/code-quarkus/src/Configure.tsx
  extensions/code-quarkus/src/Dependencies.tsx
  extensions/code-quarkus/src/QuarkusVersionDropDown.tsx
  extensions/code-quarkus/src/api.ts
  extensions/code-quarkus/src/code-quarkus.tsx
  extensions/code-quarkus/src/find-quarkus-extension.tsx
  extensions/code-quarkus/src/models/CodePreferences.ts
  extensions/code-quarkus/src/models/Configuration.ts
  extensions/code-quarkus/src/utils.ts
Labels: extension fix / improvement, OP is author, extension: code-quarkus

#16239 feat(github): mark notification as done #15791
  extensions/github/CHANGELOG.md
  extensions/github/src/components/NotificationActions.tsx
Labels: extension fix / improvement, OP is contributor, extension: github

#16127 Add deepseeker extension
  extensions/deepseeker/.eslintrc.json
  extensions/deepseeker/.gitignore
  extensions/deepseeker/.prettierrc
  extensions/deepseeker/CHANGELOG.md
  extensions/deepseeker/README.md
  extensions/deepseeker/assets/icon.png
  extensions/deepseeker/metadata/deepseeker-1.png
  extensions/deepseeker/metadata/deepseeker-2.png
  extensions/deepseeker/metadata/deepseeker-3.png
  extensions/deepseeker/metadata/deepseeker-4.png
  extensions/deepseeker/metadata/deepseeker-5.png
  extensions/deepseeker/package-lock.json
  extensions/deepseeker/package.json
  extensions/deepseeker/src/api.ts
  extensions/deepseeker/src/common.tsx
  extensions/deepseeker/src/customa.tsx
  extensions/deepseeker/src/customb.tsx
  extensions/deepseeker/src/execute.ts
  extensions/deepseeker/src/fix.tsx
  extensions/deepseeker/src/rephrase.tsx
  extensions/deepseeker/src/summarize.tsx
  extensions/deepseeker/src/util.ts
  extensions/deepseeker/src/what.tsx
  extensions/deepseeker/src/why.tsx
  extensions/deepseeker/tsconfig.json
Labels: new extension

#16133 Add glide extension
  extensions/glide/.eslintrc.json
  extensions/glide/.gitignore
  extensions/glide/.prettierrc
  extensions/glide/CHANGELOG.md
  extensions/glide/README.md
  extensions/glide/assets/extension-icon.png
  extensions/glide/metadata/glide-1.png
  extensions/glide/metadata/glide-2.png
  extensions/glide/package-lock.json
  extensions/glide/package.json
  extensions/glide/src/glide.tsx
  extensions/glide/src/utils.ts
  extensions/glide/tsconfig.json
Labels: new extension

#16135 Update aerospace extension
  extensions/aerospace/CHANGELOG.md
  extensions/aerospace/package-lock.json
  extensions/aerospace/package.json
  extensions/aerospace/src/switchApps.tsx
  extensions/aerospace/src/utils/appSwitcher.tsx
Labels: extension fix / improvement, extension: aerospace

#16155 Add launchdarkly extension
  extensions/launchdarkly/.eslintrc.json
  extensions/launchdarkly/.gitignore
  extensions/launchdarkly/.prettierrc
  extensions/launchdarkly/CHANGELOG.md
  extensions/launchdarkly/README.md
  extensions/launchdarkly/assets/launchdarkly-transparent-bg.png
  extensions/launchdarkly/assets/launchdarkly-transparent-bg@dark.png
  extensions/launchdarkly/metadata/launchdarkly-1.png
  extensions/launchdarkly/metadata/launchdarkly-2.png
  extensions/launchdarkly/metadata/launchdarkly-3.png
  extensions/launchdarkly/metadata/launchdarkly-4.png
  extensions/launchdarkly/metadata/launchdarkly-5.png
  extensions/launchdarkly/metadata/launchdarkly-6.png
  extensions/launchdarkly/mock/mock-ld-server.ts
  extensions/launchdarkly/package-lock.json
  extensions/launchdarkly/package.json
  extensions/launchdarkly/src/commands/ListFeatureFlags.tsx
  extensions/launchdarkly/src/components/EnvironmentsList.tsx
  extensions/launchdarkly/src/components/FlagDetails.tsx
  extensions/launchdarkly/src/components/FlagDetailsHeader.tsx
  extensions/launchdarkly/src/hooks/useEnvironmentOrder.ts
  extensions/launchdarkly/src/hooks/useLDFlagDetail.ts
  extensions/launchdarkly/src/hooks/useLDFlags.ts
  extensions/launchdarkly/src/hooks/useShowNamePreference.ts
  extensions/launchdarkly/src/list-feature-flags.ts
  extensions/launchdarkly/src/types.ts
  extensions/launchdarkly/src/utils/avatarUtils.ts
  extensions/launchdarkly/src/utils/ld-urls.ts
  extensions/launchdarkly/src/utils/stringUtils.ts
  extensions/launchdarkly/tsconfig.json
Labels: new extension

#16015 Update hidemyemail extension
  extensions/hidemyemail/CHANGELOG.md
  extensions/hidemyemail/README.md
  extensions/hidemyemail/metadata/hidemyemail-1.png
  extensions/hidemyemail/metadata/hidemyemail-2.png
  extensions/hidemyemail/metadata/hidemyemail-3.png
  extensions/hidemyemail/src/api/connect.ts
  extensions/hidemyemail/src/api/errors.ts
  extensions/hidemyemail/src/api/hide-my-email.ts
  extensions/hidemyemail/src/components/Login.tsx
  extensions/hidemyemail/src/components/forms/AddressForm.tsx
  extensions/hidemyemail/src/components/forms/LoginForm.tsx
  extensions/hidemyemail/src/components/forms/TwoFactorAuthForm.tsx
  extensions/hidemyemail/src/create-new-email.tsx
  extensions/hidemyemail/src/list-emails.tsx
  extensions/hidemyemail/src/login.ts
Labels: extension fix / improvement, OP is author, Dont close, extension: hidemyemail

#16088 Update markdown-this extension
  extensions/markdown-this/CHANGELOG.md
  extensions/markdown-this/LICENSE
  extensions/markdown-this/README.md
  extensions/markdown-this/package-lock.json
  extensions/markdown-this/package.json
  extensions/markdown-this/src/index.ts
Labels: extension fix / improvement, extension: markdown-this

#16283 Remove superfluous app check.
  extensions/zen-browser/CHANGELOG.md
  extensions/zen-browser/src/actions/index.ts
Labels: extension fix / improvement, OP is contributor, extension: zen-browser

#16152 Update pieces-raycast extension
  extensions/pieces-raycast/CHANGELOG.md
  extensions/pieces-raycast/package-lock.json
  extensions/pieces-raycast/package.json
  extensions/pieces-raycast/src/actions/saveAsset.ts
  extensions/pieces-raycast/src/connection/ConnectorSingleton.ts
  extensions/pieces-raycast/src/connection/assets/AssetsStream.ts
  extensions/pieces-raycast/src/connection/health/piecesInstalledCheck.ts
  extensions/pieces-raycast/src/connection/health/piecesUpToDateCheck.ts
Labels: extension fix / improvement, extension: pieces-raycast

#16273 Update control-viscosity extension
  extensions/control-viscosity/CHANGELOG.md
  extensions/control-viscosity/src/connect-all-connections.ts
  extensions/control-viscosity/src/connect-to-the-first-connection.ts
  extensions/control-viscosity/src/disconnect-all-connections.ts
Labels: extension fix / improvement, OP is author, extension: control-viscosity

#16305 [Aegis] Improves the seacher performance with `useMemo`
  extensions/aegis/CHANGELOG.md
  extensions/aegis/src/component/otp/OtpList.tsx
Labels: extension fix / improvement, OP is contributor, extension: aegis

#16311 [Badges] Add support for setting label to empty
  extensions/badges/CHANGELOG.md
  extensions/badges/package-lock.json
  extensions/badges/package.json
  extensions/badges/src/components/parameters.tsx
  extensions/badges/src/constants.ts
  extensions/badges/src/createSocialBadge.tsx
  extensions/badges/src/createStaticBadge.tsx
  extensions/badges/src/utils.ts
Labels: extension fix / improvement, OP is author, extension: badges

#16304 [Brand Icons] Improve searcher performance with `useMemo`
  extensions/simple-icons/CHANGELOG.md
  extensions/simple-icons/src/utils.ts
Labels: extension fix / improvement, OP is author, extension: simple-icons

#16298 Filter Firefox-based browsers for the installed ones
  extensions/browsers-profiles/CHANGELOG.md
  extensions/browsers-profiles/src/lib/firefox.ts
Labels: extension fix / improvement, OP is contributor, extension: browsers-profiles

#16293 [RSS Reader] Rename Subscriptions (close issue)
  extensions/rss-reader/.eslintrc.json
  extensions/rss-reader/.gitignore
  extensions/rss-reader/CHANGELOG.md
  extensions/rss-reader/package-lock.json
  extensions/rss-reader/package.json
  extensions/rss-reader/src/feeds.tsx
  extensions/rss-reader/src/rename-form.tsx
  extensions/rss-reader/src/stories.tsx
  extensions/rss-reader/tsconfig.json
Labels: extension fix / improvement, extension: rss-reader

#16110 [1loc] modify extension to work w/o cats (close issue)
  extensions/1loc/.eslintrc.json
  extensions/1loc/.gitignore
  extensions/1loc/CHANGELOG.md
  extensions/1loc/README.md
  extensions/1loc/assets/list-icon.png
  extensions/1loc/metadata/1loc-1.png
  extensions/1loc/package-lock.json
  extensions/1loc/package.json
  extensions/1loc/src/components/snippet-content.tsx
  extensions/1loc/src/index.tsx
  extensions/1loc/src/snippet.tsx
  extensions/1loc/tsconfig.json
Labels: extension fix / improvement, extension: 1loc

#16299 Update Windmill extension - Workspace: view settings, show loading, show toast
  extensions/windmill/.gitignore
  extensions/windmill/CHANGELOG.md
  extensions/windmill/metadata/windmill-6.png
  extensions/windmill/package-lock.json
  extensions/windmill/package.json
  extensions/windmill/src/components/ItemList.tsx
  extensions/windmill/src/components/WorkspaceForm.tsx
  extensions/windmill/src/components/WorkspaceSettingsDetail.tsx
  extensions/windmill/src/manageWorkspaces.tsx
  extensions/windmill/src/utils/validateWorkspace.ts
  extensions/windmill/src/viewFlows.tsx
  extensions/windmill/tsconfig.json
Labels: extension fix / improvement, extension: windmill

#16065 Add advanced-replace extension
  extensions/advanced-replace/.eslintrc.json
  extensions/advanced-replace/.gitignore
  extensions/advanced-replace/.prettierrc
  extensions/advanced-replace/CHANGELOG.md
  extensions/advanced-replace/README.md
  extensions/advanced-replace/assets/advanced-replace.png
  extensions/advanced-replace/media/github-image-replacement.mp4
  extensions/advanced-replace/metadata/advanced-replace-1.png
  extensions/advanced-replace/metadata/advanced-replace-2.png
  extensions/advanced-replace/package-lock.json
  extensions/advanced-replace/package.json
  extensions/advanced-replace/src/advanced-replace.tsx
  extensions/advanced-replace/src/components/RegexItemForm.tsx
  extensions/advanced-replace/src/types.ts
  extensions/advanced-replace/src/utilities/replacements.ts
  extensions/advanced-replace/src/utilities/storage.ts
  extensions/advanced-replace/tsconfig.json
Labels: new extension

#16091 feat: Add Search Blockchain extension
  extensions/search-blockchain/.eslintrc.json
  extensions/search-blockchain/.gitignore
  extensions/search-blockchain/.prettierrc
  extensions/search-blockchain/CHANGELOG.md
  extensions/search-blockchain/README.md
  extensions/search-blockchain/assets/command-icon.png
  extensions/search-blockchain/metadata/screenshot-1.png
  extensions/search-blockchain/package-lock.json
  extensions/search-blockchain/package.json
  extensions/search-blockchain/src/apps/Blockchair.ts
  extensions/search-blockchain/src/apps/Cardanoscan.ts
  extensions/search-blockchain/src/apps/Eosflare.ts
  extensions/search-blockchain/src/apps/Etherscan.ts
  extensions/search-blockchain/src/apps/Neoscan.ts
  extensions/search-blockchain/src/apps/Ont.ts
  extensions/search-blockchain/src/apps/Polygonscan.ts
  extensions/search-blockchain/src/apps/SolanaFm.ts
  extensions/search-blockchain/src/apps/Steexp.ts
  extensions/search-blockchain/src/apps/Subscan.ts
  extensions/search-blockchain/src/apps/Tronscan.ts
  extensions/search-blockchain/src/apps/Xmr.ts
  extensions/search-blockchain/src/apps/Xrpscan.ts
  extensions/search-blockchain/src/apps/index.ts
  extensions/search-blockchain/src/apps/utils/createExplorer.ts
  extensions/search-blockchain/src/apps/utils/index.ts
  extensions/search-blockchain/src/apps/utils/isValidTxHash.ts
  extensions/search-blockchain/src/bitcoin-command.tsx
  extensions/search-blockchain/src/cardano-command.tsx
  extensions/search-blockchain/src/commands/Search/Search.ts
  extensions/search-blockchain/src/commands/Search/index.ts
  extensions/search-blockchain/src/create-command.tsx
  extensions/search-blockchain/src/eos-command.tsx
  extensions/search-blockchain/src/ethereum-command.tsx
  extensions/search-blockchain/src/monero-command.tsx
  extensions/search-blockchain/src/neo-command.tsx
  extensions/search-blockchain/src/ontology-command.tsx
  extensions/search-blockchain/src/polkadot-command.tsx
  extensions/search-blockchain/src/polygon-command.tsx
  extensions/search-blockchain/src/solana-command.tsx
  extensions/search-blockchain/src/stellar-command.tsx
  extensions/search-blockchain/src/tron-command.tsx
  extensions/search-blockchain/src/types/index.ts
  extensions/search-blockchain/src/xrp-command.tsx
  extensions/search-blockchain/tsconfig.json
Labels: new extension

#16022 Update vortex extension
  extensions/vortex/CHANGELOG.md
  extensions/vortex/README.md
  extensions/vortex/assets/withdraw.png
  extensions/vortex/package-lock.json
  extensions/vortex/package.json
  extensions/vortex/src/CreateInvoice.tsx
  extensions/vortex/src/ListTransactions.tsx
  extensions/vortex/src/Redeem.tsx
  extensions/vortex/src/Send.tsx
  extensions/vortex/src/components/CashuRedeem.tsx
  extensions/vortex/src/components/ConnectionError.tsx
  extensions/vortex/src/components/LnurlRedeem.tsx
  extensions/vortex/src/components/PayInvoice.tsx
  extensions/vortex/src/components/PayToLightningAddress.tsx
  extensions/vortex/src/constants/index.ts
  extensions/vortex/src/types/index.d.ts
  extensions/vortex/src/utils/cashuRedeemUtils.ts
  extensions/vortex/src/utils/getFiatValues.ts
  extensions/vortex/src/utils/wallet.ts
Labels: extension fix / improvement, extension: vortex

#16259 Update json-format extension
  extensions/json-format/CHANGELOG.md
  extensions/json-format/package.json
  extensions/json-format/src/formatToJsonValue.tsx
Labels: extension fix / improvement, extension: json-format

#16141 Add upnote extension
  extensions/upnote/.eslintrc.json
  extensions/upnote/.gitignore
  extensions/upnote/.prettierrc
  extensions/upnote/CHANGELOG.md
  extensions/upnote/README.md
  extensions/upnote/assets/extension_icon.png
  extensions/upnote/metadata/upnote-1.png
  extensions/upnote/metadata/upnote-2.png
  extensions/upnote/metadata/upnote-3.png
  extensions/upnote/package-lock.json
  extensions/upnote/package.json
  extensions/upnote/src/create-note.tsx
  extensions/upnote/src/create-notebook.tsx
  extensions/upnote/src/view-tag.tsx
  extensions/upnote/tsconfig.json
Labels: new extension

#16079 Nextcloud Search Extension API fix
  extensions/nextcloud/CHANGELOG.md
  extensions/nextcloud/package.json
  extensions/nextcloud/src/search/hooks.tsx
Labels: extension fix / improvement, extension: nextcloud

#16281 [Rectangle] Add Cascade actions
  extensions/rectangle/CHANGELOG.md
  extensions/rectangle/DEVELOPMENT.md
  extensions/rectangle/README.md
  extensions/rectangle/assets/window-positions/cascadeAllTemplate.png
  extensions/rectangle/assets/window-positions/cascadeAllTemplate@dark.png
  extensions/rectangle/assets/window-positions/cascadeAppTemplate.png
  extensions/rectangle/assets/window-positions/cascadeAppTemplate@dark.png
  extensions/rectangle/devbox.lock
  extensions/rectangle/media/rectangle-add-cascade-app.png
  extensions/rectangle/package-lock.json
  extensions/rectangle/package.json
  extensions/rectangle/src/actions/rectangle-pro.test.ts
  extensions/rectangle/src/actions/rectangle-pro.ts
  extensions/rectangle/src/actions/rectangle.ts
  extensions/rectangle/src/cascade-all.ts
  extensions/rectangle/src/icons/.prettierignore
  extensions/rectangle/src/icons/generateIcons.py
  extensions/rectangle/src/icons/window-position-templates/cascadeAllTemplate.png
  extensions/rectangle/src/icons/window-position-templates/cascadeAppTemplate.png
  extensions/rectangle/vitest.config.ts
Labels: extension fix / improvement, OP is author, extension: rectangle

#16260 Update safari extension
  extensions/safari/CHANGELOG.md
  extensions/safari/package.json
  extensions/safari/src/copy-title-as-link-to-clipboard.ts
  extensions/safari/src/utils.ts
  extensions/safari/tsconfig.json
Labels: extension fix / improvement, OP is contributor, extension: safari

#16140 Add elevenlabs-tts extension
  extensions/elevenlabs-tts/.eslintrc.json
  extensions/elevenlabs-tts/.gitignore
  extensions/elevenlabs-tts/.nvmrc
  extensions/elevenlabs-tts/.prettierrc
  extensions/elevenlabs-tts/CHANGELOG.md
  extensions/elevenlabs-tts/README.md
  extensions/elevenlabs-tts/assets/extension-icon.png
  extensions/elevenlabs-tts/images/readme/elevenlabs-settings-screen.png
  extensions/elevenlabs-tts/images/readme/voice-selection-dropdown.png
  extensions/elevenlabs-tts/jest.config.json
  extensions/elevenlabs-tts/package-lock.json
  extensions/elevenlabs-tts/package.json
  extensions/elevenlabs-tts/src/audio/AudioManager.ts
  extensions/elevenlabs-tts/src/audio/types.ts
  extensions/elevenlabs-tts/src/speak-selected.tsx
  extensions/elevenlabs-tts/src/text/processing.test.ts
  extensions/elevenlabs-tts/src/text/processing.ts
  extensions/elevenlabs-tts/src/text/validation.test.ts
  extensions/elevenlabs-tts/src/text/validation.ts
  extensions/elevenlabs-tts/src/voice/settings.test.ts
  extensions/elevenlabs-tts/src/voice/settings.ts
  extensions/elevenlabs-tts/src/voice/types.ts
  extensions/elevenlabs-tts/tsconfig.json
Labels: new extension

#16143 Update keepassxc extension
  extensions/keepassxc/CHANGELOG.md
  extensions/keepassxc/README.md
  extensions/keepassxc/assets/keepassxc.png
  extensions/keepassxc/media/createDatabase.png
  extensions/keepassxc/media/example.gif
  extensions/keepassxc/media/preferences.png
  extensions/keepassxc/metadata/keepassxc-1.png
  extensions/keepassxc/metadata/keepassxc-2.png
  extensions/keepassxc/metadata/keepassxc-3.png
  extensions/keepassxc/metadata/keepassxc-4.png
  extensions/keepassxc/metadata/keepassxc-5.png
  extensions/keepassxc/package-lock.json
  extensions/keepassxc/package.json
  extensions/keepassxc/src/components/search-database.tsx
  extensions/keepassxc/src/components/unlock-database.tsx
  extensions/keepassxc/src/index.tsx
  extensions/keepassxc/src/search.tsx
  extensions/keepassxc/src/utils/inactivity-timer.ts
  extensions/keepassxc/src/utils/keepass-loader.ts
  extensions/keepassxc/src/utils/keepassLoader.ts
Labels: extension fix / improvement, OP is contributor, extension: keepassxc

#16289 Update pdb-explorer extension
  extensions/pdb-explorer/CHANGELOG.md
  extensions/pdb-explorer/package-lock.json
  extensions/pdb-explorer/package.json
  extensions/pdb-explorer/src/get-title.tsx
Labels: extension fix / improvement, OP is author, extension: pdb-explorer

#16327 [Search npm] Hide toast when `historyCount` is zero
  extensions/search-npm/CHANGELOG.md
  extensions/search-npm/package-lock.json
  extensions/search-npm/package.json
  extensions/search-npm/src/components/CopyInstallCommandActions.tsx
  extensions/search-npm/src/components/PackagListItem.tsx
  extensions/search-npm/src/index.tsx
  extensions/search-npm/src/utils/history-storage.ts
  extensions/search-npm/tsconfig.json
Labels: extension fix / improvement, OP is contributor, extension: search-npm

#16315 [Easydict v2.10.1] 🐞 fix: update Youdao translate API, limit bing retry count
  extensions/easydict/CHANGELOG.md
  extensions/easydict/package-lock.json
  extensions/easydict/src/consts.ts
  extensions/easydict/src/dataManager/dataManager.ts
  extensions/easydict/src/dictionary/youdao/key.type.ts
  extensions/easydict/src/dictionary/youdao/translate.type.ts
  extensions/easydict/src/dictionary/youdao/youdao.ts
  extensions/easydict/src/dictionary/youdao/youdaoTranslate.ts
  extensions/easydict/src/releaseVersion/versionInfo.ts
  extensions/easydict/src/translation/microsoft/bing.ts
  extensions/easydict/src/types.ts
Labels: extension fix / improvement, OP is author, extension: easydict

#16338 Update workouts extension
  extensions/workouts/CHANGELOG.md
  extensions/workouts/assets/calculator.png
  extensions/workouts/package-lock.json
  extensions/workouts/package.json
  extensions/workouts/src/calculator.tsx
  extensions/workouts/src/constants.ts
  extensions/workouts/src/routes.tsx
  extensions/workouts/src/utils.ts
  extensions/workouts/tsconfig.json
Labels: extension fix / improvement, OP is contributor, extension: workouts

#16355 Update cider extension (#15910)
  extensions/cider/.gitignore
  extensions/cider/CHANGELOG.md
  extensions/cider/package-lock.json
  extensions/cider/package.json
  extensions/cider/src/add-to-library.ts
  extensions/cider/src/adjust-volume.ts
  extensions/cider/src/favourite-track.ts
  extensions/cider/src/next-track.ts
  extensions/cider/src/now-playing.tsx
  extensions/cider/src/play-pause.ts
  extensions/cider/src/previous-track.ts
  extensions/cider/src/seek.ts
  extensions/cider/src/show-queue.tsx
  extensions/cider/src/stop-playback.ts
  extensions/cider/src/synced-lyrics.tsx
  extensions/cider/src/toggle-autoplay.ts
Labels: extension fix / improvement, OP is author, extension: cider

#16352 Update timers extension
  extensions/timers/.gitignore
  extensions/timers/CHANGELOG.md
  extensions/timers/package.json
Labels: extension fix / improvement, OP is contributor, extension: timers

#16178 Add timecrowd-tracker extension
  extensions/timecrowd-tracker/.eslintrc.json
  extensions/timecrowd-tracker/.gitignore
  extensions/timecrowd-tracker/.prettierrc
  extensions/timecrowd-tracker/CHANGELOG.md
  extensions/timecrowd-tracker/README.md
  extensions/timecrowd-tracker/assets/command-icon.png
  extensions/timecrowd-tracker/metadata/timecrowd-tracker-1.png
  extensions/timecrowd-tracker/metadata/timecrowd-tracker-2.png
  extensions/timecrowd-tracker/metadata/timecrowd-tracker-3.png
  extensions/timecrowd-tracker/package-lock.json
  extensions/timecrowd-tracker/package.json
  extensions/timecrowd-tracker/src/api/category.ts
  extensions/timecrowd-tracker/src/api/dailyActivity.ts
  extensions/timecrowd-tracker/src/api/index.ts
  extensions/timecrowd-tracker/src/api/task.ts
  extensions/timecrowd-tracker/src/api/timeEntry.ts
  extensions/timecrowd-tracker/src/api/timecrowdClient.ts
  extensions/timecrowd-tracker/src/api/user.ts
  extensions/timecrowd-tracker/src/components/CreateTimeEntry.tsx
  extensions/timecrowd-tracker/src/components/DailySection.tsx
  extensions/timecrowd-tracker/src/components/RunningTimeEntry.tsx
  extensions/timecrowd-tracker/src/components/TaskDetail.tsx
  extensions/timecrowd-tracker/src/helpers/category.ts
  extensions/timecrowd-tracker/src/helpers/index.ts
  extensions/timecrowd-tracker/src/hooks/index.ts
  extensions/timecrowd-tracker/src/hooks/useCategories.ts
  extensions/timecrowd-tracker/src/hooks/useCurrentTime.ts
  extensions/timecrowd-tracker/src/hooks/useDailyActivities.ts
  extensions/timecrowd-tracker/src/hooks/useUser.ts
  extensions/timecrowd-tracker/src/index.tsx
  extensions/timecrowd-tracker/tsconfig.json
Labels: new extension

#16362 Update extensions
  extensions/zeabur/.eslintrc.json
  extensions/zeabur/.gitignore
  extensions/zeabur/.prettierrc
  extensions/zeabur/CHANGELOG.md
  extensions/zeabur/LICENSE
  extensions/zeabur/README.md
  extensions/zeabur/assets/extension-icon.png
  extensions/zeabur/metadata/zeabur-docs-1.png
  extensions/zeabur/metadata/zeabur-docs-2.png
  extensions/zeabur/metadata/zeabur-docs-3.png
  extensions/zeabur/package-lock.json
  extensions/zeabur/package.json
  extensions/zeabur/src/search-documentation.tsx
  extensions/zeabur/src/type.ts
  extensions/zeabur/src/util.ts
  extensions/zeabur/tsconfig.json
Labels: new extension

#16348 [Slack] Add `Copy Huddle Link` Action
  extensions/slack/CHANGELOG.md
  extensions/slack/src/search.tsx
Labels: extension fix / improvement, extension: slack

#16320 Update deepseeker extension
  extensions/deepseeker/CHANGELOG.md
  extensions/deepseeker/README.md
  extensions/deepseeker/package-lock.json
  extensions/deepseeker/package.json
  extensions/deepseeker/src/translate.tsx
Labels: extension fix / improvement, OP is author, extension: deepseeker

#16303 feat("android" extension): Add shake action
  extensions/android/.gitignore
  extensions/android/CHANGELOG.md
  extensions/android/package-lock.json
  extensions/android/package.json
  extensions/android/src/list-emulators.tsx
Labels: extension fix / improvement, extension: android

#16345 Add Cursor Extension
  extensions/cursors/.eslintrc.json
  extensions/cursors/.gitignore
  extensions/cursors/.prettierrc
  extensions/cursors/CHANGELOG.md
  extensions/cursors/README.md
  extensions/cursors/assets/cursors.png
  extensions/cursors/metadata/cursors-1.png
  extensions/cursors/package-lock.json
  extensions/cursors/package.json
  extensions/cursors/raycast-env.d.ts
  extensions/cursors/src/const.tsx
  extensions/cursors/src/index.tsx
  extensions/cursors/src/interface.ts
  extensions/cursors/tsconfig.json
Labels: new extension

#15986 Update `Cloudinary` extension - Cache Enhancements + Pagination in `Search`
  extensions/cloudinary/.all-contributorsrc
  extensions/cloudinary/.husky/pre-commit
  extensions/cloudinary/CHANGELOG.md
  extensions/cloudinary/README.md
  extensions/cloudinary/package-lock.json
  extensions/cloudinary/package.json
  extensions/cloudinary/src/components/ViewResource.tsx
  extensions/cloudinary/src/components/ViewResources.tsx
  extensions/cloudinary/src/lib/cloudinary.ts
  extensions/cloudinary/src/search.tsx
  extensions/cloudinary/src/upload-clipboard.tsx
  extensions/cloudinary/src/upload-url.tsx
  extensions/cloudinary/tsconfig.json
Labels: extension fix / improvement, extension: cloudinary

#16312 Add LGTMeow Extension
  extensions/lgtmeow/.eslintrc.json
  extensions/lgtmeow/.gitignore
  extensions/lgtmeow/.prettierrc
  extensions/lgtmeow/CHANGELOG.md
  extensions/lgtmeow/README.md
  extensions/lgtmeow/assets/lgtmeow-icon.png
  extensions/lgtmeow/metadata/lgtmeow-1.png
  extensions/lgtmeow/package-lock.json
  extensions/lgtmeow/package.json
  extensions/lgtmeow/src/choose-lgtm-image.tsx
  extensions/lgtmeow/tsconfig.json
Labels: new extension

#16375 Update zeabur extension
  extensions/zeabur/CHANGELOG.md
  extensions/zeabur/README.md
  extensions/zeabur/assets/zeabur-dark.svg
  extensions/zeabur/assets/zeabur-light.svg
  extensions/zeabur/metadata/zeabur-1.png
  extensions/zeabur/metadata/zeabur-2.png
  extensions/zeabur/metadata/zeabur-3.png
  extensions/zeabur/metadata/zeabur-docs-1.png
  extensions/zeabur/metadata/zeabur-docs-2.png
  extensions/zeabur/metadata/zeabur-docs-3.png
  extensions/zeabur/package-lock.json
  extensions/zeabur/package.json
  extensions/zeabur/src/components/deploying.tsx
  extensions/zeabur/src/deploy-project.tsx
  extensions/zeabur/src/search-documentation.tsx
  extensions/zeabur/src/type.ts
  extensions/zeabur/src/utils/deploy.ts
  extensions/zeabur/src/utils/documentation.ts
Labels: extension fix / improvement, OP is author, extension: zeabur

#16084 Add Inbox AI extension
  extensions/inbox-ai/.eslintrc.json
  extensions/inbox-ai/.gitignore
  extensions/inbox-ai/.prettierrc
  extensions/inbox-ai/.tool-versions
  extensions/inbox-ai/CHANGELOG.md
  extensions/inbox-ai/README.md
  extensions/inbox-ai/assets/inbox-ai-icon.png
  extensions/inbox-ai/metadata/inbox-ai-1.png
  extensions/inbox-ai/metadata/inbox-ai-2.png
  extensions/inbox-ai/metadata/inbox-ai-3.png
  extensions/inbox-ai/package-lock.json
  extensions/inbox-ai/package.json
  extensions/inbox-ai/src/actions.ts
  extensions/inbox-ai/src/audio.tsx
  extensions/inbox-ai/src/components/ActionList.tsx
  extensions/inbox-ai/src/execute.tsx
  extensions/inbox-ai/src/execute_browser_content.tsx
  extensions/inbox-ai/src/execute_selected_text.tsx
  extensions/inbox-ai/src/queue_browser_content.tsx
  extensions/inbox-ai/src/queue_selected_text.tsx
  extensions/inbox-ai/src/screenshot.tsx
  extensions/inbox-ai/src/utils/checkInstall.ts
  extensions/inbox-ai/tsconfig.json
Labels: new extension

#16153 Add zoo extension
  extensions/zoo/.eslintrc.json
  extensions/zoo/.gitignore
  extensions/zoo/.prettierrc
  extensions/zoo/CHANGELOG.md
  extensions/zoo/README.md
  extensions/zoo/assets/zoo.png
  extensions/zoo/assets/zoo@dark.png
  extensions/zoo/media/demo.gif
  extensions/zoo/metadata/zoo-1.png
  extensions/zoo/metadata/zoo-2.png
  extensions/zoo/metadata/zoo-3.png
  extensions/zoo/metadata/zoo-4.png
  extensions/zoo/package-lock.json
  extensions/zoo/package.json
  extensions/zoo/src/api/github-client.ts
  extensions/zoo/src/api/oauth.ts
  extensions/zoo/src/ask-gist.tsx
  extensions/zoo/src/components/action-settings.tsx
  extensions/zoo/src/components/ai-action.tsx
  extensions/zoo/src/components/ai-result-view.tsx
  extensions/zoo/src/components/api.ts
  extensions/zoo/src/components/ask-action.tsx
  extensions/zoo/src/components/common.tsx
  extensions/zoo/src/components/gist-action.tsx
  extensions/zoo/src/components/gist-list.tsx
  extensions/zoo/src/components/util.ts
  extensions/zoo/src/components/with-github-client.tsx
  extensions/zoo/src/create-gist.tsx
  extensions/zoo/src/hooks/useFrontmostApp.ts
  extensions/zoo/src/search-gists.tsx
  extensions/zoo/src/types/preferences.ts
  extensions/zoo/src/util/gist-utils.ts
  extensions/zoo/src/util/input.ts
  extensions/zoo/src/util/utils.ts
  extensions/zoo/tsconfig.json
Labels: new extension

#16214 Update mail extension
  extensions/mail/CHANGELOG.md
  extensions/mail/package.json
  extensions/mail/src/see-recent-mail.tsx
Labels: extension fix / improvement, extension: mail

#16108 Add translate-send-webpage-to-reader extension
  extensions/translate-send-webpage-to-reader/.eslintrc.json
  extensions/translate-send-webpage-to-reader/.gitignore
  extensions/translate-send-webpage-to-reader/.prettierrc
  extensions/translate-send-webpage-to-reader/CHANGELOG.md
  extensions/translate-send-webpage-to-reader/README.md
  extensions/translate-send-webpage-to-reader/assets/extension-icon.png
  extensions/translate-send-webpage-to-reader/package-lock.json
  extensions/translate-send-webpage-to-reader/package.json
  extensions/translate-send-webpage-to-reader/src/translate-send-webpage-to-Reader.tsx
  extensions/translate-send-webpage-to-reader/tsconfig.json
Labels: new extension

#16168 Add openstatus extension
  extensions/openstatus/.eslintrc.json
  extensions/openstatus/.gitignore
  extensions/openstatus/.prettierrc
  extensions/openstatus/CHANGELOG.md
  extensions/openstatus/README.md
  extensions/openstatus/assets/OpenStatus.png
  extensions/openstatus/assets/create-status-report.png
  extensions/openstatus/assets/show-monitor.png
  extensions/openstatus/metadata/openstatus-1.png
  extensions/openstatus/metadata/openstatus-2.png
  extensions/openstatus/package-lock.json
  extensions/openstatus/package.json
  extensions/openstatus/src/api/schema.ts
  extensions/openstatus/src/create-status-report-update.tsx
  extensions/openstatus/src/create-status-report.tsx
  extensions/openstatus/src/show-monitors.tsx
  extensions/openstatus/src/show-status-page.tsx
  extensions/openstatus/tsconfig.json
Labels: new extension

#16179 Add Kubernetes extension
  extensions/kubernetes/.eslintrc.json
  extensions/kubernetes/.gitignore
  extensions/kubernetes/.prettierrc
  extensions/kubernetes/CHANGELOG.md
  extensions/kubernetes/README.md
  extensions/kubernetes/assets/kubernetes.png
  extensions/kubernetes/metadata/kubernetes-1.png
  extensions/kubernetes/metadata/kubernetes-2.png
  extensions/kubernetes/metadata/kubernetes-3.png
  extensions/kubernetes/package-lock.json
  extensions/kubernetes/package.json
  extensions/kubernetes/src/api/appsV1.ts
  extensions/kubernetes/src/api/coreV1.ts
  extensions/kubernetes/src/api/utils.ts
  extensions/kubernetes/src/components/namespace-dropdown.tsx
  extensions/kubernetes/src/components/resource-list.tsx
  extensions/kubernetes/src/get-daemonsets.tsx
  extensions/kubernetes/src/get-deployments.tsx
  extensions/kubernetes/src/get-nodes.tsx
  extensions/kubernetes/src/get-pods.tsx
  extensions/kubernetes/src/get-services.tsx
  extensions/kubernetes/src/get-statefulsets.tsx
  extensions/kubernetes/src/states/context.tsx
  extensions/kubernetes/src/states/namespace.tsx
  extensions/kubernetes/src/utils/color.ts
  extensions/kubernetes/src/utils/duration.ts
  extensions/kubernetes/tsconfig.json
Labels: new extension

#16074 Add `Ghostty` support to terminal finder
  extensions/terminalfinder/CHANGELOG.md
  extensions/terminalfinder/package-lock.json
  extensions/terminalfinder/package.json
  extensions/terminalfinder/src/clipboardToGhostty.tsx
  extensions/terminalfinder/src/finderToGhostty.tsx
  extensions/terminalfinder/src/ghosttyToFinder.tsx
Labels: extension fix / improvement, extension: terminalfinder

#16078 Updated `fastmail-masked-email` extension
  extensions/fastmail-masked-email/CHANGELOG.md
  extensions/fastmail-masked-email/package-lock.json
  extensions/fastmail-masked-email/package.json
  extensions/fastmail-masked-email/src/create.tsx
  extensions/fastmail-masked-email/src/fastmail.ts
  extensions/fastmail-masked-email/src/list.tsx
Labels: extension fix / improvement, OP is contributor, extension: fastmail-masked-email

#16186 Update ai-text-to-calendar extension
  extensions/ai-text-to-calendar/CHANGELOG.md
  extensions/ai-text-to-calendar/README.md
  extensions/ai-text-to-calendar/package-lock.json
  extensions/ai-text-to-calendar/package.json
  extensions/ai-text-to-calendar/src/ai-text-to-calendar.ts
Labels: extension fix / improvement, extension: ai-text-to-calendar

#16073 Add CRUD options for gopass
  extensions/gopass/CHANGELOG.md
  extensions/gopass/package-lock.json
  extensions/gopass/package.json
  extensions/gopass/src/.index.tsx.swp
  extensions/gopass/src/create-edit.tsx
  extensions/gopass/src/details.tsx
  extensions/gopass/src/gopass.ts
  extensions/gopass/src/index.tsx
Labels: extension fix / improvement, extension: gopass

#16384 Updated cursor css names
  extensions/cursors/CHANGELOG.md
  extensions/cursors/src/const.tsx
Labels: extension fix / improvement, OP is author, OP is contributor, extension: cursors

#16269 Supahabits/add repeatable habit
  extensions/supahabits/CHANGELOG.md
  extensions/supahabits/package-lock.json
  extensions/supahabits/src/components/create-repeatable-habit.tsx
  extensions/supahabits/src/index.tsx
  extensions/supahabits/src/journal-list.tsx
  extensions/supahabits/src/models/habit.ts
Labels: extension fix / improvement, OP is author, extension: supahabits

#16395 [Time Tracking] Export as CSV
  extensions/time-tracking/CHANGELOG.md
  extensions/time-tracking/README.md
  extensions/time-tracking/metadata/time-tracking-3.png
  extensions/time-tracking/package-lock.json
  extensions/time-tracking/package.json
  extensions/time-tracking/src/Timers.ts
  extensions/time-tracking/src/view-project-timers.tsx
Labels: extension fix / improvement, extension: time-tracking

#16351 Update safari extension
  extensions/safari/CHANGELOG.md
  extensions/safari/package.json
Labels: extension fix / improvement, OP is contributor, extension: safari

#16276 [Amphetamine] Fixes Session duration reset when interval changes
  extensions/amphetamine/CHANGELOG.md
  extensions/amphetamine/package.json
  extensions/amphetamine/src/amp-duration.tsx
Labels: extension fix / improvement, OP is author, extension: amphetamine

#16205 Add mirror-displays extension
  extensions/mirror-displays/.eslintrc.json
  extensions/mirror-displays/.gitignore
  extensions/mirror-displays/.nvmrc
  extensions/mirror-displays/.prettierrc
  extensions/mirror-displays/CHANGELOG.md
  extensions/mirror-displays/README.md
  extensions/mirror-displays/assets/extension_icon.png
  extensions/mirror-displays/package-lock.json
  extensions/mirror-displays/package.json
  extensions/mirror-displays/src/mirror-displays.ts
  extensions/mirror-displays/tsconfig.json
Labels: new extension

#16254 Update raycast-gemini extension
  extensions/raycast-gemini/CHANGELOG.md
  extensions/raycast-gemini/package-lock.json
  extensions/raycast-gemini/package.json
  extensions/raycast-gemini/src/translate.jsx
Labels: extension fix / improvement, extension: raycast-gemini

#16024 Add nzbget extension
  extensions/nzbget/.eslintrc.json
  extensions/nzbget/.gitignore
  extensions/nzbget/.prettierrc
  extensions/nzbget/CHANGELOG.md
  extensions/nzbget/README.md
  extensions/nzbget/assets/command-icon.png
  extensions/nzbget/metadata/nzbget-1.png
  extensions/nzbget/package-lock.json
  extensions/nzbget/package.json
  extensions/nzbget/src/lib/downloads.ts
  extensions/nzbget/src/lib/get-preferences.ts
  extensions/nzbget/src/manage-download-history.tsx
  extensions/nzbget/src/manage-downloads.tsx
  extensions/nzbget/tsconfig.json
Labels: new extension

#16417 Bugfix/issue 16398: Fixing Rabbit Hole Journal error + Adding new Entry types
  extensions/rabbit-hole/CHANGELOG.md
  extensions/rabbit-hole/assets/beta-rabbit.png
  extensions/rabbit-hole/assets/reminder.png
  extensions/rabbit-hole/assets/search-memory.png
  extensions/rabbit-hole/package-lock.json
  extensions/rabbit-hole/package.json
  extensions/rabbit-hole/src/index.tsx
  extensions/rabbit-hole/src/utils/helpers.ts
Labels: extension fix / improvement, OP is author, extension: rabbit-hole

#16405 Update search-shopify-liquid-documentation extension
  extensions/search-shopify-liquid-documentation/CHANGELOG.md
  extensions/search-shopify-liquid-documentation/package.json
  extensions/search-shopify-liquid-documentation/src/docs.ts
Labels: extension fix / improvement, OP is author, extension: search-shopify-liquid-documentation

#16343 Update wp-bones extension
  extensions/wp-bones/CHANGELOG.md
  extensions/wp-bones/src/menu-bar.tsx
Labels: extension fix / improvement, OP is author, extension: wp-bones

#16431 fix OTP Auth
  extensions/otp-auth/.eslintrc.json
  extensions/otp-auth/.prettierrc
  extensions/otp-auth/CHANGELOG.md
  extensions/otp-auth/package.json
Labels: extension fix / improvement, OP is author, extension: otp-auth

#16287 Update google-chrome extension
  extensions/google-chrome/.gitignore
  extensions/google-chrome/CHANGELOG.md
  extensions/google-chrome/package.json
  extensions/google-chrome/src/interfaces/index.ts
  extensions/google-chrome/src/util/index.ts
Labels: extension fix / improvement, extension: google-chrome

#16436 Add adguard-home extension
  extensions/adguard-home/.eslintrc.json
  extensions/adguard-home/.gitignore
  extensions/adguard-home/.prettierrc
  extensions/adguard-home/CHANGELOG.md
  extensions/adguard-home/LICENSE
  extensions/adguard-home/README.md
  extensions/adguard-home/__mocks__/@raycast/api.tsx
  extensions/adguard-home/assets/command-icon.png
  extensions/adguard-home/images/adguard-home-query-log.png
  extensions/adguard-home/images/adguard-home-toggle-protection.png
  extensions/adguard-home/images/adguard-home-top-blocked-domains.png
  extensions/adguard-home/images/adguard-home-view-statistics.png
  extensions/adguard-home/jest.config.js
  extensions/adguard-home/package-lock.json
  extensions/adguard-home/package.json
  extensions/adguard-home/src/api.ts
  extensions/adguard-home/src/components/CustomRules.tsx
  extensions/adguard-home/src/components/DomainListItem.tsx
  extensions/adguard-home/src/components/QueryLog.tsx
  extensions/adguard-home/src/components/__tests__/CustomRules.test.tsx
  extensions/adguard-home/src/hooks/useAutoRefresh.ts
  extensions/adguard-home/src/hooks/useCommandData.ts
  extensions/adguard-home/src/index.tsx
  extensions/adguard-home/src/manage-rules.tsx
  extensions/adguard-home/src/query-log.tsx
  extensions/adguard-home/src/setupTests.ts
  extensions/adguard-home/src/toggle-protection.tsx
  extensions/adguard-home/src/top-blocked.tsx
  extensions/adguard-home/src/top-clients.tsx
  extensions/adguard-home/src/top-queried.tsx
  extensions/adguard-home/src/top-upstreams.tsx
  extensions/adguard-home/src/utils/error.ts
  extensions/adguard-home/src/view-stats.tsx
  extensions/adguard-home/terminal
  extensions/adguard-home/tsconfig.json
  extensions/adguard-home/tsconfig.test.json
Labels: new extension

#16440 Update wise-accounts extension
  extensions/wise-accounts/CHANGELOG.md
  extensions/wise-accounts/src/api/latestTransactions.ts
  extensions/wise-accounts/src/get-transactions.tsx
Labels: extension fix / improvement, OP is contributor, extension: wise-accounts

#16457 Fix crawler behaviour issue caused by page structure change.
  extensions/coinmarketcap-crypto-crawler/.gitignore
  extensions/coinmarketcap-crypto-crawler/CHANGELOG.md
  extensions/coinmarketcap-crypto-crawler/package-lock.json
  extensions/coinmarketcap-crypto-crawler/package.json
  extensions/coinmarketcap-crypto-crawler/screenshots/Coin Watchlist.png
  extensions/coinmarketcap-crypto-crawler/screenshots/Currency Converter.png
  extensions/coinmarketcap-crypto-crawler/screenshots/Search Crypto Token.png
  extensions/coinmarketcap-crypto-crawler/src/api/index.ts
  extensions/coinmarketcap-crypto-crawler/src/components/CoinListItem.tsx
  extensions/coinmarketcap-crypto-crawler/src/components/CurrencyConverter.tsx
  extensions/coinmarketcap-crypto-crawler/src/index.tsx
  extensions/coinmarketcap-crypto-crawler/src/refresh.tsx
  extensions/coinmarketcap-crypto-crawler/src/types.ts
  extensions/coinmarketcap-crypto-crawler/src/utils/index.ts
  extensions/coinmarketcap-crypto-crawler/src/utils/refreshCryptoList.tsx
  extensions/coinmarketcap-crypto-crawler/src/utils/useCoinPriceStore.tsx
  extensions/coinmarketcap-crypto-crawler/src/utils/useCoinWatchList.tsx
  extensions/coinmarketcap-crypto-crawler/src/utils/useCryptoList.tsx
  extensions/coinmarketcap-crypto-crawler/src/utils/useFavoriteCoins.tsx
  extensions/coinmarketcap-crypto-crawler/src/watchlist.tsx
Labels: extension fix / improvement, OP is author, extension: coinmarketcap-crypto-crawler
