Repository raycast/extensions, pull requests merged in 2025-02, with the labels that each got.

#16766 [Tower Repositories] Handle URI Encoding of Repository Paths
  extensions/tower/CHANGELOG.md
  extensions/tower/package.json
  extensions/tower/src/components/open-bookmark-action.tsx
  extensions/tower/src/dtos/bookmark-dto.ts
Labels: extension fix / improvement, extension: tower

#16745 [Obsidian] Add prepend option to append to daily note command
  extensions/obsidian/CHANGELOG.md
  extensions/obsidian/package.json
  extensions/obsidian/src/dailyNoteAppendCommand.tsx
  extensions/obsidian/src/utils/preferences.tsx
  extensions/obsidian/src/utils/utils.tsx
Labels: extension fix / improvement, OP is author, extension: obsidian

#16748 Update rehooks extension
  extensions/rehooks/CHANGELOG.md
  extensions/rehooks/src/lib/constants.ts
Labels: extension fix / improvement, OP is author, extension: rehooks

#16754 [Raycast Port] Fix JavaScript example code
  extensions/raycast-port/CHANGELOG.md
  extensions/raycast-port/README.md
  extensions/raycast-port/package-lock.json
  extensions/raycast-port/package.json
Labels: extension fix / improvement, OP is author, extension: raycast-port

#16759 Update spiceblow-database extension
  extensions/spiceblow-database/CHANGELOG.md
  extensions/spiceblow-database/README.md
  extensions/spiceblow-database/package-lock.json
  extensions/spiceblow-database/package.json
  extensions/spiceblow-database/src/database.ts
  extensions/spiceblow-database/src/search-database.tsx
  extensions/spiceblow-database/src/types.ts
Labels: extension fix / improvement, OP is author, extension: spiceblow-database

#16724 Update strapi-raycast-extension extension
  extensions/strapi-raycast-extension/CHANGELOG.md
  extensions/strapi-raycast-extension/README.md
  extensions/strapi-raycast-extension/package-lock.json
  extensions/strapi-raycast-extension/package.json
  extensions/strapi-raycast-extension/src/explore-content.tsx
  extensions/strapi-raycast-extension/src/lib/services.ts
  extensions/strapi-raycast-extension/src/search-media-library.tsx
Labels: extension fix / improvement, OP is author, extension: strapi-raycast-extension

#16757 Update hue-palette extension
  extensions/hue-palette/CHANGELOG.md
  extensions/hue-palette/src/components/hue-detail.tsx
Labels: extension fix / improvement, OP is author, extension: hue-palette

#16729 Update github-gist extension
  extensions/github-gist/CHANGELOG.md
  extensions/github-gist/package.json
  extensions/github-gist/src/search-gists.tsx
  extensions/github-gist/src/types/preferences.ts
Labels: extension fix / improvement, extension: github-gist

#16743 Update youtube-downloader extension
  extensions/youtube-downloader/CHANGELOG.md
  extensions/youtube-downloader/package.json
  extensions/youtube-downloader/src/index.tsx
Labels: extension fix / improvement, extension: youtube-downloader

#16658 Update stock-tracker extension - Fix yahoo finance rate limiting
  extensions/stock-tracker/CHANGELOG.md
  extensions/stock-tracker/package.json
  extensions/stock-tracker/src/favorites-list.tsx
  extensions/stock-tracker/src/index.tsx
  extensions/stock-tracker/src/yahoo-finance/client.ts
Labels: extension fix / improvement, extension: stock-tracker

#16701 update klack extension
  extensions/klack/CHANGELOG.md
  extensions/klack/src/runAppleScriptSilently.tsx
  extensions/klack/src/setSwitchSet.tsx
Labels: extension fix / improvement, extension: klack

#16783 update
  extensions/nba-game-viewer/package.json
Labels: extension fix / improvement, extension: nba-game-viewer

#16799 [Punto] Map russian keyboard layouts
  extensions/punto/CHANGELOG.md
  extensions/punto/package.json
Labels: extension fix / improvement, OP is author, extension: punto

#16785 Update youtube-downloader extension
  extensions/youtube-downloader/CHANGELOG.md
  extensions/youtube-downloader/package.json
  extensions/youtube-downloader/src/index.tsx
Labels: extension fix / improvement, OP is contributor, extension: youtube-downloader

#16750 Update remove-background-powered-by-mac extension
  extensions/remove-background-powered-by-mac/CHANGELOG.md
  extensions/remove-background-powered-by-mac/assets/remove-background
  extensions/remove-background-powered-by-mac/package-lock.json
  extensions/remove-background-powered-by-mac/package.json
  extensions/remove-background-powered-by-mac/src/index.ts
  extensions/remove-background-powered-by-mac/src/utils.ts
Labels: extension fix / improvement, extension: remove-background-powered-by-mac

#16562 Added sort on the browser profile names
  extensions/browsers-profiles/CHANGELOG.md
  extensions/browsers-profiles/package-lock.json
  extensions/browsers-profiles/package.json
  extensions/browsers-profiles/src/lib/chromium.ts
  extensions/browsers-profiles/src/lib/firefox.ts
  extensions/browsers-profiles/src/lib/utils.ts
Labels: extension fix / improvement, extension: browsers-profiles

#16747 Update `coffee`: add "Caffeinate Until" command
  extensions/coffee/CHANGELOG.md
  extensions/coffee/package.json
  extensions/coffee/src/caffeinateUntil.ts
Labels: extension fix / improvement, OP is contributor, extension: coffee

#16291 Update docker extension
  extensions/docker/CHANGELOG.md
  extensions/docker/package.json
  extensions/docker/src/container_list.tsx
Labels: extension fix / improvement, extension: docker

#16744 Update raycast-gemini extension
  extensions/raycast-gemini/CHANGELOG.md
  extensions/raycast-gemini/package-lock.json
  extensions/raycast-gemini/package.json
  extensions/raycast-gemini/src/aiChat.jsx
  extensions/raycast-gemini/src/api/gemini.jsx
Labels: extension fix / improvement, extension: raycast-gemini

#16595 [YouTube Downloader] Improve error message
  extensions/youtube-downloader/CHANGELOG.md
  extensions/youtube-downloader/package-lock.json
  extensions/youtube-downloader/package.json
  extensions/youtube-downloader/src/index.tsx
  extensions/youtube-downloader/src/utils.ts
  extensions/youtube-downloader/tsconfig.json
Labels: extension fix / improvement, OP is contributor, extension: youtube-downloader

#16807 Update zeabur extension
  extensions/zeabur/CHANGELOG.md
  extensions/zeabur/package.json
  extensions/zeabur/src/components/deploying.tsx
  extensions/zeabur/src/type.ts
  extensions/zeabur/src/utils/deploy.ts
Labels: extension fix / improvement, OP is author, extension: zeabur

#16793 Sourcegraph: Branding updates and workspaces
  extensions/sourcegraph/CHANGELOG.md
  extensions/sourcegraph/README.md
  extensions/sourcegraph/metadata/1-search.png
  extensions/sourcegraph/metadata/2-search-symbols.png
  extensions/sourcegraph/metadata/2a-search-history.png
  extensions/sourcegraph/metadata/3-batch-change-manage.png
  extensions/sourcegraph/metadata/4-notebook-view.png
  extensions/sourcegraph/package.json
  extensions/sourcegraph/src/components/InstanceCommand.tsx
  extensions/sourcegraph/src/components/SearchCommand.tsx
  extensions/sourcegraph/src/components/colors/index.ts
  extensions/sourcegraph/src/sourcegraph/index.ts
Labels: extension fix / improvement, OP is author, extension: sourcegraph

#16787 [Spotify Player] Fix a possibly null issue from `getMeAlbums` API
  extensions/spotify-player/CHANGELOG.md
  extensions/spotify-player/package.json
  extensions/spotify-player/src/api/getMySavedAlbums.ts
Labels: extension fix / improvement, extension: spotify-player

#16760 Add Linear focus sub-commands when creating an issue
  extensions/linear/CHANGELOG.md
  extensions/linear/src/components/CreateIssueForm.tsx
Labels: extension fix / improvement, extension: linear

#16883 Update jira extension to fix Git branch name format
  extensions/jira/CHANGELOG.md
  extensions/jira/package.json
  extensions/jira/src/helpers/issues.ts
Labels: extension fix / improvement, extension: jira

#16899 Slack: Add Action: "Copy Message URL" to Search Messages command
  extensions/slack/CHANGELOG.md
  extensions/slack/src/search-messages.tsx
Labels: extension fix / improvement, OP is contributor, extension: slack

#16937 Update zen-browser extension
  extensions/zen-browser/CHANGELOG.md
  extensions/zen-browser/package.json
  extensions/zen-browser/src/constants.ts
  extensions/zen-browser/src/util/index.ts
Labels: extension fix / improvement, extension: zen-browser

#16904 Update hidemyemail extension
  extensions/hidemyemail/CHANGELOG.md
  extensions/hidemyemail/src/api/connect.ts
  extensions/hidemyemail/src/components/forms/LoginForm.tsx
  extensions/hidemyemail/src/components/forms/TwoFactorAuthForm.tsx
  extensions/hidemyemail/src/list-emails.tsx
Labels: extension fix / improvement, OP is author, extension: hidemyemail

#16901 [The Blue Cloud] Update `Dropbox` extension - Download files + Open directory in browser
  extensions/the-blue-cloud/CHANGELOG.md
  extensions/the-blue-cloud/README.md
  extensions/the-blue-cloud/metadata/dropbox-1.png
  extensions/the-blue-cloud/metadata/the-blue-cloud-1.png
  extensions/the-blue-cloud/metadata/the-blue-cloud-2.png
  extensions/the-blue-cloud/package-lock.json
  extensions/the-blue-cloud/package.json
  extensions/the-blue-cloud/src/api/auth.ts
  extensions/the-blue-cloud/src/api/dropbox.ts
  extensions/the-blue-cloud/src/api/oauth.ts
  extensions/the-blue-cloud/src/components/DirectoryItem.tsx
  extensions/the-blue-cloud/src/components/FileItem.tsx
Labels: extension fix / improvement, OP is contributor, extension: the-blue-cloud

#16746 Update `Monday` extension - View items in a board and open in browser + Raycast hooks to simplify caching
  extensions/monday/.eslintrc
  extensions/monday/.gitignore
  extensions/monday/CHANGELOG.md
  extensions/monday/assets/work-management.svg
  extensions/monday/metadata/monday-com-1.png
  extensions/monday/package-lock.json
  extensions/monday/package.json
  extensions/monday/src/addItem.tsx
  extensions/monday/src/boardItems.tsx
  extensions/monday/src/index.tsx
  extensions/monday/src/lib/api.tsx
  extensions/monday/src/lib/helpers.tsx
  extensions/monday/src/lib/models.tsx
  extensions/monday/src/lib/persistence.tsx
  extensions/monday/src/quickAddItem.tsx
  extensions/monday/src/team.tsx
  extensions/monday/src/userDetails.tsx
  extensions/monday/tsconfig.json
Labels: extension fix / improvement, extension: monday

#16727 Add `UptimeRobot` extension - View Monitors + View Account Details
  extensions/uptime-robot/.eslintrc.json
  extensions/uptime-robot/.gitignore
  extensions/uptime-robot/.prettierrc
  extensions/uptime-robot/CHANGELOG.md
  extensions/uptime-robot/README.md
  extensions/uptime-robot/assets/up.png
  extensions/uptime-robot/metadata/uptime-robot-1.png
  extensions/uptime-robot/metadata/uptime-robot-2.png
  extensions/uptime-robot/package-lock.json
  extensions/uptime-robot/package.json
  extensions/uptime-robot/src/account-details.tsx
  extensions/uptime-robot/src/config.ts
  extensions/uptime-robot/src/lib/hooks/use-uptime-robot.ts
  extensions/uptime-robot/src/lib/utils/has-day-passed.ts
  extensions/uptime-robot/src/lib/utils/unix-to-date.ts
  extensions/uptime-robot/src/monitors.tsx
  extensions/uptime-robot/src/types.ts
  extensions/uptime-robot/tsconfig.json
Labels: new extension

#16655 Update `RSS Reader` extension - remember story last read + filter by read status (close issue) (re-open PR)
  extensions/rss-reader/CHANGELOG.md
  extensions/rss-reader/README.md
  extensions/rss-reader/src/stories.tsx
Labels: extension fix / improvement, OP is contributor, extension: rss-reader

#16828 Add `Spaceship` (spaceship.com) extension - View Domains and View DNS Records
  extensions/spaceship/.eslintrc.json
  extensions/spaceship/.gitignore
  extensions/spaceship/.prettierrc
  extensions/spaceship/CHANGELOG.md
  extensions/spaceship/README.md
  extensions/spaceship/assets/extension-icon.png
  extensions/spaceship/metadata/spaceship-1.png
  extensions/spaceship/metadata/spaceship-2.png
  extensions/spaceship/package-lock.json
  extensions/spaceship/package.json
  extensions/spaceship/src/manage-domains.tsx
  extensions/spaceship/src/types.ts
  extensions/spaceship/tsconfig.json
Labels: new extension

#16765 Update `Sanity` extension - Add "Search Datasets" to "Search Projects" + replace `Cache` with `useCachedPromise`
  extensions/sanity/CHANGELOG.md
  extensions/sanity/package.json
  extensions/sanity/src/search-projects.tsx
  extensions/sanity/tsconfig.json
Labels: extension fix / improvement, OP is contributor, extension: sanity

#16870 Update `Rebrandly` extension - add a new Action to delete link
  extensions/rebrandly/CHANGELOG.md
  extensions/rebrandly/package-lock.json
  extensions/rebrandly/package.json
  extensions/rebrandly/src/hooks.ts
  extensions/rebrandly/src/rebrandly.tsx
Labels: extension fix / improvement, OP is contributor, extension: rebrandly

#16930 [Groq] updated models + reasoning formatting
  extensions/groq/CHANGELOG.md
  extensions/groq/package.json
  extensions/groq/src/hook/accessAPI.tsx
  extensions/groq/src/hook/utils.ts
Labels: extension fix / improvement, OP is author, extension: groq

#16915 Launchdarkly improvements
  extensions/launchdarkly/CHANGELOG.md
  extensions/launchdarkly/README.md
  extensions/launchdarkly/src/commands/ListFeatureFlags.tsx
  extensions/launchdarkly/src/components/EnvironmentsList.tsx
  extensions/launchdarkly/src/components/FlagDetails.tsx
  extensions/launchdarkly/src/components/FlagDetailsHeader.tsx
  extensions/launchdarkly/src/utils/avatarUtils.ts
Labels: extension fix / improvement, OP is author, extension: launchdarkly

#16862 Update adguard-home extension
  extensions/adguard-home/CHANGELOG.md
  extensions/adguard-home/package.json
  extensions/adguard-home/src/snooze-protection.tsx
  extensions/adguard-home/src/toggle-protection.tsx
Labels: extension fix / improvement, OP is author, extension: adguard-home

#16857 [Dashlane-Vault] Improvements
  extensions/dashlane-vault/CHANGELOG.md
  extensions/dashlane-vault/package-lock.json
  extensions/dashlane-vault/package.json
  extensions/dashlane-vault/src/components/ListItemPassword.tsx
  extensions/dashlane-vault/src/devices.tsx
  extensions/dashlane-vault/src/helper/error.ts
  extensions/dashlane-vault/src/lib/dcli.ts
  extensions/dashlane-vault/src/sync.ts
  extensions/dashlane-vault/src/types/dcli.ts
Labels: extension fix / improvement, OP is author, extension: dashlane-vault

#16832 Update Deepseeker extension
  extensions/deepseeker/CHANGELOG.md
  extensions/deepseeker/README.md
  extensions/deepseeker/assets/trans-bug.gif
  extensions/deepseeker/package.json
  extensions/deepseeker/src/api.ts
  extensions/deepseeker/src/ask.tsx
  extensions/deepseeker/src/ask_on.tsx
  extensions/deepseeker/src/common.tsx
  extensions/deepseeker/src/customa.tsx
  extensions/deepseeker/src/customb.tsx
  extensions/deepseeker/src/execute.tsx
  extensions/deepseeker/src/fix.tsx
  extensions/deepseeker/src/rephrase.tsx
  extensions/deepseeker/src/summarize.tsx
  extensions/deepseeker/src/translate.tsx
  extensions/deepseeker/src/what.tsx
  extensions/deepseeker/src/why.tsx
Labels: extension fix / improvement, OP is author, extension: deepseeker

#16815 fix(KeePassXC): use OTPAuth to retrieve TOTP codes
  extensions/keepassxc/CHANGELOG.md
  extensions/keepassxc/README.md
  extensions/keepassxc/package-lock.json
  extensions/keepassxc/package.json
  extensions/keepassxc/src/components/search-database.tsx
  extensions/keepassxc/src/utils/keepass-loader.ts
  extensions/keepassxc/src/utils/totp.ts
Labels: extension fix / improvement, extension: keepassxc

#16811 [Punto] UA layouts
  extensions/punto/CHANGELOG.md
  extensions/punto/README.md
  extensions/punto/package.json
  extensions/punto/src/index.ts
Labels: extension fix / improvement, OP is author, extension: punto

#16763 Apple Reminders: Add option to group by "Upcoming"
  extensions/apple-reminders/CHANGELOG.md
  extensions/apple-reminders/src/hooks/useViewReminders.ts
Labels: extension fix / improvement, OP is author, extension: apple-reminders

#16485 [Messages] Filter out phone numbers from OTP codes
  extensions/messages/CHANGELOG.md
  extensions/messages/package.json
  extensions/messages/src/paste-latest-otp-code.tsx
Labels: extension fix / improvement, extension: messages

#16919 Hide my Email extension: Make it possible to search by email address or note in list emails command
  extensions/hidemyemail/CHANGELOG.md
  extensions/hidemyemail/package.json
  extensions/hidemyemail/src/list-emails.tsx
Labels: extension fix / improvement, extension: hidemyemail

#16587 Add sniffer extension
  extensions/sniffer/.eslintrc.json
  extensions/sniffer/.gitignore
  extensions/sniffer/.prettierrc
  extensions/sniffer/CHANGELOG.md
  extensions/sniffer/assets/extension_icon.png
  extensions/sniffer/package-lock.json
  extensions/sniffer/package.json
  extensions/sniffer/src/hotspot.tsx
  extensions/sniffer/src/service.tsx
  extensions/sniffer/tsconfig.json
  extensions/sniffer/types.d.ts
  extensions/snifferREADME.md
Labels: new extension

#17001 Update 1password extension
  extensions/1password/CHANGELOG.md
  extensions/1password/src/v8/components/AuthContext.tsx
  extensions/1password/src/v8/components/Error.tsx
Labels: extension fix / improvement, OP is contributor, extension: 1password

#16445 Update safari extension
  extensions/safari/CHANGELOG.md
  extensions/safari/src/components/BookmarkListItem.tsx
  extensions/safari/src/components/BookmarkListSection.tsx
  extensions/safari/src/components/BookmarkTagColorForm.tsx
  extensions/safari/src/search-bookmarks.tsx
Labels: extension fix / improvement, OP is contributor, extension: safari

#16987 Update `Sav` extension - Toggle "Auto Renewal" & "Domain/Whois Privacy"
  extensions/sav/CHANGELOG.md
  extensions/sav/README.md
  extensions/sav/metadata/sav-1.png
  extensions/sav/package-lock.json
  extensions/sav/package.json
  extensions/sav/src/hooks.ts
  extensions/sav/src/my-domains.tsx
Labels: extension fix / improvement, OP is author, extension: sav

#17005 Updated dependencies
  extensions/aliyun-oss/CHANGELOG.md
  extensions/aliyun-oss/package-lock.json
  extensions/aliyun-oss/package.json
Labels: extension fix / improvement, extension: aliyun-oss

#17013 OSS: Override urllib version.
  extensions/aliyun-oss/CHANGELOG.md
  extensions/aliyun-oss/package-lock.json
  extensions/aliyun-oss/package.json
Labels: extension fix / improvement, extension: aliyun-oss

#17014 OSS Browser: Override urllib version.
  extensions/oss-browser/CHANGELOG.md
  extensions/oss-browser/package-lock.json
  extensions/oss-browser/package.json
Labels: extension fix / improvement, extension: oss-browser

#16830 Update 1password extension
  extensions/1password/CHANGELOG.md
  extensions/1password/package.json
Labels: extension fix / improvement, OP is contributor, extension: 1password

#16515 [n8n] add new search command using API since Desktop App no longer maintained
  extensions/n8n/.eslintrc.json
  extensions/n8n/.gitignore
  extensions/n8n/CHANGELOG.md
  extensions/n8n/README.md
  extensions/n8n/package-lock.json
  extensions/n8n/package.json
  extensions/n8n/src/components/action-open-preferences.tsx
  extensions/n8n/src/components/app-not-install-view.tsx
  extensions/n8n/src/components/empty-view.tsx
  extensions/n8n/src/search-workflows-api.tsx
  extensions/n8n/src/search-workflows.tsx
  extensions/n8n/src/types/preferences.ts
  extensions/n8n/src/types/types.ts
  extensions/n8n/tsconfig.json
Labels: extension fix / improvement, extension: n8n

#16843 [YouTube Downloader] Add preference for toggling BrowserExtension
  extensions/youtube-downloader/CHANGELOG.md
  extensions/youtube-downloader/package.json
  extensions/youtube-downloader/src/index.tsx
Labels: extension fix / improvement, OP is contributor, extension: youtube-downloader

#16917 Update figma-files-raycast-extension extension
  extensions/figma-files/CHANGELOG.md
  extensions/figma-files/package-lock.json
  extensions/figma-files/package.json
  extensions/figma-files/src/api.ts
  extensions/figma-files/src/components/DevelopmentActionSection.tsx
  extensions/figma-files/src/components/FileGridItem.tsx
  extensions/figma-files/src/components/OpenBranchAction.tsx
  extensions/figma-files/src/components/OpenBranchSubmenuAction.tsx
  extensions/figma-files/src/components/OpenPageAction.tsx
  extensions/figma-files/src/components/OpenPageSubmenuAction.tsx
  extensions/figma-files/src/components/OpenProjectFileAction.tsx
  extensions/figma-files/src/components/StarFileAction.tsx
  extensions/figma-files/src/hooks/useVisitedFiles.ts
  extensions/figma-files/src/index.tsx
  extensions/figma-files/src/menu-bar.tsx
  extensions/figma-files/src/oauth.ts
  extensions/figma-files/src/starFiles.ts
Labels: extension fix / improvement, OP is author, OP is contributor, extension: figma-files

#16624 Add github-search extension
  extensions/github-search/.eslintrc.json
  extensions/github-search/.gitignore
  extensions/github-search/.prettierrc
  extensions/github-search/CHANGELOG.md
  extensions/github-search/README.md
  extensions/github-search/assets/extension_icon.png
  extensions/github-search/assets/extension_icon.svg
  extensions/github-search/metadata/github-search-1.png
  extensions/github-search/metadata/github-search-2.png
  extensions/github-search/metadata/github-search-3.png
  extensions/github-search/metadata/github-search-4.png
  extensions/github-search/metadata/github-search-5.png
  extensions/github-search/metadata/github-search-6.png
  extensions/github-search/package-lock.json
  extensions/github-search/package.json
  extensions/github-search/src/open-url.ts
  extensions/github-search/src/run-saved-search.tsx
  extensions/github-search/src/search.tsx
  extensions/github-search/src/types.ts
  extensions/github-search/tsconfig.json
Labels: new extension

#16963 [Oracle Cloud] Instance Actions + handle error gracefully when no config found (close #16962)
  extensions/oci/CHANGELOG.md
  extensions/oci/README.md
  extensions/oci/package-lock.json
  extensions/oci/package.json
  extensions/oci/src/core.tsx
Labels: extension fix / improvement, OP is author, extension: oci

#16863 [Perplexity-API] Added reasoning models
  extensions/perplexity-api/CHANGELOG.md
  extensions/perplexity-api/package.json
  extensions/perplexity-api/src/hook/utils.ts
Labels: extension fix / improvement, OP is author, extension: perplexity-api

#16364 Update imessage-2fa extension to add support for mail
  extensions/imessage-2fa/CHANGELOG.md
  extensions/imessage-2fa/README.md
  extensions/imessage-2fa/package-lock.json
  extensions/imessage-2fa/package.json
  extensions/imessage-2fa/src/components/ErrorView.tsx
  extensions/imessage-2fa/src/components/GmailWarning.tsx
  extensions/imessage-2fa/src/emails.ts
  extensions/imessage-2fa/src/gmail.ts
  extensions/imessage-2fa/src/index.tsx
  extensions/imessage-2fa/src/messages.ts
  extensions/imessage-2fa/src/types.ts
  extensions/imessage-2fa/src/utils.ts
Labels: extension fix / improvement, extension: imessage-2fa

#16453 Add sportssync extension
  extensions/sportssync/.eslintrc.json
  extensions/sportssync/.gitignore
  extensions/sportssync/.prettierrc
  extensions/sportssync/CHANGELOG.md
  extensions/sportssync/README.md
  extensions/sportssync/assets/Sportssync.png
  extensions/sportssync/metadata/sportssync 2025-01-12 at 09.05.40.png
  extensions/sportssync/metadata/sportssync 2025-01-12 at 09.10.01.png
  extensions/sportssync/metadata/sportssync 2025-01-12 at 09.12.49.png
  extensions/sportssync/metadata/sportssync 2025-01-12 at 09.15.35.png
  extensions/sportssync/metadata/sportssync 2025-01-12 at 09.17.23.png
  extensions/sportssync/metadata/sportssync 2025-01-12 at 09.25.16.png
  extensions/sportssync/package-lock.json
  extensions/sportssync/package.json
  extensions/sportssync/src/basketball-news.tsx
  extensions/sportssync/src/basketball-scores-and-schedule.tsx
  extensions/sportssync/src/basketball-standings.tsx
  extensions/sportssync/src/college-basketball-news.tsx
  extensions/sportssync/src/college-basketball.tsx
  extensions/sportssync/src/f1-news.tsx
  extensions/sportssync/src/f1-scores-and-schedule.tsx
  extensions/sportssync/src/f1-standings.tsx
  extensions/sportssync/src/football-news.tsx
  extensions/sportssync/src/football-scores-and-schedule.tsx
  extensions/sportssync/src/football-standings.tsx
  extensions/sportssync/src/mlb-news.tsx
  extensions/sportssync/src/mlb-scores-and-schedule.tsx
  extensions/sportssync/src/mlb-standings.tsx
  extensions/sportssync/src/nhl-news.tsx
  extensions/sportssync/src/nhl-scores-and-schedule.tsx
  extensions/sportssync/src/nhl-standings.tsx
  extensions/sportssync/src/soccer-news.tsx
  extensions/sportssync/src/soccer-scores-and-schedule.tsx
  extensions/sportssync/src/soccer-standings.tsx
  extensions/sportssync/tsconfig.json
Labels: new extension

#16851 [Frame Crop] - New Wallpaper Action
  extensions/frame-crop/CHANGELOG.md
  extensions/frame-crop/package-lock.json
  extensions/frame-crop/package.json
  extensions/frame-crop/src/display-artwork.tsx
  extensions/frame-crop/src/functions/copyFileToClipboard.ts
  extensions/frame-crop/src/functions/saveImage.ts
  extensions/frame-crop/src/functions/setWallpaper.ts
  extensions/frame-crop/src/functions/utils.ts
  extensions/frame-crop/src/get-popular-art.tsx
Labels: extension fix / improvement, OP is author, extension: frame-crop

#16875 Update multi-links extension
  extensions/multi-links/CHANGELOG.md
  extensions/multi-links/src/multi-links.ts
Labels: extension fix / improvement, OP is author, extension: multi-links

#16929 [Color Picker] Add support for showing color name after picking color
  extensions/color-picker/CHANGELOG.md
  extensions/color-picker/package.json
  extensions/color-picker/src/pick-color.ts
Labels: extension fix / improvement, OP is contributor, extension: color-picker

#15881 Add penflow-ai extension
  extensions/penflow-ai/.eslintrc.js
  extensions/penflow-ai/.gitignore
  extensions/penflow-ai/.npmrc
  extensions/penflow-ai/.prettierrc
  extensions/penflow-ai/CHANGELOG.md
  extensions/penflow-ai/LICENSE
  extensions/penflow-ai/README.md
  extensions/penflow-ai/README.zh-CN.md
  extensions/penflow-ai/assets/icon.png
  extensions/penflow-ai/jest.config.js
  extensions/penflow-ai/metadata/penflow-ai-1.png
  extensions/penflow-ai/metadata/penflow-ai-2.png
  extensions/penflow-ai/metadata/penflow-ai-3.png
  extensions/penflow-ai/package-lock.json
  extensions/penflow-ai/package.json
  extensions/penflow-ai/src/components/EmptyStateView.tsx
  extensions/penflow-ai/src/components/ErrorBoundary.tsx
  extensions/penflow-ai/src/config/aiConfig.ts
  extensions/penflow-ai/src/config/constants.ts
  extensions/penflow-ai/src/features/writing/SuggestionList.tsx
  extensions/penflow-ai/src/features/writing/WritingFeature.tsx
  extensions/penflow-ai/src/features/writing/WritingInput.tsx
  extensions/penflow-ai/src/features/writing/WritingSuggestions.tsx
  extensions/penflow-ai/src/hooks/useWritingLogic.ts
  extensions/penflow-ai/src/index.tsx
  extensions/penflow-ai/src/services/ai.ts
  extensions/penflow-ai/src/services/aiManager.ts
  extensions/penflow-ai/src/services/raycast.ts
  extensions/penflow-ai/src/services/wordCompletion.ts
  extensions/penflow-ai/src/utils/env.ts
  extensions/penflow-ai/src/utils/helpers.ts
  extensions/penflow-ai/src/utils/prompts.ts
  extensions/penflow-ai/src/utils/types.ts
  extensions/penflow-ai/tsconfig.json
  package.json
Labels: new extension

#16266 Add fuel-it extension
  extensions/fuelx/.eslintrc.json
  extensions/fuelx/.gitignore
  extensions/fuelx/.prettierrc
  extensions/fuelx/CHANGELOG.md
  extensions/fuelx/README.md
  extensions/fuelx/assets/extension-icon.png
  extensions/fuelx/metadata/fuel-it-1.png
  extensions/fuelx/metadata/fuel-it-2.png
  extensions/fuelx/metadata/fuel-it-3.png
  extensions/fuelx/metadata/fuel-it-4.png
  extensions/fuelx/package-lock.json
  extensions/fuelx/package.json
  extensions/fuelx/src/fuel.tsx
  extensions/fuelx/src/lib/utils.ts
  extensions/fuelx/tsconfig.json
Labels: new extension

#16703 Add appcleaner extension
  extensions/appcleaner/.eslintrc.json
  extensions/appcleaner/.gitignore
  extensions/appcleaner/.prettierrc
  extensions/appcleaner/CHANGELOG.md
  extensions/appcleaner/README.md
  extensions/appcleaner/assets/icon.png
  extensions/appcleaner/assets/pearcleaner.png
  extensions/appcleaner/metadata/appcleaner-1.png
  extensions/appcleaner/metadata/appcleaner-2.png
  extensions/appcleaner/package-lock.json
  extensions/appcleaner/package.json
  extensions/appcleaner/src/lib/app-manager.ts
  extensions/appcleaner/src/lib/app-utils.ts
  extensions/appcleaner/src/lib/index.ts
  extensions/appcleaner/src/lib/types.ts
  extensions/appcleaner/src/lib/uninstaller-utils.ts
  extensions/appcleaner/src/lib/utils.ts
  extensions/appcleaner/src/list-item.tsx
  extensions/appcleaner/src/missing-dependency.tsx
  extensions/appcleaner/src/uninstall.tsx
  extensions/appcleaner/tsconfig.json
Labels: new extension

#17050 Display current branch for recent projects
  extensions/cursor-recent-projects/CHANGELOG.md
  extensions/cursor-recent-projects/package.json
  extensions/cursor-recent-projects/src/index.tsx
  extensions/cursor-recent-projects/src/preferences.ts
  extensions/cursor-recent-projects/src/utils.ts
  extensions/cursor-recent-projects/src/utils/git.ts
Labels: extension fix / improvement, extension: cursor-recent-projects

#16752 Add pushover extension
  extensions/pushover/.eslintrc.json
  extensions/pushover/.gitignore
  extensions/pushover/.prettierrc
  extensions/pushover/CHANGELOG.md
  extensions/pushover/README.md
  extensions/pushover/assets/extension-icon.png
  extensions/pushover/package-lock.json
  extensions/pushover/package.json
  extensions/pushover/src/pushover.ts
  extensions/pushover/tsconfig.json
Labels: new extension

#17042 Update sportssync extension
  extensions/sportssync/.gitignore
  extensions/sportssync/CHANGELOG.md
  extensions/sportssync/README.md
  extensions/sportssync/package.json
  extensions/sportssync/src/basketball-scores-and-schedule.tsx
  extensions/sportssync/src/college-basketball.tsx
  extensions/sportssync/src/f1-races-and-schedule.tsx
  extensions/sportssync/src/f1-results-and-schedule.tsx
  extensions/sportssync/src/football-scores-and-schedule.tsx
  extensions/sportssync/src/mlb-scores-and-schedule.tsx
  extensions/sportssync/src/nhl-scores-and-schedule.tsx
  extensions/sportssync/src/nhl-standings.tsx
  extensions/sportssync/src/soccer-scores-and-schedule.tsx
  extensions/sportssync/src/soccer-standings.tsx
Labels: extension fix / improvement, OP is author, extension: sportssync

#17046 Update streamshare-uploader extension
  extensions/to-streamshare/CHANGELOG.md
  extensions/to-streamshare/README.md
  extensions/to-streamshare/package-lock.json
  extensions/to-streamshare/package.json
  extensions/to-streamshare/src/copyLastUploadURL.ts
  extensions/to-streamshare/src/index.ts
  extensions/to-streamshare/src/shared/preferences.ts
  extensions/to-streamshare/src/shared/storage.ts
  extensions/to-streamshare/src/shared/upload.ts
  extensions/to-streamshare/src/uploadFromClipboard.ts
  extensions/to-streamshare/src/viewHistory.tsx
Labels: extension fix / improvement, extension: to-streamshare

#16761 Create Metabase extension
  extensions/metabase/.eslintrc.json
  extensions/metabase/.gitignore
  extensions/metabase/.prettierrc
  extensions/metabase/CHANGELOG.md
  extensions/metabase/README.md
  extensions/metabase/assets/extension.png
  extensions/metabase/metadata/metabase-1.png
  extensions/metabase/package-lock.json
  extensions/metabase/package.json
  extensions/metabase/src/search-questions.tsx
  extensions/metabase/tsconfig.json
Labels: new extension

#16769 Update iconify extension
  extensions/iconify/CHANGELOG.md
  extensions/iconify/package.json
  extensions/iconify/src/search-icons.tsx
  extensions/iconify/src/types/perferenceValues.ts
  extensions/iconify/src/view-icons.tsx
Labels: extension fix / improvement, extension: iconify

#16782 Add daisyui extension
  extensions/daisyui/.eslintrc.json
  extensions/daisyui/.gitignore
  extensions/daisyui/.prettierrc
  extensions/daisyui/CHANGELOG.md
  extensions/daisyui/README.md
  extensions/daisyui/assets/daisyui-icon - larger.png
  extensions/daisyui/assets/daisyui-icon.png
  extensions/daisyui/assets/images/accent-content-dark.jpg
  extensions/daisyui/assets/images/accent-content-light.jpg
  extensions/daisyui/assets/images/accent-dark.jpg
  extensions/daisyui/assets/images/accent-light.jpg
  extensions/daisyui/assets/images/base-100-dark.jpg
  extensions/daisyui/assets/images/base-100-light.jpg
  extensions/daisyui/assets/images/base-200-dark.jpg
  extensions/daisyui/assets/images/base-200-light.jpg
  extensions/daisyui/assets/images/base-300-dark.jpg
  extensions/daisyui/assets/images/base-300-light.jpg
  extensions/daisyui/assets/images/base-content-dark.jpg
  extensions/daisyui/assets/images/base-content-light.jpg
  extensions/daisyui/assets/images/error-content-dark.jpg
  extensions/daisyui/assets/images/error-content-light.jpg
  extensions/daisyui/assets/images/error-dark.jpg
  extensions/daisyui/assets/images/error-light.jpg
  extensions/daisyui/assets/images/info-content-dark.jpg
  extensions/daisyui/assets/images/info-content-light.jpg
  extensions/daisyui/assets/images/info-dark.jpg
  extensions/daisyui/assets/images/info-light.jpg
  extensions/daisyui/assets/images/neutral-content-dark.jpg
  extensions/daisyui/assets/images/neutral-content-light.jpg
  extensions/daisyui/assets/images/neutral-dark.jpg
  extensions/daisyui/assets/images/neutral-light.jpg
  extensions/daisyui/assets/images/primary-content-dark.jpg
  extensions/daisyui/assets/images/primary-content-light.jpg
  extensions/daisyui/assets/images/primary-dark.jpg
  extensions/daisyui/assets/images/primary-light.jpg
  extensions/daisyui/assets/images/secondary-content-dark.jpg
  extensions/daisyui/assets/images/secondary-content-light.jpg
  extensions/daisyui/assets/images/secondary-dark.jpg
  extensions/daisyui/assets/images/secondary-light.jpg
  extensions/daisyui/assets/images/success-content-dark.jpg
  extensions/daisyui/assets/images/success-content-light.jpg
  extensions/daisyui/assets/images/success-dark.jpg
  extensions/daisyui/assets/images/success-light.jpg
  extensions/daisyui/assets/images/warning-content-dark.jpg
  extensions/daisyui/assets/images/warning-content-light.jpg
  extensions/daisyui/assets/images/warning-dark.jpg
  extensions/daisyui/assets/images/warning-light.jpg
  extensions/daisyui/metadata/daisyui-1.png
  extensions/daisyui/metadata/daisyui-2.png
  extensions/daisyui/metadata/daisyui-3.png
  extensions/daisyui/package-lock.json
  extensions/daisyui/package.json
  extensions/daisyui/src/daisyui-colors.tsx
  extensions/daisyui/src/daisyui-components.tsx
  extensions/daisyui/src/detail-component.tsx
  extensions/daisyui/src/utils/colors.ts
  extensions/daisyui/src/utils/components.ts
  extensions/daisyui/tsconfig.json
Labels: new extension

#16797 Update pieces-raycast extension
  extensions/pieces-raycast/.nvimlog
  extensions/pieces-raycast/CHANGELOG.md
  extensions/pieces-raycast/README.md
  extensions/pieces-raycast/README_DEVELOPMENT.md
  extensions/pieces-raycast/package.json
  extensions/pieces-raycast/src/actions/saveAsset.ts
  extensions/pieces-raycast/src/connection/health/piecesHealthCheck.ts
  extensions/pieces-raycast/src/connection/health/piecesInstalledCheck.ts
  extensions/pieces-raycast/src/connection/health/piecesUpToDateCheck.ts
  extensions/pieces-raycast/src/save-browser-history-to-pieces.tsx
  extensions/pieces-raycast/src/save-clipboard-history-to-pieces.tsx
  extensions/pieces-raycast/src/search-materials.tsx
  extensions/pieces-raycast/src/test/assets-stream-test.ts
  extensions/pieces-raycast/src/test/clipboard-controller-test.ts
  extensions/pieces-raycast/src/ui/Notifications.ts
  extensions/pieces-raycast/src/utils/launchRuntime.ts
Labels: extension fix / improvement, extension: pieces-raycast

#16800 added Toggle Timer Widget Command to tomito-controls
  extensions/tomito-controls/CHANGELOG.md
  extensions/tomito-controls/README.md
  extensions/tomito-controls/package.json
  extensions/tomito-controls/src/toggle-timer-widget.ts
Labels: extension fix / improvement, extension: tomito-controls

#16802 [Safari] Disable Pinyin by default
  extensions/safari/CHANGELOG.md
  extensions/safari/package.json
  extensions/safari/src/lang-adaptor/index.ts
  extensions/safari/src/utils.ts
Labels: extension fix / improvement, extension: safari

#17055 [YouTube Downloader] Add preferences to avoid clipboard leaks
  extensions/youtube-downloader/CHANGELOG.md
  extensions/youtube-downloader/package.json
  extensions/youtube-downloader/src/index.tsx
Labels: extension fix / improvement, OP is contributor, extension: youtube-downloader

#17103 Update `cPanel` extension - copy file contents after viewing + view & add ftp-accounts
  extensions/cpanel/CHANGELOG.md
  extensions/cpanel/README.md
  extensions/cpanel/package-lock.json
  extensions/cpanel/package.json
  extensions/cpanel/src/files.tsx
  extensions/cpanel/src/ftp-accounts.tsx
  extensions/cpanel/src/lib/hooks.ts
  extensions/cpanel/src/lib/types.ts
Labels: extension fix / improvement, OP is author, extension: cpanel

#17128 [YouTube Downloader] Add support for forcing IPv4
  extensions/youtube-downloader/CHANGELOG.md
  extensions/youtube-downloader/package.json
  extensions/youtube-downloader/src/index.tsx
Labels: extension fix / improvement, OP is contributor, extension: youtube-downloader

#16986 Todoist - Use time format from Todoist account preferences - #16913
  extensions/todoist/CHANGELOG.md
  extensions/todoist/src/api.ts
  extensions/todoist/src/components/TaskActions.tsx
  extensions/todoist/src/components/TaskDetail.tsx
  extensions/todoist/src/components/TaskListItem.tsx
  extensions/todoist/src/helpers/dates.ts
  extensions/todoist/src/helpers/reminders.ts
Labels: extension fix / improvement, OP is contributor, extension: todoist

#17082 Update brew extension
  extensions/brew/CHANGELOG.md
  extensions/brew/package.json
  extensions/brew/src/components/actionPanels.tsx
Labels: extension fix / improvement, extension: brew

#17134 Added projecfilter
  extensions/ado-search/CHANGELOG.md
  extensions/ado-search/src/search-ado-repos.tsx
Labels: extension fix / improvement, OP is author, extension: ado-search, Greptile

#16980 Implement skip 15 seconds, back 15 seconds
  extensions/spotify-player/CHANGELOG.md
  extensions/spotify-player/README.md
  extensions/spotify-player/package.json
  extensions/spotify-player/src/back15.ts
  extensions/spotify-player/src/nowPlayingMenuBar.tsx
  extensions/spotify-player/src/skip15.ts
Labels: extension fix / improvement, extension: spotify-player

#16844 Update toggl-track extension
  extensions/toggl-track/CHANGELOG.md
  extensions/toggl-track/package.json
  extensions/toggl-track/project-outline.md
  extensions/toggl-track/src/components/RunningTimeEntry.tsx
  extensions/toggl-track/src/components/UpdateTimeEntryForm.tsx
  extensions/toggl-track/src/hooks/useCurrentTime.ts
  extensions/toggl-track/src/index.tsx
  extensions/toggl-track/src/menuBar.tsx
Labels: extension fix / improvement, extension: toggl-track

#17073 [Todoist] - Added Manual Sort Option - #16646
  extensions/todoist/CHANGELOG.md
  extensions/todoist/package.json
  extensions/todoist/src/helpers/sortBy.ts
  extensions/todoist/src/hooks/useViewTasks.ts
Labels: extension fix / improvement, extension: todoist

#17100 [Todoist] - Added Show Next Most Prioirity Task as Menu Bar Title - #16647
  extensions/todoist/CHANGELOG.md
  extensions/todoist/package.json
  extensions/todoist/src/menu-bar.tsx
Labels: extension fix / improvement, OP is author, extension: todoist

#16960 Option to show start date in Asana create form
  extensions/asana/CHANGELOG.md
  extensions/asana/package.json
  extensions/asana/src/components/CreateTaskForm.tsx
Labels: extension fix / improvement, extension: asana

#16295 [Spotify Playlist] Fix Missing Playlists in Add Playing Song to Playlist command
  extensions/spotify-player/CHANGELOG.md
  extensions/spotify-player/package.json
  extensions/spotify-player/src/api/getMyPlaylists.ts
  extensions/spotify-player/src/helpers/spotify.api.ts
Labels: extension fix / improvement, extension: spotify-player

#17187 [Raycast Notification] Routine maintenance & add check-prebuilds scripts
  extensions/raycast-notification/CHANGELOG.md
  extensions/raycast-notification/package-lock.json
  extensions/raycast-notification/package.json
Labels: extension fix / improvement, OP is contributor, extension: raycast-notification

#17181 Update `Neon` extension - Update Project + View Roles & Databases + View Compute Endpoints + Update Database + View Database schema + View Project monitoring
  extensions/neon/CHANGELOG.md
  extensions/neon/README.md
  extensions/neon/assets/monitoring.svg
  extensions/neon/assets/project.svg
  extensions/neon/assets/table.svg
  extensions/neon/metadata/neon-2.png
  extensions/neon/metadata/neon-3.png
  extensions/neon/metadata/neon-4.png
  extensions/neon/package-lock.json
  extensions/neon/package.json
  extensions/neon/src/components.tsx
  extensions/neon/src/list-api-keys.tsx
  extensions/neon/src/list-projects.tsx
  extensions/neon/src/views/computes.tsx
  extensions/neon/src/views/roles-and-databases.tsx
Labels: extension fix / improvement, OP is author, extension: neon

#17064 Update `Plausible Analytics` extension - Fix URL not being picked up properly (related to issue)
  extensions/plausible-analytics/.eslintrc.json
  extensions/plausible-analytics/.gitignore
  extensions/plausible-analytics/CHANGELOG.md
  extensions/plausible-analytics/metadata/plausible-analytics-1.png
  extensions/plausible-analytics/package-lock.json
  extensions/plausible-analytics/package.json
  extensions/plausible-analytics/src/api.ts
  extensions/plausible-analytics/src/index.tsx
  extensions/plausible-analytics/tsconfig.json
Labels: extension fix / improvement, extension: plausible-analytics

#17190 Update media-converter extension
  extensions/media-converter/CHANGELOG.md
  extensions/media-converter/src/components/ConverterForm.tsx
  extensions/media-converter/src/quick-convert.tsx
  extensions/media-converter/src/utils/converter.ts
Labels: extension fix / improvement, OP is author, extension: media-converter

#16796 feat: rework Ask additional question
  extensions/summarize-youtube-video-with-ai/CHANGELOG.md
  extensions/summarize-youtube-video-with-ai/src/components/anthropic/ActionAnthropicFollowUp.tsx
  extensions/summarize-youtube-video-with-ai/src/components/anthropic/hooks/useAnthropicFollowUpQuestion.ts
  extensions/summarize-youtube-video-with-ai/src/components/openai/ActionOpenAIFollowUp.tsx
  extensions/summarize-youtube-video-with-ai/src/components/openai/hooks/useOpenAIFollowUpQuestion.ts
  extensions/summarize-youtube-video-with-ai/src/components/raycast/ActionRaycastFollowUp.tsx
  extensions/summarize-youtube-video-with-ai/src/components/raycast/hooks/useRaycastFollowUpQuestion.ts
  extensions/summarize-youtube-video-with-ai/src/components/summary/FollowUpList.tsx
  extensions/summarize-youtube-video-with-ai/src/components/summary/SummaryActions.tsx
  extensions/summarize-youtube-video-with-ai/src/components/summary/SummaryDetails.tsx
  extensions/summarize-youtube-video-with-ai/src/components/summary/SummaryMetadata.tsx
  extensions/summarize-youtube-video-with-ai/src/hooks/useQuestions.ts
  extensions/summarize-youtube-video-with-ai/src/hooks/useVideoData.ts
  extensions/summarize-youtube-video-with-ai/src/summarizeVideoWithAnthropic.tsx
  extensions/summarize-youtube-video-with-ai/src/summarizeVideoWithOpenAI.tsx
  extensions/summarize-youtube-video-with-ai/src/summarizeVideoWithRaycast.tsx
  extensions/summarize-youtube-video-with-ai/src/utils/generateQuestionId.ts
Labels: extension fix / improvement, OP is author, extension: summarize-youtube-video-with-ai

#17048 Update svgl extension
  extensions/svgl/CHANGELOG.md
  extensions/svgl/src/components/actions/copy-svg-actions.tsx
  extensions/svgl/src/components/actions/copy-svg-file-actions.tsx
  extensions/svgl/src/components/actions/svg-info-actions.tsx
  extensions/svgl/src/components/svg-action.tsx
  extensions/svgl/src/request.tsx
  extensions/svgl/src/type.ts
  extensions/svgl/src/utils/fetch.ts
  extensions/svgl/src/utils/request-svg.ts
Labels: extension fix / improvement, OP is contributor, extension: svgl

#17199 Update viacep extension
  extensions/viacep/CHANGELOG.md
  extensions/viacep/package-lock.json
  extensions/viacep/package.json
  extensions/viacep/src/components/AddressForm.tsx
  extensions/viacep/src/utils/constants.ts
Labels: extension fix / improvement, OP is author, extension: viacep

#17170 update extension myip
  extensions/myip/CHANGELOG.md
  extensions/myip/assets/icon.png
  extensions/myip/package.json
Labels: extension fix / improvement, OP is contributor, extension: myip

#17206 AI Extensions: Better Uptime
  extensions/better-uptime/CHANGELOG.md
  extensions/better-uptime/package.json
  extensions/better-uptime/src/interface.ts
  extensions/better-uptime/src/tools/get-heartbeats.ts
  extensions/better-uptime/src/tools/get-incidents.ts
  extensions/better-uptime/src/tools/get-monitors.ts
Labels: extension fix / improvement, extension: better-uptime

#17205 AI Extensions: Bear
  extensions/bear/CHANGELOG.md
  extensions/bear/package-lock.json
  extensions/bear/package.json
  extensions/bear/src/tools/new-note.ts
  extensions/bear/src/tools/search-notes.ts
Labels: extension fix / improvement, extension: bear

#17204 AI Extensions: Arc
  extensions/arc/CHANGELOG.md
  extensions/arc/package-lock.json
  extensions/arc/package.json
  extensions/arc/src/arc.ts
  extensions/arc/src/history.ts
  extensions/arc/src/new-incognito-window.ts
  extensions/arc/src/preferences.ts
  extensions/arc/src/tools/close-tab.ts
  extensions/arc/src/tools/get-active-space.ts
  extensions/arc/src/tools/get-spaces.ts
  extensions/arc/src/tools/get-tabs.ts
  extensions/arc/src/tools/new-blank-window.ts
  extensions/arc/src/tools/new-incognito-window.ts
  extensions/arc/src/tools/new-little-arc.ts
  extensions/arc/src/tools/new-tab.ts
  extensions/arc/src/tools/new-window.ts
  extensions/arc/src/tools/search-history.ts
  extensions/arc/src/tools/select-space.ts
  extensions/arc/src/tools/select-tab.ts
  extensions/arc/src/types.ts
Labels: extension fix / improvement, extension: arc

#17203 AI Extensions: Sips
  extensions/sips/CHANGELOG.md
  extensions/sips/assets/calculate.png
  extensions/sips/assets/convert-icon.png
  extensions/sips/assets/filter-icon.png
  extensions/sips/assets/flip-icon.png
  extensions/sips/assets/pad-icon.png
  extensions/sips/assets/potrace/potrace
  extensions/sips/assets/resize-icon.png
  extensions/sips/assets/rotate-icon.png
  extensions/sips/assets/scale-icon.png
  extensions/sips/assets/tool-icon.png
  extensions/sips/assets/webp/arm/cwebp
  extensions/sips/assets/webp/arm/dwebp
  extensions/sips/assets/webp/x86/cwebp
  extensions/sips/assets/webp/x86/dwebp
  extensions/sips/metadata/sips-3.png
  extensions/sips/metadata/sips-4.png
  extensions/sips/package-lock.json
  extensions/sips/package.json
  extensions/sips/src/apply-filter.tsx
  extensions/sips/src/components/ImageGeneratorActionPanel.tsx
  extensions/sips/src/components/ImagePatternGrid.tsx
  extensions/sips/src/components/SizeSelectionActionPanel.tsx
  extensions/sips/src/convert.tsx
  extensions/sips/src/create-image.tsx
  extensions/sips/src/flip-horizontally.ts
  extensions/sips/src/flip-vertically.ts
  extensions/sips/src/operations/convertOperation.ts
  extensions/sips/src/operations/filterOperation.ts
  extensions/sips/src/operations/flipOperation.ts
  extensions/sips/src/operations/optimizeOperation.ts
  extensions/sips/src/operations/padOperation.ts
  extensions/sips/src/operations/resizeOperation.ts
  extensions/sips/src/operations/rotateOperation.ts
  extensions/sips/src/operations/runOperation.ts
  extensions/sips/src/operations/scaleOperation.ts
  extensions/sips/src/operations/stripEXIFOperation.ts
  extensions/sips/src/optimize.ts
  extensions/sips/src/pad.ts
  extensions/sips/src/resize.ts
  extensions/sips/src/rotate.ts
  extensions/sips/src/scale.ts
  extensions/sips/src/strip-exif.ts
  extensions/sips/src/tools/apply-filters.ts
  extensions/sips/src/tools/convert-images.ts
  extensions/sips/src/tools/create-image.ts
  extensions/sips/src/tools/flip-images.ts
  extensions/sips/src/tools/optimize-images.ts
  extensions/sips/src/tools/pad-images.ts
  extensions/sips/src/tools/resize-images.ts
  extensions/sips/src/tools/rotate-images.ts
  extensions/sips/src/tools/scale-images.ts
  extensions/sips/src/tools/strip-exif.ts
  extensions/sips/src/utilities/avif.ts
  extensions/sips/src/utilities/filters.ts
  extensions/sips/src/utilities/generators.ts
  extensions/sips/src/utilities/preferences.ts
  extensions/sips/src/utilities/utils.ts
Labels: extension fix / improvement, extension: sips

#17202 AI Extensions: Google Chrome
  extensions/google-chrome/.gitignore
  extensions/google-chrome/CHANGELOG.md
  extensions/google-chrome/assets/sql-wasm.wasm
  extensions/google-chrome/package-lock.json
  extensions/google-chrome/package.json
  extensions/google-chrome/src/actions/index.tsx
  extensions/google-chrome/src/components/ChromeActions.tsx
  extensions/google-chrome/src/components/error/NotInstalledError.tsx
  extensions/google-chrome/src/hooks/useBookmarkSearch.tsx
  extensions/google-chrome/src/tools/new-tab.ts
  extensions/google-chrome/src/tools/new-window.ts
  extensions/google-chrome/src/tools/search-bookmarks.ts
  extensions/google-chrome/src/tools/search-history.ts
  extensions/google-chrome/src/util/index.ts
Labels: extension fix / improvement, extension: google-chrome

#17201 AI Extensions: Media Converter
  extensions/media-converter/CHANGELOG.md
  extensions/media-converter/package-lock.json
  extensions/media-converter/package.json
  extensions/media-converter/src/quick-convert.tsx
  extensions/media-converter/src/tools/convert-audio.ts
  extensions/media-converter/src/tools/convert-image.ts
  extensions/media-converter/src/tools/convert-video.ts
  extensions/media-converter/src/utils/converter.ts
  extensions/media-converter/src/utils/get-full-path.ts
Labels: extension fix / improvement, extension: media-converter

#17212 Update sf-symbols-search extension
  extensions/sf-symbols-search/.gitignore
  extensions/sf-symbols-search/CHANGELOG.md
  extensions/sf-symbols-search/package-lock.json
  extensions/sf-symbols-search/package.json
  extensions/sf-symbols-search/src/index.tsx
  extensions/sf-symbols-search/src/storage.tsx
Labels: extension fix / improvement, extension: sf-symbols-search

#17216 Update sf-symbols-search extension
  extensions/sf-symbols-search/CHANGELOG.md
  extensions/sf-symbols-search/src/index.tsx
  extensions/sf-symbols-search/src/storage.tsx
Labels: extension fix / improvement, OP is contributor, extension: sf-symbols-search

#17213 [Video Downloader] Improve downloader & installer
  extensions/youtube-downloader/CHANGELOG.md
  extensions/youtube-downloader/README.md
  extensions/youtube-downloader/package-lock.json
  extensions/youtube-downloader/package.json
  extensions/youtube-downloader/src/index.tsx
Labels: extension fix / improvement, OP is contributor, extension: youtube-downloader

#16615 Update google-search extension
  extensions/google-search/CHANGELOG.md
  extensions/google-search/README.md
  extensions/google-search/package.json
  extensions/google-search/src/searchSelectText.tsx
Labels: extension fix / improvement, extension: google-search

#17225 Update ghostty extension
  extensions/ghostty/CHANGELOG.md
  extensions/ghostty/README.md
  extensions/ghostty/metadata/ghostty-1.png
  extensions/ghostty/metadata/ghostty-2.png
  extensions/ghostty/package-lock.json
  extensions/ghostty/package.json
  extensions/ghostty/src/new-ghostty-tab.ts
  extensions/ghostty/src/new-ghostty-window.ts
  extensions/ghostty/src/open-ghostty-launch-configuration.tsx
  extensions/ghostty/src/utils/components.tsx
  extensions/ghostty/src/utils/helpers.ts
  extensions/ghostty/src/utils/scripts.ts
  extensions/ghostty/src/utils/types.ts
Labels: extension fix / improvement, extension: ghostty

#16695 Various small improvements in the ChatGPT plugin
  extensions/chatgpt/CHANGELOG.md
  extensions/chatgpt/README.md
  extensions/chatgpt/metadata/1.png
  extensions/chatgpt/metadata/2.png
  extensions/chatgpt/metadata/3.png
  extensions/chatgpt/metadata/4.png
  extensions/chatgpt/metadata/5.png
  extensions/chatgpt/metadata/6.png
  extensions/chatgpt/metadata/7.png
  extensions/chatgpt/metadata/8.png
  extensions/chatgpt/metadata/9.png
  extensions/chatgpt/src/hooks/useChat.tsx
  extensions/chatgpt/src/type.ts
  extensions/chatgpt/src/utils/cmd-input.ts
  extensions/chatgpt/src/views/command/command-view.tsx
Labels: extension fix / improvement, OP is contributor, extension: chatgpt

#17258 feat(vscode-recent-projects): add support for Trae
  extensions/visual-studio-code-recent-projects/CHANGELOG.md
  extensions/visual-studio-code-recent-projects/package.json
  extensions/visual-studio-code-recent-projects/src/lib/vscode.ts
  extensions/visual-studio-code-recent-projects/src/open-new-window.ts
  extensions/visual-studio-code-recent-projects/src/preferences.ts
  extensions/visual-studio-code-recent-projects/src/types.ts
Labels: extension fix / improvement, extension: visual-studio-code-recent-projects

#17285 [Image Modification] Add 'Remove Background' command
  extensions/sips/CHANGELOG.md
  extensions/sips/README.md
  extensions/sips/assets/remove-bg-icon.png
  extensions/sips/metadata/sips-3.png
  extensions/sips/metadata/sips-4.png
  extensions/sips/metadata/sips-5.png
  extensions/sips/metadata/sips-6.png
  extensions/sips/package-lock.json
  extensions/sips/package.json
  extensions/sips/src/operations/convertOperation.ts
  extensions/sips/src/operations/filterOperation.ts
  extensions/sips/src/operations/flipOperation.ts
  extensions/sips/src/operations/optimizeOperation.ts
  extensions/sips/src/operations/padOperation.ts
  extensions/sips/src/operations/removeBgOperation.ts
  extensions/sips/src/operations/resizeOperation.ts
  extensions/sips/src/operations/rotateOperation.ts
  extensions/sips/src/operations/scaleOperation.ts
  extensions/sips/src/operations/stripEXIFOperation.ts
  extensions/sips/src/remove-bg.ts
  extensions/sips/src/strip-exif.ts
  extensions/sips/src/tools/remove-bg.ts
  extensions/sips/src/tools/rotate-images.ts
  extensions/sips/src/utilities/filters.ts
  extensions/sips/src/utilities/pdf.ts
  extensions/sips/src/utilities/types.ts
  extensions/sips/src/utilities/utils.ts
  extensions/sips/tsconfig.json
Labels: extension fix / improvement, OP is author, extension: sips

#17094 [WhoSampled] - Add functionality for apple music and manual search
  extensions/whosampled/CHANGELOG.md
  extensions/whosampled/README.md
  extensions/whosampled/package.json
  extensions/whosampled/src/appleMusic.tsx
  extensions/whosampled/src/search.tsx
  extensions/whosampled/src/utils/constants.ts
  extensions/whosampled/src/utils/helpers.ts
  extensions/whosampled/src/utils/scripts/currentlyPlaying.ts
  extensions/whosampled/src/utils/types.ts
Labels: extension fix / improvement, extension: whosampled

#17158 [Quick Open Project] Stop transferring environment variables to opened applications
  extensions/quick-open-project/CHANGELOG.md
  extensions/quick-open-project/package-lock.json
  extensions/quick-open-project/package.json
  extensions/quick-open-project/src/index.tsx
Labels: extension fix / improvement, extension: quick-open-project

#17159 Update downloads-manager extension
  extensions/downloads-manager/CHANGELOG.md
  extensions/downloads-manager/package.json
  extensions/downloads-manager/src/utils.tsx
Labels: extension fix / improvement, OP is contributor, extension: downloads-manager

#17220 Update audio-device extension
  extensions/audio-device/CHANGELOG.md
  extensions/audio-device/assets/airplay.png
  extensions/audio-device/assets/airpods-max.png
  extensions/audio-device/assets/airpods-pro.png
  extensions/audio-device/assets/airpods.png
  extensions/audio-device/assets/bluetooth-speaker.png
  extensions/audio-device/package.json
  extensions/audio-device/src/helpers.tsx
Labels: extension fix / improvement, extension: audio-device

#17229 Update deepl-api-usage extension
  extensions/deepl-api-usage/CHANGELOG.md
  extensions/deepl-api-usage/src/components/RecordDetail.tsx
  extensions/deepl-api-usage/src/components/RecordItem.tsx
  extensions/deepl-api-usage/src/index.tsx
Labels: extension fix / improvement, OP is author, extension: deepl-api-usage

#17054 Update color-picker extension
  extensions/color-picker/CHANGELOG.md
  extensions/color-picker/package.json
  extensions/color-picker/src/extract-color.tsx
  extensions/color-picker/swift/extract-color/.gitignore
  extensions/color-picker/swift/extract-color/Package.swift
  extensions/color-picker/swift/extract-color/Sources/ExtractColor.swift
Labels: extension fix / improvement, OP is contributor, extension: color-picker

#16925 Ext/deepseeker
  extensions/deepseeker/CHANGELOG.md
  extensions/deepseeker/README.md
  extensions/deepseeker/src/util.ts
Labels: extension fix / improvement, OP is contributor, extension: deepseeker

#17283 Update 1password extension
  extensions/1password/CHANGELOG.md
  extensions/1password/package.json
Labels: extension fix / improvement, OP is contributor, extension: 1password

#17290 Update timezone-converter extension
  extensions/timezone-converter/CHANGELOG.md
  extensions/timezone-converter/src/index.tsx
Labels: extension fix / improvement, OP is contributor, extension: timezone-converter

#17115 Update appcleaner extension
  extensions/appcleaner/CHANGELOG.md
  extensions/appcleaner/README.md
  extensions/appcleaner/package-lock.json
  extensions/appcleaner/package.json
  extensions/appcleaner/src/lib/app-manager.ts
  extensions/appcleaner/src/lib/app-utils.ts
  extensions/appcleaner/src/lib/types.ts
  extensions/appcleaner/src/list-item.tsx
Labels: extension fix / improvement, OP is author, extension: appcleaner

#16659 Add designer-excuses extension
  extensions/designer-excuses/.eslintrc.json
  extensions/designer-excuses/.gitignore
  extensions/designer-excuses/.prettierrc
  extensions/designer-excuses/CHANGELOG.md
  extensions/designer-excuses/README.md
  extensions/designer-excuses/assets/extension-icon.png
  extensions/designer-excuses/package-lock.json
  extensions/designer-excuses/package.json
  extensions/designer-excuses/src/designer-excuses.ts
  extensions/designer-excuses/src/excuses.ts
  extensions/designer-excuses/tsconfig.json
Labels: new extension

#17228 Add `Jotform` extesnsion - List Forms and View Form Submissions
  extensions/jotform/.eslintrc.json
  extensions/jotform/.gitignore
  extensions/jotform/.prettierrc
  extensions/jotform/CHANGELOG.md
  extensions/jotform/README.md
  extensions/jotform/assets/IconProductInboxColorBorder.svg
  extensions/jotform/assets/formIcon.svg
  extensions/jotform/assets/jfFormView-empty-icon.svg
  extensions/jotform/assets/jfSubmissionView-empty-icon.svg
  extensions/jotform/assets/jotform-icon-dark-512x512.png
  extensions/jotform/metadata/jotform-1.png
  extensions/jotform/metadata/jotform-2.png
  extensions/jotform/metadata/jotform-3.png
  extensions/jotform/package-lock.json
  extensions/jotform/package.json
  extensions/jotform/src/forms.tsx
  extensions/jotform/src/jotform.ts
  extensions/jotform/src/types.ts
  extensions/jotform/tsconfig.json
Labels: new extension

#17251 Add `OlaCV` extension - View your .cv Domains, Domain Zone + View & Create Contacts
  extensions/olacv/.eslintrc.json
  extensions/olacv/.gitignore
  extensions/olacv/.prettierrc
  extensions/olacv/CHANGELOG.md
  extensions/olacv/README.md
  extensions/olacv/assets/ola.png
  extensions/olacv/metadata/olacv-1.png
  extensions/olacv/metadata/olacv-2.png
  extensions/olacv/metadata/olacv-3.png
  extensions/olacv/package-lock.json
  extensions/olacv/package.json
  extensions/olacv/src/config.ts
  extensions/olacv/src/list-contacts.tsx
  extensions/olacv/src/list-domains.tsx
  extensions/olacv/src/types.ts
  extensions/olacv/tsconfig.json
Labels: new extension

#16892 Add tmux-cheatsheet extension
  extensions/tmux-cheatsheet/.eslintrc.json
  extensions/tmux-cheatsheet/.gitignore
  extensions/tmux-cheatsheet/.prettierrc
  extensions/tmux-cheatsheet/CHANGELOG.md
  extensions/tmux-cheatsheet/README.md
  extensions/tmux-cheatsheet/assets/extension-icon.png
  extensions/tmux-cheatsheet/metadata/tmux-cheatsheet-1.png
  extensions/tmux-cheatsheet/metadata/tmux-cheatsheet-2.png
  extensions/tmux-cheatsheet/metadata/tmux-cheatsheet-3.png
  extensions/tmux-cheatsheet/metadata/tmux-cheatsheet-4.png
  extensions/tmux-cheatsheet/metadata/tmux-cheatsheet-5.png
  extensions/tmux-cheatsheet/metadata/tmux-cheatsheet-6.png
  extensions/tmux-cheatsheet/package-lock.json
  extensions/tmux-cheatsheet/package.json
  extensions/tmux-cheatsheet/src/CommandDetail.tsx
  extensions/tmux-cheatsheet/src/tmux-cheatsheet.tsx
  extensions/tmux-cheatsheet/src/tmuxCommands.ts
  extensions/tmux-cheatsheet/tsconfig.json
Labels: new extension

#16897 Add due date and NLP parsing to todo list extension
  extensions/todo-list/CHANGELOG.md
  extensions/todo-list/package-lock.json
  extensions/todo-list/package.json
  extensions/todo-list/src/atoms.ts
  extensions/todo-list/src/config.ts
  extensions/todo-list/src/hooks/useTodo.ts
  extensions/todo-list/src/index.tsx
  extensions/todo-list/src/list_actions.tsx
  extensions/todo-list/src/todo_due_date_form.tsx
  extensions/todo-list/src/todo_item.tsx
  extensions/todo-list/src/utils.ts
Labels: extension fix / improvement, extension: todo-list

#16927 Add brreg extension
  extensions/brreg/.eslintrc.json
  extensions/brreg/.gitignore
  extensions/brreg/.prettierrc
  extensions/brreg/CHANGELOG.md
  extensions/brreg/README.md
  extensions/brreg/assets/icon.png
  extensions/brreg/assets/icon@dark.png
  extensions/brreg/metadata/brreg-1.png
  extensions/brreg/metadata/brreg-2.png
  extensions/brreg/metadata/brreg-3.png
  extensions/brreg/package-lock.json
  extensions/brreg/package.json
  extensions/brreg/src/brreg-search.tsx
  extensions/brreg/tsconfig.json
Labels: new extension

#16887 Update tyme-3-time-tracker extension
  extensions/tyme-3-time-tracker/CHANGELOG.md
  extensions/tyme-3-time-tracker/assets/extension_icon.png
  extensions/tyme-3-time-tracker/metadata/screenshot.png
  extensions/tyme-3-time-tracker/metadata/tyme-3-time-tracker-1.png
  extensions/tyme-3-time-tracker/metadata/tyme-3-time-tracker-2.png
  extensions/tyme-3-time-tracker/metadata/tyme-3-time-tracker-3.png
  extensions/tyme-3-time-tracker/metadata/tyme-3-time-tracker-4.png
  extensions/tyme-3-time-tracker/package.json
  extensions/tyme-3-time-tracker/src/components/CreateProject.tsx
  extensions/tyme-3-time-tracker/src/components/CreateTask.tsx
  extensions/tyme-3-time-tracker/src/components/ProjectList.tsx
  extensions/tyme-3-time-tracker/src/components/TaskList.tsx
  extensions/tyme-3-time-tracker/src/start-task-tracking.tsx
  extensions/tyme-3-time-tracker/src/stop-task-tracking.tsx
  extensions/tyme-3-time-tracker/src/tasks.ts
  extensions/tyme-3-time-tracker/src/utils.ts
Labels: extension fix / improvement, extension: tyme-3-time-tracker

#17312 [Linear] Fix creation issue
  extensions/linear/CHANGELOG.md
  extensions/linear/package.json
  extensions/linear/src/api/createIssue.ts
Labels: extension fix / improvement, OP is author, extension: linear

#17282 Update raycast-ollama extension
  extensions/raycast-ollama/CHANGELOG.md
  extensions/raycast-ollama/src/lib/ollama/ollama.ts
Labels: extension fix / improvement, OP is author, extension: raycast-ollama

#17113 [Brand Icons] Add support for viewing release notes
  extensions/simple-icons/CHANGELOG.md
  extensions/simple-icons/package-lock.json
  extensions/simple-icons/package.json
  extensions/simple-icons/src/actions.tsx
  extensions/simple-icons/src/index.tsx
  extensions/simple-icons/src/types.ts
  extensions/simple-icons/src/utils.ts
  extensions/simple-icons/src/views/releases.tsx
Labels: extension fix / improvement, OP is author, extension: simple-icons

#17266 Update ghostty extension
  extensions/ghostty/CHANGELOG.md
  extensions/ghostty/src/utils/helpers.ts
Labels: extension fix / improvement, OP is contributor, extension: ghostty

#17307 Add support for Sonnet 3.7
  extensions/claude/CHANGELOG.md
  extensions/claude/src/hooks/useModel.tsx
Labels: extension fix / improvement, extension: claude

#17320 AI Extensions: Firecrawl
  extensions/firecrawl/.eslintrc.json
  extensions/firecrawl/.gitignore
  extensions/firecrawl/.prettierrc
  extensions/firecrawl/CHANGELOG.md
  extensions/firecrawl/README.md
  extensions/firecrawl/ai.yaml
  extensions/firecrawl/assets/extension-icon.png
  extensions/firecrawl/package-lock.json
  extensions/firecrawl/package.json
  extensions/firecrawl/src/firecrawl.ts
  extensions/firecrawl/src/generate-llms-txt.tsx
  extensions/firecrawl/src/open-firecrawl.ts
  extensions/firecrawl/src/tools/deep-research.ts
  extensions/firecrawl/src/tools/extract.ts
  extensions/firecrawl/src/tools/scrape.ts
  extensions/firecrawl/src/tools/search-web.ts
  extensions/firecrawl/tsconfig.json
Labels: new extension

#17329 Update pdf-tools extension
  extensions/pdf-tools/CHANGELOG.md
  extensions/pdf-tools/src/protect.ts
  extensions/pdf-tools/src/split-by-file-size.ts
  extensions/pdf-tools/src/split-by-page-count.ts
  extensions/pdf-tools/src/unlock.ts
  extensions/pdf-tools/src/watermark.ts
  extensions/pdf-tools/swift/Sources/PDFTools/SplitByFileSize.swift
  extensions/pdf-tools/swift/Sources/PDFTools/SplitByPageCount.swift
Labels: extension fix / improvement, OP is author, extension: pdf-tools

#17079 Update howlongtobeat extension
  extensions/how-long-to-beat/CHANGELOG.md
  extensions/how-long-to-beat/package.json
  extensions/how-long-to-beat/src/helpers.ts
  extensions/how-long-to-beat/src/hltbsearch.ts
Labels: extension fix / improvement, extension: how-long-to-beat

#17334 Added a "2FA" keyword for the `Paste Latest OTP Code` command
  extensions/messages/CHANGELOG.md
  extensions/messages/package.json
Labels: extension fix / improvement, extension: messages

#16961 Add t3-chat extension
  extensions/t3-chat/.eslintrc.json
  extensions/t3-chat/.gitignore
  extensions/t3-chat/.prettierrc
  extensions/t3-chat/CHANGELOG.md
  extensions/t3-chat/README.md
  extensions/t3-chat/assets/raycast-t3-chat.png
  extensions/t3-chat/package-lock.json
  extensions/t3-chat/package.json
  extensions/t3-chat/src/ask-t3-chat.ts
  extensions/t3-chat/tsconfig.json
Labels: new extension

#17311 Update yabai extension
  extensions/yabai/CHANGELOG.md
  extensions/yabai/package-lock.json
  extensions/yabai/package.json
  extensions/yabai/src/focus-next-same-app.tsx
  extensions/yabai/src/helpers/window-utils.ts
  extensions/yabai/src/search-windows.tsx
  extensions/yabai/src/windows-list-current-space.tsx
Labels: extension fix / improvement, extension: yabai

#17337 AI Extensions: Exa
  .github/public_raycast_extensions.txt
  extensions/exa/.eslintrc.json
  extensions/exa/.gitignore
  extensions/exa/.prettierrc
  extensions/exa/CHANGELOG.md
  extensions/exa/README.md
  extensions/exa/ai.yaml
  extensions/exa/assets/icon.png
  extensions/exa/package-lock.json
  extensions/exa/package.json
  extensions/exa/src/exa.ts
  extensions/exa/src/open-in-browser.ts
  extensions/exa/src/tools/find-similar.ts
  extensions/exa/src/tools/get-answer.ts
  extensions/exa/src/tools/get-contents.ts
  extensions/exa/src/tools/search.ts
  extensions/exa/tsconfig.json
Labels: new extension

#17342 [Claude] Fix default model override
  extensions/claude/CHANGELOG.md
  extensions/claude/README.md
  extensions/claude/src/hooks/useModel.tsx
Labels: extension fix / improvement, OP is contributor, extension: claude

#17039 Update readwise-reader extension
  extensions/readwise-reader/.eslintrc.json
  extensions/readwise-reader/CHANGELOG.md
  extensions/readwise-reader/package-lock.json
  extensions/readwise-reader/package.json
  extensions/readwise-reader/src/api/list.ts
  extensions/readwise-reader/src/list-documents.tsx
  extensions/readwise-reader/src/utils/document.ts
Labels: extension fix / improvement, extension: readwise-reader

#17243 feat(todoist): enable markdown support in description field
  extensions/todoist/src/components/TaskEdit.tsx
Labels: extension fix / improvement, extension: todoist

#17291 [Todoist] Add Schedule Deadline Actions
  extensions/todoist/CHANGELOG.md
  extensions/todoist/src/components/MenubarTask.tsx
  extensions/todoist/src/components/TaskActions.tsx
Labels: extension fix / improvement, OP is contributor, extension: todoist

#16873 Add namuwiki extension
  extensions/namuwiki/.eslintrc.json
  extensions/namuwiki/.gitignore
  extensions/namuwiki/.prettierrc
  extensions/namuwiki/CHANGELOG.md
  extensions/namuwiki/README.md
  extensions/namuwiki/assets/namuwiki-icon.png
  extensions/namuwiki/metadata/1.png
  extensions/namuwiki/metadata/2.png
  extensions/namuwiki/metadata/3.png
  extensions/namuwiki/package-lock.json
  extensions/namuwiki/package.json
  extensions/namuwiki/src/recently-changed-documents.tsx
  extensions/namuwiki/src/search-documents.tsx
  extensions/namuwiki/src/trending-searches.tsx
  extensions/namuwiki/tsconfig.json
Labels: new extension

#17319 [SF Symbols Search] Fix issue and revert manual filtering
  extensions/sf-symbols-search/CHANGELOG.md
  extensions/sf-symbols-search/package.json
  extensions/sf-symbols-search/src/index.tsx
Labels: extension fix / improvement, extension: sf-symbols-search

#17355 [Laravel Docs] Add documentation for 12.x
  extensions/laravel-docs/CHANGELOG.md
  extensions/laravel-docs/assets/documentation/12.x.json
  extensions/laravel-docs/assets/documentation/master.json
Labels: extension fix / improvement, extension: laravel-docs

#17359 Perplexity: Add deep research
  extensions/perplexity-api/package.json
  extensions/perplexity-api/src/hook/perplexity.d.ts
  extensions/perplexity-api/src/tools/deep-research.ts
  extensions/perplexity-api/src/tools/search.ts
Labels: extension fix / improvement, extension: perplexity-api

#17361 Add scira extension
  extensions/scira/.eslintrc.json
  extensions/scira/.gitignore
  extensions/scira/.prettierrc
  extensions/scira/CHANGELOG.md
  extensions/scira/README.md
  extensions/scira/assets/icon.png
  extensions/scira/package-lock.json
  extensions/scira/package.json
  extensions/scira/src/scira.tsx
  extensions/scira/src/search-scira.tsx
  extensions/scira/src/tools/search-scira.tsx
  extensions/scira/tsconfig.json
Labels: new extension

#17367 [Cursor Recent Projects] improve description
  extensions/cursor-recent-projects/CHANGELOG.md
  extensions/cursor-recent-projects/README.md
Labels: extension fix / improvement, OP is author, OP is contributor, extension: cursor-recent-projects
