Repository raycast/extensions, pull requests merged in 2025-03, with the labels that each got.

#17470 Update appcleaner extension
  extensions/appcleaner/.editorconfig
  extensions/appcleaner/CHANGELOG.md
  extensions/appcleaner/README.md
  extensions/appcleaner/assets/trashme.png
  extensions/appcleaner/package-lock.json
  extensions/appcleaner/package.json
  extensions/appcleaner/src/lib/app-manager.ts
  extensions/appcleaner/src/lib/index.ts
  extensions/appcleaner/src/lib/types.ts
  extensions/appcleaner/src/lib/uninstaller.ts
  extensions/appcleaner/src/lib/utils.ts
  extensions/appcleaner/src/list-item.tsx
  extensions/appcleaner/src/missing-dependency.tsx
  extensions/appcleaner/src/uninstall.tsx
Labels: extension fix / improvement, OP is author, extension: appcleaner

#17473 Update visual-studio-code extension
  extensions/visual-studio-code-recent-projects/CHANGELOG.md
  extensions/visual-studio-code-recent-projects/package-lock.json
  extensions/visual-studio-code-recent-projects/package.json
  extensions/visual-studio-code-recent-projects/src/utils/editor.ts
Labels: extension fix / improvement, extension: visual-studio-code-recent-projects

#17127 Add yamli extension
  extensions/yamli/.eslintrc.json
  extensions/yamli/.gitignore
  extensions/yamli/.prettierrc
  extensions/yamli/CHANGELOG.md
  extensions/yamli/README.md
  extensions/yamli/assets/extension_icon.png
  extensions/yamli/metadata/yamli-1.png
  extensions/yamli/metadata/yamli-2.png
  extensions/yamli/metadata/yamli-3.png
  extensions/yamli/package-lock.json
  extensions/yamli/package.json
  extensions/yamli/src/fetchdata.tsx
  extensions/yamli/src/yamli.tsx
  extensions/yamli/tsconfig.json
Labels: new extension

#17130 Add NuxtUI extension
  extensions/nuxt-ui/.eslintrc.json
  extensions/nuxt-ui/.gitignore
  extensions/nuxt-ui/.prettierrc
  extensions/nuxt-ui/CHANGELOG.md
  extensions/nuxt-ui/README.md
  extensions/nuxt-ui/ai.yaml
  extensions/nuxt-ui/assets/icon.png
  extensions/nuxt-ui/media/banner.png
  extensions/nuxt-ui/media/demo.gif
  extensions/nuxt-ui/metadata/nuxt-ui1.png
  extensions/nuxt-ui/metadata/nuxt-ui2.png
  extensions/nuxt-ui/package-lock.json
  extensions/nuxt-ui/package.json
  extensions/nuxt-ui/renovate.json
  extensions/nuxt-ui/src/components.tsx
  extensions/nuxt-ui/src/search-component-theme.tsx
  extensions/nuxt-ui/src/tools/get-available-components.ts
  extensions/nuxt-ui/src/tools/get-component-source-code.ts
  extensions/nuxt-ui/src/tools/get-component-theme.ts
  extensions/nuxt-ui/src/tools/get-nuxt-ui-documentation.ts
  extensions/nuxt-ui/tsconfig.json
Labels: new extension

#17135 Add mutedeck extension
  extensions/mutedeck/.eslintrc.json
  extensions/mutedeck/.gitignore
  extensions/mutedeck/.prettierrc
  extensions/mutedeck/CHANGELOG.md
  extensions/mutedeck/README.md
  extensions/mutedeck/assets/camera.png
  extensions/mutedeck/assets/door.png
  extensions/mutedeck/assets/icon.png
  extensions/mutedeck/assets/info.png
  extensions/mutedeck/assets/microphone.png
  extensions/mutedeck/metadata/screenshots/confirmation.png
  extensions/mutedeck/metadata/screenshots/list-view.png
  extensions/mutedeck/metadata/screenshots/status-display.png
  extensions/mutedeck/package-lock.json
  extensions/mutedeck/package.json
  extensions/mutedeck/src/leave-meeting.tsx
  extensions/mutedeck/src/show-status.tsx
  extensions/mutedeck/src/toggle-microphone.tsx
  extensions/mutedeck/src/toggle-video.tsx
  extensions/mutedeck/src/utils/api.ts
  extensions/mutedeck/src/utils/constants.ts
  extensions/mutedeck/src/utils/notifications.ts
  extensions/mutedeck/tsconfig.json
  package.json
Labels: new extension

#17234 Add solidtime extension
  extensions/solidtime/.eslintrc.json
  extensions/solidtime/.gitignore
  extensions/solidtime/.prettierrc
  extensions/solidtime/CHANGELOG.md
  extensions/solidtime/README.md
  extensions/solidtime/assets/solidtime.png
  extensions/solidtime/metadata/solidtime-1.png
  extensions/solidtime/metadata/solidtime-2.png
  extensions/solidtime/metadata/solidtime-4.png
  extensions/solidtime/metadata/solidtime-5.png
  extensions/solidtime/metadata/solidtime-6.png
  extensions/solidtime/package-lock.json
  extensions/solidtime/package.json
  extensions/solidtime/src/api/hooks.ts
  extensions/solidtime/src/api/index.ts
  extensions/solidtime/src/api/openapi.json.client.ts
  extensions/solidtime/src/manage-clients.tsx
  extensions/solidtime/src/manage-projects.tsx
  extensions/solidtime/src/manage-time.tsx
  extensions/solidtime/src/utils/color.ts
  extensions/solidtime/src/utils/constants.ts
  extensions/solidtime/src/utils/formatters.ts
  extensions/solidtime/src/utils/list.tsx
  extensions/solidtime/src/utils/membership.tsx
  extensions/solidtime/src/utils/operations.ts
  extensions/solidtime/src/utils/preferences.ts
  extensions/solidtime/src/utils/time.ts
  extensions/solidtime/src/utils/types.ts
  extensions/solidtime/src/views/clients/ClientCommand.tsx
  extensions/solidtime/src/views/clients/ClientDetails.tsx
  extensions/solidtime/src/views/clients/ClientForm.tsx
  extensions/solidtime/src/views/projects/ProjectCommand.tsx
  extensions/solidtime/src/views/projects/ProjectDetails.tsx
  extensions/solidtime/src/views/projects/ProjectForm.tsx
  extensions/solidtime/src/views/shared/ClientDropdown.tsx
  extensions/solidtime/src/views/shared/ColorDropdown.tsx
  extensions/solidtime/src/views/shared/CrudActions.tsx
  extensions/solidtime/src/views/shared/Entry.tsx
  extensions/solidtime/src/views/shared/MembershipAccessory.tsx
  extensions/solidtime/src/views/shared/ProjectDropdown.tsx
  extensions/solidtime/src/views/timeEntries/TimeCommand.tsx
  extensions/solidtime/src/views/timeEntries/TimeEntryForm.tsx
  extensions/solidtime/src/views/timeEntries/TimeEntryItem.tsx
  extensions/solidtime/tsconfig.json
Labels: new extension

#17289 qqmusic control add contributor
  extensions/qq-music-controls/CHANGELOG.md
  extensions/qq-music-controls/package.json
Labels: extension fix / improvement, extension: qq-music-controls

#17489 Update raytaskwarrior extension
  extensions/raytaskwarrior/CHANGELOG.md
  extensions/raytaskwarrior/package.json
  extensions/raytaskwarrior/src/api.ts
Labels: extension fix / improvement, extension: raytaskwarrior

#17464 Bugfix: Ensure fetched data is always mapable
  extensions/can-i-php/.eslintrc.json
  extensions/can-i-php/.prettierrc
  extensions/can-i-php/CHANGELOG.md
  extensions/can-i-php/LICENSE
  extensions/can-i-php/README.md
  extensions/can-i-php/assets/command-icon.png
  extensions/can-i-php/metadata/can-i-php-1.png
  extensions/can-i-php/metadata/can-i-php-2.png
  extensions/can-i-php/metadata/can-i-php-3.png
  extensions/can-i-php/package-lock.json
  extensions/can-i-php/package.json
  extensions/can-i-php/src/index.tsx
  extensions/can-i-php/src/lib/components/FeatureSingle.tsx
  extensions/can-i-php/src/lib/components/VersionTable.tsx
  extensions/can-i-php/src/lib/types/accessory.ts
  extensions/can-i-php/src/lib/types/feature.ts
  extensions/can-i-php/src/lib/types/phpVersion.ts
  extensions/can-i-php/src/lib/types/phpVersionStatusEnum.ts
  extensions/can-i-php/src/lib/types/resource.ts
  extensions/can-i-php/src/lib/util/featureSupportedIn.ts
  extensions/can-i-php/src/lib/util/featureSupportedInAny.ts
  extensions/can-i-php/src/lib/util/generateMarkdownTableRow.ts
  extensions/can-i-php/src/lib/util/getHumanDifference.ts
  extensions/can-i-php/src/lib/util/getPhpVersionStatus.ts
  extensions/can-i-php/src/lib/util/resources.ts
  extensions/can-i-php/src/lib/util/versionCompare.ts
  extensions/can-i-php/src/lib/util/versions.ts
  extensions/can-i-php/src/versions.tsx
  extensions/can-i-php/tsconfig.json
Labels: extension fix / improvement, OP is author, extension: can-i-php

#17491 Update visual-studio-code extension
  extensions/visual-studio-code-recent-projects/CHANGELOG.md
  extensions/visual-studio-code-recent-projects/package.json
  extensions/visual-studio-code-recent-projects/src/lib/vscode.ts
  extensions/visual-studio-code-recent-projects/src/open-new-window.ts
  extensions/visual-studio-code-recent-projects/src/types.ts
  extensions/visual-studio-code-recent-projects/src/utils/editor.ts
Labels: extension fix / improvement, extension: visual-studio-code-recent-projects

#17467 Update flush-dns extension
  extensions/flush-dns/CHANGELOG.md
  extensions/flush-dns/README.md
  extensions/flush-dns/src/index.ts
Labels: extension fix / improvement, OP is contributor, extension: flush-dns

#17499 Update system-monitor extension
  extensions/system-monitor/CHANGELOG.md
  extensions/system-monitor/package.json
  extensions/system-monitor/src/Cpu/CpuMonitor.tsx
  extensions/system-monitor/src/Memory/MemoryMonitor.tsx
  extensions/system-monitor/src/Network/NetworkMonitor.tsx
  extensions/system-monitor/src/Power/PowerMonitor.tsx
  extensions/system-monitor/src/SystemInfo/SystemInfo.tsx
  extensions/system-monitor/src/components/Actions.tsx
Labels: extension fix / improvement, extension: system-monitor

#17493 [coffee] show caffeinate duration in menu bar item
  extensions/coffee/CHANGELOG.md
  extensions/coffee/src/index.tsx
  extensions/coffee/src/utils.ts
Labels: extension fix / improvement, extension: coffee

#17155 Configuring primary and secondary actions
  extensions/date-converter/CHANGELOG.md
  extensions/date-converter/metadata/date-converter-1.png
  extensions/date-converter/metadata/date-converter-2.png
  extensions/date-converter/package-lock.json
  extensions/date-converter/package.json
  extensions/date-converter/src/index.tsx
Labels: extension fix / improvement, OP is contributor, extension: date-converter

#17247 Add Prusa Printer Control Extension
  extensions/prusa/.eslintrc.json
  extensions/prusa/.gitignore
  extensions/prusa/.prettierrc
  extensions/prusa/CHANGELOG.md
  extensions/prusa/README.md
  extensions/prusa/assets/command-icon.png
  extensions/prusa/metadata/prusa-1.png
  extensions/prusa/metadata/prusa-2.png
  extensions/prusa/metadata/prusa-3.png
  extensions/prusa/package-lock.json
  extensions/prusa/package.json
  extensions/prusa/src/api/config.ts
  extensions/prusa/src/api/errors.ts
  extensions/prusa/src/api/prusaClient.ts
  extensions/prusa/src/api/types.ts
  extensions/prusa/src/files.tsx
  extensions/prusa/src/status.tsx
  extensions/prusa/src/utils/logger.ts
  extensions/prusa/src/utils/retry.ts
  extensions/prusa/tsconfig.json
Labels: new extension

#17230 Add smart-reply extension
  extensions/smart-reply/.gitignore
  extensions/smart-reply/.prettierrc
  extensions/smart-reply/CHANGELOG.md
  extensions/smart-reply/README.md
  extensions/smart-reply/assets/icon.png
  extensions/smart-reply/eslint.config.mjs
  extensions/smart-reply/metadata/screen-1.png
  extensions/smart-reply/metadata/screen-2.png
  extensions/smart-reply/metadata/screen-3.png
  extensions/smart-reply/metadata/screen-4.png
  extensions/smart-reply/package-lock.json
  extensions/smart-reply/package.json
  extensions/smart-reply/src/components/ReplyForm.tsx
  extensions/smart-reply/src/components/Result.tsx
  extensions/smart-reply/src/components/TranslationResult.tsx
  extensions/smart-reply/src/constants.ts
  extensions/smart-reply/src/generate-reply.tsx
  extensions/smart-reply/src/hooks/useGenerate.ts
  extensions/smart-reply/src/hooks/useOpenAIStreaming.ts
  extensions/smart-reply/src/hooks/useSelectedText.ts
  extensions/smart-reply/src/types.ts
  extensions/smart-reply/src/utils/detectLanguage.ts
  extensions/smart-reply/tsconfig.json
Labels: new extension

#17506 Update visual-studio-code extension
  extensions/visual-studio-code-recent-projects/CHANGELOG.md
  extensions/visual-studio-code-recent-projects/package.json
  extensions/visual-studio-code-recent-projects/src/lib/vscode.ts
  extensions/visual-studio-code-recent-projects/src/open-new-window.ts
  extensions/visual-studio-code-recent-projects/src/types.ts
  extensions/visual-studio-code-recent-projects/src/utils/editor.ts
Labels: extension fix / improvement, OP is contributor, extension: visual-studio-code-recent-projects

#17507 Update personio extension
  extensions/personio/CHANGELOG.md
  extensions/personio/src/api/attendances.tsx
Labels: extension fix / improvement, OP is author, extension: personio

#17472 [extensions/get-favicon] new feature: specify icon size
  extensions/get-favicon/.eslintrc.json
  extensions/get-favicon/.gitignore
  extensions/get-favicon/CHANGELOG.md
  extensions/get-favicon/README.md
  extensions/get-favicon/package-lock.json
  extensions/get-favicon/package.json
  extensions/get-favicon/src/copy-url.ts
  extensions/get-favicon/src/copy.ts
  extensions/get-favicon/src/download.ts
  extensions/get-favicon/tsconfig.json
Labels: extension fix / improvement, extension: get-favicon

#16983 Add git-profile extension
  extensions/git-profile/.eslintrc.json
  extensions/git-profile/.gitignore
  extensions/git-profile/.prettierrc
  extensions/git-profile/CHANGELOG.md
  extensions/git-profile/README.md
  extensions/git-profile/assets/extension-icon.png
  extensions/git-profile/metadata/git-profile-1.png
  extensions/git-profile/metadata/git-profile-2.png
  extensions/git-profile/metadata/git-profile-3.png
  extensions/git-profile/package-lock.json
  extensions/git-profile/package.json
  extensions/git-profile/src/components/GitProfileForm/index.tsx
  extensions/git-profile/src/components/GitProfileForm/types.tsx
  extensions/git-profile/src/components/GitProfileListItem/index.tsx
  extensions/git-profile/src/components/GitProfileListItem/types.tsx
  extensions/git-profile/src/components/ProfileForm/index.tsx
  extensions/git-profile/src/components/ProfileForm/types.tsx
  extensions/git-profile/src/current-profile.tsx
  extensions/git-profile/src/lib/exec.ts
  extensions/git-profile/src/lib/index.ts
  extensions/git-profile/src/list-profiles.tsx
  extensions/git-profile/src/types/index.ts
  extensions/git-profile/src/utils/git.ts
  extensions/git-profile/src/utils/index.ts
  extensions/git-profile/src/utils/storage.ts
  extensions/git-profile/tsconfig.json
Labels: new extension

#17495 Add inkeep extension
  extensions/inkeep/.eslintrc.json
  extensions/inkeep/.gitignore
  extensions/inkeep/.prettierrc
  extensions/inkeep/CHANGELOG.md
  extensions/inkeep/README.md
  extensions/inkeep/assets/icon.png
  extensions/inkeep/metadata/inkeep-1.png
  extensions/inkeep/metadata/inkeep-2.png
  extensions/inkeep/package-lock.json
  extensions/inkeep/package.json
  extensions/inkeep/src/search-inkeep.tsx
  extensions/inkeep/src/services/inkeep.ts
  extensions/inkeep/src/tools/inkeep.ts
  extensions/inkeep/tsconfig.json
Labels: new extension, AI Extension

#17512 Add betterdisplay extension
  extensions/betterdisplay/.eslintrc.json
  extensions/betterdisplay/.gitignore
  extensions/betterdisplay/.prettierrc
  extensions/betterdisplay/CHANGELOG.md
  extensions/betterdisplay/README.md
  extensions/betterdisplay/assets/extension-icon.png
  extensions/betterdisplay/metadata/betterdisplay-1.png
  extensions/betterdisplay/metadata/betterdisplay-2.png
  extensions/betterdisplay/metadata/betterdisplay-3.png
  extensions/betterdisplay/package-lock.json
  extensions/betterdisplay/package.json
  extensions/betterdisplay/src/actions.ts
  extensions/betterdisplay/src/events.ts
  extensions/betterdisplay/src/list-resolutions.tsx
  extensions/betterdisplay/src/manage-displays.tsx
  extensions/betterdisplay/src/utils.ts
  extensions/betterdisplay/tsconfig.json
Labels: new extension

#16749 Add save to Readwise Reader integration to Hacker News extension
  extensions/hacker-news/CHANGELOG.md
  extensions/hacker-news/package-lock.json
  extensions/hacker-news/package.json
  extensions/hacker-news/src/frontpage.tsx
  extensions/hacker-news/src/preferences.ts
  extensions/hacker-news/src/readwise.ts
  extensions/hacker-news/src/utils.ts
Labels: extension fix / improvement, extension: hacker-news

#17269 Add esports-pass extension
  extensions/esports-pass/.eslintrc.json
  extensions/esports-pass/.gitignore
  extensions/esports-pass/.prettierrc
  extensions/esports-pass/CHANGELOG.md
  extensions/esports-pass/README.md
  extensions/esports-pass/assets/cs.png
  extensions/esports-pass/assets/dota.png
  extensions/esports-pass/assets/extension-icon.png
  extensions/esports-pass/assets/lol.png
  extensions/esports-pass/assets/rainbow-six.png
  extensions/esports-pass/assets/valorant.png
  extensions/esports-pass/metadata/esports-pass-1.png
  extensions/esports-pass/metadata/esports-pass-2.png
  extensions/esports-pass/metadata/esports-pass-3.png
  extensions/esports-pass/package-lock.json
  extensions/esports-pass/package.json
  extensions/esports-pass/src/constants/videogames.ts
  extensions/esports-pass/src/matches.tsx
  extensions/esports-pass/src/results.tsx
  extensions/esports-pass/src/tournaments.tsx
  extensions/esports-pass/tsconfig.json
Labels: new extension

#17514 Add fronius-inverter extension
  extensions/fronius-inverter/.eslintrc.json
  extensions/fronius-inverter/.gitignore
  extensions/fronius-inverter/.prettierrc
  extensions/fronius-inverter/CHANGELOG.md
  extensions/fronius-inverter/README.md
  extensions/fronius-inverter/assets/extension-icon.png
  extensions/fronius-inverter/metadata/fronius-inverter-1.png
  extensions/fronius-inverter/package-lock.json
  extensions/fronius-inverter/package.json
  extensions/fronius-inverter/src/api.ts
  extensions/fronius-inverter/src/dashboard.tsx
  extensions/fronius-inverter/src/types.ts
  extensions/fronius-inverter/src/watch.tsx
  extensions/fronius-inverter/tsconfig.json
Labels: new extension

#16938 Add board-game-geek extension
  extensions/board-game-geek/.eslintrc.json
  extensions/board-game-geek/.gitignore
  extensions/board-game-geek/.prettierrc
  extensions/board-game-geek/CHANGELOG.md
  extensions/board-game-geek/README.md
  extensions/board-game-geek/assets/extension-icon.png
  extensions/board-game-geek/metadata/01.png
  extensions/board-game-geek/package-lock.json
  extensions/board-game-geek/package.json
  extensions/board-game-geek/src/components/Details.tsx
  extensions/board-game-geek/src/components/ListItem.tsx
  extensions/board-game-geek/src/components/UrlActions.tsx
  extensions/board-game-geek/src/index.tsx
  extensions/board-game-geek/src/models.ts
  extensions/board-game-geek/src/useHistory.ts
  extensions/board-game-geek/src/utils.ts
  extensions/board-game-geek/tsconfig.json
Labels: new extension

#17492 Update bitwarden extension: fix search when vault contains SSH keys
  extensions/bitwarden/CHANGELOG.md
  extensions/bitwarden/package.json
  extensions/bitwarden/src/components/RepromptForm.tsx
  extensions/bitwarden/src/components/UnlockForm.tsx
  extensions/bitwarden/src/components/searchVault/ItemActionPanel.tsx
  extensions/bitwarden/src/components/searchVault/actions/CopyKeyFingerprintAction.tsx
  extensions/bitwarden/src/components/searchVault/actions/CopyPrivateKeyAction.tsx
  extensions/bitwarden/src/components/searchVault/actions/CopyPublicKeyAction.tsx
  extensions/bitwarden/src/components/searchVault/actions/index.ts
  extensions/bitwarden/src/components/searchVault/utils/caching.ts
  extensions/bitwarden/src/components/searchVault/utils/useItemAccessories.ts
  extensions/bitwarden/src/components/searchVault/utils/useItemIcon.ts
  extensions/bitwarden/src/constants/general.ts
  extensions/bitwarden/src/constants/labels.ts
  extensions/bitwarden/src/types/vault.ts
Labels: extension fix / improvement, OP is contributor, extension: bitwarden

#17487 Update `UptimeRobot` extension - New `Action` to Delete Monitor (optimistically) + New `Action` to "Open in Dashboard"
  extensions/uptime-robot/CHANGELOG.md
  extensions/uptime-robot/package-lock.json
  extensions/uptime-robot/package.json
  extensions/uptime-robot/src/config.ts
  extensions/uptime-robot/src/lib/api.ts
  extensions/uptime-robot/src/monitors.tsx
  extensions/uptime-robot/src/types.ts
Labels: extension fix / improvement, OP is author, extension: uptime-robot

#17332 Update qbitorrent extension
  extensions/qbittorrent/CHANGELOG.md
  extensions/qbittorrent/package-lock.json
  extensions/qbittorrent/package.json
  extensions/qbittorrent/src/add-torrents.tsx
  extensions/qbittorrent/src/torrents.tsx
  extensions/qbittorrent/src/types/filterStates.tsx
  extensions/qbittorrent/tsconfig.json
Labels: extension fix / improvement, extension: qbittorrent

#17498 Update element extension
  extensions/element/.eslintrc.json
  extensions/element/CHANGELOG.md
  extensions/element/README.md
  extensions/element/metadata/element-1.png
  extensions/element/metadata/element-2.png
  extensions/element/package-lock.json
  extensions/element/package.json
  extensions/element/src/calculateMolarMass.tsx
  extensions/element/src/index.tsx
  extensions/element/src/renderDetails.tsx
  extensions/element/tsconfig.json
Labels: extension fix / improvement, extension: element

#17529 Update qbitorrent extension
  extensions/qbittorrent/.gitignore
  extensions/qbittorrent/CHANGELOG.md
  extensions/qbittorrent/README.md
  extensions/qbittorrent/package-lock.json
  extensions/qbittorrent/package.json
  extensions/qbittorrent/src/add-torrents.tsx
  extensions/qbittorrent/src/torrents.tsx
Labels: extension fix / improvement, OP is author, extension: qbittorrent

#17150 Update beeminder extension
  extensions/beeminder/.gitignore
  extensions/beeminder/CHANGELOG.md
  extensions/beeminder/README.md
  extensions/beeminder/package.json
  extensions/beeminder/src/beeminder.tsx
  extensions/beeminder/src/types.ts
Labels: extension fix / improvement, OP is contributor, extension: beeminder

#17275 Add image-diff-checker extension
  extensions/image-diff-checker/.eslintrc.json
  extensions/image-diff-checker/.gitignore
  extensions/image-diff-checker/.prettierrc
  extensions/image-diff-checker/CHANGELOG.md
  extensions/image-diff-checker/README.md
  extensions/image-diff-checker/assets/image-diff-checker-icon.png
  extensions/image-diff-checker/metadata/image-diff-checker-1.png
  extensions/image-diff-checker/metadata/image-diff-checker-2.png
  extensions/image-diff-checker/metadata/image-diff-checker-3.png
  extensions/image-diff-checker/package-lock.json
  extensions/image-diff-checker/package.json
  extensions/image-diff-checker/src/hooks/use-image-form/file-validation/index.spec.ts
  extensions/image-diff-checker/src/hooks/use-image-form/file-validation/index.ts
  extensions/image-diff-checker/src/hooks/use-image-form/index.ts
  extensions/image-diff-checker/src/hooks/use-image-form/threshold-validation/index.spec.ts
  extensions/image-diff-checker/src/hooks/use-image-form/threshold-validation/index.ts
  extensions/image-diff-checker/src/image-diff-check.tsx
  extensions/image-diff-checker/src/utils/pixelmatch.ts
  extensions/image-diff-checker/tsconfig.json
Labels: new extension

#17335 Add goodlinks extension
  extensions/goodlinks/.eslintrc.json
  extensions/goodlinks/.gitignore
  extensions/goodlinks/.prettierrc
  extensions/goodlinks/CHANGELOG.md
  extensions/goodlinks/README.md
  extensions/goodlinks/assets/extension-icon.png
  extensions/goodlinks/metadata/goodlinks-1.png
  extensions/goodlinks/package-lock.json
  extensions/goodlinks/package.json
  extensions/goodlinks/src/api/list-links.ts
  extensions/goodlinks/src/api/save-link.ts
  extensions/goodlinks/src/list-unread.tsx
  extensions/goodlinks/src/random-link.ts
  extensions/goodlinks/src/save-link.ts
  extensions/goodlinks/src/utils/applescript.ts
  extensions/goodlinks/src/utils/isApplicationInstalled.ts
  extensions/goodlinks/src/utils/types.ts
  extensions/goodlinks/src/utils/url-scheme.ts
  extensions/goodlinks/tsconfig.json
Labels: new extension

#17302 Add easyvariable extension
  extensions/easyvariable/.eslintrc.json
  extensions/easyvariable/.gitignore
  extensions/easyvariable/.prettierrc
  extensions/easyvariable/CHANGELOG.md
  extensions/easyvariable/README.md
  extensions/easyvariable/assets/extension-icon.png
  extensions/easyvariable/assets/extension-icon.svg
  extensions/easyvariable/metadata/easy-variable-1.png
  extensions/easyvariable/metadata/easy-variable-2.png
  extensions/easyvariable/metadata/easy-variable-3.png
  extensions/easyvariable/package-lock.json
  extensions/easyvariable/package.json
  extensions/easyvariable/src/components/FormatList.tsx
  extensions/easyvariable/src/components/TranslateList.tsx
  extensions/easyvariable/src/named.tsx
  extensions/easyvariable/src/utils/formatters/camelCase.ts
  extensions/easyvariable/src/utils/formatters/constant.ts
  extensions/easyvariable/src/utils/formatters/kebabCase.ts
  extensions/easyvariable/src/utils/formatters/pascalCase.ts
  extensions/easyvariable/src/utils/formatters/snakeCase.ts
  extensions/easyvariable/src/utils/preferences.ts
  extensions/easyvariable/src/utils/translators/deepseek.ts
  extensions/easyvariable/src/utils/translators/glm.ts
  extensions/easyvariable/src/utils/translators/google.ts
  extensions/easyvariable/src/utils/translators/openai.ts
  extensions/easyvariable/src/utils/translators/raycast.ts
  extensions/easyvariable/src/utils/translators/tencent.ts
  extensions/easyvariable/src/utils/translators/youdao.ts
  extensions/easyvariable/tsconfig.json
Labels: new extension

#16998 Add delivery-tracker extension
  extensions/delivery-tracker/.eslintrc.json
  extensions/delivery-tracker/.github/renovate.json
  extensions/delivery-tracker/.github/workflows/ci.yml
  extensions/delivery-tracker/.gitignore
  extensions/delivery-tracker/.prettierrc
  extensions/delivery-tracker/CHANGELOG.md
  extensions/delivery-tracker/LICENSE
  extensions/delivery-tracker/README.md
  extensions/delivery-tracker/assets/extension-icon.png
  extensions/delivery-tracker/metadata/delivery-tracker-1.png
  extensions/delivery-tracker/metadata/delivery-tracker-2.png
  extensions/delivery-tracker/metadata/delivery-tracker-3.png
  extensions/delivery-tracker/metadata/delivery-tracker-4.png
  extensions/delivery-tracker/package-lock.json
  extensions/delivery-tracker/package.json
  extensions/delivery-tracker/src/carriers.ts
  extensions/delivery-tracker/src/carriers/fedex.ts
  extensions/delivery-tracker/src/carriers/ups.ts
  extensions/delivery-tracker/src/carriers/usps.ts
  extensions/delivery-tracker/src/debugData.ts
  extensions/delivery-tracker/src/delivery.ts
  extensions/delivery-tracker/src/package.ts
  extensions/delivery-tracker/src/track-deliveries.tsx
  extensions/delivery-tracker/src/track-new-delivery.tsx
  extensions/delivery-tracker/src/views/EditDeliveryView.tsx
  extensions/delivery-tracker/src/views/ShowDetailsView.tsx
  extensions/delivery-tracker/src/views/TrackNewDeliveryAction.tsx
  extensions/delivery-tracker/src/views/TrackNewDeliveryView.tsx
  extensions/delivery-tracker/tsconfig.json
Labels: new extension, status: awaiting response from dev

#17446 Safari improvements
  extensions/safari/CHANGELOG.md
  extensions/safari/package.json
  extensions/safari/src/copy-title-as-link-to-clipboard.ts
  extensions/safari/src/copy-to-clipboard.ts
  extensions/safari/src/safari.ts
  extensions/safari/src/tools/add-to-reading-list.ts
  extensions/safari/src/tools/close-tab.ts
  extensions/safari/src/tools/get-all-tabs.ts
  extensions/safari/src/tools/get-focused-tab.ts
  extensions/safari/src/tools/get-tab-contents.ts
  extensions/safari/src/tools/open-url.ts
  extensions/safari/src/tools/search-bookmarks.ts
  extensions/safari/src/tools/search-history.ts
  extensions/safari/src/tools/search-reading-list.ts
  extensions/safari/src/utils.ts
Labels: extension fix / improvement, OP is contributor, extension: safari

#17441 Google Calendar: Improve timezones and add Google Meet
  extensions/google-calendar/CHANGELOG.md
  extensions/google-calendar/ai.yaml
  extensions/google-calendar/assets/meet.png
  extensions/google-calendar/package-lock.json
  extensions/google-calendar/package.json
  extensions/google-calendar/src/create-event.tsx
  extensions/google-calendar/src/google.ts
  extensions/google-calendar/src/tools/check-availability.ts
  extensions/google-calendar/src/tools/create-event.ts
  extensions/google-calendar/src/tools/edit-event.ts
  extensions/google-calendar/src/tools/get-current-time.ts
  extensions/google-calendar/src/tools/get-current-user.ts
  extensions/google-calendar/src/tools/search-contacts.ts
  extensions/google-calendar/src/tools/search-events.ts
  extensions/google-calendar/src/utils.ts
Labels: extension fix / improvement, OP is author, extension: google-calendar

#17533 Update raycast-explorer extension
  extensions/raycast-explorer/CHANGELOG.md
  extensions/raycast-explorer/src/data/presets.ts
  extensions/raycast-explorer/src/explore-presets.tsx
  extensions/raycast-explorer/src/explore-prompts.tsx
Labels: extension fix / improvement, OP is contributor, extension: raycast-explorer

#17548 Updated vitest dependency
  extensions/tinypng/CHANGELOG.md
  extensions/tinypng/package-lock.json
  extensions/tinypng/package.json
Labels: extension fix / improvement, extension: tinypng

#17517 add extension CCFDDL
  extensions/ccfddl/.eslintrc.json
  extensions/ccfddl/.gitignore
  extensions/ccfddl/.prettierrc
  extensions/ccfddl/CHANGELOG.md
  extensions/ccfddl/README.md
  extensions/ccfddl/assets/icon.png
  extensions/ccfddl/metadata/ccfddl-1.png
  extensions/ccfddl/metadata/ccfddl-2.png
  extensions/ccfddl/package-lock.json
  extensions/ccfddl/package.json
  extensions/ccfddl/src/api.ts
  extensions/ccfddl/src/list.tsx
  extensions/ccfddl/src/search.tsx
  extensions/ccfddl/src/types.tsx
  extensions/ccfddl/src/utils.ts
  extensions/ccfddl/tsconfig.json
  extensions/package-lock.json
Labels: new extension

#17545 Update music extension
  extensions/music/.gitignore
  extensions/music/CHANGELOG.md
  extensions/music/package-lock.json
  extensions/music/package.json
  extensions/music/src/toggle-repeat.tsx
  extensions/music/src/util/scripts/player-controls.ts
  extensions/music/tsconfig.json
Labels: extension fix / improvement, extension: music

#17518 Add search-router extension
  extensions/search-router/.eslintrc.json
  extensions/search-router/.gitignore
  extensions/search-router/.prettierrc
  extensions/search-router/CHANGELOG.md
  extensions/search-router/README.md
  extensions/search-router/assets/extension-icon.png
  extensions/search-router/metadata/search-router-1.png
  extensions/search-router/metadata/search-router-2.png
  extensions/search-router/metadata/search-router-3.png
  extensions/search-router/package-lock.json
  extensions/search-router/package.json
  extensions/search-router/src/browse-search-engines.tsx
  extensions/search-router/src/data/cache.ts
  extensions/search-router/src/data/search-engines.ts
  extensions/search-router/src/search.tsx
  extensions/search-router/tsconfig.json
Labels: new extension

#17304 [Video Downloader] Add updater view
  extensions/youtube-downloader/CHANGELOG.md
  extensions/youtube-downloader/package-lock.json
  extensions/youtube-downloader/package.json
  extensions/youtube-downloader/src/index.tsx
  extensions/youtube-downloader/src/utils.ts
  extensions/youtube-downloader/src/views/installer.tsx
  extensions/youtube-downloader/src/views/updater.tsx
  extensions/youtube-downloader/tsconfig.json
Labels: extension fix / improvement, OP is contributor, extension: youtube-downloader

#17227 Update safari extension
  extensions/safari/CHANGELOG.md
  extensions/safari/package.json
  extensions/safari/src/utils.ts
Labels: extension fix / improvement, extension: safari

#17554 [Raycast Port] Add port for Window Management
  extensions/raycast-port/CHANGELOG.md
  extensions/raycast-port/README.md
  extensions/raycast-port/docs/README.md
  extensions/raycast-port/docs/ai-ask.md
  extensions/raycast-port/docs/browser-extension.md
  extensions/raycast-port/docs/window-management.md
  extensions/raycast-port/package-lock.json
  extensions/raycast-port/package.json
  extensions/raycast-port/src/browser-extension.tsx
  extensions/raycast-port/src/window-management.tsx
Labels: extension fix / improvement, OP is author, extension: raycast-port

#17551 [Easy Variable] Enhancements and tweaks
  extensions/easyvariable/CHANGELOG.md
  extensions/easyvariable/README.md
  extensions/easyvariable/package.json
  extensions/easyvariable/src/utils/preferences.ts
  extensions/easyvariable/src/utils/translators/deepseek.ts
  extensions/easyvariable/src/utils/translators/glm.ts
  extensions/easyvariable/src/utils/translators/google.ts
  extensions/easyvariable/src/utils/translators/openai.ts
  extensions/easyvariable/src/utils/translators/raycast.ts
  extensions/easyvariable/src/utils/translators/tencent.ts
  extensions/easyvariable/src/utils/translators/youdao.ts
Labels: extension fix / improvement, extension: easyvariable

#17336 [Language Detector] Add extension
  extensions/language-detector/.eslintrc.json
  extensions/language-detector/.gitignore
  extensions/language-detector/.prettierrc
  extensions/language-detector/API.md
  extensions/language-detector/CHANGELOG.md
  extensions/language-detector/LICENSE
  extensions/language-detector/README.md
  extensions/language-detector/assets/language-detector-icon.png
  extensions/language-detector/assets/npm.svg
  extensions/language-detector/assets/raycast.svg
  extensions/language-detector/metadata/language-detector-1.png
  extensions/language-detector/package-lock.json
  extensions/language-detector/package.json
  extensions/language-detector/src/selectedTextToDetect.tsx
  extensions/language-detector/src/textToDetect.tsx
  extensions/language-detector/src/typeToDetect.tsx
  extensions/language-detector/src/utils.ts
  extensions/language-detector/tsconfig.json
Labels: new extension

#17389 Update find-website extension
  extensions/find-website/CHANGELOG.md
  extensions/find-website/package.json
  extensions/find-website/src/factory.ts
  extensions/find-website/src/find.tsx
Labels: extension fix / improvement, extension: find-website

#17408 Add youtube-search extension
  extensions/youtube-search/.eslintrc.json
  extensions/youtube-search/.gitignore
  extensions/youtube-search/.prettierrc
  extensions/youtube-search/CHANGELOG.md
  extensions/youtube-search/README.md
  extensions/youtube-search/assets/command-icon.png
  extensions/youtube-search/metadata/youtube-search-1.png
  extensions/youtube-search/metadata/youtube-search-2.png
  extensions/youtube-search/package-lock.json
  extensions/youtube-search/package.json
  extensions/youtube-search/src/index.tsx
  extensions/youtube-search/src/searchSelectText.tsx
  extensions/youtube-search/src/utils/handleResults.ts
  extensions/youtube-search/src/utils/resultUtils.ts
  extensions/youtube-search/src/utils/types.ts
  extensions/youtube-search/src/utils/useSearch.tsx
  extensions/youtube-search/tsconfig.json
Labels: new extension

#17240 Update package-tracker extension
  extensions/package-tracker/.eslintrc.json
  extensions/package-tracker/CHANGELOG.md
  extensions/package-tracker/README.md
  extensions/package-tracker/package-lock.json
  extensions/package-tracker/package.json
  extensions/package-tracker/src/api.ts
  extensions/package-tracker/src/trackParcel.tsx
  extensions/package-tracker/src/types.ts
  extensions/package-tracker/tsconfig.json
Labels: extension fix / improvement, OP is author, extension: package-tracker

#17369 Update mercury extension
  extensions/mercury/CHANGELOG.md
  extensions/mercury/README.md
  extensions/mercury/ai.yaml
  extensions/mercury/package.json
  extensions/mercury/src/tools/analyze-finances.ts
  extensions/mercury/src/tools/get-accounts.ts
  extensions/mercury/src/tools/get-transactions.ts
Labels: extension fix / improvement, OP is author, extension: mercury, AI Extension

#17574 Update t3-chat extension
  extensions/t3-chat/CHANGELOG.md
  extensions/t3-chat/README.md
Labels: extension fix / improvement, OP is author, extension: t3-chat

#17448 Add MacStories extension
  extensions/macstories/.eslintrc.json
  extensions/macstories/.gitignore
  extensions/macstories/.prettierrc
  extensions/macstories/CHANGELOG.md
  extensions/macstories/README.md
  extensions/macstories/assets/extension-icon.png
  extensions/macstories/metadata/macstories-1.png
  extensions/macstories/package-lock.json
  extensions/macstories/package.json
  extensions/macstories/src/browse-articles.tsx
  extensions/macstories/src/lib/schema.ts
  extensions/macstories/tsconfig.json
Labels: new extension

#17453 [dotNew] update extension API
  extensions/dot-new/CHANGELOG.md
  extensions/dot-new/package-lock.json
  extensions/dot-new/package.json
  extensions/dot-new/src/index.tsx
Labels: extension fix / improvement, extension: dot-new

#17519 Save snippet bug
  extensions/filemaker-snippets/CHANGELOG.md
  extensions/filemaker-snippets/assets/FM12App512.png
  extensions/filemaker-snippets/assets/FM12Doc.png
  extensions/filemaker-snippets/package-lock.json
  extensions/filemaker-snippets/package.json
  extensions/filemaker-snippets/src/components/edit-snippet-xml.tsx
  extensions/filemaker-snippets/src/components/edit-snippet.tsx
  extensions/filemaker-snippets/src/view-snippets.tsx
Labels: extension fix / improvement, OP is author, extension: filemaker-snippets

#17538 Add history tracking feature to DeepSeeker extension
  extensions/deepseeker/CHANGELOG.md
  extensions/deepseeker/README.md
  extensions/deepseeker/package.json
  extensions/deepseeker/src/common.tsx
  extensions/deepseeker/src/history.tsx
Labels: extension fix / improvement, OP is author, extension: deepseeker

#17576 Youtube downloader/tools
  extensions/youtube-downloader/CHANGELOG.md
  extensions/youtube-downloader/package-lock.json
  extensions/youtube-downloader/package.json
  extensions/youtube-downloader/src/tools/download-video.ts
  extensions/youtube-downloader/src/tools/extract-transcript.ts
  extensions/youtube-downloader/src/transcript.ts
Labels: extension fix / improvement, extension: youtube-downloader, AI Extension

#17559 visual-studio-code-recent-projects add Trae CN
  extensions/visual-studio-code-recent-projects/CHANGELOG.md
  extensions/visual-studio-code-recent-projects/package.json
  extensions/visual-studio-code-recent-projects/src/lib/vscode.ts
  extensions/visual-studio-code-recent-projects/src/open-new-window.ts
  extensions/visual-studio-code-recent-projects/src/types.ts
  extensions/visual-studio-code-recent-projects/src/utils/editor.ts
Labels: extension fix / improvement, OP is contributor, extension: visual-studio-code-recent-projects

#17415 Feat/sendme : Send files/folders directly from one computer to another without needing to upload them to the cloud first
  extensions/sendme/.eslintrc.js
  extensions/sendme/.gitignore
  extensions/sendme/CHANGELOG.md
  extensions/sendme/README.md
  extensions/sendme/assets/command-icon.png
  extensions/sendme/eslintrc.json
  extensions/sendme/media/image.png
  extensions/sendme/metadata/screenshot-1.png
  extensions/sendme/metadata/screenshot-2.png
  extensions/sendme/metadata/screenshot-3.png
  extensions/sendme/metadata/screenshot-4.png
  extensions/sendme/package-lock.json
  extensions/sendme/package.json
  extensions/sendme/src/commands/hello.tsx
  extensions/sendme/src/components/SessionDetails.tsx
  extensions/sendme/src/components/SessionsList.tsx
  extensions/sendme/src/fileAction.tsx
  extensions/sendme/src/index.tsx
  extensions/sendme/src/receive.tsx
  extensions/sendme/src/sessionManager.ts
  extensions/sendme/src/types.ts
  extensions/sendme/src/utils/assetLocator.ts
  extensions/sendme/src/utils/errors.ts
  extensions/sendme/src/utils/fileShareUtils.ts
  extensions/sendme/src/utils/sendme.ts
  extensions/sendme/src/utils/sendmeInstaller.ts
  extensions/sendme/src/utils/shellHelper.ts
  extensions/sendme/src/utils/terminal.ts
  extensions/sendme/tsconfig.json
Labels: new extension

#17561 Update `Bluesky` extension - chore: update @atproto/api for better typing + in `Notifications`, fix `initialRes.body?.cancel` error
  extensions/bluesky/CHANGELOG.md
  extensions/bluesky/package-lock.json
  extensions/bluesky/package.json
  extensions/bluesky/raycast-env.d.ts
  extensions/bluesky/src/components/feed/PostItem.tsx
  extensions/bluesky/src/libs/atp.ts
  extensions/bluesky/src/notifications.tsx
  extensions/bluesky/src/utils/parser.ts
Labels: extension fix / improvement, OP is contributor, extension: bluesky

#17569 fix for app crash when user has not granted disk access
  extensions/apple-notes/CHANGELOG.md
  extensions/apple-notes/src/index.tsx
Labels: extension fix / improvement, OP is contributor, extension: apple-notes

#17562 fix: fixed performance issue with Create Slack Template command
  extensions/slack-templated-message/CHANGELOG.md
  extensions/slack-templated-message/src/lib/slack.ts
Labels: extension fix / improvement, OP is author, extension: slack-templated-message

#17174 [Google Workspace] Add "Open Google Drive Home" command
  extensions/google-workspace/CHANGELOG.md
  extensions/google-workspace/README.md
  extensions/google-workspace/package-lock.json
  extensions/google-workspace/package.json
  extensions/google-workspace/src/api/getFiles.ts
  extensions/google-workspace/src/components/FileListItem.tsx
  extensions/google-workspace/src/open-google-drive-home.tsx
Labels: extension fix / improvement, OP is author, extension: google-workspace

#17586 [slack] add search:read to manifest
  extensions/slack/CHANGELOG.md
  extensions/slack/README.md
Labels: extension fix / improvement, extension: slack

#17504 Fix & improve GitHub search
  extensions/github-search/CHANGELOG.md
  extensions/github-search/src/open-url.ts
  extensions/github-search/src/search.tsx
Labels: extension fix / improvement, OP is author, extension: github-search

#17627 Delivery Tracker - FedEx Delivery Date Bug Fix
  extensions/delivery-tracker/.github/workflows/ci.yml
  extensions/delivery-tracker/CHANGELOG.md
  extensions/delivery-tracker/package-lock.json
  extensions/delivery-tracker/package.json
  extensions/delivery-tracker/src/carriers/fedex.ts
  extensions/delivery-tracker/src/carriers/ups.ts
Labels: extension fix / improvement, OP is author, extension: delivery-tracker

#17622 Update `Coolify` extension - Delete Resource Action + Support DBs in Resources
  extensions/coolify/CHANGELOG.md
  extensions/coolify/README.md
  extensions/coolify/package-lock.json
  extensions/coolify/package.json
  extensions/coolify/src/lib/types.ts
  extensions/coolify/src/lib/utils.ts
  extensions/coolify/src/resources.tsx
Labels: extension fix / improvement, OP is author, extension: coolify

#17641 [YouTube Downloader] Avoid to run run `onSubmit` while fetching video
  extensions/youtube-downloader/CHANGELOG.md
  extensions/youtube-downloader/src/index.tsx
Labels: extension fix / improvement, OP is contributor, extension: youtube-downloader

#17666 PPL: Improved cached logic and removed unused fields
  extensions/portuguese-primeira-liga/CHANGELOG.md
  extensions/portuguese-primeira-liga/package-lock.json
  extensions/portuguese-primeira-liga/package.json
  extensions/portuguese-primeira-liga/src/hooks/useNewspapers.ts
  extensions/portuguese-primeira-liga/src/newspapers.tsx
  extensions/portuguese-primeira-liga/src/standings.tsx
  extensions/portuguese-primeira-liga/src/topScorers.tsx
  extensions/portuguese-primeira-liga/src/types/index.ts
Labels: extension fix / improvement, OP is author, extension: portuguese-primeira-liga

#17634 Update Smallweb Extension - Add support for multiple folders/domains
  extensions/smallweb/CHANGELOG.md
  extensions/smallweb/README.md
  extensions/smallweb/metadata/smallweb.png
  extensions/smallweb/package-lock.json
  extensions/smallweb/package.json
  extensions/smallweb/src/app.ts
  extensions/smallweb/src/config.ts
  extensions/smallweb/src/hooks.ts
  extensions/smallweb/src/open-app.tsx
  extensions/smallweb/src/pinned.ts
  extensions/smallweb/src/search-apps.tsx
Labels: extension fix / improvement, OP is author, extension: smallweb

#17616 Update trek extension
  extensions/trek/CHANGELOG.md
  extensions/trek/README.md
  extensions/trek/metadata/trek-1.png
  extensions/trek/metadata/trek-2.png
  extensions/trek/metadata/trek-3.png
  extensions/trek/metadata/trek-4.png
  extensions/trek/package-lock.json
  extensions/trek/package.json
  extensions/trek/src/components/AccountsList.tsx
  extensions/trek/src/components/CreateTodoForm.tsx
  extensions/trek/src/components/CreateTodoSelectListForm.tsx
  extensions/trek/src/components/ProjectsList.tsx
  extensions/trek/src/components/ScheduleMeetingForm.tsx
  extensions/trek/src/components/TodoComments.tsx
  extensions/trek/src/components/TodoListsList.tsx
  extensions/trek/src/components/TodosList.tsx
  extensions/trek/src/create-todo-default-list.tsx
  extensions/trek/src/create-todo.tsx
  extensions/trek/src/oauth/auth.tsx
  extensions/trek/src/quick-create-todo.tsx
  extensions/trek/src/schedule-meeting.tsx
  extensions/trek/src/utils/cache.ts
  extensions/trek/src/utils/types.ts
  extensions/trek/src/view-all-basecamps.tsx
Labels: extension fix / improvement, OP is author, extension: trek

#17445 [Open Link in Browser] Add new command: Open selected text in default browser
  extensions/open-link-in-specific-browser/CHANGELOG.md
  extensions/open-link-in-specific-browser/README.md
  extensions/open-link-in-specific-browser/assets/open-selected.png
  extensions/open-link-in-specific-browser/package-lock.json
  extensions/open-link-in-specific-browser/package.json
  extensions/open-link-in-specific-browser/src/open-selected-link.tsx
Labels: extension fix / improvement, extension: open-link-in-specific-browser

#17428 Add Mood Tracker extension
  extensions/mood/.eslintrc.json
  extensions/mood/.gitignore
  extensions/mood/.prettierrc
  extensions/mood/CHANGELOG.md
  extensions/mood/README.md
  extensions/mood/assets/extension-icon.png
  extensions/mood/metadata/mood-1.png
  extensions/mood/metadata/mood-2.png
  extensions/mood/metadata/mood-3.png
  extensions/mood/metadata/mood-4.png
  extensions/mood/package-lock.json
  extensions/mood/package.json
  extensions/mood/src/lib/charts.ts
  extensions/mood/src/lib/data.ts
  extensions/mood/src/record-mood.tsx
  extensions/mood/src/search-moods.tsx
  extensions/mood/src/tools/get-moods.ts
  extensions/mood/src/view-charts.tsx
  extensions/mood/tsconfig.json
Labels: new extension

#17640 Slack: Retry to auth if some scopes are missing
  extensions/slack/src/tools/set-status.ts
Labels: extension fix / improvement, extension: slack

#17714 [Video Downloader] Rename extension folder and handle to `video-downloader`
  extensions/video-downloader/.eslintrc.json
  extensions/video-downloader/.gitignore
  extensions/video-downloader/.prettierrc
  extensions/video-downloader/CHANGELOG.md
  extensions/video-downloader/README.md
  extensions/video-downloader/assets/youtube.png
  extensions/video-downloader/metadata/video-downloader-1.png
  extensions/video-downloader/package-lock.json
  extensions/video-downloader/package.json
  extensions/video-downloader/src/index.tsx
  extensions/video-downloader/src/tools/download-video.ts
  extensions/video-downloader/src/tools/extract-transcript.ts
  extensions/video-downloader/src/transcript.ts
  extensions/video-downloader/src/types.ts
  extensions/video-downloader/src/utils.ts
  extensions/video-downloader/src/views/installer.tsx
  extensions/video-downloader/src/views/updater.tsx
  extensions/video-downloader/tsconfig.json
Labels: new extension

#17328 Add fingertip extension
  extensions/fingertip/.eslintrc.json
  extensions/fingertip/.gitignore
  extensions/fingertip/.prettierrc
  extensions/fingertip/CHANGELOG.md
  extensions/fingertip/README.md
  extensions/fingertip/assets/extension-icon.png
  extensions/fingertip/metadata/meta1.png
  extensions/fingertip/metadata/meta2.png
  extensions/fingertip/package-lock.json
  extensions/fingertip/package.json
  extensions/fingertip/src/create-site.tsx
  extensions/fingertip/src/search-sites.tsx
  extensions/fingertip/tsconfig.json
Labels: new extension

#17294 Add v2raya-control extension
  extensions/v2raya-control/.eslintrc.json
  extensions/v2raya-control/.gitignore
  extensions/v2raya-control/.prettierrc
  extensions/v2raya-control/CHANGELOG.md
  extensions/v2raya-control/LICENSE.md
  extensions/v2raya-control/README.md
  extensions/v2raya-control/assets/extension-icon.png
  extensions/v2raya-control/package-lock.json
  extensions/v2raya-control/package.json
  extensions/v2raya-control/src/status.ts
  extensions/v2raya-control/src/toggle.ts
  extensions/v2raya-control/src/utils.ts
  extensions/v2raya-control/tsconfig.json
Labels: new extension

#17267 Add support for Tokyo region
  extensions/resend/CHANGELOG.md
  extensions/resend/assets/jp.svg
  extensions/resend/src/domains.tsx
  extensions/resend/src/utils/constants.ts
  extensions/resend/src/utils/types.ts
Labels: extension fix / improvement, status: awaiting response from dev, OP is contributor, extension: resend

#16790 Update obsidian-smart-capture extension
  extensions/obsidian-smart-capture/CHANGELOG.md
  extensions/obsidian-smart-capture/package-lock.json
  extensions/obsidian-smart-capture/package.json
  extensions/obsidian-smart-capture/src/capture.tsx
  extensions/obsidian-smart-capture/src/components/VaultSelection.tsx
  extensions/obsidian-smart-capture/src/utils/actions.tsx
  extensions/obsidian-smart-capture/src/utils/constants.tsx
  extensions/obsidian-smart-capture/src/utils/search.tsx
  extensions/obsidian-smart-capture/src/utils/utils.tsx
Labels: extension fix / improvement, extension: obsidian-smart-capture

#17659 Add Remote Project support for zed-recent-projects extension
  extensions/zed-recent-projects/CHANGELOG.md
  extensions/zed-recent-projects/assets/remote.svg
  extensions/zed-recent-projects/package.json
  extensions/zed-recent-projects/src/hooks/useVsCodeEntries.ts
  extensions/zed-recent-projects/src/lib/entry.ts
  extensions/zed-recent-projects/src/lib/zedEntries.ts
  extensions/zed-recent-projects/src/search.tsx
Labels: extension fix / improvement, extension: zed-recent-projects

#17669 Update curl extension: add jsonpath copy result feature
  extensions/curl/CHANGELOG.md
  extensions/curl/package-lock.json
  extensions/curl/package.json
  extensions/curl/src/requests.tsx
  extensions/curl/src/views/Form.tsx
  extensions/curl/src/views/RequestDetails.tsx
  extensions/curl/src/views/Result.tsx
Labels: extension fix / improvement, OP is contributor, extension: curl

#17715 Update CHANGELOG.md
  extensions/video-downloader/CHANGELOG.md
Labels: extension fix / improvement, OP is contributor, extension: video-downloader

#17658 Add html-colors extension
  extensions/html-colors/.cursor/rules/knowledge.mdc
  extensions/html-colors/.cursor/rules/project.mdc
  extensions/html-colors/.cursor/rules/purpose.mdc
  extensions/html-colors/.cursor/rules/style.mdc
  extensions/html-colors/.eslintrc.json
  extensions/html-colors/.gitignore
  extensions/html-colors/.prettierrc
  extensions/html-colors/CHANGELOG.md
  extensions/html-colors/README.md
  extensions/html-colors/assets/icon.png
  extensions/html-colors/metadata/html-colors-1.png
  extensions/html-colors/metadata/html-colors-2.png
  extensions/html-colors/package-lock.json
  extensions/html-colors/package.json
  extensions/html-colors/src/components/color-list-item-actions.tsx
  extensions/html-colors/src/components/color-list-item-detail.tsx
  extensions/html-colors/src/components/color-list-item.tsx
  extensions/html-colors/src/constants.ts
  extensions/html-colors/src/html-color.tsx
  extensions/html-colors/src/types.ts
  extensions/html-colors/src/utils/color-utils.ts
  extensions/html-colors/src/utils/search-utils.ts
  extensions/html-colors/tsconfig.json
Labels: new extension

#16958 Update zen-browser extension
  extensions/zen-browser/CHANGELOG.md
  extensions/zen-browser/package.json
  extensions/zen-browser/src/actions/index.ts
  extensions/zen-browser/src/util/index.ts
Labels: extension fix / improvement, status: awaiting response from dev, extension: zen-browser

#17570 Update homeassistant extension
  extensions/homeassistant/CHANGELOG.md
  extensions/homeassistant/package.json
  extensions/homeassistant/src/components/state/list.tsx
  extensions/homeassistant/src/customentities.tsx
Labels: extension fix / improvement, extension: homeassistant

#17593 Update color-picker extension
  extensions/color-picker/CHANGELOG.md
  extensions/color-picker/package.json
  extensions/color-picker/src/components/ColorConvert.tsx
  extensions/color-picker/src/convert-color.tsx
  extensions/color-picker/src/types.ts
  extensions/color-picker/src/utils.ts
Labels: extension fix / improvement, OP is contributor, extension: color-picker

#16931 Add privatebin extension
  extensions/privatebin/.eslintrc.json
  extensions/privatebin/.gitignore
  extensions/privatebin/.prettierrc
  extensions/privatebin/CHANGELOG.md
  extensions/privatebin/README.md
  extensions/privatebin/assets/extension_icon.png
  extensions/privatebin/media/logo.svg
  extensions/privatebin/metadata/privatebin-1.png
  extensions/privatebin/package-lock.json
  extensions/privatebin/package.json
  extensions/privatebin/src/create.tsx
  extensions/privatebin/src/lib/privatebin.ts
  extensions/privatebin/src/lib/tools.ts
  extensions/privatebin/tsconfig.json
Labels: new extension

#17236 Update advanced-replace extension
  extensions/advanced-replace/CHANGELOG.md
  extensions/advanced-replace/metadata/advanced-replace-1.png
  extensions/advanced-replace/metadata/advanced-replace-2.png
  extensions/advanced-replace/metadata/advanced-replace-3.png
  extensions/advanced-replace/src/advanced-replace.tsx
  extensions/advanced-replace/src/components/EntryForm.tsx
  extensions/advanced-replace/src/components/FormCutPaste.tsx
  extensions/advanced-replace/src/components/FormDirectReplace.tsx
  extensions/advanced-replace/src/types.ts
  extensions/advanced-replace/src/utilities/replacements.ts
  extensions/advanced-replace/src/utilities/storage.ts
Labels: extension fix / improvement, OP is author, extension: advanced-replace

#17680 Update at-profile extension
  extensions/at-profile/.gitignore
  extensions/at-profile/CHANGELOG.md
  extensions/at-profile/package-lock.json
  extensions/at-profile/package.json
  extensions/at-profile/src/sites.ts
  extensions/at-profile/src/tools/open.ts
Labels: extension fix / improvement, extension: at-profile

#17480 Add swap-commas-dots extension
  extensions/swap-commas-dots/.eslintrc.json
  extensions/swap-commas-dots/.gitignore
  extensions/swap-commas-dots/.prettierrc
  extensions/swap-commas-dots/CHANGELOG.md
  extensions/swap-commas-dots/README.md
  extensions/swap-commas-dots/assets/extension-icon.png
  extensions/swap-commas-dots/jest.config.js
  extensions/swap-commas-dots/package-lock.json
  extensions/swap-commas-dots/package.json
  extensions/swap-commas-dots/src/swap-commas-dots.ts
  extensions/swap-commas-dots/src/utils.ts
  extensions/swap-commas-dots/tests/utils.test.ts
  extensions/swap-commas-dots/tsconfig.json
Labels: new extension

#17733 Update media-converter extension
  extensions/media-converter/CHANGELOG.md
  extensions/media-converter/README.md
  extensions/media-converter/metadata/media-converter-5.png
  extensions/media-converter/metadata/media-converter-6.png
  extensions/media-converter/metadata/media-converter-7.png
  extensions/media-converter/package.json
Labels: extension fix / improvement, OP is author, extension: media-converter

#17726 Update music extension
  extensions/music/CHANGELOG.md
  extensions/music/package.json
  extensions/music/src/set-rating.tsx
Labels: extension fix / improvement, extension: music

#17734 github: fix label typo
  extensions/github/CHANGELOG.md
  extensions/github/package.json
Labels: extension fix / improvement, OP is contributor, extension: github

#17663 Update Iconify Extension
  extensions/iconify/.eslintrc.json
  extensions/iconify/.gitignore
  extensions/iconify/.prettierrc
  extensions/iconify/.prettierrc.json
  extensions/iconify/CHANGELOG.md
  extensions/iconify/package-lock.json
  extensions/iconify/package.json
  extensions/iconify/src/search-icons.tsx
  extensions/iconify/src/service.ts
  extensions/iconify/src/types/perferenceValues.ts
  extensions/iconify/src/utils.ts
  extensions/iconify/src/view-icons.tsx
  extensions/iconify/tsconfig.json
Labels: extension fix / improvement, extension: iconify

#17661 Remove throttling on google maps search
  extensions/google-maps-search/CHANGELOG.md
  extensions/google-maps-search/src/find.tsx
Labels: extension fix / improvement, extension: google-maps-search

#17650 Update README.md
  extensions/raycast-port/CHANGELOG.md
  extensions/raycast-port/docs/README.md
Labels: extension fix / improvement, extension: raycast-port

#17656 Update linkwarden extension
  extensions/linkwarden/CHANGELOG.md
  extensions/linkwarden/src/add.tsx
  extensions/linkwarden/src/search.tsx
Labels: extension fix / improvement, OP is author, extension: linkwarden

#17333 Added contributor for claude
  extensions/claude/CHANGELOG.md
  extensions/claude/package.json
Labels: extension fix / improvement, extension: claude

#17741 Update system-monitor extension
  extensions/system-monitor/CHANGELOG.md
  extensions/system-monitor/package.json
  extensions/system-monitor/src/components/Actions.tsx
  extensions/system-monitor/src/menubar-system-monitor.tsx
  extensions/system-monitor/src/utils.ts
Labels: extension fix / improvement, OP is contributor, extension: system-monitor

#17690 Ext/deepseeker - March Updates
  extensions/deepseeker/CHANGELOG.md
  extensions/deepseeker/README.md
  extensions/deepseeker/metadata/deepseeker-6.png
  extensions/deepseeker/package.json
  extensions/deepseeker/src/api.ts
  extensions/deepseeker/src/ask.tsx
  extensions/deepseeker/src/ask_on.tsx
  extensions/deepseeker/src/common.tsx
  extensions/deepseeker/src/customa.tsx
  extensions/deepseeker/src/customb.tsx
  extensions/deepseeker/src/execute.tsx
  extensions/deepseeker/src/fix.tsx
  extensions/deepseeker/src/history.tsx
  extensions/deepseeker/src/rephrase.tsx
  extensions/deepseeker/src/summarize.tsx
  extensions/deepseeker/src/translate.tsx
  extensions/deepseeker/src/util.ts
  extensions/deepseeker/src/what.tsx
  extensions/deepseeker/src/why.tsx
Labels: extension fix / improvement, OP is author, extension: deepseeker

#17327 [github] add repository filter to my pull request menu bar and unread notifications
  extensions/github/CHANGELOG.md
  extensions/github/package.json
  extensions/github/src/my-pull-requests-menu.tsx
  extensions/github/src/unread-notifications.tsx
Labels: extension fix / improvement, extension: github

#17743 Update Linear Search Issues API
  extensions/linear/CHANGELOG.md
  extensions/linear/src/api/getIssues.ts
Labels: extension fix / improvement, OP is contributor, extension: linear

#17394 Update doccheck extension
  extensions/doccheck/CHANGELOG.md
  extensions/doccheck/package.json
  extensions/doccheck/src/doccheck-flexikon.tsx
  extensions/doccheck/src/doccheck-page.tsx
Labels: extension fix / improvement, extension: doccheck

#17522 Update multi-force extension
  extensions/multi-force/CHANGELOG.md
  extensions/multi-force/metadata/multi-force-1-min.png
  extensions/multi-force/metadata/multi-force-2-min.png
  extensions/multi-force/metadata/multi-force-5-min.png
  extensions/multi-force/metadata/multi-force-7-min.png
  extensions/multi-force/src/components/MutiForce.tsx
  extensions/multi-force/src/components/listItems/OrgListItem.tsx
  extensions/multi-force/src/components/pages/DeveloperOrgDetails.tsx
  extensions/multi-force/src/constants/index.ts
  extensions/multi-force/src/types/index.ts
  extensions/multi-force/src/utils/salesforceUtility.ts
Labels: extension fix / improvement, OP is author, extension: multi-force

#17568 Update google-tasks extension
  extensions/google-tasks/.gitignore
  extensions/google-tasks/CHANGELOG.md
  extensions/google-tasks/package.json
  extensions/google-tasks/src/api/endpoints.tsx
Labels: extension fix / improvement, extension: google-tasks

#17377 Add coin-caster extension
  extensions/coin-caster/.eslintrc.json
  extensions/coin-caster/.gitignore
  extensions/coin-caster/.prettierrc
  extensions/coin-caster/CHANGELOG.md
  extensions/coin-caster/README.md
  extensions/coin-caster/assets/coin-caster-logo.png
  extensions/coin-caster/metadata/coin-caster-1.png
  extensions/coin-caster/package-lock.json
  extensions/coin-caster/package.json
  extensions/coin-caster/src/CommandWrapper.tsx
  extensions/coin-caster/src/constants.ts
  extensions/coin-caster/src/get-chart-data-url.tsx
  extensions/coin-caster/src/index.d.ts
  extensions/coin-caster/src/token-prices.tsx
  extensions/coin-caster/src/useChart.ts
  extensions/coin-caster/src/useCoins.tsx
  extensions/coin-caster/src/useSymbols.ts
  extensions/coin-caster/src/useTokenPrice.ts
  extensions/coin-caster/src/useTokenPrices.ts
  extensions/coin-caster/src/useWatchlist.ts
  extensions/coin-caster/src/utilities.ts
  extensions/coin-caster/tsconfig.json
Labels: new extension

#17129 Add solana-wallets-generation extension
  extensions/solana-wallets-generation/.eslintrc.json
  extensions/solana-wallets-generation/.gitignore
  extensions/solana-wallets-generation/.prettierrc
  extensions/solana-wallets-generation/CHANGELOG.md
  extensions/solana-wallets-generation/LICENSE
  extensions/solana-wallets-generation/README.md
  extensions/solana-wallets-generation/assets/extension_icon.png
  extensions/solana-wallets-generation/metadata/1.png
  extensions/solana-wallets-generation/metadata/2.png
  extensions/solana-wallets-generation/metadata/3.png
  extensions/solana-wallets-generation/package-lock.json
  extensions/solana-wallets-generation/package.json
  extensions/solana-wallets-generation/src/swg.tsx
  extensions/solana-wallets-generation/tsconfig.json
Labels: new extension

#17716 Add ultrahuman extension
  extensions/ultrahuman/.eslintrc.json
  extensions/ultrahuman/.gitignore
  extensions/ultrahuman/.prettierrc
  extensions/ultrahuman/CHANGELOG.md
  extensions/ultrahuman/README.md
  extensions/ultrahuman/assets/extension-icon.png
  extensions/ultrahuman/metadata/ultrahuman-1.png
  extensions/ultrahuman/metadata/ultrahuman-2.png
  extensions/ultrahuman/metadata/ultrahuman-3.png
  extensions/ultrahuman/metadata/ultrahuman-4.png
  extensions/ultrahuman/package-lock.json
  extensions/ultrahuman/package.json
  extensions/ultrahuman/src/components/LoadingItem.tsx
  extensions/ultrahuman/src/ultrahuman-sleep.tsx
  extensions/ultrahuman/src/ultrahuman-summary-yesterday.tsx
  extensions/ultrahuman/src/ultrahuman-summary.tsx
  extensions/ultrahuman/src/unauthorized.tsx
  extensions/ultrahuman/src/utils/api.ts
  extensions/ultrahuman/src/utils/types.ts
  extensions/ultrahuman/tsconfig.json
Labels: new extension

#17760 Update `Netlify` extension - ✨AI: Add tools to View Env & DNS Records
  extensions/netlify/CHANGELOG.md
  extensions/netlify/package-lock.json
  extensions/netlify/package.json
  extensions/netlify/src/components/dns/create-dns-records.tsx
  extensions/netlify/src/tools/get-dns-records.ts
  extensions/netlify/src/tools/get-environment-variables.ts
Labels: extension fix / improvement, OP is contributor, extension: netlify

#17759 Unread menubar list
  extensions/gmail/CHANGELOG.md
  extensions/gmail/src/unreadmailsmenu.tsx
Labels: extension fix / improvement, extension: gmail

#17698 Update sportssync extension
  extensions/sportssync/CHANGELOG.md
  extensions/sportssync/README.md
  extensions/sportssync/src/basketball-news.tsx
  extensions/sportssync/src/basketball-scores-and-schedule.tsx
  extensions/sportssync/src/basketball-standings.tsx
  extensions/sportssync/src/college-basketball-news.tsx
  extensions/sportssync/src/college-basketball.tsx
  extensions/sportssync/src/f1-news.tsx
  extensions/sportssync/src/f1-results-and-schedule.tsx
  extensions/sportssync/src/f1-standings.tsx
  extensions/sportssync/src/football-news.tsx
  extensions/sportssync/src/football-scores-and-schedule.tsx
  extensions/sportssync/src/football-standings.tsx
  extensions/sportssync/src/mlb-news.tsx
  extensions/sportssync/src/mlb-scores-and-schedule.tsx
  extensions/sportssync/src/mlb-standings.tsx
  extensions/sportssync/src/nhl-news.tsx
  extensions/sportssync/src/nhl-scores-and-schedule.tsx
  extensions/sportssync/src/nhl-standings.tsx
  extensions/sportssync/src/soccer-news.tsx
  extensions/sportssync/src/soccer-scores-and-schedule.tsx
  extensions/sportssync/src/soccer-standings.tsx
  extensions/sportssync/src/utils/getDateRange.ts
Labels: extension fix / improvement, OP is author, extension: sportssync

#17762 update: Ext/gemini/feat/history
  extensions/raycast-gemini/CHANGELOG.md
  extensions/raycast-gemini/package-lock.json
  extensions/raycast-gemini/package.json
  extensions/raycast-gemini/src/api/gemini.jsx
  extensions/raycast-gemini/src/api/useCommandHistory.jsx
  extensions/raycast-gemini/src/history.jsx
Labels: extension fix / improvement, OP is contributor, extension: raycast-gemini

#17779 Update mullvad extension
  extensions/mullvad/CHANGELOG.md
  extensions/mullvad/package.json
  extensions/mullvad/src/RankingCache.ts
Labels: extension fix / improvement, OP is contributor, extension: mullvad

#17777 Update scrcpy extension
  extensions/scrcpy/CHANGELOG.md
  extensions/scrcpy/src/index.tsx
Labels: extension fix / improvement, OP is author, extension: scrcpy

#17758 Update keepassxc extension
  .github/raycast2github.json
  extensions/keepassxc/.gitignore
  extensions/keepassxc/CHANGELOG.md
  extensions/keepassxc/README.md
  extensions/keepassxc/metadata/keepassxc-3.png
  extensions/keepassxc/package-lock.json
  extensions/keepassxc/package.json
  extensions/keepassxc/src/components/unlock-database.tsx
  extensions/keepassxc/src/utils/keepass-loader.ts
Labels: extension fix / improvement, extension: keepassxc

#17575 Add gmail-accounts extension
  extensions/gmail-accounts/.eslintrc.json
  extensions/gmail-accounts/.gitignore
  extensions/gmail-accounts/.prettierrc
  extensions/gmail-accounts/CHANGELOG.md
  extensions/gmail-accounts/README.md
  extensions/gmail-accounts/assets/gmail.png
  extensions/gmail-accounts/metadata/gmail-accounts-1.png
  extensions/gmail-accounts/package-lock.json
  extensions/gmail-accounts/package.json
  extensions/gmail-accounts/src/gmail.ts
  extensions/gmail-accounts/src/list-accounts.tsx
  extensions/gmail-accounts/src/pinned.tsx
  extensions/gmail-accounts/tsconfig.json
Labels: new extension

#17583 Update drafts extension
  extensions/drafts/CHANGELOG.md
  extensions/drafts/src/capture.tsx
Labels: extension fix / improvement, OP is contributor, extension: drafts

#16525 Add intermittent-fasting extension
  extensions/intermittent-fasting/.eslintrc.json
  extensions/intermittent-fasting/.gitignore
  extensions/intermittent-fasting/.prettierrc
  extensions/intermittent-fasting/CHANGELOG.md
  extensions/intermittent-fasting/README.md
  extensions/intermittent-fasting/assets/icon.png
  extensions/intermittent-fasting/metadata/intermittent-fasting-1.png
  extensions/intermittent-fasting/metadata/intermittent-fasting-2.png
  extensions/intermittent-fasting/metadata/intermittent-fasting-3.png
  extensions/intermittent-fasting/metadata/intermittent-fasting-4.png
  extensions/intermittent-fasting/metadata/intermittent-fasting-5.png
  extensions/intermittent-fasting/package-lock.json
  extensions/intermittent-fasting/package.json
  extensions/intermittent-fasting/src/components/EatingView.tsx
  extensions/intermittent-fasting/src/components/EditTimerForm.tsx
  extensions/intermittent-fasting/src/components/EmptyView.tsx
  extensions/intermittent-fasting/src/components/FastingView.tsx
  extensions/intermittent-fasting/src/components/HistoryView.tsx
  extensions/intermittent-fasting/src/components/ImportExport.tsx
  extensions/intermittent-fasting/src/components/ListItem.tsx
  extensions/intermittent-fasting/src/components/actions/deleteFasting.tsx
  extensions/intermittent-fasting/src/components/actions/editFasting.tsx
  extensions/intermittent-fasting/src/components/actions/startFasting.tsx
  extensions/intermittent-fasting/src/components/actions/stopFasting.tsx
  extensions/intermittent-fasting/src/components/actions/viewHistory.tsx
  extensions/intermittent-fasting/src/constants.ts
  extensions/intermittent-fasting/src/intermittent-fasting.tsx
  extensions/intermittent-fasting/src/menubar.tsx
  extensions/intermittent-fasting/src/storage.ts
  extensions/intermittent-fasting/src/types.ts
  extensions/intermittent-fasting/src/utils.ts
  extensions/intermittent-fasting/tsconfig.json
Labels: new extension

#17592 Update `Confluence` extension - Modernize Extension (`usePromise` hooks) + Fix People Panel failing
  extensions/confluence-search/.eslintrc.json
  extensions/confluence-search/.gitignore
  extensions/confluence-search/CHANGELOG.md
  extensions/confluence-search/package-lock.json
  extensions/confluence-search/package.json
  extensions/confluence-search/src/api/confluence.tsx
  extensions/confluence-search/src/api/graphql/graphql.tsx
  extensions/confluence-search/src/api/oauth.tsx
  extensions/confluence-search/src/api/util.tsx
  extensions/confluence-search/src/go.tsx
  extensions/confluence-search/src/new-blog.tsx
  extensions/confluence-search/src/new-page.tsx
  extensions/confluence-search/src/people.tsx
  extensions/confluence-search/src/popular.tsx
  extensions/confluence-search/src/recent.tsx
  extensions/confluence-search/src/search.tsx
  extensions/confluence-search/src/switch-site.tsx
  extensions/confluence-search/src/util/AuthenticatedCommandContainer.tsx
  extensions/confluence-search/src/util/fetchPolyfill.ts
  extensions/confluence-search/tsconfig.json
Labels: extension fix / improvement, extension: confluence-search

#17781 Update keepassxc extension
  extensions/keepassxc/CHANGELOG.md
  extensions/keepassxc/README.md
Labels: extension fix / improvement, OP is author, extension: keepassxc

#17736 Update dub extension
  extensions/dub/CHANGELOG.md
  extensions/dub/package.json
  extensions/dub/src/hooks/use-short-links.ts
  extensions/dub/src/search-links.tsx
Labels: extension fix / improvement, extension: dub

#17429 Update `Vercast` extension - update components + proper handling when token invalid
  extensions/vercast/CHANGELOG.md
  extensions/vercast/assets/next-js.svg
  extensions/vercast/assets/turbo.svg
  extensions/vercast/assets/v0.png
  extensions/vercast/assets/v0@dark.png
  extensions/vercast/metadata/vercast-4.png
  extensions/vercast/package-lock.json
  extensions/vercast/package.json
  extensions/vercast/src/pages/details/invalid-token-view.tsx
  extensions/vercast/src/pages/with-valid-token.tsx
  extensions/vercast/src/search-components.tsx
  extensions/vercast/src/search-deployments.tsx
  extensions/vercast/src/search-domains.tsx
  extensions/vercast/src/search-projects.tsx
  extensions/vercast/src/utils/is-valid-token.ts
  extensions/vercast/tsconfig.json
Labels: extension fix / improvement, OP is contributor, extension: vercast

#17713 Update `Lenscast` extension - Modernize + Update URLs & API Endpoint (fix not loading) + chore
  extensions/lenscast/.eslintrc.json
  extensions/lenscast/.gitignore
  extensions/lenscast/CHANGELOG.md
  extensions/lenscast/package-lock.json
  extensions/lenscast/package.json
  extensions/lenscast/src/lib/apollo.ts
  extensions/lenscast/src/lib/fetchProfileSuggestions.ts
  extensions/lenscast/src/lib/fetchPublications.ts
  extensions/lenscast/src/profiles.tsx
  extensions/lenscast/src/types.ts
  extensions/lenscast/tsconfig.json
Labels: extension fix / improvement, extension: lenscast

#17438 Update hubspot extension
  extensions/hubspot/CHANGELOG.md
  extensions/hubspot/package.json
  extensions/hubspot/src/companies.tsx
  extensions/hubspot/src/hooks/useCompanies.ts
  extensions/hubspot/src/types/company.ts
Labels: extension fix / improvement, OP is contributor, extension: hubspot

#17626 Update readwise-reader extension: add category filter to list documents
  extensions/readwise-reader/CHANGELOG.md
  extensions/readwise-reader/assets/pdf-dark.svg
  extensions/readwise-reader/assets/pdf-light.svg
  extensions/readwise-reader/package.json
  extensions/readwise-reader/src/api/list.ts
  extensions/readwise-reader/src/list-documents.tsx
  extensions/readwise-reader/src/utils/category.ts
  extensions/readwise-reader/src/utils/titlecase.ts
Labels: extension fix / improvement, extension: readwise-reader

#17783 Update docker extension
  extensions/docker/.gitignore
  extensions/docker/CHANGELOG.md
  extensions/docker/package.json
  extensions/docker/src/projects_list.tsx
Labels: extension fix / improvement, extension: docker

#17653 Add `Namecheap` extension - View domains in your account + View Domain DNS Servers + View Domain DNS Hosts
  extensions/namecheap/.eslintrc.json
  extensions/namecheap/.gitignore
  extensions/namecheap/.prettierrc
  extensions/namecheap/CHANGELOG.md
  extensions/namecheap/README.md
  extensions/namecheap/assets/namecheap.png
  extensions/namecheap/metadata/namecheap-1.png
  extensions/namecheap/metadata/namecheap-2.png
  extensions/namecheap/metadata/namecheap-3.png
  extensions/namecheap/package-lock.json
  extensions/namecheap/package.json
  extensions/namecheap/src/domains.tsx
  extensions/namecheap/src/namecheap.ts
  extensions/namecheap/src/types.ts
  extensions/namecheap/tsconfig.json
Labels: new extension

#17550 New Extension: Github Profile
  extensions/github-profile/.eslintrc.json
  extensions/github-profile/.gitignore
  extensions/github-profile/.prettierrc
  extensions/github-profile/CHANGELOG.md
  extensions/github-profile/README.md
  extensions/github-profile/assets/icon.png
  extensions/github-profile/assets/icon@dark.png
  extensions/github-profile/metadata/github-profile-1.png
  extensions/github-profile/package-lock.json
  extensions/github-profile/package.json
  extensions/github-profile/src/api/github.ts
  extensions/github-profile/src/components/ContributionHeatmap.tsx
  extensions/github-profile/src/components/RepositoryList.tsx
  extensions/github-profile/src/components/UserProfile.tsx
  extensions/github-profile/src/show-github-profile.tsx
  extensions/github-profile/src/utils/contributionUtils.ts
  extensions/github-profile/tsconfig.json
Labels: new extension

#17785 Update custom-folder extension
  extensions/custom-folder/CHANGELOG.md
  extensions/custom-folder/src/replaceFolderIcon.tsx
  extensions/custom-folder/src/resetFolderIcon.tsx
Labels: extension fix / improvement, OP is contributor, extension: custom-folder

#17809 [Raycast Notification] Remove unused files
  extensions/raycast-notification/CHANGELOG.md
  extensions/raycast-notification/assets/prebuilds/mac.noindex/terminal-notifier.app/Contents/_CodeSignature/CodeResources
  extensions/raycast-notification/assets/prebuilds/mac.noindex/terminal-notifier.app/Icon 
Labels: extension fix / improvement, OP is contributor, extension: raycast-notification

#17807 Adding support to move selected items in the finder to a destination folder
  extensions/folder-search/CHANGELOG.md
  extensions/folder-search/README.md
  extensions/folder-search/package.json
  extensions/folder-search/src/components/FolderListSection.tsx
  extensions/folder-search/src/hooks/useFolderSearch.tsx
  extensions/folder-search/src/move.tsx
  extensions/folder-search/src/search.tsx
Labels: extension fix / improvement, OP is contributor, extension: folder-search

#17789 Update mullvad extension
  extensions/mullvad/CHANGELOG.md
  extensions/mullvad/package-lock.json
  extensions/mullvad/src/selectLocation.tsx
Labels: extension fix / improvement, OP is contributor, extension: mullvad

#17805 Update tw-colorsearch extension
  extensions/tw-colorsearch/.eslintrc.json
  extensions/tw-colorsearch/.gitignore
  extensions/tw-colorsearch/CHANGELOG.md
  extensions/tw-colorsearch/package-lock.json
  extensions/tw-colorsearch/package.json
  extensions/tw-colorsearch/src/index.tsx
Labels: extension fix / improvement, extension: tw-colorsearch

#17678 Update pocket extension
  extensions/pocket/CHANGELOG.md
  extensions/pocket/src/lib/api.ts
Labels: extension fix / improvement, OP is contributor, extension: pocket

#17646 Update ghostty extension
  extensions/ghostty/CHANGELOG.md
  extensions/ghostty/package.json
  extensions/ghostty/src/open-with-ghostty.ts
  extensions/ghostty/src/utils/scripts.ts
Labels: extension fix / improvement, extension: ghostty

#17815 [Daminik] 'copy' action + chore: update ray deps
  extensions/daminik/CHANGELOG.md
  extensions/daminik/metadata/daminik-1.png
  extensions/daminik/package-lock.json
  extensions/daminik/package.json
  extensions/daminik/src/assets.tsx
Labels: extension fix / improvement, OP is author, extension: daminik

#17609 AI Extensions: Migrate contexts beta extension
  extensions/contexts/.eslintrc.json
  extensions/contexts/.gitignore
  extensions/contexts/.prettierrc
  extensions/contexts/CHANGELOG.md
  extensions/contexts/README.md
  extensions/contexts/assets/iconic.png
  extensions/contexts/metadata/contexts-1.png
  extensions/contexts/metadata/contexts-2.png
  extensions/contexts/metadata/contexts-3.png
  extensions/contexts/metadata/contexts-4.png
  extensions/contexts/package-lock.json
  extensions/contexts/package.json
  extensions/contexts/src/append-to-context.tsx
  extensions/contexts/src/create-new-context.ts
  extensions/contexts/src/tools/append-to-context.ts
  extensions/contexts/src/tools/create-context.ts
  extensions/contexts/src/tools/delete-context.ts
  extensions/contexts/src/tools/get-context.ts
  extensions/contexts/src/tools/list-contexts.ts
  extensions/contexts/src/tools/rename-context.ts
  extensions/contexts/tsconfig.json
Labels: new extension, AI Extension

#17608 AI Extensions: Migrate code-execution beta extension
  extensions/code-execution/.eslintrc.json
  extensions/code-execution/.gitignore
  extensions/code-execution/.prettierrc
  extensions/code-execution/CHANGELOG.md
  extensions/code-execution/README.md
  extensions/code-execution/assets/apple-logo.png
  extensions/code-execution/assets/code-execution.png
  extensions/code-execution/assets/command-logo.png
  extensions/code-execution/assets/python-logo.png
  extensions/code-execution/metadata/code-execution-1.png
  extensions/code-execution/metadata/code-execution-2.png
  extensions/code-execution/metadata/code-execution-3.png
  extensions/code-execution/package-lock.json
  extensions/code-execution/package.json
  extensions/code-execution/src/run-shell-command.js
  extensions/code-execution/src/tools/run-applescript.ts
  extensions/code-execution/src/tools/run-bash.ts
  extensions/code-execution/src/tools/run-python.ts
  extensions/code-execution/tsconfig.json
Labels: new extension, AI Extension

#17606 AI Extensions: Migrate memory beta extension
  extensions/memory/.eslintrc.json
  extensions/memory/.gitignore
  extensions/memory/.prettierrc
  extensions/memory/CHANGELOG.md
  extensions/memory/README.md
  extensions/memory/assets/memory.png
  extensions/memory/package-lock.json
  extensions/memory/package.json
  extensions/memory/src/knowledge-graph-manager.ts
  extensions/memory/src/tools/add-observations.ts
  extensions/memory/src/tools/create-entities.ts
  extensions/memory/src/tools/create-relations.ts
  extensions/memory/src/tools/delete-entities.ts
  extensions/memory/src/tools/delete-observations.ts
  extensions/memory/src/tools/delete-relations.ts
  extensions/memory/src/tools/open-nodes.ts
  extensions/memory/src/tools/read-graph.ts
  extensions/memory/src/tools/search-nodes.ts
  extensions/memory/src/view-memory.tsx
  extensions/memory/tsconfig.json
Labels: new extension, AI Extension

#17607 AI Extensions: Migrate app-creator beta extension
  extensions/app-creator/.eslintrc.json
  extensions/app-creator/.gitignore
  extensions/app-creator/.prettierrc
  extensions/app-creator/CHANGELOG.md
  extensions/app-creator/README.md
  extensions/app-creator/assets/app-creator.png
  extensions/app-creator/metadata/app-creator-1.png
  extensions/app-creator/metadata/app-creator-2.png
  extensions/app-creator/package-lock.json
  extensions/app-creator/package.json
  extensions/app-creator/src/list-apps.tsx
  extensions/app-creator/src/tools/create.ts
  extensions/app-creator/tsconfig.json
Labels: new extension, AI Extension

#17604 AI Extensions: Migrate deep-research beta extension
  extensions/deep-research/.eslintrc.json
  extensions/deep-research/.gitignore
  extensions/deep-research/.prettierrc
  extensions/deep-research/CHANGELOG.md
  extensions/deep-research/README.md
  extensions/deep-research/assets/deep-research-icon.png
  extensions/deep-research/package-lock.json
  extensions/deep-research/package.json
  extensions/deep-research/src/browse-research-topics.tsx
  extensions/deep-research/src/tools/research.ts
  extensions/deep-research/tsconfig.json
Labels: new extension, AI Extension

#17605 AI Extensions: Migrate duck-facts beta extension
  extensions/duck-facts/CHANGELOG.md
  extensions/duck-facts/README.md
  extensions/duck-facts/package-lock.json
  extensions/duck-facts/package.json
  extensions/duck-facts/src/index.tsx
  extensions/duck-facts/src/tools/generate-fact.ts
Labels: extension fix / improvement, AI Extension, extension: duck-facts

#17814 Add vuetify-docs extension
  extensions/vuetify-docs/.eslintrc.json
  extensions/vuetify-docs/.gitignore
  extensions/vuetify-docs/.prettierrc
  extensions/vuetify-docs/CHANGELOG.md
  extensions/vuetify-docs/README.md
  extensions/vuetify-docs/assets/v-logo.png
  extensions/vuetify-docs/metadata/vuetify-docs-1.png
  extensions/vuetify-docs/metadata/vuetify-docs-2.png
  extensions/vuetify-docs/package-lock.json
  extensions/vuetify-docs/package.json
  extensions/vuetify-docs/src/components.ts
  extensions/vuetify-docs/src/open-docs.tsx
  extensions/vuetify-docs/src/search-components.tsx
  extensions/vuetify-docs/src/search-documentation.tsx
  extensions/vuetify-docs/src/sections.ts
  extensions/vuetify-docs/src/types.ts
  extensions/vuetify-docs/tsconfig.json
Labels: new extension

#17555 Add webdav-uploader extension
  extensions/webdav-uploader/.eslintrc.json
  extensions/webdav-uploader/.gitignore
  extensions/webdav-uploader/.prettierrc
  extensions/webdav-uploader/CHANGELOG.md
  extensions/webdav-uploader/README.md
  extensions/webdav-uploader/assets/extension-icon.png
  extensions/webdav-uploader/metadata/1.upload-files.png
  extensions/webdav-uploader/package-lock.json
  extensions/webdav-uploader/package.json
  extensions/webdav-uploader/src/upload-from-the-clipboard.ts
  extensions/webdav-uploader/tsconfig.json
Labels: new extension

#16755 Add copymoveto extension
  extensions/copymoveto/.eslintrc.json
  extensions/copymoveto/.gitignore
  extensions/copymoveto/.prettierrc
  extensions/copymoveto/CHANGELOG.md
  extensions/copymoveto/License
  extensions/copymoveto/README.md
  extensions/copymoveto/assets/extension-icon.png
  extensions/copymoveto/biome.json
  extensions/copymoveto/metadata/copymoveto-1.png
  extensions/copymoveto/metadata/copymoveto-2.png
  extensions/copymoveto/package-lock.json
  extensions/copymoveto/package.json
  extensions/copymoveto/src/add-new-destination.tsx
  extensions/copymoveto/src/copy-move-to.tsx
  extensions/copymoveto/src/copy-to.tsx
  extensions/copymoveto/src/destination-form.tsx
  extensions/copymoveto/src/move-to.tsx
  extensions/copymoveto/src/repo/destination.ts
  extensions/copymoveto/src/utils/filesystem.ts
  extensions/copymoveto/tsconfig.json
Labels: new extension

#17662 Add notis extension
  extensions/notis/.eslintrc.json
  extensions/notis/.gitignore
  extensions/notis/.prettierrc
  extensions/notis/CHANGELOG.md
  extensions/notis/README.md
  extensions/notis/assets/icon.png
  extensions/notis/assets/icon@dark.png
  extensions/notis/assets/menubar-icon.png
  extensions/notis/metadata/history-view-1.png
  extensions/notis/metadata/send-message-1.png
  extensions/notis/package-lock.json
  extensions/notis/package.json
  extensions/notis/src/history.tsx
  extensions/notis/src/menu-bar-command.tsx
  extensions/notis/src/send-message.tsx
  extensions/notis/tsconfig.json
Labels: new extension

#17836 Update copy-path extension
  extensions/copy-path/CHANGELOG.md
  extensions/copy-path/src/utils/applescript-utils.ts
  extensions/copy-path/src/utils/constants.ts
Labels: extension fix / improvement, OP is contributor, extension: copy-path

#17830 Supahabits/unmark as done habit
  extensions/supahabits/CHANGELOG.md
  extensions/supahabits/src/components/feedback-form.tsx
  extensions/supahabits/src/index.tsx
Labels: extension fix / improvement, OP is author, extension: supahabits

#17844 [Nuxt] Moved to new folder
  extensions/nuxt/.eslintrc.json
  extensions/nuxt/.gitignore
  extensions/nuxt/.prettierrc
  extensions/nuxt/CHANGELOG.md
  extensions/nuxt/README.md
  extensions/nuxt/ai.yaml
  extensions/nuxt/assets/icon.png
  extensions/nuxt/media/banner.png
  extensions/nuxt/media/demo.gif
  extensions/nuxt/metadata/nuxt-ui1.png
  extensions/nuxt/metadata/nuxt-ui2.png
  extensions/nuxt/package-lock.json
  extensions/nuxt/package.json
  extensions/nuxt/renovate.json
  extensions/nuxt/src/components.tsx
  extensions/nuxt/src/search-component-theme.tsx
  extensions/nuxt/src/tools/get-available-components.ts
  extensions/nuxt/src/tools/get-component-source-code.ts
  extensions/nuxt/src/tools/get-component-theme.ts
  extensions/nuxt/src/tools/get-nuxt-ui-documentation.ts
  extensions/nuxt/tsconfig.json
Labels: new extension
